[2021-11-04 15:11] t-vi commented on #10335
The other (not terribly related) thing is the default data dir for pl_examples, but I guess it's better in a separate issue, as it is not obvious where to put it (personally, I'd look at the hub dir - `os.path.join(torch.hub.get_dir(), 'pl_examples')`).

[2021-11-04 16:15] carmocca commented on #10343
cc @ananthsub as I remember you commented once about the default epoch number

[2021-11-04 16:16] rohitgr7 commented on #10349
If you can share the snippet of your dataset that would be great. All we need to know the structure of the batch you get inside your `training_step`.

[2021-11-04 16:22] BttMA commented on #10349
[code]

[code]

[code]

[2021-11-04 16:26] carmocca commented on #10348
We can fix this easily as the error comes from a typing annotation, but we'll also have to add a M1 CI job when it becomes available.

[2021-11-04 17:18] rohitgr7 commented on #10349
The issue might be with comment_text here. Can you print the shape for the all items of the batch passed in the training_step?

[2021-11-04 17:21] srdecny opened #10358 "Fault-tolerant training requires len to be available on all datasets"
## 🐛 Bug

Fault-tolerant training assumes `len` is available on all datasets. [Pytorch's Dataset](https://pytorch.org/docs/1.7.0/_modules/torch/utils/data/dataset.html#Dataset) class does not require to actually implement `__len__`. Per the docs above: "Subclasses could also optionally overwrite :meth:`__len__`". Our dataset subclasses `Dataset`, and does not implement the `__len__` function, so w

[2021-11-04 17:24] zplizzi commented on #10343
I don't think this is quite right - if someone wants to limit the duration of training, the default of 1000 epochs is almost never going to be right/helpful, so they're going to have to set a different limit. So the current state of affairs means that everyone has to set a value for max_epochs. Whereas if the default were -1, then people that are ok with stopping the experiment manually won't have

[2021-11-04 17:26] Big-Tree commented on #10317
[code]

Thanks for looking into the issue.  This seems to fix it but I'm not sure if it will have any side effects?

[2021-11-04 18:27] four4fish commented on #10348
Current init_dist_connection() will do nothing if torch.distributed.is_avalible = False. To wrap model with `DistributedDataParallel()`
`torch.distributed.init_process_group(
     backend='nccl', world_size=N, init_method='...'
      )`
Is required right?
Should we raise exceptions at set_distributed() in ddp if torch.distributed.is_avalible = False?

[2021-11-04 18:45] BttMA commented on #10349
When i do this :
[code]
dict_keys(['comment_text', 'input_ids', 'attention_mask', 'labels'])
[code]

[2021-11-04 18:59] ananthsub commented on #10343
This issue highlights some great points for improvement:

1. How to make the documentation clearer to avoid these issues:

Clearly we need to address this in the trainer documentation on the read the docs site.

2. The UX for hyperparameters when the trainer defaults to behavior not expressed in the default values of the constructor arguments

What's the right means of capturing hyperparameters th

[2021-11-04 19:12] rohitgr7 commented on #10349
comment_text might also be coming within the batch of the training_step. I don't remember exactly how pytorch handles collating the string values, but if you are using automatic logging with on_step=true, we try to extract the batch_size from the batch itself by iterating over all its components. Now if there is any ambiguous batch for which we find more than 1 different batches, we log this warni

[2021-11-04 19:25] BttMA commented on #10349
Sorry I am not sur if I completely get your message. But Two days ago, the snippet that I showed you, they were working just fine! I am not sure this warning where it came from.

as for the comment_text, you asked if it is coming in the batch or not, I can show you in my training_step method that It is not :

[code]

Also, as I mentioned in the issue ; in each refresh rate of the progress bar I go

[2021-11-04 20:06] bryant1410 opened #10362 "`RichProgressBar` deadlocks distributed training"
## 🐛 Bug

I have run into many distributed training now that have gone completely frozen after enabling the `RichProgressBar` callback.

It gets stuck in between epochs after it finished one. Sometimes it's after the first one, sometimes after the second one, sometimes after even 9 epochs.

The weird thing is that if I do `Ctrl+C`, the program doesn't interrupt. I have to kill it with SIGKILL (`ki

[2021-11-04 20:19] felixdittrich92 commented on #10239
@tchaton
This list needs definitly also some lightning + huggingface transformers parts ( for example how to fine tune huggingface models with lightning)  🤗
wdyt?

[2021-11-04 20:29] rhythmswing commented on #10287
Hi, what is the purpose of on_validation_model_train and on_test_model_train? Whats the difference between them and _eval?

[2021-11-04 20:29] rhythmswing commented on #10287
Thanks!
What is the purpose of on_validation_model_train and on_test_model_train? Whats the difference between them and _eval?

[2021-11-04 21:00] catalys1 commented on #10312
I can grab `every_n_val_epochs`.

[2021-11-04 21:14] Borda commented on #10335
I think that the `pl_examples` shall be completely independent on tests and we shall drop `tests` from the package as it can easily happen that other package accidentally writes their own `tests` in the site-packages and so make our examples unexecutable... there is no reason to distribute PL tests within the package

[2021-11-04 21:21] whaowhao opened #10365 "Calling trainer.predict during custom Callback cause error"
## 🐛 Bug

Calling trainer.predict during custom Callback cause error :

[code]

### To Reproduce

[code]

### Expected behavior

Callback prediction shouldn't affect other parts of the code.

### Environment

pytorch-lightning==1.4.9
python 3.6.9

cc @tchaton

[2021-11-04 23:41] bryant1410 commented on #10362
I'm using rich v10.12.0 from Conda.

[2021-11-05 00:37] aprbw commented on #9453
Is still not working with the latest version pytorch-lightning: 1.5.0

[2021-11-05 01:02] rohitgr7 commented on #10349
These changes were added in recent 1.5 release. In your dataset above you are returning the comment text, but you are not using it inside training_srep. Can you try removing the comment text from the dictionary returned in your dataset and check if you still get this warning?

[2021-11-05 01:07] rohitgr7 commented on #10287
These hooks are called and added for user right before the corresponding loop starts. Before the validation loop starts we call _eval method to that internally just calls model.eval to disable dropout and batchnorm. _train methods are called called after these loops end to put back the model again in the training mode.

[2021-11-05 03:19] carmocca commented on #10267
I guess that would work but it's

1. ugly to write. we'd have to add skips everywhere
2. misleading, as the PR will appear to be actually running the jobs for authors unaware of this.

[2021-11-05 05:41] moonlightSong commented on #4070
I had the same error but not with the MNIST example. The problem is I renamed "version_{a number}" to something else under the lightning_logs directory. After I remove that from the lightning_logs directory, the error disappeared.

[2021-11-05 06:40] BttMA commented on #10349
Hi again :) NO problem! you are doing just fine.
I removed the comment text form the dict returned in the dataset and now it is working without any warning!
Thank you 😊

Now, It would be great if you can explain to me how this is happened in the first place? and why do I keep getting different  value of batch_size and what `self.log(..., batch_size=batch_size)` means? do I need to add the batch_si

[2021-11-05 08:50] tchaton commented on #10323
Hey @SeanNaren.

Yes, I made an attempt at re-writing, but it seems it is more challenging than I thought. The new version has been hackier and didn't seem to resolve your problem either. Furthermore, it would break if a user was to make a deepcopy over the module.

Best,
T.C

[2021-11-05 09:12] SauravMaheshkar commented on #10312
I'll also grab `configure_slurm_dpp` next if that's okay with anyone else.

[2021-11-05 10:04] awaelchli commented on #10348
@four4fish Yes you are right. I tested it and we get this message:

I agree, for users like @Riccorl we could inform them directly that DDP is not available when `torch.distributed.is_avalible = False`.

Btw, doesn't your PR directly solve the import problem of this issue? I couldn't find other places.

[2021-11-05 10:18] gitabtion opened #10371 "Why does bf16 of LightningLite use GPU Memory much more than pytorch_lightning.Trainer"
## 🐛 Bug

I test two ways to train my model, LightningLite and pytorch_lightning.Trainer on 2 A100 machines with the same configuration, The Memory used is very different.
- LightningLite(bf16): about 24GB
- LightningLite(fp16): about 27GB
- LightningLite(fp32): about 27GB
- LightningLite(deepspeed, fp16): about 14GB
- pytorch_lightning.Trainer(bf16): about 17GB

### To Reproduce
[code]

### Expec

[2021-11-05 10:29] puhuk commented on #10312
Let me take `test_v1_6_0_master_params`

[2021-11-05 10:31] rohitgr7 commented on #10349
Great! So basically what we do internally is iterate over the batch that is passed inside the training_step. Doesn't matter if any of its components are actually used to compute the loss/metric we use all its components to extract the batch size. In your example when you passed the other tensors including the comment_text which is string, even though it's not used to compute the loss/metric we wil

[2021-11-05 10:34] rohitgr7 commented on #10349
Here is the code if you want to check more where and how this warning is raised https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/utilities/data.py#L45

[2021-11-05 10:35] tchaton commented on #9453
Dear @rongcuid @aprbw,

Would you be interested in contributing a fix?

Best,
T.C

[2021-11-05 10:36] tchaton commented on #10362
Dear @bryant1410,

Are you using ddp_spawn ? We noticed similar issue within our own CI and didn't manage to resolve it yet.

Best,
T.C

[2021-11-05 10:38] BttMA commented on #10349
Thank you for your help!
Wish you the best!!

[2021-11-05 10:38] #10349 closed

[2021-11-05 10:40] tchaton commented on #10365
Dear @whaowhao,

I think your trace isn't informative enough to pinpoint the problem. Would you mind sharing more details?

In the meanwhile, you might want to check Lightning Flash. We recently added support for ActiveLearning and should have a blogpost soon.

Here is the script: https://github.com/PyTorchLightning/lightning-flash/blob/master/flash_examples/integrations/baal/image_classification_

[2021-11-05 10:53] ant0nsc opened #10373 "CombinedLoader does not work in DDP when using `max_size_cyle` option"
## 🐛 Bug

When using a `CombinedLoader` with the `max_size_cycle` option and DDP, all the GPUs get all validation data.
This bug is related to https://github.com/PyTorchLightning/pytorch-lightning/issues/7013 - however, the fix in PR #7102 only affect the default `min_size` option of the `CombinedLoader`

@tchaton ?

### To Reproduce

[Repro](https://gist.github.com/ant0nsc/e4ce39c76c3176c4d1bea13

[2021-11-05 11:10] tchaton commented on #10358
Dear @srdecny,

When using pure PyTorch, if you define a dataset without a len, it would fail within the SequentialSampler.

[code]

[code]

When the length is unknown, it is recommended to use an IterableDataset instead.

Would you mind giving more details about your use case?

Best,
T.C

[2021-11-05 11:32] anuragsingh31 commented on #10348
@Riccorl I had a similar issue on M1 macbook, it only happens with pytorch=1.10.
 **Downgrading torch to '1.9.1.post3' resolved the issue for me.**

[2021-11-05 11:34] tchaton commented on #10371
Dear @gitabtion,

Thanks for looking into LightningLite. We will look into this promptly.
Would you mind sharing your thoughts on Lite? Any feedbacks?

Best,
T.C

[2021-11-05 11:34] SeanNaren commented on #10362
Hey @bryant1410 could you try this branch?

https://github.com/PyTorchLightning/pytorch-lightning/tree/feat/enable_rich_default
should be able to do something like `pip install https://github.com/PyTorchLightning/pytorch-lightning/archive/refs/heads/feat/enable_rich_default.zip`

[2021-11-05 11:35] kaushikb11 commented on #10362
@bryant1410 It's okay if you can't share your code, but could you try running and reproducing it in a non Conda environment? Thank you!

[2021-11-05 11:48] awaelchli commented on #10371
It's possible that (part) the memory increase comes from the fact that we convert the output of the model back to float32. It happens here:

https://github.com/PyTorchLightning/pytorch-lightning/blob/348fc4b49f0e74acb9785b5179abb8fd01beb45a/pytorch_lightning/lite/wrappers.py#L99-L103

The reason we do this is because the inputs to the model are also float32 and we don't know what the user does wit

[2021-11-05 12:30] awaelchli commented on #10352
Hello, is it the BNMomentumScheduler from here?
https://github.com/facebookresearch/votenet/blob/main/train.py

If I see correctly, this one is just stepping every epoch. So you could put this step in the `on_epoch_start` or `on_epoch_end` hook in the LightningModule.

I'm not sure. I couldn't find it in the paper. If you share the exact method you are trying to convert, can have another look.

If

[2021-11-05 12:31] tchaton commented on #10373
Dear @ant0nsc,

Thanks for raising this issue, it was in fact never supported. Currently looking into it.

Best,
T.C

[2021-11-05 12:46] ant0nsc commented on #10373
Thanks @tchaton ! is there a way how we can work around the issue in the meantime?

[2021-11-05 12:50] awaelchli commented on #10317
Ok, it seems to fix it for your use case. Just not sure what we can do in our `save_hyperparameters` method. It seems this call needs to happen outside and be done by the user. Because we want to prevent anyone from calling `model.save_hyperparameters()` outside class/init.

[2021-11-05 12:56] aprbw commented on #9453
Yes, but I'm very not smart. I don't even know where to start.

[2021-11-05 13:02] Nesqulck commented on #10349
@rohitgr7 Can you elaborate why you consider strings to hold information about the batch size?

Maybe yielding None for types that are not tensors is less confusing, e.g. by changing else statement to yield None instead of 1 in:

https://github.com/PyTorchLightning/pytorch-lightning/blob/348fc4b49f0e74acb9785b5179abb8fd01beb45a/pytorch_lightning/utilities/data.py#L30-L42

and handling this None ca

[2021-11-05 13:04] awaelchli commented on #10290
@jopo666 I generally agree with your observations

Essentially here, as the dataloader will call len() on the dataset if it has one defined:

https://github.com/PyTorchLightning/pytorch-lightning/blob/e4ee6df196dd0c6b17d8c695bea3f1d286114f4f/pytorch_lightning/trainer/data_loading.py#L349

I think it is primarily for two features: 1) the progress bar will show the limits and a bar 2) the percentage

[2021-11-05 13:16] pzelasko commented on #10358
Hi @tchaton,

Thanks for your interest in this! Let me just say that I'm working on multiple projects where PT Lightning is adopted and we find it immensely useful -- it's helping us a lot in prototyping and moving fast. Thank you for all the effort you put into it!!

Let me give you a bit of background. I'm building [Lhotse](https://github.com/lhotse-speech/lhotse), a library for speech data repr

[2021-11-05 13:20] proutrc commented on #10216
When trying this override in my small program (listed above) it complains about LSFEnvironment not being defined. I thought maybe you meant `import LSFEnviornment` at the top, instead of `import ClusterEnvironment`,  but that produces another error. At any rate, I could be doing something silly (likely perhaps), but can you provide a full example of this override?

[2021-11-05 13:59] tchaton commented on #10373
Dear @ant0nsc,

I have a fix PR #10374. Would you mind trying it out?

Best,
T.C

[2021-11-05 13:59] awaelchli commented on #10216
Here is the full example (with correct imports, sorry about that :)) and with your code combined:

[code]

[2021-11-05 14:22] Carlosbogo commented on #10239
I'm sorry, but I don't quite understand what would be the necessary steps to contribute to this repository with a translation:
from what I understand, it would be helpful to have the notebooks translated, but are there any of them already being worked on? If not, where should I upload the ones I translate?

I have looked around a bit (mainly in this repository and in [the tutorials one](https://gi

[2021-11-05 14:54] tchaton commented on #10358
Hey @pzelasko,

Awesome work ! Really cool projects.
Let me try to run the notebook locally and see if I understand how I could add support for the length.

Best,
T.C

[2021-11-05 15:09] bryant1410 commented on #10362
No, `ddp_find_unused_parameters_false`.

[2021-11-05 15:14] awaelchli opened #10375 "Deprecate passing a container to `self.save_hyperparameters()`"
## 🚀 Feature

As the title says, consider passing a container (dict, DictConfig, etc.) to the `LightningModule.save_hyperparameters`.

### Motivation

See #10280 for a bit more context. There exists a confusion of how to save hyperparameters in a LightningModule or DataModule when the argument passed to the constructor is a container. We see this pattern:

[code]

when it really should just be:

[

[2021-11-05 16:44] four4fish commented on #10348
@awaelchli  I think after the import PR, import lightning didn't fail. But when trainer calls ddp setup_distributed(), which calls init_dist_connection() will check `torch.distributed.is_avalible` before create process group. Because `torch.distributed.is_avalible=False` no process_group was created, so the future ddp will fail. Where is this runtime error happens exactly? when wrap the model?

I

[2021-11-05 17:07] awaelchli commented on #10329
A few things that need to be addressed (discussed with @tchaton and @carmocca):

- [ ] Bugfix PR #10334
- [ ] Revert dataset `TypeError`, properly handle it and raise a MisconfigurationError @carmocca
- [ ] Also use the the context manager around dataloader methods in Lightning
https://github.com/PyTorchLightning/pytorch-lightning/blob/1c28f361d47257feb0bd34cbc8d41642a1f0a2ab/pytorch_lightning/lit

[2021-11-05 17:45] Big-Tree opened #10377 "Cannot inherit training_step() or configure_optimizers()"
## 🐛 Bug

A model will not run if the methods: `training_step` or `configure_optimizers()` are not explicitly defined and are instead inherited.
### To Reproduce
`TrainingStep` and  `ConfigureOptimizers` are inherited in the BoringModel:

[code]
https://github.com/PyTorchLightning/pytorch-lightning/blob/1c28f361d47257feb0bd34cbc8d41642a1f0a2ab/pytorch_lightning/trainer/configuration_validator.py#L

[2021-11-05 17:47] petrgeiger-incieve opened #10378 "DeepSpeed ZeRO 3 CPU offloading crashes with RuntimeError: Tensors must be CUDA and dense"
## 🐛 Bug

DeepSpeed ZeRO 3 CPU offloading crashes with RuntimeError: Tensors must be CUDA and dense. I
add `bug_report_model.py` below with simple modification in trainer `strategy=deepspeed_stage_3_offload`. I also tried ZeRO 2 and it works flawlessly.

### To Reproduce
code:
[code]
error:
[code]

### Expected behavior

Flawless training.

### Environment

[code]

### Additional context
none

[2021-11-05 18:06] tchaton commented on #10239
Dear @Carlosbogo,

We are still polishing our ideas around translation. We were thinking to use automatic translation and use a translator to refine them. @Borda Anything else to add?

Best,
T.C

[2021-11-05 18:19] proutrc commented on #10216
It looks like we are switching to the DDPPlugin now, ` plugins=DDPPlugin(cluster_environment=NewLSFEnvironment())` , which is causing other types of issues for me.

Error with DDPPlugin method:

[code]
This seems mostly explanatory. Just wanted to confirm this is the recommended path, as it appears to be changing some underlying things (i.e. `Horovod does not support setting num_nodes / num_gpus e

[2021-11-05 18:43] tchaton commented on #10358
Dear @pzelasko,

Here are my updates so far. There is tiny change to enable the code to work with Fault Tolerant Training. However, it seems the tokens aren't the same on restart.

The way your code is implemented is quite custom and a bit of a hack :) Not sure we can support it, but I will keep investigating it.

[code]

[2021-11-05 18:49] Big-Tree commented on #10377
This is my work around for now:

[code]

[2021-11-05 18:59] erhoo82 commented on #2695
Seems like no further discussion after the close. Is there a plan to implement this?

[2021-11-05 19:32] tchaton commented on #10358
Dear @pzelasko

Would you mind implementing a Boring version of a Cuts Sampler to help me out to add investigate ? This would definitely save me some time.

Best,
T.C

[2021-11-05 19:32] pzelasko commented on #10358
Thanks! I appreciate the effort you put into this :)

Just to confirm -- I ran the snippet and got:

[code]

However, if I add a dummy len in the Dataset `def __len__(self): return 1` it seems to train OK. I wonder whether fault-tolerant mechanism in PL is relying on the existence of `__len__` for anything other than disambiguation between map and iterable datasets.

Re inconsistent tokens: thanks

[2021-11-05 19:35] JiesiZhao077 commented on #3325
Also blocked by the duplicate validation data, which causes the validation result to be incorrect. Is there any workaround for this issue? Like only running validation on one gpu?

[2021-11-05 19:43] tchaton commented on #10358
It doesn't rely on the len of the dataset. Can easily change the line too.

[code]

[2021-11-05 20:00] pzelasko commented on #10358
Does this help? https://colab.research.google.com/drive/1haJVDv_liEC7FqJPUE0v772Oeioszdwi?usp=sharing

[2021-11-05 20:03] ant0nsc commented on #10373
Wow, that was swift, thanks @tchaton ! I tried on my small repro, it works just fine now.

[2021-11-05 20:15] Quintulius opened #10379 "[DDP] Metrics .compute() / sync_ddp fails with move_metrics_to_cpu"
## 🐛 Bug

Metrics compute() method fails when calling ```sync_ddp``` with DDP and ```move_metrics_to_cpu```:

[code]

### To Reproduce

[code]
### Expected behavior

Metrics are computed without trouble !

### Environment
[code]

### Additional context

[2021-11-05 20:16] Quintulius commented on #2205
@SkafteNicki Thanks, done in #10379

[2021-11-05 21:01] ananthsub commented on #2695
This is already supported. See here for more information: https://pytorch-lightning.readthedocs.io/en/latest/advanced/advanced_gpu.html

[2021-11-05 21:21] XiaomoWu commented on #10349
@rohitgr7 I totally get the motivation of batch_size sanity check, but what if I have such return type:

[code]

Then under current PL logic, the return size of each component will be 2, right?

The motivation of returning two dicts (`input_1` and `input_2` in my case) is that I usually need to test many different tokenization methods, raw data formats, etc. To keep the flexibility of code, I deci

[2021-11-05 21:35] Nesqulck commented on #10349
I believe in this case the return type is still determined by the value of shape[0] of each tensor. Since your return type is just a nested dict of all tensors, thus the batch size is just determined recursively by _extract_batch_size.

However, there can be cases where there is a data type (e.g. list) of different types (string, int, Any, etc) where the length of this list is the actual batch siz

[2021-11-06 03:33] OverLordGoldDragon opened #10384 "Outdated intro"
[MNIST](https://pytorch-lightning.readthedocs.io/en/stable/notebooks/lightning_examples/mnist-hello-world.html), PL 1.5.0,  Windows 10
[code]
[code]

[2021-11-06 04:45] aprbw commented on #9450
Still not working with PL 1.5.0

[2021-11-06 11:02] SeanNaren commented on #10378
Seems something has changed in the latest release (deepspeed 0.5.5). Could you try installing a previous version (`pip install deepspeed==0.5.4`) and seeing if this works?

I'll figure out what has changed in the latest release to cause this issue.

[2021-11-06 12:43] EspenHa opened #10387 "Pickling error with CSVLogger"
## 🐛 Bug

### To Reproduce

Pickling CSVLogger will lead to an error if some metrics have been logged and `.save` has been called. This impacts things like `StochasticWeightAveraging`, which seems to rely on being able to pickle the trainer + loggers.

[code]

### Expected behavior

No crash

### Environment

- PyTorch Lightning Version: 1.5.0

[2021-11-06 16:02] tchaton commented on #10358
Hey @pzelasko,

Thanks, I will give it a try.

By the way, you might have some performance gain by using an IterableDataset instead. When using multiple workers, the Cuts are being passed to the workers via the data queue, and the process might add an overhead.

I believe it could be possible to optimise / clean this implementation :)

Best,
T.C

[2021-11-06 16:50] TheMrZZ opened #10389 "Lightning is very slow between epochs, compared to Pytorch."
I converted some Pytorch code to Lightning. The dataset is loaded lazily by the train & eval dataloaders.

However, when moving the code to Lightning, I noticed a huge slowdown. After digging around, I noticed that there was a ~10 seconds delay between each epoch. For comparison, on my vanilla Pytorch, an epoch takes ~4s.

I first thought it was a data loading problem, but during the 10s delay, no

[2021-11-06 17:17] pzelasko commented on #10358
I guess that makes sense. I tried it at a much earlier stage but didn’t like how tightly the code was coupled with that approach. I am hoping adopting DataPipes at some stage later will clean this up nicely though.

[2021-11-06 18:16] cgarchbold commented on #10349
Hello, I am using a custom collate function in my code. This is part of a custom dataset I have written, one which may have a variable amount of labels per input image. This warning message comes up in my training constantly and attempting to resolve with self.log(..., batch_size=...) doesn't seem to make the warning go away. Can there be a way to mute this error message, when using a custom colla

[2021-11-06 18:36] carmocca commented on #3325
@JiesiZhao077 Running in one GPU would be the easiest and safest option. You can also set this `DistributedSampler` which would also solve the issue, but introduces the risk of deadlocks if collective operations are used

https://github.com/PyTorchLightning/pytorch-lightning/blob/45f6a3b1758f88af7fd776915539800cbc0137a9/pytorch_lightning/overrides/distributed.py#L80

We use automatically with `tra

[2021-11-06 19:38] Nesqulck commented on #10349
The warning is not triggered by self.log but when loading a batch from the dataloaders. The trainer infers the batch size in every step which is needed for accumulated metrics when using self.log(on_epoch=True). It does so regardless if anything is logged at all, so using self.log(batch_size=...) does not suppress this warning. The warning is rather a reminder for the user to take care of this suc

[2021-11-06 22:36] whaowhao opened #10393 "Simplest FitLoop customization doesn't work"
## 🐛 Bug

Setting trainer.fit_loop to default FitLoop causes error

### To Reproduce

Take any trainer and model, and add one line that sets trainer.fit_loop to default FitLoop causes error

[code]

### Expected behavior

Nothing should change since we set fitloop to default FitLoop

### Environment

pl==1.5.0

cc @tchaton @carmocca @justusschock

[2021-11-06 23:23] stanleyshly opened #10394 "minGPT examples with Deepspeed do not seem to be updated"
Running the minGPT example on the advanced GPU training page seems to led to errors, given that the example is still using deepspeed through the plugin method, rather than the updated strategy input variable method.

[2021-11-07 00:32] TheMrZZ commented on #10389
After a lot of digging around, I managed to pin down the line causing the problem.

It's the line 142 in loops/epoch/training_epoch_loop.py :
[code]

Therefore, the culprit is:
[code]

It's indeed related to dataloaders, as expected. I still don't know what is the root reason, but I'll try to find it.

[2021-11-07 12:46] hughperkins commented on #1881
Hi @n2cholas , dont suppose... could you provide more details on how you did this please?

[2021-11-07 13:02] ritsuki1227 opened #10397 "`MLFlowLogger` does not update its status when `trainer.fit` failed"
## 🐛 Bug

When an error is raised during training with `MLFlowLogger`, status of a `mlflow.entities.run_info.RunInfo` object should be updated to be 'FAILED', while it remains 'RUNNING'.
Due to the problem, when you look at MLFlow Tracking Server screen, It seams as if training is still in progress even though it has been terminated with an error.

### To Reproduce

[code]

### Expected behavior

[2021-11-07 14:17] a-kore commented on #10389
Just a guess, but maybe having a different number of workers between the training and validation step so it may be spinning up news workers and getting rid of them between epochs?

Try making the number of workers equal for both train and val dataloaders (5-6 based on your CPU).

[2021-11-07 14:52] TheMrZZ commented on #10389
I just tried this, it does not solve the problem. It would have been weird IMO, since it does not cause any problem with vanilla Pytorch.

[2021-11-07 15:20] a-kore commented on #10389
I see, that's interesting.  Like you said, It does seem to be a dataloading issue.  Maybe try removing
[code]

from the trainer call and explicitly set "reload_dataloaders_every_epoch=False" and see what happens.

Other than that, i'd try a fresh install of pytorch-lightning in a new venv.

[2021-11-07 15:52] TheMrZZ commented on #10389
I just tried that, but it has no effect. The Trainer's methods `_reset_eval_dataloader` and `reset_train_dataloader` are never called (except once at the beginning), so it doesn't look like it's Lightning manually resetting the data loaders.

I just tried a fresh conda environment, but that didn't work either. I'm still trying to understand *how* the data loaders are getting reset, but I can't fin

[2021-11-07 21:34] #9220 closed

[2021-11-07 21:43] awaelchli commented on #10393
Hi @whaowhao

Thanks for checking out the loop features.
The reason you see the error is because the FitLoop requires some subloops to function properly. This is the default configuration that the trainer uses:

[code]

Any specific customization you have in mind?

[2021-11-07 21:47] rhythmswing commented on #10287
Thanks.

[2021-11-07 21:47] #10287 closed

[2021-11-07 23:42] RahulBhalley commented on #9814
This is issue doesn't really affect my work but just curious if there's been any progress on resolving it.

[2021-11-08 02:01] gitabtion commented on #10371
@awaelchli Thanks for your reply, I have tried to print the outputs of the Trainer, it is float32 too.

[2021-11-08 03:28] KinWaiCheuk opened #10402 "self.log isn't logging anything when combining two pl.LightningModule into one main pl.LightningModule"
## 🐛 Bug

self.log does not log anything when `pl.LightningModule` consists of different sub `pl.LightningModule`

### To Reproduce

Sometimes we need to develop submodules (one loss output per submodules), and combine them into the final ensemble module to train everything end to end. Here's the pseudo code:

[code]

When training only modelA or modelB, the self.log could log the loss to tensorbo

[2021-11-08 03:50] puhuk commented on #10312
Let me take `accelerator_pass_through_functions`

[2021-11-08 06:56] gitabtion commented on #10371
@tchaton
LightningLite is a great feature for me, I have many tricks in training, LightningLite is more flexible sometime, and is easier to find the problem than pytorch_lightning.Trainer.

[2021-11-08 08:58] tchaton commented on #10402
Dear @KinWaiCheuk,

This is currently not supported in PyTorch Lightning but in Lightning Flash.

You could do the following

[code]

[2021-11-08 09:08] tchaton commented on #10375
Sounds good to me ! Let's do it !

[2021-11-08 09:22] tchaton commented on #9726
Based on @carmocca pros/cons.

I believe removing this parameter would violate one of our core principle: `we make our API discoverable incrementally` and this parameter is quite key to easily parameterized logging from external tooling.

Best,
T.C

[2021-11-08 09:22] tchaton commented on #9407
@ananthsub Any updates ?

[2021-11-08 10:25] Nesqulck commented on #10389
I had a similar observation where data_fetcher caused unusual long run times. For me it was indeed fixed by completely disabling multiprocess dataloading (num_workers=0). Although, I have not tried to set "reload_dataloaders_every_epoch=False“. Interesting to see that others have the same issue/observation. Funnily, setting num_workers=0 has led me to open #10182. Perhaps, there is something more

[2021-11-08 10:27] SeanNaren commented on #10394
Thanks for taking a look @stanleyshly! I should take some time to redo this repo as it's strayed away from the min part of minGPT a bit :)

[2021-11-08 10:36] #10387 closed

[2021-11-08 11:06] flying-sheep commented on #10335
Soo many packages using setuptools do that accidentally. Switching to less legacy build systems helps …

[2021-11-08 11:09] SeanNaren commented on #10378
I've pinged the deepspeed authors to get some hints as to what could've caused this regression between versions (cc @tjruwase)

[2021-11-08 11:13] tjruwase commented on #10378
@SeanNaren, thanks for the heads up. Let's sync on your repro on this?

[2021-11-08 11:28] BttMA commented on #1615
Sorry to comment in this closed issue, but I am kind of confused in the `auto_scale_batch_size=True`.
It is clear to me that we need to define the batch_size in the PL.Model to activate the auto scale process.
So at this step the batch_size is a variable and it will be calculated depending on the OOM.
But, we did not mention the batch_size that is need to be declared in the dataloaders (train, val

[2021-11-08 12:16] maxmax1992 opened #10407 "Using pytorch-lightning with ray[tune] doesn't work on toy MNIST example"
## 🐛 Bug

The pytorch-lightning 1.5 breaks when using it with the ray[tune] hyperparameter library, when downgrading to pl 1.4.9 it works just fine!

the bug stack-trace:
[code]

### To Reproduce

run the given example with pytorch lightning version 1.5 from the official page of ray:
https://docs.ray.io/en/latest/tune/examples/mnist_ptl_mini.html

### Expected behavior

I would expect it not to br

[2021-11-08 12:30] pengyuange commented on #5894
My code happened to the same problem.
when i looked at my training log, I found there is a moduledict in my module, and the key is get from a list loop.
when i sorted the list, the problem solved.
hope it is helpful for u.

[2021-11-08 12:32] #8774 closed

[2021-11-08 12:35] #9984 closed

[2021-11-08 12:47] tchaton commented on #1881
Hey @hughperkins,

You do something like this:

[code]

[2021-11-08 13:51] SeanNaren commented on #10394
I've updated the example here! https://github.com/SeanNaren/minGPT/tree/deepspeed should remedy the issue :)

[2021-11-08 13:51] #10394 closed

[2021-11-08 13:52] SeanNaren commented on #10362
@bryant1410 were you able to try out the above branch?

[2021-11-08 13:56] bryant1410 commented on #10362
Hey, can't take a look this week, sorry. Will try to give it a ahot next week!

[2021-11-08 13:56] awaelchli commented on #10377
@carmocca do you think we should extend the `is_overridden` function to support checking several parents?
Something like https://github.com/PyTorchLightning/pytorch-lightning/commit/40ac0b1a3f1f373e0f37ceb508dcc18a53772b90 (rough draft)

[2021-11-08 14:24] immanuelweber commented on #10349
Hi there, I'm also carrying some lists of strings in my data where the length of the list is the batch size and the current implementation results in a warning in this situation. I would definitely prefer what @Nesqulck is suggesting.
I feel that the current implementation infers some applications but punishes others that are also valid.
I'm just commenting on this issue, since it has been closed,

[2021-11-08 14:31] SeanNaren commented on #10378
hey @tjruwase thanks for checking this out :)

@petrgeiger-incieve reprod works to reproduce the error with the latest lightning + latest deepspeed.

Has anything changed you know between 0.5.4 and 0.5.5 that could cause parameters to not be moved to device correctly when offloading + fp16 is enabled?

[2021-11-08 15:17] whaowhao commented on #10393
Thanks @awaelchli ! So I am trying to custom the Loop such that after each fit loop, trainer.predict runs on an arbitrary file based on model.hparams

[2021-11-08 15:39] SeanNaren opened #10410 "[RFC] Future of `gpus/ipus/tpu_cores` with respect to `devices`"
## Proposed refactoring or deprecation

Currently we have two methods to specifying devices. Let's take GPUs for example:

1. The standard case that we've all grown used to and are mostly aware of.
[code]

2. Introduced in 1.5, tries to make the number of devices agnostic. This means if you specify `accelerator='tpu'` we automatically know to use 2 TPU cores.
[code]

Recently, it has come up in ht

[2021-11-08 17:14] adamjstewart commented on #10348
I encountered this same issue. I'm building PyTorch Lightning 1.5.0 and PyTorch 1.10.0 from source using the Spack package manager on macOS 10.15.7. Unfortunately, PyTorch distributed doesn't seem to build for me on macOS: https://github.com/pytorch/pytorch/issues/68002

It sounds like requiring distributed support was an accident and will be removed in future releases. Let me know which PR solves

[2021-11-08 17:15] kaushikb11 opened #10413 "[RFC] Support passing Precision Plugin instances to the `precision` flag"
## 🚀 Feature

### Motivation

The motivation is to support passing `PrecisionPlugin` objects to the `precision` flag.

#### Current Approach

Right now, to pass the custom objects to the Trainer, users have to pass it to the `plugins` flag.

[code]

#### Proposed Solution

Support passing custom `PrecisionPlugin` objects directly to the `precision` flag. It would be similar to passing TrainingType

[2021-11-08 17:24] carmocca commented on #10377
Yes

[2021-11-08 17:28] rohitgr7 opened #10414 "make `get_nvidia_gpu_stats` public"
## Proposed refactoring or deprecation

### Motivation

https://github.com/PyTorchLightning/pytorch-lightning/blob/e61a98a3d0cbe28f1df41841b4766166dd9ea531/pytorch_lightning/accelerators/gpu.py#L76
This is currently a private function. I was trying lite so wanted something than can get me the memory usage and utilization. So I am suggesting to make it public.

Alternatively we have https://pytorch

[2021-11-08 17:52] four4fish opened #10416 "[Main Issue] Accelerator and Plugin refactor"
## Proposed refactoring or deprecation

### Motivation
Accelerator is not stable API yet, we can improve the Accelerator related logic and move towards stable Accelerator version for 1.6

### Pitch
**Steps**
1. Collective refactor #7534
   - [x] deprecate accelerator collective directly call from TTP #9677
   - [ ] collective refactor #9414
2. Move Precision Plugin into TTP #7324
3. Move Accelerat

[2021-11-08 17:57] awaelchli opened #10417 "Core Trainer Connectors"
## Proposed refactoring or deprecation

Reduce the number of connectors the Trainer relies on to only three core ones:

- AcceleratorConnector
- LoggerConnector
- DataConnector

### Motivation

As part of the [Lightning API audit](https://docs.google.com/document/d/1xHU7-iQSpp9KJTjI3As2EM0mfNHHr37WZYpDpwLkivA) led by @ananthsub + co., we proposed already several simplifications and code quality im

[2021-11-08 18:35] rohitgr7 commented on #10393
you mean after each epoch? @whaowhao

[2021-11-08 18:45] whaowhao commented on #10393
Yes

[2021-11-08 19:25] awaelchli commented on #10416
Great summary! About

As best as I can see right now:
Step 1, 2 do not impact Lite. If there are changes in required in the Trainer, they will be mirrored directly by Lite. The Trainer as well as Lite do not make any strong assumptions on the internal composition of plugins.
Step 3: not sure
Step 4: Will impact Trainer more than Lite. Lite is sort of already setting an example here how it could/sh

[2021-11-08 20:08] ananthsub commented on #10410
IMO we should follow the contributing guidelines: https://github.com/PyTorchLightning/pytorch-lightning/blob/master/.github/CONTRIBUTING.md#main-core-value-one-less-thing-to-remember

Having multiple options in the public API to do the same thing is really confusing.

[2021-11-08 20:11] four4fish commented on #10410
+1, totally agree

Current device related flags are confusing. Multiple flags partially overlap and interfere each other. When multiple flags passed in, we define prioritize and ignore some of the flags.

For example:
`gpu=2, device=3` `device` will be ignored.
`gpu=2, cpu=2, accelerator=cpu` what will happen? I think cpu with num_process=2?

I prefer option 2, drop `gpus`, `tpu_cores`,  `ipus` in

[2021-11-08 20:50] immanuelweber commented on #10407
Hi, I just got the same issue after moving from pl 1.4.9 to 1.5.0, happens with ray 1.6.0 and ray 1.8.0

[2021-11-08 21:17] four4fish opened #10422 "[RFC] Simplifying the Accelerator Connector logic and flags"
## Proposed refactoring or deprecation

No.5 of #10416  Accelerator and Plugin refactor
and part of #10417 Core Trainer Connectors
Related to #10410 Future of gpus/ipus/tpu_cores with respect to devices

### Motivation

Current flags and accelerator logic is confusing. Multiple Accelerator flags partially overlap and interfere each other.

There are 30 MisconfigurationException in accelerator conn

[2021-11-08 23:01] TheMrZZ commented on #10389
After a bunch of fiddling around, I decided to create a custom DataLoader and overload the `__iter__` method. I discovered the problem was that the `_iterator` property of the DataLoader was always set to `None` somewhere between epochs. When `_iterator` is None, the DataLoader is reseted and needs to start everything from scratch.

[code]
As you can see in the normal DataLoader, having `self._ite

[2021-11-09 01:02] carmocca commented on #10343
I agree with this.
If @awaelchli agrees, the takeaways of this are:

1. Show a warning about max_epochs not being set.
2. Improve docs about our default behavior.
3. In a separate issue, discuss the 1000 epochs -> 1 epoch change

[2021-11-09 01:42] romovpa commented on #3305
Hi everyone! I'm working on Lightning <> Opacus integration. [This PR](https://github.com/pytorch/opacus/pull/250) is a working prototype.

Also I've implemented [a prototype with a Callback](https://github.com/romovpa/opacus/pull/5) that adds differential privacy to the training process. However, I'm at loss to come up with an elegant way of implementing this for our new API.

In the new Opacus A

[2021-11-09 01:59] romovpa commented on #3305
What is the best way to extend `Trainer.fit()` so that in case of differential privacy turned on, before running the loop it will wrap the model, optimizers and data_loader?

In fact, to add DP, before training loop we call [PrivacyEngine.make_private()](https://github.com/pytorch/opacus/blob/d2f5948c177cd70c748befc713422e21c55979a4/opacus/privacy_engine.py#L94):
[code]
After that, `dp_*` should b

[2021-11-09 02:41] gitabtion commented on #10371
@awaelchli Yes, difference could be detect in one node, you can use following script to reproduce this bug.
[code]

DeepSpeed FP16: about 11GB
FP16, FP32, BF32: about 19GB

[2021-11-09 02:48] ananthsub commented on #9726
The huge issue today with `log_every_n_steps` is that it is broken for Trainer.validate, Trainer.test, and Trainer.predict with high probability.

`log_every_n_steps` works with the trainer's `global_step` to determine if data is going to be logged: https://github.com/PyTorchLightning/pytorch-lightning/blob/f9b9cdb0d1d4e26d25fe13f19f12ea88690aa0a8/pytorch_lightning/trainer/connectors/logger_connec

[2021-11-09 03:46] a-kore commented on #10389
Nice find, I'm on an older version (1.3.7) with a project I'm working on and I can't find a "fetching.py" under utilities. It must be something fairly new, maybe it was meant to be inside a conditional for "reload_dataloaders_every_epoch".

[2021-11-09 03:56] williamFalcon commented on #10410
I think going from this:
[code]

to

[code]

is a major step backwards in usability. now users have to dig into docs to understand how to use things. it definitely violates the "one-less-thing-to-remember" part of the API.

I guess, I'm just wondering why we're exploring this? I thought we were already pretty stable on the device API stuff

[2021-11-09 03:59] carmocca commented on #9726
Even if we choose to remove the flag, we will need to fix the logger connector

[2021-11-09 05:09] ThomVett opened #10427 "Broken links in the Example section of the README"
Hello all,

Was reading the README and realized that the links `Example` section of the [README](https://github.com/PyTorchLightning/pytorch-lightning#examples) are broken.

The fist MNIST hello world link works but the other links do not work.

Thanks,

Thomas

[2021-11-09 05:11] cowwoc commented on #5449
Watch out. Version 1.5.0 changes the default value of `max_steps` from `None` to `-1` so:

[code]

has to be changed to:

[code]

[2021-11-09 05:34] ananthsub commented on #9726
If we removed the flag, wouldn't this code also disappear from the logger connector? `log` would always `log` then

[2021-11-09 05:39] lewjonan commented on #10362
@SeanNaren Hey, I have met a similar problem with @bryant1410. I tried the above branch, and it works for me.

[2021-11-09 06:15] cowwoc commented on #9390
@tchaton @carmocca @awaelchli So, some bad news regarding https://github.com/PyTorchLightning/pytorch-lightning/pull/9915...

Yes, worker processes are getting killed. But for some reason this is happening after every epoch instead of after a full training cycle. This means that even when I have `DataLoader(persistent_workers=True)` the workers are continually being killed and performance is terri

[2021-11-09 08:23] justusschock commented on #10410
@williamFalcon The more kinds of accelerators we get, the more flags we will also have. Switching from `Trainer(gpus=8)` to `Trainer(tpu_cores=8)` also requires users to dig through the docs. Actually I find it easier to have `Trainer(devices=2, accelerator='gpu'/'tpu')` as the flags stay the same, it is easier to remember and also scaling better. So personally this would be the "one-less-thing-to

[2021-11-09 08:24] MinWang1997 commented on #10352
Thank you for your reply.

They also use defined a trainer similar to pytorchlightning. It would be nice if you could add them to trainer class.
The learning rate scheduler and Batch normalization  momentum are initiated in the [trainer class.](https://github.com/ethnhe/FFB6D/blob/master/ffb6d/train_ycb.py)

The learning rate scheduler is from torch.optim.lr_scheduler

The BNM is defined in [pytor

[2021-11-09 08:32] justusschock commented on #10427
Basically all links to examples from Bolts are not working.

The reason for this is, that they were moved to the deprecated section within bolts: https://lightning-bolts.readthedocs.io/en/latest/deprecated/models/reinforce_learn.html

Do we still want to list them although this is deprecated?
cc @Borda @ananyahjha93

[2021-11-09 08:39] Borda commented on #10427
I think that the issue is that we refer to the latest which may not be stable at all times...
Let's link to particular release/tags... @ThomVett mind sending a fix by replacing `latest` in links with a tag where we still had the examples at the expected paths?

[2021-11-09 09:58] awaelchli commented on #10371
@gitabtion Yes, definitely it should be
[code]
Apologies for not catching that immediately.
The model must be wrapped to be working properly with precision. This should explain your memory problem.

But the error you get is a bug. We are currently converting all inputs unconditionally to the given precision type, but we should only do that for floating point tensors and not for the types Long, Int

[2021-11-09 10:35] rohitgr7 opened #10430 "Unable to access datalaoders within `configure_optimizers`"
## Proposed refactoring or deprecation

Before v1.5, the dataloader hooks were patched to model and were easily accessible within `configure_optimizers` to setup total training steps for scheduler. But now since they are no longer patched,
https://github.com/PyTorchLightning/pytorch-lightning/blob/0ed5e3dc8abcec40aacd64cc9175590bb1409759/pytorch_lightning/trainer/connectors/data_connector.py#L213-

[2021-11-09 11:13] tchaton commented on #10410
@williamFalcon As @justusschock shared, the previous approach doesn't scale well and makes exploration confusing.

Furthermore, the new API provides an `auto` as follows:

[code]

which would make the code runnable on every hardware without any code changes. Which isn't possible with the previous API.

[2021-11-09 11:27] kaushikb11 commented on #10362
Hi @lewjonan, could you try reproducing the issue with #10428 branch?

[2021-11-09 12:32] tchaton opened #10431 "[RFC] Fault Tolerant Improvement"
## 🚀 Feature

PyTorch Lightning 1.5 introduces Fault Tolerant Training and some users are already reporting some issues with it.
This was expected as the supported use case are still limited and the users are trying to feature hoping it would work for their own use case.

To improve the experience, here are 3 proposed steps:
- [] Implement a Fault-Tolerant Supported use case validator which could

[2021-11-09 12:33] tchaton commented on #10358
Dear @pzelasko,

After brainstorming with @awaelchli, we believe your use case is too complex to be fully automated by Lightning.
However, we are planning to add support for a manual fault tolerant on the data loading part.
So Lightning will collect the state_dict from the data loaders and re-inject them on loading. The user will be responsible to implement the logic and we will provide an advance

[2021-11-09 12:38] tchaton commented on #9390
Dear @cowwoc,

Would you be willing to make a PR with this change ?

Best,
T.C

[2021-11-09 13:00] #10362 closed

[2021-11-09 14:19] carmocca commented on #10348
@four4fish your PR (#10418) says "partially fixes".

Do we need to re-open this? What's left for us to do here?

[2021-11-09 14:21] #10371 closed

[2021-11-09 15:02] Raahul-Singh opened #10435 "Better name for parameter in RichProgressBarTheme"
In the `RichProgressBarTheme`, there is a parameter `batch_process`
Would it be better to call it `batch_progress`

For reference,
[code]

[2021-11-09 15:12] carmocca commented on #7650
So is this about having something similar to the dataclass `__post_init__`? Called by the Trainer? When would it be called exactly?

[2021-11-09 15:15] SeanNaren commented on #10435
hey @Raahul-Singh!

names definitely need to be cleaned up for sure!

`batch_process` changes the colour of the text for the progress tracker (i.e `10/50` batches completed). Maybe we should just making it `batch_progress_text`? Would really help us if you could make a PR to change this name!

[2021-11-09 15:24] kaushikb11 commented on #10435
I think `batch_progress` sounds good! We don't have `_text` suffix to other attributes

[2021-11-09 15:28] carmocca commented on #9726
Yes, but it's a long time between deprecation and removal, we would want to fix it

[2021-11-09 15:29] awaelchli commented on #10377
Ok thanks, just wanted to make sure I don't go in a completely wrong direction with this. Will send a PR and see if tests pass.

[2021-11-09 15:29] carmocca opened #10436 "`log_every_n_steps` is broken for `Trainer.{validate,test,predict}`"
The huge issue today with `log_every_n_steps` is that with high probability, it is broken for Trainer.validate, Trainer.test, and Trainer.predict.

`log_every_n_steps` works with the trainer's `global_step` to determine if data is going to be logged: https://github.com/PyTorchLightning/pytorch-lightning/blob/f9b9cdb0d1d4e26d25fe13f19f12ea88690aa0a8/pytorch_lightning/trainer/connectors/logger_conne

[2021-11-09 15:31] SeanNaren opened #10437 "DeepSpeed should not fail if batch size cannot be inferred"
## 🐛 Bug

Currently if DeepSpeed is not able to infer the batch size from the dataloader, this fails. To get around this, you need to instantiate the plugin and pass the batch size via `strategy=DeepSpeedPlugin(logging_batch_size_per_gpu=1)`.

The annoying thing is, this variable is only used in DeepSpeed for internal batch size logging. We've by default turned this off, so users do not even see t

[2021-11-09 15:52] awaelchli commented on #7650
Yes exactly. It would be called once the accelerator connector has finished setup and instantiating all objects needed.

[2021-11-09 16:14] awaelchli commented on #10430
@rohitgr7 Good observation.

Yes, this was indeed a somewhat breaking change and it was not fully intentional. However, one could also argue this was a bug or at least undefined behavior. Previously, if we called train_dataloader(), e.g., through the trainer, it would still have lead to Trainer calling it a second time later on when it got reset, if I recall correctly.

For the purpose of document

[2021-11-09 16:43] cowwoc commented on #9390
@tchaton I just tested https://github.com/PyTorchLightning/pytorch-lightning/pull/10434 and it works great. Performance is way up and workers are shut down properly when training ends non-exceptionally.

The next problem I discovered is that when training is aborted by Optuna throwing `TrialPruned` exception then the workers are not shut down. I added a breakpoint in `AbstractDataFetcher.teardown(

[2021-11-09 16:49] cowwoc commented on #9390
@carmocca Is it possible to reopen this issue until we fix exception-handling?

[2021-11-09 17:22] ThomVett commented on #10427
@Borda here is a PR https://github.com/PyTorchLightning/pytorch-lightning/pull/10440
- keeping latest for pytorch-lightning links
- tagging to 0.4.0 for lightning-bolts links

[2021-11-09 17:23] carmocca commented on #10309
@PyTorchLightning/core-contributors 👍 if you are fine with (3b), or comment if you have other ideas/thoughts.

[2021-11-09 17:48] ananthsub commented on #10414
This could easily be a separate utility function. maybe `utilities/gpu.py` : https://github.com/PyTorchLightning/pytorch-lightning/blob/e61a98a3d0cbe28f1df41841b4766166dd9ea531/pytorch_lightning/accelerators/gpu.py#L88-L137

Which the accelerator could call.

[2021-11-09 20:06] #10373 closed

[2021-11-09 22:14] tchaton commented on #10416
Yes, definitely really excited about this. I am quite eager to finally see the accelerators marked as a stable API targetting v1.6.

[2021-11-09 22:47] awaelchli commented on #10343
agreed. One could also consider 1 step instead of 1 epoch, since 1 epoch is not guaranteed to be "small" or even finite.

[2021-11-10 00:30] pzelasko commented on #10358
That sounds interesting. Samplers in Lhotse already implement retrieving and storing state dicts so we could possibly try it out with little effort. See: https://github.com/lhotse-speech/lhotse/blob/ebf047280c2c409fd667c0901df8c1e545f43d2d/lhotse/dataset/sampling/single_cut.py#L106

The only caveat is that I accepted to lose num_workers * prefetch_factor batches; I’m not sure what is a clean way t

[2021-11-10 00:31] carmocca commented on #10389
Should have been fixed by #10434 which landed with the 1.5.1 release

[2021-11-10 03:02] ananthsub opened #10444 "[RFC] Move Trainer's loop-affecting arguments to `fit`, `validate`, `test`, and `predict`"
## Proposed refactoring or deprecation

### Background
We are auditing the Lightning components and APIs to assess opportunities for improvements:
- https://github.com/PyTorchLightning/pytorch-lightning/issues/7740
- https://docs.google.com/document/d/1xHU7-iQSpp9KJTjI3As2EM0mfNHHr37WZYpDpwLkivA/edit#

This issue aims to address how loop conditions are specified when using the Lightning trainer.

[2021-11-10 03:20] ananthsub opened #10445 "Remove custom `AllGatherGrad` implementation in favor of `torch.distributed`'s"
## Proposed refactoring or deprecation

### Motivation

Lightning has a utility defined for all gather with gradients here: https://github.com/PyTorchLightning/pytorch-lightning/blob/d515bcac969c2a485ada673e302bfac51f142331/pytorch_lightning/utilities/distributed.py#L200-L222

However, this is already available in torch distributed: https://github.com/pytorch/pytorch/blob/6b44e75f6bccca7acc8ec31a6

[2021-11-10 03:47] carmocca opened #10447 "`model.to_torchscript()` prints an unrelated deprecation warning"
## 🐛 Bug

Looks like https://github.com/PyTorchLightning/pytorch-lightning/blob/d515bcac969c2a485ada673e302bfac51f142331/pytorch_lightning/core/lightning.py#L82 is not working as expected.

### To Reproduce

[code]

prints

[code]

4 times.

### Expected behavior

No warning

### Environment

Master

### Additional context

Necessary for #9939

[2021-11-10 04:42] #9208 closed

[2021-11-10 04:56] ananthsub commented on #9407
@carmocca @tchaton : concretely

1. Deprecate the `on_hpc_save` and `on_hpc_load` model hooks: https://github.com/PyTorchLightning/pytorch-lightning/blob/47e7a2860fc6c6f8d4a9117e213d9f5c0246d4f4/pytorch_lightning/core/saving.py#L218-L234
2. Deprecate `CheckpointConnector.hpc_save`: https://github.com/PyTorchLightning/pytorch-lightning/blob/ce149f64517883caf8abce7718c7bca5769f43ce/pytorch_lightning

[2021-11-10 05:35] carmocca commented on #9407
`.pl_auto_save_ckpt` is the fault-tolerant checkpoint, but this should probably not be there.

Could be removed instead of deprecated, as this is hidden inside the `CheckpointConnector` which is not a public component.

[2021-11-10 07:26] justusschock commented on #10309
@carmocca what about an already initialized loop so that I could do

[code]

And the replace function only takes care of connection? We could also support both with a simple check I think so that you can pass the class for an unchanged init and an instance for a changed init

[2021-11-10 09:43] kaushikb11 opened #10455 "Support Bagua Training Plugin"
## 🚀 Feature

Bagua is a deep learning training acceleration framework for PyTorch.
You could read more the supported features and benchmarks [here](https://tutorials.baguasys.com/).
Mnist [Example](https://github.com/BaguaSys/bagua/blob/master/examples/mnist/main.py).

We could support it by introducing a new `BaguaPlugin` for training by passing it to the `strategy` flag

[code]

cc @borda @akih

[2021-11-10 11:04] rohitgr7 commented on #10447
dup: https://github.com/PyTorchLightning/pytorch-lightning/issues/10092?

[2021-11-10 11:11] rohitgr7 commented on #9359
the first warning must not be there anymore since v1.5 has been released.
The issue with second warning is being tracked here: https://github.com/PyTorchLightning/pytorch-lightning/issues/10092

closing this one.

[2021-11-10 11:11] #9359 closed

[2021-11-10 11:29] rharish101 opened #10456 "When auto-selecting GPUs, prioritize previously used GPUs"
## Proposed refactoring or deprecation

When auto-selecting GPUs, Lightning iterates over available CUDA devices in sequence as follows:
https://github.com/PyTorchLightning/pytorch-lightning/blob/4755ae60b71a857a17f39dba1189c2c3245660f5/pytorch_lightning/tuner/auto_gpu_select.py#L48-L58

We should first check GPUs that have been previously used, and then check the unused ones.

### Motivation

Say

[2021-11-10 11:51] JackCaster opened #10457 "`overfit_batches` does not work with `WeightedRandomSampler`"
## 🐛 Bug

When the sampler `WeightedRandomSampler` is used in the dataloader, the option `overfit_batches` does not work properly as a new random batch will be loaded every time.

### To Reproduce

`WeightedRandomSampler` uses a multinomial distribution under the hood to sample data points given some weights. In the command line, if I set the seed, then I am able to sample the same points

[code]

[2021-11-10 12:12] rohitgr7 opened #10458 "Fix `extract_batch_size` for string values and custom batches"
## Proposed refactoring or deprecation

String values and custom batches are not handled correctly while extracting batch sizes.

### Motivation and Pitch

**For string values:**
Currently when we try to infer the batch_size to be used for accumulating the metrics, for string values we do this:
https://github.com/PyTorchLightning/pytorch-lightning/blob/aad86423f731d1cbc175291825da161c71123006/pyto

[2021-11-10 12:13] rohitgr7 commented on #10349
@cgarchbold your issue is being handled here: https://github.com/PyTorchLightning/pytorch-lightning/pull/10408

I agree with the above discussions. Opened an issue here: https://github.com/PyTorchLightning/pytorch-lightning/issues/10458

[2021-11-10 12:23] rohitgr7 commented on #10190
I can add some checks for it.

yeah that is mentioned in the title, but I also mentioned `timm` since it caused this issue to come up.

True, I got skeptical about this when I actually started working on it and removing the checks which are specific for pytorch native schedulers. Where do we draw the line? I don't know for this one. Couldn't find a way to support this really but it has come up a f

[2021-11-10 12:37] romovpa commented on #10430
Hi! @rohitgr7 @awaelchli
I have a use case where I need to access the training data loader in `configure_optimizers()`, not vise-versa.

I'm working on integrating Lightning with [Opacus](https://github.com/pytorch/opacus) (it enables training with differential privacy). This [pull request](https://github.com/pytorch/opacus/pull/250) demonstrates how PL user can add privacy by just wrapping optimi

[2021-11-10 12:42] immanuelweber commented on #10458
Coming from issue https://github.com/PyTorchLightning/pytorch-lightning/issues/10349 I'd also like to add here that also lists of other types than strings would end up throwing a warning, like in my case with pathlib's Paths.
The proposed return of None and also throwing an error is also somehow inconvenient, since I can't see why a list with the length of the batch size should result in a warning

[2021-11-10 13:20] TheMrZZ commented on #10389
Tested the new 1.5.1 release today, looks like performance is back on track. Thanks to everyone!

[2021-11-10 14:21] carmocca commented on #10447
Yep!

[2021-11-10 14:21] #10447 closed

[2021-11-10 14:25] carmocca commented on #10092
Hi @awaelchli! Do you have any intuition of how we could work around this?

I encountered it yesterday (opened https://github.com/PyTorchLightning/pytorch-lightning/issues/10447) as it completely blocks #9939 which I wanted to finish before there are any new deprecations. I thought https://github.com/PyTorchLightning/pytorch-lightning/blob/d515bcac969c2a485ada673e302bfac51f142331/pytorch_lightning

[2021-11-10 14:42] rbracco opened #10460 "Lightning 1.5 auto adds "fit" key to top level of CLI config breaking jsonargparse configuration check"
## 🐛 Bug

Since the CLI subcommands were added in 1.5 my config files break after running because a new top level key "fit" is added. I run the command `python train_scripts/trainer.py fit --config config.yaml` as recommended in the docs and this runs properly, but the config.yaml is overwritten and goes from the format
[code]
to having it all nested under the 'fit' key as follows:
[code]

then wh

[2021-11-10 15:04] rohitgr7 commented on #10458
@immanuelweber  we can't say for sure what the list might consists of.. it can be strings/objects/lists or anything so we can't say for sure whether it's the actual batch_size by just returning the length of the list. we need to go deeper and find a tensor which sounds like a reliable solution to me. Before the warning was added a lot of users never complaint so looks like instead of just add more

[2021-11-10 15:12] immanuelweber commented on #10458
@rohitgr7 that's exactly the point, one can not handle every possible scenario, why then introduce warnings that can handle some of them but requires others to disable it, even though the scenario is perfectly valid. Why not just check the tensors and ignore everything else, if this check is actually required. My feeling is that with this new warning there is complexity added.

[2021-11-10 15:20] rohitgr7 commented on #10458
yeah.. my suggestion is just to check the tensors and iterables containing tensors, raise a warning if multiple batch sizes are found and raise an error if no batch_size can be inferred. updated the description.

[2021-11-10 15:29] immanuelweber commented on #10458
mh ok. btw I don't see how I can prevent this warning by passing batch_size to the log calls. I have it in all of them and even removed all of them for comparison, but this warning is raised regardless.

[2021-11-10 16:59] rohitgr7 commented on #10458
will be fixed by this: https://github.com/PyTorchLightning/pytorch-lightning/pull/10408

[2021-11-10 17:48] tchaton commented on #9407
Hey @ananthsub,

Most of this logic is used within `slurm_sigusr1_handler_fn` to automatically restart SLURM training. I believe we can refactor this code to live within the handler instead.

And I would rename `hpc_resume_path` into `auto_resume_path` which is used for Fault Tolerant Auto Restart and possibly Elastic Training in the future.

[2021-11-10 17:52] tchaton commented on #9390
Hey @cowwoc,

Yes, I was planning to do so. Thanks for pinging us.

Best,
T.C

[2021-11-10 18:12] tchaton commented on #9390
Hey @cowwoc,

Mind trying out this PR: https://github.com/PyTorchLightning/pytorch-lightning/pull/10463

Best,
T.C

[2021-11-10 18:19] tchaton commented on #10358
It should be fine. Lightning capture the state alongside the batch. So worth checking this out.

Are you on Lightning Slack, if yes, you would mind contacting me, I have the same username as on Github.

Best,
T.C

[2021-11-10 20:03] awaelchli commented on #10092
To work around this, we would have to introduce a variable ourselves on the LightningModule, and guard the deprecation warnings.

[2021-11-10 20:47] awaelchli commented on #9726
@ananthsub I disagree with your assessment.

1. It not submitting logs on step during the evaluation does not mean it is "broken". It is in fact intentional. It has nothing to do with the log interval.

2. The `log_every_n_steps` does not turn off `self.log`, it only prevents logs being sent to the logger object. That means the on_epoch accumulated and reduced metrics will always be correct, in th

[2021-11-10 21:21] ananthsub commented on #9726
@awaelchli IMO LightningModule.log does way too many things. If you had to describe it in one line, how would you do so?

That's where these misunderstandings emerge from. It's also named log, and Lightning offers Loggers, so it's understandable to think that log would always pass data to loggers.

[2021-11-10 21:44] adamjstewart opened #10469 "LightningDataModule: GPU data augmentation support"
## 🚀 Feature

Data augmentation libraries like Kornia support computation directly on the GPU, greatly speeding up the rate at which images can be sampled. I would like to be able to perform these kinds of GPU transforms in a LightningDataModule.

### Motivation

In [TorchGeo](https://github.com/microsoft/torchgeo), we use PyTorch Lightning to organize reproducible benchmarks for geospatial datase

[2021-11-10 23:30] tjruwase commented on #10378
@SeanNaren, I have submitted a DS PR [1548](https://github.com/microsoft/DeepSpeed/pull/1548) for this issue.

[2021-11-11 04:13] puhuk commented on #10445
Let me take this :)

[2021-11-11 04:25] bolandih opened #10471 "DDP is not working with Pytorch Lightning"
I am using DDP in a single machine with 2 GPUs. when I am running the code it stuck forever with the below script. The code is working properly with dp and also with ddp using a single GPU.

GPU available: True, used: True
TPU available: False, using: 0 TPU cores
LOCAL_RANK: 0 - CUDA_VISIBLE_DEVICES: [0,1]
Using native 16bit precision.
LOCAL_RANK: 1 - CUDA_VISIBLE_DEVICES: [0,1]
Using native 16bit

[2021-11-11 05:20] akihironitta commented on #10471
@H-B-L `pytorch-lightning==1.0.0` is not tested against `torch==1.9` which I checked in the release tag: https://github.com/PyTorchLightning/pytorch-lightning/tree/1.0.0#continuous-integration.

In addition, `1.0.0` was released more than a year ago, and there are quite a number of bugfixes/improvements since then, so would you mind updating the version and giving it a try again? You can upgrade t

[2021-11-11 05:34] akihironitta commented on #9216
I fancy this suggestion! Shall we proceed forward?

[2021-11-11 06:30] akihironitta commented on #9519
This issue should be addressed before #9216.

[2021-11-11 06:50] akihironitta opened #10473 "Revamp GitHub labels"
## 🚀 Feature

- [x] 1. Add/edit/remove labels
- [ ] 2. Check/update configs which uses outdated labels
  - https://github.com/PyTorchLightning/pytorch-lightning/blob/master/.github/mergify.yml
  - https://github.com/PyTorchLightning/pytorch-lightning/tree/master/.github/ISSUE_TEMPLATE
  - https://github.com/PyTorchLightning/pytorch-lightning/blob/master/.github/stale.yml

### Motivation
To address

[2021-11-11 06:59] akihironitta commented on #10473
Could someone update labels at https://github.com/PyTorchLightning/pytorch-lightning/labels?

[2021-11-11 08:50] justusschock commented on #10092
We could try to patch the `warnings.warn()` with `@torch.jit.ignore` [(source)](https://pytorch.org/docs/stable/generated/torch.jit.ignore.html?highlight=torch%20jit%20ignore#torch.jit.ignore).

Other than that, I have no idea, sorry :/

[2021-11-11 09:04] tchaton commented on #10469
Hey @adamjstewart,

Awesome work on TorchGeo, you can actually easily enable GPU transform on your DataModule.

Check this DataModule in Lightning Flash: https://github.com/PyTorchLightning/lightning-flash/blob/master/flash/core/data/new_data_module.py#L240.

The DataModule implements an `on_after_batch_transfer` hook which will be attached to the Model during training.

In Flash, the dataset owns

[2021-11-11 09:14] kaushikb11 commented on #10473
According to the Google doc.

@akihironitta Where's the doc?

I could. What's the goal?

[2021-11-11 10:11] SeanNaren commented on #10378
Amazing! thanks @tjruwase, once a release is made I'll close this issue

[2021-11-11 10:36] rohitgr7 commented on #10430
I think moving the configure_optimizers later would be better since moving the dataloader initialization call outside FitLoop is  inconvenient plus we only initialize optimizers during `.fit` so moving this initialization inside Fit Loop might be better. Although that will require a lot of changes around sharded/deepspeed since they do their initialization and wrap them around in a different way.

[2021-11-11 10:48] lucmos opened #10475 "ModelCheckpoint doesn't save in default_root_dir hierarchy with Neptune logger"
## 🐛 Bug

The `ModelCheckpoint` callback stores the checkpoint outside the `default_root_dir` if the Neptune logger is used. In particular they are stored in `cwd() / .neptune /  ...`

### To Reproduce

https://colab.research.google.com/drive/1NAYpHgXqWZEnJg_fehalpHwUNclx8UTi?usp=sharing

tl;dr: this is where the checkpoints get stored:

[code]

### Expected behavior

The checkpoint should be stor

[2021-11-11 11:41] artuntun commented on #1113
this solution is not working for me. I have two loggers, mlflow and tensorboard so when I access `self.logger.experiment` I get a list. Accessing the first item returns me a `MlflowClient` object and not a `MLFlowLogger`. This means that I can't access the `run_id` property by `self.logger.experiment[0].run_id`

Any idea why is not returning a `MLFlowLogger` object.
My Trainer looks like this

[co

[2021-11-11 12:38] tchaton commented on #10389
Dear @TheMrZZ,

Thanks for your investigation and hopefully we solved this ugly bug.

Best,
T.C

[2021-11-11 12:42] tchaton commented on #10456
@kaushikb11 Any thoughts ?

[2021-11-11 12:43] tchaton commented on #10457
Dear @JackCaster ,

Would you mind making your notebook public ?

Best,
T.C

[2021-11-11 13:05] rharish101 commented on #10456
I also noticed that `pick_single_gpu` is not used anywhere in the code. Maybe we can combine `pick_single_gpu` with `pick_multiple_gpus` to create a `pick_gpus` that can avoid traversing the loops multiple times, and maintaining an `exclude` list.

I've added this to my branch (https://github.com/rharish101/pytorch-lightning/tree/feature/10456-better_gpu_select) as follows:
https://github.com/rhar

[2021-11-11 13:10] JackCaster commented on #10457
Done. It should work now

[2021-11-11 13:18] H-B-L commented on #10471
I used the latest version of PyTorch lightning and has the same issue. The reason I used an old version of PyTorch lighting is that I want to run the code in Spyder, not in the terminal.  DDP in the latest versions should be run as a script in the terminal.

[2021-11-11 13:59] rohitgr7 commented on #10475
well I think since neptune doesn't provide an option to specify the directory to save the logs, we rely on the default one that neptune uses internally. So the basic idea is to use the directory used by logger and if it's not there, use the `default_root_dir`.

[2021-11-11 14:07] rohitgr7 commented on #10457
@JackCaster thanks for share the example.. looks like a bug.. will investigate more :)

[2021-11-11 14:20] kaushikb11 commented on #10456
Hi @rharish101, the proposal sounds good.

I have a question, here you check if the GPU is being used before.
[code]
Let's consider GPU 0 has some PyTorch program running, it will return as True and crash if it is selected by Trainer, right?

Wouldn't that be bad user experience? As there would be other GPUs available.

[2021-11-11 14:36] carmocca commented on #10092
That would be a great solution but unfortunately does not seem to work. I opened a PR with the flag proposed by Adrian.

[2021-11-11 14:43] rharish101 commented on #10456
Hi @kaushikb11, AFAIK `torch.cuda.memory_reserved` only shows memory reserved by the current process, not by any other PyTorch process. That way, we are actually making it safer.

[2021-11-11 15:15] kaushikb11 commented on #10456
@rharish101 Sounds good! :)
You could go ahead with the PR. Thanks!

[2021-11-11 16:30] carmocca commented on #10473
Let me take care of it as I wrote the document :P

[2021-11-11 16:33] carmocca commented on #9519
This should be easier after #10473 as it provides more fine-grained labels

[2021-11-11 17:33] carmocca commented on #10460
Mind sharing your `LightningCLI` implementation and how you instantiate it?

[2021-11-11 17:35] four4fish commented on #10444
+1 love this idea!
It will be super helpful for custom loops in the future.

[2021-11-11 17:38] carmocca commented on #10471
Might be caused by

`u116642:82845:82845 [1] misc/ibvwrap.cc:63 NCCL WARN Failed to open libibverbs.so[.1]`

Can you try running a barebones pure-pytorch DDP script? It doesn't seem to be caused by Lightning

[2021-11-11 17:51] amogkam commented on #6389
@tchaton instead of having to patch it, is it possible to add a flag to disable it?

[2021-11-11 17:55] amogkam commented on #6389
Also relevant: https://github.com/PyTorchLightning/pytorch-lightning/issues/9590

[2021-11-11 18:28] jiwidi opened #10490 "BoringModel notebook import outdated"
## 🐛 Bug

The model notebook at GColab you link when creating an issue is outdated. Tries to import metrics from pytorch lightning:

[code]

I believe this is because pytorch_lightning doesn't include torchmetrics anymore, and they are a completely separate library.

### To Reproduce

Go to the link and try to run it:
https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sh

[2021-11-11 18:55] H-B-L commented on #10471
I used the [Toy Model](https://pytorch.org/tutorials/intermediate/ddp_tutorial.html) to run with pure-PyTorch DDP script and there was no issue in DDP. It seems the problem is caused by DDP itself.

[2021-11-11 19:07] rharish101 commented on #10456
Thanks for the approval! I've opened a PR (#10485) for the prioritization. I'll open another PR for the refactoring after this PR is merged (otherwise there would be a merge conflict with the PR merged later).

[2021-11-11 19:15] SeanNaren commented on #10378
I just saw a new release was made, `pip install deepspeed -U` should fix this issue :)

[2021-11-11 19:15] #10378 closed

[2021-11-11 19:19] SeanNaren commented on #10410
To address the discoverability issue, isn't it common to import the `Trainer` and see what parameters are available? Isn't this more common that going to the docs to find the parameter?

I opened the issue as I felt it was important as a community we come to an agreement as the idea was floating around a few PRs (with inconsistent agreement). It's important to have one single direction here (espec

[2021-11-11 19:53] #10435 closed

[2021-11-11 19:54] YannDubs commented on #3390
@awaelchli I'm having a similar issue. A simple way to let the users change that if needed would be to have a method `forward_example_input` in the pl.module which by default simply calls `forward` but can be modified if needed just for computing the sizes. That would be a nice feature

[2021-11-11 20:15] cowwoc commented on #9390
@tchaton I can confirm https://github.com/PyTorchLightning/pytorch-lightning/pull/10463 shuts down workers on `optuna.TrialPruned` exception. Thank you.

[2021-11-11 20:44] pritamdamania87 commented on #10471
This is probably a red herring and just means NCCL is not going to use ibverbs and would use TCP instead.

[2021-11-11 20:48] LukasHedegaard commented on #9590
I'm experiencing the same issue. The standard lightning + ray example presented [here](https://docs.ray.io/en/latest/tune/tutorials/tune-pytorch-lightning.html) works as expected for pl v1.3 and v1.4, but fails for v1.5.
I'm running on a MacBook Pro (CPU only), so the work-around for SLURM jobs doesn't work here.

[2021-11-11 21:13] gamerDecathlete commented on #4406
Has this issue been resolved? I'm using the latest version of pylightning and I seem to get this error when my number of training batches are less than my val_check_interval

[2021-11-11 21:37] rbracco commented on #10460
Sure, I've included it below. Thanks for taking a look.

[code]

[2021-11-11 22:41] CharlesGaydon commented on #9628
@awaelchli Oh that's good news! I had to manually move the metrics to the device on fit start, but I guess now I'll just update Lightning to the latest release, for a cleaner code :) Thanks for letting me know.

[2021-11-11 23:00] CharlesGaydon commented on #4493
Had the same issue, and was puzzled by the discrepancy between val and test. Thanks for the fix!

For reference, here is the [updated link for the metrics documentation](https://torchmetrics.readthedocs.io/en/latest/pages/lightning.html#logging-torchmetrics), now that they were separated to the Torchmetrics package.

[2021-11-11 23:17] simbara opened #10494 "Logger collector includes test results from other dataloaders"
## 🐛 Bug

Logger collection in test step does not work correctly when number of test loaders is 10 or greater

### To Reproduce

Collab link: https://colab.research.google.com/drive/1iNhae2jTUBXL4knJz5hd3CvfrY5D_bTD?usp=sharing

### Expected behavior
DATALOADER:1 TEST RESULTS should only include results from dataloader_idx_1

[code]
### Environment

* CUDA:
	- GPU:
		- Tesla K80
	- available:

[2021-11-11 23:53] awaelchli commented on #10471
DDP stability has improved drastically and steadily in Lightning since 1.0. If you have to stay on 1.0.0 I recommend to try the latest bugfix release 1.0.8.

[2021-11-12 00:18] awaelchli commented on #10377
@Big-Tree @carmocca I looked at this again and realized this is just an MRO issue. You need to change

[code]

to
[code]
(LightningModule goes last).

If you have
[code]
Python will search for `B.training_step` only if A does not have one defined.

[2021-11-12 01:24] ananthsub commented on #10444
@PyTorchLightning/core-contributors I'd like your feedback on this

[2021-11-12 02:23] akihironitta opened #10495 "Add docstring formatter to pre-commit"
## Proposed refactoring or deprecation
Add a pre-commit hook to standardize docstrings.
Should be addressed right before the next feature (or major?) release.

Candidate tools
- pydocstyle (http://www.pydocstyle.org/en/stable/)

### Additional context
Creating this issue so that we don't forget :]

First try in #8391 by @carmocca

___________________________________________________________________

[2021-11-12 03:12] #9798 closed

[2021-11-12 03:12] #9674 closed

[2021-11-12 03:12] #9264 closed

[2021-11-12 03:18] four4fish commented on #10422
@PyTorchLightning/core-contributors I'd like your feedback on this

[2021-11-12 07:12] ananthsub commented on #10410
Even something like gpus as lightning defines them today is ambiguous. PyTorch also supports AMD GPUs: https://pytorch.org/blog/pytorch-for-amd-rocm-platform-now-available-as-python-package/

But this isn't supported at all with Lightning because gpu assumes nvidia/cuda, whereas PyTorch's device allows for more backends.

In my head the accelerator in Lightning maps to the pytorch device being use

[2021-11-12 07:31] rohitgr7 commented on #10490
I think we should keep a bug_report notebook inside pl_examples and link that one instead so that it can be updated whenever it's required to be.

https://colab.research.google.com/github/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/bug_report_model.ipynb

[2021-11-12 07:57] Telephone1024 opened #10496 "'monitor' in lr_scheduler_config can't corporate with trainer parameter 'check_val_every_n_epoch'"
## 🐛 Bug

when I set the trainer parameter `check_val_every_n_epoch=2` while I set `monitor` on 'val/acc_epoch' of my lr_scheduler_config in `configure_optimizers` method, the error occured when the first epoch ended with message `"pytorch_lightning.utilities.exceptions.MisconfigurationException: ReduceLROnPlateau conditioned on metric val/acc_epoch which is not available."`

### To Reproduce
my c

[2021-11-12 08:36] rohitgr7 commented on #10496
you need to set the `frequency=check_val_every_n_epoch` accordingly. This is already documented [here](https://pytorch-lightning.readthedocs.io/en/latest/common/lightning_module.html#configure-optimizers) (check 2nd example)

The reason we don't check this internally because we can't conclude whether the monitor value set inside scheduler configu belongs to train or val.

[2021-11-12 08:38] rohitgr7 commented on #10494
nice catch! interested in sending a PR with the fix? :)

[2021-11-12 08:38] Telephone1024 commented on #10496
thanks a lot

[2021-11-12 08:38] #10496 closed

[2021-11-12 08:53] Nesqulck commented on #10458
You could always pass in the len of the previous list (or in a more general case the len of any container) for the next recursive call of _extract_batch_size. If you find an unknown type (e.g. strings or paths or anything other than tensors) you could just simply use the len of the previous list as the batch size. You could set this len argument as None in the constructor wich would guarantee that

[2021-11-12 09:35] tchaton commented on #9390
Hey @cowwoc, Thanks you for your implication on this :) Would you be willing to create a tutorial notebook for Lightning and Optuna in Lightning Tutorials ?

[2021-11-12 10:00] rohitgr7 opened #10498 "Avoid patching `DataHooks`"
## Proposed refactoring or deprecation

We need to avoid patching some of these datahooks:
https://github.com/PyTorchLightning/pytorch-lightning/blob/09cf167237e867f1ec67a5db87e5a02c2cea4b69/pytorch_lightning/trainer/connectors/data_connector.py#L238-L242

We have already removed the patching for dataloader related hooks here: https://github.com/PyTorchLightning/pytorch-lightning/pull/9764

### Mo

[2021-11-12 10:21] rohitgr7 opened #10499 "Update `core/lightning.py` to `core/lightning_module.py`"
## Proposed refactoring or deprecation

Update `core/lightning.py` to `core/lightning_module.py`
Possibly also update `core/datamodule.py` to `core/lightning_datamodule.py`

### Motivation

Update it since `core/lightning.py` only contains `LightningModule` so the filename doesn't signify what it contains.

### Pitch

It's a simple update. We can deprecate the old filename. Need approvals if it lo

[2021-11-12 11:07] tchaton commented on #10444
Dear @ananthsub,

Thanks for opening this issue. I wanted to make this proposition for some time already !

I entirely agree with this and I believe this change would improve `Loop Customization if designed properly as right now, the Trainer arguments aren't passed to the new loops.

However, this would be one of our biggest breaking changes and we should action on it only if both the Lightning Te

[2021-11-12 11:34] shabie commented on #10494
I could take this up if it's still for available for grabs :)

[2021-11-12 12:09] rohitgr7 commented on #10494
yes please, go ahead 🚀

[2021-11-12 12:52] shivammehta007 commented on #10312
Is `is_overridden` still available?  If yes I can take it!

[2021-11-12 13:25] H-B-L commented on #10471
@awaelchli, I mentioned in my comment that I used the latest version of PyTorch lightning and still the problem exists.

[2021-11-12 13:48] AAnoosheh opened #10506 "Multiple ModelCheckpoint callbacks format checkpoint name as {epoch}-{step}-v{version}.ckpt regardless of monitor"
## 🐛 Bug

Using more than one ModelCheckpoint is now supported as of Lightning 1.5, but if monitors are provided, the filenames of the stored checkpoints should auto-insert the metric name by default.

Instead, they are simply the standard multiple-checkpoints-in-same-directory format using the version numbers as so, for example using three callbacks with different monitors each gives:
[code]

###

[2021-11-12 13:53] carmocca commented on #10490
Yes, let's do that, we only need to update the issue template and add this ipynb

[2021-11-12 14:06] tkupek opened #10508 "DDP mode stuck with multiple GPUs when calling MAP metric"
## 🐛 Bug

I have a detection model training on multiple GPUs in DDP mode with the MAP metric.
There is a weird behavior that in some iterations, the validation gets stuck when calling the `compute()` method. All GPUs are now working on 100% load and nothing is happening for hours.

### To Reproduce

I was able to reproduce the issue with the boring model.
:warning: Make sure to run this with at le

[2021-11-12 14:17] BttMA commented on #101
Agree with @akihironitta
It is really a misbehaviour coming from `Trainer(..., precision=16, ...)` (on GPU). I tested it with `pip install pytorch-lightning` and `pip install pytorch-lightning -U` , I got the same warning ``UserWarning: Detected call of `lr_scheduler.step()` before `optimizer.step()`. In PyTorch 1.1.0 and later, you should call them in the opposite order: `optimizer.step()` before

[2021-11-12 14:32] rohitgr7 commented on #10506
you can set you filename like this:
[code]

[2021-11-12 16:53] ananthsub commented on #10444
@williamFalcon what are your thoughts on this?

[2021-11-12 17:18] carmocca commented on #10460
So you are saying that running

`python script.py fit --print_config > config.yaml`

saves the correct config, which can be used later with

`python script.py fit --config config.yaml`

but at some point `config.yaml` gets overwritten with the config format that includes the subcommand.

If that's the case, I haven't been able to reproduce it with this script

[code]

[2021-11-12 18:30] ktrapeznikov opened #10510 "DeepSpeed stage 3 and mixed precision cause an error"
## 🐛 Bug

Using `strategy="deepspeed_stage_3"` and `precision=16` causes an error

### To Reproduce

[code]

I get the following error:

[code]

### Expected behavior

it should work, right?

### Environment

[code]

- Any other relevant information: `deepspeed   0.5.6`

### Additional context

[2021-11-12 18:33] ishandutta0098 opened #10511 "AttributeError: Can't get attribute 'JigsawModel' on <module '__main__' (built-in)>"
## 🐛 Bug

I am training a `roberta-base` model for a regression task in PyTorch Lightning. It works when I use it for 1 GPU but if I use it for more than one GPU I get an error.

## Error
[code]

## To Reproduce

The entire code has been put into Google Colab and can be accessed using [this link](https://colab.research.google.com/drive/1xr0Ib5ekXCkESSjd_wAKnKkLfHzaH2Fg?usp=sharing)

The dataset us

[2021-11-12 18:40] ktrapeznikov commented on #10510
if I change `strategy="deepspeed_stage_3_offload"` and use `DeepSpeedCPUAdam` instead then I don't get an error.

[2021-11-12 19:42] elfring opened #10512 "Increase the usage of augmented assignment statements"
## Proposed refactoring or deprecation

:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of augmented assignment statements](https://docs.python.org/3/reference/simple_stmts.html#augmented-assignment-statements "Augmented assignment statements") accordingly.

Would you like to integrate anyth

[2021-11-12 20:27] cowwoc commented on #9390
Unfortunately, I am a bit overwhelmed with family chores at the moment.

The TL;DR is "Include `PyTorchLightningPruningCallback(trial, monitor="val_loss")` in Trainer.callbacks".

* Detailed tutorial: https://medium.com/optuna/using-optuna-to-optimize-pytorch-lightning-hyperparameters-d9e04a481585
* Example source code: https://github.com/optuna/optuna-examples/blob/main/pytorch/pytorch_lightning_

[2021-11-12 21:13] akihironitta commented on #101
Please see #5558 for the behaviour with `precision=16`.

[2021-11-12 23:57] four4fish commented on #10422
https://github.com/PyTorchLightning/pytorch-lightning/pull/10505 solves the enums issue

[2021-11-13 06:03] akihironitta commented on #10129
It seems the fix #10084 is working fine :)

[2021-11-13 06:03] #10129 closed

[2021-11-13 06:12] akihironitta opened #10515 "Remove `pytest-random-order` from conda tests"
## 🚀 Tiny enhancement in CI
#10084 somehow fixed #10129 by randomise the order of the tests using `pytest-random-order`, but we should identify the source of the problem of conda CI runs getting killed.

### Motivation

### Pitch
- Identify the cause of #10129
- Remove the change added in #10084
https://github.com/PyTorchLightning/pytorch-lightning/blob/fabb3644027a12c0df9acbdbc752d7ca7673396c/.gi

[2021-11-13 07:27] akihironitta commented on #10512
@elfring Hi, thank you for your suggestion. Would you mind sharing the motivation for this change other than [PEP203](https://www.python.org/dev/peps/pep-0203/#rationale) which you've shared in other issues?
- https://github.com/pypa/pip/issues/10624
- https://github.com/nedbat/coveragepy/issues/1279

I believe it won't work properly at some places if we use augmented assignments as they are in-pl

[2021-11-13 08:30] elfring commented on #10512
I find that [the rationale of the Python enhancement proposal 203](https://www.python.org/dev/peps/pep-0203/#rationale "Proposal for augmented assignments") (from 2000-07-13) can indicate also motivation for another bit of collateral evolution. :thinking:

Which of the concrete change suggestions (from which 34 source code transformations might look reasonable) would you find inappropriate (at the

[2021-11-13 10:13] os1ma opened #10518 "Step-by-step walk-through encounters some error when proceeding with Step-by-Step"
## 📚 Documentation

I'm using pytorch-lightning (1.5.1).

When I tried to go through the Step-by-step walk-through of Get Started, From MNIST to AutoEncoders, The Research, to get started with PyTorch Lightning, I found some missing code and an error.

Relevant page: https://pytorch-lightning.readthedocs.io/en/latest/starter/introduction_guide.html#the-research

## 1. lack of print

Affected part:

[2021-11-13 20:37] MinWang1997 commented on #10352
Hi,

As for the learning rate scheduler,

Can I simply add learning scheduler name as this [example](https://pytorch-lightning.readthedocs.io/en/latest/api/pytorch_lightning.core.lightning.html#pytorch_lightning.core.lightning.LightningModule.configure_optimizers) ?

def configure_optimizers(self):
    optimizer = Adam(...)
    return {
        "optimizer": optimizer,
        "lr_scheduler": {

[2021-11-13 20:48] rohitgr7 commented on #10511
here:
[code]
with gpus = -1, it will select `ddp_` (`ddp_spawn` specifically) strategy to run the job.
But I guess you are running in jupyter. Unfortunately, `ddp_` doesn't work in a notebook env.
https://pytorch-lightning.readthedocs.io/en/latest/advanced/multi_gpu.html#jupyter-notebooks
https://discuss.pytorch.org/t/distributeddataparallel-on-terminal-vs-jupyter-notebook/101404

[2021-11-13 21:43] MinWang1997 commented on #839
Hi,

I have a question, if the original datasets splitted by training and test set.

When we do data argumentation on training set, how can we apply K fold cross validation ? It seems that we can only use synthetic data for training, right?

Best wishes,
Min

[2021-11-14 08:24] yjqiang opened #10524 "The EvaluationLoop() is an instance variable owned by an instance of the class TrainingEpochLoop?"
Recently, I read part of the code in pytorch-lightning. And I found [this pseudocode about when to run the validation code](https://pytorch-lightning.readthedocs.io/en/latest/common/lightning_module.html).
[code]
We evaluate the model once on all validate datasets in `EvaluationLoop().run`, we evaluate the model once on one validate dataset in `EvaluationEpochLoop().run`, we train the model once o

[2021-11-14 09:07] tchaton commented on #10524
@awaelchli

[2021-11-14 11:32] puhuk commented on #10312
Will do with `test_v1_6_0_deprecated_hpc_load`

[2021-11-14 12:27] danielgafni opened #10526 "Updating to 1.5.0 makes lightning ignore `LightningDataModule.val_dataloader` in some cases"
## 🐛 Bug

I have a training script that was working fine with 1.4.9. I have all the dataloaders (including `val_dataloader`) defined in my `LightningDataModule`.

After updating to 1.5.0 this happens:

[code]

Also take a look at  #10341, looks like the 1.5.0 update broke the `val_dataloader` logic.

Unfortunately, I can't submit my training script.

### Environment info

* CUDA:
        - GPU:

[2021-11-14 12:40] Akanni96 commented on #7320
The above does  not work. I have found that to restore you have to place the optimizer restoration code in configure_optimizers() function

[2021-11-14 13:08] danielgafni commented on #10526
Sorry, This is weird interaction with pytest. Lightning has no issues.

[2021-11-14 13:08] #10526 closed

[2021-11-14 14:02] danielgafni opened #10527 "Updating to 1.5.0 makes lightning ignore LightningDataModule.val_dataloader in some cases"
## 🐛 Bug

I have a training script that works fine with lightning 1.4.9. After upgrading to 1.5.0 (or 1.5.1) I get this error:

[code]

Looks like other people are having this problem too: #10341

### To Reproduce
I can provide an example if it's necessary.

### Environment
* CUDA:
        - GPU:
                - NVIDIA GeForce RTX 3090
                - NVIDIA GeForce RTX 3080
        - availabl

[2021-11-14 14:58] rbracco commented on #10460
Looking at this I think the issue may be that I was using a config file I maintained from a previous version of lightning and the rules changed in 1.5. I already rolled back and have everything working but eventually I will upgrade again and reopen if the issue persists, or update confirming that the problem was the initial config formatting. Thanks for looking in to this.

[2021-11-14 14:58] #10460 closed

[2021-11-14 15:00] H-B-L commented on #10471
@pritamdamania87, Any idea how to address this issue?

[2021-11-14 16:41] daniellepintz opened #10528 "[RFC] Deprecate gradient clipping flags on the trainer"
## Proposed refactoring or deprecation

Deprecate these flags:
https://github.com/PyTorchLightning/pytorch-lightning/blob/7a9a08c5d3ca4699fb439f691c40e1320b37507a/pytorch_lightning/trainer/trainer.py#L122-L123

since users can already configure gradient clipping on the LM:
https://github.com/PyTorchLightning/pytorch-lightning/blob/7a9a08c5d3ca4699fb439f691c40e1320b37507a/pytorch_lightning/core/lig

[2021-11-14 16:54] carmocca commented on #10524
We have two instances of the same `EvaluationLoop` (`trainer.validate_loop` and `trainer.fit_loop.epoch_loop.val_loop`) because even though their functionality is the same, the state needs to be kept separated.

This would mean that running `trainer.fit` -> `trainer.validate` -> `trainer.fit` would leave the validation progress of the fit loop in a bad state, as both procedures have updated the sa

[2021-11-14 17:19] MinWang1997 opened #10529 "A100 GPU MIG feature support for trainer"
## 🚀 Feature

A100 GPU MIG feature support for trainer

### Motivation

Hi, could you update trainer class for MIG feature GPU?

For our LSF scheduler , -gpu "num=1:mig=1" will give you a single smallest possible slice (1/7th)
 -gpu "num=1:mig=7" gives you a single entire A100 GPU (80G memory)(equivalent to the previous "num=1")

What will be the number of GPU argument for trainer? The real number

[2021-11-14 18:23] carmocca commented on #10473
The labels have been updated. @akihironitta do you want to open the PR updating the configs?

[2021-11-14 19:52] rohitgr7 commented on #10527
yes, a simple reproducible example would be useful to resolve it :)

[2021-11-14 20:39] #9838 closed

[2021-11-14 20:39] #6420 closed

[2021-11-14 21:06] carmocca opened #10530 "Label tracking meta-issue (edit me to get automatically CC'ed on issues!)"
This issue is used by [lightning-probot](https://github.com/PyTorchLightning/probot) to manage subscriptions to labels. To subscribe yourself to a label, add a line * label @yourusername, or add your username to an existing line (space separated) in the body of this issue. DO NOT COMMENT, COMMENTS ARE NOT RESPECTED BY THE BOT.

This is a copy of https://github.com/pytorch/pytorch/issues/24422.

As

[2021-11-15 01:40] #9844 closed

[2021-11-15 01:40] #9370 closed

[2021-11-15 02:01] akihironitta commented on #10471
I couldn't reproduce the error with 2 GPUs on a single node:

<details><summary>details</summary>

[code]

[code]

</details>

@H-B-L Could you update the description of your environment by running the following commands?
[code]

[2021-11-15 03:35] akihironitta commented on #10512
The link you've provided is exactly the same as the one I mentioned in the previous reply (PEP203). Could you possibly fill up the "Motivation" section of this issue description above instead of just pasting the link?

For example, this one:
https://github.com/PyTorchLightning/pytorch-lightning/blob/7a9a08c5d3ca4699fb439f691c40e1320b37507a/pytorch_lightning/loops/optimization/optimizer_loop.py#L90

[2021-11-15 04:51] bibhabasumohapatra commented on #10342
"_impossible to shuffle val/test dataset in DDP_"
I wanted to say that ,  we should not be able to shuffle val/test ,  even when it is required in practice?

[2021-11-15 05:07] kaushikb11 commented on #9812
@vigneshwaran Could you try it out again with master?

[2021-11-15 05:40] kaushikb11 commented on #10407
The issue is related with the addition of `SignalConnector` in #9566

[2021-11-15 05:56] daniellepintz opened #10535 "[RFC] Deprecate `auto_select_gpus` from Trainer constructor"
## Proposed refactoring or deprecation

Deprecate `auto_select_gpus` from Trainer constructor:
https://github.com/PyTorchLightning/pytorch-lightning/blob/7a9a08c5d3ca4699fb439f691c40e1320b37507a/pytorch_lightning/trainer/trainer.py#L209-L212

### Motivation

Users can achieve the same functionality by setting the `accelerator` and `devices` flags - we can simplify by only having one way of doing t

[2021-11-15 06:08] kaushikb11 commented on #10535
@daniellepintz We do have users using it. For instance, https://github.com/PyTorchLightning/pytorch-lightning/issues/10456.
It could be pretty convenient when users are running multiple experiments on bunch of GPUs.

[2021-11-15 06:22] yjqiang commented on #10524
@carmocca But I'm still confused about, what is the difference between `ttrainer.validate_loop` validation loop and the `trainer.fit_loop.epoch_loop.val_loop` validation loop? Would you please give me some examples? I read [torch/ignite](https://github.com/pytorch/ignite) too, but it looks they just need one validation loop? https://gist.github.com/yjqiang/a25f59f976ac6bf284045ba069000b41#file-ign

[2021-11-15 06:28] daniellepintz opened #10536 "Move cuda related benchmark code from accelerator connector to GPU accelerator"
## Proposed refactoring or deprecation

Move this line of code to GPU accelerator
https://github.com/PyTorchLightning/pytorch-lightning/blob/7a9a08c5d3ca4699fb439f691c40e1320b37507a/pytorch_lightning/trainer/connectors/accelerator_connector.py#L183-L184

Alternatively, can we deprecate the `benchmark` flag as mentioned by @justusschock in #9006?

### Motivation

Since this line of code is specific

[2021-11-15 08:12] yuvalkirstain opened #10538 "Batch by maximum amount of tokens - NLP"
## 🚀 Feature

Provide an option to batch examples by the maximum amount of tokens.

### Motivation

In NLP, the memory consumption of each example is determined by the number of tokens that it possesses. Some examples might be very long (and require a lot of memory), while others might be short (and require little memory). Thus, the batch size should be determined by the number of tokens rather th

[2021-11-15 08:25] SkafteNicki commented on #10508
The problem is that you are calling `metric.compute` from only one process.
Essentially, this does not work
[code]
while this work
[code]
the reason is that `compute` will call an `dist.barrier` at some point trying to sync all processes. If `compute` only gets called on process 0 then it will wait indefinitely on the other processes trying to reach the barrier (which they never will).

[2021-11-15 09:12] lucmos commented on #10475
I see

Still, I think it is unexpected that the model checkpoints are not stored under the `default_root_dir` regardless of the logger used.

Even more so since the `default_root_dir` can be a remote path (internally handled by `fsspec`)

[2021-11-15 09:28] BttMA commented on #101
Hello @akihironitta :)
I dont see any solution in #5558. Could you be more kind and point to us where the solution is or you still working on fixing it and we shall ignore the warning until any further notice ?

[2021-11-15 09:38] shabie commented on #10538
Since I work with NLP too, this interests me too! :)

I am not sure where does pt-lightning does (or does not) do this more precisely in code?

[2021-11-15 09:44] tchaton commented on #10538
Hey @yuvalkirstain,

PyTorch Lightning provides the core block for you to build on top of and we try to avoid providing opinionated design.
There are several libraries you can use with PyTorch Lightning. I believe it is possible to use FairSeq with Lightning too.

Best,
T.C

[2021-11-15 09:45] tchaton commented on #10536
Yes, this makes sense.

[2021-11-15 09:54] kaushikb11 commented on #10536
@tchaton I don't think it does.

@daniellepintz How do you think would be the best way to pass `benchmark` to the GPUAccelerator without breaking the current interface?

[2021-11-15 09:59] tchaton commented on #10529
Dear @MinWang1997,

I would recommend setting the Trainer gpus=-1 and use gpus:mig to slice the A100 as you wish. Here is a guide: https://docs.nvidia.com/datacenter/tesla/mig-user-guide/

Did you slice our A100 into 3g.20gb or anything else ?

Best,
T.C

[2021-11-15 10:03] #9390 closed

[2021-11-15 10:04] tchaton commented on #10528
Hey @daniellepintz,

Personally, I am not in favour of this depreciation. This would be an important API breaking change and it would make discoverability of this feature harder for new users.

[2021-11-15 10:06] tchaton commented on #10524
Hey @yjqiang,

Currently, `trainer.validate_loop` and  `trainer.fit_loop.epoch_loop.val_loop` are both instances of the same `EvaluationLoop`.
There is 2 instances of them as their states can be different due to their usage.

Best,
T.C

[2021-11-15 10:09] akihironitta commented on #101
@BttMA Hi, I found the source of the problem of `precision=16` (almost always (maybe?)) causing the warning, but the fix is still wip. I'll add some comments in the linked issue #5558 now.

[2021-11-15 10:12] tchaton commented on #10518
Dear @os1ma,

Thanks for opening this issue and your PR :)

Best,
T.C

[2021-11-15 10:13] tchaton commented on #10515
Dear @akihironitta, did you look into removing it. Any ideas why the tests were failing ?

[2021-11-15 10:15] tchaton commented on #10511
Dear @ishandutta0098,

Mind putting your model within a script and importing this model directly within our notebook. Pickle has sometimes trouble to pickle objects in __main__ script.

Best,
T.C

[2021-11-15 10:20] tchaton commented on #10506
Hey @AAnoosheh,

I believe @rohitgr7 gave you the way forward. You can easily create multiple ModelCheckpoint with your metric keys and it should work as expected. Don't forget to pass them all when restoring your training from a checkpoint.

Closing this issue for now, feel free to re-open it if you have more questions.

[2021-11-15 10:20] #10506 closed

[2021-11-15 10:25] tchaton commented on #10499
Hey @rohitgr7,

I am in favour of this. It would make discoverability of the code simpler.

@ananthsub @awaelchli @carmocca Any thoughts ?

[2021-11-15 10:25] tchaton commented on #10498
Sounds good to me.

[2021-11-15 10:31] akihironitta commented on #5558
Hi @BttMA @aleSuglia The fix is still wip in #9923.

---

This issue only happens when
- `Trainer(precision=16)` AND
- `lr_scheduler.step()` runs every small steps (not epochs), i.e.
[code]

What's happening is that `scaler.step(optimizer)` (getting called when using native amp) is likely to skip `optimizer.step()` for the first few iterations, and thus, it makes `lr_scheduler.step()` called befor

[2021-11-15 10:38] akihironitta commented on #10515
@tchaton I had a similar issue before in Bolts and it was due to OOM then, but I'm not sure yet if it applies to this issue as re-ordering the tests shouldn't impact the memory usage... I'll look into this in https://github.com/akihironitta/pytorch-lightning/pull/1.

[2021-11-15 10:55] MinWang1997 opened #10539 "Add Train-dev set and train-dev_step() method for error analysis"
## 🚀 Feature

Add Train-dev set and train-dev_step() method for error analysis

### Motivation

[CS230](https://cs230.stanford.edu/blog/split/) suggests to have additional train-dev dataset to compare the error with validation set, so that we can know the bias of our model.

### Pitch

It would be nice if you also add Train-dev set for datamodule setup and train-dev_step() method for error analysi

[2021-11-15 10:57] BttMA commented on #5558
Hi @akihironitta, thanks for your mention/comment.
I am not sure how can I adapt this to my code but I can show you what my configure_optimizers looks like if it will help you fix the issue :)
[code]

[2021-11-15 10:59] tchaton commented on #10444
@awaelchli @carmocca

[2021-11-15 11:02] tchaton commented on #10239
Hey @yifuwang. Let's keep this issue pinned, so new comers can find this issue faster and propose their contributions

[2021-11-15 11:08] tchaton commented on #10422
Hey @four4fish

The tracking conversation is here: https://github.com/PyTorchLightning/pytorch-lightning/issues/10410

[2021-11-15 11:10] tchaton commented on #10410
Adding to the conversation. In this issue, a user is requesting MIG instead of GPUs for A100 like a machine: https://github.com/PyTorchLightning/pytorch-lightning/issues/10529

[2021-11-15 11:13] yuvalkirstain commented on #10538
@tchaton Thanks for the quick reply. Yes, this is indeed mostly relevant to NLP. I'll upload this feature request to Lightning-transformers.

[2021-11-15 11:13] #10538 closed

[2021-11-15 11:19] tchaton commented on #10417
Hey @awaelchli,

I know there is a strong push to remove the connectors to a minimal amount and I don't like this effort.
@williamFalcon introduced the connectors in the first hand to make the Trainer approachable to new readers and contributors. The goal was to make the highest layer of Lightning the cleanest possible.

IMO, the Trainer code right now is getting more complex than it used to be: h

[2021-11-15 11:21] yjqiang commented on #10524
@tchaton So you mean that maybe user would write like this? So they have to keep their own state?
[code]

[2021-11-15 11:22] tchaton commented on #10413
Hey @kaushikb11, I agree with this proposal,
However it seems there is lot of confusion right now as there is so many overlapping ways around device, strategy, etc...
Doing this right now would add in complexity and confusion.

[2021-11-15 11:23] tchaton commented on #10402
Dear @KinWaiCheuk,

We won't support right now LightningModule in LightningModule as it might have more complex implications.
I will close this issue for now as you have a temporary solution to get unblocked.

Best,
T.C

[2021-11-15 11:23] #10402 closed

[2021-11-15 11:27] tchaton commented on #10393
Hey @whaowhao,

You could do the following:

[code]

[2021-11-15 11:30] tchaton commented on #10377
Hey @awaelchli,

Do you believe Lightning could introspect the `mro` from the user model and share a warning if not defined this way ?

[2021-11-15 11:31] tchaton commented on #10365
Check out this issue for more information on how to use Loop Customization for this use case: https://github.com/PyTorchLightning/pytorch-lightning/issues/10393

[2021-11-15 11:33] tchaton commented on #10352
Dear @MinWang1997 ,

I believe it could be possible to add support for a `bn_scheduler`, but I don't believe this is a common use case.

[2021-11-15 11:50] elfring commented on #10512
Do you find the explanation by the Python enhancement proposal 203 (from 2000-07-13) insufficient? :thinking:

Why do you find the following source code transformation inappropriate (at the moment)? :thinking:

[code]

:thought_balloon: Would another code review eventually be performed based on data processing results from the shown Perl command example?

[2021-11-15 11:58] imanuelroz commented on #5339
I am having this problem, I set save_weights_only=True and now if I try to do resume_from_checkpoint= '/path/file.ckpt' it raise the following error: 'Trying to restore training state but checkpoint contains only the model. This is probably due to `ModelCheckpoint.save_weights_only` being set to `True`.
What should I do?

[2021-11-15 12:05] rohitgr7 commented on #10444
I like this change.

But as @tchaton mentioned this is going to be a big refactor with a lot of deprecations at least for `.fit` and we need to make sure all of them should be done within the same release if we go with this.

Just some personal opinions
Pros:
- Will help keep flags only where they are required.
- Not many changes will be required since most of the flags hover around epochs and bat

[2021-11-15 12:07] Shreeyak commented on #10458
I feel that if an Iterable is encountered, it should be ignored and not used to calculate batch size. Because of the arbitrary complexity involved, as outlined by others. I should think most of the time, if a list is being returned, the user is likely to be advanced enough to notice differing batch sizes.

I faced this warning today after updating to PL 1.5. I'm returning a list of strings of the

[2021-11-15 12:08] rohitgr7 commented on #10539
that is what validation is for exactly, to evaluate your performance on a dataset on which the model isn't trained yet and how your model is performing while training. We provided the `.validate` method to just run the validation loop over the val dataset if the user wants to. To find the best model out of all training/research, we have `.test` for it.

[2021-11-15 12:11] yjqiang commented on #10524
Thank you so much.

[2021-11-15 12:11] #10524 closed

[2021-11-15 13:07] SeanNaren commented on #10444
Does look nice from an API level however I'm wondering how does this weight against the already established familiarity of Lightning?

Things such as [this reddit comment](https://www.reddit.com/r/MachineLearning/comments/qgqq07/d_is_pytorch_lightning_production_ready/hi8axh5/) make me think very hard if the value of changing the API is worth it.

Not against such as large API change if we think t

[2021-11-15 13:07] carmocca commented on #9519
This can be done now.

https://github.com/pytorch/probot#auto-label-bot has auto-label functionality.
However, they don't publish the bot as an action which means we would have to maintain it and publish it as it was done for the auto-cc bot.

For this reason, I would try to find an action or app that supports what we want to do, and if nothing is good enough, go with our own.
I suggest you come u

[2021-11-15 13:12] carmocca commented on #10499
Agree with the renaming.

However, it should be `core/lightning.py` to `core/module.py`

because if we choose `core/lighting_module.py`, the following should also be changed
`core/datamodule.py` -> `core/data_module.py` (already pointed out in the top post)
`lite/lite.py` -> `lite/lightning_lite.py`
`utilities/cli.py` -> `utilities/lightning_cli.py`

[2021-11-15 13:19] carmocca commented on #10444
I'm fully in favor of this. This is also something I have found confusing since I initially found Lightning. However, it is a BIG design shift.

As a side note, we would need to re-think `LightningCLI(run=False)` as the new entrypoint arguments would not get parsed.

[2021-11-15 13:27] awaelchli commented on #10444
This is not Lightning anymore. In Lightning, the Trainer arguments are in one place so they can be easily configured. This change will effectively make the `Trainer.from_argparse_args` and the like not useful anymore and will have to be removed. This is the same complaint I had for removing the `resume_from_checkpoint` argument from the Trainer constructor. How will this usability problem be addre

[2021-11-15 13:35] rohitgr7 opened #10540 "`trainer.test` prints duplicate results when `self.log(add_dataloader_idx=False)`"
## 🐛 Bug

### To Reproduce

[code]

Prints:
[code]

Expected:
[code]

### Expected behavior

### Environment

- PyTorch Lightning Version (e.g., 1.3.0): master
- PyTorch Version (e.g., 1.8):
- Python version: 3.9
- OS (e.g., Linux): mac
- CUDA/cuDNN version:
- GPU models and configuration:
- How you installed PyTorch (`conda`, `pip`, source):
- If compiling from source, the output of `torch.__conf

[2021-11-15 13:36] shabie commented on #10239
I can imagine doing Lightning + Forecasting if it is up for grabs or collaboration in any sense.

[2021-11-15 13:38] Borda commented on #10444
In a certain way, I like the argument - move some arguments to particular methods for better understanding what arguments are used in the `fit`/`test` phase, but

fully agree with @awaelchli

[2021-11-15 13:52] jameschapman19 commented on #10527
[code]

[2021-11-15 13:57] jameschapman19 commented on #10527
It's also a problem for accessing model.train_dataloader as well as model.val_dataloader if you modify (in my case) on_train_epoch_end and on_validation_epoch_end

[code]

[2021-11-15 13:57] jameschapman19 commented on #10527
I can fix by hacking using `self.trainer.train_dataloader` and `self.trainer.val_dataloaders[0]`

[2021-11-15 14:02] rohitgr7 commented on #10527
[code]

you should do this only because accessing the dataloader directly from the model will reinitialize them.

at what point are you getting this error exactly?

[2021-11-15 14:02] Borda commented on #10499
I would say that the `lite/lite.py` is not very good as well as `trainer/trainer.py`

I agree with the name, just has `module.py` only ay be confusing as the same name is in PT, so could be included somehow that this module is for models or its base? aka core/lightning.py -> core/base_module.py

[2021-11-15 14:15] #10473 closed

[2021-11-15 14:24] MinWang1997 commented on #10529
Hi tchaton,

Our institute slice A100 into 8 slices each of them is 10GB. The admins told me that when I submit LSF jobs, I need to specify ‘num=1:mig=4’ for 1 GPU with 40GB size. It seems that they will treat num=1 as 1 GPU instead of 4 slices.

Do I need to `export cuda_visible_devices environment variable=0 `for 1 GPU or `export cuda_visible_devices environment variable=0,1` for num=2:mig=4’ in

[2021-11-15 14:26] jameschapman19 commented on #10527
OK have done an edit to my example

[code]

I definitely introduce the error if I try to call `self.val_dataloader()` and `self.train_dataloader()` in `on_X_epoch_end`

[2021-11-15 14:27] #9216 closed

[2021-11-15 14:28] jameschapman19 commented on #10527
Note that I have pulled the train_dataloader methods out of the LightningModule class this time.

[2021-11-15 14:28] carmocca commented on #10499
But that's a separate topic, which would be if `LightningModule` is a good name.
It should only be `base_module` if `LightningModule` was renamed to `BaseModule`.

This issue is just about consistency of the filenames. The current format is `class LightningX` -> `X.py`

So either (1):
- `lightning.py` is adapted to `module.py` for consistency with the format
- the format is changed to `class Light

[2021-11-15 14:31] MinWang1997 commented on #10539
I mean now he suggested to split dataset into train, train-dev, dev(validation ) and test set (4 subsets in total.) to solve the problem of data distribution dismatch.
He suggests to train model on your training set and validate on Val (dev) set, also validate on train-dev set to see the error/accuracy difference.

We have already 3 methods for train/Val/test_step.
It would be nice if we add addit

[2021-11-15 14:35] tchaton commented on #9883
Dear @ibro45,

Would you be interested in making a PR?

Best,
T.C

[2021-11-15 14:38] rohitgr7 commented on #10527
yes.. so I'd suggest using `self.trainer.{train/val}_dataloader` instead. Since train/val dataloader is not defined under `LightningModule`we made them agnostic to avoid patching inside 1.5. This will also avoid reinitiating the dataloaders and the trainer will contain the latest dataloader being used for the current method (.fit/validate/test). Can you try using `self.trainer.some_Dataloader?` (j

[2021-11-15 14:44] awaelchli commented on #10377
That would lead to false positives, so I advise against it. Also, in most cases the use of multiple inheritance is not well justified, and if it is, the user is the expert anyway and has to know about these things.

[2021-11-15 14:46] MinWang1997 commented on #10539
concretely,

I split my training data name list intrain_dev_split() and train_list, train_dev_lst, dev_lst

[code]
in datamodule I defined them as follows:
[code]
I hope that I can run different setting for trainer like this:

[code]

[2021-11-15 14:51] tchaton commented on #8088
Hey @borisdayma,

After brainstorming with the Lightning Team, we decided to close this issue for the following reasons:

This change has already in place for 2 major releases, so the log API supporting tensor, metrics is considered as a stable API now.

A possible idea would be for the LightningModule to support `log_{}`, but we don't believe there is a way to support all the underlying data API

[2021-11-15 14:51] #8088 closed

[2021-11-15 14:53] tchaton commented on #7880
Closing this issue as there is no progress nor manifestation from the Comet Team.

[2021-11-15 14:53] #7880 closed

[2021-11-15 14:54] tchaton commented on #7550
Hey @awaelchli,

Any updates there ?

[2021-11-15 14:56] tchaton commented on #6789
Hey @SeanNaren,

Any progress there ?

[2021-11-15 15:04] awaelchli commented on #7550
Still blocked. PyTorch does not support fork anymore and spawn does not work in notebook cells.

[2021-11-15 15:21] tchaton commented on #10529
Hey @MinWang1997,

Yes, for the meanwhile, I believe it would be the simplest approach.

[2021-11-15 15:51] tchaton commented on #10512
Dear @elfring,

I think `closure_loss /= normalize` would break with the latest PyTorch as it performs an in-place operation.

@ninginthecloud

[2021-11-15 15:53] tchaton commented on #10529
Dear @MinWang1997,

I personally don't have experience with MIG. I would say yes, it says like the right behavior to set the GPUs as env var.

Won't mig=4 map to 4 GPUs ?

[2021-11-15 15:53] MinWang1997 commented on #10352
Thank you for your reply!
Could you have a look at this question?
I just need to pass lr_scheduler by myself right?
Will lightning automatic optimization add one default scheduler?

[2021-11-15 15:55] tchaton commented on #10444
Hey @ananthsub,

This is still open to debate but here is a quick summary from the previous comments.

Pros:
* Will help keep flags only where they are required. (@rohitgr7 )
* clearer that this is not a trainer but an engine named "Trainer" (@carmocca )
* Not many changes will be required since most of the flags hover around epochs and batch limitations. (@rohitgr7 )
* Will make it easier to impl

[2021-11-15 16:07] elfring commented on #10512
* :thought_balloon: Are in-place modifications generally supported by all involved Python software libraries?
* Can run time characteristics eventually be influenced in desirable directions? :thinking:

[2021-11-15 16:15] carmocca commented on #10471
Have you tried with PyTorch 1.7 to 1.10? We don't have testing for 1.11 yet

[2021-11-15 16:15] justusschock opened #10543 "LightningLite not working with ModuleList and ModuleDict"
## 🐛 Bug

### To Reproduce
[code]
### Expected behavior

Model on correct device and still iterable

I see two possibilities here:
1.) we could apply the setup to each module within a `torch.nn.ModuleList`
2.) We could derive a class from `torch.nn.ModuleList` and `_LiteModule` to have methods and properties of both classes.

Whatever solution we choose, we probably need to do the same for `torch.

[2021-11-15 16:17] carmocca commented on #10543
I don't quite understand what (2) proposes but (1) seems more natural

[2021-11-15 16:22] justusschock commented on #10543
you could do something like
[code]

to ensure that the returned model still has all the attributes the `_LiteModule` has. This probably requires the least tweaking, since we possibly have to introduce multiple checks for accessing plugins etc when the returned module is no longer a `_LiteModule` but a ModuleList wrapping several `_LiteModules`. Also that way we have less references to the same plu

[2021-11-15 16:24] ktrapeznikov commented on #10510
stage 2 with and without offload works with fp16

[2021-11-15 16:32] awaelchli commented on #10543
Workaround is to change

[code]

to

[code]

1) seems ok to me and we would have to re-instantiate the list/dict module.
I'm not sure 2) is valid as there could be wrong decisions based on isinstance checks in the user code.
I think in general, no matter what we do, the user has to be aware that we are wrapping their module and that they have to access their attributes via `model.module.attribute`

[2021-11-15 16:50] #9140 closed

[2021-11-15 16:57] borisdayma commented on #8088
Thanks for the feedback. Ping me back if you want to support it at some point.

[2021-11-15 17:15] carmocca commented on #9498
Closing this, we recommend https://github.com/PyTorchLightning/pytorch-lightning/issues/9498#issuecomment-936015637 going forward

[2021-11-15 17:15] #9498 closed

[2021-11-15 17:28] four4fish commented on #10422
Hi Thomas, the  #10410 is part of the topics this issue is discussing

[2021-11-15 17:54] #9302 closed

[2021-11-15 18:21] tjruwase commented on #10510
@SeanNaren and @ktrapeznikov, I am taking a look.

[2021-11-15 18:25] proutrc commented on #10216
@awaelchli Hopefully my last question made sense.

Ultimately, it appeared the new env variable and parsing worked. I could see it seemingly initialize the GPUs if I _don't_ use the `DDPPlugin`, but the model never runs (just hangs there).

The switching to the `DDPlugin` caused some different behavior (seems like it doesn't like the trainer setup, as it is, with this plugin).

Please let me know

[2021-11-15 18:42] ananthsub opened #10546 "[refactor] Clean up progress bar callback attribute on Trainer"
`progress_bar_callback` has a separate attribute on the Trainer like this: https://github.com/PyTorchLightning/pytorch-lightning/blob/01cf7a2ac5a6db588d53c70da1db8d0adcc7641c/pytorch_lightning/trainer/connectors/callback_connector.py#L97-L102

Should we define a property like this which is derived from the `callbacks` property? https://github.com/PyTorchLightning/pytorch-lightning/blob/40945a51765

[2021-11-15 19:13] #10323 closed

[2021-11-15 19:44] tkupek commented on #10508
Thanks for the hint. I fixed the obvious error, but can still reproduce the error by an empty prediction Tensor on one of the GPUs:

[code]

What is the problem here? Is it the empty tensor that makes DDP fail? Do we need to filter them out in the `.update` method of the MAP metric?

[2021-11-15 20:10] daniellepintz commented on #8506
@ananthsub are you okay with option d above in https://github.com/PyTorchLightning/pytorch-lightning/issues/8506#issuecomment-903194369? We can add a check to make sure this is only called on Callback, LM, or Accelerator?

[2021-11-15 20:27] daniellepintz commented on #8506
Another thought I had is do we expect users to sometimes want to call a hook on a callback directly? i.e. instead of calling `self.trainer.call_hook(self.trainer, "on_before_zero_grad", optimizer)`, call `self.trainer.progress_bar_callback.call_hook(self.trainer, "on_before_zero_grad", optimizer)`? (They could do that with option d, just curious if we think this will be used?)

[2021-11-15 20:40] kaushikb11 opened #10549 "[RFC] Introduce `Strategy` in favor of `TrainingTypePlugin`"
## Proposed refactor

Part of #9932
Related PR: #10548

### Motivation

As we are introducing `StrategyPlugin` in favor of `TrainingTypePlugin` for this release.

@ananthsub  raised some really good points for discussion regarding `StrategyPlugin`. [Reference](https://github.com/PyTorchLightning/pytorch-lightning/pull/10548#issuecomment-969279546)

### Proposed solution

Three main points to be di

[2021-11-15 20:42] daniellepintz commented on #8506
Also @carmocca why do we need to pass `pl_module` - can't we always use `self.lightning_module`?

[2021-11-15 21:19] awaelchli commented on #10549
Yes, definitely. We agreed on this I think. This was already set in motion by the introduction of the strategy argument in the Trainer.

Has to be done for 1.6. We are targeting stable API for these components at 1.6.

[2021-11-15 21:34] danielgafni commented on #10527
I'm using trainer.fit_loop.run() and trainer.test_loop.run(), just like in the kfold example. Therefore I don't have control on the dataloader is using. Looks like there is a bug indeed?

[2021-11-15 21:35] carmocca commented on #8506
`call_hook` is a method of the `Trainer`, not a `Callback`

Mostly for legacy reasons. Some methods of the `Trainer` are marked as public (perhaps accidentally), which means they can be called before a `LightningModule` reference has been set, so they take an optional `model`. These methods can call hooks so that's why we need to pass it. Removing support for that would mean going through a deprec

[2021-11-15 21:40] jameschapman19 commented on #10527
So this fixes my specific issue (and is indeed the hack I referred to).

[2021-11-15 21:53] awaelchli commented on #10546
Yes

[2021-11-15 22:18] daniellepintz commented on #8506
Ah, sorry I meant `self.trainer.call_hook(self.trainer.progress_bar_callback, "on_before_zero_grad", optimizer)`. Updating my comment

[2021-11-15 22:31] #10457 closed

[2021-11-15 23:51] Shreeyak commented on #1243
For logging images or other media, I'm returning the values from the train/val/test step and using those outputs in my visualization callback. This does increase the memory overhead, but cleans up the code:

[code]

Callback:
[code]

[2021-11-16 01:31] four4fish opened #10551 "Move is_distributed from accelerator_connector to Strategy"
## Proposed refactor

move is_distributed() to Strategies (Training_type_plugin) from accelerator_connect

### Motivation

Unblock #7324
which is part of #10416

Now in lite.py, we have reference to _accelerator_connector. After precision moved into strategy, the _accelerator_connector is only used for is_distirubted.
https://github.com/PyTorchLightning/pytorch-lightning/blob/01cf7a2ac5a6db588d53c

[2021-11-16 01:31] four4fish commented on #10551
cc @awaelchli

[2021-11-16 04:14] H-B-L commented on #4612
I have the same issue. I filed the issue here `#10471`.

[2021-11-16 04:22] awaelchli commented on #10471
That does not seem to be the case. The environment collection script still detects 1.0.8. It's right there in your post.

[2021-11-16 04:35] awaelchli commented on #10551
You mean in the sense that this is the only property being used from outside the AcceleratorConnector. But surely the connector is heavily used for the parsing and validation of all inputs such as gpus, devices, accelerator choice etc. So I don't fully understand how this adds to the motivation.

That's probably doable. Does that mean it has to become an abstract property of the ParallelPlugin?

[2021-11-16 04:36] awaelchli commented on #10551
It's also not clear how this unblocks #7324. This seems to be quite strongly independent of #7324.

[2021-11-16 04:58] low5545 commented on #9850
However, `limit_train_batches` alone does not achieve overfitting because the validation & test dataloaders are not replaced with the train dataloader.

[2021-11-16 05:19] four4fish commented on #10551
I misread the code. I thought lite reference _accelerator_connector is because of need access _accelerator.precision, if we move precision into strategy, we can access precision by strategy.precision. then we can remove the reference to accelerator_connector from lite.

I don't think this is necessary anymore. Will close the issue

[2021-11-16 05:19] #10551 closed

[2021-11-16 05:27] bibhabasumohapatra commented on #10124
https://github.com/PyTorchLightning/pytorch-lightning/pull/10127#issue-1034981823

[2021-11-16 06:47] #10312 closed

[2021-11-16 07:40] akihironitta commented on #10352
@MinWang1997 For all your questions on simple learning rate schedulers, please have a look at my comment below:

Yes, you need to have a lr_scheduler with an optimizer in `configure_optimizers` if you want to use one.

No, Lightning doesn't add any lr_scheduler if you have `configure_optimizers` returning no lr scheduler.

You can specify parameters for your lr scheduler.

[code]

Hope this helps.

[2021-11-16 08:01] ananthsub commented on #10444
First, does everyone agree that the pain points outlined in the issue today are problems? In particular, confusing/misleading trainer flags and not knowing when they take effect.

If so, are there alternate proposals that would address those concerns which are not as large as the change here? I am looking to address confusion over how to use the Lightning API for loop behaviors, and this way seeme

[2021-11-16 10:04] justusschock opened #10556 "LightningLite not updating DeviceDtypeModuleMixin correctly"
## 🐛 Bug

When using LightningLite and transferring the `_LiteModule` to cpu, attributes of `DeviceDtypeModule` are not updated.

### To Reproduce

[code]

### Expected behavior

model.module.device should be Cpu

### Additional context

Could probably be solved by using `DeviceDtypeModuleMixin` as base class for the `_LiteModule` since this is an issue with the `to` function only calling `_apply`

[2021-11-16 10:28] Borda opened #10557 "LR finder returns None"
## 🐛 Bug: LR finder returns None

Could be come model or LR finder range which yield in returning LR as None which crashes the consecutive

### To Reproduce

https://www.kaggle.com/jirkaborovec/titanic-crash-with-lightning-flash
[code]

### Expected behavior

I see several options:
- raise an error on the LR finder `tune` so it does not interfere with consecutive `fit`
- raise just warning and con

[2021-11-16 11:06] kaushikb11 commented on #10529
@MinWang1997

Could you run `sudo nvidia-smi mig -lgi` and let us know the list of available GPU instances?

[2021-11-16 11:23] awaelchli commented on #10556
That's an issue we have even without Lite, e.g., it could occur with torchmetrics too. This example shows it:

[code]

As you said, the only solution is to add the DeviceDtypeModuleMixin to the base of the wrapper class because of how child modules get called.

[2021-11-16 11:28] Parskatt commented on #1243
@Shreeyak Does your method not store every image of the epoch? IIRC the outputs of the training step are all stored for the at_epoch_end step in the model. For large datasets I think this would cause the memory to explode.

[2021-11-16 11:42] #10437 closed

[2021-11-16 11:43] awaelchli commented on #10556
I noticed, in torchmetrics they abandoned the DeviceDtypeMixin and override the _apply method:

https://github.com/PyTorchLightning/metrics/blob/93cb842f24d15804dd2e7677ca7fc6631b234773/torchmetrics/metric.py#L466

[2021-11-16 12:34] justusschock commented on #10556
@awaelchli yes, but without Lite this is not our concern :D

From our offline chat:
For torch metrics removing it is fine since they don't nest modules there. And overriding the `_apply` is exactly what the mixin does :)

[2021-11-16 12:43] AndresAlgaba opened #10558 "Access dataloaders in LightningModule and Trainer"
## 🐛 Bug

I have a training script based on the BERT example (see https://colab.research.google.com/github/PyTorchLightning/lightning-tutorials/blob/publication/.notebooks/lightning_examples/text-transformers.ipynb) in which the total number of steps for the learning rate scheduler is computed by the length of the train dataloader via the model.setup() method.

With PL version 1.4.9 this works jus

[2021-11-16 12:58] RuRo opened #10560 "Tuner fails with DDP in 1.5"
## 🐛 Bug

Attempting to tune a model with `accelerator/strategy = "ddp"` leads to `TypeError: forward() takes 2 positional arguments but 3 were given` in pytorch-lightning 1.5+. It appears that the Tuner tries to pass the batch directly to `Model.forward` instead of to `training_step`.

### To Reproduce

[code]

The above script runs fine with `pytorch-lightning==1.4.9`.

### Full Traceback

[code

[2021-11-16 13:03] rohitgr7 commented on #10558
two things here:
1. The example is not presenting the best practices. One should not request the dataloader inside `setup` because users sometimes setup their dataset there and initializing the dataloader there isn't recommended. If someones needs to calculate total training steps for the scheduler it should be done inside `configure_optimizers`.
2. Accessing the dataloaders inside `configure_opti

[2021-11-16 13:14] rohitgr7 commented on #9372
I think an info msg is not required. The user chooses not to show it in the prog_bar, so it seems reasonable that they don't want it.

[2021-11-16 15:24] H-B-L commented on #10471
@awaelchli, First, I tested the latest version of PyTorch lightning and then since it did not solve the issue I returned back to version 1.0.8 and then run the command for environment collection.

[2021-11-16 15:47] kaushikb11 commented on #10124
Resolved with #10127

[2021-11-16 15:47] #10124 closed

[2021-11-16 15:47] kaushikb11 commented on #10124
Resolved with #10127

[2021-11-16 17:26] #10556 closed

[2021-11-16 17:42] mauvilsa commented on #8008
The `lazy_instance` now works for `nn.Module` classes. This is part of jsonargparse v4.0.0.

[2021-11-16 17:54] carmocca commented on #10515
We can also try reverting #10084 entirely and running the CI a few times. Might have been resolved after all the recent CI updates

[2021-11-16 18:55] daniellepintz commented on #10410
@tchaton do we have a consensus to move forward with this issue?

[2021-11-16 19:23] carmocca commented on #10530
@Borda do not lock the issue so that the community can request being added/removed.

[2021-11-16 19:25] H-B-L commented on #10471
Back to latest PyTorch lightning and switching the torch backend to 'gloo' from 'nccl' worked for me. But it seems 'gloo' backend is slower than 'nccl. Any other ideas to use 'nccl' without the issue? Seems PyTorch lightning has this issue for some specific GPUs. Bunch of users have the same problem. Check out the [#4612](https://github.com/PyTorchLightning/pytorch-lightning/issues/4612).

[2021-11-16 19:28] carmocca commented on #8008
@mauvilsa can you open a PR with a test using it with some of our components?

we'd need to merge https://github.com/PyTorchLightning/pytorch-lightning/pull/10426 first

[2021-11-16 19:29] danielgafni commented on #10527
Ok, as I understand, my problem is with pytorch-forecasting, not pytorch-lightning. I can close the issue?

[2021-11-16 19:31] samadmoslehi commented on #2207
I have a error in call module. please help me.......

AttributeError                            Traceback (most recent call last)
C:\Users\S28C7~1.MOS\AppData\Local\Temp\8/ipykernel_17348/3129809395.py in <module>
     10 from sklearn.metrics import roc_auc_score
     11 import copy
---> 12 engines = [Engine(config, copy.deepcopy(NAM_model)) for _ in range(config.n_models)]

C:\Users\S28C7~1.MOS\A

[2021-11-16 19:35] BatYu opened #10572 "Segmentation Fault While Import pytorch_lightning"
Hi I confronted "Segmentation fault (core dumped)" when trying to import pytorch_lightning. The import line of code was:

`import pytorch_lightning.core.lightning as pl`

My environment is as follow:

- PyTorch Lightning Version 1.4.7
- PyTorch Version 1.9.0
- Python version: 3.7.10
- OS: Linux
- CUDA/cuDNN version: cuda11.1-cudnn8-runtime

I found a previous issue post a year ago whose answer is

[2021-11-16 20:04] blisc opened #10573 "Provide a Default Parameter for Fit's Checkpoint Restore Path"
## Proposed refactor

Do 1 of 2 options:

1. Do not deprecate `resume_from_checkpoint` from Trainer's initialization as recommended in #9405
2. Provide a public facing property that acts as a default in the case when `ckpt_path` is passed as None to trainer.fit. This property should be accessible after trainer initialization

### Motivation

Our current design pattern is to initialization the Trai

[2021-11-16 20:16] ananthsub commented on #10573
Hi @blisc I originally proposed the deprecation in #9405 .

These are my opinions:
1. The Lightning framework should offer a single convention that works across the different trainer functions. Offering `resume_from_checkpoint` for `fit` in the trainer constructor vs `ckpt_path` as arguments to `validate` / `test` / `predict` was a broken experience.

That means either:
- Make `ckpt_path` an argum

[2021-11-16 20:21] ananthsub commented on #2207
@samadmoslehi Lightning metrics have been moved to torchmetrics: https://torchmetrics.readthedocs.io/

[2021-11-16 20:40] blisc commented on #10573
Consider an average lightning training script:
[code]

Since the training script is so similar, we just copy it for every model. Requiring a change in `fit()` causes us to change the script for every model. This gets unfeasible as the number of models grows.
I want some ability to change trainer parameters inside of `myfunction()` so we can just change the single function as opposed to all the `tr

[2021-11-16 20:57] daniellepintz commented on #8506
Thanks for explaining why we need to pass `pl_module`!

Got it, do you think it would be feasible to remove support for it? I think it would be nice if we can, separate from this issue, since it can be confusing that some functions are passed a model and others just use self.lightning_module, resulting in lots of lines like this `pl_module = pl_module or self.lightning_module` throughout the codeb

[2021-11-16 21:07] ananthsub commented on #10573
@blisc - it seems like the main issue is then around `myfunction` and adding defaults that it might not make sense for the Lightning trainer to support.

https://github.com/PyTorchLightning/pytorch-lightning/issues/9741 is the issue we filed to allow users the ability to register implementations, which the lightning trainer can then look up & add automatically for callbacks/loggers/profiler/plugin

[2021-11-16 21:13] scottire opened #10574 "Add ability to pass logger to LightningCLI"
## 🚀 Feature

[code]

### Motivation

If I use LightningCLI, I don't want to abandon my favourite logger, WandbLogger 😏. With the new way to reference class names, this would be very nice.

### Pitch

Allow users to pass their favourite logger via the command line (and in a config) using LightningCLI like

[code]

______________________________________________________________________

cc @borda @a

[2021-11-16 21:17] blisc commented on #10573
I'm not asking for a custom plugin. I'm asking for lightning to continue supporting what it has in the past

I'm trying to avoid changing anything in `train_{model}.py` files.
___
Your main goal was to unify the lightning experience and you have already,

All I am asking for is a parameter that is part of lightning trainer that can be used as the default if the relevant arguments are not passed to

[2021-11-16 21:27] ananthsub commented on #10573
Could you share a code pointer for what you're looking for just so we're clear on the request?

[2021-11-16 22:09] daniellepintz commented on #8506
@carmocca @ananthsub I have a first draft implementation in https://github.com/PyTorchLightning/pytorch-lightning/pull/10575, would appreciate if you could take a look. I created a new PR since #9029 is quite old and has a lot of merge conflicts

[2021-11-16 22:33] ananthsub commented on #10573
Discussed with @blisc - the request is to have a `self.fit_ckpt_path` defined as an attribute on the Trainer, similar to the ones here: https://github.com/PyTorchLightning/pytorch-lightning/blob/247f5aacc2fc96ab1df14d7176838dc65757a786/pytorch_lightning/trainer/trainer.py#L474-L476

[2021-11-16 23:04] daniellepintz commented on #10536
@kaushikb11 Hmm, what about putting `torch.backends.cudnn.benchmark = trainer.benchmark` in this method:
https://github.com/PyTorchLightning/pytorch-lightning/blob/247f5aacc2fc96ab1df14d7176838dc65757a786/pytorch_lightning/accelerators/gpu.py#L44-L46

[2021-11-16 23:05] #9032 closed

[2021-11-17 00:14] remondn-swk opened #10576 "Make `extract_batch_size()` easier to redefine"
## Proposed refactor

The function [`extract_batch_size()`](https://github.com/PyTorchLightning/pytorch-lightning/blob/247f5aacc2fc96ab1df14d7176838dc65757a786/pytorch_lightning/utilities/data.py#L30-L42) should be easily redefined by user.

### Motivation

So I'm using `pytorch-lightning` and `pytorch-geometric` together. In `pytorch-geometric`, graphs are batched together in a peculiar way (ther

[2021-11-17 01:00] akihironitta commented on #10560
Not sure if this is related to the error message, but I believe `trainer.tune(...)` has no support for DDP at this moment.

[2021-11-17 01:11] akihironitta commented on #10572
@BatYu Could you check if `import torch` has the same issue? Also, which package manager did you use to install PyTorch (pip, conda, or from source)?

[2021-11-17 01:33] akihironitta commented on #5558
@BttMA I'm sorry for your inconvenience. I'm not sure if there's a workaround for this issue at the moment... I'll try to have this issue resolved asap within this week and keep you updated.

[2021-11-17 01:36] four4fish commented on #5558
@akihironitta  do we have to switch them? I feel it's just warning when the first few iteration got skipped, but impact to overall accuracy is very minor. In fact, this is desired behavior right?

[2021-11-17 01:43] akihironitta commented on #10572
You might want to try installing it with conda as advised in https://github.com/pytorch/pytorch/issues/66782

[2021-11-17 02:20] akihironitta commented on #5558
@four4fish

PyTorch raises the warning ONLY IF `scheduler.step()` is called before any call of `optimizer.step()`, but in practice, `optimizer.step()` can be skipped in later iterations, too, with amp used.

This is a known but not desired behaviour for sure because users would expect the following call orders:

[code]

but currently, when using Lightning with native amp, the orders can be:
[code]

[2021-11-17 03:53] cowwoc commented on #5558
My 2 cents: Users should never get a warning when they aren't doing anything wrong and/or there is no way for them to do something correctly. Specifically, unless this bug is fixed there is no way to run `CyclicLR` or `OneCycleLR` correctly without getting this warning.

[2021-11-17 04:00] awaelchli commented on #10416
@ananthsub

https://github.com/PyTorchLightning/pytorch-lightning/pull/10570#pullrequestreview-807890492

Here are some that I found and also some are mentioned in the [doc](https://docs.google.com/document/d/1E5t8auWf5DrNHzutvMmrJC_KqBqVyZuYX0thra69Ad8/edit#heading=h.nehmb825f40s)

After 2)

Methods:
- Accelerator.optimizer_step (move)
- Accelerator.backward (move)
- Accelerator.*_dispatch (move

[2021-11-17 05:33] ananthsub commented on #6389
We have some users facing issues with this as well.

Namely, these users use https://github.com/facebookincubator/submitit . There is contention across both SubmitIt and Lightning for resubmitting jobs to the scheduler.

My opinion is the Lightning library should not be in the business of requeuing jobs like this.
1. The support for doing this with SLURM is adhoc. It likely precedes tools like sub

[2021-11-17 06:05] tangbinh commented on #10379
Has anyone been looking into this issue? If not, I can try to help.

[2021-11-17 07:49] RuRo commented on #10560
@akihironitta that's strange, because I could swear that it used to mostly work before 1.5.

Is there an issue/PR where DDP support for Tuning is tracked?

[2021-11-17 09:31] dreaquil opened #10587 "Is there a recommended structure for Semi-SL with model co-learning?"
### Discussed in https://github.com/PyTorchLightning/pytorch-lightning/discussions/10561

<div type='discussions-op-text'>

<sup>Originally posted by **dreaquil** November 16, 2021</sup>
Hi! Recently started using pytorch lightning and really enjoying it so far! However, I'm still getting used to the way of doing things. I'm currently working on implementing  a [DivideMix](https://arxiv.org/pdf/20

[2021-11-17 11:43] SeanNaren commented on #10573
Yikes! Imo that's a strange compromise. If we're now ok advertising two different ways to set the variable for our users, I'd rather us just introduce `Trainer(fit_ckpt_path=...)`.

[2021-11-17 12:22] MinWang1997 commented on #10352
Thank you.
Before your implementation, could you tell me how to add it by myself under lightning framework?

[2021-11-17 13:46] towr commented on #2010
Adding `gc.collect()` in the loop eliminated the issue for me (as suggested above by Borda).

Also keep in mind that python takes a while to do garbage collection by itself. And even when it does, it may not release all memory back to the system (it may keep some to reuse).

If after adding `gc.collect()` someone still has issues with OOM, maybe you can investigate what objects are building up ove

[2021-11-17 14:06] Freed-Wu opened #10589 "Some mathmatic equtions cannot be displayed"
Such as
<https://pytorch-lightning.readthedocs.io/en/latest/notebooks/course_UvA-DL/13-contrastive-learning.html>

![image](https://user-images.githubusercontent.com/32936898/142215301-870174b2-043c-40df-ba56-39af40f57574.png)

[2021-11-17 14:12] zippeurfou commented on #10410
Maybe thought that is a bit different there.
Going back to @williamFalcon argument that:
`Trainer(gpus=2)` to `Trainer(devices=2, accelerator='gpu')` is more work for the user.
My question here is that as far as I understand a correct me if I am wrong you have CPU and then either gpu/tpu/hpu/...
That is why you can have something as follow:
`Trainer(devices=2, accelerator='gpu')` where accelerator

[2021-11-17 14:16] awaelchli commented on #10573
These attributes were basically there since the beginning. Their purpose originally was to serve as read-only to access programmatically the path that was loaded, i.e., when setting "best" as the checkpoint path. And it also served as a way to test the Trainer (no longer done this way).

This is not supposed to work, it is an unintended behavior and one should not rely on it, not today.

[2021-11-17 14:45] blisc commented on #10573
Ok, it seems like you are leaning towards removing those attributes. Then can I suggest the following compromise:

- Have a single argument in Trainer's initialization
  - Whether this is still `resume_from_checkpoint` or a new argument is up to you. For the purpose of this discussion, I'll just call it `default_ckpt_path`
  - It will support all possible values of `ckpt_path` as passed to `fit`,

[2021-11-17 14:56] cemde commented on #10336
I have the same issue with Ray Tune on a personal cluster.
I am running the tutorial from: https://docs.ray.io/en/latest/tune/tutorials/tune-pytorch-lightning.html#changing-the-cli-output

Environment:
Linux Ubuntu
CUDA 11.1
Python 3.8.10
Pytorch 1.10.0
Pytorch-lightning 1.5.2

[code]

Downgrading to 1.4.5 worked for me.

Should I open an independent issue or is this the same bug?

Thanks for ever

[2021-11-17 15:18] carmocca commented on #6389
I think we should keep the feature, as it does seem to be used by the community (impression I've got from Slack questions and other issues).
We could recommend other tools but it looks cheap for us to remove everything and tell people to install another package if the functionality is already available.

However, I think there's value in revamping the SLURM mechanism so that it does not leak into

[2021-11-17 16:20] marksibrahim commented on #6389
+1 for adding an option to disable SLURM signal handling. This conflicts with how other packages [Submitit](https://github.com/facebookincubator/submitit) handle pre-emption and requeuing. This has made it challenging to debug the source of issues around pre-emption.

[2021-11-17 16:37] awaelchli commented on #6389
What if we let the cluster plugins configure signals?

[2021-11-17 16:49] ananthsub commented on #6389
@awaelchli @carmocca since this support for resubmission is only or SLURM, we could either:
1. Add a flag to the SLURMEnvironment class like `auto_requeue`. To preserve backward compatibility, this is by default `True`. Users would need to specify `Trainer(..., plugins=[SLURMEnvironment(auto_requeue=False)], ...)` in their code.

2. Or support an environment variable like `PL_SLURM_ENABLE_AUTO_REQ

[2021-11-17 17:12] kaushikb11 opened #10592 "Support passing `Accelerator` objects to the `accelerator` flag with `devices=x`"
## 🐛 Bug

### To Reproduce

### Expected behavior

### Environment

- PyTorch Lightning Version (e.g., 1.3.0):
- PyTorch Version (e.g., 1.8)
- Python version:
- OS (e.g., Linux):
- CUDA/cuDNN version:
- GPU models and configuration:
- How you installed PyTorch (`conda`, `pip`, source):
- If compiling from source, the output of `torch.__config__.show()`:
- Any other relevant information:

### Addit

[2021-11-17 17:39] BatYu commented on #10572
@akihironitta Thank you for the suggestion! Finally solved it :)

[2021-11-17 17:39] #10572 closed

[2021-11-17 18:19] kaushikb11 commented on #10592
@ananthsub Noted! The example was considering the current state.

The core part, it needs to support is

[code]

Also, this will be a small step towards supporting pluggable custom accelerators (which is not possible right now). Will write a RFC for it tomorrow.

[code]

[2021-11-17 18:51] daniellepintz commented on #10535
@kaushikb11 can this same functionality not be achieved with `accelerator` and `devices` flags?

[2021-11-17 19:12] tchaton commented on #10379
Hey @tangbinh @Quintulius,

After some investigation, it seems the `move_metrics_to_cpu` is working as expected after the refactoring of the logging.

Before:
* We used to store metrics in a list of the Result objects. As the epoch was quite long, it could result in OOM and the move_metrics_to_device was introduced for those extreme use case.

Now:
* We track the metric and keep only a single valu

[2021-11-17 19:24] tchaton opened #10595 "[RFC] Depreceate the move_metrics_to_cpu Trainer argument."
## 📚 Documentation

After investigating this community issue https://github.com/PyTorchLightning/pytorch-lightning/issues/10379, it seems the parameter `move_metrics_to_cpu` isn't working as expected with `ddp`.

Bug reason: The ResultCollection object storing the metrics is moved on the CPU [here](https://github.com/PyTorchLightning/pytorch-lightning/search?q=_results.cpu%28%29&type=) and on epoc

[2021-11-17 19:33] tchaton commented on #10358
Hey @pzelasko,

Lightning takes care of `prefetch_factor` by tracking the batch actually consumed by the model and retrieving the associated states.

Best,
T.C

[2021-11-17 20:00] rohitgr7 commented on #10576
we use batch_size to accumulate the metrics on epoch level when they are logged with `self.log(..., on_epoch=True)`. If you know your batch_size you can pass it in like `self.log(..., batch_size=your_batch_size)`. For now you will get this warning if you do this, but you can ignore the warning for now since it will be fixed soon.

[2021-11-17 20:25] awaelchli commented on #10595
The memory consideration you outlined with O(num_batches_in_epoch) vs O(1) seems convincing enough to me to go with Option 2.

[2021-11-17 22:41] #9939 closed

[2021-11-17 23:00] awaelchli commented on #6389
Could the SLURM users comment on whether they prefer opt-in or opt-out, i.e., default `auto_requeue=False` vs `True`? @amogkam @import-antigravity @Queuecumber @marksibrahim

[2021-11-17 23:08] Queuecumber commented on #6389
Opt-out, but that's mostly because I changed my submitit workflow to not requeue because lightning was doing it

[2021-11-17 23:16] marksibrahim commented on #6389
Opt-out (`auto_requeue=False`) for me as well. I'd prefer to handle launching / requeuing outside of Lightning.

[2021-11-17 23:29] Queuecumber commented on #6389
Ok so now I'm a little confused, I was reading opt-out as `auto_requeue=True` by default (i.e., you need to opt-out of requeueing)

[2021-11-17 23:44] remondn-swk commented on #10576
@rohitgr7 Thanks for your answer !

Yes I tried to add the batch size to `self.log(..., batch_size=your_batch_size)` calls in the Lightning module, but somehow I still had the warnings ? Is it because I used a custom `LightningDataModule` ?

I can ignore the warning, but since my tensors sizes change every batch, my console is literally flooded with warnings ^^

[2021-11-17 23:45] awaelchli commented on #6389
Yes @Queuecumber that's right.

In summary:

1) opt-out would be the explicit action of the user to not choose auto-requeue, i.e., they would have to set `auto_requeue=False` if they don't want it. Otherwise no action required (default is True).
2) opt-in would mean the user would explicitly have to set `auto_requeue=True` if they want it. Otherwise no action is required (default is False).

[2021-11-18 01:13] awaelchli commented on #10216
@proutrc apologies for the delay. I'm struggling to simulate what you are seeing because I can't try it on a LSF cluster myself.

@ajtritt who is the original contributor of the LSF Environment plugin, could you review the changes in my PR over here #10354 and if you still have access to LSF maybe verify if I broke anything, that would be very appreciated.

[2021-11-18 02:20] marksibrahim commented on #6389
That was my confusion, my apologies. I prefer `auto_requeue=False` to be the default.  Both options are fine though, as long as there's a clear flag for the behavior.

[2021-11-18 03:39] carmocca commented on #10595
I don't see how the difference in memory between versions justifies either of the options. I understand the flag was more "useful" before because there was "more memory to move", but the flag still has its use today after the reduced memory requirements.

What the flag does today is:
a. Moves saved evaluation outputs (if necessary) on epoch end https://github.com/PyTorchLightning/pytorch-lightning

[2021-11-18 04:58] adamjstewart commented on #10348
I just tried again with PyTorch Lightning 1.5.2 and I'm still seeing numerous issues if PyTorch isn't installed with distributed support.

[2021-11-18 05:27] ananthsub opened #10597 "Deprecate support for torchtext.legacy dependencies"
## Proposed refactor

Restrict checks & support for `torchtext.legacy` in Lightning

### Motivation

`torchtext` is retiring support for `torchtext.legacy` in upcoming versions: https://github.com/pytorch/text/issues/1422

Lightning uses the `Batch` from `torchtext.legacy` abstractions as part of this utility to move data to device:
https://github.com/PyTorchLightning/pytorch-lightning/blob/7f95fd

[2021-11-18 06:26] awaelchli commented on #10597
Agree that we should eventually remove the legacy Batch logic. If users need the legacy version in a newer PL code base, they can always implement our hook to give special treatment to the legacy Batch object.

[2021-11-18 07:31] rohitgr7 commented on #10576
here is the open PR for it: https://github.com/PyTorchLightning/pytorch-lightning/pull/10408
once merged, will resolve this issue.

[2021-11-18 07:34] bsridatta commented on #10342
Is anyone already working on this? I would like to contribute.

[2021-11-18 08:53] justusschock commented on #10348
@adamjstewart I also tried this with PL 1.5.2 and I had no issues. Can you give us your torch version and a reproducible script?

[2021-11-18 08:57] seba-eng opened #10602 "Neptune Logger assumes unix-style filepath for model checkpoint"
The Neptune Logger can automatically upload model checkpoints if the callback is used. It generates an "expected_model_path" for that. This path has hard-coded a '/' at the end (see [here](https://github.com/PyTorchLightning/pytorch-lightning/blob/261ea90822e2bf1cfa5d56171ab1f95a81d5c571/pytorch_lightning/loggers/neptune.py#L547)), which can cause problems on Windows systems because the actual pat

[2021-11-18 09:31] t-vi commented on #10410
To take the pro-Accelerator argument to the extreme (also with the "fractional" devices), how about not splitting `devices=` and `accelerator=`?

If instantiating Accelerator all the time is too much of a hassle for @williamFalcon 's taste (I never liked the configuration part of tf sessions, either, and there is a good reason why PyTorch doesn't force you to do `device = torch.Device("cuda")` all

[2021-11-18 10:00] tchaton commented on #10410
To add to @t-vi comment,

I believe the accelerator could be set to 'auto' by default as it is quite unlikely there is an overlapping machine with both GPUs and TPUs available.

So the hardware is totally abstracted and this provides an experience closer to Jax with their auto platform detection

[code]

would be replaced directly with:

[code]

If a user has a machine with a GPU and wants to debu

[2021-11-18 10:23] seba-eng commented on #10602
never mind, there is already a pull request (#10500) for this problem

[2021-11-18 10:29] SeanNaren commented on #9974
@BramVanroy this should be fixed on master and the latest bugfix (`pip install pytorch-lightning -U`)!

you shouldn't need to specify the plugin anymore (the string should be fine)

[2021-11-18 10:29] #9974 closed

[2021-11-18 10:40] m-bain opened #10604 "When using neptune logger and multi-gpu DDP, duplicate runs are logged, one for each gpu."
## 🐛 Bug

With using the neptune logger and trainer with n_gpu > 1, accelerator='ddp', duplicate experiments are created and logged, one for each individual gpu

### To Reproduce

[code]

Output:

[code]

### Expected behavior

A single run logged (happens when gpu=1 and/or accelerator is turned off), not 4 of them...

### Environment

- PyTorch Lightning Version (e.g., 1.3.0): 1.5.1
- PyTorch Ver

[2021-11-18 11:01] kaushikb11 opened #10606 "[RFC] Future for `accelerator` and `devices` default values"
## Discussion

Currently, the default for both the `accelerator` and `devices` flags is None. There has been discussions about updating the defaults. #10192 https://github.com/PyTorchLightning/pytorch-lightning/issues/10410#issuecomment-972689247

We have three options to consider and vote for! Comments appreciated.

1. 😄 None sounds good for both the flags. Let's keep it the same way.
2. 🚀 Have `

[2021-11-18 11:13] kaushikb11 commented on #10606
We shouldn't have defaults for `devices`. Option 3 is a definite no for me, as there could be multiple cases like where user wouldn't want to use all the available gpus on the node. And having this behavior as a default would be bad UX and a very strong enforcement on the user.

Option 2: Auto assigning only one device for the users doesn't sound good to me. We should just crash it if user just do

[2021-11-18 11:17] keyraphi opened #10607 "pdb - based debugging with RichProgressBar doesn't show input"
## 🐛 Bug

RichProgressBar swallows the input for pdb or pdbr which makes debugging with those tools virtually impossible.
This is a known issue in rich which does not yet have a solution: [See here](https://github.com/willmcgugan/rich/issues/1465)
With RichProgressBar on the way of replacing tqdm as default it would be good to either document a workaround, or to reconsider that decision.

### To R

[2021-11-18 11:52] tchaton commented on #10606
I believe it should be more granular:
CPU -> 1
GPUS:
    If 1 only GPU is available -> default to 1
    If multiple GPUS are available -> request devices the users
IPUS -> request
TPUS -> 8

[2021-11-18 12:12] tchaton commented on #10595
@carmocca

We don't have OOM related to Metrics as we used to.

I believe it is an abuse of this argument and wasn't properly designed at the time. `move_outputs_to_cpu` would have been more appropriate.

I don't think it is hard, just engineering heavy. This could make the Result code more complex.
But I am more concerned about the performance drop of moving the ResultMetric back and forth to the

[2021-11-18 12:41] kaushikb11 commented on #10607
@keyraphi Could you test this PR out? #10497

We do manual refresh in it, which should make pdb debugging work.

[2021-11-18 12:48] zplizzi commented on #10342
Go for it!

[2021-11-18 14:42] tchaton commented on #10604
@shnela @HubertJaworski @pkasprzyk @pitercl @Raalsky @aniezurawski @kamil-kaczmarek

[2021-11-18 15:05] rohitgr7 commented on #10558
I am close to completing the fix. will attach the PR here. I'd suggest updating it since PR get's merged.

[2021-11-18 15:11] kamil-kaczmarek commented on #10604
let me check it

[2021-11-18 16:05] tchaton commented on #10336
Dear @garrett361 @cemde

Would you try trying out this PR: https://github.com/PyTorchLightning/pytorch-lightning/pull/10610 from Lightning.
Hopefully, it should resolve this error.

Best,
T.C

[2021-11-18 16:21] cemde commented on #10336
@tchaton
thanks for the quick patch! I installed PL from git@bugfix_10336 and I no longer got the original error message. I now get this:

[code]
But I assume this is an issue from the PL 1.6.0dev code base?!

So looks like it is fixed

[2021-11-18 16:24] awaelchli commented on #6389
Opened PR #10601. Feel free to test or review it :)

[2021-11-18 16:29] ajtritt commented on #10216
Hi @proutrc,

I have been using a custom ClusterEnvironment to run on Summit:

https://github.com/exabiome/deep-taxon/blob/master/src/exabiome/nn/lsf_environment.py

It's been some time since I update things though. Here's what my environment looks like:

PyTorch Lightning Version (e.g., 1.3.0): 1.4.3
PyTorch Version (e.g., 1.8): 1.7.1
Python version: 3.8.10
OS (e.g., Linux):
CUDA/cuDNN version: 1

[2021-11-18 17:06] dlangerm commented on #10410
Coming from both the High-Performance and embedded spaces, I'll weigh in here with some general thoughts.

1. Often with large clusters, we have models and/or datasets which can't fit on a single node. If the API says gpus=2 or tpus=2, what control do I have over where those devices are or which devices get used for which parts of the model? Should PTL support this type of deployment at all?

2. T

[2021-11-18 17:15] garrett361 commented on #10336
@cemde Looks fixed to me.  Only difference I see between `wandb` sweeps in `pl` 1.4.9 is a new `UserWarning`:

[code]
Thanks for the quick response and hard work!

[2021-11-18 17:15] #10336 closed

[2021-11-18 17:22] carmocca commented on #10410
This discussion has extended to other related points, but to give my opinion the original question, I fully agree with @tchaton's API vision here: https://github.com/PyTorchLightning/pytorch-lightning/issues/10410#issuecomment-972712672.

Where the original `gpus`, `tpus`, ... are deprecated and removed.

I don't think adding new options `xpus=...`, or `devices=Accelerator("cuda", 2)` should be in

[2021-11-18 17:29] #10494 closed

[2021-11-18 17:45] ananthsub opened #10615 "Deprecate `trainer.slurm_job_id`"
## Proposed refactor

Deprecate the trainer property here: https://github.com/PyTorchLightning/pytorch-lightning/blob/6b728713bb3b35ad58cd0085acaa443b33ab03ac/pytorch_lightning/trainer/trainer.py#L1731-L1744

### Motivation

The property can be a static utility function instead. Doing this will consolidate SLURM environment variable code in Lightning and simplify the Trainer.

### Pitch

1. Move t

[2021-11-18 17:48] #6389 closed

[2021-11-18 17:54] awaelchli commented on #6389
For now we went with the non-breaking change of setting `auto_requeue=True`. To turn it off, simply do
[code]
(for use with submitit for example).

If we get more feedback from the PL SLURM community about switching to `auto_requeue=False` by default we can then make the decision. We will keep an eye out for SLURM users asking questions e.g. on slack and will be getting their feedback on this topi

[2021-11-18 18:01] awaelchli commented on #10615
Yes agree! Probably can drop the slurm prefix

[code]

[2021-11-18 18:15] tchaton opened #10616 "Lite doesn't seem to work with the registry."
## 🐛 Bug

### To Reproduce

[code]

### Expected behavior

### Environment

- PyTorch Lightning Version (e.g., 1.3.0):
- PyTorch Version (e.g., 1.8)
- Python version:
- OS (e.g., Linux):
- CUDA/cuDNN version:
- GPU models and configuration:
- How you installed PyTorch (`conda`, `pip`, source):
- If compiling from source, the output of `torch.__config__.show()`:
- Any other relevant information:

#

[2021-11-18 18:33] AndresAlgaba commented on #10615
As it is marked as a "good first issue", do you mind if I create a PR for this issue? I will have time next Monday and Tuesday to work on this :).

[2021-11-18 18:40] ananthsub commented on #10615
@AndresAlgaba that'd be great!

[2021-11-18 18:51] #10546 closed

[2021-11-18 19:18] awaelchli commented on #10616
Yes, that's intentional. The misconfiguration error you should see is printed here in Lite:
https://github.com/PyTorchLightning/pytorch-lightning/blob/2c7c4aab8087d4c1c99c57c7acc66ef9a8e815d4/pytorch_lightning/lite/lite.py#L462-L469

We don't support it right now and afaik the docs don't mention any support for this.
We could probably add it, but I would be careful here since we don' t support all

[2021-11-18 19:19] gianscarpe opened #10618 "predict with multi-gpu and ddp strategy only get a portion of the predictions"
## 🐛 Bug
When called 'predict' method in multi-gpu settings (e.g., 2 gpus, strategy "ddp"), I get only half the predictions (meaning that only the first half of the dataset returns the predictions)

### To Reproduce
I opened a PR with the failing test in 'test_gpu.py"
PR #10619

### Expected behavior

I expect to get the full predictions for input dataset, potentially on CPU to avoid GPU conflicts

[2021-11-18 20:17] ananthsub commented on #10498
If both DataModule and LightningModule provide implementations for `transfer_batch_to_device` then we select the implementation based on which entity provided the data?

Should this be an error instead if both are overridden and used together? What if the DataModule has separate logic for `on_before_batch_transfer` and `on_after_batch_transfer` which is meant to be used with the LightningModule?

[2021-11-18 20:25] Quintulius commented on #10379
@tchaton Thankis for the update. I use this parameter to deal with a custom metric (subclass of pytorch_lightining.metrics.Metric) which requires a lot of memory. What strategy should I use now ?

[2021-11-18 20:28] adamjstewart commented on #10348
@justusschock sure, my environment looks like:

* PyTorch Lightning Version: 1.5.2
* PyTorch Version: 1.10.0
* Python version: 3.8.12
* OS: macOS
* How you installed PyTorch: spack

In order to reproduce this issue, PyTorch must be installed without distributed support:
[code]
This is commonly the case on macOS. Then, the issue (which now looks different than it did in 1.5.0) can be reproduced lik

[2021-11-18 20:31] ananthsub commented on #10348
That error arises due to the automatic registration support for sharded tensors here: https://github.com/PyTorchLightning/pytorch-lightning/blob/2c7c4aab8087d4c1c99c57c7acc66ef9a8e815d4/pytorch_lightning/core/lightning.py#L1988-L1994

We should check if torch distributed is available before importing in that function's implementation

[2021-11-18 20:37] Abelarm commented on #9947
in my pr I already go : instead of =  but I am struggling to add "" around keys dict :(

[2021-11-18 20:42] janvainer commented on #5087
Happened to me too.

[2021-11-18 21:26] tchaton commented on #10616
Closing this issue as it was intentional.

[2021-11-18 21:26] #10616 closed

[2021-11-18 22:08] kfarivar opened #10624 "pytorch Sequential device"
## 🐛 Bug

When wrapping a lighting module in a nn.Sequential module the lighting module doesn't move to the target device with `.to()`.

### To Reproduce

Steps to reproduce the behavior:

[code]
this prints `device(type='cpu')` .

### Expected behavior
For the model to move to the correct device.

### Environment

 - PyTorch Version (e.g., 1.0):1.10.0
 - OS (e.g., Linux): Ubuntu
 - How you instal

[2021-11-19 01:31] carmocca commented on #10498
A question about context. Do we know why these were added for both the `LightningModule` and `LightningDataModule`? What would be a good example where one would need both?

And if there's one, why did we not do this as:

[code]
which would avoid the question of "what should happen when both are implemented"

[2021-11-19 01:38] tjruwase commented on #10510
Quick update. The problem is that model parameters remained in fp32 despite `precision=fp16` in Trainer constructor. @ktrapeznikov, can you please confirm that Runtime error is avoided by
[code]
For some reason zero.Init() is not using `dtype` to change parameter dtypes as promised [here](https://github.com/microsoft/DeepSpeed/blob/2332cb31a7c221e18adcc0604af09acbbb2ecbe8/deepspeed/runtime/zero/pa

[2021-11-19 01:48] ananthsub commented on #10498
@carmocca only one of the data module or lightning module can actually move the batch to device. Calling transfer_batch_to_device twice wouldn't make sense.
Other than that I share your questions for what the context was

[2021-11-19 01:52] ChickenTarm opened #10628 "Deepspeed + SWA results in no optimizers"
## 🐛 Bug

When using deepspeed_stage_2 with stochastic_weight_avg the `configure_optimizers` is not called resulting in the training thinking it has no optimizers
If I uncomment `# stochastic_weight_avg="true",` then I get the following error:
pytorch_lightning.utilities.exceptions.MisconfigurationException: SWA currently works with 1 `optimizer`.

### To Reproduce

[code]

### Expected behavior

[2021-11-19 02:06] jjenniferdai opened #10629 "Support passing `storage_options` in `trainer.save_checkpoint()` API"
## 🚀 Feature

### Motivation

Support specifying `storage_options` parameter in `trainer.save_checkpoint()` API.
For metadata that varies across different checkpoint instances, users can then specify `trainer.save_checkpoint(storage_options=...)` per individual checkpoint instance saved, that ultimately gets passed to CheckpointIOPlugin to inform how to best save that particular checkpoint instanc

[2021-11-19 02:26] jjenniferdai opened #10630 "`trainer.validated/tested/predicted_ckpt_path`: mark private or deprecate"
## Proposed refactor / Motivation

As detailed in this comment: https://github.com/PyTorchLightning/pytorch-lightning/issues/10573#issuecomment-971622770:

- These properties are intended as read-only, they do not support any actual functionality (they do not and should not set the load path).

- The main reason to keep them is to track the exact ckpt_path used in the case of automatic "best" path

[2021-11-19 03:06] awaelchli commented on #10602
Let's use this issue then to link with the PR (which had no bug report attached).
I interpret that you are reporting a bug.

[2021-11-19 03:35] awaelchli commented on #10624
To my knowledge this is a fundamental limitation of nesting modules like this. When calling `.to` on a module, it does not recursively call `.to` on submodules. Instead, it calls [Module._apply](https://github.com/pytorch/pytorch/blob/a39060c001da5e8c91ff92ba776d7beae8fd0be7/torch/nn/modules/module.py#L907) which operates directly on the parameters.

This effectively prevents us to intercept which

[2021-11-19 03:54] mpvenkatesh commented on #10576
I think the underlying problem can be addressed for lists and dictionaries by directly modifying utilities/data.py. When a batch is an Iterable or Mapping and not a Tensor or str, each item of the list (or each value in the dictionary) should be presumed to be of length batch_size. Instead, the current implementation is a recursive check but there is no reason why the contents of one training exam

[2021-11-19 04:06] mpvenkatesh commented on #10458
FWIW, a very large number of use cases may be captured by simply using ` yield len(sample) ` instead of `yield from _extract_batch_size(sample)`. The structure that the recursive call enforces is far more arbitrary than simply saying that if you give me a list of heterogenous constituents as being a batch, I am going to assume that you must have batch_size number of each of those constituents.

[2021-11-19 05:33] ninginthecloud commented on #10576
Hi, @rohitgr7  Another error could occur in current `extract_batch_size()` implementation is that user's batch input is
[code]
it raise index error when batch.size(0) is called for torch.tensor(1).
I think users could input very flexible values for batch, this is what we can't control, could we allow user to define their own batch_size for metric aggregation.

[2021-11-19 05:47] kaushikb11 commented on #10407
This issue has been resolved with #10610 and the examples need to be [updated](https://github.com/ray-project/ray/pull/20562).

[2021-11-19 05:47] #10407 closed

[2021-11-19 05:59] #10607 closed

[2021-11-19 06:11] kaushikb11 opened #10632 "Lightning Tutorials shouldn't be on the landing page of the documentation"
## 📚 Documentation

The collection of lightning tutorials is brilliant, but it shouldn't be on the landing page of the documentation.
When a user opens https://pytorch-lightning.readthedocs.io/en/latest/, they are most probably looking to learn more about the PyTorch Lightning features, rather than tutorials such as "Introduction to Pytorch" and so on.

We have a separate section for Tutorials and

[2021-11-19 06:40] kaushikb11 opened #10633 "Embedded `s3.us-east-2.amazonaws.com/pl_docs/yt/**` video links in the docs are not working"
## 📚 Documentation

Embedded `s3.us-east-2.amazonaws.com/pl_docs/yt/**` video links in the docs are not working
* Multi- GPU Training
* Debugging
* Early Stopping
* Mixed Precision Training

cc @borda

[2021-11-19 06:46] bsridatta commented on #10342
Sure, I shall work on this today, thanks!

[2021-11-19 06:47] kaushikb11 commented on #10633
Fixed, the videos are made public now.

[2021-11-19 06:47] #10633 closed

[2021-11-19 07:15] ninginthecloud commented on #10498
+1 for your question. @carmocca
Based on your suggestion, I am thinking there are three situations for current hook execution:
1) `Trainer.fit(model)`
There's no confusion in terms of hook's execution.
2) `Trainer.fit(model, train_dataloader)`
We still rely on the hooks from lightningmodule. How about we wrap *_dataloader in a temp datamodule. `temp_dm` with only `*_dataloder()` implemented. In th

[2021-11-19 07:27] ananthsub commented on #10342
@zplizzi out of curiosity could you describe why ordering matters for your validation/test sets?

[2021-11-19 07:32] tchaton commented on #10336
Hey @cemde,

Would you mind opening another issue with a reproducible script ?

[2021-11-19 07:34] tchaton commented on #10632
I personally prefer them in the landing page. This brings them to the user faster and increases engament.
I believe we will move them when they have been around for some time, v1.6 or v1.7

[2021-11-19 07:51] ethanwharris commented on #10632
One option here is to just also include some of our docs pages / guides in there too. I think the PyTorch docs have a special callout for a quickstart type page...

[2021-11-19 08:10] chris-tkinter opened #10634 "DP with *_step_end incorrect reduce"
## 🐛 Bug

From the documentation the input of `*_step_end` is a collection of sub-batches. Thus for example, if the `*_step` return loss and the model is trained on 4 gpus, then `*_step_end` should return a loss tensor of shape `(4, )`, 1 for each gpu.

However, when I am doing
[code]
the input of `validation_step_end` has incorrect shape. I am training on 4 gpus. On my end, the loss is `(4, )` te

[2021-11-19 08:14] rohitgr7 commented on #10498
yes, if dataloaders are present in the datamodule then we rely on the implementation provided under datamodule else LightningModule.

@carmocca @ananthsub I'd say a warning in such a case would be good enough and we can prioritize datamodule in such a case. The reason being, a user can import a `LightningModule` component from some other package where let's say `transfer_batch_to_device` is overri

[2021-11-19 09:01] kaushikb11 commented on #10632
It could be a separate section like what PyTorch does. https://pytorch.org/tutorials/

[2021-11-19 09:06] tchaton commented on #9989
Hey @rohitgr7 @kingyiusuen,

From what I heard, I believe there is 2 option right now.

1. 😋 Disable validation completely when overfit_batches > 0

2. 🚀 Don't replace the val_dataloaders and use only `overfit_batches` val batches to perform the evaluation.

[2021-11-19 09:16] tchaton commented on #10379
Hey @Quintulius,

This discussion has been moved there: https://github.com/PyTorchLightning/pytorch-lightning/issues/10595.

The decision to add to proper support for this and evaluate its performance impact.

I will keep you updated.

[2021-11-19 09:18] tarrade commented on #9450
Same issue with 1.5.2. The issue appear when calling trainer.test which is what  @mikael10j  described in details.

[2021-11-19 09:38] rohitgr7 opened #10635 "make `extract_batch_size` a `LightningModule.hook`"
## 🚀 Feature

### Motivation

Copy pasting context from here: https://github.com/PyTorchLightning/pytorch-lightning/pull/10408#pullrequestreview-810794634

A generic idea from @ninginthecloud  point of view, they think extract_data_batch() is this kind function we could convert as hook and delegate to user to implement, because they know their batch, it will be easily for them to define the batch_

[2021-11-19 10:01] rohitgr7 commented on #10458
@mpvenkatesh this is exactly what we had before, but it open up some loop-holes where user can easily trick this and we might end up not warning the user and training will continue with incorrect batch_size. We will cache this batch_size once extracted so that it won't be called again and again for each `self.log` call.

[2021-11-19 10:02] tchaton commented on #10624
Hey @awaelchli,

We don't override the `_apply` function on the LightningModule, it should be possible

[code]

But this feature would have to be improved if we want to properly support this.

[2021-11-19 10:05] dreaquil commented on #10587
Turned out to be fairly easy to integrate this! Well done to the entire lightning team for such a flexible code base. For anyone looking for advice, the hook system was really useful in implementing dividemix. Additionally, I needed to turn on manual optimization.

[2021-11-19 10:05] #10587 closed

[2021-11-19 10:29] rohitgr7 commented on #10527
we can keep it open.. its an issue with lightning.

[2021-11-19 10:31] remisphere opened #10636 "[Trainer] dictionary access to multiple named loggers"
## 🚀 Feature

When using multiple loggers, being able to give a dict of loggers to the `Trainer()` instead of a list.

### Motivation

I find the current list access when calling a single logger not explicit.

### Pitch

[code]
then in the loop:
[code]
instead of
[code]

There could be an ambiguity when using an integer as key, so maybe enforce string-only keys.

[2021-11-19 12:36] awaelchli commented on #10634
Hi @chris-tkinter
Can you provide an example based on [this code here](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/bug_report_model.py) with dummy values for the data you pass through these hooks?
You didn't mention it, but this issue applies for `accelerator="dp" / strategy="dp"`, right?

Note that anything returned in the step methods gets processed through the

[2021-11-19 12:41] awaelchli commented on #10635
Can you comment on the differences/advantages this would bring vs. `self.log(..., batch_size=...)` which to me seems to offer the same today?

[2021-11-19 13:06] bibhabasumohapatra commented on #10342
@ananthsub    i had already asked ? same doubt is it required?

[2021-11-19 13:08] freeloopspace commented on #5508
I would also find this very helpful.

[2021-11-19 13:10] awaelchli commented on #10618
If I recall correctly (@tchaton), we don't all_gather all predictions because of memory concerns and also because we don't want to make the assumption that the number of batches is evenly divisible by number of gpus. To use prediction "properly", the user currently has to implement the PredictionWriterCallback.

[2021-11-19 13:29] rohitgr7 commented on #10635
I am fine with the current implementation: https://github.com/PyTorchLightning/pytorch-lightning/pull/10408#issuecomment-973894818
just wanted to discuss this over an issue rather than on that PR.

[2021-11-19 13:41] awaelchli commented on #10635
This was exactly my thought!
A major complaint about Lightning was that there are multiple ways of doing the same. This was raised recently several times by FB (#7740).

`self.log(..., batch_size=...)` seems to be the most flexible at the moment.

[2021-11-19 14:01] gianscarpe commented on #10618
Thanks @awaelchli for clarifying. In the end I solved it with
`def collect_results_gpu(result_part, size):
    rank, world_size = get_dist_info()
    # dump result part to tensor with pickle
    part_tensor = torch.tensor(
        bytearray(pickle.dumps(result_part)), dtype=torch.uint8, device='cuda')
    # gather all result part tensor shape
    shape_tensor = torch.tensor(part_tensor.shape, devi

[2021-11-19 14:02] #10618 closed

[2021-11-19 14:10] keyraphi commented on #10607
Hey I just manged to find the time to test this.
I realized that by now the PR was merged to main and the branch was deleted.
The change in fact improved the situation. With the above example we now get:
[code]
The progress-bar is still rendered after pdb stopped the main-thread, so the typed input appears behind the bar.
This is much better than before, so thank you!

The prints behind the rich p

[2021-11-19 14:21] rohitgr7 commented on #9989
@popfido interested in updating your PR? we can go with disabling the validation completely in case of overfit_batches

[2021-11-19 14:29] carmocca commented on #10635
Pros:
- The place that defines the data should be able to define this (`DataHooks`)
Cons:
- Since the batch size is only used for logging, it does make sense to have it there.
- Perhaps the user applied further transformations to their batch and they need to customize the value at `*_step` time.

Leaning towards not doing it.

[2021-11-19 14:38] #10335 closed

[2021-11-19 14:43] awaelchli commented on #10430
@rohitgr7 Would you like to try to invert the order in a draft? Failing tests should then reveal potential challenges we have not considered yet, if there are any.

[2021-11-19 15:21] SeanNaren opened #10640 "Remove optimizer for DeepSpeed inference"
## Refactor/Feature

Recently in DeepSpeed it was merged to support making the optimizer optional for inference https://github.com/microsoft/DeepSpeed/pull/1514.

Currently in our plugin we pass in an optimizer always: https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/plugins/training_type/deepspeed.py#L573. This is required to partition the parameters appropriate

[2021-11-19 15:28] carmocca commented on #10640
In the past, we have updated our minimum required versions for 3rd party packages (jsonargpare, fairscale, ...) without deprecations for them. Unless you think there's enough difference between the 2 DeepSpeed versions so that it's worth supporting both, I would just update it.

[2021-11-19 16:21] zplizzi commented on #10342
In this case, I am visualizing the first batch of validation samples, and I would like my visualization to not always be of the same batch of frames. But more generally, it seems wrong to allow the user to specify `shuffle=True` and then silently not shuffle. Why not just let the user get the behavior they ask for (when the effort required is trivial, as it is here)?

[2021-11-19 16:32] #10490 closed

[2021-11-19 16:48] #10576 closed

[2021-11-19 16:52] #10414 closed

[2021-11-19 17:17] ananthsub commented on #8731
Another issue from transforming the return data from steps in a way users don't expect: https://github.com/PyTorchLightning/pytorch-lightning/issues/9968

[2021-11-19 17:34] #10348 closed

[2021-11-19 17:37] #10021 closed

[2021-11-19 17:44] ChickenTarm opened #10643 "Saving checkpoint has significantly increased after updating to 1.5.2"
## 🐛 Bug

I recently upgraded from 1.4.9 -> 1.5.2. And I noticed that `save_checkpoint` was taking significantly longer ~ on the scale of hours. Namely the recursive state_dict traversal, `_recurse_update_dict`, is what takes up the chunk of time. I also tested this with 1.5.0. Also I tested this with both torch versions 1.10.0 and 1.9.1.

What I can say that might increase the traversal time is t

[2021-11-19 17:49] jlperla opened #10644 "Trainer option to opt-out of warnings which are more like linting than legit issues"
## 🚀 Feature

An option on the trainer (or maybe logger?), called `ignore_minor_warnings` or, even better for me, invert that and have `runtime_linting_warnings` or something like that.

Then in the cases where a PL warning is more of a suggestion for something to check, it would only show it in the runtime if `ignore_minor_warnings = False` or `runtime_linting_warnings = True`.

For example, http

[2021-11-19 17:53] ananthsub commented on #10643
@daniellepintz @jjenniferdai it'd be good to add profiling for all the parts of checkpoint saving to identify these bottlenecks more easily

[2021-11-19 17:57] carmocca commented on #10644
This is not a hack but the natural way provided by Python to disable warnings.

You can ignore based on a regex like this:

[code]

[2021-11-19 18:12] jlperla commented on #10644
THanks for the help on the regex.  But this really is a hack.  You are suggesting that users literally find segments of the sourcecode to avoid a false-positive suggestion for their code from showing everytime.  That isn't very accessible for new users, and requires a high degree of sophistication.

That is a little less fragile, but what if you change the text between versions?  Or what if you ad

[2021-11-19 18:17] Rajathbharadwaj commented on #10343
Hey, I wish to contribute to this. Any steps on how I can get started?

[2021-11-19 18:20] Rajathbharadwaj commented on #9981
Hey, I wish to contribute to this if this isn't assigned. Any steps on how I can get started?

[2021-11-19 18:31] jlperla commented on #10644
@awaelchli  made the suggestion on slack that there may be is a difference between a "info" and a "warning" instead of my "linting" interpretation.  A way to ignore the "info" ones would be fine as well, where to me the bar for setting something as "info" vs. "warning" to me is whether it is just a one-time thing to check and act upon vs. something you want to know everytime you run it even after

[2021-11-19 18:38] jlperla commented on #10644
@awaelchli  also asked (but wasn't suggesting he would support!) whether I was suggesting that we only show these in a `fast_dev_run = True` .   My feeling is that the the warnings are all pretty useful to see at least once - and maybe people don't use `fast_dev_run` often enough.  I also think it is best to have that switch default to showing the "info" style warnings so that manual intervention

[2021-11-19 19:18] awaelchli commented on #10643
Thanks for this runnable example, I can reproduce. We don't override the state_dict() methods of nn.Module, but so far I was able to identify the call to

[`self._register_sharded_tensor_state_dict_hooks_if_available()
`](https://github.com/PyTorchLightning/pytorch-lightning/blob/af0bb96f0ff645102680a7adc99dc131cfeb9c0b/pytorch_lightning/core/lightning.py#L121)

in the `__init__` of LightningModul

[2021-11-19 19:23] ananthsub commented on #10643
@pritamdamani87 have you seen regressions elsewhere with using sharded tensors like this?

[2021-11-19 19:31] ChickenTarm commented on #10643
What would the implications of this be if I used multi gpu sharded training?

[2021-11-19 21:04] awaelchli commented on #10630
At the most we would need only one of these attributes. It does not make sense to have one dedicated to each trainer method.

[2021-11-19 22:42] jlperla commented on #10644
@carmocca  I tried the text you gave on the stable PL docs https://pytorch-lightning.readthedocs.io/en/stable/guides/speed.html#num-workers  and it doesn't work right now because the text changed and the regex is no longer valid.  You will want to update those docs (see the new text in https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/trainer/data_loading.py#L106-

[2021-11-19 23:30] ananthsub commented on #10643
Assuming by `multi gpu sharded training` you mean Fairsale ShardedDataParallel, there should be no impact.

[2021-11-20 00:16] four4fish opened #10648 "[Accelerator refactor] Move Accelerator into Strategy"
## Proposed refactor

Part 3 of Accelerator and Plugin refactor #10416

### Motivation

Moving towards stable version

After step 2 Move Precision Plugin into TTP Precision Plugins should be part of Training Type Plugins #7324
Accelerator is not the routing layer for strategy and precision anymore, optimizer related logic, steps, hooks all moved in to strategy.

Accelerator only have device inform

[2021-11-20 01:00] jjenniferdai commented on #10630
updated this in pitch option 1 !

[2021-11-20 01:26] tjruwase commented on #10510
@SeanNaren, the problem seems to be due to Lightning calling zero.Init() [here](https://github.com/PyTorchLightning/pytorch-lightning/blob/af0bb96f0ff645102680a7adc99dc131cfeb9c0b/pytorch_lightning/plugins/training_type/deepspeed.py#L467-L469) on an already constructed model. It particularly, zero.Init() is meant for constructing [massive models](https://deepspeed.readthedocs.io/en/latest/zero3.ht

[2021-11-20 01:34] ananthsub commented on #10648
I would prefer keeping the Accelerator name. Other than that this looks good to me.

[2021-11-20 04:44] LuoXin-s opened #10653 "Progressbar showed different value vs tensorboard and myself output"
## 🐛 Bug

code:
![image](https://user-images.githubusercontent.com/20135317/142714622-441e528f-053c-4ae2-b568-2446c3ff8868.png)

result:
![image](https://user-images.githubusercontent.com/20135317/142714609-ed731292-d3df-41d3-b816-a2825abeca7b.png)

We can see that the value on the progress bar is different from the output that I print. And the value on tensorboard also is the same as my output, s

[2021-11-20 07:21] zhaone commented on #3329
Hi, I also met the issue when I refactor my code. My profiler on single GPU
[code]
On multiple GPUs
[code]
My multi GPUs strategy is `ddp`. At first, I think that this issue is caused by ddp dataloader. However, according to the profiler, forward slow down my code heavily. On multiple GPUs, the forward time increases nearly 4 times ...

How can I find the bottleneck? Any suggestion?

[2021-11-20 10:28] Freed-Wu opened #10654 "Invalid Bolts URL"
In <https://github.com/PyTorchLightning/pytorch-lightning/blob/master/docs/source/extensions/callbacks.rst?plain=1#L89>

[code]

This URL is `404 not found`.

cc @borda @rohitgr7

[2021-11-20 12:21] SeanNaren commented on #10510
ahhh huge thanks @tjruwase! I recall having this in place because there were some internal deepspeed assertions that were raised if the model was partially partitioned! I've removed the code and have confirmed all tests are passing.

@ktrapeznikov #10655 should fix this issue :)

[2021-11-20 13:03] hiyyg commented on #2141
Hey @awaelchli , I wonder if there is a way to save last k checkpoints instead of just the latest checkpoint?

[2021-11-20 17:14] Borda commented on #10654
shall be fixed by #10440

[2021-11-20 21:17] ananthsub commented on #10653
Here is a related issue: https://github.com/PyTorchLightning/pytorch-lightning/issues/9372

The value shown in the progress bar is a running average

[2021-11-20 22:55] rohitgr7 commented on #10653
I believe we do a running average just for the loss and not for other metrics. Might be something else happening here.

[2021-11-21 01:02] awaelchli commented on #10416
Now that the precision plugin has moved, I will take a look at this TODO here:
https://github.com/PyTorchLightning/pytorch-lightning/blob/af0bb96f0ff645102680a7adc99dc131cfeb9c0b/pytorch_lightning/lite/lite.py#L433-L439

[2021-11-21 03:41] popfido commented on #9989
Got it @rohitgr7

[2021-11-21 05:51] Shreeyak opened #10659 "URL to bug report is incorrect in Github issue template"
## 📚 Documentation

When creating a new Github issue, the link to the BoringModel is incorrect and needs to be updated.

Existing (incorrect link):
[code]

Updated link:

[code]

Since this is an issue with the Github issue template, I don't think I can create a PR/fix for it.

cc @borda

[2021-11-21 07:35] #8335 closed

[2021-11-21 07:35] #8803 closed

[2021-11-21 07:35] #9291 closed

[2021-11-21 07:35] #3532 closed

[2021-11-21 07:35] #9811 closed

[2021-11-21 07:35] #9894 closed

[2021-11-21 08:18] akihironitta commented on #10659
@Shreeyak Thank you for reporting the issue. You can still submit a PR to fix the link. The file is here: https://github.com/PyTorchLightning/pytorch-lightning/blob/master/.github/ISSUE_TEMPLATE/bug_report.md

Would you be interested in creating a PR for it?

[2021-11-21 08:20] akihironitta commented on #10659
It seems like there is another place we need to fix the link:

[code]

[2021-11-21 08:32] akihironitta commented on #10560
@RuRo Thanks for your feedback. I agree that it should raise an exception when used with DDP (or at least warn users).

[2021-11-21 10:33] edenlightning commented on #10632
It can be in the landing page I think, but only under a section that eplxians briefly:
* What is lighnting
* How to get started (links to relevant pages)
* Further reading (Links to LM, TRainer, API reference)

[2021-11-21 10:49] turian opened #10660 "Warning if epoch non-training overhead take significant time compared to training"
## 🚀 Feature

If training epoch overhead (e.g. logging) tasks significant time compared to gradient update steps, a warning should be logged with suggestions on epoch parameters that should be changed to reduce training overhead.

### Motivation

This is related to https://github.com/PyTorchLightning/pytorch-lightning/pull/2367

### Pitch

Sometimes training is very fast, e.g. all examples are cac

[2021-11-21 11:57] akihironitta commented on #10560
@RuRo After looking back in the git log, it should probably be supported with DDP. The warnings in the docs were added two years ago without much information in #1835, so it might be that the docs are just outdated.

@SkafteNicki @rohitgr7 Does Lightning cover the support of `Tuner` with DDP?

[2021-11-21 12:16] akihironitta commented on #9981
@Rajathbharadwaj Hi, thanks for having an interest in contributing! This issue has already been addressed partially in #10269, and there is nothing to do at the moment until Python 3.6 EOL planned on `2021-12-23`.

[2021-11-21 12:42] Dehde commented on #4047
I am interested in the same thing as @jonashaag. Unfortunately, your link above (https://pytorch-lightning.readthedocs.io/en/latest/logging.html#logging-from-a-lightningmodule) is broken. Where can I find this now?

[2021-11-21 12:44] Dehde commented on #4047
Think I found it: https://pytorch-lightning.readthedocs.io/en/stable/extensions/logging.html

[2021-11-21 12:48] Dehde commented on #4047
But I still don't know how to access the current learning rate

[2021-11-21 15:48] awaelchli commented on #10648
Definitely 100% the Accelerator name should stay, and also its responsibilities. It should remain the main component to access hardware. For example, all the `*_to_device` methods and similar currently on the strategy should eventually call in the Accelerator to perform the action IMO. Does that make sense?

[2021-11-21 19:33] rohitgr7 opened #10666 "Not able to run tests locally"
## 🐛 Issue with tests

Something after v1.5.2 broke pytest.

Code:
[code]

Error:
[code]

Was working fine until v1.5.2

### Expected behavior

Working fine if you either do:
[code]
or install lightning in environment
[code]

The issue is coming up only on mac for me. Working fine on Ubuntu (Linux), not sure about Windows.

### Environment

- PyTorch Lightning Version (e.g., 1.3.0): master
- PyTor

[2021-11-21 21:04] carmocca commented on #10666
This seems to be working as expected, given the discussion in https://github.com/pytest-dev/pytest/issues/8343.

[2021-11-22 03:50] Aiden-Jeon opened #10667 "DataHook makes pylint error after >=1.5.0"
## 🐛 Bug

### To Reproduce
`pytorch_lightning>=1.5.0` makes below pylint error.
[code]
This is due to change of `on_train_dataloader` to `train_dataloader`, removing prefix `on_`.
Pylint handles `raise NotImplementedError` as `abstractmethod`.
And `train_dataloader` raises  `NotImplementedError` when not defined.
[code]

### Expected behavior
I think `on_train_dataloader` and `train_dataloader` is

[2021-11-22 05:29] adamgayoso commented on #9304
An update on the previous experiment I tried (same exact computer for testing)

1.5.2

[code]

The 1.3.8 and 1.4.5 results are still the same. Any idea what happened in 1.5.x to partially resolve this issue? Would still be great to test a simple model in CI

[2021-11-22 08:06] #10161 closed

[2021-11-22 09:16] tchaton commented on #9741
Hey @yifuwang @ananthsub,

Any updates on this ?

[2021-11-22 09:24] tchaton commented on #10573
Hey @blisc, @ananthsub,

I believe it is really important we are mindful about breaking our user code, especially when the community is manifesting about a change that isn't final and open to discussions. I believe this would be impacting a lot of users relying on configuration tools like Hydra.

From the previous conversation, I believe the best consensus would be:

* Add `ckpt_path` to the `Trai