[2022-09-08 11:51] #14601 closed

[2022-09-08 12:30] RegiusQuant opened #14604 "Optuna integration reports AttributeError"
## 🐛 Bug

When using `PyTorchLightningPruningCallback` to search best hyperparams, it reports `AttributeError: 'AcceleratorConnector' object has no attribute 'distributed_backend'`

### To Reproduce

[code]

[code]

### Expected behavior

Should not report any errors.

### Environment

- Lightning Component:  Trainer
- PyTorch Lightning Version:  1.7.5
- PyTorch Version:  1.12.1
- Python version:

[2022-09-08 13:29] tchaton commented on #14545
Hey @tmquan,

Thanks for raising this issue. Would you be interested to make a contribution. You could change the StreamlitFrontend to use this host instead of localhost.

Best,
T.C

[2022-09-08 14:28] Queuecumber opened #14610 "Make the Slurm Signal Configurable"
## 🚀 Feature

Lightning currently assumes that the slurm preemption signal is set to USR1, it would be nice to add an option to SLURMEnvironment to change this.

### Motivation

I use submitit to handle slurm submissions and they recently moved away from USR1 because of an NCCL conflict.

This breaks the requeuing in pytorch lightning.

See also https://github.com/facebookincubator/submitit/issues

[2022-09-08 14:29] Queuecumber commented on #14610
Happy to contribute this if it looks alright BTW

[2022-09-08 14:36] qingpeijun opened #14611 "Multi-nodes and multi-gpu training never starts"
## 🐛 Bug
Multi-nodes and multi-gpu trainning never starts, 2 machines have the same environment and te.py

### To Reproduce
this is my minimal version: te.py
[code]
I tried 2 ways on 2 machines

on 172.18.17.15 , I run with
[code]
then, on 172.18.17.15, run with
[code]
same for
[code]
both ways got stuck at the beginning.

### Expected behavior
![IMG_4965](https://user-images.githubusercontent.com

[2022-09-08 15:03] awaelchli commented on #14610
Hi @Queuecumber

I think what you propose is very reasonable. If you want to contribute it, that would be great and I will be happy to take a look at your PR.

[2022-09-08 17:06] nohalon opened #14613 "Come work with us at Lightning AI !!"
## 🚀 Feature

Calling all full-stack, backend, and frontend engineers to come build Lightning AI!!

### Motivation

I'm looking for awesome developers to join our team and revolutionize AI with us!

### Pitch

If you're seeing this- you already love Lightning and use it. We love to see that passion in the open-source community and would love to have you on the team :) You can do what you love AND

[2022-09-08 21:57] JulesGM commented on #5449
@carmocca does this work with multi node training?

[2022-09-09 00:21] awaelchli commented on #14611
@paineQing Code looks good, launch command looks good too!
A few questions and things to try:

- Can the nodes communicate through nccl? Try setting NCCL_DEBUG=INFO.
- You could try gloo instead of nccl
- Does single node ddp work? I see in your console that only one local process starts rather than two, what might be the reason for this?

[2022-09-09 00:33] awaelchli commented on #14611
Oh, I think I see what's missing. In your command, `--nproc_per_node 2` is missing, that's why it is creating only one process on each node. Try this:

[code]

[2022-09-09 03:34] akihironitta commented on #13572
@carmocca I think we can proceed forward with this because we'll keep hosting the pl docs on readthedocs after pl and app docs are fused, AFAIK.

cc @Borda as this is something only the readthedocs admin can address.

[2022-09-09 05:42] donlapark commented on #13445
Hi! I would like to take `pytorch_lightning/trainer/supporters.py`.

[2022-09-09 08:00] awaelchli commented on #13445
@donlapark Appreciated! Feel free to go ahead. It could be a challenging one, let us know if you need help!

[2022-09-09 08:48] maxencewynen commented on #14374
Hi @Borda , do you have any updates on this issue? I have the exact same issue, and trying in a fresh conda environment - like [this link](https://stackoverflow.com/questions/73084185/conda-is-installing-a-very-old-version-of-pytorch-lightning) suggests  - does not resolve it.

[2022-09-09 10:01] awaelchli commented on #14428
User on stackoverflow said they solved it:

https://stackoverflow.com/q/73543936/1162383

In recent version of PL, we introduced an info message for the user when they set fast_dev_run. For example, setting

[code]

will print this:

This should clear up possible confusions what is happening.

[2022-09-09 10:01] #14428 closed

[2022-09-09 10:10] awaelchli commented on #14533
You can simply set `strategy="dp"` in the Trainer, this would then use the same multi-GPU backend as in the original code. We normally don't recommend DP (it's also not recommended by PyTorch anymore), but it sometimes is necessary to get the same results as the original code. I hope this helps.

[2022-09-09 10:15] awaelchli commented on #10182
@carmocca I see no reason why at the moment. num_workers>0 should work in notebooks, if that's what you mean.

[2022-09-09 11:41] carmocca commented on #5449
It should

[2022-09-09 14:59] carmocca opened #14622 "Test, ignore"
cc @carmocca

[2022-09-09 15:00] #14622 closed

[2022-09-09 15:25] dhananjaisharma10 opened #14624 "Automatic LR finder for DDP"
## 🚀 Feature

Currently, `auto_lr_find` is only supported for a single GPU. It would be good to have this support for a DDP environment. This is mentioned in the Lightning docs [here](https://pytorch-lightning.readthedocs.io/en/stable/advanced/training_tricks.html?highlight=LEARNING%20RATE%20FINDER#learning-rate-finder).

### Motivation

The motivation is quite simple. A lot of people use multi-GP

[2022-09-09 16:05] krshrimali commented on #14624
Thanks, @dhananjaisharma10 for creating the issue! For anyone else who wants this feature, feel free to put a thumbs up to the issue and let us know 🔥 There is an opened PR where @rohitgr7 is working on adding this feature: https://github.com/Lightning-AI/lightning/pull/11089.

[2022-09-09 16:06] krshrimali commented on #14610
Hi, @Queuecumber - Thanks for showing the interest. I assume you want to contribute, so I've taken the liberty to assign you to this issue. If you are stuck, or have any questions, please feel free to ask them there. :)

[2022-09-09 17:43] akihironitta commented on #14604
For reference: https://github.com/optuna/optuna/issues/3978

[2022-09-09 18:45] jlperla opened #14628 "Upload pytorch lightning config.yaml as artifact for WandB logger"
## 🚀 Feature

At this point, I don't think that the pytorch lightning `config.yaml` generated directly or with the CLI is uploaded as an artifact when using the `WandbLogger`

It would be nice to have that as an option for full reproducibility and to avoid saving out a temporary file in cases where many processes are running at the same time.

### Motivation

Saving out the `config.yaml` file for

[2022-09-09 20:56] nasyxx opened #14630 "Both DP or DDP not works on A100."
## 🐛 Bug

The strategy of DP or DDP not works.  They stuck here:

DDP:
<img width="983" alt="Screen Shot 2022-09-09 at 03 38 45 PM" src="https://user-images.githubusercontent.com/5007613/189439365-1c731bc0-3665-4018-ade9-47949cd0f07f.png">

And use all of the GPU:

<img width="785" alt="Screen Shot 2022-09-09 at 03 39 05 PM" src="https://user-images.githubusercontent.com/5007613/189439496-47ecee5f

[2022-09-10 08:16] donlapark commented on #13445
A `mypy` check has just failed because there are some errors in `tuner/lr_finder.py`, `trainer/connectors/callback_connector.py` and `trainer/connectors/callback_connector.py` (most of them are just `Unused "type: ignore"`). Maybe we should fix those errors as well?

[2022-09-10 10:43] Erlemar opened #14634 "MPSAccelerator not available"
## 🐛 Bug

This issue is similar to this one: https://github.com/Lightning-AI/lightning/issues/13991

Raised from accelerator_connector.py::AcceleratorConnector#_set_parallel_devices_and_init_accelerator:
https://github.com/Lightning-AI/lightning/blob/2415834aaf4f215ddb0d618bf415405d670f9114/src/pytorch_lightning/trainer/connectors/accelerator_connector.py

Availability determined here:
https://git

[2022-09-10 15:15] arcAman07 commented on #14595
I would love to work on this issue!

[2022-09-10 17:03] awaelchli opened #14635 "Provide a backend agnostic Join for LightningLite"
## 🚀 Feature

Provide Join through an intuitive API in LightningLite and make it backend agnostic, i.e., switching from DDP to single-device and vice versa should not require changes to the code.

### Motivation

The [DDP Join context manager](https://pytorch.org/tutorials/advanced/generic_join.html) in PyTorch allows you to run your loops with different number of items on each rank, without getti

[2022-09-10 17:18] awaelchli opened #14636 "Introduce a mechanism to set the epoch on the sampler in LightningLite"
## 🚀 Feature

We need a mechanism to set the epoch on the distributed sampler via `.set_epoch()`.

### Motivation

To correctly handle shuffling with the DistributedSampler in DDP, the PyTorch user would normally call

[code]

in their training loop.  PL handles this automatically for the user, but in Lite, the training loop is owned by the user and hence should be signaled in a different way.

##

[2022-09-10 17:26] awaelchli commented on #14634
@Erlemar Are you in a conda environment? Did you by accident install the intel version of the conda installation? I think your Python might be emulated (rosetta) and thinks that it is running on Intel.

I am pretty sure that patching the check we have with i386 would be the wrong choice here.

cc @justusschock

[2022-09-10 23:39] williamFalcon opened #14639 "use auto for MPS"
Why do we have this warning? instead, we should use MPS by default...
[code]

also, MPS should show up as one of the accelerators.

@carmocca

cc @akihironitta @justusschock

[2022-09-11 03:49] Erlemar commented on #14634
@awaelchli Hm, maybe it happened indeed. I reinstalled conda and Trainer works without errors right now. Thank you!

This issue can be closed then.

[2022-09-11 04:08] tshu-w commented on #14630
for reference, the test.py works fine on my side with the following environment:
<details>
  <summary>Details</summary>
  * CUDA:
	- GPU:
		- NVIDIA A100-PCIE-40GB
		- NVIDIA A100-PCIE-40GB
		- NVIDIA A100-PCIE-40GB
		- NVIDIA A100-PCIE-40GB
		- NVIDIA A100-PCIE-40GB
		- NVIDIA A100-PCIE-40GB
		- NVIDIA A100-PCIE-40GB
		- NVIDIA A100-PCIE-40GB
	- available:         True
	- version:           11.3

[2022-09-11 09:44] awaelchli commented on #14639
@williamFalcon You are on Lightning PyTorch 1.7.5 right?

The Trainer defaults to CPU always, on all systems. This is why the warning shows. Only when setting accelerator="auto" does the selection happen automatically (and the warning shouldn't appear). Can you confirm this for your Trainer settings?

Agreed :)

[2022-09-11 10:56] williamFalcon commented on #14639
interesting… i thought the default was auto. what about making auto the default? not CPU?

[2022-09-11 11:19] williamFalcon opened #14643 "cli args for apps"
Enable CLI args for apps
[code]

cc @borda

[2022-09-11 11:30] awaelchli commented on #14639
Yep, I faintly remember discussions regarding this around the time when "auto" was introduced and the topic of Trainer 2.0 came up. It would be a massive "breaking" change, which is why we had held back on exploring this I guess. But I would consider it.

As for MPS, defaulting to it in the current state would IMO be unsafe, as PyTorch is still working on supporting many torch ops. Right now, lots

[2022-09-11 16:14] krshrimali opened #14645 "Unable to run works in the `LightningList` structure on cloud"
## 🐛 Bug

(as reported by @aniketmaurya)

Following error is raised:

[code]

### To Reproduce

[code]

### Expected behavior

Should work.

### Environment

lightning, version 0.5.7

### Additional context

cc: @tchaton @ethanwharris

cc @tchaton @rohitgr7

[2022-09-11 16:42] nasyxx commented on #14630
Hi @tshu-w , thanks for your help.

I just tested with your env, but it still does not work.  In fact, I found lots of similar problems in PyTorch/Jax/TensorFlow issues.

Like:
https://github.com/pytorch/pytorch/issues/52142
https://discuss.pytorch.org/t/nn-dataparallel-gets-stuck/125427
https://github.com/google/jax/issues/8475
https://forums.developer.nvidia.com/t/multi-gpu-not-work-with-nvidia-

[2022-09-11 16:42] #14630 closed

[2022-09-11 19:48] tchaton commented on #14643
Hey @william

You can pass arguments with '--app_args ...'

[2022-09-11 20:07] carmocca commented on #13378
I changed my mind. I think the `callback` proposal is the simplest and most extensible option. This would also resolve https://github.com/Lightning-AI/lightning/issues/11014. And we could have flags in the callback to disable specific prints.

[2022-09-11 20:07] carmocca commented on #14639
Adrian already described the reasons why this isn't done. The open issue about defaulting to auto is https://github.com/Lightning-AI/lightning/issues/10606. I'll close this one as we would want to make this change for all accelerators together, not just MPS.

It does appear as a specification of GPU:
"GPU available: True **(mps)**"

We chose this for several reasons:

- In the trainer, you can exp

[2022-09-11 20:07] #14639 closed

[2022-09-11 21:19] turian opened #14646 ""Migrations" for lightning models and trainers"
## 🚀 Feature

There should be a simple way to "migrate" (mutate) a lightning model and trainer / optimizer.

### Motivation

It's common when training large scale neural networks, or building off existing large-scale nets, to mess with it in unholy ways. This allows one to leverage previous long-term training times, but still customize the network (or optimizer) as need be.

* For example, take a

[2022-09-11 21:50] turian commented on #5339
Here's a model doing linear warmup for 5 hours but then the cosine annealing base_lr is too high so it diverges. I wish I could have played with that base_lr rather than retraining from scratch:

<img width="605" alt="image" src="https://user-images.githubusercontent.com/65918/189549350-5e376703-e072-4ddd-85b5-4da95d1ad89a.png">

Here's a model that warmsdown (from LR 10 to 3.2) for 10 hours, and

[2022-09-12 00:15] Felonious-Spellfire opened #14647 "Header missing on local doc generation"
## 🐛 Bug

When generating the documentation for source-app, source-pytorch, and source-lit, the generated HTML files do not have a header.

### To Reproduce

The results are the same using conda Windows and conda Ubuntu with the following versions of Python: 3.8, 3.9, 3.10.

1. Clone the Lightning repo
2. In the root directory run the following:
pip install -r requirements/app/docs.txt -U
pip inst

[2022-09-12 00:23] Felonious-Spellfire opened #14648 "Windows does not generate HTML output for source-pytorch and source-lit unless this is configured PL_FAST_DOCS_DEV=1"
## 🐛 Bug

Windows does not generate HTML output for source-pytorch and source-lit unless this is configured PL_FAST_DOCS_DEV=1. If that flag is not set, an exception error is thrown and no HTML is generated.

### To Reproduce

The results are the same using a host Windows machine or conda Windows with the following versions of Python: 3.8, 3.9, 3.10.

1. Clone the Lightning repo
2. In the root dir

[2022-09-12 00:33] Felonious-Spellfire opened #14649 "Windows cannot generate docs correctly for source-lit. All files simply have a file path as their contents."
## 🐛 Bug

When generating the docs for Windows 11 or conda Windows machines, the contents of the HTML output is a file path. No other content appears in any of the HTML files (only a file path).

### To Reproduce

The results are the same using a Windows 11 host or a conda Windows machine with the following versions of Python: 3.8, 3.9, 3.10.

1. Clone the Lightning repo
2. In the root directory r

[2022-09-12 05:33] akihironitta commented on #14595
@arcAman07 Thank you! That would be fantastic! :)

[2022-09-12 06:03] tshu-w commented on #14188
Hi @awaelchli, here's a case where I'm not sure how to handle it.

Currently, when the `Logger.save_dir` is `None` (`DummyLogger`, `CometLogger(offline)`, Deprecated `LoggerCollection`, etc), the `Trainer.log_dir` is `None` either, and the checkpoints directory is `default_root_dir/name/version`. What should `experiment_dir` return in this case?
1. `None`, we still need dirty logic to determine wh

[2022-09-12 06:24] akihironitta opened #14652 "Support Python 3.11"
## 🚀 Feature
This is a tracking issue to support Python 3.11 released on 2022-10-03.

### Additional context
- [PEP 664 – Python 3.11 Release Schedule](https://peps.python.org/pep-0664/)
- [What’s New In Python 3.11](https://docs.python.org/3.11/whatsnew/3.11.html)

______________________________________________________________________

#### If you enjoy Lightning, check out our other projects! ⚡

[2022-09-12 08:27] awaelchli commented on #14188
Yes, it's one possible solution that I propose in the issue description above. It's not ideal, but the only way currently to respect the Trainer default root dir.

If we don't care about respecting the default root dir for this edge cases, we can return None in DummyLogger.experiment_dir, and internally in places where we need to access experiment dir, we check for `isinstance(trainer.logger, Dumm

[2022-09-12 11:35] krshrimali opened #14655 "App: Can not pass a PyTorch Tensor to Work's run method"
## 🐛 Bug

I get this error while trying to pass a tensor to a work's run method: (tried locally so far)

[code]

### To Reproduce

[code]

### Expected behavior

It should not raise the error above?

### Environment

- Lightning Component (e.g. Trainer, LightningModule, LightningApp, LightningWork, LightningFlow):
- PyTorch Lightning Version (e.g., 1.5.0):
- Lightning App Version (e.g., 0.5.2): 0.

[2022-09-12 12:28] awaelchli commented on #14655
@krshrimali Yes, that's tricky. The tensor is not deepdiff-able (remember we cache arguments to know whether we should re-run the work or not). We should make the error better, and point users to making a Payload.

[2022-09-12 12:36] rohitgr7 commented on #14655
payload is also not working

[2022-09-12 12:38] krshrimali commented on #14655
Thanks, @awaelchli - We tried using the `Payload` as well, but that resulted in the same error. (snippet shared by @rohitgr7 above)

[2022-09-12 12:41] justusschock commented on #14635
cc @otaj who was working on Join I think :)

[2022-09-12 14:09] carmocca commented on #14635
Is this proposal relevant to `Join` only? Or should we instead tackle it from the wider perspective of https://github.com/Lightning-AI/lightning/issues/7534?

Join would be DDP only, but this idea:

should apply to all collective calls.

[2022-09-12 14:43] acxz commented on #4496
Closed by #9031

[2022-09-12 15:01] likethecognac opened #14658 "Lightning update serves an error although installs successfully"
## 🐛 Bug

### To Reproduce

### Expected behavior

### Environment

- Lightning Component (e.g. Trainer, LightningModule, LightningApp, LightningWork, LightningFlow):
- PyTorch Lightning Version (e.g., 1.5.0):
- Lightning App Version (e.g., 0.5.2):
- PyTorch Version (e.g., 1.10):
- Python version (e.g., 3.9):
- OS (e.g., Linux):
- CUDA/cuDNN version:
- GPU models and configuration:
- How you insta

[2022-09-12 15:27] tchaton commented on #14655
@krshrimali The payload is meant to be created within work.run method, not in the flow.

[2022-09-12 15:31] krshrimali commented on #14655
So if a user wants to transfer a PyTorch tensor to a work from a flow, what's the suggested way, @tchaton?

Also, I think we should raise a better error, as suggested by @awaelchli above.

[2022-09-12 15:34] krshrimali commented on #14655
FWIW, we are currently saving the tensor to a file (`torch.save`), passing the path, and then loading it again in the work to get around this. If there is a docs section which explains on how to share objects between flows and works, that I'm missing, please let me know.

[2022-09-12 15:36] krshrimali commented on #14658
Hi, @likethecognac - Thanks for creating the issue. Could you please share what's the error? I'll need just a bit more info about the error, and rest assured - we'll try to help out as soon as possible. :)

[2022-09-12 15:55] rohitgr7 commented on #14655
for our usecase, I think we will be using works? @krshrimali
I checked and it works:
[code]

[2022-09-12 16:52] awaelchli commented on #14655
Yes exactly, this is the intended way to use the payload for such objects. We need to describe this is in a concise way in the error message.

[2022-09-12 17:35] #14634 closed

[2022-09-12 19:24] #14610 closed

[2022-09-12 19:50] zihaozou commented on #12279
Hi, do you find a solution to relaunch the jobs on LSF?

[2022-09-12 21:25] amorehead commented on #12279
Hi, @zihaozou. Sadly, I have not yet. However, I will most likely be looking back into this in the near future, as I have a current project that could make use of such functionality within PyTorch Lightning.

[2022-09-12 21:55] krishnakalyan3 opened #14673 "StreamlitFrontend does not work when trying to upload a file locally"
## 🐛 Bug

On uploading any file to streamlit, I see that upload has failed with a `403` error as seen in the screenshot below.

![image](https://user-images.githubusercontent.com/4648995/189764590-64a72069-171e-46c7-a7c9-b457eadc8154.png)

### To Reproduce

Create a file as a `00_demo.py`

[code]
Execute locally using the command below
`python -m lightning run app  00_demo.py`

However, using the

[2022-09-12 22:56] ejm714 opened #14674 "auto_lr_find does not work is there is a BackboneFinetuning callback"
## 🐛 Bug

`auto_lr_find` does not properly restore the model for training if there is a `BackboneFinetuning` callback.

### To Reproduce

Set up a backbone finetuning callback for your model, set auto_lr_find to True, and then run
[code]
which will yield the following error

[code]

See notebook example: https://colab.research.google.com/drive/1ajrSRge90RM8Rlcwk0HyEosLLpOpyvg-#scrollTo=j4jtleSsu77

[2022-09-13 03:24] turian commented on #14595
If I have multiple optimizers and schedulers as per [the doc](https://pytorch-lightning.readthedocs.io/en/stable/common/lightning_module.html#configure-optimizers) but I'm not training a GAN, just a single model, what happens?

Can I make it that the first scheduler and optimizer runs, then when the first scheduler stops (e.g. reaches plateau or whatever) it switches to the second scheduler + opti

[2022-09-13 06:43] krshrimali opened #14677 "App: Raise a better error when `run` method not defined for the `LightningWork`"
## 🚀 Refactor

When a user forgets to define a `run` method in their `LightningWork`, a `TypeError` is raised:

[code]

### Pitch

We should raise a better warning, pointing the users to the documentation on how to implement the `run` method.

### Alternatives

Is there a reason why `LightningWork` is an abstract class? Can we make it a normal class like `LightningFlow`, and raise a `NotImplemente

[2022-09-13 08:59] awaelchli commented on #14677
A LightningWork is not useful if run is not implemented, and we can't have a default implementation. The class is marked abstract to signal to the user they need to implement run(). This marks the contract between user and framework: The user can subclass LightningWork and implements a valid run method. Then the framework can remotely execute the code in run().

There, the contract is different: T

[2022-09-13 09:05] krshrimali commented on #14677
Thanks @awaelchli - I don't disagree to anything you said. Tried going the `NotImplementedError` way, but that didn't work. I was missing something I guess.

But anyways, a question - do you think we can modify the error message without changing anything in the API/contract? :) Just asking for knowledge if it's possible at all.

[2022-09-13 09:20] Hannes-Epoch commented on #4332
I would advocate for putting Tensorboard to the extras in favor of the CSVLogger as default.

Tensorboard is quite the hefty dependency and can cause dependency conflicts, e.g., in our case it is protobuf that is in conflict with other libraries.
We are using Wandb, so Tensorboard is dead weight which causes unnecessary issues. Essentially, we are forced to not use PyTorch lightning anymore or do

[2022-09-13 10:50] awaelchli opened #14682 "Provide teardown APIs in Lite"
## 🚀 Feature

Right now, Lite does not have any high-level APIs to free memory, unwrap models, etc.

### Motivation

Give the user device/strategy agnostic functions to call in their loops and training workflows when control is needed. Automate what can be automated.

### Pitch

- A way to unwrap layers that were wrapped with SyncBatchNorm (see also #13748)
- A way to free memory occupied by objec

[2022-09-13 10:53] #14594 closed

[2022-09-13 10:59] awaelchli opened #14683 "Meta package issues with imports"
## 🐛 Bug

### To Reproduce

In a fresh environment (Python version does not matter):
[code]
(version 0.6.0 is the latest at the time of writing)

[code]

Error:

[code]

On master, this gives no error!

### Expected behavior

No error. These are the imports shown in our docs.

### Additional context

Reported by @krishnakalyan3

### Environment

<details>
  <summary>Details</summary>

* CUDA:
	- G

[2022-09-13 11:31] williamFalcon commented on #9900
@slimshreydy do you have benchmarks either in terms of memory/disk space/install time that would be gain from this? there’s already a slim install version of lightning for production use…

[2022-09-13 11:40] tchaton commented on #14677
Hey @krshrimali Yes, you could override the `Type` class and override the error message.

[2022-09-13 12:26] #14602 closed

[2022-09-13 13:00] williamFalcon commented on #14677
yes, the error message needs to be friendly... i've brought this up multiple times.
99% of python developers probably don't even know what "abstract class" means, nor should they... a message in plain HUMAN english is our goal...
"you didn't implement the run method in your XYZ class. This is required. example:

class ...

   def run(self):
      # <------- this guy
"

[2022-09-13 13:06] otaj commented on #14531
Yes, I am working on checkpoint splitting, however, other things had a slightly higher priority so I don't really have much to show for at the moment. However, the idea is simple: if we allow to split the checkpoint and user then *explicitly removes* some parts of that checkpoint (such as LR state), it will be missing from reconstructed checkpoint and therefore not loaded.

[2022-09-13 13:21] otaj commented on #14635
Oh, yes, this is a great idea! However, I gotta agree with @carmocca that it might be better to have this applied to all collective calls. Maybe even have something like `lightning.lite.distributed` module/package which would contain all of these calls

[2022-09-13 14:31] otaj commented on #13445
Hi @nninept, I've unassigned you from `pytorch_lightning/callbacks/progress/rich_progress.py` file as there hasn't been any PR opened regarding in the last two weeks. Thank you for your contributions! :zap:

[2022-09-13 15:25] SungFeng-Huang commented on #13643
I'm busy recently until the end of October. I would open a PR if the bug is still unfixed at that time.

[2022-09-13 19:33] ThomasElliot74 opened #14691 "[Feature Request] Add an Option to Log the Learning Rate in Progress Bar"
## 🚀 Feature

See the learning rate at the progress bar output using the `LearningRateMonitor` class.

### Motivation

Seeing the learning rate as part of the progress bar will be a simple way to debug things without going into the logger.

### Pitch

Make things simpler :-).

### Alternatives

Do it manually.

______________________________________________________________________

#### If you enj

[2022-09-13 23:04] Waybaba commented on #13948
Is there any nice way to update the net (where the parameters are predefined) in the inference mode?

[code]

[2022-09-13 23:24] Sleepychord commented on #11361
same problem... why won't fix?

[2022-09-14 02:18] joshua840 opened #14695 "Unable to use neptune logger after a version upgrade of pytorch lightning"
## 🐛 Bug

Unable to initialize Neptune logger after version upgrade of pytorch lightning from 1.6.5 to 1.7.0.

[code]

In my case, the value of Run is None, which is determined in the following code.

https://github.com/Lightning-AI/lightning/blob/14b36f8109db63f4c9ed2480734ce5a0dbbc71b9/src/pytorch_lightning/loggers/neptune.py#L43

If I downgrade lightning to 1.6.5, the error does not occur.

###

[2022-09-14 05:48] RegiusQuant commented on #14604
@krshrimali Optuna version：3.0.0

[2022-09-14 06:20] akihironitta commented on #11361
Hi @Sleepychord @amorehead, do you have a script to reproduce the behaviour?

[2022-09-14 07:46] geoffrey-g-delhomme opened #14699 "`ReduceLROnPlateau` update error while resuming from a checkpoint"
## 🐛 Bug

While resuming from a checkpoint, I get this error: `pytorch_lightning.utilities.exceptions.MisconfigurationException: ReduceLROnPlateau conditioned on metric loss/train which is not available. Available metrics are: ['monitor/epoch_train']. Condition can be set using `monitor` key in lr scheduler dict`.
After some analysis, it seems the last epoch at which the model was saved is rerun w

[2022-09-14 07:49] paineQing commented on #14611
Sorry for not replying in time due to private issue.
First, single node ddp works , and I have set NCCL_DEBUG=INFO, and then run my codes. But I also faced same problems.
![IMG_4990](https://user-images.githubusercontent.com/101625489/190093033-5a435cce-da19-4738-bce4-e64abe8b23d3.PNG)
Second, I tried --nproc_per_node 2. And it also didn't work. The information was listed below.
![IMG_4989](https:

[2022-09-14 07:50] Felonious-Spellfire opened #14700 "How do we start an app on the cloud from a remote device? How do we provide our login credentials?"
## 📚 Documentation

How do we start an App on the cloud from a remote device? How do we provide our login credentials?

If you can provide env variables, set LIGHTNING_USER_ID and LIGHTNING_API_KEY with your user id and api key

You can find these values in the credentials file on your local machine where you had logged in already

~/.lightning/credentials.json

[2022-09-14 07:54] turian opened #14701 "How to use bitsandbytes"
## 📚 Documentation

The docs on [8-bit precision](https://pytorch-lightning.readthedocs.io/en/1.6.1/advanced/precision.html#bit-optimizer) say you can use bitsandbytes, and "Although, Lightning doesn’t support it out of the box yet but you can still use it by configuring it in your [LightningModule](https://pytorch-lightning.readthedocs.io/en/1.6.1/api/pytorch_lightning.core.LightningModule.html#p

[2022-09-14 08:28] awaelchli commented on #14695
Thanks @joshua840
I see you are using PL 1.7.0. The import issue was fixed recently, can you upgrade to the latest version and try again?

[2022-09-14 08:53] awaelchli commented on #14701
@turian What the docs were trying to say by Trainer(precision=32) is, leave the precision setting on the default in the Trainer and then configure your third-party library to use the precision from them, i.e., use their functions to cast inputs, convert operations, and so on.

We should remove the mention to bitsandbytes in our docs, it looks like this project is dead. We can mention others if you

[2022-09-14 09:19] TianyuDu opened #14704 "Use `sourceTensor.clone().detach()` to construct tensors"
## Proposed refactor

I encountered the PyTorch warning
[code]
after upgrading to lightning `1.7.5` and PyTorch version `1.12.1`. The fix should be pretty easy: replacing the `value = torch.tensor(value, device=self.device)` at `pytorch_lightning/core/module.py:555` with the suggested change proposed by PyTorch.

The package is still usable after suppressing the warning : )
_______________________

[2022-09-14 09:21] turian commented on #14701
@awaelchli Doesn't seem like bitandbytes is dead, it's just owned by @TimDettmers now: https://github.com/TimDettmers/bitsandbytes

Last commit 16 hours ago, last release 2 days ago.

[2022-09-14 09:28] awaelchli commented on #14701
Oh ok, my bad, I was reading that it is no longer supported. In this case, we can link to the new repository and maybe add a small snippet how to configure the optimizer and layers.

[2022-09-14 09:37] Blaizzy commented on #14695
Hey @joshua840

Thanks for reporting,

This is a known issue:
https://github.com/Lightning-AI/lightning/issues/14114#issuecomment-1209578328

### Solution
As @awaelchli suggested, the solution is to upgrade to the latest version or any version bigger or smaller than v1.7.0.

And please let us know if this helps you.

[2022-09-14 10:55] carmocca commented on #13948
Why dp you want to update the net during evaluation? You should use `training_step` for that

[2022-09-14 11:11] carmocca commented on #14704
This is fixed in the [1.7.6 release](https://github.com/Lightning-AI/lightning/releases/tag/1.7.6). Thank you for reporting!

[2022-09-14 11:11] #14704 closed

[2022-09-14 11:15] carmocca commented on #14691
You can do so with

[code]

[2022-09-14 11:41] carmocca commented on #11512
For issues/PRs that required code changes, we use the milestone for it.

And for bug reports etc, the users generally include their PL version in the report.

What else is required?

[2022-09-14 12:10] ThomasElliot74 commented on #14691
I could also do the whole monitoring of the LR myself like that.
But if we're working to create a coherent way to do things, why not having it as an option in the class?

[2022-09-14 12:45] awaelchli commented on #11361
Hey, I believe this is because of the consolidation of sharded optimizer states. When Lightning saves a checkpiont, it consolidates the state from all ranks, the result is a memory peak, and if not enough free memory is available, this will cause the OOM.

There is an open feature request to address this (for all sharded strategies for that matter): https://github.com/Lightning-AI/lightning/issues

[2022-09-14 14:11] #11769 closed

[2022-09-14 15:17] Waybaba commented on #13948
We are working on Test-time Domain Adaptation, where the network needs to be updated after each batch feeding in an unsupervised fashion.

[2022-09-14 15:31] robert-s-lee commented on #14683
cc @Borda

[2022-09-14 15:46] #14211 closed

[2022-09-14 15:51] awaelchli opened #14707 "Merge Spawn Strategy in Lite"
## 🚀 Feature

The DDPStrategy and DDPSpawnStrategy are two very similar strategies. Fundamentally, they only differ in the way processes are managed. Their logic can be merged and de-duplicated, since over time we have factored out all things related to process launching and environments to separate classes.

### Motivation

- Less maintenance of duplicated code
- Easier to do in Lite first, with

[2022-09-14 21:45] kptkin commented on #6106
Hi @mmiakashs,
Could you try upgrading to the latest version of `wandb` and let us know if this solves your issue?
I think it should be resolved in the latest version.

[2022-09-14 22:15] carmocca commented on #14707
Looking forward to this simplification! Are there any known blockers? Or is it just a matter of doing it right and deprecating what's necessary?

[2022-09-14 22:35] carmocca commented on #14691
Sorry, I see what you propose now. I think the `LearningRateMonitor` could be updated to use `pl_module.log` directly instead of manually sending the metrics to the logger.

Then, it could expose the `prog_bar` argument to resolve this issue.
Here's a quick idea of the potential changes:

[code]

Feel free to explore this direction in a PR if you have the bandwidth!

[2022-09-14 23:21] Borda commented on #14645
@tchaton, any update so far? :rabbit:

[2022-09-14 23:29] #14571 closed

[2022-09-15 00:03] carmocca commented on #13948
All of that is meant to be in the `training_step`. Forward should only contain `self.net(x)`

Why would it?

[2022-09-15 01:50] joshua840 commented on #14695
Thank you for your reply. I got the same results after creating a new environment and re-installing every latest package version.

Install commands for new env
[code]

conda env export output
[code]

[2022-09-15 02:08] carmocca commented on #14628
Looks to me like this is a duplicate of the proposal in https://github.com/Lightning-AI/lightning/issues/13577

[2022-09-15 07:45] awaelchli opened #14713 "Provide a method to skip gradient synchronization in LightningLite"
## 🚀 Feature

Provide an easy to use method to skip the gradient synchronization.

### Motivation

Skipping the synchronization of gradients in `.backward()` is useful when accumulating gradients in the training loop, cutting down communication overhead for DDP and the sort.

### Pitch

Introduce a context manager like we have internally in PL:

[code]

Usage in the training loop:

[code]

### Alt

[2022-09-15 08:29] awaelchli commented on #14707
No big blockers. In PL, it's a bit more work because there are still some differences there (e.g. the process reconciliation feature). In Lite, it's much easier. Some details like handling local rank and multi-node needs to be done correctly, the rest is identical code.

[2022-09-15 09:47] carmocca commented on #14695
No. If you diff the implementations, they are equal other than the clas name. It seems to work fine on my machine when I checkout 1.7.6:

[code]

Without `neptune-client`:
[code]

With `neptune-client`:
[code]

[2022-09-15 10:01] awaelchli commented on #14695
I believe #14714 fixes this problem, at least for me.
@carmocca The `pkg_resources.require(self.requirement)` method we use there seems to fail because partially some requirements are not met, but the package is still importable. So I switched to module_available for neptune. This fixes the issue for me.

[2022-09-15 10:21] carmocca commented on #14695
If I manually uninstall `webcolors`, I get the same messaging as you.

I don't think this is a bug in `pkg_resources`, but an issue with the requirements either in `neptune` or in `jsonschema`.

(note that `neptune` [pins jsonschema<4.0](https://github.com/neptune-ai/neptune-client/blob/0.16.7/requirements.txt#L19), so [3.2](https://github.com/python-jsonschema/jsonschema/blob/v3.2.0/setup.cfg) wi

[2022-09-15 10:23] carmocca commented on #14695
@joshua840 In the meantime, you can check if this is your problem by doing `pip install webcolors`

[2022-09-15 10:29] awaelchli commented on #14695
@carmocca we could continue with the quick fix and at the same time ask neptune if it is appropriate to add jsonschema[format].
I still think that our implementation is strange, since the package is perfectly importable and thus "available", and that's what we want to check in our logic. The current silent behavior is a bit worrying imo.

[2022-09-15 10:37] carmocca commented on #14695
I agree. The Neptune logger should have in it's `__init__`:

[code]

So that the "missing webcolors" message is surfaced to the users

[2022-09-15 10:45] rohitgr7 opened #14716 "[App] `pip install lightning[app]` installs additional packages which may not be required"
Following packages are installed too when installing lightning app using `pip install lightning[app]`.
I don't think it should install these. PL should be optional and torch should not be installed.

[code]

cc @carmocca @akihironitta @borda

[2022-09-15 11:05] rohitgr7 opened #14719 "`TracerPythonScript` calling run with same args multiple times even when `cache_calls=True`"
## 🐛 Bug

### To Reproduce

[code]

Current output:
[code]

Since tracer is a LightningWork, with `cache_calls=True` it should not run the script again.
Expected:
[code]

### Expected behavior

### Environment

- Lightning Component (e.g. Trainer, LightningModule, LightningApp, LightningWork, LightningFlow):
- PyTorch Lightning Version (e.g., 1.5.0):
- Lightning App Version (e.g., 0.5.2): master
-

[2022-09-15 11:22] rohitgr7 opened #14720 "`TracerPythonScript` is stuck when using same work to run different DDP scripts"
## 🐛 Bug

### To Reproduce

Create 2 scripts with this code:
[code]
and `app.py`

[code]

the 2nd script is stuck while creating the processes.

The reason I am using the same Tracer is that `TracerPythonScript` is a `LightningWork` and if I create multiple works to run different scripts, it will eventually allocate multiple machines for each work. Ideally it should be flexible enough to run the s

[2022-09-15 11:29] rohitgr7 opened #14722 "`outputs` in `TracerPythonScript` is not flexible"
## 🚀 Feature

`outputs` argument in `TracerPythonScript` is not possible to configure if using the same tracer instance to run the same script with different arguments to capture some other global variables.

[code]

it's impossible to specify the `outputs` during the run to capture some other outputs while running the same script with different args. Although a workaround would be to add all poss

[2022-09-15 11:48] mtomic123 opened #14723 "Wandb AttributeError when using Wandb with PyTorch Lightning Trainer"
## 🐛 Bug

I followed the official instructions that show how to use Wandb Logger with Pytorch Lightning.

I pip installed wandb and all PyTorch related modules. I logged into Wandb and then I do the following sequence of steps:

[code]

but I get an error

`AttributeError: 'Run' object has no attribute 'add_figure'
`

This error only appears when I use `wandb_logger` and it appears when I run `tra

[2022-09-15 12:10] carmocca commented on #14723
Can you share the complete error stacktrace?

[2022-09-15 12:13] mtomic123 commented on #14723
Here it is:

{
	"name": "AttributeError",
	"message": "'Run' object has no attribute 'add_figure'",
	"stack": "\u001b[0;31m---------------------------------------------------------------------------\u001b[0m\n\u001b[0;31mAttributeError\u001b[0m                            Traceback (most recent call last)\nCell \u001b[0;32mIn [22], line 2\u001b[0m\n\u001b[1;32m      1\u001b[0m \u001b[38;5;66;03m# f

[2022-09-15 12:19] awaelchli commented on #14723
@mtomic123 this is an error from wandb, saying that `add_figure` is not a wandb API. It doesn't have this function. Are you calling logger.experiment.add_figure() somewhere in your code? If so, please change it to the native wandb api to log images and media: https://docs.wandb.ai/guides/track/log/media#images

or use the log_image method on the WandbLogger: https://pytorch-lightning.readthedocs.i

[2022-09-15 12:41] mtomic123 commented on #14723
I'm not logging any images as my model is being trained on time-series data. In fact, I haven't added anything extra related to Wandb, I just initiated the Wandb logger `wandb_logger = WandbLogger(project="my_project")` and then passed this to Trainer as `trainer = Trainer(logger=wandb_logger)`

[2022-09-15 13:49] rohitgr7 commented on #14699
do you mean the checkpoint that was restored was a mid-epoch checkpoint?

[2022-09-15 13:59] geoffrey-g-delhomme commented on #14699
no, if I am not mistaken, it was an epoch end checkpoint, generated with ModelCheckpoint with interval set to epoch.

[2022-09-15 14:06] rohitgr7 commented on #14699
then it should start from the new epoch and rerun the complete new epoch with newly generated metrics that will be used to update LR schedulers. Can you share a [repro script](https://colab.research.google.com/github/Lightning-AI/lightning/blob/master/examples/pl_bug_report/bug_report_model.ipynb) to check this?

[2022-09-15 15:11] zlapp opened #14729 "lightning merlin dependency issues"
## 🐛 Bug

I was not able to install merlin along with lightning

### To Reproduce

[code]
requirements.txt:

[code]
Run:
[code]

### Expected behavior

[code]

[2022-09-15 15:55] carmocca commented on #14729
You can try using `pytorch_lightning<=1.3`, which allows for `torchmetrics==0.3.2`. Otherwise, this `transformers4rec` package will need to update its dependency

[2022-09-15 16:11] Borda commented on #14729
I agree this shall be rather addressed on transformers4rec side as they pin very old version with several known bugs...

[2022-09-15 21:20] zihaozou commented on #10098
Hi, do you find a solution? I am having the same problem on the LSF platform.

[2022-09-15 21:31] Sleepychord commented on #11361
Seems like the more nodes you're using, the higher the peak memory when saving. I can save a model on 2node but failed on 4 node.

[2022-09-16 02:35] Felonious-Spellfire opened #14737 "Does the Lightning API support async handle_post?"
## 📚 Documentation

Async is not supported and is not possible. It would be possible using a  staticmethod, but at this time this is not supported.

cc @borda @rohitgr7 @Felonious-Spellfire

[2022-09-16 02:36] Felonious-Spellfire commented on #14737
@tchaton Please help me a bit with the content for this.

[2022-09-16 04:40] Erotemic opened #14739 "lightning_logs version numbers: Include hashes of hyperparams."
## 🚀 Feature

Currently lightning writes a new folder each time you start a run and it does this by incrementing a version number. It might also be nice to have the option of including a small 8-char hash of of the hyperparams.

### Motivation

There are two motivating factors:

1. I don't like that lighting makes a new directory every time I start a run. Sometimes I just want to continue the prev

[2022-09-16 06:09] Felonious-Spellfire opened #14740 "Does Trainer have a property for the last checkpoint path?"
## 📚 Documentation

@awaelchli replied:

`trainer.checkpoint_callback.last_model_path`
or
`trainer.checkpoint_callback.best_model_path`

Let's document it here, we're missing this:
https://pytorch-lightning.readthedocs.io/en/stable/common/checkpointing.html?highlight=checkpointing

[2022-09-16 07:51] awaelchli opened #14741 "Reduce the number of installation steps for Windows"
## 📚 Documentation

Our [docs for the Windows installation](https://lightning.ai/lightning-docs/installation_win.html) currently list the following as mandatory requirements:

I argue that most of these are not needed, and instead introduce additional points of failure. Here are my arguments why these should be removed and what can be done instead:

**Git:** I suspect this was added because for on

[2022-09-16 08:09] awaelchli commented on #14723
@mtomic123 Great that you were able to resolve it yourself.

It is still a bit unsatisfying to me, not to know what the real reason was why it failed. If you could provide us with the right error message as requested by @carmocca, then we can take another look. Otherwise we would close the issue.

[2022-09-16 09:36] tchaton commented on #14737
.. note:: The Lightning App HTTP methods are synchronous as requests are routed from the App Rest API to the flow and asynchronous could lead to state collisions.

[2022-09-16 09:45] Enolerobotti commented on #13780
I also faced this bug. To reproduce
[code]
raises AssertionError. 22 objects are in gc.garbage for version 1.5.4 and 496 objects found for version 1.7.6. Expected 0 (zero)

[2022-09-16 09:47] Enolerobotti commented on #13780
FYI, the same thing happen if I delete `pl` with `del pl` command on line 3

[2022-09-16 11:00] #13605 closed

[2022-09-16 11:23] aniketmaurya opened #14747 "Default Python Version on cloud"
## 🚀 Feature

Right now the default Python version on the cloud is 3.8 and there is no way to specify it. I want to use the shutdown of the `ThreadPoolExecutor` with the `cancel_futurers` argument which is only available in Python>=3.9

### Motivation

### Pitch

### Alternatives

### Additional context

cc: @hhsecond

______________________________________________________________________

#### If

[2022-09-16 11:28] tchaton opened #14748 "Error with piping the logs into a file."
### First check

- [X] I'm sure this is a bug.
- [X] I've added a descriptive title to this bug.
- [X] I've provided clear instructions on how to reproduce the bug.
- [X] I've added a code sample.
- [X] I've provided any other important info that is required.

### Bug description

Reported by @kaushikb11

[code]

generated the following error.s

[code]

### How to reproduce the bug

[code]

### Er

[2022-09-16 12:04] carmocca commented on #14741
Related internal discussion: https://linear.app/lightning-ai/issue/LAI2-10220/lightning-quickstart-app-experience-feedback

[2022-09-16 12:08] carmocca commented on #14729
I notice that you installed `lightning`. This is really just a wrapper for our separate packages. If you are interested in running apps with PyTorch Lightning inside in a specific version, you can install the two packages separately:

[code]

[2022-09-16 12:09] #14729 closed

[2022-09-16 16:16] SM1991CODES opened #14755 "auto_tune_lr + StochasticWeightAveraging returns error"
### First check

- [X] I'm sure this is a bug.
- [X] I've added a descriptive title to this bug.
- [x] I've provided clear instructions on how to reproduce the bug.
- [X] I've added a code sample.
- [X] I've provided any other important info that is required.

### Bug description

![image](https://user-images.githubusercontent.com/69435296/190681953-2e9e162b-d0d7-4303-b1c1-a67e9ea02026.png)

As se

[2022-09-16 19:21] #14012 closed

[2022-09-16 21:22] pjspol commented on #14457
@carmocca @kaushikb11 Any updates on this issue?

[2022-09-16 21:49] awaelchli commented on #14677
Taking this one off your shoulders @krshrimali. See the two attached PRs 😃

[2022-09-16 23:17] awaelchli commented on #14747
Maybe platform could provide a set of base images that we can choose from via build config or similar?

@aniketmaurya In the mean time, you can implement the `cancel_futurers` using [this method](https://stackoverflow.com/questions/65443612/gracefully-exit-using-threadpoolexecutor).

[2022-09-16 23:43] Naxel100 commented on #10098
Nope, finally I run the code in just one node.

[2022-09-17 00:51] Borda commented on #14683
well it is about how the package is built - as a cross-import package, so this won't work
[code]
but you can
[code]
or
[code]
so if `lightning_app.__init__` would have `__all__ = [..., "frontend"]` your mentioned import also works...

[2022-09-17 01:15] amorehead commented on #12862
I second @sounakdey here. For now, I'm working around this issue of not being able to run `fit()` and `test()` one after the other with multiple GPUs and a single GPU, respectively. It would be very desirable to have this functionality in place so e.g., loggers like WandB can report training, validation, **and** testing results in the same experiment (i.e., run).

[2022-09-17 02:45] aniketmaurya commented on #14747
Sure I'll use this solution. Thanks for sharing Adrian 🔥

[2022-09-17 07:06] #13934 closed

[2022-09-17 19:45] #14677 closed

[2022-09-17 22:01] awaelchli commented on #13749
@lsy643 Thanks for starting to work on this and being patient with us. We can resume this work soon. We need to change the approach slightly from your initial PR, but it will be quite easy. For Lite to remain as flexible as it can be, we will want to introduce the `sync_batchnorm=True|False` as an argument to `Lite.setup()`. This would then wrap the layers for the model passed in. Furthermore, we

[2022-09-18 08:12] Sleepychord commented on #11361
Maybe there is some memory leakage. I found there were many new processes after saving checkpoints.

[2022-09-18 12:27] donlapark commented on #13445
I would like to take `rich_progress.py`.

[2022-09-18 12:49] neverstopZyy commented on #3300
Yeah, I suggest a parameter named “global_step” to get the number of the iterations as a supplement to this topic.

[2022-09-18 15:10] deGravity opened #14765 "pytorch-lightning 1.7.6 conda package is broken"
### First check

- [X] I'm sure this is a bug.
- [X] I've added a descriptive title to this bug.
- [X] I've provided clear instructions on how to reproduce the bug.
- [X] I've added a code sample.
- [X] I've provided any other important info that is required.

### Bug description

Pytorch lightning cannot be successfully imported after a fresh conda install due to a mismatch between tensorboard an

[2022-09-18 18:03] RylanSchaeffer opened #14766 "configure_optimizers documentation contradicts demo code"
The [documentation](https://pytorch-lightning.readthedocs.io/en/stable/common/lightning_module.html) for `configure_optimizers` states that two acceptable return types are:

- Dictionary, with an "optimizer" key, and (optionally) a "lr_scheduler" key whose value is a single LR scheduler or lr_scheduler_config.
- Tuple of dictionaries as described above, with an optional "frequency" key.

However,

[2022-09-18 18:07] RylanSchaeffer commented on #14766
I think this also causes a bug. If you follow the documentation and try setting the `lr_scheduler` key's value to a `scheduler` object, I don't think the scheduler is stepped.

[2022-09-18 18:08] RylanSchaeffer commented on #14766
Evidence:

![image](https://user-images.githubusercontent.com/8942987/190921992-fb085f6e-b3d1-454b-9b22-66789e715e4b.png)

[2022-09-18 18:15] awaelchli commented on #14765
Hi, which tensorboard version got installed for you?

I can't reproduce the same error, but something is broken. I got (tested py 3.9 and 3.10):

[code]

[2022-09-18 18:56] awaelchli commented on #14683
Dos that mean we should update the documentation with different imports? Or we need to add all submodules to `__all__`?

[2022-09-18 19:03] #13335 closed

[2022-09-18 19:13] awaelchli commented on #13935
Ran these examples. With the latest version, we get the appropriate error messages:

`AttributeError: 'Work' object has no attribute 'record'`

This seems to be resolved. Please re-open if there's still an open problem.

[2022-09-18 19:13] #13935 closed

[2022-09-19 02:47] deGravity commented on #14765
I get tensorboard 2.10.0 and setuptools 65.3.0 (I think those are the relevant packages in my error)

Here's the full package list from `conda list`

[code]

[2022-09-19 02:59] deGravity commented on #14765
I realized that I was using mamba instead of conda to create the environment. When I use conda, the error does not occur. The biggest difference in the packages installed with conda instead of mamba is that pytorch is 1.12.1 instead of 1.10.2:

Package list when installed using conda
[code]

[2022-09-19 03:56] AlexWang1900 opened #14774 "User can't disable _sanity_check before training"
### First check

- [X] I'm sure this is a bug.
- [X] I've added a descriptive title to this bug.
- [X] I've provided clear instructions on how to reproduce the bug.
- [X] I've added a code sample.
- [X] I've provided any other important info that is required.

### Bug description

When training IRTR tasks, validation is way long than one can imagine, and sanity check before training took so long,

[2022-09-19 06:16] yuvals1 opened #14777 "LightningWork does not move to the GPU"
### First check

- [x] I'm sure this is a bug.
- [X] I've added a descriptive title to this bug.
- [X] I've provided clear instructions on how to reproduce the bug.
- [X] I've added a code sample.
- [X] I've provided any other important info that is required.

### Bug description

I am trying to run an app with `LightningWork` of type `ServeGradio` which should run on my local GPU.
I am passing th

[2022-09-19 06:21] Borda commented on #14765
Also what python and OS are you using?

[2022-09-19 06:23] Borda commented on #14374
ok, let me add CI for installing on conda... :rabbit:

[2022-09-19 07:14] DuinoDu commented on #14774
Set [num_sanity_val_steps](https://github.com/Lightning-AI/lightning/blob/master/src/pytorch_lightning/trainer/trainer.py#L349) to 0 can disable _sanity_check before training.

May it help.

[2022-09-19 07:56] otaj commented on #13445
Awesome, @donlapark! Thank you very much, you were added to the list! :zap:

[2022-09-19 08:04] cogito288 commented on #13124
Same here. I also don't use WanDB. To make sure use end-of-epoch checkpoint, I use second last checkpoint of previous training.
Epoch 46:  91%|███████████               | 9074/10009 [57:09<-1:02:51, -0.27it/s, loss=-0.786, v_num=6]

[2022-09-19 08:16] deGravity commented on #14765
Ubuntu under WSL2 on Windows. Python 3.10

[2022-09-19 10:35] krishnakalyan3 opened #14779 "Unable to start a lighting app"
### First check

- [x] I'm sure this is a bug.
- [X] I've added a descriptive title to this bug.
- [X] I've provided clear instructions on how to reproduce the bug.
- [X] I've added a code sample.
- [X] I've provided any other important info that is required.

### Bug description

I am unable to run `lightning` apps on my M1 mac locally. Error below

### How to reproduce the bug

[code]

### Error

[2022-09-19 10:35] tchaton commented on #14777
Hey @yuvals1.

Thanks for trying Lightning App.

Here are some explications.

* CloudCompute is meant to specify which machine you want your work to be run upon in the cloud.
* When you use `torch.cuda.is_available()`, this creates a cuda context and can't be passed into forked process. Remove all your prints ;)

Could you try this:

[code]

[2022-09-19 10:59] aniketmaurya opened #14780 "Create copy of a LightningWork object from an already running Work"
## 🚀 Feature

It would be a great feature if we can copy work when we need a replica of something that already exists. This would save the reinstallation of dependency time.

[code]

### Motivation

While deploying Models with LightningWork I am autoscaling based on a number of requests and the upscale requires me to create a new Work this is a time taking stuff. If we can just clone an already ru

[2022-09-19 11:26] FlorianWieser1 opened #14781 "stuck at "Initializing distributed.." when using ddp with multiple gpus"
### First check

- [x] I'm sure this is a bug.
- [X] I've added a descriptive title to this bug.
- [X] I've provided clear instructions on how to reproduce the bug.
- [X] I've added a code sample.
- [X] I've provided any other important info that is required.

### Bug description

Dear community,

I'm desperately trying to achieve multi gpu training on our scientific SLURM cluster. It has one gpu

[2022-09-19 12:46] yuvals1 commented on #14777
Hey @tchaton,
Thanks for the response.
So I tried your suggestion and unfortunately now the process can't find Cuda for some reason:
`CUDA driver initialization failed, you might not have a CUDA gpu.
`
Any ideas why?

[2022-09-19 13:46] tchaton commented on #14777
Hey @yuvals1. Some progress, different errors.

Mind trying this?

[code]

cc @awaelchli

[2022-09-19 13:57] Borda commented on #3325
let's check the option with LigthingLite first 🦦

[2022-09-19 14:00] awaelchli commented on #3325
Here is the corresponding issue as suggested in planning: #14635

[2022-09-19 14:44] otaj commented on #14374
Hi everyone, what `conda` version are you using? I just downloaded `conda` 4.14.0 and cannot reproduce on Linux

[2022-09-19 14:54] awaelchli commented on #14777
Hi @yuvals1
Is PyTorch working fine on that system otherwise? Please check that this works:
[code]
Because the error

would suggest that your system/display driver is perhaps outdated?

As @tchaton said, the error

Is from torch and it seems that `gradio.Interface().launch()` that we use under the hood uses the forking method to create a subprocess. This is a limitation with torch, and thus all cu

[2022-09-19 15:04] sergedurand opened #14783 "Use no_grad instead of inference_mode if needed"
## 🚀 Feature
Making the choice of inference_mode vs no_grad parametrizable

### Motivation

In some cases autograd needs to be used even during testing (evaluating against adversarial examples for instance).
A simple with torch.no_grad in the test_step used to be enough, but not since torch.inference_mode has become the default with no possibility to easily change it.
See https://github.com/Lightn

[2022-09-19 15:05] awaelchli commented on #14374
My conda version was conda 4.12.0 (still is) and I'm on MacOS

[2022-09-19 15:09] sergedurand commented on #14783
My bad, already mentioned: https://github.com/Lightning-AI/lightning/issues/14497 and https://github.com/Lightning-AI/lightning/pull/14528

[2022-09-19 15:36] carmocca commented on #14766
Hi!

I'm not seeing what's the contradiction. The statement in the docs is correct, example:

[code]

And the prints confirm that they were stepped

[2022-09-19 15:40] carmocca commented on #14781
Can you try launching this script instead? It's simpler and the one we use for bug reports
https://github.com/Lightning-AI/lightning/blob/master/examples/pl_bug_report/bug_report_model.py

Also, `os.environ['CUDA_LAUNCH_BLOCKING'] = '1'` is for debugging and will make your run considerably slower

[2022-09-19 16:17] mauvilsa commented on #14628
The `log_config` parameter does not belong in `WandbLogger` since that class does not know anything about `LightningCLI` or `SaveConfigCallback`. Such a parameter would only make sense in `SaveConfigCallback`.

Maybe we should add a `save_config_kwargs` parameter to `LightningCLI.__init__` and deprecate `save_config_filename`, `save_config_overwrite`, `save_config_multifile`. This way people are a

[2022-09-19 16:20] jlperla commented on #14628
As long as it can be managed within config files and doesn't require custom saveconfigcallbacks, all sounds good to me!

[2022-09-19 17:26] MarcSkovMadsen opened #14784 "Support headless login"
### First check

- [X] I'm sure this is a bug.
- [X] I've added a descriptive title to this bug.
- [X] I've provided clear instructions on how to reproduce the bug.
- [X] I've added a code sample.
- [X] I've provided any other important info that is required.

### Bug description

I want to run lightning on a server in the cloud that where I have access to the terminal via a browser (Its part of a

[2022-09-19 17:27] Felonious-Spellfire opened #14785 "Content needs to be add for Jupyter Notebooks in the LAI docs"
## 📚 Documentation

https://pytorch-lightning.slack.com/archives/CRBLFHY79/p1663181171338019

This content needs to be added to the LAI docs:

The JupyterLab Component can be found there: https://github.com/Lightning-AI/LAI-Jupyter-Component

This is used in [Lightning Training Studio App](https://lightning-ai.github.io/lightning-hpo/workflows/run_notebook.html)

[2022-09-19 18:46] MarcSkovMadsen opened #14786 "PanelFrontend not working on cloud due to too low refetchInterval"
### First check

- [X] I'm sure this is a bug.
- [X] I've added a descriptive title to this bug.
- [X] I've provided clear instructions on how to reproduce the bug.
- [X] I've added a code sample.
- [X] I've provided any other important info that is required.

### Bug description

I'm trying to deploy some Panel apps with the `PanelFrontend` to `--cloud` as described in the lightning `PanelFronten

[2022-09-19 19:19] awaelchli opened #14789 "Issues installing and running lightning in Pipenv"
### Bug description

The original report is here (internal access only): https://linear.app/lightning-ai/issue/LAI2-8803/use-python-m-pip-in-all-examples

It seems that users who create an environment with Pipenv can't install Lightning or run apps without prefixing `python -m`. The python -m cancer is spreading to examples and documentation, but is clearly diminishing the UX for users. A real CLI

[2022-09-19 23:10] christopher-nguyen-re commented on #14226
I saw that this issue is still open. Would it be alright if I take a crack at it? I am new to contributing to open source software but am willing to try!

[2022-09-19 23:51] calebbuffa commented on #10918
Quick clarification question, as I work on this this has started feeling more complicated than it needs to be. Primarily, multiple inheritance past the 2nd generation of parents (which all new exceptions would be) introduces a lot of coupling and new code inheriting from deprecated code feels like a recipe for refactoring/future breakges. It seems far simpler to just create a decorator (`@decorate

[2022-09-20 00:23] awaelchli commented on #10918
There is no need to make something complicated here. 99% of all uses of MisconfigurationError can be replaced with one of these three types: TypeError, ValueError, RuntimeError. We already started doing this in new code!

Examples:

TypeError: When user gave us a list but a dictionary was expected
ValueError: We expected x > 0 but user passed in x = -2
RuntimeError: During execution, we found that

[2022-09-20 00:27] awaelchli commented on #14226
Yes @christopher-nguyen-re. I don't think @Rajathbharadwaj has started yet. Feel free to give it a try. When you open a PR, we can also help finish it or help fix anything that is giving trouble. Cheers and thanks for your interest 😃

[2022-09-20 01:31] christopher-nguyen-re commented on #14226
I attempted to replicate the bug running `lightning init pl-app train.py`. My terminal does properly show the icons. Could you elaborate on what terminal you used? I will continue working on the bug fix in the meantime.

[2022-09-20 01:44] AlexWang1900 commented on #14774
Great! that helps!!!

[2022-09-20 01:44] #14774 closed

[2022-09-20 02:15] MarcSkovMadsen commented on #14786
Part of the explanation might also be the low CPU provided

![image](https://user-images.githubusercontent.com/42288570/191151962-40cf4c5d-1130-4fe5-ae3d-0bddcaaa5e71.png)

Before creating the `PanelFrontend` I used a `LightningWork` and there I got more cpu

[![image](https://user-images.githubusercontent.com/42288570/191152296-830dcc3c-c3a3-482c-b10d-2ea43dbd3a6f.png)](https://github.com/MarcSko

[2022-09-20 02:18] MarcSkovMadsen commented on #14786
I've now updated `panel_app.py` to

[code]

This can load the app but it is still very, very slow to update when I change the value in a widget. It is not locally at all.

[2022-09-20 02:23] MarcSkovMadsen opened #14793 "PanelFrontend does not show logs"
### First check

- [X] I'm sure this is a bug.
- [X] I've added a descriptive title to this bug.
- [X] I've provided clear instructions on how to reproduce the bug.
- [X] I've added a code sample.
- [X] I've provided any other important info that is required.

### Bug description

I've deployed a `PanelFrontend` as described in https://github.com/Lightning-AI/lightning/issues/14786.

I want to inv

[2022-09-20 07:17] tchaton opened #14796 "(App) Using multiple schedule doesn't work. Only the last one is triggered."
### First check

- [X] I'm sure this is a bug.
- [X] I've added a descriptive title to this bug.
- [X] I've provided clear instructions on how to reproduce the bug.
- [X] I've added a code sample.
- [X] I've provided any other important info that is required.

### Bug description

Create a simple App with multiple components and its own schedule and they won't be triggered.

### How to reproduce t

[2022-09-20 07:22] FlorianWieser1 commented on #14781
Dear carmocca, thank you for your reply! I tried your bug_report_model, but still run into the same issue. I only added lines  accelerator="gpu", devices=1, strategy="ddp", num_nodes=4. Thank you in advance!

[2022-09-20 07:25] tchaton commented on #14793
Hey @MarcSkovMadsen.

In the PanelFrontend you contributed, you are piping the logs to files there: https://github.com/Lightning-AI/lightning/blob/master/src/lightning_app/frontend/panel/panel_frontend.py#L110.

I would advocate removing it entirely (extreme) or simply disable it in debug mode (https://github.com/Lightning-AI/lightning/blob/master/src/lightning_app/core/constants.py#L35).

Would y

[2022-09-20 07:53] apezzi commented on #3104
@realsarm  this worked for me, on gcloud with one gpu but not tpu.
On the shell launched pip uninstall torch_xla.

Thanks a lot  :)

[2022-09-20 08:05] hhsecond commented on #14784
Hi @MarcSkovMadsen,
it's not documented anywhere and is not a super clean solution but if this is blocking you, a work around is already being discussed at https://github.com/Lightning-AI/lightning/issues/14700

[2022-09-20 08:24] joshua840 commented on #14695
Thank you very much, @carmocca and @awaelchli. The test code works well after installing `webcolors` package.

[2022-09-20 08:37] awaelchli commented on #14695
@joshua840 thanks for confirming.

The silent import error on our side was fixed in #14714 (next patch release this week).
PR #14715 will close this issue with some other improvements.

[2022-09-20 10:19] #14695 closed

[2022-09-20 10:30] awaelchli opened #14799 "Bring Hydra improvements to Lite"
## Proposed refactor

Apply/share changes in #11617 with the Lite implementation.

### Motivation

Since both are using the same launcher, the improvements should be integrated for both.

### Pitch

Move the  `_hydra_subprocess_cmd` functions to `lightning_lite.strategies.lauchers.subprocess`, and share the implementation in PL.

### Additional context

#11617 was developed in parallel to standalo

[2022-09-20 10:53] tchaton opened #14800 "Support Multiple Works into a Single Machine in the Cloud"

[2022-09-20 10:55] tchaton opened #14801 "Introduce an HybridBackend using only Multiprocess"
## 🚀 Feature

### Motivation

### Pitch

### Alternatives

### Additional context

______________________________________________________________________

#### If you enjoy Lightning, check out our other projects! ⚡

- [**Metrics**](https://github.com/Lightning-AI/metrics): Machine learning metrics for distributed, scalable PyTorch applications.

- [**Lite**](https://pytorch-lightning.readthedocs.

[2022-09-20 10:58] tchaton opened #14802 "Resolve Works URLs from within the flow"

[2022-09-20 10:59] tchaton opened #14803 "Add a cloud compute unique identifier serializable within the work state, so it gets tracked."
## 🚀 Feature

### Motivation

### Pitch

### Alternatives

### Additional context

______________________________________________________________________

#### If you enjoy Lightning, check out our other projects! ⚡

- [**Metrics**](https://github.com/Lightning-AI/metrics): Machine learning metrics for distributed, scalable PyTorch applications.

- [**Lite**](https://pytorch-lightning.readthedocs.

[2022-09-20 11:01] Robotatron commented on #4830
Can't one simply instantiate the model with Detectron2, which yields you a Pytorch Model and then train with Pytorch Lightning?

[2022-09-20 11:43] #12291 closed

[2022-09-20 12:31] krishnakalyan3 commented on #14779
Looks like this issue is a bug. As a workaround run `lightning disconnect`. If someone forgets to disconnect from an app this can lead to the bug described above.

@hhsecond

[2022-09-20 12:40] krishnakalyan3 commented on #14779
If this is expected, we should improve the error message by asking our users to disconnect from the application first.

[2022-09-20 12:41] awaelchli commented on #14781
Hey @FlorianWieser1
Our [SLURM docs](https://pytorch-lightning.readthedocs.io/en/stable/clouds/cluster_advanced.html#design-your-training-script) here have a template for the slurm submission script. One thing which is very important is that the number of nodes and processes configured there need to match with what is in the Trainer! This mismatch is the most likely cause why it gets stuck. Try to

[2022-09-20 13:43] otaj commented on #14765
I'm closing this issue as it's not really an issue with Lightning.

However, something weird was going on with @awaelchli's installation. If you could please provide me with your `conda list` as well as `conda list -n base` so I could take a look at your issue too, that would be great!

[2022-09-20 13:43] #14765 closed

[2022-09-20 13:54] awaelchli commented on #14765
@otaj here they are:

<details>
<summary>conda list</summary>
[code]

</details>

<details>
<summary>conda list -n base</summary>

[code]

</details>

[2022-09-20 13:56] carmocca commented on #10918
@awaelchli The reasoning behind creating [this DeprecatedException "magic" ](https://github.com/Lightning-AI/lightning/issues/10918#issuecomment-1227344372) was to not break users who had `except MisconfigurationException` in their code.

The above is the reason

What is this coupling?

Yes, they would all be removed after the deprecation process is over.

This would not be different to what `Misc

[2022-09-20 14:12] MarcSkovMadsen commented on #14786
I think the second bullet is the best option. Is there a way to increase the cpu for the root @tchaton?

[2022-09-20 14:49] lantiga commented on #14779
What do we think about `connect` being env var based by default (a la conda)? I’ve been bitten by forgetting to disconnect multiple times, assuming that closing the terminal session would disconnect.
We could make it persistent (file-based) opt-in with an extra flag.

WDYT @tchaton ?

[2022-09-20 14:59] tchaton opened #14808 "Add a script_to_app_ utility to increase conversion debugabbility."
## 🚀 Feature

[code]

### Motivation

### Pitch

### Alternatives

### Additional context

______________________________________________________________________

#### If you enjoy Lightning, check out our other projects! ⚡

- [**Metrics**](https://github.com/Lightning-AI/metrics): Machine learning metrics for distributed, scalable PyTorch applications.

- [**Lite**](https://pytorch-lightning.read

[2022-09-20 15:56] RylanSchaeffer commented on #14766
Yeah I agree. I misread the documentation and your example shows that. I'll investigate.

[2022-09-20 15:56] #14766 closed

[2022-09-20 16:38] tchaton commented on #14779
@lantiga We could, but we wanted something more persistent. Personally, I don't mind either way.

[2022-09-20 17:16] Borda commented on #9396
@akihironitta, we shall address it in upcoming weeks
1. add testing for loading legacy checkpoints (we have been missing ckpts from 1.4)
2. if possible add a script for automatic conversion

in addition, we can add docs page for updating API, as we have in code hint how to update from one version to next one (e.g. from 1.4 for 1.5 or from 1.5 to 1.6) but missing nay larger steps as for example 1.2

[2022-09-20 19:32] rasbt opened #14813 "StochasticWeightAveraging is incompatible with Learning Rate Finder"
### First check

- [X] I'm sure this is a bug.
- [X] I've added a descriptive title to this bug.
- [X] I've provided clear instructions on how to reproduce the bug.
- [X] I've added a code sample.
- [X] I've provided any other important info that is required.

### Bug description

If you have a Lightning `Trainer` that uses both the automatic learning rate finding and `StochasticWeightAveraging` c

[2022-09-20 20:15] awaelchli commented on #9396
@Borda This issue/proposal is less about upgrading code or legacy testing, but more about a mechanism to **load** old checkpoints into a new updated Lightning code base. Of course, retrospectively testing for old checkpoints can be done, but ideally we would like to have a migration mechanism built-in.

[2022-09-20 20:54] krishnakalyan3 commented on #14813
maybe related to #14755

[2022-09-20 21:38] rasbt commented on #14813
Ah yes, thanks, looks like it's the same bug. I will close that here then.

[2022-09-20 21:38] #14813 closed

[2022-09-20 21:38] rasbt commented on #14755
Can confirm, just bumped into this as well!

[2022-09-20 23:31] awaelchli opened #14816 "Checkpointing primitives for Fabric"
## 🚀 Feature

Add `Lite.save_checkpoint` and `Lite.load_checkpoint` convenience methods.

### Motivation

It is cumbersome to manually construct a checkpoint dict with all metadata and states.

### Pitch

Saving checkpoints:

[code]
1. Creates a dict and fetches the state dicts of all objects passed in (instance check)
2. Depending on strategy, consolidates optimizer state etc.
3. User-defined met

[2022-09-20 23:52] ananthsub commented on #14816
You might find this library useful for such primitives, especially to support distributed checkpointing: https://github.com/pytorch/torchsnapshot

@yifuwang

[2022-09-20 23:54] Atharva-Phatak commented on #14613
Hi @nohalon, I understand you are hiring software engineers. I saw the job postings, and they are all for senior roles. I am very interested in open-source projects as such, and I also like to contribute to them. I have been a PyTorch user since my undergrad, and now I am a final year master's student at Lakehead University (Canada), and I have been using lightning in my research 😄. I am very inte

[2022-09-20 23:59] Atharva-Phatak commented on #14799
Hi @awaelchli, I am interested in this, is this up for the taking? Also could provide some additional in terms of whats expected in the PR ?

[2022-09-21 07:37] tchaton commented on #14816
Hey @ananthsub @yifuwang Would you be interested in making a contribution to Lite ?

[2022-09-21 08:52] JinchaoLove opened #14818 "Bug of `setup` for `SingleDeviceStrategy` with `LightningLite`"
### First check

- [X] I'm sure this is a bug.
- [X] I've added a descriptive title to this bug.
- [X] I've provided clear instructions on how to reproduce the bug.
- [X] I've added a code sample.
- [X] I've provided any other important info that is required.

### Bug description

Hi, there! I found a bug for SingleDeviceStrategy with LightningLite: when I use `setup` to set model device, it's exp

[2022-09-21 09:53] awaelchli commented on #14799
@Atharva-Phatak Yes, sure. Once #11617 is merged feel free to work on it. The PR should just integrate the same changes in this file here: https://github.com/Lightning-AI/lightning/blob/master/src/lightning_lite/strategies/launchers/subprocess_script.py

[2022-09-21 10:11] awaelchli commented on #14816
@ananthsub Thanks, yes we already saw it and the interface is really nice. It could be useful here too to be called under the hood.

In Lite, we also have the CheckpointIO (attached to the strategies) which takes care of the saving and loading, but state dict collection on the objects happens separately. Since torchsnapshot does both, it would have to be integrated differently there.

[2022-09-21 11:31] awaelchli commented on #14818
@JinchaoLove Thanks for trying Lite and reporting this issue! I found the problem already.
Don't worry, the model parameters are all on the correct device. You should be able to train your model on the GPU without problem. It is just that the wrapper's `.device` property has not correctly updated it's value. I'm preparing a fix for this.

[2022-09-21 11:33] carmocca commented on #14816
Please, let's keep the torchsnapshot integration focused to #14503. It's in our roadmap, just waiting for Lite changes to be over.

[2022-09-21 11:35] carmocca commented on #14818
Probably a duplicate of https://github.com/Lightning-AI/lightning/issues/13108 but for Lite

[2022-09-21 12:06] awaelchli commented on #14818
@carmocca It is not a duplicate of #13108. What is observed here is a limitation of DeviceDtypeModuleMixin, which cannot know the initial device of a module and [assumes it to be on CPU.](https://github.com/Lightning-AI/lightning/blob/5dc370f456fff6e6bed8e41601c7e48eee91ab69/src/lightning_lite/utilities/device_dtype_mixin.py#L28)

[2022-09-21 13:37] otaj commented on #14374
I am running in circles while trying to reproduce this and was just not able to. Only thing that is remotely notable about `pytorch-lightning 0.8.5` is the fact that it is the last version allowing `tensorboard<2`.

Could please all of you who are able to reproduce this behavior (@awaelchli, @maxencewynen, @TheShadow29) post here:
* Series of commands leading to creating such environment, ideally

[2022-09-21 13:45] otaj commented on #14374
There's one more notable difference between `pytorch-lightning=0.8.5` and any newer version - `pytorch-lightning=0.8.5` has a lower bound version pin on `future>=0.17.1`, whereas newer versions require `future` without any pin all the way to `1.7.2` and from `1.7.3` we don't require `future` at all. Could it be it? At the time of reporting this issue, `1.7.2` was the latest version published on `c

[2022-09-21 14:28] #14507 closed

[2022-09-21 16:00] awaelchli opened #14824 "Convergence issue with LR Finder"
### Bug description

Prior to #14113 the model below would converge to the optimal value using the learning rate suggested by the LR Finder. On the latest version (master), this is no longer the case. The PR #14113 introduced a regression.

### How to reproduce the bug

[code]

### Error messages and logs

The model does not longer converge to the optimal value, despite the LRFinder choosing the s

[2022-09-21 17:59] #14824 closed

[2022-09-21 19:06] #14818 closed

[2022-09-21 20:48] tchaton commented on #14786
Hey @MarcSkovMadsen.

For the flow, this is being added this sprint. For the works, you can pass a CloudCompute to the work.

[2022-09-21 21:11] awaelchli commented on #14374
I initially reproduced using https://github.com/Lightning-AI/lightning/issues/14374#issuecomment-1225849005
But now, spookingly, I CANNOT anymore. How is it possible. Still same conda version 4.12 (miniconda). And I didn't change anything since last time.

[2022-09-21 23:36] Atharva-Phatak commented on #14799
@awaelchli Thanks for the update. I will work on it once #11617 has merged.

[2022-09-22 00:06] JinchaoLove commented on #14818
Dear all, thanks for the efficient⚡️ reply. Exactly, this issue not affect the running, thanks!

[2022-09-22 04:56] TheShadow29 commented on #14374
I can confirm as well. It now uses 1.7.6. I am not sure what changed though. My conda env is same as it was last time. My guess is some dependency somewhere was removed but I am not sure.

[2022-09-22 06:48] 123mutourener opened #14837 "When test, the printed log does not show the full text of the metrics, when named in Chinese"
### First check

- [X] I'm sure this is a bug.
- [X] I've added a descriptive title to this bug.
- [X] I've provided clear instructions on how to reproduce the bug.
- [X] I've added a code sample.
- [X] I've provided any other important info that is required.

### Bug description

Hi,

I am dealing with a very messy segmentation problem, which requires me to log the per-category accuracy and iou a

[2022-09-22 06:54] otaj commented on #14374
It might have been `future`, as I said, this dependency was dropped between `1.7.2` and `1.7.3` (at least on `conda-forge` side). Both of you reported at the time when latest version out was `1.7.2`. It could be the fact that it had hard time finding some.

Let's wait on @maxencewynen and if he reports no issue anymore, I will close this. If he's able to still reproduce, I will investigate further

[2022-09-22 07:03] 123mutourener commented on #14837
I have a solution, that is:
`matrics_encoded = [metric.encode("gbk") for metric in metrics_strs]
max_length = int(min(max(len(max(matrics_encoded, key=len)), len(max(headers, key=len)), 25), term_size / 2))
`

[2022-09-22 07:10] #14755 closed

[2022-09-22 07:16] otaj commented on #14374
It is possible _something_ was broken and got fixed by this PR https://github.com/conda-forge/pytorch-lightning-feedstock/pull/97

[2022-09-22 07:57] awaelchli commented on #14818
Thanks @JinchaoLove
Glad to hear that and happy to help

[2022-09-22 08:03] Zian-0427 commented on #10287
Hi,

I've met the same problem and adopted your method to try to fix it. However, when I enabled grad in `on_test_model_eval ` like you and try to call `trainer.test(model, dataloader)`, the same problem arose and it doesn't seem to work. Why?

Thanks!

[2022-09-22 08:11] rohitgr7 commented on #10287
hey @Zian-0427 !

https://github.com/Lightning-AI/lightning/issues/14497 will resolve your use-case

[2022-09-22 08:41] Zian-0427 commented on #10287
Thank you for replying! I've read #14497 and probably understand how to solve this problem.

Does it mean that I need to add the following codes in my test_step to close the inference mode and make a normal tensor copy from the input data?

`with torch.inference_mode(False):
            origin_data = batch
            origin_data = origin_data.clone()
`

[2022-09-22 08:43] Zian-0427 commented on #10287
Thank you for replying! I've read https://github.com/Lightning-AI/lightning/issues/14497 and probably understand how to solve this problem.

Does it mean that I need to add the following codes in my test_step to close the inference mode and make a normal tensor copy from the input data?
[code]

[2022-09-22 11:56] krishnakalyan3 opened #14841 "🚀 Remove deprecated APIs for 1.8 release"
Let's remove the deprecated [1.8 APIs](https://github.com/Lightning-AI/lightning/blob/master/tests/tests_pytorch/deprecated_api/test_remove_1-8.py) together. This is a single place where we can easily track the status of the API.

Please, comment on this issue in order to reserve a particular file to work on. Once you do so, I will edit this top comment to avoid collisions. Once you think your wor

[2022-09-22 12:04] awaelchli commented on #14841
Hey @krishnakalyan3 thanks for opening the PR. But let's be clear, this is not about deprecating APIs for 1.8. Here we are talking about _removals_ of APIs that were already deprecated in past releases.

[2022-09-22 12:06] krishnakalyan3 commented on #14841
Yes. thanks for clarifying the description.

[2022-09-22 13:44] dconathan opened #14842 "Datamodule not calling `load_state_dict()` when loading from checkpoint"
### First check

- [X] I'm sure this is a bug.
- [X] I've added a descriptive title to this bug.
- [X] I've provided clear instructions on how to reproduce the bug.
- [X] I've added a code sample.
- [X] I've provided any other important info that is required.

### Bug description

Sorry if this is part of #14841 but wanted to make sure it gets fixed as part of that if not!

In short, when you call

[2022-09-22 14:21] Borda opened #14847 "Lightning does not override past versions"
### First check

- [X] I'm sure this is a bug.
- [X] I've added a descriptive title to this bug.
- [X] I've provided clear instructions on how to reproduce the bug.
- [X] I've added a code sample.
- [X] I've provided any other important info that is required.

### Bug description

It seems that the generated package even includes a new version it is not overwritten

### How to reproduce the bug

[

[2022-09-22 14:26] #14847 closed

[2022-09-22 14:39] krshrimali opened #14848 "`make test` fails with installation errors for horovod"
### First check

- [X] I'm sure this is a bug.
- [X] I've added a descriptive title to this bug.
- [X] I've provided clear instructions on how to reproduce the bug.
- [X] I've added a code sample.
- [X] I've provided any other important info that is required.

### Bug description

Error similar to what mentioned here: https://github.com/horovod/horovod/issues/3587, tested on Mac M1 and Mac with In

[2022-09-22 14:49] magehrig commented on #1565
For anyone in the future,

I am at version 1.7.6 and it is not an issue anymore.
At this time, the [documentation of the trainer](https://pytorch-lightning.readthedocs.io/en/stable/common/trainer.html#reproducibility) shows how to achieve deterministic behaviour.

[2022-09-22 14:59] awaelchli commented on #9956
Two notes I want to bring up:

- I would develop this in parallel with #14416 and release together to minimize friction
- I would prefer to leave the "native" postfix out of the picture. I think it is fair to assume that anything, unless explicitly mentioned, is native to what torch does. This has the benefit that the name becomes shorter, but does not prevent us from future integrations with new

[2022-09-22 15:00] carmocca commented on #9956
I agree @awaelchli. I believe I wrote the above proposal before we decided to deprecate Apex

[2022-09-22 15:01] awaelchli commented on #9956
The comment about "native" in the name is also something I'd like to push for removing in the class names in the future. We already have a plugin now that has `NativeNative` (twice!) in the name, which is beyond ridiculous IMO, considering that most of the precision plugins we have are actually native.

[2022-09-22 16:03] carmocca commented on #14799
It is merged now :tada:

[2022-09-22 18:25] blakesplay commented on #14534
I am currently encountering this issue, unfortunately setting up dummy layers in my main process (equivalent to calling setup in main but without cuda support) results in sigsevs in the child processes when setup is run there.  I am restricted to using ddp_notebook as I am using Jupyter to run my model, hence the need to run setup() to create GPU agnostic layers in the first place.  I would like t

[2022-09-22 19:00] danielyan86129 commented on #4175
@cattaneod by the way, this works across all machines, not just on one machine, correct?

[2022-09-22 22:13] ethanwharris opened #14854 "Add a cloud compute unique identifier serializable within the work state"
## 🚀 Feature

Part of #14800

[2022-09-22 22:14] ethanwharris commented on #14854
Duplicate of #14803

[2022-09-22 22:14] #14854 closed

[2022-09-22 22:15] ethanwharris opened #14855 "Introduce an HybridBackend using only Multiprocess + Cloud Backend"
## 🚀 Feature

Part of #14800

[2022-09-22 22:16] ethanwharris opened #14856 "Add a mechanism to freeze the attached works when the first work.run is called. Break if another work tries to attach himself."
## 🚀 Feature

Part of #14800

[code]

[2022-09-22 23:38] ductai199x opened #14858 "CUDAAccelerator.num_cuda_devices() returns 0 while torch.cuda.device_count() returns 1"
### First check

- [X] I'm sure this is a bug.
- [X] I've added a descriptive title to this bug.
- [X] I've provided clear instructions on how to reproduce the bug.
- [X] I've added a code sample.
- [X] I've provided any other important info that is required.

### Bug description

`CUDAAccelerator.num_cuda_devices()` returns `0` while `torch.cuda.device_count()` returns `1`. This causes the `Train

[2022-09-22 23:40] awaelchli opened #14859 "Precision output conversion in Lite wrappers"
## 🚀 Feature

Discussion: Should the forward of LightningLite's `_LiteModule` wrapper convert the outputs back to default precision?

https://github.com/Lightning-AI/lightning/blob/a3258391416c8f96c05c044562f9ad7f6880733b/src/lightning_lite/wrappers.py#L115-L118

### Motivation

Original motivation was to have a precision-agnostic module wrapper such that user does not need to convert outputs when

[2022-09-23 00:03] Atharva-Phatak commented on #14799
Thanks for letting me know. I will get started.

[2022-09-23 06:44] FlorianWieser1 commented on #14781
Dear awaelchli, the missing "srun" command fixed it for me! :) Thanks a lot!

[2022-09-23 08:29] awaelchli commented on #14858
@ductai199x It is very strange that the multiprocess version returns 0. In any case, the code has changed in #14631. If you want, you can try that it works with the latest dev version by installing

`pip install https://github.com/Lightning-AI/lightning/archive/refs/heads/master.zip -U`

[2022-09-23 09:53] suyash-811 opened #14865 "WandbLogger documentation includes unwatch() method. There is no unwatch method in the source code"
I was taking a look at the WandbLogger documentation: https://pytorch-lightning.readthedocs.io/en/latest/extensions/generated/pytorch_lightning.loggers.WandbLogger.html?highlight=wandblogger

The documentation suggests to use the unwatch() method to remove any hooks inserted by wandb.watch()
![image](https://user-images.githubusercontent.com/59940049/191935706-db10e1a0-0f0b-47c6-90f1-37649751d418.

[2022-09-23 10:21] Norwalker commented on #4070
yeah bingo. i face the same error when i use pytorch-lighting. then i remove the file named lighting_logs,and i delete relevant code。

[2022-09-23 10:25] zxvix opened #14866 "Potential bug in StochasticWeightAveraging causing incorrect batchnorm statistics"
### First check

- [X] I'm sure this is a bug.
- [X] I've added a descriptive title to this bug.
- [X] I've provided clear instructions on how to reproduce the bug.
- [X] I've added a code sample.
- [X] I've provided any other important info that is required.

### Bug description

I recently noticed that my model (ResNet trained on a subset of ImageNet) has very bad performance (accuracy ~0) after

[2022-09-23 11:15] SM1991CODES opened #14868 "Using FP16 with apex backend at optimization level O2 results in runtime error"
### First check

- [X] I'm sure this is a bug.
- [X] I've added a descriptive title to this bug.
- [X] I've provided clear instructions on how to reproduce the bug.
- [X] I've added a code sample.
- [X] I've provided any other important info that is required.

### Bug description

I am trying to save my model weights as FP16 while using mixed precision training.
As I understand from the documents,

[2022-09-23 15:03] otaj commented on #14466
Hi @mlgavilan, I just wanted to let you know, that it is being worked on and I have not abandoned this issue. Though I don't think I have an ETA for the fix sadly yet.

[2022-09-23 15:04] otaj commented on #13039
Hi @franchesoni and @RylanSchaeffer, I just wanted to let you know, that it is being worked on and I have not abandoned this issue. Though I don't think I have an ETA for the fix sadly yet.

[2022-09-23 15:29] awaelchli commented on #14865
Hey @suyash-811
I think this line should be `wandb_logger.experiment.unwatch(model)`.

Thanks a lot for offering a contribution. You can find it in the docstring for WandbLogger in `src/pytorch_lightning/loggers/wandb.py`

To make an edit, I suggest you:

1. Fork the Lightning repository
2. Clone that fork to your local computer
3. Create a new branch with git
4. Make the change locally
5. Then pu

[2022-09-23 15:40] awaelchli opened #14872 "Replace deprecated `on_init_end` callback in PL App Template"
## Proposed refactor

Replace the deprecated usage with an alternative to collect init args.

### Motivation

The PL App Template is using deprecated API that will be removed in 1.8 (#14867) and the new version of Trainer will not be compatible with the template. To be compatible with the newest version of Trainer, the code needs to be updated.

https://github.com/Lightning-AI/lightning/blob/047d7

[2022-09-23 15:56] awaelchli commented on #14781
Great to see you were able to solve it.

If only we could provide a warning if the user forgot that.
I thought about this but it seems impossible, because we can only auto-detect SLURM in a reliable way if the corresponding environment variables are set. But they only get set when you run with srun 😄

So this is a pickle. Writing it in bold in the doc will help some people, but would it have helpe

[2022-09-23 17:12] RylanSchaeffer commented on #13039
@otaj  thanks for the update!

[2022-09-23 18:10] JatheenA opened #14875 "lightning CLI argument fails"
### First check

- [X] I'm sure this is a bug.
- [X] I've added a descriptive title to this bug.
- [X] I've provided clear instructions on how to reproduce the bug.
- [X] I've added a code sample.
- [X] I've provided any other important info that is required.

### Bug description
[code]
-- with args it works ---
[code]

### How to reproduce the bug

[code]

### Important info

[code]

### More inf

[2022-09-23 20:55] ShihengDuan commented on #12279
The auto_requeue in SLURM environment is convenient. Would like to see if this is doable with LSF.

[2022-09-23 21:53] calebbuffa commented on #10918
Coupling is just introducing dependencies in the code such that changing one thing can/will break/change downstream tasks.

But thank you @carmocca for the clarification, I'll keep going with the current solution

[2022-09-24 00:37] nicolai86 commented on #14875
looks like something introduced in https://github.com/Lightning-AI/lightning/pull/14183 - [link](https://github.com/Lightning-AI/lightning/pull/14183/files#diff-33b1761b903630ec4114a48eb8e6f93a3324731780f6d52c8eef0582cc69954bR50)
https://github.com/Lightning-AI/lightning/pull/14877 will fix that.

[2022-09-24 02:17] ductai199x commented on #14858
Hi @awaelchli! Thank you so much for the response. I can confirm that your PR fixes the problem after testing on multiple machines. Looking forward to the next patch!

[2022-09-24 06:49] Tikquuss commented on #5238
I tried to get the gradient as you do, and `v.grad` was always equal to `None`.

Here's how I collected the gradient.

[code]

`pytorch_lightning==1.6.3`

[2022-09-24 09:31] Jose-Bastos opened #14879 "Allow `strict=False` in resuming `trainer.fit()` from a checkpoint"
## 🚀 Feature

Add a `strict=False` option when using `trainer.fit(model,ckpt_path)`

### Motivation

I'm trying to pretrain a model and then load it to a different model (different state_dict and metrics), but when I do `trainer.fit(model.ckpt_path)` I get an error saying the state_dict is different. I know it is different and I want it to be, but I can't pass strict=False as I do with `model.load

[2022-09-24 09:54] awaelchli commented on #14858
Thanks for verifying @ductai199x!
The next release will be an RC for the 1.8 (couple days from now), followed by the 1.8 release.

[2022-09-24 09:54] #14858 closed

[2022-09-24 11:30] awaelchli commented on #14837
@123mutourener Thanks for giving this a try. I'm not familiar with the best practices around handling these differences in languages, but it looks like your solution improves on the existing implementation. The columns are unfortunately still broken, but at least it shows the full name of the metric:

[code]

Would you like to send a PR with your suggestion?

[2022-09-24 11:46] awaelchli commented on #14842
@dconathan The code where this happens is here:

https://github.com/Lightning-AI/lightning/blob/abb6049fa37996440185ffe15323ee6340d125db/src/pytorch_lightning/core/saving.py#L228-L233

As we can see, the DataModule is purposefully skipped. This logic was introduce in #12550. The checkpoint entry for datamodule gets dumped here:

https://github.com/Lightning-AI/lightning/blob/abb6049fa37996440185ff

[2022-09-24 11:53] awaelchli commented on #14848
My personal opinion:

- If we have a make file like this at the root, it should run the test suite for all source projects, not just the PL one. Otherwise, we should remove it from the root and just have the make files for each project subfolder.
- It should not try to install optional dependencies. It should run the tests with the base dependencies that come with the installation of the repo. Tes

[2022-09-24 11:58] 123mutourener commented on #14837
Hi @awaelchli , yes I will submit a PR. In my case, the table looks fine. I run the code in Linux terminal.

[2022-09-24 12:12] awaelchli commented on #14866
Intuitively, I think that's right @zxvix. If you are interested in contributing a PR for this, we would really appreciate it!

[2022-09-24 12:23] telltao commented on #2207
改为以下代码
import torchmetrics
metrics = torchmetrics.Accuracy()

[2022-09-24 12:26] awaelchli commented on #14868
Hello @SM1991CODES

Could you explain a bit more the motivation behind why you are choosing apex O2 over native amp? Are you trying to save more memory? We generally don't recommend doing that, because computations in forward and backward pass become numerically unstable. In most cases, native amp (mixed precision) is the better choice.

Also, related issue: #14416

Regarding this error:
[code]

Y

[2022-09-24 12:31] awaelchli commented on #14879
Hey @Jose-Bastos
Great feature request. This might be a duplicate of #13246 (although I like your title better <3), please have a look there too. There is a proposal there in the comments, feel free to commend there and give your opinion :)

[2022-09-24 12:39] rohitgr7 commented on #14842
ah! looks like this was missed. Thanks for reporting. Sending a fix.

[2022-09-25 16:26] andreapesare commented on #13752
+1 on this. Currently, if `self.log("step", ...)` is not called, the default value for the `trainer/global_step` metric on W&B is given by this:

https://github.com/Lightning-AI/lightning/blob/759e89df21684277da996dd25781dee7f21e1b1c/src/pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py#L99-L102

and the metric is logged here:

https://github.com/Lightning-AI/lightning/blob

[2022-09-25 17:22] andreapesare opened #14892 "Allow to specify the value of the `trainer/global_step` metric on W&B during validation"
## 🚀 Feature

Allow to specify the value of the `trainer/global_step` metric on W&B even during validation, as it is possible during training.

### Motivation

The default value for the `trainer/global_step` metric during validation is defined as the "total validation step":

https://github.com/Lightning-AI/lightning/blob/e7ad151c311890c931aa5ff3df3672fd21fd351c/src/pytorch_lightning/loops/epoch/e

[2022-09-25 17:26] MarcSkovMadsen commented on #14793
Hi @tchaton

What we wanted to do with the logs was 1) When developing locally the logs should go to the terminal to help the developer 2) in the cloud it should work as for anything else.

As far as I remember I was instructed to do what was done in https://github.com/Lightning-AI/lightning/blob/master/src/lightning_app/frontend/panel/panel_frontend.py#L110.

As I don't know how I can test/ debug

[2022-09-25 17:28] MarcSkovMadsen commented on #14786
Hi @tchaton

I tried to figure out how to run the `PanelFrontend` with a work. I tried various combinations of code and I also looked through the documentation. I simply cannot figure out how to do this. Can you provide a minimum, reproducible example? Thanks.

[2022-09-25 17:55] andreapesare commented on #14892
My bad, the issue persists only when logging with `on_step=True` and thus is a minor problem.

When logging with `on_epoch=True` (which is the default during validation), the behaviour is the same as during training, i.e. it uses the current training step:

https://github.com/Lightning-AI/lightning/blob/759e89df21684277da996dd25781dee7f21e1b1c/src/pytorch_lightning/trainer/connectors/logger_connec

[2022-09-26 04:00] YannDubs opened #14893 "Lightning sends SIGTERM when using other SLURM manager"
### Bug description

Pytorch lightning does not work when using another tool for SLURM scheduling. In particular, all my jobs receive a lot of `SIGTERM` when using [submitit](https://github.com/facebookincubator/submitit).

This and similar issues seem to have been raised many times but never solved (maybe due to lack of reproducible code), see: #5969 #5225 (maybe #10154)

### How to reproduce the

[2022-09-26 08:55] FlorianWieser1 commented on #14781
Haha I see thats a Problem :joy:

I don't know to be honest, I've been on this documentation side you linked mulitple time, but still I overlooked or forgot about the "srun". I'm not new to SLUM so I knew about "srun". I guess the documentation is fine and this was really my fault :)
Before I came here I randomly searched the internet for things like "slurm pytorch lightning ddp multi node" etc.

[2022-09-26 09:04] kyoungrok0517 commented on #14036
The same happens with me.

[2022-09-26 10:17] awaelchli commented on #14893
Hi @YannDubs

To be clear, Lightning does not trigger the SIGTERM, right? It is the SLURM cluster. The messages "bypassing signal" you see are from Lightning handling

In 1.6 we introduced a flag `auto_requeue=True|False` (#10601) that you can set to False if you prefer that Lightning does not handle any signals to requeue the job. Try to set it to False and see if it works for you :)

Also, I thi

[2022-09-26 10:27] #14848 closed

[2022-09-26 10:36] Queuecumber commented on #14893
I'm pretty sure `auto_requeue=False` is what you want but I haven't actually tried it

I use PL and submitit quite heavily and I don't have any big issues since landing #14626

I do see these messages in my logs but it doesn't seem like they do anything besides look ugly, I always assumed this wasn't being caused by PL but maybe it's worth looking into?

[2022-09-26 10:38] Queuecumber commented on #14893
They're actually from submitit but they're getting printed multiple times as though the SIGTERM is sent more than once

[2022-09-26 11:11] awaelchli commented on #14893
True, they are from submitit. We have a very similar info message in PL, which is why I got mislead.

[2022-09-26 12:38] Queuecumber commented on #14893
Also one more thing to keep in mind (it may be unrelated): when using submitit, unless you take particular steps, lightning doesn't even set the signal handlers.

This is because lightning is "polite" and won't set its signal handlers if some library has already set them up. Submitit does its signal very early on in the lifetime of the application so by the time lightning gets around to slurm stuf

[2022-09-26 13:35] senarvi opened #14896 "SLURMEnvironment fails to parse the root node address in certain case"
### First check

- [X] I'm sure this is a bug.
- [X] I've added a descriptive title to this bug.
- [X] I've provided clear instructions on how to reproduce the bug.
- [X] I've added a code sample.
- [X] I've provided any other important info that is required.

### Bug description

SLURM may contract the list of addresses in the `SLURM_NODELIST` environment variable. For example, if a job gets assi

[2022-09-26 14:14] ninivert commented on #12409
For anyone encountering this, a quick hack to get it to work would to replace https://github.com/Lightning-AI/lightning/blob/28e18881a9ad2298169c78ad9ae109191e201c2f/examples/pl_loops/kfold.py#L208 with

[code]

Might be a good idea to reset the model in the `on_advance_start`, instead of in `on_advance_end` (so we don't rely on the previous iteration finishing correctly). Calling `_reset_fitting`

[2022-09-26 18:14] awaelchli opened #14898 "Support FSDP in Lite"
## 🚀 Feature

### Motivation

Native PyTorch FSDP is a powerful alternative to regular DDP.

### Pitch

Add the strategy to Lite. Build it using the existing implementation in Trainer.

______________________________________________________________________

#### If you enjoy Lightning, check out our other projects! ⚡

- [**Metrics**](https://github.com/Lightning-AI/metrics): Machine learning metri

[2022-09-26 18:20] awaelchli commented on #14896
Hey @senarvi
Thanks for reporting this. It looks like we need to support parsing names of the form `linux[1-9]`, `linux[01-09]`, `linux[1,2]`, `linux[2,3-5]` and so on. We're only interested in the first node, as this one is determined the "main" one.

Would you be interested looking into these cases and to make a contribution?

[2022-09-26 19:04] getgaurav2 commented on #4885
@rohitgr7  - I am facing similar issue while training a model using Sagemaker .  I tried both the

@rohitgr7  - I am facing similar issue while training a model using AWS Sagemaker .  I added both of these things in my code. Could there be anything different in training  the model in Sagemaker ?

[2022-09-26 19:23] bhaktatejas922 commented on #5969
Same issue here

[2022-09-26 20:14] YannDubs commented on #5969
@nicolebussola @bhaktatejas922  @chengjiali  did you ever figure it out?

[2022-09-26 20:33] senarvi commented on #14896
@awaelchli That's a good point. At least the patterns that you mentioned are valid. Those are probably the most common ones. I don't know if e.g. `[1-9]linux` or `[linux,unix][1-9]` are valid. Maybe it's best to use a regular expression, something like this:

    re.sub("\[(.*?)[,-].*?\]", "\\1", x)

I'll create a pull request tomorrow. I'm not sure what this is for, but I'll keep it there:

    s

[2022-09-26 21:59] YannDubs commented on #14893
Thanks for the quick answer @Queuecumber @awaelchli

I forgot to say that I tried `plugins=[SLURMEnvironment(auto_requeue=False)]` but this did not make any difference. I even tried to delete the SLURM environment variables as suggested by [this comment](https://github.com/Lightning-AI/lightning/issues/5225#issuecomment-750032030) but I still see the warnings.

**I did some digging**: the warning

[2022-09-26 22:01] Queuecumber commented on #14893
I have no thoughts other than that this is super weird and interesting

[2022-09-26 22:06] awaelchli commented on #14893
This was a workaround for a torch issue in combination with cuda and forking. The code was removed again on master recently for a different solution that does not use multiprocessing. Maybe it's worth it to test your code with the latest version on master. You can install from source via` pip install https://github.com/Lightning-AI/lightning/archive/refs/heads/master.zip -U`. Hope this helps and s

[2022-09-26 22:09] Queuecumber commented on #14893
Just to clarify, is this actually crashing your script or is it just that your logs have extra stuff in them?

[2022-09-26 22:12] awaelchli commented on #14896
Fantastic, this regex looks great, I think this could work yes.

Probably because we wanted to support the format "host0 host1 host3" with space separation instead of commas.

[2022-09-26 22:26] YannDubs commented on #14893
No my scripts aren't crashing because submitit bypassed those, I've actually been having these warning for a year. But my logs are full of them and I wanted to make sure that it was not an issue with our internal SLURM configs. Now I'm confident it is actually not an important warning.

Thanks @awaelchli, there seems to be no error using the last version. Let's see once it's merged and I use it fo

[2022-09-26 22:26] #14893 closed

[2022-09-27 03:43] #14875 closed

[2022-09-27 06:02] vincentmichael089 commented on #1598
I had the same problem before, and changing the scheduler dictionary from `"interval": "step"` to `"interval": "epoch" `(or just explicitly write `"interval": "epoch"`  in the scheduler dictionary) solved the issue.

Before:
[code]

After:
[code]

[2022-09-27 06:39] manangoel99 commented on #14892
Hi @andreapesare ! Thanks  for pointing this out. Would it be possible to get some code on how to reproduce the global_step plot that you showed above?

[2022-09-27 06:43] shen-ttt commented on #10098
The same thing happens to me. Did you try an older version of lightning?

[2022-09-27 06:45] manangoel99 commented on #14723
@awaelchli This comes from the pytorch-forecasting library which assumes a tensorboard logger and hence uses `add_figure`. The code for that is [here](https://github.com/jdb78/pytorch-forecasting/blob/master/pytorch_forecasting/models/temporal_fusion_transformer/__init__.py#L820).

[2022-09-27 07:16] #14030 closed

[2022-09-27 08:29] awaelchli opened #14900 "Tensors not on the same device when using FSDP auto-wrapping"
## Bug

When using the FSDP with defaults and auto-wrapping, there is an error in forward saying tensors and weights are not on the same device.

### To Reproduce

[code]

Error:

[code]

### Additional context

Reported by user kavya on [Slack](https://pytorch-lightning.slack.com/archives/CRBLFHY79/p1664201840388219).
Comment:

_____________________________________________________________________

[2022-09-27 08:41] awaelchli commented on #14900
Auto-wrapping support was added in #14383. I can't see this reproduce on master the same way, but I get:

[code]

cc @rohitgr7

[2022-09-27 09:05] awaelchli commented on #14723
@manangoel99 You are right, thanks! It looks like this was already reported for other logger frameworks:
https://github.com/jdb78/pytorch-forecasting/issues/983

I created a PR: https://github.com/jdb78/pytorch-forecasting/pull/1140

[2022-09-27 09:09] awaelchli commented on #14893
Thanks @YannDubs
This will be released in the next few days as part of the 1.8 release.

[2022-09-27 09:23] andreapesare commented on #14892
Hi @manangoel99 ! This code should reproduce a similar plot, when using `step` as x axis:

[code]

Here the plot that I get running the code above:
![image](https://user-images.githubusercontent.com/93650955/192488006-866eaed2-5405-4d4a-8c39-36b668901346.png)

[2022-09-27 09:29] awaelchli commented on #14374
@maxencewynen Has this been resolved for you as well? Would you mind checking that it downloads the latest version now? Thanks!

[2022-09-27 09:38] rohitgr7 commented on #14900
ah! weird. there are tests that check this. Let me explore it more.
can you try with?
[code]

[2022-09-27 11:06] jhoareau commented on #14104
Hi @kaushikb11, sorry for the delay in replying - I halted my work involving TPUs. The problem at PL import indeed went away with your command, that I have seen linked in the torch_xla README as well, so thanks for pointing at it.

[2022-09-27 12:08] msverma101 commented on #3051
i want to use the the lr scheduler for gan and i am trying to figure out where to give the lr_scheduler_dis.step()
if i add it in training_step after loss is updated i am getting an warning which i want to fix
Warning: Detected call of `lr_scheduler.step()` before `optimizer.step()`. In PyTorch 1.1.0 and later, you should call them in the opposite order: `optimizer.step()` before `lr_scheduler.ste

[2022-09-27 12:09] msverma101 opened #14903 "Lr_scheduler step where to use , warning"
i want to use the the lr scheduler for gan and i am trying to figure out where to give the lr_scheduler_dis.step()
if i add it in training_step after loss is updated i am getting an warning which i want to fix
Warning: Detected call of `lr_scheduler.step()` before `optimizer.step()`. In PyTorch 1.1.0 and later, you should call them in the opposite order: `optimizer.step()` before `lr_scheduler.ste

[2022-09-27 12:18] carmocca commented on #13752
The docstring you point out in (2) is outdated. Would you like to send a PR updating it?

[2022-09-27 12:44] Queuecumber commented on #14893
Actually I think it's good that this is resolved because it may actually be causing a problem.

Apparently you're [not supposed to print things in signal handlers](https://stackoverflow.com/questions/45680378/how-to-explain-the-reentrant-runtimeerror-caused-by-printing-in-signal-handlers) and it can cause crashes randomly to do so.

Since submitit is printing inside its signal handlers (and I thin

[2022-09-27 13:28] alexkuzmik opened #14905 "Add framework usage tracking for pytorch lightning comet.ml logger"
## 🚀 Feature

Sending information about using pytorch-lightning framework to comet.ml server when comet_ml logger is used.

### Motivation

Comet.ml organization wants to collect statistics about frameworks used with comet.

### Pitch

After creation of comet-ml experiment instance in src/pytorch_lightning/loggers/comet.py the key-value pair "Created from"-"pytorch-lightning" must be sent via expe

[2022-09-27 13:41] otaj commented on #14466
Hi @mlgavilan, I pushed a PR that should fix this. Please let me know if this fixes your issue - I tested it locally, but maybe you had something else in mind.

[2022-09-27 13:53] paineQing opened #14908 "Multi-nodes and multi-gpu training never starts"
### First check

- [X] I'm sure this is a bug.
- [x] I've added a descriptive title to this bug.
- [X] I've provided clear instructions on how to reproduce the bug.
- [X] I've added a code sample.
- [X] I've provided any other important info that is required.

### Bug description

Sorry for bothering, I really appreciate it if you could check it again!
In this issue
https://github.com/Lightning-AI

[2022-09-27 13:57] ninivert commented on #12409
Another bug I encountered was the callbacks not being reinitialized, so I added a way of restoring the state of the callbacks

[code]

[2022-09-27 17:13] carmocca commented on #12690
Closing, as it's not something we can fix. Either the Bagua folks get access to this hardware or users need to manual compile as described above.

[2022-09-27 17:13] #12690 closed

[2022-09-27 17:14] senarvi commented on #14896
@awaelchli sorry, but this was not the source of my problems at all. I completely missed that there is the function [resolve_root_node_address()](https://github.com/Lightning-AI/lightning/blob/master/src/lightning_lite/plugins/environments/slurm_environment.py#L137) that does the same thing as my regex. It's maybe slightly more complex, but I guess it's better not to touch it now that it's working

[2022-09-27 18:00] awaelchli commented on #14896
Yes you are right, silly I missed this too. Perhaps the name of that function is a bit misleading. If this is not the source of the problem, what exactly is it that is misbehaving on your end? Do processes hang / not start? If so, please have a quick look at the troubleshooting page I added in this PR, #14873, maybe it helps.

[2022-09-27 19:06] senarvi commented on #14896
The problem was in how I launch the SLURM job. I think it's clear now. Thanks!

[2022-09-27 19:07] #14896 closed

[2022-09-27 21:44] awaelchli commented on #14908
@paineQing I understand that you want this problem solved asap. However, creating a new ticket only duplicates the information and does not help us process this faster. Let's keep the conversation on the original issue. I will reply there with a suggestion.

[2022-09-27 21:44] #14908 closed

[2022-09-28 11:57] awaelchli commented on #14789
Received new repro instructions from @krishnakalyan3:

[code]

requirements.txt file:

[code]

app.py file:

[code]

Error:

[code]

He reports that running with` python -m` works fine:

[code]

Despite these precise instructions, I could not reproduce on my machine :(

[2022-09-28 13:28] suyash-811 commented on #14865
@awaelchli thanks for the encouraging reply. I changed the docstring, and have created a PR for the same. Was a great experience to contribute to open-source for the first time. Hope to do more eventually :)

[2022-09-28 13:36] paineQing commented on #14611
Thanks for replying! seems like the machine can reach the node.
![321321](https://user-images.githubusercontent.com/101625489/192792161-732ef618-472e-4f1a-8d5c-e87acaa2485e.jpg)

![123123](https://user-images.githubusercontent.com/101625489/192792166-92a5d359-14e8-4703-9e18-79e9a9bd6f7e.jpg)

[2022-09-28 13:36] awaelchli commented on #14865
Nice work! More help is always appreciated. Your PR will get merged soon :)

[2022-09-28 13:38] paineQing commented on #14611
Thanks for replying! seems like the machine can reach the node.
![321321](https://user-images.githubusercontent.com/101625489/192793072-020bb3c8-6512-4989-8d4e-263447fc5ea6.jpg)
![123123](https://user-images.githubusercontent.com/101625489/192793081-cabd9021-6a9e-40ca-8a04-fe09871807e5.jpg)

[2022-09-28 13:58] awaelchli commented on #14611
@paineQing That's good news, one less issue eliminated. In that script, I hardcoded gloo, can you also try with nccl by changing the line to ` torch.distributed.init_process_group("nccl", rank=rank, world_size=world_size)`.

It is really strange that it does not work with PL, because PL does not do anything fundamentally different than this test script, which is why I'm starting to run out of idea

[2022-09-28 14:04] Atharva-Phatak commented on #14799
Hi, quick question, I was seeing the #11617 looks like it added Hydra support for multirun. I believe most changes were made to the launcher (https://github.com/Lightning-AI/lightning/blob/45ca78167efaa98f5e78ca73d79d4e71946db253/src/pytorch_lightning/strategies/launchers/subprocess_script.py) and for this issue, I have to apply the same changes to lightning Lite right ?

[2022-09-28 14:12] paineQing commented on #14611
yeah, it's really strange, sorry that I have just left my lab, I will try it and update ASAP! Thank you!

[2022-09-28 14:15] hcgasser commented on #14167
Thanks @awaelchli for your quick response and sorry for taking so much time to answer - was drowning in things to do.

The smoothed_loss variable actually goes into the losses list
https://github.com/Lightning-AI/lightning/blob/a5b0f8bd5cd28fbd79fdafa5d9380b00258d7a76/src/pytorch_lightning/tuner/lr_finder.py#L379

which is then read out and stored into the _LRFinder by the lr_find method
https://g

[2022-09-28 16:35] ethanwharris opened #14923 "Upload file endpoint fails with `The flow isn't allowed to put files into a Drive.` when running locally on Ubuntu"
## Bug

Running locally on ubuntu, using the upload files API endpoint gives the following error:
[code]

[2022-09-28 19:26] krishnakalyan3 commented on #14789
I tested this on my personal ubuntu laptop. Perhaps this issue is using anaconda incorrectly.

[2022-09-28 19:36] DrMatters opened #14928 "CUDA OOM when running trainer.validate() with deepspeed at optimizer initialization (?)"
### First check

- [X] I'm sure this is a bug.
- [X] I've added a descriptive title to this bug.
- [X] I've provided clear instructions on how to reproduce the bug.
- [X] I've added a code sample.
- [X] I've provided any other important info that is required.

### Bug description

I have encountered some strange behavior while using `Trainer` with a `deepspeed` strategy.
1. Simple setup: single GP

[2022-09-28 20:47] DrMatters commented on #14928
Upd: gist updated

[2022-09-28 21:32] awaelchli commented on #14799
@Atharva-Phatak Yes, my idea is that the new functions (e.g. _hydra_subprocess_cmd) can just me moved to Lite, then imported in PL to share the code. Then all is left call the function in the Lite version of the launcher as well, as it was done in the PR.

[2022-09-28 23:20] awaelchli commented on #14167
@hcgasser Yes, I think that's a valid observation. How about we ignore the first N steps in the selection among smoothed values (I think you called it warmup above)? We could choose N=1 or similar as the default value.

[2022-09-28 23:47] awaelchli commented on #14903
Hi
I see you are using manual optimization. You need to call the lr scheduler's step manually, after the optimizer step, but I can't see that in your code.

Make sure this code is not commented!

[code]

And also here:

[code]

Another note:
The best practice in Lightning is to return the schedulers from your `configure_optimizers()` like so,

[code]

and then access them in your training step:

[

[2022-09-29 02:05] paineQing commented on #14611
I've changed the line to "nccl", and it got stuck on the node 1.
![IMG_5340](https://user-images.githubusercontent.com/101625489/192921674-05e1d277-16b5-4280-9794-ad522f074d7c.PNG)
![IMG_5341](https://user-images.githubusercontent.com/101625489/192921714-bacb44a9-3531-4822-a48e-d337265e2a99.PNG)

[2022-09-29 02:06] paineQing commented on #14611
I've changed the line to "nccl", and it got stuck on the node 1.
![IMG_5340](https://user-images.githubusercontent.com/101625489/192922176-42f4103c-d922-4d96-b5d3-32d01695a63c.PNG)
![IMG_5341](https://user-images.githubusercontent.com/101625489/192922186-5d13b3cd-aa86-4e51-9377-aaaa3595900e.PNG)

[2022-09-29 05:20] manangoel99 commented on #14892
Thanks @andreapesare ! Looking into it

[2022-09-29 12:04] ziyadsheeba opened #14940 "Profiler doesn't stop action upon epoch end when using IterableDataset with no __len__"
### First check

- [X] I'm sure this is a bug.
- [X] I've added a descriptive title to this bug.
- [X] I've provided clear instructions on how to reproduce the bug.
- [X] I've added a code sample.
- [X] I've provided any other important info that is required.

### Bug description

When using an IterableDataset that has no __len__ function implemented, the trainer profiler doesn't remove the action

[2022-09-29 12:41] #14781 closed

[2022-09-29 14:38] maxencewynen commented on #14374
Sorry for the late reply. The issue has been resolved for me as well!

[2022-09-29 15:09] otaj commented on #14374
Awesome! :rocket: Closing this issue then

[2022-09-29 15:09] #14374 closed

[2022-09-29 15:13] nzw0301 commented on #14604
@hrzn Hi, I'm from the Optuna-dev team. Optuna's pytorch-lightning (PL) integration module doesn't support PL>=1.6 because it broke backwards-compatibility as investigated in https://github.com/optuna/optuna/issues/3418. Unfortunately, Optuna team doesn't have time to fix the module soon to support recent PL; we would like to wait for a PR from optuna and PL users.

@tchaton I believe you can clos

[2022-09-29 16:15] rohitgr7 commented on #14928
hey @DrMatters mind checking with the PR branch to see if it works for you?

[2022-09-29 16:56] #14842 closed

[2022-09-29 16:59] kcetskcaz commented on #11361
I was having the same issue training a large model on multiple 2080's (8 Gb of VRAM). Worked with `ddp` but not `ddp_sharded`. Since I only intend to use my model checkpoints for downstream evaluation, I set `save_weights_only=True` in the `ModelCheckpoint` callback and was able to run `ddp_sharded` without issue.

If you only intend to use the checkpoint for downstream evaluation and **not** for

[2022-09-29 17:41] tsikup opened #14949 "IndexError on multi-node multi-gpu SLURM script with DDP."
Hi.

I want to submit a SLURM job with 2 nodes, 4 gpus per node and 4 tasks per node (1 task per gpu) as suggested by the lightning docs [here](https://pytorch-lightning.readthedocs.io/en/latest/clouds/cluster_advanced.html).

[code]

with `devices=4` and `num_nodes=2` in the Trainer with `ddp` strategy.

I get the following error although the first 4 ranks (gpus) have been initialized as follows

[2022-09-29 18:22] DrMatters commented on #14928
Seems like this branch is working correctly for me!

[2022-09-29 18:57] awaelchli commented on #14949
Hi, please have a look at the troubleshooting guide here:
https://pytorch-lightning.readthedocs.io/en/latest/clouds/cluster_advanced.html#troubleshooting
Also, make sure that your slurm script has exactly the same variables as shown here:
https://pytorch-lightning.readthedocs.io/en/latest/clouds/cluster_advanced.html#design-your-training-script

[2022-09-29 19:20] #14865 closed

[2022-09-29 20:12] peterdudfield commented on #2189
Thanks this is perfect - thanks

[2022-09-29 20:51] awaelchli commented on #14611
@paineQing So I think that explains why Lightning was also stuck. NCCL seems to have a problem on your machine(s). I never had this problem but you could try running with `NCCL_DEBUG=WARN`, then it might show more information. Plus, you could try `NCCL_IB_DISABLE=1`

[2022-09-29 21:10] #14905 closed

[2022-09-29 23:38] awaelchli commented on #14278
@hhsecond Would you have a quick look at #14929? It's a very simple addition and could be the placeholder until the backend either supports the custom image or adds an error message of its own. What do you think?

[2022-09-30 01:59] #14799 closed

[2022-09-30 11:27] GeorgePearse opened #14961 "Auto num_worker tuning"
## 🚀 Feature
[code]

### Motivation

After you've optimized for things that impact model training performance (batch_size and learning_rate), e.g. the things that you can reason about after an epoch or two and which PL provides good tooling to do, it makes sense to try to match other parameters to the machine you're training on with respect to training times. num_workers can make a big difference

[2022-09-30 11:42] carmocca commented on #14961
This is a duplicate of https://github.com/Lightning-AI/lightning/issues/2196

It's unimplemented because there's no straightforward way to test what's the optimal num workers value. Any heuristic will depend on your hardware and training procedure, and they aren't necessarily more reliable than our current suggestions in warnings

[2022-09-30 11:43] #14961 closed

[2022-09-30 19:29] #14940 closed

[2022-09-30 20:14] #14466 closed

[2022-10-01 08:29] mertkaraoglu commented on #13228
Here is a workaround until Kornia team takes care of the issue. Inside your `training_step()` do the augmentations inside a `with` block that temporarily disables `autocast`:

[code]

[2022-10-01 14:00] paineQing commented on #14611
Okay, thanks for your patience! I will work on the NCCL problem and update later.

[2022-10-02 14:37] SagiPolaczek commented on #4450
Same issue here:
After the training phase, and just before the validation, one of the process (the secondary one) hangs while the main process continue to run until it hangs too (after the validation phase).
Note that in my case this issue occurs while using custom batch_sampler.

TO REPRODUCE:
The [pull request](https://github.com/BiomedSciAI/fuse-med-ml/tree/sagi/ddp) I was working on.
First you

[2022-10-03 03:53] ZhaofengWu opened #14973 "Store last.ckpt as symlink when appropriate to save space"
## 🚀 Feature

Currently, if I'm understanding correctly, `last.ckpt` is always stored as a separate model file (unless it's disabled, of course). But sometimes the same checkpoint already exists, for example as the best checkpoint, or as one of the top-k checkpoints. When this happens, it'd be very helpful that only a symlink is stored to reduce space usage.

### Motivation

Modern models could ta

[2022-10-03 14:11] #13445 closed

[2022-10-03 14:12] FrankwaP commented on #1088
It seems one needs to use `predict_step` (and `trainer.predict`) in order to explicitly return something (without using "tricks" like logging).

For testing the output is calculated in `evaluation_epoch_loop.EvaluationLoop.on_run_end` method which:
1. does not expect any results from `test_epoch_end` (named `_evaluation_epoch_end` here)
2. only cares about logged outputs (`_logged_outputs`) not th

[2022-10-03 14:19] otaj commented on #13445
:tada: We did it! :tada: We just closed last PR resolving typing in PyTorch portion of Lightning :tada: Thanks to everyone, who contributed, namely  @carmocca @nninept @JustinGoheen @CyprienRicque @gautierdag @krishnakalyan3 @ar90n @donlapark @alro923 @himkt @BongYang @HalestormAI @lijm1358 @nandwalritik :tada:

[2022-10-03 21:52] speediedan opened #14979 "Four multi-processing tests fail in environments with CUDA available when the test suite is run (or when at least one other test initializes CUDA)"
### Bug description

The four multi-processing tests below (two versions for each PL and Lite) are failing in environments with CUDA available when the test suite is run (or at least one other test initializes CUDA). I'll be submitting a PR shortly to fix:

[code]

### How to reproduce the bug

[code]

### Error messages and logs

(error due to fork after CUDA already initialized)
[code]
[code]
..

[2022-10-03 21:52] speediedan opened #14980 "Fix GPU tests that fail to raise expected configuration error when run in a CUDA environment"
### Bug description

The following test(s) (7 tests when parameterized) fail to raise expected the configuration error when run in a CUDA environment:
tests/tests_pytorch/models/test_gpu.py::test_root_gpu_property_0_raising

I will submit a PR shortly that adds an additional mock decorator to avoid the test failure in an environment where CUDA is available.

### How to reproduce the bug

[code]

#

[2022-10-03 21:53] speediedan opened #14981 "Support ddp_fork strategy with native AMP by attempting NVML-based CUDA availability assessment"
## 🚀 Feature

`ddp_fork` (and associated alias strategies) cannot currently be used along with native AMP due to the invocation of the CUDA Runtime API within the call to `GradScaler` in the `NativeMixedPrecisionPlugin`:

https://github.com/Lightning-AI/lightning/blob/c059db446e7bfea03fba91e598ad503f0d1c6581/src/pytorch_lightning/plugins/precision/native_amp.py#L53

which in turn initializes CUDA

[2022-10-03 22:32] bhaktatejas922 opened #14985 "ImportError: /lib64/libstdc++.so.6: version `GLIBCXX_3.4.21' not found"
### Bug description

GLIBCXX_3.4.21 isnt found. I already conda installed libgcc. I tried this https://github.com/BVLC/caffe/issues/4953#:~:text=Mar%2030%2C%202021-,try%3A,not%20doing%20multiprocessing%20code.%20For%20me%20that%20gave%20me%20pickle%20errors.,-%E2%9D%A4%EF%B8%8F

and I can train without an exception being thrown, however my training time per iteration exponentially grows and grows

[2022-10-03 23:08] martinez-zacharya opened #14986 "Single Node distributed training with multiple GPUs works but fails on multi-node"
### Bug description

I'm able to train on multiple GPUs on one node, but it fails when trying to do multi-node. I'm using SLURM to submit my jobs. Thank you ahead of time!

### How to reproduce the bug

[code]

[code]
[code]

### Environment

[code]

### More info

_No response_

[2022-10-04 00:44] mikiotada commented on #14604
With Optuna==3.0.2 with lightning==1.5.10, I got
`ValueError: optuna.integration.PyTorchLightningPruningCallback supports only optuna.storages.RDBStorage in DDP.`
After downgrading Optuna to 2.0.0 (arbitrary version) while keeping lightning==1.5.10, it ran without any error.

[2022-10-04 00:55] zephyap opened #14988 "Add option to not flatten config in WandbLogger.log_hyperparams"
## 🚀 Feature

Reopening [issue #9264](https://github.com/Lightning-AI/lightning/issues/9264): Make the config flattening that happens in WandbLogger.log_hyperparams optional.

### Motivation

Similar to the original issue, flattening the config makes it harder to re-use later.

From the original issue:

### Pitch

Add `flatten: bool = True` as a kwarg in `log_hyperparams.`

### Alternatives

- Cre

[2022-10-04 08:27] Borda commented on #13445
Shall we do the same with lightning Flow and Work... :otter:

[2022-10-04 11:54] #14723 closed

[2022-10-04 11:55] #14699 closed

[2022-10-04 12:17] #13768 closed

[2022-10-04 12:18] Erland366 commented on #14036
I am still having this issue. I am using Lightning Flash ObjectDetector with YOLOv5 backbone and neither script or trace the model works. The error says

`ModelAdapter is not attached to a Trainer.`

[2022-10-04 14:31] plehman2000 commented on #13378
This issue should be closed. `enable_model_summary` is an available tag in the `Trainer` object

[2022-10-04 15:02] otaj commented on #14985
Hi, thank you for reporting the issue. This looks very weird, are you sure, the `pip list` was run in the same environment you are running your script in? Because it looks, like you not only don't have `protobuf` installed (which is the package emitting the error), it also looks like you don't even have `lightning` or `pytorch-lightning` installed. Can you please check your `pip list` is done from

[2022-10-04 15:09] carmocca commented on #14973
This has been already proposed in https://github.com/Lightning-AI/lightning/issues/4335, but this cannot be done because the `fsspec` API does not support it. It wouldn't work for remote filesystems

[2022-10-04 15:17] ZhaofengWu commented on #14973
Thanks for the context! I'm not very familiar with `fsspec` and how lightning uses it, but why wouldn't something like `os.symlink` work? Because some people might work with two sets of file systems, and the path doesn't distinguish between them? If so, I believe it's a valid concern, but maybe not the most common use case? Why not just implement the proposed flag `symlink_to_last` in that issue a

[2022-10-04 15:43] otaj commented on #13445
I'm all for it! But that's gonna be an entirely different beast, since there's a lot more on the `Flow` and `Work` side

[2022-10-04 16:08] MattYoon opened #14993 "trainer.validate() will not load optimizer properly, different behavior from trainer.fit()"
### Bug description

Hello, always grateful for your hard work.
Not sure if this is a Deepspeed only bug, but trainer.validate() will load the optimzers for some reason, and when it does, it doesn't load them properly. It has a different behavior from trainer.fit().

Case 0. When using small model w/ DeepspeedCPUAdam + stage2_offload
- trainer.validate() will throw `AssertionError: CPUAdam param i

[2022-10-04 16:14] rohitgr7 commented on #14035
for async checkpointing it's recommended to set `save_top_k=-1`

[2022-10-04 17:04] Vishu26 commented on #14985
This is an error I once encountered with `opencv`. Solved it by installing `opencv-python-headless`. Note sure if it is the same for you.

[2022-10-04 17:35] GeorgePearse commented on #14035
Yeah just think I hit another similar problem? Thought it would be saving the best 5 models, but instead I've just ended up with the first 5. Thanks for this warning, really needed.

[2022-10-04 19:05] GeorgePearse commented on #2196
I'd be keen to try to improve this a bit if no one's got code they're happy to contribute already.

[2022-10-04 19:46] #14803 closed

[2022-10-04 21:26] justusschock commented on #2196
@GeorgePearse feel free to give it a try. This obviously hasn't been a priority for us.

Just remember that you want to have one cpu-core/thread free for the main process so this doesn't get scheduled too bad.

Ideally you'd also consider RAM as it usually scales linearly with number of workers (each gets a copy of the dataset and loads stuff at the same time). However, this is something that can

[2022-10-04 22:40] #14980 closed

[2022-10-04 23:22] awaelchli commented on #14979
@speediedan Thanks for noticing and proposing the fix. I noticed it too and wanted to address it for a while.

@carmocca You closed https://github.com/Lightning-AI/lightning/pull/14982 but I think we should still land it, as it fixes the two remaining tests (on lite side) that were failing and not covered in https://github.com/Lightning-AI/lightning/pull/14550

[2022-10-04 23:27] carmocca commented on #14979
My bad!

[2022-10-05 00:02] #14979 closed

[2022-10-05 00:37] dsuess commented on #14988
This would be a great feature to add. Note that since #2458, Wandb has added support to properly display non-flattened configs in their UI. Since we often don't control where `log_hyperparams` gets called, I think a init-argument to toggle this behaviour would be handy.

[2022-10-05 01:23] speediedan commented on #14979
No worries, thanks for your all your work man!

[2022-10-05 10:05] #14923 closed

[2022-10-05 11:15] #11012 closed

[2022-10-05 15:26] aniketmaurya commented on #14747
Yes, some features are not available in `3.7` which are there in `3.9`, so maybe a way to select the Python version would be awesome 😄

[2022-10-05 16:06] samuelstevens opened #15004 "Multiple GPU Training Very Slow"
### Bug description

When training with only GPU using `DDPStrategy(find_unused_parameters=False)`, there are 392 batches in an epoch and each batch takes ~ 3s/it for ~ 20 min/epoch.

When I use two GPUs, there are 196 batches in an epoch (expected) and each batch takes ~56s/it for 3 hours/epoch (unexpected).

The code is identical in both cases.
I have copied the seemingly relevant code here.

[c

[2022-10-05 16:18] #14429 closed

[2022-10-05 17:38] catalys1 opened #15006 "Problem with mixed precision and transformer in validation"
### Bug description

When using a `torch.nn.TransformerEncoder` in the `LightningModule`, and `precision=16` in the `Trainer`; during the forward pass within `validation_step`, the following error ocurs:
[code]
- This only happens during validation; everything works fine during `training_step` (and it's the same code being run in either case)
- This seems to be specific to the transformer layers;

[2022-10-05 18:31] rohitgr7 commented on #14993
working on it #14944

but looks like it needs more investigation. Will consider this edge case too and test it

[2022-10-05 19:07] junwang-wish opened #15007 "LightningCLI doesn't parse callback args correctly if more than one args for each callback"
### Bug description

I'm following [Pytorch Lightning 1.7.7 Doc](https://pytorch-lightning.readthedocs.io/en/stable/cli/lightning_cli_advanced_3.html?highlight=class_path#trainer-callbacks-and-arguments-with-class-type) to specify LightningCLI args:

[code]

Ideally, both `trainer.callbacks.output_dir` and `trainer.callbacks.write_interval` get passed in to instantiate `PredictionWriter_Conditiona

[2022-10-05 19:15] meshghi opened #15008 "pytorch lightning causes slurm nodes to drain"
### Bug description

Hello! When I train with DDP strategy, any type of crashes like `Out Of Memory (OOM)` error or `scancel` slurm job results in slurm nodes to drain due to `Kill task failed` which means that the pytorch lightning process running on these nodes failed to clean up after termination. I was wondering how I could fix this?

### How to reproduce the bug

[code]

### Error messages an

[2022-10-05 19:19] woqidaideshi commented on #12690
@awaelchli @quancs I just tested the lightning example (examples/pl_basics/autoencoder.py) using the latest Bauga version (bagua-cuda116) on RTX 3090 GPU. It can run successfully with BaguaStrategy using gradient_allreduce/decentralized/async/bytegrad/low_precision_decentralized algorithms.

### My environment:

**System**

__OS:__ Ubuntu 20.04.3 LTS（5.11.0-41）
__architecture:__ ELF 64-bit
__proce

[2022-10-05 19:23] junwang-wish opened #15009 "Can one add callback after initializing trainer"
In the 1.7.7 documentation, there isn't anywhere that mentions the possibility of adding custom callback after initializing trainer.

This is example when custom callbacks need to be dynamically generated depending on command line args:

[code]

Is this the recommended way to dynamically inject callbacks?

[2022-10-05 19:33] bhaktatejas922 commented on #14985
@otaj I mustve pasted the wrong env, sorry. I moved down to python3.9 and the issue went away. Thanks

[2022-10-05 19:33] #14985 closed

[2022-10-05 22:13] awaelchli commented on #14986
@martinez-zacharya
Why are you setting both of these:

[code]

Please delete the first one and keep

[code]
because you have devices=4 in your Trainer.

We have an exact SLURM template [here with required sbatch variables](https://pytorch-lightning.readthedocs.io/en/stable/clouds/cluster_advanced.html#design-your-training-script).

If you are still seeing the nccl error, make sure nccl is supporte

[2022-10-05 22:40] martinez-zacharya commented on #14986
Awesome, this was the problem! Thank you for clearing that up.

[2022-10-05 22:40] #14986 closed

[2022-10-05 22:43] awaelchli commented on #14986
@martinez-zacharya Would a warning in the logs have helped you? Like, if the Trainer would check that for example both are set incorrectly, would that have helped you fix it on your own? I think we should consider adding such a warning, or even an error if that's appropriate. What do you think?

[2022-10-05 22:52] #14981 closed

[2022-10-05 22:56] martinez-zacharya commented on #14986
@awaelchli 100% would have helped! I've spent the last few months trying different versions of pytorch, nccl and then finally migrating completely to lightning to see if that would help. The nccl warnings and errors can be pretty obtuse and hard to decipher, which led me to trying lots of potential fixes.

[2022-10-05 22:58] awaelchli opened #15010 "Re-evaluate CUDA NVML and fork checks after torch 1.13 release"
## 🚀 Reminder

This is a reminder that we added code in #14984 and #14631 that will potentially become obsolete depending on what 1.13 contains.

- If https://github.com/pytorch/pytorch/pull/85951 lands and makes it into 1.13, we're good and can remove the code when we drop support for 1.12. There is already a note about it in the source code.
- If https://github.com/pytorch/pytorch/pull/85951 get

[2022-10-05 23:30] awaelchli commented on #14986
Alright! Great, I am working on this #15011 to hopefully minimize the SLURM pain for future Lightning users. Thanks for raising this, and sorry you had a rough time. Please reach out here on GitHub or our slack if you have more questions in this direction.

[2022-10-05 23:41] awaelchli opened #15012 "Split out `CloudRuntime.dispatch` into multiple methods"
## Proposed refactor

Split out CloudRuntime.dispatch into multiple methods.

### Motivation

This makes the code easier to read and test. Specifically, when testing individual setup stages of this runtime, we can mock out individual parts that are irrelevant for execution/testing.

### Additional context

This first came up here: #14929

___________________________________________________________

[2022-10-06 06:25] SagiPolaczek commented on #4175
Any updates?

[2022-10-06 10:03] alecmerdler opened #15015 "Keep a LightningWork "Hot" Until Run Method is Called"
## 🚀 Feature

When running a Lightning App in the cloud, Work machines are instantiated lazily once their `run()` method is called for the first time. Spinning up a Work machine has a non-trivial time cost (>1 min). It would be nice if the Work machine could be spun up non-lazily, so that the first call to the `run()` method is fast.

### Motivation

Say I am building a speech recognition app. The

[2022-10-06 11:35] alecmerdler commented on #15015
@tchaton Yes, my current workaround is to issue a dummy `run()` call. It makes the code look ugly, though. Let me know if you would like help implementing this feature or gathering more feedback!

[2022-10-06 11:39] tchaton commented on #15015
Hey @alecmerdler.

Yes, we are definitely planning to add this new feature, but it is quite technical which is why it wasn't terminated.

[2022-10-06 13:30] JacobHayes commented on #4332
Let's move this discussion to https://github.com/Lightning-AI/lightning/issues/9900, which is still open. Tensorboard and protobuf pins are also causing dependency conflicts for me.

[2022-10-06 13:36] JacobHayes commented on #9900
Aside from memory/disk/install time concerns (I admittedly haven't looked at this), the `tensorboard` dependency causes a lot of conflicts for me when locking packages, particularly their `protobuf` pins. For example, `pipenv` took 4 hours to _fail_ with unresolvable dependencies, but pinning `tensorboard` and `protobuf` manually allowed it to resolve in 2 minutes.

This isn't _directly_ your prob

[2022-10-06 14:37] carmocca commented on #9980
I believe this can be closed now @akihironitta

[2022-10-06 14:37] #9980 closed

[2022-10-06 14:37] carmocca commented on #9980
One follow-up improvement would be to use 3.10 in the mypy job cc @otaj

[2022-10-06 15:29] sustr-equi commented on #9900
I second with @JacobHayes

What version is that? I didn't find a mention of it in docs, and there is no such "extras" package:
[code]

If there was `pytorch-lightning[slim]` or `pytorch-lightning[core]` that would be great! If it makes sense to the maintainers I can create a PR which adds this option.

[2022-10-06 15:38] JacobHayes commented on #9900
I might be (happily) wrong, but I didn't think there's a way for extras to _remove_ a declared dependency.

[2022-10-06 16:00] mauvilsa commented on #15009
If CustomCalBack is not meant to be configurable doing it like this looks fine to me. To have a configurable always present callback do like https://pytorch-lightning.readthedocs.io/en/stable/cli/lightning_cli_expert.html#configure-forced-callbacks

[2022-10-06 16:15] #15009 closed

[2022-10-06 16:29] junwang-wish commented on #15007
@mauvilsa thx, here u go, say this is named `tmp.py`
[code]
If I run
[code]
u would get
[code]
Notice that `config_path` of `__main__.LLM_Inference_Base` is no set, but it is passed in

[2022-10-06 16:56] amrutha1098 commented on #14554
Hey @awaelchli can i work on this issue ? I would like to contribute .

[2022-10-06 19:18] woqidaideshi commented on #12690
@awaelchli @quancs I think this is actually a problem that may be caused by the precompiled Bagua package installed by pip3 install bagua-cuda11X.

To solve it, you can download the source code of [Bagua](https://github.com/BaguaSys/bagua), compile and install Bagua locally. Then you can run Pytorch Lightning successfully with BaguaStrategy using gradient_allreduce/decentralized/async/bytegrad/low

[2022-10-06 19:20] narJH27 opened #15020 "Test GH to Jira Integration"
### Bug description

Testing

### How to reproduce the bug

_No response_

### Error messages and logs

[code]

### Environment

[code]

### More info

_No response_

[2022-10-06 21:13] HekpoMaH opened #15021 "Overfit batches parameter gives a validation batch"
### Bug description

When overfitting on a single batch and defining dataloaders in class, the batch provided to the validation step is different from the batch on the training step. I was told in the slack community that this is NOT the intended behaviour.

### How to reproduce the bug

[code]

The val batch is the [10,11] tensor, the train batch is the [0,1] tensor
![image](https://user-images.g

[2022-10-06 22:06] awaelchli commented on #14554
@amrutha1098 Yes, that would be greatly appreciated! And please let me know if you need any further guidance regarding this issue or the contribution process.

[2022-10-07 01:30] Queuecumber opened #15022 "Slurm Autorequeue Doesn't Work for Job Arrays"
### Bug description

It looks like the slurm auto-requeue doesn't work right when a job is part of a job array. I started noticing weird bugs where my jobs would ask to requeue at "weird" times or they would "fail to requeue" but then mysteriously restart or they wouldn't requeue at all. The common thread is that I was using job arrays to manage a batch of related experiments automatically.

It lo

[2022-10-07 02:09] Queuecumber commented on #15022
Additional ref: https://slurm.schedmd.com/job_array.html#scontrol

[2022-10-07 05:18] tchaton commented on #15022
Hey @Queuecumber. Great catch !

Would you be interested to make a contribution with a fix ?

[2022-10-07 06:25] wistuba opened #15026 "Keep User-Defined Order of Callbacks"
## Proposed refactor

Provide a way to disable automatic reordering or completely remove it: https://github.com/Lightning-AI/lightning/blob/7fed7a12c56c6b0e08f0223f68d7d311ea7ac90f/src/pytorch_lightning/trainer/connectors/callback_connector.py#L88
Trainer could take an additional argument `reorder_arguments=True`.

### Motivation

It is not always the case that ModelCheckpoint needs to be the last

[2022-10-07 07:15] mauvilsa commented on #15007
Great, thank you!

[2022-10-07 07:18] amrutha1098 commented on #14554
Hi @awaelchli , I have submitted the PR with the changes. Please let me know if any changes are required.
Thank you for you help !!

[2022-10-07 08:09] athn-nik opened #15028 "Callback not invoked for the validation set with DDP"
### Bug description

I have a callback that is supposed to called during training and validation set. However, the validation part of it is never invoked. The callback is about rendering videos and logging them in wandb. The callback is supposed to happened every n epochs after the train/val step ends. The callback is never called since the videos which are supposed to create are never saved on th

[2022-10-07 10:13] carmocca commented on #12690
You are correct @woqidaideshi! Thank you

[2022-10-07 12:45] Queuecumber commented on #15022
I will try to do this tomorrow depending on my availability, if it doesn't happen tomorrow it would have to be on Tuesday

[2022-10-07 12:46] Queuecumber commented on #15022
I'll try to get to this tomorrow but if it doesn't happen then it will have to be Tuesday

[2022-10-07 19:47] kiristern opened #15037 "unable to import/install pytorch_lightning"
### Bug description

I am working in an Azure Jupyter Notebook and am unable to import `pytorch-lightning` from my environment.

I can clearly see it is in my list of downloaded libraries:
[code]
However cannot call the module in my script.

I then tried installing directly in my jupyter notebook: ```!pip install pytorch-lightning``` but get an ```invalid syntax error```:
[code]

### How to reprod

[2022-10-07 20:36] Erotemic opened #15038 "Calling add_argument inside LightningArgumentParser __init__ breaks custom functionality"
### Bug description

In the current `LightningArgumentParser` it calls:

[code]

to add a default config option. This is usually fine, but in the case where `LightningArgumentParser` is being used as a standin for `ArgumentParser`, this can cause corner case breakage in code that assumes initializing an empty ArgumentParser results in an object without any arguments in it.

### How to reproduce th

[2022-10-07 22:06] DaniDapena opened #15039 "lightning.app.storage.Path tool fails to share a files between works"
### Bug description

The lightning.app.storage.Path tool fails to share a file from work1 to work2 in the cloud

### How to reproduce the bug

[code]

### Error messages and logs

[root.deploy] 2022-10-07T21:57:35.339Z /usr/local/lib/python3.8/dist-packages/pkg_resources/__init__.py:123: PkgResourcesDeprecationWarning: 0.23ubuntu1 is an invalid version and will not be supported in a future release

[2022-10-07 22:09] DaniDapena commented on #15039
@tchaton

[2022-10-08 02:24] Queuecumber commented on #15022
I found time to do it tonight, will test on a real cluster some time this weekend, please take a look when you can

[2022-10-08 09:11] yipliu opened #15041 "module 'distutils' has no attribute 'version'"
### Bug description

AttributeError: module 'distutils' has no attribute 'version'

### How to reproduce the bug

[code]

### Error messages and logs

[code]

### Environment

[code]

### More info

_No response_

[2022-10-08 10:04] #14554 closed

[2022-10-08 14:08] LanceKnight commented on #536
Couldn't find this flag. Is it removed by newer updates?

[2022-10-08 16:17] #15007 closed

[2022-10-08 16:59] amrutha1098 commented on #6094
Hi, Is this issue still up for grab ?

[2022-10-08 17:11] justusschock commented on #6094
I am not sure, whether we currently want to change this. The  APIs are quite stable right now and people got used to these minor inconsistencies.

Thoughts @carmocca @awaelchli

[2022-10-08 22:18] celsofranssa opened #15045 "Implicit gradient accumulation?"
Hello, Lightning community,

Reading the documentation, I am still not sure about the behavior of using a dual (optimizer, scheduler) training as shown in the code snippet below:
[code]
With `"frequency": 1` on both optimizers, the trainer calls  `optimizer_1.step()`  in step `i` while calling `optimizer_2.step()` in step `(i+1)`.

Therefore, does `optimizer_1.step()` only zero the gradient regard

[2022-10-09 10:19] awaelchli commented on #15008
What about single node training? The OOM should occur there too, and is likely not related to SLURM. Maybe there is a memory leak in the model?

[2022-10-09 18:07] bhaktatejas922 commented on #15008
OOM ing is not the problem. Single node works fine. We figured it out by talking to the people that manage our cluster, and they increased the timeout limit on slurm and that fixed our issue. Sometimes it will take 5min or more though for a job to exit

[2022-10-09 22:30] awaelchli commented on #15008
Is your script exiting normally? Can you check what happens at the end of training, are you saving big checkpoints? Can you check if it is also 5 mins on single node?

[2022-10-09 22:35] awaelchli commented on #15037
Hi

From these parts of the error message we can see that somehow a very old version of Lightning got cached and is pulled for installation. Can you try uninstalling it first via

[code]
and then

[code]
to force downloading a new version?

[2022-10-09 22:55] awaelchli commented on #15045
Let's see if I get this right.
I would say yes and no, it is up to what you are doing.
Scenario 1 is: In step i you compute gradients for encoder 1, then optimizer 1 will step. Then in the step i+1 you compute gradients for encoder 2, and optimizer 2 will step.

Scenario 2: You compute both gradients for encoder 1 and 2, in this case on step i optimizer 1 will updated encoder 1 weights and zero gr

[2022-10-09 22:59] awaelchli commented on #15041
@yipliu Could you fill out the full bug report template with the version information. Otherwise it will be unlikely that we can help. See the section "Environment" [here](https://github.com/Lightning-AI/lightning/issues/new?assignees=&labels=needs+triage&template=1_bug_report.yaml).

[2022-10-10 08:05] #15041 closed

[2022-10-10 08:06] awaelchli commented on #15041
Related to this issue #9900

[2022-10-10 08:55] awaelchli opened #15049 "Changes to the deprecation window in 1.8+"
## 🚀 Augmented deprecation window

### Motivation

We currently have the following deprecation pattern:
- Deprecate an API in v1.x and emit a warning.
- Remove the API in v1.(x+2) together with the warning.
This is documented in our [API Evolution section](https://pytorch-lightning.readthedocs.io/en/stable/governance.html#api-evolution) in the docs.

We have found that is very common that users do

[2022-10-10 10:18] carmocca commented on #15026
wrt the motivation, is the hyperparameter optimization library integrated as a Callback? Why does it not save a checkpoint when it signals to kill the job?

[2022-10-10 10:26] carmocca commented on #6094
I agree. Let's try to be consistent with any future additions, but be happy with these inconsistencies done in the past.

[2022-10-10 10:27] wistuba commented on #15026
Yes, the communication with the library works via callback. Please check this example from Ray Tune: https://docs.ray.io/en/latest/_modules/ray/tune/integration/pytorch_lightning.html
The callback simply reports the metric. The HPO library does not provide any signals to the Python code. When using Hyperband, the HPO scheduler might decide to kill the Python job directly.
The library cannot checkp

[2022-10-10 10:34] awaelchli opened #15050 "Support PyTorch 1.13"
## 🚀 Feature

Start testing 1.13 nightly to be ready for the next PyTorch release.

### Motivation

Soon there will be a release of PyTorch 1.13. To be ready for it, I propose to start testing 1.13 nightly against our test suite.

### Pitch

- Open a PR updating the requirements, CI configuration etc.
- Run the test suite.
- Start fixing issues and tests

### Additional context

Related: #15010

_

[2022-10-10 10:34] awaelchli commented on #15050
@carmocca @akihironitta if you have any comments or suggestions, please feel free to edit the description directly :)

[2022-10-10 10:39] carmocca commented on #15026
The `TuneReportCheckpointCallback` and  `_TuneCheckpointCallback` should subclass `Checkpoint` so that they get put last when re-ordered: https://pytorch-lightning.readthedocs.io/en/stable/common/checkpointing_expert.html#writing-your-own-checkpoint-class

This should solve your issue.

[2022-10-10 10:40] carmocca commented on #15050
1.13 will be released in ~3 weeks.

[2022-10-10 11:43] #15022 closed

[2022-10-10 12:07] wistuba commented on #15026
I see how this works and of course I could create something like
[code]
and then pass
[code]
to the trainer class as a callback.

However, this issue was not created to find some solution to a problem but rather about making the use of callbacks more elegant. Why is there a need for reordering and why not leave the order to the user? It does not seem very OO to merge two callbacks into one even th

[2022-10-10 12:20] carmocca commented on #15026
The checkpointing callbacks need to go last because the rest of the callbacks can save state. If another kind of Callback was after, then it wouldn't get saved in the Checkpoint.

This is why we added the empty `Checkpoint` class, it's the one we use internally to know whether a Callback should go at the end.

For the other kinds of callbacks, the order passed to the `Trainer` is preserved.

[2022-10-10 12:29] carmocca commented on #9900
For internal employees, this was discussed [here](https://www.notion.so/lightningai/Community-proposal-make-TensorBoard-optional-1298187756ec4a62a85c52ae472ac34b). Still pending resolution.

[2022-10-10 13:29] wistuba commented on #15026
Are you saying that if my callback extends `Checkpoint` it will not get reordered and can go last? It does not need to checkpoint and I can use another Checkpoint callback?

[2022-10-10 14:06] Jaliborc commented on #5245
This is a ridiculous argument. You're just making it harder for when people need to run large tests during long trainings for earlier results. People are still gonna do it when they need it, you're just making it messier.

[2022-10-10 15:08] DavidHoessle opened #15057 "tbptt doesn't work with validation"
### Bug description

The `tbptt_split_batch` function doesn't seem to be called before `validation_step` and `hiddens` also doesn't seem to be passed to the `validation_step` method of the lightning module.
Hence validating a model with a validation_step doesn't seems possible even if training can be achived using tbptt for timeseries data that's to big to fit in on the GPU/ where the loss calcula

[2022-10-10 15:46] #14841 closed

[2022-10-10 16:11] yurijmikhalevich opened #15060 "Expose clipboard API to the app UI"
## 🚀 Feature

Because we load Lightning App UIs using `iframe`, some of their capabilities are limited, including being able to access the clipboard.

One way to fix this will be to implement a set of generic clipboard methods on the framework side of the web UI and allow `iframe`d web-app to call them via `iframe.postMessage`: https://developer.mozilla.org/en-US/docs/Web/API/Window/postMessage.

[2022-10-10 19:30] PososikTeam opened #15062 "BaseFinetuning freeze method doesn't freeze track_running_stats in BatchNorm"
### Bug description

Continue of topic https://github.com/Lightning-AI/lightning/issues/13902.
Even with
[code]

### Error messages and logs

[code]

### Environment

[code]

### More info

_No response_

[2022-10-10 20:31] palset commented on #772
Was this ever solved? I'm facing the same error while training reformer using lightning on nvidia a100

[2022-10-10 20:51] zhiqiangw commented on #3228
Dear @awaelchli, I totally agree with @JohnKilbride. I have spent several hours debugging and searching for this. It is very frustrating that pytorch lightning does not support this functionality.
Recently, I am switching to pytorch lightning. Before using pytorch lightning, I directly use tensorboard for logging. I have some experiments logging with tensorboard where the x-axis of validation is `

[2022-10-10 21:40] w3nhao opened #15066 "Tensors not on the same device when specifying GPU id and using `deepspeed_stage_3(_offload)`"
### Bug description

When using deepspeed_stage_3 or deepspeed_stage_3_offload, if the GPU id is not specified as ```devices=[0]``` but the other id like ```device=[1]```, the error would be raised.

### How to reproduce the bug

[code]

### Error messages and logs

[code]

### Environment

[code]

### More info

_No response_

cc @awaelchli

[2022-10-10 22:08] celsofranssa commented on #15045
@awaelchli,
Thank you for your answer. Using manual optimization, the `training_step` looks like this:

[code]
about which I interpret the following:

- in even iterations
-- only the `encoder_1`'s parameters are optimized;
-- the gradient of the `encoder_1`'s parameters is set to zero; and
-- the gradient of `encoder_2`'s parameters will be propagated to the next training iteration (gradient accu

[2022-10-10 23:40] TOPFARMER commented on #15066
Actually, it doesn't bother me, when I specify the GPUs including cuda:0 like ```devices=[0, 1, 2, 3]``` or ```devices=4```. However, I want to start another training task and use the rest of the GPUs like ```devices=[4, 5, 6, 7]```.

[2022-10-11 04:02] TOPFARMER commented on #14900
hi, I've tried your suggestion and the code works without throwing any errors, but then I want to set different param groups with different LR, and it seems these params become one single group called ```_fsdp_wrapped_module.flat_param```, what am I suppose to do?

[2022-10-11 08:22] awaelchli opened #15070 "Suppress Apex AMP deprecation message until Lightning removes its implementation"
## Proposed refactor

### Motivation

We currently get this message when running Lightning with the latest apex version:

[code]
But Lightning users will be confused about this.

### Pitch

Suppress it and then replace it with the deprecation of #14416

### Additional context

[This showed up in our CI todayl.
](https://dev.azure.com/Lightning-AI/lightning/_build/results?buildId=105165&view=logs&j

[2022-10-11 10:46] krishnakalyan3 commented on #14700
Related #15033

[2022-10-11 11:04] rohitgr7 opened #15075 "Show the exact command being used to launch the app on cloud UI somewhere"
## 🚀 Feature

I'd be great to show the exact command being used to launch the app on cloud UI somewhere.

### Motivation

Useful when sharing the app with someone else, the command used to launch the app will be hidden forever in the user's terminal.

### Pitch

### Alternatives

### Additional context

______________________________________________________________________

#### If you enjoy Light

[2022-10-11 11:05] krishnakalyan3 commented on #14789
This is what I found in my investigation. I am using M1 mac

[code]

[2022-10-11 11:06] rohitgr7 opened #15076 "Show the app URL in the terminal when app is launched with `open-ui=False` on cloud"
## 🚀 Feature

When an app is launched with `--open-ui=False`, it'd be cool to show the app link in the log. I think GH does it and would be useful when working on remote systems

### Motivation

### Pitch

### Alternatives

### Additional context

______________________________________________________________________

#### If you enjoy Lightning, check out our other projects! ⚡

- [**Metrics**](ht

[2022-10-11 11:09] rohitgr7 opened #15077 "Option to select multiple apps in the UI and perform an action"
## 🚀 Feature

It'd be really cool to allow users to select multiple apps using the checkbox and perform delete/stop actions on all of them at once.

![Screenshot 2022-10-11 at 4 27 06 PM](https://user-images.githubusercontent.com/30778939/195074719-55c83025-7a13-48f5-b467-1f67571e9e9b.png)

### Motivation

### Pitch

### Alternatives

### Additional context

_______________________________________

[2022-10-11 11:18] rohitgr7 opened #15079 "Show the app count limit before uploading the app on cloud and also make it better."
## Proposed refactor

When a user has reached the app limit (i.e., 20) currently, it tries to upload and package the app first and then throws the error of the app count limit. Ideally, I'd expect the error to show before uploading/packaging the project.

The reason being sometimes when upload starts, I head over to the UI to look for the app but then end up coming back to the terminal only to fin

[2022-10-11 11:40] #15070 closed

[2022-10-11 11:57] krishnakalyan3 opened #15080 "API Key Management"
## 🚀 Feature

Today we recommend copying over `credentials.json`. Since `LIGHTNING_USER_ID` is not easy to obtain or passed as environment variables to launch an app.

### Motivation

A user may want to launch the lighting app from a remote machine or integrate it within CI.

### Pitch

A user should be able to create multiple API keys based on the access type (read-only, editable, etc) required w

[2022-10-11 11:59] #12733 closed

[2022-10-11 14:19] n-balla opened #15083 "undefined symbol when importing PyTorch Lightning after installing stable baselines3"
### Bug description

I am not able to use or import PyTorch Lightning after installing Stable Baselines3.

I get the error:

`ImportError: /home/alballns/miniconda3/envs/kdn_env/lib/python3.9/site-packages/torchtext/_torchtext.so: undefined symbol: _ZNK3c104Type14isSubtypeOfExtERKSt10shared_ptrIS0_EPSo`

I tried to re-install pytorch_lightning, PyTorch, torchtext, and made sure their versions are

[2022-10-11 15:35] samvanstroud opened #15085 "`CometLogger` and `SaveConfigCallback`"
### Bug description

Similar, but not identical to https://github.com/Lightning-AI/lightning/issues/12803

The default `SaveConfigCallback` is not well compatible with the `CometLogger` (and perhaps other loggers).

Given
[code]
`SaveConfigCallback` saves the `config.yaml` to `logs/`, while the logger writes checkpoints to `logs/project/<id>/checkpoints`.

This means that upon the second run, `Sav

[2022-10-11 15:50] kiristern commented on #15037
Hi @awaelchli thanks for your response. Oddly, when I tried importing just now, without changing anything, it all of a sudden worked. Curious as to why I had so many issues the other day... if I run into trouble again, I'll try your steps, but closing this issue for now. Thanks!

[2022-10-11 15:50] #15037 closed

[2022-10-11 19:14] edenlightning opened #15088 "Streamlit example app doesn't work"
Tried to run app from this doc:
https://lightning.ai/lightning-docs/workflows/add_web_ui/streamlit/basic.html

[code]

Got the following error:
ERROR: Found an exception when loading your application from app.py. Please, resolve it to run your app.

Traceback (most recent call last):
  File "app.py", line 21, in <module>
    app = L.LightningApp(LitApp())
  File "/Users/edenafek/opt/anaconda3/envs

[2022-10-12 09:56] awaelchli commented on #15080
@krishnakalyan3 Is this a duplicate of https://github.com/Lightning-AI/lightning/issues/14784? The feature requests sounds very similar.

[2022-10-12 10:03] awaelchli commented on #15085
@samvanstroud Yes, we noticed this too and this will be entirely solved by #14188 which we already started working on. Trainer.log_dir will be returning a consistent path to the experiment dir for all loggers and the LightningCLI will be able to properly store the config file there, as you said, where it belongs.

[2022-10-12 10:08] otaj commented on #15083
Hi, @n-balla, can you please share with us the environment you use so that we can help you debug further? The easiest way to do so would be to run `python requirements/collect_env_details.py`

Thanks a lot!

[2022-10-12 10:35] n-balla commented on #15083
Thank you for your reply!

Here is the environment details:

`* CUDA:
	- GPU:
		- NVIDIA Quadro K6000
	- available:         True
	- version:           10.2
* Lightning:
	- pytorch-lightning: 1.5.10
	- torch:             1.8.0
	- torchaudio:        0.10.2
	- torchmetrics:      0.7.2
	- torchtext:         0.9.0
	- torchvision:       0.11.3
* Packages:
	- absl-py:           1.0.0
	- aiohttp:

[2022-10-12 10:39] krishnakalyan3 commented on #15080
Headless login will be a subset of this new feature.

After discussing with Sherin we decided that it might be worth increasing to scope to multiple API keys with different permission.

[2022-10-12 11:11] samvanstroud commented on #15085
Great thanks @awaelchli, closing this in that case

[2022-10-12 11:11] #15085 closed, assigned to nobody

[2022-10-12 12:11] awaelchli commented on #15045
Yes, I think that's correct. The question is just, is this really what you want there? Maybe consider adding `with torch.no_grad()` for optimizer 1 on the even steps and for optimizer 2 on odd steps.

[2022-10-12 12:22] #14497 closed

[2022-10-12 13:25] #15049 closed

[2022-10-12 13:32] #15088 closed

[2022-10-12 14:09] otaj commented on #15083
@n-balla, it looks, like your environment is quite broken. `stable-baselines3==1.6.1` wants to have `torch>=1.11`, I know, that `torchvision` version are quite tightly linked to particular `torch` version and I expect it's the same for `torchtext`, plus it seems your versions of `torch` and `torchtext` are quite old (and I think torch `1.8.0` is unsupported by now, but I'm not 100% sure about it).

[2022-10-12 14:41] n-balla commented on #15083
Thank you @otaj !

This was only one of the environments I tried.

Here is another one, with a newer torch and torchtext, and still gave the exact same error:

`* CUDA:
	- GPU:
		- Tesla V100-SXM2-32GB
	- available:         True
	- version:           10.2
* Lightning:
	- pytorch-lightning: 1.7.7
	- torch:             1.12.1
	- torchmetrics:      0.10.0
	- torchtext:         0.13.1
* Packages:
	- a

[2022-10-12 15:15] ga1i13o commented on #12812
Same issue for me too. The problem seems to be that, while the scheduler is correctly resumed, the optimizer object to which it is linked is a different one than the optimizer that is actually being used.

[2022-10-12 15:18] awaelchli commented on #15028
Are you passing the dataloader correctly? Like

`trainer.fit(model, train_dataloader, val_dataloader)`

[2022-10-12 15:33] raketenolli commented on #3549
Is it possible that `num_sanity_val_steps` is ignored when resuming training from a checkpoint? I have a middle-of-epoch checkpoint (no others, unfortunately) and my code fails when `validation_epoch_end` gets called on empty `outputs` before training actually resumes.

[2022-10-12 15:34] awaelchli opened #15103 "DDP-spawn on LSF cluster (multi-node) should not be supported"
## 🚀 Bug

DDP-spawn on multi-node configurations where processes get spawned externally should not be supported.

### To Reproduce

Running with

[code]

on LSF is currently faulty but should not be supported.

### Expected behavior

Should not be supported. Two options:

A) Raise an error and suggest to use `strategy="ddp"`.
B) Fall-back to DDP. A similar check already exists for SLURM:

https://

[2022-10-12 15:38] otaj commented on #15083
Huh, that is admittedly weird and definitely should not happen. I don't think we have any imports of `torchtext` in our imports, at least on `1.7.7` version. Would you be able to share with me the steps you made in order to obtain this environment, i.e. which packages you installed explicitly and in which order?

I have to say, I have a hard time replicating this. I just run `pip install absl-py==

[2022-10-12 19:34] SarBH opened #15106 "ModelCheckpoint callback should [have the option to] override existing .ckpt when name matches existing file"
## 🚀 Feature

Option for ModelCheckpoint callback to override a .ckpt file if one of the same filename already exists, instead of modifying the name and storing both ckpt. This could be something like a new param in the ModelCheckpoint callback override_existing=False.

### Motivation
Currently if i provide a filename that already exists, the callback automatically appends a -v1 to the name. For c

[2022-10-12 21:07] catalys1 opened #15109 "Improve OmegaConf support in LightningCLI"
## 🚀 Feature

There are a few things that I wish would work in the LightningCLI (in conjunction with OmegaConf):

1. Variable interpolation across all configs and commandline parameters. I know this isn't supported by `jsonargparse` (as discussed in #13607), but it would really be a useful feature.
2. In the same kind of vein, if you provide a value in a config file, and then try to overwrite it f

[2022-10-12 23:42] athn-nik commented on #15028
Yes, I do this and the dataloader is implemented via LightningDataModule. The callback is not called as it does not enter the `validation_on_epoch_end` method of the callback. It does so when I use a single GPU though, and also the same method is normally accesed for the base model attached above.

[2022-10-13 00:34] celsofranssa commented on #15045
Sorry, I didn't get the effect of  `with torch.no_grad()` on the optimizers steps. Would you mind giving more details?

[2022-10-13 04:23] nzw0301 commented on #14604
@mikiotada Again, the error does not relate to PL. As the error message said, Optuna's integration does not support DDP without RDBStorage.

In my understanding, Optuna 2.x didn't officially support DDP, it does not work as you expected, I'm afraid even though there was no error.

[2022-10-13 08:45] gianmarcoaversanoenx opened #15114 "Allow dynamic setup in `setup()`"
## 🚀 Feature

Expose dataloaders to the `LightningModule`'s `setup` method.

### Motivation

This will allow for a real dynamic setup, meaning that some layers' size can be set up correctly thanks to access to the data. One does not know how data is coming from the trainer (via datamodule or dataloaders, or even from the model itself), so this must be done in setup in the most general way.

### Pi

[2022-10-13 08:50] gianmarcoaversanoenx opened #15115 "Improve LightningCLI"
## 🚀 Feature

Allow declaration of any object in LightningCLI, similarly to Hydra.

### Motivation

LightningCLI can't be used for complex cases as is.

### Pitch

Setting up the list of `transforms` won't work.

[code]

Another examples with callbacks

[code]

I need lists of non-custom objects, which requires other non-custom objects as input arguments, but no way to achieve it.

### Alternative

[2022-10-13 10:50] pietrolesci opened #15119 "Support for AdaptDL"
Reporting from the `idea-pool` channel on slack, as discussed with @carmocca.

---

Hi there,

On the way to solve a OOM problem with dynamic batch sizes based on sequence length, I have just discovered [AdaptDL](https://adaptdl.readthedocs.io/en/latest/adaptdl-pytorch.html). Might be an interesting library to support.

Some core features offered by AdaptDL are:

- Elastically schedule distributed

[2022-10-13 14:51] awaelchli commented on #15045
@celsofranssa You can choose if you want to "accumulate" or not. It is up to you, as you are in control of how to optimize your model. This means you can do
[code]

or you can choose not to! It's just a matter of how you wan to use the two different optimizers.

[2022-10-13 16:02] #14866 closed

[2022-10-13 16:57] celsofranssa commented on #15045
I got it, thank you!

[2022-10-13 16:57] #15045 closed

[2022-10-13 18:09] carmocca commented on #15109
I added 3rd party as the suggestions apply to the code in https://github.com/omni-us/jsonargparse, which is what powers the `LightningCLI`. cc @mauvilsa

[2022-10-13 18:23] carmocca commented on #15119
Hi! Thanks for the request.

Note however that we would only be interested in integrating the training tricks they provide such as batch size and learning rate scaling features.

We already support easy and elastic scaling of cloud jobs via our [Lightning.ai](Lightning.ai) platform. You can find ready-to-use apps such as the [PL app](https://lightning.ai/app/WYU6CrDIAS-PyTorch%20Lightning%20App) t

[2022-10-13 19:25] carmocca commented on #14344
Is this still relevant?

[2022-10-13 19:34] carmocca commented on #14683
Since we are swapping meta-package for a copy-on-build, this shouldn't apply anymore. Closing

[2022-10-13 19:34] #14683 closed

[2022-10-13 19:47] carmocca commented on #15103
I think this fall-back logic is a bit faulty. I would prefer to do (A) and even update the previous logic to also error-out.

[2022-10-13 19:57] awaelchli opened #15131 "Raise warning about saving nn.Module in save_hyperparameters earlier"
## Proposed refactor

Raise warning about saving nn.Module in save_hyperparameters earlier

### Motivation

We have a warning when a user tries to "save" a nn.Module as hyperparameter here:

https://github.com/Lightning-AI/lightning/blob/8e83bfafcd92793910a76bbc41c58a91393da6fd/src/pytorch_lightning/utilities/parsing.py#L264-L267

This is to avoid redundantly big checkpoints and undesired behavior

[2022-10-13 20:01] carmocca commented on #14249
Closing as there will be no more bug-fix releases before 1.8

[2022-10-13 20:01] #14249 closed

[2022-10-13 20:03] #14164 closed

[2022-10-13 20:05] #14162 closed

[2022-10-13 20:22] carmocca commented on #13887
`TorchScript` is no longer worked on in PyTorch (as https://github.com/pytorch/pytorch/issues/67146#issuecomment-1235560245). So this will probably stay open forever unless someone contributes the patch

[2022-10-13 20:35] carmocca commented on #12475
Duplicate of https://github.com/Lightning-AI/lightning/issues/11403

[2022-10-13 20:35] #12475 closed

[2022-10-13 20:46] guitar9 opened #15134 "convert to onnx forward takes 2 positional arguments but 3 were given"
### Bug description

I get the error "forward takes 2 positional arguments but 3 were given" when I want to convert the trained classifier checkpoint to onnx. I used this train script to train the classifier: https://github.com/karasawatakumi/pytorch-image-classification/blob/main/train.py

I called the script with this paramters:
`python train.py -d mydataset -b 93 --img-size 256 -e 50 --model-na

[2022-10-13 20:52] carmocca commented on #13524
Closing as there's a workaround. #5342 is kept open for logger state restoration

[2022-10-13 20:52] #13524 closed

[2022-10-13 21:05] #14868 closed

[2022-10-14 05:56] cristi-zz commented on #15131
Hi! Thank you for creating the issue out of a tweet!

Here is a collab showing my issue. Interesting, sending a small nn.Module to the constructor will not reproduce the hanging part of the issue. Also, in collab, the "saving nn.Module" warning is shown.

Unfortunately the machine where I work is not available right now, to check if this was shown. 100% possible to missed it!

https://colab.resear

[2022-10-14 06:00] mauvilsa commented on #15109
I have had this in mind even from when the OmegaConf support was first added. And I agree and do want to improve it. Just note that it is not simple to implement. Internally this is just argparse which can't be switched to using an OmegaConf dictionary. Also there is a conflicting need, see [jsonargparse #31 [comment]](https://github.com/omni-us/jsonargparse/issues/31#issuecomment-1271457039). For

[2022-10-14 09:52] mauvilsa commented on #15115
I am investigating what to do about this.

[2022-10-14 13:27] krishnakalyan3 opened #15139 "Unable to see build logs using the CLI"
### Bug description

`lightning show logs app_name` shows only the last couple of lines.

Slack thread: https://pytorch-lightning.slack.com/archives/CRBLFHY79/p1665487921218359

### How to reproduce the bug

[code]

### Error messages and logs

Only the last 2 lines are printed

[code]

### Environment

[code]
cc: @hhsecond

[2022-10-14 13:30] krishnakalyan3 opened #15140 "Ability to see credits burnt over time in lightning.ai"
## 🚀 Feature

This was feature was requested by @marcosfelt.

### Motivation
It's very hard to understand how many credits were consumed during my workday.

### Pitch
A TS chart showing credits burnt over time would great

### Alternatives

### Additional context

cc @borda @edenlightning

______________________________________________________________________

#### If you enjoy Lightning, check ou

[2022-10-14 14:23] PaulLerner opened #15141 "single-node multi-gpu training never starts"
### Bug description

Training never starts when using multiple GPUs with the "ddp" strategy. I’ve only tried with 1 node.
My issue is related to #14611 but for him, it seems to work with gloo instead of nccl. Both fail for me.

As suggested by https://github.com/Lightning-AI/lightning/issues/14611#issuecomment-1260102536, I’ve tried a minimal torch.distributed and it works with both gloo and nccl.

[2022-10-14 14:39] mnslarcher opened #15142 "Validation step super slow with ddp"
### Bug description

I'm using Pytorch Lightning with SageMaker on a ml.p3.8xlarge. I experienced an important increase in validation time so I re-executed an old experiment and still I continue to see a large increase in val time, something seems wrong:

I use:
[code]

Before this was a train log at Epoch 0, 75% (1.24it/s):
Epoch 0:  75%|███████▍  | 430/577 [05:47<01:58,  1.24it/s, loss=0.443, v_

[2022-10-14 20:37] lminer opened #15143 "Allow logging in `on_train_end`"
## 🚀 Feature

I would like to be able to log the metrics of the best performing epoch at the end of training. This is especially useful for hyperparameter sweeps. `on_train_end` seems like a natural place for this.

[2022-10-14 20:47] Atharva-Phatak commented on #14898
@awaelchli I can work on this if you can guide me. :)
Would it be okay ?

[2022-10-14 21:02] Atharva-Phatak opened #15144 "Refactor lightning accelerators into a new standalone API"
## 🚀 Feature

Lightning has possibly the best support for different training hardware, in my experience. It's possible the best out there :).
 I saw lightning-lite, although I agree it's a good step towards giving more independence to people who prefer to write their code from scratch or just for researchers who have super customized training loops :).
 Here is my pitch, Extract all the hardware a

[2022-10-14 21:52] calebbuffa commented on #10918
Any chance I could get feedback on my draft PR?

[2022-10-15 10:02] OstaptsovDanil opened #15147 "Error when running lightning install app lightning/quick-start"
### Bug description
![image](https://user-images.githubusercontent.com/64201643/195980692-e2a50a8a-c42a-429e-99dd-83e2f16bfe9f.png)

I cloned the rep `lightning install app lightning/quick-start` led to this
![image](https://user-images.githubusercontent.com/64201643/195978781-0705ed37-ad35-4e06-a0c7-b9dcc8cb6f49.png)
and it does not do `pip install -r requirements.txt`

### How to reproduce the b

[2022-10-16 13:59] awaelchli commented on #14739
@Erotemic Thanks for the feature request, sorry for the late response.

What would be your approach in integrating this feature, I assume it would be opt-in. Would every logger implementation take a new argument to control the behavior? Or was your suggestion for TensorBoard specifically? If not, what about loggers like WandB that already have a randomly generated id as the version in the folder n

[2022-10-16 17:45] Erotemic commented on #14739
The idea is that it's not random, the same hyperparams give the same id. That is, the arguments used to construct the dataset, model, and other objects would be the data fed to the hasher.

Yes. Opt-out would be a breaking change, and I'd like to avoid that.

This is not tensorboard specific, it has to do with whatever generates the folder that goes inside of "default_root_dir". I might not have t

[2022-10-16 21:08] awaelchli commented on #14739
What I'm saying is that loggers like WandB will generate the random id whether we want it or not. Given your proposal, there are three choices:
A) version=<wandb-id>
B) version=<hash>
C) version=<wandb-id>_<hash>

A is the current random experiment name. It is included in the folder name so that one can easily associate the experiment and version from the online dashboard.
B) is what you propose.

[2022-10-17 01:24] awaelchli commented on #15144
@Atharva-Phatak This proposal makes a lot of sense and has in fact already been discussed. If you look closely at our source code organization and recent developments, you will find that we've already been working towards this heavily. Check out src/lightning_lite 😉 in the source folder. Another relevant PR you might be interested is #14992 since you mentioned the run method on the class.

It woul

[2022-10-17 01:32] Atharva-Phatak commented on #15144
@awaelchli I believe lightning lite is still in development. I can see you guys are heavily working on it which is great. I would love to work on it too since nowadays lightning has become an essential part of my life. Haha :).

I am thinking of making lightning lite more functional rather than class-based :).

Maybe a lightning lite decorator for a start :). Then we can restructure everything is

[2022-10-17 03:52] awaelchli commented on #15142
@mnslarcher Is the only thing that changed from first to second experiment the version Lightning? There could be many reasons why validation is slow. I would start disabling everything that's not strictly needed, like logging in val step for example.

[2022-10-17 03:56] awaelchli commented on #15141
@PaulLerner Could you please delete `#SBATCH --cpus-per-task=10` and try again? If that works, I will add it to #15011

Also please change

[code]

to

[code]

We recently added a [troubleshooting section](https://pytorch-lightning.readthedocs.io/en/latest/clouds/cluster_advanced.html#troubleshooting).

[2022-10-17 08:09] PaulLerner commented on #15141
Adding `srun` fixes it, thanks a lot! Sorry, I did not know about this slurm tutorial of yours, I spent a lot of time scrolling through all of the GPUs tutorials :)

To be clear, I did *not* have to delete `#SBATCH --cpus-per-task=10` to fix it.

[2022-10-17 08:09] #15141 closed

[2022-10-17 09:39] sustr-equi commented on #9900
Hi @carmocca any update on this? As I said, if it makes sense to the maintainers I can create a PR which adds this option. Thank you for info :)

[2022-10-17 11:21] FrankZijlstra commented on #12812
I had the same issue and looked into it a little bit. It turns out that by default self.optimizers() returns from trainer.strategy._lightning_optimizers, and LightningOptimizer maintains a copy of the param_groups field. The parameters all are stored as references to the actual parameters, but the learning rate is not. This behaviour traces back to load_state_dict of the pytorch optimizer, which o

[2022-10-17 12:02] lantiga commented on #15147
Hi @OstaptsovDanil, can you please paste the complete output you get on the console starting from a clean environment?

[2022-10-17 12:22] lantiga commented on #15144
Hey @Atharva-Phatak very timely actually. What you suggest is definitely on our radar and it's awesome if you're willing to contribute. We started with decoupling the internals, which is the work you are seeing right now. The end result is that 1.8 ships with a new stand-alone `lightning-lite` package, but other than that nothing will change for users for now.

There's some more work to do around

[2022-10-17 14:02] awaelchli commented on #15131
@cristi-zz Thanks a lot. I confirm this is reproducible, and the warning is shown as expected. The program seems to hang when TensorBoard attempts to dump the hparams into a file here: https://github.com/Lightning-AI/lightning/blob/5dd7b6a4787819f12758a7d68d6c0cfdbed405c2/src/pytorch_lightning/core/saving.py#L405

I suppose yaml is not efficient in serializing the "big" resnet module. I'm sure it

[2022-10-17 14:19] awaelchli commented on #15141
@PaulLerner Glad you managed to make it work. We're looking into adding more validation around this common user error: https://github.com/Lightning-AI/lightning/issues/10150

[2022-10-17 16:13] Erotemic commented on #14739
Having experiment_dir from #14188 might be enough for what I want.

WRT to wandb, I was thinking that this feature would be independent of that. Let wandb do what it wants, whereas this option is mainly for vanilla lightning. What I'm looking for here is simply an alternative to `version_XXX` so I can implement a feature where if I kill a run and it has the same hyperparams it knows how to restart

[2022-10-17 17:51] rohitgr7 commented on #13948
fixed by: https://github.com/Lightning-AI/lightning/pull/15034

you can now set `Trainer(inference_mode=False)` and enable grad manually.

[2022-10-17 17:51] #13948 closed

[2022-10-17 18:05] OstaptsovDanil commented on #15147
Hello @lantiga, yes of course. I still have these screenshots
![image](https://user-images.githubusercontent.com/64201643/196249960-4fc26132-49b8-4c6e-a257-d314cccf1e47.png)
![image](https://user-images.githubusercontent.com/64201643/196250117-d819cd5a-639d-4b12-88b2-53ec1d330353.png)
![image](https://user-images.githubusercontent.com/64201643/196250196-9be40b23-a6c6-48ee-90d6-673ad2160887.png)
![

[2022-10-17 20:23] #14701 closed

[2022-10-17 22:19] Atharva-Phatak commented on #15144
@lantiga I will take up some open issues in lite and we can keep on decoupling things accordingly :)

[2022-10-17 22:22] Atharva-Phatak commented on #15143
@lminer You can accumulate all the metrics from ```train_step``` and just log them.
Are you referring to any specific logging service like WANDB, etc or just in general ```self.log``` method which lightning provides ?

[2022-10-17 22:37] EvanZ commented on #15083
I am getting a similar error:

`Exception has occurred: OSError
/home/ec2-user/.local/lib/python3.7/site-packages/torchtext/lib/libtorchtext.so: undefined symbol: _ZN5torch6detail10class_baseC2ERKSsS3_SsRKSt9type_infoS6_
  File "/home/ec2-user/deep-behavior-embedding/finetune.py", line 8, in <module>
    from pytorch_lightning.accelerators import accelerator`

[code]

Not sure what the issue is. I

[2022-10-18 00:30] Atharva-Phatak commented on #14859
@awaelchli I can take this up if its still open ?

[2022-10-18 01:47] akihironitta opened #15159 "Use a newer version of `mypy==0.971`"
## Proposed change
Apply the following patch (as of now) to `requirements/pytorch/test.txt` just like #15158 and fix typing following the raised errors:
[code]

### Motivation
To stay up-to-date :)

### Additional context
As we've seen in https://github.com/Lightning-AI/lightning/pull/15158#issuecomment-1281698911, the new mypy 0.982 raises around 40 errors in our codebase.

<details>
<summary>cli

[2022-10-18 02:20] Atharva-Phatak opened #15160 "Invisible text on lightning.ai hiring page"
### Bug description

The email link under "Want to work at Lightning?" is in white and is not visible when one sees it.

I am attaching a screenshot here. I tested with different browsers as well. Same issue.

![image](https://user-images.githubusercontent.com/42376808/196320080-cefa4471-cea8-49ea-b021-f5fb6c19f2af.png)

One can see from the image that the email is white.

Seems like a minor CSS i

[2022-10-18 02:21] Atharva-Phatak commented on #15159
@akihironitta I can take this :)

[2022-10-18 02:28] akihironitta commented on #15159
Hi @Atharva-Phatak, that would be great! Thank you :)

[2022-10-18 02:55] tshu-w commented on #14739
For me, the version_number of `TensorboardLogger` and `CSVLogger` is confusing as it is not easy to distinguish experiments(runs) by them.

Using the parameter hash as the bottom path (the identifier of the experiments) may be problematic because the code may have been modified, should we recover previous runs or overwrite the experiment result. However it may be convenient to save experiments wit

[2022-10-18 03:01] Atharva-Phatak commented on #15103
@awaelchli and @carmocca  Quick question you want to fallback to option (A) correct? I.e raise a warning and set strategy to DDP, right?
Do you have any specific warning in mind ?
If you could divulge some details I can write a fix and create a PR :)

I can take this up if this is open :)

[2022-10-18 08:44] wxj630 commented on #49
would be really interested in this Gradient Checkpointing (https://github.com/cybertronai/gradient-checkpointing)
! What is the current status?

[2022-10-18 10:02] Polarisjame opened #15165 "Validation_step logs dont't show on prog_bar"
### Bug description

![image](https://user-images.githubusercontent.com/108406757/196378785-a506348b-7579-4848-9e71-ffd45e1e88a6.png)
When I run the Validation step,it seems that my val_loss and val_acc don't show on the prog_bar and it line feeds automaticly ,I don't Know how to deal with it,here is my model code:
[code]
and my trainer code:
[code]

### How to reproduce the bug

_No response_

##

[2022-10-18 11:11] #14500 closed

[2022-10-18 12:14] awaelchli commented on #15103
@Atharva-Phatak I show the fallback logic in the description above, LSFEnvironment needs to be added to these checks there. That's the quick fix to align the logic with other environments where we fall back to "ddp".

I wouldn't say that the logic is faulty, just brittle, and easy to miss updating when adding a new environment.

I would definitely go for the quick fix (fallback) first (for both Tr

[2022-10-18 12:38] carmocca commented on #9900
You can work on making sure PL works with `tensorboard` uninstalled, by gating imports as necessary.

But there's still no final decision on whether yo remove it from requirements.

[2022-10-18 12:43] wangleiofficial opened #15168 "mixed precision with Deepspeed"
### Bug description

When using mixed precision with Deepspeed, the model resulted in the error: `RuntimeError: expected scalar type Float but found Half`.

### How to reproduce the bug

[code]

### Error messages and logs

[code]

### Environment
<details>
  <summary>Current Environment</summary>

[code]

</details>

### More info

_No response_

cc @awaelchli

[2022-10-18 13:21] gianmarcoaversanoenx opened #15171 "Example about manual optimization is wrong"
I can successfully run this piece of code:

[code]

But only when the definition of `LitSampleConvNetClassifier` is the following:

[code]

That is, I use manual optimization. If I change the class definition as follows:

[code]

I get an error. Why? Independently from what error I get, which is Opacus-related, shouldn't the two pieces of code be equivalent? The documentation says so but apparentl

[2022-10-18 14:05] anishazaveri commented on #13126
Same issue. Long training job (~900k steps/epoch). Training stalls mid-epoch (somewhere around ~300k steps) without any error message. This corresponds to a constant increase in buff/cache usage in the CPU until it's full.

Lightning version: 1.7.0
Torch version: 1.10.0
CUDA: 11.5

I solved it by making num_workers=0. This still leads to an increase in buff/cache but it levels off before it is ful

[2022-10-18 14:19] carmocca opened #15172 "AWS Neuron support"
## 🚀 Feature

https://awsdocs-neuron.readthedocs-hosted.com/en/latest/index.html
https://aws.amazon.com/machine-learning/neuron/

### Motivation

https://aws.amazon.com/about-aws/whats-new/2022/10/ec2-trn1-instances-high-performance-cost-effective-deep-learning-training/

### Pitch

Neuron is XLA based, so it'll probably be an accelerator and strategy. Their marketing materials also advertise that

[2022-10-18 14:20] awaelchli commented on #15160
@yurijmikhalevich or @boodland is this something you could help with? I believe @Atharva-Phatak accessed this page: https://www.pytorchlightning.ai/support

[2022-10-18 14:24] awaelchli commented on #15171
@gianmarcoaversanoenx Where did you find this example? If there is a mistake, we can update it.
Also please provide the full error message if possible. Thanks!

[2022-10-18 14:32] Atharva-Phatak commented on #15160
@awaelchli Yes that was the page that I accessed looks like the text is rendered as white :).

[2022-10-18 15:48] VictorY-1Qbit opened #15174 "Add default_config_files argument to LightningCLI.__init__"
## 🚀 Feature

I suggest to add a `default_config_files` parameter in `LightningCLI.__init__`.

### Motivation

The only way I found to change the default file to load the CLI configuration is though the `parser_kwargs` :
[code]
Which took me a while to find because my first try was to override `add_default_arguments_to_parser` that way :

[code]
Which is not working for some reason (related to #15

[2022-10-18 16:10] Queuecumber opened #15175 "Support channels_last"
## 🚀 Feature

I'd like to try out some `channels_last` training to see if it improves performance (https://pytorch.org/tutorials/intermediate/memory_format_tutorial.html)

I'm not entirely sure what the best way to do this with lightning is but I also think it should probably be one of those features that you set on the trainer and it just magically works.

### Motivation

Using the `channels_last

[2022-10-18 16:16] rnjv commented on #2733
Still facing this issue.

import pytorch_lightning as pl
pl.__version__
1.7.1

[2022-10-18 16:23] schmidt-jake opened #15176 "Support for PyTorch ZeroRedundancyOptimizer"
## 🚀 Feature

Implement a DDP-ZeroRedundancyOptimizer strategy.

### Motivation

I know that Zero is available in Fairscale, but since PyTorch now has its own implementation at `torch.distributed.optim.ZeroRedundancyOptimizer`, I think it would make sense to support it.

### Pitch

A new `strategy` called e.g. `DDPZero` that would support `DDP` with torch's `ZeroRedundancyOptimizer`, along with su

[2022-10-18 16:27] mogwai commented on #13079
I agree that the name isn't generic and there has been a good trend in lightning the last few versions to address the naming not matching the accelerator.

It makes sense that if  CUDA accelerator is being used devices have been specified that the Trainer would automatically find gpus that have 0% utilisation and 0% memory allocation from torch. This would then remove the need for auto_select_gpu

[2022-10-18 17:08] Atharva-Phatak commented on #15103
@awaelchli Essentially right now we just set strategy to DDP right? So we need to implement ```LSFEnvironment``` class something like ```TorchElasticEnvironment``` right ?

[2022-10-18 19:57] dagap commented on #9380
+1 on `predict_epoch_end` which allows one to modify the outputs.

[2022-10-18 21:22] lminer commented on #15143
I want to have some way to run the general `self.log` method at the very end of training in order to sum up the run. `on_train_end` seems to be the place for this, but if there's somewhere better, it would be great to know.

[2022-10-18 21:44] awaelchli opened #15179 "Redesign dataloader re-instantiation context managers"
## Proposed refactor

Redesign the context managers that enable re-instantiations of DataLoader after #14992 deprecates the run method design.

### Motivation

We currently have two context managers over the run method:

https://github.com/Lightning-AI/lightning/blob/776432fd7e34cc02e9dbfb16ad8ec8491c176dbf/src/lightning_lite/lite.py#L394-L397

- _replace_dunder_methods(DataLoader, "dataset")
- _r

[2022-10-18 21:47] nateraw commented on #2733
@rnjv I just now ran this in Google Colab and it works fine. Also works fine on latest version. There must be an issue with your environment.

<img width="671" alt="Screen Shot 2022-10-18 at 5 46 00 PM" src="https://user-images.githubusercontent.com/32437151/196550953-86a50b29-1ba2-464f-8333-ae2d795ef7f9.png">