[2020-03-11 18:32] wxc-kumar opened #1120 "configure_optimizers with OneCycleLR and Pretrain Freeze/Unfreeze"
Hello. Thanks for the work on this framework - it's something I've been looking for and I am currently working on transition all my own work from fast.ai to pytorch-lightining. I'm currently stuck on the `configure_optimizers` step.

For those not familiar, the core workflow of fast.ai goes something like this:
[code]

fast.ai uses it's own system for implementing the OneCycleScheduler and it's no

[2020-03-11 19:56] elistevens opened #1121 "Do not have combined train+val progress bar, keep bar output after epoch is finished"
## 🚀 Feature
The progress bar labeled "Epoch" should be renamed to "Train" and the validation data should be displayed only in a separate bar.

Additionally, each epoch should leave the final training and validation bar on-screen for visual inspection.

### Motivation

It's confusing that training and validation are shown in a single bar, and it destroys the information about the iterations/sec fr

[2020-03-11 19:57] #1110 closed

[2020-03-11 20:39] sneiman commented on #1119
I believe this happens with multiple gpus as well. And it only seems to happend if `ModelChckepoint(save_top_k)` is set greater than 1. Still converting models to 0.7.1 but wanted to share this ...

[2020-03-11 20:42] luiscape commented on #1112
@jwallat and @lezwon I'm suspicious the issue happens upstream with [tqdm](https://github.com/tqdm/tqdm) itself. The issue seems to be related with the cancelling (or failing) of a running operation. They suggest the following workaround:

https://github.com/tqdm/tqdm/issues/548#issuecomment-457291936

We could implement that into Lightning but other issue such as [this one](https://github.com/tqd

[2020-03-11 21:58] fabiocapsouza commented on #1120
I'm pretty new to pytorch-lightning but I'm also struggling with this issue to use BERT's LR schedule, which as far as I understand is exactly OneCycleLR, but without freeze/unfreeeze.

It seems to me that the freeze/unfreeze can be done with a custom Callback and `on_epoch_end`.
As for the total number of steps, I think you have to pre-calculate it when instantiating the model or call `len(self.m

[2020-03-11 22:35] Borda commented on #1117
cool, thx @festeh! feel free to reopen if you would need anything from Lightning side :]

[2020-03-11 22:35] #1117 closed

[2020-03-11 22:41] Borda commented on #1011
@shubhamagarwal92 is it this still actual after new release?

[2020-03-11 22:46] Borda commented on #1089
Good point having support also for multiple training dataloders would be great, mind send a PR?
just be aware that there is another open PR on dataloaders... #1104
cc: @PyTorchLightning/core-contributors

[2020-03-11 22:56] Borda commented on #1095
Interesting point. @monney could you pls draw a use-case when you need to log a sequence of parameters? moreover range as function won't be seriacable...
With the conversion to a string, it is a solution to save it but after load, it won't be easy to decode... we could do something like try to decode:
[code]

[2020-03-11 22:58] Borda commented on #1096
Hey, good point, if you have some elegant solution in mind, could you send a PR?

[2020-03-11 23:01] pertschuk commented on #1096
@Borda Sure, I will look into this next week when I (hopefully) have more time

[2020-03-11 23:12] Borda commented on #1099
Good point, it makes sense to skip eval of the unfinished train also when a user is it he doesn't want to wait for another hour lol Mind send a PR? :robot:

[2020-03-11 23:17] Borda commented on #1114
@SkafteNicki could you pls chek it?

[2020-03-11 23:42] bkkaggle commented on #1116
I'm finetuning distilgpt2 on 8 cores of a colab TPU and using the wandb logger. The main problem seems to be that at the end of training, each tpu process and the wandb logger shut down before the built in ModelCheckpoint callback finishes saving the checkpoint for the epoch to disk.

Relevant part of stack trace:
[code]

[2020-03-12 01:23] monney commented on #1095
@Borda
Use Cases for various non-primitives:
**Sequences:** Num Layers as one hparams, per layer filter size or stride for each conv. layer. I use this to test topology changes across different resolutions.

Current Alternative: passing in a string to decoded in model, something like '[3,5,3,5,3,5,5]'

**Namespaces:** Better organization of parameters

Current Alternative: prefix on names like "ba

[2020-03-12 01:26] jeremyjordan commented on #1099
Thanks for bringing this use-case to our attention @lezwon , definitely something we'd want to consider.

What if the `Trainer` object had a `status` property? Similar to how compute jobs will have a status `{PENDING, RUNNING, COMPLETE, FAILED}` we could apply something similar here for the training job. In this case we could differentiate the two cases with a status of INTERRUPTED vs COMPLETED an

[2020-03-12 02:19] xingzhaolee commented on #1119
@Borda fixed. part of the code that caused the bugs was removed a few commits back.

[2020-03-12 03:28] sneiman commented on #1119
fix is in master?

[2020-03-12 03:32] xingzhaolee commented on #1119
fix for DDP checkpoint is in #1125, still waiting for it to be reviewed and merged.

as for this issue, on my side it seems to work fine. can you double check?

[2020-03-12 07:33] lezwon commented on #1099
@jeremyjordan that sounds great. We could definitely do that.

[2020-03-12 07:35] lezwon commented on #1112
@luiscape I have another notebook (without PL) wherein I use `tqdm`. The progress bar seems to be working fine there. Not sure why it isn't working with PL.
Used it in the following way:
`for bi, data in tqdm(enumerate(data_loader), total=int(len(dataset) / data_loader.batch_size)):`

[2020-03-12 08:40] Borda commented on #1095
Sounds good, would you mind sending a PR with these suggestions?

[2020-03-12 08:58] Borda commented on #1099
Not sure if we really need to add complexity to the existing callbacks...
Also `on_training_completed` is standard behavior so rather some cleanup for interrupted?
@jeremyjordan status sounds cool, by my opinion it is much better signal the returned 0/1 from e.g. `.fit` =)

[2020-03-12 09:42] danieltudosiu commented on #1121
This can easily be done with tqdm. [Here](https://github.com/tqdm/tqdm#ipython-jupyter-integration) is their example.

We can have their "1st loop" as our experiment loop (which encompasses training+validation **epochs**) and then have one progress bar per training epoch and another one per validation epoch.

[2020-03-12 11:23] SkafteNicki commented on #1114
I agree with @alexeykarnachev that this is indeed a bug, that I introduced with the recent rework of the learning rate schedulers. I can send a new PR with the bug fix and include a test for `ReduceLROnPlateau` schedulers

[2020-03-12 11:38] Borda commented on #1114
Thx guys!
@alexeykarnachev minds send fix PR?

[2020-03-12 12:51] dscarmo commented on #1076
I think it could be in the same way the others work, in my understanding they return a list of dicts, with each dict corresponding to the return of an epoch (return of trainining_step or training_end if exists).

[2020-03-12 12:59] ethanwharris commented on #1076
The only gotcha that we need to watch out for is that all of the collected outputs need to be detached so they don't keep the gradient trees in memory. I would suggest writing a method that recursively traverses the output dictionary and creates a new one with the same elements but all detached, then we can apply this to each output before adding it to the dict. Will also need some good tests to m

[2020-03-12 14:50] #1119 closed

[2020-03-12 16:05] RafailFridman opened #1127 "How to log cur_val_loss to tensorboard in validation_step?"
I tried to get it to tensorboard this way
[code]
but that didn't work.
How can I monitor validation loss not only at the end of each epoch, but during validation?

[2020-03-12 16:40] #1083 closed

[2020-03-12 16:46] #948 closed

[2020-03-12 17:19] Dref360 commented on #1089
I'm interested in this task, but I have some questions.

1- Do we assume the data loaders are of the same length? What should we do if one runs out of data.
2- How long would be an epoch? The length of the shortest data loader?

3- Would a more sensible design be:
[code]

[2020-03-12 17:45] LuposX commented on #1088
So you need to set `'progress_bar'` in the return statement of `test_epoch_end` to get a return value.

[2020-03-12 17:47] wxc-kumar commented on #1120
Possibly related issues: #1038 #941.

@fabiocapsouza taking your input, I'm setting up my code as below, where I pass in the epoch via `hparams` and the `steps_per_epoch` via `len(self.train_dataloader()` which I think should work once everything is in place.

Additionally, OneCycleLR needs to be updated on every batch and it appears the default is to step the lr scheduler every epoch, rather than

[2020-03-12 18:08] awaelchli commented on #1121
I would also like to see the two progress bars to be split completely, but I would still prefer it disappears after the epoch is done, otherwise it fills up the terminal unnecessarily. I prefer to inspect my metrics in the logger. (Just my opinion of course)

[2020-03-12 23:01] stathius opened #1131 "Better message when DataLoader is wrong"
On the verge between bug and improvement.

There was a bug in my Validation DataLoader and was returning irrelevant staff. Accidentally the length was 0.  Probably an edge case combination. The error I was getting during the validation sanity check was quite cryptic:

[code]

I had to go through the code of pytorch-lightning for few hours to understand what was happening.
Maybe a more informative

[2020-03-13 00:55] kyoungrok0517 opened #1134 "No such file or directory '.../epoch=0.ckpt'"
## 🐛 Bug

After finishing the first epoch I see the error message. I'm using `0.7.1`

### To Reproduce
Train using `0.7.1`

[code]

### Environment
[code]

[2020-03-13 00:59] xingzhaolee commented on #1134
If this error occurs when you're running in DDP mode the fix is in master. Refer to #1119.

[2020-03-13 01:05] kyoungrok0517 commented on #1134
I’ll try that. Thanks!
On Mar 13, 2020 9:59 AM +0900, Xing Zhao LEE <notifications@github.com>, wrote:

[2020-03-13 03:14] jeremyjordan commented on #1099
@Borda are you suggesting that we add a new callback (`on_training_completed` that @lezwon mentioned) which runs conditionally according to the value returned from `fit()`? My only worry is that it might be confusing to know the difference between `on_training_end` (existing) and `on_training_complete` (proposed).

[2020-03-13 05:17] louis2889184 commented on #1089
1. I think that the lengths of the data loaders can be different is more flexible, and each data loader can have its batch size. It is my opinion that the loader can just reload the dataset after running out of the data, so it doesn't depend on other data loaders.

2. My previous experience is to use the length of the longest data loader (the smallest epoch of all data loaders). But this needs mor

[2020-03-13 05:45] patil-suraj opened #1135 "Colab TPU error"
I'm trying to run a LSTM model on TPU with colab. It throws me following error.
[code]
Anyone has any ideas what this could mean ?
Thanks in advance!

[2020-03-13 08:44] mpariente opened #1136 "Lose performance between 0.6.0 and 0.7.1"
## 🐛 Bug

When I train exactly the same model with pl 0.7.1, I get worse performance compared to pl0.6.0.
I did a fresh install or [Asteroid]( https://github.com/mpariente/asteroid) with both versions and ran exactly the same script on the same hardware.
I get significantly worse performance with pl0.7.1.
Are there some known issues I should be aware of? In the mean time, I'll have to downgrade to

[2020-03-13 08:56] polars05 opened #1137 "How to change between train and evaluate mode in forward method?"
I'm trying to use FasterRCNN from `torchvision.models.detection` which behaves in the following manner:
-  During training, the model expects both the input tensors, as well as targets and will return a dict containing the classification and regression losses:
[code]
- During evaluation, the model requires only the input tensors, and returns the post-processed
    predictions:
[code]
How can I tog

[2020-03-13 12:10] danieltudosiu opened #1138 "Simplification of how the gpus are given to the Trainer class"
## 🚀 Feature
Simplify how we specify what GPUs are to be used.

### Motivation
[As per the documentation](https://pytorch-lightning.slack.com/archives/CRBLFHY79/p1584064137115700), you can pass what GPUs to be used in one of the following manners:
    - None - which means train on CPU
    - Integer - which determines how many GPUs to use (can mean train on CPU if is 0, and all GPUs if -1)
    - Li

[2020-03-13 12:22] alexeykarnachev opened #1139 "Can't cast Trainer automatically generated args to their required types"
## ❓ Questions and Help

#### What is your question?
I'm not sure, that this is a bug, so I put it like a question.
The problem is: if I want to add the Trainer arguments to my custom `ArgumentParser` object, I call the `add_argparse_args` Trainer classmethod. But this method doesn't cast the Trainer arguments to their required types.
It forces me to cast the arguments by myself. Like so:

[code]

[2020-03-13 12:30] awaelchli commented on #1138
The documentation is a bit hidden, but there is a list of possible values and types for the gpu argument [here](https://pytorch-lightning.readthedocs.io/en/latest/pytorch_lightning.trainer.distrib_parts.html#module-pytorch_lightning.trainer.distrib_parts).
The possibilities for string you propose already exist and behave like you describe. I don't see the point of simplifying everything to string.

[2020-03-13 12:36] awaelchli commented on #1136
Could you be more precise what you mean with performance?
It could mean
- Your test loss is lower with 0.7.1 compared to 0.6.0
- Training epochs take longer to finish in 0.7.1 vs. 0.6.0
- or other things.

[2020-03-13 12:51] mpariente commented on #1136
Yeah true, sorry.
Training, validation and testing losses are worse with 0.7.1, that's what I
meant.

[2020-03-13 12:55] Borda commented on #1136
@mpariente could you pls give us some numbers?

[2020-03-13 12:56] danieltudosiu commented on #1138
If you pass a list to the gpus parameters the TensorBoard Logger will error out with `ValueError: value should be one of int, float, str, bool, or torch.Tensor` which showcases that actually the list is not fully supported.

Also, having a single way of passing the GPU list will simplify further Loggers that need to be added. Why have flexibility in passing a parameter that actually does not add a

[2020-03-13 13:08] Borda commented on #1139
@alexeykarnachev could you pls give a complete example, I am missing which is the `ArgumentParser`... here it seems like you want to update the `trainer_args` by itself
[code]
if you need the default values, pls use `default_attributes`

[2020-03-13 13:11] danieltudosiu opened #1140 "Change the way the configure_optimizers() returns"
## 🚀 Feature
Force the method [LightningModule.configure_optimizers()](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/core/lightning.py#L901) to return two lists.

### Motivation
Right now you offer flexibility in return one of the following:
    - Single optimizer
    - List or Tuple - List of optimizers
    - Two lists - The first list has multiple optimizers

[2020-03-13 13:12] SkafteNicki commented on #1120
@wxc-kumar your code is correct, to make lightning call `.step()` method of the scheduler after each batch the `"interval"` keyword need to be set to `"step"`. Maybe the documentation could be more clear on this.

[2020-03-13 13:31] mpariente commented on #1136
Yes. We minimize negative signal to distortion ratio (SDR), which is widely used in speech separation. I report loss values here, they are negative and lower is better.
With 0.6.0, we reached -18dB / With 0.7.1, we couldn't reach better than -15dB. People publish for 1dB so this is a huge difference.

I'm re-running the experiments with exactly the same version of the code, same libraries, same ha

[2020-03-13 13:37] alexeykarnachev commented on #1139
Yes, sorry for the insufficient details from my side.

Here is a gist:
https://gist.github.com/alexeykarnachev/fd010b797d92873905780c856e9334d5

It's not runnable script, because I've simplified it a lot. But it contains the problem i've described.

[2020-03-13 13:40] yukw777 commented on #1138
It might be b/c I don't personally use `argparse` in my training script at all as I prefer a config driven approach using libraries like `hydra` that I actually prefer that we accept primitive types like int or list of ints. Another point of discussion.

[2020-03-13 13:41] yukw777 commented on #1140
I don't have a strong preference on this one. I think if enough people agree on this, we should do it.

[2020-03-13 13:41] Borda commented on #1099
in this moment I was just thinking about adding Trainer status...
not sure if we want to add complexity with new callback...

[2020-03-13 13:55] williamFalcon commented on #1138
sounds like we just need to map whatever input is passed in to a single format (which i thought we did). then we make sure that format works well for things like tensorboard.

[2020-03-13 13:59] awaelchli commented on #1138
The issue with the hparams conversion for TB is discussed in #1095 (and a proposal to fix it was already submitted as PR).

[2020-03-13 14:01] Borda commented on #1136
just crossed some other comment about slower performances https://github.com/PyTorchLightning/pytorch-lightning/issues/525#issuecomment-596963253

[2020-03-13 14:09] ykukkim opened #1141 "IterableDataset Issue, OverflowError: cannot convert float infinity to integer"
Hey all,

I am very new to ML and PyTorch and PyTorch Lightning, so if this is a simple problem sorry to bother.

However, I am struggling to switch from PyTorch to PyTorch Lightning. The PyTorch code runs with no error on Google Colab hence I think that the structure is fine.

Now I am trying to implement Lightning following: [https://towardsdatascience.com/from-pytorch-to-pytorch-lightning-a-gen

[2020-03-13 14:15] Borda commented on #1103
I do not see anything newer the `0.7.1` https://github.com/PyTorchLightning/pytorch-lightning/releases

[2020-03-13 14:24] danieltudosiu commented on #1138
My rationale is to reduce the amount of memory a human needs to spend to remember every possible variation in the framework while maintaining maximum flexibility. I find it similar to how a code formatter works, it makes it easier for your mind to read every piece of code by showing it in a well pre-defined format.

[2020-03-13 14:25] ethanwharris commented on #1141
Hi, thanks for the issue! Can you confirm if the error is there using the most recent version on master (i.e. if you install from github)? We only added support for IterableDatasets quite recently

[2020-03-13 14:42] ykukkim commented on #1141
Hi, Thank you for your reply.

I am very new to this, I am using conda3 and used pip to install lightning package which is installed in conda enviroment.

Could you perhaps explain a bit more about your suggestion as to how to do it?

Thanks!

[2020-03-13 15:19] ethanwharris commented on #1141
No worries, just try installing with the bleeding-edge instructions [here](https://github.com/PytorchLightning/pytorch-lightning#bleeding-edge) and run your code again :)

[2020-03-13 15:38] gwichern commented on #1136
I also noticed a similar issue with my code after upgrading to 0.7.1 from 0.6, so I tried running the [MNIST example](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/basic_examples/cpu_template.py), and confirmed performance difference (both of my environments used torch==1.4.0 and torchvision==0.5.0)

<img width="441" alt="Screen Shot 2020-03-13 at 11 35 06 AM" src="

[2020-03-13 16:22] elistevens opened #1142 "Race condition and repeated os.remove in load_spawn_weights"
In multi-gpu, multi-node training, after training is finished, the following error occurs:

[code]

I think this is a similar issue to other `os.remove` bugs, but I'm worried that merely adding an `if rank == 0` will move the issue to a race condition (where rank 0 removes the file before other processes can load it).

[2020-03-13 16:46] williamFalcon commented on #1142
this is to restore state when running in interactive modes (ie: colab or something).

When running as a script, there's no need to do this.

The easiest solution is probably to only call this when on jupyter or colab?
A more involved solution is making sure the barriers are set correctly?

[2020-03-13 17:00] elistevens commented on #1142
Okay, it's being called from `trainer.fit`; are you saying the call needs to be removed from that function? Or that something is wrong with my script?

[2020-03-13 17:21] rmrao opened #1143 "`use_amp` is broken in 0.7.0"
I see that `use_amp` is deprecated but since the Trainer still accepts it as an argument, I believe this is still a bug.

The issue is that the [hook that deals with this](https://github.com/PyTorchLightning/pytorch-lightning/blob/3c2fd560aa4d31b4f48ee225b83361deec53d9c7/pytorch_lightning/core/hooks.py#L136-L143) specifically checks if `trainer.precision == 16`. However, the Trainer does not set `

[2020-03-13 17:34] awaelchli commented on #1136
If it even happens with MNIST, we have to find the bug asap!
I thought there were tests in place to ensure the performance does not change, but it seems this is not the case.

[2020-03-13 17:36] awaelchli commented on #1136
Just to be sure, @mpariente and @gwichern did you make the training deterministic before running this comparison?

[2020-03-13 17:39] williamFalcon commented on #1136
there are test cases to make sure performance doesn't change. please rerun using the exact same seed and only change the versions.

[2020-03-13 17:39] gwichern commented on #1136
In my case yes.  The pytorch-lightning MNIST example sets both the numpy and torch seeds to 2334.  Everything is the same except environments.

[2020-03-13 17:40] williamFalcon commented on #1136
I'm not sure what you mean here.
You still reach the same accuracy just at diffferent times

![image](https://user-images.githubusercontent.com/3640001/76645836-29106f80-6530-11ea-9b16-32090fae184e.png)

[2020-03-13 17:41] williamFalcon commented on #1136
@gwichern can you post a colab here? we can test it there.

[2020-03-13 17:47] gwichern commented on #1136
Agreed, on that point about the accuracy getting to the same value, but I just ran pl_examples/basic_examples/cpu_template.py in two different environments (passing --hidden_dim 500 from the command line in both cases).  The seed is set to the same value in both versions, so I would have expected things to match better

[2020-03-13 17:48] mpariente commented on #1136
No, my bad. But I did make each run twice, and have consistent difference between 0.6.0 and 0.7.1

[2020-03-13 18:04] ethanwharris commented on #1136
It looks like the MNIST example doesn't set shuffle=True in [the dataloader](https://github.com/PyTorchLightning/pytorch-lightning/blob/3c2fd560aa4d31b4f48ee225b83361deec53d9c7/pl_examples/basic_examples/lightning_module_template.py#L201), that could be the cause of the poor MNIST performance

[2020-03-13 18:21] williamFalcon commented on #1136
ok, yeah... finding the same. Let's dig into this a bit.
The problem is that the core logic didn't really change though.
Might be dataloader related

[2020-03-13 18:21] williamFalcon commented on #1136
@PyTorchLightning/core-contributors

[2020-03-13 18:24] awaelchli commented on #1136
the @pl.dataloader decorator got removed in 0.7. could it be related? (can't test right now).

[2020-03-13 18:29] mpariente commented on #1136
I didn't try to find the cause of this yet, I thought I should report first.

Yes it is.

[2020-03-13 18:39] williamFalcon commented on #1136
might be the refresh rate of the progress bar. maybe that also changed the update freq of the loggers by mistake

[2020-03-13 18:46] mpariente commented on #1136
Had considered this possibility as well. But for a given epoch (while training), the results are significantly degraded.

[2020-03-13 18:52] williamFalcon commented on #1136
Using 0.6.0
At the end of 1 epoch.

![image](https://user-images.githubusercontent.com/3640001/76650995-13a04300-653a-11ea-9cbb-4f7e2f5954b5.png)

Using 0.7.1

![image](https://user-images.githubusercontent.com/3640001/76651055-34689880-653a-11ea-8bfd-709c83eae3dc.png)

Removing the decorators has no effect

![image](https://user-images.githubusercontent.com/3640001/76651131-519d6700-653a-11ea-898

[2020-03-13 19:04] williamFalcon commented on #1136
And when doing exactly the same model including environment reset we get an exact curve match...

![image](https://user-images.githubusercontent.com/3640001/76651947-eeaccf80-653b-11ea-8c24-758cea9e51ba.png)

[2020-03-13 19:59] mpariente commented on #1136
We'll try to see if we get the same problem when we are setting seeds.
Thanks for taking time for it.
If it persists, I'll try to set up a reproducible example but the dataset we use is not open, it makes things complicated.

[2020-03-13 21:19] elistevens commented on #1142
FYI, replacing my training with ```class MonkeyPatchedTrainer(pl.Trainer):
    def load_spawn_weights(self, original_model):
        pass
[code]

[2020-03-13 21:40] awaelchli commented on #1137
How about this:
[code]
In the if/else clause you could also dispatch to e.g. `self.predict(...)` and e.g. `self.forward_train(...)` to further break down the complexity of the forward pass.

[2020-03-13 23:03] bkkaggle commented on #1098
Adafactor on pytorch/xla is slow, it takes ~2 min for the first two iterations then ~5s/iteration for a full forward+backwards pass compared to SGD, which can do ~13 iterations/second.

Here's the colab notebook to reproduce this and create the debugging report:

https://colab.research.google.com/drive/1DF0pnIjsKiq9drUTskeg2dZL8jnFjolO

[2020-03-13 23:16] ykukkim commented on #1141
Thanks this works!

`trainer = pl.Trainer(val_check_interval = 100,gpus=None)`

I did the val_check interval, but I am not too sure what it does? Could you care to explain this to me by any chance?

Thank you!

[2020-03-14 00:11] S-aiueo32 opened #1144 "Add support for hierarchical dict"
## 🚀 Feature

### Motivation
Since v0.7.0, LightningModule accepts dict hparams, however, still TensorBoardLogger raises an error with hierarchical dict. Considering the compatibility of the other package, especially Hydra #807, hierarchical dict should be accepted by any loggers.

### Pitch
- Flatten hierarchical dict before hparam logging

### Alternatives
The function `_convert_params` in [logg

[2020-03-14 00:48] Borda commented on #1144
that sounds good! we have already started some work related to params, see #1130 #1128
but still, these flatten dict are also welcome, would you mind to send a PR?
cc: @PyTorchLightning/core-contributors

[2020-03-14 00:51] Borda commented on #1143
that s a good catch, thx! could send a fix PR? :robot:

[2020-03-14 01:00] #1141 closed

[2020-03-14 01:01] rmrao commented on #1143
Submitted!

[2020-03-14 01:02] luiscape commented on #1144
Given that incompatibility with `TensorBoardLogger`, it does make to flatten these dicts, I think. Just a minor comment: I would suggest that instead of

[code]

The flattened dict would use `.`  to indicate hierarchy:

[code]

[2020-03-14 01:03] Borda commented on #1137
@awaelchli thx for help! @polars05 feel free to re-open if needed... :]

[2020-03-14 01:03] #1137 closed

[2020-03-14 01:07] Borda commented on #1131
yeah, better error messing always helps, thx and PR is welcome! :]

[2020-03-14 01:11] Borda commented on #1111
@tstumm that sounds good to me, would you mind to send a PR?
cc: @PyTorchLightning/core-contributors

[2020-03-14 01:15] S-aiueo32 commented on #1144
Thank you for replying, @Borda. I'll send PR after some discussions here.

[2020-03-14 01:15] S-aiueo32 commented on #1144
I saw the PRs #1130 #1128, then I feel there are some conflicts between the PRs.
For example, if non-primitive types are converted to str by #1130, #1128 does not have any effects.
The integrative discussion around hparams is needed I think.

[2020-03-14 01:26] Borda commented on #1112
check following fix, it should help #1093

[2020-03-14 01:30] S-aiueo32 commented on #1144
@luiscape Thank you for the suggestions.

Do you have any reasons to use `.` as the delimiter? I think the optimal delimiter is logger-dependent.

I don't have any idea because the flattening only has the meaning of parsing for logging.
I assume the original hierarchical dict is stored as a member of LightningModule.

[2020-03-14 01:43] Borda commented on #1082
@neggert @ethanwharris ^^

[2020-03-14 01:57] Borda commented on #1139
if do understand your use-case you want to have some parameters to be passed from CMD and/but some Trainer arguments to be fixed - forced to have a certain value, right?
[code]
but in the case of `accumulate_grad_batches` (and some others) we shall do some casting eg with `eval`
Woudl you mind sending a PR to fix `Trainer.from_argparse_args(...)` and/or `Trainer.add_argparse_args(...)` containing

[2020-03-14 01:58] Borda commented on #1006
@jeremyjordan pls ^^

[2020-03-14 02:05] Borda commented on #1116
@borisdayma @calclavia pls ^^

[2020-03-14 02:14] hadim commented on #1006
Maybe try to put a print straight in `on_train_end` and see if it prints during the training.

[2020-03-14 02:33] S-aiueo32 commented on #1144
PR is ready [here](https://github.com/S-aiueo32/pytorch-lightning/commit/af9555a1e487b0a4655d713b05bea841ead1aa31)!
After merging of #1130, I'll send it after resolving the code conflicts to #1130.

[2020-03-14 03:16] borisdayma commented on #1116
@bkkaggle does it happen also if you use a jupyter notebook or is it specific to collab?

wandb has also a way to let you run experiments offline and sync afterwards.

[2020-03-14 04:52] S-aiueo32 opened #1146 "Pretty test result with pprint"
## 🚀 Feature
### Motivation
Test results are shown at the end of test loops since v0.7.0.
The content of the indication is `prog_bar_metrics`, which is basically inputted as a `dict`.
By default, this part uses built-in `print` function:
![image](https://user-images.githubusercontent.com/14917234/76911857-44df9100-68f5-11ea-8719-744acfc05855.jpeg)
This way cannot display the pretty results so I su

[2020-03-14 07:56] Borda commented on #1144
Could you pls comment on these PRs thow...

Could you open an issue and raise/start such discussion (or jsut continue in the Hydra one?)

[2020-03-14 08:25] S-aiueo32 commented on #1144
I commented in #1128.

Yeah, I'm going to open issues.

[2020-03-14 08:27] S-aiueo32 commented on #1146
PR is ready 64a2f602170df382befc18f4a4c2c06379269543

[2020-03-14 08:30] alexeykarnachev commented on #1139
Yes, I'll do it.

But do you have any suggestions of how can it be performed ?
I see it like this:
in the `Trainer.add_argparse_args` classmethod there is a loop:
[code]
And it's possible to pass a `type` argument to the `parser.add_argument`, but this "type" first needs to be obtained somehow.
I suppose, that it can be done via the signature inspection in the `Trainer.default_attributes` classmet

[2020-03-14 14:29] awaelchli commented on #887
@hadim I am looking at adding more typing to the rest of the code base and I am facing this issue again with failing imports (e.g. in tests). I think it is related to forward referencing / cyclic references.
For example, in the callbacks I need to import the Trainer and Lightning classes to type the callback signatures, which somehow fails at runtime.
Have you faced such issues before?

[2020-03-14 14:34] hadim commented on #887
No, I haven't but an easy fix is to use types as string. Instead of:

[code]

Try:

[code]

[2020-03-14 14:35] luiscape commented on #1144
@S-aiueo32 I suggested using `.` as separators to indicate hierarchy just because of style, really. I think that's more intuitive given the use of `.` in the package / module convention of Python.

If there's further functionality added by using `/` let's do that instead.

[2020-03-14 14:40] luiscape commented on #887
This StackOverflow response adds more context to @hadim's response:

* https://stackoverflow.com/questions/33533148/how-do-i-specify-that-the-return-type-of-a-method-is-the-same-as-the-class-itsel

In short, that's an upcoming feature of Python 4.0. The most backward compatible workaround is the solution suggested by @hadim above.

[2020-03-14 15:17] awaelchli commented on #887
Thanks for your suggestions. With just the string method there are no errors, but my IDE (pycharm) is complaining and suggesting that I still need to import Trainer (when I declare `trainer: 'Trainer'`). However, when I add [this](https://github.com/awaelchli/pytorch-lightning/blob/53dcd73162a1d4dd0dd196b20643da5a6490ef88/pytorch_lightning/callbacks/base.py#L10) import and run tests, it fails to i

[2020-03-14 15:26] jeremyjordan commented on #1144
Could we implement this in such as way to enable the use of [`writer.add_scalars()`](https://pytorch.org/docs/stable/tensorboard.html#torch.utils.tensorboard.writer.SummaryWriter.add_scalars) for the Tensorboard version? When you use this method it plots the values on a single chart (versus grouping charts with individual metrics when you organize tags like `parent/child`).

eg.
![add_scalars](htt

[2020-03-14 15:37] jeremyjordan commented on #1006
@pvernhet-aramis you should be using the `callbacks` arg to pass in custom callbacks to the Trainer

https://pytorch-lightning.readthedocs.io/en/0.7.1/trainer.html#callbacks

[code]

[2020-03-14 15:39] jeremyjordan commented on #1099
Ok yes I agree, I think the Trainer status would be a simple solution that may also be useful in other situations as well :)

[2020-03-14 16:08] S-aiueo32 commented on #1144
@luiscape
Hmm, honestly I think either `.` or `/` are fine.
We should use `/` if we work along with TensorBoard manner, however, it doesn't have any functionality in the hparam section. 😅
In my [current branch head](https://github.com/S-aiueo32/pytorch-lightning/tree/29ae37c78ca279a3e9ae2924389d5a981b0abd5a), the delimiter can be controlled by the argument.

[2020-03-14 16:18] S-aiueo32 commented on #1144
@jeremyjordan
My simple answer is NO. The latter is the correct way in TensorBoard fashion.
To implement the former, we need multiple event files logging the metrics with the same tags, which is hacky and cluttered.

[2020-03-14 16:34] alexeykarnachev commented on #1139
Please, consider a PR https://github.com/PyTorchLightning/pytorch-lightning/pull/1147

[2020-03-14 17:02] #929 closed

[2020-03-14 18:05] Borda commented on #887
Wow, is there road map for Python 4.0? What will be the last 3.x series? @luiscape

[2020-03-14 18:05] Borda commented on #887
Wow, is there road map for Python 4.0? What will be the last 3.x series? @luiscape

[2020-03-14 18:13] Borda commented on #1099
Cool, does anyone send a PR with Trainer status? I may suggest to implement it as enum/numbering similar like `logging.INFO/DEBUG/...`

[2020-03-14 18:49] oplatek commented on #1103
now it is ok/fixed/clear: 5 days ago there was a button Show two newer releases (at that time the two newer releases were 0.7.0 and 0.7.1 tags)

[2020-03-14 19:11] #1095 closed

[2020-03-14 20:36] versatran01 opened #1148 "[Bug] Progress bar displays wrong total iterations for train"
#1018  🐛 Bug

for example, my training dataset has 448 samples, and I use a batch size of 4, then the loader should have length 448 / 4 = 112, but the progress bar is displaying N/171, which I have no idea how it computes that. The training then proceeds normally until it hits 112/171 and enters validation.

[2020-03-14 20:48] #1148 closed

[2020-03-14 23:13] vanpelt commented on #1116
@bkkaggle I just took a look at this, couple things to note.

1. Never put your api key in a notebook.  Instead use:
[code]
And it will prompt you for your api key if it's not in the notebook env yet.

2.  Could this be related to the early stopping callback?  I'm not familiar with the mechanics of lighting and TPU's but this seems to be caused by triggering the `finalize` action of the `WandbLogg

[2020-03-14 23:22] vanpelt commented on #981
@rmrao I just made a PR.  It should be safe to always set reinit=True.  I wasn't able to reproduce the specific environment you mentioned.  Can you share some code or a Colab with me to be sure this works ok?

[2020-03-14 23:40] rmrao commented on #981
I think I had tried setting reinit without fixing other calls to avoid creating the experiment unless necessary. I don’t think this will produce errors.

I haven’t experimented with reinit significantly and I’m not sure what it does in terms of creating a new run in wandb, etc. but I don’t think I have a setup that explicitly causes an error with reinit.

[2020-03-14 23:47] Ir1d opened #1150 "Propose to save new model before deleting previous ones in ModelCheckpointing"
## 🚀 Feature

In an edge case, the trainer deleted previous model and then was killed because of system error before successfully saving new model. Thus all the models were lost.
I understand specifying save_top_k > 1 helps, and saving before deleting leads to larger disk consumption. But it might be good to provide an option for this?
### Motivation

### Pitch

in the worst case, you have two but

[2020-03-15 01:12] wxc-kumar opened #1151 "Logging Iteration for Epochs"
## 🐛 Bug

Logs generated within `validation_epoch_end` have their iteration set to the number of steps instead of number of epochs.

### To Reproduce

Steps to reproduce the behavior:
1. Create LightningModile with the below functions.
1. Train the module for 1 or more epochs
1.  Run Tensorboard
1. Note the iteration for logs generated in `validation_epoch_end`

### Code Sample
[code]

### Version

[2020-03-15 01:32] wxc-kumar commented on #1151
Looks like the LightningModule documentation for validation_epoch_end has a note regarding this, to use `step` key as in: `'log': {'val_acc': val_acc_mean.item(), 'step': self.current_epoch}`. This does work correctly - perhaps this should be the default?

[2020-03-15 01:32] #1151 closed

[2020-03-15 02:19] isolet commented on #665
Got `NotImplementedError: Got <class 'dict'>, but numpy array, torch tensor, or caffe2 blob name are expected.` when trying to use nested dict...

[code]

[code]

[2020-03-15 04:15] isolet opened #1153 "Question about return value of `validation_epoch_end`"
## ❓ Questions and Help

### Before asking:
1. search the issues.
2. search the docs.

#### What is your question?

I'm a bit confused about what to return from methods like `validation_epoch_end` and what to put inside its `log` member.

Based on the [document](https://pytorch-lightning.readthedocs.io/en/latest/experiment_reporting.html#log-metrics) the `log` member of the return value of `valida

[2020-03-15 04:55] vincentzlt opened #1154 "should test the scheduler class instead of dict"
https://github.com/PyTorchLightning/pytorch-lightning/blob/3ad6169f187ea41aa1534a1d9a3b978d053dca2b/pytorch_lightning/trainer/trainer.py#L711

isinstance(scheduler['scheduler'], optim.lr_scheduler.ReduceLROnPlateau)

[2020-03-15 05:40] lezwon commented on #1099
Will this status also account for validation/test completed/interrupted?

[2020-03-15 05:44] isolet commented on #1088
@LuposX I'm facing the same issue. Why inside 'progress_bar' instead of the return value itself?

[2020-03-15 06:03] jamesjjcondon commented on #596
Same here. I'm training one epoch in about 30minutes so am only validating every 10, say, to save time. So need to save every epoch without validating. @simonjaq can you point me in the right direction - which code did you copy? Was that callbacks.model_checkpoint or like [here](https://pytorch-lightning.readthedocs.io/en/latest/callbacks.html)?

[2020-03-15 08:10] Borda commented on #981
It would be good also add test for logger in ddp mode

[2020-03-15 08:44] louis2889184 commented on #1089
I found a related discussion in [here](https://discuss.pytorch.org/t/train-simultaneously-on-two-datasets/649/2). The first reply provided a solution for multi-datasets using `torch.utils.data.Dataset`. However, it assumes that the lengths of the data loaders are the same, and the index's relationships between datasets are fixed.

Therefore, I modified the provided codes to be more flexible such a

[2020-03-15 10:40] SkafteNicki commented on #1154
PR https://github.com/PyTorchLightning/pytorch-lightning/pull/1126 will fix this

[2020-03-15 10:40] isolet commented on #1076
The message [here](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/trainer/training_loop.py#L693) suggest using `training_epoch_end`, however, it is not called...

[2020-03-15 10:51] Borda commented on #1089
@williamFalcon @tullie pls ^^

[2020-03-15 11:37] williamFalcon commented on #1089
1. in this case a custom dataloader that has two datasets in it is probably the best thing.

2. if we do support multiple dataloaders, the way to keep it consistent with val and test (which already support that), is to call training_step with alternating batches.

[2020-03-15 11:39] williamFalcon commented on #1136
any news @mpariente

[2020-03-15 12:19] mpariente commented on #1136
Real training takes over 2days so I was finishing both trainings.
Differences are still huge and it didn't compensate over time. Didn't try to set the seeds yet. I'll let you know, I don't have a lot of compute power available for these experiments.
![Screenshot from 2020-03-15 13-17-26](https://user-images.githubusercontent.com/18496796/76701212-60f9ed00-66bf-11ea-967e-c86e567d8828.png)

We consi

[2020-03-15 12:24] simonjaq commented on #596
Hello
I took the whole code from /pytorch_lightning/callbacks/model_checkpoint.py. And changed line 189 to `on_epoch_end`

(continues below code block)
[code]

In my train loop I call the checkpoint:
[code]
from pytorch_lightning import Trainer
from pytorch_lightning.loggers import TensorBoardLogger

checkpoint_callback = ModelCheckpoint(
    filepath='./checkpoints/AD_15',
    save_top_k=10,

[2020-03-15 12:47] tullie commented on #1089
Agreed that in this case the custom dataloader with two datasets seems best. Pytorch's dataloader/dataset classes are flexible enough that the user can control exactly what is coming out of them at each epoch (including which node they go to).

[2020-03-15 12:56] Yevgnen commented on #57
@lorenzoFabbri Do you have any suggestion for replacement?

[2020-03-15 12:59] lorenzoFabbri commented on #57
@Yevgnen Hi. I haven't use this library in a long time! Perhaps thins have changed in the meanwhile so I cannot really help you. I plan on giving it another try in the next few weeks, though.

[2020-03-15 13:00] williamFalcon commented on #1089
why don’t we make the output of this a common use case page?

Add a new page for multiple dataloaders
- training (show the example on building two)
- val, test: describe how it happens ij lightning today and add examples with validation_step, test_step

[2020-03-15 13:01] Yevgnen commented on #57
@lorenzoFabbri Thanks for quick reply! May I ask which library you are using?😅

[2020-03-15 13:03] williamFalcon commented on #57
we introduced a full callbacks system now! give it a shot.

[2020-03-15 13:04] lorenzoFabbri commented on #57
@Yevgnen I actually used plain PyTorch. I didn't have to do fancy things, so I wrote my own functions for training and testing.

[2020-03-15 13:43] qmeeus opened #1155 "No validation checks when overfit_pct is set"
## 🐛 Bug

When setting the `overfit_pct` to any value between 0 and 1 (exclusive) in trainer, the validation checks are disabled.

### To Reproduce

I have worked on a minimal example to reproduce the bug:

[code]

### Expected behavior

Validation checks occur normally

### Environment
[code]

[2020-03-15 13:48] LuposX commented on #1088
@isolet I dont know. Its just when I set it I get a return value and when not than not. :)

[2020-03-15 14:05] jeremyjordan commented on #1099
yes we could do something like:

[code]

I can work on getting this into a PR

[2020-03-15 14:26] Borda commented on #1089
Then why we have multiple dataloaders for test and valid?

[2020-03-15 14:45] asafmanor commented on #594
I have implemented an API that allows returning optimizer, lr_schedulers, optimizer_frequencies,
and then based on the batch_idx will determine the current optimizer to use.

**If there is an agreement on this API, I'll proceed to testing, documenting and submitting a PR.**

Another option would be to allow returning a tuple of dictionaries as @williamFalcon suggested. that would be a minor change

[2020-03-15 14:47] asafmanor commented on #594
I am adding here that the official implementation of WGAN-GP (for example) needs this feature in order to converge.
This is a very fundamental feature in GAN training.
![image](https://user-images.githubusercontent.com/32155911/76703762-a4168900-66dc-11ea-88d0-d201c6439109.png)

[2020-03-15 15:03] LucFrachon opened #1156 "ReduceLROnPlateau does not recognise val_loss despite progress_bar dict"
## 🐛 Bug
When training my model, I get the following message:
[code]
Ihis is similar to #321for instance, but I definitely return a `progress_bar` dict with a `val_loss` key in it (see code below).

#### Code sample

[code]

### Expected behavior
The `val_loss` value should be picked up by the progress bar.

### Environment

 - PyTorch Version (e.g., 1.0): 1.4.0
 - OS (e.g., Linux): Windows 10
 -

[2020-03-15 15:35] dscarmo commented on #1153
You need to return whatever metric the checkpoint callback is using to monitor the best model. In this case, val_loss is used to monitor for the best model, and you need to return it separately from the logs.

In the same vein, the backward is performed on the "loss" key of the return dict from training_step, so you need to have defined a "loss" return.

[2020-03-15 16:41] bkkaggle commented on #1116
I've set the early stopping callback to have a patience of 10 epochs with

[code]

so I don't think it should be the problem. I also updated the code to use `wandb.login()` so the API key isn't visible anymore.

[2020-03-15 18:00] lezwon commented on #1099
Hey @jeremyjordan, what if we would like to execute different actions if the trainer failed during a validation task? Can we find out which task it failed at from the status? Just wondering if this would be flexible in such a scenario.

[2020-03-15 18:07] borisdayma commented on #1116
@Borda

I overwrote the collab by removing the `finalize` method and just tracking calls:

[code]

I get following error stack:

[code]

We can see 2 issues (I believe unrelated to `wandb`):

* `WandbLogger.finalize` method is called before "Epoch 2" is finished -> could be related to reaching the end of dataloaders?
* Another error appears with `load_spawn_weights`

You are probably more familiar

[2020-03-15 18:41] jeremyjordan commented on #1099
@lezwon do you have an example in mind of where you'd need that?

i'd prefer to keep the implementation simple and generic enough such that we don't keep adding new status types.

[2020-03-15 20:43] danieltudosiu opened #1157 "Learning Rate Schedulers' default dictionary parameters should be set via the Trainer"
## 🚀 Feature
The default Learning Rate Schedulers (LRS) dictionary parameters should be settable from the Trainer constructor.

### Motivation
The documentation doesn't seem to be clear that the LRS have the following additional parameters available to be set when you configure the optimizers:
[code]
### Pitch
Set those defaults in the constructor of the Trainer and the user can set them themselve

[2020-03-15 21:11] bkkaggle commented on #1116
Thanks for the fix.

The reason why the error message `TypeError: __init__() missing 1 required positional argument: 'args'` is probably happening is because I pass a custom parameter to my LightningModel

[code]

I'll change my code to follow pytorch-lightning's recommended way of setting hyperparameters (https://pytorch-lightning.readthedocs.io/en/latest/hyperparameters.html) so this error messa

[2020-03-15 22:06] Borda commented on #1116
@borisdayma thx for your help and tracing back the issues. :robot:
about the `load_spawn_weights` I think that we have been fixing it in the last release
the `finalize()` is explicitly called in the cleaning phase after killing the training
https://github.com/PyTorchLightning/pytorch-lightning/blob/3ad6169f187ea41aa1534a1d9a3b978d053dca2b/pytorch_lightning/trainer/training_loop.py#L624

[2020-03-15 22:47] borisdayma commented on #1116
@Borda What is strange in this instance is that `finalize` seems to be called while Epoch 2 is still running (as we get few more prints after).
However it may be related to some issues with the implementation of this specific example.

[2020-03-16 01:16] isolet commented on #1153
If put `val_loss` outside `log` instead of inside `log`, I will get a `RuntimeWarning: Can save best model only with val_loss available, skipping.` That's contradict to what you said, i.e. 'return it separately from the logs'.

And I don't understand why I should put the test metrics into `progress_bar` in order to get it displayed after evaluation.

[2020-03-16 01:43] lezwon commented on #1099
Don't really have an example yet. Was just considering a scenario like that though.

I guess we could go ahead with the current proposal you mentioned. That should solve my issue for sure 😊

[2020-03-16 03:34] isolet commented on #1148
Have you figure out how the total iteration is computed?

[2020-03-16 06:12] jamesjjcondon commented on #596
Hopefully [this](https://github.com/PyTorchLightning/pytorch-lightning/pull/1160) is an improvement @williamFalcon (but still doesn't allow saving all models independent of validation).

[2020-03-16 13:15] festeh commented on #1140
I don't see clear benefits from this, probably because I got used to the current behavior. Drawbacks are:
* if one just wants to return an optimizer, additional cluttering with two lists will be required
* it's a backwards incompatible change, users will have to update their code

[2020-03-16 14:07] SkafteNicki commented on #1156
Actually, `ReduceLROnPlateau` lr schedulers are conditioned on `callback_metrics`, see here:
https://github.com/PyTorchLightning/pytorch-lightning/blob/774d9be3577ce1f05d895134d5ce70c16877d08b/pytorch_lightning/trainer/training_loop.py#L717-L726
and these values are everything not defined in `'progress_bar'`, `'log'` and `'hidden'`, see here:
https://github.com/PyTorchLightning/pytorch-lightning/b

[2020-03-16 14:47] louis2889184 commented on #1089
I totally agree with the idea about the new doc for data loaders.

Is it because we would like to extract the data from multiple datasets simultaneously in the training phase, while we usually sequentially loop datasets in the validation/testing phase (like [evaluation step](https://github.com/PyTorchLightning/pytorch-lightning/blob/620941eb2830fb422772862ced2d6daf5af659c2/pytorch_lightning/traine

[2020-03-16 15:01] williamFalcon commented on #1089
exactly. i could be wrong, but in training we usually want to use both batches at once. in val/test we use them sequentially

[2020-03-16 15:04] versatran01 commented on #1148
I think it is the sum of train and val iteration, which is confusing.

[2020-03-16 15:24] LucFrachon commented on #1156
Thanks for your answer. If I understand correctly, `ReduceLROnPlateau` is the only LR scheduler that does not use values from `progress_bar`?

Here's `configure_optimizers()`:

[code]

And here is the `Trainer` definition:

`trainer = pl.Trainer(gpus=-1, early_stop_callback=None, max_epochs=stgs.PRED_HPARAMS['max_epochs'])`

[2020-03-16 15:24] SkafteNicki commented on #1157
I disagree mainly due to:
* The trainer constructor already have many arguments, and this would potentially add 3 extra (the `'reduce_on_plateau'` is automatically determined from the LRS) arguments
* The user can already set these in `configure_optimizers` method by passing a LRS as a dict with these keywords.
* If I have two LRS and I want one to step after every epoch and one after every batch

[2020-03-16 16:02] fschlatt commented on #992
Never mind, my issue can be solved using [training_step_end](https://pytorch-lightning.readthedocs.io/en/latest/lightning-module.html#training-step-end) :)

[2020-03-16 16:02] #992 closed

[2020-03-16 18:09] sneiman opened #1161 "multi-gpu ddp calls validation and testing loops too many times"
When using ddp with multiple gpus, each validation and test loop is called with the entire validation dataset for each gpu.

Expected behavior is that the dataset is divided appropriately across the gpus.

I am using current master (cloned Mar 14), Ubuntu 19.10, Cuda 10.1, python 3.7.5, pytorch 1.4, venv environment.

The problem appears to be in `auto_add_sampler()` in data_loading.py. It does no

[2020-03-16 18:29] williamFalcon opened #1162 "clarify 3 things in docs"
**clarify 3 things in docs**

1. DP, DDP don't matter with TPUs. TPUs work in DDP by default (at least rn).

2. Explain how the different steps are called (i thought we did).
(here: https://pytorch-lightning.readthedocs.io/en/0.7.1/lightning-module.html#training-loop-structure)
[code]

3. Explain that checkpoint + early stopping don't get overridden by things passed in as callbacks.
(here: https:/

[2020-03-16 18:35] #1114 closed

[2020-03-16 18:51] sneiman commented on #1161
I'll make a pr if the above seems right. it is working for me now, but need to run full testing.

[2020-03-16 20:43] lezwon commented on #1112
@Borda I tried it on NextJournal, it still shows `HBox(children=(FloatProgress(value=0.0, description='Validating', layout=Layout(flex='2'), max=157.0, style=Pr…`

<img width="711" alt="Screenshot 2020-03-17 at 2 12 35 AM" src="https://user-images.githubusercontent.com/6305654/76798050-d4514b00-67f4-11ea-8a02-4f5c42991f32.png">

[2020-03-16 20:52] williamFalcon commented on #1112
i don’t really know what this is either. this seems to be a colab thing.
just restart the environment

[2020-03-16 20:54] williamFalcon commented on #1112
i see this issue when:
1. i’m training
2. colab times out or i stop execution or something
3. then restart training.

fixes when i reset environment.

this is not a lightning issue though... might just be tqdm or colab

[2020-03-16 21:12] wxc-kumar opened #1165 "No Callbacks for Validation Batch Step - How To Get Progress of Validation?"
## 🚀 Feature
The [Callbacks](https://pytorch-lightning.readthedocs.io/en/latest/callbacks.html#callback-base) has two functions `on_batch_start` and `on_batch_end`. The documentation and code execution shows that these are only called for training batches, not validaton (or test). I am building a Callback for my own logging/dashboarding via Streamlit and I have a requirement to track the progress

[2020-03-16 21:23] KeAWang opened #1166 "How to get test predictions (and other non-scalar metrics)?"
## ❓ Questions and Help

#### What is your question?
If I have a trained model and I want to test it using `Trainer.test()`, how do I get the actual predictions of the model on the test set?

I tried to log the predictions and writing a Callback to get the logs at test end, but it seems like I can only log scalar Tensors in the dictionary returned by my model's `test_end()`.

[2020-03-16 21:24] sneiman commented on #1161
Latest pull - 1 hour ago, no longer this behavior. Closing.

[2020-03-16 22:40] Borda commented on #1165
hello, as you stated you want to have a logger, not a callback, you can write a custom logger...
Moreover, it would be welcome to add Streamlit.io as Lightning loggers, what do you think?

[2020-03-16 22:47] Borda commented on #1153
you should return `{"val_loss": <float>}` in your `validation_epoch_end` but you pass `{'avg_val_loss': avg_loss}` or you need to change the monitoring variable to `avg_val_loss`

[2020-03-16 22:53] Borda commented on #1146
can you please also add output or illustration?
just feel a bit puzzled, the commit seems to be this repo, but I can't find it in master nor open PR
anyway I do agree that `pprint` gives better formatting also for `dict` it is ordered

[2020-03-16 22:54] Borda commented on #1140
@PyTorchLightning/core-contributors ^^

[2020-03-16 22:55] Borda commented on #1116
@jeremyjordan @jeffling any thought?

[2020-03-16 23:00] Borda commented on #1150
That is good point, I like it... @PyTorchLightning/core-contributors ^^

[2020-03-16 23:02] Borda commented on #1127
@jeffling @awaelchli pls ^^

[2020-03-16 23:08] Borda commented on #1166
Do need also to measure model performances? if not you can just get predictions, see
https://pytorch-lightning.readthedocs.io/en/latest/introduction_guide.html#predicting

[2020-03-16 23:22] awaelchli commented on #1127
I have never come across a situation where monitoring the validation loss this way is meaningful. What is your use case here? I am curious.
The reason why I say this is because the loggers are not really designed to do what you ask for (please correct me if I'm wrong). The loggers have a step that monotonically increases, it can mean training steps, epochs, or something else. But since the validat

[2020-03-16 23:29] williamFalcon commented on #1127
you can just call the logger yourself whenever... i assume it’s bc the val set is huge or something? either way we normally track the avg at the end of the val epoch. but if you need to do it intro epoch then
self.logger.do_whatever_tensorboard_does

[2020-03-16 23:33] wxc-kumar commented on #1165
Hi, @Borda, thanks for the reply. I looked over the documentation for Loggers and it will indeed be helpful for my future work. However, looking at [LightiningLoggerBase](https://pytorch-lightning.readthedocs.io/en/0.7.1/pytorch_lightning.loggers.base.html#pytorch_lightning.loggers.base.LightningLoggerBase), I don't see anything for capturing the epoch or batch progress for training (i.e. Epoch 1

[2020-03-17 00:22] sneiman commented on #1161
Sorry - this issue still exists in some configurations. My proposed fix is not the total picture. Still investigating - will provide reproducible example.

[2020-03-17 00:50] #1162 closed

[2020-03-17 01:16] jeremyjordan commented on #1116
should we only set `self.logger.finalize("success")` on the main process? (and after all other nodes are finished)

[2020-03-17 02:01] KeAWang commented on #1166
It would be nice to not have to call the model separately since then I would have to write my own testing loop on the test set which kinda defeats the purpose of Pytorch lightning

[2020-03-17 03:29] sneiman commented on #1161
Testing underway. Will make PR tomorrow.

[2020-03-17 03:49] nateraw opened #1168 "store_true for bools in the trainer's argparse parser"
## 🚀 Feature

Do we want to have `action='store_true'` for any args in the [default trainer argument parser](https://github.com/PyTorchLightning/pytorch-lightning/blob/c32e3f3ea57dd4439255b809ed5519608a585d73/pytorch_lightning/trainer/trainer.py#L451-L466)?

### Motivation

Currently, the bool parameters must be passed like:

[code]

It would be nice to just pass that as a flag:

[code]

However,

[2020-03-17 07:07] lezwon commented on #1112
@williamFalcon I have tried this on Sagemaker and Nextjournal. tqdm works fine if I run it myself. When using Lightning though it shows the HBox text. I have tried restarting kernel, upgrading tqdm etc. does not seems to work.

[2020-03-17 09:32] KentChun33333 opened #1170 "online hard-example mining/examining under Multi-GPU ='dp'"
**Background**

Hi, I try to track the prediction of each individual sample during training/validation-step. The main purpose is to do online hard-example mining/examining.

I found out a way of doing this is to make the input variable of the functions **training/validation_step**  carrying the sample-id information, for example, the file-name. So I made the input to be a dictionary.

**Example Co

[2020-03-17 10:39] lezwon commented on #1112
This seems to be a `tqdm` issue.
If I do `from tqdm import tqdm` it seems to work fine. Lightning, however, imports tqdm via `from tqdm.auto import tqdm` ([link](https://github.com/PyTorchLightning/pytorch-lightning/blob/e461ec0037f279937aa26d3b4e5e9308092c2f7b/pytorch_lightning/trainer/trainer.py#L15)) which in turn imports tqdm via notebook  `from .notebook import tqdm, trange` ([link](https://g

[2020-03-17 11:31] williamFalcon commented on #1139
don’t we already have support for this?

[2020-03-17 11:32] williamFalcon commented on #1139
https://pytorch-lightning.readthedocs.io/en/0.7.1/hyperparameters.html#trainer-args

[2020-03-17 12:22] alexeykarnachev commented on #1139
@williamFalcon this issue is about assigning types for the automatically added arguments. By default argparser assumes that they are strings. And these string typed args will be passed to the trainer constructor, and will break it. So, this issue is about types casting, but not about any new functionality

[2020-03-17 13:31] awaelchli commented on #1168
Just a quick thought.
We could have "virtual" arguments like "hide_progress_par" like so:
[code]
The two could then also be made mutually exclusive, see [here](https://docs.python.org/3/library/argparse.html#mutual-exclusion).
There would be no need to change the Trainer args as it only introduces new args in the parser.

[2020-03-17 13:53] awaelchli commented on #1166
@KeAWang
If I understand correctly, you want to log ALL predictions on your test set. This should be possible:

- Implement `test_dataloader`, `test_step` and `test_end`
- In `test_step` you can't return a log dict, that's normal. But you can call `self.logger.experiment.add_image` or whatever method you want to use to log your predictions (depends on the logger class).

Is this what you need?

[2020-03-17 14:00] KeAWang commented on #1166
Right but I want to be able to get the predictions as a local variable that I can continue to process in my jupyter notebook. I'm not sure how to extract it from a tensorboard logger. Would I have to write my own logger?

[2020-03-17 14:04] SkafteNicki commented on #1156
Only `ReduceLROnPlateau` schedulers are conditioned on some value. All other LR schedulers have nothing to do with `callback_metrics` or `progress_bar`. Hope this answers your question.

I don't see any obvious mistakes in your code. As a said in my earlier comment, my best guess is that your `ReduceLROnlr scheduler is called before `val_loss` is actually calculated. You probably need to check thi

[2020-03-17 14:09] awaelchli commented on #1166
That's not the same as logging, that was not clear in your original question.
You will have to collect your predictions in test_step in a variable like `self.predictions` which is a list or something. Then after you call `trainer.test()` you can access `model.predictions` in your notebook.
What do you think?

[2020-03-17 14:16] KeAWang commented on #1166
I was wondering if there was something else that fit within the framework. But that would work. Thank you!

[2020-03-17 14:16] #1166 closed

[2020-03-17 14:57] SkafteNicki opened #1171 "Check that model is configured correctly"
## 🚀 Feature
Check that model is correctly setup before training

### Motivation

As of right now, there is no checking that essential methods like `training_step`, `configure_optimizers` and `train_dataloader` are proper defined in the model.

For example if no `configure_optimizers` is defined the model will train, however nothing will happen. If no `training_step` is defined then this error occ

[2020-03-17 18:32] alexeykarnachev commented on #1156
I have the same issue. That's how I deal with it:

[code]

here I check `if self.trainer.global_step == 0` and if yes, I set up a placeholder.

@SkafteNicki maybe you can advice a better way

[2020-03-17 19:01] alexeykarnachev opened #1173 "Metrics are logged on each batch, but not on each accum. step"
## 🐛 Bug
I'm not sure, that this is a bug, but it's really unexpected behavior.
Metrics are logged on each batch, as we can see here:

https://github.com/PyTorchLightning/pytorch-lightning/blob/c32e3f3ea57dd4439255b809ed5519608a585d73/pytorch_lightning/trainer/training_loop.py#L435-L439

In case of using Tensorboard logger we will see the following picture:
![Screenshot from 2020-03-17 18-30-48](h

[2020-03-17 22:04] LucFrachon commented on #1156
@SkafteNicki Not sure I follow you. Maybe I misunderstood, but doesn't PL automatically handle calls to the scheduler? Doesn't it defeat (some of) the purpose of PL if I have to call it myself?

@alexeykarnachev Thanks, I'll try that, but maybe there is a less hacky way...?

[2020-03-17 23:15] sneiman commented on #1138
I like having one way - and it is part of the declared design philosophy. An iterable makes more sense to me - list or tuple - because it is more useful and more pythonic.

The issue of how this integrates with loggers for me raises an issue that is lurking as more functionality is incorporated. Starting to be trickier to know exactly how to do things 'as a wrapper on pytorch' v. understanding exa

[2020-03-17 23:18] sneiman commented on #1161
Dont want to clutter up PR world if no one is interested in this. Let me know ...

[2020-03-17 23:25] rpatrik96 opened #1175 "training_epoch needs to return a "loss" key in the dict"
## 📚 Documentation

Hi everyone!

In the docs detailing the usage of the logging functions `training_epoch_end`, if `"loss": loss` is not explicitly passed as a return value, then the code will fail.

The docs at https://pytorch-lightning.readthedocs.io/en/latest/experiment_reporting.html#log-metrics is not correct,
[code]
shall be changed to
[code]

*Use case:* I want to monitor the training metr

[2020-03-18 01:10] sneiman opened #1178 "DeprecatedWarnings when loaded"
Ubuntu 19.10, Python 3.7.5, pytorch 1.4.0, venv, installed with pip3

Builds based on clones of master after ~3/14 may issue DeprecationWarnings when loaded. This occurs if built within venv environment with `include-system-site-packages = true` or built outside venv. It does not occur if `include-system-site-packages = false`, or if using earlier repo clone.

This is a fresh ubuntu install, and t

[2020-03-18 03:37] nateraw commented on #1168
@awaelchli I like your solution a lot more than mine. However, again, from a high level I'm not sure if it makes the interface more confusing. Let's see if others have an opinion too. Cool stuff though, I totally forgot you could do that!

[2020-03-18 10:39] awaelchli commented on #1171
I think this is a great idea!

[2020-03-18 11:03] jamesjjcondon commented on #596
Just for anyone else, I couldn't get the above to work. pl versions are different. Seemed to get messy putting trainer into model. I'm now saving every epoch, while still validating n > 1 epochs using this custom callback. Doesn't require adjusting of callbacks.model_checkpoint.py. fairly hacky and redoes filenames, but works.

`class Non_val_epoch_saves(pl.Callback):
    """ custom callback allow

[2020-03-18 15:42] TevenLeScao opened #1181 "Additional dataloader created and discarded when training with reload_dataloaders_every_epoch"
## 🐛 Bug

I am training with reload_dataloaders_every_epoch and I've noticed it instantiates an extra DataLoader before training for which nothing is run. This is an issue for me as I am training with chunks that get loaded every epoch and it is messing with the order I load them in especially if I reload a checkpoint; it would be an issue for people that generate a new dataset every epoch as they

[2020-03-18 15:43] ibeltagy opened #1182 "Restarts ignores `val_check_interval`"
## 🐛 Bug

With `val_check_interval != 1`, checkpoints are saved in the middle of the epoch, but that location is not saved in the checkpoint, and after a restart, it always begins from the beginning of the last epoch.

To reproduce:

1. Run any training with `val_check_interval=0.2`
2. Kill training after, say, 40% of an epoch
3. Restart from the saved checkpoint
4. You will find that it is starti

[2020-03-18 15:59] S-aiueo32 commented on #807
Hi all!
The hydra support is ready after merging #1152!
I plan to send PR containing the following changes:

1. `LightningModule` explicitly accepts `DictConfig` as the `hparams`
2. `log_hyperparams` converts the hparams to built-in `dict` using `OmegaConfig.to_container(self.hparams, resolve=True)`

Please correct me if I'm wrong and suggest the other features to add!

[2020-03-18 16:31] awaelchli opened #1183 "CI: Force docs compilation warnings to be raised as errors"
## 📚 Documentation

We frequently have the issue that a part of the code is changed but the documentation gets broken. Since most doc breaking changes only raise warnings, they are often overlooked.

Let's fix all the warnings and force the build to raise future warnings as errors such that we see it in CI.

Possible way to raise errors suggested [here]( https://stackoverflow.com/questions/3804894

[2020-03-18 16:32] awaelchli commented on #1183
ping @Borda

[2020-03-18 17:35] christabella opened #1185 "No `loss` in `training_step()` return when logging image to TensorBoard."
## 🐛 Bug

RuntimeError: No `loss` value in the dictionary returned from `model.training_step()`.
This only happens when I try to log images, as [suggested in the docs](https://pytorch-lightning.readthedocs.io/en/0.7.1/experiment_reporting.html#log-metrics).

This is fine:

[code]

However, this is not:
[code]

But the weirdest thing is that when debugging this, `output` in `process_outputs()` ends

[2020-03-18 18:03] Dunrar opened #1186 "neptune.ai logger console error: X-coordinates must be strictly increasing"
## 🐛 Bug

When using the neptune.ai logger, epochs automatically get logged, even though I never explicitly told it to do so. Also, I get an error, yet everything seems to get logged correctly (apart from the epochs, which also get logged every training step and not every epoch):

`WARNING:neptune.internal.channels.channels_values_sender:Failed to send channel value: Received batch errors sending

[2020-03-18 18:17] elistevens opened #1188 "hparams need to allow None values"
## 🐛 Bug

I can't set `hparams.gpus` to `None`:

[code]

### To Reproduce

To reproduce, have `parser.add_argument('--gpus', default=None, type=str)` and then don't give the `--gpus` CLI argument.

### Expected behavior

Screen out None values before sending them on.

 - PyTorch Version (e.g., 1.0): 1.4.0
 - OS (e.g., Linux): Ubuntun 14.04
 - How you installed PyTorch (`conda`, `pip`, source): pip

[2020-03-18 20:23] cmpute opened #1189 "Confusing setting of validation frequency"
## 🚀 Feature

Currently the validation frequency is set by `check_val_every_n_epoch` and `val_check_interval` of Trainer. The former one and latter one have an overlap in terms of frequency control actually. I propose use `check_val_every_n_epoch` and `check_val_every_n_batches` as the parameter:

`check_val_every_n_epoch=10` is equivalent to `check_val_every_n_epoch=10` previously
`check_val_ever

[2020-03-18 20:39] cmpute commented on #646
This behavior seems to be absent in the documentation?

[2020-03-18 21:21] Borda commented on #1188
this is set by the tensorboard, not lightning...
Why would you need to set `gpus` to NOne when NOne is the default value?

[2020-03-18 21:25] Borda commented on #1186
@jakubczakon pls ^^

[2020-03-18 21:25] cmpute opened #1190 "Call load_from_checkpoint when trainer load state"
## 🚀 Feature
When use `Trainer` class to load the model state instead of using `load_from_checkpoint`, the hook `on_load_checkpoint` won't be called. It's better to let trainer call `load_from_checkpoint` instead of directly call `model.load_state_dict`, thus `on_load_checkpoint` and other hooks can be called.

### Motivation

I need to do some sanity check of saved `hparams` and I found the suita

[2020-03-18 21:28] Borda commented on #1182
saving also `batch_idx` sounds reasonable for me...
any other suggestions @PyTorchLightning/core-contributors?

[2020-03-18 21:33] Borda commented on #1178
could you please give full error trace?
so far I see only `trains` error which is third-party lib...
maybe @bmartinn could help...

[2020-03-18 21:34] Borda commented on #1171
that is the `fast_dev_run` option, right?

[2020-03-18 21:39] Borda commented on #1168
it looks nice but it would need some args synthesis on how to make negation...
see #1147 and we can start with adding `action='store_true'` for all `bool` types
Any thoughts @PyTorchLightning/core-contributors?

[2020-03-18 21:43] Borda commented on #1175
thx, @rpatrik96 mind send a PR fix?

[2020-03-18 21:44] Borda commented on #1173
could you also pass the sample code you are using?

[2020-03-18 21:49] Borda commented on #1155
@jeffling @awaelchli mind check?

[2020-03-18 21:51] sneiman commented on #1178
That is the full  trace. Three warnings come up - 2 for graphql, 1 for trace. Both 3rd party libs. The reason I raised the question is that they did not start appearing until repo clones after ~march 14. I haven't changed the environment ...

[2020-03-18 21:54] Borda commented on #1161
that sounds a good contribution to me... mind send a PR?
Any suggestion @PyTorchLightning/core-contributors?
in a technical note when you refer some master state pls use coit hash as there can be multiple commits each day...

[2020-03-18 21:57] Borda commented on #1190
to me it makes sense call `on_load_checkpoint` inside `load_from_checkpoint` :]
@jeffling @hadim ano thoughts?

[2020-03-18 22:00] Borda commented on #646
@cmpute mind sending a PRs with docs?

[2020-03-18 22:02] rpatrik96 commented on #1175
@Borda: Not at all, but before that, another question: the docs refers to `*_epoch_end`, but it is just `*_end`, where * is an element of `{training, validation, test}`. Will this be the name in the new release or should I fix those as well?

[2020-03-18 22:04] Borda commented on #1135
@hadim @jeffling could you check pls?

[2020-03-18 22:05] sneiman commented on #1161
will do

[2020-03-18 22:05] Borda commented on #665
@isolet mind open a new issue?

[2020-03-18 22:09] Borda commented on #1178
that is about the time we have added Trains...

[2020-03-18 22:13] Borda commented on #1175
we have deprecated the simple `*_end` as you can see in changelog
https://github.com/PyTorchLightning/pytorch-lightning/blob/master/CHANGELOG.md#changed-1

[2020-03-18 22:29] bmartinn commented on #1178
@Borda , I can probably take care of the warning inside the Trains package, but as you mentioned those are 3rd party libraries...

[2020-03-18 22:39] bkkaggle commented on #1116
Hi, i've updated the colab notebook with @borisdayma 's override of `WandbLogger`'s `finalize()` method and updated the `LightningModule` to use take command line args as `hparams`so it now runs without errors.

WandbLogger already has the `@rank_zero_only` decorator applied to its `finalize` method, so shouldn't it already only be called on the main process?

[code]

[2020-03-18 22:45] sneiman commented on #1178
If its not due to new ptl code making an error or using the wrong version of something, it seems like this is at most a release note - easy for users to mask with a filter. Shall we close?

[2020-03-18 22:46] alexeykarnachev commented on #1173
Here is my function for Trainer construction:

[code]

And here is the Module (some lines are omitted)

[code]

[2020-03-18 23:04] Borda commented on #1178
@bmartinn kind of extreme case would be using some warning ignore?

[2020-03-18 23:06] Borda commented on #1116
@bkkaggle mind sending a PR?

[2020-03-18 23:08] alexeykarnachev commented on #1173
Let me show more extreme case.
Here I set `--accumulate_grad_batches=50`
and wait 100 steps:
![Screenshot from 2020-03-19 01-57-10](https://user-images.githubusercontent.com/7495098/77015166-13aea180-6985-11ea-8b0c-b85a50ab5e0a.png)

And this I can see on tensorboard:
![Screenshot from 2020-03-19 01-54-15](https://user-images.githubusercontent.com/7495098/77015200-32149d00-6985-11ea-8608-82aabf9e8

[2020-03-18 23:08] bmartinn commented on #1178
@Borda Doable, but this is a Trains/GraphQL repository issue, don't you think?

[2020-03-19 00:15] sneiman commented on #1178
fwiw - i think ptl should let the warnings stand if they are not due to some 'mis-behavior' in ptl.  they are easily screened by a warning filter in user code and if trains doesn't fix them before they become fatal at least user will know.

Sent from mobile device - sorry for typos and brevity.

This entire message is confidential. If it isn't intended for you, you may not use it - so please throw

[2020-03-19 00:42] williamFalcon commented on #1136
@mpariente was thinking about this. maybe it has to do with distributedSampler if you're using that? since we now inject that automatically, it may be that your effective batch size is differnt now and thus if you use the same learning rate, you won't get the best results?

It might be that you have to readjust your learning rate. (from this graph, i would make it slower).

[2020-03-19 01:21] bkkaggle commented on #1116
Sure

[2020-03-19 02:37] #1134 closed

[2020-03-19 02:37] #654 closed

[2020-03-19 07:27] christabella commented on #1185
I think it’s because i was running `Trainer(distributed_backend=‘dp’)` on single-node single-GPU, removed that and it seems fine!

[2020-03-19 07:27] #1185 closed

[2020-03-19 07:31] jakubczakon commented on #1186
Hi @Dunrar  I am on it.

[2020-03-19 07:52] mpariente commented on #1136
Hmm, we use `dp` only, not `ddp`, would this still apply?
Thanks for taking a look again

[2020-03-19 08:23] jakubczakon commented on #1186
@Dunrar I couldn't reproduce your error.

I ran a simple mnist example with a similar lightning module you showed.

First without early stopping:
https://ui.neptune.ai/o/shared/org/pytorch-lightning-integration/e/PYTOR-71/charts

Then with early stopping:
https://ui.neptune.ai/o/shared/org/pytorch-lightning-integration/e/PYTOR-72/charts

Both seem fine to me.
Also, there are no errors in either ca

[2020-03-19 09:06] Dunrar commented on #1186
Thank you @jakubczakon ! The automatically logging the epochs problem also happens when using TensorBoard and when running your code, too. So it might be a Lightning and not a Neptune thing. I'm using Lightning 0.6.0 btw. The metricId is always the same in the error messages, and if I log nothing explicitly epochs still get logged for every time-step with the same error message from neptune, so it

[2020-03-19 09:11] jakubczakon commented on #1186
Hmm,
the code quite explicitly says:

[code]
to log things on epoch end and that is why I don't quite understand what we want to achieve here.

Looking at the example experiments I liked to, what would you like to not see there?
As there are no errors there it is hard for me to understand what am I fixing.

[2020-03-19 09:18] Dunrar commented on #1186
I additionally log self.current_epoch at every timestep, even when running your example:
![2020-03-19 10_14_48-BAC-36 default](https://user-images.githubusercontent.com/23218622/77050764-842be180-69ca-11ea-8c15-56783a26aa46.png)

The error message is still the same:
![2020-03-19 10_17_16-neptune ai logger console error_ X-coordinates must be strictly increasing · Iss](https://user-images.githubuse

[2020-03-19 09:22] jakubczakon commented on #1186
Mhm, so maybe it's simply a lightning thing.
I am running it on:
[code]

[2020-03-19 09:25] jakubczakon commented on #1186
It works just fine on

[code]

https://ui.neptune.ai/o/shared/org/pytorch-lightning-integration/e/PYTOR-74/logs

By the way, this project is public and you can log to it via "ANONYMOUS" token anonymously.
It could make things easier to communicate I think.

[2020-03-19 09:38] Dunrar commented on #1186
Alright, I upgraded Lightning to 0.7.1, and logged to the project anonymously. It no longer logs the epoch per timestep, but the error message persists.

[2020-03-19 09:42] jakubczakon commented on #1186
I don't see any error message here:
https://ui.neptune.ai/o/shared/org/pytorch-lightning-integration/e/PYTOR-75/logs

should I add self.current_epoch channel to the training loop or something?

[2020-03-19 09:50] Dunrar commented on #1186
Yea, no error message in neptune, but my console shows it anyway. I tried logging nothing but `self.logger.experiment.log_metric('epoch/mean_absolute_loss', y=train_loss_mean, x=self.current_epoch)`, where I state x and y explicitly, but still no luck. Thank you for your quick response btw!

[2020-03-19 09:59] jakubczakon commented on #1186
Is that on epoch end?

[2020-03-19 10:01] christabella commented on #665
@isolet I have the same issue

[2020-03-19 10:10] Dunrar commented on #1186
Yes. I logged my own project to the public project now, too, if you want to have a look at the code.

[2020-03-19 10:38] jakubczakon commented on #1186
Trying to reproduce on my data loader and cannot for some reason get `EarlyStopping` to stop it -> I think this could be the problem.

By the way why are you saving loss as text here?

[code]

[2020-03-19 10:41] jakubczakon commented on #1186
Also, could you try do the following:

When definiting the logger go:

[code]

and then simply at the very end of your training (after `trainer.fit()` in your case) do

[code]

This is something that fixes `trainer.test(test)` and lets you log additional info after training as [explained in the docs here](https://docs.neptune.ai/integrations/pytorch_lightning.html).

[2020-03-19 10:54] Dunrar commented on #1186
I wrote that before I knew that you could see logged metrics in textform, before my first run. I average over ten runs per network-configuration and create a graph. I thought it would be nice to check for myself if everything works without having too find the value in the graph :D I will delete that now.

I get `TypeError: create_experiment() got an unexpected keyword argument 'close_after_fit'`

[2020-03-19 10:56] jakubczakon commented on #1186
`close_after_fi` goes into `NeptuneLogger` from pytorch lightning.

[2020-03-19 11:00] jakubczakon commented on #1186
Can you check if you are getting the same error without `EarlyStopping`?
Would make things easier to debug.

[2020-03-19 11:01] Dunrar commented on #1186
![2020-03-19 11_59_29-Bachelorarbeit  C__Users_Thore_PycharmProjects_Bachelorarbeit  - C__Users_Thore_](https://user-images.githubusercontent.com/23218622/77060626-28b52000-69d9-11ea-8aa7-1102186dd55d.png)
Weirdly my NeptuneLogger does not have that parameter, even though I have 0.7.1. I see it in the GitHub repository, but not in my local version.

[2020-03-19 11:04] Dunrar commented on #1186
I tried no EarlyStopping for my code and it made no difference. Also in my code: `Initialize a neptune.ml logger.`, which is probably not right...

[2020-03-19 11:05] jakubczakon commented on #1186
Perhaps that is not in 0.7.1.
You can install bleeding edge 0.7.2dev via:

[code]

[2020-03-19 11:14] Dunrar commented on #1186
Installed bleeding edge, now I seem to have the current neptune logger version. I tried with and without early stopping again, still the same problem

[2020-03-19 11:16] Dunrar commented on #1186
Okay, when I run the code via the PyCharm python console I get no error, only when using the anaconda prompt...

[2020-03-19 11:23] jakubczakon commented on #1186
Hmm, I am running from the terminal and it is working fine.
What is your environment/setup exactly?

[2020-03-19 11:38] Dunrar commented on #1186
A conda environment with all the packages I need, some of them installed via conda and some via pip. Pytcharm with the conda environments python as the interpreter. You can see the error messages from my anaconda prompt under monitoring -> stderr. PYTOR-94 is my run with the pycharm python console, no stderr or stdout

[2020-03-19 11:54] jakubczakon commented on #1186
Mhm I see it now.
Which `neptune-client` version is it?

[2020-03-19 12:05] Dunrar commented on #1186
I just updated it, so 0.4.107. It seems the logger can only log my console output when psutil is installed in the environment, right? And write to the console, too. As my pycharm environment does not have psutil installed I get no error. You do not seem to have it installed either, so maybe you'll get the error, too, when you install psutil?

[2020-03-19 12:23] jakubczakon commented on #1186
This one does have psutil:
https://ui.neptune.ai/o/shared/org/pytorch-lightning-integration/e/PYTOR-98/charts

[2020-03-19 12:25] jakubczakon commented on #1186
Ok, but overall at this point:

- experiment runs start to finish
- loss values are logged
- on some envs there is a warning printed to the console

Correct @Dunrar ?

[2020-03-19 12:33] Dunrar commented on #1186
Hmm, okay, so no errors. Well I have no idea what causes neptune to throw an error when logging from my system vs logging the same code from yours. Something has to be different in my environment, right?

[2020-03-19 12:35] jakubczakon commented on #1186
I'd suppose so.

[2020-03-19 12:36] Dunrar commented on #1186
Yes, that is right. When I run the code from my anaconda prompt with my conda environment active, I get the error. When I run the same code via pycharm I get no error. But I don't know how the pycharm console works, as I have the anaconda python version as the interpreter of my pycharm project. So shouldn't it use the same environment as ist also recognizes all the installed packages etc.?

[2020-03-19 12:40] jakubczakon commented on #1186
Logged my env in this experiment:
https://ui.neptune.ai/o/shared/org/pytorch-lightning-integration/e/PYTOR-100/source-code?path=.&file=local_env.txt

[2020-03-19 12:41] jakubczakon commented on #1186
Well, you can choose which pycharm interpreter you are using.
Those could be different from the conda in the pycharm terminal.

[2020-03-19 12:46] jakubczakon commented on #1186
Updated local_env link with full conda dump.

[2020-03-19 12:49] Dunrar commented on #1186
Okay, I'll compare, make a few updates/downgrades and report back

[2020-03-19 13:15] #1144 closed

[2020-03-19 13:22] #1157 closed

[2020-03-19 13:23] #1092 closed

[2020-03-19 13:23] #1112 closed

[2020-03-19 13:24] #1008 closed

[2020-03-19 14:28] SkafteNicki commented on #1171
I think what I propose and what `fast_dev_run` is trying to achieve is a bit different. `fast_dev_run` can be used to check that the user has no bug in `training_step` and `validation_step`. This feature is a even more basic check: are `training_step`, `validation_step`, `configure_optimizers` ect defined at all.

For example, right now if I run the [cpu template](https://github.com/PyTorchLightni

[2020-03-19 14:36] williamFalcon commented on #1171
configure optimizers is optional. if you don’t define it we use adam lr = 0.001

[2020-03-19 14:55] SkafteNicki commented on #1171
I was not aware that `configure_optimizers` was optional. It may be a good fallback.

That method aside, not defining `training_step` (I know it is the most essential method, so it should be hard to forget) still give the `AttributeError: 'NoneType' object has no attribute 'items'` error which is very non-informative. And the check for `..._step()` methods when their respective `..._dataloader()`

[2020-03-19 14:57] williamFalcon commented on #1171
yeah, those errors should be nicer.  would love a PR! @Borda fyi

[2020-03-19 15:05] SkafteNicki commented on #1156
@LucFrachon sorry, I must have misinterpret what you asked about. Yes, PL automatically calls the scheduler you define. Sorry for the confusion.

@alexeykarnachev I think that indicates that there is some bug here, since you need to setup a placeholder for the first step. I will see if I can come up with a more permanent solution.

[2020-03-19 15:26] Dunrar commented on #1186
Okay, little update, I tried to recreate your environment 1:1 via the yml file which did not prove successful. Now I created a completely fresh conda environment and ran the code:

1. `conda create --name pytorch2`
2. `conda activate pytorch2`
3. `conda install pytorch torchvision cudatoolkit=10.1 -c pytorch`
4. `pip install pytorch-lightning`
5. `pip install neptune-client`
6. `conda install -c c

[2020-03-19 15:32] Borda commented on #1171
Yeah I like... :robot:

[2020-03-19 19:30] pertschuk commented on #1096
I couldn't find a good way to do with with tqdm, best temporary fix is to set smoothing=0 so it just takes an average of all steps rather than trying to exponentially weight most recent steps.

[2020-03-19 19:33] Borda commented on #486
take inspiration from
https://github.com/facebookresearch/pytorch3d/blob/master/.circleci/config.yml

[2020-03-19 20:06] neggert opened #1195 "Refactor fit/train/run_pretrain_routine/evaluate/test"
Right now, a lot of model setup happens in `fit` and `run_pretrain` routine. However, that model setup needs to happen before we run `evaluate`, `test`, etc, so we end up calling `fit` even when we want to do testing. This makes the code hard to follow.

We should refactor model setup out into its own method that `fit`, `train`, `test`, etc. all call to make things a little more clear. I need to d

[2020-03-20 03:35] dreamgonfly commented on #1136
Seen the same performance drop moving from 0.6.0 to 0.7.1 on my application. This is the biggest obstacle preventing me from upgrading to newer version.

We use `dp` only.

[2020-03-20 04:00] awaelchli commented on #794
According to @hadim it is not possible to release as conda package:
https://github.com/PyTorchLightning/pytorch-lightning/issues/199#issuecomment-588269459

[2020-03-20 08:55] jakubczakon commented on #1186
Hi @Dunrar I was talking to the team and the problem is likely resulting from you running it on Windows.

I am running it on Linux hence the difference. Our dev team is looking into it.

[2020-03-20 09:59] Dunrar commented on #1186
Thank you, @jakubczakon!

[2020-03-20 11:19] jakubczakon commented on #1186
Ok @Dunrar , it seems that it really is Windows related.

As we want to let people log everything (no sampling or averaging as some other solutions do) there is a limit into how often you can send things.

It turns out that `datetime` on linux is in mircosenconds and on windows in miliseconds.
What it means that if I send 2 values in under milisecond it is passed to our backend as something that h

[2020-03-20 12:00] Dunrar commented on #1186
Okay, yes, that is correct. And my terminal get's cluttered with errors, but it is definitely not critical and logging works otherwise. Thank you for your help!

[2020-03-20 12:04] jakubczakon commented on #1186
Sorry for the trouble @Dunrar :)
We will work on a better Windows experience.

I will post updates about this here once I have them.

[2020-03-20 12:15] kwanUm opened #1197 "ModelCheckpoint class attempts to save a model file on every batch run - when only training_step configured in Trainer class"
## 🐛 Bug

ModelCheckpoint class attempts to save a model file on every batch run.

### Additional context

I've created a simple trainer with a checkpoint, passing save_best_k=-1. My trainer only has a training step configured.

The model checkpoint class is being called at the end of each batch run here - https://github.com/PyTorchLightning/pytorch-lightning/blob/732eaee4d735dafd1c90728e5583341d7

[2020-03-20 12:58] awaelchli opened #1198 "Add tutorial how to convert to PL (+ colab notebooks)"
## 📚 Documentation

To keep track of a suggestion made by @Borda:
- Add a tutorial to docs that shows how to convert regular PyTorch to PyTorch Lightning
- Colab notebooks could be directly included into the docs

[2020-03-20 19:49] #1183 closed

[2020-03-20 22:35] Dunrar opened #1201 "Early stopping not working on 0.7.1"
## 🐛 Bug

Early stopping does not work anymore. When I downgrade from 0.7.1 or the current dev version to 0.6.0 early stopping works again, with the same code.

#### Code sample

[code]
[code]

### Expected behavior

Early-stopping to take effect again.

[2020-03-20 22:44] Borda commented on #1201
@Dunrar would you check it on actual master?

[2020-03-20 22:46] Borda commented on #1189
@cmpute do you have a specific suggestion? :]

[2020-03-20 22:49] Borda commented on #1170
@neggert @jeffling @jeremyjordan pls ^^

[2020-03-20 23:19] jeffling commented on #1190
This is a good change, but we may want to think about the versioning here since it may break some codebases.

[2020-03-21 01:56] jeremyjordan commented on #1170
have you considered using a library such as [`pytorch-metric-learning`](https://kevinmusgrave.github.io/pytorch-metric-learning/)?

in general, it would look something like

[code]

this does mining within each batch that you pass in. i'm not sure where you're doing the mining currently but it seems suspicious to be appending data to a class attribute (`self.validation_result`). this will likely b

[2020-03-21 03:15] cmpute commented on #1189
Yeah just as I said, change the option `val_check_interval` to `check_val_every_n_batches` and change their meanings to correspondant one

[2020-03-21 04:01] awaelchli commented on #1155
Yes there is a bug here, but I had to fix @qmeeus's code sample to make it visible.
The sanity validation checks run, but the validation at the end of the epoch doesn't.
Here is the fixed minimal code sample:
[code]
For the record, @qmeeus your code had these issues:
- No val_dataloader defined
- Wrong shapes returned in dataloader
- Wrong shape for nll_loss labels

[2020-03-21 04:14] awaelchli commented on #1155
Actually `overfit_pct `argument is not documented in the Trainer class. We should fix that and say that setting `overfit_pct `is the same as setting `train_percent_check`, `val_percent_check `and `test_percent_check`.

[2020-03-21 06:26] awaelchli commented on #1155
**False alarm!** Turns out it is simply because you chose a too small value for `overfit_pct`.
Your dataset has size 1000, and dataloader has batch_size 64.
1000 / 64 ~= 15 batches
When you choose overfit_pct = .01, then that gives 15 * 0.01 < 1 batch.

@qmeeus Please let me know if it isn't clear. I think the behaviour of `overfit_pct `is correct.

[2020-03-21 06:30] awaelchli commented on #1155
@williamFalcon Should we make it so that `overfit_pct `does not round to 0 batches?

[2020-03-21 10:42] qmeeus commented on #1155
Awesome, thanks !

[2020-03-21 13:22] Dunrar commented on #1201
@Borda do you mean the bleeding edge version via `pip install git+git://github.com/PyTorchLightning/pytorch-lightning.git`?

[2020-03-21 13:51] awaelchli commented on #1175
`training_epoch_end` does not exist yet, right (#1076)? When you say the code fails, you probably used the old `training_end` which was on batches.

I don't see why the loss key should be mandatory in `training_epoch_end`. As far as I know, `validation_epoch_end` also does not require a loss key in return dict.

[2020-03-21 14:44] Dunrar commented on #1201
Okay, I tried that but early stopping still does not work

[2020-03-21 15:16] awaelchli commented on #1201
The code sample you provide does not define a validation step/end/dataloader.
I would expect that it does not work, how could it?

[2020-03-21 15:19] williamFalcon commented on #1201
if no val step is present, it uses the training step for early stopping

[2020-03-21 15:20] awaelchli commented on #1201
oh, my bad! Then I will have a closer look at this issue.

[2020-03-21 15:41] jeremyjordan commented on #1099
probably want to consider building upon the Trainer state defined in #770

fyi @xingzhaolee - what do you think? (we don't need to include it in #770 just thinking about building off of that)

[2020-03-21 16:44] rpatrik96 commented on #1175
Oh, you are right, I was using the old version; interestingly, I got no warning even on a server using the newest lightning version. Is it any way to enable explicit warnings about to be deprecated features. I like to maintain my code to be possibly up to date - although, it does not happen all the time, as in this case. Anyway, I am closing this issue.

[2020-03-21 16:44] #1175 closed

[2020-03-21 17:38] maxime-louis opened #1205 "Logging the learning rate"
Hey,

I think it would a cool feature to add a flag enabling the logging of the learning rate(s).

Thanks for your amazing work !

[2020-03-21 19:59] awaelchli commented on #1205
I think that's a great idea. Maybe it doesn't have to be a flag, it could be done by default like the other metrics that are already plotted automatically.

Some things to consider:
- How would it work for optimizers like Adam?
- Optimizers may have different learning rates for different param groups

[2020-03-21 22:01] cmpute opened #1206 "Allow custom scatter function in data parallel"
## 🚀 Feature
Allow custom scatter function to be passed in data parallel module.

### Motivation

Is there a way to customize scattering process in data parallel? My use case is that I have sparse tensors represented in COO format and they cannot be stored in a single tensor, but require a list to store. In this way, the built-in scatter cannot split the list properly, it tries to iterate over the

[2020-03-22 00:09] joeddav commented on #1168
Not a core contributor, but my two cents would be to only create argparse arguments for the _opposite_ of the default for boolean values. In order to have a consistent naming scheme, I'd probably go for something simple like just adding `no_` in front of the argument name for arguments which are by default true:

[code]

This might be a touch confusing to a user at first, but the nice thing is the

[2020-03-22 01:11] polars05 opened #1207 "How to save checkpoints within lightning_logs?"
I'm currently doing checkpointing as follows:
[code]
This creates the following folder structure:
[code]
How can I get the .pth files for each version to be saved in the respective version folders like so?:
[code]

[2020-03-22 02:21] jeremyjordan opened #1209 "update docs to recommend __call__ for forward passes"
## 📚 Documentation

We should update the docs to recommend usage of `self(x)` for calculating the forward pass rather than `self.forward(x)`. Calling `forward()` directly can cause issues when you're using PyTorch model hooks (eg. see the additional logic in [`nn.Module.__call__`](https://github.com/pytorch/pytorch/blob/master/torch/nn/modules/module.py#L540)).

Although most people don't play aro

[2020-03-22 03:34] xingzhaolee commented on #1099
@jeremyjordan sounds like a good idea! also I was thinking that since we have TrainerStatus, can it be the main class while TrainerMode servers as a nested enum instead of putting them all under a single enum? something like:
[code]

then user can access the current status and mode through:
[code]

[2020-03-22 08:47] Borda commented on #1168
@joeddav sounds reasonable to me... mind sending a PR after #1147 is merged?

[2020-03-22 09:22] lext opened #1210 "Add multiple dataloaders documentation to "common use cases""
## 🚀 Feature

Currently, only one train/val loader is supported by pytorch lightning. I would like to help with this and I could implement this feature.

### Motivation
Many methods for semi-supervised learning need several dataloaders. E.g. you want to sample one batch of labeled data and 2 batches of unlabeled data.

### Pitch
I think that the following API modification of the will be ok:

1. `p

[2020-03-22 09:29] lext commented on #1210
I will also note that with my team we have previously tried such design and seems to be very convenient: https://github.com/MIPT-Oulu/Collagen/blob/master/collagen/data/_dataprovider.py

[2020-03-22 09:45] alexeykarnachev commented on #1173
@Borda any thoughts on this? I can do a PR, so you can look closer on this.

[2020-03-22 10:06] maxime-louis commented on #1205
For Adam it's a pickle. Maybe rather log the scheduler information i.e. its scaling of the initial learning rate. It would solve the group problems as well I guess.

[2020-03-22 12:43] alexeykarnachev commented on #1156
@SkafteNicki , btw, the trick:
[code]
doesn't help in case of warm start from checkpoint, because in warm start, the `global_step` is newer equal to 0 :)

[2020-03-22 14:35] Borda commented on #1173
@jeffling @jeremyjordan any thought? ^^

[2020-03-22 14:59] Borda commented on #1210
We already had a similar discussion here #1089

[2020-03-22 15:02] lext commented on #1210
@Borda thanks for pointing out!

[2020-03-22 20:17] marrrcin commented on #1038
I think that this issue should not be closed yet. From what I can see in the PR for #941 it started to support granular LR stepping, but it does not cover usage for something like the `get_linear_schedule_with_warmup` mentioned in the first post of this issue as creating such schedule requires access to number of epochs (or total number of steps). Am I missing something?

[2020-03-22 21:06] jeremyjordan commented on #1099
sure! that would be flexible enough to address @lezwon 's earlier comment. i had started a branch to work on TrainerStatus, once #770 is merged i can pick up that work with your new suggestion here :)

[2020-03-22 21:28] Borda commented on #1099
if I understand it correctly the `.auto` means that it can be every run different `enum` value, right? Even it seems to be starting from 1 and incrementally increase...
if so I would recommend using some exact numbers in case of exporting/importing :]

[2020-03-22 22:34] awaelchli commented on #1209
Very good idea! Then the examples should also be updated I guess?

[2020-03-22 22:42] jeremyjordan commented on #1209
yes! we should update:

- [ ] docs pages
- [ ] lightning examples
- [ ] colab notebooks

i'm happy to tackle the first two, i think @williamFalcon  is planning to do the third. will link to a WIP PR soon.

[2020-03-22 23:30] S-aiueo32 opened #1212 "Add support for loading flattened meta_tags.csv"
## 🚀 Feature

### Motivation
PL+TensorBoard can log hierarchical dict after #1152, however, `meta_tags.csv` has been disabled by the change.

### Pitch
- Make `meta_tags.csv` back to a hierarchical dict based on their delimiter.

### Alternatives
62de7948634b1cd8c7e494f4cd9a02625cd3f602

### Additional context
1. We can consider the deprecation of `meta_tags.csv`, then adopt `config.yaml`.
1. We c

[2020-03-23 00:06] jeremyjordan commented on #1173
at a quick glance i would think you'd want to use [`training_step_end`](https://pytorch-lightning.readthedocs.io/en/0.7.1/lightning-module.html#training-step-end-method) to do the aggregation. does that resolve your issue? i'm not sure if it would apply when accumulating gradients over many timesteps, though.

[2020-03-23 00:42] kyoungrok0517 commented on #538
Same here. Firstly I couldn't understand what's the reason. It'll be very appreciated if someone can explain the meaning of the error?

[2020-03-23 01:13] xingzhaolee commented on #1099
not too sure about that, but probably the order matters too when new status or mode is added. so I guess we should use exact numbers like you suggested in case any import or export is involved! 🙂

[2020-03-23 07:52] williamFalcon commented on #763
@xingzhaolee I now realize ```run_evaluation()``` is a private method... it's not intended to be used directly by the user.
@Borda

[2020-03-23 08:10] KentChun33333 commented on #1170
Thanks for reply!

My original purpose is to pick-out and record the hard-samples during the training/validation after every epoch. Therefore I append the result into the lightning-model-instance. Thanks for pointing out that it would be a failure design on ddp model.

I didn't know pytorch-metric-learning before. It seems to be one of right libraries that I should look at. Really appreciate!

[2020-03-23 08:10] #1170 closed

[2020-03-23 09:41] Borda commented on #763
well, then it shall be at least `_run_evaluation()` :]

[2020-03-23 10:09] xingzhaolee commented on #763
misunderstanding was caused by imagenet example using `run_evaluation()`

[2020-03-23 10:09] #763 closed

[2020-03-23 11:10] Ir1d commented on #1025
+1 here, in testing it can only work with one gpu. I tried wrapping with DataParallel and LightningDataParallel but I get things like this:

`AttributeError: 'DataParallel' object has no attribute 'configure_optimizers'`

Any ideas @williamFalcon

[2020-03-23 11:12] williamFalcon commented on #1025
.test() uses whatever you set up (dp, ddp, etc).  no need to do anything yourself

[2020-03-23 11:26] Ir1d opened #1213 "Testing in dp mode uses only one of the GPUs"
## 🐛 Bug

### To Reproduce

Steps to reproduce the behavior:

Run a test without training

![image](https://user-images.githubusercontent.com/10709657/77311956-1706ac00-6d3c-11ea-89fe-3cf2156babe2.png)

#### Code sample

Modified from the conference-seed repo

[code]

### Expected behavior

### Environment

 - pl version: 0.6.0
 - PyTorch Version (e.g., 1.0): 1.2
 - OS (e.g., Linux): Ubuntu
 - How

[2020-03-23 11:29] Ir1d commented on #1025
Something is going wrong in my case, I've opened a new issue to track what's going on

[2020-03-23 11:29] williamFalcon commented on #1213
ummm yeah, that's a bug. it should run via dp. @Ir1d want to submit a PR?
@PyTorchLightning/core-contributors any one else experience this?

[2020-03-23 11:31] williamFalcon commented on #1212
can you elaborate on what the .yaml would look like? i kind of like the idea.
@luiscape

[2020-03-23 11:31] Ir1d commented on #1213
@williamFalcon I tried wrapping the model in `LightningDataParallel` like the training loop did, but it tells me that LightningDataParallel object doen't have a `test_step`. How do I debug this?

[2020-03-23 11:32] williamFalcon commented on #1210
@Borda can you make add a "multiple dataloaders" section to the docs under the "common use cases" ?

[2020-03-23 11:33] williamFalcon commented on #1209
@jeremyjordan i'll do colabs!

[2020-03-23 11:40] williamFalcon commented on #1213
you wouldn’t wrap it yourself ever haha.
the trainer does the wrapping for you.

the trainer needs to be modified to run the test on the correct method when done this way

[2020-03-23 11:46] Ir1d commented on #1213
I was trying to wrap it in `evaluate` in `pytorch_lightning/trainer/evaluation_loop.py` . Do you have any idea where to wrap this func?

[2020-03-23 11:48] Ir1d commented on #1213
Anyway, we've find one possible workround here:
After defining a torch model, and before sending it into PL model, wrap it with nn.dataparallel.

[2020-03-23 12:09] williamFalcon commented on #1213
evaluate is private... you're not meant to call it directly.

call .test()

[2020-03-23 12:15] williamFalcon commented on #1213
lightning does the wrapping by itself...

the fact that this doesn't work, is a bug.

[code]

The bug needs to be addressed correctly.

It's weird because we have tests for this... double check that this is really not working for you.

[2020-03-23 12:38] Borda commented on #1213
so let's rename it starting with _ to be clear that it is private from it name

[2020-03-23 12:41] Ir1d commented on #1213
I was calling .test and its not working

[2020-03-23 13:01] level14taken opened #1214 "can't get mnist tpu colab notebook to work with tpu"
I ended up with following error when trying to run [mnist_colab](https://colab.research.google.com/drive/1-_LKx4HwAxl5M6xPJmqAAu444LTDQoa3) with tpu,
[code]
I've restarted the session after lightning import
I've set the `num_tpu_cores=8`
any ideas on what should be done?

[2020-03-23 13:34] jpvcaetano opened #1215 "If ReduceLROnPlateau lr scheduler is passed inside a dict it won't work"
## 🐛 Bug

If a ReduceLROnPlateau lr scheduler is passed inside a dict the atribute scheduler['reduce_on_plateau'] will not be set to true.

### To Reproduce

Steps to reproduce the behavior:

ReduceLROnPlateau lr schedule inside a dictionary and try to train. The error will be something about that there is no metric in step().

#### Simple fix

In line 712 of trainer.py replace
`scheduler['reduce_

[2020-03-23 13:49] maxime-louis opened #1216 "Dataloader starving the gpu"
Hey,

Thank you for this amazing library !

I'm using pytorch_lightning to train a segmentation model on 3D images. Augmentation on these images is quite slow, mostly because I do full volume elastic transforms, which takes ~2s per image on a single cpu.

I'm running a large unet with precision 16 and amp_level 'O2', I'm using pytorch 1.4, pytorch_lightning 7.1.

I noticed that these augmentations

[2020-03-23 14:05] SkafteNicki commented on #1215
this is fixed on master:
https://github.com/PyTorchLightning/pytorch-lightning/blob/3be81cb54ebf2b5425cae09327e852bea0e7c492/pytorch_lightning/trainer/trainer.py#L723-L730

[2020-03-23 14:18] level14taken commented on #1214
@williamFalcon hey can you check this please

[2020-03-23 14:30] gunthergl opened #1217 "tensorboard hyperparameters don't update"
## 🐛 Bug

Given two sets of HPARAMS, `h_1` and `h_2` where `h_1` is a strict subset of `h_2`.

1. If you run pytorch lightning with parameters `h_1`, then `h_2`, the additional parameters from `h_2` are not shown in tensorboard
2. If you run pytorch lightning with parameters `h_2`, then `h_1`, the missing parameters from `h_1` are shown empty in tensorboard

Case 2 is fine, Case 1 is not.

I alrea

[2020-03-23 14:31] SkafteNicki commented on #1156
@alexeykarnachev I have a hard time reproducing this bug, it seems to be a very corner case. Do you have a simple model that I can reproduce?

[2020-03-23 15:35] djbyrne commented on #975
Is there anyway to use something like logging.info() instead of print?

[2020-03-23 19:04] tstumm commented on #1216
Please provide a **minimal working example**. You need to show at least how you instantiate the DataLoader, as well as how you process your images. This allows to pinpoint the exact issue.

In general, the DataLoader tries to prefetch several batches, such that in the ideal case when you finished processing a batch of data, a new batch of data is already available for transfer to the GPUs memory.

[2020-03-23 19:36] alexeykarnachev commented on #1156
@SkafteNicki
Yes, sure:
https://gist.github.com/alexeykarnachev/efbd40f0ff0cfcd1e324de044a802c25

[2020-03-23 23:44] Ir1d opened #1218 "ValueError: only one element tensors can be converted to Python scalars"
# 🐛 Bug

This happens in the training loop.
[code]

### To Reproduce

From my observation, I believe this happens when the batch size can't be divided by gpu num. For example on the last batch of each epoch, and when you have 4 gpus but set batch size to 2.

### Additional context
I think it would be nice to use only some of the gpus the user specified, while printing out a msg telling them that t

[2020-03-23 23:58] S-aiueo32 commented on #1212
@williamFalcon thank you for replying.

Roughly, I plan to make the following change for tags_csv replacement with yaml:
1. Replace [here](https://github.com/PyTorchLightning/pytorch-lightning/blob/3be81cb54ebf2b5425cae09327e852bea0e7c492/pytorch_lightning/loggers/tensorboard.py#L143) with `yaml.dump()`.
[code]
1. Create `load_hparams_from_yaml` like [here](https://github.com/PyTorchLightning/pyto

[2020-03-24 00:58] awaelchli commented on #1218
Do I understand correctly, this happens with every Lightning training where batch_size < num_gpus?
Then I would also like to see a warning message like you described and automatically set num_gpus to the batch size.
However, we still have the problem where batch_size > num_gpus for all batches except the last, when we specify drop_last=False in dataloader. What do we do then?

Would the same error

[2020-03-24 01:11] Ir1d commented on #1218
the last epoch seems a bit tricky.. I'm not expert on this, but I wonder if its possible to send the data to part of the specified gpus (for example 4 gpus in all, but send 3 batches to first 3 gpu). I remember there's some send_batch_to_gpu function in pl

[2020-03-24 06:51] philip30 commented on #851
@williamFalcon It seems that the autoresubmit feature does not work for me. I tried to follow the sbatch script from the documentation. I submit the job using sbatch. How to make this feature work?

[2020-03-24 08:20] chris-clem opened #1220 "WandbLogger does not log test results"
## 🐛 Bug

The WandbLogger does not log test results when testing happens right after training.

### To Reproduce

When running the MNIST example with the WandbLogger like in the following snippet, the test results do not get logged to wandb because it syncs before testing starts:

#### Code sample
[code]

### Expected behavior

WandbLogger should also log the test results by default like TensorBoa

[2020-03-24 08:37] dumitrescustefan opened #1221 "Colab weird behaviour and error when passing values from collate_fn to validation_step"
The same code that runs perfectly on my local machine (MacOS with Python3.7 and tested on an Ubuntu docker 18.04 with Python3.6.9) fails to run on colab.

It performs weirdly, calling the Dataset init() multiple times. However, it fails when the collate function that (correctly) returns (printed out the results) the following:
[code]
get passed in the sanity check right at start in the ``validatio

[2020-03-24 11:56] thegyro commented on #1076
Is `training_epoch_end ` available on the latest release (0.7.2-dev)? The docs seem to suggest so. But I am not able to get it to work (tried logging by returning a 'log' dict).

[2020-03-24 12:30] npit commented on #483
Up-to-date link:
https://pytorch-lightning.readthedocs.io/en/latest/pytorch_lightning.trainer.training_loop.html#force-training-for-min-or-max-epochs

[2020-03-24 12:49] #621 closed

[2020-03-24 12:54] oplatek opened #1222 "Save checkpoing under the lightning_logs/version_X/ directory"
## 🐛 Bug

After running training the output file structure looks like

[code]

but the expected file structure looks like
[code]
### To Reproduce

Steps to reproduce the behavior:

1. Use PyTorch 1.4 and PL 0.7.1
2. Run the following snippet "checkpoint_demo.py"

#### Code sample

[code]

[2020-03-24 12:55] Dunrar commented on #1201
@awaelchli little update. In training_loop.py the line `if self.enable_early_stop and not self.disable_validation and is_val_epoch:` is to blame. Just deleting the self.disable_validation and is_val_epoch checks solves the problem in my case, but there is probably more to take into consideration.

[2020-03-24 13:05] awaelchli commented on #1201
I also came to that point when I looked at it 2 days ago, will have more time to look at it soon. If I remember correctly, the tests didnt pass and I was tracking down at which point the change was introduced to figure out the reason it is there.

[2020-03-24 14:24] armavox opened #1223 "gan.py multi-gpu running problems"
Running [gan.py](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/domain_templates/gan.py) example with Trainer(ngpus=2) causes two types of error:

1. if `Trainer(ngpus=2, distributed_backend='dp')`

[code]

2. if `Trainer(ngpus=2, distributed_backend='ddp')`
* in `./lightling_logs` one run creates two folders: `version_0` and `version_1`
* Exception caused:
File "/op

[2020-03-24 16:49] armavox commented on #1223
The problem is that gan.py example suppose to use buffered values self.generated_images and self.last_img, however during replicating and gathering in https://github.com/PyTorchLightning/pytorch-lightning/blob/22a7264e9a77ef70154e3ad7c926133c9f2205cd/pytorch_lightning/overrides/data_parallel.py#L64
buffered values are not replicated and not gathered to main `LightningModule` model

[2020-03-24 16:57] teristam commented on #1076
Yes, this is quite confusing...

[2020-03-24 18:52] #1146 closed

[2020-03-24 18:55] #1139 closed

[2020-03-24 19:09] RafailFridman opened #1225 "How to log hparams to Tensorboard?"
Hello! I'm trying to view my hparams on tensorboard, but can't actually see them there. As I understood from documentation, to log hparams one should add self.hparams in the __init__ of the LightningModule. Here's what I'm doing:
[code]
My hparams also contain Trainer hparams, so to log only the right ones, I wrote this workaround. But anyway, I could not see any of my hparams. What could be the p

[2020-03-24 21:06] skmatz commented on #1113
@HarshSharma12 Hi! I am facing the same problem. Can you tell me exactly how you got the results in artifacts using the internal `experiment` object?

[2020-03-24 22:04] mRcSchwering commented on #1225
Hi,

I am trying to figure the same thing out since 2 days now.
So, for just writing the hparams to tensorboard, you can do this:
[code]
It seems that the `logger.log_hyperparams` is called with those `self.hparams` before the training begins.

[2020-03-24 22:08] mRcSchwering commented on #1225
However, I have no idea what to do to add metrics (_e.g._ validation loss of best epoch) to a set of hyperparameters. Can i extend the question to that?

Currently, I am changing the logger like this:
[code]
And then I'm writing the hparams with metrics in a callback:
[code]
But that doesn't seem right.
Is there a way to write some metric together with the hparams as well?

[2020-03-24 22:20] mRcSchwering opened #1228 "Add support to log hparams and metrics to tensorboard?"
How can I log metrics (_e.g._ validation loss of best epoch) together with the set of hyperparameters?

I have looked through the docs and through the code.
It seems like an obvious thing, so maybe I'm just not getting it.

Currently, the only way that I found was to extend the logger class:
[code]
And then I'm writing the hparams with metrics in a callback:
[code]
But that doesn't seem right.
Is

[2020-03-25 00:48] Borda commented on #1038
@SkafteNicki pls ^^

[2020-03-25 07:08] tongjinle123 opened #1231 "data preprocess tool using hdf5 or tfrecord"
## 🚀 Feature
A subpackage or tool using `hdf5` or `tfrecord` to preprocess data into one single file.
### Motivation
In some field like asr or cv, it is not very novel to just use pytorch dataloader because it may cause speed loss in online data process like making fbank `feature(asr)` or some `transforms(cv)`. And hdf5 or tfrecord can be a good choice to avoid IO bottleneck and cpu bottleneck.  A

[2020-03-25 07:26] RafailFridman commented on #1225
Thanks for the reply!

hparams, that I pass to __init__ of my module is already a Namespace that contains many hyperparameters, including those that I want to log in tensorboard.

[2020-03-25 08:30] Borda commented on #1231
I like the idea of extending `prepare_data` to prepared some hdf5 file which would be used in later reruns... any thoughts @PyTorchLightning/core-contributors

[2020-03-25 08:51] tongjinle123 commented on #1231
plus:
for using hdf5, there is a problem occurred when using num_worker>0 pytorch dataloader and here is the solution, hope that can be helpful

[2020-03-25 09:11] mRcSchwering commented on #1225
I never tried it with a namespace, I always use dicts.
Did you try it with a dict?

[2020-03-25 09:16] RafailFridman commented on #1225
No, I didn't
According to #651 hparams should be a Namespace object, so I assume that will not work, but I'll check.

[2020-03-25 09:29] Borda commented on #1231
Any other suggestion for using different filesystem?

[2020-03-25 09:54] Borda commented on #1228
it seems to be duplicated, pls continue in #1225

[2020-03-25 09:57] Borda commented on #1220
@borisdayma @colehurwitz @calclavia pls ^^

[2020-03-25 12:17] rzepinskip opened #1233 "Restoring training session docs"
## 📚 Documentation

["Restoring training session"](https://pytorch-lightning.readthedocs.io/en/latest/pytorch_lightning.trainer.training_io.html#restoring-training-session) documentation shows example, which does not work correctly - [Google Colab](https://colab.research.google.com/drive/14C4G2kKcCS6CvEHv6b1ikQoymsiDwjlA).

Furthermore, when I was looking how to resume sessions I was confused by `

[2020-03-25 12:35] borisdayma commented on #1220
@Borda I think it's due to the finalize method closing the run with wandb.join.

I'm not completely familiar with the typical use case but a possible solution would be to remove it from the callback.

[2020-03-25 12:40] tongjinle123 commented on #1231
when using hdf5, in my practice, it seems that there are two ways for storing var length feature.
1. encode the feature with np.byte() and decode in dataset when loading. this may be a little bit slower process and I do not like it. (we also have to store a decode policy and decoding makes the process dirty)
2. initialize a [num_data, max_length, feature_dim] array in hdf5 and then store features

[2020-03-25 12:42] borisdayma commented on #1220
@chris-clem can you confirm that [this proposed fix](https://github.com/PyTorchLightning/pytorch-lightning/issues/1116#issuecomment-599244414) solves the issue?

If so then related PR should fix it.

[2020-03-25 12:48] williamFalcon commented on #1231
it would be cool to add tfrecord and hdf5 support to lightning.

Maybe we can do it this way:
1. enable train_dataloader to also return hdf5 and tfrecord.
2. internally, lightning detects these and wraps in dataloaders?
3. the dataloaders are classes we write to interface with these other data types?

[2020-03-25 12:51] mateuszpieniak commented on #226
As some people mentioned here, I cannot make it work even for a single GPU. I debugged the code and it seems like `Batch` object generated by `torchtext.data.Iterator` doesn't follow the rules described here

https://github.com/PyTorchLightning/pytorch-lightning/blob/45d671a4a81788b9d97fd6b47763816926e58e95/pytorch_lightning/trainer/distrib_parts.py#L420

As a result the data are not moved to GPU

[2020-03-25 13:08] soupault commented on #1089
In semi-supervised learning, domain adaptation, consistency training, etc it is typical that one uses the samples from different loaders in the same training step to compute various cross-losses. Thus, alternating behaviour of the training step does not bring much usability improvement.
I understand that it is possible to shift the issue to one step back and implement custom Dataset and/or Sampler

[2020-03-25 13:17] williamFalcon commented on #1089
maybe the way to go is to support multiple dataloaders and add a way (maybe an arg) to decide whether it should be sequential or simultaneous. if simultaneous, lightning auto loops or truncates to the shorter length?

[2020-03-25 13:56] mRcSchwering commented on #1228
Actually it's not. In that issue it's about providing a Namespace as hparams. Here, its about logging a metric such as validation accuracy together with a set of hparams.

[2020-03-25 13:57] mRcSchwering commented on #1225
#1228 is not related

[2020-03-25 14:45] Borda commented on #1220
also discussed in #1116 and a fix in #1193
@borisdayma @chris-clem could you pls review it

[2020-03-25 14:54] Borda commented on #1218
@neggert @jeffling pls ^^

[2020-03-25 15:34] borisdayma commented on #1220
The PR looks good to me!

[2020-03-25 15:40] SkafteNicki commented on #1156
Okay, after looking at your code @alexeykarnachev, this does not seems to be a bug. When you set `interval': 'step'` you are calling the `.step()` method for `ReduceLROnPlateau` after each batch and it therefore makes complete sense that no `val_loss` is calculated yet. If you really want to do something like this, you need to set `val_check_interval` in the `Trainer` construction to a number lowe

[2020-03-25 16:09] SkafteNicki commented on #1038
Agree that PR #941 only covers the  granular LR stepping.
Regarding the case with `get_linear_schedule_with_warmup`, I do not think lightning needs a specific feature to support this, since the user can already achieve this with a bit of code:
[code]
where the trainer is then initialized with `pl.Trainer(max_epochs=self.hparams.max_epochs)` (and probably early stopping disabled).
If we want this t

[2020-03-25 16:58] awaelchli commented on #1228
at which point would you like to log that? a) at each training step b) at the end of training c) something else?

[2020-03-25 17:08] awaelchli commented on #1228
Did you try this: In training_step for example:
[code]

[2020-03-25 18:42] Skylion007 commented on #1231
Pytorch XLA has [first party support](https://github.com/pytorch/xla/blob/master/torch_xla/utils/tf_record_reader.py) for reading tf records now. We should just wrap that.

[2020-03-25 18:45] jwallat commented on #1214
Try adding a CheckpointCallback that actually saves checkpoints (save_top_k-parameter):

`checkpoint_callback = ModelCheckpoint(
    filepath=args.decoder_model_dir,
    save_top_k=1,
    verbose=True,
    monitor='val_loss',
    mode='min',
    prefix=''
)`

and add it to your trainer:
`Trainer(..., checkpoint_callback=checkpoint_callback)`

It did work for me this way.
Also you might need to set

[2020-03-25 19:02] dumitrescustefan opened #1236 "AdvancedProfiler error"
Hi, as others have pointed out, the Profiler doesn't seem to work (it prints nothing), and trying out the AdvancedProfiler as in https://pytorch-lightning.readthedocs.io/en/latest/profiler.html like:
[code]
gives me the following error:
[code]

Any pointers?
My env: torch 1.4 installed with pip, Python 3.7, no GPU, on, MacOS.

Thanks for the great lib you're developing!

[2020-03-25 19:46] williamFalcon commented on #1236
@jeremyjordan

[2020-03-25 20:40] mateuszpieniak commented on #765
A bit related question, should a progress bar look like below? It creates a "list of progress bars" when it switches to evaluation mode.

[code]

[2020-03-25 20:40] TylerYep opened #1237 "Model Verification in Trainer"
## 🚀 Feature

Verifies that the provided model code does not mix up data across the batch dimension. We do this by setting the loss to be something trivial (e.g. the sum of all outputs of example i), running the backward pass all the way to the input, and ensuring that we only get a non-zero gradient on the i-th input.

### Motivation

First of all, I would like to say thank you for the fantastic

[2020-03-25 21:07] mateuszpieniak opened #1238 "Train loss vs loss on progress bar"
## ❓ Questions and Help

#### What is your question?
I don't understand why `train_loss` is different than `loss` even though I assign the same value. Perhaps one loss is calculated over the whole dataset and the other one is only for a recent batch? But if that's the case, which one is which?

[code]

#### Code
[code]

#### What's your environment?

 - OS: Ubuntu
 - Packaging: pip
 - Version: 0.6

[2020-03-25 22:12] Borda commented on #765
I was observing something similar in other projects and it is hard to determine, sometimes id cased by debug mode (eg in PyCharm)... but this it TQDM related thing, I think that we can't do anything about it... :[

[2020-03-25 22:27] ethanjperez opened #1239 "Validation progress bar with metrics"
## 🚀 Feature
Logging validation metrics throughout the duration of validation (e.g., current batch loss/acc or average batch loss/acc so far).

### Motivation

If the validation set is large, it'd helpp to know right away if I've loaded the wrong checkpoint or loaded a checkpoint in the wrong way within a couple iterations, rather than waiting to run through the entire validation set.

### Pitch

[2020-03-25 23:20] jverecken commented on #98
The documentation of the [latest stable version](https://pytorch-lightning.readthedocs.io/en/latest/lightning-module.html#lightningmodule-class) shows an example under _configure_optimizers()_

[code]

I am going to try it soon !

[2020-03-25 23:28] williamFalcon commented on #1239
in summary, we need to support:

[code]

[2020-03-25 23:55] amoudgl opened #1243 "Allow callbacks to access internal variables of training loop"
## 🚀 Feature
Internal variables (batch, predictions, etc) of the training loop (training + validation step) should be made transparent to callbacks. Right now, there is no way to access these internal variables of the training loop through callbacks without making them as attributes of lightning module. This doesn't sound optimal as it pollutes the lightning module with non-essential code.

### Mo

[2020-03-26 00:17] jeremyjordan commented on #1236
If there are other Github Issues please reference them here

Did you configure logging? I usually do this in the root `__init__.py` of my projects.

eg.
[code]

Finally, this seems unrelated to the AdvancedProfiler. Can you show what your `training_step` and `validation_step` code looks like?
[code]

[2020-03-26 03:44] TylerYep commented on #1222
Two questions about this bug:

1. If ModelCheckpoint saves to the lightning_log, you will be unable to specify a way to save a file to any other location - would this be preferable? The current API allows you to specify any location to add it to, including the lightning_log/version of your choice.

2. The commented line is an empty string because it is missing the f in the f-string f"<content>". T

[2020-03-26 04:08] awaelchli commented on #1237
I like the idea. There is a `fast_dev_run` flag in the Trainer, maybe the proposed check could be done when `fast_dev_run` is turned on?

btw your second bullet point can be done in PL with the `overfit_pct` flag in the Trainer :)

[2020-03-26 04:11] awaelchli commented on #1218
@Ir1d btw this person #1236 is getting the same error but doesn't have GPU.

[2020-03-26 04:26] awaelchli commented on #838
just a note: PR #1211 promotes the use of self(...) instead of self.forward in examples and docs.

[2020-03-26 04:48] Ir1d commented on #1236
btw I have value error but not in profiler. I was using loguru instead of logging.

[2020-03-26 05:18] TylerYep commented on #1237
That sounds like a great place for it, thank you for pointing me there! I will see if I can start by integrating it there first.

My only concern is that since fast_dev_run isn't be on by default, this may cause many people who are not aware of fast_dev_run to continue running code that doesn't respect the batch dimension. Would it be better to add another flag to Trainer, e.g. check_batch_dimensi

[2020-03-26 06:36] oplatek commented on #1222
@TylerYep regarding 2. it is not empty string even if the f is missing - it just won't be substituted - it won't be empty.
It is because there is no `dirname` in the path and `os.makedir` is called.

In any case, PL does the substitution for both cases

[2020-03-26 06:38] oplatek commented on #1222
@TylerYep  About duplicate. Yep you are right it is Duplicate of https://github.com/PyTorchLightning/pytorch-lightning/issues/1207

[2020-03-26 06:42] oplatek commented on #1222
@TylerYep
I think the best way is something you might be suggesting:

**NO, for some particular reasons e.g. debugging I would love to maintain current flexibility**

The current API allows you to specify any location to add it to, including the lightning_log/version of your choice.

**Right - it would be great - if I can **easily** obtain the path to current `lightning_log/version_XY` and set it

[2020-03-26 08:32] dumitrescustefan commented on #1236
@jeremyjordan thanks for the tips! I put logging into __init__.py, and tried with the "basic" profiler again, now I get the same error.

Here are the train/val_steps:
[code]
All the code (except the forward and the model params) is copy-pasted from a lightning tutorial. Without the profiler everything seems to work okay. The trainer is initialised with:
[code]

IMHO, shouldn't the profiler be agno

[2020-03-26 08:59] mRcSchwering commented on #1228
Yes I tried it. It seems that updating the hyperparams (writing a seond time doesn't work). That's why I overwrite the original `log_hyperparams` to do nothing, and then only call my own implementation `log_hyperparams_metrics` at the very end of the training. (`log_hyperparams` is called automatically by the pytorch lightning framework at some point during the start of the trianing).

[2020-03-26 09:00] mRcSchwering commented on #1228
I want to achieve b).
_E.g._ I run 10 random hparams sampling rounds, then I want to know which hparam set gave the best validation loss.

[2020-03-26 09:58] dumitrescustefan commented on #1236
My bad. I did 2 things, I added the profiler and then I also added reduction='none' (in ``MSELoss``) and in the loss function I forgot to do the reduction myself; thus the loss function returned a 2D tensor instead of a scalar, which broke the pytorch_lightning/trainer/logging.py, which led me to believe it was a logging error. I'm usually careful with changing more than a single item per run, but

[2020-03-26 10:01] RafailFridman commented on #1225
Do you know when `self.logger.log_hyperparams(hparams)` is called? Does it happen at the end of training or every epoch?

[2020-03-26 10:09] alexeykarnachev commented on #1156
Thx, now it's more clear.
Does it mean, that I can't use a schedulers, which are depend on some valid metric with `interval="step"`?
For instance, I have a custom reduce on plateau scheduler, which just ignores nan metric values, that's why I need to set a placeholder for valid metric (like in my first example).

[2020-03-26 10:16] mRcSchwering commented on #1225
when you overwrite it with a `print` you can see that it gets called at the very beginning of the training (not training step or epoch, the whole training).

[2020-03-26 10:22] mateuszpieniak opened #1245 "Improve moving data / model to GPU using torchtext"
## 🚀 Feature
Improve moving data and model to GPU if torchtext is used.

### Motivation
#### Case 1:
`Batch` object generated by `torchtext.data.Iterator` doesn't follow the rules described here https://github.com/PyTorchLightning/pytorch-lightning/blob/45d671a4a81788b9d97fd6b47763816926e58e95/pytorch_lightning/trainer/distrib_parts.py#L420

As the result data is not moved to GPU. `torchtext.data.

[2020-03-26 10:22] Borda opened #1246 "add TPU tests"
## 🚀 Feature

we shall also cover TPU usage as we are supporting it

### Motivation

now all changes are tested for GPUs and CPU but we do not have a check for TPU yet

### Pitch

getting coverage back to ~99%

[2020-03-26 10:53] marrrcin commented on #1038
@SkafteNicki thanks for the response. That's almost exactly what I did:
[code]

If that's the "recommended" way of doing it then I'm fine with that :)

[2020-03-26 11:28] Borda commented on #1245
@mateuszpieniak which version of lightning are you actually using?
@PyTorchLightning/core-contributors suggestions? ^^

[2020-03-26 11:49] mateuszpieniak commented on #1245
@Borda Version == 0.6.0, but I see that there is some new release ^^ Let me check it for the new version.

* Some solution for Case 1 could be not only looking for `.to()` or `.cuda()`, attribute, but also `.device` field inside the class?
* Some solution for Case 2 could be moving the model to GPU a bit further in "code but it is not so straightforward since

https://github.com/PyTorchLightning/p

[2020-03-26 12:30] mateuszpieniak commented on #1245
@Borda Well, for version == 0.7.1 I have a slightly different issue.

As I mentioned before, I build a vocabulary using the training dataset `train_dataloader`.
[code]
It creates a `self.text_field.vocab` object field. I use the same `self.text_field` (class `torchtext.data.Field`) for `val_dataloader`. It is expected since I want to have the same preprocessing / tokenization / embeddings for vali

[2020-03-26 12:52] alexeykarnachev commented on #1173
Hi! Sorry for the late reply.
I think, the `training_step_end` won't help, because it can not aggregate accum-batches (or maybe I've missed something)

[2020-03-26 13:13] awaelchli commented on #1246
TPU's are available in CI testing? Or are you saying there is a way to deploy it to colab?

[2020-03-26 13:22] Borda commented on #1246
not yet, by we will try to get one as we got also the GPUs some time ago :]

[2020-03-26 13:23] Borda commented on #1245
@neggert @srush pls ^^

[2020-03-26 13:36] chris-clem commented on #1220
The fix works, thanks!

[2020-03-26 13:36] #1220 closed

[2020-03-26 13:38] Borda commented on #1239
@ethanjperez mind submit a PR?

[2020-03-26 13:45] Borda commented on #1233
Thx, mind sending a PR? :robot:

[2020-03-26 13:48] chris-clem commented on #1207
Hi,

this is how I do it:

[code]

[2020-03-26 13:50] Borda commented on #226
@aitor-garcia-p @mateuszpieniak @jeffling let's close this one and continue discission how to improve the situation in #1245

[2020-03-26 13:50] #226 closed

[2020-03-26 13:56] Borda commented on #379
@jamesjjcondon could you please share a minimal example to replicate?

[2020-03-26 13:58] Borda commented on #427
@ssaru I assume that it was fixed, if not pls feel free to reopen... :robot:

[2020-03-26 13:59] Borda commented on #438
if there is an interest in this logger we may add it to upcoming `lightning-bolts` :robot:

[2020-03-26 13:59] #438 closed

[2020-03-26 14:01] williamFalcon commented on #438
@Borda we haven't decided on whether to move loggers or not.

[2020-03-26 14:08] Borda commented on #514
@jeremyjordan @awaelchli pls ^^

[2020-03-26 14:14] Borda commented on #438
sure, but with @expectopatronum not having time to add it https://github.com/PyTorchLightning/pytorch-lightning/pull/656#issuecomment-581504898, there is noone to do it now... or do you prefer to keep this open?

[2020-03-26 14:16] Borda commented on #538
@Colanim @kyoungrok0517 may you give details about you machines and environments?

[2020-03-26 14:35] Borda commented on #559
- the loading saved model is https://pytorch-lightning.readthedocs.io/en/latest/pytorch_lightning.core.html#pytorch_lightning.core.LightningModule.load_from_checkpoint
- the resuming for Trainer is https://pytorch-lightning.readthedocs.io/en/latest/trainer.html#resume-from-checkpoint

we do not support loading the best automatically...

[2020-03-26 14:41] Borda commented on #1238
just to rephrase your question, you are not sure why the `loss` is there twice (once in `outputs` and second in `tqdm`), right?
the difference is that `outputs` are needed eg for EarlyStopping and `tqdm` is used just for visualization in progress bar :]

[2020-03-26 14:45] Borda commented on #581
Any update here? feel free t reopen if needed... :robot:

[2020-03-26 14:45] #581 closed

[2020-03-26 14:46] Borda commented on #373
@Lawiss have you got into it and found something? :robot:

[2020-03-26 14:58] Borda commented on #594
I like the @williamFalcon which seems clear to me...
@asafmanor mind sens a PR or describe what API you have in mind?
cc: @PyTorchLightning/core-contributors any comments on this?

[2020-03-26 14:59] Lawiss commented on #373
I reinstalled my env and my nvidia drivers, then all work fine and I have not been able to reproduce the bug.

[2020-03-26 14:59] Borda commented on #791
@smallzzy we have cleared the API and now it should be stable... Mind resume your addition?

[2020-03-26 15:02] kyoungrok0517 commented on #538
@Borda Here's my environment

[code]

[2020-03-26 15:05] thegyro opened #1248 "Disabling validation with val_percent_check=0.0 not working"
## 🐛 Bug

I am trying to train on a small subset of data by settting `train_percent_check` and `val_percent_check` flags. I am not able to disable validation by setting `ver_percent_check=0.0`. Despite it being set to 0, `validation_epoch_end` is executed.

### To Reproduce

Steps to reproduce the behavior: Running the MNIST model on the Google Colab link

<img width="1068" alt="Screen Shot 2020-0

[2020-03-26 15:16] Borda commented on #772
I do not think that it is a lightning issue...
@Phirefly9 could you check it with new version v0.7.1 and reopen if needed :robot:
cc: @jeffling @neggert

[2020-03-26 15:16] #772 closed

[2020-03-26 15:27] Laksh1997 opened #1249 "[metrics] Automatic reduction of metrics from several validation steps"
## 🚀 Feature
As per the slack, it could be cool to implement this. More detail below.

### Motivation

To avoid the user having to do this
[code]

### Pitch

Something like this:
[code]
### Alternatives

Can just add the above to lightning module and use it anyway.

[2020-03-26 15:28] Borda commented on #765
@hadim still willing to implement https://github.com/PyTorchLightning/pytorch-lightning/issues/765#issuecomment-593703168 ?
@danieltudosiu default was changed in #1100
@mateuszpieniak it is TQDM issue, we cannot do much about it...

[2020-03-26 15:32] Borda commented on #742
anyone one interested @awaelchli @jeremyjordan
cc: @PyTorchLightning/core-contributors

[2020-03-26 15:34] Borda commented on #620
@usehand mind submit a PR?
cc: @neggert @PyTorchLightning/core-contributors

[2020-03-26 15:37] awaelchli commented on #1249
I think this is cool. Things that come to my mind:

- concatenate or stack seams reasonable as a default collate, but I would do without the mean, it's too specific.
- let the user override the collate method
- if there is a collate, it should not only apply to validation, but also to training_end, test_end, right? Then the question is do we let the user override each of these?

[2020-03-26 15:38] oplatek commented on #1249
I think that collate_metrics function would need at least:

- filtering - on which keys it should be applied
- needed to be used on several places - end of epoch, end of training, etc ...

The code will start to be quite messy soon.
I quite like this approach https://github.com/PyTorchLightning/pytorch-lightning/issues/973#issuecomment-592795508

[2020-03-26 15:40] Borda commented on #614
mind check  #1094? @jeffling @annukkaa @falceeffect

[2020-03-26 15:45] hadim commented on #765
Sorry @Borda but this is not a good moment for me to do that.

[2020-03-26 15:52] Borda commented on #973
I would not add another object which would hold metric values, it seems as duplicating logger functionality... What about defining just a list of metrics to be computed (function or callable class) and these metric will be automatically added to output dictionary?
cc: @PyTorchLightning/core-contributors ^^ opinion about all above?

[2020-03-26 15:55] Borda commented on #1249
just for the record note, discussion in #973

[2020-03-26 16:08] HarshSharma12 commented on #1113
@skmatz I'm using `logger.experiment.log_artifact(logger.run_id, artifact_pth)`  to log the artifacts.

You might also want to refer to this - https://github.com/mlflow/mlflow/issues/884

[2020-03-26 16:09] oplatek commented on #973
I like the way [Ignites metrics](https://github.com/pytorch/ignite/blob/master/ignite/metrics/metric.py) expose their API  as [previously discussed](https://github.com/pytorch/pytorch/issues/22439#issuecomment-592791032).

However, what I really like PL is how PL breaks the messy training loop and defines "callbacks/event" mechanism in LightningModule.

My opinion: organizing the evaluation of the

[2020-03-26 16:21] Borda commented on #643
@titusnicolae @jeffling any update here?

[2020-03-26 16:27] mateuszpieniak commented on #1238
@Borda No, I understand why there are 2 losses (`loss=0.442, train_loss=0.535`). I don't understand why they have different values even though they come from the same variable `loss = self.loss(...)`

[2020-03-26 16:34] Borda commented on #538
@jeffling may you check?

[2020-03-26 16:41] Borda commented on #973
@oplatek do you want to do it a form like a callback?

[2020-03-26 16:43] Borda commented on #1238
that sounds strange, do you have a minimal example we can run?
mind using out Test modules? so we could add it among test so it won't happen

[2020-03-26 17:40] awaelchli commented on #1248
I can confirm there is an issue. I tested it with the pl_example gpu template on master. I get a different error:
[code]
I think I know how to fix it and will submit a PR soon + unit test.

[2020-03-26 18:39] mateuszpieniak commented on #1238
@Borda Well, I don't really need to, because even if though I run the minimal example from https://pytorch-lightning.readthedocs.io/en/latest/lightning-module.html#minimal-example I got the discrepancy. Having said that there is either a bug or I don't understand something :cry:

Initially, I thought that one of them could be mean loss over the whole training set, whereas the other one could be th

[2020-03-26 18:46] williamFalcon commented on #1238
loss on progress bar is a running average. what you return (train_loss) is not

[2020-03-26 18:46] #1238 closed

[2020-03-26 18:46] williamFalcon commented on #1238
@Borda can we note this in the docs?

[2020-03-26 18:48] williamFalcon commented on #1238
https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/trainer/trainer.py#L343

[2020-03-26 19:23] mateuszpieniak commented on #1238
@williamFalcon Thanks for the clarification.

[2020-03-26 21:00] #1096 closed

[2020-03-26 21:16] asafmanor commented on #594
I'll implement the @williamFalcon API and send a detailed PR over the weekend 👍

[2020-03-26 21:20] skmatz commented on #1113
@HarshSharma12 Got it, thanks!

[2020-03-26 21:58] dreamgonfly opened #1252 "Validation every epoch with non-finite dataloader"
## 🚀 Feature

Providing a way to do validation every epoch with non-finite (`__len__` not implemented) dataloaders.

### Motivation

Doing validation every epoch is a natural choice, and with finite dataloader you can do it easily by setting `val_check_interval=1.0`. However, with non-finite dataloader you cannot set `val_check_interval` to be float. There's no simple way to work around it yet.

#

[2020-03-26 22:08] ethanwharris commented on #1252
Thanks for the issue! Totally agree that we should support this. It might be a bit painful with how validation works at the moment. Currently we validate when the batch index reaches a certain value. But with Iterable stuff we'd need to do it once the itetation is over (and we can't know ahead of time when that will be). I guess that the way to do it is to add a seperate clause which deals specifi

[2020-03-26 22:15] oplatek commented on #973
Yes. The intended use is like this:  (I renamed LightningEvaluation -> EvaluationPlan)

[code]

We should provide the default EvaluationPlan which accepts any number of metrics and does average of each metric:
[code]

[2020-03-27 02:07] #1248 closed

[2020-03-27 02:22] shijianjian opened #1255 "Support for passing dataloader to trainer.test()"
## 🚀 Feature
[code]

### Motivation

In most cases of mine, I got a fixed training/validation dataset but other collaborators would send me different datasets to evaluate my model. In which case, I hope not to modify the code inside the ```CoolSystem```.  I prefer to build different dataloaders for different collaborators in an ```evaluation.py```, which sounds more reasonable than putting unseen

[2020-03-27 02:26] awaelchli commented on #1248
@thegyro This should now be fixed. I tested it in MNIST colab by installing PL from master branch:
`! pip install git+https://github.com/PytorchLightning/pytorch-lightning.git@master --upgrade`
Feel free to reopen if there are unresolved issues.

[2020-03-27 02:51] jeremyjordan opened #1256 "better checking of data returned from training_step"
## 🚀 Feature

let's add more validation checks on what's returned from `training_step` and provide the user with useful error messages when they're not returning the right values.

### Motivation

i feel like i've seen a lot of users confused about what they're supposed to return in `training_step` and `validation_step`. additionally, i don't think we document how we treat extra keys as "callback

[2020-03-27 03:14] jeremyjordan commented on #1236
yes! that's why i was confused about your error :)

but this makes perfect sense

---

that's great to hear! definitely want to help you get this figured out.

i tried reproducing your error but it's working for me - check out this colab notebook
https://colab.research.google.com/drive/1wSwMd5xGb36zdNS-5yk6ptHNEXqa1IMi

could you perhaps share a colab notebook where this is failing?

btw i agree w

[2020-03-27 03:38] jeremyjordan commented on #1173
yeah we should handle that case better, would you be interested in drafting a PR to address this?

[2020-03-27 07:17] #1209 closed

[2020-03-27 07:38] Borda commented on #1246
@jeremyjordan mind add optional TPU tests which would also help to you #1211 which would be helpful and simplify your testing...

[2020-03-27 09:30] oplatek commented on #973
I absolutely agree, every `eval_*` method in EvaluationPlan should update the output dictionary (the output dictionaries for batch, validation_epoch_end, etc)

[2020-03-27 09:36] Borda commented on #1236
similar question about missing logging table was raised also by @dumitrescustefan
I would suggest adding also a method `profiler.summary()` returning string of the stats
so we avoid this confusion with logging init and a user can simply use:
[code]
@williamFalcon @jeremyjordan ^^

[2020-03-27 11:11] williamFalcon commented on #1236
1. if logging is required, let’s just auto configure it for the user? not doing so goes against our principles.

2. i think a problem with the logger is that i think it prints when training completes. if you stop training early (early stopping), or just ctrl c, i suspect you won’t see it?

@jeremyjordan

[2020-03-27 11:45] Borda commented on #1255
Thx for your comment we are aware of this feature request, pls see #1195

[2020-03-27 11:47] Borda commented on #1252
cool, @ethanwharris @dreamgonfly mind drafting a PR?
cc: @PyTorchLightning/core-contributors

[2020-03-27 11:56] Borda commented on #1243
each callback method has accessible trainer and model...
what PL version are using? because we made these changes quite recently... :]
cc: @ethanwharris

[2020-03-27 12:00] Borda commented on #1237
@TylerYep good point with the fast dev binary state... would it be a solution for you to have kind of three levels:
- fast run
- full run
- complete (fast + full)
cc: @PyTorchLightning/core-contributors and discussion in  #1081 #1087

[2020-03-27 12:01] Borda commented on #1223
@armavox good catch, mind draft a PR? :robot:

[2020-03-27 12:05] Borda commented on #1222
pls move the discussion to the #1207

[2020-03-27 12:05] #1222 closed

[2020-03-27 12:30] Borda commented on #1213
@neggert may you have look at this multi GPU issue?

[2020-03-27 12:35] Dunrar opened #1261 "Neptune.ai logger slow, lags behind training"
## 🐛 Bug

When running a script which trains multiple models after another, I came across the problem that the neptune.ai logger lags behind my training quite severely ( when the model has finished training, the logger is only about halfway there). This would not be such a big problem for me if the next model would start training while the logger still processes the logs of the previous model, but

[2020-03-27 12:37] Borda commented on #1214
@jwallat good points, mind draft a PR with forcing 32 precision for TPU and stop trying to import missing checkpoint is there was not requested (no CheckPointing)?

[2020-03-27 12:38] philip-bl opened #1262 "incorrect run on the test set with overwritten validation_end and test_epoch_end"
## 🐛 Bug

If I override validation_end and test_epoch_end, TrainerEvaluationLoopMixin.evaluate works incorrectly on the test set

Suppose we override `validation_epoch_end` and `test_end`, but not `validation_end` and `test_epoch_end`. (I actually did this since I am a newbie and haven't yet figured out how everything works; also it seems `validation_end` is the same as `validation_epoch_end`, and

[2020-03-27 12:41] Borda commented on #1212
I very much support replacing CSV by YAML it is much easier to read and handle (also comment)

[2020-03-27 12:50] vincentzlt opened #1263 "model summarize can not log to stdout"
https://github.com/PyTorchLightning/pytorch-lightning/blob/ac6692d3e48084bc563e0e9001062edf168668c5/pytorch_lightning/core/lightning.py#L1446

during training, the default model summarize function can not log the model summary information to stdout. I guess is because of the logger is not referring to the actual logger.

[2020-03-27 13:07] jakubczakon commented on #1261
Hi @Dunrar are you closing loggers per model explicitly:

[code]

Could you elaborate on what do you mean by model here?

[2020-03-27 14:13] oplatek commented on #1207
Hi, the TensorBoard version inspired by @chris-clem snippet.

Any idea how to get rid of the "HACK"?

[code]

[2020-03-27 14:14] leemengtaiwan opened #1264 "Multiple undesired checkpoints created during single epoch"
## 🐛 Bug

Thanks for the great project! When I sent custom `ModelCheckpoint` to `Trainer` and hoping to get one checkpoint each epoch, the Trainer eventually produced a lot of versioned checkpoints within a single epoch, wasting lots of disk space and were causing confusion. An example is shown as below:

[code]

The minimal code I used for training (below I have showed how to reproduce this exact

[2020-03-27 14:49] Borda commented on #862
partially done in #993

[2020-03-27 15:36] Dunrar commented on #1261
Yes, I tried that as well. By model I mean `model = MemoryTest(hparams)`. My code looks like this:

[code]
But even when I only train one model and the model stops/finishes training (CPU load goes down as well) it takes a lot of time until the logger catches up and the console becomes responsive again.

[2020-03-27 15:39] jakubczakon commented on #1261
Got it, let me talk to the devs cause I think this should work nicely.

[2020-03-27 16:02] alexeykarnachev commented on #1173
Yes, I'll try to handle this

[2020-03-27 16:38] pitercl commented on #1261
Hi @Dunrar , I'm one of the developers of Neptune.ai.

The `stop()` method waits for some threads to join. One of those threads is responsible for sending channel values and stderr/out.

My current suspicion is that this problem is related to another problem with stderr/out we have on Windows.

Can we check what happens when you do the following (upload_std*=False)?

[code]

Does the problem persi

[2020-03-27 17:36] alexeykarnachev commented on #1173
@jeremyjordan Let me first formalize the problem.

Here are `log_metrics` methods for few pytorch-lightning loggers:

`TensorBoardLogger`:
[code]

`NeptuneLogger`:
[code]

`NeptuneLogger`:
[code]

`MLFlowLogger`:
[code]

`CometLogger`:
[code]

As we can see, each logger's method receives the `step` argument.
And it works great, when there is `accumulate_grad_batches` equals 1.
But if we set `accum

[2020-03-27 17:52] Borda commented on #1173
@alexeykarnachev great analysis! Personally I would not do abstraction in Trainer as it is already very large, rather I would do some abstraction in base logger classes and the logic is very similar for all particular loggers...
@PyTorchLightning/core-contributors any other thoughts?

[2020-03-27 20:43] rotalex commented on #1256
I want to take this up.

[2020-03-27 21:06] Borda commented on #1256
@rotalex cool, looking forward seeing a PR from you :]

[2020-03-28 00:08] Borda commented on #1264
it seems that it triggered with step interval instead of epoch interval, continue debug

[2020-03-28 00:38] jeremyjordan commented on #1263
if you look at the imports, you'll see
https://github.com/PyTorchLightning/pytorch-lightning/blob/ac6692d3e48084bc563e0e9001062edf168668c5/pytorch_lightning/core/lightning.py#L17

which you can trace back to here
https://github.com/PyTorchLightning/pytorch-lightning/blob/ac6692d3e48084bc563e0e9001062edf168668c5/pytorch_lightning/__init__.py#L15

did you configure logging in your project?

a simple

[2020-03-28 00:43] jeremyjordan commented on #1246
i'm probably not the best person for TPU tests, i haven't dug into that code much yet (and not sure if i'll have time in the upcoming week or two - want to make progress on #1099 this weekend)

[2020-03-28 00:55] jeremyjordan commented on #1236
@williamFalcon

at the time when the feature was merged, we were configuring logging. i went back to [the branch](https://github.com/jeremyjordan/pytorch-lightning/blob/feature/profiling/pytorch_lightning/__init__.py#L29) and verified that it was working out of the box. there was a later PR (#767) which removed this.

actually, we still do show it :) in both cases (early stopping + keyboard interr

[2020-03-28 01:05] luiscape commented on #1246
@Borda we could do TPU testing much like we do GPU testing, i.e. deploy a GCP instance with a CI system (e.g. Drone :) ) and then have it read a webook from GitHub. There are cost implications to that, but I think you can make that work.

Let's chat about how to make that happen. Maybe we can also get free credits from Google to test on TPUs?

[2020-03-28 01:13] luiscape commented on #486
@Borda let me know if you need any support here. :)

[2020-03-28 07:58] Borda commented on #1246
That would be great! Just thinking coukd it be possible to have instance which has both - two GPUs and TPU in the same time?

[2020-03-28 08:06] Borda commented on #486
@williamFalcon do we have an update, did we get it, meaning the free credit and instance with two GPUs? So far I remember the instance was pending...

[2020-03-28 09:29] brandenkmurray opened #1270 "Manual test loop results are awful compared to trainer.test() results"
## 🐛 Bug

Using MNIST as an example, when I train using EfficientNet (I've also used other architectures from `pretrainedmodels` and I have the same issue) I get ~77% Accuracy after two epochs on validation and when I use `trainer.test()`. However, if I use my own testing loop my Accuracy is ~10%... as good as random. If I extract a batch from the `test_dataloader` and pass it through the `model`

[2020-03-28 11:29] Dunrar commented on #1261
Hey @pitercl , that's it, way faster now. It takes care of the other problem as well, of course.

[2020-03-28 16:59] luiscape commented on #1246
I am not sure, actually. We'll have to look into it.

[2020-03-28 18:24] Borda commented on #1264
the issue with checkpoint is that it just specifies the interval of being called assuming ha it is called just once per epoch... but in your case, you turned to fast run mode and the checkpoint is called every batch so the period is correct just it every 10 steps instead of every 10 epochs...
I am going to change the checkpointing to cunt epochs explicitly...

[2020-03-28 19:37] AmitMY opened #1273 "bug(tqdm): creating multiple rows after 70%"
## 🐛 Bug

When I run a training loop, every epoch it would do `tqdm` well until roughly 70%, and then create more rows until finished:
![image](https://user-images.githubusercontent.com/5757359/77832032-08f1ca80-7144-11ea-8bdd-f81308da24c2.png)

### Expected behavior

No new `tqdm` rows

### Environment

[code]

### Additional context

Running this using PyCharm, not directly on the terminal.

Thi

[2020-03-28 20:10] #713 closed

[2020-03-28 20:13] justusschock commented on #973
I agree, that there should be a metrics package, but I would differentiate between the metric itself and the integration to the trainer/module.

I like the approach of an `EvaluationPlan` that can be used for arbitrary metrics, but IMO the metrics should be standalone (as functions or `torch.nn.Module`).
This would enable the user to also use the metric without having to do this with the `Evaluati

[2020-03-28 20:29] WSzP commented on #973
First of all, congratulations for this amazing project. I love Lightning.
Now when it comes to new features, I agree with @justusschock, while I'm pretty new to Lightning, the main thing I'm missing is Metrics. It would be especially helpful in more complex cases, multiple metrics, etc.

[2020-03-28 20:33] williamFalcon commented on #973
@WSzP @Darktex thanks for the awesome feedback! @justusschock will  be leading the implementation here. I suspect we can learn a lot from what others have done before and take a stab at this with those lessons learned.

I do agree with @srush that some of the metrics are very domain specific, but we can take that  into consideration. For some metrics like Bleu, etc... we should make sure to point

[2020-03-28 20:34] mpariente commented on #1136
Well, this persists.
I finally took time to reproduce the issue, on another architecture.
Now, the training is deterministic, here are the tensorboard logs (grey pl0.7.1, orange pl0.6., nothing else changes between the envs) :
![Screenshot from 2020-03-28 21-28-30](https://user-images.githubusercontent.com/18496796/77833120-35551900-713b-11ea-9dc8-da018a60aa15.png)

Training is not over but the di

[2020-03-28 20:41] williamFalcon commented on #1136
ok awesome. will look into this.
and this was introduced in 0.7.1?

[2020-03-28 20:45] mpariente commented on #1136
IIRC 0.7.0 was not backward compatible because of `pl.data_loader` so I couldn't test it.

I know you're doing the best you can about this, no worries.

For now, both architecture involved LSTMs, did you change anything about BBTT?
I'm going to try with a ConvNet, see if it changes as well.

[2020-03-28 20:48] williamFalcon commented on #1136
ummm... i don't think we did but that's good to know. Maybe it is RNN related.
Why don't you do the sample in this colab so we can unify efforts here.

I want to create the following tests:
1. MNIST using MLPs.
2. cifar10 using CNNs.
3. an RNN sample, maybe sequence classification. whatever the equivalent simple test is for RNN.
4. that's probably it.

[2020-03-28 21:30] jeremyjordan commented on #973
there's a related issue #1256 where i proposed that we add a key for `metrics` in what is returned from the `training_step` and `validation_step` (and then discourage use of arbitrary keys). we could use the metrics (defined to be standalone as functions or torch.nn.Module as @justusschock mentions) and then either report for each batch or aggregate at the end of an epoch. essentially, making it e

[2020-03-28 22:18] brandenkmurray commented on #1270
I downgraded to 0.6.0 and `trainer.test()` gives the same accuracy as my test loop.

[2020-03-28 22:31] williamFalcon commented on #1270
ummm yeah, we made changes to .test meant to work with ddp on notebooks better. looks like this points to a bug in that. mind putting a colab together on this? can look at it now

[2020-03-28 22:33] jeremyjordan commented on #1256
@Borda given that this proposal is backwards compatible, i think we should get more core contributors to weigh in on the proposed design before moving forward and implementing it.

one thing that is still giving me tension is the fact that there's a lot of overlap between `log`, `progress_bar`, and `metrics`. `progress_bar` almost always consists of a subset of `log`, and `metrics` (or as they cur

[2020-03-28 22:35] Borda commented on #973
@justusschock Could we do similar warping as we did for Loggers where we have `LightningLoggerBase` and then `LoggerCollection` which would encapsulate the particular metrics so for the usage you do not border much if you use single metric or whole set...?

[2020-03-28 22:38] mpariente commented on #1136
Tried on two convolutional architectures and the training and validation curves are a perfect match.
At first sight, it seems to be RNN related, which would be a good news.

[2020-03-28 22:48] Borda commented on #1256
@jeremyjordan good point! we had recently an issue about "why there are two `dict`s - one for the progress bar and the general while it has the same values" so some simplification or more structured way would be welcome...
cc: @PyTorchLightning/core-contributors ^^

[2020-03-29 00:04] amoudgl commented on #1243
Hi @Borda, I am using pl version 0.7.1. In this version, callbacks do have access to trainer and pl module as you said. However, I wanted to point out that I can't access the interval variables of pl module `training step` method from a callback. Example:

Let's say we have the following module class from pl examples:

[code]

I'd try to write the visualization callback as follows to visualize ima

[2020-03-29 02:39] williamFalcon commented on #1256
log and progress_bar were separated a while back because people wanted to log different things that  they didn't want in the progress bar

[2020-03-29 02:39] williamFalcon commented on #1256
i don't really know what metrics is.

[2020-03-29 04:50] brandenkmurray commented on #1270
https://colab.research.google.com/drive/1xr_JPDhf5UmHYUfmhZSrwQDanQbKYBcD

I've never used colab before so let me know if there's anything I need to change to be more helpful. On colab the results for trainer.test and my loop matched. I then reran it locally using only 1 GPU and everything worked correctly again, so this appears to be an issue related to multiple GPUs.

[2020-03-29 08:21] justusschock commented on #973
I like the idea, but I'm not sure, we need this here...
Let's say, we have the metrics all defined as standalones, we could probably go away with only a collection-like thing, that has something like the following init:
[code]
This would then work with all kinds of metrics

[2020-03-29 09:42] justusschock opened #1275 "[Discussion] What Metrics do we want?"
As discussed in #973 , we will probably start by implementing metrics as standalones.

This issue aims to discuss on what metrics we need and how we can implement this in a package structure.

Suggestions welcome.

My initial thought was to have a metrics package with subpackages for each research area like vision, text, audio etc.

CC @srush @Borda @williamFalcon @Darktex

As a start:
For vision

[2020-03-29 10:00] Borda commented on #1275
I like the structure...

[2020-03-29 10:13] bilel-bj opened #1276 "Implementation of Efficient-Net and Efficient-Det in Pytorch Lightning"
## 🚀 Feature
Implementation of Efficient-Net and Efficient-Det in Pytorch Lightning

### Motivation

These two algorithms are the state of the art in Image classification and Object detection. Providing an implementation in Pytorch LIghtning will attract many data scientist to adopt this promising framework

### Pitch

### Alternatives

https://paperswithcode.com/paper/efficientdet-scalable-and-ef

[2020-03-29 11:09] Borda opened #1277 "[metrics] reuse metrics in a progress bar"
## 🚀 Feature

reduce duplicated metrics in general output `dict` and progress bar

### Motivation

it can be confusing for a user to passing the same metric multiple times in single output

### Pitch

in such case just specify key/name of metric shown in progress bar... but still it would make it less flexible to show what you want
just having {'loss': None, "my-var": 123}  and none mean that it t

[2020-03-29 11:09] rohitgr7 commented on #1276
I think they are working on it. https://twitter.com/PyTorchLightnin/status/1242774793126100992

[2020-03-29 11:19] RafailFridman commented on #1225
I'm still not able to log any hparams to Tensorboard, although I exactly follow the documentation and do this:
[code]
,where hparams, that I'm passing to init are `parser.parse_args()`
Does anybody have similar problems?

[2020-03-29 11:24] xingzhaolee commented on #1195
even tho validation will not be allowed outside training as mentioned in #770, it would still be nice to not have to do the below since
1. sometimes there aren't test set available
2. most of the times the evaluation code for validation and test are the same

[code]

[2020-03-29 12:16] bilel-bj commented on #1276
Do you know when it is estimated to be delivered?

[2020-03-29 12:16] SkafteNicki commented on #1154
@Borda this can be closed

[2020-03-29 12:30] #1154 closed

[2020-03-29 12:37] kyoungrok0517 commented on #538
I'm experiencing the same problem in any multi-gpu environment, not only with two Titan Vs.

[2020-03-29 13:10] jeremyjordan commented on #1256
the usage for `log` and `progress_bar` keys is clear. however, if you look at the method for process output you'll see

[code]

as far as i know, this isn't documented anywhere.

if you look in the documentation, however, you will see references to keys which are not included in the set of `{loss, log, progress_bar}` but the only hint about how to use them is through the examples we provided (eg.

[2020-03-29 14:11] SkafteNicki commented on #1275
Dividing only into research areas would mean duplication of some metrics, for example accuracy is used more or less within all fields. I think it would be better to mainly divide into a regression and classification subpackage depending on targets begin continues or discrete. Specific metrics (like BLEU in NLP) could be in research-specific subpackeges.

[2020-03-29 14:15] RafailFridman commented on #1225
I tried explicitly add hparams to tb like this:
[code]
But that didn't work.

[2020-03-29 14:27] RafailFridman commented on #1225
Ok, I it. It looks like that TensorBoard won't display hparams if some previous runs were without them. So I had to start a new tb process with a clean logs directory.
Everything works normal now.

[2020-03-29 14:27] #1225 closed

[2020-03-29 14:59] justusschock commented on #1275
I agree, and these metrics (like accuracy) would not fall in any of these but remain in the base package.

I don't want to divide them into regression and classification and also have subpackages for all the research areas as it may become non-trivial where to find the desired metric.
Another thing we could think of is not having subpackages at all, but just one metric package containing them all

[2020-03-29 15:00] bobofzhang opened #1282 "on_after_backward for multiple optimizer"
## 🚀 Feature

on_after_backward is a perfect place to log grad, currently, on_after_backward make no distinguish for different optimizers, for GAN applications, in  it would be nice to pass in optimizer_id as param for on_after_backward .

### Motivation

### Pitch

### Alternatives

### Additional context

[2020-03-29 15:03] Borda commented on #1275
I would rather avoid deep metric structures, one level is enough... So we can have general purpose like accuracy and the domain specific =)

[2020-03-29 17:34] cuent commented on #1277
Could you elaborate a little bit more?
The problem relies on whether a user wants to override a metric such as loss, for example, which is print by default in the progress bar. So, if the user wants to keep that parent loss, it should specify `“loss”: None`. I notice that the output of the progress bar is [here](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/tr

[2020-03-29 17:59] ethanwharris commented on #1182
This has a potential issue - we won't be able to get the shuffled data in the same order on a second pass. So even if we save the batch index, we still won't be able to do a proper resume. I suppose the best we can do is raise a warning saying that the behaviour may not be repeatable and start from the begininning of the epoch (only way to guarantee that all data is seen at least a certain number

[2020-03-29 18:56] #1236 closed

[2020-03-29 19:27] #1252 closed

[2020-03-29 19:29] #1233 closed

[2020-03-29 19:47] jeffling commented on #538
@kyoungrok0517  @Colanim  Just as a sanity check, do you have the same issues with running any model with lightning?

[2020-03-29 19:51] jeffling commented on #643
@titusnicolae  any luck on porting this over?

If it could be done in a callback, it should be. otherwise, I think if there is enough proof / demand behind this it would make sense to be in the framework.

[2020-03-29 20:26] rohitgr7 commented on #1276
No idea.

[2020-03-29 21:10] Borda commented on #1256
I would be in favour of more rigid structure, also may check #1277

[2020-03-29 22:14] armavox commented on #1223
yep, I'll try

[2020-03-30 00:02] vincentzlt commented on #1263
Thanks. It works when I added the codes to `__init__.py`.

But it was still strange why it can not log under default settings.. If nobody else have the same issue, please close this issue.

[2020-03-30 00:47] kyoungrok0517 commented on #538
No. The model was running well on multi-gpu in early stage but from some
point the problem occurred. Since the model structure stayed the same I
suspect the error has something to do with the data loading step but can't
be certain. I attach some code snippets that might cause the problem:

[code]

[code]

[code]

2020년 3월 30일 (월) 오전 4:47, Jeffrey Ling <notifications@github.com>님이 작성:

[2020-03-30 00:48] kyoungrok0517 commented on #538
Here's ny dataloaders

[code]

2020년 3월 30일 (월) 오전 9:46, Kyoung-Rok Jang <kyoungrok.jang@gmail.com>님이 작성:

[2020-03-30 00:53] kyoungrok0517 commented on #538
No. The model was running well on multi-gpu in early stage but from some
point the problem occurred. Since the model structure stayed the same I
suspect the error has something to do with the data loading step but can't
be certain. I attach some code snippets that might cause the problem:

[code]

[code]

[code]

[2020-03-30 00:54] kyoungrok0517 commented on #538
Here's my dataloaders

[code]

[2020-03-30 00:55] kyoungrok0517 commented on #538
This is my Trainer

[code]

[2020-03-30 01:28] jeremyjordan commented on #1263
this was addressed in #1267, closing issue. thanks :)

[2020-03-30 01:28] #1263 closed

[2020-03-30 02:57] seandatasci commented on #1275
cv: panoptic quality and IOU
Augmentation: affinity and diversity

[2020-03-30 07:00] haotongye commented on #1275
Some metrics may even be dataset-specific, e.g., F1 score for SQuAD (there are some preprocessing and special rules involved). For these kind of less general metrics, I think there should be a base `Metric` class for people to inherited on and create their own.

For some reference, [this](https://github.com/haotongye/pytorch-project-example/blob/master/common/metrics.py) is how I implement mine, a

[2020-03-30 07:24] justusschock commented on #1275
@haotongye
I would say, that we shouldn't include dataset specific metrics here.
But I agree, we should have a base class metric (probably just a `torch.nn.Module` with some extras). This will, however, be hard for the functional interface.

For now, I wouldn't include losses, as this would really broaden the scope. Maybe we can do this afterwards in a separate effort.

[2020-03-30 07:35] justusschock commented on #1275
@seandatasci Can you link a paper or reference implementation for the affinity and diversity part? AFAIK there are several ways to calculate these...

[2020-03-30 08:11] davinnovation opened #1286 "User Warning is missed in `pl.{}_end` function in 0.7.0"
## 🐛 Bug

### To Reproduce

Steps to reproduce the behavior:

Using `train_end` `validation_end` `test_end` above 0.7.0
mentioned in [code](https://github.com/PyTorchLightning/pytorch-lightning/blob/31b71483c47fa4aa688912b432726cdac0025a9b/pytorch_lightning/core/lightning.py#L232) as comment but not return user warning

### Expected behavior

log UserWarning as `data_loader` decorator
Example :
`U

[2020-03-30 08:32] davinnovation opened #1287 "maybe typo in readme"
## 📚 Documentation

riguously -> rigorously
unecessary -> unnecessary

Thank you for the wonderful project!

[2020-03-30 09:18] MingLunWu opened #1288 "AttributeError: 'Tensor' object has no attribute 'items'"
Hi, I'm not sure what's going on.  I tried to follow tutorial to organized my code into a LightningModule.  Can anyone help?
During `model.fit()`, I got this error :
[code]

[2020-03-30 10:13] nirkra opened #1289 "ddp not working in conjunction with torch/nn/modules/conv.py"
### Common bugs:
ddp not working in conjunction with torch/nn/modules/conv.py

## 🐛 Bug

PL is cowardly refusing to serialize anything that inherits from class _ConvNd
This is probably due to the fact the pytorch is initializing tensors in __init__

Please see attached __init__ code below:

### To Reproduce
add one of these models to your PL model, and try to run Trainer with DDP

### Code
class _

[2020-03-30 11:08] AmitMY opened #1290 "bug(logger): wandb fails on sweep"
## 🐛 Bug

When using `wandb` sweeps for hyperparameters search, I get this error:

The reason is I ran:
[code]

Which I guess has some problem with floating-point numbers in high accuracy?

[2020-03-30 11:20] Borda commented on #1289
could you please share your env setting and minimal running example to reproduce? :robot:

[2020-03-30 11:26] Borda opened #1291 "Metrics package"
## 🚀 Feature : Metrics Package

This issue tracks the current state of the metric package implementation.

Below I'll maintain a list of metrics that need to be implemented once the basic metric is finished.

Based on #973 #1275

[2020-03-30 11:49] williamFalcon commented on #1275
some requested:
- confusion matrix
- f1
- AUC/ROC
- rouge
- bleu

[2020-03-30 11:51] williamFalcon commented on #1287
thanks! please submit a PR :)

[2020-03-30 12:09] SkafteNicki commented on #1275
metrics for continues output:
* mean squared error (MSE) / root mean squared error (RMSE)
* mean absolute error (MAE)
* root mean squared Logarithmic Error (RMSLE)
* maxerror
* cosinesimilarity

would be nice to have:
* R2 score (coefficient of determination)
* Correlation (Pearson/Spearman)
* Explained variance score

however, as far as I know the last 3 require access to the full list of targets

[2020-03-30 12:23] SkafteNicki commented on #1156
I do not think it is possible just out of the box. However, if you configure your scheduler correctly, then it should be possible. For example, if I initialize my Trainer as
`trainer = Trainer(val_check_interval=50)`
and initialize my scheduler as
[code]
it should work (not tested), since `val_loss` will be created every 50 steps but the scheduler will first be called after 100 steps.

[2020-03-30 12:35] Borda commented on #762
I think that the simplest way is to use [EarlyStopping](https://pytorch-lightning.readthedocs.io/en/latest/early_stopping.html?highlight=earlystop) or implement [Custom Callback](https://pytorch-lightning.readthedocs.io/en/latest/callbacks.html#callbacks) which may change the `max_epochs` according to given rule...
Thx you for your interest and interesting point, feel free to reopen if needed :rob

[2020-03-30 12:35] #762 closed

[2020-03-30 13:00] justusschock opened #1294 "Metrics: Base Metric"
## 🚀 Feature
Add a base class for proper metric implementation

[2020-03-30 13:04] justusschock opened #1295 "Metrics: Accuracy, Precision, Recall, F1, ROC"
## 🚀 Feature
Implement the following metrics (grouped since highly similar):
- [ ] Accuracy
- [ ] Precision
- [ ] Recall
- [ ] F1
- [ ] ROC

[2020-03-30 13:05] justusschock opened #1296 "Metrics: AUC"
## 🚀 Feature
Implement general AUC (to be combined with other metrics like ROC)

[2020-03-30 13:07] justusschock opened #1297 "Metrics: Dice Coefficient"
## 🚀 Feature
Implement General Dice Coefficient (multiclass)

[2020-03-30 13:08] justusschock opened #1298 "[Metrics Package] Panoptic Quality"
## 🚀 Feature
Implement Panoptic Quality

[2020-03-30 13:08] Borda commented on #729
in the actual version, you can use a model hook which has the batch or [Callback](https://pytorch-lightning.readthedocs.io/en/latest/callbacks.html#callbacks) where you have access to both `trainer` and `model`
Thx you for your interest and interesting point, feel free to reopen if needed :robot:

[2020-03-30 13:08] #729 closed

[2020-03-30 13:09] justusschock opened #1299 "[Metrics] IOU"
## 🚀 Feature
Implement (differentiable) IOU

[2020-03-30 13:10] justusschock opened #1300 "[Metrics] SSIM"
## 🚀 Feature
Implement SSIM

[2020-03-30 13:11] justusschock opened #1301 "[Metrics] Bleu"
## 🚀 Feature
Implement BLEU

[2020-03-30 13:12] justusschock opened #1302 "Metrics: Confusion Matrix"
## 🚀 Feature
Implement Confusion Matrix

[2020-03-30 13:13] justusschock opened #1303 "[Metrics Package] ROUGE"
## 🚀 Feature
Implement ROUGE

[2020-03-30 13:17] justusschock opened #1304 "Metrics: MSE, RMSE, MAE, RMSLE"
## 🚀 Feature
Implement the following as metrics (grouped due to similarity):
- [ ] MSE
- [ ] RMSE
- [ ] MAE
- [ ] RMSLE

[2020-03-30 13:32] alexeykarnachev commented on #1156
oh, right, I missed the `frequency` argument. Totally forgot about it. I'll try it. Thank you!

[2020-03-30 13:44] shubhamagarwal92 commented on #1275
- As I mentioned in the [tweet](https://twitter.com/shubhamag1992/status/1244595634642001921) for NLG [this repo](https://github.com/Maluuba/nlg-eval) can directly be integrated (?)

- If planning to also include support for Vision&Language tasks such as VQA/Visdial etc. which are proposed mostly as discriminative tasks, R@{1,5,10} / MRR/ NDCG  can also be used. One nice implementation by Pythia [

[2020-03-30 13:50] justusschock commented on #1275
@shubhamagarwal92 We probably will have to adjust the metrics for NLG according to our upcoming metrics interface, but other then that it should be fine. If you want to, you can take this, once we have our interface running (probably tomorrow).

[2020-03-30 14:00] justusschock opened #1305 "[Discussion][Metrics Package] Sklearn metrics"
## Do we want to include metrics of `sklearn`?

The following constraints would apply if we had an sklearn metric interface:
* All imports would be within the class space, so sklearn would only remain an optional dependency (due to it's size)
* All metrics will be provided by sklearn interface at first, but will be removed later on (once we got a native pytorch implementation)

### The Advantages:

[2020-03-30 14:04] ethanwharris commented on #1305
The plan looks good :) another option might be to see if there is anything we can use in [Skorch](https://github.com/skorch-dev/skorch) - although I don't know to what extent they support on GPU stuff

[2020-03-30 14:05] nirkra commented on #1289
Oops, apologies, the problem seems to be in the wavenet_vocoder module that was calling it.
So, it's a not a bug probably, but I would appreciate the help.

Ubuntu18.04, cuda==10.1, pytorch-lightning==0.7.1, torch==1.4.0, wavenet-vocoder==0.1.1

The problem seems to be in wavenet_vocoder/modules.py:
`
def Conv1d(in_channels, out_channels, kernel_size, dropout=0, std_mul=4.0, **kwargs):
    m = con

[2020-03-30 14:12] justusschock commented on #1305
IIRC skorch aims on perfect sklearn compatibility, which is why they also use sklearn metrics (not on gpu though).

[2020-03-30 14:13] #834 closed

[2020-03-30 14:22] ethanwharris commented on #1305
Yeah, my mileage with skorch was pretty limited (and quite a while ago), so I'm not really sure what it's about haha

[2020-03-30 14:22] seandatasci commented on #1275
@justusschock https://arxiv.org/abs/2002.08973

[2020-03-30 14:37] Borda commented on #1275
Help is always welcome =)

[2020-03-30 15:01] Borda commented on #834
well it seems that the demo is using all API

[2020-03-30 15:19] Borda commented on #851
@philip30 could you open a separate issue for "autoresubmit feature" and describe it more...

[2020-03-30 15:19] #851 closed

[2020-03-30 15:38] Borda commented on #1217
@gunthergl may you consider drafting a PR with fix?

[2020-03-30 15:51] gunthergl commented on #1217
I sadly do not know where exactly this happens plus have very low free capacity atm.
After I have to get my method running first, it's not my top priority to have it fixed right now. As long as i keep track internally what I did it does not matter, it is more much more convenience than crucial right now.

[2020-03-30 15:58] Borda commented on #1217
@jeffling @MattPainter01 may you have a look?

[2020-03-30 16:05] Borda commented on #827
feel free to reopen if needed :robot:

[2020-03-30 16:05] #827 closed

[2020-03-30 16:05] #486 closed

[2020-03-30 16:05] #433 closed

[2020-03-30 16:09] williamFalcon commented on #975
you can use self.print() inside the lightningModule

[2020-03-30 16:13] #1161 closed

[2020-03-30 16:16] sneiman commented on #762
Makes sense to close - thanks. I have a running version on my local fork. Waiting til after the scheduled refactoring to work it up completely and submit a pr.

Doing with callbacks() does work, but the loops also have to change - range()'s don't change after they are created. Also, a shared value is needed to get the new value to all the processes. And I believe an mp Manager() is needed to move

[2020-03-30 16:50] Borda commented on #762
Thx and PR is always welcome :]

[2020-03-30 16:56] Borda commented on #829
fixed in #1016

[2020-03-30 16:56] #829 closed

[2020-03-30 16:56] Borda commented on #908
@jakubczakon how is it going? ^^

[2020-03-30 17:08] rzepinskip opened #1306 "RuntimeError: Unimplemented backend XLA on TPU"
## 🐛 Bug

`RuntimeError: Unimplemented backend XLA` raised for `self.batch_loss_value.append(loss)` line in `trainer/training_loop.py` file when running MNIST on TPU. I think it was introduced in 31b7148.

### To Reproduce

Steps to reproduce the behavior:

1. Go to [MNIST on TPUs](https://colab.research.google.com/drive/1-_LKx4HwAxl5M6xPJmqAAu444LTDQoa3)
2. Run all
3. Scroll down to trainer
4. Se

[2020-03-30 17:23] jakubczakon commented on #908
Oh, I must have miscommunicated.
I wrote in the PR:

And since you haven't answered there I assumed we would just stick with `NeptuneLogger`.
Would you like me to play with those other ones?
I'd definitely feel ok improving/updating `TestTubeLogger` and the open-source ones but I don't feel good about touching the "commercial" ones.

What do you think @Borda ?

[2020-03-30 18:04] amoudgl commented on #1290
+1, I faced the same issue when using pytorch lightning with wandb sweeps. To summarize, wandb automatically logs hyperparams when we run the wandb sweep agent on a machine. Later, pytorch lightning again tries to log same hyperparams but due to precision error between lightning and wandb already logged hyperparams, wandb throws this error. Just a guess: wandb sweep agent might be using double for

[2020-03-30 18:05] amoudgl commented on #1290
cc: @neggert, @Borda, @williamFalcon

[2020-03-30 18:12] Borda commented on #908
that sounds fair, for `TestTubeLogger` it is different story/repo..
so closing this issue though :robot:

[2020-03-30 18:12] #908 closed

[2020-03-30 18:24] Borda commented on #1290
@borisdayma @calclavia pls ^^

[2020-03-30 18:37] borisdayma commented on #1290
The problem is that it tries to log this value twice and is probably called before automatically by pytorch-lightning.
The callback will automatically log every parameter which is in `pl.LightningModule.params` (where you probably already have the dropout).

See an example of using pytorch-lightning with wandb (including sweeps) here: https://github.com/borisdayma/lightning-kitti

I'll be adding i

[2020-03-30 19:45] czotti commented on #1243
I have figured a way to retrieve these informations in a callback. Use `hiddens`, not sure if it's the right way to do it but at least it works with little modifications in your model, here is my `training_step()` function
[code]

with this you will get everything in your callback

[code]

But there is nothing for the validation loop as far as I see there is no `on_batch_end` for the validation am

[2020-03-30 20:22] williamFalcon opened #1308 "Add gradient checkpointing"
Would be great to support gradient checkpointing for a whole lightningModule.

@tullie

[2020-03-30 20:51] rzepinskip commented on #1305
The AllenNLP also started with CPU-based metrics to move some of them to GPU later - [PR 3851](https://github.com/allenai/allennlp/pull/3851)

[2020-03-30 22:04] MatthewMatero opened #1310 "How to properly move submodules to GPU?"
I've coded up a TransformerEncoder that relies on submodules. Specifically, I have a main lightning module (MainTransfomer.py) which has 2 sub (regular torch)modules. 1 is BertModel and 1 is a custom TransformerEncoderLayer.

The TransformerEncoderLayer has 2 submodules of its own named MultiHeadAttn and PosFeedForward. When I try to run my code via the lightning trainer, it seems that all my tens

[2020-03-30 22:25] #942 closed

[2020-03-30 22:37] #1264 closed

[2020-03-30 22:43] #1131 closed

[2020-03-30 22:45] #1116 closed

[2020-03-31 00:14] sneiman commented on #538
FWIW: Have you recently updated Ubuntu? I just started experiencing this in the last hour - and I am using a local fork that has not changed in a few weeks - so doesn't seem likely it's lightning. Will add more if I learn more.

[2020-03-31 01:10] kyoungrok0517 commented on #538
Well maybe or maybe not. Then the problem could be CUDA or apex compatibility issue. To add I see the problem only when I use DDP. Using DP shows no problem.
On Mar 31, 2020 9:14 AM +0900, sneiman <notifications@github.com>, wrote:

[2020-03-31 02:11] #1288 closed

[2020-03-31 02:21] MingLunWu opened #1314 "pytorch_lightning.utilities.debugging.MisconfigurationException"
Hi, I encountered the problem like #899 ，But I checked my pytorch is not CPU version. Can anyone help? Thanks!
[code]

My environment packages:
[code]

[2020-03-31 03:27] awaelchli commented on #1314
If you run this in your python console,
[code]
what number does it return?

[2020-03-31 03:33] awaelchli commented on #1310
Strange. Lightning should move all your modules to the GPU given they are LightningModules or are part of one. To identify and fix a potential bug we would need a minimal example. Could you post it as a google colab notebook? That would be super helpful.

[2020-03-31 03:46] MingLunWu commented on #1314
@awaelchli Thanks for your fast reply!  It returns 1.

And I think it's because of the version of pytorch. I tried to change my pytorch version from `py3.7_cuda10.1.243_cudnn7.6.3_0`  to `py3.6_cuda10.0.130_cudnn7.6.3_0`. And the problem was solved.

[2020-03-31 03:53] awaelchli opened #1315 "Automatic environment check"
## 🚀 Feature

Lightning could automatically detect a requirements.txt or environment.yml file and check if the packages in the current environment meet the specified versions. If these are not met, it could warn the user.

### Motivation

Lightning facilitates and encourages reproducibility of research code. A feature like this could further improve this part and make a user's life easier.

### Pi

[2020-03-31 04:09] awaelchli commented on #1314
Strange. So the code that i posted prints 0 with the old version, `py3.7_cuda10.1.243_cudnn7.6.3_0`? Could it be possible that your GPU supports cuda 10 but not 10.1? Just a wild guess.

[2020-03-31 04:17] MingLunWu commented on #1314
No, the code that you posted still prints 1 with the first version.

It's work fine when using only pytorch to train. But when I tried to rewrite it  into the LightningModule template then I got this error. That also makes me confused.

[2020-03-31 04:47] awaelchli commented on #1314
It gets funnier :) Are you absolutely sure? Because Lightning also calls `torch.cuda.device_count()` internally to determine what you see in the error message. See [here](https://github.com/PyTorchLightning/pytorch-lightning/blob/a707d4bea1a78a98265fd1ea5b7a7a6cadc37fb9/pytorch_lightning/trainer/distrib_parts.py#L574) and [here](https://github.com/PyTorchLightning/pytorch-lightning/blob/a707d4bea1

[2020-03-31 05:54] MingLunWu commented on #1314
That's my mistake.  There's nothing to do with the version of Pytorch.

I set `CUDA_VISIBLE_DEVICES` to 1 in my program, but I only have one GPU on my machine. :(

So When I run the code that you posted in my python console it returns 1. But when I executed my program, there's no GPU that can be detected.

Thank you for replying!

[2020-03-31 05:54] #1314 closed

[2020-03-31 06:24] #1201 closed

[2020-03-31 06:50] awaelchli commented on #1201
@Dunrar Thanks for the help. Your suggestion worked and I was able to make a test so that it doesn't break in the future :)
cheers!

[2020-03-31 06:52] awaelchli commented on #1314
That's a relief. Glad it was just this and nothing more complicated.
cheers!

[2020-03-31 06:54] Dunrar commented on #1201
@awaelchli Thank you!

[2020-03-31 07:36] #1289 closed

[2020-03-31 09:23] Borda commented on #1315
do you have something else than #1234?

[2020-03-31 11:09] veritas9872 opened #1316 "Implement GPU Prefetching of data."
## 🚀 Feature
Copying data from host (CPU) to device (GPU) is a time consuming operation that can cause GPU starvation while the GPU is idle, waiting for data.

On a PCIe 3.0 connection (the most common for GPUs) through the PCI-bus, a 16MB chunk of pinned data moves at approximately 6GB/s. While this is fine for most research operations, this can be a serious bottleneck for industrial use or with

[2020-03-31 11:31] pitercl commented on #1261
Hi @Dunrar, we're working on a fix. It should be release this week.

[2020-03-31 13:53] nirkra commented on #1289
the problem is with nn.utils.weight_norm(m) - the pytorch implementation calculates the norm(m) and creates a dependency between the tensors.
to work aroung it I create my own implementation of WeightNorm, based on some older version implementation:
[code]

and then change
`
nn.utils.weight_norm(m)
`
to:
`
WeightNorm(m, ['weight'])
`

[2020-03-31 14:59] jbschiratti commented on #914
@williamFalcon I had a look at the latest release and I think that my issue still stands. Unless I am mistaken, there is still no equivalent of `validation_end` (now called `validation_epoch_end`) in [training_loop.py](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/trainer/training_loop.py).

At each epoch, one can average validation loss across all batches by

[2020-03-31 15:09] jbschiratti commented on #914
Shall I open a new issue ?

[2020-03-31 16:18] MatthewMatero commented on #1310
Hey, I tried moving my code into collab this morning. I tried to find a balance between leaving the code as is and putting in the neccessary bits to just show the error. In the colab notebook I've confirmed the code runs beyond the point of the original error when using CPU. However, when switching to GPU within the colab I'm getting a vague error of "CUDA error: An illegal memory access was encou

[2020-03-31 16:24] LucFrachon commented on #514
I'm not sure I am fully qualified for this :-)
I believe such a tutorial should at least cover:
- Freezing parts of a model for a few epochs model
- Unfreezing and fine-tuning (in line with @DrClick 's ideas), possibly with a different learning rate
- Setting up different learning rates/weight decay factors AND different learning rate schedules for different parameter groups

I can see how to do t

[2020-03-31 16:35] #1310 closed

[2020-03-31 16:41] #594 closed

[2020-03-31 17:16] lkhphuc opened #1321 "Trainer.add_argparse_args(parser) break the default Tensorboard hparams logging."
## 🐛 Bug

Trainer.add_argparse_args(parser) break the default Tensorboard hparams logging.

### To Reproduce

Steps to reproduce the behavior:

I pretty much just put together the sample codes in the `Hyperparameters` section in the docs and it's throw the error.

#### Code sample
[code]

[code]
The value it fails at is key `callback` with value `[]`.

### Expected behavior

Trainer.add_argparse_a

[2020-03-31 17:35] vitorguizilini opened #1322 "Training loop temporarily hangs after every 4 steps"
I am porting some of my code to pytorch lightning, and everything seems to work fine. However, for some reason after every 4 training steps I see some temporary hanging (~1 second), which is severely slowing down my overall training time. Am I missing some obvious configuration?  This is my Trainer configuration:

[code]

[2020-03-31 22:01] jeremyjordan commented on #914
@jbschiratti you're right, i don't see where this is implemented. reopened the issue.

[2020-04-01 02:30] awaelchli commented on #1321
Hi, not sure but it looks like this got fixed on master recently. See #1130.
Could you try installing from master and try again?

[2020-04-01 02:43] awaelchli commented on #735
Hi, this should be fixed on master and is now backward compatible with Python 3.6.
See [here](https://github.com/PyTorchLightning/pytorch-lightning/blob/7de51f78ac2ec09b230e1cb8a786f872de3b861f/pytorch_lightning/core/memory.py#L269).

[2020-04-01 02:44] awaelchli commented on #735
@Borda can be closed I think :)

[2020-04-01 04:12] sneiman commented on #1302
There is a reasonable version available in scikit-learn:
https://scikit-learn.org/stable/modules/generated/sklearn.metrics.confusion_matrix.html

[2020-04-01 04:33] sneiman commented on #538
I have resolved this in my environment. Writing it here in case it helps. During the construction of the model, and before creating trainer, etc, I store the .data property of a Parameter:
[code]
I do **NOT** actually do anything with self.class_p_t - I assigned it in anticipation of logging these values to monitor progress of self learning curriculum learning class weights. Speculating there is s

[2020-04-01 05:55] #735 closed

[2020-04-01 11:35] jbschiratti commented on #914
@jeremyjordan I pushed a "proof of concept". See this [commit](https://github.com/jbschiratti/pytorch-lightning/commit/3d555cc1a937141dee965576c055d7b9792f5218). This is certainly not perfect but it is what I'm expecting from pytorch-lightning's API: the behavior of `training_epoch_end` should mirror that of `validation_epoch_end`. If you want, I can start a PR for this issue and we can iterate on

[2020-04-01 12:14] igor-krawczuk opened #1325 "Best way to integrate ray as Distributed Backend"
I want to use [ray](https://ray.readthedocs.io/) as a distributed backend, mainly to make use of their autoscaling capabilities. Since I'd like to upstream my solution afterwards, and also get some feedback, I'd like to check with y'all first.

After reading the docs on both sides and the current implementation of [LightningDistributedDataParallel](https://github.com/PyTorchLightning/pytorch-light

[2020-04-01 14:21] lkhphuc commented on #1321
Yep that fixes it. Thanks.

[2020-04-01 14:21] #1321 closed

[2020-04-01 14:56] pitercl commented on #1261
Hi @Dunrar, I've released `neptune-client` in version `0.4.108`, which should fix the problem with colliding x-s in stdout/stderr.

However, the problem with slow closing of experiments seems to lie elsewhere. I'll look into that as well and see what can be done.

Just wanted to give you a head's up on the progress.

[2020-04-01 16:30] RafailFridman opened #1329 "Adapting SWA for pytorch lightning."
Hello!
I'm currently trying to add SWA support to my lightning module, following this post https://pytorch.org/blog/stochastic-weight-averaging-in-pytorch/
And I have problems with loading averaged weights after I finish training.
I do it like this:
[code]
And bump into following problems:
1) It returns error message `'MyCoolModel' object has no attribute 'save_checkpoint' `  on the line `self.sav

[2020-04-01 18:05] vguizilini commented on #981
Has there been any progress on this? What is the fix to enable WandbLogger on 'ddp'?

[2020-04-01 20:39] areshytko opened #1330 "Single-node multi-gpu ddp backend tries to delete model checkpoints from all processes"
## 🐛 Bug

### To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Run '....'
3. Scroll down to '....'
4. See error

#### Code sample

### Expected behavior

### Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/PyTorchLightning/pytorch-lightning/master/tests/collect_env_details.py)
(or fill out the checklist below

[2020-04-01 20:40] #1330 closed

[2020-04-01 20:46] areshytko opened #1331 "Multi-gpu DDP backend tries to delete model checkpoints from all processes"
## 🐛 Bug

When running single node multi-gpu distributed training on standard MNIST example the following error appears in model checkpoint callback. Debugging showed that both worker processes tried to delete the same checkpoint file (instead of just rank 0) and `os.remove` fired an exception.

### To Reproduce

Steps to reproduce the behavior:

app.py:
[code]

conf.yaml:
[code]

1. run `python a

[2020-04-01 21:16] igor-krawczuk commented on #1325
Alrighty, after a bunch more reading it turned out tweaking pytorch_lightning.Trainer and creating a ray wrapper was easier than expected. You can see a basic API [here](https://github.com/igor-krawczuk/pytorch-lightning/blob/ray/dev_scripts/ray_test.py), it doesn't yet fit the current pytorch_lightning coding style though (I'm more used to component based development rather than mixins).

The cha