[2021-03-01 13:14] #6141 closed

[2021-03-01 13:16] SeanNaren commented on #6170
Thanks guys and thanks @hwade for such a detailed breakdown, was super helpful.

@tchaton's proposal is definitely viable, by having a nice hook that's called irrespective of accumulation, allowing deepspeed to increment internal counters.

However an alternative is to check if the training type plugin handles accumulation, and should accumulate turns into a no-op. This means at every step the acc

[2021-03-01 13:27] SkafteNicki commented on #6173
@phihung can you post a model where I can reproduce your pickle error?
Also, what prevents you from transforming your non-pickle object into a pickable object?

[2021-03-01 13:36] #4083 closed

[2021-03-01 13:59] tchaton commented on #6153
Dear @NathanGrimaud,

I opened a PR with a fix. Would you mind giving it a try ?

Best regards,
T.C

[2021-03-01 14:12] hkmztrk commented on #4450
Have you found a solution @jamesjjcondon?

[2021-03-01 14:14] hkmztrk commented on #6206
Removing `num_nodes` argument from training configuration solved the same problem for me.

[2021-03-01 14:26] Queuecumber commented on #6204
LMK what you guys decide the best approach is and I can make the PR, are you sure that the model gets checkpointed using `on_train_end` if the job is preempted?

[2021-03-01 14:27] Queuecumber commented on #6205
I think there's potentially a larger issue than MLFlow which is that the `v_num` shouldn't change on resumption which would effect every logger. Do you want my PR to include some logic around that as well?

[2021-03-01 14:50] carmocca commented on #6204
We have this code to handle a `KeyboardInterrupt` and call `on_train_end` to save the state before shutting down

https://github.com/PyTorchLightning/pytorch-lightning/blob/925f082572500a8c3b97e1e8c9d614f6de73b232/pytorch_lightning/trainer/trainer.py#L631-L641

`on_train_end` calls:

https://github.com/PyTorchLightning/pytorch-lightning/blob/925f082572500a8c3b97e1e8c9d614f6de73b232/pytorch_lightni

[2021-03-01 15:07] Queuecumber commented on #6204
We could just have `SLURMConnector` call `train_loop.on_train_end()` for a simple solution

[2021-03-01 15:09] larshbj opened #6263 "Error in PL 1.2 when loading models that calls save_hyperparameters and is trained using PL <1.2"
## 🐛 Bug

After updating to PL 1.2 `LightningModule.load_from_checkpoint(checkpoint)`, using a checkpoint from a model trained using PL 1.1.6, fails with the following `AttributeError`:

[code]

The model used is `torchvision.models.detection.fasterrcnn_resnet50_fpn` and can be found [here](https://github.com/pytorch/vision/blob/5266a7253a4477b2b3d2fb525c88e641db4a4e99/torchvision/models/detection

[2021-03-01 15:15] #6214 closed

[2021-03-01 15:32] edenlightning commented on #5865
@HareshKarnan, @talolard, @stillwalker1234 or @genghisun can any of you please provide a reproducible script/colab?

Do you checkpoint based on a value that is not coming from lightning metrics and can be different on different processes? We think there might be an issue there.

[2021-03-01 15:41] edenlightning commented on #6193
Need to support reducing returned dict and not just tensors.

[2021-03-01 15:45] larshbj commented on #6263
I tried to overwrite the hyper param `tpu_cores` to the new path:
[code]
but it does not seem to make any difference.

[2021-03-01 16:12] edenlightning commented on #6257
Thanks for the report!
This should be resolved by PyTorch 1.8. This isn't an issue in Lightning.

A workaround in the meantime: use dictionaries instead.

[2021-03-01 16:12] #6257 closed

[2021-03-01 16:13] alanhdu commented on #6201
Ah -- sorry. I guess embedding it in the `<details>` tag made it hard to find.

[code]

[2021-03-01 16:16] alanhdu commented on #6201
I also feel like we're getting a little side-tracked by the script -- even aside from the potential bug in the metrics + DDP, I think that calling `self.counter.reset()` "manually" is unnecessary. Would people object to a PR that adds the:
[code]
to the appropriate place in `Trainer`?

[2021-03-01 16:37] #5757 closed

[2021-03-01 16:39] AlKun25 commented on #5434
@akihironitta There are no changes required for ``pytorch_lightning/distributed/*``. And if ``cluster_environments`` is the file ``pytorch_lightning/plugins/environments/cluster_environment.py``, then if that doesn't require any changes. I couldn't find any folder named `cluster_environments`

[2021-03-01 16:41] akihironitta commented on #5434
@AlKun25 Thank you for letting me know!

[2021-03-01 16:44] IhabBendidi commented on #5961
That solved it thanks !

[2021-03-01 16:53] edenlightning commented on #5865
Try setting DDPPlugin(find_unused_parameters=True), seems to fix the issue for other cases.

[2021-03-01 16:56] SeanNaren commented on #5604
Thanks @marrrcin for coming back to us! We've got a discussion here to turn this flag back on, or expose it to the trainer: https://github.com/PyTorchLightning/pytorch-lightning/discussions/6219

If anyone has thoughts please leave them there, it seems that at this point we should turn `find_unused_parameters=True` as default, and write in the docs that if you would like to see a speed up using tr

[2021-03-01 18:08] awaelchli commented on #6172
Hi, you need to use

`logger = logging.getLogger("pytorch_lightning")`

instead of

`logger = logging.getLogger("lightning")`

then you will get the correct logger.

Apologies, the docs here seem to be outdated
https://pytorch-lightning.readthedocs.io/en/latest/extensions/logging.html#configure-console-logging
I will update that

[2021-03-01 18:44] SkafteNicki commented on #6201
@alanhdu that will not work in all cases.
Lets say that i set `val_check_interval=0.5` then I will be evaluating my validation metrics twice as often as my training metrics. This means that I need a way to differentiate which metrics needs be reset when, and I cannot do a global reset.
I therefore think the best solution is the user explicitly tells when they want to reset which metrics.

[2021-03-01 19:34] dipam7 commented on #5434
@akihironitta Just submitted the PR for functional. #6273

[2021-03-01 19:36] dipam7 commented on #6160
Hey, @awaelchli I can work on this one. Can you help me understand how the docs are generated and where are the old docs stored?

Thanks

[2021-03-01 19:54] SkafteNicki commented on #6245
hi @Vozf, I have open PR #6274 which should give you the option for custom naming.
sorry if you already started working with on this, I was trying to solve #6091 which is basically the same issue as this

[2021-03-01 19:57] Vozf commented on #6245
Hi, I've not really started as I've had no good api ideas. So no progress wasted. Thanks for the pr though

[2021-03-01 20:16] brando90 commented on #4420
this does not work for me see:
[code]

[2021-03-01 21:02] import-antigravity commented on #5545
Hi all,

I re-ran the notebook in master and it appears to be working neither in master, nor the most recent release (1.2.1)

[2021-03-01 21:17] turian commented on #6254
Thank you @tchaton, I have.

[2021-03-01 21:47] ethanwharris commented on #5545
@import-antigravity this seems to be fixed if you movethe `zero_grad` calls to __before__ the forward passes for the generator and discriminator. Not sure why the behaviour changed...

[2021-03-01 21:56] import-antigravity opened #6282 "GAN Manual Optimization not working for 1.2.0 through master"
## 🐛 Bug

Originally #5545 but since the problem appears to have been fixed and then re-appeared, I thought I'd just create another issue.

## Please reproduce using the BoringModel

https://colab.research.google.com/gist/import-antigravity/0730243bb11b56031110fd6aa7d58971/the-boringmodel.ipynb

### To Reproduce

Alter the `! pip` command at the beginning of the notebook to change the version and

[2021-03-01 21:57] import-antigravity commented on #5545
Oops, didn't see this until now. Let me try

[2021-03-01 21:58] ethanwharris commented on #6282
Possibly relevant comment from old issue: https://github.com/PyTorchLightning/pytorch-lightning/issues/5545#issuecomment-788321320

[2021-03-01 22:03] import-antigravity commented on #5545
Works now! That's odd that this is the case. I'm closing this issue again but keeping #6282 open because I think we should get to the bottom of why that's going on, and also the docs do not reflect that this is required for proper functionality

[2021-03-01 22:03] #5545 closed

[2021-03-01 22:05] import-antigravity commented on #6282
Update: moving `zero_grad()` calls to *before* any forward passes has fixed the issue. However I want to keep this open as the documentation needs to be updated.

https://pytorch-lightning.readthedocs.io/en/stable/common/optimizers.html?highlight=optimization#manual-optimization

Also, I'm not sure if requiring that zero_grad() is always called first is necessarily a desired behavior.

[2021-03-01 22:12] import-antigravity commented on #6282
![Screen Shot 2021-03-01 at 5 10 59 PM](https://user-images.githubusercontent.com/24441495/109565899-1b415a80-7ab1-11eb-8b98-67d34030dc51.png)
I'm experimenting with where to put the `zero_grad()` calls, and it seems like it's best to have them separate, before each respective model's forward passes. I would put them all at the beginning but for a GAN you want the gradients for the generator and d

[2021-03-01 22:53] #4039 closed

[2021-03-01 23:14] awaelchli commented on #6206
oh that's interesting. @DerJFK can you confirm that? So maybe this means we need to tweak the logic for determining the world size with and without the `num_nodes` argument.

[2021-03-01 23:30] edenlightning commented on #4045
Closing this, feel free to reopen in case anything is unclear!

[2021-03-01 23:30] #4045 closed

[2021-03-01 23:32] edenlightning commented on #5334
hey @marload! Any update/ways we can help?

[2021-03-01 23:42] edenlightning commented on #5604
Actually keeping this open, to track setting the default to true or any other solution you come up with.

[2021-03-02 00:12] awaelchli commented on #5342
@hobogalaxy

Are you still interested? I can help too.

because loggers are not callbacks.
but of course we could think of a way to restore loggers. This will be very different between the loggers.

So I suggest the following:
1. One PR that implements dumping a `state_dict` of some sort for loggers that goes into the checkpoint dict. Implement that first only for the TensorBoardLogger (no restore

[2021-03-02 00:21] awaelchli commented on #6204
@carmocca Regarding signal handling, I had that a long time ago (#3632). It was not well received unfortunately and I closed it. There were also some problems I was not able to solve with the CI.

I plan to revisit it at some point and do it properly. We definitely need it, especially with multiprocessing which sometimes doesn't shut down properly and leaves ports open etc, because the signals are

[2021-03-02 01:22] awaelchli commented on #6160
Hi, that's great.
Here in the contributing file you find the section about the docs:
https://github.com/PyTorchLightning/pytorch-lightning/blob/master/.github/CONTRIBUTING.md#documentation

The docs are hosted on RTD and every time a new lightning version is released, a new build is triggered and stored on the RTD server.

Here is another resource I found:
https://docs.readthedocs.io/en/latest/ver

[2021-03-02 03:47] magic282 commented on #6196
@tchaton Macbook Pro 2019. And I think the hardware seems not important since on Linux server I got the same trend.

[2021-03-02 04:16] hwade commented on #6170
@tchaton @SeanNaren Thanks to your replys. @tchaton 's proposal to sync step between trainer and ds.optimizer seems to work in the simplest way. However, I think it's not only the accumulated step need to be synced, but the loss scale op should be cut as one because loss propagated backward will be scaled twice by the accumulation steps in training_step and deepspeed. I 'm not sure if there has an

[2021-03-02 04:23] indigoviolet opened #6285 "Optimizers are broken with auto_lr_find=True since 1.1.4"
## 🐛 Bug

It seems like #5244 (which went out with 1.1.4) caused some bad interaction with `auto_lr_find=True`.

Specifically, `lightning_optimizers` are now [cached on the Trainer](https://github.com/PyTorchLightning/pytorch-lightning/pull/5244/files#diff-2ac8599fbc86efe739170e1fb2217ac34dbd69da6a84b705a270e6da5ca7a794R262-R267). However, if we update the `lr` with `auto_lr_find=True`, we would e

[2021-03-02 04:24] indigoviolet commented on #6285
fyi @ananthsub, since you might remember the original code

[2021-03-02 06:17] ananthsub opened #6286 "Support time-based checkpointing trigger"
## 🚀 Feature
Support time-based checkpointing in model checkpoint callback

### Motivation
After #6146 we'll have support in Lightning to checkpoint after N training batches, or after M validation epochs. A useful feature would be to checkpoint after T time during training phase (e.g. checkpoint every 1 hour).

### Pitch

This would entail:
- adding a new optional argument `time_interval` to the c

[2021-03-02 07:13] t-vi commented on #6196
Lightning includes "quite a bit of magic" that adds fixed overhead over PyTorch. As @SeanNaren points out, this overhead is fixed and the scaling behaviour should be very similar, so for non-trivial networks, this should not matter as much.
Incidentally, PyTorch has it's own performance thing going on with `nn.Module`, see https://github.com/pytorch/pytorch/pull/50431 . The symptoms are somewhat s

[2021-03-02 08:07] tchaton commented on #5181
Hey @awaelchli,

Yes, we should.

Best,
T.C

[2021-03-02 08:32] Borda commented on #3529
we have some legacy separation in https://github.com/PyTorchLightning/pytorch-lightning/pull/6211/files

[2021-03-02 08:51] Borda commented on #6160
YES! I am very much to have reached only stable/latest docs, mind sending PR ;]

[2021-03-02 09:11] magic282 commented on #6196
Totally agree with @t-vi and @SeanNaren . The model tested here is too small compared to the work of PL in the background.

[2021-03-02 09:31] #6254 closed

[2021-03-02 09:33] SeanNaren commented on #6196
Haven't had the time to re-run but definitely looks off, if I get time I'll re-run with multiple runs!

@magic282 I'll try figure out where in the docs we could mention this, as I think this is important!

[2021-03-02 09:47] #6172 closed

[2021-03-02 09:51] awaelchli commented on #6172
@psj8252 We merged a fix that was in 1.1.6 - 1.1.8 but it got lost and didn't make it into 1.2.
After Wednesday when the new version is out you can upgrade Lightning and duplicate logging will not occur anymore.
See the updated documentation section:
https://pytorch-lightning.readthedocs.io/en/latest/extensions/logging.html#configure-console-logging

[2021-03-02 09:58] tchaton commented on #6282
Dear @import-antigravity,

From 1.2.0, users are left to properly use call everything.

The `zero_grad` call should be called before each `manual_backward`. As the graph between generator and discriminator are connected.

[code]

<img width="454" alt="Screenshot 2021-03-02 at 09 46 03" src="https://user-images.githubusercontent.com/12861981/109629782-1c6b9980-7b3c-11eb-9b9a-c07c28b78c97.png">

You

[2021-03-02 09:59] #6282 closed

[2021-03-02 09:59] SebastienEske commented on #5293
I figured it out: https://pytorch.org/docs/stable/notes/cuda.html#tf32-on-ampere
TensorFloat support is only available starting from pytorch 1.7+ and from the new generation of NVIDIA GPUs (Ampere)

[2021-03-02 10:46] tchaton commented on #5181
Dear @8greg8,

I checked the notebook and couldn't reproduce the bug.

@awaelchli I have checked the code and it seems we are already supporting `all_gather on cpu and single gpu`.
However, we don't support gradients for TPU.

Best,
T.C

[2021-03-02 10:47] tchaton opened #6295 "all_gather for TPU doesn't support backward gradients."
Currently, we rely on `AllGatherGrad` to compute gather for GPUs.

TODO:
- [] Extend this class to support TPU
- [] Add tests

[2021-03-02 10:48] tchaton commented on #5181
Dear @8greg8,

I checked the notebook and couldn't reproduce the bug.

@awaelchli I have checked the code and it seems we are already supporting `all_gather on cpu and single gpu`.
However, we don't support gradients for TPU. I opened an issue for it.

Best,
T.C

[2021-03-02 10:51] #5455 closed

[2021-03-02 10:51] tchaton commented on #5455
Closing this issue as it seemed to be resolved. Feel free to re-open it.

[2021-03-02 10:56] tchaton commented on #5131
Dear @ludwigwinkler @lizhitwo,

Great find. We attached the function from your optimizer to the LightningOptimizer.
I didn't thought about `__del__` function being triggered.
Let me resolve this quickly.
Sorry for the inconvenience.

Best,
T.C

[2021-03-02 11:27] awaelchli commented on #5181
Yes because that came automatically with the accelerator refactor and the discussion here is before that was introduced.
Today, Trainer always has an accelerator defined. This issue can be closed if you agree.

[2021-03-02 11:57] #6157 closed

[2021-03-02 13:49] NathanGrimaud commented on #6153
Well it works now thanks !
But I cannot get the whole report working
[code]
nvprof isn't supported on nvidia's gpus since the Turing architecture (https://docs.nvidia.com/cuda/profiler-users-guide/index.html#profiling-overview).
But this might belong to a new issue ( or even a PR if I can get it to work ^^)

[2021-03-02 14:20] Michellius commented on #3625
Agree with @S-aiueo32 that this would be a neat solution for logging metrics before training (very useful in transfer learning). Or is there since then another neat solution to do this?

[2021-03-02 14:58] addisonklinke commented on #4876
Thanks for the suggestion - `self.print` would definitely get the job done. Using a specific logger method will not work if you have more than one logger configured though (unless all of them support the same `.whatever_this_logger_supports()` method).

For reference of future readers, I made a [discussion post](https://github.com/PyTorchLightning/pytorch-lightning/discussions/6182) that goes into

[2021-03-02 15:04] SkafteNicki commented on #6201
@alanhdu just tested your script in a multi-gpu setting and it works fine (prints 100 for all epochs). The problem therefore just seems to be with "ddp_cpu" (which I for some reason cannot get working locally), that is only intended to be used for debugging.

[2021-03-02 15:35] awaelchli opened #6303 "ClusterEnvironment interface and improvements"
## 🚀 Feature

In #5915 we started discussing what a good interface for the cluster environment could be and where it is headed in the future.
We should iterate on these ideas.

Some ideas / issues / refactors to discuss:

- [x] there is a small amount of code duplication.
- [x] Review #5102 and determine if interface needs changes
- [x] Add docs for all environments
- [x] Teardown logic: cluster e

[2021-03-02 15:49] jspaezp commented on #6124
@carmocca I agree this would be a nice addition and the implementation seems easy ...

[code]

possibly add a warning as well if a list (and not a dict) is passed so you know that it will get ignored.
let me know if you want the PR. (I could also update the docs)

Kindest wishes,
Sebastian

[2021-03-02 16:03] #6091 closed

[2021-03-02 16:03] #6245 closed

[2021-03-02 16:25] import-antigravity commented on #6282
@tchaton,

The code snippet you provided does not work in the notebook I linked.

![Screen Shot 2021-03-02 at 11 24 15 AM](https://user-images.githubusercontent.com/24441495/109679702-d3badd00-7b49-11eb-8ffd-a8611446bdb7.png)

![Screen Shot 2021-03-02 at 11 23 27 AM](https://user-images.githubusercontent.com/24441495/109679671-caca0b80-7b49-11eb-9772-1d333908380b.png)

[2021-03-02 16:34] nathanpainchaud commented on #5829
Sorry for the long delay in getting back to you on this issue. I tried to fix it by manually rearranging the imports, with the relevant annotations so that this manual placement would be ignored by `isort`. However, I can't seem to be able to make it work like it used to.

In the end, I think it might be better to solve this issue elsewhere for me, either in my own code or upstream with Comet to s

[2021-03-02 16:35] alanhdu commented on #6201
Ah -- I did not know about that feature. Yes, that makes sense to me.

[2021-03-02 17:18] tchaton opened #6306 "Introduce a SecurePlugin"
## 🚀 Feature

### Motivation

### Pitch

PR https://github.com/PyTorchLightning/pytorch-lightning/pull/6212 will add check if PySyft is present, which we would like to avoid.

The idea is to introduce a secure plugin, which will handle those checks instead.

### Alternatives

### Additional context

[2021-03-02 18:54] jgbos commented on #4420
@brando90 If you are using pytorch 1.7 I'd upgrade to nightly 1.8.  I'm having troubles finding it, but there is a PyTorch issue that talks about this being fixed in 1.8.

[2021-03-02 19:44] edenlightning commented on #5717
Please feel free to reopen with a reproducible example!

[2021-03-02 19:45] edenlightning commented on #5439
Feel free to reopen if issue persists!

[2021-03-02 19:45] #5439 closed

[2021-03-02 19:46] edenlightning commented on #5680
Please feel free to reopen with a reproducible example!

[2021-03-02 19:46] #5680 closed

[2021-03-02 19:46] edenlightning commented on #2350
@rohitgr7 is issue still in master?

[2021-03-02 19:47] #6213 closed

[2021-03-02 19:53] rohitgr7 commented on #2350
@edenlightning yes it is just with DP since pytorch DataParallel handles the splitting and transferring of batches to the device internally.

[2021-03-02 20:54] tchaton commented on #5665
Dear @alexander-soare,

Mind trying this PR: https://github.com/PyTorchLightning/pytorch-lightning/pull/6272/

Best,
T.C

[2021-03-02 21:20] addisonklinke commented on #5917
@tchaton I think this should be re-opened. I just tested in v1.2.1 and notice the same unexpected order as @egonuel's second code block. I strongly believe the hook order should follow his first code block, so that we can have an entry point for the "ultimate" epoch end as mentioned.

Also, in the list of available hooks from the [docs](https://pytorch-lightning.readthedocs.io/en/stable/extensions

[2021-03-02 23:02] DavidRimel commented on #5358
Windows 10 user here.. this worked for me

[2021-03-03 00:17] hobogalaxy commented on #5342
@awaelchli Thanks for the suggestions. I will try to make a PR soon.

[2021-03-03 02:22] #4674 closed

[2021-03-03 02:36] Moadab-AI opened #6316 "Efficientnet_pytorch breaks on 'ddp'"
## 🐛 Bug

I'm trying to train an Efficientnet-B0 model using the implementation from  https://github.com/lukemelas/EfficientNet-PyTorch repository.  Now even though it works fine in 'dp' mode it breaks on 'ddp' or 'ddp2' and i keep getting the following error :

I am just using your vanilla mnist script in pl_examples/basic_examples/simple_image_classifier and modified the__init__ and forward meth

[2021-03-03 03:59] dhkim0225 opened #6318 "Default process group is not initialized in setup() function"
## 🐛 Bug

Default process group is not initialized in `Datamodule` `setup()` function.

This is a BC breaking with `PL >= 1.2.0`
With, `PL == 1.1.8` this code works.

Reproduce notebook: https://colab.research.google.com/drive/1AHadRi0Bly9OnzrJFv8XmS2T9Y5zklvg?usp=sharing

### Expected behavior
`fit()` should be work.

### Environment
[code]

[2021-03-03 09:23] DerJFK commented on #6206
@awaelchli When I remove the `num_nodes`  flag I do not get any error and this output

[code]

How can I print the WORLD_SIZE?  Sorry, for the slow response.

[2021-03-03 10:07] taltalim commented on #5865
I'm facing the same issue as described here. Using DDPPlugin(find_unused_parameters=True) does not make a difference, while removing the ModelCheckpoint callback does "solve" the issue. I will try to convert my model to use pl.Metric and see if that helps.

[2021-03-03 10:25] NatashaSvc opened #6319 "AttributeError in .fit() method for Stallion notebook"
## 🐛 Bug

I am running the Stallion kaggle competition notebook and get a` AttributeError: 'str' object has no attribute '__name__'` error when running the trainer.fit() method

`trainer.fit(model=tft, train_dataloader=train_dataloader,val_dataloaders=val_dataloader)`

- OS:
 Mac OS  Catalina 10.15.1

- PyTorch dependencies installed via pip3 install:
  torch==1.7.1
  torchvision==0.8.2
  pytorch-

[2021-03-03 10:55] SkafteNicki commented on #6124
@jspaezp your solution looks very similar to the one I had in mind:
https://github.com/PyTorchLightning/pytorch-lightning/compare/master...SkafteNicki:fix_prefix_arg
Feel free to submit a PR but please wait a couple of days for an update that will come to the metrics package (cannot disclose exactly what right now) :]

[2021-03-03 11:04] leifdenby commented on #3399
Thanks for adding these hooks! I would like to use these to apply transforms across my entire batch when training. How would I find out if a batch is part of the training, validation or test set? I want to make sure I'm only applying augmentations during training. I had a look to see I could get that from a state variable within the trainer, but I don't think I can access that within methods calle

[2021-03-03 12:48] JonasFrey96 commented on #5865
I face the same issue and the problem was resolved by changing the number of workers to 0. This is not an acceptable fix workaround. I assume we have some deadlock when something goes wrong with spaning dataloaders.

[2021-03-03 12:55] SamuelBroughton commented on #6282
@import-antigravity I also have had this problem recently. I am introducing the Discriminator part way through training.

 I too moved `zero_grad()` before the forward pass which is not reflected in the documentation screen shot you provided @tchaton ?

My training step based on the documentation but altered by moving `zero_grad()` to before:

<img width="894" alt="Screenshot 2021-03-03 at 8 50 25

[2021-03-03 13:54] mees opened #6322 "DDP + mixed precision + sharded not working on PL 1.2.1"
## 🐛 Bug

After upgrading to pytorch-lightning 1.2.1, training with DDP + 16 bit precision + sharded is broken, as the training loss doesn't go down (stays around 2.31). Without the sharded option it seems to work.

### To Reproduce

[code]

### Expected behavior

Training loss starts to decrease.

### Environment

* CUDA:
        - GPU: 4x TITAN X (Pascal)
        - available:         True

[2021-03-03 14:09] tchaton commented on #6316
Dear @Moadab-AI,

Can you try with:

[code]

[2021-03-03 14:19] tchaton commented on #6319
Dear @NatashaSvc,

It seems to be related to TensorboardLogger.

Could you share a reproducible script with the BorinModel ?

Best,
T.C

[2021-03-03 14:27] tchaton commented on #5865
Dear @JonasFrey96, @taltalim,@HareshKarnan

Would it be possible for you to work on a reproducible script using the BoringModel.

Best,
T.C

[2021-03-03 14:37] SpirinEgor commented on #5917
Completely agreed with @egonuel that using several `on_epoch_end()` during one epoch is discourage. The epoch ends only ones, so `on_epoch_end()` should be called only ones.

As far as I remember, in previous versions order of hooks were:
[code]
Which is quietly straightforward. And here `on_epoch_end()` can be used to aggregate information from the completed epoch, e.g. printing some metrics or u

[2021-03-03 14:59] addisonklinke commented on #5917
@SpirinEgor I notice @williamFalcon mentions on a [couple](https://github.com/PyTorchLightning/pytorch-lightning/issues/3832#issuecomment-703200707) of other issue [threads](https://github.com/PyTorchLightning/pytorch-lightning/issues/4001#issuecomment-705844942) that users commonly forget the possibility of multiple validation runs per training epoch. This is a good point, so we'd probably want t

[2021-03-03 17:10] okojoalg opened #6328 "gradient_clip_val+manual_backward isn't working on PL1.2.1"
## 🐛 Bug

After upgrading to pytorch-lightning 1.2.1, training with gradient_clip_val+manual_backward is broken. An error has occurred.

### To Reproduce

[code]

Regards,

[2021-03-03 17:13] okojoalg commented on #6328
I forgot to mention the error.

[code]

[2021-03-03 17:29] 123mutourener commented on #6200
This problem also happens when I want to accumulate the ConfusionMatrix. In the "validation_epoch_end" function, I called .compute() and then I got a wrong matrix. It is multiplied by the number of num_processes. For example, if the accomulated matrix is [[1,0],[0,1]], what I get is [[4,0],[0,4]] if num_processes is set to 4.

[2021-03-03 18:45] tchaton commented on #6328
Dear @okojoalg,

Thanks for reporting this bug !

Since 1.2, the `optimizer` is not used by `manual_backward`.
We should move clipping inside the `opt.step()`.
There might be an edge-case with use closure, but we could wrap the closure and call grad_clipping after it is executed.

@awaelchli @justusschock What are your thoughts ?

Best,
T.C

[2021-03-03 21:49] DeWittmm opened #6332 "Validation not called when using an IterableDataset and `limit_train_batches` flag"
When using an IterableDataset the `limit_train_batches` trainer flag will prevent the validation loop from being called. Here is  [a simplified notebook to reproduce the issue](https://colab.research.google.com/drive/1TMQigHK4G6egC1IXj-YnRu0P-L3zAA_K?usp=sharing). Note this error may manifest as:

if only `limit_train_batches` is set, but can also interfere with model checkpointing if the `limit_v

[2021-03-03 22:03] colllin commented on #5374
I ran into this too, and refactored my code to init two separate trainers and models and `tune()`d the `batch_size` and `learning_rate` separately.  Then, out of an abundance of caution, I re-init the trainer and model again before calling `fit()`.

In case it helps as a clue, when I was debugging this, it seemed that the `auto_scale_batch_size` functionality does not properly replace the original

[2021-03-03 22:07] timothybrooks opened #6333 "Support ModelCheckpoint saving at step intervals and fractional epoch intervals"
## 🚀 Feature
Currently, ModelCheckpoint supports the `period` option, which specifies the epoch interval for saving checkpoints, and must be an integer. In general and especially for extremely large datasets, it would be useful to support finer control over when to save checkpoints.

### Motivation

I am training models with huge datasets, thus making the interval between epochs so large that savi

[2021-03-03 22:16] ananthsub commented on #6333
Would this work for you? #6145
#6286 is another extension i'd like to land to give checkpointing more flexibility

[2021-03-03 22:29] colllin opened #6335 "auto_scale_batch_size fails with datamodule in pl==1.2.*, succeeds in pl==1.1.8"
## 🐛 Bug

Running `trainer.tune(model, datamodule=dm)` succeeds in `pl==1.1.8`, but fails in `pl==1.2.*` (tested both `1.2.0` and `1.2.1`) with error:

[code]

## Please reproduce using the BoringModel

https://colab.research.google.com/drive/1vgPLCwLg7uACtb3fxVp-t-__NtZ3onsD?usp=sharing

### Expected behavior

Prior to `pl==1.2.0`, it successfully detected and tuned the `dm.batch_size` property.

[2021-03-03 22:37] timothybrooks commented on #6333
Yes, from the description #6145 would be exactly what I need! Time based is a good idea as well, although less important for my particular use case. Is there a target release for #6145?

[2021-03-03 23:05] awaelchli commented on #6318
I believe this is the PR that changed this behavior: #5858
As a workaround, you should be able to move the code you have in setup() to the train_dataloader method.

[2021-03-03 23:07] timothybrooks opened #6338 "Support save_hyperparameters() to checkpoints without sending to logger"
## 🚀 Feature
`self.save_hyperparameters()` is an awesome simple way to save input arguments with checkpoints such that when loading a checkpoint the module will be constructed with the same parameters. The method also seems to log the hyperparameters to the experiment logger, which is not always desired. It would be great to add a flag to turn this on or off.

### Pitch

Add a `log=True` flag, whi

[2021-03-03 23:27] timothybrooks opened #6339 "Remove training_step returned None user warning when automatic_optimization=False"
## 🐛 Bug

When using manual optimization by setting the property `automatic_optimization=False`, it is not necessary (and sometimes undesirable) for `training_step()` to return a loss output. For example, in the case of GANs or other models with complex multi-optimizer setups, manual optimization can be preferable or necessary for the correct behavior. The user warning should therefore be omitted

[2021-03-03 23:43] ananthsub commented on #6333
i'm actively working on it #6145 - ideally this will be available by the next release, but definitely within the next few weeks

[2021-03-03 23:57] awaelchli commented on #2350
@edenlightning Even though this issue was originally reported as a bug, it is really not a bug. We document that DP is not supported for this hook.

As mentioned already https://github.com/PyTorchLightning/pytorch-lightning/issues/2350#issuecomment-781292760
the users can provide their own DP wrapper as they would anyway have to in regular pytorch code. We could add documentation for how to do tha

[2021-03-04 04:27] import-antigravity commented on #3651
Hi, I'm having this issue as well. I don't like that you have to basically circumvent the normal functionality of the code in order to get it to work...

[2021-03-04 08:50] akihironitta commented on #6335
@colllin Thank you for reporting the issue. I confirmed the bug in 1.2.* which didn't happen in <1.2. I think this issue should be addressed in #5968 by @awaelchli.

[2021-03-04 09:30] alexander-soare commented on #5665
@tchaton just gave it a shot here https://www.kaggle.com/alexandersoare/pytorch-lightning-tpu-error?scriptVersionId=55790594
The undefined symbol error is one of those ones that I've seen happening sometimes (and sometimes not).

[2021-03-04 10:46] jamesjjcondon commented on #4450
Unfortunately not @hkmztrk . Just have to restart periodically.
I think this is pretty low-level, possibly even python multiprocessing related.
Haven't tried with python3.8, yet, but not convinced it'll make a difference.

[2021-03-04 10:48] jzazo commented on #5921
Why did you close? Is there a logger already available? (apparently an old one existed, but cannot find it in newer PL versions).
Also, it is not clear from ClearML documentation how to log tables/metrics/figures/etc using PL.

[2021-03-04 10:56] carlomarxdk commented on #5358
I am on Pytorch-Lightning 1.2.1. and it seems I still run into the issue on Windows if I set accelerator to "dp". I am training on 1 GPU.
I encounter this issue when I use DeepSpeed plugin.

[2021-03-04 11:15] awaelchli commented on #5358
@carlomarxdk is deepspeed supported on windows? I can't find any mention of it, so probably not.

[2021-03-04 11:49] TezRomacH commented on #5921
I closed id, cuz i have found that ClearML is already compatible with PL

https://github.com/allegroai/clearml/blob/master/examples/frameworks/pytorch-lightning/pytorch_lightning_example.py

[2021-03-04 12:19] jzazo commented on #5921
If you do `self.log("var", var)` inside a PL model, will it work? I imagined that if would record gradients and other simulation associated metrics. Can you confirm if you have tried? Thanks.

[2021-03-04 12:34] TezRomacH commented on #5921
it wont :(

But, i suppose you might try to get logger
[code]

and use it as `logger.report_histogram(...)` inside lightning model
https://github.com/allegroai/clearml/blob/912f6f5ba2328b26de042de03f02de5802df360f/clearml/logger.py

[2021-03-04 12:56] tchaton opened #6343 "trainer.training_type_plugin.broadcast doesn't seem to work properly"
## 🐛 Bug

## Please reproduce using the BoringModel

### To Reproduce

Use following [**BoringModel**](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing) and post here

### Expected behavior

### Environment

**Note**: `Bugs with code` are solved faster ! `Colab Notebook` should be made `public` !

* `IDE`: Please, use our python [bug_report_model.py](https://gi

[2021-03-04 13:13] jzazo commented on #5921
Thanks. The ClearML logger is a nice alternative, but a Lightning logger is still necessary to interface with the PL logging tools. Maybe consider reopening your issue? I think it would be worth having such a logger.

[2021-03-04 13:32] pintonos commented on #2544
Any updates on this?

[2021-03-04 15:28] carmocca commented on #3912
Duplicate of https://github.com/PyTorchLightning/pytorch-lightning/issues/5982

Closing in favor of that one since it has more discussion

[2021-03-04 15:28] #3912 closed

[2021-03-04 15:59] carmocca opened #6346 "[RFC] Gradient clipping hooks in the LightningModule"
## 🚀 Feature

Add clipping hooks to the LightningModule

### Motivation

It's currently very difficult to change the clipping logic

### Pitch

[code]

The default implementation would be the same as we currently provide, where the trainer clipping parameters are used.

Maybe those would be deprecated in favor of LightningModule properties.

[code]

Need to evaluate the limitations since clipping

[2021-03-04 16:02] tchaton commented on #6346
@SeanNaren Any thoughts ?

[2021-03-04 16:03] carmocca commented on #6339
Is this not the case already in master?

https://github.com/PyTorchLightning/pytorch-lightning/blob/6166f46281d77830cf88b1cb8dc050c0312fcfcf/pytorch_lightning/trainer/training_loop.py#L743-L765

what version are you using?

[2021-03-04 17:12] rohitgr7 commented on #6346
Thanks @carmocca for bringing this up ☺️. This is on my TODO list actually but I kept pushing it further due to refactors. It would be great to have this since it's a part of optimization just like optimizer_step.

[2021-03-04 17:26] okojoalg opened #6348 "dp + manual_optimization is not working on PL 1.2.1"
## 🐛 Bug

dp + manual optimization is not working on PL 1.2.1
I am setting automatic optimization = False in my model and giving `Trainer()` `accelerator='dp'`

### Expected behavior
[code]

### Environment

 - PyTorch Version (e.g., 1.0): 1.7.1
 - OS (e.g., Linux): Linux
 - How you installed PyTorch (`conda`, `pip`, source): pip
 - Build command you used (if compiling from source):
 - Python vers

[2021-03-04 17:38] coloss commented on #6180
I actually use the version where I specify a float, so I could validate in "sub-epochs". I guess I could still do what you say, but put the condition into `training_step_end` and just log whenever the desired fraction of the entire epoch is process. Somehow it feels a little hacky though.

[2021-03-04 17:41] coloss commented on #6180
thanks, @tchaton , Looking at the implementation,  `log_every_n_steps` is set to 50 by default if you don't specify otherwise. I don't believe this parameter helps me to log training loss for a fraction of an epoch.

[2021-03-04 18:58] #4400 closed

[2021-03-04 19:02] #6003 closed

[2021-03-04 19:25] jgbos commented on #5865
I'm having the same issue that goes away when using the default `ModelCheckpoint` settings.  Seems to be a problem with setting `monitor` and `save_top_k`.  I have not been able to achieve the same issue with `BoringModel`.

[2021-03-04 19:45] #6322 closed

[2021-03-04 19:52] keunwoochoi opened #6351 "OOM in dataloader resulted in unexpected termination of an epoch"
Tested on Linux, PL 1.1.3.

So, for some reason my dataloader takes a huge memory and because of that, the child process for the dataloader was terminated.
That didn't lead to the complete termination of the training. It was in the middle of the very first epoch, and seems like the trainer module misunderstood that the first epoch is complete. It also seems like the validation process didn't happe

[2021-03-04 20:11] #5131 closed

[2021-03-04 20:34] timothybrooks commented on #6339
I am using the stable release 1.2, so if it has since been addressed in master that is great. In my version this block is nearly the same, but line 743 uses `self.trainer.train_loop.automatic_optimization` instead of `self.automatic_optimization`. Perhaps this was the cause of the issue since `automatic_optimization` migrated from a training flag to a module property? In any case, if the warnings

[2021-03-04 23:10] #6193 closed

[2021-03-05 00:57] s-rog commented on #6180
If you're using pl metrics you can also add data points in the training step, manually call compute at custom step intervals and log the output.

[2021-03-05 02:17] rudaoshi commented on #6122
Thank you for your help.

logging.info(...) works in the callback, but pl_module.log(...) is not working. It says that pl_module.log(...) not permit in on_validation_end .

[2021-03-05 02:22] rudaoshi commented on #6121
Thank  you for your response. So is there a DDPCPUPlugin for ddp_cpu accelerator so that I can set the find_unused_parameters = true?

Actually, I'd rather suggest that set the find_unused_parameters default to true.  Since the pretrained model is the main stream methodology in deep learning, and there are aways unused parameters in the pretrained model.

[2021-03-05 07:52] #5735 closed

[2021-03-05 08:02] kapsner commented on #2908
Any update on this? Is this working? I am trying to log loss and accuracy using 2 ModelCheckpoints, however, with regards to the model checkpoint filenames, logging for accuracy seems not to work as it says always "0.00" for the "best" value.

[2021-03-05 08:34] jspaezp commented on #6124
Hello @SkafteNicki I like the idea of your implementation and I think it could add as well an optional argument to the `clone` method.

I am thinking something like ...

[code]

Since it would make it a lot easier to make clones of large collections (train and test metrics for instance ...)
let me know when you feel would be a good time to work on it (although i feel like you got it covered, thank

[2021-03-05 09:55] SpirinEgor commented on #5917
Yes, it is a good point about multiple validations during one epoch. I agree that the order should look like you mention.
I'm already using the custom hook similar to the one you described. But I find it as a temporary solution.

I think the case with multiple validations can be handled with a simple list of results inside the trainer.

[2021-03-05 10:08] karolpiczak commented on #2010
I'm having similar issues with continual learning and calling fit multiple times. I've just rerun the provided colab notebook on Lightning 1.2.1 and it seems to persist:
![image](https://user-images.githubusercontent.com/215618/110100559-d49a7b80-7da2-11eb-9981-e03c15417974.png)

Any thoughts what could be causing this?

[2021-03-05 12:46] shamanez opened #6359 "trainer.global_step print repetitive steps when there are more that one gradient_accumulation_steps"
I am using the latest pytorch_lighting version from conda.  Seems in this version, trainer.global_step change with gradient accumulation steps.  Also, the number of entire training steps. In the previous version, this wasn't the case.

What is the correct approach if I want to do some task in every 5000 training steps? should I use self.trainer.global_step or batch_idx ?

When I use self.trainer.g

[2021-03-05 13:09] awaelchli commented on #6348
thanks for reporting this
is this reproducible with the bug_report_model?

[2021-03-05 14:38] rohitgr7 commented on #6335
closing this then. duplicate: https://github.com/PyTorchLightning/pytorch-lightning/issues/5967

[2021-03-05 14:41] rohitgr7 commented on #6339
@timothybrooks are you training in distributed env (ddp, dp, ...)??

[2021-03-05 14:51] awaelchli commented on #5967
[code]

minimal reproducible example

[2021-03-05 15:22] VCasecnikovs commented on #5967
I have the same issue.
Found out where is the problem.
The problem is that model doesn't have an attribute trainer (`model.trainer`), so it cannot find `model.trainer.datamodule` when using `lightning_hasattr(model, batch_arg_name)`.

If you first call fit, the problem does not accure, because fit calls ` self.model_connector.copy_trainer_model_properties(model)` where trainer is added to model `m

[2021-03-05 15:24] awaelchli commented on #5967
See the linked PR I am already working on

[2021-03-05 15:35] VCasecnikovs commented on #5967
@awaelchli, sorry, didn't manage to find it. Looks nice and allows to use autoscalebatch and lrfinder without calling tune. Hope for faster approval.

[2021-03-05 15:36] awaelchli commented on #5967
Yes, working on adding tests right now, hopefully done soon!

[2021-03-05 15:46] VCasecnikovs commented on #5967
Could You explain why do we have to add this also to lr_finder?

[2021-03-05 16:14] awaelchli commented on #5967
Because for LR finder it will be a similar bug, just not with batch_size but with the lr attribute.
But I will remove these lines and to that in a different PR. This was just for testing. It is work in progress.

[2021-03-05 16:18] VCasecnikovs commented on #5967
Will it? Because we can not write LR in datamodule, but only in the PLmodule. I can not reproduce this bug with learning rate.

[2021-03-05 16:46] annikabrundyn commented on #5733
hi @SkafteNicki :) I'm using SSIM as a loss and noticing the same issue of memory blowing up and I don't think it's related to logging.

I've replicated with the boring model - https://colab.research.google.com/drive/1xju-i6w4sdy6pWSDgp_wB_Xvhnko5J8t?usp=sharing

Mind taking a look?

[2021-03-05 16:53] justusschock commented on #6359
Hi,

You should use `self.trainer.global_step` since that one counts the backward passes, whereas `batch_idx` covers only the forward passes (there may be more forward passes then backward passes when accumulating gradients).

[2021-03-05 17:09] shamanez commented on #6359
Hi,

Thanks a lot. But I checked by printing self. trainer.global_step inside the training loop. The problem is then the counter value keeps repeating (equals to accumilate_gradieit_steps ).

So then the function inside the If condition will also keep repeating.

[2021-03-05 17:15] shamanez commented on #6359
@justusschock
something like this

![image](https://user-images.githubusercontent.com/16892570/110149768-4d511480-7e43-11eb-889d-ee2e93e3cd05.png)

[2021-03-05 17:25] PengyuWang commented on #4612
I met the same problem as well.

1, DDP and DP works well in PyTorch.
2, DP works well in PyTorch Lightning, but sometimes DDP stuck on "initalizing ddp".

Please fix it.

[2021-03-05 18:17] edenlightning commented on #6343
@justusschock mind taking a look?

[2021-03-05 18:20] shrinath-suresh opened #6362 "ImportError: cannot import name 'Batch' from 'torchtext.data' - pytorch 1.8 and torchtext 0.9"
## 🐛 Bug

Unable to import pytorch lightning - 1.2.2 with pytorch 1.8 and torchtext 0.9.

### To Reproduce

Install Pytorch 1.8 - `conda install pytorch torchvision torchaudio cudatoolkit=10.2 -c pytorch`
Install torchtext 0.9 - `pip install torchtext`
Install pytorch lightning 1.2.2 - `pip install pytorch_lightning`

Open python prompt and import pytorch lightning

Error log - pytorch_lightning_i

[2021-03-05 18:22] Jumperkables commented on #6140
This please

[2021-03-05 18:23] edenlightning commented on #6351
Can you share a code we can try to reproduce with? Preferably using[ this colab](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing)

also have you tried upgarding to 1.2?

[2021-03-05 18:48] annikabrundyn commented on #5733
Just saw this in the docs - so I guess manual reset is required :)

<img width="886" alt="Screen Shot 2021-03-05 at 1 46 20 PM" src="https://user-images.githubusercontent.com/42869932/110159815-2ea63b80-7db9-11eb-9d38-eb41c2ba0323.png">

[2021-03-05 18:53] RemiLacroix-IDRIS opened #6364 "DDP: Multiple processes try to create the logger directory tree"
## 🐛 Bug

An user from our supercomputing center run into an issue which I think turned out to be a bug in PyTorch-Lightning.

When using the DDP accelerator together with a logger, multiple processes will try creating the logger directory tree, causing some errors about already existing directories or files.

## Troubleshooting

PyTorch-Lightning uses extensively the `rank_zero_only` function to

[2021-03-05 19:13] timothybrooks commented on #6339
Yes in DDP.

On Fri, Mar 5, 2021 at 6:42 AM Rohit Gupta <notifications@github.com> wrote:

[2021-03-05 19:25] its-dron opened #6366 "Unable to use Trainer.predict: 'Trainer' object has no attribute 'predict_dataloaders'"
## 🐛 Bug

Unable to use the new `Trainer.predict` method with datamodule input. The following error is thrown: `AttributeError: 'Trainer' object has no attribute 'predict_dataloaders'`

Best I can tell, the error originates from this line: https://github.com/PyTorchLightning/pytorch-lightning/blob/6cc1a060785448eacd016f6689d592ac822adaaf/pytorch_lightning/trainer/predict_loop.py#L33

Additionally,

[2021-03-05 19:34] tchaton commented on #6366
Dear @its-dron,

It is still an experimental feature and will change. But you can add a predict_dataloader to your DataModule and it should work.

Best,
T.C

[2021-03-05 20:02] ayulockin commented on #1243
I don't know if this is relevant here but I was able to build a custom callback that was able to log images along with the predictions to the Weights and Biases dashboard.

[code]

This is the associated [colab notebook](https://colab.research.google.com/drive/12oNQ8XGeJFMiSBGsQ8uth8TaghVBC9H3?usp=sharing). Associated W&B's [run page](https://wandb.ai/wandb/wandb-lightning/runs/2272kyy6).

[2021-03-05 20:12] #6153 closed

[2021-03-05 20:30] keunwoochoi commented on #6351
Hi, unfortunately the code is relying a lot on internal source code and infrastructure so I can't share anything real. Just wanted to share that such a thing has happened with PL somewhere :)

[2021-03-05 20:35] festeh commented on #1243
Your code indeed separates logic of lightning module from callback, but it does some additional work. I noticed that Callback now also has `on_validation_batch_end` so czozzi's method can be applied at validation time too (same for test). Also `on_*_batch_end` now provides an actual batch, so use case from https://github.com/PyTorchLightning/pytorch-lightning/issues/1243#issuecomment-605536194 is

[2021-03-05 20:39] #6362 closed

[2021-03-05 21:10] SkafteNicki commented on #5733
@annikabrundyn yes sorry for not getting back to you before now. So from v1.2 and onwards you will need to reset the metric yourself.
However, from the code you send it seems like you are not using the metric interface for accumulation (over multiple batches) but just for calculating the SSIM score on a single batch. In that case I highly recommend that you just use fthe functional counterpart:
`f

[2021-03-05 23:03] #6366 closed

[2021-03-05 23:14] Anjum48 commented on #5865
I've been running into this issue with 1.18 & 1.2.1 the last few days with ddp and 2 GPUs

Things tried:
- Upgrade from Pytorch 1.7, to 1.8
- Upgrade drivers from 450 to 460
- Upgrade from CUDA 10.2 to 11.2
- Upgrade NCCL to latest
- Rebuild entire conda env
- Remove all loggers (in case of wandb multithreading)
- os.environ["WANDB_START_METHOD"] = "fork"
- cv2.setNumThreads(0)
- DDPPlugin(find_un

[2021-03-06 00:24] dipam7 commented on #6160
Hey, @awaelchli it seems like you were right. RTD creates a default robots.txt file on the RTD server and I would need access to that to change anything. But it seems like a simple ``` Disallow: /path/to/version/ ``` line in the robots.txt should work to avoid earlier versions from being indexed.

I may be able to add a robots.txt under ``/docs`` but I don't know how the tree structure of the vers

[2021-03-06 00:39] awaelchli commented on #6285
Thanks for reporting this.

[code]

Minimal repro code based on code provided by @indigoviolet
The comment in `on_fit_start` callback shows what we need to fix.

[2021-03-06 02:53] awaelchli commented on #6285
@indigoviolet I propose this fix here: #6372
let me know if that solves your issues.

[2021-03-06 03:00] okojoalg commented on #6348
thanks for your comment.
it took time to reproduce the bug report with a simple model.
we can reproduce it with the following model.

[code]

[2021-03-06 05:26] kapsner commented on #6224
Maybe it would be also helpful, if such changes would also be announced in the console in the future... one might not read the full docs with every version update.

[2021-03-06 07:43] shrinath-suresh commented on #6362
@Borda Thanks for the fix. When can we expect the next release (i see the PR is merged to master) ?

[2021-03-06 08:48] Anjum48 commented on #5865
I think I've isolated the issue from the discussion in https://github.com/PyTorchLightning/pytorch-lightning/issues/5604#issuecomment-785783418.

This issue started when I switched the `ModelCheckpoint` monitor from AUC (using PL metrics and `dist_sync_on_step=True`) to `val_loss`. `val_loss` was not being synced between the 2 GPUs, so adding this line:

[code]

In `validation_epoch_end` fixed the

[2021-03-06 11:17] ifsheldon commented on #5865
I can see the same issue when running my training script. My `pl` is 1.2.1. Still trying out which approaches mentioned above is useful in my case.

[2021-03-06 11:19] dalek-who opened #6376 "When I called Trainer.test, some hooks fit are also called"
## 🐛 Bug

When I called Trainer.test, some hooks fit are also called, which including: on_fit_start, on_fit_end, and teardown(stage=fit)
I found a similar issue of setup(stage=fit), that bug has been fixed, but seems these hooks also have this bug
https://github.com/PyTorchLightning/pytorch-lightning/issues/2715#issue-665835081

## Please reproduce using the BoringModel

https://colab.research.goo

[2021-03-06 11:23] ifsheldon commented on #5865
Can you please detail how your `val_loss` is implemented? I think your reasoning is reasonable. But, if I just want some simple metrics(not the pl metric) to be recorded, what can I do?
My validation code is
[code]

[2021-03-06 11:53] Anjum48 commented on #5865
`self.all_gather` will return a tensor of shape `[num_gpus, x]` where x is the result from a single GPU. If you're only syncing a scalar, then you can just take a mean (or min/max/std) like in my example.

If for example, x is not a scalar (e.g. you want to calculate IoU or something), you can combine them using something like:

[code]

At the moment I'm working on a joint segmentation & classific

[2021-03-06 12:43] ifsheldon commented on #5604
I suggest:
* put a reminder in the section of `Logging` of the doc that logging with distributed training need special handling and care, and then refer to the section Multi-GPU training/Prepare your code/Synchronize validation and test logging
* add more examples of properly overriding hooks like `validation_epoch_end` in the section Multi-GPU training/Prepare your code/Synchronize validation and

[2021-03-06 15:08] awaelchli commented on #6376
While it is an undesired behavior, it is indeed expected given the current flow in Trainer.
We test these cases here:
https://github.com/PyTorchLightning/pytorch-lightning/blob/85c8074beefd81cce12823c5bca7e5f6e93f237d/tests/callbacks/test_callbacks.py#L109

and because `Trainer.test` calls `Trainer.fit` internally, then it makes sense that these hooks get called.

To overcome this, a larger refact

[2021-03-06 16:08] nosebrain opened #6378 "trainer.fit must be called before trainer.predict else predict fails with Misconfiguration Exception"
## 🐛 Bug

I am trying to use the new `predict` API of the trainer by loading a checkpoint. But it seems that `trainer.fit` must be called before `trainer.predict` else the config validator fails:

[code]

### To Reproduce

[code]

### Expected behavior

Get the predictions of the data source.

### Environment

 - PyTorch Version (e.g., 1.0): 1.2.2
 - OS (e.g., Linux): macOS, Linux
 - How you insta

[2021-03-06 16:29] turian commented on #4409
Related to this discussion: https://github.com/PyTorchLightning/pytorch-lightning/discussions/6253

[2021-03-06 16:30] turian commented on #5413
Related to this discussion: https://github.com/PyTorchLightning/pytorch-lightning/discussions/6253

[2021-03-06 17:15] #6137 closed

[2021-03-06 17:15] #6339 closed

[2021-03-06 18:04] kaushikb11 commented on #6343
@tchaton Could you please elaborate on what exactly wasn't working properly while broadcasting?

[2021-03-06 18:09] akihironitta opened #6379 "Don't `lr_scheduler.step()` in manual optimization"
## 🚀 Feature
Currently, `lr_scheduler.step()` is called in both manual and automatic optimization. We should let users call `lr_scheduler.step()` manually in manual optimization for ultimate flexibility. Requested by @carmocca.

[2021-03-06 18:17] awaelchli commented on #6348
thanks for the repro script, very helpful. So far what I have observed is that the failure is random!

[2021-03-06 18:30] akihironitta commented on #6282
@import-antigravity @SamuelBroughton We recently updated the docs for manual optimization, so could you have a look at [the latest docs](https://pytorch-lightning.readthedocs.io/en/latest/common/optimizers.html)? Please let me know if there's still a problem.

[2021-03-06 18:36] import-antigravity commented on #6282
Does that code not work? It looks fine.

[2021-03-06 18:52] SamuelBroughton commented on #6282
Yes this works, I was just supporting what you mentioned about needing to move `zero_grad()` calls.

[2021-03-06 18:59] awaelchli commented on #6364
@RemiLacroix-IDRIS thanks for the report. I can confirm this issue with lightning version >= 1.2.
Your observations are correct.
I prepared a fix #6380 that delays the initial calls to the logger after the rank information is correctly available.

If you wish to test the fix you can install from my branch like this:
`pip install git+https://github.com/PyTorchLightning/pytorch-lightning@bugfix/logg

[2021-03-06 19:35] annikabrundyn commented on #5733
you're right! thanks so much for the help @SkafteNicki

[2021-03-06 21:00] fonnesbeck opened #6381 "fit hangs on single GPU"
## 🐛 Bug

I have a relatively simple model that I am trying to fit using a GPU (both on AWS and Colab):

[code]

I'm fitting it using the following command:

[code]

where the my dataset uses FloatTensors that are sent to `cuda()`.

[code]

However, when run it hangs before the first epoch:

<img width="579" alt="Screen Shot 2021-03-06 at 2 56 47 PM" src="https://user-images.githubusercontent.com/

[2021-03-06 21:13] davzaman commented on #2580
I have implemented a version of this in my own project, would anyone like to collaborate on making a PR for this?

[2021-03-06 21:22] fonnesbeck opened #6382 "TPU setup in docs results in import failure for flash.Task"
I am following [TPU setup instructions](https://pytorch-lightning.readthedocs.io/en/0.7.5/tpu.html#colab-tpus) on a clean Colab notebook. When I do so and attempt to import `flash.Task` I get the following error:

`ImportError: /usr/local/lib/python3.7/dist-packages/_XLAC.cpython-37m-x86_64-linux-gnu.so: undefined symbol: _ZN2at13_foreach_add_EN3c108ArrayRefINS_6TensorEEENS1_INS0_6ScalarEEE`

This

[2021-03-06 21:23] fonnesbeck commented on #6382
Actually, looking at the install log, I see the following:

[code]

It looks like the install instructions need to be updated.

[2021-03-06 21:46] annikabrundyn opened #6383 "ssim functional metric not working with 16 bit precision"
## 🐛 Bug

ssim functional metric doesn't work with native 16 bit precision

## Please reproduce using the BoringModel

https://colab.research.google.com/drive/1Wzxjq-oQavT-kg9go9Ti-AcCEhuir7H9?usp=sharing

if you remove 16 bit precision from trainer it works but with 16 bit precision it gives the following error:

```TypeError: Expected `preds` and `target` to have the same data type. Got pred: to

[2021-03-06 22:11] import-antigravity commented on #3651
This is still an issue in 1.2.1

[2021-03-06 22:22] import-antigravity commented on #3651
Update: calling `ray.init()` causes this error even with the "hack", effectively making distributed computing impossible. You can only use ray tune on a single node

[2021-03-07 00:19] cccntu commented on #5413
Sorry for the late reply. I use `val_check_interval=n` to evaluate every `n` steps, using `check_val_every_n_epoch=n` would be evaluating every `n` epochs.

Using together with `max_steps=m`, I can make sure the number of training steps don't change if the dataset size changes.

[2021-03-07 00:39] cccntu opened #6385 "Replace `val_check_interval` and `check_val_every_n_epoch` with `val_steps` and `val_epochs`"
## 🚀 Feature

Replace `val_check_interval` and `check_val_every_n_epoch` with `val_steps`  and `val_epochs`.
The logic also needs to be modified:
Currently:
* `val_check_interval=n`: n epochs if float;  n steps if int
* `check_val_every_n_epoch=n` n epochs, cannot be used with `float`

Proposed:
* `val_steps=n`: n steps, cannot be used with `float`
* `val_epochs=n` n epochs if float/int

### Motiv

[2021-03-07 01:07] junjy007 commented on #5325
I got into this issue from the one requesting to be able to save every-n-steps [link](https://github.com/PyTorchLightning/pytorch-lightning/issues/2534).

Restraining checkpointing at every epoch is hugely innocent, especially when the dataset is large, which is the main reason I chose pytorch-lighting to organise the experiments in a more systematical way.

[2021-03-07 01:57] ananthsub commented on #6343
@tchaton @carmocca I think there's definitely one issue with the model checkpoint, which is that the values for the `monitor` and for any monitor candidates that end up in the filename must be synced. Otherwise we end up with inconsistent filenames and state across ranks if we use the local values.

A separate issue we recently encountered is this:
Rank 0 has no issues with saving a checkpoint

Ra

[2021-03-07 01:58] dalek-who commented on #6376
@awaelchli However，if we run fit and test, teardown would be called three times:
* teardown("fit") in trainer.fit
* teardown("fit") in trainer.test
* teardown("test") in trainer.test
using *stage*, operations in teardown("fit") will still be called twice, because we can't recognize who call  teardown("fit")

[2021-03-07 02:03] carmocca commented on #6343
This has been reported here: https://github.com/PyTorchLightning/pytorch-lightning/issues/6138

[2021-03-07 02:09] ananthsub opened #6387 "Support for sharded optimizers when dumping checkpoints outside of the DDP sharded training type plugin"
## 🐛 Bug

Using fairscale distributed optimizers without DDP sharded leads to crashes or inconsistent stae in the trainer when checkpointing. This will also occur with PyTorch's latest prototype version of the ZeroRedundancy optimizer. @SeanNaren

Imagine this scenario:
- Someone wraps their optimizer with Fairscale OSS inside their lightning module. The user *does not* use the DDP sharded plugin.

[2021-03-07 02:44] awaelchli commented on #6381
`return FloatTensor(X).cuda(), FloatTensor(y).cuda()` in your dataset looks suspicious. This shouldn't be in the dataset code (also PyTorch does not recommend this).

Remove it and try again.

[2021-03-07 03:12] awaelchli commented on #6376
Well, turns out @carmocca is already working on that #6386

[2021-03-07 03:24] carmocca commented on #6378
Hi! Thanks for reporting! This is fixed in current master

Please keep in mind that `trainer.predict` is experimental and subject to change.

[2021-03-07 03:24] #6378 closed

[2021-03-07 03:31] awaelchli commented on #6383
There is an explicit check in ssim for the dtype
https://github.com/PyTorchLightning/pytorch-lightning/blob/966184a452c773a691b063195c817f3aed899f16/pytorch_lightning/metrics/functional/ssim.py#L42

However, even if both preds and target are half tensors (to avoid the reported exception), we find that ssim does not support half tensors:

[code]

Raises:
[code]

[2021-03-07 03:38] awaelchli commented on #6383
@ydcjeff do you have an idea if ssim can be written to support float16?

[2021-03-07 04:02] awaelchli commented on #6160
Actually I think this needs to be entirely configured in the pytorch lightning account at RTD. The docs here explain about how one can choose version to be "hidden", i.e. invisible to search engines:

https://docs.readthedocs.io/en/stable/versions.html#version-states

@Borda do you have access to RTD and can set old versions as "hidden"?

[2021-03-07 05:45] #5555 closed

[2021-03-07 05:45] #5676 closed

[2021-03-07 05:45] #5683 closed

[2021-03-07 05:48] awaelchli commented on #6228
I opened a draft PR #6388. I present two options how to inform the user about this change:

a) There are probably not many users that input a string. Implement the change now for 1.3 and warn the user that the gpus flag has changed it's meaning.
b) Announce the change with a deprecation warning. In v1.5 implement the actual API change.

[2021-03-07 06:01] awaelchli commented on #5547
No, we cannot implement the change proposed to @AsaphLightricks
In general, the total_batch_idx is different from global_step and we log on global steps (normally).
This looks like a matter of resuming wandb with the correct initial step. And the issue with step not monotonically increasing was solved in #5931 by @borisdayma  right?

[2021-03-07 06:21] ydcjeff commented on #5676
Reopened

[2021-03-07 06:49] blefaudeux commented on #6387
This is new to me, but on fairscale's side it's easy to make the checkpointing compatible with calls from all ranks. It was not the default because some frameworks (classy and vissl at least) only call state_dict from a single rank, and until now I thought that lightning was doing the same, if it's useful then both behaviors can be supported through a flag for instance

[2021-03-07 06:56] amogkam opened #6389 "Disable automatic SLURM Detection"
## 🚀 Feature

I want to run my PTL script on a SLURM cluster, but I don't want to use the built in SlurmConnector since I am using Ray to handle distributed training. When using Ray and the SlurmConnector, it results in this error: https://github.com/PyTorchLightning/pytorch-lightning/issues/3651. Is there a way I can disable automatic SLURM detection? Having an environment variable to disable thi

[2021-03-07 09:42] KijitoraButi opened #6390 "Fitting hangs at "cleaning up ddp environment..." when tpu_cores=8"
## 🐛 Bug

When setting `tpu_cores` of Trainer to 8, fitting hangs at "cleaning up ddp environment...".

## Please reproduce using the BoringModel

https://colab.research.google.com/drive/1tJswNaT0I-GrGsi6ngwwRDUmeFY1pFr3?usp=sharing

### To Reproduce

Run above URL notebook.

### Expected behavior

Trainer.fit ends normally .

### Environment

 - PyTorch Version (e.g., 1.0): 1.7.0a0+7e71a98
 - OS

[2021-03-07 11:22] SeanNaren commented on #6318
hey @dhkim0225 thanks for making the issue!

@awaelchli to copy the offline discussion we had:

I don't think #5858 is directly the reason, DDP used to override the setup function and call the hook later itself: https://github.com/PyTorchLightning/pytorch-lightning/blob/7f8fdda9a2c43e679e29fca[…]367c55/pytorch_lightning/accelerators/legacy/ddp_accelerator.py
I'm unsure what the fix here should be.

[2021-03-07 12:10] rohitgr7 commented on #5542
for this, I'd suggest reloading the callback states as well along with the model state using the `ckpt_path` passed in `.test`. Open to suggestions!

[2021-03-07 14:47] ydcjeff commented on #6383
It works with half CUDA tensors, but not CPU tensors (pytorch doesn't support it)
[code]

[2021-03-07 15:04] awaelchli commented on #6383
@ydcjeff thanks, that makes sense.

Then this leaves the question how do we handle the case when the types are different.
Currently user has to convert the target tensor to the type of the predictions which are half type.

[code]
(@annikabrundyn this is the workaround for your use case)

@ydcjeff Would it be reasonable to convert target automatically to the type of pred in ssim?

[2021-03-07 15:26] ydcjeff commented on #6383
I would avoid to covert automatically (such as `pred` being float16, `target` being `unit8`)
It is better let user handle the type IMO

[2021-03-07 15:34] awaelchli commented on #6383
@justusschock @SkafteNicki requesting comment/confirm if we should leave it as is and let user make sure types match

[2021-03-07 15:39] awaelchli commented on #6385
Hi @cccntu

Could you add more details why the current names are confusing and why your proposed names would be less confusing?

[2021-03-07 16:01] AndersJing commented on #5455
I can confirm the issue has been resolved on v1.2.1 when I use MultiStepLR.

[2021-03-07 16:13] quantum-fusion opened #6393 "06-mnist-tpu-training.ipynb - Google Colab error"
<img width="1254" alt="Screen Shot 2021-03-07 at 11 12 36 AM" src="https://user-images.githubusercontent.com/10088099/110246568-17d92380-7f36-11eb-8771-9d30adc64656.png">
## 🐛 Bug

The bug is that the package will not install.

[2021-03-07 16:46] StephennFernandes opened #6394 "Lightning isn`t automatically moving a tensor to certain device"
I am trying to implement this seq2seq cod from official pytorch docs [ here ](https://pytorch.org/tutorials/beginner/torchtext_translation_tutorial.html)

I am using Lightning so i can scale the compute to TPU.

in a model there is an ouput tensor produced while decoding that collect a few samples of predictions on a single given input.
`outputs = torch.zeros(max_len, batch_size, trg_vocab_size).t

[2021-03-07 16:49] FredrikM97 opened #6395 "fast_dev_run fail on log_hyperparams"
## 🐛 Bug
Issue when running: `fast_dev_run=True`
"TypeError: log_hyperparams() takes 2 positional arguments but 3 were given"

### To Reproduce

When using the following: Where self.hp_metrics is a list of strings where each string is an available metric that is being logged, example "accuracy/val".
[code]
### Expected behavior

Assume the unit test is wrong since the documentation say that self.l

[2021-03-07 17:52] kapsner opened #6396 "Wrong metrics in version >= 1.2.0"
## 🐛 Bug

Since it is working as expected in pl v1.8.1 I am transferring [this discussion](https://github.com/PyTorchLightning/pytorch-lightning/discussions/6356) into a bug report.

I am unable to reproduce correct metrics using pytorch-lightning >=1.2.0.

I want to report "classic" metrics for a binary use case (assuming class label 1 being the positive class):

* precision = PPV = TP / (TP + FP

[2021-03-07 18:00] SeanNaren commented on #6387
Thanks for the issue @ananthsub!

Just to make sure, I see the issue being that if the user wants to use a Sharded Optimizer outside the plugin we do not support this.

I'll need to think this moreover, currently `configure_optimizer` is called before distributed communication is initialized (the FSDP plugin integration will make an option for the training type plugin to delay this till after) so

[2021-03-07 18:21] ananthsub commented on #6385
@awaelchli @carmocca @tchaton It's slightly tangential to this issue, but for progress tracking we should clarify epochs/steps/batches across train/val/test/predict. e.g. is `step` the number of times `training_step` is called, or the number of times the optimizer is stepped?

[2021-03-07 19:47] SkafteNicki commented on #6383
I am aware of this issue, and I agree with @ydcjeff that we should not do any automatic casting.
Please, see this issue https://github.com/PyTorchLightning/pytorch-lightning/issues/5317 where I have listed all metrics that does not work with half precision on cpu (https://github.com/PyTorchLightning/pytorch-lightning/issues/5317#issuecomment-753305053)
I have some work in progress on a local branc

[2021-03-07 19:50] awaelchli commented on #6383
great, thanks @SkafteNicki
closing and treating this as duplicate of #5317 then

[2021-03-07 19:50] #6383 closed

[2021-03-07 19:53] #6394 closed

[2021-03-07 20:01] awaelchli commented on #6395
[code]
minimal repro example

[2021-03-07 20:14] SkafteNicki commented on #6396
Hi @kapsner,
Nothing is wrong with the metrics. I can get it working in v1.2 with the following changes to your code:
1. initialize the metrics as the following:
[code]
2. remember to call `reset` after calling `compute`. Your code does this for the statscore metric but not for the other, which is the reason why you saw that the metrics began to diverge more and more
[code]

[2021-03-07 20:23] SkafteNicki commented on #2580
@davzaman please yes, would be a great addition :]

[2021-03-07 20:34] SkafteNicki commented on #6385
Also related issue: https://github.com/PyTorchLightning/pytorch-lightning/issues/4409
That issue proposes that `check_val_every_n_epoch` should be completly removed, and instead `val_check_interval=2.0` should instead mean "do validation every second epoch" (integers will refer to steps and floats will refer to epochs). IMO that is a better solution.

[2021-03-07 20:38] kapsner commented on #6396
@SkafteNicki thx a lot for your quick answer.

Maybe the disclaimer in the documentation is a bit misleading here:

(https://pytorch-lightning.readthedocs.io/en/stable/extensions/metrics.html#metric-arithmetics)

I thought I was passing precision/recall/accuracy metrics directly to `self.log` and thus do not need to call `reset` actively.

[2021-03-07 20:38] #6396 closed

[2021-03-07 20:40] awaelchli commented on #6393
Duplicate of #6382
But thanks for reporting it.
Will post updates in the other issue.

[2021-03-07 20:44] awaelchli commented on #6382
Here a Google Colab that shows the issue:
https://colab.research.google.com/github/PytorchLightning/pytorch-lightning/blob/master/notebooks/06-mnist-tpu-training.ipynb
need to find new wheels

[2021-03-07 20:54] awaelchli commented on #6382
oh wow
it's because google colab recently switched the default python version from python 3.6 to 3.7.
This link works:
`! pip install https://storage.googleapis.com/tpu-pytorch/wheels/torch_xla-1.7-cp37-cp37m-linux_x86_64.whl`

You just have to replace 36 with 37 :)
I will update the notebooks

[2021-03-07 20:55] awaelchli commented on #6393
Found it. You need to use this
! pip install https://storage.googleapis.com/tpu-pytorch/wheels/torch_xla-1.7-cp37-cp37m-linux_x86_64.whl

(replaced 36 with 37)

[2021-03-07 21:35] awaelchli commented on #6381
Can you please attach a small runnable code sample using our bug report template? I can't reproduce this with just the snippets that you have provided. Thanks

[2021-03-07 22:02] annikabrundyn commented on #6383
ah nice! sorry i didn't see the open issue before. i think it was mostly confusing because i'm also using psnr and it's not giving a type error so it felt a bit weird to only cast for ssim since both are PL metrics. thanks for all the help!

[2021-03-07 22:13] davidefiocco commented on #4325
FWIW I tried running code in the Lightning notebook examples in VS code https://github.com/PyTorchLightning/pytorch-lightning/blob/master/notebooks/01-mnist-hello-world.ipynb and saw something that looks good to me already:

![PL in VS code](https://user-images.githubusercontent.com/4547987/110256642-3b35ba00-7f9a-11eb-9638-378b0765a17f.png)

I am using VS code

Version: 1.53.2 (user setup)
Commit

[2021-03-07 23:59] #6096 closed

[2021-03-08 00:25] cccntu commented on #6385
Hi @awaelchli I found it confusing because to specify `n` epoch, I would need to use `val_check_interval` if `n` is float and `check_val_every_n_epoch` if `n` is integer.

But I just realized you could specify `val_check_interval=1.0`.
Though I still think it would be more intuitive to use if we have alias like `val_steps` and `val_epochs`.

[2021-03-08 01:27] #5704 closed

[2021-03-08 01:27] #5469 closed

[2021-03-08 01:58] #6285 closed

[2021-03-08 02:06] awaelchli commented on #6318
@SeanNaren thanks providing some suggestions.

The first option sounds reasonable, however it is challenging to make it be called at the right time consistently, since not all plugins  init the ddp connection at the same time. For example, we have the DDPPlugin that does it in pre_dispatch:

https://github.com/PyTorchLightning/pytorch-lightning/blob/ff1610492788fb3df79d534c369276d06246c368/pytorch

[2021-03-08 02:08] #6382 closed

[2021-03-08 02:16] indigoviolet commented on #6285
Thanks for the fix, @awaelchli!

[2021-03-08 02:24] awaelchli commented on #5593
@carmocca I believe this can be closed because you have worked on this just recently in #4945, right?

[2021-03-08 02:26] carmocca commented on #5593
Yes!

[2021-03-08 02:26] #5593 closed

[2021-03-08 02:34] awaelchli commented on #5903
@JonasFrey96 I believe your observations are incorrect.
This notebook incorrectly counts the times on_train_end is called.
First of all, you increment the counter after you print the message how many times it was called so far.
Second, you never reset the counter, so naturally calling fit multiple times will just keep increasing the counter.

After I fix these two problem, your code prints `ON Tra

[2021-03-08 02:34] #5903 closed

[2021-03-08 02:39] awaelchli commented on #5894
I have never seen this error you are reporting.
I would do the following: Replace your model with one of ours, the bug report model or whatever.
If the error does not occur with our model, then the problem is with your model.
With these types of problems, it is only possible to guess forever. We will probably not be able to help unless we have a script that reproduced the issue.

[2021-03-08 02:51] borisdayma commented on #4980
This was fixed with #5931.
You can now just log at any time with `self.log('my_metric', my_value)` and you won't have any dropped value.
Just choose your x-axis appropriately in the UI (whether `global_step` or just the auto-incremented `step`).

[2021-03-08 02:52] borisdayma commented on #5070
This was fixed with #5931.
You can now just log at any time with `self.log('my_metric', my_value)` and you won't have any dropped value.
Just choose your x-axis appropriately in the UI (whether `global_step` or just the auto-incremented `step`).

[2021-03-08 02:57] borisdayma commented on #5469
This was fixed with https://github.com/PyTorchLightning/pytorch-lightning/pull/5931.
You can now just log at any time with `self.log('my_metric', my_value)` and you won't have any dropped value.
Just choose your x-axis appropriately in the UI (whether `global_step` or just the auto-incremented `step`).

[2021-03-08 03:08] awaelchli commented on #5829
Seems like a pain to solve this.
@nathanpainchaud You can set a env variable `COMET_DISABLE_AUTO_LOGGING=1`, not sure how much it helps or what side effects it has.
Just saw it in the docs [here](https://www.comet.ml/docs/python-sdk/warnings-errors/).

[2021-03-08 03:32] awaelchli commented on #5767
This is not true. During the training step, the weights are updated. Since the loss is a function of the weights and you are logging the average over all training steps, this will always be different than the validation loss.

Your special case is overfit_batches=1. Since you only run one batch in a training step, and the logging adds the value to the progress bar **before the model weights get up

[2021-03-08 03:32] #5767 closed

[2021-03-08 04:09] #4980 closed

[2021-03-08 04:35] awaelchli commented on #2908
did you set max for the mode with accuracy? I suppose with mode=min, 0 accuracy would be the best.

[2021-03-08 04:47] awaelchli commented on #6122
Try `on_validation_epoch_end` instead of `on_validation_end`
A concrete example of what you want to achieve would be great (code snippet).

[2021-03-08 06:41] tdvginz opened #6405 "Profiler: which steps are contained in others and which are "leaf" operations?"
Looking at the given profiler status:
[code]

We see that the `Percentage` column doesn't sum to 100, and indeed, `model_forward` in contained inside each `run_training_batch` thus its time is partial to `run_training_batch` time.
But what about `model_backward`? is it contained inside `model_forward`? I assume no, but it there is the ability to see the profiler in a "graph" like structure, where

[2021-03-08 07:05] awaelchli commented on #2551
not sure, open an feature request? then people can discuss

[2021-03-08 08:18] kapsner commented on #2908
Yes, mode is 'max'. So monitoring 2 metrics using 2 ModelCheckpoints should work now?

[2021-03-08 10:01] NatashaSvc commented on #6319
Hi @tchaton!

Thank you for commenting so swiftly.

I am following the script from your tutorial so you can reproduce it by following the same script.
Also, I am not sure what you mean by boring model but let me give you the specs of the `tft` variable if this is what you mean.

`TemporalFusionTransformer(
  (loss): QuantileLoss()
  (logging_metrics): ModuleList(
    (0): SMAPE()
    (1): MAE()

[2021-03-08 12:34] SapirWeissbuch commented on #4612
I'm having the same problem in the university's slurm. I'm using PyTorch 1.6 (as mentioned above) but still gets stuck on `initializing ddp: GLOBAL_RANK: 0, MEMBER: 1/2`

[2021-03-08 12:55] hkmztrk opened #6406 "Progress bar behaviour"
## 🐛 Bug

Currently testing [BoringModel](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/bug_report_model.py) on LSF GPU cluster with the following training configuration:

[code]

As I understand the batch_size here is 1 by default and since we are using 4 GPUS, number of expected iterations is 16.

`  train_data = torch.utils.data.DataLoader(RandomDataset(32, 64))`

[2021-03-08 13:08] quantum-fusion commented on #6393
@awaelchli See errors , 06-mnist-tpu-training.ipynb still broken.

<img width="1215" alt="Screen Shot 2021-03-08 at 8 07 47 AM" src="https://user-images.githubusercontent.com/10088099/110325500-6bef1100-7fe5-11eb-944f-89e500327222.png">

[2021-03-08 14:27] #5658 closed

[2021-03-08 14:27] #6376 closed

[2021-03-08 14:32] hobogalaxy opened #6408 "Make verbose=False prevent showing "Saving latest checkpoint...""
## 🚀 Feature
Currently Lightning prints:
[code]
when running training with `ModelCheckpoint(verbose=False)`.

Not sure if it's a bug or intended...

Can we make it to not log that when passing `verbose=False`?

[2021-03-08 14:32] jgbos commented on #5865
I'm also noticing that there are logger files (tfeevents) for each process now.  I wonder if #6364 and this issue are related.

[2021-03-08 15:53] edenlightning opened #6409 "Find_unused_parameter=false is causing multi GPU to hang"
We need to decide if we should:
a. set the default to True
b. add more clarification in the docs/warning

should it be a property of the LightningModule, not the trainer?

see more context here:

https://github.com/pytorchlightning/pytorch-lightning/issues/5604

[2021-03-08 16:14] import-antigravity commented on #6389
I think this is more of a bug/fix than an enhancement

[2021-03-08 16:34] nathanpainchaud commented on #5829
@awaelchli Thanks for the link! I've not yet tried to disable Comet auto-logging, since I'm a bit fearful about the logging capabilities I might lose.

I first created the issue here because I thought it might be solved easily by simply reordering the imports in Lightning, but I'm fully aware that would only cover up the symptoms, and not treat the underlying issue. I think the best solution, even

[2021-03-08 16:34] #5829 closed

[2021-03-08 16:54] justusschock commented on #6359
@shamanez yes, but that's somewhat expected. Since you run multiple forwards for every backward. The number of forwards corresponds to the` batch_idx` while the number of backwards corresponds to `self. trainer.global_step`.

That means that inside your step, you'll have a different `batch_idx` everytime but `self. trainer.global_step` will only change after each backward, so you can have multiple

[2021-03-08 18:12] carmocca commented on #6408
Sure, just need to check the verbose attribute of the checkpoints here:

https://github.com/PyTorchLightning/pytorch-lightning/blob/38a5fe7af1ba300aa95d7716b5bdee35d52d032b/pytorch_lightning/trainer/training_loop.py#L157-L158

Do you want to open a PR with the fix?

[2021-03-08 18:35] awaelchli opened #6413 "self.device does not return the correct device in DataParallel"
## 🐛 Bug

The` self.device` property does not get updated in the replicas of DataParallel.

## Please reproduce using the BoringModel

[code]

Output of this script is:

[code]

[2021-03-08 19:00] simonm3 opened #6415 "Fails to install on google colab"
Fails to install on colab.

[code]

ImportError: cannot import name 'Batch' from 'torchtext.data' (/usr/local/lib/python3.7/dist-packages/torchtext/data/__init__.py)

[2021-03-08 19:03] simonm3 commented on #6415
I think they just updated the python version to 3.7 because it worked previously

[2021-03-08 19:09] simonm3 commented on #6415
works fine if I uninstall torchtext

[2021-03-08 19:37] awaelchli commented on #6415
can you install from master and check again please?
`!pip install git+https://github.com/PyTorchLightning/pytorch-lightning`
PR: #6365

[2021-03-08 19:42] ricglz commented on #6415
It seems like from master works fine

[2021-03-08 19:51] simonm3 commented on #6415
That works.

Though also tried downgrading to previous versions and none of those worked.

On Mon, 8 Mar 2021 at 19:37, Adrian Wälchli <notifications@github.com>
wrote:

[2021-03-08 19:56] awaelchli commented on #6415
previous version of what?
It's torchtext who removed the legacy Batch class, so you need to downgrade that too

[2021-03-08 19:56] #6415 closed

[2021-03-08 19:57] psbreuning opened #6418 "Cannot Import LearningRateLogger"
## 🐛 Bug

I have been working with the same code in Colab for some time with no issues. Since today, PL could not be imported (https://github.com/PyTorchLightning/pytorch-lightning/issues/6415). As per linked thread, this is resolved with installing from master, however the following problem still persists:

import pytorch_lightning as pl
from pytorch_lightning.callbacks import LearningRateLogger

[2021-03-08 19:58] awaelchli commented on #6418
This got renamed

`from pytorch_lightning.callbacks import LearningRateMonitor`

[2021-03-08 20:00] psbreuning commented on #6418
Many thanks :)

[2021-03-08 20:00] #6418 closed

[2021-03-08 20:11] hobogalaxy commented on #6408
@carmocca I made a PR https://github.com/PyTorchLightning/pytorch-lightning/pull/6419.

[2021-03-08 20:28] ananthsub opened #6420 "[RFC] Create explicit setup and teardown hooks for each stage on the Lightning and DataModules"
## 🚀 Feature

LightningModules and DataModules currently support a setup API which takes an optional `stage` argument.
#6386 addresses some issues in the setup/teardown lifecycle, so I was wondering if we should take this further (#6401)

### Motivation

Pros of making the separate hooks for each stage:

- Clarity in the API that helps forwards compatibility: In the current scheme, the Lightning t

[2021-03-08 21:40] taltalim commented on #5865
At the moment I can't seem to reproduce using BoringModel. I will look into that in the next days.

[2021-03-08 21:56] edenlightning opened #6421 "trainer.test is breaking when a model is not passed"
From the docs:

[code]

Trainer.test should use the best checkpoint when a model isn't provided, and currently, that doesn't work.

[2021-03-08 22:06] shamanez commented on #6359
Ok  got it. I'm my case it would be better to use batch_index.

On Tue, Mar 9, 2021, 05:54 Justus Schock <notifications@github.com> wrote:

[2021-03-08 22:36] Maddy12 commented on #2693
Is this going to be addressed in another issue?

[2021-03-08 23:24] #6408 closed

[2021-03-08 23:27] awaelchli commented on #6421
Here is an example that shows that it works:

[code]

If you look at the assertion there in on_test_start, the weights are correctly loaded.
Please let me know under what circumstances it doesn't work. A reproducible example would be very much appreciated. Feel free to take my code and modify it.

[2021-03-08 23:30] TheBoss313 commented on #6210
It still fails when Run on Google Colab, as seen in [Unable to import pytorch_lightning on google colab](https://stackoverflow.com/questions/66538407/unable-to-import-pytorch-lightning-on-google-colab) and yes it has been tested.

[2021-03-09 00:20] #6359 closed

[2021-03-09 00:30] #4616 closed

[2021-03-09 01:00] timothybrooks opened #6423 "Distributed sampler puts all data on all machines in DDP"
The lightning documentation says it automatically adds the appropriate (distributed) sampler for all training backends. However in DDP mode, the sampler puts the entire dataset on all machines, instead of partitioning the dataset into equally-sized disjoint subsets, which is expected and the behavior of the torch DistributedSampler. As a user, I expect the automatic sampler to default to the same

[2021-03-09 01:14] timothybrooks commented on #6423
I believe I have resolved this issue, and that it was caused by using a custom DataLoader class.

[2021-03-09 01:14] #6423 closed

[2021-03-09 02:51] monkiravn commented on #6210
I have the same problem as you. Have you fixed it?
I

[2021-03-09 03:08] awaelchli commented on #2908
I'm not sure if we have specific tests for that but it should, yes.
Important is to set the filename correctly so that the files always have different names. So I recommend to include the monitor key in the filename.

[2021-03-09 03:22] awaelchli commented on #6393
This is not on our side. I had the same problem, and this simple code will reproduce that:

[code]

Solution is to upgrade torchvision version

`pip install --upgrade torchvision`

[2021-03-09 03:34] bibinwils opened #6426 "ImportError: cannot import name 'Batch' from 'torchtext.data' (/usr/local/lib/python3.7/dist-packages/torchtext/data/__init__.py)"
Not able to import PyTorch lightning to google colab
![image](https://user-images.githubusercontent.com/53151992/110414659-4aaa2580-80b6-11eb-9445-417417f111ea.png)

[2021-03-09 06:15] ananthsub commented on #6387
In this case, could we upstream the `optimizer_state` from the sharded plugin into the base training type plugin?
https://github.com/PyTorchLightning/pytorch-lightning/blob/523c59bfddca48d003ce20168e727e6683f3efd4/pytorch_lightning/plugins/training_type/sharded.py#L56-L60

if fairscale is available and if the optimizer is of type OSS, then we call `consolidate_state_dict` on all ranks, and then re

[2021-03-09 06:16] higepon commented on #6426
I'm also seeing this.
Did you find any workaround?

[2021-03-09 06:31] Whisht commented on #6426
The reason of this bug is because the new released torchtext 0.9 has moved `torchtext.data.Batch`  to `torchtext.legacy.data.Batch`. Just see https://github.com/pytorch/text/releases/tag/v0.9.0-rc5.

[2021-03-09 06:44] higepon commented on #6426
Thanks. Here is my short term solution for this issue.
`!sed -i -e 's/from torchtext.data/from torchtext.legacy.data/' /usr/local/lib/python3.7/dist-packages/pytorch_lightning/utilities/apply_func.py`

[2021-03-09 07:36] kaushikb11 commented on #6426
Hey guys, Similar Issue #6415.

The solution is either

- You could install from master `pip install git+https://github.com/PyTorchLightning/pytorch-lightning`.
- Or, downgrade the `pytorch-lightning` version.

[2021-03-09 08:45] ananthsub opened #6429 "Formalize progress tracking inside of the trainer internals"
## 🚀 Feature

We should better enforce progress tracking across these dimensions:
Stage: training, evaluation (validation and test), and prediction loops
Granularity: batches, steps, epochs
- batches vs steps: steps = optimizer steps (parameter updates) and applies to training loop only. this will differ from batches when gradient accumulation is used, for instance

### Motivation

- Provide consi

[2021-03-09 08:47] ananthsub opened #6430 "Expected behavior when 1 rank crashes in distributed training?"
What's the expected error handling in distributed training when one rank raises an exception but others run fine? Currently we wrap the train loop in a try/catch and checkpoint if anything fails. This means is if one rank raises an exception but not all, that one rank goes through the checkpointing flow and hangs when we try to broadcast the filename in the model checkpoint callback. This hang obs

[2021-03-09 09:05] ibrahimishag commented on #5358
I ran into this issue on Windows 10.

[2021-03-09 09:50] #6364 closed, assigned to awaelchli

[2021-03-09 09:55] RemiLacroix-IDRIS commented on #6364
Thanks for the fix @awaelchli!

[2021-03-09 10:16] Svito-zar commented on #4287
Has this feature been implemented yet?
I could not find it in the documentation ...

[2021-03-09 10:20] Svito-zar commented on #839
Looking forward to seeing this feature!

[2021-03-09 10:38] SkafteNicki commented on #4287
@Svito-zar not implemented, closed due to being a duplicate of #839

[2021-03-09 11:07] wittenator opened #6435 "Continuing training resets logger step"
## 🐛 Bug
I am running Pytorch Lightning in a federated learning setting. Therefore I have several models and I need to instantiate a Trainer object for one model multiple times. Every time I do that the associated logger resets the epoch and logs the metrics on top of each other in the plots. Since instantiating a new Trainer object to continue training a model is allowed as far as I know: Do you

[2021-03-09 11:57] jordigc2 opened #6437 "ImportError when importing pytorch-lightning on Colab"
## 🐛 Bug

I am trying to import pytorch-lightning on Colab and I am getting an ImportError on the package torchtext.

I have seen that there is a pull request ready to be approved here #6365 where they check the version of torch and it searches for the Batch package in a different path. I was wondering when will this be available on Colab to use.

Thank you,

[2021-03-09 12:16] TheBoss313 commented on #6210
Kind of. If you look at the Stack page that I linked, you will see two solutions. Both work.
One installs the pytorch_lightning straight from here(GitHub).
The second does some string of installs and it works, but if you do the installs separately, it fails.
[code]
That works in this Colab notebook:  https://colab.research.google.com/drive/1GSCd3Gz3EOQIln3v065VKWKbB3_F8xqK?usp=sharing
My solution

[2021-03-09 12:33] tchaton commented on #2006
Dear @lgvaz,

This logic can easily be built on top of BaseFinetuning callback.

[code]

https://pytorch-lightning.readthedocs.io/en/stable/extensions/generated/pytorch_lightning.callbacks.BaseFinetuning.html?highlight=BaseFinetuning

If you do implement a nice Finetuning Callback, please make a PR so the community can try it out :)

Best,
T.C

[2021-03-09 12:37] tchaton commented on #50
Any updates on this issues ?

[2021-03-09 12:38] tchaton commented on #643
Dear @titusnicolae,

PyTorch currently support PowerSGD and it can easily be added by registering builtin DDP Communitation hooks.

Do you want to give it a try ?

Best,
T.C

[2021-03-09 12:39] ayulockin commented on #6437
I faced the same issue and was about to raise an issue. Here's a colab [gist](https://colab.research.google.com/gist/ayulockin/1f2cdab08dc186b063bf023ca45a5ca5/pl-error.ipynb).

[2021-03-09 12:40] tchaton commented on #838
Hey,

Any updates on this issue ?

Best,
T.C

[2021-03-09 12:53] SeanNaren commented on #50
Hey @tchaton, a small update :)

It's been a while and supporting transparent self-balancing architectures with no friction hasn't been solved, and that's primarily due to the difficulty of engineering such balancing.

In most cases this requires a lot of engineering effort, and even our pipe implementation is very specific/provides little flexibility when using.

The current roadmap tends to Full

[2021-03-09 12:57] Llcht commented on #6437
Same as #6426 #6415

Try using `!pip install git+https://github.com/PyTorchLightning/pytorch-lightning`
Don't forget to **reset the execution environment** before doing it.

[2021-03-09 13:14] titusnicolae commented on #643
thanks Thomas!
I'll give it a try someday, I'll be busy the following month

On Tue, Mar 9, 2021, 14:38 thomas chaton <notifications@github.com> wrote:

[2021-03-09 14:44] tchaton commented on #5665
Dear  @alexander-soare,

I have run the script several times and it seems to be working fine inside a TPU VM.

![Screenshot 2021-03-09 at 14.44.08.png](https://images.zenhubusercontent.com/5fa02d9c703c16598a8d683b/3b11425a-bd5f-40f0-98e2-dc90e8a82005)

Best,
T.C

[2021-03-09 14:51] tchaton commented on #6426
Dear @higepon,

We just merged a fix for it. Should work fine in master and 1.2.3 coming out this week.

Closing this issue.

Best,
T.C

[2021-03-09 14:51] #6426 closed

[2021-03-09 14:59] tchaton commented on #6437
Dear @ayulockin,

The bug was resolved on master.

![Screenshot 2021-03-09 at 14.59.17.png](https://images.zenhubusercontent.com/5fa02d9c703c16598a8d683b/53e7ac50-c7e2-47ed-a3d7-6caf9c812661)

Closing this issue.

Best,
T.C

[2021-03-09 14:59] #6437 closed

[2021-03-09 15:57] ifsheldon opened #6442 "Hyperparameter control panel for training"
## 🚀 Feature

Extending the integration of `argparser` to a full fledged GUI web-based control panel. This can enable dynamic tuning even during model training.
Features:
* in-situ modification on hyperparameters:
    * the most important one - learning rate
    * boolean attributes of a model that control dataflow
    * ...
* web-based tensorboard-like GUIs for modifying hyperparameters, tracking

[2021-03-09 17:08] vamaral1 commented on #5586
I had the same issue as reported in the [PL forums](https://forums.pytorchlightning.ai/t/loading-checkpoints-when-models-built-using-a-setup-block/530/5?u=victorama) but used a slightly different work-around which I'll provide here as an alternative solution. The issue revolved around PL trying to load the weights to the non-existing `MyPytorchModule`. Keep in mind it doesn't conform to the [sugge

[2021-03-09 17:20] SapirWeissbuch commented on #4612
Update: switching from `srun` to `sbatch` in Slurm fixed the issue.

[2021-03-09 17:21] kunal-savvy opened #6443 "Not able to import the Pytorch Lightning on Colab"
## 🐛 Bug
Hello Pytorch Team,
I have been working on pytorch lightning for several days, I have never seen this error on Google Colab.
Not sure if there is any change that happened on colab side or lightning.
When I install pytorch lightning and try to import pytorch lightening module, it can't import and throws out the error. The same was working till yesterday. Not sure If I am doing anything wro

[2021-03-09 17:43] wittenator commented on #6435
Hi @tchaton ,

thanks for the tip with the reloading! I didn't try that yet because saving and reading is a bit of overhead. I would look into adding persistent step/epoch counting. As far as I see it, that should be a pretty small addition since there must be some code to count steps and epochs in order to display that in the logger for one trainer. I would only need to persist and accumulate tha

[2021-03-09 19:29] SapirWeissbuch commented on #2919
Is there a solution to this?

[2021-03-09 19:46] #5045 closed

[2021-03-09 20:08] thomasj02 opened #6446 "Early Stopping Min Epochs"
## 🚀 Feature
The EarlyStopping callback should allow the user to specify a minimum number of epochs to run before early stopping is triggered

### Motivation

In many modern training loops, the learning rate is varied in some kind of cycle. For example, in the Transformer paper, they warm up the learning rate by increasing it gradually until a certain number of training steps, then they cool it by

[2021-03-09 20:56] talolard opened #6447 "Drop to REPL on SIGINT (control-c)"
## 🚀 Feature
During a training run, if the user sends SIGINT (e.g. control-c) drop to a shell (ipython would be amazing)

### Motivation

Sometimes I want to stop training right now and do something, probably save an explicitly named checkpoint. I know it's not "the right way" to work, but it is what I (and others?) do or want to do in practice.

As an example, I want to stop training now to try s

[2021-03-09 21:39] tiborkiss commented on #6443
I encountered this problem:  https://github.com/NVIDIA/NeMo/issues/1868

The exact cause of what you describe it was fixed in `pytorch-lightning` 1.2.3, but as you see in my opened issue above, there is another incompatibility.

Finally, I opted to a workaround to stick torch version to 1.7.1.

[2021-03-09 23:18] #6395 closed

[2021-03-09 23:42] stas-sl opened #6448 "Add ignore_index option to Accuracy metric"
## 🚀 Feature

It would be nice if `Accuracy` metric accepted `ignore_index` as it works for `StatsScore` or `torch.nn.CrossEntropyLoss`

[2021-03-10 00:21] sachinruk opened #6449 "Running CLIP on TPUs"
Apologies for crossposting from the PL-forums (doesn't seem to be as active as here).

Hi all, I created [this blog](https://sachinruk.github.io/blog/pytorch/pytorch%20lightning/loss%20function/gpu/2021/03/07/CLIP.html) and [Colab](https://colab.research.google.com/github/sachinruk/blog/blob/master/_notebooks/2021-03-07-CLIP.ipynb) using Lightning, but I could not get it to work on TPUs by just do

[2021-03-10 01:31] Maddy12 commented on #4295
I am having the same issue, but I am also trying to add to the progress bar other logging scalars which are not showing at all.

As for printing the loss, @GregorySenay comment worked for me!

`self.trainer.train_loop.running_loss.append(loss)`

[2021-03-10 01:37] carmocca commented on #6385
That's not correct, docs state: "use (float) to check within a training epoch"

If we were to do this, I'd keep float for fractional usage:

- `val_steps=float`: every `int(val_steps * max_batches_in_epoch)` batches
- `val_epochs=float`: every `int(val_epochs * max_epochs)` epochs
- `val_steps=int`: every `val_steps` batches
- `val_epochs=int`: every `val_epochs` epochs

Currently, the second:

ht

[2021-03-10 01:39] carmocca commented on #2908
We don’t. We are still limited by the fact that we save callbacks by their type, thus overwritting any with the same type

[2021-03-10 05:51] #5669 closed

[2021-03-10 07:53] tchaton commented on #6449
Dear @sachinruk,

Awesome blog post and really nice notebook !

Let me try to execute it and see if can stop a bug.

Would you mind sharing the trace ?

Best,
T.C

[2021-03-10 08:40] ibrahimishag commented on #5358
Changing the accelerator to dp on Windows 10  as suggested by @awaelchli  and @mdja solved my issue.
Thank you.

[2021-03-10 09:40] #5604 closed

[2021-03-10 09:40] #6409 closed

[2021-03-10 11:07] Vozf opened #6457 "Can't load_from_checkpoint with QuantizationAwareTraining callback during training"
for PL v1.2.0

[code]
gives
[code]

[2021-03-10 11:20] sachinruk commented on #6449
This is pretty ugly, and [here is a colab notebook](https://colab.research.google.com/drive/1zE1uTbcm-c-H-LGOuwP6RZECQOCsFqN7?usp=sharing) to replicate it (takes a while to download the coco dataset).
[code]

[2021-03-10 12:55] quantum-fusion commented on #6393
@awaelchli I am a newbie with this, and I would like to get a complete running example, because I learn by example, however this example doesn't work as advertised.  I might like to recommend that you get rid of the bugs, and update the notebook that you have published.  The workarounds that you suggested, I tried, but they failed.  Please advise, because this trial and error approach isn't workin

[2021-03-10 12:55] StephanHeijl opened #6461 "[DeepSpeed] `MPI world size 1 does not match torch world size 2` when launched with >1 GPU."
## 🐛 Bug

When trying to train a model with PyTorch Lightning and Deepspeed, the process fails with an assertion error:
`AssertionError: MPI world size 1 does not match torch world size 2`.
The number 2 in this case is replaced with the number of GPUs specified by the PyTorch Lightning Trainer.

## Please reproduce using the BoringModel

Because Colab does not expose multiple GPUs, I cannot post a

[2021-03-10 13:40] awaelchli commented on #6393
This is not my notebook, I am not the author.

I can clearly see in your screenshot the error message says Syntax error, invalid character. You typed the wrong quotation marks.
In general, it is always possible that a dependency updates and changes something that would break the notebook. I may find some time later today to go through all notebooks and check if they run as expected.

[2021-03-10 13:42] quantum-fusion commented on #6393
@awaelchli Did you mean to say '.' instead of "." ?

m = MNIST('./', train=True, download=True) , instead of m = MNIST("./", train=True, download=True)

[2021-03-10 13:46] awaelchli commented on #6393
No, you have the wrong symbol somehow, I don't know why. You have something like this: “ 
Where does that come from? Is this the first time you run a Python code? Because this is very common to define strings.

[2021-03-10 13:48] quantum-fusion commented on #6393
@awaelchli I cut and paste , so I don't know if the paste operation caused the wrong character, I cut from your solution, and when I paste, I don't know where that character came from.  I will try again.

[2021-03-10 13:57] kunal-savvy commented on #6443
We are still getting this issue.

[2021-03-10 15:34] wittenator commented on #6429
That sounds interesting! In your scenario: Would the trainer keep track of the different metrics and then deposit the data in the model, so that the data survives the lifecycle of the trainer?

[2021-03-10 15:53] MouseHu opened #6465 "PPO examples in pl_examples/domain_templates/ not working"
When running ppo examples in pl_examples/domain_templates/， I met the following error：

After some debugging， I found this error was due to this function:
[code]
Comment out this function makes the example running normally.
I am using pl 1.2.0 and I think it is either a bug in this example or API upgrades making this example incompatible with the newer pl. Any suggestions to fix this problem?

[2021-03-10 18:28] uwaisiqbal commented on #6124
I'm just updating to the latest version of pytorch lightning and I ran into this issue also. Do we have an ETA for when it will be released?

[2021-03-10 18:52] ananthsub commented on #2908
@carmocca this will come up with #6146 with this scenario:

- A user has a large training data set and wants to periodically checkpoint during the training epoch. They don't care about the monitor value or top K models here, but they want to save a checkpoint that they can resume from
- The user wants to track a monitor value during validation in order to keep track of the top k models. This curre

[2021-03-10 18:57] carmocca commented on #2908
I personally would go for solving:

[2021-03-10 19:00] tchaton commented on #6457
@Borda

[2021-03-10 19:12] ananthsub opened #6467 "[RFC] Support checkpointing multiple callbacks of the same type"
## 🚀 Feature
Currently when dumping the checkpoint dict, we overwrite callback states if there are multiple callbacks of the same type: https://github.com/PyTorchLightning/pytorch-lightning/blob/1c013b43e049d423184323313014774738827c90/pytorch_lightning/trainer/callback_hook.py#L209-L224

### Motivation

This blocks #2908 and is an existing bug or at least unexpected behavior with checkpointing ca

[2021-03-10 19:12] ananthsub commented on #2908
@carmocca I agree, this feels like an important and general addition. open to suggestions in #6467

[2021-03-10 19:28] dipam7 commented on #6160
Yes @awaelchli , that's what I meant. Sorry if that was not clear. It has to be done on the RTD account.

[2021-03-10 19:34] awaelchli commented on #2908
Me too, I also think that having multiple instances of model checkpoint is better than supporting multiple monitor values in the same.

Yes it's true for loading but just saving the checkpoints with multiple instances should work today?

My suggestion is to use an identifier for each callback instance and derive a unique key when saving. This would allow us to restore from a checkpoint even if the

[2021-03-10 19:38] awaelchli commented on #6467
My idea is to use an identifier for each callback instance and derive a unique key when saving. This would allow us to restore from a checkpoint even if the user has changed the callback list.
In ModelCheckpoint, the unique identifier could be derived from the monitor key automatically. Same for early stopping and other callbacks that safe state.

Rough sketch:

[code]

When we init the trainer, w

[2021-03-10 19:41] carmocca commented on #6467
@awaelchli Continuing https://github.com/PyTorchLightning/pytorch-lightning/issues/2908#issuecomment-795965582 discussion here:

The last checkpoint in `self.callbacks` of the same type will be the one to get saved

But multiple checkpoints can share the same monitor, for example, you could choose to early stop after a threshold or if you notice a large regression in performance (both monitoring t

[2021-03-10 19:44] ananthsub commented on #6467
I agree that the identifier should be on the callback interface.

For model checkpointing, this could be a hash of the arguments passed into the constructor.

[2021-03-10 19:44] awaelchli commented on #6467
In that case I would suggest to make the identifier also a setter. Then in the Trainer init, we can check if the identifier is unique and if not, we kindly ask the user to set the identifier to some meaningful, unique name. When we can't automatically determine a unique key, I think it would be reasonable to ask the user to disambiguate. What do you think? Essentially this is what the user can do

[2021-03-10 19:49] ananthsub commented on #6467
@awaelchli @carmocca does this identifier need to be human readable? why couldn't it be an arbitrary string? in that case, wouldn't a hash be sufficient to avoid collisions?

[2021-03-10 19:51] sun-peach opened #6469 "Cannot save model when use CSVLogger"
## 🐛 Bug

When I set logger to CSVLogger, the ModelCheckpoint won't dump the ckpt for me, it shows an error.

My code is pretty heavy which cannot be fully shared.  You can follow my following codes to reporduce it (I skip the dataloader part, which is irrelevant).

### To Reproduce

[code]

A abstract class of my model is listed below (this is the only part contains self.log method, which I think

[2021-03-10 19:54] carmocca commented on #6467
I like the idea of generating a hash off the `__init__` parameters. I don't see why anybody would need to customize it to something readable.

We need to handle BC both in terms of (1) old checkpoint running on new code and (2) new checkpoint running on old code

[2021-03-10 19:55] Borda commented on #6160
yes, I can so hide all except last release?

[2021-03-10 19:56] awaelchli commented on #6467
With this you make the assumption that the user does not change the arguments when resuming. Does this assumption hold for all callback types and use cases?

[2021-03-10 20:00] awaelchli commented on #6160
Yes, I think everything except stable could be hidden.

[2021-03-10 20:00] carmocca commented on #6467
Are you saying if the user manually modifies the checkpoint? Before running `load_from_checkpoint(checkpoint)`?

[2021-03-10 20:04] awaelchli commented on #6467
No, when they manually modifies their own source code they are resuming in.
The problematic part we are talking about here has nothing to do with `load_from_checkpoint(checkpoint)`. This function does not restore Trainer state. This is about Trainer(resume_from_checkpoint=..., callbacks=[...]), which would restore the trainer state plus callbacks. If the source code changes, what will happen? Well

[2021-03-10 20:09] awaelchli commented on #6160
Oh I didn't know it would affect this list. I think we still need to provide links to all version on the page itself. So I'm wondering, is it even possible to hide from search results, but not there in the list?

[2021-03-10 20:10] ananthsub commented on #6467
1. we'll need to use the identifier [here](https://github.com/PyTorchLightning/pytorch-lightning/blob/1c013b43e049d423184323313014774738827c90/pytorch_lightning/trainer/callback_hook.py#L233-L234) to index into the callback states. As it stands, if the identifier of the newly instantiated callback is different from the one in the checkpoint, then we will skip loading the state. @awaelchli are you

[2021-03-10 20:17] carmocca commented on #6469
Are you using any accelerators? Doesn't look like it from your snippet

I tried to quickly reproduce it but no luck:

[code]

What Lightning version are you using?

[2021-03-10 20:26] jacobdanovitch commented on #3651
Can confirm setting `os.environ['SLURM_JOB_NAME'] = 'bash'` works well as suggested in the issue on the Ray repo (and can be seen [here](https://github.com/PyTorchLightning/pytorch-lightning/blob/d1db604c61edb3142960346fbcbbfe74250baeb7/pytorch_lightning/trainer/connectors/slurm_connector.py#L14)). Could be worth noting in the Slurm Cluster part of the documentation.

[2021-03-10 20:29] carmocca commented on #6447
This is a cool idea!

If/when #3632 is resurrected, it could be implemented as a callback that registers itself on the ctrl+c signal. But unfortunately, I don't think this will be ready soon

cc: @awaelchli

[2021-03-10 20:31] carmocca commented on #6446
I like it, feel free to open a PR!

[2021-03-10 20:42] timothybrooks opened #6470 "Global step always zero after loading checkpoint"
I am saving checkpoints inside my module using `self.trainer.save_checkpoint(path)`. I am able to load these checkpoints into the model using `MyModel.load_from_checkpoint(path)` and trainer using `Trainer(resume_from_checkpoint=path)`. However, both the resulting model and trainer have `global_step=0` regardless of the step when saving. From the documentation I was of the impression that checkpoi

[2021-03-10 20:44] SeanNaren commented on #6461
Thanks for the report @StephanHeijl! Could you try installing DeepSpeed from master?

`pip install git+https://github.com/microsoft/DeepSpeed.git`

I think this should resolve the issue, and in the meantime I'll ping the DeepSpeed guys to get an idea when the next release will be

[2021-03-10 21:12] carmocca commented on #6470
Here's a reproduction snippet

[code]

Note that the `global_step` does get loaded, just after fit, not after the Trainer is instantiated (see the snippet)

However, this made me notice the step number is not correct.

This should probably be looked at with https://github.com/PyTorchLightning/pytorch-lightning/issues/5007. We need to clean the step/epoch management across runs

[2021-03-10 21:31] ananthsub commented on #6467
@awaelchli Do you expect that the `identifier` would be used outside of the checkpoint save/load? Another option is that when we save/load checkpoint, we still partition by the type, and the identifier is postfixed like this:

[code]

Saving:
[code]
Loading
[code]

then the identifier can focus on the specific business logic/internal state

[2021-03-10 21:40] jacobdanovitch commented on #3651
I've never been able to get Ray properly working on multiple nodes on my SLURM cluster, nothing to do with lightning. The init script they provide fails 9/10 times when trying to start workers unfortunately, not sure if it's to do with Ray or the cluster itself.

[2021-03-10 22:27] timothybrooks commented on #6470
I see, thanks for the explanation. I would argue that `Trainer(resume_from_checkpoint=path).global_step` and `Model.load_from_checkpoint(path).global_step` should reflect the true global step, rather than loading only during a call to `trainer.fit()`. Having the loaded global step at zero is inaccurate, and prevents the global step from being used in downstream processing and analysis that does no

[2021-03-10 22:33] carmocca commented on #6470
Yeah, what you are proposing is sound. I'll take a shot when I get the chance 👍

You can get the global_step like this: `torch.load(ckpt)["global_step"] - 1` (`-1` due to the bug mentioned above)

[2021-03-10 22:39] borisdayma opened #6471 "Learning rate finder broke on master"
## 🐛 Bug

Learning rate finder stopped working on master branch ([latest commit tested](https://github.com/PyTorchLightning/pytorch-lightning/commit/d1db604c61edb3142960346fbcbbfe74250baeb7)).

### To Reproduce

*Note: the BoringModel was not running so I used an other model from the docs*

See [this colab](https://colab.research.google.com/drive/1U2-S_5g1Crh-pj2JqFAPVO5nvb8xu5Dl?usp=sharing) to r

[2021-03-10 22:45] carmocca commented on #6442
Hi!

This is a very complex feature and would require a lot of development, including an UI tool. We'll consider it and maybe implement it in the future 😉

Thanks for the proposal!

[2021-03-10 23:13] awaelchli commented on #6467
I don't think so and we could probably find a more suitable name (state_key, state_identifier, state_name, ...?).

postfixing sounds reasonable. However, keep in mind if the user renames their custom callback class (say a simple refactor) between the first run and then resuming from it, then they won't be able to load the state. I would say this is not a  major concern, but just to mention this li

[2021-03-10 23:38] sachinruk commented on #6449
Oh and forgot to mention that I ran with a dummy dataset where the dataset just simply returned, `torch.randn(3, 128, 128), "hello there"` and it worked fine (with the rest of the code being exactly the same. So maybe the issue is in reading in the image?

[2021-03-10 23:59] import-antigravity commented on #3651
I mean maybe it's a problem with your code 🤣

The hack works for me as well running on a single node but not on multiple nodes. Also I'll say again that I don't think that the officially supported solution to this problem should be to change the job name to circumvent PTL's slurm detection

[2021-03-11 00:43] jacobdanovitch commented on #3651
Not to get off topic but it's not actually my code, it's just [the sbatch script](https://docs.ray.io/en/master/cluster/slurm.html#walkthrough-using-ray-with-slurm) they provide. A raylet exits unexpectedly, but that's before anything Lightning-related is invoked so probably unrelated.

I agree it would make sense to have a way to interface with the connectors a little more directly.

[2021-03-11 02:20] import-antigravity commented on #3651
Actually I think I’ve run into this before testing scripts on my local machine. It’s a SIGABRT that crashes silently, right? I’m not sure what causes it but restarting my computer fixed it. I don’t know what causes it.

[2021-03-11 02:46] #4634 closed

[2021-03-11 05:43] ananthsub commented on #6467
@awaelchli  @tchaton this identifier can also be used to disambiguate between callbacks passed to the trainer and callbacks configured from the lightning module

[2021-03-11 05:58] ananthsub commented on #6467
@awaelchli one thing I need to think more about is whether the callback hook in the trainer is responsible for backwards compatibility, or whether it should be on the callback implementation. based on this setup, it looks like the callback implementation should be.
- If this is the case, then the callback should have both an identifier and a version for the identifier
- If ^ this is the case, does

[2021-03-11 05:58] MouseHu commented on #6465
@tchaton Could you please have a look at this?

[2021-03-11 08:40] #4012 closed

[2021-03-11 10:42] kapsner commented on #2908
Thanks - I checked again and recognized a typo in the metric key in the file name - now it's working!

However, I don't see an issue with ModelCheckpoints being overwritten currently... My setup is as follows and working for me:

[code]

Those callbacks are then passed to `trainer`.

For testing both metrics, I do:

[code]

[2021-03-11 11:31] StephanHeijl commented on #6461
Hi @SeanNaren, thanks for the tip, this does resolve the issue. Given that a release for DeepSpeed is imminent there is probably no reason to update any documentation. Thanks again for getting back to me so quickly!

[2021-03-11 12:36] #6461 closed

[2021-03-11 12:40] Dheeraj-Arremsetty commented on #6210
I have followed the above instructions, and when I have installed it. I can see this error message. Is this ok to ignore this message?

![image](https://user-images.githubusercontent.com/8819938/110788749-a69ab880-8234-11eb-9a07-b52a4b060aaf.png)

[2021-03-11 13:51] carmocca commented on #5827
I hear you. We'd like to eventually refactor the loops so users can do this sort of modification more easily.

Closing this for the moment. Thanks for your proposal ❤️

[2021-03-11 13:51] #5827 closed

[2021-03-11 14:15] TheBoss313 commented on #6210
You won't be able to use the torchvision package/module, if you use that solution. If you use the other one, and use the comment that has been added, you can use everything (I think).

[2021-03-11 15:08] lolongcovas commented on #5210
Hi,

I also got this issue with the PL version of 1.2.3 and this [fairscale](https://github.com/PyTorchLightning/fairscale/archive/pl_1.2.0.zip). which fairscale should I install?

[2021-03-11 15:30] dumitrescustefan opened #6480 "on_epoch_end callback is called before on_validation_epoch_end"
## 🐛 Bug

The on_epoch_end is called before the epoch ends.

What I'm doing:
- in the pl model I have the ``validation_epoch_end`` which computes an accuracy which I log with ``self.log("val/meta_acc", meta_acc)``
- I have a callback with a single method defined as:
[code]

- trainer gets this callback as ``callbacks = [PrintAndSaveCallback],``

Up until I upgraded from 1.0.8 (directly now to 1.2.

[2021-03-11 15:50] #6086 closed

[2021-03-11 15:55] awaelchli commented on #2908
That's great!

Yes, the checkpoint files get written and that's all fine, and it saves all the model weights and hyperparameters. Most users will be happy with that. However, one additional thing we save into the checkpoint dictionary is the state of all callbacks that you've used, even the ModelCheckpoint itself. So these are unfortunately not saved correctly, and you will only run into problems

[2021-03-11 15:57] SeanNaren commented on #5210
Hey @lolongcovas definitely install the latest fairscale via `pip install fairscale -U`. We're in the midst of deprecating that branch via #6152

[2021-03-11 16:03] alanhdu opened #6481 "LayerSummary does not work with ScriptModules"
## 🐛 Bug

I am trying to do finetuning on a pre-trained model which is saved as TorchScript. Unfortunately, it looks like Lightning's `LayerSummary` does not support scripted modules:

### To Reproduce

Run
[code]

fails with
[code]

### Expected behavior

This should work as if I had just done `nn.Linear`.

For now, I can work around this by setting `weight_summary=None`.

### Environment
[code]

[2021-03-11 16:33] alanhdu commented on #6481
[code]

is an even shorter reproducer failing with
[code]

[2021-03-11 18:03] rohitgr7 commented on #6480
the order for the calls is:
[code]
`validation_epoch_end` is the last one so I'd suggest don't use this one to log anything since some callbacks like `ModelCheckpoint`/`EarlyStopping` use this hook and expects everything to be present there if you want to monitor something.

Also `on_epoch_end` is called after every train/eval/test epoch end so I'd suggest use `on_validation_epoch_end` in your use

[2021-03-11 18:20] senarvi commented on #5865
I encountered a similar issue, training hanging at the end of a validation epoch, when a custom metric is being synced between processes. I used `cat` as [dist_reduce_fx](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/metrics/metric.py#L89). One would think that in the tensors produced by different processes, the first dimension - along which the tensors are go

[2021-03-11 18:49] sun-peach commented on #6469
I am using one GPU and my pytorch lightning version is 1.2.1.

[2021-03-11 22:21] carmocca commented on #6429
I really like this. This could also serve as part of the interface for custom loops to interact with the trainer state. cc: @justusschock

But I wouldn't do it via a callback, i'd have it as a property `trainer.tracker` and each loop is responsible of updating it.

This can be a property calculated from the others, but what do you sum? just training and validation? also test?

We can have them, ju

[2021-03-11 22:42] ananthsub commented on #6429
Yes totally @carmocca I should've refined this further.
- The state should be centralized on the trainer and should consolidate the hodgepodge of other counters we currently have across train/val/test/predict and across batches/steps/epochs
- Callbacks and the Lightning/DataModule should read this state (should it be read-only?)
- Loops should be required to implement an interface that updates thi

[2021-03-11 22:44] #6333 closed

[2021-03-11 23:08] ifsheldon commented on #6442
Yep, I understand it will be a big project, and it should be consider as a big plugin for pytorch-lightning. I'll be happy to help if you decide to work on it.

And a question that is worth asking is  "which parameters(including training settings) are tunable during training?".
As I understand, we can for sure do the pre-training setting feature, which is just a GUI version of `ArgParser`, and we

[2021-03-11 23:38] edenlightning commented on #6471
@SkafteNicki mind taking a look?

[2021-03-11 23:39] edenlightning commented on #6480
Feel free to reopen if you have any issues!

[2021-03-12 00:01] davzaman commented on #2580
I didn't implement it as a class wrapper, but I have a few ideas on how to do it. it might take me a little while as i have deadlines for other things but i will be working on this!

[2021-03-12 00:06] imirzadeh opened #6484 "Multiple Trainloaders in a Sequential Mode."
## 🚀 Feature

Add new mode to `multiple_trainloader_mode` of the Trainer in order to support training on multiple dataloaders in a sequential way.

### Motivation

Say we want to train on two dataloaders A, and B.
Currently, the modes support max/min size of all trainloaders and provide a list/dict containing batches from loader A and B at each step. But it is not possible to define loaders such t

[2021-03-12 00:48] aribornstein opened #6488 "Add a robots.txt to stop Google from indexing Deprecated Versions of the Docs"
## 📚 Documentation

Add a robots.txt to stop Google from indexing Deprecated Versions of the Docs
Google is currently indexing deprecated versions of the docs so that when you search for features you are getting depricated information. For example if I google "pytorch lightning save best model" The first result is associated with lighting version 0.4.9 with no indication that isn't the latest vers

[2021-03-12 02:04] sustcsonglin commented on #5144
I have the same issues...

[2021-03-12 02:04] #6393 closed

[2021-03-12 02:19] ananthsub commented on #5325
I think #6429 is a requirement for this. @carmocca @awaelchli @justusschock I'll update that issue with a more concrete proposal

[2021-03-12 05:41] akihironitta commented on #6488
Same as #6160

[2021-03-12 06:00] ananthsub commented on #6446
As a general feature this sounds good.
@carmocca if `min_epochs` is configured on the Trainer, does EarlyStopping override that? What's the expected priority between Trainer settings and callback settings like this?

[2021-03-12 08:46] #6488 closed

[2021-03-12 09:48] dumitrescustefan commented on #6480
Thanks @rohitgr7 for the clarification.

Maybe you could help me out with a pointer on the following:

Since I shouldn't do any logging in the ``validation_epoch_end`` which is in the pl module itself, and considering I need an early stopping that is based on some processing that can't be done in ``validation_step`` (as  it needs to aggregate all the results in the steps and then do some other ope

[2021-03-12 10:22] kkirtac opened #6490 "Missing documentation for limit_predict_batches"
Hi. Documentation is missing for `limit_predict_batches` in [Trainer](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/trainer/trainer.py#L115).

[2021-03-12 14:48] jgbos commented on #5865
@Anjum48  did implementing those reduction in `val_epoch_end` fix your issue with training hanging?  My feeling is there's an uncaught error in the syncing of tensors like @senarvi found.   I can't seem to find the error though.

[2021-03-12 16:54] sun-peach opened #6495 "checkpoint saving stuck when use multiple GPUs"
## 🐛 Bug

When I use multiple GPUs, the model saving step will be stuck, while it works perfectly when I use only one GPU.

## Please reproduce using the BoringModel

[code]

### To Reproduce
My checkpoint_callback is
[code]

I use the command `python main.py --gpus 4 --distributed_backend ddp` for multiple-GPU running, while I use `python main.py --gpus 1` for single GPU running. I did not change

[2021-03-12 17:48] kjhenner commented on #3444
I ran into this as well. I wrote a little function to iterate through the model.__dict__.items() and check which caused pickle errors. It looks like there's a model attribute pointing to the trainer, which has that _thread.lock on it. Maybe there's a step that's supposed to clean this up that's being missed somehow? My quick work-around was to `delattr(model, "trainer")` before pickling the model,

[2021-03-12 17:59] rohitgr7 commented on #6480
hi @dumitrescustefan my bad. I misread `validation_epoch_end` with `on_validation_end`. What you are doing should work, but looks like it isn't working. Mind share a reproducible example with https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing.
reopening the issue.

[2021-03-12 18:22] rohitgr7 commented on #6480
ok, I see what's happening here.
the problem is with the `on_epoch_end` hook. This hook is called after every loop irrespective of train/eval/test. When it's called at the end of training_loop, it expects `val/meta_acc` but val loop is called after this, and since `val/meta_acc` is not logged yet it's raising an error here. So all you need is to do the val-related stuff inside the `on_validation_e

[2021-03-12 18:50] rohitgr7 commented on #6490
@kkirtac mind send a PR with updated docs?

[2021-03-12 18:51] jgbos commented on #5865
I hope this helps:  I implemented all the reduction and logging in `validation_epoch_end`.

Looks like PL attempts to do a model checkpoint before running `validation_epoch_end`, the trainer crashes because it was unable to find the monitor metric.  I can verify that `validation_step_end` is called before the crash but not `validation_epoch_end`.   Unfortunately having troubles find the code to ch

[2021-03-12 21:48] evanatyourservice opened #6503 "AttributeError: 'BoringModel' object has no attribute 'require_backward_grad_sync' when using manual optimization with TPU"
## 🐛 Bug

Hello!

When using manual optimization with TPU, I am getting an AttributeError: 'BoringModel' object has no attribute 'require_backward_grad_sync'. When I replace self.manual_backward(loss) with loss.backward() things seem to work, but I am not sure if this is a safe or sustainable workaround. It seems the error happens at the self.manual_backward(loss) step in training_step. Any help w

[2021-03-12 22:23] kkirtac commented on #6490
Thanks but I don't think I can. I am particularly interested to know what is this feature for but I can't find any documentation.

[2021-03-13 04:17] rudaoshi commented on #6122
Thank you very much for your nice help.

Here is my current code and the problem.
I've asked a question containing my current code here:  https://github.com/PyTorchLightning/pytorch-lightning/discussions/6352 , but currently no answers.

[code]

and it print a log:

Following the log, the checkpoint callback print a log:

where the "dataloader_idx_0" is corresponding to the  problem_evaluator_dev,

[2021-03-13 05:47] dumitrescustefan commented on #6480
Thanks @rohitgr7, I switched to ``on_validation_epoch_end``.

IMHO it should be noted in the docs that ``on_epoch_end`` refers here to the end of any of the train/val/test "epochs"; for me, an epoch means a train, then an optional validation and finally another optional test part put together -> thus, on_epoch_end means run *after* train&val&test, not after each part. Anyway, got that cleared out,

[2021-03-13 05:47] #6480 closed

[2021-03-13 07:08] rudaoshi commented on #6122
There is another related question:

We initialize the metric by compute_on_step=True, so in each step, the compute() is called, and the "state variables" had been "synchronized across the distributed backend".

So the metric should be synced and always same accross the distributed backend.

But why the phenomenon in the previous post happen?

[2021-03-13 07:48] #6201 closed

[2021-03-13 08:45] jopo666 commented on #5100
Decided to try again and the problem disappeared when I updated to pytorch-lightning==1.2.3.

[2021-03-13 09:15] ananthsub opened #6504 "[RFC] Create a ModelCheckpointBase callback"
## 🚀 Feature
Create a ModelCheckpointBase callback, and have the existing checkpoint callback extend it

### Motivation
The model checkpoint callback is growing in complexity. Features that have been recently added or will soon be proposed:
- Checkpoint every n train steps: #6146
- Checkpointing using a time-based interval during training: #6286
- Checkpointing on train end to fix this hack
https:

[2021-03-13 09:41] #5100 closed

[2021-03-13 14:09] dalek-who commented on #6504
Related  to this issue,  I want to implement a logic: saving the best checkpoint's valid predict result along with saving best checkpoint, and I want to save predict result in another file rather than in checkpoint's binary file. Right now, I can't know who calls LightningModule.on_save_checkpoint (can be best, best-k, lask or during exception).
If I implement it in  LightningModule.on_save_checkp

[2021-03-13 14:25] rohitgr7 commented on #6490
@kkirtac it's similar to limit_train/val/test_batches. just limit the number of batches from the dataloader while calling `trainer.predict`.

[2021-03-13 14:42] simonm3 commented on #4522
Probably related to this I am unable to train an efficientnet using precision=16. I get the error AssertionError: "No inf checks were recorded for this optimizer."

[2021-03-13 15:02] Queuecumber commented on #6204
Did you guys have any further thoughts on how to handle this? There's a conference deadline next week after than I plan to start on PRs for the two issues I filed

[2021-03-13 15:41] noamzilo commented on #5767
Hi, thanks for your answer.
Please explain, as I still don't understand - why is `train_loss` logged before the weights update? shouldn't the point of train loss be to show what happened in the current epoch, not before that epoch?

[from the doc](https://pytorch-lightning.readthedocs.io/en/1.0.8/logging.html):

but from your answer

So (unlike the doc) train loss gets updated BEFORE the epoch (wi

[2021-03-13 16:00] awaelchli commented on #5767
training epoch begins

training_step begins
you compute loss with parameters **W0 on batch B0** -> train_loss = 1.0
`self.log("train_loss", loss, prog_bar=True, on_step=False, on_epoch=True)` -> logs 1.0, but doesn't show it on step
training_step ends
return loss -> Lightning computes backward and updates parameters **W0 -> W1**

training_step begins
you compute loss with parameters **W1 on batch

[2021-03-13 16:09] noamzilo commented on #5767
Thanks! Before diving into this and applying myself for overfit_batches=1, please state also when the print to progress bar does happen (it should happen at least 2 times if I understand, once at the end of each {}_epoch_end), [once prededed by `Validating: 0it [00:00, ?it/s`]

[2021-03-13 19:44] csarron opened #6508 "trainer.predict method should return iterator instead of list"
## 🚀 Feature

trainer.predict method should return iterator instead of a list of predictions to avoid out of memory error

### Motivation
returning list of predictions can easily cause out of memory on GPUs

### Pitch

wrap the trainer.predict method to an iterator, so getting predictions can be something like:

[code]

### Alternatives

### Additional context

[2021-03-13 21:22] williamFalcon commented on #6228
cc @ananthsub

[2021-03-14 00:33] carmocca commented on #6504
Previous discussion: https://github.com/PyTorchLightning/pytorch-lightning/issues/4335#issuecomment-716051864

Should we close that one in favor of this one? @ananthsub

[2021-03-14 00:50] carmocca commented on #6446
Turns out that `Trainer.min_epochs` is used to override the EarlyStopping behaviour, just as OP asked.

https://github.com/PyTorchLightning/pytorch-lightning/blob/f4cc7451a94010a572480c43ad5f0af7ad52cd21/pytorch_lightning/trainer/trainer.py#L594-L606

where `self.should_stop` is written by `EarlyStopping`

But it makes more sense to me that `EarlyStopping.min_epochs` would be used for that and ins

[2021-03-14 00:54] carmocca commented on #6490
Hi! There is no public documentation for this yet as it is an experimental feature and subject to change. Use at your own discretion.

[2021-03-14 01:03] carmocca commented on #6204
Resolving this will be a bit complex, additionally we need to first setup SLURM testing so we can make sure everything is OK. I don't expect you to work on this for this reason.

We could just loop through the existing callbacks setup and see if any has `save_last=True` but this would break some people's workflow as they expect this SLURM checkpoint to always be created.

I'm re-labeling this as a

[2021-03-14 01:11] Queuecumber commented on #6204
What about something to disable the checkpointing and requeuing? I actually want that anyway because I'm using a slurm wrapper that takes care of all that already. Also I do have access to several slurm clusters I can test this on so I do have the resources to develop this as long as we can agree on the solution you guys want.

[2021-03-14 01:22] carmocca commented on #6204
If you want to disable it quick-n-dirty you could either monkey-patch the `SlurmConnector.register_slurm_signal_handlers` or resetting the signal hooks

https://github.com/PyTorchLightning/pytorch-lightning/blob/6e8721e7ae881cc54ec1f6580d85eb95507861e5/pytorch_lightning/trainer/connectors/slurm_connector.py#L26-L27

[2021-03-14 01:23] awaelchli commented on #5767
[code]

[code]

[2021-03-14 01:27] Queuecumber commented on #6204
That works temporarily but I was proposing a PR for a supported way of disabling it

[2021-03-14 05:19] awaelchli commented on #6495
it is possible that this PR will solve it: #6410

[2021-03-14 05:46] awaelchli commented on #6481
Thanks for reporting, didn't think of this special case :)

We can unfortunately not support layer summary for script modules, because scripted modules don't allow attaching hooks (see error message: register_forward_hook is not supported on ScriptModules) and therefore we can't track the in- and outputs.

However, I can make it so that no error occurs and the rest of the summary shows the in-/out

[2021-03-14 05:51] aoussou opened #6512 "Training stock at 0% at first epoch"
Hello,

Training stock at 0% at the very first epoch whether using `fast_dev_run` or not. Not error reported.

How can I debug that?

[2021-03-14 06:05] awaelchli commented on #6512
I had the same on a machine with the 3090 GPU.
Updating torch to the newest version solves this problem. Make sure to have cudatoolkit=11.0, i.e.: `conda install pytorch cudatoolkit=11.0 -c pytorch`

[2021-03-14 06:09] aoussou commented on #6512
@awaelchli the code I'm using can only run with Cuda 10.2, does this mean Lightning is unusable in this case?

[2021-03-14 06:23] awaelchli commented on #6469
I also can't reproduce, even if I roll back to 1.2.1 and run on 1 GPU (you did not include that in your script). Added log statements everywhere in the model. But no pickle error.

[2021-03-14 07:00] awaelchli commented on #4866
@lukasfolle is this still a problem? You provided a colab example but ddp is not supported in notebooks.
Note that the behavior is different when you run your script multiple times vs. when you call Trainer.fit multiple times in the same script.

[2021-03-14 07:57] inzouzouwetrust commented on #6495
This is a huge pain for me at the moment too. The model checkpointing routine is stuck at the end of epoch X where X is random (e.g. 5,10 or whatever).
@awaelchli  is there any cheap workaround or do we have to wait until the PR you mentioned gets merged?
I would be fine with the second option if it was not for an upcoming deadline set on Wednesday.

Best,
Alex

[2021-03-14 08:16] #5967 closed

[2021-03-14 09:09] #6490 closed

[2021-03-14 09:39] lukasfolle commented on #4866
Please have a look at the code in the Colab. The issues arises when looping over trainer.fit().

[2021-03-14 15:27] awaelchli commented on #6495
I just saw the issue and the other PR and it's just a guess. I can't say for sure that it fixes this problem, also because the code sample you provided does not run directly.
Also, we don't know for sure that the problem here is the saving, all we see is that the last printed message is related to the checkpoint. The GPU utilization at 100% is another indication that the problem might not be with

[2021-03-14 15:44] inzouzouwetrust commented on #6495
I tried running my experiments from `pytorch-lightning@bugfix/broadcast_2` but the issue remains, although it seems less prevalent (i.e. 11/14 jobs are still running 4 hours into the training).
Even though this is mainly my responsibility, I have so far burnt close to 3000 GPU hours on a limited computational budget only to realize my jobs had silently failed. Needless to say that it's slightly an

[2021-03-14 15:50] awaelchli commented on #6495
Sorry for the standard answer but a minimal working example (ready to run) would be the best, because then we can directly start debugging with minimal guess work. I understand that given the conference deadline this is probably too much work (I myself am also submitting to ICCV next week).

[2021-03-14 16:03] inzouzouwetrust commented on #6495
I will see what I can do. My only concern for reproducibility is that the issue seems quite random so far (not all runs are impacted, it happens at a random epoch). I'm not sure I would be able to reproduce it given a simple BoringModel for example. But yes, I could give it a try!

[2021-03-14 17:14] #6343 closed

[2021-03-14 21:43] carlomarxdk commented on #5334
Any there any temporary workarounds for this issue?

[2021-03-15 01:03] denix56 opened #6517 "Error on example model"
## 🐛 Bug

I receive on every GAN model that I try to execute.

[code]

I tried compete reinstall of pytorch in different conda environment, tried both 1.8.0 and 1.9.0.dev
I get error on both GAN example and my custom model.
My custom model has only 1 parameter (each of the networks), that I multiply with input, but it gives error too.

### To Reproduce

GAN model from examples

### Expected behavi

[2021-03-15 02:17] #6481 closed

[2021-03-15 04:50] aoussou commented on #6512
@awaelchli

Thank you for the explanation. Does this mean that lightning is not fully compatible with older versions of cuda/pytorch?

Is there a reference document that outlines compatibility requirements?

[2021-03-15 05:18] awaelchli commented on #6512
no but the 3090 series gpus require a newer pytorch version to function optimally. All I'm saying is if you have one (I don't know) then updating will solve the problem.

[2021-03-15 05:22] aoussou commented on #6512
@awaelchli Thank you. I have 2 x 2080 Ti .

I updated as you suggested but unfortunately it didn't fix it:

cudatoolkit               11.0.221             h6bb024c_0
python                    3.8.8                hdb3f193_4
pytorch                   1.7.1           py3.8_cuda11.0.221_cudnn8.0.5_0    pytorch
pytorch-lightning         1.2.3              pyhd8ed1ab_0    conda-forge
torchvision

[2021-03-15 07:18] Borda opened #6519 "relative refresh rate in progress bar"
## 🚀 Feature

Dynamic refresh rate, define float as percent and default 0.01

### Motivation

as a user refresh, every percent of progress is mostly enough

### Pitch

The validation in the notebook never triggers progress as default is 20 and this process has only 2 steps

### Alternatives

### Additional context

[2021-03-15 08:50] bnaman50 opened #6522 ""Advanced" profiler not working"
## 🐛 Bug

Hello Guys,

I am having issues with the advanced profiling option in lightning. Here is the [colab](https://colab.research.google.com/drive/1o6VSPrar1eYdqy_PtmlLJhMwsWIGJ8sr?usp=sharing) file documenting the issue on a simple model.

The issue happens, whenever I set `stochastic_weight_avg=True`.

Also, I have my complicated setup where I faced issue regarding `Advanced` profiler but it

[2021-03-15 09:13] amitz25 opened #6523 "Inaccurate results when using LARS optimizer"
Hi, when converting my repo to lightning format I failed to reproduce the training losses I previously used to get (and the model failed to converge). After some debugging, it seems there is a conflict between lightning and torchlars optimizer (https://github.com/kakaobrain/torchlars).
The problem happens only when using torch lightning's newer versions and the torchlars optimizer.

After a bit of

[2021-03-15 10:37] aoussou opened #6525 "Unable to use any scheduler ('scheduler' object has no attribute 'param_groups') [BUG]"
I am trying to convert a number of Pytorch repos into Lightning, but I am unable to use any scheduler. I have tried both the origin custom made schedulers and official Pytorch schedulers, and always get the same 'scheduler' object has no attribute 'param_groups'

[code]
My specs:

**OS**: Ubuntu 18.04

**Conda environment**:
cudatoolkit               11.0.3               h15472ef_8    conda-forge

[2021-03-15 15:04] zhangdan8962 opened #6527 "NCCL error using DDP"
## 🐛 Bug

Getting this error when attempting to use ddp with VAE:
[code]

### To Reproduce

[code]

### Expected behavior

Works on multi-GPUs

### Environment

* CUDA:
	- GPU:
		- Tesla V100-SXM3-32GB
		- Tesla V100-SXM3-32GB
		- Tesla V100-SXM3-32GB
		- Tesla V100-SXM3-32GB
		- Tesla V100-SXM3-32GB
		- Tesla V100-SXM3-32GB
		- Tesla V100-SXM3-32GB
		- Tesla V100-SXM3-32GB
		- Tesla V100-SXM3-32G

[2021-03-15 15:31] alvis commented on #4450
Interesting enough, I've only a single GPU machine and I'm experiencing the same issue.
Is it an issue on a multiple GPU setup or any setup?

[2021-03-15 18:06] #6465 closed

[2021-03-15 18:08] awaelchli commented on #6527
I had the same problem with DDP before when selecting device indices. Updating to torch 1.8 solved the problem for me. Let me know if that helps.

[2021-03-15 18:08] MarcoForte opened #6534 "Option of doing optimizer.zero_grad(set_to_none=True)."
## 🚀 Feature

An option to set gradients to None instead of zero. This was introduced in PyTorch 1.7. [Documentation](https://pytorch.org/docs/master/optim.html#torch.optim.Optimizer.zero_grad).
### Motivation
Training Speed improvements, as discussed by PyTorch [here](https://pytorch.org/tutorials/recipes/recipes/tuning_guide.html#use-parameter-grad-none-instead-of-model-zero-grad-or-optimizer-ze

[2021-03-15 18:10] amogkam opened #6535 "Custom Distributed Plugin Auto Add Distributed Sampler"
## 🐛 Bug

I have a custom distributed plugin, but it currently does not work PTL's automatic distributed sampler.

Plugin looks like this:
[code]
But in `data_loading.py`, when deciding whether to add a distributed data loader, PTL looks at `accelerator_connector.is_distributed`:
[code]

And `self.accelerator_connector.is_distributed` only returns `True` if the built-in plugins are used, not any c

[2021-03-15 18:21] #5748 closed

[2021-03-15 18:35] sun-peach commented on #6495
@awaelchli Thanks. I can remove the `save_weights_only`. The logic of setting period equal to the number `args["check_val_every_n_epoch"]` is that I would like to do validation check when I save the model. Based on what you said, when I set the `check_val_every_n_epoch` in Trainer, I don't need this in the callback? It will automatically do the check periodically ?

Thank you once again.

[2021-03-15 18:37] zhangdan8962 commented on #6527
I am not able to update to torch 1.8 since the cuda version is 10.1 on my server.

I was able to run with DP but it took  5 hours for one epoch. I am wondering if such cost sounds reasonable or not?

[2021-03-15 18:54] awaelchli commented on #6527
Try  `NCCL_IB_DISABLE=1`

See this issue #4420

[2021-03-15 19:29] colllin opened #6539 "Should truncated_bptt_steps take effect during validation phase?"
## 🐛 Bug

It appears that the Trainer flag `truncated_bptt_steps` doesn’t affect the validation phase.  Should it?  The problem I’m running into is that I need truncated_bptt_steps to virtually increase the length of the sequence I can fit into my GPU memory, but this purpose is defeated when the validation step doesn’t also make use of truncated_bptt_steps — in this case my memory is limited by m

[2021-03-15 19:29] carmocca commented on #6389
Sort of a duplicate of https://github.com/PyTorchLightning/pytorch-lightning/issues/6204

[2021-03-15 19:32] import-antigravity commented on #6389
Does writing multiple checkpoints cause the `ValueError: signal only works in main thread`? Sorry I have only a passing familiarity with SLURM so I can't really speak intelligently about this.

[2021-03-15 19:38] #6535 closed

[2021-03-15 19:41] zhangdan8962 commented on #6527
I tried the method mentioned at https://github.com/PyTorchLightning/pytorch-lightning/issues/4420#issuecomment-788241369 and got new errors.

[code]

[2021-03-15 20:07] carmocca commented on #6389
I said sort of because the linked issue comments also ask for a mechanism to disable SLURM detection

[2021-03-15 20:57] awaelchli commented on #6517
Fixed by #6460?

[2021-03-15 21:39] awaelchli commented on #6517
`python generative_adversarial_net.py --num_processes 2 --accelerator ddp_cpu`

fails on 1.2.3
works on master

fix will be released as part of the bug release this week

workaround for you until then:

`Trainer(..., plugins=[DDPPlugin(find_unused_parameters=True)])`

[2021-03-15 21:51] awaelchli commented on #5575
After the major accelerator refactor, this should now be possible. But some of the old accelerator logic is now placed in plugins. There are not many docs yet because the API is in beta. But as you have discussed here, most arguments in the plugins are optional and will be set internally according to the trainer settings.

[2021-03-15 22:24] jbohnslav commented on #5917
I agree that this should be reopened. I can't upgrade to 1.2 because of this. I have code that is run when validation ends, e.g. computing metrics over the validation set. This logs metrics for use in learning rate scheduling, etc. Because `on_epoch_end` is now called before `on_validation_epoch_ends`, none of my metrics exist, and I get a `pytorch_lightning.utilities.exceptions.MisconfigurationEx

[2021-03-16 04:23] TysonYu commented on #5865
I have the same problem when using version==1.2.3

[2021-03-16 09:13] amitz25 commented on #6523
After some debugging, it turns out the problem is that torchlars doesn't call the closure before performing its operations.
I'm guessing the inspection in this fix doesn't work in this case:
https://github.com/PyTorchLightning/pytorch-lightning/pull/4981#issuecomment-739239897

If anyone else encounters this issue, the easy fix is to add a hook for optimizer_step and call the closure by yourself (

[2021-03-16 09:18] l-salewski commented on #5766
@Borda sorry for not getting back earlier to you.

Unfortunately I am not that familiar with lightnings inner workings to understand why the `finally`, whose code eventually raises the `MisconfigurationException`, is needed. Like I said in my earlier comment, I think it would be the best if the `MisconfigurationException` would not be raised at all if any error is raised during training.
But then

[2021-03-16 09:39] dln22 opened #6544 "Random job failures caused by the CheckpointConnector on slurm managed hpc"
## 🐛 Bug

I recently created a small machine learning code using `Pytorch-lightning and Optuna`. The code allows to train and hyper-optimise a number of pre-selected models for a particular purpose. The Optuna hyper-parameter optimisation trials are stored in sqlite file (this is one of the storage options allowed by Optuna). Everything works fine if I run it on a non-slurm managed computing syste

[2021-03-16 12:15] sld commented on #1565
For me helped setting  generator argument in random_split fuction: `train_set, val_set = random_split(data, (train_size, val_size), generator=torch.Generator().manual_seed(42))`

[2021-03-16 13:06] TysonYu commented on #5865
Hi, @ifsheldon  I am facing the same problem, may I ask how do you solve this problem?

[2021-03-16 14:09] nicola-decao opened #6549 "Loading a model from PL 1.2 that was saved in PL 1.1 breaks"
## 🐛 Bug
I saved a model trained with PL 1.1 from an environment with PL 1.2 and it breaks. There are some PL specific objects that get pickled into the checkpoint. This shouldn't happen. See error below:

[code]

### Expected behavior

The model should load without any error.

### Environment
The model was trained and saved using PL 1.1.6 and loaded from PL 1.2.1

 - PyTorch Version (e.g., 1.0):

[2021-03-16 14:12] Borda commented on #6549
mind share you model details, as we have legacy tests in place and testing against many past versions...
https://github.com/PyTorchLightning/pytorch-lightning/blob/a312219d422709cc38dea0f5604c531f31b7ab28/tests/checkpointing/test_legacy_checkpoints.py#L31-L58

[2021-03-16 14:39] nicola-decao commented on #6549
@Borda I'll try to reproduce using the BoringModel

[2021-03-16 14:42] Borda commented on #6160
@awaelchli I have set https://pytorch-lightning.readthedocs.io/robots.txt
not sure what else I can do with other/custom robots.txt

[2021-03-16 15:15] awaelchli commented on #6160
I think that is exactly what we need! Looks good. Were you able to edit directly this robots file?

[2021-03-16 15:39] Borda commented on #6160
no, it is generated by setting a version as hidden, https://docs.readthedocs.io/en/latest/versions.html#hidden

[2021-03-16 16:15] #5508 closed

[2021-03-16 16:32] tchaton commented on #6170
Dear @hwade,

Great catch ! You seem to have a good understanding of Lightning internals. Would love to see you making contributions :)
Let me address those and ping you for review.

Best,
T.C

[2021-03-16 17:17] jgbos commented on #5865
An initial test with today's master seems to show this issue is fixed for me

[2021-03-16 18:06] justusschock commented on #6525
Hey @aoussou , From your traceback it seems like you are mixing schedulers and optimizers.
Can you provide a minimal example to reproduce this?

[2021-03-16 18:53] its-dron opened #6551 "Resume training fails with BackboneFinetuning callback."
## 🐛 Bug

Unable to resuming training when using BackboneFinetuning callback.

`AttributeError: 'BackboneFinetuning' object has no attribute 'previous_backbone_lr'`

### To Reproduce

https://colab.research.google.com/drive/1RLKD3ISkGmAcy308GWUF57UTAoavdVcr?usp=sharing

### Expected behavior

BackboneFinetuning state should be saved in checkpoint, and be resumed.

### Environment

* CUDA:
	- GPU:

[2021-03-16 18:56] its-dron commented on #6551
Another use case that would break this is attempting to add BackboneFinetuning when resuming a checkpoint to further finetune on e.g. another dataset. However, I see this as an abuse of `resume_from_checkpoint`, and instead one should be directed to start a new training job using the checkpoint as a model initialization, rather than resuming mid training job.

[2021-03-16 19:22] justusschock commented on #6522
Hey @bnaman50 ,

Thanks for the issue. You're right, there seem to be some pickling issues with this profiler.
#6552 fixes this for me. Can you try that one? :)

[2021-03-16 23:40] #6534 closed

[2021-03-17 02:26] aoussou commented on #6525
@justusschock

Unfortunately I'm unable to run the_boringmodel.py in the same environment because of another bug, but in the offending lines in the actual code are simply as follows:

[code]

does not work

[code]

It works fine if I omit the scheduler

[code]

[2021-03-17 04:17] moloxl opened #6554 "pytorch lightning: optimizer got an empty parameter list"
## 🐛 Bug

Hi, I was trying a simple VAE model using Pytorch lightning.
I defined the optimizers the same as the lightning website:

    def configure_optimizers(self):
        optimizer = optim.Adam(self.parameters(), lr=1e-3)
        return optimizer

### Got error about the **optimizer**:

  File "C:\ProgramData\Anaconda3\lib\site-packages\torch\optim\optimizer.py", line 46, in __init__
    rais

[2021-03-17 05:30] i-aki-y commented on #6554
Your model looks purely functional. This means that the model has no properties that store learned weights.
I guess this is why the `self.parameters()` can not return anything.
What happen if you declare your layers in `__init__()` as properties and apply them in the `encode()` or `decode()` functions?

ex.

[code]

[2021-03-17 07:11] aoussou opened #6557 "[BUG] got an unexpected keyword argument 'train_percent_check' when using trainer"
## 🐛 Bug

train_percent_check option does not work:

[code]

Runs fine if I don't use the keyword.

Code:
[code]

### Environment

cudatoolkit               10.2.89              hfd86e86_1
python                    3.6.13               hdb3f193_0
pytorch                   1.5.1           py3.6_cuda10.2.89_cudnn7.6.5_0    pytorch
pytorch-lightning         1.2.3              pyhd8ed1ab_0    conda-fo

[2021-03-17 08:11] justusschock commented on #6554
@i-aki-y is right. Also note, that if you recreate instances of the layer each time, you cannot optimize them, since there are always new parameters.

[2021-03-17 08:15] justusschock commented on #6525
Hey @aoussou thanks for getting back to me:

According to [our docs on this](https://pytorch-lightning.readthedocs.io/en/latest/common/lightning_module.html#configure-optimizers) they are both expected to be optimizers if you return a list or tuple (case 2 here), which is also why you get that error.

Try with
[code]
instead to switch from case two (tuple or list) to case 3 (two lists).

[2021-03-17 08:34] orctom opened #6558 "remove `tests` folder from packaging"
As you can see,`tests` is not under the `pytorch_lightning` namespace.
Not an issue, but it's not correct.

site-packages/pytorch_lightning-1.0.8.dist-info/*
site-packages/pytorch_lightning/*
site-packages/tests/backends/*
site-packages/tests/base/*
site-packages/tests/callbacks/*
site-packages/tests/checkpointing/*
site-packages/tests/core/*
site-packages/tests/loggers/*
site-packages/tests/metri

[2021-03-17 08:41] aoussou commented on #6525
@justusschock

Thank you, that seems to work. You might want to update the charts in the following pages, because that's what I used a reference:

https://pytorch-lightning.readthedocs.io/en/0.7.0/lightning-module.html

https://pytorch-lightning.readthedocs.io/en/0.7.1/_images/pt_to_pl.jpg

[2021-03-17 11:55] YannDubs opened #6563 "[BUG] `auto_move_data` does not work with `DataParallel`"
## 🐛 Bug

In case your `forward` function is wrapped with `auto_move_data` it will not work with `DataParallel` because it will try to send the data to `self.device` which in dataparallel is always the main device.

i.e. the following won't work with `accelerator="dp"` (and probably also with "ddp"):
[code]

The error comes from this line: https://github.com/PyTorchLightning/pytorch-lightning/blob

[2021-03-17 12:00] davidefiocco opened #6564 "Add support for mlflow tracking using AzureML tracking URIs"
## 🚀 Feature

It can be handy to store metrics about local runs using mlflow in a managed AzureML workspace, a la https://docs.microsoft.com/en-us/azure/machine-learning/how-to-use-mlflow#track-local-runs

### Motivation

For Azure users using PL and mlflow for tracking, it can be cumbersome to store run metrics locally on VMs (data can be lost, no central way to store it, etc).

### Pitch

It wou

[2021-03-17 12:05] davidefiocco commented on #6564
Uhm, this seems more mlflow related (so not a responsibility on PL, apologies). The syntax above fails with

`UnsupportedModelRegistryStoreURIException:  Model registry functionality is unavailable; got unsupported URI 'azureml://northeurope.experiments.azureml.net/mlflow/v1.0/subscriptions/4aasdfsfsafegsfgsd/resourceGroups/foo/providers/Microsoft.MachineLearningServices/workspaces/stuff?' for mod

[2021-03-17 12:05] #6564 closed

[2021-03-17 12:50] awaelchli commented on #6563
Hi, thanks for reporting.
For this we need #6414, then it can work. I will update the PR soon to include the test for auto_move_data.

[2021-03-17 12:53] awaelchli commented on #6557
Hi, this trainer argument got renamed a long time ago. You were probably looking at an old documentation.
The new argument name is `limit_train_batches`, can be float for a fraction or int for a number of batches.

[2021-03-17 12:53] #6557 closed

[2021-03-17 12:53] awaelchli commented on #6557
https://pytorch-lightning.readthedocs.io/en/latest/common/trainer.html#limit-train-batches

[2021-03-17 12:54] appleparan commented on #839
I support 2nd approach from @SkafteNicki .

There are some other CV methods such as Blocked Cross Validation for time series forecasting. Providing dataloaders for well-known CV method not only gives convenience but also a lot of customization to users.

If you are the someone needs K-Fold CV, you might implement custom dataset and dataloaders, then concatenating k-fold dataset by `ConcatDataset`

[2021-03-17 13:19] awaelchli commented on #6554
Here in bolts is an example VAE, this should help you get started.
https://github.com/PyTorchLightning/lightning-bolts/blob/master/pl_bolts/models/autoencoders/basic_vae/basic_vae_module.py

[2021-03-17 13:44] mibaumgartner opened #6566 "Native mixed precision OOM Val Step"
## 🐛 Bug

`NativeMixedPrecisionPlugin` only implements `train_step_context` which can lead to Out of Memory Errors during validation/testing .

## Please reproduce using the BoringModel

### To Reproduce

Use following [**BoringModel**](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing) and post here

Performed a second check with the Apex Backend (Level O1) and

[2021-03-17 13:47] justusschock commented on #6566
Thanks @mibaumgartner . This will be fixed by #6565

[2021-03-17 13:51] boyuzz commented on #6549
Meet the same issue. Failed to load model in PL 1.2.4 where the model is trained using PL 1.1.6.

[2021-03-17 14:02] Borda commented on #6549
@nicola-decao @boyuzz could you please share some code/example to reproduce?

[2021-03-17 14:59] bnaman50 commented on #6522
Hey, I am still facing the same issue even with the new version (1.2.4).

P.S. - Reference code is there in the same [colab](https://colab.research.google.com/drive/1o6VSPrar1eYdqy_PtmlLJhMwsWIGJ8sr?usp=sharing).

Thanks,
Naman

[2021-03-17 15:19] willleeney commented on #6429
Will this integrate with the supported loggers? What I would like to be able to do is pause training mid epoch, and resume training at that point using a new instance of Trainer and the same logger as before by passing resume_from_checkpoint=checkpoint_path?

[2021-03-17 15:41] davidefiocco commented on #741
@yudai09 can you reopen this as this doesn't look solved to me? Current solutions seem workarounds. I tried to make use of them but with no success.

[2021-03-17 16:07] sivakhno opened #6569 "Training stalls with DDP multi-GPU setup"
## 🐛 Bug

My training / validation step gets hung when using ddp on 4-GPU AWS instance.
Usually it happens at the end of the first epoch, but sometimes in the middle of it.
Code runs fine on 1 GPU.
My model checkpoint is a very basic set up
[code]
as is the trainer
[code]

I know there is a related issue https://github.com/PyTorchLightning/pytorch-lightning/issues/4612, but in my case the hanging

[2021-03-17 16:42] justusschock commented on #6429
@willleeney No, this won't happen. This is just tracking the trainer states. Resuming to work correctly has to be implemented by each logger individually (which often is not that trivial, since they handle it in very different ways). Also this is not dumped to the checkpoint.

[2021-03-17 16:51] justusschock commented on #6525
@aoussou thanks for letting us know!

However, these charts are highly outdated (0.7.1 was approx. half a year ago I think vs. 1.2.4 now). How did you end up finding them?

[2021-03-17 16:53] justusschock commented on #6522
@bnaman50 ,

Yes the 1.2.4 release does not include that fix, since the PR is not yet merged. You could try to install from that specific git branch. Hopefully, the PR will be merged by the next release.

[2021-03-17 18:36] ncuxomun commented on #4994
Anyone implemented MultiTaskEarlyStopping manually?

[2021-03-17 19:37] moloxl commented on #6554
@i-aki-y @justusschock Thank you so much!! It works!! I have to first define everything in __init__()!

[2021-03-17 19:37] #6554 closed

[2021-03-17 20:18] wittenator commented on #6429
If there is anything I can help with, I would be happy to chime in since that is a blocker for my work anyway.

[2021-03-17 20:44] maxjeblick opened #6570 "CUDA memory leak after batch size finder"
## 🐛 Bug

Using `transformers` + `AdamW optimizer` + `batch size finder` results in ~2 - 3 GB GPU memory not being freed after
`trainer.tune` (for `xlm-roberta-base`). This causes OOM issues on a subsequent call of `trainer.fit`.
I suspect that the state of the  `AdamW optimizer` causes this issue.

## Please reproduce using the BoringModel

https://colab.research.google.com/drive/1cugaUmLzNvk-38O

[2021-03-17 20:53] maxjeblick commented on #6570
Using
[code]
results in no GPU leakage.

[2021-03-17 20:57] mibaumgartner opened #6571 "SWA steps with lr scheduler step interval"
## 🐛 Bug
I'm currently working on a custom implementation of SWA with cyclic learning rates and was wondering about the replacement procedure in the current implementation.

https://github.com/PyTorchLightning/pytorch-lightning/blob/2f6ce1ae7fff34d16d3707571f6a9a7b0fb0c50a/pytorch_lightning/callbacks/stochastic_weight_avg.py#L191-L195

If an lr scheduler is already configured, only the scheduler k

[2021-03-17 21:13] willleeney commented on #6429
@wittenator I currently have a quick workaround that solves my issue with the logger until this is done but I still have an issue relating to this... It would be really useful if the trainer state could switch between multiple data loaders on request, executing a custom number of training batch steps, so that both data loaders don't iterate through at the same time?

Sorry I don't know if this is

[2021-03-17 21:52] maxjeblick commented on #6570
`trainer._lightning_optimizers` (from [here](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/trainer/optimizers.py#L96)) still contains the optimizer which was used for finding the correct batch size.

[2021-03-18 01:59] norabelrose opened #6574 "Trainer.predict(), LightningModule.predict(), and LightningDataModule.predict_dataloader() are not in documentation"
## 📚 Documentation

Currently the `Trainer.predict()` method, along with the `LightningModule.predict()` and `LightningDataModule.predict_dataloader()` hooks, are not mentioned anywhere in the documentation so users don't know about their existence unless they've read through the source files. This led to confusion on my part since I saw the `write_prediction` and `write_prediction_dict` methods g

[2021-03-18 05:10] aoussou commented on #6557
@awaelchli

Thank you very much. You might want to update this video because that's what I was taking as a reference:

https://www.youtube.com/watch?v=QHww1JH7IDU

[2021-03-18 05:56] austinmw opened #6575 "trainer.test() fails when using both auto_lr_find and ModelPruning"
## 🐛 Bug

Hi, wasn't able to reproduce properly with BoringModel, but did with small CIFAR10 example.

#### Description

`trainer.test()` errors out when I use both `ModelPruning` callback and `auto_lr_find`. Disabling either of these makes `trainer.test()` work again. I'm using mainline of pytorch-lightning.

#### Example

[code]

[2021-03-18 08:42] hwade commented on #6170
@tchaton Thanks to your invitation. I am very glad to take part in the contribution team of Lightning. :)

[2021-03-18 09:12] NielsRogge opened #6578 "Improve docs for multiple dataloaders"
## 📚 Improve documentation

It would be great if you could extend [this page](https://pytorch-lightning.readthedocs.io/en/stable/advanced/multiple_loaders.html) by also explaining how to define the `training_step` and `validation_step` when using multiple dataloaders.

Currently, it's not that clear to me how to modify this. For example, when the `train_dataloader` is defined as follows:

[code]

[2021-03-18 09:15] maxjeblick commented on #6570
Seems to be fixed already by the following PR:  https://github.com/PyTorchLightning/pytorch-lightning/pull/6372 :D
(thanks @awaelchli)

[2021-03-18 09:15] #6570 closed

[2021-03-18 09:43] tchaton commented on #6578
Dear @NielsRogge,

Yes, the training_step doesn't change.

[code]

Would you mind making a PR to add more details ?

Best,
T.C

[2021-03-18 09:51] tchaton commented on #6574
Dear @norabelrose,

It is currently done in purpose.
The API is still in beta and likely to slightly change.
We didn't change to share too much about it.

If you are interested to see where it is going:
In Flash:
We are introducing a new object called DataPipeline: https://github.com/PyTorchLightning/lightning-flash/pull/141
It aims at simplifying your processing code and makes deployment easier.

[2021-03-18 09:51] #6574 closed

[2021-03-18 09:56] tchaton commented on #6571
Dear @mibaumgartner,

<img width="457" alt="Screenshot 2021-03-18 at 09 54 55" src="https://user-images.githubusercontent.com/12861981/111607306-057da600-87d0-11eb-92ab-46054c1b81cd.png">

You are right, there is definitely a bug there. We should step SWA scheduler only on epoch.

Would you mind making a PR to rectify this behaviour ?

Best,
T.C

[2021-03-18 09:58] tchaton commented on #6569
Dear @sivakhno,

Could you update to master ? We resolve some bugs with DDP hanging.

If the problem persists, could you create a reproducible script using the BoringModel ?

Best,
T.C

[2021-03-18 11:12] mibaumgartner commented on #6571
Hi @tchaton,

I'll submit a PR today :)

Best,
Michael

[2021-03-18 11:38] Anjum48 opened #6580 "all_gather with ddp is possibly corrupting data?"
## 🐛 Bug

I'm working on a segmentation model using huge images from the current Kaggle HUBMAP competition. These images are typically something like (30000, 40000). For training, the approach is to take a tile that is large enough to capture the features of interest (e.g. 2048x2048) then resize that tile to something smaller, say (512x512),

For validation, things get a little crazy, since I want

[2021-03-18 12:50] NielsRogge commented on #6569
Same issue, it doesn't even start for me.

This is my hardware (2 GPU's on one machine):
[code]

My code (the dummy example from [this tutorial](https://pytorch.org/tutorials/beginner/blitz/data_parallel_tutorial.html)):

[code]

However, when running this, all I get is:

[code]

[2021-03-18 13:41] NielsRogge commented on #6578
Thanks for improving this!

[2021-03-18 17:14] #6578 closed

[2021-03-18 19:24] ethanwharris opened #6586 "all_gather not called correctly when using tpu_cores=8"
## 🐛 Bug

Currently, when `tpu_cores` is set to 8, `all_gather` will simply return the original tensor (even though it should gather over all cores). In particular, this clause is not enterred: https://github.com/PyTorchLightning/pytorch-lightning/blob/38a2119359f22dd9525cb7978eb2ac230a36ab59/pytorch_lightning/accelerators/tpu.py#L55

In addition, `xm.all_gather` does not support the `groups` or `

[2021-03-18 20:46] SeanNaren commented on #6318
thanks for the patience @dhkim0225, I have a fix in #6506 feel free to try out. Required a bit of thought/refactoring but we got to a solution in the end. Currently for anyone else who might find this issue, this only works with DDP, not DDP Spawn. This is due to how DDP Spawn is designed, which may be improved in the future

[2021-03-18 21:33] #6318 closed

[2021-03-18 23:55] junjy007 commented on #563
I have spent quite a while browsing a couple of discussions on this issue, and the latest referred official doc is missing:

https://pytorch-lightning.readthedocs.io/en/latest/multi_gpu.html

I have to write a small script to be sure of the behaviour of "python train.py --gpus 0" when the trainer is created using ".from_argparse_args(args)". The document is not doing is job well.

Basically, I thi

[2021-03-19 01:36] sun-peach commented on #6495
@awaelchli @inzouzouwetrust Hi, just want to update that when I switch to "dp" backend, everything is OK. Hope this help you identify the problem.

Thanks.

[2021-03-19 01:50] aoussou commented on #6525
@justusschock

They come up quite frequently, for example try googling "trainer pytorch lightning".

[2021-03-19 02:52] Beep-Boop-Bopa commented on #939
@helldragger where do I call the self.logger.experiment.add_hparams then? Rn it is in the test_epoch_end method.
![image](https://user-images.githubusercontent.com/42900802/111724885-7195f380-883c-11eb-9e3a-2fd79b8a8efb.png)

[2021-03-19 10:42] awaelchli commented on #6557
The video is a bit old already, the API has changed a lot since then.
@edenlightning Can we add a note to the description of the video that this is for an outdated version of Lightning?

[2021-03-19 11:31] shahbaznazami opened #6597 "during training, model not able to save checkpoint at the end of every epoch"
## 🐛 Bug

when I try to train the model, the model not saving checkpoint at the end of every epoch

 - PyTorch Version : 1.1.4
 - OS:  Linux 18.04
 - How you installed PyTorch (`conda`, `pip`, source): conda
 - Build command you used (if compiling from source):
 - Python version: 3.6
 - CUDA/cuDNN version: cuda 10.0
 - GPU models and configuration: cuda 10.0

[2021-03-19 11:46] kaushikb11 commented on #6597
Hi @shahbaznazami! That shouldn't be the case. Would you mind sharing a snippet of your code to look at? Also, would recommend going through these [docs](https://pytorch-lightning.readthedocs.io/en/latest/common/weights_loading.html).

[2021-03-19 11:50] kaushikb11 commented on #6558
@Borda What's your opinion? Something we should look into.

[2021-03-19 12:58] Borda commented on #6558
yes, it shall not be there...

[2021-03-19 15:57] ilia-zaitsev-by commented on #5836
Ok, finally, a draft pull requested is opened! It is not ready yet, but the issue is going to become closed due to inactivity, so we decided to open a PR to keep it alive, and also to initiate a discussion about implementation details.

[2021-03-19 16:14] edenlightning commented on #6539
@ananyahjha93

[2021-03-19 16:15] #6523 closed

[2021-03-19 16:20] ananyahjha93 commented on #6523
@amitz25 please reach out to the Kakao brain team to get the torchlars optimizer updated according to the latest torch optimizer requirements! Any latest torch Optimizer which follows the preset guidelines should work with Lightning.

[2021-03-19 16:26] #6586 closed

[2021-03-19 16:28] ethanwharris opened #6599 "CodeCarbon monitor callback"
## 🚀 Feature

Carbon emissions monitoring.

### Motivation

https://mlco2.github.io/impact/#about

### Pitch

Add a callback like `lr_monitor`, but to monitor estimated emissions. Simplest way would be to use the [codecarbon library](https://github.com/mlco2/codecarbon), although this wouldn't support distributed training (maybe possible, could at least log emissions for each node?).

### Alternat

[2021-03-19 16:30] ethanwharris commented on #6295
Although all_gather will now work, it still doesn't support grad. so re-opening :)

[2021-03-19 17:54] thiyagu145 commented on #5865
looks like this issue is fixed in version 1.2.4

[2021-03-19 18:01] jgbos commented on #5865
@thiyagu145 oh really? I'll double check, I thought it required some changes not in 1.2.4.  But that would be great if 1.2.4 fixes it.

[2021-03-19 18:03] thiyagu145 commented on #5865
yea, training completed without any issues.

[2021-03-19 18:07] wconnell commented on #1859
if you encounter no logging on end of epoch it may be because you are using `ddp`, requiring explicit usage of `test_step_end` see the [documentation here](https://pytorch-lightning.readthedocs.io/en/latest/common/lightning_module.html#test-step-end):

    def test_step(self, batch, batch_idx):
        X, y = batch
        y_hat = self(X)
        return y_hat, y

    def test_step_end(self, output

[2021-03-19 19:21] dthiagarajan commented on #6206
Where is `trainer.node_rank` set? I see that's used in the method that sets the ranks for all the processes.

[2021-03-19 21:28] Borda commented on #6558
@orctom just tested and lited package of actual master and there are no more tests [SOURCES.txt](https://github.com/PyTorchLightning/pytorch-lightning/files/6174115/SOURCES.txt)
These tests shall be ancient so feel free to remove them and no worries that with installation you would get any new 🐰

[2021-03-19 21:28] #6558 closed

[2021-03-20 05:19] ThiruRJST opened #6601 "Training Steps Erroneous"
I'm trying to train resnet50 model with FGVC8 dataset which has 18632 images totally. While performing training using this lightning module, The max steps for an epoch becomes 292 and the batch size is 64 which when multiplied gives 18688. I didn't set any `max_steps` explicitly. I used `StratifiedKFold` to split the dataset into training and validation set. The number of splits is 5.

While split

[2021-03-20 08:31] TysonYu commented on #5865
Yeah, now I try 1.2.4 and there is no issue anymore.

[2021-03-20 11:16] MuhammadWaleedUsman commented on #2456
I have the same issue but couldnt solve it by removing .to('cuda'). when i do this i get error:
RuntimeError: Input type (torch.cuda.FloatTensor) and weight type (torch.FloatTensor) should be the same

[2021-03-20 11:16] MuhammadWaleedUsman commented on #2456
I have the same issue but couldnt solve it by removing .to('cuda'). when i do this i get error:
RuntimeError: Input type (torch.cuda.FloatTensor) and weight type (torch.FloatTensor) should be the same

[2021-03-20 11:27] sustcsonglin commented on #3444
same problem

[2021-03-20 14:43] egonuel opened #6605 "performance drop from v1.1.8 to >= v1.2.0 when using metrics"
## 🐛 Bug

Hi, I'm observing longer epoch times for pytorch lightning versions >= 1.2.0 when using metrics in the training or validation steps. Depending on the model, dataset etc I observed an increase of 10 seconds per epoch.
I tested it using Accuracy() and ConfusionMatrix() and the impact is larger for the former.
Removing the metrics results in the same epoch times regardless of the lightning

[2021-03-20 16:11] awaelchli commented on #6601
Where did you get these numbers from, the progress bar?
What is the size of your validation set? is it 60?
train + val = 232 + 60 == 292, which is what the progress bar would show

[2021-03-20 16:53] ThiruRJST commented on #6601
These were the numbers that I got as training steps in my progress bar. The size of validation set is 3727 and size of training set is 14905. As always, if the batch size is 64 and total training samples are 14905, The steps must be 232 right?

[2021-03-20 17:33] sustcsonglin commented on #5865
1.2.4 stills

[2021-03-20 17:42] awaelchli commented on #6601
Yes, that explains it:

ceil(14905 / 64) = 233  (not 232 as you stated, it is not evenly divisible)
ceil(3727 / 64) = 59

59 + 233 = 292

So for one epoch of training + validation we get 292 batches for 100% completion of the progress bar. Correct?
If you want to turn off validation and only get the 233 training batches per epoch, set `limit_val_batches=False`.

[2021-03-20 17:44] #6601 closed

[2021-03-20 18:18] brando90 commented on #4420
I will try that, I hope I don't get issues because it seems my machine has cuda 11.0 and the instlal says to get 11.1

[code]

[2021-03-20 18:20] awaelchli opened #6606 "[RFC] Let Logger base class inherit from Callback"
## 🚀 Feature

We could consider having loggers inherit the Callback base class.

### Motivation

This would enable third party loggers to perform additional features during the progression of training.
One example is uploading checkpoint files in WandB: #6231
It would make it significantly easier to add these features without tightly coupling them to the rest of the Trainer logic.

Also recently t

[2021-03-20 18:44] brando90 commented on #4420
seems like it gets into a weird loop?

[code]

[2021-03-20 19:48] bhavitvyamalik opened #6608 "ModelCheckpoint not accepting argument 'filepath'"
## 🐛 Bug

When filepath is used as an argument in ModelCheckpoint it says `TypeError: __init__() got an unexpected keyword argument 'filepath'`

Link for the colab notebook: https://colab.research.google.com/drive/1-ECmP0JTPYXFSDt__K93Cm4wzW7OdyXS?usp=sharing

### Expected behavior

### Environment

* CUDA:
	- GPU:
	- available:         False
	- version:           10.1
* Packages:
	- numpy:

[2021-03-20 20:01] ethanwharris commented on #6608
Hi, the `filepath` argument in`ModelCheckpoint` was deprecated (#4213) and has now been removed (#5321). Please use the `dirpath` and `filename` arguments instead :)

[2021-03-20 20:01] #6608 closed

[2021-03-20 23:15] #6566 closed

[2021-03-21 03:31] Akanni96 commented on #4612
I've also faced a problem with code stuck on "initializing ddp". After much work, I solved my problem by simply adding `num_sanity_val_steps=0` as an argument to `Trainer(...)`

[2021-03-21 03:31] Akanni96 commented on #6569
I've also faced a problem with code stuck on "initializing ddp". After much work, I solved my problem by simply adding `num_sanity_val_steps=0` as an argument to `Trainer(...)`

[2021-03-21 08:05] bokutotu commented on #3795
@SkafteNicki both links (https://pytorch-lightning.readthedocs.io/en/latest/optimizers.html#learning-rate-scheduling, https://pytorch-lightning.readthedocs.io/en/latest/callbacks.html#learning-rate-monitor) seem dead.

[2021-03-21 09:27] SkafteNicki commented on #3795
@bokutotu sorry the docs structure has been slightly changed since my original response, so here are the updated links:

https://pytorch-lightning.readthedocs.io/en/latest/common/optimizers.html#learning-rate-scheduling

https://pytorch-lightning.readthedocs.io/en/latest/extensions/generated/pytorch_lightning.callbacks.LearningRateMonitor.html#pytorch_lightning.callbacks.LearningRateMonitor

[2021-03-21 09:33] tchaton commented on #6606
Sound like a good idea ! Do you see any cons ?

[2021-03-21 09:34] tchaton commented on #6605
@SkafteNicki Any ideas ?

[2021-03-21 09:40] tchaton commented on #6575
Dear @austinmw,

Would you mind sharing the traceback ?

Best,
T.C

[2021-03-21 09:50] tchaton commented on #6580
Dear @Anjum48,

Have you tried setting your image dtype to float64 before all_gather ?

Could you also try `broadcast` from master ?

Best,
T.C

[2021-03-21 09:58] tchaton commented on #6503
Dear @evanatyourservice,

Manual Optimization doesn't work with TPU yet. Sorry for the inconvenience.
loss.backward() might work, but I would have to investigate deeper.

Best,
T.C

[2021-03-21 10:00] tchaton commented on #6551
Dear @its-dron,

Thanks for reporting this bug.

Best,
T.C

[2021-03-21 10:05] tchaton commented on #6495
Dear @sun-peach,

Any chance you could provide a reproducible script ?

Would you mind trying to following:
* Master: We recently merged a PR about DDP hanging.
* Add sync_dist=True within all your self.log, just to see if the pb remains.

Best,
T.C

[2021-03-21 10:40] ethanwharris commented on #6551
Hi @its-dron, this seems to be working for me on the master branch :) Can you confirm that this is the case by switching the first line (install pytorch-lightning) to
`! pip install git+https://github.com/PytorchLightning/pytorch-lightning.git --upgrade`?

[2021-03-21 11:43] hobogalaxy opened #6614 "Unconsistent behaviour of testing when returning dict from test_step()"
## 🐛 Bug

When returning dict of values from test_step() in LightningModule:
[code]
The logged values and returned values are both displayed in terminal when testing:
![image](https://user-images.githubusercontent.com/43458894/111903205-5fd16d80-8a41-11eb-8d97-0205320de2b9.png)

If we declare test_epoch_end() method in LightningModule, then the extra values are ignored:
[code]
![image](https://use

[2021-03-21 12:14] hobogalaxy opened #6615 "Calling trainer.test() when using fast_dev_run throws confusing error"
## 🐛 Bug

Calling trainer.test() when using fast_dev_run throws confusing error:
[code]

## Please reproduce using the BoringModel

[code]

[2021-03-21 13:25] seungwooYoo opened #6616 "Epoch level scheduler is not well called except check_val_every_n_epoch == 1"
## 🐛 Bug

## Please reproduce using the BoringModel

Run the following colab link.
You can see multi-step lr scheduler is only called at validation epoch (i.e. 4 - check_val_every_epoch is set as 4) even I set milestones as [1,2,3,4]. I set scheduler attribute as verbose=True to show changed lr_rates.
If check_val_every_epoch is set as 1, scheduler "setup()" after train epoch seems well called.

h

[2021-03-21 14:45] tchaton commented on #6615
Dear @hobogalaxy,

This happens because trainer.fit didn't generate a checkpoint and you don't provide model to trainer.test.
Therefore, it doesn't find a model to load.
This is expected behaviour but I agree the MisconfigurationException could be more explicit on what's wrong.

Best,
T.C

[2021-03-21 15:07] hobogalaxy commented on #6615
@tchaton Thank you for explanation. It is confusing though and it probably happens to many users. I think lightning should detect the case when fast_dev_run is set to True and either:
1. Throw python warning instead of exception and simply not execute testing
2. Raise exception that informs what's wrong

[2021-03-21 15:34] SkafteNicki commented on #6605
I can explain this. From v1.2 and accuracy metric gained extra features such as support for `top_k` calculations, multi-dim tensors and more. Because of all this a lot more input checking is going on behind the scene. Basically we moved from using this simple function:
https://github.com/PyTorchLightning/pytorch-lightning/blob/e429f97b670846bf0e0595074c4d3c4f152dcf27/pytorch_lightning/metrics/util

[2021-03-21 16:14] johngull opened #6617 "Monitor option is only available for single LR scheduler"
## 🐛 Bug

I'm trying to use LR schedulers for both generator and discriminator in GAN by the code:

[code]

But for `ReduceLROnPlateau` I got an exception that monitor value can't be None.

Actually, I found that `TrainerOptimizersMixin.init_optimizers` handle monitor value only for the case of a single dictionary and no other cases.

Obviously, `monitor` value can be passed in the case of multipl

[2021-03-21 19:24] taltalim commented on #5865
I can confirm 1.2.4 fixes the issue. I'm asking myself which PR fixed this - possibly #6410 ?

[2021-03-21 19:57] #855 closed

[2021-03-21 21:18] carmocca commented on #3244
Closing this issue in favor of https://github.com/PyTorchLightning/pytorch-lightning/discussions/6029

[2021-03-21 21:18] #3244 closed

[2021-03-21 21:27] carmocca commented on #1432
Closing this as this would require a very large and BC-dangerous refactor since it's just not the direction Lightning design has taken.

There are some good ideas here but this is too much to land. Feel free to open new issues with smaller parts for this with a better thought out proposal.

[2021-03-21 21:27] #1432 closed

[2021-03-21 23:06] #5575 closed

[2021-03-21 23:13] carmocca commented on #6617
Re-labeling as an enhancement as this is more about better support for multiple schedulers than something not working.

Would you like to work on a PR for this?

[2021-03-21 23:18] carmocca commented on #6605
It'd be nice if you could check your hypothesis by benchmarking the `_input_format_classification` function in both versions

[2021-03-21 23:21] carmocca commented on #6429
@wittenator @willleeney We plan to resolve all those issues, but it will be done in several steps so the best way you can help right now is to keep track of the PRs and review them 😄

[2021-03-22 01:40] ananthsub commented on #6606
by implementing it as a callback, some question emerge like:
- do we need to re-order callback execution to handle loggers now? what if other callbacks want to log through the module?
- would this make loggers harder to use outside of lightning?

[2021-03-22 02:37] camruta opened #6622 "Revisit CONTRIBUTING.md"
## 📚 Documentation

Update [CONTRIBUTING.md](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/.github/CONTRIBUTING.md) to include detailed steps and missing guidelines Pytorch-Lightning developer machine setup. The setup instructions are currently under "[Testing](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/.github/CONTRIBUTING.md#testing)" section, and they

[2021-03-22 02:37] yukw777 commented on #6495
@tchaton I see this issue with pytorch 1.7 and PL 1.2.4, which has those fixes that are supposed to fix DDP hanging. `sync_dist=True` doesn't help either (it's actually set to true in the BoringModel code). My script doesn't even finish the validation loop. The gpu usage goes to 100% at some point and the training script simply hangs.

[2021-03-22 03:56] ananthsub opened #6623 "Trainer.validate crashes for certain validation_step output and hook combinations"
## 🐛 Bug

If the `validation_step` returns a complex output, and if the `validation_epoch_end` hook is not implemented in the LightningModule, there is a failure in the metrics holder when reducing the outputs.

This occurs on `master`

cc @carmocca

fyi @simran2905 @ytsheng

## Please reproduce using the BoringModel

Repro: https://gist.github.com/ananthsub/5a027e24c91c2fa179b081e959583a00
Stack

[2021-03-22 06:01] ArvinZhuang opened #6624 "RuntimeError: function AllGatherGradBackward returned an incorrect number of gradients (expected 2, got 1)"
## 🐛 Bug

When using `self.all_gather` in `training_step` to gather tensor with gradient function to compute and return loss throwing
`RuntimeError: function AllGatherGradBackward returned an incorrect number of gradients (expected 2, got 1)`

I think the bug is that the `forward(ctx, tensor, group=group.WORLD)`  in `distributed.AllGatherGrad` function has two arguments but the `backward(ctx, *gra

[2021-03-22 07:34] #5635 closed

[2021-03-22 07:34] #3354 closed

[2021-03-22 07:34] #4175 closed

[2021-03-22 07:34] #5462 closed

[2021-03-22 07:34] #5918 closed

[2021-03-22 07:34] #5943 closed

[2021-03-22 08:24] Anjum48 commented on #6580
Hi @tchaton, thanks for your reply!

I updated to master yesterday and things seem to be working as expected on rank 0. Not sure what the issue/solution was but thanks for your help.

[2021-03-22 08:24] #6580 closed

[2021-03-22 10:12] SkafteNicki commented on #6605
Benchmark (time of 1000 evaluations):
New input checker: 0.9793810844421387
Old input checker: 0.1436159610748291
Approx 0.97 / 0.14 = 6.92 times slower.

[2021-03-22 11:07] Nora-Go opened #6626 "Wall time auto-resubmit not working"
Hi :)

I fear the wall time auto-resubmit is not working for me.
I'm using this submit script:
[code]
mnist_model.py is the model from https://towardsdatascience.com/from-pytorch-to-pytorch-lightning-a-gentle-introduction-b371b7caaf09
Pytorch Lightning 1.2.4 is installed on the cluster.

In the error file I get:
[code]

In the out file I simply see the progress of training.

I also assured that th

[2021-03-22 16:38] kaushikb11 commented on #6622
Hey @camruta! Thanks for opening the Issue. We are always looking to improve the docs for our Users.
You could run `pip install -e .` or `python setup.py install` to install it from the source, it handles the requirements required.
We are happy to add the block of suggestions you mentioned. Feel free to open a PR, will be happy to help you in the process! :)

[2021-03-22 16:56] egonuel commented on #6605
I also played with the two versions of `_input_format_classification` and this is indeed the cause for the slow-down, the `Accuracy.update()` becomes 10 times slower on my machine and example.
I'm wondering if maybe these checks, and some of them are expensive, can be avoided in the hot batch loop on every input.
Not that I can put any work in this, but maybe a strict mode to turn the checking on

[2021-03-22 17:04] egonuel commented on #5917
@jbohnslav I don't know if this is useful for you, but I hacked a temporary solution for my callbacks like this:
[code]
At least under my conditions, this allows me to get the old behavior back. This also prevents the call in the sanity checks. No guarantee that this works everywhere, though 🙂

[2021-03-22 19:41] Queuecumber commented on #6205
The way I've implemented this is that the `dump_checkpoint` function adds the logger to the checkpoint in a key called "logger", then in `restore_training_state` I simply load that into `self.trainer.logger`. I'm still testing to see if this works, as it may require a callback to allow the loggers to boot up correctly,  but it would allow any logger to be restored properly during training. Does th

[2021-03-22 19:43] Queuecumber commented on #6389
I'm happy to implement that, although I've since come around on the automatic slurm detection (I think the right thing for me is to disable my other library's automatic detection). The simplest way forward is probably to add a `disable_hpc_detection` flag to the trainer which is false by default.

[2021-03-22 19:44] edenlightning commented on #5665
@tchaton any update?

[2021-03-22 19:47] #5865 closed

[2021-03-22 19:56] Queuecumber commented on #6204
I agree this is pretty complicated, there are some complex interactions between the `CheckpointConnector` and the `ModelCheckpoint` callback which would need to be worked out, it probably makes sense to keep this logic in one place instead.

[2021-03-22 20:20] EricCousineau-TRI opened #6640 "ddp: Consider warning / failing fast if single proc relies on `len(gpus) >= 8` for CUDA, due to peer-to-peer resource limitations?"
## 🚀 Feature

If using `accelerator="ddp"` (or any other backend that may trigger this error), ideally there's a warning and/or error about possibly encountering this issue, e.g.:
[code]

### Motivation

I just ran into this failure mode on the same instance type (`p2.16xlarge`) today.
https://forums.developer.nvidia.com/t/cuda-peer-resources-error-when-running-on-more-than-8-k80s-aws-p2-16xlarge/

[2021-03-22 20:32] austinmw commented on #6575
Traceback:

Also, semi-unrelated, is it intended that the `trainer.tune()` step for `auto_lr_find` counts as one max_epoch step for the subsequent `trainer.fit()`?

[2021-03-22 20:35] nathancooperjones opened #6641 "External MLFlow logging failures cause training job to fail"
## 🐛 Bug

I am using a `pytorch_lightning.loggers.mlflow.MLFlowLogger` during training, with the MLFlow tracking URI hosted in Databricks. When Databricks updates, we sometimes lose access to MLFlow for a brief period. When this happens, logging to MLFlow fails with the following error:

[code]

Ideally, there would be flexibility in PyTorch Lightning to allow users to handle logging errors such t

[2021-03-22 20:39] edenlightning commented on #2963
Hey There @pseeth! what are your thoughts on https://github.com/pytorchlightning/pytorch-lightning/issues/6346?

Would be great to collaborate with you on this!

[2021-03-22 20:43] edenlightning commented on #6082
@tchaton can we integrate the flash behavior?

[2021-03-22 21:59] burntcobalt commented on #2189
This is ugly, but will give the OP what they asked for:
`    def training_epoch_end(self, outputs):
        self.trainer.progress_bar_callback.main_progress_bar.write(
            f"Epoch {self.trainer.current_epoch} training loss={self.trainer.progress_bar_dict['loss']}")

    def validation_epoch_end(self, outputs):
        loss = torch.stack(outputs).mean()
        self.trainer.progress_bar_cal

[2021-03-22 22:00] maximsch2 commented on #6605
Most metrics auto-magically figure out if the thing is binary, multiclass, multi-dim, etc and this of course has a cost (both in compute and in code complexity). I wonder if we should instead take an extra parameter during `__init__` to tell us what we expect to have and then just roll with it? We can additionally check those in `fast_dev_run` as @egonuel is suggesting (and maybe additionally chec

[2021-03-22 22:17] pseeth commented on #2963
Oh this looks great! Great timing, I just started looking into this over the weekend. I tried to make the following modifications in this commit just to get a feel for the scope of it. I got this:

https://github.com/pseeth/pytorch-lightning/commit/f5a239c18ab752bee35e71a5a460c5980570f7ed

I think AutoClip would be a super useful high-level Trainer flag. It really just works for me, and prevents s

[2021-03-22 22:24] edenlightning opened #6642 "Add illustration of hooks in the LightningModule"
Add a code snippet showing when each of the LightningModule hooks is being called.

[2021-03-23 00:56] carmocca commented on #6623
The error is not related to `validate` or `test`. It's due to logging a tensor with more than one element, which is not supported. From your snippet:

`return {"output": output, ...}`

where `output` is the network's output with 2 elements (2 output features).

So, unless I am missing something, this is working as intended. Tried reverting to older lightning versions, and the same error appears.

[2021-03-23 01:03] austinmw commented on #2976
Is this resolved? ReduceLROnPlateau does not seem to work with `interval='step'` and `monitor='val_acc'`? Also why is `'reduce_on_plateau': True` needed in that scheduler dict (seems redundant) and where is the docs for this dictionary?

[2021-03-23 03:06] import-antigravity commented on #6389
That seems like the best course of action.

[2021-03-23 04:06] its-dron commented on #6551
No go, I get the exact same error.

[2021-03-23 04:41] aligholami commented on #3577
I gotta agree with @ayberkydn
The forward() function in pl.LightningModule is quite confusing.

[2021-03-23 07:02] ethanwharris commented on #6551
Hi @its-dron, could you check that `pytorch-lightning.__version__` is 1.3.0.dev? Your notebook is definitely working for me when the first cell has:
`# ! pip install pytorch-lightning --upgrade`
`! pip install git+https://github.com/PytorchLightning/pytorch-lightning.git --upgrade`
Note that you have to uncomment the `pip install git+...` line and comment out the regular `pip install ...`. You may

[2021-03-23 07:25] Borda commented on #6622
@camruta would it be useful for you rather use docker image with Ubuntu where all you mentioned is already ready...?

[2021-03-23 07:27] Borda commented on #6549
@nicola-decao @boyuzz how is it going, any update on the example?

[2021-03-23 08:16] boyuzz commented on #6549
Well, finally I retrained the model in PL 1.2.4. Currently I'm unable to provide the code/example to reproduce. Sorry.

[2021-03-23 08:50] nicola-decao commented on #6549
@Borda @boyuzz same here. I am just fixing the version to 1.1.6 for my project and I won't update it. I cannot spend time debugging this right now as my code works if I do not update. Sorry.

[2021-03-23 08:52] nicola-decao commented on #6549
@Borda btw this is my `hparams.yaml`. I think the problem might be in the `tpu_cores`?

[code]

[2021-03-23 09:04] nicola-decao commented on #6549
![image](https://user-images.githubusercontent.com/9703100/112121007-a98f9480-8bb6-11eb-8b30-4bf9c3d72a90.png)
@Borda  Look at this. in Hyperparameters I have a function where there should be a primitive

[2021-03-23 09:06] nicola-decao commented on #6549
@Borda If I remove that value I can load the model from PL 1.2

[2021-03-23 09:11] tchaton opened #6647 "Detect if running in a real terminal and adapt prog_bar logic accordingly"
## 🐛 Bug

## Please reproduce using the BoringModel

Currently, the progress bar doesn't make distinction between running in a real terminal or being piped to logs.

When Lightning run in logs, it produces a prog_bar line for each change.

<img width="1659" alt="Screenshot 2021-03-23 at 09 10 40" src="https://user-images.githubusercontent.com/12861981/112121895-a648d880-8bb7-11eb-8f7a-15f02eaeb013