[2020-10-16 01:04] #4161 closed

[2020-10-16 02:38] george-gca commented on #2783
What about a case with single model, but multiple weighted losses?
I have this in my model:

[code]

But then it gives this error:

[code]

Should I manually disable showing loss in tqdm, then re-add manually?

[2020-10-16 02:49] george-gca commented on #2110
I solved this using this code. Note that, in my case, I may run my code with only one or multiple validation datasets:

[code]

[2020-10-16 03:05] lezwon commented on #4046
Sure 👍

[2020-10-16 03:10] NumesSanguis opened #4182 "Inherit from Callback throws missing Trainer argument"
## 🐛 Bug

The PL 1.0.x update has removed the `trainer` argument from `TrainerCallbackHookMixin` when calling e.g. `callback.on_init_start(self)`. However, `Callback` has not been updated for this change. This results in a missing argument `trainer`.

- `TrainerCallbackHookMixin` link: https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/trainer/callback_hook.py#L42

[2020-10-16 03:16] nateraw commented on #4182
possible duplicate of #3813? Not sure if rooted entirely in same issue

[2020-10-16 04:01] ruotianluo opened #4184 "Resume training from a finished-training model will results in a new incorrect checkpoint"
To verify a model if a model has finished training. I ran the training script again.

However, when I try to evaluate with the model, I got error that:
[code]

After digging a little bit, it seems that since the model has finished training, it will directly go to on_train_end, and save the model checkpoint with `currect_epoch+1`.

I am wondering if the design of saving checkpoints with "next epoch

[2020-10-16 04:03] benihime91 opened #4185 "How to use Lightning 1.0 without validation dataloader ?"
How does one do the training in pytorch lightning in without a validation dataloader ?

In earlier version it was setting Trainer flag `val_percent_check = 0`, but the latest version doesn't seem to have the flag `val_percent_check` , i couldn't find it in the docs.

So how do i train if i do-not have a validation dataloader or do-not want to perform the validation step.

Will this work ?

[code]

[2020-10-16 04:16] ruotianluo commented on #4184
I moved +1 from https://github.com/PyTorchLightning/pytorch-lightning/blob/dec31b3e761115b0a938caf35649acd814f557c9/pytorch_lightning/trainer/connectors/checkpoint_connector.py#L254 to https://github.com/PyTorchLightning/pytorch-lightning/blob/dec31b3e761115b0a938caf35649acd814f557c9/pytorch_lightning/trainer/connectors/checkpoint_connector.py#L150

[2020-10-16 04:21] ruotianluo commented on #4184
A simpler solution is adding an if before https://github.com/PyTorchLightning/pytorch-lightning/blob/b45b57cc587a11c3049fb5c605cf2d4b0689de2c/pytorch_lightning/trainer/trainer.py#L510

[2020-10-16 04:33] ruotianluo commented on #4184
I add an if before https://github.com/PyTorchLightning/pytorch-lightning/blob/72f19768c828b734d8565ffef7b78fb9a57ba847/pytorch_lightning/trainer/training_loop.py#L178
[code]

[2020-10-16 05:39] clearlovewl commented on #4161
Thank you for your kind answer, but I still have problems with my project.
Because of the needs of my project, I need to run the program over and over again to measure the performance of the model. So Each time I give the model a different SEED. This can also lead to memory leaks. This makes me wonder why giving different seedings would cause this problem.
based on your code ，I change seed. colab

[2020-10-16 06:16] xiadingZ opened #4186 "1.0.2 doesn't log hyper parameters"
In pt 1.0.2, tensorboard can't log hyperparameters, it only show `hp_metrics`. and `hparams.yaml` is empty

this is my code aboud hparams:
[code]

[2020-10-16 06:46] abhinavg97 opened #4187 "F beta with macro computation outputs nans for certain inputs"
## 🐛 Bug

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing)

https://colab.research.google.com/drive/1108mj1bKob0QpGlq2Q09L7ulmPDE49D1?usp=sharing

### To Reproduce

[code]
### Expected behavior

tensor(0)

### Environment

Please copy and paste the output from our
[environment collection script](https:/

[2020-10-16 06:49] abhinavg97 commented on #4187
Fixed the issue with https://github.com/PyTorchLightning/pytorch-lightning/pull/4183

[2020-10-16 07:06] mauvilsa commented on #3720
@nateraw nice to have you here now :+1:. I am not sure why you think it is better to reimplement things directly into lightning. Modularity and separation of concerns is a basic software engineering principle. pytorch-lightning is not an argument parsing library. It makes much more sense to reuse existing software whose sole purpose is parsing arguments. If you go on and implement an extension of

[2020-10-16 07:10] mauvilsa commented on #4119
@odedbd @carmocca @nateraw I will be commenting about nateraw's proposal in issue #3720 since that one has a more generic scope.

[2020-10-16 07:27] ndrplz commented on #4186
I think you should replace
[code]
with
[code]
(see [here](https://github.com/PyTorchLightning/pytorch-lightning/issues/4179#issuecomment-709537764))

related: #4179

[2020-10-16 07:28] benihime91 commented on #4185
This worked ....

[2020-10-16 07:28] #4185 closed

[2020-10-16 07:35] Borda commented on #4186
well we are saving the initial arguments, so you should be calling `self.save_hyperparameters()`
this is not just the case of TB, it is for all loggers since #4163

the reccomended flow is:
[code]

[2020-10-16 07:35] #4186 closed

[2020-10-16 07:37] Borda commented on #4186
eventually, we may permit this action if `self.hparams = hparams` is inside `__init__` or just for the fist time is called...

[2020-10-16 07:46] justusschock opened #4188 "To many backwards with LBFGS"
## 🐛 Bug

When using LBFGS we have one backward step to much, because we call backward before the optimiser step (also for gradient accumulation), but the optimizer step get's a closure and therefore calls backward again.

### To Reproduce
[code]
wget https://raw.githubusercontent.com/PyTorchLightning/pytorch-lightning/master/tests/collect_env_details.py
# For security purposes, please check the c

[2020-10-16 07:52] mauvilsa commented on #3720
In the master branch of the [jsonargparse github repo](https://github.com/omni-us/jsonargparse) you can find the latest changes I have been working on. This is needed to test the code below. To install the `all` extras require is necessary to get all optional dependencies and have all features enabled, i.e. `pip install -e .[all]` or `pip install WHEEL_FILE[all]` .

Without integrating jsonargpars

[2020-10-16 08:16] mauvilsa commented on #3720
@nateraw regarding your proposal in issue #4119 certainly it would be convenient to have something like that to standardize how arguments are added and simplify how to do it. But as you can imagine I would suggest to use jsonargparse. It could be an extension of jsonargparse's ArgumentParser. I would only propose a few minor changes as follows:

[code]

The differences are:

- Arguments of trainer

[2020-10-16 08:40] justusschock commented on #4188
cc @awaelchli

[2020-10-16 09:14] rohitgr7 commented on #4184
duplicate https://github.com/PyTorchLightning/pytorch-lightning/issues/4176 ?
I think a simple solution would be to not do anything anything if `current_epoch >= max_epoch`

[2020-10-16 09:49] michele-arrival commented on #4176
when it calls `on_train_end` maybe it could check whether anything has been run and if not, not increase the epoch and global step count? This would basically duplicate the checkpoint folder, but in a consistent way?

[2020-10-16 11:26] NumesSanguis commented on #4182
Sorry, it seems I didn't save the modifications to show the bug. I was not allowed to save, because I didn't copy the notebook. The link in the original post has been updated.

[2020-10-16 12:04] carmocca commented on #3720
What would this integration look like?

It doesn't seem to work (using current master):
[code]

This is sweet! Including the argument descriptions is a pending [TODO](https://github.com/PyTorchLightning/pytorch-lightning/blob/130de22fd75253330320473d8081fd60698c3d64/pytorch_lightning/utilities/argparse_utils.py#L163). Also adding to groups in a nested namespace is exactly what I wanted.

I know th

[2020-10-16 12:07] jonaskohler commented on #4170
Thanks for your answers. For me (speaking from a research perspective) it is definitely useful to know what's happening right at initialization. For example when examining different initialization schemes.

[2020-10-16 12:17] williamFalcon commented on #4170
yeah, i don’t think i mind logging batch 0.

@ananthsub?

[2020-10-16 12:48] mauvilsa commented on #3720
Would be very simple, mostly the code in `train.py` with a wrapper. Something like:

[code]

Probably with the code I wrote rather fast this morning I broke it. If you can, try it out with python 3.6 which is the only version I tested up to now. I will investigate what the issue is and let you know.

I am not too familiar with Hydra. I guess the scope of that would be bigger than argument parsing

[2020-10-16 12:51] justusschock commented on #4092
@noamwies You're right. I misunderstood a small part of the code. I checked again with @awaelchli and can now confirm your understanding. We can fix this directly after #4190 is done. I'll ping you here to test, once I got to it for confirmation :)

[2020-10-16 13:04] ruotianluo commented on #4184
@rohitgr7 yes. It's the same.

[2020-10-16 13:06] czrcbl commented on #1112
Hi, I am facing the same problem, no progress bar on Jupyter Lab.
[code]
I am using pytorch_lightning version 1.0.2.

[2020-10-16 13:08] awaelchli opened #4193 "max_steps has no effect in combination with gradient accumulation"
## 🐛 Bug

[code]

This training runs for all 1000 epochs instead of just max steps.

### Expected behavior

Training runs for max_steps.

### Additional context

The tests with TODO marker can be found here  #4190

[2020-10-16 13:08] JVGD commented on #2407
Just commenting here because I am really interested to see this solved (and I want the notifications on this issue).

My team and I ported to 1.0.1 and then everything crashes in multi gpu with ddp... Had to roll back to 0.9.0 and everything works back again 🤷‍♂️ On a friday (yes, today) that is a critical day for us to launch experiments (so they are run over the weekend)

[2020-10-16 13:13] shreyaskamathkm commented on #2407
@JVGD did you try 1.0.0? That solved my error.

[2020-10-16 13:18] mauvilsa commented on #3720
@carmocca I now tried the code using python 3.8 and I did not get any issues. What exactly did you do? Was it in a new virtual env? Which version of pytorch-lightning?

[2020-10-16 13:39] carmocca commented on #3720
Sorry for the confusion. I was reusing a previous venv which caused the issue. Works with a clean environment!

No issue on my part, just asking to assess the different options :smile:

[2020-10-16 13:56] zhen8838 commented on #2824
a simple solution

[code]

[2020-10-16 14:24] arthurpiazzi opened #4194 "How to use Truncated Backpropagation Through Time"
Hi all,

I am trying to use Truncated Backpropagation Through Time to train a multivariate time series dataset.

But I found the documentation insufficient.

Could anyone provide an example?

Thanks in advance

[2020-10-16 15:00] lezwon commented on #1112
@czrcbl are you using sagemaker? or running jupyter lab locally?

[2020-10-16 15:12] czrcbl commented on #1112
I am running the Jupyter Lab in an Amazon ECS instance and connecting to it through ssh port forwarding.

[2020-10-16 15:26] kyoungrok0517 opened #4197 "Strange loss graph with wandb after switching to LambdaLR scheduler (from transformers)"
![image](https://user-images.githubusercontent.com/1051900/96277235-f28f5b80-100e-11eb-8635-e867864b581b.png)

Hello. I'm seeing the graph above during my training, which is weird. My graph wasn't like this until I swap the **optimizer** and **scheduler** with those from `transformers`. I'm using `wandb` for the logging.

The only changes in the code is below

[code]

`lr` is being logged properly

[2020-10-16 15:51] ydcjeff commented on #4182
@NumesSanguis you need to call your custom callback class
[code]

[2020-10-16 16:01] blisc opened #4198 "ModelCheckpoint(monitor='val_loss') crashes when with self.log("val_loss")"
## 🐛 Bug

ModelCheckpoint is crashing with MisconfigurationException when using monitor and using self.log inside the validation_epoch_end function.

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing)

https://colab.research.google.com/drive/1vqVx1l2tp9adKAeTUS8Q-zUUBQnZtbTY

### To Reproduce
N/A

### Exp

[2020-10-16 16:18] ydcjeff commented on #4198
Hi @blisc I noticed you are not calling `self.log` in validation_epoch_end
[code]

[2020-10-16 16:31] blisc commented on #4198
Good catch, thanks @ydcjeff. Let me know into it again and reopen if needed

[2020-10-16 16:31] #4198 closed

[2020-10-16 16:37] awaelchli commented on #4197
@kyoungrok0517 what happens if you select global_step for the x-axis in wandb?

[2020-10-16 16:45] kyoungrok0517 commented on #4197
Wow that fixed the issue. Thanks! But it'll be better if `global_step` is by default used as x-axis

[2020-10-16 16:47] #4197 closed

[2020-10-16 16:58] awaelchli commented on #4197
not possible as far as I know. wandb always chooses their own "step" as default.

[2020-10-16 17:32] awaelchli commented on #4182
@ydcjeff is right, his fix works

[2020-10-16 17:32] #4182 closed

[2020-10-16 18:11] fabrahman commented on #3757
@Rashindrie Hi, I am facing the same issue. Did you manage to solve this? Thanks

[2020-10-16 19:00] #3864 closed

[2020-10-16 19:01] rohitgr7 commented on #3592
It's available on 1.0.2 now.

[2020-10-16 19:01] #3592 closed

[2020-10-16 19:04] rohitgr7 commented on #4049
@awaelchli you working on this?
Also, should we deprecate/remove https://github.com/PyTorchLightning/pytorch-lightning/issues/4049#issuecomment-706575159 first and then update the test?

[2020-10-16 19:33] #4184 closed

[2020-10-16 19:37] rohitgr7 commented on #4176
good suggestion. But I still think it should not create a new version for checkpoints if we are resuming the training, but this might create some problems with the logs, not sure.
@PyTorchLightning/core-contributors suggestions here?

[2020-10-16 19:54] chiragraman commented on #3998
@rohitgr7 Yo Rohit, I found the problem and can reproduce it with the bug report model. The issue is that saving hyperparameters to checkpoint fails for subclassed lightning modules.

The `hparams_name` is set by looking for ".hparams" in the class spec. This will obviously fail if your LightningModule is subclassed from a parent LightningModule that handles assigning of the hparams member variabl

[2020-10-16 19:58] awaelchli commented on #4049
what I posted here is all I worked on. It is a fully functional test + demo of other functionalities. it can be extended a little bit and then replace all the custom callback tracking in the old test. Please feel free to take it and use this code. If not, I will find some time.

I believe hooks like `on_epoch_start` can be useful if we "redefine" them to be running on epoch start regardless of tra

[2020-10-16 20:20] awaelchli commented on #3583
Yes, I think it would be useful.

[2020-10-16 20:21] rohitgr7 commented on #3998
@chiragraman which version of Lightning are you running your bug report model on?

[2020-10-16 20:24] chiragraman commented on #3998
@rohitgr7 Just pulled master yesterday, I'm updated to 1.0.1

[2020-10-16 20:27] george-gca commented on #4113
@rohitgr7 what should I do in this case? Just quoting my question in another post, don't know if I should just copy/paste it here. But `log_dict` is throwing error.

https://github.com/PyTorchLightning/pytorch-lightning/issues/2783#issuecomment-709695197

[2020-10-16 20:27] rohitgr7 commented on #3998
![Screenshot from 2020-10-17 01-55-27](https://user-images.githubusercontent.com/30778939/96305702-ecec4280-101b-11eb-8744-50208b68aa45.png)
I tried your code on both master and 1.0.1, but not getting any error. Am I missing something here?

[2020-10-16 20:36] chiragraman commented on #3998
Hmm, just ran it again and it crashed again. Here's the HEAD for my local lightning repo:
[code]

Hmm, if you add a breakpoint right before this,

https://github.com/PyTorchLightning/pytorch-lightning/blob/155f4e9aa5d6175f8d3db23d483154b065412cd0/pytorch_lightning/core/saving.py#L194

can you verify if the checkpoint contains any value for `"hparams_name"`? In the meanwhile let me pull master agai

[2020-10-16 20:40] rohitgr7 commented on #2783
@george-gca by default the `'loss'` from the `losses_dict` returned from the `training_step` will be added automatically. Since you are logging it explicitly in your code it will create a conflict here. Either you can disable it from your side or pop the `'loss'` that was added by default by overriding [get_progress_bar_dict](https://pytorch-lightning.readthedocs.io/en/latest/lightning_module.html

[2020-10-16 20:42] rohitgr7 commented on #3998
yes, it does `hparams`. Can you create a colab maybe? Would be better I guess to see that's hapenning here.

[2020-10-16 20:43] chiragraman commented on #3998
Hmm, just updated master so that my local HEAD is at `155f4e9a`. Can confirm it still crashes. If it helps at all, here is the entire console dump. I also can't see how this would work given how `.hparams` doesn't exist in the lines parsed for `ChildLitModel`, this:

https://github.com/PyTorchLightning/pytorch-lightning/blob/5c1eff351b035db5881d0cff81b1d9c9e150e2d0/pytorch_lightning/core/lightning

[2020-10-16 20:48] george-gca commented on #2783
Ok, so I changed my code to this

[code]

and my resulting `losses_dict` looks like this: `{'adaptive': tensor(1.2606, device='cuda:0', grad_fn=<MulBackward0>), 'l1': tensor(0.4253, device='cuda:0', grad_fn=<MulBackward0>)}`. But it throws another error:

[code]

[2020-10-16 20:53] rohitgr7 commented on #2783
your `training_step` should either return nothing (None) or a loss tensor or a dict containing a `'loss'` key.

By this, I meant set `prog_bar=False` while logging the loss, or just don't log it at all since it will be logged automatically.

[2020-10-16 20:55] chiragraman commented on #3998
@rohitgr7 I created a colab here: https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing#scrollTo=AAtq1hwSmjKe

But it works there, and I really don't know how for now :/

[2020-10-16 20:57] rohitgr7 commented on #3998
it's because of notebook env I think. I tried it as a python script and it's throwing the error but in a notebook it isn't. What's happening here haha  :sweat_smile:?

[2020-10-16 21:00] chiragraman commented on #3998
Phew, I was starting to lose my mind. Yeah, it works in that colab I shared. Haha I think the script behaviour is at least explainable looking at the code, I would expect the hparams value to be missing.

[2020-10-16 21:00] rohitgr7 commented on #3998
yep, true.

[2020-10-16 22:15] george-gca commented on #2783
@rohitgr7 so how should I do it if I want to show all losses in the progress bar? Both isolated and the total loss? Do I have to implement my own progress bar, or is there any way of doing this only with the `self.log_dict`?

[2020-10-16 23:14] MohammedAljahdali opened #4199 "Metric is different in logger and progress bar"
Hey
I am recording a metric called Character Error Rate, I was monitoring it through tensorboard logger, I also record some outputs with their CER every 100 batch, and I noticed that the CER is low  on the recorded outputs, compared to the epoch CER I saw on tensorboard and I said this might be a lucky batches. Then when I looked on the epoch CER on my progress bar it was so different from the on

[2020-10-16 23:20] pavopax commented on #4007
Issue successfully resolved and closed in linked issue above.

[2020-10-16 23:20] #4007 closed

[2020-10-16 23:46] vincentzlt commented on #924
looks like this still exists in 1.0.2

[2020-10-17 00:00] awaelchli commented on #4199
which version of Lightning are you using here?
maybe the same problem as  #4141, which was fixed in the latest version. If you are not on the latest version, try to install 1.0.2

[2020-10-17 05:03] zhen8838 commented on #2824
@SkafteNicki I think no need to add this feature in PyTorch lighting but need add more detail in [transfer learning document](https://pytorch-lightning.readthedocs.io/en/latest/transfer_learning.html#example-imagenet-computer-vision). When I training a GAN model, use the pre-trained module for content loss, but the document didn't say the model will automatically switch to training mode.

[2020-10-17 05:55] lezwon commented on #1112
I think this is because the `ipywidgets` notebook extension has not been enabled. Can you execute the instructions mentioned [here](https://stackoverflow.com/questions/60656978/display-tqdm-in-aws-sagemakers-jupyterlab) before installing lightning? Let us know if it works :)

[2020-10-17 07:00] pgmikhael commented on #2783
Hi @george-gca, could you provide the solution that worked for you?

[2020-10-17 08:46] NumesSanguis commented on #4182
Yup, can confirm that this was the issue.

[2020-10-17 08:56] lezwon commented on #4046
@ishgirwan I had a look at the notebook. I strongly suspect colab runs out of memory during the training, due to the dynamic size of your inputs. XLA will compile a new graph for every example if it has a different size than the others. [Reference](https://github.com/pytorch/xla/issues/2383#issuecomment-666849249). Try padding your inputs to maintain a consistent size. Let me know if that works.

[2020-10-17 09:01] lezwon commented on #4046
Also I dont think this `optimizer_step` function needs to be defined. Lightning handles this behind the scenes and calls `xm.optimizer_step(optimizer)` when training on TPU's. 👍

[code]

[2020-10-17 10:28] MohammedAljahdali commented on #4199
My version is 1.0.0 . The issue you mentioned is the same as mine, I will try to install 1.0.2, if this did not work I will post here to inform you. Thanks you.

[2020-10-17 11:06] MohammedAljahdali commented on #4199
The issue is fixed with 1.0.2, I will close this issue

[2020-10-17 11:06] #4199 closed

[2020-10-17 11:13] alyashgo opened #4202 "Unable to Train SimCLR using TPU on Colab(times out/crashes)"
## 🐛 Bug

While training SimCLR on colab, TPU seems to time out/crash.
Tried training on CIFAR10 and a custom dataset(1000 images) as well.

### To Reproduce
See this colab Notebook : [https://colab.research.google.com/drive/1Qyk8pNq4q5i6IOLIk6s1S52MXVE_S7c4?authuser=1#scrollTo=blu3oLGEMw14]()

This is the relevant part of the stack trace:
![2020-10-17](https://user-images.githubusercontent.com/44

[2020-10-17 13:57] tadejsv opened #4203 "Viewing validation statistics by epoch (on x-axis) broken in Wandb"
## 🐛 Bug

Here's the [boring model](https://colab.research.google.com/drive/1h8KbopeAidzcLc8w7uxiOGftaoztJdMV?usp=sharing).

If you want to view the charts in Weights and Biases with epoch on the X-axis, you get a message that there is "no data availible". Viewing with the step/global step on the X-axis still works. See the two images below:

*With epoch on x-axis*
![Screenshot from 2020-10-17 15-

[2020-10-17 14:18] awaelchli commented on #4176
since the logger handles the versioning, I would leave it up to the logger to decide how this is managed. For example, in some loggers you have to set an argument for when you want to resume logging to an existing experiment. In this case, the version number should be come the same and checkpoints can be saved to the same location.

[2020-10-17 14:19] rohitgr7 commented on #4203
I think this might fix the issue https://github.com/PyTorchLightning/pytorch-lightning/pull/4130

[2020-10-17 14:22] awaelchli commented on #3698
yes. I would do it this way. grab the state dict of the embedding layer and add it to the checkpoint dict. when loading, you do the opposite and read the state dict.

sorry, nothing comes to my mind :(

[2020-10-17 14:23] tadejsv commented on #4203
I tried, and it does!

[2020-10-17 14:57] awaelchli commented on #4067
![image](https://user-images.githubusercontent.com/5495193/96341245-55c5d000-1099-11eb-8f38-9c696fa2f0e6.png)

`self.log` computes the average of the metric at the end of the epoch. So when you log the test_batch_idx, it will always compute the average of all values 0,1,2,3,4....,n where n is the number of test_steps.
In the attached image you see that when I change to `self.log('test_batch_idx',

[2020-10-17 14:57] #4067 closed

[2020-10-17 15:03] awaelchli commented on #4203
Thanks for reporting and reproducing. I need this too!

[2020-10-17 15:35] mostafiz67 commented on #924
I am also facing the same problem. I gave a post in the forum [here](https://forums.pytorchlightning.ai/t/how-can-i-load-model-from-checkpoints-with-all-params-for-testing/273).
I am not sure, my code is wrong or it is a bug!

[2020-10-17 15:57] denadai2 opened #4204 "loss=None and no logs when automatic_optimization=False"
## 🐛 Bug

I think there is a bug when automatic_optimization=False. The loss=None (https://github.com/PyTorchLightning/pytorch-lightning/blob/72f19768c828b734d8565ffef7b78fb9a57ba847/pytorch_lightning/trainer/training_loop.py#L336) and this means that all the checkpoint_callbacks cannot work. There is no way to set the loss.

I also add that in the documentation (https://pytorch-lightning.readthed

[2020-10-17 16:34] tchaton opened #4206 "Add warning if {}_idx is not present for multiple val dataloaders / optimisers"
## 🚀 Feature

### Motivation

Currently, if a user uses several val data loaders and forgot to add dataloader_idx, they will get the following error:
[code]
From Slack.
https://pytorch-lightning.slack.com/archives/CRBLFHY79/p1602879838197200

### Pitch

Add a warning which checks the functions signature and validate the number of right number of arguments.
If not, add warning indicating `dataloade

[2020-10-17 16:44] ssaru opened #4207 "<auto_select_gpus=True, gpus=-1> raise MisconfigurationException("GPUs requested but none are available.")"
## 🐛 Bug

[auto_select_gpus](https://pytorch-lightning.readthedocs.io/en/stable/trainer.html#auto-select-gpus)

but, if you set gpus is -1, raise MisconfigurationException("GPUs requested but none are available.")

## Please reproduce using [the BoringModel and post here]

[bug_auto_select_gpus](https://colab.research.google.com/drive/1vJ63KjZcXz8xZzyY9ZDz0LlaX5gMM6cS?usp=sharing)

### Expected be

[2020-10-17 17:12] asrafulashiq opened #4208 "AttributeError: 'Trainer' object has no attribute 'hpc_save'"
## 🐛 Bug

Getting the following error in slurm cluster:

[code]

### Environment
pytorch

[2020-10-17 17:12] noamwies commented on #4092
Thanks

[2020-10-17 17:38] dav-ell commented on #1833
Was there not enough interest in this to continue? I'm interested in this being implemented.

[2020-10-17 17:56] Borda commented on #1833
@dav-ell sure, do you want to take it over?

[2020-10-17 18:04] awaelchli commented on #1833
@dav-ell sure go ahead. Please add me as reviewer when you send the PR. cheers!

[2020-10-17 18:16] tchaton opened #4212 "[Feature] Add on_after_backward in Callback. Enable ModelGradTrackerCallback"
## 🚀 Feature

### Motivation

The call_hook `on_after_backward ` is already implemented, but not added in Callback class.
It boils down to add it within Callback Class

### Pitch

Adding this new hook within callback could be used to implement something like`ModelGradTrackerCallback`.

### Alternatives

### Additional context

[2020-10-17 18:38] rohitgr7 commented on #4212
#3657 already requested :)

[2020-10-17 19:09] george-gca commented on #2783
Sure @pgmikhael the main thing was the hint that @rohitgr7 gave me. I basically create the dictionary without the `loss` key, log this dictionary to progress bar, then add the `loss` key and return it.

[code]

[2020-10-17 19:13] #4212 closed

[2020-10-17 19:13] Borda commented on #4212
pls, update the existing one if needed :]

[2020-10-18 01:56] evanatyourservice commented on #3706
This is mentioned very briefly in the DDP documentation, perhaps it should also be mentioned in the TPU section in the docs since TPU uses DDP. This was my case, and I understood it as needing to scale batch size to match effective learning rate, but it was hard to find confirmation on this even with several threads on the subject in various places.

[2020-10-18 08:56] David-AJ commented on #3698
I modified my code like this:
[code]
It works! Thank you @rohitgr7 and @awaelchli!

[2020-10-18 08:56] #3698 closed

[2020-10-18 09:48] maulikmadhavi opened #4214 "use of add_embedding as logger.experiment.add_embedding"
## 🐛 Bug

[code]

## The console output:
[code]
### Workaround
[30966-pytorch-issue](https://github.com/pytorch/pytorch/issues/30966)

Please fix.
It works sometimes by adding
[code]

Thanks
Maulik

[2020-10-18 13:19] MohammedAljahdali opened #4216 "Checkpoint is saving the model based on the last val_metric_step value and not val_metric_epoch"
## 🐛 Bug

Checkpoint callback did not save some models even thought they achieved better result in the monitored metric, than the currently top k saved models

### Expected behavior

Checkpoint callback saving the best scoring models based on a metric

### Environment

I am using pytorch-lightning 1.0.2

#### Update:
I changed the checkpoint call back to add the value I am monitoring to the name o

[2020-10-18 14:13] #4208 closed

[2020-10-18 15:34] dvirginz opened #4218 "Advice on how to use a self-supervised regression scheme within a single step in pl"
Hi
I have the following scheme:
[code]
I.e - Without using pl, it will be just two training procedures, one within the other.
My question is, Can I somehow create a trainer within this module, and call this trainer each training step of `refine_P`?

[2020-10-18 16:31] sanjeevk-os commented on #4206
@tchaton I would like to work on this issue. Thanks.

[2020-10-18 17:35] andrewjong commented on #924
Could this have the "bug" label added? Seems like unintended behavior.

[2020-10-18 17:58] akihironitta opened #4220 "Add favicon to docs"
TODO: Add a favicon file and set its path like: https://github.com/optuna/optuna/commit/c314894492de4bceef827f0ea188e99a8d7d6b7a.

[2020-10-18 18:49] george-gca commented on #2618
@rohitgr7 how should I handle the gpu devices in my model? I mean, should I manually parse the args.gpus from Trainer in my model, to find out exactly which gpus should I use? Also, why should I use CPU backend in Trainer?

[2020-10-18 19:06] george-gca opened #4222 "Add total params to weights_summary table"
## 🚀 Feature
Add total number of parameters when printing the weights_summary table.

### Motivation

Since the total number of parameters for each layer is already calculated, it would be really informative if a total sum of number of parameters were also provided. Something like https://github.com/TylerYep/torch-summary or https://github.com/nmhkahn/torchsummaryX provide in their table.

### Pit

[2020-10-18 19:18] rohitgr7 commented on #2618
@george-gca Currently, model parallelism is not supported out of the box by lightning so if you assign a GPU in Trainer, it will put the whole model on that device which is not actually model parallelism.

[2020-10-18 20:34] #3880 closed

[2020-10-18 20:49] george-gca commented on #2618
Ok, I tried this @rohitgr7, set gpus=0, then manually move my model parts to each gpu, but got the following error:
[code]

any advice?

[2020-10-18 22:04] Rashindrie commented on #3757
Hi @fabrahman I could not solve it. I switched into using a batch size of 1 with gradient accumulation.

[2020-10-18 23:05] vobecant opened #4223 "Checkpoint loading at the test time"
## 🐛 Bug
Hi,
I am having problems with using checkpointing and testing with the use of DDP in multi-GPU setup. I guess that model in each process tries to save its model during the training and then load it at the test time. However, there is just one such model saved and therefore the other processes cannot find their saved model and I get the following error:
`FileNotFoundError: [Errno 2] No suc

[2020-10-19 00:54] zye1996 opened #4224 "segmentation fault when import pytorch_lightning"
I am trying the very minimum code which imports torch and pytorch_lightning, with the following code:
[code]
The import of pytorch_lightning fails immediately with the error: 29144 segmentation fault (core dumped)  python
I am using pytorch-dev 1.7.0 as it is required for cuda11 with new GPUs, and I installed pytorch-lightning from source.

 - OS: Linux
 - Packaging: pip
 - Version 1.0.2

[2020-10-19 04:21] Shreeyak commented on #2069
I also faced this error. Once the process starts, it hangs and is unresponsive to even Ctrl-C.
I solved it by switching to absolute import paths, as suggested above. Thanks!

[code]

[2020-10-19 04:42] ambekarsameer96 commented on #4202
@williamFalcon @ananyahjha93 Can you please look into this?

[2020-10-19 05:52] ydcjeff commented on #4224
Hi @zye1996 thank you for reporting.
While we have nightly support for PyTorch 1.7, we have only tested in cpu environment. Also we currently only support CUDA 10.1 and 10.2 just like pytorch did. So this issue may come from CUDA 11 + PyTorch 1.7-dev as the binaries are not built for CUDA 11 yet.

https://discuss.pytorch.org/t/pytorch-with-cuda-11-compatibility/89254/4

If you don't have a specifi

[2020-10-19 05:53] #4224 closed

[2020-10-19 06:54] Limtle opened #4225 "Understanding progress bar"
When training or Validating on 2 nodes (8 gpus per node), Lightning show 16 same progress bars with different loss, such like
Epoch 0:   9%|▊         | 3/35 [00:14<02:29,  4.68s/it, loss=10.122, v_num=193413].
Epoch 0:   9%|▊         | 3/35 [00:14<02:29,  4.68s/it, loss=9.858, v_num=193413]
Epoch 0:   9%|▊         | 3/35 [00:14<02:29,  4.68s/it, loss=10.225, v_num=193413]
...
It means the output h

[2020-10-19 08:03] Borda commented on #2069
Please upgrade to 1.0

[2020-10-19 08:15] ishgirwan commented on #4046
Thanks a lot @lezwon for looking into this issue. As you mentioned, the issue is probably with the way XLA functions, since the code has worked properly with GPU. Padding would work as the images will then be of equal size. I will close this issue now.

Also, I have hosted the dataset at [Kaggle](https://www.kaggle.com/ishgirwan/predict-hdi-of-villages-using-satellite-imagery). Thanks again.

[2020-10-19 08:15] #4046 closed

[2020-10-19 08:37] blizda commented on #4033
Thanks all for help. This issue don't connect with lightning, this issue comes from vanilla torch. Sorry for miss reporting

[2020-10-19 08:37] #4033 closed

[2020-10-19 08:44] SkafteNicki commented on #4214
This is clearly a 3rd-party issue, and simply happens because both `tensorflow` and `tensorboard` is installed in the same environment, which can lead to some problems when calling the `SummaryWriter` of pytorch.
I could get this working in a new enviroment with **only** `tensorboard` installed.
Therefore this is not a problem related to lightning directly.

[2020-10-19 08:50] SkafteNicki commented on #4222
Related to https://github.com/PyTorchLightning/pytorch-lightning/issues/1833
Please feel free to send a PR with the suggested enhancement!

[2020-10-19 09:24] maxjeblick opened #4226 "Batch size finder is not working if batch_size is specified in LightningDataModule"
## 🐛 Bug

The batch size finder won't work if the batch size is specified in the LightningDataModule, only (it is natural to define it there).

An instance of a LightningModule always has the attribute [hparams](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/core/lightning.py#L1603); the batch_size finder raises a `MisconfigurationException` if `batch_size` isn

[2020-10-19 09:34] Vozf opened #4227 "Gif on the main repo page is outdated"
It uses TrainResult which was deprecated

[2020-10-19 10:12] Abelarm commented on #3905
HI @Borda,

I am working on it, I was able to download the png file for some of the badge and save it, but sadly not all the badges have the .png version buy only the svg. How do you think I should proceed?
I just save the svg files and load it?

Other questions:
- I was planning to save the badges in `docs/source/_images/badges` is it fine for you?

[2020-10-19 10:33] tchaton opened #4228 "[feature] Extend fast_dev_run to accept an integer representing num_batches for unit testing"
## 🚀 Feature

### Motivation

Currently `fast_dev_run` accept only a boolean value.

`fast_dev_run` meaning: Runs 1 batch of train, test and val to find any bugs (ie: a sort of unit test).

[code]

The new feature will extend fast_dev_run to accept a integer representing the number of batches to use for `fast_dev_run` allowing better coverage for unit testing.
[code]

Therefore,
[code]

### Pitch

[2020-10-19 10:49] Vozf opened #4229 "Comet logger overrides COMET_EXPERIMENT_KEY env variable"
After https://github.com/PyTorchLightning/pytorch-lightning/pull/2553  there is a changed logger behavior. It starts using `COMET_EXPERIMENT_KEY`. But it doesn't respect it if it is set already.
So the bug is in the following.
I already set this variable
Then logger overwrites my value here https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/loggers/comet.py#L189
Th

[2020-10-19 10:55] clearlovewl opened #4231 "Circulation training with different seed increases memory"
## 🐛 Bug

## I reproduce using [the BoringModel and post here]
https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing

Because of the needs of my project, I need to run the program over and over again to measure the performance of the model. So Each time I give the model a different SEED. This can also lead to memory leaks. This makes me wonder why giving different s

[2020-10-19 11:15] michele-arrival commented on #4176
I see also that the checkpoint is saving the *next* loop count, both for epoch index (in this case epoch index = 1, even though the file is called `epoch=0.ckpt`) and global step, as if we are ready to start the next loop.

Another way to fix this would be to save the state before incrementing the counters (and incrementing them on state load)

[2020-10-19 12:30] Borda commented on #3905
I think that my version now with locally saved badges is fine now, not sure, maybe SVG will work too and the issue was just the online version... later we can try something else :]

yes, sounds good to me :] just add also this location to MANIFEST.in

[2020-10-19 12:41] SkafteNicki commented on #4226
That is strange, we have a test for that specific case:
https://github.com/PyTorchLightning/pytorch-lightning/blob/7c4f80a1afe3d7b0f1e9ee834aacaf8439195cdf/tests/trainer/test_trainer_tricks.py#L233-L270
It must be the logic in `lightning_hasattr`, that is broken, because it should explicit check if dataloader has a field called `batch_size`:
https://github.com/PyTorchLightning/pytorch-lightning/bl

[2020-10-19 12:45] SkafteNicki commented on #4228
I like this enhancement. If anyone want to create a PR, it is essentially these lines of code that needs to be changed:
https://github.com/PyTorchLightning/pytorch-lightning/blob/1d3c7dc8d693ce04b66095451d9b1b1dbd2aee82/pytorch_lightning/trainer/connectors/debugging_connector.py#L36-L44

[2020-10-19 13:56] SeanNaren commented on #3597
I can confirm this works using the below boring model test:

[code]

I think the error message is a bit ambiguous, but the issue might be not calling `self.log` to report the metrics we'd like to save on.

[2020-10-19 14:09] maxjeblick commented on #4226
In the test mentioned above, the `batch_size` is also specified inside the `LightningModule`. Both attributes `batch_size` (inside the module and inside the datamodule) are updated correctly.
The batch size finder fails if `batch_size` is specified in the datamodule, only.

[2020-10-19 14:34] pbmstrk opened #4234 "Values logged in test_epoch_end not returned when calling test()"
## 🐛 Bug

When calling `test()`, if values are logged only in the `test_epoch_end` method they are not returned. This leads to the following somewhat inconsistent behaviour:
- Values logged only in `step` method -> appear in list returned by `test()`.
- Values logged in `step` and `epoch_end` -> both appear in list returned by `test()`.
- Values logged only in `epoch_end` -> values do not appear.

[2020-10-19 14:50] Borda commented on #4225
@Limtle could you please share a complete example to reproduce? Does it happen only on DDP? Are all 16 updated in parallel or just the last one?

[2020-10-19 14:54] Borda commented on #4234
@SeanNaren mind have look? :]

[2020-10-19 14:55] Borda commented on #4231
@tchaton mind have look? :]

[2020-10-19 15:20] george-gca commented on #1833
Adding as a reminder for myself (or anyone who tackles this issue first): this should be made [here](https://github.com/PyTorchLightning/pytorch-lightning/blob/72f19768c828b734d8565ffef7b78fb9a57ba847/pytorch_lightning/core/memory.py#L272). Probably doing the total values calculation before calling the function [here](https://github.com/PyTorchLightning/pytorch-lightning/blob/72f19768c828b734d8565

[2020-10-19 15:42] Shreeyak commented on #4228
@tchaton I'd like to take this PR, please.

@SkafteNicki Thanks for the tip!

[2020-10-19 15:46] ananyahjha93 commented on #4216
Can you post some code to reproduce this? Or code snippet for training_step and validation_step

[2020-10-19 16:14] nathanpainchaud commented on #4098
@SkafteNicki Thanks a lot for the recommended implementation. I've just now gotten around to implementing it. However, I still get the CUDA OOM after the same number of steps.

Like I mentioned in one my earlier message, I suspect that behind the scenes PyTorch keeps the computational graph of the previous steps because the results (requiring grad) are saved as part of the state of the metric. Rea

[2020-10-19 16:25] SeanNaren commented on #4234
Thanks for the report @pbmstrk! Fairly simple but with a couple of ways to fix this.

The issue arises because when we log metrics, we do not include any custom logged epoch end metrics. The reason why this is included when something happens within the `test_step` function is because we actually complete the loop [here](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_ligh

[2020-10-19 16:52] ddrevicky opened #4237 "[Metrics] AUC reorder is unstable"
## 🐛 Bug

When `auc(x, y, reorder=True)` is called (`True` is the default) it reorders the xs and ys. It uses `torch.argsort` on `x` internally, which is unstable and does not take the second key `y` into account when sorting. In some cases this leads to reordering that changes the order of `ys` in an undesirable way resulting in incorrect metric computation.

[code]

See an example [colab](https:

[2020-10-19 18:00] jdavid04 opened #4238 "Metrics do not support multilabel tasks."
## 🐛 Bug

Scikit-learn metrics deal well will multilabel tasks, but this doesn't seem to be supported in Pytorch-Lightning metrics.  There is this #3350 , but it seems to confuse multiclass with multilabel (multiple values to predict).

### To Reproduce
Given predictions tensor:
[code]
and labels tensor:
[code]
The call to `f1_score(met_preds,labels, class_reduction='macro')` yields `tensor(0.3333

[2020-10-19 18:12] Borda commented on #4237
@teddykoker mind have look? :]

[2020-10-19 18:13] Borda commented on #4238
@justusschock mind have look? :]

[2020-10-19 18:18] rohitgr7 commented on #3703
https://github.com/PyTorchLightning/pytorch-lightning/pull/4213 will fix https://github.com/PyTorchLightning/pytorch-lightning/issues/3703#issuecomment-700060945

[2020-10-19 18:22] edenlightning commented on #4223
@awaelchli mind taking a look?

[2020-10-19 18:23] teddykoker commented on #4237
Functional metrics... cc. @justusschock @SkafteNicki

[2020-10-19 18:27] justusschock commented on #4237
With PyTorch it is hard to have a more stable sorting. Currently. Not sure, if we should actually implement it manually or remove it.

@SkafteNicki do you think we actually need this?

[2020-10-19 19:26] Borda opened #4241 "add CI check for valid import formatting"
## 🚀 Feature

add a CI checker for valid import formatting - three section: build-in, third party, and this package
note that all "unused" imports in init shall be ignored and they are meant such a way...

### Motivation

We shall follow pep8 recomendation

[2020-10-19 19:39] nathanpainchaud commented on #4241
@Borda I'm up for adding this, since I've already done this for my own project based on PL :wink:

[2020-10-19 20:32] mostafiz67 commented on #3041
When I am using the same code for `cross_entropy loss` it is working fine. But getting error for `mse_loss`. Why this is happening?
`return {'train_loss': loss, 'log': tensorboard_logs}` is fine for `cross_entropy` but showing error for `mse_loss`.

However, if I changed the `train_loss` to `loss` then it is working fine. Why?

[2020-10-19 20:38] rohitgr7 commented on #3041
because `loss` is a special key that will be used to tell which value to optimize. you need to return a value with `loss` key in the dictionary or just return a loss tensor. For logging check the new API.

[2020-10-19 21:06] Shreeyak commented on #2069
I am on pytorch-lightning 1.0.2, pytorch 1.6.0

[2020-10-19 21:47] Borda commented on #2069
@Shreeyak mind opening a new issue> this is a bit confusing is this issue refers to quite an old version...

[2020-10-19 22:13] #4214 closed

[2020-10-19 22:24] edenlightning commented on #4012
Thanks for raising the issue! would you like submit a PR for the fix?

[2020-10-19 22:28] edenlightning commented on #3651
hey @Rashindrie! Would you mind upgrading to 1.0.2 to see if the issue persists?

[2020-10-19 22:30] #3413 closed

[2020-10-19 22:33] edenlightning commented on #3302
Please try and reproduce your error using this [model](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/bug_report_model.py), and share a colab.

[2020-10-19 22:34] edenlightning commented on #3099
Please upgrade to 1.0.2. We deprecated Results for a much simpler API for checkpointing. Feel free to reopen if issue persists!

[2020-10-19 22:34] #3099 closed

[2020-10-19 22:35] edenlightning commented on #2817
Closing this for now, feel free to reopen if you can reproduce using [our base model example](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/bug_report_model.py)

[2020-10-19 22:35] #2817 closed

[2020-10-19 22:36] #2805 closed

[2020-10-19 22:38] edenlightning commented on #2698
closing this issue for now. Feel free to reopen with an example so we can reproduce!

[2020-10-19 22:38] #2698 closed

[2020-10-19 22:50] edenlightning commented on #3384
hey @willprice! We updated our API to use self.write instead of results objects, that should simplify things.

Can you try upgrading to 1.0.2 to see if issue presists?

[2020-10-19 23:19] edenlightning commented on #2804
@Borda any idea what the fix here is?

[2020-10-19 23:20] edenlightning commented on #3581
@nateraw any update on this?

[2020-10-19 23:46] edenlightning commented on #3497
@williamFalcon is this done?

[2020-10-20 00:14] nateraw commented on #2673
@sshleifer [Here's a notebook](https://colab.research.google.com/drive/1e7h54IlrtjdifjKu2wK3fDyzp4ZVyacP?usp=sharing) that shows `trainer.test` on native 16 bit precision. I use the `self.write_prediction` feature as well to write the test predictions to file.

Here's what I do in the notebook:

1. Train on 1 GPU, 16 bit precision
2. Test best model, write predictions to `predictions.pt` file.
3.

[2020-10-20 01:18] Shreeyak opened #4243 ".fit() hangs when using DDP with relative imports in main code"
## 🐛 Bug

My training script is a module within a package. If my module uses relative imports and `ddp` backend, it throws an error about relative imports and hangs. Using `ddp_spawn` backend and relative imports works as expected.
The process becomes unresponsive even to Ctrl-C and I have to kill it and its subprocesses by PID.
[code]

Using absolute imports instead of relative imports fixes the

[2020-10-20 01:20] Shreeyak commented on #2069
(for other's ref) Created new issue: https://github.com/PyTorchLightning/pytorch-lightning/issues/4243

[2020-10-20 02:07] andreamad8 commented on #4176
I found the same bug is present when running in SLURM cluster, when the task is rescheduled more then the number of epochs.

[2020-10-20 02:09] #3510 closed

[2020-10-20 02:09] #3225 closed

[2020-10-20 02:09] #2809 closed

[2020-10-20 02:12] carmocca commented on #2398
@zerogerc did you test it?

[2020-10-20 02:41] Limtle commented on #4225
Sorry . the code can't be shared. But the following is my log file.
I will share a simple example as soon as possible.
[code]

[2020-10-20 03:15] XDynames opened #4244 "Function IoU - Input Expectations"
## 📚 Documentation

Changing input description to include that predictions should be an integer mask rather than raw logits [b, h, w] vs. [b, c, h, w]

If logits are provided solution runs with warning about number of classes being set incorrectly - from feeding the returned determined num_classes from get_num_classes() to stat_scores_multiple_classes() where it is called again with the now incorr

[2020-10-20 04:25] ydcjeff commented on #4220
Shall we have a favicon for new logo?
cc: @edenlightning

[2020-10-20 04:35] tbenst commented on #3484
I don’t think the benchmarking done here is valid (although there may indeed be a big speed up!). You need to manually call `torch.cuda.synchronize()` or else cuda operations may not finish and just be asynchronously dispatched. See discussion in https://github.com/pytorch/pytorch/issues/8817

[2020-10-20 04:39] oke-aditya commented on #3484
Yes @tbenst it might not be correct. I'm not much experienced with CUDA benchmarking.
Can you have a look at both the Colabs / locally and let me know if there can be any improvements?

[2020-10-20 07:51] tchaton opened #4245 "[AttributeError] Multiple validation dataloaders"
## 🐛 Bug

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing)

[code]

with `__rename_keys_by_dataloader_idx`

[code]

### To Reproduce

### Expected behavior

### Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/PyTorchLightning/pytor

[2020-10-20 08:26] tchaton opened #4246 "Inconsistency # calls between on_batch_start, on_batch_end in train and (val, test)"
## 🐛 Bug

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing)

Currently, on_batch_start is called along `on_train_batch_start` during training but doesn't for test and validation.
It results in a different number of function calls between training and testing / validation

Proposition to uniform the inter

[2020-10-20 08:28] tchaton commented on #4246
Hey @williamFalcon @Borda , would you validate this design choice or any better ideas  ?

[2020-10-20 09:25] jonashaag opened #4248 "Documentation page load speed"
## 🐛 Bug

Documentation loads slowly due to lots of assets. For example, in Firefox, this page https://pytorch-lightning.readthedocs.io/en/stable/trainer.html takes 12 s to load and downloads 18 MiB. In Chrome (vanilla configuration) it takes 34 s and loads 36 MiB.

In Firefox most of the time is spent making request (> 100 requests), and most data comes from large video preview files. In Chrome m

[2020-10-20 09:25] SeanNaren commented on #4234
Will implement solution 1, as this reflects what we see if there are step logging.

[2020-10-20 09:25] akihironitta commented on #4220
@ydcjeff The new logo you mean is ![](https://assets.website-files.com/5f76c986da6f6011315a6c45/5f7b485594e5335f56984a3c_Lightning_FavIcon.png)? (favicon taken from https://pytorchlightning.ai)

[2020-10-20 09:36] vobecant opened #4249 "GAN example doesn't work"
## 🐛 Bug

The GAN example for MNIST doesn't work as advised in the script basic_gan_module.py

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing)

To reproduce the issue just run:
`basic_gan_module.py --gpus 1`

### To Reproduce

### Expected behavior
Train the GAN network well for MNIST dataset with the

[2020-10-20 09:51] ydcjeff commented on #4220
@akihironitta yes

[2020-10-20 09:59] ddrevicky commented on #4244
You can assign this to me.

[2020-10-20 10:43] s-rog commented on #4030
@dschaehi can you submit a PR?

[2020-10-20 11:07] jonaskohler commented on #4170
Please allow me a follow up question: When passing num_sanity_val_steps=-1 to the trainer, the method validation_epoch_end is called at iteration 0 but for some reason nothing is logged. I tried both self.log(..) as well as logs={...}, return 'log':logs.

As soon as the first epoch is over, everything logs as normal. What do I need to do to trigger the first log to show up on tensorboard? Thanks i

[2020-10-20 11:16] tchaton commented on #4249
Dear @vobecant,

Are you referring to Bolt examples (https://github.com/PyTorchLightning/pytorch-lightning-bolts) ?
If yes, could you open an issue there ?

Best,
T.C

[2020-10-20 12:27] itsikad opened #4255 "self.log_dict() doesn't support dictionary of Metric objects"
## 🐛 Bug

Calling self.log_dict with a dictionary of Metric object(s) results in 'Trying to pass too many CPU scalars to CUDA kernel!' error. Unlike calling self.log(metric) directly, in this case the internal states are not transferred to device.

### Please reproduce using

https://colab.research.google.com/drive/1a7pjASi5_TiSc_XqEFB2Rfd4yaIcFqe2?usp=sharing

### Expected behavior

The self.log_

[2020-10-20 13:19] Maddy12 commented on #3581
I am having a similar issue. I over-ride directly on `trainer` after initializing the trainer on argparse and I see it has replaced it but it does not function as it should.

[2020-10-20 13:22] pbmstrk commented on #4255
From the stacktrace it seems the error occurs not when `log_dict()` is called but when calculating the metrics in the lines

[code]

When running the on the CPU no errors occur, so this is caused because tensors initialized within the metric class are not on the correct device.

Your code works when replacing,

[code]

with

[code]

I believe that by doing this you ensure that the metric classes (

[2020-10-20 13:58] vobecant commented on #4249
Dear @tchaton , yes, I am. I will open the issue there.

[2020-10-20 13:58] #4249 closed

[2020-10-20 14:02] itsikad commented on #4255
@pbmstrk thanks! indeed solved the issue.

I log 6 metrics during training and validation , any best practices/ideas on how to pack multiple metrics (~6-7) into a single object that update all at once when called? I tried to subclass nn.Module and add a ModuleDict. It does overcome the initial issue but now `self.dict_log()` cannot iterate over the metrics (since nn.Module has no items attribute).

[2020-10-20 14:33] tchaton opened #4257 "[FEATURE] Integrate Captum Interpretability as Callback."
## 🚀 Feature

### Motivation

Here is a Captum example: https://captum.ai/tutorials/Resnet_TorchVision_Interpret

[code]

### Pitch

### Alternatives

### Additional context

[2020-10-20 15:44] akihironitta opened #4260 "Tidy up returns from `ddp_train()` of accelerators"
## 🐛 Bug
There are currently inconsistent returns from the method `ddp_train` of accelerator classes.

For example, the method `ddp_train` of `DDP2Accelerator` returns `results` while `ddp_train` of `DDPSpawnAccelerator` returns `None`. Although I am not familiar with distributed training, it seems that both of the methods should return `results` (or both should return `None`)  for consistency.
ht

[2020-10-20 15:59] edenlightning commented on #3228
This changed with[ new API for logging](https://pytorch-lightning.readthedocs.io/en/stable/logging.html). Please upgrade to 1.0.2. Feel free to reopen if needed.

[2020-10-20 15:59] #3228 closed

[2020-10-20 16:09] pbmstrk commented on #4255
I'm not sure about best practices, but here is something simple that seems to work. Building on the idea of subclassing `nn.Module` and using `nn.ModuleDict` you can implement the `forward()` method to create a dictionary by iterating through the metrics. For example,

[code]

where `metric_dict` is simply a dict of the desired metrics, e.g.

[code]

Then in the `__init__()` method you can create

[2020-10-20 16:33] #4234 closed

[2020-10-20 16:49] s-rog commented on #2406
closing as tb logger hparams works properly now, re-open if you're having issues again

[2020-10-20 16:49] #2406 closed

[2020-10-20 17:17] ananthsub commented on #4170
Logging at global step 0 sounds good to me

[2020-10-20 17:53] wyessen commented on #4001
@SeanNaren Why did you close this issue? Your PR does not fix this.

[2020-10-20 18:23] edenlightning commented on #4137
@teddykoker any update?

[2020-10-20 18:28] aabrol opened #4265 "slurm auto re-queue inconsistency"
Hi! I submitted a slurm job-array with pytorch lightning functionality. I used the suggested signal (#SBATCH --signal=SIGUSR1@90) and set distributed_backend to 'ddp' in the Trainer call. I did notice successful auto-resubmission this morning whenever my jobs were pre-emptied; however, I now notice that several of them have not completed and are not queued either. Wondering if this has been report

[2020-10-20 18:58] SeanNaren commented on #4001
Apologies, I think the PR associated with this issue was incorrect!

[2020-10-20 19:06] Borda commented on #4001
@wyessen this was closed with @williamFalcon explanation that the behavior is as expected 🐰

[2020-10-20 19:07] SeanNaren commented on #4001
Will close again for now...

[2020-10-20 19:07] #4001 closed

[2020-10-20 19:10] wyessen commented on #4001
@Borda the behavior is not expected, please read my explanation (@williamFalcon was responding to @Borda’s message, which was different from my original issue).

[2020-10-20 20:03] rohitgr7 commented on #4170
global_step is indexed at 0, so if `log_every_n_steps = 10`, it will log at 1, 11, 21 `training_step` .

[2020-10-20 20:22] itsikad commented on #4255
Thanks again.

I took a similar approach, I implemented a `nn.Module` and 'stacked multiple metrics into `nn.ModuleDict' but I didn't return a dict (I'm not interested in computing the metrics every step) but it doesn't seem to work so far.
I'll give your suggestion a try.

[2020-10-20 20:25] ananyahjha93 commented on #3972
The LightningModule.log within LightningModule docs provides docs for this: https://pytorch-lightning.readthedocs.io/en/latest/lightning_module.html

I'll send in a PR to avoid this confusion, ```reduce_fx``` is end of epoch reduction and ```sync_dist_op``` is op for sync across GPUs.

[2020-10-20 20:41] itsikad commented on #4255
So I tried the most basic usage (use MeanSquaredError and self.log, same as in the docs) and got an error:

Reproduce (second block): https://colab.research.google.com/drive/1a7pjASi5_TiSc_XqEFB2Rfd4yaIcFqe2?usp=sharing#scrollTo=kBpMKYNU3QPy

[2020-10-20 20:44] edenlightning commented on #3865
mind upgrading to 1.0.2? And try to reproduce using this model-> https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/bug_report_model.py

[2020-10-20 20:45] edenlightning commented on #4223
@justusschock maybe you can take a stab

[2020-10-20 20:49] edenlightning commented on #4193
@SeanNaren please take a look!

[2020-10-20 20:50] edenlightning commented on #4238
@teddykoker mind taking a look?

[2020-10-20 20:53] pbmstrk opened #4266 "Error in logging of Regression Metrics"
## 🐛 Bug

When attempting to log a regression metric object as described [here](https://pytorch-lightning.readthedocs.io/en/stable/metrics.html#) when training for more than one epoch, the following error occurs,

[code]

Interestingly, this error only occurs when using regression metrics. For example, `Accuracy()` works without any problems.

### Boring Model Link

[Link](https://colab.research.g

[2020-10-20 20:57] pbmstrk commented on #4255
@itsikad i noticed this as well, it seems to be a problem with the regression metrics (for example if you try with Accuracy, the error does not occur). I opened a separate issue for this #4266

[2020-10-20 21:20] itsikad commented on #4255
Closing this issue then. Thanks for your help and time.

[2020-10-20 21:20] #4255 closed

[2020-10-20 21:35] nateraw commented on #3581
I wrote up [this colab notebook](https://colab.research.google.com/drive/1J8RYbATp4usMdohArCV59QQqFQIVs1HU?usp=sharing), where I'm successfully overriding the ckpt callback with a custom one while using argparse. I believe this closes the issue.

Here's the test function snippet from that notebook:

[code]

[2020-10-20 21:37] nateraw commented on #3581
Going to close this as I think my example shows this is no longer an issue. If I'm wrong or somehow misunderstood your issue, please feel free to reopen 😄

[2020-10-20 21:37] #3581 closed

[2020-10-20 22:51] teddykoker commented on #4238
Could you try the class interface? We have tested multilabel f1 with the class metrics, I think we are in the process of making sure we have the same functionality for functional

[2020-10-21 00:06] david-waterworth opened #4268 "EarlyStopping mode auto is unknown, fallback to auto mode."
In the process of refactoring as I upgraded lighting and it looks like there's been a slight change to the callback interface.

This code:

`early_stop_callback = pl.callbacks.EarlyStopping(verbose=True)`

Results in the message:

The default for `mode` is 'auto' so the first message doesn't make sense

[2020-10-21 00:45] morestart opened #4269 "training is very slow"
#### when I use gpu (rtx2080 8G) to train a simple net, it give me a cuda out of memory error,dataset is cat and dog. so I use cpu to train my net, it's to slow for me, my cpu is i9-9900K

Epoch 0:  37%|███▋      | 9300/25000 [14:30:04<24:28:50,  5.61s/it, loss=0.706, v_num=4, train loss_step=0.675]
it will use 24h??.. oh

#### Code
this is my code
https://colab.research.google.com/drive/18dJM0iyh

[2020-10-21 00:46] david-waterworth opened #4270 "@abstractmethod on virtual methods"
There are a number of methods of the `LightningDataModule` which are marked as `@abstractmethod` even though they're not really abstract i.e. `transfer_batch_to_device`.

The issue is the linter complains that my DataModule cannot be instantiated since I've not implemented `transfer_batch_to_device` and my IDE highlights my lightning modules red.

Is there any need for this decorator? It seems tha

[2020-10-21 01:33] david-waterworth opened #4271 "ModelCheckpoint.save_function documentation"
I might be looking in the wrong place but I couldn't find any documentation on `ModelCheckpoint.save_function`. I found after upgrading to the latest release I have to specify after constructing a `ModelCheckpoint` or an exception is thrown (maybe it should be a non-optional constructor kwarg since without setting it, the callback isn't really properly constructed?)

I did the following, is this w

[2020-10-21 03:13] undertherain commented on #4113
hm, neither way I could get a view with val loss per step across more than one epoch....

and btw is there any place where it is formally defined what is step and global_step?

[2020-10-21 03:44] ydcjeff commented on #4271
@david-waterworth here's it.

https://pytorch-lightning.readthedocs.io/en/stable/generated/pytorch_lightning.callbacks.ModelCheckpoint.html#pytorch_lightning.callbacks.ModelCheckpoint.save_checkpoint

[2020-10-21 03:52] david-waterworth commented on #4271
@ydcjeff I don't think that's the same thing. The ModelCheckpoint expects a callback with signature `save_function(filepath, save_weights_only)` - https://github.com/PyTorchLightning/pytorch-lightning/blob/09c2020a9325850bc159d2053b30c0bb627e5bbb/pytorch_lightning/callbacks/model_checkpoint.py#L295

The `save_checkpoint` function https://github.com/PyTorchLightning/pytorch-lightning/blob/09c2020a9

[2020-10-21 05:51] alyashgo opened #4272 "SimCLR init_encoder should have an *if* condition to replace first conv block"
## 🐛 Bug
In the init_encoder of simclr_module.py , the method replaces the first convolution block regardless of the image size. This is only useful when image size is small(eg 32 for CIFAR10), however this is undesirable for large image sizes(eg. 256) as it doesn't allow the image to shrink and creates unnecessary computational overhead making training difficult.

**Here is the relevant code bloc

[2020-10-21 06:34] dschaehi commented on #4030
@s-rog I wish I had the time to go through the code in TensoBoradX and suggest changes for PyTorch Lightning, but at the moment I don't have the time for that. It would be nice if someone else could do it.

[2020-10-21 07:14] tchaton commented on #4176
Hey All,

I am working on resolving this bug right now.

Best ,
Thomas Chaton.

[2020-10-21 07:32] SkafteNicki commented on #4237
IMO we should probably remove it. Moving forward with the metrics package we should only support features that are stable.

[2020-10-21 07:43] tchaton commented on #4268
Hey @david-waterworth,

Thanks for using Pytorch Lightning and finding this bug !

I think it should be this way.

[code]

Best regards,
Thomas Chaton.

[2020-10-21 07:46] SkafteNicki commented on #4238
As @teddykoker stated we are in the process of unifying the metrics class based metrics with the functional metrics (starting with all the regression metrics here #4166 ). Until then, please use the `Fbeta` metric (however, note that there is currently a bug in that metric, that should be taken care of by this PR #4183 ):
[code]

[2020-10-21 07:54] tchaton opened #4275 "[HOT-BUG] Checkpoint in callbacks list fails"
## 🐛 Bug

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing)

[code]

[code]

### To Reproduce

### Expected behavior

### Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/PyTorchLightning/pytorch-lightning/master/tests/collect_env_de

[2020-10-21 08:05] ydcjeff commented on #4275
passing ModelCheckpoint in callbacks flag is WIP?
here is the PR: https://github.com/PyTorchLightning/pytorch-lightning/pull/3990

[2020-10-21 08:16] neergaard opened #4276 "WandbLogger fails in 1.0.2 due to non-JSON serializable object"
## 🐛 Bug

After updating to PL 1.0.2, the `WandbLogger` fails with the following `TypeError`:
[code]

### To Reproduce
Run the following code snippet to reproduce:
[code]

### Expected behavior
Hyperparams are logged as usual without any `TypeError`.

### Environment
[code]

### Additional context

Pretty printing the arguments gives the following clue about the error:
[code]

I assume the issue c

[2020-10-21 08:17] ydcjeff commented on #4271
@david-waterworth so your question is you need to specify `save_function` for ModelCheckpoint to work properly?
or you want to use your custom `save_function`?

[2020-10-21 08:32] Limtle commented on #4225
I have another example from [pytorch_lightning](https://colab.research.google.com/github/PytorchLightning/pytorch-lightning/blob/master/notebooks/03-basic-gan.ipynb#scrollTo=0E2QDjl5yWtz) . use 1 node (8 gpus) also have same `situation.
[code]

[2020-10-21 08:36] david-waterworth commented on #4271
Yes it appears that you have to supply your own function - I thought perhaps if you didn't it might have a default but that's not what I've observed.

[2020-10-21 08:50] tchaton commented on #4176
Dear @michele-arrival @andreamad8,

I have a draft PR trying to reproduce this behaviour: https://github.com/PyTorchLightning/pytorch-lightning/pull/4277/files
It seems to be `PASS`. Would you mind having a look and maybe extending it to catch the bug ?

Also, I found another weird behaviour where `validation` isn't been called on first `test()` and then yes when loaded from checkpoints. Another i

[2020-10-21 08:52] #4187 closed

[2020-10-21 08:54] ddrevicky commented on #4237
You can assign this to me then. Should I just straight remove it or do you want to deprecate it?

[2020-10-21 08:56] tchaton commented on #4154
Hey @ludwigwinkler,

Thanks for using Pytorch Lightning !

Would you mind making your colab public. I can't access it 👍 Trying to replicate this bug locally

Best regards,
Thomas Chaton

[2020-10-21 08:59] justusschock commented on #4237
I think rather deprecate it first and then remove it in 1.1 or 1.2

[2020-10-21 09:16] andreamad8 commented on #4176
I will pull and check, thanks for your help

Andrea

[2020-10-21 09:39] michele-arrival commented on #4176
Hi @tchaton ,

thanks for the new test! I believe in your `test_checkpoint_repeated_strategy`, in steps 1-5 you are not saving the checkpoint in the same folder you are reading the previous checkpoint from, but rather into the default `./lightning-logs`, therefore never triggering the chain. Maybe you are missing an explicit path to the trainer?

[2020-10-21 09:52] david-waterworth commented on #4271
Looks like I'm running into bug #4275

[2020-10-21 10:04] ydcjeff commented on #4271
@david-waterworth you need to pass ModelCheckpoint to `checkpoint_callback` to work properly
See: https://colab.research.google.com/drive/1mkB5sshFDZMFZnrCWhjW561El5Kmlp13?usp=sharing

passing `ModelCheckpoint` to `callbacks` flag is still WIP

[2020-10-21 10:11] tmachnitzki opened #4280 "auto_lr_find with ddp and slurm"
## 🐛 Bug

If `auto_lr_find` is used in `ddp` mode with `num_nodes > 1` and slurm you will get an error that the checkpoint file was not found and therefore could not be deleted:

[code]

### To Reproduce

Unfortunately the BoringModel doesn't use a LightningDataModule and therefore `trainer.tune(model, dataloader)` would not work. That's why I created a minimal working example, which uses a Lightn

[2020-10-21 11:43] MohammedAljahdali commented on #4216
This is what I log on my train and validation step:
[code]
And this my checkpoint callback :
`checkpoint_callback = ModelCheckpoint(filepath='checkpoints/model_64_3/word_recog-{epoch:02d}-{val_cer:.2f}',save_last=True, mode='min', monitor='val_cer', save_top_k=5)`

[2020-10-21 11:50] awaelchli commented on #3865
@kekeblom how do you launch your script? how do I reproduce it with the bug report template?

That should be fine, ddp launches 1 process per gpu.

[2020-10-21 12:04] ludwigwinkler commented on #4154
Here's a link to a freely editable colab notebook:
https://colab.research.google.com/drive/1MCmXCwiPpuDYPkKhmxcI431Jk4U2PoZl?usp=sharing

The description of the excepted behaviour is correct.

[2020-10-21 12:06] SkafteNicki commented on #4098
@nathanpainchaud if all you want to do is to backpropergate the metric, why don't you just do that?
[code]

[2020-10-21 12:07] ydcjeff commented on #4271
Closing it as it's resolved

[2020-10-21 12:07] #4271 closed

[2020-10-21 12:07] awaelchli commented on #4171
duplicate of #3791
I'm working on this but no big breakthrough yet. I'm facing some difficulties because there are several global/env variables that determine the GPU selection. For ddp this is quite difficult to debug.

[2020-10-21 12:09] awaelchli commented on #3791
'm working on this but no big breakthrough yet. I'm facing some difficulties because there are several global/env variables that determine the GPU selection. For ddp this is quite difficult to debug.

[2020-10-21 12:14] #3526 closed

[2020-10-21 12:19] ursulean commented on #4276
Trainer.add_argparse_args adds some functions to the args Namespace which are not JSON serializable, so an error is thrown when WandbLogger tries to save the hyperparameters of the run. I temporarily got around the issue by removing functions before calling log_hyperparams, but this definitely needs a fix.

[code]

[2020-10-21 12:23] awaelchli commented on #4275
Yes exactly. ModelCheckpoint (currently) is special, meaning there can only be one and you have to pass it to `Trainer(checkpoint_callback=)`, passing to callbacks argument is not allowed.

In my PR I try to remove this limitation partially, and it requires several stages of changes and multiple PRs to get this done.

[2020-10-21 12:42] williamFalcon commented on #4275
the solution here is to move the save function inside the callback. no need to have these separated anymore

[2020-10-21 13:01] #4244 closed

[2020-10-21 13:03] awaelchli commented on #4275
That's exactly what I'm doing here:
#3990

[2020-10-21 13:36] michele-arrival commented on #4176
I can't replicate the FAIL on your test. That ModelCheckpoint changes everything. The checkpoint is correctly saved as `epoch=00.ckpt`, `epoch=00-v0.ckpt`, `epoch=00-v1.ckpt` etc... I don't understand what is going on inside that callback, however it's the vanilla case (with trainer constructed with restore_from_checkpoint=file) that fails

[2020-10-21 13:39] justusschock commented on #4083
@rohitgr7 unfortunately it does not seem to be fixed by #4190 even though the number of backward calls are now correct (there is a test for that). The loss is still not decreasing though (haven't investigated further)

[2020-10-21 14:00] Borda commented on #3529
@zhangguanheng66 what is the progress here?

[2020-10-21 14:02] tchaton commented on #4176
Hey @michele-arrival,

I extended the test and still `PASS`. Could you make a test to reproduce your bug with a BoringModel.

Best,
T.C

[2020-10-21 14:11] zhangguanheng66 commented on #3529
We are still cleaning up the new building blocks in torchtext so we postponed the retirement of the legacy code (maybe Nov. and December).

[2020-10-21 14:19] akihironitta opened #4286 "Update logo images"
## 🚀 Feature
There are currently old logo images here as well as in bolts. Would be fantastic to see new ones.
- pytorch-lightning: https://github.com/PyTorchLightning/pytorch-lightning/tree/8a20d6af51d13adec37593c1356ce08ef380e828/docs/source/_images/logos/
- pytorch-lightning-bolts: https://github.com/PyTorchLightning/pytorch-lightning-bolts/tree/2f3f58045a44ffb32103a3644c2ee2be920a508b/docs/sou

[2020-10-21 14:34] michele-arrival commented on #4176
yes, I have a version that fails, can i push to your branch or would you rather get a patch?

[2020-10-21 14:54] michele-arrival commented on #4176
https://github.com/michele-arrival/pytorch-lightning/tree/hotfix/issue_4176_repeated_save_restore

[2020-10-21 14:57] celsofranssa opened #4287 "k-fold cross validation using DataModule"
DataModule is great!
I'm wondering how it can be applied to handle with k-fold cross-validation.

[2020-10-21 15:09] jwohlwend opened #4288 "Limit_train_batches vs val_check_interval"
Does limit_train_batches=0.5 and val_check_interval=0.5 effectively do the same thing (minus impacting the total number of epochs)? That is, if my data loader is shuffling and I use limit_train_batches, can I safely assume that after 2 epochs I will have gone through the whole dataset or will I only go through **the same 50%** of the training data twice? The docs are not super clear on this point

[2020-10-21 15:29] yala commented on #4288
Hey, I have the same question.

A followup question on this, exploring the different semantics between limit_train_batches and val_check_interval:

If we use "val_check_interval" =.5
And my learning rate scheduler patience is 2, does this mean my patience is two full train epochs? or 2 val checks?

Moreover, is the checkpointing (for save best k models) logic happen at every val check? or only at

[2020-10-21 15:49] PiotrJander opened #4289 "Dataloader crashes if num_worker>0 on MacOS with Python 3.8"
## 🐛 Bug

When using a `DataLoader` with `num_workers` > 0, the process crashes with a stack trace which contains

[code]

The full stack trace is here: https://gist.github.com/PiotrJander/e82ca1d94ae85e746f33a18d7ca2d492

The error does not occur when `num_workers` is set to 0.

The error only occurs on MacOS (specifically tested on 10.15.7) with Python 3.8 (specifically tested with Python 3.8.5)

[2020-10-21 15:58] swethmandava opened #4290 "training_step_end not working as expected - receives only input from a single GPU instead of two"
## 🐛 Bug

training_step_end not working as expected - receives only input from a single GPU instead of two

### To Reproduce

[code]

### Expected behavior

accumulate perf metrics across different GPUs

### Additional context

[code]

When I print batch_parts, I only see one input
[code]

[2020-10-21 15:58] george-gca commented on #4113
@undertherain what are you trying to achieve exactly? Have 2 plots of loss, one with steps being epoch, another one with steps being batch?

[2020-10-21 16:09] ydcjeff commented on #4288
for @jwohlwend hopefully this [notebook](https://colab.research.google.com/drive/1htHFTxODZLO7rvjxr9nuG6psGHrfPVOY?usp=sharing) would solve your question.

So basically, what `limit_train_batches` does:
- limit the amount of training batches from the dataset you provide (for integer)
- limit the percent of training batches from the dataset you provide (for float)

All those limitation is happening

[2020-10-21 16:14] Maddy12 commented on #3581
I successfully over-ride it using `trainer.checkpoint_callback = model_checkpoint` but it does not work properly. It does not save the checkpoints in the file path I specified for example. I mean I just stopped overriding it but I think it may still be an issue.

[2020-10-21 16:20] jwohlwend commented on #4288
Hi @ydcjeff. Thanks for your response. So just to confirm, if I set limit_train_batches=0.5 and shuffle=True and run for 2 epochs,  each epoch will go over a different subset of my full training data? I m worried about basically cutting my training dataset in half. I'm particularly worried about this being the case with DDP because of seeding, so just want to confirm.

The reason I ask whether the

[2020-10-21 16:26] ydcjeff commented on #4288
Hi @jwohlwend , for DDP @awaelchli could explain better than me
I have limited knowledge for DDP

for single gpu, if you are worried about model is not getting full training dataset and want to run validation more, better use `val_check_interval` in my opinion. with `limit_train_batches`, it is possible the limited train batches can be same again after many epoch.

[2020-10-21 16:49] ydcjeff commented on #4288
It is 2 val checks, I think.

It's at the end of train + val (if present)

[2020-10-21 16:53] jwohlwend commented on #4288
@ydcjeff Re: learning rate scheduling. Are you are this is true? It seems to me that step() is only called after the end of the epoch: https://github.com/PyTorchLightning/pytorch-lightning/blob/f37444fa3e82011e4a71b5ca8dc897eff9ba0fa3/pytorch_lightning/trainer/trainer.py#L491

So patience of 2 would mean 2 epochs, not 2 val checks

[2020-10-21 16:57] ydcjeff commented on #4288
@jwohlwend Thank you for that. I misread with EarlyStopping patience 😓

[2020-10-21 18:14] #4268 closed

[2020-10-21 18:17] rohitgr7 commented on #4083
ok will check this if get some time :)

[2020-10-21 18:34] #2785 closed

[2020-10-21 18:34] #4188 closed

[2020-10-21 18:41] rohitgr7 commented on #4287
all k models and datamodules will be independent so create seperate datamodules and models for each.

[2020-10-21 19:01] rohitgr7 commented on #4270
this hook is already present in DataHooks so should not be there. Will update this in https://github.com/PyTorchLightning/pytorch-lightning/pull/3671.

[2020-10-21 19:14] rohitgr7 commented on #4269
dataset link?

[2020-10-21 19:53] carmocca commented on #3325
Interested in this issue! Hopefully some progress is done soon :+1:

[2020-10-21 21:05] awaelchli commented on #4290
looks like you are using ddp. I'm pretty sure `training_step_end` does not apply to ddp.
also, logging via dict is deprecated, one should use the new `self.log` api.
You can set `sync_dist=True` to aggregate accross gpus.

[2020-10-21 21:08] awaelchli commented on #4289
Isn't this just a limitation of `torch.multiprocessing`?
Please check
https://discuss.pytorch.org/t/multiprocessing-not-working-on-pytorch-on-macbook/80663/2

There is little evidence here that it is Lightning related.

[2020-10-21 21:09] stevejpurves opened #4293 "error when using auroc"
I may be using `auroc` incorrectly, but this seems like a bug, which is reproducable using the boring model example for tensors with ndim > 1

## 🐛 Bug

Using the auroc() metric results in an error:
```RuntimeError: Boolean value of Tensor with more than one value is ambiguous```

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4

[2020-10-21 21:22] PiotrJander commented on #4289
Hi @awaelchli , thanks for the hint, adding `if __name__ == '__main__'` helped.

But:

(1) The thread you linked to explains why `if __name__ == '__main__'` is needed on Windows (no `fork`ing semantics). Do we know why this is also a problem on MacOS with Python 3.8, but not with other Python versions, and not on Ubuntu?

(2) Since the problem occurs in a very basic example in the intro to Lightin

[2020-10-21 21:29] angadkalra opened #4294 "Segmentation Fault when training 3D CNN using 4 GPUs with batch_size=8"
## 🐛 Bug

Trying to train 3D CNN using 4 GPUs, batch_size = 8, and num_workers >= 4 (ddp backend). I'm using a GCP VM with 16 cores and 60GB memory. The data is stored on a mounted disk and is roughly 3 TB.

I can successfully train using 2 GPUs, batch_size=4, and num_workers=4, but whenever I try increasing number of GPUs, batch size, and num_workers, a segmentation fault get's thrown. It's not t

[2020-10-21 21:33] #4102 closed

[2020-10-21 21:33] #4203 closed

[2020-10-21 21:39] jdavid04 commented on #4238
Thanks! Will stick to class-based metrics for the time being.

[2020-10-21 22:00] ananyahjha93 commented on #4272
@alyashgo This is being updated as a part of Simclr update, we are ensuring that simclr will run on TPUs on colab and also sync negative samples with gradients across accelerators.

Also, can you keep the simclr issue to bolts, we are focussing on bolts actively after v1 release of lightning.

[2020-10-21 22:02] catalys1 opened #4295 "Problems with automatic_optimization=False"
## 🐛 Bug

When `automatic_optimization = False` and `terminate_on_nan = True`, an exception is raised when checking for `nan` values. This is due to `None` being passed in as the value for `loss` to `self.detect_nan_tensors`. It looks like the code on master has already changed from what I'm seeing in `1.0.3`, so I don't know if this has somehow been fixed or not. The problem seems to be that the

[2020-10-21 22:10] ananyahjha93 commented on #4293
@stevejpurves can't access your colab, you need to provide permission. But if its just 1 line which you think is wrong, send in a PR with a test.

[2020-10-21 22:12] ananyahjha93 commented on #4290
@swethmandava like Adrian mentioned, please updated to the latest version of Lightning and use the new metrics package to aggregated across GPUs.

[2020-10-21 22:15] ananyahjha93 commented on #4286
@edenlightning can you send in quick PR for this?

[2020-10-21 22:38] ananyahjha93 commented on #4294
@angadkalra can you try running with num_workers=0. For a batch size of 8 it should be fine.

If that works, there might be something in your dataset which is not compatible with having multiple processes.

[2020-10-21 22:40] ananyahjha93 commented on #4293
@SkafteNicki

[2020-10-21 22:45] ananyahjha93 commented on #839
@SkafteNicki should this be a DataModule feature, as mentioned in #4287 ? Like the DataModule itself provides k dataloaders like you mentioned here.

[2020-10-21 22:45] ananyahjha93 commented on #4287
I think there is a discussion of having a cross validation feature in Lightning in #839.

[2020-10-21 22:49] ananyahjha93 commented on #4287
@SkafteNicki @Borda @justusschock tagging you guys here as well.

[2020-10-21 22:55] catalys1 commented on #4295
I discovered this because the loss was showing up as `nan` in the progress bar, and I was trying to figure out why I was getting `nan`. I dug some more, and it looks like this is itself a bug. I've inspected the loss and network parameters over several steps, and there are no `nans`. So there seems to be a problem in the logging somewhere, that if you're using `automatic_optimization=False` you ge

[2020-10-21 23:12] ananyahjha93 commented on #4269
@rohitgr7 I think it is the kaggle dataset: https://www.kaggle.com/c/dogs-vs-cats

[2020-10-21 23:22] williamFalcon commented on #839
cc @edenafek

let’s pick this back up now

[2020-10-21 23:39] ananyahjha93 commented on #4269
@morestart You are not reducing spatial dimension of feature maps using Conv layers and you first linear layer weights themselves are > 2GB in size. The linear layer should not be 14 * 224 * 224.

[2020-10-21 23:40] #4269 closed

[2020-10-22 00:51] #3972 closed

[2020-10-22 02:07] awaelchli commented on #4243
@Shreeyak I don't really know how to solve this problem. In the docs it is mentioned that DDP does not work without a root  package
https://pytorch-lightning.readthedocs.io/en/stable/multi_gpu.html#distributed-data-parallel

For running the script with the "-m" option, we have a similar feature request here: #3689 (maybe this is what you need?)

[2020-10-22 02:37] angadkalra commented on #4294
@ananyahjha93 Thanks for the response.

Looks like it's working with num_workers=0. Takes about 15s/it.

Are you saying that there is a corrupt file that is causing one of the workers to die during __getitem__?

[2020-10-22 02:55] congvm-it commented on #581
@sneiman  @williamFalcon  Did you find any solutions for this issue? I tried all those things you mentioned above but GPU utilization gradually drop down every iterations.

[2020-10-22 03:16] morestart commented on #4269
thanks!

[2020-10-22 03:55] awaelchli commented on #4289
https://github.com/pytorch/pytorch/issues/36515#issuecomment-613150083
Here this person is saying that in python 3.8 the multiprocessing default changed from fork to spawn on mac.
The issue itself is not related directly, but this is one difference I can identify so far which could answer your first question.

[2020-10-22 06:07] #2798 closed

[2020-10-22 06:38] SkafteNicki commented on #4293
this happens on multidimensional input:
[code]
we will maybe support multidim input in the future (it will still be reshaped into 1d tensor), but for now you would have to do the reshaping yourself.
[code]

[2020-10-22 06:47] SkafteNicki commented on #839
@ananyahjha93 the first question is how it should be integrated in lightning:
1) should trainer have a `k_fold` init argument?
2) should `fit` have a `k_fold` argument?
3) should trainer have a new method (`cross_validate`)
4) should this be a plugin?
5) should this be a completely new object wrapping around trainer (`CV(Trainer(...))`)?

[2020-10-22 06:53] justusschock commented on #839
I actually like the idea of having a separate class (`CV`) and some function in the data module for that. This way we would still have the trainer to train separate networks, but don't further bloat it's state.

However I'd prefer the interface to have the CV construct trainers internally by passed args. So something like this:

[code]

[2020-10-22 06:58] SkafteNicki commented on #839
I am also in favor of a new separate class. Another thing is that the CV object probably will have some parameters of its own:
1) should the fitting be done in parallel (then we need to figure out how to map individual `fit` to each device)
2) should the cv be stratified (maybe not in v1 of this feature)
3) ...

[2020-10-22 07:08] undertherain commented on #4113
want to achieve
1. Understanding what the parameters do and what's step vs global_step
2. Why with exact same parameters to log(), and I made sure I explicitly set all default values as well - plots look very differently on wandb. and no, that's not fixable with choosing axis
say, if I choose on_step=True and on_epoch=False for both train and validation - I can get per epoch axis for train loss on

[2020-10-22 07:25] alyashgo commented on #4272
Thanks! It'll also be helpful if you can add custom encoder support like the moco repo.
Sure, will close this and redirect to bolts.

[2020-10-22 07:26] #4272 closed

[2020-10-22 07:45] neergaard commented on #4276
@ursulean As a temporary solution, this works great thanks!

But definitely, it needs a proper fix.

I am not sure what the changes between 0.9.0 and 1.0 are since both of them sets the default arg to `_gpus_arg_default` (see here for [0.9.0](https://github.com/PyTorchLightning/pytorch-lightning/blob/b40de5464a953ff5866a255f4670d318bd8fd65a/pytorch_lightning/trainer/trainer.py#L770) and [1.0.0](ht

[2020-10-22 07:46] dsuess opened #4298 "auto_select_gpu does not free memory allocated on GPU for DDP/Horovod"
## 🐛 Bug

If using both `auto_select_gpu=True` and the ddp or horovod accelerator, the memory allocated by [`pick_single_gpu`](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/tuner/auto_gpu_select.py#L32) is not freed by torch.

This can't be reproduced on Colab since DDP isn't supported.

### To Reproduce

Paste this code into a file and run it:

[code]

### Ex

[2020-10-22 08:11] pgagarinov opened #4299 "Trainer's fit method fails when the only logger is the custom logger from the official documentation"
## 🐛 Bug

Trainer's fit method fails when the only logger is the custom logger from the official documentation

### To Reproduce

1. Define a custom logger as per https://pytorch-lightning.readthedocs.io/en/latest/logging.html#make-a-custom-logger
logger = MyLogger()
2. Define a lightning module as per https://pytorch-lightning.readthedocs.io/en/latest/new-project.html#step-1-define-lightningmodul

[2020-10-22 08:37] stevejpurves commented on #4293
Thanks, i've updated the colab link which is now shared.

I'll go ahead and flatten my input for my immediate use case.

I considered a PR for such a small change but could find clear "how to contribute" guide/readme? is there one? this page was the closest i found https://github.com/PyTorchLightning/pytorch-lightning/tree/master/tests but that's a pretty high entry point for a PR if i need to run

[2020-10-22 09:36] PiotrJander commented on #4289
That makes sense, thanks! Looks like it's a Pytorch issue, so closing the issue here.

[2020-10-22 09:36] #4289 closed

[2020-10-22 09:55] harpone opened #4302 "Using `terminate_on_nan=True` on TPU leads to huge slowdowns"
## 🐛 Bug

Using `trainer = Trainer(terminate_on_nan=True, ...)` leads to calling `TrainerTrainingTricksMixin().detect_nan_tensors()`, which is very slow on TPU. About 5x slower forward passes for resnet50 scale nets.

Should maybe raise a warning if using TPUs and `terminate_on_nan`.

[2020-10-22 11:49] Alek96 opened #4303 "Problem with truncated_bptt_steps"
## 🐛 Bug

When setting truncated_bptt_steps we can observed 3  bugs:

**1. An exception is raised when `num_sanity_val_steps=2`:**
[code]

**2. `tbptt_split_batch` method does not split.**
To observed this behavior we need to turn off `num_sanity_val_steps` (`num_sanity_val_steps=0`) to ensure that the first error does not occur. Next we need to implement costume `tbptt_split_batch` method.

[code

[2020-10-22 12:12] jopo666 opened #4304 "TensorBoardLogger not working as expected with accumulate_grad_batches>1"
## 🐛 Bug

When logging inside training step to TensorBoard and using `accumulate_grad_batches > 1` inside `pl.Trainer()` the behavior is not as expected.

With `accumulate_grad_batches = 1` everything looks good.
<img width="273" alt="nice" src="https://user-images.githubusercontent.com/49716607/96869625-65b62900-1478-11eb-85fd-c3c5d219c65e.png">

With `accumulate_grad_batches = 8` the values are

[2020-10-22 12:54] NickYi1990 commented on #2355
There are known non-determinism issues for RNN functions on some versions of cuDNN and CUDA. You can enforce deterministic behavior by setting the following environment variables:

On CUDA 10.1, set environment variable CUDA_LAUNCH_BLOCKING=1. This may affect performance.

On CUDA 10.2 or later, set environment variable (note the leading colon symbol) CUBLAS_WORKSPACE_CONFIG=:16:8 or CUBLAS_WORKSP

[2020-10-22 12:59] #4193 closed

[2020-10-22 13:00] tchaton commented on #4154
Hey @ludwigwinkler,

I couldn't reproduce your bug. Would you mind creating a test with Boring Model ?

Best regards,
T.C

[2020-10-22 13:01] tchaton commented on #4176
Hey @michele-arrival ,

Looking into it.

Best, T.C

[2020-10-22 13:02] SkafteNicki commented on #4293
@stevejpurves that would be a great addition, and you are more than welcome to send a PR :]
Our contribution guidelines are here: https://pytorch-lightning.readthedocs.io/en/latest/CONTRIBUTING.html
In this specific case, you would need to implement test in this file:
https://github.com/PyTorchLightning/pytorch-lightning/blob/master/tests/metrics/functional/test_classification.py
Add tests that wo

[2020-10-22 13:43] tchaton opened #4306 "something"
## 🐛 Bug

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing)

### To Reproduce

### Expected behavior

### Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/PyTorchLightning/pytorch-lightning/master/tests/collect_env_details.py)
(or fi

[2020-10-22 13:43] #4306 closed

[2020-10-22 14:22] Borda commented on #643
@edenlightning is this in timeline?

[2020-10-22 15:30] edenlightning commented on #4299
@ananyahjha93 can you take a look?

[2020-10-22 15:31] edenlightning commented on #4299
Hey! Can you please send a colab so we can reproduce with your custom logger?

[2020-10-22 15:33] edenlightning commented on #4204
alsp https://github.com/PyTorchLightning/pytorch-lightning/issues/4295

[2020-10-22 15:38] ibeltagy commented on #2705
@zcain117, might be worth checking. It is a subtle issue and users are likely going to miss it.

[2020-10-22 15:45] edenlightning commented on #2804
@SimonNarendorf can you upgrade to the latest version to see if issue persists?

[2020-10-22 15:46] edenlightning commented on #4202
@lezwon maybe you have an idea?

[2020-10-22 16:05] ananyahjha93 commented on #4202
@edenafek I think there is some op specific to ddp and not xla that is causing the issue. In the process of updating simclr in bolts for both TPUs and v1 of lightning.

[2020-10-22 16:06] edenlightning commented on #3660
@lezwon maybe you can help revive the tpu + checkpoint fix?

[2020-10-22 16:07] edenlightning commented on #3771
Thanks for the issue @chiragraman! Any way you can send a PR to fix?

[2020-10-22 16:09] edenlightning commented on #4238
@teddykoker @SkafteNicki can this be closed? is this fixed by #4166?

[2020-10-22 16:09] chiragraman commented on #3771
@edenlightning sure thing! Is the suggested solution to also catch `AttributeErrors` alright?

[2020-10-22 16:10] edenlightning commented on #4226
@maxjeblick would you like to try and submit a PR to fix?

[2020-10-22 16:12] maxjeblick commented on #4226
@edenlightning Yes I can have a look.

[2020-10-22 16:13] edenlightning commented on #4151
Thanks for the issue! Mind submitting a fix PR?

[2020-10-22 16:13] SkafteNicki commented on #4238
Yes, let's close it. I will unify fbeta functional and class metric within a couple of days, so functional also support multilabel.

[2020-10-22 16:13] #4238 closed

[2020-10-22 16:18] edenlightning commented on #4151
prob related https://github.com/pytorchlightning/pytorch-lightning/issues/4148

[2020-10-22 16:22] edenlightning commented on #4216
@awaelchli or @justusschock maybe related to other issues?

[2020-10-22 16:25] lezwon commented on #3660
Been working on it. Finding it a bit tricky. I'll raise a PR with the current work I've done.

[2020-10-22 16:28] edenlightning commented on #4266
@SkafteNicki or @teddykoker

[2020-10-22 16:45] tchaton commented on #4176
Should be resolve this PR :https://github.com/PyTorchLightning/pytorch-lightning/pull/4291

[2020-10-22 16:53] ydcjeff opened #4310 "callbacks: some callback hooks can be cleaned up"
## 🚀 Feature

### Motivation

There are some duplicate callback hooks which can be removed.

[code]

### Pitch

[code]

### Alternatives

Due to various researches, the above hooks calling style can't be fit every needs.
But it would be intuitive to see like
(one thing is the user can think TRAIN / VALIDATION can be in a separate epoch)

[code]

### Additional context

https://colab.research.googl

[2020-10-22 17:45] michele-arrival commented on #4176
Thanks, eager to test when ready

[2020-10-22 17:48] pgagarinov commented on #4299
@edenlightning
Sorry for not making this clear. The logger I used is the one from the official documentation i.e. this is not "my custom logger"):

<img width="526" alt="image" src="https://user-images.githubusercontent.com/4868370/96910218-ce68ca00-14a7-11eb-8b9f-b5946debfee5.png">

[2020-10-22 17:53] ananyahjha93 commented on #4294
If it works for the entire dataset with num_workers=0, there might be something which doesn't work with multiple processes.

[2020-10-22 17:56] ananyahjha93 commented on #4266
@pbmstrk mind sending in a PR with .detach fix?

[2020-10-22 18:33] rohitgr7 commented on #4299
@pgagarinov I think this is just a template. You need to write the method definitions.

[2020-10-22 19:10] nathanpainchaud commented on #4098
@SkafteNicki That is what I'm doing right now. But I wanted to see if my loss could be implemented as a `Metric` instead, to benefit from all the built-in functionalities the `Metric` API offers. But it seems that it might be more trouble than it's worth at this point...

[2020-10-22 19:23] masoncusack opened #4312 "Torchvision model state inconsistency in multi-gpu mode (distributed training)"
## 🐛 Bug

I noticed that, when trying to train on multiple GPUs using Lightning 0.10.0, the outputs of the torchvision model `fasterrcnn_resnet50_fpn` were [those described here](https://pytorch.org/docs/stable/torchvision/models.html#torchvision.models.detection.fasterrcnn_resnet50_fpn) for inference (eval mode). However, when using a single GPU on lightning 0.10, or multi-gpu on lightning 0.9, t

[2020-10-22 19:28] SkafteNicki commented on #4098
@nathanpainchaud we are reevaluating if our metric API should support backprop, as it seems to give troubles.
You are completely right that there is nothing in the build in Metric class that prevents the computational graph from being stored.
Maybe the compromise would be to internally call `detach` before values are stored in the cache. With this:
[code]

[2020-10-22 19:36] gaceladri commented on #839
I think that integration with [optuna](https://github.com/optuna/optuna/blob/ad6cac575f7bb1b46c87d9d14185bcd8b8433402/examples/lightgbm_tuner_cv.py) cross-validation would be a great match.

[2020-10-22 19:52] lezwon commented on #4202
@edenafek @ananyahjha93 My best guess is that the notebook runs out of memory. This happens as there are a lot of `.data` calls in `update_p` method within `LARSWrapper`. When this is called during optimization, it makes the TPU explicitly evaluate the graph result which is expensive [reference](https://github.com/pytorch/xla/blob/master/TROUBLESHOOTING.md#known-performance-caveats). I tried comme

[2020-10-22 19:55] alyashgo commented on #4202
@lezwon The same issue persisted while training on GCP compute engine with 8 tpu cores, maybe the error springs out of something else?

[2020-10-22 20:00] MohammedAljahdali commented on #4216
update:
Now I set on_step=False, and the checkpoint seems to correctly saving the best model

[2020-10-22 20:01] lezwon commented on #4202
@alyashgo I'm not sure about the exact reason if it occurs on GCP too. Might need someone from the XLA team to give a take on this. cc: @zcain117

[2020-10-22 20:07] ananyahjha93 commented on #4098
@SkafteNicki how about we call detach before caching for the epoch but let it be a part of the graph for the step? That way you can backprop for the step but detach from the graph before adding it to compute over epoch and GPUs?

[2020-10-22 20:13] SkafteNicki commented on #4098
@ananyahjha93 that was also what I was thinking. I will send a PR soon with the update.

[2020-10-22 20:24] ananyahjha93 commented on #4266
@pbmstrk actually there are other issues with detaching or keeping attached metrics which are discussed here, so maybe wait for @SkafteNicki to send in a PR for the base class and see if that resolves the issue itself.

Discussion here: #4098.

[2020-10-22 20:43] pgagarinov commented on #4299
@rohitgr7 Based on the documentation it is a valid logger all by itself as it is not obligatory for log_* methods to do anything. The "experiment" method could benefit from returning something but the fact is that the execution fails even before "experiment" method is called.

If there are some hidden assumptions about the way "a valid" logger should look like - I would say those need to be docume

[2020-10-22 20:49] williamFalcon commented on #839
that’s already supported today. i think they tutorials about it as well no?

[2020-10-22 21:08] pbmstrk commented on #4266
@ananyahjha93 Ah okay, no worries!

[2020-10-22 21:17] gaceladri commented on #839
I have not seen tutorials doing cross validation with pytorch-lightning neither pytorch-lightning + Optuna cross-val.

 I agree with you that the feature should be general.

[2020-10-22 23:18] mzweilin commented on #4223
I encountered the same issue and my temporary fix is removing val_acc or val_loss from the checkpoint file name:

[code]

The processes should have the same copy of the current model. They are getting different val_loss/val_acc because they evaluate the model on different subsets of the dataset.

Ideally, `ModelCheckpoint()` should aggregate the metrics from all processes before saving the new bes

[2020-10-22 23:33] george-gca commented on #4113
1. I believe it is confusing in the docs the usage of `on_step=True, on_epoch=True`. I don't use them directly, since it states in the [docs](https://pytorch-lightning.readthedocs.io/en/latest/lightning_module.html#log) that their values are already set depending on where you call the log function from. Also, `global_step` seems like a concept from wandb, not from pytorch. I would guess that `step

[2020-10-23 04:29] #3583 closed

[2020-10-23 04:29] #2042 closed

[2020-10-23 04:29] #4168 closed

[2020-10-23 04:57] aabrol commented on #4265
Another issue I noticed is that re-queuing is not working as expected. Here are details relevant to this issue:

Training doesn't seem to resume from the "checkpoint saved on slurm-preemption" as number of epochs on tensorboard seem to well exceed max_epcohs for the training and there are clear breaks in the epoch plot as well as the performance metric plots (while plotting horizontal axis in rela

[2020-10-23 05:40] NumesSanguis commented on #4293
This issue already requests support for multi-class in AUROC: https://github.com/PyTorchLightning/pytorch-lightning/issues/3304
And a pull request has also already been made: https://github.com/PyTorchLightning/pytorch-lightning/pull/4236

[2020-10-23 05:59] nateraw commented on #3720
Lightning is a collection of tools to make machine learning w/ PyTorch easier. I believe its not out of the question for us to come up with a solution for argparsing that **solves basic argparse problems related to lightning**.

I think `jsonargparse` should be separate. If a user wants a more feature rich argument parser/config handler, a third party package should be able to handle that by itsel

[2020-10-23 06:30] NumesSanguis opened #4316 "Checkpoint hparams.yaml does not save current self.hparms, but only at self.save_hyperparameters"
## 🐛 Bug

I expect that `lightning_logs/version_0/hparams.yaml` matches `self.hparams` when Checkpoint is called, or at least matches `self.hparams` when calling `trainer.fit(model)`.
Instead `hparams.yaml` only contains the arguments given to `self.save_hyperparameters()` (empty is all arguments).

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1

[2020-10-23 06:40] stevejpurves commented on #4293
ok, looking at that PR is seems distinct from this issue, this is about multi-dim tensors not multi-class support. the issue is still there on that branch https://github.com/PyTorchLightning/pytorch-lightning/blob/19c4b7397614f7680e8c4251ea15b97564e95a95/pytorch_lightning/metrics/functional/classification.py#L892
and independent of the multi class changes it seems. I'll attempt PR for this :]

[2020-10-23 07:19] justusschock commented on #839
@SkafteNicki I think for v1 the folds could run sequentially and the data_module could have a method which creates the loader (probably without stratification in v1, but can be overwritten by user). Also it is not possible to stratify every kind of training :D

[2020-10-23 07:49] tchaton commented on #4310
Hey @ydcjeff,

I think we need them 👍  For me, I understand them this way (TRAIN, TEST, VAL, ALL). So we need the 4 of each.
But you are right, there is some inconsistency in the code where bach_start and batch_train_start are called together, but not for test and val.

Best,
T.C

[2020-10-23 07:53] tchaton commented on #4290
Hey @swethmandava,

If this bug persists when updating to latest stable of Pytorch Lightning and its new API. I would recommend for you to use  (https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/bug_report_model.py) to prepare a template reproducing the bug.

Best regards,
T.C

[2020-10-23 07:56] ananthsub opened #4317 "Automatic Optimization should be a property of the LightningModule, not the Trainer"
## 🚀 Feature
https://pytorch-lightning.readthedocs.io/en/latest/optimizers.html#manual-optimization
To switch between manual and automatic optimization, we need to toggle this flag on the `Trainer`. However, all of the user code for optimization is inside the `LightningModule`. If we had this flag for `automatic_optimization` on the LightningModule instead, we'd keep all the user-facing optimizati

[2020-10-23 07:56] tchaton commented on #4276
Hey @neergaard,

Would you mind creating a test to reproduce this bug (https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/bug_report_model.py).

Best regards,
T.C

[2020-10-23 07:57] #4257 closed

[2020-10-23 08:03] williamFalcon commented on #4317
this makes sense to me! good catch

[2020-10-23 08:09] Shreeyak commented on #4243
Thanks for looking into this @awaelchli. Could you please explain what is mean by "root package"?

To clarify, I'm able to run DDP with the command `python -m seg_lapa.train`. `.fit()` works fine, so long as the imports are absolute imports. I have yet to test `.test()`.

`seg_lapa` is my package. Here's my dir structure:
[code]

[2020-10-23 08:13] neergaard commented on #4276
Hi @tchaton sure, do you want me to just do it in a Colab notebook or do you want a gist with the script you linked to?

[2020-10-23 08:18] Shreeyak commented on #3689
To add to the discussion: I'm able to use DDP backend when running my training program as a module, eg: `python -m seg_lapa.train`, so long as I use absolute imports. See #4243.

[2020-10-23 08:20] tchaton commented on #4276
Hey @neergaard, I would prefer the gist :) Easier to integrated in our tests :)

[2020-10-23 08:21] neergaard commented on #4276
@tchaton For know here's a gist with the test (https://gist.github.com/neergaard/ed0620ab9405b79d420b99db3e43605a). I've basically inserted the code snippet I supplied in my orig post without deleting anything of the bug report code, but it should run and return the TypeError still.

[2020-10-23 08:40] tchaton commented on #4276
Hey @neergaard,

Without the provided arguments, I can't use the gist :)

<img width="900" alt="Screenshot 2020-10-23 at 09 39 00" src="https://user-images.githubusercontent.com/12861981/96976415-bcbd0c00-1513-11eb-8f34-24673a6851fc.png">

[2020-10-23 08:42] neergaard commented on #4276
@tchaton That's why I asked if you preferred a gist or a colab notebook, as the script as such does not function in a notebook, but the gist works using the command line.

I don't know how to get the default arguments from the Trainer in a notebook?

[2020-10-23 08:46] tchaton commented on #4276
You can provide the cmd line as

[code]

[2020-10-23 08:51] neergaard commented on #4276
@tchaton D'oh! Simple solution works great, thanks!

I've updated the gist, can you try it now?

[2020-10-23 08:54] tchaton commented on #4276
Hey @neergaard ,

I will also update bug_report to add this trick :) Thanks for asking about it :)

Best regards

[2020-10-23 08:59] neergaard commented on #4276
@tchaton thanks for helping out!

I can add that I investigated the issue more, and it doesn't seem to be a problem in WandB version 0.10.8, but it is an issue in version 0.10.7.

[2020-10-23 09:02] tchaton commented on #4276
I will look into this afternoon or tomorrow. Feel free to investigate and submit a PR if you find the bug :)

[2020-10-23 09:43] ydcjeff commented on #4310
Yes, train hooks needs to be consistent with val and test hooks

[2020-10-23 10:13] SeanNaren opened #4319 "After DDP train processes have different best val paths"
## 🐛 Bug

Tied to https://github.com/huggingface/transformers/pull/7852

There is no synchronisation/communication to ensure the model has finished saving before loading. If you look at ddp_spawn/ddp_cpu there is communication to ensure that each process has the same best_val_path stored in the model after save.

Run below on multi-gpu:

[code]

Output:
[code]

### Expected behavior

Assertion doe

[2020-10-23 10:14] SeanNaren commented on #4319
cc @awaelchli

[2020-10-23 10:27] michele-arrival commented on #4176
Hi, just FYI. this doesn't fail anymore, however the saved checkpoint is still `epoch=0.ckpt` on the first iteration, and `epoch=1.ckpt` on the following ones, which I believe is wrong?

[2020-10-23 11:06] tchaton commented on #4276
Hey @neergaard,

Feel free to have a look at the PR.

Best,
T.C

[2020-10-23 11:31] SkafteNicki commented on #4266
@pbmstrk just pushed a commit to PR #4313 that solves the bug (confirmed by running colab model) :]
Basically had to call detach within the `self.log` code (only `Metric` objects did not automatically get detached, which is rectified now in the PR)

[2020-10-23 11:37] kekeblom commented on #3865
Actually, I haven't seen this happen again. So I can't reproduce. Might have been the version or then it's somehow related to the gpu that gets scheduled.

Maybe it's worth closing the issue. I'll let you know if I re-encouter the problem.

[2020-10-23 11:46] #3865 closed

[2020-10-23 12:04] SeanNaren opened #4322 "Add model sharding/gradient checkpointing from FairScale"
## 🚀 Feature

Recently in [this](https://ai.facebook.com/research/publications/beyond-english-centric-multilingual-machine-translation) paper from Facebook Research they discuss making huge memory savings using checkpointing/pipe parallel and optimizer state checkpointing to train their transformer model.

We've already got integration with #4178 for optimizer state sharding (deepspeed) and with s

[2020-10-23 12:18] rohitgr7 commented on #4310
@awaelchli had some [suggestions here](https://github.com/PyTorchLightning/pytorch-lightning/issues/4049#issuecomment-710524392). Same thing we can do for on_batch_start/end if we redefine them to be called before and after every batch regardless of `train/val/test`. WDYT?

[2020-10-23 12:25] awaelchli commented on #4319
Yes, this makes sense.
Only the process 0 is saving checkpoints, so one solution is to send the best model path of rank 0 to all other processes.
The checkpoint directory based on logger name and version is one example where we do this already:
https://github.com/PyTorchLightning/pytorch-lightning/blob/3abfec896212ea85e45d6ac3ccb323ef242d16de/pytorch_lightning/callbacks/model_checkpoint.py#L445

s

[2020-10-23 12:52] SkafteNicki commented on #3728
@rotabulo sorry for first getting back to you now.
The new metric API support states, which should solve your problems. Take accuracy as an example:
https://github.com/PyTorchLightning/pytorch-lightning/blob/3abfec896212ea85e45d6ac3ccb323ef242d16de/pytorch_lightning/metrics/classification/accuracy.py#L97-L115
In the update state we simply keep adding the number of correct matches and the total num

[2020-10-23 13:03] awaelchli commented on #4319
A workaround for you until this issue is fix is to check the rank before you access the path, i.e.

[code]

[2020-10-23 13:24] ydcjeff commented on #4310
I see! Yep they can be useful if the users want to do same functionality before and after of the batch. So, it would be like this?
[code]
But, I don't clearly get `on_epoch_start/on_epoch_end`. Would they be called before and after of epoch which contains train + val?

Or rather would they be called before and after of train/val/test epoch?
if that so, we should clearly mention in the docs that tr

[2020-10-23 13:40] JackCaster commented on #4091
I am also interested in this. I wonder if we could come up with a callback to keep track of the loss for each element in the batch (train, val, and test). For example, I am working on a classification task with a rather simple dataset. I can't seem to increase the accuracy despite many attempts. If I could sort the dataset by loss I am sure I would find the images that are mislabelled

[2020-10-23 13:46] marrrcin commented on #4304
To add something to the issue: when using DataParallel (`accelerator="dp"`) it might cause even worse results, i.e in W&B it looks like this:
![image](https://user-images.githubusercontent.com/6958772/97011285-c2801500-1546-11eb-8362-37f2e5e1814e.png)

I'm also logging from `training_step`.

[2020-10-23 14:01] swethmandava commented on #4290
Updated pytorch lightning to 1.0.3 and code to do the following:

[code]

however, it prints loss=NaN on progress bar. I also am not sure how to access and modify it/s on the progress bar (for example, simply modify to tokens/s etc) in the absence of on_batch_end in pl_module

[2020-10-23 15:22] kekeblom commented on #3865
Speak of the devil.

Tried it on 1.0.3 with 2 gpus. Modified the `bug_report_model.py` to have `gpus=2, distributed_backend="ddp"` in the trainer initializer arguments.

It seems it only happens when running on a machine with GTX 1080 gpus. Machines with GTX 1080 Ti does not appear to suffer from this issue.

Here is the output of `nvidia-smi`:
[code]

Here is the stack trace:
[code]

[2020-10-23 15:36] SeanNaren commented on #4223
@mzweilin agreed! however we do offer the metrics API which handles this, we urge users to move towards this: https://pytorch-lightning.readthedocs.io/en/latest/metrics.html

[2020-10-23 15:52] rotabulo commented on #3728
@SkafteNicki I figured that actually out already when I saw the commit. I updated my code for the mIoU computation using the new API already and it works great. Thanks

[2020-10-23 15:54] SkafteNicki commented on #3728
@rotabulo sound good, happy that the new API works for you :]
Closing this issue.

[2020-10-23 15:54] #3728 closed

[2020-10-23 16:11] uwaisiqbal commented on #514
Hey I'm trying to do something similar with some categorical data where I want to freeze the pre-trained model for the initial training then train the full network slightly. I struggled to find the example as its not mentioned in the docs but is hidden away in the github repo. The README.md for the parent directory doesn't mention this example either so its not very visible. Although, I think it i

[2020-10-23 16:59] L4zyy opened #4324 "Hanging when importing pytorch_lightning on google cloud vm."
## ❓ Questions and Help

Hi,

I was trying to use pytorch-lightning with TPU on google cloud virtual machine and the virtual machine is created by this command:
[code]
 When I try to import pytorch_lightning, it hanged all the time. I tried on both jupyter notebook and python in terminal, the results are the same. When I KeyboardInterrupt the code, it returns the logs below. It seems that it has s

[2020-10-23 19:31] rohitgr7 commented on #4299
break here.
looks like some decorators on the methods in the docs are missing. wanna do a PR and fix the docs. For reference, you can have a look at [TensorboardLogger](https://github.com/PyTorchLightning/pytorch-lightning/blob/f6efb712edccfa83d630db3e97493cd36ab71497/pytorch_lightning/loggers/tensorboard.py#L45).

[2020-10-23 19:38] angadkalra commented on #4294
@ananyahjha93 I ran with num_workers=0 on entire dataset and it worked fine. I then started eliminating one preprocessing step at a time to figure out what didn't work when using num_workers > 0. It ended up being a function that pads a tensor to a specific shape. I changed from using numpy.pad to using torch.nn.functional.pad. However, I still get a segfault when running with num_workers > 0. Thi

[2020-10-23 20:00] rohitgr7 commented on #4288
This PR will allow checkpointing after every val check https://github.com/PyTorchLightning/pytorch-lightning/pull/3807

`limit_train_batches` just limits the dataloader calls to get a batch, so there is a possible case where your model might not even see some data samples. Remember `limit_train_batches` will end the epoch after this limit is reached but `val_check_interval` continues the training

[2020-10-23 20:09] DonJayamanne opened #4325 "Get progress bar in VS Code instead of text/stream based progress bar"
Hi, one of the maintainers of the Python extension that provides Jupyter functionality in VS Code.
Here's the original issue:
https://github.com/microsoft/vscode-python/issues/14476#issuecomment-714895448

#### What is your question?
When running the code in class Jupyter notebook, we get the widget (I think tqdm) progress bar.
However, when running the exact same code in VS Code, we get the class

[2020-10-23 20:58] swethmandava opened #4326 "Accessing performance of model in progress bar"
When I run training, I see progress bar indicate iterations/sec. How can I access it? I wrote a simple hook:

[code]

However, my prints indicate ~1.7it/s but the progress bar sows 6.07s/it.

In my training_step, I also return some stats (batch size, number of tokens) in logs by returning the following:
[code]
 for more relevant perf metrics. However, in my callback. print(outputs) shows an empty

[2020-10-23 21:03] RemonComputer commented on #3233
@awaelchli , I have the same issue happening with me, my code is:
[code]
I tracked the issue and I think there is a problem in logic from [parsing.py Line186](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/utilities/parsing.py#L186) to [parsing.py Line193](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/utilities/parsing.py#L

[2020-10-23 21:20] rohitgr7 commented on #4304
The first one looks like an issue with the limitations of `Tensorboard` since `global_step` is updated after every accumulated step, and since x-axis is the `global_step` so for every `global_step` it's logging 8 values(num accumulated batches). I tried this on Wandb the it's looking good there.
![Screenshot from 2020-10-24 02-45-36](https://user-images.githubusercontent.com/30778939/97055069-a199

[2020-10-23 22:03] rohitgr7 commented on #4326
I believe [these outputs are tracked only if you implement](https://github.com/PyTorchLightning/pytorch-lightning/blob/f6efb712edccfa83d630db3e97493cd36ab71497/pytorch_lightning/trainer/training_loop.py#L550-L560) `training_epoch_end`. Either way between `training_step` and `on_train_batch_end`, only optimization step occurs, do I don't think they affect the outputs in any way. You can do whatever

[2020-10-23 22:43] awaelchli commented on #3262
@fperazzi You can now return None from the training step, this will skip optimization, so  you can do your updates or whatever without being force to return a dummy loss. There is also a [manual optimization mode](https://pytorch-lightning.readthedocs.io/en/stable/optimizers.html#manual-optimization) now.

[2020-10-23 22:43] #3262 closed

[2020-10-23 23:26] awaelchli commented on #4216
I know what's going on here.
When you log both on step and on epoch, i.e.

[code]
Lighting will create the keys

- val_cer_step
- val_cer_epoch

This is needed because it cannot log the val_cer on epoch and val_cer on step to the same graph in tensorboard.
So your ModelCheckpoint should monitor the epoch metric:
[code]

I will send a PR that updates the docs explaining this behaviour.

[2020-10-23 23:33] MohammedAljahdali commented on #4216
To be honest I changed my code currently, so I can not test this, but I believe that I set monitor=val_cer_epoch and the checkpoint did not save the height cer. But about the name of the checkpoint file I think it was I mistake, and I should have set it to val_cer_epoch.

Thank you for the help, and I hope that this issue was helpful to this great Library.

[2020-10-23 23:37] awaelchli commented on #4216
Yes, that would also explain this, because otherwise it would show the val_cer of the last batch in the validation loop in the name of the checkpoint, even if it saves the correct checkpoint

[2020-10-23 23:45] MohammedAljahdali commented on #4216
I maybe wrong but, I checked the date of the saved checkpoint and the date of highest val_cer_epoch via tensorboard, and it wasn't the same.
This is why I was sure it wasn't saving the best checkpoint.

[2020-10-23 23:47] awaelchli commented on #4216
ok, just note that if you want to get the highest value as the best, then you need to set mode="max", but you have mode="min".

[2020-10-23 23:49] MohammedAljahdali commented on #4216
Sorry my bad I meant the best value, CER is character error rate so the lower the better.

[2020-10-24 01:14] awaelchli commented on #924
@andrewjong Ok, I'm adding the bug label, but I read the thread again, and I still cannot identify what the issue is here, sorry.

1. about incorrect test results reported in [this post](https://github.com/PyTorchLightning/pytorch-lightning/issues/924#issuecomment-591719281) by @polars05, I looked again at their colab that was shared here, I updated the syntax to the latest Lightning, and ran it.

[2020-10-24 01:18] ananthsub commented on #4260
I think this is also where more coverage of typehints + Pyre would detect issues based on static analysis

[2020-10-24 01:27] andrewjong commented on #924
@awaelchli sorry for being unclear; the specific issue is the hparams bug in #3998 yes. Looks like that got added in the past two weeks. Thanks for linking to it. We should probably focus on that one as it's clearly about the hparams loading issue.

[2020-10-24 01:50] awaelchli commented on #924
ok, thank you! Let's close this one here as I believe we have answered and resolved the issues of the main author about how to load the checkpoint and we also get the expected test values.

I will get back to the linked issue and try to resolve it.

[2020-10-24 01:54] awaelchli commented on #3998
@rohitgr7 have you already started working on this? So adding a hparams argument to the bug report model will reproduce the issue?

[2020-10-24 02:24] awaelchli commented on #4310
I think it should be `on_train_epoch_start`, then `on_epoch_start` so that you can "chain" them and us both if needed :)
Unfortunately, changing the behaviour of on_epoch_start to be not only training epoch, but general, is a "silent" breaking change and I don't know how many users will be affected.  Personally, I wouldn't mind.

[2020-10-24 02:32] amogkam opened #4329 "[Docs] Typo with on_train_batch_end?"
## 📚 Documentation
![image](https://user-images.githubusercontent.com/8068268/97065983-31b93180-1566-11eb-89cf-9cc368e35d4a.png)
I think there's an error in the description of the **outputs** arg in `on_train_batch_end`. Should it be `training_step_end(training_step(x))` instead?

[2020-10-24 02:57] awaelchli commented on #4243
Tbh, I don't know sorry, I don't know what it means.

I'm not familiar with relative imports, I am trying to reproduce and I even get the same error message locally when training on cpu. I took the [pl_examples/basic_examples/image_classifier.py](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/basic_examples/image_classifier.py) and took out the Backbone, placing it i

[2020-10-24 03:22] awaelchli commented on #4326
@rohitgr7 Looking at that code you linked, I saw
`self.on_train_batch_end(epoch_output, epoch_end_outputs, batch, batch_idx, dataloader_idx)`
is sending the epoch_end outputs to the callback hook, but shouldn't that just be the output of training_step in each step?
This looks wrong to me. Is it a bug?

[2020-10-24 03:24] ZhaofengWu commented on #2350
Not sure if the earlier label removal counts towards a new "activity" by the stale bot, so commenting here to indicate that this is not stale and still needs to be addressed.

[2020-10-24 03:27] awaelchli commented on #4325
We detect if ipwidgets is availabe and change the import accordingly:
https://github.com/PyTorchLightning/pytorch-lightning/blob/66704e685d4975ed8d0a680ba7090bf5acd14d73/pytorch_lightning/callbacks/progress.py#L28

I don't know what needs to be done to make it look differently in vscode.
Can you make the tqdm show as desired in a plain python script, without lightning?

[2020-10-24 03:32] awaelchli commented on #4324
@lezwon this is the utilities function you recently added, right? Maybe you need to put a timeout on the join()?

[2020-10-24 04:46] akihironitta commented on #4220
Link https://github.com/PyTorchLightning/pytorch-lightning/issues/4286 when updating the logo images.

[2020-10-24 06:53] rohitgr7 commented on #3998
@awaelchli I haven't started working on it since I don't know the best way to solve it.
@chiragraman has linked a code sample similar to bug_report_model to reproduce this issue along with some details on why this is happening https://github.com/PyTorchLightning/pytorch-lightning/issues/3998#issuecomment-710517824.

PS: don't run this code in a notebook since it won't throw any error.

[2020-10-24 06:53] rohitgr7 commented on #4326
@awaelchli `epoch_end_outputs` is an empty list unless you override the `training_epoch_end`.
https://github.com/PyTorchLightning/pytorch-lightning/blob/66704e685d4975ed8d0a680ba7090bf5acd14d73/pytorch_lightning/trainer/training_loop.py#L923-L924

Also, `epoch_end_outputs` is just the output of `training_step`, it's just a mislearning variable name maybe.

[2020-10-24 07:48] chiragraman commented on #924
@awaelchli hey! I opened and diagnosed #3998, and if you follow the discussion there I've linked to exactly why that's happening, which is that the linked code parses the class spec to find ".hparams=", which would fail for inherited classes. So in some sense I've solved and demonstrated why it's happening. As such that issue is related to `hparams_name`.

The current issue has nothing to do with

[2020-10-24 09:48] tadejsv opened #4332 "Remove tensorboard dependency"
## 🚀 Feature

It would be cool if TB was removed as a dependency, as some people (like me) don't really use it.

### Motivation

Tensorboard dependency currently represents close to 50% of the download volume of PL (assuming you start with pytorch installed) - 6.2 MB out of 12.6MB for me, when I install from conda. So removing it would make the package much slimmer.

I use only Wandb for logging -

[2020-10-24 10:40] williamFalcon commented on #4260
I’m not sure this is accurate.

sometimes they can’t really return something or it doesn’t make sense to.

ddp spawn can’t return anything :)
the functions are in a subprocess, and you can’t share objects between the processes unless you use a queue.

so, if you notice, ddpspawn train does not return anything but i think it tries to use a queue to pull out info and put it back on the main process.

[2020-10-24 11:02] #4220 closed

[2020-10-24 13:53] awaelchli commented on #924
[code]

I have once again tried to use the hparams and it works. Please take this code and finally tell me what I need to modify to make it break. If there is an issue with hparams loading, then it should be taken to a new issue. As far as I can tell, the problem of OP was solved, was it not? That is the reason I closed it.

I'm sorry but the frustration is also on my side. I have revisited this t

[2020-10-24 14:01] marrrcin commented on #4304
@rohitgr7 have you checked that with or without DataParallel?

[2020-10-24 14:04] awaelchli commented on #4332
I think this is a necessary requirement if we want to keep TB the default logger in Lightning.
Putting it in extras would mean that the default setting in Trainer(logger=True) will break, because we use `torch.utils.tensorboard.SummaryWriter` and this requires the tensorboard install.

[2020-10-24 14:08] awaelchli commented on #4326
Yes, it's a misleading name but I also think the behaviour should be different.
The callback method should receive directly the output of training_step, I believe.
There is a comment in the code about memory build up, but I don't see the issue if we just pass the output to the callback hook, we just keep this one reference alive until the callback hook is finished.

[2020-10-24 14:11] rohitgr7 commented on #4304
@marrrcin don't have GPUs 😅, can't check it.

[2020-10-24 14:24] rohitgr7 commented on #4326
Agreed 👍, should we allowed irrespective of whether training_epoch_end is implemented or not.

[2020-10-24 14:34] awaelchli commented on #4326
For `on_train_batch_end`, yes certainly.
I think this simply got confused with the callback hook named `on_train_epoch_end`, which certainly should get all outputs in a list.

[2020-10-24 14:46] #3273 closed

[2020-10-24 14:51] chiragraman opened #4333 "Saving / loading hparams type in checkpoint"
## 🐛 Bug

There seems to be an issue with saving or loading hyperparams type in checkpoints. Related to #924 (unrelated to #3998).

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing)

Here is the BoringModel gist using the snippet from @awaelchli in #924
 (running in colab has been unreliable, see #3998)

[2020-10-24 14:56] chiragraman commented on #924
@awaelchli  I didn't mean to invalidate your frustration, I think it's possible for both sides to be validly frustrated for different reasons. In my case, I tried pointing out it's a problem with the saving rather than the loading, which got buried in the discussion, only to see it closed in reference to an issue that I opened and diagnosed already to not be related to this.

I see your point abou

[2020-10-24 15:11] ananthsub commented on #4333
Did you print the type of model.hparams elsewhere? Is it being converted silently away from omegaconf?

[2020-10-24 15:12] chiragraman commented on #4333
Looking into this right now, breakpointing in the code over in saving.py to look at the stored type

[2020-10-24 16:19] awaelchli commented on #4333
Thanks, I'm glad we agree we're not seeing any errors on master branch.

The AttributeDict, as far as I know, was introduced exactly because of this, to have the flexibility of passing in a dict or Namespace.
The setter self.hparams = ... helps taking care of this.
My understanding is that the Lightning recommended way is to pass in hyperparameters as regular arguments and then call
`self.save_hyp

[2020-10-24 16:31] chiragraman commented on #4333
Hmm, I think even before the saving, at the first invocation of `__init__` it is already an `AttributeDict`, as seen from the first set of print statements. So even if one calls `save_hyperparameters` in init, I think it will only ever receive an `AttributeDict` no?

I don't think even the latest doc assumes this. From the docstring on `save_hyperparameters`, it reads:
[code]

but I don't see how

[2020-10-24 16:58] carmocca commented on #4332
IMO we should deprecate `logger=True`, to avoid giving preferential treatment to tensorboard.
We would first deprecate it, giving an appropriate warning when it is set to `True`.
Then, once it is removed, remove the forced installation of tensorboard and have users pass it manually to the logger argument, just as they have to when any other logger is used.

[2020-10-24 17:00] ananthsub commented on #4333
@awaelchli wdyt about making `hparams` into a model hook for people to explicitly save and load? i think the automatic deduction of args is really tricky and runs into all of these edge cases

[2020-10-24 17:32] ananthsub commented on #4332
total n00b question: what features does wandb support better than tensorboard?

[2020-10-24 17:36] tadejsv commented on #4332
@ananthsub for me it's basically just that you can view the logs online, from everywhere. But it also automatically logs GPU/CPU/memory usage, enables you to view logs by epoch ob x axis (which I think Tensorboard doesn't support?)...

[2020-10-24 18:04] chiragraman commented on #4333
That seems like the wrong design choice - the args you pass in are presumably used in other hooks as well, so it makes sense to pass it into the init. I think the simpler fix here would be to save the type regardless of if omegaconf is available or not. That nested if seems like incorrect branching.

I'd assume it is okay to always have the type saved in the ckpt whether or not omegaconf is availa

[2020-10-24 18:08] awaelchli commented on #4332
Isn't removing the default in conflict with Lightning's vision of providing good defaults across the board, including a good default logger? Since pytorch has the summary writer for TB, it seems a natural choice.

Ideally the torch summary writer would write the logger files without the dependency on tb, and only for viewing the logs would you require to install the dep. This is not the case now,

[2020-10-24 18:10] tadejsv commented on #4332
So why not make CSVLogger the default?

[2020-10-24 18:13] marrrcin commented on #4304
So what I've found out is the following:
1. Logging with `on_step=False` and `on_epoch=True` in `__step_end` yields fine charts on the epoch level (for any kind of step).
2. Logging with `on_step=True` and `on_epoch=False` in `training_step_end` results in messed up charts that are dependant on the `accumulate_grad_batches` parameter of the `Trainer` as in the picture:
![7E1ED620-2400-4E84-B7A3-C1

[2020-10-24 18:27] carmocca commented on #4332
That is assuming that Tensorboard is the best default logger. I don't know which percentage of Lightning users actually rely on it, but given the growing number of loggers, i'm not sure everybody agrees with that assumption.

The second of Lightning's basic principles is (quoting the README) "Abstract away unecessary boilerplate, but make it accessible when needed". I know it originally refers to

[2020-10-24 18:34] awaelchli commented on #4332
I don't want to make any assumptions. I am a wandb user and see it superior to TB in almost anyway. I never use TB except when I work with other people's code. Yet I think that having a logger is a better default than having no logger. That's all I'm saying.

[2020-10-24 19:06] ananthsub opened #4335 "Clarify the model checkpoint arguments"
## 🐛 Proposals

This is not so much a bug report as an RFC to clarify the `ModelCheckpoint` callback arguments:
- `save_last`: to me, this means that whenever we save a checkpoint, we save a checkpoint with filename `"last.ckpt"`. This provides a pre-determined checkpoint name, which is very helpful for resuming from failures. Importantly, it should not determine *when* checkpoints are saved. Curr

[2020-10-24 19:39] awaelchli commented on #4335
save_last: I agree, I believe this was the original intention when this feature was added. Definitely useful to have.
period: Regarding naming, we have a PR here: #3807 which needs to be finished, but implements exactly this :)

[2020-10-24 20:08] carmocca commented on #4335
- `save_last`:  What about having a `symlink_to_last: bool = False` argument so there is always a symbolic link to the last saved epoch? It'd also avoid the inefficiency you talk about in your second point.
- `period`: I think we should keep the name `period` and have a mechanism to either track epochs or steps.

[2020-10-24 20:26] ananthsub commented on #4335
I didn't see symlink supported from the fsspec API, so this could be challenging without that. but yeah that's the general idea: maybe we call it `save_as_last` ? `save_most_recent` ? open to name ideas here haha

Users might want to do both: e.g. save a checkpoint every 10,000 steps and at each epoch

[2020-10-24 20:36] carmocca commented on #4335
Yes, but I would support that by allowing having multiple ModelCheckpoint callbacks.

`ModelCheckpoint` has become quite complex lately, so we should evaluate splitting it some time in the future.
Any further changes we do should line up with a thought out future API.
One possibility is separating the basic saving functionality from tracking the TopK of anything. It could be something like:

[code

[2020-10-24 20:55] #4319 closed

[2020-10-24 21:05] dlrac commented on #4045
@awaelchli Continuing training indeed doesn't work. I verified the code flow goes into https://github.com/PyTorchLightning/pytorch-lightning/blob/207ff728c940ff7d8bb317a83d22378b759c9292/pytorch_lightning/trainer/connectors/checkpoint_connector.py#L84 and properly restores stuff, but it looks like Trainer is re-initialized to default setting somehow (or there are some weird copies of Trainer objec

[2020-10-24 21:33] #3791 closed

[2020-10-24 21:33] #4171 closed

[2020-10-25 00:07] carefree0910 commented on #1770
So maybe pytorch-lightning now wants us to handle this specific condition by ourselves? Because it seems that the latest release supports us to re-design the training step completely 😕

[2020-10-25 00:23] 0560405608 commented on #1770
****

[2020-10-25 00:46] 0560405608 opened #4338 "M"
## 🐛 Bug

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing)

### To Reproduce

### Expected behavior

### Environment

**Note**: `Bugs with code` are solved faster ! `Colab Notebook` should be made `public` !

* `IDE`: Please, use our python [bug_report_model.py](https://github.com/PyTorchLightning/pytor

[2020-10-25 01:07] #4338 closed

[2020-10-25 01:08] #3984 closed

[2020-10-25 02:06] lezwon commented on #4324
Sure. I'll add a timeout. However, I'm curious to know why the process hangs. @L4zyy mind executing this in the console and letting us know the output?

[code]

[2020-10-25 02:11] L4zyy commented on #4324
It will hang every time I import pytorch_lightning. When I ran the first line of this code, I got hang and when I interupt it with Ctrl C, I got:

[code]

[2020-10-25 02:15] lezwon commented on #4324
Sorry about that. Try this one. It does not import Lightning.

[code]

[2020-10-25 02:32] L4zyy commented on #4324
I find out the reason of hanging. I forgot to export the TPU_IP_ADDRESS before importing. When I forgot to export the variable, the device = ... line will hang and can not be interupted. After I export the variable, I can get device normally and the third line will return 'TPU'. Also I can successfully import pytorch_lightning after I export the variable.

[2020-10-25 02:34] lezwon commented on #4324
that's awesome 👍 Glad it worked :)

[2020-10-25 03:11] awaelchli commented on #4324
It seems we don't have the TPU_IP_ADDRESS anywhere in our codebase. Is it something we should document, or this is a system configuration with xla that the user has to do?

[2020-10-25 03:16] lezwon commented on #4324
It's present in [cloud docs](https://cloud.google.com/tpu/docs/tutorials/resnet-pytorch?hl=tr#create_and_configure_the_pytorch_environment). Maybe we could add it to our docs too?

[2020-10-25 05:06] awaelchli commented on #2554
hey @jloveric, model checkpoint and all IO in general now uses fsspec. Is that what you need?

[2020-10-25 05:18] awaelchli commented on #3002
Ok, looked at it again. We are missing the `wandb.finish` call. I spotted that thanks to @borisdayma's notebook which makes the call at the end. Let me send a PR and you guys test it out?

[2020-10-25 06:02] #3009 closed

[2020-10-25 06:04] #3037 closed

[2020-10-25 06:12] louis-she opened #4342 "Get help of argparse from docstring."
## 🚀 Feature
get help from docstring for argparse.

### Motivation

In code todo: https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/utilities/argparse_utils.py#L163

[2020-10-25 06:22] awaelchli commented on #3351
If the hint by @nathanpainchaud did not work, let us know and we can reopen.

[2020-10-25 06:22] #3351 closed

[2020-10-25 06:25] louis-she commented on #4342
https://github.com/PyTorchLightning/pytorch-lightning/pull/4344

[2020-10-25 06:27] awaelchli commented on #3471
@ananthsub Not sure if you have seen it already, there is now a DDP Plugin in which you can override the DistributedDataParallel. It can be passed into the trainer via plugins list.
https://pytorch-lightning.readthedocs.io/en/latest/plugins.html?highlight=DDPPlugin

[2020-10-25 06:34] awaelchli commented on #3640
@ByungSun12 The ddp mode improved alot with the latest relase v1.0. And recently we fixed a probelm with device selection #4297.
I encourage you to try the master branch or next release on Tuesday.
If you still run into issues, try to show the issue in the [bug report model](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/bug_report_model.py) and post here. Thanks

[2020-10-25 07:44] ananthsub commented on #3471
yup I saw. that resolves this issue 👍

[2020-10-25 07:44] #3471 closed

[2020-10-25 08:43] ftnext opened #4345 "[Docs] redundant whitespace included in debugging section code, new-project.rst"
## 📚 Documentation

For typos and doc fixes, please go ahead and:

1. Create an issue.
2. Fix the typo.
3. Submit a PR.

Thanks!

---

## Typo

https://pytorch-lightning.readthedocs.io/en/latest/new-project.html#debugging

[code]

This works, but I think it should be aligned in appearance with the rest of the code.

## Fix

[code]

I will submit a PR later

[2020-10-25 08:44] lezwon commented on #4324
@awaelchli I was wondering if we should lazy load `TPU_AVAILABLE`. Maybe only when the user selects to train on TPU's. That way we can ensure the user is able to load lightning without running into errors as such.

[2020-10-25 09:03] #3655 closed

[2020-10-25 09:26] #4237 closed

[2020-10-25 09:33] 0560405608 commented on #1
****

[2020-10-25 10:04] Borda commented on #2393
@neighthan how is it going here?

[2020-10-25 10:04] Borda commented on #2662
@edenlightning what is the issue description?

[2020-10-25 10:06] Borda commented on #1395
already solved... 🐰

[2020-10-25 10:06] #1395 closed

[2020-10-25 10:07] Borda commented on #855
@uditarora how is it going here?

[2020-10-25 10:08] 0560405608 commented on #855
`****`

[2020-10-25 10:08] Borda commented on #742
@CarloLucibello any update here? 🐰

[2020-10-25 10:55] #4345 closed

[2020-10-25 11:41] 0560405608 commented on #4338
****

[2020-10-25 11:41] 0560405608 commented on #4338
-

[2020-10-25 14:34] swethmandava commented on #4326
Thanks @rohitgr7 @awaelchli - that explains empty outputs. Should I send a PR?

Where is progress bar iterations/sec coming from and when is it triggered? If I want to measure training performance, is measuring the time between on_train_batch_start and on_train_batch_end accurate?

[2020-10-25 16:36] ananthsub commented on #3330
if you're using Hydra, this instantiation via config becomes a lot easier. This has parallels to the distributed_backend / plugin interfaces too, which are increasingly supporting explicit instantiations passed to the trainer @williamFalcon

[2020-10-25 16:45] awaelchli commented on #4324
Yes, I think that would be the best :)

[2020-10-25 16:48] ananthsub opened #4349 "Support sync batch norm as a plugin"
## 🚀 Feature
Support sync batch norm as a plugin so we don't duplicate code across accelerators

### Motivation

It'll look very similar to this: https://github.com/PyTorchLightning/pytorch-lightning/pull/4285

### Pitch

[code]

Do we even need the `sync_batchnorm` flag on the `Trainer` with this plugin?

[2020-10-25 16:55] awaelchli commented on #4349
This reminds me of the checkpoint_callback + callbacks list situation for ModelCheckpoint. The difference here is that there can be only one plugin of this type.

[2020-10-25 17:05] FrankXinqi opened #4350 "How to use SSLOnlineEvaluator callback"
## ❓ Questions and Help

### Before asking:
Lightning Forum Posted Question: https://forums.pytorchlightning.ai/t/how-to-use-sslonlineevaluator/309
#### What is your question?
I study the code provided here SSL SimCLR on colab, and implemented a similar code.

I have modified the datamodule to load mine, and I can run the code. However, if I use SSLOnlineEvaluator. I cannot make it work. If I spec

[2020-10-25 17:08] CarloLucibello commented on #742
sorry, I have no buffer right now

[2020-10-25 17:24] awaelchli commented on #742
This issue can maybe even be closed. With the new manual optimization, we should be able to deal with multiple optimizers in whatever crazy way we want.
https://pytorch-lightning.readthedocs.io/en/stable/optimizers.html#manual-optimization

[2020-10-25 17:29] ananthsub commented on #4349
If we have the flag, we can use `sync_batchnorm=True` and get the default implementation of the plugin without creating and passing it to the trainer.

If we drop the flag, then to use `sync_batchnorm` you must create and pass a plugin (of any type that extends `SyncBatchNormPlugin`), and lightning would provide the default implementation for you to create and pass

[2020-10-25 17:38] rohitgr7 commented on #4326
yes please go ahead.

it uses tqdm.

yes almost, but if you want to check a bit more precisely then I suggest disable logging.

[2020-10-25 17:39] awaelchli commented on #4333
@chiragraman Mabe we need to do this?

[code]

sorry for the slow resolution of this problem, but my head is a bit twisted looking at all this hparams logic, I am not sure what to do tbh. Even with this change, the type after reloading will still be AttributeDict:

[code]

and the setter of `LightningModule.hparams` always converts dict and Namespace to AttributeDict. Looking at these different pl

[2020-10-25 18:47] LittlePea13 opened #4353 "Metrics fail on DP and multiple GPU"
## 🐛 Bug

When using a metric such as Accuracy from `pytorch_lightning.metrics` in machine with 4 GPU and in 'dp' mode, there is an error due to accumulating the metric in different devices. In the case of Accuracy, in line:
https://github.com/PyTorchLightning/pytorch-lightning/blob/c8ccec7a02c53ed38af6ef7193232426384eee4a/pytorch_lightning/metrics/classification/accuracy.py#L108

The arguments in

[2020-10-25 19:40] jeremyjordan opened #4354 "Add momentum to the LearningRateMonitor"
## 🚀 Feature

We should add a flag to optionally log the momentum value (for optimizers that have the attribute) in our LearningRateMonitor.

### Motivation

Some learning rate schedulers (eg. [OneCycle](https://pytorch.org/docs/stable/optim.html#torch.optim.lr_scheduler.OneCycleLR)) also adjust the momentum value when updating the learning rate.

### Pitch

For each scheduler's optimizer, we can

[2020-10-25 19:42] jeremyjordan commented on #4354
cc @rohitgr7 and @Borda - what do you think? I'm happy to open a PR for this.

[2020-10-25 19:46] awaelchli commented on #3998
I want to point out the following in your reproducible code that you posted:

[code]

with `save_hyperparameters()`, this works smoothly,

[2020-10-25 19:50] chiragraman commented on #3998
@awaelchli you mean this in the context of the #924 /  #4333 discussion we're having right? The two lines you've commented out were just there for working around the Namespace issue. You can still reproduce the issue with the inheritance chain though?

[2020-10-25 19:50] marrrcin commented on #4353
If you do metrics update in `<step name>_step_end()` methods it will work correctly.

[2020-10-25 19:59] awaelchli commented on #3998
Yes, and I commented out to show that with save_hyperparameters() function you don't need the workaround.

No. Your child module has the same args as the parent one, so they are passed correctly. Only if you have different args in the child module, you need to call `self.save_hyperparameters()` there too.

[2020-10-25 20:04] chiragraman commented on #3998
Aaah okay makes sense. Using your recommended method avoids the offending code altogether here:

https://github.com/PyTorchLightning/pytorch-lightning/blob/5c1eff351b035db5881d0cff81b1d9c9e150e2d0/pytorch_lightning/core/lightning.py#L1631-L1636

So it makes sense that it works. However, the code above doesn't (and wouldn't) work for the setup in the reproducible example. If the recommended way is

[2020-10-25 20:23] chiragraman commented on #3998
So in the spirit of offering the start of a solution instead of simply pointing out the problem, here is my opinion. The user code should be decoupled from the library code. If the way forward is to use `save_hyperparameters()` I think it would be more elegant to use it internally as well in the library based on a condition even if the user hasn't. We want to protect the usability at the user leve

[2020-10-25 20:38] SkafteNicki commented on #4353
@marrrcin could you provide a bit more detail? Like how and where do you explicitly call metric? (example)
I would like to get to the bottom of this.

[2020-10-25 21:24] awaelchli commented on #1770
I think for this GAN example it would be best to use the manual optimization mode.
https://pytorch-lightning.readthedocs.io/en/stable/optimizers.html#manual-optimization
Then you have the most control over the optimizers.

[2020-10-25 21:35] LittlePea13 commented on #4353
So according to a conversation with him on slack, if the metric.forward() is called in the `*_step_end()` method (let's say `self.acc(true,logits)`) rather than in `*_step()` the error no longer happens.

This probably has to do with the fact that the output values from the `step` methods are properly gathered across devices into `_step_end`. Still I am not sure that this is the intended behavior

[2020-10-25 21:52] awaelchli commented on #2843
The user-configureable way is to simply do this with the current API (there are no more Results objects):
[code]

[2020-10-25 21:55] awaelchli commented on #3292
William mentioned that he is using the Keynote software from Apple to create the animations.

[2020-10-25 22:27] rohitgr7 commented on #4354
I like it 👍

[2020-10-25 22:38] cmpute commented on #1189
bump

[2020-10-25 22:44] marrrcin commented on #4353
@SkafteNicki
so my workaround is the following:
In my `LightningModule`s `__init__` I have:
[code]

Then, some utility functions:
[code]

Then, from `*_step` I return `dict`s with: _loss, pred_y, true_y_ keys.
Lastly, in `*_step_end` I call the update:

[code]

[2020-10-25 23:14] ozen commented on #4012
#4213 doesn't fix this. Although the callback can now parse the metric name containing a slash, slashes in the resulting file name create directories during saving for obvious reasons. Since file names cannot contain slashes, the way the callback formats the file name must be changed.

[2020-10-25 23:32] carmocca opened #4356 "ddp_cpu breaks while lookinf for .module: ModuleAttributeError: 'BoringModel' object has no attribute 'module'"
## 🐛 Bug

https://colab.research.google.com/drive/1hMW-0sTTgK-r6xfdwuSDyRNJBH7YYm9V?usp=sharing

### To Reproduce

Set `num_processes=2` in the trainer (without accelerator="ddp_cpu"`). I know this is an invalid combination but a user of my library got confused with the error.

[code]

### Expected behavior

The property `num_processes` is ignored as mentioned in the warning:

`UserWarning: num_pr

[2020-10-26 00:01] EspenHa commented on #4353
Seems to be a duplicate of / closely related to #4073, you might want to try the fix in #4138.

[2020-10-26 00:12] williamFalcon commented on #1189
cc @edenafek

[2020-10-26 01:34] xiadingZ opened #4357 "Does AccuracyMetric compute accumulated or mean values of each batch?"
there are two version of calculate accuracy:
1. calculate accuracy of each batch then do mean operation in `validation_epoch_end`
2. accumulate each batch's `correct, total` values then compute accuracy once in `validation_epoch_end`

which ones does `AccuracyMetric` do?

[2020-10-26 01:56] awaelchli commented on #4357
The 2nd.
And it does that also across gpus.
https://pytorch-lightning.readthedocs.io/en/latest/metrics.html

[2020-10-26 02:04] xiadingZ commented on #4357
1. In ddp mode, If i want to implement `validation_epoch_end`, how can I get the accumulated accuracy value? below is my current code, but it seems do the 1st method.
[code]

2. does it mean that I have to create multiple `AccuracyMetric` instances for each variable in each mode, such as `train_vid_acc`, `val_vid_acc`, `test_vid_acc`, `train_img_acc`...?

[2020-10-26 02:16] awaelchli commented on #4357
You can call .compute() as it is shown in the docs:
https://pytorch-lightning.readthedocs.io/en/latest/metrics.html
Is this what you mean by "accumulated"?

2. Yes you have to create multiple, because they track the internal state of that particular metric.

[2020-10-26 02:20] xiadingZ commented on #4357
1. yes.  my `accumulated` is what `.compute()` does.   As in docs, it call `self.log` in `training_step` and `training_epoch_end`, but I only call it in `validation_epoch_end`, will this also get the synced value of Metric?

[2020-10-26 02:20] Limtle commented on #4225
@Borda How to check all 16 updated in parallel or just the last one?

[2020-10-26 03:30] xiadingZ opened #4358 "How to use multiple loaders?"
This is docs about multiple dataloader, but it's too simple, is there any example of using multiple dataloader?
[multiple loaders](https://pytorch-lightning.readthedocs.io/en/latest/multiple_loaders.html)
In video classification, it's common to sample multiple clips to do classification, then compute mean scores of each clip in val/test mode.

If I want 10 clips for test. I can return 10 clips at

[2020-10-26 04:59] NumesSanguis commented on #4140
To move the discussion from https://github.com/PyTorchLightning/pytorch-lightning/pull/4142#discussion_r511233965 to here @ananthsub 's

Could you elaborate on why scripting is strongly recommended? From the [TorchScript documentation](https://pytorch.org/docs/stable/jit.html), scripting and tracing just focuses on different use cases, without a preference for either one. Scripting is positioned a

[2020-10-26 06:15] NumesSanguis opened #4361 "Adding a Metric to LightningModule prevents loading of a checkpoint / weights"
## 🐛 Bug

Adding a Metric like Accuracy prevents the loading of a .ckpt due to missing keys:
[code]

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing)

https://colab.research.google.com/drive/1km0SE2TVRuif6R4uF8vihqUl-FshXu_u?usp=sharing

### To Reproduce

[code]

### Expected behavior

Being able to add

[2020-10-26 06:19] #4260 closed

[2020-10-26 06:30] NumesSanguis commented on #4361
Adding `strict=False` to:
[code]
does allow to load the weights (thank you @ananthsub ), but this will increase the risk of improper variables in your .ckpt's that would have been noticed if `strict=True`.
This is not something you want in bigger projects where you want to make sure that keys match.

[2020-10-26 07:05] ydcjeff commented on #3354
@gunthergl does `.. automodule::` work now?

[2020-10-26 07:25] cool425589 opened #4364 "show progressbar only on progress_rank 0 on ddp_slurm"
## 🐛 Bug

The progress bars will show repeatedly when using slurm for multi-nodes

### To Reproduce
Using [pytorch_lightning ](https://colab.research.google.com/github/PytorchLightning/pytorch-lightning/blob/master/notebooks/03-basic-gan.ipynb#scrollTo=0E2QDjl5yWtz)
[code]
## Submit
[code]

### Expected behavior
[code]
### Actual behavior
[code]

### Environment
environment
OS:CentOS Linux
 - Pyth

[2020-10-26 07:34] #2843 closed

[2020-10-26 07:39] NumesSanguis commented on #4361
Using `BoringModel` as a submodule is also not desirable, as you cannot do simply:

[code]

You would need to copy all the other functions, such as `training_step()` as well. Lightning should take away engineering; not increasing it (if you would take this approach).

[2020-10-26 07:58] ananthsub commented on #4140
@suo is there guidance that PyTorch/JIT can share for tracing vs scripting? My understanding is that more use cases should adopt scripting, but maybe that's too naive on my part

[2020-10-26 08:16] ClaartjeBarkhof opened #4365 "Error #15: Initializing libiomp5.dylib, but found libiomp5.dylib already initialized."
## 🐛 Bug

When initialising a PytorchLightning trainer and fitting it, I get the following error:

[code]

My train code:

[code]

I use the Huggingface datasets library to create a dataset and make a Pytorch data loader out of it.

[code]

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing)

### To Reprod

[2020-10-26 08:23] tarepan opened #4366 "Not-yet-existing resume_from_checkpoint for auto-resubmit"
## 🚀 Feature
Accept **Not-yet-existing** [`resume_from_checkpoint`][resume_from_checkpoint] in [`Trainer`][Trainer] for automatic training resume / auto-resubmit.

[resume_from_checkpoint]:https://pytorch-lightning.readthedocs.io/en/stable/trainer.html#resume-from-checkpoint
[Trainer]:https://pytorch-lightning.readthedocs.io/en/stable/trainer.html#trainer-class-api

### Motivation
In cloud ML trai

[2020-10-26 10:20] Shreeyak commented on #4361
Best approach might be to modify the old checkpoints to make them compatible to a common format.
Assume the keys `epoch` and `total_iter_num` don't exist, here's a sample code to add those params to the checkpoint (with a default value of 0):
[code]

[2020-10-26 10:28] SkafteNicki commented on #4353
@EspenHa I agree that the error is the same, but this happens long before trying to log the metrics. Actually, it has nothing to do with the rest of lightning, but a general incompatibility between lightning metrics and DataParallel:
[code]
Even this small example fails with the same error.  The core of the problem seems to have something to do with how we register the state as a buffer. As far as

[2020-10-26 10:35] neergaard commented on #702
Would this also support other objects than tensors from the `validation_step` and `test_step` methods, say lists of strings?

[2020-10-26 11:21] rohitgr7 commented on #4176
this issue is not resolved completely yet. I think I have a better suggesion. Will send a PR. Also this new `has_trained` should be a property of trainer IMO. @tchaton thoughts?

[2020-10-26 11:22] #3002 closed

[2020-10-26 11:47] SkafteNicki commented on #4361
Metrics are simple `nn.Module` and therefore also have there own `state_dict`. In the case of `Accuracy` metric, the `correct` and `total` tensors refer to the number of correctly labeled data points seen and the total number of data points seen. When initialized both of these numbers are 0. Having them as `state_dict`, for example allows the metric to be computed on some fraction of the dataset,

[2020-10-26 11:57] #4276 closed

[2020-10-26 12:26] SeanNaren commented on #4358
Does your question boil down to accessing loader variables? I'm a bit lost as to what the use case here is, if you could write a pseudocode example that would help.

[2020-10-26 12:56] xiadingZ commented on #4358
[code]
this is what I want.  each `validation_epoch_end` will compute each loader's all data's acc. If I have 2 dataloader, then I want to  call `validation_epoch_end` twice and compute mean of their returned acc

[2020-10-26 12:56] ThomasWollmann opened #4367 "Bug when running example in README.md"
## 🐛 Bug

When running the example in the README.md, the script crashes (Error: AttributeError: 'TypeError' object has no attribute 'message') when calling "trainer.fit(...)".

Appeared with 1.0.3, 1.0.2, 1.0.1, 1.0.0. The script works in 0.9.0 if you remove the line "self.log('train_loss', loss)".

Stacktrace:
[code]

### To Reproduce

[code]

### Expected behavior

Training should start.

### En

[2020-10-26 13:03] carmocca opened #4368 "Add best_model_monitor to ModelCheckpoint"
### Motivation

If I have a directory with many checkpoints, possibly belonging to runs with different monitors, I don't know which metric was tracked by each checkpoint.

### Pitch

[code]

### Alternatives

Guess If I included the monitor in the checkpoint name, I could parse it to know. But seems much more convenient to add the property.

[2020-10-26 13:41] pafi-code opened #4370 "Make profiling possible on validation steps."
## 🚀 Make profiling possible on validation steps.
It would be really nice, if we could also profile function calls at validation and/or test stage.

### Motivation
In my case the implementation and functionality of the validation step is really different than the one from the training step so it would be nice to also profile this one. Different metrics are getting calculated and some other stuff i

[2020-10-26 14:08] rotabulo commented on #3728
@SkafteNicki I have a concern about the current implementation. I haven't time to dig in depth into the code, but I saw that the metric states are stored as buffers and when I use DistributedDataParallel of Pytorch, at the beginning of each forward pass, the buffers of device 0 are replacing the ones of the other devices. Hence, if the metric object keeps track of the metrics per device without sy

[2020-10-26 14:10] its-dron commented on #4012
@ozen Am I correct that the issue now is that checkpoint names automatically include the metric name in addition to the value?
Could we make that configurable, so I can enable/disable automatic name insertion?

[2020-10-26 14:36] tmachnitzki opened #4373 "model.to_onnx() fails if self.example_input_array is a list"
## 🐛 Bug

Using `mode.to_onnx()` does not work if the defined example array is a list or tuple of multiple inputs.
The reason is, that it tries to call `inputs.to(device)` on the list object:

[code]

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing)

https://colab.research.google.com/drive/1ZxxIBLRVXF-F

[2020-10-26 14:51] SkafteNicki commented on #3728
@rotabulo I am not completely sure if I understand your concern. Can you provide some more details/code?
We have tests in place that should secure that the correct value is calculated, with or without the `dist_sync_on_step` flag enabled.
That said, the API is pretty new so there may be something that we have missed :]

[2020-10-26 14:52] rohitgr7 commented on #4368
another alternative: you can also add that to checkpoint itself in `on_save_checkpoint`.

[2020-10-26 14:54] #4329 closed

[2020-10-26 15:13] rohitgr7 commented on #4373
[code]
example_input_array should contain only one tensor sample.

[2020-10-26 15:15] moi90 opened #4375 "LearningRateMonitor produces inconsistent logs with logging_interval="epoch""
## 🐛 Bug

`LearningRateMonitor` uses `step=trainer.current_epoch` whereas in other places, it is always `step=trainer.global_step`.

This creates inconsistencies and makes the log hard to process:

https://colab.research.google.com/drive/1bucI1oGCc_xNsnP_lvBWTz3x_bauH3o7

[code]

For `lr-SGD` rows, `step` is the epoch, otherwise, `step` is the global step.

### Expected behavior

I expect `step` t

[2020-10-26 15:36] tmachnitzki commented on #4373
@rohitgr7 Thanks for your answer. Could you then please help me to understand how to use that with a `forward` function that takes multiple inputs, as described in my BoringModel example posted above?

[2020-10-26 15:46] carmocca commented on #4368
Do you mean by overriding it in my `LightningModule`?

It is an ugly solution because it does not know about any ModelCheckpoints used. Only the trainer knows about them.

So I would need to instantiate my LightningModule with an added `checkpoint_callback_monitor` parameter in order to do:

[code]

[2020-10-26 15:51] ozen commented on #4012
@its-dron exactly. Making it configurable could be ugly though. Maybe the slashes can be converted to something like underscores.

[2020-10-26 15:51] ananthsub commented on #4368
@carmocca [here](https://github.com/PyTorchLightning/pytorch-lightning/blob/6abc254ae6830bcf2688f780cd12ef68e57531ce/pytorch_lightning/callbacks/model_checkpoint.py#L188-L192)

[2020-10-26 15:54] carmocca commented on #4368
If you guys agree with this issue, I can work on the PR

[2020-10-26 15:58] its-dron commented on #4012
Personally, I'd prefer to not have the auto-inserted metric names at all. I'd prefer to have fine-grain control over what my files are named instead of having the library decide for me.

But that seems like a drastic change to drop at this point.

[2020-10-26 16:16] ananthsub commented on #4368
I think it makes sense to add `monitor` especially since `best_model_score` is already included. Lightning should track what that score actually represents 😃

[2020-10-26 16:40] rohitgr7 commented on #4368
na.. not the LightningModule but ModelCheckpoint, I know it's ugly haha..
IMO I think it's good to have the monitor as well. But need to check whether it is required to load it back or not in `on_load_checkpoint`.

[2020-10-26 16:48] rohitgr7 commented on #4373
@tmachnitzki [here is an example](https://pytorch.org/docs/stable/onnx.html#tracing-vs-scripting) for the same. But yeah, lightning might throw an error here since it expects a `Tensor`.

It should expect any kind of input IMO as far as it is expected the `forward`. Will fix this.

[2020-10-26 16:59] blisc opened #4377 "Please support drop_last in DistributedSampler when you update to PyTorch 1.7.0"
## 🚀 Feature
Please support drop_last in DistributedSampler when you update to PyTorch 1.7.0

### Motivation

DistributedSampler is currently bugged in PyTorch 1.6.0, but it is fixed in master
PyTorch PR that fixed this bug: https://github.com/pytorch/pytorch/pull/41171

### Pitch

Pass through (train/val/test)_dataloader's drop_last parameter to DistributedSampler

[2020-10-26 20:04] awaelchli opened #4380 "WandbLogger _sanitize_callable_params throws AttributeError if param does not have __name__"
## 🐛 Bug

Using WandB logger throws an error:

[code]

### To Reproduce

[code]

### Expected behavior

### Environment

environment does not matter

### Additional context

A recent PR  #4320 introduced the function that throws the error.

cc @tchaton

[2020-10-26 20:10] awaelchli commented on #4380
Looks like we need to be careful with objects that don't have `__name__`

[2020-10-26 20:41] tarepan opened #4381 "Role of internal `hpc_load` & `hpc_save`"
## ❓ Questions and Help
### What is your question?
What is role/responsibility of `hpc_load` & `hpc_save`?
Is it same with that of `restore`?

### Motivation
pl has two internal way of save/load,  [`restore`][restore] way & [`hpc_load`][hpc_load]/[`hpc_save`][hpc_save] way.
They do similar dump/loading, and has different checkpoint selection mechanism.
If these two method have same role/responsibi

[2020-10-26 21:57] carmocca commented on #4377
This is tricky because Lightning supports torch<1.7.0 so if we added it as an option to the Trainer, it would only have an effect for torch>=1.7.0

You could always set the DistributedSampler yourself without Lightning having an explicit option for it.

[2020-10-27 02:25] peymanpoozesh commented on #4083
@williamFalcon it seems that the LBFGS optimizer in the latest version of pytorch-lightening carries the same issue as the previous versions. Is there a way to fix this issue temporarily up to the time that bug gets fixed.

[2020-10-27 04:05] edenlightning commented on #3771
@Borda might have opinions on this

[2020-10-27 04:10] #4342 closed

[2020-10-27 06:05] #3548 closed

[2020-10-27 06:35] moi90 commented on #1592
Any progress on this? I think this is important because it relieves users of the need to know the correct parameter for each callback.

[2020-10-27 06:58] ananthsub opened #4385 "Missing cleanup after trainer.fit() and trainer.test()"
## 🐛 Bug

The Lightning trainer holds references to the LightningModule/DataModule after fit/test complete. This can leads to different behavior in calls likeL

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1B8qCnGB7M3uAFIr-1mlyzkB0-y80LmPQ?usp=sharing)
[code]

### To Reproduce

### Expected behavior
The latter `test_reuse` should re-bind the mod

[2020-10-27 08:23] rotabulo commented on #3728
@SkafteNicki after some preliminary checks of my concern, it looks like this might be indeed an issue. I try to give more details of the issue. DistributedDataParallel of Pytorch synchronizes all buffers within a model at the beginning of each forward pass by copying the one that is in the device with rank 0 to the rest of the devices of a node. Since the new Metrics class exploits model buffers t

[2020-10-27 08:49] jdepoix commented on #328
I just stumbled upon this issue, as I was also looking for a way to make my LR scheduler update on each step instead of each epoch. After doing some additional research I found that there is a better way of doing this than overwriting `optimizer_step`. I am guessing this features wasn't available yet when this issue initially cam up, but in version 1.0.3 (don't know the exact version this has been

[2020-10-27 09:24] Vozf opened #4386 "After trainer resume_from_checkpoint checkpoint_callback doesn't restore best metric value"
After I restore training with
[code]
instantiate from facebook/hydra
The training process doesnt restore the best metric value and starts from scratch so I'm getting on the first restored epoch
[code]
When there was a better checkpoint before interruption

[2020-10-27 09:29] SkafteNicki commented on #3728
@rotabulo I see the problem now. I am really not sure why this is not captured by our tests.
It seems that the solution to this is not using `register_buffer`, as it is not only making troubles in `ddp` but also `dp`. Instead we should probably settle for just allocating our states as normal tensors, and then make sure our self that they get moved to the correct device (which is the clear benefit

[2020-10-27 10:07] #3377 closed

[2020-10-27 10:13] rotabulo commented on #3728
@SkafteNicki this is also my fallback solution. The only think is that you have to take care of saving and loading the metrics manually.

[2020-10-27 10:18] SkafteNicki commented on #3728
@rotabulo by this you mean that they should manually be added to the modules `state_dict` right?
Would you be up for trying to fix this? Or if you don`t have time, could you open a PR adding the test you wrote so we have a starting point for fixing this.

[2020-10-27 10:34] SkafteNicki commented on #4357
Yes, you can call it in `validation_epoch_end`. When `compute` is called it will sync the Metric, regardless of which method the call is happening in.

[2020-10-27 10:41] rotabulo commented on #3728
@SkafteNicki unfortunately I don't have time to fix or make a PR. To be honest, I find this synchronization done by DDP nosense and I would rather fix that, considering that Lightning already introduces some modifications on top of DDP. Shall I open a separate issue, or is what I wrote here enough?

[2020-10-27 10:42] ManiadisG opened #4387 "DDP specifics: Single node function execution, test loss sync, num_workers, sync_batchnorm, precision"
## ❓ Questions and Help

#### What is your question?
This is about DDP specifics and about the handling of functions in a script that we only want executed once (not for every GPU).

I think they are missing from the [doc](https://pytorch-lightning.readthedocs.io/en/latest/multi_gpu.html#distributed-data-parallel) and I couldn't find answers elsewhere. I apologize if they have been covered already

[2020-10-27 10:43] SkafteNicki commented on #3728
@rotabulo the details you have provided here are fine :]
Thank you for identifying this pitfall in the metrics package, I will try to come up with a solution.

[2020-10-27 10:57] #3330 closed

[2020-10-27 12:12] #814 closed

[2020-10-27 12:13] tchaton commented on #1770
Any update on this issue ?

[2020-10-27 12:16] tchaton commented on #4386
Hey @Vozf,

Could you mind reproducing the bug with our `https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/bug_report_model.py`.

But my guess is a misuse of Hydra instantiate :) Will re-created ModelCheckpoint without reloading previously trained state instantiate(cfg.checkpoint.model_checkpoint)

Best, T.C

[2020-10-27 12:19] Vozf commented on #4386
ModelCheckpoint should be reloaded manually? Currently I create it with instantiate and expect trainer to restore its state? Isn't it an expected way of state restoring for ModelCheckpoint?

[2020-10-27 13:03] robogast opened #4389 "DDP init hangs with num_nodes >= 2 (with wrong global ranks?)"
## 🐛 Bug
practically, I'm doing the following:
```srun python train.py --num-nodes 2 --gpus 4```
Which results in the following hanging state, where multiple processes are assigned the same global rank:
[code]

If the ddp init is handled by slurm (by manually setting --tasks-per-node=4), global ranks are initiated correctly, but I get a rendezvous error:
[code]

(but I'm not sure that is related,

[2020-10-27 14:17] lagph opened #4390 "LightningModule.load_from_checkpoint with module_arguments is broken"
## 🐛 Bug
Saving a `LightningModule` whose constructor takes arguments and attempting to load using `load_from_checkpoint` errors with

[code]

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing)

https://colab.research.google.com/drive/1fbzDt4mEjRQuy4L_DYkkZqBRhQCxZ6kP?usp=sharing

### Expected behavior
[c

[2020-10-27 14:30] #4229 closed

[2020-10-27 14:32] aljoschaleonhardt opened #4391 "Pre-computing total number of training steps"
## 🚀 Feature

As it stands, Lightning does not expose the anticipated total number of training steps for a given run. For instance, let's say we specify `max_epochs` as 100. Our data loader has a total length of 24, our batch size is 4, and we use 2 GPUs. From this we could easily calculate that we'll perform 100 * 24 / (2 * 4) = 300 optimizer steps. It would be convenient to expose this directly,

[2020-10-27 14:58] pbmstrk opened #4392 "Improve documentation for trainer.test()"
## 📚 Documentation

I noticed a couple of things when working with the `trainer.test()` method:

1. I think that it should be highlighted that the `ckpt_path` and `model` arguments of `trainer.test()` are mutually exclusive. That is, if you pass a model the checkpoint path is ignored. I noticed this as I tried to use,
[code]
believing that this would test the given model using the weights in the c

[2020-10-27 14:58] carefree0910 commented on #1770
I think it will be fine to close this issue now 😆

[2020-10-27 14:58] #1770 closed

[2020-10-27 15:31] edenlightning opened #4394 "[Docs] replace distributed_backend with accelerator in docs"
https://pytorch-lightning.readthedocs.io/en/stable/trainer.html#accelerator

[2020-10-27 16:07] edenlightning commented on #2673
@nateraw anything left todo here?

[2020-10-27 16:08] junwen-austin opened #4395 "loss from progress bar appears to be sum of loss across all GPUs in Lightning 1.0.3"
## 🐛 Bug

The loss from progress bar during the training appears to be sum of loss across of all GPUs

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing)

### To Reproduce

One can pick any model and dataset and varies the number of GPUs for training. In my example, I have roughly 0.7 loss for 1 GPUs, 1.4

[2020-10-27 16:08] nateraw commented on #2673
This can be closed. I've shared [this example](https://github.com/nateraw/hf-text-classification/tree/ef4caef22239c9988e4a704512d53bd629d52e8f) with Sam, which I have shown works with Transformers on both native fp16 and apex for multi-gpu predictions with `pl.Trainer.test`.

[2020-10-27 16:08] #2673 closed

[2020-10-27 16:11] edenlightning commented on #4137
@tchaton can you take a look to see if there's a bug here?

[2020-10-27 16:13] junwen-austin opened #4396 "Does one need to reset Metrics during the end of epoch in Lightning 1.0.3"
## ❓ Questions and Help

### Before asking:

#### What is your question?
Given the new metrics in 1.0.0 and later (which I really like!), I have three accuracy metrics for training, validation and test initialized in `__init__` function. Do I need to reset them at the end of training and validation epoch given they will be used multiple times?

#### Code

#### What have you tried?

#### What's you

[2020-10-27 16:51] edenlightning commented on #4333
decision: update docs to use save_hparams and not the previous deprectaed way.

open question: do we need to keep backward compatibility for the old way?

[2020-10-27 17:05] chiragraman commented on #4333
@awaelchli I think your fix would be a welcome partial change already. I think the AttributeDict discussion is a more detailed one in terms of designing for transparency, but I think the fix would definitely be an improvement.

@edenlightning the previous way isn't deprecated. Point 3 [here](https://pytorch-lightning.readthedocs.io/en/stable/hyperparameters.html#lightningmodule-hyperparameters). I

[2020-10-27 17:11] rohitgr7 commented on #4367
Tried the code on colab. Not getting any error.

[2020-10-27 17:13] edenlightning opened #4397 "Spec for DDP tests"

[2020-10-27 18:07] junwen-austin commented on #4395
Note: if I don't specify anything, i.e.:

[code]

then the loss from the progress bar appears to be correct.

[2020-10-27 18:20] rohitgr7 commented on #4392
IMO it should load the `ckpt_path` regardless if the model is passed or not.

[2020-10-27 18:33] rohitgr7 commented on #4390
It just saves model state_dict (model weights) and all other parameters are saved as hyperparameters.
For that you need to use:
[code]

if you don't want to save them as hyperparameters then while loading you need to pass them in `load_from_checkpoint` explicitly as kwargs.

[2020-10-27 19:01] junwen-austin opened #4398 "on_epoch logging in validation_step appears to miss the data for the 1st epoch: Lightning 1.0.3"
## 🐛 Bug

On_epoch logging in validation_step appears to miss the data for the 1st epoch. My epoch has 313 steps and therefore I expect the first on_epoch logging in validation_step should at step 312 (0-indexed), but I saw it was at step 625, the end of the 2nd epochs.

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aL

[2020-10-27 19:18] lagph commented on #4390
Ok, thanks! Looks like the docs are out of date though, see the end of this section: https://pytorch-lightning.readthedocs.io/en/stable/weights_loading.html#automatic-saving. Also there are a bunch of references to `module_arguments` in the comments in the code.

[2020-10-27 21:32] Maddy12 commented on #4367
I am getting the same error

[2020-10-27 22:14] SkafteNicki commented on #4396
Depends on how you are using the metrics. In general if the `.compute()`method is called the internal state is reset. This means that if you call `.compute()` in the end off the epoch you should be fine. If you are using metrics in combination with `self.log`, then setting `on_epoch=True` will also internally call `. compute()` at the end of the epoch.

[2020-10-27 23:05] edenlightning opened #4399 "Add tests for .write in step result"

[2020-10-27 23:06] edenlightning opened #4400 "Add tests for parsing.py"

[2020-10-27 23:43] edenlightning opened #4401 "Add missing pickling tests"
test tube pickling
![122869059_1712075205626232_1321965453637290955_n](https://user-images.githubusercontent.com/66261195/97373527-9210e180-188c-11eb-9393-2405be2d0565.png)

test pickling accelerators
![122913587_686493622293310_1873108478502412495_n](https://user-images.githubusercontent.com/66261195/97373531-94733b80-188c-11eb-87f0-378529095712.png)

[2020-10-28 00:10] tarepan commented on #4366
Add draft pull request for discussion.

[2020-10-28 00:11] pbmstrk commented on #4392
@rohitgr7 I'm not sure I understand what you mean. The way I see it the `trainer.test()` can currently be used for two scenarios.
1. Test using a model with existing weights (e.g. test model after training) -> can simply use `trainer.test(model, ...)`
2. Test using a checkpoint of the model -> can use `trainer.test(ckpt_path="best", ...)`

For example, if the ModelCheckpoint callback is not used,

[2020-10-28 00:37] chrismaliszewski opened #4403 "Init model directly on GPU"
Is it possible to initialize a model or move an initialized model to GPU without running a training? Can't find this information anywhere.

I'm using this code https://drive.google.com/file/d/1fOH-70fA2Yk4tVPh7-NTyxN9htMs1fYh/view?usp=sharing which is based on https://github.com/sksq96/pytorch-summary/blob/master/torchsummary/torchsummary.py with small changes I made to get model's summary.

In th

[2020-10-28 01:00] LakshyaMalhotra opened #4404 "Last epoch run produces a tqdm exception"
## ❓ Questions and Help

I have started using pytorch-lightning only recently. I'm just playing with MNIST data so as to get used to the API. Everything works perfectly fine but the last epoch run always produces an exception. I don't know if I'm doing something wrong or is it an issue with tqdm. Any help would be appreciated! Also, is there a way to print `loss` and `accuracy` without showing the

[2020-10-28 01:42] Xiaohan-Wang commented on #4389
Same question here.
I tried `trainer = pl.Trainer(gpus=[4,7])`, and then the output was
[code]

[2020-10-28 03:32] bartmch commented on #2908
Hi, this would be a great addition to Lightning! Do you know roughly when you're planning to include this feature?

[2020-10-28 03:56] rohitgr7 commented on #4392
@pbmstrk this is what I meant. If `ckpt_path != None` and model is passed, it should load the ckpt_path weights into the model. Yes, it can be done by explictly by loading the weights from ckpt_path manually but I suggest this should be changed. If ckpt_path is passed it should load regardless of the fact whether a model is passed or not.

[2020-10-28 03:56] rohitgr7 commented on #4367
Can you guys reproduce this error with a colab notebook??

[2020-10-28 04:17] rohitgr7 commented on #4390
Haven't seen `module_arguments` before. Looks like these are available for backward compatibitly in order to support checkpoints trained before v0.7.6. Should docs be updated?? @Borda

[2020-10-28 05:39] bipinKrishnan commented on #4404
Hey @LakshyaMalhotra , I was not able to reproduce your issue, I have copy pasted your code for "ResNetPL" class and after that ran with the following code on colab notebook:

[code]

[2020-10-28 06:24] angshine commented on #4044
I think it would be better allowing users to load `state_dict` from checkpoints with customization, e.g. sometimes I just want to load the model and optimizer states but not the scheduler.

code ref: [training state loading](https://github.com/PyTorchLightning/pytorch-lightning/blob/3abfec896212ea85e45d6ac3ccb323ef242d16de/pytorch_lightning/trainer/connectors/checkpoint_connector.py#L125)

[2020-10-28 06:30] bipinKrishnan commented on #4206
I am a new contributor, can I provide any help in fixing this issue @tchaton

[2020-10-28 07:23] bipinKrishnan commented on #4367
Same here, the code works fine on Google Colab.

[2020-10-28 07:42] SkafteNicki commented on #4353
Just a small update:
It seems that the pitfall is in fact that we use `self.register_buffer` for the internal states in metrics. They are also making troubles in ddp mode since the buffer on rank 0 in each forward pass is overwriting the buffer on all other ranks, leading to wrong result in the. I am trying at the moment to come up with a solution for this.

That said, another problem with metrics

[2020-10-28 09:02] Vozf opened #4406 "Enable trainer val_check_interval to be greater than number of the training batches"
Currently I can't set val_check_interval greater than number of the training batches
Error occurs
[code]
But it is a useful feature when validation takes considerate time. I want to do validation after multiple train epochs(but fixed number of steps, so I can't use `check_val_every_n_epoch`)

cc @borda @tchaton @justusschock @awaelchli

[2020-10-28 09:51] #4368 closed

[2020-10-28 10:06] NumesSanguis opened #4408 "Metrics inside a dictionary are not properly moved to GPU"
## 🐛 Bug

The following code WORKS:
[code]
The following code DOES NOT WORK (throws CPU error):
[code]

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing)

https://colab.research.google.com/drive/1oLE2Ts4AkQwd2oLSaz8qNvFdiygyvgrZ?usp=sharing

### To Reproduce

### Expected behavior

Move metric to proper

[2020-10-28 10:10] awaelchli commented on #4408
You should use `torch.nn.ModuleList `or `torch.nn.ModuleDict`
This is not a PL issue. Torch does not detect submodules in lists and dicts.

[2020-10-28 10:10] #4408 closed

[2020-10-28 10:11] NumesSanguis commented on #4408
Thanks, that was indeed the issue!

[2020-10-28 10:18] justusschock commented on #4406
This would probably require #4086 first, right?

[2020-10-28 10:22] Vozf commented on #4406
Yeah, seems like so

[2020-10-28 11:03] SkafteNicki commented on #4403
`LightningModule` is just a `nn.Module` with extra functionality. To my understanding `nn.Module` is always initialized on cpu, and then the user can move to gpu using `.cuda()` method, which is also how you can move a `LightningModule` to gpu.

[2020-10-28 11:09] chrismaliszewski commented on #4403
Yeah, I think you're right. So there are two questions, I haven't tried them yet:
a. how will ```LightningModule``` model behave if it's moved to GPU and, then, training runs?
b. is it possible to determine on which device the model exists at the moment?
It's 12 PM my time; I'll try it tomorrow or, if you're interested yourself, could you check it?

[2020-10-28 11:55] SkafteNicki commented on #4403
a. If you move to gpu and then afterwards train on gpu then everything is fine. You will get a error if you have moved your model to gpu and try to train on cpu.
b. The device of a `LightningModule` can be access through `module.device`

[2020-10-28 12:09] tadejsv opened #4409 "Remove check_val_every_n_epoch"
## 🚀 Feature

I think `check_val_every_n_epoch` trainer flag should be removed: `val_check_interval` already contains* all of its functionality.

\* The only thing needed would be to interpret `val_check_interval=2.0` as check every two epochs. This is just a straightforward extension of the current functionality

[2020-10-28 12:15] #3657 closed

[2020-10-28 12:28] awaelchli commented on #4390
yes, I'm pretty sure module_arguments should not be mentioned anywhere, that's old.

[2020-10-28 12:48] rohitgr7 commented on #4409
Nice!
Somewhat connected to https://github.com/PyTorchLightning/pytorch-lightning/issues/4406

maybe when we can have 1.1, 1.2, ... all possible int/float values.

[2020-10-28 12:57] rohitgr7 commented on #4228
@Shreeyak any update on this one? :)

[2020-10-28 13:05] sorenrasmussenai opened #4410 "Collapse videos in documentation"
## 🚀 Feature
Hide the documentation videos.

### Motivation
Videos take up a significant portion of screen space in the documentation, making each documentation page much longer than it needs to be.

The videos appear to be intended as a learning tool. I believe doc pages are much more often used for quick look-ups than for learning.
Inexperienced users will likely view them a few times. After tha

[2020-10-28 13:26] awaelchli commented on #2908
@bartmch You can pass in multiple callbacks to the Trainer, just make sure you have the filename set properly in the checkpoint callback so that the checkpoints don't collide.

[2020-10-28 14:45] marrrcin commented on #4304
@tchaton any update on this?

[2020-10-28 15:51] dscarmo opened #4411 "Using log_gpu_memory with MLFLow logger causes an exception."
## 🐛 Bug

Using log_gpu_memory with MLFLow logger causes an error. It appears the name of the metric is not supported by MLFLow.

    MlflowException: Invalid metric name: 'gpu_id: 0/memory.used (MB)'. Names may only contain alphanumerics, underscores (_), dashes (-), periods (.), spaces ( ), and slashes (/).

### To Reproduce
I reproduced the bug with the BoringModel, in the link bellow:
https://

[2020-10-28 16:06] dscarmo commented on #4411
This could be fixed removing the parenthesis from the string (as in the linked pr), but requires discussion if you guys want to change this for all loggers.

[2020-10-28 16:26] #4354 closed

[2020-10-28 16:33] awaelchli commented on #4411
would [MB] work?

[2020-10-28 16:34] awaelchli commented on #4411
or should MLFlowLogger sanitize keys automatically by removing the unsupported characters?

[2020-10-28 16:43] ClaartjeBarkhof opened #4414 "GPU setting not working, tensors not converted to CUDA: "RuntimeError: Expected object of device type cuda but got device type cpu for argument #3 'index' in call to _th_index_select""
## 🐛 Bug

I am trying to fit a model GPU. I set:

[code]

or

[code]

I am sure there are GPUs available (4 in total) and it says it uses them:

[code]

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing)

Can't reproduce in Colab, since it is a multi-GPU problem.

### To Reproduce

When I run my code with

[2020-10-28 16:50] dscarmo commented on #4411
Seems like MLFlow only wants: "[...] Names may only contain alphanumerics, underscores (_), dashes (-), periods (.), spaces ( ), and slashes (/)".

Maybe make the GPU memory key different only if MLFlow is being used? Sanitizing mlflow metrics with a warning might also be an option.

[2020-10-28 16:59] awaelchli commented on #4411
I see sanitization as better long term solution. We already do sanitization for other loggers (for hyperparameters).

[2020-10-28 17:19] ClaartjeBarkhof commented on #4414
Oh, and it only seems to happen in my validation loop..

[2020-10-28 17:20] dscarmo commented on #4411
I changed the PR to remove parenthesis in the mlflow logger, however i don't know if it makes sense to give a warning since the metric name is not defined by the user. Should the removing of parenthesis be silent?

[2020-10-28 17:43] rohitgr7 commented on #4411
Maybe do a PR on mlflow github too to support these or do sanitization process :joy:

[2020-10-28 18:02] briankosw commented on #2552
Hi, I would love to take this on. @SkafteNicki could you assign it to me?

[2020-10-28 18:15] SkafteNicki commented on #2552
@briankosw thanks you for wanting to contribute!

[2020-10-28 18:22] rohitgr7 commented on #4044
Then will it make sense to make it a warning rather than raising an error if `optimizer_states` or `lr_scheduler_states` are not found?
cc @PyTorchLightning/core-contributors

[2020-10-28 19:28] rsokl commented on #4390
oh... yes, the [checkpoint loading](https://pytorch-lightning.readthedocs.io/en/stable/weights_loading.html#checkpoint-loading) docs should be revised then.

I was just about to open a bug report because the [docs tell me](https://pytorch-lightning.readthedocs.io/en/stable/weights_loading.html#checkpoint-loading):

and it makes no mention of `save_hyperparameters()`, and tells me to look for `modu

[2020-10-28 19:37] #4113 closed

[2020-10-28 19:45] hudeven opened #4416 "Can't TorchScript LightningModule when using Metric"
## 🐛 Bug

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing)

able to reproduce it in https://colab.research.google.com/drive/1MscNHxIc_LIbZxALHbZOAkooNu0TzVly?usp=sharing

### To Reproduce

### Expected behavior

Able to torchscript a Lightning moduel no matter Metric is used or not

It seems hard to mak

[2020-10-28 19:46] borisdayma commented on #4113
The next release of pytorch-lightning should be clearer as wandb won't have a `global_step` any longer.
You can test it on the master branch.

[2020-10-28 20:03] chrismaliszewski commented on #4403
Great, thank you, @SkafteNicki! I think your comments answer the question.

[2020-10-28 20:03] #4403 closed

[2020-10-28 20:27] #3246 closed

[2020-10-28 20:27] #2443 closed

[2020-10-28 20:27] #2346 closed

[2020-10-28 20:27] #3315 closed

[2020-10-28 20:27] #3275 closed

[2020-10-28 20:27] #3337 closed

[2020-10-28 20:27] #3352 closed

[2020-10-28 20:37] ananthsub commented on #4416
@hudeven as a workaround can you override `to_torchscript` in your LightningModule?

[2020-10-28 21:03] awaelchli commented on #4389
@Xiaohan-Wang your error is not related to this issue here. what you report we fixed it in Lightning 1.0.4 (latest).

@robogast I know DDP a bit but unfortunately not much about SLURM.  "host not found: Name or service not known" sounds suspiciously like master address / port are not set. Can you confirm you have set them correctly?
my suspicion is that it sees the same node twice somehow.

[2020-10-28 21:22] uditarora commented on #855
I made a little progress earlier but not enough to send a PR, before sadly getting caught up with school-related deadlines. I'm not sure how much I'll be able to contribute for the next month, so please feel free to assign it to someone else in the meanwhile if they're interested :)

[2020-10-28 21:27] #3250 closed

[2020-10-28 21:27] #807 closed

[2020-10-28 21:27] #3410 closed

[2020-10-28 21:27] #3396 closed

[2020-10-28 21:27] #3389 closed

[2020-10-28 21:27] #3415 closed

[2020-10-28 21:27] #2503 closed

[2020-10-28 21:27] #3339 closed

[2020-10-28 21:27] #3436 closed

[2020-10-28 22:27] #3084 closed

[2020-10-28 22:27] #2912 closed

[2020-10-28 22:27] #2085 closed

[2020-10-28 22:27] #3087 closed

[2020-10-28 22:27] #3164 closed

[2020-10-28 22:27] #3108 closed

[2020-10-28 22:27] #3227 closed

[2020-10-28 22:27] #3146 closed

[2020-10-28 22:27] #1038 closed

[2020-10-29 00:29] s-rog commented on #4395
Does this behavior happen if you explicitly set `prog_bar=True`?

[2020-10-29 01:13] awaelchli commented on #4390
@rsokl I removed the old references to module_arguments here: #4417
Do these changes look good to you?

Yeah, it makes no mention, but we have a different docs section just for [hyperparameters](https://pytorch-lightning.readthedocs.io/en/stable/hyperparameters.html#lightningmodule-hyperparameters). The docs you are looking at is currently just about loading and saving checkpoint. Maybe we need to

[2020-10-29 01:23] ananthsub opened #4418 "Support teardown for Lightning DataModule"
## 🚀 Feature
`teardown` as a hook can be useful for data modules.

### Motivation

This could be used for:
- Clean up downloaded data after training finishes
- Closing any open connections a dataloader makes
- etc

### Pitch

This has natural connections to `prepare_data` and `setup` and could be implemented very similarly to how those are supported across the data module and lightning module.

By

[2020-10-29 01:27] s-rog commented on #4387
1. yes, but you might run into the issue in your 2nd question
2. yes, yes
3. yes
4. no, yes (think of it like another val loop)
5. yes

I'll close this for now, if you have more questions please use our forums! https://forums.pytorchlightning.ai/

[2020-10-29 01:27] #4387 closed

[2020-10-29 01:46] ananthsub commented on #4014
@awaelchli would any callback that's present in both the checkpoint and in the trainer's callbacks list would run into this issue? is this restricted to the checkpoint callback only?

[2020-10-29 01:56] awaelchli commented on #4014
Yes, restricted to this checkpoint only. #4027 is ok but we found that #4336 is a better way to go. We should consistently pass all callbacks to the list, this solves the problem of duplication and complexity/ambiguity when resuming training.

[2020-10-29 01:58] ananthsub commented on #4014
in what instance would we want to load the callback state from a checkpoint and use it? shouldn't we always defer to what's passed to the trainer?

[2020-10-29 02:06] awaelchli commented on #4014
A callback can implement `on_load_checkpoint` and `on_save_checkpoint` callback methods. When we resume training, we typically want to resume  using the state we had before, e.g., we want to continue tracking which was the best model, what the early stopping history is, etc. This is a valuable feature imo.

If this is not desired, we have to follow up on this. My current concern is to make the mod

[2020-10-29 02:10] ananthsub commented on #4014
💯

[2020-10-29 02:36] hudeven commented on #4416
yeah, it works by overriding to_torchscript() and deleting the metric attributes there

[2020-10-29 02:37] awaelchli commented on #4302
yes terminate on nan always leads to a slow down, also for GPU and CPU not just TPU. I don't see a way to speed it up, and it's not clear to me why it is a bug?
It should only be used for debugging.

[2020-10-29 03:28] ohmeow opened #4420 "NCCL error using DDP and PyTorch 1.7"
## 🐛 Bug

Getting this error when attempting to use ddp with the "getting started" autoencoder example:

Stack Trace:
[code]

### To Reproduce
Follow the code in the getting started question with these parameters to `Trainer`:
[code]

### Expected behavior

For it to train on multiple GPUs :)

### Environment

 - PyTorch Version 1.7:
 - OS (e.g., Linux): Ubuntu 18.04
 - How you installed PyTorch (

[2020-10-29 05:05] snisarg commented on #4416
A controversial suggestion but could we use another method name instead of forward? I understand using the class name directly is convenient.

Also curious about why the metrics class is an nn.Module? Is it to avoid the pains of syncing across distributed envs instead of using torch.distributed?

[2020-10-29 05:10] #2757 closed

[2020-10-29 05:10] #2508 closed

[2020-10-29 05:10] #2735 closed

[2020-10-29 05:10] #2791 closed

[2020-10-29 05:10] #2823 closed

[2020-10-29 05:10] #2812 closed

[2020-10-29 05:10] #2138 closed

[2020-10-29 05:10] #2059 closed

[2020-10-29 05:10] #2075 closed

[2020-10-29 05:27] NumesSanguis commented on #4316
For the people who need hparams.yaml to be complete (setting self.hparam values after creating an instance), here is a workaround:

[code]

This calls the save hparams to yaml function only on the first epoch (epoch==0), so you'll have the self.hparams at time of training start.

[2020-10-29 05:34] awaelchli commented on #4045
@dlrac We currently don't have a way to fully restore all trainer settings.
We restore global step, current epoch and the states of the checkpoint callbacks (and maybe a few other things).
It is very well possible that you may have different trainer settings compared to when you trained the checkpoint that you are loading now, and this can influence the optimization. If you used the argparse appro