[2022-10-18 22:15] carmocca commented on #15179
Can't we simply move them to `LightningLite.setup_dataloaders`?

[2022-10-18 22:17] awaelchli commented on #15179
I thought that we need to patch the class _before_ the user instantiates a dataloader? Otherwise why would we need such a complicated re-instantiation logic?

[2022-10-18 22:51] carmocca commented on #15179
Right. Then we might not want to undo the patching at all. It's the same design issue of "when should we teardown DDP" and such.

[2022-10-18 23:06] #14388 closed

[2022-10-18 23:10] carmocca commented on #14445
@AlonNT Did you ever continue exploring what could be the issue? Is it still a problem in current master?

If a bug was introduced on multi-GPU, that would be a high priority. However, if you cannot `git bisect` what introduced the regression, we would need some sort of reproducible script.

[2022-10-18 23:20] carmocca commented on #10918
Looks great so far @calebbuffa. Left minor comments

[2022-10-19 00:13] omerferhatt opened #15180 "`ModelCheckpoint` not working when giving unexpected arg to `Trainer`"
### Bug description

Model checkpoint not working when `val_check_interval` arg set while `validation_dataloader` given empty. But `val_check_interval` removed from args it works normally. They shouldn't block each other, since checkpoint callback works according to given metric name.

### How to reproduce the bug

[code]

### Error messages and logs

There's no error message.

### Environment

[c

[2022-10-19 00:46] davodogster opened #15181 "PTL to ONNX export() got an unexpected keyword argument 'example_outputs'"
### Bug description

Im using torch version 1.12 and received this error when trying to convert this SMP Timm DeepLab model:
![image](https://user-images.githubusercontent.com/46079516/196570945-3a793c59-e3ba-420d-bd03-57510f3a4cc3.png)

![image](https://user-images.githubusercontent.com/46079516/196570612-9c2c6d1a-b540-4794-a802-56db1691d0a4.png)

![image](https://user-images.githubusercontent.co

[2022-10-19 01:53] kugwzk commented on #13948
Hi~ When will release v1.8?

[2022-10-19 03:58] min-xu-ai opened #15183 "pytorch version dependency issue"
### Bug description

Please see issue here.

https://github.com/pypa/pip/issues/11524#issuecomment-1283381523

Is lightning depending on `1.9.*` somewhere as mentioned in the issue there?

### How to reproduce the bug

[code]

### Error messages and logs

see https://github.com/pypa/pip/issues/11524#issuecomment-1283381523

### Environment

see https://github.com/pypa/pip/issues/11524#issuecomment

[2022-10-19 04:07] awaelchli commented on #15183
Does this fix work for you @min-xu-ai? #15184
I'm not sure I understand fully what needs to be done, but let's try this.

[2022-10-19 04:42] cristi-zz commented on #15131
Thanks for looking into it! I doubt much can be done, except maybe a stronger lettered warning? I believe there are legitimate use cases when one would like to save a nn.Module. None cross my mind right now.

[2022-10-19 05:13] awaelchli commented on #15131
Yes agree. A simple use case could be a loss function, implemented as an nn.Module with no parameters.

[2022-10-19 07:04] hummat commented on #1598
Is this even a bug? Seems to me that you won't be able to reduce the learning rate based on a metric that hasn't been evaluated yet. Thus, the `patience` parameter of `ReduceLROnPlateau` must always be greater than the `check_val_every_n_epoch` parameter of `Trainer` if you want to use validation metrics or set `"strict": False` in the `lr_scheduler_config` returned by `configure_optimizers`.

[2022-10-19 08:04] otaj commented on #15179
I think we need to adapt it completely. I don't think we necessarily care about unpatching, we just need to be sure that on re-instantiation we are calling original `__init__` and not the patched one (which is taken care of automatically, since we are unpatching the method)

[2022-10-19 09:21] #14406 closed

[2022-10-19 09:22] KinWaiCheuk opened #15186 "predict_dataloaders[0].batch_size always returns None"
### Bug description

I need to get access to the `batch_size` in my `predict_step` to calculate the correct output index.
But the `self.trainer.predict_dataloaders[0].batch_size` always return `None` instead of the correct batch size.

I tried doing things to `self.trainer.test_dataloaders[0].batch_size` and everything works fine. So I highly suspect that it is a bug.

The example code below shoul

[2022-10-19 10:14] krishnakalyan3 commented on #15147
Reached out via slack DM :). Perhaps we can get you unblocked over a call.

[2022-10-19 10:26] #15131 closed

[2022-10-19 11:40] awaelchli commented on #15180
This issue stems from these lines here:

https://github.com/Lightning-AI/lightning/blob/2d3db64b7c00bb6b5f8dcca395a46cc7368df665/src/pytorch_lightning/callbacks/model_checkpoint.py#L267-L270

The argument ModelCheckpoint(save_on_train_epoch_end=True|False) determines whether it should save on the training epoch level OR save according to the validation intervals. If the users doesn't set it, the v

[2022-10-19 11:45] awaelchli commented on #15143
@carmocca I don't remember the exact criterions for when we allow to log in a hook or not. Perhaps there is a good reason, probably related to reduction as on_epoch/on_step is not meaningful post the epoch loops, but I'm not sure.

@lminer You should be able to work around this issue for now by calling the logger directly (this is always possible):

[code]

[2022-10-19 12:18] carmocca commented on #15143
That's correct @awaelchli. `on_train_end` is the last hook to run and all the internal machinery has been torn down at this point. `self.log`ging in it wouldn't work.

[2022-10-19 12:21] awaelchli opened #15190 "Provide CLI entry points for Lightning Lite launcher"
## 🚀 Feature

### Motivation

This is a follow up work after #14992 lands. Right now, the cli can only be launched this way:

[code]

Which is not the intended way, as it is cumbersome and not easy to remember, hence more work is needed.

### Pitch

We need two CLIs:

1. Integration into the main lightning cli (not to be confused with LightningCLI).

[code]
    (just for illustration, naming is up

[2022-10-19 13:09] awaelchli commented on #15143
Yes, makes sense. Then I suppose https://github.com/Lightning-AI/lightning/issues/15143#issuecomment-1283877770 is becoming more like our official recommendation for such cases.

Do you think it is meaningful to add a hint to our error messages that say "it is not allowed to self.log in x"?

[2022-10-19 13:36] carmocca commented on #15143
Sure

[2022-10-19 16:40] carmocca commented on #15183
Closing. Resolved in https://github.com/pypa/pip/issues/11524

[2022-10-19 16:40] #15183 closed

[2022-10-19 18:25] yurijmikhalevich commented on #15147
I tried and wasn't able to reproduce this. Danil says he didn't do anything special; he hit enter a few times, but this shouldn't have caused the issue anyway, [the code that handles the enter press](https://github.com/Lightning-AI/lightning/blob/a7f2d119c52ad450ef849e420eecd09f1ac677a9/src/lightning_app/cli/cmd_install.py#L92-L108) looks good 🤔

@OstaptsovDanil, can you please try and see if you

[2022-10-19 19:35] Atharva-Phatak commented on #15103
@awaelchli Thanks for clearing that I though ```LSFEnironment``` was not implemented :p

[2022-10-19 19:55] #14713 closed

[2022-10-19 21:42] #10150 closed

[2022-10-20 04:10] Atharva-Phatak commented on #15103
@awaelchli I am adding the as you mentioned. I also understand the I would have to ```@mock.patch.dict``` environment variables.
Could you verify these environ params and let me know if they are right ? I am not sure of couple of them. If you could help me out that would be amazing.

[code]

[2022-10-20 06:36] yue-gang commented on #11663
Add "import sentencepiece" to first line in __init__.py of pytorch_lightning package.

[2022-10-20 07:42] rohitgr7 commented on #15180
this might conflict with `reload_dataloaders_every_n_epochs` where user have an option to start validation after certain epochs..

how about we make a method `should_save_on_train_epoch_end `? and there we can check both `val_check_interval` and `num_val_batches` every time?

[2022-10-20 07:56] mnslarcher commented on #15142
Hi @awaelchli , I experimented some more, this time copying code that had been used in a successful job (SageMaker zippers the code when launching a job with the train) I also fixed the libraries that include pytorch-lightning and still the problem persists.

At this point my best guess is that something has changed in the Pytorch container I'm using (763104351884.dkr.ecr.eu-central-1.amazonaws.co

[2022-10-20 08:33] #15050 closed

[2022-10-20 09:40] otaj opened #15210 "Requirement files do not correspond to extra dependencies"
### Bug description

`pip install -r requirements/pytorch/devel.txt` != `PACKAGE_NAME=pytorch pip install -e ".[dev]"`

Also the same holds for app.

cc @justusschock @Borda @carmocca

### How to reproduce the bug

_No response_

### Error messages and logs

[code]

### Environment

_No response_

### More info

_No response_

[2022-10-20 10:08] krshrimali opened #15212 "Unable to pickle (dump) LightningModule object if RichProgressBar callback is added to Trainer"
### Bug description

Adding `RichProgressBar` callback to the `Trainer` initialization, and then attempting to save the `LightningModule` object gives a `TypeError`:

[code]

After some debugging with the help of @tchaton, here is where I could find the callback object:

[code]

(after disabling fast pickling)

If one tries to save the model before `trainer.fit` is called, `pickle.dumps(model)` wo

[2022-10-20 10:28] gikok commented on #10389
This issue appears to be back in the latest version of PyTorch Lightning (`1.7.7`), I was training the model on a rather small dataset so each epoch would take only ~1 min, but the trainer would take a ~1m40s pause between each epoch. Using torch `1.9.0+cu111`.

It went away after downgrading to version `1.5.1`

[2022-10-20 11:03] carmocca commented on #10389
Can you provide a reproducible snippet? Alternatively, you could try `git bisect`ing to find out which commit causes this

[2022-10-20 12:04] Borda opened #15214 "release workflow need to allow releasing all pkgs at once"
### Bug description

We have not tested releasing all packages at once seems that once a job is skipped it does not continue if others assume it as required/depends-on

### How to reproduce the bug

https://github.com/Lightning-AI/lightning/actions/runs/3289378989/jobs/5420836621

### Error messages and logs

[code]

### Environment

[code]

### More info

_No response_

[2022-10-20 13:56] Atharva-Phatak commented on #14859
What if we let the user define a ```output_transform_fn```, which will be applied to the tensor in the forward pass? Let the user handle it, maybe?

By default it could be ```output_transform_fn = lambda x : x```

Don't you think this will be more customizable ?

CC : @carmocca @awaelchli

[2022-10-20 14:00] justusschock commented on #14859
@Atharva-Phatak I wouldn't do that. Passing lambdas is bad with pickling and I am not a fan of passing functions for that in general. This is too much of the trainer approach we want to get rid of here.

So far the approach was that if you want to customize something, you subclass and overwrite it. So the option proposed by @awaelchli is not to do anything so that users could do it on their own af

[2022-10-20 14:01] otaj commented on #15083
Hi, @EvanZ, I am fairly confident this is a mismatch between torch and torchtext versions. We are importing `torchtext` to check if it is available in `1.7.*` releases and it crashes on import since there is that mismatch.

[2022-10-20 14:04] awaelchli opened #15217 "Mark APIs in app framework as experimental"
## 📚 Documentation

Decide which parts of the app framework are experimental and change rapidly. Mark them as experimental in the docs and or source code.

cc @borda @rohitgr7 @Borda @tchaton @carmocca

[2022-10-20 14:18] justusschock commented on #14859
That actually depends on which strategy you use. It could for example bee an issue with DDP spawn as lambdas  in general cannot be pickled

Regarding the final approach that is yet to be decided. I personally tend towards option B)

what do you think @awaelchli @carmocca ?

[2022-10-20 14:24] ijskar opened #15218 "Creating a multiprocessing pool while PyTorch Lightning is imported leads to an exception"
### Bug description

When both Python's multiprocessing package and PyTorch Lightning are imported, and a multiprocessing pool is made, the following exception is thrown:

[code]

### How to reproduce the bug

[code]

### Error messages and logs

[code]

### Environment

[code]

### More info

_No response_

[2022-10-20 14:34] awaelchli commented on #14859
I think the lambda is not needed, as in Lite the user is in full control of loop and forward pass. A user can add conversion of dtype anywhere they want already. I tend towards A) or B) as these are simpler approaches. For B) I'm thinking it could be confusing that

- in one of my projects, I have tensor with dtype float16 as input and output of  my model gets converted back to float16
- in my oth

[2022-10-20 14:38] justusschock commented on #14859
If we do B) we need to do it consistently. I.e. for every tensor in the input store the dtype and afterwards for everyone that was a floating point tensor in the beginning do the conversion towards the original dtype.

That's what we have `apply_to_collections` for.

[2022-10-20 15:27] elifdaldal commented on #14146
I am having the same error. I'm running Python 3.9.13.

[2022-10-20 16:36] carmocca commented on #14859
To me, C) is the simplest solution (do nothing!).

I don't think we have a good usecase to believe any of them is superior, but C) is the simplest to implement and A) and B) have the problem of fighting against the framework if the user doesn't want this conversion, we would need an opt-out or to allow this inefficiency

whereas with C), the user can always choose to do this conversion later.

If

[2022-10-20 16:53] KogayIrina opened #15223 "Hot reload for the `ServeGradio` component"
## 🚀 Feature

It would be great if Lightning apps supported the hot reload feature. For example, it could be beneficial when you are developing an interface with the `ServeGradio` component.

### Motivation

When I change my code, I need to shut down an app and restart it again. It's a repetitive activity, and I feel like I spend too much time on it.

### Submission

If I create an interface with

[2022-10-20 18:39] kaczmarj commented on #1663
i found the answer here https://github.com/Lightning-AI/lightning/discussions/4133#discussioncomment-238367

[2022-10-20 19:39] KogaiIrina opened #15227 "Can't edit profile, getting "email cannot be empty." but no field to enter the email"
### Bug description

Hi! I can't edit my profile, getting "email cannot be empty." but there is no field to enter the email
![image](https://user-images.githubusercontent.com/63745301/197041516-781b83b8-8925-4e29-a52b-a4db8bb9ae06.png)

### How to reproduce the bug

[code]

### Error messages and logs

[code]

### Environment

Cloud

### More info

_No response_

[2022-10-20 22:26] awaelchli commented on #15227
@yurijmikhalevich or @boodland would you be able to help with this one? I also noticed in the screenshot above, the error message popup wraps the text on the characters instead of the words (there in the word "Please").

[2022-10-21 02:32] awaelchli commented on #15103
Yes, looks ok. These are the env variables that need to be set such that `LSFEnvironment.detect()` returns True, which is useful for such a test.

[2022-10-21 02:35] Atharva-Phatak commented on #15103
@awaelchli Perfect, so its okay if I keep ```LSB_DJOB_RANKFILE``` as ""?

[2022-10-21 02:38] awaelchli commented on #15103
I encourage you to try to study the code, write the test according to your expectations, and run it to see what happens. In this instance, the best way to learn is to do it :)

[2022-10-21 07:22] tshu-w opened #15233 "WandbLogger shouldn't start wandb run in `__init__`"
### Bug description

According to the [document](https://pytorch-lightning.readthedocs.io/en/1.7.0/debug/debugging_basic.html#run-all-your-model-code-once-quickly), when using `fast_dev_run`, loggers should be disabled. However, the WandbLogger starts `run` in `__init__` and then is disabled, which causes an empty run in the dashboard.

https://github.com/Lightning-AI/lightning/blob/90e1a0ecf03ee6

[2022-10-21 09:38] boodland commented on #15227
@awaelchli seems to me that for some reason the user was created without an email and now when trying to update its details there is a validation in the BE that checks the email can't be empty, probably we have to remove that check in the BE, or investigate why the email is empty but I think this is the case for GH account login that doesn't share email details due to privacy settings @yurijmikhal

[2022-10-21 10:06] colemickens opened #15236 "Why is lightning pulling in a pypi dep that does not have source available?"
### Bug description

I'm trying to update `lightning` in nixpkgs, and now it's failing to build because it need `lightning-cloud`.

1. Why?
2. Where is the source for it?

### How to reproduce the bug

_No response_

### Error messages and logs

[code]

### Environment

[code]

### More info

_No response_

[2022-10-21 10:14] colemickens commented on #15236
Not only that, but however it's packaged manages to be incompatible with all of our default python package processors too.

[2022-10-21 10:16] colemickens commented on #15236
[code]

so, the pypi package comes with a setup.py that doesn't work... am I getting this right?

[2022-10-21 12:23] awaelchli commented on #15236
Hi @colemickens
Could you include more details in the section "How to reproduce the bug" and the environment details please?

Not sure why this is happening. @hhsecond Do you have some idea what could be happening here?

[2022-10-21 12:29] awaelchli commented on #15233
I don't think we can solved this properly, at least I don't have any ideas atm. The logic

[code]

is needed to work well with multiprocessing. We've gone back and forth on this already several times. I believe the value of having wandb work well with multiprocessing is higher than having an empty fast_dev_run experiment right now.

[2022-10-21 12:31] manangoel99 commented on #15233
I agree @awaelchli because putting this logic elsewhere may cause multiple runs to be spawned in multiprocessing which would be worse in my opinion

[2022-10-21 12:39] colemickens commented on #15236
It's okay, I solved it by pulling source from pypi, my mistake. I'll close
this when I'm back at my machine

On Fri, Oct 21, 2022, 2:23 PM Adrian Wälchli ***@***.***>
wrote:

[2022-10-21 13:05] #15236 closed

[2022-10-21 13:13] tshu-w commented on #15233
After reading #https://github.com/Lightning-AI/lightning/issues/11602, I fully understand the problem and it seems we have no better way unless adding a hook.

[2022-10-21 13:15] #15233 closed

[2022-10-21 14:57] yurijmikhalevich commented on #15227
@boodland, @awaelchli, I am on it.

[2022-10-21 14:58] TKassis opened #15240 "'method' object not subscriptable when loading a config file with 'strategy' argument supplied to Trainer"
### Bug description

I use Weights & Biases with PL all the time and it works great.

[code]
The above works without any problems when the 'strategy' argument is not supplied to Trainer:

[code]
But if I manually specificy the strategy (and it doesn't matter what it is) as follows:

[code]
I get an error saying:

Exception has occurred: TypeError
**_'method' object is not subscriptable
  File "/ho

[2022-10-21 16:50] #12790 closed

[2022-10-21 18:09] rohitgr7 commented on #15240
maybe you are missing a comma here:
[code]

[2022-10-21 18:10] rohitgr7 commented on #15180
@omerferhatt are you interested in sending a fix for it? :)

[2022-10-21 18:17] carmocca commented on #13572
CircleCI has been removed now. Can we close this?

[2022-10-21 18:17] rohitgr7 commented on #15175
how about doing it manually?
[code]

[2022-10-21 18:49] rohitgr7 commented on #15176
the support was added in https://github.com/Lightning-AI/lightning/pull/14208
and will be available in next v1.8 release in a few days :)

you would still be able to do it:
[code]

[2022-10-21 19:00] #15214 closed

[2022-10-21 19:07] #14928 closed

[2022-10-21 20:08] TKassis commented on #15240
Good find! But no that was just a typo here because I typed it in manually. My actual code has the comma :-)

[2022-10-21 20:19] rohitgr7 commented on #15240
can you share the complete stack trace?

[2022-10-21 23:12] lminer commented on #10389
I'm also having this issue with num_workers=0, ddp with 4 GPUs, lightning 1.7.7 and torch 1.12.0. Interestingly, it only happens if I try to cache my entire dataset during the `setup` method of the datamodule, which takes up about 150 gigs out of 250. If I load data in on the fly (which is unfortunately much slower) there is no pause between epochs. The problem is not present in 1.6.5, but is ther

[2022-10-21 23:13] #14146 closed

[2022-10-22 00:12] lminer commented on #10389
@carmocca I ran git bisect and this is what I get:
[code]

[2022-10-22 01:18] Queuecumber commented on #15175
I think it would probably work but:

[2022-10-22 07:11] KogaiIrina opened #15245 "Option to install only the `apps` part of the lightning framework"
## 🚀 Feature

Option to install only the `apps` part of the lightning framework. Something along the lines of `pip install lightning[apps].`

### Motivation

I have an unresolvable dependency conflict between the protobuf version required by tensorboard required by lightning and my other dependency.

### Pitch

It would be great to have the option to install only the `apps` part when I don't need

[2022-10-22 09:52] awaelchli commented on #15180
If this is self-contained within the Callback, I'm ok with it.

[2022-10-22 09:54] carmocca commented on #10389
Thank you. That is very helpful. cc @rohitgr7

Are you using `self.save_hyperparameters()`?

[2022-10-22 10:19] awaelchli commented on #15142
@mnslarcher I thought about it but I don't have any good guesses on what might be the problem. I ran a quick test with our debugging model but couldn't find anything unusual. I couldn't use your image though, because it requires credentials. Would you be able to share a reproducible code.

One reason validation runs slow(er) could be because of collective calls (all_gather, reduce, etc.) that happ

[2022-10-22 10:38] awaelchli commented on #15028
@athn-nik I cannot reproduce this. Here is a runnable example based on your configuration (but I removed all code that was either irrelevant or was incomplete for me to use).

[code]

As you can see from the logs I included, the validation epoch end hooks are called every 25 epochs as specified in the trainer:
[code]

Please note that in your render method, you have early returns based on some con

[2022-10-22 10:43] awaelchli commented on #15245
@KogayIrina Thanks for checking out Lightning Apps!

Afaik we are actually working on this.
You can already install only the apps part today, by installing the package `lightning-app` from [PyPi]( https://pypi.org/project/lightning-app/).

I believe the the lightning[apps], lightning[pytorch] etc syntax does not work yet but we will be supported it in the future as this was the plan all along. Ple

[2022-10-22 11:03] awaelchli commented on #15240
@TKassis The error message shows that this happens in `/home/timothy/Documents/CelestialAI/celestialai/train_foundation.py`. This is your code, right? Please take a look at line 201 in that file. The variable `config` seems to be a method, but the author of the code is accessing it as a dictionary.

[2022-10-22 11:17] KogayIrina commented on #15245
@awaelchli Hi. Thank you for the response.
`lightning-app` looks what I want, but I installed `lightning-app` instead of `lightning` in a fresh conda environment and got this error:

[code]

[2022-10-22 11:59] tchaton commented on #15245
Hey there,

Yes, you would need to use from lightning_app in your code instead of lightning.app.

Best
T.C

[2022-10-22 12:10] KogayIrina commented on #15245
Hi, @tchaton

As you can see, the error comes not from my code but from the `lightning` internals.

[2022-10-22 13:43] rohitgr7 commented on #15245
hey @KogayIrina this was fixed herE: https://github.com/Lightning-AI/lightning/pull/15124
must be in the recent release. Mind try that out?

[2022-10-22 13:48] rohitgr7 opened #15247 "`trainer.save_checkpoint` doesn't work after `trainer.test` with deepspeed strategy"
### Bug description

Reported here: https://github.com/Lightning-AI/lightning/pull/14944#discussion_r1002430650

Reason? Read the thread: https://github.com/Lightning-AI/lightning/pull/14944#discussion_r983891595

in short
[code]
does not work.

Either we need to update the strategy somehow or improve support this on deepspeed package.

### How to reproduce the bug

_No response_

### Error messag

[2022-10-22 14:58] lminer commented on #10389
Yes I am using save hyperparameters. Happy to help!

On Sat, Oct 22, 2022 at 2:54 AM Carlos Mocholí ***@***.***>
wrote:

[2022-10-22 17:06] KogaiIrina opened #15248 "Cannot init `wandb` if `.git/` was pushed to the cloud because `git rev-parse --show-toplevel` crashes in the cloud"
### Bug description

[code]
fails when running the app in the cloud with
[code]

This causes `wandb.init` to crash too.

The workaround is to add `.git/` to `.lightningignore`, but this may not always be an option.

### How to reproduce the bug

[code]

### Error messages and logs

[code]

### Environment

[code]

### More info

_No response_

[2022-10-22 17:21] KogayIrina commented on #15245
Hi, @rohitgr7 ^_^

I am using the latest `lightning-app` version [available on pypi](https://pypi.org/project/lightning-app/), 0.7.0.

[code]

Here is the `lightning-app` version of the code I am running: https://github.com/KogayIrina/masterpiece-creator/tree/test-lightning-app (I used a fresh conda environment for the test)

[2022-10-22 19:07] speediedan opened #15250 "`test_deepspeed_engine_is_steppable` fails if `mpi4py` is not installed"
### Bug description

``tests/tests_lite/plugins/precision/test_deepspeed.py::test_deepspeed_engine_is_steppable`` fails if ``mpi4py`` is not installed (deepspeed installs it only with the ``['1bit_mpi']`` extra by default).

I will be submitting a PR shortly that avoids the issue and simplifies the aforementioned test, only validating the proper structural sub-typing is in place:

[code]

### How

[2022-10-22 19:37] speediedan opened #15252 "`reduce_boolean_decision` behavior diverges from `EarlyStopping` callback's intended usage of it"
### Bug description

When ``EarlyStopping`` is used in a distributed context, early stopping conditions may be met in some processes before others.

Per the described intended behavior of ``EarlyStopping``:
https://github.com/Lightning-AI/lightning/blob/be1eb5e86d07fe22b53a59184089aac569875117/src/pytorch_lightning/callbacks/early_stopping.py#L204-L205
 , all training processes should be stopped w

[2022-10-22 20:44] vacmar01 opened #15254 ""MisconfigurationException: No supported gpu backend found!" with multi gpu training in jupyter notebooks"
### Bug description

When trying to train on two GPUs in a jupyter notebooks environment on jarvislabs.ai with `ddp_notebooks` I get the following error "MisconfigurationException: No supported gpu backend found!".

I'm trying to train on two RTX 5000 GPUs. On a Kaggle GPU the same code runs without any problem.

Any ideas?

### How to reproduce the bug

[code]

### Error messages and logs

"Misco

[2022-10-22 21:26] #15159 closed

[2022-10-23 04:58] tshu-w opened #15256 "append callbacks will override the value in default_configs_files"
### Bug description

As described in the title.

### How to reproduce the bug

[code]

[code]

[code]

As we can see, there is only one callback.

### Environment

[code]

### More info

After [jsonargparse](https://github.com/omni-us/jsonargparse) fix this https://github.com/omni-us/jsonargparse/issues/157, this issue still appear on pl side.  Will take a look when I have time.

cc @mauvilsa @car

[2022-10-23 14:40] awaelchli commented on #15252
Thanks for noticing and reporting this!

I am guilty of introducing this confusion, as I wrote both the `reduce_boolean_decision` implementation as well as the early stopping divergence logic in #6868.

But something that is difficult to do here is to decide which reduce operation is most meaningful for various use cases. The early stopping has the [following checks](https://github.com/Lightning-A

[2022-10-23 14:56] awaelchli commented on #15245
That is expected and we are aware of it. I believe the installation through `lightning[app]` would solve this problem so that one can have the imports in the standardized lightning way.

[2022-10-23 16:13] KogayIrina commented on #15245
Hi, @awaelchli
So, the `lightning-app` package is unusable right now, right?

To me, from the stack trace, it looks like the error comes from the `lightning_app` module code (it contains the `lightning` import), not my code. My code contains correct `lightning_app` imports.

[2022-10-23 17:44] schmidt-jake commented on #15176
Fantastic! Apologies I missed that.

[2022-10-23 17:44] #15176 closed

[2022-10-23 19:52] rohitgr7 commented on #15175
I think it's very domain specific plus just one linear so, I don't think this should be added to the trainer

[2022-10-23 19:58] Queuecumber commented on #15175
How about a plugin?

[2022-10-23 19:59] Queuecumber commented on #15175
Keep in mind you don't just call `to` on the model itself, you need to call it in all inputs too

[2022-10-23 20:00] rohitgr7 commented on #15254
cc: @awaelchli

[2022-10-23 20:03] speediedan commented on #15252
Lucid and comprehensive explanation of the context and decision factors (as always!) @awaelchli, thanks!

Here would be my (informed but admittedly subjective) interpretation of the modal preferred stopping semantics associated with the four checks:

1. non-finite metric check
    * Dominantly `any`
2. stopping threshold, targeting a desired metric value
    * Majority `any` but likely mixed prefe

[2022-10-23 20:07] rohitgr7 commented on #15245
looks like that PR wasn't included in patch release. This will work once v1.8 is released in few days :)

[2022-10-23 20:12] rohitgr7 commented on #15175
[code]

haven't checked more in defail, but based on your info, I guess this should work

[2022-10-23 20:17] rohitgr7 commented on #15181
this issue got fixed in v1.5.7: https://github.com/Lightning-AI/lightning/pull/11116

mind try that, or we always recommend using the latest release :)

[2022-10-23 20:48] awaelchli commented on #15254
@vacmar01 Was your PyTorch installed with GPU support? I suspect that it was not. Please check what

[code]
returns for you. If not, [please install it like so](https://pytorch.org/): `pip3 install torch --extra-index-url https://download.pytorch.org/whl/cu116`.

[2022-10-23 21:14] vacmar01 commented on #15254
It is installed with GPU support: `torch.cuda.is_available()` returns `True` and `torch.cuda.device_count()` returns `2`. But after I call these functions I can't start training anymore because of the "process forking" error.

[2022-10-23 21:25] #15250 closed

[2022-10-23 22:08] Queuecumber commented on #15175
Yeah you could also write

[code]
Right? That's not really the point though

This isn't some niche technology, huggingface used it to speed up stable diffusion inference by ~2.8x (https://huggingface.co/docs/diffusers/optimization/fp16) I assume that's a pie lightning wants a piece of

So does anyone besides you have opinions on this?

[2022-10-24 02:08] kangsan0420 commented on #12724
Same issue with 1.6.4...

[2022-10-24 05:50] mauvilsa commented on #15115
@gianmarcoaversanoenx the second example with `brainiac_2.mace.MaceCallback` is that your code or some project you contribute to? If so, you should add accurate type hints to the code. This way `LightningCLI` will instantiate as you want and do a better job validating and giving error messages. If you are unsure about how to add the types, please ask.

For the torchvision example, again the proper

[2022-10-24 08:29] gianmarcoaversanoenx commented on #15115
Hello
thanks a lot!

I still have a question: I do have type hints in place for everything, but why are they so necessary? I mean, with Hydra, one can simply write whatever and it works out of the box. Example:

[code]

and Hydra will simply try to import whatever is specified in the `_target_` field. The `torchvision` part never gave me any problem with Hydra. I'm struggling with LightningCli onl

[2022-10-24 09:03] KogayIrina commented on #15245
@rohitgr7 thank you for the update :)

[2022-10-24 10:12] mauvilsa commented on #15115
A purpose of the parser is that when given wrong input it fails as early as possible with a useful message. And the parser uses the type hints to know how to validate the input. Imagine that you add the wrong value in a config, str instead of int, this value is used after the first epoch ends, and an epoch takes hours. If the code does have a type hint then the CLI will fail after a couple of seco

[2022-10-24 11:50] yurijmikhalevich opened #15271 "Lightning Storage doesn't support filenames with spaces"
### Bug description

Lightning Storage doesn't support filenames with spaces; it crashes with an access error if the user tries to upload a file that contains a space. We need to either add the support or make sure that:
1. Lightning Storage docs mention this as a limitation.
2. Framework prints a meaningful error if the user tries to upload a file with spaces in it.

### How to reproduce the bug

[2022-10-24 13:56] awaelchli commented on #15271
I vote for error message. In the cloud, it is not so uncommon to encounter file names in links. It can be inconvenient to work with them if the spaces need to be encoded with %20.

[2022-10-24 13:58] happen2me opened #15275 "Problem running on GPU (at deserialization): 'GPT2Config' object has no attribute '_to_dict_new'"
### Bug description

When I use LightningModel to wrap my script and to make it run on GPU, it gives me the following error message:

While, if I don't set the accelerator to GPU or don't use the lit model, the error won't occur.

### How to reproduce the bug

[code]

### Error messages and logs

[code]

### Environment

* CUDA:
        - GPU:
                - NVIDIA RTX A5000
                - N

[2022-10-24 14:18] yurijmikhalevich commented on #15271
@awaelchli, hi! 👋

But should this be a decision enforced by Lightning Storage or something we leave for the Lightning App developers to decide?

In my eyes, Lightning Storage API is intended to be used alongside fs writes and reads primarily to store the app artifacts consistently between app restarts and recreations (and even share it between apps). Why would Lightning Storage API care about spa

[2022-10-24 14:33] awaelchli commented on #15271
That makes sense. The storage call could occur anytime in an app after running a long time so an error is not useful. Also because the developer of the app might not wand to handle this themselves for their users.

Feel free to also include such concrete proposals and considerations/learnings into the issue description directly next time.

[2022-10-24 14:35] PaulLerner opened #15276 "Make auto_scale_batch_size error message more informative"
## 📚 Documentation

### The issue

Hi,
From #3233, I understand that the current error message for `auto_scale_batch_size` misconfiguration message dates back from a time where `LightningDataModule` did not exist. The message is still the same today: ["Field {self._batch_arg_name} not found in both `model` and `model.hparams`"](https://github.com/Lightning-AI/lightning/blob/master/src/pytorch_ligh

[2022-10-24 14:48] PaulLerner commented on #15276
Update: looking at https://github.com/Lightning-AI/lightning/blob/56ca4aafee73403c82811b37d2b9f83e48e5d12e/src/pytorch_lightning/utilities/parsing.py#L306 it seems tricky to access the datamodule class name. Perhaps a more generic message like f"Field {self._batch_arg_name} not found in `model`, `datamodule`, nor their `hparams` attributes." is sufficient.

[2022-10-24 16:44] Abhishaike opened #15278 "2-3x slowdown if using PTL on cluster instead of local"
### Bug description

We have two ways of running our PTL workflows: on Vertex AI notebooks, and through cluster jobs submitted by Argo (via Hera Workflows) onto GKE.

The problem is that jobs submitted to Argo are 2-3x slower than jobs directly ran on notebooks. This problem does not exist with vanilla Pytorch, which has relative parity between local/cluster runs, _only_ PTL.

It is difficult to p

[2022-10-24 19:10] awaelchli commented on #15276
@PaulLerner Your proposal seems fine to me. Let's go for the simple solution first, which should already be an improvement and we can think of ways to make it even better.
Would you be interested to work on it?

[2022-10-24 19:45] awaelchli commented on #15248
Hi @KogayIrina

Thanks for reporting this. So the error occurs here in wandb's git utils, when determining the repo root:
https://github.com/wandb/wandb/blob/50258c1d316108fad85f89e81b349db7eead921b/wandb/sdk/lib/git.py#L62-L65

Pretty sure it is not because of wandb. This is a git error that seems to appear when the user calling the git command is not the same as the one owning the repository.

@

[2022-10-24 19:47] davidgilbertson opened #15283 "Progress Bar prints many lines when validation_step is defined"
### Bug description

With a simple model like this:
[code]

I get a console that looks like this. It runs the progress bar as it should up to about 86%, then spits out some validation stuff and from then on each update to the progress 'bar' is a new line:

![image](https://user-images.githubusercontent.com/4443482/197607137-3c40c656-829c-42f1-8150-589a15ca4eda.png)

If I don't have a `validation_s

[2022-10-24 20:24] nathancooperjones opened #15284 "`trainer.predict` on ` IterableDataset`s leads to a warning"
### Bug description

I am able to train and use my PyTorch Lightning module as expected, but =when using the `trainer.predict` method on a testing DataLoader of the same type as the training and validation ones, I am getting this warning raised:

[code]

Looking through the code, it looks like this is raised in the prediction epoch loop when the `batch_sampler` is not of type `IndexBatchSamplerWra

[2022-10-24 20:41] davidgilbertson commented on #15283
After a bit of digging I've found what I'm sure you already know: that this is a known issue with Progress Bars. So I wonder if there's a way to detect if you're in an environment that's going to result in a wall of console text (check `sys.stdout.isatty()`?) and alter the output accordingly?

I notice that the tqdm source has a check for `isatty()`, but it only runs if `disable=None`. When Lightn

[2022-10-24 20:45] Borda commented on #15217
@lantiga do you have a suggestion where and eventually what all classes all be marked so?

[2022-10-24 20:50] awaelchli commented on #15283
@davidgilbertson We have many PyCharm users here also developing Lightning, and have seen this issue from the very beginning of progress bar integration. PyCharm does not support the necessary features for tqdm to act correctly when nesting bars. More info in their FAQ here: https://github.com/tqdm/tqdm/#faq-and-known-issues. I don't know ways to work around it reliably.

If you would like to expe

[2022-10-24 20:53] awaelchli commented on #15283
FYI, we also have a second progress bar implementation using rich: https://pytorch-lightning.readthedocs.io/en/stable/common/progress_bar.html?highlight=rich#richprogressbar

[2022-10-24 21:32] awaelchli commented on #15252
I totally agree.

I like the idea of making it configurable. I think a per-check basis configuration would not be necessary, as the user can always use multiple early stopping callbacks to simulate this combination. However, I don't know how many users would take advantage of it, especially the voting. Do people even know what we are discussing here is even a thing 😄 I was primarily worried about

[2022-10-24 21:51] Borda opened #15287 "Run all tests on merge to master"
## 🚀 Feature

### Motivation

ATM, our CI, is running differentially, so only related tests are triggered for a PR based on the sphere of interest to limit the number of checks and reduce load to our CI.
On the other hand, as we have just a few merges to master, we can run a full test suite regardless of what part of the codebase was edited...

### Pitch

Increase reliability and eventually be abl

[2022-10-25 01:56] speediedan commented on #15252
I dunno, Soumith Chintala told me this was his number one priority in the PyTorch ecosystem and he was willing to halt all PyTorch work if we needed the PyTorch team's help implementing it :rofl: (i.e. good point, the voting especially probably would probably have limited usage)

Makes sense! I'm totally on board with making this change now and separating/deferring any configuration option discuss

[2022-10-25 02:00] awaelchli commented on #14611
@paineQing Have you made progress on this? I have one more idea what could be wrong.

NCCL requires some extra ports to be open in the firewall. It is explained [here](https://docs.nvidia.com/deeplearning/nccl/user-guide/docs/troubleshooting.html#ip-ports).

On both of your nodes, run this:

[code]
Add the line `net.ipv4.ip_local_port_range = 50000 51000` if it's not there yet.

[code]
You may nee

[2022-10-25 02:27] paineQing commented on #14611
Thanks for your idea! I will try it and update, but seems like the problem is not on NCCL, cause I rewrote my code and used DeepSpeed for multi-nodes , it communicates through NCCL and it works well on my machines.

[2022-10-25 05:36] tshu-w commented on #15275
The above code works fine in my environment.
[code]

[2022-10-25 06:52] krshrimali opened #15296 "Initializing `LightningClient` (app utilities) fails on Jupyter Notebook (event loop error)"
### Bug description

Error similar to: https://stackoverflow.com/questions/55409641/asyncio-run-cannot-be-called-from-a-running-event-loop-when-using-jupyter-no is raised when trying to initialize the `LightningClient` class.

[code]

Error: `RuntimeError: asyncio.run() cannot be called from a running event loop`

From my understanding, Jupyter runs an event loop of its own, and hence the error.

[2022-10-25 07:39] Borda commented on #15210
yes, that is confusing, but it may not be fully aligned as requirements within the package or extra does not allow referring to source compared to requirements in text could; see #15285
So for example, `pip install -r requirements/pytorch/docs.txt != PACKAGE_NAME=pytorch pip install -e ".[docs]"` as we are using our template which is not published in PyPI

[2022-10-25 07:45] otaj commented on #15210
But we should be absolutely able to do that. `extras_require` allow everything `requirements.txt` file allows as well, including the link to our template.

I think `docs` themselves could be exempted from that if we don't want to allow to download our template, although that link is public anyway in the repo so I don't really see an issue in that

[2022-10-25 08:27] julpegor opened #15298 "StochasticWeightAveraging throws error when using trainer.tune"
### Bug description

When using `pytorch_lightning.callbacks.StochasticWeightAveraging` as a callback for the `trainer`, in combination with `trainer.tune(model)` an error is thrown. Tested it with `auto_lr_find` and `auto_scale_batch_size`.

When no autotuning is applied the training (and `pytorch_lightning.callbacks.StochasticWeightAveraging`) works just fine.

### How to reproduce the bug

[cod

[2022-10-25 09:02] rohitgr7 commented on #15275
for some reason, this is giving me no dataset
[code]
is deleting whole dataset for me. can you check?

[2022-10-25 09:05] rohitgr7 commented on #12724
@kangsan0420 mind try the latest release?

[2022-10-25 09:07] rohitgr7 commented on #10389
@lminer this is not good. Can you share a reproducible script using [BoringModel](https://colab.research.google.com/github/Lightning-AI/lightning/blob/master/examples/pl_bug_report/bug_report_model.ipynb) to check this issue?

[2022-10-25 09:29] rohitgr7 commented on #15006
looks like this was raised in PyTorch issues: https://github.com/pytorch/pytorch/issues/82783
and a fix was already merged. Probably will be available in their next release.

[2022-10-25 09:29] #15006 closed

[2022-10-25 09:36] happen2me commented on #15275
Sorry, it indeed removes all columns. I forgot to assign the tokenized dataset to a variable. Now I corrected the code. Thanks :)

[2022-10-25 09:40] happen2me commented on #15275
Thanks for checking my code. Maybe it has something to do with my environment then :(

[2022-10-25 09:41] happen2me commented on #15275
Thanks for checking my code. Maybe it has something to do with my environment then :(

[2022-10-25 09:47] rohitgr7 commented on #15275
still not working on single device either. Can you check your example again ? :)

[2022-10-25 10:08] yurijmikhalevich commented on #15223
I would love this too. It would be great to have hot reload enabled by default for all UI components and optionally enable it for all other ones.

@awaelchli, do you know if this is something we consider adding anytime soon?

[2022-10-25 10:58] rohitgr7 commented on #15275
still not working..
this is what I ran:
[code]
can you run it on your system and fix the code to get the error you raised in the issue?

[2022-10-25 11:19] rohitgr7 commented on #15298
This must be fixed on master. Will be released soon

[2022-10-25 13:32] awaelchli commented on #15256
@tshu-w I am not 100% sure, I might be misunderstanding the docs (still learning these special features from LightningCLI myself:

I thought that the defaults in LightningCLI apply [only when no value is provided by the user](https://pytorch-lightning.readthedocs.io/en/latest/cli/lightning_cli_advanced_2.html#set-default-config-files). So in this case here, I think the interpretation at the moment

[2022-10-25 13:33] gokul427 commented on #10511
please tell the resolution to solve this issue.

[2022-10-25 13:34] awaelchli commented on #15256
@carmocca @mauvilsa Could you comment on whether the behavior is expected? Maybe the documentation needs more clarification on this?

[2022-10-25 13:49] happen2me commented on #15275
@rohitgr7 I'm sorry, I left out one line `dataset.set_format('torch')`. Now it should work.

Interestingly, I found that if I set `devices=1`, another error arises:
[code]

I'm researching why this happens.

[2022-10-25 14:36] rohitgr7 commented on #10511
ddp within notebooks is not supported @gokul427

all you need to do is
[code]
I'd suggest using the latest version.

[2022-10-25 15:38] carmocca commented on #15210
Did you mean?:

`pip install -e . -r requirements/pytorch/devel.txt` != `PACKAGE_NAME=pytorch pip install -e ".[dev]"`

Becuase in the proposition of the top post, the left statement is not signaled to install the current package, so it's natural that they wouldn't be equal.

Maybe I am missing the point of this proposal :thinking:

[2022-10-25 16:06] rohitgr7 commented on #13851
this is not an issue anymore :)

[2022-10-25 16:06] #13851 closed

[2022-10-25 16:15] awaelchli commented on #15223
@yurijmikhalevich @KogayIrina That would be nice yes, I just don't know how to realize it. Gradio has some notes [here](https://gradio.app/developing_faster_with_reload_mode/#python-ide-reload) about hot reloading.

1. They require the code to be run with the gradio command
2. They require that you name a variable in your code as "demo"

I'm mainly unsure what to do about 1. The way we implement g

[2022-10-25 16:34] #15287 closed

[2022-10-25 17:18] jzazo commented on #10389
I wouldn't know how to make this reproducible either, but I have pinned PL to 1.6.5 in my project because I observe the same behavior as @lminer on 1.7.* with very slow epochs. I also have very large memory usage, although I am using single gpu and I am not calling save_hyperparameters at all. Could there be other underlying factor?

[2022-10-25 17:58] awaelchli commented on #14652
Regarding PyTorch's support of 3.11, updates can be found here: https://github.com/pytorch/pytorch/issues/86566

[2022-10-25 18:46] rohitgr7 commented on #10389
okay... then there might be something wrong here. For starters, I'd suggest using a simple profiler (using `profiler='simple'` to test things out. Try turning of checkpointing completely (using `enable_checkpoint_callback=False`).

make sure to use `limit_train_batches/limit_val_batches` so that you don't have to wait for the whole dataset to complete. You can also just return from `training_step/

[2022-10-25 20:09] rbracco opened #15315 "Misleading outputs (loss) in callback when using `accumulate_grad_batches` > 1 in trainer"
## 📚 Documentation

Some of the callback entry points/hooks (e.g. `on_train_batch_end`) have an `outputs` argument that contains the loss returned from the `training_step` and `validation_step`. This value does not match the loss in the trainer when `accumulate_grad_batches` > 1. I spoke with @rohitgr7 about this on slack and he said that this is expected behavior and that the loss is normalized i

[2022-10-25 20:11] mauvilsa commented on #15115
@gianmarcoaversanoenx will you test and review the pull request?

[2022-10-25 20:43] mauvilsa commented on #15256
It is expected. There are already unit tests that check this behavior, see [test_typehints.py#L1196-L1234](https://github.com/omni-us/jsonargparse/blob/55e00ffedba287e9421495348acd4d35da1d23d8/jsonargparse_tests/test_typehints.py#L1196-L1234). Though, I am not sure if the problem is in jsonargparse or in `LightningCLI`.

[2022-10-25 20:44] ssusie commented on #14391
Have you tried
[code]
after this error. I am having similar error

[2022-10-25 20:58] mauvilsa commented on #15174
Adding more parameters to the `__init__` of `LightningCLI` increases duplication which goes against the "don't repeat yourself" (DRY) principle. In fact, I kind of regret adding the env and description parameters. Having the parameters in the `__init__` might have some benefits, but since `LightningCLI` joins together many components it is simpler to explain that parameters related to the parser g

[2022-10-25 21:03] mauvilsa commented on #15174
Regarding `parser.set_defaults(config='config.yaml')`, this is a misunderstanding of the difference between a config command line argument and default config files. I am not sure what happens when someone does that, but I have taken note of it to improve the documentation and give a clear error message when someone tries to do this.

[2022-10-25 21:52] EvanZ commented on #15083
Hey @otaj yes this was indeed our problem as far as I can tell. We upgraded torchtext and it works now.

[2022-10-25 23:48] awaelchli commented on #10471
I'm closing the issue now. Recent versions of Lightning work well with DDP, we haven't noticed similar reports from users. Since @bolandih mentioned NCCL had issues on their machine while GLOO was working, I would suggest anyone that finds this thread to look at the NCCL troubleshooting guide [here](https://docs.nvidia.com/deeplearning/nccl/user-guide/docs/troubleshooting.html).

[2022-10-25 23:48] #10471 closed

[2022-10-25 23:52] awaelchli commented on #12592
I'm no longer observing this issue on the latest version of Lightning and rich. I ran both the provided colab and also the case of @rvalieris.

Sorry for the late reply and thanks for reporting the issues!

[2022-10-25 23:52] #12592 closed

[2022-10-25 23:53] #12474 closed

[2022-10-26 00:06] awaelchli commented on #11043
@ItamarKanter @JackLin-Authme I just tried this and can see the rich progress bar working fine. Is it possible that I am using a newer version of either rich or comet that now fixed the problem? Do you still have documentation of what version(s) you were using?

I'm closing the issue now, but if you find any more issues related to this we can continue the investigation.

[2022-10-26 00:06] #11043 closed

[2022-10-26 00:09] carmocca commented on #12474
Maybe you closed this for a different reason, but just in case I wasn't clear

This is not implemented

[2022-10-26 00:41] davodogster commented on #15181
Thanks that seemed to work
![image](https://user-images.githubusercontent.com/46079516/197907815-23c0e395-ae2d-4ca9-8796-fb9da611c94f.png)

![image](https://user-images.githubusercontent.com/46079516/197907872-76be3f2c-cc1e-4136-9050-f87234de913c.png)

[2022-10-26 03:01] #13087 closed

[2022-10-26 07:46] otaj commented on #15210
Yes, that is more precise version of what I meant, you're right. My beef is with the fact that the list of requirements significantly differ, I took installing current package as a "prerequisite"

[2022-10-26 08:01] otaj commented on #15083
Perfect, @EvanZ, that is great to hear! I will close this issue now then.

[2022-10-26 08:12] sustr-equi commented on #9900
Hi @carmocca has a final decision on whether to remove it from requirements been made?

Unfortunately only removing `tensorboard` from imports seems not enough, particularly because the `protobuf` dependency is transitively installed from `tensorboard`. `protobuf` is famously problematic -- this is because many open source libraries outside of google that do not live in their internal monorepo hav

[2022-10-26 08:16] PaulLerner commented on #15276
Yes I can open a PR!
While I’m at it, maybe I should also update the docstring of Trainer. It states, for `auto_scale_batch_size`: "The result will be stored in self.batch_size in the LightningModule" but it is actually done with `lightning_setattr`. So the correct doc should state: "The result will be stored in self.batch_size in the LightningModule or LightningDataModule depending on your setup.

[2022-10-26 08:31] awaelchli commented on #15217
Example of such changes that happen quickly after the release: #15314
Marking the class there experimental would be good to justify the removals.

[2022-10-26 08:47] gianmarcoaversanoenx commented on #15115
@mauvilsa

I git-cloned the branch and tried to run my script and all good. See: https://github.com/omni-us/jsonargparse/pull/182

[2022-10-26 11:24] #11403 closed

[2022-10-26 12:41] yurijmikhalevich commented on #15223
@awaelchli, I wonder if, as an MVP of this feature, we can implement the following:
1. Add a watchman that will be looking at whether the gradio component files were changed.
2. Restart the gradio component subprocess.

This implementation isn't perfect because a reload will take some time, and the user will experience UI downtime. But it's better than not having an auto-reload at all. Step two sh

[2022-10-26 13:05] awaelchli commented on #15223
@yurijmikhalevich This is a nice suggestion.
Please note that what you refer to as "the gradio component subprocess" is literally the entire lightning work process that runs. Hot reloading this means we would be restarting the work. Just clarifying this in case this wasn't clear.

@tchaton What do you think of @yurijmikhalevich's proposal?

[2022-10-26 15:17] carmocca commented on #15172
Possibly, but we would need to add testing and some glue code to advertise proper support.

[2022-10-26 15:24] #13373 closed

[2022-10-26 15:25] #15212 closed

[2022-10-26 15:55] Abhishaike opened #15334 "Total time in Simpleprofiler does not add up to the function run-times"
### Bug description

![](https://files.slack.com/files-pri/TA59JGLSW-F0480HG0LT0/screen_shot_2022-10-26_at_11.49.35_am.png)

Used the SimpleProfiler while training a model with DDP, and found that the constituent times of the functions did not add up to the total. Is this a bug?

Alternatively, do these calls each represent one GPU's worth of profiling? Like, should I multiply each of the function

[2022-10-26 16:09] franchesoni commented on #2953
The last link provided is broken!

[2022-10-26 16:19] mauvilsa commented on #15174
This is part of what I proposed in pull request #14976. You are welcome to review it if you like.

I completely agree. Though it might be best to do this after #14976 is merged.

[2022-10-26 16:26] krishnakalyan3 opened #15339 "Ability to pre-warm compute instances in Lightning AI"
## 🚀 Feature

As an LAI user, I want to avoid the long startup times when I submit my application. It would be great if I could somehow keep an instance prewarmed during my working hours to deploy my applications quickly.

### Motivation
The prewarmed instance will result in developer productivity.

### Pitch
Have a check box to prewarm instances
- Number of Instances
- Type of Instance
- Duration

[2022-10-26 16:45] mouroutzoglou opened #15340 "Allow user to set lr_scheduler interval=step through LightningCLI"
## 🚀 Feature

I'd like to be able to set the lr_scheduler interval=step through cli or yaml config.

### Motivation

Having to set this parameter in the model configure_optimizers function beats the purpose of having modular config files.

cc @borda @carmocca @mauvilsa

[2022-10-26 18:04] rohitgr7 commented on #15212
regarding this, do you think it's worth de-attaching the trainer? since we only need to save the model.

[2022-10-26 19:24] #15275 closed

[2022-10-26 21:29] Abhishaike commented on #15334
This makes sense, but there nevertheless is a massive discrepancy between any given time and the total time

[2022-10-26 22:42] carmocca commented on #9900
I understand! That's definitely a valid "pro" for removing it. Unfortunately, the decision is not in my hands. Still pending

[2022-10-26 22:45] carmocca opened #15346 "Drop PyTorch 1.9 support"
## Proposed refactor

See title

### Motivation

PyTorch 1.13 is released today Oct 27 (at least that's the plan).
We already support it and test it.

### Pitch

To follow our previous support window of 4 versions, drop 1.9 with PL 1.8

______________________________________________________________________

#### If you enjoy Lightning, check out our other projects! ⚡

- [**Metrics**](https://githu

[2022-10-27 05:01] mauvilsa commented on #15174
For the time being some answers to your questions:

`default_config_files` are location pattern(s) that are searched for, and if found, are used to override the defaults from the source code. A common usage is typical linux config locations for an app, e.g. `['/etc/myapp.yaml', '~/.myapp.yaml']`. `default_config_files` can be defined for a parser that does not expose a command line option to manua

[2022-10-27 08:38] ZhengRachel opened #15354 "ImportError: cannot import name 'OrderedDict' from 'typing'"
### Bug description

On python 3.7 I got the following error

### How to reproduce the bug

[code]

### Error messages and logs

[code]

### Environment

[code]

### More info

How can I fix the error? Thanks!

cc @carmocca @akihironitta @borda

[2022-10-27 09:06] awaelchli commented on #15354
@Borda @akihironitta our CI runs Python 3.7 too, do you have any insight about this?

To fix the issue, I think we need to change the import to

[code]

or
[code]

[2022-10-27 10:16] #15218 closed

[2022-10-27 11:34] carmocca commented on #15354
@ZhengRachel What `typing_extensions` version do you have installed?

You can check with `pip freeze | grep typing_extensions`.

Our minimum required version is `4.0.0` https://github.com/Lightning-AI/lightning/blob/95ae393ca838b99d108bdc855da970b8bf7211ca/requirements/pytorch/base.txt#L12 which should support it: https://github.com/python/typing_extensions/blob/4.0.0/src_py3/typing_extensions.py#

[2022-10-27 11:41] carmocca commented on #15354
NVM my comment above. In your repro it says:
[code]

And Python `3.7.0` does not include it.

The reason it does not fail in our CI is because we install `"3.7"` which resolves to one of the later releases (`3.7.15`) and that version includes it. Turns out it was added in `3.7.2`: https://github.com/python/cpython/commit/6cb0486ce861903448bd6ba1095685b6cd48e3bd#diff-8a0f115fde6769c122b771b6d0eca18

[2022-10-27 12:06] ZhengRachel commented on #15354
@carmocca Thanks for your reply! Do you mean I need to update my python version to at least 3.7.2 to apply the latest PL? Or after your modification, I just need to update the PL and it will work fine?

[2022-10-27 13:10] KogayIrina opened #15363 "gradio WebSocket disconnects after 255 seconds"
### Bug description

I ran a lightning app in the cloud on Sunday, and it worked perfectly with my model taking about 700 seconds to generate an image, but yesterday I noticed that gradio WebSocket disconnected after 255 seconds. This is always reproducible

![image](https://user-images.githubusercontent.com/63745301/198286352-3f380bb8-781b-483f-b6aa-9a39d96931ad.png)

### How to reproduce the bug

[2022-10-27 13:39] #15354 closed

[2022-10-27 13:40] carmocca commented on #15354
This is fixed now. So you can do one of these 2 options:

- Keep your current PL version and upgrade to Python >=3.7.2
- Keep your current Python version and upgrade to PL >=1.8 (will be released shortly)

[2022-10-27 13:50] vacmar01 commented on #15254
I suppose it has something to do with the GPU or the CUDA version, since on Kaggle the exact same code ran with no problem.

I will install the development version of lightning and try again. Thank you!

[2022-10-27 15:11] otaj opened #15368 "Probably broken docker images"
### Bug description

We probably have broken CUDA docker images - it seems that our docker images contain PyTorch version compiled with CUDA support, however torchvision without CUDA support. This is happening due to the fact we install them in separate steps and we don't pass PyTorch wheel URL to installation step of `torchvision`.

It is not a high priority since torchvision is not used as often

[2022-10-27 16:47] vacmar01 commented on #15254
Okay so I installed the dev version of lightning and I get a new error (with precision=32 or precision=16, doesn't matter):

"RuntimeError: ProcessGroupNCCL is only supported with GPUs, no GPUs found!"

Whats funny is that now starting the trainer logs the following:

[code]

So it seems to recognize the GPU but it still doesn't work.

[2022-10-27 18:24] rohitgr7 opened #15372 "Create another job that runs slow GPU tests"
Now that we use our own GPU cluster for GPU ci, we can create another job that runs slow GPU tests in parallel.
More info: https://github.com/Lightning-AI/lightning/pull/15317#discussion_r1006729493

I was wondering if we could create another one for standalone as well.

[2022-10-27 21:29] rohitgr7 commented on #15368
failing ci here: https://github.com/Lightning-AI/lightning-bolts/pull/910
is due to this?

[2022-10-28 06:41] leoleoasd opened #15379 "URL passed to fs.listdir instead of a path"
### Bug description

https://github.com/Lightning-AI/lightning/blob/master/src/pytorch_lightning/trainer/connectors/checkpoint_connector.py#L582
This line is called `fs.listdir(dir_path)` where `dir_path` is an URL instead of a path.

pyarrow will complain about it:
[code]

### How to reproduce the bug

use a HDFS path in trainer's default_root_dir

### Error messages and logs

[code]

### Environ

[2022-10-28 08:58] carmocca commented on #15372
My proposal would be that we run "slow" tests as a new step of `azure-pipelines/gpu-tests-pytorch.yml` and move "Standalone" tests step into a new workflow file.

[2022-10-28 09:05] rohitgr7 commented on #15372
yeah, that'd be fine too.

[2022-10-28 11:31] awaelchli opened #15386 "Windows CI job hangs for app tests"
## Bug

The windows job `app-pytest (windows-2022, lightning, 3.9, latest)` passes but hangs at exit.
Example record: https://github.com/Lightning-AI/lightning/actions/runs/3339574899/jobs/5528694636

- not flaky
- on all current PRs
- all tests pass
- only this job hangs

Possible causes:
- A server that keeps running and doesn't let pytest terminate
- A non-daemon thread that keeps running and d

[2022-10-28 11:35] carmocca commented on #15386
cc @tchaton to provide more details as he spent a long time debugging already

[2022-10-28 11:36] awaelchli commented on #15386
I was looking at past PRs that modified code in proximity of "threads". Could investigate whether this PR had any influence (storage orchestrator): https://github.com/Lightning-AI/lightning/pull/15235

[2022-10-28 11:55] akihironitta commented on #15368
For the note, the current failure in https://github.com/Lightning-AI/lightning-bolts/pull/910 shouldn't be caused by this as far as I see the logs and should be fixed by https://github.com/Lightning-AI/lightning-bolts/issues/922 and https://github.com/Lightning-AI/lightning-bolts/pull/912.

[2022-10-28 12:02] awaelchli opened #15388 "Prefix Lightning App environment variables"
## Proposed refactor

Prefix environment variables to indicate they are set by Lightning.

### Motivation

- For debugging purposes: I can easily grep for the prefix
- Avoids accidental clashes (which could be incredibly difficult to debug).

### Pitch

Rename all environment variables by prefixing "LAI_"

______________________________________________________________________

#### If you enjoy Li

[2022-10-28 12:44] nihir27 opened #15390 "PL_INTER_BATCH_PARALLELISM=1 does not work"
### Bug description

Setting `PL_INTER_BATCH_PARALLELISM=1` does not hide latency of Host-to-Device copy.

Profiling using Nsight Systems does not show below

        batch 0: [HtoD][forward][backward]
        batch 1:       [HtoD]             [forward][backward]
        batch 2:             [HtoD]                          [forward][backward]

Trace

![image](https://user-images.githubusercontent.

[2022-10-28 12:48] awaelchli commented on #15386
I just say this PR: #15385
Now my investigation is flawed as I believed my fix worked. In reality, the original job configuration that hanged didn't even run anymore!

Bad timing :(

[2022-10-28 12:48] #15386 closed

[2022-10-28 12:58] #15276 closed

[2022-10-28 14:00] wouterzwerink opened #15394 "NeptuneDeprecationWarning for neptune.init in NeptuneLogger"
### Bug description

The PyTorch lightning class `pytorch_lightning.loggers.NeptuneLogger` is a wrapper for the neptune-client logger. In this class, `neptune.init` is used. This function is deprecated and support for it will end in neptune-client==1.0.0. `neptune.init_run` should be used instead. This would remove the deprecation warning allows the NeptuneLogger to keep working with future neptun

[2022-10-28 14:26] Borda commented on #15372
On the other hand, moving to GPU jobs would limit their testing on various OS, which I think could be a drawback :/

[2022-10-28 14:30] dtmoodie opened #15395 "Training process freezes on step 2 when training with manual optimization."
### Bug description

I'm using manual optimization to work with two datasets for multi-task learning.  Due to memory usage limitations, I want to do a forward and backward pass with a batch from one dataset, then a forward and backward pass with the other dataset.

When just enabling manual optimization on one dataset, my training process freezes on step 2.

### How to reproduce the bug

[code]

#

[2022-10-28 14:45] akihironitta opened #15396 "Avoid container name conflict with other runners in our cluster CI"
### Bug description
Same as https://github.com/Lightning-AI/lightning-bolts/issues/922.

- [x] Lightning: #15397
- [x] Flash: no occurrence.
- [x] Bolts: https://github.com/Lightning-AI/lightning-bolts/pull/923
- [x] Metrics: https://github.com/Lightning-AI/metrics/pull/1255
- [x] Tutorials: https://github.com/Lightning-AI/tutorials/pull/207

### Error message

[code]

cc @carmocca @akihironitta @

[2022-10-28 14:48] TKassis commented on #15240
config is actually a dictionary, but for some reason when I used the 'strategy' argument suddenly it becomes interpreted as a method. I couldn't fix the issue, I think it might be WandB related. I ended up just not using the returned dictionary from WandB. It might be something related with using WandB with multiple GPUs (although no issue with the default 'ddp' strategy unless explicitly mentione

[2022-10-28 14:48] #15240 closed

[2022-10-28 14:57] awaelchli commented on #15394
@wouterzwerink It looks like we missed this. Thanks for bringing it up. Would you be interested in contributing this change, by opening PR with the changed API call? 😃

[2022-10-28 14:58] Line290 commented on #15168
Hi @wangleiofficial, I met the problem same with you. Do you fix it?

[2022-10-28 15:41] mauvilsa commented on #15115
This issue can be closed. There is no need to change anything in pytorch-lightning. Whoever needs this can just update to the latest version of jsonargparse.

[2022-10-28 16:10] awaelchli commented on #15363
We could try to use .queue() when launching the Gradio interface. The [docs](https://gradio.app/docs/#launch-header) for .launch() say (the one we currently use):

[2022-10-28 18:15] akihironitta commented on #15396
Closing this as I've looked through azure configurations in all our projects.

[2022-10-28 18:15] #15396 closed

[2022-10-28 18:24] rohitgr7 commented on #15372
wait! the proposal is to pull out slow GPU tests that runs separately

[2022-10-28 18:28] lminer commented on #10389
@rohitgr7  I think I've found the issue. Previously, I was passing the datasets into the `LightningDataModule`, running `save_hyperparameters` and then accessing them via `self.hparams["train_dataset"]`, `self.hparams.["validation_dataset"]`, etc. It seems as if the entire cached dataset was being cached in this case.

The fix is to explicitly make these modules instance variables and then run `se

[2022-10-28 18:29] akihironitta commented on #15372
so, this proposal is irrelevant to the test cases marked as `RunIf(slow=True)`?

[2022-10-28 18:36] raymondconfidence commented on #4612
Worked for me.
Thanks for sharing

[2022-10-28 18:39] rohitgr7 commented on #15372
sort of.. more like capture
[code]
slow and gpu tests
and run them separately

[2022-10-28 18:41] rohitgr7 commented on #10389
great!
datasets are not hparams so you should be careful with what you are saving in them.

@jzazo is it a similar issue in your case as well? can you check your datamodule hparams?

[2022-10-28 18:58] jzazo commented on #10389
I am not using datamodules, I am passing dataloaders directly to the trainer. I am also not using save_hyperparameters functionality. But I will check whatever I am attaching to the module in case there is any serialization happening. I will profile the training as well. I think I will have some time next week to verify this and I will report back.

[2022-10-29 07:48] divinit7 commented on #15388
I'd like to take this up. I would really appreciate some clarification on the same, I'm looking through all the export commands in the code, how do I know which specific ones to update?

[2022-10-29 07:50] mauvilsa commented on #15174
@carmocca @Borda @awaelchli how about if we deprecate `description`, `env_prefix` and `env_parse` from `LightningCLI.__init__` such that all parameters related to the parser should be given through `parser_kwargs`?

[2022-10-29 08:23] wangleiofficial commented on #15168
@Line290 Not yet，i guess the part parameters(Pretrained model) are not handled correctly.

[2022-10-29 10:26] leoleoasd commented on #15379
changing to this fixes it:
[code]

I think using `url_to_fs` and passing paths instead of URL to FS operations is the standard behavior, isn't it? Lightning's `get_filesystem` is just a wrapper around `url_to_fs` but it discards the returned path. Maybe we need to change all usage of `get_filesystem`, to make sure a path is passed to FS instead of an URL?

[2022-10-29 11:48] KogayIrina commented on #15363
Hi, @awaelchli !
Thanks a lot for your suggestion. It finally works, and I am very happy ^_^
Thank you for your time; I appreciate it!

[2022-10-29 11:48] #15363 closed

[2022-10-29 21:54] gokceneraslan opened #15408 "trainer.predict() fails if DataLoader has a numpy array attribute"
### Bug description

I am using a custom DataLoader (https://github.com/scverse/scvi-tools/blob/main/scvi/dataloaders/_ann_dataloader.py#L89) with PL and I'm trying to run the `predict()` method of PL trainer. However it throws an exception and the reason is the mishandling of an array attribute in the DataLoader. See the reproducible code below. Ideally the predict() method should be robust enoug

[2022-10-29 23:45] #14903 closed

[2022-10-30 00:32] awaelchli commented on #15379
@leoleoasd Thanks for reporting this.
I don't fully understand what the difference is between the uri and dir_path. I feel like `fs.exists(dir_path)` should work as expected like it does for S3 and other filesystems.

[2022-10-30 03:07] MarcSkovMadsen commented on #14793
I should get this fixed. Just working on another higher priority now

[2022-10-30 03:08] MarcSkovMadsen commented on #14786
I should work on this. Just working on another thing right now

[2022-10-30 06:30] gokceneraslan commented on #15408
Thanks!

[2022-10-30 07:11] #14779 closed

[2022-10-30 13:44] leoleoasd commented on #15379
Yes, `fs.exists(path)` works, but I don't think it is the standard usage. (Maybe it won't work in some else implementations)
https://filesystem-spec.readthedocs.io/en/latest/usage.html#use-a-file-system
All examples in `fsspec` document call `fs.xxxx` with a path instead of a URI.

[2022-10-30 13:46] leoleoasd commented on #15379
I think, to follow the examples, we should update all usages of `fs.xxx`

[2022-10-30 16:08] carmocca commented on #15372
We dont have enough slow tests to warrant separating slow-CPU and slow-GPU.

So in my mind, we would have the normal gpu tests run and all slow tests afterward

I dont think testing on different platforms is important for these. Maybe it becomes important in the future if they grow

[2022-10-30 21:11] davidgilbertson opened #15416 "Functions that plot should take an `ax` argument"
## 🚀 Feature

Currently, functions like `trainer.tuner.lr_find().plot()` will generate a new Matplotlib figure and axes. I believe best practice is for such functions to accept an `ax` so that the user may pass in their own ax.

### Motivation
1. Consistency with other packages. E.g. [Pandas plot](https://pandas.pydata.org/docs/reference/api/pandas.Series.plot.html), [Statsmodels plot functions](h

[2022-10-30 22:43] davodogster commented on #15181
@rohitgr7 Hi Rohit, the Hitman, Gupta and @awaelchli Do you know how I can successfully load and use the model? It was trained in segmentation_models.pytorch with lightning (v 1.5.4)
This code fails:
![image](https://user-images.githubusercontent.com/46079516/198905189-b35e5f90-7883-4d2a-ab65-59c32e65e9c5.png)

Thanks, Sam

[2022-10-30 22:52] awaelchli commented on #15416
@rohitgr7 What do you think, should we add this? @davidgilbertson are you interested in contributing this?

[2022-10-30 23:24] akihironitta opened #15417 "Testing custom work dependencies example fails due to timeout in CI"
### Bug description

One of our app example tests fails due to timeout.

- CI file: https://github.com/Lightning-AI/lightning/blob/c39c8eb2e4f49e35ef38a2ae6de2765ec71623db/.azure/app-cloud-e2e.yml#L66
- CI run: https://dev.azure.com/Lightning-AI/lightning/_build/results?buildId=111050&view=logs&j=4e1b52d3-134d-51bf-b10a-6dde7facebae&t=60ace6bb-5e20-5573-9db7-5550ec53d684&l=1463

### How to reprodu

[2022-10-30 23:58] #15315 closed

[2022-10-31 00:22] awaelchli opened #15418 "TorchElastic standalone test silently fails"
## Bug

The test case

https://github.com/Lightning-AI/lightning/blob/a008801e25a6e93214b410b68ca1edf2e3ddae14/tests/tests_pytorch/run_standalone_tasks.sh#L27-L32

silently fails in our CI.

### Output

[code]

[Observed on latest commit on master](https://dev.azure.com/Lightning-AI/lightning/_build/results?buildId=111062&view=logs&j=3f274fac-2e11-54ca-487e-194c91f3ae9f&t=8da0b6c4-35de-5c68-3c64-0

[2022-10-31 01:32] akihironitta commented on #15417
Marked this issue as `priority: 0` as it blocks all ongoing PRs that trigger this test. Could someone please have a look?

[2022-10-31 12:55] mouroutzoglou opened #15427 "Provide the ability to instantiate the model using the config file generated with LightningCLI"
## 🚀 Feature

Provide to the user some new interface, or modify the existing LightningCLI so that a model can be instantiated for testing/deployment/demos/notebooks/etc using a config.yaml (e.g., the same one generated during training).

Perhaps LightningCLI can have an extra command (besides fit, etc) that only returns the instantiated model, and perhaps the dataloaders.

### Motivation

Currentl

[2022-10-31 14:25] manskx opened #15428 "Mock imports while loading LightningApp"
## 🚀 Feature

As part of this: https://github.com/Lightning-AI/lightning/pull/15019

If some imports are not found, they can be mocked and load the app() to set the CloudCompute before launching the app

Inspiration: https://github.com/Lightning-AI/lightning-app/issues/372

Note: We should also change the temporary fix we did on the backend and allow users to only update the frontend servers throu

[2022-10-31 15:09] #15408 closed

[2022-10-31 15:10] #15394 closed

[2022-10-31 15:44] awaelchli commented on #15408
@gokceneraslan Thanks for reporting this. The fix for this will be released in the Lightning 1.8 package very shortly.

[2022-10-31 16:11] Aroksak commented on #14374
Faced this today with latest conda (22.9.0). Resolved only with specifying pytorch-lightning==1.7.7.
For some reasons when installing pl 1.7.7 conda also downgraded openssl from 3.0.5 all the way down to 1.1.1, could it be connected?
Minimal steps to reproduce (or not?):

[2022-10-31 16:22] awaelchli commented on #10389
@lminer You are correct, this is the right way to handle this when using `save_hyperparameters()`.

@jzazo My recommendation is to check whether checkpointing is taking a long time (this happens between epochs). You could check by simply setting `enable_checkpointing=False `in the Trainer. Please fell free to report back in a new issue with your findings. Or ping us on slack if you need more guida

[2022-10-31 16:22] #10389 closed

[2022-10-31 18:03] akihironitta commented on #15417
Closing this issue as per #15431. https://dev.azure.com/Lightning-AI/lightning/_build/results?buildId=111417&view=logs&j=4e1b52d3-134d-51bf-b10a-6dde7facebae

[2022-10-31 18:18] akihironitta commented on #15417
Reopening this issue as commented #15429. May be fixed by #15429.

[2022-10-31 20:16] rohitgr7 commented on #15181
you might have to provide a sample input for these models.
Check this: https://github.com/qubvel/segmentation_models.pytorch/issues/272#issuecomment-718460540

[2022-10-31 20:32] davodogster commented on #15181
Hi @rohitgr7 thanks for the reply! I figured it out recently and was able to load the model and use it for inference like this:

![image](https://user-images.githubusercontent.com/46079516/199104146-d5873cdd-2928-4f17-8125-8722104a4496.png)

I was surprised that it worked but the predictions seem legitimate

[2022-10-31 20:35] rohitgr7 commented on #15181
cool! feel free to close this issue if you are good on your side :)

[2022-10-31 20:35] #15181 closed

[2022-10-31 20:44] zcczhang opened #15439 "possibilities for Asynchronous (RL online rollout) evaluation during training"
## 🚀 Feature

I am wondering if it is possible to include the asynchronous evaluation during the training process

### Motivation

For RL projects (or imitation training + online rollout evaluation), evaluation is really a bottleneck during the training process even the environments are vectorized, especially if we want to evaluate lots of long-horizon episodes. Now the training only can continue

[2022-10-31 20:57] davidgilbertson commented on #15416
I've got a full schedule at the moment, sorry.

Actually after I logged this I remembered that I've monkey-patched `pyplot.subplots` so that even if a package doesn't accept an axes object, it will use the one I want anyway. So for me there's no need, but I still think it's a good practice in general.

[2022-10-31 23:37] magehrig commented on #5243
I also need this feature. Is there a known workaround?

[2022-11-01 09:20] willi-menapace commented on #12812
It seems that in pytorch_lightning.core.optimizer the strategy is passed _optimizer with the correctly loaded learning rate, so training *should* not be affected by the resume if all changes to the learning rate happen through the scheduler and not manually, but it would be nice to have a fix for this.

#169  pytorch_lightning.core.optimizer
step_output = self._strategy.optimizer_step(self._optimi

[2022-11-01 12:29] awaelchli opened #15446 "CI runs with meta package and patching on wrong modules"
### Bug description

The app tests that run in the CI run with substituted package names. This means the generated meta package is causing all mocks

[code]

to be replaced by

[code]

and then tests fail because the patches don't apply to the real modules that are being imported.

### How to reproduce the bug

Observed in:
https://github.com/Lightning-AI/lightning/actions/runs/3369017638/jobs/558

[2022-11-01 13:19] akihironitta commented on #14652
Looking at the linked PyTorch's GH issue, I think we can start working on this. The instability issue they mention only applies to their conda CI.

[2022-11-01 14:08] manskx opened #15448 "Handle app checkpoints versions compatibility"
## 🚀 Feature

Checkpoint version & compatibility

### Motivation

In this [PR](https://github.com/Lightning-AI/lightning/pull/15073) checkpoints were added to the lightning app, but there a limitation if the checkpoint is not compatible with the app. Would be great to add a checkpoint version or app version to allow migration for checkpoints if it's not compatible with the loaded app.

### Pitch

[2022-11-01 14:54] sherwincn opened #15451 "I get an error about 'No module named 'pytorch_lightning.utilities.argparse_utils''"
### Bug description

When I load a '.ckpt' model in pytorch model, I get an error 'No module named 'pytorch_lightning.utilities.argparse_utils'. Could you tell me how to load the ckpt model in pytorch or address this issue?

### How to reproduce the bug

[code]

### Error messages and logs

[code]

### Environment

_No response_

### More info

_No response_

cc @awaelchli @ananthsub @ningintheclo

[2022-11-01 15:27] awaelchli commented on #15451
@sherwincn Could you please fill out the section under "Environment", with the Lightning version being the most important one for us to be able to help.

[2022-11-01 15:40] awaelchli commented on #15451
I couldn't find any PyTorch Lightning code in this repository. Could you please provide more information?

There was an issue with checkpoints being saved prior to Lightning 1.4, and when loading checkpionts in Lightning we apply a patch in future versions:

https://github.com/Lightning-AI/lightning/blob/f8675ff8bef5d862d1b8d2a7e39a4d880084f87c/src/pytorch_lightning/utilities/migration.py#L26

If

[2022-11-01 16:09] manskx opened #15452 "Add e2e test for running the app on the cloud without installing dependencies locally"
## 🚀 Feature

Add e2e test for running the app on the cloud without installing dependencies locally

### Motivation

### Pitch

### Alternatives

### Additional context

______________________________________________________________________

#### If you enjoy Lightning, check out our other projects! ⚡

- [**Metrics**](https://github.com/Lightning-AI/metrics): Machine learning metrics for distribut

[2022-11-01 16:11] #13902 closed

[2022-11-01 17:02] akihironitta commented on #15372
I'm fine with dropping other operating systems for the reason @carmocca mentioned.

For note, here're the 10(-ish) test cases marked as `slow=True`:
[code]

[2022-11-01 17:07] rohitgr7 commented on #15372
if we do that, then they run sequentially and won't help with the ci time improvement.

[2022-11-01 17:28] mauvilsa commented on #15427
Instead of using config.yaml (which is only intended for reproducibility) it might be better to extend `save_hyperparameters` and `load_from_checkpoint` so that they are compatible with `LightningCLI`. I think it wouldn't be complex. To avoid the `save_hyperparameters` logic to import from `pytorch_lightning.cli`, it could have a custom hyper-parameter provider (maybe context var?) so that the CLI

[2022-11-01 17:58] akihironitta commented on #15417
Changed the label to P1 as this no longer blocks master.

[2022-11-01 18:57] mirko-m opened #15455 "Permission Error when creating a trainer"
### Bug description

**pytorch_lightning version**: 1.8.0
**Platform**: WSL
**python version**: 3.8.10

I get a `PermissionError: [Errno 13] Permission denied: 'command'` error when creating a Trainer object by doing
[code]

This bug was most likely introduced by recent changes to the `SLURMEnvironment`, specifically the call to subprocess here https://github.com/Lightning-AI/lightning/blob/master

[2022-11-01 19:37] #15446 closed

[2022-11-01 19:39] awaelchli commented on #15455
@mirko-m Thanks for reporting. This is sad :(
Would `shutil.which("srun")` work for you on that system?

[2022-11-01 19:54] samsja commented on #4332
same problem here

[2022-11-01 20:46] alealv commented on #13533
Hi I finally found the problem. I'm hitting this error https://github.com/pytorch/pytorch/issues/61470

I'm closing this issue

[2022-11-01 20:46] #13533 closed

[2022-11-02 03:42] vhewes opened #15462 "OneCycleLR scheduler state not restored from checkpoint file"
### Bug description

i recently adapted a network architecture to a `LightningModule`, and find that when resuming a training in progress from a checkpoint file, the state of the `OneCycleLR` scheduler is not properly restored. i've tested with version 1.8.0 and confirmed that the issue persists.

the example pasted below will run a full end-to-end training of a toy model and dataset, then train t

[2022-11-02 07:30] akihironitta commented on #13572
Looking at the change in #15460, we will not be using readthedocs.org anymore.

@Borda Could you close this issue if it's no longer relevant?

[2022-11-02 07:53] Borda commented on #13572
we will, but readhedocs does not allow build multiple packages from single repo AFAIK
sp, we still keep rtfd.org and building our own

[2022-11-02 08:11] akihironitta commented on #15417
Closing this as it's already been fixed by #15431. Thank you @manskx for your help :)

[2022-11-02 08:11] #15417 closed

[2022-11-02 08:46] dyollb opened #15467 "`MyNet.load_from_checkpoint` should return an instance of type `MyNet`"
## Proposed refactor

`MyNet.load_from_checkpoint` currently returns an instance of type `LightningModule`.
It would be nice if it would return an instance of type `MyNet`.

### Motivation

This seems to make sense from an API point of view, and helps IDE's and static type checkers with code accessing properties/methods of type `MyNet`.

### Pitch
[code]

mypy should not complain about code like t

[2022-11-02 08:54] amitbcp opened #15468 ""Edit on GitHub" links in tutorials from the Docs are not working"
### Bug description

Any of the tutorial notebooks are not available from the Documentation :
https://pytorch-lightning.readthedocs.io/en/stable/notebooks/course_UvA-DL/01-introduction-to-pytorch.html

If you refer to the "Edit on Github" : https://github.com/PyTorchLightning/pytorch-lightning/blob/dbb5ca8d436a917fc9c2bdd6e9c00e4fd6187735/docs/source-pytorch/notebooks/course_UvA-DL/01-introduction

[2022-11-02 09:19] awaelchli commented on #15467
@dyollb This can be achieved with typing.TypeVar. Here is a quick sketch:

[code]

Would you be interested to investigate and contribute this?

[2022-11-02 12:07] rohitgr7 commented on #15462
okay.. I know the issue
just to unblock you, can you use
[code]

[2022-11-02 13:06] carmocca commented on #15372
@rohitgr7 As Aki showed, we don't have that many slow tests. If we do https://github.com/Lightning-AI/lightning/issues/15372#issuecomment-1294726224 then the addition of slow tests is negligible compared to the time saved by moving standalone tests into a separate job

[2022-11-02 13:13] dyollb commented on #15467
I had a quick try but didn't figure out how to do it, because load_from_checkpoint is defined in the mixin class ModelIO.

[2022-11-02 14:12] awaelchli commented on #15467
Let's see if someone else from the community wants to give this a try. If nobody takes it, I will take a look too <3

[2022-11-02 14:39] awaelchli opened #15474 "Installation from source creates changes in the local directory"
## Bug

When installing lightning from source, there remain unstaged changes that show up in git.

### Reproduce

1. Clone repo
2. PACKAGE_NAME=lightning_app pip install -e .
3. git status shows file changes for MANIFEST.in, requirements/base.txt, setup.py

### Expected behavior

No changed files.

Environment details:

[code]

cc @carmocca @akihironitta @borda

[2022-11-02 14:39] manskx opened #15475 "Provide a simple allows to get var values from the app state"
## 🚀 Feature

Provide a simple API to get var values from the app state

### Motivation

As the lightning app framework supports checkpointing: https://github.com/Lightning-AI/lightning/pull/15073 reading the previous state can be useful in doing any required state migration or manually updating the state.

https://github.com/Lightning-AI/lightning/pull/15073#discussion_r1009496417

### Pitch

e.g

[2022-11-02 15:31] carmocca commented on #15427
@mauvilsa Wouldn't that hyper-parameter provider load the hyper-parameters from a YAML file anyways?

[2022-11-02 15:39] mauvilsa commented on #15427
It wouldn't be loaded from a yaml file. This would happen on instantiation of the `LightningModule` class. The CLI would take it from `self.config.model` and that is what `save_hyperparameters` would get as a dict. At this point no config has been saved to disk. This will also mean that `hparams.yaml` would have the model's config.

[2022-11-02 15:46] mirko-m commented on #15455
Thanks for the quick reply. I tried `shutil.which("srun")` in an ipython console and it works. In my case it returns `None`, but presumably if `srun` were installed it would return a string.

[2022-11-02 16:40] fmartinmonier commented on #12623
Hi @rohitgr7 ! Do you have any updates on this feature request ? Has this been included in one of the latest releases ?

[2022-11-02 17:00] rohitgr7 commented on #12623
not yet! need more approvals on this before working on it.

[2022-11-02 19:00] awaelchli commented on #15455
Was this running in SLURM? You were running on SLURM, it should not return None.

[2022-11-02 19:11] rohitgr7 commented on #15439
one solution I suggested on slack is to create checkpoints and run another script that monitors these checkpoints and run validation separately.

[2022-11-02 19:21] rohitgr7 commented on #14716
yes, it still installs the updated list

[2022-11-02 20:57] carmocca commented on #13609
Closing as this is a duplicate of #6872 and we don't have access to amd hardware at the moment

[2022-11-02 20:57] #13609 closed

[2022-11-02 20:59] carmocca commented on #9315
Done via the ecosystem-ci project

[2022-11-02 20:59] #9315 closed

[2022-11-02 21:00] carmocca commented on #9397
Closing as this is no longer necessary

[2022-11-02 21:00] #9397 closed

[2022-11-02 21:10] #12957 closed

[2022-11-02 22:40] mirko-m commented on #15455
This was not running on SLURM. I do not have SLURM set up on my laptop.

[2022-11-02 22:48] awaelchli commented on #15455
Oh, terribly sorry. I thought you are a SLURM user but I just realized this code path triggers even on non-slurm. This makes sense. I know how to fix this. Thanks!

[2022-11-02 23:27] kevinkwshin commented on #15455
I'd same problem pl.version==1.8.0. After downgrading pl.version==1.7.7, it works properly.

[2022-11-02 23:28] awaelchli commented on #15455
@kevinkwshin does https://github.com/Lightning-AI/lightning/pull/15485 fix this for you? :)

[2022-11-02 23:31] awaelchli commented on #15474
@Borda for visibility. I'm not sure whether it is expected.

[2022-11-02 23:32] awaelchli commented on #15451
@sherwincn if you could take a look at my previous answer, which should unblock you. Please let me know if it helps.

[2022-11-02 23:36] kevinkwshin commented on #15455
@awaelchli I'm not familiar with the SLURM platform, so I don't know if this would be an appropriate answer.
This is was happened after I updated pl(v1.8.0), so I looked for an issue about permission error and the first thing I did was downgrading to the existing version (v1.7.7), and the problem did not appear anymore.

[2022-11-03 00:22] carmocca commented on #15467
This can be done by just using the `Self` type from https://peps.python.org/pep-0673/

[2022-11-03 00:25] carmocca commented on #15395
A rank is hanging. Can you create a reproducible snippet by adapting this script?
https://github.com/Lightning-AI/lightning/blob/master/examples/pl_bug_report/bug_report_model.py

Also, how many devices are you using? I see your machine has 2 different GPU types. Does it happen if you only use the RTXs?

[2022-11-03 00:37] carmocca opened #15489 "Distribute Lite's code with PyTorch Lightning"
## Proposed refactor

Remove this line https://github.com/Lightning-AI/lightning/blob/5025c3ec162b7a1af978bfb19424fd1bb2683012/requirements/pytorch/base.txt#L6

and distribute the Lite source code together with PL when it's installed

### Motivation

When you do
[code]
to create an editable installation of PL. Lite gets installed from PyPI:
[code]

This means that local changes to Lite are not ref

[2022-11-03 00:46] carmocca opened #15490 "Installing Lite also installs PyTorch Lightning"
## Proposed refactor

See title

### Motivation

[code]

### Pitch

PL should not be included.

______________________________________________________________________

#### If you enjoy Lightning, check out our other projects! ⚡

- [**Metrics**](https://github.com/Lightning-AI/metrics): Machine learning metrics for distributed, scalable PyTorch applications.

- [**Lite**](https://pytorch-lightning

[2022-11-03 00:48] Pedrexus opened #15491 "ImportError: cannot import name '_module_available' from 'pytorch_lightning.utilities'"
### Bug description

I just updated PL today and have been getting ImportError when trying to import PL Bolts classes. I noticed the `_module_available` function has been removed from PL 1.8 `pytorch_lightning.utilities`, so I'm not sure the best way to propose a fix. Is there a work around?

[code]

Thank you very much for the excellent work on this library!

### How to reproduce the bug

[code]

[2022-11-03 02:14] #15455 closed

[2022-11-03 04:30] hangfei opened #15494 "Get AttributeError: type object 'object' has no attribute 'SUM'"
### Bug description

Getting this error:

    self, tensor: Tensor, group: Optional[Any] = None, reduce_op: Optional[Union[ReduceOp, str]] = ReduceOp.SUM
E   AttributeError: type object 'object' has no attribute 'SUM'

### How to reproduce the bug

[code]

### Error messages and logs

[code]

### Environment

[code]

### More info

_No response_

cc @tchaton @rohitgr7

[2022-11-03 04:35] sherwincn commented on #15451
My code is based on pytorch but the params file (.ckpt) is based on lightning. I wannna load the params in pytorch frame. What should I do?

[2022-11-03 05:21] aniketmaurya opened #15495 "`BuildConfig` not working"
### Bug description

I want to install `flask` from `BuildConfig` rather than having a requirements.txt file that will install `flask` in all the components. But it doesn't work!

### How to reproduce the bug

[code]

### Error messages and logs

[code]

### Environment

[code]

### More info

_No response_

cc @tchaton @rohitgr7

[2022-11-03 07:58] dyollb opened #15497 "support `pathlib.Path` paths in lightning API"
## Proposed refactor

It would be nice if the api would support `pathlib.Path` paths.

methods like
- load_from_checkpoint
- save_checkpoint

and variables like
- default_root_dir (in `Trainer`)

### Motivation

- `pathlib.Path` paths are concise, e.g. `root_dir / "model.pt"`
- this could be done via e.g. a Union[str, Path] or similar.

### Pitch

### Additional context

__________________________

[2022-11-03 08:08] agoel00 commented on #15494
I am getting the same error on M1 Mac while importing pytorch_lightning

[2022-11-03 08:10] kaushikb11 commented on #15495
Workaround fix for it

[code]

[2022-11-03 08:26] rohitgr7 commented on #15495
well, yes and no
if you are using an existing name, still won't work

[2022-11-03 09:44] awaelchli commented on #15451
See my answer above.

...

[2022-11-03 10:06] manskx opened #15499 "CloudBuildConfig doesn't work when app is relaunched with the same name"
### Bug description

While using a different build config for work with the same app name, it doesn't install the new requirements or run the new commands, but rather uses the old build config for some reason.

[code]

### How to reproduce the bug

[code]

### Error messages and logs

Actual behavior

the specified packages are not installed on the relaunch, breaking the app development.

Expected

[2022-11-03 10:08] manskx commented on #15499
Currently, the workaround is to launch the app with a different name.

[code]

[2022-11-03 10:45] AlexSheldrick opened #15501 "FusedAdam & PyTorch Lightning AMP"
### Bug description

I've tried the new Adam(fused=True) implementation and noticed a massive performance decrease in my project while using AMP. Just changing the flag from True to False reduces my loss by over 200% (in a mipnerf variant implemented in PyTorch-lightning). I wouldn't expect the fused kernel to perform drastically worse so it could be a bug in the implementation // interaction with

[2022-11-03 12:45] #15495 closed

[2022-11-03 12:57] awaelchli commented on #15491
I could be wrong but this seems to be a pl_bolts compatibility issue. Bolts is working on adding support for 1.8 [here](https://github.com/Lightning-AI/lightning-bolts/pull/910).
This should be fixed in the next release of bolts.

@rohitgr7 @otaj for confirmation :) <3

[2022-11-03 12:59] #15491 closed

[2022-11-03 13:00] rohitgr7 commented on #15491
bolts new version is released... This won't come up now :)

[2022-11-03 13:00] awaelchli commented on #15491
The imports have been updated: https://github.com/Lightning-AI/lightning-bolts/blob/master/pl_bolts/utils/__init__.py

🎉

[2022-11-03 13:26] carmocca opened #15505 "Support partial installation of the lightning package"
## 🚀 Feature

`PACKAGE_NAME=lightning pip install .` (also `pip install .`) installs ALL dependencies. This can be very heavy in terms of dependencies.

`PACKAGE_NAME=pytorch pip install .` installs `pytorch_lightning`. But then you cannot use the new import style of `lightning.pytorch`

I propose that the latter does install both `pytorch_lightning` and `lightning`. But only with PyTorch's depend

[2022-11-03 13:36] manskx commented on #15499
cc: @danbider

[2022-11-03 14:08] namanpundir commented on #10894
Hey!
Is there any solution for this?
AttributeError: 'EarlyStopping' object has no attribute 'on_init_end'
I am trying to implement early stopping.

[2022-11-03 16:21] moghadas76 opened #15509 "rank_zero_only removal violate backward compatibillity"
cc @borda @justusschock

[2022-11-03 17:59] ZhaofengWu commented on #14973
And of course, if we don't want this behavior to be the default, we can introduce a flag like `symlink_last_ckpt`.

[2022-11-03 19:21] hangfei commented on #15494
For local testing, i was able to work around it by `pip uninstall pytorch_lightning`.

[2022-11-03 19:42] adamjstewart commented on #15494
Same error for me on M1:

- Lightning Component: all
- PyTorch Lightning Version: 1.8.0
- Lightning App Version: N/A
- PyTorch Version: 1.12.1
- Python version: 3.9.13
- OS: macOS 12.6.1 (arm64)
- CUDA/cuDNN version: N/A
- GPU models and configuration: N/A
- How you installed Lightning: spack
- Running environment of LightningApp: N/A

[2022-11-03 19:45] akihironitta commented on #13572
Could we consider moving forward with this? Enabling docs build in each PR could've prevented PL docs build failure which is currently being fixed by #15511.

[2022-11-03 20:27] WrRan opened #15514 "OOM when implementing training_epoch_end"
### Bug description

See the toy example:
[code]

Run it, and we can get an OOM error.

### How to reproduce the bug

[code]

### Error messages and logs

[code]

### Environment

PyTorch Lightning Version : 1.7.7

### More info

How to fix it:
~~the bug comes from the method `advance` of `training_epoch_loop`.~~ **WRONG**

~~see https://github.com/Lightning-AI/lightning/blob/1.7.7/src/pytorch_lig

[2022-11-03 22:11] ahmadikalkhorani commented on #5604
In my case, the training stops after epoch 0 (right before the end of validation end). Setting `drop_last ` in Dataloader solves the problem!

[2022-11-03 23:29] awaelchli commented on #10894
@namanpundir Can you share more from that error message please? Please note that `on_init_start` and `on_init_end` have been deprecated and then eventually removed. So there is no way to "fix" it. If you needed that hook, an alternative is the `setup()` hook. Another option is to downgrade to Lightning version <= 1.7.x. Hope this helps.

[2022-11-03 23:39] Paulda07 opened #15517 "PL_bolt LogisticRegression import not working in collab"
### Bug description

When I try to import the Logistic Regression model from pl_bolt.models I get this error.

My code (in collab):

!pip install pytorch-lightning-bolts
from pl_bolts.models.regression import LogisticRegression

The error:

ImportError                               Traceback (most recent call last)
[<ipython-input-2-3069361b0b44>](https://localhost:8080/#) in <module>
----> 1 from

[2022-11-04 00:37] Felonious-Spellfire opened #15519 "Doc site access for Lightning AI site delivers a 404"
### Bug description

Accessing the Lightning AI doc site from the main menu delivers a 404.

![lightning-ai_doc_404](https://user-images.githubusercontent.com/16614915/199860375-45e0c706-689a-464c-b634-db29a0db2a01.png)

If you refresh your browser it takes you to the site, but the URL changes for the site.

![lightning-ai_doc_404_after_refresh](https://user-images.githubusercontent.com/16614915/1

[2022-11-04 04:53] ananthsub commented on #10530
@carmocca I cannot edit this issue. Would you please remove myself, @ninginthecloud, @edward-io, and @jjenniferdai from being tagged? thanks!

[2022-11-04 04:55] namanpundir commented on #10894
ahh i figured. Anyways I am using huggingface trainer for earlystopping now. Its working. :) Thanks

[2022-11-04 04:55] agoel00 commented on #15494
Downgrading to 1.7.7 solved it for me as well. I think the issue is due to the ColossalAI Integration added in 1.8

[2022-11-04 09:21] justusschock commented on #10530
@ananthsub done

[2022-11-04 09:26] justusschock commented on #14358
Blocked by https://github.com/pytorch/pytorch/issues/88415

[2022-11-04 11:39] carmocca commented on #15514
This is expected. When you override `training_epoch_end`, we store all batch outputs for the hook.

We don't want to detach because the user might want the grads.

If you don't want to do this, but want an epoch end hook, use `on_train_epoch_end` which does not have this behaviour

[2022-11-04 11:40] carmocca commented on #15509
Can you provide more details of what broke exactly and in which version? We might have made a mistake. In that case we can add it back in a bug-fix release.

[2022-11-04 11:53] #15015 closed

[2022-11-04 12:05] carmocca opened #15528 "Forks cannot build docs"
### Bug report

#15486 added the need for secrets in our docs workflow.
All PRs from forks that need to build the docs are blocked.
This is because GitHub actions do not share secrets with forks.

### Motivation

Contributors are blocked

### Pitch

Choose one of:

a) Avoid the need for secrets by making the template public (no longer need _target)
b) Port docs build setup to Azure
c) yolo it and

[2022-11-04 12:22] Borda commented on #15528
This is now as this effectively ban all contributions to app's codebase :otter:

[2022-11-04 13:33] rohitgr7 commented on #15519
this seems to be fixed now :)

[2022-11-04 13:33] #15519 closed

[2022-11-04 15:39] #15528 closed

[2022-11-04 15:45] rohitgr7 commented on #15517
hey @Paulda07, mind trying out the recent bolts release?

[2022-11-04 15:50] awaelchli commented on #15494
This linked PR should fix this issue. Thanks for reporting! This bug affects all users with a torch installation where `torch.distributed.is_available()` returns False.

[2022-11-04 16:06] carmocca commented on #15489
To alleviate this, @Borda suggests failing when we install Lite if PL is already installed

[2022-11-04 16:22] otaj commented on #15517
Hi, @Paulda07, your bolts version is 0.3.2, which is quite old at this point. If you update to a recent version, you should be good to go for your midterm :zap:

[2022-11-04 16:50] naisofly opened #15537 "Cost Estimate per App in the Lightning App Gallery"
## 🚀 Feature

Could we have a cost estimate per app in the [Lightning App Gallery](https://lightning.ai/apps)? This could be based on the default compute option the app currently uses to a user understands how much of their credit is consumed (Est Credits / Day) once they hit the clone & run button.

### Motivation

Currently, before using Clone & run from an app page, users only have a vague idea

[2022-11-04 18:23] adamjstewart commented on #15494
This isn't the first time PyTorch Lightning broke support for PyTorch build without distributed support: https://github.com/Lightning-AI/lightning/issues/10348

I wonder if it would be possible to test PyTorch without distributed support in CI...

[2022-11-04 18:54] mirko-m commented on #15455
Thanks for fixing this.

[2022-11-04 19:11] awaelchli commented on #15494
I have already investigated in that direction. One could change it in the CI like you said. For now, I pretend distributed is not available. What I have added so far is [this](https://github.com/Lightning-AI/lightning/pull/15535/commits/a544aff3f9504b640a982729d4740b6acf5056f6) regression test.

[2022-11-04 19:34] #15494 closed

[2022-11-04 19:58] alecmerdler opened #15539 "`Drive.delete()` Doesn't Work in the Cloud"
### Bug description

It appears that `Drive.delete()` does not actually delete the file from the Drive when running in the cloud. The app I am building stores user submitted audio/video files, and we need to [delete these files](https://github.com/Lightning-AI/LAI-Echo-App/blob/main/echo/components/fileserver.py#L164) when the user deletes some other objects from the database.

I've provided a min

[2022-11-04 20:21] #15379 closed

[2022-11-04 20:54] awaelchli commented on #15514
@carmocca I think it is generally right that the user "could" do something with it. However, it won't be the gradients themselves. The training step has already done the optimization and back-propagating again through all graphs in `training_epoch_end` is not going to work. I don't think it is not the worst idea to detach(). Are there any use cases that I missed?

[2022-11-04 21:00] #15467 closed

[2022-11-04 21:38] awaelchli commented on #15489
@carmocca Thanks for doing the fix in https://github.com/Lightning-AI/lightning/pull/15493, I think it helped! Could we do the same for the GPU CI? For example, #15301 is still seeing the problem, just in GPU CI.

[2022-11-04 21:40] carmocca commented on #15489
That's weird! I will have a look. Thanks for reporting

[2022-11-04 21:55] awaelchli commented on #15497
@dyollb Thanks for noticing this! We actually do support it 🎉 . `load_from_checkpoint` just needs a tiny update in the type annotation. See my changes in https://github.com/Lightning-AI/lightning/pull/15540 .
`Trainer.save_checkpoint` also supports it today.

Would you be interested in looking into `Trainer.default_root_dir`? Everything should be working there too, just needs a type update in the

[2022-11-04 22:05] awaelchli commented on #15165
@Polarisjame So sorry for the late reply. This issue somehow fell through the cracks.

So you are logging a single value with the name "acc", and this shows up in the last progress bar at the very end, as acc=0.525 in your screenshot. This is the expected behavior as far as I know.

[2022-11-04 22:15] nicolai86 opened #15542 "Expose extras from mono-repo packages on lightning"
## 🚀 Feature

today, we have extras ie, `lightning_app[cloud]`, which can't be installed when `lightning` is installed directly.

### Motivation

Exposing the extras on lightning would make the installations more straight forward.

### Pitch

Expose sub-package extras on lightning, so ie `pip install lightning[cloud]` works.

### Alternatives

### Additional context

______________________________

[2022-11-04 22:25] geoffrey-g-delhomme opened #15543 "Weights & Biases `log_model` error"
### Bug description

While enabling `log_model` from https://github.com/Lightning-AI/lightning/blob/777a12aa698e1bf99dfe4e6b485013b59d65ca0f/src/pytorch_lightning/loggers/wandb.py#L301
When a checkpoint is saved, it triggers an error afterwards due to internal serialization made by wandb when creating the artifcat here:
https://github.com/Lightning-AI/lightning/blob/777a12aa698e1bf99dfe4e6b485013b

[2022-11-04 22:32] awaelchli commented on #15134
Hi @guitar9
Did @lantiga's answer help you?

Here again a full example to illustrate how the "example input" works:

[code]

Finally, one cool thing about Lightning is that it has a `.to_onnx()` method. What's great is that you can define an `self.example_input_array` directly in your model definition. This means when you call` model.to_onnx("path/...")` you don't have to remember what the input s

[2022-11-04 22:32] #15134 closed

[2022-11-04 22:34] lminer opened #15545 "Hydra+DDP causing infinite hang"
### Bug description

I use hydra+ddp and upon installing 1.8 have found that any run I start with ddp, it now hangs with the following error:

[code]

I used git bisect and have traced the problem to this commit:

[code]

### How to reproduce the bug

_No response_

### Error messages and logs

[code]

### Environment

[code]

### More info

_No response_

cc @justusschock @kaushikb11 @awaelchli @

[2022-11-04 22:59] awaelchli commented on #15545
@lminer Thanks for the report and the effort of doing the bisect! As you found, this was introduced in #11617.
@jgbos would you mind taking a look here?

[2022-11-05 00:40] carmocca commented on #15489
That happens because the docker image used already contains PyPI's `lighting_lite` installation. And given the issue described above:

The PyPI version is used over the version packaged inside PL.

Let's give it a day to see if the rebuilt docker images do not have it installed which would make this issue disappear.

[2022-11-05 01:04] davidegraff commented on #11494
Can we revive this? I'm encountering a similar issue here as well, and even the lightning docs present a likely case:
[code]

It's natural to express an `AutoEncoder` as a system composed of an `Encoder`/`Decoder` pair. Beyond the hyperparameters of the broad system (learning rate, KL term weight, etc...), we would also consider the underlying _architectures_ of our encoder/decoder pair as a hyper

[2022-11-05 02:32] carmocca commented on #15490
This is caused by using `-e`. When it's used, `lightning/src` is added to `sys.path`:

[code]

And since that directory contains the other packages, they become importable.

This is not only with Lite, also when any of them is installed with editable mode.

[2022-11-05 02:32] #15490 closed

[2022-11-05 03:08] WrRan commented on #15514
It seems inconsistent to me because the below code does not throw an OOM exception.
[code]

[2022-11-05 03:11] WrRan commented on #15514
And I agree with @awaelchli. I cannot imagine the use cases where developers keep gradients of the whole dataset in a practical situation.

[2022-11-05 11:39] awaelchli commented on #15514
If @carmocca agrees, @WrRan would you be interested in sending a PR for this change? We can then let the test suite run and check whether this breaks anything non-obvious that we missed.

[2022-11-05 13:12] awaelchli commented on #15501
Hey @AlexSheldrick
I was looking at the code of Adam and found this TODO: https://github.com/pytorch/pytorch/blob/46730aec35ee047b92b288e0366da0f7e993e5ae/torch/optim/adam.py#L143-L146

Not sure if it is related, but wanted to post this here. Have you tried `precision="bf16"` too?

FYI, in our AMP implementation, we roughly do this:

loss = self.scaler.scale(loss)
loss.backward()
self.scaler.unsca

[2022-11-05 13:48] yuhongyu0721 commented on #12874
I have the same issues. Anything updates? Thx

[2022-11-05 14:51] #15543 closed

[2022-11-05 18:28] williamFalcon opened #15552 "boolean change does not trigger state update"
### Bug description

boolean change does not trigger state update

### How to reproduce the bug

[code]

### Error messages and logs

The output is this:
[code]

it should be:
[code]

### Environment

_No response_

### More info

_No response_

[2022-11-05 20:31] tchaton commented on #15552
Hey @williamFalcon.

This doesn't work because a bi-directional state isn't implemented.

When you set back `msg_changed=False` in the flow, the work isn't aware and for him, its value is still True.

So it doesn't send any deltas back.

[2022-11-05 21:30] AlexSheldrick commented on #15501
I've made a colab for you so you can see the difference, vanilla pytorch does not introduce error when Fused & Precision = 16. I cannot test BF16 right now. If you use pytorch-lightning via the trainer precision key it works much worse (accuracy), but only in the described case.

[Colab](https://colab.research.google.com/drive/15MUThe5oZSwyUSPVDedXkj2lHISF9ADw?usp=sharing)

Currently I do manual o

[2022-11-05 22:43] williamFalcon opened #15553 "Very slow execution when using Payload"
### Bug description

Super slow when payload exists

### How to reproduce the bug

[code]

### Error messages and logs

[code]

### Environment

[code]

### More info

_No response_

[2022-11-06 01:51] awaelchli commented on #15501
@AlexSheldrick Thanks, your example is very useful! I think I found what causes this. In automatic optimization, we call `scaler.unscale_(optimizer)` before step, as explained before, in case we do gradient clipping for the user. If we insert this call into your pure pytorch loop, we see the same behavior that the results change.

As per GradScaler documentation in PyTorch:

This means performing

[2022-11-06 11:55] tchaton opened #15556 "DDP Spawn breaks when worker_output is None"
### Bug description

I will provide a reproducible script soon.

Right now, it seems changing this line https://github.com/Lightning-AI/lightning/blob/master/src/pytorch_lightning/strategies/launchers/multiprocessing.py#L119
prevents the problem.
[code]

### How to reproduce the bug

[code]

### Error messages and logs

[code]

### Environment

[code]

### More info

_No response_

[2022-11-06 13:22] tchaton commented on #15556
@awaelchli @carmocca Any ideas ?

[2022-11-06 13:53] WrRan commented on #15514
@awaelchli It is my pleasure to make a contribution to pl. :)

[2022-11-07 01:00] jgbos commented on #15545
@lminer is it possible to provide a config to test with and also provide the version of Hydra you are using?

[2022-11-07 04:54] akihironitta commented on #12874
@yuhongyu0721 @ZwormZ Do you have a full script and env detail that reproduces the behaviour?

[2022-11-07 06:26] akihironitta commented on #15368
I tried to what the issue description states, but I don't even see torchvision installed in the docker image used in Bolts:
https://github.com/Lightning-AI/lightning-bolts/blob/894456fcdcd4c98876864be754e5e4c81c3dd66d/.azure/gpu-tests.yml#L26
[code]

[2022-11-07 06:27] akihironitta commented on #15368
Closing this issue as the Bolts CI now installs the torchvision built with cuda:
[code]
https://dev.azure.com/Lightning-AI/lightning%20Bolts/_build/results?buildId=113243&view=logs&j=3afc50db-e620-5b81-6016-870a6976ad29&t=98354d77-e326-51ec-536f-1549451db1fa&l=2129

[2022-11-07 06:27] #15368 closed

[2022-11-07 06:31] akihironitta commented on #14604
Closing this issue as there seems nothing we can address from our side. Please refer to https://github.com/optuna/optuna/issues/3418.

[2022-11-07 06:31] #14604 closed

[2022-11-07 06:52] yuhongyu0721 commented on #12874
I figure out my problem is caused by Pytorch and its compilation. It's fixed by reinstall Pytorch with clean environment.

[2022-11-07 07:34] Hannibal046 commented on #12862
hi, any progress on this ? I am currently a newbie for lightning. I am working on language generation task. The metric i use is `BLEU` which is a `corpus level` metric:

[code]

so in ddp test setting, i have to do the following:

1. unevenly and sequentially distribute test data to multiple GPU to generate transltions

2. gather generated transltions from multiple GPU to rank0
3. calculate bleu s

[2022-11-07 09:55] Borda commented on #15049
@awaelchli, just for the record, were the todos done? :otter:

[2022-11-07 10:02] otaj commented on #15368
Hi, @akihironitta, I think I agree with you, I think that I maybe grabbed some weird version of the image which installed `examples` (and therefore `torchvision`) I'm perfectly fine with having this closed

[2022-11-07 10:19] Borda commented on #14639
This shall be considered a change for potential v2.0, as in any major release, we are allowed to break some exiting patterns...
Let's also re-evaluate if can introduce this default change sooner so for example, v1.9.

[2022-11-07 10:24] awaelchli commented on #15501
I'll keep this open until we've completed https://github.com/Lightning-AI/lightning/pull/15555 :)

[2022-11-07 10:38] otaj commented on #14789
So, I think I figured out the problem. When you install a package, all of its entrypoints are prepended with a shebang containing absolute path to current python version used when installing such package.

This for example means that in my environment, `lightning` script, that gets installed is prepended with this line:
`#!/home/otaj/.pyenv/versions/3.10.6/envs/lightning-dev/bin/python3.10`

One s

[2022-11-07 10:40] awaelchli commented on #15049
Yes

[2022-11-07 11:00] carmocca commented on #15489
GPU ci issue is gone

[2022-11-07 11:00] #15489 closed

[2022-11-07 11:14] Borda commented on #15210
I think that we could update the requirements parsing to understand/follow `-r` command and append additional resources... that would solve the problems a clear way :otter:
Just wondering if there is a tool that would do as are using `pkg_resources.parse_requirements`

[2022-11-07 11:17] Borda commented on #15217
shall be done for #15547

[2022-11-07 11:17] julpegor commented on #15298
I can confirm that it works with the master.

New minimal code:
[code]

[2022-11-07 11:17] #15298 closed

[2022-11-07 11:22] lantiga commented on #15217
All of app should be marked as experimental, we don't make any commitment to not ship changes in patch releases for this part.

[2022-11-07 11:36] Borda commented on #15245
lets proceed it together with #15542

[2022-11-07 11:37] lantiga commented on #15217
How would we go about marking?

I'm good with standardized a string / tag in docstring? Or should we reach out to something more involved like a decorator?

[2022-11-07 12:07] Borda commented on #15346
let's proceed with this one after #15128

[2022-11-07 14:24] mniyas commented on #9900
Is there any good work around for this problem? I'm trying to install PL and `google-cloud-pubsub` which is causing a dependency conflict due to `protobuf` versions.

[2022-11-07 15:41] visoutre commented on #15509
hi @carmocca this issue seems to be related to several issues with scripts hosted by CompVis which import rank_zeo_only, so I'll add some info rather than open a new issue.

After the last update (sometime around Nov 1st), importing rank_zero_only from 'pytorch_lightning.utilities.distributed' was causing an ImportError. from pytortch_lightning/utilities/distributed.py

A temporary solution is imp

[2022-11-07 15:52] Borda commented on #14808
@tchaton, any motivation or pitch? :otter:

[2022-11-07 15:54] Borda commented on #14879
let's close this one in favor of #13246 and continue the chat there :rabbit:

[2022-11-07 15:54] #14879 closed

[2022-11-07 15:59] Borda commented on #15418
I think this shall be a type `script` or `set -e` in the CI workflow
https://github.com/Lightning-AI/lightning/blob/a557952fabafa188578c31596c81c64b3f5e65f6/.azure/gpu-tests-pytorch.yml#L146

[2022-11-07 16:08] awaelchli commented on #15556
@tchaton The fix in the linked PR should unblock you. I will improve the existing test(s) to simulate the multi-node case here.

[2022-11-07 16:09] carmocca commented on #15509
Hi @visoutre. Thanks for the description.

I've opened a PR making the modification to the CompVis repository: https://github.com/CompVis/taming-transformers/pull/190. You can also make this edit in your local installation to unblock you using 1.8.0 in your work.

These functions had been deprecated since version 1.6.0, to be removed in 1.8.0. It's unfortunate that this had not been updated before

[2022-11-07 16:58] lminer commented on #15545
Is there a way to send it to you privately @jgbos

[2022-11-07 18:05] carmocca commented on #15418
@Borda The script sets it already. It's an issue with the test not propagating the failure correctly as only one rank fails. https://github.com/Lightning-AI/lightning/blob/04e1e925daaf18acd3ec1b816575308f76f5f813/tests/tests_pytorch/run_standalone_tasks.sh#L15

[2022-11-07 18:09] carmocca opened #15571 "Add message to ping maintainers in the required-checks job"
## 🚀 Feature

When the required-checks CI job times out, the logs should show a message like:

"This job has timed out. If you have resolved the failures in the others jobs blocking this check, please ping @core-contributors so that they can re-run this action for you."

### Motivation

User guidance when contributing
______________________________________________________________________

#### If

[2022-11-07 18:25] visoutre commented on #15509
@carmocca Sounds good, thank you!

Is a pull request something I can do as well? [CompVis has 1 more script using the old import](https://github.com/CompVis/stable-diffusion/blob/main/ldm/models/diffusion/ddpm.py)

[2022-11-07 18:29] carmocca commented on #11588
Something similar was added by @williamFalcon in https://github.com/Lightning-AI/lightning/blob/master/src/lightning_app/perf/pdb.py

[2022-11-07 18:35] #8031 closed

[2022-11-07 18:36] #9576 closed

[2022-11-07 18:50] carmocca commented on #15509
I left comments in an exisitng PR for the stable diffusion repo: https://github.com/CompVis/stable-diffusion/pull/451

[2022-11-07 19:07] Borda commented on #13572
@akihironitta just set, could you pls verify?

[2022-11-07 19:13] Borda commented on #14716
well, `lightning` does not have implemented any extras yet, see: #15542 and #15245

[2022-11-07 19:16] Borda commented on #15439
I think you can do it with Flow/Work?
cc: @lantiga

[2022-11-07 19:23] #15509 closed

[2022-11-07 19:24] Borda commented on #15505
I think we can allow installation of full lighting code, but just with PL dependencies, as if we allow installation part of PL and/or App side or `lightning`, it is not complemented in your sire-packages but replacement (AFAIK), so you may end up with half broken package with almost no signed why/what happened unless you know these principles...

[2022-11-07 19:33] moghadas76 commented on #15509
Thanks you guys

[2022-11-07 19:50] ZhaofengWu opened #15572 "Incorrect num_workers warning"
### Bug description

This is technically not a bug but I couldn't find a more appropriate tag.

https://github.com/Lightning-AI/lightning/blob/d5ffdfac2ad4c8ff87c9895555fc21ccc482c18c/src/pytorch_lightning/trainer/connectors/data_connector.py#L222-L230
complains if the number of dataloader workers is less than the number of CPUs. This ignores when a process is only assigned to a subset of CPUs. I

[2022-11-07 20:02] Borda commented on #15418
Yes, I saw it in the script, but not sure what we can do then, as this si quite critical for visibility...

[2022-11-07 20:03] mosheliv opened #15573 "Please allow different batch sizes per gpu in ddp"
## 🚀 Feature

I propose adding instead of batch size a dictionary with batch size per GPU, for example {"cuda0":4, "cuda1", 6}

### Motivation

I have gv100 (32gb) and 3090 (24gb). using the current muti gpu strategies, i can only use 24gb of memory from the gv100

### Pitch

explained above

### Alternatives

Automatic batch size sizing would be really nice as well for multi gpu, with different b

[2022-11-07 21:57] Borda commented on #791
Good question, I believe so... @awaelchli?

[2022-11-07 22:10] Borda commented on #6094
cc: @lantiga for your thoughts?

[2022-11-07 22:15] Borda commented on #772
@palset, what version are you using?

[2022-11-07 22:17] Borda commented on #3228
well, that would be my expectation too :otter:

[2022-11-08 01:36] awaelchli opened #15576 "Use `monkeypatch.chdir` instead of `os.chdir` in tests"
## Proposed refactor

### Motivation

Many of the tests under tests/tests_app use the following pattern:

[code]

This is not ideal. If any one of these tests fails, the current working directory remains to what it was set in the beginning of the code. This can cause subsequent tests to fail for unrelated reasons.

### Pitch

Use

[code]

instead.

cc @tchaton

cc @borda @justusschock @awaelchli

[2022-11-08 02:10] #14900 closed

[2022-11-08 02:30] akihironitta commented on #13572
<img width="771" alt="image" src="https://user-images.githubusercontent.com/20610905/200460489-4a5eb863-76e8-4a59-a1a8-56fd7e65ba0c.png">

[2022-11-08 02:30] #13572 closed

[2022-11-08 03:40] jgbos commented on #15545
@lminer You can try sending it to jgoodwin314@gmail.com if you want  to do that.  FYI, I have very limited time to debug though, so here are a couple things you could try out:

  1.  Make a small example config that causes the same error.  What is special about `augs` that causes this error?
  2.  Can you try running `python <fn with task>.py -cn <experiment path to .hydra> -cp config.yaml`
  3.

[2022-11-08 03:49] heytanay commented on #15576
Hi, I would like to fix this issue, can I take it up?

[2022-11-08 06:51] Borda commented on #15576
Sure, looking forward to it 🚀

[2022-11-08 08:21] yichaoshen-MS commented on #15573
Can I ask a question that in these days, if I set the "batch_size==1" and "Trainer.strategy=="ddp", gpus==4", the total batch_size will be 4 or 1?

[2022-11-08 09:38] tchaton commented on #15573
Hey @mosheliv,

Technically, nothing prevents you to do this directly within your data loader and provides a different batch_size.

However, you would need a custom-distributed sampler to take this into account

The distributed sampler would need to ensure batches are uniquely seen by a single process and the total number of batches across all machines is the same.

Best,
T.C

[2022-11-08 10:56] mosheliv commented on #15573
Thank you for your prompt reply! much appreciated.
I think this is a pretty basic operation, so an example should be in place
in the "training on multi gpu", or at least a hint for the uninitiated. I
was honestly surprised that this was the behaviour. A bit more
clarification about the batch size is also needed. I have seen at least 4
people ask the same question - if I specify batch size 1 and i

[2022-11-08 12:17] carmocca commented on #15418
There's nothing we can do other than to fix the test and grep for "error" in its text output as I did to resolve https://github.com/Lightning-AI/lightning/issues/12474

[2022-11-08 12:19] carmocca commented on #15505
Why would there be a conflict? Each would have its own imports

[2022-11-08 12:20] carmocca commented on #15210
I have a stale PR improving this: https://github.com/Lightning-AI/lightning/pull/13912. Would need to be updated

[2022-11-08 14:53] #15501 closed

[2022-11-08 14:55] carmocca opened #15587 "Use the non-protected LRScheduler import"
## 🚀 Feature

### Motivation

Avoid protected imports

### Pitch

https://github.com/pytorch/pytorch/issues/61232 has been merged to PyTorch which renames `_LRScheduler` to `LRScheduler`. They have kept the old class for compatibility, but we should still use the new one.

The task is to add logic like this
[code]

to https://github.com/Lightning-AI/lightning/blob/d5003b1c07fda783f651a732c86ad4865

[2022-11-08 16:17] tchaton commented on #15573
Hey @mosheliv,

When using DDP, each process associated to their GPU are loading their own batches and therefore the `batch_size` is local. The total batch size is `batch_size * world_size`. This is the default behaviour in PyTorch and we kept it this way.

When using DP however, as there is a single process, it loads a single batch and scatter it across all GPUS.

Yes, for your own use case and u

[2022-11-08 16:17] akihironitta commented on #15418
Closing this since I don't see anything to address via this issue. The improvement in #15341 by Carlos is reasonable, IMO.

[2022-11-08 16:28] carmocca opened #15588 "Raise an error if sync_dist is set when logging torchmetrics"
# Proposal

Re-do #13903

---

### Context

True, sorry, I noticed this later. We can make it `None` by default.

we can determine that based on `on_step` and `on_epoch` if `sync_dist!=None`:
- If either just `on_step=True` or just `on_epoch=True`, set the flag inside `torchmetrics` accordingly
- If `on_step=True` and `on_epoch=True`:
  - Set both the flags
  - Set only `sync_on_compute` to align

[2022-11-08 17:01] carmocca commented on #15418
Note that even though we don't have a reliable solution to surface these distributed issues, we could still fix this test in particular so that it passes again.

[2022-11-08 17:46] #12534 closed

[2022-11-08 17:55] #14624 closed

[2022-11-08 18:15] carmocca commented on #15572
It makes sense to align our logic with PyTorch's. Would you like to contribute this improvement?

[2022-11-08 18:26] ZhaofengWu commented on #15572
So pytorch's check is for an upper bound -- if the number of workers is greater than the number of (disposable) CPUs, then it's wasteful. But Lightning seems to want a lower bound here? If the value is aligned, then we would _always_ complain unless the number is exactly the same as that value (by lightning if lower, by pytorch if too higher). That might be fine, since # workers = # disposable CPU

[2022-11-08 20:38] jizongFox commented on #5699
I definitively agree with @TezRomacH  and enjoy this PR.

[2022-11-09 00:17] mosheliv commented on #15573
Just to understand, so it can happen (although unlikely) that the same
image appears twice in a batch on ddp?
dp is causing me errors that I can't understand with gathering statistics
and it seems to be heavily discouraged by lightning so i stopped trying. it
also seems to scatter the batch across multiple gpus symmetrically.
Is there any other strategy that supports what I am looking for? I could

[2022-11-09 01:21] mosheliv commented on #15573
On a more pragmatic note, assuming this is not implemented in any strategy,
can you please help with some of the details of the implementation and tell
me if i am doing something horribly wrong?

so, if i have a code like this:

class LitModel(LightningModule):
    def train_dataloader(self):
        loader = DataLoader(train_ds, batch_size = self.BS, shuffle =
True, num_workers=14)
        return

[2022-11-09 04:36] Hannibal046 opened #15595 "limit_train_batches or limit_train_samples ?"
### Bug description

Hi, I notice that the `limit_train_batches` is actually `limit_train_samples`. Because the `real_batch_size  = batch_size * num_gpus * gradient_accumulation`, so maybe `limit_train_samples` would be less vague ?

[2022-11-09 13:45] qmaruf commented on #15587
I am interested to work on this feature. @carmocca  What are the things I need to follow?

[2022-11-09 13:48] carmocca commented on #15587
I described the work in the top post. We want to use `LRScheduler` throughout the codebase by importing a small compatibility variable defined in `lightning/src/lightning_lite/utilities/types.py`

[2022-11-09 14:02] mattcleigh commented on #11494
Also in favour of reviving this, running into the exact same issue as @davidegraff trying to compose and reload many submodules.

[2022-11-09 14:27] #15180 closed

[2022-11-09 15:01] DominikSpiljak opened #15603 "If "`Trainer.fit` stopped:" is encountered during pytorch_lightning.tuner.lr_finder.lr_find the following train epoch is skipped"
### Bug description

I'm trying to use the LearningRateFinder before every training epoch. I'm basing my LearningRateFinder on the [snippet used in these release notes](https://github.com/Lightning-AI/lightning/releases/tag/1.8.0). After the first LearningRateFinder call, training epoch is run normally but after every subsequent LearningRateFinder call, "`Trainer.fit` stopped: `max_steps=100` reac

[2022-11-09 15:21] Borda opened #15604 "make group-check more verbose"
## 🚀 Feature

Can we make the probot sending comment similar to codecov in the sense when each check finish, comment on the pr and when the next check finish, update the past comment or remove it and send a new one?

### Motivation

The reason is to better communicate to users to understand what is happening as not it is a bit black-box and Will is complaining as well (to be fair) any new contribu

[2022-11-09 15:46] Jgoldfeder commented on #12812
same issue for me as well

[2022-11-09 16:37] carmocca commented on #9123
Another improvement that's not just useful for fault tolerance would be to save the trainer arguments passed

[2022-11-09 17:40] bipinKrishnan commented on #15416
@awaelchli I am new to the lightning codebase, can I work on this issue? Just to confirm, the solution would be to change this line:
https://github.com/Lightning-AI/lightning/blob/d5003b1c07fda783f651a732c86ad48656be42c1/src/pytorch_lightning/tuner/lr_finder.py#L150

to this(as suggested by @davidgilbertson):
[code]

[2022-11-09 19:11] davidgilbertson commented on #15416
Oh, I just realised my initial snippet got the wrong order, good catch @bipinKrishnan . Actually it can just be:
[code]

And in case you didn't know, this parameter can be typed as `ax: Axes` using `from matplotlib.axes import Axes`

[2022-11-09 19:16] awaelchli commented on #15416
Yes @bipinKrishnan, feel free to open a PR and we will be very happy to review it!

[2022-11-09 20:17] #15252 closed

[2022-11-10 03:15] BomanNg opened #15614 "ValueError: mutable default <class 'torch.distributed._shard.... when import lightning"
### Bug description

# Error
When I try to import lightning, I get such an error and have totally no clue how to fix it.
It is very pleased if anyone could give me a hand! Thank you ：）

### How to reproduce the bug

_No response_

### Error messages and logs

[code]

### Environment

# Enviroment
python                    3.11.0
torch                     1.13.0+cu116
pytorch-lightning         1.8.

[2022-11-10 07:25] #15571 closed

[2022-11-10 08:02] akihironitta opened #15618 "Remove deprecated APIs that should've been removed in the past releases"
## Proposed refactor

Here's a quick list of APIs to remove (there can be false negative).
[code]

cc @borda @justusschock

[2022-11-10 09:22] awaelchli commented on #15614
@BomanNg This looks like it is because you are running with Python 3.11. Please note, PyTorch does NOT yet officially support 3.11 (https://github.com/pytorch/pytorch/issues/86566). You have two options:

1. You don't really need Python 3.11 -> Use Python 3.10 instead
2. You need Python 3.11 -> Install PyTorch nightly release: https://pytorch.org/ (click on the "Preview (nightly)" in the installat

[2022-11-10 09:30] awaelchli commented on #15595
@Hannibal046 No, it is not like you describe. `limit_train_batches` is really what it says, it limits the number of batches that are fetched from the dataloader!

Please note that gradient accumulation is NOT exactly the same as training with a larger batch size.

I'm not saying that `limit_train_samples` is not useful, but the existing `limit_train_batches` is IMO pretty well defined in Lightning

[2022-11-10 09:45] BomanNg commented on #15614
you're right, I tried running with python 3.9, and it worked.
So it is the problem that I installed the wrong version of python.

Thank you for your help! :) @awaelchli

[2022-11-10 09:51] awaelchli commented on #15614
Great, you are very welcome! I'm closing the issue now, since PyTorch is working on this support and Lightning can't do anything at the moment.

Hope you get something good started with Lightning + PyTorch <3

[2022-11-10 09:51] #15614 closed

[2022-11-10 10:42] #15576 closed

[2022-11-10 11:49] #15553 closed

[2022-11-10 13:52] justusschock commented on #15603
Hey @DominikSpiljak,

Thanks for opening the issue. I can reproduce this behavior. Would you mind giving #15620 a try which fixes that for me?

[2022-11-10 13:59] #15346 closed

[2022-11-10 15:02] DominikSpiljak commented on #15603
Hi, this fixes the issue of train epoch being skipped, thanks.
However, using the attached snippet, I'm noticing that subsequent lr_finders are also not run. The message for second lr_find call "LR finder stopped early after 200 steps due to diverging loss.", the message for third is "LR finder stopped early after 300 steps due to diverging loss.", etc... which leads me to 2 questions. Why does it

[2022-11-10 15:52] justusschock commented on #15603
Thanks for getting back to me. That was indeed another bug, which should be fixed in #15620 now.

[2022-11-10 18:11] manangoel99 opened #15624 "Using the ModelCheckpoint callback with WandbLogger raises an error"
### Bug description

Using the ModelCheckpoint callback with the WandbLogger raises the following exception
[code]

This is most likely because the monitoring variable sent to the WandbLogger is now of type `torch.Tensor` instead of float.

### How to reproduce the bug

[code]

### Error messages and logs

[code]

### Environment

* CUDA:
        - GPU:
                - Tesla T4
                -

[2022-11-10 20:49] mattcleigh commented on #14988
Inspecting the hyperparameters on the wandb website is certainly easier without flattening, as it is presented as a collapsible dropdown list. I would definitely  support adding in a `flatten_hyperparams` argument in the wandb logger init, or just removing the flattening step all together.

[2022-11-10 22:14] awaelchli commented on #15624
This is the same issue as #15543, correct?

[2022-11-11 00:46] SylarZiling commented on #544
sorry I have similar problem, I used the experiment still tells me no attribute 'add_scalar"

    self.logger.experiment.add_scalar(f'metrics_{valset_idx}/{k}', v, global_step=cur_epoch)
AttributeError: 'list' object has no attribute 'add_scalar'

and this is experiment  [<torch.utils.tensorboard.writer.SummaryWriter object at 0x7f3af4baf990>]

[2022-11-11 07:24] akihironitta commented on #15618
I believe I opened PRs for removing all missed deprecated APIs. There are still deprecated APIs that will be removed in v1.9, but it is out of the scope of this issue.

[2022-11-11 09:44] johnnynunez opened #15640 "Support Intel Arc"
Hi,
Is it possible to support Intel Arc as a device, as it is done with apple ARM(MPS), nvidia GPU(GPU) or tpus, so I don't have to change the code using the intel extension?
[code]
[Intel Extension](https://pytorch.org/tutorials/recipes/recipes/intel_extension_for_pytorch.html)

[2022-11-11 10:49] SeanNaren commented on #10444
After discussions with the Lightning team on slack, we've decided to move away from this RFC (for 2.0) and revert the deprecations to the Trainer API.

[2022-11-11 11:32] ethanwharris commented on #15499
Fixed 😃

[2022-11-11 11:32] #15499 closed

[2022-11-11 12:11] carmocca commented on #15474
This is basically done. We still write changes to `requirements/base.txt` but it has been added to `.gitignore` in https://github.com/Lightning-AI/lightning/pull/15558 so it's not a high priority. We can keep this open if we want to avoid that too

[2022-11-11 12:13] carmocca commented on #15474
For reference, this is the problematic piece of code: https://github.com/Lightning-AI/lightning/blob/c53dc205ed0c1911295a2f741781920b840808d7/.actions/setup_tools.py#L176-L189. We would want to find a solution like the one in #15549

[2022-11-11 15:15] awaelchli commented on #15640
This looks great. @johnnynunez do you know if calling ipex.optimize jointly on the optimizer and model is required for training? Or would it be ok to call them separately?

[code]

instead of

[code]
?

One could investigate whether adding a `IntelCPUAccelerator` is enough to support this in Lightning Trainer.

[2022-11-11 15:22] justusschock commented on #15640
@awaelchli since the `optimize` function does not have a default argument for `model`,  I'd assume that they need to be called jointly. What is yet unclear to me is: if
- are multiple optimizers supported?
- how common arc devices are in general?

[2022-11-11 15:26] johnnynunez commented on #15640
In the CES, Intell will show second generation: Intel Battlemage GPU, so it would great if calling gpu or ipex as device, it would be more generic than call ipx

[2022-11-11 16:32] #15624 closed

[2022-11-11 17:21] mauvilsa commented on #15174
@VictorY-1Qbit you can review #15651 since it adds your suggestions in https://github.com/Lightning-AI/lightning/issues/15174#issuecomment-1292159835.

[2022-11-11 18:54] Abermal opened #15655 "Automatic logger removal if the training failed (error happening on the sanity check)"
## 🚀 Feature
Let lightning automatically remove Tensor board logger folder and files in case the training wasn't started successfully due to an error.

### Motivation
Right now lightning creates a logger file and then runs sanity checks ect.
If there are any bugs in the code, every run creates a new event file and a folder for it.
This leads to a stack of empty logger files that pile up and are cu

[2022-11-11 20:18] junwang-wish opened #15656 "Trainer.predict on really large dataset cause CPU out-of-memory"
### Bug description

`Trainer.predict(model, datamodule)` on sufficiently large data would cause CPU out-of-memory due to the fact that results are appended to a list during predict (this is true even if setting `return_predictions=False`): https://github.com/Lightning-AI/lightning/blob/4e8cf85b0cd5128adcec3f3ad0f2254f417ae1ee/src/pytorch_lightning/loops/dataloader/prediction_loop.py#L103

What is

[2022-11-11 20:40] junwang-wish commented on #15656
Sorry actually setting `return_predictions=False` would fix the problem, I read too much into the `objgraph.show_growth(limit=3)` results.

[2022-11-11 20:40] #15656 closed

[2022-11-12 05:32] Hannibal046 commented on #15595
Thanks so much ! I got it. But I don't quite understand this:

BTW, I have another two questions:
1. if I give `max_steps` to `Trainer`, can I get corresponding `max_epochs` as trainer attributes ?
2. In the manual optimization example with gradient accumulation, should it be like this: `self.manual_backward(loss/N)` ?
[code]

[2022-11-12 08:54] Borda commented on #15640
cc: @lantiga

[2022-11-12 16:22] awaelchli commented on #15595
Think about what happens to the weights of the network during gradient accumulation and then compare that to the regular training:

**Accumulation=3:**
batch0 -> compute gradient -> batch1 -> compute gradient -> batch2 -> compute gradient -> sum gradients -> updated weights

vs.

**3 regular training steps:**
batch0 -> compute gradient -> updated weights-> batch1 -> compute gradient -> update weig

[2022-11-12 17:26] #15103 closed

[2022-11-12 18:02] Manjuphoenix opened #15661 "No module named 'pytorch_lightning.metrics'"
### Bug description

Im using pytorch version 1.8.1 on Google Colab pro to train CNN model and while trying to calculate the accuracy I wanted to use the pytorch_lightning's metrics module. But while trying to import the **accuracy** function I'm getting the output as below:

ModuleNotFoundError                       Traceback (most recent call last)

[<ipython-input-32-9402f1fd719c>](https://loca

[2022-11-12 18:06] #15416 closed

[2022-11-12 18:51] carmocca commented on #9396
Can we close this? Anything left?

[2022-11-12 19:00] carmocca commented on #9900
After long deliberation, we've decided to demote the `TensorBoardLogger` as the default logger so that we can remove the `tensorboard` dependency from the base requirements. This also has the implication that `Trainer(logger=False|True)` will be deprecated in favor of passing the logger you choose: `Trainer(logger=ALogger())`.

The plan is to remove the requirement in 1.9 with a deprecation cycle

[2022-11-12 20:19] aniketmaurya commented on #15080
Keep it open?

[2022-11-12 23:34] awaelchli commented on #9396
This is done 🎉

[2022-11-12 23:34] #9396 closed

[2022-11-13 00:37] awaelchli commented on #15661
@Manjuphoenix The metrics module got removed from pytorch_lightning a very long time ago. You must be looking at an outdated tutorial or documentation. Could you tell us where you saw this?

Please install the [torchmetrics](https://torchmetrics.readthedocs.io/en/stable/) package and import your metrics from there. Hope this helps

[2022-11-13 00:41] thewinterknight14 commented on #6159
Hi I'm facing the same issue. Could you tell me what other potential issues could cause this ?

[2022-11-13 00:42] #14278 closed

[2022-11-13 00:42] awaelchli commented on #15655
I'm not sure if this is possible or break something. But we could try it. Note that fast_dev_run by design does not write any artifacts so the problem does not exists there. One could argue that the sanity check falls into a similar category.

[2022-11-13 02:50] ZeyiLiao commented on #11760
Hi any updates here? I meet the same issue with PL

[2022-11-13 03:11] ZeyiLiao commented on #11947
Hi any update here? I also meet the similar question and only save rank0 for both optim states and model states.

[2022-11-13 04:11] Hannibal046 commented on #15595
Hi, thanks for reply. In my opinion, I think gradient accumulation is actually equivalent to large batch size, and here is an example. The net_1 and net_2 actually get same gradient ( with loss/N):
![draft ipynb — selfmem  SSH: 2560  2022-11-13 12-09-24](https://user-images.githubusercontent.com/38466901/201505273-d9fdb66a-3b10-4021-a334-8d31d69295d1.png)
And here is the code:
[code]

[2022-11-13 06:07] awaelchli commented on #15595
How gradient accumulation works is not an opinion. It is very well defined. I encourage you to look up the definition and at code samples of how it is implemented in practice (just Google it and you will find the resources :)).

Your code sample doesn't show anything interesting. You never do anything with your gradients. The weights never get  updated. This doesn't show anything.

I will let you

[2022-11-13 07:54] shenoynikhil commented on #15587
Is this still open! I'd like to have a stab at this.

[2022-11-13 08:06] qmaruf commented on #15587
Hi @shenoynikhil, i am working on this one.

[2022-11-13 08:34] shenoynikhil commented on #14598
Hey @awaelchli, I'd like to take this up!

[2022-11-13 10:53] nickguletskii opened #15667 "__iter__ in IterDataPipe doesn't exit in a timely manner because the DataFetcher is not torn down after an evaluation run"
### Bug description

The generator produced by my IterDataPipe never exits because Pytorch Lightning doesn't get rid of the DataLoader's iterator properly after running the evaluation loop. For me, this causes a deadlock, because the training and validation datasets share a single native resource which must be released by the evaluation loop before the training dataset can start producing entries.

[2022-11-13 12:20] Hannibal046 commented on #15595
Same gradient will give same optimization results:
[code]
This is the output:
[code]

And this is the official code by Pytorch [link](https://pytorch.org/docs/stable/notes/amp_examples.html#gradient-accumulation)
[code]

[2022-11-13 19:30] Inspirateur commented on #6159
I'm afraid i'm unable to help you, it's been more than a year and I'd be completely unable to remember what the problem was

[2022-11-13 20:08] tchaton commented on #15537
cc @edenafek

[2022-11-14 03:46] Manjuphoenix commented on #15661
I was going through a youtube tutorial of the Lightning AI official channel link: [https://www.youtube.com/watch?v=DbESHcCoWbM]
Thanks for the update, will surely follow up with torchmetrics @awaelchli

[2022-11-14 03:46] #15661 closed

[2022-11-14 08:53] function2-llx commented on #9980
Hello, want to ask here if Python 3.10 is supported now? The badge seems not to include 3.10.

[2022-11-14 11:51] carmocca commented on #9980
It is! Would you like to open a PR updating the badge?

[2022-11-14 11:59] function2-llx commented on #9980
I'd love to!

[2022-11-14 13:53] qmaruf commented on #15587
All the changes are here https://github.com/Lightning-AI/lightning/compare/master...qmaruf:lightning:feature-15587

However, some tests are failing because of this issue `RuntimeError: torch.distributed is not available. Cannot initialize distributed process group`. I am using mac m1 pro.

[2022-11-14 15:53] cjsg opened #15682 "Updating from v1.7.7 to 1.8.0 significantly affects training curves and final performance"
### Bug description

### TL;DR:

The training curves and the final performance of models is significantly affected by the update from lightning v1.7.7 to v1.8.0 when training with ddp strategy. Here are the curves that I obtained with the code below.

<img width="1115" alt="Screenshot 2022-11-14 at 15 42 29" src="https://user-images.githubusercontent.com/28411935/201688780-c2355113-dc33-4e5d-9f9e-

[2022-11-14 16:40] rusmux opened #15683 "Color option for RichModelSummary"
## 🚀 Feature

Add color option for RichModelSummary header.

### Motivation

While you can fully configure your RichProgressBar, you can't change the header color of the model summary table, which may not be very suitable for some progress bars.

<img width="793" alt="Picture 137" src="https://user-images.githubusercontent.com/85135806/201715682-dc006f43-fcdb-440e-aa76-a69754351466.png">

cc @bord

[2022-11-14 19:49] VictorY-1Qbit commented on #15174
@mauvilsa Yes, I'm a bit busy but I do that ASAP.

[2022-11-15 06:25] parkitny commented on #12205
This is a bug and needs to be fixed, the default behaviour here is counter intuitive. Please re-open.

[2022-11-15 06:58] mayank-nference opened #15686 "Issue while training OPT-6.7 Billion Using NVME"
### Bug description

facing issues while training opt-6.7 billion model using pytorch lightning + colossalai. I am using `nvme offload` strategy. I am using following strategy for trainer
[code]

This is model class

[code]

### How to reproduce the bug

[code]
[code]

#- Lightning Component (e.g. Trainer, LightningModule, LightningApp, LightningWork, LightningFlow):
#- PyTorch Lightning Version (

[2022-11-15 09:46] tchaton opened #15687 "Introduce a mechanism to make Open App visible only my app is ready"
## 🚀 Feature

### Motivation

My current App has some sequential works and my Lightning App isn't ready until those works are all running.

I would like the `Open App` button to be visible only when my app is ready. otherwise, my users reach the URL and the App doesn't work as expected.

### Pitch

### Alternatives

### Additional context

__________________________________________________________

[2022-11-15 10:55] icedpanda opened #15688 "Error occurs when return None loss and using precision=16"
### Bug description

I have two data loaders/optimizers training interactively and following #14420. I need to return `None` in between.

The first epoch works fine and returning `None` loss **didn't trigger anything**. However, in the second epoch, returning `None` loss would prompt the error.

The training works only if precision=32.

I found #9352 but the latest docs don't mention anything abou

[2022-11-15 13:22] SeanNaren opened #15689 "Hydra + DDP Fails for NeMo after Hydra refactor in 1.8"
### Bug description

Related #15545

NeMo PR where regression was spotted https://github.com/NVIDIA/NeMo/pull/5353

After https://github.com/Lightning-AI/lightning/pull/11617 was merged and included in 1.8, this has caused NeMo to break with  DDP (as NeMo uses Hydra internally). I'm going to cross-paste the explanation from the above PR:

In this PR https://github.com/Lightning-AI/lightning/pull/1

[2022-11-15 14:30] yurijmikhalevich opened #15690 "Links on the web UI Lightning App docs page are broken: https://lightning.ai/docs/stable/levels/intermediate/embed_web_ui_into_lightningwork.html"
### Bug description

Links on the web UI Lightning App docs page are broken: https://lightning.ai/docs/stable/levels/intermediate/embed_web_ui_into_lightningwork.html

### How to reproduce the bug

_No response_

### Error messages and logs

[code]

### Environment

[code]

### More info

_No response_

cc @borda

[2022-11-15 14:43] #15690 closed

[2022-11-15 16:34] MetaHG opened #15692 "pytorch-lightning 1.8.1 not available on conda-forge"
### Bug description

PyTorch-lightning 1.8.1 is not available on conda-forge

### How to reproduce the bug

[code]

### Error messages and logs

conda search command output:
[code]

### Environment

[code]

### More info

None.

cc @borda

[2022-11-15 18:33] SpontaneousDuck commented on #15692
Looks like we are waiting on the feedstock build to be fixed: https://github.com/conda-forge/pytorch-lightning-feedstock/pull/103. Both 1.8.0 and 1.8.1 are currently failing for the same reason.

[2022-11-16 05:41] kelvins64 opened #15694 "DeepSpeed Zero 2 Fails to Save All Parameters"
### Bug description

Using DeepSpeed Zero 2 with certain models fails to properly save and reload the model checkpoint after conversion to the Lightning format.

In the provided example, several parameters do not appear in the `param_shapes` value of the Zero checkpoint (which the generated reconstruction script uses to build the state dict), despite appearing in the `module` value of the Zero che

[2022-11-16 08:40] sonsus commented on #4472
Shouldn't it be warned before just spitting core dump?

[2022-11-16 10:21] marcosfelt opened #15697 "MisconfigurationException raised on Lightning app startup"
### Bug description

On lightning 1.8.1, apps are not starting due to a misconfiguration error. This happens on both the example apps and my personal apps.

### How to reproduce the bug

Run this example code: https://github.com/Lightning-AI/lightning/blob/master/examples/app_dag/app.py

### Error messages and logs

[code]

### Environment

[code]

### More info

_No response_

[2022-11-16 10:48] tchaton opened #15699 "Enable moving the model to gpu within a work locally."
## 🚀 Feature

### Motivation

Lightning App MPBackend uses multiprocessing.Process to run the works. When trying to move a model to GPU locally, it raised a RuntimeError: Cannot re-initialize CUDA in forked subprocess.

[code]

[code]

### Pitch

### Alternatives

### Additional context

______________________________________________________________________

#### If you enjoy Lightning, check out

[2022-11-16 12:20] ChristophReich1996 commented on #15008
Hi, any updates on this? I'm facing the very same problem. A buggy solution that (sometimes) works for me is to first stop the job with W&B, wait for a few moments, and then kill the slum job with `scancle`. I expect that the time limit of `scancle` might be the issue here...

[2022-11-16 16:17] xwinxu commented on #9944
Curious, did this end up getting fixed?

[2022-11-16 17:59] #15697 closed

[2022-11-16 18:46] CCInc opened #15703 "Skip Sanity Check if Validation Dataloader is None"
### Bug description

I am making a generic base DataModule for all of my other DataModules to inherit from. The base datamodule will always define the train, test, and validation dataloader functions to abstract away the construction of those, but the actual datamodule may choose to not implement that particular split.

For `val_dataloader` in particular, if it is defined but returns `None`, I wou

[2022-11-16 21:47] SarBH commented on #15106
I could take this in as a new contributor. Can someone point me to next steps?

[2022-11-17 08:36] Stack-Attack opened #15705 "ModelCheckpoint Callback state loader with missing dir"
### Bug description

Loading a checkpoint with the ModelCheckpoint callback on a different machine (or with a missing/moved "best_model_path" dir) results in an error and crash.

A common use case for me is to train a model (with .ckpt stored elsewhere i.e Neptune), and then pull the checkpoint from that model to another machine to continue training later. This used to work in older versions, but

[2022-11-17 09:23] Stack-Attack commented on #15705
I wonder if it would be beneficial to allow the 'ckpt_path' of Trainer.fit() to accept a dict loaded from a .ckpt file using torch.load. Then you could manually remove problematic state dicts if required.

[2022-11-17 09:25] Logicino opened #15707 "__init__() got an unexpected keyword argument 'truncated_bptt_steps'"
### Bug description

Hello, I'm trying to run this project:
https://github.com/ws-choi/Conditioned-Source-Separation-LaSAFT
and came into the bug
1.
[code]
I followed some solutions in the issues to degrade the pytorch lightning into version 1.4.0, and it get other problems:
2.
[code]

To solve this questions, I take solutions like
https://github.com/cv-rits/MonoScene/issues/18
https://github.com/

[2022-11-17 09:51] cschell opened #15708 "EarlyStopping + min_epochs bug after upgrade to 1.8.x"
### Bug description

After the upgrade to 1.8.x I noticed that some of my runs started to behave strange. I noticed that this happened if the EarlyStopper kicked in, before `min_epochs` was reached: somehow the time for each epoch increases significantly, and the progressbar of the training step vanishes.

Here you see a figure from one of these runs (wall time (x axis) vs. epochs (y axis)) . You

[2022-11-17 11:12] nikvaessen opened #15709 "Disabling SLURM signalling prevents running code in a shell spawned with srun"
### Bug description

Because I don't want pytorch-lightning to handle SLURM signalling, I need to disable it with the following:

[code]
As a consequence, I cannot run my training scripts in a shell spawned by `srun`. This can be useful for quick debugging.

### How to reproduce the bug

Spawn a GPU-enabled bash shell on a SLURM cluster, e.g.:

[code]

Then run the following script:

[code]
The sc

[2022-11-17 11:20] #15709 closed

[2022-11-17 14:11] rubencart commented on #10635
I am getting a `...MisconfigurationException: We could not infer the batch_size from the batch...` error when running with a custom batch structure and `track_grad_norm=2`, since tracking the grad norm makes a call to `log_dict` without `batch_size` set.
[code]

[2022-11-17 17:26] justusschock opened #15713 "Multinode standalone not working on mps"
### Bug description

When running on  MPS capable devices, the multinode component sets accelerator="auto", devices="auto" and strategy="ddp" which will result in MPSAccelerator.
Since distributed on MPS is not supported, it has to be run on CPU for all apple silicon platforms instead.

### How to reproduce the bug

[code]

### Error messages and logs

[code]

### Environment

_No response_

### M

[2022-11-17 17:40] kvenkman commented on #4420
Could you point me to the location of the NCCL logs?

FWIW, I'm working on a single node running CentOS with 2 GPUs and `export NCCL_SOCKET_IFNAME=lo` is what worked for me.

[2022-11-17 23:23] pjspol commented on #14457
@carmocca @kaushikb11 @Borda I should mention that I tried the same thing in Kaggle (slightly adjusted from the Google Colab version), and the error that came up was `W tensorflow/stream_executor/platform/default/dso_loader.cc:60] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /opt/conda/li

[2022-11-18 01:41] marcosfelt opened #15717 "Version 1.8.1 of lightning missing redis dependency"
### Bug description

Lightning 1.8.2 seems to be causing issues with redis not being installed. I think this might be one of the auxiliary lightning packages rather than the main one.

### How to reproduce the bug

_No response_

### Error messages and logs

[code]

### Environment

_No response_

### More info

_No response_

[2022-11-18 05:23] himanshudoi commented on #5325
Hi I'm still facing a `KeyError: 'radam_buffer'` on the Trainer.fit command on passing the `ckpt_path` of an interrupted checkpoint.

pytorch-forecasting==0.10.1
pytorch-lightning==1.8.1

Error trace:

 `KeyError                                  Traceback (most recent call last)
/tmp/ipykernel_10535/1750406609.py in <module>
      4     train_dataloaders=train_dataloader,
      5     val_dataloade

[2022-11-18 07:28] josete89 opened #15718 "Add sagemaker experiment as Logger"
## 🚀 Feature

Create a new logger class which send the metrics to sagemaker experiments using the sagemaker experiments sdk

### Motivation

Since we use sagemaker in our daily basis for training models it’s a bit cumbersome to create regular expressions to parse the progres bar in order to get meaningful metrics in the UI.

### Pitch

Having available a logger class which makes really easy to dis

[2022-11-18 07:41] sjeaugey commented on #4420
NCCL logs will be printed to the standard output if NCCL_DEBUG is set.

[2022-11-18 08:33] ethanwharris commented on #15717
Hi @marcosfelt thanks for reporting this! This was a temporary issue that was addressed just after the release. Should now be working as expected 😃

[2022-11-18 08:39] marcosfelt commented on #15717
Thanks!

[2022-11-18 10:26] xiazhongyv opened #15722 ""TypeError: cannot pickle 'dict_keys' object" when GPU DDP training."
### Bug description

 `TypeError: cannot pickle 'dict_keys' object` when GPU DDP training.

### How to reproduce the bug

_No response_

### Error messages and logs

[code]

### Environment

[code]

### More info

_No response_

cc @justusschock @awaelchli @akihironitta

[2022-11-18 10:33] xiazhongyv commented on #15722
In fact, with pytorch-lightning 1.6.0 I ran into this problem when saving the model by ModelCheckpoint callback. I upgraded to version 1.8.2, and now I get this error when training starts.
[code]

[2022-11-18 13:04] awaelchli commented on #15689
Brief update: We decided to revert #11617 in #15727 to restore the previous behavior. We believe that this issue with Nemo is affecting more users than the original #11300, but we will revisit the original fix. https://github.com/Lightning-AI/lightning/pull/15727 is implementing the revert and I'm considering breaking out a test case based on what @SeanNaren has shared here. However, I need to stu

[2022-11-18 13:39] SeanNaren commented on #15689
Great! I'll be honest, the `exp_manager` case is specific to NeMo where we do not want hydra to anything but config management, so we disable everything else (and do our own output folders and such). I can imagine other repos doing the same, but just wanted to make it clear this isn't hydras' default behaviour.

[2022-11-18 15:15] xiazhongyv commented on #15722
#- PyTorch Lightning Version: 1.6.0
#- PyTorch Version (e.g., 1.10): 1.12
#- Python version (e.g., 3.9): 3.8
#- OS (e.g., Linux): Ubuntu 20.04.4 LTS
#- CUDA/cuDNN version: 11.6
#- GPU models and configuration: 8 GPU DDP
#- How you installed Lightning(`conda`, `pip`, source): pip
#- Running environment of LightningApp (e.g. local, cloud): local

When I set enable_checkpointing=True, but do not set

[2022-11-18 15:31] heytanay commented on #15012
Hi @awaelchli, can I take up this issue?

[2022-11-18 20:25] Abermal commented on #1088
The issue is still there.

[2022-11-18 21:36] adamjstewart opened #15730 "Incorrect type hints for LightningModule.load_from_checkpoint"
### Bug description

The `LightningModule.load_from_checkpoint` function appears to return type `Self?` instead of `LightningModule`.

### How to reproduce the bug

First, create a `test.py` file containing the following code:
[code]
Then, run mypy on this file:
[code]
You'll notice that the type of the second model is incorrect, so mypy raises an error when you try to access LightningModule attri

[2022-11-18 22:11] adamjstewart commented on #15730
I'm able to reproduce this outside of PL, so I opened an issue with typing-extensions: https://github.com/python/typing_extensions/issues/96

[2022-11-18 22:17] adamjstewart commented on #15730
Feedback from https://github.com/python/typing_extensions/issues/96 is that the latest release of mypy does not yet know how to handle `Self`. So we either need to manually cast to the right type, or use `TypeVar` instead.

[2022-11-19 01:31] justusschock commented on #15689
@SeanNaren would it be reasonable for you to create a custom Launcher based on these changes if we made custom launchers publicly available or do you consider this digging too deep into lightning internals?

[2022-11-19 02:57] gau-nernst opened #15733 "Add log_image for Tensorboard logger"
## 🚀 Feature

Currently Wandb and Neptune loggers have `.log_image()` method. It would be great to have the same method for Tensorboard also, so that we don't need to modify the code when changing the logger.

### Motivation

For quick experimentations, usually I start with Tensorboard logger first. Once the code is more stable and I want to do long-training, I switch to Wandb so that I can monito

[2022-11-19 03:10] titu1994 commented on #15689
If to even use Lightning we require custom launchers by default, it would mostly defeat the purpose of having lightning be a stable engine to train our models. We've had to do some necessary overrides of pytorch internals already to support model parallel and we'd rather not have to do that for every use of Nemo

[2022-11-19 05:39] s4sarath opened #15734 "DDP (multi GPU) Iterable Dataset is not working as expected ?"
### Bug description

Hi,

I am currently testing with IterableDataset and DDP.

Total Examples - ```10000```
Batch_size - ```32```
NUM_GPUS - ```2``` .

While using IterableDataset , ideally with 2 GPUS, we are supposed to run ```157 steps (10000 / 32 batch / 2 gpus) ``` in one epoch. But, instead of that, it is running for ``` 314 steps (10000 / 32 batch)``` .

This issue is only with IterableDat

[2022-11-19 07:33] justusschock commented on #15689
@titu1994 that's fair. We'll definitely be looking for other options!
Just wanted to know if we need to look into this direction or rather another

[2022-11-19 14:02] rusmux opened #15741 "LightningCLI does not recognize arguments when importing annotations from __future__"
### Bug description

I'm using Python 3.8 and to make it compatible with annotations from Python 3.9, I do an import:

[code]

But with this import, the LightningCLI gives me an error that my arguments are not recognized. Neither from the CLI nor from the yaml configuration files. See the minimal example below.

 I've spent several days trying to figure out what the problem is.

### How to reprodu

[2022-11-19 16:00] awaelchli commented on #15722
When using ddp_spawn, all objects in your code/model need to be pickleable.

You can set a breakpoint here:

  File "/home/xiazhongyu/anaconda3/envs/bev/lib/python3.8/multiprocessing/reduction.py", line 60, in dump
    ForkingPickler(file, protocol).dump(obj)

and inspect the object to find out.

[2022-11-19 16:07] awaelchli commented on #15703
The following code reproduces the issues:

[code]

Lightning 1.8.1

[2022-11-19 23:00] victor-yon commented on #15174
@mauvilsa I reviewed it with my personal account (this one)

[2022-11-20 12:34] kolakows opened #15743 "TQDMProgressBar refresh forces TPU to recompile compute graph"
### Bug description

TQDMProgressBar refresh forces TPU to recompile compute graph. This causes slow execute time.

### How to reproduce the bug

[code]

### Error messages and logs

[code]
Refresh_rate = 1

XrtCompile: 3, batch_idx = 0
Epoch 0:   0%|▎                                                                                                 | 2/625 [00:02<12:42,  1.22s/it, loss=0, v_num=0]Xr

[2022-11-20 15:56] blacksnail789521 commented on #7576
[code]

[2022-11-20 18:48] awaelchli commented on #15734
Yes this is expected. Lightning can't know how to shard the data/iterator you provide. You need to make sure your iterator returns half of the data on GPU 0 and the other half on GPU 1. You can do this for example by changing your for loop to something like this (typos expected):

[code]
This shards your data. The rank can be accessed for example through `trainer.global_rank`.

Another way would b

[2022-11-20 18:53] awaelchli commented on #15707
@Logicino This project does not support the latest version of Lightning. The `truncated_bptt_steps` argument in Trainer was deprecated and removed a long time ago. Please raise the issue directly on the project's issues page.

The [requirements file there](https://github.com/ws-choi/Conditioned-Source-Separation-LaSAFT/blob/main/requirements.txt) suggests that you can use pytorch-lightning 1.3.2 a

[2022-11-20 18:53] #15707 closed

[2022-11-20 18:58] awaelchli commented on #15733
We tried to provide image logging and similar in a consistent way in the past, but it never worked out well. See https://github.com/Lightning-AI/lightning/issues/11837, https://github.com/Lightning-AI/lightning/issues/12183. The issue is that the APIs for logging images are so vastly different for each logger, that the user needs to change the code anyway (the input format of log_image).

[2022-11-20 19:18] awaelchli commented on #15743
It could be that this is caused by the [metrics collection](https://github.com/Lightning-AI/lightning/blob/08d14ec190fd7dace6fa51997e6926a362cc9543/src/pytorch_lightning/callbacks/progress/tqdm_progress.py#L264) (the loss etc. we show in the bar), which involves tensor operations.

[2022-11-20 19:21] awaelchli commented on #15730
@adamjstewart This was recently added in #15496. See the explanation here: https://github.com/Lightning-AI/lightning/pull/15496#discussion_r1012788951

cc @carmocca

[2022-11-20 19:26] #15741 closed

[2022-11-20 19:26] carmocca commented on #15741
Thanks for reporting! This is a known issue and is tracked in https://github.com/omni-us/jsonargparse/issues/120 already. Closing this as a duplicate

[2022-11-20 19:28] #15717 closed

[2022-11-21 00:26] s4sarath commented on #15734
Makes sense.
One possible way is, set steps per epoch to half of iterable ( i know how
many records are there ).

In keras steps per epoch concept is there. Here, is there any way to
mention, every epoch say run 1000 steps.

On Mon, 21 Nov 2022 at 12:18 AM, Adrian Wälchli ***@***.***>
wrote:

[2022-11-21 02:02] YooSungHyun commented on #5558
@akihironitta hi! i'm using YourLightningModule code,
but, some epoch, get this error
[code]

my code like this
[code]

[2022-11-21 02:37] YooSungHyun commented on #5558
i'm agree with you and i will testing `32fp OneCycleLR` and `16fp OneCycleLR except warning`.
when i managed learning_rate in my self, i am faced much more error or side effect 😂. optimize is so hard to me 😣

[2022-11-21 02:37] YooSungHyun commented on #5558
@collinmccarthy

[2022-11-21 02:53] gau-nernst commented on #15733
If unified image logging API is not possible or does not work well, and user is expected to have custom code for each logger type, then having `.log_image()` for only Wandb logger (I notice that `.log_image()` for Neptune is removed) is unfair to other loggers and provide inconsistent user experience.

Currently `.log_image()` for Wandb logger is a wrapper for creating `wandb.Image` objects and lo

[2022-11-21 04:35] s4sarath commented on #15734
Makes sense.

One more doubt. In my ```DataLoader```  if my ```num_workers=2```, in each GPU, the whole training loop runs 2 times.
Say for eg:

Assume, my ```IterableDataset``` has ```10000 records``` and my ```batch size = 32 ```. So total steps = ```10000//32 = 314``` .

If my ```num_workers=2```, it is looping ```628 times in each GPU``` . Is this expected ?
Because, ```num_workers=2``` is sup

[2022-11-21 08:44] awaelchli commented on #15595
I'm sorry, maybe there is a misunderstanding somewhere. Can you explain again why limit_train_samples is needed and why

How would you implement this? Please show a training loop as a concrete example of the stopping condition.

[2022-11-21 08:54] awaelchli commented on #12233
I ran the script in a loop again 50 times and it didn't show the reference error. Let us know if the issue occurs again on Lightning >= 1.8.0.

[2022-11-21 08:54] #12233 closed

[2022-11-21 08:57] awaelchli commented on #14598
@shenoynikhil Sure, go for it <3

[2022-11-21 09:03] awaelchli commented on #15734
No. num_workers has nothing to do with the sampling of the data.

Read more about workers here: https://pytorch.org/docs/stable/data.html#multi-process-data-loading

[code]

[2022-11-21 11:34] carmocca commented on #15106
Why not configure the `dirpath` to write to a new directory?

[2022-11-21 12:02] carmocca commented on #15730
Exactly. You can install latest mypy by following the instructions in https://github.com/python/mypy#quick-start. I expect they'll make a release within the next month.

[2022-11-21 12:45] s4sarath commented on #15734
Thanks. But, if you could execute the above code by ```NUM_WORKERS=2```, you can notice that, in each GPUs ( 2 GPUS I have ) , it rans for ```626 steps```. Expected was ```313 steps = 10000//32```.

<img width="632" alt="image" src="https://user-images.githubusercontent.com/10637096/203056200-72a98a5c-6788-49bc-a97a-c2e26c897a33.png">

If ```NUM_WORKERS=1```, its working as expected .

<img width=

[2022-11-21 13:29] carmocca commented on #5325
@himanshudoi It looks like you are trying to reload an optimizer with a checkpoint that used a different optimizer class

[2022-11-21 13:40] #9138 closed

[2022-11-21 13:58] #14898 closed

[2022-11-21 16:26] CJunette commented on #9318
I might have a clue for this problem.

[code]

The error I met is also _ValueError: dictionary update sequence element #0 has length 1; 2 is required_.
And the problem is when the module tries to log the parameters, _some_method_ causes some bugs.

The method to solve it is easy. We can simply add "ignore='some_method'" in self.save_hyperparameters().
Such as:
[code]

[2022-11-21 17:58] #15604 closed

[2022-11-21 20:19] #15689 closed

[2022-11-21 20:31] #11538 closed

[2022-11-21 23:05] alvitawa commented on #960
Is there a way to get the learning rate directly? I already use the callback for logging it but I need i need the actual value for my model.

[2022-11-21 23:47] awaelchli commented on #11300
We had to revert part of this change in #15737. I'm reopening the issue so that we can continue to look for a solution that does not involve changing the current working directory.

[2022-11-22 01:48] carmocca commented on #15587
Thanks! You can go ahead and open a PR

[2022-11-22 01:50] zdhNarsil commented on #2953
Different from @nateraw 's answer, for my case, I found `self.logger.log_image("name", [grid,])` to be useful within a LightningModule.

[2022-11-22 04:10] ahmadmustafaanis commented on #15587
@carmocca can you also point me to a good first issue on which I can work? I see on most of the issues there are people already working.

[2022-11-22 05:14] jharris1679 opened #15765 "Enable gradients in validation_step"
## 🚀 Feature

Enable gradient calculations during evaluation loops.

### Motivation

Some loss functions require the gradients of the outputs with respect to the inputs. For example, a physics informed neural network uses these gradients in a differential equation as its loss function.

### Pitch

Add a `set_grad_enabled` flag to validation step to make the following possible for learning the cosi

[2022-11-22 10:14] awaelchli commented on #15545
@lminer the behavior was restored to how it was prior to 1.8 in  #15737
Lightning 1.8.3 will have this change included.

[2022-11-22 10:14] #15545 closed

[2022-11-22 11:44] carmocca commented on #15765
Hi!

You can enable grad during validation. You need to pass `Trainer(inference_mode=False)` and then you are free to use the context manager.

Duplicate of https://github.com/Lightning-AI/lightning/issues/13948

[2022-11-22 11:44] #15765 closed

[2022-11-22 14:01] mnslarcher commented on #15142
@awaelchli : we tried a lot of things but nothing, and now... it is OK again without changing a line of code. I think it is related to what AWS is running in it's containers or I have no idea what it could be, we also tried removing all logs and metrics from val but the problem remained (now it is gone again using the old code)

[2022-11-22 14:38] timothygebhard commented on #960
@alvitawa This may not be the best or most elegant solution, but inside your `model` (which inherits from `pl.LightningModule` and which is what you pass to your `Trainer` instance), you can do something like this:

[code]

This assumes that you only have a single optimizer; in principle, `self.optimizers()` can also return a list. Note also that this only works once the model is connected to a Tr

[2022-11-22 16:42] jharris1679 commented on #15765
Oh fantastic, I'll check this out, thank you!

[2022-11-22 18:02] jharris1679 commented on #15765
I've tried this but still seeing `RuntimeError: element 0 of tensors does not require grad and does not have a grad_fn` during validation steps, but I can get gradients successfully during a training step. Is there something else I'm missing?

[2022-11-22 18:24] carmocca commented on #15765
You will need to set `tensor.requires_grad_()` for the tensors you want to compute grads for.

[2022-11-22 22:04] nikvaessen opened #15777 "LearningRateMonitor callback doesn't work with manual optimization"
### Bug description

When setting `self.automatic_optimization` to `False` in a `LightningModule`, a `LearningRateMonitor` callback will not log the learning rate, even though `lr_schedule.step()` is called.

### How to reproduce the bug
https://colab.research.google.com/drive/16wvrmKqGtVrOCd8Uo3K83WLeIATChFbF?usp=sharing

### Error messages and logs

See colab

### Environment

See colab

### Mor

[2022-11-22 22:59] jgbos commented on #11300
I've been working to come up with a solution for this (and more generally).  A robust solution would remove Lightnings need to depend on `sys.argv` in launching subprocesses.   I think the following is possibly a robust solution using the `submitit` package, could someone else give it a try and let me know how it goes?

[code]

[2022-11-23 01:27] YooSungHyun commented on #5558
In my case, warning is not important.
i logged loss, lr
1. fp16_warning except: pink
2. fp32: purple
3. fp16_lr_step_override: brown

3 case is diffrent value each other, but very very very small.
so, i don't mind printing warning now.
cuda 11.4
python 3.9
torch-lightning 1.8.1
torch 1.13.0

[2022-11-23 03:20] adamjstewart opened #15781 "Incorrect type hints for LightningModule.save_hyperparameters and hparams"
### Bug description

Both `LightningModule.save_hyperparameters` and `LightningModule.hparams` seem to have type `Union[torch._tensor.Tensor, torch.nn.modules.module.Module]`. I would expect the former to be `Callable` and the latter to be an `AttributeDict`.

### How to reproduce the bug

[code]

### Error messages and logs

The above code should not have any mypy errors. However, it has several.

[2022-11-23 04:20] jharris1679 commented on #15765
Thanks for such a quick response! In my training step, I don't need to do that for the net output, and the loss function is working well. However in my validation_step, if I specify requires grad like so

[code]

and then take the grads like so

[code]

it gives

[code]

which is the same error I would get if I didnt set `inference_mode=False`. If I set `allow_unused=True` in `torch.autograd.grad`

[2022-11-23 04:47] jharris1679 commented on #15765
Ahh in addition to `.requires_grad_()` I had to put everything in my validation step under `with torch.enable_grad():`, and now it works! Thanks again.

[2022-11-23 07:30] Xiaotian0726 opened #15784 "Member variable declared wrongly in `metrics/src/torchmetrics/text/wer.py` and `metrics/src/torchmetrics/text/cer.py`"
Code block in `metrics/src/torchmetrics/text/wer.py` :
[code]

The member variable declaration line should be `errors: Tensor` rather than `error: Tensor`.

Same in `metrics/src/torchmetrics/text/cer.py`

[2022-11-23 07:32] Xiaotian0726 commented on #15784
Sorry, I should open this issue in `Lightning-AI/Metrics`. Now I close this.

[2022-11-23 07:32] #15784 closed

[2022-11-23 08:25] innat opened #15785 "simple profiler!"
Previously, I can use (from [source](https://pytorch-lightning.readthedocs.io/en/0.7.1/profiler.html)) :

[code]

But now, it looks like I've to do (from [source](https://pytorch-lightning.readthedocs.io/en/1.6.0/advanced/profiler.html)) :

[code]

[code]

The second output is too messy to inspect. How to simplify like the first one? Even the `SimpleProfiler(filename='bal')`, the txt is hard to in

[2022-11-23 12:24] cdeepali opened #15786 "cyclic dependency: lightning and lightning-api-access"
### Bug description

There is a cyclic dependency between lightning and lightning-api-access packages:

`lightning` requires `lightning-api-access`
and
`lightning-api-access` requires `lightning `

[code]

cc @tchaton

[2022-11-23 13:44] carmocca opened #15788 "TPU tests are broken"
## Proposed refactor

The error is:
[code]

If I had to guess, this was caused by a docker update

[2022-11-23 13:50] #15618 closed

[2022-11-23 15:54] thesofakillers opened #15794 "Add support for logging in different trainer stages with DeviceStatsMonitor"
### Bug description

I would like to use DeviceStatsMonitor during a trainer.test() call. I followed the [relative documentation](https://pytorch-lightning.readthedocs.io/en/stable/tuning/profiler_basic.html#measure-accelerator-usage) which makes no mention of whether this callback is exclusive to trainer.fit().

Despite following the docs, I get no device stats logs in my tensorboard

### How to

[2022-11-23 16:33] nicolas-dufour opened #15795 "on_checkpoint_write_end callback"
## 🚀 Feature

A callback for when the checkpoint has finished to be writen.
on_save_checkpoint is indeed triggered before the checkpoint is written to disk.

### Motivation

My motivation is that i want to launch some codes once i'm sure that the checkpoint has been created (some validation on checkpoints to be runed as different processes

### Pitch

I want to be able to write callbacks which can

[2022-11-23 16:51] glothe opened #15796 "[CLI] init_args is not properly discarded when class_path changes"
### Bug description

When loading a config and overriding a `class_path` from the CLI, the `init_args` are not properly ignored (even though a warning is correctly issued). If the argument of the new class do not match does of the previous one, a `'Configuration check failed :: No action for destination key "..." to check its value.'` is raised.

I haven't been able to reproduce this in jsonargpar

[2022-11-23 17:12] carmocca opened #15797 "Programatic lightningignore"
## 🚀 Feature

Support that flows and works define a `lightningignore: List[str]` attribute that can be customized. The app recursively merges all present before uploading files to the cloud

### Motivation

When the user copies an `app.py` snippet from the docs and writes it to a new directory, a `.lightningignore` file is not present. If the app is run locally (`lightning run app app.py`) and it

[2022-11-23 22:11] mauvilsa commented on #15796
Thank you for reporting! I have been able to reproduce the problem and will look into why this is happening.

[2022-11-23 23:47] chongxiaoc opened #15802 "[Horovod] ModelCheckpoint and EarlyStopping CBs hit errors with Torch 1.13+"
### Bug description

Since PyTorch 1.13, we have observed that ModelCheckpoint and EarlyStopping callbacks would hit an undefined symbol error with Horovod strategy.

Details and examples are in https://github.com/horovod/horovod/commit/e392eb9daf09d2c987497686ae82b62c924c9c27

It is reproducible with `Torch 1.13` alone, but I think underneath, `reduce_op` from`DDP` should be not mixed with `Horov

[2022-11-24 01:56] #15256 closed

[2022-11-24 02:58] Stack-Attack commented on #14036
I am also still seeing this error.

[2022-11-24 05:57] Johnson-yue commented on #15686
yes , I have some problem, when I  add 'search_chunk_size()' function in ChunkManager  code  from [here](https://github.com/hpcaitech/ColossalAI/pull/1052/files)   and another error out

`ChunkManager.__init__() takes from 2 to 3 positional arguments but 5`
And I have no idea what to do

It seems that the colossalAI code version in lightning is not pair to colossalAI-master or colossalAI version c

[2022-11-24 08:07] Hannibal046 commented on #15595
Hi, I think this depends on how to define **batch**. I am more familiar with this definition:
[code]

[2022-11-24 13:15] carmocca commented on #14036
Can you share the full error stacktrace?

[2022-11-24 19:58] happen2me commented on #11736
I think the l`og_hyperparameters` should be renamed to conform with the original function name `log_params` in MLFlow. This will cause less confusion.

[2022-11-25 01:19] alecmerdler commented on #15539
@awaelchli @carmocca Any update on this issue?

[2022-11-25 04:25] iceboundflame commented on #14374
Also observed this happening (`conda install pytorch-lightning -c conda-forge` installed pytorch-lightning 0.8.5 and openssl 1.1.1).

[2022-11-25 10:21] awaelchli commented on #15786
@tchaton @hhsecond It looks like we added a component repo as a base requirement in Lightning. This shouldn't be there since it's optional and not required to run apps. Let's remove it?

[2022-11-25 10:25] awaelchli commented on #15794
Hi @thesofakillers
That's because the callback only implements the training hooks right now. Adding support for multiple stages would be welcome!

[2022-11-25 10:29] awaelchli commented on #15802
Thanks @chongxiaoc! Were you able to fix the issue by replacing the reduce op with the correct one from Horovod?

[2022-11-25 10:39] awaelchli commented on #15781
@adamjstewart Our signature for `save_hyperparameters` has the return type annotated as None.
It might be because `__getattr__` from `nn.Module` has type `Union[Tensor, 'Module']`. I'm not sure what can be done here, any ideas?

[2022-11-25 11:12] Borda commented on #15786
yeah, that was exactly what I was hunting in #15776

[2022-11-25 12:24] kolakows commented on #15743
I've been looking into the code trying to debug the superfluous graph recompilations and noticed that there is a difference when testing on 1 vs 8 TPUs.

While using a single TPU, the single_tpu.py  strategy is used, which seems to not be wrapping the dataloader with MpDeviceLoader, which is used in the multi TPU tpu_spawn.py strategy [here](https://github.com/Lightning-AI/lightning/blob/08d14ec19

[2022-11-25 12:44] kolakows commented on #15743
As for the compute graph recompilations, the [running_loss accumulator](https://github.com/Lightning-AI/lightning/blob/08d14ec190fd7dace6fa51997e6926a362cc9543/src/pytorch_lightning/loops/batch/training_batch_loop.py#L35), which is stored on the device, is problematic. Because it's on device, it means that there is a compute graph being built behind the accumulation logic, this [line](https://gith

[2022-11-25 13:01] carmocca commented on #15781
We weren't able to find a solution to `nn.Module.__getattr__` return annotations and in fact have many ignores around the codebase because of it. I don't think there's any feasible solution

[2022-11-25 17:48] kolakows commented on #15743
I don't think so, `.detach()` tells PyTorch that there is no need to track the gradient graph, but the graph for performing loss aggregation still needs to be built, as it is defined as a chain of operations on the TPU. Not sure how to correctly ''detach'' the TPUs computation graph, maybe a well placed `xm.mark_step()` to force graph compilation and execution will do the trick.

[2022-11-25 17:59] adamjstewart commented on #15781
Hmm, what you're saying makes sense. I was going to open an issue with mypy with a simple reproducer and ask for advice, but I can't seem to reproduce this behavior. The following code:
[code]
passes all checks:
[code]
If what you're saying is true, shouldn't `reveal_type` show the function signature for `__getattr__`, and shouldn't mypy complain that the type of `z` changed from `int` to `Union[T

[2022-11-25 18:09] carmocca commented on #15781
Here's the relevant issue upstream: https://github.com/pytorch/pytorch/issues/81462

[2022-11-25 18:16] adamjstewart commented on #15781
Thanks, I'll close this issue and follow that discussion.

[2022-11-25 18:16] #15781 closed

[2022-11-26 01:30] awaelchli opened #15825 "Add support for activation checkpointing in FSDP without boilerplate"
## 🚀 Feature

### Motivation

Adding activation checkpointing in FSDP is easy but requires to write some boilerplate code.
See the tutorial here: https://www.youtube.com/watch?v=5B4d0FuxSQc

### Pitch

Expose an argument in FSDP to which the user can pass their transformer block.

Before:

[code]

After:
[code]

### Alternatives

😡

### Additional context

_________________________________________

[2022-11-26 05:47] carmocca commented on #15788
Looks like this error wasn't caused by any PR. It started failing in master after aef94ce52bd13c370225875dc5466503cff4b70e

[2022-11-26 07:49] OldWheat opened #15831 "Why is the loss in the progress bar different from the one logged manually"
I follow the tutorial Lightning in 15 minutes(https://pytorch-lightning.readthedocs.io/en/stable/starter/introduction.html#maximize-flexibility).

But I don't understand what the training pbar means. Why is loss different from self.log("train_loss", loss, prog_bar=True)?

I look forward to receiving answers soon. Thanks!
![图片](https://user-images.githubusercontent.com/64899054/204078269-2759e52a-2

[2022-11-26 12:41] Al3xDo commented on #15143
Hi @awaelchli, I would like to work on this issue.

[2022-11-26 13:51] BakerBunker commented on #10914
Any updates? After lightning v1.8 update, EMA callback implemented by @hal-314 in this issue has been deprecated.

[2022-11-26 19:19] lminer commented on #15545
@awaelchli I actually got it to work. It was indeed a problem with my configuration!

[2022-11-26 20:23] jordiclive opened #15834 "Cannot load or use checkpoint with deepspeed stage 2 on 8 GPUs"
### Bug description

With `strategy= "deepspeed_stage_2"` and training on (8*40Gb A100), `resume_from_checkpoint` fails and also `convert_zero_checkpoint_to_fp32_state_dict` fails. There is no way to use the checkpoint. This checkpoint callback looks like this ```checkpoint_callback = pl.callbacks.ModelCheckpoint(
        dirpath=odir,
        monitor="val_loss_epoch",
        mode="min",

[2022-11-26 23:38] adamjstewart commented on #15730
Decided to manually cast things to the right type for now. Will look out for the new mypy release. Thanks for the pointers!

[2022-11-26 23:38] #15730 closed

[2022-11-26 23:43] awaelchli commented on #15831
The difference is that the default logged loss "loss" is smoothed over a window of a few values, while the value logged by you is the exact one that was seen on each step (not smoothed).

[2022-11-27 01:31] albertwujj commented on #15794
Hi, I'd like to work on this. I'm new to this library, but am currently reading through everything related, the Trainer run function, the train/eval/predict Loops and EpochLoops, the logger connector.

[2022-11-27 05:24] albertwujj commented on #15794
Currently, for 'fit' runs DeviceStatsMonitor only logs every n steps as defined by Trainer's 'log_every_n_steps' variable.

How do we decide how often to log for 'test' runs? With the same 'log_every_n_steps' variable or something else?

[2022-11-27 05:28] albertwujj commented on #15794
To have a base to start with, here is a fork where I enabled logging for 'test' AKA 'eval' runs. I used the same 'log_every_n_steps' as 'fit' runs. However, the 'fit' epoch loop keeps track of a _batches_that_stepped, but the 'test' loop does not. As far as I can tell, the 'eval' epoch loop's variable batch_progress.total.completed tracks the same thing, but I am not certain.

efc6dccab5b9718c66d4

[2022-11-27 10:52] #15174 closed

[2022-11-27 16:12] snknitin commented on #15514
Use `loss.item()` when you aggregate your losses across batches at the end of the epoch. Especially for logging. Found that after reading through a lot of issues and stackoverflow posts. Compiled some useful suggestions for solving CUDA out of memory issues  [here](https://medium.com/@snk.nitin/how-to-solve-cuda-out-of-memory-error-850bb247cfb2?sk=165a35fded1811fa749756cb1f7b5c19)

[2022-11-28 00:02] chongxiaoc commented on #15802
Hi @awaelchli , I believe there was a historical reason of adding `torch DDP sum` op into horovod part code.
From this commit:
https://github.com/Lightning-AI/lightning/commit/b37b58a73e74e173f4efc674a9ac2d4bb978e422

[2022-11-28 02:43] Atharva-Phatak commented on #15190
Is this open. I would like to take this up :)

[2022-11-28 06:31] mauvilsa commented on #15796
I have created a pull request (https://github.com/omni-us/jsonargparse/pull/199) that fixes the issue described above. Though, there is a slightly different case which still is not fixed, a class within a list. Probably we shouldn't close this issue until this similar case is resolved.

[2022-11-28 10:22] SeanNaren commented on #10914
Sorry for the late response here, within NeMo I have added an EMA callback which we have tested/used. This is based on the PyTorch Lightning Callback, can be seen here: https://github.com/NVIDIA/NeMo/blob/main/nemo/collections/common/callbacks/ema.py

We're doing some performance improvements that may require more involvement from NeMo, so to use separately would require some stripping down. Progr

[2022-11-28 13:51] gshaikov opened #15852 "ModelCheckpoint tries to find monitored key on non-zero ranks"
### Bug description

Hi, we're using `ModelCheckpoint` with `save_top_k=2` to keep track of the best checkpoints based on `monitor=val_auc`.

We're computing and logging `val_auc` on `validation_epoch_end`, however we only do it on *rank zero*.

[code]

If we run this model over >1 GPUs, we get an error:
[code]

This tells us that `ModelCheckpoint` ran on other ranks too, not just on rank zero. Th

[2022-11-28 16:17] alfieroddan commented on #2427
I also am in need of gradients at test step for my research!

@williamFalcon Makes sense that it isn't enabled by default but why should it behave different to validation (I imagine something to do with freezing the optimizer param group)? I couldn't find the code in the core loops that causes this behaviour.

To be clear of my issue is during `test_step` my logits do **not** `require_grad` or hav

[2022-11-29 01:10] davidgilbertson opened #15855 "Incorrect error message: Trainer is already configured with a `BatchSizeFinder` callback"
### Bug description

I have a trainer with a `LearningRateFinder` callback. In trying to get it to work, I've set `auto_lr_find=True,` on the trainer and have called `trainer.tune()` (I don't know what I'm doing, as you can probably tell).

The bug is that the error message says "`BatchSizeFinder` callback", when it should say "`LearningRateFinder` callback".

Offending code is here: https://githu

[2022-11-29 01:22] davidgilbertson opened #15856 "`LearningRateMonitor` doesn't reflect `LearningRateFinder` changes"
### Bug description

It seems that when `LearningRateFinder` changes the LR of my model's optimizer, this isn't reflected in the values logged by `LearningRateMonitor`.

I think the offending line of code is here: https://github.com/Lightning-AI/lightning/blob/master/src/pytorch_lightning/callbacks/lr_monitor.py#L187-L191 as at version 1.8.3.post1

Where `trainer.optimizers` returns the optimizer

[2022-11-29 16:31] amorehead opened #15860 "Cannot perform single-GPU sampling while training generative model with multiple GPUs"
### Bug description

When training a denoising diffusion probabilistic model, I cannot execute a single-GPU (i.e., `@rank_zero_only`) function to perform sampling with the model partway through training with multiple GPUs (e.g., every 20 epochs). Sampling in this way is useful for evaluating how reasonable the model's generations are at different periods of training.

### How to reproduce the bug

[2022-11-29 17:44] dbl001 opened #15861 "trainer = Trainer(accelerator="mps", devices=1)"
## 🚀 Feature

MPS support on MacOS Ventura with an AMD Radeon Pro 5700 XT GPU
### Motivation
MisconfigurationException: `MPSAccelerator` can not run on your system since the accelerator is not available. The following accelerator(s) is available and can be passed into `accelerator` argument of `Trainer`: ['cpu'].
[...]. If this is related to another GitHub issue, please link it here -->

### Pitch

[2022-11-29 20:49] bilelomrani1 opened #15862 "`.forward()` got an unexpected keyword argument when using `QuantizationAwareTraining`"
### Bug description

When using multiple input tensors to the `.forward` method and when using the `QuantizationAwareTraining` callback, the inputs are not being handled properly by the callback. This may be related to #8677 which is not solved currently.

If I understand [this code](https://github.com/Lightning-AI/lightning/blob/33e1f9345d13c8dbb9047ecebc94745c576035e7/src/pytorch_lightning/callb

[2022-11-29 23:30] fmorlock-tt opened #15866 "Stop NeptuneLogger experiment on deallocation"
### Bug description

The [NeptuneLogger](https://pytorch-lightning.readthedocs.io/en/stable/_modules/pytorch_lightning/loggers/neptune.html) class does not appear to stop the experiment tracking (leaving a zombie connection to the logger server) when deallocated.

When a training session in a script running multiple training sessions ends, the corresponding logging session to neptune.ai remain ope

[2022-11-30 07:40] vacmar01 commented on #15254
Any updates on this?

[2022-11-30 09:39] Mogreine commented on #10964
Have exactly the same issue when pretraining [DeBERTa](https://huggingface.co/docs/transformers/model_doc/deberta#transformers.DebertaForMaskedLM). Use [lightning function](https://pytorch-lightning.readthedocs.io/en/latest/advanced/model_parallel.html#collating-single-file-checkpoint-for-deepspeed-zero-stage-3) for checkpoints merging. When loading lightning module get the following error:
`Missi

[2022-11-30 11:08] SerezD opened #15874 "DDP fails on multinode if each node has a different number of GPUS"
### Bug description

Hi there,

I'm launching a PyTorch-Lightning script in a multinode environment.
In order to do so, I have followed the suggestions at this link:
https://pytorch-lightning.readthedocs.io/en/stable/clouds/cluster_intermediate_1.html

I have configured a bash script that gets the number of nodes assigned and the number of GPUS on each node, as well as the MASTER NODE, MASTER ADDR