[2021-04-18 00:06] sordonia commented on #7073
Is there a straightforward way for the user to specify to use the `AzureMLEnvironment` ?

[2021-04-18 00:16] tmbdev commented on #7003
Thanks. I got something to work like this, but only on a local machine

[code]

When I use it on different hosts, things still fail:

[code]

[code]

It looks like the jobs ignore the MASTER_ADDR and just pick their own on localhost anyway.

Source is here: https://github.com/tmbdev/webdataset-lightning/blob/f4d837dda1216ca0be8049c1a4297c49486b8ba2/train.py#L221

[2021-04-18 00:37] awaelchli commented on #4866
Looking into fixing this now.

[code]

[2021-04-18 00:46] turian commented on #7028
I see. Thank.

I'm not exactly sure how to make it more clear, but the headline "Manual Logging" is maybe a bit off-base for me. "Manual Logging to a Supported or Custom Logger"?

[2021-04-18 00:46] #7028 closed

[2021-04-18 01:09] awaelchli commented on #7073
I suggest this:

[code]

Need to document this

[2021-04-18 04:11] VirajBagal opened #7078 "ValueError: Attempting to unscale FP16 gradients."
I have the following ArcMargin module within a model.

[code]

It trains well w/o precision=16. But when I do precision=16 in the Trainer, I get the following ValueError in the backward pass:

[code]

[2021-04-18 08:21] vballoli commented on #7078
I might be wrong here, but I believe the error is from PyTorch when `torch.cuda.amp.autocast` is invoked, which in this case should not contain any manual half tensors. From the docs [here](https://pytorch.org/docs/master/amp.html#torch.cuda.amp.autocast):

I think changing `self.weight` to `self.weight = nn.Parameter(torch.Tensor(out_features, in_features))` should work in this case and PyTorch a

[2021-04-18 10:09] VirajBagal commented on #7078
Thanks @vballoli . Your suggestion works!

[2021-04-18 10:09] #7078 closed

[2021-04-18 11:10] awaelchli commented on #7016
I will remove the bug label and treat it as an enhancement, because the default DistributedSampler sets a default value for the seed, so experiments are still reproducible.
However, note that if we make that change, we cannot guarantee full parity from one version to the other.

[2021-04-18 11:52] awaelchli commented on #7013
Can we support CombinedLoader in validation directly?
The logic in training vs. validation is quite different here. In validation we get a list of dataloaders and we replace the sampler on each of them, but the logic here https://github.com/PyTorchLightning/pytorch-lightning/blob/71b4611c64059d7589e4d80115209fd2c89e8bdb/pytorch_lightning/trainer/data_loading.py#L106 only checks for a DataLoader in

[2021-04-18 12:05] awaelchli commented on #7021
PR on this is more than welcome! Great observation. Btw I believe we don't expect users to directly call `self.logger.log_metrics`, but we should still fix it :)

Does Comet accept scalar tensors? If it can do the tensor->Python conversion, I would go with `val.cpu().detach()` as in the other loggers.

[2021-04-18 12:10] #6981 closed

[2021-04-18 12:12] aribornstein opened #7083 "PyTorch Geometric Link Broken In Docs"
## 🐛 Bug

The link on this page doesn't resolve

https://pytorch-lightning.readthedocs.io/en/latest/ecosystem/pytorch_ecoystem.html

We should consider highlighting other community ecosystem projects such as
- https://github.com/manujosephv/pytorch_tabular
- https://github.com/asteroid-team/asteroid

[2021-04-18 12:13] linhx13 opened #7085 "core dump used with timm 0.3.2"
## 🐛 Bug

core dump used with timm 0.3.2 and pytorch 1.8.1

## Please reproduce using the BoringModel

[code]
Run above code, it will core dump.

[code]
However, run this code, it's ok.

### To Reproduce

Use following [**BoringModel**](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing) and post here

### Expected behavior

Both codes should be ok.

### Environm

[2021-04-18 12:20] linhx13 commented on #7085
[code]
And this will core dump too

albumentations              0.5.2

[2021-04-18 12:27] kaushikb11 opened #7086 "[TPU Spawn] `Cannot replicate if number of devices (1) is different from 8` Error"
## 🐛 Bug

[code]

### Environment

**Note**: `Bugs with code` are solved faster ! `Colab Notebook` should be made `public` !

* `IDE`: Please, use our python [bug_report_model.py](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/bug_report_model.py
) template.

* `Colab Notebook`: Please copy and paste the output from our [environment collection script](https://raw.git

[2021-04-18 12:38] awaelchli commented on #7083
Not sure why there is only one item in PyTorch Ecosystem examples. Should we simply combine this with the section "Community Examples"?

[2021-04-18 12:38] kaushikb11 opened #7088 "[TPU Spawn] RuntimeError: Cannot re-initialize CUDA in forked subprocess."
## 🐛 Bug

[code]

### Environment

**Note**: `Bugs with code` are solved faster ! `Colab Notebook` should be made `public` !

* `IDE`: Please, use our python [bug_report_model.py](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/bug_report_model.py
) template.

* `Colab Notebook`: Please copy and paste the output from our [environment collection script](https://raw.git

[2021-04-18 12:53] awaelchli commented on #7085
[code]

no issue for me :(

Both with timm==0.3.2 (as reported) and latest 0.4.
Try to install a fresh environment with only torch, timm, and lightning?

* CUDA:
        - GPU:
                - GeForce RTX 3090
                - GeForce RTX 3090
                - GeForce RTX 3090
                - GeForce RTX 3090
                - GeForce RTX 3090
                - GeForce RTX 3090

[2021-04-18 13:07] linhx13 commented on #7085
yes, it's fine, thanks

[2021-04-18 13:07] #7085 closed

[2021-04-18 15:38] awaelchli commented on #7003
You need to select more than one GPU, otherwise it it will not run with the DDP plugin. This is why it ignores env variables that you supply

[2021-04-18 16:17] nihirv commented on #7023
Fixed the bug! Thanks for the advice about the debugger - wouldn't have been able to solve it without it. This isn't a strictly a lightning issue but an issue with having a useful warning for `self.log` could be a potential solution. Basically, I had a `calculate_losses()` method in my `pl.LightningModule` class:

[code]

The function checked whether a parameter (in this case `kld`) is `None` or n

[2021-04-18 16:30] awaelchli commented on #7023
Great. Happy you were able to find it yourself with the debugger.
Btw, LightningModule knows which device it is on. Instead of `self.args.device `you can just ask for `self.device` directly.

[2021-04-18 16:30] #7023 closed

[2021-04-18 16:31] awaelchli commented on #7023
... or, generally also outside LightningModule in pure pytorch, this is also a solution:

[code]

[2021-04-18 16:34] awaelchli commented on #5717
Did this by any chance fix it for you? #6705
`pip install -U pytorch-lightning`

[2021-04-18 17:54] alexandrebone opened #7089 "Using SWA callback triggers useless deepcopy of data loaders"
## 🐛 Bug

Using SWA callback triggers a deepcopy of the whole PyTorch Lightning module ("pl_module") at the on_before_accelerator_backend_setup hook (lines 140-142 of pytorch_lightning/callbacks/swa.py file). The PyTorch Lightning has the dataloaders as attributes, hence using deepcopy leads to the (useless) duplication of training and validation data loaders.

### Expected behavior

No copy of th

[2021-04-18 19:39] awaelchli commented on #5313
@MultiLi Is there a specific reason why you need to subclass Tensor? And in which cases does this break in Lighting? Afaik we only call .to() on tensors and we do instance checks against torch.Tensor which should work fine with your classes.

[2021-04-18 21:42] #7086 closed

[2021-04-18 21:42] #7088 closed

[2021-04-18 21:51] #6442 closed

[2021-04-18 21:51] #6351 closed

[2021-04-18 22:50] #6484 closed

[2021-04-18 22:51] #6319 closed

[2021-04-18 22:51] #6430 closed

[2021-04-18 22:51] #6435 closed

[2021-04-18 22:51] #6385 closed

[2021-04-18 22:51] #6316 closed

[2021-04-18 22:51] #5921 closed

[2021-04-18 22:51] #5894 closed

[2021-04-18 23:49] NicoMandel commented on #7050
Hi guys thank you for the help.

I now tried moving the following two lines around in multiple ways:
[code]

1.  As part of `train_dataloader(self)` - including `num_sanity_val_steps=0` as an argument for the trainer leads to training and stop at Epoch 0, 91% with the error:
[code]
2. In the `val_dataloader` with, `num_sanity_val_steps=0`:
[code]
3.  Using `setup(self)` and `prepare_data(self)` as

[2021-04-19 00:06] kazhang opened #7090 "Using SWA callback in iteration based training loop"
## 🚀 Feature
Stochastic Weight Averaging (SWA) Callback supports iteration based training loop.

### Motivation

The SWA callback currently assumes the training loop is based on epochs.  However, for certain training runs, the training loop could be purely based on number of iterations. For example, [Detectron2](https://github.com/facebookresearch/detectron2/blob/master/detectron2/engine/train_loo

[2021-04-19 00:06] NicoMandel commented on #7050
Changing the naming from `self.train, self.val` to `self.train_data, self.val_data` actually seemed to fix the issue!

[2021-04-19 04:14] ananthsub commented on #5586
@awaelchli https://github.com/PyTorchLightning/pytorch-lightning/issues/6420 is a related view of this

[2021-04-19 05:50] yllgl opened #7093 "Pure pytorch is 1.5 times faster than pytorch-lightning when using multiple gpus"
## 🐛 Bug
I found pytorch-lightning is much slower than pure pytorch. In lightning, it's about 1:30 per epoch. However, in pure pytorch, it's just about 50s per epoch. I think it's a huge difference because I want to train 200 epochs, which means I will cost more than 2 hours to finish it. I use multiple GPUs and slurm.

<details>
<summary>dataloader.py</summary>

[code]
</details>

<details>
<summ

[2021-04-19 06:16] tmbdev commented on #7003
Just to summarize again: as a minimal test, I'm trying to start up distributed training between two nodes (192.168.1.3 and 192.168.1.9), each running one job, with each job getting one GPU.

It sounds like you are saying that `--gpus` specifies the total number of GPUs for the entire distributed job. However, that's not what the `--gpus` option seems to mean; not only does it alternatively allow t

[2021-04-19 06:33] ananthsub commented on #7093
With multiple GPUs, try Lightning with this DDP plug-in setting: https://pytorch-lightning.readthedocs.io/en/1.2.5/benchmarking/performance.html#when-using-ddp-set-find-unused-parameters-false

Do you still see a drastic performance difference?

[2021-04-19 06:34] Tim-Chard commented on #7093
Why are you using such a small batch size? Also, it is not exactly an apples to apples comparison. The logging that lightning is doing is a lot more extensive than what you are doing in the pytorch version. You are also probably making things quite a bit worse by `log_every_n_steps=1` in the lightning Trainer.

[2021-04-19 06:51] yllgl commented on #7093
After I set `log_every_n_steps=23` and `progress_bar_refresh_rate=23` and `plugins=DDPPlugin(find_unused_parameters=False)` it only cost 53s per epoch. Thank you very much!

[2021-04-19 06:51] #7093 closed

[2021-04-19 08:00] tchaton commented on #7090
Dear @kazhang,

Would you like to contribute this feature to Lightning ?

Best,
T.C

[2021-04-19 08:19] plarrenie commented on #5717
@awaelchli  I tested on the boring model and on my personnal application and it seems that this issue is fixed perfectly. (both computation time and logs confirm that model is training after the "stop" signal was raised).

Thanks !

[2021-04-19 08:29] awaelchli commented on #5717
Happy to hear that. Thanks for confirming.

[2021-04-19 08:29] #5717 closed

[2021-04-19 08:42] awaelchli commented on #7050
Oh yes, not that I look at it again, self.train was a bad name because train is an existing method in nn.Module! Overwriting that is going to fail, and then when trainer is trying to call model.train(), it tries to call the dataset.
Did all the other points resolve as well?

[2021-04-19 08:45] tchaton commented on #7089
Dear @alexandrebone,

The `dataloaders` are wrapped into functions and it shouldn't cause an increase of memory during the deepcopy.

However, I am not sure about dataset. I will check.

Best,
T.c

[2021-04-19 08:46] tchaton commented on #7083
Hey @awaelchli, I think the goal was to separate random projects using Lightning from PyTorch Ecosystem ones.
But it looks weird to have only 1.

[2021-04-19 08:54] awaelchli commented on #7083
One option is to have a single page with two sections until the list fills up with more examples.

[2021-04-19 09:20] edenlightning commented on #6129
@tchaton update?

[2021-04-19 09:22] edenlightning commented on #6228
should we just add clarifications in the docs?

[2021-04-19 10:46] korotaS commented on #1598
@HuviX
On PL version 1.2.3 I didn't have this issue, but when I switched to the new environment and installed version 1.2.8, this issue appears.
So  switching back to 1.2.3 worked for me

[2021-04-19 12:55] quancs commented on #5301
Is there any update for this feature? I also want the same thing.

[2021-04-19 13:06] Alexfinkelshtein commented on #5339
@carmocca , related but not addressing the exact same matter, what about exposing the **strict** flag of the torch.nn.Module.load_state_dict?
I have a use-case where my model has some buffers (non-parametric) that sometimes I need to save (to have a standalone version) and sometimes I don't, in favor of lean checkpoints. Most of the buffers are initialized on model init.
alternatively introducing

[2021-04-19 13:17] bokutotu opened #7099 "When training with ddp, the tensorboard logger is not initialized properly and training does not start."
## 🐛 Bug
I am trying to train using 4 gpu's with ddp+hydra+tensorboard, but the training stops with an unknown error.
The condition where I run into this problem is when `cfg.num_gpus` is -1 and `cfg.accelerator` is `ddp`.

When training with only one GPU, the problem does not occur. That is, if `cfg.num_gpus` in the code below is 1 and `cfg.accelerator` is `None`.

## Please reproduce using the B

[2021-04-19 13:48] #7052 closed

[2021-04-19 13:50] #7016 closed

[2021-04-19 14:24] georgesoteriou opened #7101 "8 TPUs save images breaks for larger models"
## 🐛 Bug

When using functions like below in a environment with 8 TPUs to save an image to disk or log it, it only works if your model is small enough.
[code]

## Please reproduce using the BoringModel

### To Reproduce

Use following [**TPU save image BoringModel**](https://colab.research.google.com/drive/1rNYD_61GDCqW_E4kW8M1l-RiWCKw060j?usp=sharing)

### Expected behavior

Using a big model lik

[2021-04-19 14:57] tchaton commented on #6544
Dear @dln22,

Could you share a reproducible script which fails sometimes with the BoringModel ?

Best,
T.C

[2021-04-19 15:20] carmocca commented on #5339
You can already set the strict flag in `load_from_checkpoint`:

https://github.com/PyTorchLightning/pytorch-lightning/blob/d12c6cf2b358c989d0d8bc17018049def99d6129/pytorch_lightning/core/saving.py#L62

which is passed to:

https://github.com/PyTorchLightning/pytorch-lightning/blob/d12c6cf2b358c989d0d8bc17018049def99d6129/pytorch_lightning/core/saving.py#L205

[2021-04-19 15:23] #2001 closed

[2021-04-19 15:36] carmocca commented on #6083
Closing as there is no plan for any more bug-fix releases until 1.3 is out

[2021-04-19 17:34] THasthika opened #7103 "Trainer crashes on checkpoint save when wandb run is initiated externally and passed into the WandbLogger"
When defining the wandb run externally and passing it into the WandbLogger, the `_save_dir` property of the model is not set.

I've made an update to the WandbLogger to accommodate for the change in the pull request attached to this issue.

![image](https://user-images.githubusercontent.com/3067668/115278588-40725100-a163-11eb-9e23-4799b0ea73e1.png)

https://github.com/PyTorchLightning/pytorch-lig

[2021-04-19 17:42] tchaton commented on #7003
Hey @tmbdev,

I actually get DDPPlugin. Mind checking on your side ?

[code]

[2021-04-19 17:53] tchaton commented on #6990
Dear @import-antigravity,

I don't think it would be good practice to implement a second model forward in on_train_batch as Lightning won't be able to optimise properly.

You should encapsulate your logic in training_step directly and use manual_optimization if needed.

Best,
T.C

[2021-04-19 18:04] tchaton commented on #6929
Dear @mesejo,

Could you make a PR for this ?

Best,
T.C

[2021-04-19 22:45] NicoMandel commented on #7050
Yes, thank you for that confirmation. I can now get the model to go to training at least - I am surprised it did not throw any errors in the mentioned masterclass video.
I am still a little confused concerning the use of accuracy, which is addressed in [another issue](https://github.com/PyTorchLightning/lightning-bolts/issues/587#issuecomment-822209976). Any help there would also be greatly apprec

[2021-04-19 22:48] tahsin314 commented on #6200
I'm facing a similar issue with `distributed_backend='dp'`. `validation_step` and `test_step` return predictions with dimension (`batch_size`, `num_class`). But `validation_epoch_end` and `test_epoch_end` retrieve output with dimension (`num_batch`, ) where it is supposed to be  (`num_samples`, `num_class`) and `num_samples ≈ num_batch x batch_size`

[2021-04-20 03:20] tmbdev commented on #7003
I have [modified the code](https://github.com/tmbdev/webdataset-lightning/blob/c6f3a6456fd956d89f9abe4d533d25803291b1b9/train.py) and it fails in the same way.

In any case, this has nothing to do with my code (I only changed the data loader in the PL example). I get literally the same behavior with the [completely unmodified example from the PL distribution](https://github.com/PyTorchLightning/py

[2021-04-20 03:38] karliesama opened #7110 "error when importing the pytorch-lightning"
I'm using python3.6-dev. I met this error when importing the pytorch-lightning

[code]

Please help me with this! Thanks a lot!!!

[2021-04-20 05:21] akihironitta commented on #7110
@karliesama Hi, thank you for reporting the issue. I couldn't reproduce the error in my local env below. Could you provide us with the information of your environment? (e.g. versions of `pytorch-lightning` and `omegaconf`)

<details><summary>my env</summary>

[code]

</details>

[2021-04-20 06:44] #7050 closed

[2021-04-20 06:56] #7083 closed

[2021-04-20 07:02] Alexfinkelshtein commented on #5339
@carmocca, thanks for the comment.
I am familiar with this, however I would want to have access to the benefits of resuming the training state.. which I can't using the above..

[2021-04-20 07:34] #7031 closed

[2021-04-20 07:52] LuoXin-s opened #7112 "What I use ddp, in validation_step that loged metric seems curious."
## 🐛 Bug

I log the metric in validation_step, but I found the reported metric in tensorboard is uncorrect. I loged metric in every step toobserve, but have not found the reason. I mean I manual sum that together and divide `len(dataset)`, compare with tensorboard's value my value lower that it about **2**

## Please reproduce using the BoringModel

### To Reproduce

Use following [**BoringModel**

[2021-04-20 07:57] tchaton commented on #7112
Dear @LuoXin-s ,

Would you mind to share a reproducible script for us to work on ?

Best,
T.C

[2021-04-20 08:03] tchaton commented on #7110
Dear @karliesama,

Do you mind running those commands ?

[code]

Best,
T.C

[2021-04-20 08:06] tchaton commented on #7099
Dear @bokutotu,

It seems to me the issue is the `hydra.run.dir="[path to train.py]/multirun/2021-04-19/21-53-02/0"`
due to @hydra.main(config_path=[path to config], config_name=[file name].yaml).

We are using `os.getcwd()` to get the current cmd being run.

https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/plugins/training_type/ddp.py#L173.

Would you mind resol

[2021-04-20 08:10] awaelchli commented on #7112
Logging only happens on the first process/GPU in DDP. In general, you want to use torchmetrics which implement reduction correctly for you in DDP.
If you want to just average (which is not always correct), you can consider `self.log(..., sync_dist=True)`. More explanation can be found in the docs.

[2021-04-20 08:11] tchaton opened #7113 "PredictLoop: Missing hooks + results aren't being returned properly in spawn."
## 🐛 Bug

## Please reproduce using the BoringModel

Currently, there is no hook allowing users to save their predictions `on_predict_step_end` or `predict_epoch_end`.
Furthermore, results are being return only in rank 0 for spawn processes.

Solution:
[] Add `on_predict_step_end` and `predict_epoch_end` hooks.
[] Add a PredictionWriter Callback for people to put their own logic
[] Add a way to tr

[2021-04-20 08:18] LuoXin-s commented on #7112
@awaelchli
Thank you for reminding me, but why this `sync_dist` feature set to false as default. When I work on single GPU `sync_dist=True` have any problem?

[2021-04-20 08:22] #7013 closed

[2021-04-20 09:44] VirajBagal opened #7118 "Low results when validated using multiple GPUs / DDP as compared to single GPU"
I trained a model using the following LightningModule. When validated using single GPU and using the trained weights, I get val_f1 score of 0.288. But when validated using multiple GPUs and DDP, I get val_f1 score of 0.082. How can I resolve this?

In the following code, I have also tried using the 'gather_all_tensors' function, but it didn't help.

[code]

I use the following Trainer for single G

[2021-04-20 10:06] awaelchli commented on #7118
Are you computing an F1 score here for classification? Apologies I have not studied the code in detail but for correct metric reduction and logging we recommend the torchmetrics.

TorchMetrics overview: https://torchmetrics.readthedocs.io/en/latest/pages/overview.html#overview
F1 score: https://torchmetrics.readthedocs.io/en/latest/references/modules.html?highlight=F1#f1

[2021-04-20 10:24] awaelchli commented on #6228
I'm not sure where to clarify. The docs are correct. We can add a red warning that Trainer(gpus="3") will select the third GPU while Trainer(gpus=3) selects three gpus. The best imo is to make it consistent so the user doesn't have to find this warning.

[2021-04-20 10:41] awaelchli commented on #7112
Because it has a minor performance hit due to additional communication. And you would notice this when syncing per step logging. But also, it's not truly syncing the metric in the sense that reduction is always mean and this is not correct for most metrics. See torchmetrics, it is explained there: https://torchmetrics.readthedocs.io/en/latest/pages/overview.html#overview
Let me know if this is unc

[2021-04-20 11:00] #6379 closed

[2021-04-20 14:31] VirajBagal commented on #7118
Sorry, I think this should be converted to a question/implementation help.

The target in this problem is the list of  ''posting_id' that is similar to the current posting id. So, over here, there is no particular class. In validation, I am doing unsupervised clustering. If you look at the getMetric function, I am basically calculating the intersection of posting ids predicted by my model and the

[2021-04-20 15:25] #6927 closed

[2021-04-20 15:28] karliesama commented on #7110
[code]

[2021-04-20 16:37] kazhang commented on #7090
Dear @tchaton ,

I don't have the bandwidth right now, but I can take a stab in the next month.

Regards,
Kai

[2021-04-20 17:25] DerJFK commented on #6206
Thanks for your answer. I used the same code as above and just changes the parameter to use two gpu and 2 nodes

[code]

The output is little different but still get stuck at the same stage.

[code]

[2021-04-20 17:26] kevinghst opened #7125 "training step doesn't iterate over batch in order"
The lightning training steps don't seem to iterate over the batches in the dataloader in order.

How to reproduce:

So I initialize my train_dataloader without shuffling:

[code]

I then put a debugger inside training_step:
[code]

To my frustration, the batch in the first break point does not correspond to the batch I get by iterating the dataloader manually as below:

`batch = next(iter(module.t

[2021-04-20 17:56] kaushikb11 commented on #6622
@camruta Any update on this?

[2021-04-20 17:58] kaushikb11 commented on #5178
@Borda This is done, right?

[2021-04-20 18:26] camruta commented on #6622
I'll reopen and try to work on it this week.

[2021-04-20 18:26] kaushikb11 commented on #5772
Hi @justusschock, do we have any updates on this?

[2021-04-20 18:31] kaushikb11 commented on #7110
@karkiesama Could you update lightning to the latest?

[2021-04-20 18:31] akihironitta commented on #7110
@karliesama Thank you for sharing the information. Lightning uses `omegaconf>=2.0.1`, so I believe running `pip install omegaconf -U` should fix the error. Please feel free to reopen this issue if the problem still persists.

[2021-04-20 18:31] #7110 closed

[2021-04-20 18:33] kaushikb11 commented on #2810
@edenlightning Something the team could work on, for Users.

[2021-04-20 18:33] kaushikb11 commented on #4950
Is it resolved?

[2021-04-20 18:55] jbschiratti commented on #839
Sadly, people seem to have lost interest in this issue...

[2021-04-20 19:01] Borda commented on #839
@jbschiratti are you interested in bringing it up and implementing it? :raccoon:

[2021-04-20 19:06] cuent commented on #4950
@kaushikb11 I made some experiments but I wasn't able to find the root. Please refer the output and conf [here](https://github.com/cuent/pytorch-lightning/blob/master/.github/workflows/ci_test-full.yml)

[2021-04-20 19:06] jbschiratti commented on #839
@Borda Sure, I am! If you think that this feature should be added to lightning, of course!

[2021-04-20 19:13] mhun1 opened #7128 "Manual optimizer step, forward pass of model does not change"
Hello!

In the training step I try to manually optimize the network and obtain the prediction of the updated network afterwards, but in the same training step. However, if I obtain the new prediction it is equal to the prediction of the network before the optimization. I obtained the state_dicts before and after the optimization and noticed that it changes, but if I forward through the optimized n

[2021-04-20 19:19] Borda commented on #5178
no, but it just nice to have... and maybe after our `RunIf` not needed

[2021-04-20 19:19] #5178 closed

[2021-04-20 20:15] akihironitta commented on #7128
@mhun1 I cannot think of any other reason than that because the model parameters seem correctly updated. To investigate further, could you provide a reproducible script and the information of your environment which you can get by running the following commands?

[code]

[2021-04-20 20:23] mesejo commented on #6929
Hi @carmocca, when you said:

Were you referring to the entire **datamodule** property?

[2021-04-20 20:38] mhun1 commented on #7128
First, thanks for answering!
For the script, I need quite sometime to reproduce, since it is not all trivial.

Here is the environment information:
[code]

Further, I noticed that when the training step continues, the network predicts a other loss, but with the same state_dict, I obtained in the previous training step:

[code]

[2021-04-20 20:42] kazhang opened #7129 "Training is stuck if ranks don't have the same keys in metrics dict at the end of validation epoch"
## 🐛 Bug

In my D2Go model training, the [evaluation metrics are reduced on rank 0](https://github.com/facebookresearch/detectron2/blob/master/detectron2/evaluation/coco_evaluation.py#L151-L157) and logged in validation_epoch_end hook. The other ranks will just log an empty dict.
However, the recent change #6417 will always run _all_gather. I noticed that the training is stuck there until a NCCL t

[2021-04-20 22:21] carmocca commented on #6929
I was referring to deprecating `model.datamodule` in favor of `model.trainer.datamodule`

cc: @PyTorchLightning/core-contributors Any opinions about this? Should we keep both ways?

[2021-04-20 23:10] carmocca commented on #7125
Hi!

Keep in mind you must set the seed again every time the RNG is modified (any random number has been generated).
The following code shows that the batches match. Notice all the required `seed_everything` calls

[code]

[2021-04-20 23:21] #6083 closed

[2021-04-21 04:19] akihironitta commented on #7128
@mhun1 I don't think I understand your point, but I think it is working as intended because the model parameters get updated only at `opt.step()` in your `training_step()` in manual optimization.

It'd be wonderful if you could share your full script with us to investigate it further.

[2021-04-21 05:36] akihironitta commented on #6675
@toliz @Darshan-Ramesh In some cases (specifically, when the loss diverges), lr_finder may suggest a too high learning rate as reported in #6471. The fix is now under review in #7076.

I'm still unsure why "Learning Rate Finder doesn't reset model parameters", but the bug above may have caused the behaviour you mentioned, so could you wait for the fix to get included in the next release or directl

[2021-04-21 06:39] tchaton commented on #7129
Dear @kazhang,

Would you mind sharing the need to log different metrics on the ranks.
Lightning expects the same keys, and therefore this will cause the processes to hang.

Best,
T.C

[2021-04-21 06:39] CarlosUziel commented on #839
I am also very interested in this feature. As it has been argued before in this thread, CV really adds value to research, becoming a sort of standard to give credibility and robustness to any ML results. Having said that, I have tried to implement my own version, heavily based on @jbschiratti great contribution.

For me it was more intuitive to create an abstraction for CV to be applied to any dat

[2021-04-21 07:58] awaelchli commented on #7118
Can you guarantee that [syncing across GPUs then computing the metric] is the same as [computing the metric on each GPU then averaging the metric over the GPUs]?

And btw, if the dataloader size is not divisible by the number of GPUs, the DistributedSampler will repeat batches so that every GPU has the same number of batches. So for this reason I recommend to run the trainer.test() on one GPU to m

[2021-04-21 08:02] awaelchli commented on #6929
I would prefer if we don't attach the datamodule to the LightningModule and instead reference it through trainer.

[2021-04-21 08:10] #7118 closed

[2021-04-21 08:47] Alexfinkelshtein commented on #5339
@carmocca , thumbs up means you agree exposing it will be a good move?

[2021-04-21 09:39] awaelchli commented on #6467
I thought a bit about backward compatibility. I propose to convert a checkpoint in Model.load_checkpoint to the current version by applying a set of migrations. Depending on the version the checkpoint was saved at, we apply a different migration to the next higher version:

Every time we introduce a backward incompatible change, we provide a migration targeting a specific version to upgrade. For e

[2021-04-21 11:04] awaelchli commented on #6138
@rivi I can't reproduce it with your instructions on master branch and also not on 1.2.8. I get:

`Epoch 0, global step 0: val_loss reached 0.77993 (best 0.77993), saving model to "/home/adrian/repositories/pytorch-lightning/epoch=0-val_loss=0.77993.ckpt" as top 1`

I can't verify right now that the problem exists in 1.2.0 due to installation problem :(
But does upgrading to 1.2.8 solve it for you

[2021-04-21 11:08] #6138 closed

[2021-04-21 11:12] awaelchli commented on #7112
Btw which version of Lightning are you using? We have fixed a related bug  #6138, make sure you use the latest version of Lightning to avoid it :)

[2021-04-21 11:22] carmocca commented on #6467
Do you expect users to use these decorators themselves?

I like the idea but I would go with the simple yet effective:

[code]

Instead of these decorators, given that it's not common at all that we break ckpt compatibility.
It is fine though if we expect users to register upgrade functions themselves.

Also, maybe instead of updating the original version field, we should add a `upgraded_version`

[2021-04-21 11:35] carmocca commented on #5339
I agree there should be a way to set `strict=False` with `Trainer(resume_from_checkpoint)`

The relevant piece of code is here:

https://github.com/PyTorchLightning/pytorch-lightning/blob/e4f3a8d3dd534d4ec2fe094280272513e652fba9/pytorch_lightning/plugins/training_type/training_type_plugin.py#L226

One idea would be to have a property in the `LightningModule` to change this. Similar to how `automat

[2021-04-21 11:47] jbschiratti commented on #839
@CarlosUziel Thank you for your post. Overall what you propose is quite similar to what I proposed. If I understood correctly, the main differences are:

* Your `CVTrainer` is initialized with an instance of `Trainer` instead of passing trainer args/kwargs. As you noted, passing args/kwargs may seem unintuitive but, as SkafteNicki pointed out, much is going on in a `Trainer` and you may want to be

[2021-04-21 11:53] awaelchli commented on #6467
No, just for internal use. We don't want users to interfere here. This is an improvement internally, because we have hardcoded backward compatible loading logic in the core. And for the support of multiple callbacks discussed here, I need a sane, standardized way to migrate.

It's about not bloating the internals of lightning with logic that is just there to provide backward compatibility for load

[2021-04-21 11:59] awaelchli commented on #7027
any update here? have you managed to get it working with Lightning >= 1.2.8?

[2021-04-21 12:38] Borda commented on #7125
@kevinghst feel free to reopen if needed :]

[2021-04-21 12:38] #7125 closed

[2021-04-21 12:40] carmocca commented on #6467
After a bit of offline chat, we have different opinions:

Adrian proposes always enforcing in-between version steps:

[code]

Where we have to update this every release.

On, the other hand, I propose avoiding the no-op version checks:

[code]

And adapting the code if necessary in a future release

Both options imply incremental updates to the version. The difference is whether or not in-between

[2021-04-21 12:56] awaelchli commented on #6869
Hi, do you have any further updates on this? Do you have the original code that produced this error?

[2021-04-21 12:57] EdwardJB commented on #6869
Sorry I'm not currently working on the related project but will come back to you when I resume.

[2021-04-21 13:15] devfoo-one commented on #5245
:+1:  I am also interested in this. In my use case, I use DDP, and performing a validation after every epoch on a per-rank basis is fine. However, after n epochs, I would like to test the current model only on one worker because my test involves the initialization of a kNN index which takes a lot of memory.

[2021-04-21 13:32] shubhamwagh commented on #7060
Hi, how can I use this fix in 1.2.8 PL version?

[2021-04-21 14:01] awaelchli commented on #6810
A hacky solution could be to make use of the `is_last_batch` variable from the last epoch. This wouldn't cover the case when the iterator is empty from the very start.

I will look into this.

[2021-04-21 14:06] machin-x opened #7138 "how to save the last epoch only?"
"monitor (Optional[str]) – quantity to monitor. By default it is None which saves a checkpoint only for the last epoch."
when i trainning a model, i set the 'monitor' to None, it should save the last epoch as the doc says. but it still save depend on the val_loss, it always save the model with lowest val_loss.

i also try another way, set the 'save_last' to True. while this needs to set a monitor.

[2021-04-21 17:14] kazhang commented on #7129
Dear @tchaton,

Thanks for looking into this! In Detectron2, [prediction are gathered on rank 0](https://github.com/facebookresearch/detectron2/blob/master/detectron2/evaluation/coco_evaluation.py#L151-L157), then it returns the evaluated and reduced results. There is no need for other ranks to evaluate their local predictions, therefore, other ranks just return an empty dict.

I tried to only log

[2021-04-21 18:56] kaushikb11 opened #7142 "Problem with using multiple TPU cores and the WandbLogger"
#### Query from User on Lightning Slack

There seems to be a problem with using multiple TPU cores and the WandbLogger. When I run with a single TPU core everything works fine & the results from my experiment get logged. However, if I then switch to 8 cores everything seems to run ok but nothing gets logged to WandB.

[2021-04-21 19:14] alanhdu opened #7143 "model_checkpoint.best_model_path not set when fast_dev_run=True"
## 🐛 Bug

When using `fast_dev_run=True`, it looks like the no model is serialized and `pl.callbacks.ModelCheckpoint.best_model_path` is not set.

This is unfortunate, because it makes testing scripts relying on `pl.callbacks.ModelCheckpoint` harder, since you need to special-case the `fast_dev_run` to handle things differently.

### To Reproduce

[code]
### Environment

[code]
### Additional cont

[2021-04-21 19:24] SpontaneousDuck opened #7144 "Lightning Module Test Returns"
## 🐛 Bug

I am attempting to test my trained model with my test dataset. After running `Trainer.test()`, an empty dict is returned instead of the dict I am logging. I was previously just returning a dict from `test_epoch_end()` since using `self.log()` never returned anything from `Trainer.test()` for me. I previously had this working on PytorchLightning v1.2.1. After updating to v1.2.8, this no l

[2021-04-21 20:49] abb4s opened #7145 "RuntimeError: CUDA error: device-side assert triggered #11366"
## 🐛 Bug
i tried to finetune bertForClassification and it raised  RuntimeError: CUDA error: device-side assert triggered #11366
after that I can't move anything to  gpu even simple tensor:
![image](https://user-images.githubusercontent.com/7654832/115618986-9e8c6900-a308-11eb-8f10-23f592cde04b.png)

## Please reproduce using the BoringModel

### To Reproduce

[colab notebook](https://colab.researc

[2021-04-21 22:13] awaelchli commented on #7144
Hey, you it looks like you need to have logger=True, then it works. The option `logger=True|False` is there so that one can choose only to print to progress bar, or both, with `prog_bar=True|False`

[2021-04-21 22:14] awaelchli commented on #7144
I tested it with a simple example:

[code]
Output:

[code]

[2021-04-21 22:17] SpontaneousDuck commented on #7144
Ahh, ok! So is there a way to prevent it writing out to all my loggers then? I have a tensorboard logger in my trainer and if `logger=True` it also writes out to Tensorboard which is not really desirable since that will just append to the data logged during training. Is there a way to temporarily disable external loggers for testing? Thanks for the help!

[2021-04-21 22:19] awaelchli commented on #7143
Hi, this is intended and actually a feature :)) `fast_dev_run` does not log and not save any artifacts. fast dev run is meant to test the loop / hooks for any obvious runtime errors in user code, but we don't want it to create files that pollute the workspace unnecessarily, because users may run several times before the get the fix right. And because it does not save any files, the best model path

[2021-04-21 23:06] awaelchli commented on #7144
Afaik we don't support returning directly outputs from test_epoch_end because the test data is split across gpus (potentially) and we don't want to make any assumptions of how we aggregate these results back as one output. We offer the logging approach where the user can decide how to aggregate, or there is the Trainer.predict method, which, looking at your code, I believe would fit your use case

[2021-04-21 23:09] awaelchli commented on #7144
https://pytorch-lightning.readthedocs.io/en/latest/starter/introduction_guide.html#predicting
You can implement the predict_step method in LightningModule, I believe in your case you want:
[code]
and then

`outputs = trainer.predict(model)`

[2021-04-21 23:14] SpontaneousDuck commented on #7144
Ah, perfect! I could not find that method in the docs but I found it in the source. So If I use a DataModule, is there a separate DataLoader for that that I need to assign inside there? Would I then just loop over `trainer.predict()` for the whole `DataLoader` and handle concating all the outputs myself? So  I can basically use that like `trainer.test()` but it will only do one batch?

[2021-04-21 23:17] SpontaneousDuck commented on #7144
Ah, perfect! I could not find that method in the docs but I found it in the source. So If I use a DataModule, is there a separate DataLoader for that that I need to assign inside there? Would I then just loop over `trainer.predict()` for the whole `DataLoader` and handle concating all the outputs myself?

[2021-04-21 23:20] awaelchli commented on #7138
Hey! Have a look at this example:

[code]

I'm choosing:
`ModelCheckpoint(dirpath="./checkpoints", monitor=None)`

That's all, it saves only one checkpoint, named **epoch=4-step=4.ckpt**, it corresponds to the last epoch being run.
Note: for backward compatibility, when monitor=None, we choose val_loss as the monitor when it is available. You should be able to avoid that by just renaming your vali

[2021-04-21 23:30] awaelchli commented on #7144
You are right, they are missing in the Trainer overview.
Yes there is a predict_dataloader method in LightningModule and DataModule.
But you can also pass in your test dataloader if you want like so
`trainer.predict(modek, test_dataloader)`

I will update the docs, good call!

[2021-04-21 23:33] SpontaneousDuck commented on #7144
Thank you! So does each call to `predict` take one batch from the DataLoader then?

[2021-04-21 23:38] #7073 closed

[2021-04-22 00:01] awaelchli commented on #7144
So trainer.predict() will run over the whole dataloader and return all predictions in one list. You don't need to loop over it. Then you can reshape/concatenate as you wish.

[2021-04-22 00:14] #7129 closed

[2021-04-22 00:28] #7138 closed

[2021-04-22 02:57] akihironitta commented on #5587
Let's discuss the warning ``UserWarning: Detected call of `lr_scheduler.step()` before `optimizer.step()`.`` issue in #101 since it can be addressed independently of the performance issue.

[2021-04-22 03:04] akihironitta commented on #101
It seems this problem still persists as reported in #5587.

[2021-04-22 03:52] colormeblue1013 commented on #5326
Hi, i tried to run optimizer.step() method without parameter 'closure=optimizer_closure', and the train process failed with nan loss. It seems like without closure parameter, the back propagation progress cannot proceed.

[2021-04-22 03:58] akihironitta commented on #7037
https://github.com/PyTorchLightning/pytorch-lightning/pull/7035#issue-615794299

I don't think we need type annotations in the tests, but we should run mypy to check if variables/functions of the package are correctly typed. What do you think?

[2021-04-22 04:28] ananthsub commented on #6467
I prefer @carmocca's approach to avoid the boilerplate across versions. I think it's a lower initial investment, and if we find that it's lacking, we can then shift to @awaelchli 's proposal if we find we require stricter checkpoint upgrades

[2021-04-22 09:38] TrocelengStudios opened #7157 "Pytorch Lightning doesn't have CUDA?"
## 🐛 Bug

Hello, I'm trying to use Pytorch Lightning in order to speed up my ESR GAN renders on Windows 10.

However, when I ran the installation code and attempt to run Cupscale (which I use as a GUI for ESR GAN), I get an error saying "Pytorch compiled without CUDA".

Is there a way to choose to install specifically the CUDA version of Pytorch with Lightning install, or are the two incompatible?

[2021-04-22 10:53] #7157 closed

[2021-04-22 11:25] dalek-who opened #7160 "Split one model's different parts on different gpus"
## 🚀 Feature

### Motivation

In my case, I have a simplified large model like this:
[code]

```self.classifier``` is so large that it must be on another gpu.

However, if I simply set ```pl.Trainer```:
[code]
It will copy the model on two gpus (and both will raise ```CUDA out of memory```), rather than split it on two gpus.

### Pitch

A easy way to manually split one model on different device li

[2021-04-22 11:47] vballoli commented on #7160
PyTorch Lightning has support for `FairScale`, see [here](https://pytorch-lightning.readthedocs.io/en/latest/advanced/multi_gpu.html#sequential-model-parallelism-with-checkpointing). You can add define the model as
[code]

[2021-04-22 12:11] tchaton commented on #7160
Hey @dalek-who,

I won't recommend to use `RPCSequentialPlugin ` as it will be soon depreciated.

Instead, you can DeepSpeed Integration: https://pytorch-lightning.readthedocs.io/en/stable/advanced/multi_gpu.html?highlight=deepspeed#deepspeed.

We managed to scale crazy large model. It can also be used on only 1 gpu with `activation_checkpointing` and `cpu_offload`.

Give it a try and give us feed

[2021-04-22 12:27] dalek-who commented on #7160
@tchaton Can you provide a simple ```DeepSpeedPlugin``` example for my case like ```RPCSequentialPlugin``` ?

[2021-04-22 12:53] vballoli commented on #7160
Oh, I wasn't aware of the deprecation. Sorry about that.

[2021-04-22 13:07] SeanNaren commented on #7160
Hey guys )

Regarding the deprecation of the `RPCSequentialPlugin` this is being done within #6152 with more information coming in the following weeks on how you can leverage FSDP instead for simpler balancing of the model across GPUs! No need to be sorry @vballoli we'll make this clearer in the follow week!

DeepSpeed Stage 3 offers the same practice which we already have within Lightning. A mini

[2021-04-22 13:19] awaelchli commented on #6467
I'm implementing your suggestion here in this PR #7161. However, I disagree with all your observations.

Carlos:

The steps in between would of course be implied, not explicitly be defined by us.

Only when a release is changing the checkpoint format => 0 effort for most releases.

Ananth:

This has more boilerplate code. It is repeated and is more error prone. It is exactly what I have avoided in

[2021-04-22 13:19] dalek-who commented on #7160
@SeanNaren which torch and pytorch-lightning version should I use?

[2021-04-22 13:20] tchaton commented on #7160
Dear @dalek-who,

You should you PyTorch 1.3.0rc1 and latest PyTorch.

Best,
T.C

[2021-04-22 13:20] #7160 closed

[2021-04-22 13:48] tchaton commented on #7145
Dear @abb4s,

I checked your code.
I have seen several mis-uses in your code.
* Encoding should be done in dataset
* You are trying to decode, when you should be encoding
* You should have to move any tensors to device. Lightning does this for you.

You could have a look at this example: https://github.com/PyTorchLightning/lightning-flash/blob/master/flash_examples/finetuning/text_classification.p

[2021-04-22 14:14] carmocca commented on #6929
Okay, let's deprecate it then and update the docs/ocurrences

[2021-04-22 14:35] Alexfinkelshtein commented on #5339
@carmocca , somehow it seems like my comment disappeared.. I'll write it again
I find this suggestion sub-optimal, and the main reason is that when a checkpoint is saved you don't necessarily know the mode in which you would want to load it. It is true that you can then manually use the on_load_checkpoint hook and adjust that but this is rather hacky.
I believe a cleaner solution will either expos

[2021-04-22 14:56] vedal opened #7163 "Short video has deprecated pl.TrainResult in it."
The follow video contains the deprecated feature:
https://pytorch-lightning.readthedocs.io/en/latest/starter/introduction_guide.html#d-not-a-new-library

[2021-04-22 14:59] sophiakrix opened #7164 "Integration of Deep Graph Library (DGL) into Lightning"
## 🚀 Feature
Integrating DGL into PyTorch Lightning

### Motivation

DGL uses graphs as a basic data structure. That means their [dataloaders](https://docs.dgl.ai/en/latest/_modules/dgl/dataloading/pytorch.html#EdgeDataLoader) use graphs such as the [dgl.DGLHeteroGraph](https://docs.dgl.ai/en/latest/generated/dgl.heterograph.html) as input for their dataloader and process them. The output returned

[2021-04-22 15:29] ananthsub commented on #6467
I misunderstood this point thinking that it would be explicitly defined. This sounds great @awaelchli !

[2021-04-22 16:29] dcfidalgo opened #7166 "Log epoch metrics before the `on_evaluation_end` hook"
## 🚀 Feature
I would like the epoch metrics to get logged before the `on_evaluation_end` hook.

### Motivation

When doing HPO with the [Ray Tune](https://docs.ray.io/en/master/tune/index.html) library, you usually report the metrics back to Tune `on_validation_end`. If you use a trial scheduler such as the ASHA algorithm, it will terminate the trial if the metric indicates low performance for thi

[2021-04-22 17:19] farahFif commented on #29
Is there a way to change the optimizer after n epochs ? I am trying by calling configure_optimizer and it changes the Lr value but scheduler is not working

[2021-04-22 20:16] turian commented on #1894
@MilesCranmer I'd also be interested in SWAG

[2021-04-22 20:26] awaelchli commented on #1894
It got introduced in Lightning 1.2

`Trainer(stochastic_weight_avg=True)`

[2021-04-23 01:14] #7103 closed

[2021-04-23 03:41] harupy opened #7178 "ModuleNotFoundError: No module named 'packaging' in pytorch-lightning 1.2.9"
## 🐛 Bug

## Please reproduce using the BoringModel

### To Reproduce

[code]

This docker file outputs:

[code]

### Expected behavior

`pytorch_lightning` can be installed without any additional dependencies.

### Environment

**Note**: `Bugs with code` are solved faster ! `Colab Notebook` should be made `public` !

* `IDE`: Please, use our python [bug_report_model.py](https://github.com/PyTorch

[2021-04-23 04:05] harupy commented on #7178
`requirements.txt` on `1.2.9` doesn't seem to contain `packaging`:

https://github.com/PyTorchLightning/pytorch-lightning/blob/1.2.9/requirements.txt#L1-L12

[2021-04-23 04:14] harupy commented on #7178
[code]

This outputs:

[code]

[2021-04-23 04:56] #5547 closed

[2021-04-23 04:56] #6180 closed

[2021-04-23 06:44] shuyingsunshine21 opened #7179 "DDP NCCL Parameters For Performance"
## 🚀 Feature

### Motivation

From several experiments, DDP on NCCL backend
* NCCL_NSOCKS_PERTHREAD (https://docs.nvidia.com/deeplearning/nccl/user-guide/docs/env.html#nccl-nsocks-perthread)
* NCCL_SOCKET_NTHREADS (https://docs.nvidia.com/deeplearning/nccl/user-guide/docs/env.html#nccl-socket-nthreads)
* NCCL_MIN_NCHANNELS (https://docs.nvidia.com/deeplearning/nccl/user-guide/docs/env.html#nccl-mi

[2021-04-23 07:25] justusschock commented on #7179
Hi @shuyingsunshine21
I am not that familiar with NCCL; Do you see any downside to use these defaults?

[2021-04-23 07:26] Borda commented on #7178
yeah it seems we made a mistake when we did resolve after cherry-picking, let us fix it very quick
cc: @kaushikb11

[2021-04-23 07:32] kaushikb11 commented on #7178
My bad. @Borda Should I do a PR to the release branch?

[2021-04-23 07:33] justusschock commented on #7166
Hi @dcfidalgo

From what I saw, this should be possible to do.
@carmocca Is it possible to also log values in `on_evaluation_end`? I don't think so, right? So would you agree that these two things can be swapped?

cc @PyTorchLightning/core-contributors

[2021-04-23 07:34] justusschock commented on #7163
cc @edenafek

[2021-04-23 07:36] Borda commented on #7178
well at first place we shall check ho it was possible that all tests passed and we did not find catch it
second, already made the fix in release branch and ready to release quick fix 44bbfa313483d231eed8a2e1bf3208ac1bfa7d00

[2021-04-23 07:40] JMMarchant commented on #6666
Any update on this?

[2021-04-23 07:46] harupy commented on #7178
@Borda Thanks for the quick fix 👍

[2021-04-23 08:44] tchaton opened #7183 "LoggerConnector Refactor"
## 🚀 Feature

### Motivation

### Pitch

The LoggerConnector Logic is pretty opaque and hard to follow.
The EpochResultStore and HookResult add an extra layer of complexity and the tests are possibly too sparse to catch wrong behaviours.

One of the reason of the complexity is the non-uniformity of the stored logged data.

Description of internal functionalities:

1. An EpochResultStore is create

[2021-04-23 09:32] Borda commented on #7178
@harupy just test for 1.2.10 and seems to be fine :]

[2021-04-23 09:32] #7178 closed

[2021-04-23 10:38] #7144 closed

[2021-04-23 10:59] #6471 closed

[2021-04-23 11:25] SpontaneousDuck commented on #7144
Hmm, so I am defining `predict_step()` in my `LightningModule` and it is not getting called on `predict()`, just the model forward is called. My `predict_step` is implemented as below:
[code]

[2021-04-23 11:43] SpontaneousDuck opened #7189 "Unclear default Logger"
## 📚 Documentation

The logger flag for `Trainer` does not have documentation for behavior of the boolean value inputs. Adding description of this performance to the docs.

[2021-04-23 12:25] awaelchli commented on #7144
Here is a small example. It runs the predict_step twice as you can see from the output:

[code]

Output:
[code]

[2021-04-23 12:36] SpontaneousDuck commented on #7144
Hmm, do you have environment versions for what that is running on? I copy/pasted that code, ran it on my machine, and did not get "step!" printed out:
[code]

I tested on both `pytorch-lightning` v1.2.8 and v1.2.9 from conda with PyTorch 1.8.1. Here is my conda env:
[code]

[2021-04-23 12:38] awaelchli commented on #7144
This is available in 1.3.0rc1 ahead of 1.3 release. The 1.2.x releases contain only bugfixes for 1.2, no new features.

[2021-04-23 12:45] SpontaneousDuck commented on #7144
Ah, that will do it! I pulled 1.3.0rc1 and it worked. Thank for all the help! You guys are amazing 🎉

[2021-04-23 12:51] awaelchli commented on #7144
Amazing! Hit our slack channel if you have random questions or want to hear about announcements <3
Or the discussion forum here on github if more help is needed :)

[2021-04-23 13:26] Queuecumber commented on #6204
Not stale

[2021-04-23 16:42] gatoniel opened #7192 "Add support for loggers in LightningCLI"
## 🚀 Feature
Hi,
add support for loggers in `LightningCLI` similar to the callback support.

### Motivation
I want to use the `LightningCLI` as I want to use config files. However, I do not know how to define loggers with `LightningCLI`. The docs mention how to add callbacks in the config files. I just assumed to add the logger similarly. But this does not work. I added this to the trainer part of

[2021-04-23 16:44] alessiobonfiglio opened #7193 "Neptune logger: "TypeError: log_text() got an unexpected keyword argument 'step'""
## 🐛 Bug

If you want to manually log a text on neptune.ai through its logger invoking
[code]
you'll end up with this error

[code]
due to an unwanted keyword argument: step.

### How to reproduce
[Link to the colab notebook](https://colab.research.google.com/drive/1UQ-z_dW3OmibTAdE8Wk54Z343KrwXE4p?usp=sharing)

### Expected behavior
The logging goes fine

### Proposed fix
Remove the argument "ste

[2021-04-23 17:27] kaushikb11 opened #7195 "Add TPU example for distributed TPU Pod training"
## 🚀 Enhancement

Add TPU example for distributed TPU Pod training

[2021-04-23 17:43] stancld commented on #7037
After the chat with Eden, I'll tackle lightning.utilities :)

[2021-04-23 17:57] WangCCe opened #7196 "PicklingError when importing model from other .py file and run on two gpus"
## 🐛 Bug

PicklingError when importing model from other .py file and run on two gpus
[code]

### To Reproduce

To reproduce using the given BoringModel, see colab [**here**](https://colab.research.google.com/drive/1myuAfgMw2O8G3QsxXyFIl9MEqzqn9Szl?usp=sharing)
Move definition of BoringModel to anther .py file and import it from that file is needed to run the colab, but the output when I reproduced

[2021-04-23 18:13] shuyingsunshine21 commented on #7179
let me rephrase the pitch a bit, maybe not setting default, instead relying on users to pass in from `kwargs` for `DDPPlugin`

[2021-04-23 18:17] romesco commented on #6150
This is an interesting idea! I wish I could help you prototype it, but I don't have the cycles at the moment! If you start a PR I'm happy to review it if you CC me, @S-aiueo32 =]

[2021-04-23 18:18] kaushikb11 opened #7197 "No TPU Devices found for TPU Pod Training, even after recognizing it"
## 🐛 Bug

No TPU Devices found for TPU Pod Training, even after recognizing it.

[code]

TPU Pod v2-32, running `bug_report_model.py` on 4 VMs with 8 tpu cores each.

[2021-04-23 18:23] gatoniel commented on #7192
Hi,
I think this is actually not an issue for PyTorchLightning, but for jsonargparse. Somehow the combination of `Union` and `Iterable` is not working properly (https://github.com/omni-us/jsonargparse/issues/53).

In the `Trainer.__init__` the typehint for the `logger` has such a combination
https://github.com/PyTorchLightning/pytorch-lightning/blob/f58865aada46afcf374a3aca965292635e96319f/pytorch

[2021-04-23 18:48] SciPioneer commented on #7179
We have seen good speedups by tuning these parameters on different domains (NLP, speech, vision, etc), as long as the training has a large communication overheads.

[2021-04-23 21:35] turian opened #7198 "Temporarily suspend one optimizer"
## 🚀 Feature

It should be possible to temporarily suspend one optimizer.

### Motivation

When training a GAN, if the generator or discriminator becomes too good, one might want to [suspend](https://twitter.com/theshawwn/status/1260476167053869057) that module's optimizer until the other module catches up.

### Pitch

There should be a simple clean way to disable and re-enable a particular optimi

[2021-04-23 21:38] ananthsub commented on #7198
@turian https://pytorch-lightning.readthedocs.io/en/latest/common/optimizers.html#manual-optimization should offer finer control over optimizer steps - does this work for your use case?

[2021-04-23 21:53] turian commented on #7198
@ananthsub Thanks. It also appears that if I return loss = None it toggles the optimizer: https://github.com/PyTorchLightning/pytorch-lightning/pull/5983

[2021-04-23 21:53] #7198 closed

[2021-04-23 22:15] denadai2 commented on #6833
I have this bug as well. I do not find why.

[2021-04-23 23:20] omry commented on #6150
I think it would be better if we had proper dataclasses defined to instantiate PTL objects.
those can be used as schema for your config and will add the target automatically.

See this Hydra 1.1 example:
https://github.com/facebookresearch/hydra/tree/master/examples/instantiate/object_recursive

[2021-04-23 23:23] romesco commented on #6150
As in https://github.com/romesco/hydra-lightning/blob/main/hydra-configs-pytorch-lightning/hydra_configs/pytorch_lightning/trainer.py
?

[2021-04-23 23:42] karliesama commented on #7110
after running this line, I got this error when import pytorch-lightning in python.

[code]

[2021-04-23 23:44] karliesama commented on #7110
1.2.10 got the same error. Also, I have some other tools which are built upon 1.2.4. So I can only change the version to 0.9.0 to avoid the issue.

[2021-04-24 02:07] omry commented on #6150
Yes.

[2021-04-24 08:06] gatoniel commented on #7192
This was only a problem for python>=3.7 and is fixed by jsonargparse v3.10.1.

[2021-04-24 08:06] #7192 closed

[2021-04-25 08:39] 7zhanghao commented on #7027
Sorry, there are still some problems, but you mentioned that someone has successfully used it. I guess this may be my own problem. I'm trying to find the problem.

[2021-04-25 08:39] #7027 closed

[2021-04-25 13:36] turian commented on #6676
@carmocca That makes a lot of sense. I would agree that for 2.x, `Trainer` should be renamed to `Runner`.

[2021-04-25 16:54] #7065 closed

[2021-04-25 22:39] awadell1 opened #7206 "Metric are not logged for Manual Optimization"
## 🐛 Bug

When Manual optimaztion is enabled (`automatic_optimization = False`), `self.log("loss", loss)` does not get logged.

Or at least does not get logged to the progress bar for: `self.log("loss", loss, prog_bar=True)`. In my use case it also doesn't get logged to wandb, but I didn't replicate that issue here.

### To Reproduce

Use following [**BoringModel**](https://colab.research.google.c

[2021-04-26 04:32] ananthsub opened #7208 "Using reload_dataloaders_every_epoch=True and num_sanity_val_steps=0 can lead to the validation loop being skipped"
## 🐛 Bug

Inside the training loop, we incorrectly skip running evaluation when `reload_dataloaders_every_epoch=True` and `num_sanity_val_steps=0`. With these settings, we defer setting the validation dataloader on the trainer until the evaluation loop is run from inside the training loop. However, this is too late as the training loop depends on the validation dataloader settings being set in ord

[2021-04-26 05:39] #6446 closed

[2021-04-26 05:39] #6508 closed

[2021-04-26 05:39] #6519 closed

[2021-04-26 05:39] #5836 closed

[2021-04-26 05:39] #6599 closed

[2021-04-26 09:33] awaelchli commented on #6527
Thanks @srib for the help here.
@zhangdan8962 I understand that your issue is resolved?

[2021-04-26 09:33] #6527 closed

[2021-04-26 09:35] Borda commented on #7197
@kaushikb11 is this on master or on past v1.2.x release?

[2021-04-26 09:42] kaushikb11 commented on #7197
@Borda It's everywhere. Single Cloud TPU (v2-8 or v3-8) + VM works well with 8 cores. I don't think Cloud TPU Pod has been supported well enough. Ref: https://pytorch-lightning.readthedocs.io/en/stable/advanced/tpu.html#tpu-pod, https://cloud.google.com/tpu/docs/tutorials/pytorch-pod.

[2021-04-26 09:43] kaushikb11 commented on #7197
@Borda It's everywhere. Single Cloud TPU (v2-8 or v3-8) + VM works well and is supported. I don't think Cloud TPU Pod has been supported well enough. Ref: pytorch-lightning.readthedocs.io/en/stable/advanced/tpu.html#tpu-pod, cloud.google.com/tpu/docs/tutorials/pytorch-pod.

[2021-04-26 10:53] awaelchli commented on #6676
Does the new predict API help you here @turian ?
https://pytorch-lightning.readthedocs.io/en/latest/common/trainer.html#predict

[2021-04-26 12:04] ludwigwinkler commented on #5131
So I revisited my old code but the deletion of the hooks still persists. :(

You can check the colab boring model here:
https://colab.research.google.com/drive/1z69hmWUybxW58iGMR9EQ3wlT5jwxJxzt?usp=sharing

[2021-04-26 12:49] carmocca commented on #7166
It is not:

https://github.com/PyTorchLightning/pytorch-lightning/blob/6be0a859db93989768f8bc845ee60e9c73f1e809/pytorch_lightning/trainer/connectors/logger_connector/callback_hook_validator.py#L223-L226

https://github.com/PyTorchLightning/pytorch-lightning/blob/6be0a859db93989768f8bc845ee60e9c73f1e809/pytorch_lightning/trainer/connectors/logger_connector/callback_hook_validator.py#L233-L236

Yes

[2021-04-26 12:53] carmocca commented on #5339
I personally don't like flags which only work if others are active, so I'd rather avoid this solution

Are you talking about a hook that encapsulates the `load_state_dict` call?

[2021-04-26 13:28] #7193 closed

[2021-04-26 15:22] mpeven opened #7216 "Parser overwritten when using add_argparse_args"
## 🐛 Bug

Using the `add_argparse_args` functions doesn't play nice with the `HyperOptArgumentParser` from TestTube.

The arguments from HyperOptArgumentParser are overwritten, which causes it to fail with the error message:
```AttributeError: 'Namespace' object has no attribute 'hpc_exp_number'```

## Please reproduce using the BoringModel

https://colab.research.google.com/drive/1CEtLb_LCvTnWNVv

[2021-04-26 16:36] Borda commented on #839
yeah, great talk to you today, go ahead!

[2021-04-26 16:43] Borda commented on #2010
I look to me rather as a Python issue as the func does not return anything and shall be completely cleaned
[code]
I used the latest v1.2.10 and added garbage collector and 1s sleep at the end of the train func
![image](https://user-images.githubusercontent.com/6035284/116119855-2b477600-a6bf-11eb-847f-5f58a905a317.png)

[2021-04-26 16:55] #3875 closed

[2021-04-26 17:15] ananthsub commented on #7183
Thanks for starting this!

- Since step result is an integral part of this, we should consider what API changes we want to make there. For example, should this effort also consider https://github.com/PyTorchLightning/metrics/issues/67  and https://github.com/PyTorchLightning/metrics/issues/126 to clarify the API and improve performance?

- Would revamping `self.log` also play a role? Do we want to

[2021-04-26 18:34] turian commented on #6676
@awaelchli Interesting, I was not aware of it. I will see

[2021-04-26 19:02] timothybrooks opened #7217 "LR scheduler called before optimizer step when using DDP sharded plugin"
I am using a learning rate scheduler called every step:

[code]

When using DDPPlugin, there is no issue, but when using DDPShardedPlugin, I get the following warning:

[code]

pytorch 1.8.1
lighting 1.2.9

cc @tchaton @rohitgr7 @akihironitta @SeanNaren @awaelchli

[2021-04-26 19:04] timothybrooks commented on #7206
I have experienced this same issue, although for me it only occurs when using 16bit precision: https://github.com/PyTorchLightning/pytorch-lightning/issues/6833

[2021-04-26 21:40] StephennFernandes opened #7221 "Unable to use prepare_data on new pytorchs DataLoader for nlp tasks"
hi there, pytorch has recently revamped their torchtext modules for dataloaders. and the current method is quite tedious.
due to this i am unable to use prepare_data method for distributed Training. as other hyperparameters are needed to be imitalized from the prepare data.
My code works without the prepare_data in pytorch lightning on a single GPU. but it is not possible for me to implement the p

[2021-04-26 22:31] #6992 closed

[2021-04-26 22:45] ananthsub commented on #7179
@SciPioneer are these dependent on the cluster setup? for example, would we expect AWS or GCP to set these parameters on their own? is their risk of lightning the framework overriding these values?

[2021-04-27 06:19] ananthsub commented on #6865
Since there's no consensus here, I'm going to close this out and leave this as is

[2021-04-27 07:05] SciPioneer commented on #7179
@ananthsub Both cluster admin and individual users can set their own default values, in `/etc/nccl.conf` and `~/.nccl.conf`, respectively. Actually both AWS and GCP have set their own default values. This does not hold true for every cluster though.

I think this proposal aims to allow the users to specify a set of application-specific default values. As long as lightning doesn't override the defa

[2021-04-27 07:52] tchaton commented on #7206
Hey @timothybrooks, @awadell1

Would you mind sharing a reproducible script ?

I tried this and it seems to work just fine.

[code]

<img width="1369" alt="Screenshot 2021-04-27 at 08 51 33" src="https://user-images.githubusercontent.com/12861981/116205531-c54a0580-a735-11eb-8b77-d8b7c4495603.png">

[2021-04-27 08:05] timothybrooks commented on #7206
Perhaps this will help: https://github.com/PyTorchLightning/pytorch-lightning/issues/6833#issuecomment-814501216

[2021-04-27 08:05] tchaton commented on #6833
Hey @denadai2 @timothybrooks,

I confirm I can reproduce the bug.

[code]

[2021-04-27 08:05] timothybrooks commented on #7206
Also worth trying 16bit, since that is only when it occurred for me.

[2021-04-27 08:21] tchaton commented on #7206
Hey @timothybrooks,

Resolve the bug, it was pretty silly. optimiser.step calls `call_hook("on_after_backward")` which was erasing Result object.

Pushing a fix soon.

Best,
T.C

[2021-04-27 08:40] awaelchli commented on #7216
This works well for me. I don't understand what you are experiencing. Can you have a look at this minimal example?

[code]

[2021-04-27 08:44] awaelchli commented on #6381
Hello again, any updates here? Were you able to find the problem in the meantime?

[2021-04-27 08:51] awaelchli commented on #6200
FYI this behaviour is completely expected and not a bug. validation_step and test step are meant to evaluate for a split of the data on each GPU (just like training_step also runs on a split of the data).
We have torchmetrics for synchronization of metrics and in 1.3 there will be a `Trainer.predict` for gathering all predictions.

[2021-04-27 08:59] awaelchli commented on #7112
Hello, @LuoXin-s  any updates here?

[2021-04-27 09:06] LuoXin-s commented on #7112
@awaelchli  Sorry for the untimely response, I'm busy on my graduation thesis. Btw when I use `sync_dist` it seems correct and I use  lightning 1.2.5

[2021-04-27 09:19] awaelchli commented on #7112
Okay, sounds good. Feel free to reopen the issue if you find inaccuracies.
Good luck with your thesis.

[2021-04-27 09:19] #7112 closed

[2021-04-27 09:51] #6988 closed

[2021-04-27 10:16] awaelchli commented on #6348
Hi, I found out why this happens. In Lightning, the training_step runs inside the DataParallel.forward, which means this runs on the replicas. But the DP replicas don't maintain state from the root device, therefore it gives a KeyError. For reference, I made a pure PyTorch example:

[code]

Adamax has a state, but it does not get copied to the replicas. Same with other optimizers like Adam.
If you

[2021-04-27 10:20] turian commented on #1502
@Ge0rges https://github.com/PyTorchLightning/pytorch-lightning/pull/1959

[2021-04-27 10:32] deGravity opened #7229 "conda-forge package uses pinned version of torchmetrics=0.2.0 instead of a range torchmetrics>0.2.0"
## 🐛 Bug

The conda-forge package for pytorch-lightning depends on a fixed version of torchmetrics (0.2.0), rather than the dependency torchmetrics>=0.2.0 that is in the requirements.txt file of the repository.

### To Reproduce

`conda search pytorch-lightning -c conda-forge --info`

...

[code]
### Expected behavior

The dependency on torchmetrcis should be a range. Currently, the only way to us

[2021-04-27 11:17] fmassa commented on #7129
@kazhang another option is to distribute the evaluation over different GPUs like we do in [torchvision detection reference scripts](https://github.com/pytorch/vision/tree/master/references/detection). Not only this makes evaluation faster, but also avoid all but one worker being idle.

[2021-04-27 12:02] awadell1 commented on #7206
It looks like you guys already got it, so huge thank you!

But if your looking for a test case, see here: https://colab.research.google.com/drive/1nzhu4WP0RBY0-55mAPn_vJBq0iWV16K1?usp=sharing

I've added the assert code from [above](https://github.com/PyTorchLightning/pytorch-lightning/issues/7206#issuecomment-827396972) to my example notebook ( I really should have left the URL unformatted)

Than

[2021-04-27 12:05] Alexfinkelshtein commented on #5339
@carmocca ,
"Are you talking about a hook that encapsulates the load_state_dict call?"
yes exactly

[2021-04-27 12:08] #6812 closed

[2021-04-27 12:09] kaushikb11 commented on #6812
Feel free to reopen the issue, if you have any related queries.

[2021-04-27 12:17] fonnesbeck commented on #6381
I was not able to, no. I have just been running it on CPU.

[2021-04-27 12:29] awaelchli commented on #6381
If I try to replicate your example I get the error:

[code]
Which makes sense because we have `num_workers > 0` and try to move tensors to CUDA in the dataloader worker:

[code]
Please let me know what I can do to reproduce it.

[2021-04-27 12:36] Borda commented on #7229
Fixed `1.2.5` and release new `1.2.10` so I'll wait if it helps and then I publish other fixes

[2021-04-27 12:39] kaushikb11 commented on #7197
On non-master VMs
[code]

[2021-04-27 12:39] awaelchli commented on #7021
@neighthan still interested to send a fix for this?

[2021-04-27 12:43] awaelchli commented on #6792
I see no reason to remove it from the BoringModel. It's perfectly fine to pass outputs from step to epoch_end hooks and it seems a good default implementation for a debugging model.

[2021-04-27 12:43] #6792 closed

[2021-04-27 12:49] awaelchli commented on #6517
Would it make sense to catch this PyTorch warning and replace it with a Lightning-friendly warning?
For PyTorch users it is clear that one has to set the flag in DDP but for Lightning users this is hidden away, and they can only know by going to our documentation.

We can catch the warning in forward in the wrapper, then replace it with a simple instruction to set the plugin parameter.
What do you

[2021-04-27 12:51] ManiadisG opened #7233 "DDP - Worse performance with 2 GPUs compared to 1."
## 🐛 Bug

I am running a model with multiple optimizers using DDP and automatic optimization. When I run it on two GPUs (with the same effective batch size), the model performs consistently worse than it does on 1 GPU (the loss decreases at a significantly slower rate).

I have ruled out errors in my code as it runs as without errors and, in both cases, the model performs as expected. I have also

[2021-04-27 12:58] SeanNaren commented on #6517
Considering `find_unused_parameters` is now True by default, this should solve the issue here right @awaelchli?

There is a warning printed now since `find_unused_parameters` is set to True by default, which suggests to people to turn it off. If we could catch this and tell people to use `accelerator=ddp_find_unused_parameters_false` instead that would be great  (once #7224 is merged) :)

[2021-04-27 13:08] edenlightning commented on #6789
@mees friendly ping :)

[2021-04-27 13:10] edenlightning commented on #6569
@sivakhno friendly ping :)

[2021-04-27 13:10] edenlightning commented on #6753
@dumitrescustefan friendly ping :)

[2021-04-27 13:12] edenlightning commented on #6449
@sachinruk friendly ping :)

[2021-04-27 13:16] #7206 closed

[2021-04-27 13:17] #7229 closed

[2021-04-27 13:19] itsikad opened #7235 "Model checkpoint cannot find monitored metric when using torchmetric collection with prefix"
## 🐛 Bug
Hi,

`Modelcheckpoint` callback fails to find the monitored metric (e.g, 'val_mse') when using `torchmetrics.MetricCollection` clone method with prefix='val_'.

[Boring model](https://colab.research.google.com/drive/1sM7UQc0EnRyqswjAX_pP8KI0bOMcSgAW?usp=sharing)

Versions:
lightning=1.2.10
torchmetrics=0.3.1

[2021-04-27 13:39] edenlightning commented on #5374
@SkafteNicki

[2021-04-27 13:47] Borda commented on #7235
@itsikad mind share example to reproduce, ideally with the boring model?

[2021-04-27 13:50] tmcclintock commented on #6792
Sure thing. My mistake, I must have misread the functions and misunderstood. Sorry for the noise.

[2021-04-27 13:51] ManiadisG commented on #6789
Dear @tchaton  .

I have a similar problem about which I just raised an [issue](https://github.com/PyTorchLightning/pytorch-lightning/issues/7233#issue-868816478). I also thought the problem was SyncBN but the problem persisted when I tried models that didn't use BN at all. It may be related.

[2021-04-27 14:02] edenlightning commented on #6943
@aced125 friendly ping :)

[2021-04-27 14:02] edenlightning commented on #6935
@tgaddair friendly ping :)

[2021-04-27 16:53] #7051 closed

[2021-04-27 17:28] tmbdev commented on #7003
[Here](https://github.com/tmbdev/webdataset-imagenet) is another repo that successfully does multinode training with plain PyTorch; the command to run it is `./run twonode master rank` in that repo. So I know the hardware works, DDP works, NCCL is properly configured, etc.

[2021-04-27 17:55] ManiadisG commented on #7233
I'm sorry, this thing with the dataloaders and the batch sizes is always is a hard thing to get across, and saying that the dataloader "splits" the batches was definately poor phrasing.

What I meant is that when I trained the model on a single GPU I had a batch size of 256. When I trained it on two GPUs the dataloaders had a batch size of 128. So the effective batch size for both cases is the sam

[2021-04-27 18:13] tchaton commented on #7233
Hey @ManiadisG,

Could you provide a reproducible example with an open source model / dataset ?

Best,
T.C

[2021-04-27 18:17] #6833 closed

[2021-04-27 18:17] tchaton commented on #6833
Hey @timothybrooks,

Should work on master. Mind checking ?

Best,
T.C

[2021-04-27 18:18] #6129 closed

[2021-04-27 18:52] itsikad commented on #7235
@Borda the link doesn't work for you?

[2021-04-27 19:29] rivi commented on #7003
I was trying to run a very similar setup using AWS SageMaker (two instances executing `mpirun -np 1 ...`). The only difference seems to be that in my case each node has not one, but four GPUs. The same problems that @tmbdev mentioned happened to me as well.

[2021-04-27 19:30] denadai2 commented on #6833
my script works :) thx!

[2021-04-27 19:52] ManiadisG commented on #7233
I think the following script is close to what I am doing. My actual model is similar to MoCo (memory bank, momentum-updated models) but I have isolated and removed each of these component and none of them caused the issue.

The results I got with this script weren't as extreme (which makes sense given that classifying STL10 is straightforward), but even with a fixed seed and deterministic=True the

[2021-04-27 20:23] #7113 closed

[2021-04-27 20:26] Fassty opened #7242 "[Trainer] Use name mangling to allow for subclassing"
## 🐛 Bug

The `Trainer` class uses its `self.fit` directly in several places. That causes problems when the `Trainer` class is subclassed and the behavior of the `fit` method altered. As it's now impossible to call the `test` method because it uses `self.fit` internally.

Since things like `trainer.validate` and `GridSearch` are not yet implemented in `PyTorchLightning` the user should be allowed

[2021-04-27 20:31] #6660 closed

[2021-04-27 20:31] ananthsub commented on #7242
Does https://github.com/PyTorchLightning/pytorch-lightning/pull/7232 address the concerns here?

[2021-04-27 22:34] maxwells-daemons commented on #6338
For anyone else having this issue, here's a workaround I've been using.

[code]

It would be nice if this were available by default though.

[2021-04-27 23:23] kaushikb11 commented on #7197
Some start...

<img width="1792" alt="Screen Shot 2021-04-28 at 4 51 26 AM" src="https://user-images.githubusercontent.com/45285388/116324294-853e5d80-a7dd-11eb-9d6d-f1ca46af4dc8.png">

[2021-04-28 04:17] lizhitwo commented on #5131
Hi ludwigwinkler, from the stack it seems that your code runs the optimizer step before the closure (`def step(self, closure=None)`'s closure). Since some time ago, pl needs us users to either pass `closure` to parent classes to handle, or run the `closure` ourselves, and the `closure` is what actually calls training_step, etc. Otherwise no forward pass is even evaluated, and that leads to no hook

[2021-04-28 07:10] Wufang1997 opened #7248 "TensorMetric cannot be imported"
Hi, I cannot import TensorMetric in my 1.2.10 version of pytorch lightning. I found that others used it successfully in 0.9.0. Does this function deprecate in a higher version?

[2021-04-28 08:01] #6348 closed

[2021-04-28 08:11] Fassty commented on #7242
Partially yes, sorry that I missed that. It's still possible to override the `_fit_impl` method and break the `Trainer` though as single underscore doesn't add the desired level of protection. But I guess it's good enough and anyone who overrides "private" methods deserve what's coming for them anyway.

However I still believe that using class local references with double underscore is a cleaner w

[2021-04-28 08:42] rubencart commented on #2824
@SkafteNicki I spent a lot of time looking for a reason for decreased performance, turns out it was because PL put my pretrained (frozen) RNN/CNN into train mode (after I put them in eval mode). I agree that it makes sense to put the model to be trained into train mode. But maybe documentation could me made clearer on the fact that this also happens with frozen models (that you use to encode your

[2021-04-28 08:42] tchaton opened #7250 "Extend the `LightningCLI` to register models, datamodules, and callbacks."
# 🚀 Feature

Implement a CLI store/provider/registry for available `LightningModule`s, `LightningDataModules`, and `Callbacks`.

## Implementation

[code]

The registry idea is highly influenced by this implementation:

https://github.com/PyTorchLightning/lightning-flash/blob/master/flash/core/registry.py
https://github.com/PyTorchLightning/lightning-flash/blob/master/tests/core/test_registry.py

[2021-04-28 08:55] jonaskohler commented on #328
For me that overwrites the def training_step(), so all of my loss computations, logging etc. get lost. What I did instead was to adjust the learning rate directly in training_step() by replacing _optimizer_ with _self.trainer.optimizers[0]_

[2021-04-28 08:56] dumitrescustefan commented on #6753
Hi, I tried to reproduce this bug some days ago using a simple MNIST colab example and it indeed seems to work (I inserted a simple return None in the training step and it does not crash). The problem is reproducing the quite complex project I'm working on, on colab; I'll give it a shot later this week as I'm a bit overwhelmed with work. Thanks for keeping this open!

[2021-04-28 12:09] carmocca commented on #7242
Thanks for the input @Fassty !

We should try to use private methods more, but in this case, it needs to stay as protected as it's also called by the Tuner.

[2021-04-28 12:30] Fassty commented on #7242
Thanks @carmocca, I see that you've had a discussion about that in the PR. I didn't realize that the `Tuner` now also calls the fit as I was looking in the source of `ver. 1.2.10`.

Anyway the linked PR solves this issue.

[2021-04-28 13:02] ManiadisG commented on #7233
I also tried without random augmentations (only normalization, resizing and center crop) to rule out the different dataloader instances having an impact. There are still (small) differences in how the models train despite the fact that, as I understand it, they should be identical.

[2021-04-28 13:03] #7072 closed

[2021-04-28 13:18] #7033 closed

[2021-04-28 15:41] #7242 closed

[2021-04-28 15:46] amonod opened #7257 "Lightning + DDP + Metrics: RuntimeError: Tensors must be CUDA and dense"
## 🐛 Bug

Hi folks,

I have a problem when using lightning, DDP and torchmetrics. When training a small denoising network on MNIST with 2 gpus using DDP and torchmetrics to compute training and validation PSNR I get the following error:

`RuntimeError: Tensors must be CUDA and dense`

## Code for reproduction

[code]

### Expected behavior

Training should perform correctly.

It looks like somethi

[2021-04-28 15:48] tchaton commented on #7235
Hey @itsikad,

I confirm the link works ! Looking into it !

Best,
T.C

[2021-04-28 17:04] kazhang commented on #6457
The error in `load_from_checkpoint` is caused be model quantization preparation is done by checkpoint hook, which is not  triggered by PL module's load_from_checkpoint API. At the checkpoint loading time, Lightning module is not prepared for quantization but the checkpoint has quantization states.

Have we considered to delegate quantization preparation and conversion to PL module itself? In this

[2021-04-28 17:05] mpeven commented on #7216
@awaelchli I ran your minimal example and got the output `error: unrecognized arguments: --hpc_exp_number 2`

Here's a colab notebook showing this:
https://colab.research.google.com/drive/1RxTpdUXSUdPyHzlR343_GL9Dvwl6cN8X?usp=sharing

[2021-04-28 17:17] SeanNaren commented on #7217
Thanks @timothybrooks for the issue! Here is a reproduce:

[code]

The issue stems from us replacing the optimizer with a Sharded Optimizer, but not updating the scheduler. However after updating the reference in the scheduler we run into the issue that counters have not been setup in the optimizer as the scheduler is created before the optimizer.

Schedulers do not maintain their initialization p

[2021-04-28 18:21] sebp commented on #6810
I experienced the same issue when using `torch.utils.data.DataLoader` with `drop_last=True` and a `IterableDataset`. If the total number of data points is not a multiple of the batch size, the last (incomplete) batch will raise StopIteration.

[2021-04-28 19:39] Borda commented on #7248
@Wufang1997 can you share some more details and what libs do you have installed?
[code]

[2021-04-28 21:14] mattlbeck commented on #6782
@toandaominh1997 I have just come across this issue. You need to log your test results via `self.log_dict(...)` instead of returning them from `test_step`. The documentation is wrong to suggest that you can return results from that function as anything returned is currently ignored.

[2021-04-28 21:41] cemde opened #7260 "automatic metric selection filename ModelCheckpoint"
## 🚀 Feature

when configuring the `filename` for the `ModelCheckpoint`, it might be nice to have an option to automatically paste the metric used for monitoring.

### Motivation

This would simplify setting up the ModelCheckpoint saving by dynamically creating the filename template.

### Pitch

Reserve "{\_\_monitor\_\_}" to be automatically set to the variable used for monitoring by `monitor=`.

[2021-04-28 23:56] #6117 closed

[2021-04-29 01:26] choieq opened #7263 "KeyError: 0 when using multiple optimizer"
## 🐛 Bug

I use 3 optimizer for training my model.
It trains well, but got error when end of epoch 1.

When self.current_epoch%2 ==0 Model is trained  by using one optimizer and
self.current_epoch%==1 model is trained by using two optimizer.

### To Reproduce
https://colab.research.google.com/drive/1s8sIN02Uhiox9In0kHMpqxgYxK3o6zKx?usp=sharing

### Expected behavior
Multiple optimizer idx ??

###

[2021-04-29 06:04] ananthsub commented on #6030
@awaelchli  @carmocca why do we need to bind the dataloader functions to the model at all? why can't we set these as attributes of the trainer? and then delete corresponding at the end of the call? or just call the right one of model/datamodule/dataloader inside of the training/evaluation/predict loop?

[2021-04-29 07:17] awaelchli opened #7267 "support save_hyperparameters(kwargs) with potentially empty kwargs"
## 🐛 Bug

Not sure if it's a bug, or even possible to support this.

## Please reproduce using the BoringModel

### To Reproduce
[code]

### Expected behavior

Should `save_hyperparameters(kwargs)` be no-op when kwargs are empty?

[2021-04-29 08:29] awaelchli commented on #7260
Could we just treat the monitor internally in the callback the same as the callback metrics? Then we wouldn't need a special syntax and can just do: `filename='{epoch}-{step}-{monitor:.2f}',` for the same result?

[2021-04-29 08:30] zhengzangw opened #7269 "Support overfit_batches for datamodule that returns a dict"
## 🚀 Feature

Currently, when datamodule returns dict in training, with --overfit_batches flags, the return is only a string.

### Motivation

### Pitch

### Alternatives

### Additional context

[2021-04-29 08:32] tchaton commented on #7263
Dear @choieq,

Thanks for reporting this bug.
I will look into it.

Best,
T.C

[2021-04-29 09:49] caic99 opened #7271 "Lightning + DDP + apex.amp fails to initialize"
## 🐛 Bug
Runtime error when using DDP with apex.amp.

## To Reproduce
Replace with
[code]
And export Boring Model as .py to your machine with apex installed.

The initialization of apex.amp lies at  https://github.com/PyTorchLightning/pytorch-lightning/blob/e272bea4dcf679d15ab836310c82193641e79778/pytorch_lightning/plugins/precision/apex_amp.py#L41, called at https://github.com/PyTorchLightning/py

[2021-04-29 09:54] caic99 commented on #7271
Or... apex backend is not supported any more?

[2021-04-29 10:48] SkafteNicki commented on #7257
Hi @amonod, could you please provide the full traceback :]

[2021-04-29 10:56] choieq commented on #7263
it works well, after i update pytorch-lightning!

Thank you for your quick reply.

Best,
choieq

[2021-04-29 10:56] #7263 closed

[2021-04-29 10:57] tchaton commented on #7263
Hey @choieq,

[code]

[2021-04-29 10:58] tchaton commented on #7263
Hey @choieq,

Thanks for letting me know :)
Quick note for the next issue. Would you mind to provide a reproducible script using the BoringModel as I couldn't run your notebook :)

Best,
T.C

[2021-04-29 11:00] tchaton commented on #7271
Dear @caic99,

Apex should still be supported, but slowly being depreciated in several libraries such as Horovod.

I will look into this one.

Best,
T.C

[2021-04-29 11:01] awaelchli commented on #6030
I don't know why. It was there from the start. I don't see a reason why it should be necessary.

we can, and it's exactly what we propose in this issue.

If @gianscarpe doesn't have time to do it, I can try to get this started in 1.4. It will be a relatively wide-spreading refactor.

[2021-04-29 12:39] renat-abbyazov opened #7273 "Lightning + DeepSpeed + Metrics: RuntimeError: Tensors must be CUDA and dense"
## 🐛 Bug

RuntimeError: Tensors must be CUDA and dense

Hi folks,

I have a problem when using lightning, DeepSpeed and torchmetrics.

## Code
[code]

### Traceback

[code]

### Expected behavior

Training should perform correctly. Training and validation work fine when using a single GPU and no DeepSpeed.

### Environment

 - PyTorch Version (e.g., 1.0):  1.8.1
 - OS (e.g., Linux): Debian GNU/Lin

[2021-04-29 12:41] kaushikb11 commented on #6030
@awaelchli Adding you as an assignee as well! 🚀

[2021-04-29 12:58] amonod commented on #7257
Hi @SkafteNicki, sure thing, there you go:

[code]

[2021-04-29 13:12] Queuecumber commented on #5829
So I have something to add to this which is very strange. I usually run my experiments on a slurm cluster, I just found that when I launch through sbatch I don't get this error, but when I use srun to get a terminal on a node to do some debugging I do get the error. I have no idea why they would be different.

[2021-04-29 14:21] aribornstein opened #7278 "Trainer Progressbar Not Showing the Metrics in Kaggle notebooks"
## 🐛 Bug

When training the a multi label flash image classification model I'm seeing the following output on kaggle

![image](https://user-images.githubusercontent.com/3045407/116565828-df8b0b80-a90e-11eb-9f41-727d3323257c.png)

### To Reproduce

1. Create Kaggle Notebook for ranzcr challenge
2. Set accelerator to gpu
3. Install Flash !python -m pip install git+https://github.com/PyTorchLightning

[2021-04-29 14:34] kaushikb11 commented on #6647
@pbsds Friendly ping! :))

[2021-04-29 16:42] addisonklinke opened #7279 "Add checks for model spec and matching output values in `to_onnx()` method"
## 🚀 Feature
The official PyTorch [tutorial](https://pytorch.org/tutorials/advanced/super_resolution_with_onnxruntime.html) for exporting to ONNX includes checking the model spec as well as confirming the output values match the PyTorch version of the model. The current Lightning implementation of `to_onnx()` only calls `torch.onnx.export` but skips these additional checks. For best practice, I th

[2021-04-29 18:18] gurvindersingh opened #7282 "Model restore fails from stored checkpoint when using Deepspeed"
## 🐛 Bug
Trying to restore a checkpoint to resume training but it fails with the below exceptions

[code]

### To Reproduce
Run the following mode with commented out restore argument, then run it again with uncommenting the restore and you will see the exception.

[code]

### Expected behavior

Training resume successfully from stored checkpoint.

### Environment

Tried with lightning version: `1.

[2021-04-29 19:46] #5069 closed

[2021-04-29 20:39] awaelchli commented on #6381
It's possible that your dataloader workers are stalling. Please try `num_workers=0` and see if that solves the hang.

[2021-04-29 20:53] awaelchli opened #7286 "AttributeError: 'DataModule' object has no attribute 'has_teardown_None'"
## 🐛 Bug

AttributeError: 'DataModule' object has no attribute 'has_teardown_None'

Happens when Ctrl+C a GPU training script.

## Please reproduce using the BoringModel

### To Reproduce

1. `git checkout b6706470c1e7a1db47f5dc2440fe3b970bdf209c` (current master)
2. `python pl_examples/basic_examples/simple_image_classifier.py --trainer.gpus 1`
3. press Ctrl+C

Error:
[code]

### Expected behavio

[2021-04-29 20:55] ananthsub commented on #7286
I think @carmocca is working on this with https://github.com/PyTorchLightning/pytorch-lightning/pull/7173

[2021-04-29 20:55] fonnesbeck commented on #6381
Yeah, that works. Thanks.

[2021-04-29 20:55] #6381 closed

[2021-04-29 20:59] carmocca commented on #7286
That's correct! Thanks for pinging

[2021-04-29 21:07] awaelchli commented on #7286
Ok, but no duplicate right?
Is the refactor required or can we bring this fix in for 1.3? I have not yet looked closely what the issue is.

[2021-04-29 21:10] carmocca commented on #7286
This was reported in Slack and lazy me didn't create an issue and jumped straight into fixing it 😝

The refactor is required and I would like that it makes it to 1.3, this way we don't have to worry about conflicts for the 1.4 bugfix releases.

[2021-04-29 22:31] leezu opened #7287 "trainer.plugins has incorrect type declaration and plugins/environments do not inherit from Plugin"
Per https://pytorch-lightning.readthedocs.io/en/latest/clouds/cluster.html users can declare custom clusterenvironment and pass it as trainer plugin

[code]

However, ClusterEnvironment fails to inherit from Plugin and is thus not a valid argument to Trainer(plugins):

https://github.com/PyTorchLightning/pytorch-lightning/blob/338f5a331155d61a9d94168480ca45c264821019/pytorch_lightning/plugins/envi

[2021-04-29 23:33] amogkam commented on #7287
The docs are actually incorrect here I believe. The cluster environment should be passed into a plugin, it is not a plugin itself.

[2021-04-30 01:18] fonnesbeck opened #7290 "Remove DataLoader warning for num_workers when using GPU"
## 🐛 Bug

When `num_workers` is specified as zero on a multicore machine in a DataLoader, you get the following warning:

    UserWarning: The dataloader, train dataloader, does not have many workers which may be a bottleneck.
    Consider increasing the value of the `num_workers` argument` (try 8 which is the number of cpus on this machine) in the `DataLoader` init to improve performance.

This i

[2021-04-30 02:09] leezu commented on #7287
@amogkam Passing cluster environment to a plugin is valid, but appears not to be required. If cluster environment is passed as a plugin itself, the accelerator connector appears to take care of passing it to the respective other plugins:

https://github.com/PyTorchLightning/pytorch-lightning/blob/338f5a331155d61a9d94168480ca45c264821019/pytorch_lightning/trainer/connectors/accelerator_connector.py

[2021-04-30 02:10] awaelchli commented on #7290
Hi @fonnesbeck
Where did you get that from? Can you name some references? I don't understand how one would reason against using multiple workers per GPU.

Without a doubt, giving a good rule of thumb is difficult as there are many factors that play into the efficiency of loading data with multiprocessing.

[2021-04-30 02:42] fonnesbeck commented on #7290
OK, I think I have misunderstood what I have read in various places (the pytorch forum appears to be down right now, so I can't reference some of them). I'm getting RunTime errors with this on AWS, but this appears to be related to the multiprocessing settings.

I will close this.

[2021-04-30 02:42] #7290 closed

[2021-04-30 03:23] awaelchli commented on #7216
I can confirm the problem is in 1.2.10 and it's fixed on master. You can see it if you install the pre-release.
`pip install --pre pytorch-lightning`

[2021-04-30 03:23] #7216 closed

[2021-04-30 05:45] dfioravanti opened #7291 "Allow PyYAML 5.4"
## 🚀 Feature

Right now the requirement file blocks the installation of PyYAML >=5.4. Would it be possible to remove this constrain?

### Motivation

There is CVE out for PyYAML 5.3.1 [link]( https://nvd.nist.gov/vuln/detail/CVE-2020-1747) and this makes this version unusable in regulated environments where we are required by law to update to patched versions. Now combined with the recent PIP chan

[2021-04-30 06:33] choieq commented on #7263
**Can i share my gitlab code ??**
It's complicate to write reproducible script code by using colab.
Actually, i don't familiar with colab ..

After updating pytorch-lightning version the "KeyError" is gone, but the GPU error such as "Caught RuntimeError in replica 0 on device 4" in the middle of training.
And i tried use **acclerate=ddp**, but it causes Out of Memory(OOM), so i use DP Mode..

Than

[2021-04-30 09:21] awaelchli commented on #6810
@sebp Sounds rather like a limitation of the PyTorch DataLoader. Do you have a mini example?

[2021-04-30 11:23] awaelchli commented on #6512
Still a problem? Can you confirm this is not just due to stalling of dataloader workers spawning context? Set `num_workers=0` as a test.

[2021-04-30 12:16] awaelchli commented on #6113
Hi, you reported this with 1.2.0 but I'm struggling to get this failing.
In terms of expected behaviour, we try to explain this in the docs of EarlyStopping:

Recently @ananthsub added the option `check_on_train_epoch_end`, which means now you can essentially simulate what you want: The validation runs on only on every N steps but the early stopping checks and counts internally with the training e

[2021-04-30 12:26] awaelchli commented on #6113
Currently we show a message like this for stopping:

We should change the wording "epochs" to something else. Suggestion?

[2021-04-30 12:38] #7267 closed

[2021-04-30 12:42] tchaton commented on #5334
Dear @jonashaag, @carlomarxdk,

Would you mind to try master ? If the bug still persists, could you provide a reproducible script using the BoringModel ?

Best,
T.C

[2021-04-30 12:45] #6810 closed

[2021-04-30 13:14] selflein commented on #6113
Yes, just checked again and the error seems to be fixed with 1.2.10.

I would vote for naming it something along the lines of "validation runs" which would be quite intuitive for me.

[2021-04-30 13:48] aoussou commented on #6512
@awaelchli

Sorry, I didn't get it to work and I'm afraid I don't have time to investigate this further. You may close this issue if you wish.

[2021-04-30 14:35] mauvilsa commented on #7250
@tchaton thank you for the proposal. I haven't thought about it yet. But I will do and comment later.

[2021-04-30 15:14] #6891 closed

[2021-04-30 15:56] SeanNaren commented on #7282
Hi @gurvindersingh I have a fix at: https://github.com/PyTorchLightning/pytorch-lightning/pull/7297 but the tests are failing (but the above reprod now works on multiple GPUs). Could you test this out and let me know?

[2021-04-30 16:01] #7208 closed

[2021-04-30 16:12] mees commented on #6789
ah okey, yes please let me know and feel free to reopen the issue.

[2021-04-30 16:35] gurvindersingh commented on #7282
@SeanNaren model does get loaded fine now without error, but it seems the state is somehow corrupted as training loss was high upon resuming training from checkpoint. Loss was the same as network is randomly initialized not restored from trained checkpoint, so seems like there is some issue in correctly loading/storing the weights using deepspeed.

When I run my training (from scratch) without dee

[2021-04-30 16:43] SeanNaren commented on #7282
Thanks @gurvindersingh probably comes from the fact the optimizer states are not loaded, just the model itself. I'll investigate further as to what's required to restore the optimizer state and LR state!

[2021-04-30 16:53] ananthsub commented on #7291
https://github.com/PyTorchLightning/pytorch-lightning/pull/6673 is working on this

[2021-04-30 17:07] tchaton commented on #6889
Hey @rusty1s,

[code]

[2021-04-30 17:16] #7271 closed

[2021-04-30 17:44] #7197 closed

[2021-04-30 17:52] tchaton commented on #7003
Hey @tmbdev,

Looking into this asap !
Thanks for sharing a reproducible script :)

Best,
T.C

[2021-04-30 18:02] tchaton commented on #7003
Hey @rivi, @tmbdev,

Would it be possible to have a reproducible script with a small public dataset already setup in a bucket ?

Best,
T.C

[2021-04-30 18:21] #7273 closed

[2021-04-30 18:21] cutecows commented on #2613
Has this been resolved?

[2021-04-30 20:19] #7257 closed

[2021-04-30 20:37] tmbdev commented on #7003
@tchaton Thanks. You don't need to use WebDataset at all; the I/O pipeline is unrelated. I couldn't get the example for the PL distribution to work:

https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/domain_templates/imagenet.py

If you could show an example of pl_examples/domain_templates/imagenet.py where you ssh into host1 and host2, start up a training job manually

[2021-04-30 20:45] #6082 closed

[2021-04-30 20:45] #6640 closed

[2021-04-30 20:45] #6188 closed

[2021-04-30 20:45] #6626 closed

[2021-04-30 20:46] awaelchli commented on #6113
Yes I agree it would be intuitive, except we have now the setting in which we can let EarlyStopping run purely on the training epoch end (no validation), so then the wording would again be misleading 😅
In the linked PR I currently have `f"Monitored metric {self.monitor} did not improve in the last {self.wait_count} records."`

[2021-04-30 20:48] awaelchli commented on #6512
Okay, anyway thanks for your patience. If this occurs again reach out to me here or in our [slack](https://join.slack.com/t/pytorch-lightning/shared_invite/zt-f6bl2l0l-JYMK3tbAgAmGRrlNr00f1A).

[2021-04-30 22:04] ananthsub opened #7301 "[RFC] Remove has_{setup/teardown}_{stage} properties from DataModule"
## 🚀 Feature

Carrying forward discussion from https://github.com/PyTorchLightning/pytorch-lightning/pull/7289#issuecomment-830193573

Remove these settings to give more control to the users and making trainer execution easier
https://github.com/PyTorchLightning/pytorch-lightning/blob/490cc57809ebeba19003b4101393a8a058217c31/pytorch_lightning/core/datamodule.py#L33-L52

### Motivation

Consecutive

[2021-04-30 23:19] awaelchli commented on #6789
Here are my findings. Four experiments conducted, dummy model with dummy loss, effective batch size always 8:

Pure PyTorch DDP implementation:
1. --gpus=2 --batch_size=4
2. --gpus=1 --batch_size=8

Lightning DDP implementation:
1. --gpus=2 --batch_size=4
2. --gpus=1 --batch_size=8

Without learning rate scaling, I get two different curves, but we maintain parity between pure PyTorch and Lighting.

[2021-05-01 00:05] ananthsub commented on #6082
@pietz does overriding freeze/unfreeze in the lightning module work for you? This approach might not work for lightning modules which contain multiple modules inside (eg GANs). Rather than pass flags, I'd prefer for
users to be able to fully specify this

[2021-05-01 01:07] shuyingsunshine21 opened #7303 "NAN for progress bar when only `limit_train_batches` is set for trainer with datasets with no __len__"
## 🐛 Bug

## Please reproduce using the BoringModel

when only `limit_train_batches` is set for trainer for Iterable dataset with no `__len__`, it does not work for progress bar, as the progress bar's total number would be nan, hence https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/callbacks/progress.py#L412 would crash

### To Reproduce
[code]

Use following [**

[2021-05-01 01:22] shuyingsunshine21 commented on #7303
as validation dataset has no length, the progress total is based on `self.total_train_batches + self.total_val_batches`.

On one hand, it might be as expected, as `total_val_batches` is `nan`. On the other hand, feel we should probably explicitly warn users about this `Misconfiguration`.

cc @ananthsub, @hudeven, @maximsch2 , @kandluis

[2021-05-01 07:21] ManiadisG commented on #6789
@awaelchli I may be wrong but I think in your example this may be due to the sum() in the loss. If the loss is not averaged over the batch then the magnitude of the gradients increases as the batch size increases, so the 2-GPU model has a learning signal half as strong as the single GPU one. The reported loss is also always 2 times smaller than the loss for the same model with double the batch. Th

[2021-05-01 11:24] awaelchli commented on #6789
No you are right and this is stupid of me not noticing. It should be the mean! I will update the results later today. And I will check again if 1.2.6 gave different results as you reported initially. Thanks for the help. Need to be sure everything is right before our 1.3 release.

[2021-05-01 19:20] #7233 closed

[2021-05-01 20:11] borisdayma commented on #6788
There's PR #6989 open for this issue.

[2021-05-01 20:13] borisdayma commented on #6106
Still open and being worked on

[2021-05-01 20:18] awaelchli commented on #6788
somehow nobody labelled this.
labelling now as bugifx.
thanks @borisdayma

[2021-05-01 23:44] daviddavini commented on #5245
Me too, this would be really useful!

[2021-05-02 00:28] ananthsub commented on #5245
Thanks for raising this question!

Some questions that would need to be addressed are:

- Testing could be run asynchronously as it doesn't block training. One could imagine launching a job taking the checkpoint path as an argument. However, this launching can be highly customized to the user or cluster needs, and specifying how to do this in the existing training and validation loop may not lead

[2021-05-02 14:06] edenlightning commented on #2350
@SeanNaren maybe add to your PR?

[2021-05-02 14:19] williamFalcon commented on #6228
i vote for making it consistent!

[2021-05-02 14:23] edenlightning opened #7315 "Remove Trainer reference from lightning module and datamodule"
Motivation: Remove trainer full reference from LightningModule and lightnignDataModule so we can use the lightning module from one version of Lightning and the Trainer from another version.

Possible solution: for v1.4, think about introducing a TrainerContext object to pass state and deprecate references to the trainer.

[2021-05-02 19:51] sebp commented on #6810
@awaelchli It essentially boils down to the same issue when using a DataLoader with a batch size larger than the size of the data and using `drop_last=True`.

[2021-05-02 20:13] awaelchli commented on #6810
And how would you solve this in PyTorch?
Is it related?: https://github.com/pytorch/pytorch/issues/33413

[2021-05-02 20:41] sebp commented on #6810
Good point. If num_workers=1, this would only occur if batch size
exceeds the amount of data available. If num_workers>1, it could also
occur if there would be enough data for one batch, but because pytorch
asks each worker to return a batch, it can fail if no worker can return
a full batch.

[2021-05-02 22:27] #6824 closed

[2021-05-03 00:14] ramonemiliani93 opened #7319 "Auto scaling of batch size always runs on power mode."
## 🐛 Bug

When using `trainer.tune(...)` if `auto_scale_batch_size="binsearch"` the mode of autoscaling used will still be `power`.

## Please reproduce using the BoringModel

https://colab.research.google.com/drive/1e81qySuqSfOakcUxbgTVBKK23Iovwkdg?usp=sharing

### To Reproduce
Run the colab and use the instructions in the test to go through the trace.

### Expected behavior

`print(mode)` should

[2021-05-03 00:15] cutecows opened #7320 "Unable to set optimizer state"
## 🐛 Bug

I'm trying to restore the model using the resume_from_checkpoint. However, I am experiencing instability after the load, similar to #2613. I suspect this is because trainer.fit() calls configure_optimizers after restoring the optimizer, thus overwriting the previously restored value. Thus, I am additionally trying to set the optimizer in configure_optimizers, however, this leads to the p

[2021-05-03 00:59] eagomez2 commented on #2110
As of today returning a dict with the 'log' key is deprecated, is there any other solution to preserve the right x-axis numbering?

[2021-05-03 01:06] sachinruk commented on #1406
@jeremyjordan just wondering if you could add this feature to the docs. Only found out about this from this question: https://github.com/PyTorchLightning/pytorch-lightning/discussions/7305#discussioncomment-682487

[2021-05-03 01:21] #7320 closed

[2021-05-03 02:30] awaelchli commented on #6789
Reran my toy example and the curves match.
But the initial code posted by @mees shows a difference and I was able to confirm that on my gpus. @mees did you change anything when you reran your experiments here https://github.com/PyTorchLightning/pytorch-lightning/issues/6789#issuecomment-830198938 ?

[2021-05-03 03:17] ramonemiliani93 commented on #7319
Started to work on this [here](https://github.com/PyTorchLightning/pytorch-lightning/pull/7321). I added a simple test to show that using a mode different to `binsearch` or `power` should fail.

[2021-05-03 03:26] GuillaumeTong commented on #7286
Hi, is there a temporary workaround for this issue in 1.3.0rc1? Such as maybe defining a dummy 'has_teardown_None' attribute for our datamodule? We have come to rely on some of the new features in 1.3 and cannot easily downgrade but would like to avoid waiting as much as possible.
Thank you

[2021-05-03 04:02] ananthsub opened #7322 "truncated_bptt_steps should be a property of the LightningModule, not the Trainer"
## 🚀 Feature

Very similar to #4317

https://pytorch-lightning.readthedocs.io/en/latest/common/trainer.html#truncated-bptt-steps
It's highly architecture dependent, meaning it's closer to the research code than the engineering code. Accordingly, this should live on the LightningModule, not on the Trainer.

### Pitch
Define a property method for `truncated_bptt_steps` inside the LightningModule

Ch

[2021-05-03 05:29] ananthsub opened #7324 "Precision Plugins should be part of Training Type Plugins"
## 🚀 Feature

Precision Plugin should be a property of the training type plugin, not the accelerator. these can overlap, and interleaving sequences of operations across the two in the accelerator can be challenging to get fully right.

cc @justusschock @awaelchli @kaushikb11 @tchaton

todo:  fill out in more detail

### Motivation

This would make management of things like this easier:
- https://g

[2021-05-03 06:31] ManiadisG commented on #6789
@mees @awaelchli I believe I might have found the issue that [I had](https://github.com/PyTorchLightning/pytorch-lightning/issues/7233) and likely what is going on in this case as well.

I re-implemented my code using standard pytorch ddp and found that, although it didn't throw errors, it didn't really synchronize gradients unless the parameters in question were used in the model's forward functi

[2021-05-03 06:35] ananthsub commented on #6789
By default, we override DDP to redirect the forward function to the correct `*_step` function inside the lightning module. So implementing `forward` on the lightning module is not a hard requirement: https://github.com/PyTorchLightning/pytorch-lightning/blob/e0c64f0ef639a8b9f46e0d8e32e5e0a6b7532cff/pytorch_lightning/overrides/base.py#L22-L63

Additionally, `find_unused_parameters` is set to True b

[2021-05-03 06:45] ananthsub commented on #6228
Our group rarely uses the string argument in part because many users want access to the whole node, which makes monitoring resource usage easier. I'm with @williamFalcon in prioritizing consistency in the API outweighing the cost of a deprecation cycle

[2021-05-03 06:49] ManiadisG commented on #6789
I see, thank you. I would note that in DDP with PyTorch I had set `find_unused_parameters` to True and still parameters didn't sync unless used by forward. Although I don't think it is important in this case given the overrriding you mentioned.

[2021-05-03 08:43] edgarriba commented on #6228
vote for @awaelchli proposal - got some confusion in that too some time ago.

[2021-05-03 09:38] awaelchli commented on #6789
I agree with @ananthsub this should not be an issue. I ran a quick experiment where I converted the step() to forward() in @mees code and I see no change. Repro for his reported numbers/plots are here:
https://wandb.ai/awaelchli/ddp-parity

[2021-05-03 09:40] awaelchli commented on #6789
Did you have a model where there were actually unused parameters? Because find_unused_parameters=True only adds runtime overhead to my knowledge.

If you want to know what's up, carefully backtrack your changes. I bet there was a subtle change when you did the refactor with forward that made the difference. I would be very interested in finding what that is!

[2021-05-03 09:45] dumitrescustefan commented on #6753
@edenlightning Thanks for waiting. I think I figured out what's been happening. It's not a problem when you simply return None in the training step, but it is a problem when you pass batch = None to the training step and then you return None.

My guess is that pytorch lightning **expects that all batches contain some content** and ignores the training steps where None is returned. If, from the col

[2021-05-03 09:53] awaelchli commented on #6782
Hi, where id you find this (mis)information in the docs? I looked in the LightningModule hook but there is no mention of the return value affecting trainer.test().

[2021-05-03 10:09] ManiadisG commented on #6789
In my case I had a "parent" model class with 2 sub-models, each updated individually (different optimizers). Pure PyTorch DDP and PTL with automatic optimization required that I set find_unused_parameters=True, otherwise an error was thrown. PTL with manual optimization (which also gave very different results for 1 and 2 GPUS) did not require that.

I am fairly certain that the switch to forward d

[2021-05-03 10:13] chtlp opened #7325 "can't reproduce the SwAV STL-10 example"
## 🐛 Bug

Hi, I can't reproduce the SwAV STL-10 model results using instructions from the document:
https://pytorch-lightning-bolts.readthedocs.io/en/latest/self_supervised_models.html#id21

### To Reproduce

Because I don't have a V100, I am training with 1 or 2 2080ti. I restricted the batch size to 64 because of the smaller GPU memory.

Training with 2 GPUs:
[code]

Training with 1 GPU:
[code]

[2021-05-03 10:37] awaelchli commented on #6789
Yes I agree that in pure PyTorch, not calling the forward method properly will not activate the hooks DDP needs for sync. However I would be interested how you are using Lightning in a way that you still see this issue? Are you able to reproduce it in a minimal example? Let's track the manual optimization case in a separate issue, as it seems very different than the report here.

[2021-05-03 10:50] ManiadisG commented on #6789
Thank you, I will try to create an example in the coming days and get back to you with more information. The model I am using is fairly complex so it may take a while to find a way to reproduce the issue in a simpler example.

[2021-05-03 10:58] ludwigwinkler commented on #5131
Hi lizhitwo,
I'm only familiar with the concept of closures in optimizers like L-BGFS which recompute multiple values and/or states to predict the right step size in `optim.step(closure=closure)`.

Do you mean that the forward pass should be a encapsulated in a closure and subsequently passed to the optimizer such that the forward pass itself is executed within the optimizer?

Thanks for your effo

[2021-05-03 11:31] awaelchli commented on #7325
Hi
I pinged @ananyahjha93, he may be able to tell us if he saw different results for training on one vs. multiple GPUs. In theory multi-gpu with the same effective batch size should give comparable results.

[2021-05-03 12:30] EricCousineau-TRI commented on #6228
I believe I'm casting my vote in line with the other votes: consistency sounds great, and #6388 seems like an awesome way to drive towards consistency!

[2021-05-03 12:38] ananyahjha93 commented on #7325
@chtlp I think the problem is related to the optimizer selection. Earlier we used Adam with a LARS wrapper to provide layer adaptation which made a learning rate of 1e-3 suitable. Now LARS has been updated to be an Optimizer class object instead of being a wrapper class around Optimizers. That sets the default optimizer to SGD and applies layer adaptation on top of that. From my experience a learn

[2021-05-03 12:56] chtlp commented on #7325
Thanks @awaelchli @ananyahjha93 !

I think the parameter on lars indeed needs to be updated in the document:
https://pytorch-lightning-bolts.readthedocs.io/en/latest/self_supervised_models.html#id21
![Xnip2021-05-03_20-54-01](https://user-images.githubusercontent.com/568535/116878295-bbeafc80-ac51-11eb-9cd0-bbc70e8607c2.jpg)

I will try some different settings, but I do have limited GPU resources

[2021-05-03 13:49] carmocca commented on #7286
@GuillaumeTong we plan to include #7173 into 1.3 which should fix it.

Yes, this workaround would work.

`self.has_teardown_None = False`

[2021-05-03 14:15] lizhitwo commented on #5131
yeah outside pytorch lightning, closure is only useful in LBFGS. In pl, everything uses closure whose purpose I think is to support all optimizers at once, including LBFGS.

that’s already done automatically in pl. Inside your optimizer step, you can try to print the input closure variable, which will be a function instead of none. You can add printing to your training step and your optimizer step

[2021-05-03 14:26] george-gca commented on #2110
Have you tried getting the [logger](https://pytorch-lightning.readthedocs.io/en/latest/common/lightning_module.html#logger) and manually calling [log_metrics](https://pytorch-lightning.readthedocs.io/en/latest/extensions/generated/pytorch_lightning.loggers.TensorBoardLogger.html#pytorch_lightning.loggers.TensorBoardLogger.log_metrics) with the right step?

[2021-05-03 14:57] sophiakrix commented on #7164
Hi @justusschock , is there any news about the integration?

Best, Sophia

[2021-05-03 15:20] chtlp commented on #7325
@ananyahjha93 I tried to set the learning rate to 0.1, but still no luck yet. Can we still use ADAM with LARS?

[code]
![Xnip2021-05-03_23-18-41](https://user-images.githubusercontent.com/568535/116895578-ef378680-ac65-11eb-960a-aa7465113d0d.jpg)

[2021-05-03 15:31] ludwigwinkler commented on #5131
Wow ... never would have that that simply adding `closure()` inside my `optimizer.step()` would solve the entire problem. :)

Wonderful! Thank you very much @lizhitwo for your help!

[2021-05-03 15:38] justusschock commented on #7164
Hi @sophiakrix

Sorry for not getting back to you sooner.

The reason, why the code doesn't work (especially the line `x, y = batch` ) is because batch here is an object of `dgl.dataloading.pytorch._EdgeDataLoaderIter`. I don't know much about dgl internals, so I am not yet sure why this happens (probably some issue with custom loader class), but I'll report back :)

Do you have an idea on why thi

[2021-05-03 15:44] justusschock commented on #7164
One workaround that works, is to manually call `batch = next(batch)`. But that really isn’t supposed to happen.

[2021-05-03 15:56] LingxiaoShawn commented on #3431
This is still an issue. This actually can be fixed easily hope someone can do this.

[2021-05-03 17:24] ananthsub opened #7330 "[RFC] DDP Plugin's find_unused_parameters should be False by default"
## 🚀 Feature

Currently Lightning defaults to setting `find_unused_parameters=True` when using PyTorch's DistributedDataParallel. https://github.com/PyTorchLightning/pytorch-lightning/blob/39274273a4c0a8d0b6bf3ee862a02ec4f5bf705a/pytorch_lightning/plugins/training_type/ddp.py#L221-L225

I propose that we change it back to False

### Motivation

Changing the default to False offers these benefits:

[2021-05-03 17:27] SeanNaren commented on #7330
Motivated by the addition of the plugin registry, I agree here. We should (if possible) catch the error thrown by `find_unused_parameters` and set this to something that ask the user to do `plugins=ddp_find_unused_parameters` which would mitigate the annoyance of having to instantiate the plugin which was the reason it was defaulted to True in the first place.

I've also suggested to people to che

[2021-05-03 18:50] #6332 closed

[2021-05-03 18:50] #7303 closed

[2021-05-03 20:20] #6113 closed

[2021-05-03 20:22] awaelchli opened #7333 "Add test running predict inside the LightningModule hooks"
## 🚀 Feature

### Motivation

This should work. Add a test to make sure this works reliably in multi-gpu setting.

[code]
### Pitch

Add a test. Integrate findings in future loop design.

### Alternatives

User can write their own predict loop inside the hooks, but is error prone and untested.

### Additional context

Asked on slack by Dilip Thiagarajan

[2021-05-03 20:58] vturrisi opened #7334 "Update "register_backward_hook" to "register_full_backward_hook" to stop warnings on Pytorch 1.8"
In Pytorch 1.8, register_backward_hook was replaced by register_full_backward_hook ([https://github.com/pytorch/pytorch/pull/46163](https://github.com/pytorch/pytorch/pull/46163)).

When a model returns more than one tensor that requires gradients, the following warning is raised:
[code]

[2021-05-03 21:24] half-potato opened #7335 "Batch Size Tuner is unable to free memory after OOM"
## 🐛 Bug

When using the batch size tuner, torch.cuda.empty_cache() does not free the memory that pytorch tried to allocated before going OOM. This results in the batch size tuner leaving the device memory full.

Unfortunately, I have limited time and the Boring model would require too much work to replicate the bug with.

### Environment

* CUDA:
	- GPU:
		- GeForce GTX 1060 6GB
	- available:

[2021-05-03 21:31] notprime opened #7336 "Code freezes before validation sanity check when using DDP"
## 🐛 Bug

Grretings from Italy!
I recently moved to PyTorch and a friend of mine introduced me to PL.
I'm coding an autoencoder (whose architecture is still pretty simple) using a custom loss function
which works on the hidden layer output. The link below leads to the github repo:

https://github.com/notprime/custom_autoencoder/blob/main/autoenc_torch.ipynb

I read the documentation about the Mult

[2021-05-03 21:39] maximsch2 commented on #7330
I wonder if we should consider flipping it to True in `fast_dev_run` mode? E.g. enable as much checking as possible in `fast_dev_run=True` case to surface errors early, but then makig it all opt-in in the full-blown runs?

[2021-05-03 22:45] carmocca commented on #7250
@tchaton @mauvilsa Modified the original post

[2021-05-03 23:34] awaelchli commented on #7336
Hi,

You can't use the ddp accelerator in notebooks. Use ddp_spawn or dp for [multi gpu training](https://pytorch-lightning.readthedocs.io/en/latest/advanced/multi_gpu.html#distributed-modes).
We added recently a check so the user gets informed that they are using an unsupported accelerator in the notebook #5970

[2021-05-03 23:34] #7336 closed

[2021-05-03 23:42] awaelchli commented on #7334
Hi

Where in Lightning did you see us use `register_backward_hook`?

[2021-05-04 00:01] #6929 closed

[2021-05-04 00:21] #7189 closed

[2021-05-04 01:26] lizhitwo opened #7337 "Tutorial "step optimizer at arbitrary intervals" does not call train_step every iteration"
## 🐛 Bug

The tutorial [step optimizer at arbitrary intervals](https://pytorch-lightning.readthedocs.io/en/latest/common/optimizers.html#step-optimizers-at-arbitrary-intervals) has a bug/feature(*) that the closure is evaluated (with `optimizer_idx=1`) only every other batch, not every batch.

(*bug/feature) Note: this behavior is intended for e.g. GAN training where a part of the model is only tr

[2021-05-04 01:31] lizhitwo commented on #5131
Glad to help someone who fell into the same pit as myself. Frankly I think pytorch lightning should throw an warning if `closure()` is not called in `optimizer_step`...

[2021-05-04 03:00] huyvnphan commented on #6047
I'm using ResNet50 training on ImageNet here. No memory saving compare to regular ddp training.

[2021-05-04 05:23] pocca2048 commented on #741
@zacharymostowsky `self.logger.experiment` returns a `MlflowClient` and `log_model` is in `mlflow.pytorch.log_model()`. So you can't use `log_model` there...
I think [mlflow documentation](https://mlflow.org/docs/latest/python_api/mlflow.pytorch.html#module-mlflow.pytorch) is more useful than pytorch-lightning documentation.

[2021-05-04 06:42] #7287 closed

[2021-05-04 07:35] ethanwharris commented on #6753
Hi @dumitrescustefan, Thanks for taking the time to reproduce this! This definitely seems like a use case that we should support. Just having a look at a fix now :smiley:

[2021-05-04 07:38] justusschock commented on #7164
@sophiakrix I think I found the issue: the DGL Dataloaders user custom iterators that aren't recognized as subclasses since it does not provide a `__iter__` function. So when we call `next` on each `Iterator`, the `isinstance(dataloader_iter, Iterator)` fails which is why we return the iter as is. This should be fixed in https://github.com/dmlc/dgl/pull/2886

[2021-05-04 08:12] tmachnitzki opened #7341 "Continuous Ranked Probability Score (CRPS) metric"
## 🚀 Feature

The Continuous Ranked Probability Score (CRPS) is a metric for ensemble verification of continuous variables.
It is the continuous version of the  Ranked Probability Score (RPS), which is used for ensemble classification.

A nice description can be found here: https://www.xces.dkrz.de/about/problems/

### Motivation

Sampling from a GAN can be compared to having an ensemble of models

[2021-05-04 09:37] #4815 closed

[2021-05-04 09:39] sophiakrix commented on #7164
@justusschock this sounds logic! Thanks for having such a deep look into it. Does it mean that your fix in [dmlc/dgl#2886](https://github.com/dmlc/dgl/pull/2886) makes the DGL dataloader now compatible with PyTorch Lightning?

[2021-05-04 09:45] #6788 closed

[2021-05-04 09:56] #6228 closed

[2021-05-04 10:00] mees commented on #6789
Hi @awaelchli no I didn't change anything, just the lightning version. Do you have any suspicion of what might be going on?

[2021-05-04 10:35] stonelazy commented on #4986
Still couldn't get any info on this.

[2021-05-04 10:50] #7286 closed

[2021-05-04 10:55] justusschock commented on #7324
@ananthsub This was discussed quite a few times already now and I think the agreement was to change this, when we maybe also move the accelerator inside the training type plugin

cc @SeanNaren

[2021-05-04 11:05] awaelchli commented on #7235
The linked PR marks this as fixed. Closing.

[2021-05-04 11:05] #7235 closed

[2021-05-04 12:03] #7319 closed

[2021-05-04 12:21] Queuecumber commented on #6720
Would love to see this as well, there should be a way to abstract the API enough to cover all use cases. Worst case scenario these functions can accept kwargs or something if you know what logger you're interacting with. I can try to mock something up if my currently pending PR ever gets merged

[2021-05-04 12:24] #6753 closed

[2021-05-04 12:38] awaelchli commented on #6798
I would say this issue here is essentially blocked by #3325 or would even be solved by this. Uneven inputs is possible with the no_sync context manager in pure pytorch, but during this phase no collective ops are allowed. This is a problem because many features in Lightning rely on it, including torchmetrics who may not be aware of a no_sync context. At the moment I do not know a good approach. Ne

[2021-05-04 12:45] vturrisi commented on #7334
I think this is actually related to pytorch and not pytorch lightning. [#pytorch/issues/57157](https://github.com/pytorch/pytorch/issues/57157).

[2021-05-04 12:45] #7334 closed

[2021-05-04 13:17] leezu opened #7345 "DeepSpeedPlugin only works for Datasets with BatchSampler not IterableDataset"
https://github.com/PyTorchLightning/pytorch-lightning/blob/2a740ebe775c585f70d5f6fede38d29a5e26ab2f/pytorch_lightning/plugins/training_type/deepspeed.py#L411-L415

uses BatchSampler to infer train_micro_batch_size_per_gpu. BatchSampler may not be present when using IterableDataset. One option to optionally enable users to specif the micro batch size when constructing the plugin:

[code]

@SeanNare

[2021-05-04 13:21] justusschock opened #7346 "[Bug] Logging Separately Per Epoch"
## 🐛 Bug

Logs separate plots for each epoch

### To Reproduce

[code]

[2021-05-04 13:46] Emrys-Merlin opened #7347 "Trainer.predict seems to ignore model.predict_step"
## 🐛 Bug

`trainer.predict` invokes `model.forward` even though `model.predict_step` is defined.

I am not sure if this might be related to https://github.com/PyTorchLightning/pytorch-lightning/issues/6129.

## Please reproduce using the BoringModel

https://colab.research.google.com/drive/1gH19OYVAdaH96_BPy4nVhB6AhfctqMG1?usp=sharing

### To Reproduce

I have implemented the behavior in the [**Bo

[2021-05-04 13:54] SeanNaren commented on #7324
Thanks @ananthsub for making this. I recall doing an initial POC of this a few months back and realised there is quite some work to make this change when being careful of BW compat.

It would also make these 'shell' classes obsolete, like we see with deepspeed: https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/plugins/precision/deepspeed_precision.py

all the abov

[2021-05-04 14:08] justusschock commented on #7347
Hi @Emrys-Merlin ,

I tried to reproduce it with the following script (pretty similar to what you posted):

[code]

But with lightning 1.3.0rc2 I could not reproduce this. Can you try to upgrade to master and see if the issue persists?

[2021-05-04 14:19] Emrys-Merlin commented on #7347
Thank you for the super fast reply :slightly_smiling_face:

I have adapted the colab notebook and installed the master branch of pytorch-lightning: https://colab.research.google.com/drive/1gH19OYVAdaH96_BPy4nVhB6AhfctqMG1?usp=sharing

Sadly, the problem persists for me:
[code]

The environment now reads:
[code]

[2021-05-04 14:25] justusschock commented on #7347
Hi again @Emrys-Merlin

Thanks for the follow up, however this time I exactly ran your notebook (a copy of it in my own drive) and for me everything worked just fine. Have you tried to restart your colab runtime/purge it completely?

[2021-05-04 14:29] Emrys-Merlin commented on #7347
Hi @justusschock,

It seems that I have not. Sorry for that! I have restarted the kernel and reran everything. Now the test runs through.

Thank you for your help and your patience :slightly_smiling_face:  I will upgrade my local installation.

Best wishes

[2021-05-04 14:29] #7347 closed

[2021-05-04 15:18] SeanNaren commented on #7345
Thanks @leezu :)

Annoyingly from inspection this config option is only used in DeepSpeed to calculate verbose timing for logging (when logging=logging.INFO) on a per sample per second basis (and for data loading but we use our own loaders so that doesn't matter). So in most cases since by default we suppress these timings, we could just default to 1.

I propose we expose the variable as suggested

[2021-05-04 16:45] ankit61 commented on #596
I agree - this feature will be helpful!

[2021-05-04 17:03] ananthsub commented on #596
This is supported today:
- You can use `save_top_k=-1`
- Or you can set `save_last=True` to save a checkpoint `last.ckpt` whenever the checkpoint callback is run

[2021-05-04 17:08] ankit61 commented on #596
I see - that's great

[2021-05-04 20:08] SeanNaren commented on #6923
This was done in #6982 :)

[2021-05-04 20:08] #6923 closed

[2021-05-04 22:56] #6666 closed

[2021-05-04 22:56] #7291 closed

[2021-05-04 23:01] leezu opened #7360 "LightningCLI: Support config files on object stores"
## 🚀 Feature

In addition to `python trainer.py --config config.yaml`, LightningCLI should enable `python trainer.py --config s3://bucket/config.yaml`

### Motivation

pytorch-lightning has good support for remote filesystems thanks to #2164 #3320 (and possibly others). Thanks to that, it's straightforward to deploy lightning-based scripts to compute cluster environments without having to write ex

[2021-05-04 23:10] leezu opened #7361 "Allow obtaining num_nodes from ClusterEnvironment"
## 🚀 Feature
num_nodes must currently be specified manually by the user. However, the number of nodes is generally known in a cluster environment [1] and could be provided by and initialized from [ClusterEnvironment](https://pytorch-lightning.readthedocs.io/en/latest/clouds/cluster.html)

[1] For example $AWS_BATCH_JOB_NUM_NODES in https://docs.aws.amazon.com/batch/latest/userguide/multi-node-para

[2021-05-04 23:14] leezu commented on #7345
Sounds good. LightningCLI supports linking logging_batch_size_per_gpu and `trainer.batch_size` if users overwrite `def add_arguments_to_parser` https://github.com/PyTorchLightning/pytorch-lightning/commit/78a6fd558830cdb614ebd8474e4047bc62add94e Perhaps there's a way to automate that linking later. But for now the crucial task is to avoid crashing when IterableDataset is used :)

[2021-05-04 23:57] ApluUalberta commented on #695
the requirements.txt has been changed and no longer has torchvision and scikit-learn as one of the requirements. However, it seems to seek a torch version>=1.4 as a result of torchmetrics>=0.2.0 (within requirements.txt). My Jetson even has torch 1.8.0 and torchvision in its pip3 package manager. Were you able to get it working with the new requirements?

My pip install attempt:
![Selection_001](h

[2021-05-05 00:04] ananthsub commented on #7361
@leezu what about passing `num_nodes`  from the Trainer? this is the direction https://github.com/PyTorchLightning/pytorch-lightning/pull/7026/ is going in

[2021-05-05 00:15] leezu commented on #7361
Because trainer.num_nodes needs to be setup explicitly, whereas cluster environment can provide the information automatically.
I don't think there's a setting where setting trainer.num_nodes to a different value than the true number of nodes available in the environment would be meaningful? Possibly trainer.num_nodes can be inferred from the ClusterEnvironment instead of doing the inference inside

[2021-05-05 02:13] ananthsub commented on #7361
I worry about 2 sources of truth here. `num_nodes` on the trainer works regardless of the cluster environment used. Only specific training type plugins currently require the cluster environment to be set, so I personally prefer keeping the trainer as the source of truth vs having overrides and also setting it on the cluster environment. @awaelchli what do you think?

[2021-05-05 02:33] edwardpwtsoi commented on #5725
Having the same issue, will setting a ratio to limit train batch help? I have only sufficient memory for 20% of my datasets. I wonder could I set limit train batch to 0.2? I went through the training loop implementation but doesn't see the limit train batch actually affect the training loop. Also, if it does work, do I need to set reload data loader per epoch to make sure it is not training on the

[2021-05-05 02:41] edwardpwtsoi opened #7364 "Limiting Train Size per epoch for large dataset"
## 🚀 Feature
Limit train batch work on non debugging setting.

### Motivation
#5725 suffering from the same problem, I think limiting the train batch size could help. But I am not sure how the behaviour after setting the limit train batch. Would it train on the same portion of data every epoch?

### Pitch
This would be a nice work around and if it could guarantee it would step through all datasets

[2021-05-05 03:32] NakedKoala opened #7366 "Join Our Slack link doesn't work"
## 📚 Documentation

Trying to join the slack group but the link (on repo README ) doesn't work

[2021-05-05 04:56] NakedKoala opened #7368 "TPU training runs extremely slowly. 1 step takes 10x amount of time compared to single GPU"
## 🐛 Bug

I ported my pytorch code to pytorch-lightning hoping to use TPU for speed up.  The ported pytorch-lightning  averages 2-3 steps per second on a single GPU. But when I run the exact same code on Colab TPU runtime and change  `pl.Trainer(gpus=1) ` to `pl.Trainer(tpu_cores=8)`, a single step takes 10 - 20 seconds.

It is hard to make a simple notebook for reproducing the problem as the enti

[2021-05-05 06:01] wusuowei60 opened #7369 "Unify return format of `configure_optimizers`"
## 🚀 Feature

Unify how optimizers and schedulers are configured in `configure_optimizers`, making the syntax more consistent.

### Motivation

Currently,, in `configure_optimizers` you can do this (code from documentation)

[code]

or this

[code]

The first returns two lists of the same length, while the second returns a list of dicts, each dict representing an optimizer-scheduler pair.

This se

[2021-05-05 07:03] Borda commented on #7368
I think we have fixed it on master, mind check latest `pip install pytorch-lightning==1.3.0rc2`
cc: @kaushikb11

[2021-05-05 07:05] Borda commented on #7335
@half-potato mind check our RC from yesterday? `pip install pytorch-lightning==1.3.0rc0`

[2021-05-05 07:16] guhur commented on #5196
For me the problem was due to an issue on my model definition. I forget to use `nn.ModuleList` to initialize a list of modules. So the dependency graph was broken.

[2021-05-05 07:21] sivakhno opened #7370 "Can not log metric which is a tensor"
## 🐛 Bug

I get an error `The metric `val_acc_0_step/epoch_0` does not contain a single element thus it cannot be converted to float.` when running training loop.

###  Full stack trace
[code]

### To Reproduce

I train the model below, which is multi-class / multi-dimensional classifier (have multiple class categories trained in one hierarchical model). The error seem to come from the following p

[2021-05-05 07:27] tchaton commented on #7366
@edenlightning

[2021-05-05 07:28] haideraltahan commented on #6206
I have the same issue (@DerJFK ) with 8 gpus 2 nodes.

[2021-05-05 08:06] mauvilsa commented on #7360
@leezu I think this is a good idea, will look into it.

[2021-05-05 09:12] edgarriba commented on #7360
@leezu @mauvilsa thanks for bringing this up. Please, let us know if you need any support with the CLI integration /cc @carmocca

[2021-05-05 09:23] edgarriba commented on #7370
@sivakhno according to the `torchmetrics` documentation, the [`Accuracy`](https://torchmetrics.readthedocs.io/en/latest/references/modules.html#accuracy) object can be instantiated with an explicit flag `multiclass`. Is there any specific reason why you are not doing in that way ? /cc @Borda @SkafteNicki

[2021-05-05 09:33] #7370 closed

[2021-05-05 09:46] Borda commented on #5587
any update here? :]

[2021-05-05 10:07] kaushikb11 commented on #7366
@NakedKoala What's the Error for you?
Does this link https://join.slack.com/t/pytorch-lightning/shared_invite/zt-pw5v393p-qRaDgEk24~EjiZNBpSQFgQ work for you?

[2021-05-05 10:15] awaelchli commented on #7346
Can you describe what the bug is here?
The logging to separate plots was a design choice. Logging a metric in val_step is not meaningful because there is no ordering.

[2021-05-05 10:17] haideraltahan commented on #6206
Resolved the issue:

The problem is because the MASTER_ADDR environment variable is different for both nodes depending on the version of SLURM. You can check the naming scheme for your own SLURM nodes using `echo "NODELIST="${SLURM_NODELIST}`.

After that you can create your own [SLURMEnvironment](https://github.com/PyTorchLightning/pytorch-lightning/blob/d3f73a0a743776c85e51388231f1e47cfa4a5b55/p

[2021-05-05 10:18] awaelchli commented on #6206
@haideraltahan is our parsing for SLURM master address wrong?

[2021-05-05 10:21] #7322 closed

[2021-05-05 10:21] ethanwharris commented on #7346
@awaelchli There are a few issues with the current behaviour:
- If you are training for a long time (100 - 200 epochs would be typical), then this creates an unusable number of graphs.
- The original intention (per a comment in the code) was that each epoch would overlay on a single graph, but that is not the case and not easy to do.
- Also, how this interacts with other loggers is unknown, so it'

[2021-05-05 10:21] haideraltahan commented on #6206
@awaelchli yes, it seems that there are variations within the naming scheme for SLURM. I do not think there is a perfect solution but the plugin resolves it.

A continuation to the problem is I get this error:

`Traceback (most recent call last):
  File "main.py", line 267, in <module>
    fire.Fire(main)
  File "/home/haltaha/ENV/lib/python3.7/site-packages/fire/core.py", line 141, in Fire
    co

[2021-05-05 10:34] haideraltahan commented on #6206
https://discuss.pytorch.org/t/multiprocessing-failed-with-torch-distributed-launch-module/33056/5

This post recommends removing rank and world size from init_process_group, which current version of lightning has it [(here):](https://github.com/PyTorchLightning/pytorch-lightning/blob/e21b7a62d7dd7b2e2afe385c4a8008804f86c8a2/pytorch_lightning/plugins/training_type/ddp.py#L268)
"you should not set w

[2021-05-05 10:44] awaelchli commented on #6206
I'm not sure I understand. Our Trainer launches the processes. In slurm we don't use the torch.distributed.launch.
The thread you linked is not about SLURM as far as I can tell.

[2021-05-05 10:45] haideraltahan commented on #6206
I might be also getting confused. I will need to look into it further.

[2021-05-05 10:47] awaelchli commented on #6206
And I might also be the wrong person to ask here, since I have never trained on a slurm cluster. I can only give high-level comments for understanding.
I'm currently trying to build a slurm cluster  for us and as i continue to learn I hope I can help resolve this issue one day.

[2021-05-05 11:42] leezu commented on #7361
That's fine with me. What I have in mind here is making `num_nodes` in the trainer optional and inferring it from the cluster environment if it wasn't specified explicitly. Probably a warning should also be raised if compute environment and trainer disagree on the number of nodes.

[2021-05-05 11:58] awaelchli opened #7377 "on_train_batch_end receives batch on CPU"
## 🐛 Bug

The callback method on_train_batch_end receives the batch still on CPU instead of the batch that the accelerator moved to the device.

### To Reproduce

https://colab.research.google.com/drive/1axSx8lmpAhllnlcga6iE2eNgC1fjGK1b?usp=sharing

### Expected behavior

The `on_train_batch_end` hook receives the batch on the device.

### Environment

 CUDA:
        - GPU:
                - GeFor

[2021-05-05 12:14] awaelchli commented on #7361
I have a refactor pending for SLURM. There, the behaviour is: If `num_nodes` doesn't match the environment, it goes into interactive mode. otherwise it launches batch mode.

For this I had planned:

[code]
And SLURM implements the above as described.

For the remaining code base of Lightning, the num nodes get derived from Cluster env.

Let me know what you think.

[2021-05-05 12:35] tetapunto opened #7379 "stochastic_weight_avg not working - ` can't pickle _thread.lock objects`"
Hi all,
I am having an issue when try to use stochastic_weight_avg inside Trainer.

Below some parts of my code, that work without any issues on multi gpu if stochastic_weight_avg =False

[code]

when I set stochastic_weight_avg, I face this error:
[code]

[2021-05-05 13:16] Borda commented on #6457
@kazhang do you prefer to add another mixin (we try to reduce them) or just integrate it with the main LightningMdule?

[2021-05-05 13:51] #2350 closed

[2021-05-05 14:07] leezu commented on #7361
Thank you @awaelchli. Can you elaborate more on `2) It can infer num nodes from environment automatically`? Is this expected to override `trainer.num_nodes`?

[2021-05-05 14:10] tchaton commented on #7364
Dear @edwardpwtsoi,

`limit_train_batches` should return different batches after each epoch as the dataset is being shuffled.

Best
T.C

[2021-05-05 14:12] #6889 closed

[2021-05-05 14:13] tchaton commented on #5293
Dear @y-rokutan,

Closing this PR as SequentialPlugin will be deprecated.

Best,
T.C

[2021-05-05 14:14] #5293 closed

[2021-05-05 14:14] tchaton commented on #4796
Closing this issue @Borda as we managed to improve parity tests.

[2021-05-05 14:14] #4796 closed

[2021-05-05 14:16] tchaton commented on #4701
Hey @edenlightning,

Partially, we removed dependence in the test using the debugging tool at some extend.

[2021-05-05 14:49] justusschock commented on #7164
@sophiakrix yes, that should fix it and provide compatibility.

[2021-05-05 14:50] yuys0602 commented on #4280
facing the same issue, and want to know how to solve this problem.

[2021-05-05 15:27] ananthsub commented on #6865
keeping re-opened until #7338 is merged

[2021-05-05 15:47] tchaton commented on #7379
Dear @tetapunto,

Would you mind reproducing this behaviour with the boring Model and collecting your environment.

Best,
T.C

[2021-05-05 16:15] NakedKoala commented on #7368
I tried `pip install pytorch-lightning==1.3.0rc2`.  Did not help. Still taking half-minute per iteration.  Any earlier version ( before this bug was introduced ) that you can suggest ?

[2021-05-05 16:26] tchaton commented on #7260
Yes, I think it would be pretty neat.

[2021-05-05 16:26] tchaton commented on #7260
@cemde,

would you like to give it a try and make a PR ?

[2021-05-05 16:29] tchaton commented on #7368
Hey @NakedKoala,

I looked at your gist. You are using only 1 tpu cores. Did you try 8 ?

Best,
T.C

[2021-05-05 16:32] NakedKoala commented on #7368
Yes. I started with 8 and saw the slowness and tried to debug by using 1 tpu (may be 1 tpu might avoid issues relating to spawning large number of processes )  But it did not speed up.    Even just 1 tpu should not be 10x slower than a single GPU

[2021-05-05 16:46] tchaton commented on #7368
Yes, that's definitely annoying.

I didn't notice special slowness when trying Lightning Transformers on TPU. I think it was 3-5 times faster for me compared to 2 gpus training.

Mind putting together a reproducible script ?

Best,
T.C

[2021-05-05 16:51] NakedKoala commented on #7368
I will put together a public Colab within half a hour

[2021-05-05 16:54] NakedKoala commented on #7368
Actually, do you mind sharing you gmail address. I will share my Private colab notebook with you. ( Repro notebook needs to fetch kaggle competition data.  Don't know how to do it without putting my Kaggle credential explicitly in the notebook )

[2021-05-05 17:12] NakedKoala commented on #7368
Working on repro notebook right now.
Q:  Do you have a Kaggle account ?  If so, I would just comment out the credential part and let you insert your own.

[2021-05-05 17:46] tchaton commented on #7278
https://github.com/tqdm/tqdm/issues/1165

[2021-05-05 18:10] NakedKoala commented on #7368
Here is the reproduction notebook. Please follow the instruction contain within to reproduce.
Please save the files in the depdendency_files.zip into your colab runtime and copy them to the respective directory ( instruction is in the notebook).

Please let me know if you have trouble running the notebook

Colab:

https://colab.research.google.com/drive/1nVZ6OzyJRyTMouWJiTTyL3KbLcMvm0DY?usp=sharin

[2021-05-05 18:13] ebartrum commented on #5334
Hey, here is code to reproduce. First run `python train.py`, wait a few epochs (takes a few seconds) and cancel. Then run `python train.py --resume_from_ckpt=lightning_logs/<PATH TO CHECKPOINT YOU JUST CREATED>`
This gives me the error with pytorch lightning version 1.1.6

Save this file as train.py:

import os
import torch
from torch.utils.data import Dataset
from pytorch_lightning import Lightni

[2021-05-05 19:50] #6865 closed

[2021-05-05 20:02] carmocca commented on #7369
This is not correct. You are mixing up the keys `scheduler` and `lr_scheduler`:

- `scheduler` refers to the actual scheduler instance, for example, a `ReduceLROnPLateau` object
- `lr_scheduler` refers to a dict which contains the `scheduler` as well as any other keys associated to it

So this is correct:

[2021-05-05 20:26] Sanjay03079 commented on #1703
Having the same issue with a kaggle kernel .

[2021-05-05 20:26] Sanjay03079 commented on #1703
Exception in device=TPU:0: Cannot replicate if number of devices (1) is different from 8
Traceback (most recent call last):
Exception in device=TPU:1: Cannot replicate if number of devices (1) is different from 8  File "/opt/conda/lib/python3.7/site-packages/torch_xla/distributed/xla_multiprocessing.py", line 330, in _mp_start_fn
    _start_fn(index, pf_cfg, fn, args)

[2021-05-05 20:58] awaelchli commented on #7325
You can still use adam yes:
`--optimizer adam`

We will rerun experiments and try to find the best learning rate for lars.

[2021-05-05 23:42] NakedKoala commented on #7368
I used `TPUSpawnPlugin` in the Trainer. Here is the printout.  I am unable to decipher this.  Any info regarding the slowness can be recovered from below ?
[code]

[2021-05-06 00:17] NakedKoala commented on #7368
I also used import `torch_xla.debug.metrics`  to print metric after each training step.
Here is what gets printed out for 1 step

[code]

[2021-05-06 00:38] NakedKoala opened #7392 "Supporting aten::im2col, aten::im2col_backward for TPU training"
## 🚀 Feature
Can we support  `aten::im2col, aten::im2col_backward` for TPU training.

### Motivation

I ported my pytorch code to pytorch_lightning for using TPU speed up. However, the ported pytorch_lightning is extremely slow. Each iteration takes 20+ seconds.

Upon profiling, I see these message gets printed out during training steps

[code]

### Pitch

Please support `aten::im2col, aten::im2co

[2021-05-06 00:39] #7392 closed

[2021-05-06 02:38] ananthsub commented on #7183
@tchaton I think the main tension is that historically the Results object, and then `self.log` is trying to do too many things in one API:
- it accepts what to log, and we have different conditions based on whether we're logging numbers/single item tensors vs Metric objects
- It accepts where to send results to (progress bar and/or logger => this is pointing to another spot where loggers and callb

[2021-05-06 03:05] wusuowei60 commented on #7369
Thanks for the reply.

I know `scheduler` and `lr_scheduler` are different things. My point is:

1️⃣ It seems to me that whatever one wants to do by using dicts, like

[code]

one can always do with lists (or is there any counter-example🤔?), like

[code]

This is duplication.

2️⃣ While one can set `monitor` in both ways:

`return [optimizer], [{'scheduler': scheduler, 'monitor': 'metric_to_track'

[2021-05-06 07:18] mauvilsa commented on #7360
Had a quick look at this and I have the following thoughts/doubts:

- The idea would be to use fsspec, which means this should be implemented in such a way that any protocol registered in fsspec in principle could work.
- The fsspec filesystems might require additional settings, e.g.  `key`, `secret`, `token`, etc. for [s3fs](https://s3fs.readthedocs.io/en/latest/api.html#s3fs.core.S3FileSystem).

[2021-05-06 09:10] shijianjian commented on #4866
This bug has not been fixed yet. I wanted to save some additional CSVs (e.g. prediction outcomes), I encountered an error about the folder path of ```lightning_logs/0```

[code]

[2021-05-06 09:28] Borda commented on #4866
@awaelchli shall we reopen it?

[2021-05-06 10:02] awaelchli opened #7396 "fix pl_worker_init_fn for pytorch 1.9"
## 🐛 Bug

Investigate a test.

### To Reproduce

Run this test:

[code]

### Expected behavior

obvious.

### Environment

PyTorch 1.9 (nightly)

[2021-05-06 10:48] carmocca commented on #7369
Where have you seen that monitor can be set this way? It does not work, so 2️⃣ is not inconsistent.

Dict have a purpose which is the `frequency` key - the only key allowed at the root dict level other than `optimizer` and `lr_scheduler`. This can not be supported with just lists.

Check out our docs: https://pytorch-lightning.readthedocs.io/en/latest/common/lightning_module.html#configure-optimiz

[2021-05-06 10:54] FlorianMF opened #7397 "MilestonesFinetuning in examples is missing super().__init()"
## 🐛 Bug

The `MilestonesFinetune`callback in the pl_examples/domain_templates/computer_vision_fine_tuning.py is missing a init call of `BaseFinetune` via super().__init() [here](https://github.com/PyTorchLightning/pytorch-lightning/blob/c3fc0313efe748533baaac1d1240dec9ef88fb1e/pl_examples/domain_templates/computer_vision_fine_tuning.py#L72).

The script will then fail, because when the _store() m

[2021-05-06 10:57] carmocca commented on #7360
Do you think this should be done here or in upstream jsonargparse?

I guess environment variables are the best option here

Not sure if it's worth us to have those tests instead of just trusting upstream fsspec

[2021-05-06 11:02] wusuowei60 commented on #7369
Right in the docs https://pytorch-lightning.readthedocs.io/en/latest/common/optimizers.html#learning-rate-scheduling

I do missed this point, thanks for pointing out.

[2021-05-06 11:04] carmocca commented on #7369
Okay! Thanks, I'll fix it :)

Do you have any other comments or confusing parts?

[2021-05-06 11:13] wusuowei60 commented on #7369
No more on this topic.

Maybe I will try to live with more than one way to configure optimizers🤷.

[2021-05-06 11:20] Borda commented on #7397
@FlorianMF nice, thx! are you interested in sending quick fix?

[2021-05-06 11:37] FlorianMF commented on #7397
Et voilà

[2021-05-06 11:38] awaelchli commented on #4866
Yes. I just realized I fixed the reported issue with the log dir folder created but there is still an issue with accessing `trainer.log_dir` by the user as pointed out by @shijianjian

[2021-05-06 12:01] ryanking13 opened #7400 "Loading a checkpoint that was saved in PL < 1.2 still breaks"
## 🐛 Bug

Related Issue/PRs.
- #6549
- #6898
- #7031
- #7043

A checkpoint that was saved in PL < 1.2 with `Trainer.add_argparse_args` **still** breaks, when loaded in PL >= 1.2

[code]

## Please reproduce using the BoringModel

### To Reproduce

Use following [**BoringModel**](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing) and post here

[code]

### Expect

[2021-05-06 12:07] leezu commented on #7360
There are a number of options, including environment variables. If you're for example on an AWS EC2 instance, these credentials would be automatically retrieved by fsspec (assuming your instance is configured to have access to the bucket in question). So if the EC2 instance is configured correctly, fsspec will "just work". See https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/iam-roles-for-amazo

[2021-05-06 12:44] awaelchli commented on #7400
Which PL version did you load with here?

[2021-05-06 12:52] ryanking13 commented on #7400
I saved a checkpoint with `pytorch-lighting==1.1.8`, and tried to load with `pytorch-lighting==1.2.10`

[2021-05-06 12:56] awaelchli commented on #7400
yes, the fix didn't make it into 1.2.10. You need to use 1.3.0rc2 last time I checked. Can you try?
If it still breaks I'm out of words

[2021-05-06 13:14] ryanking13 commented on #7400
Yes, it is a different issue which only happens where checkpoints were saved BEFORE 1.2.0. Sorry for the confusion.

[2021-05-06 13:35] #7400 closed

[2021-05-06 14:11] itsikad commented on #7369
Can you please elaborate what's the order of operations in the case of multiple optimizers?

[code]

OR

[code]

[2021-05-06 14:13] celsofranssa opened #7405 "Step optimizers at arbitrary intervals"
## 🐛 Bug

In my model I have two optimizers that alternate during the optimize steps as shown below:

[code]

But I am getting the following error message during the optimizer step:

[code]

Could anyone tell me what I'm missing?

### To Reproduce

This issue could be reproduced using BoringModel on [Google Colab](https://colab.research.google.com/drive/1HYUCYo3TQDO3b57ZvHkGmreqhzdkTaAD?usp=sharin

[2021-05-06 14:21] carmocca commented on #7369
(A). Relevant code:

https://github.com/PyTorchLightning/pytorch-lightning/blob/a2a65abf6844f7fcd49e0bfbfb7875206a8e7dd3/pytorch_lightning/trainer/training_loop.py#L692-L731

[2021-05-06 14:28] leezu commented on #6303
Trainer has a SLURM specific property. Should it be deprecated as part of the ClusterEnvironment interface improvements?

https://github.com/PyTorchLightning/pytorch-lightning/blob/8c0ea92af237542f5b36ae684543f871da829379/pytorch_lightning/trainer/properties.py#L176-L189

[2021-05-06 14:32] awaelchli commented on #6206
Hi again.
I had a chat over here in the discussion with someone who is training successfully on SLURM #7275. Regarding the parsing, they must be using a different SLURM version but still, maybe you can follow my print statements there an double check all the variables rank, local rank, world size are correctly set before trainer.fit?

[2021-05-06 14:37] awaelchli commented on #6303
Hi, good observation. I would say the logic inside of it can and should definitely move into the cluster plugin. I would still keep the property as an easy way to access the cluster environment IF that is something users actually access (I have no idea).

[2021-05-06 14:39] awaelchli commented on #7361
The idea would be to make Trainer(num_nodes=...) optional depending on the plugin yes. Not sure what that means for SLURM interactive mode but should be fine.

[2021-05-06 15:07] canelbirlik commented on #3444
same problem on 1.2.4, works fine with 1.1.0. any ideas what might be causing the difference between the versions?

[2021-05-06 15:41] #7397 closed

[2021-05-06 16:28] kaushikb11 commented on #6849
This has been resolved in master by #7243. Thank you. Feel free to reopen it, if you face the issue again.

[2021-05-06 16:28] #6849 closed

[2021-05-06 16:29] carmocca opened #7406 "`global_step`/`current_epoch` issues"
There are several critical design issues surrounding both of the `global_step` and `current_epoch` values and their interaction with the training loop and `ModelCheckpoint`.

I'll use this issue to track and summarize some of the challenges and design decisions.

### Global step issues

`global_step` refers to the number of optimizer steps applied. It takes the initial value of 0 (because 0 steps

[2021-05-06 16:40] ananthsub commented on #7406
@carmocca https://github.com/PyTorchLightning/pytorch-lightning/pull/6603 is closely related and I hope we can adopt this structure going forward. global_step being held constant throughout the entire batch to have each hook log to the same index for the logger is confusing. i think we should have a split this and have a separate key for this so that people know exactly when the parameter update h

[2021-05-06 17:08] awaelchli commented on #7406
I like that we are rethinking and fine-tuning this. To me personally it is very important that the grouping of metrics happens correctly and I hope we can find a solution for this. If that means we need two counters, one for tracking optimization steps and one for logging purposes, so be it :) To me it looks like it is too hard to combine the two.

[2021-05-06 17:41] JackCaster commented on #3444
I have similar problem. Adding the `MLFlowLogger` causes a crash on a single GPU machine (azureml). This a fresh conda environment.
[code]

[2021-05-06 17:50] jeanm opened #7407 "Confusion between steps and batches"
Looking at `TrainLoop`,  it would appear that the global step takes into account `accumulate_grad_batches`:
https://github.com/PyTorchLightning/pytorch-lightning/blob/6104a6316afb8cdd9825d77844db456ffa766ca1/pytorch_lightning/trainer/training_loop.py#L884-L892

However, the documentation for the trainer makes it sound like steps and batches are equivalent:
https://github.com/PyTorchLightning/pytor

[2021-05-06 17:56] ananthsub commented on #7407
@carmocca @awaelchli this is tightly related to #7406 i think

[2021-05-06 17:57] mauvilsa commented on #7360
jsonargparse already supports http/https for the config, though requires optional packages and be explicitly enabled. The fsspec support should be added extending that. Here what we can do is enable fsspec by default, since it can be assumed that fsspec is installed.

I am interested in looking at code and tests using fsspec. What I was able to find in lightning is not enough to know how to best d

[2021-05-06 18:23] ApluUalberta opened #7408 "Set up on Jetson Nano/Xavier NX"
## Set up issue

Hi there,

I tried to create appropriate labels for the specific issue that I'm experiencing, but I couldn't find a way to put the proper tags, so i apologize in advance.

I’m currently trying to set up Pytorch Lightning on Jetson Nano/Jetson Xavier NX by building from source. So far, I have tried following this thread here: #695

The requirements.txt has been changed and no longe

[2021-05-06 18:46] leezu commented on #7360
fsspec just calls the AWS SDK for Python. Above example just serves as documentation to understand what the SDK would do in the background. Sorry if it was confusing. The takeaway is that you don't need to worry about authentication in jsonargparse/pytorch-lightning and that each of the fsspec backends has their own ways (via environment variables or other features) to ensure authentication is tak

[2021-05-06 19:54] irasit opened #7410 "Callback causing deadlock in multiple GPU case with horovod accelerator"
## 🐛 Bug

Testing the multi gpu training with horovod. The training works perfectly in normal case. But if a callback is added, the training job will go into a dead lock,
[code]
This error seems similar to what @awaelchli found when testing an old issue [here](https://github.com/PyTorchLightning/pytorch-lightning/pull/5155#discussion_r549761269), but I can not find where this bool is coming from.

[2021-05-06 20:02] irasit opened #7411 "CPU/GPU missmatch error for 8 GPU worker instance with horovod."
## 🐛 Bug

Testing the multi gpu training with horovod. The training works perfectly in normal case.
The training works for up to 4 GPU workers, but when I increase the workers to 8, I got a CPU/GPU missmatch issue.
For 6 GPU works, saw the error sometimes.

[code]
Seems some worker is broadcasting a ALLREDUCE for a CPU value during training, My guess it is some kind of operation value than model w

[2021-05-06 20:46] ethanwharris commented on #7405
Hi @celsofranssa, thanks for the issue :smiley: Are you able to provide a concrete demonstration of the bug, ideally using our [**BoringModel**](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing)?

Thanks :smiley:

[2021-05-06 21:32] loic-beheshti commented on #7408
Hi,

I actually never tried to set up Pytorch Lightning directly on a Jetson but people are usually more interested in the deployment side with such devices. If this is your end goal, I suggest you look into this project https://github.com/neo-ai/neo-ai-dlr.

I had a few issues compiling on sagemaker neo as a pytorch model so I suggest you convert your model to .onnx first. Depending on the Pytorc

[2021-05-06 21:44] ApluUalberta commented on #7408
Thank you for the response! But I have already successfully deployed with ONNX and Libtorch C++ on the Jetson Xavier. Now, I  specifically need to have the option of training on it. Thank you for the offer and project reference though, I'll definitely take a look!

[2021-05-06 23:21] leezu commented on #6691
The checkpoint connector calls `deepspeed.runtime.zero.stage2.FP16_DeepSpeedZeroOptimizer.load_state_dict` which expects a list of states based on the state partitioning. But the loaded states only contain a single dictionary corresponding only to a single state partition used during the save-run.

https://github.com/PyTorchLightning/pytorch-lightning/blob/28103c67c2baa5810d8e76f77176361e3f61076b/

[2021-05-07 00:44] #6706 closed

[2021-05-07 02:07] undertherain opened #7416 "if each batch is a tuple of different types, dataloder breaks from PL 1.1x to 1.2+"
## 🐛 Bug

I have a  `train_dataloader` that returns a list of batches, each batch is a tuple of, say, dict and a tensor

It works perfectly in PL 1.1.x, say, 1.1.1
 `training_step` function receives exactly a tuple containing a dict and a tensor

In PL 1.2.x  `training_step` somehow receives a list of two dicts :-\

### To Reproduce

return a list of tuple of some different items from a dataloader

[2021-05-07 02:38] ananthsub commented on #6776
This ended up being more of a configuration issue than anything else. The core DataModule API is mostly good  (https://github.com/PyTorchLightning/pytorch-lightning/issues/7301 + other properties not used anywhere else). Adding dedicated `add_{train/val/test}_dataloader_options` methods to our datamodule is a way we can support complexity per running stage instead of putting everything into the co

[2021-05-07 02:38] #6776 closed

[2021-05-07 03:05] undertherain commented on #7416
just tried PL 1.3 - same problem

[2021-05-07 03:21] suyanzhou626 opened #7417 "Pure pytorch train faster than pytorch-lightning ?"
## 🐛 Bug

I warped my pure pytorch training code to pytorch-lightning in semantic segmentation tasks.
I found the training speed is slower than pure pytorch.
I have two dataset, one has 705 images, training one epoch needs about 125s, however it needs about 170s in pl setting,
another dataset has 7776 images, all setting is the same as to above, training one epoch is about 21min in pure pytorch, a

[2021-05-07 04:33] ananthsub commented on #7417
Could you share your training code in pure pytorch alongside your Lightning code for us to debug?

[2021-05-07 05:59] undertherain commented on #7416
aha, seems it has to do with that support for multiple training loaders was added. I'm using a plain list instead of data loader, so it thinks that the top level is multiple dataloaders and not batches...

[2021-05-07 05:59] #7416 closed

[2021-05-07 06:55] mpariente commented on #7250
This looks very nice, Asteroid would most probably use this!

[2021-05-07 07:25] akihironitta commented on #6675
@toliz @Darshan-Ramesh Now that the fix for lr_finder suggesting a too high learning rate has been merged, could you try with the latest version? If the problem still persists, could you share your script to reproduce the behaviour?

[2021-05-07 07:30] akihironitta commented on #6134
@mtrencseni Could you try the example (https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/domain_templates/generative_adversarial_net.py) again? If the problem still persists, please feel free to reopen this issue.

[2021-05-07 07:30] #6134 closed

[2021-05-07 08:01] SkafteNicki commented on #7248
`TensorMetric` was removed in v1.0 of lightning when metrics was completely revamped in this PR https://github.com/PyTorchLightning/pytorch-lightning/pull/3868.
All metric development has been moved to [torchmetrics](https://torchmetrics.readthedocs.io/en/latest/) and I recommend that you checkout the base metric class `torchmetrics.Metric` that hopefully should fill out your needs.

[2021-05-07 08:01] #7248 closed

[2021-05-07 08:56] rubencart opened #7424 "Profiler: output raw profile results to specified file instead of text summary"
## 🚀 Feature

As you can see in the source code [here](https://pytorch-lightning.readthedocs.io/en/latest/_modules/pytorch_lightning/profiler/profilers.html#AdvancedProfiler), running PL with a profiler outputs a summary of the statistics to the specified output file.

[code]

However, it would be nice I think if PL could save the raw profiler output to the file, so that you could later import the

[2021-05-07 09:46] #7345 closed

[2021-05-07 11:48] cjwcommuny opened #7426 "Metric Accuracy doesn't work as previous version"
## versions

[code]

## reproduce

[code]

The code above produces errors like:

[code]

I believe🤔 that in the previous version, the above code works well, and I don't have to normalize `C` dimension of `preds` to 1.

[2021-05-07 12:17] t-vi opened #7427 "Allow calling fit multiple times with Quantization (QAT)"
## 🐛 Bug

When using the QuantizationAwareTraining() callback, one cannot call Trainer.fit twice.

### To Reproduce

Call Trainer.fit twice on any model gives an exception (which is pretty qpaque, I might add)

### Expected behavior

Resumes training

### Additional context

I imagine here is a tradeoff between two goals:
1. Have fit return a model that's ready for inference,
2. don't catapult you

[2021-05-07 12:44] Nora-Go opened #7428 "Torchmetric bug?"
Hi :)

I get this error using torchmetrics.IoU(num_classes=4) and running my model on gpu:
RuntimeError: Expected all tensors to be on the same device, but found at least two devices, cuda:0 and cpu!

If I write my own IoU (using some code of yours and simplifying it), everything works perfectly well.

It would be great if you could resolve this issue :)
Thanks for your time and help!

[2021-05-07 12:49] ananthsub commented on #7428
Hi @Nora-Go , do you mind opening an issue here? https://github.com/PyTorchLightning/metrics/issues

[2021-05-07 12:54] carmocca commented on #7426
Transferring the issue to `torchmetrics` since we rely on their implementation

[2021-05-07 13:26] jopo666 opened #7429 "DDP fails with DDPPlugin and num_nodes>1 (with SLURM)"
## 🐛 Bug

`DDPPlugin` crashes my training scripts when training models on multiple nodes (using SLURM).

When I use multiple GPUs on 1 node with the plugin -> all gucci.
When I use multiple GPUs on multiple nodes **without** the plugin -> all gucci.
When I use multiple GPUs on multiple nodes with the plugin -> crashes 😢

So when I run...
[code]

Code fails with...
[code]

### To Reproduce

#### `d

[2021-05-07 13:59] t-vi commented on #7427
To avoid the confusion, calling fit twice means something like
[code]

[2021-05-07 14:10] #7369 closed

[2021-05-07 14:20] awaelchli commented on #7429
Hi
Based on your description, this is a known issue and I linked the PR that fixes it.
Temp solution for you: Set num_nodes in the plugin:

`Trainer(plugins=[DDPPlugin(num_nodes=2, ...)], ...)`

[2021-05-07 15:07] leezu commented on #7360
Thank you @mauvilsa. It works great!

[2021-05-07 15:23] Ierezell opened #7432 "Cuda out of memory while testing"
## 🐛 Bug

Testing after tuning and fitting raise a CUDA out of memory error.

### Expected behavior

1. Initialize model with pytorch-lightning Data Models
2. Tune the model
3. Train the model
4. Test the model => See a CUDA out of memory error

[code]

Rest of the code
<details>
<summary>Rest of the code</summary>
<br>

[code]

</details>
### Environment

* `IDE`: VsCode

 - PyTorch Version (e.g.

[2021-05-07 17:05] tchaton commented on #7424
Dear @rubencart,

Sounds like a nice idea ! Would you like to make a PR to add this feature ?

Best,
T.C

[2021-05-07 17:15] kazhang commented on #6457
@Borda  by "integrate it with the main LightningMdule", do you mean adding model preparation and conversion function to the core PyTorch LightningModule? Well it does simplify the requirements for user to use the quant callback, but I'm not sure if it's the right thing to do - adding a function to core LightningModule just for a specific callback.

[2021-05-07 17:29] sooftware opened #7436 "TypeError: __init__() got an unexpected keyword argument 'pin_memory'"
Hi! Thank you for your grrreat project. I encounter error log liker below:

- Error log
[code]

- My code sample:
[code]

Please let me know if you have any doubts.

[2021-05-07 20:05] addisonklinke commented on #7023
FWIW I noticed the same runtime error in Lightning v1.2.5 under the specific operation order of
[code]

If `trainer.test()` is not run, then I have no error. Upgrading to v1.3.0 solved the issue, so I won't worry about a minimal repro with the BoringModel unless someone thinks that would still be useful. Mostly noting for reference of future readers

[2021-05-07 20:27] kandluis commented on #7301
+1 that this would be helpful in simplifying the overhead of the DataModule API.

[2021-05-07 22:58] #7346 closed

[2021-05-08 01:43] awaelchli commented on #7436
Hi
You need to properly forward forward all kwargs when you subclass the dataloader:

[code]

cheers

[2021-05-08 01:51] surya-narayanan opened #7442 "Error complaining optimizer_idx is not there when it is"
## 🐛 Bug

## Please reproduce using the BoringModel

### To Reproduce

 [**BoringModel**](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing) and post [here](https://colab.research.google.com/drive/1n4nzaLu4z08V9lMyYttBKqHZhrL82ntZ?usp=sharing)

### Expected behavior

Should just recognize optimizer index and also not throw an error if a condition forces differen

[2021-05-08 02:29] Lucklyric commented on #7405
Hello @celsofranssa. When I accidentally returned detached tensors in `training step`, I got the same error message. As a result, I recommend looking over the losses you retuned in the `training step`. Is it a valid scalar-tensor with the `grad fn` property? I hope this information is useful. And As @ethanwharris, It would be convenient for others to examine your issue if you abstract your logic t

[2021-05-08 05:15] #5587 closed

[2021-05-08 05:47] vballoli commented on #7442
If the default argument `optimizer_idx` is set to `None`, you can re-write the training step either expecting an idx or None and accordingly use the optimizers. ```python
import torch
from pytorch_lightning import LightningModule
from torch.utils.data import Dataset

class BoringModel(LightningModule):
    @property
    def automatic_optimization(self) -> bool:
        return False

    def __init

[2021-05-08 06:43] sooftware commented on #7436
Thank you! I will try!

[2021-05-08 08:54] hao-nan-liu opened #7443 "AttributeError: can't set attribute"
## 🐛 Bug

Attribute Error Cannot set attribute

## Please reproduce using the BoringModel

https://colab.research.google.com/drive/1SuA3Qt-ZNPPU9EuztSTgNrGUPtdkSTpv#scrollTo=29jTHbeMiGL3

### To Reproduce

Use following [**BoringModel**](https://colab.research.google.com/drive/1SuA3Qt-ZNPPU9EuztSTgNrGUPtdkSTpv#scrollTo=29jTHbeMiGL3)

### Expected behavior

Expected to set hparam at least in versio

[2021-05-08 11:25] #7007 closed

[2021-05-08 11:25] #7429 closed

[2021-05-08 13:28] griff4692 opened #7445 "Progress bar shows twice the correct number of batches"
## 🐛 Bug

For a mini dataset of 100 examples with batch_size=1 (dataset.__len__() returns 100), the progress bar shows 100.

I can't think of any reason why it's doubling in this manner.  I've tried different value for `val_check_interval`, `batch_size`, cpu and single / multiple GPU, and the problem persists.  Thanks for the help -- this isn't getting in the way of anything (Lightning is really h

[2021-05-08 14:02] #6122 closed

[2021-05-08 14:02] #4243 closed

[2021-05-08 14:32] vballoli commented on #7443
I believe this is arising because the `hparams` property doesn't have a [setter](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/core/lightning.py#L1884-L1887).  A temporary solution would be
[code]
Imo the only solution is to add `@hparams.setter` like below?
[code]
I can send a PR if this is the solution.

[2021-05-08 14:37] cxyzen opened #7447 "ValueError: unable to save hyperparameters for combining lightning modules"
## 🐛 Bug

Passing the entire module as argument will result in this error/bug. How can I save the input modules as hyperparameters?

### To Reproduce

[code]

### Output
[code]

### Expected behavior

Able to save hyperparameters for `CombineModel`.

### Environment

 - PyTorch Version (e.g., 1.0): 1.8.1
 - OS (e.g., Linux): Ubuntu 20.04
 - How you installed PyTorch (`conda`, `pip`, source): pip

[2021-05-08 16:10] surya-narayanan commented on #7442
This works. I'm not sure why, or what the optimizer_idx does, since I don't use it anywhere and from what I [read](https://github.com/PyTorchLightning/pytorch-lightning/discussions/5780), it's largely useless for manual optimization (See OPs comment Dec 17 2020)

[2021-05-08 16:10] #7442 closed

[2021-05-08 16:35] vballoli commented on #7442
`optimizer_idx` is only passed if there are multiple optimizers, so I think by assigning it a default `None`, it'll either remain `None` or will be the actual indices.

[2021-05-08 16:55] #7436 closed

[2021-05-08 18:03] #7396 closed

[2021-05-08 18:46] notprime commented on #7336
@awaelchli I tried to run the code again on PyCharm, using `accelerator = 'ddp'` and `gpus = 2`,
this time the code freezes here:
[code]

Same thing happens if I use `gpus=-1` to use the 4 gpus.
Also, if I run `nvidia-smi` in terminal, only the first GPU is on, while the other 3 are marked as off

[2021-05-09 01:19] jacobswan1 commented on #4420
This solution works in my case. Thanks!

[2021-05-09 01:45] aluex commented on #4690
The logic seems unclear to me. Do you only copy the state when the shapes do not match?

[2021-05-09 03:48] KyleOng commented on #7447
Hello my friend,

I have wrote a discussion about this and listed out several solutions, which you can read [here](https://github.com/PyTorchLightning/pytorch-lightning/discussions/7249#discussioncomment-677516). However, I have now finally know why this is happening, and come out with the final solution.

The reason behind this is that the entire model can't be saved by the logger. What you want

[2021-05-09 04:48] Lucklyric commented on #7447
Hello there, @KyleOng. Your solution completely solves the problem of creating a hapams file.  However, saving such parameters in hparams.yaml, on the other hand, will break the logic when init model with `hparams_file` arguments in `load_from_checkpoint()`. I think a best practice might be not initializing a model with non-basic type elements. Initializing sub-models within the Ensemble model and

[2021-05-09 05:39] KyleOng commented on #7447
Hi @Lucklyric

I see. Then I think something like this will be better.

Here, I passed the configuration of the submodels, which are the hyperparameters (`hparams`) and parameters/weights (`state_dict`),  to the `Ensemble` model. But the weights of the submodels are ignored and not saved to the `yaml file`. as all the weights including the pretrained weights of the submodels will be saved in `chec

[2021-05-09 09:44] aleSuglia commented on #4705
@justusschock so I think the reason why it works with `ddp_spawn` and not with the `ddp` version is because of the [setup_environment](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/plugins/training_type/ddp.py#L129) method that starts my original script multiple times therefore reinitialising all the CUDA context multiple times. It looks to me that this isn't

[2021-05-09 10:45] ashleve opened #7451 "Add `send_to_loggers` parameter to `self.save_hyperparameters()` in LightningModule"
## 🚀 Feature
Allow `self.save_hyperparameters()` method to not send the parameters to loggers automatically.

### Motivation

My init parameters in LightningModule usually looks like this:
[code]
But I like to log parameters to loggers separately, using `/` character:
[code]
`/` enables nested configs and extra features in loggers such as Neptune or Wandb.
I know you could pass a dict to ligtning

[2021-05-09 12:45] #7364 closed

[2021-05-09 12:48] edenlightning commented on #7360
Closing this issue, feel free to reopen if there's anything to be done on the lightning front.

[2021-05-09 12:48] #7360 closed

[2021-05-09 12:58] edenlightning commented on #7279
Thanks for the issue @addisonklinke !
want to try and submit a PR?

[2021-05-09 12:59] edenlightning commented on #7269
@zhengzangw can you exaplin your motivation here? what are you trying to accomplish?

[2021-05-09 13:22] aleSuglia commented on #4450
Same issue here!

[2021-05-09 13:28] edenlightning commented on #7164
Feel free to reopen if needed.

[2021-05-09 13:28] #7164 closed

[2021-05-09 14:01] edenlightning commented on #7145
feel free to reopen if needed.

[2021-05-09 14:01] #7145 closed

[2021-05-09 14:09] edenlightning commented on #6899
@PyTorchLightning/core-contributors

[2021-05-09 14:09] edenlightning commented on #6910
@PyTorchLightning/core-contributors

[2021-05-09 14:10] edenlightning commented on #6894
Thanks for the issue @00sapo! feel free to send a PR.

[2021-05-09 14:15] #6694 closed

[2021-05-09 14:18] edenlightning commented on #6676
Feel free to reopen if needed.

[2021-05-09 14:18] #6676 closed

[2021-05-09 14:41] cxyzen commented on #7447
Hi @KyleOng, thanks for the reply.

The code works wonderfully, and I think it works just like what @Lucklyric said. Just hope that someone can verify.

Again, thank you very much!

[2021-05-09 14:45] edenlightning commented on #5542
@PyTorchLightning/core-contributors thoughts?

[2021-05-09 14:52] edenlightning commented on #5328
@Borda what is left TODO here?

[2021-05-09 14:53] edenlightning commented on #5301
@quancs want to try and submit a PR?

[2021-05-09 14:54] edenlightning commented on #5194
@borisdayma what is left TODO here?

[2021-05-09 14:57] edenlightning commented on #4632
@ananyahjha93 is this still relevant?

[2021-05-09 14:57] #4409 closed

[2021-05-09 15:02] #741 closed

[2021-05-09 15:03] notprime opened #7454 "Code freezes when using DDP in terminal or PyCharm"
## 🐛 Bug

Hello again!
Some days ago I opened this issue:

[Code freezes before validation sanity check when using DDP](https://github.com/PyTorchLightning/pytorch-lightning/issues/7336)

Basically, DDP wasn't working, and this was related to Jupyter Notebook unable to use ddp as accelerator.
So, some days later, I tried to re-run my script in PyCharm first, then in the terminal (I just did some c

[2021-05-09 15:08] edenlightning commented on #2088
@Borda ?

[2021-05-09 15:10] edenlightning commented on #6205
@PyTorchLightning/core-contributors

[2021-05-09 15:13] #4998 closed

[2021-05-09 15:13] akihironitta opened #7455 "Docs build error in Sphinx 4.0.0"
## 🐛 Bug
I locally confirmed that building docs (`cd docs; make html`) fails due to:
[code]
and also confirmed that `pip install Sphinx<4.0.0` fixes the error.

### To Reproduce
https://github.com/PyTorchLightning/pytorch-lightning/pull/7452/checks?check_run_id=2538915517

### Expected behavior
`make html` should successfully build the docs.

[2021-05-09 15:14] edenlightning commented on #4701
@tchaton what is left TODO?

[2021-05-09 15:16] borisdayma commented on #5194
It can now be closed

[2021-05-09 15:16] #5194 closed

[2021-05-09 15:46] leezu commented on #7360
@edenlightning it'd be helpful for lightning to call

[code]

as lightning already depends on fsspec

[2021-05-09 16:01] Borda commented on #7454
@notprime can you replicate it outside PyCharm, in regular terminal?
I guess that the pycharm terminal uses ipython by default...

[2021-05-09 18:33] notprime commented on #7454
@Borda I get the same error even if I run the script in regular terminal, 3 gpus are still off

[2021-05-09 18:52] Borda commented on #7454
can you please tell us what is here different here compare to #7336 which was evaluated that works as intended?

[2021-05-09 19:16] notprime commented on #7454
@Borda there are no differences in reality, I just used a different optimizer.
The problem in [#7336](https://github.com/PyTorchLightning/pytorch-lightning/issues/7336) was related to Jupyter Notebook, which doesn't support ddp, but only dp and ddp_spawn.
So I tried to run the script using PyCharm and terminal with `accelerator = ddp`, but I still can't use ddp apparently.
These are the parameters

[2021-05-09 19:31] #7366 closed

[2021-05-09 19:39] #7455 closed

[2021-05-09 20:09] vballoli commented on #7279
I've added a draft PR trying to solve this issue. I've tackled it in a very inefficient way, but if this is the way to go, I'll be happy to clean it up and convert it into an actual PR.

[2021-05-09 20:28] Lucklyric commented on #7447
Hi, @KyleOng. Thank you for the updates; it's a neat solution.  @cxyzen In fact, I believe it is possible to include high-level objects in the hparams along with their module paths. Then more efforts on saving and parsing both sides are needed, so we'll see what the maintainers think of it.

[2021-05-09 21:42] astrojuanlu commented on #7455
I didn't see a corresponding issue upstream, so I opened one https://github.com/sqlalchemyorg/sphinx-paramlinks/issues/9

[2021-05-10 00:38] kaushikb11 commented on #7368
This issue has been addressed on Lightning Slack and upon profiling, it was discovered that some operations were not XLA supported.

[code]

Related issue has been created in [XLA](https://github.com/pytorch/xla/issues/2932).

[2021-05-10 00:38] #7368 closed

[2021-05-10 05:37] celsofranssa commented on #7405
The BoringModel could be viewed on [Google Colab](https://colab.research.google.com/drive/1HYUCYo3TQDO3b57ZvHkGmreqhzdkTaAD?usp=sharing)

[2021-05-10 08:49] #7163 closed

[2021-05-10 10:14] edgarriba commented on #7443
@vballoli we already have a private `_set_params`. A solution could be to make that public as you mentions as a setter /cc @Borda @williamFalcon

[2021-05-10 10:34] SeanNaren commented on #7217
Just a followup here! This not super high priority, but just a matter of the LR scheduler not being instantiated with the sharded optimizer, which throws this warning even though the sharded optimizer is called correctly.

We'll need to still address the above to fix this, however this is primarily for suppressing the warning.

[2021-05-10 11:56] carmocca commented on #7360
@leezu Want to open a PR with it?

[2021-05-10 11:59] mauvilsa commented on #7360
There isn't yet a jsonargparse release with the fsspec support. When this gets released I can create the PR.

[2021-05-10 12:10] carmocca commented on #7260
I don't see what's the benefit of adding support for this considering how easy it is for the users to do it themselves with plain python f-strings

[code]

where the filename will resolve to `'{epoch}-{step}-{val_accuracy:.2f}'`

[2021-05-10 13:35] mrsndmn commented on #3869
I had the same issue recently because of this:
[code]

[2021-05-10 14:38] addisonklinke commented on #7279
@vballoli Thanks for getting the ball rolling on this one. I haven't had much time to work on a PR, but I will review yours and leave my comments there where applicable

[2021-05-10 14:39] juliette-sch commented on #7443
Hello, I'm compiling a code based on RoBERTa for the detection of emotions. The code had no errors last week but since this morning I have the error: "can't set attribute" that I can not solve.

`
class TrainingModule(pl.LightningModule):
    def __init__(self, hparams):
        super().__init__()
        self.model = EmoModel(AutoModelWithLMHead.from_pretrained("distilroberta-base").base_model, l

[2021-05-10 14:52] carmocca commented on #5925
It's fair to close this, we can do it bit by bit with PRs that add typing to different parts

[2021-05-10 14:52] #5925 closed

[2021-05-10 14:55] juliette-sch commented on #7443
Hello, I'm compiling a code based on RoBERTa for the detection of emotions. The code had no errors last week but since this morning I have the error: "can't set attribute" that I can not solve.

`## Methods required by PyTorchLightning

class TrainingModule(pl.LightningModule):
    def __init__(self, hparams):
        super().__init__()
        self.model = EmoModel(AutoModelWithLMHead.from_pretra

[2021-05-10 14:59] juliette-sch commented on #7443
Hello, I'm compiling a code based on RoBERTa for the detection of emotions. The code had no errors last week but since this morning I have the error: "can't set attribute" that I can not solve.

`class TrainingModule(pl.LightningModule):
    def __init__(self, hparams):
        super().__init__()
        self.model = EmoModel(AutoModelWithLMHead.from_pretrained("distilroberta-base").base_model, le

[2021-05-10 16:50] ramonemiliani93 opened #7466 "Batch size not updated when passing a datamodule to tuner."
## 🐛 Bug

Hi, when running the auto scaling of the batch size even thought the process works if the batch size is a parameter of the datamodule it does not get updated. Seems like the calls to `train_dataloader` and `val_dataloader` are reused (?).

## Please reproduce using the BoringModel

https://colab.research.google.com/drive/1XC652EUr2bHE2vilPIIRNSio7Do7v6ky?usp=sharing

### Expected behavio

[2021-05-10 17:10] ananthsub commented on #7443
The setter for `hparams` was removed in v1.3. For saving hyperparameters, use `save_hyperparameters` https://pytorch-lightning.readthedocs.io/en/latest/common/lightning_module.html#save-hyperparameters

[2021-05-10 17:12] carmocca opened #7467 "1.3.x cherries 🍒"
<details>
<summary>1.3.1 (#7477)</summary>

https://github.com/PyTorchLightning/pytorch-lightning/pull/7456 6d82dc832b066a9d6a5fa63a449b8ac372d72b6a Pin `Sphinx<4.0`
https://github.com/PyTorchLightning/pytorch-lightning/pull/7395 6bc616d78f13c9921f3a08f7c71229b81be8b5ca fix local rank display bug in info message
https://github.com/PyTorchLightning/pytorch-lightning/pull/7441 1af42d7d1e3f02d78063e0

[2021-05-10 17:16] ananthsub opened #7468 "Extend the Learning Rate Monitor callback to log the initial lr for optimizers"
## 🚀 Feature
Log the initial learning rate of each optimizer

### Motivation

Currently the LR monitor callback only takes effect if the user specifies LR schedulers for training. However, one could want to record what the initial learning rate used for their optimizer's parameter groups even without any LR schedulers.

### Pitch

We could log this once on train start following the logic here: htt

[2021-05-10 17:17] weihua916 commented on #6889
Has this issue been resolved on master? I installed master, and still see the accuracy of 0.25 when running Matthias' code.

[2021-05-10 17:34] dapurv5 opened #7469 "Loss.item() not contiguous with deepspeed plugin"
## 🐛 Bug

I am trying to fine-tune xlm-roberta-large model using deepspeed plugin

[code]
This works without any problems with ddp and ddp_sharded plugins.

 - PyTorch Version (e.g., 1.0): 1.7
 - OS (e.g., Linux):
 - How you installed PyTorch (`conda`, `pip`, source): pip
 - Build command you used (if compiling from source):
 - Python version: 3.7
 - CUDA/cuDNN version: 10
 - GPU models and config

[2021-05-10 18:03] shuyingsunshine21 opened #7470 "API change, expose model's state_dict to `accelerator.training_type_plugin`"
## 🚀 Feature

Currently, in `CheckpointConnector.dump_checkpoint`, we have

[code]

so model's state dict is extracted here. However, let `accelerator.training_type_plugin` control the logic might make more sense especially for sharded plugin, we might need to access the local (i.e. sharded) state instead of the whole states.

### Motivation

https://github.com/PyTorchLightning/pytorch-lightning/p

[2021-05-10 18:09] NakedKoala opened #7471 "Error: torch_xla/csrc/convert_ops.cpp:83 : Unsupported XLA type 10 when running TPU training"
## 🐛 Bug

[code]
When running TPU training, encountered above error message , same code works for GPU training.

### To Reproduce

Please run this colab notebook,

https://colab.research.google.com/drive/1IlhXRWP84c3mXgjJMsypmhIC-4sSsDQf?usp=sharing

### Expected behavior

Should be able to run TPU training

[2021-05-11 07:26] Borda commented on #7432
it is happening only with Cuda or can you replicate it also with pure python (pip) packages?

[2021-05-11 07:28] #7443 closed

[2021-05-11 07:43] juliette-sch commented on #7443
It works, thank you very much !

[2021-05-11 08:54] #7166 closed

[2021-05-11 10:08] #7260 closed

[2021-05-11 10:10] Sileadim opened #7479 "Missing stage param in LightningDataModule.setup() documentation"
## 📚 Documentation

The documentation of LightningDataModule says:

[code]
But the method of the parent object (DataHooks) says:

[code]
Not sure what the intent is, is the stage param a leftover which should be removed or is it missing in the doc string?
I noticed because I ran the LightningCLI and I got an error message saying that "stage" was missing..

[2021-05-11 11:40] awaelchli commented on #7003
As discussed offline, I believe you can force the behaviour you want with the workaround of setting this environment variable to True/1 in your command:

`PL_IN_DDP_SUBPROCESS=1`

I hope this works and at the very least it should get us closer to the solution.

[2021-05-11 11:42] Darshan-Ramesh commented on #6675
@akihironitta Thanks for the fix 😀
For my project, with the same settings as before and with the latest version (1.3.0), I see that there is no problem as before. My model is learning properly from the automatically found learning rate.

[2021-05-11 12:25] Sileadim commented on #7479
https://github.com/PyTorchLightning/pytorch-lightning/pull/7483

[2021-05-11 14:32] carmocca commented on #6899
Yes, exactly

[2021-05-11 15:39] #7470 closed

[2021-05-11 15:54] carmocca commented on #5373
The idea looks good to me overall.

This issue is pretty much a duplicate of https://github.com/PyTorchLightning/pytorch-lightning/issues/6204

Closing this one even though it was created first since it contains less activity

[2021-05-11 16:37] breznak opened #7486 "[Bug] Trainer.validate() incorrect return-type (same for test())"
## 🐛 Bug

- [ ] FIXME 1: with `model.validation_epoch_end = None` the `validate()` does not return `[validation_step()s]`
- [ ] FIXME 2: with `assert model.validation_epoch_end is not None` validate() does not return `{}`, but `[{}]`, where `len([]) == 1` (depends on num dataloaders??)
  - [ ] mention in doc that the len of returned `[{}]` depends on number of dataloaders?
- [x] TODO shouldn't doc

[2021-05-11 16:50] breznak commented on #7486
also, while this would be true for a single-input single-output model, it wouldn't have to be the case in general, right?
I would say it should depend on the number of "heads" of the model? (not sure how to express that in PL code). Say we can have
- a model with multiple-inputs (dataloaders/datasets?) with a "merge" layer and a single output head (`len(validation_result)==1`)
- a (single input) m

[2021-05-11 17:46] rohitgr7 commented on #5542
@carmocca to make it load the callback state you need to pass the callbacks in the re-run.
[code]

`on_load_checkpoint` is called only if you assign `resume_from_checkpoint` inside `trainer.fit`. During testing, it does not because we don't load any other state except the model's state_dict when a `ckpt` is passed to `trainer.test`.

To load the state of callbacks one can just manually call this t

[2021-05-11 18:13] #7479 closed, assigned to nobody

[2021-05-11 22:03] leezu opened #7490 "[DeepSpeedPlugin] Trainer.track_grad_norm support"
## 🚀 Feature
Trainer.track_grad_norm is currently silently ignored when using DeepSpeedPlugin stage 2.

### Motivation

Trainer.track_grad_norm works well with ddp_sharded. It would be nice to support in DeepSpeedPlugin too, given DeepSpeedPlugin's empirical better scaling efficiency.

### Alternatives

Use ddp_sharded to when track_grad_norm is needed. Add an error message when using track_grad_n

[2021-05-11 22:56] alanhdu opened #7491 "`ddp_cpu` cannot run in interactive mode"
## 🐛 Bug

In the new 1.3 release, I get an error when trying to use `ddp_cpu`:
[code]

This used to work fine on Lightning 1.2.9

I *believe* the problem is at:

https://github.com/PyTorchLightning/pytorch-lightning/blob/b9a52fa2ef31f12f6992ece18a033318ec551907/pytorch_lightning/trainer/connectors/accelerator_connector.py#L521-L522

this says that the accelerator is DDP (which is rightly incompati

[2021-05-11 23:03] alanhdu commented on #7491
I bisected this back to ebabe56f4ebde2813e1d77039ec7cb64bba63ee2 -- I guess that the `_distrib_type` was erroneously set to `DDP` this entire time but it never surfaced until we added this check?

[2021-05-12 02:14] griff4692 commented on #5558
I am getting the same issue still as well

[2021-05-12 04:59] ananthsub opened #7493 "Deprecate the connector + trainer dependency inside the Trainer class"
## 🚀 Feature

Title says it all

### Motivation

This is a legacy pattern internal to the trainer codebase today:
https://github.com/PyTorchLightning/pytorch-lightning/blob/b9a52fa2ef31f12f6992ece18a033318ec551907/pytorch_lightning/trainer/trainer.py#L315-L331

Inside the Trainer constructor, these connector classes are passed the trainer in their own constructors.
The connector class can then exp

[2021-05-12 08:47] akihironitta commented on #5558
@griff4692 @sanxing-chen Hi, thank you for your report. Which version are you using? Could you try with the latest version of `pytorch-lightning`? `pip install pytorch-lightning -U`

[2021-05-12 08:58] jungwhank opened #7496 "Question with global_step and every_n_train_steps"
## 🐛 Bug

Hi,
I'm trying to use `every_n_train_steps` in ModelCheckpoints callback and I have an issue about it.
As show in below colab, I guess it should save steps with `10, 20, 30`, but It saves steps with `9, 19, 29`.

Did I misunderstand about `trainer.global step` or something with callback?

As an additional question, Is `save_last` option just overwrite the last saved checkpoint as `last.c

[2021-05-12 09:13] sooftware opened #7497 "Too slow TPU Training"
## 🐛 Bug

Hi! Thank you for great project. I love pytorch-lightning.
I tried to train with TPU using pytorch-lightning. I success training with TPU but, TPU training is too slow.
I think there is something wrong. Here is the code that I set trainer.

[code]

Please let me know if I set anything wrong.
Overall code is [here](https://github.com/sooftware/lightning-asr/blob/main/bin/main.py)

 - PyTo

[2021-05-12 09:26] #6894 closed

[2021-05-12 09:29] Demirrr opened #7498 "track_epoch_end_reduce_metrics and memory consumption"
## 🐛 Bug

[track_epoch_end_reduce_metrics](https://github.com/PyTorchLightning/pytorch-lightning/blob/b9a52fa2ef31f12f6992ece18a033318ec551907/pytorch_lightning/trainer/training_loop.py#L180) leads an increase in the memory consumption between epochs.

1. Memory consumption starts increasing in the very begining of an epoch
2. Memory consumption peaks in the very end of an epoch.
3. After an epoch

[2021-05-12 10:45] Demirrr commented on #7498
Sorry it is my bad. I cant seem to reproduce this error. Although the behaviour of memory consumption still persists, I am not quite sure whether the aforemented method causes this issue.

[2021-05-12 10:53] machineko commented on #7497
Pytorch is known to have a lot worst XLA compilation then TF/Jax and i think they are still working on it.
You probably should post it in XLA/Pytorch repo https://github.com/pytorch/xla

[2021-05-12 11:34] carmocca commented on #5542
Thanks. This could use an info message

I get this, but this should work as in `fit`

[2021-05-12 11:38] rubencart commented on #7424
Sure, I can give it a try :-). Might not be for the next 2 weeks though.

[2021-05-12 11:52] carmocca commented on #7491
cc @justusschock @awaelchli

[2021-05-12 11:59] awaelchli commented on #7491
Hi
"ddp_cpu" was always using spawn, even if the name does not contain the word "spawn" like the gpu version does.
Can you explain what you mean by "interactive mode"?

[2021-05-12 13:19] mariaculman18 commented on #3336
Hi @awaelchli, I have a question and you might help me. According to documentation, now it is possible to use multiple dataloaders for training (https://pytorch-lightning.readthedocs.io/en/latest/advanced/multiple_loaders.html#multiple-training-dataloaders). But, in training_step, you are required to access each dataloader ->batch_a_b = batch["loaders_a_b"]. So in the end lightning doesn't seem to

[2021-05-12 14:02] kaushikb11 commented on #7497
@sooftware Could you pass `TPUSpawnPlugin(debug=True)` to the plugins flag in Trainer? It will log if your code has any operations causing bottlenecks during the XLA compilation.

[2021-05-12 14:05] kaushikb11 commented on #7471
@NakedKoala Could you share more of the stack trace?

[2021-05-12 14:07] sooftware commented on #7497
Thank you. I will try.

[2021-05-12 14:58] dfioravanti opened #7505 "Impossible to call trainer.test when using stochastic_weight_avg=True + ddp"
## 🐛 Bug

I am using `ddp` as a backend. Follwing the "training tricks" page I used `stochastic_weight_avg=true` in the Trainer. Doing so makes training works like a charm but when I try to use `trainer.test` the program crashes when it tries to reload the best model with a
[code]
if I patch the network to have `_parameters` it crashes on `_modules`. If patch `_modules` it crashes on `_buffers`. I