[2020-08-28 19:51] yala opened #3250 "Adding input sanitation for distributed backend and related trainer flags"
## 🚀 Feature
Error should be thrown or a warning raised if the passed distributed_backend flag doesn't match one of the expected types (e.g ddp, ddp-spawn, etc). This maybe applicable to other trainer flags too.

### Motivation
This is really minor, but I just spent an embarrassing amount of time trying to figure out why my ddp models were not using GPUs. After stepping through the the pytorch-lig

[2020-08-28 19:59] rohitgr7 commented on #3230
Agreed, this is one good point.

[2020-08-28 20:53] yukw777 commented on #3250
@yala yo what’s up Adam! Remember me from good old days at ASAPP? haha We can def add some checks around inputs. I’m actually surprised  we don’t have one right now. Maybe you can send out a PR if you have some time!

[2020-08-28 21:00] nghorbani commented on #2465
This is also affecting me. I notice when using torch-geometric also the batchsize is not effected; i.e. if I set batch_size to 16 for example each call to forward of the lightning module is given 16 data points on "CPU".

[2020-08-28 21:15] nghorbani commented on #1467
This issue remains and pytorch lighting seems to be working with pytorch geometric data types upto pl version 0.9.0.
The loaded batch is wrong is size (i.e. not divided by the number of gpus) and the batch is not on the correct device.

[2020-08-29 04:14] LearnedVector commented on #3205
This is fixed. there was a leftover piece of code in my lightning module where I called `self.scheduler.step(val_loss)` in the validation steps. This caused the onecycle to reset. Thanks for looking into this!

[2020-08-29 04:14] #3205 closed

[2020-08-29 09:01] SokolovYaroslav commented on #1038
I think that we can easily fix the first mentioned issue, if just `configure_optimizers()` will be called after `train_dataloader()`. In that case, we can easily save the length of the data loader into an attribute and use it in the `configure_optimizers()` method.
I don't like previously mentioned solution with explicit call `len(self.train_dataloader())` because I have to call `prepare_data()` f

[2020-08-29 09:06] ShomyLiu opened #3253 "**gather_all_tensors_if_available** share the same underlying storage for all GPUs"
## 🐛 Bug

Hi, one of new features in   #2528  `gather_all_tensors_if_available` has a  `list` copy bug,  and this would lead that tensors in all GPUs  are the wrongly same as one GPU,  since they share the same storage:

https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/metrics/converters.py#L304

[code]
change into:
[code]

[2020-08-29 10:26] psinger commented on #3225
How can I calculate a custom metric over the entire set?

[2020-08-29 10:49] minhduc0711 opened #3254 "Allow format_checkpoint_name() to use callback metrics"
## 🚀 Feature

Let users use `checkpoint_on` and `val_checkpoint_on` in the checkpoint's filepath when initializing a `ModelCheckpoint` like this:
[code]

### Motivation

Right now, the [formatting function](https://github.com/PyTorchLightning/pytorch-lightning/blob/b40de5464a953ff5866a255f4670d318bd8fd65a/pytorch_lightning/callbacks/model_checkpoint.py#L356-L357) only allows selecting from metrics

[2020-08-29 11:24] psinger opened #3255 "NeptuneLogger creates multiple experiments in DDP mode"
Currently, the Neptune logger creates multiple experiments when started with DDP.

I believe the reason is that the experiment is created within the constructor:
`self._experiment = self._create_or_get_experiment()`

This happens in each of the processes. I think the solution is to simple set this to None and let the property experiment function create the experiment.

[2020-08-29 11:29] psinger commented on #3255
https://github.com/PyTorchLightning/pytorch-lightning/pull/3256

[2020-08-29 12:45] cemanil commented on #201
Thank you for your reply William!

This is indeed how I ended up enabling test-time gradient computation. I was just a bit hesitant to manually toggle flags like this, in order to avoid any unanticipated side effects. This one does seem pretty harmless, though.

Do you think just adding a sentence or two about this in the documentation should suffice, then? Or would it be cleaner to add an argumen

[2020-08-29 12:55] #3101 closed

[2020-08-29 13:22] rohitgr7 commented on #3101
Hey @VirajBagal, did you find the reason for the error here??

[2020-08-29 13:30] s-rog commented on #3225
Interested in this as well, so far I only know how to calculate on each gpu then reduce

[2020-08-29 13:44] psinger commented on #3225
I am currentkly trying something similar as you attempted @s-rog - the idea is to pickle the results for each rank and then collect them afterwards on rank=0.

[2020-08-29 15:32] kulkarniniraj commented on #3206
Any specific way to flush log data?

[2020-08-29 17:12] awaelchli commented on #3080
@ananthsub we also have the option to use torch.jit.trace. Should we support both in the same function, or better not?
I was thinking `to_torchscript(trace=False)`?

[2020-08-29 17:18] awaelchli commented on #3086
@pwwang can you grant me access to the colab link?

[2020-08-29 17:41] awaelchli commented on #3086
Ok, I checked and this is fixed on master by #3092
We don't log graph by default, which is very good. The tracer warning will only show if you log the graph explicitly, but we should not suppress it in my opinion.

[2020-08-29 17:41] #3086 closed

[2020-08-29 18:03] Borda commented on #3080
I would prefer the parameter way...

[2020-08-29 18:58] ananthsub commented on #3080
Tracing also requires the user to provide an example input. So the API would become `to_torchscript(trace=False, example_input=None)` ?

The PyTorch JIT team encourages users to use scripting over tracing because tracing has a number of limitations, which is why I didn't want to add a new dependency here. Given that this is new, maybe we could start without tracing and then add it as a feature req

[2020-08-29 19:00] awaelchli commented on #3080
yes, perfect. was wondering the same, but script seems to be very versatile.

[2020-08-29 19:12] Borda commented on #3080
let's follow the same parameter order as we already have for ONNX export
https://github.com/PyTorchLightning/pytorch-lightning/blob/d9ea25590e95ca9e70401123a0f1f59de711e2ff/pytorch_lightning/core/lightning.py#L1689
co to have the params diff from onnx to place as last...

[2020-08-29 21:02] fperazzi commented on #3246
Got it. So `max_steps` should be computed based on the number of epochs, the batch size and the number GPUs, somewhere before instantiating the `Trainer`.

[2020-08-29 22:01] maxjeblick opened #3259 "Cap batch size by number of training samples when using auto_scale_batch_size"
## 🐛 Bug

The batch size finder sets an unrealistically high batch size if all samples of the training dataset fit into one batch.
[code]

### To Reproduce

Steps to reproduce the behavior:

1. Run [Mnist Example](https://colab.research.google.com/drive/1F_RNcHzTfFuQf-LeKvSlud6x7jXYkG31#scrollTo=HOk9c4_35FKg) with `auto_scale_batch_size=True` (one needs to remove hardcoded batch size and set `self

[2020-08-29 22:09] maxjeblick opened #3260 "auto_scale_batch_size won't reset current_epoch"
## 🐛 Bug

When `auto_scale_batch_size` is enabled, the model is initially trained with varying batch sizes. When training begins, `trainer.current_epoch` equals 1 instead of 0.

### To Reproduce

Either observe the progress bar or use a simple callback to track the epoch number, once with  `auto_scale_batch_size`  enabled and once with  `auto_scale_batch_size` disabled.

[code]

[2020-08-29 22:27] fperazzi opened #3262 "training_step(...) return type, without computational graph."
Similar to the GAN example, assume that I have two networks G, D within the same `LightingModule`. Differently from it, the D network kicks in only after N epochs and I don't have a loss with a computational graph attached till then. What should the `training_step(...)` function return in this case? Is there a proper way to handle this case or should I return a dummy loss?

[2020-08-29 23:15] awaelchli commented on #3262
Yes, I think this is a good way, but then you have to override optimizer_step in order to prevent backprop the gradient from this dummy loss.

I discussed once with @williamFalcon the possibility to allow returning None when using mutliple optimizers as long as one of the calls returns a loss, as in your case. When returning None, then this would also allow you to skip the forward pass completely

[2020-08-30 00:02] fperazzi commented on #3262
@awaelchli, sounds like a good idea to me. I had to to override the optimizer step anyway because of the lr warmup, but yes, that would definitely simplify implementation of gans and other multi-stream nets.

My current workaround is `return nn.L1Loss(torch.zeros(1,requires_grad=True),torch.zeros(1,requires_grad=True))`

[2020-08-30 02:25] lezwon commented on #2903
I don't think this is the issue. According to TPU docs:
_If you are using a training batch size of n, this is split, or sharded, across 8 TPU cores. If n = 128 and you are comparing a TPU to a single P100, then the GPU might be running at 70% of peak FLOPs while the TPU is only running at 20% of peak FLOPs (because the sharded TPU batch size is really 16, (128 / 8)) rather than 128. In this exampl

[2020-08-30 05:19] VirajBagal commented on #3101
Hey @rohitgr7 , the following helped me. So I closed the issue. Thanks for asking!

[2020-08-30 05:28] #3237 closed

[2020-08-30 06:25] awaelchli commented on #3080
I've implemented now the basic version as proposed by @ananthsub.

@Borda example input is not required for scripting module, but we can make it have the file_path=None and if provided, save to file directly.

Also, do we want the option to export submodules, for example with the syntax I proposed https://github.com/PyTorchLightning/pytorch-lightning/issues/3080#issuecomment-680965563
but then how

[2020-08-30 06:30] rohitgr7 commented on #2903
Yeah the issue was in earlystopping callback.

[2020-08-30 06:31] nrjvarshney opened #3263 "Issue with multi gpu training"
I get the following error on training with multi gpus:
[code]

Code
[code]

Need help in debugging the issue.

[2020-08-30 09:13] Erlemar opened #3264 "Incorrect aggregation when logging predictions into EvalResult with distributed_backend DP"
## 🐛 Bug

It it possible to log some data in EvalResult like this:
[code]
Suppose I log some value with dimensions (32, 10) - batch size 32 and 10 classes. And I have N samples in total.
If distributed_backend is None, in validation_epoch_end `outputs.y_hat.shape` is (N, 10)
If distributed_backend is ddp, in validation_epoch_end `outputs.y_hat.shape` is (N, 10)
But if distributed_backend is dp, in

[2020-08-30 09:45] #305 closed

[2020-08-30 10:42] chris-clem commented on #3243
I have the same issue

[2020-08-30 11:51] gerardsn commented on #3215
I've dug a bit deeper and I think it is possible to add this behaviour without creating breaking changes through the following proposals.

1. Add option for setting default `reduce_fx` and `tbptt_reduce_fx` functions to `Result()`. This provides some more flexibility for users and allows changing the default option on epoch end from torch.mean to nothing (not sure if ‘nothing’ should be no_op / Id

[2020-08-30 12:50] rohitgr7 commented on #3260
since it calls it with various batch_sizes did you find where it sets `current_epoch` to 0 before checking it on next batch_size?

[2020-08-30 12:56] rohitgr7 commented on #3142
nope, reload checkpoint is not required. Also, this will reset your optimizers and schedulers if you call `.fit` on each dataset. If you want that then it's ok, else you have to do what @Borda suggested.

[2020-08-30 13:56] sheljoy opened #3269 "'dict' object has no attribute 'callback_metrics'"
raise the error
`
File "/opt/software/envs/dl/lib/python3.6/site-packages/pytorch_lightning/trainer/evaluation_loop.py", line 421, in __update_callback_metrics
    self.callback_metrics = eval_result.callback_metrics
AttributeError: 'dict' object has no attribute 'callback_metrics'
`
where using the follow

[code]

with early stopping configure

`es = EarlyStopping(monitor="val_loss",min_delta=0.0

[2020-08-30 14:04] rohitgr7 commented on #2443
is this still an issue??

[2020-08-30 15:47] awaelchli commented on #3263
[code]
does that solve your problem?

[2020-08-30 15:56] nrjvarshney commented on #3263
prediction_label_count is a dictionary object.
You mean add .float() to every value of this dictionary?

[2020-08-30 16:05] awaelchli commented on #3263
yes, that's what I meant, sorry. If this is not suitable for your use case, have a look at reduce_fn in Result object.
https://pytorch-lightning.readthedocs.io/en/latest/results.html#trainresult-api

[2020-08-30 16:54] nrjvarshney opened #3273 "Error while training on multi gpus"
I get the following error on training with multiple gpus. It works for single gpu training
[code]
[code]

[2020-08-30 18:38] nrjvarshney commented on #3273
Using drop_last = True is not acceptable

[2020-08-30 18:58] awaelchli commented on #3273
Hi, I think I have solved that recently #3020. Which version are you on? Please try to upgrade and let me know.

[2020-08-30 19:12] #1762 closed

[2020-08-30 19:12] #2316 closed

[2020-08-30 22:25] mcemilg opened #3275 "How to free up the CUDA memory"
I just wanted to build a model to see how pytorch-lightning works. I am working on jupyter notebook and I stopped the cell in the middle of training. I wanted to free up the CUDA memory and couldn't find a proper way to do that without restarting the kernel. Here I tried these:

[code]

Deleting model and `torch.cuda.empty_cache()` works in PyTorch.

 - Version 0.9.0

[2020-08-31 01:18] s-rog commented on #3239
I found the source of the issue, will post another issue as this one has an inaccurate description.

[2020-08-31 01:18] #3239 closed

[2020-08-31 01:33] s-rog opened #3276 "Logging non-tensor scalar with result breaks subsequent epoch aggregation"
## 🐛 Bug
Logging non-tensor scalar with result breaks subsequent epoch/tbptt aggregation
(on both 0.9 and master)

[code]

### To Reproduce
[code]
### To Fix
[code]
### Expected behavior
In `log()` of result objects, value should accept non tensor values as `value: Any` and not cause issues with other metrics to be logged

### Additional context
`log()` can be changed to only accept tensors, or ha

[2020-08-31 01:38] #2325 closed

[2020-08-31 02:42] s-rog opened #3278 "on_fit_start not triggering (master)"
## 🐛 Bug
on_fit_start is not being triggered on master as of f46318ebfeb785a659c49091a6871584ccde3ee1

### To Reproduce
Steps to reproduce the behavior:

1. Install master
2. Run template with on_fit_start added (included below)
(identical behavior for single gpu, ddp_spawn and ddp)

#### Code sample
[code]

### Expected behavior
"on_fit_start" should be printed along with "on_epoch_start" but onl

[2020-08-31 03:06] s-rog commented on #2653
I got around to testing and can load checkpoints now in non-pl envs. The only change needed was to cast hyper_parameters to dict in `dump_checkpoint` of  pytorch_lightning/trainer/training_io.py

\- `checkpoint[LightningModule.CHECKPOINT_HYPER_PARAMS_KEY] = model.hparams`
\+ `checkpoint[LightningModule.CHECKPOINT_HYPER_PARAMS_KEY] = dict(model.hparams)`

Thoughts?

[2020-08-31 04:21] zhangyu13141 opened #3279 "行人检测的评价标准没有预先写好的"
## 🚀 Feature

### Motivation

### Pitch

### Alternatives

### Additional context

[2020-08-31 06:30] rohitgr7 commented on #3275
I think
[code]
is all you need.

[2020-08-31 06:32] hyukyu opened #3280 "Error in transfer_batch_to_device when None type is in the batch"
## 🐛 Bug

### To Reproduce

Steps to reproduce the behavior:

1. There should be no `torchtext` pre-installed
2. Run the sample code

#### Code sample
[code]

### Expected behavior
The above code runs fine if the package `torchtext` is installed. However, the code raises following error if `torchtext` is not available and I believe this inconsistency is a bug.

[code]

I think this line of the [co

[2020-08-31 07:45] dvirginz opened #3282 "Using multiple dataloaders at training time"
I Try to train on two dataloaders, one attached to a dataset where each `__get_item__` call fetches a predefined batch of varying length (thus the batch_size I transfer to the `dataloader` object is 1), and one where I sample randomly from a set of sequences, thus `__get_item__` call fetches one sample each time.

I'm looking for something like
[code]
I see this option is available for the validat

[2020-08-31 07:49] tfrizza opened #3283 "TrainResult erroring with deepcopy on epoch end"
When detaching the Result object from the graph the code first calls deepcopy.copy() which throws an error
`*** RuntimeError: Can't call numpy() on Tensor that requires grad. Use tensor.detach().numpy() instead.`
as the Result object still contains the graphs. It seems like it needs to perform some sort of recursive detach (like the dict implementation in the lines below), since calling `detach()`

[2020-08-31 08:50] petrgeiger-incieve commented on #1965
+1

[2020-08-31 10:38] rohitgr7 commented on #2653
Yeah this looks good to avoid such error since `AttributeDict` is a PL thing.

[2020-08-31 10:56] carmocca commented on #3243
Duplicate of #2976

[2020-08-31 11:43] maxjeblick commented on #3260
There problem is during [model checkpointing](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/trainer/training_io.py#L335). The checkpoint sets  `  'epoch': self.current_epoch + 1,`. That checkpoint will be loaded after having completed the batch size finder. During batch size scaling, the epoch won't be increased.

[2020-08-31 12:39] carmocca opened #3286 "On the relationship between Result and Callback monitor"
## 💬 Discussion

Since I started using Lightning, I have noticed many users, as well as myself, having trouble with the way metrics are saved for callbacks by the `Result` class.

The current design of having only `{early_stop_on,checkpoint_on}` forces different callbacks to use the same monitor. I believe that wanting different monitors for `EarlyStopping`, `ModelCheckpoint`, and `LearningRateLog

[2020-08-31 13:34] awaelchli commented on #3279
The title of this issue translated with Google Translate: The evaluation criteria for pedestrian detection are not pre-written
@zhangyu13141 was this meant to be posted in a different repo?

[2020-08-31 13:34] #3279 closed

[2020-08-31 13:41] junwen-austin commented on #3159
@awaelchli I'd like to but currently the code is not working :(

[2020-08-31 13:57] rbracco commented on #3175
Exact error message is: AttributeError: 'YourDataModule' object has no attribute '_has_prepared_data'. Adding this to make the error searchable here.

[2020-08-31 14:13] mcemilg commented on #3275
Like I said on the first comment it did not work. Here I got the example from the readme and tried to delete model:

[code]

[2020-08-31 14:17] sumanthratna opened #3288 "visdom logger"
## 🚀 Feature
Comet, MLFlow, Neptune, TensorBoard, test-tube, WandB, and CSV are the supported loggers as of 08/31/2020. It would be great

### Motivation
just a matter of preference. one nice feature of visdom is that it allows users to organize views

### Pitch

an API that looks like the other loggers, but uses visdom instead

### Alternatives

https://github.com/PyTorchLightning/pytorch-lightni

[2020-08-31 15:47] JackCaster opened #3291 "Checkpoints not working"
## 🐛 Bug

Default `checkpoint_callback` in `Trainer()` does not work so model's checkpoints are not saved.

### To Reproduce

Steps to reproduce the behavior:

I first created a simple implementation of a `LightningModule`. This contains:
[code]
when I run it with
[code]
I get
[code]

Following the hint, I then implemented the `validation_epoch_end()` method. I was surprised I had to, given that m

[2020-08-31 16:07] JackCaster commented on #3291
EDIT: Checkpoints works if I set it in the `EvalResult` like:
[code]
but 1) I would like to keep callbacks separate from the module and only in the `Trainer()`. 2) Will setting the checkpoint in `EvalResult` interfere with other callbacks set in `Trainer()`?

[2020-08-31 16:36] yamrzou opened #3292 "How was the README animation created ?"
Sorry if this does not fit into the issues, as it is not really a how-to question.

The README animation is really nice. May I known which tool was used to create it?

[2020-08-31 18:04] rohitgr7 commented on #2653
@s-rog , I tried on master with `save_weights_only=True` and these are the dict keys I got. No hyperparams.
[code]

[2020-08-31 18:33] rohitgr7 commented on #3275
yeah, didn't work. I thought it should work. Now I also want to know how to do this :sweat_smile:.
@awaelchli can you suggest something here? Thanks.

[2020-08-31 18:43] ananyahjha93 commented on #3206
@fperazzi closing this if there are no further issues!

[2020-08-31 18:43] #3206 closed

[2020-08-31 18:44] ananyahjha93 commented on #3205
@LearnedVector oh ok, yeah that explains why I wasn't able to replicate this

[2020-08-31 18:59] rohitgr7 commented on #3286
I wonder how the `monitor` can be changed in ModelCheckpoint and EarlyStopping callback since both of them have states like `best_k_scores` or `best_score` or more.Yeah checkpoint_on and early_stop_on is a bit tricky I guess, I am still trying to understand how they work with ModelCheckpoint and EarlyStopping

[2020-08-31 19:35] carmocca commented on #3286
How it currently works, these callbacks cannot know when `checkpoint_on` and `early_stop_on` input metric has changed.

After my proposed changes, we could:
- keep overwritting the callback state (regardless of monitor)
- keep a dict of the state for each `--monitor` used
- reset the state whenever a new `--monitor` key is detected

[2020-08-31 19:40] rohitgr7 commented on #3286
reset the state whenever a new --monitor key is detected.

sounds like a new `ModelCheckpoint or EarlyStopping` everytime monitor is changed since we have to set `mode` accordingly.

[2020-08-31 20:17] ananthsub commented on #3080
I initially proposed this to keep the output parsing simpler. But I agree the most common case would be returning the script module directly. Maybe the type signature could be `-> Union[ScriptModule, Dict[str, ScriptModule]]`.

I suppose I'm jumping ahead with bundled inputs then

[2020-08-31 20:26] rohitgr7 commented on #3278
because at this point neither `model` nor `accelerator_backend` is assigned to the `trainer`.
https://github.com/PyTorchLightning/pytorch-lightning/blob/caf7893f27c73db227883ad00531d0ff550cbb23/pytorch_lightning/trainer/trainer.py#L984
Should be called after
https://github.com/PyTorchLightning/pytorch-lightning/blob/caf7893f27c73db227883ad00531d0ff550cbb23/pytorch_lightning/trainer/trainer.py#L100

[2020-08-31 23:10] balloonanimal opened #3296 "Debugging docs uses the same argument for both cases of overfit_batches"
[On this example](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/docs/source/debugging.rst#make-model-overfit-on-subset-of-data) of how to use the `overfit_batches` both options shown use the fractional argument 0.1. The method can take either a fraction of the total batches or a fixed number of batches. The argument passed in the second example should be changed to reflect that

[2020-08-31 23:12] balloonanimal commented on #3296
I'll get this.

[2020-09-01 00:37] s-rog commented on #2653
@rohitgr7 Did the model have `self.hparams`?

If you look at `dump_checkpoint()` the `weights_only` arg only controls:
callbacks, optimizer_states, lr_schedulers, native_amp_scaling_state and amp_scaling_state

hparams loggging is only controlled by `if model.hparams:`

[2020-09-01 02:08] #2322 closed

[2020-09-01 02:08] tbenst opened #3300 "save image to disk with epoch number"
#### What is your question?
How can I save an image to disk with the current `epoch` in the filename during validation step? Normally I'd have an `epoch` variable in a for loop and it's trivial, but not sure how to do this in pytorch lightning.

#### Code
[code]

#### What have you tried?
Reading docs, only solution I could think of was to implement a heavy-weight logger class, just to get the epo

[2020-09-01 02:17] tbenst commented on #3300
I "solved" epoch by doing `global epoch; epoch +=1`.

I'm not sure how to use `torchvision.utils.save_image`, as I get a nasty error:

[code]

[2020-09-01 02:21] tbenst commented on #3300
cc https://github.com/PyTorchLightning/pytorch-lightning/issues/2728

[2020-09-01 02:42] #3085 closed

[2020-09-01 02:52] #3300 closed

[2020-09-01 03:40] siahuat0727 opened #3301 "Attribute is reset per batch in `dp` mode"
## ❓ Questions and Help

### Before asking:
1. search the issues.
2. search the docs.

#### What is your question?

I don't know whether this is a bug...
As shown in the code below, I think the behavior of `dp` mode is unexpected? (The attribute is reset every batch)
When using `ddp` mode, everything is fine. (The property will be initialized only once per GPU)

#### Code

[code]

#### Output

[co

[2020-09-01 05:18] #2312 closed

[2020-09-01 06:03] raynardj commented on #3035
# 🐛 Bug

For some scenario, like classifying 200 classes, with most of the predicted class index is right, ```micro f1``` makes a lot more sense than ```macro f1```

Steps to reproduce the behavior:

* Copy the code
* Run the code from top to bottom
* Compare print results
* See Difference between sklearn and Lightning

[code]

will output the following, while PL produce the macro f1 0.625, but th

[2020-09-01 06:44] justusschock commented on #3035
@raynardj We are already tracking it in this issue and it will be part of our new aggregation system. However this may take a while to lay out.

[2020-09-01 07:45] JackCaster commented on #3286
May I also suggest to keep the checkpoint strategies separate from the model? I think what @carmocca is suggesting goes towards that direction. I think we should compute metrics within the model, but we should let the `Trainer()` take care of the checkpoint callbacks. By doing so, I could share my model and let _you_ decide how to tweak the training procedure.

[2020-09-01 08:12] SkafteNicki commented on #3159
@junwen-austin I am hoping to finish a PR in the following days that changes the reduction parameter for metrics used in classification problem to work similar to how sklearn is doing it (`micro` average as default and with the option to which to `macro`, `weighted` ect)

[2020-09-01 09:08] #3296 closed

[2020-09-01 09:19] FrancescoSaverioZuppichini commented on #2305
Same problem here, I will probably switch to a framework that really improves my production

[2020-09-01 09:29] FrancescoSaverioZuppichini opened #3302 "Unexpected key(s) in state_dict Error when calling Trainer.test"
Dear all,

I have a trainer

[code]

And I have a training loop

[code]
I get the following error when I try to validate the test set (at `trainer.test`)

[code]
They are clearly the weights in my model (a variant of ResNet). The model path exists and the model is stored there.

Thank you.

Best Regards,

Francesco

[2020-09-01 09:37] NumesSanguis opened #3303 "AUROC metric should throw an error when used for multi-class problems"
## 🐛 Bug

AUROC accepts multi-class input without throwing an error. Instead, it gives a random value, which gives the illusion that it is working.

Background: https://forums.pytorchlightning.ai/t/pytorch-lightning-auroc-value-for-multi-class-seems-to-be-completely-off-compared-to-sklearn-using-it-wrong/61/7

### To Reproduce

Steps to reproduce the behavior:

1. Manually create some multi-class

[2020-09-01 09:52] NumesSanguis opened #3304 "MulticlassAUROC: Implement a multi-class version of the AUROC metric"
## 🚀 Feature

Create the metric MulticlassAUROC to allow for the AUROC metric to be used in multi-class problem settings. Or,
Expand the AUROC metric to support multi-class data, which would also directly solve this AUROC bug that instead gives a random value when used in multi-class problems: https://github.com/PyTorchLightning/pytorch-lightning/issues/3303

### Motivation

AUROC is a useful metr

[2020-09-01 10:15] SkafteNicki commented on #3304
It would be a great addition. @NumesSanguis would you be up for creating a PR that implements a MulticlassAUROC metric?

[2020-09-01 12:34] #2274 closed

[2020-09-01 13:17] #2903 closed

[2020-09-01 13:17] #3185 closed

[2020-09-01 13:17] edenlightning opened #3305 "Add a callback to support ocapus"
Opacus is a library that enables training PyTorch models with differential privacy. It supports training with minimal code changes required on the client, has little impact on training performance and allows the client to online track the privacy budget expended at any given moment.

https://github.com/pytorch/opacus

[2020-09-01 13:20] EspenHa commented on #3242
Suggestion: [fsspec](https://filesystem-spec.readthedocs.io/en/latest/)

[2020-09-01 13:21] junwen-austin commented on #3159
@Borda @SkafteNicki thanks for the heads-up. Meanwhile, I figured out a way to do DDP sync with 0.9.0 manually, based on the code from [https://github.com/allenai/longformer/blob/master/scripts/triviaqa.py](url). Specifically, one can manually add the following member method of the LightningModule. The following code is a simple modification of the `sync_list_across_gpus` in the link above:

[code

[2020-09-01 13:23] junwen-austin commented on #3225
Please see #3159 for a temp solution. I have it tested to work on my code.

[2020-09-01 13:24] Lucas-Steinmann commented on #3199
Just to be clear. The next step is for you (the project owners) to decide what the correct behaviour is:

1. The docs (only dicts with 'loss' key should work with early stopping): Then we have to fix the code and the tests.
2. The code (early stopping should only work with TrainResult): Then we have to remove the test and fix the docs
3. The test (early stopping should work with dicts any key): Th

[2020-09-01 13:30] junwen-austin commented on #3096
@rohitgr7 @awaelchli Thanks for looking into the source code and you are right in this case, there is nothing fancy about the `from_pretrained` in terms of saving the weights. However, for some Transformer models, for example, Albert Transformer, the weights are shared across many layers, and the load/saving functions from Albert Transformer takes advantage of that and the model saved is much smal

[2020-09-01 13:31] psinger commented on #3159
@junwen-austin - thanks this is nice. I am doing it similarly, but worse, pickling the results of each worker and collecting them on worker 0. Instead of doing the final average of the metric I assume you could also limit this calculation to worker 0, which is anyways the one doing the logging.

[2020-09-01 13:33] williamFalcon commented on #3199
The correct behavior is neither of the above...

1. if using dicts, it should work with whatever you put in the monitor argument of the EarlyStopping or ModelCheckpoint.

[code]

2. If using results it should work with whatever is in the early_stop_on argument:

[code]

If you ALSO pass the key in the EvalResult then the EvalResult takes precedence...

[2020-09-01 13:33] adriangrepo opened #3306 "Init tensors using type_as for multi gpu training error"
I get the following error when using type_as for multi device trainig:

TypeError: type_as() got an unexpected keyword argument 'device'

Code to reproduce:

[code]

error:

[code]

[2020-09-01 13:34] edenlightning commented on #3286
@williamFalcon thoughts?

[2020-09-01 13:36] edenlightning commented on #3280
Thanks! Mind sending us a PR with the fix?

[2020-09-01 13:44] Lucas-Steinmann commented on #3199
Ok. 1. currently does not worked (atleast a few days ago, when I wrote the issue, see my minimal example here: https://github.com/PyTorchLightning/pytorch-lightning/pull/3193#discussion_r478517184)

There is a test, which exactly checks 1.  but has an off-by-one error and would actually fail if the error is fixed (see my first comment on this issue).

If I understand the docs correctly, they curre

[2020-09-01 13:51] junwen-austin commented on #3159
@psinger I did not limit the calculation to worker 0 though I did try to find rank 0 GPU with no success :(

That's why I have to divide the metric results by `self.trainer.world_size` as the method above will get sum of identical metric results from each GPU.

[2020-09-01 13:58] psinger commented on #3159
@junwen-austin You can get the rank via `self.global_rank`

[2020-09-01 14:00] #2302 closed

[2020-09-01 14:22] lezwon commented on #3305
This looks cool. I can work on this :]

[2020-09-01 14:30] f4hy commented on #3242
Oh! Looks promising :) thanks for the suggestion let me give that a try.

[2020-09-01 14:35] s-rog commented on #3225
@psinger looking into the torch distributed docs I think we need to:
1. gather (pred and target) on rank 0
2. stack or cat as appropriate
3. calculate metrics

or

1. calculate unreduced metric on all ranks
2. gather on rank 0
3. stack or cat as appropriate
4. reduce

I'm assuming this is only for logging purposes as backprop would probably cause issues. Also this is just from looking at the docs,

[2020-09-01 14:51] edenlightning commented on #3276
@williamFalcon

[2020-09-01 14:53] edenlightning commented on #3253
@justusschock @SkafteNicki

[2020-09-01 14:58] edenlightning commented on #3232
@nateraw any update?

[2020-09-01 15:13] edenlightning commented on #3103
@awaelchli

[2020-09-01 15:13] s-rog commented on #3159
[code]
something like this?

[2020-09-01 15:21] SkafteNicki commented on #3253
@ShomyLiu good catch, would you be up for sending a PR? Please, note that the function is not used anywhere yet, but are there for future changes to the metric package.

[2020-09-01 15:31] ShomyLiu commented on #3253
@SkafteNicki  it's my pleasure for a PR. I will finish this as soon as possible.

Yeah, it's a new function to wrap the `torch.distributed.all_gather`.  But I think it is a very common use case;  especially, when using DDP mode, we always need to gather all the outputs cross all the GPUs.

[2020-09-01 15:31] #1195 closed

[2020-09-01 15:33] SkafteNicki commented on #3103
this is strange, since the initial batch size should always be set to `init_val` which have a default value of 2:
https://github.com/PyTorchLightning/pytorch-lightning/blob/3910ad033074367f6abfe0001562db725a75cb73/pytorch_lightning/trainer/training_tricks.py#L191
@nick-fung do you have a colab notebook where I can reproduce the error?

[2020-09-01 15:35] SkafteNicki commented on #3253
@ShomyLiu Yes, I agree that it is a common use case.
Please ping me when PR is ready.

[2020-09-01 15:54] ydcjeff commented on #3286
In my opinion, would it be better to use `Result` for everything else (logging, reduce_fx, ...) except for `checkpoint_on` and `early_stop_on`?

And we would use the callbacks as before with the `Trainer` with the keys logged from `Result`.
For using different `monitor`, could we allow list of respective callbacks (multiple checkpoint callbacks, early stopping callbacks, ...) to pass to the `Train

[2020-09-01 16:56] rohitgr7 commented on #2653
ok, yeah my bad :)

[2020-09-01 17:30] SkafteNicki commented on #1277
@Borda I think we can close this, since users just need to use the `Result` objects to remove such duplications

[2020-09-01 17:34] SkafteNicki commented on #3230
@awaelchli agree that we need such test. We already do that for many metrics:
https://github.com/PyTorchLightning/pytorch-lightning/blob/3910ad033074367f6abfe0001562db725a75cb73/tests/metrics/functional/test_classification.py#L38-L59
and
https://github.com/PyTorchLightning/pytorch-lightning/blob/3910ad033074367f6abfe0001562db725a75cb73/tests/metrics/functional/test_regression.py#L26-L44
tests are

[2020-09-01 18:01] Borda commented on #1277
We need to keep dics, so any thoughts about this?
Cc: @PyTorchLightning/core-contributors

[2020-09-01 18:02] SkafteNicki commented on #2205
@xiadingZ are you still facing the `RuntimeError: Tensors must be CUDA and dense` error?
Your second point, about dividing by result by process group can be achieved by setting the `reduce_op` argument to either `avg` or `mean` (solved by PR https://github.com/PyTorchLightning/pytorch-lightning/pull/2568)

[2020-09-01 18:11] SkafteNicki commented on #1277
I agree that we need to keep dictionaries for backward compatibility, I just think that if we offer a solution to users that takes care of the problem (`Result` objects) and it is not that hard to convert from dictionaries, then it is not really a problem :]

[2020-09-01 18:15] awaelchli commented on #3103
on master it works, I tested first that I get OOM without running the auto scale. Setting auto_scale_batch_size=True (and on master we need to call trainer.tune() now) it searches through all sizes starting from 2.

from your PR description I see you use 0.8.5, we fixed many things since then, so if you upgrade to 0.9.1rc1 I'm sure it will work.
Closing this for now.

[2020-09-01 18:15] #3103 closed

[2020-09-01 18:30] #3263 closed

[2020-09-01 18:50] awaelchli commented on #3189
it looks like this is because in the .rst docs we refer to the methods with autofunction instead of automethod. it seems to solve the link issue, but breaks formatting of docs, need to figure out how to  properly use it.

[2020-09-01 18:59] #3057 closed

[2020-09-01 20:20] Sun694 opened #3311 "Example code does not run"
## 🐛 Bug

Official example code, only modifying # of GPUs, does not run.

### To Reproduce

Steps to reproduce the behavior:

[code]
[code]

If I change the one line to:

`trainer = pl.Trainer(gpus=2, distributed_backend="ddp")`, I get:

[code]

Hanging permanently (no progress after > 1 hour). If I inturrupt this manually, I see the model is stuck on:

`f.write(fp.getbuffer())`

Within a multipro

[2020-09-01 21:00] finkga commented on #1314
Training with a GPU works for me in pytorch, and pytorch lightning. But when I use ray.tune to search the hyperparameter space it dies with this exact error:

----
2020-09-01 13:39:29,157	ERROR trial_runner.py:523 -- Trial DEFAULT_2d46f_00009: Error processing event.
Traceback (most recent call last):
  File "/home/d3p692/anaconda3/envs/transformers/lib/python3.7/site-packages/ray/tune/trial_runne

[2020-09-01 21:02] Sun694 commented on #3311
Ended up being a combination of a cuDNN version issue and a jupyter notebook issue.

[2020-09-01 21:02] #3311 closed

[2020-09-01 21:41] deekshadangwal commented on #2936
This is still a problem for me. I updated to 0.9.1rc1 and still get this error. Here is my trace.

Traceback (most recent call last):
  File "train_unet.py", line 270, in <module>
    trainer.save_checkpoint(args.save_checkpoint_path)
  File "/opt/conda/lib/python3.6/site-packages/pytorch_lightning/trainer/training_io.py", line 275, in
 save_checkpointe
    checkpoint = self.dump_checkpoint(weight

[2020-09-01 21:44] rohitgr7 commented on #3306
`type_as` just takes the tensor and uses that to assign type and device of the tensor passed. It's a mistake in docs. Also I read somewhere that `type_as` is going to deprecate soon, so docs should be updated here. I suggest to use `some_var = some_var.to(x)`

[2020-09-01 22:37] williamFalcon commented on #3286
ok guys, tracking this. sorry for the delay. focused on refactors today but will propose something tomorrow am (NY time)

[2020-09-01 23:05] f4hy commented on #3242
I played with fsspec a bit. I think this is the right solution. :) Very cool. I will start working on implementing this.

[2020-09-02 02:14] raynardj commented on #3035
I'm also in the slack by the same user name, anything I can contribute to the matter?

[2020-09-02 02:46] nathanpainchaud opened #3315 "Support multiple levels of subclassing in `from_argparse_args`"
## 🚀 Feature

Improve `from_argparse_args` methods in `LightningDataModule` and `Trainer` so that they can support more than one level of subclassing from their base Lightning class.

### Motivation

Users might want to develop a custom hierarchy of subclasses to either `LigthingDataModule` or `Trainer` to deal with common/boilerplate code (e.g. systematically add common arguments to data modules

[2020-09-02 04:00] alexbeloi opened #3317 "import pytorch_lightning [1] 2770657 illegal hardware instruction (core dumped) python3"
## 🐛 Bug

Can't import pytorch_lightning.

I've seen this before with tensorflow on computers with older cpus and had to build the package from source. Is this the case here as well? PyTorch seems to run just fine on this cpu, does PyTorch Lightning not support it?

### To Reproduce

[code]

#### Code sample
Doesn't seem to be occur with base torch package. I am able to run the torch tutorial mode

[2020-09-02 04:21] curehabit opened #3318 "2020-09-02 12:07:23.605391: E tensorflow/compiler/xla/xla_client/tf_logging.cc:11] Check failed: min_shape_dim <= dim && dim<= max_shape_dim"
## 🐛 Bug

When I try to run mnist tutorial (https://pytorch-lightning.readthedocs.io/en/stable/new-project.html), I got an error:

Value out of range (expected to be in range of [-1, 0], but got 1)
2020-09-02 12:07:23.605391: E tensorflow/compiler/xla/xla_client/tf_logging.cc:11] Check failed: min_shape_dim <= dim && dim<= max_shape_dim

My device is torch_xla, and I set Trainer( tpu_cores=1).

##

[2020-09-02 04:47] ShomyLiu commented on #3253
@SkafteNicki  Hi, I have sent a PR jus now for your review   #3319

[2020-09-02 07:40] SkafteNicki commented on #3035
@raynardj if you want to help, please write to me on slack (username Nicki Skafte), as I already have some code ready that you could help finish :]

[2020-09-02 08:43] harpone commented on #3283
I'm facing the same issue on TPUs. I'm doing `result = pl.TrainResult(minimize=loss)`, and I get that error for the `loss`. I guess calling `.item()` or `.detach()` would solve the logging issue, but of course that wouldn't quite work in general... :/

So I guess `Result` is just not usable with TPUs ATM and I need to resort to (more) manual logging?

[2020-09-02 09:27] tfrizza commented on #3318
Also had this issue when using TPU +1

[2020-09-02 09:31] tfrizza commented on #3283
@harpone The workaround for me was to use the dictionary approach for logging metrics, i.e. returning `{'loss':loss, 'log':{}}`. Still not super happy with this since I was hoping to use the Result object to aggregate metrics across TPU cores.

[2020-09-02 09:31] willprice commented on #2311
[code]

Produces

[code]

Toggling `shuffle=True` results in

[code]

Note the warning

[code]
Is incorrect and very misleading to the user.

[2020-09-02 11:06] adriangrepo commented on #3306
confirming that using .to(x) works, closing issue.

[2020-09-02 11:06] #3306 closed

[2020-09-02 11:13] Borda commented on #3318
@lezwon was working on this one, it shall be fixed #3252, mind trying master

[2020-09-02 11:13] #3318 closed

[2020-09-02 11:45] SkafteNicki commented on #2848
Just confirmed that #2528 actually solved this issue (using the provided code). Closing the issue.

[2020-09-02 11:45] harpone commented on #3283
yeah I'm actually now using the trainer's logger, so basically `self.logger.log_metrics(loss_dct, step=self.global_step) if batch_idx % 50 == 0 else None`, which is actually fine...

I guess using `Result` in validation should work now that #3252 is fixed... need to try that out

[2020-09-02 11:45] #2848 closed

[2020-09-02 11:47] Borda commented on #3283
@lezwon mind have a look?

[2020-09-02 11:51] Borda commented on #3288
@sumanthratna it seems like you description cut-off and has not finished, mind complete it...

[2020-09-02 12:09] Borda commented on #3292
@williamFalcon ^^

[2020-09-02 12:10] pamparana34 opened #3323 "Skip the train_step based on batch statistics"
I have an issue where I want to skip a training step based on the input batch statistics. I am just wondering if it is possible to skip the `train_step` in a lightning model i.e. the training would just ignore this batch and carry on with the next one?

usually, I would make sure the batches are always generated in an acceptable manner but I have a hard to track bug which happens rarely and due to

[2020-09-02 12:12] itsikad commented on #2311
Similar issues here.

In DDP mode the trainer keeps drawing random samples even if shuffle is manually set to False (works fine in DP mode).

Other configs/params:
gpus=2
batch_size=1
overfit_batches=4
accumulate_grad_batches=1
num_workers=2 (larger values resulted in the trainer draw overfit_batches*num_workers*batch_size random samples every epoch which is hard to follow)

I'll do my best to cre

[2020-09-02 12:16] lezwon commented on #3283
This issue should be fixed in master. @tfrizza @harpone mind retrying with master?

[2020-09-02 12:19] Borda commented on #3317
Can you `import torch`?

[2020-09-02 12:47] sumanthratna commented on #3288
Sorry about that! I’ve edited the OP

[2020-09-02 12:48] Borda commented on #3283
feel free to re-open if needed 🐰

[2020-09-02 12:48] #3283 closed

[2020-09-02 13:05] Borda commented on #3288
Mind share link to what logger you mean?
I general we would add new logger to Bolts and if they prove to be very stable then move it to PL 🐰

[2020-09-02 13:06] yangboye opened #3324 "TypeError: cannot pickle 'socket' object"
## ❓ Questions and Help

### Before asking:
1. search the issues.
2. search the docs.

#### What is your question?
when I try to pass a `socket.socket` parameter to the model, `trainer.fit(model)` occurred an error:
[code]
#### Code
[code]

#### What have you tried?
It seems `trainer.fit()` will pickle the model, and I know `socket` cannot be pickled, so I use a global variable. Are there any othe

[2020-09-02 13:21] harpone commented on #3283
OK works now on master, both for train and eval (on TPU v3-8). But now I'm getting a total hangup when using gradient clipping... need to check into it further.

[2020-09-02 13:28] Borda commented on #3301
@yukw777 mind have a look? 🐰

[2020-09-02 13:36] #2653 closed

[2020-09-02 13:54] edenlightning opened #3325 "Support uneven DDP inputs with pytorch model.join"
See more details: https://github.com/pytorch/pytorch/issues/38174

[2020-09-02 14:24] sumanthratna commented on #3288
I'm referring to https://github.com/facebookresearch/visdom#api if that's what you're asking for.

Makes sense, feel free to transfer this issue to the Bolts repo.

[2020-09-02 15:04] Borda commented on #3324
hi, why would you need to use a client/socket?

[2020-09-02 15:07] Borda commented on #3323
you can write an iff statement inside the training step and kind of do nothing if you decided to skip the training step...

[2020-09-02 15:07] Borda commented on #3315
Let's continue the discussion on the created PR...

[2020-09-02 15:45] stecklin commented on #3286
Adding a use case here which hopefully fits into the discussion. It was clear how to achieve it in v0.8.4, now it's not anymore:

I want to use the validation accuracy on the whole validation set for checkpointing. Since I have a different number of samples in each batch, I can't just compute the accuracy in each step and average on epoch end. So I compute the number of correct and total samples i

[2020-09-02 15:46] s-rog commented on #3278
I'll move the hook and test it out, if it works I'll do a PR

[2020-09-02 15:57] #2628 closed

[2020-09-02 16:02] huyvnphan commented on #2875
Hi I have the same problems here. The idle time between epochs are about 20s seconds and scale up with num_workers for dataloader.

[2020-09-02 16:22] bartmch opened #3327 "Lightning example "Address already in use" error ddp (single/multi GPU)"
Hi! Using the "pytorch_lightning_simple.py" example from [here](https://github.com/optuna/optuna/blob/master/examples/pytorch_lightning_simple.py) and adding the distributed_backend='ddp' option in pl.Trainer. It's giving the error below selecting one or multiple gpu's

EDIT: I've read about manually setting a port but I'm not sure how to do that.

Environment
Optuna version: optuna (2.0.0)
Python

[2020-09-02 18:07] alexbeloi commented on #3317
@Borda Yeah, I can import torch and run the tutorial model linked here https://pytorch.org/tutorials/beginner/pytorch_with_examples.html#pytorch-custom-nn-modules

[2020-09-02 18:08] mutasem-mattar opened #3329 "multi-gpu training is slow in lightning"
## 🐛 Bug
I have migrated my code from pytorch to lightning. However, I noticed the iteration time is almost double in lightning. I have tried with one server and two servers (each have 4 V100 GPUs). It is always slower in lightning. I am using ddp distributed backend. However, I have noticed the same with horovod as well. I passed number --gpus  for my script in the argument so I can set num_worke

[2020-09-02 18:30] carmocca opened #3330 "Trainer.profiler should allow str"
## 🚀 Feature

Currently, the `profile` argument of the Trainer is `bool`. It should be `Union[bool, str]`.

### Motivation

It would avoid having to set the profiler manually by creating and passing the object to the Trainer.
It is also the way `auto_scale_batch_size` and `auto_lr_find` work.

### Pitch

[code]

[2020-09-02 18:32] rohitgr7 commented on #3096
@junwen-austin which albert version are you referring here??

[2020-09-02 18:47] edenlightning opened #3331 "Lightning internal refactors"
## 🐛 Bug

### To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Run '....'
3. Scroll down to '....'
4. See error

#### Code sample

### Expected behavior

### Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/PyTorchLightning/pytorch-lightning/master/tests/collect_env_details.py)
(or fill out the checklist below

[2020-09-02 18:48] edenlightning commented on #3260
Currently blocked until trainer.tune is added.

[2020-09-02 19:26] junwen-austin commented on #3096
@rohitgr7 the base of Albert, which is about 14MB

I am using AdamW for the optimizer. Is it possible that the additional saving Lightning does (optimizer state and others) becomes as large as more than 100MB? Thanks.

[2020-09-02 19:28] rohitgr7 commented on #3096
I checked Albert `albert-base-v1` and it's around 45mb.

[2020-09-02 19:53] carmocca opened #3332 "Remove warnings usage"
## 🚀 Feature

`warnings.warn` should be replaced by `logging.warning`

### Motivation

In my project, I get the lightning logger (`logging.getLogger('lightning')`) and override its handlers and format to fit my use case. This allows me to save everything into a log file.

However, there is no way to control warnings behaviour. Its messages cannot be saved to a file and they break any ongoing tqdm

[2020-09-02 20:04] carmocca opened #3333 "log_gpu_memory should use a GPUStatsMonitor"
## 🐛 Bug

`Trainer.log_gpu_memory` should use a `GPUStatsMonitor` callback

The only extra feature of `log_gpu_memory` is the ability to print the min and max memory used. We could add that to `GPUStatsMemory` if deemed necessary.

cc @rohitgr7
https://github.com/PyTorchLightning/pytorch-lightning/pull/2932#issuecomment-672895220

[2020-09-02 20:25] phongnhhn92 commented on #3269
I am also receiving this error. Please help !

[2020-09-02 20:29] tbenst opened #3334 "CPU training is broken for more than one process"
## 🐛 Bug
1. open [demo notebook on Colab](https://colab.research.google.com/drive/1F_RNcHzTfFuQf-LeKvSlud6x7jXYkG31#scrollTo=gEulmrbxwaYL)
2. change MNIST trainer line to `trainer = pl.Trainer(num_processes=1, progress_bar_refresh_rate=20)`. Observe that this works
3. change MNIST line to `trainer = pl.Trainer(num_processes=2, progress_bar_refresh_rate=20)`. Observe that training does not commence

[2020-09-02 20:30] junwen-austin commented on #3096
@rohitgr7 You are right. Sorry about that. For this case, then it is fine we have 100MB of additional states.

I really do not want to bug you further but do you have a general suggestion as to how to save a LightningModule that wraps a Pytorch model that has some customized saving function so that the Pytorch model has a chance to call it? Thanks.

[2020-09-02 20:30] Borda commented on #3332
you can filter warnings, see for example https://docs.python.org/3.0/library/warnings.html

[2020-09-02 20:31] Borda commented on #3317
ok, and do have a way how we could reproduce it on our side?

[2020-09-02 20:32] carmocca commented on #3332
But I don't want to filter them, I want to log them and to have them play nicely with my tqdm bars.

[2020-09-02 20:35] Borda commented on #3330
@jeremyjordan any thoughts?

[2020-09-02 20:36] Borda commented on #3329
mind share code sample to reproduce, because we are running parity testing and we test that PL runs almost the same fast as vanilla PT

[2020-09-02 20:37] Borda commented on #3333
@carmocca mind draft a PR? 🐰

[2020-09-02 20:38] Borda commented on #3334
could you please share the output and expectations?

[2020-09-02 20:39] Borda commented on #3302
@ananyahjha93 mind have a look?

[2020-09-02 20:42] tbenst commented on #3334
Hi Borda, thanks for you quick response! Did you try reproducing with my instructions? In (2) I see a training bar as expected, but in (3) there is no output unfortunately.

[2020-09-02 21:03] rohitgr7 commented on #3096
not sure why you want that since both are exactly doing the same thing. But still one solution I can suggest is to override `Trainer.save_checkpoint`.
[code]

if you don't want to use `ModelCheckpoint` and want to save it like after every epoch or something can you can do the same in `training_epoch_end` or `validation_epoch_end` as per your requirement.

[Reference](https://github.com/PyTorchLigh

[2020-09-02 21:51] junwen-austin opened #3335 "Cannot replicate training results with seed_everything and deterministic flag = True with DDP"
## 🐛 Bug

I noticed this when I was adding more metrics calculation to the LightningModule, for example, adding the confusion matrix at the end of validation/test epoch.  Before and after I added these functions (which do not appear to be dependent on any random seed), I noticed the training results are not the exactly the same.

However, once I added these function and re-ran again, yes I got the

[2020-09-02 22:03] srib opened #3336 "Use two separate dataloaders"
## ❓ Questions and Help

### Before asking:
1. search the issues.
2. search the docs.

Here [is](https://github.com/PyTorchLightning/pytorch-lightning/issues/1089) the relevant issue that I have looked up.

#### What is your question?

I have a labeled and an unlabeled dataset that I am using for a semi-supervised segmentation problem.

Here is what I want to implement in the training loop:

1. Tr

[2020-09-02 23:00] alexbeloi commented on #3317
I don't imagine this is reproducible, I was hoping for an answer like: PyTorch Lightning 1.6 requires cpus with <these> instruction sets and gpus with this version of cuda/cudnn

tl,dr; you can close the issue if you want and I'll update if I find a root cause.

For what it's worth I was able to run `import pytorch_lightning` inside of a docker container, but without gpu support. Even though the c

[2020-09-03 01:24] yukw777 commented on #3301
@Borda sure thing! A bit busy right now, but I’ll try to get to it later this week or weekend!

[2020-09-03 02:25] yangboye commented on #3324
Hi. It's my coursework, because I need to communicate with Qt(use tcp to send information).

[2020-09-03 02:26] yangboye commented on #3324
It seems a stupid problem, and now I fixed it by using the execution order of `pl.LightningModule` .
From the error information: `save_hparams_to_yaml(hparams_file, self.hparams)`, we guess problems may be arise in `hparams`, and we also know `socket` cannot be pickled. So I tried to bypass it:
[code]
It works.

[2020-09-03 02:26] #3324 closed

[2020-09-03 03:12] #2361 closed

[2020-09-03 03:56] s-rog commented on #3278
@rohitgr7 moving the hook can work but causes another peculiar issue
[code]
more specifically `on_fit_start()` is called with 2 modules, still locating the source of this extra arg/module

[2020-09-03 05:50] ananthsub opened #3337 "Support FLOPS in profiling"
## 🚀 Feature
When the weights summary is run for the LightningModule, Lightning should also calculate the FLOPs for each module, in addition to the parameter size and in/out sizes. This could be conditional based on the torch module class and input/output shapes.

### Motivation
This would be useful for performance benchmarking and knowing how many FLOPs are computed in the LightningModule

### Pi

[2020-09-03 06:19] angshine commented on #2916
Sorry for the late reply, but it seems that this bug has not been fully fixed. [This line](https://github.com/PyTorchLightning/pytorch-lightning/blob/ee72271d205beb2c012e34425cb16e189cc56c7d/pytorch_lightning/utilities/cloud_io.py#L88) still raises an exception:  `tensorboard.compat.tensorflow_stub.errors.AlreadyExistsError: Directory already exists` when training with DDP. I still need to manuall

[2020-09-03 09:05] Borda commented on #3334
I'll check it but it would be much more convenient to describe it directly so also other people may help compare to saying "go and try" which almost no one will do...

[2020-09-03 09:10] Borda commented on #3317
Well, PL does not have any extra requirements above-used libraries (we do not have any compiled code) so I would recommend trying a clear environment and the try to import one-by-one all PL requirements...

[2020-09-03 09:10] #3317 closed

[2020-09-03 10:05] carmocca commented on #3333
Should I wait until refactors are over?

[2020-09-03 10:16] tbenst commented on #3334
Ok, here's the output. Nothing trains and there is no error.

[code]

It also takes less time than reading my comment to reproduce (< 1 minute), so would encourage you to try if you're at a desktop! 30 sec of which is waiting for Colab to open, 10 sec to copy paste the line, and 20 sec to run :stuck_out_tongue_winking_eye:

[2020-09-03 10:27] #3253 closed

[2020-09-03 10:33] undertherain opened #3338 "EarlyStopping not working / wrong keys in log"
## 🐛 Bug

I’m trying to implement EarlyStopping when validation loss stops decreasing. I add callback as follows:
[code]

This does not work - it is returning False at from the `_validate_condition_metric` function
When I checked what’s in the log dictionary, the values looked like
`{'val_early_stop_on': None, 'val_checkpoint_on': tensor(0.5601, device='cuda:0')}`  -  which is slightly confusing.

[2020-09-03 10:59] ydcjeff commented on #3338
Hi @undertherain, currently the `monitor` key of EarlyStopping will have no effect when you use along with `EvalResult` or `TrainResult`.
So, you need to provide `early_stop_on` with the loss (metric) in `validation_step` if using with `EvalResult`

[code]

Yes, `val_early_stop_on` and `val_checkpoint_on` come from arguments of `EvalResult(early_stop_on, checkpoint_on)`.
Since there are from `Eval

[2020-09-03 11:41] shalgi-beyond opened #3339 "Controlling the global step in TrainResult.log and EvalResult.log"
I can find a way to control the global step of logging metrics to TrainResult using the log (or log_dict) functions?
What is the proper way to use these functions so the logged metrics will show in tensorboard once per epoch?
Currently, the steps showing on my tensorboard are (63*i - 1) for i=1 and so on.
This is my training_step function (validation_step is similar using pl.EvalResult)

    def t

[2020-09-03 11:51] ydcjeff commented on #3339
you can try
- `result.log(on_step=True)` to only log once per batch
- `result.log(on_epoch=True)` to only log once per epoch
- `result.log(on_step=True, on_epoch=True)` to log once per batch and once per epoch

[2020-09-03 11:59] undertherain commented on #3338
Aha, I saw `early_stop_on=loss`, but though it's some sort of automated way without callback. It is a bit counter-intuitive still that `monitor` is not working, but at least the stopping works now, thanks!

[2020-09-03 12:08] undertherain commented on #3338
I guess can close this, if it is considered "not  a bug, but a feature" :)

[2020-09-03 12:11] shalgi-beyond commented on #3339
@ydcjeff thank you for the quick answer, I actually did try all the above and the step showing in tensorboard is not 0,1,2 and so on but it starts with a bigger number and bigger jumps

[2020-09-03 12:12] ydcjeff commented on #3338
Glad to hear that

we also have some discussions going on #3286

[2020-09-03 12:19] #3242 closed

[2020-09-03 12:53] awaelchli commented on #3242
Now that we don't depend on gfile anymore, can we remove tensorboard from dependencies and just make it optional?

[2020-09-03 12:58] Borda commented on #3242
yes, it is in #3132

[2020-09-03 13:09] awaelchli commented on #3242
Nice, that looks good! But maybe rename the PR title :)

[2020-09-03 13:24] shalgi-beyond commented on #3339
@ydcjeff yes of course!
`import os
import torch
import torch.nn.functional as F
from torchvision.datasets import MNIST
from torchvision import transforms
from torch.utils.data import DataLoader
import pytorch_lightning as pl
from torch.utils.data import random_split
class LitModel(pl.LightningModule):
    def __init__(self):
        super().__init__()
        self.layer_1 = torch.nn.Linear(28 * 28

[2020-09-03 13:29] shalgi-beyond commented on #3339
@ydcjeff  Yes of course!
    import os
    import torch
    import torch.nn.functional as F
    from torchvision.datasets import MNIST
    from torchvision import transforms
    from torch.utils.data import DataLoader
    import pytorch_lightning as pl
    from torch.utils.data import random_split
    class LitModel(pl.LightningModule):
        def __init__(self):
            super().__init__()

[2020-09-03 13:37] brambozz commented on #3206
I had the same problem. Logging with EvalResult works, but TrainResult not, unless I specify `row_log_interval=5`. It is weird to me that logging does not work with default Trainer settings, can someone explain why this is happening and why `row_log_interval=5` fixes it?

[2020-09-03 13:55] #2129 closed

[2020-09-03 14:26] tsteffek opened #3340 "Learning rate finder fails for optimizer with internal state"
## 🐛 Bug

~~**DISCLAIMER: I think this is solved in the new `Trainer.tune()` approach.** Still writing this to raise awareness and in case someone looks for this.~~ Apparently it's not.

When using the auto_lr_find tag, I noticed it fails when used with [torch.optim.Adagrad](https://pytorch.org/docs/stable/optim.html#torch.optim.Adagrad). Upon closer inspection, I realized that it's due to the int

[2020-09-03 14:47] shalgi-beyond commented on #3339
also, I get a weird "epoch" metric on my tensorboard.
![image](https://user-images.githubusercontent.com/64365020/92130405-5cf88d80-ee0d-11ea-97f5-16a23f15eded.png)
I do not have any logic that creates this or even the word "epoch" in my code. (other than on_epoch=True on some experiments)

[2020-09-03 15:28] ydcjeff commented on #3339
Hi @shalgi-beyond setting `trainer = pl.Trainer(gpus=1, log_save_interval=1, row_log_interval=1)` would do the trick.

[2020-09-03 15:48] #1649 closed

[2020-09-03 16:07] ananyahjha93 commented on #3337
@ananthsub would you want to contribute this feature? Create a PR for it?

[2020-09-03 16:45] nathanpainchaud opened #3341 "How to determine the device from within a `LightningDataModule`"
## ❓ Questions and Help

#### What is your question?
Is there a recommended way (or is it even at all possible) to determine which device is used from within the new `LightningDataModule`?

I ask the question because right now I decide how to set `pin_memory` when initializing the dataloaders based on the device. Prior to 0.9, the `_dataloaders()` methods were part of the `LightningModule` and I c

[2020-09-03 18:24] #3080 closed

[2020-09-03 19:51] rohitgr7 commented on #3278
let's just wait for refactors and keep this issue open. After exploring a bit more I saw a few more bugs :sweat_smile: .

[2020-09-03 20:07] #3233 closed

[2020-09-03 20:26] ananyahjha93 commented on #3341
you can check the trainer object for ```on_gpu``` variable and override your datamodule method to take this as a param.

[2020-09-03 20:49] Vichoko opened #3342 "ValueError: All dicts must have the same number of keys on model evaluation output."
Any ideas to debug this issue?
Is happening to me in many different models, after I refactored the Result logging from `training_step`, `validation_step `and `test_step `methods, changed the old dictionary-based return to the [new Result scheme](https://pytorch-lightning.readthedocs.io/en/latest/results.html), training on two GPUs at the same time.

The error doesn't pop if i use `distributed_back

[2020-09-03 21:16] awaelchli commented on #3340
I just checked, the problem remains when we call .tune().

[2020-09-03 22:10] awaelchli commented on #3275
yep, I think that is because our subprocess does not get killed properly for these signals.
been working on this in #2165, I'll check it also on jupyter/colab once the refactors are done and I can finish this PR. I am fairly confident that this is related and #2165 fixes it, but not 100% sure.

[2020-09-03 22:33] tbenst commented on #914
Hi @jbschiratti just noticed a difference between `training_epoch_end` and `validation_epoch_end`:

[code]

Is this as intended? Or a bug? Thanks!

[2020-09-03 22:39] tbenst commented on #3300
For posterity: can get epoch from `trainer.current_epoch`. I believe this still requires use of global variable as trainer is outside of the class

[2020-09-03 22:53] yala commented on #3250
Wow, hey Peter!
Are you working at lightning now? Anyways, this is a great project!
I'll put together a short PR at some point next week if i get the time.

[2020-09-03 22:55] #2368 closed

[2020-09-03 23:09] #2516 closed

[2020-09-04 02:13] sooheon commented on #3225
@awaelchli The pl metric AUROC does not have reduce_group or reduce_op defined, can it still reduce across DDP?

[2020-09-04 03:21] yukw777 commented on #3096
@junwen-austin you're trying to save the best model at the end of the training using the method from Hugging Face transformers correct? I encountered a similar problem at work, and my suggestion is to avoid mixing PL's serialization and Hugging Face's serialization. You're just asking for more trouble. More concretely, I suggest you do something like the following:

[code]

Yes, you're not calling

[2020-09-04 03:37] awaelchli commented on #3225
@sooheon hmm, I don't think you can define a meaningful reduction operation for that metric. The best is to gather all pairs and then compute the roc once for all data.

[2020-09-04 03:52] awaelchli commented on #3339
@shalgi-beyond the plot with the "epoch" is added by lightning so that you know how many global steps correspond to one epoch. For example, in your case 700 steps = 20 epochs.
The global_step is not meant to be controlled by the user. Every row of data you log corresponds to one step. This is TensorBoard behaviour, not Lightning.

We typically don't want to log every batch, that can be problematic

[2020-09-04 04:05] awaelchli commented on #3338
closing it ok? since you found a workaround and ignored monitor is a known issue and discussion happens in other issue as pointed out by @ydcjeff

[2020-09-04 04:05] #3338 closed

[2020-09-04 04:12] awaelchli commented on #3335
Thanks for the report. We're also seeing something similar in our CI, unfortunately we don't have a lead yet.

I did not exactly understand how you came to the conclusion that it is related to metrics. Did you try several runs with and without having metric? I don't think it is metrics, but rather just a ddp issue.

[2020-09-04 04:17] f4hy commented on #2916
@angshine That line has been completely replaced now on master. Can you give it another try. I hope #3320  has finally resolved this.

[2020-09-04 04:26] awaelchli commented on #3336
Hi, it is currently not possible to return multiple dataloaders for training (that only works for validation).
A feature for this is in progress here #1959.

However, in your case, I think it is more elegant to do this:

1. return the right dataloader in each epoch:

[code]
2. modify your training_step like this:

[code]
3. Finally, tell Trainer to call the train_dataloader method every epoch, so

[2020-09-04 04:32] awaelchli commented on #3336
I think this is actually a great question, so I ported it over to the forum to expose it to others who might have the same question.
https://forums.pytorchlightning.ai/t/how-to-switch-dataloaders-between-epochs-in-lightning/137

[2020-09-04 04:32] #3336 closed

[2020-09-04 04:35] awaelchli commented on #3332
@carmocca when we use logging instead of warnings, does it still only show the warning once? There are cases where warning is issued multiple times, and we want to only show it once, that's what the warnings module does by default.

[2020-09-04 04:49] awaelchli commented on #1856
Thanks @williamFalcon The animations now all have the correct loss cross entropy.
There is a new minor issue, the refactored code still has the "pytorch_model" as the forward pass instead.

[2020-09-04 05:09] CuauLuzbel opened #3346 "Using multiple optimizers for the same architecture"
Is there a way to use two different optimizers for different parts of the architecture without repeating the training step twice?

[2020-09-04 05:18] awaelchli commented on #2465
@Tieftaucher I fixed it here: #2335
As long as your datatype implements `.to(device)`, it will call that directly. You don't have to override `transfer_batch_to_device` in this case.

@nghorbani could you open a separate issue about this. If you provide me some code I can help. But note that, last time I checked, torchgeometry did not support distributed multi gpu (scatter, gather).

[2020-09-04 05:18] #2465 closed

[2020-09-04 05:51] awaelchli commented on #3346
https://pytorch-lightning.readthedocs.io/en/latest/lightning-module.html#configure-optimizers

no, but we typically need to do different things for each optimizer, therefore we need to call training_step multiple times with a different optimizer_idx as argument.

If you can provide some pseudo code, I may better understand what you want to do and I can try help convert it to Lightning.

[2020-09-04 06:25] undertherain commented on #3286
Hi all
I've just started trying lightning. Been long time Chainer user, where btw these extensions are pretty modular in a sense that everything is in one log, you choose which value to monitor / what trigger to use /which extension to call on trigger.
I guess my issue #3338 is a bit of a testimony to things being confusing in h "monitor" not working by itself.
I would guess the motivation behind

[2020-09-04 06:46] ananthsub commented on #3337
@ananyahjha93 here is my approach:
- Add `flops` as an attribute to `LayerSummary`
- Calculate FLOPS in the hook here for a given module + input: https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/core/memory.py#L84-L89
- Include it in the model summary table
Rough prototyping: https://gist.github.com/ananthsub/b9e23f480cd993945d2f3fc35f0520f9

What do you think of

[2020-09-04 07:38] tugot17 commented on #3233
@awaelchli
In which version tune will be officially introduced?

[2020-09-04 08:16] sooheon commented on #3225
Currently if I use AUROC in val_epoch_end, does this happen?

[2020-09-04 10:04] #2707 closed

[2020-09-04 11:27] harpone opened #3348 "Model resetting every 600 iterations?"
## 🐛 Bug
I'm getting a weird model param reset (maybe, not sure) every 600 iterations and haven't been able to pinpoint the reason... happens both on 2xV100 GPUs and v3-8 TPUs.

![Screenshot from 2020-09-04 14-19-26](https://user-images.githubusercontent.com/5112840/92233947-db126e00-eeb9-11ea-8c1f-7c3cd64db155.png)

Does anyone happen to know if something mystic is taking place at iteration 600?

[2020-09-04 12:11] harpone commented on #3348
Update: actually this seems to be due to Weights and Biases logging! I'm looking at the stdout loss and it's not blowing up... investigating...

[2020-09-04 12:37] RahulSajnani commented on #3273
This issue persists in Pytorch Lightning  v0.9.0.

[2020-09-04 13:16] vr25 commented on #3329
Hi,

I am using multi-gpu multi-node with "ddp" distributed backend and it is extremely slow.

I ran the following script on a single CPU, GPU, and multiple nodes + multiple GPUs, and the last one (multi-node multi-GPU) is extremely slow and I can't figure out why. I am following the code from [here](https://github.com/shotleft/how-to-python/blob/master/How%20it%20works%20-%20Bike%20Share%20Regres

[2020-09-04 14:51] astenuz commented on #839
Hi! Is there an update on this issue? Due to the ubiquity of the cross val strategy it could be a quite significant addition to pl

[2020-09-04 15:10] teddykoker commented on #3348
This seems to not be an issue with lightning, closing for now.

[2020-09-04 15:10] #3348 closed

[2020-09-04 15:13] stefanonardo commented on #3012
I have the same issue: https://colab.research.google.com/drive/1s0kUXwXzO9t9Z1MXETohG7pu4dFJ6nej?usp=sharing

[2020-09-04 15:23] vr25 opened #3351 "why won't auto resubmit work?"
@awaelchli (just tagged based on the previous issue [here](https://github.com/PyTorchLightning/pytorch-lightning/issues/2634))

## 🐛 Bug

auto resubmit doesn't seem to work

### To Reproduce

Steps to reproduce the behavior:

sbatch sample_05_gpu.sh

#### Code sample
Please take a look at my [code](https://github.com/vr25/misc_exps/blob/master/sample_05_gpu.py) and job [script](https://github.com/

[2020-09-04 15:27] Lucas-Steinmann commented on #3199
To prevent misunderstanding:
[code]
is without validation step right, i.e. the ``return {'jiraffe': x}`` is in ``training_step()``?

I've implemented a pull request. #3347.
It first corrects the test, which then fails. Then I fixed the issue.
Afterwards another bug was unveiled, which I fixed in the subsequent commits.
Then I also updated the docs.

[2020-09-04 15:38] teddykoker commented on #3342
We are currently working on refactoring the accelerator backend, which may help fix this issue. That being said, we generally find that DDP training is faster and more stable, so we encourage the use of DDP, which doesn't seem to have this issue with results dicts at the moment. I will look into this in the mean time!

[2020-09-04 15:54] teddykoker commented on #3334
Hey Tyler, I have followed your suggestions and ran pl.Trainer with `num_processes=2`. Using `pytorch-lightning==0.9.0`, it does crash. It appears this is a bug.

In the mean time it is important to mention that PyTorch already uses multiple cpu processes, even with `num_processes=1`, so while we work to fix this I recommend you stick to one process on cpu, as that will yield the fastest training

[2020-09-04 16:13] PhilippThoelke opened #3352 "Distributed training on the Sun Grid Engine (SGE)"
Has anyone ever managed to get PyTorch Lightning's distributed training to work on the Sun Grid Engine (or also called Oracle Grid Engine)? PyTorch Lightning only supports distributed training on multiple nodes with SLURM.

In SLURM you can also easily set the number of nodes in the submission script, I believe the closest SGE has to that is using array jobs (`qsub -t <n>`) but then nodes are lack

[2020-09-04 16:17] junwen-austin commented on #3096
@rohitgr7 @yukw777 Thanks for the suggestions! Very helpful!

Yes, I was to save the best model at the end of the training. What you suggested is also a very good way of extracting the transformer model from Lightning checkpoints.

[2020-09-04 16:17] #3096 closed

[2020-09-04 16:20] junwen-austin commented on #3335
@awaelchli Thanks for your follow-up. No, I do not think this issue has anything to do with the metrics that I was adding but more likely to DDP.

[2020-09-04 17:04] Vichoko commented on #3342
Thanks for the info!
I found out that DDP uses more memory than DP, so I've been preferring DP for a time now, to fit more data on the batches.
I'm not sure if the speedup of DDP accomplishes to surpass the memory efficiency of DP in terms of the final result, but I'll try it out. Thanks again!

[2020-09-04 18:10] SkafteNicki commented on #839
@astenuz so we currently have a freeze on new features until the v1.0 release, since we want to focus on getting a very stable release. After v1.0 this is definitely something we would like to be a part of lightning.

[2020-09-04 18:26] srib commented on #3336
Let me try this out. Thank you for the suggestion, @awaelchli!

[2020-09-04 19:02] JJGO opened #3353 "Incorrect Documentation on DataModules"
The current documentation on Datamodules [link](https://pytorch-lightning.readthedocs.io/en/latest/datamodules.html) appears to be incorrect.

The initial MNIST example in the "What is a DataModule" section places the transforms under `setup` and feed them as arguments to the dataset constructor.

However, in the "LightningDataModule API" documentation, all the `{train,val,test}_dataloader` exampl

[2020-09-04 19:58] #2390 closed

[2020-09-04 20:50] awaelchli commented on #3273
@RahulSajnani are you using results object or the same kind of manual reduction as  shown in @nrjvarshney's code?
Because in the latter case, it is normal that this is a problem and becaues you do it manually, you need to choose `torch.cat`.
However, I recommend you use the Results api.  https://pytorch-lightning.readthedocs.io/en/latest/results.html

[2020-09-04 20:51] gunthergl opened #3354 "Document class inheriting from LightningModule"
## ❓
#### What is your question?
Given the code, I would assume that using sphinx, all 3 classes are documented. In fact the class inheriting from `LightningModule` is not documented. I post this as a how-to and hope for help because that could be a plain problem on my side, otherwise it would be a bug.

Using sphinx-apidoc, relevant generated part:

[code]

![image](https://user-images.githubuser

[2020-09-04 21:01] awaelchli commented on #3233
If it stays, in v1.0

[2020-09-04 21:13] RahulSajnani commented on #3273
@awaelchli I am using the same kind of manual reduction as @nrjvarshney . The reduction is as shown here:
[code]

[2020-09-04 22:09] awaelchli commented on #3273
yes, then it makes sense that it fails, because for stacking, all tensors need to have the same shape. If the last tensor has different batch size, it fails.
Solution: use torch.cat or Results object to reduce. Example using code above:

[code]

Hope this helps.

[2020-09-04 22:29] dkmiller commented on #3128
Moved: https://github.com/PyTorchLightning/pytorch-lightning-bolts/issues/180 .

[2020-09-04 22:29] #3128 closed

[2020-09-05 00:13] kyoungrok0517 opened #3355 "No error message when distributed_backend = "invalid choice", Trainer runs on CPU"
## 🐛 Bug
I'm trying to implemented and run new BERT-based model as always, used gpus option, but strangely my model is still running on CPU. I know this from 1.the training is too slow, 2.`print(self.device) -> "cpu."`, 3.The logs (right below). I never encountered this before so I'm confused. I'm using `pytorch-lightning=0.9.0`
[code]

**[GPU memory used, but GPU utility is zero]**
![image](https

[2020-09-05 01:05] astenuz opened #3356 "Inconsistent behavior between `validation_epoch_end` and `training_epoch_end`"
## Inconsistent behavior between `validation_epoch_end` and `training_epoch_end`

Assignation of a variable to results in train_step (`result.y =y`) does not work the same as in validation. Take a look at the code in the section below to make it more clear.

For context, I'm trying to calculate AUC after both training and validation epochs. Calculating on batch might not work if the particular bat

[2020-09-05 02:01] carmocca commented on #3233
I am not familiar with the `tuning` interface. Few questions:

Right now, I can use `auto_scale_batch_size` by passing the option to the trainer and calling `fit`. This does the auto scale procedure and then starts training

If I understand correctly, when `tune` is released the following will be the necessary:
[code]

Im assuming tune doesnt run fit automatically when it is finished.

What would

[2020-09-05 02:07] carmocca commented on #3332
It does not show only once. However, a [filter](https://stackoverflow.com/questions/31953272/python-logging-print-message-only-once) could be used:

[2020-09-05 02:38] velocityCavalry commented on #2529
I also had this issue, but it is because when I calculate the accuracy I wasn't doing device=x.device.

[2020-09-05 03:33] awaelchli commented on #3233
I do not know how to answer these questions, @williamFalcon added the tune method so it would be best to ask him how he sees it being used in the future.

[2020-09-05 03:43] awaelchli commented on #3353
I agree that in the case of the dataloader, the transform is misplaced. The MNIST dataset however takes transforms, that should be correct, yes?
Would you like to send a PR with suggested doc fixes?
I'm removing the bug label, as I understand it's just documentation.

[2020-09-05 03:57] awaelchli commented on #3354
Do you get any I couldn't yet figure out what the problem is. Do you also get warnings/error messages when you generate html?

[2020-09-05 04:09] awaelchli commented on #3355
1. You can ignore that warning about graph, in 0.9.1 it is gone.
2. If you print self.device in init, then of course it will show cpu because at the time the model is constructed, it has not yet been moved to GPU yet. This print statement should go into your training_step, for example.
3. Would it be possible for you to create a Google Colab to reproduce this. I don't really know how to approach t

[2020-09-05 05:29] kyoungrok0517 commented on #3355
Thanks. I'll be back soon with Colab.

[2020-09-05 06:03] kyoungrok0517 commented on #3355
https://colab.research.google.com/drive/1cyXGqnorxnGwNnM_-SF0tIRLU5QQofoZ#scrollTo=ykojvOS6rfH-

Here. Everything will be downloaded as you run the code.

[2020-09-05 06:08] kyoungrok0517 commented on #3355
Or you may try locally.

### Download Code
[code]

### Download Data
[code]

### Run
[code]

[2020-09-05 07:01] awaelchli commented on #3355
In your config, you have distributed_backend = None. This is fine, since None means PL will select the appropriate backend for you, depending if you have gpus or not. However!!!

[code]
instead of proper None built in type.
**Trainer does not throw an error when we select an invalid choice for backend. We should change that.**

To solve your issue: convert to the real type at runtime or tell hydra

[2020-09-05 07:31] gunthergl commented on #3354
I don't.
But do you also have the problem? That would already calm me a bit.

[2020-09-05 07:36] awaelchli commented on #3354
I just inserted your example class in a random place in the Lightning docs with automodule/autoclass, because I was too lazy to configure sphinx in a new folder. Don't know sphinx very well :)

Perhaps you could share your config for sphinx? That may help.

[2020-09-05 07:40] kyoungrok0517 commented on #3355
Great! Thanks for the support!

[2020-09-05 07:40] #3355 closed

[2020-09-05 07:42] gunthergl commented on #3354
Yes, I also do no really know sphinx - I am happy as long as it works.
I just extended sphinx's quickstart configuration.

[code]

[2020-09-05 07:44] kyoungrok0517 commented on #3355
Ah one more thing. Is `distributed_backend` config important even if I don't use multi-gpu? I'm getting impression that somethings wrong with the latest `pytorch-lightning` on handling distributed training. I'm getting warning/errors related to distributed training even when I don't use it. The things get much wrong in Windows.

[2020-09-05 07:48] gunthergl commented on #3354
Even if their `_init_` is not documented, [NeMo](https://docs.nvidia.com/deeplearning/nemo/user-guide/docs/en/main/api-docs/nemo.html) does seem to get that running, I take a look how they do it.
It is *not* solved by the following:
[code]

[2020-09-05 07:58] gunthergl commented on #3354
So, [NeMo's .rst file](https://github.com/NVIDIA/NeMo/blob/main/docs/source/api-docs/nemo.rst) is doing that by writing `.. autoclass::` explicitely in their documentation source.
[code]
![image](https://user-images.githubusercontent.com/14908309/92300784-08b0f300-ef5e-11ea-9430-f64468aa9098.png)

[2020-09-05 08:27] gunthergl commented on #3354
I checked high-starred dependents of pytorch-lightning. Either they use `.. autoclass::`, or e.g. [asteroid](https://mpariente.github.io/asteroid/apidoc/asteroid.engine.system.html?highlight=system) has the same issue @mpariente with the [asteroid.engine.system - module](https://mpariente.github.io/asteroid/apidoc/asteroid.engine.system.html).

[2020-09-05 09:29] SkafteNicki commented on #3225
Note that we are working on implementing aggregation for metrics (this PR https://github.com/PyTorchLightning/pytorch-lightning/pull/3321 has started the process) such that each metric gets an `aggregated` property which will calculate the metric over all data seen so far.

[2020-09-05 09:34] SkafteNicki commented on #3233
@carmocca I think the process in the future will be:
[code]
it should still be easy for the user to use these features. The moving of the tuning from `fit` to `tune` is to disentangle the hyperparameter tuning from the actual optimization of the network. This will make it easier for us in the future to implement more tuning algorithms.

[2020-09-05 09:46] gunthergl commented on #3354
So, I have found it is not only a pytorch-lightning issue by trying to document the `LightningModule` by myself.

[code]

PyTorch documents [`Module` here under Containers](https://github.com/pytorch/pytorch/blob/master/docs/source/nn.rst#containers). It uses `.. autosummary::` but also some kind of [`:template:`-directive](https://github.com/pytorch/pytorch/blob/master/docs/source/_templates/clas

[2020-09-05 11:18] FrancescoSaverioZuppichini commented on #3302
Would it be a good idea to write tests with a real case scenario so this kind of bugs discovered before pushing to production? It seems impossible to me I am the only one having this problem.

[2020-09-05 14:03] JJGO commented on #3353
I could send a PR fixing the `{train,val,test}_dataloader` examples but then they would be trivial (i.e. just calling and returning the `DataLoader`.

However, the current docs seem to have a goal in mind to "decouple your data from transforms" (quoting directly from the docs). So ideally, the docs should provide examples on how to do that. This seems not trivial from the current `LightningDataMod

[2020-09-05 19:43] sgondala opened #3364 "load_from_checkpoint not initializing right when using transformers"
## 🐛 Bug

I created a LightningModel which is a wrapper over a hugging face transformer. I was able to train the model and save it to disk. However, load_from_checkpoint doesn't seem to pass the right parameters to LightningModel init, due to which the function fails with an error.

### To Reproduce

Check code sample

#### Code sample

Model

    class BertBasedClassifier(LightningModule):

[2020-09-05 20:04] sgondala commented on #3364
Looks like I didn't use `self.save_hyperparameters()` right. Using that fixed the issue.

[2020-09-05 20:04] #3364 closed

[2020-09-05 22:24] abecciu commented on #3095
This solution worked great for me. It's important to note that the `on_train_epoch_start` does not exist in older versions of PL.

Thanks again @rohitgr7 for the help!

[2020-09-05 22:24] #3095 closed

[2020-09-06 03:53] awaelchli commented on #3351
after the job finishes, does it completely terminate or is there any process still running in the background?

[2020-09-06 08:48] nazim1021 commented on #3336
Hi @awaelchli   thanks a lot for this solution,  I have a similar problem where i am trying to use unlabeled dataset for semi-supervised classifcation, however i m having trouble on how can we add up the 2 losses and return them as one after each epoch. ? since here the losses are being calculated alternatively

[2020-09-06 09:04] awaelchli commented on #3336
Do you mean iteration? If not, please explain in more detail how your optimization should work. Post your question in the forum and ping me, happy to help.

If you just want to compute two losses from different data and minimize the sum of the two, combine your data into one dataset, for example as described here.
https://pytorch-lightning.readthedocs.io/en/latest/multiple_loaders.html

[2020-09-06 09:47] shalgi-beyond commented on #3339
@ydcjeff thank you for the tip!
@awaelchli I understand that sometimes the user is not supposed to have control over internal details, but I still don't understand whether there is a way to log my metrics once per epoch, and display the TB graphs accordingly (so that the x axis is epochs).
This usage seems standard to me but I can't manage to create this using lightning currently.
I thought lightn

[2020-09-06 09:49] #2408 closed

[2020-09-06 11:59] vr25 commented on #3351
Yes, the checkpoint is saved. Also, the job terminates completely and the slurm log file says, "Job cancelled because time value exceeded"

[2020-09-06 19:03] nazim1021 commented on #3336
Hi @awaelchli  Thanks a lot for prompt response. I have added the question in the forum here -https://forums.pytorchlightning.ai/t/combining-loss-for-multiple-dataloaders/145

[2020-09-06 20:04] import-antigravity commented on #2936
@williamFalcon could you open this again? I'm still getting the error as well

[2020-09-06 21:08] yukw777 commented on #3250
@yala i just help out as much as I can as a core contributor. let me know how it goes!

[2020-09-06 22:13] #2018 closed

[2020-09-06 22:36] vict0rsch commented on #807
(just passing by)

Note: `strict=False` is deprecated in Hydra `1.0` :(

[2020-09-06 23:25] yukw777 commented on #807
@vict0rsch thanks for passing by! I actually no longer use that approach, as it is not the recommended approach. Please check out my blog post for more details! https://link.medium.com/KaROmhBvz9

[2020-09-07 00:08] tfrizza commented on #3283
Yep seems to be working now, thanks!

[2020-09-07 03:00] undertherain opened #3377 "val_dataloader is called twice in each worker"
## 🐛 Bug

I'm trying a `LightningDataModule` class to manage the data.
Using horovod backend, if that matters.
I've noticed that each rank is calling `train_dataloader` once, but `val_dataloader` two times somehow.

### To Reproduce

run LIghtning with Dataclass and horovod, add some debug print on when `val_dataloader` is called

soemthing like
[code]

### Expected behavior

expect val loader to

[2020-09-07 03:26] undertherain commented on #3377
I see... it is doing  `run_sanity_check` before training and then resets a val dataloader
that's surprising..... why not be more explicit about this functionality in the tutorial or better make it false by default?

[2020-09-07 03:34] undertherain commented on #3377
okey, `num_sanity_val_steps=0,` solved it for me
but I'll keep this open so that devs have a chance to see and maybe consider making it zero by default, or at least leave a word of warning in the docs. I mean, I was not using any sort of lazy loading data, but reading terabytes of tensors to memory on extra time of val loader create...

[2020-09-07 04:05] david-waterworth opened #3378 "Trainer was signaled to stop but required minimum epochs (100) or minimum steps (None) has not been met. Training will continue..."
When I initialise the trainer as follows:

`trainer = pl.Trainer.from_argparse_args(args, early_stop_callback=True, min_epochs=100, logger=mlflow, gpus=[0])`

I cannot halt training early with Ctrl-C, I get the message

`Trainer was signaled to stop but required minimum epochs (100) or minimum steps (None) has not been met. Training will continue... `

It seems to me that this message makes sense

[2020-09-07 06:34] david-waterworth opened #3379 "TypeError: 'generator' object is not callable"
I'm getting the exception TypeError: 'generator' object is not callable when I train with multiple GPU's

I'm not sure where it's coming from, my datasets are subclasses of torchtext.data.Dataset and the data loaders are torchtext.data.BucketIterator.

What's the easiest way of identifying what's causing the exception?

[code]

[2020-09-07 07:13] #2426 closed

[2020-09-07 07:17] sheffier opened #3380 "How to log epoch's accuracy using Result object"
#### What is your question?
Hi,

Before version #0.9.0, I used to log the predictions and targets at each step, and then at the "_epoch_end" method I aggregated the predication and targets and used these aggregations as input to the *Accuracy* metric to calculate the epoch's accuracy.

Is there a way to use the Result object in order to achieve the same? specifically, I would like to utilize the R

[2020-09-07 07:43] ydcjeff commented on #3380
Hi @sheffier , you can try with `log` method of `Result`
with `TrainResult`
[code]
with `EvalResult`
[code]

Doc example:
https://pytorch-lightning.readthedocs.io/en/latest/results.html#logging
https://pytorch-lightning.readthedocs.io/en/latest/results.html#eval-logging

[2020-09-07 09:26] undertherain opened #3381 "Early stopping fails on horovod with cannot unpack non-iterable NoneType object"
## 🐛 Bug
When I do early stopping with horovod distributed training, it fails with `cannot unpack non-iterable NoneType object` in tqdm.
If fails only on some sets of training data. Also I see from the logs that early stopping was initiated only three times, while I'm training on 4 workers.
This makes me feel like the problem is that one of the workers did not initiate early stopping - presumably

[2020-09-07 10:07] harpone commented on #3348
OK it's actually not wandb, since I'm getting this with tensorboard as well...

[2020-09-07 10:35] undertherain commented on #3381
I've printed log dic from inside the `_validate_condition_metric` class:
[code]
it indeed looks like every worker is doing checkpoint on own loss value :-\
how come that doing this on averaged loss is not a default behaviour and how I can enforce that?

looks like one time is called from early stopping, once from checkpoint which I did not even ask for.

So far I like lightning, and would really l

[2020-09-07 10:54] najeeb95 opened #3382 "'precision=16' doesn't change GPU memory consumption"
Hello,
I'm trying to do FP16 training by enabling 'precision=16' but it doesn't seem to reduce my GPU memory consumption, which is my main goal.

The code I ran was from this article:
https://towardsdatascience.com/from-pytorch-to-pytorch-lightning-a-gentle-introduction-b371b7caaf09

All I did was change the parameter 'precision' to 16/32 to see if there's any difference in memory. I checked the m

[2020-09-07 11:18] willprice opened #3384 "Using distributed_backend='dp' causes result.write to fail"
## 🐛 Bug

Saving results with `result.write` is broken up DP distributed training.

### To Reproduce

Perform something like this
[code]
in a `test_step` and run with `distributed_backend='dp'`, PTL will then call into `Result.dp_reduce` and try to run
`self[k] = value.mean(dim=-1)` where `value` is the `predictions` dictionary which will subsequently fail.

[2020-09-07 12:32] SurajDonthi commented on #3172
To keep it simple, you can also ignore the warnings in the command-line with

     python -W "ignore::UserWarning::0" file_to_run.py

[2020-09-07 14:56] sustcsonglin commented on #924
0.9.0 stills a problem..

[2020-09-07 16:18] SurajDonthi commented on #2079
Is this feature up in the latest release - 0.9.0?

I'm looking to perform actions on Keyboard Interrupt but haven't been successful!

[2020-09-07 17:53] aiyolo opened #3387 "some questions about loading checkpoints"
What I have tried:
- defined a Lighting Module class: `model=LitModel(hparams)`,
- then I trained the model and got a checkpoint;
- since I want to visualize the features of the trainset, I write a another file and loading the checkpoint, `model = LitModel(hparams).load_from_checkpoint('lightning_logs/version_90/checkpoints/epoch=119.ckpt')`

My questions are:
- I have to add a line `model.eval()`

[2020-09-07 17:59] teddykoker commented on #3348
Could you try to verify with a different model? Or potentially share your code? We want to make sure this isn’t some weird behavior with your particular model.

[2020-09-07 20:44] blatr opened #3389 "NeptuneLogger doesn't support fetching active experiment."
Hi!
### 🚀 Feature
Currently NeptuneLogger doesn't support reconnecting to active experiment. Each initialization always creates a new one and there is no option to pass existing experiment id.
However, this feature is already supported by Neptune library and actually implemented in _create_or_get_experiment() method inside NeptuneLogger class.

### Proposal
Make it possible to pass optional argume

[2020-09-07 23:03] sumanthratna opened #3390 "specifying one example input per network"
## ❓ Questions and Help

#### What is your question?

I have a GAN, implemented with `pl.LightningModule`. right now, I can set `self.example_input_array = torch.rand(1, 3, 256, 256, device=self.device)`. However, that will output this:
[code]

the input and output shapes for net_G are correct, but I'm unsure how to tell Lightning what the input shape for net_D is.

right now, I don't really mind

[2020-09-07 23:24] #3353 closed

[2020-09-07 23:39] david-waterworth opened #3392 "mlflow training loss not reported until end of run"
I think I'm logging correctly, this is my `training_step`

        result = pl.TrainResult(loss)
        result.log('loss/train', loss)
        return result

and `validation_step`

        result = pl.EvalResult(loss)
        result.log('loss/validation', loss)
        return result

The validation loss is updated in mlflow each epoch, however the training loss isn't displayed until training has

[2020-09-08 03:27] sheljoy commented on #3269
I had solved it,just since example docs is out-of-date. the API has been cleared to use.

[2020-09-08 03:27] #3269 closed

[2020-09-08 04:42] tarokiritani commented on #3269
@sheljoy Could you share your solution please?

[2020-09-08 05:12] awaelchli commented on #3346
@CuauLuzbel did I answer your question? Let me know if anything is unclear

[2020-09-08 05:12] #3346 closed

[2020-09-08 05:17] awaelchli commented on #3390
@sumanthratna the summary can only record what you pass through the forward of LightningModule. I assume you only have the generator there.

Your suggestion of using a dict is unfortunately not going work. We interpret example_input_array the following way:
- Tensor: direct input to forward
- tuple: gets unpacked as *args to forward
- dict: gets unpacked as **kwargs to forward

If you want the tab

[2020-09-08 05:27] awaelchli commented on #3379
The first step is to look at the error message, the full stack trace and read what it is saying. Can you post that please? Plus the PL version you are using. If this is a bug in Lightning that we need to fix, it would be good to have a minimal code example.

[2020-09-08 05:28] sheffier commented on #3380
Thanks @ydcjeff, but your suggestion assumes that I calculate the accuracy each step (because it will produce biased calculation when training on multiple GPUs).

My current solution is as follows:

[code]

[code]

Although this solution works, I don't like it. It feels like a hack. I would prefer a cleaner solution.

[2020-09-08 05:33] awaelchli commented on #3377
This is not a bug, it is intentionally on by default. The sanity check is there to report exceptions early instead of only after a long training epoch. We can add a note to the docs that the dataloader gets reloaded.
I'm removing the bug label, as this is expected behavior as far as I know.

[2020-09-08 05:51] undertherain commented on #3377
Thanks for considering to update the docs!

[2020-09-08 06:23] david-waterworth commented on #3379
@awaelchli  here's the stack trace. I'll try and put together a minimal example tomorrow

pytorch-lightning==0.9.0

[2020-09-08 06:28] patrickorlando opened #3393 "MLFlow Logger slows training steps dramatically, despite only setting metrics to be logged on epoch"
## 🐛 Bug

When using the MLFlow logger, with a remote server, logging per step introduces latency which slows the training loop.
I have tried to configure logging of metrics only per epoch, however it seems this still results in much slower performance. I suspect the logger is still communicating with the MLFlow server on each training step.

### To Reproduce
1. Start an MLFlow server locally
[cod

[2020-09-08 08:11] awaelchli commented on #3393
have you tried to just increase the row_log_interval, its a trainer flag that controls how often logs are sent to the logger.
I mean, your network is a single linear layer, you probably run through epochs super fast.

[2020-09-08 08:18] patrickorlando commented on #3393
hey @awaelchli, Thanks for replying!
The model above is a contrived example, upon further testing I have realised that the performance difference between MFLow logger and the Tensorboard logger is not inherent to the MLFlow client.
I've done some debugging and added a solution section to the issue. It appears to be in in the `experiment` property of the MLFlowLogger. Each time `.experiment` is acc

[2020-09-08 08:21] awaelchli commented on #3393
oh ok, that makes sense. Would you like to send a PR with your suggestion and see if the tests pass? Happy to review it.

[2020-09-08 08:24] patrickorlando commented on #3393
yeah sure, I'll link it here shortly.

[2020-09-08 08:38] awaelchli commented on #3393
Did you encounter this #3392 problem as well?

[2020-09-08 08:57] patrickorlando commented on #3392
When using the minimal example provided in the linked issue, and using the default training logging shown above, I don't see the behaviour described.
I can sometimes see a discrepancy between the reported steps for each metrics, but I suspect this is to do with MLFlow and not the PL logger.
![newplot](https://user-images.githubusercontent.com/17157991/92454951-7120fe00-f204-11ea-99f3-7d2ac09b0f5e.

[2020-09-08 09:48] harpone commented on #3348
Can't share code unfortunately because there's lots of dependencies and it's mixed with other company code... but I made some progress. Turns out the number of dataloader workers screw things up really bad for all logging basically (at least W&B and Tensorboard). Here's some experiments with 1, 21, and 24 workers (I was using 24 workers before, which resulted in the "reset" at iter=600, but really

[2020-09-08 10:03] sheljoy commented on #3269
@phongnhhn92
[code]

You can conference the API docs 'https://pytorch-lightning.readthedocs.io/en/latest/lightning-module.html#validation-loop'.

the isssue raised when the `validation_step` return dict-typed variance.  The returned TrainResult/EvalResult  is recomanded instead of the dict-typed  log.

[2020-09-08 10:06] harpone commented on #3348
Actually it's not the logging - this happens at every `training_step` even if I just print the `acc` above... what's going on? Can't I use more than 1 dataloader worker??

[2020-09-08 10:31] david-waterworth commented on #3392
@patrickorlando

When you set up the MLFLowLogger, if your tracking_uri over http: or using file:?

I'm using file i.e. `mlflow = loggers.MLFlowLogger("Transformer")`

How long does a model training run typically take?

10-20 minutes

does this behavior consistently happen even when refreshing the MLFlow page?

Yes

[2020-09-08 10:56] harpone commented on #3348
OK it was actually this issue: https://github.com/pytorch/pytorch/issues/5059

So I had 24 dataloaders, each seeded exactly the same way => I got 24 identical minibatches, and the model quickly overfit to those!

I haven't actually used seeds in training at all... do I really need to `seed_everything`?

[2020-09-08 11:52] patrickorlando commented on #3392
I've tried to reproduce this but cant seem to. I can confirm that the MLFlow logger is logging metrics at the end of each epoch and for me they show up in the MLFlow UI as I refresh the page.
Do you have a working code sample that can reproduce the issue?

[2020-09-08 13:31] Alexfinkelshtein opened #3396 "Gradient Flow Summary"
## ❓ Questions and Help

### Before asking:
1. search the issues.   done
2. search the docs.    done

#### What is your question?
I want to add a summary where I can track the gradient flow in my model.
The out-of-the-box gradient tracking is not sufficient for me because I need a more customized behavior.
I wanted to do it using a callback, but I couldn't find a way to access the gradients from a

[2020-09-08 14:16] sumanthratna commented on #3390
@awaelchli Thanks for your reply! I think adding this to the documentation would be useful (I can only find `example_input_array` in the 0.4.9 docs).

Hmm...I see why this might have been implemented as such, but in my case, I don't want to include it in the forward pass. For inference, for example, the output of the discriminator isn't really of use to me.

That said, I'm still a little confused

[2020-09-08 14:27] EspenHa opened #3398 "Custom loggers with .save method do not get final epoch metrics in .log_metrics"
## 🐛 Bug

### To Reproduce

Steps to reproduce the behavior:

1. Run code sample
2. Observe that the output for the logger with the `save` method is missing the print for the final epoch

#### Code sample
[code]
#### Output
[code]

### Expected behavior
Expected `my_logger_with_save` to output something for the third epoch, like `my_logger` does.

### Environment

 - PL version: `master` / `0.9.1.

[2020-09-08 14:34] teddykoker commented on #3348
Are you using randomly generated data? DDP should split your data among the accelerators if it is a standard pytorch `Dataset`. It is very important to seed everything when using DDP as each accelerator will initialize it's own model, and they should have the same random initialization to work best.

[2020-09-08 14:35] EspenHa commented on #3398
Possibly related issue: https://github.com/PyTorchLightning/pytorch-lightning/issues/2841

[2020-09-08 15:43] edenlightning commented on #3384
Hey @willprice which version of lightning are you using?

[2020-09-08 15:44] willprice commented on #3384
0.9.0, sorry, should have put that in the original issue.

[2020-09-08 15:44] edenlightning commented on #3381
@tgaddair mind taking a look?

[2020-09-08 15:48] edenlightning commented on #3356
@williamFalcon

[2020-09-08 16:18] edenlightning commented on #1381
@Borda still relevant?

[2020-09-08 16:19] edenlightning commented on #2826
@justusschock

[2020-09-08 16:25] tgaddair commented on #3381
Sure, let me take a look.

[2020-09-08 16:29] edenlightning commented on #3302
Can you explain what test cases are you referring to?

[2020-09-08 16:56] harpone commented on #3348
Yeah I am, but there's 24 dataloader workers *per each accelerator*, which are all initialized with the same seed...

BTW this is potentially a *very* dangerous bug - I noticed it only because I was using such a high number of workers. If one used e.g. 4 or less, it wouldn't really show up at all, except probably as somewhat deteriorated training performance...

So I really suggest some safeguards

[2020-09-08 16:58] harpone commented on #3348
Wouldn't it be better to do one `all_reduce` step before training starts to make sure all accelerators have models with same weights? I wouldn't really want to `seed_everything` in the first place...

[2020-09-08 17:21] rohitgr7 opened #3399 "`before_batch_transfer` and `after_batch_transfer` hooks in LightningDataModule"
## 🚀 Feature
Can we have two additional hooks in LightningDataModule?
Something like `before_batch_transfer_to_device`, `after_batch_transfer_to_device`, although these can be renamed to something else.

### Motivation

- `before_batch_transfer_to_device`: This can help apply transformations or augmentations to a batch before it is transferred to the device.
- `after_batch_transfer_to_device`: Thi

[2020-09-08 17:45] rohitgr7 commented on #3387
it will go up due to activations calculated in the forward pass. I think you can use torch.no_grad() to lower memory consumption.

If changes the behavior of batchnorm and dropout layers.

[2020-09-08 17:48] FrancescoSaverioZuppichini commented on #3302
Hi @edenlightning , thank you for your reply. Sure, I haven't check how you tested the code but I have only seen that you had only 90% coverage. It would be a great idea to write a test where you actually try to train something so errors like the one I am having will be caught before production.

[2020-09-08 18:40] Rob-Fletcher opened #3401 "How to specify 'mode' when using checkpoint_on in the new Result types."
#### What is your question?
I have been using PL for a while now and am just getting around to switching all of my code over to a newer version (0.9.0 from 0.6.0). I would like to switch over to using the newer TrainResult and EvalResult types instead of plain dictionaries. In the past I used a ModelCheckpoint() that I passed into the trainer with the monitor and mode options set. Now using the Ev

[2020-09-08 19:58] tmcclintock opened #3402 "Specify mlflow<1.11"
## 🚀 Feature
Specify `mlflow<1.11` in the [`environment.yml`](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/environment.yml) file.

### Motivation

As I pointed out in [this issue](https://github.com/mlflow/mlflow/issues/3400) in the mlflow repo, the most recent version of that package creates an `mlruns` directory at the location of any script that imports it. Importing PL als

[2020-09-08 20:02] Borda commented on #3402
I would add it to gitignore or adjust the MLFlowLogger accordingly, mind send a PR?

[2020-09-08 20:25] justusschock commented on #2826
@edenlightning reducing is something we're currently working on at metrics.

But the logging stuff should be separate I guess. Currently we also gather all results to all devices

[2020-09-08 20:56] tmcclintock commented on #3402
Well, it isn't the MLFlowLogger that is the issue. It is the package itself. Just doing `import mlflow` results in the directory being created when on mlflow>=1.11.0.

I'll gladly PR a line in the gitignore for PL, but projects that use PL will still have this issue that is pretty difficult to track down.

[2020-09-08 21:09] Borda commented on #3389
@jakubczakon mind have look? 🐰

[2020-09-08 21:15] jloveric opened #3403 "Iterations completing out of order (possibly) in ddp with torchelastic?"
This might be bug or might be expected.  I'm running a pytorchlightning with torchelastic and ddp.  I'm noticing the iterations are being dumped out of order (below iteration 632 preceeds iteration 574).  This could be due to delays in parallel writing... or perhaps just issues in logging.  Is this expected behavior?
[code]
Running with 6 gpus in ddp.

[2020-09-08 22:58] patrickorlando commented on #3392
So I can actually see the behaviour you've described, but not when using the minimal example in #3393. I'll try to work out why.

[2020-09-09 00:30] #3111 closed

[2020-09-09 00:33] patrickorlando commented on #3392
So I _think_ this is because of the default behaviour of the `TrainResult` and the way `row_log_interval` works. And it only appears if the number of batches per epoch is less than `row_log_interval`

By default TrainResult logs on step and not on epoch.
https://github.com/PyTorchLightning/pytorch-lightning/blob/aaf26d70c4658e961192ba4c408558f1cf39bb18/pytorch_lightning/core/step_result.py#L510-L5

[2020-09-09 00:58] david-waterworth commented on #3392
@patrickorlando yes I have 38 batches per epoch. I set `row_log_interval=1` and now the training step metrics are being displayed as they're generated.

[2020-09-09 01:52] david-waterworth opened #3406 "Models defined by data"
Is this correct (https://pytorch-lightning.readthedocs.io/_/downloads/en/latest/pdf/ pg17)

The first code example shows `prepare_data()` and `setup()` being called on the dataloader, but then it is not passed to `fit()`?

The second box has no explanation - I assume it's an alternative to the first code example?

![image](https://user-images.githubusercontent.com/5028974/92544980-89d7f500-f292-11

[2020-09-09 03:07] BostonLobster commented on #3323
@Borda But training_step requires returning a loss dict, how should I deal with this required return value? I tried simply doing nothing will cause AttributeError in training_loop.py

[2020-09-09 06:44] awaelchli commented on #3392
That makes sense now :)
@david-alexander-white Should we close this? or is there something left unresolved?

[2020-09-09 06:46] david-waterworth commented on #3392
Thanks for the assistance, no nothing unresolved.

[2020-09-09 06:46] #3392 closed

[2020-09-09 06:58] awaelchli commented on #3402
@tmcclintock If it is a bug, it has to be fixed by the mlflow team, and then we should add `mlflow >= X` where X is the version it is fixed in. since mlflow is in the extras, you can control which version you want to install. you can downgrade the library yourself as a temporary fix, until it is resolved on their end. Please correct me if I'm wrong.

[2020-09-09 08:05] harpone commented on #3348
or something like checking if the `worker_init_fn` is set when using `seed_everything`, like

[code]

[2020-09-09 08:22] akum04 opened #3410 "Loss display during epoch"
###  During the training, I'm using the custom loss function to train my model. However the loss are displayed as 0.000, but when I display the same value to display as different variable it gives 4.73e-5 (some value in exponential format).

Epoch 80:  10%|██▌                       | 100/1013 [01:33<14:11,  1.07it/s, loss=0.000, v_num=None, train_loss=4.73e-5]

both loss and train_loss display the

[2020-09-09 08:51] #3259 closed

[2020-09-09 09:38] #3393 closed

[2020-09-09 10:22] m056 opened #3411 "amore_909"
## 🐛 Bug

### To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Run '....'
3. Scroll down to '....'
4. See error

#### Code sample

### Expected behavior

### Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/PyTorchLightning/pytorch-lightning/master/tests/collect_env_details.py)
(or fill out the checklist below

[2020-09-09 10:24] m056 commented on #3411
اختراق يوز سناب amore_909

[2020-09-09 11:29] #3411 closed

[2020-09-09 11:43] Lucas-Steinmann opened #3413 "Early stopping does not work with structured result returned in training_epoch_end"
## 🐛 Bug

Situation: A structured result is returned in ``training_epoch_end`` and ``early_stop_on`` was set.
Illustrative example:
[code]

Expected Behaviour: early stopping will be triggered
Actual Behaviour: it is not triggered

### To Reproduce

Run the code sample below.

#### Code sample

Try running my example: https://gist.github.com/Lucas-Steinmann/f900b3ef5636028d5917d4cb0183a291

### Ex

[2020-09-09 11:43] awaelchli commented on #3403
This happens with torchelastic only?
can we check that the rank is correctly set, by printing `trainer.global_rank` somewhere in the training_step for example? I suspect these progress bars are from different ranks. It should only show on rank 0.
which PL version?

[2020-09-09 11:44] m056 commented on #3411
"""Diagnose your system and show basic information

This server mainly to get detail info for better bug reporting.

"""

import os
import platform
import re
import sys

import numpy
import tensorboard
import torch
import tqdm

sys.path += [os.path.abspath('..'), os.path.abspath('.')]
import pytorch_lightning  # noqa: E402

LEVEL_OFFSET = '\t'
KEY_PADDING = 20

def run_and_parse_first_match(run_la

[2020-09-09 12:09] rakhimovv commented on #3327
I am also getting this error when I run `trainer.test()` after `trainer.fit()` in multinode (2 nodes with 4 gpus each) regime in slurm

[2020-09-09 12:28] pitercl commented on #3389
Hi @blatr, I thinks it's a nice idea!
Please be aware, that there's already a PR in progress  (#3256) that'll probably come in a superficial conflict with yours, but I don't see any actual problems with this idea.

[2020-09-09 12:31] yairkit opened #3415 "progress bar summing both train and val steps"
for example, for **70** train samples and **20** validation samples:
progress-bar is:
Epoch 0:   0%|          | 0/**90**

is that a normal behavior for pl?

Thanks

[2020-09-09 12:33] ydcjeff commented on #3415
yes if you have defined train + val dataloaders

[2020-09-09 12:37] Vozf opened #3417 "CometLogger failing without save_dir"
## 🐛 Bug

Cometmllogger with api key and  without save dir results in error.
This happens due to this if https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/loggers/comet.py#L135
_save_dir is not set and later train loop tries to read it and fails.
This can be fixed by setting _save_dir to None. I will supply PR in a moment

### To Reproduce

Steps to reproduce the

[2020-09-09 12:43] yairkit commented on #3415
@ydcjeff Thanks for the quick answer,

I did define both train and val dataloaders.
Isn't pl supports separate pbars for training, val?

[2020-09-09 12:46] yairkit opened #3420 "turning off GPU usage monitoring"
I'm using pl with Neptune logger, and get the following error every few secs:
**NVMLError: Not Supported - GPU usage metrics may not be reported**

is there a quick way to turn off the GPU usage monitoring ?

Thanks,
Yair

[2020-09-09 12:56] ydcjeff commented on #3415
That is a main pbar that shows train + val samples if you have defined them
that main bar acts as a train pbar in training and
another pbar shows up at validation.

[2020-09-09 13:11] BYJRK commented on #3415
@yairkit Actually that did confuse me in the very beginning when I just could not find out why the total iteration number within a single epoch should be like that. I actually don't think it's necessary adding the validation iters to the main pbar as there is another pbar running. Why not just freeze the main pbar for a little while?

[2020-09-09 13:16] #3420 closed

[2020-09-09 13:27] #3417 closed

[2020-09-09 14:12] #2381 closed

[2020-09-09 15:14] rebryk opened #3422 "DDP doesn't work properly with CUDA_VISIBLE_DEVICE"
## 🐛 Bug

DDP trainer doesn't work properly when CUDA_VISIBLE_DEVICE is set.

### To Reproduce

Steps to reproduce the behavior:

1. Set `CUDA_VISIBLE_DEVICE=1,2`
2. Run DDP trainer with 2 GPUs
3. The main process will use `available_gpus[self.trainer.local_rank]` that is equal to `1`
4. The second process will use GPU `process_idx` that is again equal to `1`
5. Thus both processes will use the sa

[2020-09-09 15:43] harpone commented on #3348
hmm yeah that's right... but I was using 'ddp', not 'ddp_spawn'... I guess 'ddp' uses the fork method to distribute the training, so the seed seems to be shared across the dataloader workers if you don't use a `worker_init_fn` that will explicitly.

Anyway, adding the `worker_init_fn` to do the seed increment explicitly definitely fixes the issue completely.

[2020-09-09 16:04] tmcclintock commented on #3402
@awaelchli of course. I offered on the mlflow issue I made to work on the topic, but they haven't gotten back to me yet. I figured that, for now, while this undesirable behavior is the default that PL should avoid it.

[2020-09-09 16:18] GimmickNG opened #3424 "DataModule with lr_find not supported"
## 🐛 Bug

### To Reproduce

Steps to reproduce the behavior:

1. Create a ``Trainer (trainer)``, a ``LightningModule (model)`` and a ``DataModule (data_module)``
2. Call ``trainer.lr_find(model, datamodule=data_module)``
3. Error: ``TypeError: lr_find() got an unexpected keyword argument 'datamodule'``

#### Code sample
[code]

### Expected behavior

The ``lr_find()`` function should work as if it

[2020-09-09 17:13] davidwhealey opened #3426 "Model checkpoint not saving hyperparameters correctly"
When using the ModelCheckpoint, my hyperparameters are not being saved with the checkpoints.  So I get an AttributeError when attempting to load from checkpoints.

To reproduce:
[code]

Produces the following Error:

[code]

The print statements indicate that `args` is an empty dict when attempting to load from checkpoint.

When inspecting the checkpoint
[code]

I get the following:
[code]

My und

[2020-09-09 17:37] #3186 closed

[2020-09-09 18:44] #2471 closed

[2020-09-09 19:00] rohitgr7 commented on #3406
yeah, should be passed to `.fit` in the example. Mind send a PR for doc-fix?

[2020-09-09 19:29] rohitgr7 commented on #3426
you need to call `self.save_hyperparameters()` in `__init__` to make it work.

[2020-09-09 19:44] #2409 closed

[2020-09-09 20:02] edraizen opened #3429 "How to get ddp working for custom collate functions"
## ❓ Questions and Help

Hello,

I am confused about ddp training, batch sizes, and custom collate functions. I am using [MinkowskiEngine](https://github.com/NVIDIA/MinkowskiEngine) for sparse 3D image segmentation, which requires batches to consist of lists of minibatches (list of samples) because the data cannot be split randomly or by a set length. However, Pytorch Lighting `scatter`s the data

[2020-09-09 20:36] griff4692 opened #3430 "Issue with trainer.test in "ddp" distributed mode"
Hi -

I have the following pseudo code workflow:

model = new custom LightningModule
trainer.fit(model, ...)
model.freeze()
train.test(model, ...)

The error that I get is this:

`AssertionError: DistributedDataParallel is not needed when a module doesn't have any parameter that requires a gradient.`

What is the best way to address this?

Thanks very much,
Griffin

[2020-09-09 20:44] davidwhealey commented on #3426
Worked, thank you!

[2020-09-09 20:44] #3426 closed

[2020-09-09 20:51] rohitgr7 commented on #3430
That is a PyTorch `AssertionError`. Try it without calling `model.freeze()`?

[2020-09-09 21:27] JohnnyRisk commented on #1243
Has this been resolved? I am trying to implement a callback for visualization and currently facing the same issue.

[2020-09-09 22:01] 7rick03ligh7 opened #3431 "How to disable printings about GPU/TPU"
How to disable this printings?

![image](https://user-images.githubusercontent.com/15386257/92659283-0c17f600-f333-11ea-90e4-a9655c35ff8d.png)

[2020-09-10 03:02] sunwoo-kim commented on #2618
Any update on this issue?

[2020-09-10 03:17] s-rog commented on #3380
This is quite unconventional and I don't think result objects are meant to be used this way. Your previous epoch_end implementation makes more sense to me.

[2020-09-10 03:27] s-rog commented on #3378
I looked into it and this does not seem like intended behavior. Which version of lightning are you on?

[2020-09-10 03:32] david-waterworth commented on #3378
@s-rog pytorch-lightning==0.9.0

[2020-09-10 03:32] s-rog commented on #3339
#3228 what you're asking for has been looked into (epoch on x axis) but it would be problematic with metrics and other loggers and thus has not been implemented atm.

[2020-09-10 03:42] kyoungrok0517 commented on #1923
Same here. Hope to be fixed soon.

[2020-09-10 04:06] david-waterworth commented on #3379
@awaelchli

The script below generates the same stack trace. I suspect it's related to the torchtext objects as I've just stubbed out all the pl callbacks and it still throws the exception. Not torchtext are deprecating these classes in the next release (although they will live in a legacy module for a while)

Also sorry this downloads a lot of data (one time)! You can probably switch to a smaller

[2020-09-10 05:44] briankosw opened #3436 "Distributed Modes Speed Benchmark"
Is there a benchmark on the training speed of each of the distributed modes? I think it'd be really nice to see how each of these modes perform, especially DDP, DDP_spawn, DDP2, and Horovod.

Another question:
Why does DDP perform better than DDP_spawn? It seems that DDP internally launches the same script with different environment variables (so analogous to `torch.distributed.launch`) while DDP_

[2020-09-10 05:55] s-rog commented on #3378
I am unable to replicate the issue on my end. Can you try the examples under `pl_examples`?

[2020-09-10 06:24] david-waterworth commented on #3378
I'm not getting the error message but running gpu_template.py for example I get the behaviour below - Ctrl-C doesn't work, the progress bar gets copied down a line and continues  (ie. each line represents a point where I hit Ctrl-C).

I'm using vscode on ubuntu 20.04 with a bash terminal

![image](https://user-images.githubusercontent.com/5028974/92689180-ebc35800-f381-11ea-91aa-af2917840c43.png)

[2020-09-10 07:46] s-rog commented on #3378
Are you using the trainer from pl_examples as well (with min_epochs added)?

[2020-09-10 08:01] SkafteNicki commented on #3431
It is currently not possible to disable printing of that. For reference it is printed by these lines:
https://github.com/PyTorchLightning/pytorch-lightning/blob/8f6b115511166e404c1419000a3bfa15865a9885/pytorch_lightning/trainer/distrib_data_parallel.py#L296-L298
and this line:
https://github.com/PyTorchLightning/pytorch-lightning/blob/8f6b115511166e404c1419000a3bfa15865a9885/pytorch_lightning/trai

[2020-09-10 08:09] david-waterworth commented on #3378
I added that but it didn’t make any difference, in either case Ctrl-C didn’t halt training but I couldn’t reproduce the original message

Sent from my iPhone

[2020-09-10 08:15] s-rog commented on #3378
At this point it's probably not caused by lightning but instead something in your env. I would first try running it outside vscode (in a native bash terminal) as there might be something wonky with signal propogation there.

[2020-09-10 08:24] Vozf opened #3437 "Cometml Logger epoch is not set."
## 🐛 Bug

While logging using comet ml there is an argument to set epoch https://www.comet.ml/docs/python-sdk/Experiment/#experimentlog_metrics
The info is available in metrics dict, but instead of passing it as an arg, it is passed as metrics value. I will suply a PR in a moment

[2020-09-10 09:02] moi90 commented on #2079
[code]

So: Yes.

[2020-09-10 09:26] awaelchli commented on #3437
looks like it's not a mandatory argument. is it ok if I remove the bug label?

[2020-09-10 09:27] Vozf commented on #3437
Sure

[2020-09-10 09:33] Vozf opened #3439 "Validation step returns trainresult instead of evalresult"
## 📚 Documentation

https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/core/lightning.py#L412

[2020-09-10 11:18] rohitgr7 commented on #3431
Check #2757.

[2020-09-10 11:21] dchatterjee172 opened #3441 "Loss when printing, gets scaled up by the number of GPUs in DDP"
I am using DDP and 2 GPUs
[code]
[code]
so here, when I print the loss it shows `8.8201` for each device, but in the tensorboard and progress bar the loss is around `4` and when I use 4 GPUs the printed(via the print statement) loss is around `~12`
Can someone please explain why the loss is scaling up by the world size when I print the loss?

#### What's your environment?

 - OS: [e.g. iOS, Linux,

[2020-09-10 11:55] matthaeusheer opened #3443 "Conda pytorch-lightning breaks torchvision"
## 🐛 Bug

I have to use conda on our SLURM cluster. First I installed pytorch and torchvision within a conda environment which works fine. As soon as I additionally install pytorch-lightning, torchvision breaks

### To Reproduce

Steps to reproduce the behavior:

1. ```conda create --name pytorch_test_env pytorch torchvision cudatoolkit --channel pytorch```
2. ```conda activate pytorch_test_env```

[2020-09-10 12:03] aiyolo commented on #3387
but it still can't explain why the gpu memory is enough for training a model in the training phase while getting exhausted in the feature visualizing stage, they are using the same dataloader.

[2020-09-10 12:04] ydcjeff commented on #3443
Could you try reinstalling pytorch, torchvision, pytorch-lightning with the version you will use?

[2020-09-10 12:16] shrinath-suresh opened #3444 "TypeError: can't pickle _thread.lock objects - Error while logging model into mlflow in multi gpu scenario"
## ❓ Questions and Help

#### What is your question?
Trying to log model into mlflow using `mlflow.pytorch.log_model` in train end. Getting the above error only in multi gpu scenario.

#### Code

mnist script file -

[code]

Sample code from autolog - Callback class.

[code]

Stack Trace

[code]

#### What have you tried?
Tried out the possibilities mentioned in the similar thread - https://github

[2020-09-10 12:18] soumochatterjee opened #3445 "Not able to train lightning with tpu"
![image](https://user-images.githubusercontent.com/42636586/92727897-79f10b80-f38d-11ea-8c6c-c06a4436b274.png)

### To Reproduce
[Link ](https://www.kaggle.com/soumochatterjee/landmark-detection)
 Go to the link and click edit to run the cells for reproducing the error .

[2020-09-10 12:29] dchatterjee172 opened #3446 "Corrupted log in tensorboard"
<img width="865" alt="Screen Shot 2020-09-10 at 4 52 37 PM" src="https://user-images.githubusercontent.com/10482742/92722994-0a2b5280-f386-11ea-9d28-a1418f326f44.png">

[code]
bleu and em are metrics defined by subclassing `pl.metrics.metric.TensorMetric`
[code]
At epoch 0 everything works fine, but when transitioning from epoch 0 to 1 after completing validation in epoch 0, something happens, and

[2020-09-10 12:43] dchatterjee172 commented on #3441
closing because I could not reproduce this, must be a bug on my end

[2020-09-10 12:43] #3441 closed

[2020-09-10 13:04] Borda commented on #3443
yes, it seems your base PT version is 1.1 and PL requires >= 1.3 so you need to reinstall torchvision...

[2020-09-10 13:04] #3443 closed

[2020-09-10 13:05] Borda commented on #3445
@lezwon mind have look? 🐰

[2020-09-10 13:11] ggdupont commented on #1965
+1

[2020-09-10 13:13] lezwon commented on #3445
This looks to be more like a kaggle memory issue. @sumanthratna try reducing the batch size? Also, to make the notebook public :)

[2020-09-10 13:21] #3439 closed

[2020-09-10 13:22] #3406 closed

[2020-09-10 14:08] #2453 closed

[2020-09-10 14:35] soumochatterjee commented on #3445
@lezwon are u asking me ?

[2020-09-10 14:51] soumochatterjee commented on #3445
Tried batch_size  of 512 but still its same ... i also tried to train this 98 GB dataset on Kaggle Gpu but getting cuda device-side assert error . Made  the notebook public

[2020-09-10 15:38] lezwon commented on #3445
The batch size of 1024 or 512 should be the problem. I tried with a batch size of 32. Seemed to work fine.

[2020-09-10 16:14] agamemnonc commented on #1557
I had the same problem when I tried to upgrade to version 0.9, so I had to downgrade:
the following now seems to be working for me:

[code]

[2020-09-10 16:16] soumochatterjee commented on #3445
I cann't see any changes after changes..  only this thing is appearing
![image](https://user-images.githubusercontent.com/42636586/92761044-e3354680-f3ae-11ea-93fd-2153c6cda7cd.png)

@lezwon  Can u please post ur changes with the progress bar ...

[2020-09-10 16:21] #3430 closed

[2020-09-10 16:23] edenlightning commented on #3399
@williamFalcon @nateraw

[2020-09-10 16:27] edenlightning commented on #3379
@awaelchli mind taking a look?

[2020-09-10 16:55] williamFalcon commented on #3399
love it.

[2020-09-10 17:09] awaelchli commented on #3379
@mateuszpieniak has used Lightning with torchtext before, maybe he has some tips.

[2020-09-10 17:13] edenlightning commented on #3424
@nateraw take a look?

[2020-09-10 17:17] edenlightning commented on #3226
duplicate: https://github.com/PyTorchLightning/pytorch-lightning/issues/3245

[2020-09-10 17:17] #3226 closed

[2020-09-10 17:19] rohitgr7 commented on #2618
It's not supported out of the box yet, but still, you can do that by manually handling the process of transferring the model and input tensors to the device and using CPU backend in Trainer.

[2020-09-10 17:20] edenlightning commented on #2841
@SkafteNicki mind taking a look?

[2020-09-10 17:21] rohitgr7 commented on #3387
hmm... this should not happen. During inference it's just a simple pytorch model, nothing fancy. Is it possible for you to share a colab notebook??

[2020-09-10 17:59] lezwon commented on #3445
Try this one: https://www.kaggle.com/lezwon/landmark-detection

[2020-09-10 18:52] #2469 closed

[2020-09-10 18:56] soumochatterjee commented on #3445
Thanks @lezwon Seems like it is training n
I saw you added these lines

!pip uninstall typing -y
!pip install -qU git+https://github.com/PyTorchLightning/pytorch-lightning.git

and changed the batchsize to 16 for the model to start training  on tpu ????????

Also getting the **RuntimeError: CUDA error: device-side assert triggered**  while running
[this notebook](https://www.kaggle.com/soumochatte

[2020-09-10 18:57] williamFalcon commented on #3286
thanks for the patience! almost done with the first pass at refactors, so i will likely tackle this over the weekend.

Here's what i'm thinking:

1. remove early_stop_on, checkpoint_on
2. enable anything you log to be available as a metric for callbacks.
3. this means you will need to use monitor in a callback to watch what you want...

[code]

[2020-09-10 19:25] rohitgr7 commented on #3286
this won't allow changing the value you want to monitor on, right? I thought `early_stop_on` and `checkpoint_on` was added to add this functionality.

[2020-09-10 19:34] williamFalcon commented on #3286
? yeah, you can still change it... you just have to specify it now in the callback.
The problem is that apparently this is causing a ton of confusion.

I personally think it's cleaner to set early_stop_on and checkpoint_on... this proposed new approach seems a bit more annoying to me but it's something i think everyone is asking for?

[2020-09-10 20:42] matthaeusheer opened #3451 "Very slow training on SLURM cluster"
## 🐛 Bug

When switching from my local machine (old and slow 960m laptop GPU) to a SLURM cluster with Titan X GPU's, I see a significant drop in performance from 4.71it/s to 7s/it (!) - so basically training becomes unusably slow.

### To Reproduce
1. Take a model and submit it as a SLURM job. Happy to provide further details if requested, not sure what is relevant here.

[code]

#### Code sample

[2020-09-10 20:53] Borda commented on #3291
@JackCaster mind sending a PR with this failing example as minimal test so we can fix it and also prevent this case in the future... 🐰

[2020-09-10 20:55] rohitgr7 commented on #3286
It still can have `early_stop_on` and `checkpoint_on` but I think adding another flag `callback=True/False` in `result.log()` is a good suggestion here to allow other metrics to be added in callback_metrics.

Also, I think `EarlyStopping` and `ModelCheckpoint` are not completely compatible with the new Result object, right?? For eg, even if I change the `early_stop_on` or `checkpoint_on` at some p

[2020-09-10 21:01] #3143 closed

[2020-09-10 23:11] david-waterworth commented on #3379
@awaelchli thanks for looking. I need to refactor this anyway since as I mentioned `torchtext` has started to deprecate their DataLoader / Dataset in place of the `torch` equivalents. I've been putting it off since they've not yet provided a migration path for custom datasets (frustratingly they seem to be focusing on migrating the built-in datasets using private pipeline methods - I feel they sho

[2020-09-10 23:52] carmocca commented on #3286
Mind explaining why do you find the proposed approach more annoying? It uses the already existing parameter `monitor` and would avoid having multiple `*_on` parameters in the Result (instead adding the `callback` parameter to it).
Right now there is only two (`checkpoint_on` and `early_stop_on`) but with time, there might be more which could clutter lightnings code.

what about `result.register`?

[2020-09-10 23:59] williamFalcon commented on #3286
because not everyone has a "val_loss" keyword...
and then it somehow manes val_loss "magical"...  but in reality i want to early stop or checkpoint on some other thing like accuracy and it's annoying to have to init the callback and set the monitor there.

because if i change my mind tomorrow, now i have to remember to change it in multiple places... and it also means that the trainer is no longer

[2020-09-11 00:08] edenlightning commented on #3280
@awaelchli mind taking a look?

[2020-09-11 00:11] sshleifer opened #3455 "replace_sampler_ddp + batch_sampler"
Is it possible to make a distributed-friendly `batch_sampler` that gets passed to `DataLoader`.

I have a working single-gpu version that produces an iterator where each `.next` is list of ids, but when I pass it with
[code]

I get too few batches and each batch is way to small.

+ Without --gpus 2 --replace_sampler_ddp everything is OK.
+ With --gpus 2 alone I get the expected error.

Has anyone

[2020-09-11 00:26] carmocca commented on #3286
What if you don't know the checkpoint/early_stop metric in the LightningModule? you are forced to do this:

[code]

[2020-09-11 00:36] williamFalcon commented on #3286
but this is exactly why the results makes more sense... because you CAN change it while training. This is an exact example of that.

Otherwise you'd have to set the monitor at the callback level and that's now disconnected from the model...

ie: your model can't be moved around and is not modular now because it has this other external dependency where you must also remember to set X value in the c

[2020-09-11 00:42] williamFalcon commented on #3286
This is redundant...
[code]

we can just make anything that is logged available as a callback (ie: always true) but you don't need to add another keyword

[2020-09-11 00:44] carmocca commented on #3286
If the issue is about providing callbacks with the module, why not add `configure_callbacks` function to `LightningModule`?

Sure, I don't mind that :smiley:

[2020-09-11 00:48] williamFalcon commented on #3286
right, i think that's what i was originally hoping for:

1. use early stopping and checkpoint as keywords
2. allow anything that is logged to be available to be monitored.

but that means we have 2 ways of doing something. so it's why i then thought to just drop the keywords (ie: not do 1 and only 2)

[2020-09-11 03:56] ananthsub opened #3458 "Model summarize displayed twice before training starts"
## 🐛 Bug

Model summarize is called in two spots, which results in duplication in the logs:
- It's called once in the training loop: https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/trainer/training_loop.py#L160

And I'm unsure how it's called again

![119083522_2815247905426328_3914141584028152470_n](https://user-images.githubusercontent.com/2382532/92856189-04d

[2020-09-11 06:30] lezwon commented on #3445
I installed PyTorch lightning from master itself as the TPU support is more stable there. As for batch size, I faced an out of memory issue after a while when choosing 32. Hence 16.

[2020-09-11 06:30] lezwon commented on #3445
@rohitgr7 any idea about the cuda error?

[2020-09-11 06:49] DKandrew commented on #2509
@phongnhhn92 With some search in the doc: https://pytorch-lightning.readthedocs.io/en/latest/trainer.html#sync-batchnorm

[2020-09-11 07:08] awaelchli commented on #3280
I submitted a fix.
@hyukyu Be aware, torchtext will remove/deprecate this Batch object soon. So in the future you should switch to their new dataloading pipeline that integrates better with PyTorch and Lightning.

[2020-09-11 07:27] phongnhhn92 commented on #2509
Hi @DKandrew, Can u provide an example of how to use it. Of course, as easy as it sounds I can just add that option into Trainer. My question is that will that work out of the box for model using pytorch [Synbatchnorm](https://pytorch.org/docs/stable/generated/torch.nn.SyncBatchNorm.html) or above SyncBN from Apex ?

[2020-09-11 07:30] DKandrew opened #3460 "Missing details in the document for the random seed"
## 📚 Documentation

Even though in the [documentation](https://pytorch-lightning.readthedocs.io/en/latest/multi_gpu.html), lightning very thoughtfully reminds readers of setting the random seed when using distributed data parallel. However, it does not mention where should we set them. Based on my experience on PyTorch, the seed can be set after calling the `torch.distributed.init_process_group`.

[2020-09-11 08:09] DKandrew commented on #2509
Hi @phongnhhn92

Here is an example: https://github.com/PyTorchLightning/pytorch-lightning/blob/114af8ba9fc42fcf7053fa06299fbe4aecab8a06/pl_examples/basic_examples/sync_bn.py

By the way, I don't think the example given here is completely correct: it does not set the random seed properly. Based on my personal understanding, the seed should be called after all the processes have been "created" (or

[2020-09-11 08:15] DKandrew commented on #1924
@woolpeeker You raise a good question! It is so sad that nobody is answering this. I believe the seed should be set after the calling of Trainer, which calls the [`init_process_group`](https://pytorch.org/docs/stable/distributed.html#torch.distributed.init_process_group). I raise the same question here #3460

[2020-09-11 08:31] phongnhhn92 commented on #2509
Hi @DKandrew , after reading the example, I think we should define our model with regular BatchNorm and then if we decide to use the option sync_batchnorm = true in Trainer then the framework will convert all those BatchNorm layer into SyncBatchNorm for us. I will test this in my code to see if it works like that.
However, I wonder that is there any difference between Apex SyncBatchNorm and Pytorc

[2020-09-11 09:35] schwobr opened #3461 "Enabling batch transforms"
## 🚀 Feature
Hi ! Well the feature is quite simple, it is to have a simple way to code batch level transforms without having to put them directly in `training_step`.

### Motivation

Motivation comes from the fact that in a project of mine, I want to change the color space of my input images directly on the batch rather than on individual images so that I gain some time. Problem is I didn't find a

[2020-09-11 10:17] SkafteNicki commented on #2841
I have found the solution after digging around in the logger code.

Short answer: call `super().save()` when you define your own save (or don't override it).

Long answer:
First note that `logger.log_metrics` is not called directly. Instead it is the `logger.agg_and_log_metrics` (you should not implement this normally, but you can go around the hole aggregation ect by defining this yourself) metho

[2020-09-11 10:18] SkafteNicki commented on #3398
Copy of my answer from https://github.com/PyTorchLightning/pytorch-lightning/issues/2841:

I have found the solution after digging around in the logger code.

Short answer: call `super().save()` when you define your own save (or don't override it).

Long answer:
First note that `logger.log_metrics` is not called directly. Instead it is the `logger.agg_and_log_metrics` (you should not implement thi

[2020-09-11 11:26] EspenHa commented on #3398
While stating this in the documentation is good, I still think it is desirable to avoid the dependency on save being called.

From an outside perspective, it seems counter-intuitive that the presence of a conceptually unrelated method should have an effect on logging.

In addition, this bug could affect many users without them even knowing about it, as it is easy to miss that one logging statement

[2020-09-11 13:54] Borda commented on #3445
there shall not be anything about CUDA in TPU ran... mind trace it to the source?

[2020-09-11 14:05] carmocca commented on #3461
I think that is a bug. Transforms are passed to the dataset.

You could pass the transforms to your LightningModule or get the LightningDataModule transforms via `self.trainer.datamodule.train_transforms`.

[2020-09-11 14:40] edraizen commented on #3429
I was able to get it to work by correcting the batch size and using the normal scatter function. It turns out I had manually multiplied the batch size by the number of GPUs, which works for dp but not for ddp. Would it be possible for Pytorch Lightning to scale the batch size for number of GPUs if using dp or warn the user that they should increase it?

Also, it would also be useful if there was a

[2020-09-11 14:55] #3280 closed

[2020-09-11 17:39] ananyahjha93 commented on #3461
@nateraw can you fix this documentation error?

[2020-09-11 17:47] tmcclintock commented on #3402
Update - I am working with an mlflow dev to fix this. I will issue a PR here that follows @awaelchli's suggestion when it is solved in mlflow.

[2020-09-11 18:15] nateraw commented on #3461
The stuff w/ transforms being passed to dataloader is definitely wrong...I'll update docs!

---

As for batch transforms...I think philosophically that feature is already covered by torch `Dataset` object, right? Datamodule is meant to extend it. I think a great way to solve your issue is to...

1. implement a custom pytorch dataset that does the batch transforms

2. implement a datamodule that in

[2020-09-11 18:31] nick-fung opened #3466 "Logging Intervals and Evaluation Intervals"
## 🚀 Feature
Logging and validation intervals should be performed using the global step.

### Motivation
Currently, the row_log_interval and val_check_interval do not work as intended. If my batch size is large or my training set size is small, the number of batches per epoch is also small. Row log interval and validation check interval seem to use the steps within the epoch, rather than the globa

[2020-09-11 18:31] #2487 closed

[2020-09-11 18:44] williamFalcon commented on #3286
I love this callbacks hook idea... let's bring it up for vote from the community?

What do we think?

My take is that some models to philosophically NEED certain callbacks. And to keep models self-contained we need to make sure that the required callbacks are packaged as well.

i’ve seen this myself in self supervised as well… for instance:
- BYOL weight update was done as a callback
- simclr and

[2020-09-11 18:46] DKandrew commented on #2509
Hi @phongnhhn92, from my personal experience, there is not much difference between Apex and PyTorch SyncBatchNorm and I vaguely remember that Apex developers have a close relationship with PyTorch's so their implementations may be fundamentally the same (don't quote me, please put a grant of salt on this). I have used nn.SyncBatchNorm for a while for semantic segmentation tasks and haven't encount

[2020-09-11 19:35] 7rick03ligh7 commented on #3431
@rohitgr7
Thanks

These two lines helped me
[code]

[2020-09-11 19:35] #3431 closed

[2020-09-11 21:35] rohitgr7 commented on #3461
suggested something here #3399.

[2020-09-11 22:00] rohitgr7 commented on #3458
Tried on master. Working fine. Is it happening with ddp backend only?

[2020-09-11 22:18] ananthsub commented on #3458
Yes this happens with DDP backend

[2020-09-11 22:23] Rob-Fletcher commented on #3401
If there currently isnt a way to do this and you guys think its needed I can make a PR.

[2020-09-11 22:24] awaelchli commented on #3460
@DKandrew is there anything wrong with calling `seed_everything` at the entry point of the training script? I ask because you mention doing it after distributed init group.

[2020-09-11 22:29] awaelchli commented on #3458
on my windows machine, single gpu, happens too. but the others stuff is also logged twice, including all warnings.

[code]
¨
which means it is logging related, not model summary.
I will investigate

[2020-09-11 22:33] JackCaster commented on #3291
Surely I can do that. I am on vacation atm without pc. I will send it sometime next week

[2020-09-12 00:51] lucadiliello commented on #3444
What happens if you don't use the scheduler? Please try commenting out the scheduler definition and return only the optimizer.

[2020-09-12 00:52] jszym commented on #3329
I'm having similar issues performance degradation when using DDP.

Using `--gpus 1` results in 2.85s/it , whereas when I run with the flag `--gpus 4` (no other changes) the performance balloons to >400s/it. The backend in the multi-gpu case is the default ddp_spawn, and the GPUs are V100 32GB.

I can't share the code at the moment, but would be happy to do so privately.

[2020-09-12 01:26] lezwon commented on #3445
I think it occurs when he runs it on gpu.

[2020-09-12 02:04] shrinath-suresh commented on #3444
Thanks for the reply. Sure i will try and update here.

[2020-09-12 02:28] ananthsub opened #3471 "Expectations for custom data parallel implementations"
I have a need to use a custom `[DistributedDataParallel](https://pytorch.org/docs/stable/notes/ddp.html)` implementation. I'd like to do this with the existing `DDPBackend` today.

With Lightning, the API and docs are unclear as to whether I need to extend `LightningDistributedDataParallel`, or if I can directly extend torch `DistributedDataParallel`.

The LightningModule API docs suggest `configu

[2020-09-12 02:51] shrinath-suresh commented on #3444
I removed the scheduler part and re-ran the script. Still experiencing the same error.

[2020-09-12 05:50] dalmia commented on #3238
@williamFalcon I do not intend to spam, but is there any fix for this? I found other open issues regarding Custom Distributed Sampler as well and so, figured that this is still relevant. Please have a look!

[2020-09-12 07:05] ferrine commented on #2598
Any comments on this? I can open a pull request if you want. For now I solve the problem with pre epoch hook

[2020-09-12 09:26] c00k1ez commented on #2724
Hi!
Issue 3 already fixed at #3450 and Issue 2 under process at #3465. I'm interested in ConfusionMatrix fix for DDP mode too, so maybe we can collaborate to apply your changes for modern version of source code?

[2020-09-12 10:24] DhruvilKarani opened #3473 "Correct way of implementing early stopping"
I am trying to implement early stopping on my LSTM classifier.Running the script on colab GPU environment. Here's the code

[code]
This is the output + warning I get when I start the training -

[code]

If I don't specifically mention `early_stop_on = loss` in the EvalResult initialization (in the validation_step method), the trainer keeps training it for the max number of epochs specified. Also,

[2020-09-12 10:46] SkafteNicki commented on #2724
@c00k1ez could you also take care of issue 1 in your #3465 PR?
Should be a simple change from `cm/cm.sum(-1)` to `cm/cm.sum(-1, keepdim=True)` in the normalization.

[2020-09-12 10:56] c00k1ez commented on #2724
Yeah, just a moment 👍

[2020-09-12 11:26] c00k1ez commented on #2724
Fix Issue 1  at #3465 (commit fd19c78).

[2020-09-12 12:04] carmocca commented on #3286
I would have both `model.callbacks` and `trainer.callbacks`. As you mentioned, some callbacks are inherently related to the model function and others to the training procedure (i.e. checkpointing). The first come packaged with the `LightningModule` and the second can be set by whoever is training the model.

[2020-09-12 12:44] xtzd commented on #2537
Hi, I am still stuck in here. So the final solution is change 'ddp' to 'ddp_spawn' mode? I was stuck when using ddp to fit kfold trainers.

[2020-09-12 12:49] williamFalcon commented on #2537
exactly

[2020-09-12 13:22] awaelchli commented on #3471
Almost certainly you need to inherit LightningDistributedDataParallel for the reasons you have already mentioned. As @williamFalcon  already explained, this is probably not what should be done today. I have come across this as well. There are libraries like torchgeometry that have a custom [DataParallel](https://github.com/rusty1s/pytorch_geometric/blob/master/torch_geometric/nn/data_parallel.py)

[2020-09-12 13:26] awaelchli commented on #3466
Does it make sense to base logging intervals on global_step instead of epoch batch index @PyTorchLightning/core-contributors ?

[2020-09-12 13:32] awaelchli commented on #3473
Yes, currently you need to do it this way. The result object was meant to make early stopping etc. easier, but currently if you use a custom callback, you need to add that key manually. We will iterate on this and are currently discussing ways to make configuration of these callbacks easier and more intuitive. part of discussion is here #3286

[2020-09-12 13:57] DhruvilKarani commented on #3473
Sure. Thanks for the response!

[2020-09-12 13:57] #3473 closed

[2020-09-12 17:02] ydcjeff opened #3479 "Links between Lightning docs are not linked properly"
## 📚 Documentation

https://pytorch-lightning.readthedocs.io/en/latest/trainer.html#profiler

The link to profiler.html is not properly linked.
These links are happening too (found out so far).
- link to multi gpu docs
- link to slurm docs
- link to lr_finder docs
- link to logger docs

This is not happening on the stable 0.9.0 docs.
I couldn't find what PR caused this or something caused this.

C

[2020-09-12 18:35] rohitgr7 commented on #3445
@soumochatterjee just `LabelEncode` `landmark_id`, it will work.

Also, you need to fix this:
[code]
since `Cutout` is not in `albumentations`, you will get an error later on. You can use `albumetations.Cutout()`.

[2020-09-12 18:39] 7rick03ligh7 opened #3481 "How optimizer frequencies works"
## ❓ Questions and Help

#### What is your question?

I don't understand how optimizer frequencies works
https://github.com/PyTorchLightning/pytorch-lightning/pull/1269

#### Code

When I tried to work with them as a list of optimizers, I got this error
It arises after training_step()
![image](https://user-images.githubusercontent.com/15386257/93002389-aa919a80-f571-11ea-991e-18aee99376d5.png)

##

[2020-09-12 18:49] rohitgr7 commented on #3481
it's fixed on master #3229

[2020-09-12 19:14] 7rick03ligh7 commented on #3481
@rohitgr7
Oh, thanks
But... How can I install from master in conda?

[2020-09-12 19:15] awaelchli commented on #3481
`pip install --upgrade git+https://github.com/PyTorchLightning/pytorch-lightning.git` in your conda env

[2020-09-12 19:23] awaelchli commented on #3479
@ydcjeff yes using ref on the anchor is correct. could you try to fix it?

[2020-09-13 00:51] 7rick03ligh7 commented on #3481
Ok, but I'm still interested in the sequence of function calls.

1) Am I right that the pseudocode with multiple optimizers looks like this?
![image](https://user-images.githubusercontent.com/15386257/93007657-13930580-f5a6-11ea-8578-6efca317b09c.png)

2) If I use multiple optimizers with different outputs in training_step() how it will work in training_epoch_end()? I mean how I can aggregate outp

[2020-09-13 01:41] awaelchli commented on #3481
1. I think yes, this is roughly it
2. With multiple optimizers, you will get a list of lists in `training_epoch_end`. If using Results, you get List[List[Result]] and with dict you get List[List[dict]]. The top list has length equal to the number of optimizers. The inner list has length equal to the number of training steps.
3. Don't know, never tried it, but I would assume the progress bar dict g

[2020-09-13 03:23] ydcjeff commented on #3479
@awaelchli okay, I will try it

[2020-09-13 05:16] oke-aditya opened #3484 "Turn off torch profilers for faster training"
## 🚀 Feature

### Motivation

PyTorch by default does not disable the autograd and other profilers while training there are a lot of them listed in one of the talks [here](https://www.youtube.com/watch?v=9mS1fIYj1So&list=PL6Rbs64R_CcPsJflYb2doIMmFaDyo-oIK&index=4&t=680s).
To enhance speed while training it is recommended to turn them off manually.

### Pitch

Since this feature should be on by def

[2020-09-13 05:39] #2481 closed

[2020-09-13 09:42] dvirginz opened #3485 "ModelCheckpoint every validation cycle instead of epoch?"
Does `ModelCheckpoint` support checkpointing every validation?
In case of big sequential data loaders (without shuffling) one will want to save the model each `val_check_interval` instead of each end of epoch (As it is a sequential data loader, I cannot use the `limit_train_batches` as it will be as overfitting on a subsample of the dataset).
Is there an easy way to do so besides wrapping ModelChe

[2020-09-13 09:46] #3485 closed

[2020-09-13 11:27] Tim-Chard opened #3487 "Gradient norms are not logged unless row_log_interval==1"
## 🐛 Bug
In version 0.9 the guards to calculate the gradient norms and then log the metrics can't be satisfied in the same batch unless the row_log_interval  is 1. In most places the guard seems to be `(batch_idx + 1) % self.row_log_interval == 0` such as here:

https://github.com/PyTorchLightning/pytorch-lightning/blob/b40de5464a953ff5866a255f4670d318bd8fd65a/pytorch_lightning/trainer/training_lo

[2020-09-13 11:44] rohitgr7 commented on #3487
yeah, it's a bug, mind send a PR?

[2020-09-13 12:26] carmocca commented on #3401
`mode` is currently passed to `ModelCheckpoint`. I am with you in that it is confusing having the metric and the mode in different places. We have a discussion over at #3286 about how we should fix it.

[2020-09-13 12:26] #2524 closed

[2020-09-13 15:25] SkafteNicki commented on #3398
I agree that it would be good if this dependency did not exist, however as I stated earlier it has to do with the internal aggregation we are doing. It would therefore require major refactor of most loggers to not have this dependency. That is why I think it is a fair comprise to just mention this directly in the documentation (I assume that people read this before implementing their own logger.

[2020-09-13 17:09] FrancescoSaverioZuppichini commented on #2619
@williamFalcon with all due respect but I think you are very wrong, unfortunately, I don't have the time know to show my counter-arguments and I suspect the discussion will go on forever. You can have default behavior and allow users to implement specific methods as you are doing now, this is classic OOP.

I am down for a quick voice chat if you would like to hear my suggestion in detail or I will

[2020-09-13 18:14] #2530 closed

[2020-09-13 18:38] #2619 closed

[2020-09-13 18:41] williamFalcon commented on #2619
I hear you!
Unfortunately Lightning is a professional tool... so, it's not meant to abstract details as you're suggesting.

This is why it's used to create new state of the art methods and new research.
(example: https://github.com/mindslab-ai/cotatron).

You might be looking for something else that doesn't require as much pytorch knowledge or is meant for simpler cases.

This is unfortunately not

[2020-09-13 19:02] xujiaze13 opened #3488 "Load not only last_chechpoint but early_stop_callback history"
When I resume the training process.

I find that the early_stop history is not considered.

For example, the best epoch is 7, early_stop patience is 3.
So after epoch 10, the training procedure ends, and the best epoch is 7.

However, if I stop training after epoch 7, and then resume training.
The best epoch would not be 7. It will be 8 or 9 or 10.

How could I get the best epoch when (stop and re

[2020-09-13 19:40] sshleifer commented on #3238
I got this `DistributedSortishSampler` working
https://github.com/huggingface/transformers/blob/master/examples/seq2seq/utils.py#L225

It required passing `-replace_sampler_ddp=False`.

[2020-09-13 20:06] awaelchli commented on #3488
which version of Lightning are you using? we recently added persistence to the callbacks. #2501

[2020-09-13 20:10] xujiaze13 commented on #3488
0.9.0

[2020-09-13 20:22] rohitgr7 commented on #3488
try `master` or `0.9.1rc3`. It should work.

[2020-09-13 20:28] shade22413 commented on #3485
@dvirginz Did you found a solution to your problem? I'm facing a similar one.

[2020-09-13 20:50] dvirginz commented on #3485
By inspecting the code I am now sure it runs on validation end, thus it does what we want it to do(they need to fix the docs).
Maybe someone from pl will validate me and I'll submit a pr for the docs.

[2020-09-13 21:23] xujiaze13 commented on #3488
I tried `0.9.1rc3` by
`a=torch.load('./lightning_logs/version_1/checkpoints/last.ckpt')`
and
`a['callbacks'][pl.callbacks.ModelCheckpoint]['best_model_path']`
results as
`"./lightning_logs/version_1/checkpoints/epoch=9.ckpt"`

However, the best model path should be
`"./lightning_logs/version_0/checkpoints/epoch=6.ckpt"`

Is there some templates for reference? Thanks

[2020-09-13 21:26] xujiaze13 commented on #3488
Maybe I should manually load the early stop from checkpoint?

https://github.com/PyTorchLightning/pytorch-lightning/blob/c60c4c4be04cf0c9d635ac8828cb73579808ba68/tests/callbacks/test_early_stopping.py#L50-L64

[2020-09-13 21:32] rohitgr7 commented on #3488
"./lightning_logs/version_1/checkpoints/epoch=9.ckpt"
However, the best model path should be
"./lightning_logs/version_0/checkpoints/epoch=6.ckpt"

can you recheck? versions are different here.

[2020-09-13 23:06] xujiaze13 commented on #3488
Yes. I resume from checkpoint in version_0.
And version_1 appears

[2020-09-14 01:04] #3479 closed

[2020-09-14 01:13] awaelchli commented on #3484
Does this also include the grad checking and anomaly detection as listed in the linked presentation? If so, we should think of a different name than "profiler", also for the reason that Trainer already has a profiler argument.

[2020-09-14 01:40] awaelchli commented on #3052
@manipopopo I cannot reproduce it on master. What exactly is the remaining issue, how do I reproduce it?

[2020-09-14 01:48] awaelchli commented on #3052
The code in your google colab link now runs if I install from master branch. Closing this issue.
If there is something else that needs to be fixed, please open a new issue so I can take a look.

[2020-09-14 01:48] #3052 closed

[2020-09-14 02:11] awaelchli commented on #3171
If I run this in a standalone script
[code]
I get

[code]
is this expected or not? sorry, not too familiar with amp.

[2020-09-14 02:38] oke-aditya commented on #3484
Yes, I guess the PDF says we should disable the following

[code]

So yes,we need different name that profiler. Maybe call it debug API ?

[2020-09-14 03:10] awaelchli commented on #3488
This is expected, since it is a new run, it will create a new version. But I would expect the path be correctly saved into the checkpoint. Does the same happen if you load epoch 9 checkpoint instead of last?

Maybe the epoch counting is incorrect when resuming from checkpoint

[2020-09-14 03:49] xujiaze13 commented on #3488
Yes. Same problem happens.
When it loads the checkpoint and continues to run, it only considers new epochs and ignore the val_loss in old checkpoint.

[2020-09-14 04:09] #2003 closed

[2020-09-14 06:08] FrancescoSaverioZuppichini commented on #2619
@williamFalcon I have a lot of programming knowledge and I have been using PyTorch for years. But if I have to write tons of code to just do a very basic image classification, then probably there is something not so well design in your library (+ bugs). Don't get me wrong, there are tons of good features.

Tensorflow is also used to create sota methods, but it is a terrible tool. IMHO it should be

[2020-09-14 08:03] #2841 closed

[2020-09-14 08:05] #2724 closed

[2020-09-14 09:06] schwobr commented on #3461
@carmocca That is quite what I had in mind, this kind of hook is probably the easiest way to go with it.

@nateraw Thanks for the doc fix ! Also, isn't the dataset purpose to handle items individually and not on the batch level ? The only actual solution I found for batch level transforms using pytorch API only is to use a custome collate function in the dataloader, but I don't find it very handy,

[2020-09-14 09:31] c00k1ez commented on #2724
@SkafteNicki As I remember, #3465 do not solve issue 4

[2020-09-14 10:45] SkafteNicki commented on #2724
@c00k1ez you are correct, it was auto closed when #3465 was merged. However, I do have a fix for this, hope to do it soon (write to me on slack if you want to take over)

[2020-09-14 11:23] #3245 closed

[2020-09-14 15:50] manipopopo commented on #3052
Hi @awaelchli , the issue has been fixed by #3197 .

[2020-09-14 16:04] 7rick03ligh7 commented on #3481
@awaelchli
Thanks for the reply

I tried it and got this:
![image](https://user-images.githubusercontent.com/15386257/93109455-0897bc80-f6ef-11ea-9009-5518cdc28934.png)
All outputs from optimizers sent to a single list
Remind that I used frequencies (opt1 freq=1, opt2 freq=4)

Is it ok, or it's a bug?

[2020-09-14 16:39] ydcjeff commented on #3189
@Borda or @awaelchli is there a specific reason using `linkcode` extension?
if not, shall we use this extension https://www.sphinx-doc.org/en/master/usage/extensions/viewcode.html?
this creates `_modules` folder for source code and link to that folder. PyTorch is using this also.

It also solves this issue using `automethod`, `autofunction` won't work just like @awaelchli comment.
I discovered tha

[2020-09-14 16:54] awaelchli commented on #3189
@ydcjeff nice, could you make a draft PR so we can try it out?

[2020-09-14 16:58] ydcjeff commented on #3189
@awaelchli with `viewcode` extension?

[2020-09-14 17:05] awaelchli commented on #3189
so you say it's a two step fix.
1. viewcode, which solves the problem with linked source code, but we lose methods source code
2. add the custom css to the theme

if it can consistently link all classes, methods and functions, I think this is what we want.

[2020-09-14 17:09] ydcjeff commented on #3189
Yes, pytorch sphinx theme doesn't include css for directly linking methods.
So, we need to add it. I think `viewcode` works with all modules, classes, methods and functions.

But i will try with all to make sure it works and i will draft a PR

[2020-09-14 17:25] rohitgr7 commented on #3481
@7rick03ligh7
if you are using multiple optimizers with no frequencies defined you will get:

but, when you have some frequencies defined, each training_step will use only 1 optimizer depending upon the current training_step, and outputs from the other step with different optimizer won't be transferred. So you will have a list with the size equal to the number of training_steps.

Your output is ex

[2020-09-14 18:53] wolterlw commented on #3282
Having a similar issue.
In my case I have two different data loaders - one loads video frames sequentially and the other loads individual frames using random sampling. The output format and tensors sizes are the same, but I need different samplers for each DataLoader.
I can create a complex sampler that knows which ordering to use for which subset of ConcatDataset, but that's error-prone.
Point be

[2020-09-14 18:55] wolterlw commented on #3282
being resolved in #1959

[2020-09-14 19:42] carmocca opened #3491 "training_step should allow returning None"
## 🐛 Bug

In my dataset, some of the samples are too small and cannot produce valid losses. If all of the samples of a batch are invalid, I need to return None because I do not have a valid loss. Lightning does not seem to allow it.

### To Reproduce

Steps to reproduce the behavior:

[code]
In 0.9.0:
[code]

### Expected behavior

Training should not stop and should move on to the next iteration.

[2020-09-14 20:05] #2533 closed

[2020-09-14 20:19] fjhheras opened #3493 "wandb logger.experiment does not seem to be the same as run object in wandb API"
## ❓ Questions and Help

#### What is your question?

I use pytorch lightning + wandb logger. I do not know how to extract history of training (training losses, validation losses...) from pytorch lightning or from the logger.

#### What have you tried?

In the docs, the logger has a property (experiment) returning a wandb run object

https://pytorch-lightning.readthedocs.io/en/latest/loggers.html?

[2020-09-14 21:02] tbenst opened #3494 "add support for save_hyperparameters with Python Data Class"
Python [Data Classes](https://docs.python.org/3/library/dataclasses.html) are convenient in that they automatically generate a bunch of boilerplate code for assigning data to a class. They are particularly useful for PyTorch models that have a lot of hyperparameters and thus a lot of boilerplate.

## 🐛 Bug

I believe https://github.com/PyTorchLightning/pytorch-lightning/pull/1896 introduced a new

[2020-09-14 22:06] awaelchli commented on #3493
I don't understand. The logger.experiment is what `wandb.init` returns, the Run object. How are you trying to access these attributes?

[2020-09-14 22:18] awaelchli commented on #3494
It would be great to have this. However, I wouldn't say this is a bug. save_hyperparameters was never designed with data classes in mind, but it was mentioned before.

[2020-09-14 22:41] tbenst commented on #624
@teichert did you come up with a solution / "best practice" for using the lr finder with one cycle? Appreciate any tips or pointers!

[2020-09-14 22:49] tbenst commented on #3494
@awaelchli I think it's a bug as a method should depend on the object not the context in which it's called--IIUC in this case the method can only be called from `__init__`, which is not documented.

[2020-09-14 22:54] teddykoker commented on #3491
Thanks for the report! I just verified, and you should be able to return `None` in your validation step (you will get a `RuntimeWarning` but everything should still work.

You are correct that we do not support `None` values for the training step. Typically if I want to do some sort of data validation I do that in my Dataset:
[code]

Then you can write a collate_fn to skip these `None`s:
[code]

H

[2020-09-14 23:00] #2544 closed

[2020-09-14 23:22] carmocca commented on #3491
Thanks for your suggestion!

Your proposal is a valid workaround, however, in my case, whether a sample is valid or not depends on the loss function so it is a bit ugly to check this inside the dataset/dataloader.

Assuming this is not very hard to support, I think we should do it.

[2020-09-15 00:46] teddykoker commented on #3491
I see. I'll see if there is a work around you can use in the meantime. I'll mark this as a feature request.

[2020-09-15 01:50] ananthsub commented on #3471
@awaelchli it seems like the workaround for now is to extend `LightningDistributedDataParallel` while the accelerator backend refactors are happening. We should update the code and docs to reflect that: https://pytorch-lightning.readthedocs.io/en/latest/lightning_module.html#configure-ddp . Right now they're misleading and will break because of those checks. Though I'm pretty sure you can check if

[2020-09-15 02:13] edenlightning opened #3495 "Add an example of how to subclass base DDP to docs"
Some cases you want to customize DDP. We need to add that to our docs.

[2020-09-15 02:18] edenlightning opened #3496 "Add missing callback hook for optimizer dicts"
Need a callback hook to consolidate the state of optimizer dicts before saving the final state_dict during model checkpointing.

[2020-09-15 02:21] edenlightning opened #3497 "Decouple slurm / DDP"
Separate accelerators for cluster managment.

pass in a slurm connector onstread of calling init ddp

[2020-09-15 02:23] edenlightning opened #3498 "Remove forward hook from lightning documentation"
It should not be used.

[2020-09-15 03:19] deng-cy opened #3499 "More explanation needed in documentation on DP vs. DDP in multi-GPU training"
## ❓ Questions and Help

The documentation on [multi-GPU training](https://pytorch-lightning.readthedocs.io/en/latest/multi_gpu.html) says DP is suitable for softmax since it can combine all pieces in the end. I do not understand why it is the case. The gradients calculated from a batch of samples are equal to the sum (of average) of gradients calculated from individual samples. Therefore I feel t

[2020-09-15 06:08] wongjoel opened #3500 "Difference in support for IterableDataset in Trainer.fit and Trainer.test"
## ❓ Questions and Help

#### What is your question?
When using WebDataset (which implements IterableDataset), Trainer.fit works without warnings, but Trainer.test will fail unless a nominal length is specified. Is this intended behaviour?

#### What have you tried?
When running Trainer.test without specifiying nominal length:
[code]

When running Trainer.test after specifying nominal length (and

[2020-09-15 08:52] fjhheras commented on #3493
I have something like this to declare the logger and the trainer (WandbLogger is imported from pytorch_lightning.loggers)
`
      wandb_logger = WandbLogger(...)
      trainer = pl.Trainer(
          ...
          logger=wandb_logger,
      )
`
Then, after training, I try to get information from the Run object, which is wandb_logger.experiment, but I fail to obtain what I want:

`

<wandb.sdk.wand

[2020-09-15 09:05] awaelchli commented on #3493
This is happening on multi gpu, yes? If yes, I know why :)

[2020-09-15 09:07] #2600 closed

[2020-09-15 09:09] fjhheras commented on #3493
No, I do not think so, I have a single gpu.

[2020-09-15 11:25] jiwidi opened #3505 "Looking for an example with custom metric for early_stop"
## ❓ Questions and Help

#### What is your question?
Hi!

I was checking the docs and `early_stop_callback` and the only example I could find was https://pytorch-lightning.readthedocs.io/en/0.4.9/examples/Examples/#trainer-example. Is there any sample code where this is used? Im looking for a Lightning model that returns a custom metric and the early stop is based on that metric.

For my case, im

[2020-09-15 12:30] #3437 closed

[2020-09-15 12:31] NickYi1990 opened #3506 "Tensorboard display nothing"
## 🐛 Bug

### To Reproduce

Steps to reproduce the behavior:

I run the code below successfuly, and when i open my tensorboard, scalar display in board, but there's not value on the plot, vert confusing~

#### Code sample

[code]
![image](https://user-images.githubusercontent.com/13381684/93210396-1baf9880-f792-11ea-9415-a1ea4ae4d48d.png)

### Expected behavior

Display value on tensorboard

### E

[2020-09-15 12:36] #3035 closed

[2020-09-15 12:46] carmocca commented on #3491
I just realized your proposal does not actually solve the issue because if all of the samples in the `collate_fn` batch are `None`, it just returns an empty list and we still have to skip that training iteration.

[2020-09-15 12:55] felixkreuk commented on #2312
@Geeks-Sid Is calling `.item()` a bad practice? Can it increase memory use?

[2020-09-15 13:05] williamFalcon commented on #2312
it slows things down...

[2020-09-15 13:53] Vozf opened #3507 "DDP TensorMetric and NumpyMetric exception"
## 🐛 Bug

when trying to train with metrics inherited from tensormetric or numpy metric an exception occurs
pytorch 1.6.0
pytorch-lightning == 0.9.0

[code]

[2020-09-15 14:27] gauravcanon opened #3508 "ImportError: cannot import name 'trim_batch'"
🐛 Bug

### To Reproduce

Steps to reproduce the behavior:

1. Go to 'https://colab.research.google.com/drive/1em4d2iTwF1x4yZ10J5g5LtLcXBwgiyTA?usp=sharing'
2. Run
3. Scroll down to 'LN 26'
4. See error

### Environment

Please copy and paste the output from our
* CUDA:
	- GPU:
		- Tesla T4
	- available:         True
	- version:           10.1
* Packages:
	- numpy:             1.18.5
	- pyTorch_deb

[2020-09-15 14:31] Borda commented on #3507
@Vozf mind share an example?

[2020-09-15 14:44] Vozf commented on #3507
Cant really share the whole repo, but error starts reproducing with with this small change. If you have exact questions, I'll happily answer.
Evaluation begins without ddp errors(this is pl lightning implementation of mae, no changes):
[code]
Error mentioned above reproduces (the only change is the superclass changed to TensorMetric):
[code]
Basically all that's done is computation of this metric

[2020-09-15 15:11] Borda commented on #3329
@jszym Can you pls ping someone from @PyTorchLightning/core-contributors

[2020-09-15 15:18] AnthonyBarbier commented on #3192
Glad to see some interest in Graphcore's IPUs :slightly_smiling_face:
Just so you know there will be a new version of PopTorch released as part of the SDK 1.3 (Around the end of the month), but Pytorch support in this release will still be experimental (Which means the public API changed quite a bit since the last release and might again in the next few months, especially the part related to distr

[2020-09-15 15:29] lezwon commented on #3192
Hi @AnthonyBarbier, glad to know you're available on the lightning workspace. I am still awaiting a response to my request to access IPU's. Will definitely get back to you once I begin implementing them in lightning. :)

[2020-09-15 15:36] swd543 commented on #1598
I am facing the same issue as mentioned as of lightning 0.9.0. Are there no plans to improve upon this? As I see it, learning rate schedulers that do not work with validation losses makes me look towards other libraries.

[2020-09-15 16:16] Borda commented on #3508
@gauravcanon it is a private collab, pls rather share a minimal example here, or better make it is a test case...

[2020-09-15 16:17] Borda commented on #3507
@Vozf mind tests it on the actual master, we have fixed several issues with metrics recently...

[2020-09-15 16:29] tsteffek commented on #3171
For amp it makes absolutely sense to have softmax result float32, reductions like that are pretty much the prime example why amp is necessary.

So I should probably open an issue at PyTorch's, that their amp breaks the  [AdaptiveLogSoftmaxWithLoss](https://pytorch.org/docs/master/generated/torch.nn.AdaptiveLogSoftmaxWithLoss.html).

As to this issue, in my opinion calling it 16-bit precision and d

[2020-09-15 16:29] dalmia commented on #3238
Hi @sshleifer. I did set `replace_sampler_ddp=False` but still got this error. Thanks for pointing me to this example from HuggingFace. I'll try following their example to see if I can get this working!

[2020-09-15 16:35] Vozf commented on #3507
Well the error got worse.
[code]

[2020-09-15 16:41] #3487 closed

[2020-09-15 16:46] Vozf commented on #3507
The error above is for NumpyMetric(edited comment)
For TensorMetric the incoming pred and target are not gpu tensors. They are cpu tensors and it results in the following error (my TensorMetric code is gpu only)
[code]
This occurs even with single gpu, so that seems like a major bug in current master(0.9.1rc3)
This was not happening on 0.9.0. Pred and target were gpu tensors

[2020-09-15 16:48] Borda commented on #3351
@vr25 mind add important snapshots or your code some it helps also other in the future?

[2020-09-15 16:52] Borda commented on #3276
@williamFalcon is it still there? @s-rog mind check if it is still on master? or better add test for such case...

[2020-09-15 17:39] Borda commented on #3006
@pchandra90 is this still an actual issue, mind test master? 🦝

[2020-09-15 17:41] Borda commented on #2652
@adeboissiere is this still an actual issue, mind test master? 🦝
otherwise could you please share a complete example to reproduce...

[2020-09-15 17:43] Borda commented on #2636
@ehsanmok mind send a PR? 🐰

[2020-09-15 17:45] Borda commented on #2586
@pamparana34 sorry for the delay, mind test actual master, and if it is still there share a complete example to reproduce...
Ideally, an example that can be also used as a test to prevent such behavior in the future...

[2020-09-15 17:48] gauravcanon commented on #3508
Updated link my bad

[2020-09-15 17:53] Borda commented on #2658
I guess this was resolved, otherwise feel free to reopen... 🐰

[2020-09-15 17:53] #2658 closed

[2020-09-15 18:07] rohitgr7 commented on #2586
@Borda this is still an issue.

[2020-09-15 18:10] gauravcanon commented on #3508
I think this problem is not related to PyTorch-lighting. This is transformer update https://github.com/huggingface/transformers/pull/4510#issue-421650163
Sorry can close

[2020-09-15 18:10] #3508 closed

[2020-09-15 18:45] Borda commented on #2109
@aaronma2020 mind provide minimal running example?

[2020-09-15 18:47] rohitgr7 commented on #3399
Should I wait once you are done with refactors? @williamFalcon

[2020-09-15 18:51] rohitgr7 commented on #3006
still raises an error, should be changed to a simple warning. @pchandra90 interested in sending a PR?

[2020-09-15 18:53] edenlightning commented on #2673
@nateraw to verify if this is still an issue,

[2020-09-15 18:55] edenlightning commented on #3399
@rohitgr7  I think you can go ahead, most of the reactors are done!

[2020-09-15 19:07] Borda opened #3510 "split metric in pre- and post- sync/reduce computation steps"
## 🚀 Feature

split metric in pre- and post- sync/reduce computation steps
decide what to reduce how (usually, this resolves in gathering results of the pre-sync outputs and aggregating them)

### Motivation

### Pitch

### Alternatives

### Additional context

[2020-09-15 19:16] williamFalcon commented on #3491
yeah this is fine. if you return none it should skip to the next batch. @teddykoker

[2020-09-15 19:19] Borda opened #3511 "handle aggregation of different batches"
## 🚀 Feature

resolve handling the aggregation of different batches (for classification there are 'micro', 'macro' and 'weighted' for example) and include these in the class-based interface

### Motivation

### Pitch

### Alternatives

### Additional context

[2020-09-15 19:21] Borda opened #3512 "add tests for metrics in DDP"
## 🚀 Feature

Add tests for #3510 #3511 (some are already there) and add tests to ensure they work in DDP

### Motivation

### Pitch

### Alternatives

### Additional context

[2020-09-15 19:46] Borda commented on #1537
@jbschiratti @junwen-austin @Deanamic anyone wants to take this over?

[2020-09-15 19:48] Borda commented on #2673
@calclavia @sshleifer mind share PT version you were using and eventually test it the issue is still presented on master?

[2020-09-15 19:54] Borda commented on #2914
@krisho007 feel to reopen if needed 🐰

[2020-09-15 19:54] #2914 closed

[2020-09-15 20:24] Borda commented on #2590
there is no attribute `--gpu_id` you shall use `--gpus`

[2020-09-15 20:59] ananthsub commented on #3491
Should this be handled at the dataloader level instead? the dataloader should fetch enough examples to fill a full batch

[2020-09-15 21:28] awaelchli commented on #3506
how many batches are in one epoch?
try a lower value for row_log_interval

[2020-09-15 21:47] ruotianluo opened #3513 "RPC support"
## 🚀 Feature
Pytorch 1.6 adds rpc. When will that be added to pytorch-lightning?

[2020-09-15 21:53] Borda commented on #3513
@ruotianluo mind add a link, some more motivation?

[2020-09-15 21:56] ruotianluo commented on #3513
https://pytorch.org/docs/stable/rpc.html. It seems to me is used to do model parallelism. I guess it's not a high-frequency use case, but just curious if you have looked at it and have any plan.

[2020-09-15 22:15] vr25 commented on #3351
@Borda Both code and slurm script are linked in the reported bug description. Please let me know if you cannot access it. Thanks!

[2020-09-15 22:38] Borda commented on #3189
just testing and sure if it is a better way as before it linked to GitHub source and you simply create a perm link...

[2020-09-15 22:42] ozen opened #3515 "Allow auto-reduce of Result even if _epoch_end is implemented"
## 🚀 Feature

Currently, if Result is used and *_epoch_end is implemented, auto-reduce of result object is skipped.

The code for the validation loop is linked below. The same logic applies to the train and test loops.

https://github.com/PyTorchLightning/pytorch-lightning/blob/3281586ab4dc3811362a11259831b9d116fc0507/pytorch_lightning/trainer/evaluation_loop.py#L202-L210

So "[doing something spe

[2020-09-15 23:05] akum04 commented on #1238
I also face a same problem.

During the training, I'm using the custom loss function to train my model. However the loss are displayed as 0.000, but when I display the same value to display using different variable it gives 4.73e-5 (some value in exponential format).
Epoch 80: 10%|██▌ | 100/1013 [01:33<14:11, 1.07it/s, loss=0.000, v_num=None, train_loss=4.73e-5]

both loss and train_loss use the s

[2020-09-15 23:10] Borda commented on #3351
[code]

[2020-09-16 00:33] ozen commented on #3012
I have the same issue with tensorboard==2.2.0, pytorch-lightning==0.9.0.

Only the loss is not logged, other train metrics are logged.

[2020-09-16 00:38] jeremyjordan commented on #3330
Sounds good to me, want to submit a PR @carmocca?

Technically, it should be `Union[bool, str, BaseProfiler]`.

[2020-09-16 00:42] carmocca commented on #3491
Ideally yes, but lightning should still allow returning None in case it is not possible.

[2020-09-16 00:52] ozen commented on #3506
Trainer's row_log_interval parameter is set to 50 by default. If the number of batches is less than row_log_interval, train metrics are never logged.

[2020-09-16 01:13] carmocca commented on #3330
Bit busy right now, maybe at a later point.

@Borda Tag it "good first issue" in the meantime?

[2020-09-16 01:20] awaelchli commented on #3506
fyi, there is already an issue here #3466 which requests to base row_log_interval onto global step. It would solve the issue described here.

[2020-09-16 01:26] s-rog commented on #3276
I'll take a look again when I get a chance, haven't probed much due to the refactors... Are they mostly done?

[2020-09-16 01:29] ShomyLiu commented on #2590
@Borda  Hi,  `--gpu_id` is the argparse in my code, and i will pass the `config.gpu_id` into the `gpus` in `trainner`.
Yet, maybe this issues has been resolved in the current version,  and I will check again asap

[2020-09-16 01:32] awaelchli commented on #3351
@vr25 I know this is not related to the issue reported, but looking at your script here I noticed that your main script is not guarded by `if __name__ == "__main__"`
also this line at the and is commented on purpose? I'm pretty sure you need these settings for slurm.

[2020-09-16 01:35] awaelchli commented on #2590
I can confirm this is still an issue. I also run into it very often when I kill ddp training.
I promise I will get back to #2165 soon to fix it.

[2020-09-16 01:42] ShomyLiu commented on #2590
@awaelchli  Thanks for your great effort, and it's indeed a critical issue.

[2020-09-16 01:57] ananthsub commented on #3491
This almost seems like wrapping the train step in a try/catch, and if there's an exception, return none and continue to the next batch. An argument against this is that it could obscure real issues in your training pipeline For instance, if there's a bug in your dataloader that causes it to always return empty batches? Lightning would blindly iterate through the whole dataset issue instead of fail

[2020-09-16 02:02] s-rog commented on #3276
@Borda the bug is still here, the following template tests for this issue as well as #3278

For this problem the easiest fix would be to force type to tensors. Though that's probably just a bandaid solution, thoughts?

<details>
<summary>Test template for reference</summary>

[code]
</details>

[2020-09-16 02:52] vr25 commented on #3351
@awaelchli Yes, you're right, I just got the code from [here](https://github.com/shotleft/how-to-python/blob/master/How%20it%20works%20-%20Bike%20Share%20Regression%20PyTorch%20Lightning.ipynb).

I am sorry but which last line is commented? code or slurm script?

[2020-09-16 02:57] awaelchli commented on #3351
Here
[code]
There is a comment there, the ddp should be included, im pretty surw

[2020-09-16 03:21] vr25 commented on #3351
Sorry, you're right, I was just trying w/ and w/o ddp and so I didn't uncomment before uploading the code. Anyway, neither worked.

[2020-09-16 03:55] kyoungrok0517 commented on #3493
Hello, I'm experiencing the similar thing and I'm using multi GPU.

[code]

translated into

[code]

The full callback code is below

[code]

[2020-09-16 05:15] NickYi1990 commented on #3506
em... I think give a warning when row_log_interval < 50 will be a better user experience

[2020-09-16 05:15] pchandra90 commented on #3006
@Borda, Tested the master, there is no change in the issue status. **Here is the code to reproduce:**

[code]

**RuntimeError:**

[code]

---

[code]
**Output with the warning:**

[code]

@rohitgr7 , Yes, I can send PR to fix the issue. However, can not do it before the weekend.

[2020-09-16 05:31] #2559 closed

[2020-09-16 05:57] SkafteNicki commented on #1598
@swd543 it is not correct that learning rate schedulers in lightning cannot be conditioned on specific values. Take this [example](https://pytorch-lightning.readthedocs.io/en/latest/optimizers.html) from the docs:
[code]
here the scheduler gets conditioned on the `monitor` value which is set to be the validation loss.

[2020-09-16 06:15] NickYi1990 commented on #3356
It's seems impossible to compute roc_auc in every epoch end when using new Result class.... I quit...

[2020-09-16 07:41] agangzz commented on #469
I had the same error, too
cannot import name 'TestTubeLogger'

[2020-09-16 08:21] SkafteNicki commented on #1249
With PR #3245 merge, this is solved now. Each metric now have a `aggregated` property that contains the aggregated metric value of data seen so far. In practice you can use it like this in lightning:
[code]
Closing this issue.

[2020-09-16 08:21] #1249 closed

[2020-09-16 08:48] Borda commented on #469
pls try `pip install pytorch-lightning["extra"]`

[2020-09-16 09:06] minhduc0711 opened #3518 "Logging to progress bar doesn't work when calling trainer.test()"
## 🐛 Bug

The metric logged by `EvalResult.log()` doesn't show up in the progress bar when setting `prog_bar=True`.

#### Code sample
[code]

### Expected behavior

`test_loss` shows up in the progress bar when running the above script.

### Environment

 - PyTorch Version: 1.6
 - OS: Linux
 - How you installed PyTorch: pip
 - Python version: 3.8.5

[2020-09-16 09:43] SkafteNicki commented on #3507
@Vozf could you move the initialization of the metric to `__init__` of your model. Metrics should behave similar to `nn.Module` and move calculations to the correct device if initialized correctly.

[2020-09-16 09:45] Vozf commented on #3507
It's inside init. Sorry for misunderstanding, I wanted to clarify what `self.metric` is

[2020-09-16 09:46] SkafteNicki commented on #3512
@Borda I have started PR https://github.com/PyTorchLightning/pytorch-lightning/pull/3517 which should do the necessary testing so we know that everything works as it should.

[2020-09-16 09:52] SkafteNicki commented on #3507
Could you provide a colab notebook where I can reproduce the errors you are getting?

[2020-09-16 09:55] Vozf commented on #3507
Does the colab has multigpu to reproduce ddp?

[2020-09-16 10:02] Borda commented on #3507
@Vozf unfortunately just one GPU or TPU

[2020-09-16 10:04] Vozf commented on #3507
So it doesn't seem like an option unless you are planning to download notebook and execute it with multigpu

[2020-09-16 10:07] SkafteNicki commented on #3507
I can execute on multi gpu just need some (minimal) code that can reproduce your error.

[2020-09-16 10:09] Vozf commented on #3507
Ok, I'll try to build an example

[2020-09-16 10:13] lorrp1 commented on #125
@Josepharol have you managed to fix it?

[2020-09-16 10:47] awaelchli commented on #3518
logging metrics to the progress bar when running over the test or validation set doesn't make sense. You should compute the metric over the whole dataset.

[2020-09-16 11:33] awaelchli commented on #3494
ok adding back the bug label.

that's with the latest version? can you make a separate issue please? thanks

[2020-09-16 11:41] awaelchli commented on #3481
@rohitgr7 yes! subtle difference there, but very important! this is indeed working as intended.
@7rick03ligh7 for reference, what @rohitgr7 explained is also written here in the "Note" section:
https://pytorch-lightning.readthedocs.io/en/latest/api/pytorch_lightning.core.html#pytorch_lightning.core.LightningModule.configure_optimizers

[2020-09-16 12:06] #3506 closed

[2020-09-16 12:46] #3518 closed

[2020-09-16 12:47] gerardsn commented on #3518
@awaelchli I'm not sure I understand your answer. If the `prob_bar` flag shouldn't be used during validation or testing, then why does it exist in `EvalResult.log()`?

[2020-09-16 13:36] gerardsn commented on #3515
similar to #3215

[2020-09-16 15:04] minhduc0711 commented on #3518
I wanted to quickly check if the batch testing results were sensible or not, so I think that's one possible use case.

But if this is by design, then why even include `on_step` and `on_epoch` in `EvalResult().log`? What are the intended behaviors for these parameters?

[2020-09-16 15:09] awaelchli commented on #3518
@williamFalcon

[2020-09-16 15:10] 7rick03ligh7 commented on #3481
@awaelchli yeah, but in the documentation, it is not clear that with frequencies the outputs will be in a single list (at least for me)

[2020-09-16 15:14] #3481 closed

[2020-09-16 15:36] ananthsub opened #3521 "Enable training purely based on number of iterations instead of epochs"
## 🚀 Feature
Enable training purely based on number of iterations instead of epochs

### Motivation

This can be useful for certain training runs. Without this feature, the user must set an unreachably high value for `max_epochs` and set `max_steps` to the desired iteration count. With this setup, the trainer will break from the training loop based on `max_steps` since we'd never reach `max_epochs

[2020-09-16 16:23] Vozf commented on #3507
[code]
Tested with 0.9.0. The error reproduces. The main part is the super class of mae in 1 case it works in other it raises ddp exception.

The errors I mentioned with 0.9.1 should reproduce too, but I didn't test with it

[2020-09-16 16:24] Vozf commented on #3507
If changed to single gpu(`gpus=[0]`) It works in both cases

[2020-09-16 16:48] edenlightning commented on #3497
@williamFalcon  please take a look as i think this needs to happen pre 1.0?

[2020-09-16 17:12] edenlightning commented on #1827
@SkafteNicki could you reproduce the error?

[2020-09-16 17:22] edenlightning commented on #2869
@teddykoker mind tackling this one? should be simple

[2020-09-16 17:23] edenlightning commented on #3016
@kmistry-wx does the issue persist?

[2020-09-16 17:24] edenlightning commented on #3215
@williamFalcon please take a look!

[2020-09-16 17:28] edenlightning commented on #3031
@hmdolatabadi were you able to find a workaround?

[2020-09-16 18:01] griff4692 commented on #3430
Thanks! this worked

[2020-09-16 18:16] edenlightning commented on #2976
@invisprints did your question get answered?

[2020-09-16 18:20] tbenst commented on #3494
Yes, I think it’s appropriate to leave in same issue as the learning rate finder mutates the lr parameter of the LightningModule, which is reasonable, and the problem is that save_hyperparameters is based on the init args, when it should save parameters based on their current state when save_hyperparameters is called. Let me know if you think differently and happy to make another issue?

[2020-09-16 18:20] edenlightning commented on #3381
@tgaddair any update?

[2020-09-16 18:21] teddykoker commented on #1758
What is the status on this? We do support sub-epoch checkpointing, but as @awaelchli mentioned, it doesn't restore to the global checkpoint?

[2020-09-16 18:22] williamFalcon commented on #1758
yeah... i don't think we can actually restore sub epoch state though?

know of a way to do that? we'd have to pull the shuffle state out of the loaders

[2020-09-16 18:23] tgaddair commented on #3381
Hey @edenlightning, not yet.  I will try to take a look this week.

[2020-09-16 18:26] edenlightning commented on #3403
@jloveric mind giving more details?

[2020-09-16 18:27] teddykoker commented on #1758
I don't it even matters if train loaders are shuffled, I'm not sure if this is important

[2020-09-16 18:31] edenlightning commented on #2101
@feribg can we close this issue? mind checking again on master?

[2020-09-16 18:31] edenlightning commented on #2205
closing this. please comment if this needs to be reopened.

[2020-09-16 18:31] #2205 closed

[2020-09-16 18:32] #2772 closed

[2020-09-16 18:33] edenlightning commented on #2804
@SkafteNicki whats the fix here?

[2020-09-16 18:35] teddykoker commented on #1537
This appears to be an issue on both `training_epoch_end()` as well as `validation_epoch_end()`, as there is now no reduction for either.

[2020-09-16 18:35] edenlightning commented on #2558
@pherrusa7 can you verify this is still broken in master?

[2020-09-16 18:35] tbenst opened #3522 "save_hyperparameters does not save result of LR finder"
## 🐛 Bug
Follow-on to https://github.com/PyTorchLightning/pytorch-lightning/issues/3494. Because `save_hyperparameters` only saves the init args, it does not save the output of the learning rate finder, which mutates `lr`. These are two different bugs that result from the same implementation decision of basing hyperparams on init args. I think this is reasonable for sure, but perhaps the current v

[2020-09-16 18:36] edenlightning commented on #2586
@pamparana34 could you send us a failing test case with your example?

[2020-09-16 19:05] YuraYelisieiev opened #3523 "Problems with creation own Logger"
## 🐛 Bug

### To Reproduce

Steps to reproduce the behavior:
When creating a custom logger I had a trouble that I need to implement, additional methods and add some parameters to the custom logger class

#### Code sample

[code]

### Expected behavior

From the documentation I understood that it should work without them.

 - PyTorch Version 0.7.0:
 - OS Mac OS Catalina:
 - Installed with conda:
 -

[2020-09-16 19:11] miccio-dk opened #3524 "in `child_modules` the forward pass example should use the encoder subnet"
## 📚 Documentation

In my understanding, the forward pass of the example autoencoder should return the latent representation extracted by the encoder.
If my assumption is correct, then the `forward`, `training_step`, and `_shared_eval` functions should be corrected to reflect that. In this case, I'd be happy to create and submit a PR.
Otherwise, I am deeply confused and could use an explanation 😅

[2020-09-16 19:26] teddykoker commented on #1537
Seems to work using results objects, but not with dicts

[2020-09-16 20:15] rohitgr7 commented on #3524
I think yes, it should be the encoder, or maybe it can do both by passing a flag? It's an AutoEncoder, can run both ways.

[2020-09-16 21:35] teddykoker commented on #2869
@edenafek can you elaborate on this one? Not sure what you mean here ...

[2020-09-16 22:00] rohitgr7 commented on #3399
I need some suggestions with the API. I think wrapping up these 3 functions `on_before_batch_transfer`, `transfer_batch_to_device` and `on_after_batch_transfer` into a single one something like `prepare_batch` would be better here.
[code]
since `transfer_batch_to_device` is being called at multiple places already and adding these 2 additional calls everywhere isn't a good way.

Also move `transfer

[2020-09-16 22:37] miccio-dk commented on #3524
Good point! However, the article says that "we now want to train an Autoencoder to use as a feature extractor for MNIST images" ;)

[2020-09-17 00:19] tmcclintock commented on #3402
The mlflow devs fixed this issue on master as [seen here](https://github.com/mlflow/mlflow/pull/3410). I don't know when this will make it into a version. I'll loop back around here when it does.

[2020-09-17 01:01] s-rog commented on #3276
I looked into it a bit and `reduce_across_time` is getting called on all metrics if one metric in results is logged with `on_epoch=True` which makes `on_epoch=True` only compatible with tensor scalars since the default tbptt fn is `torch.mean`

This is probably not intended behavior?

[2020-09-17 01:38] invisprints commented on #2976
No, what I want is we can monitor anything we want, not just val_checkpoint_on

[2020-09-17 02:10] Josepharol commented on #125
@lorrp1 Thanks for reaching out. My python version is 3.6.10 and other requirements are as per the author's guidance. If you have older versions of other packages, please uninstall and reinstall, then it should work. It would be better if you have a very small dataset to test your code.
Hope this helps.

[2020-09-17 02:27] carmocca opened #3526 "Add strict option to scheduler"
## 🚀 Feature

When a `ReduceLROnPlateau` scheduler is used, training stops with a raised `MisconfigurationException` if the `monitor` is not found. We should add a `strict` option (same as in the `EarlyStopping` callback) so it is configurable.

EarlyStopping:
https://github.com/PyTorchLightning/pytorch-lightning/blob/c64520e658806a87f282c74299b2ea4b7ea493ea/pytorch_lightning/callbacks/early_stopp