[2020-09-17 02:43] #2100 closed

[2020-09-17 03:15] wolterlw commented on #3399
+1 for implementing a broader `prepare_batch(self, batch, device)` function
Also consider that right now `transfer_batch_to_device` isn't called when running on CPU.
This causes inconsistencies when debugging on local machines without a GPU.

[2020-09-17 03:50] carmocca commented on #3332
Found out I can do what I want with https://docs.python.org/3/library/logging.html#integration-with-the-warnings-module.

Closing. Thanks!

[2020-09-17 03:50] #3332 closed

[2020-09-17 08:37] #2736 closed

[2020-09-17 08:37] #3097 closed

[2020-09-17 09:12] mlinxiang commented on #3380
if i set result = pl.EvalResult() , then in val_epoch_end() can't use pl.EvalResult() again?
when i use the log in val_step() has no data write to tensorboard.

[2020-09-17 11:17] bartonp2 commented on #3451
I have the same problem on a cluster with LSF. Basic profiling shows most time is spent in the forwards and backwards pass, as well as the optimisation step. Furthermore, checking GPU utilisation appears to be 0% even though pytorch lightning found the gpu device and said it was using it.

[2020-09-17 12:46] bartonp2 commented on #3451
For me the problem turned out to the setting of the  'distributed_backend' option in the trainer. I had set this to 'None' for testing purposes through the command line. Removing this command line option or changing it back to 'ddp' solved the issue. GPU utilisation is now back up.

[2020-09-17 12:48] williamFalcon commented on #3399
@tchaton

[2020-09-17 14:28] SkafteNicki commented on #3507
I took a look at this, and cannot reproduce this on master which means that your problems was most likely solved by PR #3245. Thus, if you install that latest version of master you should be fine.

[2020-09-17 14:35] zhangguanheng66 opened #3529 "Retire legacy code in torchtext"
## ❓ Questions and Help

As the maintainer of the torchtext library, we plan to retire `torchtext.data.batch.Batch` and `torchtext.data.example.Example` in the next release (by the end of October). Those two components will be still available in `torchtext.legacy`. To handle the compatibility issue, should we send a PR and fix this on GitHub first, or we could just make some changes in fbcode?

He

[2020-09-17 14:56] Vozf commented on #3507
Tried to reproduce on master, and wasn't able to.
Probably I'm wrong and something is wrong with my code, but I still believe there is a problem with ddp metric aggregation.
My numpyMetric is still not working saying RuntimeError: Tensors must be CUDA and dense. When aggregating.
Unfortunately got no time to create more artificial examples. Therefore closing

[2020-09-17 14:56] #3507 closed

[2020-09-17 15:00] SkafteNicki commented on #3507
@Vozf I promise to take a look at the NumpyMetric one of the following days myself.
I am aware that aggregation may be unstable. I have opened PR #3517 where I will add test for all metrics to make sure that aggregation is working for each and everyone (however, this may take some time).

[2020-09-17 15:06] Vozf commented on #3507
If that helps
My intuition during debugging was that numpyMetric np.array is getting converted to torch.Tensor(device=cpu) instead of gpu and that leads to this error
    work = _default_pg.allgather([tensor_list], [tensor])
RuntimeError: Tensors must be CUDA and dense

[2020-09-17 15:23] edenlightning commented on #2976
marking as duplicate.

[2020-09-17 15:24] edenlightning commented on #3276
@justusschock @SkafteNicki

[2020-09-17 15:53] awaelchli commented on #2869
https://github.com/PyTorchLightning/pytorch-lightning/blob/7b64472ced732c6762978f2a3a844f6ef5261157/pytorch_lightning/callbacks/model_checkpoint.py#L310

[2020-09-17 15:55] Borda commented on #2869
heh, I dont like this `m="""..."""` formatting :D

[2020-09-17 15:57] justusschock commented on #3276
@edenlightning this is not related to metrics.

@s-rog I guess a simple type check that converts scalars to scalars tensor should do the trick? If so, could you open a PR with this fix?

[2020-09-17 16:07] #2869 closed

[2020-09-17 16:28] teddykoker commented on #3356
Hi there! We are currently working on a fix to epoch-level metrics with the `Results` object. We realize that the method outlined in the documentation does not actually work.

In the mean time I would recommend using the old dictionary-based approach, which shouldn't lead to any issues

[2020-09-17 17:59] rohitgr7 commented on #3524
@miccio-dk This is an issue on lightning-bolts, can you open an issue there or maybe just make a pull request there itself. Closing this one.

[2020-09-17 17:59] #3524 closed

[2020-09-17 18:23] astenuz commented on #3356
@NickYi1990 for training i ended up using the `on_batch` flag for the AUC `results.log()` in the training_step. Sometimes it had some issues because the AUC can not be calculated when all datapoints in the minibatch have the same class, So I had to increase batch size a bit.

[2020-09-17 18:36] Borda opened #3531 "add support for 1.7 nightly"
## 🚀 Feature

@ydcjeff created a CI with Conda to have tested with nighly 1.7 but in #3074 some tests were failing for 1.7 some let's move it as separate work

### Motivation

be continuously compatible even with new PT versions when they come

### ToDo

- [ ] uncomment CI and enable 1.7 testing
- [ ] fix test so 1.7 passes

[2020-09-17 19:26] edenlightning commented on #3515
Closing this, keeping #3215.

[2020-09-17 19:26] #3515 closed

[2020-09-17 19:28] edenlightning commented on #3521
@williamFalcon should we move to 1.1?

[2020-09-17 19:49] edenlightning commented on #3249
@romesco want to try and submit a PR for this?

[2020-09-17 19:56] kandluis opened #3532 "Support automatic torchscript checkpointing."
## 🚀 Feature

Support exporting to TorchScript natively in the ModelCheckpoint callback. This would be a natural follow-up to #3080.

### Motivation

It's common for users to rely on checkpoints (eg, usually last, but sometimes other intermediate models especially if using model ensembles or picking the best model the last k models). Frequently these models need to be served in a non-Python enviro

[2020-09-17 19:59] edenlightning commented on #3018
@williamFalcon what is left to do?

[2020-09-17 20:01] edenlightning commented on #3001
Anyone can send a PR?

[2020-09-17 20:12] hmdolatabadi commented on #3031
No, I just load the model directly instead of using the .load_from_checkpoint to avoid this issue.

[2020-09-17 22:04] awaelchli commented on #2311
I just looked at it. In summary:
1.
OP had this problem:
`MisconfigurationException: you requested to check 0.01 of the val dataloader but 0.01*0 = 0. Please increase the limit_val_batches. Try at least limit_val_batches=0.09090909090909091`
This message is correct, it is telling you that the percentage you have chosen corresponds to less than one batch.
Solution:
You need to increase the value. B

[2020-09-17 22:41] matkalinowski commented on #924
Here is my pretty dirty solution to load this checkpoint left by ModelCheckpoint callback:

[code]

[2020-09-17 22:43] kittipatv opened #3535 "Generator API for train_step with multiple optimizers"
## 🚀 Feature
Add a generator API version of `LightningModule.train_step()` when dealing with multiple losses/optimizers.

### Motivation

When dealing with multiple optimizers, the current API pass an additional `optimizer_idx` argument to `train_step()`. This is cumbersome with optional steps and shared variables. For example, this [code section]( https://github.com/facebookresearch/ReAgent/blob/

[2020-09-17 23:02] LionHeart55 opened #3536 "How to skip a step"
## ❓ Questions and Help
I have a medical dataset with lots of blank targets
I would like to skip train_step(s) for these blank targets
I get the targets by splitting each batch to input, target, weight

How can I skip these batches for trainin_step or validation_step

I tried returning None instead of the regular dictionary:     {loss:  0.234, ...}

[2020-09-17 23:32] awaelchli commented on #3171
apart from this design suggestion, is there anything we need/can fix in Lightning?
If not, we may want to close this bug report and discuss the remaining part on a new issue.

[2020-09-18 00:35] awaelchli commented on #2551
@williamFalcon @moi90 what if we just made this a hook? The default hook will implement what we have today, set the model to train or eval mode. But if user wants the fine tuning use case, they can override the hook and just set their layers to train/eval mode manually.

[2020-09-18 00:49] awaelchli commented on #2614
@jinhonglu Is there any further information you could provide? Sorry for the late request, but I would need a full code example to check if this is still an issue. Your code sample looks fine, so I cannot guess what the problem might be unless I can reproduce it. Again, sorry for the late response.

[2020-09-18 01:14] mortonjt opened #3539 "Re-initializing weights before each batch"
This question was initially posted on the pytorch forums [here](https://discuss.pytorch.org/t/initializing-weights-before-an-sgd-update/96079).

After further investigation, I'm noticing some interesting behavior within the `optimizer_step` function -- my parameters of interest get updated accordingly, then get _reverted_ back to the original state in the next iteration.

I'm narrowing down the su

[2020-09-18 01:32] lezwon commented on #3305
Have unassigned myself as I'm a little short on bandwidth rt. Can take it up sometime later if its still pending. :)

[2020-09-18 01:46] mortonjt commented on #3539
Ok, I _think_ that this problem has been resolved by defining the `on_train_batch_start` callback.  But I'm still going to leave this open, because the `second_order_closure` function could benefit from more documentation.

[2020-09-18 04:01] shanhaidexiamo opened #3542 "GPUs requested but none are available"
my server has 8 GPUs, but when I use the **trainer** class and set gpus = -1, it gets the run error **GPUs requested but none are available**, use torch to check the gpus , get the number of gpu is 8, and cuda.is_available is true. Does any one can tell me what's wrong ?

[2020-09-18 05:01] ananthsub opened #3544 "Support DataModule on_save_checkpoint and on_load_checkpoint hooks"
## 🚀 Feature
LightningModules have the ability to augment the checkpoint dict with custom information relevant to the module. The motivation for this issue is to provide the same functionality for DataModules, as they too might have custom information they need to read from or write to the checkpoint dict. Importantly, there will only be one checkpoint saved during training. This checkpoint will c

[2020-09-18 05:57] nateraw commented on #3544
Assigned @ananthsub as he mentioned he wouldn't mind taking a stab at implementing this. Assigned myself to keep an eye on it.

@PyTorchLightning/core-contributors lets support Ananth as he submits contribution for this. Please leave your thoughts on the proposed solution here if you have any 😄 .

[2020-09-18 06:14] ananthsub opened #3545 "on_save_checkpoint callbacks runs in rank zero only"
## 🐛 Bug

If any callback implements `on_save_checkpoint`, then that function runs only in the rank zero worker. I think this is suboptimal as you might want to do some communication across workers before saving state.

The lineage of calls here is:

- [model checkpoint callback's on_validation_end is decorated with rank_zero_only](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/

[2020-09-18 06:15] nateraw commented on #2718
moving discussion to #3544 as it lays out plans to implement the feature this question is inquiring about.

[2020-09-18 06:15] #2718 closed

[2020-09-18 06:16] nateraw commented on #3232
Moving discussion to #3544 as it lays out plans to implement the feature mentioned here.

[2020-09-18 06:16] #3232 closed

[2020-09-18 06:29] romesco commented on #3249
Yep! I started it I'll put out the draft PR tomorrow or so. Got caught pushing for a deadline so some of my open source stuff got backlogged =].

[2020-09-18 06:30] Borda commented on #3539
I would keep this question in the forum...

[2020-09-18 06:30] ydcjeff commented on #3531
@Borda Let me take this one

[2020-09-18 06:34] Borda commented on #3542
Mind check if you have installed CUDA version of your PT as `torch.cuda.is_available()`

[2020-09-18 06:38] ananthsub commented on #3496
this is blocked on #3545
For more context, I want to use https://github.com/facebookresearch/fairscale/blob/master/fairscale/optim/oss.py with Lightning. I have a callback that defines `on_save_checkpoint` to call the optimizer's [`consolidate_state_dict` ](https://github.com/facebookresearch/fairscale/blob/master/fairscale/optim/oss.py#L168)

however, this requires the callback to run in all work

[2020-09-18 06:42] Borda commented on #3529
I think when you know from which version you are going to change it we can implement it right away on one of the following ways (also if you have another proposal it is welcome)
1. with known version:
[code]
2. generic ways:
[code]

[2020-09-18 06:44] Borda commented on #3522
@tbenst mind send a draft PR with your suggestion so we are clear what you propose to change?

[2020-09-18 06:45] nateraw commented on #2520
Try something like this, maybe?

[code]

[2020-09-18 06:50] nateraw commented on #2385
My _personal_ recommendation is to define your init args explicitly + add type hints. Then use argparser to parse the args and pass those in explicitly as well. **Everything is easier if you can explicitly define it**. Thats the bottom line...using kwargs or hparams w/o stating the args _is possible_, but very hard to follow in my opinion.

However, if you need to parameterize different combinatio

[2020-09-18 06:52] Borda commented on #3523
you need to fill all abstract methods/attributes, see your error message
`TypeError: Can't instantiate abstract class ReportLogger with abstract methods experiment, name, version`
Feel free to reopen if needed :]

[2020-09-18 06:52] #3523 closed

[2020-09-18 07:34] ananthsub commented on #3545
with this thread i wanted to raise awareness of a limitation in the callback API here and a proposed workaround. if the code complexity isn't palatable, then we should document the limitations of the API.
making the implementation in `on_validation_epoch_end` have some more checks for `trainer.is_global_zero` rather than relying on the catch all decorator isn't so bad.  we're still able to apply t

[2020-09-18 07:49] Borda commented on #3526
can you elaborate a bit more on this case, not sure what is the case that you would endup without loss...

[2020-09-18 07:54] Borda commented on #3500
I would say that the case is that for training you shall define nb steps per epoch so then you just sample from dataloader as much to finish your epoch, but for testing, you shall run all and if you don't know how many we cannot provide any progress has or other estimates... So maybe we can change it just to warning and drop the progress bar in such a case... What do you think?

[2020-09-18 07:55] Borda commented on #3499
I think that @edenlightning is working/coordinating this update...

[2020-09-18 07:56] Borda commented on #3495
lets wait here till refactoring is done, then we shall also consider adding abstract Backend class

[2020-09-18 08:10] kmistry-wx commented on #3016
@edenlightning After upgrading (PyTorch 1.5.0 -> 1.6.0, Pytorch Lightning 0.9.0rc12 -> 0.9.0), I can no longer reproduce. A trainer run on gpu:1 seems to only use resources from gpu:1 now

[2020-09-18 08:25] Borda commented on #3536
I would recommend doing this filtering on DataModule side, just to don't include these images in training/validation...
cc: @nateraw

[2020-09-18 08:26] Borda commented on #3532
@kandluis do you have any estimate about time delay with exporting the model also to TorchScript?
just thinking that in such case you are probably fine just with exporting the best one or k-best, right?

[2020-09-18 09:08] magic282 opened #3548 "Confusing Documentation about TrainResult and EvalResult"
## 📚 Documentation
Hi,

I am trying to migrate from pl 0.7.6 to latest 0.9.0. The TrainResult and EvalResult seems to be new a new wrapper.

I am confused by the documentation of them.

The `log` function of TrainResult says:
[code]
How is TrainResult during training related to the validation or test steps? What does this `on_step` really mean?

---
Another issue is about the `sync_dist: if True,

[2020-09-18 09:49] SkafteNicki commented on #3526
@carmocca is there a specific reason why your model fails to produce a validation loss for the first epoch?
I like this addition as we have already encountered before that some users setup their training such that sometimes the validation loss is computed after they need it for their scheduler (https://github.com/PyTorchLightning/pytorch-lightning/issues/1598, https://github.com/PyTorchLightning/p

[2020-09-18 12:03] carmocca commented on #3526
Same reason as https://github.com/PyTorchLightning/pytorch-lightning/pull/3527#issuecomment-694827383

[2020-09-18 12:12] carmocca commented on #3505
Hello Jaime! Haven't seen you in a long time, hope everything is ok! :smile:

I have the exact example you are looking for. You can have a look here:
https://github.com/carmocca/PyLaia/blob/33455b4efaeebfee702fd384ef8f0c5ea580737d/laia/engine/htr_engine_module.py#L97-L107

We have implemented returning a `Result` object, please check out the docs [here](https://pytorch-lightning.readthedocs.io/en/

[2020-09-18 12:21] jiwidi commented on #3505
Hello @carmocca!

Yes it's been a long time, hope everything goes good with you too! Is nice to see you around here, means you are doing cool stuff!

The example and docs solved my question, perfect! :+1:

[2020-09-18 12:23] #3016 closed

[2020-09-18 12:31] #3505 closed

[2020-09-18 12:43] edenlightning commented on #3545
@williamFalcon PTAL

[2020-09-18 12:48] carmocca commented on #3536
If you can, you should filter at the dataset, DataLoader or DataModule side. Otherwise, I have a (currently work-in-progress) PR to support this: https://github.com/PyTorchLightning/pytorch-lightning/pull/3527

[2020-09-18 13:00] pbmstrk opened #3549 "Bug in validation_epoch_end"
## 🐛 Bug

In the [documentation](https://pytorch-lightning.readthedocs.io/en/latest/lightning_module.html?highlight=validation_epoch_end#validation-epoch-end), `validation_epoch_end` is described as running at the end of a validation epoch and does not need to necessarily return anything.

When running a slightly modified version of the [example](https://pytorch-lightning.readthedocs.io/en/latest/

[2020-09-18 13:10] Borda commented on #3548
btw, The dict is still supported...
the `on_step` is for logging to TB or what ever you use
`sync_dist` depend if you are running DDP or not..

[2020-09-18 13:41] zhangguanheng66 commented on #3529
Thanks. We will know which the version we will change. I'm just wondering if I should change this on Github first, or I can send a Diff internally to fbcode and later on sync with the master branch. I just want to know the mechanism to sync PyTorchLightening between fbcode and github.

[2020-09-18 14:32] mortonjt commented on #3539
@Borda that's fine ...
But are you open for a PR to update the documentation?  This was not trivial to debug ...

[2020-09-18 14:33] LlewellynS96 opened #3550 "WandbLogger does not seem to support model and parameter tracking"
I am unsure whether this issue can be fixed from PyTorch Lightning's side or whether the issue lies with Wandb.  The problem is that the WandbLogger.watch() function
https://github.com/PyTorchLightning/pytorch-lightning/blob/c46de8a3d4a18e5030dc9f07e96bb6abc7643945/pytorch_lightning/loggers/wandb.py#L136-L137
calls the watch() function in wandb/sdk/watch_run.py (on Wandb's side), which is basicall

[2020-09-18 15:17] teddykoker commented on #3549
Hi there! What you are seeing in the first output is caused by our "validation sanity check". We run a configurable number of validation steps _before_ training starts to ensure the user doesn't run into any issues after a potentially timely series of training steps. This can be configured with `pl.Trainer(num_sanity_val_steps=0)`.

Regarding returning `None` from `validation_epoch_end`, it appear

[2020-09-18 15:29] Borda commented on #3529
you can prepare a PR and later ping us when it actually, just not to forget it...
even throw we would find it as soon as you release it that some our tests are failing :]

[2020-09-18 15:31] Borda commented on #3539
Sure doc update is very welcome :]

[2020-09-18 15:32] borisdayma commented on #3550
Hi, it should have been fixed.
Can you confirm what version of wandb you are using?

[2020-09-18 15:42] zhangguanheng66 commented on #3529
Sounds good. For the timeline, we will drop those legacy code from the master branch early October and eventually in 0.8.0 release (10/27/2020).

[2020-09-18 15:51] #2571 closed

[2020-09-18 15:51] #2583 closed

[2020-09-18 16:02] LlewellynS96 commented on #3550
@borisdayma sorry, and thanks. I was using version 0.10.0 (from a week ago), but the issue was indeed fixed with 0.10.1 from 2 days ago.

[2020-09-18 16:02] #3550 closed

[2020-09-18 16:55] Borda commented on #3529
so I think that if you decided to go with version check you can send it now...

[2020-09-18 17:26] joshclancy commented on #2728
I have this same question... what are the best practices for logging images? my usual wandb.log seems to no longer work, as it is now wandbLogger. I read the Train/EvalResults page but the documentation seems sparse here.

[2020-09-18 19:10] pbmstrk commented on #3549
@teddykoker That makes sense. Thanks for the pointer for configuring this!

[2020-09-18 19:25] abrahambotros commented on #2753
@remisphere https://github.com/PyTorchLightning/pytorch-lightning/issues/3097 fixes some of the issues you mentioned in the issue description above - you can now specify `num_classes` to the class version of `IoU`, similar to how you could specify that for the functional version before. If you're still computing IoU on just a single example (and not the whole dataset, as was recommended above if y

[2020-09-18 20:43] ToucheSir commented on #2753
I'm not sure what kind of aggregation @remisphere was looking for, but #3321 won't aggregate confusion matrix based metrics in the same way one would expect e.g. Keras to. Frankly, I'm not too clear on how one would interpret summing or averaging confusion matrices from different batches.

That said, the solution above still works and can be cleaned up a bit now that Train/EvalResult exist.

[2020-09-18 21:08] #3199 closed

[2020-09-18 21:09] #3125 closed

[2020-09-19 01:15] ozen commented on #3172
I have mentioned multi-process data loading as the cause of the spam of warnings. In fact, this is a problem only in Windows when `import pytorch_lightning` statement is outside of `if __name__ == '__main__':` block. The reason of this is [described here](https://pytorch.org/docs/stable/data.html#platform-specific-behaviors). Moving the import statements inside the if block solves the problem.

We

[2020-09-19 05:20] ananthsub commented on #3529
@zhangguanheng66 There is none. PyTorch Lightning isn't linked to internal pytorch

[2020-09-19 07:29] moi90 commented on #2551
Where and when would this hook be called? How would this be different from using `on_epoch_start`?

[2020-09-19 09:32] magic282 commented on #924
Still having this issue in 0.9.0. The issue comes from here:
https://github.com/PyTorchLightning/pytorch-lightning/blob/b40de5464a953ff5866a255f4670d318bd8fd65a/pytorch_lightning/core/saving.py#L169

In fact, the hparams saved in checkpoint is indeed a Namespace. However, the `CHECKPOINT_HYPER_PARAMS_TYPE` was never saved. So this line of code cannot correctly changes the type of `model_args`. So

[2020-09-19 14:47] awaelchli commented on #3542
@shanhaidexiamo what does
`torch.cuda.device_count()`
return?
`cuda.is_available` alone does not tell us if the gpus are visible to torch.

[2020-09-19 15:15] tsteffek commented on #3171
No, I think we sorted this issue out, nothing to fix here.

[2020-09-19 15:15] #3171 closed

[2020-09-19 16:18] miccio-dk commented on #3524
How is this related to Bolts? Please note that the issue I'm reporting is specific about the code/psudocode in https://pytorch-lightning.readthedocs.io/en/latest/child_modules.html and not about the AE model in lightning-bolts.

[2020-09-19 16:20] tsteffek opened #3556 "Unlink 16-bit Precision and AMP"
## 🚀 Feature
The [Trainer's precision argument](https://pytorch-lightning.readthedocs.io/en/latest/trainer.html#precision), currently allows for 16- or 32-bit precision. However, 16-bit precision does not actually set the model to 16-bit precision, it instead enables [PyTorch's Autocast](https://pytorch.org/docs/stable/amp.html#torch.cuda.amp.autocast).

I'm proposing unlinking the two and providi

[2020-09-19 16:34] tsteffek commented on #3382
As a random citizen that delved into such matters lately, I see two possible issues:
- Following [this reply](https://discuss.pytorch.org/t/what-does-pytorch-do-when-calling-tensor-half/58597/5?u=tsteffek) (Nov '19) from PyTorch folk:

  torch.cuda.memory_allocated() might give you a better number.
- 16-bit precision utilizes [PyTorch's Autocast](https://pytorch.org/docs/stable/amp.html#torch.cuda

[2020-09-19 16:42] feribg commented on #2101
Yep, thanks!

[2020-09-19 16:42] #2101 closed

[2020-09-19 16:49] rohitgr7 commented on #3524
I thought you were talking about the actual implementation in bolts, which is now fixed in one of the OR recently. Also looks like it's encoder now in docs, so I guess all ok now?

[2020-09-19 21:38] ruotianluo commented on #2407
Training with: commit c64520.

I am still getting error.......
I am using CUDA_VISIBLE_DEVICES=3 (set by slurm), and in the code I have Trainer(..., gpus=-1, ...)

[2020-09-19 22:29] #3172 closed

[2020-09-19 23:00] #2311 closed

[2020-09-20 00:00] #3549 closed

[2020-09-20 00:05] awaelchli commented on #2529
@velocityCavalry could you share the code snippet how you calculated the accuracy? I am wondering which tensors you had that weren't already on the gpu.

[2020-09-20 00:14] awaelchli commented on #2435
@pamparana34 @junwen-austin
You can now do this:
[code]
and no need for `validation_epoch_end`. The results object can average your val_losses across the dist group. The same can be done for your training loop. Let me know if that works for you.

[2020-09-20 00:16] awaelchli commented on #2435
Closing this, I am confident my answer applies to your use case. But if something does not work, let me know.

[2020-09-20 00:16] #2435 closed

[2020-09-20 00:16] awaelchli commented on #2435
https://pytorch-lightning.readthedocs.io/en/latest/results.html

[2020-09-20 00:30] awaelchli commented on #2065
I am sure I fixed this problem in #2997, please try again with the latest version. Regarding the relative import error, you probably just launched the script in the wrong directory, but anyway I recommend to use absolute imports.

[2020-09-20 00:32] #2065 closed

[2020-09-20 00:39] awaelchli commented on #3238
@dalmia Could you share the code for your custom distributed sampler, or even better, a minimal example that reproduces the error?

[2020-09-20 01:13] awaelchli commented on #3238
@dalmia
The trainer will call the dataloader before dist.get_rank() is initialized. Therefore the rank is not yet known.
But when creating the sampler, you don't have to provide the rank and num_replicas, you can leave it at the default values and when distributed get's initialized, they will be known.

Furthermore, your distributed sampler also has the following typo:  `self.sampler = Sampler` (s

[2020-09-20 01:44] awaelchli commented on #2777
did you make your runs deterministic, e.g., `pytorch_lightning.seed_everything` ? Let's make sure this is the case.
In your two consecutive runs, what is the value of ctr ?

[2020-09-20 02:04] awaelchli commented on #3355
@kyoungrok0517
I removed the reduceop warnings #3555  on windows, since distributed training is not available anyway on this platform.
You won't see these anmyore :)

[2020-09-20 02:12] awaelchli commented on #3117
@bluesky314  yes please, if you can share the script. I will try to run it and help debug.
how do you launch your script? do you have cuda_visible_devices environment variable set?

[2020-09-20 02:36] awaelchli commented on #2758
@thepowerfuldeez sorry for the late reply.
I assume you were using `distributed_backend="ddp"`, but that doesn't work when you have multiple calls to .fit() in your script.
You need to use `distributed_backend="ddp_spawn"` in this case. Then you can do your for loop.

[2020-09-20 02:36] #2758 closed

[2020-09-20 02:48] kyoungrok0517 commented on #3355
Great! Thanks for your effort 😃

[2020-09-20 07:29] awaelchli commented on #3327
@bartmch You cannot run `trainer.test` after `trainer.fit` (or multiple trainer.fit/trainer.test in general) in ddp mode.
This only works with `ddp_spawn`. You need to either
1) remove the trainer.test call
2) move the trainer.test call to a new test script

This is simply a limitation of multiprocessing and a tradeoff between ddp and ddp_spawn.
More information in this section towards the bottom

[2020-09-20 07:29] #3327 closed

[2020-09-20 11:35] adriangrepo opened #3568 "Why training with lightning is 1.5x slower than vanilla pytorch"
I am assuming this is due to user error but cannot figure it out

Running pytorch-lightning==0.9.0 on Linux

Converted pytorch code for training bert transformer model to pytorch lightning.

Vanilla code trains ~1.5x faster than lightning code. (4.8 it/s vs 2.7 it/s)

Running both code bases on 1x GPU, both with 32 bit precision.

Tried various configs on lightning code
Tried distributed_backend:

[2020-09-20 12:07] zhouwuxiong opened #3569 "Tpye error: 'int' Object is not callable when pytorch_lighning is upgraded to version 0.8.1 or above。However, in version 0.7.1, it works normally"
Tpye error: 'int' Object is not callable when pytorch_lighning is upgraded to version 0.8.1 or above。However, in version 0.7.1, it works normally

Traceback (most recent call last):
  File "/home/zwx/pointNet_family/pointnet.pytorch-master/utils/mytrain.py", line 210, in <module>
    triner.fit(model)
  File "/home/zwx/anaconda3/envs/PCReg/lib/python3.6/site-packages/pytorch_lightning/trainer/stat

[2020-09-20 12:09] oke-aditya commented on #3484
@awaelchli I will have a test run with resnet50 and resnet101 models of torchvision with torch lightning as well as pure PyTorch over CIFAR 10. (I can't run on imagenet it will take a lot of time and its download is somehow restricted).

I will take 5 runs for 50 epochs batch size of 32 fixed, with profiler and 5 without the profiler. Let's see if I get any improvement. I will try on a single GPU

[2020-09-20 12:12] #2597 closed

[2020-09-20 12:14] awaelchli commented on #3484
That would be amazing to see these stats!!

[2020-09-20 13:28] oke-aditya opened #3570 "[Metrics] Top K Accuracy"
## 🚀 Feature
We currently have accuracy implementation which is top-1 Accuracy to be formal.

Can we provide a generic top-k Accuracy Implementation?

### Motivation

Quite often in classification tasks, we need top-3 Accuracy and top-5 Accuracy and so on. It depends on the tasks. These stats are often reported in standard papers for classification tasks be it NLP or Computer Vision.

### Pitch

I

[2020-09-20 14:40] zhangguanheng66 commented on #3529
@ananthsub Thanks. So I have to manually fix the internal version by myself, right? Is there anyone importing OSS PyTorch Lightning to fbcode periodically?

[2020-09-20 16:39] ananthsub commented on #3529
That’s me + our team. We have scripts to do this

[2020-09-20 17:13] miccio-dk commented on #3524
all okay! :)

[2020-09-20 17:37] miccio-dk commented on #2660
for posterity, here's an article explaining how to do it: https://www.learnopencv.com/tensorboard-with-pytorch-lightning/

[2020-09-20 18:35] diane-wagner opened #3572 "Metrics compute per batch and not per sample"
## 🐛 Bug

Some metrics (e.g. f1-score) compute per batch and not per sample (e.g. per image). What most people expect is that the metric is computed for each sample and then aggregated. The current behavior is not well documented,  which can lead to potential errors in evaluation.

### To Reproduce

#### Code sample

[code]
However, `f1_per_batch != f1_mean_across_samples`.

[2020-09-20 19:38] MarioIshac commented on #716
I think I just ran into the same limitation. I am trying to log a confusion matrix as my metric. I'm interested in logging confusion matrices through train / val / test. This is why I'm implementing it at the metric level. The code fails on the exact line that the OP pointed out, particularly because the tensor is 2D.

@williamFalcon Does the PyTorch limitation force metrics to be tensors, or scal

[2020-09-20 21:37] awaelchli commented on #3335
@junwen-austin I may have fixed this problem with the linked PR. But to be sure it closes this issue, could you let me know the trainer flags you used? Did you use distributed_backend="ddp_spawn" (is also the default) together with
`pytorch_lightning.seed_everything`?

[2020-09-20 21:46] junwen-austin commented on #3335
@awaelchli Thanks for letting me know the progress. I used the ddp as the backend, not the ddp_spawn. Thanks

[2020-09-20 21:54] awaelchli commented on #3335
hmm, that's unfortunate because my fix only applies to ddp_spawn.
for ddp, I ran several scripts (including my research) and always got deterministic behavior, so I am not sure what what the cause is in your case :(

[2020-09-20 22:06] awaelchli commented on #3334
Guys read the warning message xD
`/usr/local/lib/python3.6/dist-packages/pytorch_lightning/utilities/distributed.py:25: UserWarning: num_processes is only used for distributed_backend="ddp_cpu". Ignoring it.`

num_processes only applies to ddp_cpu mode, which needs to be explicitly set with distributed_backend="ddp_cpu".
This is expected behavior, given that this case is explicitly handled by Trai

[2020-09-20 22:06] #3334 closed

[2020-09-20 22:07] awaelchli commented on #3334
@tbenst you won't get any speedup by using num_processes > 1 on CPU.
This is really just mean to simulate distributed training for testing purposes in environments where DDP is not available.

[2020-09-20 22:25] junwen-austin commented on #3335
@awaelchli it is rather a tricky one. I have two versions of the Lightning models v1 and v2. The only difference between them is that I added additional metric (confusion matrix in this case) in v2, and I noticed the training/validation/test results are slightly off, with both case having ddp as backend, same seed for seed_everything and deterministic flag = True.

Since the additional code about

[2020-09-20 22:54] tbenst commented on #3334
@awaelchli good to know thanks! No warning was printed with 0.9.0, but perhaps this has since changed.

P.S. I don’t mean to press on this since GPU training is what 99% of users need, but depending on how you compile BLAS / which one you choose, linear algebra operations are not automatically parallelized and this there would be a substantial speed up. On MKL, users sometimes specify `OMP_NUM_THR

[2020-09-20 23:21] awaelchli commented on #3301
oh, this is actually a known problem and comes from DataParallel in PyTorch itself.
See #565 and #1649 for reference.
@ananyahjha93 has been working on a workaround but it seems to be super non trivial #1895

[2020-09-20 23:29] awaelchli commented on #3334
@tbenst you posted the warning yourself in this reply https://github.com/PyTorchLightning/pytorch-lightning/issues/3334#issuecomment-686393731
it is kinda hard to see though, because we get used to ignore warnings xD

ok, I did not know that. You can get the ddp cpu mode with these Trainer args:
`trainer = pl.Trainer(distributed_backend="ddp_cpu", num_processes=2)`

[2020-09-20 23:41] awaelchli commented on #3335
but the confusion matrix is not used for training, right? It is just there for visualization?
So, just to clarify to be 100% sure we're talking about the same
- you get the same training loss if you rerun v1 multiple times
- you get the same training loss if you rerun v2 multiple times
- the training loss between v1 and v2 are however different

[2020-09-21 00:20] awaelchli commented on #3493
For multi-gpu (@kyoungrok0517's case) I have an answer. The logger in multi-gpu only runs on the gpu 0. This is to avoid problems with file io, bottlenecks and multiprocessing in general. If you use the logger objects
`self.logger.experiment`, we only return the real object in process 0, and on the others a dummy experiment. This is so that your code does not break if you do things like `self.logg

[2020-09-21 00:22] adriangrepo commented on #3568
Doing more profiling actual batch training time is comparable.

[2020-09-21 00:22] #3568 closed

[2020-09-21 00:38] ayberkydn opened #3577 "LightningModule and Pytorch Models should really be decoupled."
Not a feature per se, but a design suggestion for the LightningModule to discuss.

I think a lot of people already using PL the way so that they build the model in other classes. For example filling a Generator and Discriminator class and only initialize them within the LightningModule init method. The motivation is to have a modular design and more plug and play nature.

I am actually wondering i

[2020-09-21 00:54] carmocca opened #3578 "Incorrect "Saving latest checkpoint" warning"
## 🐛 Bug

"Saving latest checkpoint..." warning appears regardless of whether a `ModelCheckpoint` exists or `save_last` is set to `True`

https://github.com/PyTorchLightning/pytorch-lightning/blob/a71d62d8409f4960a4b438b8d19c924d3636c73f/pytorch_lightning/trainer/training_loop.py#L167-L169

https://github.com/PyTorchLightning/pytorch-lightning/blob/a71d62d8409f4960a4b438b8d19c924d3636c73f/pytorch_

[2020-09-21 00:56] junwen-austin commented on #3335
@awaelchli

- **Confusion matrix is used at the end of validation/test loop but not during the training loop**

- you get the same training loss if you rerun v1 multiple times: **Yes, also same validation/test loss**

- you get the same training loss if you rerun v2 multiple times: **Yes, also same validation/test loss**

- the training loss between v1 and v2 are however different: **Yes, also dif

[2020-09-21 01:13] ananthsub commented on #3577
The design now allows for someone to write their nn.Module inside the lightning module, or for users to instantiate a model through some other class inside the lightning module. this already is modular design and plug and play to me. what would your proposal be to decouple the lightning module from nn.Module?

[2020-09-21 01:15] ananthsub commented on #3578
why not just remove the log line from training_loop and defer logging about saving the latest checkpoint to be within the checkpoint callback?

[2020-09-21 01:17] ananthsub commented on #3532
This would happen whenever we call save_model. That means we'd honor the checkpoint callback's args for save_top_k for torchscript as well. There'd be a 1:1 mapping between checkpoints and models exported to torchscript saved. That also means we'll delete saved torchsrcipt models if they're no longer the top-K

[2020-09-21 01:29] ayberkydn commented on #3577
I think this is the exact opposite of being modular. Of course you can write any piece of code into the __init__ method of LightningModule. But this makes them coupled in a way that your piece of code would be **in** the module, right?

To me, the right way to do this (in the most general case) to pass a dictionary of models to init or use some 'Module'  just like DataModule.

[2020-09-21 01:33] carmocca commented on #3578
Because the logic to save last is inside of `on_validation_end` so it would appear after the first validation run

[2020-09-21 01:39] ananthsub commented on #3577
You're not forced to do this. You're free to instantiate your models however you want to. the `Module` you're describing sounds exactly like `nn.Module`

[2020-09-21 02:04] kyoungrok0517 commented on #3493
Now I figured why the outcome was inconsistent. Thanks!

[2020-09-21 02:43] ayberkydn commented on #3577
Unless you need to test your saved models somewhere else. I remember people having difficulties with loading model weights and testing with models not initialized in LightningModule.

A LightningModule is far from being a tensor transformation module. It includes a few, but you need to be able plug & play without changing the code inside the init method. You should check 'Open Closed Principle'

[2020-09-21 06:20] s-rog commented on #3278
@rohitgr7 I implemented the following changes and now on_fit_start is working as expected:

- move hook
- change on_fit_start signature (like on_fit_end)
- change callback.on_fit_start args (like on_fit_end)

What else did you find? I'll take a look before I submit a PR

[2020-09-21 07:43] s-rog commented on #3577
I've fixed the loading issues, though the changes have not made it into release yet

[2020-09-21 08:00] s-rog commented on #3556
`with torch.cuda.amp.autocast(enabled=False):`

For now, as a workaround I used this in combination with `precision=16` (for some fourier transform stuff)

[2020-09-21 08:54] #2591 closed

[2020-09-21 09:02] jiwidi opened #3581 "Bug when overwriting model checkpoint callback and using Trainer.from_argparse_args"
## 🐛 Bug

Im experiencing a weird bug when overwriting the model checkpoint callback, this only happens when initializing the trainer with the function: `Trainer.from_argparse_args`. If done this way the script will get stuck on initialization and not start training (at least stuck more than 10~15 mins)

### To Reproduce

I failed to create a reproducible snapshot of code based on your templates,

[2020-09-21 09:46] #3303 closed

[2020-09-21 12:39] VirajBagal opened #3582 "Out of memory when trainer.save_checkpoint("example.ckpt")"
The sbatch session crashes and I get the following error when I include trainer.save_checkpoint("example.ckpt") in my code.

Same thing happens when I run the code in notebook on the remoteserver. The kernel dies. Please help. Thank you.

[2020-09-21 13:23] carmocca opened #3583 "Split ModelCheckpoint filepath into dirpath and filename"
## 🚀 Feature

Previous discussions:

https://github.com/PyTorchLightning/pytorch-lightning/pull/3163#issuecomment-683539565
https://github.com/PyTorchLightning/pytorch-lightning/pull/3163#issuecomment-695854769
https://github.com/PyTorchLightning/pytorch-lightning/issues/3001

## Idea:

Keep backwards compatibility by having `filepath` (old parameter) and `dirpath`, `filename` (new parameters)

[2020-09-21 13:44] diff7 commented on #438
Hi, any plans to sacred logger?

[2020-09-21 14:07] rohitgr7 commented on #3583
I have been suggesting this for a long time. 😅

[2020-09-21 14:33] carmocca commented on #3583
I know, @Borda just [asked me](https://github.com/PyTorchLightning/pytorch-lightning/pull/3163#issuecomment-695955673) to create a new issue to discuss.

[2020-09-21 14:35] Borda commented on #3583
but it was not properly resolved, right? do you remember the issue/PR?

[2020-09-21 14:36] Borda commented on #438
@diff7 mind open an issue for it in Bolts as suggested in https://github.com/PyTorchLightning/pytorch-lightning/issues/438#issuecomment-604446913

[2020-09-21 15:07] awaelchli commented on #3583
I like it, I vote for this :) We have plenty of tests for the filepath arg (I think thanks to @carmocca?), so the guarantee for back compatibility is there.

[2020-09-21 15:13] awaelchli commented on #3583
There was this PR #2584 but was slightly different

[2020-09-21 15:21] edenlightning commented on #3578
Thanks for the issue @carmocca . Mind sending a PR?

[2020-09-21 15:29] AnthonyBarbier opened #3585 "Trainer: Separate framework options from backend options"
## 🚀 Feature

Stop mixing framework and backend options in the Trainer's constructor.

### Motivation

I find it confusing both as a user and a backend implementer because it's not obvious which options affect which backend.

### Pitch

The backend options could be passed as a separate, specific object:
[code]
This would remove the need for `select_accelerator` or at least simplify it by making it

[2020-09-21 16:24] tbenst commented on #3334
Doh!! I sure did thanks for your patience 👍

[2020-09-21 16:27] ananyahjha93 commented on #3582
@VirajBagal which version of lightning are you using? Currently I am not able to reproduce this with 0.9.0.

[2020-09-21 16:28] ananyahjha93 commented on #3585
@williamFalcon what do you think about this one?

[2020-09-21 17:35] carmocca commented on #3578
Done!

[2020-09-21 17:37] oke-aditya commented on #3484
[Here](https://colab.research.google.com/drive/1W9sWZZU3mMlOhm5t3LRKavM-kOGdVKx8?usp=sharing) is the Colab where I'm doing benchmarking.

The engine training script is [here](https://github.com/oke-aditya/pytorch_cnn_trainer/blob/master/pytorch_cnn_trainer/engine.py)

I will try batch sizes of 32 and 256 since it is not having a huge GPU load in 32.

[2020-09-21 18:00] IgorDavidyuk opened #3590 "Weights precisions do not match up. AMP"
Hi, thanks for your work!

My situation: I have a loss function that is defined in a separate file and it has weights and parameters and I import it into my pl module like
[code]
So when I try to use amp (Pytorch 1.6) I get those errors that I try to compare float and half tensors.
My question is how do I avoid this problem correctly?
Should I just add @autocast() decorator to the loss forward?
Or

[2020-09-21 18:05] tgaddair commented on #3381
Hey @undertherain, sorry for the late response.  Tried looking into this earlier but couldn't repro.  I suspect there may be a few things going on here:

1. Early stopping criteria being applied independently on each worker.  We should implement PL metrics aggregation for Horovod so the criteria can be applied consistently on every worker.
2. Something appears to be wrong with the params in the Di

[2020-09-21 18:11] edenlightning commented on #2089
Blocked on drone configuration. waiting for Luis.

[2020-09-21 19:31] oke-aditya commented on #3484
Stats after my runs

[code]

Run 2
[code]

@awaelchli I hope they will reproduce when you try to run.
Also we might need to test on other GPUs such as V100, T4. Also how it works with DP / DDP and multi GPU cases.
We might need to test on bigger models such as BERT etc.
I will try on Efficient Nets once if needed (b3-b5 as they fit).
It appears to give significant improvement. If this scalers for

[2020-09-21 20:23] ananyahjha93 commented on #3590
It will be preferable to define the loss within the PL module in this case. Is there a specific reason that you need to define the loss outside of the PL module or is it just a design decision?

[2020-09-21 20:36] DomainFlag opened #3592 "How to access validation logs data inside the on_validation_batch_end callback"
## ❓ Questions and Help

#### What is your question?

How can I have access to validation logs data inside the on_validation_batch_end callback?

For the `on_batch_end  `callback, I have access to the train metrics by using the class property `callback_metrics `of the `Trainer `but when querying the same property inside the `on_validation_batch_end `callback I still have the same train logs data.

[2020-09-21 21:07] janeyx99 opened #3593 "Indefinite hang when attempting to run tests"
Running the tests in two different environments both hang (though at different spots). Relevant to [Issue 2041](https://github.com/PyTorchLightning/pytorch-lightning/issues/2041)

**Repro 1 (on Docker with pytorch pre-installed)**
* Code and results found [in this PR](https://github.com/pytorch/pytorch-integration-testing/pull/9)
* Run `make pytorch-lightning` which does the following
    * Set up

[2020-09-21 22:44] Borda commented on #3593
I think this is different, long tests and infinitely hanging...
Are you using a base docker image so I can reproduce?

[2020-09-21 22:48] IgorDavidyuk commented on #3590
Thanks for the answer!

Well, I just import it from another repo.
It is just strange that autocast does not recursively apply

[2020-09-21 23:19] Borda commented on #3593
@janeyx99 mind shareing your environment, because I do not see any hanging tests on master these days...

[2020-09-22 00:26] sshleifer opened #3597 "distributed training: ModelCheckpoint is receiving bad data"
You can reproduce in 4 minutes on 0.9.0.
I tried master and got an unrelated wandb error and gave up trying to reproduce there.

you must be on a machine with multiple gpus

[code]

### Results

[code]

[code]

There are 5 checkpoints which much lower scores. PL thinks the best checkpoint is from step 5, but

[code]

[code]
(the best checkpoint is step 1)

When I evaluate offline on the best check

[2020-09-22 01:01] #3331 closed

[2020-09-22 01:01] williamFalcon commented on #3331
Complete. A few straggler files here and there, but nothing we can't solve in these weeks

[2020-09-22 01:32] #1198 closed

[2020-09-22 01:50] josh-gleason opened #3600 "Infinite hang when running `Trainer.test` after `Trainer.fit` with DDP"
## 🐛 Bug

If I run `Trainer.test` after running `Trainer.fit` with `distributed_backend='ddp'` then the system hangs.

### To Reproduce

Steps to reproduce the behavior:

Run the following script

[code]

with command line arguments (assuming >= 2 GPUs)

[code]

Running this script causes the program to hang during test phase.

### Expected behavior

I would expect `Trainer.test` to complete rathe

[2020-09-22 03:20] nateraw commented on #2123
I believe this can be closed now after #3591 . @fotisj go ahead, if you agree.

[2020-09-22 03:40] sshleifer commented on #2673
It is broken in a new way -- it errors and then hangs. The error is my code but it shouldn't hang. Both 0.8.5 and 0.9.0.
The code above takes about 3 minutes to run.
My setup is broken on master with some wandb error that I do not have time to debug at the moment.
But if you run these instructions or my command in #3597 you will be able to see all the errors.

[2020-09-22 03:44] oke-aditya commented on #3484
Run 3
[code]

Incredible reduction in time, really cannot understand how it so less. Please have a go with the Colab on a Local GPU too.

[2020-09-22 04:05] nateraw commented on #2673
@sshleifer this is with Apex, right? Same issue with native amp?

[2020-09-22 04:19] VirajBagal commented on #3582
@ananyahjha93  Let me give some details.

[code]
Now, I want to save checkpoints/modelweights at the end of every validation epoch if my 'total val loss' is smaller than previous 'best val loss'. How do I do that?  The output is following:

[code]
Epoch 0:  87%|████████▋ | 13/15 [00:05<00:00,  2.56it/s, loss=2.698, v_num=08zk, step_train_loss=1.17, step_train_acc=0]
Epoch 0:  93%|█████████▎| 14/15

[2020-09-22 04:31] sshleifer commented on #2673
Different issue. Also fails in fp32.

[2020-09-22 04:32] sshleifer commented on #2673
It's failing earlier than it used to fail so IDK if this is fixed.

[2020-09-22 04:53] VirajBagal commented on #3582
Sorry. Its my mistake. This solved the issue.
`python
result = pl.EvalResult(checkpoint_on = loss)`

[2020-09-22 04:54] #3582 closed

[2020-09-22 06:52] #2611 closed

[2020-09-22 09:08] hadarishav commented on #2777
@awaelchli I did set the seed.
ctr was mainly for when gridsearch was done in a loop, so it would get updated each time.
However for debugging purpose, in the code I shared above I had removed the loops, and executed the code repeatedly myself. so ctr remained same for each run.
In a new execution I would believe that data from past execution is not taken.

[2020-09-22 09:41] whitecrow1027 opened #3605 "Training with DDP ended error and process in GPU died"
## 🐛 Bug

Training process ended incorrectly with DDP. It seems that the last checkpoint saved failed, **causing one process in gpu died and cannot kill.**

#### Code sample

[code]

### Environment

 * CUDA:
	- GPU:
		- GeForce RTX 2080 Ti
		- GeForce RTX 2080 Ti
		- GeForce RTX 2080 Ti
		- GeForce RTX 2080 Ti
	- available:         True
	- version:           10.1.243
* Packages:
	- numpy:

[2020-09-22 09:43] whitecrow1027 commented on #3605
Training start with bash:
`python train_ADFA.py --gpus 4 --distributed_backend 'ddp'  --model_name 'msc_ADFA' --num_epochs 60 --train_info "msc adfa train. use adfa16." `

[2020-09-22 09:44] ananyahjha93 commented on #3597
@sshleifer verifying this but you might be right, even I felt in one of my previous training runs that the epoch with minimum validation wasn't saved.

[2020-09-22 09:59] whitecrow1027 commented on #3605
Already tried kill 9 but didn't work.
Died process is re-parenting by init

[2020-09-22 10:02] ananyahjha93 commented on #3455
I would probably use https://pytorch.org/docs/stable/_modules/torch/utils/data/distributed.html#DistributedSampler as a reference. Have you included this step?

[code]

[2020-09-22 10:51] awaelchli commented on #3600
Hi, in this ddp mode you can call trainer.fit / test only once.
https://pytorch-lightning.readthedocs.io/en/latest/multi_gpu.html#distributed-data-parallel

you need to switch to ddp_spawn or launch your .test in a separate script.

[2020-09-22 10:57] awaelchli commented on #3605
is this reproducible? it happens right after first epoch?

[2020-09-22 11:09] williamFalcon commented on #3291
ok, so to your points.

1. Can we keep these metrics separate out of the lightning module? well, the lightningmodule needs to be self contained... that is what defines what to early stop on or not. If you don't do it there then you have to look in the module to figure out what to monitor...

For this reason, we're tying the related monitor metrics to the module.

2. In fact, imagine your module re

[2020-09-22 11:18] JVGD commented on #3458
Just started migration of our codebase to Lightning and the first trainer I write have this issue... Could this be something related with duplicated handlers in logger? It might be that the logger.getLogger() which is a singleton is called twice, so it might be that 2 handlers are initialized, the root handler and another stream handler

[2020-09-22 11:20] awaelchli commented on #3458
yes, I think that's the case. does my PR not resolve the problem for you?

[2020-09-22 11:37] JVGD commented on #3458
Hi, I am on Linux in Ubuntu 18.04 distro.

I tried your PR but unfortunately it does not solve my issue, maybe I am doing something wrong?
![image](https://user-images.githubusercontent.com/6736158/93877394-af282280-fcd8-11ea-89f8-e5a34f220253.png)

[2020-09-22 11:39] Tim-Chard commented on #3493
This isn't a pytorch lightning issue, it is just a quirk of the wandb api. They have two different run objects, `wandb.wandb_run.Run` is returned by `wandb.init`  and handles the logging but there is also `wandb.apis.public.Run` which is for reading data after the run is complete.

Here is a repo of your problem without pytorch lightning.
[code]
This outputs:
[code]

All you need to do is take the

[2020-09-22 11:39] JVGD commented on #3458
I am using Ubuntu 18.04.

I tried you PR but unfortunately it does not solve the issue. Maybe I am doing something wrong?
![image](https://user-images.githubusercontent.com/6736158/93877650-04fcca80-fcd9-11ea-8193-eef3156949a4.png)

[2020-09-22 11:40] JVGD commented on #3458
I am using Ubuntu 18.04.

I tried you PR but unfortunately it does not solve the issue. Maybe I am doing something wrong?
![image](https://user-images.githubusercontent.com/6736158/93877718-29f13d80-fcd9-11ea-8adb-d1690a69f064.png)

[2020-09-22 11:52] whitecrow1027 commented on #3605
@awaelchli Unreproducible, but meets same problems serval times. It happens after last epoch end.

[2020-09-22 12:18] awaelchli commented on #3458
@JVGD could you try again with my updated branch. sorry, I don't have much experience with this python logging, for me the duplicate messages are resolved locally.

[2020-09-22 12:27] awaelchli commented on #3605
hey, I just saw you are using 0.8.5. This is quite old and a bit hard to backtrack. I don't know if it was resolved in 0.9 but you want to update anyway since we fixed a lot of ddp related issues.

[2020-09-22 12:32] awaelchli commented on #3605
Coud be related or the same?  #2913  #2590

[2020-09-22 13:24] whitecrow1027 commented on #3605
@awaelchli I'm not sure if it is same. I will update my lighting version to see wheher it will reproduce. Thank you:)

[2020-09-22 13:54] navrudh opened #3607 "LightningDataModule seems to do some dataloader operations on CPU, which was not the case with LightningModule loader methods"
## 🐛 Bug

While using LightningDataModule as `lit_model(datamodule=datamodule)` the models waits for some time using 1 CPU core before beginging training, and periodically stops training (every 50 train steps) GPU util goes 0% and 1 CPU core is in use. This behaviour continues till training finishes.

### To Reproduce

Steps to reproduce the behavior:

1. Create a lightning model which takes a dat

[2020-09-22 14:13] edenlightning commented on #3607
@nateraw

[2020-09-22 14:19] #3600 closed

[2020-09-22 14:24] #2650 closed

[2020-09-22 14:26] awaelchli commented on #3607
@navrudh That sounds suspiciouly like the `row_log_interval`. Can you confirm you are not doing any expensive custom logging?

[2020-09-22 14:39] edenlightning commented on #3484
wow. this is great.

[2020-09-22 15:19] oke-aditya commented on #3484
I just forgot to mention what I did for this.
Just added these 3 lines.
[code]

[2020-09-22 15:45] JVGD commented on #3458
Unfortunately is still showing duplicated logs. I am going to do further testing, but as far as I know I think the pytroch_lightning logger adds an extra StreamHandler to the base root logger. Maybe that is why there are duplicates

[2020-09-22 15:51] awaelchli commented on #3458
indeed, if we remove the streamhandler, this also solves the problem (for me). can you confirm?
https://github.com/PyTorchLightning/pytorch-lightning/pull/3514/files

[2020-09-22 15:53] edenlightning commented on #2785
@awaelchli want to take a look at this now? or better post v1?

[2020-09-22 16:01] edenlightning commented on #814
@williamFalcon should this be fixed now?

[2020-09-22 16:03] #1239 closed

[2020-09-22 16:06] JVGD commented on #3458
Amazing! it was just deleting that line and now it works like a charm. By the way, I did it in the pytorch-lightning==0.9.0 version, I was in my development environment. So I haven't been able to test it on your branch. But tomorrow I will!

Thank you for the support. Now it looks great:
![image](https://user-images.githubusercontent.com/6736158/93907924-4784ce00-fcfe-11ea-9f27-832315cebc9d.png)

[2020-09-22 16:07] edenlightning commented on #730
@drozzy hey any chance you are interested in doing this?

[2020-09-22 16:10] edenlightning commented on #1237
@awaelchli keep this open? do we want to include your callback in lightning?

[2020-09-22 16:11] edenlightning commented on #2678
@williamFalcon are we going to support return None?

[2020-09-22 16:50] sshleifer commented on #3597
Where in the code does `trainer.callback_metrics` gather data from all nodes?

[2020-09-22 16:52] nateraw commented on #3597
CC: @justusschock @SkafteNicki

[2020-09-22 17:32] awaelchli commented on #1237
@edenlightning It would be great. I made an issue in bolts https://github.com/PyTorchLightning/pytorch-lightning-bolts/issues/194
but haven't had the time to make a PR.

[2020-09-22 17:43] BrianPugh opened #3610 "TensorBoardLogger log_hyperparameters fails when explicitly specified."
## 🐛 Bug

TensorBoardLogger log_hyperparameters fails with `TypeError: log_hyperparams() missing 1 required positional argument: 'params'`  when explicitly specified. It behaves correctly when not specified (even though its the default logger).

### To Reproduce

See code snippet:

[code]

Stacktrace (I removed some Hydra calls from the top of the trace that don't contribute anything). This doesn'

[2020-09-22 17:59] BrianPugh commented on #3610
follow up: with the default logger (not explicitly specified), hparams are not logged. I'm using the newer hparams api where the hparams attribute is not explicitly set.

![Screen Shot 2020-09-22 at 10 59 18 AM](https://user-images.githubusercontent.com/14318576/93919518-aaf10a80-fcc2-11ea-8df9-e39e00a6f560.png)

[2020-09-22 18:00] TylerYep commented on #1237
What's the distinction between callbacks in bolts and callbacks in the main repo?

Optimistically, a lot of these checks (e.g. batch verification) will fit well in the majority of existing lightning workflows, whereas bolts seems like a better fit for utilities that are a bit more niche or application-specific.

Thoughts?

[2020-09-22 18:23] ruotianluo commented on #3556
I believe
[code]
gives you precision 16.

[2020-09-22 18:27] #2123 closed

[2020-09-22 18:42] josh-gleason commented on #3600
Interesting. I read this but to me it seemed to indicate you could call both fit and test as long as neither were called multiple times. Perhaps the documentation could be updated to make this more clear.

[2020-09-22 18:51] edenlightning commented on #3451
@matthaeusheer were you able to solve the issue?

[2020-09-22 18:52] edenlightning commented on #3278
@s-rog want to send the PR out?

[2020-09-22 18:54] edenlightning opened #3612 "Facebook"

[2020-09-22 19:00] edenlightning commented on #3610
@teddykoker take a look?

[2020-09-22 19:47] awaelchli commented on #3600
yeah granted, this may be a bit ambiguous.

[2020-09-22 19:51] justusschock commented on #3597
@sshleifer if you use our metrics they have built-in ddp reduction (each metric separately)

[2020-09-22 20:23] edenlightning commented on #3572
thank you! We are looking into to this is other issues.

[2020-09-22 20:23] #3572 closed

[2020-09-22 20:27] #1277 closed

[2020-09-22 20:32] edenlightning commented on #3494
@tbenst would you like to send a PR with the changes? I'm still not convinced what the bug is.

[2020-09-22 20:35] #3398 closed

[2020-09-22 20:41] edenlightning commented on #3335
@awaelchli able to repro? any clue?

[2020-09-22 20:47] #3238 closed

[2020-09-22 20:51] sshleifer commented on #3597
Do you have a working example of how that would work for ROUGE/BLEU?

[2020-09-22 20:52] ananyahjha93 commented on #3597
@sshleifer looked at my logs, my confusion was because I was looking at online fine tuning loss values for pre-training, checking this for BLEU. BLEU needs to be verified for DDP sync right now, this is something we are already working on.

[2020-09-22 20:53] edenlightning commented on #2875
@ananyahjha93 are you able to repro?

[2020-09-22 20:55] edenlightning commented on #2814
@tibuch please open a different issue.

@SkafteNicki can this one be closed?

[2020-09-22 21:05] edenlightning commented on #2698
@lezwon mind taking a look?

[2020-09-22 21:07] ananyahjha93 commented on #3592
@DomainFlag hey, first of all we would prefer that you update to the latest version. I know there are some changes from 0.7.6 in the API, but now it is being kept stable and should remain unchanged for the most part.

We don't currently have this and discussed about making this available within hooks.

[2020-09-22 21:12] sshleifer commented on #3597
OK, so in the current state of the code, is trainer.callback_metrics always from rank 0, from the last rank to finish, or from the first rank to finish?

[2020-09-22 21:14] DomainFlag commented on #3592
@ananyahjha93 Hey, thanks for the reply, I've upgraded to 0.9.0 and currently I am returning like so when overriding the validation_step:

[code]

The issue is that in on_validation_batch_end by accessing the callback_metrics property of the trainer I can have access to the validation logs but they aren't updated for each processed batch, thus I have access only to the last batch results. Is that

[2020-09-22 21:14] awaelchli commented on #3335
Unfortunately not. I tried to reproduce by adding the confusion matrix to the validation epoch end as described, but this gives me same val and train loss. @junwen-austin I think I need an example code from you or I don't know where to look for the problem.

[2020-09-22 21:14] edenlightning commented on #1764
@magic282 can you check if the bug persists on master?

[2020-09-22 21:18] #1827 closed

[2020-09-22 21:27] edenlightning commented on #2479
@jgbos mind sending a PR for this fix?

[2020-09-22 21:31] awaelchli commented on #2777
@hadarishav ok I think I see now, so ctr is the name of the version folder in your code. If that stays constant over multiple runs, then Lightning will resume from the last checkpoint because the version folder already contains a checkpoint.

[2020-09-22 21:38] junwen-austin commented on #3335
@awaelchli Thanks for looking into it. Sure, the pseudo code looks like:

In v1, there is no confusion matrix at all or any calculation related to it.

in v2, I added the following in the `__init__` function:
`self.confusion_matrix = ConfusionMatrix()`

 then at the end of validation/test epoch, I calculated confusion matrix based on sync'ed `y` and `y_pred` and then log each component of confusio

[2020-09-22 21:48] awaelchli commented on #2777
I just checked, and on master, even if the checkpoint path already exists, it creates multiple versions with a prefix -v1, -v2, etc.
If I restart, it always starts with the same val loss never continues from before, and it also saves new checkpoints.

[2020-09-22 21:48] dangpzanco commented on #2814
@edenlightning I think this issue isn't solved yet. I didn't have time to do any further tests (I think I've done enough), but there's clearly a problem with the LR finder. Even if it works on other examples (like a simple MNIST or U-Net), ResNet on CIFAR-10 should be a trivial setting for the LR finder (it's one of the experiments on the cyclical lr paper).

[2020-09-22 21:52] Borda commented on #3593
it shall be resolved with #3596 and some more following...

[2020-09-22 22:00] #3286 closed

[2020-09-22 22:00] #2908 closed

[2020-09-22 22:00] #2976 closed

[2020-09-22 22:00] #3243 closed

[2020-09-22 22:00] #3254 closed

[2020-09-22 22:00] #3291 closed

[2020-09-22 22:07] #3612 closed

[2020-09-22 22:28] andresrosso opened #3614 "When training in GPU the model does not decrease the loss, in CPU it does"
## 🐛 Bug

When a toy model is trained in GPU error rate does not seem to go down, but if i use the CPU it does. I have just use 0.9 version.

### To Reproduce

Steps to reproduce the behavior:

1. Based on the following model

mean_1 = [0, 0]
cov_1 = [[1, 0], [0, 100]]
mean_2 = [5,-7]
cov_2 = [[16, 70], [1000, 0.1]]

class ToyDataset(Dataset):

    def __init__(self, param1, param2):
        mean_

[2020-09-22 22:28] awaelchli commented on #3458
@JVGD this is all really strange. I checked again with a different machine (also ubuntu 18) and now It's not printing the model summary, while on my notebook it did.
I need to go through the python versions and see if there is a difference. ugh :(

[2020-09-22 22:29] williamFalcon commented on #1537
ok... this is not a bug.

The batch sizes are too small and you're not dropping the last batch.
What ends up happening is that one GPU processes 2 items and the second only 1 item (because your batch size is 3).

And thus your outputs aren't the same length... this is not something we can automate... so you have to either check for that in your code or make sure your batch size is always a multipl

[2020-09-22 22:29] #1537 closed

[2020-09-22 23:51] wolterlw commented on #2114
still having issues when loading a checkpoint
When I manually examine the checkpoint saved by lightning it only contains following keys:

['epoch', 'global_step', 'pytorch-lightning_version', 'checkpoint_callback_best_model_score',
 'checkpoint_callback_best_model_path',  'optimizer_states',  'lr_schedulers', 'state_dict']

so when I try using Module.load_from_checkpoint it fails because the param

[2020-09-23 00:47] s-rog commented on #3610
#2974 btw this has already been merged into master, but hasn't made it into release yet, current release implementation is broken.

[2020-09-23 01:04] awaelchli commented on #3614
I'm pretty sure your dataset initialization should not go to prepare_data.
https://pytorch-lightning.readthedocs.io/en/latest/lightning_module.html#prepare-data
Use setup instead or just do it in the dataloader hooks.

[2020-09-23 01:27] williamFalcon commented on #3264
Sorry about the delay! was wrapping up all the refactors :)

no, you have to log directly with the .log call...

[code]

[2020-09-23 01:27] #3264 closed

[2020-09-23 01:34] williamFalcon commented on #3342
Added a response here
https://forums.pytorchlightning.ai/t/dataparallel-crash-with-uneven-number-of-inputs/198/2

[2020-09-23 01:34] #3342 closed

[2020-09-23 02:00] carmocca opened #3619 "ModelCheckpoint period should not always save on the first epoch"
## 🚀 Feature

`period` should work so:

[code]

e.g:
- `period == 1`: save on epoch 0, 1, 2...
- `period == 2`: save on epoch 1, 3, 5...
- `period == 3`: save on epoch 2, 5, 8...

currently, it always runs on the first epoch and then runs every `period` epochs

e.g:
- `period == 1`: save on epoch 0, 1, 2...
- `period == 2`: save on epoch 0, 2, 4...
- `period == 3`: save on epoch 0, 3, 6...

This w

[2020-09-23 02:04] carmocca opened #3620 "ModelCheckpoint monitor should be optional"
## 🚀 Feature

We should be able to set `monitor = None`, meaning that it would always save

### Motivation

Current behaviour forces you to have a monitor, so to always save you would have to monitor something like the current epoch.

[2020-09-23 02:29] williamFalcon commented on #2350
@edenafek  @awaelchli did we add a hook for this now?

[2020-09-23 02:32] williamFalcon commented on #3620
how would you know when to save without monitoring something?

I personally wouldn't just want a checkpoint saved on every epoch

[2020-09-23 02:34] williamFalcon commented on #3619
makes sense. submit a PR?

[2020-09-23 02:35] carmocca commented on #3620
Maybe just by itself is a bit useless, but combined with `period` one can have a "every_k_epochs" `ModelCheckpoint`

[2020-09-23 02:39] williamFalcon commented on #3499
this is not correct...

Consider the case with negative sampling...
$\frac{exp(x_i)}{\sum_{j \neq i}^{n}\exp(x_i)}$

In this case, all the $x_i$'s live across GPUs... in which case you need to bring them to the master GPU to calculate the denominator.

[2020-09-23 02:39] #3499 closed

[2020-09-23 02:40] williamFalcon commented on #3614
I think this is also highly subjective to your particular model and learning rate.

I think we are all happy to help but:
a. post in the forums (http://forums.pytorchlightning.ai/)
b. make sure to give an example we can reproduce.

closing this because this is not a bug but a question about implementation help.

[2020-09-23 02:40] #3614 closed

[2020-09-23 03:14] williamFalcon commented on #3620
well, generally checkpoints correspond to some sort of improvement in performance...

there is a (rare) case (image synthesis, speech synthesis), etc... where longer training does make more sense, in which case saving the last checkpoint makes sense.

in this case though, the answer is just that whenever save last is enabled, it always saves without having to monitor something?

There is something

[2020-09-23 03:28] jgbos commented on #2479
@edenlightning I currently do this before I run lightning so I  feel my solution is just a *hack* and that there's probably a better solution.  It currently requires the user to set `MASTER_ADDR` first.  If I find some time I'll take a look at the code, maybe come upon a real solution once I see how lightning works here.

[2020-09-23 03:32] andresrosso commented on #3614
Thank you, but it did not solve the problem.

[2020-09-23 03:33] andresrosso commented on #3614
Sorry, I was pretty sure it is a bug. But I will post in forums.

[2020-09-23 03:36] s-rog commented on #3610
You need to initialize a logger instance
`Trainer(logger=pl.loggers.tensorboard.TensorBoardLogger(save_dir))`

[2020-09-23 04:19] #2476 closed

[2020-09-23 05:19] lezwon commented on #2698
I haven't been able to reproduce this issue. Maybe if @ibeltagy could share a notebook I could look into it. :)

[2020-09-23 05:58] SkafteNicki commented on #2814
@edenlightning lets keep it open for now.
I have not been able to pin-point the exact issue of the problem described (I tried multiple things). We have examples that work and examples that don't work, which makes it harder to be certain what it is the error exactly is.

[2020-09-23 06:07] SkafteNicki commented on #3597
@justusschock @ananyahjha93 just wanted to clarify that this has nothing to do with the metric package, since this is calculating blue score using another package.

[2020-09-23 06:55] SkafteNicki commented on #3570
@oke-aditya this sounds like a good addition. Would you be up for doing a PR (please note that we are trying to fix bugs related to the metric package at the moment)?
Maybe it would be better to have a separate `topk_accuracy` metric as the output/predictions for this metric needs to class logits/probabilities whereas we for standard accuracy predictions can also be predicted class labels.

[2020-09-23 07:02] oke-aditya commented on #3570
I will try, it is bit tough and new for me though.

[2020-09-23 07:17] tchaton commented on #3399
Dear All,

Sounds like a great idea to add a prepare_batch (I would prefer a more explicit name such as prepare_batch_after_collate_fn) hooks made of sub-hooks. I think it should be easier with graphs and sparse pointclouds.

Best,
T.C

[2020-09-23 07:18] SkafteNicki commented on #3570
alright ping me if you need help

[2020-09-23 07:28] JVGD commented on #3458
Mmm really strange man, you almost got it. I got an hypothesis: maybe you don't see any logs because the root logger does not have any handlers. This means, pytorch_lightning did not add any handlers (because we removed it), and app you are running does not add any other handlers.

I think it works in my case because my app already adds a StreamHandler at the beginning. So there is at least one St

[2020-09-23 08:09] DomainFlag commented on #3592
Alright, so with some research done, I've found out the `callback_metrics `property gets updated only with the logs from processing the last val batch, thus the only way to have access to all val batch logs is to override the `validation_epoch_end` and store the list of batch results as dict property and access it by overriding the `on_validation_epoch_end` for pytorch_lightning.callbacks Callback

[2020-09-23 08:31] JackCaster commented on #3291
Great! I ran a quick test and it works. @Borda Do you still need the PR?

I see that now the `EarlyStopping` callback is disabled by default so we need to initialize ourselves. Instead, `ModelCheckpoint` is active by default and it will monitor `checkpoint_on`.

Regarding the `EarlyStopping`, there is an error in the documentation. While `Trainer` disables it by default (https://github.com/PyTorch

[2020-09-23 08:37] EspenHa commented on #3592
You could implement a custom logger. It should receive the logged data.
Example:
[code]

[2020-09-23 08:38] #3278 closed

[2020-09-23 08:44] SkafteNicki commented on #3539
Closed by #3551.

[2020-09-23 08:44] #3539 closed

[2020-09-23 08:44] Borda commented on #3291
yes, please, just be aware that @williamFalcon is finishing some final Result refactoring which may collide your you PR :]

[2020-09-23 08:50] JackCaster commented on #3291
Alright. Perhaps, it is better if I wait a couple of days then.

[2020-09-23 08:56] DomainFlag commented on #3592
@EspenHa How would I go about logging for each step, instead of each epoch as it's now?

[2020-09-23 09:05] EspenHa commented on #3592
I guess you could do a hack like: `self.trainer.logger.log_metrics(...)` in `validation_step`? (Not sure :P)

[2020-09-23 09:11] awaelchli commented on #3335
I had it almost like this, but without sync ddp. Can you share the whole runnable script? At this point I can only make guesses.

[2020-09-23 11:19] SkafteNicki commented on #2074
closing this as it was solved by PR https://github.com/PyTorchLightning/pytorch-lightning/pull/2932

[2020-09-23 11:19] #2074 closed

[2020-09-23 11:58] williamFalcon commented on #3291
that PR should be fine. please go ahead

[2020-09-23 12:30] williamFalcon commented on #3451
this looks like user error

[2020-09-23 12:30] #3451 closed

[2020-09-23 12:50] oyj0594 opened #3624 "Support all_gather usecase for sync_ddp"
## 🚀 Feature

all_gather function support for EvalResult sync_dist option.

### Motivation
Current sync_dist implementation is for manipulating output tensors from each validation loop of several GPUs. ('mean', 'sum')
There are use cases which need all_gather function rather than all_reduce function.

[2020-09-23 12:50] oyj0594 commented on #3624
@SkafteNicki

[2020-09-23 12:53] bartonp2 opened #3625 "Log validation metrics before training"
## ❓ Questions and Help

Is there an easy way to run a full evaluation on the the validation set before starting training. I would like this as a kind of benchmark to see where I'm starting from and if the network learns anything at all.

 While https://github.com/PyTorchLightning/pytorch-lightning/issues/1715 allows running the sanity check on the complete validation set, this does not log any me

[2020-09-23 12:54] awaelchli commented on #2350
No it is not there yet. This would require a custom scatter/gather in LightningDataParallel/LightningDistributedDataParallel that the user defines. Here I am not sure what the recommended way is in Lightning. Should the user subclass these classes and init them in configure_ddp hook?

[2020-09-23 13:34] carmocca opened #3626 "#3598 does not allow monitoring tensors logged via `TrainResult`"
## 🐛 Bug

### Code sample

[code]

`tr_foo` and `tr_bar` fail. `va_foo` and `va_bar` work.

### Expected behavior

No failure and callbacks correctly monitor their `monitor`

### Environment

Current master

@williamFalcon

[2020-09-23 13:37] ananyahjha93 commented on #3592
@DomainFlag you should checkout the results object API in the new version: https://pytorch-lightning.readthedocs.io/en/stable/results.html

With the Results API, you should have access to both the step wise and epoch wise logs for validation.

Is this all you require? 'having logs for each step will be very helpful', if yes then you don't have to worry about hooks and having logs available within

[2020-09-23 13:37] williamFalcon commented on #3626
amazing. thanks for finding. can you submit a PR with the tests? i’ll make the fixes on that PR

[2020-09-23 13:40] SkafteNicki commented on #3624
@oyj0594 do you have time for submitting a PR yourself?

[2020-09-23 13:43] DomainFlag commented on #3592
@ananyahjha93 How about custom logging, as it's referred from the thread, I need full control over the logging...

[2020-09-23 14:13] junwen-austin commented on #3335
Unfortunately I cannot share the entire script but I will provide more information in hoping of getting what you need.

I have the following helper function with the Lightning Module:

[code]

[2020-09-23 14:13] carmocca commented on #3626
Done

[2020-09-23 14:14] tsteffek commented on #3556
Does this really give you 16-bit precision? When I took a brief look into the relevant code, I didn't see anything that changes to 16-bit aside from autocast. So as to my understanding, that shouldn't do anything?

[2020-09-23 14:17] AljoSt opened #3628 "automatically copy state-dict when using ddp"
## 🚀 Feature
Copy model state-dict from rank 0 process to other processes when using ddp

### Motivation
This would mean that the user does not need to worry about initializing models with the same weights

### Alternatives
Alternatively lightning could at least check if the weights are the same and if not warn the user / thrown an exception

Not sure if this is possible and how easy it can be acc

[2020-09-23 14:23] oyj0594 commented on #3625
It's because model checkpointing occur with `run_evaluation `.
Just use ModelCheckpoint simultaneously, or you can bypass the issue with setting filename of checkpoint inside of your function.

[2020-09-23 14:41] edenlightning commented on #1922
fixed in force crash when max_epochs < epochs in a checkpoint #3580

[2020-09-23 14:41] #1922 closed

[2020-09-23 14:45] edenlightning commented on #2612
@Borda please check if issue persists on master

[2020-09-23 14:45] #2612 closed

[2020-09-23 15:31] ananthsub commented on #3620
Couldn't you set `save_top_k = -1`? Then `monitor` is ignored

[2020-09-23 15:33] teddykoker commented on #3610
Closing, everything works as it should. See https://colab.research.google.com/drive/1bvsyanpnMwf3RZerfybcH6w-cFNuduUw?usp=sharing for an example of using your own tensorboard logger.

[2020-09-23 15:33] #3610 closed

[2020-09-23 16:06] awaelchli commented on #3484
@oke-aditya I used your function as you posted it in my research project, and I do not observe any speed up.
Then I looked at the docs and it seems that these functions are actually context managers, so they do nothing if you just use them like this, without using "with". For example, profile is meant to be used like so:

[code]
The "enabled" parameter is there so you can quickly turn it off for t

[2020-09-23 16:15] oke-aditya commented on #3484
Hmmm, Benchmarking is quite tricky.
Maybe my results can go wrong due to CUDA caching some operations and fusing them etc.
Also, the OS usually caches such files and file I/O time too can be one of the reasons for my timings,

I will have a go one more time. But your thoughts too are correct.

I will have one more run of my colab. Taking care of these things.

[2020-09-23 17:05] ananthsub commented on #3619
@williamFalcon why is epoch 0-indexed in one place and 1-indexed in other places? can it be consistent across lightning instead of these +1s? I think the same issue affects batch indices too

[2020-09-23 17:07] Pengyang233 opened #3629 "Unexpected key(s) in state_dict Error when calling `load_from_checkpoint`"
## ❓ Questions and Help
#### What is your question?
Unexpected key(s) in state_dict Error when calling `load_from_checkpoint`
#### Code
[code]
First, I pretrain this model and save a checkpoint file. Then when I want to load this checkpoint file by `.load_from_checkpoint()`, an ERROR was raised:
[code]

#### What have you tried?
I follow the [tutorial](https://pytorch-lightning.readthedocs.io/en/l

[2020-09-23 17:09] oke-aditya commented on #3484
Maybe we can run this time I launched 2 separate Colab sessions so solving caching issues.

Profiler enabled training [colab](https://colab.research.google.com/drive/1W9sWZZU3mMlOhm5t3LRKavM-kOGdVKx8?usp=sharing)
Profiler Disabled training [colab](https://colab.research.google.com/drive/1BVeT7t12aCp82Hy43Nriptwm2J1BjH8T?usp=sharing)

[2020-09-23 17:20] AljoSt commented on #3628
hm I suppose just setting the seed would be enough? Or can there be situations where it's not the case?

[2020-09-23 17:43] williamFalcon commented on #3619
yes, we did a refactor a while to make everything zero indexed. where did we miss spots?

[2020-09-23 18:56] carmocca commented on #3620
Not really, because you still would have to give a placeholder monitor.

Currently, if monitor is None, this line fails:

https://github.com/PyTorchLightning/pytorch-lightning/blob/c61e1e697d2e4ed5cc97c187e6704a44f2f77aff/pytorch_lightning/callbacks/model_checkpoint.py#L177

And if you give it a placeholder monitor `foo` (even with `save_top_k = -1`) it has to be present in the logged metrics. see

[2020-09-23 19:00] carmocca commented on #3620
They do correspond to that right now, but we should see them just as snapshot takers.

When we support having multiple checkpoint callbacks, if you are training for a long time you might want to take snapshots of your model not only on performance improvements but also every N epochs (regardless of performance). For example, to have an history of how the model improved.

This issue is just one ste

[2020-09-23 19:46] teddykoker commented on #3629
The model that you are checkpointing is a `Model` object, not a `smallCNN` object. If you want to load the `smallCNN` object from inside the `Model` object, you can access it using the `pre_CNN_here` attribute. Additionally, there is no need to to use `LightningModule` for `smallCNN` as you are not training it directly.

I would do the following:
1. Subclass `nn.Module` for `smallCNN`:
[code]

2.

[2020-09-23 19:46] #3629 closed

[2020-09-23 22:40] awaelchli commented on #3628
Yes exactly, in ddp we always need to set the seed.
Although what @AljoSt suggests may make sense on first thought, I do not believe that simply copying the model state dict is enough. Why only that? The assumption here is that the only non deterministic state is the model, but that is simply not true in general. We may have random state in dataset, imported libraries, and other external influence

[2020-09-23 22:46] djrmarques opened #3634 "AttributeError: 'dict' object has no attribute 'callback_metrics' when using validation_epoch_end callbac"
## 🐛 Bug

Hello.  I am  trying to setup the early stop callback, and according to the warning that I get I need to use the validation_epoch_end callback. When I do that, I get the following error:

[code]

[code]

and my training loop is:

[code]

I am using Google Colab, with the following versions:
[code]

Am I doing something wrong, or what is the issue here?
Thank you! :)

[2020-09-23 22:55] awaelchli commented on #3620
@carmocca with your None approach, what will the value of best_model_path (forgot exact name) in checkpoint be? Can these checkpoints be properly loaded and resumed? I'm just trying to look for edge cases here.

@ananthsub @carmocca on the setting top_k=-1, yes it would save all checkpoints, but it is an important detail that the name "topk" would imply that we have a sorting based on the monitor.

[2020-09-23 22:58] carmocca commented on #3620
https://github.com/PyTorchLightning/pytorch-lightning/blob/f05244e036c0cf5c81623d4689d5a12815cab7cc/tests/callbacks/test_model_checkpoint.py#L219-L223

[2020-09-24 00:46] joshclancy opened #3635 "wandbLogger log Image does not seem to work."
## 🐛 Bug

in normal pytorch I would log an Image in wandb like this:
`wandb.log({"Reconstruction":[wandb.Image(recon, caption="recon")]})`

in lightning documentation it says:
      self.logger.experiment.some_wandb_function()

I have used this to successfully log other metrics, but if I do this with Images:
`self.logger.experiment.log({"val_input_image":[self.logger.experiment.Image(val_batch[0][

[2020-09-24 04:18] ibeltagy commented on #2698
Are you testing with `num_tpu_cores=8`? do you get a single file under the `tf` directory?

[2020-09-24 04:53] dvirginz commented on #2558
It is still broken

[2020-09-24 05:38] baradl opened #3638 "Loading written predictions"
One can write predictions (or metrics, etc.) to disk with a result object using the method `write` which pickles them in `on_test_end`. I'm interested in loading them afterwards with following lines
[code]
and I'm receiving the following error

`UnpicklingError: A load persistent id instruction was encountered,
but no persistent_load function was specified.`

I can't find the line where prediction

[2020-09-24 05:55] #3379 closed

[2020-09-24 06:29] david-waterworth opened #3639 "Test step with DDP"
Having refactored my code to avoid iterable datasets I've now got DDP training working (I also had to set ulimit to prevent another crash). However now it crashes at the test step.

The message implies DDP is not needed for testing - but I don't see any mention in the documentation of how to disable DDP once training has complete (plus I would assume that trainer.test() would do this if it were re

[2020-09-24 06:48] david-waterworth commented on #3639
So looks like `transformer.freeze()` is the issue - commented that out and it's fine. Is that a bug?

[2020-09-24 06:58] Pengyang233 commented on #3629
If Subclass `nn.Module` for `smallCNN`,  there is another error occurring: 'AttributeError: type object 'smallCNN' has no attribute 'load_from_checkpoint'`.
my pytorch version is 1.4.0

[2020-09-24 07:09] Pengyang233 commented on #3629
My situation maybe particularity. The code I post is a reduced version for easy observation.

Actually, I have two models (`Model 1` and `Model 2`), and `Model 1` is a part of `Model 2`. I need pretrain `Model 1` fist, and then load `Model 1` in `Model 2.__init__()`. ( `Model 1` is a part of `Model 2`, namely there are some layers in `Model 2` but not in `Model 1`)

[2020-09-24 08:24] ByungSun12 opened #3640 "DDP is not working for me..."
## 🐛 Bug
I run mnist example code in this repo.
When i excuted mnist.py, I could see one gpu's usage is 100% and this process is not finished.
After change ddp to ddp_spawn, It works.
But I want to use ddp!

### To Reproduce

Steps to reproduce the behavior:

Run [mnist.py](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/basic_examples/mnist.py).

### Environment

scr

[2020-09-24 08:34] Borda commented on #2698
the test is here, but not counting files
https://github.com/PyTorchLightning/pytorch-lightning/blob/c94c0a2b1ee6b444ab1ecf58059e922229d44436/tests/models/test_tpu.py#L74-L88

[2020-09-24 08:54] oyj0594 commented on #3624
@SkafteNicki Okay let me work on this. If there is problem with my schedule, I will contact you.

[2020-09-24 11:13] wongjoel commented on #3500
I think that would be helpful - I would rather run without a progress bar than have a hard error preventing testing. (Sorry about the late reply, I ended up doing testing outside the framework, so I forgot about this).

[2020-09-24 11:14] Borda commented on #3640
are you using one or multiple machines for training, by the monitor it seems as a single machine with two GPU cards, right?

[2020-09-24 13:51] AljoSt commented on #3628
yes, good point. I'll close this then!

[2020-09-24 13:51] #3628 closed

[2020-09-24 14:29] agamemnonc commented on #3380
I have tried to use this approach, but the length of the saved values is equal to the batch_size instead of batch_size * num_batches, this indicating that only results from one step are saved rather than concatenated across steps.

[2020-09-24 14:44] teddykoker commented on #3629
I understand now; typically to do such a thing I would structure the project like so:

First have a plain `nn.Module` that contains the model architecture:
[code]
Then have two `LightningModule` (one for pretraining, one for finetuning:
[code]

This should work great for your use case.

[2020-09-24 15:38] ananyahjha93 commented on #2875
@edenafek not yet, None of my runs face this issue right now.

[2020-09-24 15:53] ibeltagy commented on #2698
The test looks good but it is not capturing the issue that multiple tensorboard log files are created and that these files confuse tensoboard

[2020-09-24 16:43] monney opened #3646 "Support checkpointing for Sub-Epoch period"
## Question

When setting period to a fractional value, checkpointing doesn’t trigger correctly. Additionally I think period should default to val_check_interval, if it doesn’t already.

### To Reproduce

Steps to reproduce the behavior:

Run any model and set checkpoint to run at a fractional value. Only the first checkpoint will be saved.

### Expected behavior
A checkpoint should be saved every

[2020-09-24 17:03] michele-arrival opened #3647 "Incorrect progress bar during validation"
## 🐛 Bug

when running for multiple epochs, the progress bar doesn't look right.
While during training the progress bar looks fine (percentage increases and rewrites over) - in the example below this goes on fine until 67% of the epoch. However, during validation instead of switching to "Validating", the "training" progress bar is printed over it, and again on a new line for every validation itera

[2020-09-24 17:53] KirillShmilovich opened #3648 "How to use a custom Callback with Trainer.from_argparse_args"
## ❓ Questions and Help

### Before asking:
1. search the issues.
2. search the docs.

#### What is your question?

I'd like specify a custom Callback while passing argparse paramaters using `Trainer.from_argparse_args`

#### Code

For example, I've tried something like this with no success:

`trainer = Trainer(callbacks=[CustomCallback()]).from_argparse_args(args)`

which doesn't seem to properly

[2020-09-24 19:46] sujaykhandekar opened #3649 "TPU issue on google colab"
[code]
ERROR:
[code]
I am getting the above error while running on tpu. There seems to be some issue with data loading. It runs without any error while running on a single gpu. I am loading the data correctly? or any other issue?

[2020-09-24 20:28] carmocca commented on #3648
You can do the following:

[code]

[2020-09-24 20:54] carmocca commented on #3647
Lightning's training progress bar (aka main bar) does not include just the training data, but both training and validation. Notice how it says `{current_batch}/1500` (1000 training samples + 500 validation samples) in it.

I think you are getting confused because validation is running blazingly fast compared to training. So fast that it looks like the training progress bar is getting stuck at 67%

[2020-09-24 21:32] awaelchli commented on #3648
I do this
[code]
from_argparse_args accepts kwargs that can override the args in the namespace.

[2020-09-24 21:33] awaelchli commented on #3648
Pretty confident this or @carmocca's comment will answer it for you, so closing this already. Let us now if it worked!

[2020-09-24 21:33] #3648 closed

[2020-09-24 22:07] awaelchli commented on #3646
I think you need to set period=0, then it could work, just looking at the code:
[code]
Try it :)
period can only be an integer. Setting it to the val_check_interval does not make sense.

[2020-09-24 22:17] awaelchli commented on #3640
@ByungSun12 You selected 2 epochs, if you look at your console output, these two epochs are already over!
Now the process is at `trainer.test()`, but this is not supported in ddp mode.
In ddp mode we cannot call both trainer.fit and trainer.test, unfortunately. This only works with spawn.

[2020-09-24 22:17] awaelchli commented on #3640
cc @williamFalcon

[2020-09-24 22:24] awaelchli commented on #3638
I think @nateraw worked on this predictions feature and may know the answer :)

[2020-09-24 22:26] awaelchli commented on #3635
Do this:
[code]
With a bit of luck, I have not introduced a typo.

[2020-09-24 22:34] awaelchli commented on #3634
Pretty sure the problem is, you cannot mix results objects in your step methods with dict in your epoch_end methods.
Use either dicts everywhere or results everywhere, but not both. Let me know if that solves your problem

[2020-09-24 22:53] awaelchli commented on #3634
oh, sorry, did not read the first sentence in your message.
For early stopping, use this

[code]
There should be no need for the validation_epoch_end, you can savely remove it. the validation loss will be reduced and logged automatically at the end of epoch.

[2020-09-24 23:00] awaelchli commented on #3649
@sujaykhandekar  check the TPU example from our readme:
https://colab.research.google.com/drive/1-_LKx4HwAxl5M6xPJmqAAu444LTDQoa3
maybe you can compare and see where the issue is.
which lightning and pytorch version are you using here?

@lezwon have you seen something like this before?

[2020-09-24 23:06] awaelchli commented on #3639
hmm, I would tend towards not a bug. The error seems to come from the underlying PyTorch DistributedDataParallel, not Lightning.
It seems we can't really do anything. But freezing the model before test should not be needed, test does not alter the weights and puts model into eval mode anyway. Makes sense?

[2020-09-24 23:06] ByungSun12 commented on #3640
@Borda Yes, It's single machine that has two gpus.

@awaelchli Oh.. really? then.. could I test model with only one gpu after training with ddp mode?

[2020-09-24 23:15] david-waterworth commented on #3639
Yes that makes sense.

[2020-09-24 23:18] #3639 closed

[2020-09-24 23:42] monney commented on #3646
@awaelchli Thanks! This works, but I find it a bit unintuitive. I didn’t get any warnings or anything trying to set it to a fractional value (the same as Val interval) so I assumed that’s what I had to do. Perhaps we could auto set this if Val interval is below 1? Or trigger a warning stating the correctly value to set in this condition?

[2020-09-25 00:07] Rashindrie opened #3651 "Running ray with pytorch lightning in slurm job causes falure with error "ValueError: signal only works in main thread""
## 🐛 Bug

I followed the instructions at https://docs.ray.io/en/master/tune/tutorials/tune-pytorch-lightning.html  to integrate ray with pytorch lightning. However, when I submitted a slurm job to run the tuning I get the following error:
`ValueError: signal only works in main thread`

I submitted the same to ray project at [ray/issues/10995](https://github.com/ray-project/ray/issues/10995) and I

[2020-09-25 01:21] yoshum opened #3652 "Creation of many data module instances incurs RecursionError"
## 🐛 Bug

Thank you for a nice framework!

When I repeated hundreds of experiments, each time with a new instance of a single LightningDataModule class, RecursionError was raised. I also found that creating data modules and calling setup() were enough to reproduce the issue.

### To Reproduce

Please look at the following code sample and error messages:

#### Code sample

[code]

#### Error messag

[2020-09-25 01:33] lezwon commented on #3649
@sujaykhandekar mind share the notebook?

[2020-09-25 01:53] #3626 closed

[2020-09-25 01:55] williamFalcon commented on #3626
please see the comments in the PR... this is not a valid use.

If you notice, you don't log anything until the end of the epoch... but yet you ask to monitor a value WITHIN a training epoch. This is of course a contradiction.

If you want to monitor something within an epoch, then log that value within the epoch. Otherwise monitor epoch metrics

[2020-09-25 02:25] carmocca commented on #3626
So, if I understood it correctly, is it because training has this structure?

[code]

[2020-09-25 02:42] 2531919747 opened #3653 "TrainResult.log dosen't work as log_dit"
## 🐛 Bug

When using TrainResult as the return of LightningModule.training_step(),TrainRsult.log() can not add metrics to Trainer.logged_metrics and this make Checkpoint.format_checkpoint_name() works not well.

### To Reproduce

[code]

### Environment

 - How you installed PyTorch (`conda`):
* CUDA:
        - GPU:
                - TITAN Xp
        - available:         True
        - version:

[2020-09-25 03:06] Pengyang233 commented on #3629
Thx, I have tackled this problem.

I just change the key in the load weight to match my model.

Thanks for your reply.

[2020-09-25 04:23] sujaykhandekar commented on #3649
@awaelchli  Ya i checked the example, my torch version is 1.7.0a0 and lightning version is 0.9.1rc3.
@lezwon  sure!. here is the [notebook](https://colab.research.google.com/drive/10VVbHd4TultNBWly4c7x0Kouo9gNvQI_?usp=sharing).

[2020-09-25 08:58] divyanshugit commented on #1892
Hello, I would like to work on this issue. Can you suggest some ways to get started?  The link provided in the description is not working anymore.

[2020-09-25 09:18] michele-arrival commented on #3647
Hi @carmocca, and thanks for the answer!

I think I understand, and now that I tried it outside of Pycharm + having done a bit of research I see that it is the Pycharm console the one that has known problems with tqdm

apologies for misreporting! 🤕
(I do hope eventually they'll fix pycharm :/ )

Thanks again!

[2020-09-25 09:18] #3647 closed

[2020-09-25 10:54] antoinebrl commented on #3652
I faced the same issue. I opened a PR with a fix #3654.

[2020-09-25 11:09] #3652 closed

[2020-09-25 11:14] williamFalcon commented on #3640
ummm really?  yeah, let me debug this fit test thing. i thought that would have worked

[2020-09-25 11:14] ddrevicky commented on #3330
@Borda Assign this to me please :).

[2020-09-25 11:25] adriangrepo opened #3655 "How to perform inference using saved model checkpoint"
In the pl docs its shows how to run inference using a saved model "Test pre-trained model":

https://pytorch-lightning.readthedocs.io/en/latest/test_set.html#test-pre-trained-model

The example indicates we need to load a hparams file, while I have found to be correct - when a hparms file is not supplied args from argparser created at run start are not passed through the code. However when a yaml

[2020-09-25 11:28] awaelchli commented on #3640
In ddp mode, you cannot launch .test after you have trained with fit in ddp mode.
Obviously, because ddp launches your whole script at once.
If you really want to run test in the same script, you need to instantiate a new trainer after fit, and this one runs the test without ddp.

[2020-09-25 11:32] williamFalcon commented on #3640
well... that’s not entirely true.

if your script defines

.fit then .test

then ddp would call that script multiple times on parallel.

fit would execute. the test.

we jusy need to register that ddp has already been forked so that test knows to not fork off again.

[2020-09-25 12:00] antoinebrl commented on #3592
I'm wondering if `get_batch_log_metrics` could help you. See [Result.get_batch_log_metrics documentation](https://pytorch-lightning.readthedocs.io/en/latest/api/pytorch_lightning.core.step_result.html#pytorch_lightning.core.step_result.)

[2020-09-25 12:07] kimmo1019 commented on #1400
@rzepinskip Hi, I come with a similar case, I use multi GPU and the model class (pl.LightningModule) also take multiple init parameters. When I load the checkpoint, it raised the exactly the same error, has this been fixed??

[2020-09-25 12:18] #3578 closed

[2020-09-25 13:17] awaelchli commented on #3640
There is no forking in ddp. This is not about ddp_spawn.

[2020-09-25 13:54] #3620 closed

[2020-09-25 14:20] #3531 closed

[2020-09-25 15:05] awaelchli commented on #3646
Yes I agree, period=0 only works because of an implementation detail and it is not meant to be used like that. It's a hack. The sub-epoch checkpointing is not supported currenlty. We're looking into that. If you're feeling lucky, give it a try and send a draft PR? :rocket: It is a tricky one though.

[2020-09-25 15:24] rbracco opened #3657 "Add on_after_backwards callback option"
## 🚀 Feature
Add an on_after_backward callback option.

### Motivation
Currently there are no callbacks for after the backwards step so non-essential code like logging gradients clutters the LightningModule.

### Pitch

Expand the callback options to include a hook for `on_after_backward()` to execute callbacks immediately after the backwards pass

### Alternatives

Sticking my non-essential gradi

[2020-09-25 15:27] monney commented on #3646
Ill give it a look over and see if Im able to do it. Feature request sounds good, since it's working as intended

[2020-09-25 16:09] ddrevicky commented on #3219
I've looked at this and this actually has nothing to do with TensorBoard or any other logger. PR #3293 added a `tune()` method which extracted the learning rate finder out of `fit()`. Looking at it, it seems that William intended it to be used separately from `fit()`.

Anyway, learning rate finder is not called in `fit()` at all so the learning rate the user sets is used (and logged by TensorBoard

[2020-09-25 16:16] rbracco commented on #2660
@miccio-dk, nice article but it doesn't talk about logging gradients.

I figured this out and the docs are definitely incorrect, I'm happy to PR if there's interest. Anyways on to the good stuff, how to log gradients in lightning:

Do it manually:
[code]

- cnn, fully connected...etc are the names defined in my model, you'll need to change it for yours or just log every layer with

[code]

[2020-09-25 16:42] #2602 closed

[2020-09-25 18:46] rbracco commented on #1394
I've had a lot of issues with outdated documentation. For instance with `lr_find` the docs say 2 different things in 2 different places and theyre both wrong. Maybe we could start an effort to overhaul the docs to reflect the latest changes.

The instructions in the trainer section say
[code]

in the lr_finder section of Common Use Cases they say
[code]

but neither work. It turns out lr_find is c

[2020-09-25 19:43] awaelchli commented on #3657
useful!

[2020-09-25 20:03] djrmarques commented on #3634
So I ended up putting it all into dictionaries and it worked.

But before that I tried to use the results object in both the validation and train set, and the model was running, but for some reason the train_loss was not logging on tensorboard, but maybe I was doing something wrong. I will leave it for now like this, because I want to finish my model, but after that I will try to set up the result

[2020-09-25 20:03] #3634 closed

[2020-09-25 20:04] ktrapeznikov opened #3660 "Colab TPU training stuck at end of epoch if checkpoint_callback=True"
I am seeing training stuck at the last step of the 1st epoch when `checkpoint_callback=True` is enabled. I am passing `tpu_cores=8` to the trainer.

If it's `False` training is still slow for the first few steps and then it speeds up (I guess that this is expected since it takes a few steps for xla to compile stuff).

Here is a [link](https://colab.research.google.com/drive/1QCI_Nuz0iswNkVcdkJOFBt

[2020-09-25 21:20] CamiVasz commented on #3230
Hi! I am not a contributor, but I am a user of a library called hypothesis [hypothesis](https://github.com/HypothesisWorks/hypothesis), which may be more suitable for this specific case. This library allows the user to write parameterized tests and then chooses the cases that are most likely to make the program fail, that is, the library is really robust to edge cases and can really help to find t

[2020-09-25 21:23] finkga commented on #84
The recommended solution:

[code]

Also produces the error 'AttributeError: 'dict' object has no attribute 'callback_metrics':
[code]
Comment those two lines out and it works without any issue. This issue should not be closed until either the problem is fixed or the documentation is updated to show that it's not working.

[2020-09-25 21:36] #2644 closed

[2020-09-25 22:16] awaelchli commented on #3660
Thanks for the reproduction script.
Could be related #2700
There is a PR for fixing checkpointing on TPU: #2726 (need check if this applies)

[2020-09-25 22:29] nrjvarshney opened #3662 "How to combine all the values passed from validation_step in validation_epoch_end for multi gpus case"
## ❓ Questions and Help
`
    def validation_step(self, batch, batch_idx):
        logits, softmax_logits = self.forward(**batch)
        loss = self.loss_function(logits, batch["labels"])

        accuracy = self.compute_accuracy(logits, batch["labels"])

        return {
            "val_loss": loss,
            "accuracy": accuracy,
        }

    def validation_epoch_end(self, outputs_of_valid

[2020-09-25 22:54] ktrapeznikov commented on #3660
Thanks. Seems related. Is there another mechanism to save checkpoints as a temporary fix?

[2020-09-25 22:57] awaelchli commented on #3085
Hi, what exactly is this debug mode?
Given that this issue is closed, I assume you solved the problem.
I ran the code and it generates all the tensorboard logs, so it seems to be fixed in the latest version.
cheers

[2020-09-26 00:08] awaelchli commented on #3662
@nrjvarshney good question. We have a Results api for that.
check this out:

def validation_step(batch, batch_idx):
    accuracy = self.compute_accuracy(logits, batch["labels"])     # or use our metrics (metrics.classification.accuracy)!
    result = EvalResult()
    result.log("val_accuracy", sync_dist=True)  # reduce accross gpus
    result.log("val_loss", reduce_fx=torch.sum)  # or choose a cus

[2020-09-26 00:49] nrjvarshney commented on #3662
Thanks, @awaelchli  for the quick reply.
I want to perform some computation at the end of validation, So, I need the outputs (from all gpus) in validation_epoch_end() method.
Is there a way ?

[2020-09-26 01:04] awaelchli commented on #3662
What kind of outputs are these?
Is it just a metric?
Can't you do what I shared above in the example and define a custom reduce_fx?

[2020-09-26 01:11] nrjvarshney commented on #3662
@awaelchli , I intend to use the softmax_values of predictions for the entire validation set.
I couldn't find a complete example using the new result api. That's why I'm a bit hesitant in using it.
It would be great if you could provide an example of a custom reduce function that takes in parameters.

Can you refer me to a complete example using the results api that includes --> using a callback t

[2020-09-26 01:18] david-waterworth opened #3663 "EvalResult.write() should use self.logger"
## 🚀 Feature
I quite like using `EvalResult.write()` to generate a report from the `test_step`. However, I feel this should be integrated with `self.logger`

### Motivation

By using self.logger for all logging, consistency is maintained - files end up in the same location and it's easy to enable / disable logging. In particular, I'm using mlflow. I'd like my predictions.pt to end up as a mlflow a

[2020-09-26 01:27] awaelchli commented on #3662
no, validation_epoch_end is not useless, it's just only needed for custom stuff that is not handled by result.
Ok, so return your logits in the dict and flatten them already with flatten(1) so that the batch dim is preserved.
Then in your epoch end use torch.cat on dim=0, now you have one big batch and you can apply your computation on that.

[2020-09-26 01:33] peymankhodro opened #3664 "switch from LBFGS to ADAM optimizer during the training loop"
Is possible to show how we should write the "configure_optimizers" and "training_step" functions for the following code.
The purpose of the code is to switch the optimizer from LBFGS to Adam when the loss_SUM<0.3

[code]

[2020-09-26 01:34] peymankhodro opened #3665 "training discriminator five time for WGAN and generator only one"
#Is there a more efficient method to train discriminator for 5 times and the
#generator for only one time?
def configure_optimizers(self):
  genOptim=optim.Adam(self.Generator.parameters(),lr=self.hparams.lr_gen)
  disOptim=optim.Adam(self.Discriminator.parameters(),lr=self.hparams.lr_dis)
  return [disOptim,disOptim,disOptim,disOptim,disOptim,genOptim],[] #5 times training of discriminator
def tr

[2020-09-26 01:37] nrjvarshney commented on #3662
`softmax_logits = softmax_logits.squeeze(1)
and returning from validation_step()

in validation_epoch_end()
softmax_logits = torch.cat([x['softmax_logits'] for x in outputs_of_val_steps])`
This works for single gpu.
Will this work for multi gpu as well?

[2020-09-26 01:44] awaelchli commented on #3662
Yes, this looks fine.
Just to clarify, by "not working" / "it fails" you mean it gives an error, or the result is not correct?

[2020-09-26 01:47] nrjvarshney commented on #3662
With .view(1) and multiple gpus was failing because it had 4 tensors (4 gpus).
and not using .view(1) for a single gpu was failing because it gives a 0-d tensor.

[2020-09-26 01:50] nrjvarshney commented on #3662
Thanks a lot.
Also, do I need to specify the metric to monitor in the EvalResult()?
Then what about the mode?

[2020-09-26 01:56] awaelchli commented on #3662
The metric to monitor for what?
If you would like to monitor for example val_loss for checkpointing, do
EvalResult(checkpoint_on=val_loss)
the mode is "min" by default but you can change that in the ModelCheckpoint callback.

For early stopping it is the same.

[2020-09-26 03:03] awaelchli commented on #3665
Have a look here
https://pytorch-lightning.readthedocs.io/en/stable/optimizers.html
And here:
https://pytorch-lightning.readthedocs.io/en/stable/api/pytorch_lightning.core.lightning.html#pytorch_lightning.core.lightning.LightningModule.configure_optimizers

You can return a dictionary like this:

[code]

Hope this helps

[2020-09-26 03:33] david-waterworth opened #3666 "row_log_interval / checkpoint_callback and early_stop_callback"
I raised an issue in the past regarding the train score not being logged, which was resolved by setting `row_log_interval` less than the number of batches per epoch.

This also appears to interfere with callbacks. My model stopped writing checkpoints (other than the first) and early stopping also wasn't invoked. I think this occurred when I increased `batch_size` and didn't reduce `row_log_interva

[2020-09-26 10:02] ddrevicky commented on #2636
Assign this to me please.

[2020-09-26 11:00] AvivWn commented on #3600
Hi
I encountered that DDP couldn't work for me when running my python script as a module (python -m).
Does it match the second limitation case? ("You have a nested script without a root package").
I couldn't really understand this one, and I am not sure why DDP cannot work with modules.
When I am running the same script not as module, everything works fine.
I tested it also on a really simple MNIS

[2020-09-26 11:06] awaelchli commented on #3600
@AvivWn Because when you run the ddp script, it will call itself under the hood again n-1 times where n is the number of gpus you selected. So, example, if we did this:

`python train.py --gpus 4 --something-else --distributed_backend=ddp
`

this process will launch on gpu 0 and then call
[code]
(simplified example)

so if we wanted to support the module way of launching the script, we would have

[2020-09-26 11:12] awaelchli commented on #3666
True, I agree. row_log_interval should apply to global step and log every N steps regardless of epoch. #3466

However, row_log_interval has no influence on callbacks, I am sure. It must be something else you are experiencing. For the callback, did you set the monitor and correctly? There were some bugfixes recently around checkpoint callback, check also the latest version.

[2020-09-26 11:17] AvivWn commented on #3600
Sure
And is it impossible to programmatically add the "-m" only if it specified? It should be just a single if, right?
It is frustrating to know that a module cannot be run as DDP, after I have already built a full working module project.
Transforming it into a script won't be easy...

[2020-09-26 11:48] awaelchli commented on #3664
Hi
In your lightning module, you could do this:

[code]

and you start with LBFGS as default, returned in configure_optimizers.

[2020-09-26 13:26] irustandi commented on #791
Is anyone working on this currently?

[2020-09-26 13:29] ydcjeff commented on #791
@irustandi I think no one

[2020-09-26 15:32] rohitgr7 commented on #1964
looks like not a useful feature.

[2020-09-26 15:32] #1964 closed

[2020-09-26 15:38] gerardsn opened #3668 "incorrect batch_sizes when Dataloader returns a dict with multiple tensors."
## 🐛 Bug

Tracked batch sizes in result object are incorrect when a Dataloader returns a dict with multiple tensors.

### To Reproduce

Create data loader that returns a dict, e.g. batch = {'batchA': tensor_A, 'batchB': tensor_B}.
Both entires have batch size N with N != 2.
For this example a batch size of 2 will be logged since len(batch) == 2.

https://github.com/PyTorchLightning/pytorch-lightni

[2020-09-26 21:12] vladimirbelyaev commented on #3610
I wrote this to turn tensorboard on:
`%load_ext tensorboard
%tensorboard --logdir .`
Hyperparams are still not logged, like there https://github.com/PyTorchLightning/pytorch-lightning/issues/3610#issuecomment-696884730

[2020-09-26 21:39] rohitgr7 commented on #3653
Here
[code]
should be
[code]

[2020-09-26 21:50] rohitgr7 commented on #3655
I think the difference here is that in your model init, `args` is the hyperparameter and other sub-hyperparameters are stored within args but with the YAML file, these sub-hyperparameters are treated as hyperparameters.
Try changing `self.args=args` to `self.hparams=args`.

[2020-09-26 22:11] rohitgr7 opened #3670 "Allow .write and .write_dict with TrainResult."
## 🚀 Feature
Allow `.write` and `.write_dict` with `TrainResult`.

### Motivation
- Can be used to check the results generated by GAN (generator) over the course of an epoch to visualize and check the learning process of the generator.

### Pitch
Similar to that with `EvalResult`.

Let me know what you guys think. :)

[2020-09-26 22:33] BrianPugh commented on #3610
To be clear, I am still having the hyperparams issues as mentioned by @vladimirbelyaev , but the whole constructor thing was totally user error on my part. That said, I shouldn't have brought up 2 separate issues in a single github issue.

[2020-09-26 23:41] peymanpoozesh opened #3672 "How to use LBFGS in Pytorch-Lightening"
how to use the LBFGS in lightening. the loss in the  following code does not change and it seems that LBFGS is not be
being used correctly

[code]

[2020-09-27 02:45] david-waterworth commented on #3666
You're right - I tried again and I couldn't reproduce the issue.

What I did notice was I was getting the following (once I set verbose=True)

This was a consequence of not refactoring correctly when I moved to the new pl.EvalResult(), my validation_step is now

        loss = self.loss_function(out, tgt_out)
        result = pl.EvalResult(checkpoint_on=loss, early_stop_on=loss) # added early_stop

[2020-09-27 05:31] S-aiueo32 commented on #3625
I faced this issue too. It seems to be an important functionality in transfer learning or fine-tuning,
I roughly think it should be done by a simple flag of `Trainer` like:
[code]
How do you think about it? @williamFalcon and .@othercontributors

[2020-09-27 06:55] mlinxiang commented on #3159
did this feature in master branch  code？

[2020-09-27 07:44] ddrevicky commented on #2636
So I can reproduce this issue [like this](https://colab.research.google.com/drive/1dbvG_Gth8KvBsNHr5hQ4npIjmf_GAbNS?usp=sharing#scrollTo=ssQ_w97DvdzV).

I am not exactly clear on what the expected behavior is though. In @awaelchli 's PR for [nan detection and intervention](https://github.com/PyTorchLightning/pytorch-lightning/pull/1097/files), training is stopped when loss or weights contain `nan`

[2020-09-27 08:10] AndersonZhangyq opened #3674 "Tensor is not moved to the expected device"
## 🐛 Bug

### To Reproduce

Run the following code, and you will find that `self.tem` is not moved to GPU as expected
[code]

### Environment

[code]

### Additional context
I can write some ugly code, like moving the variable to expected device in `configure_optimizers` callback, to solve this, which is not ideal obviously. I suspect that `y_onehot = torch.FloatTensor(spa, spa)` might mess someth

[2020-09-27 08:41] rohitgr7 commented on #3674
https://pytorch-lightning.readthedocs.io/en/latest/multi_gpu.html?highlight=register_buffer#init-tensors-using-type-as-and-register-buffer

[2020-09-27 08:44] rohitgr7 commented on #3302
@FrancescoSaverioZuppichini still facing the issue? Can you try with master??

[2020-09-27 09:06] AndersonZhangyq commented on #3674
Hum, good solution. I search for `cuda` but still missing the section below somehow. Thanks for your help.

[2020-09-27 09:06] #3674 closed

[2020-09-27 09:11] prampey opened #3675 "[Metrics] Partial AUROC"
## Feature

We currently have an `auroc` metric implementation.
Can we add an additional `max_fpr` parameter to enable a partial AUROC implementation?

## Motivation

Partial AUROC is often more useful in anomaly detection tasks to evaluate the appropriate portion of the ROC curve,
I stumbled onto Lightning metrics looking for a fast Tensor implementation of sklearn metrics. Since sklearn is heavi

[2020-09-27 09:20] xiadingZ opened #3676 "Accuracy metric return tuple of length num_gpus on ddp in 0.9.1rc4"
code:
[code]
In 0.9.1rc3, vid acc is a tensor, but in rc4, it changes to a tuple. I want to use `-vid_acc` as monitor, and I think it should be a tensor.
Using rc4, in macos's cpu mode, it's a tensor. But in linux ddp mode, it's a tuple of length `num_gpus`.

[2020-09-27 09:38] Borda commented on #3230
hi that you for your recommendation, just not sure if I follow your recommendation, mind write a bit more how you would use https://hypothesis.works in PL...

[2020-09-27 09:50] gerardsn opened #3677 "remove value field from Result objects 'meta' key"
## 🚀 Feature

remove value field from Result objects 'meta' key

### Motivation

The value field in the Result obj's  meta data is
- a duplicate of the raw data in the Result obj,
- not being used,
- not updated in the gathered results presented to the user in [training,validation,test]_epoch_end.

Especially this last point can lead to confusion.

### Pitch

The value field should no longer be wr

[2020-09-27 11:17] ddrevicky opened #3678 "`EvalResult` does not clone logged tensors"
## 🐛 Bug

Tensors passed to `EvalResult.log()` are not cloned by the object, it keeps references to the original tensors. This may become a problem in a somewhat exotic case when the user stores the calculated metric value as a model's property and logs this property as in `result.log(self.my_metric)`.

Then when averaging metrics across batches for the [entire epoch](https://github.com/PyTorchLig

[2020-09-27 12:01] irustandi commented on #791
I tried converting PyTorch Lightning's MNIST example to use DALI, it seems to work out of the box without requiring modification to the PyTorch Lightning's internals. See below.

[https://gist.github.com/irustandi/3d180ed3ec9d7ff4e73d3fdbd67df3ca](https://gist.github.com/irustandi/3d180ed3ec9d7ff4e73d3fdbd67df3ca)

[2020-09-27 12:39] #3047 closed

[2020-09-27 12:49] Borda commented on #791
@irustandi cool, mind add it as example, send a PR?

[2020-09-27 15:09] rohitgr7 commented on #3001
let's discuss it on #3583. The approach suggested there will solve this issue.

[2020-09-27 15:09] #3001 closed

[2020-09-27 15:24] rohitgr7 commented on #2804
why not just make lr_find, and scaling batch_size work in a way that it logs the optimized learning_rate / batch_size and add a log for the user to adjust the learning_rate / batch_size manually and reinitialize model / datamodule and call `trainer.fit`.

[2020-09-27 17:46] akihironitta opened #3679 "Fix exception chaining"
I recently went over [PyTorch](https://github.com/pytorch/pytorch/pull/43836) and [Detectron2](https://github.com/facebookresearch/detectron2/pull/1945), suggesting a fix in the way that Python 3's exception chaining is used.

As described in detail in [this article](https://blog.ram.rachum.com/post/621791438475296768/improving-python-exception-chaining-with), exception chaining ([PEP 3134](https:

[2020-09-27 19:11] ananthsub opened #3682 "DataModules should have a reference to the Trainer"
## 🚀 Feature
The DataModule should have a reference to the Trainer, so attributes on the Trainer can be accessed during prepare_data, setup, and the dataloader methods.

cc @nateraw

### Motivation
Further uncouple datamodules and lightning modules. For instance, it can be useful for DataModules to know what the current epoch is during training. If I want to use the DataModules, I don't have acces

[2020-09-27 22:02] awaelchli commented on #3675
@SkafteNicki @justusschock does it make sene to extend auroc this way?

[2020-09-27 22:34] belle-tech opened #3683 "Jhvff"
## 📚 Documentation

For typos and doc fixes, please go ahead and:

1. Create an issue.
2. Fix the typo.
3. Submit a PR.

Thanks!

[2020-09-27 23:29] #3683 closed

[2020-09-27 23:32] awaelchli commented on #3678
Thanks for reporting.
@williamFalcon do we need to clone everything?
This may become expensive with many metrics?

[2020-09-27 23:39] ananthsub commented on #3646
@awaelchli what do you think about these options for checkpointing? I think this suite could be really helpful:
- Currently supported: Checkpoint every N epochs (after validation)
+ Checkpoint every N training batches
+ Checkpoint after N time period (timedelta specified by users)
+ Support for checkpointing on training epoch end if validation steps aren't supported

[2020-09-27 23:48] #3682 closed

[2020-09-28 00:22] awaelchli commented on #3676
Thanks for the report. Apologies but I'm afraid I don't understand how this relates to our accuracy metric.
Looking at the code `pytorch_lightning.metrics.classification.Accuracy` I don't see a hint why this would return a tuple.
Could you share the code of your function `accuracy_video`?

cc @SkafteNicki @justusschock

[2020-09-28 00:27] irustandi commented on #791
@Borda sure, will create the PR.

[2020-09-28 00:48] xiadingZ commented on #3676
This is my code:
0.9.1rc3:
[code]

0.9.1rc4:
[code]
In 0.9.1rc4, `reduce_op` is changed to  `class_reduction`, and I think it does what `reduce_op='avg'` do by befault

[2020-09-28 00:56] awaelchli commented on #3679
oh! I just learned something new about Python exceptions. Awesome!
So if I understand correctly, this change will make the exceptions more user friendly, pointing to where it originated from.
Do we keep the bugfix label? It sounds more like an enhancement

Related: #2266

[2020-09-28 01:14] awaelchli commented on #3676
yes it does.
and I a cannot reproduce what you describe in the issue.
When running with ddp and dpp_spawn on 2 gpus, I always get a single scalar accuarcy per gpu. So on each gpu, it's a scalar as expected.

[2020-09-28 01:24] xiadingZ commented on #3676
I write a example to reproduce:
[code]

Here is error:
[code]

[2020-09-28 01:33] awaelchli commented on #3666
duplicate logging: yes, I can confirm this is likely just a weird python logging that we haven't configured correctly. work on this isn in progrss here: #3514

We're currently sorting out some issues around results and checkpoint/earlystopping monitoring values. You can expect this to be fixed in v1.0. Until then, make sure that

1. You use the latest 0.9.1rc4 release
2. Have monitor="val_loss" in

[2020-09-28 01:47] awaelchli commented on #3676
ok, can reproduce.
The solution is to use the functional:
`pytorch_lightning.metrics.classification.accuracy`
instad of the module.

not sure yet why the two behave differently

[2020-09-28 02:12] awaelchli commented on #3646
I think yes, these are all fine use cases.
Given that the current ModelCheckpoint callback is quite complex, it may be hard or become impossible to maintain all these options in a single class. We could consider splitting the functionality into several callbacks. A combination of these features would mean passing several callbacks to the Trainer. But then there are new challenges, like clashing fi

[2020-09-28 02:19] awaelchli commented on #3600
No, I would not assume it is impossible. If the -m option can be stripped from arglist, it should not be too difficult.
Very sorry that it causes trouble for you but it looks like they just didn't think about this use case when the ddp backend was added.
Let's open a feature request for this.

[2020-09-28 02:24] awaelchli opened #3689 "Support launching ddp job as module python -m ..."
## 🚀 Feature

### Motivation

Some users wish to launch their training program as a module with `python -m some.module.py`

### Pitch

We should evalute whether this is possible for ddp and support this option when possible.
We need to strip the -m argument and append it to the command with which we launch the child processes.

### Alternatives

### Additional context

This feature was orginally r

[2020-09-28 02:27] awaelchli commented on #3662
did you make progress on this? is it working now?

[2020-09-28 02:29] ByungSun12 commented on #3640
I just modify `mnist.py` like below.

![스크린샷 2020-09-28 오전 11 24 59](https://user-images.githubusercontent.com/65884594/94384311-411ea800-017d-11eb-93d3-0de673fcd2a8.png)

After training model, I re-define trainer on trained model with `distributed_backedn='dp'`.

Actually, This is a temporary expedient not a fundamental solution.
![스크린샷 2020-09-28 오전 11 28 59](https://user-image

[2020-09-28 03:41] edenlightning opened #3690 "Rename row_log_interval and log_save_interval"
row_log_interval -> log_every_n_steps
log_save_interval -> flush_logs_every_n_steps

[2020-09-28 04:06] awaelchli commented on #3653
@2531919747 can you confirm that @rohitgr7's suggestion works?

[2020-09-28 04:07] ananthsub commented on #3689
torchelastic could be a good option here: https://pytorch.org/elastic/0.2.0/quickstart.html

[2020-09-28 04:07] awaelchli commented on #3665
If this doesn't fully answer your question, please let me know and I will reopen.

[2020-09-28 04:07] #3665 closed

[2020-09-28 04:22] ananthsub opened #3691 "cloud_io's `load` should use fsspec for compatibility with more storage systems"
## 🐛 Bug

There's an inconsistency in which paths Lightning supports with `load` vs what `fsspec` can support: https://github.com/PyTorchLightning/pytorch-lightning/blob/b4256df121fae1955c78895cf32e2e4c66b6603d/pytorch_lightning/utilities/cloud_io.py#L27

This code should use `fsspec` to try to open the file. If there isn't a valid filesystem registered, then fallback to calling torch.hub.load. cc

[2020-09-28 04:30] awaelchli commented on #2551
Wherever we call model.eval / model.train today in the training loop, we would call the hook instead, which by default also just does that, unless user overrides it.

I think this would be different from an on epoch start because it would allow you to prevent exactly what happens as described in the title: activating model.train for all layers at the end of an epoch.

[2020-09-28 04:34] chrismaliszewski opened #3693 "Missing attribute "training_step_output_for_epoch_end""
I used the documentation way of stopping the training (https://pytorch-lightning.readthedocs.io/en/latest/early_stopping.html#enable-early-stopping-using-callbacks-on-epoch-end).

If on_bath_start method returns -1 at the very beginning of an epoch, the titled AttributeError exception.
The problem is in training_loop.py line 496 (batch_output.training_step_output_for_epoch_end).

#### Code sample

[2020-09-28 04:54] nrjvarshney commented on #3662
Yes, it worked smoothly.
Thanks a lot
I'll go ahead and close this issue.

[2020-09-28 04:54] #3662 closed

[2020-09-28 05:06] ByungSun12 opened #3695 "custom backward function with upstream gradients."
## ❓ Questions and Help

#### What is your question?
How to implement `backward` with upstream gradients?

I want to implement `multi-staged backpropagation` with pytorch-lightning.

This is my implementation code with pytorch.

[My implementation](https://gist.github.com/ByungSun12/ad964a08eba6a7d103dab8588c9a3774#file-cifar10_tutorial_with_multistaged_backpropagation-py)

And I want to convert t

[2020-09-28 05:25] awaelchli commented on #3493
@Tim-Chard Thanks for the explanation. I don't follow completely but would like to confirm if we need to do anything in our wandb wrapper.
@kyoungrok0517 @fjhheras did this suggestion from Tim work for you?

[2020-09-28 05:35] awaelchli commented on #2785
@williamFalcon LBFGS not being compatible with native amp is the only exception I found in the code. maybe you mean that?
@edenlightning I don't think it's an essential for v1.0, but if you wish to have the final api without this argument "using_lbfgs" for optimizer step, then I could send a PR.

[2020-09-28 05:42] awaelchli commented on #3335
still no luck reproducing this. since you cannot share all the code, I had tried to combine what you show here with an existing example code, but no luck.

maybe if you tried yourself to adapt our [mnist example](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/basic_examples/mnist.py) with your confusion matrix use case we get a reproducible script. I tried but I fail

[2020-09-28 05:58] ByungSun12 commented on #3695
Sorry.. Closed Issue. I solve this. I just write code `backward` method overriding...

[2020-09-28 05:58] #3695 closed

[2020-09-28 06:21] chrismaliszewski opened #3696 "How to set default EarlyStopping patience?"
Is it possible to set the default EarlyStopping patience without creating a custom early stopping callback?

Instead of writing:
[code]

I'd like to overwrite the default patience directly and then use EvalResult(early_stop_on=...).

[2020-09-28 06:30] justusschock commented on #3676
The issue is that functional accuracy directly calculates it and modular accuracy also does some syncing. But it definitely shouldn't be like this. I'll have a look at it.

[2020-09-28 06:32] akihironitta commented on #3679
Thanks @edenlightning for relabelling the issue! I didn't know Hacktoberfest at all!

@awaelchli Thank you for your quick response!
Yes, you're right. Since this issue is not critical, can I work on this in October as a PR for Hacktoberfest?

[2020-09-28 06:36] justusschock commented on #3675
I think with a default of `None` this definitely makes sense. Want to give it a shot @prampey ?

[2020-09-28 08:20] ddrevicky commented on #2143
You can assign this to me :).

[2020-09-28 09:38] xiadingZ opened #3697 "EvalResult can't log 2D tensor"
I want to calculate confusion matrix in test step, but EvalResult can't log it.  How can I do to store it in EvalResult? If I have to override `test_epoch_end`, what should I do to process logged metric and my confusion matrix as default behaviour?
[code]

[2020-09-28 09:38] prampey commented on #3675
Yes gladly.

[2020-09-28 10:03] ddrevicky commented on #2143
Logging floats actually doesn't work with the current version.

I tried logging a metric with different dtypes (tensor, float, int, dict, list) and it only works with tensors. See this [colab](https://colab.research.google.com/drive/1XpeQQuLSXOaaM_RxmPZtHpBLXB0U6nNT#scrollTo=PnBye6lrwH-P).

For the other types it fails even before reaching the `model_checkpoint.py` code because of reduction of the

[2020-09-28 10:10] ksasi commented on #3114
@Borda, I am trying to look into this as part of Hacktoberfest. If we stop saving "metatags" every time metrics are logged, don't we lose "metatags"? Please advise

[2020-09-28 11:18] SkafteNicki commented on #3676
This has to do with how aggregation currently is implemented in the class metrics is implemented.
It will be solved when #3517 is merged.

[2020-09-28 11:23] FelixLorenz commented on #3657
I need nearly the same feature: `on_before_backward` as an abstract method in the `Callback` base class would be awesome!

[2020-09-28 11:46] David-AJ opened #3698 "How to keep some LightningModule's parameters on cpu when using CUDA devices for training"
## ❓ Questions and Help

#### What is your question?
I tried to transform my code into Lightning yesterday, but the CUDA OOM error occurred. My model has a very large parameter ```nn.Embedding(24000000, 128)``` (more than 22GB), which obviously exceeds the memory of my CUDA device. I implemented two classes to sovle this problem in my torch_version code, the pseudo code is as follows:

#### PyTorc

[2020-09-28 13:32] carmocca commented on #2141
I don't understand this issue

Doesn't it work like this already?

[2020-09-28 13:45] denck007 commented on #2600
I am seeing the same issue when using ```--overfit_pct```. [ From a comment in the code, ](https://github.com/PyTorchLightning/pytorch-lightning/blob/859ec92da51ff56b49e3e1f1beefa75767edc175/pytorch_lightning/trainer/trainer.py#L132)I believe that option is to be removed in 1.0.0, but is it worth it to fix it anyways? The same code will do fix the issue just checking ```self.overfit_pct``` instead

[2020-09-28 13:48] Tim-Chard commented on #3493
@awaelchli Essentially there are two `Run` classes in the wandb api that look that similar (they both have `history` for example) but they are for different things. The issue was caused by trying to use one in place of the other.
So to confirm, there are no changes required in the wrapper to address this issue.

[2020-09-28 13:58] vegovs opened #3702 "Loads args from .evn files some type of config file."
## 🚀 Feature / Motivation
I often run my training scripts on different systems with different setups. It would be nice to be able to read args from a configuration file. Like If i on one node have a default directory somewhere other than root, i just put it in the config file. And the trainer loads the args from the file. All i have to do i run python train.py and not python train.py --every-arg-n

[2020-09-28 14:27] johngrabner opened #3703 "Checkpoints based on validation_step or validation_epoch_end"
Somewhere I found an example for

[code]

What does the automatic checkpoint use for deciding if it got a better checkpoint?

My average val loss is getting better, but I do not have a checkpoint ( green line is run 292 ).

![image](https://user-images.githubusercontent.com/8209285/94444201-af5a6f00-016b-11eb-9072-25d8dfd60489.png)

![image](https://user-images.githubusercontent.com/8209285/944440

[2020-09-28 14:44] johngrabner commented on #3703
My training loss is not averaged, and it's very erratic.

![image](https://user-images.githubusercontent.com/8209285/94446729-a61ed180-016e-11eb-9f51-21e526540574.png)

I suspect the checkpoint is based on the non-averaged val loss, since it's not logged, I can only speculate that its just as erratic as training loss. So I would like checkpoint based on average val loss.

Given my model takes days

[2020-09-28 14:57] johngrabner commented on #3703
If I use
[code]

how do I specify the same path that lightning uses by default (ie: f"/ligthing_logs/version_{num}/epoch_{epoch}")?

[2020-09-28 16:15] nathanpainchaud commented on #3341
For anyone wondering, the recent PR #3684, which adds a reference to the Trainer in the `LightningDataModule`, fixes my issue and allows us to do something like this:
[code]

[2020-09-28 16:15] #3341 closed

[2020-09-28 16:17] Ceceu opened #3705 "How to store test_step outputs to file?"
Is there an approach to save to one file all the outputs during `test_step`?

[code]
My `LightningModule` outputs two dense vectors for representation `r1` and `r2`. They must be saved to be used in a downstream task and for the measurement of some metrics.

[2020-09-28 16:58] junwen-austin commented on #3335
@awaelchli

Thanks I will do that and let you know.

[2020-09-28 17:14] huyvnphan opened #3706 "How to scale learning rate with batch size for DDP training?"
When using LARS optimizer, usually the batch size is scale linearly with the learning rate.
Suppose I set the **base_lr** to be **0.1 * batch_size / 256.**
Now for 1 GPU training with batch size 512, the learning rate should be 0.1 * 2 = **0.2**

However when I use **2 GPUs** with **DDP** backend and **batch size** of **512** on each GPU. Should my learning rate be:

- 0.1 * 2 = **0.2**
- or 0.1 *

[2020-09-28 18:22] betternerd commented on #1288
update to latest version of pytorch-lightening solves the problem here

[2020-09-28 18:40] vegovs commented on #1598
How the heck do i make `val_loss` available for the LR-shceduler?

This is my error:
[code]

I return `val_loss` from the validation step like this:

[code]

[2020-09-28 19:36] rohitgr7 commented on #3705
[EvalResult.write_dict()](https://pytorch-lightning.readthedocs.io/en/latest/results.html#evalresult-api)

[2020-09-28 19:45] rohitgr7 commented on #3696
No. Any problem with using a custom callback??

[2020-09-28 19:54] rohitgr7 commented on #3679
@akihironitta assigned you to this issue. Yeah, you can do this in October.

[2020-09-28 19:57] rohitgr7 commented on #3706
Just to clarify if you use batch_size=512 in DDP backend, each GPU will train on 512 batch_size in lightning. Do you want 512 on each or 256 on each GPU?

[2020-09-28 20:00] huyvnphan commented on #3706
Hi I want each GPUs to has batch size of **512**. So two GPUs will have a total batch size of **1024**. I don't know if I should set the learinng rate base on the **total batch size** or batch size on **each GPU**

[2020-09-28 20:03] chrismaliszewski commented on #3696
No, just wondering. I just would like to keep the early stopping things in one place, EvalResult, instead of jumping elsewhere to change settings.

Thanks. Closing.

[2020-09-28 20:03] #3696 closed

[2020-09-28 20:06] edenlightning opened #3709 "Add options to checkpoint metrics when too big to fit in memory"
In certain cases when you have really large models metrics can be too big to fit in memory, so need to be checkpointed to some file.

[2020-09-28 20:12] vegovs opened #3710 "UserWarning: "When using EvalResult(early_stop_on=X) or ..." triggers always."
## 🐛 Bug
The UserWarning:
                    "When using EvalResult(early_stop_on=X) or TrainResult(early_stop_on=X) the
                    'monitor' key of EarlyStopping has no effect.
                    Remove EarlyStopping(monitor='val_early_stop_on) to fix')"

triggers without the `EarlyStopping(monitor='val_early_stop_on)`.
### To Reproduce

Steps to reproduce the behavior:

Run as normal

[2020-09-28 20:35] rohitgr7 commented on #3698
if you do this:
[code]
it should work I guess. Can't think of a better solution than this :sweat_smile:

[2020-09-28 21:11] Ceceu commented on #3705
I am sorry but I could not understand how to use `TrainResult` or `EvalResult` to save on file the outputs of the `LightningModule`.

[2020-09-28 21:23] CamiVasz commented on #3230
The idea would be to generate a hypothesis test, to test Sklearn metrics against the PL metrics, and let the library test the corner cases (as well as the "common" ones) and that way assert that both implementations are concordant, without the need to design the cases by hand, nor search for complicated patterns.

[2020-09-28 22:18] rohitgr7 commented on #3705
[code]

[2020-09-28 22:25] Borda commented on #3114
@bryant1410 could you quantify what the bit slowdown is?
@ksasi we could just check it such a file already exists, assuming that the parameters do not change over a training...
cc: @PyTorchLightning/core-contributors

[2020-09-28 22:29] rohitgr7 commented on #3706
in DDP the gradients are averaged and synced across each device before `optimzer_step`, so I don't think `lr` should be changed here.

[2020-09-28 23:07] Borda commented on #3230
@CamiVasz that sounds cool, mind draft a small example of how to use it, and eventually we can extend in on more PL cases... 🐰

[2020-09-28 23:15] vegovs opened #3711 "Change the tensorboard run-names to"
### What is your question?
What is the easiest and most pythonic way to change the Tensorboard runs names from "version_{n}" to something like "{hostname}_{time}_{lr}_{batch_size}" etc? Do i have to manually create a tensorboard logger and send it to the trainer? What happens with the checkpoint folder and stuff?

#### What's your environment?

CUDA:
- GPU:
- GeForce RTX 2070 SUPER
- available: Tr

[2020-09-28 23:46] bryant1410 commented on #3114
Sorry for the delay. Don't have bandwidth right now unfortunately. Will pin it and revisit it later.

Not working right now on the project with which I found it. However, my understanding is that the slowdown depends on the underlying system and hardware, but that it's small generally.

[2020-09-29 01:39] xiadingZ opened #3713 "AccuracyMetric automatically do ReduceOp.SUM in test_epoch_end"
my code:
[code]
my test_step vid_acc is 0.6~0.7, normal, but in test_epoch_end, avg_acc_1=22.3333, avg_acc_2=714.6666. Does `test_vacc`  is already synced by `dist.ReduceOp.SUM` by default?  then I only need to do `avg_acc = avg_acc / self.trainer.world_size`?

[2020-09-29 02:48] CamiVasz commented on #3230
https://colab.research.google.com/drive/1Dprqr1nbtgCFwsyUyb6UbXe9FE7X73Q5?usp=sharing
Here is a small example featuring the mse.

[2020-09-29 03:39] David-AJ commented on #3698
@rohitgr7 Really?! In this case, will the self.emb be saved in ckpt along with other parameters of ```MyModule```? Sorry, I just noticed that I had a typo in the PL Code: ```forward(self, input) -> training_step(self, batch, batch_idx)```

[2020-09-29 04:28] ksasi commented on #3114
@Borda, thanks for your thoughts. I am interested in sending a PR for this. Let me know if this is fine.

[2020-09-29 04:49] peymankhodro commented on #3665
Hi Adrian,
thanks for your reply.
This definitely answers my question. I really appreciate it.

 I have two other questions that I'd appreciate if you help me resolve
those issues, as well:
1. How to use LBFGS in Pytorch-Lightening #3672,
https://github.com/PyTorchLightning/pytorch-lightning/issues/3672
<https://meet.google.com/linkredirect?authuser=0&dest=https%3A%2F%2Fgithub.com%2FPyTorchLightni

[2020-09-29 05:39] Fan-Luo commented on #2915
Hi,

I am trying to add the computational graph to tensorboard with
      ` self.logger.experiment.add_graph(TriviaQA(self.args), sampleInput)`

but got the error message

(~30000 lines after `Graph diff`)

I tried one solution in the similar issue (https://github.com/pytorch/pytorch/issues/23993) by not declare `sampleInput` as a variable, but does not work.
The other solution mentioned is to set

[2020-09-29 06:19] ZhaofengWu commented on #2141
If there have been no changes in the flag's behavior in the past few months, I think setting `save_last` always results in all checkpoints being saved.

[2020-09-29 06:45] bartmch opened #3716 "iterations/gpu don't scale when using custom sampler"
Hi! I'm currently using Pytorch's weighted random sampler for my multi-class skewed dataset and I've put "use_ddp_sampler" to False.
Everything works well with the custom sampler but it's taking a significantly longer time to train my model on multiple GPUs.
I notice that with the default sampler my 2000 iterations scale well over 4 GPUs, 500 iterations/gpu but with the custom sampler, it doesn't

[2020-09-29 07:29] mtszkw opened #3717 "Incorrect example in Learning Rate Finder documentation"
## 📚 Documentation

In [lr_finder](https://pytorch-lightning.readthedocs.io/en/latest/lr_finder.html) docs there's an example code showing how to use Learning Rate finder:

[code]

This example raises an error when I run it:

however this line seems to work:

[code]

Here is my Colab notebook with both working and non-working code visible:
https://colab.research.google.com/drive/1RvcsMRhQqJusFAkqu

[2020-09-29 07:48] rohitgr7 commented on #3698
Yeah, won't save. Didnt think of that. If any module in the lightning has a `.to` method then it will be moved to device. Somehow need to think of a way to override this `.to` method for embeddings.

[2020-09-29 07:58] rohitgr7 commented on #3716
[WeightedRandomSampler](https://pytorch.org/docs/stable/data.html#torch.utils.data.WeightedRandomSampler) is not a distributed sampler right?

[2020-09-29 08:16] itsikad commented on #3706
As far as I know, learning rate is scaled with the batch size so that the sample variance of the gradients is kept approx. constant.

Since DDP averages the gradients from all the devices, the LR should be scaled in proportion to the effective batch size, namely, batch_size * num_accumulated_batches * num_gpus * num_nodes

In this case, assuming batch_size=512, num_accumulated_batches=1, num_gpus=

[2020-09-29 10:06] fjhheras commented on #3493
@awaelchli Yes, @Tim-Chard explanation makes sense and what he proposes works. Thank you!

[2020-09-29 10:10] SkafteNicki commented on #3230
@CamiVasz looks cool, but could you tell me the difference between hypothesis and just creating two random tensors myself (using `torch.randn` for example)

[2020-09-29 10:29] mauvilsa opened #3720 "Argparse usability issues"
## 🚀 Feature

Improve the usability of the argparse functionality by allowing to use extensions of argparse.

### Motivation

Currently in pytorch-lightning argparse is used as `parser = ArgumentParser(parents=[parent_parser])` which prevents many behaviors that users might want. The most basic example, someone implements a `trainer.py` tool, thus writes:

[code]

If you then run `trainer.py --hel

[2020-09-29 10:58] navrudh commented on #3607
Tried `Trainer(row_log_interval=1, ...)` and am still observing the same behaviour

[2020-09-29 11:29] Borda commented on #3114
@ksasi sure, go ahead...

[2020-09-29 12:27] Ykid commented on #1809
It would be better if there's a warning message saying that `val-check-interval` won't work if one doesn't override the `validation_step` method of `Trainer` class.

[2020-09-29 13:07] carmocca commented on #2141
You can have a look at the code to save last here:

https://github.com/PyTorchLightning/pytorch-lightning/blob/a2b961c7bc0d859814f167e471fbc24e4fde7b1b/pytorch_lightning/callbacks/model_checkpoint.py#L467-L487

Every epoch end, the "last" model is saved and the one from the previous epoch is deleted. So only one is kept when training is finished.

[2020-09-29 13:20] carmocca commented on #3720
I had the same problem when using an `argparse._ArgumentGroup` as the input. #3076

It should use the parent option if the provided parser is an `argparse.ArgumentParser`

Now, about using jsonargparse, @nateraw has been working on improving the CLI arguments API. For now, it is available in [pytorch-lightning-bolts](https://github.com/PyTorchLightning/pytorch-lightning-bolts/pull/246).

If core c

[2020-09-29 13:22] SkafteNicki commented on #3713
Yes, class metrics automatically sync between devices, with the default operation being `dist.ReduceOp.SUM`.
Depending on what version of lightning you are running, you should also be able to set the argument `reduce_op` to `'mean'` when construction the metric.

[2020-09-29 13:36] #3619 closed

[2020-09-29 13:45] awaelchli commented on #3607
How many workers are you using? If the training stops and gpu usage goes to 0, it means your dataloading can't keep up. Increase the number of workers. Make sure the cpu is not the bottleneck.

[2020-09-29 13:48] #3493 closed

[2020-09-29 15:57] ananyahjha93 commented on #3720
@nateraw has been working on a few issues with the current argparse setup.

[2020-09-29 16:21] NotNANtoN opened #3724 "Disabling printing of GPU debug information"
I am wondering if it is possible to set an option to not print every time if a GPU or TPU is available, as this clutters the console if I am using Optuna to run many trainings in succession, it often looks like this:

[code]

I set 'progress_bar_refresh_rate' to 0, 'weights_summary' to 0 and 'logger' to None. But I could find no option to disable the abovementioned print messages.

I'm using Pytor

[2020-09-29 17:02] ydcjeff commented on #3724
You can increase the logging level.
https://pytorch-lightning.readthedocs.io/en/latest/experiment_reporting.html#configure-console-logging

[2020-09-29 17:06] ananyahjha93 commented on #3717
I think this is a bug in the lightning release on pip right now,

did a 'pip install git+https://github.com/PytorchLightning/pytorch-lightning.git@master --upgrade' and it works, so I guess the docs don't need to be updated since the latest release will fix it.

[2020-09-29 17:09] minimaxir opened #3725 "PyTorch/XLA GA support in pytorch-lightning"
## 🚀 Feature
The PyTorch team just released [native TPU support](https://medium.com/pytorch/pytorch-xla-is-now-generally-available-on-google-cloud-tpus-f9267f437832) as GA for TPUs.

From the demos, it _might_ be plug-and-play with the current pytorch-lightning implementation of xla, but more work may need to be done (since native support should result in a massive speedup), and documentation at m

[2020-09-29 17:29] jovenwayfarer commented on #1598
@vegovs I am having the same problem

[2020-09-29 17:44] Ceceu opened #3726 "Hydra Hyperparameter Optimization"
## 🐛 Bug
After update `PL` from 0.8.x to 0.9.0, I started to face the following error when passing a configuration file via hydra:

[code]

### To Reproduce

I'm starting the training as follows:

[code]
and my `PL` model is created as in the code snippet below:

[code]

Any direction on that?

[2020-09-29 18:05] minimaxir commented on #3725
Even though it does use XLA, it may need a QA pass since it may not be guaranteed to work.

Additionally, a few of the TPU docs have the setup scripts in Colab; if those are no longer necessary as a part of a QA pass, they can be simplified.

[2020-09-29 18:10] navrudh commented on #3607
I'm using number of workers = 12.

Also, if I instead move the code to the `val_loader`, `train_loader` methods of `LightningModule` training starts straightaway without this delay.

[2020-09-29 18:25] ananyahjha93 commented on #3716
@bartmch I think @rohitgr7 is right here, the base class for both DistributedSampler and WeightedRandomSampler is Sampler but its the DistributedSampler which implements the DDP capabilities.

[2020-09-29 18:29] Borda commented on #3725
we have t tested for Colab also Kaggle now...
PL is running on all TOU as well as TPU, the point of Pl is to be agnostic to a used backend, so all examples we have can run on TPU 🐰

[2020-09-29 18:29] #3725 closed

[2020-09-29 18:34] bartmch commented on #3716
Thanks for your replies! Two silly questions: 1) how can I implement a sampler in Lightning which is ddp and takes care of my unbalanced dataset? 2) weighted sampler is simply giving a sampling probability to each number right? Why doesn't it simply scale on multiple goud? Is it not implemented (yet) or am I understanding it wrong?

[2020-09-29 18:50] mitchelldehaven opened #3727 "Increasing batch size not speeding up training time."
Not sure this is a "how to question", but its not a bug report, more of me trying to understand if my intuition is off or there is something wrong with my code. I'm using 4 GPUs while training a stacked LSTM and trying different batch sizes to see the effect. Generally my experience is that increasing the batch size results in finishing epochs faster, however I am not seeing that in my use case. I

[2020-09-29 19:24] rohitgr7 commented on #3716
All you need is a custom sampler here + set `replace_sampler_ddp=False` in `Trainer`. `WeightedRandomSampler` just uses the `weights` to sample the batch from the dataset something similar to what boosting algorithms do while sampling. In your use case, you need some kind of `DistributedBalancedSampler` that can do either oversampling or undersampling. There are some discussions [here](https://git

[2020-09-29 19:37] #3717 closed

[2020-09-29 19:41] rohitgr7 commented on #3711
Is this what you need??
https://github.com/PyTorchLightning/pytorch-lightning/blob/3dcf7130c554f4511c756ccbb4e3a417103d595d/pytorch_lightning/loggers/tensorboard.py#L110-L119

[2020-09-29 19:50] rohitgr7 commented on #3727
Maybe the way RNN's work is the reason for the same time even after increasing the batch_size since each sequence output is used for computation of activations at the next sequence step and this computation of matrix-multiplication is taking time for larger batch_size. Not 100% sure though.

[2020-09-29 20:30] huyvnphan commented on #3706
Thank you all for your answers. I'll scale the LR with the total effective batch size.

[2020-09-29 20:30] #3706 closed

[2020-09-29 20:44] ZhaofengWu commented on #2141
Looking at the blame there have been a lot of changes since I opened this issue. Perhaps this is fixed now. I haven't confirmed this, but feel free to close this issue if the behavior is correct now.

[2020-09-29 20:56] awaelchli commented on #2141
Yep, there have been some fixes and improvements. We've also added more tests around topk and save last so that both can be used. I believe what you describe here now correctly works. In summary:

[code]

and the default model checkpoint Trainer(checkpoint_callback=True) saves every epoch the latest checkpoint, but we keep only one file around, this should be a good default for most users while sa

[2020-09-29 21:10] #2141 closed

[2020-09-29 21:26] Ceceu commented on #3726
I think the `bug` was due to the difference in versions of `hyda` and `omegaconf`.
I just updated to the latest version.

[2020-09-29 21:26] #3726 closed

[2020-09-29 21:50] rotabulo opened #3728 "Avoid storing a list of outputs to compute aggregated metrics at the end of the epoch."
Hi,
  to my understanding, the current way of logging an aggregated metric at the end of an epoch requires implicitly to store the outputs of all steps in the epoch. There are tasks like semantic segmentation requiring to accumulate a confusion matrix over steps, e.g. in order to compute the mIoU metric. However, storing all those confusion matrices for the only sake of aggregating them at the end

[2020-09-29 21:56] turian opened #3729 "0.9.0 converges to worse loss than 0.8.5 with exact same code!"
## 🐛 Bug

I have code that was working quite nicely with 0.8.5. When I upgraded to 0.9.0, the final loss is WORSE (higher!) and fluctuates a bit. The code is exactly the same. This is very concerning.

(Also 0.9.0 forces tensorboard to downgrade from 2.3.0 to 2.2.0 and I can't really see the curves any more, but that is not my main concern.)

### To Reproduce

Steps to reproduce the behavior:

0.

[2020-09-29 22:02] vegovs commented on #3711
Gees, thanks! :D

[2020-09-29 22:02] #3711 closed

[2020-09-29 22:15] vegovs opened #3730 "test_step hangs after one iteration when on multiple GPUs"
## 🐛 Bug

When running the same code on a computer with 1 gpu, test_step runs as normal and logs what it should.
How ever on a node with 4 gpus, it hangs after 1 iteration!

#### Code sample

[code]
### Expected behavior
I expect it to finish the testing-epoch.

### Environment
Environment 1
CUDA:
- GPU:
- GeForce RTX 2070 SUPER
- available: True
- version: 10.2
Packages:
- numpy: 1.19.2
- pyTorch

[2020-09-29 22:49] awaelchli commented on #2558
@dvirginz
I tested this by saving a checkpoint in 0.6 and loading it with the same code on master branch.
There is no error anymore and trainer.test will use the loaded model. I tested on cpu and also multi gpu.
So the latest version should work for you.

Note, it seems that in 0.6 Lightning was not tracking the path to the best model checkpoint. So we can't know which of your old checkpoints is t

[2020-09-29 22:50] CamiVasz commented on #3230
Hypothesis generation is biased towards edge cases, maximizing the probability of failure. When you generate random numbers, these edge cases that you want to find have the same probability of appearing that easy cases.

[2020-09-29 22:51] awaelchli commented on #3730
Can you post which trainer settings you are using?

[2020-09-29 23:07] awaelchli commented on #3728
the metrics guys are currently working on this :)

[2020-09-29 23:58] ananthsub opened #3732 "Support best model checkpoint path even if save_top_k=-1"
## 🚀 Feature
Support best model checkpoint path even if `save_top_k=-1`
### Motivation
For the model checkpoint callback, the callback could still track the best checkpoint path even if `save_top_k=-1`. The only case where we couldn't track the best checkpoint is if the `monitor` metric isn't specified. What do you think?

### Pitch

Update the model checkpoint callback to only skip tracking the b

[2020-09-30 01:45] xiadingZ commented on #3713
I know it, the problem is I construct Accuracy with `reduce_op='avg'`:
[code]
In my val step, it can normally do mean operation, value about 0.7. But in test_epoch_end, it doesn't, value about 22. Only difference is I store it in `EvalResult` in  val step, but return it directly in test step
I'm using 0.9.1 rc3
[code]

[2020-09-30 02:32] #2693 closed

[2020-09-30 03:17] lezwon commented on #2698
Yea. I didn't see multiple files.

[2020-09-30 03:23] David-AJ commented on #3698
@rohitgr7 I tried to use ```self.emb = nn.Embedding(24000000, 128).cpu()``` in lightning code, but it failed. Actually, it is very common in recommendation system to use this kind of large-scale embedding as the trainable weight of the model. For example, the sparse features of User Id (more than 24000000) can be represented by a dense embedding matrix. So is there any possible to implement this o

[2020-09-30 03:57] 2531919747 commented on #3653
Thank you ,  I found the default value of "on_epoch" in result.log() is False but "on_step" is True, and I used get_epoch_log_metrics() get the 'train_loss' correctly.

[2020-09-30 03:57] #3653 closed

[2020-09-30 04:41] ananthsub commented on #3732
yes it is. I didn't see that. I'll close this issue out in favor of that one

[2020-09-30 04:41] #3732 closed

[2020-09-30 06:35] awaelchli commented on #2936
@rohitgr7 didn't we recently make optimizers init to an empty list instead of None? I think this should solve the problem. Could you check?

[2020-09-30 06:44] awaelchli commented on #3729
can you confirm, in both vesions you are using torch = 1.6?

[2020-09-30 06:44] rohitgr7 commented on #2936
@awaelchli yes its an empty list now. But the code for lightning model defined above has optimizers defined, so am not sure yet what's the issue there.

@import-antigravity mind check this on master?

[2020-09-30 06:52] Leerw commented on #1749
Hi, how to train discriminator k times and train generator 1 time in training step? I have found no such demo and do not know how to implement it

[2020-09-30 08:00] ananthsub opened #3737 "Saving OmegaConf hparams in LightningModule in logger throws"
## 🐛 Bug
I see this stacktrace when using OmegaConf + Tensorboard logging: https://gist.github.com/ananthsub/07f99b2acacb7ef46bf426f0323cc615

The LightningModule in question does this in the init:

[code]
where all the `cfg`s are OmegaConf containers. It doesn't look like the frame logic for `save_hyperparameters()` [handles OmegaConf well](https://github.com/PyTorchLightning/pytorch-lightning/bl

[2020-09-30 08:05] tugot17 opened #3738 "RuntimeError: Input and hidden tensors are not at the same device, found"
## 🐛 Bug

I train LSTM for character level  text generation. At first I initialize hidden and cell with zeros using `torch.zeros`. Unfortunately this tensors are defaultly assigned to the cpu so I get the following error while training

[code]

### To Reproduce

#### Model

[code]

#### Batch

[code]

#### Trainer

[code]

### Expected behavior

Hidden values should automatically be assigned to th

[2020-09-30 10:00] rohitgr7 commented on #3738
Try changing to
[code]

[2020-09-30 10:04] LucaButera commented on #3697
If you are using classic TensorBoard logging you will not be able to log a non scalar tensor, as far as i know.
The workaround I used for this is to store the confusion matrix at each ```test_step``` and then compute the average in the ```test_epoch_end```. After this you can convert the matrix into an image (this is the only way i found to log it to tensorboard. If you use a logger that can log 2

[2020-09-30 10:15] olegkhomenko opened #3742 "How to use more than one optimizer at each step (jointly train multiple modules within one model)?"
## ❓ Questions and Help

#### What is your question?
I have a model which consists of two blocks, let's call them `first_module` and `second_module`.

#### Code (simplified)
**Training Step**
[code]
**Optimizers**
[code]

**Question**
How to do `optimizer_first_module.step()` and `optimizer_second_module.step()` at each batch and ignore `batch_idx`?
It may be seen that `optimizer_step` always pass

[2020-09-30 10:25] LucaButera opened #3743 "Explicitly add num_classes parameter to confusion_matrix"
## 🚀 Feature

It would be nice to be able to specify explicitly the number of classes expected for the confusion matrix metric. A similar behavior is allowed in the accuracy metric for instance.

### Motivation

It may happen that you want to incrementally compute the confusion matrix over different steps of testing and, in the end, aggregate those matrices into the final confusion matrix.

Someti

[2020-09-30 10:26] #3466 closed

[2020-09-30 11:55] tugot17 commented on #3738
@rohitgr7 Yeah, this fixes the problem, however I'm not entirely sure it will also work in case if I used more then a single machine to train the model

[2020-09-30 12:02] rohitgr7 commented on #3738
`self.device` will always give you the device for the current process(ddp) or current batch(dp) being executed.

[2020-09-30 12:04] EspenHa commented on #2156
@awaelchli @Borda

I created a [commit](https://github.com/EspenHa/pytorch-lightning/commit/82e6c9846a318887fa502ef98d140fd53fbad725) that removes the setting of `PYTHONHASHSEED`. I can create a PR for this if you would like to merge it.

[2020-09-30 12:34] #2586 closed

[2020-09-30 12:34] tugot17 commented on #3738
Ok, I can close the issue. Thanks for your help :)

[2020-09-30 12:34] #3738 closed

[2020-09-30 12:36] #3114 closed

[2020-09-30 12:38] #2156 closed

[2020-09-30 13:18] undertherain commented on #3381
Thanks for looking at this
took a bit of time to make code not depending on my custom dataset
here I basically generate random tensors and predict 0 on horovod rank 0, and 1 in the rest of the workers

https://github.com/undertherain/pl_stopping_test/tree/01c8d98ba6136d7a9e1b26f07bb3b8d63eca2724

[2020-09-30 13:19] vegovs commented on #3730
[code]

[2020-09-30 13:22] awaelchli commented on #3730
What arguments do you pass to Trainer(...)
Do you use distributed_backend=ddp?

[2020-09-30 14:07] SkafteNicki commented on #3743
Please update to master as it is already implemented there:
https://github.com/PyTorchLightning/pytorch-lightning/blob/d3ae26fcfc322b8d64f67b90722931e363769844/pytorch_lightning/metrics/classification.py#L90-L112
Closing this issue.

[2020-09-30 14:07] #3743 closed

[2020-09-30 14:45] vegovs commented on #3730
[code]

[2020-09-30 14:48] vegovs commented on #3730
Is using DDP the issue? I used DDP on the environment with one GPU as well.

[2020-09-30 14:50] fjhheras commented on #3493
Unfortunately @Tim-Chard proposal only works when I am online (wandb on). As it is purely a wandb issue now, I opened a question there (https://github.com/wandb/client/issues/1308)

[2020-09-30 14:51] vegovs commented on #1598
@jovenwayfarer I figured it out. Will post here in a jiffy. Or you can check out the code: https://github.com/gil-uav/semantic-image-segmentation

[2020-09-30 15:01] awaelchli commented on #3730
yes, unfortunately it looks like so. calling `trainer.fit `then `trainer.test` currently does not work with DDP due to the fact that it is launching in a separate script. We haven't found a good solution for this yet. For the one gpu case, it should work though. A solution is to switch to ddp_spawn, but it is not ideal. then all your classes need to be pickleable.

[2020-09-30 15:15] vegovs commented on #3730
Could it work running just trainer.test in a different script?

On Wed, Sep 30, 2020, 17:01 Adrian Wälchli <notifications@github.com> wrote:

[2020-09-30 17:18] teddykoker commented on #3677
Hey @gerardsn thanks for the issue! We are currently making some changes with regards to result, so I'll check back in a couple days to see if this is still relevant :)

[2020-09-30 18:26] rohitgr7 commented on #2891
this issue is annoying. will fix this.

[2020-09-30 18:28] rohitgr7 commented on #3488
@xujiaze13 still facing this issue on master? can you put up a colab notebook for this issue?

[2020-09-30 19:04] rohitgr7 commented on #3742
[code]

As of now, lightning doesn't support returning no loss in `training_step` so you can attach it to self. But once it does you will be able to return results with no loss or None in future.

[2020-09-30 19:46] nathanpainchaud opened #3752 "Default reduction always applied by `Metric`, even when requesting `'none'` reduction"
## 🐛 Bug

Metric reduction doesn't behave the same between the functional and class API when using `reduction='none'`. The functional API applies no reduction as expected, but the class API seems to apply the default reduction regardless.

I haven't investigated the code yet to find the specific cause of the bug, so I'm not sure how widespread this bug is, but I've encountered it using both the `D

[2020-09-30 19:46] SamChen commented on #1314
Hi, I just encountered the exact same issue. I wander if you have found a solution to fix it. Thanks :-)

[2020-09-30 20:08] teddykoker commented on #1381
Verified clipping works with native fp16

[2020-09-30 20:08] #1381 closed

[2020-09-30 20:13] williamFalcon commented on #1381
@teddykoker do we have a test to prevent regressions?

[2020-09-30 20:16] teddykoker commented on #1381
Don't believe so, I can add one

[2020-09-30 20:17] williamFalcon commented on #1381
it it's quick.

[2020-09-30 20:35] rohitgr7 commented on #3698
Looked at PyTorch source code. Found something. Can you try this?
[code]

[2020-09-30 20:57] tgaddair commented on #3381
Thanks for putting this together @undertherain!  I'll take a look and get back to you.

[2020-09-30 21:04] chrismaliszewski opened #3753 "Tensorboard problems (how to work with Tensorboard)"
I'm having a few problems working with Tensorboard. I'd be grateful if someone would be able to answer some of the questions.

1. Moved to https://github.com/PyTorchLightning/pytorch-lightning/issues/3756
___

2. Moved to https://github.com/PyTorchLightning/pytorch-lightning/issues/3758

___
3. Moved to https://github.com/PyTorchLightning/pytorch-lightning/issues/3759

___
4. DELETED
___
5.  Moved

[2020-09-30 21:21] chrismaliszewski commented on #3753
**Additional comment to QUESTION #1**: I followed the code and the problem is with the ProgressBar callback inside progress.py line 339, trainer.progress_bar_dict which returns the following error.

[2020-09-30 22:51] Ceceu opened #3755 "Current batch loss and mean reduced loss"
Over `training_step` and `validation_step` I am logging the losses (`train_loss` and `val_loss`) and metrics (`train_mrr` and `val_mrr`), both in the logger and in the progress bar:

[code]
However, the progress bar also shows a `loss` with a value different from the losses aforementioned mentioned.

[code]
Then, `loss` printed over the progress bar is current batch loss and `train_loss` is actual

[2020-09-30 23:22] chrismaliszewski opened #3756 "type object got multiple values for keyword argument 'loss'"
## 🐛 Bug
The error appears when TrainReport has minimize param set and loss log added at the same time with prog_bar=True

#### Code sample
[code]

### Where the problem is
I followed the code and it comes to the problem with the ProgressBar callback inside progress.py line 339 -> trainer.py line 884 (return dict(**ref_model.get_progress_bar_dict(), **self.progress_bar_metrics)) which returns
[cod

[2020-09-30 23:27] Rashindrie opened #3757 "Getting RuntimeError: chunk expects at least a 1-dimensional tensor when using custom collate_fn in ddp setting."
## ❓ How to use custom collate function in dataloader in 'ddp'?

Hi,

I would appreciate some help in setting up a custom collate function in a ddp setting.

#### Summary

I defined a custom collate function since I need to pass inputs of varying size to my code.

[code]

Then I define a data loader as follows:

[code]

and the Trainer as follows:
[code]
However, I get the following error when I r

[2020-09-30 23:30] chrismaliszewski opened #3758 "Tenorboard, logs either don't appear or have prepended 'epoch_' names"
I have two kinds of problems with Tensorboard.

1. Either logs don't appear when I create them inside training_step.
Code:
[code]
Screen from Tensorflow:
![image](https://user-images.githubusercontent.com/7532602/94738391-d4e5b380-03cb-11eb-826a-b10e60102431.png)
2. Or... 'epoch_' text is prepended to the logs name for an unknown reason although the same code is done for validation.
Code:
[code]
S

[2020-09-30 23:33] chrismaliszewski opened #3759 "Tensorboard, what does epoch chart show?"
Fast question.

Image from Tensorboard:
![image](https://user-images.githubusercontent.com/7532602/94738555-10807d80-03cc-11eb-85e1-2a7ce3ef824b.png)

I don't add this log. It's done automatically by lightning. What does this chart present?

[2020-09-30 23:33] #3753 closed

[2020-09-30 23:39] williamFalcon commented on #3458
are we good on this? i also made a bunch of stability fixes to ddp including duplicate logging and so on

[2020-09-30 23:45] williamFalcon commented on #3577
Great suggestion!

a few steps ahead of you ;)

Please check out two of our demos that explicitly don't do this.
In addition, our new docs reflect that:

https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/basic_examples/autoencoder.py#L34-L42

https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/basic_examples/image_classifier.py#L42-L46

https:/

[2020-09-30 23:45] #3577 closed

[2020-09-30 23:55] #3544 closed

[2020-10-01 00:53] ananthsub commented on #3737
Workaround:
- Merge the OmegaConfs into a single object
- set self.hparams = <merged omegaconf>
- Drop the call to save_hyperparameters()

Ideally `hparams` could be automatically set in the init instead of needing to call `save_hyperparameters()`

[2020-10-01 00:53] #3737 closed

[2020-10-01 02:20] turian commented on #3729
Yes, in both versions torch = 1.6

[2020-10-01 02:29] stuckyb opened #3760 "on_step logging not working as expected/described"
## 🐛 Bug

When training a model with the `MLFlowLogger`, on_step logging in `training_step()` does not appear to log metrics as frequently as expected.  See complete example below.

### To Reproduce

#### Code sample

Here is a complete working example that generates the described behavior.  This example is derived from the code in [Lightning in 2 steps](https://pytorch-lightning.readthedocs.io/en

[2020-10-01 02:42] jeremyjordan opened #3761 "validation metrics not logging properly"
## 🐛 Bug

Validation metrics aren't being logged to the Trainer's logger.

### To Reproduce

See Colab notebook: https://colab.research.google.com/drive/1O93pAD_cfSuVH6izyzrsn_xEe8v_2O7n?usp=sharing

Based on this test: https://github.com/PyTorchLightning/pytorch-lightning/blob/master/tests/trainer/test_eval_loop_logging_1_0.py

#### Code sample

[code]

### Expected behavior

Validation metric ke

[2020-10-01 07:15] kyoungrok0517 commented on #3542
Sorry to interrupt but I'm experiencing the same issue. the device_count() returns `2` in my case, and I'm running on GCP instance with 2 `V100`. I had no problem with my own server so it's strange. `pytorch-lightning==0.9.0`

[2020-10-01 07:42] swd543 commented on #1598
@vegovs Could you let us know how you made lr_scheduler work with val_loss? Had a look through your code but couldn't figure it out.

[2020-10-01 07:47] JVGD commented on #3458
Last time I checked it wasn't but I am happy to check it out. The branch to test is still _bugfix/duplicated-logging_ right?

[2020-10-01 07:55] JVGD commented on #3458
Tested, I am good on my side
![image](https://user-images.githubusercontent.com/6736158/94782957-4aea1a80-03cc-11eb-8687-96ef362e408f.png)

[2020-10-01 08:33] #3424 closed

[2020-10-01 09:02] ydcjeff commented on #3756
I believe TrainResult always shows the value passed to the `minimize` argument in the progress bar. So, you probably don't need to use `result.log` to show the loss in the progress bar.

[2020-10-01 09:05] ydcjeff commented on #3759
If you are on Lightning 0.9.0, the x-axis represents `global_step` and y-axis is showing `epoch`

[2020-10-01 09:10] Nilanshrajput commented on #3521
Hey, I cant see in the code where the default values for min/max_epochs are set.

[2020-10-01 09:31] ydcjeff commented on #3755
loss printed in logger and progress bar is going to be different b/c of [`row_log_interval`](https://pytorch-lightning.readthedocs.io/en/latest/trainer.html#row-log-interval)

`loss` and `train_loss` are the same batch loss since you don't pass True to `on_epoch`, but not sure why they are different tho.

[2020-10-01 09:42] ydcjeff commented on #3758
if you enable `on_epoch=True` in TrainResult while there is `on_step=True`, `epoch_` is appended in the front by default
since you can't distinguish which is logged from batch level or epoch level.

While in EvalResult, default is `on_step=False` and `on_epoch=True`, so you know those are logged from epoch level.

It's clearly mentioned in the docs.
https://pytorch-lightning.readthedocs.io/en/stab

[2020-10-01 10:19] vegovs commented on #1598
@jovenwayfarer & @swd543  I don't remember where I got it from but it does exist in the docs somewhere.
See the comment over the `monitor` key in the `scheduler` dict. :)

[code]

[2020-10-01 10:25] vegovs commented on #1598
However, I do not have any empirical evidence of it working.
I am using the ADAM optimizer, and I think my early stopping callback (20 epochs patience) triggers before ReduceLROnPlateau does.

[2020-10-01 10:27] carmocca commented on #3755
They are different because the progress bar `loss` is an smoothed value over a window (of length 20). [From the docs](https://pytorch-lightning.readthedocs.io/en/latest/api/pytorch_lightning.core.html#pytorch_lightning.core.LightningModule.training_step) (bottom):

[2020-10-01 10:49] #3458 closed

[2020-10-01 10:57] #2961 closed

[2020-10-01 11:00] #3006 closed

[2020-10-01 11:15] #2305 closed

[2020-10-01 11:22] akihironitta commented on #3679
@awaelchli @rohitgr7 I just made #3750 ready for review! Can you have a look at the changes?

[2020-10-01 11:35] awaelchli commented on #3729
Hi
I copied your notebooks to google colab
added a pl.seed_everything(100) to the cell in which you call trainer.fit()
In both versions, i get exactly the same loss value after 10 epochs

0.8.5:
https://drive.google.com/file/d/1KP8GRmY7fy_b5bRRU-1K1P3Z0N705rEH/view?usp=sharing

0.9.0
https://drive.google.com/file/d/1K_TL6W-sK_HdHBcncmy5irEMFMU7z_4Q/view?usp=sharing

If your model is sensitive to i

[2020-10-01 11:40] awaelchli commented on #3729
Also, please be careful with these notebooks. If you run the cell with trainer.fit multiple times, it will not train your model from scratch, it will simply continue because the variables for the model are still in memory from the previous cell.

[2020-10-01 12:41] jeremyjordan commented on #3761
Fixed by #3763

[2020-10-01 12:41] #3761 closed

[2020-10-01 12:54] Evpok commented on #3713
Is this mentioned in the doc? I couldn't find it there.

[2020-10-01 13:04] SkafteNicki commented on #3713
@Evpok do you refer to the auto sync or the argument?
Auto sync is mentioned a couple of times in the documentation:
https://pytorch-lightning.readthedocs.io/en/latest/metrics.html

The `reduce_op` argument is present on master, but not sure if it is mentioned in the documentation.

Please note that we are in the process of doing major changes to the metrics package before v1.0, so some of the pro

[2020-10-01 13:07] Evpok commented on #3713
@SkafteNicki  I meant the `reduce_op` argument :-) glad to see that v1.0 should clarify it! Do you have an ETA for it?

[2020-10-01 13:18] SkafteNicki commented on #3713
@Evpok soon, cannot give exact date 👍

[2020-10-01 13:21] Borda commented on #3542
@kyoungrok0517 mind sharing this output, just to check that you have properly installed PT and drivers...
`python -c "import torch ; print(torch.cuda.device_count())"`

[2020-10-01 13:31] tilman151 opened #3769 "Hyperparameters for DataModules"
## 🚀 Feature

Add a `save_hyperparameters` function to `LightningDataModule` and let the `Trainer` log it together with the model's hyperparameters.

### Motivation

DataModules are a great way to decouple the model code from the data it runs on.
People using datasets where pre-processing is not as fixed as in the common benchmarks need their DataModules to be configurable.
Examples would be:

* s

[2020-10-01 13:37] #3230 closed

[2020-10-01 13:37] #3676 closed

[2020-10-01 14:03] chiragraman opened #3771 "Handling AttributeErrors while cleaning params namespace while setting up fit"
## 🐛 Bug

`is_picklable` in `parsing.py` does not handle AttributeError thrown by `pickle.dumps()` - specifically, the following :
`AttributeError: Can't pickle local object 'ArgumentParser.__init__.<locals>.identity'`

### To Reproduce

Here's a stack trace:
[code]
I forked the repo, found the file, and made the following change to `is_picklable`:
[code]

I then installed the package from my loca

[2020-10-01 14:31] stuckyb commented on #3760
I ran the same experiment as above using the CSVLogger instead of MLFlowLogger and the behavior was the same, so this issue is clearly not unique to the MLFlow logger and seems to be a behavior of the logging system in general.  I have updated the issue title accordingly.

To also add a bit more detail, the loss values appear to be logged every 50 mini-batches.  I have not yet inspected the PTL so

[2020-10-01 14:50] stuckyb commented on #3760
Okay, noticing that the loss was getting logged every 50 mini-batches eventually led me to the answer.  The `Trainer` class constructor has a parameter, `row_log_interval`, that controls how often the `on_step` logging metrics are actually logged, and the default value is 50.  I ran the above experiment with `row_log_interval` set to 1 and ended up with 3,500 loss values logged, just as expected.

[2020-10-01 14:50] Borda commented on #3660
@ktrapeznikov  mind checking it now as Google Colab had an internal issue with TPUs in past days...

[2020-10-01 15:14] williamFalcon commented on #3729
Yes haha.

Please set the seed :) it's stated very boldly in the docs.

This is user error, closing.

[2020-10-01 15:14] #3729 closed

[2020-10-01 15:49] kyoungrok0517 commented on #3542
That returns `2` as expected. What I found just now is that if I use `-1` for `gpus` argument the lightning doesn't work as I described. But if I give the exact number of gpus (`2` in my case) it works fine. I'm using `ddp` as the backend.

[2020-10-01 17:15] tgaddair commented on #3381
Hey @undertherain, here's the error I'm getting on a machine with 4 GPUs, looks like one worker is triggering early stopping but the others do not, leading to segfault:

[code]

Is this consistent with the error you're seeing?

[2020-10-01 17:39] Borda commented on #3542
@kyoungrok0517  good catch, mind sending PR?

[2020-10-01 17:53] ayberkydn commented on #3577
So I see that we can initiate the lightning model with any kind of arguments, including pytorch nn modules. With this setting, is there any point inheriting torch.nn.Module and overriding the inherited .forward() method? If it is only for inference logic, shouldn't it be renamed as something like .inference() ? Also, I am wondering if this setting works when I need to train the model in one .py fi

[2020-10-01 18:27] chiragraman commented on #924
@magic282 that's great to hear, at least it's reproducible then, I think I also found that the type didn't seem to be saved in my checkpoint in the answer I'm quoting. Could you verify if the OMEGA_CONF check of the isinstance check failed in your case as I mentioned in my comment above? (referencing here for convenience)

[2020-10-01 19:45] #3679 closed

[2020-10-01 19:47] awaelchli commented on #3542
@williamFalcon is working on the parsing of gpus for DDP. The error is most likely because they are not correctly passed to or parsed in the child process.

[2020-10-01 20:11] tgaddair commented on #3381
@undertherain can you try #3775 and see if it addresses your issue?  With this change, I was able to get your test script to run to completion successfully.  Note that this change requires Horovod >= v0.20.1.

[2020-10-01 20:22] chrismaliszewski commented on #3758
@ydcjeff, great, thank you.

Doc doesn't say that clearly, at least to me. The line:
[code]
is the only indicator but it's missable.

It might be a good idea to indicate it more clearly with NOTE container.

[2020-10-01 20:30] chrismaliszewski commented on #3759
Thank you, @ydcjeff. Is there any information in the doc? Can't find it. Since it's a default chart, it'd be good to have the info somewhere.

[2020-10-01 20:33] rohitgr7 commented on #3668
I think doing just `len(batch)` is still wrong since here if the batch is a tuple or some kind of custom batch datatype then `len(batch)` will be wrong. Considering the basic mnist example too it will give 2 only which is wrong.

[2020-10-01 20:39] chrismaliszewski commented on #3756
That's true but I think the problem is the error's message.

As I said, a user may not realise why the error appears since they created just one log ```loss``` nor that it comes from ```prog_bar=True```. Just saying.

The only idea that I have would be to remove showing ```minimize``` loss in progress bar by default and let users set ```loss``` log to be shown with ```prog_bar```. That would elimi

[2020-10-01 21:22] rohitgr7 commented on #3664
I think this logic can now better be done in configure_optimizers itself in case someone has some crazy schedulers, or schedulers_dict as well and calling:
[code]

[2020-10-01 21:38] dukeeagle commented on #1325
Hi @williamFalcon and co! Highly interested in this as a Ray user myself. Is there any movement in this direction assuming that version 1.0.0 is arriving soon?

[2020-10-01 21:47] rohitgr7 commented on #3657
maybe we should add all the optimizer-related hooks to callbacks too if it makes sense?? What do you think @awaelchli?

[2020-10-01 21:51] williamFalcon commented on #1325
we’re almost done with 1.0. We can look into this afterwards!

thanks for mentioning this.

[2020-10-01 22:03] carmocca opened #3778 "training_step log requires that tbptt_reduce_fx is also set"
## 🐛 Bug

`training_step` `log` requires that `tbptt_reduce_fx` is also set.

#### Code sample

[code]

Error:
[code]

### Expected behavior

That `tbptt_reduce_fx` is not required

### Environment

Master @ commit 8be002c

[2020-10-01 22:16] nathanpainchaud commented on #3351
@vr25 In your sbatch options, you have this:
[code]
Seems to me like you're asking for 2 **seconds** rather than 2 minutes, which would explain why it's not working. There's no time for the code to quick in at this speed :stuck_out_tongue:

You should try `00:02:00' for the time instead.

[2020-10-01 22:40] sumanthratna commented on #1325
@amogkam has been working on integrating `LightningModule`s with RaySGD: https://github.com/ray-project/ray/pull/11042. After this is merged into Ray, this will provide a way to use Ray for training with PTL. If you need hparam optimization, take a look at [Using PyTorch Lightning with Tune](https://docs.ray.io/en/master/tune/tutorials/tune-pytorch-lightning.html)

[2020-10-01 22:50] vr25 commented on #3351
oh!! Right, thanks for pointing it out.

[2020-10-02 00:16] awaelchli commented on #3351
@nathanpainchaud you have good eyes!!
@vr25 let us know if it worked!

[2020-10-02 00:27] #3724 closed

[2020-10-02 00:27] awaelchli commented on #3657
@rohitgr7 which hooks do you have in mind?

[2020-10-02 00:35] awaelchli commented on #3664
Moved this to the forum
https://forums.pytorchlightning.ai/t/how-to-switch-from-optimizer-during-training/219

Thanks @rohitgr7

[2020-10-02 00:35] #3664 closed

[2020-10-02 01:21] edenlightning opened #3780 "auto_scale_batch_size doesnt use 'binsearch'"
I tried to following and it's still using power:

[code]

Did we remove support? or is that a bug?

[2020-10-02 01:34] edenlightning opened #3781 "Trainer.tune() doesn't work"
![Screenshot - 2020-10-01T213349 970](https://user-images.githubusercontent.com/66261195/94879292-cf20ba00-042d-11eb-8e66-4b40031c6051.png)

Should we just remove it from the docs?

[2020-10-02 01:57] kyoungrok0517 commented on #3542
Hmm... so am I late to PR? I never did this before so it'll be grateful if you guide me how it works. I make pull request even though I don't know how to fix it?? Please tell me. I'd like to help.

[2020-10-02 02:45] nateraw commented on #3769
yup, been battling with myself whether or not this is necessary. But I think it is...do you want to submit a PR for this?

[2020-10-02 03:17] gerardsn commented on #3668
This should probably catch most things. Might be a bit much though.
It returns 1 if it fails to determine the batch size to prevent issues with weighted averaging in reduce_on_epoch_end.

[code]

[2020-10-02 03:46] ydcjeff commented on #3759
Hi @chrismaliszewski , I guess there is no info about plotted charts in the docs.
Would you like to send a PR with the necessary information you have in mind?

[2020-10-02 03:48] ydcjeff commented on #3758
Good point! Mind send a PR?

[2020-10-02 03:58] carmocca commented on #3668
I suggest adding a function to the LightningModule `batch_len_fn` which defaults to `len` if it is not overriden. Anything could be a batch and lightning shouldn't have the responsability of supporting any batch type.

[2020-10-02 03:59] carmocca commented on #3668
I suggest adding a function to the LightningModule `batch_len_fn` which defaults to `len` if it is not overriden. Anything could be a batch and lightning shouldn't have the responsability of supporting any batch type.

[2020-10-02 04:16] ydcjeff commented on #3756
Thank you for your feedback.

Lightning believes almost all of users may want to show the training loss in the progress bar to be able to check/iterate the model quickly (like in the situation of overfitting the small batch) without the need to use loggers or something extra, so it is done by default and let the users use `result.log` or `self.log` for the other metrics or the various losses to sh

[2020-10-02 04:41] nateraw opened #3786 "automatically override progress_bar_refresh_rate in google colab"
## 🚀 Feature

If running on google colab, automatically assign `progress_bar_refresh_rate=20` if the user didn't override the default of 1.

### Motivation

Google colab is notorious for crashing because of the tqdm progress bar while training. We usually solve that by assigning a larger number to `progress_bar_refresh_rate` flag of Trainer. However, this is super annoying since you have to do it

[2020-10-02 05:32] tilman151 commented on #3769
Sure, I'll give it a shot.

[2020-10-02 06:04] rohitgr7 commented on #3668
Exactly what I had in mind @carmocca. Or maybe simple ask to put `batch_size` in `.log` itself if `on_epoch=True`??
[code]

[2020-10-02 06:07] gerardsn commented on #3668
Lightning currently defaults to `weighted_mean` for reduction on epoch end by substituting the reduction method if it is `torch.mean`:

https://github.com/PyTorchLightning/pytorch-lightning/blob/ebc1b23fa38d54e9805aa4356867369f064c7031/pytorch_lightning/core/step_result.py#L389-L390

If this is the desired behaviour, I think Lightning should at least attempt getting a reasonable estimate for the b

[2020-10-02 06:18] gerardsn commented on #3668
this should work too. Probably default to 1 if not provided since `len` is likely to be wrong.

[2020-10-02 06:37] chrismaliszewski commented on #3756
Got it. I'll close the issue. It'll be for other's people reference if they have the same problem.

[2020-10-02 06:37] #3756 closed

[2020-10-02 06:41] chrismaliszewski commented on #3758
Sorry, @ydcjeff, I'm not familiar with pull requests nor I know what I should do now.
If you tell me, I'll try to do my best to help.

[2020-10-02 08:42] Borda commented on #3781
it is there, mind share your PL version as it was refactored I gues in 0.9.1rc3
https://github.com/PyTorchLightning/pytorch-lightning/blob/ac2b0f0f066967b5896a73591ce7aa25dfb75306/pytorch_lightning/trainer/trainer.py#L364

[2020-10-02 10:21] chiragraman opened #3789 "Checkpointing and Early Stopping fail to work correctly when increasing number of train batches (in some cases)"
## 🐛 Bug

( Preface: I created a complete minimal example for this bug report that unfortunately didn't end up reproducing the behavior, but I still think it might be useful to mention this nevertheless ).

The symptom is that when I leave everything else the same but increase the number of my training batches from 1000 to 5000, both checkpointing and early stopping completely fail to work correct

[2020-10-02 10:47] ydcjeff commented on #3758
@chrismaliszewski  Yes, I agree some parts of the docs are just normal comments and they cannot be found quickly sometimes.

Maybe we can use sphinx admonition (like warning, tip, note) for that. For the docs fixes, you can try to express your understanding of the API usages or try to fix the docs the way you might clear enough. We will help you validate and finish the PR.

[2020-10-02 12:01] rotabulo opened #3791 "error=101 : invalid device ordinal"
## 🐛 Bug

When the first entry of CUDA_VISIBLE_DEVICES > 0 and the `ddp` backend is used, a cuda error `invalid device ordinal` occurs.
After digging into the library's code I found the source of the issue in this function:
 https://github.com/PyTorchLightning/pytorch-lightning/blob/440f837f6d1b5fc44e6f04475fd2af20e2ed370d/pytorch_lightning/accelerators/ddp_backend.py#L151
which I copy and paste h

[2020-10-02 12:08] adriantre commented on #3769
@tilman151 I like this idea!. Then we won't need to manually call `.prepare_data()` and `.setup()` to extract these parameters, to then update hparams for logging.

What do you think about an `add_datamodule_specific_args()` static method in LighningDataModule as well? Do you see the use case? For defining defaults for parameters like train/val/test split, positive/negative balance in the datamodu

[2020-10-02 12:11] rotabulo commented on #2407
Hi, I have opened another issue on the same topic since I found that the problem is still there in master.
https://github.com/PyTorchLightning/pytorch-lightning/issues/3791#issue-713569017
In the issue I opened I explain the source of the problem.
(CC @williamFalcon )

[2020-10-02 12:14] SurajDonthi commented on #3769
@adriantre I think you can still define a static method similar to that of `LightningModule` which should work.

[2020-10-02 12:17] rotabulo commented on #3791
I managed to fix it by adding the following line
`os.environ['PL_DDP_PID'] = str(self.trainer.data_parallel_device_ids[0])`
before
https://github.com/PyTorchLightning/pytorch-lightning/blob/440f837f6d1b5fc44e6f04475fd2af20e2ed370d/pytorch_lightning/accelerators/ddp_backend.py#L109

[2020-10-02 12:31] edenlightning commented on #3791
hey! which version of lightning are you using?

[2020-10-02 12:32] edenlightning commented on #3789
@williamFalcon

[2020-10-02 12:38] edenlightning commented on #3760
Thanks for the issue! We will make sure to have the docs better reflect that.

As for the issue, we will take a look.

[2020-10-02 12:40] edenlightning opened #3793 "Add a note about row_log_interval=50 default to logging doc page or warning"
from #3760
"Okay, noticing that the loss was getting logged every 50 mini-batches eventually led me to the answer. The Trainer class constructor has a parameter, row_log_interval, that controls how often the on_step logging metrics are actually logged, and the default value is 50. I ran the above experiment with row_log_interval set to 1 and ended up with 3,500 loss values logged, just as expected

[2020-10-02 12:47] adriantre commented on #3769
@SurajDonthi Yes, you are right of course 😅

[2020-10-02 12:47] edenlightning commented on #3781
Thanks!

[2020-10-02 12:47] #3781 closed

[2020-10-02 12:48] edenlightning commented on #3780
@Borda any idea?

[2020-10-02 13:01] williamFalcon commented on #3778
good catch. yeah, that's a bug.

want to submit a PR?

[2020-10-02 13:06] SkafteNicki commented on #3780
@edenlightning it seems that this was changed during one of the refactors.
No matter what the `auto_scale_batch_size` argument is set to, the tuning will not run as part of `fit` anymore.
Instead user should call `trainer.tune()`.

[2020-10-02 13:19] saahiluppal opened #3795 "How to schedule learning rate in pytorch_lightning"
How to schedule learning rate in pytorch lightning
all i know is, learning rate is scheduled in configure_optimizer() function inside LightningModule

[2020-10-02 13:42] Borda commented on #3780
@SkafteNicki mind fix it?
@edenlightning where is this example so we shall edit it also there and make it as a tested example...

[2020-10-02 13:47] rotabulo commented on #3791
I took the one from `master` to be sure it was not already fixed.

[2020-10-02 13:47] SkafteNicki commented on #3780
@Borda i am not sure if there is anything to fix, as I think the intention with the refactors was that the user should call `trainer.tune()`.
cc: @williamFalcon

[2020-10-02 13:57] Borda commented on #3780
I see, then just update the docs... :]

[2020-10-02 14:01] SkafteNicki commented on #3795
A couple of examples are shown [here](https://pytorch-lightning.readthedocs.io/en/latest/optimizers.html#learning-rate-scheduling).
Basically, return two list: first is your optimizer(s) and the second is your schedulers.
[code]
lightning will call the scheduler internally.
Tip: you can use the [LearningRateMonitor](https://pytorch-lightning.readthedocs.io/en/latest/callbacks.html#learning-rate-mo

[2020-10-02 14:04] SkafteNicki commented on #3780
It actually is described correctly in the [docs](https://pytorch-lightning.readthedocs.io/en/latest/training_tricks.html#auto-scaling-of-batch-size)
@edenlightning is it an old example you have the code from?

[2020-10-02 14:04] chiragraman commented on #3789
Okay, so tried a few more things:

1. Changed the Checkpoint callback to save every model using `save_top_k=-1`. With Run 1 conditions, works fine. With Run 2 conditions, doesn't save anything except for what seems like a value from the sanity check validation. But similar to what's reported above, filename has the last epoch and validation score from 0. Tensorboard does have an entry for the vali

[2020-10-02 14:05] saahiluppal commented on #3795
I got it.
Thanks.

[2020-10-02 14:05] #3795 closed

[2020-10-02 14:15] Borda commented on #2550
@invisprints just tested that #2776 fixes your issue...

[2020-10-02 14:16] Borda commented on #2769
@acturner it is fixed by #2776 mind try...

[2020-10-02 14:17] turian commented on #3729
@awaelchli could you please give me access to your colabs?

[2020-10-02 14:22] awaelchli commented on #3729
yeah sorry the link was not public.

[2020-10-02 14:31] carmocca commented on #3778
I am not familiar with the tbptt logic, so maybe its better someone else does it.

I'll create a PR with the failing test so somebody can work on it.

[2020-10-02 14:36] awaelchli commented on #3786
Yes please, this is nice. It crashes my whole Chrome if I forget it, it's annoying.
I would put it into the callback connector for the default case because in the progressbarBase it could override the settings if a user has a custom bar and that's probably undesired?

[2020-10-02 15:00] invisprints commented on #2550
Glad to hear that. But I see it haven’t merged into master

[2020-10-02 15:05] carmocca opened #3797 "Broken ddp_cpu backend"
## 🐛 Bug

Broken on current master.

### To Reproduce

[code]

Error:

[code]

### Expected behavior

Does not fail

[2020-10-02 15:23] awaelchli commented on #3230
Just found that pytorch is also using hypothesis
https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md#unit-testing

[2020-10-02 15:24] chiragraman opened #3798 "User Deprecation Warning thrown even if user does not override `validation_epoch_end`"
## 🐛 Bug

From #3789 additional context. If the user does not override `validation_epoch_end` a warning is still thrown reading: ` UserWarning: The validation_epoch_end should not return anything as of 9.1.to log, use self.log(...) or self.write(...) directly in the LightningModule`

I tracked this down to this snippet:
https://github.com/PyTorchLightning/pytorch-lightning/blob/0c12065efd3cad98857

[2020-10-02 15:30] edenlightning opened #3799 "Fix docs for auto_lr_find"
This is the correct way to run

[code]

[2020-10-02 16:04] Borda commented on #3230
shall we open a new issue just for hypothesis testing? :]