[2020-06-12 19:46] awaelchli commented on #1715
happy to make it but it would be easier to do after #1920.

[2020-06-12 20:11] zackcarson commented on #2155
I'm also having this issue in 0.8.0rc1! Can you describe more how you fixed this?

[2020-06-12 20:14] awaelchli commented on #2155
The ddp mode now (since 0.8.0) launches your script several times. It expects you to have an argument parser with that gpus argument. It will call your script internally with
python train_siamnet.py --gpus 4, right @williamFalcon ?

so the fix is to add this argument to your script and pass it to Trainer.

[2020-06-12 20:14] awaelchli commented on #2155
or use `backend="ddp_spawn"` which can be slower.

[2020-06-12 20:38] JonathanSchmidt1 commented on #1412
Yes I assume fixing this, would have also fixed my problem, although a recent update of pytorch lightning already fixed my problem and I could remove my code.

[2020-06-12 20:39] #1467 closed

[2020-06-12 23:56] awaelchli commented on #2145
@sambaths is right, it is better not to pickle your whole model class.
You should instead load and save like this:
[code]
from the official docs:
https://pytorch.org/docs/stable/notes/serialization.html#recommend-saving-models

but you don't even need to worry about this.
the checkpoints saved by PL can be loaded like this and it has the state dict saved.
**You will always be able to use the Light

[2020-06-13 00:54] Shreeyak opened #2167 "The docker image tagged with Pytorch 1.5 and Python 3.8, has Pytorch 1.4 installed and is running Python 3.7"
## 🐛 Bug

The docker image [tagged](https://hub.docker.com/layers/pytorchlightning/pytorch_lightning/0.8.0rc1-py3.8-torch1.5/images/sha256-9f34736c8ebc3ee3f07eea1079d7bd02b066773b208ae3feb3c4ed7752119c12?context=explore) with Pytorch 1.5, eg `0.8.0rc1-py3.8-torch1.5`, has torch 1.4 installed in it, as seen via pip list. Also, it is running Python 3.7 instead of Python 3.8, as the tag indicates.

#

[2020-06-13 01:33] ArthDh commented on #1703
I was facing the same issue on a Colab TPU instance.
[code]

Using `trainer = pl.Trainer(resume_from_checkpoint=str(best_ckpt), num_tpu_cores=1)`
followed by: `trainer.test(model)`

results in:

training on 1 TPU cores
INIT TPU local core: 0, global rank: 0
Exception in device=TPU:0: tensorflow/compiler/xla/xla_client/mesh_service.cc:259 : Check failed: impl_->channel->WaitForConnected( std::chron

[2020-06-13 05:45] omry commented on #2137
OmegaConf can be converted to list or dict with OmegaConf.to_container(cfg).

This does sounds like an issues that should be resolved in PL now that it's trying to support OmegaConf configs though.

[2020-06-13 08:51] #1315 closed

[2020-06-13 09:54] p-christ opened #2170 "Save the whole model object"
Is there anyway of saving a whole model object with PyTorch lightning?

e.g. I want something like this:

[code]

without needing access to the original Model class.

I know how to load things from a checkpoint, but that requires having access to the model class.

Is this possible? Any help would be much appreciated

[2020-06-13 10:46] p-christ opened #2171 "torch.no_grad() during validation step"
Does PyTorch lightning call torch.no_grad() under the hood during a validation step?

The documentation here implies it does NOT but I think it definitely should... can someone confirm?

https://pytorch-lightning.readthedocs.io/en/stable/new-project.html

![image](https://user-images.githubusercontent.com/26346243/84566735-67097380-ad6b-11ea-9234-9d9faf803be4.png)

[2020-06-13 10:47] mm04926412 commented on #2145
Ah I see so the state dictionary stores the models hyper-parameters and actication functions and everything else not just the weights?

[2020-06-13 11:13] nsidn98 opened #2172 "How does the training step work with multiple optimizers?"
#### What is your question?
How does the training_step work exactly when there are multiple optimizers? I suppose that the optimizers update the corresponding networks one after another by converting the network associated with the other optimizer to eval mode and keeping the network associated with the current optimizer in training mode. Is this correct? If yes, how do we train networks where the

[2020-06-13 11:36] sambaths commented on #2172
@nsidn98 Did you try this from PL examples?

https://colab.research.google.com/drive/1F_RNcHzTfFuQf-LeKvSlud6x7jXYkG31#scrollTo=TyYOdg8g77P0

This is for a GAN, but as you need it used 2 optimizers.

[2020-06-13 11:43] sambaths commented on #2145
[code]
This saves the model weights, specifically Parameters that were learned while training the model(like weights, biases etc.)

If you want to continue training after you have stopped it, you need other information (which is by default saved while checkpointing in PL)
see this link ->  https://pytorch-lightning.readthedocs.io/en/latest/weights_loading.html?highlight=checkpoint

if you have to

[2020-06-13 11:44] sambaths commented on #2170
I think this is similar to #2145

[2020-06-13 11:44] nsidn98 commented on #2172
Yes, I used that example as a model for my code. But I think that net2() doesn't work in training mode when optimizer1 is getting updated and hence I am getting an error of `RuntimeError: element 0 of tensors does not require grad and does not have a grad_fn` for the output obtained from net2().

[2020-06-13 11:45] sambaths commented on #2172
Can you share the code ?

[2020-06-13 11:57] mm04926412 commented on #2145
What I want to do is save the model for active production use so it can be loaded in one line and I can typed something in like loaded_model.predict(data) without even needing to know what the networks architecture is.

[2020-06-13 12:03] mm04926412 commented on #2145
If this can't be done easily how are models deployed in pytorch lightning?

[2020-06-13 12:13] sambaths commented on #2145
PL can be deployed in the same way PyTorch models are deployed.
This issue is a drawback of pickle not that of PL or PyTorch.

From PyTorch Docs:

_The serialized data is bound to the specific classes and the exact directory structure used, so it can break in various ways when used in other projects, or after some serious refactors._

You need to preserve the the conditions that exists while savin

[2020-06-13 12:24] nsidn98 commented on #2172
You can find the code [here](https://gist.github.com/nsidn98/7f23200b316c0e71f0357cdfb21a2a78). Pardon me for putting all the code in one file. This was supposed to be a part of a bigger code base with imports from different files. This code runs independently. The main intention is to run RL algorithms and hence I am trying the different functionalities of Lightning on RL algorithms.

[2020-06-13 12:47] #1295 closed

[2020-06-13 12:47] #1296 closed

[2020-06-13 12:47] #1302 closed

[2020-06-13 13:17] dvirginz commented on #1395
This will need to have the specific checkpoint path right?
Is there a way to give it the dir path, and it will load the best ckpt based on CheckpointModel obejct logic?

[2020-06-13 13:18] sambaths commented on #2172
@nsidn98 I haven't worked that much with RL algorithms, but nevertheless, I tried something.

I changed [Line 392](https://gist.github.com/nsidn98/7f23200b316c0e71f0357cdfb21a2a78#file-test-py-L392) and the code ran.

I changed this:
[code]
to
[code]

Let me know if this is working like it is supposed to.

[2020-06-13 14:01] williamFalcon commented on #2085
this seems to be related to mixing apex and cuda somehow.
https://github.com/pytorch/pytorch/issues/21819

[2020-06-13 14:01] williamFalcon commented on #1611
this seems to be related to mixing apex and cuda somehow.
pytorch/pytorch#21819

[2020-06-13 14:14] #2147 closed

[2020-06-13 15:13] rohitgr7 commented on #2171
Yep it calls
https://github.com/PyTorchLightning/pytorch-lightning/blob/10c643f162318b7fe2b4a041a1f2975468492a92/pytorch_lightning/trainer/evaluation_loop.py#L246

[2020-06-13 16:00] #1878 closed

[2020-06-13 16:19] nsidn98 commented on #2172
The code does seem to work now but the algorithm is not converging. I think there is a problem in some other part of the code. Closing the issue.

[2020-06-13 16:19] #2172 closed

[2020-06-13 16:52] fabrizzioalco commented on #2167
Which OS are you running the project?

[2020-06-13 18:19] aamster opened #2178 "early stopping callback on_epoch_end called twice"
#### What is your question?
I am confused on the early stopping behavior. The `on_epoch_end` method seems to get called 2 times after a single validation epoch. It is called first from here https://github.com/PyTorchLightning/pytorch-lightning/blob/v0.7.5.x/pytorch_lightning/trainer/training_loop.py#L453 and next from here https://github.com/PyTorchLightning/pytorch-lightning/blob/v0.7.5.x/pytorch

[2020-06-13 19:10] mm04926412 commented on #2145
I'm not trying to develop the model though, the model is finished I am trying to deploy it so it can become a blackbox function in a different project that has no access to the orginal code in any way.

[2020-06-13 19:37] Makoto1733 commented on #1983
I am now having the same question. I am using self.hparams with type of dict and on 0.7.6. Could someone give some suggestions?

[2020-06-13 23:54] DKandrew commented on #2022
Hi @Borda

After looking into this issue in the afternoon. I don't think I can come up with a perfect solution.

The only working solution that I have, is to change the link to the online linkage.
[code]

----

The challenge is that the reference link is encoded in the docstring, not in a pure `.rst` file, so the Custom Anchor solution listed [here](https://sublime-and-sphinx-guide.readthedocs.io/

[2020-06-14 00:13] DKandrew commented on #1595
@Borda Do you mean where to introduce `v_num`? I think a good place would be https://pytorch-lightning.readthedocs.io/en/latest/introduction_guide.html the "Train on CPU" section. That is the first time when we(beginner) encounter the progress bar.

[2020-06-14 05:39] sambaths commented on #2145
You can define the architecture of model in a separate .py file and import it along with other necessities(if the model architecture is complex) or you can altogether define the model then and there.

But the recommended and most efficient way to export models is using ``` model.state_dict()```

[2020-06-14 07:04] pquadri commented on #2137
I literally looked it up and couldn’t find it 😂 thank you

[2020-06-14 07:51] mm04926412 commented on #2145
Thanks for you help, in the end I exported it as a torchscript using the torch.jit.trace module and it seemed to work fine.

[2020-06-14 07:51] HansBambel commented on #2178
That is an issue in 0.7.6.

There are multiple issues with this issue as well and it should be fixed in the next release.
As a workaround for 0.7.6 you can double the number of patience to get the expected behavior.

[2020-06-14 07:59] omry commented on #2137
It's in the [OmegaConf docs](https://omegaconf.readthedocs.io/en/1.4_branch/).

[2020-06-14 09:54] Nilanshrajput opened #2179 "train_percent_check as a method for reducing train data size."
## ❓ Question

#### What is your question?
When we use `train_percent_check=x` while training does it uses the same x per cent of data in every epoch?
Can it be used as a method for making total data size short during training?

#### Code

`Trainer(gpus=4,max_epochs=20,train_percent_check=.2,log_gpu_memory=True,weights_summary=None)`

[2020-06-14 09:57] Nilanshrajput opened #2180 "Global Gradient calculation is turned off during validation step."
If an error occurs during the validation step, the tradition calculation is turned off for the runtime, you have to either specifically enable it or restart runtime!

[2020-06-14 10:28] axkoenig commented on #839
Are there any news on this?

[2020-06-14 11:01] Borda commented on #839
@axkoenig how would you do it, Write a wrapper over a Trainer and perform the fold splitting followed by train-test?

[2020-06-14 12:34] nsidn98 opened #2182 "How to run algorithms where there isn't a need for dataloaders?"
#### What is your question?
In on-policy algorithms in reinforcement learning, rollouts are generated on the fly and there is no need for a replay buffer and consequently a dataloader. In these cases, the loss function is calculated according to the current states obtained (generally by using multiple parallel environments).

Hence, is it possible to bypass the dataloader requirement for lightning

[2020-06-14 15:36] #2067 closed

[2020-06-14 15:36] #2114 closed

[2020-06-14 16:21] DavidRuhe commented on #2151
Hi. I'm not sure if I should create a separate issue, but there is a very confusing bug (still in the current master branch). The documentation states

However, this is **not true** due to the following bug.
In callback_config.py we see the following code.

`    def configure_early_stopping(self, early_stop_callback):
        if early_stop_callback is True or None:
            self.early_stop_call

[2020-06-14 20:39] MrinalJain17 commented on #2142
For sure, examples on how to use `TensorMetric` and `NumpyMetric` would be extremely helpful.

[2020-06-14 21:48] adeboissiere commented on #2151
Hi. I'm using version 0.7.6.

[2020-06-15 00:17] #1986 closed

[2020-06-15 02:17] jeremyjordan commented on #1406
I added a Trainer attribute `should_stop` in #1504 which you can set to True to stop training after the current batch, once that PR is merged you should be able to use that from anywhere (callbacks, model hooks, etc).

[2020-06-15 02:40] wendy-xiaozong opened #2186 "TypeError: can't pickle _thread.lock objects"
## ❓ Questions and Help

#### What is your question?
Hi, everyone. I run into this problem but I really do not how to solve it. I've been stuck up there for three or four hours.

#### Code
This is the error:
[code]

This is my lightning model code:
[code]
[code]

[2020-06-15 03:10] xiadingZ opened #2188 "[hparams] save_hyperparameters doesn't save kwargs"
## ❓ Questions and Help

when I use hyperparemeters like docs:
[code]
model checkpoint doesn't save args in kwargs. But kwargs is important. Args such as `num_frames, img_size, img_std ...` must be used in creating `dataloader`, but it will be tedious if writes them in `__init__` explicitly .  it can make code clean if hides them in `kwargs`.

Before I use `hparams`, it's ok. But now it's not reco

[2020-06-15 03:24] xiadingZ commented on #2188
if don't use hparams, it will put all args of `model, dataset, dataloader...` if a `LightnModule`' s `__init__` method, and `save_hyperparameters ` doesn't save args in `kwargs`. It this really a good idea?

[2020-06-15 03:29] bjourne opened #2189 "Can you make a new progress bar for each epoch?"
The progress bar is very slick but a big problem with it is that it overwrites itself. For example, if you are at epoch 10, you cannot see what the validation and training losses were for epoch 9. Could the progress bar perhaps be made to work more like in Keras so that you can see the losses of accuracies of previous epochs?

[2020-06-15 05:34] awaelchli commented on #2179
Yes, if you set shuffle=False in your dataloader, otherwise it will sample a different subset of data every epoch.

Yes, that's what it is meant for. You can for example use it to sanity check that your model can overfit to the data.

[2020-06-15 05:38] awaelchli commented on #2189
Yes, I was thinking of adding a flag to the progressbar callback that could enable that, but holding back on it because we were talking about switching to fastprogress.

If you need it asap, simply try to inherit from from ProgressBar callback, set the `leave = True` in the tqdm bar and pass your new callback to the trainer, like so: `Trainer(callbacks=[myprogressbar])`

[2020-06-15 05:41] awaelchli commented on #2170
@p-christ have a look at the linked issue. I think the answer to your question is there. Let us know.

[2020-06-15 05:41] #2170 closed

[2020-06-15 05:44] drozzy commented on #730
This is rather strange. I am surprised you can't stop training your model (in jupyter), evalutate it, and then keep training it. You can do it with plain pytorch easily.

Would be super useful for `fit` to behave this way instead of restarting from scratch.

[2020-06-15 09:29] justusschock commented on #839
I think, we could have something like that in bolts, but it is very hard to generalize this, since it always depends on how you want to split your data.

[2020-06-15 09:29] justusschock commented on #2142
Hi, these examples are currently added in #2184

[2020-06-15 10:16] SkafteNicki commented on #839
I think we could provide two options:
1. Either users provide a single `train_dataloader` that we split into `K` new dataloaders with non-overlapping subsets of data, and perform the cross validation from them
2. Users provide K `train_dataloaders` and K `test_dataloaders` and we run cross validation on them (basically calling `trainer.fit` iteratively)

[2020-06-15 10:19] williamFalcon commented on #730
???
you can!

1. call .fit on the notebook
2. interrupt training
3. call .test (on a different cell)
4. call .fit again (on a different cell)

[2020-06-15 10:35] #2079 closed

[2020-06-15 10:39] Nilanshrajput commented on #2179
What I meant was, even id don't put shuffle=False, defining a train_percent should shuffle into that first x per cent of training data every epoch. So essentially it's like our training data is cut off to x per cent, and everything else remain the same.

[2020-06-15 10:40] bjourne commented on #2189
I tried this
[code]
It seem to make a newline for the validation progress bar. But I can't see the values for training and validation losses and accuracies. I don't really need a progress bar - just those for values for each epoch.

[2020-06-15 10:42] awaelchli commented on #2189
okay, then you could try to access `trainer.progress_bar_metrics` (dict) and print them yourself on epoch end maybe?

[2020-06-15 10:45] awaelchli commented on #2179
Yes exactly, `train_percent_check=0.5` means use 50% of the dataset in the train_dataloader.

[2020-06-15 11:23] LucFrachon commented on #2178
Yes, I noticed the same issue. I tried modifying the EarlyStopping logic by replacing the on_epoch_end() hook with on_validation_end(), but it is never called inside the training loop.
I think there should be a validation_epoch_end() hook like in LightningModule.

[2020-06-15 11:27] justusschock commented on #839
@SkafteNicki I think this would be a good idea to start.

However, we might also want to have some stratified splitting and not just random splitting, which may become more difficult, since we would have to assume things (like structure, dtype etc.) about these batches.

In general, we should also keep in mind, that we may not want to only split for train and test but also for validation sets/data

[2020-06-15 11:53] SkafteNicki commented on #839
@justusschock completely agree, I think that v1 of this feature should be very simple just random splitting. My proposed option 2. would allow the user to provide their own stratified dataloaders.

In v2 we can begin to figure out how to do more advance stuff/better integration. The main problem (in my view), is that we are working with dataloaders and not datasets, so to get dataset statistics (l

[2020-06-15 11:53] Anjum48 commented on #839
What about a Trainer method that would accept a model and a `sklearn` splitter class?
[code]
Under the bonnet, it would split the dataset to create `train_dataloader` & `valid_dataloader` and call `trainer.fit` iteratively

[2020-06-15 12:02] #2046 closed

[2020-06-15 13:02] Red-Eyed commented on #328
So, I ended up with something like this:
[code]
![image](https://user-images.githubusercontent.com/11485451/84660463-8cd87900-af21-11ea-96d1-d729aad31ac1.png)

[2020-06-15 13:11] Data-drone opened #2192 "Reloading Models for use elsewhere?"
#### What is your question?

When we save models with a Checkpoint Callback, we can only load it up by having the original LightningModule that we used to create the model and the checkpoint. Is there some extension of save_checkpoint so that I can save out everything that I would need to reload the module and load the checkpoints as part of a save function?

What is best practice around this?

I

[2020-06-15 13:56] johngull commented on #760
@Borda Same problem appears with the MLFlowLogger. Maybe better to find some universal solution?

[2020-06-15 15:07] pitercl commented on #1977
Hi @hirune924, the underlying problem is that currently Neptune doesn't allow overwriting parameters after experiment creation. We'll be changing that within the next month. This will fix both the problem with doubling the parameters and the problem with inefficient implementation of `log_hyperparameters`.

I think that for now, your workaround is a good idea.

[2020-06-15 16:24] Borda commented on #1316
@veritas9872 I assume that this is solved for now (unless you want to add DALI) but feel free to re-open if needed :rabbit:

[2020-06-15 16:24] #1316 closed

[2020-06-15 17:20] Borda commented on #2192
can you give an example of your model or useful reloading?

[2020-06-15 17:21] Borda commented on #2188
Could you please share your model example?

[2020-06-15 17:24] Borda commented on #2159
added in #2160

[2020-06-15 17:24] #2159 closed

[2020-06-15 17:26] Borda commented on #2178
@aamster @HansBambel @LucFrachon mind checking the latest v0.8.0rc2

[2020-06-15 17:27] #2179 closed

[2020-06-15 17:28] Borda commented on #2180
@Nilanshrajput is it a question?

[2020-06-15 17:31] Nilanshrajput commented on #2180
@Borda, no it's a bug!

[2020-06-15 17:35] bjourne commented on #2189
I'm a PyTorchLightning newbie so I don't know how to do that but I'll try.

[2020-06-15 17:50] aamster commented on #2178
@Borda early stopping seems to work correctly in 0.8.0rc2. But in my mind this is a major bug in 0.7.6

[2020-06-15 19:01] williamFalcon opened #2196 "Let's add a `suggested_num_workers()` method?"
V1 could be:

[code]

@PyTorchLightning/core-contributors
Any other heuristics you guys use?

[2020-06-15 19:02] williamFalcon commented on #2186
https://pytorch-lightning.readthedocs.io/en/latest/multi_gpu.html?highlight=pickle#pickle-errors

[2020-06-15 19:03] williamFalcon commented on #2186
Looks like something you are trying to save to hparams is not picklable?

@Borda should we add a warning for users when this happens? Maybe recursive iterate or something cheap?

  File "/home/jq/.local/lib/python3.6/site-packages/pytorch_lightning/core/saving.py", line 151, in save_hparams_to_yaml
    yaml.dump(hparams, fp)

[2020-06-15 19:04] williamFalcon commented on #2182
Check these examples out:

https://github.com/djbyrne/core_rl

[2020-06-15 19:45] Borda commented on #2180
could you please describe more what is happening or give an example?

[2020-06-15 19:47] Borda commented on #2178
well as `v0.8.0` will be released shortly, we will not prepare any further fixes in `v0.7.x` but if you want and send a fix PR we can arrange it for you in `v0.7.6.x` branch :rabbit:

[2020-06-15 19:55] sudarshan85 opened #2197 "OmegaConf/hydra error unsupported `0.8.0rc2`"
Hi,

I am using Hydra to setup my configurations variables for my trainer and model parameters. I'm using PL version `0.8.0rc2`. When I pass the params to my PL module and set the passed params to `self.hparams`, I get the following error:

[code]

I could add more code if that will help.
@Borda

[2020-06-15 20:09] Nilanshrajput commented on #2180
I used the  MNIST example for demonstrating the error. https://colab.research.google.com/drive/1LWlUurpIu_pD4fP_cUgwhF5f0nS6fvb4?usp=sharing
Here in validation step I added `assert1==2` which will cause the error during execution, to remove the error you can comment that line, but this error will pop-up `element 0 of tensors does not require grad and does not have a grad_fn` . This error is genera

[2020-06-15 20:12] Borda commented on #2197
@sudarshan85 mind pass a minimal example to reproduce?

[2020-06-15 20:24] Nilanshrajput commented on #2180
`# disable gradients to save memory
        torch.set_grad_enabled(False)
`
This line in trainer.evaluation_loop.py sets global grad calculation False, this is reverted at the end of evaluation loop but that's is never executed if there is an error raised in between, and the model remain in eval mode with gradient calculation disabled.

[2020-06-15 20:30] Nilanshrajput commented on #2180
@Borda This could be resolved in two ways i think:
1. use local context for disabling grad ` with torch.no_grad():`. but here also if error occurs the model will remain in eval mode, also for a long piece of code it might not look good.
2. At the start of training_loop add following lines `model.train()
        torch.set_grad_enabled(True)`. This is better method I think.
I can add a PR if you agr

[2020-06-15 20:43] drozzy commented on #730
Oh for some reason if I interrupt my .fit and then run it, it resets my loss again.

[2020-06-15 20:57] wendy-xiaozong commented on #2186
That's really weird, because this is my hparams. I cannot find anyone which is not pickable:

[code]

[2020-06-15 20:58] Borda commented on #2180
Yeah, sending a PR would be great...
cc: @awaelchli

[2020-06-15 20:59] sudarshan85 commented on #2197
[code]
When using `Namespace` from `argparse`, there is no error and its able to print the out value. But when using OmegaConf object, we get the following error:

[code]

[2020-06-15 21:04] #1412 closed

[2020-06-15 21:05] #1556 closed

[2020-06-15 21:08] anthonytec2 commented on #2197
#2139

[2020-06-15 21:15] Borda commented on #2197
feel free to reopen if needed :rabbit:
https://github.com/PyTorchLightning/pytorch-lightning/blob/c52497e85933abf0230800a3461a3053fc94101b/requirements/extra.txt#L12

[2020-06-15 21:15] #2197 closed

[2020-06-15 21:22] rhythmswing opened #2199 "Batch weight for accumulating gradients"
## 🚀 Feature
Support different weights for each batch during batch gradient accumulation.

### Motivation

In many cases not every batch are equal. For example, when the inputs are sequences of tokens of variable length, the mean loss of several batches is not the average across the individual batch losses, since each batch would have varying number of samples.

### Pitch

In training_loop.py, add

[2020-06-15 22:22] ohmeow opened #2203 "Is there a callback for before "configure_optimizers" is called?"
Is there a callback for before `configure_optimizers` is called?

I didn't notice anything in the docs so wondering if such a callback exists, or if running code just prior to `configure_optimzers` should be handled elsewhere.

[2020-06-15 22:59] Borda commented on #2186
@wendy-xiaozong mind share complete example or better minimal example so we can reproduce it also on our side?

[2020-06-15 23:10] ArthDh opened #2204 "[hparams] support haparms and params in the init"
## 🐛 Bug

Gives TypeError while running on Google Colab TPU

### To Reproduce

Steps to reproduce the behavior:
https://colab.research.google.com/drive/1K5i4kXzZCvbq3jc8IHPD_bd_EdUSjFml?usp=sharing
running trainer.fit(model) on TPU

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-

[2020-06-16 01:05] jeremyjordan commented on #2151
There are a number of issues with early stopping, I have a PR out to fix them. I have added [a new test](https://github.com/PyTorchLightning/pytorch-lightning/pull/1504/files#diff-a0606aadf6970149ee18c4edcbcfdc04R73) to cover your case @adeboissiere.

[2020-06-16 02:29] xiadingZ opened #2205 "[metrics] Accuracy Metric: Tensors must be CUDA and dense"
I try the new Accuracy Metric, but it throws error:
[code]

This is my code:
[code]

Also have a question, TensorMetric's default reduce_op is `SUM`, does it automatically calculate average acc?

[2020-06-16 02:50] xiadingZ commented on #2188
[code]

I can train this model, but when I load from checkpoint, it says kwargs hasn't `img_size`

[2020-06-16 09:28] xor-xor commented on #2186
Had the same issue recently. I guess it boils down to the difference between points (2)
and (3) [here](https://pytorch-lightning.readthedocs.io/en/latest/hyperparameters.html#lightningmodule-hyperparameters), where in my case (3) is more convenient, but it has a problematic side effect of adding `TensorBoardLogger` and `ModelCheckpoint` instances to `hparams` when I use `logger` and `checkpoint_ca

[2020-06-16 10:42] Nilanshrajput opened #2207 "module 'pytorch_lightning' has no attribute 'metrics'"
module 'pytorch_lightning' has no attribute 'metrics'.

### To Reproduce

I am using master branch installation
pip install git+https://github.com/PytorchLightning/pytorch-lightning.git@master --upgrade
pl.metrics.AUROC() throws error.

### Expected behavior

As I see metrics are present on master branch but they are not in init.

[2020-06-16 11:37] justusschock commented on #2205
1.) What are your devices for labels_hat and labels? Are you running in a DDP environment?

2.) No it doesn't. It does what it says (calculates the sum) unfortunately there is no DDP reduction  op that calculates the average. For averaging, you still need to divide by the size of your process group

[2020-06-16 11:40] justusschock commented on #2207
Hi @Nilanshrajput , I verified your issue. I am not entirely sure why this happens, but as a workaround `from pytorch_lightning.metrics import AUROC` worked for me.

[2020-06-16 11:42] Nilanshrajput commented on #2207
Yeah I checked just now it's working i am baffled!

[2020-06-16 11:42] #2207 closed

[2020-06-16 11:42] justusschock commented on #2196
@williamFalcon I tend to do some stress testing. E.g. I try to repeatedly load samples from my dataset with increasing number of workers and monitor disk I/O. Especially while loading large files (e.g. medical DICOMs) the cpu is not the bottleneck but disk io is

[2020-06-16 11:47] xiadingZ commented on #2205
This is my code:
[code]

I'm running in DDP environment, I think `labels` be automatically transfered to one gpu device, and I use `type_as` to ensure `labels_hat` on same device as `labels`

[2020-06-16 11:50] williamFalcon commented on #2180
If an error is raised, the program should crash no?

[2020-06-16 11:50] nsidn98 commented on #2182
@williamFalcon the examples in the linked repository does not have on-policy algorithms. Is there a way to bypass the need of train_dataloader() in the lightning module?

[2020-06-16 11:51] justusschock commented on #2205
can you try to call `.contiguous()` on the tensors before?

[2020-06-16 11:53] xiadingZ commented on #2205
I tried on `labels` and `labels_hat`, but it doesn't work

[2020-06-16 11:53] justusschock commented on #2205
do you use sparse tensors?

[2020-06-16 11:54] xiadingZ commented on #2205
No

[2020-06-16 11:57] Nilanshrajput commented on #2180
No program should crash, but when you are working in notebooks, after resolving the error, the grad calculation does not take place. as in validation step it was turned off and never turned back on.
Can you try the collab link i provided, after resolving error you have start the runtime.

[2020-06-16 11:59] xiadingZ commented on #2205
And I think 2) should add some example in docs. Now code example  in docs is
[code]
and it says can run in ddp mode, but it doesn't say we should divide by the size of process group by hand if using ddp

[2020-06-16 12:00] justusschock commented on #2205
But it also does not state, that it calculates the mean. I will have a look how much work it is, to integrate this.

[2020-06-16 12:44] williamFalcon commented on #2196
but there’s some upper bound on num_workers based on the num_cpus no?

maybe we can do something like the learning rate finder but for num_workers?
@SkafteNicki

[2020-06-16 12:57] justusschock commented on #2196
Technically there isn't. If you got to many workers/threads they will be scheduled by your OS, but there is no such thing as a limit. Even if you have more workers, it may sometimes be easier to just load another process context and have inter-process communication in the background, since this sometimes takes a while.

I'm also not sure, if cpu count gives you logical or physical cores

[2020-06-16 13:20] SkafteNicki commented on #2196
@williamFalcon I had the same idea when saw your PR yesterday.
We could iteratively try to increase the number of workers and log the training time over a few batches. I guess that when we reach a certain amount of workers, the training time will plateau (no decrease any further) and we could suggest `n_workers` just before this happens.

[2020-06-16 13:22] #2069 closed

[2020-06-16 13:46] lucmos opened #2208 "Non-trainable non-differentiable baselines"
## 🚀 Feature
Add the possibility to implement non-trainable and non-differentiable models.

### Motivation
It is often useful to compare models with simple baselines, those baselines often do not require parameters to optimize and are not differentiable at all.

However, at the moment it is not possible to return `None` from `training_step` and `configure_optimizers`.
Writing the baselines in the

[2020-06-16 14:11] Borda commented on #1832
@Alikerin mind try some new XLA version?
[code]
I was testing this and worked for me https://github.com/PyTorchLightning/pytorch-lightning/pull/2094#issuecomment-644330374

[2020-06-16 14:16] Borda commented on #1937
@awaelchli let's update the list with respect to what has been done...
@edenlightning mind help?

[2020-06-16 14:17] Nilanshrajput opened #2210 "[metrics] AUROC Metric cant handle batch with single class samples"
## 🐛 Bug
During calculation of AUROC for a batch, if all samples of particular batch are of same class, it raises following error
[code]

This is tensor for labels : `tensor([1., 1., 1., 1., 1., 1.])` for this batch all samples were of same class,

The metric being used : pytorch_lightning.metrics.classification.AUROC

### Expected behavior

I don't know much about the calculation of auroc but it

[2020-06-16 14:21] williamFalcon commented on #2196
exactly. that would be ideal.

More of a reason to get this Tuner object separated @tullie

[2020-06-16 14:27] tullie commented on #2196
Yeah that’d be awesome. I often do a small benchmark on this when I create a new data loader.

[2020-06-16 14:32] Borda commented on #2186
so you had `logger` and `checkpoint_callback` as init arguments of your `LightningModule`?

[2020-06-16 14:34] Borda commented on #2188
I see, we need to ignore `kwargs` from the model hparams saving...

[2020-06-16 15:01] Borda commented on #2016
not sure why this was reopened...

[2020-06-16 15:01] #2016 closed

[2020-06-16 15:03] Borda commented on #2142
done in #2184 and #2209

[2020-06-16 15:03] #2142 closed

[2020-06-16 15:06] Borda commented on #2106
@rohitgr7 mind check tests in #2094 as all the test there are passing, see: https://github.com/PyTorchLightning/pytorch-lightning/pull/2094#issuecomment-644330374

[2020-06-16 15:07] SkafteNicki commented on #2196
So I guess first step is to get the v1 of tuner merge to master (PR: https://github.com/PyTorchLightning/pytorch-lightning/pull/1998).
Then we can extend with this functionality (I will be happy to do it but if you have some code @tullie to get me started it would be more than welcome)

[2020-06-16 16:05] lezwon commented on #2106
I'm seeing this issue when I run the notebook. Unsure of why it's happening. It's not consistent either but occurs the majority of times. I ran the code with an old release of lightning too, it still breaks. There is some change somewhere which is breaking it. If I run just the model with plain `xmp.spawn` , it seems to work fine.

[2020-06-16 16:22] xor-xor commented on #2186
Well, not as distinct, explicitly defined args (if this is what you mean..?) - but as properties of `hparams`, which at this point is an instance of `argparse.Namespace`. Here's a simplified (hopefully, not _too_ simplified 😉 ) example:

[code]

[2020-06-16 16:39] wendy-xiaozong commented on #2186
@xor-xor Not sure whether we run into the same problem, I discovered my mistake was that I have written this in other files in my code
[code]
And import that files, which caused this error.

Now my code runs perfectly, thank everyone

[2020-06-16 16:53] rohitgr7 commented on #2106
I have checked this on colab only. Will try it on kaggle-kernels and check if it's happening there too.

[2020-06-16 17:10] xor-xor commented on #2186
@wendy-xiaozong I got the same error as you (but maybe its cause was different).

@Borda to update my previous answer - apparently, when `Trainer` is instantiaded as shown in the last line [here](https://pytorch-lightning.readthedocs.io/en/latest/hyperparameters.html#trainer-args), it mutates `hparams` (or `args` in my example above) by adding other kwargs that are passed to`from_argparse_args` (e

[2020-06-16 17:30] johngull opened #2211 "ModelSummary fails on the "generative_adversarial_net" example"
## 🐛 Bug

When you run this example: https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/domain_templates/generative_adversarial_net.py
you got error: `RuntimeError: size mismatch, m1: [56 x 28], m2: [100 x 128]`

My understanding by quick viewing of callstack:
Seems that problem in ModelSummary, which unfold 2 presented nn.Module to the same list of mods. And then it tri

[2020-06-16 18:10] Diyago commented on #1844
so how to fix the problem? Installation from .sh Apex didnt solved the problem

[2020-06-16 18:44] Molaire commented on #2101
Hi, I'm falling on the same kind of problem here. What would be the production approach?

[2020-06-16 18:44] williamFalcon commented on #1844
tbh much easier to upgrade to pt 1.6

[2020-06-16 18:44] f4hy commented on #2161
Whats the right way to discuss solutions here. I have one proposed solution in a draft PR, but figure its best to discuss with the maintainers first about how best we can solve this.

[2020-06-16 19:31] tullie commented on #2196
Yep that sounds good. BTW a related PR to the Tuner is this one I sent out last week https://github.com/PyTorchLightning/pytorch-lightning/pull/2107. It shows another potential way of decomposing the trainer and having shared arguments.

[2020-06-16 21:42] awaelchli commented on #2034
I noticed the following:
1. The anchor links for title sections are there
2. The anchor links are only missing for the class/method/function definitions in the docs composed in .rst files.
3. If you search for the class/function in the search box and click on the result, you get to a page where all the anchor links are there. For example, compare [this](https://pytorch-lightning.readthedocs.io/en/

[2020-06-16 22:05] awaelchli commented on #2034
I think this is the issue:
https://github.com/sphinx-doc/sphinx/issues/7052
All docs that have :noindex: in the automodule/autoclass don't get the permalink

[2020-06-16 22:32] Borda commented on #1297
done in #1488

[2020-06-16 22:32] #1297 closed

[2020-06-16 22:54] feribg commented on #2101
@Molaire Don't use `prepare_data` and instead call `fit` and `lr_find` with a dataloader parameter that you've processed and initialized  outside of the model (I actually like to put a static method in the model for it  just to keep it tidy).

[2020-06-16 23:46] Borda commented on #1304
@cuent ^^ mind type anything so I can assign it to you... :rabbit:

[2020-06-16 23:54] cuent commented on #1304
Thanks 😄 Will try to push tmrr!

[2020-06-16 23:59] williamFalcon commented on #1668
Fixed!

[2020-06-17 00:17] awaelchli commented on #2211
I fixed this recently, see #1773. Try the master branch (or the 0.8.0 release in a few days).

[2020-06-17 00:17] awaelchli commented on #2211
I'll close this unless you find another issue.

[2020-06-17 00:17] #2211 closed

[2020-06-17 00:24] awaelchli commented on #2192
Why would you need that file? PL saves all (few exceptions) hyperparameters to the checkpoint. As long as the source code matches, you can load the model with `Model.load_from_checkpoint(...)`

If you need to store extra data, just override the hooks `on_save_checkpoint` and `on_load_checkpoint`. [docs](https://pytorch-lightning.readthedocs.io/en/latest/api/pytorch_lightning.core.html#pytorch_ligh

[2020-06-17 00:47] awaelchli commented on #2204
PL saves hyperparameters to the checkpoint so that you can load it later, but that only works if you save them into self.hparams (in 0.7.6), and in your colab I can see the "fold" parameter is an argument but you don't save it into hparams.

Two ways to solve this problem:
1. Update to master branch (or 0.8.0 in a few days) and then use the `save_hyperparameters` method in your init (this is the n

[2020-06-17 01:06] ArthDh commented on #2204
I see, just out of curiosity would it be possible to pass in hparams and parameters together so something like this:

[code]

Would this cause any sort of conflict since hparams will be saved by default and another explicit save is called on the hyperparameters?

[2020-06-17 02:58] Hans0124SG opened #2215 "What is the model saved by the trainer by default?"
## ❓ Questions and Help

Thanks for the great library!
May I know that which model will the trainer use when we run `trainer.test()`  by default?
Is it the best model during training that has the lowest validation loss?

[2020-06-17 06:23] feiwofeifeixiaowo commented on #2077
Hi @nsarang ,
how to write gradient to tensorboard **asynchronously**? when i use ``` self.logger.experiment.add_histogram() ```Python in ``` on_before_zero_grad ``` function,  i can feel the main thread stuck a few milliseconds.

[2020-06-17 08:51] guydav commented on #1520
Hi @Borda -- I think there's still another underlying issue with how metrics are reported unless someone interacted with this code over the last while.

If you look at the observed behavior and expected behavior steps above, do you agree there's an issue? That it makes no sense for the validation metrics for a particular epoch to report before the training metrics for that epoch, and with a differ

[2020-06-17 08:52] GaoQ1 commented on #226
I also have the same problem.

[2020-06-17 09:32] Borda commented on #1832
@lezwon mind have a look ^^

[2020-06-17 10:05] lezwon commented on #1832
@Alikerin I tried the colab notebook. I am not receiving the error. Could you try again with an updated XLA version as @Borda suggested? If you still receive the error, do make a copy of the notebook and share it.

[2020-06-17 10:09] nsarang commented on #2077
@feiwofeifeixiaowo
How often do you log histograms? It's a slow operation because it needs to write them to disk. I used to log the summaries only every 10 batches.
[on_after_backward](https://pytorch-lightning.readthedocs.io/en/latest/api/pytorch_lightning.core.hooks.html#pytorch_lightning.core.hooks.ModelHooks.on_after_backward) is where you'd want to do it.

[2020-06-17 10:35] feiwofeifeixiaowo commented on #2077
@nsarang thanks for your quick reply, i write log every 500 steps because the stuck.
i will try put log operation into ```on_after_backward``` function.

[2020-06-17 11:30] Borda commented on #2131
@sshleifer it is caused by missing `self._experiment`
https://github.com/PyTorchLightning/pytorch-lightning/blob/69575204f23f8fb3bc4597c1766bbc9593dc8acb/pytorch_lightning/loggers/wandb.py#L136
which comes from the wrong `wandb` init
https://github.com/PyTorchLightning/pytorch-lightning/blob/69575204f23f8fb3bc4597c1766bbc9593dc8acb/pytorch_lightning/loggers/wandb.py#L112
Do you have a minimal exam

[2020-06-17 11:33] mateuszpieniak commented on #226
Currently, you need to transfer manually data to a GPU using torchtext. Take a look at my gist
https://gist.github.com/mateuszpieniak/f290b3a727db7e94b9da0bd3bd2e33c1 and the method `transfer_batch_to_device`.

[2020-06-17 12:03] #1668 closed

[2020-06-17 12:03] #830 closed

[2020-06-17 12:17] jwallat commented on #2186
Ran into this problem on 0.7.6, updating to 0.8.0rc3 fixed it

[2020-06-17 12:45] #828 closed

[2020-06-17 12:46] xor-xor commented on #2186
Can confirm - 0.8.0rc3 works fine for me without my delattr workaround 👍

[2020-06-17 12:49] wendy-xiaozong commented on #2186
Great! I will close this issue then

[2020-06-17 12:49] #2186 closed

[2020-06-17 13:07] williamFalcon commented on #1668
All of these were fixed in #2213 and #2220

[2020-06-17 14:20] Borda commented on #2155
@williamFalcon is this solved in #2212?

[2020-06-17 14:32] williamFalcon commented on #2155
yes

[2020-06-17 14:32] #2155 closed

[2020-06-17 14:52] #2180 closed

[2020-06-17 15:45] Polyphenolx commented on #630
Can this issue be re-opened? I'm currently working with Pytorch-Lightning==0.7.6 and am getting an identical pickle issue when using DDP with the MLFLowLogger.

**Reproducing**

Using the script the OP gave led to some other errors (mostly to do with lightning version differences), so a new gist to reproduce in Pytorch-Lightning 0.7.6 can be found [here](https://gist.github.com/Polyphenolx/39424e5

[2020-06-17 17:25] Borda commented on #2210
In such case it shall be 1
@justusschock @SkafteNicki

[2020-06-17 17:46] #1304 closed

[2020-06-17 18:44] Polyphenolx commented on #630
To add to this, it appears to be a greater issue with MLFLow and how their tracking utilities are coded. They use a higher order function that causes issues with pickling in torches DDP backend. I've created an issue on MLFLow git, and submitted a PR to remedy the problem.

In the interim, feel free to implement the fix described in the issue in the MLFlow git as a temporary fix until/if they revi

[2020-06-17 21:54] zackcarson commented on #2133
I'm also having this same issue on the latest version!

[2020-06-17 21:57] Evpok commented on #1497
This is marked as wontfix so it probably won't be done, but for the record that would be a very unusual behavior for Python, “we are all consenting adults here” and I don't think that a lib going out of its way to do that kind of thing would be a good thing.

[2020-06-17 22:00] awaelchli commented on #1497
totally agree :)
the bot added this wontfix label and wanted to close the issue due to inactivity.

[2020-06-17 22:02] awaelchli commented on #1245
great! i can start with that!

[2020-06-17 22:05] awaelchli commented on #2204
not sure, now that you mention it it looks weird. did you already  test it in the meantime?

[2020-06-17 22:45] #1486 closed

[2020-06-17 23:17] rohitgr7 commented on #2215
Yeah the best one
https://github.com/PyTorchLightning/pytorch-lightning/blob/1635ba1bb38e69d985b9a96e1e8f6b6dbdeff268/pytorch_lightning/trainer/trainer.py#L1076-L1081

[2020-06-17 23:48] ArthDh commented on #2204
Sorry, I haven't. I'll look into it later.
However, the same syntax `model = LightModel(train_df, test_df, fold, hparams, emb_dims)` works on a GPU without any errors.

[2020-06-18 00:56] Hans0124SG commented on #2215
Thank you very much!

[2020-06-18 00:56] #2215 closed

[2020-06-18 01:14] williamFalcon commented on #2204
0.8.0 you can pass in whatever you want. hparams + keyword args, objects etc :)

[2020-06-18 01:14] #2204 closed

[2020-06-18 07:29] Borda commented on #1497
sorry for the confusion, it was an automatic bot marking non-active issues...
Agree with @awaelchli we ll do it, just did not have time yet :rabbit:
@Evpok mind take it over and draft a PR with these changes?

[2020-06-18 07:31] Borda commented on #1245
nice, @mateuszpieniak or if you want to take is and @awaelchli may assist you :]

[2020-06-18 07:52] Evpok commented on #1497
Well, I was trying to argue that it should *not* be done, since it adds unnecessary complexity and makes it harder to monkey patch if needed :-)

[2020-06-18 08:13] Borda commented on #1497
the point of protected is to clearly separate what is the recommended API and what is internal staff so you can still use it but to be aware that you are using something that is meant to be just internal PL use and you need to know how to use it correctly... so it does not add any complexity, all functions/classes stay as they are just minor rename with `_`

[2020-06-18 08:45] justusschock commented on #2210
Well this is to be consistent with sklearn:

[code]

And I also think it should be handled that way

[2020-06-18 08:50] Nilanshrajput commented on #2210
@justusschock we calculate metrics after each validation step, and we cannot insure them to be of a single class, this way training would never complete due to possible error in every step. I think sklearn metric is designed keeping in mind to calculate auroc over a complete dataset not a batch.

[2020-06-18 10:02] turian opened #2232 "Best practices when Module __init__ contains Dataset?"
## ❓ Questions and Help

#### What is your question?

What are best practices when the Module __init__ contains the Dataset? This is useful when the input and output sizes are derived from the data set, and not hparams.

However, `Module.load_from_checkpoint(...)` fails with the following error:

[code]

#### What have you tried?

There could be a module method to load the dataset. However, this w

[2020-06-18 10:08] brucemuller commented on #2085
I'm having better success with pytorch 1.6 (nightly), I recommend trying that.

I have apex installed but I haven't set the Trainer to use amp, but maybe it could still be related?

[2020-06-18 10:24] justusschock commented on #2210
Yes, and we basically do the same.

This implementation just provides the implementation. In the next version, we will provide an automated evaluation plan that caches multiple batches. In the meantime you can return them and aggregate them in `at_epoch_end` for metric computation.

I designed it that way on purpose, since an AUROC (or a ROC in general) is not descriptive in a single batch

[2020-06-18 10:28] Nilanshrajput commented on #2210
Oh, that sounds right, currently, i just increased the validation batch size very much to decrease such probability of such cases:D, but I will add it to val epoch end, Thanks @justusschock

[2020-06-18 11:04] turian opened #2233 "How to programmatically determine the checkpoint directory?"
## ❓ Questions and Help

#### What is your question?

How do you programmatically determine the checkpoint directory?

pytorch lighting has automatic support for checkpoints and those checkpoints are stored in `lightning_logs/VERSION/checkpoints/epoch=BEST.ckpt`. However, I don't know how to programmatically determine what the VERSION or directory is, to copy the checkpoint to save it for later in

[2020-06-18 12:40] edenlightning commented on #1249
@justusschock can we close this issue? was it fixed?

[2020-06-18 13:06] #1299 closed

[2020-06-18 13:32] anthonytec2 opened #2235 "CPU/GPU Template"
## 🐛 Bug

The GPU or CPU template do not run currently on master after changes including the setup hook.

[code]

CPU Template Error:
[code]
GPU Template Error:
[code]

### Environment

* CUDA:
        - GPU:
                - GeForce RTX 2080 Ti
                - GeForce RTX 2080 Ti
                - GeForce RTX 2080 Ti
                - GeForce RTX 2080 Ti
        - available:         True

[2020-06-18 13:32] ThierryDeruyttere commented on #1148
Yes it is very confusing. I think this should be fixed though. It took me at least 1 hour to come to the same conclusion. I first thought I made a mistake in my dataloader but this wasn't the case.

[2020-06-18 13:47] justusschock commented on #1249
@edenlightning not yet. We haven't yet come to implementing accumulation for metrics. This will be V2 of metrics

[2020-06-18 15:00] williamFalcon commented on #2235
try again?

[2020-06-18 15:02] williamFalcon opened #2238 "when no checkpoints are saved, test fails"
Build a model that doesn't save a checkpoint and this crashes.
It should use the last model instead.
[code]

@yukw777
[code]

The test for this should be:

[code]

[2020-06-18 15:36] Brechard opened #2239 "Precision 16 not transforming inputs to Float16 nor having LSTMs as halfs"
## 🐛 Bug

When using precision 16 to train a model, the LSTM layers are not transformed to accept FP16 and the inputs to the model are FP32 (as mention in the issue https://github.com/PyTorchLightning/pytorch-lightning/issues/1876). This can be seen with simple modifications of the MNIST model your provide in colab.

### To Reproduce

Execute the following code:

[code]
This gives the following er

[2020-06-18 16:43] yukw777 commented on #2238
oops, i'll send out a fix soon!

[2020-06-18 17:03] seandatasci opened #2240 "Minibatch oversampling"
## 🚀 Feature
option for over-sampling mini batches for imbalanced classes

### Motivation

many datasets have large class imbalances and in lightning this needs to be implemented manually

### Pitch
Make an option in trainer function which would allow someone to change the class balances sampled for the mini batch.

[2020-06-18 17:24] hjalmarlucius opened #2241 "model.setup and model.on_fit_start not working"
self.model not yet set so `self.is_function_implemented('on_fit_start')` and `self.is_function_implemented('setup')` in `trainer.fit` will both always return false.

Resolve by checking if model instead of self has the relevant function, e.g.
`if callable(getattr(model, f_name, None)): model.f_name()`

relevant lines:
https://github.com/PyTorchLightning/pytorch-lightning/blob/f8c10fbff03240bf76896

[2020-06-18 18:36] mRcSchwering opened #2242 "Steps not incremented correctly with accumulate gradients"
## 🐛 Bug

`global_step` and `current_epoch` do not match up anymore after more than 1 epoch when setting accumulate gradients greater 1.
I think at the end of each epoch `optimizer_step` (and `on_before_zero_grad`) is not called in that case.

### To Reproduce

1. Create a `pl.LightningModule` that logs `current_epoch` and `global_step` in every `training_step_end`.
2. Have a dataset with 20k samp

[2020-06-18 19:35] Riccorl commented on #2101
Do you have some code example?

[2020-06-18 19:43] Molaire opened #2243 "Model.load_from_checkpoint tries to open file path as URL and fail"
## 🐛 Bug
 load_from_checkpoint tries to classify if the input is a file path or an URL and detects the hard drive letter as a scheme and then classify wrongly the input because of this.
urllib.error.URLError: \<urlopen error unknown url type: d\>

My input:
D:\Prog\Projects\AceriNet\research_seed\checkpoints\acerinet\bnacerinet0_target=OVA_OK_penalized=None_loss_fn=ce_normalized=True_balanced=Fals

[2020-06-18 19:47] yukw777 commented on #2243
Ah I didn’t think about Windows when I implemented this. I’ll take a look if there’s a better.

[2020-06-18 19:53] Molaire commented on #2243
We could try to detect if the file exists with if os.path.isfile() or Path(path_of_chkpt).is_file() instead of checking for scheme

[2020-06-18 21:10] awaelchli commented on #2243
Also came across this when I was running tests on windows. I wonder why it was not showing up in CI.

[2020-06-18 21:15] Molaire commented on #2243
The only reason I see is that tmpdir is a relative path without prefix at the start, dodging the problem. It should be fixed by my PR, I hope.

[2020-06-18 21:21] Evpok commented on #1497
Right, that makes sense, sorry for being dense :-)

[2020-06-18 21:51] mateuszpieniak commented on #1245
@Borda Sure, I will do this over the weekend unless @awaelchli already started to work on this :]

[2020-06-18 21:53] #2243 closed

[2020-06-18 22:04] awaelchli commented on #2243
Thanks @Molaire. I can verify the tests now pass locally on windows.

[2020-06-18 22:10] awaelchli commented on #1245
Not yet started, and I don't mind you taking it if you are interested.

[2020-06-18 23:22] Borda commented on #2235
it is in master now... :(

[2020-06-19 00:20] ternaus opened #2249 "Upgraded to 0.8.0 => `def val_dataloader` does not have access to properties from prepare_data"
Upgraded to version 0.8.0

In my code I define

`self.val_samples` in `def prepare_data` and use them later in

[code]
This worked before the upgrade, but now I get
[code]

what should I modify to make things work?

[2020-06-19 00:48] s-rog commented on #2188
[code]

I'm guessing this is why 0.8.0 causes this error, it's trying to save all args (including dataframes in my case) outside of hparams?

[2020-06-19 01:14] s-rog opened #2250 "dataframes passed outside hparams causing issues"
🐛 Bug

~~In 0.8.0 (updating from 0.7.5), using hyperparameters parsed by test-tube causes an exception.~~

In 0.8.0 (updating from 0.7.5), dataframes passed outside hparams errors out

 ### To Reproduce
[code]

[code]

### Expected behavior
hparams is saved correctly as previous versions, disregarding the dataframes

[2020-06-19 01:20] williamFalcon commented on #2250
ah yes... good catch
fixing now

[2020-06-19 01:23] williamFalcon commented on #2249
yeah.. it was a bug that this worked before haha. prepare_data is only meant to be called from node=0 rank=0. Now it works as expected.

prepare_data should be only to download... then do the other stuff in either setup or dataloaders

[code]

[2020-06-19 01:24] s-rog commented on #2250
Yeah, I swapped over to pure argparse to test  and my hparams is `<class 'argparse.Namespace'>` but it doesn't seem to evaluate correctly... let me compile it

[2020-06-19 01:25] williamFalcon commented on #2242
@mRcSchwering can you try 0.8.0?

[2020-06-19 01:27] aced125 opened #2251 "Weird DP behaviour on AWS P2 16xlarge with Wandb Logger"
## ❓ Questions and Help

### Before asking:
1. search the issues.
2. search the docs.

#### What is your question?
Wandb Logger seems to not log all steps.

AWS P2 16xLarge has 16 K80s on 1 node.

I am using dp distrib mode.

#### Code
My training steps:
[code]

My logs:
![wandb-logs](https://user-images.githubusercontent.com/44452903/85087100-6db54200-b1d4-11ea-9cb8-da5e47de5e6d.png)

When I chan

[2020-06-19 01:30] williamFalcon commented on #2250
argparse is 100% supported. we have explicit tests for this

[2020-06-19 01:32] s-rog commented on #2250
[code]

ok I just tested it, it's caused by dataframes passed outside hparams

[2020-06-19 01:34] sshleifer commented on #2131
Unfortunately I do not, the problem was encountered with
[code]
So if you put that wherever you guys test ddp, it should suffice.

[2020-06-19 01:36] williamFalcon commented on #2232
[code]

[2020-06-19 01:37] #2232 closed

[2020-06-19 01:40] williamFalcon commented on #2250
got it.
Found the bug!

@Borda
[code]

we shouldn't be doing frame inspection here...

[2020-06-19 01:45] #2241 closed

[2020-06-19 01:45] #2249 closed

[2020-06-19 01:47] s-rog commented on #2250
thanks for the quick response, I'll pull from the fork and give it a shot

[2020-06-19 01:50] williamFalcon commented on #2250
fixed!

![image](https://user-images.githubusercontent.com/3640001/85088280-bdccde00-b1ad-11ea-98b7-8aa3bca71956.png)

[2020-06-19 02:37] s-rog opened #2254 "Single node DDP: "Default process group is not initialized""
## 🐛 Bug
Unable to start single node ddp training on 0.8.0

### To Reproduce
~~was going to run the gpu_template but... #2235~~
both methods of running the template result in the same error
[code]
[code]

[2020-06-19 02:43] #2235 closed

[2020-06-19 02:47] williamFalcon commented on #2254
can you post code to reproduce? just a minimal example that breaks

[2020-06-19 02:50] s-rog commented on #2254
done, let me post my env as well

[2020-06-19 02:50] williamFalcon commented on #2254
ok wait... i think i see it. one sec

[2020-06-19 03:03] dscarmo commented on #1983
I get the same error, while having hparams.lr.

[2020-06-19 03:08] #2250 closed

[2020-06-19 03:09] williamFalcon commented on #1983
We need to adjust the learning rate finder to work with the new hparams. @SkafteNicki

[2020-06-19 04:14] PC09 opened #2258 "How to interpret the profiler statistics here"
## ❓ Questions and Help

### Before asking:
1. search the issues.
2. search the docs.

#### What is your question?
I had an existing code in Pytorch which was taking ~100mins for an epoch. So I converted it to PyTorch-lightning module format to get the timings by the profiler. Surprisingly now it took ~60 mins to train but the statistics which I got are weird. The time (if it's in sec) is very les

[2020-06-19 04:50] s-rog commented on #2254
I just tested the merged changes with both ddp and ddp_spawn again got this:

[code]

[2020-06-19 05:14] williamFalcon commented on #2254
try again. that was a typo

[2020-06-19 05:16] williamFalcon commented on #2239
try on master?

btw, when i try your code the x is not f16 for some reason... but when i try it on other scripts, it is.
can you actually run it and see the difference in memory and speed?

[code]

[2020-06-19 05:47] s-rog commented on #2254
cheers, works now!

[2020-06-19 06:19] turian opened #2263 "Full batch training"
## ❓ Questions and Help

For smaller datasets, it makes sense to do full batch training, not minibatch. How do you implement fullbatch training in pytorch lightning, given that train and validation might be different sizes?

[2020-06-19 06:28] williamFalcon commented on #2263
what do you mean by full batch training?

This is not lightning specific though... this is pytorch

[code]

[2020-06-19 07:20] amitness opened #2265 "Can we add examples of using metrics package in PyTorch Lightning workflow?"
Hi,

I am really excited about the release of the metrics package. Can we add more examples of using it in the context of the lightning module?

For example, if I want to calculate the global accuracy/f1-score at the end of each epoch, is doing it this way correct? I feel it's wrong as averaging batch-f1 to get the global average can be misleading. When I tested it on a toy example and compared it

[2020-06-19 07:45] Brechard commented on #2239
I get same error in master.

Sorry I do not understand what code do you want me run to see the difference in memory and speed. I get the same mistake in my big model that is why I changed this small dummy example to see if it was problem of my model or where so I still haven't managed to run anything with precision 16.

'''
GPU available: True, used: True
TPU available: False, using: 0 TPU cores
C

[2020-06-19 08:25] awaelchli opened #2266 "Improve Exception Handling"
## 🚀 Code Quality Improvement

I came across this a few times already:
[code]
It is the worst possible way to handle Exceptions. It is better to catch the specific exception or at least log a message.

### Alternatives

None. Sooner or later someone has to deal with this anyway :)

[2020-06-19 08:35] Borda commented on #2266
@awaelchli so what do you propose to have more exact Exceptions like `ImportError`?

[2020-06-19 08:45] awaelchli commented on #2266
Yes exactly, the specific exception we try to catch.
Also, sometimes we don't need exception handling at all:
[code]
can be replaced with
`x = getattr(myobject, "attribute", 0)`

[2020-06-19 10:59] vishal-burman opened #2267 "'Trainer' object has no attribute 'proc_rank'"
## 🐛 Bug

1st epoch runs to completion and the above error is thrown in the is_logger() method.

### To Reproduce

[code]

#### Code sample

[code]

### Expected behavior

### Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/PyTorchLightning/pytorch-lightning/master/tests/collect_env_details.py)
(or fill out the checklist belo

[2020-06-19 12:13] Borda commented on #2267
`proc_rank` was renamed to `global_rank`

[2020-06-19 12:19] manhlab commented on #2267
you can set:
[code]
and code will work.

[2020-06-19 12:23] zbloss commented on #817
Hi team, this would be a huge addition to lightning!

The biggest barrier to entry for deepspeed is having to refactor all of my code, and the biggest attractor to lightning is the organization and simplicity it provides

[2020-06-19 12:27] turian commented on #2263
Thank you, that is perfect.

[2020-06-19 12:27] #2263 closed

[2020-06-19 12:36] sudarshan85 opened #2270 "Exception when trainer.gpus are passed as a list through hydra (omegaconf)"
## 🐛 Bug
When we pass the `gpus` flag for `Trainer` using `hydra` (which in turn uses `Omegaconf`) it is passed as `omegaconf.listconfig.ListConfig`. However, internally `Trainer` only checks for `int`, `str`, `list`. This throws an exception.

#### Code sample
[code]

[2020-06-19 12:37] turian commented on #2233
I see `trainer.ckpt_path` and `trainer.weights_save_path`, which is preferred to use?

[2020-06-19 12:58] #1455 closed

[2020-06-19 13:01] Borda commented on #2270
well it is OmegaConf issue
[code]

[2020-06-19 13:29] williamFalcon commented on #2233
https://pytorch-lightning.readthedocs.io/en/stable/trainer.html#checkpoint-callback

[2020-06-19 13:29] #2233 closed

[2020-06-19 13:31] williamFalcon commented on #2267
but also, why do you need to check the proc rank?

[2020-06-19 14:22] mRcSchwering commented on #2242
Just tried on 0.8.1 (hope that's as good). Issue remains. _E.g._

[code]

[2020-06-19 14:37] vishal-burman commented on #2267
Actually I borrowed most of the code from HuggingFace's T5 finetuning script, but I guess if it's not needed then I will remove it.

[2020-06-19 15:01] stevenluzheng123456 opened #2271 "Could I convert lightning module to onnx? Thanks!"
## 🚀 Feature
pytorch Lightning works very good, but I cannot find any comments or examples to guide my convert to onnx from a pretrained lightning model, doesn't lightning module only use for researching purpose, without support of onnx cross platform?

[2020-06-19 15:21] sshleifer commented on #2267
@vishal-burman do you have ddp working with transformers and pytorch-lightning==0.8.1?
I am struggling. I fixed this `proc_rank` bug, but now have fp16 bugs.
Are you in fp32?

[2020-06-19 15:36] Borda commented on #2270
in fact, the solution shall be that `ListConfig` is inherited from `list`, so no change needed for PL
@omry ^^ @williamFalcon
cc: @PyTorchLightning/core-contributors

[2020-06-19 15:39] Borda commented on #2271
good point, @PyTorchLightning/core-contributors thoughts?

[2020-06-19 16:05] vishal-burman commented on #2267
@sshleifer . I am also struggling with making ddp work. According to PyTorch documentation, there is a warning not to change model parameters after ddp construction. I wonder if that could be the case.

[2020-06-19 16:13] williamFalcon commented on #2267
can you guys post a minimal example that is breaking? in lightning we don’t change model stuff once ddp starts. maybe trnasformers is doing that?

[2020-06-19 16:21] omry commented on #2270
@Borda :

Inheriting from primitive containers is not recommended.
Python is making a ton of assumptions about list and dict that would break if the objects are not actually what it expects.
Here is a [post](https://treyhunner.com/2019/04/why-you-shouldnt-inherit-from-list-and-dict-in-python/) by someone talking about some of the problems.

As of OmegaConf 2.0 ListConfig is [implementing MutableSe

[2020-06-19 16:28] omry commented on #2270
[code]

Please note that this is only working with OmegaConf 2.0, which means this is only working with Hydra 1.0.0rc1 or newer (which is still a release candidate, most Hydra users are still using the stable version).
However, it looks like the PL support for Hydra is already assuming 1.0 so we might as well continue to assume it.

[2020-06-19 16:47] Borda commented on #2270
[code]

[2020-06-19 16:57] williamFalcon commented on #2270
@omry we want to support this but this is now scattering a lot of code everywhere for special cases.

Unfortunately, I think this is as much effort as we can put into this at this time. Please support Lists in Omegaconf and i would also suggest to supprot --args

in the meantime @sudarshan85, i'm sorry but it looks like this is incompatible with lightning at the moment. Please use a regular argpar

[2020-06-19 16:57] #2270 closed

[2020-06-19 16:58] tayden opened #2274 "TensorMetric not updated to cuda device"
## 🐛 Bug

When tensors located on the GPU are passed through a TensorMetric forward method, they are transfered to the CPU by [this method](https://github.com/PyTorchLightning/pytorch-lightning/blob/54acc79f31842d3a3eb6a6c0380f0ca4a0e3e445/pytorch_lightning/metrics/metric.py#L69). It seems that the 'cpu' device is not updated when training on a gpu. The cpu device seems to be hardcoded [here](http

[2020-06-19 16:58] omry commented on #2270
I looked at implementing typing,List at some point while working on OmegaConf 2.0 and decided against it.
I just tested again and it's causing issues around copy and deepcopy , and around pickling.
I can revisit it for the next major version but I can't guarantee that I will change it.
Even if I do end up making this change - it may be as long as 6 months before it's available to Hydra users.

[2020-06-19 17:10] sudarshan85 commented on #2270
@williamFalcon @omry
No worries. The only problem is if I pass in an `int` enclosed quotes to force a string such as '1' on the command line using Hydra, it automatically converts it to an int and does not read it as a string.  Is there way to force hydra to get a string out of it?

[2020-06-19 17:13] tayden commented on #2274
Just discovered that this seems to be fixed in release 0.8.1

Thanks for the great work!

[2020-06-19 17:18] mstewart141 opened #2275 "`Add ckpt_path option to LightningModule.test()` introduced robustness issues"
## 🐛 Bug

`Trainer.test()`, passing no explicit model, now looks for the best model checkpoint. However, this can fail for models that have `__init__` methods that take more than just `hparams`, which is common.

If I have a `pl` model with init (kw)args `(self, hparams: Namespace, fancy_thing: FancyThing)` one runs into problems outlined below.

With the new codepath, `Trainer.test()` calls down

[2020-06-19 17:29] SkafteNicki commented on #2271
From the docs https://pytorch.org/docs/stable/onnx.html it seems easy enough. We would require users to define the `self.example_array` attribute, but that's it.

Do we already have a method for saving the model that can be extended?

[2020-06-19 17:29] omry commented on #2270
@sudarshan85
Join the Hydra chat if you have questions about Hydra.

[2020-06-19 17:31] Borda commented on #2270
@omry @sudarshan85 I have changed the checking `list` to `MutableSequence` in #2273 which shall resolve this issue, pls have look...

[2020-06-19 18:21] tayden commented on #2274
Nevermind, issue still persists

[2020-06-19 18:48] tayden commented on #2274
I understand now that the metrics must be moved to the appropriate device, but it's not clear what the best way to do this is or if it should be handled automatically by the LightningModule somehow.

Currently I'm just setting `self.calc_loss = FocalTverskyLoss(0.7, 0.3, 4./3.)` in my LightningModule's `__init__` function. Is there a way to register these metrics so that they'll be placed on the c

[2020-06-19 19:01] Laksh1997 commented on #2251
I can confirm I don't think this is the issue of multi-gpu or anything.

Seems to be something with the wandb logger.

Below is a pic from training on CPU. Global step is 800 while x axis step is 25. Logging seems to be happening sporadically.

<img width="1449" alt="Screenshot 2020-06-19 at 19 57 50" src="https://user-images.githubusercontent.com/59830552/85171815-a4886800-b267-11ea-9684-0598daa6

[2020-06-19 19:14] tayden commented on #2274
Can metrics not be used for the loss computation?

[2020-06-19 19:15] thschaaf opened #2277 "_has_len does not handle NotImplementedError (raised by torchtext)"
## 🐛 Bug
When using torchtext.data.Iterator with a batch_size_fn function the __len__  function raises a  NotImplementedError which is not caught by _has_len function.

A bug-fix is **very simple** by just returning False if a NotImplementedError is raised. This is unlikely to have any negative side effects since it corresponds with what _hads_len is expected to do. The fix allowed me to train my

[2020-06-19 19:19] Taha-Bahadori opened #2278 "Checkpointing with SLURM"
#### What is your question?
I have a pytorch-lightning code with checkpointing that runs well on my desktop. But when I run it on our cluster with SLURM, the checkpoints do not get saved.

#### Code
[code]
#### What have you tried?
I run it in the cluster with the following code:
[code]
#### What's your environment?

 - OS: Linux
 - Packaging conda

[2020-06-19 19:40] JonnyD1117 opened #2280 "Clarification for Lr Scheduler ReduceLROnPlateau in PL"
Maybe I missed it in PL documentation; however, when using the learning rate scheduler " ReduceLROnPlateau" appears to take an argument for which metric to monitor during training.

Does PL handle passing this argument? If so is there anyway for the user to specify which argument is passed to the scheduler?

From Pytorch Docs, example shows scheduler.step takes val_loss ,as the argument for when t

[2020-06-19 19:46] #2267 closed

[2020-06-19 19:51] JonnyD1117 commented on #2280
After triple checking documentation, I found a NOTE that I missed initially, which address this issue.

Sorry to bother.

[2020-06-19 19:51] #2280 closed

[2020-06-19 20:01] williamFalcon commented on #2278
is this with 0.8.1?

[2020-06-19 20:01] williamFalcon commented on #2277
good catch! mind submitting a PR?

[2020-06-19 20:02] williamFalcon commented on #2275
@yukw777

[2020-06-19 20:03] williamFalcon commented on #2274
they should be ablet to...
@justusschock @SkafteNicki

[2020-06-19 20:05] williamFalcon commented on #2271
a lightningModule is just a nn.Module.

Wouldn't this just work?

[code]

But we should just make this automatic...
@stevenluzheng123456 want to submit a PR for:

[code]

[2020-06-19 20:06] thschaaf commented on #2277
Absolutely. The fix is easy. How important is a test for that case?

[2020-06-19 20:22] Kshitij09 opened #2281 "RuntimeError: OrderedDict mutated during iteration"
## 🐛 Bug

I was getting `RuntimeError: OrderedDict mutated during iteration`.
It seems like using the same `LightningModule` object with `ModelSummary` and `Trainer` causes this error.

### To Reproduce
[code]
Steps to reproduce the behavior:

1. View model summary using `ModelSummary` class
2. Call `trainer.fit` with same object.

### Stacktrace

[code]

### Expected behavior
We should be able to

[2020-06-19 20:23] awaelchli commented on #2171
@p-christ @rohitgr7 would you like to send a PR adding this to the code sample above?

[2020-06-19 20:39] soulhi-vz opened #2282 "optimizer got an empty parameter list"
Hi,
Got the following error:
ValueError: optimizer got an empty parameter list with both options below:

def configure_optimizers(self):
        # option1 optimizer = torch.optim.Adam(self.parameters(), lr=self.hparams.lr)
        # option 2
        optimizer = torch.optim.Adam(params = list(self.parameters()), lr=self.hparams.lr)
        return optimizer

class Autoencoder(pl.LightningModule):

[2020-06-19 20:47] Taha-Bahadori commented on #2278
It is with 0.8.0.

[2020-06-19 21:31] versatran01 commented on #1946
This does not seem to be true in 0.8.0. Epoch still starts from 1.

[2020-06-19 21:31] awaelchli commented on #2281
Could you paste the minimal code for CifarNet? I cannot reproduce it with PL examples, sorry.

[2020-06-19 21:38] hjalmarlucius opened #2286 "example_input_array dtype"
Currently assumed that example_input_array dtype to be equal to model dtype. This is not necessarily correct - e.g. if input is a vector of INT.

https://github.com/PyTorchLightning/pytorch-lightning/blob/7dc58bd286b1e81ca4d293f05bddff5e93361020/pytorch_lightning/core/memory.py#L192

[2020-06-19 21:43] williamFalcon commented on #1946
yes just noticed that too... they should start from 0 @Borda

[2020-06-19 21:56] versatran01 commented on #2282
You need to use self.xxx instead of self_xxx for nn.Module to register them as parameters

[2020-06-19 22:12] turian opened #2288 "Scipy LBFGS with Lightning"
## 🚀 Feature

Nico Pinto (p.c.) says that the vanilla Scipy LBFGS optimizer has produced really good results for him, better so than Pytorch's LBFGS implementation. I am trying to use [this wrapper](https://gist.github.com/arthurmensch/c55ac413868550f89225a0b9212aa4cd), but similar to this [issue](https://github.com/PyTorchLightning/pytorch-lightning/issues/246) I get error

[code]

How can I get

[2020-06-19 22:27] Borda commented on #1946
ohhh that was my misunderstanding, I thought it shall start from 1 and because of the confusion I was asking about the diff indexing in steps and epochs https://github.com/PyTorchLightning/pytorch-lightning/pull/2206#issuecomment-644568854

Ok, reverting and moving epoch indexing starting from 0

[2020-06-19 22:57] ternaus opened #2290 "version 0.7.6 is 2x faster than version 0.8.1"
4 x 2080 Ti
ddp
fp16

0.7.6 => 5 minutes for the train + validation
0.8.1 => 9 minutes for the train + validation

Is there anything I need to change?

Not sure how to provide a minimal example to reproduce.

The full pipeline looks like https://github.com/ternaus/retinafacemask/blob/master/retinafacemask/train.py

[2020-06-19 22:57] sid-sundrani opened #2291 "Validation turns on midway during training instead of epoch end - Progress Bar"
Validation is starting before epoch end. Validation starts during the first training epoch.
I've attached a snippet of the command prompt
![image](https://user-images.githubusercontent.com/19412334/85184392-8c532180-b244-11ea-8ac4-24d52bc4cce1.png)

EDIT: Epoch progress bar includes validation progress. Please close the issue

[2020-06-19 22:59] Kshitij09 commented on #2281
Okay ! I'm not sure which part is pertaining to this issue, so here is the link to my [colab notebook](https://colab.research.google.com/drive/13ER3opHF3IacEfAyEWojuplBUHn2MBKU?usp=sharing)

[2020-06-19 23:13] ternaus commented on #2290
Behavior reminds https://github.com/PyTorchLightning/pytorch-lightning/issues/2291

[2020-06-19 23:46] airium commented on #2243
I am afraid the PR #2244 introduced a new bug, as now `Path(path_or_url).is_file()` will block every URL by raising `OSError`. I will submit a new PR to better fix it.

[2020-06-20 02:16] hminle opened #2295 "Stop at Validation sanity check"
Hi,

My code stops at Validation sanity check, there is no error, just stop right there
![image](https://user-images.githubusercontent.com/16201681/85189168-30a38b00-b27a-11ea-8ce6-81ad1296ba0d.png)

How should I fix this issue?

#### What have you tried?
I tried to build a dummy valid dataloader, and it works okay. But if I pass a real validation image set, it stops at sanity check.

#### What's

[2020-06-20 03:38] #2277 closed

[2020-06-20 03:41] #2171 closed

[2020-06-20 03:52] #2295 closed

[2020-06-20 04:21] shijie-wu opened #2296 "Question about `trainer.test()`"
Hi!

A noob question and maybe I am missing something. Why does it call `fit()` again when a model is loaded from checkpoint?

https://github.com/PyTorchLightning/pytorch-lightning/blob/c7f8367650d1dd1a497586153c607ff6479367c7/pytorch_lightning/trainer/trainer.py#L1177-L1179

Thanks!

[2020-06-20 04:28] moi90 commented on #2129
It happens with 0.8.1rc3 as well. After the validation pass, a half epoch is logged:

[code]

[2020-06-20 05:23] #1462 closed

[2020-06-20 07:34] Erlemar opened #2297 "If a path to folder which wasn't created yet is set as filepath in ModelCheckpoint, the folder isn't created."
## 🐛 Bug

This pull request changed the behavior of `ModelCheckpoint`:
https://github.com/PyTorchLightning/pytorch-lightning/pull/2153

Now it looks like this:
[code]
Theoretically, if `filepath` is a directory, it should make `self.dirpath` be equal to `filepath`, and if `filepath` is a path to file, then `self.dirpath` is a part of the defined `filepath`

But in fact, if the defined directory wa

[2020-06-20 08:48] awaelchli commented on #2281
Thanks, your notebook was very helpful. I fixed the bug here #2298
You can verify that it works by installing from

!pip install --upgrade git+https://github.com/awaelchli/pytorch-lightning@bugfix/summary_hook_handles timm wandb

in the first cell of your notebook.

[2020-06-20 09:03] #1098 closed

[2020-06-20 11:38] #2281 closed

[2020-06-20 12:24] aaronma2020 commented on #2109
I have the same problem

[2020-06-20 13:26] rohitgr7 commented on #2296
Fit function handles both training and testing. `self.testing` is set to `True` in `.test()`.
https://github.com/PyTorchLightning/pytorch-lightning/blob/f972ab3a828eae1847a793da0b2c25c6074647a4/pytorch_lightning/trainer/trainer.py#L1169

and if `self.testing == True`, it will test only.
https://github.com/PyTorchLightning/pytorch-lightning/blob/f972ab3a828eae1847a793da0b2c25c6074647a4/pytorch_ligh

[2020-06-20 13:37] ExpectationMax commented on #2278
Could be related to issue with https://github.com/PyTorchLightning/pytorch-lightning/pull/2231 experienced the same problems in my setup.

[2020-06-20 13:51] ExpectationMax commented on #2278
My hypothesis is that something is going wrong with determining the rank of the process when running on slurm, thus the logger calls are never executed and some outputs for example
[code]
Are never shown, otherwise training executes as regulalry.

This could be due to an incorrect (non-zero) value in `rank_zero_only.rank` such that the wrapped commands are never executed.

[2020-06-20 14:15] Laksh1997 opened #2299 "DDP Bug with Model Checkpoint parsing"
## 🐛 Bug

My script works with CPU, single-GPU and dp.

I need ddp to do 16 bit training. Also even on a single machine ddp is faster.

Here is my `ModelCheckpoint` code:

[code]
In my case it would generate the checkpoint: `checkpoints/epoch=4_val_loss=0.6_auc=0.85` for example.

Although I even tried it with just `checkpoints` and it's the same issue.

The issue is the following:

[code]

### En

[2020-06-20 14:32] Laksh1997 commented on #2299
Ahh, it may be because I do `kwargs.pop("metrics")` which then means for the other processes its a NoneType.

I've `copy.deepcopy`'d kwargs. Let's see if that fixes it!

[2020-06-20 14:34] Rezyapkin-Vyacheslav opened #2300 "Typo in child modules docs"
## 📚 Documentation

_forward()_ doesn't return the decoder output. But in _training\_step()_ it used when calling _self(representation)_.

    class Encoder(torch.nn.Module):
        pass

    class Decoder(torch.nn.Module):
        pass

    class AutoEncoder(LitMNIST):

        def __init__(self):
            super().__init__()
            self.encoder = Encoder()
            self.decoder = Deco

[2020-06-20 14:46] Laksh1997 commented on #2299
Turns out the above didn't help.

[2020-06-20 14:50] Laksh1997 commented on #2299
The error seems to be here (trainer/callback_config.py line 60)

[code]

[2020-06-20 14:52] Laksh1997 commented on #2299
One of the arguments in the last `os.path.join` is a NoneType. But it only happens on ddp2. Confusing...

More confusing- exactly 3 (not 4) processes log this error. So one process seems to be fine but not the other 3!

[2020-06-20 14:57] Laksh1997 commented on #2299
I have a suspicion `self.default_root_dir` is None.

I am now explicitly passing in a default root dir.

[2020-06-20 15:14] Laksh1997 commented on #2299
The above didn't work. I now think that it's something to do with the logger, specifically ```logger.name```

[2020-06-20 17:45] djordjemiladinovic opened #2302 "Support HTCondor in addition to SLURM"
## 🐛 Bug

New DDP implementation is still not working for me. I am in the situation where I need to send a single job i.e. run a single executable due to the batch system we have on our university GPU cluster. Therefore, rather than calling the training script multiple times with different env variables as suggested in the documentation, my solution is to create a super script (see below) which wi

[2020-06-20 19:03] Laksh1997 commented on #2299
Here is my logger code:

[code]

which I then pass into trainer as `Trainer(logger=wandb_logger, **kwargs)`

[2020-06-20 20:09] ArthDh opened #2303 "Loading a model checkpoint that is trained on TPU using a GPU"
#### What is your question?
Is it possible to load a model that is trained on a TPU saved using ModelCheckpoint on a GPU for inference?

#### Code

[code]

#### What have you tried?## ❓ Questions and Help

Tried to normally load the weights as with a GPU but throws an error.

#### What's your environment?
Kaggle GPU
torchvision==0.6.0a0+82fd1c8
torch==1.5.0
pytorch-lightning-0.8.1

[2020-06-20 21:15] tridao opened #2305 "Why raise error "cannot infer num_classes when target is all zero" in accuracy metric"
Why does the accuracy metric raise error when target is all zero?
(https://github.com/PyTorchLightning/pytorch-lightning/blob/0.8.1/pytorch_lightning/metrics/functional/classification.py#L222)

I think it's still reasonable to compute accuracy even when the target in the minibatch happens to be all zero.

[2020-06-20 21:28] darleybarreto opened #2306 "Undefined variable on DDP2 trainer"
## 🐛 Bug

I am trying to run an experiment in multiple gpus, but a single machine. If I understood right, using ddp2 would be faster than dp and would allow me to use the aggregated results in `training_step_end` and `validation_step_end`, which ddp doesn't provide. For some reason I am getting this error:
[code]
Which is [this](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pyt

[2020-06-20 23:04] soulhi-vz commented on #2282
It works now. Thanks for the catch !!!!

[2020-06-20 23:04] #2282 closed

[2020-06-20 23:33] Laksh1997 commented on #2290
This doesn't sound good. What happens if you disable everything except for the minimal forward and backward pass?

Have you tried the profiler?

[2020-06-21 15:47] PC09 commented on #2295
hi, how did you solve this? I'm facing the same issue

[2020-06-21 17:06] hminle commented on #2295
Hi @PC09 , I find neither any error nor reasons leading to this issue.
I cannot say it clearly a bug or not.
I overcome this issue by setting `trainer = Trainer(num_sanity_val_steps=0)`
Hope this help you

[2020-06-21 17:08] justusschock commented on #2274
This shall be possible after you call `super().__init__()` , since after that assignments of nn.Modules (which is the baseclass for Metrics) should be registered automatically

[2020-06-21 17:31] tayden commented on #2274
Based on the stack-trace above though, this movement off of the cpu and onto the cuda device doesn't seem to be happening. I'll try to post a minimal example using a metric as an attribute of a lightning module soon. The stacktrace is from a module though that uses the above TverskyLossMetric code, which also calls `super().__init()`.

[2020-06-21 18:06] Laksh1997 commented on #2303
Have you tried to load on CPU?

[2020-06-21 19:30] Podidiving opened #2308 "How to make inference right"
Hello everyone. I'm new to pytorch-lightning, but already excited with this framework. It's very convenient to train my models using lightning. Now my usecase is: I have trained my model and want to do inference on my test data and get results (for example, in csv format). I'd like to do my inference pytorch-lightning-way. What is the best practice to do it?

### Before asking:
1. search the issue

[2020-06-21 19:54] #2300 closed

[2020-06-21 20:02] Geeks-Sid commented on #2303
Can you put the error?

[2020-06-21 20:02] Geeks-Sid opened #2309 "Issue with scheduler referencing objects"
## 🐛 Bug
Scheduler not working properly with optimizer
Optimizer used: [Adam](https://pytorch.org/docs/stable/optim.html#torch.optim.Adam)
Scheduler used: [CosineAnnealingWarmRestarts]( https://pytorch.org/docs/stable/optim.html#torch.optim.lr_scheduler.CosineAnnealingWarmRestarts)

[code]
### To Reproduce

Steps to reproduce the behavior:
Train a lightning network with setting configure_optimizer

[2020-06-21 20:16] ArthDh commented on #2303
`RuntimeError: Could not run 'aten::empty_strided' with arguments from the 'XLATensorId' backend. 'aten::empty_strided' is only available for these backends: [CPUTensorId, CUDATensorId, BackendSelect, VariableTensorId].`

[2020-06-21 20:20] ArthDh commented on #2303
@Laksh1997 I tried, it still gives the RuntimeError

[2020-06-21 20:23] Geeks-Sid commented on #2303
This looks like a PyTorch Issue and [this](https://github.com/pytorch/pytorch/issues/33152) looks something similar. Your code looks fine, someone senior should take a look I guess. @Borda

[2020-06-21 20:23] rohitgr7 commented on #2309
Can you check if apex is installed correctly if you are using it?
Similar issues:
https://github.com/NVIDIA/apex/issues/552
https://github.com/bshall/ZeroSpeech/issues/4

[2020-06-21 22:46] jeff-regier opened #2310 "how to train a network that doesn't require any training data"
The Wake-Sleep algorithm doesn't require any data during the sleep phase (effectively it generates it's own data). pytorch-lightning, however, appears to require a `train_dataloader()` method.

The only way I have to make pytorch-lightning run at all (for this admitted unusual case) is to specify some dummy dataset in `train_dataloader`, and then to ignore the data that gets passed to `training_st

[2020-06-21 23:44] drozzy opened #2311 "overfit_batches doesn't work"
When I try to use overfit_batches:
https://pytorch-lightning.readthedocs.io/en/latest/debugging.html#make-model-overfit-on-subset-of-data

[code]
my code fails with:
[code]

P.S.: I also tried setting `limit_val_batches=0.09090909090909091`. Same error.

[2020-06-21 23:47] pvnieo commented on #2311
Did you check if the length of your dataloader (how many iteration it has) is different than 0?

[2020-06-21 23:49] drozzy commented on #2311
Not sure what you mean, but I am able to train the regular way... without the `overfit_batches` setting.

[2020-06-21 23:50] pvnieo commented on #2311
Does the validation step of your model goes without any problem?

[2020-06-21 23:56] drozzy commented on #2311
Oh yeah.

[2020-06-22 00:57] PC09 opened #2312 "GPU out of memory error after few batches"
I am trying to train a complex model involving multiple convolutions. Since my own implementation was very slow (taking ~2 hours for an epoch which increased further after a few epochs), I tried changing my code to incorporate lightning module. With lightning, I'm getting a CUDA OOM after 1/3rd of the total no of batches being processed. Since the library handles .to and device calls internally, I

[2020-06-22 04:25] shijianjian commented on #2189
I think the easiest way is to:
[code]
It will end this line and start a new tqdm line.

[2020-06-22 07:34] justusschock commented on #2274
[code]

Unfortunately I could also reproduce this behaviour for `LightningModule`s. So with nested modules only the device (and type) of the main model is updated, but not on the inner models.

[2020-06-22 10:12] ttumiel opened #2313 "A simple logger for notebooks or repl"
## 🚀 Feature

A basic logger that can display results in a table in the repl or in a notebook as the network trains and saves the results to a csv file.

### Motivation

A lightweight logger is useful for environments where you might not have port access or for interactive experimentation.

### Pitch

I created a logger at this gist that does this: https://gist.github.com/ttumiel/32e6a73d206f4df55

[2020-06-22 10:32] SkafteNicki commented on #2274
I guess this can be fixed by introducing a buffer to each metric, which is a feature we need to implement regardless of this problem if we want to accumulate stats over multiple batches. For now, simply changing the base class to something like:
[code]
Should work.

[2020-06-22 12:59] digitalillusions opened #2314 "Breaking compatibility with custom datatypes implementing `.to`"
## 🚀 Feature

Bring back compatibility for custom datatypes in collections implementing `.to` for transferring data.

### Motivation

I am using Pytorch Lightning together with Pytorch Geometric. Pytorch Geometric implements several custom datatypes and dataloaders which is really useful for geometric deep learning. Everything worked well with pytorch lightning 0.7.6, as the custom datatypes imple

[2020-06-22 13:25] elias-ramzi opened #2315 "Bug in average_precision Metric"
## 🐛 Bug

Hi everyone, I encountered a bug when using the average_precision metric (pytorch_lightning.metrics.functional.classification). It yields incorrect results (negative ones).

There seems to be a missing parenthesis in the code here :

https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/metrics/functional/classification.py#L847

It works when corrected as :

[2020-06-22 13:36] yukw777 commented on #2275
@williamFalcon @Borda it seems like this is related to the hparams deprecation work you guys did? I thought we pickled the init arguments though... why wouldn't `fancy_thing` get pickled from the example?

[2020-06-22 14:00] baalliso opened #2316 "ReduceLROnPlateau scheduler, checking multiple times per epoch"
I'm training a model on a very large amount of data, where we evaluate multiple times per epoch. The best performing and most general learning rate scheduler for our domain is the ReduceLROnPlateau scheduler.

I'd like to use Lightning to allow relatively simple multi-gpu training. However, it looks like when you use the ReduceLROnPlateau scheduler, you can either only evaluate at the end of an ep

[2020-06-22 14:58] InCogNiTo124 commented on #2315
I'd like to fix it

[2020-06-22 15:20] edenlightning commented on #1762
Hey! This looks great! Want to pend us a PR adding your example?

[2020-06-22 15:36] SkafteNicki commented on #2316
It was discussed here:
https://github.com/PyTorchLightning/pytorch-lightning/issues/1156

Conclusion:
Set `val_check_interval` to how often you want to evaluate (lets say every 50 step)
`trainer = Trainer(val_check_interval=50)`
Initialize scheduler with the frequency argument. It should be a **larger** number than your validation frequency:
[code]
This will run validation loop every 50 step and c

[2020-06-22 16:34] mrm8488 commented on #2267
QUICK FIX: if your are training your model on a single GPU, set:
[code]

[2020-06-22 16:46] kumuji opened #2317 "Logging on slurm stopped working"
## 🐛 Bug

Logging and checkpoint saving stopped working for me when I run experiments via slurm system.
I am using `log` keys in return functions: `training_epoch_end/validation_epoch_end`.
Version 0.7.6 works.

### To Reproduce

Steps to reproduce the behaviour:

1. Define Tensorboard logger
2. Run training using slurm system `sbatch ...`
3. No logs.

#### Code sample

### Expected behaviour

###

[2020-06-22 17:26] Laksh1997 commented on #2299
Response from wandb:

[code]

[2020-06-22 18:22] elias-ramzi commented on #2315
Hi, I have already created a branch for the PR !

[2020-06-22 18:35] kreid415 opened #2318 "Using s3 backed for Mlflow logger fails"
## 🐛 Bug
MLflow logger support for s3 URI's. It is already supported by MLflow 1.9.0, https://www.mlflow.org/docs/latest/tracking.html#amazon-s3, but passing an s3 URI to the logger's tracking_uri parameter fails.

### To Reproduce

Steps to reproduce the behavior:

1. init a lighting_module and a trainer.
2. init a mlflow_logger with an s3 URI set for 'tracking_uri'.
3. run the trainer

`mlflow.t

[2020-06-22 19:28] Ceceu commented on #807
Friends,

I did something like @lkhphuc:

- config.yaml

[code]

- entry point

[code]

- LightningModule
[code]
But I'm getting the fowlling error:

[code]

[code]

[2020-06-22 20:04] rohitgr7 commented on #2311
can you check the value of `len(valid_dataloader)`??

[2020-06-22 20:10] edenlightning commented on #2315
Thanks for the issue and the fix! @InCogNiTo124 Just saying- there are many other open issues if you want to take a stab at :)

[2020-06-22 21:08] williamFalcon commented on #807
awesome this is great! mind adding a tutorial to the docs on this? (under hyperparameters)

[2020-06-22 21:09] williamFalcon commented on #807
the problem here is that you always have to list out trainer args.

[code]

the above will enable all arguments in argparse

[2020-06-22 21:12] mmiakashs opened #2320 "Partially missing training_step outputs in training_epoch_end"
**Learning Model:** the model consists of two branches: **teacher and student**. Two losses have been used to train two branches of the learning model using two optimizers.

**ISSUE:** In the **`training_step`**, I produced two set of metrics outputs for teacher (_optimizer_idx=0_) and student (_optimizer_idx=1_) branches (teacher: `{loss,log:{acc, f1}}` and student: `{loss,log:{acc,f1,precision}}

[2020-06-22 21:35] riklopfer commented on #1658
@daden-ms you might be able to use this Trainer flag https://pytorch-lightning.readthedocs.io/en/latest/trainer.html#val-check-interval

[2020-06-22 21:52] Kshitij09 commented on #2311
I've also tried using `overfit_batches` on MNIST dataset and it didn't work. The training continues for 1000 epochs and stops (hitting `max_epochs`). I observed the loss fluctuating around 0.1 to 0.2 all the time whereas, in actual training, my model reached `train_loss=0.02` in just 4 epochs.

[2020-06-22 22:21] Ceceu commented on #807
Any direction in this issue?

[2020-06-22 22:57] mmiakashs commented on #2320
I dig the PL training_loop, may be I found a possible issue. In the `run_training_batch` method in `training_loop.py`, see the following two lines:
[code]
It seems to me that the `batch_output` of the last split_batch and last opt_idx iteration is just returned. Shouldn't we collect all the split batch and optimizers iteration batch_output
just like the `all_log_metrics`?

Moreover, in the run_tra

[2020-06-22 23:31] yukw777 opened #2322 "Add argparse + hydra tutorial to the docs"
awesome this is great! mind adding a tutorial to the docs on this? (under hyperparameters)

_Originally posted by @williamFalcon in https://github.com/PyTorchLightning/pytorch-lightning/issues/807#issuecomment-647770135_

[2020-06-22 23:33] yukw777 commented on #2322
it seems like I don't have permission to assign this to me, so please assign this to me whenever you get a chance!

[2020-06-22 23:38] mmiakashs commented on #2320
I debug a bit I think the problem is with the multi optimizer only the last iteration (split batch and optimizer iteration) output is passed. If you think this is the problem I can resolve and request a pull request. Thanks

[2020-06-23 00:26] sebamenabar commented on #2311
try using a slightly bigger overfit_batches (e.g. `overfit_batches=0.1`) or number of batches (e.g. `overfit_batches=10`)

Probably the training get's stuck in local optima.

[2020-06-23 00:33] sebamenabar opened #2325 "Using `overfit_batches` with multiple expected validation dataloaders can cause problems"
As the title says, my `validation_epoch_end` expects outputs from 2 dataloaders, but when using overfit_batches it only receives 1, this causes my code to crash.
The most simple solution I can think of is to include the `number_of_validation_dataloaders` in the `validation_epoch_end` method to handle more easily this situation.

[2020-06-23 02:04] mmiakashs opened #2326 "Missing training_step outputs in training_epoch_end"
bugfix of this issue: https://github.com/PyTorchLightning/pytorch-lightning/issues/2320

[2020-06-23 02:18] mmiakashs commented on #2326
I want to assign it to me. I think I fix this issue.

[2020-06-23 05:06] Borda commented on #2322
@yukw777 neither we can do an arbitrary assignment, they have to comment on an issue so we can assign them the task afterwards :rabbit:
cc: @Ceceu @omry

[2020-06-23 05:23] #2326 closed

[2020-06-23 05:35] armancohan commented on #2254
Still having the `Default process group is not initialized` issue when using trainer.test

[2020-06-23 05:38] omry commented on #2322
Hi Peter.
Please be aware that by using the compose API as an alternative to hydra.main() you are forfeiting some important features of Hydra. Here is a partial list:

1. Command line integration
2. Tab completion
3. Help help integration (--help).
4. Multirun run support (Built in basic sweeper, as well as new Hyper parameter optimization plugins like the [Ax](https://hydra.cc/docs/next/plugins/a

[2020-06-23 06:30] wukailu commented on #2254
I still have this bug as well. One temporary solution is creating a new single GPU trainer to do the test.

Like

[code]

[2020-06-23 07:38] rohitgr7 commented on #2311
`overfit_batches` just reduces your num_batches so that it can overfit your model on a small batch to check whether the model can adapt your dataset or not. It will still run for `n` epochs even if you set `overfit_batches` to any value.

[2020-06-23 09:35] magic282 commented on #375
Also need the feature as @L1AN0 . Same with this need (https://github.com/PyTorchLightning/pytorch-lightning/issues/29#issuecomment-611006872).

Basically, I need to change the optimizer after 5 epochs. If I define two optimizers, the training_step will be executed two times with two different optimizer_idxs. But this is not needed. I only need to call the training_step once for each step since th

[2020-06-23 10:13] Geeks-Sid commented on #2312
Are you sure you are not doing a .item call?

[2020-06-23 11:40] brucemuller commented on #2151
I'm also having issues. It seems to be only using the default values regardless and also the default values do not cause any early stopping to occur.

[2020-06-23 12:55] davinnovation opened #2329 "Community Examples : Pytorch lightning + MS NNI"
## 🚀 Feature

### Motivation

Hi. Pytorch lightning team! I really loving to use PL in my recent projects, and I wrote some example for using omegaconf + Pytorch lightning + Microsoft NNI

https://github.com/davinnovation/pytorch-boilerplate

I would appreciate if it could be added as part of community examples.

### Pitch

This Repo guides to use Pytorch lightning project under docker container.

[2020-06-23 14:15] yukw777 commented on #2322
amazing @omry! that should definitely be the way to go. one of the biggest reasons i went with the python api route is that hydra manages the output directory structure so it was messy when i used it with pytorch lightning as it also manages its own output directory structure. can hydra step away from managing the directory structure in 1.0.0?

[2020-06-23 14:20] sebamenabar commented on #2317
Hi, I think I'm having the same problem, running locally logs work correctly (I'm sending to comet), but when I run on a cluster through slurm using `sbatch` or `srun`, the experiments in comet are created, but none of the logging works.

[2020-06-23 14:44] stllfe opened #2330 "`use_amp` and multiple optimizers bug"
## 🐛 Bug
Faced this issue when tried to use mixed precision with my two-head model which has two pairs of optimizer & scheduler. Without `use_amp` everything works fine.

With it enabled, I get:
[code]
My investigation has ended up here:
[code]
Obviously, next optimizer will get scheduler as an actual non-dict object as it was reassigned on the first iteration...

### To Reproduce

Steps to reprod

[2020-06-23 14:48] soulhi-vz opened #2331 "RuntimeError: element 0 of tensors does not require grad and does not have a grad_fn"
Hi,

Got RuntimeError: element 0 of tensors does not require grad and does not have a grad_fn

Below details:
[code]
Got the following error:
[code]

[2020-06-23 15:17] Borda commented on #2329
Nice, mind send a PR? :rabbit:
cc: @edenlightning

[2020-06-23 15:17] #2320 closed

[2020-06-23 15:20] #2058 closed

[2020-06-23 15:21] #1899 closed

[2020-06-23 15:40] omry commented on #2322
@yukw777, nope. this is not something I am planning to do.
However, you can turn it off by changing hydra.run.dir to ".". you can also now [disable the generation of the .hydra subdir](https://hydra.cc/docs/next/tutorials/basic/running_your_app/working_directory#disabling-output-subdir).

Latest PL already have better support for Hydra working directory change. You see an issue now please file an

[2020-06-23 16:06] #1246 closed

[2020-06-23 16:14] awaelchli commented on #2314
This should definitely work. It was not my intention to break it and I thought I had even a test for it. I will look into this and also converting the issue to a bug report.

[2020-06-23 16:25] teboozas opened #2332 "How to suppress messages from Trainer class?"
Hi,

How can I suppress messages from Trainer class
alarming GPU and TPU resources? like

![image](https://user-images.githubusercontent.com/40536602/85429353-931dc380-b5b9-11ea-8ffc-2c8c460b4141.png)

[2020-06-23 16:55] awaelchli commented on #2314
Have identified the problem and fix is in the works... Silly oversight on my part.

Regarding the warning, not sure. Is it not enough to point out in the docs that anything not a tensor (or .to() movable) will be left untouched unless the hook is implemented?

[2020-06-23 17:00] awaelchli commented on #2310
Why is it not possible for you to write a Dataset class that generates the data? You mention you already have code for generating the data, so why not wrap it into a Dataset class?

[2020-06-23 17:02] awaelchli commented on #2296
@rohitgr7  A PR for this was proposed here: #2107

[2020-06-23 17:04] awaelchli commented on #2291
Exactly, the first bar contains both the count of training and validation data.

[2020-06-23 17:04] #2291 closed

[2020-06-23 17:07] awaelchli commented on #2290
@ternaus did you observe this with the e.g. gpu_template.py in pl_examples folder?
Also the issue you linked is unrelated, did you mean another one?

[2020-06-23 17:09] Polyphenolx commented on #630
Following up on this: The pickling fix was merged into the master branch of MLFlow a couple days ago (see the bug mention above). Training using DDP is now functional on MLFLow versions installed from master, but it may take them some time to release the fix to PyPi

[2020-06-23 17:10] awaelchli commented on #2286
Hi, I don't understand. Does it throw an error or does it display nothing?
I don't think we can very accurately define the "input shape" for anything other than tensors.
For this reason we exclude things like dicts from the overview, because it is not very practical to visualize this in a table.

[2020-06-23 17:12] awaelchli commented on #2278
You might want to try after this #1504 is merged.

[2020-06-23 17:18] ExpectationMax commented on #2317
I think this might be due to an issue due to how the rank id is set, I'm not totally sure, but it could have occurred here: https://github.com/PyTorchLightning/pytorch-lightning/pull/2231
I guess it's due to a malfunction with `rank_zero_only`, sucht that the gated code is never executed.
See also comment in https://github.com/PyTorchLightning/pytorch-lightning/issues/2278#issuecomment-646997797

[2020-06-23 17:28] rohitgr7 commented on #2331
Try: `loss = mse(decoded, x)`.

[2020-06-23 17:36] soulhi-vz commented on #2331
with "loss = mse(decoded, x)"
same issue: RuntimeError: element 0 of tensors does not require grad and does not have a grad_fn

[2020-06-23 17:47] rohitgr7 commented on #2331
Can you print `decoded.requires_grad` after `self.forward(x)` in training_step? See whether it's `True` or `False`.

[2020-06-23 17:51] soulhi-vz commented on #2331
Hi Rohit,
Got:
decoded.requires_grad:
False

[2020-06-23 17:54] kumuji commented on #2317
If you want a quick fix, just remove this [line](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/utilities/distributed.py#L11). (Dirty solution)

[2020-06-23 18:01] rohitgr7 commented on #2331
That means no problem in the loss.backward() as of now. Can you do the same after `decoded = self.layer_d_2(x)`? Or share a colab notebook?

[2020-06-23 18:07] soulhi-vz commented on #2331
decoded.requires_grad after layer_d_2:
False
decoded.requires_grad:
False

[2020-06-23 18:08] Borda commented on #2290
with the Parity tests, we have not observed any slowdown compare to vanilla PyTorch, mind share example?

[2020-06-23 18:10] digitalillusions commented on #2314
Awesome, thank you!

That's a good point, in that case I think the docs should suffice. Though maybe the compatible data types can be mentioned in the Introduction Guide? Reading through the Introduction Guide I found no mention of this anywhere, and I think it may fit well into the Data Section. Possibly after the *Models defined by data* section, there could be a section which talks briefly abou

[2020-06-23 18:46] jeff-regier commented on #2310
I had been concerned that the Dataset class would shuffle the data unnecessarily, thus slowing down training. But an `IterableDataset` seems to work: the `__iter__` method is overridden to return an iterator that yields a whole batch at once. Maybe this is the best way.

[2020-06-23 18:46] #2310 closed

[2020-06-23 18:53] awaelchli commented on #2310
No, that is simply not true. The Dataloader is doing the batching and shuffling, not the dataset. Besides, shuffling does not slow training down. If your dataset has an undefined or infinite length, use the IterableDataset, otherwise use the regular Dataset class. Once you have that, just pass it to the Dataloader. All of this is regular PyTorch :)

[2020-06-23 18:54] yukw777 commented on #2322
@omry ah i see. reading the doc, you mean setting `hydra.output_subdir` to `null` right?

Also could you give me some details on how the latest PL provides "better support" for Hydra's working directory change?

[2020-06-23 18:56] Valentyn1997 commented on #2296
I am getting an error from MlFlowLogger, because `self.logger.log_hyperparams(ref_model.hparams)` stays before `self.run_evaluation(test_mode=True)`. Consequently, mlflow throws an error due to logging hyperparams twice

[2020-06-23 19:07] moi90 commented on #1462
Did you find a solution to your problem?

[2020-06-23 19:22] omry commented on #2322
1. Yes.
2. Hydra provides an [API](https://hydra.cc/docs/next/tutorials/basic/running_your_app/working_directory/#original-working-directory) to convert a relative path to be absolute taking the original working directory into account.
PL is [using](https://github.com/PyTorchLightning/pytorch-lightning/blob/f278ac42c81fc344fe1cb673877b8a9dfca9c9b5/pytorch_lightning/trainer/distrib_data_parallel.py

[2020-06-23 19:27] lezwon commented on #1916
@jeremyjordan is there an update on this? I was facing this issue while writing CLI tests for #2094. I can continue with those tests once this issue is fixed.

[2020-06-23 19:33] lezwon commented on #2148
@ipyffor I cant access the colab file anymore. are you still facing the issue?

[2020-06-23 19:38] rohitgr7 commented on #2331
`decoded.requires_grad` should be `True`. Not sure why it's happening. Mind share a colab notebook??

[2020-06-23 19:57] armancohan commented on #2254
Right, I know it works on single gpu. I have a large test set and ideally want faster inference using multiple gpus.

[2020-06-23 19:58] jeremyjordan commented on #2278
Can you check to see if the weights are being saved under `trainer.weights_save_path`?
https://github.com/PyTorchLightning/pytorch-lightning/blob/f278ac42c81fc344fe1cb673877b8a9dfca9c9b5/pytorch_lightning/trainer/training_io.py#L224

My guess is that they're being saved but for some reason `hpc_save` doesn't save to the normal checkpoint directory.

[2020-06-23 20:32] soulhi-vz commented on #2331
Hi Rohit,
I am not using colab. Here the rest of the code:

def main(hparams) -> None:
    # initialize the DQNLightning
    model = Autoencoder(hparams)
    print("Model")
    print(model)
    print("hparam")
    print(hparams)
    #print("params list")
    #for parameter in model.parameters():
    #    print(parameter)
    trainer = pl.Trainer(
        fast_dev_run = True
        #gpus=10,

[2020-06-23 20:38] awaelchli commented on #2332
You could increase the logging level from INFO to WARNING or ERROR, for example like this.

[code]
Put this somewhere at the beginning of your script or in `__init__.py`.

[2020-06-23 20:59] filaPro opened #2333 "AttributeError: 'LightningDataParallel' object has no attribute 'teardown'"
## 🐛 Bug

### To Reproduce

Steps to reproduce the behavior:

    trainer = pytorch_lightning.Trainer(
        gpus=2,
        distributed_backend='dp'
    )
    model = BaseModel.load_from_checkpoint(...)
    trainer.test(model)

Traceback (most recent call last):
  File "run_kitti.py", line 351, in <module>
    trainer.test(model)
  File "/opt/conda/lib/python3.7/site-packages/pytorch_lightning/

[2020-06-23 21:05] dscarmo opened #2334 "LightningModule.load_from_checkpoint not working with .ckpt from 0.7.6"
## 🐛 Bug

Trying to use an old experiment .ckpt (generated with ModelCheckpoint(monitor="val_loss", mode="min') in 0.7.6) results in an error when trying to load.

### To Reproduce

Steps to reproduce the behavior:

1. Train something with 0.7.6 and save checkpoint with the checkpoint callback
2. Try to load checkpoint with 0.8.1

[code]

Here is a Colab notebook reproducing the issue: https://col

[2020-06-23 21:08] soulhi-vz commented on #2331
Hi Rohit,
After restarting the kernel, the issue went away. Thanks for your help. Will close the issue now.
/Said

[2020-06-23 21:08] #2331 closed

[2020-06-23 21:32] awaelchli commented on #2305
I think it is not meant to compute this accuracy over the minibatch, but rather over the whole data in e.g. validation_epoch_end, and then it should not happen that all targets are 0. If you still want it, you can pass in e.g. num_classes=1 and then the error will not be raised. That's my understanding.
@justusschock correct me if I'm wrong :)

[2020-06-23 22:18] awaelchli commented on #2314
@digitalillusions would you like to review the fix?
Also, since the docs were your idea, would you like to make a separate PR with your docs suggestion to the intro guide?

[2020-06-23 22:25] digitalillusions commented on #2314
Sure thing, I think I'll have time to review and to test it tomorrow.
I can also try my hand at a pull request for the docs, though I'm still fairly new to lightning.

[2020-06-23 23:46] Ceceu opened #2337 "Multi GPU Training: No kernel image is available for execution on the device"
I started using PL thinking about the ease of training my model using multiple GPUs. I'm basically using some Transformers from [Huggingface](https://github.com/huggingface/transformers).

- LightningModule

[code]
- entry point:

[code]

- nvidia-smi

[code]

But I'm getting the following error:

[code]

I consider myself a beginner in Deep Learning, so it would be of great help if someone could

[2020-06-24 00:50] AlexanderYogurt commented on #2333
+1 on this issue.

[2020-06-24 01:06] davinnovation commented on #2329
Sure!

[2020-06-24 02:11] hjalmarlucius commented on #2286
Hi, currently the model is run with `input_` as an input. If the model expects a tensor of INTs then it will crash if floats come. I encountered this issue when pretraining an ALBERT-like model. This receives word embeddings as inputs, which have to be integers as they're going into a `nn.Embedding`

[2020-06-24 02:16] williamFalcon commented on #2299
looking at this... so it looks to be specifically wb related?

[2020-06-24 02:17] williamFalcon commented on #2299
can you put up a colab that creates this issue?

[2020-06-24 02:27] desmondchchan opened #2343 "Error occurs when overriding optimizer_step and using precision=16"
## 🐛 Bug

### To Reproduce

Steps to reproduce the behavior:

1. set precision=16 in Trainer
2. add optimizer_step method to LightningModule

#### Code sample

[code]

#### Error
[code]
### Expected behavior

### Environment

* CUDA:
        - GPU:
                - Tesla T4
        - available:         True
        - version:           10.2
* Packages:
        - numpy:             1.18.5

[2020-06-24 02:41] desmondchchan opened #2344 "max_steps does not work if resume_from_checkpoint is specified"
## 🐛 Bug

max_steps does not work if resume_from_checkpoint is specified

### To Reproduce

Steps to reproduce the behavior:

1. Specify max_steps
2. Specify resume_from_checkpoint

#### Code sample

[code]

### Expected behavior
Training stops at max_steps

### Environment
* CUDA:
        - GPU:
                - Tesla T4
        - available:         True
        - version:           10.2
* Packa

[2020-06-24 03:41] #2314 closed

[2020-06-24 03:43] williamFalcon commented on #2337
This is a PyTorch issue:
https://github.com/pytorch/pytorch/issues/31285

[2020-06-24 03:43] #2337 closed

[2020-06-24 03:44] williamFalcon commented on #2332
@awaelchli can we add this to docs?

[2020-06-24 03:44] #2332 closed

[2020-06-24 03:47] williamFalcon commented on #2302
ummm...not sure if our ddp will work with this...
if your cluster is managed by SLURM, you should submit your script that way.
Lightning supports this out of the box
https://pytorch-lightning.readthedocs.io/en/stable/slurm.html

[2020-06-24 03:50] williamFalcon commented on #2306
ddp2 on a single machine is equivalent to DP. Please use that instead.

[2020-06-24 03:50] #2306 closed

[2020-06-24 03:51] williamFalcon commented on #2317
Fixed by #2339

[2020-06-24 03:51] #2317 closed

[2020-06-24 03:53] yukw777 commented on #2275
Ahh I think I know what’s going on.. would it be OK for us to accept extra args and kwargs that’d be passed into the model init function in test()?

[2020-06-24 03:56] williamFalcon commented on #2311
@Kshitij09 you also need to adjust your learning rate... otherwise it might get stuck in a local min (likely lower your lr)

[2020-06-24 03:58] williamFalcon commented on #2312
can you post a colab example?
but you probably need to make your batch size smaller... we have tests to ensure we don't have memory leaks... and that we get the exact same results as PyTorch

[2020-06-24 04:09] desmondchchan commented on #2344
I think the global_step is restored from the checkpoint. The max_steps flag only works when max_steps > global_step of the model. If max_steps < global_step, the training will go on until max_epoch.

Also, is there an option to train the model for a specified number of steps?

[2020-06-24 04:29] david-waterworth opened #2345 "save_hyperparameters incorrect documentation"
## 📚 Documentation

The documentation has examples

`self.save_hyperparameters(['layer_1_dim', 'learning_rate'])`

This fails as due to type list not being supported as a hyperparameter. However, looking at the source for `save_hyperparameters` it appears that the correct usage is

`self.save_hyperparameters('layer_1_dim', 'learning_rate')`

As an aside I also do have a list as a hyperparameter fo

[2020-06-24 05:49] justusschock commented on #2305
almost @awaelchli :)
@tridao when you have only one class, in your targets your sups will be zero for the other class and you will divide by zero since accuracy is generally defined by sum(tps)/sum(sups).
Since we don't want to divide by zero we explicitly excluded that case.

If you set num_classes to 1, you bypass that, but in some cases you may end up with zero division error / NaN

[2020-06-24 07:43] Borda commented on #2278
is this fixed by #2341?

[2020-06-24 08:02] ydcjeff commented on #1301
I would like to take this if there is no one doing it right now.

[2020-06-24 08:36] justusschock commented on #1301
@ydcjeff This would be great. When you have questions or a working implementation just ping me (either on GitHub or in our slack)

[2020-06-24 08:48] Laksh1997 commented on #2299
@williamFalcon Yeah it looks like it. I have tried to contact the wandb team but they've given me limited response so far. Sure, let me put together a basic colab.

[2020-06-24 09:28] XiaomoWu commented on #2333
Also confirm this issue.

[2020-06-24 09:52] wasserth opened #2346 "Understanding Metrics + DDP"
To my understanding the new metrics package aggregates the metrics between the different nodes if using DDP. So if I use DDP with 2 GPUs then `validation_epoch_end` will be called 2 times, each time on a subset of the validation data. If I calculate the F1 score for example this will give me 2 different scores.
Now if I use `from pytorch_lightning.metrics.functional import f1_score` then this will

[2020-06-24 09:58] williamFalcon commented on #2278
yes

[2020-06-24 09:58] #2278 closed

[2020-06-24 10:06] djordjemiladinovic commented on #2302
Unfortunately, this one is managed by [https://research.cs.wisc.edu/htcondor/](htcondor) Do you think it would be easy to re-design interface so you can call one script only as described above? I could have a look at this myself.

[2020-06-24 10:09] SkafteNicki commented on #2330
@williamFalcon this seems easy to fix (move the `scheduler = scheduler['scheduler']` part to the outer loop), and we could also fix issue https://github.com/PyTorchLightning/pytorch-lightning/issues/2078 while fixing this function

[2020-06-24 10:17] williamFalcon commented on #2302
just set the environment flags and call the script without popen and set ddp backend.  ddp does something very similar, so you are just duplicating work

[2020-06-24 10:22] williamFalcon commented on #2302
if you want, you can submit a PR to support condor. just need to figure out what the matching flags are vs SLURM

[2020-06-24 10:39] djordjemiladinovic commented on #2302
So regarding the approach above: I was expecting something similar was implemented in the library already, that is why I am surprised my code wouldn't work. Isn't Popen more appropriate than call since it's non-blocking ? ..that is, you want to run several threads in parallel. The "backend" is set to "ddp" in the main script.

Yes, I could submit PR for condor, but it still feels like there could

[2020-06-24 11:04] xinfangliu commented on #458
I have the same problem, when mem in gpu0 is not enough, Cuda out of memory error occurs

[2020-06-24 12:04] awaelchli commented on #1465
Your model/algorithm might just be sensitive to the initialization. I just tried the template model from this repo (gpu_template.py) and tried different initializations in the `__init__()` of the template model, e.g.,
[code]
and it seems all of the methods I tried are worse than the default one used by PyTorch but if I wait long enough, the loss goes down to zero.
Feel free to re-open if you find

[2020-06-24 12:04] #1465 closed

[2020-06-24 12:34] prockenschaub opened #2347 "Error when importing metrics on Windows without DDP support"
## 🐛 Bug

When loading the new metrics the following AttributeError is raised:

`AttributeError: module 'torch.distributed' has no attribute 'ReduceOp'`.

The problem is the use of `torch.distributed.ReduceOp` in the type hints and some functions of `pytorch_lightning.metrics.converters.py`.

A similar (identical?) issue was discussed on the [NVIDIA/apex github](https://github.com/NVIDIA/apex/issu

[2020-06-24 13:09] Borda commented on #2346
mind have look @justusschock @SkafteNicki ^^

[2020-06-24 13:10] Borda commented on #2345
true, @david-waterworth mind send a PR?

[2020-06-24 13:11] awaelchli commented on #2347
I also got this when running tests locally. Your suggestion sounds good to me.

[2020-06-24 13:32] SkafteNicki commented on #2346
So the functional interface does not come with ddp support, these are just native torch implementations of the respective metrics. The modular interface comes with ddp support. Here you got two options, either the native or sklearn backend. For `f1` score you can do:
[code]
then in the init of your model you initialize these as any other module: `self.f1_metric = F1()`
and then in `validation_epoc

[2020-06-24 13:34] Kshitij09 commented on #2311
@rohitgr7 so do I need to couple it with `early_stop_callback` ?

[2020-06-24 13:36] Kshitij09 commented on #2311
@williamFalcon yes I've also incorporated `ReduceLROnPlateau` with this which dropped lr upto `1e-8/9` but didn't stop training

[2020-06-24 13:37] MRI000000 commented on #2133
I'm also having this same issue on the latest version too!

[2020-06-24 13:38] MRI000000 commented on #2133
I am also troubled by this question

[2020-06-24 13:38] awaelchli commented on #2286
okay I see, so we should not change the dtype as given by example_input_array.
I can't recall why I added this conversion, maybe  it was because of amp and the half conversions. I'll have a closer look, thanks for bringing it up.

[2020-06-24 13:39] awaelchli commented on #2286
as a workaround until it is fixed, cast your input to int before feeding to the embedding layer, or don't use the example_input_array.

[2020-06-24 13:56] #1386 closed

[2020-06-24 13:57] awaelchli commented on #1386
do we need to do anything more? or can it be closed?

[2020-06-24 14:49] awaelchli commented on #2345
isn't it supposed to be passed as keyword arguments?
`self.save_hyperparameters(layer_1_dim=layer_1_dim, learning_rate=learning_rate)`

[2020-06-24 15:01] Ceceu commented on #2337
Maybe it helps someone with the same problem.
Just use the PyTorch Docker image available on [Dockerhub](https://hub.docker.com/r/pytorch/pytorch/tags).

[2020-06-24 15:18] Borda commented on #2345
that was not implemented as it was quite dangerous...

[2020-06-24 15:22] Ceceu commented on #2337
After resolving the above issue, I still have the following error:

[code]

Is this happening because I am using pre-trained Bert from Huggingface which is not implemented as `LightningModule`? And for that reason is not been allocated in GPU?

**Note**: the model runs perfectly when not using GPU.

[2020-06-24 16:02] #1977 closed

[2020-06-24 16:10] versatran01 commented on #2308
My understanding is that you just load the module and call freeze() on it and use it as any nn.Module

[2020-06-24 16:29] ZhaofengWu opened #2350 "`transfer_batch_to_device` doesn't work under DP"
## 🐛 Bug

This is discussed under #1756 and I'm opening a separate issue here for visibility.

In the training loop, for DP/DDP/DDP2, we do not move the data to devices ourselves, but instead use the default scatter to transfer data. This results in `transfer_batch_to_device` not being called.

https://github.com/PyTorchLightning/pytorch-lightning/blob/16a7326e5259a3cdd20a508c34a0f84806d88f8e/pyto

[2020-06-24 16:49] vanpelt commented on #2299
Hey guys, we can look into this.  @Laksh1997 can you share a basic colab to reproduce?

[2020-06-24 17:03] nischal-sanil commented on #2238
Hi,

I am currently facing this issue, is there any work around that I could do to resolve this?

[2020-06-24 18:20] wasserth commented on #2346
I see. Thank you!
What would be the best way to aggregate the validation loss across all processes?

[2020-06-24 18:22] Laksh1997 commented on #2299
Hi @vanpelt, thanks! I'm working on a colab right now. Will need to go on a multi GPU machine to confirm error.

I have tried 4 x V100 (p3.8xlarge) and 16 x K80 (p2.16xlarge) and I get the same error on only ddp (but works fine on dp).

[2020-06-24 18:24] williamFalcon commented on #2238
```    trainer.test(model)```

[2020-06-24 18:40] yukw777 commented on #2238
@nischal-sanil could you help me understand the issue better by explaining how you don’t have any models saved?

[2020-06-24 18:48] aced125 commented on #2299
@vanpelt @williamFalcon  Here's a working notebook.

https://colab.research.google.com/drive/1dTgKDU4S8Oy8g9AvXZLEoE5_aDyzBLb_?usp=sharing

To run on multi GPU you will need to copy the code (probs only 150 lines) input a script.

The key things to note is in the Hparams, change your wandb name and project to whatever you want.

Also, remember to turn on multi GPU (set gpus: 4 and distributed_back

[2020-06-24 19:03] nsarang commented on #2297
I think this is the expected behavior. You pass something like `path/to/some_random_name` which doesn't exist. PL considers `some_random_name` as the filename.

[2020-06-24 19:50] rohitgr7 commented on #2308
You don't need to freeze(). Just run with `torch.no_grad()` or set `torch.set_grad_enabled(False)`.

[2020-06-24 20:01] Podidiving commented on #2308
I think, one of the coolest features of lightning is that your don’t need to specify your device (devices)
If you using LightningModule as plain nn.Module you should transfer your model and batches on devices manually, am I right?
So, I have my trained model. I’d like to make inference on test data. I can define test_step and aggregate results in on_test_epoch_end, but I cannot run Trainer without

[2020-06-24 20:08] rohitgr7 commented on #2308
`test_step` and `test_epoch_end` are called with `trainer.test()`. AFAIK, these methods are used just to evaluate your test dataset and not return any logits. If you want to do just this evaluation, you don't have to do the transfer of model or batches. But I think if you want to get the logits from the model you need to do it manually just like a vanilla PyTorch model.

[2020-06-24 20:16] Podidiving commented on #2308
Ok, thanks, didn’t know about `test` method! I think, if you want to make some kind of submission data, you can return logits from `test_step` method in dict object, and then aggregate and save them in `test_epoch_end`

[2020-06-24 20:20] rohitgr7 commented on #2308
yeah, can do that too. Nice thought. :v:

[2020-06-24 20:54] Uroc327 opened #2351 "Model validation code is not called"
## 🐛 Bug

My defined methods for `validation_step` as well as `validation_epoch_end` do not seem to get called.

### To Reproduce

Just call the provided code sample. Python should show the `NotImplementedError`. Instead the model completes 'successfully'.

#### Code sample
[code]

### Expected behavior

Instead, I'd expect the code sample above to fail.

### Environment

[code]

[2020-06-24 20:59] #2178 closed

[2020-06-24 21:10] williamFalcon commented on #2337
sounds like that model hardcoded a device... which makes it hard to run on GPUs. maybe it’s your code though?

@sshleifer any thoughts?

[2020-06-24 21:23] rohitgr7 commented on #2305
@awaelchli Ideally, accuracy should work with a minibatch too so that we can just import it from pl and directly use to track this metric during training or validation for each batch. Also, what's `sups` here @tridao ??

[2020-06-24 21:26] tridao commented on #2305
Yes, this is the issue I'm running into. I'm doing binary classification, and calling accuracy on minibatches. After a while, I'll get a minibatch where the target is all zero, and it errors.
I think this is a common enough situation.

[2020-06-24 21:28] awaelchli commented on #2305
Then the solution is to pass in the number of classes, right?

[2020-06-24 21:34] thepowerfuldeez opened #2352 "Shared memory leak with large dataset and num_workers > 0"
## 🐛 Bug

Hello! I have large train dataset (135000 samples: image paths and additional data in json format, ~500mb json file). When use such large metadata file, one need to set `torch.multiprocessing.set_sharing_strategy('file_system')`

When I use `num_workers > 0` in DataLoader I obviosly use shared memory through Pytorch multiprocessing. It's roughly 0.5gb * 12 workers = 6gb of shared memory

[2020-06-24 21:35] tridao commented on #2305
I don't think there's division by zero.
After removing the `raise RuntimeError` in the accuracy implementation this code works just fine:
[code]
So I'm not seeing the reason for raising error.

[2020-06-24 21:36] thepowerfuldeez commented on #2352
With `num_workers=0` I have no memory leak, but training is 15 times slower.

[2020-06-24 21:41] tridao commented on #2305
Sorry, there's division by zero, but it's handled automatically after taking the mean.
If `reduction='none'` (per class accuracy):
[code]
Maybe the error should only be raised if `reduction='none'`?

[2020-06-24 22:31] #2308 closed

[2020-06-24 23:07] awaelchli commented on #2345
dangerous in what sense? this is just passing in variables with named args, it happens all the time in Python :)

[2020-06-24 23:15] Borda commented on #2345
I think that the point was with creating new instance from checkpoint as with the new mapping your new parameters do not match names in the class init... we do not want to do any deep/recursive frame investigation and moreover when you update any of there parameters/arguments before you call `save_hyperparameters` there is no simple way to do init argument-hparams mapping
[code]

[2020-06-25 00:59] Laksh1997 commented on #2299
@vanpelt  @williamFalcon Update - I just tried this on pytorch 1.6 nightly, and the error persists.

[2020-06-25 02:17] THKIM-CAS opened #2355 "Reproducibility issue."
I am a newbee in using pytorch and pytorch-lightning. My code is to classify the "Sequential" MNIST image, where 4 pixels are fed into the LSTM cell for each time step and one image is processed in 28*28/4 time steps. Since I provide a seed by `pytorch_lightning.utilities.seed.seed_everything`, same result is expected for each training, but I see every different result as below. Could you please h

[2020-06-25 02:34] williamFalcon commented on #2352
so, using this flag `torch.multiprocessing.set_sharing_strategy('file_system')` seems to create a memory leak?
can you create a synthetic dataset (random tensors) on Colab that replicate this?

[2020-06-25 02:36] williamFalcon commented on #2350
Ummm... yeah good point. i'm not sure we can add a hook here. Maybe @awaelchli can look into this

[2020-06-25 02:37] williamFalcon commented on #2343
Please install master and try again?

[2020-06-25 03:11] amitness commented on #2265
@williamFalcon

[2020-06-25 03:23] williamFalcon commented on #2265
good suggestion.
For validation the metrics should just happen on epoch_end. Each val_step should pass the necessary tensors to calculate the "global" metric.

But we have a new way of doing this which is simpler and will be release in the next few weeks

[2020-06-25 04:34] davinnovation commented on #2329
merged. closing this issue

[2020-06-25 04:34] #2329 closed

[2020-06-25 05:39] nischal-sanil commented on #2238
I was running the Trainer with `fast_dev_run` set to True, hence there were no checkpoints. Changing  `trainer.test()` to `trainer.test(model)` has resolved the issue.
Thanks,

[2020-06-25 06:09] amitness commented on #2265
Awesome. Looking forward to it then.

[2020-06-25 06:09] #2265 closed

[2020-06-25 06:14] davinnovation opened #2357 "accuracy metric dosen't support windows"
## 🐛 Bug

Pytorch Metric.Accuracy uses `ReduceOp` from 'torch.distribution' but torch.distributrion doesn't support `windows`
 - https://github.com/pytorch/pytorch/blob/cf8a9b50cacb1702f5855859c657a5358976437b/torch/distributed/__init__.py#L10 : `torch.distributed is available on Linux and MacOS.`

### To Reproduce

Use Metric.Accuracy in Windows environment

#### Code sample

- I use code sample

[2020-06-25 06:41] davinnovation commented on #2355
Hi! I ran the same code what you uploaded, but in my environment works as expected

run shell
[code]

![image](https://user-images.githubusercontent.com/3917185/85668866-3249d480-b6fa-11ea-9487-1e5bc3a07366.png)

can you share more details for reproducing the problem?
- run script (like run shell, command, etc)
- HW details
You can get the script and run it with:
[code]

[2020-06-25 09:13] radao commented on #1595
Little bit of a hack but you can remove it manually by adding the following method in your lightning module:
[code]

[2020-06-25 09:22] desmondchchan commented on #2343
Just installed pytorch-lightning from master. Same issue.
[code]

[2020-06-25 09:26] thepowerfuldeez commented on #2352
You are right, the problem is caused by `file_system` sharing strategy. If I set it to `file_allocator` (default) I got `RuntimeError: received 0 items of ancdata`.

from https://github.com/pytorch/pytorch/issues/13246:
Python Multiprocessing: There is no way of storing arbitrary python objects (even simple lists) in shared memory in Python without triggering copy-on-write behaviour due to the add

[2020-06-25 09:26] #2352 closed

[2020-06-25 09:26] davinnovation commented on #2355
[code]
Tried which same as your env -  except GPU/python3.7.4/TB. Unfortunately, I can't reproduce your problem.  May be code isn't causing the problem, what about run your code in another machine?

[2020-06-25 10:36] SkafteNicki commented on #2357
We are aware of this problem (duplicate of https://github.com/PyTorchLightning/pytorch-lightning/issues/2347), and it will be fixed in the next release

[2020-06-25 10:38] SkafteNicki commented on #2346
Can you elaborate what you mean by aggregate? do you mean to over multiple batches?

[2020-06-25 11:10] Uroc327 commented on #2351
As a note, the validation code is called twice when leaving out the `num_sanity_val_steps=0` parameter. After the two sanity runs, it is not called anymore.

[2020-06-25 11:20] williamFalcon commented on #2355
This is likely something with your environment... make sure you are using conda and install things properly there.

https://github.com/PyTorchLightning/pytorch-lightning/issues/1868

[2020-06-25 11:20] #2355 closed

[2020-06-25 11:45] narain1 opened #2359 "Problem with loading checkpoint of a model with embeddings"
## 🐛 Bug

Unable to load from checkpoint for model with embeddings

#### Code sample

model arch

    class Model(pl.LightningModule):
          def __init__(self, emb_szs):
                super().__init__()
                m = get_base()
                self.enc =  nn.Sequential(*list(m.children())[:-1], nn.Flatten())
                nc = list(m.children())[-1].in_features
                self.h

[2020-06-25 11:57] dscarmo commented on #2359
Are you sure your model class still has "embs"? Have you changed your nn.Module?

[2020-06-25 12:51] dscarmo commented on #2334
Added a Google Colab notebook reproducing the issue.

[2020-06-25 13:21] #2078 closed

[2020-06-25 13:21] #2330 closed

[2020-06-25 13:22] #2023 closed

[2020-06-25 13:35] ydcjeff commented on #1301
@justusschock hello,

I now have [a working implementation of bleu](https://github.com/ydcjeff/pytorch-lightning/blob/metrics/add-bleu/pytorch_lightning/metrics/bleu.py) and [testing](https://github.com/ydcjeff/pytorch-lightning/blob/metrics/add-bleu/tests/metrics/test_bleu.py). Please take a look.

[2020-06-25 14:06] williamFalcon commented on #2351
Your dataset is wrong. That's causing the issue.
[code]

since your batch size and dataset length don't work out well.

[2020-06-25 14:06] #2351 closed

[2020-06-25 14:09] williamFalcon commented on #2344
yeah this is correct. You'd now have to set max_step to something much higher since it's max_GLOBAL_step

[2020-06-25 14:09] #2344 closed

[2020-06-25 14:10] Uroc327 commented on #2351
Changing the dataset to produce 128 samples does not change this either:

[code]
[code]

[2020-06-25 14:53] turian opened #2361 "GPU training, but datasets are on the CPU"
#### What is your question?

I am running GPU training, but it is not much faster. My batch_size is 1024. I see that the model's datasets are on the CPU. Also, so are the model parameters. Why?

How can I preload them all onto the GPU for faster training? They will fit in GPU memory.

I see 18 it/sec on CPU and 30 it/sec on GPU

#### Code

[code]

cpu
cpu

[code]

cpu
...

#### What have you tried

[2020-06-25 15:05] Uroc327 commented on #2351
Also changing the `drop_last` option does not make any difference (on 128 samples).
Could we please reopen this, @williamFalcon ?

[2020-06-25 15:13] williamFalcon commented on #2361
can you put a colab showing it does NOT use GPUs?
we run tests on GPUs on every PR, all our examples use GPUs and we all work on GPUs daily...

it's very likely something about your code or maybe not installing the GPU pytorch.

If you can replicate this on colab we can look at this.
In the meantime, please follow the guide to clean up your code (https://pytorch-lightning.readthedocs.io/en/stable/

[2020-06-25 15:15] williamFalcon commented on #2343
on master the behavior is a bit different now...

[code]

[2020-06-25 15:32] williamFalcon commented on #2343
https://github.com/PyTorchLightning/pytorch-lightning/pull/2279/files

sorry, i guess it hasn't been merged yet... but this will likely solve your issue

[2020-06-25 17:15] wasserth commented on #2346
If I am using 2 gpus with DDP I will get two processes and each is calculating his own loss on his share of the data. Process 1 gives me the loss for the first half of the validation data and process 2 gives me the loss for the second half. Now I want to get the mean of both of them to get one final loss for the entire validation data.

[2020-06-25 17:16] turian commented on #2361
So I have tried this on Colab, with and without GPUs. I have also tried it on an AWS GPU instance, with and without CPUs. Both have similar results, only 2x increase and all showing the model params and data on the CPU

[2020-06-25 18:35] turian commented on #2361
@williamFalcon here is a minimal example.

https://colab.research.google.com/drive/1RA1Ny2wyVzzPIyvWdjUm41Pm4SUR31_C?usp=sharing

You can see that both CPU and GPU get the same speed. And the model parameters and dataset are on the CPU.

[2020-06-25 18:37] turian commented on #2361
I read the instructions here https://pytorch-lightning.readthedocs.io/en/stable/multi_gpu.html#preparing-your-code
and have done everything except for "Init tensors using type_as". I didn't see that in the single GPU doc, and couldn't figure out how to do it or find any more documentation about it. If that is what is necessary I am happy to do it.

[2020-06-25 19:00] turian commented on #2361
Besides this specific example, one thing I am missing from the PL docs is just some simple instructions on how to verify if GPU training is actually happening as desired. Is my diagnostic code:

[code]

the correct way to do it? Or something else?

[2020-06-25 19:14] MicPie opened #2364 "Error when loading with LitModel.load_from_checkpoint(path)?"
## ❓ Questions and Help

### Before asking:
1. search the issues.   Done
2. search the docs.    Done

#### What is your question?

When I'm loading a Lightning model with LitModel.load_from_checkpoint(path) I always get this error:
[code]

#### Code

Simple example is from https://pytorch-lightning.readthedocs.io/en/latest/new-project.html.
Custom LightModul is very similar but I am using other da

[2020-06-25 19:18] dscarmo commented on #2364
Might be related to #2334
If you put an hparams argument in your LitModel does it work? What about using 0.8.1?

[2020-06-25 19:32] MicPie commented on #2364
Thank you for your reply!

This code snippet gives me the same error:
[code]
Via conda I get no update and also tried upgrade with pip but still 0.8.
Do I need for 0.8.1 an editable install via the GitHub repo?

[2020-06-25 19:49] turian opened #2365 "trainer.test() should return the test score"
## 🐛 Bug

trainer.test() has no return value. However, after testing one might like to have the test score returned, and saved.

#### Code sample

[code]

### Expected behavior

trainer.test() should return the final test score.

### Environment

[code]

### Additional context

Althought in some settings, `test` is only done immediately before publication and thus should not be used for model sele

[2020-06-25 19:57] #1454 closed

[2020-06-25 20:03] #2343 closed

[2020-06-25 20:11] fatotoro opened #2366 "Trainer.test() returns type error while loading model after upgrading from pl 0.76 to 0.8 and 0.82dev"
## 🐛 Bug
I am running a Transformer model with a custom data set. Everything worked fine with v0.76, except for early stopping. However after upgrading to v0.8+ Trainer.test() would return type error while loading model (expected int but got dict). I have tried two different datasets with the same model which returned same results. I have downgraded back to v0.76 and Trainer.test() was able to run

[2020-06-25 20:16] dscarmo commented on #2364
Sorry, I meant changing the __init__ to (self, hparams).

To me it looks the load_from_checkpoint is trying to force hparams (2 arguments given)
But this might have been fixed in 0.8.1.

Try to `pip uninstall pytorch_lightning` and `pip install pytorch_lightning --upgrade`

[2020-06-25 21:36] dscarmo commented on #2361
What is probably happening (couldn't access your minimal example, permission issues) is your example is too simple and bottlenecked by I/O.

GPU really speeds ups things when it doesn't have to wait for HDD reads.

PL automatically uses the GPU if you give gpus=1 to the Trainer. One way to verify is to either: run nvidia-smi in a terminal, which is harder in Google Colab, print .device (as you sho

[2020-06-25 22:34] Ceceu commented on #2337
I had to specify  `device="cuda"` in `train_dataloader` method:

[code]

Is this a correct approach? From what I had seen in the documentation, this type of operation would no longer be necessary with PyTorchLightning.

[2020-06-25 22:37] turian commented on #2361
@dscarmo strange that you cannot see my colab. Anyway, here is that notebook exported as a gist:

https://gist.github.com/turian/f3ea99f6f495f4e6bd45c8a89d23552c

If you see, I do both CPU and GPU training. GPU training is working, as evidenced by `GPU available: True, used: True`. But the speed is the same, and it looks like the model params and data are on the CPU device. So if they are being tr

[2020-06-25 22:49] turian commented on #2361
@dscarmo

Yeah, so I am also trying to run it on an AWS GPU instance. It doesn't seem to utilize the GPU very much.

[code]

But it is used it somewhat.

The fact that if I run

[code]

prints

[code]

suggests to me that the model parameters and the data are not on the GPU, and that it keeps transferring during training.

[2020-06-25 22:51] turian commented on #2361
Interesting, if I run the `.device` code *after* `trainer_gpu.fit(model_gpu)`

I get:

[code]

which suggests that the parameters are now in the GPU, but the datasets are still on the CPU

[2020-06-25 22:58] williamFalcon commented on #2361
i’m not sure what the goal here is haha. if it’s to verify that it runs on GPUs then use nvidia-smi. if it’s to measure speed up vs CPU then use a large dataset.

[2020-06-25 23:01] dscarmo commented on #2361
Calm down, there are some confusions going on here. Try to edit your comments instead of posting new ones. I will try to write up something, but you should study how Deep Learning training works, look-up exactly what a batch and epoch are, and why the DataLoader is necessary.

The DataLoader is a class that interfaces with the Dataset, which implements reading some kind of data from "the CPU" (har

[2020-06-25 23:18] turian commented on #2361
@dscarmo Thank you for being patient and helping me. I apologize for not editing my comments, I'll do it in the future. I am familiar with deep learning; if you Google me you will see I am a co-author on the original Theano paper :) What I am not familiar with is pytorch lightning and more recent tooling. But I must say that you are shipping a really beautiful product and I wish we had these tools

[2020-06-25 23:26] THKIM-CAS commented on #2355
Thanks @davinnovation and @williamFalcon for your consideration of my issue.
I found that my code shows the same results for every training in CPU without any problems of the reproducibility; but different results for every training in GPU as shown above.

[2020-06-26 00:07] dscarmo commented on #2361
If your datasets fits entirely on the GPU, use batch_size = dataset_size and the dataloader should make a big batch containing the whole dataset for the model to forward over, which means an epoch will be done in only one batch.

As i said, the datasets going from CPU to GPU is by DataLoader design, to use CPU power between batches. Increase num_workers on the dataloader to have parallel loading.

[2020-06-26 00:24] turian commented on #2361
Okay, so my understanding of the behavior of pytorch lightning now (I don't think this is documented) is that each batch will be loaded onto the GPU from the CPU, and then there will be a training step within the GPU.

*If your datasets fits entirely on the GPU, use batch_size = dataset_size and the dataloader should make a big batch containing the whole dataset for the model to forward over, whic

[2020-06-26 00:44] dscarmo commented on #2361
I see what you want now. In this case, try to save your whole dataset as a GPU Tensor inside the dataset object when you create it (dataset's `__init__`). Return it already as GPU tensor from the get go and you will never move it.

[2020-06-26 01:17] nischal-sanil commented on #2238
Hi again,

Consider the following code snippet

[code]

Where I store the parameters of the model before and after training in `old_params` and `new_params`, a check on their equality returns `True`, suggesting there're no changes to the parameters.

[code]
 Therefore, while running `trainer.test(model)` the trained model is not used for testing. And I am not able to figure out if this is an expec

[2020-06-26 01:32] turian commented on #2361
@dscarmo thank you I understand.

I have made a simplified gist: https://gist.github.com/turian/caf869ae30932384c7c4b7d201125493
One is the siamese network, one is a binary regressor.

In both, I time the training without .cuda() and with .cuda()

siamese is 20.3s without, 18.1s with.
binary is 15.6s without, 9.7s with.

The binary data is 10x the size, so it makes sense that binary gains more spe

[2020-06-26 03:32] david-waterworth opened #2368 "How To: Specify input_shape when it's not known in advance"
As far as I can see all of the examples assume that the input shape is known in advance, i.e. MNIST images which have fixed C,H and W. But I'm working with multi-variate time series data, superficially investigating transforms which alter the number of input series.

In the example below, `transforms` is passed to the constructor and used to enhance the dataset loaded in `prepare_data`. However th

[2020-06-26 05:22] ruotianluo opened #2369 "monitor the data loading time"
I am running the imagenet example and found that there is no "data time" as in the original pytorch example.
How to monitor the data loading time?

[2020-06-26 05:41] ruotianluo commented on #2369
Also, it's weird that one epoch becomes 5201; it should be 5005.

[2020-06-26 07:23] awaelchli commented on #2369
I think the profiler can do that, if you turn it on in the Trainer.

Are you referring to the progress bar? I think it is because it includes the validation set.

[2020-06-26 09:25] DavidRuhe opened #2370 "Access the logging directory through LightningModule or Trainer"
Is there a way to access the current logging directory (e.g., lightning_logs/version_x)? I've searched the documentation and the source code but haven't found a solution yet.

I want to save some intermediate raw tensors to that directory.

Thanks,
David

[2020-06-26 10:00] Data-drone commented on #2192
This is the init part of my model. It reads in the hparams then depending on the config I have set chooses a model either from Torchvision lib or a model I have defined locally. hparams can also change the activation function used. so I need to init with the same params before I do the load_from_checkpoint. It would be handy if there was a save function that saved everything I needed so that I can

[2020-06-26 10:05] awaelchli commented on #2192
That's exactly what Lightning is doing for you.
See https://pytorch-lightning.readthedocs.io/en/latest/hyperparameters.html#lightningmodule-hyperparameters
If you save your hyperparameters this way, then you can load Model.load_from_checkpoint(...)
You don't have to init it first.

[2020-06-26 10:06] awaelchli commented on #2192
Of course the model definition cannot change between saving and loading.

[2020-06-26 10:12] MicPie commented on #2364
Thank you, I was able to install the 0.8.1 version with this trick.

When I add `hparams` to the `def __init__(self, hparams)` to my lightning module I have to supply it during object creation too?

When I load the checkpoint with `torch.load` everything seems to be there.

I suspect the `args` are the reason this happens (`kwargs` are empty), will check later in detail.

[2020-06-26 10:15] moi90 commented on #2129
Any idea where this comes from?

[2020-06-26 10:21] #1514 closed

[2020-06-26 10:44] pvnieo opened #2371 "hparams are not logged in tensorboard"
## 🐛 Bug

I'm using the latest version of PL. My problem is when I launch an experiment, everything is logged correctly to tensorboard, except the hparams:
![image](https://user-images.githubusercontent.com/22404728/85848735-f2422a80-b7a9-11ea-80f6-96ab9d6a4a61.png)

I tried to launch the cpu_template on a fresh virtual environement, but it didn't work. However, when I launch the pytorch example o

[2020-06-26 11:21] #1509 closed

[2020-06-26 13:33] #2315 closed

[2020-06-26 13:35] ruotianluo commented on #2369
My understanding is the profiler only output the result after training.

Yes. The progress bar,  thanks.

[2020-06-26 13:35] xiadingZ opened #2372 "training_epoch_end's outputs doesn't have 'loss' key"
pytorch-lightning: build from master
[code]

This is my code:
[code]

[2020-06-26 13:39] williamFalcon commented on #2106
@lezwon is this still an issue? Will reopen if it's still an issue since this is now tested

[2020-06-26 13:41] #2077 closed

[2020-06-26 13:41] #2066 closed

[2020-06-26 13:41] #2024 closed

[2020-06-26 13:41] #2064 closed

[2020-06-26 13:42] williamFalcon commented on #1956
The problem here is the learning rate finder doesn't work with anything multi-process... @SkafteNicki .

[2020-06-26 13:46] williamFalcon commented on #1213
looking at this with next sprint

[2020-06-26 13:49] williamFalcon commented on #1463
@jeremyjordan is this being added to #1504?

[2020-06-26 13:52] williamFalcon commented on #2151
Currently being worked on in #1504

[2020-06-26 13:54] williamFalcon commented on #2309
Looks like this is an Apex issue? Will reopen if it still remains

[2020-06-26 13:54] #2309 closed

[2020-06-26 13:56] #1903 closed

[2020-06-26 13:57] #1870 closed

[2020-06-26 13:57] williamFalcon commented on #1759
@quinor fixed on master!

[2020-06-26 13:58] #1759 closed

[2020-06-26 13:58] williamFalcon commented on #1730
@NickYi1990 fixed on master

[2020-06-26 13:58] #1730 closed

[2020-06-26 14:02] Borda commented on #1687
I do not think we want to add `ipywidgets` as dependency bu we can do similar check on our side too
@olineumann mind send PR?

[2020-06-26 14:03] #1598 closed

[2020-06-26 14:03] williamFalcon commented on #1598
we can reopen if we want to do this. also seems like an enhancement

[2020-06-26 14:04] awaelchli commented on #2369
In the profiler you get something like this:
[code]
"get_train_batch" is the loading time of the training batch. If you don't want to wait for these stats for the end of training, just run one epoch with `max_epochs=1` or a few steps with `max_steps=10` by setting these flags in the Trainer.

[2020-06-26 14:04] williamFalcon commented on #1549
@sebastienwood thanks for bringing this up! we're looking at it for next sprint

[2020-06-26 14:06] williamFalcon commented on #1542
sounds solved! we can reopen otherwise

[2020-06-26 14:06] #1542 closed

[2020-06-26 14:06] williamFalcon commented on #1611
will reopen if still an issue, but sounds like an apex+pytorch version discrepancy

[2020-06-26 14:06] #1611 closed

[2020-06-26 14:07] Borda commented on #1702
you shall user batch side finder

[2020-06-26 14:08] williamFalcon commented on #1702
can you try running on master? and also decrease your batch size?

[2020-06-26 14:11] Borda commented on #2167
seems like this args are not executed correctly
https://github.com/PyTorchLightning/pytorch-lightning/blob/7c0a3f47455f6ff3c53fcbd9276f12ade9fc97ae/.github/workflows/docker-builds.yml#L30

[2020-06-26 14:17] lezwon commented on #2106
I just ran the notebook. The training seems to be working, but the model does not save. I get two different errors on colab and kaggle.

Kaggle Error:
<img width="1050" alt="Screenshot 2020-06-26 at 7 44 23 PM" src="https://user-images.githubusercontent.com/6305654/85866882-ba58d880-b7e5-11ea-8e99-b6409d4a21b3.png">
<img width="1055" alt="Screenshot 2020-06-26 at 7 44 10 PM" src="https://user-imag

[2020-06-26 14:22] xinfangliu commented on #1702
It has no matter with the batch size, I  solved the problem with torch.cuda.set_device(6)

[2020-06-26 14:22] #1702 closed

[2020-06-26 14:51] SkafteNicki commented on #1956
This is weird. It is correct that learning rate finder does not have multi process support, but that is because the state of the search is destroyed when `self.fit()` finishes. However, here the problem seems to be earlier during the fit

[2020-06-26 14:52] hbredin commented on #2101
+1 for a way to handle this use case.

Mine is a generic supervised classification model for which the number of classes is not known before loading the data.
I ended up calling `prepare_data` in `__init__` and defining the output dimension of the final `nn.Linear` layer according to the outcome of `prepare_data`.

[2020-06-26 15:01] Ceceu commented on #1245
Great discussion.
Currently, is it possible or not to use PyTorch Lightning in multi-GPUs training?

[2020-06-26 15:05] williamFalcon commented on #1245
? of course it's possible... this is at the core of lightning...

If you specifically mean for torchtext, then it sounds like there's some edge case it introduces that we are working on.

[2020-06-26 15:06] williamFalcon commented on #1245
@mateuszpieniak we're preparing 0.8.2 now. Want to submit this PR?

[2020-06-26 15:12] Ceceu commented on #1245
Sorry, indeed I meant multi-GPU training with torchtext.

[2020-06-26 15:48] Borda commented on #2167
it seems we had a typo and the image was build always with the default args, see 2374

[2020-06-26 17:21] #1525 closed

[2020-06-26 19:21] Borda commented on #2106
may we add a test for it so we can later fix it?

[2020-06-26 20:13] rohitgr7 opened #2377 "Incorrect docs in metrics"
## 📚 Documentation
Here
https://github.com/PyTorchLightning/pytorch-lightning/blob/a5f45787eabddfec4559983f8e6ba1c8317f62f1/pytorch_lightning/metrics/functional/classification.py#L137
the argument is `num_classes` but in docs it is `class_index`
https://github.com/PyTorchLightning/pytorch-lightning/blob/a5f45787eabddfec4559983f8e6ba1c8317f62f1/pytorch_lightning/metrics/functional/classification.py

[2020-06-26 20:26] rohitgr7 commented on #2368
You can create the `dataset` and `dataloader` outside the LightningModule and pass the input shape in the `LightningModule` contructor to build the model using that and then simply use `.fit(model, train_dataloader=..., val_dataloaders=...)`.

[2020-06-26 20:35] rohitgr7 commented on #2370
For tensorboard I think you can use `self.logger.log_dir`, not sure about others. I think this property should be present for all the available loggers if possible.

[2020-06-26 20:45] mateuszpieniak commented on #1245
@williamFalcon @Ceceu Sorry for the delay. I've just landed a PR, so @awaelchli please take a look.

@Ceceu I don't think it works for multi GPU due to the different issue #2350 .

[2020-06-26 21:54] rohitgr7 commented on #2372
Try: `avg_loss = torch.stack([x['batch_loss'] for x in outputs]).mean()`

[2020-06-26 22:06] Ceceu commented on #1245
Thanks @mateuszpieniak,

But it’s sad to hear that.

[2020-06-26 22:09] awaelchli commented on #1245
we might be able to override / extend the scatter and gather in DataParallel to make use of the transfer data hook, but not sure if that's safe... I havent had the time to look into that. I agree the hook right now is not very useful :(

[2020-06-26 23:36] JonnyD1117 commented on #1238
So which loss( averaged OR non-averaged) is being used to perform updates to backprop?

[2020-06-26 23:54] david-waterworth commented on #731
The work around from @colllin didn't work for me, but `from pytorch_lightning.logging import TensorBoardLogger` does.

[2020-06-27 00:48] Geeks-Sid opened #2381 "Pause and resume support"
## 🚀 Feature
It would be really helpful if we could have a pause and resume support for training networks. I am not talking about restarting from checkpoint training, but more in the lines of stopping in between randomly, the saving the optimizer state_dicts, and if resumed, then starting from the same place where it left off during training which would be a slightly more complicated and precise v

[2020-06-27 01:35] xiadingZ commented on #2372
Thanks， it works
It seems only `loss` key returned in `training_step` should be `batch_loss`, other keys such as `train_acc`  remain unchanged.

I suggest writes this change in commits, or docs. It's a very big change.

[2020-06-27 01:38] #2347 closed

[2020-06-27 01:38] #2357 closed

[2020-06-27 01:46] #2167 closed

[2020-06-27 02:24] Taha-Bahadori opened #2382 "Learning Non-negative Parameters"
How can I enforce non-negativity of weights in pytorch-lightning?

In PyTorch, I use `parameter.clamp(min=0)` after every optimization update to perform the projected gradient descent. Where should I do this in pytorch-lightning?

[2020-06-27 05:36] lezwon commented on #2106
On it. :]

[2020-06-27 11:00] hfwittmann commented on #1403
I am afraid this does not work for me either, hence I also don't think that the problem is solved.

I have tried all the versions, given in the notebook.

Additionally, I have also tried it with the version 20200516. That version is given in the official colab TPU MNIST example notebook which does not use pytorch-lightening, ie 20200516. A reference is below in NB2.

The summary of the results are

[2020-06-27 11:31] rohitgr7 commented on #2382
You can override `optimizer_step` in your `LightningModule` class. Call `optimizer.step()` and then `self.parameters.clamp(min=0.)`.
https://github.com/PyTorchLightning/pytorch-lightning/blob/2f739f5977640bb8580b82a11f322f81f1b90d09/pytorch_lightning/core/lightning.py#L1128-L1143

[2020-06-27 11:35] rohitgr7 commented on #2372
As of now in lightning you can them using `x['callback_metrics']['loss']` and `x['callback_metrics']['train_acc']`.

[2020-06-27 12:03] rgmyr opened #2385 "Support and preferred conventions for hparams vs **kwargs going forward?"
## ❓ Questions and Help

#### What is your question?

I'm a little confused about what is currently supported w/r/t `LightningModule.__init__(hparams)` vs `__init__(**kwargs)`, how exactly these fit together, and the direction this project is going w/r/t preferred conventions.

It seems like we're moving towards `**kwargs` so that model params can be more clearly documented. I agree with that sent

[2020-06-27 12:26] DavidRuhe commented on #2370
Thanks!

[2020-06-27 12:26] #2370 closed

[2020-06-27 13:12] Laksh1997 commented on #2299
@vanpelt @williamFalcon Have you by any chance had any luck with the issue?

[2020-06-27 13:38] #2297 closed

[2020-06-27 13:41] williamFalcon commented on #2299
looking in a few hours. want to get this fix into 0.8.2

[2020-06-27 14:03] rohitgr7 commented on #2106
Checked on Kaggle with master.
- When specifying the tpu_id training and testing both are working fine👌.
- When training on 1 core both training and testing completes with `SystemExit: 0`.
- When training on 8 cores training gets stuck and nothing happens unless I interrupt and in case of testing it throws `RuntimeError: tensorflow/compiler/xla/xla_client/computation_client.cc:272 : Missing XLA co

[2020-06-27 14:27] Laksh1997 commented on #2299
Thanks so much!

[2020-06-27 14:45] XinDongol commented on #960
`lr_schedulers` is not accessible now. Is there any other solution?

[2020-06-27 15:16] XinDongol commented on #960
@Borda

[2020-06-27 16:11] Taha-Bahadori commented on #2382
@rohitgr7 Thank you.

[2020-06-27 16:11] #2382 closed

[2020-06-27 16:13] nischal-sanil opened #2386 "An Extra argument passed to the class, loaded from load_from_checkpoint."
## 🐛 Bug

Hello,
I was facing few issues while using the `trainer.test()` function, on debugging I found out that the problem was with the `_load_model_state` class method which is called by `load_from_checkpoint`.

#### Code For reference

[code]
Consider the case where the  model has no arguments, which corresponds to `LightModel.load_from_checkpoint('path')`. Here, the else clause of the if-eli

[2020-06-27 16:29] Laksh1997 commented on #1037
I'm not sure if this is solved. I just tried 2 schedulers with 1 optimizer and it didn't work.

When I remove my linear scheduler, `ReduceLROnPlateau` starts to work again.

[2020-06-27 17:13] williamFalcon commented on #2299
ok... running your exact code on a single GPU:

[code]

Trying ddp now

[2020-06-27 17:49] williamFalcon commented on #2299
ok fixed!

[code]

[2020-06-27 17:53] williamFalcon commented on #2299
2 things:

1. we had a bug where something was trying to access a property not on rank zero which is now fixed.
2. your prepare_data is not correct now.

Prepare data is only ever called on the root GPU... this means assigning something `self.something = a` will only work on GPU 0. So, when you try to access that it will break on other GPUs.

We fixed this by introducing
[code]

in setup, you can

[2020-06-27 18:44] Molaire opened #2390 "How to make LR scheduler verbose?"
## ❓ Questions and Help

### Before asking:
1. search the issues.
2. search the docs.

#### What is your question?
Hi, I am currently using the ReduceLROnPlateau scheduler and returning it as a [dictionnary] in the configure_optimizers method. All other options seem to work, but I cannot seem to be able to make the scheduler verbose.
Am I missing something?
#### Code
    def configure_optimizers(s

[2020-06-27 18:49] SkafteNicki commented on #1037
@Laksh1997 could you provide more info:which version of lightning are you using, what does your configure optimizer looks like?

[2020-06-27 18:57] Laksh1997 commented on #1037
@SkafteNicki

Latest stable (0.8.1)

Using `ReduceLROnPlateau` at the epoch level and a linear warmup on the step level:

[code]

[2020-06-27 19:02] rohitgr7 commented on #2390
Some of these values are scheduler specific: https://pytorch.org/docs/stable/optim.html#torch.optim.lr_scheduler.ReduceLROnPlateau

While others are lightning specific:
[code]

[2020-06-27 19:08] #2299 closed

[2020-06-27 19:35] SkafteNicki commented on #1037
Okay, but what does `configure_optimizers` method of your model look like?

[2020-06-27 20:22] Laksh1997 commented on #1037
@SkafteNicki

It returns the following:

[code]

[2020-06-27 20:29] Laksh1997 commented on #1037
Here is my code more specifically:

[code]

[2020-06-27 20:36] #1245 closed

[2020-06-27 20:43] neighthan opened #2393 "CometLogger improvements"
## 🚀 Features

1. Save the offline experiment data in the same directory as the model's checkpoint directory
2. Use the experiment name in the directory name for the experiment
3. Fix the `name` property on the logger (this part is a bug more than a feature request)

## Motivation / Pitch

Suppose I set up my logger and trainer like this:

[code]

1. If the id of my experiment was `123` then I'd h

[2020-06-27 20:48] Laksh1997 commented on #2299
@williamFalcon Thank you so much! Amazing!

So if the data is particularly light to download, we might as well just put all the code in `setup`?

Also what is the step argument for?

[2020-06-27 21:07] neighthan commented on #2393
Or is there an easy way to do 1. and 2. using callbacks without changing the code?

[2020-06-27 22:12] soulhi-vz opened #2394 "cannot unpack non-iterable NoneType object when predicting with test function/dataloader"
Hi,
When trying to evaluate the autoencoder with test dataset, we got the error:
cannot unpack non-iterable NoneType object

def training_step(self, train_batch, batch_idx):
        x, _ = train_batch
        decoded, encoded = self.forward(x)
        loss = self.mse(decoded,x)
        tensorboard_logs = {'train_loss': loss}
        return {'loss': loss, 'log': tensorboard_logs}
def test_step(self

[2020-06-28 02:52] neighthan commented on #2393
While 3. does still seem to be a bug (because the name getter uses the project name but the name setter changes the experiment name), changing this would also break backwards-compatibility because the logger's name is used to determine the checkpoint directory ([here](https://github.com/PyTorchLightning/pytorch-lightning/blob/90f641af0d509645ecd679d00f1213f68d4a44ad/pytorch_lightning/trainer/callb

[2020-06-28 05:36] ZhaofengWu commented on #2365
In addition to scores, it could also be predictions when we don't have the test set label (e.g. GLUE). Ideally we can get access to the return value of `test_epoch_end`.

[2020-06-28 06:17] ZhaofengWu opened #2397 "Are auto-resubmited slurm jobs completely the same as if it weren't interrupted?"
In other words, does `trainer.hpc_save` persist _all_ necessary information (e.g. how many batches are processed in the current epoch) such that, when restored, it behaves completely the same (random states aside) as if it weren't interrupted?

And a related question: if my cluster handles auto-resubmission, which means I only need the `hpc_save` part of `pytorch-lightning`'s `SIGUSR1` handling lo

[2020-06-28 06:32] neighthan commented on #2393
4. It would also be nice if there was a flag (off by default for backwards-compatibility / to save space) to have the logger automatically upload the checkpoint file as an asset to Comet at the end of training. The issue here is, the logger doesn't necessarily know the directory where the checkpoints are saved, does it? While it would be nicer if this could be automatic, if that's not possible, I

[2020-06-28 09:18] vibhavagarwal5 commented on #665
@Borda Can we open this issue back? There's no solution to it as of now and the same error.

[2020-06-28 10:30] rohitgr7 commented on #2394
The reason is `trainer.test()` returns nothing. It just evaluates your test_dataloader. If you want to get those values you can save them in a file in `test_end` for each batch or save all the test accumulated outputs in `test_epoch_end`.

[2020-06-28 11:56] VictorCallejas commented on #1956
The same error happens when `trainer.fit(model)` so I  do not think it's an error of the `trainer.lr_find(model)`

[2020-06-28 12:02] haichao592 opened #2398 "A question about metrics on ddp"
Thanks for the nice work! 🥳🥳🥳

## Backgroud
The new metrics package is released with build-in ddp support.
[DistributedSampler](https://pytorch.org/docs/stable/_modules/torch/utils/data/distributed.html#DistributedSampler) is used by dataloaders to work with ddp.
It adds extra samples to make the samples evenly divisible.
This means during evaluation and testing, the added extra samples affect the

[2020-06-28 12:55] Oodapow opened #2399 "Polyaxon Logger"
## 🚀 Feature
I would like to have a logger for the polyaxon platform. Similar to the way there is such a logger for MLFlow, WandB, tensorboard and such.

### Motivation

Polyaxon is a fast growing, large scale, open source ML platfrorm that I'v been using for a couple of months, it is similar to WandB but with a larger scope.

### Pitch

A new logger to be added that would let the user use polyaxo

[2020-06-28 13:17] #1530 closed

[2020-06-28 15:04] Ceceu opened #2400 "CrossEntropyLoss fails to run with GPU"
## 🐛 Bug

Using the following `training_step` method which uses `nn.CrossEntropyLoss()` loss function:

[code]
fails to run with GPU throwing the following error:

[code]
The function `self.loss_fn` is shown below:

[code]
Is `target = torch.arange(x1.size()[0])` not being created in the GPU?

### Expected behavior

That  target tensor (`target = torch.arange(x1.size()[0])`) is created on the GPU.

[2020-06-28 15:35] awaelchli commented on #2394
related/the same as #1694 #2365

[2020-06-28 15:53] jeremyjordan opened #2401 "Add callback method for on_save_checkpoint"
## 🚀 Feature

We should allow Callback objects to optionally persist state that can be reloaded from checkpoints.

### Motivation

We already manually save the state for early stopping and model checkpoint callbacks. This refactor would eliminate callback-specific code in the Trainer and extend the ability to user-written callbacks.

### Pitch

This callback would just return a state_dict which th

[2020-06-28 16:09] jeremyjordan commented on #960
@XinDongol  there is now a callback for this :)
https://pytorch-lightning.readthedocs.io/en/stable/callbacks.html#learning-rate-logger

[2020-06-28 16:22] jeremyjordan commented on #1463
@williamFalcon yes this is fixed and there is a test to prevent regressions

[2020-06-28 17:05] awaelchli commented on #2401
I think it is reasonable to assume there is only one instance of these special callbacks (and should raise error otherwise, e.g. see progress bar callback). Note that currently the logger is not a callback.
Also, the documentation for callbacks should probably let the user know that the the order of the list input to the Trainer is not preserved (e.g. the Trainer should reorder it so that the chec

[2020-06-28 17:14] rohitgr7 commented on #2400
No you have to move `target = torch.arange(x1.size()[0])` to the GPU(or any other device you want) because it's not present in the batch from the dataloader.'
You can use `target = torch.arange(x1.size()[0]).to(x.get_device())`.

[2020-06-28 18:20] Ceceu commented on #2400
Ok, thanks @rohitgr7.

[2020-06-28 19:17] #1536 closed

[2020-06-28 19:22] jeremyjordan commented on #2401
Cool, I'll put together a draft PR once we merge #2391 :)

[2020-06-28 19:35] Borda commented on #2359
@narain1 mind sharing a minimal running example, in your case there are several functions that cannot be traced...

[2020-06-28 19:36] vibhavagarwal5 commented on #2355
Is the issue due to a missing torch.cuda.manual_seed as well?

[2020-06-28 19:37] Borda commented on #2364
yes, you need to allow your class to pass arguments to the parent class, otherwise, it seems duplicate to #2386

[2020-06-28 20:12] vibhavagarwal5 opened #2404 "Will load_from_checkpoint load Huggingface models as well?"
#### What is your question?

Just wanted to know will using the `load_from_checkpoint` for a `LightningModule` load the state_dict for the **HuggingFace** models as well?

Eg: for the given example in the docs, will state_dict be loaded for `BertModel.from_pretrained` thing as well?
Ideally, `load_from_checkpoint` should load state_dict for Bert as well like `BertModel.from_pretrained(same_checkpo

[2020-06-28 20:47] soulhi-vz commented on #2394
Thanks Rohit for the feedback

How to get encoded, decoded into the test_epoch_end since these variables are local to test_step and can not be returned

def test_step(self,test_batch, batch_idx):
        x, _ = test_batch
        decoded, encoded = self.forward(x)
        return {'y_hat':decoded, 'z':encoded}

    def test_epoch_end(self, outputs):
        outputs = ??
        return outputs

[2020-06-28 21:07] rohitgr7 commented on #2394
`outputs` in `test_epoch_end` is a list which stores the value returned from `test_step`. Since you are returning a dict in `test_step` the `outputs` will be `[dict, dict, ...]` for each test_batch in `test_dataloader`. Check this:
https://github.com/PyTorchLightning/pytorch-lightning/blob/66ffbaddf5abf3e3fca5789ba2427be55b27d1af/pytorch_lightning/core/lightning.py#L644-L649

[2020-06-28 21:20] #2334 closed

[2020-06-28 21:26] dscarmo commented on #2404
When working with the Hugging Face library i just store the string (in this case best-base-cased) as an hparam.

[2020-06-28 22:00] vibhavagarwal5 commented on #2404
Sure, that is fine. I think you misunderstood my question. Will the state_dict from the checkpoint (using `load_from_checkpoint`) load the bert model as well or not? Or will I have to load it explicitly using `model.from_pretrained(checkpoint_path)` ?

[2020-06-28 22:17] awaelchli commented on #2404
I don't know this Bert stuff , but if it helps:
`Model.load_from_checkpoint()` will init your model with the args and kwargs from the checkpoint and then call `model.load_state_dict` to load the model weights as you would do in pure PyTorch.
So, if your` self.bert` is a `nn.Module` , then that will have the parameters loaded as well.

[2020-06-28 22:20] dscarmo commented on #2404
Oh now i understand. The updated weights of your whole lightning module (if you didnt freeze bert) will be loaded. I am just wondering if the init `from_pretrained`  you overwrite your trained weights?

I hope PL will only load the trained weights after init runs.

[2020-06-28 22:33] awaelchli commented on #2404
yes, so the from_pretrained will run first and load your pretrained weights (since it's in the init). and then the load_state dict will overwrite them again with the weights from the checkpoint.

I encourage you to make a sanity check and not blindly believe me :), for example, you could load your checkpoint manually and replace all weights with ones and then save it again. Then load the checkpoin

[2020-06-29 00:22] #2364 closed

[2020-06-29 00:22] #2386 closed

[2020-06-29 01:36] #1463 closed

[2020-06-29 01:36] #1464 closed

[2020-06-29 01:36] #2151 closed

[2020-06-29 01:47] #2400 closed

[2020-06-29 01:48] williamFalcon commented on #2400
You can also use:
[code]

the PL module knows what device it is on.

[2020-06-29 01:49] williamFalcon commented on #2397
1. yes it's all handled. However the epoch will start again (but everything else is saved).
2. To disable it don't pass SIGUSR1 to your slurm script

[2020-06-29 01:49] #2397 closed

[2020-06-29 01:53] david-waterworth opened #2406 "Logging hyperparams and metrics"
My question is how do I log both hyperparams and metrics so that tensorboard works "properly". I've copied `pytorch_lightning.loggers.TensorBoardLogger` into a catboost/hyperopt project, and using the code below after each iteration I get the result I'm after, on the tensorboard `HPARAMS` page both the hyperparameters and the metrics appear and I can view the Parallel Coords View etc.

        sel

[2020-06-29 01:55] williamFalcon commented on #2334
![image](https://user-images.githubusercontent.com/3640001/85965231-09d80980-b98a-11ea-9291-0510ebebf40e.png)

@dscarmo no more bug :) @Borda fixed it!

[2020-06-29 01:57] williamFalcon commented on #2290
@ternaus this is not correct.

We actually test for this on every PR... we make sure to stay within a threshold of pytorch (in fact we're only 300ms slower per epoch).

You likely have loggers enabled or your log_row_interval is too low (set it to 100 or something).

[2020-06-29 01:58] williamFalcon commented on #2290
We can reopen this if you can post a colab that replicates this behavior

[2020-06-29 01:58] #2290 closed

[2020-06-29 02:02] ZhaofengWu commented on #2397
If the epoch starts over while the model state doesn't get reset to before the epoch, wouldn't this be equivalent to training with more data for that specific epoch? That might be undesirable when we want very rigorous comparisons across different models/settings/etc. Is there a way to achieve this? I guess a simple way is to save a checkpoint at the end of every epoch and use that, but that creat

[2020-06-29 02:08] awaelchli commented on #2131
I will try to write a test that (ideally for all loggers) makes sure the logger is only used in rank 0 process, therefore not creating any files on rank > 0 and then I can also make sure these NoneTypeErrors don't happen on rank > 0.

[2020-06-29 02:16] ruotianluo opened #2407 "cuda runtime error (101) : invalid device ordinal"
CUDA_VISIBLE_DEVICES and ddp are not compatible.

https://github.com/PyTorchLightning/pytorch-lightning/blob/25ee51bc570503f331dceecc610d0eb355e22327/pytorch_lightning/trainer/distrib_data_parallel.py#L504

the pytorch respects the CUDA_VISIBLE_DEVICES.
gpu_idx should be the same as local_rank.

If I set CUDA_VISIBLE_DEVICES to be 1. It will break.

[2020-06-29 02:25] david-waterworth commented on #2371
Not sure if it's related - I'm getting hparams but not metrics https://github.com/PyTorchLightning/pytorch-lightning/issues/2406

[2020-06-29 02:33] jgbos opened #2408 "Cluster job that spawns its own processes for use with DDP"
## 🚀 Feature

Not sure if the title is appropriate.  This feature would support the use case where

- The manager sets `MASTER_ADDR` and `MASTER_PORT`
- User knows how to set `LOCAL_RANK`, `GLOBAL_RANK`, and `WORLD_SIZE`
- Each node has `N_g` GPUs
- `N_j` jobs are spawned (in my case, MPI on SLURM) for each gpu, i.e., `world_size= N_j * N_g`
- Each job can see both GPUs on each node, i.e., `local_

[2020-06-29 02:52] ares89 opened #2409 "save the model/training source code to model checkpoint or logs directory"
## 🚀 Feature

Save the model/training source code to model checkpoint or logs directory

### Motivation

Now, the hparams has been saved in yaml file.  Sometimes, we not only change the hparams but also the network arch, the pre-process flow, so if we save the relate source code to model, we will get all the information to restore the model, because the source code is with the model hparams and al

[2020-06-29 03:33] narain1 commented on #2359
[https://github.com/narain1/projects/blob/master/melanoma-lit-x2.ipynb](url)

Above is the link to the jupyter notebook along with the stack trace

[2020-06-29 04:52] vibhavagarwal5 commented on #2404
My guess is the same that after from_pretrained weights are loaded, checkpoints weights override them.

[2020-06-29 04:56] vibhavagarwal5 commented on #2404
Another doubt, do the checkpoints save all sorts of callbacks as well? Coz I don't see it in the dict keys when I do torch.load(chckpoint).

[2020-06-29 05:04] awaelchli commented on #2404
we do that for early stopping and model checkpoint (see v0.8.2), but not for your custom callbacks. We recently discussed how to do that, here is an open discussion #2401 .

[2020-06-29 05:17] vibhavagarwal5 commented on #2404
v.0.8.2 is not released yet right?

[2020-06-29 05:24] #2369 closed

[2020-06-29 06:13] qiaoruiyt opened #2410 "Cannot Transfer Batch Data to Device"
## 🐛 Bug
After upgrading from 0.8.1 to 0.8.2, error occurs during training when the data is being transferred to the device. There is no problem with 0.8.1 but only with 0.8.2.

### To Reproduce
It might be a little difficult to share the code here, but I suspect that might due to a mistake of defining "dtype" variable somewhere in the latest version. You may check the error message:
[code]

####

[2020-06-29 07:35] EspenHa commented on #2156
@Borda any thoughts about what to do about this? I can submit a PR that emits a warning when `PYTHONHASHSEED` is not reproducible, if that is an acceptable solution.

[2020-06-29 08:16] s-rog opened #2411 "0.8.2 calls backward on '_GeneratorContextManager'"
## 🐛 Bug

0.8.2 calls backward on '_GeneratorContextManager' and crashes training.
0.8.1 works correctly. my `training_step` returns `{'loss':loss, 'log':{'learn_rate':self.lr}}`

[code]

### Expected behavior
backward is called on the loss and training runs correctly

[2020-06-29 09:49] pamparana34 opened #2413 "validation_epoch_end and ddp"
I am using Pytorch lightning with the `ddp` backend using 4 GPUs. I have early stopping set as follows:

[code]

Now, I have validation steps as follows:

[code]

Now when I run this, I see4 print statements for every epoch as:

[code]

So, I am assuming validation is split  between  each GPU.

However, I am not sure if the early stopping will actually collate these and combine them? I think  what

[2020-06-29 11:03] awaelchli commented on #2410
it will be in 0.8.3, sorry about that and thanks for reporting @qiaoruiyt

[2020-06-29 11:19] williamFalcon commented on #2411
did you override optimizer step?
could you try master? we just pushed a fix to a typo we had

[2020-06-29 11:34] Borda commented on #2410
fixed by 92d1e75b2638a493d9d21ed5fe00a22093888285

[2020-06-29 11:34] #2410 closed

[2020-06-29 12:10] SkafteNicki commented on #1956
Then I guess that the problem is unrelated to the learning rate finder, if standard `trainer.fit(model)` fails.

[2020-06-29 12:43] cgerum commented on #2075
Does one want to sort the list of GPUs by the average load or ram usage over the last n minutes?

[2020-06-29 12:47] Data-drone commented on #2192
ah okay so then when I reload checkpoint it will populate the hparams as well?

[2020-06-29 12:47] Anjum48 commented on #2411
Can confirm this happens on 0.8.3

[2020-06-29 12:47] itsikad commented on #2018
@allegroai I believe this maybe of interest for you.
This issued pushed me to use another logger instead.

[2020-06-29 12:48] williamFalcon commented on #2411
ok. Can you post a colab example that replicates this?

[2020-06-29 12:50] awaelchli commented on #2192
yes, that's what Lightning is trying to simplify for you. You should use the latest PL version for this since this feature is relatively new and had some bug fixes recently. Try it and see :)

[2020-06-29 12:58] SkafteNicki commented on #1037
@Laksh1997 I do not really see a problem in your code. After experimenting around with `ReduceLROnPlateau` scheduler in combination with other schedulers, I don't think the there is a problem in lightning either as I can get multiple schedulers to work at the same time.

My best guess is that this is specific to your model/data. When you have two optimizers, and one is changing the learning rate e

[2020-06-29 13:01] Data-drone commented on #2192
what is the correct way to initialise then?

as the module definition is:

[code]

I need to have an hparams to initialise the model:

[code]

won't work but I need to have the `model` instance before I can call `load_from_checkpoint`?

[2020-06-29 13:04] awaelchli commented on #2192
no, carefully read the docs. `load_from_checkpoint` is a class method.
[code]

[2020-06-29 13:07] Data-drone commented on #2192
ah gotcha cool seems to work in my quick test all good

[2020-06-29 13:07] #2192 closed

[2020-06-29 15:18] hfwittmann opened #2419 "TPU MNIST demo hangs in last batch"
I am afraid this is not working for me.

_Remark : There have been various posts about this or very similar issues, but as far as I can see they have all been closed.
Example: https://github.com/PyTorchLightning/pytorch-lightning/issues/1590

In fact I posted this exact comment in the following issue, when it was already closed.
https://github.com/PyTorchLightning/pytorch-lightning/issues/1403

I

[2020-06-29 15:34] jgbos opened #2420 "set_device error for non-integer CUDA_VISIBLE_DEVICES environment"
## 🐛 Bug

My cluster does not set `CUDA_VISIBLE_DEVICES` is a list of integers, instead it is a list of hashes.  Therefore my code crashes on this line

https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/trainer/distrib_data_parallel.py#L509

### To Reproduce

Can be reproduced by setting `CUDA_VISIBLE_DEVICES` to a list non-integers.

### Expected behavior

Should

[2020-06-29 15:39] mul118 commented on #2419
Same hangup for the 'MNIST hello world' notebook - computation stops at 72% for the first epoch.

https://colab.research.google.com/drive/1F_RNcHzTfFuQf-LeKvSlud6x7jXYkG31#scrollTo=zM15oxCH5lo6

[2020-06-29 16:47] Pet222 commented on #2372
Hi! One hint: for me it works with "loss" under windows but not under ubuntu.

[2020-06-29 17:20] rohitgr7 commented on #2372
Weird!! Why is this think platform dependent?? :thinking:

[2020-06-29 17:31] ruotianluo commented on #2407
BTW simply set https://github.com/PyTorchLightning/pytorch-lightning/blob/25ee51bc570503f331dceecc610d0eb355e22327/pytorch_lightning/trainer/distrib_data_parallel.py#L509

to be
`gpu_idx = self.local_rank`
fixes my issue now.

And I think #2420 is related too.

[2020-06-29 17:39] thschaaf opened #2421 "testing gets stuck when num_workers is set to value >0 in tests/base/model_utilities.py"
## 🐛 Bug
While executing `bash .run_local_tests.sh` the test hangs frequently (but not always) if parallel data loading is enabled in tests/base/model_utilities.py by setting num_workers to a value larger than 0. If an manual keyboard interrupt (CTRL-c) is done the test continues with a "PASSED" message. This is an issue that does not always occur which could be an indicator that the test-frame wo

[2020-06-29 17:49] ruotianluo opened #2422 "Imagenet example use num_workers 0"
https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/domain_templates/imagenet.py#L160

Is there a specific reason for that?

[2020-06-29 17:52] bmartinn commented on #2018
Thanks @itsikad I'll take a look.

Seems like the TrainsLogger is internal attribute, "_metrics_to_agg" , which is odd I'm not aware this is an abstract attribute that needs implementation...

[2020-06-29 17:56] Borda commented on #2421
this has been resolved in #2358

[2020-06-29 18:43] Borda commented on #2421
the reason for setting `num_workers=0` is getting Windows builds up to speed, otherwise, it took 10x longer...

[2020-06-29 18:52] yukw777 commented on #2238
@williamFalcon is it true that if `fast_dev_run` is `True`, there is no checkpoints saved? I just tried to manually check this in `test_test_checkpoint_path`, but `checkpoint_callback` of the trainer still had a valid `best_model_path` even when `fast_dev_run` is `True`.

@nischal-sanil your code comparing the old parameters to the new parameters is not quite correct. Since the tensors returned by

[2020-06-29 18:59] williamFalcon commented on #2238
fast_dev_run should not save checkpoints (nor write a logs file). it's like a "compiler"

[2020-06-29 19:55] yukw777 commented on #2238
@williamFalcon hmm maybe there's a bug? I see this:

[code]

[2020-06-29 20:37] dscarmo commented on #2422
I think there is no reason, however this wil raise a warning in current version that low num workers can be a bottleneck.

[2020-06-29 20:57] dscarmo commented on #2409
I achieve this through saving the commit hash (assuming your code is in a git repo).
Some loggers will catch this automatically, or you can have a function to add this to your parameters automatically.

Would be nice as a feature anyway.

[2020-06-29 23:55] ruotianluo opened #2424 "validation_epoch_end only gets the outputs from one process"
Hi,

I need the whole validation set to get the validation result.
Current validation_epoch_end only gets the outputs from current process.

Can I collect the gather the outputs from different gpus, and then run validation_epoch_end. And also I don't necessary need it to run on all processes, I only need it to run once.

How can I achieve that?

[2020-06-30 00:32] ruotianluo commented on #2424
I found an ugly solution.

I use detectron2.utils.comm.all_gather and gather to achieve what I want.

But it would be better if anything builtin in lightning can work for this purpose.

[2020-06-30 00:32] #2422 closed

[2020-06-30 00:33] williamFalcon commented on #2422
no reason. feel free to change it!

[2020-06-30 00:38] williamFalcon commented on #2419
tqdm crashes colab...

Set the following to not update the UI so frequently.
[code]

[2020-06-30 00:40] williamFalcon commented on #2411
@Anjum48 @s-rog
colab please

[2020-06-30 02:41] s-rog commented on #2411
@williamFalcon my optimizer step was untouched, I can't run more testing atm but I'll get to it as soon as I can

[2020-06-30 02:53] versatran01 commented on #2406
What I did is I just overwrite the log_hyperparams function in my own logger and do the right thing.

[code]

[2020-06-30 03:35] aeryen commented on #2411
@williamFalcon Hi I also encountered this, with normal Adam optimizer. I don't have a colab to recreate this atm but from what I saw earlier, this can be recreated with any setting as long as the Trainer is set to precision=16 when using Apex. Under this condition, the following lines from training_loop.py and hooks.py will run:

`if self.precision == 16 and not self.on_tpu
     closure_loss = mod

[2020-06-30 05:59] shijie-wu opened #2426 "Questions about DDP and slurm"
Hi,

When running on slurm with say 8 GPUs on a single node with `ddp` as backend, each process occupies all GPUs. It only uses small portion (less than 1gb) of non-root GPUs. However, multiplying it by 7 is still a large chuck of memory unused for training. I followed the multi-GPUs and slurm document. Maybe I am missing something but I could not empty that memory. Unfortunately, I cannot find a

[2020-06-30 07:03] Anjum48 commented on #2411
@williamFalcon Here's a colab example (my first time using colab so let me know if you have issues seeing it) https://colab.research.google.com/drive/1G08jVDpx-T-5HE2c89RLJdq4u67mM2-o?usp=sharing

I suspect the issue lies with AMP as suggested above

[2020-06-30 07:17] lepoeme20 opened #2427 "element 0 of tensors does not have a grad_fn"
## ❓ Questions and Help

#### What is your question?
Hi,
I got RuntimeError
element 0 of tensors does not have a grad_fn in **TEST phase**

#### Code
[code]
#### What have you tried?
Of course, the above code snippet works well in the training phase.
However, grad_fn of output and loss is None in the test/val phase (In the training phase, there are AddmmBackward and NllLossBackward, respectively).

[2020-06-30 07:45] Red-Eyed commented on #2372
@Pet222 , are u sure that versions on ubuntu and windows are same?

[2020-06-30 08:28] hfwittmann commented on #2419
I am still out of luck, it seems.

None of the combinations I tried work.

Again in the Live Demo book from https://pytorch-lightning.readthedocs.io/en/latest/tpu.html
changing

from
trainer = Trainer(num_tpu_cores=8, progress_bar_refresh_rate=5, max_epochs=10)

to
trainer = Trainer(num_tpu_cores=8, progress_bar_refresh_rate=20, max_epochs=10)

resulted in

"1.5" : hangs in the final epoch
"202003

[2020-06-30 10:29] captainvera commented on #2372
Hey @williamFalcon is this intended behaviour? I was surprised to see this breaking change being introduced with no warning.
If it is intended, why not have consistent behaviour over `validation_epoch_end` and `test_epoch_end`.

If it is not intended, as it seems due to the "bug fix" tag, are you working on it or should I make a PR for this?

[2020-06-30 11:43] williamFalcon commented on #2372
what is the behavior? that the "loss" key is not in training_epoch_end? If so, that's a bug because it should be there

[2020-06-30 11:49] Red-Eyed commented on #2372
@williamFalcon , on the latest version, `loss` key is changed to `batch_loss`. I think it was changed [here](https://github.com/PyTorchLightning/pytorch-lightning/commit/0f073819d3e0df8db7602eab489b1bad0fc0949c#diff-c45bd21c331565cbe62aaa12fa43aa0aR717)

[2020-06-30 11:50] captainvera commented on #2372
Yes, the fact that you need to access it through 'callback metrics'.
Got it!

On Tue, 30 Jun 2020 at 12:44, William Falcon <notifications@github.com>
wrote:

--
Best Regards,
Miguel Vera

+351 915 198 452
miguel.coimbra.vera@protonmail.com
Github/Captainvera <http://www.github.com/captainvera>

[2020-06-30 12:12] williamFalcon commented on #2419
Ok, i think it's something to do with the shutdown sequence for finishing training.

But to clarify, this demo DOES work, but the LAST batch hangs...

![image](https://user-images.githubusercontent.com/3640001/86124559-5bc38100-baa9-11ea-90b8-88af45f9f309.png)

![image](https://user-images.githubusercontent.com/3640001/86124588-68e07000-baa9-11ea-9e87-50496e8796a9.png)

[2020-06-30 12:13] williamFalcon commented on #2419
@lezwon want to take a look at this one?

[2020-06-30 12:14] #2421 closed

[2020-06-30 12:15] williamFalcon commented on #2427
you can enable gradients again inside the beginning of the test loop.

[code]

But generally, test/eval is done without gradients.

[2020-06-30 12:15] #2427 closed

[2020-06-30 12:16] lezwon commented on #2419
@williamFalcon will have a look at it.

[2020-06-30 12:19] williamFalcon commented on #2372
@captainvera would love a PR :)

[2020-06-30 12:40] #1524 closed

[2020-06-30 13:24] williamFalcon commented on #2372
@captainvera @xiadingZ sorry about that! it was a bad bug.

Made a PR #2428  and added tests to make sure this doesn't happen again!

[2020-06-30 13:34] pamparana34 commented on #2424
See also: https://github.com/PyTorchLightning/pytorch-lightning/issues/2413

[2020-06-30 13:40] soulhi-vz commented on #2394
Thanks Rohit

[2020-06-30 13:40] #2394 closed

[2020-06-30 13:58] Uroc327 opened #2429 "Batched iterative dataloading disables validation"
## 🐛 Bug

Setting the `batch_size` parameter for `torch.utils.data.DataLoader` to a number greater than 1, prevents `validation_step` and `validation_epoch_end` from being called.

### To Reproduce

Steps to reproduce the behavior:

1. Run `python main.py` with `bs = 1`
2. Observe exception raised in `validation_step`
3. Run `python main.py` after changing to `bs = 2`
4. Observe the model train su

[2020-06-30 13:58] williamFalcon commented on #2411
ummm. I think this is an apex issue. I can't replicate it with 16-bit native.

![image](https://user-images.githubusercontent.com/3640001/86135032-4c97ff80-bab8-11ea-942e-ffaae17aff07.png)

[2020-06-30 13:59] thschaaf commented on #2421
@williamFalcon @Borda : I changed `num_workers` to 0 because with `num_workers=3` pytest got stuck on my Mac and also on Ubuntu machines during CI. However the behavior is not 100% deterministic; meaning the testing sometimes did not get stuck. My suspicion is that this is caused by the test framework. Not sure if Windows is especially susceptible for this issue, but other platforms are affected a

[2020-06-30 14:03] #2372 closed

[2020-06-30 14:03] Borda commented on #2411
@aeryen min share a minimal example to reproduce?

[2020-06-30 14:06] Uroc327 commented on #2429
Same behavior with `pytorch-lightning==0.8.3`.

[2020-06-30 14:11] captainvera commented on #2372
Well, that was fast, thanks!

[2020-06-30 16:02] ruotianluo opened #2431 "Train in run_pretrain_routine?"
I see the train() is run in run_pretrain_routine, doesn't it look wierd? At least violating the function name.

https://github.com/PyTorchLightning/pytorch-lightning/blob/d4a02e3bd8471946c606fef7512ce44d42f07d3a/pytorch_lightning/trainer/trainer.py#L1003

[2020-06-30 16:04] lepoeme20 commented on #2427
@williamFalcon
Thank you for your answer.

I understand what you are saying. But that doesn't solve the problem.

In my research, input gradient is also required in test phase.
Also, as shown below, my model (self) is a GAN generator, not a classifier.

[code]

Adding self.train() or self.classifier.train() to the beginning of test_step() like your word does not solve my problem.

[2020-06-30 16:21] aeryen commented on #2411
hi sorry for the delay: https://colab.research.google.com/drive/1rjaRRwgBTm4CKPfe9po_WSxnKqY4jDRv?usp=sharing

[2020-06-30 18:30] pamparana34 commented on #702
Sorry to comment on this closed ticket but is this now implemented for validation loop? I am currently doing something like:

[code]

but this takes only one process into account. Is there a way to aggregate all the batches?

[2020-06-30 18:48] pamparana34 commented on #2424
I have something like this in my validation loop:

[code]
def validation_epoch_end(self, outputs):
        loss_val = torch.stack([x['val_loss'] for x in outputs]).mean()
        log_dict = {'validation_loss': loss_val, 'step': self.current_epoch}
        return {'log': log_dict, 'val_loss': log_dict['validation_loss'], 'progress_bar': log_dict}
[code]

[2020-06-30 18:51] #2411 closed

[2020-06-30 18:52] williamFalcon commented on #2411
@aeryen , @Anjum48 ,@s-rog this is fixed on master. Give it a try?

[2020-06-30 19:18] awaelchli commented on #2431
We are aware of that it will be refactored in the future. Here is already a discussion: #1195

[2020-06-30 19:44] pamparana34 opened #2435 "validation_step_end and training_step_end usage"
I cannot seem to find any examples on how to collect all the batches from the validation and training steps when using `ddp`. I currently am doing training on 4 GPUs using `ddp` and my validation loop is as follows:

[code]

At the moment, when computing the `val_loss`, it is only taking one of  the processes into account and my statistics is not over the whole validation dataset (I think this is