[2020-10-29 05:40] NumesSanguis commented on #4416
Having Metrics somehow unique would also be helpful when saving / loading .ckpt. While this is intended behavior (it's a nn.Module), I also run into trouble: https://github.com/PyTorchLightning/pytorch-lightning/issues/4361#issuecomment-716496176

For inference Metrics are not necessary, but if you use them, you need to set `strict=False` when loading a .ckpt. This creates a risk that actual probl

[2020-10-29 05:44] awaelchli commented on #4420
Hi, thanks for reporting.
The autoencoder example runs fine for me.
Could you please let me know the Lightning version you are using?
We recently fixed a bug, please use 1.0.4 or newer.

[2020-10-29 05:51] NumesSanguis commented on #4416
@hudeven I don't know if you need to use TorchScript in combination with `method='script'`, but with `method='trace` your code does work.

Add this to your script:
[code]

And change `model.to_torchscript(method='trace')  # method='script'`.

This does not solve the actual issue at hand, but can be a workaround for some here.

[2020-10-29 05:53] ohmeow commented on #4420
Yah I'm using 1.0.4

Here's the full source for my .py file:

[code]

[2020-10-29 06:05] NumesSanguis commented on #4140
With the PR: https://github.com/PyTorchLightning/pytorch-lightning/pull/4360 being merged, `example_inputs` can now handle `torch.Tensor` and `Tuple[torch.Tensor]`:

https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/core/lightning.py#L1599

While according to the [TorchScript docs (under Automatic Trace Checking)], `example_inputs` does not support a `dict`, @rohi

[2020-10-29 06:10] #2616 closed

[2020-10-29 06:10] #2634 closed

[2020-10-29 06:10] #2849 closed

[2020-10-29 06:10] #2922 closed

[2020-10-29 06:10] #2727 closed

[2020-10-29 06:10] #1228 closed

[2020-10-29 06:10] #1497 closed

[2020-10-29 06:10] #3065 closed

[2020-10-29 06:10] #2132 closed

[2020-10-29 06:37] rohitgr7 commented on #4140
The forward function above doesn't accept dict that's why that error is coming up.
if the forward function is something like:
[code]
and you would run `torch.jit.trace()` on this with dict `example_inputs` it won't throw an error and will give you a torchscript module. The reason I think that PyTorch specifies that it should be a Tensor or tuple of Tensors is because it is acceptable in other envi

[2020-10-29 06:51] awaelchli commented on #4420
ok, I can confirm this is only happening on pytorch 1.7

[2020-10-29 07:04] harpone commented on #4302
Seemed pretty fast on GPU, but OK. No need to speed it up but a warning would be nice.

[2020-10-29 07:04] #4302 closed

[2020-10-29 08:01] ClaartjeBarkhof commented on #4414
The CUDA error I can resolve by adding the following to my DataModule:

[code]

I am a bit confused, as I thought Pytorch Lightning would handle these things for me.

Now another issue is that Pytorch Lightning seems to ignore my training_step? When I print stuff in there it is not printed, while I run a `fast_dev_run` and it says it has completed a few training batches:

[code]

[2020-10-29 08:21] chiragraman commented on #4333
@awaelchli thanks for the explanation! I think the idea behind the implicit saving was a great feature, but I can see it would need more work to execute correctly. In some measure this would entail keeping AttributeDict as an internal type to be used only in library code while preserving the original type in user code. However, I think a consistent solution is indeed better, and I think explicitly

[2020-10-29 08:46] #3070 closed

[2020-10-29 08:46] #3590 closed

[2020-10-29 08:46] #3241 closed

[2020-10-29 08:46] #3378 closed

[2020-10-29 08:46] #3387 closed

[2020-10-29 08:46] #3446 closed

[2020-10-29 08:46] #3301 closed

[2020-10-29 08:46] #3429 closed

[2020-10-29 08:46] #2598 closed

[2020-10-29 08:46] #3401 closed

[2020-10-29 08:55] ludwigwinkler commented on #4154
Mh, I can't reproduce it either.
I set the trainer to train for two epochs which corresponds to 4000 training steps and the early stopping triggers after the second epoch. The min_steps flag is set to 4100.
https://colab.research.google.com/drive/1MCmXCwiPpuDYPkKhmxcI431Jk4U2PoZl?usp=sharing#scrollTo=Flyi--SpvsJN

What's weird though is, that every validation epoch adds a single increment to the g

[2020-10-29 09:26] ClaartjeBarkhof opened #4423 "Weird behaviour multi-GPU (dp, gpus > 1) tensors not converted to cuda"
## 🐛 Bug

I encounter unexpected behaviour for different versions of Pytorch Lightning:

- When using  PL version `1.0.4` my train step is ignored all together. When I run with `fast_dev_run` my prints in `training_step` are not printed while the prints in `validation_step` are...

- When using PL version `1.0.2` my train step is not ignored, but other unexpected stuff happens:
1. when using 1 GPU

[2020-10-29 09:27] tchaton commented on #4380
[code]
I create this code to reproduce the bug, but I couldn't reproduce it. I have removed the __name__ by default which None

[2020-10-29 09:35] maxjeblick opened #4424 "Batch size finder fails in DDP mode"
## 🐛 Bug

The batch size finder fails in DDP mode, as `os.remove` is [called](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/tuner/batch_size_scaling.py#L113) from each process trying to load and delete the same model checkpoint.
The batch size finder works if the `os.remove` line is commented out (leaving the temporary checkpoint).

### To Reproduce

Run` trai

[2020-10-29 09:50] #4207 closed

[2020-10-29 10:03] SkafteNicki commented on #4424
Maybe we could add the `rank_zero_only` decorator to the call?
https://github.com/PyTorchLightning/pytorch-lightning/blob/f76bc5254e4ca5591a240aa19c8e3c5180d247df/pytorch_lightning/utilities/distributed.py#L30-L41

[2020-10-29 10:50] pietrolesci commented on #678
Hi @wheatdog,

I am working on meta-learning. I personally prefer the `higher` library as it gives more flexibility and is "nearer to the metal". I tried to reimplement [this](https://github.com/tristandeleu/pytorch-meta/blob/master/examples/maml-higher/train.py) example using pytorch-lightning. It still need some nurturing but the high-level (design) idea is there. You can find my implementation

[2020-10-29 10:57] FluidSense commented on #2114
Still an issue at version 1.0.4, module_arguments are not present in the checkpoint.

[2020-10-29 11:02] maxjeblick commented on #4423
I had the same issue using multiple GPUs, I need to call `batch_to_device` explicitly in the training/validation steps.

[2020-10-29 11:06] maxjeblick commented on #4420
I have the same issue on 1080ti, with V100 GPUs everything works fine.

[2020-10-29 11:07] jonas-ricker opened #4425 "Initializing Trainer fails if default_root_dir is SFTP address"
## 🐛 Bug

I'm using MLFlow as a logger and an SFTP Server as artifact store. However, with ```Trainer(default_root_dir="sftp://something")``` the following error occurs:

[code]

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing)

https://colab.research.google.com/drive/1otdJrf2INa7277tH8iimInS6WWcC2M26?u

[2020-10-29 12:36] Vozf commented on #3994
This is a major bug and a strange behavior overall. Why pl is even renaming my metrics when I explicitly set them when I'm logging

[2020-10-29 12:42] #3461 closed

[2020-10-29 12:42] #2109 closed

[2020-10-29 12:43] #3282 closed

[2020-10-29 12:43] #3513 closed

[2020-10-29 12:43] #1856 closed

[2020-10-29 12:43] #3535 closed

[2020-10-29 12:43] #2520 closed

[2020-10-29 12:43] #2385 closed

[2020-10-29 12:43] #3512 closed

[2020-10-29 12:43] #3382 closed

[2020-10-29 12:58] ClaartjeBarkhof commented on #4423
Hey, ah okay, great. I am doing that now which indeed gets rid of the error. Thanks @maxjeblick

New error is thrown though:
[code]

Which probably happens because the losses at different GPUs are not combined well, making them into a vector of length number of GPUs instead of summing.

So, all in all "dp" mode does not really seem to work so well in my setting? What am I missing?

[2020-10-29 13:39] ClaartjeBarkhof commented on #4423
Okay this error does not occur in "ddp" mode, so will use that now. :)

[2020-10-29 13:50] ClaartjeBarkhof commented on #4424
I get the same error:
[code]

[2020-10-29 14:02] ozen commented on #4012
@rohitgr7 could you reopen this issue?

[2020-10-29 14:19] rohitgr7 commented on #4012
Is it still an issue or not working as expected?

[2020-10-29 14:24] ozen commented on #4012
@rohitgr7 it's an issue. The way `ModelCheckpoint._format_checkpoint_name()` method is implemented prevents using metrics that contain a slash.

[2020-10-29 14:31] rohitgr7 commented on #4012
Interesting, I actually added a test for this
https://github.com/PyTorchLightning/pytorch-lightning/blob/b459fd26ac773484e4c97c12e4bab221bb1609b0/tests/checkpointing/test_model_checkpoint.py#L225-L229
 not sure why is it not working. Can you put an example here, what's not working from your side. I'll have a look :)

[2020-10-29 14:35] ozen commented on #4012
`assert ckpt_name == 'epoch=4_val/loss=0.03000.ckpt'` will pass.
But this won't create a checkpoint file named "epoch=4_val/loss=0.03000.ckpt"; it will create a directory named "epoch=4_val" and a file named "loss=0.03000.ckpt" inside that directory. If there are more than one metric with slashes, more directories...
This is the obvious result of using a slash in the name. But the way file name fo

[2020-10-29 14:42] rohitgr7 commented on #4424
isn't running batch size finder on DDP a bit weird. I mean it just tells you the batch size to use and one can get that while running on a single gpu too and with ddp it's just using the same batch_size on all the devices.

or am I missing something here?

[2020-10-29 14:47] rohitgr7 commented on #4012
I'm still little confused. What do you want your filename to be like? Don't you want to inject the metric values inside it?

[2020-10-29 14:50] ozen commented on #4012
We're not talking about metric values. It injects metric **names**, which may contain a slash, which creates **directories** instead of a file. I'm sorry I'm repeating the same for the 3rd time but I don't know how else I can explain this.

[2020-10-29 14:57] maxjeblick commented on #4424
Yes, it's ideally running on a single GPU, only. Currently, I run `trainer.tune` on a single GPU, and then run `trainer.fit ` afterwards with the batch size obtained.

[2020-10-29 15:02] rohitgr7 commented on #4012
Yeah I got that directory issue, AFAIK this is expected behavior when you have slashes in the filepath.

your this statement got me confused.

What do you suggest, how should this work if filename contains slashes? raise a warning/exception or some replacement with another character or something else?

[2020-10-29 15:06] sileod commented on #2343
Hi, I still get the issue when using a frequency that is not equal to 1 (e.g. in a GAN network with two optimizers, and n_critics=5)

[2020-10-29 15:06] sileod commented on #2343
Hi, I still get the issue when using a frequency that is not equal to 1 (e.g. in a GAN network with two optimizers, and n_critics=5)

[2020-10-29 15:11] williamFalcon commented on #2343
can you upgrade to 1.0.3+?

[2020-10-29 15:11] williamFalcon commented on #2343
@edenafek

[2020-10-29 15:13] maxjeblick opened #4427 "Gradient accumulation fails with fp16 precision"
## 🐛 Bug

Setting `accumulate_grad_batches > 1` and `precision = 16` causes the following error:

`RuntimeError: unscale_() has already been called on this optimizer since the last update().`

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing)

https://colab.research.google.com/drive/1_7pxqPlpc79k0VYlRdtR

[2020-10-29 15:16] sileod commented on #2343
I'm on master (1.0.4)

[2020-10-29 15:19] junwen-austin commented on #4396
@SkafteNicki Thanks for the information. This has been very useful.

[2020-10-29 15:20] williamFalcon commented on #2343
mind submitting a new issue and reproducing on the boring model template given in the issue template?
Thanks!

[2020-10-29 15:33] junwen-austin commented on #4395
@s-rog Thanks for your comment.

if I do
[code]
It looks like it is still doing **sum** of losses from all GPUs, instead of averaging them.

Also, it appears the documentation is not clear about "doing `self.log('loss/train', loss)` logs only the value from rank (gpu) 0":

_Depending on where log is called from, Lightning auto-determines the correct logging mode for you. But of course you can over

[2020-10-29 15:33] robogast commented on #4389
I fixed the latter issue by moving to a newer NCCL toolchain, so that was probably some config error on my end.
The former issue still stands though, also with my updated NCCL.

[2020-10-29 15:53] its-dron commented on #4012
I think there are two workable solutions:

1. Replace slashes with a safe character like an underscore or hyphen, as ozen suggested. Raising a warning is an option, but I'd find it annoying.
2. Remove or make the metric name insertion optional. Give the developer precise control over exactly how their checkpoint is named.

[2020-10-29 15:57] rsokl commented on #4390
@awaelchli this looks good! But as @rohitgr7  mentioned there needs to be a class to `self.save_hyperparameters()` to make the code snippet correct

[2020-10-29 16:05] s-rog commented on #4395
https://pytorch-lightning.readthedocs.io/en/stable/lightning_module.html#log

From here you can see by default `sync_dist=False` but yes the docs from the logging section is not clear and a PR is in order.

The progress bar sum behavior is definitely not intended as well and would require a fix, I'll be taking a closer look when I get a chance.

[2020-10-29 16:23] sarmientoj24 opened #4430 "Colab TPU Exception in device=TPU:4: Could not run 'torchvision::nms' with arguments from the 'XLA' backend"
## 🐛 Bug

Getting this error on Colab:

[code]

### Environment

Colab Notebook: https://colab.research.google.com/drive/1HNn5YAQTenVXkllY9cITIVYFAo8ITJBX?usp=sharing

* `IDE`: Please, use our python [bug_report_model.py](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/bug_report_model.py
) template.

* `Colab Notebook`:
`* CUDA:
	- GPU:
	- available:         False
	-

[2020-10-29 16:30] edenlightning commented on #4427
Thanks for taking this @ydcjeff!

[2020-10-29 16:32] edenlightning commented on #4414
@nateraw

[2020-10-29 16:37] s-rog commented on #4395
@tchaton I saw that you were working on #4374 perhaps you have an idea of where the source of this bug is?

Upon preliminary inspection the syncing and reduction happens right after calling `log()` which should mean loggers and progress bar recieve the same value...

[2020-10-29 16:42] ydcjeff commented on #4370
@pafi-code are you interested in implementing this feature?

[2020-10-29 17:07] ananthsub commented on #4424
a separate bug here is that the tuner should use `fsspec` to work with remote file paths

[2020-10-29 17:22] ydcjeff commented on #4137
@edenlightning I can confirm this is not a bug, `val_check_interval` works within each epoch and resets every epoch.

[2020-10-29 17:24] #924 closed

[2020-10-29 17:27] edenlightning commented on #3302
Feel free to reopen with an example, closing this otherwise.

[2020-10-29 17:27] #3302 closed

[2020-10-29 17:31] #2595 closed

[2020-10-29 17:31] #4092 closed

[2020-10-29 17:50] jonghwanhyeon commented on #4255
It seems enough to just wrap `self.train_metrics` dict using `torch.nn.ModuleDict`.

[code]

[2020-10-29 17:54] suo commented on #4140
@ananthsub Scripting is generally recommended. Since the tracer can only record observed tensor operations, there are a number of corner cases where the resulting graph may not generalize in surprising ways. Common pitfalls include: control flow, device-specific code, different sizes, etc.

That said, if tracing works (and tracing generally works well for a large class of models that don't have an

[2020-10-29 18:01] ydcjeff commented on #3912
@PyTorchLightning/core-contributors sounds good?

[2020-10-29 18:02] ydcjeff commented on #3755
Closing it as it is resolved, feel free to reopen if needed

[2020-10-29 18:02] #3755 closed

[2020-10-29 18:05] ydcjeff commented on #3705
Closing it as it is resolved, feel free to reopen if needed

[2020-10-29 18:05] #3705 closed

[2020-10-29 18:09] rohitgr7 commented on #3912
IMO it should be a part of LightningModule since gradients are involved here.

[2020-10-29 18:10] ydcjeff commented on #3569
@zhouwuxiong could you try 1.0.4 and see if this still exists?
If this still exists, please use [the colab](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing) for reproducible example

[2020-10-29 18:15] #4394 closed

[2020-10-29 18:20] edenlightning opened #4432 "Auto scale drone CI"

[2020-10-29 18:24] ydcjeff commented on #2660
@rbracco sorry for late reply, are you still interested in sending PR?

[2020-10-29 18:35] teddykoker commented on #4416
@snisarg, we are using an `nn.Module` for the metrics so that the state of the metric can be passed `.to()` different devices, which is necessary if you want to use them in both Lightning or just plain PyTorch. We are still using `torch.distributed` to sync the metric states across GPUs.

[2020-10-29 18:48] jefflai108 commented on #2239
I am having the same issue, switching from FP16 back to FP32 solves the problem.

[2020-10-29 19:48] gianscarpe commented on #3827
Hi @williamFalcon, I would like to start contributing to pytorch-lightning. Is this still a first good issue?

[2020-10-29 19:49] edenlightning commented on #4151
prob also https://github.com/PyTorchLightning/pytorch-lightning/issues/4427

[2020-10-29 19:54] edenlightning commented on #4148
might be fixed by https://github.com/PyTorchLightning/pytorch-lightning/pull/4311

[2020-10-29 19:54] edenlightning commented on #4427
might also be fixed by https://github.com/PyTorchLightning/pytorch-lightning/pull/4311

[2020-10-29 20:09] edenlightning commented on #4245
@tchaton update on this issue?

[2020-10-29 20:24] edenlightning commented on #4248
Thanks for the issue! If you have any ideas to speed up, would be great :)

[2020-10-29 20:29] jtcramer commented on #4423
I'm also seeing this behavior with >1 GPU with the DP accelerator.

[2020-10-29 20:32] jtcramer commented on #4423
I'm seeing this error in PyTorch Lightning 1.0.2 though, so the cause seems to have been introduced in or before the 1.0.2 release.

[2020-10-29 20:38] Vichoko commented on #2552
We need this! 🤩

Even for classification pytorch lightning modules, would be useful to obtain mAP metric over the `test_dataloader` data samples in a standard way that works with DDP.

[2020-10-29 20:47] edenlightning commented on #4280
Wow that's interesting. @SkafteNicki is this related to tune? or prob to checkpointing?

[2020-10-29 20:48] Vichoko commented on #4404
Try setting `drop_last=False` attribute on DataLoader.

[2020-10-29 20:49] edenlightning commented on #4294
@ananyahjha93 any ideas here?

[2020-10-29 20:52] edenlightning commented on #4298
@awaelchli ideas?

[2020-10-29 20:53] edenlightning commented on #4303
@ananyahjha93 mind taking a look?

[2020-10-29 21:00] edenlightning commented on #4312
Thanks for the issue! Mind updating to 1.0.3 to see if issue persists?

[2020-10-29 21:04] awaelchli commented on #4386
Yes, I believe this is related to the bug #4014 and #4336 will fix that.

[2020-10-29 21:04] edenlightning commented on #4316
@awaelchli is this a bug?

[2020-10-29 21:08] edenlightning commented on #4353
@teddykoker @ananyahjha93 please take a look as well

[2020-10-29 21:09] edenlightning commented on #4356
Thanks for the issue! Want to submit a fix?

[2020-10-29 21:17] edenlightning commented on #4364
Thanks for the suggestion! Mind sending over a PR with the fix?

[2020-10-29 21:19] edenlightning commented on #4365
@SeanNaren mind taking a look?

[2020-10-29 21:27] teddykoker commented on #4361
As @SkafteNicki said, this comes down to more of a limitation of `torch.load` if you add new `nn.Modules` as attributes to a model, you will not be able to load an older version without specifying `strict=False`.

If you do not want this behavior when implementing your own metric, you can simply pass `persistent=False` when you call `add_state`. (only works in PyTorch 1.7+).

Do people think every

[2020-10-29 21:41] edenlightning commented on #4414
@justusschock maybe you can have look?

[2020-10-29 21:45] edenlightning opened #4434 "add fsspec suport to tuner"
see https://github.com/PyTorchLightning/pytorch-lightning/issues/4424

[2020-10-29 21:47] edenlightning commented on #4424
Maybe we can add a warning here, to move to one GPU? thoughts?

[2020-10-29 21:56] edenlightning commented on #4012
Feel free to send a PR with your suggestion!

[2020-10-29 22:03] edenlightning commented on #3076
@nateraw update on your decision here

[2020-10-29 22:15] carmocca opened #4436 "Some test directories clash with standard library modules"
Namely:

https://github.com/PyTorchLightning/pytorch-lightning/tree/master/tests/trainer/warnings
https://github.com/PyTorchLightning/pytorch-lightning/tree/master/tests/trainer/logging
(I haven't checked if there are more)

This is problematic, for example, when you run tests using a tool like PyCharm. This is because local modules take precedence over stdlib modules.

So you get errors like this

[2020-10-29 23:06] awaelchli commented on #3981
The 3rd point there is old, the approach with self.hparams =... still works but is not recommended.
In #4417 I added the missing self.hyperparameters in the docs and we will either remove point 3 from docs or put a warning that it is deprecated.

[2020-10-29 23:43] #2771 closed

[2020-10-29 23:43] #3522 closed

[2020-10-29 23:43] #3455 closed

[2020-10-30 00:14] sudarshan85 commented on #4427
I'm only getting this error on 1.0.4 (after I upgraded a few hours ago). I downgraded to 1.0.3 and there is not there.

[2020-10-30 00:20] wolterlw commented on #2114
@FluidSense did you call `self.save_hyperparameters()` in LightningModule's `__init__`?

[2020-10-30 00:27] junwen-austin commented on #4396
I'd like to get the validation accuracy over the entire validation data and I have seen some strange results on it with DDP. I want to make sure I am doing the right thing with metrics with DDP. Below is my psedu-code:

[code]

Could someone tell if this implementation is to give me validation accuracy for the entire validation data? Thanks.

[2020-10-30 00:56] carmocca commented on #4356
I took a shot at it, but realized this is part of a larger issue.

There is not much documentation about what are the supported uses for `num_processes` ([other than `ddp_cpu`](https://pytorch-lightning.readthedocs.io/en/stable/trainer.html#num-processes)). Looking at the code, it seems like the following `accelerator` values can use `num_processes>1`:

1) `None`: What does it default to? Executio

[2020-10-30 01:16] s-rog commented on #4420
@maxjeblick sounds like a driver issue?

[2020-10-30 02:18] desmondchchan commented on #4137
Reseting every epoch makes some sense when the `val_check_interval` is a float between 0 and 1 but not when `val_check_interval` is an int. However, there is still a problem that we are not able to align the training step and validation step logging.

[code]

[2020-10-30 02:26] cool425589 commented on #4364
@edenlightning Thanks. I will send over a PR with the fix later.

[2020-10-30 03:07] awaelchli commented on #4333
After the  user calls `self.save_hyperparameters()`, they can access each parameter through `self.hparams`, if they want to, but this is optional. In the context of save_hyperparameters, I believe this is the only use for AttributeDict.

I'm not sure what you mean. With the save_hyperparameters method, we preserve all types. The container that holds all parameters is a AttributeDict, and this gets

[2020-10-30 03:38] NumesSanguis commented on #3981
@awaelchli I have raised some questions and concerns about not supposing to use `self.hparams` to assign values, here: https://github.com/PyTorchLightning/pytorch-lightning/pull/4417#discussion_r514754403

[2020-10-30 03:47] #4014 closed

[2020-10-30 03:47] #4386 closed

[2020-10-30 03:52] awaelchli commented on #4386
@Vozf this should be fixed now. make sure to pass your modelcheckpoint instance to the callbacks, i.e.:
[code]
It's probably best if you change your configuration so that the model checkpoint is directly in cfg.callbacks.

[2020-10-30 05:12] ls-da3m0ns opened #4438 "Display training summary at the end of final epoch"
## 🚀 Feature

It would be nice if trainer at the end of training prints complete summary of the training (train and val loss after each epoch)

[2020-10-30 05:53] rohitgr7 commented on #4438
A custom callback can do this job.

[2020-10-30 06:17] s-rog commented on #4395
ok the issue is with the default loss logging, not the one you called with `self.log`
you can test it with the following which works correctly:
[code]
The reduction behavior for the default loss is sum (sync_dist_op=None) and we need to change it to mean (sync_dist_op='mean')

[2020-10-30 06:41] awaelchli commented on #4420
I tested the following with our examples:
ddp 1080ti pytorch 1.7: error
ddp 1080ti pytorch 1.6: good
ddp 2080ti pytorch 1.7: good
ddp 2080ti pytorch 1.6: good

so far was not able reproduce with pytorch examples :( need to dig deep

[2020-10-30 06:47] achinta commented on #765
Any suggestions on how to resolve this?

[2020-10-30 06:51] Vozf commented on #4386
Thanks for advice. But what is the difference when passsing `modelCheckpoint` as `callback` vs `chekpoint_callback`?

[2020-10-30 06:51] awaelchli commented on #765
In which terminal emulator are you running this?
I often see this tqdm behavior in PyCharm and as far as I know we can't do anything about it. It's a tqdm issue.

[2020-10-30 06:53] awaelchli commented on #4386
there isn't supposed to be a difference, however, the former is now deprecated and will be unsupported.
all callbacks must be passed into the callbacks list.

[2020-10-30 06:59] achinta commented on #765
I ran it  on zsh and bash. tqdm==4.48.2, pytorch-lightning==1.0.0

[2020-10-30 07:01] awaelchli commented on #4333
I was thinking about this a bit more and there is a strong argument against having AttributeDict in the checkpoint.
Since it is a pytorch lightning construct, it requires pytorch lightning in the environment when unpickling the checkpoint.
This is a problem when one tries to load a checkpoint with pure torch.load in an environment where Lightning is not installed.

[2020-10-30 07:52] chiragraman commented on #4333
Hi Adrian,

Exactly! Your last comment is closer to what I was alluding to. If the design goal is that lightning is a thin platform on top of pytorch (which I think is one of its advantages compared to other libraries), then any custom types should be internal to the library and be transparent to the user code, not only in the serialized checkpoint. I ought to have been clearer about my question,

[2020-10-30 08:30] awaelchli commented on #4333
Currently it will have type AttributeDict, you are right, but only because Lightning offers this as a "feature" that all arguments collected with save_hyperparameters are accessible via self.hparams. I think the example you just made is interesting, because practically, the two ways `self.save_hyperparameters` and `self.hparams = hparams` are mutually exclusive. **They are not meant to be mixed.**

[2020-10-30 08:31] FluidSense commented on #2114
@wolterlw No, you're right! That was the issue. I discovered the pull requests regarding updating the docs regarding checkpoint saving last night, and there I discovered that I was missing that line.

[2020-10-30 08:40] awaelchli commented on #4333
I think a good way to move forward is to
1. remove the setter for self.hparams (only provide the getter)
2. store hyperparameters in a dict in checkpoint, not AttributeDict.
3. remove references to old way of saving and loading hyperparameters in docs, or put warning that it is deprecated

[2020-10-30 08:40] chiragraman commented on #4333
Adrian, thank you so much for taking the time to write all that out! That clears everything up. Haha coming from a C++ background it took me a few years to get used to Python's philosophy of treating coders as adults and letting them shoot themselves in the foot, but given that, can't see anything here that is problematic. Maybe a gradual phasing out the possibility of mixing the old and new ways?

[2020-10-30 08:48] awaelchli commented on #4333
Yes that is true, the Python magic is hiding a bit too much here.

https://github.com/PyTorchLightning/pytorch-lightning/issues/4333#issuecomment-719422339 what do you think of this plan?

[2020-10-30 08:53] Shreeyak commented on #4228
I'm still working on it. This is my first time, so just setting up the dev environment, familiarizing myself with the codebase. Will make progress this weekend.

[2020-10-30 09:06] chiragraman commented on #4333
Ah sorry, I think we both posted comments at the same moment and I missed yours.

1. I have to check the relevant code, but if it's not already, I think making hparams a read-only attribute might be a valid choice to consider here. The `save_hyperparameters()` is then serving the function of being an explicit setter for the attribute, but in the interest of the single responsibility principle, it

[2020-10-30 10:00] justusschock commented on #4414
@ClaartjeBarkhof I'll try to look into this.

I got a couple of questions here to start with:

Does that mean, you also try single-GPU and it does not work?

That's True, but could you maybe try to get a small reproduction script outside colab for me? Unfortunately, I am not that familiar with your code and this a minimal example for reproduction would help a lot.
I am asking, since locally I cann

[2020-10-30 10:18] Renthal commented on #2495
I have the same issue, but not on the sample code provided. The only difference in my sample code is that using a custom dataset and L1 loss the numbers are (initially) over 200.0 (as opposed to MNIST where it starts very low).
All is fine until after ~10 epochs where the loss in the pbar becomes 'inf'; whereas the logs shows the correct value being around 20.

[2020-10-30 11:07] FrancescoSaverioZuppichini commented on #3302
Sure, but I don't think I will ever use again this library

[2020-10-30 12:30] LakshyaMalhotra commented on #4404
@Vichoko I'm still having the same error even after setting `drop_last=True` in the dataloader.

[2020-10-30 13:06] edenlightning commented on #4436
Thanks for the issue! Mind sending over a PR?

[2020-10-30 14:15] edenlightning commented on #4430
This is an XLA issue: https://github.com/pytorch/xla/issues/2587

[2020-10-30 14:15] #4430 closed

[2020-10-30 14:39] Vichoko commented on #4404
Ok, my bad.
Now taking a further look I noted the aggregation behaviour you added on `validation_epoch_end` isn't needed as the loss and accuracy metrics are aggregated by themselves on epoch ended. I'd remove this method completely.

Also, I'd homologate the metric names on validation step as you are using 3 different types, loss and accuracy, then loss_val and acc_val and in the train step you a

[2020-10-30 15:25] sarmientoj24 commented on #3660
hi, i am experiencing being stuck on 0% at first epoch when using TPU with pytorch-lightning. any possible reasons why?

[2020-10-30 15:49] nathanpainchaud opened #4442 "Random CUDA OOM error when starting SLURM jobs"
## 🐛 Bug

When submitting jobs to SLURM, some jobs (around 1-2% of them) will randomly encounter a CUDA OOM error during the setup prior to training. I can confirm it's not an issue with the configuration of the job vs hardware itself, since I can resubmit the exact same job script and it will work. I also know that my resource consumption is not even close to the limit, since the jobs that do wor

[2020-10-30 15:54] swethmandava commented on #4290
Another side effect of moving to 1.0.3 from 0.9.0 is a change in my convergence properties. while looking into the logs, i see validation is now done on all GPUs vs just one gpu in 0.9.0. early stopping is being triggered early now - is it checking for "any" gpu instead of "all" ? @tchaton

[2020-10-30 16:37] gianscarpe commented on #3827
Update:
This line is causing three tests in `tests/backend/test_ddp.py` to fail.
`from tests.base import EvalModelTemplate` in `tests/backends/model_dpd.py`

The error is `\nModuleNotFoundError: No module named \'tests.base\'\n'`. I think it could be related to this issue

[2020-10-30 17:29] catalys1 opened #4444 "Error with DDP and automatic_optimization=False"
## 🐛 Bug

When running with `distributed_backend="ddp"` and `automatic_optimization=False`, there is an error when returning a detached tensor. More details below. I'm using lightning version 1.0.4; I also saw the same thing in 1.0.3. First, here's the code:

[code]

### To Reproduce

If you save the script above as `ddp_bug.py` and run the following command:
[code]
the resulting error is thrown:

[2020-10-30 17:48] edenlightning opened #4445 "wave2vec integration in NeMo"
to promote NeMo/lightning further in a medium article showing accessibility and ease to make audio research headway

[2020-10-30 17:48] #4445 closed, assigned to nobody

[2020-10-30 17:53] edenlightning opened #4446 "Checkpoint docs update"
make sure we don't use the old interface in notebooks and old examples

[2020-10-30 18:17] akihironitta commented on #4400
Can I work on this issue?

[2020-10-30 18:18] hakanyi commented on #4389
Same problem here -- let me know if I can help debugging. Thanks!

[code]

[2020-10-30 18:24] catalys1 opened #4447 "In 1.0.4, training_step is never called when optimizer_step is overriden"
## 🐛 Bug

Something changed from `1.0.3` to `1.0.4`: in `1.0.3` I was able to override `optimizer_step` in my LightningModule and everything worked fine. But in `1.0.4`, when I override `optimizer_step` it causes `training_step` to be skipped.

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/19BSV_Hesf2x2c4yHVI9n8WUlIRl9F7w2?usp=sharing)

[BoringMo

[2020-10-30 18:29] vobecant opened #4448 "SimCLR gather in forward pass"
## 🚀 Feature
Hi,
I would like to ask whether the PL implementation of SimCLR method performs gather in the forward pass as they do it in the official implementation https://github.com/google-research/simclr/blob/036ea7baa3eeb255c88a08392fcdc1d55bb8133f/objective.py#L59. Or is it unnecessary and is it done somehow under the hood?

### Motivation

Possible mismatch between official and PL implementa

[2020-10-30 18:49] jwspaeth commented on #4447
Also ran into this bug. Fixed in my case by passing optimizer.step the optimizer_closure, as they do in LightningModule [here](https://github.com/PyTorchLightning/pytorch-lightning/blob/9cfd29946a308526cee088c176a2285e6752453c/pytorch_lightning/core/lightning.py#L1216).

[2020-10-30 18:56] #3304 closed

[2020-10-30 19:15] rohitgr7 commented on #4176
Hi @michele-arrival , can you check whether #4372 solves your issue?

[2020-10-30 19:16] adarsh-kr opened #4449 "AttributeError: 'dict' object has no attribute 'get_epoch_log_metrics'"
####  I have created a lightning module which is working fine for single validation dataset but throws following error while using multiple validation dataset:

[code]

Here's my `validation_step` method. To support single as well as multiple validation dataset I have kept `dataset_idx = 0`

[code]

Looking at the error msgs, I commented the logging part, which seems to get rid of the error.

####

[2020-10-30 19:32] catalys1 commented on #4447
Thanks, that seems to be working. If this is going to be the required way of handling it (unlike in previous releases) then I think it needs to be clearly pointed out in the documentation. Otherwise, hopefully it can be fixed before the next maintenance update.

[2020-10-30 19:47] nathanpainchaud commented on #3813
@tchaton Any updates on whether this is a feature that's planned to be supported, or on the contrary it's been abandoned? I'm only asking this question because the issue has been labelled priority for a while, but every PR referring to it have been closed without getting merged :laughing:

[2020-10-30 20:41] angadkalra commented on #4294
Currently, I have 320x128x128 tensors (float16) working (batch_size=8, num_workers=6). I notice that when I use shuffle=True in dataloader I get segfault after 70 batch iters. Also, when I try to increase to 192x192 or 224x224, segfault. One thing that seems to help is clearing system buffer/cache before training.

[2020-10-30 20:59] ananyahjha93 commented on #4448
we don't have this right now, this feature is in the process of being added with simclr_fixes

[2020-10-30 21:01] ananyahjha93 commented on #4438
@rohitgr7 do we have a custom callback for it or do you think it should be added in?

[2020-10-30 21:06] dlrac commented on #4045
@awaelchli A few weird things happened, but they are on our end. :)

[2020-10-30 21:19] rohitgr7 commented on #4438
@ananyahjha93 We don't have this right now. But if it's good to have such a callback, we can add it.

[2020-10-30 21:22] jonashaag opened #4450 "Data loading hangs before first validation step"
## 🐛 Bug

After training epoch, before the first validation step, training gets stuck somewhere in the data loaders (I think).

I can't provide a reproduction script unfortunately: Getting the training into the specific situation takes a long time (must train for long enough for the situation to arise).

I train on 4x 1080 Ti using DDP and num_workers=20. After the first training epoch, before the

[2020-10-30 21:28] LakshyaMalhotra commented on #4404
@Vichoko Thanks for your reply! Like you mentioned I changed my code but still I got the same error. Following is the updated code:
[code]
The only way the code works without giving any error is when I remove the code for finding the best `learning_rate`.  Whenever I add the `lr_finder` in the code I end up in the same error.

[2020-10-30 21:49] williamFalcon commented on #3813
Yes! thats been worked on these weeks. Starting to be merged now (https://github.com/PyTorchLightning/pytorch-lightning/pull/4439)

[2020-10-30 21:50] vobecant commented on #4448
Thank you for your response. Any idea of when will these fixes added?

[2020-10-30 23:22] #1758 closed

[2020-10-30 23:22] #3333 closed

[2020-10-30 23:22] #3570 closed

[2020-10-31 00:19] edenlightning opened #4452 "Training_step outputs not propagated"
cc @ananthsub @awaelchli @justusschock
Hi, after updating to version 1.0.4,  i think  below approach seems to be not working as desired

[code]

`training_step_outputs` is always empty. On further debugging i find that `training_step` is never getting called, instead this function `training_step_and_backward` is called within `run_training_batch`

Any help appreciated and also apologies if i am ma

[2020-10-31 02:48] ananyahjha93 commented on #4447
yes, I think the docs are a bit old, I am updating them in the fix. Apart from that just making sure that passing optimizer_closure is the only issue here.

[2020-10-31 04:03] jgbos commented on #4420
I can confirm the same error using the latest Lightning and PyTorch using Tesla V100s. Does not happen on a single node with 2 GPUs, but once I go to multiple nodes the error happens.

[2020-10-31 04:10] nazim1021 commented on #4452
Hi @edenlightning , so  I tried to replicate the issue on cifar10 dataset in this cpcv2 based training,  here is boring model - https://colab.research.google.com/drive/1a0svxoAVuPAJTk0QcxHKwzC25DDSjID4?usp=sharing

However, currently, it seems to working fine. Don't see any error.

On my task,  I have exact same model, only the dataset differs, and am running it through command line,  but it alway

[2020-10-31 04:55] ananyahjha93 commented on #4452
@edenlightning @nazim1021 I have the error replicated, related to #4447. With a custom optimizer_step override, if you pass optimizer.step() instead of optimizer.step(optimizer_closure), then the training_step_outputs are empty.

[2020-10-31 05:13] nazim1021 commented on #4452
@ananyahjha93  oh i see, but i think i am not using any custom optimizer_step, Maybe i need to debug little further

[2020-10-31 05:30] nazim1021 commented on #4452
Hi @ananyahjha93  i think your point helped me figured out the bug, i had custom optimizer, like instead of inbuilt Adam, i had an implementation of Ranger optimizer, so on this i think the optimizer_closure may not be getting applied.

[2020-10-31 07:09] KevinMathewT opened #4454 "ReduceLROnPlateau Scheduler documentation problem"
In the documentation it's given that to use ReduceLROnPlateau Scheduler we should do it as:

[code]
But there is no variable initialized as `optimizer` for `'scheduler': ReduceLROnPlateau(optimizer, ...),`, so I did:

[code]

But for some reason the Scheduler was not working. I created a Callback to check, but `trainer.lr_schedulers` gives an empty list.
So I tried:

[code]

And now it's working.

[2020-10-31 07:09] ananyahjha93 commented on #4452
@nazim1021 if you are inheriting Optimizer class now, the step has to take in a closure param.

https://pytorch.org/docs/stable/_modules/torch/optim/optimizer.html#Optimizer

[2020-10-31 09:05] Maybewuss opened #4456 "What's the meaning of frequency about optimizer"
I don't know "only one optimizer will operate on the given batch at every step", if all optimizers's frequency is 1, which optimizer will be used?

[2020-10-31 09:55] rohitgr7 commented on #4456
if you don't use frequency then all the optimizers with take a step in each `training_step`.
but if you define frequencies then it will follow the frequency intervals.
for eg:
if `opt_1_freq = 1 and opt_2_freq = 2`
the it will be like:
[code]

in this case if will be like
[code]
it is sometimes used while training GANs.
see training procedure in `Improved Training of Wasserstein GANs`, Algorithm 1

[2020-10-31 10:07] rohitgr7 commented on #4454
it's a minor doc typo. Mind send a fix?

[2020-10-31 10:07] Maybewuss commented on #4456
Thanks, if i set frequency in lr schedule, it works like optimizer?

[2020-10-31 10:08] rohitgr7 commented on #4449
related #3994?

[2020-10-31 10:16] rohitgr7 commented on #4456
Somewhat similar but not exactly. In case of scheduler if you set a frequency then `scheduler.step()` will take place at frequency interval and all the schedulers with be independent of each other.
For eg
[code]
then it will be like
[code]

[2020-10-31 10:27] JackCaster commented on #4438
I'd like to have an example of such callback

[2020-10-31 10:57] #3624 closed

[2020-10-31 11:16] KevinMathewT commented on #4454
Sure

[2020-10-31 11:52] KevinMathewT commented on #4454
Here is the [pull request](https://github.com/PyTorchLightning/pytorch-lightning/pull/4459).

[2020-10-31 12:15] #4454 closed

[2020-10-31 13:00] ddrevicky commented on #1298
Hi @ananyahjha93 are you working on this? If you're busy with other things I could take a look at this metric :).

[2020-10-31 13:31] Maybewuss commented on #4456
Thanks!

[2020-10-31 13:35] Maybewuss commented on #4456
If i only use one lr scheduler, set frequency = 1 is same as frequency = any number?

[2020-10-31 13:39] rohitgr7 commented on #4456
nope... in the case of schedulers all are independent. so for eg if you set `frequency=3` and `interval='step'`
then
[code]

[2020-10-31 13:42] Maybewuss commented on #4456
Wow~ i see, i think these explanation should be added to documents...

[2020-10-31 13:45] #3500 closed

[2020-10-31 13:52] SkafteNicki commented on #4396
Yes that is the correct way.
Could you explain the strange results you are seeing in ddp mode?

[2020-10-31 13:54] rohitgr7 commented on #4456
already there for optimizers. https://pytorch-lightning.readthedocs.io/en/latest/lightning_module.html#configure-optimizers

but I think can be improved for schedulers. Want to submit a PR?

[2020-10-31 14:00] Maybewuss commented on #4456
How to improve？I think the document is not very clear.....

[2020-10-31 14:03] rohitgr7 commented on #4456
Just checked again, I think it's already there for both optimizers and schedulers. Check both the NOTE sections.

[2020-10-31 14:17] Maybewuss commented on #4456
Maybe my English is not very good..

[2020-10-31 15:06] #4456 closed

[2020-10-31 16:07] ydcjeff commented on #4400
Sure!

[2020-10-31 16:11] ThomasWollmann commented on #4367
Fine for me in Colab. Still not working locally.

[2020-10-31 16:45] LittlePea13 commented on #4396
I am facing similar issues with ddp. When computing F1 using Fbeta, if I use ddp, the results are not the same as running them in dp (in a single machine). To compare I use the same saved checkpoint. In my case the metric is computed in `test_step_end`:
def test_step_end(self, test_step_outputs):

[code]
without logging. And then in `test_epoch_end`:

[code]
So I am not sure if in ddp is just aver

[2020-10-31 16:54] junwen-austin commented on #4396
@SkafteNicki  I am trying a new model with PyTorch Lightning and also with the new metrics in 1.0.3. The strange metric results in DDP may or may not be related to the new metrics. That's why I'd like to make sure I am doing the right thing with the new metrics. This helps me debug any issue that might be related to the new model. Thanks.

[2020-10-31 18:13] SkafteNicki commented on #4396
Thanks @LittlePea13 and @junwen-austin for both getting back to me.
It seems to me that there may be a problem with how metrics are aggregated in ddp mode. I will try to identify the issue and get back to you.

[2020-10-31 18:29] LittlePea13 commented on #4396
No problem @SkafteNicki. Let me know if I can help in any way, I tried to debug a bit but didn't get very far, I am quite new to ddp. And thanks for your work :)

[2020-10-31 19:27] rohitgr7 commented on #4438
found something, this is already present in bolts: [PrintTableMetricsCallback](https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/master/pl_bolts/callbacks/printing.py)

[2020-10-31 20:42] SkafteNicki commented on #4396
@LittlePea13 could you try setting the `dist_sync_on_step` to `True`and see if it solved the problem?
If so then it have something to do with how buffer metric states.

[2020-11-01 00:04] #4324 closed

[2020-11-01 01:10] #2095 closed

[2020-11-01 01:10] #2606 closed

[2020-11-01 01:10] #1658 closed

[2020-11-01 01:16] nazim1021 commented on #4452
oh i see, i ll need to double check the ranger implementation, but i i guess,  i ll need to override optimizer_step as well

[2020-11-01 01:30] LittlePea13 commented on #4396
@SkafteNicki I just tried and the result was still the same by declaring the metric as:
`self.fbeta_test = Fbeta(num_classes=1, dist_sync_on_step = True)`

[2020-11-01 06:27] erap129 opened #4462 "Is there a way to supress all printing and warnings in the Trainer?"
Hello,
I am aware of the `progress_bar_refresh_rate` and `weight_summary` parameters, but even when I disable them I get these GPU warning-like messages:
![image](https://user-images.githubusercontent.com/30405025/97796547-d947fb00-1c1b-11eb-903b-194a8cffcbad.png)
I would like to disable all warnings and printings from the Trainer, is this possible?
Why? because I want to perform several training

[2020-11-01 07:47] akihironitta opened #4463 "refactor: Remove unused `tmpdir` in tests"
## 🚀 Feature (Refactoring)
`tmpdir` fixture provided by [pytest](https://docs.pytest.org/en/stable/tmpdir.html#the-tmpdir-fixture) is used at some places in the tests. However, not all `tmpdir` references are not actually used.

### Example
Below is one example of unnecessary `tmpdir`.
https://github.com/PyTorchLightning/pytorch-lightning/blob/839813eb7be1fbc614859db5086d6ed0d7fd3340/tests/core/te

[2020-11-01 09:26] hoanghng commented on #4396
Overwriting `on_epoch_end` allows computing metrics using all data, but there is no way to log those results (or even use it for model selection. It's because `log_train_epoch_end_metrics` is called right after the loop through batches and before `on_epoch_end`.
https://github.com/PyTorchLightning/pytorch-lightning/blob/b50dd12332bf83209d9535c8516486edc1a6b252/pytorch_lightning/trainer/training_lo

[2020-11-01 09:35] ydcjeff commented on #4462
@erap129 See: https://pytorch-lightning.readthedocs.io/en/0.9.0/experiment_reporting.html#configure-console-logging

[2020-11-01 09:39] FabianBell opened #4464 "SIGSEGV when training on TPU"
## ❓ Questions and Help

### Before asking:
1. Try to find answers to your questions in [the Lightning Forum!](https://forums.pytorchlightning.ai/)
2. Search for similar [issues](https://github.com/PyTorchLightning/pytorch-lightning/issues).
3. Search the [docs](https://pytorch-lightning.readthedocs.io/en/latest/).

#### What is your question?

I tried to apply the reformer model on a sentiment an

[2020-11-01 10:25] xiadingZ opened #4465 "How to save the latest and best checkpoint?"
I can set a checkpoing callback to save best model, but I also want it save the latest model, so that i can `resume_from_checkpoint` from latest checkpoint. how to do this?

[2020-11-01 11:51] Selimonder opened #4466 "stepwise learning rate scheduler"
Hello,

I am trying to manage LR scheduling with my training with pL. Main methods are relying on epoch-wise updates on LR, is there a way to reduce this to step-wise?

 - OS: [Linux]
 - Packaging [pip]
 - Version [1.0.4]

[2020-11-01 11:56] ydcjeff commented on #4465
@xiadingZ  There is `save_last` parameter in ModelCheckpoint that saves the last epoch

[2020-11-01 12:01] xiadingZ commented on #4465
Thanks

[2020-11-01 12:01] #4465 closed

[2020-11-01 14:18] quinor opened #4467 "calling `self.log(..., on_step=True)` in optimizer_step fails"
## 🐛 Bug

calling `self.log(..., on_step=True)` in optimizer_step fails.

### Expected behavior

It should get treated same way if I were to `.log()` in training_step

### Additional context

I believe it's connected to #4439. Tried debugging and hotfixing it but the whole .log() behavior (controlled by `self._current_fx_name`) seems not to be implemented too well.

[2020-11-01 14:36] ayasyrev commented on #4466
https://pytorch-lightning.readthedocs.io/en/latest/optimizers.html?highlight=scheduller
for example:
def configure_optimizers(self):
   optimizer = Adam(...)
   scheduler = {'scheduler': OneCycleLR(optimizer, ...),
                        'interval': 'step'}
    return [optimizer], [scheduller]

[2020-11-01 16:11] SkafteNicki commented on #4396
@hoanghng instead of using `on_epoch_end` could you use `training_epoch_end`? That should work with logging.

[2020-11-01 16:28] EliaCereda opened #4468 "ModelCheckpoint filenames and metric names containing / (slash)"
## 🐛 Bug
The current behaviour of `ModelCheckpoint` is problematic when the checkpoint's name includes a metric whose name contains a slash character.

Since the implementation always includes the name of the metric along with its value, a format specifier like `{some/name}` results in the checkpoint being stored in a subdirectory. Everything appears to work correctly apart from the inconvenience

[2020-11-01 18:26] rohitgr7 commented on #4464
cc @lezwon

[2020-11-01 18:30] rohitgr7 commented on #4463
I think we should keep it as it is. Sometimes we update tests and need this. It doesn't affect the tests right?

[2020-11-01 18:31] rohitgr7 commented on #4468
duplicate #4012??

[2020-11-01 18:36] EliaCereda commented on #4468
Yes, it is. Don't know how I could not find it in my search, sorry for the duplicate.

[2020-11-01 18:36] #4468 closed

[2020-11-01 18:38] rohitgr7 commented on #4468
@EliaCereda btw do you have any suggestions here on how to handle this?

[2020-11-01 18:42] akihironitta commented on #4463
@rohitgr7 Sure. It does not affect the tests at all!

[2020-11-01 18:42] #4463 closed

[2020-11-01 18:46] jhuang265 opened #4470 "Multiple GPU/TPU support?"
I'm working on a project where we want to try using pytorch-lightning to run rerankers on multiple GPU/TPUs. I can't seem to find any direct information if this is possible, as [this link](https://pytorch-lightning.readthedocs.io/en/stable/tpu.html) seems to only indicate that it can run on TPUs but without any information as to whether it is possible to run on multiple ones.

#### Environment

 -

[2020-11-01 18:51] lezwon commented on #3660
@sarmientoj24 mind share the notebook?

[2020-11-01 19:01] EliaCereda commented on #4012
I'm also interested in a solution to this problem.

I think f-strings handle this neatly: by default `f'{metric}'` just outputs the metric's value, while `f'{metric=}'` prints both the name and the value. But I imagine this would be an unacceptable breaking change at this point.

@its-dron's option 1 would be fine for my purposes, since the existing syntax just works without any changes and I don'

[2020-11-01 19:01] EliaCereda commented on #4468
I left a comment in the original issue ;)

[2020-11-01 22:41] neergaard opened #4471 "Help with understanding unknown 'c10::Error' thrown during DDP training"
## 🐛 Bug

This is not going to be a good and concise description, since I have no way of reproducing the error with 100% certainty. However, more and more I get these types of `c10::Error` instances thrown during training, both during the training phase and during the validation phase. I am running DDP on a single-node with 20 CPUs and 4 GPUs. The error is not located to any specific node.

I don'

[2020-11-01 23:27] #3292 closed

[2020-11-01 23:39] SeanNaren commented on #4204
Thanks @denadai2! I'll modify the doc example to report loss value, if you care about logging your loss values (which in most cases is yes!)

[2020-11-01 23:46] SeanNaren commented on #4295
Thanks @catalys1 you are correct, however recent changes should have resolved this issue since the nan check only runs if using automatic optimization:

https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/trainer/training_loop.py#L779-L789

In #4204 we'll make it clearer that you should report values within the training step via the docs :)

[2020-11-01 23:46] #4295 closed

[2020-11-02 01:11] SCRIER-org opened #4472 "import pytorch_lightning as pl: Segmentation fault (core dump)"
Pytorch_lightning immediately segfaults upon loading at the first executable line in the file:
`import pytorch_lightning as pl`
apparently it's doing this upon attempting to load `/opt/anaconda3/lib/python3.8/site-packages/torchtext/_torchtext.so`, which exists and is not protected, after _not_ crashing when it loaded `/opt/anaconda3/lib/python3.8/site-packages/torchvision/_C.so`.  It seems to be

[2020-11-02 02:08] Rashindrie commented on #3651
Hi @edenlightning

Sure, will try that.
Give me some time to get back to you. Currently overloaded by some other tasks.

[2020-11-02 02:40] deng-cy commented on #3323
You can return `None` to skip a step.

[2020-11-02 04:49] richardliaw commented on #1325
Hi @williamFalcon, any update on this? We'd be more than happy to explore an integration!

[2020-11-02 05:18] #4446 closed

[2020-11-02 06:20] cheulyop opened #4473 "Allow Trainer to accept dictionary as input?"
I searched issues and the forum but couldn't find anyone who mentioned this, so here I'm asking: can we allow Trainer to accept dictionaries as an input argument?

This came up as I'm writing a script to run experiments under various configurations. For each experiment, I'm passing a configuration file (in JSON) into an experiment runner which builds callbacks, Trainer, and models internally. At t

[2020-11-02 07:00] s-rog commented on #4450
try using fast_dev_run to see if your validation loop works

[2020-11-02 07:12] s-rog commented on #4466
I'll close this for now, feel free to re-open if you have more questions.

Also check out our forums: https://forums.pytorchlightning.ai/

[2020-11-02 07:12] #4466 closed

[2020-11-02 07:13] hoanghng commented on #4396
@SkafteNicki Thanks a lot. It works like a charm.

[2020-11-02 07:15] s-rog commented on #4473
trainer currently supports namespace/argparse, check out:
https://pytorch-lightning.readthedocs.io/en/stable/trainer.html#trainer-in-python-scripts

[2020-11-02 07:24] s-rog commented on #4471
Yeah this is a pytorch/cuda issue rather than lightning, though I would start by looking at your env setup and dataloader code.
I'll close this for now, if you find that the issue is caused by lightning, feel free to re-open!

[2020-11-02 07:24] #4471 closed

[2020-11-02 07:33] ydcjeff commented on #3323
According to @deng-cy comments, you should be able to skip a batch now.

Closing it as it is resolved, feel free to reopen if needed

[2020-11-02 07:33] #3323 closed

[2020-11-02 07:37] s-rog commented on #4472
This is an env issue with the underlying torch libraries and not lightning.

torch, torchvision, torchtext all have to installed correctly with versions compatible with each other as well as your system driver and cuda version.

If you do find that it is a lightning specific issue, feel free to re-open!

For more help checkout our forums: https://forums.pytorchlightning.ai/

[2020-11-02 07:37] #4472 closed

[2020-11-02 07:41] ydcjeff commented on #4470
Lightning supports multiple GPUs/TPUs.
Just change `gpus` or `tpu_cores` to the amount you want to use

[2020-11-02 07:42] #4462 closed

[2020-11-02 07:54] tchaton commented on #4395
Hey @s-rog,

Great catch ! Let me have a look at it today.

Best regards,
T.C

[2020-11-02 08:46] justusschock commented on #1298
@ddrevicky I think you can give it a shot, thanks!

cc @teddykoker

[2020-11-02 08:48] justusschock commented on #4452
to accept a closure while retaining the current behaviour, the easiest way is to just call the closure beforehand like this:

[code]

[2020-11-02 08:54] tchaton commented on #4470
Hey @jhuang265,

`tpu_cores: How many TPU cores to train on (1 or 8) / Single TPU to train on [1]`

I am updating the doc to make it more clear :)

Best,
T.C

[2020-11-02 09:02] LittlePea13 commented on #4396
@SkafteNicki @hoanghng I feel like I missed something. Are you referring to metrics in ddp? I am using the `*_epoch_end` methods but still see different results with ddp.

[2020-11-02 09:04] #4380 closed

[2020-11-02 09:05] neergaard commented on #4471
That's totally fair, I wasn't exactly sure where the culprit was, and the question was extremely vague anyways.

The only reason for me thinking that PL could be the cause, was because I only get these errors when running DDP training on a single-node multi-GPU system. It works fine for single-node single-GPU on the same system (at least I haven't come across one yet).

[2020-11-02 09:07] SkafteNicki commented on #4396
@LittlePea13 this was just a question about which model methods that actually support logging

[2020-11-02 09:15] cheulyop commented on #4473
Sure, I can certainly convert dict to argparse namespace like this:
[code]
But this looks unnecessarily complicated. There should be an easier/cleaner way to do this? I just can't find one upfront.

[2020-11-02 09:40] s-rog commented on #4471
Have you tried DDP without lightning? I suspect you would run into the same issues, if you are only running into issues with multi gpu I would suggest looking into your NCCL setup (or whichever backend you are using) as well.

[2020-11-02 10:24] michele-arrival commented on #4176
Hi @rohitgr7 thanks for this. Yes I believe after your fix it stops saving new checkpoints after the first one.

[2020-11-02 10:25] michele-arrival commented on #4176
here's what the snipped of code i just used:

[code]

[2020-11-02 10:27] ydcjeff commented on #4473
@cheulyop is config.trainer a dict type?

[2020-11-02 11:11] denadai2 commented on #4204
@SeanNaren actually, it's not only about the doc. It's also that if the loss is nan, pytorch lightning skips to write ALL the logged variables because of: https://github.com/PyTorchLightning/pytorch-lightning/blob/72f19768c828b734d8565ffef7b78fb9a57ba847/pytorch_lightning/trainer/training_loop.py#L681

[2020-11-02 11:12] denadai2 commented on #4204
To be more clear, this step is skipped: https://github.com/PyTorchLightning/pytorch-lightning/blob/72f19768c828b734d8565ffef7b78fb9a57ba847/pytorch_lightning/trainer/training_loop.py#L687

[2020-11-02 11:13] tobiascz opened #4478 "logging in training_step does not create any output in progress bar or logger"
## 🐛 Bug

I think the newly introduced [log function](https://pytorch-lightning.readthedocs.io/en/latest/lightning_module.html#log) function does not log properly while being used in the training_step. The same code in validation_step creates the desired results.

[code]

## Please reproduce using

https://gist.github.com/tobiascz/bb2c6de83263eb38181052840062b5ac

### Expected behavior

Logs creat

[2020-11-02 11:14] tobiascz opened #4479 "Logging with "self.log" in training_step does not create any outputs in progress bar or external Logger when loss isn't returned"
## 🐛 Bug

I think the newly introduced [log function](https://pytorch-lightning.readthedocs.io/en/latest/lightning_module.html#log) function does not log properly while being used in the training_step. The same code in validation_step creates the desired results.

[code]

## Please reproduce using

https://gist.github.com/tobiascz/bb2c6de83263eb38181052840062b5ac

### Expected behavior

Logs creat

[2020-11-02 11:15] tobiascz commented on #4478
duplicated issue

[2020-11-02 11:15] #4478 closed

[2020-11-02 12:00] cheulyop commented on #4473
@ydcjeff when I opened this issue, I thought it should be. But thinking of it now, it doesn't have to be?

Actually, in my code, `config` is a dict of dicts, such as `experiment, data, early_stop, trainer`, and `hparams`. I store config as json and load it with a hook converting dicts and their values into an object, i.e., namespace.

If it is namespace, I suppose the whole thing can be as simple

[2020-11-02 12:04] SeanNaren commented on #4204
Thanks @denadai2 just to confirm the logic is as below:

You've overridden the training step and set automatic_optimization to false.
Your training_step function logs metrics now using `self.log`, but never returns a loss (you may have multiple losses or something)

You would like other metrics aside from the loss to be logged in training, but because of this line:

https://github.com/PyTorchLight

[2020-11-02 12:28] ydcjeff commented on #4473
If config.trainer is a dict, you could use double asterisk, right?

[2020-11-02 12:52] nicola-decao opened #4481 "Validation step is skipped when on_train_batch_start returns -1"
## 🐛 Bug

It seems that when `on_train_batch_start` returns `-1` the validation step is skipped.

### Expected behavior

The trainer should skip the training epoch and start the evaluation.

[code]

[2020-11-02 12:54] robogast commented on #4389
About the latter issue, where I got:
[code]
I added a print statement just above this LOC, and I got the following:
[code]
So the reason it doesn't work is that the `os.environ['MASTER_ADDR']` is set to the address of multiple nodes.
I can hotfix it for myself with a `master_addr = master_addr.split(',')][0]`in `rendezvous.py`, but I hope someone can figure out why these addresses are wrongly set

[2020-11-02 13:11] ydcjeff commented on #4481
Yes, this is the correct behavior as described in the docs: `If you return -1 here, you will skip training for the rest of the current epoch.` one epoch includes training + validation, so it will skip validation step as well

[2020-11-02 13:14] nicola-decao commented on #4481
I understand `.. you will skip training for the rest of the current epoch.` as is written in documentation as only training is skipped. Yes, I want to only skip training. I think either the expected behavior of this `-1` is wrong or the documentation is wrong. Is there any way to only skip training?

[2020-11-02 13:17] ydcjeff commented on #4481
I see! yep, docs can be improved!
you can now return `None` in training_step to skip the training_step
See Returns Section in https://pytorch-lightning.readthedocs.io/en/latest/lightning_module.html#training-step

[2020-11-02 13:18] cheulyop commented on #4473
@ydcjeff yes you can do `Namespace(**config.trainer)`

[2020-11-02 13:20] ydcjeff commented on #4473
How about in this? `pl.Trainer(**config.trainer)` that can be used too?

[2020-11-02 13:24] tobiascz commented on #4479
When returning the loss from the training_step it works.
`def training_step(self, batch, batch_idx):
        output = self.layer(batch)
        loss = self.loss(batch, output)
        self.log("loss", loss, prog_bar=True, logger=True, on_step=True, on_epoch=True)
        self.log("my_metric_train", 1001, prog_bar=True, logger=True, on_step=True, on_epoch=True)
        return loss
        ##### Wor

[2020-11-02 13:25] cheulyop commented on #4473
Yes that works as well 👍

[2020-11-02 13:27] ananyahjha93 commented on #4448
@vobecant fix is coming pretty soon, also we are actively monitoring bolts issue now onwards, please post things related to simclr over there.

[2020-11-02 13:30] ydcjeff commented on #4473
Thank you for confirming!

Closing it as it is resolved, feel free to reopen if needed

[2020-11-02 13:30] #4473 closed

[2020-11-02 14:04] nicola-decao commented on #4481
Right! But I have a stop criterion that is satisfied, I need to save it in a variable and the trainer will still loop over all batches that will be skipped. It seems more natural to do have a mechanism to skip the training entirely from a hook. Otherwise, the loop will be quite a waste of time/computation.

[2020-11-02 14:05] #1966 closed

[2020-11-02 14:24] #3702 closed

[2020-11-02 14:33] tchaton commented on #4395
Hey @junwen-austin,

[code]

[code]

[code]

[2020-11-02 14:46] #4470 closed

[2020-11-02 14:48] tchaton commented on #4467
Hey @quinor,

You are right, we are currently refactoring logging to enable `self.log` everywhere.

I am curious, what do you intent to log in `optimizer_step`.

Best regards,
T.C

[2020-11-02 15:00] quinor commented on #4467
hey @tchaton,

As for your question: I'm trying to log the LR. To be precise,

[code]

[2020-11-02 15:15] rohitgr7 commented on #4467
@quinor there is LearningRateMonitor you can use to log learning rates.

[2020-11-02 15:24] Maybewuss opened #4483 "Why metric inherits torch.nn.Module?"
If i define a complex metric and the computation may convert torch.tensor to numpy. Can this metric use in ddp？
If i want train model with train_dataloader in ddp and validate val_dataloader in single model with customized metric, how to do it?

[2020-11-02 15:26] edenlightning commented on #4444
@awaelchli is this supported?

[2020-11-02 15:28] edenlightning commented on #4467
Closing issue for now. @quinor feel free to reopen if you have more questions!

[2020-11-02 15:28] #4467 closed

[2020-11-02 16:14] s-rog commented on #4395
@tchaton I don't have access to my workstation right now but I believe the `MEAN` prints (2 for 2 gpus) are from the `self.log()` which are reduced correctly.

The incorrect behavior is from `return {"loss": loss}` (at least when I tested with `return loss`) where the value shown in the progress bar is the sum instead of mean across GPUs.

[2020-11-02 16:23] s-rog commented on #4483
First question: yes, but you will have to convert the output within the metric back to tensor and cast it to the correct device.

Second question: check out our examples and documentation!

For future questions please consider using our forums! https://forums.pytorchlightning.ai/

[2020-11-02 16:23] #4483 closed

[2020-11-02 16:36] #4151 closed

[2020-11-02 16:36] #4427 closed

[2020-11-02 16:46] #4481 closed

[2020-11-02 16:56] ydcjeff commented on #4481
Thank you for your feedback @nicola-decao
noted the feature to implement when applicable
[code]
Most of us normally don't skip the training batch, so it's just notifying that user is skipping on purpose.

[2020-11-02 17:48] edenlightning opened #4484 "Update drone to pytorch 1.6"

[2020-11-02 17:48] edenlightning commented on #4484
https://github.com/PyTorchLightning/pytorch-lightning/pull/4393

[2020-11-02 18:33] #4436 closed

[2020-11-02 18:56] hudeven commented on #4416
@NumesSanguis thanks for the suggestion! I intend to use 'script'. This issue is fixed in https://github.com/PyTorchLightning/pytorch-lightning/pull/4428

[2020-11-02 19:19] ET-Chan opened #4486 "TrainerDataLoadingMixin.replace_sampler ignores multiprocessing_context"
## 🐛 Bug

replace_sampler in TrainerDataLoadingMixin ignores multiprocessing_context

## Please reproduce using [the BoringModel and post here]

https://colab.research.google.com/drive/1IRCGh1HbutELn3ADsZ9jAwDjc6zoyB_R?usp=sharing

### Expected behavior

It should return a new data loader with the replaced sampler, and the same multiprocessing_context

### Environment

* CUDA:
	- GPU:
		- Tesla T4

[2020-11-02 19:26] airsplay commented on #224
A short note on this for future readers:
No setting epochs in DistributedSampler does not equivalent to `shuffle=False` (for both dataloader and distributed sampler).

[2020-11-02 19:44] #4098 closed

[2020-11-02 19:44] #4266 closed

[2020-11-02 19:56] marcimarc1 opened #4487 "using autograd in neural network calculation breaks the validation step"
## 🐛 Bug

Hi,

just a small bug report, maybe this can be a feature in the future.
Assuming you want to have a derivative in your neural network as output,

the option: torch.set_grad_enabled(False), which is activated during validation, breaks the PyTorch lightning module.

So if you want to train and validate a model like this (see Code) in pytorch ligthning, a workaround is to  torch.set_grad_e

[2020-11-02 20:51] #4449 closed

[2020-11-02 21:32] rsokl opened #4488 "Specifying on_step=True in LightningModule.log only logs one value per epoch"
Hello! I am hoping to understand the logging behavior that I am seeing.

The docs for `LigthingModule.log` say:
- on_step – if True logs at this step
    - I think: "one value will be logged for each training step"
- on_epoch – if True logs epoch accumulated metrics
    - I think: "one accumulated value will be logged per epoch

Instead, both modes only log one value per epoch...

To be a bit more

[2020-11-02 22:13] #4452 closed

[2020-11-02 22:15] EdwardDixon opened #4489 "Warn user with regression loss if they have an activation function on their final layer"
## 🚀 Detect accidental use of activation function when training a model on a regression problem
We train a lot of classifiers, so it is easy to forget that when we train a model on a regression problem, we should _not_ use an activation function on the output layer.  Even worse, the model will "sort of" learn, and it can take a long, long time to figure out what the problem is ([see here, Twitter

[2020-11-02 23:50] edenlightning commented on #4353
This is currently not supported, until we have stateful DP, see https://github.com/PyTorchLightning/pytorch-lightning/pull/1895

[2020-11-02 23:51] edenlightning commented on #4353
@ananyahjha93 what should be next steps? should we change the docs?

[2020-11-03 01:05] s-rog commented on #4488
https://pytorch-lightning.readthedocs.io/en/stable/trainer.html#log-every-n-steps

You didn't post your trainer code but this might be the source of your difficulties?

[2020-11-03 01:36] xiadingZ opened #4491 "TypeError: __init__() missing 2 required positional arguments: 'doc' and 'pos'"
## 🐛 Bug

[code]
can someone give suggestion about this problem?   my dataset will load one image and one json file on each `getitem`, if I only load image, it will be ok. But if I load image and json file, it will throw this error randomly. It doesn't show that it's because json file's problem, and I have tested all json file, they can  open normally. I can't figure out what causes this bug.

[2020-11-03 03:17] DuinoDu commented on #4491
Can you show your sample code?

[2020-11-03 03:32] xiadingZ commented on #4491
I have found the problem. It's because some json file is empty.  this bug it's from `json.load`, not pytorch

[2020-11-03 03:32] #4491 closed

[2020-11-03 03:44] s-rog commented on #4228
@Shreeyak please ping me once you got a PR, as I'm very interested in this feature for my workflow as well!

[2020-11-03 03:55] s-rog commented on #4489
There are legitimate uses for activation functions for regression outputs though, like using relu(6) to clamp your output.

Obvious bugs often get the best of us :]

[2020-11-03 06:08] #4176 closed

[2020-11-03 07:23] Maybewuss commented on #4483
Second question: I have read the documents, the example of multi-gpu training code is `trainer = Trainer(gpus=8, accelerator='ddp')`, and i don't know what abstraction is used in validation step. In other words, whether validation will be called in ddp when local_rank equals zero and i do not need to think how to reduce metric from different opus?

[2020-11-03 07:48] xiadingZ opened #4493 "val and test scores mismatch"
In my dataset, file list is the same for val and test, and returned frames are uniformly sampled. In val mode, saved model reports acc as `epoch=38-val_loss=0.815-val_acc=0.82275.ckpt`. But when I use this model to test, it only has acc `78.99`.

I save each videos' test scores in files, and use scores to calculate acc, it's 0.82164.  It's very strange that val/test/manually accs are different. As

[2020-11-03 07:54] s-rog commented on #4483
Validation step is pretty much exactly the same as training step besides using a different dataloader, `.eval()` and `no_grad()`

As such, it is called on all ranks in ddp. I would suggest trying out an existing metric so you get a feel for how they work before implementing your own.

[2020-11-03 09:02] itsikad commented on #4479
@tobiascz I believe it isn't a common issue, but from a design perspective, is it the desired behavior? I would expect the logs to work independently of whether the user returned the loss or not, however, a user warning/error should be raised in the case the training step returned None.

[2020-11-03 09:39] #4434 closed

[2020-11-03 09:41] #4487 closed

[2020-11-03 09:41] tchaton commented on #4487
Dear @marcimarc1,

Yes, `autograd` is blocked in validation_step for performance reason. As most people just do metric computation, they don't need gradients to be computed. I hope it makes sense.

Best regards,
T.C

[2020-11-03 09:45] tchaton commented on #4493
Dear @xiadingZ ,

Thanks for reporting this bug. It seems to be pretty important.
Would you mind to reproducible this bug with the Boring Model ?
Here is the code: https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/bug_report_model.py
When done, we will take this as high priority.

Best regards,
Thomas Chaton.

[2020-11-03 10:59] tobiascz commented on #4479
Thanks for pointing this out @itsikad.
based on the comment above I am reopening the issue.

[code]
def training_step(self, batch, batch_idx):
        output = self.layer(batch)
        loss = self.loss(batch, output)
        self.log("loss", loss, prog_bar=True, logger=True, on_step=True, on_epoch=True)
        self.log("my_metric_train", 1001, prog_bar=True, logger=True, on_step=True, on_epoch=T

[2020-11-03 11:13] #4390 closed

[2020-11-03 11:51] xiadingZ commented on #4493
[code]

I have reprodeces, resule is:
[code]

pytorch lightning is build from master

[2020-11-03 13:14] masoncusack commented on #4312
Hi,

The issue seems to persist on upgrading to lightning 1.0.3.

[2020-11-03 13:43] MohammedAljahdali opened #4496 "Trainer.test() fail when trys to log_hyperparameter"
## 🐛 Bug

This the error code

[code]
I think this error is caused by something related to the saved hparams
so I tried to print the hparams of my trained model, this is the result of printing my model.hparams:
[code]
This is my testing code
[code]

I have pytorch_lightning version 1.0.4

[2020-11-03 15:50] edenlightning commented on #4479
@tchaton please take a look. do we want to add a warning here?

[2020-11-03 15:53] edenlightning commented on #4447
@SeanNaren please update what is left TODO here

[2020-11-03 16:05] Borda commented on #3826
This won't be needed anymore as we are going to deprecate EvalModelTemplate in favour variation of BoringModels

[2020-11-03 16:05] #3826 closed

[2020-11-03 16:26] rsokl commented on #4488
Ah yep! I can't believe I missed this: https://pytorch-lightning.readthedocs.io/en/stable/logging.html#control-logging-frequency

thank you!

[2020-11-03 16:26] #4488 closed

[2020-11-03 16:31] SeanNaren commented on #4447
This should be closed, the docs have been cleared up in #4455, ensuring that users know to pass the optimizer_closure to the optimizer.

[2020-11-03 16:31] #4447 closed

[2020-11-03 16:36] seannz opened #4497 "Expose lr_scheduler to pl.LightningModule as a property (self.scheduler)?"
#### What is your question?

Dear all,

Is lr_scheduler (or an array of them) exposed to pl.LightningModule as self.scheduler or something similar ? I only see self.trainer but self.scheduler would really complement the trainer!

#### What have you tried?

I tried looking for self.scheduler (and different variants) in the source / PDF manual but found nothing

#### What's your environment?

 - OS:

[2020-11-03 16:47] rohitgr7 commented on #4497
it's not there yet. Mind submit a PR to add that?

[2020-11-03 16:51] seannz commented on #4497
Looks like we should be accessing it via self.trainer.schedulers (rather than directly via self.schedulers) for consistency with self.trainer.optimizers. I'll submit a PR soon.

[2020-11-03 17:02] pkubik opened #4498 "Packages fails to import when system site-packages contain a different version"
## 🐛 Bug

The package mixes imports from the user's site-packages and system's site-packages, which leads to import errors or other unexpected behavior.

### To Reproduce

1. Install older version of pytorch-lightning as system package, e.g.:
[code]

2. Install newer version of pytorch-lightning as user package, e.g.:
[code]

3. Try to import the package:
[code]

Note that python prefers the user

[2020-11-03 17:03] MohammedAljahdali commented on #4497
Hey, I think you can access the scheduler by using `trainer.lr_schedulers`, therefore maybe you could access from your pl_module by using `self.trainer.lr_schedulers`

[2020-11-03 17:03] MrinalJain17 opened #4499 "How to use lightning without any explicit train_dataloader?"
## ❓ Questions and Help

#### What is your question?

I'm working on Neural Style Transfer (the original paper by Gatys et. al.). The method is essentially specific to one style and one content image only, which can be loaded in the `__init__()` method itself. And there's no other data set required (training or validation). Once we have the style and content images, we iteratively generate the sty

[2020-11-03 17:05] seannz commented on #4497
@MohammedAljahdali I don't see lr_schedulers anywhere in trainer.py. Would you mind pointing me to the right location where it is defined?

[2020-11-03 17:13] rohitgr7 commented on #4497
@seannz it's added here:
https://github.com/PyTorchLightning/pytorch-lightning/blob/a32bffcdea3c12fb369f2cb87cbcf8b7e91396e6/pytorch_lightning/accelerators/accelerator.py#L187-L194

yes you can access it via `self.trainer` but I think it can be exposed to `LightningModule` as property just like `optimizers`

[2020-11-03 17:29] Borda commented on #4498
I think this is a general Python/PyPI issue, there is nothing we can do about it in PL...
You just need to uninstall the `sudo` version or use a virtual environment / Conda :]

[2020-11-03 17:29] #4498 closed

[2020-11-03 17:41] pkubik commented on #4498
That unbelievably disappointing, but it's not the first time I was misguided by python package management. I guess I will need to change my current workflow if that's a general issue.
Thanks for quick response.

[2020-11-03 17:52] Vichoko commented on #4499
I think you can define a dummy `train_dataloader`, you need to be careful tho in `training_step `it will be iterated and the element will be passed to the `training_step` as the `batch` argument.

[2020-11-03 17:59] edenlightning opened #4501 "Refactor all test to use boring model"

[2020-11-03 18:01] #4484 closed

[2020-11-03 18:08] edenlightning commented on #4204
Currently blocked on https://github.com/PyTorchLightning/pytorch-lightning/pull/4495

[2020-11-03 18:11] edenlightning opened #4502 "Test drone on pytorch 1.7, 1.8"
extend teste PT versions with multi-GPU

[2020-11-03 18:13] edenlightning commented on #4397
We can't run DDP right now on multiple GPUs. How can we run this with the current CI?

[2020-11-03 18:14] edenlightning commented on #4397
Can we do this without pytest? and collect results from process 0 or all of them?

[2020-11-03 18:14] edenlightning commented on #4397
Can we create global processes?

[2020-11-03 18:46] edenlightning commented on #4148
@tchaton please update status if you made any progress on this

[2020-11-03 21:32] Borda commented on #4493
ok, I can confirm it
[code]

[2020-11-03 21:51] jaimergp opened #4503 "_log_on_evaluation_epoch_end_metrics() still expects a Results object instead of a dict"
## 🐛 Bug

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing)

https://colab.research.google.com/drive/1Z1hOL_r67zcPnvgCkkjq3LZ4E58tFp7l?usp=sharing

### To Reproduce

### Expected behavior

On testing, using multiple datasets should not raise an error. It looks like it's still expecting one of the now dep

[2020-11-03 21:54] jaimergp commented on #4503
Ah, wait, I see this is being handled in #4136 😬

[2020-11-03 22:02] #4416 closed

[2020-11-03 22:17] lzrpotato opened #4504 "DDP bug with ModelCheckpoint on ckp file saving"
## 🐛 Bug

On the DDP mode with 2 gpus, trainer.test(model) will start before the bestmodel is saved on disk of the previous trainer.fit(model). It seems trainer.fit() and trainer.test() in ddp model is not synchronized.

## Please reproduce using [the BoringModel and post here]
BoringModel doesn't support real 2 GPUs ddp.

### To Reproduce

[code]

### Expected behavior
The saved checkpoint model

[2020-11-03 22:58] awaelchli commented on #4493
I have not carefully studied all details here, but what sticks out to me is that there are two ways you compute the accuracy, and they can't both be the same in general.

`sync_dist=True`, if you look at the docs, will average across the gpus. The docs say that `sync_dist_op = mean`.
Computing the mean per step and then aggregating is not the same as aggregating all stats from all gpus (e.g. in ca

[2020-11-03 23:02] awaelchli commented on #4493
... and the correct result in this case is the one computed by the metric class.

[2020-11-03 23:05] awaelchli commented on #4493
The metrics docs here https://pytorch-lightning.readthedocs.io/en/latest/metrics.html
show the example here too.
In that sense, I would advise to remove the bug label and discuss whether there is a need to update the docs to  point out the differences in logging vs. metric computation / aggregation.

[2020-11-04 00:07] teddykoker commented on #4493
@awaelchli is correct. When you log the output of the metric for each batch, it will take the mean of each one when it reports the value at the end of the epoch. This is not always correct as the mean of a metrics computation over many batches is not always the same as the metrics computation on all of the data. This is why I have personally been against logging epoch level values in the validatio

[2020-11-04 00:08] SeanNaren commented on #4504
Hey thanks for the issue, would you be able to create a reproducible test with ddp 2gpus using this? https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/bug_report_model.py

Will help us debug much faster!

[2020-11-04 00:08] lzrpotato commented on #4504
While editing the issue, I got another No such file or directory error cause the by ModelCheckpoint.best_model_path.

In this time, the best_model_path returns the bestmodel at epoch 42, but bestmodel at epoch 43 is on disk instead of bestmodel 42.

The code cause the bug are the same except the max epoch is set to 50 in trainer initialization. The training phase actually runs to the epoch 49 whic

[2020-11-04 00:10] lzrpotato commented on #4504
I

[2020-11-04 00:11] lzrpotato commented on #4504
Opps. accidently clicked the close button

[2020-11-04 00:16] SeanNaren commented on #4504
Thanks, I haven't been able to reproduce this issue on my side, this script (slightly different) works fine on my end:

[code]

[2020-11-04 00:25] lzrpotato commented on #4504
[code]

[2020-11-04 00:34] lzrpotato commented on #4504
[code]
This is the slurm command

[2020-11-04 00:49] #4493 closed

[2020-11-04 02:22] #791 closed

[2020-11-04 02:35] dhruvapatil opened #4507 "TypeError: __init__() got an unexpected keyword argument 'logger'"
I am new to developing with Pytorch-Lightning. I have constructed a VideoClassifier following the examples and templates.
I am currently running into the following error when I try to run the code
 **TypeError: __init__() got an unexpected keyword argument 'logger'**
Back tracing the error also does not give any pointers on how to solve it.
Is there a version change of the package that can solve t

[2020-11-04 04:14] #4507 closed

[2020-11-04 06:37] #3663 closed

[2020-11-04 06:37] #3666 closed

[2020-11-04 07:36] qmpzzpmq opened #4509 "DistributedSampler can't shuffle the dataset"
almost same things with
https://github.com/pytorch/pytorch/issues/31771
https://github.com/huggingface/transformers/issues/3721

how to fix them in pytorch lighting

[2020-11-04 08:34] #4503 closed

[2020-11-04 08:47] s-rog commented on #4509
PL already calls `set_epoch()` for it as part of the training loop.

I'll close this for now, if you have a bugged replicable code sample feel free to re-open.

[2020-11-04 08:47] #4509 closed

[2020-11-04 09:04] ildoonet commented on #4420
same error with A100 gpus.

RuntimeError: NCCL error in: /pytorch/torch/lib/c10d/ProcessGroupNCCL.cpp:784, invalid usage, NCCL version 2.7.8

[2020-11-04 09:22] justusschock opened #4510 "Connectors Refactoring Discussion"
This is a brief summary of our refactoring discussion with @tchaton @awaelchli .

## The easy part

Refactor all connectors to be completely self-contained and establish call hierarchy.
This means:
* Connectors should not call other connectors
* Connectors should not have a trainer reference or change anything on trainer
* Trainer properties will just gather information from respective connector.

[2020-11-04 09:42] #4497 closed

[2020-11-04 11:28] jaimergp commented on #839
Any specific plans on this? I have been trying to implement something like https://github.com/PyTorchLightning/pytorch-lightning/issues/839#issuecomment-714273956 but I am running into some rough edges like managing the loggers across folds, or checkpoints. There's also open questions about how to deal with the `test` parts.

I'd be happy to work on a PR given some guidance on how you'd like this

[2020-11-04 12:36] jonasricker opened #4512 "Profiler is not reset after calling trainer.tune() with auto_lr_find=True"
## 🐛 Bug

When using `SimpleProfiler` together with the Learning Rate Finder, only the timings from the call to `train` within the Learning Rate Finder are logged. For the actual training, no timings are recorded.

## Please reproduce using [the BoringModel and post here]
https://colab.research.google.com/drive/1FUOW-A7gJk1fuR7ODQdMSCQkrkgamtru?usp=sharing

### Expected behavior
Profiler is reset

[2020-11-04 13:20] ydcjeff commented on #4501
@edenlightning should we also change the api like self.log, accelerator?

[2020-11-04 13:42] ferngonzalezp opened #4513 "ModuleNotFoundError: No module named 'pytorch_lightning.trainer.seed'"
Hello, I updated pl to version 1.0.5  under my user environment of a HPC cluster managed by slurm which had installed pl version 0.7.6. When i launch a job i get the following error:

 `Traceback (most recent call last):
  File "train_pinn.py", line 3, in <module>
    from pytorch_lightning import trainer
  File "/home/2006011/fgonza01/.python-DL-3.6.9/site-packages/lib/python3.6/site-packages/pyt

[2020-11-04 14:06] ydcjeff commented on #4513
You can import that with `from pytorch_lightning import seed_everything` in latest version.

[2020-11-04 14:06] #4513 closed

[2020-11-04 14:12] SeanNaren commented on #4504
Hey @lzrpotato when you log your val loss, make sure you add the flag to sync across processes:

`self.log('val_loss', loss, prog_bar=True, sync_dist=True)`

This fixed this bug report for me, I'll find the docs where this is found at clarify it :)

[2020-11-04 14:41] asalimih commented on #4204
Hi
I'm not sure if my problem is related to this bug it seems so.
because I wanted to do `backward` and `step` in the middle of training_step so I set the automatic_optimization to False. I'm logging in the training_step and validation_step as follows:
[code]

It works quite well until it reaches a specific epoch and throws this error (the batch size and the dataset size are the same):

[code]
I c

[2020-11-04 14:56] stillwalker1234 commented on #4420
Have the same issue with 2x2080ti on ubuntu 20.04 using pytorch 1.7 and cuda 11.
downgrading to pytorch 1.6 and cuda 10.2 fixes the issue

[2020-11-04 15:06] SeanNaren commented on #4512
Can confirm I can reproduce this, just need some time to fix :) Here is the script that I've built out of the provided colab:

[code]

[2020-11-04 15:31] tchaton commented on #4499
Hey @MrinalJain17,

Thanks for raising such questions. Really interesting :)

My hacky way to resolve this: Create an infinite dataloader returning None with a length chosen based on your learning rate scheduling scheme, load both images directly into the model, perform optimisation in training_step.

I hope it helps.
T.C

[2020-11-04 15:55] 21jun commented on #4367
I solved this problem by installing pytorch-lightning v.1.0.5
[code]

In Google Colab, pytorch-lightning version is 1.0.5 while my local version was 0.9
At the first place, I installed pytorch-lightning with `conda install pytorch-lightning -c conda-forge`  but it gave me v 0.9
[code]

[2020-11-04 16:43] lzrpotato commented on #4504
https://pytorch-lightning.readthedocs.io/en/latest/lightning_module.html#log

LightningModule.log(name, value, prog_bar=False, logger=True, on_step=None, on_epoch=None, reduce_fx=torch.mean, tbptt_reduce_fx=torch.mean, tbptt_pad_token=0, enable_graph=False, sync_dist=False, sync_dist_op='mean', sync_dist_group=None)

This explained the self.log API.

@SeanNaren Thank you for your help.

[2020-11-04 16:47] #4504 closed

[2020-11-04 17:15] awaelchli opened #4518 "DDP NCCL freezes in docker AWS Jupyter"
## ❓ Questions and Help

#### Problem

Jupyter terminal freezes, and connection to AWS node closes.
The problem is reproducible with any Lightning example.

#### What have you tried?

`python pl_examples/basic_examples/image_classifier.py --gpus 4 --accelerator ddp`

#### What's your environment?

Linux using docker image
Lightning 1.0.4
pytorch 1.6
cuda 10.2

[2020-11-04 17:15] awaelchli commented on #4518
The solution was to use

`export NCCL_SOCKET_IFNAME=lo`

[2020-11-04 17:15] #4518 closed

[2020-11-04 17:31] berebid commented on #4012
@its-dron
I would prefer option 2.

@EliaCereda
A single argument (e.g. `auto_insert_metric_name`, `prepend_metric_names` or `filepath_with_names`) on the constructor of `ModelCheckpoint` sounds good.

If it's false, the user should be able to choose between `f'{metric}'` and `f'{metric=}'`, which is actually quite nice, and could easily be specified metric by metric.

[2020-11-04 18:10] #3771 closed

[2020-11-04 18:17] asalimih opened #4519 "Videos in the documentation quality change for lower speed connections"
## 🚀 Feature
adding the option to change the quality of the tutorial videos in the documentation page.

### Motivation
the videos inside the documentation seem very useful however every time I try to watch them I can't because they have a high quality and my internet access can't load it in the proper time.

### Alternatives
Simply upload them on Youtube

[2020-11-04 18:38] MrinalJain17 commented on #4499
Hi @Vichoko . Yes, what you recommended makes complete sense. Although the reason I want to load the images through init is because style transfer requires the computation of a gram matrix - which is an expensive operation (involves a forward pass through a VGG network). We do this for both the generated and style image at each iteraton.

However, since the style image remains the same throughout

[2020-11-04 18:42] lezwon commented on #4464
This seems to be an XLA issue and is tracked here https://github.com/pytorch/xla/issues/1775

@FabianBell Mind adding the following at the beginning of your notebook and trying?
[code]

[2020-11-04 18:49] lzrpotato opened #4520 "Metrics ConfusionMatrix is not under this path: pytorch_lightning.metrics.classification.ConfusionMatrix"
## ❓ Questions and Help

#### What is your question?
Metrics ConfusionMatrix is not under this path: pytorch_lightning.metrics.classification.ConfusionMatrix
Is the ConfusionMatrix removed from pytorch_lightning?
Refer to the following link in docs:
https://pytorch-lightning.readthedocs.io/en/latest/metrics.html#confusionmatrix

#### Code
[code]

The above code cannot import ConfusionMatrix.

####

[2020-11-04 18:55] lzrpotato commented on #4520
https://github.com/PyTorchLightning/pytorch-lightning/blob/e0b856c105d3c35df8d53f737762f88ae68ee1e3/pytorch_lightning/metrics/classification/confusion_matrix.py

The confusion_matrix.py file is on the repository, but it seems that this file hasn't been merged to version 1.0.5.

[2020-11-04 19:31] FabianBell commented on #4464
@lezwon thank you for your help.

I changed the notebook but I still get the same error.

[2020-11-04 19:33] SeanNaren commented on #4520
Hey @lzrpotato you are correct, seems like it didn't make its way into 1.0.5 (here is the PR with the updated changelog: https://github.com/PyTorchLightning/pytorch-lightning/blob/137524402ebbe32a18e579d09f4845630b198880/CHANGELOG.md) I'll double check internally whether this is going to be in a point release or major.

[2020-11-04 19:35] #3994 closed

[2020-11-04 19:47] SeanNaren commented on #4520
Can confirm, will be in 1.1. Apologies! was mis-classified, will close this for now but let me know if you run into any issues :)

[2020-11-04 19:47] #4520 closed

[2020-11-04 20:10] KrzysztofPrzygodzki commented on #4012
I'm aware that a workaround, I would like propose, is absolutely not acceptable as a solution. But for a matter of pushing my project forward, I have duplicated self.log and kept it silent.

[code]

[2020-11-04 20:24] williamFalcon opened #4522 "Gpus=1 + precision not working when using only certain layers"
## 🐛 Bug

Making a finetuning model where the backbone isn't training breaks 16-bit.

[2020-11-04 20:26] SeanNaren commented on #4148
I can give an update here, it seems that within manual backward with native AMP we are missing some calls to the scaler, particular the `update` call. This happens because we never call `optimizer_step` in the accelerator when using manual_backward.

To remedy this, you can add this to the bottom of your override training step:

[code]

such as:

[code]

The work/discussion is going on in https://

[2020-11-04 20:41] asalimih commented on #4204
after some debugging I solved the Error by changing the training_step to this:
[code]
However now although I set the logger to True, the `loss` and `train_ci` aren't logged in the tensorboard. and also I cannot see them in the progress bar.

[2020-11-04 22:32] quinor opened #4524 "Error when disabling an optimizer with native AMP turned on"
## 🐛 Bug

When running my Lightning code with:
- fp16 native AMP
- Multiple optimizers
- One of the optimizers disabled (in this case by returning `None` for it in `training_step`)

I'm getting the following stacktrace:

[code]

### To Reproduce

(I'm hoping those are all conditions that have to be met)
Run a Lightning model with
- fp16 native AMP
- Multiple optimizers
- One of the optimizers disa

[2020-11-04 23:05] quinor commented on #4524
more details/analysis at https://pytorch-lightning.slack.com/archives/CRBLFHY79/p1604523271185900

[2020-11-04 23:29] Borda commented on #4524
I think it is a similar problem we face with Tuner...

[2020-11-04 23:32] quinor commented on #4524
@Borda I believe issue is with

https://github.com/PyTorchLightning/pytorch-lightning/blob/e81707ba0242f12f47d742e86a982f529a7ae65b/pytorch_lightning/core/lightning.py#L1229

being called (and optimizer being called in general) when the training_step returned `None` - the check to skip an optimizer (https://github.com/PyTorchLightning/pytorch-lightning/blob/e81707ba0242f12f47d742e86a982f529a7ae65b

[2020-11-04 23:45] #3709 closed

[2020-11-04 23:47] awaelchli commented on #4524
is this the fix? I have little time to debug, so sorry for making wild guesses:

[code]

[2020-11-04 23:51] awaelchli commented on #4524
@quinor if my fix works, override optimizer_step in your LightningModule and put the None check there if you need this hotfix right now.

[2020-11-04 23:54] diegovalenzuelaiturra commented on #3484
Hi, as can be found [here](https://github.com/pytorch/pytorch/blob/31c9d2efcd4a48146780662b2a933f1ce60ea3a1/torch/autograd/anomaly_mode.py#L83-L106) , you can check if the **anomaly detection profiler** is enabled, by running the following few lines of code.

[code]

And you could manually set it on and off by using the `torch.set_anomaly_enabled` method, as shown below :

[code]

Also, looking [h

[2020-11-05 01:59] Vichoko commented on #3093
After I updated to the 1.0.0+ version my issue was solved with the new logging and checkpointing scheme.

[2020-11-05 01:59] #3093 closed

[2020-11-05 02:41] kittipatv opened #4525 "save_hyperparameters() doesn't work with decorated __init__()"
## 🐛 Bug

save_hyperparameters() breaks when __init__() is decorated

https://colab.research.google.com/drive/1njXP32G3FSg4nWvwo7kuhVr6iqH3eabQ?usp=sharing

### Expected behavior

hyperparameters should be saved

### Environment

[code]

### Additional context

I think the right way to detect parameters is using `inspect.signature(cls.__init__).parameters` instead of `inspect.getfullargspec(Reinfo

[2020-11-05 02:55] s-rog commented on #4479
I looked into this a bit but haven't found the source of the issue yet. Using this to test:
[code]

[code]

The result objects/dictionaries contructed are identical aside from the key I set. Gotta dig deeper...

[2020-11-05 03:17] lezwon commented on #4464
I get a different error: [Notebook](https://colab.research.google.com/drive/16rcPEyF-1Ok5zKIFyXmjtf35NekSyco1?usp=sharing)

`RuntimeError: Expected tensor for argument #1 'indices' to have scalar type Long; but got XLAIntType instead (while checking arguments for embedding)`

Will look into this.

[2020-11-05 03:29] Maybewuss commented on #4483
If i use self.log() in validation_epoch_end in ddp, need i to judge the local_rank to prevent log in different devices?

[2020-11-05 03:40] oke-aditya commented on #3484
Yeah, I guess they are off by default.  But just like we have `pl.seed_everything` we can have this utility. This would simply ease out turning on  / off these options.

[2020-11-05 03:48] ananyahjha93 commented on #4353
@edenlightning we need to get the state maintenance for DP in before we tackle this. Even if it doesn't solve this completely, that PR has been lying around for a few months.

[2020-11-05 04:33] TylerYep commented on #4228
You might want to check out this project here: https://github.com/awaelchli/pytorch-lightning-snippets
This code can be added as a callback, which might be what you are looking for!

See also #1237

[2020-11-05 06:24] tilman151 commented on #3769
@edenlightning I am really sorry to bother you, but could you explain why this issue was closed? The associated PR was still under review.

[2020-11-05 08:21] tchaton commented on #4510
Hey @justusschock,

Great summary!
Should plugins have access to the trainer ?

Best regards,
T.C

[2020-11-05 08:33] awaelchli commented on #4316
It depends what we want the meaning of `hparams.yaml` to be. We could say

a) it is the hyperparameters passed into the LightningModule (current behaviour) or
b) it is the latest state of hyperparameters (can be updated after init).

The current behavior in my view is the correct one. See this artificial example:

[code]

With current behavior (a) we save `output_neurons=1` to the file. With (b) w

[2020-11-05 08:51] NumesSanguis commented on #4316
@awaelchli I saw `hparams.yaml` as a "These are the values the model has been trained with." (your b).
Do I correctly understand that `hparams.yaml` is NOT used when loading a model, but instead it's just for the user?
Because the question:

Is not in relation to `hparams.yaml`, but to what's inside `some_model.pt` right?

I can understand if you want `hparams.yaml` to stand for a). If that's the

[2020-11-05 08:57] Maybewuss opened #4527 "Does log_every_n_steps work in validation_step?"
- I find that golbal_step is the training_step, if i want to log something every k validation_steps, how to implement？
- log_every_n_steps works in trains_loop but does not work in validation loop.
- Should add global_traing_step, global_val_step and global_test_step?
- self.log only support on_step and on epoch, can this api support k_steps or k_epoch (training, validation and test)?

[2020-11-05 09:50] gianscarpe commented on #3827
I fixed the issue related to my previous comment. I proceed with a PR, and start a new branch for implementing an EvalModel

[2020-11-05 10:24] tchaton commented on #4395
Hey @s-rog,

Thanks for the update. Let me check it out !

Best regards,
T.C

[2020-11-05 11:05] williamFalcon commented on #3827
welcome to PL! excited to help you contribute.

Please do the deprecation only a few files at a time and make sure to ping @SeanNaren and @tchaton for guidance and advice!

[2020-11-05 11:52] Maybewuss opened #4529 "self.log with Metric in ddp"
[code]

The global_rank of this LightningModule. Lightning saves logs, weights etc only from global_rank = 0. You normally do not need to use this property
Global rank refers to the index of that GPU across ALL GPUs. For example, if using 10 machines, each with 4 GPUs, the 4th GPU on the 10th machine has global_rank = 39

As the doc says, self.log will be call when global_rank = 0, but metric.comp

[2020-11-05 11:57] Maybewuss commented on #4529
The global_rank of this LightningModule. Lightning saves logs, weights etc only from global_rank = 0. You normally do not need to use this property

Besides, I want to know Lightning whether use dist.barrier() when saving log or checkpoint etc from global_rank = 0?

[2020-11-05 12:01] Maybewuss commented on #4529
[code]
The decorator does not use dist.barrier()

[2020-11-05 12:26] SeanNaren commented on #4522
Just to keep all the details here, this seems to be a side effect of amp. When we call `self.trainer.scaler.step(optimizer)` internally the scaler does an inf check on the optimizer's parameters, which is the assertion being thrown. This check needs to coincide with ensuring that the parameters are even updated within this step.

[2020-11-05 13:33] PeganovAnton opened #4531 "Testing metrics on all batches and all ranks"
#### What is your question?

I don't understand why under the comment "check on all batches on all ranks" in function [`_class_test`](https://github.com/PyTorchLightning/pytorch-lightning/blob/e81707ba0242f12f47d742e86a982f529a7ae65b/tests/metrics/utils.py#L90) only `NUM_BATCHES` examples are taken whereas *all* preds and targets contain `NUM_BATCHES * worldsize` examples.

Thank you very much for

[2020-11-05 14:11] #4531 closed

[2020-11-05 15:38] clementpoiret opened #4533 "undefined symbol when importing PyTorch Lightning after installing XLA"
## 🐛 Bug

Following the doc, in order to use TPU on colab pro, I can't import PyTorch Lightning after installing XLA:
`ImportError: /usr/local/lib/python3.6/dist-packages/_XLAC.cpython-36m-x86_64-linux-gnu.so: undefined symbol: _ZN2at13nanmedian_outERNS_6TensorES1_RKS0_lb`

### To Reproduce
[https://colab.research.google.com/drive/1dv21HCCIMdv2r9iSqSRpeOmOJ7Hh8TXF?usp=sharing](https://colab.resear

[2020-11-05 15:47] Renthal commented on #1774
Related, if you set `profiler=AdvancedProfiler()` you get a `TypeError: can't pickle Profile objects` whereas with `profiler=True` it works.
Additionally, [the doc ](https://pytorch-lightning.readthedocs.io/en/latest/profiler.html) mentions the possibility to call `trainer = Trainer(..., profiler="advanced")` whereas this seems not to be possible (also because the argument is of type `profiler: Op

[2020-11-05 15:56] tchaton commented on #4395
Hey @s-rog,

Could you modify the test above to reproduce the behaviour ? Not sure I fully grasped your answer.

Best regards,
T.C

[2020-11-05 16:09] clementpoiret commented on #4533
Seems just a nightly issue, working well with torch XLA 1.7... Is there a specific purpose of using nightly builds as stated in PL's doc?

[2020-11-05 16:21] george-gca commented on #4222
Implemented in #4521

[2020-11-05 16:40] s-rog commented on #4395
[code]
this should correspond to the `loss` key on the pbar (the `train_loss` key that you defined is reduced correctly)

[2020-11-05 16:45] george-gca commented on #4527
@Maybewuss  one thing you could do is use the [check_val_every_n_epoch](https://pytorch-lightning.readthedocs.io/en/latest/trainer.html#check-val-every-n-epoch) Trainer flag, so you do the validation every k training epochs. But if you would like to do the validation every time, but only log every k epochs, you could give the `k` value in the `__init__` of your model and store it in, for example,

[2020-11-05 17:17] awaelchli commented on #4298
I will try to reproduce asap.
My guess is we need to run `auto_select_gpus` before we launch the child processes. It looks like currently, each child process is running the auto_select_gpus.

[2020-11-05 17:52] #3381 closed

[2020-11-05 18:40] Borda commented on #4533
we want to get nightly back, just have not done yet after PT 1.7 release
cc: @zcain117

[2020-11-05 18:49] SkafteNicki commented on #4529
If you are asking which of the three methods correctly logs the metric value, I see no problem with any of them (case 1 and 2 are identical). The recommended way is to just call `self.log("metric", self.metric, on_epoch=True)`.
I don't think we have a explicit barrier before saving log or checkpoints, but `dist.barrier()` is called every time `metric.compute()` is explicitly called.

[2020-11-05 19:05] tchaton opened #4536 "Create an Enum for tracking Train, validation, test stage"
## 🚀 Feature

### Motivation

The goal is to create single point of truth about stages for the trainer, so we don't get typo errors.

### Pitch

### Alternatives

### Additional context

[2020-11-05 19:59] rohitgr7 opened #4537 "prefix argument in loggers"
## 🚀 Feature
A simple `prefix` argument in loggers, similar to what we have in [ModelCheckpoint](https://github.com/PyTorchLightning/pytorch-lightning/blob/51cc7a89ee9f1c0ad35c147ce37a5825ec6d77e5/pytorch_lightning/callbacks/model_checkpoint.py#L145) that can prepend this value in metric names.

### Motivation
One use-case where I need this is while doing Kfold training. For now, I have to do it m

[2020-11-05 20:33] showgood163 commented on #1524
With the comment of @SkafteNicki, I find the [saving and loading weight tutorial](https://pytorch-lightning.readthedocs.io/en/latest/weights_loading.html#automatic-saving) very misleading. In particular,
[code]
Please update the tutorial.

[2020-11-05 21:01] songwanguw opened #4538 "TypeError: unsupported format string passed to Tensor.__format__ during printing at validation stage"
## 🐛 Bug

I get error "TypeError: unsupported format string passed to Tensor.__format__". I suspect the code here need to be changed.

https://github.com/PyTorchLightning/pytorch-lightning/blob/51cc7a89ee9f1c0ad35c147ce37a5825ec6d77e5/pytorch_lightning/callbacks/model_checkpoint.py#L585

## Please reproduce using [the BoringModel and post here]

[code]

current, best_model_score in the code cited

[2020-11-05 21:08] edenlightning commented on #3942
@Borda anything left here todo?

[2020-11-05 21:30] catalys1 opened #4539 "Ability to run validation on last epoch, even when using `check_val_every_n_epoch`"
## 🚀 Feature
The ability to run a validation loop after the very last training epoch, even when `check_val_every_n_epoch > 1` and the last epoch doesn't coincide with `current_epoch % check_val_every_n_epoch == 0`.

### Motivation

Sometimes it's nice to run validation less often, for instance to speed up training, but I usually want to see the final validation accuracy even if I've skipped it on

[2020-11-05 23:07] zippeurfou opened #4540 "Existing logger conflict with lr_finder"
## 🐛 Bug

If you call specific logger function (ie. `add_histogram` on a tensorboard one). The tuner will fails because it overwrite it with a DummyLogger (https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/tuner/lr_finder.py#L150).
I would expect to not have to check if the logger I initiated in my trainer is being overwritten or not.
Additionally, on a minor mino

[2020-11-05 23:13] TylerYep opened #4541 "Torch-Summary Integration to replace ModelSummary"
## 🚀 Feature, Motivation, Pitch
Hello, I am the current maintainer of [torch-summary](https://github.com/TylerYep/torch-summary), which is a rewrite of yet another torchsummary library. Currently, ModelSummary is a builtin PyTorch-Lightning feature, but it is limited in scope and support, especially in more complex models. The proposal here, seconded by @carmocca , is to deprecate/remove the curre

[2020-11-05 23:17] Maybewuss commented on #4529
I think case2 may cause bug in ddp because metric.compute will reset the metric and it will be call in all processes.

[2020-11-05 23:26] awaelchli commented on #4541
Hi, I allowed myself to make an edit to the description because I do not actually second the removal of the current summary.
The summary code is lightweight, simple and has little Lightning specific code. I highly doubt that it will be possible to add a hard dependency on an external repo just for a summary text. So option A is probably not feasible. Note: at the beginning, we had pandas as a stri

[2020-11-05 23:39] carmocca commented on #4541
How much is it a whole rewrite and how much just maintaining previous code? the original repository has 2.7k stars (+114 in your fork) so there is definitely interest in this feature.

I havent dived into the torch-summary code but I expect it to be quite light. I don't think comparing it to pandas is fair.

The reason I proposed this is because #4521 adds one of its features so, I thought, why no

[2020-11-06 00:13] #3727 closed

[2020-11-06 01:15] awaelchli commented on #4397
I'll give a short summary of what the challenge is and what we could explore (partially discussed already).

## How accelerator=ddp works

When we launch a ddp script like so:
[code]

What happens under the hood is, process 0 will run on gpu 0 and launch two additional processes with these commands:

[code]

These three processes run independently until they finish training, then they terminate.

[2020-11-06 01:36] awaelchli commented on #4316
You make good point with torchscript. We have now arguments for and against both ways. It seems that the whole discussion just comes to the simple question:

**Should the hparams.yaml file be kept in sync with the contents of the checkpoint?**

I do not know how important it is to be able to tell with what parameters a torchscript model was trained (not much experience). I do however know from own

[2020-11-06 01:42] awaelchli opened #4542 "Replace AttributeDict in with dict in checkpoint"
## 🚀 Feature

When we save hyperparameters to the checkpoint, we save them in a Lightning datastructure called AttributeDict.
We should replace this with a regular dict when saving the checkpoint.

### Motivation

Allows loading checkpoints with `torch.load` in environments where Lightning is not installed.

### Pitch

Convert AttributeDict to dict when saving, convert dict to AttributeDict when l

[2020-11-06 01:47] TylerYep commented on #4541
Ah  sorry about that @awaelchli , I misread your comment on the old issue.

[2020-11-06 01:50] awaelchli opened #4543 "Deprecate the self.hparams setter in LightningModule"
## 🚀 Feature

Modifiy the hparams setter method of LightningModule to print a warning when we make an assignment.

### Motivation

Encourage users to use the `self.save_hyperparameters()` feature, which can handle hyperparameters better.
Directly assigning to `self.hparams` is not recommended.

### Pitch

[code]

and eventually remove the setter. Keep the getter property, user can still access hpa

[2020-11-06 02:12] hadim commented on #4335
I also agree the current `ModelCheckpoint` is confusing. I really like the proposal in the first message that would clarify a lot of things (epoch/steps, save_last, etc).

I don't think symlink should be used as you never really know on which fs you are saving the checkpoint. I would let the user deal with the storage usage things.

Ideally, a single `ModelCheckpoint` class would be best (IMO) ins

[2020-11-06 04:20] tarepan opened #4544 "PR template requires label addition to non-permitted author"
## 🐛 Bug
New PR template requires `Add labels and milestones`, but it is impossible because **non-maintainer author do not have labelling permission**.

### To Reproduce
Try to follow below PR template instruction as non-maintainer.

[code]

non-maintainer author do not have permission, so can do nothing (no label setup icon, like below image).

![image](https://user-images.githubusercontent.com/1

[2020-11-06 04:46] NumesSanguis opened #4545 "Add a property to the Metric class from which can be determined if it can be self.log (scalar or not)"
## 🚀 Feature

Add a property to Metrics which can be checked to see if it can be logged or not.
Or better?, what the computed shape will be.

### Motivation

So far all Metrics in PL v1.0.x compute a scalar. The recommended way therefore is to call:
[code]
which has worked up until now.
However, with upcoming metrics like ConfusionMatrix, the computed value returned is not necessary a scalar, whic

[2020-11-06 05:01] RoonLoe opened #4546 "TypeError: __init__() got an unexpected keyword argument 'default_save_path'"
## ❓ Questions and Help

#### What is your question?
I was trying to run the VAE codes from PyTorch-VAE https://github.com/AntixK/PyTorch-VAE
Managed to resolve some version issues like Logging/Logger, but I ran into this one. And I have no idea what this error is. I tried looking it up but I haven't found one for default_save_path.

Traceback (most recent call last):
  File "C:/Users/roonl/AppDat

[2020-11-06 08:08] kazhang commented on #4335
I have a custom checkpoint callback that inherits from the `ModelCheckpoint` callback to support `every_n_steps` by saving all(`save_top_k=-1` and `monitor=None`) and skip if not every n steps (`(global_step + 1) % every_n_steps != 0`)

At the same time, I also want to store the last checkpoint(`save_last=True`) so that we could resume training from crash.

However, [this exception](https://github

[2020-11-06 08:26] NumesSanguis opened #4547 "Class version of AUROC metric"
## 🚀 Feature

Class version of AUROC metric following the v1.x.x standard, so we can do:
[code]

### Motivation

Class based Metrics can be nicer to use in the PyTorch Lightning workflow, so why not add one for AUROC?

### Pitch

AUROC will automatically use the correct functional function, `auroc` or `multiclass_auroc`, based on whether `num_classes == 2` or `num_classes > 2`, respectively.
Not s

[2020-11-06 08:29] rohitgr7 commented on #4542
wasn't this resolved here: https://github.com/PyTorchLightning/pytorch-lightning/issues/2653
maybe someone changed it again.

[2020-11-06 08:30] rohitgr7 commented on #4544
cc @Borda

[2020-11-06 08:31] NumesSanguis commented on #4547
I've created a possible implementation of a Metric Class for AUROC:

[code]

## Notes & Concerns
- `compute_on_step` should almost always be `False`, otherwise it will fail on a batch that does not include all classes (See *Considerations* in the first post)
- This implementation stores all `preds` and `target`. This might be unwanted, but I couldn't think of a way that would not fail if in a batc

[2020-11-06 08:34] rohitgr7 commented on #4546
The error is coming from here.

 Should be `default_root_dir`, i think.
https://github.com/PyTorchLightning/pytorch-lightning/blob/5e09fd31e9850902fc0a79e92aaba7b80dae1944/pytorch_lightning/trainer/trainer.py#L182-L184

[2020-11-06 08:59] tchaton commented on #4539
Hey @catalys1,

Thanks for sharing the idea ! I like it !
I think we should make it a default in the code, so it doesn't add a non-essential extra arguments.

Would you like to give it a try ?

Best regards,
Thomas Chaton.

[2020-11-06 08:59] awaelchli commented on #4542
thanks for pointing to the linked pr. A week ago I inspected the checkpoint and the type was AttributeDict.
I will check again

[2020-11-06 09:03] tchaton commented on #4541
Hey @williamFalcon, could you have a look at this one ?

[2020-11-06 09:06] tchaton commented on #4544
Hey @tarepan,

Don't worry, we added this line to make sure Pytorch Ligthning Core Team add labels on every PRs.

Best regards,
Thomas Chaton.

[2020-11-06 09:06] #4544 closed

[2020-11-06 09:08] tchaton commented on #4545
cc @teddykoker

[2020-11-06 09:11] tchaton commented on #4547
Hey @NumesSanguis,

Thanks for this idea. I like it !
Would you mind creating a PR and ping @teddykoker.
Please, make sure to add tests :)

Best regards,
Thomas Chaton.

[2020-11-06 10:08] songwanguw commented on #4538
https://github.com/songwanguw/pytorch-lightning/commit/1130bc44a763d8fe8f41f3416430acfb99e86d4c

[2020-11-06 10:25] SkafteNicki commented on #4529
I don't follow why that should give a bug.
Do you have code to reproduce?

[2020-11-06 10:47] Maybewuss commented on #4529
Because self.log will be used only in one process(global_rank=0), but validation_epoch_end will be executed in all process.
And Metric.compute() will reset metric.
So if i have 4 process, if process 1 execute validation_epoch_end earlier than process 0, values in metric will be reset, when process 0 execute self.log, it will return wrong results. Is there a problem with what i think?

[2020-11-06 11:07] SkafteNicki commented on #4547
Hi @NumesSanguis
Sounds great. I have just opened a PR for the three metric PrecisionRecall, ROC, AveragePrecision (https://github.com/PyTorchLightning/pytorch-lightning/pull/4549) that adds class interface for these. AUROC and ROC are closely connected so maybe you could base your PR on mine, such that the AUROC implementation just calls the new ROC implementation?

[2020-11-06 11:18] SkafteNicki commented on #4529
I don't think so. As I described earlier, when `metric.compute()` is called the different processes will sync, such that we get the correct result. Additionally, this computed value is stored in a internal cache which means that no matter how many times compute is called after the first compute (but before any update is called) the process will return the already computed result.
[code]

[2020-11-06 11:41] Maybewuss commented on #4529
Cool design! Is there such a situation that process 1 execute metric.compute() first and execute metric.update() in validation_step before process 0 execute metric.compute....

[2020-11-06 13:50] SkafteNicki commented on #4529
Each process have individual metric states and are only synced on `compute()`. This means, that even if process 1 executes `metric.update` before process 0 is done logging the result from `metric.compute()`, the `update` method will only influence the state of the metric at process 1, thus process 0 should still log the correct result.

[2020-11-06 13:58] SkafteNicki commented on #4540
We had this problem before (this issue https://github.com/PyTorchLightning/pytorch-lightning/issues/1919) and it was solved, but after refactors it seems to only be correct if `trainer.tune()` is called.
The solution is to rebind the logger after running the a tuner algorithm like here:
https://github.com/PyTorchLightning/pytorch-lightning/blob/f3dfb984442c1c4b79f95cfb1d83742aa76cc98b/pytorch_ligh

[2020-11-06 14:03] SkafteNicki commented on #4537
I like this feature 👍
Additionally, we should consider also adding a similar class variable as `CHECKPOINT_JOIN_CHAR`.

[2020-11-06 14:16] Borda commented on #4544
@tchaton this is in the section for reviewers so do not worry... :]
but maybe we should write it there that the before submit is for author and PR review is for reviewers only

[2020-11-06 14:20] #4140 closed

[2020-11-06 14:43] Vozf commented on #2529
Same with pl 1.0.5

[2020-11-06 16:00] miccio-dk opened #4553 "Clarify ModelCheckpoint behavior when self.monitor == None"
## 📚 Documentation

In ModelCheckpoint, setting `self.monitor` to `None` (as for the built-in checkpoint callback in the Trainer) causes it to default to either `val_loss` or `checkpoint_on`, as per [L459](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/callbacks/model_checkpoint.py#L459). This, in turn, overrides the behavior described in the docs, which is cau

[2020-11-06 16:14] ananyahjha93 commented on #4545
@SkafteNicki

[2020-11-06 16:48] rohitgr7 commented on #4545
I think the docstrings of the metric explains itself whether it can be logged or not. I mean only scalars can be logged, so one can just check the docstrings and see whether it returns a scaler or not. Also if you are using a metric, you should know what the metric is computing and what it returns right?
Regarding the `.log` it's already mentioned in [the docs that it only logs scalar values](http

[2020-11-06 17:17] tarepan commented on #4510
*Separation of Concern* with controlled dependency is great!
Can we check above idea with a concrete case?

For example, CheckpointConnector change trainer state.
It break the rule `Connectors should not have a trainer reference or change anything on trainer`,
but changing trainer state is concern of this connector.
How we should refactor?

[2020-11-06 17:28] rohitgr7 commented on #3670
is it good to add this feature now?

[2020-11-06 17:58] murnanedaniel commented on #2934
Since the update to v1.0.5, this technique ([and the instructions in the docs](https://pytorch-lightning.readthedocs.io/en/latest/optimizers.html?highlight=warm-up#step-optimizers-at-arbitrary-intervals)) breaks. Specifically, I get `TypeError: optimizer_step() got an unexpected keyword argument 'epoch'`, since the `optimizer_step()` call has changed to `self.optimizer_step(optimizer, opt_idx, bat

[2020-11-06 18:02] murnanedaniel opened #4554 "Warm-up technique no longer works as documented"
Since the update to > v1.0, this technique ([and the instructions in the docs](https://pytorch-lightning.readthedocs.io/en/latest/optimizers.html?highlight=warm-up#step-optimizers-at-arbitrary-intervals)) breaks. Specifically, I get `TypeError: optimizer_step() got an unexpected keyword argument 'epoch'`, since the `optimizer_step()` call has changed to `self.optimizer_step(optimizer, opt_idx, bat

[2020-11-06 18:12] murnanedaniel commented on #4554
#4455
I see that this issue will be fixed with new documentation. Specifically, changing `current_epoch` to `epoch` in the `optimizer_step` override, as well as changing `optimizer.step()` to `optimizer.step(optimizer_closure)`.

[2020-11-06 18:12] #4554 closed

[2020-11-06 19:48] carmocca commented on #4335
Yes! this was already discussed in slack. Feel free to open a PR.

[2020-11-06 19:52] Vozf opened #4556 "Gpu memory leak with self.log on_epoch=True"
pl 1.0.5
Using new logging api I want to log a metric in LightningModule
[code]
This is a dummy example but it is sufficient to add to `LightningModule`'s `training_step` to cause a memory leak on gpu.
What could go wrong? We want to log a metric which is not even a cuda tensor. How could it lead to a gpu memory leak?
Well thanks to the magic of metric epoch aggregation stuff
Let's dig in and take

[2020-11-06 19:58] carmocca commented on #4553
This was kept for backwards compatibility. Before, you would monitor a quantity by setting it to those keys during training. Now, it is done via ModelCheckpoint's monitor. I guess we never deprecated it properly.

It is fine to update the docs with that piece of information. But it should also be properly deprecated and explicitly stated.

[2020-11-06 20:10] miccio-dk commented on #4553
thanks for the clarification! Indeed, I saw a comment about it in the code.
This makes me wonder, however, about what's the desired future behavior once this functionality will be abandoned.
Will the built-in checkpoint store only the last weights, so that users must instantiate a separate checkpoint monitoring a custom variable (e.g. `val_loss`)? in this case, users can skip saving the latest wei

[2020-11-06 20:13] carmocca commented on #4553
Yes, that is correct

[2020-11-06 21:44] rnett opened #4558 "Attribute finder doesn't check datamodule when hparams is set"
## 🐛 Bug
Issue is seen here too: https://github.com/PyTorchLightning/pytorch-lightning/issues/3233#issuecomment-715588639

See: https://github.com/rnett/pytorch-lightning/blob/6e5f232f5cec2b5e635ae34fa365c6b969d0902e/pytorch_lightning/utilities/parsing.py#L177

In `pytorch_lightning.utilities.parsing.lightning_hasattr` (and `getattr` and `setattr`), because `hasattr(model, 'hparams')` is used in t

[2020-11-06 22:20] miccio-dk commented on #4553
alright, i'll prepare a PR with the chance mentioned earlier. Please let me know if it should contain more than that, and I'll be happy to help :)

[2020-11-06 22:32] zippeurfou commented on #4540
Thanks @SkafteNicki  I think the issue might be more tricky.
`trainer.tune()` also fails. Here is an [example](https://colab.research.google.com/drive/13RrnVaPJtoPy5nHaSPbJu7SedkPbpeud?usp=sharing)
I will read the issue and resolution to see if I can do something along the lines.

[2020-11-06 23:45] mmuckley commented on #4332
Since no one advocated for it, I'll just note that we use Tensorboard because it's well known and it's the closest thing to an official logger for PyTorch. It might not be the best, but people understand it and with it being in PyTorch it's generally reliable.

Adding this deprecation would be yet another API change and would force us to change installation routines for code we've distributed (som

[2020-11-07 00:08] miccio-dk opened #4561 "unreachable (dead) code in Trainer.test() and/or ambiguous behaviour"
## 🐛 Bug
When passing a datamodule and a checkpoint to `Trainer.test()`, the code at https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/trainer/trainer.py#L735 is effectively unreachable. This is because, when `model=None`, the code in https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/trainer/connectors/data_connector.py#L114 raise

[2020-11-07 02:02] Maybewuss commented on #4529
Why process 0 should log the correct result? As you say metric.compute will sync and correctly the state of metric at process1 had been changed.

[2020-11-07 02:06] #1716 closed

[2020-11-07 02:06] #3677 closed

[2020-11-07 02:06] #3488 closed

[2020-11-07 02:06] #3742 closed

[2020-11-07 04:18] tianke0711 opened #4562 "TypeError: __init__() got an unexpected keyword argument 'max_nb_epochs'"
[code]
pytorch-lightning==0.9.1rc1

There is error:
TypeError: __init__() got an unexpected keyword argument 'max_nb_epochs'

[2020-11-07 04:34] ydcjeff commented on #4562
max_nb_epochs is deprecated long ago.
Use `max_epochs`.

[2020-11-07 04:34] #4562 closed

[2020-11-07 07:55] RoonLoe commented on #4546
Thank you! That resolved my original issue! I see that the other Trainer parameters are from older versions too. Is there a place I can check which old parameter is related to whichever new one?
I'm having trouble finding:
log_save_interval  (I assume would be log_every_n_steps)
train_percent_check  (I assume would be limit_train_batches)
val_percent_check   (I assume would be val_check_interval)

[2020-11-07 08:03] zmurez opened #4563 "IOU Class Metric Module"
## 🚀 Feature
Is there a reason why IOU doesn't have a class metric module (currently the only classification class metrics implemented are: Accuracy, Precision, Recall, Fbeta)? Is this already on the roadmap?

I implemented a version below. Does this look good? If so, should I submit a PR?
I was initially worried that the reason it wasn't implemented yet was non-trivial issues with syncing across

[2020-11-07 08:30] ydcjeff commented on #4546
@RoonLoe early_stop_callback -> callbacks
the rest you assume are right.
You can only browse old version docs to check old to new params

Closing it as it is resolved, feel free to reopen if needed

[2020-11-07 08:30] #4546 closed

[2020-11-07 10:10] SkafteNicki commented on #4545
After giving this a though, I think @rohitgr7 is right that it is up to the user to deal with non-scalar tensors and to be aware what they are trying to log.
However, the error message when trying to log a non-scalar tensor with `self.log` could be better:
[code]
instead we could have something like:
[code]

[2020-11-07 10:20] SkafteNicki commented on #4563
Hi @zmurez
It is definitely on the roadmap that all metrics in the functional backend should have a counterpart in the class backend. After we revamped class metric in v1.0 we are slowly adding class interfaces. We have just not reached IOU jet.
That said, we would be more than happy to receive a PR :]

Do note the following:
We are also in the process of unifying the functional and class based ba

[2020-11-07 10:35] SkafteNicki commented on #4540
@zippeurfou what I think is a better solution is for both `DummyLogger` and `DummyExperiment` to support indexing. It would simply be adding this class method to both:
[code]
After adding this, if I run the line that gives problem in your example:
[code]
i get no error :]
Would you be up for sending a PR?

[2020-11-07 11:17] simonm3 opened #4565 "progress bar refresh_rate prevents old bars being cleared"
If you set refresh_rate=100 then the sanity check and validation bars continue being displayed forever even though leave=False. Also the validation bars only show part complete.

I note also that the mininterval parameter for tqdm bars is ignored.

[2020-11-07 13:35] simonm3 opened #4567 "validation progress bar does not update correctly"
Does not show progress. Reason is line 359 in progress.py:

`self.val_progress_bar.total = convert_inf(self.total_val_batches)`

should be:

`self.val_progress_bar.reset(self.total_val_batches)`

Same applies to other places where progress bar total set.

[2020-11-07 14:38] quinor commented on #4524
@awaelchli the fix almost works, after applying it similar issue happens at https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/accelerators/accelerator.py#L134 (stacktrace below) and I don't see a way of knowing what the closure returned here. I applied a VERY dirty hotfix for myself, so I'm just waiting for someone to fix it properly.

[code]

[2020-11-07 16:33] denadai2 commented on #4204
@asalimih try returning the loss at the end of training_step. This temporanly solves the bug I pointed out.

[2020-11-07 17:31] awaelchli commented on #4567
we would still have to convert the inf value, right?

`self.val_progress_bar.reset(convert_inf(self.total_val_batches))`

Would you be interested sending a PR with the fix?

[2020-11-07 17:34] awaelchli commented on #4565
In which terminal emulator / environment did you observe this behavior?

Can you verify it with our bug report model?

[2020-11-07 17:45] awaelchli commented on #4561
If we modify the code in your link a little bit, we could get around this issue:

[code]

What do you think, is this better?
Any edge cases I'm missing?

[2020-11-07 19:01] simonm3 commented on #4567
I am not clear why the value would ever be infinite.

On Sat, 7 Nov 2020 at 17:31, Adrian Wälchli <notifications@github.com>
wrote:

[2020-11-07 19:04] awaelchli commented on #4567
A dataset (e.g. IterableDataset) can have infinite/undefined length.

[2020-11-07 19:10] simonm3 commented on #4565
In a jupyter notebook but likely will be same in any environment. If possible would be simpler to use tqdm for all the progress bar code rather than having a bespoke "refresh" mechanism. It gets to the progress point that should be the end of the bar but does not update it any more.

[2020-11-07 19:12] simonm3 commented on #4565
works fine as long as the refresh is every iteration so bug is probably in the lightning refresh mechanism.

[2020-11-07 19:15] simonm3 commented on #4567
then yes still needs the convert_inf.

[2020-11-07 20:24] asalimih commented on #4204
@denadai2 the first error I explained [here](https://github.com/PyTorchLightning/pytorch-lightning/issues/4204#issuecomment-721771876) had the `return loss` line. after I removed the line it didn't throw error but now metrics wouldn't be logged.

[2020-11-07 21:13] quinor opened #4572 "Native AMP effectively broken when rewriting the optimizer_step function"
## 🐛 Bug

If I turn on the native AMP (`--precision 16`) and modify `optimizer_step` like it's recommended in the docs (https://pytorch-lightning.readthedocs.io/en/latest/optimizers.html#step-optimizers-at-arbitrary-intervals), the training stops converging. The issue is caused by https://github.com/PyTorchLightning/pytorch-lightning/blob/e81707ba0242f12f47d742e86a982f529a7ae65b/pytorch_lightning/

[2020-11-07 21:35] tchaton commented on #4572
Hey @quinor,

Would you mind reproduce the bug with https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/bug_report_model.py.
It would help us a lot resolve this bug faster !

Best regards,
Thomas Chaton.

[2020-11-07 22:00] catalys1 commented on #4539
Thanks @tchaton, sounds good. So just to make sure I'm understanding correctly, the change would be to ALWAYS run validation loop after last training loop (not making it a flag/optional)? If so, that seems fine to me.

I can take a look, but I might not be able to get to it until after next week.

[2020-11-07 22:31] pietrolesci opened #4574 "Nomenclature: reload dataloaders every epoch"
### Simple nomenclature fix:
Since the trainer flag `reload_dataloaders_every_epoch` reloads only the training dataloader, as opposed to validation and training dataloaders (as implemented [here](https://github.com/PyTorchLightning/pytorch-lightning/blob/f63fec9323c319720d78b452e9fe84b97ce7644e/pytorch_lightning/trainer/training_loop.py#L229)), wouldn't it be better to change the nomenclature to `

[2020-11-08 00:14] awaelchli commented on #4574
Hi
it also reloads the other dataloaders.
See in your link a few lines down:
https://github.com/PyTorchLightning/pytorch-lightning/blob/f63fec9323c319720d78b452e9fe84b97ce7644e/pytorch_lightning/trainer/training_loop.py#L264

[2020-11-08 00:17] pietrolesci commented on #4574
HI @awaelchli,

Thanks a lot for the clarification. Is there a way I can force it to reload only the training set?

[2020-11-08 00:40] awaelchli commented on #4574
The only way I currently see is this:

[code]

[2020-11-08 00:42] pietrolesci commented on #4574
Great! Thanks a lot for the idea!
As far as this issue is concerned, I would suggest closing it

[2020-11-08 00:44] awaelchli commented on #4574
you're welcome and let me know if you run into further problems/questions.

[2020-11-08 00:44] #4574 closed

[2020-11-08 00:45] pietrolesci commented on #4574
Thanks for your consideration @awaelchli!

[2020-11-08 04:51] #3542 closed

[2020-11-08 15:41] awaelchli commented on #4567
@simonm3 If I replace the `self.val_progress_bar.total` with `self.val_progress_bar.reset`, I don't see a difference.
Can you post the examle code that gives the wrong progressbar?

[2020-11-08 17:25] junwen-austin opened #4576 "learning rate scheduler does not appear to step"
## 🐛 Bug

when using learning rate scheduler from PyTorch, it appears that it does not step

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing)
Yes I used the notebook above and the only thing I did is to add callback to the trainer. See code below

### To Reproduce

from pytorch_lightning.callbacks impor

[2020-11-08 17:57] awaelchli commented on #4576
When I print the learning rates to console with
`optimizer.param_groups[0]['lr']`
I can see it change, so it must be a visualization issue.

[2020-11-08 18:00] awaelchli commented on #4576
@rohitgr7 have you worked on the LRMonitor? Any ideas what could be wrong with the visualization?

[2020-11-08 18:08] junwen-austin commented on #4576
@awaelchli thanks for looking into it. Could you share the code you print the learning rate to console so I can do more testing?

[2020-11-08 18:29] rohitgr7 commented on #4576
you need to update:
[code]
here `interval: 'step'` tells **when to update** the lr and `LearningRateMonitor(logging_interval='step')` tells **when to log** the lr.

[2020-11-08 18:46] awaelchli commented on #4576
@junwen-austin I just added this line to the training_step
`print(self.trainer.optimizers[0].param_groups[0]['lr'])`

[2020-11-08 18:49] awaelchli commented on #4576
@junwen-austin as per @rohitgr7 's answer you need to run multiple epoch to see the updates or change the scheduling from epoch to step using the dict key in the code sample above.

[2020-11-08 19:24] simonm3 commented on #4567
You can't see the difference on the validation bar until it is running for
a few seconds

Easiest is look at main progress bar by changing line 342 to self
.main_progress_bar.total = convert_inf(total_batches)

For example see attached.

On Sun, 8 Nov 2020 at 15:41, Adrian Wälchli <notifications@github.com>
wrote:

[2020-11-08 19:37] junwen-austin commented on #4576
@awaelchli @rohitgr7 Thank you so much!

[2020-11-08 19:37] #4576 closed

[2020-11-08 19:41] awaelchli commented on #4567
thanks, for the main progress bar I can see what happens, just not for the validation and test bars but I submitted a PR. Just need to figure out how to write a test for it.

[2020-11-09 01:59] TrentBrick opened #4584 "Logging RL results and tracking them with ModelCheckpoint(monitor=...)"
I am using Pytorch Lightning in an RL setting and want to save a model when it hits a new max average reward. I am using the Tensorboard logger where I return my neural network loss in the `training_step()` using:

[code]

And then I am saving my RL environment rewards using in `on_epoch_end()`:

[code]

And every 5 epochs I am also writing out another RL reward loss where I use the best actions r

[2020-11-09 02:06] NumesSanguis commented on #4545
With this issue I'm *not* asking `self.log()` to take care of the not-loggable issue. What I'm asking is a property to check against. Instead of having to add a `self.log()` line for every metric that returns a scalar, I just want to loop over all Metrics that are registered. However, if one of these Metrics does not return a scalar, the whole thing fails.

While as a single user you write all the

[2020-11-09 04:35] NumesSanguis commented on #4547
@SkafteNicki Great work! Then I'll wait till that PR has been merged.

[2020-11-09 05:48] awaelchli commented on #4420
Could it be this fix in pytorch?
https://github.com/pytorch/pytorch/issues/47257
Exact same error (line number and stack messages).

[2020-11-09 06:02] AristoYU commented on #4556
Same problem! However, I use `self.log("log name", (scalar tensor).item())` to avoid that OOM problem. Maybe you can log the data in the tensor instead of the tensor itself.

[2020-11-09 06:36] Vozf commented on #4556
I'm logging just a python`1` not a tensor as you can see from the example

[2020-11-09 08:14] david-waterworth opened #4587 "Segmentation fault on import with RTX 3090"
I've just installed an RTX 3090 in my DL machine. I have the following dependencies installed

Driver Version: 455.32
Cuda Version: 11.0
Python Version: 3.8.6
Pytorch Version: 1.7.0+cu11  (`pip install torch==1.7.0+cu110 torchvision==0.8.1+cu110 torchaudio===0.7.0 -f https://download.pytorch.org/whl/torch_stable.html`)

After initially having issues (installed cuda-11-1 rather than cuda-11-0) torc

[2020-11-09 08:26] tarepan opened #4588 "Mergify never merge PullRequest"
## 🐛 Bug
`.mergify.yml` requires over 54 tests pass, but CI `All checks have passed` results in  `53 successful checks`.
Automatic merge never triggered.

### To Reproduce
Make pull request which pass all test.

![image](https://user-images.githubusercontent.com/19833110/98516644-18c3b680-22b0-11eb-8c7e-76fb2202c0c5.png)

Mergify unexpectedly do not merge this PR.

### Expected behavior
Mergify au

[2020-11-09 09:27] justusschock commented on #4423
@jtcramer Any chance you could provide a minimal reproduction example?

[2020-11-09 09:47] justusschock commented on #4510
@tchaton Ideally they wouldn't.

@tarepan This is not yet sure. But I'm currently trying to prototype this.

[2020-11-09 09:49] justusschock commented on #1893
@stas6626 How is it going there?

[2020-11-09 10:30] #4353 closed

[2020-11-09 11:01] ydcjeff commented on #4588
Hi @tarepan
We temporarily disable mergify service because we config in the way that mergify request the core contributors to review the PRs even if they have already reviewed them. So, mergify notifications are taking up everywhere in the github noti so we temporarily disable it, not a bug

[2020-11-09 11:04] #4588 closed

[2020-11-09 11:18] ydcjeff commented on #4587
Hi @david-waterworth so Lighting imports failed on both CUDA 11 and 11.1?

[2020-11-09 11:19] Vozf commented on #4556
@tchaton, @Borda  Any thoughts on this?

[2020-11-09 11:32] #4357 closed

[2020-11-09 12:14] Vozf commented on #4556
For anyone having the same problem, I monkeypatched like this to avoid setting loss
[code]

[2020-11-09 12:28] SkafteNicki commented on #4545
@NumesSanguis Metrics like `Precision`, `Recall` ect will at some point be update such their `average` argument can be `None` (similar to sklearn), which corresponding to returning the score for each class i.e. this will be metrics that only can be logged using `self.log` for some parameter combinations.

I completely understand the problem at hand here. My only problem is that it will require goi

[2020-11-09 14:47] edenlightning opened #4589 "Support custom accelerator nicknames"
Add a mapping between custom accelerators and "nicknames" so that you can

`Trainer(accelerator=‘nickname’)
`

[2020-11-09 15:02] lezwon commented on #4464
@FabianBell I'm not able to figure out the root cause of the error mentioned above. I think it might be similar to this one: https://github.com/huggingface/transformers/issues/2952

[2020-11-09 15:24] tchaton commented on #4395
[code]

[code]

I still get 1 :)

Best,
T.C

[2020-11-09 15:39] Vozf commented on #4556
Validation loop has the same issue cuda tensors are stored in a list, but they are detached compared to non-detached train loop so overhead isn't big, but it's still there. This can be fixed by loss.cpu() before returning it in validation_step or not returning anything at all

[2020-11-09 16:18] showgood163 opened #4590 "How to add dynamically defined module and its optimizer to the lightning module?"
## ❓ Questions and Help

#### What is your question?

I have a module whose configuration is defined by one forward pass, e.g. a fc layer whose input size depends on some random features inside a network. I also have to update the parameters of this module. What's the recommend way to do this?

#### Code

[PatchSampleF is a kind of this module](https://github.com/taesungp/contrastive-unpaired-tran

[2020-11-09 16:45] awaelchli commented on #4584
I have multiple comments that I did not verify yet but they might help

- If I'm not mistaken, `self.log` only works within a selection of hooks currently. I suggest you try to move the relevant code to `training_epoch_end` where `self.log` should work correctly.
- set the monitor key in the `ModelCheckpoint(monitor=)` explicitly.
- You have the problem that you can only update/log every n epochs:

[2020-11-09 17:34] SeanNaren commented on #4204
We're currently in a deep dive into automatic_optimization=False behaviour after a lot of different bugs have appeared in different edge case situations. Please have a look at #4485

The logging changes will hopefully make logs a little clearer, but in terms of actual functionality for automatic_optimization we're in the process of debugging.

@asalimih could you reproduce the bug with this? https

[2020-11-09 17:38] edenlightning commented on #4204
@tchaton

[2020-11-09 17:38] edenlightning commented on #4148
@tchaton

[2020-11-09 17:40] SeanNaren commented on #4223
The issue is related to ensuring that `sync_dist` is enabled for val results. Using the bug report model modify:

[code]

[code]
This will ensure that the validation metric is synced across distributed process. Feel free to re-open this issue if it doesn't work :)

[2020-11-09 17:40] #4223 closed

[2020-11-09 17:44] tchaton commented on #4556
Hey @vozf and @AristoYU,

I deeply apologise for this bug. Let me work on it in priority !

Best regards,
Thomas Chaton.

[2020-11-09 17:55] mees commented on #4012
I can confirm this bug. I also use tensorboard for loggin and have therefore a `self.log('val/accuracy', val_acc)` at the end of my `validation_epoch_end`.
I use these parameters for ModelCheckpoint
[code]
and a directory called `epoch=0_val` is created and a checkpoint inside with the name `accuracy=0.0000.ckpt`
I would like the checkpoint to be named  `epoch=0_val_accuracy=0.0000.ckpt` and to be

[2020-11-09 18:16] TrentBrick commented on #4584
Thanks for this all of this. It sounds like the fundamental problem may be that with my code I was not logging from `training_epoch_end()`? Because I was setting `monitor=` to explicitly track either `eval_mean` or `mean_reward` but they wouldn't be detected.

I will try this and let you know if it works.

[2020-11-09 19:57] chiragraman commented on #3998
@awaelchli I was going to take a crack at points 1 and 2 above, I think the PR only updates the docs right? Wanted to confirm before proceeding, since incorporating the first two points would also solve #3998.

[2020-11-09 20:01] chiragraman commented on #4333
@awaelchli I was going to take a crack at points 1 and 2 above, I think the PR only updates the docs right? Wanted to confirm before proceeding, since incorporating the first two points would also solve #3998.

[2020-11-09 20:01] #2978 closed

[2020-11-09 20:04] awaelchli commented on #4333
yes, that update to the docs was just a first step. Please feel free to give it a try! Would appreciate the help.

[2020-11-09 20:05] chiragraman commented on #4333
Cool, I'll start a draft PR to discuss the details. Can we leave this issue open till then?

[2020-11-09 20:39] ohayonguy opened #4594 "Tensorboard logging only part of the logged metrics and images."
I am trying to use Tensorboard and log images generated by a GAN at the end of each epoch. To do that, I set up a callback that automatically logs an image into tensorboard. Tensorboard is showing the image that was generated after the first epoch only. In addition, I am also trying to log some losses such as gradient penalty and minmax loss and it seems like tensorboard is showing only part of th

[2020-11-09 20:52] Borda commented on #4587
@david-waterworth could you please confirm that the very same import works with `import torch`?

[2020-11-09 21:10] david-waterworth commented on #4587
@ydcjeff it may have but at that stage I was still getting the dependencies correct - there's no pre-built torch binary for 11.1 (afaik).

@Borda yes `torch` imports fine and I can run a pure torch training loop on my 3090. I'm going to clone `pytorch-lightning` and see where it's crashing. There's a chance I have an env variable or something pointing to the wrong place, although I would have thou

[2020-11-09 21:26] david-waterworth commented on #4587
I deleted my virtual environment and reinstalled. It now no longer crashes. Instead I'm getting 'CUDA error: no kernel image is available for execution on the device' which is the error I saw earlier using `torch` when I had the wrong version of pytorch / cuda. Not sure why at this stage but pl is finding the wrong cuda by the looks of things - I'll dig further - it's probably an issue with my ins

[2020-11-09 21:39] stas00 opened #4596 "upgrading PL via pip uninstalls pytorch-1.8"
## 🐛 Bug

### To Reproduce

[code]

### Expected behavior

It shouldn't uninstall pytorch-1.8.

Nvidia RTX-30* don't work with pytorch < 1.8.

### Environment

[code]
### Additional context

[2020-11-09 21:46] stas00 commented on #4596
This is weird, the report says I still had pytorch-1.7 after removing pytorch-1.8, how would 2 of them co-exist in the same conda setup. But still PL works just fine with pt-nightly, so it probably shouldn't force <1.8, right?

[2020-11-09 21:51] david-waterworth commented on #4587
I ended up installing the nightly version of pytorch via `pip install --pre torch torchvision -f https://download.pytorch.org/whl/nightly/cu110/torch_nightly.html` which installed `torch-1.8.0.dev20201106+cu110` (based on https://github.com/pytorch/pytorch/issues/45028).

It's working, despite the messages:

torchvision 0.8.1 requires torch==1.7.0, but you'll have torch 1.8.0.dev20201106+cu110 whi

[2020-11-09 21:53] ddrevicky commented on #4547
Hi @NumesSanguis good work :)

I can see the problem with not all classes being in a batch.
We could:
- raise an error - that's exactly what`sklearn` does in that case.
- issue a warning and not compute the metric for that batch (perhaps preferable?)
- do something like you're doing but we probably don't want to store all predictions and targets. Besides the memory issue, there is also a problem w

[2020-11-09 22:03] carmocca commented on #4589
Just curious, what is the benefit of allowing this?

[2020-11-09 22:49] Borda commented on #4587
@david-waterworth I am sorry for such complication, but it seems that it was not Pl problem in the end, away the HW specific issue would be quite hard to debug/reproduce locally as these kinds of cards are not available on cloud hosting...
From my experience, actual Torch binaries on PyPI are building with CUDA 10.1 and 10.2 so you may consider building your one package from the source...
So I ass

[2020-11-09 22:49] #4587 closed

[2020-11-09 22:53] Borda commented on #4596
@stas00 I think it is a problem with your setting `-U` which upgraded the package along with all its dependencies
Talking about `<1.8` it is there as we do not have any testing for nightly 1.8 yet, but most likely it shall be fine and there is no special need for such limitation, @edenlightning?

[2020-11-09 23:29] david-waterworth commented on #4587
@Borda yes I agree, I'm not sure what the best approach at the moment is. I'll try building torch 1.7 against CUDA 11.1 from source. Although if I need torch 1.8 I'll have to wait for downstream packages to update their dependencies - both PL, AllenNLP and others require torch <= 1.7 at the moment

[2020-11-09 23:38] edenlightning commented on #4596
not that I am aware.

Is there any bug on lightning then?

[2020-11-09 23:47] #4364 closed

[2020-11-09 23:55] Borda commented on #4587
We are working on adding support for nightly (1.8) as soon as possible unless it will require some significant changes on the PL side...
cc: @edenlightning

[2020-11-10 00:33] david-waterworth commented on #4587
Thanks, it's now working with `pip install torch==1.7.0+cu110 torchvision==0.8.1+cu110 torchaudio===0.7.0 -f https://download.pytorch.org/whl/torch_stable.html`

I think some packages with `requires` in their dependencies replace 1.7.0+cu110 with 1.7.0 or even 1.6.0 so I've found I need to install this last.

[2020-11-10 00:37] stas00 commented on #4596
That's what I'm saying - is there a reason to force `torch<1.8`? Then pip won't remove it. Is my thinking correct?

[2020-11-10 01:16] stas00 commented on #4596
Found another problem with this:

We recently added a PL version check to handle breaking changes in PL,
https://github.com/huggingface/transformers/blob/master/examples/lightning_base.py#L36
and it doesn't look it's what we want, since I get:
[code]
So it fails despite having 1.0.5 installed.

Which way would you recommend we check for the PL version - w/o the above issue? I see there is `pytorch

[2020-11-10 01:31] s-rog commented on #4395
[code]
@tchaton This took me a while to figure out but it seems like the bug only shows up if you use `self.log` as well (like below).
[code]

[2020-11-10 01:31] b02202050 opened #4597 "default value of sync_batchnorm"
Hi,
I am just having a simple question here.
Why not the flag `sync_batchnorm` default be True?
If using multi-GPUs, aren't the weights be different across processes if `sync_batchnorm` is False?
Is there case of not using `sync_batchnorm` in multi-GPU mode?

Thanks.

[2020-11-10 01:39] NumesSanguis commented on #4547
Thank you for your thoughts @ddrevicky !

1. & 2. Unlike accuracy, AUROC is used to get a sense of the performance of each class. Therefore, it is often used for imbalanced datasets. Take for example [AudioSet](https://research.google.com/audioset/), an audio dataset with 527 classes, [which also uses AUC](https://research.google/pubs/pub45857/) as one of the metrics to determine performance. Sinc

[2020-11-10 01:51] ydcjeff commented on #4597
Lightning default gpus is None which means it will run on cpu. So setting sync_batchnorm to True by default does not make sense.

Sync_batchnorm is used in multi-gpu training and you should turn it on when there is a batchnorm layer in your model.
So setting False by default is a good choice.

Closing it as it is resolved, feel free to reopen if needed

[2020-11-10 02:17] s-rog commented on #4542
Yeah this is odd, last I tested it was loading fine (without pl) as well... though there has been quite a bit of refactoring...

[2020-11-10 03:45] s-rog commented on #4596
When I'm using non release versions of pytorch I install lightning and other torch depending libraries with `--no-deps` and haven't had any issues, though I guess it would be problematic if your env is very barebones...

[2020-11-10 03:53] stas00 commented on #4596
given that `conda` has been choking on itself as of recent with just a handful of packages and their dozens of dependencies, I end up re-installing the env from scratch very often :( So tracking down all the dependencies would be a job on its own.

So the bare-bones setup to run `transformers` dev I have to do:
[code]
which pulls in PL and its deps.

And since there is no proper support for RTX-30

[2020-11-10 07:45] b02202050 commented on #4597
Hi,
Thanks for the answers but why not automatically set sync_batchnorm when using multiple GPU or TPU?
Is there any problem of setting sync_batchnorm when the model doesnot have batchnorm?

[2020-11-10 07:53] ydcjeff commented on #4597
Ahh Thank you! That's a good point. But not every model will have batch norm layer, so we leave the choice to the users.

I am not sure about it.

[2020-11-10 08:16] #4361 closed

[2020-11-10 08:16] #4396 closed

[2020-11-10 08:38] SkafteNicki commented on #4594
Regarding the logging of images: In this line
`pl_module.logger.experiment.add_image('generated_collage', image, trainer.batch_idx)`
the third argument should not be the `trainer.batch_idx`, it should be `trainer.global_step` as `batch_idx` gets reset after each epoch (which is why you are only seeing result from 1 epoch) whereas `trainer.global_step` increases monotonically.

If you want to log s

[2020-11-10 08:50] arcticriki opened #4599 "How to deal with "almost equal partitions" when implementing dataset partitioning for DDP?"
## What is your question?

I need to implement some simple Data Partitioning logic in order to explicitly split my big dataset among processes used in DDP. The logic will be the following:

assuming that each data_partition will be identified by a `data_partition_id` and `global_rank` of each machine will increase monotonically, I will be loading data in the target process only if `data_partion_id

[2020-11-10 08:54] tchaton commented on #4590
Hey @showgood163,

I would say the simplest approach is the following:
* you use Trainer(automatic_optimization=False) and in your training_step, you make your forward (which will define your model), your create / override your optimiser there, and perform manual_backward, manual_optimizer_step with your dynamically defined optimiser.
I think it should work fine :)

Here is the doc: https://pytorc

[2020-11-10 08:58] tchaton commented on #50
@SeanNaren, Fairscale should partially provide this feature with `OSS` right ?

[2020-11-10 09:04] EQlearning opened #4600 "load_from_checkpoint: TypeErrror: __init__() missing 1 required positional argument"
[code]

When i call this function, i got this error.
**TypeError: __init__() missing 1 required positional argument: 'layers'**

My model resnet50 is public code in torchvision.

What is wrong in my code?

[2020-11-10 09:15] ohayonguy commented on #4594
Hi, thanks for the help.
I tried using self.log with no luck.
Also, what if I want to log a single image, and that after each epoch it will overwrite the last logged image in tensorboard? Is that possible?

Thanks

[2020-11-10 09:23] Limtle opened #4601 "How to save gradient every step?"
#### What is your question?
Because my model have some gradient disappear , I need to save gradient every step to debug.
I found this issue #49. But the document does not have its information. How to save gradient every step?

[2020-11-10 09:25] Limtle commented on #4225
closed  #4437

[2020-11-10 09:25] #4225 closed

[2020-11-10 09:30] EQlearning commented on #4600
In my model ResNet def __init__() i added this line self.save_hyperparameters().

It works :)

[2020-11-10 09:31] #4600 closed

[2020-11-10 09:37] marrrcin commented on #4304
Ping @tchaton

[2020-11-10 09:50] SeanNaren commented on #50
@tchaton, not exactly! This is covered by https://github.com/PyTorchLightning/pytorch-lightning/pull/4443 which introduces the pipe accelerator (allows you to split a model across GPUs). The self balancing part isn't easy, but can be done via functions like this in fairscale:
https://github.com/facebookresearch/fairscale/blob/7c5203eb772d7c67e45ed6ff6b66579b8e5cbc6c/fairscale/nn/pipe/balance/__ini

[2020-11-10 09:52] SkafteNicki commented on #4594
You should be able to log your different scalar tensors by doing:
[code]
If you just want to overwrite I assume you can just not provide the third argument.

[2020-11-10 10:07] Svito-zar commented on #4556
I also had this issue

[2020-11-10 11:25] FabianBell commented on #4464
@lezwon thank you for your help. I followed [notebook](https://colab.research.google.com/github/pytorch/xla/blob/master/contrib/colab/multi-core-alexnet-fashion-mnist.ipynb) and I ended up with the same error. I do not think that it is a pytorch lightning problem. I will therefore close this issue here.

[2020-11-10 11:25] #4464 closed

[2020-11-10 11:36] SeanNaren commented on #4601
Hey @Limtle, do you mean saving your gradients from the loss or within the parameters?

[2020-11-10 11:37] #4420 closed

[2020-11-10 11:46] SeanNaren commented on #4538
Are you able to reproduce the bug with this?

https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/bug_report_model.py

This will help get a fix into master :)

[2020-11-10 11:50] #4411 closed

[2020-11-10 11:51] SeanNaren commented on #4599
Hey @arcticriki are you implementing DDP data partitioning logic into your dataloader? For some further information we do an automatic sampler swap if using DDP such that any standard data-loader that is meant to be used sequentially is automatically partitioned correctly for DDP:

https://pytorch-lightning.readthedocs.io/en/stable/multi_gpu.html#remove-samplers

Currently the sampler circles addi

[2020-11-10 12:13] ddrevicky commented on #4547
@NumesSanguis
3. You're right staleness is not an issue if validation is done at epoch's end, I got confused a little :)
-------
1. We only have the one-vs-rest (`'ovr'`) version implemented and that's what's being [tested against in sklearn](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/tests/metrics/functional/test_classification.py#L340), so no need for the user to specify t

[2020-11-10 12:16] ddrevicky commented on #1298
I will most likely not have time to look at this now, if anyone else would like to take a look at this feel free to do so :)

[2020-11-10 12:54] ferrine opened #4603 "ModelCheckpoint misbehaves when no validation"
## 🐛 Bug

ModelCheckpoint misbehaves when there is no validation step. Eg. if you ask to monitor for loss and save every checkpoint with `save_top_k=-1` the callback will not do this silently.

### To Reproduce
This [line of code](https://github.com/PyTorchLightning/pytorch-lightning/blob/470e2945fc0fefa1b6d42f1d64fef9f22f5c75b3/pytorch_lightning/callbacks/model_checkpoint.py#L180) is a pure indic

[2020-11-10 13:01] #4226 closed

[2020-11-10 13:03] showgood163 commented on #4590
Thanks! Will have a try and update if I have a result.

[2020-11-10 14:35] hakanyi opened #4604 "How to load to from a checkpoint to same device when pretrained encoder was used"
## ❓ Questions and Help

I implemented a `ClassificationNet` (see below) that's using a pretrained encoder. After training, I'm trying to load it to CPU using `ClassificationNet.load_from_checkpoint(pth, map_location=torch.device("cpu")`, but since `map_location` in `get_encoder` is `None`, the encoder tries to load to GPU. How can I inform `get_encoder` to load to the same `map_location`?
Since I

[2020-11-10 14:37] aktersnurra opened #4605 "EarlyStopping BrokenPipeError: [Errno 32] Broken pipe"
## 🐛 Bug
EarlyStopping together with num_workers > 0 yields the following error message for me:

[code]

I strongly believe this is the case, as setting `num_workers=0` or **not** using the `EarlyStopping` callbacks removes this error message from showing up.

### To Reproduce
This is probably coupled with reading data from a hdf5 file, with an implementation similar to this one:

https://discuss.

[2020-11-10 14:59] arcticriki commented on #4599
@SeanNaren thanks for your answer. I'll tell you exactly I'm doing it, maybe you will have some more ideas.

* I'm using `pl.LightningDataModule` to abstract my `Dataset`, say we have:
[code]
* In the `setup` method of `MyDataModule` I'm "building" my dataset in this way:
[code]

* then, this list (`dataset`) is passed to the dataloader:

[code]

This code is packed into my "train.py" script, that

[2020-11-10 15:44] SeanNaren commented on #4605
Hey @aktersnurra this seems hdf5 specific, would it be possible to get the fullstack trace or reproduce using this?

https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/bug_report_model.py

[2020-11-10 15:59] MohammedAljahdali opened #4607 "How to change the Datamodule during training with a callback?"
#### What is your question?
How to change the Datamodule during training with a callback?
More details:
I am looking for a way to reinitialized my Datamodule with different parameter, I am currently sending the height of my images as argument to my datamodule and I want to change this height at some point during training, the simple way is to call trainer.fit multiple times with different datamodu

[2020-11-10 17:34] maxjeblick commented on #4424
Fixed by https://github.com/PyTorchLightning/pytorch-lightning/pull/4458

[2020-11-10 17:34] #4424 closed

[2020-11-10 18:09] rohitgr7 commented on #4601
you can override `on_after_backward` or `on_before_zero_grad` hook and save the save gradient as you wish. You can acces them both within a callback or the LightningModule itself.

with a callback:
[code]

[2020-11-10 18:45] #3496 closed

[2020-11-10 18:45] #1363 closed

[2020-11-10 18:45] #3018 closed

[2020-11-10 19:44] #4444 closed

[2020-11-10 21:13] #4556 closed

[2020-11-10 21:36] murnanedaniel opened #4609 "Test step to handle non-scalar outputs"
## 🚀 Feature
Handle output from test loop _not_ being a single value.

### Motivation
I often need to use a callback to do some processing on test values (to make plots, etc.), which I like to separate from the core module code. In this case, I would like to use `on_test_batch_end` to build a list of predicted values, calculated in the core `test_step`.

### Pitch
To make this work, I need to outp

[2020-11-10 22:55] AustinT opened #4611 "self.log does not work in on_train_batch_start/end hooks"
## 🐛 Bug

Logging with `self.log` doesn't seem to work properly in the `on_train_batch_start` and `on_train_batch_end` model hooks. Specifically:

- when put in `on_train_batch_start` it crashes because `self._current_fx_name` is set to `validation_epoch_end`which seems like incorrect behaviour. (It seems like it should be set to `training_step`)
- when put in `on_train_batch_end` it just seems to

[2020-11-10 23:20] JosephGatto opened #4612 "Code stuck on "initalizing ddp" when using more than one gpu"
## 🐛 Bug

I am trying to run a pytorch lightning model on a 4-GPU node. In my trainer, if I specify

[code]
It runs fine. However, once I add another GPU
[code]
I get this output:

GPU available: True, used: True
TPU available: False, using: 0 TPU cores
LOCAL_RANK: 0 - CUDA_VISIBLE_DEVICES: [0,1,2,3]
initializing ddp: GLOBAL_RANK: 0, MEMBER: 1/4
initializing ddp: GLOBAL_RANK: 1, MEMBER: 2/4
initia

[2020-11-10 23:29] quinor commented on #4572
@tchaton found a bit of time to do that. The model terminates on NaNs while it shouldn't:

[code]

[2020-11-10 23:36] quinor commented on #4572
A possible (though ugly) fix is to just ask the user in the documentation to call `super().optimizer_step(...)` with the right parameters whenever they rewrite `optimizer_step` with automatic optimization on.

[2020-11-10 23:51] catalys1 opened #4613 "Strange issue with DataParallel"
## 🐛 Bug

I'm having an issue with tensors being on different devices when using `distributed_backend=dp`. But it only occurs under what seems like some pretty specific circumstances. I can only reproduce the bug when I have done BOTH of the following:

- replaced the `forward` method of the internal network (see the code sample below)
- replaced the `BatchSampler` in the training dataloader with

[2020-11-11 00:10] edenlightning opened #4614 "Memory leak using AMP and transformers"
Context can be found here: https://github.com/huggingface/transformers/issues/8403

10x memory consumption increase with native amp on PL

I'm running under debugger pt15+apex side by side with pt16+native amp, https://github.com/huggingface/transformers/issues/8403
and found the first issue of objects not being freed

I ruled out GradScaler I think there is a huge memory leak somewhere.
Typically

[2020-11-11 00:43] stas00 commented on #4614
So the first place where it fails to clear cuda cache when running with native amp is here: https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/trainer/connectors/checkpoint_connector.py#L62 (with apex it clears about 1/3rd of preallocated gpu ram at this point). The trace is:

[code]

[2020-11-11 00:55] s-rog commented on #4395
also #4479 might be related?

[2020-11-11 01:50] edenlightning commented on #4612
Hey! Can you try to reproduce using [our simple boring model](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/bug_report_model.py)?

Just to verify the bug isn't something in your model.

[2020-11-11 03:42] stas00 commented on #4614
OK, this one I sorted out not to be the culprit as I initially thought it was.

The problem with native amp is that it doesn't cast to fp16 until much later in the game, hence the discrepancy. If for the sake of debug I force `.half()` here:
[code]
the cache gets emptied - identically to when apex amp is used - the model sizes on gpu are identical at this point.

So this wasn't it. back to the dra

[2020-11-11 03:58] showgood163 commented on #4590
I'm encountering problems about the convergence of the model, even I'm running the code in the single gpu mode.

- I tried `automatic_optimization=False` and change the code according to [this](https://pytorch-lightning.readthedocs.io/en/1.0.5/optimizers.html#manual-optimization). After that I found that all the logs using pl.module.log() is gone and I fallback to manual logging methods. So what s

[2020-11-11 04:45] shentianxiao commented on #2909
The same issue appears with version 1.0.5 (0.9.0 is fine). Can you help with it?

(also track_grad_norm doesn't work in 0.9.0, so I have to switch to 1.0.5...)

[2020-11-11 05:04] stas00 commented on #4614
I don't think autocast is doing anything, despite the calls being made through it's context manager.

If I look at the forward inputs with apex, they are of dtype `float16` - with native they are `float32`

apex (see lower left corner)
![fp-16-apex-inputs](https://user-images.githubusercontent.com/10676103/98770962-366c4b00-2398-11eb-9289-388b4c1b25d9.png)

native (see lower left corner)
![fp-16-n

[2020-11-11 05:54] stas00 commented on #4614
Reading more on autocast - it doesn't just autocast any operation, but only a select list of pytorch ops

https://pytorch.org/docs/stable/amp.html#ops-that-can-autocast-to-float16

So I was checking initially in the wrong parts of the `forward()` - where none of these have been used. So I rechecked again with `forward()` that contained some `linear` layers - same thing, the weights of `linear` rem

[2020-11-11 06:17] Palzer opened #4616 "lr_tuner fails if called after tuning batch_size"
https://github.com/PyTorchLightning/pytorch-lightning/blob/514cb22bd719e6ca056cacce730c8de875c9dbf6/pytorch_lightning/tuner/lr_finder.py#L411

The line above sets current_step to 2 if the batch_size tuner has already run.

https://github.com/PyTorchLightning/pytorch-lightning/blob/514cb22bd719e6ca056cacce730c8de875c9dbf6/pytorch_lightning/tuner/lr_finder.py#L419-L420

This causes best_loss to be z

[2020-11-11 06:18] jw3126 commented on #4423
Probably related:
https://discuss.pytorch.org/t/pytorch-lightning-tensors-on-wrong-device/102285

[2020-11-11 06:25] stas00 commented on #4614
OK, so I did find a few lines of code where it did `autocast` to `float16` [here](https://github.com/huggingface/transformers/blob/eb3bd73ce35bfef56eeb722d697f2d39a06a8f8d/src/transformers/modeling_bart.py#L472), only very briefly and then it went back to `float32` - it seems that most layers like dropout or activation cast it right back into `float32`.

So `autocast` "works" too, albeit very diff

[2020-11-11 07:02] songwanguw commented on #4538
@SeanNaren Thanks for pointing me to the script.  I was not able to reproduce the errors. I found there is no bug here.

"current" is a torch.Tensor and scaler (`shape == torch.Size([]`)

It is my mistake by confusing torch.Tensor() and torch.tensor().

[code]

[2020-11-11 07:02] #4538 closed

[2020-11-11 08:14] tchaton commented on #4479
Dear @tobiascz,

Thanks for noticing this wrong behaviour. I will look into it asap.

Best regards,
Thomas Chaton.

[2020-11-11 08:55] aktersnurra commented on #4605
Hi @SeanNaren,

I ran the `bug_report_model.py`, it is as you thought, a hdf5 bug. I suspect it has something to do with the threads reading from the h5 file and early stopping trying to terminate the training that causes the issue. I'll go dig for a solution in the h5 corner.

Thanks for the fast response,

Cheers,

Gustaf

[2020-11-11 08:55] #4605 closed

[2020-11-11 08:56] tchaton commented on #4479
Dear  @tobiascz,

It seems the bug is currently in the release branch but not master. Let me investigate from there.

[code]

![Screenshot 2020-11-11 at 08.55.29.png](https://images.zenhubusercontent.com/5fa02d9c703c16598a8d683b/2500f41f-6a10-4eb3-a1d0-578dc76651a7)

[2020-11-11 11:07] ptrblck commented on #4614
`apex/amp` has different `opt_levels`, where the native amp implementation would be similar to `opt_level='O1'` in `apex`.

While one could reduce the memory footprint using FP16 in all operations, your training might blow up, as FP16 values can easily over/underflow. Automatic mixed-precision is designed to use FP32 where necessary, and FP16 where possible.
You can still use `model.half()` and us

[2020-11-11 12:01] eladar commented on #4170
Hi,
I've somewhat similar question - Is there any way to log the first training epoch (or several iteration) without doing optimization?
I want to get baseline for the initialized model and compare loss values both on training and validation samples.

Thanks in advance,
-ea

[2020-11-11 12:35] vegovs opened #4621 "Weird logging to console behavior."
## 🐛 Bug

Logging to console prints some stuff twice, and does not output my custom logging. Verbose EarlyStopping does also not output to console:

[code]

### To Reproduce

Here is my training code:
[code]

### Expected behavior

### Environment

* CUDA:
	- GPU:
		- GeForce RTX 2070 SUPER
	- available:         True
	- version:           11.0
* Packages:
	- numpy:             1.19.4
	- pyTorch_de

[2020-11-11 13:58] itsikad commented on #4597
@ydcjeff Thanks for you response.

This flag will trigger a call `torch.nn.SyncBatchNorm.convert_sync_batchnorm(self.model)` to replace all BatchNorm layers  with their synchronized counterpart, so in case the model doesn't contain BatchNorm layer nothing will change.

AFAIK SyncBatchNorm is mostly beneficial when batch_size is small, yet I personally think that the desired behavior in DDP (and pr

[2020-11-11 14:14] ydcjeff commented on #4597
@itsikad Thank you for pointing this out. Reopening...

[2020-11-11 14:15] #4597 closed

[2020-11-11 14:53] hecoding commented on #4479
Sometimes there's no unambiguous way of returning a single loss tho, i.e. GAN training.
What I'm doing to bypass the bug rn is this, hopefully there's no impact on the optimization:
(I'm using `automatic_optimization=False` btw)
[code]

[2020-11-11 15:22] tchaton commented on #4479
Hey @hecoding,

You might want to have a loo Kat this.

Best,
T.C

[2020-11-11 16:24] JosephGatto commented on #4612
Thanks for the response @edenlightning. This morning (about 12 hrs after my last attempt), I ran the simple boring model and it ran. I also added gpu=[0] and it worked. When I added gpu=[0,1] it worked the first time I ran it. I successfully ctrl+c'd out of it, then tried to run it again and it hangs forever. nvidia-smi shows no processes running and I can continually run the single gpu approach a

[2020-11-11 17:05] #3813 closed

[2020-11-11 17:10] stas00 commented on #4614
Thank you for your answers, @ptrblck!

I suppose the only way to really know which  amp/level would be most beneficial is to write a memory/speed benchmark.

[2020-11-11 17:47] tchaton commented on #4479
Hey @hecoding,

Do you get this pb when using master ?

Best regards,
Thomas Chaton.

[2020-11-11 18:15] tobiascz commented on #4479
I added this
[code]

to the code here: https://gist.github.com/tobiascz/bb2c6de83263eb38181052840062b5ac

But the error is still present.

[2020-11-11 18:17] SeanNaren commented on #4614
cross-posting... https://github.com/huggingface/transformers/issues/8403#issuecomment-725579899

https://github.com/huggingface/transformers/blob/master/src/transformers/modeling_bart.py#L419
and turning off --fp16. Haven't been able to investigate further into why memory isn't being freed in this block!

[2020-11-11 18:36] JosephGatto commented on #4612
Update:  1) Have had my system admin restart this GPU node and it didn't run again. Not sure how it got through that one time.  2) None of the accelerators ['ddp', 'ddp_spawn', 'dp'] run for me when using gpu=[0,1] on boring model.

Just curious, could this be a related issue? https://github.com/pytorch/pytorch/issues/1637 I am working on a 4-K80 node.

[2020-11-11 18:39] stas00 commented on #4614
Please let's use https://github.com/huggingface/transformers/issues/8403 for tracking the native amp issue, so that it's in one place.

[2020-11-11 18:48] stas00 commented on #4614
I found another unrelated strange huge gpu memory requirement in PL. It happens during `save_checkpoint` - I observe the memory growing from 2GB (training was complete) to 5GB.

It's very difficult to debug PL due to dozens of indirections :( here is the stack trace (in v1.0.6)

[code]
So the gpu ram is growing through `dump_checkpoint` about 1g, and then jumps by another 2GB at:
[code]
Would this

[2020-11-11 19:00] rohitgr7 commented on #4228
taking this up. it's been a while.

[2020-11-11 19:48] elgalu opened #4628 "Add log_gpu_utilization"
## 🚀 Feature
There is `log_gpu_memory` , what about `log_gpu_utilization` ? for instance 4.0 (400 %) would mean 4 GPU(s) are currently being efficiently utilized.

[2020-11-11 20:21] rohitgr7 commented on #4628
try [GPUStatsMonitor](https://pytorch-lightning.readthedocs.io/en/latest/generated/pytorch_lightning.callbacks.GPUStatsMonitor.html#gpustatsmonitor) callback.

[2020-11-11 20:50] rohitgr7 commented on #4604
one solution can be having an additional argument for it.
[code]
[code]

or maybe without an additional argument. Not sure about this one though. But should work.
[code]
[code]

[2020-11-11 21:50] Shreeyak commented on #4228
Sorry about that. Guess I should've reached out for help sooner, can't get tests to pass. I'll follow up on Slack and use your PR as a reference.

[2020-11-11 22:07] Shreeyak commented on #4228
@s-rog I was too late, but there's a PR for this feature not. Pinging you as requested.

[2020-11-11 22:31] edenlightning opened #4630 "Keeping DDP override in sync with upstream torch"
From @ananthsub:
how should Lightning keep its [DDP override](https://github.com/PyTorchLightning/pytorch-lightning/blob/3d202f9ecc4137b08cb5b1ac15af276456fcfaaf/pytorch_lightning/overrides/data_parallel.py#L154-L210) in sync with the upstream torch [DistributedDataParallel](https://github.com/pytorch/pytorch/blob/d478605dec65a746d41506b23693d6013bfa11b2/torch/nn/parallel/distributed.py#L646-L697)

[2020-11-11 22:32] edenlightning commented on #4630
@awaelchli @tchaton

[2020-11-11 23:23] vladimirbelyaev opened #4631 "TensorBoardLogger saves hyperparams generated by opt_range as strings"
## 🐛 Bug

## Please reproduce using [the BoringModel and post here]
https://colab.research.google.com/drive/1UAvfpDsvnIG3EHMIul4OR68GunMMmRgE?usp=sharing

### To Reproduce
I used HyperOptArgumentParser to generate opt_range and pass it to model.
Then i passed these hyperparams to tensorboard logger as
`self.save_hyperparameters(params)`
Then I see that opt_range hyperparams are sorted in alphabeti

[2020-11-11 23:52] #1892 closed

[2020-11-11 23:52] #3879 closed

[2020-11-12 00:17] ananthsub commented on #4630
@pritamdamania87 suggested this workaround. Instead of overriding DDP, we can wrap the LightningModule in another nn.Module. This wrapper module will define it's `forward` function to call the `LightningModule`'s `*_step` function, depending on the `training/testing` flags.

Then when we wrap this module in DDP, we can rely on the wrapper's `forward` to do the right thing, and we don't have to wor

[2020-11-12 00:19] Borda commented on #4596
@stas00 FYI, we have fixed the version freeze on last 1.0.6 for PyPI, and for Conda, it shall be fine for all versions...

[2020-11-12 00:24] pritamdamania87 commented on #4630
As @ananthsub I'd suggest always calling DDP.forward and not relying on the internals of DDP. The current implementation in LightningDistributedDataParallel could break if we make changes in DDP and the reducer. As an example, mmcv was doing something similar and broke when we refactored some code related to DDP and reducer: https://github.com/open-mmlab/mmcv/issues/636.

[2020-11-12 01:08] stas00 commented on #4596
That's wonderful, thank you, @Borda!

[2020-11-12 01:08] #4596 closed

[2020-11-12 05:13] #4628 closed

[2020-11-12 05:48] desmondchchan commented on #4137
<details>

<summary>Code</summary>

[code]

</details>

After adding WandbLogger to the above code, the global_step is no longer an integer.

[code]

[2020-11-12 06:45] pableeto commented on #2529
I've faced the same "Tensors must be CUDA and dense" issue with pl 1.0.5. @williamFalcon

Here is my custom metric classes:
[code]

and in my test loop:

[code]
When running this code, the "Tensors must be CUDA and dense" error will happen at the end of test.

[2020-11-12 07:34] s-rog commented on #4631
[code]
I'm guessing there are issues casting np floats

[2020-11-12 07:58] jw3126 commented on #4423
Here is an MWE:
[code]

[2020-11-12 08:33] itsikad opened #4632 "Default behavior of sync_batchnorm with multi-processing backends"
## 🚀 Feature

Following the discussion in #4597, notify the user on the default behavior of `sync_batchnorm` when it is not explicitly passed to `pl.Trainer` by the user in multi-processing backends, e.g. DDP.

### Motivation

Make the transition from training on single GPU/single process backend, e.g. DP, to multi-processing multi-GPU seamless

### Pitch

Users may be unfamiliar/unaware of the de

[2020-11-12 08:34] itsikad commented on #4597
@ydcjeff done (#4632 )

[2020-11-12 08:38] ydcjeff commented on #4597
Thank you @itsikad

[2020-11-12 09:36] carmocca commented on #4356
@tchaton why was this labeled "wont fix"? is this not an issue?

[2020-11-12 09:41] carmocca commented on #3076
Closing this issue. I am using jsonargparse now, given it fits exactly my needs as demonstrated in #4492. There are also several issues on this matter so closing this so there is one place less to follow.

[2020-11-12 09:41] #3076 closed

[2020-11-12 11:20] #2919 closed

[2020-11-12 11:20] #3895 closed

[2020-11-12 11:59] ThomasWollmann commented on #4367
I did the same. Also installed pytorch via conda. Still the same error.

[2020-11-12 11:59] EliaCereda opened #4634 "Evaluation over the validation set"
What is the recommended way of performing just one evaluation over the validation set? Basically, I'm looking for the equivalent of `trainer.test(...)` but for the validation set.

Maybe this is possible using `trainer.fit(...)` and some combination of arguments to `Trainer.__init__`?

[2020-11-12 12:17] hakanyi commented on #4604
Thanks @rohitgr7! The second solution works indeed and does the job just perfectly :)

[2020-11-12 12:17] #4604 closed

[2020-11-12 12:56] 7zhanghao opened #4638 "how to define my own sampler in ddp training"
When using ddp as the accelerator, i want to define my own sampler in dataloader, how to do it? Noramally, i do it by overriding _collate_fn. But in pytorch-lightning, it seems that is not correct.

[2020-11-12 13:34] 7zhanghao commented on #4638
I get it.

[2020-11-12 13:34] #4638 closed

[2020-11-12 13:54] krishnakalyan3 commented on #1112
This worked for me

[2020-11-12 14:09] SkafteNicki commented on #4634
Is there a difference between your `validation_step` and `test_step`? If not you could just feed in the validation set to `trainer.test(test_dataloaders=val_dataloaders)`.

[2020-11-12 14:19] EliaCereda commented on #4634
Yes, this would be acceptable, but I forgot to specify that I'm using a data module to manage the data loaders. There is no way to pass the data module but override which loader to use, am I wrong?

The solution I'll attempt right now is to copy the `trainer.test(...)` method in my code and modify it to use the validation loader and `validation_step`. Let me know if you have a better idea.

[2020-11-12 14:25] rohitgr7 commented on #4634
should we add an `evaluate` method too? recently got same request on slack too.

[2020-11-12 14:30] EliaCereda commented on #4634
It sounds good to me. I'm looking at the code of `trainer.test(...)` right now and it looks like this isn't something I can easily add from my own code: the interesting part is inside the `fit(...)` method, triggered by `self.testing = True`.

[2020-11-12 14:32] SkafteNicki commented on #4634
@rohitgr7 sounds like a good enhancement (especially if multiple people are requesting it). I see two options:
1) add a new method: i propose to call it `validate` that works similar to `test`
2) add an extra argument to `test` if it should use `test_dataloader` or `validation_dataloader`

[2020-11-12 14:39] rohitgr7 commented on #4634
thought this too.. but somehow sounds a bit complex to me.

+1, refactor the `.test` method to avoid duplicate code and reuse in `.validate`

[2020-11-12 15:08] EliaCereda commented on #4634
+1 for option 1 from me too

[2020-11-12 15:12] rohitgr7 commented on #4634
cc @PyTorchLightning/core-contributors

[2020-11-12 15:21] #2614 closed

[2020-11-12 15:30] #2804 closed

[2020-11-12 15:37] oterobaguer opened #4641 "Remove automatic reset after `compute()` in the Metric's API?"
## 🚀 Feature
a) Remove automatic reset after `compute()` in the Metric API.
b) Option to automatic log running averages instead of batch-wise results

### Motivation

Some of the metrics normally used, such as 'Recall', 'Intersection over Union',... etc, make no sense if calculated for a small set of images. For example, in binary classification, a batch in which there is no positive case returns

[2020-11-12 15:37] edenlightning commented on #4073
@willprice friendly ping :)

[2020-11-12 15:54] stas00 opened #4642 "save_checkpoint consumed many GBs of gpu ram."
## 🐛 Bug

This is a split of from https://github.com/huggingface/transformers/issues/8403 where a much larger memory leak is discussed (has to do with native amp usage in particular circumstances) (note: there was also an attempt to move the discussion to https://github.com/PyTorchLightning/pytorch-lightning/issues/4614 but the original prevailed).

I found another unrelated strange huge gpu memor

[2020-11-12 15:59] #4395 closed

[2020-11-12 16:11] williamFalcon commented on #3399
cc @tchaton

[2020-11-12 17:32] willprice commented on #4073
Hey @edenlightning, I can confirm that this is fixed for me on the reproduction script and my own codebase. Although I did run into [this issue](https://github.com/PyTorchLightning/pytorch-lightning/issues/2350) when testing out #4138 on my codebase (I have `example_input_array` set on my `LightningModel`).

[2020-11-12 17:57] Iwontbecreative commented on #3521
Are there still plans to enable this feature? Seems particularly helpful to deal with IterableDatasets.

[2020-11-12 18:30] drmaj commented on #2909
Bump

[2020-11-12 18:41] aiyolo opened #4644 "is it able to save stdout to file ?"
currently, the terminal output won’t be saved, i think it will be more convenient to print some metrics in the terminal and then save them in a file

[2020-11-12 18:52] williamFalcon commented on #3521
cc @edenafek

[2020-11-12 19:22] ternaus opened #4645 "Unneeded elements in state dict"
State_dict keys after training resnet18:
[code]
I have elements with keys
`'train_accuracy.correct', 'train_accuracy.total', 'val_accuracy.correct', 'val_accuracy.total` in the state dict. Which are metrics that are logged during training.

If it is a feature - it is a strange feature. Now I need to manually delete them so that I will be able to use the checkpoint with the resnet18 model.

[2020-11-12 19:32] Vozf commented on #4645
Metric.add_state(..., persistent=False) to fix this, but I agree that True as default is strange

[2020-11-12 19:32] richardqiu commented on #3521
Sorry folks, been a bit busy professionally as of late. I think I should be able to update the PR again within the next week or so. Thanks!

[2020-11-12 19:48] #4381 closed

[2020-11-12 21:06] jopo666 opened #4646 "Loading samples to RAM with DDP."
## ❓ Questions and Help

#### What is your question?

I'm facing an IO bottleneck that can be fixed with a custom `torch.utils.data.Dataset` that loads each sample to RAM. Then training goes fast as I don't need to read my samples (images) from disk (slow). Everything works well with when I'm using 1 GPU, but I'm a bit lost when I switch to multiple GPUs with DDP.

DDP divides the samples to each

[2020-11-13 00:27] s-rog commented on #4646
The OS should automatically cache the dataset after the first epoch (assuming you have enough ram) so you shouldn't need to do this.

I'm actually not sure if distributed sampler shards the same data/item on the same GPU through different epochs... but that's more of a pytorch question than a lightning one.

[2020-11-13 00:28] lucadiliello commented on #4646
Lightning uses a random `Sampler` to extract data from the `Dataset`. No easy way to know in advance the indices that will be used on each machine. However, you can create a `Dataset` where only the right portion of the data is loaded into RAM before training on each GPU/node. You can use `torch.distributed.get_world_size()` and `torch.distributed.get_rank()` to know which data should be loaded on

[2020-11-13 01:42] edenlightning commented on #4137
@tchaton thoughts?

[2020-11-13 01:43] edenlightning commented on #4154
Feel free to reopen if needed!

[2020-11-13 01:43] #4154 closed

[2020-11-13 03:04] MrinalJain17 opened #4649 "Modification to the default logging frequency"
## 🚀 Feature

As described [here in the documentation](https://pytorch-lightning.readthedocs.io/en/stable/logging.html#control-logging-frequency), lightning logs once every 50 training steps. It'd be helpful if the default were instead a function of the total number of batches in the dataset instead of a hard-coded value.

### Motivation

I'm working on a medical image segmentation problem. A comm

[2020-11-13 05:11] #4489 closed

[2020-11-13 05:40] JonnyD1117 commented on #2331
I have a similar problem connected to using pl.metrics.functional package for the 'dice_score'. Model was previously training fine with BCELoss, but when I switched to dice_score I get this same error.

Does this mean that PL version of the dice_score is not capable of back-prop and can only be used as a fitness measure and not a loss function?

[2020-11-13 06:20] desmondchchan commented on #4137
Oh wait sorry, scratch that. I think it was just the printing made me think the global_steps were not integers. My bad.

But I still persist my suggestion to trigger validation_step when global_step % val_check_interval == 0 for self.log(on_step=True).  :D

[2020-11-13 07:14] #3625 closed

[2020-11-13 07:46] wlkz opened #4650 "Keep the setting of user created DataLoader in replacing DistributedSampler"
## 🚀 Feature

### Motivation

As mention at #2789,  the default behavior of `replace_sampler_ddp ` is creating a new `DistributedSampler`. The `shuffle` setting depends on the kind of dataloader (train or val/test dataloader). However, this behavior override the setting of user defined dataloader, such as `shuffle` or `drop_last`. A more reasonable solution is to get this setting direly from user

[2020-11-13 07:55] jopo666 commented on #4646
I do have enough RAM if I manage to divide my data to multiple nodes. If the `BasicDataset()` below is cached after the first epoch wouldn't that mean only the labels and paths are cached? What I would want is that the loaded images are cached. I'll look into PyTorch and see if the same data/items are kept for each epoch.

[code]

[2020-11-13 08:01] s-rog commented on #4646
Ah you're doing cross node DDP, I was referring to single node above... I'm afraid I don't have much experience with multi node DDP.

But if each node gets the same subset of data every epoch, the OS should cache the files all the same (without needing `load_to_RAM`) after the first epoch since you have enough RAM.

[2020-11-13 08:06] jopo666 commented on #4646
Would the actual loaded images be cached even though they are loaded inside `__getitem__()` and not just the whole `Dataset` object with only the `paths` to these files?

[2020-11-13 08:29] s-rog commented on #4646
Yes, this is not stored in your program/script memory but instead it's simply file caching at the system level.

I use Ubuntu but this should be the same for other linux ditros unless some memory/caching settings have been changed/limited. You can look at the cache part of your ram usage in htop as your data is loaded into memory during the first epoch.

[2020-11-13 09:34] tchaton opened #4652 "validation loss is not logged at all"
## 🐛 Bug

This logging doesn't seem to work as expected.

Here is a notebook to reproduce the bug: https://colab.research.google.com/drive/1zwsh41VKr6y8e7qgt1QeJP5R5QoUwq1h?usp=sharing

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing)

### To Reproduce

### Expected behavior

### Environment

**Note**:

[2020-11-13 09:39] Vozf opened #4653 "accumulate_grad_batches ignores last batches in epoch if number of steps is not divisible by accumulate_grad_batches?"
Suppose I have accumulate_grad_batches=256 and number of steps in my epoch is 260. Loss is updated only on step number 256 every epoch. I suppose it means that the last 4 batches grads are ignored. Is that correct?

[2020-11-13 10:15] #3915 closed

[2020-11-13 10:17] SeanNaren commented on #4148
This has been solved in #4485 with the addition of manual_optimizer_step:

[code]

manual_optimizer step will ensure appropriate step across hardware, and does the scaler update as well!

[2020-11-13 10:17] #4148 closed

[2020-11-13 10:31] ydcjeff commented on #4653
I suppose we do not ignore for last batches. Can you share a minimal example if it's not working?

[2020-11-13 10:32] Vozf commented on #4653
So what is done with last 6 batches? Is it aggreagated over 6 batches instead of asked 256?

[2020-11-13 10:36] ydcjeff commented on #4653
We call `.backward` and `optimizer.step` `optimizer.zero_grad()` for the last 4 batches.

[2020-11-13 10:41] jopo666 commented on #4646
Perfect! Kept running tests that ran only for one epoch so I never noticed the seed-up on the second epoch... 😄 Well you learn something new everyday.

[2020-11-13 10:41] #4646 closed

[2020-11-13 10:44] Vozf commented on #4653
So first you accumulate 256 batches and call backward and then you accumulate 4 batches and call backward, correct?

[2020-11-13 10:59] ydcjeff commented on #4653
Yep we accmulate 256 if possible and accumulate the rest of batches if it's not divisible by 256

[2020-11-13 11:00] Vozf commented on #4653
Ok, thanks for clarification

[2020-11-13 11:00] #4653 closed

[2020-11-13 12:04] #4204 closed

[2020-11-13 12:21] voyleg opened #4655 "LR scheduler lags behind after resume_from_checkpoint"
## 🐛 Bug

MultiStepLR lags behind by one epoch after resuming from checkpoint in Trainer.
See this [collab](https://colab.research.google.com/drive/1Snq6QgPMfg3i5RzgtQxEFJTrmWlgYcFq?usp=sharing) to reproduce.

In the example below,
[code]
in the run from scratch the learning rate is changed at epoch 4
[code]
and in the resumed run the learning rate is changed at epoch 5, i.e., the scheduler lags b

[2020-11-13 12:50] VladVin commented on #1455
I also would like to see this feature. I'm using AWS SageMaker, and there is also [SIGTERM sent](https://docs.aws.amazon.com/cli/latest/reference/sagemaker/stop-training-job.html) when stopping a Training Job. Since I use MLflow for logging checkpoints I upload artifacts inside a custom `on_train_end` implementation.

[2020-11-13 14:41] edenlightning commented on #4572
@tchaton please update what is left here

[2020-11-13 15:00] #4241 closed

[2020-11-13 15:05] #3759 closed

[2020-11-13 15:10] edenlightning commented on #4280
@SkafteNicki

[2020-11-13 15:10] edenlightning commented on #4616
@SkafteNicki mind taking a look?

[2020-11-13 16:24] #3874 closed

[2020-11-13 17:44] Borda commented on #4525
@kittipatv just curious what is the use-case you want to apply a decorator to model?

[2020-11-13 18:08] edenlightning opened #4663 "Wrap optimizer in LightningOptimizer object for manual optimization"
Currently users are overriding optimizer_step in Lightning model, and therefore lose support for tpu, amp, etc...
By wrapping their optimizers, we can make sure that when they call optimizer.step, everything is done properly.

It allows us to remove the need for manual_backward / manual_optimizer_step making API cleaner and reduce possible bugs.

new API for manual_optimization, but it also works

[2020-11-13 18:29] emilemathieu opened #4664 "[Trainer] flush_logs_every_n_steps not working"
## 🐛 Bug

HI all ! thanks a lot for this great module :)

`Trainer` has this neat argument `flush_logs_every_n_steps`, and does indeed take it into account before calling `logger.save()` [in training_loop.py](https://github.com/PyTorchLightning/pytorch-lightning/blob/baa8558cc0e6d2a3e24f2669e6a59ffdb8138737/pytorch_lightning/trainer/training_loop.py#L878).
Yet, the `LoggerConnector` flushes at eac

[2020-11-13 18:50] antoinebrl opened #4665 "Missing output directory when ddp is activated"
## 🐛 Bug Description
Thanks for the intensive work you put into this library! I might have found a bug recording logging when DDP is used.
When I run my experiments on 1 GPU everything works fine and all generated files are where they should be. However, when I activate DDP there is no `lightning_logs` and therefore nothing is saved.

### Reproduce
This is the minimal code to reproduce
[code]
This

[2020-11-13 18:51] Borda commented on #4664
@emilemathieu mind share some small example for illustration what you mean? 🐰

[2020-11-13 19:13] Vichoko opened #4666 "RuntimeError: Error(s) in loading state_dict when adding/updating metrics to a trained model."
## ❓ Questions and Help

For context, I trained a lot of models for many weeks, tracking the loss and accuracy for train, validation, and test steps.
Now, I wanted to evaluate more metrics for the test data set, more specifically, I added recall, confusion matrix, and precision metrics (from `ptl.metrics` module) to the test_step and test_epoch_end methods in the lighting module.

Also, I replaced

[2020-11-13 19:23] gibiansky opened #4667 "Gradient Clipping w/ Multiple Optimizers"
## ❓ Questions and Help

### Before asking:
No docs helped.

#### What is your question?

I have a GAN with two optimizers, one generator one discriminator. I would like to clip *only* generator parameters.

What is the cleanest way to accomplish this?

Currently just using standard training_step and configure_optimizers with automatic optimization enabled.

[2020-11-13 19:41] Vichoko commented on #4666
Reading further about state_dicts I noted that based on PyTorch docs, state_dicts should store model's parameters and hyper-parameters. I'm not sure why is there metrics-related data stored in this dict.

[2020-11-13 19:50] rohitgr7 commented on #4666
https://github.com/PyTorchLightning/pytorch-lightning/blob/baa8558cc0e6d2a3e24f2669e6a59ffdb8138737/pytorch_lightning/metrics/metric.py#L88-L90
this might be the reason since persistent is set True by default, it will be saved to state_dict

[2020-11-13 19:56] Vichoko commented on #4666
Well thanks @rohitgr7, ill try changing this parameter and i'll report back.
I hope there is something i can do to the modules to load this checkpoints 😖.