[2021-06-14 19:06] yifuwang commented on #7968
@justusschock you can have a return statement in a generator. The return value is accessible through StopIteration's value attribute. The generator would be typed as `Generator[YieldType, SendType, ReturnType]`.

[2021-06-14 20:45] #7417 closed

[2021-06-14 21:19] HareshKarnan opened #7978 "Training does not begin when using torch 1.5.0"
## 🐛 Bug

Using the latest version of pytorch lightning, pytorch 1.5.0, torchvision 0.6.0.

## Please reproduce using the BoringModel

import torch
from torch.nn import functional as F

import pytorch_lightning as pl
from pl_examples.basic_examples.mnist_datamodule import MNISTDataModule

[code]

### Environment

 - PyTorch Version (e.g., 1.0): 1.5.0
 - OS (e.g., Linux): Ubuntu 18
 - How you insta

[2021-06-14 23:22] AffineParameter opened #7981 "Let the `LearningRateMonitor` log the actual parameter group names, if they exist"
## 🚀 Feature

As a `PytorchLightning` user, I would like to monitor parameter group learning rates that have been logged under the parameter group's given name.

### Motivation

My use case has _many_ parameter groups associated with different heads/tasks, each of which is partitioned within a unique (and static) parameter group. When using the `LearningRateMonitor` all these learning rates end up

[2021-06-14 23:25] AffineParameter commented on #7981
I have what I believe to be a working branch ready to go, pending appropriate discussion. Hope y'all have a great day.

[2021-06-15 01:45] eugeneh101 commented on #7947
No problem, glad to help!

[2021-06-15 04:09] ashkan-leo commented on #5245
I also would want to know how to achieve this. Any help is appreciated!

[2021-06-15 06:18] tchaton commented on #7981
Hey @AffineParameter,

Sounds interesting. Feel free to open a PR.

Best,
T.C

[2021-06-15 07:17] justusschock commented on #7753
Do you want to give the PR a shot? That'd be great! Please ping me directly on it and I promise I won't take that long to reply this time :)

So you always want to convert it to a string and then treat it as we currently do? I'm fine with that (we just need to provide a meaningful error when it cannot be converted)

Yes. i think the main question for me is here: When do you want the accumulation t

[2021-06-15 07:36] justusschock commented on #7968
@yifuwang thanks for letting me know, wasn't aware of this :) I tired this some time ago and it complained about that :D But that means, that we also need to check that value attribute when switching to  yield, right?

@tchaton that would be a solution I could agree with. What do we recommend though? And with one loss value it wouldn't matter if you yield or return right?

[2021-06-15 11:40] mozharovsky opened #7984 "TPU training is stuck at spawning using all 8-cores"
## 🐛 Bug

Some transformer models from [🤗/transformers](https://github.com/huggingface/transformers) (namely, `t5` models) seem to stuck at the very beginning of the training process using all 8 TPU cores. This behavior is unusual since the same model works fine in a 1-core setup, and it also works fine using 8-cores via 🤗/Trainer.

I'm eager to figure out if this is 🤗/transformers issue or a Ligh

[2021-06-15 11:55] tchaton commented on #7968
Hey @justusschock,

I think this version should be the default for automatic optimization. It is more general and remove the need for `optimizer_idx == 0`.

I wonder how it gets traced though. @SeanNaren Would this work with IPU ?

Best,
T.C

[2021-06-15 12:01] justusschock commented on #7968
@tchaton Tracing doesn't work there.

[code]

but if we wrap it with the `generator` snippet we could also include a flag that falls back to returning as well?

[2021-06-15 12:36] senarvi commented on #6789
I noticed a similar thing when training a YOLO object detection model using DDP on 4, 8, or 16 GPUs. (There is a [pull request for the YOLO model](https://github.com/PyTorchLightning/lightning-bolts/pull/552) in Lightning Bolts.) I'm using the same batch size in every case and accumulating gradients from 4, 2, or 1 steps to compensate for the number of GPUs.

There's not much difference going from

[2021-06-15 12:51] talhaanwarch commented on #1590
Did not worked for me

[2021-06-15 13:33] talhaanwarch opened #7989 "ProcessExitedException: process 1 terminated with signal SIGKILL"
I am trying to train BERT model for classification on TPU.
Here is colab link
https://colab.research.google.com/gist/talhaanwarch/3c7475bee6e1d4d032f7325ccc898a2a/urdunews-pl.ipynb?authuser=3
In this code I am defining transformer model into `PL` structure. This gives me `ProcessExitedException: process 1 terminated with signal SIGKILL` error.
If I define transformer out of PL structure, (like I c

[2021-06-15 13:37] kaushikb11 commented on #7989
Kind Reminder: While using 8 TPU cores, the effective batch size is `batch_size * 8`

[2021-06-15 16:04] AffineParameter commented on #7981
Should be good for CR @tchaton, thanks for the go-ahead.

Cheers,
~A

[2021-06-15 16:25] HareshKarnan commented on #7978
update : problem is with model.cuda() getting stuck. Tried CUDA versions 10.2, 11.1 but no luck yet. I'm running Nvidia driver version 460.xx, maybe this is too new ? I'll retry with an older Nvidia-driver.

[2021-06-15 18:00] yifuwang commented on #7968
I think the generator could be made traceable with a generic wrapper which converts the generator semantic to "returning a list of losses".
[code]

But I agree that if we were to support this semantic, it should be in addition to the function version of the training_step, since generators are not (yet) idiomatic in PyTorch and we may run into unexpected issues later.

[2021-06-15 19:07] dave-epstein commented on #3494
Hi, what's the current status of this issue? Is there any way to make a `LightningModule` also be a Python `dataclass` while still being able to use `save_hyperparameters` to load successfully from checkpoints?

Thanks!

[2021-06-15 19:32] awaelchli commented on #3494
@dave-epstein Does this work?

[code]

[2021-06-15 19:42] dave-epstein commented on #3494
Thanks for the prompt response. This isn't working in my terminal (Python version 3.9.4, PL version 1.3.4). I get the following error: `AssertionError: failed to inspect the obj init` (L201, utilities/parsing.py, in `save_hyperparameters`), which is the same error I got when I tried this workaround:

[code]

[2021-06-15 19:52] awaelchli commented on #3494
Sorry for the beginner questions but let's put `save_hyperparameters` aside for a second. How would we build a nn.Module with dataclass, without defining an init?

[code]

[2021-06-15 19:55] dave-epstein commented on #3494
In this case, you add `super().__init__()` at the beginning of `__post_init__`'s body, and then it all works as expected. `super()` here is `LightningModule`, rather than something related to dataclass. Note that the `dataclass` decorator is not altering the object inheritance of the class, which can be seen by running `BoringModel.mro()`.

Excuse me if this turns out not to be 100% accurate eithe

[2021-06-15 19:59] dave-epstein commented on #3494
I think you were trying to write an explicit `__init__` and then forwarding all the parameters to the `dataclass` `__init__`. The problem is that `dataclass` will not generate an `__init__` method if one is explicitly specified. So it seems that a more likely successful solution is one that allows passing arbitrary field names to `save_hyperparameters` without them having to appear in the `__init_

[2021-06-15 20:00] dave-epstein commented on #3494
Yes, I think that makes sense to me.

[2021-06-15 20:19] awaelchli commented on #3494
Can't guarantee it covers all edge cases, running tests now. Here is the draft: #7992
Of course, any input highly welcome.

[2021-06-15 20:33] ddrevicky commented on #7924
Hey @carmocca, would something as simple as this work?

[code]
A couple of questions for you:
- Is this the right place to put it? Couldn't find anything more appropriate.
- What should be passed to the `on_before_optimizer_step` hook? `result.loss` corresponds to only the last batch's loss, is that enough for the user? Or would they want the averaged loss across the batches being accumulated over

[2021-06-15 21:27] dave-epstein commented on #3494
That change looks reasonable to me, but I'm also not a dataclass expert. I think a lot of the heavy lifting is done by `fields`, so the `save_hyperparameters` function should then automatically respect the semantics of the dataclass. Thanks for moving so fast on this!

[2021-06-15 21:46] kaushikb11 commented on #7984
Kind reminder: The effective batch size for 8 TPU cores is `batch_size * 8`

[2021-06-16 00:23] #4524 closed

[2021-06-16 00:38] #6965 closed

[2021-06-16 00:38] #6829 closed

[2021-06-16 00:38] #6095 closed

[2021-06-16 00:38] #5301 closed

[2021-06-16 00:38] #1206 closed

[2021-06-16 00:38] #7447 closed

[2021-06-16 01:27] notonlyvandalzzz opened #7996 "Make more detailed and non confusing output for ModelCheckpoint callback"
## 🚀 Feature
Show result of the best model selection algorithm inside ModelCheckpoint callback

### Motivation

Its unclear and sometimes confusing what has been 'checkpointed' and why, especially in combination with mlflow autolog: you have no idea what model has been sent into mlflow

### Pitch

Typical claaback creation looks like this:
[code]
And it gonna be very helpful to produce output like

[2021-06-16 01:38] #7269 closed

[2021-06-16 07:12] tchaton commented on #7996
Dear @notonlyvandalzzz,

Sounds definitely interesting. Would you like to open a PR with this addition ?

Best,
T.C

[2021-06-16 08:30] #3494 closed

[2021-06-16 08:39] justusschock commented on #7968
@yifuwang But if you do this, you have another control flow.

WIth yielding it would be `forward1` -> `backward1` -> `optimstep1` -> `forward2` -> `backward2` -> `optimstep2`
and with your wrapper it would be `forward1` -> `forward2` -> `backward1` -> `optimstep1`-> `backward2` -> `optimstep2`

Which may not be the desired behaviour since usually the result of forward2 should already be run with t

[2021-06-16 08:52] tchaton opened #7998 "Add support for static graph"
## 🚀 Feature

### Motivation

### Pitch

From PyTorch 1.9, DDP introduces set_static_graph function, which can be used to optimize training if the graph isn't going to change: https://github.com/pytorch/pytorch/pull/54995/files

[code]

### Alternatives

### Additional context

[2021-06-16 09:25] #7957 closed

[2021-06-16 09:31] SeanNaren commented on #6503
Hey @evanatyourservice @7970 may have fixed this issue, could you retry using master?

[2021-06-16 09:32] SeanNaren commented on #7957
Thanks to @tchaton he managed to get this working :)

Just note only one optimizer is supported, and manual optimization with deepspeed is quite untested. We do have a test for a basic manual optimization example which you can see here: https://github.com/PyTorchLightning/pytorch-lightning/blob/master/tests/plugins/test_deepspeed_plugin.py#L36

[2021-06-16 16:01] tomeramit commented on #5245
I also want this feature as well
I want to know how the progress on the test set as well during training

[2021-06-16 16:03] tchaton opened #8003 "SaveConfigCallback: Race condition with ddp."
## 🐛 Bug

## Please reproduce using the BoringModel

While running: `pl_examples/basic_examples/autoencoder.py` with

[code]

It failed there as the config file didn't exist.
https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/utilities/cli.py#L100

[code]

### To Reproduce

Use following [**BoringModel**](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4

[2021-06-16 17:50] tchaton opened #8008 "LightningCli: Passing trainer_defaults"
## 🐛 Bug

## Please reproduce using the BoringModel

### To Reproduce

It seems that ``PyTorchProfiler`` can't be passed as profiler argument in:

[code]

[code]

Is it a mis-use of LightningCLI or a bug ? @carmocca

Use following [**BoringModel**](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing) and post here

### Expected behavior

### Environment

**Note**:

[2021-06-16 18:38] HareshKarnan commented on #7978
identified this issue is due to the GPU (RTX 3070) being unsupported by pytorch 1.5.0. works as expected with latest pytorch.

[2021-06-16 18:38] #7978 closed

[2021-06-17 01:13] #7981 closed

[2021-06-17 01:56] carmocca commented on #8008
Seems to me like this is a bug upstream. This produces the same error:

[code]

cc: @mauvilsa

[2021-06-17 02:09] carmocca opened #8010 "CLI: `PicklingError: logger cannot be pickled`"
## 🐛 Bug

[code]

### To Reproduce

[code]

### Expected behavior

Runs

### Environment

`jsonargparse==3.14.0`

---

cc: @mauvilsa

[2021-06-17 02:35] carmocca commented on #8003
The error is saying "expected to **NOT** exist" so the file does exist.

This is most likely because a previous run created the config file and by default, the CLI raises this error to avoid overwriting it.

[2021-06-17 02:42] yllgl opened #8011 "AttributeError: module 'typing' has no attribute '_ClassVar'"
## 🐛 Bug

After I upgrade my pytorch_lightning version to 1.3.5, this error occurs when I try to import pytorch_lightning in my code.

### Environment

* CUDA:
        - GPU:
                - Tesla K80
                - Tesla K80
                - Tesla K80
                - Tesla K80
        - available:         True
        - version:           10.2
* Packages:
        - numpy:             1.19

[2021-06-17 03:52] alvis commented on #7887
I haven't tested it, but when I was debugging for another issue, I see the following in LightningCLI's docstring:
https://github.com/PyTorchLightning/pytorch-lightning/blob/0004216f2f90c39afdb938eff41ec73458f858f3/pytorch_lightning/utilities/cli.py#L130-L133

Hope this helps. ;)

[2021-06-17 05:54] mauvilsa commented on #8010
The issue goes away with a minor change:

[code]

The problem is that `SaveConfigCallback` includes the parser which is needed to save the config. Making an `ArgumentParser` picklable in general I think is a daunting task. However, there is no point in having `SaveConfigCallback` in all processes of a distributed job. I am not sure how the distributed works so right now I am unable to say how it c

[2021-06-17 06:06] mauvilsa commented on #8008
Yes, this is an issue that relates to jsonargparse. In general having a class instance as a default is not a good idea because it is mutable. Furthermore, this breaks print_config because there is no way to convert the class instance into a `class_path` and `init_args` dict. Most likely what is needed is a default factory class that would be used in these cases, and giving a clear error message if

[2021-06-17 08:13] #7535 closed

[2021-06-17 10:12] max0x7ba commented on #3431
Another way to disable these messages:

[code]

[2021-06-17 10:12] edgarriba commented on #7710
@alanhdu thanks for raising this issue. The [StochasticWeightAveraging](https://pytorch-lightning.readthedocs.io/en/latest/extensions/generated/pytorch_lightning.callbacks.StochasticWeightAveraging.html#pytorch_lightning.callbacks.StochasticWeightAveraging) callback internally instantiates the PyTorch Stochastic Weight Averaging (SWALR) learning rate scheduler which is based on the number of epoch

[2021-06-17 10:50] #6910 closed

[2021-06-17 12:04] Xiang-Pan opened #8016 "When trying to load a cached model, got error"
[code]
---
[code]

[2021-06-17 12:09] ethanwharris commented on #8016
Hi @Xiang-Pan thanks for reporting this. Can I ask what version of pytorch-lightning you are using? Are you able to provide a notebook that reproduces the bug (ideally using our [**BoringModel**](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing))?

Thanks :smiley:

[2021-06-17 13:36] edgarriba commented on #7899
@Borda I created a minimal example to reproduce the issue but cannot find the configuration where the metrics are not logged
[code]
which produces the following output
[code]

[2021-06-17 14:15] carmocca commented on #8008
So a function like `parser.set_default_factory(profiler=callable)`?

or `parser.set_default_factory(profiler={'class': PyTorchProfiler, 'init_args': ...})`?

[2021-06-17 16:49] evanatyourservice commented on #6503
The notebook I linked to above doesn't run, it still gets an error:

Exception in device=TPU:4: 'LightningDistributedModule' object has no attribute 'require_backward_grad_sync'

but it's been a while since I made it so I'm not sure if the notebook code is wrong or lightning's.

I ended up making my own TPU notebook so I stopped using lightning but I was trying to implement sharpness aware minimiz

[2021-06-17 17:29] mauvilsa commented on #8008
Something more like

[code]

which then could be used to override a default as

[code]

or to use as default in a signature as

[code]

Something analogous to the field in dataclasses.

[2021-06-17 20:08] Orlllem commented on #5054
I was able to get this working by only changing the `optimizer_step`. It seems to have worked. It would be nice to check if this implementation can crash.

[code]

[2021-06-17 20:27] shuyingsunshine21 commented on #7535
Thanks @awaelchli

[2021-06-17 21:57] sivakumarch commented on #6200
@awaelchli  - is it expected for test_epoch_end() as well? I am seeing results collected in the 'outputs' only represent samples/batches of one machine when using DDP plugin.

[2021-06-17 22:16] awaelchli commented on #6200
Yes exactly. If you want to gather all outputs from the model, in Lightning that's called prediction. So you can implement your `forward()` with what you want to return and call [`Trainer.predict()`](https://pytorch-lightning.readthedocs.io/en/latest/common/trainer.html#predict) or you can also optionally implement [`predict_step()`](https://pytorch-lightning.readthedocs.io/en/latest/common/lightn

[2021-06-18 00:12] carmocca commented on #7924
I would put it right before this line:

https://github.com/PyTorchLightning/pytorch-lightning/blob/cdcc483e9b7a79de3e5a7ac9c1e9dfd12ab77f4f/pytorch_lightning/loops/training_batch_loop.py#L187

Maybe just the batch idx, optimizer, and optimizer idx. Could also include some of the other arguments of `optimizer_step` but I don't think that's necessary right now.

Note that for a hook with these attri

[2021-06-18 00:55] awaelchli commented on #8016
`self._set_running_stage` was removed and refactored a while ago. Chances are high this is resolved in the latest version :)

[2021-06-18 01:57] #6899 closed

[2021-06-18 01:57] #7379 closed

[2021-06-18 07:14] Borda commented on #7486
@breznak sorry for the late reply, yes I think it depends on the dataloader, so you can simply type as Union of these cases

[2021-06-18 08:12] yllgl commented on #8011
I upgrade pytorch version and it solves my problem.

[2021-06-18 08:12] #8011 closed

[2021-06-18 08:18] snarb opened #8026 "Process is exiting with exit code 139 (interrupted by signal 11: SIGSEGV) if not passing logger param to the Trainer"
Process is exiting  with exit code 139 (interrupted by signal 11: SIGSEGV) if not passing logger param to the Trainer

This code working fine:
[code]

This one crashing a process:

    myModule = myLightningModule()
    trainer = pl.Trainer(max_epochs=FEATURE_EXTRACTION_EPOCHS, gpus=GPU_COUNT, accelerator="dp", precision=16)
    trainer.validate(myModule, val_dataloaders = myModule.valDl)

torch._

[2021-06-18 08:37] kaushikb11 commented on #8026
@snarb Could you kindly create a minimal script/notebook to reproduce this issue?

[2021-06-18 11:26] garryod opened #8028 "OOM error after using scale_batch_size() utility"
## 🐛 Bug

Using the tuner to find maximum `datamodule.batch size` results in CUDA OOM at train time, whilst setting the `datamodule.batch size` to the same value runs as expected

The following code results in a CUDA OOM error during `trainer.fit()`:
[code]

Whilst the following code runs without issue:
[code]

### To Reproduce

[BoringModel Link](https://colab.research.google.com/drive/1_73DxkW-1

[2021-06-18 12:34] #7813 closed

[2021-06-18 17:05] kaushikb11 opened #8031 "Move TPU CI to TPUVM"
## 🚀 Feature

Move TPU CI to TPUVM

### Motivation

Cheaper and fewer steps. tpu + 2vm tech is ancient now.

cc @borda @carmocca @akihironitta @kaushikb11 @rohitgr7

[2021-06-18 18:04] dalek-who opened #8033 "A unified and convenient `Config` class"
## 🚀 Feature

### Motivation
There are many different ways to config things in a deep learning project, including:
* json/yaml
* argparser
* dataclass
* user-defined config class
* global variables
* ...

However, none of them is perfect. In my practice, I summarize some principles that a perfect config should satisfy:
- 1. **Easy to record and trace.**
For example, a json file or a config class c

[2021-06-18 18:06] dalek-who commented on #8033
If you are interested, I can show more details about my practice.

[2021-06-18 20:31] haideraltahan commented on #6206
This is what resolved the problem. These variables are important for it to work at least on the SLURM version that my institution is using.

[2021-06-18 22:39] #7424 closed

[2021-06-18 22:39] #7408 closed

[2021-06-19 00:25] carmocca commented on #8033
I'm not quite sure what's your pitch or issue but we already integrate a library that works similarly to `Tap` called [jsonargparse](https://github.com/omni-us/jsonargparse). It supports most if not all of the points you made.

You can find the docs about our integration with it (the `LightningCLI`) here:
https://pytorch-lightning.readthedocs.io/en/latest/common/lightning_cli.html

Note that Light

[2021-06-19 00:53] fmellomascarenhas opened #8035 "Training sending undesired tensor to GPU"
## 🐛 Bug

Embedding vector, defined outside of training loop, is sent to GPU if trainer has gpu > 0 when trainer starts to run.

## Please reproduce using the BoringModel
### To Reproduce

https://colab.research.google.com/gist/fmellomascarenhas/3054651c4081f1489ff8d56fe0636a1d/the-boringmodel.ipynb

### Expected behavior

My embedding is too big to fit inside of my GPU. I want to be able to call

[2021-06-19 01:32] carmocca commented on #8035
Lightning automatically moves the model to the appropriate device before training starts. Since the embeddings are considered part of the model, they will get moved too.

You can move it back to cpu by overriding the `on_fit_start` hook (or any other after the `setup` hook).

[code]

You can see the hooks and their order [here](https://pytorch-lightning.readthedocs.io/en/latest/common/lightning_mo

[2021-06-19 01:34] carmocca commented on #8035
Duplicate of https://github.com/PyTorchLightning/pytorch-lightning/issues/3698

Closing, feel free to open if you have any other issues

[2021-06-19 01:34] #8035 closed

[2021-06-19 04:06] wenouyang opened #8037 "OSError: [WinError 127] The specified procedure could not be found when running the tutorial example"
Hello, I installed the pytorch_lightning using the conda install `conda install pytorch-lightning -c conda-forge`. then I followed the tutorial

[code]

When running, I got the following popup error message

![image](https://user-images.githubusercontent.com/5430158/122630468-88412600-d089-11eb-8c07-b7b278bc020b.png)

After clicking the OK button, I got fhe following error message

[code]

[2021-06-19 05:47] #8037 closed

[2021-06-19 05:48] wenouyang commented on #8037
The issue is caused by I updated pytorch to the latest version,

[2021-06-19 09:34] dalek-who commented on #8033
@carmocca Ok, I will detailed read these two library. Maybe this feature is too greedy :)

[2021-06-19 10:41] talhaanwarch commented on #1166
i tried its empty

[2021-06-19 14:37] 00krishna opened #8039 "consistency in logging images between multiple logging backends -- wandb and tensorboard"
## 🐛 Bug

I am still new to PL so perhaps there is a better way to do this. But there seems to be an issue with consistency when logging
model performance to different backends. I have a simple sequence-to-sequence model and I wanted to log some initial checks on the training data, to make sure that the data and labels line up correctly. I was logging to both tensorboard and weights and biases (wa

[2021-06-19 15:04] 00krishna commented on #8039
Seems related to https://github.com/PyTorchLightning/pytorch-lightning/issues/3635

[2021-06-19 16:14] EdwardJB opened #8040 "Memory explodes when limit_train_batches argument used"
## 🐛 Bug

My training uses an iterable dataset with 60 workers and memory consumption sits around 150GB. This is all expected and fine.

However, if I set the `limit_train_batches` arguments (e.g. to `500`), memory rises (more or less) constantly until training crashes with OOM errors.

### To Reproduce

I want to know if this behaviour is expected or does it sound like a bug? If the latter, I'll

[2021-06-19 18:29] ethanwharris commented on #8039
Hi @00krishna thanks for reporting this issue. It may also he related to #6720 and #7920 - please feel free to shar your thoughts on those as well.

Thanks :smiley:

[2021-06-19 18:37] ethanwharris commented on #8040
Hi @EdwardJB thanks for the issue! This does sound like unexpected behaviour. Could you try installing from master with `pip install https://github.com/PyTorchLightning/pytorch-lightning/archive/master.zip` and see if it persists? If so, then a notebook which reproduces the issue would be much appreciated.

Thanks :smiley:

[2021-06-19 21:22] haossr commented on #4612
Any updates on this?

[2021-06-20 02:03] mleshen opened #8043 "OOM issues with loading large model checkpoints w/ FSDP after checkpoint refactor"
## 🐛 Bug

In #7928 the trainer logic was modified to restore the model state from the checkpoint connector instead of from the training type plugin and `restore_model_from_ckpt_path` was split into three new modular APIs. For our use case we overrode `restore_model_from_ckpt_path` in the FSDP plugin to prevent CPU OOMs, and now that the functionality for restoring the model state has been offloade

[2021-06-20 09:44] hoangtnm commented on #4612
This issue still exists with the latest versions of Pytorch and PyTorch Lightning.

[2021-06-20 10:43] #6955 closed

[2021-06-20 16:24] EdwardJB commented on #8040
Hi @ethanwharris

I tried using master and the problem persists. I've been trying to replicate also from the master branch today. This is the best I can do:

[code]

This _looks_ to start consuming more and more memory, but I cannot confirm because training eventually hangs with a seemingly unrelated bug:

[code]

[2021-06-20 17:05] ManuelPalermo opened #8047 "Add max_depth option to ModelSummary"
## 🚀 Feature
It would be helpful to control the depth of modules displayed in ModelSummary when working with deep nested architectures, beyond the "full" and "top" options available.

### Motivation

When working with very deep architectures with nested modules, its hard to get an overview of the model architecture being used, as current implementation will print a very long output with repeated b

[2021-06-20 17:07] ManuelPalermo commented on #8047
I can also submit a pull request for this once a solution is approved.

[2021-06-21 01:11] nmichlo opened #8051 "LightningDataModule hparam API"
EDIT: I am sorry, I somehow completely missed the original proposal: https://github.com/PyTorchLightning/pytorch-lightning/issues/3769

## 🚀 Feature

`hparam` API for `pl.LightningDataModules`

### Motivation

`LightningDataModule`s often have various hyper-parameters passed to them that can affect training, including batch size, dataset split ratios, shuffle and different data transformations, to

[2021-06-21 01:14] #8051 closed

[2021-06-21 01:49] tgisaturday commented on #7912
@kaushikb11 I've been refactoring [taming-transformers](https://github.com/CompVis/taming-transformers) to run the code on TPU VM.

Here's my code.
[taming-transformers-tpu](https://github.com/tgisaturday/taming-transformers-tpu)

For easier debugging, I've also added fake_data feature. To start training with fake data, run the code by:
[code]
[code]

The code is working properly on single TPU Nod

[2021-06-21 05:22] kaushikb11 commented on #7912
@tgisaturday What do you mean by single TPU Node here? Single TPU core or 8 TPU cores? Also, have you tried debugging at what point it goes into a deadlock?

[2021-06-21 05:32] tgisaturday commented on #7912
Regarding single TPU Node, I've meant older way of using 8 core TPU (assign CPU vm and pair with TPU), not using newly released TPU VM.

Is there any way I can debug my code deeper than Trainer.fit? When I press ctrl+c, my code get's interupted somewhere around tpu spawn.

[2021-06-21 05:41] kaushikb11 commented on #7912
@tgisaturday Got it! Let me give it a try today.

[2021-06-21 05:55] tgisaturday commented on #7912
I'm also closely interacting with GCP- side engineers. Please let me know if it is out of lightning's scope.

[2021-06-21 07:37] tchaton commented on #8047
Dear @ManuelPalermo,

Sounds interesting. Feel free to open a PR with this new max_depth features.

Best,
T.C

[2021-06-21 07:41] tchaton commented on #8040
Dear @EdwardJB,

Thanks for sharing this script. We will look into it promptly.

Best,
T.C

[2021-06-21 07:42] tchaton commented on #8039
Dear @00krishna,

Definitely a feature on our roadmap ! Would you be interested in making a PR following chat in  #6720 ?

Best,
T.C

[2021-06-21 07:46] tchaton commented on #8026
Dear @snarb,

It seems the logger is the source of failure in examples right ? Mind creating a reproducible script with the BoringModel ?

Best,
T.C

[2021-06-21 07:56] tchaton commented on #8008
Hey @mauvilsa,
I would argue that even if `default_class_factory` is definitely the recommended approach, we should still support `trainer_defaults`  with arguments provided by users.
Especially as the path can be inferred automatically as `trainer.profiler` and we can inspect the class to get the proper  `print_config`.
When a user provides directly arguments in this format, we should print a war

[2021-06-21 07:59] tchaton commented on #8003
Hey @carmocca,

Interesting, I believe this happen on my first run, but happen due 2 processes running there. Need to be replicated.
However, I believe the error message should be clearer there if the intention is to `avoid overwriting it`.

Best,
T.C

[2021-06-21 08:01] tchaton commented on #7969
Hey @kaushikb11,

Should we make this an argument to the TPUSpawn Plugin and use it by default ?

Best,
T.C

[2021-06-21 08:03] tchaton commented on #7968
Hey @justusschock @yifuwang,

I guess this is still a great way to organise the `training_step` code and I don't believe users should `jit` the training_step anyway as it can contain `self.log`.

@yifuwang Would you be interested to give it a go. I believe this would be a bit involved, but definitely a really interesting feature :)

Best,
T.C

[2021-06-21 08:04] tchaton commented on #7965
Dear @SeanNaren @avors72 @AnthonyBarbier,

Any estimation around the ETA of the logging feature ?

Best,
T.C

[2021-06-21 08:08] StephennFernandes opened #8055 "TPU execution causes error, while the same code works fine for GPU"
Trained a Transformer model from scratch in pytorch, but the same code works fine on GPU  but throws error on TPU.
heres the link to the code:

https://github.com/StephennFernandes/Transformers_from_scratch_lightning

possibly error in prepare_data() and setup() methods.
checked if its a memory issue in collab turns out its not
@kaushikb11 follow up from out past slack conversations

[2021-06-21 08:20] justusschock commented on #7968
@tchaton we need to have jit-support since this is the only way to support @SeanNaren 's effort with IPUs

[2021-06-21 08:24] tchaton commented on #7929
Dear @Queuecumber,

Here are my recommendation for this issue:
1. Let's open a PR to improve documentation and add a section `paper submissions with Lightning` and add tips around the problem you just raised

2. I believe  `replace_sampler_ddp` is more a problem for `test` than `validation` as it is usually the dataset used for paper submission.
Small note: In the case where no distributed sampler

[2021-06-21 08:55] tchaton opened #8057 "Custom Scheduler don't seem to be properly called."
### Discussed in https://github.com/PyTorchLightning/pytorch-lightning/discussions/8042

<div type='discussions-op-text'>

<sup>Originally posted by **sooftware** June 19, 2021</sup>
I want to apply custom learning rate scheduler like below.

[code]

But I find that my custom lr schedulers doesn't work in pytorch lightning.
I set lightning module's `configure_optimizers` like below:

[code]

If yo

[2021-06-21 09:03] tchaton opened #8058 "DeepSpeed: Multi-GPU don't seem to converge with accumulate_grad_batches > 1"
### Discussed in https://github.com/PyTorchLightning/pytorch-lightning/discussions/8019

<div type='discussions-op-text'>

<sup>Originally posted by **thomas-happify** June 17, 2021</sup>
[code]

shouldn't these two args have similar training results?
when I use `gpus=2` and `accumulate_grad_batches=8`, the model can't converge.</div>

[2021-06-21 09:03] tchaton commented on #8058
@SeanNaren Mind checking this out ?

[2021-06-21 09:09] tchaton commented on #7968
Hey @justusschock,

IPUs support only `1 optimizer` anyway.
I would prefer not block this feature developement due to IPUs which are still in a very early beta stage.
Outside of IPUs, this feature should work for all other TrainingTypePluging.
@SeanNaren Do you confirm ?

Best,
T.c

[2021-06-21 09:27] SeanNaren commented on #7968
Agreed, I'd build this API with pure PyTorch compliant training type plugins/accelerators and then extend if possible to ones that are limited, such as IPUs.

[2021-06-21 10:11] #7936 closed

[2021-06-21 12:59] AnthonyBarbier commented on #7965
For regular tensors (i.e tensors from the forward pass), it should be possible to implement this using Anchors with PopTorch v2.1
Gradients / optimizer states will require much more work in the lower parts of our stack so I can't really give an estimate yet.

Please note this will have a significant impact in terms of both speed and memory consumption: so we'd recommend using it for debugging purp

[2021-06-21 13:13] SeanNaren commented on #8043
Thanks for the issue @mleshen and the PR :)

Could you pseudocode what you're doing? Is the logic that used to live in `restore_model_from_ckpt_path` unable to fit into the hook `load_checkpoint_file`?

[2021-06-21 13:21] SeanNaren commented on #7965
Thanks @AnthonyBarbier!

I think for the most part tensors that do not have gradients is the minimal requirement and fixes a host of logging issues.

You mention speed impacts, do you know a rough estimate on how much of an impact these anchors will make?

We might be able to get away with adding logic to warn the user of the speed hit + allow disabling of logging to make it a no-op.

[2021-06-21 14:03] tchaton commented on #8057
Dear @sooftware,

You need to return optimizer, scheduler in this format.

[code]

Can you try it out ? Works for me

[code]

[2021-06-21 14:31] kaushikb11 commented on #7969
Yup, having it as an argument is what I had in mind. Planning to work on it tonight.

[2021-06-21 14:53] kaushikb11 commented on #7912
Going through your script. Also, note the effective batch size is `batch size * 8` for 8 cores.

Getting this error when I did the first script run
[code]

[2021-06-21 15:08] #7637 closed

[2021-06-21 15:37] apacha commented on #1598
Having the same problem here... Please re-open this issue and fix it.

[2021-06-21 15:42] Queuecumber commented on #7929
Yeah we should have this in the docs, I also recommend the proposed API change as it makes it possible to turn of test-time auto distributed sampler, there's currently no easy way to do that.

Correct

I'd love to see something like this but I have no idea how to implement it

I should be able to make the PR this week

[2021-06-21 15:43] Queuecumber commented on #7753
I should be able to get to this PR this week, will ping you when I send it in

[2021-06-21 16:04] carmocca commented on #8003
Done in #8059

[2021-06-21 16:30] wenouyang opened #8064 "kernel restarting in jupyternotebook for import pytorch_lightning as pl"
When using jupyter notebook to run  pytorh_lightning program, after typing

`import pytorch_lightning as pl`

It generates popup kernel restarting message

![image](https://user-images.githubusercontent.com/5430158/122796387-f2251f80-d283-11eb-83d6-fb96660f63c0.png)

[2021-06-21 16:39] sIncerass opened #8066 "Train Time Increase with gradient accumulation for pytorch_lighting with version release/1.3.x/"
## 🐛 Bug

## Please reproduce using the BoringModel

### To Reproduce

[**BoringModel**](https://colab.research.google.com/drive/1h6TH5JZ0PdhlfOlFFdoEaqWzvs5kWoJa?usp=sharing) also reproduces the same bug.

[code]

### Expected behavior
The time in "model forward" will be increased when we set the profiler and gradient accumulation more than 1 using the boarding model or the simple model I provide

[2021-06-21 16:44] kaushikb11 commented on #8064
@wenouyang Could you share the notebook to reproduce the issue?

[2021-06-21 16:49] alanhdu commented on #7553
No update on my end. I would like to get to this "at some point", but I'm clawing through a large backlog at work and probably be able to anytime soon.

[2021-06-21 17:34] mauvilsa commented on #8008
I agree that if a class instance of the correct type is given then it shouldn't fail like it does now.

The class path can be inferred, but the init args can't be inferred. The file that `SaveConfigCallback` saves has two main uses. One is knowing the exact settings that were used when it was run and the second is reproducibility. If only the class path is inferred and included in the saved config

[2021-06-21 18:09] davors72 commented on #7965
The problem is a bit hard to quantify in cycles in a generic/universal way but basically we have a perf hit of having to write that data back to the host synchronously. How bad the hit is depends on the hardware configuration of the IPU chips and the host, the size of the model, and of course how big the tensor being read is. In most cases it will not be trivial. It's hard to give an exact estimat

[2021-06-21 18:19] mleshen commented on #8043
hi @SeanNaren! yeah, i'm sorry for the confusion. let me sketch it out

### so previously:

`def restore_model_state_from_ckpt_path:` on TrainingTypePlugin
     `- load checkpoint `
     `- restore datamodule states`
     `- load state dict `

this was called in trainer:
![image](https://user-images.githubusercontent.com/31655743/122808657-036d2c80-d282-11eb-9048-23a3ee9969cb.png)

### after the r

[2021-06-21 18:21] mleshen commented on #8043
so previously since `load_model_state_from_ckpt` was in TrainingTypePlugin, it could be overridden. for our case we overrode this method to load the model state in a serialized way to prevent CPU OOMs. now that the functionality is in `checkpoint_connector`, I don't see an obvious solution for customizing this behavior. perhaps we should revert the method now in `checkpoint_connector` back to Trai

[2021-06-21 19:09] addisonklinke opened #8068 "Control qconfig and location of quant/dequant stubs at the module-level"
## 🚀 Feature

The current `QuantizationAwareTraining` callback forces the quant/dequant operations to wrap the model's `forward` method. Users should be able to configure a different model method instead

### Motivation

Many operators do not support quantization in PyTorch yet. Additionally, custom `nn.Modules` won't have quantization support unless the user implements it themselves. In these cas

[2021-06-21 19:46] addisonklinke commented on #8068
Another model where this could be useful is one with embeddings

[code]

Running the same training as above will yield

[code]

This is because the integer input tensor (provided by `example_input_array` and required by `nn.Embedding`) is incompatible with the quant stub added by our callback (which takes float inputs only). This could be resolved with the following code once the pitch is implemen

[2021-06-21 22:23] nmichlo commented on #1406
The current [Early Stopping](https://pytorch-lightning.readthedocs.io/en/latest/common/early_stopping.html) doc page does not list the `should_stop` attribute. I only found out about this here.

[2021-06-21 22:26] wenouyang commented on #8064
@kaushikb11 ,  I think it might be due to the virtual environment been crashed. I re-installed on in another virtual environment. It is working now.

[2021-06-21 22:26] #8064 closed

[2021-06-22 04:10] nisheethlahoti opened #8072 "Support calling fit and test scripts using "python -m" module syntax with DDP"
## 🚀 Feature
Support calling fit and test scripts using "python -m" module syntax with DDP

### Motivation
A python script `c.py` located in the directory `a/b` can be called either as `python a/b/c.py` or as `python -m a.b.c`. The latter method has a few advantages:
 1. It supports relative imports internally
 2. The script can be called if it's present in PYTHONPATH, not just in the current work

[2021-06-22 09:05] SeanNaren commented on #7965
That makes sense, I'm thinking this current logic:

By default we no-op all `self.log` calls, with a warning that log calls have been disabled on IPUs to reduce performance hits (even a link to the issue or something).
We introduce a parameter called `enable_ipu_logging` or something, that if passed to the trainer will try to log values using this anchor technique.

How does this sound? Also you m

[2021-06-22 11:02] awaelchli commented on #8072
duplicate of  #3689 ?

[2021-06-22 11:10] snarb commented on #8026
Found minal steps for reproducing:

    import torchvision # This torchvision import causes crash. If we are removing this import - no crash
    import pytorch_lightning as pl
    from torch.nn import functional as F
    from torch import nn
    from pytorch_lightning.core.lightning import LightningModule

    class LitMNIST(LightningModule):

      def __init__(self):
        super().__init__()

[2021-06-22 11:11] awaelchli commented on #8066
which versions of lightning did you compare?

[2021-06-22 14:36] ibeltagy commented on #8066
I have seen this issue with version 1.0.8. @sIncerass had the same issue with version 1.3.5. In both cases, the time per step gets longer as the model trains longer. We tried the profiler and it looks like the forward pass is what is slowing down.

[2021-06-22 14:42] awaelchli commented on #8066
Thanks for the clarification, that's an important detail you left out there in the post. So as you say there is no difference in the versions. **The comparision is the training time from epoch to epoch.**

Have you also tried with the master branch? There was an internal logging re-design which also is supposed to bring perf improvements.

[2021-06-22 14:49] ibeltagy commented on #8066
Not even epochs. Every step is a tiny bit slower than the step before it. Will try to send you a screenshot for the tensorboard log.

No we didn't. Is it a general performance improvement or something specific to gradient accumulation and the gradual slowing down?

[2021-06-22 15:06] ibeltagy commented on #8066
Here are my logs from version 1.0.8
![image](https://user-images.githubusercontent.com/2287797/122948909-1c341b80-d330-11eb-8e68-4ce7ba3e104a.png)
and here with smoothing
![image](https://user-images.githubusercontent.com/2287797/122949003-2e15be80-d330-11eb-95aa-bf0bfdaaf3a9.png)
At the beginning, it is 0.87s/batch. At step 25k, it is 1.38s/batch.

@sIncerass has better logs using the recently ad

[2021-06-22 16:18] awaelchli commented on #8066
I took your repro script (btw no access to the link) and modified it. On CPU, can't reproduce your observations on master. I get `model_forward` times around 0.0004 seconds across all these settings I tried:

[code]

Here is the full script. I will now run the same on GPU and check also 1.3.x.
[code]

[2021-06-22 16:54] ibeltagy commented on #8066
thanks, @awaelchli. I think you need to run it a lot longer than a few hundred steps. From the tensorboard log earlier, you need like 10k steps for the slowdown to become noticeable.
Just run the same 1GPU, 4 accumulation steps, v.1.3.5 configuration but for a lot longer. You need to log to tensorboard because the difference can go unnoticed in the progress bar.

[2021-06-22 16:55] ibeltagy commented on #8066
Just saw your edit. Agree

[2021-06-22 20:51] mleshen commented on #8043
Hi @awaelchli! Thanks for responding. Here's the overriden method we used formerly:

[code]

Yes, I mean add an option to serialize loading the model state.

[2021-06-22 21:43] sIncerass commented on #8066
Yeah, more examples with gradient accumulation where the model_forward time increase are added here.
![Screen Shot 2021-06-22 at 2 42 30 PM](https://user-images.githubusercontent.com/22538462/123003481-1c500d80-d368-11eb-937b-8c266174ec39.png)
 ![Screen Shot 2021-06-22 at 2 42 03 PM](https://user-images.githubusercontent.com/22538462/123003435-0b9f9780-d368-11eb-9ba3-51207ea47e02.png)
![Screen Sho

[2021-06-22 21:58] yifuwang opened #8086 "DataConnector.attach_datamodule doesn't respect LightningModule.datamodule anymore"
## 🐛 Bug

https://github.com/PyTorchLightning/pytorch-lightning/pull/8002 changed attach_datamodule() so that it doesn't respect LIghtningModule.datamodule anymore. Unless this is intentional, we should bring back the old behavior.

https://github.com/PyTorchLightning/pytorch-lightning/pull/8002/files#diff-906ad7bb3bf022c44bada799c11c2b45ef0c12c3de2cc743d3078bd95cd0d778L117-L118

## Please reprodu

[2021-06-22 22:16] carmocca commented on #8086
Hi!

Accessing `LightningModule.datamodule` was deprecated in https://github.com/PyTorchLightning/pytorch-lightning/pull/7168.

#8002 changed that piece of code to avoid using the deprecated property.

Can you elaborate on what exactly broke? Ideally with a test/repro snipept

[2021-06-22 22:40] yifuwang commented on #8086
Hi @carmocca, thanks for the quick follow up. I see, I wasn't aware of the deprecation. Many of our use cases are batch jobs so it's hard to notice the deprecation warning. @ananthsub we should figure out something to better handle deprecations in general.

We still have use cases that set `LightningModule.datamodule` and expect the datamodule to have access to the trainer. After #8002, the datamo

[2021-06-22 22:54] carmocca commented on #8086
We could add back the deprecated access with the disadvantage that the deprecation message will appear for everybody calling trainer functions without the datamodule argument.

You can still access `self.trainer`  inside your `LightningDataModule`. Is that what you are referring to?

It gets set here assuming a datamodule is passed:

https://github.com/PyTorchLightning/pytorch-lightning/blob/6dd77

[2021-06-22 23:12] yifuwang commented on #8086
Right. But not anymore with the deprecated usage pattern since `attach_datamodule` would be shortcircuited.

It would be great if we can do this to give us a bit more leeway, so we can help our users migrate to the recommended/supported semantic (I fear there are other such use cases that are not caught by tests).

@ananthsub - In the future, we should probably monitor deprecation warnings in a ce

[2021-06-22 23:13] borisdayma opened #8088 "Limited types of data can be logged"
## 🐛 Bug

Function `__check_allowed` limits the type of parameters that can be logged, even this data would be supported by loggers such as wandb.

### To Reproduce

See following [**notebook**](https://colab.research.google.com/drive/1LLIPqS2xgSFtGGg4dnoMBeQOkgPW9bnp?usp=sharing).

Error stack:

[code]

### Expected behavior

This data is supported by wandb logger which can log it (and display it

[2021-06-22 23:53] awaelchli commented on #8043
Okay, this is what you meant. I misunderstood originally what you mentioned as "serialization" for something else.

With the latest changes, the loading of checkpoints goes as follows:

Trainer.fit():
    ...
    -> LightningModule.setup()
    -> load checkpoint into memory
    -> restore model weights
    -> LightningModule.on_load_checkpoint()
    -> accelerator setup etc.
    ...
    -> restore

[2021-06-23 00:29] carmocca commented on #8086
Yeah, we can do this. Would like to know Ananth's thoughts first

What's not clear to me is if the broken usage is wrong and should be replaced or instead it relies on a valid use of `lightningmodule.datamodule` and it shouldnt be deprecated.

As mentioned before, a snippet of what worked before but is breaking now would be helpful 😄

[2021-06-23 01:13] carmocca commented on #8088
Hi!

We recently redesigned the internal logging logic. Was this something supported before? Can you provide a minimal repro to play around and test it?

`self.log` is designed to support numbers, tensors, or dictionaries of the former. To support this we would either need to provide another function for this (e.g. `self.log_data`) or add a flag to `self.log` so most of the logging logic is skippe

[2021-06-23 01:19] #7671 closed

[2021-06-23 02:23] borisdayma commented on #8088
Hi, yes there is a colab in the issue under "To Reproduce" section.

[2021-06-23 02:42] #8072 closed

[2021-06-23 02:42] #3689 closed

[2021-06-23 04:24] gahdritz opened #8092 "DeepSpeed + training checkpointing doesn't work"
## 🐛 Bug

It looks like the default checkpoint connector doesn't handle DeepSpeed optimizer checkpointing properly. Among other issues, [`restore_training_state()`](https://github.com/PyTorchLightning/pytorch-lightning/blob/0ba147d98aecb900074b82ce1e81efa715321c8d/pytorch_lightning/trainer/connectors/checkpoint_connector.py#L122) (in pytorch_lightning==1.3.7.post0) passes DeepSpeed's `load_state_d

[2021-06-23 05:38] abhinavrai44 commented on #7663
I am also facing issues when I try to use mix precision. Please share a solution if it is possible

[2021-06-23 07:58] tchaton commented on #8088
Hey @carmocca , @borisdayma,

I don't believe we ever supported logging images directly with the self.log function.
I think having `self.log_image` or derivate would be the cleanest way forward.

Best,
T.C

[2021-06-23 08:22] awaelchli commented on #8066
After 100k iterations I'm still seeing flat curves. Are you aware that you have a `self.trainer.profiler.describe()` call in `training_step()`? Can you confirm and promise 100% that you have shared the code that you have run to produce the logs you are showing, and that you have stripped away only the logging code that you produced the screenshots with?

[2021-06-23 09:07] oggyfaker commented on #834
hi can you share the public jupyter notebook . I cant see it

[2021-06-23 09:12] borisdayma commented on #8088
It works with latest released version on the exact same notebook: [run](https://wandb.ai/borisd13/MNIST/runs/h25zpkns?workspace=user-borisd13)

[2021-06-23 11:06] skanti opened #8098 "`CSVLogger` leaves out first (batch_idx = 0) iteration?"
## 🐛 Bug

The `CSVLogger` does not seem to log the very first `num_sanity_val_steps` and `batch_idx = 0` or `gobal_step = 0`

### To Reproduce

Use
[code]

### Expected behavior

Should include the metrics at `step = 0`
![image](https://user-images.githubusercontent.com/11197940/123086466-5d552a00-d41b-11eb-86f9-33df9ef8e6dc.png)

 - PyTorch Version (e.g., 1.0): 1.8
 - OS (e.g., Linux): Linux
 - H

[2021-06-23 12:24] justusschock commented on #8098
Hi @skanti

I checked that and verified that this works as intended.

The Issue with your example is, that you only log at the end of the epoch (and therefore no step values are being logged).
Additionally note that we have two trainer arguments controlling the logging called
`flush_logs_every_n_steps` and `log_every_n_steps`. To verify this you have to set them to one.

The following script produ

[2021-06-23 12:24] #8098 closed

[2021-06-23 13:30] miraodasilva opened #8100 "Exponential Moving Average (EMA)"
## 🚀 Feature
Keep an Exponential Moving Average (EMA) of the model's weights as it is training. This is available on tensorflow but not on pytorch. https://www.tensorflow.org/api_docs/python/tf/train/ExponentialMovingAverage .

### Motivation
EMA has shown to be extremely benefitial for bootstrapping better models from scratch. For instance efficientnet (v1 and v2) benefits heavily from the usage

[2021-06-23 15:02] justusschock commented on #8100
I think having it as a callback would be nice.

@miraodasilva Are you willing to contribute this?

[2021-06-23 15:05] miraodasilva commented on #8100
Sorry, I don't really have the time do it properly right now. However, I will start working with it on my own a bit, and perhaps I will contribute in the future. Thanks for responding!

[2021-06-23 15:41] marsggbo commented on #7698
This problem still exists in V1.3.7. My current solution is to comment `track_and_norm_grad` function. I would suggest adding a conditional judgment of grad clipping.

[code]

[2021-06-23 15:44] marsggbo opened #8104 "manual_backward logical bug"
Actually, this problem has been raised in issue #7698 , but it has been closed.

This problem still exists in V1.3.7. My current solution is to comment `track_and_norm_grad` function. I would suggest adding a conditional judgment of grad clipping.

[code]

[2021-06-23 16:26] jonvet opened #8105 "training_step_end doesn't work as stated in docs"
## 🐛 Bug

I'm training a model on multiple GPUs using the `dp` accelerator. I want to combine the outputs using the function `training_step_end`. However, unlike stated in the docs, in that function I don't have access to the outputs from all GPUs but just one.

## Please reproduce using the BoringModel

https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing

### To

[2021-06-23 16:39] miraodasilva opened #8106 "SWA (Stochastic Weight Averaging) bug"
## 🐛 Bug

When I turn on stochastic_weight_avg, the trainer crashes with the following stack trace. If I do not use stochastic_weight_avg, everything works fine.

[code]
### Environment

 - PyTorch Version: 1.8.1
 - OS (e.g., Linux): Ubuntu 20.04
 - How you installed PyTorch (`conda`, `pip`, source): pip
 - Build command you used (if compiling from source):
 - Python version: 3.7.6
 - CUDA/cuDNN v

[2021-06-23 17:47] mozharovsky commented on #7984
@kaushikb11 thanks for replying!

Yes, the effective batch size pays off in 1-core training. Nevertheless, the training is still stuck when using all 8 cores. The stack trace indicates that the process is stuck at multiprocess selector polling ([here](https://github.com/python/cpython/blob/769d7d0c66c5b86e2dd29b9ce67ac2daaab1bb38/Lib/selectors.py#L416)). Neither XLA metrics report indicates XLA de

[2021-06-23 18:22] tchaton commented on #8106
Dear @miraodasilva,

Could you provide a reproducible script using the BoringModel ?

Best,
T.C

[2021-06-23 18:23] Borda opened #8107 "Testing URL links in docs & readme"
## 🚀 Feature

it may easily happen that some external links are not valid anymore so we shall test them all...

### Motivation

detect broken links in the process

### Alternatives

load the URLs via bs4? (a web scraping tool)
assert that the text you get back contains an expected string?

### Additional context

[2021-06-23 19:17] tchaton commented on #8088
Hey @borisdayma,

Interesting, I don't understand how this could have worked :)
Need to investigate.

Best,
T.C

[2021-06-23 19:49] sIncerass commented on #8066
Sorry @awaelchli, can you elaborate on the GPU machine and the scripts? Yes, we have the `self.trainer.profiler.describe()` in the `training_step()`.

[2021-06-23 20:21] awaelchli commented on #8066
I'm not so much familiar with the profilers and how they are supposed to work but you definitely need to remove
`self.trainer.profiler.describe()` from the training step, this was slowing down my iterations so I removed it as I thought you added this for debugging.

My script was derived from yours directly, but since you didn't add the visualization and timing code I added that myself:
[code]

He

[2021-06-23 23:09] carmocca commented on #8104
Hi!

Setting `gradient_clip_val` or `accumulate_grad_batches` on your `Trainer` with `automatic_optimization=False` (aka using `manual_backward`) is not allowed. #7788 (the PR that closed the issue you linked) implements a better error message for that case but still stops the program.

You are not seeing this in the 1.3.7 release because the changes are in master and will be released with 1.4.0.

[2021-06-24 03:43] ushahid commented on #7233
I am facing the same issue, there is significant difference in F1 scores for classification models, did you find a solution?

[2021-06-24 05:55] murphyk opened #8108 "bolts.MNISTDataModule.prepare_data() tries to get the data from incorrect URL"
bolts.MNISTDataModule.prepare_data() tries to get the data from incorrect URL.
It says
` Downloading http://yann.lecun.com/exdb/mnist/https://ossci-datasets.s3.amazonaws.com/mnist/train-images-idx3-ubyte.gz.`
 Here is the code to reproduce the issue:
[code]

[2021-06-24 06:00] murphyk opened #8109 "dm.imagenet documentation issue"
In https://lightning-bolts.readthedocs.io/en/latest/datamodules_vision.html#imagenet, it says `This method already assumes you have imagenet2012 downloaded. It validates the data using the meta.bin.` However no instructions are given on how to do this (unlike, say, the instructions you give for cityscapes)

[2021-06-24 06:04] murphyk opened #8110 "create dm.EMNISTDataModule"
It would be useful to have a DM for https://www.tensorflow.org/datasets/catalog/emnist.

### Motivation

EMNIST is a much better dataset than MNIST, since it has more classes (0-9, a-z, A-Z), more data (4x), and more inherent ambiguity, yet it still easy to deal with computationally.

![image](https://user-images.githubusercontent.com/4632336/123210742-4d6b3380-d477-11eb-80da-3e9a74a18a07.png)

[2021-06-24 06:29] ananthsub commented on #8110
@murphyk this could be a good request for Lightning bolts / @PyTorchLightning/core-bolts as core PyTorch Lightning offers the API/interface for these components, but not implementations

[2021-06-24 06:29] ananthsub commented on #8109
@murphyk do you mind opening this issue in the bolts repo? https://github.com/PyTorchLightning/lightning-bolts/issues

[2021-06-24 06:32] ananthsub commented on #8108
@murphyk do you mind opening this issue in the bolts repo? https://github.com/PyTorchLightning/lightning-bolts/issues

[2021-06-24 06:42] ananthsub commented on #8088
@borisdayma as a workaround, in the callback could you directly log with `trainer.logger.experiment.<wandb_api>` ?

[2021-06-24 07:10] awaelchli commented on #7233
@ushahid when you compute F1 score, or any metric for that matter, make sure you take into account the values from all processes and that they are correctly reduced across processes.
You can consider using tochmetrics for this, here is F1: https://torchmetrics.readthedocs.io/en/latest/references/modules.html#f1

Correct metric usage and logging in Lightning:
https://torchmetrics.readthedocs.io/en/

[2021-06-24 07:57] ananthsub commented on #7929
For reference, here's the prior issue for DDP join: https://github.com/PyTorchLightning/pytorch-lightning/issues/3325

however for testing, why do we need DDP at all since there are no grads that need to be synced

[2021-06-24 08:17] Borda commented on #8058
can we also check that the `gpus=2, accumulate_grad_batches=16` converges since I guess that the accumulation is per GPU so lowering it with nb GPUs does not make much sense... @awaelchli?

[2021-06-24 08:21] Borda commented on #7932
I would say that the case here is that you would need to assume always some overhead and for a small dataset the initial phase is dominant compare to the full run, you can see a parallel with a car riding 100 or 1000 meters, in both cases, you need to start from zero and as long you go you benefit from no need starting again...

[2021-06-24 08:21] #7932 closed

[2021-06-24 08:25] Borda commented on #7984
@kaushikb11 ^^ :rabbit:

[2021-06-24 08:26] #8104 closed

[2021-06-24 08:34] Borda commented on #8016
@awaelchli I think that this is a back-compatibility issue which we shall address...

[2021-06-24 08:39] awaelchli commented on #8016
@Borda the error shows an internal call and fails there. We don't know what the user is running as no information was provided, the full stack trace is also missing.

[2021-06-24 09:32] hengee commented on #839
So any update?

[2021-06-24 10:43] borisdayma commented on #8088
Yes this would work to access directly the correct logger.

[2021-06-24 10:45] awaelchli commented on #8105
Hi

Please have a look at the following runnable example. It requires 2 GPUs.

[code]

[2021-06-24 11:01] awaelchli commented on #8105
Please have a look at the following example and my comments.
It requires 2 GPUs.

[code]

The docs may need an update?

[2021-06-24 11:03] Queuecumber commented on #7929
Ok so it sounds like join may not work out any time soon

Correct, so join isn't even necessary here, but there's still a distributed sampler in play and metric syncing would been to be handled right? e.g, if process A had 4 batches and process B had 5 then process B would hang trying to sync it's metrics

[2021-06-24 13:37] Borda commented on #7904
shall be fixed now :rabbit:

[2021-06-24 13:37] #7904 closed

[2021-06-24 13:49] #7466 closed

[2021-06-24 13:49] #5225 closed

[2021-06-24 14:02] chadHGY commented on #5054
Just encounter similar problem recently. I found that there's a new merge into main branch: https://github.com/PyTorchLightning/pytorch-lightning/pull/7980/files

Specifically, you can manually change the configuration_validator.py if can't upgrade to the latest version.
https://github.com/DavidMChan/pytorch-lightning/blob/2a76b31a49e1f18663f1c239803a898765d6abde/pytorch_lightning/trainer/configur

[2021-06-24 15:01] murphyk commented on #8110
I created https://github.com/PyTorchLightning/lightning-bolts/issues/672. Closing this.

[2021-06-24 15:01] #8110 closed

[2021-06-24 15:19] dlangerm commented on #5867
This is still a bug and should not be closed. The documentation and semantics for the init are very misleading. If `log_model` is false then the model should not be uploaded.

[2021-06-24 15:56] carmocca commented on #6935
The Python errors might be resolved with https://github.com/PyTorchLightning/pytorch-lightning/pull/8116

[2021-06-24 16:03] awaelchli commented on #4420
If you land here on this thread because you got an NCCL error and it looks like this (not exactly what OP posted):

[code]

It may be because you have too little shared memory. The solution is to increase the shared memory (google it for your operating system) or if you use docker set `--shm-size="1G"` or some acceptable number.

General advice for NCCL errors: Run your command with the environmen

[2021-06-24 16:19] awaelchli commented on #5867
@dlangerm my answer still applies for the problem that @N0vel had.
You are reporting that `log_model=False` will still upload files to wandb right?
Then let's investigate that?

[2021-06-24 16:26] dlangerm commented on #5867
@awaelchli  Yes `log_model=False` still causes the model to be uploaded at the end of the run, IMO if the desired behavior is clearly not to log models to WandB the flag should be passed to the wandb module to prevent it from uploading the model. Otherwise, there is no obvious way to prevent the model from being uploaded through the torch lightning interface other than setting `save_dir="./somewhe

[2021-06-24 16:50] awaelchli commented on #5867
I tried this:

[code]

It does not uploading any checkpoint files, at least I can't see them in the files tab on the experiment.
Can you try to adapt this example please to help me reproduce what you are seeing?

wandb version: 0.10.32
PL version: master
macos

[2021-06-24 17:23] tchaton commented on #8105
Hey @awaelchli,

I think a doc update would be good there :)

Best,
T.C

[2021-06-24 17:25] tchaton commented on #8100
Hey @miraodasilva,

It can be done using the Stochastic Weight Averaging Callback and replacing the avg_gn function there:
https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/callbacks/stochastic_weight_avg.py#L44

Here is the mean average implementation:
https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/callbacks/stochastic_weight_

[2021-06-24 17:37] RahulMitra opened #8118 "[RFC] Checkpointing in Lightning: Create a new CheckpointAgent interface for placing checkpointing logic"
## 🚀 Feature
with: @haocizhang

We propose a new `CheckpointAgent` interface to contain all the logic that is related to checkpointing (currently residing in `TrainingTypePlugin` and `CheckpointConnector`). This includes serialization, deserialization as well as the logic to read/write to file systems. This will enable greater extensibility for custom implementations of checkpointing, such as the

[2021-06-24 17:39] haocizhang commented on #8118
cc: @ananthsub, @kandluis

[2021-06-24 18:16] miraodasilva commented on #8100
I see, hadn't seen that, thanks a lot!

[2021-06-24 18:19] miraodasilva commented on #8106
It appears the issue is caused by using SWA on a model with weight norm. This is because deepcopy does not work for weight norm, as described here https://github.com/pytorch/pytorch/issues/28594 . This is a pytorch issue, not a lightning issue, so I'm closing this. Thanks anyway!

[2021-06-24 18:19] #8106 closed

[2021-06-24 21:39] kazhang opened #8119 "Log non-matching keys when loading checkpoints in non-strict mode"
## 🚀 Feature
Log non-matching keys when loading checkpoints in non-strict mode.

### Motivation

When load from an older checkpoint or partially initialize the model with pre-trained weights, we call the `load_from_checkpoint` API with strict=False, but we also want to know which keys are missing and unexpected.

### Pitch

When [loading model states](https://github.com/PyTorchLightning/pytorch-li

[2021-06-24 22:43] ananthsub commented on #8118
I think this will be a very useful addition to make the IO pluggable. @carmocca @awaelchli - do you think this would be useful for WandB or other logger clients like MLFlow mentioned in the issue around publishing model artifacts?

Some of questions:
- Where should the CheckpointAgent reside / what invokes the agent? For example, is does the trainer own it, but the checkpoint callback invokes it v

[2021-06-24 23:32] carmocca commented on #8119
Sounds good to me!

[2021-06-24 23:41] haocizhang commented on #8118
- Yes, you are correct that it cannot be owned by the callback and has to be owned by the trainer. On the `save_checkpoint()` path, the plan is to keep the current implementation and have `checkpoint_callback` invoke `trainer.save_checkpoint()` from its `_do_save()` function, which then calls `checkpoint_connector.save_checkpoint()`, passes the agent to the plugin and finally invoke `checkpoint_ag

[2021-06-24 23:55] ushahid commented on #7233
Hi @awaelchli, thanks for your quick response. I am currently using a torchmetrics based accumulator which essentially collects predictions from all the processes and evaluates on the master using a callback based method. I have already verified that it is working correctly in both cases.

Another thing I would like to highlight is that the difference is between DDP and DP based training which is

[2021-06-25 00:25] awaelchli commented on #7233
as long as `seed_everything()` runs before your initialization of LM, it's all good.

1. don't know it, most likely irrelevant to the issue
2. with the seed set, should dropout be the same on all ddp processes? not sure if it can hurt in anyway
3. correct, seems reasonable! 👍
4. reasonable, LR scales with effective batch size 👍
5. yep, I noticed too. there are probably 16, right? Lightning is rese

[2021-06-25 01:45] awaelchli commented on #7968
This is not the first time, I remember we discussed this exact idea around before 1.0 release, @ananthsub may remember. We came to the conclusion that it is not going to work (I forgot the exact reason, too long ago).

Anyway, my question would be: How will Lightning know which optimiser is currently active?

[2021-06-25 03:19] ananthsub commented on #7968
Here was the prior issue: https://github.com/PyTorchLightning/pytorch-lightning/issues/3535

@awaelchli In the case of multiple optimizers and automatic optimization, could we rely on the order of optimizers returned matching with the yielded losses as @carmocca shows above? It is less explicit though if the module yields differently than the number of optimizers configured, though maybe users oug

[2021-06-25 04:26] djthegr8 commented on #5434
If it is not conflicting with someone else, I could work on `/utilities*`

[2021-06-25 05:42] akihironitta commented on #5434
Hi @djthegr8, that would be great!

[2021-06-25 05:44] ananthsub commented on #5434
@Borda should we also add this (and type hints) to the new contributor guide for what to do when submitting PRs?

[2021-06-25 05:53] surya-narayanan opened #8123 "Running trainer.test on val_dataloader hangs program"
## 🐛 Bug

I run a test loop on my val data loader after training with a checkpoint loaded from disk to report the best performance on the validation set. However, some times, this hangs and when I kill the program, a few jobs are left hanging running python.

### To Reproduce

I am unable to reproduce it using the Boring Model.
https://colab.research.google.com/drive/1hlnuOxplfIk8rAsg4TbOEDHo1iL58

[2021-06-25 07:19] tchaton commented on #8118
Hey @RahulMitra,

Definitely a great proposal !

`Where should the CheckpointAgent reside / what invokes the agent?`
I believe the `CheckpointAgentInterface` should be own by the `TrainingTypePlugin` as the way to share a given checkpoint is dependent on the Plugin, c.f DeepSpeed / FSDP.

And users could use the Plugin registry to make their TrainingType plugin + desired  `CheckpointAgent` easier

[2021-06-25 08:22] vasudev-sharma commented on #6840
I believe this issue should be closed since in PR #6968, this issue has been resolved.

[2021-06-25 08:45] vasudev-sharma commented on #2592
@awaelchli can I work on this issue? If yes, could you or any maintainers assign me?

[2021-06-25 09:09] Borda commented on #2592
@vasudev-sharma Great, looking forward :rabbit:

[2021-06-25 09:36] karthikrangasai commented on #8119
Hello @carmocca,

Would something like this work ?
[code]
assuming the newly added arguments to the `load_from_checkpoint` and `_load_model_state` methods are
[code]

[2021-06-25 10:14] GeorgeQ-Q opened #8125 "RuntimeError: expected scalar type Float but found Half .. : when training image-gpt model with deepspeed"
## 🐛 Bug

## Please reproduce using the BoringModel

### To Reproduce

####1.
[code]

(add plugin deepspeed_stage_2 into pl.Trainer )
####2.change:
[code]
into:
[code]

####3. run
[code]

Use following [**BoringModel**](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing) and post here

### Expected behavior

[code]

### Environment

**Note**: `Bugs with code` are

[2021-06-25 10:43] GuillaumeTong opened #8126 "ModelCheckpoint does not save checkpoint on training end"
## 🚀 Feature
See title

### Motivation
When finishing training, either through keyboard interrupt, unexpected error, reaching the end of the intended training period, or any other means, it is very desirable to keep a checkpoint of the most recent state of our training.

### Pitch
Imagine you need to interrupt the current training, but the last checkpoint was made hours ago, and you cannot wait fo

[2021-06-25 10:59] carmocca commented on #8119
Why do we need these? Isn't your point to just get them and log them?

Also, what's the exact difference between missing and unexpected?

[2021-06-25 11:56] karthikrangasai commented on #8119
I added the arguments for the idea mentioned in the alternatives sections of the issue where we can populate the arrays with values returned by `load_model_state`.

Regarding the difference, I'm not very sure about it.

[2021-06-25 12:54] awaelchli commented on #2592
This issue is a bit old and I'm not sure anymore if we have a strong need for it. But if you wish, please feel free to explore it and make a proof of concept. You may want to take a look at where we call the hooks in the `Trainer.call_hook()` method. This could be a place where we do a debug log :)

[2021-06-25 13:06] kaushikb11 opened #8128 "Create a Troubleshooting section for TPU Support docs"
## 📚 Documentation

Create a Troubleshooting section for TPU Support docs

Some pointers:

- Missing XLA Configuration
- How to clear up the programs using TPUs in the background
- Replication issue
- Unsupported datatype transfer to TPU issue
- Using `tpu_spawn_debug` plugin
- Troubleshooting for TPU Pod training
...

[2021-06-25 13:15] melanibe opened #8130 "DDP script hangs forever if one child process dies."
## 🐛 Bug

When using multiple gpus with `accelerator=ddp`, if one child processes throws an error, the main script hangs indefinitely and never terminates. The error does appear in the stdout but does not cause the main script to terminate as it should.

Note, that this bug does not appear if one uses `accelerator=ddp_spawn`.

## To Reproduce

Below a simple .py file that demonstrates the error. T

[2021-06-25 13:49] igolan89 commented on #5449
Does this still hold for multi-node training? I think `self.trainer.num_gpus` only registers number of gpus per host, not the global amount

[2021-06-25 16:10] rahumble commented on #6534
@tchaton, how should this be done when `accumulate_grad_batches` in the Trainer is not 1? I'm not sure if there are other trainer args that are also incompatible with this method.

If I have
[code]
and
[code]
I get
```pytorch_lightning.utilities.exceptions.MisconfigurationException: When overriding `LightningModule` optimizer_step or optimizer_zero_grad, `accumulate_grad_batches` in `Trainer` shou

[2021-06-25 17:09] borisdayma commented on #8088
Here is [a cool notebook](https://colab.research.google.com/drive/1Tr9dYlwBKk6-LgLKGO8KYZULnguVA992?usp=sharing) which was working a short time ago on master and that I planned to showcase for next release of pytorch-lightning master (I guess v1.4).

[2021-06-25 17:32] sIncerass commented on #8066
I use the

[2021-06-25 17:32] #8066 closed

[2021-06-25 18:24] amoshyc opened #8135 "Extend `val_check_interval` support"
## 🐛 Bug

When I train the model by specifying number of training step instead of epoch, `val_check_interval` behaves strangely. Please see the following colab:

https://colab.research.google.com/drive/1I0ySRH03T9LdXHoGwCp3Q242dHEHWP_0?usp=sharing

In the code, I log the `global_step` on each validation.

[code]

I set Trainer's `max_steps` to `100` and `val_check_interval` to `10`.
But when I run

[2021-06-25 18:35] nmerty commented on #1715
These changes still do not cover the case where we want to run full validation and also log the val result before training, right? So the case with `num_sanity_val_steps=-1` and logging is enabled.

[2021-06-25 19:07] ibeltagy commented on #8066
Thanks, @awaelchli for your help. Removing the profiler and moving the timing to `on_train_batch_start `, `on_train_batch_end` fixed the problem with v.1.3.5. We don't know what was the problem with the older, v1.0.8 version but we don't care, we are not using it anymore.
It is an interesting coincidence that the issue manifests in v1.0.8 and in v1.3.5+profiler but not in v1.3.5. Any guesses why t

[2021-06-25 20:10] awaelchli commented on #1715
@nmerty the sanity check is to make sure your code is functional and not crashing. the logging code also runs, it's just that the final values are not getting sent to the logger. we don't actually want to log anything, because that would lead to an unwanted offset in all figures of the logged keys that would follow in the normal epochs.

If you want to validate the model in advance you can do

[co

[2021-06-25 20:36] ianporada opened #8139 "DDP and gpus=[1,2,3] causes NCCL error"
## 🐛 Bug

On a machine with 4 GPUs, using DDP and `gpus=[1,2,3]` results in an NCCL error:

[code]

The same error occurs for `[1,2]` and `[1,3]`.

For `[0,2]`, `[0,3]`, `[0,1,3]`, and `[0,2,3]`, the execution hangs. This may be related to #5264, although I'm using pytorch 1.8.

For `[0,1,2,3]`, `[0,1,2]`, `[0,1]`, `[2,3]`, or any single GPU, everything runs fine.

(I.e. continuous indices run fin

[2021-06-25 21:40] kazhang commented on #8119
I'm happy with just logging the unexpected keys and missing keys. We could consider populating the arrays in the future.
The difference between missing and unexpected:
missing: keys that are in model state dict but not in checkpoint.
unexpected: keys that are not in model state dict but in checkpoint.

[2021-06-26 00:14] #7469 closed

[2021-06-26 06:02] gahdritz commented on #8092
Update: pytorch_lightning==1.3.7.post0 doesn't contain the offending file and the issue seems to have been resolved.

[2021-06-26 06:32] gahdritz commented on #8092
I'm no longer able to reproduce the issue using the latest builds of both packages. I'll close this again (hopefully for good this time).

[2021-06-26 06:44] gahdritz commented on #8092
This is becoming a total mess, but I've decided that this should remain open after all. Though the issue has been resolved in the nightly build (or at least superceded by a different issue), the pip version still has it, so it's probably still worthy of attention.

[2021-06-26 10:57] koszilard commented on #8119
Hello,
Is this issue already taken? I'd give it a go a if not.

[2021-06-26 11:56] justusschock commented on #8130
Hi @melanibe, thanks for the issue.

I'll look into it, but depending on how the child process fails, there may not be much we can do.

Let me quickly explain why and also why it works with spawn:

When using spawn, we actually use python's multiprocessing to spawn the new processes, that means they are connected and there is a communication broadcast. However, this comes with some other limitatio

[2021-06-26 16:49] Steve-Tod commented on #2351
Same problem here. I use `val_dataloader` method of 'pl.LightningModule', but this method is never called. So I specify `trainer.fit(model, val_dataloaders=model.val_dataloader())`, and set break points in `validataion_step` function, but it's also never called....

[2021-06-26 17:06] cn4750 commented on #5325
I have also just run into this issue. Hopefully support for it in the next release. 👍

[2021-06-26 19:36] thecooltechguy opened #8150 "SWA error with Iterable Dataset and DDP after the last epoch"
## 🐛 Bug

I’m encountering the following error only once training finishes the last epoch successfully, (I’m using Trainer’s stochastic_weight_avg=True in a multi-GPU fp16 training setup with DDP,  my dataloaders are all for IterableDatasets without a length, and my limit_train_batches=2, limit_val_batches=0, limit_test_batches=0):

[code]

### To Reproduce

For some reason, I couldn't repro with

[2021-06-27 01:02] awaelchli commented on #8139
Looks like #7202 broke it. Will investigate.

[2021-06-27 06:18] dave-epstein commented on #5319
I just came across this bug in training. I use WandB and don't like the default directory structure given by the ModelCheckpoint, so I had set `dirpath=os.path.join(logger.experiment.dir, 'checkpoints')`. This caused training to hang. My fix was to add the following:

[code]

And then use the environment variable instead of `logger.experiment.dir` in the `dirpath` argument. I'm not sure if this is

[2021-06-27 11:25] justusschock commented on #8150
hi @thecooltechguy ,

i think you may be right although i still wonder why this cannot be reproduced with a basic boringmodel. Anyways, Im going to have a look.

[2021-06-27 11:40] macwiatrak commented on #8105
Thanks for the hint @awaelchli! It works well now, it would be great to update the docs.

[2021-06-27 14:43] nickums commented on #4070
I am getting this error from the flash Trainer when it uses Tensorboard writer
because of the error AttributeError: module 'tensorflow' has no attribute 'io'

  self._experiment = SummaryWriter(log_dir=self.log_dir, **self._kwargs)
  File "C:\Python\Python38\lib\site-packages\torch\utils\tensorboard\writer.py", line 220, in __init__
    self._get_file_writer()
  File "C:\Python\Python38\lib\site-p

[2021-06-27 18:43] adnan33 commented on #7591
I am facing the same issue even after starting with 8 tpu cores (on both torch xla 1.8 and 1.9) . Is there any workaround that enables using all 8 cores?

[2021-06-27 20:00] gahdritz opened #8157 "LoggerCollection breaks PyTorch profiler"
## 🐛 Bug

If the Trainer's `profiler` parameter is set to `"pytorch"` and the `Trainer`'s logger is an instance of `LoggerCollection`, the profiler fails to write to a local file (with a warning).

The path for said file is derived from [this property](https://github.com/PyTorchLightning/pytorch-lightning/blob/28afc7a10d9f9c1160935fb5c81a1a8c0492b392/pytorch_lightning/trainer/properties.py#L223) o

[2021-06-27 20:37] klaegera opened #8158 "Calling predict() during training leaves model weights on wrong device"
I'm trying to predict some real-world data after each training epoch to see how things are progressing.

I have added the corresponding data to my `LightningDataModule` as a prediction set and want to call `Trainer.predict()` from `Callback.on_validation_end()`.

This works, but once the second epoch starts, the model's weights are no longer on the GPU.

[code]

Output:
[code]

Without GPUs there

[2021-06-28 01:06] karthi0804 opened #8159 "Cannot log gpu memory without making on step = True while logging train loss"
### Discussed in https://github.com/PyTorchLightning/pytorch-lightning/discussions/7582

<div type='discussions-op-text'>

<sup>Originally posted by **karthi0804** May 18, 2021</sup>
I am using 1.3.0 version. I wanted to just log the gpu memory at all time steps. So I enabled ```log_gpu_memory='all'``` and ```log_every_n_steps=1```. I couldn't find the gpu logging for steps. But If I log the train

[2021-06-28 05:55] eladsegal opened #8162 "Metrics logged during sanity checking still appears in training"
## 🐛 Bug

Metrics logged during sanity checking still appears in training.

## Reproduction using the BoringModel
The code logs in `validation_step` and `validation_epoch_end` only when `self.trainer.sanity_checking` is `True`, but the following progress bar is outputted. This demonstrates leakage of the logging from the sanity checking to the training.
`Epoch 0: 100%
626/626 [00:01<00:00, 546.35i

[2021-06-28 07:47] tchaton commented on #8162
Dear @eladsegal,

Yes, sounds like this proposed behaviour might be better.
I believe some users asked to keep the validation in the trainer progress bar as it would disappear too quickly.

@awaelchli @justusschock Any thoughts about this ?

Best,
T.C

[2021-06-28 07:48] tchaton commented on #8159
Dear @karthi0804,

Thanks for reporting this bug. Would you mind providing a reproducible script using the BoringModel ?

Best,
T.C

[2021-06-28 07:50] tchaton commented on #8158
Dear @klaegera,

Lightning doesn't support well calling the trainer inside trainer scope. This can mess up things.
For the time being, I would suggest you to manually move the model to the `GPU`.

However, I am curious. Why validation won't be sufficient to extract predictions ?

Best.
T.C

[2021-06-28 07:52] tchaton commented on #8157
Dear @gahdritz,

Thanks for reporting this issue. Would you be interested in making a fix PR to Lightning ?
I believe it shouldn't be too hard and a good way to learn more :)

Best,
T.C

[2021-06-28 07:55] tchaton commented on #8135
Dear @amoshyc,

Thanks for reporting this issue. Would be interested in creating a fix PR ?
I believe this shouldn't be too hard and a great way to learn more about Lightning.

Best.
T.C

[2021-06-28 08:00] tchaton commented on #8130
Dear @melanibe @justusschock,

I am working on a mechanism to prevent this behaviour and it will kill the processes if it detects a
Here is the code associated with it: https://github.com/PyTorchLightning/pytorch-lightning/blob/3da64e5336c19bd9cdff51d6e2924c47dbcc54b0/pytorch_lightning/trainer/trainer.py#L1010.

@justusschock I tried using signal to emulate a keyboardInterrupt and enable the code

[2021-06-28 08:29] awaelchli commented on #8162
Yes, agreed that it should not output anything, that's the intention. @eladsegal interested looking into this?

[2021-06-28 08:57] eladsegal commented on #8162
I would, but I see you set it as P0 and since I am not familiar with the codebase I definitely won't have the time to do so soon.

I currently use the following workaround in the validation methods/hooks:
[code]

[2021-06-28 09:25] ethanwharris opened #8169 "`ModuleDict` with `BaseFinetuning` causes recursion error"
## 🐛 Bug

Using a module with `nn.ModuleDict` layers causes an infinite recursion error. This is because it passes the `Iterable` check but then iterates over keys which are strings and then subsequently pass the `Iterable` check on recursion. This is the cause of PyTorchLightning/lightning-flash#455

[2021-06-28 10:01] tchaton commented on #8162
Dear @eladsegal,

I am taking this issue :) I will let you take the next one, promise !

Best,
T.C

[2021-06-28 10:55] #8169 closed

[2021-06-28 11:21] klaegera commented on #8158
Hi, thanks for your reply.

Alright, I am currently manually calling the dataloader as a workaround, which I was hoping to avoid so I don't need to manually move Tensors to the GPU.

In case it is useful to someone else, my dataloaders return collated dicts, so my current solution looks something like this:

[code]

As to your question: I am doing supervised training on synthetic sample and ground

[2021-06-28 11:43] justusschock commented on #8150
Hi @thecooltechguy , for me this is fixed by https://github.com/PyTorchLightning/pytorch-lightning/pull/8172

[2021-06-28 12:25] tchaton commented on #8126
Dear @GuillaumeTong,

Thanks for raising this issue. This is currently being baked. We are working on Fault Tolerant Training and we will enable this pretty soon.

Best,
T.C

[2021-06-28 12:28] tchaton commented on #8125
Dear @GeorgeQ-Q,

Would it be possible for you to reproduce this behaviour with the BoringModel ?

Best,
T.C

[2021-06-28 12:29] tchaton commented on #8105
Dear @macwiatrak,

Would you mind making a PR with doc updates ?

Best,
T.C

[2021-06-28 12:30] #8057 closed

[2021-06-28 12:30] tchaton commented on #8057
Dear @sooftware,

Feel free to re-open this issue if it is not solved.

Best,
T.C

[2021-06-28 13:03] tchaton commented on #8016
Dear @Xiang-Pan,

Without more information on your side, we will have to close this issue.

Best,
T.c

[2021-06-28 13:39] #8159 closed

[2021-06-28 14:00] karthi0804 commented on #8159
@tchaton thanks for fixing it! hopefully I will contribute next time.

[2021-06-28 14:17] awaelchli commented on #8066
hmm interesting, there have been changes to the profilers but I haven't kept up with those. Not sure what was going on here.
the resolution is not very satisfactory here, because I haven't seen this increasing overhead due to the profiler. I shall go back to 1.3.5 and test again

[2021-06-28 15:31] adobles96 opened #8175 "Logging multiple metrics to hparams tab in tensorboard fails"
Making this an issue as nobody replied in discussion, and I now think it may be a bug.

### Discussed in https://github.com/PyTorchLightning/pytorch-lightning/discussions/8138

<div type='discussions-op-text'>

<sup>Originally posted by **adobles96** June 25, 2021</sup>
Hi,

I've been trying to log multiple metrics to the hparam tab in tensorboard but haven't been able to do it. This is what I'm d

[2021-06-28 15:54] awaelchli commented on #8139
@ianporada I was able to pinpoint the issue, took a while!
The fix is on the linked PR.
You may test it by installing from this branch:

`pip install git+https://github.com/PyTorchLightning/pytorch-lightning/archive/refs/heads/bugfix/ddp-barrier.zip`

But I will try to include it in tomorrows's patch release.
Another workaround (in case anyone else finds this issue), is to set `CUDA_VISIBLE_DEVICE

[2021-06-28 16:20] awaelchli commented on #4705
Hi
Not what OP reported, but in case you land here because you had OOM with PL 1.3.x, it may be because you were running a script on gpu index > 0 (not the first gpu) and PL would still allocate some memory on GPU 0. If you had another experiment running on GPU 0 it could throw OOM. The issue was fixed in #8165.

[2021-06-28 16:22] awaelchli commented on #7817
Hi
Not what OP reported, but in case you land here because you had OOM with PL 1.3.x, it may be because you were running a script on gpu index > 0 (not the first gpu) and PL would still allocate some memory on GPU 0. If you had another experiment running on GPU 0 it could throw OOM. The issue was fixed in #8165. Afaik it did not exist prior to 1.3.x.

[2021-06-28 16:31] Damowerko opened #8178 "Trainer sets incorrect precision for complex dtype"
## 🐛 Bug

## Please reproduce using the BoringModel

### To Reproduce

Use following [**BoringModel**](https://colab.research.google.com/drive/1tdaVnX1qDrWH_xb8y7SSzxI56BzZubKh?usp=sharing).

I made the following changes to the BoringModel to reproduce.
* Registered a complex buffer in `__init__` (its name is `complex_buffer`).
* Created a trainer with `precision=64`.
* Printed out the dtype of th

[2021-06-28 16:51] thecooltechguy commented on #8150
Hi @justusschock , got it, thanks a lot for the fix! Looking forward to trying it out in a lightning release soon! :)

[2021-06-28 17:49] #8162 closed

[2021-06-28 18:21] #7523 closed

[2021-06-28 18:23] ethanwharris opened #8179 "`.log` no longer supports nested metric attributes (e.g. if stored in `ModuleDict`)"
## 🐛 Bug

`Metric` objects stored in a `ModuleDict` used to be supported but now gives the following error:
[code]

More info in PyTorchLightning/lightning-flash#481

[2021-06-28 18:40] gahdritz commented on #8157
Yeah I can take a crack at it

[2021-06-28 19:51] ianporada-msr commented on #8139
@awaelchli Awesome. Just tested your fix, and it works for me.

[2021-06-28 19:52] ianporada commented on #8139
@awaelchli Awesome. Just tested your fix, and it works for me.

[2021-06-28 19:52] #8139 closed

[2021-06-28 20:17] #8179 closed

[2021-06-28 21:18] #8150 closed

[2021-06-28 21:20] zcain117 opened #8183 "`torch.zeros` hangs on TPU"
## 🐛 Bug

PyTorch Lightning hangs when calling `torch.zeros` of a sufficiently large size, given that the input data is sufficiently large

* Hangs on both TPUVM and 2VM. In my earlier experiments, I anecdotally noticed that 2VM could go slightly higher on data size (compared to TPUVM) before hanging started, but right now they both hang given the repro script below.
* Hangs only when input data i

[2021-06-28 21:25] kaushikb11 commented on #8183
@zcain117 Thanks for reporting the Issue! Did you face this issue with Pytorch XLA as well?

[2021-06-28 22:53] Xiang-Pan commented on #8016
I will try to get more information, I just met the error and tried another save and load method

[2021-06-28 23:13] jamarju commented on #1764
This is still happening in:

[code]

Relevant yaml config:

[code]

See how after 0.50505 none of the subsequent **better** losses are recorded:

[code]

[2021-06-29 00:18] camruta opened #8185 "We should be able to output the PyTorchProfiler results to any data sink handlers."
PyTorchProfiler currently uses torch.profiler.tensorboard_trace_handler to generate result files for TensorBoard.

https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/profiler/pytorch.py#L429

It is probably useful to add support for other custom handler(s) user may want to use to output the results to different data sink. For example, many users would benefit from

[2021-06-29 00:56] camruta opened #8186 "Enable logging event in loggers."
It might be very useful if we can log events relevant to anything that happens during the training. The event metadata should be generic enough so that we can log information at various phases and steps during the training run, for ex. dataloader starting, stopping, restarting, checkpoint saved, or loaded etc.. Users can also use this event logging to log anything specific to their own implementat

[2021-06-29 01:01] zcain117 commented on #8183
No I don't see it when using PyTorch XLA directly.

For example, I opened our "Getting Started with PyTorch on Cloud TPUs" colab and ran this cell:

[code]

it successfully prints `t1` and `t2` and both show `device='xla:1'`

Colab machines are quite small too in terms of RAM. I think they are using v2-8 TPU which has smaller HBM memory available as well

[2021-06-29 04:10] satishjasthi commented on #8105
@tchaton

Can I submit a PR to update the docs?

[2021-06-29 07:12] satishjasthi opened #8189 "Ability to build docs without relying on pytorch tutorials section"
Currently when I cloned the PL repo and tried to build docs to resolve some issues wrt docs, the
`
make html
`
command fails because of dependencies issues which are related to tutorials section in docs/config.py
Based on discussion with @Borda Its would be better if we can make the docs section independent of tutorials.

This issues tries to remove the dependencies between docs and tutorials, so

[2021-06-29 07:14] satishjasthi commented on #8189
@Borda  I have started working on this issue, Ill submit a PR as soon as possible

[2021-06-29 08:23] justusschock commented on #4705
Closing this for now.

[2021-06-29 08:23] #4705 closed

[2021-06-29 09:06] jamarju opened #8190 "Unexpected Behaviour with Model Checkpointing and val_check_interval (again)"
## 🐛 Bug

Same as: #1764

## Please reproduce using the BoringModel

I'm terribly sorry that I don't have the time for this but I hope this bug report still gets accepted as it is not too hard to reproduce :(

### To Reproduce

Use this version:

[code]

Use a model that improves `val_loss` as it trains.

I'm using `LightningCLI`. Relevant yaml config:

[code]

See how after 0.50505 none of the su

[2021-06-29 15:27] sai-prasanna commented on #1038
@Borda huggingface's trainer passes the total training steps to the configure learning rate scheduler. https://github.com/huggingface/transformers/blob/b440b8d1ce404abc1fd953ec2e32e1817a4a4a77/src/transformers/trainer.py#L771 But this works only for dataloaders that are sized.

I think calling configure optimizer after training loader is created as @SokolovYaroslav suggested makes sense for our li

[2021-06-29 15:28] GabrielePicco commented on #839
This is my custom wrapper solution using scikit-learn K-fold that perform cross validation with datamodule:

[code]

Just sharing in case it may be useful to someone until official features is implemented

[2021-06-29 16:26] kaushikb11 commented on #8183
@zcain117 I tried running it on a single-core, faced this issue
[code]

[2021-06-29 17:43] dsantiago commented on #2189
You will need to add the needed observers, like `on_eval...`, `on_test...`, etc...

[2021-06-29 17:53] ushahid commented on #7233
@awaelchli I have noticed that the batch indices passed to the 8 GPUs are different for DP and DDP, I have shuffling enabled for training, isn't pytorch lightning ensuring that for every step the same indices get passed to GPUs? If yes, then what can possibly be wrong in my setup?

[2021-06-29 17:59] zcain117 commented on #8183
Regarding my previous comment about Colab: I realized that cell I shared was probably using just 1 core. So I tried editing https://github.com/pytorch/xla/blob/master/test/test_train_mp_mnist.py so that it creates `torch.zeros([256, 8192], device=device)` during training. It is able to run with no issue. So I think this is not a problem for plain pytorch/xla even in 8-core case.

Regarding your qu

[2021-06-29 18:02] zcain117 commented on #8183
ah actually you'd also need to change the decoder so that it produces a final output `x_hat` that's the same shape as `x`. Otherwise the loss computation will probably crash: `loss = F.mse_loss(x_hat, x)`

[2021-06-29 18:15] zcain117 commented on #8183
so you could use this for the encoder/decoder if you want training to proceed:

[code]

just tried on single core (still including the large `torch.zeros`) and it's able to train either with `batch_size=6` or with `batch_size=1`. 8-core still hangs at the `torch.zeros` call, even when using `batch_size=1`

[2021-06-29 18:53] kaushikb11 commented on #8183
@zcain117 Thanks for the update! I tested it, and it does work for single TPU core, but I do get this message at the end of the training (batch_size=6)
[code]

[2021-06-29 19:02] zcain117 commented on #8183
right, that's just a warning from `tcmalloc`. I tried both `tcmalloc` (which is preinstalled on the TPUVM) and a different malloc implementation (which you can try by running `unset LD_PRELOAD`) and both result in hanging

[2021-06-29 19:19] kaushikb11 commented on #8183
@zcain117 You would need to call `myzeros = torch.zeros([256, 8192], device=self.device)` inside the methods. It would work as expected!

[2021-06-29 19:36] ysig opened #8204 "training_epoch_end is not computed at the end of epoch"
## 🐛 Bug

Hi, I see a very simple bug in the implementation of `training_epoch_end`.
Precisely it is computed close to the end of the epoch, but not in the end, as in the following:
![image](https://user-images.githubusercontent.com/28439529/123856441-c52ed780-d929-11eb-81a0-24952934f6e3.png)
(Compute prints the inputs that have been seen until then which is batch-size\*3241 (where batch-size 2) a

[2021-06-29 20:13] carmocca commented on #8185
Sounds fair.

Do you think the handler list should be an optional init argument of the class? Where we add the tensorboard handler automatically if necessary?

[2021-06-29 20:19] carmocca commented on #8204
How are you observing this exactly?

is the `print(COMPUTE!, ...)` statement in your `training_epoch_end` function and you are making this assumption because the progress bar is not full?

Keep in mind that the progress bar includes both the training and validation progress.

Unrelated, but you might be interested in upstreaming you Metric to resolve https://github.com/PyTorchLightning/metrics/iss

[2021-06-29 20:57] ysig commented on #8204
Hi,

thank you for your answer.
I don't think it is a problem with my metric.
`print(COMPUTE!, ...)` is called in `self.metrics.compute()` which itself is called on `training_epoch_end`.

Ah ok, then I was probably confused because of that.
But this is misleading:
It would be better if you updated the tqdm description of the Epoch progress bar from `train` to `val` instead of just adding a nested

[2021-06-29 21:38] carmocca commented on #8204
That this design fits better when validation runs at any point of the training epoch (and/or multiple times). It allows you to see the full progress of the fit epoch (train + validation)

If you would like to, you can open a PR changing it so the progress bar description is updated when the stage changes

[2021-06-29 21:38] #8204 closed

[2021-06-29 21:39] #8183 closed

[2021-06-29 21:59] ananthsub commented on #5485
I'd like to better understand the central assumptions in the issue:

Is this more about what Lightning can do in designing its interfaces to be more testable? Or to provide out of the box testing utilities for users?

I agree with the former: Lightning as a framework should be easily testable (unit/integration/etc) in the context of user applications. This is also needed from the core library POV

[2021-06-29 22:03] zcain117 commented on #8183
Thanks, that works!

I previously tried `torch.zeros([256, 8192], device=x.device)` where `x` was another tensor that was already on TPU. That version I still couldn't get working.

But `device=self.device` seems to work, so that's all I need

[2021-06-29 22:13] jamarju commented on #8190
Addendum: on a single GPU model checkpointing behaves properly. The above problem shows specifically on multi-GPU + ddp.

[2021-06-30 00:07] awaelchli commented on #7233
Hmm, isn't this expected, considering the way DP handles data vs DDP is quite different.
DP splits a single batch in N pieces, then sends each part to a GPU.
DDP on the other hand partition all samples beforehand evenly across all processes, so each GPU/process sees a split of the dataset and then forms the batches.

We cannot directly compare the sampling process here.

[2021-06-30 00:24] #8105 closed

[2021-06-30 00:30] kevinNejad opened #8210 "Trainer overwrite max_epoch when max_time is specified"
## 🚀 Feature
Currently, the Trainer terminates at max_epoch (1000) even if the max_time is specified. Even if min_epoch is set to be greater than 1000, the Trainer should either overwrite the max_epoch value, or the documentation should state that min_epoch is only applicable if early_stopping is enabled. It could also throw warning when min_epoch is set while early_stopping is disabled.

### Moti

[2021-06-30 00:31] ushahid commented on #7233
@awaelchli that makes sense, I was wondering if that would effect the results when used in combination with dropout I also tried removing dropout from the model and removed layer norm as well but the results are unfortunately still inconsistent.

[2021-06-30 03:18] HuangDihe opened #8214 "init.cc:1256 NCCL WARN Your program may be hanging, after validation. how to fix it"
when i run my code in one gpu, it seems ok.
when i run my code in multi gpus, it's training is ok but the nccl error occur after validation and saving model
![image](https://user-images.githubusercontent.com/32172150/123896718-a6195f80-d994-11eb-8291-aeb099174991.png)
how should i fix it?

[2021-06-30 03:20] HuangDihe commented on #8214
[0] init.cc:1256 NCCL WARN Your program may be hanging, this may be caused by a collective mismatch around rank 1. Please check your collective calls at and around this rank. You can use NCCL_DEBUG=INFO and NCCL_DEBUG_SUBSYS=COLL to see the collective logs

[2021-06-30 03:57] ananthsub commented on #8118
This would mean creating (# of plugins x # of checkpoint agent implementations) for the plugin though.

I wonder if we could create this interface as a new type of Plugin, e.g. rename `CheckpointAgent` instead of `CheckpointAgent` .

Then we could bind the plugin to the trainer on trainer construction, or default to the fsspec-based plugin if none are passed in.

From the checkpoint connector, we

[2021-06-30 04:07] ananthsub commented on #8210
@awaelchli - should we pass `max_time` to the fit loop constructor and skip setting the default of `max_epochs` if `max_time is not None`?

https://github.com/PyTorchLightning/pytorch-lightning/blob/4af8eff0a13309b2e030c423db91156b1e869fac/pytorch_lightning/loops/fit_loop.py#L51

This also raises what the default should be if no stopping condition is passed to the trainer (e.g. no max steps / max

[2021-06-30 04:36] ananthsub commented on #8126
@GuillaumeTong - I believe this issue is highlighting 2 different requests:

1. Saving the checkpoint at the end of training (e.g. `on_fit_end` or `on_train_end`) - This I believe we should do in the ModelCheckpoint callback if `save_last=True`. https://github.com/PyTorchLightning/pytorch-lightning/pull/6671 started this but we held off for progress tracking items (@carmocca @awaelchli should we r

[2021-06-30 04:55] akihironitta commented on #7666
@oplatek Jumping to the source code in the docs (which is the same as the PyTorch docs) isn't enough for you? e.g. https://pytorch-lightning.readthedocs.io/en/latest/_modules/pytorch_lightning/callbacks/base.html#Callback

[2021-06-30 06:58] ido-greenfeld opened #8215 "Memory leak when logging validation metrics outside of validation_step"
## 🐛 Bug

I was facing a weird memory issue.
I train a segmentation model with two different configurations.

The first -
- Image size 256X256
- Batch size 120
- 4 GPUs
The second -
- Image size 512X512
- Batch size 16
- 4 GPUs

The first configuration runs flawlessly. I run it for 30 epochs and the memory on each GPU remains constant.
On the second configuration however, I manage to run the train

[2021-06-30 07:10] ethanwharris commented on #8215
@ido-greenfeld thanks for the issue! Are you able to provide some example code that caused the error in addition to the example code that worked? Can I ask how you are tracking the validation progress? Since we track both training steps and validation steps on a single progress bar, is it possible that the spike is actually occuring at the beginning of validation?

[2021-06-30 07:22] oplatek commented on #7666
@akihironitta do not take it as a criticism ... it is a nice feature for sure! Just want more always :)

However, linking directly to GitHub would be really awesome for several use-cases I use very frequently:
1. exploring history on GitHub and comparing it with my version to debug the differences
2. GitHub supports jumps to references / jump to definitions - one can use a web browser almost like

[2021-06-30 08:13] akihironitta opened #8219 "[RFC][docs] Add links to source code on GitHub"
## 📚 Documentation
linking directly to GitHub would be really awesome for several use-cases I use very frequently:
1. exploring history on GitHub and comparing it with my version to debug the differences
2. GitHub supports jumps to references / jump to definitions - one can use a web browser almost like an IDE.

When I am thinking about it would be enough to put a single link to a python module/fi

[2021-06-30 08:17] akihironitta commented on #8219
@oplatek Thank you for your suggestion! I believe that would be very useful!

[2021-06-30 08:18] GeorgeQ-Q commented on #8125
[boringModel](https://colab.research.google.com/drive/1k8mFylDeFAwWmF2dB_XxW9a2XlU0OqUw?usp=sharing)

This is the best I can do, since colab do not support ddp

Best,
G

[2021-06-30 08:29] ido-greenfeld commented on #8215
hi @ethanwharris ,
This is my lightningModule with the issue -

[code]

And this is the code without the issue -

[code]

Notice the changes of where I log the metrics in the validation stage.
My data are segmentation images and masks.

As for how I'm tracking the validation progress - I was debugging the progress in PyCharm, I managed to find the appx validation step where this issue happens and

[2021-06-30 08:37] ethanwharris commented on #8215
Hi @ido-greenfeld thanks for providing the scripts :smiley:

Yes, sorry, that's correct

Can I ask what pytorch-lightning version you are using? There were some recent improvements around logging and memory consumption, could you check that the issue is still there when installing from master?
[code]

[2021-06-30 08:45] Troublem1 commented on #839
Hi @GabrielePicco can you please explain what  the instantiator class does as it takes task and the data model datasets?

If possible the sharing the code snippet would be helpful thanks

[2021-06-30 09:11] GabrielePicco commented on #839
@Troublem1 instantiator is just an object for creating model and training instances from hydra configuration, you can find the implementation here: https://github.com/PyTorchLightning/lightning-transformers/blob/master/lightning_transformers/core/instantiator.py

you can replace the two rows with normale instance creation:

[code]

[2021-06-30 09:11] GabrielePicco commented on #839
@Troublem1 instantiator is just an object for creating model and training instances from hydra configuration, you can find the implementation here: https://github.com/PyTorchLightning/lightning-transformers/blob/master/lightning_transformers/core/instantiator.py

you can replace the two rows with normale instance creation:

[code]

[2021-06-30 09:12] gaoteng-git opened #8222 "Profiler usage has problem"
## 🐛 Bug

When I run the PyTorch lightning example code [profiler_example.py](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/basic_examples/profiler_example.py), the ProfilerStep# and Optimizer.step overlaps, which is not expected behavior.
![image](https://user-images.githubusercontent.com/10429114/123927295-484e3d00-d9bf-11eb-9c6c-c68191e039ef.png)

The current une

[2021-06-30 09:29] awaelchli commented on #8190
are you logging `val_loss` with `sync_dist=True`?

[2021-06-30 09:57] #8178 closed

[2021-06-30 10:15] carmocca commented on #8126
Not yet but soon as progress tracking is not yet integrated.

@tchaton added #8167 for this

[2021-06-30 13:29] tchaton commented on #8118
Hey @ananthsub, I think this won't work for DeepSpeed as it needs to actually save the checkpoint to file system.

But could we have this API ? @SeanNaren

[code]

[2021-06-30 13:56] SeanNaren commented on #8118
I see a main goal here to make checkpointing extendable in one place, rather than the current separation across classes (correct me if I'm wrong).

Firstly I'm for the TrainingTypePlugin to own this checkpoint plugin. However if a user passes a checkpoint plugin to the trainer, what should be the appropriate action? Replace the checkpoint plugin regardless of the TrainingTypePlugin chosen? This wo

[2021-06-30 16:25] #8033 closed

[2021-06-30 16:59] shrinath-suresh opened #8227 "torch.save with ddp accelerator throwing RuntimeError: Tensors must be CUDA and dense"
## 🐛 Bug

Model saving using `torch.save` not working with ddp accelerator.

### To Reproduce

https://github.com/mlflow/mlflow-torchserve/blob/master/examples/IrisClassification/iris_classification.py

The above mentioned example trains the Iris Classification model.

Dependent packages:
[code]
Run the example using the following command

`python iris_classification.py --max_epochs 30 --gpus 1 --

[2021-06-30 17:11] ethanwharris commented on #8227
Hi @shrinath-suresh thanks for reporting this. @Borda @awaelchli Is this related to (or maybe fixed by) ongoing changes with torch metrics?

[2021-06-30 17:54] mleshen commented on #8043
Hi @awaelchli!

Sorry for the late response, and thanks so much for your suggestion. I tried this out and we get an error with model.load_state_dict because the checkpoint file to be loaded has already been wrapped in FSDP and thus we get some KeyErrors:
`Missing key(s) in state_dict: "model._fsdp_wrapped_module.flat_param", "model._fsdp_wrapped_module._fpw_module.encoder.transformer._fsdp_wrapped

[2021-06-30 18:20] rahumble opened #8228 "Option of doing optimizer.zero_grad(set_to_none=True) with accumulate_grad_batches > 1"
## 🚀 Feature
An option to set gradients to None instead of zero, while also setting `accumulate_grad_batches > 1`. There might be other incompatible `Trainer` flags that I'm not aware of.

### Motivation
Training Speed improvements.

See #6534 for a previous discussion on how to do this for a simpler training situation.

### Pitch

If I have
[code]
and
[code]
I get
```pytorch_lightning.utilities.e

[2021-06-30 18:20] awaelchli commented on #8227
Could be yes.
Let's try to run this example against the PR https://github.com/PyTorchLightning/metrics/pull/334

But one important note about your code:
You have `torch.save()` at the end of the script. When using ddp here, you will ask each process to save the object to the same file on the filesystem. Chances are high that you will run into problems there because multiple processes can't save to

[2021-06-30 18:31] ananthsub commented on #8118
Deepspeed is a special case since checkpointing is baked into the deepspeed engine. In this case, we could raise a warning or exception if the checkpoint plugin is incompatible with the training type, but the training type should retain this flexibility. This would mean the validation for compatibility & final behavior of whether to use the plugin is still determined by the training type.

In many

[2021-06-30 18:44] chauhang commented on #8227
@awaelchli Still seeing same problem with PTL=1.3.7 and metrics installed from fix_metric branch. Further the system hangs if --gpus is set to value > 1

`$ pip freeze | grep torch

pytorch-lightning==1.3.7
torch==1.9.0
torchaudio==0.9.0a0+33b2469
-e git+https://github.com/PyTorchLightning/metrics.git@f720bb2a4f3a70ce6b4ec5dd0ce2ccf16c785a8b#egg=torchmetrics
torchvision==0.10.0`

[2021-06-30 19:29] Darkev77 commented on #2106
I have recently been attempting to run pytorch on GoogleColab with "tpu_cores=8" on torch version (_1.9.0+cu102_), but I was getting the following error: `ProcessExitedException: process 0 terminated with exit code 17 site:stackoverflow.com`. However, using a single TPU cores works (extremely slow). Any idea what's going on?

[2021-06-30 19:45] awaelchli commented on #8227
Yes, can reproduce.
The issue comes from the newly introduced sync function in torchmetrics, where it is using `torch.distirbuted.all_gather`. But this does not work if the model is on CPU and the distributed backend is initialized for GPU.

Your temporary workaround until we fix the issue in torchmetrics:
`torch.save(model.to(trainer.accelerator.root_device).state_dict(), "iris.pt")`

As per my p

[2021-06-30 19:46] awaelchli commented on #8227
@tchaton we need to find a solution for `all_gather` in the sync function, as it will only work if the module is on the correct device.

[2021-06-30 21:00] ushahid commented on #7233
@awaelchli Another thing I noticed is that I get multiple loss values in the DP mode in training_step_end, I don't see a mention of that in the documentation but it is understandable why it is happening. I then average it in the case of DP as follows:

[code]

I am assuming backward is called on this average, is this expected and normal?

[2021-06-30 21:16] chauhang commented on #8227
Thanks @awaelchli The workaround works for 1 gpu, but training is still hanging if gpus > 1

[ddp-4gpu.txt](https://github.com/PyTorchLightning/pytorch-lightning/files/6744055/ddp-4gpu.txt)

[2021-06-30 21:22] awaelchli commented on #8227
Yes sorry, forgot to say one has to use PL master or PL 1.3.8 which will be released tomorrow.

[2021-06-30 21:52] #7672 closed

[2021-06-30 22:03] awaelchli commented on #7233
as far as I know, the dropout would not affect this. each gpu will use the same starting seed so all dropout masks will be the same across gpus of a single training step. In both DDP and DP. I am not 100% sure but I will try to verify it.

Yes expected and normal. See torch [DataParallel](https://pytorch.org/docs/stable/generated/torch.nn.DataParallel.html?highlight=dataparallel#torch.nn.DataParal

[2021-06-30 22:46] edenlightning commented on #8227
See https://github.com/PyTorchLightning/metrics/pull/334 for the fix

[2021-06-30 22:52] edenlightning commented on #5023
@Borda mind updating this?

[2021-06-30 22:53] edenlightning commented on #6935
@carmocca is this fixed?

[2021-06-30 22:54] edenlightning commented on #7427
@Borda mind taking a look?

[2021-06-30 22:55] edenlightning commented on #7377
@awaelchli whats the status of this fix?

[2021-06-30 22:59] #3192 closed

[2021-06-30 23:03] edenlightning commented on #4335
@carmocca what is left TODO here?

[2021-06-30 23:03] #4399 closed

[2021-06-30 23:04] edenlightning commented on #4502
@Borda relevant?

[2021-06-30 23:05] awaelchli commented on #7377
Limbo.

Many hours invested into the linked PR. The new implementation seems to use more memory when compared to pure pytorch. We cannot maintain memory parity. Need to get this right.

[2021-06-30 23:08] edenlightning commented on #4866
@awaelchli status?

[2021-06-30 23:08] edenlightning commented on #4950
@Borda status?

[2021-06-30 23:10] edenlightning commented on #5413
@kaushikb11 what is left TODO here?

[2021-07-01 00:34] chauhang commented on #8227
@awaelchli Same error for gpu > 2 even on the master branch. Training hangs and does not exit

[code]

[2021-07-01 00:57] awaelchli commented on #8227
@chauhang I'm realizing now that you are actually not the OP who reported the issue. My statements are all for the original author and I'm using their code and their command to verify that it works with ddp gpus>2.

Please open a separate issue with your problem and code. Thank you for your understanding.

[2021-07-01 02:46] #7662 closed

[2021-07-01 03:15] gahdritz commented on #8157
@tchaton the PR is done. Let me know if you think it adequately addresses this issue.

[2021-07-01 05:45] chauhang commented on #8227
@awaelchli We are working on the same project and using the same code things are not working on gpus > 2 for DDP. @shrinath-suresh will work with @tchaton on the PyTorch Slack channel to get the issues resolved for our project

[2021-07-01 06:18] BarclayII opened #8230 "[Feature Request] Support forking for DDP"
## 🚀 Feature
PyTorch Lightning DDP uses `spawn` for creating trainer processes for each GPU.  This issue is a request to allow creating with forking instead.

### Motivation
This feature request is primarily motivated by training graph neural networks for node classification/link prediction on a large graph.  A common strategy is to load the entire graph into CPU memory (if the CPU memory can hold

[2021-07-01 06:54] #4502 closed

[2021-07-01 06:54] Borda commented on #5023
@tchaton ?

[2021-07-01 06:58] Borda commented on #4950
was done :]

[2021-07-01 06:58] #4950 closed

[2021-07-01 08:07] chengjiali commented on #5969
I have the same error. Is it solved?

[2021-07-01 08:35] tchaton commented on #8227
Hey @chauhang @shrinath-suresh,

There is a fix on this branch for TorchMetrics: https://github.com/PyTorchLightning/metrics/pull/339.

Mind trying it ?

[2021-07-01 10:51] shrinath-suresh commented on #8227
Tested with the fix branch.

Both single gpu + ddp

`python iris_classification.py --max_epochs 10 --gpus 1 --accelerator ddp`

and multi gpu + ddp

`python iris_classification.py --max_epochs 10 --gpus 2 --accelerator ddp`

are working as expected
[iris_classification_multi_gpu_ddp.txt](https://github.com/PyTorchLightning/pytorch-lightning/files/6747567/iris_classification_multi_gpu_ddp.txt)
[iri

[2021-07-01 11:12] tgisaturday commented on #7912
@kaushikb11 I've resolved single tpu vm issue with the help from #8183. I'm still trying to solve logging issue with TPU VM Pod. With my revised taming-transformers-tpu code, The progress bar doesn't appear at all. Since the trainer itself works this seems to be progress bar logging issue with distributed training on tpu vm pod. Any suggestions on where to start looking with pytorch-lightning repo

[2021-07-01 11:21] kaushikb11 commented on #7912
@tgisaturday Yup, I took a look into it. The issue is that the progress bar only appears after it's finished. It's not exactly Lightning but tqdm specific, but we need to figure it out.

Here, you could see how `pytorch_xla.distributed` streams logs from different vms to the master worker.
https://github.com/pytorch/xla/blob/master/torch_xla/distributed/xla_dist.py#L140

Guessing, it doesn't play

[2021-07-01 11:55] awaelchli commented on #8227
@shrinath-suresh I added device_ids in #8165 and this warning will disappear. It only shows for torch > 1.8.
Let me know if that helps.

[2021-07-01 14:08] NathanGrimaud opened #8236 "training hangs when using PyTorchProfiler with torch 1.9.0+cu111"
## 🐛 Bug

I found something strange with pytorch_lightning and pytorch profilers Running on pytorch 1.9 with cuda11 the training will hang just after the first epoch have started I'have 2 gpus on my machine: rtx2060 & rtx3070

## Please reproduce using the BoringModel
https://github.com/NathanGrimaud/torch_profiler_bug

### To Reproduce

Because it looks to be related to the hardware i'm using i'm

[2021-07-01 15:46] shrinath-suresh commented on #8227
@awaelchli @tchaton

@tchaton @awaelchli Will this ddp fix be part of 1.3.8 pytorch lightning release ?

[2021-07-01 17:16] ananthsub commented on #8230
@BarclayII - does https://pytorch.org/docs/stable/elastic/run.html with `--start_method=fork` work for you?

[2021-07-01 17:21] edenlightning opened #8243 "Update torchelstic docs in Lightning"
TorchElastic is now upstream, part of torch.distributed.
We need to update [our docs](https://pytorch-lightning.readthedocs.io/en/stable/advanced/multi_gpu.html?highlight=elastic#torchelastic) with the new comands and point to their [new docs](https://pytorch.org/docs/stable/distributed.elastic.html).

They plan on keeping support for etcd, but it is recommended to use the native c10d instead

cc

[2021-07-01 17:49] kiukchung commented on #8230
Here's the documentation for running lightning trainers with torchelastic: https://pytorch-lightning.readthedocs.io/en/stable/advanced/multi_gpu.html#torchelastic

its a bit outdated since it points to the torchelastic docs page but as of torch-1.9.0 torchelastic has been upstreamed to torch.distributed. If you are still using torch<1.9.0 then you need to `pip install torchelastic-0.2.2` separatel

[2021-07-01 17:55] BeyondTheProof commented on #2210
Can you think of a good workaround for the multiclass scenario? I'm running into an issue where there are classes that are very rare.

In the case of 0 observations, I feel the `average='weighted'` should work, since the contribution to the final AUROC should be 0 regardless. One can think of other scenarios where there are a very high number of classes, some of which will happen to not be seen in

[2021-07-01 17:57] BeyondTheProof opened #8246 "[metrics] AUROC Metric cant handle 0 observations of a class with multiclass classifier"
I'm attempting to calculate AUROC for a multiclass problem where some classes are very rare, occasionally never seen, and I'm getting the following error: `raise ValueError("No positive samples in targets, true positive value should be meaningless")`

In the case of 0 observations, I feel the `average='weighted'` should work, since the contribution to the final AUROC should be 0 regardless. One ca

[2021-07-01 18:10] yifuwang commented on #8230
For the purpose @BarclayII described, it seems that you need to fork halfway into the user program. The torch elastic cli approach forks the user program from beginning.

[2021-07-01 18:35] #7694 closed

[2021-07-01 19:13] griff4692 commented on #8125
following this as I am having the same issue :(

[2021-07-01 19:25] edenlightning commented on #7880
@tchaton Is this a lightning issue?

[2021-07-01 19:31] Borda commented on #5328
done :rabbit:

[2021-07-01 19:31] #5328 closed

[2021-07-01 19:31] edenlightning commented on #7847
Please feel free to reopen with a reproducible script!

[2021-07-01 19:31] #7847 closed

[2021-07-01 19:36] edenlightning commented on #7003
hey @tmbdev friendly ping :)

[2021-07-01 19:46] kaushikb11 commented on #7817
Hi @sualehasif, are you still facing the issue? As @awaelchli mentioned there was a fix merged recently regarding memory allocation to the first index GPU.

Do give it a try again and would like to know the `CUDACallback` numbers as well.

[2021-07-01 19:53] kiukchung commented on #8230
yea if there is some preprocessing to load the graph into memory before hitting `Trainer(gpus=8, accelerator="ddp_fork")` then elastic won't help.  We've actually thought about taking a preprocess_fn as a config to the elastic agent for these kind of use-cases where there is a per-node heavy preprocessing.

[2021-07-01 20:01] #6840 closed

[2021-07-01 20:07] edenlightning commented on #6782
feel free to reopen with a link!

[2021-07-01 20:07] #6782 closed

[2021-07-01 20:11] #6143 closed

[2021-07-01 20:18] #5772 closed

[2021-07-01 20:18] #5624 closed

[2021-07-01 20:22] edenlightning commented on #6295
sorry for the late reply, @vatch123 would be great if you can tackle this! @kaushikb11 can prob help.

[2021-07-01 20:29] edenlightning commented on #6346
@rohitgr7 firendly ping?

[2021-07-01 20:42] Borda commented on #6094
just feel that using `val` may collide with a shortcut for value... :confused:

[2021-07-01 20:56] awaelchli commented on #8227
device_ids  #8165 ddp fix is in 1.3.8 yes, released today.

The PyTorchLightning/metrics#339 is in the rc release it looks like: https://github.com/PyTorchLightning/metrics/releases

[2021-07-01 21:18] carmocca commented on #6470
Status update. There are 2 things going on here:

1. The main point of the OP. This is to restore the global step on trainer init, not on fit start. This can be considered a feature request. No progress has been made here and it's not entirely clear whether this is possible as the full checkpoint state needs the accelerators to be initialized to restore it. Could explore an approach where only the

[2021-07-01 21:30] carmocca commented on #6935
#8116 might have fixed the ones marked as "flaky test". Need to check if that's the case but I'm sure the rest are still failing

[2021-07-01 21:36] carmocca commented on #4335
To implement the split described in https://github.com/PyTorchLightning/pytorch-lightning/issues/4335#issuecomment-716051864

Which would clarify the arguments, simplify the code, and facilitate custom `ModelCheckpoint` extensions

[2021-07-01 21:41] carmocca commented on #6094
All cases are `val_something`, not just `val`

[2021-07-01 22:04] BeyondTheProof commented on #8246
I've found a hack for this by subclassing AUROC:
[code]

I will be making a cleaner fix in torch and asking for a PR

[2021-07-01 22:17] #8243 closed

[2021-07-01 22:47] adobles96 commented on #8175
Nvm, one of the metrics I was logging had NaN values, which tensorboard has no representation for in the hparams tab. Closing.

[2021-07-01 22:47] #8175 closed

[2021-07-02 00:06] anil-bit commented on #4070
@ nickums did you find the solution for this?

[2021-07-02 01:11] dave-epstein commented on #3494
Maybe I'm missing something here but I didn't find a release where this commit was added. Has it just not been incorporated yet?

Thanks!

[2021-07-02 01:12] awaelchli commented on #3494
This is a new feature that will be available with 1.4.
The 1.3.x releases contain bugfixes, but no new features.

[2021-07-02 01:15] dave-epstein commented on #3494
Makes sense. Thanks :)

[2021-07-02 02:31] cyr0930 commented on #3305
It could be a nice feature

[2021-07-02 04:05] awaelchli commented on #8043
Thank you @mleshen.

So are you saying the model has already been wrapped? Can you let me know in which hook of LightningModule you are performing the wrapping? Ideally this should happen in [LightningModule.configure_sharded_model](https://pytorch-lightning.readthedocs.io/en/latest/advanced/advanced_gpu.html#wrap-the-model)

[2021-07-02 04:45] #7490 closed

[2021-07-02 07:05] jamarju commented on #8190
No. I will try that and report back. Thank you.

[2021-07-02 07:19] kaushikb11 opened #8255 "Implement Rich ProgressBar"
## 🚀 Feature

Rich ProgressBar Integration

Github: https://github.com/willmcgugan/rich
Related PR: https://github.com/PyTorchLightning/pytorch-lightning/pull/5500

[2021-07-02 07:24] Borda commented on #8255
@tchaton has this one https://github.com/PyTorchLightning/pytorch-lightning/tree/rich_logging

[2021-07-02 08:13] choieq commented on #7817
What is meaning of this sentence??
The effective batch size is batch size * num_gpus ?

Could you explain that?

[2021-07-02 08:37] nickums commented on #4070
afraid not, I'm stuck. Trying to stick to torch due to troubles with tensorflow-gpu

[2021-07-02 09:10] SeanNaren commented on #6470
Thanks @carmocca, I agree with you! Making the change to load the checkpoint state via the Trainer before training begins is difficult. We assume state will be restored on fit currently and it wouldn't be wise to change this (as based on different plugins, loading behaviour changes).

I think the workaround of having to load the state dictionary to obtain the global step is a reasonable workaround

[2021-07-02 09:20] ZJX-CV commented on #5103
If we use this function，will params be saved in ckpt file automatically？

[2021-07-02 09:49] Borda opened #8257 "Failed fit after tune for betch size"
## 🐛 Bug

Run CLI with tune batch size first

[code]
results in OOM at the fit beginning
the estimated size is 64 (which is correct)
when I run just fit with set 64 it works fine

[code]

### To Reproduce

code is from https://github.com/Borda/kaggle_plant-pathology

### Environment

**Note**: `Bugs with code` are solved faster ! `Colab Notebook` should be made `public` !
[code]
### Additional con

[2021-07-02 10:21] awaelchli commented on #4866
It is very tricky for DDP here. The initial "fix" I had in mind won't work with the examples provided here.
The problem is that there we have several trainers run sequentially, but Lightning can't know if the current trainer is the very first one in the script or if we had already run one.

The following two situations:
A)

[code]

B)
[code]

From the perspective of Lighting on a per process scoop

[2021-07-02 11:00] #6121 closed

[2021-07-02 12:07] sidml commented on #6122
@rudaoshi
Did you figure out how to do this ?

[2021-07-02 12:41] Borda opened #8261 "CLI: instantiate return objects"
## 🚀 Feature

while working with Tuner I found it quite useful to great multiple copies of the same model or data, so for I would extend and feel it is quite natures of all methods `instantiate_`

### Motivation

get more freedom to customize user scripts

### Pitch

### Alternatives

[code]

### Additional context

[2021-07-02 13:21] tasptz opened #8262 "LightningCLI does not accept DDPPlugin as trainer argument"
## 🐛 Bug

LightningCLI does not accept DDPPlugin as trainer argument

Code:
[code]

Error:
[code]
## Expected

Accept the argument as described in
https://pytorch-lightning.readthedocs.io/en/stable/benchmarking/performance.html#when-using-ddp-set-find-unused-parameters-false

## Colab example

https://colab.research.google.com/drive/1MuOcvfWoujaU76jvtU85Y6jXSRnLLyHF?usp=sharing

### Environment

*

[2021-07-02 13:52] #7707 closed

[2021-07-02 13:52] #7691 closed

[2021-07-02 14:49] MirMustafaAli commented on #8135
Hi @tchaton ,
Can i work on this issue as it is labelled as _good first issue_. ?

[2021-07-02 15:12] amoshyc commented on #8135
Sorry for the late reply. I'm so busy doing my research. I haven't have time to fix it.
The last time I check the code, it seems that the bug is [here](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/loops/batch/training_batch_loop.py#L441-L453) and someone already notice it.
But I'm not quite sure. I'm not working on it.

[2021-07-02 15:21] pquadri commented on #4536
can i take this as first issue?

[2021-07-02 17:12] seannz commented on #4395
This fix seems to be broken in the latest master (commit 0e19d16ca6f19e13bc7721f48d16ab6584fe1275) with the metrics summed across GPUs rather than averaged. Works correctly in 1.3.8.

[2021-07-02 17:20] carmocca commented on #8228
Hi!

This constraint has been relaxed so it's possible to override the hook in master. A warning is printed now.

Done in #7980

[2021-07-02 17:20] #8228 closed

[2021-07-03 01:57] #7695 closed

[2021-07-03 01:58] #7696 closed

[2021-07-03 12:14] nicolas-dufour opened #8268 "Load model from previous git commit"
## 🚀 Feature

Being able to load a model from a given git commit.

### Motivation

The idea is to been able to load a model even if the codebase of the model have evolved since we trained that model. This would allow for better retrocompatibility in a developement phase and allow to think of the model more freely without having in mind compatibility issues

### Pitch

The idea is that when calling

[2021-07-03 13:02] karthikrangasai commented on #8255
Is someone working on this issue ?

[2021-07-03 13:07] kaushikb11 commented on #8255
@karthikrangasai Yup, will get started with it.

[2021-07-03 13:11] karthikrangasai commented on #8255
Oh okay.

[2021-07-03 14:29] Kaviarasan-R commented on #4454
Solution : return {'optimizer': optimizer,
'scheduler':scheduler,'monitor':"metric_to_track",}

[2021-07-03 17:49] ishandutta0098 opened #8269 "TypeError: val_dataloader() missing 1 required positional argument: 'self'"
## 🐛 Bug

I am working on an Image Classification Task with PyTorch Lightning. However I get a `TypeError` while implementing it. I have created the datamodule and model as shown in the PyTorch Lightning examples. The model I am using is `VGG16` with Batch Normalization.

In the `FruitsDataModule` I get the error only for the `val_dataloader` and not for the `train_dataloader` which is confusing b

[2021-07-03 18:35] Abhishek-Prajapat opened #8270 "TPU example from https://pytorch-lightning.readthedocs.io/en/stable/advanced/tpu.html not working"
## 🐛 Bug

## Please reproduce using this notebook

https://colab.research.google.com/drive/1JaRZK6PsqOtyMINeng_EwD7KlHxxL-Ft?usp=sharing

### Expected behavior

The Import of pl should have been successful.

### Environment

Cause of the above-mentioned error I can't execute the environment script.

[2021-07-03 20:13] kaushikb11 commented on #8270
@Abhishek-Prajapat I ran the cells in your linked notebook. It worked! Give it a try again!

[2021-07-03 20:40] Abhishek-Prajapat commented on #8270
I think there was some issue with the PyTorch version. I upgraded the PyTorch version and now it's working.

[2021-07-03 20:40] #8270 closed

[2021-07-03 21:13] #8047 closed

[2021-07-03 23:16] awaelchli commented on #8269
Change

`trainer.fit(model, datamodule = FruitsDataModule)
`
to

`trainer.fit(model, datamodule = FruitsDataModule())
`
maybe?

Your code is not runnable, it is missing all imports.

[2021-07-04 05:49] ishandutta0098 commented on #8269
@awaelchli I tried this, but it did not work. I have edited my issue and have included all the `imports` and `config` as well.

[2021-07-04 05:55] ido-greenfeld commented on #8215
Hi @ethanwharris sorry for the late reply
I'm using pytorch-lightning version 1.3.5
I'll try and recreate the issue on master but it might take some time

[2021-07-04 06:10] akihironitta commented on #8269
@ishandutta0098 Are you sure that it doesn't work for the same error? With @awaelchli's fix, it seems to work now.

<details>
<summary>full script</summary>

[code]

</details>

<details>
<summary>full stack traces</summary>

[code]

[2021-07-04 10:21] awaelchli opened #8272 "make DataModule compatible with Python dataclass"
## 🚀 Feature

Support the following:

[code]

### Motivation

To reduce boilerplate code is at the core of philosophy in Lightning. It should be compatible with dataclasses.

### Code sample

Here is an example. It currently does not work as we have some internal attributes that don't play well with the dataclass.

[code]

### Alternatives

#3792 introduces `save_hyperparameters()` for the datamod

[2021-07-04 10:41] awaelchli opened #8273 "false positives with `is_overridden` on DataModule hooks"
## 🐛 Bug

### To Reproduce

[code]

The call to `is_overridden` for this hook is used in https://github.com/PyTorchLightning/pytorch-lightning/blob/8193bae6bde378e137ab07eb916a4cb515ecbace/pytorch_lightning/trainer/connectors/data_connector.py#L62

### Expected behavior

Assertion holds true.

### Additional context

It is also the case in 1.3.x.

[2021-07-04 18:43] QueshAnmak commented on #8272
Hi, I would like to work on this issue, could you please assign it to me?

[2021-07-04 18:56] collinmccarthy opened #8278 "Check early stopping during pre-train routine"
## 🚀 Feature
Same as the [discussion here](https://github.com/PyTorchLightning/pytorch-lightning/discussions/6740), I would like the trainer to check the state of the early stopping callback during the pre-train routine, and signal the trainer to stop training before the first training epoch if it should stop according to the early stopping callback state.

### Motivation

When training stops due

[2021-07-04 19:08] awaelchli commented on #8272
Hey! Yes, you can take it if you want. I haven't really had the time to look why it is not working. I don't know how difficult it would be.
Give it a try. We appreciate the help!

[2021-07-04 19:22] kaushikb11 commented on #7984
@mozharovsky Will look into it this week.

[2021-07-04 19:37] QueshAnmak commented on #8272
Hey, Is there any slack or discord server I could join to ask my queries?

[2021-07-04 19:38] awaelchli commented on #8272
Yes, feel free to join the PyTorch Lightning slack: https://join.slack.com/t/pytorch-lightning/shared_invite/zt-pw5v393p-qRaDgEk24~EjiZNBpSQFgQ

[2021-07-05 02:55] #7749 closed

[2021-07-05 03:25] phammanhhiep opened #8281 "RuntimeError: element 0 of tensors does not require grad and does not have a grad_fn"
## 🐛 Bug

I got the error `RuntimeError: element 0 of tensors does not require grad and does not have a grad_fn` when having 2 optimizers (to train a GAN model), and also set option `accumulate_grad_batches` with value greater than 1 in [trainer](https://github.com/PyTorchLightning/pytorch-lightning/blob/d856989120b078581f3f694fd7a1c036703f67a9/pytorch_lightning/trainer/trainer.py). The loss, retu

[2021-07-05 05:05] mauvilsa commented on #8262
With the version of jsonargparse being released today I think this will not fail anymore. However, looking at this I am thinking that there is something that we might want to change related to plugins. Currently `callbacks` has the behavior that when added using `trainer_defaults` they will be persistent. This means if someone provides more plugins in a config file, these are concatenated to the o

[2021-07-05 08:31] #7377 closed

[2021-07-05 11:51] thistlillo commented on #1598
Same problem here, with
torch==1.9.0
pytorch-lightning==1.3.8

[2021-07-05 11:59] #8281 closed

[2021-07-05 12:06] kaushikb11 commented on #7912
Closing this issue, as it has been resolved by #8258 :)

[2021-07-05 12:06] #7912 closed

[2021-07-05 12:07] kaushikb11 commented on #8055
@StephennFernandes Does the training work for Single core?

[2021-07-05 12:08] #7680 closed

[2021-07-05 12:09] kaushikb11 commented on #7680
Duplicate of #8031

[2021-07-05 12:16] #7838 closed

[2021-07-05 12:46] pederismo commented on #3228
I'm doing distributed training, therefore I really appreciate the sync_dist flag in self.log, but I would also like to plot on_epoch with the epochs as x-axis. I think it would be a really cool feature, as manual logging doesn't have sync_dist and many people have requested it!

[2021-07-05 13:40] StephennFernandes commented on #8055
Haven't tested it on TPU single core, but it does work fine on GPU

[2021-07-05 14:42] SkafteNicki commented on #8273
Probably due to the wrapping going on here:
https://github.com/PyTorchLightning/pytorch-lightning/blob/dd340a659818def94468f11aa4fed492e27f3e92/pytorch_lightning/core/datamodule.py#L381-L387

[2021-07-05 16:06] carmocca commented on #8262
Yes, although multiple plugins is much more of a niche usecase

[2021-07-05 17:08] awaelchli commented on #8273
@SkafteNicki thanks for investigating this. Carlos found the fix for it.

[2021-07-05 20:08] #7984 closed

[2021-07-05 20:10] tchaton commented on #8227
Dear @shrinath-suresh,

And the TorchMetrics fixed as been included in v0.4.1rc0.
Do you have any more questions or can we close this issue ?

Best,
T.C

[2021-07-05 23:28] carmocca commented on #8268
So you are proposing that the `checkpoint` saved includes the commit hash of your model code?

We cannot know this inside Lightning, however, you could add this information yourself to the checkpoint for future reproducibility.

Keep in mind that when you call `MyLightingModule.load_from_checkpoint(ckpt)`, you are doing it for a specific `MyLightingModule` code, so it would require to reload the e

[2021-07-05 23:28] #8268 closed

[2021-07-06 01:45] Zasder3 opened #8301 "Multi-Node DDP Freezing Before Training"
## 🐛 Bug

When attempting to train a model on multiple nodes, the script successfully initializes DDP however it fails to actually train the models.

## To Reproduce

File: https://gist.github.com/Zasder3/6b36a0529c5a20c50570006441082d19 The file contains the notebook compiled into a single python file with changes made to the trainer:
[code]
To run simply prepare 2 nodes with the following comman

[2021-07-06 06:39] etetteh opened #8302 "TypeError: training_step_end() missing 1 required positional argument: 'batch_idx'"
My first time using lightning. Basically, I am trying to convert the following code into lightning format:
[code]
What I have done so far is this:
[code]
When I run the code, I get the error:
[code]

[2021-07-06 07:00] tchaton commented on #8135
Dear @MirMustafaAli,

Yes, feel free to work on this one and ping us if you get blocked :)

Best,
T.C

[2021-07-06 07:13] tchaton commented on #8302
Dear @etetteh,

Here is the correct signature for `training_step_end`. It just takes outputs from the `training_step` for you to make more processing on them. `batch_idx` shouldn't be there.

[code]

Small advice. When implementing model with Lightning, use auto-completion from your IDE. It will automatically add the right function signature.

Best,
T.C

[2021-07-06 07:13] #8302 closed

[2021-07-06 07:16] tchaton commented on #8301
Dear @Zasder3,

From first glance, it seems the environment variable are wrong.

[code]

# on node 0
[code]

# on node 1
[code]

Mind trying this ?

[2021-07-06 07:20] tchaton commented on #8278
Dear @collinmccarthy,

Yes, it is an interesting one.
So to sum up, if a checkpoint is generated after EarlyStopping stopped fitting and if you were to reload this checkpoint and call fit again, you would expect only validation to be run right and then stop ?

This makes sense to me.
Would you like to make a contribution ?

I think the cleanest would be save the training state in the checkpoint di

[2021-07-06 07:21] tchaton commented on #8273
Great catch !

[2021-07-06 07:26] FerusAndBeyond opened #8304 "TypeError: super(type, obj): obj must be an instance or subtype of type"
## 🐛 Bug

When editing a file and then rerunning a cell in a jupyter notebook using `autoreload` I get `TypeError: super(type, obj): obj must be an instance or subtype of type` either immediately or after a few reruns for the `pl.LightningModule` class. It's very annoying and I've gotten it multiple times in different projects. I must restart the kernel or sometimes even restart the entire noteboo

[2021-07-06 07:27] tchaton commented on #8262
Yes, only 1 plugin from each type is supported.

[2021-07-06 07:28] tchaton commented on #8262
Dear @tasptz,

From trying with the latest version from `jsonargparse` ?

Best,
T.C

[2021-07-06 07:29] justusschock commented on #8304
Hi @FerusAndBeyond ,

From my view this sounds like a jupyter issue and nothing on our side. However, if you can provide a reproducible example, I would be more then happy to look into it :)

[2021-07-06 07:29] tchaton commented on #8261
Hey @Borda,

Mind giving more context where you found this to be useful ?

Best,
T.C

[2021-07-06 07:39] MirMustafaAli commented on #8135
Thanks

[2021-07-06 07:48] FerusAndBeyond commented on #8304
I've never gotten the issue for any other classes I edit in files aside from pytorch lightning modules.

Put this in a file `pl.py`

[code]

Then open a notebook:

First cell:

[code]

Second cell

[code]

Third cell

[code]

Now run the all cells but stop the kernel in the middle of the training process. Then go into `pl.py` and edit the learning rate in the Adam optimizer and then rerun the last

[2021-07-06 08:21] justusschock commented on #8304
I could reproduce this with the following Notebook:

There are several issue with autoreload having issues with classes when already references of these classes exist like https://github.com/ipython/ipython/issues/11588 and https://github.com/ipython/ipython/issues/12553 .

That being said, I could resolve the error by changing `super(FNN, self).__init__` to `super().__init__`.

However, I still d

[2021-07-06 08:40] #8273 closed

[2021-07-06 09:01] etetteh commented on #8302
Thanks for the advice on the IDE. The idx issue got resolved, but the training_step_end function is not performing the expected job. My goal is to get the loss and y0 from the training_step, to perform the operations under the training_step_end

[2021-07-06 09:07] luozhouyang commented on #5865
Same issue.
pytorch-lightning version `1.3.7post0`

[2021-07-06 09:14] FerusAndBeyond commented on #8304
`super().__init__` works for me too. I will try that in the future, thanks. Alright, I'll close this if it's not pytorch-lightning related.

[2021-07-06 09:14] #8304 closed

[2021-07-06 09:30] awaelchli commented on #8301
yep, looks like the world size was incorrectly set :)

[2021-07-06 12:55] tshu-w opened #8309 "init logger with version/experiment_name based on hparams"
I'm using LightningCLI, however, I could not find a convinced way to init logger with version/experiment_name based on hparams, which make my log folder more readable:
<img width="1075" alt="Screen Shot 2021-07-06 at 20 53 27" src="https://user-images.githubusercontent.com/13161779/124603362-7094da80-de9c-11eb-9fd4-483013da2d3b.png">

[2021-07-06 12:56] gaoteng-git commented on #8222
Fixed here: https://github.com/PyTorchLightning/pytorch-lightning/pull/8224

[2021-07-06 12:56] #8222 closed

[2021-07-06 14:30] edenlightning commented on #7740
@carmocca what is TODO?

[2021-07-06 14:35] justusschock commented on #8309
cc @carmocca @mauvilsa Is there an option for this?

[2021-07-06 14:44] #4701 closed

[2021-07-06 14:56] tchaton commented on #6770
Dear @EricCousineau-TRI,

I am not sure to fully understand your problem.

You could do:

[code]

[2021-07-06 15:12] kaushikb11 commented on #1706
Tests has been added for GCS filesystem in #7946. Closing this issue!

[2021-07-06 15:12] #1706 closed

[2021-07-06 15:42] tshu-w commented on #8309
I think I can customize CLI's fun
 before_instance_class to init my logger, sorry for bothering.

[2021-07-06 16:01] lucadiliello commented on #2919
I found [here](https://discuss.pytorch.org/t/how-to-find-the-unused-parameters-in-network/63948/4) that you can print all the parameters which gradient is `None`.

[code]

[2021-07-06 16:02] carmocca commented on #5007
Status update: WIP - tackling other related issues first. Need this for fault-tolerance

[2021-07-06 16:04] carmocca commented on #7740
Plan was to write a document with all these things, but many have been covered by @ananthsub 's API review.

Have been using this issue to link all the PR's I've opened testing the hook consistency

[2021-07-06 16:20] shrinath-suresh commented on #8227
sure, Thanks

[2021-07-06 16:39] SkafteNicki commented on #8257
@Borda have you observed if this is the case without CLI? (so just running tune and then fit normally)

[2021-07-06 16:41] Borda commented on #8257
I was using slightly older version for notebooks and it was fine... but rather try it again :]

[2021-07-06 16:47] edenlightning commented on #4866
@SeanNaren mind taking a look? @awaelchli would like a second opinion

[2021-07-06 16:55] Zasder3 commented on #8301
Updated the script to `export WORLD_SIZE=16` but I still find that the error persists.

[2021-07-06 17:03] Borda opened #8311 "upgrade pyYAML"
## 🚀 Feature

allow using the latest `pyYAML`

### Motivation

`pyYAML<5.4` was marked as a security vulnerability, see https://snyk.io/vuln/pip:pyyaml
also https://www.cvedetails.com/vulnerability-list/vendor_id-13115/Pyyaml.html

### Pitch

### Alternatives

### Additional context

we have frozen `pyYAML<5.4` for some other loading issue

[2021-07-06 17:20] #8227 closed

[2021-07-06 19:09] ruotianluo opened #8313 "argument for detect_anomaly on for debug"
## 🚀 Feature
Add an arg for trainer to turn on detect_anomaly. So that when gradients get nan, the model will automatically detect.

### Motivation

For easier debugging.

[2021-07-06 20:19] edenlightning opened #8314 "Fault tolerant training"

[2021-07-06 20:40] jstremme commented on #4846
@NumesSanguis and @jbohnslav, would you agree that this is not an ideal solution?  I would think we would want early stopping enabled.  I'm finding that I get `RuntimeError: value cannot be converted to type float without overflow` when early stopping is not set to `None`.

[2021-07-06 20:45] tchaton commented on #8301
Hey @Zasder3,

Would you be open to a pair debugging session on your machine ?

Best,
T.C

[2021-07-06 21:11] kencyshaka commented on #3030
I am still getting the same error. Is there an update on this?

[2021-07-06 21:29] Zasder3 commented on #8301
Sure thing! I'd be available tomorrow morning (CST) if that works for you too?

[2021-07-06 22:27] #8309 closed

[2021-07-06 22:31] carmocca commented on #7406
Fixing this is going to be an unavoidable breaking change so targeting 1.4

[2021-07-06 22:40] BryanWBear opened #8315 "ImportError: _XLAC.cpython-37m-x86_64-linux-gnu.so: undefined symbol: _ZN2at11result_typeERKNS_6TensorEN3c106ScalarE"
## 🐛 Bug

Import error after installing pytorch-lightning on google colab TPU instance.

Colab link: https://colab.research.google.com/drive/1ssH3PwBh6skcIze440LwHn5R5dUnih7Q?usp=sharing

Code to reproduce:

[code]

Console output:

[code]

I followed the instructions from the docs: https://pytorch-lightning.readthedocs.io/en/stable/advanced/tpu.html. I also tried xla version 1.7, 1.6, and pl vers

[2021-07-06 23:32] yifuwang opened #8316 "Add a flavor of `training_step` that allows for expressing inter-batch parallelism"
## 🚀 Feature

### Motivation

When training a model, the most common approach is to process input batches sequentially (Lightning does this today). This makes sense, because in order to achieve synchronous/deterministic training, the processing of batch[n+1] can’t start until the optimization for batch[n] completes. However, this is only partly true, because it only applies to model weight-depende

[2021-07-07 07:36] NumesSanguis commented on #4846
@jstremme This is indeed not a solution, just a workaround that works in some cases. I'm not working anymore on the project I encountered that problem though (never solved it).

[2021-07-07 08:48] Borda commented on #8315
@kaushikb11 I guess it is unrelated to PL, right?

[2021-07-07 08:52] kaushikb11 commented on #8315
Hi @BryanWBear, this error is raised when the PyTorch and PyTorch xla are not of the same versions.
You could verify using `pip list | grep torch` and could install the latest versions for both!

[2021-07-07 08:59] #8315 closed

[2021-07-07 11:10] #5001 closed

[2021-07-07 12:13] chzhan commented on #4420
The package versions:
/usr/local/lib/python3.8/dist-packages/torch/distributed/launch.py

[2021-07-07 12:13] chzhan commented on #4420
The package versions:
pytorch: 1.8.1
/usr/local/lib/python3.8/dist-packages/torch/distributed/launch.py

[2021-07-07 12:22] chzhan commented on #4420
The package versions:
pytorch: 1.8.1
/usr/local/lib/python3.8/dist-packages/torch/distributed/launch.py +270
[code]
-->
[code]
In my case, this error is caused by the local_rank parameter not being passed in. It's a bug.

[2021-07-07 12:35] kaushikb11 commented on #7810
@awaelchli An update on this issue, `ddp_cpu` works on TPUs when `num_processes` is default. But I pass values for it (2, 3, etc), it throws an Error.

[code]

[2021-07-07 12:53] Nora-Go opened #8325 "GPU Memory leak using BCELoss while logging the training loss"
Hi :)
first of all thanks for your great work!

## 🐛 Bug

At the moment I'm facing a weird bug:
I have a binary segmentation task and want to use the BCELoss (https://pytorch.org/docs/stable/generated/torch.nn.BCELoss.html) (in my real code I do some computations before (not just a simple sigmoid/ clamp) such that the input is already in [0, 1]).
However, I run into a "RuntimeError: CUDA out of me

[2021-07-07 12:56] awaelchli commented on #7810
Is there any known difference of a CPU inside a TPU machine? make sure to omit `tpu_cores` when running this plugin. We should probably make this an error.

So you are saying

[code]
does not work on a TPU machine, but on a regular CPU machine all is good right?

[2021-07-07 14:00] kaushikb11 commented on #7810
It fails even after omitting the `tpu_cores` flag.

[code]

Yes, it works as expected on my CPU machine. No worries, I will dig more into it.

[2021-07-07 15:25] #7697 closed

[2021-07-07 16:57] mauvilsa commented on #8262
The code snippet in the description does work with the new version of jsonargparse. I only tested `--help` and `--print_config`.

Even though it is a niche use case I think it might be good to be the same as the callbacks. Right now if you do `--print_config` the yaml includes:

[code]

Which is not a valid value for the config. If it is like the callbacks then the object instance wouldn't appear.

[2021-07-07 17:56] #8003 closed

[2021-07-07 17:56] #8010 closed

[2021-07-07 18:01] Rizhiy commented on #7744
Decided to revisit this issue and found out that to use `find_unused_parameters` with `ddp_spawn` I have to use `DDPSpawnPlugin` instead of `DDPPlugin`.
Probably would be a good idea to add it to documentation.

[2021-07-07 19:05] Zasder3 commented on #8301
Updating to the master version (`https://github.com/PyTorchLightning/pytorch-lightning/archive/refs/heads/master.zip`) fixed the error! Everything now runs smoothly.

[2021-07-07 19:05] #8301 closed

[2021-07-07 19:30] mortonjt commented on #8190
I had similar issues when saving the checkpoints.  In one of the previous versions of pytorch-lightning ( I don't know which unfortunately, but is after the 1.0.0 release), there was new functionality added where checkpointing specifically checks the output stored by `self.log(metric, value)`.  If you don't use `self.log` within your validation_epoch, this will cause a silent failure and no interm

[2021-07-07 21:03] discort commented on #7410
@irasit
I am getting exactly the same issue. Could you please share the cause of the deadlock and your workaround?

[2021-07-07 21:48] carmocca commented on #8325
Hi! Can you try using master? Logging has been re-designed so it is possible that it's not an issue anymore if it's really due to the `self.log` call

[2021-07-07 22:19] ananthsub commented on #8316
@yifuwang how much do you want to tie this feature support to the LightningModule decomposition proposed elsewhere?

If we want to decouple this, in the short term we could follow a similar strategy that manual optimization took:
- Introduce a new property and setter on the LightningModule e.g. `automatic_iteration`
- Depending on the property set on the LightningModule, add conditional logic in t

[2021-07-07 22:50] zzzwen commented on #8316
Question, are you planning to let `training_step` take an union of a "dataframe" and an "iter of dataframe" or this will be a different function altogether?

[2021-07-07 23:01] yifuwang commented on #8316
@ananthsub I haven't considered how to approach this from LightningModule decomposition's perspective. But I think it makes perfect sense to do so.

[2021-07-08 00:13] ananthsub commented on #7330
@edenlightning could we consider this for v1.5? This again would be a breaking change but as pointed out, the registry would make this easier for users, and we can prioritize special error handling to warn users about this

[2021-07-08 05:50] Nora-Go commented on #8325
Hi :) so you mean updating to 1.3.8? This does unfortunately not help :/

[2021-07-08 06:07] jaffe-fly opened #8332 "ModelCheckpoint call will error when set ```save_weights_only=False```"
## 🐛 Bug

![image](https://user-images.githubusercontent.com/49515380/124870175-db592980-dff4-11eb-8dd1-50dcce5ed541.png)
save_weights_only= False, can run normally

## Please reproduce using the BoringModel
[code]

### Environment

 - PyTorch Lightning Version 1.4.0.dev0:
 - PyTorch Version 1.8.1
 - Python 3.8:
 - OS (e.g., Linux): linux
 - CUDA/cuDNN version:10.2/7605
 - GPU models and configura

[2021-07-08 06:09] Abhishek-Prajapat commented on #8270
The issue occurred again and after some digging, I found this thread - https://github.com/pytorch/xla/issues/2259. It looks like both the torch and torch_xla should be of same version.

[2021-07-08 07:57] chenlijun99 commented on #4999
Has anybody found a workaround to this problem?

[2021-07-08 08:56] awaelchli commented on #8332
Here is what works:

[code]

Can you please share the full script?

[2021-07-08 08:57] awaelchli commented on #8332
Here is what works:
[code]

`save_weights_only=False` is the default.

Can you please share the full boring model?

[2021-07-08 10:05] mooey5775 opened #8333 "Logger isn't finalized upon test/predict completion"
## 🐛 Bug

Some loggers (like `TensorBoardLogger`) require flushing/`finalize` to be called for logged metrics to be properly written to disk. However, `finalize` is not currently called after test/predict runs.

This manifests in metrics failing to be logged if `.test` or `.predict` is run on Trainer with a `TensorBoardLogger`.

I believe this could be fixed with an extra `.finalize` call (like wh

[2021-07-08 10:07] mooey5775 commented on #8333
@ananthsub

[2021-07-08 11:43] jiwidi opened #8335 "Recommender system domain example"
## 🚀 Feature
Pytorch Lightning usage example with recommender systems

### Motivation

I've been using PL for a while now and I think is a great framework to speed up DS work. When I began using it I read through the domain [examples](https://github.com/PyTorchLightning/pytorch-lightning/tree/master/pl_examples/domain_templates) and got inspiration on how to structure my code. My work has been mos

[2021-07-08 14:52] marsggbo opened #8336 "Why are there additional processes when I use Horovod?"
## 🐛 Bug

I was trying to use Horovod for distributed training, but I found that `lightning` created more processes  on GPUs than I specified.

For example, when I use 4 GPUs, it will create 7 processes, where there are 3 additional processes.

![image](https://user-images.githubusercontent.com/13477956/124939755-f8fdb180-e03b-11eb-9093-2be0218ee1b3.png)

When I use 2 GPUs, it will create 3 GPUs,

[2021-07-08 15:03] Borda commented on #8336
@marsggbo seems the video can't be shown

[2021-07-08 15:08] marsggbo commented on #8336
sorry, you may refer to this url: https://youtu.be/6AEaTESPhAM

[2021-07-08 19:05] edenlightning commented on #7179
Decided to add these parameters to the speed documentation instead: https://pytorch-lightning.readthedocs.io/en/latest/guides/speed.html#gpu-training

[2021-07-08 20:04] #8311 closed

[2021-07-08 21:11] EricWiener opened #8341 "mypy tests hang after importing PyTorch Lightning"
## 🐛 Bug
My tests hang/take much longer to run when I import from pytorch lightning. After letting it run for a very long time I get the error:

[code]

## Please reproduce using the BoringModel
Will work on this.

### To Reproduce
Import pytorch_lightning and then try to run mypy tests.

### Expected behavior
mypy tests don't hang

### Environment
 - PyTorch Lightning Version: 1.3.7post0. Also re

[2021-07-08 21:54] MelvinYin commented on #8341
mypy version: 0.770 and 0.910

[2021-07-08 22:04] carmocca commented on #7324
It might be helpful to compare how the implementation of one training type or plugin would look if this was done. As it stands, it is not clear to me exactly what the benefits of this are

[2021-07-08 22:15] ananthsub commented on #7740
@carmocca do you mind if I hijack this issue for https://docs.google.com/document/d/1xHU7-iQSpp9KJTjI3As2EM0mfNHHr37WZYpDpwLkivA/edit#

The intention is to go through every component in Lightning and do an API review

[2021-07-08 22:23] ananthsub commented on #8333
@awaelchli this is what https://github.com/PyTorchLightning/pytorch-lightning/pull/8217 was attempting to solve

[2021-07-08 22:39] JingyuQian commented on #4690
Popping "optimizer_states" would lead to an error if you use it together with `resume_from_checkpoint`. So:
1) If training from a fresh start, it's OK to skip mismatched values and pop optimizer_states
2) If training resumes from a checkpoint, this method won't work, because you can't pop optimizer_states and there will be shape mismatch between the tensor and what is stored in optimizer_states.

[2021-07-08 22:44] ananthsub opened #8343 "Deprecate the model_size property on the LightningModule"
## 🚀 Feature

We are auditing the Lightning components and APIs to assess opportunities for improvements:
- https://docs.google.com/document/d/1xHU7-iQSpp9KJTjI3As2EM0mfNHHr37WZYpDpwLkivA/edit#
- https://github.com/PyTorchLightning/pytorch-lightning/issues/7740#issuecomment-876780318

One item that came up on the LightningModule API was the ambiguity of the `model_size` property: https://github.co

[2021-07-08 22:48] carmocca commented on #7740
Go for it!

[2021-07-09 00:39] sidml commented on #3898
I got the same error while training. I am using `pytorch_lightning:1.3.8, torch: 1.9.0+cu102`.
It seems to happen at random, so i am not sure how to reproduce it.

Here's the pytorch lightening error message

  File "train.py", line 203, in <module>
    trainer.fit(model)
  File "/home/sid/miniconda3/lib/python3.8/site-packages/pytorch_lightning/trainer/trainer.py", line 460, in fit
    self._run(

[2021-07-09 06:15] #7789 closed

[2021-07-09 06:18] tchaton commented on #8343
Hryt @ananthsub,

I think it is a good remark and it won t scale well with larger model.
Mind doing the depreciation ?

Best,
T.C

[2021-07-09 06:25] xunnanxu commented on #8118
Thanks @RahulMitra for the logic reorganizing proposal. A couple of minor comments:
1. Naming wise, instead of calling it `CheckpointAgent`, maybe we can be more specific like `CheckpointExecutor` or `CheckpointIOHandler`. One reason is there are a dozen of `save_checkpoint()` callbacks in lightning and it would be a bit more confusing to users which one actually does the real save after more laye

[2021-07-09 07:46] awaelchli commented on #8343
Hi @ananthsub
This was a contribution by the community. I vote for deprecation in favor of a utility function :)

[2021-07-09 08:11] gurvindersingh opened #8344 "resume from checkpoint fails in current master with deepspeed stage 2"
## 🐛 Bug

When trying to resume model from stored checkpoint in DeepSpeed mode 2, it fails with this exception

[code]

## Please reproduce using the BoringModel

Run the following code snippet

[code]

once run it fully and then uncomment the `resume_from_checkpoint` parameter to `Trainer` and you will see the exception.

### To Reproduce

Run the given code snippet to reproduce.

### Expected be

[2021-07-09 08:12] gurvindersingh commented on #8344
Pinging @tchaton @SeanNaren as discussed on slack

[2021-07-09 08:39] melanibe commented on #8130
Hi there! According to the changelog, this issue should have been fixed in 1.3.8. However, even after the upgrade the bug repro above still fails. Is there any plans to address this problem further?

[2021-07-09 08:59] SeanNaren opened #8347 "Load ckpt_path when given to test/validate/predict"
## 🚀 Feature
When the `ckpt_path` is passed to the `test/validation/predict` functions of the Trainer, they load the weights even if a model is provided.

### Motivation

I noticed that one of our DeepSpeed test was incorrect (see [here](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/tests/plugins/test_deepspeed_plugin.py#L597-L607)). `resume_from_checkpoint` does not re-load th

[2021-07-09 10:08] #7774 closed

[2021-07-09 11:09] ethanwharris opened #8350 "Logging train metrics on epoch doesn't work with Torchmetrics master + PL master"
## 🐛 Bug

Logging train metrics on epoch doesn't work with Torchmetrics master + PL master

I get this warning:
[code]

### To Reproduce

https://colab.research.google.com/drive/1zn7A3BpvYRmxegIJxsWVQbHBhMsj5mTl?usp=sharing

### Expected behavior

On epoch metrics should be logged correctly

[2021-07-09 11:26] tchaton commented on #8347
Sounds good to me !

[2021-07-09 11:27] #7179 closed

[2021-07-09 11:30] #7924 closed

[2021-07-09 11:40] rastegah opened #8351 "_pickle.PicklingError: Can't pickle <class 'TypeError'>: it's not the same object as builtins.TypeError"
## 🐛 Bug

Encountering the following issue:
[code]

* This happens when using just 1 GPU without multi-gpu
* I have manually pickled my model, data loader and all modules and have fixed any issues

 - PyTorch Lightning Version 1.3.8
 - PyTorch Version 1.9
 - Python version: 3.8.2
 - OS: Linux
 - CUDA/cuDNN version: cuda/10.2-cudnn7.5.1
 - GPU models and configuration:
 - How you installed PyTorch:

[2021-07-09 12:19] ethanwharris commented on #8350
Closing this as it's down to user error. You need to use separate metric objects for each phase.

[2021-07-09 12:19] #8350 closed

[2021-07-09 14:41] skanti commented on #8098
Is there no other way to have the first iteration logged without `log_every_n_steps=1`? It slows down training quite significantly. `flush_logs_every_n_steps` seems to be a tensorflow specific flag.

If it is not possible with the current version. It would be great to add it as feature request

[2021-07-09 14:53] aliceinland opened #8355 "Get stuck in deadlock while training"
## 🐛 Bug

During the training phase, at a certain epoch, the training get stuck. There are no error reported and, when exiting with brutal force, the only information given is "wait_for_tstate_lock".

### To Reproduce

[code]

[code]

### Expected behavior

### Environment
* CUDA:
	- available:         True
	- version:           11.2
* Packages:
	- numpy:             1.19.2
	- pyTorch_debug:     F

[2021-07-09 14:54] awaelchli commented on #8351
Add

if __name__ == "__main__"

where your entry point to the script is.
Chances are high you get this because you have num_workers > 0 in your DataLoader.

[2021-07-09 15:10] #3769 closed

[2021-07-09 17:45] rastegah commented on #8351
thanks, but no change

1. that was already in the script entry point
2. changing num_workers also makes no difference

after manual inspection, I noticed that injection of callables with `gin-config` caused some pickling issues, but the issue persists even after solving these

[2021-07-09 17:56] awaelchli commented on #8351
@rastegah sorry for the standard answer but this was my best guess.
It looks like you are not posting the full error stack trace so we don't know where this is originating from. And without a code sample it will also be hard to know what's going on.

[2021-07-09 20:55] #7764 closed

[2021-07-09 21:27] QueshAnmak commented on #8272
![Screenshot 2021-07-10 025106](https://user-images.githubusercontent.com/78043832/125137142-ba462500-e129-11eb-821b-7f7df27f4156.jpg)
I set init to False (which by default is set to True). This seems to fix the issue. I think the "@property" decorator on the attributes might be the cause of the issue.
![Screenshot 2021-07-10 025441](https://user-images.githubusercontent.com/78043832/125137514-74d

[2021-07-10 00:03] zcain117 opened #8358 "SIGSEGV on TPUVM pod size >= v3-128"
## 🐛 Bug

Given a decently large input data size, PyTorch Lightning will crash on v3-128 (and presumably any larger TPU pods too). The same code works fine on a v3-32. If I make the input image size smaller, the code also works on v3-128

I am continuing to try to find more informative logs deep in the TPU stack about the segfault.

This crash does not happen with regular pytorch/xla. So I wanted

[2021-07-10 00:57] tgisaturday commented on #8358
I've been testing around with
tpu_spawn.py here, especially with time.sleep() but wasn't the main cause of the problem.

https://github.com/tgisaturday/pytorch-lightning/blob/master/pytorch_lightning/plugins/training_type/tpu_spawn.py#L173

If lightning shows different behaviors according to input image size, maybe is this data_loader related issue?

[2021-07-10 03:36] collinmccarthy commented on #8278
@tchaton Sorry for the delayed response.

I would expect neither training nor validation be run, at least if `trainer.fit()` were called again. In my hack I _think_ setting `trainer.should_stop = True` causes `trainer.fit()` to return immediately and not run any training nor validation epochs (after the validation sanity check).

Yes, I can do that, but I'd like to spend a bit more time stepping t

[2021-07-10 10:11] jaffe-fly commented on #8332
[code]
[code]

[2021-07-10 18:27] bmahlbrand commented on #8281
I know this is closed, but I just pulled master, and tried testing w/3 optimizers instead of 2 (this problem is fixed when I only have 2) and the issue persists. How can I help?

[2021-07-10 18:32] bmahlbrand opened #8365 "RuntimeError: element 0 of tensors does not require grad and does not have a grad_fn where accumulate_grad_batches > 1"
## 🐛 Bug

https://github.com/PyTorchLightning/pytorch-lightning/issues/8281 but w/3 optimizers instead of 2

## Please reproduce using the BoringModel

https://colab.research.google.com/drive/1wmSXZjybxXnZ9jFK8L0lQ9NvXGrkpiRo?usp=sharing

### To Reproduce

https://colab.research.google.com/drive/1wmSXZjybxXnZ9jFK8L0lQ9NvXGrkpiRo?usp=sharing

### Expected behavior

Should accumulate gradients and t

[2021-07-10 18:50] bmahlbrand commented on #1894
What's involved with getting this working for multiple optimizers (up to 3)?

[2021-07-10 21:03] jwallat opened #8369 "Trainer.validate(model, dataloader=dl) does not use passed dataloader"
## 🐛 Bug

I wanted to validate my model on a subset of the original validation set. I found the Trainer.validate() function which takes one or multiple dataloaders as one of its arguments. However, the model will use the model's default dataloader and not the one I passed to .validate().

## Please reproduce using the BoringModel

https://colab.research.google.com/drive/1KMgKeugv9VqDgT4Mj8S-GObc8-

[2021-07-11 06:32] MohammedAljahdali commented on #3275
Is there any update on this issue, and https://github.com/PyTorchLightning/pytorch-lightning/pull/2165? I think the issue that I mention in this https://github.com/PyTorchLightning/pytorch-lightning/discussions/8363 discussion is related.

[2021-07-11 20:52] collinmccarthy opened #8375 "Support fit with DDP then test without DDP"
## 🚀 Feature
This issue has been discussed a few times it seems like (#7929, #3325, #3600), but I haven't seen or been able to find a clear response as to whether the PTL team would like to support this workflow.

I would like to train on a dataset with multiple GPUs, then test using a single GPU, without having the call the script multiple times.

### Motivation

I do this with fit-test sequence

[2021-07-11 20:57] tchaton commented on #8375
Dear @collinmccarthy,

Thanks for sharing your thoughts there. You could use ddp_spawn and re-create a Trainer with different parameters.

DDP created subprocesses and I don t really see how we could make it work without killing them.

Best,
T.C

[2021-07-11 21:02] collinmccarthy commented on #8375
@tchaton Thank you for the quick response. Do you mean use ddp_spawn for the initial `fit()`, or just for the `test()` part? I want to avoid using ddp_spawn for `fit` because I need the absolute best performance that comes from `ddp` and `ddp2` so I can scale this to many nodes and many GPUs.

[2021-07-11 21:15] collinmccarthy commented on #8375
And for the subprocesses, I wasn't thinking we would kill them, rather just let them exit the program normally and reset the DDP backend such that `torch.distributed.is_initialized()` returns False, so future calls to `trainer.test()` don't try to use an old DDP context.

This does assume that whatever happens after `trainer.fit()` does not need the DDP context anymore. So I'm sure there are use c

[2021-07-11 22:25] rahumble commented on #7505
I have the same issue as @addisonklinke. When combining ModelPruning + DDP, I get a `deepcopy` failure during checkpointing. This issue seems to have existed from at least 1.3.0 and still exists in master (as of today 7/11).

Repro steps:
1. Copy the boring model colab [code](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing) to somewhere you can run DDP
2. Chan

[2021-07-12 04:37] cxx965165454 commented on #8092
Hello,

Any updates? I was trapped in the same error, my pytorch-lightning version is 1.3.8 and deepspeed is 0.4.0

[2021-07-12 07:19] tchaton commented on #8375
Hey @collinmccarthy,

I understand better the use-case now.
Here is a pseudo cod, but with some hacking, I think It could work ! Mind giving it a try ?

[code]

[2021-07-12 08:05] cxx965165454 commented on #8344
same issue here, need help.

[2021-07-12 09:03] kaushikb11 commented on #8358
is there any difference in the spawn behavior for v3-32 vs. v3-128 that would cause v3-128 to SIGSEGV but v3-32 works ok?

There is no behavioral difference on the Lightning side for training on `v3-32` or `v3-128`.

Need to dig more into it, to find out the cause. Assigning myself to the issue.

[2021-07-12 09:06] Keiku commented on #5325
Is resume training possible with the current version using the iter-based method? Is there a way to calculate near results in the current version? (Assuming that the seed is different and it is not reproduced)

Personally, the priority of this issue is quite high.

[2021-07-12 09:16] SeanNaren commented on #8347
I've realised that (1) and (5) should be different behaviour, i.e

[code]

The issue comes from if the default is now `ckpt_path=None` which will load the best ckpt weights, how would we load the latest model? This would require a different behaviour, which I don't think is currently prefered.

To simplify this issue, I think we should just stick to be simple; if the ckpt_path is not 'best' or Non

[2021-07-12 12:49] justusschock commented on #5325
There are several PRs working on this, so far this is not yet supported, but we are actively working on it.

[2021-07-12 12:51] carmocca commented on #1894
Would need to add a flag to indicate which optimizers to wrap and update all the logic in the callback accordingly.

This is something contributors could try resolving!

[2021-07-12 13:29] #8128 closed

[2021-07-12 14:42] rahumble commented on #7505
I dug into this a bit more, and I think it's because the deepcopy involves a circular reference:
```model.trainer.accelerator_connector.training_type_plugin._model.module.module == model```

The error arises when trying to deepcopy the model's `.trainer` (Trainer)
  --> which involves deepcopying the trainer's `.accelerator_connector` (AcceleratorConnector)
  --> which involves deepcopying the con

[2021-07-12 14:53] nikvaessen opened #8382 "Using `accelerator=ddp` results in `RuntimeError: Expected to mark a variable ready only once. `"
## 🐛 Bug

A custom model which builds on top of the [Wav2Vec2](https://huggingface.co/transformers/model_doc/wav2vec2.html) model from the [transformers](https://github.com/huggingface/transformers) library cannot be trained with `Trainer(accelerator=ddp)`. However, the same model class with a custom DDP training loop functions properly.

Using the pytorch lightning trainer results in the followin

[2021-07-12 15:21] #6470 closed

[2021-07-12 15:38] carmocca commented on #6470
Closing as point (1) will not be addressed. In fact, the `Trainer(resume_from_checkpoint)` should be eventually removed in favor of a `trainer.fit(ckpt_path)` flag. This would be consistent with the rest of the trainer methods and would avoid users being confused about the global step not being loaded on initialization. @SeanNaren

[2021-07-12 17:39] collinmccarthy commented on #8375
@tchaton Nice! Thank you, this is what I was missing. Working on it now, I'll let you know soon but I'm sure I can get this to work.

[2021-07-12 20:54] skanti opened #8384 "`CSVLogger` log first (global_step = 0) iteration"
## 🚀 Feature
See this [issue](https://github.com/PyTorchLightning/pytorch-lightning/issues/8098). The current `CSVLogger` ignores the very first iteration and evaluation on the sanity validation set.

### Motivation

The solution of using `log_every_n_steps=1` is not always feasible. E.g. Performance hit when your logging directory is on a (slow) remote server.

Seems like `flush_logs_every_n_step

[2021-07-12 20:57] edenlightning opened #8385 "[CLI] Trainer pipelines (tune+fit, fit+test) using the CLI"
## 🚀 Feature
Add CLI submodules to chain trainer functions in a single CLI command

### Motivation
As a user, I might want to run multiple trainer commands one after the other from the CLI, without the need to save the HP found in tune and set them, and allow using single tensorboard to compare fit/test.
For example:
* tune -> fit
* tune -> fit -> {validate,test}
* fit -> {validate,test}

### Risk

[2021-07-12 22:54] #8086 closed

[2021-07-12 23:08] collinmccarthy opened #8387 "AMP not used for training_step_end()"
## 🐛 Bug

It's possible this is intended or necessary, but the `torch.cuda.amp.autoscale()` context is used for, e.g. `training_step()` [here](https://github.com/PyTorchLightning/pytorch-lightning/blob/f3e828426a41efa279c00ecdd8a86c96a79f6daa/pytorch_lightning/accelerators/accelerator.py#L199), but not for, e.g. `training_step_end()` [here](https://github.com/PyTorchLightning/pytorch-lightning/blo

[2021-07-13 00:01] EricCousineau-TRI commented on #6770
Howdy @tchaton! Sorry it was indirect, but I had done this using `Mode.LogOnEpoch` (see example notebook).

This is actually the only behavior (I think?) that is consistent between `train` and `val` when `on_step` and `on_epoch` are explicitly set; my bug is about the fact that explicitly setting *other* configurations *isn't* consistent. See repro code for `ConstantMultibody._step`, `self.mode`,

[2021-07-13 01:01] collinmccarthy commented on #8387
I can submit a PR if the PTL team wants to call this in `training_step_end()` / `validation_step_end()` / `testing_step_end()` methods, just let me know. It looks to be as simple as mirroring the calls in the `_step()` methods since this is already the base `Accelerator` class. But please let me know if I'm wrong about that too.

[2021-07-13 01:16] Abhishek-Prajapat commented on #2010
It's 13-July-2021 and I assure you the issue still remains. I can run all 5 folds of training in native PyTorch but lightning gives OOM at the second epoch of the first fold.

[2021-07-13 02:04] jlperla commented on #8385
If it helps simplify the interface, I think it is reasonable that if you are doing multiple things (e.g. tune, train, then test) the config files are all applied prior to any of these and only once.  Then the chain themselves are responsible for any modifications.

It also would be much nicer to have the tuning options inside of the underlying config so that you only need to save out the one `yml`

[2021-07-13 03:01] collinmccarthy commented on #8375
@tchaton Okay, I think I've found two pseudo-solutions here.

First, a slight modification of what you have above:

[code]

The big problem is that the state of the DDPPlugin (`trainer.training_type_plugin`) is mostly "wrong". That includes some environment variables, the interactive ddp processes, parallel devices, etc. It just so happens that this stuff isn't used in `test()` or didn't cause any

[2021-07-13 05:39] dhairyadalal opened #8393 "Trainer has generally poor performance finetuning Language models"
I'm not sure if I'm setting up my models in Pytorch-lightning incorrectly but I've found that generally, pytorch-lightning has poor performance compared to a manual training loop and the Huggingface Trainer for my NLP models.

For example, I'd like to finetune RoBERTa for a multi-class classification problem (Clinc 151). Using the transformers implementation out of the box I get the following accu

[2021-07-13 06:31] MendelXu opened #8394 "Training stuck at the begining"
### Discussed in https://github.com/PyTorchLightning/pytorch-lightning/discussions/8321

<div type='discussions-op-text'>

<sup>Originally posted by **MendelXu** July  7, 2021</sup>
When I use 2 GPUs, My training process is stuck at the beginning of the first epoch and even I am not able to kill it with ctrl+c. However, if I change it to 1 gpu or 4 gpu, it works fine. As there is no error informat

[2021-07-13 07:18] anik123 opened #8395 "how to put ```trainer.fit()``` in for loop?"
### Discussed in https://github.com/PyTorchLightning/pytorch-lightning/discussions/8380

<div type='discussions-op-text'>

<sup>Originally posted by **anik123** July 12, 2021</sup>
I am trying to create multiple model using loop as below.

[code]

However, ```trainer.fit()``` is an async method. To train multiple models, I need to put ```trainer.fit()``` in a loop as follows

[code]

As this is an

[2021-07-13 08:10] camruta commented on #8185
Yes, that's what I had in my mind. I'll send a draft for review.

[2021-07-13 08:34] tchaton commented on #8375
Hey @ananthsub, any thoughts on this ?

[2021-07-13 09:36] #6338 closed

[2021-07-13 09:57] alexyalunin commented on #839
@GabrielePicco how does the metrics calculation work, does it just calculate 5 numbers say for 5 folds? I want the average over all folds

[2021-07-13 10:19] kaushikb11 commented on #8185
@camruta Awesome! Assigning you to the issue

[2021-07-13 14:44] ananyahjha93 commented on #8384
@skanti hey, so I think like @justusschock mentioned, these two parameters work according to the intended behavior. Now, it's a question of whether we want logging on the very first step as an exception to this rule.

Tagging @tchaton @Borda @justusschock  for their opinion on this.

[2021-07-13 15:39] ananyahjha93 commented on #8393
@SeanNaren Have you experienced a behavior like this?

[2021-07-13 15:58] NielsRogge opened #8398 "Unable to use PyTorch Lightning with Detectron2"
## 🐛 Bug

I would like to use PyTorch Lightning with a model that relies on Detectron2. However, when installing Detectron2 (which requires torch 1.8) and PyTorch Lightning, I get the following error when trying to run `import pytorch_lightning as pl`:

[code]

### Environment

Colab to reproduce: https://colab.research.google.com/drive/1hsS4zOm9qkZc2GSjufvY8NocEnSj-7i0#scrollTo=0rACJBnFjwii

[2021-07-13 18:59] griff4692 opened #8402 "Multiprocessing bug after switch to latest Lightning version"
Hi - I just switched over to the latest version of Lightning and for some reason I am getting this error.  Does anyone know why this might be the case?  I am loading each example to a file during training so maybe there are too many files open?  I've reduced the num_workers to a small int and it's still happening.

[2021-07-14 06:06] GabrielePicco commented on #839
@alexyalunin yes it calculates metrics for each fold. You could access the fold metric with `trainer.callback_metrics` at the end of the for loop and average across folds.

[2021-07-14 06:14] tchaton commented on #8398
Hey,

It means you have a version of torchtext which was compiled with a différent Pytorch version.
Can you try uninstalling torchtext ?

Best,
T.C

[2021-07-14 06:17] tchaton commented on #8394
Hey @MendelXu,

Would it be possible for you to share the code of the callback ?

It usually hangs when processes accross ranks diverged.

Best,
T.C

[2021-07-14 06:25] tchaton commented on #8375
Hey @collinmccarthy,

I am not sure Lightning should provide this out of the box.
But this would definitely be a great addition to the doc.

@awaelchli Any thoughts there ?

Best,
T.C

[2021-07-14 07:17] NielsRogge commented on #8398
Thanks, that solves it.

[2021-07-14 07:17] #8398 closed

[2021-07-14 07:54] awaelchli commented on #8375
I personally would never run the test on multiple GPUs. For correctness, one should always run on a single GPU when evaluating the test set. Uneven inputs are not supported and the distributed sampler will influence the metric computation.
Evaluating the test error in a separate script is the only and best option imo.

If running the test after fit is still desired, one could do

[code]

as @colli

[2021-07-14 09:39] tgisaturday commented on #8358
@zcain117 @kaushikb11
Update:
I’ve refactored current codebase and removed all the unnecessary garbage codes.
https://github.com/tgisaturday/dalle-lightning
Now the model runs much faster and without long compilation time.
https://github.com/tgisaturday/dalle-lightning/issues/1#issuecomment-879731687

Here’s what I’ve found:
-	Logging image results using lightning logger slows down the process and

[2021-07-14 10:17] rastegah commented on #8351
Here is the entry point to the script:
`import fire
import os
import gin

from dptm.model import lightning_run
from dptm.utils import gin_register_and_parse

@gin.configurable
def run_train(gin_file: str = "gin/dptm.gin"):
    gin_config_path = os.path.join(os.getcwd(), gin_file)
    gin_register_and_parse(gin_config_path)

    lightning_run(gin_config_path)

def main():
  fire.Fire(run_train)

if

[2021-07-14 10:23] awaelchli commented on #8351
Can you set `num_workers=0` just to make sure this is not due to the multiprocessing in dataloaders?
And are you 100% sure this is the full stack trace?
There is nothing more above ` Validation sanity check: 0it [00:00, ?it/s]Traceback (most recent call last): File`?

[2021-07-14 11:25] #7003 closed

[2021-07-14 11:44] rastegah commented on #8351
Setting `num_workers=0` does work now! Any idea how to resolve this?

[2021-07-14 14:06] kaushikb11 commented on #8358
Action item here would be to test it with an XLA script and if it raises the same issue.

[2021-07-14 14:58] tgisaturday commented on #8358
@kaushikb11 I've tested this script on v3-256 and it works with native torch-xla.
https://github.com/pytorch/xla/blob/master/test/test_train_mp_imagenet.py

Here's steps that I took:
[code]

Lightning seems to fail during  [new_process](https://github.com/PyTorchLightning/pytorch-lightning/blob/2e7007c972dcc1b5c076f9800a3b50c92cd64970/pytorch_lightning/plugins/training_type/tpu_spawn.py#L146).

[2021-07-14 15:03] awaelchli commented on #8351
Yes, that means you have somewhere a non-picklable object that gets accessed or imported in the code that runs in the worker processes. That's usually everything inside your dataset code and everything that gets imported there. PyTorch / Python will pickle all these objects to recreate the state in spawned processes. You would run into this issue even without Lightning I'm pretty sure.
To test it,

[2021-07-14 16:23] kaushikb11 commented on #7810
Update on this, I commented the XLA interactions in the Lightning code, but still, it was raising issues. Seems like this would be an issue on the tpuvm side if you are running `ddp_cpu` directly on TPU host machines.

[2021-07-14 16:26] #6617 closed

[2021-07-14 22:13] edenlightning opened #8422 "LSFEnvironment API reference doesn't work"
![Screenshot - 2021-07-14T180825 721](https://user-images.githubusercontent.com/66261195/125699502-9d992211-f012-48e7-a4b1-451c3aca7e98.png)

[2021-07-14 22:53] griff4692 commented on #6064
Hi - what's a solution here? I'm encountering the same issue in lightning

[2021-07-14 23:06] gagan3012 opened #8425 "DagsHub Logger"
## 🚀 Feature

I would like to add a dagshub logger to PyTorch lightning

I can work on this Can I please be assigned to it?

[2021-07-14 23:07] awaelchli commented on #3275
Nope,  #2165 is dead and since then teardown and shutdown had significantly changed in Lightning.
I am not sure what's going on with multiple instances of Trainer as you linked. Needs more investigation.

[2021-07-14 23:21] awaelchli commented on #8272
Oh yes, but actually we want dataclass to generate an init for us. Otherwise we don't get any great value of a dataclass here.
But actually, all we have to do is this:

[code]

Because the init generated by dataclass does not call `super()`, and that's required by the datamodule.

[2021-07-14 23:25] awaelchli commented on #8332
is it possible to reduce this?
there are some unknown imports which I don't know how to resolve.

[2021-07-14 23:37] griff4692 opened #8426 "DeepSpeed: "RuntimeError: expected scalar type Float but found Half""
## 🐛 Bug

Adding `plugins='deepspeed_stage_3_offload'` leads to

[code]

### Expected behavior

To run the same as before

### Environment

### Additional context

The full stack trace shows that the error is occurring within a call to a pytorch_geometric GATConv object.

cc @SeanNaren @awaelchli @rohitgr7 @akihironitta

[2021-07-14 23:52] griff4692 commented on #6064
For my context, I'm posting my full stack trace.  Thanks

[2021-07-14 23:53] griff4692 commented on #8402
For others, I resolved this by adding

`torch.multiprocessing.set_sharing_strategy('file_system')`

[2021-07-14 23:53] griff4692 commented on #8402
For others, I resolved this by adding

`torch.multiprocessing.set_sharing_strategy('file_system')`

[2021-07-14 23:53] #8402 closed

[2021-07-14 23:58] griff4692 commented on #8426
```pytorch_lightning.utilities.exceptions.MisconfigurationException: SWA currently works with 1 `optimizer`.```

Also, when I switch to deepspeed, I get this error and have to turn SWA off.  This is less of an issue though!!  Sorry for piling it on

[2021-07-15 00:12] gahdritz commented on #8426
Have you set the `precision` argument of the trainer to 16? DeepSpeed stage 3 is only compatible with half-precision mode.

[2021-07-15 08:11] Borda commented on #8425
cc: @PyTorchLightning/core-contributors

[2021-07-15 09:32] SeanNaren commented on #8393
hey @dhairyadalal thanks for the very detailed reproduce!

I wonder if this is to do with the learning scheduler, since it's supposed to be called every step rather than every epoch (which is the default for Lightning). Could you try modify `configure_optimizers` like such:

[code]

and see if this works? It does seem like an optimization issue which is causing the low val accuracies!

On a side n

[2021-07-15 11:08] #7879 closed

[2021-07-15 11:13] SeanNaren commented on #6064
Are you using a similar model? It seems there is a chance this is fixed using the latest DeepSpeed but I haven't checked in a while @griff4692

[2021-07-15 11:46] griff4692 commented on #8426
Yes precision is at 16

[2021-07-15 13:05] #8425 closed

[2021-07-15 13:31] maxjeblick opened #8430 "OOM issues"
## 🐛 Bug

I'm facing various OOM issues using Pytorch Lightning.
It usually appears on K-fold training, i.e. fitting a model on fold 0 works, but not all GPU memory is freed when going to fold 1.
Sometimes, there are tensors still on GPU, although I delete trainer, model and dataloader.
I tried to pack everything into a separate function, including the imports, but it's still fragile.

https://col

[2021-07-15 13:35] maxjeblick commented on #8430
I also tried
[code]

`    optimizer_to(trainer.optimizers[0], 'cpu')`
but it didn't resolve the issue I have.

[2021-07-15 13:51] kaushikb11 commented on #8055
@StephennFernandes It's very hard to debug the issue without access to the data. Kindly add steps to access the data or steps for mock data. Closing the issue, feel free to reopen it with an approach to reproduce the issue. Also, do run it on a single TPU core, and update the details.

[2021-07-15 13:51] #8055 closed

[2021-07-15 14:04] sid-sundrani opened #8431 "mlflow run_name unexpected argument error"
## 🐛 Bug
The [documentation](https://pytorch-lightning.readthedocs.io/en/latest/api/pytorch_lightning.loggers.mlflow.html?highlight=logger#mlflow-logger) mentions there is an argument called run_name for the mlflow logger, where the run_name of a given experiment can be provided. Although,run_name is an unknown argument to the mlflow logger

`TypeError: __init__() got an unexpected keyword argumen

[2021-07-15 14:40] #8422 closed

[2021-07-15 14:42] nicolas-dufour commented on #8268
My idea is not necessarily linked to git, mainly, for me the problem is the code dependence when loading models. Isn't it possible to load models in a code independent way (Some kind of pickling). I'm not at all sure it's doable, just wanted to share a feature that i think would make my workflow much easier.

[2021-07-15 15:17] nikvaessen commented on #8382
For anyone who ends up here after googling, I managed to solve it by reading the discussion here: https://discuss.huggingface.co/t/wav2vec-fine-tuning-with-multigpu/4894/17

Basically, the huggingface library used `gradient_checkpointing` and this needs to be disabled in order to use DDP. In the example code above this can be done by doing:

[code]

I'm not sure why my custom DDP worked but I migh

[2021-07-15 15:17] #8382 closed

[2021-07-15 16:18] ihowell commented on #2351
@Steve-Tod Can you check the spelling on your `validation_step` function? If you copy pasted, then it's slightly off. It is kind of annoying that misspellings here create silent errors.

[2021-07-15 17:07] akshaylive opened #8432 "Potential bug in validation_epoch_end"
## 🐛 Bug

To start with, I'm not sure if this is a bug or a feature. Here are the details:

1.  I am fine tuning a large model, and my validation data is quite large. I need to batch during validation as well. Validation data is fetched using a *single* dataloader.
1. In `validation_step`, I am returning a tensor (the return type doesn't really matter).

### Expected behavior

In `validation_epoch

[2021-07-15 17:08] dhairyadalal commented on #8393
Unfortunately no improvement with the scheduler set to a step interval. It's worth noting that removing the scheduler entirely from the manual loop doesn't really affect performance either. However, removing mixed-precision training does result in convergence failure. Perhaps there's an issue with the mixed-precision setup in my code for pytorch-lightning implementation?

https://colab.research.go

[2021-07-15 19:07] sid-sundrani commented on #3336
I was trying to train on multiple dataloaders. Not sure why, but when I fit the trainer again with a new data loader it seems to train on the old dataloader. Number of steps displayed in the former fit is equal to the latter even if its a much smaller dataset

[code]

[2021-07-15 21:18] SeanNaren commented on #8393
I made a few adjustments (and moved it to a script) and it seems to give me a reasonable accuracy!

First thing when I moved it to a script I noticed in `configure_optimizers` the reference to `model` isn't `self.model`. Not sure if this was something weird but I changed it so the `configure_optimizers` function looks like this:

[code]

I also noted in your test code you set the lightning module

[2021-07-15 21:33] awaelchli opened #8435 "rework dataloader reset logic in Trainer"
## 🐛 Bug

The `reset_{train,val,test}_dataloader` in Trainer does not work as intended and leads to silent errors and side effects.

The problematic lines of code are here: https://github.com/PyTorchLightning/pytorch-lightning/blob/176df202e4e1e5f5101914929f0f3a3608c41f94/pytorch_lightning/trainer/data_loading.py#L447
where a None check prevents attaching the new dataloader.

## Please reproduce u

[2021-07-15 21:33] awaelchli commented on #3336
Yes that's odd, I know. But it's because of these lines of code:
https://github.com/PyTorchLightning/pytorch-lightning/blob/176df202e4e1e5f5101914929f0f3a3608c41f94/pytorch_lightning/trainer/data_loading.py#L447

Here, if trainer has already attached dataloader(s) from a previous fit, it will not reset them.

If you set
`trainer.train_dataloader = None`
directly after fit() you will see the proble

[2021-07-15 21:33] awaelchli commented on #3336
I created an issue for this here: #8435

[2021-07-15 21:35] awaelchli commented on #8369
Related: #8435

[2021-07-15 21:51] awaelchli commented on #8432
I'm seeing the following behavior, on master and 1.3.8:

[code]

Does it make sense like this?
The list has 5 elements in validation and 10 elements in training.

[2021-07-15 21:52] awaelchli commented on #8432
Can you clarify what you mean by "batched validation".
I'm missing the obvious here. Please feel free to adapt my code sample to make it brake the assertion.

[2021-07-15 21:57] awaelchli commented on #8431
That's because you are looking at the docs under "latest" which is the development version. On the master branch, there is a run_name argument but 1.3.x does not have that. You are probably using Lightning 1.3.x.
If you want, you can install Lightning rc0 to test the features before the 1.4 release.

[2021-07-15 21:58] awaelchli commented on #8431
Here are the docs for the stable version (1.3.x) https://pytorch-lightning.readthedocs.io/en/stable/api/pytorch_lightning.loggers.mlflow.html

[2021-07-15 22:04] awaelchli commented on #8395
Hi, where do you get `AttributeError`?
Could you please post the full error trace so we can see where it originates from?

[2021-07-15 22:12] awaelchli commented on #8394
Was it solved by this PR?
https://github.com/PyTorchLightning/pytorch-lightning/pull/8017
I think this is not yet in any bugfix release. You could try to see if you issue is fixed with the master branch :)

[2021-07-15 22:47] calebrob6 commented on #8343
I noticed the sub-optimal implementation of `model_size` and came up with two (maybe better) options:

[code]

[code]

I would be happy to do this in a utility function!

[2021-07-16 00:38] anik123 commented on #8395
@awaelchli Thanks for your reply. It actually giving because for loop doesn't wait to finish ``trainer.fit()`` to finish. It goes for another round while the previous ``trainer.fit()`` was still running.

[2021-07-16 00:56] anik123 commented on #8395
Here is the error @awaelchli

[code]

[2021-07-16 01:28] tgisaturday commented on #8358
@zcain117 @kaushikb11 Fixed. Replacing xla.sample generator with native pytorch dataset class and using LightningDataModule solves memory OOM happening with large pod + large image input size.

[2021-07-16 04:22] sid-sundrani commented on #8431
Okay got it. Thanks for clarifying

[2021-07-16 04:23] #8431 closed

[2021-07-16 08:59] awaelchli commented on #8435
Looks like the bug was introduced here #7207 while trying to fix something else.

A simple fix could be to detach all loaders from trainer when fit() etc. ends.
cc @ananthsub

[2021-07-16 09:56] awaelchli commented on #8369
I believe this is user error. Let me know if I'm wrong.

@jwallat you are passing a dataloader into another dataloader:

[code]
where val is defined a few lines above as:

[code]

Could you confirm whether this is your intention or not?

[2021-07-16 10:31] awaelchli commented on #8387
@collinmccarthy if you can send a draft PR with your proposed solution, that would be great and I will be happy to take a look :)

I don't think we call step_end() methods in DDP though. Maybe we should. If there is an edge case why we can't do that, I forgot about it but can't think of a reason right now.

[2021-07-16 10:34] Borda commented on #5491
@carmocca can you point me out to the test we could mirror here?
also in such case, we would probably need to use realistic dataset not random... :rabbit:

[2021-07-16 11:26] awaelchli commented on #8395
I see this in your error:

[code]

is this problem only happening in ipython?

I tried to reproduce in IPython with the bug report model like so:

[code]

and it works fine, one fit runs after the other.

Does your `client['model']` define an optimizer? Is it a valid LightningModule?

[2021-07-16 11:31] awaelchli commented on #8395
And what does this do?

[code]

the optimizer here won't be used by Lightning, because Lightning takes what `LinearNN.configure_optimizers` returns.

[2021-07-16 11:34] awaelchli commented on #8395
Could you please take this template here and adapt it to reproduce the issue?

[code]

[2021-07-16 11:54] anik123 commented on #8395
Thanks for your help.

[code]

init

[code]

calling

[code]

[2021-07-16 12:07] carmocca commented on #5491
I don't have something specific, we could use one in `tests/models/test_restore.py` as a template.

IMO the test for legacy testing should have a few common use cases like

- saving hparams
- logging something
- checkpointing
- early-stopping
- resuming from checkpoint

to try to cover as much as we can

But I don't think it should use MNIST, we can use random data and not test the loss

[2021-07-16 12:09] awaelchli commented on #8430
Hi @maxjeblick
I was able to take your jupyter script and convert it to a regular script:
[code]

I get the output

[code]
which I think shows that we have no memory leaks. In your example you did the garbage collection too early when the trainer reference count is still > 0 inside the function where you garbage collect, so it won't delete the Trainer.

Do these findings as a baseline make sense?