[2021-09-27 09:30] awaelchli commented on #9683
Here is a smaller, synthetic repro example:

[code]

The assertions hold, but the progress bar logging (and tb logging) do not show the same values. It is clear that the tracking for the loss of the individual dataloader_idx parts do not get reset from one epoch to the next. Instead, they keep aggregating.

[2021-09-27 12:30] lucmos opened #9716 "AttributeError with LightningModule forward without Trainer"
## 🐛 Bug

LightningModule with Lightning 1.4 assumes to always have the `self.trainer` **not** `None`. No issues with 1.3

### To Reproduce

[code]

Outputs:
[code]

### Expected behavior

If the Trainer and/or logger are not defined, the `log` and `log_dict` calls should be only ignored.

### Environment

[code]

### Additional context

The problem is caused by this line:

https://github.com/PyTo

[2021-09-27 12:47] rohitgr7 commented on #9716
[code]
`log_dict` is something specific to lightning which is handled by trainer and loggers. So I guess a trainer is required here?

[2021-09-27 12:53] lucmos commented on #9716
My use case is to re-use the same `LightningModule` code for training (with the trainer and loggers) and inference/predictions (without the trainers and loggers)

[2021-09-27 12:54] carmocca commented on #9716
Previous answer on this:

https://github.com/PyTorchLightning/pytorch-lightning/issues/8509#issuecomment-926244005

[2021-09-27 13:06] rohitgr7 commented on #9716
seems reasonable. just curious, if you are logging inside forward function then how are you differentiating the log keys since forward will be used for training/validating/testing I assume?
you can actually prevent it if you want by simply not calling log_dict during inference using some sort of boolean argument.

[2021-09-27 13:15] tchaton commented on #9636
Dear @zhaoedf,

You might want to check this out: https://github.com/PyTorchLightning/lightning-flash/blob/master/flash/image/classification/integrations/baal/loop.py#L31

Lightning 1.5 would support Loop Customisation as an early feature.
Here is how to use it: https://github.com/PyTorchLightning/lightning-flash/blob/master/flash_examples/integrations/baal/image_classification_active_learning.py#

[2021-09-27 13:20] carmocca commented on #9445
You raise good points, Danielle. My proposal would be to keep things as they are right now, fix existing broken tests (you are on this already!), reduce flakiness, etc. Then, as our confidence in the CI increases, we can start marking things as required.

[2021-09-27 13:24] carmocca commented on #9716
Actually, calling `self.log` or `self.log_dict` inside `forward` is highly discouraged. `forward` should be kept a pure function to compute the network's outputs. Please call it in one of the `*_step` functions instead! That's exactly what they are for.

It will use the `*_step` method name that called `forward`

[2021-09-27 13:26] #9716 closed

[2021-09-27 13:26] TangToy commented on #3016
Hi, i use pytorch 1.7.1. When my gpu0 is almost occupied, and train a model in GPU1, if i try:
[code]
It will still cause “RuntimeError: CUDA error: out of memory”.
However, remove torch.empty_cache(), everything work well.

[2021-09-27 13:33] #9661 closed

[2021-09-27 15:36] tchaton commented on #6346
Hey @rohitgr7,

Interesting. It is a great point !

I like the option 2.

@ananthsub @carmocca Any thoughts ?

Best,
T.C

[2021-09-27 15:38] carmocca commented on #9713
Hi @qqueing

See my previous response: https://github.com/PyTorchLightning/pytorch-lightning/issues/8887#issuecomment-899055840. A way for us to reproduce the issue is necessary to fix it.

Until then, I'll have to close this issue again. If you can provide the code and your exact environment so that it's reproducible, then we will re-open and look into this.

[2021-09-27 15:38] #9713 closed

[2021-09-27 15:40] carmocca commented on #9705
It's probably better that you raise this issue in https://github.com/intake/filesystem_spec

[2021-09-27 15:55] #9695 closed

[2021-09-27 16:15] carmocca commented on #9714
What is the failure exactly? I don't see any assertion failing

[2021-09-27 16:16] #9683 closed

[2021-09-27 16:22] eladsegal commented on #9714
The failure is not expressed via an assertion, but you can see it in the output prints:
https://colab.research.google.com/drive/1F9wFN2pZy55pBW_PQLLbWtKh11dLOsuq#scrollTo=4Dk6Ykv8lI7X

Failure is when training/validation steps not running at all when resuming.

[2021-09-27 18:37] daniellepintz commented on #9445
Sounds great, I will continue working towards that!

[2021-09-27 19:36] #9644 closed

[2021-09-27 20:58] awaelchli commented on #9641
You can run your script with `NCCL_DEBUG=WARN` to see if there is anything wrong with the nccl communication. Can you also verify gloo works?

[2021-09-27 22:48] daniellepintz opened #9726 "[RFC] Deprecate `log_every_n_steps` from Trainer"
## Proposed refactoring or deprecation

Deprecate `log_every_n_steps` from Trainer and make it available as a parameter to loggers that have this capability.

### Motivation

Same reasons as #8991. How often to log should be considered an internal implementation detail of each logger

### Pitch

Deprecate `log_every_n_steps` from Trainer, and move it to the init for logger classes that support thi

[2021-09-28 00:11] jinyoung-lim commented on #9636
I can take a stab at this.

[2021-09-28 01:57] s-rog commented on #8948
Re-opening as the PR was reverted for an unintended side effect.

[2021-09-28 07:05] bamblebam commented on #8945
What exactly should I add to the logger docs ?
Just a note saying, call the ```self.trainer.log_dir``` instead of ```self.logger.log_dir``` or something else ?
And are the logger docs a good page for this, Ig this would be better in the Trainer docs

[2021-09-28 07:44] lucmos commented on #8509
Hello, replying to https://github.com/PyTorchLightning/pytorch-lightning/issues/9716#issuecomment-927872310

That was a just mwe. My use case is to write unit tests for different methods of the model (`forward`, but also the `*step` and others).
 With Lightning `1.4` it is not possible to test the model without instantiating also the `Trainer` (which arguably wouldn't be a unit test)

Another use

[2021-09-28 07:53] wwx13 commented on #702
I wonder what if different process dataloader have different num of batch to iter? Will dis.barrier() stuck never stop?

[2021-09-28 07:54] wwx13 commented on #702
y

My code shows it will stuck: dist.barrier,  how to slove it?  Can anyone help m?

[2021-09-28 11:51] tchaton commented on #9726
Sounds good to me !

@edenlightning ?

[2021-09-28 12:19] nfsergiu commented on #3175
This is still not fixed in v1.4.8. I was lucky to find this thanks to @rbracco's comment above.

[2021-09-28 12:31] awaelchli commented on #9726
It's not an internal implementation detail of a logger end point. It applies to the Trainer and its logging infrastructure because this setting determines how often logs are sent to the logger. I vote against removing this argument.

[2021-09-28 16:03] alanhdu commented on #9674
@tchaton

I'm not sure I'm qualified! I don't know too much about the Lightning's design and what the appropriate ways to unit-test the different hooks are.

@carmocca

Yeah, this makes a lot of sense to me, and for `log` I agree that a simple mock patch should work well.

[2021-09-28 16:56] awaelchli opened #9737 "RFC: Change input format of `training_epoch_end` hook in case of multiple optimizers or TBPTT"
## Proposed refactoring or deprecation

Change the format in the outputs that the `training_epoch_end` and `training_step_end` hooks receive. This is a breaking change and requires careful deprecation. It will affect users with either multiple optimizers or truncated backprop IF they also implement the aforementioned hooks.

### Motivation

When using multiple optimizers or truncated backprop (or

[2021-09-28 17:04] #9655 closed

[2021-09-28 19:03] JulesGM opened #9739 "There should be a warning or an exception if using `amp_backend="native"` and setting an `amp_level` (it doesn't use it)"
## 🚀 Feature
There should be a warning or an exception if using `Trainer(amp_backend="native")` and setting a value to the `amp_level` argument (of `Trainer`).

### Motivation
It's not obvious for someone who hasn't looked into the code or who knows a lot about Apex that using Pytorch's native amp backend that the amp_level argument will have no effect, giving a false understanding of what is actu

[2021-09-28 19:06] ninginthecloud commented on #9636
Cool, @jinyoung-lim, do you want to work on this issue? Let me know, and I will assign it to you, thanks~

[2021-09-28 19:06] JulesGM commented on #9739
To keep the default `amp_level` behavior, the default of `amp_level` could be `None` in the constructor and set to `O2` after `amp_backend` has been verified to be `apex`. Afaik this is a pretty standard way of doing things.

[2021-09-28 21:41] ninginthecloud commented on #9636
@tchaton  I'm interested to know more about Loop Customization feature! Any plan and doc associated? Specifically, what's the goal to have customized loop vs extending current base loop in lightning?

[2021-09-28 21:56] jinyoung-lim commented on #9636
Yes! Feel free to assign to me :).

[2021-09-28 22:42] yifuwang opened #9741 "Introduce a mechanism to allow for production environment specific default plugins"
## 🚀 Feature

### Motivation

Large organizations typically have a set of plugins that everyone uses. For example, custom Checkpoint/TensorBoardLogger plugin that's tightly integrated with the organization's infra, or observability plugins to facilitate the monitoring of Lightning's usage within the organization. The instantiation of these plugins are essentially boilerplate copied from one projec

[2021-09-28 23:03] ninginthecloud commented on #9636
Thanks for working on this issue @jinyoung-lim 😃! Feel free to tag me if you have any questions~

[2021-09-28 23:38] carmocca commented on #9662
@ggaemo #9254 contains a discussion on why it was closed.

Please take a look. You can directly answer there to provide any arguments you think we missed.

I will close this issue as it is a duplicate and does not contribute to the conversation. Please, try to be respectful when opening an issue.

[2021-09-28 23:38] #9662 closed

[2021-09-28 23:39] carmocca commented on #5245
Hi all! Just found this issue now.

#9254 contains a discussion on why this hasn't been implemented.
Please take a look. You can directly answer there to provide any arguments you think we missed.

[2021-09-29 00:13] carmocca commented on #9663
Thanks, @messier202! The repo was very helpful.

The error message is not the best, but you are not passing the correct `parser_kwargs` format. It should be

[code]

(assuming you want to use those settings for `trainer.fit`)

This is explained at the bottom of [this section](https://pytorch-lightning.readthedocs.io/en/latest/common/lightning_cli.html#use-of-command-line-arguments) (Ctrl+F `parser

[2021-09-29 00:13] #9663 closed

[2021-09-29 06:50] jinyoung-lim commented on #9636
Hi all - I raised my initial PR (linked above). Would love some feedbacks! Also, some test cases (specified below) seem to be not passing and not sure how to go about debugging as there are not much context.

azure-pipelines / PL.pytorch-lightning IPU build failing on
[code]
which seems like a rebase error.

CircleCI Checks / ci-tests TPU-tests failing on (could not find an apparent error
[code]

[2021-09-29 07:06] Borda opened #9752 "SWA callback takes more memory at the last epoch -> crashing"
## 🐛 Bug

 found quite annoying that the SWA at the last epoch needs more memory, which results in crashing all training at the very end... :confused:

### To Reproduce

https://www.kaggle.com/jirkaborovec/brain-tumor-classif-lightning-efficientnet3d/edit/run/73264784

### Expected behaviour

thinking about lowering batch size for the last epoch within the callback... other thoughts?

### addition

[2021-09-29 08:01] zhaoedf commented on #9636
could you provide me with more info, cos i can't find anything about "Active loop" in lightning-flash docs.
Besides, does lightning-flash work well with pytorch-lightning? is it compatible？

[2021-09-29 08:24] popfido commented on #8821
Hi @carmocca,

This scene happends when I call `pl.LightningModule.log` in its training step and leave a Metric to record like `log.('xxx', MetricEntity). But call it in `log.('xxx', MetricEntity.compute())` works.

[2021-09-29 08:46] aleSuglia commented on #5285
@tchaton I tried installing the latest version from pip and logging in `on_validation_end()` doesn't work. Ideas?

[2021-09-29 08:57] tchaton commented on #9636
Dear @zhaoedf,

Lightning Flash is built on top of Lightning and built by the same team, so yes it should work fine :)

Here is the documentation about it: https://lightning-flash.readthedocs.io/en/latest/integrations/baal.html

Here is the code https://github.com/PyTorchLightning/lightning-flash/tree/master/flash/image/classification/integrations/baal

Best,
T.C

[2021-09-29 09:03] zhaoedf commented on #9636
that is for active learning, fight? can i directly use it for incremental learning? if not, how can i custom my own loop to fit the need of incremental learning?

[2021-09-29 10:22] tchaton commented on #9636
Dear @zhaoedf,

Yes, this is for ActiveLearning.

Yes, I believe it could be adapted for Increment Learning:. Here is the main loop within the Seequoia codebase: https://github.com/lebrice/Sequoia/blob/c2174cde7370fc42e6ebc35ce07ada571b2b265d/sequoia/settings/assumptions/incremental.py#L176

Here is the in progress doc for the Loop Customization: https://131437-178626720-gh.circle-artifacts.com/0/

[2021-09-29 10:24] zhaoedf commented on #9636
wow, these links really help me a lot. i will look into it. i will get back to you if i have any problem.
Thanks a lot!

[2021-09-29 13:32] carmocca commented on #9462
I had a look but this is really tricky because testing runtime is inherently flaky.

The only options I see are:
- Remove these tests.
- Mark them to be re-tried on failure (just reduces the flakiness but it's still there)

[2021-09-29 13:37] tchaton commented on #9741
Dear @yifuwang,

I believe the LightningCLI could actually helped there as we recently introduced registries.

Best,
T.C

[2021-09-29 19:21] yifuwang commented on #9741
Hi @tchaton, we use a set of heavily customized solutions for scheduling, peer discovery and process hierarchy management so LightningCLI is not an option for us. Though I wonder if the registry itself can be reused for this purpose. Can you share a pointer?

[2021-09-29 19:54] awaelchli commented on #9462
Thanks for taking a look. Let's try the second option and see if that helps. If not we can later consider the first option.
Was reading here about handling flakiness with pytest: https://docs.pytest.org/en/latest/explanation/flaky.html
So looks like we would need to use one of the plugins listed there.

Also very interesting:

Could be something to try in the future.

[2021-09-29 21:03] kaushikb11 commented on #9741
@yifuwang You could check out the [Plugins registry](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/plugins/plugins_registry.py) as well.

[2021-09-30 00:42] cowwoc commented on #9385
Per https://github.com/pytorch/pytorch/issues/64766#issuecomment-930467482 it doesn't sound like they plan to add an explicit shutdown API. I'll keep on eye on this ticket and try `gc.collect()` once your changes are merged.

[2021-09-30 01:55] carmocca commented on #5285
Re-opening and assigning myself. We can add support for this now.

[2021-09-30 02:31] carmocca commented on #9462
Okay. Should be easy enough. I'd use `https://github.com/pytest-dev/pytest-rerunfailures` which seems to be the most popular.

We can also mark this as a "good first issue" if you want.

[2021-09-30 02:46] awaelchli commented on #9462
yup!

[2021-09-30 04:21] carmocca commented on #9752
Closing in favor of #9441. We need to explore what is really causing the increase.

[2021-09-30 04:21] #9752 closed

[2021-09-30 04:21] carmocca commented on #9480
Closing in favor of #9441

[2021-09-30 04:21] #9480 closed

[2021-09-30 04:40] #9164 closed

[2021-09-30 04:40] #9544 closed

[2021-09-30 05:24] anonymousocean commented on #1598
I've encountered this issue when my validation batch is greater than 1. I have no idea how or why this works but replacing
[code]
with

[code]

is able to silence the error.

(Apologies for the low effort comment. Hope this helps.)

[2021-09-30 05:24] jinyoung-lim commented on #9372
i can take a look at this issue if no one has started yet.

[2021-09-30 05:25] atharvas commented on #1598
I've encountered this issue when my validation batch is greater than 1. I have no idea how or why this works but replacing
[code]
with

[code]

is able to silence the error.

(Apologies for the low effort comment. Hope this helps.)

[2021-09-30 08:59] quancs opened #9767 "The training loss on tensorboard is half of the one on progbar when accumulate_grad_batches=2"
## 🐛 Bug

The training loss on tensorboard is half of the one on progbar when accumulate_grad_batches=2

I guess it's because training loss is divided by `accumulate_grad_batches` instead of average over `accumulate_grad_batches` batches, but I'm not sure

### To Reproduce

### Expected behavior

The training loss on tensorboard should equal to the one on progbar

### Environment

- PyTorch Lightn

[2021-09-30 10:19] zzomg commented on #9348
UPD: it seems the issue with strange file sizes was because `optimizer_states` were empty in the smaller file (probably because of the small steps number), model weights  were fine though.

[2021-09-30 10:19] #9348 closed

[2021-09-30 11:38] FlorisFok commented on #9493
I had this issue and I needed to just import transformers as a whole in the script where the issue occurs.
Solution: `import transfromers`
as the line of error is simply : `_TRANSFORMERS_AVAILABLE: bool = _module_available("transformers")`

[2021-09-30 12:24] kpoeppel commented on #1840
I would still be interested in this feature. Any suggestions on where to start for a PR?
This issue is also related to #2208

[2021-09-30 13:28] breznak commented on #9136
Hi, I'm having the same issue on Linux / x86_64 arch, using a single trainer (I'm running the task through PyCharm IDE).

[code]

Using `SimpleProfiler` passes ok, I'm using a few callbacks including ModelCheckpoint, EarlyStopping,...

[2021-09-30 13:58] FrancescoSaverioZuppichini commented on #9252
I would like to raise this again, this issue is not solved and should be correctly addressed. Thank you

[2021-09-30 14:36] kaushikb11 commented on #9399
@karlfroldan Are you still facing the issue?

[2021-09-30 15:20] carmocca commented on #9252
Do you mind sharing a snippet of what you are trying to do and what do you expect to happen?

If I understand your ask, you want to reduce it but keep it 2D, correct?

[2021-09-30 16:33] SeanNaren opened #9771 "DeepSpeed & Lightning are both calling the scheduler"
## 🐛 Bug

A user in our slack channel noticed that the scheduler step is being called by DeepSpeed and Lightning. Lightning should not call this, and DeepSpeed should be in control.

### To Reproduce

This test fails!
[code]

### Expected behaviour

Above should succeed. I also see there may be an issue with `test` also calling the step function internally in DeepSpeed, but thats for a different i

[2021-09-30 17:44] awaelchli commented on #9767
Hey @quancs
I will double check your observation. But we only log to the logger on optimizer steps (so at the end of accumulation phases) while the progress bar shows every update (although a smoothed value over a window of a few steps).

If I understand correctly:
[code]
Will do two things:
Logger will show the values in a plot "train_loss" as they are logged there on every optimizer step, no mod

[2021-09-30 18:03] awaelchli commented on #9771
Does does plugin need to wrap these schedulers in order to prevent the duplicate step call? Do you see another solution?

[2021-09-30 18:09] quancs commented on #9767
@awaelchli
For my case, the training loss on tensorboard is approximately 6, the training loss on prog bar is approximately 12, the validation loss on tensorboard is approximately 12, the test loss is approximately 12. (PL version 1.5.0dev)
Hope this will help

[2021-09-30 18:20] michalivne opened #9772 "`pl_module.log(name, value)` does not work in `on_*_batch_end` hooks"
## 🐛 Bug

Logging in Trainer callbacks does not seem to log any value into WandB.
The code has been validated to call the relevant callbacks during training, and to call the `pl_module.log(...)` method, but without any value being logged. The same callbacks, when implemented inside pl_module, do log the value.

This bug has been observed when working on <https://github.com/NVIDIA/NeMo>,
and might

[2021-09-30 18:37] SeanNaren commented on #9771
@awaelchli what do you mean by wrap? I need to investigate what is happening internally, as I think from my initial glance we don't save the LR states outside of deepspeed, so I wonder if there is any point exposing the LR scheduler outside of deepspeed (in lightning)

[2021-09-30 23:17] awaelchli commented on #9772
In [this section](https://pytorch-lightning.readthedocs.io/en/latest/extensions/logging.html#automatic-logging) of the docs it says:

There is no mention of `on_*_end` hooks, so this is expected to work.
Here is a working example based on your code:

import os

import torch
from torch.utils.data import DataLoader, Dataset

from pytorch_lightning import LightningModule, Trainer

from pytorch_lightn

[2021-09-30 23:53] michalivne commented on #9772
Thanks for the quick reply @awaelchli !
Let me check my logging parameters, that might be the issue.
Will close the issue once tested.

[2021-09-30 23:57] ananthsub opened #9778 "Mark the trainer's connectors as protected"
## Proposed refactoring or deprecation

Mark these attributes of the Trainer as protected:
https://github.com/PyTorchLightning/pytorch-lightning/blob/ab207921b9149a2c20ff9f797b6381f61cb09b1e/pytorch_lightning/trainer/trainer.py#L389-L419

### Motivation

We are auditing the Lightning components and APIs to assess opportunities for improvements:
- https://docs.google.com/document/d/1xHU7-iQSpp9KJTj

[2021-10-01 00:06] michalivne commented on #9772
Setting the logging parameters indeed solved the problem.

[2021-10-01 00:07] #9772 closed

[2021-10-01 01:20] awaelchli commented on #9778
I agree overall with this choice. For most connectors this will be fine because they are only accessed by the trainer itself.

However I want to comment on the perspective of "protectedness" mentioned here. I see the value of protected members in the encapsulation of functionality rather than the reduction of exposure to users. Hence I would only do it for the connectors that are actually not acce

[2021-10-01 01:22] carmocca commented on #9772
Hi!

Logging this with `on_step=False, on_epoch=True` (default) is supported. But the values will not be accessible until the end of the epoch.

You can verify this by checking `trainer.callback_metrics` in the `on_train_epoch_end` hook.

Would users expect that values logged in these have those defaults set? Changing this could be problematic in terms of backwards compatibility

[2021-10-01 01:24] michalivne commented on #9772
Perhaps raising a warning in cases where the logging is behaving in a less intuitive manner (such as this case) might help other users in the future?

[2021-10-01 01:46] ananthsub commented on #9778
I agree. The underlying motivation here is to enable the refactoring of these connectors. Moving away from Trainer Mixins (where everything is publicly available) and public connectors is targeted first to limit their exposure in the API. This enables the next step of refactoring to happen more expediently.

This partially came up based on https://github.com/PyTorchLightning/pytorch-lightning/pull

[2021-10-01 01:52] awaelchli commented on #9778
Do we want to make also a separate issue for ideas how we want to refactor connectors? I would like to comment on that as well. I think we can also cleanly separate the discussion and refactor efforts for connectors and mixins as they are not really related I think.

[2021-10-01 03:04] daniellepintz commented on #9778
Yes! I was about to bring that up, before we start sending a bunch of PR's to mark connectors as protected, we should talk about what refactoring we want to do for connectors. I added a bit about that to the architecture doc, but can I can file an issue and we can discuss there!

[2021-10-01 03:40] hankyul2 opened #9781 "Change instantiate_class() signiture"
## Proposed refactoring or deprecation

I want to propose to change `pytorch_lightning.utilities.cli.instantiate_class()` signiture. (original code [here](https://github.com/PyTorchLightning/pytorch-lightning/blob/ab207921b9149a2c20ff9f797b6381f61cb09b1e/pytorch_lightning/utilities/cli.py#L769))

This is original code

[code]

This is proposed code

[code]

### Motivation

1. Original `instantiate

[2021-10-01 03:41] ananthsub opened #9782 "Update quantization imports for `torch.ao.quantization` in PyTorch 1.10"
## Proposed refactoring or deprecation

Update the imports in the Lightning Quantization callback to `torch.ao.quantization`

### Motivation

Quantization in PyTorch 1.10 is moving under the `torch.ao` module namespace:
https://github.com/pytorch/pytorch/blob/3d6d4f4322e42886349b822449b9e439fac89ae2/torch/quantization/quantize.py#L2-L8

Lightning users on PyTorch 1.10+ shouldn't see any deprecatio

[2021-10-01 05:59] tmachnitzki opened #9784 "Multi GPU training docs should show batch-size behaviour"
I am fairly new to multi-GPU training, and it took me quite a while to understand that when using DDP the effective batch size scales with `num_gpus * batch_size`.
In fact, I thought that the batch-size that I provide to the lightning data module would be divided by the number of GPUs so that I often ran into memory errors.

Maybe this could be more clarified in the docs. https://pytorch-lightning

[2021-10-01 06:18] ninginthecloud opened #9785 "Replace ValueError with warning in `has_len()`"
## 🚀 Feature

### Motivation

`has_len()` in data.py checks if dataloader has `__len__` method implemented.
When dataloader has zero length, it raises a ValueError (see code). Recently, we got task from users brought up that when dataset has fewer samples than number of ranks, sampler would split the dataset unevenly, and sometimes 0 batch on certain ranks is inevitable. This ValueError blocked th

[2021-10-01 06:19] ninginthecloud commented on #9785
cc: @awaelchli @tchaton @ananthsub

[2021-10-01 06:42] theory-in-progress commented on #9782
Hey @ananthsub , I'd like to work on this issue of refactoring the code from torch to torch.ao module namespace, could you please assign it to me and if possible could you provide some more context and elaborate on how to work on the issue? Thanks!

[2021-10-01 08:02] R2D2oid commented on #9318
I see this issue in version `0.4.1`
[code]

[2021-10-01 08:13] tchaton commented on #9785
Here are my suggestions.

raise a MisConfiguration if the total length across all ranks is 0.

raise a warning if the total length isn't 0, but it is on 1 process.

However, this would very likely result in hanging during the backward pass on the all_reduce operation as Lightning doesn't support uneven batches yet.

I still believe this is something for advanced users.

One extra option would be t

[2021-10-01 10:09] rohitgr7 commented on #9784
it's mentioned here: https://pytorch-lightning.readthedocs.io/en/stable/advanced/multi_gpu.html#batch-size

[2021-10-01 11:12] tmachnitzki commented on #9784
I did see that, but since I don't know what horovod is, I did not know if the same thing applies to DDP only.

[2021-10-01 11:14] rohitgr7 opened #9787 "`on_train_batch_*` doesn't need `dataloader_idx`"
## Proposed refactoring or deprecation

https://github.com/PyTorchLightning/pytorch-lightning/blob/9d982080df5dbc347249eeeae3311b18b397ac54/pytorch_lightning/loops/batch/training_batch_loop.py#L79
https://github.com/PyTorchLightning/pytorch-lightning/blob/9d982080df5dbc347249eeeae3311b18b397ac54/pytorch_lightning/loops/epoch/training_epoch_loop.py#L163
right now these 2 hooks get 0 as the value fo

[2021-10-01 11:20] rohitgr7 commented on #9784
both are different actually. `accelerator="ddp|horovod"` there actually means either `ddp` training or `horovod` training.

[2021-10-01 11:52] tmachnitzki commented on #9784
Thanks a lot for clarifying that. I still think this could be made a bit easier to understand in the docs.

[2021-10-01 12:02] rohitgr7 commented on #9784
yeah sure!! do send a PR to update those if it's confusing :)

[2021-10-01 12:27] #9739 closed

[2021-10-01 13:18] cristianegea commented on #9318
I'm using a 0.5 version

De: Zahra Vaseqi ***@***.***>
Enviada em: sexta-feira, 1 de outubro de 2021 05:03
Para: PyTorchLightning/pytorch-lightning ***@***.***>
Cc: Cristiane Gea ***@***.***>; Mention ***@***.***>
Assunto: Re: [PyTorchLightning/pytorch-lightning] dictionary update sequence element #0 has length 1; 2 is required (#9318)

It's possible something went wrong with the downgrade. @crist

[2021-10-01 14:35] #9771 closed

[2021-10-01 17:31] ananthsub commented on #9785
@ninginthecloud to clarify, is this only for evaluation? Or does this check apply to training too?

Uneven batches in validation also means the user needs to take extra precaution around syncing state, such as metrics. I think we ought to include that in the warning, as D2go handles this but others might not.

[2021-10-01 18:12] R2D2oid commented on #9318
Thanks for the reply! switching to version `0.5.0` did not resolve the issue either!

[2021-10-01 18:43] ananthsub commented on #9782
Hi @theory-in-progress , thanks for your interest! The pitch describes what we can do to safely transition to the new import path. Feel free to send a pull request and we'll be happy to review it 😄

[2021-10-01 19:26] cowwoc opened #9794 "Set torch.nn.utils.clip_grad_norm_(error_if_nonfinite=True) if Trainer.terminate_on_nan is True"
Currently, if a user sets Trainer `gradient_clip_val` to a non-zero value and `terminate_on_nan=True` then `PrecisionPlugin.clip_grad_by_norm()` invokes `torch.nn.utils.clip_grad_norm_(parameters, clip_val)` without setting `error_if_nonfinite=True`.

It stands to reason that if the user set `terminate_on_nan=True` then he wants us to set `error_if_nonfinite=True` when invoking `torch.nn.utils.cli

[2021-10-01 21:33] ananthsub commented on #9794
@cowwoc - one proposal has been to use torch.autograd.detect_anomaly instead of lightning's terminate on nan: #8313

do you know if this context applied over fitting would automatically cover this case of nan gradients?

[2021-10-01 22:27] cowwoc commented on #9794
I'm fine with unifying this with `torch.autograd.detect_anomaly`. We could have a single debug flag that triggers all these checks at once.

Sorry, I don't understand the question.

[2021-10-01 22:45] #9050 closed

[2021-10-01 22:45] #9063 closed

[2021-10-01 22:45] #7899 closed

[2021-10-01 22:45] #9008 closed

[2021-10-02 08:24] ranran9991 opened #9798 "Expose strict argument to model loading in trainer.tune"
## 🚀 Feature

Recently, the strict argument was added to model checkpointing (in [here](https://github.com/PyTorchLightning/pytorch-lightning/issues/2629)).

Using a trainer with` auto_lr_find=True `and calling `trainer.tune` still loads a save of the model, without the option of a `strict ` argument.

My use case is pretty complicated and involves Hyper Networks,  but I'm running into an error wh

[2021-10-02 12:08] awaelchli commented on #9787
Yes! Thanks for making this issue. I noticed this also the other day. This is very strange indeed. It should actually be the optimizer_idx and not the dataloader idx.

[2021-10-02 12:10] awaelchli commented on #9787
I believe we should remove it

[2021-10-02 12:20] awaelchli commented on #9785
@ananthsub the check applies for training too. The `has_len` check happens in `reset_train_dataloaders` in `data_loading.py`.

I think we can do what @tchaton suggested to compute the length over all ranks.

[2021-10-02 12:33] nickums commented on #4070
alexy  I have tensorflow 2.6.0 so reinstall does nothing, and I do not want to go down the tianshow rabbit hole. suggested.

[2021-10-02 20:45] cowwoc opened #9799 "AMP scaler always causes backwards pass to overflow"
Looking at the testcase found below and the discussion at https://discuss.pytorch.org/t/layernorms-grads-become-nan-after-first-epoch/133292/9 it sounds increasingly likely that there is a bug in version Lightning 1.4.9's AMP implementation.

If you walk through the code between the end of `forward()` and the beginning of `backward()` you will see that grad_scaler.py:165 gets invoked: `return outp

[2021-10-02 23:42] twsl opened #9801 "Horovod MisconfigurationException"
## 🐛 Bug

It is possible to start training with PL on horovod without horovodrun.

E.g. Databricks has it's own proprietary [HorovodRunner](https://github.com/databricks/spark-deep-learning), which allows starting distributed training from interactive environments by wrapping a method.
If this method includes the initialization of the trainer, I can bypass the `MisconfigurationException`, but if I

[2021-10-03 08:57] awaelchli commented on #9701
Hi @eladsegal
Apologies for the late response. Thanks for sending the PR and the test.
Note, calling `save_hyperparameters()` in a super class constructor is suboptimal. If the signature of the subclass and the super class differ, then the union of these set s of arguments will be collected. Instantiating an object either from the super class or from the subclass will be problematic (this limitati

[2021-10-03 13:20] rongcuid commented on #9453
Same. The scheduler replaces any old scheduler, but LRMonitor does not seem to get updated, and instead just logs the last step's learning rate.

[2021-10-03 15:21] celsofranssa opened #9806 "Optimization in a dual encoder LitModel"
Hello,

Currently, I am working in a Lit Model, which has two encoders. Each of them has its optimizer, scheduler, and loss, as shown below:

[code]
My intention is to update each encoder in alternate steps (even steps: `x1_encoder`; odd steps: `x2_encoder`).
After reading the documentation, it was not clear to me how it would be possible to update the parameters of each encoder from the loss of e

[2021-10-03 16:07] awaelchli commented on #9799
Hi @cowwoc If you think this is caused by unscaling not being applied before gradient clipping, you can try to upgrade Lightning to 1.4.9 which has this fixed.

At the beginning of training, in the first few iterations it can happen that the grads become inf or nan. AMP will skip the `optimizer.step()` in that case and adjust the scale factor iteratively until it converges to a point where that do

[2021-10-03 16:10] awaelchli commented on #9798
Thanks for the feature request. Such an addition to the tune() method would also have to generalize to the other Trainer methods that load a checkpiont, i.e., `Trainer.test()` and `Trainer.validate()` and after #9693, #9405 also `Trainer.fit()`.

[2021-10-03 16:13] cowwoc commented on #9799
Interesting. It would be really helpful to mention this in the documentation somewhere, and link to it from the `Trainer.precision` constructor description.

So, if I understand you correctly... If suspect something is wrong with my code (I get errors with `torch.autograd.set_detect_anomaly(False)`) and I want to investigate further then I will need to only enable `torch.autograd.set_detect_anomal

[2021-10-03 16:37] awaelchli commented on #9799
Yes I am sure. We don't release bugfixes from master, it comes from the 1.4.x branch. The release changelog was truncated, I added the missing entry for the unscale fix. Thanks for checking!

Yes I perhaps it can be mentioned in the docs but also note it's an implementation detail of the particular precision plugin.
I got my information from the pytorch docs [here](https://pytorch.org/tutorials/re

[2021-10-03 16:39] eladsegal commented on #9701
Thanks @awaelchli, I understand and agree.
My use case is pretty standard where I only pass `**kwargs` to the parent class's `__init__`, so it should be safe.

[2021-10-03 16:56] awaelchli commented on #9801
But I would very much expect so. Doesn't this line of code spawn eight processes?

Then certainly the Trainer instantiation needs to be done inside that function because that's a separate process then.
Is there something blocking you from initializing the trainer inside that function? The trainer needs to be aware of the environment and the commands above are providing that with different environm

[2021-10-03 17:09] awaelchli commented on #9806
I see two ways. I think your example is quite simple so it does not matter which way you choose in the end:

## 1) Automatic Optimization:
[code]
(and delete your overridden optimizer step method)
Reference: https://pytorch-lightning.readthedocs.io/en/latest/common/lightning_module.html#configure-optimizers (see frequency description)

## 2) Manual Optimization:
[code]
Reference: https://pytorch-l

[2021-10-03 17:10] #9806 closed

[2021-10-03 18:11] twsl commented on #9801
Yes, this spawns 8 processes.
I was just confused by the naming of the `is_interactive_compatible` method.
As far as I understand the different environment is not required for proper initialization.
Having the trainer object on the driver would allow e.g. proper plotting of the tune lr curve inside the interactive environment.
But it's probably the easiest way to just keep it the way it is to avoi

[2021-10-03 22:27] twsl commented on #9625
I experienced a similar behaviour as @cowwoc, especially in combination with `auto_lr_find=True`

[2021-10-03 23:27] cowwoc commented on #9599
I believe this is fixed in release 1.4.9: https://github.com/PyTorchLightning/pytorch-lightning/releases/tag/1.4.9

Can this issue be closed?

[2021-10-03 23:27] cowwoc commented on #9330
I believe this is fixed in release 1.4.9: https://github.com/PyTorchLightning/pytorch-lightning/releases/tag/1.4.9

Can this issue be closed?

[2021-10-03 23:28] cowwoc commented on #9205
I believe this is fixed in release 1.4.9: https://github.com/PyTorchLightning/pytorch-lightning/releases/tag/1.4.9

Can this issue be closed?

[2021-10-04 02:19] cowwoc opened #9811 "Invoke training_epoch_end before validation_epoch_end"
Looking at https://github.com/PyTorchLightning/pytorch-lightning/issues/2816#issuecomment-669336994 the current event order is:

[code]

I am expecting the following order instead:

[code]

I moved three events: `on_train_start`, `on_train_epoch` and `on_train_end`.

Justification: The training phase always completes before the validation phase begins. The old callback order does not reflect reali

[2021-10-04 02:44] vigneshwaran opened #9812 "Unable to use tpu_cores=8 on Kaggle"
## 🐛 Bug

I am not able to all cores from TPU v3-8. I am getting error, `Cannot replicate if number of devices (1) is different from 8`

## Packages:
 - torch-xla: nightly
 - lightning: 1.4.5

The issue is still unresolved which is mentioned here https://github.com/PyTorchLightning/pytorch-lightning/issues/7591#issuecomment-869208074

[2021-10-04 03:29] cowwoc commented on #2316
https://github.com/PyTorchLightning/pytorch-lightning/pull/7032/files#r632921255 contains a useful hint:

[2021-10-04 04:58] #9046 closed

[2021-10-04 04:58] #9171 closed

[2021-10-04 04:58] #9067 closed

[2021-10-04 05:21] #9599 closed

[2021-10-04 06:31] yinrong commented on #524
@TuBui can not pip install 1.5.0  how should I use it?

[2021-10-04 08:16] rohitgr7 commented on #9600
the example seems incorrect. warmup should happen after the optimizer step so that it's effect will begin from the 2nd batch. Mind send a PR to move flip it?

[2021-10-04 08:17] TuBui commented on #524
@yinrong check tchaton answer.

[2021-10-04 08:25] #9630 closed

[2021-10-04 09:41] RahulBhalley opened #9814 "Progress bar doesn't show up on Kaggle TPU with `num_workers` greater than `0`."
## 🐛 Bug

As the issue title says: the progress bar doesn't show up on Kaggle TPU with `num_workers` greater than `0`.

Disclaimer: I haven't tested this program on Google Colab TPU.

### To Reproduce

Set `num_workers` to any number greater than zero up to max CPU cores. On Kaggle, the following code sets it to `4`.

[code]

The training is successful but instead of showing progress bar the follo

[2021-10-04 12:04] Programmer-RD-AI commented on #9814
ok I will check the issue and check back

[2021-10-04 14:12] cowwoc opened #9815 "ReduceLROnPlateau needs to set "frequency" when monitoring validation metrics"
I want to change the documentation found at https://pytorch-lightning.readthedocs.io/en/latest/api/pytorch_lightning.core.lightning.html#pytorch_lightning.core.lightning.LightningModule.configure_optimizers to highlight the fact that `ReduceLROnPlateau` needs to set `frequency` if it is monitoring validation metrics and `Trainer.check_val_every_n_epoch` is not equal to 1.

I'd change:

[code]

to

[2021-10-04 16:35] Programmer-RD-AI commented on #9814
hi can you please send me the "train_dataset" that you are using. thank you

[2021-10-04 17:38] dgmp88 commented on #5555
This wont work with multiple parameter groups, but a quick fix if anyone else want to use it:

[code]

[2021-10-04 19:36] daniellepintz opened #9820 "Deprecate `accumulate_grad_batches` from Trainer constructor"
## Proposed refactoring or deprecation

Deprecate `accumulate_grad_batches` from Trainer constructor:
https://github.com/PyTorchLightning/pytorch-lightning/blob/3392215ef69b483bff82bf7b0270c2349b33a73c/pytorch_lightning/trainer/trainer.py#L143

in favor of user configuring [`GradientAccumulationScheduler`](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/callback

[2021-10-04 22:45] thiyagu-lily commented on #6106
Hi @borisdayma
Is there a work around to prevent this issue?

[2021-10-04 23:46] RahulBhalley commented on #9814
Here is the data loader function:

[code]

Here, `DATASET="../input/coco-2017/train2017/"`. This dataset can be found at this [link](https://www.kaggle.com/rahulbhalley/coco-2017).

[2021-10-05 02:04] sidml commented on #9556
@akihironitta
If anyone else is not working on this, I can make a PR fixing this.

[2021-10-05 03:03] daniellepintz opened #9822 "Poor documentation on trainer.test"
## 📚 Documentation

Copying from a user's feedback:

Hi, looking at the docs for trainer.test() function, it seems that we can pass a checkpoint_path to the function. However, it seems that if a model is fed as argument too, the ckpt_path is ignored (see source code here https://pytorch-lightning.readthedocs.io/en/stable/_modules/pytorch_lightning/trainer/trainer.html#Trainer.test).

I took me ~3

[2021-10-05 03:21] Programmer-RD-AI commented on #9814
ok thank you I will check it

[2021-10-05 06:29] daniellepintz opened #9824 "Deprecate `max_time` from the Trainer constructor"
## Proposed refactoring or deprecation
Deprecate `max_time` from the Trainer constructor
https://github.com/PyTorchLightning/pytorch-lightning/blob/3392215ef69b483bff82bf7b0270c2349b33a73c/pytorch_lightning/trainer/trainer.py#L148

### Motivation

Same motivation as #9820 and #9500.

We are trying to minimize the number of arguments on Trainer constructor: #9006
Right now we have two ways to confi

[2021-10-05 07:12] #9784 closed

[2021-10-05 07:55] borisdayma commented on #6106
Yes, a new experimental handling of multiprocessing environments is coming up and is being tested. Hopefully it will be ready this month.

[2021-10-05 08:15] rohitgr7 commented on #9815
you need to make the changes here: https://github.com/PyTorchLightning/pytorch-lightning/blob/9e621b451f521397b2703069d2faa8956507a06f/pytorch_lightning/core/lightning.py#L1207

[2021-10-05 08:40] JackCaster opened #9825 "Logged metrics and epoch counter at `on_epoch_end` are out of order"
## 🐛 Bug

I would like to print the logged metrics and the current epoch number on the console to monitor the training progress. Based on the printing callback in [Bolts](https://github.com/PyTorchLightning/lightning-bolts/blob/master/pl_bolts/callbacks/printing.py), I created my own callback using the `on_epoch_end` hook. It was working fine with pytorch-lightning `1.3.8` but I noticed some discr

[2021-10-05 09:08] carmocca commented on #9824
Since `max_time` relates to the training flow, we consider it to be in the same category as `max_epochs`, `max_steps`, etc.

Since those are not going to be removed from the `Trainer`, it would be strange to force `max_time` to be passed as a callback.

This was discussed with the wider team so we are going to close this, feel welcome to continue the discussion.

[2021-10-05 09:08] #9824 closed

[2021-10-05 09:18] carmocca commented on #9820
The fact that this feature is implemented as a callback is a detail. It doesn't need to be and it would be better to move this responsibility to a Loop (`TrainingEpochLoop` likely).

Since we consider that this impacts the Trainer flow directly, we don't want to remove support for the flag.

This was discussed with the wider team so we are going to close this, feel welcome to continue the discussi

[2021-10-05 09:18] #9820 closed

[2021-10-05 09:39] carmocca commented on #9726
Pros for removing it:

- This could be entirely done in the training step (by gating the `log` call with an `if` statement) depending on what you are logging. Wouldn't work for aggregated tensors but it would for `Metric`s.
- Increased flexibility - the current implementation is hidden in the `LoggerConnector`.

Pros for keeping it:
- Harder configuration from external tools.

Alternatives:

- Add

[2021-10-05 09:46] carmocca commented on #9665
We agree with the rename, however, there's one more question

Should we consider having `disable_checkpointing` instead of `enable_checkpointing`?

The default behaviour is to checkpoint, so any user exploring the `Trainer` arguments is looking to opt-out which would be more natural to do with `disable`.

We don't have a strong opinion on this but whatever we choose should be consistent across all

[2021-10-05 10:02] whoknowsB commented on #1088
Guys, any news on this? This still persists. I don't think this is the right way to go. Is it?

[2021-10-05 12:37] carmocca commented on #9787
Context: https://github.com/PyTorchLightning/pytorch-lightning/pull/8911

[2021-10-05 12:56] #8928 closed

[2021-10-05 18:43] AlexHarn commented on #2150
I am also currently looking into this as I am facing a similar issue in my own project.

As far as I understand, the data loader is **not** actually reset/restarted between each epoch. There is an option for that (`reload_dataloaders_every_n_epochs (int) ` in the [trainer](https://pytorch-lightning.readthedocs.io/en/latest/api/pytorch_lightning.trainer.trainer.html#pytorch_lightning.trainer.traine

[2021-10-05 20:19] Programmer-RD-AI commented on #9814
hi I also tried this train loader function with a GPU and Kaggle TPU but even when num_workers is 0 it doesn't give a progress bar https://www.kaggle.com/ranugadisansagamage/notebook353e8aa184 this is the notebook in Kaggle that I used I installed Pytorch 1.8 also is there any differences in this code.

[2021-10-05 20:35] daniellepintz commented on #9822
nevermind, some confusion on user's end, now resolved

[2021-10-05 20:35] #9822 closed

[2021-10-06 02:52] JayThibs opened #9828 "load_from_checkpoint giving inconsistent predictions"
## 🐛 Bug

I trained a model and now I am trying to use it for inference. Looking at the results from the inference, the model gives different results every time I instantiate the model again. I don't know if this is simply because the model is just being instantiated with random weights.

Here's the code I'm using:

The Model (created a separate class for inference)
[code]

Doing inference
[code]

[2021-10-06 03:38] JayThibs commented on #9828
Dumb mistake. I forgot to save the loaded model.

I used:

[code]

Where the middle part should have been the following (since loading is not inplace):

[code]

[2021-10-06 03:38] #9828 closed

[2021-10-06 05:53] daniellepintz commented on #9665
Great point, honestly I am a bit torn and I see both sides. Summarizing my thoughts here:

### Pros for `enable` (heavily inspired by @rohitgr7's summary in https://github.com/PyTorchLightning/pytorch-lightning/pull/9754#issuecomment-931006483)

* `enable_checkpointing` requires less mental hops for the user than `disable_checkpointing`.  e.g. with `disable_checkpointing = False` the user has to d

[2021-10-06 07:09] kanodiaayush opened #9832 "batch size found with `.tune()` is not applied to `val_dataloader`"
## 🐛 Bug

### To Reproduce
You can use the following Colab link:
https://colab.research.google.com/drive/1p9K2b86bT5gluJ5uUtGp_GBHx3RJRNTw?usp=sharing

### Expected behavior

The validation step should run with the same batch size as train - but it does not. Training runs in 1 batch, validation in 2501 batches.

### Environment

* CUDA:
	- GPU:
		- Tesla K80
	- available:         True
	- version:

[2021-10-06 07:27] SeanNaren opened #9833 "Finetuning callback crashes with DeepSpeed"
## 🐛 Bug

Port from https://github.com/microsoft/DeepSpeed/issues/1426

The Finetuning callback from Pytorch Lightning crashes when using Deepspeed plugin.

### To Reproduce
[code]

[2021-10-06 07:32] #9701 closed

[2021-10-06 07:33] tchaton commented on #9600
Dear @zehongs,

Yes this was a silly example. It is much better to use a lr_scheduler for this use-case.

Best,
T.C

[2021-10-06 07:54] tchaton commented on #5542
Hey @rohitgr7,

quick question: Do we have a use-case where we need to reload the callback states for testing ?

Best,
T.C

[2021-10-06 07:58] rohitgr7 commented on #5542
@tchaton I don't have one currently, but here's one from @ananthsub
https://github.com/PyTorchLightning/pytorch-lightning/pull/5161#issuecomment-759083492

[2021-10-06 07:58] tchaton commented on #6389
Hey @amogkam,

In PyTorch Lightning master, the SlurmConnector was refactored into a SignalConnector component.

As a temporary solution, you could patch its `register_signal_handlers` to prevent the signal to be registered.

Best,
T.C

[2021-10-06 07:59] pratikchhapolika opened #9834 "Can we resume model training from the epoch it got interrupted?"
I am using Jupyter Lab to run. It has pre-installed `tf2.3_py3.6` kernel installed in it. It has 2 GPUS in it.

PyTorch Lightning Version (e.g., 1.3.0): **'1.4.6'**
PyTorch Version (e.g., 1.8): **'1.6.0+cu101'**
Python version: **3.6**
OS (e.g., Linux): system=**'Linux'**
CUDA/cuDNN version: **11.2**
How you installed PyTorch (conda, pip, source): **pip**

Here is the screenshot of my model and it

[2021-10-06 08:03] tchaton commented on #7650
Enforcing a lazy mechanism for setting the parameters could reduce friction for customisation of the plugins as less logic would like within the AcceleratorConnector.

[2021-10-06 08:07] tchaton commented on #9834
Hey @pratikchhapolika,

You can use `Trainer(resume_from_checkpoint=X)` to keep training for the latest checkpoint.

PyTorch Lightning master also contains a mechanism for fault tolerance training which can be activated as follow `PL_FAULT_TOLERANT_TRAINING=1 python script.py`.

This is still experimental and should be used with care. Learn more about it there: https://pytorch-lightning.readthedoc

[2021-10-06 08:16] #8555 closed

[2021-10-06 08:17] mikael10j commented on #9450
Hi there,
I've the same issue. The problem is that the ending of the training phase seems to kill the pytorch profiler, that therefore doesn't exist anymore for the test phase. And looking into the code, indeed at the end of the `fit`, the function `describe()` is called, which in turn calls `summary()`. In the case of the lightning PytorchProfiler this function calls `self._delete_profilers()`.

[2021-10-06 08:22] tchaton commented on #7965
Hey @davors72,

Any updates on this ticket ?

Best,
T.C

[2021-10-06 08:32] tchaton commented on #8126
Dear @GuillaumeTong,

Have you tried the fault tolerant training feature ?

Best,
T.C

[2021-10-06 08:34] tchaton commented on #8335
Dear @jiwidi,

Any updates on this ticket ?

Best,
T.C

[2021-10-06 08:37] tchaton commented on #8509
Dear @lucmos,

One could patch the log function from the LightningModule to prevent the logging computation to be accounted for speed benchmarking.

Best,
T.C

[2021-10-06 08:50] tchaton commented on #8542
Hey @MohammedAljahdali,

Any updates on this ? I believe we could have a test to checking the tensors being leaking.

I believe it happens within those lines: https://github.com/PyTorchLightning/pytorch-lightning/blob/b3e9dff32d842431b067b0ab83e508ffe3262968/pytorch_lightning/callbacks/pruning.py#L377.

Somehow, the deepcopy are created new tensors reference and they are not being properly cleaned

[2021-10-06 08:54] tchaton commented on #8663
@kaushikb11 Any updates ?

[2021-10-06 09:07] carmocca commented on #9665
Let's go with `enable`

[2021-10-06 10:26] GuillaumeTong commented on #8126
Hi @tchaton ,
Sorry, I have not tried the fault tolerant feature.
My main issue is with the "Saving the checkpoint at the end of training (e.g. on_fit_end or on_train_end)" part, as @ananthsub puts it.
I ended up writing my own extension of ModelCheckpoint as below (handling training end), along with a try/catch block around my training script (handling errors), and it mostly serves me better, I t

[2021-10-06 10:29] tchaton commented on #5542
Dear @ananthsub,

Any chance the `Exponential Moving Average Callback` could be contributed to actually provide a proper use-case for this refactor. Otherwise, I believe it is a bad pattern to force refactor without any open source applications.

Best,
T.C

[2021-10-06 10:47] carmocca commented on #9330
Keeping it alive as the fix is not in master

[2021-10-06 11:03] tchaton commented on #8126
Dear @GuillaumeTong,

I believe your approach is best for your specific case. I will be closing this issue.

Best,
T.C

[2021-10-06 11:03] #8126 closed

[2021-10-06 12:26] pratikchhapolika commented on #9834
Thank you.

IN the  `resume_from_checkpoint=X` we have to pass the path?

[2021-10-06 12:38] pratikchhapolika opened #9838 "Does Pytorch lightning allows to share the best model .ckpt file without sharing any other details?"
I am using Jupyter Lab to run. It has pre-installed tf2.3_py3.6 kernel installed in it. It has 2 GPUS in it.

PyTorch Lightning Version (e.g., 1.3.0): '1.4.6'
PyTorch Version (e.g., 1.8): '1.6.0+cu101'
Python version: 3.6
OS (e.g., Linux): system='Linux'
CUDA/cuDNN version: 11.2
How you installed PyTorch (conda, pip, source): pip

I am saving the best model in checkpoint.
Model trained: `Distilber

[2021-10-06 12:43] rongcuid commented on #9498
This is what I am doing now. I just think it might be a common thing.

[2021-10-06 13:18] piseabhijeet commented on #9370
Hi @carmocca

Any plans to get this as a feature?

Thank you

[2021-10-06 13:47] piseabhijeet opened #9839 "Tensorboard incorrect logging with DataParallel training"
## 🐛 Bug

Tensorboard logging metrics from different GPUs when using DataParallel training.

### To Reproduce

Use any arbitrary toy model with DP as an accelerator and in **training_step()**, include the below line of code:

`self.log(mode + '_loss', sum(losses), on_epoch=False, on_step=True, prog_bar=True, logger=True, sync_dist=True)`

In the trainer, specify tensorboard logger with each iterat

[2021-10-06 13:52] carmocca commented on #9370
I am not familiar with the MLFlow logger implementation, perhaps it would be good for you to ping or ask somebody on their side.

[2021-10-06 14:07] Programmer-RD-AI commented on #9838
hi, you can get the `state_dict()` of the model and then `model.load_state_dict(torch.load('./state_dict.ckpt'))` you can try this can you give me a update thanks

[2021-10-06 14:24] Programmer-RD-AI opened #9840 "What to Contribute"
Hi, I am new to contributing to projects and I have been trying to help with issues in the Pytorch lightning GitHub.
But I haven't been able to find more new things to add and others etc.
This is a recommendation I think you should have a small document with what else needs to be done so it will be easier for new Contributors.
Just an idea.

Thank you.

With best regards

[2021-10-06 14:33] #9840 closed

[2021-10-06 14:43] Programmer-RD-AI commented on #9832
hi,
Removing auto_scale_batch_size in 114 lines of code. Works I am still checking other ways but Removing auto_scale_batch_size in 114 lines of code works. I will check if there is another way

[2021-10-06 14:57] #9404 closed

[2021-10-06 14:58] rohitgr7 commented on #9838
`.ckpt` just stores the weights and not the architecture. I'd suggest using torchscript/onnx runtime.
Ref doc: https://pytorch-lightning.readthedocs.io/en/latest/common/production_inference.html

[2021-10-06 15:12] Programmer-RD-AI commented on #9814
hi I updated the kaggle notebook can you please check it and confirm that the code is correct https://www.kaggle.com/ranugadisansagamage/notebook353e8aa184

[2021-10-06 15:15] gurvindersingh commented on #9521
@SeanNaren any update on this

[2021-10-06 15:21] Programmer-RD-AI commented on #9832
hi, I couldn't find any other way to fix the issue.

[2021-10-06 15:30] Programmer-RD-AI commented on #9814
ok I will check this error

[2021-10-06 15:36] cowwoc commented on #9811
Hi @tchaton

I assume you're referring to https://torchmetrics.readthedocs.io/en/latest/

I don't see any callback hooks there. How would this allow me to invoke some piece of code at the beginning and end of each training epoch, before validation begins?

Thank you.

[2021-10-06 15:46] Programmer-RD-AI opened #9844 "New Way of Loading Data"
New Way of Loading Data

I think a new data loading way will be helpful

I think some help func like

[example.zip](https://github.com/PyTorchLightning/pytorch-lightning/files/7295517/example.zip)
s

With best regard

[2021-10-06 15:57] Programmer-RD-AI commented on #9844
`import os,cv2
import numpy as np
import torch,torchvision
from tqdm import tqdm

def load_data(data_dir:str,matrix:bool=False,idx_clf:bool=False):
    """
    data_dir : data_dir is the directory that you want to load the data from
    matrix : if you want y as [0,1,0]
    idx_clf : if you want y as 1 or 2 or 3
    """
    data = []
    labels = {}
    labels_r = {}
    idx = 0
    if matrix:

[2021-10-06 16:16] SeanNaren commented on #9521
Still waiting on DeepSpeed to make a release, I'll ping them to see if we can get this done sooner! cc @jeffra

[2021-10-06 16:24] RahulBhalley commented on #9814
Please try running this [notebook](https://www.kaggle.com/rahulbhalley/image-classifier-lightning) on TPU instance. Try to incrementally change values of `num_workers`. I think around > 2 the RAM starts to get consumed totally and TPU releases the resources and program get's canceled.

[2021-10-06 16:25] Programmer-RD-AI commented on #9814
ok I will check it

[2021-10-06 17:12] Programmer-RD-AI commented on #9844
import os,cv2
import numpy as np
import torch,torchvision
from tqdm import tqdm

def load_data(data_dir:str,matrix:bool=False,idx_clf:bool=False):
    """
    data_dir : data_dir is the directory that you want to load the data from
    matrix : if you want y as [0,1,0]
    idx_clf : if you want y as 1 or 2 or 3
    """
    data = []
    labels = {}
    labels_r = {}
    idx = 0
    if matrix:

[2021-10-06 17:17] Programmer-RD-AI commented on #9844
so my idea is to have a matrix as the y ([0,1,0]) so this will be easy and I have seen some improvements rather than in indexing kind of y values. ([1],[0],[2])

I think this would be a great choice for people that use PyTorch lightning it will be easier for them.

I can help with creating this small helper function but I wanted to know the opinion from the people in the community about this, so i

[2021-10-07 02:55] Programmer-RD-AI commented on #9832
ok sorry for the misunderstanding.

Regards

[2021-10-07 05:39] low5545 opened #9850 "Allow shuffling when overfit_batches is active"
## Proposed refactoring or deprecation

Instead of disabling shuffle / replacing `RandomSampler` with `SequentialSampler` in the train dataloader, replace the train dataset with a fixed subset of it using `torch.utils.data.Subset` (eg. first N samples of the dataset, where N is given by `overfit_batches`. This gives the same dataset samples as with the previous implementation.)

### Motivation

Th

[2021-10-07 07:23] yinrong commented on #5865
I'm stuck too using lightning=1.4.9
![image](https://user-images.githubusercontent.com/4221569/136338235-06d0c777-868c-46a3-9212-acd4fcd3e275.png)

[2021-10-07 07:26] yinrong opened #9851 "dpp training stuck ( lightning=1.4.9 )"
I'm stuck using lightning=1.4.9
the numbers "96% 4260/4435" keeps the same forever.
![image](https://user-images.githubusercontent.com/4221569/136338235-06d0c777-868c-46a3-9212-acd4fcd3e275.png)

[2021-10-07 07:35] tchaton commented on #9851
Dear @yinrong,

Would it be possible for you to provide a reproducible script, possibly with the BoringModel ?

Best,
T.C

[2021-10-07 09:56] p1x31 opened #9852 "Can't resume training from checkpoint"
## 🐛 Bug

When trying to resume from the checkpoint I'm getting this error. Pretty sure optimizer and scheduler states are saved
[code]

### To Reproduce

it is a massive image to text model
[code]
cfg file:
[code]

### Expected behaviour

Resume from checkpoint (start of the epoch or last step saved)

### Environment

- PyTorch Lightning Version (e.g., 1.3.0): 1.4.9
- PyTorch Version (e.g., 1.8):

[2021-10-07 10:18] #9787 closed

[2021-10-07 11:17] rohitgr7 commented on #9850
it would actually be:
[code]
will it work with IterableDatasets?

[2021-10-07 11:29] Programmer-RD-AI commented on #9812
hi I found similar errors

#1587
#1703

Can you check these issues?
And tell me if these issues help you.
If it didn't I will check the error.

Regards

[2021-10-07 11:38] Programmer-RD-AI commented on #9852
Check #9834 issue

[2021-10-07 13:08] radugrosu opened #9854 "tqdm scrolling log issue"
## 🚀 Feature

The default progress bar produces a well-known scrolling log in various environments such as the PyCharm console, and more disturbingly, ClearML logs. It appears that this can be avoided by changing the `dynamic_ncols` argument from the hard-coded `True` to `False` in the 5 calls to `tqdm` in `pytorch_lightning/callbacks/progress.py`.

The request is then to make this argument config

[2021-10-07 13:30] rohitgr7 opened #9855 "max_steps < train_batches doesn't run validaiton loop at the end of epoch"
## 🐛 Bug

There is something possible wrong when setting max_steps. Not sure if it's the intended behavior.

### To Reproduce

<details><summary>CODE</summary>
<p>

[code]

</p>
</details>

Doesn't run the validation loop at the end of epoch. Should it run?
[code]

runs total steps = max_epochs. is it the intended behavior??
[code]

### Expected behavior

### Environment

- PyTorch Lightning Versi

[2021-10-07 13:33] francescomilano172 opened #9856 "[LightningCLI] Parameters of optimizer and learning-rate scheduler now required by default"
## 🐛 Bug

On the current master branch, `LightningCLI` requires both the optimizer and the learning-rate scheduler parameters to be set. Is this the desired behavior? This was not the case until PyTorch Lightning 1.4.9, and to me this seems undesirable, since:
- One might want to use one's own `configure_optimizers` method, e.g., to specify which parameters the optimizer should optimize. If I'm no

[2021-10-07 13:43] vigneshwaran commented on #9812
Yeah. The issue is similar to https://github.com/PyTorchLightning/pytorch-lightning/issues/1703#issuecomment-860766182.
It is not solved yet.

[2021-10-07 14:09] #9854 closed, assigned to nobody

[2021-10-07 14:35] p1x31 opened #9858 "PL_FAULT_TOLERANT_TRAINING=1 causes TypeError"
## 🐛 Bug

After running training with PL_FAULT_TOLERANT_TRAINING=1 I've got this error, everything works as intended without it
[code]
### To Reproduce
breaking code:
[code]
full file: https://github.com/yandex/mlcup/blob/main/cv/baseline/i2t/system.py#L35

### Expected behaviour

Starts to train
### Environment

* CUDA:
	- GPU:
		- GeForce RTX 2080 Ti
	- available:         True
	- version:

[2021-10-07 18:12] sidwa opened #9862 "AttributeError: module 'tqdm' has no attribute 'auto' on PL import"
## 🐛 Bug
When I import pl
`import pytorch_lightning as pl`

I get the following error:

[code]

### Expected behavior
Successful import

### Environment
Libraries installed using conda

* CUDA:
        - GPU:
        - available:         False
        - version:           None
* Packages:
        - numpy:             1.21.2
        - pyTorch_debug:     False
        - pyTorch_version:   1.9.1

[2021-10-07 20:21] AlexHarn commented on #2620
Yep, I'm actually doing that right now!

[2021-10-07 20:39] AlexHarn opened #9865 "Only invoke setup() once, not in both trainer.fit() and trainer.test() - #2620 follow up"
## 🐛 Bug

It seems like the exact bug described in #2620 is back: When calling `trainer.test()` after `trainer.fit()`, `LightningDataModule.setup()` is called twice, which is especially problematic when using `random_split` in `setup()` because it leads to training samples leaking into the test set (in the worst case of extremely large training data compared to test data, the test data will most l

[2021-10-07 23:53] twsl opened #9866 "Issues with PyTorchProfiler"
## 🐛 Bug

I encountered multiple issues with the PyTorchProfiler in combination with TensorBoardLogger and the [kineto](https://github.com/pytorch/kineto/blob/main/tb_plugin/README.md) TB plugin.
and can't get it to work correctly together.

### To Reproduce

I cannot reproduce it in Colab, cause of an assert in PyTorch:
<details>
  <summary>Error</summary>

[code]

</details>

On my own machine I

[2021-10-08 02:16] Defiler24 commented on #9852
when i resume training from checkpoint, i find:
torch/optim/_functional.py", line 169, in sgd
    buf.mul_(momentum).add_(d_p, alpha=1 - dampening)
RuntimeError: Expected all tensors to be on the same device, but found at least two devices, cuda:0 and cuda:6!
the checkpoint was saved by plc.ModelCheckpoint

[2021-10-08 03:32] yinrong commented on #9851
@tchaton could you continue to work on this issue?

[2021-10-08 05:37] tarepan opened #9868 "Warning recommend `save_top_k=None` but it crash training"
## 🐛 Bug
Warning on `ModelCheckpoint` recommend `save_top_k=None` arguments, but it crash training.

### To Reproduce
[Colab Notebook](https://colab.research.google.com/drive/1M3TIL1GqgJtz_gkYgIf797M6dG23NHu-?usp=sharing)

Core part is

[code]

### Expected behavior
`ModelCheckpoint(save_top_k=None, monitor=None)` is recommended by the warning.
So this argument work properly, so training success a

[2021-10-08 07:20] p1x31 commented on #9852
@Defiler24 try saving for rank 0 https://pytorch-lightning.readthedocs.io/en/latest/common/weights_loading.html#manual-saving-with-accelerators

[2021-10-08 07:51] FrancescoSaverioZuppichini opened #9869 "Totally lacking of a proper way to log 2D metrics"
Hi guys,

I hope you are doing great!

## 🐛 Bug
Assume I want to log a 2D metric, e.g. ConfusionMatrix, in my `Module` I have a function that takes all the metrics al log them, e.g.

[code]
Where `metrics` is passed (from torchmetrics)

[code]
First of all, it is totally unclear how a 2D metric such as `ConfusionMatrix` is reduced by the logger. If I try to run a normal image classifier, randomly

[2021-10-08 09:57] Programmer-RD-AI commented on #9862
hi,

Can you try downgrading tqdm or Pytorch lightning?

Regards

[2021-10-08 11:53] rohitgr7 commented on #9868
the warning itself seems redundant. save_top_k should be an int always and it will save last checkpoint in case of `monitor=None and save_top_k=-1|0|1` given that you set `save_last=True`. If monitor is None, for the save_top_k we already have checks, so I don't think we need this one. but need to confirm

cc @carmocca @awaelchli

[2021-10-08 12:01] Programmer-RD-AI commented on #9814
ok I will check If I can find anything

Regards

[2021-10-08 12:30] pratikchhapolika opened #9871 "RuntimeError: CUDA error: no kernel image is available for execution on the device"
I am creating a `docker file`, then transforming it into `squash` format. Finally I upload it into `Nvidia A100 DGX box`

`A100 has pre-installed Cuda11.3`

**DockerFile**

[code]

**Requirements.txt**. Only mentioning some packages:

[code]

**Code**

[code]
**Error**

[code]

[2021-10-08 12:51] kaushikb11 commented on #9812
@vigneshwaran Could you share your notebook to reproduce the issue?

[2021-10-08 14:17] #9862 closed, assigned to nobody

[2021-10-08 14:34] Programmer-RD-AI commented on #9862
I am new in the PyTorch-Community so I don't know

Regards.

[2021-10-08 14:38] Programmer-RD-AI commented on #9862
you can try 1.4.8 or 1.4.7

[2021-10-08 14:59] Programmer-RD-AI commented on #9862
ok no problem

[2021-10-08 17:12] AlexHarn commented on #9865
I see, that makes a lot of sense to use it that way, thank you!

It just was not obvious to me from reading the docs/examples.

[2021-10-08 17:12] #9865 closed, assigned to nobody

[2021-10-08 19:10] kingyiusuen commented on #5965
@carmocca I'd like to work on this. Do I need to write tests for this method?

[2021-10-08 20:47] YunchaoLiu commented on #101
Hello, I'm still seeing this problem with PL v1.3.0. any suggestions?

[2021-10-09 05:44] carmocca commented on #5965
@kingyiusuen Go for it! And yes, it needs to be tested.

The idea would be to iterate over all the dataloaders defined in the datamodule and sum all their individual lengths. Note that not all `*_dataloader` methods might be defined and that the dataloaders might not have `__len__` defined. In the latter case, I would suggest you count it as 0 and print a warning.

[2021-10-09 06:32] carmocca commented on #9868
@Programmer-RD-AI The fix is not correct - we want to actually remove the warning, these lines:

https://github.com/PyTorchLightning/pytorch-lightning/blob/5206e52786917b3c87cb012933bd138615d8543d/pytorch_lightning/callbacks/model_checkpoint.py#L430-L434

Also, https://github.com/PyTorchLightning/pytorch-lightning/blob/5206e52786917b3c87cb012933bd138615d8543d/pytorch_lightning/callbacks/model_chec

[2021-10-09 06:33] Programmer-RD-AI commented on #9868
ok

[2021-10-09 06:50] Programmer-RD-AI commented on #9868
hi I changed the code can you it please.
Thank you.

https://github.com/PyTorchLightning/pytorch-lightning/pull/9875

Regards

[2021-10-09 07:27] kingyiusuen commented on #5965
Just wanted to make sure, are we printing the number of batches (`len(dataloader)`) or number of samples (`len(dataloader.dataset)`)?

[2021-10-09 08:54] rusty-electron opened #9876 "WandBlogger doesn't log when working with TPU cores"
## 🐛 Bug

I am trying to run a resnet200d model for document classification on Kaggle TPUs using python-lightning. I have set up WandB logger and connected it to my wandb account. The training starts well but at 50 steps the logger complains that It can't log as the process was called from a different pid. See error image below:

![wandb_issue](https://user-images.githubusercontent.com/22986666/13

[2021-10-09 10:45] Programmer-RD-AI commented on #9876
hi,

Can you check these issues?

https://forums.pytorchlightning.ai/t/tpu-failures-in-colab/310
https://github.com/wandb/client/issues/1994
https://github.com/PyTorchLightning/pytorch-lightning/issues/1062
https://discuss.huggingface.co/t/logging-experiment-tracking-with-w-b/498
https://wandb.ai/site/articles/pytorch-lightning-with-weights-biases
https://wandb.ai/cayush/pytorchlightning/reports/U

[2021-10-09 10:54] Programmer-RD-AI commented on #9871
hi,

Can you check the below issues?

https://github.com/PyTorchLightning/pytorch-lightning/issues/2337
https://github.com/pytorch/pytorch/issues/31285
https://discuss.pytorch.org/t/runtimeerror-cuda-error-no-kernel-image-is-available-for-execution-on-the-device-when-i-use-cuda-in-nvidia-geforce-730-gt/117104
https://discuss.pytorch.org/t/cuda-error-no-kernel-image-is-available-for-execution-on-th

[2021-10-09 11:06] rusty-electron commented on #9876
@Programmer-RD-AI sorry, 🤦 its public now. Ok, I will take a look at the links you provided.

[2021-10-09 11:15] tchaton commented on #9851
Hey @yinrong,

Could you make sure you have the same number of batches for all ranks.

It will hang if there is an uneven number of batches

Best,
T.C

[2021-10-09 12:21] borchero opened #9877 "Single-process multi-node CPU training"
## 🚀 Feature

Allow setting `DistributedType.DDP` for `DistributedType.DDP_CPU` to run in the main process when running distributed CPU training.

### Motivation

Whenever a model is small, it is not necessarily useful to use a GPU. However, one might still benefit from distributing computations for model training across nodes -- especially when you consider that containers are also "nodes".

Curr

[2021-10-09 12:51] Programmer-RD-AI commented on #9876
It ok check the links and see if they solve the issue

Regards

[2021-10-09 14:00] Programmer-RD-AI commented on #9814
@tchaton

Can you please help with this issue please thank you.

Regards.

[2021-10-09 14:06] Programmer-RD-AI commented on #9814
ok, I am sorry I couldn't solve the problem.

Regards.

I will try and find a resource for the error.

Regards

[2021-10-09 15:09] ogreyesp commented on #839
Hi, anything update on this topic??

[2021-10-09 15:11] rusty-electron opened #9879 ""dumps computation" at the start of validation loop when using wandb/comet.ml logger during multi-core tpu training"
## 🐛 Bug

I am training a resnet model on multi core tpus on kaggle. I get this error:
[code]
This text goes on and on for several pages.

The first epoch runs fine at first and just as the validation loop starts, the training crashes and this text is printed as output.

Note that this only happens when using a logger (wandb or comet.ml) and everything works fine when I do `self.print` or normal `

[2021-10-09 21:17] #9012 closed

[2021-10-09 21:17] #9204 closed

[2021-10-09 21:51] RuRo commented on #9359
Not stale. Can confirm that this is happening with `pytorch-lightning 1.4.9`.

[2021-10-10 00:18] jiwidi commented on #8335
Hi @tchaton sorry for the late answer.

I have an initial version of the tutorial at https://github.com/jiwidi/lightning-tutorials/blob/main/lightning_examples/movielens-behavior-sequence-transformer/bst.py

I based myself on the other examples. Care to give it a look and tell me what you think of it? Can open the PR if needed.

[2021-10-10 05:11] Programmer-RD-AI commented on #9814
hi can you check the links bellow,

https://www.youtube.com/watch?v=eBZciVDr21o
https://www.kaggle.com/pytorchlightning/pytorch-on-tpu-with-pytorch-lightning
https://pytorch-lightning.readthedocs.io/en/latest/notebooks/lightning_examples/mnist-tpu-training.html
https://pytorch-lightning.readthedocs.io/en/latest/advanced/tpu.html
https://devblog.pytorchlightning.ai/announcing-lightning-1-4-8cd20482

[2021-10-10 10:47] awaelchli commented on #9855
For the first question:

The end of epoch was not reached, so we don't run validation. It's expected.

2nd example with max_steps=-1:

It's expected to stop at max_epochs=10. Setting a `max_*` argument to -1 simply turns that limit off. Other limits will apply.
Related PR: #9460

[2021-10-10 10:55] awaelchli commented on #9834
If you want to resume from a particular checkpoint, you have to pass in the path.
If there was a failure and Lightning auto-saved a checkpoint, there should be a file ".pl_auto_save.ckpt" in the current working directory. On current master, Lightning will detect this file and load it automatically when running the script again.

[2021-10-10 11:01] awaelchli commented on #9851
To expand on @tchaton answer: When you randomly select your dataset, make sure each process chooses the same one. You  can set the seed to make sure of this:

[code]

[2021-10-10 12:20] rohitgr7 commented on #9855
Thanks @awaelchli

that means should the following run for total 10 steps or 10*12 or 0??
[code]
currently, it seems to run 0 steps on the master

[2021-10-10 19:40] ibro45 opened #9883 "Make custom samplers distributed automatically"
## Make custom samplers distributed automatically

### Pitch
In DDP mode, PL sets `DistributedSampler` under the hood. However, if you wish to use a custom sampler, then you need to set `Trainer(replace_sampler_ddp=False)` and wrap your custom sampler manually into `DistributedSampler` (https://github.com/PyTorchLightning/pytorch-lightning/issues/5145#issuecomment-745792060)

Instead of having to

[2021-10-10 19:52] awaelchli commented on #9877
Good observation. Let's special case this!

[2021-10-10 19:57] awaelchli commented on #9855
After #9460, it should run for 10 epochs, since the `max_steps=-1` means the `max_steps` limit gets turned off. On master this runs 0 steps because -1 is not considered a special value yet.

[2021-10-10 20:09] #9855 closed

[2021-10-10 20:25] awaelchli commented on #3329
You could use the [profiler](https://pytorch-lightning.readthedocs.io/en/latest/advanced/profiler.html) to check which operations take the longest to execute and compare them to your single gpu run.
Since you mention that your model is tiny, it is possible that DDP communication is adding a noticeable overhead. You could try [gradient accumulation](https://pytorch-lightning.readthedocs.io/en/lates

[2021-10-10 20:46] rohitgr7 opened #9884 "`GradientAccumulationScheduler` requires zero-indexed epoch keys"
## 🐛 Bug

Currently, [GradientAccumulationScheduler](https://github.com/PyTorchLightning/pytorch-lightning/blob/2f313285b9be7327488b64b746bbb23b64cb9fb9/pytorch_lightning/callbacks/gradient_accumulation_scheduler.py#L28) needs zero-index epoch keys to work properly.
But as per docs:
https://github.com/PyTorchLightning/pytorch-lightning/blob/2f313285b9be7327488b64b746bbb23b64cb9fb9/pytorch_lightnin

[2021-10-11 03:14] keunwoochoi commented on #3532
+1 for this!

[2021-10-11 05:29] #8857 closed

[2021-10-11 07:50] #9834 closed

[2021-10-11 08:03] tchaton commented on #9811
Dear @cowwoc,

Thanks for the clarification.

1. If you use a LossTensor as described below, you have full control on when the reduction is being performed, so you can access the `train_loss_epoch` on validation epoch end.

2. Yes, you can but you need to rely a bit more on the Trainer internal. The Trainer keeps track of the is_last_batch or you can use on_train_start, on_validation_start.

[code

[2021-10-11 08:59] tchaton commented on #9359
Dear @manuel-munoz-aguirre,

Would you like to make a contribution ? It means the datamodule property is being access from the lightning_module instead of the trainer. Should be simple to resolve :)

Best,
T.C

[2021-10-11 09:37] tchaton opened #9887 "LightningCLI: Linking arguments from model to checkpoint"
## 🐛 Bug

### To Reproduce

[code]

[code]

As expected the model isn't available within the callback_metrics for the filename resolution.

[code]

Original conversation from Slack: https://pytorch-lightning.slack.com/archives/CRBLFHY79/p1633943650292200

The user `Tran N.M. Hoang` wants to link the generator argument to the model filename.

### Expected behavior

### Environment

- PyTorch Lightn

[2021-10-11 09:52] tchaton commented on #9106
Dear @Danyache,

I have recently seen an implementation for such use-case but can't find it back.

An alternative would be for you to implement it. Lightning provides an all_gather methods which supports backward propagation.

You could use

[code]

Note: This would compute the loss world_size times and your learning rate would have to account for this.

However, you might find a better implementa

[2021-10-11 10:12] tchaton commented on #9887
Hey @carmocca. Yes, updating jsonargparse solved the previous problem.

[2021-10-11 10:19] hoangtnm commented on #9887
But `model` or `data` is accessible from `parser.link_arguments`

[code]

[2021-10-11 10:39] SeanNaren opened #9889 "Add documentation for torch.distributed.run"
## 📚 Documentation

Torch Distributed Run is a standard method to start the training process across multiple nodes or GPUs. I think it would be nice to add docs in our multi-node training docs for this: https://pytorch.org/docs/stable/elastic/run.html

[2021-10-11 11:23] #9782 closed

[2021-10-11 14:34] #9887 closed, assigned to nobody

[2021-10-11 14:43] hoangtnm commented on #9887
@carmocca Do you think this case should be documented on lightning docs? I think saving some special hyper-parameters into checkpoint filename directly will save lots of time when just needs to read the filename and know which model was used, for example?

[2021-10-11 14:54] #9868 closed, assigned to nobody

[2021-10-11 14:56] hoangtnm commented on #9887
As described in [slack](https://pytorch-lightning.slack.com/archives/CRBLFHY79/p1633943650292200), I'm trying to train [Moco (v2)](https://pytorch-lightning-bolts.readthedocs.io/en/latest/self_supervised_models.html#moco-v2-api) from `lightning-bolts` with LightningCLI, which uses different `base_encoder` ones to find the optimal `base_encoder`. So, without saving `model.base_encoder` into the che

[2021-10-11 15:11] carmocca commented on #5965
Note that it should not print anything but instead return an `int`.

We can explore overridding `__str__` for the actual structure etc

[2021-10-11 15:18] MarkusSpanring opened #9894 "GPU BAR1 memory not released when main process gets killed"
## 🐛 Bug

When the main process gets killed or terminated during a DDP run with `num_workers > 0` the allocated `BAR1 memory` of the GPU is not released. This leads to an OOM error as soon as `BAR1 memory` is full even though no `FB memory` is used.

### To Reproduce

[code]
Memory before run (output from `nvidia-smi -q -d MEMORY`)
[code]
Memory after process is killed
[code]
### Expected behavior

[2021-10-11 17:01] awaelchli commented on #9639
@pratikchhapolika You get this error from pytorch because it recognized that you use a numerically unstable loss computation with separate layers for computing sigmoid outputs and then BCE loss. As the message already suggests, you should remove the sigmoid computation and directly use [`BCEWithLogitsLoss`](https://pytorch.org/docs/stable/generated/torch.nn.BCEWithLogitsLoss.html).

[2021-10-11 19:05] Borda opened #9897 "adding Docs localisations"
## 🚀 Feature

Consider adding some docs mutations for the main languages
The main case is that it has to be automated with zero maintenance

### Motivation

being closer to any user who is not so strong in English

### Alternatives

see: https://www.sphinx-doc.org/en/master/usage/advanced/intl.html

### Additional context

Reated #2001
______________________________________________________________

[2021-10-11 22:52] slimshreydy opened #9900 "Make tensorboard into an pip extra"
Pytorch lightning provides a pretty convenient abstraction for writing training loops, but the tensorboard dependency ends up dramatically increasing the scope and footprint of the library. As a result, if we import pytorch-lightning into our own packages, it dramatically increases the footprint of those libraries too.

Tensorboard usage feels fairly optional for the pytorch-lightning experience,

[2021-10-11 22:55] daniellepintz commented on #1703
I am experiencing the same issue in #9712. https://app.circleci.com/pipelines/github/PyTorchLightning/pytorch-lightning/44836/workflows/20f3cc67-3596-4d27-8ecb-c909a3cf6577/jobs/132588/parallel-runs/0/steps/0-119

@Borda any insight here?

[2021-10-11 22:56] daniellepintz commented on #9812
same issue in #9712 https://app.circleci.com/pipelines/github/PyTorchLightning/pytorch-lightning/44836/workflows/20f3cc67-3596-4d27-8ecb-c909a3cf6577/jobs/132588/parallel-runs/0/steps/0-119

[2021-10-12 01:23] cowwoc commented on #9811
That works. Thank you! I still hope you can clean up the lifecycle one day but if you want to close this ticket now you can.

[2021-10-12 01:44] #9815 closed

[2021-10-12 02:41] low5545 commented on #9850
@awaelchli Done!

[2021-10-12 08:23] rohitgr7 commented on #9869
hey @FrancescoSaverioZuppichini looks like it worked for you. closing this issue. feel free to reopen if required :)

[2021-10-12 08:23] #9869 closed

[2021-10-12 08:25] tchaton commented on #9242
Dear @pratikchhapolika @ia-davidpichler @aleSuglia,

Would you mind provide the exact script causing the hang. The script above works fine for me.

Best,
T.C

[2021-10-12 08:29] rohitgr7 commented on #9852
hi @p1x31
looks like you are initializing some modules over here:
[code]
but not while resuming. so there might be some weights that are present in ckpt but not in model while resuming. Maybe that might be the issue here?

[2021-10-12 09:24] #9541 closed

[2021-10-12 09:29] SeanNaren commented on #9541
Thanks! Should now be fixed on lightning master, and with the latest Deepspeed version (`pip install deepspeed -U`)

[2021-10-12 09:29] SeanNaren commented on #9521
Thanks everyone! Should now be fixed on lightning master, and with the latest Deepspeed version (`pip install deepspeed -U`)

[2021-10-12 09:40] #9801 closed

[2021-10-12 11:43] NMZ0429 opened #9907 "Links of custom callback examples are dead"
## 📚 Documentation

I am implementing a custom callback but unable to figure out how to get return value of `on_train_epoch_end` and other steps too. So I tried to find some examples in  the documentation yet looks like the links are all dead in the link below.

[https://pytorch-lightning.readthedocs.io/en/latest/extensions/callbacks.html#examples](https://pytorch-lightning.readthedocs.io/en/lates

[2021-10-12 16:28] cyr0930 opened #9908 "CPU memory consumption increases at the end of every epochs on TPU"
## 🐛 Bug
CPU memory consumption is stable during training.
But memory consumption keep increasing and never decreases at the end of every epochs.
It occurs when I use TPU. (It doesn't occur when I use GPU)

### To Reproduce

[code]

### Expected behavior
Memory consumption should not be increased

### Environment
- PyTorch Lightning Version: 1.3.8
- torch-xla Version: 1.8
- PyTorch Version: 1.8.0

[2021-10-12 17:10] tchaton opened #9909 "_capture_metadata_collate should be removed on teardown."
## 🐛 Bug

### To Reproduce

While working on Lightning Flash, I found the `_capture_metadata_collate` isn't removed on the user dataloader collate_fn.

### Expected behavior

### Environment

- PyTorch Lightning Version (e.g., 1.3.0):
- PyTorch Version (e.g., 1.8)
- Python version:
- OS (e.g., Linux):
- CUDA/cuDNN version:
- GPU models and configuration:
- How you installed PyTorch (`conda`, `pip`

[2021-10-12 18:27] bergen commented on #9330
Has this issue been fixed for TPUs? I am getting a discrepancy between single core and multi-core TPU training. Using version 1.4.9.

[2021-10-13 04:48] Programmer-RD-AI commented on #9814
@tchaton Can you please check this issue?

Thanks.

With best regards,
Ranuga

[2021-10-13 04:48] Programmer-RD-AI commented on #9814
I am new to PyTorch lightning so I am not sure so @tchaton can help.

With best regards,
Ranuga

[2021-10-13 07:15] kaushikb11 commented on #9814
@RahulBhalley @Programmer-RD-AI I will take a stab at this with GCP TPUs.

[2021-10-13 11:16] tchaton commented on #9390
Dear @cowwoc,

Would you mind making a PR where iterator are explicitly deleted ?

Best,
T.C

[2021-10-13 11:36] #9074 closed

[2021-10-13 14:18] kainoj opened #9916 "CombinedLoader fails on validation when `overfit_batches`>0"
## 🐛 Bug

When `overfit_batches`>0, dict-based `CombinedLoader` retruns dict keys on validation.

e.g:
[code]
as a validation dataloader would result in batch contents:`'a'`.

### To Reproduce

See [colab](https://colab.research.google.com/drive/1UApX2a1bL1q6d3_AHK-hR6I9xS2XY4B1?usp=sharing)

### Expected behavior

I would expect the validation batch to be a dict with keys `'a'` and `'b'` and valu

[2021-10-13 14:42] Freed-Wu opened #9917 "`noqa` in document"
## 📚 Documentation

In <https://pytorch-lightning.readthedocs.io/en/latest/advanced/profiler.html>

[code]

![image](https://user-images.githubusercontent.com/32936898/137156102-770223ae-7214-4a29-af7c-d854b1130d25.png)

Why not split this long line like <https://github.com/PyTorchLightning/pytorch-lightning/blob/master/docs/source/common/lightning_cli.rst?plain=1#L418-L421> to avoid `noqa`?

[2021-10-13 16:39] blaine141 opened #9918 "Trainer reuses data loader"
I can not share code due to my application.

I found that if you reuse a trainer to validate two models, it reuses the first data loader. When I call validate(model1, dataloader1) and then  validate(model2, dataloader2) it runs model1 with dataloader1 and then model2 with dataloader1. I am getting around this by making a new trainer but I thought I would report as it was not the expected behavior.

[2021-10-13 17:11] cowwoc opened #9919 "LightningModule.load_from_checkpoint() adds __init__ arguments to hparams"
## 🐛 Bug

I have a model with the following constructor: `def __init__(self, parameters: dict[str, Any], graph_queue: Queue):`

I expect to be able to load an instance from a checkpoint using `load_from_checkpoint(path, graph_queue=graph_queue)` where `parameters` is read from the checkpoint and `graph_queue` is taken from kwargs. All this happens, except that `parameters` unexpectedly contains an

[2021-10-13 18:12] #9851 closed, assigned to nobody

[2021-10-13 18:16] rohitgr7 commented on #9918
tried on v1.4.8. working fine. can you share a small reproducible script with https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing??

[2021-10-13 18:28] rusty-electron commented on #9879
@tchaton Thanks for the info. I shall be looking out for the fix.

[2021-10-14 03:11] Wuziyi616 commented on #5325
Yes, I completely agree with you. Thanks a lot!

[2021-10-14 04:24] shamanez opened #9922 "Error in computer_vision_fine_tuning.py example"
## 🐛 Bug

Give the following error

"AttributeError: 'MyLightningCLI' object has no attribute '_get'"

### To Reproduce

**python  ./pl_examples/domain_templates/computer_vision_fine_tuning.py**

### Environment

- PyTorch Lightning Version:  1.4.9
- Python version: 3.9
- OS: Ubuntu
### Additional context

[2021-10-14 07:09] mauvilsa commented on #9922
I get a different error if I run `python ./pl_examples/domain_templates/computer_vision_fine_tuning.py` with lightning 1.4.9, python 3.8 and jsonargparse 3.19.4.

[code]

@shamanez if you update jsonargparse to this version do you still have the `_get` error?

That example needs to be updated. Now the classes added with `parser.add_class_arguments` are automatically instantiated. Thus this instant

[2021-10-14 08:33] tchaton commented on #9390
The data_fetcher should also keep a reference to the dataloader_iterator. Does this PR resolves your issues ?

[2021-10-14 11:16] kaushikb11 commented on #9908
Hi @cyr0930, thanks for reporting the issue! But I am not to reproduce the memory consumption issue. I ran the script you shared, I used the `XLAStatsMonitor` callback to monitor the TPU memory usage and the `psutil` library for CPU memory usage. The results were as expected!

<img width="1700" alt="Screen Shot 2021-10-14 at 4 44 49 PM" src="https://user-images.githubusercontent.com/45285388/13730

[2021-10-14 12:23] mijosch opened #9928 "loading large model not finished after 16 hours"
## 🐛 Bug

After saving a checkpoint of a large pytorch_forecasting model (10'100 targets forecasting based on previous 10'000 values ), loading the checkpoint lasts forever (i killed loading after 16 hours).

With 5 targets forecasting based on previous 5 values -> works
With 50 targets forecasting based on previous 50 values -> works
With 500 targets forecasting based on previous 500 values -> wo

[2021-10-14 12:26] mijosch opened #9929 "Progress visualization for loading a model"
## 🚀 Feature

Visualize the progress of loading a model from a checkpoint.

### Motivation

I want to be able to observe, if loading the weights of a big models does make any progress or if it is just stuck somewhere

### Pitch

A tqdm progressbar for items in the state_dict

[2021-10-14 12:56] ronif opened #9930 "`move_data_to_device` fails with dataclasses with `field(init=False)` fields"
## 🐛 Bug

`move_data_to_device` has special handling of dataclasses, but in case the dataclass has a non-init field, `elem_type(**out)` in `apply_to_collection` will fail

### To Reproduce
[code]
### Expected behavior
Should run without exceptions
### Environment
* Packages:
        - numpy:             1.21.2
        - pyTorch_debug:     False
        - pyTorch_version:   1.9.1
        - pytorch-

[2021-10-14 13:53] carmocca commented on #9053
What's left to do here?

[2021-10-14 17:01] kaushikb11 opened #9932 "TODOs for achieving stability for Trainer Strategy API"
## Proposed refactoring or deprecation

### Motivation

We have added the `strategy` argument for Trainer in [this](https://github.com/PyTorchLightning/pytorch-lightning/pull/8597) PR.

### The next immediate refactors required are:
- [x] Tests #9931
- [x] Code/warnings updates #9937
- [x] Docs: general usage #10000
- [x] Docs: Trainer flag documentation (accelerator, strategy) #10042
- [x] tutori

[2021-10-14 19:36] mauvilsa commented on #9922
Created a pull request https://github.com/PyTorchLightning/pytorch-lightning/pull/9934 and tested it locally in python 3.8 and 3.9.

[2021-10-14 20:19] #6090 closed

[2021-10-14 20:21] #9877 closed

[2021-10-14 20:25] addisonklinke commented on #1314
Another alternative to @bigheiniu's environment variable is to use `ray.init(..., gpus=int)`

[2021-10-14 21:16] MaximumEntropy opened #9936 "Package version checks happen with respect to the base package version rather than the full package version"
## 🐛 Bug

When checking for package versions, comparisons happen with respect to the base package version rather than the full package version in `_compare_version` here - https://github.com/PyTorchLightning/pytorch-lightning/blob/0561fd6925a0f4aa6d119c5eb451dfb6e598f83f/pytorch_lightning/utilities/imports.py#L46.

In our NVIDIA pytorch containers, we usually use a pytorch version that is a little

[2021-10-14 21:23] shamanez commented on #9922
Thanks for your response.

On Fri, Oct 15, 2021, 08:38 Mauricio Villegas ***@***.***>
wrote:

[2021-10-14 22:35] Borda commented on #9897
wow, that is great! even links inside lead to translated pages!
cc: @aribornstein

[2021-10-14 22:37] Borda commented on #9280
so shall we close this issue? :]

[2021-10-14 22:54] justusschock commented on #9928
I see, can you try to do it with a torch.nn.Module as a baseclass instead? just to see if this is something we are doing different from the original pytorch code?

[2021-10-15 01:09] carmocca commented on #9936
This was very recently changed to enable testing for the 1.10 release candidate. Context: https://github.com/PyTorchLightning/pytorch-lightning/pull/9808#discussion_r722776072

cc @daniellepintz

[2021-10-15 02:10] carmocca opened #9939 "Fail the test when a `DeprecationWarning` is raised"
## Proposed refactoring or deprecation

Set our test suite to fail when a `DeprecationWarning` is raised.

### Motivation

Since we don't track warnings raised by our tests, it's too easy to introduce a deprecation path but forget to update all deprecated usages inside our codebase and tests.

This is very bad in terms of UX because the users will see this warning appear but won't be able to do an

[2021-10-15 02:20] cowwoc commented on #9390
Sorry, I'm not sure what this means. Does it mean I should or should not `del` the data_fetcher reference?

It seems to help. On the one hand, the worker processes are not killed immediately like I would like but on the other hand I didn't run out of memory when running Optuna tests over an hour. This might mean that GC is kicking in to clean up the worker processes right before the system runs ou

[2021-10-15 04:31] daniellepintz commented on #9939
GREAT proposal, completely agree!

[2021-10-15 06:35] mijosch commented on #9928
I have other models in pure pytorch with custom written training loops that have the size of about 200MB and never had issues with loading them but they are just fully convolutional models with maybe less keys in the state_dict. The one here is a temporal fusion transformer and I dont know the structure of it.

But I dont think that the size is the problem, I think the key count is the issue.
The

[2021-10-15 08:36] AljoSt opened #9941 "wirte profiler output after keyboard interrupt"
## 🚀 Feature

Write the profiler output to file when user hits ctrl+c

### Motivation

I had instances where the training worked well for the first 10 epochs and then became 20x slower afterwards. I had to stop the training, but couldn't investigate in the profiler output which method was causing the issue.

______________________________________________________________________

#### If you enjoy

[2021-10-15 09:47] prdai opened #9942 "AttributeError: 'int' object has no attribute 'log_hyperparams'"
## 🐛 Bug

GPU available: True, used: False
TPU available: False, using: 0 TPU cores
IPU available: False, using: 0 IPUs
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
/tmp/ipykernel_76476/2376091482.py in <module>
      2 model = Model()
      3 trainer = Trainer(125)
----> 4 trainer.fit(model)

[2021-10-15 10:38] Renthal opened #9943 "LightningDeprecationWarning: DataModule.setup has already been called"
As of v1.4 properties sch as `has_setup_fit` have been deprecated in DataModule and are set to be removed in v1.6.
However, the docs on latest still show ["If you need information from the dataset to build your model, then run prepare_data() and setup() manually"
](https://pytorch-lightning.readthedocs.io/en/latest/extensions/datamodules.html#using-a-datamodule) and the code:
[code]

This leads to

[2021-10-15 10:52] breznak opened #9944 "ModelCheckpoint: save_top_k > 1 cannot recognize ordering of models from ckpt names"
## 🐛 Bug

Short: ModelCheckpoint callback with save_top_k does not use semantic meaning (does not reflect order of models) in naming of the files.

Say for save_top_k=5 it saves 5 best models into 5 files, but the user does not know which is which! (The ModelCheckpoint does, but only for the training session, not if we want to resume).

My motivation: I want to access "2nd best" model.

### To Rep

[2021-10-15 11:02] Programmer-RD-AI commented on #9943
hi,
Can you send the cod that you are using,

I will check the warning

With best Regars,
Ranuga

[2021-10-15 11:04] Programmer-RD-AI commented on #9944
hi, so do you want the files saved as "2nd best model" file name?

[2021-10-15 11:16] Renthal commented on #9943
This is literally the code shown in the Docs (see link above). The module is described above.
Nevertheless, here is a MWE to reproduce (but then again, is straight out of the docs):
[code]

[2021-10-15 11:18] Programmer-RD-AI commented on #9943
ok thank you,

With best regards,
Ranuga

[2021-10-15 11:28] Renthal commented on #9943
Yes this MWE gets those too, but before those are displayed there is

LightningDeprecationWarning: DataModule.prepare_data has already been called, so it will not be called again. In v1.6 this behavior will change to always call DataModule.prepare_data.

LightningDeprecationWarning: DataModule.setup has already been called, so it will not be called again. In v1.6 this behavior will change to alway

[2021-10-15 11:34] Programmer-RD-AI commented on #9943
I don't understand what do you mean?

With best regards,
Ranuga

[2021-10-15 11:54] Programmer-RD-AI opened #9946 "NLP Help Funcs"
## 🚀 Feature

NLP Help Funcs,
for example
`Tokenizing`
`Bag of words`
and loading the data
and other techniques of NLP I think this would be useful.

### Motivation

I do NLP project a lot and I have found that I need to create custom functions for tokenizing and creating the data.
Example Notebook : https://github.com/Programmer-RD-AI/kickstarter-NLP-V4/blob/main/00.ipynb

### Pitch

to create a

[2021-10-15 12:27] carmocca opened #9947 "Support `str(datamodule)`"
## 🚀 Feature

Add support

[code]

### Motivation

It currently prints:

[code]

### Pitch

It could print the DataLoader structure:

[code]

Or the number of batches per dataloader, similar to what was done in https://github.com/PyTorchLightning/pytorch-lightning/issues/5965

### Alternatives

Open to other ideas

______________________________________________________________________

#### If you

[2021-10-15 14:04] wollschl commented on #9625
I am having the same issue. Also the batch size that is found for me with "binsearch" is smaller than what I can use by manually selecting:
- found 32
- rejected everything above 33, ..
- manually I can use 52

[2021-10-15 15:08] Borda opened #9950 "reverse callback order in exiting event"
## 🚀 Feature

At this moment  we are calling a callback in the same order everywhere, which may be a bit contra intuitive for users assuming a custom wrapper is doing some pseudo wrapper

### Motivation

For example `on_epoch_start` is the entering and `on_epoch_end` is paired exiting event...
- `on_epoch_start`: A -> B -> C
- `on_epoch_end`: C -> B -> A

### Alternatives

### Additional context

[2021-10-15 15:24] carmocca commented on #9943
@Programmer-RD-AI Your PR is not updated on master, additionally, I believe the deprecation only appears in the bug-fix branch so the fix needs to be applied to it directly, not to master.

The branch is https://github.com/PyTorchLightning/pytorch-lightning/tree/release/1.4.x

[2021-10-15 16:44] carmocca opened #9956 "Is `precision="mixed"` redundant?"
## Proposed refactoring or deprecation

Does `precision="mixed"` act differently to `precision=16` in any way?

I understand that "mixed" is more correct as 16-bit precision can still run some computations in 32-bit.

### Motivation

In https://github.com/PyTorchLightning/pytorch-lightning/pull/9763 I noticed we did not even have a `PrecisionType` for `"mixed"`.

There's a single test in the codeb

[2021-10-15 17:07] carmocca commented on #9939
There are many many occurrences to update, anybody who wants to help is welcome to do so!

[2021-10-15 18:05] #9474 closed

[2021-10-15 18:43] bhadreshpsavani commented on #9359
Hi @manuel-munoz-aguirre and @tchaton,
Please let me if i can contribute to this issue.

[2021-10-16 04:04] daniellepintz commented on #9936
@MaximumEntropy I see your point - it definitely makes sense that the dev version should be considered `<` the stable version. I can send a PR to add a flag to the function which will fix this

[2021-10-16 11:32] Programmer-RD-AI commented on #9944
hi,
I changed the file names in https://github.com/PyTorchLightning/pytorch-lightning/pull/9962.

Can you check the pull request and confirm that this solves your issue.

With best regards,
Ranuga

[2021-10-16 11:32] Programmer-RD-AI commented on #9944
[lightning_logs.zip](https://github.com/PyTorchLightning/pytorch-lightning/files/7357458/lightning_logs.zip)

[2021-10-16 15:25] LuoXin-s opened #9964 "error when using lr scheduler that TIMM provided"
## 🚀 Feature
**Use lr_scheduler more than torch provided.**
I notice that there are specific check codes to check that used lr_scheduler whether are torch naive, but this is kind of strange since use other lr_scheduler is normal.

### Motivation

I want to use lr_scheduler that timm provided, but got error as follows:
ValueError: The provided lr scheduler "<timm.scheduler.cosine_lr.CosineLRSchedul

[2021-10-16 16:04] #9922 closed

[2021-10-16 16:55] carmocca commented on #9964
The error comes from this piece of code

https://github.com/PyTorchLightning/pytorch-lightning/blob/e5dfdf34f958d2eddccb205558763ae7aeedc0cc/pytorch_lightning/trainer/optimizers.py#L189-L192

Which checks that the optimizer subclasses `optim.lr_scheduler._LRScheduler`.
I believe we can relax this constraint.

@rwightman Is there a reason why your implementation does not subclass it?
Is it because

[2021-10-16 17:25] ibro45 commented on #6720
I would suggest to make these a part of `LightningModule`, just like `log()` or `log_dict()`, once they are implemented. It would be a pity to have to call them from `self.logger.experiment` when they are already standardized. Example:
[code]

Making them part of the `LightningModule` would also be great because we could have `on_step` and `on_epoch` for them!
[code]

User could still access the l

[2021-10-16 18:36] Abelarm commented on #9947
if you really want the keys of the dict to be with "" I can do it but I won't be the nicest of the solutions

[2021-10-16 20:54] awaelchli commented on #9950
I think what @Borda is trying to say is that the order is currently

[code]

@Borda is suggesting to change to:

[code]

What is the motivation behind this? Do you have a specific use case?

[2021-10-16 21:34] rwightman commented on #9964
@carmocca I don't subclass because it's private, and also my interface is a bit different (but I think compatible where it overlaps). In general, not very pythonic to do a check like that (for subclass), as per duck typing, just call the methods.

Overall I've never been particularly happy with the PyTorch schedulers although they are improving and finally getting features like warmup, etc. I trie

[2021-10-16 21:39] rohitgr7 commented on #9942
[code]
here. the first argument of the trainer is logger which can't be an int.

[2021-10-16 22:33] BramVanroy opened #9968 "Return a tensor in training_step leads to a list of dictionaries in training_epoch_end"
When I run the following code in my model

[code]

I see that the training step returns a tensor. So I would expect that the aggregated values that are passed to `training_epoch_end` is a list of tensors. But, as this code shows, it is not. Instead it is a list of dictionaries that looks like this:

[code]

Annoyingly, the expected behavior does seem to occur in the validation and testing loops. S

[2021-10-17 00:59] LuoXin-s commented on #9964
So what should I do so that I can get work on immediately? @carmocca @rwightman

[2021-10-17 03:29] Programmer-RD-AI commented on #9968
hi,

Can you send the reproducible script?

I will try to check the issue.

With best regards,
Ranuga

[2021-10-17 03:30] #9942 closed, assigned to nobody

[2021-10-17 03:35] Programmer-RD-AI commented on #9944
hi @breznak,

What do you mean by the part of save_top_k > 1,

What is the issue with it?

How do you want the functionality to change?

With best regards,
Ranuga

[2021-10-17 04:39] Programmer-RD-AI commented on #9944
hi #9970 is the new PR

[2021-10-17 04:39] Programmer-RD-AI commented on #9943
hi #9970 is the new PR

[2021-10-17 07:10] #9930 closed

[2021-10-17 10:29] Rajathbharadwaj commented on #9950
Hey, I'm interested in working on this. Any pointers would be helpful.

[2021-10-17 11:11] #9856 closed, assigned to nobody

[2021-10-17 11:17] quancs commented on #9767
@awaelchli When I use two GPUs training, the loss on progbar becomes as twice as the metric on tensorboard (accumulate_grad_batches=1, sync_dist=True) and the training loss on tensorboard is at the same level with val loss on tensorboard now...

This is very annoying. Can you give me two breakpoints for observing the metrics logged on tensorboard and on progbar (the pytorch_lightning is big, I'm n

[2021-10-17 14:04] carmocca commented on #9964
To workaround this check, you could define the following class:

[code]

and use it in `configure_optimizers`. However, this will still fail later because the `timm` `scheduler.step` takes a positional `epoch` argument:

https://github.com/rwightman/pytorch-image-models/blob/02daf2ab943ce2c1646c4af65026114facf4eb22/timm/scheduler/scheduler.py#L67

which we do not provide:

https://github.com/PyTor

[2021-10-17 15:03] Programmer-RD-AI opened #9973 "remove configuring_optimizers function"
## 🚀 Feature

remove configuring_optimizers function

### Motivation

I am was doing a lot of projects with PyTorch Lightning so I can understand what else to add.

### Pitch

I want to know why cant we remove `configuring_optimizers` in a `pl.LightningModule`
Becuase I think if the person using can just
in
`def __init__()`
to just add
`self.optimizer = Adam(self.parameters(),lr=0.001)`
would it n

[2021-10-17 15:04] BramVanroy commented on #9968
@carmocca That is indeed my current approach. However, it seems that this conversion to a dict is only done for the training step and not for validation and test steps. As a user, I would expect the same behavior because that allows me to write a general `*_epoch_end` . Let's say I want to calculate perplexity at the end of every epoch for all scenarios, now I need to write something like this:

[

[2021-10-17 15:12] Programmer-RD-AI commented on #9944
oh,
ok

With best regards,
Ranuga

[2021-10-17 15:44] rwightman commented on #9964
right, yeah, I require the epochs / steps as an arg since I didn't feel that state should be duplicated .... you'd have to write an adapter

[2021-10-17 16:25] BramVanroy opened #9974 "setup() not working with DeepSpeed"
Attributes that are set during `setup` are not available when using DeepSpeed - even when using a single GPU.

Assume the following script is `deepspeed_test.py`:

[code]

Running `python test_deepspeed.py` works perfectly fine. However, `python deepspeed_test.py --plugins deepspeed_stage_3` does not. It leads to the following error log:

[code]

This tells me that the `setup()` call that is suppo

[2021-10-17 19:15] rohitgr7 commented on #9973
2 use-cases:
1. some schedulers need total training steps and that might not be available during init.
2. we can initiate some modules in `setup`, so the optimizer can't be initialized during init.

That's why `configure_optimizers` seems reasonable.

[2021-10-17 19:44] ibro45 commented on #6720
Actually, it is not implemented, I just tried with master branch:

- LightningModule doesn't have `log_image` nor `log_text`, so calling `self.log_image()` raises `AttributeError`
- Calling self.logger.log_images() raises `NotImplementedError` from https://github.com/PyTorchLightning/pytorch-lightning/blob/7b4df7bf919acfd7f7b39d780faeadb54aec9ade/pytorch_lightning/loggers/base.py#L313

[2021-10-17 21:47] InCogNiTo124 commented on #9302
I'd like to take on this, would you please assing this to me? @daniellepintz

[2021-10-17 21:58] daniellepintz commented on #9302
Thanks @InCogNiTo124 ! I think @kaushikb11 already has a PR out for this #9229 but hasnt merged it yet. @kaushikb11 what is the status of the PR?

[2021-10-17 22:12] daniellepintz commented on #8731
What is the status of this issue? I saw it was added to a sprint in September

[2021-10-17 22:41] daniellepintz commented on #9932
Do we want to also rename DeviceType here to AcceleratorType?
https://github.com/PyTorchLightning/pytorch-lightning/blob/7b4df7bf919acfd7f7b39d780faeadb54aec9ade/pytorch_lightning/utilities/enums.py#L114

[2021-10-18 00:25] carmocca commented on #9946
Hi!

Unfortunately, we are not interested in these domain-specific contributions at this point. However, you might find other projects such as https://github.com/pytorch/text more interesting. There are also many OSS projects focusing on NLP helper functions.

Thank you for your suggestion.

[2021-10-18 00:25] #9946 closed

[2021-10-18 01:24] carmocca commented on #9939
We can do it file by file or semantically (all occurrences of a deprecation) - up to you.

I don't have an exhaustive list, but running the test in #9940 locally show quite a few failing tests:

[code]

[2021-10-18 02:21] Programmer-RD-AI commented on #9973
ok,

With best regards,
Ranuga

[2021-10-18 02:21] #9973 closed

[2021-10-18 02:25] suchig opened #9978 "Quantize Aware Training - FasterRCNN"
### Discussed in https://github.com/PyTorchLightning/pytorch-lightning/discussions/9955

<div type='discussions-op-text'>

<sup>Originally posted by **suchig** October 15, 2021</sup>
I tried to quantize a FasterRCNN based model (from pytorch torchvision). My Lightning module is shown way below.

Problem:
When I try Trainer.fit(), I get the error that  "one of the variables needed for gradient comp

[2021-10-18 02:37] adamreeve commented on #6074
I've been looking into how batch normalization currently works when using SWA to better understand how this should be handled during validation. The mean and variance of inputs to the BatchNorm layers depend on the weights of lower layers so the running estimates computed by the underlying model won't be accurate when the weights are replaced with average weights. Therefore the mean and variance a

[2021-10-18 05:21] YodaEmbedding opened #9979 "Log string-valued hyperparameters"
## 🚀 Feature

Log string-valued hyperparameters.

### Motivation

When looking through Tensorboard's HPARAMS table, this would allow users to store and see information such as:

 - The optimizer used. ("adam", "sgd", ...)
 - The git commit hash of the run. ("fa3d29b")

### Pitch

Example usage:

[code]

Currently, this throws an exception:

[code]

### Alternatives

N/A

### Additional context

Ex

[2021-10-18 06:25] BramVanroy commented on #9974
Yes, this is a dummy example. In reality:

- prepare data: tokenizers dataset and saves as HF Dataset on disk
- setup: loads dataset from disk
- data loaders: create data loader from loaded datasets

So in my real code I get the issue that the loaded dataset is None and that the data loader does not work because dataset is still none.

What is the recommended way to do this? It is important that m

[2021-10-18 06:35] akihironitta opened #9980 "Support Python 3.10"
## 🚀 Feature
We should support Python 3.10 as Python 3.10 was released at the beginning of this month.

**Required dependencies supporting Python 3.10**
- [x] numpy>=1.21.0 https://numpy.org/news/#numpy-1210-release
- [x] torch>=1.11.0 https://github.com/pytorch/pytorch/issues/66424
- [x] tqdm
- [x] PyYAML
- [x] fsspec
- [x] tensorboard https://github.com/tensorflow/tensorboard/releases/tag/2.8.0

[2021-10-18 07:03] akihironitta opened #9981 "Drop Python 3.6 support"
## 🚀 Feature

### Motivation
- Python 3.6 EOL on `2021-12-23`: https://devguide.python.org/#branchstatus
- Some major ml libraries have already dropped Python 3.6 support.
  - numpy 1.20.0: https://numpy.org/devdocs/release/1.20.0-notes.html
  - scikit-learn 1.0: https://github.com/scikit-learn/scikit-learn/issues/20084
  - PyTorch 1.11: https://github.com/pytorch/pytorch/issues/66462

### Pitch
-

[2021-10-18 07:31] Borda opened #9982 "Allow and expose resetting optimizers"
## 🚀 Feature

was thinking if we have a simple way how to reset optimizers, while I have finetuning and need to add extra parameters for training/learning

### Motivation

yes... have trainer method `reset_optimizors`  which would ask the model for actual optimizers and schedulers

### Alternatives

### Additional context

______________________________________________________________________

###

[2021-10-18 09:02] #9979 closed, assigned to nobody

[2021-10-18 09:53] justusschock commented on #9928
Hi sorry for the late response. I just double checked and we are not doing anything special here. We just rely on the function provided by pytorch, so I do think it would be best if you open an issue with them :)

[2021-10-18 10:05] Renthal opened #9984 "save_hyperparameters() saves all **kwargs arguments - which includes unpickable plugins for DDP"
## 🐛 Bug

The call to save `self.save_hyperparameters()` (NOTE: no args provided) as described in the docs (see [here](https://pytorch-lightning.readthedocs.io/en/latest/common/hyperparameters.html#lightningmodule-hyperparameters
)) is by default saving the content of **kwargs to hparams. This is an issue because:

1. this is not matching the documentation (see the 'equivalent' call part)
2. one o

[2021-10-18 10:47] rohitgr7 commented on #9964
we do have optimizers wrapped around optimizers that are not subclassed with `optim.Optimizer`
https://github.com/NVIDIA/apex/blob/master/apex/fp16_utils/fp16_optimizer.py
https://github.com/microsoft/DeepSpeed/blob/1fc74cb9c81668b5ff0046446f8004d4cf8dc2d5/deepspeed/runtime/zero/stage3.py#L595

possibly we can remove this check and let users configure their scheduler step as well just like `Lightn

[2021-10-18 12:12] rohitgr7 opened #9989 "Remove validation completely when overfit_batches > 0"
## Proposed refactoring or deprecation

<details><summary>CODE</summary>
<p>

[code]

</p>
</details>

I think we should just turn of validation when `overfit_batches > 0` instead of silently replacing the `val_dataloaders` with `train_dataloader` here:
https://github.com/PyTorchLightning/pytorch-lightning/blob/8c76cf5ae1db078dcd201b08de788ac6769c894d/pytorch_lightning/trainer/data_loading.py#L414

[2021-10-18 12:26] carmocca commented on #8008
@quancs Your issue is https://github.com/PyTorchLightning/pytorch-lightning/discussions/8561, not this one

You can work around it by passing `--trainer.plugins ddp_find_unused_parameters_false`

[2021-10-18 12:31] quancs commented on #8008
Aha, sorry....

[2021-10-18 12:41] rohitgr7 commented on #9493
this is fixed in transformers recent release. closing it. feel free to open if it occurs again.

[2021-10-18 12:41] #9493 closed

[2021-10-18 17:15] #9205 closed

[2021-10-18 17:25] AndersJing commented on #9205
I run the code again on 1.4.9, the issue is fixed.

[2021-10-18 20:57] adamgayoso commented on #9304
Hi -- just checking in. Are there any plans to address this issue? I would help but I'm not even sure exactly where to start.

[2021-10-18 21:07] Jasha10 opened #10006 "basic_examples/simple_image_classifier.py: TypeError: __init__() got an unexpected keyword argument 'run'"
## 🐛 Bug

When I run `pl_examples/basic_examples/simple_image_classifier.py` using the instructions from `pl_examples/basic_examples/README.md`, I am getting a TypeError:

[code]

### Environment

[code]

[2021-10-18 21:36] Jasha10 commented on #10006
Oops sorry, it looks like the issue was that the installed version of the LightningCLI class came from a different git commit than the version of `simple_image_classifier.py` that I was trying to run.

[2021-10-18 21:36] #10006 closed

[2021-10-18 23:47] YodaEmbedding commented on #5301
Duplicate of https://github.com/PyTorchLightning/pytorch-lightning/issues/4012

[2021-10-19 07:12] akihironitta opened #10013 "[CI] Verify Linked Issue Action bot is noisy"
## 🐛 Bug
![image](https://user-images.githubusercontent.com/20610905/137860780-15a1e557-eed2-4f28-a520-6a4ae31f3e98.png)

the bot (verifying if pr contains issue number) is noisy as observed in #10012.

### To Reproduce
Submit a PR w/o any issue number.

### Expected behavior
Bot comments only one time.

### Additional context
#9575 tried to fix this but it seems it didn't?

cc: @Borda

[2021-10-19 07:33] popfido commented on #9989
If this decision is about to do under the agreement of developing team, I'd like to directly fix my PR to your Suggestion LOL.

[2021-10-19 11:07] tchaton commented on #10013
Hey @akihironitta,

We will implement an improved version of the bot after v1.5. The spam is still a good thing to avoid un-tracked work.

Best,
T.C

[2021-10-19 14:25] carmocca opened #10021 "Inconsistent precision plugin filename suffix"
## Proposed refactoring or deprecation

Current names:

[code]

### Motivation

Had to choose this when working on https://github.com/PyTorchLightning/pytorch-lightning/pull/10020

### Pitch

`ipu_precision.py` -> `ipu.py`
`deepspeed_precision.py` -> `deepspeed.py`

______________________________________________________________________

#### If you enjoy Lightning, check out our other projects! ⚡

[2021-10-19 15:47] eladsegal opened #10024 "LearningRateMonitor KeyError with multiple parameter groups and no LR scheduler"
## 🐛 Bug
This bug is due to the change in https://github.com/PyTorchLightning/pytorch-lightning/pull/9786:
When there is an optimizer with multiple parameter groups and no learning rate scheduler,
`_find_names_from_optimizers` returns keys with suffix but then the suffix is added again in `_get_lr_momentum_stat`, resulting in a key error.
It only happens for multiple parameter groups, as for a sin

[2021-10-20 00:49] #7250 closed

[2021-10-20 05:23] pratikchhapolika opened #10038 "Exporting PyTorch Lightning model to ONNX format not working"
I am using Jupyter Lab to run. It has pre-installed tf2.3_py3.6 kernel installed in it. It has 2 GPUS in it.

[code]

Here is the screenshot of my model and it got interrupted due to connection issue.

I am saving the best model in checkpoint.

`I am doing multi-label classification using Hugging face model. After training the model I want to export the model using ONNX format.`

**Here is the Dat

[2021-10-20 07:28] #9941 closed, assigned to nobody

[2021-10-20 11:04] rohitgr7 commented on #10024
hey!
created a fix here: https://github.com/PyTorchLightning/pytorch-lightning/pull/10044
can anyone confirm if it's working for them now?
thanks :)

[2021-10-20 21:50] RuRo commented on #5449
@tchaton do you mind reopening this issue? Since this seems to be such a non-trivial problem, perhaps lightning should provide `steps_per_epoch` (or `num_training_steps`) property out of the box?

[2021-10-20 22:20] awaelchli opened #10059 "Simplify multiprocessing logic in DDPSpawn plugins"
## Proposed refactoring or deprecation

When working on #9987 and the corresponding refactors around the spawn plugins, I realized that the logic around the multiprocessing queue and how results are handled and returned to the trainer is quite outdated and overly complicated. This logic has outlived many changes, but we never saw a way to make it simpler. With this issue I propose several steps to

[2021-10-20 23:28] daniellepintz opened #10060 "Docker tests consistently flaky and failing"
The Docker jobs on our CI are very flaky and fail often, making our CI red :/
Some recent examples:
https://github.com/PyTorchLightning/pytorch-lightning/runs/3956925878
https://github.com/PyTorchLightning/pytorch-lightning/runs/3956925126

I have spent a good amount of time trying to debug them (e.g. #9676), but it is difficult since the failures come and go.

As part of #9445, we want to work to

[2021-10-21 00:48] awaelchli commented on #9984
@Renthal I may not fully understand the issue you are describing, but are you saying that you pass in some arguments from the trainer to the `save_hyperparameters()` method? Our documentation shows an example yes, but I would strongly advise against that, as these should not be considered hyperparameters to the model. Could you share which plugin it is that causes trouble?

[2021-10-21 07:32] qmpzzpmq opened #10062 "self.trainer.training/testing/validating/predicting all are False"
During the checking phase before the first training step, the all self.trainer.training/testing/validating/predicting status in Datamodule are Fasle.

[2021-10-21 08:21] #10038 closed, assigned to nobody

[2021-10-21 09:20] Renthal commented on #9984
I can add some context yes. So, if I run the code with this code
[code]
all the stuff inside kwargs gets put into the `self.hparams` field, which ins 1.2.8 was OK and quite convenient. I then updated to 1.4.9 and "all of a sudden" I could not load a checkpoint anymore for some very cryptic error message about DDP (note: I was loading the checkpoint for inference on cpu-only, so I found it very wei

[2021-10-21 10:02] qmpzzpmq commented on #10062
@rohitgr7 on_after_batch_transfer

[2021-10-21 10:16] rohitgr7 commented on #10062
must be happening during sanity_check. for that it's `self.trainer.sanity_checking`. you can disable it using `Trainer(num_sanity_val_steps=0)` if you want.

[2021-10-21 20:15] aivanou commented on #9667
Hello @ananthsub  !

Recently I encountered the same issue. What is the difference between `ddp` and `ddp2` and when should I use one over the other?

[2021-10-21 22:58] RuRo opened #10074 "`get_model_size_mb` (`LightningModule.model_size`) shouldn't create temporary files in the current directory"
Currently, the [`get_model_size_mb` function](https://github.com/PyTorchLightning/pytorch-lightning/blob/c3614f1c07caf2c1519fcbe37140f2aeef7a8308/pytorch_lightning/utilities/memory.py#L165) is implemented like this:
[code]

This writes the model to disk and also introduces a race condition where the temporary file may be left behind if the user "Ctrl+C"s the program while the `torch.save` and `os.

[2021-10-22 03:15] awaelchli commented on #10074
@RuRo Thanks, this seems totally reasonable to me. Would you be interested in contributing this change?

[2021-10-22 03:41] awaelchli commented on #7815
Closing due to inactivity and verified again that the script I posted triggers the `on_validation_batch_end` callback hook (PL 1.5-dev). More information would be needed to verify an issue and continue work here. Thank you for sending the bug report.

[2021-10-22 03:42] #7815 closed

[2021-10-22 12:10] sunshuofeng opened #10080 "AttributeError: 'LightningDistributedModule' object has no attribute 'require_backward_grad_sync'"
## 🐛 Bug

When I use **manual_backward** ，this bug appear 。
I know the new version may fix this, but for some reasons I can only use version 1.2.4, what should I do?

### Environment

* CUDA:
        - GPU:
        - available:         True
        - version:           11.1
* Packages:
        - numpy:             1.21.2
        - pyTorch_debug:     False
        - pyTorch_version:   1.8.1+cu111

[2021-10-22 16:07] low5545 opened #10082 "`reset_seed()` sets `PL_SEED_WORKERS` to 1 even when the environment variable read indicates `PL_SEED_WORKERS=0`"
## 🐛 Bug

The following is the [definition for `pytorch_lightning.utilities.seed.reset_seed()`](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/utilities/seed.py#L85):
[code]

When the environment variable `PL_SEED_WORKERS` is not set, `worker` takes the value of `False`. Else, `worker` will store the value of `PL_SEED_WORKERS` read from the environment (`"0"` o

[2021-10-22 19:46] RuRo opened #10089 "LR Tuner suggest `min/max` learning rate for cyclic schedulers"
## 🚀 Feature

Better support for using Cyclic learning rate schedulers (`OneCycleLR`, `CyclicLR`, `CosineAnnealing*LR`) with the LR Tuner.

1) Add an optional `cyclic=False` argument to [`_LRFinder.suggestion` and `_LRFinder.plot`](https://github.com/PyTorchLightning/pytorch-lightning/blob/495aa44fb7e081a50c06a9be0403adfbaeb4c136/pytorch_lightning/tuner/lr_finder.py#L173). When it is set to `True`

[2021-10-22 22:43] SeanNaren opened #10090 "Improve/Update bfloat16 docs"
## 📚 Documentation

We can improve the bfloat16 docs now that 1.10 is out, with also a link on how it works (how it chooses which operations to run in bf16 + the behaviour in autocast if we set to bf16).

This is motivated by https://github.com/PyTorchLightning/pytorch-lightning/pull/9049#issuecomment-949932101

[2021-10-23 03:11] jmerkow opened #10091 "save_hyperparameters gives AssertionError: failed to inspect the obj init"
Not sure what is going on I have been using PL for a while and for some reason i am getting this error `AssertionError: failed to inspect the obj init - <frame at 0x7f93a4006298 ...."` when run `save_hyperparameters()`

I am using:
[code]
Here is the init function:
[code]

here is the result of the print statement in the beginning to check types:

[code]

More of the error:

[code]

[2021-10-23 04:38] #10091 closed, assigned to nobody

[2021-10-23 11:08] awaelchli opened #10092 "`LightningModule.to_torchscript()` causes false positive deprecation warnings"
## 🐛 Bug

### To Reproduce

[code]

[code]

### Expected behavior

No deprecation warning, since user did not have these properties in their code.

### Environment

[code]

cc @justusschock @awaelchli @akihironitta @rohitgr7 @tchaton

[2021-10-23 15:09] ronif opened #10093 "`utilities.data.extract_batch_size` can silently fail -- maybe it needs to be less automatic?"
## Motivation

Hey! So from what I understand `extract_batch_size` is used by `ResultCollection` to reduce/re-weight various logging metrics such as validation loss, etc.

We had an issue where our batch collation function aggregated Tensors into a list instead of stacking them (needed because of size mismatches), and `extract_batch_size` would recursively crawl through the batch object until it f

[2021-10-23 16:48] emilylimxq opened #10095 "unable to use with nvidia nemo"
Describe the bug

I ran the ipynb and it could work previously. But it just couldn't work today.

Steps/Code to reproduce bug

I literally just ran the same codes from here https://colab.research.google.com/github/NVIDIA/NeMo/blob/main/tutorials/nlp/Question_Answering_Squad.ipynb#scrollTo=dzqD2WDFOIN-

it gave me this and during the installing, this happened, but It did not happen a few days ago.

[2021-10-24 10:18] TezRomacH opened #10097 "Formatting for grouped metrics."
## 🚀 Feature

### Motivation

With Lightning, I use Tensorboard and ClearML, which allow you to group metrics in one tab. The "/" is used for grouping. In the screenshots from tb and ClearML you can see how they are grouped now.
<img width="500" alt="Screenshot 2021-10-23 at 22 14 43" src="https://user-images.githubusercontent.com/7549587/138589550-348d51d4-8ca5-48f8-8673-dd2e1d84a8d3.png">
<img w

[2021-10-24 10:19] ElderWanng opened #10098 "Multi-ndoes DDP training hanging when initializing."
## 🐛 Bug

I'm trying to utilize all the computational resources to speed up. My code works fine on a single node, multi-GPUs mode (which means I did most part for DDP training right).

But when it comes to multi-nodes, I found my code always stops at DDP initializing. (stop at 2/4, I guess one node initializes correctly, but another one sucks. )
[code]

### To Reproduce
I follow this #8707 and bor

[2021-10-24 10:50] #10095 closed, assigned to nobody

[2021-10-24 22:17] awaelchli opened #10107 "RFC: Validate Trainer settings against cluster environment settings"
## 🚀 Feature

Introduce a validation check that verifies the Trainer settings like gpus, and number of nodes are set compatible with the cluster environment currently used.

### Motivation

There have been several issues where users did not set the number of devices or the number of nodes correctly on clusters (#10098,  #8993, #4612). The result: Processes hang for unknown reason. The user is conf

[2021-10-24 23:07] daniellepintz opened #10108 "Move `training_trick_connector` code to `trainer.py`"
## Proposed refactoring or deprecation

Move the code from `on_trainer_init` in training_trick_connector to trainer.py and remove training_trick_connector
https://github.com/PyTorchLightning/pytorch-lightning/blob/c9bc10ce8473a2249ffa4e00972c0c3c1d2641c4/pytorch_lightning/trainer/connectors/training_trick_connector.py#L24

### Motivation

There is not a lot of code in `training_trick_connector.py`

[2021-10-25 01:40] daniellepintz opened #10109 "Move code from `debugging_connector` to `trainer.py`"
## Proposed refactoring or deprecation

Move the code from `on_init_start` in `debugging_connector.py` to `trainer.py` and deprecate `debugging_connector`
https://github.com/PyTorchLightning/pytorch-lightning/blob/c9bc10ce8473a2249ffa4e00972c0c3c1d2641c4/pytorch_lightning/trainer/connectors/debugging_connector.py#L26

### Motivation

There is not a lot of code in `debugging_connector.py` and rathe

[2021-10-25 01:47] daniellepintz opened #10110 "Remove `model_connector.py`"
## Proposed refactoring or deprecation

`model_connector.py` has only one function `copy_trainer_model_properties` which is used in one place, `data_connector.py`. Let's move `copy_trainer_model_properties` directly to `data_connector.py`.

### Motivation

We are auditing the connectors in the Architecture doc (https://docs.google.com/document/d/1xHU7-iQSpp9KJTjI3As2EM0mfNHHr37WZYpDpwLkivA/edit?pl

[2021-10-25 04:15] prdai opened #10115 "how test the best checkpoint without fit"
### Discussed in https://github.com/PyTorchLightning/pytorch-lightning/discussions/10015

<div type='discussions-op-text'>

<sup>Originally posted by **Achazwl** October 19, 2021</sup>
What should I do if I want to test the best checkpoint (using previous training checkpoint)? I would save the checkpoints in a quite complicated format, like `{epoch:02d}-{val_loss:.2f}.ckpt`. But when I run test, I

[2021-10-25 04:18] #10115 closed, assigned to nobody

[2021-10-25 04:31] #9919 closed, assigned to nobody

[2021-10-25 05:19] daniellepintz opened #10119 "Remove `optimizer_connector.py`"
## Proposed refactoring or deprecation

Move `on_trainer_init` function to `trainer.py`
https://github.com/PyTorchLightning/pytorch-lightning/blob/c9bc10ce8473a2249ffa4e00972c0c3c1d2641c4/pytorch_lightning/trainer/connectors/optimizer_connector.py#L26

Move `update_learning_rates` function to `training_epoch_loop.py`
https://github.com/PyTorchLightning/pytorch-lightning/blob/c9bc10ce8473a2249ffa4e

[2021-10-25 08:32] low5545 opened #10122 "Metric reduction behaviour of `LightningModule.log()` across accelerator workers"
## 🐛 Bug

The metric reduction behaviour of `LightningModule.log()` is not too clearly documented. Thus, I ran the following 6 cases to gain a better understanding of it (applicable at least for `accelerator=ddp/ddp_spawn`):

Assuming `WORLD_SIZE=2` (tested on single node 2 GPUs)
#### Case 1
[code]

#### Case 2
[code]

#### Case 3
[code]

#### Case 4
[code]

#### Case 5
[code]

#### Case 6
[code]

[2021-10-25 09:43] rohitgr7 opened #10124 "Update examples doc"
## 📚 Documentation

A lot of links are outdated here. Anyone willing to contribute a PR to fix them?
https://pytorch-lightning.readthedocs.io/en/latest/ecosystem/community_examples.html

Here is the file you need to edit: https://github.com/PyTorchLightning/pytorch-lightning/blob/master/docs/source/ecosystem/community_examples.rst

Thanks!

[2021-10-25 10:27] #9907 closed, assigned to awaelchli

[2021-10-25 11:43] akihironitta opened #10128 "CI: GPU tests fail while initializing containers due to `nvml error: driver/library version mismatch`"
## 🐛 Bug
Currently failing in master:

[code]

### To Reproduce
https://dev.azure.com/PytorchLightning/pytorch-lightning/_build/results?buildId=38623&view=results

### Expected behavior
CI doesn't fail at "Initialize containers".

### Environment

### Additional context
seems like XGBoost had this issue: https://github.com/dmlc/xgboost/pull/7318

[2021-10-25 12:49] akihironitta opened #10129 "CI: conda 1.9 and 1.10 getting killed"
## 🐛 Bug
`conda (3.7, 1.9)` and `conda (3.7, 1.10)` runs non-deterministically fail with the error:

[code]

### To Reproduce
See `conda (3.7, 1.9)` and `conda (3.7, 1.10)`:
- Successful runs: https://github.com/PyTorchLightning/pytorch-lightning/actions/workflows/ci_test-conda.yml?query=is%3Asuccess
- Failing runs: https://github.com/PyTorchLightning/pytorch-lightning/actions/workflows/ci_test-co

[2021-10-26 00:52] #10119 closed, assigned to daniellepintz

[2021-10-26 07:09] gitabtion opened #10147 "ImportError: cannot import name 'PostLocalSGDOptimizer' from 'torch.distributed.optim'"
## 🐛 Bug

pytorch 1.10.0 dont have this optimizer of PostLocalSGDOptimizer in torch.distributed.optim，in ngc image of pytorch:21.09

### To Reproduce

[code]

### Environment

- PyTorch Lightning Version (e.g., 1.3.0): 1.5.0rc1
- PyTorch Version (e.g., 1.8): 1.10.0a0+3fd9dcf (from ngc image of pytorch:21.09)
- Python version: 3.8.10
- OS (e.g., Linux): ubuntu 20.04
- CUDA/cuDNN version: 11.4

[2021-10-26 07:15] #10147 closed, assigned to nobody

[2021-10-26 07:38] Programmer-RD-AI opened #10148 "Training an MLP classifier as validation for and within self-supervised training"
### Discussed in https://github.com/PyTorchLightning/pytorch-lightning/discussions/10133

<div type='discussions-op-text'>

<sup>Originally posted by **jonbraunstat** October 25, 2021</sup>
Hello there all!
I’m training a self-supervised model and would like to probe the quality of the encoder (ability to generalise) with several small classification tasks every couple of epochs. Training of the m

[2021-10-26 09:52] #10110 closed, assigned to daniellepintz

[2021-10-26 11:03] awaelchli opened #10150 "Validate environment variables in SLURMEnvironment and warn user about incompatible settings"
## 🚀 Feature

Check slurm environment settings and print warnings if needed.

### Motivation

If SLURM srun variables are set incorrectly, the processes can hang and the user will not know why.

Examples:
- https://github.com/PyTorchLightning/pytorch-lightning/issues/4612#issuecomment-949937617
- #15141

### Pitch

In the SLURM cluster environment, check for example:

[code]
### Alternatives

Do n

[2021-10-26 11:12] #10062 closed, assigned to nobody

[2021-10-26 14:04] yjqiang opened #10153 "Maybe we should use the model as an instance variable owned by an instance of the class pl.LightningModule?"
Maybe we should use the model as **an instance variable owned by an instance of the class `pl.LightningModule`**? Not like [`class LitAutoEncoder(pl.LightningModule)`](https://github.com/PyTorchLightning/pytorch-lightning#step-2-define-a-lightningmodule-nnmodule-subclass).

Example:
[code]

I'll give my considerations.
1. [`model: "pl.LightningModule"`](https://github.com/PyTorchLightning/pytorch-

[2021-10-26 14:12] gitabtion opened #10154 "Lightning throws "bypassing sigterm" on DDP for unknown reason"
## 🐛 Bug

To train the model using big data, I have split all the data to some parts, I use fit function to train each part in turn. "bypassing sigterm" will occur in the second part.

### To Reproduce

[code]

### Expected behavior

### Environment

- PyTorch Lightning Version (e.g., 1.3.0): 1.5.0rc1
- PyTorch Version (e.g., 1.8): 1.10.0+cu113
- Python version: 3.8.10
- OS (e.g., Linux): ubuntu20

[2021-10-26 14:50] jzazo opened #10155 "Concatenation of non-tensor values when using DP accelerator do not get aggregated in lists"
## 🐛 Bug

When using DP mode, tensors are concatenated/stacked at the input of `training_step_end`, etc. Other non-tensor objects are not concatenated in lists, but rather displayed as a string object, e.g., `'<map object at 0x7fcd1d1e5700>'`.

### To Reproduce

[code]

### Expected behavior

`print("outputs on step end", outputs)` is something like
[code]
but should be something like
[code]

###

[2021-10-26 15:25] jzazo opened #10156 "Trainer.predict should accumulate results on CPU not GPU"
## 🐛 Bug

As discussed [here](https://github.com/PyTorchLightning/pytorch-lightning/discussions/7485) and addressed by this [PR](https://github.com/PyTorchLightning/pytorch-lightning/pull/9085), predicted results should accumulate on CPU. However, this does not appear to be working properly.

### To Reproduce

[code]

### Expected behavior

I expected `cpu` printed output, but I get `cuda:0`. Work

[2021-10-26 22:49] daniellepintz opened #10161 "Move `env_vars_connector.py` to utilities file"
## Proposed refactoring or deprecation

Is this being used or can we remove this?
https://github.com/PyTorchLightning/pytorch-lightning/blob/c33df2639f19d49c5e7520294e3221efe402d684/pytorch_lightning/trainer/connectors/env_vars_connector.py#L21

[2021-10-27 02:40] lengstrom opened #10168 "ImageNet training example crashes on evaluation"
## 🐛 Bug
ImageNet training example does not evaluate correctly. I get the error:
[code]

### To Reproduce
Go to the examples directory:
`https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/domain_templates/`
Then run:
[code]

### Expected behavior
It doesn't crash and instead gets the accuracy of the model.

### Environment
* CUDA:
        - GPU:
                - A100-SX

[2021-10-27 04:34] eladsegal opened #10169 "DDP on SLURM doesn't work when `TrainingTypePlugin` is passed as strategy to `Trainer`"
## 🐛 Bug
When passing `TrainingTypePlugin` as strategy to `Trainer`, as opposed to passing a string, DDP doesn't work on SLURM.

From a quick look, it seems the issue is that `self._distrib_type` is not set, causing properties of `AcceleratorConnector` to return a wrong value: `use_ddp` returns false instead of true which makes `_configure_slurm_ddp` do nothing.

Code for reproducing:
[code]

[2021-10-27 05:33] eladsegal opened #10170 "Distributed mode overwrites the user's choice for dataloaders shuffling"
## 🐛 Bug
I ordered my training data in a specific manner and passed it to the DataLoader with `shuffle=False` (I use `reload_dataloaders_every_n_epochs=1` to control it every epoch). Then, I found out that running in distributed mode re-creates the train dataloader and always set `shuffle=True`. The opposite happens for the val dataloader.

I think that the re-creation of the dataloaders must be u

[2021-10-27 06:17] #10128 closed, assigned to nobody

[2021-10-27 07:44] tchaton opened #10174 "Add support for torch.cuda.CUDAGraph"
## 🚀 Feature

Found from this release page: https://pytorch.org/blog/accelerating-pytorch-with-cuda-graphs/

[code]

### Motivation

### Pitch

### Alternatives

### Additional context

______________________________________________________________________

#### If you enjoy Lightning, check out our other projects! ⚡

<sub>

- [**Metrics**](https://github.com/PyTorchLightning/metrics): Machine lea

[2021-10-27 08:49] #10156 closed, assigned to nobody

[2021-10-27 09:17] jovan-absci opened #10180 "trainer.num_nodes not set when running elastic multi-node training"
## 🐛 Bug
I'm using the TorchElastic Kubernetes Controller to run ElasticJobs on my cluster. I'm using Lightning in my code and set the trainer like so:
`trainer = pl.Trainer(gpus=-1, accelerator='ddp')`

The job creates two pods, each using 4 gpus. The generated command for each pod looks like this:

[code]

[The docs](https://pytorch-lightning.readthedocs.io/en/latest/advanced/multi_gpu.html#torc

[2021-10-27 11:18] marcm-ml opened #10182 "Disable UserWarning for DataLoaders with num_workers=0"
## Proposed refactoring or deprecation

Disable dataloader UserWarning for **num_workers=0** since 0 disables multi-process loading (according to pytorch docs it loads in the main process whereas 1 would create a separate process)

### Motivation

I understand the motivation behind utilising more processes for data loading but the warning should not appear if the user specifically requested to use

[2021-10-27 14:39] FeryET opened #10188 "Give option to load custom stuff from the checkpoint instance manually."
### Discussed in https://github.com/PyTorchLightning/pytorch-lightning/discussions/10172

<div type='discussions-op-text'>

<sup>Originally posted by **FeryET** October 27, 2021</sup>
I want to create an inference model, and I have multiple datasets. For this issue, I want to save some settings about my DataModule and indicate what is the test indices, what is the dataset location and etc.

How ca

[2021-10-27 14:54] rohitgr7 opened #10190 "Support timm schedulers and other custom schedulers"
## 🚀 Feature

Previous discussions:
https://github.com/PyTorchLightning/pytorch-lightning/issues/9964
https://github.com/PyTorchLightning/pytorch-lightning/issues/5555

### Motivation

[timm](https://github.com/rwightman/pytorch-image-models) seems to be a very popular package (14k stars). Lightning currently raises an error when using it and doesn't support it out of the box.

### Pitch
Since it

[2021-10-27 16:36] carmocca opened #10193 "[Lite] Custom runnable methods"
## 🚀 Feature

### Motivation

`LightningLite` is an abstract class, which defines:

[code]

as its only abstract method.

If the Lite user has more than one loop to convert to lite, he/she is forced to create separate `LightningLite` instances, one with each `run` implementation.

Users might need to override different functions, perhaps because your code is slightly different and you don't want t

[2021-10-27 16:38] tchaton opened #10194 "Pyre infers the tensor sizes on the fly, while you are coding, even symbolically"
## 🚀 Feature

While checking xformer library, it seems there is a very interesting work behind added https://github.com/facebookresearch/xformers/pull/44.

It seems it is possible to get automatic lintin on tensor shapes. Not sure exactly how it works, but could be interesting for the users.

### Motivation

### Pitch

### Alternatives

### Additional context

_____________________________________

[2021-10-27 19:12] daniellepintz opened #10196 "Azure Pipelines / PL.pytorch-lightning (GPUs) failing with `Bash exited with code '1'.`"
I have seen this error on multiple PRs `Bash exited with code '1'.`

https://github.com/PyTorchLightning/pytorch-lightning/pull/10113/checks?check_run_id=4026484639

Anyone know how to fix this?

[2021-10-27 19:38] speediedan opened #10197 "A Multi-phase, Scheduled Finetuning Callback"
## 🚀 Feature

A callback that enables multi-phase, scheduled finetuning of foundational models.
[code]
![fts_explicit_loss_anim](https://user-images.githubusercontent.com/7462936/139134412-fd017fc9-0a5d-4896-95dd-7460c301b703.gif)
### Motivation

Gradual unfreezing/thawing can help maximize foundational model knowledge retention while allowing (typically upper layers of) the model to optimally ada

[2021-10-27 22:26] ritsuki1227 opened #10201 "Trainer runs indefinitely if `fast_dev_run=True` when iterating over `self.logger`"
## 🐛 Bug

If you specify `fast_dev_run=True` and multiple loggers, and include a loop implementation over the `LoggerCollection` object for training, then the loop in the training runs indefinitely. If `fast_dev_run=False`, it runs correctly.

### To Reproduce

A slightly modified version of the BoringModel script:

[code]

### Expected behavior

The training finishes when `fast_dev_run=True`.

##

[2021-10-27 23:24] #10196 closed, assigned to nobody

[2021-10-28 03:31] prdai opened #10204 "Train multiple models in a single GPU on parallel"
### Discussed in https://github.com/PyTorchLightning/pytorch-lightning/discussions/10159

<div type='discussions-op-text'>

<sup>Originally posted by **grudloff** October 27, 2021</sup>
Is there a recommended way of training multiple models in parallel in a single GPU? I tried using joblib's `Parallel` & `delayed` but I got a `CUDA OOM` with two instances even though a single model uses barely a f

[2021-10-28 05:13] aazzolini opened #10207 "Why do we need a run() method"
### Discussed in https://github.com/PyTorchLightning/pytorch-lightning/discussions/10206

<div type='discussions-op-text'>

<sup>Originally posted by **aazzolini** October 27, 2021</sup>
It looks completely out of place to me and misleading. I really like the simplicitly of LightningLite as a _concrete_ class.
The run method here is completely out of place. The docstring is wrong, because nothing

[2021-10-28 05:28] aazzolini opened #10208 "Is this really a DataLoader?"
Isn't this just an Iterator that we can pipe from the original DataLoader iterator? Usually sub-classing specializes behavior, it shouldn't modify it . Maybe this is more like a decorator or something?

https://github.com/PyTorchLightning/pytorch-lightning/blob/c614cf0c3d7a252bfd01ff8516f9f42f1c1b055a/pytorch_lightning/lite/wrappers.py#L128

[2021-10-28 08:11] #10208 closed, assigned to nobody

[2021-10-28 08:11] #10207 closed, assigned to nobody

[2021-10-28 08:13] vence-andersen opened #10213 "ValueError: num_samples should be a positive integer value, but got num_samples=0"
I copy pasted the exact code present in this [link of their official site](https://pytorch-lightning.readthedocs.io/en/latest/extensions/loops.html#available-loops-in-lightning-flash) in colab and ran it, yet still I am getting the `ValueError: num_samples should be a positive integer value, but got num_samples=0`.

Code to reproduce error:(This is the exact code on their site).

`
import torch
im

[2021-10-28 09:58] #10213 closed, assigned to nobody

[2021-10-28 10:53] SeanNaren opened #10214 "Support Habanas' Gaudi Accelerator"
## 🚀 Feature

Recently Intel's Habana Labs announced [AWS nodes for their Gaudi Accelerator](https://venturebeat.com/2021/10/26/amazon-launches-aws-instances-powered-by-habanas-ai-accelerator-chip/). As described in the [reddit post](https://www.reddit.com/r/MachineLearning/comments/qh95on/n_amazon_launches_aws_instances_powered_by/) there seems to be a lot of potential for model parallel solution

[2021-10-28 12:57] #10082 closed, assigned to awaelchli, low5545

[2021-10-28 15:02] proutrc opened #10216 "DDP initialization breaks on HPC system at larger scale"
We are experiencing an issue with DDP at larger scales on our HPC system (Summit at OLCF - LSF scheduler). The specific threshold is at 14 nodes, where things suddenly aren't able to initialize anymore. It appears there is all of a sudden an inability to setup ranks across nodes properly, as depicted below in the output.

Each node as 6 GPUs. So, in total, we are trying to use 84 GPUs when things

[2021-10-28 15:24] AAnoosheh opened #10219 "Outputs from test_step() incorrectly gathered & converted to tensors (DataParallel)"
## 🐛 Bug

In DP (not DDP) mode, outputs from all `test_step()` processes are gathered onto GPU 0 for processing in `test_epoch_end()`
But some types are converted to Tensors automatically before `test_epoch_end()` is called, and many incorrectly.

### To Reproduce

[code]

### Expected behavior

Would print:
[code]

But instead, the values of the empty tensors, and ideally all the other primitives

[2021-10-28 17:12] ericharper opened #10226 "Add trainer flag max_time_per_run"
## 🚀 Feature

Add a `max_time_per_run` flag to trainer. Currently there is a `max_time` flag: https://pytorch-lightning.readthedocs.io/en/latest/common/trainer.html#max-time . This is global training time which is not helpful in this case.

### Motivation

When training on large GPU clusters with time limits, it's important to be able to stop training after a specified time. For example, assume th

[2021-10-28 18:07] carmocca opened #10228 "Debug mode for distributed problems"
## 🚀 Feature

Implement an environment flag where collective ops print information about their use. This can be for example the barrier and its name per process.

### Motivation

Improve the debugging experience for distributed problems.

cc @borda @awaelchli @rohitgr7 @akihironitta @tchaton
______________________________________________________________________

#### If you enjoy Lightning, check

[2021-10-28 20:31] rohitgr7 opened #10229 "call `on_load_checkpoint` for `LightningDataModule`"
## Proposed refactoring or deprecation

call `on_load_checkpoint` for `LightningDataModule`.
currently it only works in case of fitting, but since datamodule is a part of training/evaluation process I think we should consider calling this hook on validate/test/predict calls.

### Motivation

If I implement the complete data logic inside `LightningModule` and want to reload any data related states,

[2021-10-29 00:01] #10154 closed, assigned to awaelchli

[2021-10-29 01:16] four4fish opened #10231 "Rename devices in accelerator_connector to devices_count"
## Proposed refactoring or deprecation

Device this term has been used heavily in accelerator connector. There is parallel_devices, device_type, parallel_device_id. It's more self explain if rename devices to devices_count

### Motivation

Improve code readability

### Pitch

### Additional context

______________________________________________________________________

#### If you enjoy Lightning

[2021-10-29 02:29] fcqfcq opened #10233 "ImportError: cannot import name 'r2score' from 'torchmetrics.functional'"
## 🐛 Bug
[code]

- PyTorch Lightning Version (e.g., 1.4.9,1.4.8):
- PyTorch Version (e.g., 1.8)
- Python version:3.7.10
- OS (e.g., Linux): Ubuntu
- CUDA/cuDNN version:11.1
- GPU models and configuration:
- How you installed PyTorch (`conda`, `pip`, source):  pip
- If compiling from source, the output of `torch.__config__.show()`:
- Any other relevant information:
-torchmetrics (0.6.0)

[2021-10-29 02:32] #10233 closed, assigned to nobody

[2021-10-29 03:16] #10204 closed, assigned to nobody

[2021-10-29 07:22] #10201 closed, assigned to nobody

[2021-10-29 07:35] Keredu opened #10234 "Trainer.test and ModelCheckpoint in PL==1.4.9"
### Discussed in https://github.com/PyTorchLightning/pytorch-lightning/discussions/10218

<div type='discussions-op-text'>

<sup>Originally posted by **Keredu** October 28, 2021</sup>
Hi,

I would like to ask about how to use Trainer.test correctly. In this [google colab link](https://colab.research.google.com/drive/1cMhv-rg6MbGyoefWfkwg8RujYL1pqiFg?usp=sharing), I have developed a minimal example

[2021-10-29 08:58] #10182 closed, assigned to nobody

[2021-10-29 09:12] tchaton opened #10239 "Call for High Quality Lightning Lectures - Community Sprint"
## 🚀 Feature

Dear community,

As PyTorch Lightning mature, we believe it is important for the Lightning Team and its community to improve the Lightning onboarding process.

In that regards, the PyTorch Lightning Team (@Borda) built a https://github.com/PyTorchLightning/lightning-tutorials repo containing tuto-books (notebooks as python script). The tuto-books are converted into notebooks, fully t

[2021-10-29 09:55] #9839 closed, assigned to nobody

[2021-10-29 11:13] #10234 closed, assigned to nobody

[2021-10-29 11:57] #9909 closed, assigned to tchaton

[2021-10-29 12:05] #10168 closed, assigned to justusschock

[2021-10-29 12:08] #10122 closed, assigned to tchaton

[2021-10-29 13:03] victorjoos opened #10245 "Empty list for gpus throws MisconfigurationException instead of running on CPU"
## 🐛 Bug

When setting gpus to an empty list, it throws a MisconfigurationException instead of just not using a gpu, as I would expect.

### To Reproduce

Run any model with `Trainer(gpus=[])`

### Expected behavior

runs on CPU instead of crashing

### Environment
N/A

### Additional context
N/A

[2021-10-29 15:31] MinWang1997 opened #10250 "Ycb video dataset"
## 🚀 Feature

add ycb video dataset to vision data modules

### Motivation
I noticed that the CVPR 2021 oral paper FFB6D used test data as validation set and test dataset…
I'm always frustrated when I deal with data preprossing and dataloader.

### Pitch

Create standard ycb dataset as preßbuilt datamodules for 6D pose estimation.

[2021-10-29 16:55] #10155 closed, assigned to awaelchli

[2021-10-29 18:20] #10108 closed

[2021-10-29 18:55] jovan-absci commented on #10180
Hi @awaelchli
The prints report correct information:
<pytorch_lightning.plugins.environments.torchelastic_environment.TorchElasticEnvironment object at 0x7fa14f7d8c90>
8

[2021-10-29 20:40] awaelchli commented on #10245
I would argue this not be treated as a bug as we had an explicit test for the empty list be unsupported. I think treating this as an enhancement would be more fitting :) Just a remark. Anyway, thanks for the PR

[2021-10-29 20:54] awaelchli commented on #9242
Closing for now. @saitjinwon if you come back to this issue (sorry for the delay on this) have a look at #9242 (comment).

[2021-10-29 20:54] #9242 closed

[2021-10-29 20:57] awaelchli commented on #10250
Hello @MinWang1997
We don't add dataset templates to Lightning. Did you mean to submit this issue to a different repository?

[2021-10-29 20:57] #10250 closed

[2021-10-29 21:19] four4fish opened #10256 "Update init_ddp_connection logging info message and update function name"
## Proposed refactoring or deprecation

init_ddp_connection is not only used by DDP, but also used by FSDP and other plugins inherit DDP. The log info and rank_zero_info saying ""initializing ddp" or "DDP processes", which could be confusing for user

### Motivation

Debuggability and readability

### Pitch

Update info message to be generic message
Update function name to initialize_distributed_c

[2021-10-29 22:32] z-a-f opened #10260 "Guarantee call order for callbacks"
## 🚀 Feature

It is often beneficial to have an explicit guarantee that the callbacks will be called in the order that they were added to the callback list. If I understand it right, the order right now is preserved, but it's more of an implementation detail, rather than hard rule.

### Motivation and Pitch

Our use case is quantization + sparsity. During the initial setup we prepare the model for

[2021-10-30 00:26] #9202 closed

[2021-10-30 00:26] #9497 closed

[2021-10-30 00:26] #9571 closed

[2021-10-30 00:26] #8924 closed

[2021-10-30 00:26] #9482 closed

[2021-10-30 00:26] #9471 closed

[2021-10-30 00:26] #9303 closed

[2021-10-30 00:26] #9470 closed

[2021-10-30 00:31] RuRo commented on #9741
I still think, that this proposal is at least worth discussing. IMO, pytorch-lightning currently lacks idiomatic ways to change the "default" Trainer configuration. So I am bumping this.

[2021-10-30 05:40] FeryET commented on #10188
I think giving the option to people to load Model and DataModule, or whatever they have added to the checkpoint seperately, or loading them all via calling the trainer is the best option. Currently I use the `load` function from `cloud_io.py` file, which locally uses a simple `torch.load` backend, but there are 2 things:

1. I don't know if this scales to multi-gpu cloud solutions when each cpu ha

[2021-10-30 08:01] tchaton commented on #10256
Good idea, let's do this

[2021-10-30 12:06] awaelchli opened #10265 "Device parsing improvements"
## Proposed refactoring or deprecation

Introduce a device selection dataclass that holds the device selection in a standardized format. Idea by @ananthsub

### Motivation

From @ananthsub in https://github.com/PyTorchLightning/pytorch-lightning/pull/10230#discussion_r738806860

### Pitch

@dataclass
class DeviceSelection

    devices: List[int] = []
    type: DeviceType = CPU

    def parse_input

[2021-10-30 12:07] awaelchli commented on #10265
@ananthsub feel free to edit this issue/pitch

[2021-10-30 12:33] leoyala commented on #924
I had the same problem, I was loading the checkpoint after initializing my model class:
`model = MyModel(*args).load_from_checkpoint(ckpt)`
Changing it to the following solved the problem for me:
`model = MyModel.load_from_checkpoint(ckpt)`

[2021-10-30 12:37] justusschock opened #10267 "Deactivate Unnecessary CIs for Docs"
## 🚀 Feature

Run only Doctest and Docbuilding CIs if changes are only for docs

### Motivation

With #10176 we saw a lot of commits changing the documentation only.
For such commits, it is not necessary to run the full CI. After discussing with @tchaton , we agreed that we cannot rely only on the github label but also have to inspect the git diff to verify only docs were changed.

### Pitch

Only

[2021-10-30 12:43] awaelchli opened #10268 "Rapid prototyping templates are outdated"
## 📚 Documentation

The Rapid [prototyping templates page](https://pytorch-lightning.readthedocs.io/en/latest/starter/rapid_prototyping_templates.html) is highly outdated. There are only two examples and both of them use API from < PL 1.2. For example `Trainer(automatic_optimization=False)`. They are hosted in Colab and therefore we can't update them automatically.

- Does this section belong into

[2021-10-30 12:50] carmocca commented on #10260
We do guarantee this already, with the only exception of the `ModelCheckpoint` callback which gets moved to last.

Although we recommend not relying on it if possible.

Are you asking this after reading some piece of docs that says otherwise?

[2021-10-30 13:18] Borda commented on #10267
this can e simply configures by path in GHA
https://github.com/PyTorchLightning/pytorch-lightning/blob/9237106451f97393b17009a0ca571b6ff5ba5484/.github/workflows/ci_dockers.yml#L10

[2021-10-30 14:09] carmocca commented on #10267
I'm not sure that's right. The docstrings in the code are used to autofill the docs. So any change to a source file can impact the generated docs.

Additionally, docs code examples have a few imports which could break accidentally if left untested. For example:

https://github.com/PyTorchLightning/pytorch-lightning/blob/9237106451f97393b17009a0ca571b6ff5ba5484/docs/source/conf.py#L364-L379

[2021-10-30 14:53] tchaton opened #10270 "[RFC] Improve Lightning for production"
## 🚀 Feature

Lot of users are complaining for PyTorch Lightning to be un-usable in production due to the extra dependencies, code, etc...

Furthermore, Lightning makes a bad job at conveying the best practices behind production around the LightningModule usage.

The LightningModule should be seen as vessel for training, users call it a System.

Here are some proposals to improve best practices ar

[2021-10-30 15:32] justusschock commented on #10267
@carmocca that‘s true and there‘s probably nothing we can do about that, but when directly editing rst-files for example, it should be possible.

And for the doctests and examples: running those takes significantly less time than running our whole pipeline :)

[2021-10-30 15:41] carmocca commented on #10267
Sorry! I misunderstood the proposal. You are saying:

- Any source file was edited: test everything
- Only docs files were edited: test only docs

In that case, I agree. And it's quite easy as Jirka mentioned.

[2021-10-30 16:15] lantiga commented on #10270
Hey @tchaton, great discussion! My 2 cents here.

I think we need to have the concept of “production” defined precisely. Exporting a model to ONNX or TorchScript alone is unfortunately a far cry from deploying to production in many circumstances, so there’s typically a good chunk of (typically) Python code you need (or you need to replace) for full inference. However it may not even make sense to

[2021-10-30 17:40] tchaton opened #10273 "fast_dev_run=True + manual_optimization seem to cycle infinitely"
## 🐛 Bug

### To Reproduce

From this PR: https://github.com/PyTorchLightning/pytorch-lightning/pull/10272/files

[code]

### Expected behavior

### Environment

- PyTorch Lightning Version (e.g., 1.3.0):
- PyTorch Version (e.g., 1.8)
- Python version:
- OS (e.g., Linux):
- CUDA/cuDNN version:
- GPU models and configuration:
- How you installed PyTorch (`conda`, `pip`, source):
- If compiling from

[2021-10-30 18:15] awaelchli commented on #10273
@tchaton can you clarify, `fast_dev_run=True` or False? Your code seems to suggest you run False.

[2021-10-30 21:52] #9506 closed

[2021-10-30 21:52] #9524 closed

[2021-10-30 22:53] #10109 closed

[2021-10-31 07:53] rharish101 opened #10275 "NoneType datamodule/train_dataloader reference in `self.trainer`"
## 🐛 Bug

`self.trainer.datamodule` and `self.trainer.train_dataloader` are both `None` inside `configure_optimizers` for `LightningModule`.

### To Reproduce

[code]

### Expected behavior

I should get the reference to the training dataloader.

### Environment

- PyTorch Lightning Version (e.g., 1.3.0): 1.4.9
- PyTorch Version (e.g., 1.8): 1.9.1+cu102
- Python version: 3.8.5
- OS (e.g., Linux):

[2021-10-31 10:48] MinWang1997 commented on #10250
No, I mean I do not know how to convert a dataset and its complex preprocessing and get item step in a repository to lighting data module. Could you give me a general template?

[2021-10-31 11:25] akihironitta opened #10277 "Decouple "Convert to Lightning" from the Lite page"
## 📚 Documentation
I'd like to suggest extracting "Convert to Lightning" from the Lite page. https://pytorch-lightning.readthedocs.io/en/latest/starter/lightning_lite.html

I'm having a look at the Lite doc page again, and I found it a bit confusing that the doc page has both of the following parts in a single page:
- Pure PyTorch to Lightning Lite ([convert-to-lightninglite](https://pytorch-light

[2021-10-31 14:07] awaelchli commented on #10250
Hey @MinWang1997
The DataModule is not a special dataset. You can 100% reuse the dataset code (e.g. ycb dataset) in a datamodule The datamodule only groups data related code, like splitting the dataset or grouping hyperparameters for the preprocessing.

See here a simple example of a DataModule:
https://pytorch-lightning.readthedocs.io/en/latest/extensions/datamodules.html#what-is-a-datamodule

To

[2021-10-31 14:59] SkafteNicki commented on #10275
I can confirm that `self.trainer.train_dataloader` is `None` inside `configure_optimizers`, however if I pass in a datamodule like this (adjusted version of the script provided):
[code]
then `self.trainer.datamodule` is correctly setup. It happens in these lines:
https://github.com/PyTorchLightning/pytorch-lightning/blob/cb8a2165a3e4418670d0caa334da99b016d488e3/pytorch_lightning/trainer/connectors

[2021-10-31 15:07] rharish101 commented on #10275
Thanks, passing in a datamodule worked!

So there's still a bug, right? I could create a PR to solve it. I have a question, though: should the dataloaders be attached to `self.trainer` (within `DataConnector`) by creating a new datamodule within `attach_dataloaders`, similar to `attach_datamodule`? That way, the docs can stay the same. I was thinking of doing something along the lines of `Lightnin

[2021-10-31 16:02] aribornstein commented on #10277
I agree with you 100% i think we should split it up as this page is quite overwhelming. Lets a have a simple example of how to organize the code and what it gets you and then a second page explaining how it works and how far you can take it.

[2021-10-31 16:09] aribornstein commented on #10277
@tchaton STEPPING STONE TO LIGHTNING is also a bad title we should make it clear exactly what lite does and why it's a stepping stone. This asumes you already know lightning in which case you probably aren't going to be reading about lite

[2021-10-31 18:11] blefaudeux opened #10278 "Pytorch SequentialLR cannot be used"
## 🐛 Bug
Using Pytorch's [SequentialLR](https://pytorch.org/docs/stable/generated/torch.optim.lr_scheduler.SequentialLR.html?highlight=sequentiallr#torch.optim.lr_scheduler.SequentialLR) with Lightning leads to `AttributeError: 'SequentialLR' object has no attribute 'optimizer'` in `_validate_scheduler_optimizer` ([pytorch_lightning/trainer/optimizers.py](https://github.com/PyTorchLightning/pytorc

[2021-10-31 19:54] rohitgr7 commented on #10277
I think it was added to shine some light on `Distributed Training Pitfalls` and how `LightningModule and Trainer` mitigate those issues. If someone is converting their code to `Lite`, we should show them it's not the ultimate tool and has its limitations, in case they want something better in a long run.

[2021-10-31 20:14] rohitgr7 commented on #10275
one workaround
[code]
the reason being the dataloaders are not initialized until `configure_optimizers` is called. They are just referenced. So unless and until there is any initialization, the trainer won't have any dataloaders attached to it.

@awaelchli do you think it's viable to do the first initialization outside fit_loop inside `trainer.py` before we initialize optimizers/schedulers?

[2021-10-31 20:18] rohitgr7 commented on #10278
hey @blefaudeux thanks for raising this. seems like we need to support `SequentialLR` explictly :)

[2021-10-31 20:43] rohitgr7 commented on #10278
ok seems like it's fixed on pytorch master here: https://github.com/pytorch/pytorch/pull/67406
for `ChainedScheduler` added an issue here: https://github.com/pytorch/pytorch/issues/67601

[2021-10-31 20:51] #10278 closed

[2021-10-31 22:04] z-a-f commented on #10260
No, I chatted with @kandluis and he mentioned that the order is preserved, but not guaranteed. If I understand it right, the order is due to current implementation. However, applications such as quant combined with sparsity requires guarantees that the order is preserved -- the functionality and the results will be different depending on the order. Without explicit guarantees that the order is pre

[2021-11-01 05:06] 7starsea opened #10285 "UserWarning: you defined a validation_step but have no val_dataloader. Skipping val loop"
## 🐛 Bug

Using pytorch-lightning 1.5.0rc1, I will get UserWarning:
[code]
But with pytorch-lightning 1.4.9, there is no such warning.

### To Reproduce
[code]

### Environment

- PyTorch Version  1.8.0
- Python version: 3.8.5
- OS (e.g., Linux): linux

[2021-11-01 05:45] cowwoc commented on #9794
@ananthsub Still waiting on your clarification.

[2021-11-01 07:52] #9781 closed

[2021-11-01 09:14] rohitgr7 commented on #10285
it was fixed recently. Can you try master?

[2021-11-01 10:43] rhythmswing opened #10287 "Add support for grad calculation in validation/test loop"
Hi,

It seems that the lightning framework automatically disables autograd in testing and validation loops. While this is generally desired in evaluation mode, there are cases when the differentiation is a part of the computation flow (e.g. in physics engines where you desire to calculate the derivatives of coordinates.)

Would it be possible to add options to enable evaluation mode (as in model.e

[2021-11-01 11:00] tchaton commented on #10277
As @rohitgr7 shared, this was meant to indicate to the first glance that Lite is not the end of the journey and contains lot of limitations.

[2021-11-01 11:21] akihironitta commented on #10277
@rohitgr7 @tchaton I see your point, but I'm still in favor of moving the section to a different page. Lite is already very new to PyTorch users, and mixing another new thing (=Lightning) there can be confusing. I think only mentioning that there are limitations in Lite and linking to another page explaining "Lite to Lightning" would suffice in that case IMHO, but the decision is yours.

[2021-11-01 11:38] tchaton commented on #10277
@awaelchli @carmocca what are your thoughts ?

[2021-11-01 11:41] #10169 closed

[2021-11-01 11:54] tchaton commented on #10260
Dear @z-a-f,

Lightning executes the callbacks in the order there were provided. If you provide them in the same way on reload, the behaviour should be deterministic.

However, we are currently discussing around reloading as quant / sparsity need to be done before / after the model is restored.

@Borda

Best,
T.C

[2021-11-01 12:48] jopo666 opened #10290 "IterableDataset with wrong length causes validation loop to be skipped."
## 🐛 Bug

When `IterableDataset` has a wrong length defined, specifically a higher than the actual number of iterations, the validation epoch is skipped.

### To Reproduce

[code]

### Expected behavior

Run validations loops even with the wrong length.

### Environment
[code]

[2021-11-01 13:02] rohitgr7 opened #10291 "Support model size calculation for FSDP & DeepSpeed (stage-3)"
## 🚀 Feature

Currently `LightningModule.model_size` (deprecated) relies on:
https://github.com/PyTorchLightning/pytorch-lightning/blob/45c45dc7b018f9a2db60f5df1a3f7dbbb45ccb36/pytorch_lightning/utilities/memory.py#L165-L179

to calculate model size. Since we are going to keep `get_model_size_mb` utility function, we should have a way to calculate model_sizes for shared models.

### Motivation

##

[2021-11-01 13:26] rohitgr7 commented on #10287
you can enable it for your usecase:
[code]
we have `on_validation_model_train`, `on_test_model_eval`, `on_test_model_train` too.

the sequence for validation is like:
[code]
and similarly for test

[2021-11-01 13:33] 7starsea commented on #10285
Thanks. I will give it a shot.

[2021-11-01 14:20] #10229 closed

[2021-11-01 16:12] sidphbot opened #10294 "teardown function casts model to cpu after testing"
https://github.com/PyTorchLightning/pytorch-lightning/blob/6e124e7207f6459cb43f540cfb5a1c6cc9b00f7a/pytorch_lightning/plugins/training_type/single_device.py#L83-L88

Issue: This part of code forces model to be on CPU after the testing is finished

expected behaviour: the teardown logic after testing should not change the model device

reproducible code snippet:

[code]

cc @borda @akihironitta

[2021-11-01 16:42] #10074 closed

[2021-11-01 18:00] ananthsub commented on #10294
I agree, we should preserve this.

[2021-11-01 18:37] #10245 closed

[2021-11-01 19:11] #10256 closed

[2021-11-01 19:50] #10093 closed

[2021-11-01 20:37] z-a-f commented on #10260
In that case, it would be worth thinking about the order in which quant and sparse are called as well. We can see usecases for either "quantize-after-sparsifying" or "sparsify-after-quantizing". Both cases are valid, and (imho) should be deterministically controlled by a user.

Will be happy to discuss it in more details, and/or provide callbacks for sparse/quant

[2021-11-01 21:48] kandluis commented on #10260
@tchaton , if we want to explicitly guarantee ordering (aside from ModelCheckpoint), which IMO seems reasonable, we should update some of the best practices in this documentation here: https://pytorch-lightning.readthedocs.io/en/latest/extensions/callbacks.html#best-practices

Specifically:

It seems fine to me to guarantee that callbacks will be called in the order the user has provided them. A f

[2021-11-01 21:52] awaelchli commented on #10290
@jopo666
The IterableDataset should leave the len undefined unless you actually make it so that it returns the correct value.
For this reason, Lightning prints a warning if you do define one:

Here is how we determine the number of batches in a dataloader:
https://github.com/PyTorchLightning/pytorch-lightning/blob/e4ee6df196dd0c6b17d8c695bea3f1d286114f4f/pytorch_lightning/trainer/data_loading.py#L

[2021-11-02 00:08] puhuk opened #10299 "Some mis-alignment in video tutorial"
## 📚 Documentation

In this video tutorial from (https://pytorch-lightning.readthedocs.io/en/stable/starter/new-project.html),
code indent looks different by each function.

I attach the captured image.

![lightinging](https://user-images.githubusercontent.com/2902772/139758549-db257c76-5c18-40a3-90b3-af931fd32a13.png)

cc @borda @rohitgr7

[2021-11-02 01:52] zplizzi commented on #5319
I am having the exact same issue as @dave-epstein , except now I think it's necessary to specify the wandb dir in `dirpath` as it no longer defaults to a wandb run subfolder. So it's impossible to get checkpoints uploaded to wandb without this workaround. Full reproduction details are in the linked issue on the wandb repo.

[2021-11-02 02:12] proutrc commented on #10216
@awaelchli something is indeed happening when going from 13 to 14 nodes on our system. See below:

13 nodes snippet (what we expect):
[code]

14 nodes snippet:
[code]

At 14 nodes it shows `LightningEnvironment` instead of `LSFEnvironment`. In addition, everything is `global_rank:0`.. it does have the correct `world_size` though (84 for 14 nodes).

[2021-11-02 06:21] tann9949 commented on #10233
Is this issue resolved? I still face this problem when importing `pytorch_lightning.metrics.functional`

[2021-11-02 06:22] yjqiang commented on #1981
@JiamingSuen I have the same idea like yours. So did you make it now? Can you help me about this?

[2021-11-02 06:24] JiamingSuen commented on #1981
I end up splitting the large in-memory dataset into different splits and letting each worker loads its own split.

[2021-11-02 06:32] yjqiang commented on #1981
@JiamingSuen But this is very different from the single-device version in the shuffle process. The shuffle process is more complete in single-device, isn't it?

[2021-11-02 06:47] akihironitta commented on #10233
@fcqfcq @tann9949 Please have a look at https://github.com/PyTorchLightning/pytorch-lightning/discussions/10253.

[2021-11-02 08:26] SteshinSS opened #10302 "`overfit_batches` doesn't work with multiple datasets"
## 🐛 Bug

- `overfit_batches` is a useful debugging feature of a Trainer, which limits the number of training batches. ([doc](https://pytorch-lightning.readthedocs.io/en/latest/common/trainer.html#overfit-batches))

- `Trainer.fit(model, train_dataloaders=...)` takes either a dataloader or collection of them. ([doc](https://pytorch-lightning.readthedocs.io/en/latest/common/trainer.html#fit))

The

[2021-11-02 08:27] SteshinSS commented on #10302
I could take this one if you confirm the issue 🤝

[2021-11-02 08:32] Quintulius commented on #2205
@SkafteNicki Please find here a code sample reproducing the bug. Should I create a new issue in the torchmetrics depository ?

[code]

Environment:

[code]

[2021-11-02 12:12] tchaton commented on #10260
Hey @kandluis,

(1): The workers / nodes doesn't have an impact on the Trainer arguments (very unlikely at least for most users).
(2): Lightning won't re-order the callbacks. This would be a break of trust for the users.

Note: Lightning already tracks the state of the callbacks for restoration. But we could enforce an order state and raise a warning if it is not provided back in the same order. W

[2021-11-02 12:29] proutrc commented on #10216
It looks like `LSB_HOSTS` is not always set, to show the list of hosts. It appears there could be a limit to the size of the list, where it stops using that variable at a certain size. I think we are hitting this limit.

I can confirm I see `LSB_HOSTS` when I use 13 nodes, but not when I use 14 nodes.

The variable to use is perhaps `LSB_MCPU_HOSTS`, instead of `LSB_HOSTS`.

Somewhat dated referen

[2021-11-02 13:36] carmocca commented on #10277
I generally agree with Akihiro

[2021-11-02 13:56] michele-arrival commented on #2695
the issue closed because duplicate of itself?

[2021-11-02 13:58] carmocca commented on #9947
The main reason for the revertion of `len` was the impact to existing truthiness checks. That should not be a problem for `str`.

@ananthsub do you think the rest of the points you raised in https://github.com/PyTorchLightning/pytorch-lightning/issues/5965#issuecomment-948862064 are worth dropping this feature? We would still have the problem of initialization.

[2021-11-02 14:29] jopo666 commented on #10290
Yea I think it's could be implemented differently, so that `Trainer` does things in "the right way" even though the user makes a mistake. For example and `IterableDataset` with the wrong length wouldn't miss the validation step in the case below.

[code]

To achieve the above case, `Trainer` should move on to the validation epoch if `IterableDataset` raises `StopIteration`, or based on the `val_ch

[2021-11-02 15:07] carmocca commented on #5965
I guess the only way to move this forward would be to do:

[code]

[2021-11-02 15:15] jshin49 opened #10308 "when the validation_step function returns a type defaultdict, TypeError: first argument must be callable or None occurs"
## 🐛 Bug

- both `validation_step` and `validation_epoch_end` are defined through overriding
- when the `validation_step` function returns a type `defaultdict`, `TypeError: first argument must be callable or None` occurs.
- returning types in `List, Dict, OrderedDict` do not give such error.
- Error occurs from `pytorch-lightning>=1.4.6`
- Error caused by PR #9261
- Left a comment in https://githu

[2021-11-02 15:20] carmocca opened #10309 "Add `Loop.replace` to improve the customization UX"
## 🚀 Feature

Implement a Loop method that allows easily replacing a Loop with not much customization.

### Motivation

There are 2 users of loops customization:
- (A): User that creates their own loop
- (B): User subclasses one of our loops but does not care about init args

Replacing the epoch loop is verbose for (B):

[code]

This is tedious when the user made a simple modification, for example

[2021-11-02 15:44] carmocca commented on #10308
Hi! Thanks for the detailed report.

While this is not fixed, can't you convert the `defaultdict` to a `dict` before returning it?

We need to add support and tests for passing `defaultdict` to `apply_to_collection`

[2021-11-02 16:04] tchaton commented on #10309
Would the replace function takes any extra kwargs ?

[2021-11-02 16:15] carmocca commented on #10309
I don't think so.

This only works well when the customized loop `__init__` is kept equal, otherwise, everything could break if the parameter names are renamed or their positions are changed.

And if the `__init__` is equal, there shouldn't be a need for extra kwargs.
But if you have an example in mind where extra `**kwargs` would help, we can surely add it.

[2021-11-02 17:22] #9785 closed

[2021-11-02 19:19] carmocca opened #10312 "Remove deprecated code after the 1.5 release"
## Proposed refactoring or deprecation

Remove deprecated code after the 1.5 release

### Pitch

All the deprecated features we have are tested here

https://github.com/PyTorchLightning/pytorch-lightning/blob/master/tests/deprecated_api/test_remove_1-6.py

If you are interested in taking care of one item, post a comment here asking to take it. This avoids multiple people working on the same thing.

[2021-11-02 19:59] jopo666 opened #10315 "Always pass dataloader_idx to step functions."
## Proposed refactoring or deprecation

Pass `dataloader_idx` to `[train,test,val,inference]_step` regardless of the number dataloaders.

### Motivation

I often use the same lightning modules in different projects, ie. I have one `Classifier` task that I use when I need to train classifiers. Now `Trainer` passes either 3 or 4 arguments to `step` functions depending on whether I have one or multip

[2021-11-02 20:03] jopo666 commented on #10315
Here's the bug report model demonstrating the issue.

[code]

[2021-11-02 20:23] Big-Tree opened #10317 "Bug when calling LightningModule.__init__() directly"
## 🐛 Bug
Colab link https://colab.research.google.com/drive/1ya337j6wM6sDNurgKTBumQNcqEPyGAJw?usp=sharing

The code crashes when you call `pl.LightningModule.__init__(self)` instead of `super().__init__()` when `self.save_hyperparameters()` is called.
### To Reproduce
This works:
[code]
This does not work:
[code]

### Expected behavior
It would be useful to not have to use `super()` as this gets c

[2021-11-02 20:27] carmocca commented on #10315
You can define the argument with a default to avoid the error.

`def validation_step(self, batch, batch_idx, dataloader_idx=0):`
or
`def validation_step(self, batch, batch_idx, dataloader_idx=None):`

[2021-11-02 20:52] carmocca commented on #10317
You can still use super to skip the parent's `__init__`, see this pure Python example:

[code]
which prints:
[code]

[2021-11-02 23:10] SeanNaren opened #10323 "`init_meta_context` fails `isinstance` call (fails xFormers)"
## 🐛 Bug

The below case fails for `init_meta_context`. This probably has to do something with the subclasses for `MyModule` being changed. This as a result fails when we use an [xformers](https://github.com/facebookresearch/xformers) model factory within the context manager.

[code]

cc @tchaton @blefaudeux

[2021-11-02 23:18] puhuk commented on #10312
Can I take this :)

[2021-11-03 00:24] carmocca commented on #10309
After thinking a bit more, these would be the API options

(1): See original post
[code]

(2): Two positional arguments
[code]

This has the advantages:
- No need to find the attribute name internally.
- Enables support for loops that have subloops of the same type (we don't have this in Lightning but maybe somebody does)

And disadvantages:
- Not as simple

(3): A dictionary
[code]

This has the

[2021-11-03 00:43] carmocca commented on #10312
Seems like @daniellepintz took it already: https://github.com/PyTorchLightning/pytorch-lightning/pull/10322. Danielle, please write here any you plan to address so others can also participate.

@puhuk feel free to take any other.

[2021-11-03 00:50] puhuk commented on #10312
No problem!
Then let me take next one
test_v1_6_0_dataloader_renaming

[2021-11-03 01:27] daniellepintz commented on #10312
I will only do the trainer_model_hook_mixin, all the others are up for grabs!

[2021-11-03 02:00] puhuk commented on #10312
Let me also take with below.
test_v1_6_0_ddp_spawn_num_nodes()
test_v1_6_0_ddp_spawn_sync_batchnorm()

[2021-11-03 03:56] rhjohnstone commented on #10312
I'll do the tiny `early_stopping_monitor`.

[2021-11-03 09:47] awaelchli opened #10329 "DataLoader wrapping, re-instantiation and patching"
## 🐛 Bug

Recent changes to the Lite DataLoader in #10279 have not been properly reviewed and tested. Several clean ups need to be done and better tests need to be written.

The following issue exists:

### To Reproduce

[code]

### Expected behavior

According to the changes in the PR #10279, this is supposed to work and was the main motivation of it. But it does not because the tests were insuff

[2021-11-03 10:55] miccio-dk opened #10331 "Better warnings for `overfit_batches`"
## Proposed refactoring or deprecation

Currently, enabling `overfit_batches` causes the following warning:

 which is logged using `warnings.warn()`. I suggest to use instead `logging.warning()` to improve control of what gets logged on the client side.

### Motivation

According to [this documentation page](https://docs.python.org/3/howto/logging.html):

Thus, by using `warnings.warn()` we impli

[2021-11-03 11:18] #10308 closed

[2021-11-03 12:11] jarandaf commented on #1766
Can't we use `on_save_checkpoint`/`on_load_checkpoint` hooks for that matter? See the [docs](https://pytorch-lightning.readthedocs.io/en/latest/common/lightning_module.html#on-load-checkpoint).

[2021-11-03 12:26] awaelchli commented on #10329
The issue exists because this wrapper here

https://github.com/PyTorchLightning/pytorch-lightning/blob/93caa7cda9277f86f17b1eab0793019aee8d40c2/pytorch_lightning/lite/wrappers.py#L106-L116

pops args and kwargs.
When we get to this line here

https://github.com/PyTorchLightning/pytorch-lightning/blob/93caa7cda9277f86f17b1eab0793019aee8d40c2/pytorch_lightning/lite/lite.py#L242-L244

We are re-insta

[2021-11-03 13:25] t-vi opened #10335 "package "tests" in Python path?"
## 🐛 Bug

PyTorch Lightning install its tests into "test" in the Python path. I would venture that this is not ideal.

### To Reproduce

Install PyTorch Lightning
[code]

This is with git a checkout from today.

[2021-11-03 13:55] Borda commented on #9871
this is PyTorch / CUDA issue as you have installed PT version which was not built for your CUDA version...
as I see that have CUDA 11, then I guess your `torch==1.9.0` is for cu101
[code]
see: https://pytorch.org/get-started/locally/

[2021-11-03 13:55] #9871 closed

[2021-11-03 13:56] Borda commented on #10299
@puhuk mind sending a fix? :]

[2021-11-03 13:58] Borda commented on #10129
@akihironitta still happening?

[2021-11-03 13:59] Borda commented on #10335
I thought we fixed it, but probably we need to revisit it :]

[2021-11-03 14:07] puhuk commented on #10299
@Borda, It is from the tutorial video. You mean sending a video?
If you can send some requirements (like font size, color, editor, etc.) I think I can send in a few days :)

[2021-11-03 15:14] garrett361 opened #10336 "v1.5.0 breaks wandb hyperparameter sweeps in Colab"
## 🐛 Bug

After upgrading to v1.5.0, wandb hyperparameter sweeps performed in Colab notebooks fail with one `UserWarning` and one `ValueError` raised:

[code]
[code]
`wandb` sweep terminates without performing training runs. Downgrading to `pl` v1.4.9 resolves the issue.

### To Reproduce

Reproduced at the end of this minimally modified BoringModel Colab notebook:
[https://colab.research.google.c

[2021-11-03 16:24] Carlosbogo commented on #10239
I am a native Spanish speaker and I would be glad to help with the translation in that language.
Should I start somewhere in particular?

[2021-11-03 17:05] ananthsub commented on #10190
1. Does this change anything about the typehint for schedulers in `configure_optimizers`?
2. Does this change anything about when the scheduler step in the loop is called?
3. How does scheduler_step interact with other efforts like supporting a training step that can yield losses? In that case there, is there still an optimizer index available?
4. Could you provide an example of how timm or other

[2021-11-03 17:47] Big-Tree commented on #10317
Okay, thanks.  I'll use this.

[2021-11-03 18:00] jopo666 commented on #10315
Ahh perfect! Thanks also for the pull request.

[2021-11-03 18:00] #10315 closed

[2021-11-03 18:01] zplizzi opened #10342 "set_epoch() is only called on the train dataloader. impossible to shuffle val/test dataset in DDP."
On [this line](https://github.com/PyTorchLightning/pytorch-lightning/blob/a967b6eba0556943ad1d7c2a8dc41f1da4f68b2d/pytorch_lightning/loops/fit_loop.py#L216), `set_epoch()` is called on the train dataloader. This allows shuffling to work properly when using DDP. See #224 for context on why this was necessary.

However, `set_epoch()` is not called for the test or val dataloaders. Typically, these ar

[2021-11-03 18:03] Big-Tree commented on #10317
This does not quite solve my issue.  My class inherits from multiple other classes and pl.lightning isn't the first.  For example:

[code]

This would not work if class `A` also inherited from a class.

[2021-11-03 18:13] zplizzi opened #10343 "Default to infinite epochs, not 1000"
Currently max_epochs defaults to 1000:

As a user, though, I would expect that if I don't specify a specific ending point, the training would continue indefinitely. In my own experiments, when the training cut off at 999 epochs, I was confused, and googling the issue didn't readily turn up this line in the documentation. When I checked my logs of all the hyperparams, max_epochs was set to None (I

[2021-11-03 18:20] akihironitta commented on #10299
@puhuk Thanks for reporting the issue. I believe someone from our team should fix this (^^;)

[2021-11-03 18:25] peterdudfield opened #10344 "1.5.0 data loader, with batch_size bug"
## 🐛 Bug

When running a dataloader with batch_size None, i.e the dataset is already in batches, and error occurs on the 'predict' step

### To Reproduce

[code]

### Expected behavior

no error, and predict step to work

### Environment

* CUDA:
	- GPU:
	- available:         False
	- version:           None
* Packages:
	- numpy:             1.19.5
	- pyTorch_debug:     False
	- pyTorch_version:

[2021-11-03 19:06] tchaton commented on #10342
Dear @zplizzi,

Would you be willing to contribute a fix depending on the sampler / shuffle value ?

Best,
T.C

[2021-11-03 19:18] carmocca commented on #8780
Done in #9586

[2021-11-03 19:18] #8780 closed

[2021-11-03 19:24] SeanNaren commented on #10323
After further inspection this will require a re-write (I think) of how the logic works. The issue boils down to this:

[code]

I had a go at re-writing the code, but it's tough. The gist of the re-write is to monkey patch the `__new__` function rather than introduce the MetaClass, cc @tchaton

[2021-11-03 19:42] rohitgr7 commented on #10190
@ananthsub
1. Yes, not I guess we accept all sorts of object. so updating it to `Any`. any better suggestions?
2. No, it will only configure how `scheduler.step` will be done.. similar to `optimizer_step` hook.. when it will be done will still be decided using `interval` and `frequency` values set inside the config by the user.
3. yes it will, in that case we will still have optimizer_indexes assi

[2021-11-03 20:11] zplizzi commented on #10343
If the user is worried about their energy/AWS bill, they should explicitly set a termination condition appropriate to their workload. I would guess the majority of users aren't somehow forgetting about their training jobs and racking up huge bills. On AWS, the instance isn't gonna shut down when the job ends, so this doesn't even really help (unless they're running it in a container on EKS or some

[2021-11-03 20:34] catalys1 commented on #10312
I'll tackle `test_v1_6_0_lightning_module_loaded_optimizer_states_dict`.

[2021-11-03 21:40] aazzolini commented on #10193
I'm trying to understand what is really being offered to the user when we tell them to implement a method in a class that derives from LightningLite.

What does the user get out of this that the user wouldn't get by implementing their own class, or keeping the method free?

For example

def fit(lite):
    ...

def jiraffe(lite):
    ....

lite = Lte()

lite = LightnigLite()
lite.run(fit)
lite.run(

[2021-11-03 23:48] carmocca commented on #10193
So if I understood your proposal, you are suggesting the API becomes:

[code]

where:

- The accelerated function must take `lite` as the first positional argument, which replaces `self` in the current implementation
- the accelerated function is passed as a Callable to `lite.run`, as well as any necessary `*args, **kwargs` for the function.

[2021-11-03 23:54] ananthsub commented on #10190
This can't be `Any` since Lightning relies on an object that defines `step` for execution and `state_dict` for checkpointing

[2021-11-04 00:57] carmocca commented on #10335
I tried to fix this in #7614 but got blocked by our examples having a dependency on the tests. This comment summarizes the problem https://github.com/PyTorchLightning/pytorch-lightning/pull/7614#discussion_r671183652

@Borda still waiting on your thoughts :P

[2021-11-04 01:19] awaelchli commented on #10216
Thank you @proutrc for helping out here.
Right, given your hint, I'm finding the same, bit more detailed, information on the docs here:
https://www.ibm.com/docs/en/spectrum-lsf/10.1.0?topic=variables-environment-variable-reference
(scroll down to the section for LSB_MCPU_HOSTS)

Quote:

Their example there shows the format:

[code]

So, should we default to LSB_HOSTS in our plugin and if not set t

[2021-11-04 01:24] carmocca commented on #10267
There's a big limitation with this proposal which is required jobs. They still need to run even if the workflow has signaled to skip them: https://github.com/actions/virtual-environments/issues/1281

[2021-11-04 04:11] t-vi commented on #10335
To my mind, moving them to `pytorch_lightning.testing` or, if you want to emphasize they are not for general consumption, `pytorch_lightning._testing` (with an underscore) would be relatively standard. Doing the latter would seem to leave room for further change if any more enlightened plan comes up...
Of course, `pl_examples` might be good to move out of the top level, too, but the `tests` direct

[2021-11-04 05:17] puhuk commented on #10343
@zplizzi , @carmocca  If you do not mind for me to tackle it, I want to take this. :)

[2021-11-04 05:26] puhuk commented on #10312
Let me tackle below 2 items which are in same module (DDPPlugin)

test_v1_6_0_ddp_sync_batchnorm
test_v1_6_0_ddp_num_nodes

[2021-11-04 05:49] #9604 closed

[2021-11-04 05:49] #9611 closed

[2021-11-04 05:49] #9643 closed

[2021-11-04 05:49] #9607 closed

[2021-11-04 05:49] #9590 closed

[2021-11-04 05:49] #8962 closed

[2021-11-04 05:49] #7505 closed

[2021-11-04 08:53] shyTNT commented on #4705
same issue like this:
  With CUDA_VISIBLE_DEVICES=0,1,2,3,4,5,6,7 I get the usual OOM exception.
  With CUDA_VISIBLE_DEVICES=1,2,3,4,5,6,7, instead, it works as with ddp.
how to solve it?

[2021-11-04 10:18] justusschock commented on #10265
@awaelchli Would this list every single cpu core?

[2021-11-04 10:19] Riccorl opened #10348 "Module 'torch.distributed' has no attribute 'ProcessGroup' when importing PyTorch Lightning"
## 🐛 Bug

When importing PyTorch Lightning, it throws an `AttributeError: module 'torch.distributed' has no attribute 'ProcessGroup'`. I guess it comes from the fact that I am on macOS (M1) and PyTorch does not provide `torch.distributed` with its pre-built package. Indeed, `torch.distributed.is_available()` is `False`.

### To Reproduce

[code]

### Environment

- PyTorch Lightning Version: 1.5.0

[2021-11-04 10:22] justusschock commented on #10267
Can't we just skip all steps then? So that the overall workflow still passes?

[2021-11-04 10:27] awaelchli commented on #10265
I'm not sure what should be done for the CPU case. But since we cannot select on which CPU core to run a program, we probably shouldn't try to represent it in the list this way. For DDP on CPU, we can maybe just do `[0] * num_devices`.

[2021-11-04 10:29] #10090 closed

[2021-11-04 10:53] BttMA opened #10349 "Trying to infer the `batch_size` from an ambiguous collection"
## 🐛 Bug

Yesterday, I was working with my code and it is was perfect, running with no error. But toady, I keep getting this UserWarning saying that the model trying to infer the `batch_size` from an ambiguous collection. I am not sure where it come from. I did not do any changes on my code. The error keeps getting different batch size with the sale warning :

[code]

### Expected behavior

Runnin

[2021-11-04 10:54] SkafteNicki commented on #2205
@Quintulius your code fails due to `move_metrics_to_cpu=True` which forces the metrics to `cpu`, which makes the metric update fail because the input is still on `gpu`. This has more to do with lightning than torchmetrics, so lets open a new issue there.

[2021-11-04 11:37] awaelchli commented on #10216
Could you help me verify that this fixes the issue by creating this custom cluster env:

[code]

and adding it to your trainer like so:

[code]

The main change I made is switch to that env variable and adjusted the parsing.
I simulated it but can't run it for real. If you confirm, I can create a fix directly from this.

[2021-11-04 11:46] #10344 closed

[2021-11-04 12:04] awaelchli commented on #10317
@Big-Tree I looked at this.

When we do this

[code]

The `save_hyperparameters()` inspects the current frame and branches here in this line when `__class__` is in the local vars:

https://github.com/PyTorchLightning/pytorch-lightning/blob/ce3e63262a7247c1111375b28c90bdd83b42bf3f/pytorch_lightning/utilities/parsing.py#L177-L181

However, if we do

[code]

Then this condition will not be true. The

[2021-11-04 12:14] awaelchli commented on #10349
This warning was introduced in Lightning 1.5. You must have updated your packages.
The warning was introduced here: #10247

What is the structure of your batch? Can you share a reproducible code?
Perhaps @rohitgr7 could take another look.

[2021-11-04 12:17] awaelchli commented on #10348
Hello @Riccorl
Thanks for reporting. Can you please show us the full error so we can check in which module it occurs.

[2021-11-04 12:19] awaelchli commented on #10348
I'm not sure why you get `torch.distributed.is_available() = False` on MacOS, it should be True. It is for me.

[2021-11-04 12:30] mayeroa commented on #10312
I would like to care of **test_v1_6_0_datamodule_lifecycle_properties** if nobody is working on that already.

[2021-11-04 12:35] BttMA commented on #10349
thanks fr you replay.
I tried every possible update (torch, python...) but it keeps telling me me that i am already updated.
the last version pf pytorch Lit is 1.5. I dont know how can I get 1.7 version.

My code is a little bit long, so I couldn't make a reproducible version! sorry :(
but I can make a snippet of my dataloiader :

[code]
I can assure you that yesterday It was working fine and noth

[2021-11-04 12:37] awaelchli commented on #10343
I don't have any strong preferences or arguments for or against the change. Asking the user to set a limit themselves vs. asking them to set `max_epochs=-1` for infinite training is about the same effort.

I definitely agree that we should improve our reporting for when the training loop stops. There can be a few reasons actually. This was definitely discussed before and I think we are all in favo

[2021-11-04 12:41] puhuk commented on #10343
@awaelchli, got it !

[2021-11-04 12:54] Riccorl commented on #10348
This is the stack trace

[code]

I installed PyTorch like this:

[code]

But I guess that the problem is the ARM build (I'm on an M1 cpu).

[2021-11-04 13:57] MinWang1997 opened #10352 "Automatic config Learning rate scheduler and batch normalization with momentum"
## 🚀 Feature

 Easy way to config optimization:
Learning rate scheduler and batch normalization with momentum

### Motivation

I reorganized the source code of one repository to pytorch lighting version but I just noticed that they used Learning rate scheduler and batch normalization with momentum.

It seems that pytorch does not have batch normalization with momentum since I did not get result af