[2022-05-26 14:29] Borda commented on #13152
just curious, can we trace back when it becomes flaky? and do we see the same also on `master`?

[2022-05-26 15:55] carmocca commented on #13162
I think we can add this flag. It's useful for metrics logged with `sync_dist=True`.

The relevant piece of code is here:

https://github.com/PyTorchLightning/pytorch-lightning/blob/dd475183227644a8d22dca3deb18c99fb0a9b2c4/pytorch_lightning/callbacks/early_stopping.py#L256-L261

[2022-05-26 16:31] mirandrom opened #13163 "TensorBoardLogger and WandbLogger do not track global_step when resuming training from a checkpoint (both manually, and with fault tolerant)"
## 🐛 Bug
When resuming model training from a checkpoint, the TensorboardLogger and WandbLogger will log metrics as if the `global_step` was reset to 0 (although the `global_step` in the trainer and pl_module are accurate). This issue arises when manually resuming training from a checkpoint using the `ckpt_path` arg in `Trainer.fit` and when doing fault-tolerant training as shown here: https://gith

[2022-05-26 17:54] austinmw commented on #13162
Thanks!

[2022-05-26 18:37] adamjstewart commented on #13159
This is an issue with tensorboard, not with pytorch-lightning, correct? Can someone open an issue with tensorboard?

[2022-05-26 18:53] carmocca commented on #13152
It's happening in master too (see last commit to master). But I don't think it's code related, and the dependencies between failed and passing runs are the same.

[2022-05-26 20:16] ZhaofengWu commented on #13147
Suppose a user calls `self.log("train_loss", loss, reduce_fx=torch.mean)` (which happens to be the default, but writing it out be clearer), I think the expected behavior is that when this metric is logged, e.g. in `callback_metrics`, this aggregate reduced value would be the mean. But instead, this `reduce_fx` is not used at all (i.e., silently ignored), and under the hood the last value is consid

[2022-05-26 20:43] ZhaofengWu commented on #13147
Also, when I do `self.log("train_loss", loss, on_step=False, on_epoch=True)` as you suggested, `train_loss` is not returned in `trainer.callback_metrics` in `on_validation_end` of my logging callback when the first epoch ends, but it is only returned starting from when the second epoch ends. Any idea why this is happening?

[2022-05-27 06:10] ashnair1 commented on #13159
Tensorboard devs have pinned protobuf - tensorflow/tensorboard@fd4f5ff79374252e313c2e7e9b247bc49ab0d54d

[2022-05-27 13:18] JanuszL commented on #12956
@carmocca - after some consideration I think we can add `mode="iter"` that would attempt to reset the DALI iterator whenever you call `iter()` on it. It should be more intuitive and aligned with other loaders' behavior.

[2022-05-27 13:43] akihironitta commented on #13159
(To protect our CI from errors like this for stability, ) This issue is not something we could've avoided with our current dependency freezing logic using dependabot because Lightning doesn't have a direct dependency to `protobuf` and `tensorboard` releases didn't set the upper version of `protobuf`.

[2022-05-27 13:52] pengzhangzhi opened #13166 "can not use WandbLogger when use multi-gpu training (ddp)"
## 🐛 Bug
I use wandb in my code. it works well in single-gpu. But when I use two gpus (with ddp),
an error appears.
 Here is my code:
[code]
Here is the error
[code]

### To Reproduce

### Expected behavior

### Environment

- PyTorch Lightning Version (e.g., 1.5.0):
- PyTorch Version (e.g., 1.10):
- Python version (e.g., 3.9):
- OS (e.g., Linux):
- CUDA/cuDNN version:
- GPU models and configurati

[2022-05-27 14:35] akihironitta commented on #13159
Quickly checked our CI jobs and saw a few failures due to this issue, but they all seem to work fine now possibly because `tensorboard` pinned `protobuf` version already.

[2022-05-27 14:53] adamjstewart commented on #13159
The reason CI works now is that protobuf yanked the latest release from PyPI: https://pypi.org/project/protobuf/#history. Once another release comes out things will break again unless tensorboard has a new release that contains the pin.

[2022-05-27 16:18] manangoel99 commented on #13166
Hi @pengzhangzhi ! Engineer from W&B here. In case of DDP, the WandbLogger goes only to the rank 0 process and all other processes get a dummy logger object. Hence, if you add a check before updating the config that the process is rank 0, it should work.

[2022-05-27 22:45] CompRhys commented on #13146
I gave this a quick try but didn't have much success but I didn't give any thought to what the above code was actually doing yet. I will spend some time over the weekend looking at it and report back proper in the next week or so.

More generally I guess the question is that is there any aim to add ensemble functionality to the trainer object? It would probably require introduction of some new cal

[2022-05-28 01:10] pengzhangzhi commented on #13166
Thanks! Here is the thing. If I delete the line that causes the error: `wandb_logger.experiment.config.update(hparams)`, it will work. But I want to keep it.
My PL version is :
[code]

[2022-05-28 02:55] wangbingnan136 opened #13174 "Does pytorch-lightning suppot dynamic plot during training like https://github.com/stared/livelossplot in keras"
## 🚀 Feature

Does pytorch-lightning suppot dynamic plot during training like https://github.com/stared/livelossplot in keras
### Motivation

A dynamic plot of loss or metrics is quite useful for model training

### Pitch

### Alternatives

### Additional context

______________________________________________________________________

#### If you enjoy Lightning, check out our other projects! ⚡

-

[2022-05-28 03:43] wangbingnan136 opened #13175 "Why earlystoping metrics and progressbar metrics are so different?"
![image](https://user-images.githubusercontent.com/42114835/170808516-4aa0ad62-f4fa-4e8a-b069-ca5ea4cfae27.png)
the best score provided by early stopping is less than the valid auc epoch

[2022-05-28 03:50] #13175 closed

[2022-05-28 03:51] wangbingnan136 commented on #13175
My mistake,sorry to bother~

[2022-05-28 05:10] tshu-w opened #13176 "Support Aim as Logger"
## 🚀 Feature

[Aim](https://github.com/aimhubio/aim/) is an easy-to-use and performant open-source ML experiment tracker. It would be nice if pl support to use aim with logger by default. I would like to help to make this realize.

cc @borda @awaelchli @edward-io @ananthsub @rohitgr7 @kamil-kaczmarek @Raalsky @Blaizzy

[2022-05-28 09:07] manangoel99 commented on #13166
Cool! The reason for that is [this](https://github.com/PyTorchLightning/pytorch-lightning/blob/9ac5cca8427f87f97afb08d5187966ccd401c9ae/pytorch_lightning/loggers/logger.py#L32) snippet.
On the rank 0 process in DDP you get the actual W&B logger but on other processes you get the `DummyExperiment` object so on all other processes except rank 0, `wandb_logger.experiment.config.update(hparams)` would

[2022-05-28 09:08] 6gsn commented on #13007
@otaj

Thank you for your explanation and advice.
Now I understood clearly how the behavior happened, and what supposed to do.

Hence, I re-implemented the feature using `Sampler` ( just like your recommendation 👍 ).

[code]

Also, it seems working as I expected!

Thank you so much!

[2022-05-28 11:54] Devoe-97 commented on #4937
Timing on testing is not correct too! I thought I got a similiar problem.

[2022-05-28 20:47] mmiakashs commented on #6106
I am still facing the same issue. Trainer just stuck after completing all the training and validation epochs. It just does not exit from the trainer fit loop. I am using ddp_spawn with 4 GPUs in a cluster slurm environment. I am using
pytorch 1.11 and pytorch lightning 1.6.1 and wandb 0.12.4
Is there any fix for that?

[2022-05-29 03:25] pengzhangzhi commented on #13166
Thanks man. Would you like to provide the if block? I don't know how to check the rank of the process.

[2022-05-29 07:59] scalastic commented on #13102
Note that, on M1 max, with a basic example like LitAutoEncoder of MNIST (like the one described on PytorchLightning homepage) I get better results without `mps`settings:

- With accelerator="mps" :
[code]

- Without "mps" settings:
[code]

My configuration is (`numpy` is installed with `blas=*=*accelerate*` in both cases):
[code]

[2022-05-29 16:15] JusperLee opened #13178 "Add BMUF Multi-GPU Training Method"
## 🚀 Feature

### Motivation

Implements incremental block distributed data parallelism similar to  https: ieeexplore.ieee.org/document/7472805.
This can mitigate the performance loss caused by multi-card training.

### Pitch
This can be found in the [Fairseq implementation](https://github.com/facebookresearch/fairseq/blob/b5a039c292facba9c73f59ff34621ec131d82341/fairseq/optim/bmuf.py).

### Addit

[2022-05-29 16:28] awaelchli commented on #13102
We could think about adding M1 in [GitHub actions](https://github.com/actions/runner/issues/805) / self-host it.

[2022-05-29 16:32] awaelchli commented on #13166
@pengzhangzhi

[code]

[2022-05-29 16:53] paantya commented on #13102
Is training With accelerator="mps" slower than without it?

[2022-05-29 20:35] scalastic commented on #13102
@paantya In my case, yes it is.
- With mps accelerator: **96.77it/s**, GPU working at 100%, CPU at 30% approximately
- Without mps: **498.76it/s**, GPU 25%, CPU 30% also approximately

[2022-05-29 22:33] awaelchli commented on #13174
Have you tried tensorboard or any of the other [loggers](https://pytorch-lightning.readthedocs.io/en/stable/common/loggers.html)?

[2022-05-30 00:57] pengzhangzhi commented on #13166
thanks~

[2022-05-30 00:57] #13166 closed

[2022-05-30 02:06] akihironitta opened #13179 "tqdm progress bar in v1.6 is slower than v1.5"
## 🐛 Bug
Training the boring model is slow with 1.6.0 (and master) compared to 1.5.10 with tqdm progress bar enabled.

[code]

### To Reproduce

[code]

### Expected behavior
No regression in speed.

### Environment

- PyTorch Lightning Version (e.g., 1.5.0): 1.5.10 vs. 1.6.0
- PyTorch Version (e.g., 1.10): 1.11.0 and 1.8.2
- Python version (e.g., 3.9): 3.9
- OS (e.g., Linux): Linux
- CUDA/cuDNN v

[2022-05-30 02:40] awaelchli commented on #13176
Hi
This is a duplicate of #3985.
The aim package already has an integration with PyTorch Lightning, see an example usage [here](https://github.com/aimhubio/aim#integrations). We do not plan adding more third-party logger integrations directly into the PL package at the moment.

[2022-05-30 02:50] tshu-w commented on #13176
Sorry, I miss them.

[2022-05-30 02:50] #13176 closed

[2022-05-30 03:36] hitlzy opened #13180 "When training large datasets, the speed is very slow. About ten times slower than pytorch"
## 🐛 Bug

### To Reproduce

When training large datasets, the speed is very slow. About ten times slower than pytorch.
But when we reduced the dataset size, the training speed became normal again。

Because it is the company's code, it is not convenient for us to publicize the model. We make training public

[code]

[code]

### Expected behavior

### Environment

- PyTorch Lightning Version 1.5.10

[2022-05-30 08:19] ekagra-ranjan commented on #6622
Hi!

The Cherry-picking way section of [How to fix PR with mixed base and target branches?](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/.github/CONTRIBUTING.md#how-to-fix-pr-with-mixed-base-and-target-branches) in CONTRIBUTING.md suggests to:
1. Checkout to `my-branch`
2. Create a new branch called `my-branch-backup` and then move into that branch
3. Do a reset hard on the ne

[2022-05-30 10:23] serena-ruan opened #13181 "Unexpected behavior of .save_hyperparameters() for same parameter name"
## 🐛 Bug

When a pytorch_lightning model is created as a parameter for a class, and they contain parameters with same name, the original class's value overrides the model's value when calling `.save_hyperparameters()`. Besides, it also saves all parameters for the wrapper class.

### To Reproduce

I created a BoringParent class (not actually a parent) that contains a param named `same_arg` with a

[2022-05-30 14:00] akihironitta commented on #13180
@hitlzy Need to see if the comparison against your PyTorch script is fair. Are you sure that you're using all the PL features in your pure PyTorch script, too? e.g. Are you using anomaly detection context manager in your PyTorch script? (#12344) https://pytorch.org/docs/stable/autograd.html#anomaly-detection

Here's the checklist: #12398

[2022-05-30 15:28] akihironitta commented on #12404
I ran the benchmark with `tests.helpers.advanced_models.ParityModuleCIFAR` again (but this time with `Trainer(benchmark=False)` explicitly specified) and confirmed that there's no difference in the memory usage before and after the commit 00211c1.

I'll conclude this issue by adding `Trainer(benchmark=False)` to the existing benchmarks.

[2022-05-30 16:46] carmocca commented on #12956
That should work! Please ping me when the fix is released so I can test it out in our codebase.

[2022-05-30 16:54] ekagra-ranjan commented on #13162
Hi @carmocca! I would like to take this up.

[2022-05-30 21:29] carmocca commented on #6622
Go for it @ekagra-ranjan!

[2022-05-30 21:34] carmocca commented on #13146
We wouldn't add in-house ensemble support directly to the Trainer, but we are always open to improvements to our internals that allow deeper levels of extensibility.

[2022-05-30 21:55] carmocca commented on #13147
Logging in `training_step` defaults to `on_step=True, on_epoch=False` and that setting produces the behaviour you are seeing, where the values are not aggregated but logged at each step instead. For that, you want `on_step=False, on_epoch=True`

This happens because in the current design, if you access `callback_metrics` during validation, it will only contain the validation results.
You can work

[2022-05-30 22:27] PiotrDabkowski commented on #12385
I also have the same issue when the batch size is variable!

[2022-05-31 02:39] ZhaofengWu commented on #13147
Right, I now understand what the correct way to do this is, but I'm just arguing that this is perhaps a bit unintuitive. Anyway, this is not a very big point.

I see, thanks for explaining! So if I want to print the average training loss and the validation metrics after each epoch (with the traditional setup that one validation is done at the end of each training epoch), is the following the right

[2022-05-31 04:40] GGGGGGXY commented on #13124
in pytorch_lightning/callbacks/progress/tqdm_progress.py line 269
self.main_progress_bar.reset(convert_inf(total_batches))
make tqmd start from zero

rewrite to:
self.main_progress_bar.total = convert_inf(total_batches)

fix this problem

[2022-05-31 11:04] ekagra-ranjan commented on #13160
Hi, I have the following suggestions for updating the doc.

1. The first code snippet in the doc should be changed from
[code]

to
[code]

2. We can remove the second code snippet. I think the motivation of this snippet was to show that one can load a part of the model directly from the checkpoint which isn't the case. The user can just use `model.encoder`  to get a part of the model once the comp

[2022-05-31 12:26] williamFalcon opened #13187 "distributed inference"
We need to support distributed inference...

In addition, for now, let's make sure to add a warning when a user runs predict with accelerators > 1:

[code]

[2022-05-31 12:26] williamFalcon commented on #13187
cc @Borda @carmocca

[2022-05-31 14:02] pengzhangzhi opened #13188 "unable to call validation_step"
## 🐛 Bug
I follow the doc to evaluate my model at each step. It did not work; the `validation_step` is never called even though I  have defined the `validation_step` in my model.

[code]
and my trainer:
[code]
Any ideas?

### To Reproduce

### Expected behavior

### Environment

- PyTorch Lightning Version (e.g., 1.5.0):
- PyTorch Version (e.g., 1.10):
- Python version (e.g., 3.9):
- OS (e.g., Lin

[2022-05-31 14:24] pengzhangzhi commented on #13188
thanks. I works~May I ask the difference? I think the two keywords plays the same role..

[2022-05-31 14:46] pengzhangzhi commented on #13188
thanks so so so much. Perfect explainations.

[2022-05-31 17:00] babaniyi commented on #13102
@carmocca How do I resolve pytorch_lightning not working on Mac M1?

[code]

[2022-05-31 17:19] awaelchli commented on #13102
@babaniyi I think you need to downgrade protobuf to < 4.21.0, e.g., 3.20

[2022-05-31 17:50] carmocca opened #13191 "Update deepspeed requirement from <0.6.0 to <0.7.0"
## 🚀 Feature

Re-land https://github.com/PyTorchLightning/pytorch-lightning/pull/13048
Blocked by a failing Lite test:

[code]

______________________________________________________________________

#### If you enjoy Lightning, check out our other projects! ⚡

- [**Metrics**](https://github.com/PyTorchLightning/metrics): Machine learning metrics for distributed, scalable PyTorch applications.

-

[2022-05-31 18:14] scalastic commented on #13102
@babaniyi  Here are the commands I use to configure a PyTorchLightning env for Apple Silicon.

Run at the root level of the PyTorchLightning repository on `mps_accelerator` branch:
[code]

Hope this helps

[2022-05-31 18:21] #13159 closed

[2022-05-31 18:50] carmocca commented on #13147
You can skip step (3) and print both `validation_metric` and `train_loss` in `on_train_epoch_end`. This will also work when validation runs multiple times per epoch

[2022-05-31 19:12] babaniyi commented on #13102
@awaelchli @scalastic
Thanks for your suggestions, they both work.

[2022-05-31 19:27] #13085 closed

[2022-05-31 20:00] #11616 closed

[2022-05-31 21:23] #12404 closed

[2022-05-31 21:45] ZhaofengWu commented on #13147
Got it, thanks a lot!

[2022-05-31 21:45] #13147 closed

[2022-05-31 23:53] tanmoyio commented on #13181
@serena-ruan taking a look

[2022-06-01 00:22] #13140 closed

[2022-06-01 09:00] #13092 closed

[2022-06-01 09:51] carmocca commented on #11295
The suggested solution makes sense to me. Closing

[2022-06-01 09:51] #11295 closed

[2022-06-01 10:37] carmocca commented on #13152
These are now skipped with 50326e9a6508827313b5ee953bb5e4b86c42f4ad

[2022-06-01 10:37] #13152 closed

[2022-06-01 11:22] carmocca commented on #13160
All your suggestions look good to me :)

[2022-06-01 14:55] HallerPatrick opened #13203 "DummyLogger AttributeError when calling WandbLogger methods with fast_dev_run"
## 🐛 Bug
When using the `fast_dev_run` flag `pytorch-lightning` replaces the logger with a `DummyLogger` object. But with a WandbLogger I also log media with `self.logger.log_text` in my pl module.  I therefore get an AttributeError that the DummyLogger does not have the attribute `log_text`.

### To Reproduce

[code]

### Expected behavior

The `DummyLogger` ignores attribute access of external l

[2022-06-01 15:32] martinb-bb commented on #13118
Hi @akihironitta  Can you tell me when this fix will be pushed to PyPI package? thanks 😄

[2022-06-01 16:37] akihironitta commented on #13118
@martinb-bb We finalised the next patch release in #13019, so it should be available very soon (today I believe).

[2022-06-01 20:39] ekagra-ranjan commented on #13162
Hi @carmocca - I have a doubt regarding this:

The metrics for callbacks are stored during epoch end:
https://github.com/PyTorchLightning/pytorch-lightning/blob/c1f05021ff0093f720770a6065ab62a70c535add/pytorch_lightning/trainer/connectors/logger_connector/result.py#L584-L587

and `sync_dist` will always be true for epoch level metric computation as per:
https://github.com/PyTorchLightning/pytorch-

[2022-06-02 03:26] zxk19981227 commented on #9318
Same Problem, how to solve it?

[2022-06-02 03:32] zxk19981227 commented on #13158
Same problem, and how to fix it?

[2022-06-02 09:12] function2-llx commented on #11380
Does it mean to set rank of the current node, we are supposed to set `RANK` instead of `NODE_RANK`, which is specified in doc? Seems pytorch suggest `RANK` while pytorch-lightning suggests `NODE_RANK`. Is this a typo?

[doc for PL 1.6.4](https://pytorch-lightning.readthedocs.io/en/1.6.4/clouds/cluster.html#general-purpose-cluster)
![image](https://user-images.githubusercontent.com/38486514/1715971

[2022-06-02 10:46] OhadRubin opened #13209 "Feature request: FSDP native strategy for TPUs"
A recent contribution to the pytorch_xla repo allows using FSDP in PyTorch XLA for sharding Module parameters across data-parallel workers. https://github.com/pytorch/xla/pull/3431.

[2022-06-02 11:31] carmocca commented on #13034
I am experiencing this problem now in #13155. I guess the legacy (current) profiler just doesn't work well with torch 1.11

[2022-06-02 11:39] carmocca commented on #13162
@ekagra-ranjan For an initial implementation, I suggest you don't try to decide this automatically. Just allow the user to choose manually by passing `rank_0_only=True` in the constructor.

[2022-06-02 11:41] carmocca commented on #13203
This suggestion makes sense to me. But it should still print a warning that "The DummyLogger is being used and the method `log_text` was called on it but it does not exist."

[2022-06-02 11:45] carmocca opened #13210 "Do not force `sync_dist=True` on epoch end"
## Proposed refactor

https://github.com/PyTorchLightning/pytorch-lightning/blob/fb40cbce2ea4afbcf5842e9ec524f665a3faa95d/pytorch_lightning/trainer/connectors/logger_connector/result.py#L524-L530

Metrics logged inside `epoch_end` hooks are forcefully synced. This makes the flag irrelevant and causes communication overrhead that might be undesired.

### Motivation

This was added https://github.co

[2022-06-02 12:46] HallerPatrick commented on #13203
I could take over this, if it is okay

[2022-06-02 13:39] lsy643 opened #13211 "Be able to Set Timeout When DDP Strategy is Used"
## 🚀 Feature

### Motivation

When I use Pytorch Lightning in cluster of our company to train a big model which needs a lot of gpu cards, it normally means that I have to wait more than 30 minutes before all the cards I need get all prepared. Therefore, It will be great if I can set the timeout parameter of init_process_group rather than just use the default value.

And I think this can be accompl

[2022-06-02 13:57] realsarm commented on #5558
I'm using pip install pytorch-lightning==1.6.4 but still same issue

[2022-06-02 16:18] LanceKnight commented on #2837
![image](https://user-images.githubusercontent.com/5760199/171676877-7dca324c-d63f-4f62-b84e-55c06e58c313.png)
 Enven passing "0" does not work for choosing CUDA:0

[2022-06-02 17:04] mfoglio commented on #5403
I also noticed that the code in the notebook what modified and now it contains a syntax error:
[code]

[2022-06-02 17:11] mfoglio commented on #5325
Hi @carmocca , I looked at the link you posted. I can't find an example. How can I resume the training after a failure?

[2022-06-02 17:28] LanceKnight commented on #2837
![image](https://user-images.githubusercontent.com/5760199/171688634-f6bc7c8d-0c8f-4418-913e-774ef9134172.png)
manually setting args to str didn't work either

[2022-06-02 18:34] shrinath-suresh opened #13212 "Tracking - pytorch lightning fails to import with protobuf-4.21.1"
## 🐛 Bug

pytorch-lightning import fails with latest version of google-protobuf ([4.21.1](https://pypi.org/project/protobuf/4.21.1/))

### To Reproduce

Install probuf 4.21.1 using pip

`pip install -U protobuf`

and import pytorch lightning

[code]

### Expected behavior

pytorch-lightning should get imported without any error

### Environment

- PyTorch Lightning Version (e.g., 1.5.0): 1.6.4
- P

[2022-06-02 18:52] akihironitta commented on #13212
Duplicate of #13159.

[2022-06-02 19:03] akihironitta commented on #13212
Maybe I should've waited before closing this issue, but I think the tracking issue should be https://github.com/tensorflow/tensorboard/issues/5708 instead of this issue in our repo since there's nothing we can do for that.

[2022-06-02 19:23] #11974 closed

[2022-06-02 20:17] plutasnyy commented on #12786
@Atharva-Phatak How's it going? if you want I can help you with that ;)

[2022-06-02 20:19] Atharva-Phatak commented on #12786
@plutasnyy It's going good. I am just a little busy with my final exams :)

[2022-06-03 02:01] akihironitta commented on #13179
Here’s the result from the above script with max_epochs=1000

| version | tqdm | rich |
|-|-|-|
| 1.5.10 | 88.83880038931966 | 87.10299507528543 |
| 1.6.0 | 118.51773893088102 | 528.6858856342733 |
| master | 107.8647083714604 | 519.5619989745319 |
| [perf-tqdm](https://github.com/PyTorchLightning/pytorch-lightning/tree/perf-tqdm) | 82.56825127825141 | n/a |

Haven't looked into why rich progress

[2022-06-03 05:31] satpalsr commented on #1703
I confirm the problem still exists.

[2022-06-03 07:37] qqhann commented on #3674
Both links are changed. Anyone knowing a new link?

[2022-06-03 07:43] qqhann commented on #3674
Maybe here? https://pytorch-lightning.readthedocs.io/en/latest/guides/speed.html#things-to-avoid

[2022-06-03 07:49] jungbaepark commented on #11067
Hi,
but from a few weeks ago, I'm in the error of "AttributeError: 'weakref' object has no attribute 'grad_fn'" .

The error has occurred in PytorchLightning 1.5.10 & pytorch==1.11.1.

Before a month ago, I think there was no issue.
What I only did is about updating some library versions including PyTorch and PyTorch lightning.

Should I update Pytorch-lightning in the latest version?

If not, is

[2022-06-03 07:53] qqhann commented on #3674
Oh, it is originally nn.Module's function https://pytorch.org/docs/stable/generated/torch.nn.Module.html#torch.nn.Module.register_buffer

[2022-06-03 16:29] blefaudeux commented on #11933
ping @SeanNaren @ananthsub, any news on that ?

[2022-06-03 16:53] plutasnyy commented on #12974
I looked at it, and it looks like it filters out arguments that don't belong to the selected class (parents are not considered) - so that only class-specific ones get called.

https://github.com/PyTorchLightning/pytorch-lightning/blob/7938293cd9bb27e5ad97aabc7261fb29027dc6b3/pytorch_lightning/utilities/argparse.py#L67-L70

It seems to me that this filtering is necessary and we cannot do without it

[2022-06-03 16:59] plutasnyy commented on #12974
FYI @agarwalmanvi the code will work if you simply get rid of  `**kwargs`, but you have to do that in each `SpecialDataModule`

[2022-06-03 17:16] lersouza opened #13225 "Restoring Trainer State with Early Stop fails"
## 🐛 Bug

Whenever I try to restore the state of a previous (broken) run and I have Early Stop configured, I got the following error:

[code]

It seems the metrics are not saved together with the Checkpoint data and Early Stop tries to be applied straight away.

### To Reproduce

1. Start training a model with Checkpointing (best and last) and Early Stop on a validation metric. I have used Pytorch

[2022-06-03 20:24] chongxiaoc commented on #13210
The above code block changes the log behavior flag on the fly, and users even don't realize that all epoch-end metrics are allreduced after tracing the source code.

I agree with turning off this change.

[2022-06-03 21:58] scchow commented on #13158
One workaround I did was to provide a string and parse that string within `__init__` to unpack the appropriate torch dtype. That way that parameter is still stored as a hyperparameter without yaml trying to dump that dtype.

Later, I discovered that pytorch lighting modules already have a self.dtype attribute that allows users to change the data type of all torch components within a module with a

[2022-06-04 05:09] fishbotics opened #13227 "Is there a way to save a checkpoint with a time interval and also at the end of epochs?"
I started the following as a discussion, but realized it's likely more of an issue.

In the `ModelCheckpoint` class, it seems that I can't checkpoint every N hours as well as after every epoch. I want to do both so that I can load my model for inference mid-epoch, but that I can restart training with a model saved after an epoch.

You can see the documentation note here:
https://github.com/PyTorch

[2022-06-04 05:13] fishbotics commented on #13227
Going down the rabbit hole here, it looks like the call to save at epoch end is the same as the call to save `last.ckpt`:

https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/callbacks/model_checkpoint.py#L309

this then call this:

https://github.com/PyTorchLightning/pytorch-lightning/blob/83436ee3dfd0d4079e0f8e704ba76aca672af19d/pytorch_lightning/callbacks/model_c

[2022-06-04 08:17] rsomani95 opened #13228 "Batched Augmentations With `kornia` Fail In Mixed Precision"
## 🐛 Bug

When using batched augmentations with `kornia` and `precision=16`, a dtype mismatch happens inside the `training_step`:

[code]

Interestingly, this bug doesn't happen if the augmentations are applied with a `p=0.0` or `p=1.0`. This makes me think there's some dangling state somewhere but I'm not sure who's responsible for what.

There is a related kornia issue @https://github.com/kornia

[2022-06-04 23:13] pbsds opened #13231 "Ability to log a file, not neccesarily tied to a 'step'"
## 🚀 Feature

Currently there is to my knowledge no other logger-agnostic way to log one-time data than to use `logger.log_hyperparams`, which will for the tensorboard logger store the data in the `hparams.yaml` file.
What i want is the ability to write/log other non-model-hparam files, perhaps with a new method in the form of `logger.log_file(fname: str, data: bytes | str)`.

### Motivation

The

[2022-06-05 13:50] practice404 commented on #2608
I am getting error
[code]

[2022-06-06 04:38] #12506 closed

[2022-06-06 04:38] #12459 closed

[2022-06-06 04:38] #12537 closed

[2022-06-06 04:38] #12485 closed

[2022-06-06 05:35] tshu-w commented on #6789
active?

[2022-06-06 09:29] #11418 closed

[2022-06-06 09:48] carmocca opened #13237 "ONNX runtime integration documentation"
## 🚀 Feature

Add examples and documentation about how to use ONNX runtime within PL:

https://techcommunity.microsoft.com/t5/ai-machine-learning-blog/accelerate-pytorch-transformer-model-training-with-onnx-runtime/ba-p/2540471

### Motivation

I believe there's nothing we need to change within PL, but we should add this to the docs to show the users how to enable it.

____________________________

[2022-06-06 09:55] mauvilsa commented on #12697
This should be kept open.

[2022-06-06 10:25] xiaoyuan0203 opened #13238 "An error in API Reference doc for pytorch_lightning.callbacks.BaseFinetuning.filter_params"
## 📚 Documentation

The API Reference doc for `pytorch_lightning.callbacks.BaseFinetuning.filter_params` says that:
the `train_bn` parameter notes whether to train BatchNorm module.

But the source code implements as below:

[code]

Whether the parametes `requires_grad` set to `True` or `False`, the BatchNorm module in the `modules` will be ignored, so the parameter `train_bn` should be described

[2022-06-06 15:32] ZhaofengWu commented on #12736
Commenting for activity

[2022-06-06 15:56] carmocca commented on #12000
Closed by #11993

[2022-06-06 15:56] #12000 closed

[2022-06-06 15:59] carmocca commented on #12789
You don't need to, as the concept of `max_epochs` only applies to `fit`.

Only if you want `trainer.test(ckpt_path="best")` to work, otherwise it's not necessary.

Closing, feel free to ask any further questions

[2022-06-06 15:59] #12789 closed

[2022-06-06 16:03] carmocca commented on #12098
It does have the same problem. We will be revisiting the kfold loop in the future
cc @rasbt @SkafteNicki

[2022-06-06 17:01] DavidMChan commented on #12737
Bump as not stale / needs triage

[2022-06-06 17:39] mirandrom commented on #13163
Any updates on this? I am currently working around this by explicitly logging the global_step from the module's attribute, e.g. https://github.com/mirandrom/lightning-transformer-pretraining/blob/72491177a13482b6b7e3e0e38f420c79e950c55a/ltp/hf_mlm/model.py#L124

[2022-06-06 18:39] carmocca commented on #12974
Hi! This is a problem that also impacts the CLI (see https://github.com/PyTorchLightning/pytorch-lightning/issues/11653).
The ideal solution would be (1) but it's complex to implement where an easy workaround already exists (unrolling `**kwargs` as already described). cc @mauvilsa in case you have thoughts on this.

I strongly suggest updating to use the `LightningCLI` over the old argparse logic

[2022-06-07 00:51] cemde commented on #12624
@awaelchli what is the right kind of exception to raise for this? (https://github.com/PyTorchLightning/pytorch-lightning/compare/master...cemde:master#diff-a66e1577c8afd58ec7232d8fecb88eb1edd4b4cc3da9af8a7f7d8286ec8d4e36)

[2022-06-07 07:40] lsy643 opened #13243 "ClosureResult.from_training_step_output will devide accumulate_grad_batches"
## 🐛 Bug

When `accumulate_grad_batches=4`, the loss will be 4 times smaller than the `accumulate_grad_batches=1`.
This happens because the `OptimizerLoop._training_step` will use `from_training_step_output` to do a normalization.

This will result a misleading result if I want to see the training loss if I want to see it in a callback like `on_train_batch_end` function.

### To Reproduce

### Exp

[2022-06-07 07:52] aasharma90 commented on #4450
Same issue here, even with `num_workers=0`. Anyone got a fix?

[2022-06-07 09:48] schmitts commented on #9900
I would very much prefer an explicit option. Automagic matching based on installed stuff is brittle and makes packaging, e.g., for https://spack.io/, harder.

[2022-06-07 10:11] carmocca commented on #12624
I'd suggest `RuntimeError`

[2022-06-07 10:34] ORippler commented on #12896
Just reran the notebook, and it still errors out. Therefore pinging @Borda

[2022-06-07 10:36] ORippler commented on #12900
Inconsistencies are still observed in the supplied colab notebook, therefore pinging @Borda

[2022-06-07 13:19] carmocca commented on #13243
Hi!

Are you requesting that this normalization is removed? Or are you looking for a hook where you can interact with the un-normalized loss? For the latter case, you could use `training_step_end`

[2022-06-07 13:22] carmocca commented on #13227
Yes! The correct solution is to instantiate separate ModelCheckpoint callbacks with their own configuration and pass them to `Trainer(callbacks=[...])`

[2022-06-07 13:58] carmocca commented on #13231
Have you considered writing your custom Logger class? You can extend the builtin https://github.com/PyTorchLightning/pytorch-lightning/blob/83436ee3dfd0d4079e0f8e704ba76aca672af19d/pytorch_lightning/loggers/logger.py#L46 and add `log_file` to it. Then in your `LightningModule` (or Callback) hooks you would call `self.trainer.logger.log_text(...)` with the data you desire.

[2022-06-07 14:26] carmocca commented on #13228
Here's a minimal repro without PyTorch Lightning:

[code]

Note that the error is flaky and does not happen every time. My environment is:

[code]

I suggest you take this back to the Kornia team for further debugging.

[2022-06-07 14:45] rsomani95 commented on #13228
Hi @carmocca, thanks for the response and identifying the issue. I've filed an issue in `kornia`.

[2022-06-07 15:44] Ir1d opened #13246 "CheckpointConnector should support loading with `strict=False`"
## 🐛 Bug

pytorch_lightning/trainer/connectors/checkpoint_connector.py should support loading with `strict=False`

### To Reproduce

### Expected behavior

Say if you add a new torchmetrics module into your LightningModule, you wont be able to validate / test existing checkpoints because new keys are added.

This happens to all Trainer functions involving ckpt_path as parameter, such as `validate(

[2022-06-07 16:37] carmocca commented on #13246
This is a fair ask that has come up a few times in the past. Users want to configure `strict=True` here: https://github.com/PyTorchLightning/pytorch-lightning/blob/83436ee3dfd0d4079e0f8e704ba76aca672af19d/pytorch_lightning/strategies/strategy.py#L317-L322

I can think of two solutions:
(a): Route `strict=bool` all the way from the trainer entrypoints to the checkpoint connector, as done for `ckpt_

[2022-06-07 16:45] pbsds commented on #13231
My request is for that method to be available for all specializations of the logger class. For the tensorboard logger it would store the files as files, while for other loggers such as WandB they should be stored remotely as an artifact.

[2022-06-07 17:46] dubeykanishka commented on #13159
Thank You so much.

[2022-06-07 17:52] plutasnyy commented on #12974
Great, so we are waiting for @mauvilsa ;)

[2022-06-07 17:54] mfoglio commented on #1088
It seems that calling ` self.log_dict(log_metrics)` even inside `test_step` does the job.

[2022-06-07 17:56] Ir1d commented on #13246
I believe this is critical. If you use PyTorch-lightning for iterating your model design. Everything breaks when you make modifications to the module.

[2022-06-07 19:40] mauvilsa commented on #12974
I would suggest the same as @carmocca, to use `LightningCLI` instead of `from_argparse_args`. The example above already works with `LightningCLI` because it assumes that `**kwargs` are forwarded with `super().__init__` and thus finds the parameters of all parent classes. And I am working on improving this support so that the search for parameters is not just based on assumptions but based on the c

[2022-06-07 19:51] mauvilsa opened #13249 "Suggestions to improve LightningCLI documentation"
## 📚 Documentation

With the recent complete overhaul of the documentation where things were split into expertise levels, some parts now seem misplaced or even incorrect. Here are a few suggestions to improve the documentation related to LightningCLI.

- The first issue that I see is that there is no introduction. Why should someone use LightningCLI? There is too much emphasis on "reducing config

[2022-06-07 20:46] justusschock commented on #13246
tbh, I like neither of those approaches @carmocca 🙈

Usually you only want to load with strict=False if you intend to make changes/already made some changes, therefore for me it is a model property (similar to `automatic_optimization` and `truncated_bptt_steps`). If you make it a static attribute this can also be checked before instantiation incase `LM.load_from_checkpoint` is used.

[2022-06-07 20:51] justusschock commented on #13211
@carmocca if the operator is provided and the backend isn't gloo, we should be able to detect this and set those environment variables I think

[2022-06-08 09:59] chrisdoyleIE opened #13251 "Apple M1: ERROR: Failed building wheel for grpcio - with solution"
## 🐛 Bug

Installation failed on M1 chip but I've included a fix in case others run into this.

### To Reproduce
Try installing via ```pip install pytorch_lightning```

[code]

### Expected behavior

Library should install.

### Environment
Python 3.8, Apple M1 chip.

### Solution
[code]

[2022-06-08 10:05] #13251 closed

[2022-06-08 11:24] carmocca commented on #13246
Sounds good to me.

@Ir1d Would you be interested in contributing this feature?

[2022-06-08 13:36] SarBH opened #13253 "Bug: LearningRateMonitor Callback wont work for multiple GPUs"
When using multiple GPUs for training,
```pytorch_lightning.utilities.exceptions.MisconfigurationException: Cannot use `LearningRateMonitor` callback with `Trainer` that has no logger.``` comes up, even though I am indeed using the Neptune logger.

This error ONLY shows up when i try to use more than 1 GPU (tried with 2, 4).
With training on 1 GPU, no error. Everything else stays the same.

cc @ro

[2022-06-08 17:59] SkafteNicki opened #13254 "Native support for Torchmetrics MetricCollection"
## 🚀 Feature

Add native support in `self.log` for the `MetricCollection` object from Torchmetrics:
https://torchmetrics.readthedocs.io/en/latest/pages/overview.html#metriccollection

### Motivation

The `MetricCollection` object is used to chain together multiple metrics into a single object that can be update at once:
[code]
however, when one want to log such an object in PL it is often done on

[2022-06-09 00:16] adamjstewart opened #13256 "DeprecationWarning: torch.distributed._sharded_tensor"
## 🐛 Bug

The latest versions of pytorch-lightning and PyTorch give the following deprecation warning:
[code]
This chunk of code has since moved, but `torch.distributed._sharded_tensor` is still being imported in `pytorch_lightning/core/module.py` and `tests/core/test_lightning_module.py`.

### To Reproduce

Run code using `LightningModule` through pytest with the latest version of PyTorch.

### E

[2022-06-09 00:37] adamjstewart opened #13257 "Erroneous UserWarning for unset max_epochs"
## 🐛 Bug

When I use:
[code]
I see the following warning:
[code]
However, `fast_dev_run=True` implies `max_epochs=1`, so shouldn't this warning be skipped?

### To Reproduce

Use code like:
[code]
in your code with warnings enabled or captured by pytest.

### Expected behavior

No warning message.

### Environment

- PyTorch Lightning Version (e.g., 1.5.0): 1.6.4
- PyTorch Version (e.g., 1.10): 1.

[2022-06-09 00:49] Ir1d commented on #13246
sorry, I dont have much time to work on this @carmocca

[2022-06-09 03:04] akihironitta commented on #13253
@SarBH Thanks for reporting this issue.

- Could you fill [the bug template](https://raw.githubusercontent.com/PyTorchLightning/pytorch-lightning/master/.github/ISSUE_TEMPLATE/bug_report.md)? (I couldn't reproduce the error with a simple script below)
- Could you quickly run your script with the tensorboard logger to see if the issue is logger-dependent?

<details><summary>script</summary>

[code]

[2022-06-09 03:47] akihironitta commented on #13257
@adamjstewart Thank you for submitting the issue!

I don't have a strong preference, but I find it reasonable to raise the warning even when `fast_dev_run` is specified because one will have to deal with the warning anyway once `fast_dev_run` is disabled. :eyes:

[2022-06-09 03:49] akihironitta commented on #13256
@adamjstewart Thank you for reporting this! Would you be interested in submitting a PR?

[2022-06-09 05:10] adamjstewart commented on #13257
In my case, this is inside a unit test, so `fast_dev_run` will never be disabled. If `fast_dev_run==True`, we only run a single batch, so warning about setting `max_epochs` to 1000 seems odd.

[2022-06-09 08:42] timothylimyl opened #13260 "Using timm scheduler, metric in `lr_scheduler_step` will always be `None`"
Hi, was wondering whether does anyone else has this issue?

When I change my scheduler to a pytorch scheduler, it suddenly works and I can see that the `metric` has value  in `lr_scheduler_step()`. Snippet of code in `LightningModule`:

[code]

I cannot figure out why metric is `None` when using a timm scheduler. All logging code remains the same.

Snippet in validation (val_loss is being logged):

[2022-06-09 13:22] thomfoster commented on #12317
I'm still getting this issue when using the DeepSpeedStrategy in both the 1.6.4 release and the current master branch :(

[2022-06-09 13:33] lsy643 commented on #13243
@carmocca
Thanks for you reply. I will try with `training_step_end`.
By the way, why there is a normalization when `accumulate_grad_batches ` is used? E.g when  `accumulate_grad_batches == 4`,  I understand the actual batch size is 4 times larger, but there seems to be no reason to do a normalization.
Would you mind give me some explanation to help me understand it?

[2022-06-09 17:21] btseytlin commented on #10393
Still doesn't work with cryptic errors:
[code]

[2022-06-09 22:11] speediedan commented on #10197
Unless there's objection, I think we can close this now that the requested functionality is available via the [Finetuning Scheduler extension](https://finetuning-scheduler.readthedocs.io/en/latest/) (used in [this lightning tutorial](https://pytorchlightning.github.io/lightning-tutorials/notebooks/lightning_examples/finetuning-scheduler.html)).

On a related note, any sense of when the _notebooks

[2022-06-09 23:57] samgelman commented on #13163
I am also experiencing this problem. Here's a plot of weights & biases step (incremented on each call to .log()) vs. the trainer's global_step.
<img width="513" alt="Screen Shot 2022-06-09 at 6 55 25 PM" src="https://user-images.githubusercontent.com/2335910/172963910-80c728db-6832-43f9-b9a7-b0d2d17f64ab.png">

[2022-06-10 00:05] blefaudeux commented on #11933
ok, synced offline and seems that it's not a priority :(

[2022-06-10 14:33] nimashoghi opened #13266 "[Fabric] Gradient Clipping with AMP"
## 🚀 Feature

Currently, there doesn't seem to be a way to do gradient clipping when using AMP with LightningLite. This is because the grad scalar code is behind the NativeMixedPrecisionPlugin, and there doesn't seem to be any way of changing this for LightningLite.

### Motivation

Grad clipping is very popular across DL, and having some way to do this is very important.

### Pitch

I see that th

[2022-06-10 15:27] mirandrom commented on #13163
Related issues I missed when first opening this issue: #12991,  #12274, #13069

[2022-06-10 15:30] realsarm commented on #3104
I faced this issue on gcloud vm with gpu but not tpu.
[code]
The torch_xla was installed by default in the Deep learning image and the only solution was to manually uninstall torch_xla
I used PL latest version 1.6.4

[2022-06-10 16:42] mauvilsa commented on #13094
This is probably fixed by https://github.com/PyTorchLightning/pytorch-lightning/pull/13221. @m9jiang could you please test it?

[2022-06-10 18:59] #10197 closed

[2022-06-10 22:47] GPla opened #13269 "Save the best epoch in `ModelCheckpoint`"
## 🚀 Feature

Add `best_model_epoch` (`best_model_step`) to the `ModelCheckpoint` callback.

### Motivation

After training, it would be good to know during which epoch/step a model reached its min/max in the `monitor` metric.
Right now, it can be figured out by from the `best_model_path` by using a regex, which is rather inconvenient.

[code]

### Pitch

Add two additional attributes `best_model_

[2022-06-11 06:10] Ir1d commented on #10914
@Borda Hi, any plan on landing this feature?

[2022-06-11 08:10] tigert1998 commented on #7233
Is there any conclusion?

[2022-06-11 08:18] Data-drone commented on #11538
How did you go in the end @codestar12?

[2022-06-12 10:10] franchesoni opened #13273 "Allow `extra_epochs` flag in `Trainer.fit` to control finetuning time"
## 🚀 Feature

`Trainer(max_epochs=100).fit(model, train_dl, ckpt_path=ckpt_path, extra_epochs=True)` would finetune for 100 epochs

### Motivation

Finetuning for N epochs requires knowing the previous number of epochs M and setting `Trainer(max_epochs=M+N)`. Google did not tell me how to achieve this.

### Pitch

Finetuning training time or number of epochs should be configurable.

### Alternativ

[2022-06-13 01:40] timothylimyl commented on #8563
@tchaton , in this case, how do we avoid DDP running the script 4 times?

For example, in some hyperparam search cases, we want will put the `trainer.fit` in a loop while changing the hyperparams. In this case, the DDP processess will end up running the main script (duplication) 4 times more than necessary.

[2022-06-13 02:02] timothylimyl opened #13276 "DDP runs main script multiple times (unnecessary duplication)"
Reference Issue: ![8563](https://github.com/PyTorchLightning/pytorch-lightning/issues/8563)

The use case is to set up an optimiser search under DDP mode in the beginning to look for suitable optimisers and then only proceed to continue to train in DDP mode.

Pseudocode:
[code]

The issue is that DDP will cause the script to run 4 times (4 GPU), whereas we want it to just run once per loop search.

[2022-06-13 09:17] thomassajot commented on #12584
Hi @awaelchli,
My team is working on a contrastive learning project. We are trying to use `ddp2` recently in hopes to get larger batch sizes. I found this issue while trying to debug why `ddp2` is not working !

I understand that if few users are relying on this strategy, it is not a good case to keep it. But of course, I would prefer to have it working.

[2022-06-13 14:58] sangkyuleeKOR opened #13278 "Model initialize error with scikit-learn StratifiedKFold"
## 🐛 Bug
When i try to stratified kfold validation with scikit-learn,
fold 0 is fine but, from fold 1 to last fold, model validaction score is too high from the beginning of the training loop.
I think fold 0 model is trained again without proper initialization.

### To Reproduce

[code]

### Expected behavior
when trainer starts training loop, validation score should not be to high from first epoc

[2022-06-13 15:33] ChickenTarm commented on #12936
Is this something that can't really be done easily since this isn't exposed by torchrun?

[2022-06-13 15:39] aRI0U opened #13279 "instantiate_class should be recursive"
## 🐛 Bug

I have a `LightningModule` that takes a `nn.Module` as argument. I use Lightning CLI to instantiate my model, however when I instantiate the model manually with `instantiate_class`, the dictionary containing the module param of my model is not instantiated.

### To Reproduce

Implementation of the (dummy) networks, file `models.py`:
[code]
Config file (file `config.yaml`):
[code]

Main s

[2022-06-14 00:19] gloryVine commented on #13102
I am encountering a bug, namely some of my neural network's targets are corrupted using the M1's GPU. This does not happen on CPU. Specifically, some targets are set to large values (~ -2+e25), resulting in inf/nan loss.

I have isolated the behavior by stepping through the code and verifying at which steps the targets are still in the range (-1,1), as intended. The corrupted values first occur in

[2022-06-14 04:36] qixiang109 commented on #12736
I believe this problem still exists in pl version 1.6.4

`import torch
import torch.nn as nn
import pytorch_lightning as pl
from pytorch_lightning.utilities.model_summary import ModelSummary

class Example(pl.LightningModule):
    def __init__(self):
        super().__init__()
        self.lin1 = nn.Linear(32,64)
        self.lin2 = nn.Parameter(torch.rand([32,64]))
model = Example()
print(ModelSu

[2022-06-14 09:29] justusschock opened #13285 "MPS Inf/Nan Loss"
I am encountering a bug, namely some of my neural network's targets are corrupted using the M1 GPU. This does not happen on CPU. Specifically, some targets are set to large values (~ -2+e25), resulting in inf/nan loss.

I have isolated the behavior by stepping through the code and verifying at which steps the targets are still in the range (-1,1) as intended. The corrupted values first occur in th

[2022-06-14 09:33] justusschock commented on #13285
Hi @gloryVine, I created a separate issue for this :)

Thanks for the report. To be honest, I likely suspect this to be an issue with core PyTorch and not our code. We are only doing the device mapping and as long as everything is running on MPS, we are doing our job correctly.

As this is still an experimental feature (from both, PyTorch and our side) it might very well be the case, that some ope

[2022-06-14 09:55] justusschock commented on #13266
@awaelchli Could we introduce a separate check [here](https://github.com/PyTorchLightning/pytorch-lightning/blob/bfa8b7be2d99b980afa62f5cb0433326bcfd2ef0/pytorch_lightning/plugins/precision/precision_plugin.py#L180) for `LightningLite` and then just call the [`clip_gradients`](https://github.com/PyTorchLightning/pytorch-lightning/blob/bfa8b7be2d99b980afa62f5cb0433326bcfd2ef0/pytorch_lightning/plug

[2022-06-14 13:36] nick-torenvliet opened #13287 "Interesting behaviour/interaction between matplotlib and validation_epoch_end(self, outputs)"
### Discussed in https://github.com/PyTorchLightning/pytorch-lightning/discussions/13282

<div type='discussions-op-text'>

<sup>Originally posted by **nick-torenvliet** June 13, 2022</sup>
I am modifying some code taken out of the lightning docs and training a VAE to learn a represenation of time series thought to contain structure.  The validation outputs are reconstructions of the time series.

[2022-06-14 14:08] Yxs-160 opened #13288 "Unable to load trained checkpoint in Pytorch Lightning"
Hello folks,

I made some changes in a model, and I can train the changed model from scratch. However when I evaluate the trained model, it reported a bug:

Traceback (most recent call last):
  File "eval.py", line 108, in <module>
    **transformer_config
  File "/home/ubuntu/anaconda3/envs/3d-retr/lib/python3.6/site-packages/pytorch_lightning/core/saving.py", line 157, in load_from_checkpoint

[2022-06-14 14:12] carmocca opened #13290 "Prefix `seed_everything` log messages with rank info"
## 🚀 Feature

The message here is printed per rank on purpose https://github.com/PyTorchLightning/pytorch-lightning/blob/bfa8b7be2d99b980afa62f5cb0433326bcfd2ef0/pytorch_lightning/utilities/seed.py#L69-L71 but this confuses users who are not aware of the difference

### Pitch

Prefix the message with the rank just as we do for `EarlyStopping` https://github.com/PyTorchLightning/pytorch-lightning/b

[2022-06-14 14:54] carmocca commented on #13279
I think this is fair. Thoughts @mauvilsa? Would you like to work on this?

[2022-06-14 15:13] carmocca commented on #13266
I wouldn't introduce any hooks to Lite, but we could expose a `clip_gradients` function that always works the selected Lite configuration.

[2022-06-14 15:17] carmocca commented on #13211
The docstring I linked describes a tradeoff between the 2 env variables, so we shouldn't choose ourselves.

However, we could check that one is present if a timeout was set. But this makes me wonder if that should be contributed directly to PyTorch instead. Perhaps they already do this (I haven't checked)

[2022-06-14 15:20] NiccoloCavagnero commented on #12812
Very same issue here.

[2022-06-14 15:46] carmocca commented on #13243
You can find a comprehensive explanation for this in this post: https://stackoverflow.com/a/62076913, particularly in the last snippet.

[2022-06-14 15:56] carmocca commented on #13285
@gloryVine Here is where the batch gets fetched (and `collate_fn` is called): https://github.com/PyTorchLightning/pytorch-lightning/blob/bfa8b7be2d99b980afa62f5cb0433326bcfd2ef0/pytorch_lightning/loops/epoch/evaluation_epoch_loop.py#L127 and here is where `validation_step` gets called: https://github.com/PyTorchLightning/pytorch-lightning/blob/bfa8b7be2d99b980afa62f5cb0433326bcfd2ef0/pytorch_light

[2022-06-14 16:03] carmocca commented on #13269
Our suggestion here is that you load the checkpoint and extract the epoch value

[code]

[2022-06-14 16:21] aRI0U commented on #13279
Thanks a lot for your reply!

I realized a really basic recursive implementation of `instantiate_class`, but it only works when there are no `args`. I put it here for reference:
[code]

[2022-06-14 16:51] carmocca commented on #10393
@btseytlin I just tried it and it's working well for me. What errors are you seeing?

<details>

<summary>Code</summary>

[code]

</details>

You could also use:

[code]

or

[code]

[2022-06-14 16:51] #10393 closed

[2022-06-14 16:56] carmocca commented on #5325
You want to set `trainer.fit(..., ckpt_path="a_ckpt_to_resume_from")`.

[2022-06-14 17:18] #13160 closed

[2022-06-14 17:56] codestar12 commented on #11538
I basically just removed a lot of FFCV transforms from the pipeline and just kept the data preprocessing bit. It looks like @carmocca finally has the answer though

[2022-06-14 18:48] carmocca commented on #13287
Closing as there's follow-up in the discussion

[2022-06-14 18:48] #13287 closed

[2022-06-14 19:26] btseytlin commented on #10393
@carmocca I don't have the logs anymore, but it was complaining about other loops missing: validation, test evaluation and something else. I had to manually initiate and connect all possible loops for it to work, like in [this](https://github.com/PyTorchLightning/pytorch-lightning/issues/10393#issuecomment-968815196) comment.

I believe your example does not produce errors because it has no valida

[2022-06-14 19:30] nick-torenvliet commented on #13287
Yes - thanks - still wondering about the behaviour of matplotlib in the namespace... I will live with it :)

[2022-06-14 19:40] carmocca commented on #13276
This is a limitation by the design of DDP and cannot be accomplished.

I suggest each `train()` call saves results to disk and then in a separate script call, you load them, choose the best one, and train again

[2022-06-14 19:42] carmocca commented on #13273
You accomplish this by doing:
[code]
before `trainer.fit()` is called

[2022-06-14 19:47] carmocca commented on #10393
I just tried the same script but passing validation data and it still worked as expected. If you are able to reproduce it, I will be interested in checking out what's the problem.

The loop docs are available here: https://pytorch-lightning.readthedocs.io/en/stable/extensions/loops.html

[2022-06-14 20:57] mauvilsa commented on #13279
The `instantiate_class` function was introduced to instantiate optimizers which require a positional argument and it is not expected to have nested classes. Certainly it can be made recursive so that it can be used in other situations. It is fine that `args` is supported only on the first level. Though the change should be modifying `instantiate_class`, so that it calls itself, not having a new fu

[2022-06-14 22:40] #13269 closed

[2022-06-15 01:57] timothylimyl commented on #13260
Hi @carmocca , happy to work on a PR but I do need some pointers from more experienced developers on where to make the changes.

[2022-06-15 08:09] #13276 closed

[2022-06-15 08:18] justusschock commented on #13276
Setting up a bash script to individually call the same python script won't help as we call the script again when choosing DDP as strategy.

You really should separate these two trainings.

Note: You could also use ddp_spawn as training strategy which does not call the script multiple times but does have some other limitations

[2022-06-15 15:00] krishnakalyan3 commented on #13290
@carmocca I would like to work on this.

[2022-06-15 15:17] carmocca commented on #13290
Just noticed that `seed_everything` does not have a `Trainer` reference. I guess we should try to fall back to checking environment variables in that case. Thoughts @awaelchli?

[2022-06-16 02:44] #13243 closed

[2022-06-16 03:01] lsy643 commented on #13211
@justusschock @carmocca So when `timeout` is set and backend is 'nccl', we need to first check environment variable `NCCL_BLOCKING_WAIT ` or `NCCL_ASYNC_ERROR_HANDLING `. If either one of them is set, we just

[2022-06-16 14:30] jzazo opened #13315 "Loggers in trainer not documented."
## 📚 Documentation

Hi! I think you documented recently [`logger`](https://pytorch-lightning.readthedocs.io/en/stable/common/lightning_module.html#logger) and [`loggers`](https://pytorch-lightning.readthedocs.io/en/stable/common/lightning_module.html#loggers) for lightning modules. However, the same interface is not documented for `Trainer`, and it feels natural that they behave the same, doesn't

[2022-06-16 16:43] samgelman opened #13316 "set_epoch not called for BatchSampler"
## 🐛 Bug

Lightning takes care of calling set_epoch for custom DataLoader Samplers [here](https://github.com/Lightning-AI/lightning/blob/759e89df21684277da996dd25781dee7f21e1b1c/src/pytorch_lightning/loops/fit_loop.py#L239). However, the DataLoader might use a custom BatchSampler instead of a Sampler. Lightning does not call set_epoch for custom BatchSamplers. Calling set_epoch is important for pr

[2022-06-16 18:27] stackedsax commented on #12833
@awaelchli thoughts on @GinkoBalboa's thoughts?  Is there a better way to address the issue that @GinkoBalboa is running into?  Like he suggests, it would be great to not fail long training runs on something like this.

[2022-06-17 06:29] Keiku opened #13319 "[Docs] The link for lightning_lite.rst is not found"
I can't find the link for lightning_lite.rst in the following document. please confirm it.

https://github.com/Lightning-AI/lightning/tree/master/examples/pl_basics

cc @borda @rohitgr7

[2022-06-17 08:04] LucaButera opened #13320 "Error in "on_advance_start" when data-loader's sampler is a NumPy array"
## 🐛 Bug

When using a NumPy array as sampler for a PyTorch data loader the check
[code]

in "on_advance_start", raises the following exception:
[code]

### To Reproduce
[code]

### Expected behavior

The error is not raised.

### Environment

* CUDA:
	- GPU:
		- Tesla T4
	- available:         True
	- version:           11.3
* Packages:
	- numpy:             1.21.6
	- pyTorch_debug:     False
	- p

[2022-06-17 08:33] Yxs-160 commented on #13288
i have solved this problem thx!

[2022-06-17 08:33] #13288 closed

[2022-06-17 11:18] akihironitta commented on #13319
Hi @Keiku thank you for your report. The correct link is:
- https://pytorch-lightning.readthedocs.io/en/stable/starter/lightning_lite.html.

Would it be possible for you to send a quick PR to fix this? It'd be greatly appreciated.

[2022-06-17 11:26] akihironitta commented on #13315
Hi @jzazo thanks for reporting this!

I might be missing where exactly it should be documented, but it's already documented at the following page:
- https://pytorch-lightning.readthedocs.io/en/latest/common/lightning_module.html#loggers
- https://pytorch-lightning.readthedocs.io/en/latest/common/trainer.html#loggers

[2022-06-17 11:56] jzazo commented on #13315
Ohh, sorry, I missed it, you are right. Apologies.

[2022-06-17 11:56] #13315 closed

[2022-06-17 17:54] zippeurfou opened #13323 "Make the Streamlit frontend multi tenant by default"
## 🚀 Feature

Have the streamlit frontend handle multi tenancy by default for the user

### Motivation

We want app to be multi tenant on the gallery and people use streamlit :)

cc @borda

[2022-06-17 18:03] paantya opened #13324 "Validation takes place every N time"
## 🚀 Feature

validation takes place every N time (ex. validation takes place every 15 minutes )

### Motivation
I would like to be able to run validation once at some fixed time.
I know that validation takes a specific time, and in order not to spend more training time on validation, I want to be able to run training once in a specific period of time.

For example, my validation takes 5 minutes (

[2022-06-17 22:24] mfoglio opened #13326 "AttributeError: 'FeatureExtractorFreezeUnfreeze' object has no attribute '_restarting'"
I am fine tuning a model. I'd like to freeze the backbone for the first epochs.
I followed the example in the doc and I created:
[code]
I am using it this way:
[code]
But before the training could start, I get the error:
[code]

[2022-06-17 22:25] mfoglio commented on #13326
My bad. I forgot to call `super().__init__()`.

[2022-06-17 22:25] #13326 closed

[2022-06-18 04:07] gloryVine commented on #13285
@justusschock I ran the trainer with the flag, nothing changed, including the output.
@carmocca I did the following at the position in your first link: Immediately after `next(data_fetcher)`, I did the check `(abs(batch[1])>1000).any()`, which at some point is True (even though my targets are all supposed to be in the (-1,1) range). To make sure that it's not an issue with the data loader, **for t

[2022-06-18 16:57] lyndonlauder opened #13329 "auto_lr_find gives error (NameError: name 'trainer' is not defined)"
Hi i am trying to use lightning auto_lr_find, i use the command trainer.tune(model) and it gives me this error

NameError: name 'trainer' is not defined

Here is the model code and link

https://github.com/kuielab/mdx-net/blob/main/src/models/mdxnet.py

Please do you have any advice for this?

[2022-06-18 17:04] akihironitta commented on #13329
@lyndonlauder Could you please provide your env detail and full error message? You can use this template here: https://github.com/Lightning-AI/lightning/blob/master/.github/ISSUE_TEMPLATE/bug_report.md

[2022-06-18 17:16] lyndonlauder commented on #13329
Thank you @akihironitta here it what you asked for

To Reproduce: trainer.tune(model)
Expected behavior: auto_lr_find works
Environment: conda google colab
PyTorch Lightning Version (e.g., 1.5.0): 1.6.4
PyTorch Version (e.g., 1.10): 1.8.1
Python version (e.g., 3.9): 3.8
OS (e.g., Linux): Google colab
CUDA/cuDNN version: cudatoolkit-11.7.0
GPU models and configuration: google colab p100
How you ins

[2022-06-18 19:34] #13319 closed

[2022-06-18 21:27] awaelchli commented on #13290
We have a utility function _get_rank() in `utilities/rank_zero.py` that accesses the environment variables. We can use that. Of course, this wouldn't capture all (custom) cluster environments that get specified through trainer, as @carmocca mentioned. In such a case, the prefix will falsely display rank 0 for all messages.

[2022-06-18 21:46] awaelchli commented on #13324
I think this is a great feature request. In many cases, it can be more intuitive to specify the validation interval in time units rather than iterations.
What format would we choose? A string with a postfix for the time scale? E.g.

[code]

[2022-06-18 22:14] awaelchli commented on #12833
Hi
Thanks for the replies. I agree there is a user need and I definitely think that connection errors or server-side errors should not cancel the long running model training run. The only thing I'm saying is that I am not sure this should be implemented in user code / PyTorch Lightning but rather directly be configureable by the MLFlowClient directly, as your request applies to any MLFlow user not

[2022-06-18 22:31] awaelchli commented on #12584
Hi @thomassajot
Sorry for the late answer.

This is not actually the main reason we remove it. Have you seen my [explanation](https://github.com/PyTorchLightning/pytorch-lightning/issues/9667#issuecomment-986161540) of why it doesn't work?

Essentially you would like to use the DistributedDataParallel wrapper with multiple device_ids but PyTorch discouraged and deprecated this a long time ago. Unf

[2022-06-18 22:36] awaelchli commented on #13266
I think providing a `Lite.clip_gradients()` could work. This could even be useful for manual optimization from within the LightningModule.

[2022-06-19 08:51] aegonwolf commented on #9318
I also still get this error after downgrading to 0.5.0

[2022-06-19 09:31] #12737 closed

[2022-06-19 09:32] #12157 closed

[2022-06-19 09:32] #12502 closed

[2022-06-19 09:32] #11494 closed

[2022-06-19 09:32] #12610 closed

[2022-06-19 09:33] #12494 closed

[2022-06-19 09:33] #12616 closed

[2022-06-19 09:34] #12586 closed

[2022-06-19 09:34] #10964 closed

[2022-06-19 09:34] #12300 closed

[2022-06-19 10:11] franchesoni commented on #13273
If this worked, it would be very counter intuitive, because the current number of epochs is known only after calling `.fit(..., ckpt_path=ckpt_path)`
I think you are assuming I'm loading the model first, which is not the case, as I'm using the `ckpt_path` argument

[2022-06-19 10:51] Keiku commented on #13319
I was busy for a while. Thank you for fixing the link.

[2022-06-19 10:51] plutasnyy commented on #12974
So to sum up, we can mark this as "won't do", can't we?

[2022-06-19 15:28] stevenwudi commented on #13246
Hmm, actually I had modified the Pytorch lightning code to allow PyTorch lightning CLI to allow `strict=False` for me need and it works. Maybe I can contribute a PR these two days according to PyTorch lightning PR standard.

[2022-06-19 19:37] MarcSkovMadsen opened #13335 "Add Panel Frontend."
## 🚀 Feature

Add PanelFrontend similarly to StreamlitFrontend.

### Motivation

Panel and the HoloViz ecosystem provides unique and powerful features such as big data viz via DataShader, cross filtering via HoloViews, Streaming and much more.

It ties into the PyData and Jupyter Ecosystem as users can develop in notebooks and use ipywidgets. They can also develop in .py files.

This is not possib

[2022-06-19 23:39] #11361 closed

[2022-06-19 23:40] #8426 closed

[2022-06-19 23:40] #12679 closed

[2022-06-19 23:41] #12720 closed

[2022-06-19 23:42] #12668 closed

[2022-06-19 23:43] #12820 closed

[2022-06-19 23:44] #12803 closed

[2022-06-19 23:44] #10557 closed

[2022-06-20 00:40] #12612 closed

[2022-06-20 00:40] #12847 closed

[2022-06-20 00:41] #12643 closed

[2022-06-20 00:42] #12866 closed

[2022-06-20 00:42] #12899 closed

[2022-06-20 00:43] #12925 closed

[2022-06-20 00:43] #12855 closed

[2022-06-20 00:44] #12946 closed

[2022-06-20 02:23] Keiku opened #13336 "[Docs] Missing "mnist_examples" folder in lightning/examples/pl_basics"
`README.md` contains an execution example of the program in `mnist_examples`, but `mnist_examples` does not exist. If the code exists in any branch or in the past, recover it.

I wanted to solve the broken link of `lightning_lite.rst` together with this problem, but the PR https://github.com/Lightning-AI/lightning/pull/13331 of only the fix of the link has been issued.

cc @borda @rohitgr7

[2022-06-20 08:23] wangleiofficial opened #13339 "Fully Sharded Training clip_grad_norm_"
## 🚀 Feature
FSDP does not supprot the gradient_clip_val setting in Trainer

### Motivation

### Pitch

### Alternatives

### Additional context

______________________________________________________________________

#### If you enjoy Lightning, check out our other projects! ⚡

- [**Metrics**](https://github.com/Lightning-AI/metrics): Machine learning metrics for distributed, scalable PyTorch app

[2022-06-20 09:12] williamFalcon commented on #13335
@MarcSkovMadsen
love this idea! go for it. We’ll help you land the PR once you are ready. In terms of promoting, we can put together an app or two to share with both communities.

nice idea!

[2022-06-20 12:35] akihironitta commented on #13336
Thanks for reporting the issue. I believe they are moved to https://github.com/Lightning-AI/lightning/tree/master/examples/convert_from_pt_to_pl. Any PR to fix broken links/directories will be appreciated!

[2022-06-20 13:10] function2-llx commented on #11380
Seems Lightning uses `NODE_RANK` everywhere, so we should set both `RANK` and `NODE_RANK`?

[2022-06-20 13:10] function2-llx commented on #11380
Seems Lightning uses NODE_RANK everywhere, so we should set both RANK and NODE_RANK?

[2022-06-20 14:08] bryanmooremd commented on #13124
I am also seeing this issue with end-of-epoch checkpoint saving.

[2022-06-20 15:35] lantiga commented on #13335
@MarcSkovMadsen that’s great! Let us know if you need directions with designing this.

For awareness, at a minimum you can already run a Panel application in a LightningWork and expose it through the tab frontend. This is a good example to take inspiration from: https://ideal-bassoon-5313f557.pages.github.io/workflows/add_web_ui/dash/basic.html

The more advanced integration is subclassing the `Fr

[2022-06-20 22:39] nitinramvelraj commented on #12521
I can take  pytorch_lightning.Callback.on_keyboard_interrupt

[2022-06-21 06:26] MarcSkovMadsen commented on #13335
Thanks @lantiga

I will then start by making a PR for Panel similar to `https://lightning.ai/lightning-docs/workflows/add_web_ui/dash/basic.html`.

https://user-images.githubusercontent.com/42288570/174730540-3f38919f-5aca-4f35-871c-c91e6b736f40.mp4

I can get it working locally

[code]

Unfortunately I am on a forced VPN where lightning.ai is blocked so I cannot login and run the app on lightning

[2022-06-21 06:43] MarcSkovMadsen commented on #13335
## Open Questions

- I set `websocket_origin="*"`. This is to allow connections from for example 127.0.0.1 or lightning.ai. Is it possible to be more specific and determine the origin from some method or attribute on `lapp.LightningWork`?

[2022-06-21 08:52] #13256 closed

[2022-06-21 09:07] awaelchli commented on #13246
I like @justusschock's suggestion for making it a static attribute on the class.

[2022-06-21 10:35] rohitgr7 commented on #13339
hey!

are you getting any errors when you are specifying it?

[2022-06-21 10:53] wangleiofficial commented on #13339
when specifying it, cause the error: pytorch_lightning.utilities.exceptions.MisconfigurationException: `gradient_clip_algorithm='norm'` is currently not supported for `FullyShardedNativeMixedPrecisionPlugin`

[2022-06-21 10:53] SeanNaren commented on #13339
A fix around this is to pass this in your LightningModule:

[code]

But we'll need more context about how your code is structured.

Fully Sharded training requires that you wrap your model (it doesn't wrap it for you). As a result, only you know the reference to call the `clip_grad_norm_` function for your model. You can see an example of this here: https://github.com/SeanNaren/SmallScience/blob/f

[2022-06-21 12:25] martinosorb opened #13347 "Not working with python version 3.9-dev"
## 🐛 Bug

Pytorch lightning fails to import on python 3.9-dev (3.9.12+) due to the use of Version on an inappropriately formatted version string:

[code]

### To Reproduce

`import pytorch_lightning` on my setup with python 3.9-dev.

### Expected behavior

The version check should not be based on `platform.python_version()`, as this is a string and apparently it's not PEP 440-compliant. There are

[2022-06-21 12:39] carmocca opened #13348 "Enable PyTorch 1.12 testing"
## 🚀 Feature

See title. This needs to be done before the next feature release.

The 1.12 release is planned for 06/28

### Motivation

Make sure latest and greatest works well
______________________________________________________________________

#### If you enjoy Lightning, check out our other projects! ⚡

- [**Metrics**](https://github.com/Lightning-AI/metrics): Machine learning metrics for di

[2022-06-21 13:36] carmocca commented on #13320
Would you like to open a PR with your proposed fix?

[2022-06-21 13:40] LucaButera commented on #13320
Sure, I think I will have time by the end of next week

[2022-06-21 13:51] Keiku commented on #13336
@akihironitta Sorry for the late reply.

Should I move `convert_from_pt_to_pl` to `pl_basics` as `mnist_examples` or leave `convert_from_pt_to_pl` and remove "MNIST Examples" from the `README.md` in `pl_basics`?

[2022-06-21 14:21] jhauret commented on #5243
I would need this feature to implement [this](https://github.com/soumith/ganhacks#:~:text=while%20lossD%20%3E%20A%3A%0A%20%20train%20D%0Awhile%20lossG%20%3E%20B%3A%0A%20%20train%20G)

[2022-06-21 14:41] Borda commented on #13348
Is it already on Conda test channel?

[2022-06-21 15:12] #12961 closed

[2022-06-21 15:45] carmocca commented on #13348
I think so, this is what the PyTorch team shared:

Following are instructions on how to download different versions of RC for testing.
Please note: MacOS M1 builds are available now (both wheels and conda), please evaluate them.
CONDA CPU:
Windows/LInux:
conda install pytorch torchvision torchaudio cpuonly -c pytorch-test
MacOS:
conda install pytorch torchvision torchaudio -c pytorch-test
CUDA 11.

[2022-06-21 16:09] ychenZHANG opened #13355 "TypeError: Unwrapping the module did not yield a `LightningModule`"
I am following the tutorial of MNIST, and I passed a pretrained model from timm, and I got this error.

I am using default strategy and backend.

[code]

I am passing the model to pl.LightningModule as this:
[code]

cc @justusschock @awaelchli @ninginthecloud @rohitgr7 @kaushikb11 @akihironitta

[2022-06-21 16:48] #12317 closed

[2022-06-21 16:48] SeanNaren commented on #12317
@thomfoster this should be fixed on master now!

[2022-06-21 17:01] lantiga commented on #13335
Hi @MarcSkovMadsen, this is great!

Great question. You can access the origin host using a constant the `lightning_app` package exposes:

[code]

I'm going to run the app now and will share the link with you.

[2022-06-21 17:07] lantiga commented on #13335
@MarcSkovMadsen https://01g63kmn3cp6mba0hp0zaqwgvb.litng-ai-03.litng.ai/view/Introduction

[2022-06-21 21:58] #11653 closed, assigned to nobody

[2022-06-21 21:58] #11574 closed

[2022-06-21 22:31] krishnakalyan3 commented on #13210
I would like to work on this.

[2022-06-21 23:09] CompRhys opened #13358 "Disable Progress bars for Train/Validation/Predict separately"
## 🚀 Feature

Currently we can turn off progress bars by setting `enable_progress_bar=False` but this is an all or nothing solution.

### Motivation

I am using PL trainer to make predictions in a small customer facing prototype, the progress bars make the output look very different to the previous solution we are proposing a drop in solution for. We can disable all the progress bars but it's usef

[2022-06-21 23:52] carmocca commented on #13211
There's already checks for this inside PyTorch: https://github.com/pytorch/pytorch/blob/a8b098859688a3f1993821eecc036be973a15605/torch/csrc/distributed/c10d/ProcessGroupNCCL.cpp#L555-L572

I suggest we don't go into these internal details in PL

[2022-06-21 23:53] #12917 closed

[2022-06-22 00:23] carmocca commented on #13358
You could create a new `Trainer` instance for prediction with the progress bar disabled.

[2022-06-22 06:51] NguyenDuyDuc1491995 opened #13360 "Using Dataloader in pytorch_lightning when using DDP training?"
My computer has 2 gpus and I have some problems:
1. First, I used Pytorch
I have 10 images, I created distributed dataloader (using sampler) follow Pytorch instruction, batchsize = 4, gpu=2.
=> So with each gpu, length of batch0 is 4 and length of batch1 is 4. Sampler added 2 to batch1 to make batchsize = 4.
I trained with ddp_spawn with pytorch code and everything is ok.

2. Next, I used Pytorch

[2022-06-22 07:58] huidiwiwi commented on #5285
Hi, I'm new to pytorch lightning, could you please give a example of how to achieve this?

(I try to track the best val metrics with MetricsTracker, by logging the tracker.best_metric() on hook `on_validation_epoch_end`, I get a best metric on current state. How could I keep only the final one in logs? )
thx a lot.

[2022-06-22 08:40] justusschock commented on #13355
@ychenZHANG thanks for the issue. Could you maybe update your snippet a bit? What I am looking for is the class of the model (e.g which timm model you used) as well as your instantiation of the trainer. This would  make it significantly easier to debug this :)

[2022-06-22 09:10] luca-medeiros commented on #11438
Recently PyTorch team integrated Torch-TensorRT into the Pytorch ecosystem. [blog post](https://medium.com/pytorch/accelerating-pytorch-inference-with-torch-tensorrt-on-gpus-896e06ff1637)
Any tips on how would one implement an `export_trt` to Trainer?

[2022-06-22 10:14] rohitgr7 commented on #13358
just wondering how it will work in case the kwargs states are updated during `trainer.some_call`. For eg. logger, callbacks, etc.

[2022-06-22 10:17] #9883 closed

[2022-06-22 10:32] rohitgr7 commented on #13324
yep, agreed!

[2022-06-22 12:07] justusschock commented on #13358
@rohitgr7 there are two possible options for this:
either we say that this is expected (so we don't care about this) as for example when you call .test on the new trainer, you'd want the checkpointing callback to already have the correct checkpoints for best model etc. from the preceeding training

The second thing would be to reset the original state (could be done for example by dumping an initi

[2022-06-22 13:13] akihironitta commented on #13336
@Keiku I think simply updating the link would suffice as it seems like @Borda restructured it in the current way on purpose.

[2022-06-22 13:17] otaj commented on #13007
Closing as it appears it is solved

[2022-06-22 13:24] Keiku commented on #13336
@akihironitta Do you mean to keep the "MNIST Examples" in `pl_basics/README.md` and change those paths as follows?

* Current command
[code]

* New command
[code]

"MNIST Examples" is duplicated, is that okay?

[2022-06-22 13:34] rohitgr7 commented on #12521
yep @rschireman go ahead. I see a few more assigned to you. Are you working on them too?

[2022-06-22 13:51] rohitgr7 commented on #12521
oh, I didn't see it since it wasn't marked. Go ahead with the next one :)

[2022-06-22 14:21] rasbt opened #13369 "Contributing Guide for Building Docs Doesn't Work Anymore"
The doc building guidelines in the contributor guide don't really work anymore. I think the requirements.txt file needs some updates?

[code]

cc @borda @rohitgr7

[2022-06-22 14:29] krishnakalyan3 commented on #13369
I noticed this today too with @carmocca .

[2022-06-22 15:26] ant-louis opened #13370 "lr_find crashes with Deepspeed"
## 🐛 Bug

When running Trainer.tuner.lr_find using strategy="deepspeed_stage_2",  the procedure fails with following error:
[code]

<details>
    <summary>Full traceback</summary>

[code]
</details>

### To Reproduce

[code]

### Expected behavior

Learning rate finder should work with deepspeed or else raise an exception stating that deepspeed is not supported.

### Environment

* CUDA:
        -

[2022-06-22 15:51] #13203 closed, assigned to HallerPatrick

[2022-06-22 16:09] Atharva-Phatak commented on #12786
@carmocca I would be happy to, I made some mistakes in my last PR and you had to do extra work 😞 . I was a bit hesitant.
Please let me know.

[2022-06-22 16:11] carmocca commented on #12786
Making mistakes is totally fine! We are thorough on reviews to make sure they are fixed before merge, but give it a shot and try doing the changes for another module :heart:

[2022-06-22 16:13] carmocca commented on #13369
This is important to fix as it will impact new contributors looking to fix docs for lightning @Borda

At the moment, the workaround is to run

[code]

[2022-06-22 16:21] carmocca commented on #13358
@justusschock We discussed adding such function in the past. I think it makes sense.

Do you mind writing a proposal in a separate issue about it? Closing this as I don't want to sidetrack the original question.

[2022-06-22 16:21] #13358 closed

[2022-06-22 16:50] NguyenDuyDuc1491995 commented on #13360
The problem is when I train semantic segmentation DeepLabV3 by pytorchlightning
Batch0 =4 is ok, but batch1=1 is error. Because the batch is 1 so there is a problem with batchnorm.

But I used distributed dataloader with sampler in pytorch and I saw it will create batch0=4 and batch1=4 ( it will take 3 more images) so I wonder if I can create a distributed dataloader as same as above in pytorch li

[2022-06-22 16:57] MikeyJL commented on #12119
@tanmoyio have you made any progress with this? Else I'm happy to take this on in the coming week. @akihironitta @tchaton

[2022-06-22 17:21] awaelchli commented on #13360
The distributed sampler has nothing to do with batching. It only ensures that each GPU gets the same amount of samples and since your dataset of 10 images is divisible by 2, that's never a problem.

To avoid uneven batch sizes, just set `drop_last=True` in the dataloader and then you are guaranteed to get the batch size 4 for each batch. This is the same in PyTorch and PL, there should be no diffe

[2022-06-22 19:09] mfoglio commented on #10560
Since learning rate finder can't be used with ddp, what strategy do you suggest to use?

[2022-06-22 19:28] udeepam opened #13372 "Optimiser cannot instantiate using LightningCLI"
## 🐛 Bug

When instantiating the `torch.optim.Adam` optimizer from a YAML config file using the `LightningCLI` I get the following error:
[code]

I have tried using `torch.optim._multi_tensor.adam.Adam` but this also returns a similar error.

### To Reproduce

[code]

Example YAML config
[code]

### Expected behavior

### Environment

- PyTorch Lightning Version: 1.6.4
- PyTorch Version:  1.11.0
-

[2022-06-22 19:43] MirMustafaAli commented on #13369
The issue seems to be in this code snippet.

https://github.com/Lightning-AI/lightning/blob/36dffb888db20819a86f99d502b5ca951e41c37a/requirements/pytorch/docs.txt#L17

where it is trying to find the _requirements.txt_ in __notebooks_ folder, which was empty while creating docs

[2022-06-22 19:48] jessecambon opened #13373 "Trainer.test() hangs when run from python interactive shell with multiple GPUs"
## 🐛 Bug

`Trainer.test()` hangs when run from an interactive shell when the Trainer uses `strategy="ddp"` and `gpus > 1`.

### To Reproduce

Run the python script below from the command line in a >1 GPU environment (`python -i` leaves the python interactive console open after the script completes):

[code]

After the script completes, rerun the Trainer.test() function call at the terminal:

[code

[2022-06-22 20:21] huidiwiwi commented on #5285
Hi rohitgr7, while I am tracking my validation metrics, I would like to use self.log() to log the tracker.best_metric() at the end of all train&validation loops.

[2022-06-22 20:55] Borda commented on #13369
not sure what is the problem you describe, for me this works on master `make docs`...
so it is the case with using the git submodule?

[2022-06-22 21:32] RamtinRassoli opened #13374 "Multiple GPU per node could fail silently with KubeflowEnvironment"
## 🐛 Bug
If the user tries to submit a ddp job to a Kubeflow env with multi-gpu per node by following [multi-GPU docs](https://pytorch-lightning.readthedocs.io/en/1.4.0/advanced/multi_gpu.html#distributed-data-parallel) and passing the right args (`num_nodes` and `devices`) one of the following would happen:
  - `WORLD_SIZE` and `RANK` are set to total number of processes -> the job gets stuck bec

[2022-06-22 23:40] CompRhys opened #13378 "Add `enable_device_summary` flag to disable device printout"
## 🚀 Feature

Add `enable_model_summary` boolean kwarg to `pl.Trainer()` to supress `_log_device_info()`'s output.

### Motivation

When calling predict within a surrogate model loop Trainer prints out the devices each time breaking apart intended tables etc or other outputs. Related to https://github.com/Lightning-AI/lightning/issues/13358 for cleaning-up/reducing stdout verbosity.
[code]

### Pi

[2022-06-23 00:36] ananthsub commented on #13378
I don't think another flag should be added. Why not move the print out to the Trainer constructor so it's only printed once?

[2022-06-23 00:55] #11972 closed

[2022-06-23 02:17] Keiku commented on #13336
@akihironitta With the latest version `1.6.4`, `pytorch_lightning.demos` seems to disappear.

[code]

[2022-06-23 02:35] Keiku commented on #13336
After adding the following, I worked.

[code]

[2022-06-23 03:22] Keiku commented on #13336
I'm making a PR now. Please wait.

[2022-06-23 04:17] #12954 closed

[2022-06-23 04:17] #12894 closed

[2022-06-23 04:17] #12943 closed

[2022-06-23 04:17] #12862 closed

[2022-06-23 04:17] #12910 closed

[2022-06-23 04:17] #12815 closed

[2022-06-23 05:41] #13109 closed

[2022-06-23 05:45] MarcSkovMadsen opened #13381 "Cannot display holoviews plots with Panel in lightning.ai"
Crosspost of https://github.com/holoviz/panel/issues/3643 as I don't know if this is a Panel/HoloViews issue or a lightning.ai issue

## 🐛 Bug

I'm trying to create a Panel+HoloViz crossfiltering example with lightning.ai. I can create other examples. See https://github.com/Lightning-AI/lightning/issues/13335, but the HoloViews one never serves.

### To Reproduce

[code]

`app.py`

[code]

run wit

[2022-06-23 06:20] martinwimpff opened #13382 "WandbLogger increases step within epoch"
## 🐛 Bug

If I log train_loss and val_loss with the WandbLogger it increases the step within the epoch s.t. train_loss is logged on steps (1, 3, 5, ..) and val_loss on steps (0, 2, 4, ..).

### To Reproduce
[Colab with BoringModel](https://colab.research.google.com/drive/188qFlb6Q5ujQ15h1JO0xrwd2YfGw1APN?usp=sharing)

cc @awaelchli @morganmcg1 @AyushExel @borisdayma @scottire @manangoel99

[2022-06-23 07:35] rohitgr7 commented on #5285
then just do?
[code]

[2022-06-23 08:04] huidiwiwi commented on #5285
I want to get a single value instead of a list of values.

[2022-06-23 08:55] lsy643 commented on #13211
@carmocca OK. A new PR https://github.com/Lightning-AI/lightning/pull/13383 is here

[2022-06-23 09:25] rohitgr7 commented on #5285
okay.. you want to log it only once?

then just add a condition so that the log call is made only when the training is completed.
[code]

[2022-06-23 10:03] morganmcg1 commented on #13382
@manangoel99 can probably help here

[2022-06-23 11:34] SeanNaren commented on #10914
Picking this back up as @lucidrains related issue requires EMA.

I think we should include this somewhere ASAP. Bolts would be the easiest landing place for such a callback. Any disagreements @Borda @justusschock? If so I can make an issue to get it into Bolts.

[2022-06-23 11:46] #13058 closed

[2022-06-23 11:49] rohitgr7 commented on #13382
is this happening on the wandb UI? If yes, can you try updating the x-axis to `trainer/global_step`?

[2022-06-23 11:55] Callidior commented on #12670
As far as I know, this issue has not been resolved yet, and it basically breaks the LR finding feature.

[2022-06-23 12:51] akihironitta commented on #12521
@shenoynikhil @nitinramvelraj Thanks for showing your interest in contributing! Let me know if you need help with the ones assigned to you :]

[2022-06-23 14:14] xyangk opened #13389 "Wrong steps per epoch while DDP training"
## 🐛 Bug

I'm using DPP to train a encoder model with 5 GPU nodes, batch_size is 400 pre node,  model will gather all embeddings from 5 nodes to create a 2000*2000 matrix, then compute loss with this matrix.
Each node keeps 2623678 train samples and 491939 val samples, so the steps per epoch shoud be 2623678//400+491939//400 is 7788, BUT, the preocess bar show the steps per epoch is 1556, seems co

[2022-06-23 14:49] awaelchli commented on #13374
If that's the case then we need to change it.

We can make the return value of `creates_processes_externally` dependent on how the user launched the process to detect whether we should spawn additional processes or not. This is how it's done in LightningEnvironment to detect whether LOCAL_RANK was passed as an environment variable. How does that sound?

This works, right?

The main objective for t

[2022-06-23 14:50] awaelchli commented on #13374
@neggert originally contributed this feature, he might have some thoughts too.

[2022-06-23 15:09] manangoel99 commented on #13382
The reason for this issue is that PL has its own `global_step` and wandb has its own internal `step`.
`global_step` is updated at the end of every training step while the wandb `step` is updated every time `self.log` is called.

So if you call `self.log` twice within the same training step, it would lead to the wandb `step` incrementing twice even though the `global_step` is incremented only once.

[2022-06-23 15:16] awaelchli commented on #13378
I'm curious, is there a desire to have verbosity controlled on a more global level, not just the summary here?

[2022-06-23 15:23] xyangk commented on #13389
Yeah, but actually total data size is 15578085, 1/5 of the total dataset is 3115617 (2623678+491939),  total batches is 15578085//400 (which is 38945),  so 7788 shoud be steps per epoch on every node.

[2022-06-23 15:24] CompRhys commented on #13378
I think that between the enable options for model summary and progress bars (making new trainer when needed to adjust) and the possibility to make things `PotentialUserWarnings` you can control pretty much anything apart from this device summary.

A `verbose=int` setup c.f. `sklearn` could work but would be a much bigger change

[2022-06-23 16:28] Erotemic commented on #10894
Is there a strategy for migrating away from these hooks? I've been using them to create a custom logger:

[code]

Am I SOL when 1.8 drops?

[2022-06-23 19:16] hal-314 commented on #10914
@SeanNaren Be aware that #5542 prevents to load automatically EMA weights on validation/testing only (trainer.validate / trainer.test).

On those situations, PL doesn't call `callbacks.on_load_checkpoint`.

To fix it, you will need to use a custom trainer, so you can comment this line https://github.com/Lightning-AI/lightning/blob/master/src/pytorch_lightning/trainer/trainer.py#L1068

[2022-06-23 19:25] SeanNaren commented on #10914
Thanks for the heads up! So for fit it would be fine, just an issue for validate/test? Should see what the level of effort is required to fix this.

[2022-06-23 19:43] akihironitta commented on #2382
@arjunsinghrathore I think you need to call the method on `torch.Tensor` instance of your interest but not on `function`, e.g.

[code]

See usage here: https://pytorch.org/docs/stable/generated/torch.Tensor.clamp.html#torch.Tensor.clamp

[2022-06-23 19:52] arjunsinghrathore commented on #2382
Here I am trying to clamp the weights of the whole model and not a single tensor. Based on the above discussion `self.parameters.clamp(min=0.)` should work but I'm getting an error. If you know some other way for clamping the weights in pytorch lightning then please do share?

[2022-06-23 20:10] akihironitta commented on #2382
@arjunsinghrathore I believe it's wrong then because `self.parameters` within `LightningModule` is reserved by `torch.nn.Module` ([docs](https://pytorch.org/docs/stable/generated/torch.nn.Module.html#torch.nn.Module.parameters)), and it just returns a generator.

If you want to `clamp` the whole parameters in your `LightningModule`, I think you'll need to do the following:

[code]

[2022-06-23 20:18] dobrik4ever opened #13395 "Import Error: cannot import name 'Mapping' from 'collections'"
## 🐛 Bug

On python 3.10.4 got a following error:

### To Reproduce

[code]

### Expected behavior

When importing pl the ImportError raised

- PyTorch Lightning Version: 0.8.5
- Python version: 3.10.4
- OS: Windows 10

[2022-06-23 20:42] akihironitta commented on #13395
@dobrik4ever The version of PyTorch Lightning you're using seems very old. Would you mind updating to the stable release by running `pip install pytorch-lightning -U` and trying it again? Let me know if it resolves this issue.

Please note that, as of now, we are not testing PyTorch Lightning with Python 3.10, but if the problem still persists, it'll be addressed via #9980.

[2022-06-23 20:56] awaelchli commented on #13389
Oh this is a very important detail!!!
In this case, make sure to tell Lightning not to add a distributed sampler, as explained by @rohitgr7.
You can set `Trainer(replace_sampler_ddp=False)`.

Because of the distributed sampler in PyTorch, you wouldn't need to split the dataset manually.

[2022-06-24 00:42] manangoel99 commented on #13163
Hey Guys! Engineer from W&B here! Sorry I'm a little late but I managed to track this down to one line

https://github.com/Lightning-AI/lightning/blob/5572797bc80b564286f111861e3d4b408344ae84/src/pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py#L102

The solution to this is to set `step = self.trainer.global_step`

I'm not entirely sure if this was intentional but I've pus

[2022-06-24 01:31] manangoel99 commented on #13163
Also adding `resume=True` as an argument to your `WandbLogger` initialization might give you much cleaner looking plots!

[2022-06-24 01:34] awaelchli commented on #13395
We no longer have this import statement in the code base. It was changed in #2746 so this should be resolved. As @akihironitta said, the solution is to update lightning to a recent version or to downgrade Python to an older version. I don't see any direct relationship to Python 3.10 incompatibility otherwise.

[2022-06-24 01:34] #13395 closed

[2022-06-24 01:44] xyangk commented on #13389
5 nodes with 1 GPU each

[2022-06-24 01:44] awaelchli commented on #13381
This works for me flawlessly on the latest version of Lightning (the one you posted should be). Screenshot of the running app:

<img width="764" alt="image" src="https://user-images.githubusercontent.com/5495193/175445436-de7cb144-4549-46d5-9e7b-69601825e959.png">

It takes 1-2 secs for it to become visible on the UI after the spinner. Perhaps you need to manually reload the page?
Could you check

[2022-06-24 02:00] awaelchli commented on #13347
Hello

What is your suggestion concretely?

The only other way I know is through `sys.version_info`. Could you check on your system with python 3.9-dev that the comparison `sys.version_info >= (3, 8)` holds true? If so, we can update it to use that.

[2022-06-24 02:08] xyangk commented on #13389
Thank you guys, it works! 👍 Seems I didn't get the point of DDP, especially distributed sampler.

[2022-06-24 03:18] awaelchli commented on #13389
Awesome! Glad this was a relatively easy fix :)
Let us know if there are further questions.

[2022-06-24 03:18] #13389 closed

[2022-06-24 05:13] martinwimpff commented on #13382
Thanks guys!

[2022-06-24 05:13] #13382 closed

[2022-06-24 05:35] himanshucodz55 opened #13400 "RuntimeError: NCCL error in: /opt/conda/conda-bld/pytorch_1639180549130/work/torch/csrc/distributed/c10d/ProcessGroupNCCL.cpp:957, unhandled system error, NCCL version 21.0.3"
## 🐛 Bug

I am trying to train model in distributed mode using espnet2 librispeech recipe. but it's failed after few minutes. using two oracle instance with single gpu.

### error after running the code

[code]

### Expected behavior

### code is running using conda enviournment and pytorch.

## script that i have used...
running stage 11 of espnet2 librispeech recipe...

[code]

- PyTorch Version

[2022-06-24 05:37] MarcSkovMadsen commented on #13381
I'm on Windows. Could that make a difference.

The 1 min video below shows how it looks and that it never starts. My fan goes crazy while the server is running. So something is happening.

https://user-images.githubusercontent.com/42288570/175469514-7466e2c7-a2d7-431b-bfb5-73511ba8d605.mp4

[2022-06-24 05:42] MarcSkovMadsen commented on #13381
I don't see any errors in the browsers console either

![image](https://user-images.githubusercontent.com/42288570/175470114-faa2185c-6045-4f0b-9042-a2e00f0a51a9.png)

[2022-06-24 06:04] MarcSkovMadsen commented on #13381
I would like to try out running it in Docker to see it working on Linux at least.

`Dockerfile`

[code]

[code]

How do I run the app on the address `0.0.0.0` instead of `127.0.0.1` to be able to access the app?

[2022-06-24 06:14] MarcSkovMadsen commented on #13381
I can see that the function `page_crossfilter` starts running infinetely if I add a `print` statement

[code]

[code]

https://user-images.githubusercontent.com/42288570/175474108-0fd33a2f-46dc-4654-ba82-fd01521c170d.mp4

[2022-06-24 06:46] MarcSkovMadsen commented on #13381
Could it be @awaelchli that the lightning server requests a response from the Panel server, and that response is not coming as fast as anticipated, then it requests a response again and continues like that forever?

If I run the panel server in a separate process like below via `Popen` I would expect the server to run more independent on the lightning ai code. There should be no problems with thre

[2022-06-24 07:05] NguyenDuyDuc1491995 commented on #13360
ok, thanks

[2022-06-24 09:18] NguyenDuyDuc1491995 opened #13401 "Using TorchScript To Deploy A Pytorch_lightning Module"
Hi, I make a simple example and get a trouble. I can not use internet at my workplace so I write it down. If there is any writing errors, ignore them.

[code]

Run it and the trouble is: " RuntimeError, ............." ....

Please, try it and help me.
Thanks

[2022-06-24 10:58] SeanNaren opened #13402 "Batch Size Finder: Allow datamodule to decide fate when OOM thrown with new hook"
## 🚀 Feature

Related #10243 (PR did not get to the finish line).

### Motivation

After speaking to "Harry" on the Lightning Slack channel, we came up with some improvements that can be made to the batch size finder. This spawned from a discussion around automatic accumulation in real-time, but ended up being closer to the developer experience when using the batch size finder before training.

##

[2022-06-24 11:41] vedal commented on #2189
+1

[2022-06-24 12:50] mogwai commented on #13402
I think this would also require some documentation on when and why you might want to override this method in the docs with a link in sections mentioning batch_finding flags?

[2022-06-24 13:11] akihironitta commented on #12521
Hi @nitinramvelraj Thanks for asking! Let's discuss your issue via PyTorch Lightning Slack! My username there is the same as my GitHub username @akihironitta. Please DM me on Slack :) (You can join our Slack via https://pytorchlightning.ai/community if you haven't)

[2022-06-24 13:21] justusschock commented on #13402
If this becomes a hook in the DM, it should probably also be part of the LM, as you can also user LM hooks to define the loaders

[2022-06-24 13:54] jessecambon commented on #13373
@awaelchli, thanks I wasn't aware of the limitations around interactive shells.  `hasattr(sys, "ps1")` returns `True` if placed within the script and `False` if run in the interactive terminal after the script finishes. Also, just to clarify - I'm not using a jupyter notebook for this, just a terminal.

One follow up question - on my [follow up example](https://github.com/Lightning-AI/lightning/is

[2022-06-24 15:37] hal-314 commented on #10914
Validation and test sure. Finetune, I don't think so although I didn't check

[2022-06-24 16:58] CompRhys commented on #13378
Happy for me to change the associated PR to be reviewed?

[2022-06-24 18:07] bryanbo-cao commented on #4666
Try
model.load_state_dict(checkpoint['state_dict'], **strict=False**)
?
https://stackoverflow.com/questions/54058256/runtimeerror-errors-in-loading-state-dict-for-resnet

[2022-06-24 19:28] paantya commented on #13324
seems to be the optimal solution in this case)
I would also suggest to support the datetime format

[2022-06-24 19:29] paantya commented on #13324
*datetime objects

[2022-06-24 21:13] RamtinRassoli commented on #13374
PytorchJob operator sets the WORLD_SIZE to the total number of replicas by default ([here](https://github.com/kubeflow/pytorch-operator/blob/4aeb6503162465766476519339d3285f75ffe03e/pkg/controller.v1/pytorch/pod.go#L269) and [here](https://github.com/kubeflow/community/blob/master/proposals/pytorch-operator-proposal.md#resulting-master)) which is different from what torch and lightning expect. So

[2022-06-25 04:19] MarcSkovMadsen opened #13406 "Cannot get access to Slack"
## 🐛 Bug

I cannot get access to Slack. I would like to join.

### To Reproduce

1. Click the link https://pytorch-lightning.slack.com/signup#/domain-signup
2. Click *Continue with Google"

### Expected behavior

I would expect to be able to join.

Instead I cannot because `...@gmail.com` is not a valid domain.

![image](https://user-images.githubusercontent.com/42288570/175757733-eb9578d6-06a9-43

[2022-06-25 07:24] MarcSkovMadsen opened #13407 "Enable me to ignore or solve self signed certificate issue"
## 🚀 Feature

Enable me to install or ignore certificates

### Motivation

I'm on windows in an enterprise environment. I cannot `lightning run app app.py --cloud` because I get errors like below.

[code]

cc @borda

[2022-06-25 14:08] philippjfr commented on #13335
What would be the best way for me to help out here? I really would love to see official support here and am happy to contribute to make that happen.

[2022-06-25 14:37] akihironitta commented on #12521
Hi @nitinramvelraj! Sorry for the delay. Could you try this link?
https://join.slack.com/t/pytorch-lightning/shared_invite/zt-1b6lkirxt-9b3ehI0P_31YIqQ4_Dum1A

(The link in the https://pytorchlightning.ai/community will be updated to this new link shortly.)

[2022-06-25 14:39] akihironitta commented on #13406
@MarcSkovMadsen Thank you for reporting this issue. Could you try this new link?
https://join.slack.com/t/pytorch-lightning/shared_invite/zt-1b6lkirxt-9b3ehI0P_31YIqQ4_Dum1A

The old link in the following web pages will be updated shortly:
- https://pytorchlightning.ai/community
- https://lightning.ai/

Let us know if there're any other places where we need to update the link.

[2022-06-25 15:28] MarcSkovMadsen commented on #13335
Hi @philippjfr

Seen from the Panel perspective you could 1) Check out the status list I've added to the initial post 2) Explore the repository https://github.com/marcskovmadsen/awesome-panel-lightning to get a basic understanding an try to deploy you own app 3) Think about whether we can/ should solve the "slow" first response on the Panel side. Right now I use `pn.state.onload` to speed up the f

[2022-06-25 15:54] williamFalcon commented on #13335
@lantiga @tchaton can we help land this? very excited to support this integration @philippjfr!

[2022-06-25 18:26] akihironitta commented on #13400
@himanshucodz55 I don't see your error related to PyTorch Lightning. Could you elaborate more if you think it's relevant?

[2022-06-25 18:32] akihironitta commented on #13401
@NguyenDuyDuc1491995 Could you provide your complete error message?

(For future questions, please use GitHub Discussions instead of GitHub issues: https://github.com/Lightning-AI/lightning/discussions)

[2022-06-25 18:49] MarcSkovMadsen commented on #13335
Tomorrow I would like to try wrapping the "view" function such that the first response is light and fast and the following are given by the "view" function.

[2022-06-25 19:49] BraveDistribution commented on #13163
I am verifying this workaround, will let you know whether it's enough.

[2022-06-25 20:00] #13406 closed

[2022-06-25 20:31] MarcSkovMadsen commented on #13335
I've tried out wrapping the `page` function like below.

[code]

And this works around the problem in this issue by providing a fast enough first response @philippjfr .

[2022-06-26 07:43] NguyenDuyDuc1995 commented on #13401
1. Ok, thanks. I will use GitHub Discussions next time.
2. This is my full code:

import pytorch_lightning
import torchvision

class SimpleModel(pytorch_lightning.LightningModule):
    def __init__(self):
        super().__init__()
        self.model = torchvision.models.detection.fasterrcnn_resnet50_fpn(pretrained=False, pretrained_backbone=False)
    def forward(self, inputs):
        outputs =

[2022-06-26 08:08] ItamarKanter commented on #11043
Any update on this issue?
I'm experiencing the same problem when using `comet` logger and `RichProgressBar`

[2022-06-26 12:12] styler00dollar opened #13411 "ModelPruning results in "AttributeError: 'int' object has no attribute 'is_cuda'""
## 🐛 Bug

I tried to use `ModelPruning("l1_unstructured", amount=0.2)` [like the documention showed as an example](https://pytorch-lightning.readthedocs.io/en/stable/advanced/pruning_quantization.html), but it seems to crash with my code.

I hope a full traceback is enough since my training code is quite big.

[code]

[code]

### Expected behavior

It should not crash. It crashes after one epoch.

[2022-06-26 14:55] MarcSkovMadsen commented on #13335
I got the `bokeh.application.handlers.coder_runner.CodeRunner` patched. I've refactored my code into something more reuseable.

https://github.com/MarcSkovMadsen/awesome-panel-lightning/blob/6fb9588d5f4a8350dbc88ee9fc7ffaa8911aaa19/panel_lightning.py

It will send a fast first response no matter whether the page view is from a function or a file.

[2022-06-26 16:14] BraveDistribution commented on #13163
Workaround didn't help. I still get the same ridiculous charts:

<img width="373" alt="image" src="https://user-images.githubusercontent.com/36101458/175823602-ced747cc-148a-46a6-90c2-a3db05dcad04.png">

[2022-06-26 17:02] espoirMur commented on #4450
Same issue here.. I think, for my the process stop. I am having a batch size of 1 and only 4 instance..

[2022-06-26 19:18] GF-Huang commented on #9636
So, how to `fit` multiple times? First I train it 5 epochs, then it finish but I think it's not enough (loss still high), I want to fit more epochs.

[2022-06-26 20:11] awaelchli commented on #13373
That's not good, it is completely backward. It should be the other way around. I tested this too with a dummy script and printed `hasattr(sys, "ps1")`, it definitely returns False when launched with `python -i myscript.py` which is expected.

I'm not sure if the follow up use case is valid with deepspeed. One should probably let the second process die off or destroy the process group to continue o

[2022-06-26 20:35] jessecambon commented on #13373
My mistake, reverse what I said above. `hasattr(sys, "ps1")` was False within the script and True when run in the interactive terminal after the script completed (ie. what you would expect).

[2022-06-27 03:32] awaelchli commented on #13400
@himanshucodz55 Could you report this issue on https://github.com/espnet/espnet please? Closing this, as espnet2 is not using PyTorch Lightning. There must have been a confusion.

[2022-06-27 03:32] #13400 closed

[2022-06-27 03:37] awaelchli commented on #13407
@hhsecond Do you understand what is meant here? Is it possible for us to provide options here?

[2022-06-27 03:55] awaelchli commented on #13374
@RamtinRassoli That's great. Could you quickly look over this original PR to check whether we are still covering the use case that @neggert had with PyTorchJob? I'm not an expert on these.

I don't understand exactly what

means. In the case where processes get launched externally, why would we let the strategy set the ranks differently? Is this about single node vs multi-node like in the regular

[2022-06-27 04:11] awaelchli commented on #13378
@CompRhys thanks for the PR. Since this is adding a flag to the core API in Trainer, we need to discuss it with the core team @Lightning-AI/core-lightning and get some more opinions.

I think there are also a few options we haven't explored yet.

1. Once could move the device logs to a configurable callback like the model summary or trainer summary.
2. Let the messages be more easily filtered thro

[2022-06-27 08:30] YerePhy commented on #839
Hi, I would like how is the KFold feature state in Lightning since I am really interested but the example provided in the official [documentation](https://pytorch-lightning.readthedocs.io/en/stable/extensions/loops.html#built-in-loops) is no longer available

[2022-06-27 08:31] tchaton commented on #13381
Hey @MarcSkovMadsen.

Wow ! Awesome work with https://github.com/MarcSkovMadsen/awesome-panel-lightning.
In order to fix this bug, we need to increase the timeout here to 0.5: https://github.com/Lightning-AI/lightning/blob/15b64cf8bac457e47a19102dd8152ddfb1821b72/src/lightning_app/utilities/network.py#L51.

We are in the process of migrating the internal repo to the public, so it might take us an

[2022-06-27 08:35] tchaton commented on #839
Hey @YerePhy

To my knowledge, the best version of KFold is this repo: https://github.com/SkafteNicki/pl_cross.

Best,
T.C

[2022-06-27 08:42] YerePhy commented on #839
Thanks @tchaton, looks great, I will give a try for sure.

[2022-06-27 09:00] rohitgr7 commented on #13378
3. Introduce a verbose flag to control messaging through Trainer more generally (e.g. fastdevrun infos)

these 2 seem better sol. I'd prefer 3 if there are more logs we could configure.

[2022-06-27 09:23] justusschock commented on #13378
I'd prefer a combination of 1. and 2.

IMO it really is not necessary to be able to have that baked into the core trainer (same as model summary was not necessary).

And having it more easily filtered would also be great (I tried to forward the streams to something else to just avoid the prints and that also didn't work).

[2022-06-27 09:49] justusschock commented on #13324
@paantya I wouldn't do that, tbh. This would look like we allow validation only on a certain date (error-prone if you want to rerun tests). I'd advocate for the 3 options provided by @awaelchli (maybe together with what is described [here](https://docs.python.org/3/library/datetime.html#datetime.time.isoformat) as isoformat, but for that I am not sure about that

[2022-06-27 11:26] hhsecond commented on #13407
Hi @MarcSkovMadsen, We don't currently allow to ignore the verification but could you try setting the env variable `REQUESTS_CA_BUNDLE` and `SSL_CERT_FILE` to point to your private certificate authority, or a specific certificate bundle

[2022-06-27 15:40] awaelchli commented on #13347
Would you be open to submit a PR with a fix?

[2022-06-27 15:49] awaelchli commented on #13179
Let's remove the refresh and rely on the previous implementation.
Maybe a test that counts the refresh calls could be useful for the future.

[2022-06-27 17:23] martinosorb commented on #13347
The correct way seems to be `(sys.version_info.major, sys.version_info.minor) >= (3, 8)` (per comments [here](https://stackoverflow.com/questions/68978170/how-to-compare-python-version-against-sys-version-info)).

Will try it out.

[2022-06-27 17:53] martinosorb commented on #13347
See PR. I could only run standalone tests.

[2022-06-27 23:01] shantam-8 commented on #12521
Hello @akihironitta, can I please take `pytorch_lightning.core.decorators.parameter_validation`?

[2022-06-28 08:09] awaelchli opened #13425 "translate_boto_error, permission error when using lightning storage Drive put()"
## 🐛 Bug

Uploading a file with `Drive.put()` results in a permission error. The error does not say exactly why this happened.

### To Reproduce

[code]

Run as

[code]

Output logs and error:
[code]

### Expected behavior

Files get uploaded. The same code works if we switch to lightning.storage.Path:

[code]

### Environment

- PyTorch Lightning Version (e.g., 1.5.0): Lightning apps master (ligh

[2022-06-28 08:10] awaelchli commented on #13425
@tchaton have you seen this error before?

[2022-06-28 11:21] awaelchli commented on #13324
Found this was already requested a while back :) #9463

[2022-06-28 12:02] Riccorl opened #13431 "Trying to create tensor with negative dimension with `ddp_sharded`"
## 🐛 Bug

I'm trying to fine-tune a Transformer model (XLM-R) on multi-gpu, using the `ddp_sharded` strategy. The train works, but at the end of the first epoch I got this error

[code]

I'm running the latest PyTorch Lightning, PyTorch 1.10, and I'm using two V100 on a Power9 based architecture. I've tried both with 16bit and 32bit precision. The optimizer I'm using is RAdam, from PyTorch.

I can

[2022-06-28 12:50] rohitgr7 commented on #12521
hey @shantam-8 ! please go ahead with a PR !!

[2022-06-28 13:11] JanuszL commented on #12956
https://github.com/NVIDIA/DALI/pull/3923 has been merged. It should be available in the next nightly build (tomorrow at earliest) and DALI 1.16.

[2022-06-28 14:45] rohitgr7 opened #13434 "`raise_exception=False` doesn't work with `parallel=False` within `LightningWork`"
## 🐛 Bug

See title.

As discussed with @tchaton, the reason is that if the `LightningWork` is blocking, the framework tries to re-run it.

The below example doesn't execute the print statement.
My real-usecase: I am using a BQ component that is currently blocking (and I cannot make it non-blocking due to some limitations within the framework) and if the bq components raises an exception, I need t

[2022-06-28 15:55] rasbt commented on #13425
Can confirm, I encounter this issue, too!

[2022-06-28 16:16] paantya commented on #11538
Please add somewhere in the Lightning or bolt an example of how to use the Lightning in conjunction with FFCV

[2022-06-28 18:28] ekagra-ranjan opened #13436 "Outdated Starter Template: 'Rapid prototyping - general' colab example"
## 📚 Documentation

Following snippets in `Rapid prototyping - general 1.ipynb` and ``Rapid prototyping - general 2.ipynb`` are outdated in [this page](https://pytorch-lightning.readthedocs.io/en/stable/starter/introduction.html):

[code]

[code]

[code]

I don't think contributors that are not part of Lightning org can raise a PR to change colab notebooks hence raising an issue here.

___________

[2022-06-29 05:00] tchaton commented on #13425
Hey @awaelchli Can you try without Path.cwd(), everything should be relative.

[2022-06-29 09:29] YerePhy commented on #839
Hey, `pl_cross` is not maintained and there are some issues with >=1.6... the example of KFold is no longer available in the official documentation of Loops API... will this feature be implemented anytime soon? It would be very very helpful for the medical imaging community!

[2022-06-29 09:55] hhsecond commented on #13407
@MarcSkovMadsen Can you confirm if this solved your issue?

[2022-06-29 13:03] carmocca commented on #13411
Can you try and reproduce it by adapting this script?: https://github.com/Lightning-AI/lightning/blob/master/examples/pl_bug_report/bug_report_model.py

The cause might be an unwanted interaction between the `QuantizationAwareTraining` and `ModelPruning` callbacks.

[2022-06-29 15:05] alealv opened #13444 "Data is not moved to the correct device"
## 🐛 Bug

Hi
I have a model which requires some _Data dependent Initialization_ (DDI). It only needs one example to configure correct starting weights for a certain layer. For that I have set the following hook in my LightningModule:

[code]

This was working fine in version 1.5 but it's now broken in version 1.6. I get:

[code]

Debugging I found that data is on device `-1` which actually means a

[2022-06-29 15:06] #12584 closed

[2022-06-29 15:18] #13336 closed

[2022-06-29 15:25] otaj opened #13445 "Improve typing coverage (4/n)"
## 🚀 Typing coverage

Let's improve typing coverage of PyTorch Lightning together!

I'm creating a new issue in order to increase visibility. There are three older issues (#7037, #5023, #4698) which became stale over time.

### Plan

Currently, there are 55 files which are excluded from mypy checks so that our CI does not fail. These files vastly differ in difficulty in order to make the typing co

[2022-06-29 15:27] otaj commented on #7037
@kingjuno, you're more than welcome to help! We are closing this issue in favor of #13445  in order to promote better visibility, please feel free to comment there.

[2022-06-29 15:27] #7037 closed

[2022-06-29 16:18] awaelchli commented on #13444
Since you are accessing the raw dataloader manually yourself, you need to move the data to the right device when you iterate over it. So here in your code example:

[code]

Yes, on a regular nn.Module this is not defined. You can only access it on a LightningModule.

[2022-06-29 16:51] awaelchli commented on #8230
I'm experimenting with support for fork here if you want to take a look: #13405
The main motivation there was to bring back support for multi-GPU in Jupyter as an alternative to DP.

[2022-06-29 17:16] carmocca commented on #13378
Today, it can be silenced by doing this:

[code]

I find the callback idea (1) a bit overkill.
With (2) we can improve the above, maybe by using a Trainer logger instead of the rank zero logger.
(3) seems like it has a larger scope. It would be interesting to see what are your concrete ideas. But for the device info message in particular, we've always agreed that it should be shown and not just wh

[2022-06-29 17:16] JustinGoheen commented on #13445
@otaj I can take:

- [ ] pytorch_lightning/loggers/base.py
- [ ] pytorch_lightning/loggers/csv_logs.py
- [ ] pytorch_lightning/loggers/logger.py

[2022-06-29 17:18] #12665 closed

[2022-06-29 17:19] carmocca commented on #13445
A recommendation for contributors: Unless a file requires <10 lines of fixes, I strongly suggest you work on separate PRs per file if possible. Sometimes mypy requires you to update the typing annotations for a different file, but it does not mean you need to completely annotate all modified files.

[2022-06-29 17:34] #13347 closed

[2022-06-29 19:09] #13316 closed

[2022-06-29 19:21] otaj commented on #13445
@barufa Thank you very much, added you to the list!

[2022-06-29 19:25] aleSuglia commented on #11242
We're still experiencing this issue. Why isn't possible to log in the `validation_epoch_end`?

[2022-06-29 19:31] awaelchli commented on #11242
Could you try to set `num_sanity_val_steps=False` and see if it resolves the issue?
Also remove the `if self.trainer.is_global_zero` and `rank_zero_only=True` call. Only guard your `calc_something(collected)` with that and avoid any distributed calls in `calc_something`.

[2022-06-29 22:42] #12698 closed

[2022-06-29 22:46] #13180 closed

[2022-06-29 23:00] akihironitta commented on #13179
@awaelchli Thank you for your suggestion! While it sounds reasonable, I'm slightly in favor of doing nothing here because:

1. it is a tiny fraction of time compared to the whole execution time,
2. users will disable the progress bar anyway when they really care about performance, and
3. removing the `refresh` call reduces smoothness of the progress bar (as I checked in my branch https://github.co

[2022-06-29 23:02] awaelchli commented on #13179
I tried to verify this earlier but could not find any noticable difference. The refresh rate should be controlled by our parameter  `refresh_rate` and not do more refreshes than requested. So I don't understand what this refresh call does. Do you have any additional insight here?

[2022-06-29 23:22] awaelchli commented on #13179
How small is tiny? Given your numbers here

12.62 - 9.17 = 3.45
3.45 / 9.17 = 0.376

This is 37% slower! Or in other words slower by a factor of 9.17 / 12.62 = 0.72

Our current GPU CI runs for roughly 1 hour (it is actually insane!!!).
The upper bound on savings here would be 60 * 0.72 = 16.9 minutes.

I would argue this is not bad considering that our testing relies so heavily on training boring

[2022-06-29 23:48] akihironitta commented on #13179
I've just tried to reproduce the difference which I saw a few weeks ago, but I haven't managed to do so... 😅 I can't remember how I checked the behaviour in the past, so I think we can go with your suggestion!

I thought it was tiny because other factors (tensor operations, io, etc.) are more dominant by far usually, and a few seconds slowness for `max_epochs=100` isn't the worst, but I see your p

[2022-06-30 00:07] awaelchli commented on #13179
It looks like maybe it is not the progress bar refresh that is causing the slowdown. The CI does not seem to be affected. Compare
[refresh removed](https://dev.azure.com/Lightning-AI/lightning/_build/results?buildId=77160&view=logs&j=3f274fac-2e11-54ca-487e-194c91f3ae9f)
[master](https://dev.azure.com/Lightning-AI/lightning/_build/results?buildId=76921&view=logs&j=3f274fac-2e11-54ca-487e-194c91f3a

[2022-06-30 00:55] #13211 closed

[2022-06-30 03:05] awaelchli commented on #10294
It's odd though, considering strategies like ddp spawn. What would be the expected behavior there? We would need to move the model from cpu->gpu/tpu in the main process? If we don't do it, there would be a discrepancy, as for some strategies the model would remain on cpu, for others on gpu. This then requires the user to explicitly check for this, as the code will not necessarily be strategy agnos

[2022-06-30 05:25] wderekjones commented on #12724
I'm getting a similar problem with 1.6.4 FYI

[2022-06-30 05:55] donlapark commented on #13445
I would like to contribute as well. I can take `pytorch_lightning/tuner/lr_finder.py`.

[2022-06-30 06:31] rohitgr7 commented on #12724
@wderekjones can you share a reproducible example?

[2022-06-30 07:03] otaj commented on #13445
@donlapark thank you as well. Added to the list:)

[2022-06-30 07:58] awaelchli commented on #13373
In this case everything makes sense now. The reason why the errors are not shown is because `python -i` initially just runs as a regular script, so the two trainers that get instantiated correctly validate that using the strategy is allowed. However, once the script finishes, Python switches into interactive mode. The second trainer is still there and successfully instantiated, ready to be used wi

[2022-06-30 08:34] rohitgr7 commented on #13436
they are removed from latest docs. You can try out the autoencoder example herE: https://github.com/Lightning-AI/lightning/tree/master/examples/pl_basics

[2022-06-30 08:36] rohitgr7 commented on #13444
or rather just use
[code]
while will handle more types such as dict in case you have that.

[2022-06-30 10:07] #6504 closed

[2022-06-30 10:45] rohitgr7 commented on #13324
just fyi! If we do this, we might need to change how the progress bar works when `val_check_interval` is set because we need to know in prior how many batches are going to be processed in total for the main progress bar considering the current behavior.

[2022-06-30 11:58] alealv commented on #13444
Cool, thanks for all the answers! It seems that I got confused, the answer is very clear now.

I modified the code like this and its working

[code]

Although, I have another doubt now about `dataloader_idx`. Are all dataloaders store in some iterable inside the DataModule, hence we need an index? What's the appropriate value? I don't find documentation very clear about it.

`dataloader_idx ([int]

[2022-06-30 12:00] CyprienRicque opened #13468 "test rule in Makefile not working"
## 🐛 Bug

```make test``` throw an error when running command: ```python -m coverage run --source pytorch_lightning -m pytest pytorch_lightning tests -v```

Makefile test rule failing:
[code]

Error:

[code]

### To Reproduce

To reproduce, follow the Readme.md in ```tests/``` folder:

[code]

### Expected behavior

The test should start to run as it happens with this command
```python -m coverage

[2022-06-30 13:13] puhuk commented on #13445
I will take `pytorch_lightning/distributed/dist.py`

[2022-06-30 13:20] otaj commented on #13445
@puhuk Thank you very much! You were added to the list!

[2022-06-30 15:11] #13444 closed, assigned to nobody

[2022-06-30 15:44] Cyprien-Ricque commented on #13445
Hello! I can work on:
- ```pytorch_lightning/__setup__.py```
- ```pytorch_lightning/strategies/single_device.py```
- ```pytorch_lightning/strategies/strategy.py```

[2022-06-30 15:47] otaj commented on #13445
@Cyprien-Ricque Awesome, thanks! Added your reservations to the master comment.

[2022-06-30 16:03] lucidrains commented on #10914
yeah, so i'm trying to figure out whether this issue is a blocker to using lightning for a project

the project involves a model containing multiple subnetworks. during training, each subnetwork has an EMA versioned that is updated every so number of training steps (say 10)

on validation time, i need to be able to call all the EMAed versions of all the subnetworks sequentially. this does not have

[2022-06-30 16:37] gautierdag commented on #13445
Hi!
Just did a quick PR for `pytorch_lightning/trainer/optimizers.py` here: https://github.com/Lightning-AI/lightning/pull/13470

[2022-06-30 17:12] alealv opened #13471 "is_last_batch isn't documented"
Hi, I see that `is_last_batch` trainer property isn't documented in https://pytorch-lightning.readthedocs.io/en/stable/common/trainer.html#properties.

I was lucky to find it [here](https://pytorch-lightning.readthedocs.io/en/stable/common/optimization.html#manual-optimization).

I feel it would be helpful to have all properties listed there.

Thanks.

cc @borda @rohitgr7 @akihironitta

[2022-06-30 17:13] carmocca commented on #13179
Looking at the `tqdm.update` implementation, they have logic to automatically refresh the bar, so perhaps it is a good idea that we remove our manual refresh call.

https://github.com/tqdm/tqdm/blob/4f208e72552c4d916aa4fe6a955349ee8b2ed353/tqdm/std.py#L1256

[2022-06-30 17:22] carmocca commented on #13411
A reproducible notebook would definitely help.

[2022-06-30 17:37] carmocca commented on #13471
Thanks for the suggestion. Would you like to open a PR adding it?

You can modify this file https://github.com/Lightning-AI/lightning/blob/master/docs/source-pytorch/common/trainer.rst and perhaps add a docstring for it here: https://github.com/Lightning-AI/lightning/blob/dd9fad42d5cfdd7b9f4ab8a84c13794f0bb58ff4/src/pytorch_lightning/trainer/trainer.py#L2577

[2022-06-30 18:45] wderekjones commented on #12724
@rohitgr7 I'll mention that I did manage to solve this issue by implementing `validation_epoch_end` and then doing the logging of 'val_loss' within that step. this was in distributed data parallel mode with version 1.5.10 after I attempted @amorehead solution to rollback from 1.6.x. I'm pretty sure this also affected the non-ddp CPU only case.

[2022-06-30 20:02] carmocca commented on #12956
Thanks @JanuszL. I just tried installing nightly (`nvidia-dali-nightly-cuda110==1.16.0.dev20220622`) and running the snippet in https://github.com/Lightning-AI/lightning/issues/12956#issuecomment-1132019916 but the output has not changed. What do users need to set? I didn't find this `mode="iter"` argument you mentioned before.

[2022-06-30 20:12] JanuszL commented on #12956
Hi @carmocca,

It was merged two days ago and you need the nightly build that is no older than 20220628. However, due to other problems the nightly builds have been failing for a couple of days, I hope it will be available soon.
After the internal team discussion we decided that there is no need for an additional iterator mode and just any `iter()` call on the DALI FW iterator should attempt to re

[2022-06-30 20:49] awaelchli commented on #12786
We started doing this for deepspeed in a different way than proposed here, but actually we haven't really solved the problem this way.

We still have `_X_AVAILALBE = _RequirementAvailable("x")` which gets evaluated immediately on module import! The proposal here is to evaluate completely lazily everywhere. So I'm suggesting not to move forward with the started approach as this would only shift the

[2022-06-30 21:14] samdona14 commented on #13355
I am having the same issue:
`model = BartForConditionalGeneration.from_pretrained("facebook/bart-base")`
`trainer = pl.Trainer(accelerator="gpu", devices=1,check_val_every_n_epoch=1, max_epochs=5)`

TypeError: Unwrapping the module did not yield a `LightningModule`, got <class 'transformers.models.bart.modeling_bart.BartForConditionalGeneration'> instead.

[2022-06-30 21:16] ashesh-0 commented on #4956
The code presented in the first comment does not work for me. I'm using mixed precision with pytorch_lightning `1.5.5`.  `self.zero_grad()` present in the function written above  `on_after_backward` is somehow causing the loss to explode.  When I comment `self.zero_grad()` out, even though I get `inf` gradients, the training converges. I know the gradients are `inf` since I've added the print stat

[2022-06-30 23:23] Atharva-Phatak commented on #12786
@awaelchli Thank you for the sample PR. It seems you moved the wandb import checks to the wandb file itself ? Is that how the refactoring is needed ?

Please let me know :)

[2022-06-30 23:37] carmocca commented on #10894
Have you tried the `setup` hook?

[2022-07-01 01:51] whlteXbread commented on #1615
@ma-batita I am guessing you've found your answer by now, but if not (and for anybody else), the docs explain this pretty clearly here: https://pytorch-lightning.readthedocs.io/en/latest/advanced/training_tricks.html#batch-size-finder

[2022-07-01 03:07] akihironitta commented on #12997
@tanmoyio Are you suggesting enabling TF32 by default in PL? If so, I am opposed to the suggestion due to the issues stated in [this post](https://dev-discuss.pytorch.org/t/pytorch-and-tensorfloat32/504). Even if we raised the warning, I'd still be opposed to it because users may miss the warning or may be too busy to understand it. As the description proposes, I believe we should respect the defa

[2022-07-01 03:56] awaelchli commented on #13355
You are not by any chance trying to call Trainer.fit() with something not a LightningModule? Because that's not valid. The BartForConditionalGeneration you have here seems to be directly the model from huggingface transformers but that's not a LightningModule.

Here is a simple repro that produces the same error:

[code]

So the fix here for us is to update the error messaging, so that it is clear

[2022-07-01 04:53] awaelchli commented on #11025
@kaushikb11 we are now already removing the old methods and completing the deprecation cycle in #13458. Sorry we couldn't discuss more or do something here, but I think it wasn't really a major issue for any of the few users that did use the custom environments.

[2022-07-01 07:14] ar90n commented on #13445
Hi! I want to take the followings.

* pytorch_lightning/callbacks/finetuning.py
* pytorch_lightning/tuner/batch_size_scaling.py

[2022-07-01 07:27] otaj commented on #13445
@gautierdag , thank you! I saw it was a fairly small PR, so it doesn't matter much, but we would still prefer in the future if you reserve it as to avoid collisions with other people who might already start working on that. But anyway, thank you :)

@ar90n, you were also added to the list, thank you :)

[2022-07-01 08:06] tchaton opened #13480 "Add Inference support to PyTorch Lightning"
## 🚀 Feature

From my current investigation, it seems TorchServe has matured and it is now the default Server used within Sagemaker AWS PyTorch Image.

Until now, PyTorch Lightning has offered very limited support for serving and the transition from training to production has been quite challenging for many users.

This issue is meant to start a conversation on how PyTorch Lightning can smooth the

[2022-07-01 08:37] gautierdag commented on #13445
@otaj I'll try to take on `pytorch_lightning/loggers/wandb.py`

[2022-07-01 08:54] otaj commented on #13445
@gautierdag, perfectthank you, added to the list!

[2022-07-01 09:19] lanlanlan3 opened #13484 "load_from_checkpoint has different validation results"
when save ckpt, it has some metrics like val_acc=0.77.
but when load_from_checkpoint, trainer.validate(model), I got val_acc=0.02

code：
from main_pl import LitModel
ckpt_path = '...val_acc=0.77.ckpt'
model = LitModel.load_from_checkpoint(ckpt_path)
'''model.eval()'''
trainer = Trainer(gpus=-1)
'''or trainer = Trainer(gpus=-1, resume_from_checkpoint=ckpt_path)'''
trainer.validate(model) # val_acc=

[2022-07-01 09:19] lanlanlan3 opened #13485 "load_from_checkpoint has different validation results"
when save ckpt, it has some metrics like val_acc=0.77.
but when load_from_checkpoint, trainer.validate(model), I got val_acc=0.02

code：
from main_pl import LitModel
ckpt_path = '...val_acc=0.77.ckpt'
model = LitModel.load_from_checkpoint(ckpt_path)
'''model.eval()'''
trainer = Trainer(gpus=-1)
'''or trainer = Trainer(gpus=-1, resume_from_checkpoint=ckpt_path)'''
trainer.validate(model) # val_acc=

[2022-07-01 10:45] justusschock commented on #12786
@awaelchli I use the following pattern for those things: https://gist.github.com/justusschock/4146685578c995d9ac89c58eb10ae898

Works pretty well for me. Feel free to reuse it :)

[2022-07-01 10:51] justusschock commented on #13485
duplicate to #13484

[2022-07-01 10:51] #13485 closed

[2022-07-01 10:53] justusschock commented on #13484
Hey, thanks for the issue.

Can you give us your model definition or a minimum example of the boring model to reproduce this?

[2022-07-01 10:55] rohitgr7 commented on #13484
please consider opening either a discussion or an issue. Answered [here](https://github.com/Lightning-AI/lightning/discussions/13482). We can continue the discussion there. Closing this for now.

[2022-07-01 10:55] #13484 closed

[2022-07-01 10:57] justusschock commented on #13484
Thanks @rohitgr7 didn't see this

[2022-07-01 11:12] carmocca commented on #12786
@justusschock that's basically the same as `_RequirementAvailable`

[2022-07-01 12:42] justusschock commented on #12786
@carmocca it‘s definitely similar. However with _RequirementAvailable you can only check whether packages are available and versions match, but you cannot call arbitrary functions or anything from those packages. I originally thought about that for lazily checking whether mps devices are available as you van virtually execute any code

[2022-07-01 14:16] carmocca commented on #13210
One issue from doing this change is that when one logs on step and on epoch, the sync_dist will apply to both cases but one might want to only sync on epoch

That is what would happen currently with `log("key", ..., on_step=True, on_epoch=True, sync_dist=False)` today because it is forced on epoch end.

Whereas now the user would need to split them

[code]

[2022-07-01 15:18] ductai199x opened #13493 "TQDM Progress Bar shows negative time and speed after resuming from checkpoint"
## 🐛 Bug

TQDM Progress Bar shows negative time and speed after resuming from checkpoint

[Screencast from 07-01-2022 10:12:29 PM.webm](https://user-images.githubusercontent.com/29772899/176922594-88ed8008-eeb2-4d35-ab49-f176c03c61b0.webm)

### To Reproduce

Train any model for sometime, then resume. The progress bar will register negative numbers

### Expected behavior

Resuming should NOT cause

[2022-07-01 15:43] tchaton commented on #13480
@justusschock I think it boils down to being creative with the right design.

Another one would be to introduce a serve_step and provides deserialization / serialization data type for the users to annotate the method.

[code]

[2022-07-01 15:59] carmocca commented on #13445
@JustinGoheen I would fix their return annotation. Since they are simple wrappers for a deprecation, you can just mark the inputs and outptus as Any

[code]

[2022-07-01 16:33] justusschock commented on #13480
If we introduce datatypes to PL we are again making assumptions on the data. Currently PL is data agnostic and imo it should stay that way. Otherwise you will be adding more and more datatypes. IMO that’s the domain of flash :)

[2022-07-01 17:04] tchaton commented on #13480
The way data is encoded in requests is standardized and we aren't making that many assumptions. We are actually removing boilerplate for the users who would have to implement it over and over.
I don't think it is making assumptions especially if the user can easily provide their own.

Another possible API would be but I think it introduces more boilerplate.

[code]

[2022-07-01 17:07] carmocca commented on #13480
I agree with @justusschock in that going into seralization of data types etc is a big can of worms that should stay out of PL.

To me, the key here is evaluating whether there's a direct interaction between the `Trainer` and serving. The top post proposes sanity checking steps which could be useful in specific cases  but are very niche. How often does serving performance inform the training proced

[2022-07-01 17:18] tchaton commented on #13480
@ethanwharris Would you mind sharing your thoughts on this open conversation?

[2022-07-01 17:38] tchaton opened #13496 "Add support for embedding a Grid of iframes on the UI"
## 🚀 Feature

When creating a collection of works with their own UI, the only option is to create a tab for each one of them. Unfortunately, I had X works, this would probably don't work well.

I believe it would be interesting to investigate the introduction of arrangement on the UI while embedding the iframe.

The simplest one that I can think of is the Grid.

Here is the possible API.

[code]

[2022-07-01 17:47] zippeurfou commented on #13480
Quick thought on this.
I agree with @tchaton to says that:
1. There is a lot of boilerplate that can be removed on the serving side and we should figure a way with Lightning at large (including Lightning Apps / Component) to make it easier.
2. Pytorch Lightning should allow the transition to serving to be easy. Assuming you train a model and that's it is awesome in term of focus but doing model tr

[2022-07-01 18:36] xinyangz opened #13498 "Training hangs with DeepSpeed when DDP workers have different number of training batches"
## 🐛 Bug

My use case involves streaming a large dataset for distributed training. During this process, each distributed worker may get different number of training batches. Please see the boring model example bellow for an equivalent case.

When turning DeepSpeed integration on, the code hangs after one full epoch. All GPUs have 100% utilization, while GPU power remains low. I cannot pinpoint the

[2022-07-01 21:49] jstjohn opened #13500 "FullyShardedDataParallel wrapped models not being unwrapped, leading to incorrect checkpoints."
## 🐛 Bug

When training in parallel with the `fsdp` strategy, the saved checkpoints are somehow messed up. When I try to resume training from those, the epoch number is properly resumed, but the loss spikes dramatically, like as if it went back to an initial/random state. When I do the same train/checkpoint/resume loop with `ddp_sharded` I do not have this issue and the checkpoint resumes with a s

[2022-07-01 22:21] kaushikb11 commented on #1703
@satpalsr Could you share your reproducible script for the bug? I could take a look.

[2022-07-01 23:21] jstjohn commented on #13500
I should note this issue occurs when applying the FSDP strategy to an otherwise normal model. Not a manually sharded at initialization time model.

[2022-07-01 23:39] awaelchli commented on #13498
This is not supported currently. We don't support uneven dataset sizes. Besides, the following

[code]

would lead to a different set of problems too.
Make sure you return the same dataset in all ranks so that the distributed sampler can shard the data across all devices equally. The data should be split equally between the ranks because there is no reason why one GPU should do more work while the

[2022-07-01 23:42] awaelchli commented on #13493
This is a duplicate of #13124. I'm closing this to keep the discussion in #13124. Feel free to subscribe to the issue to get notified about the progress.

I had already looked into it but couldn't find the reason why the bar shows the incorrect estimates yet.

[2022-07-01 23:42] #13493 closed

[2022-07-02 00:01] awaelchli opened #13502 "Remove unwrapping logic in strategies in favor of a direct reference to the original module"
## Proposed refactor

I propose to remove the fragile unwrapping logic in strategies in favor of a keeping a direct reference to the original module.

### Motivation

We currently have an unwrapping logic in our strategies that looks something like this:

[code]

On the strategy, we only store a reference `self.model` to the wrapped model, and we additionally have a property

[code]

That can retu

[2022-07-02 02:09] akihironitta commented on #12997
@carmocca I see. Still I'm slightly for keeping the PyTorch's default setting as I'm concerned about possible confusions that users (e.g. who will compare performance between PyTorch and PL across multiple PT/PL versions) may have.

However, at the same time, I'm fine with moving forward with the suggestion, but we just need to make sure that the change will be communicated to users in the docs (v

[2022-07-02 04:44] MarcSkovMadsen commented on #13381
Hi @tchaton

Thanks for your reply. Would it be possible for the application to change the `timeout`. Some applications like might need a `timeout` of several seconds. My experience from Panel and the Panel community is that for internal tools the time it takes to create and get the response is often not important. And also the applications in general might not be optimized for performance but ins

[2022-07-02 07:22] wangleiofficial opened #13506 "Distributed training of multiple nodes with different GPU numbers"
## 🐛 Bug

I have four nodes
[code]
I get error:
[code]
Guess it may be because the wrong world size is obtained.
### To Reproduce
[code]

### Expected behavior

### Environment

- PyTorch Lightning Version (e.g., 1.5.0): 1.5.10
- PyTorch Version (e.g., 1.10): 1.10
- Python version (e.g., 3.9): 3.8
- OS (e.g., Linux): Linux
- CUDA/cuDNN version: 11.2
- GPU models and configuration:
- How you instal

[2022-07-02 07:49] TheShadow29 commented on #11807
Hello, I am having a similar issue. I have a custom batch sampler, but the required arguments are not passed because of this part of the code: https://github.com/Lightning-AI/lightning/blob/1.6.4/pytorch_lightning/utilities/data.py#L286. It restricts passing only batch_size, and drop_last.

I am using v1.6.4.

[2022-07-02 09:01] MarcSkovMadsen opened #13507 "Support dynamic dark theme"
## 🚀 Feature

Support dark mode!

### Motivation

A lot of users prefer or require dark mode. The current lightning.ai logo (lower left corner) does not read well on a dark background (see lower, left corner of image below).

![image](https://user-images.githubusercontent.com/42288570/176993981-fba5b9c7-f0e6-412f-8b97-63e4bb11cd00.png)

## Additional Context

Users of the Panel framework that I am

[2022-07-02 10:42] MarcSkovMadsen commented on #13335
I'm working on the Panel Web UI Documentation here https://github.com/Lightning-AI/lightning/pull/13508

[2022-07-02 11:23] MarcSkovMadsen commented on #13335
The Panel Web UI Documentation is ready for review. https://github.com/Lightning-AI/lightning/pull/13508

[2022-07-02 12:18] MarcSkovMadsen opened #13509 "Carve out docs"
## 🚀 Feature

Contributing to the docs is not easy because its part of a large repository with a very heavy installation and build process.

### Motivation

When something is hard only a small subset of people want to contribute. Contributing to the docs could be very easy and *lightning* fast 😄 . But its not.

[2022-07-02 13:46] jstjohn commented on #13502
I like simple :) should I close my PR and let you do this?

[2022-07-02 15:26] xiaoyuan0203 commented on #13238
If I want to change the doc, where to do? The source docstring?

[2022-07-02 16:04] alecmerdler commented on #13507
Thanks for the issue @MarcSkovMadsen! I appreciate you noticing this, it would bother me too. Since the UI being rendered in your app could be anything, it's difficult for us to guess what the theme is and which logo to render. I'll ask the design team what we can do in this case and check back once I have an answer.

[2022-07-02 16:09] alecmerdler commented on #13496
There can be performance implications with rendering too many (10+) `iframes` on a single page at the same time. Basically, the browser is restricted on how many HTTP connections it can have open at once, and when 10+ `iframes` are all loading in their HTML/CSS/JS/fonts/images/etc, it can cause the page to load very slowly (more than a minute, depending on internet speed).

I agree we should explo

[2022-07-02 17:07] MarcSkovMadsen opened #13510 "Persistent App url"
## 🚀 Feature

A persistent app url that I can share with friends, colleagues, customers or the world.

### Motivation

When I create an App its not only for my self. Its for my friends, colleagues, my customers or the world. As far as I can see the App url I get from clicking the "Open url" or "Share" buttons is not persistent. From when I have seen it will change when I

- redeploy
- delete and r

[2022-07-02 17:11] MarcSkovMadsen opened #13511 "No tabs when a Lightning App only contains one Web UI"
## 🚀 Feature

When my lightning app only contains one Web UI there is no reason to add a tab at the top of the app that takes up space.

### Motivation

- This would simplify the UI
- This would provide more window space to the app it self
- This would make the app look more professional.

![image](https://user-images.githubusercontent.com/42288570/177009976-4e89ed42-cdde-4a04-9bff-53cc343415bd.pn

[2022-07-02 17:18] MarcSkovMadsen opened #13512 "Enable me to provide a custom template to layout my Web UIs"
## 🚀 Feature

I would like to be able to provide a custom template to provide a layout, design and UX that makes sense in my context. The currently used Material, Tabbed layout using purple color does not always make sense to use.

- An alternative example would be to layout the web UIs in a grid.
- An alternative example would be expandable accordions using Bootstrap framework.

## Motivation

I

[2022-07-02 23:09] lantiga commented on #13480
+1 on providing a solution to the issue within Lightning @tchaton.

I personally like @carmocca’s proposal: let’s start from a mixin with its own set of hooks. This way we can develop a clear contract for getting a Lightning model to serving.

Note that we are *not* talking about implementing a serving solution in this context: the proposal here is to have all the hooks needed to do sanity checkin

[2022-07-02 23:24] lantiga commented on #13480
A few extra thoughts:
- transformations of incoming data (normalization etc) are typically quite different during serving compared to training or evaluation
- decoupling serve from the Lightning module may be beneficial since training and serving are often not 1 to 1: it is not uncommon to have multiple models in a single serve pass, we may have a chance to have an expressive API for this
- future

[2022-07-03 00:17] akihironitta commented on #13509
Hi @MarcSkovMadsen thank you for your suggestion!

FYI, we decoupled tutorial-related doc pages from our repository a while ago, and they now exist in https://github.com/Lightning-AI/tutorials, but are you suggesting that we also move the whole docs directory (`docs/`) to another repository?

[2022-07-03 03:37] lantiga commented on #13510
Hi @MarcSkovMadsen!

As you point out, the URL is currently only persistent across stop/start, but I agree we should consider making it at least persistent across redeploys. For delete + re-create one might argue that deleting something also means getting a fresh URL, so I don't have to worry about whom I shared it with. But I see your point, and probably making the URL stable for a given app name

[2022-07-03 03:37] lantiga commented on #13511
Yep, definitely on the radar. Thanks for bringing this up @MarcSkovMadsen

[2022-07-03 03:39] lantiga commented on #13512
Related to #13496

[2022-07-03 04:14] lantiga commented on #13434
Hi @rohitgr7, In general I actually think the current behavior is correct. If it's a blocking call, it means execution shouldn't go past it unless the function evaluates successfully.

However you have a way to get back to your flow if it fails with `raise_exception=False`:

[code]

This way you make it explicit that it's a blocking call, but that you're good skipping execution if it fails for som

[2022-07-03 04:19] marsggbo commented on #12733
A good suggestion! Any progress now?

[2022-07-03 04:31] lantiga commented on #13401
Hi @NguyenDuyDuc1491995,

you can see this towards the end of the error message:

Essentially the `torchvision` model expects a list of tensors in input, and your `forward` function has no type signatures. Since the type of arguments is `Tensor` by default if you omit type signatures, there's a type mismatch between what your `forward` provides (`Tensor`) and what the `torchvision` model expects (

[2022-07-03 04:53] akihironitta commented on #13238
It's in the docstring in the source file.
https://github.com/Lightning-AI/lightning/blob/cf189bdc9b32326ea02b9af6dd6e1bf04f0e4d2e/src/pytorch_lightning/callbacks/finetuning.py

[2022-07-03 08:47] Borda commented on #13509
Cc @tchaton @manskx for visibility

[2022-07-03 11:47] krishnakalyan3 opened #13520 "Blocking iframe fail to render in servers within lightning UI tabs"
If the underlying app's server sets headers like `X-Frame-Options`, lightning apps fail to show UI. This was observed for MLFLow and label studio.

cc: @tchaton @awaelchli

[2022-07-03 11:48] krishnakalyan3 commented on #13520
An Example:

[code]

[2022-07-03 11:49] krishnakalyan3 commented on #13520
Slack Discussion on [LabelStudio](https://pytorch-lightning.slack.com/archives/CRBLFHY79/p1655933667947539)

[2022-07-03 12:00] krishnakalyan3 opened #13521 "Lightning applications fail when Path(".") is used"
Using the `Path(".")` object from `lightning.app.storage` leads to the error below. The failure takes about 7 minutes to appear in the lighting logs.

[code]

[2022-07-03 12:00] krishnakalyan3 commented on #13521
Example:
[code]

[2022-07-03 14:20] iamstarlee commented on #6418
many thanks!

[2022-07-03 16:15] ZeyuSun commented on #5508
I would also find this very helpful. I have lots of codes that are analyze the output and plot and log. Those codes are not depending on specific models. It would be nice to pull them out as a callback (similar to what rsaite said above in https://github.com/Lightning-AI/lightning/issues/5508#issuecomment-814723369)

[2022-07-03 19:15] faroit commented on #12670
@NikolasWolke seems like a really bug. What is the simpliest workaround?

[2022-07-03 20:00] MarcSkovMadsen commented on #13335
I have some question I need help to answer before I can contribute a PanelFrontend. See https://github.com/Lightning-AI/lightning/discussions/13523

@philippjfr you can help here by trying to run the app and suggest improvements.

[2022-07-03 20:39] Cyprien-Ricque commented on #13445
Hello! I can work on:
- ```pytorch_lightning/strategies/single_tpu.py```
- ```pytorch_lightning/strategies/ddp2.py```
- ```pytorch_lightning/strategies/parallel.py```
- ```pytorch_lightning/strategies/sharded_spawn.py```
- ```pytorch_lightning/strategies/dp.py```

[2022-07-03 21:10] franchesoni commented on #13273
Hello, any further news or alternative answer?

[2022-07-03 22:47] SpontaneousDuck opened #13524 "`WandbLogger` not resuming with resubmitted SLURM job"
## 🐛 Bug

I am using the auto-resubmission function of PyTorch Lightning with my SLURM cluster. My code does detect the signal sent by SLURM and successfully pauses and resumes training with the auto-resubmission function. Training resumes at the correct epoch and global_step but the `wandb` logger starts a new run at step 0. Is there a recommended way to accomplish this? It appears like the logge

[2022-07-04 01:06] nicoloesch opened #13525 "Validation logging frequency of `TensorBoardLogger` is different than expected and has the same loss values in step and epoch"
## 🐛 Bug

The validation logging frequency is different from the one in the training for the `TensorBoardLogger`. Additionally, default logger logs the exact same values in the `validation_step` as in the `validation_epoch` for the `loss`.
Overwriting `on_epoch` and `on_step` to `True` results in a log **every** step for the validation instead of every `log_every_n_steps`.

### To Reproduce

My da

[2022-07-04 03:43] ductai199x commented on #13124
@awaelchli I am noticing that resuming from an end-of-epoch checkpoint save also erase the tensorboard logs for ALL of the previous iterations. Is it possible to implement some test cases for progress bars and tensorboard logging so that future releases can be more stable? Because this are now a deal-breaker for me as a researcher.

[2022-07-04 04:21] MarcSkovMadsen opened #13530 "Describe how to communicate from one LightningWork to another LightningWork."
## 📚 Documentation

The article [LEVEL 13: COMMUNICATION IN LIGHTING APPS](https://lightning.ai/lightning-docs/levels/intermediate/level_13.html) starts out stating *To create reactive applications, components need to be able to communicate- share data, status, values, etc.*.

But it only demonstrates how to communicate **up**. I.e. from a `LightningWork` up to its parent `LightningFlow`. It does

[2022-07-04 06:46] nicoloesch commented on #13525
### Update (some time later after trying several combinations and trying my own Logger)

Instead of using the `self.log()` method, I create now a `Dict[str, Union[float, Dict[str, float]]]`, that contains all the strings of the metrics I want to log as the keys and the respective either single tensor or the dictionary containing single tensors as the vector.
That dictionary is then directly passed

[2022-07-04 08:54] awaelchli commented on #13511
@MarcSkovMadsen This was recently enabled in the frontend and will come with the next release, if it hasn't already.
Here are the [docs](https://lightning.ai/lightning-docs/workflows/arrange_tabs/arrange_app_basic.html#enable-a-full-page-single-tab) and you just make sure to return a single element in the configure_layout at the root.

[2022-07-04 09:02] alealv opened #13533 "Inconsistent DDP unused parameters behavior"
## 🐛 Bug

Hi,

I don't know if this error should be posted here or in Pytorch.
I'm having the following error with `strategy=ddp_find_unused_parameters_false`

[code]

Basically, the whole generator is being neglected by the optimizer step. The crazy part is that when I use `strategy=ddp` I get:

[code]
So I don't know if it's wrong or not.

I'm using manual optimization on my training step as fol

[2022-07-04 09:51] xiaoyuan0203 commented on #13238
@akihironitta  Can I open a PR and merge into master branch while what you provide is not a master branch?

[2022-07-04 12:21] wangleiofficial commented on #13506
Maybe `torch.distributed.launch`  assumes all nodes are symmetric. Basically, on each node it assumes the world_size is nproc_per_node * nnodes .
Is there any distributed strategy?

[2022-07-04 12:26] SimonCoste opened #13536 "`LightningModules` without a `log` method?"
[See additional comment at the end - to be closed]

Hi, I just installed torch-lightning (using `conda install -c conda-forge pytorch-lightning`) and my `LightningModules` do not seem to have a `self.log` method. Here is a MWE:
[code]
which leads to

[code]

### Expected behavior

No bug.

### Environment
* CUDA:
	- GPU:
		- Tesla P100-PCIE-16GB
		- Tesla P100-PCIE-16GB
		- Tesla P100-PCIE-16GB

[2022-07-04 13:40] thomassajot commented on #1485
Is this issue solved? I am experiencing similar chart issues in Wandb:
<img width="1857" alt="image" src="https://user-images.githubusercontent.com/15252203/177166707-324d342b-fb67-40eb-ae19-eb73dcfff703.png">

[2022-07-04 14:11] stwerner97 commented on #4649
Although the issue has been stale for a while, I think it would be great to implement the proposed changes.

I am currently working on an approach based on curriculum learning. The prediction horizon starts off small but steadily increases with the number of epochs. Therefore, the number of batches decreases over time and no predefined `log_every_n_steps` parameter will work well.

[2022-07-04 15:43] tchaton commented on #13533
Hey @[alealv](https://github.com/alealv),

Do you believe you could create a reproducible script using the [Boring Model](https://github.com/Lightning-AI/lightning/blob/master/examples/pl_bug_report/bug_report_model.py) ?

Best,
T.C

[2022-07-04 19:55] akihironitta commented on #13536
Closing this issue as per your comment:

[2022-07-04 19:55] #13536 closed

[2022-07-04 20:01] akihironitta commented on #13238
Yes! That'll be fantastic!

It *was* `master` at the time of writing the comment! I always paste links with a specific commit hash so that anyone who will look back doesn't see 404 (due to a changed filename etc.) or the wrong (i.e., outdated) line number :)

[2022-07-04 22:36] akihironitta commented on #13179
Closing this since #13462 fixed this issue already. I'll create another issue for a possible regression in rich progress bar with a benchmark result across PL versions.

[2022-07-04 22:36] #13179 closed

[2022-07-04 23:21] akihironitta commented on #13431
@Riccorl A reproducible script would help.

[2022-07-04 23:44] akihironitta commented on #12119
@MikeyJL Are you still be interested in working on this? If yes, I'll assign this issue to you, and please create/submit a PR :)

[2022-07-05 02:06] jiny419 commented on #13445
Hi! I'll try to take on ```pytorch_lightning/profilers/simple.py```

[2022-07-05 02:11] RamtinRassoli commented on #13374
@awaelchli I checked the PR. I believe all use cases are still covered. Basically when `LOCAL_RANK` is not set the class should behave exactly the same as before. Is there any specific part you want me to check?

I was referring to this method in `DDPStrategy`:
[code]
My understanding is when cluster_env is not None the strategy sets the global_rank and world_size. But at the moment, this doesn't

[2022-07-05 02:11] JustinGoheen commented on #13445
@otaj please add me to the following:

1. pytorch_lightning/trainer/trainer.py
2. pytorch_lightning/profilers/pytorch.py

[2022-07-05 03:52] akihironitta commented on #12624
Updating the assignee as this is already being worked on in #13240.

[2022-07-05 05:53] awaelchli commented on #13374
Okay, sounds good. Since I'm not a user of this cluster environment, I wanted to make sure we still cover the use case of what was implemented originally. Would you be down to send a PR with these changes to the existing KubeflowEnvironment plugin?

[2022-07-05 06:18] awaelchli commented on #13533
Maybe this part is important:

Maybe try returning the loss, maybe in your case return dis_loss + gen_loss. Just a guess. Couldn't repro.

[2022-07-05 06:21] akihironitta commented on #12820
@SeanNaren I saw @rohitgr7 add support for `bf16` in #12508, but other parameters haven't been added yet. Should this issue be kept open?

[2022-07-05 09:31] MikeyJL commented on #12119
@akihironitta let's do it! Could you give me more context around the task pls? Not really sure what it's asking for in the PR desc

[2022-07-05 11:39] SeanNaren commented on #11933
Here are my results running a pytorch-lightning minGPT script ([here](https://gist.github.com/SeanNaren/c9b69dc50d13e9e359ba4c49a1727c59)). This was a transformer model, with the below cmd:

[code]

| Precision               | Iterations/s | nvidia-smi Memory (MiB) |
|-------------------------|--------------|-------------------------|
| 16                      | 2.26         | 30038

[2022-07-05 12:35] emilyemliyM opened #13545 "how to get the "current epoch" value"
## 🐛 Bug
how to get the "current epoch" value in the validation_epoch_end ?

Since I want to use the "epoch" value to create a dir path, like "predicitions_0" (predicitions_epoch)

thanks

- PyTorch Lightning Version (e.g., 1.6.4):
- PyTorch Version (e.g., 1.10):
- Python version (e.g., 3.9):
- OS (e.g., Linux):
- CUDA/cuDNN version:
- GPU models and configuration:
- How you installed PyTorch (`co

[2022-07-05 16:01] samgelman commented on #13545
Check out the `current_epoch` property: https://pytorch-lightning.readthedocs.io/en/stable/common/lightning_module.html#current-epoch

[2022-07-05 18:50] amorehead commented on #6789
Hi, all. Have there been any updates in this regard? I am using PyTorch Lightning 1.5.4 for training my models with 1 vs. 2 vs. 4 GPUs. When ensuring the same effective batch size (e.g., 8), I am still seeing different results for my three model training runs even though I am using the same random seed with Lightning's `seed_everything()`.

[2022-07-05 19:40] akihironitta commented on #13545
Duplicate of #13543.

[2022-07-06 05:23] bibhabasumohapatra commented on #13471
added a PR, my first PR in Lightning. let me know if anything more needs to be added.

[2022-07-06 05:44] emilyemliyM opened #13551 "How can I get the "gpu" id number in the validation_epoch_end stage when I using multigpu?"
## 🐛 Bug

How can I get the "gpu" id  number in the validation_epoch_end stage  when I using multigpu?
If I have 2 GPU, when I in the validation_epoch_end,

I want to save the predicitons images in to  a dir:->  epoch_gpuid_predicitions.

For epoch value, I can get by the current_epoch, how about the gpuid ?
Or I can save all the predictions in "epoch_predicitions" ,but I don't know how to do it?

[2022-07-06 07:31] emilyemliyM opened #13552 "How to get the output of the previous iteration ,and use them in the current epoch?, thanks"
## 🐛 Bug

Dear author,

How can I  get the output of the previous iteration or epoch ,and the  I  can use them in the current epoch?, thanks
I want to use the output of the previous epoch as one of the features of the input of the current epoch (in the order of the index of the same dataloader).

Best regards.

- PyTorch Lightning Version (e.g., 1.5.0):
- PyTorch Version (e.g., 1.10):
- Python ver

[2022-07-06 11:48] JiahaoYao opened #13553 "ddp fails on NCCL"
### 🐛 Describe the bug

[code]

I run this simple scripts from https://pytorch-lightning.readthedocs.io/en/latest/model/train_model_basic.html

but i got the nccl issue

[code]

### Versions

[code]

[2022-07-06 11:49] JiahaoYao commented on #13553
https://github.com/Lightning-AI/lightning/issues/13400

[2022-07-06 12:58] JustinGoheen commented on #13445
@awaelchli I'd like to be assigned to the following:

- pytorch_lightning/loggers/tensorboard.py
- pytorch_lightning/core/module.py

[2022-07-06 13:11] JustinGoheen commented on #13445
@awaelchli I can take core.datamodule too, can I also be assigned pytorch_lightning/core/module.py.

I'll work on core.module first, then the tensorboard logger and datamodule.

[2022-07-06 13:35] himkt commented on #13445
I want to try `pytorch_lightning/trainer/trainer.py`. 🚋

[2022-07-06 14:05] awaelchli commented on #13445
@himkt That's nice! Thanks for the help. I predict that the trainer will be very difficult right now, almost impossible due to it's entanglement with all other files related to it. It probably should be left for later. May I suggest one of the easier ones to get started, e.g. `pytorch_lightning/loops/epoch/training_epoch_loop.py`? I could be wrong, feel free to try it if you want.

[2022-07-06 14:58] paulhager opened #13554 "logger called during on_train_start called multiple times during training"
## 🐛 Bug

I'm using a ReduceLROnPlateau scheduler and having it monitor my validation F1. When telling pytorch lightning to only execute validation every 5 steps (so >1), it doesn't log anything in my validation_step method and thus the val.f1 metric is never set. At the end of a training epoch, it tries to check my val.f1 metric for the scheduler and throws me an error that it can't find it (and

[2022-07-06 15:30] #13553 closed

[2022-07-06 18:41] robert-s-lee commented on #13520
made code change on label studio to allow iframe

https://github.com/heartexlabs/label-studio/commit/b2587f2468c7a238a5e336db9bd3530a192ca9e5

[2022-07-06 19:20] angadkalra commented on #11242
This is happening to me as well. Training hangs randomly during an epoch, sometimes restarts after an hour or I have to exit and continue training from last ckpt. I'm running on 4 V100 GPUs using DDP.

[2022-07-06 19:59] lodo1995 opened #13558 "LightningCLI feedback: improvement suggestions"
# 🚀 Feature

## Motivation

I've started using (i.e. subclassing) the `LightningCLI` recently and, given that it is still in beta, I decided to share with you some patterns that I end up using in every one of my projects. If other people also rely on these patterns often, it might be valuable to include them in the base class, smoothing out its usage, ensuring that it "just works" out of the box.

[2022-07-06 20:21] akihironitta commented on #13553
@JiahaoYao https://github.com/pytorch/pytorch/issues/52916#issuecomment-789308338 might help you debug your issue.

[2022-07-06 21:14] lodo1995 commented on #13552
I'm not sure I'm understanding your question (and I'm not a Lightning maintainer), but have you looked into the many [hooks](https://pytorch-lightning.readthedocs.io/en/stable/common/lightning_module.html#hooks) that `LightningModule` provides, such as `on_train_start`, `on_train_epoch_start`, `on_train_epoch_end` and `on_train_end`?

For example, you can use `on_train_start` to create two instanc

[2022-07-06 23:13] krishnakalyan3 commented on #13445
I would like to work on ` pytorch_lightning/utilities/distributed.py`.

[2022-07-07 02:39] vedantroy opened #13560 "Disable Intercepting Ctrl-C"
## 🚀 Feature

Allow users to disable pytorch lightning's ctrl-c interrupt.

### Motivation

I have a custom cleanup process for Ctrl-C, which allows me to handle wandb. Right now, when I press Ctrl-C, pytorch lightning handles the exit process for me, which is not ideal.

### Pitch

A boolean flag that when set to `True`, causes pytorch lightning to rethrow the interrupt.

### Alternatives

Curren

[2022-07-07 02:55] akihironitta commented on #13560
You can plug your logic into `Callback.on_exception` hook
https://pytorch-lightning.readthedocs.io/en/1.6.4/extensions/callbacks.html?highlight=on_exception#on-exception
which is called at:
https://github.com/Lightning-AI/lightning/blob/61c28cb428a13c2aea6d7f3f55e0f00431a4ea4e/src/pytorch_lightning/trainer/trainer.py#L657-L662

[2022-07-07 06:08] #13560 closed

[2022-07-07 06:14] akihironitta commented on #12521
Hi @shenoynikhil @madaanpulkit! Thank you for your interest in contributing! Let me know if you need help with the ones assigned to you :)

[2022-07-07 06:37] shenoynikhil commented on #12521
@akihironitta Have been busy for sometime, will work on it today :).

[2022-07-07 06:56] samz5320 commented on #12521
Hi ! can i take `pytorch_lightning.overrides.distributed.IndexBatchSamplerWrapper.batch_indices` ? if its not assigned  .

[2022-07-07 09:13] NguyenDuyDuc1491995 commented on #13401
Thank you.
But if I want to use an input tensor like [4,3,800,800] instead of [[1,3,800,800], [1,3,800,800], [1,3,800,800], [1,3,800,800]], how should I do?

[2022-07-07 09:21] lodo1995 commented on #13554
DISCLAIMER: I'm **not** a Lightning maintainer, don't trust me.

------------------------------

Regarding the error when the metric is not available, you can avoid it by passing the option `'strict': False` in the `lr_scheduler` dictionary that you return from `configure_optimizers` (see my code below).

Regarding the issue of `on_train_start` being called multiple times, I could not reproduce it

[2022-07-07 10:30] nilsleh commented on #2427
@lepoeme20  I just ran into a similar issue, where I require gradients during the test phase, and similar to what you were saying
`self.train()` or `self.classifier.train()` did not do anything. I know this is years later, however, what did solve it was to also call `torch.set_grad_enabled(True)` at the beginning of test_step. I believe under the hood, pytorch lightning calls this context manager

[2022-07-07 10:49] paulhager commented on #13554
Cool, thanks for the tip with strict. That fixed my problem. Heres a minimum code example for the bug though:

`
import os

import torch
from torch.utils.data import DataLoader, Dataset

from pytorch_lightning import LightningModule, Trainer

from pytorch_lightning.loggers import WandbLogger

class RandomDataset(Dataset):
    def __init__(self, size, length):
        self.len = length
        self

[2022-07-07 11:11] lodo1995 commented on #13554
So, after slightly modifying your code, I came to the conclusion that this must be an issue with logging, not with the callback.

In `on_train_start` I added a `print` and I incremented a counter. The print appeared only once at the beginning of the training, and in `run`, after both `fit` and `test`, printing the counter yielded the value `1`.

So  `on_train_start` is correctly only called once.

[2022-07-07 11:18] akihironitta commented on #12521
Hi @samz5320, thank you for showing your interest! Please go ahead :)

[2022-07-07 11:32] paulhager commented on #13554
Ok, cool. Thanks for looking into it. I guess I'll change the title to 'logger used in on_train_start logs multiple times during training'

[2022-07-07 14:02] JustinGoheen commented on #13445
@otaj can I be assigned the remaining loggers:

- pytorch_lightning/loggers/mlflow.py
- pytorch_lightning/loggers/comet.py
- pytorch_lightning/loggers/neptune.py

Also, the following PRs are waiting on checks, is there anything more I need to do before the remaining check can run?

- https://github.com/Lightning-AI/lightning/pull/13541
- https://github.com/Lightning-AI/lightning/pull/13538

[2022-07-07 14:46] mauvilsa commented on #13372
This isn't an issue with the current version in master. Will code that has already been removed be fixed? Or is this issue likely doomed to stay open until 1.7.0 comes out? Just a crazy thought. Why not backport cli in master for the next 1.6.x release? Most of the changes actually resolve bugs. What does it mean to be in "beta" anyway? Can it mean that there could be changes between patch version

[2022-07-07 15:17] snipdome opened #13566 "Deepspeed integration problem"
## 🐛 Bug

little context:
If a Trainer is created with the "**gpus**" flag filled in with a list (for example "3,4,5"), then pytorch-lightning start processes on the GPUs given by the environmental variable CUDA_VISIBLE_DEVICES, evaluated at the "gpu" indexes. So, if CUDA_VISIBLE_DEVICES is "0,1,2,3,4,5,6,7,8", then the used GPUs are "3,4,5", if CUDA_VISIBLE_DEVICES is "4,5,6,7,8,0,1,2,3", then th

[2022-07-07 16:11] #13498 closed

[2022-07-07 16:44] vedantroy commented on #1406
Doing  `self.trainer.should_stop` is no good because it still runs the validation batch, which I don't want. I just want to immediately exit training. What would be the right thing to do here?

[2022-07-07 16:45] jessecambon opened #13567 "Local rank conflict when training on multi-node multi-gpu cluster using deepspeed"
## 🐛 Bug

When training using deepspeed stage 3 in a multi-node environment with multiple GPUs on each node, an error regarding the LOCAL_RANK environment variable appears. AzureML with an MPIConfiguration is used to submit the job to an Azure cluster.

[code]

I was able to fix this error (and get training to run successfully) by adding the following line to the setup() function of the LightningM

[2022-07-07 19:45] sarpaykent opened #13569 "Support for returning LRSchedulerConfig on LightningModule.configure_optimizers"
## 🚀 Feature

Currently, LRSchedulerConfig type is not supported by [_configure_schedulers_automatic_opt](https://github.com/Lightning-AI/lightning/blob/61c28cb428a13c2aea6d7f3f55e0f00431a4ea4e/src/pytorch_lightning/core/optimizer.py#L263).

### Motivation

I created a custom `ReduceLROnPlateau` class that adds warmup epochs before `ReduceLROnPlateau`. However, the `ReduceLROnPlateau` scheduler is

[2022-07-07 20:32] HareshKarnan commented on #11242
Same issue here with version 1.6.4

[2022-07-07 21:02] akihironitta opened #13572 "CI: Enable readthedocs to build docs on pull requests"
*(this feature requires the admin privilege on Read the Docs)*

## 🚀 Feature
Can be configured from https://readthedocs.org/projects/pytorch-lightning/.
See https://docs.readthedocs.io/en/stable/pull-requests.html#configuration for details.

### Motivation
- This feature ensures the exact same environment for building docs between in each PR and in the readthedocs deployment 🚀
- (@Borda might have

[2022-07-08 00:56] thongonary commented on #13567
I'm having the exact same issue with `deepspeed_stage_2` strategy on AzureML with 1 node / 4 GPUs.

[2022-07-08 10:18] DorianKodelja commented on #13225
I face the same problem:

CUDA: no (training on cpu)

Packages:

    numpy: 1.22.0
    pyTorch_debug: False
    pyTorch_version: 1.11.0
    pytorch-lightning: 1.6.0
    tqdm: 4.63.1

System:

    OS: Linux
    architecture:
        64bit
        ELF
    processor: x86_64
    python: 3.8.12

[2022-07-08 10:52] lodo1995 opened #13577 "Feature request: Log optimizer and LR Scheduler hyperparams when set by LightningCLI"
### Discussed in https://github.com/Lightning-AI/lightning/discussions/11258

<div type='discussions-op-text'>

<sup>Originally posted by **slinnarsson** December 25, 2021</sup>
I'm using LightningCLI and setting the optimizer and learning rate using args like `--optimizer AdamW --optimizer.lr 0.01`. When running multiple runs with varying optimizers and learning rates, I would like these hyperpar

[2022-07-08 11:42] luzuku commented on #11126
I am currently having this issue trying to log metrics for every dataloader individually while also logging the same metric over all dataloaders combined. And as mentioned above I was fully expecting this to just work after reading:
[code]

Any news on when this will be supported?

[2022-07-08 13:27] snipdome commented on #13566
I believe the devil is in these two lines in the file partition_parameters.py

[2022-07-08 14:50] otaj commented on #13445
Hi everyone! I'm sorry for not being responsive last week as I took a week AFK. Thank you @awaelchli and @akihironitta for taking over a bit.

I just updated master comment, thank you everyone who asked for work and working on it :) Namely @Cyprien-Ricque @JustinGoheen @krishnakalyan3 @donlapark @himkt @jiny419 :muscle: :rocket:

Everyone, please check whether I assigned you correctly, it's been a

[2022-07-08 16:31] neggert commented on #13374
Hey all, thanks for pointing this out and sorry for the late response. I think there's an assumption built into PyTorchJob that the user will only be running one process per pod. If you want more processes, you can spin up more pods. There's a slight terminology mis-match because Lightning sees each Kubernetes pod as a separate node. So you _can_ use multiple GPUs per node, they just need to be in

[2022-07-08 17:09] TheShadow29 commented on #11807
Hi @otaj, Thanks for the interest. The batch sampler I am using is essentially a slightly modified version of `GroupedBatchSampler` here https://github.com/facebookresearch/detectron2/blob/main/detectron2/data/samplers/grouped_batch_sampler.py#L6. Basically, it allows all the items within a single batch to be from the same group.

Since it requires the argument `group_ids`, the default version can

[2022-07-08 18:09] JustinGoheen opened #13579 "Add _prepare_extras() to `lightning.__setup__.py`"
## Proposed refactor

Add `prepare_extras` to lightning.\_\_setup_\_\.py.

### Motivation

Streamline creating development environments for contributors.

### Pitch

Merge code at: https://github.com/JustinGoheen/lightning/blob/dev/lightning-extras/src/lightning/__setup__.py via PR.

### Additional context

Current setup.py at lightning root does not allow for use of:

[code]

Proposed change woul

[2022-07-08 19:44] georgestein opened #13580 "Trainer.predict(return_predictions=False) does not track batch_indices for BasePredictionWriter, which are necessary for ddp"
## 🐛 Bug

According to the documentation, pytorch_lightning.callbacks.BasePredictionWriter is the way to store predictions:
https://pytorch-lightning.readthedocs.io/en/stable/api/pytorch_lightning.callbacks.BasePredictionWriter.html

Using base BasePredictionWriter to construct a callback for Trainer.Predict returns both predictions and batch_indices when Trainer.predict(return_predictions=True),

[2022-07-09 01:21] #13579 closed

[2022-07-09 11:50] MarcSkovMadsen opened #13582 "Can't find instructions for installing repository for development + jinja2.exceptions.TemplateNotFound: index.html"
## 🐛 Bug

I've tried searching several times on github, https://lightning.ai/. But I simply cannot find a guide on installing this project for development. I want to contribute a `PanelFrontend` - see https://github.com/Lightning-AI/lightning/issues/13335

### To Reproduce

Checkout https://github.com/Lightning-AI/lightning. Most other repositories I know have an easy to find link to the instructi

[2022-07-09 12:23] MarcSkovMadsen commented on #13582
Maybe the concrete issue I have is that the `index.html` file has been move to the `public` subfolder?

![image](https://user-images.githubusercontent.com/42288570/178105618-44c8af7a-d78a-452d-81d7-059aef9b1492.png)

[2022-07-09 14:29] weiji14 opened #13583 "Upload sdist to PyPI to enable building conda-forge package"
## 🚀 Feature

### Motivation

Hiya, I've been trying to get `lightning` onto conda-forge using [`grayskull`](https://github.com/conda-incubator/grayskull) but it seems like the source distribution (sdist) for `lightning` is missing on PyPI at https://pypi.org/project/lightning/2022.6.15.post2/#files. So running `grayskull pypi lightning` (to generate the conda-forge recipe) fails:

[code]

Would i

[2022-07-09 14:53] MarcSkovMadsen commented on #13582
Please note I am on a windows laptop in a security constrained enterprise environment. I prefer pip but can use conda.

[2022-07-09 14:57] MarcSkovMadsen commented on #13582
WTF :-) It seems the setup.cfg has some instructions for installing and building.

[2022-07-09 15:10] awaelchli commented on #13582
For development, I usually had to download the frontend manually by running `python scripts/download_frontend.py`. It looks like this helper script was not yet ported over to the OSS for lightning. We need to include it or automate this step on installation. I'm pretty sure this is the reason for the template not found error.

[2022-07-09 15:17] MarcSkovMadsen commented on #13582
Thanks @awaelchli . I cannot run that command as `scripts` is not included in the repository. Do you have another suggestion? Thanks.

[2022-07-09 18:14] JiahaoYao opened #13585 "`ddp_spawn` training with multi-gpu stuck at the `sanity check`"
I am using the

[code]

But i am stuck at this `sanity check` for about one hour.
[code]

cc @justusschock @kaushikb11 @awaelchli @akihironitta @rohitgr7

[2022-07-09 23:18] SpontaneousDuck commented on #12285
+1 to this issue

[2022-07-10 08:49] charlesxu90 commented on #538
Changing the strategy worked for me.

Here's the code from the [doc](https://pytorch-lightning.readthedocs.io/en/stable/extensions/strategy.html) for someone troubling with this like me.
[code]

[2022-07-10 09:02] charlesxu90 opened #13588 "Not able to run a GPU task when transform to Pytorch lightning (GPU mem usage problem)"
## Question

After transform my code to Pytorch Lightning, the code that I originally could run cannot run now. The primary reason is that this code requires a huge GPU memory. Originally, the GPU capacity is enable to provide it. However, when transform to Lightning, the CUDA will always out of memory when doing the same task.

I think the GPU memory usage of Pytorch Lightning should be finetuned

[2022-07-10 10:03] akihironitta commented on #13588
Hello @charlesxu90, thank you for reporting the issue. In some cases, there might be performance degradation with 1.6.0, 1.6.1, 1.6.2 and 1.6.3 as investigated via #12713, but if you're using 1.6.4 or later, this issue is irrelevant to your case.

To investigate the issue further, could you provide your environment details and a reproducible code?

---

FYI, we have parity benchmarks against pure

[2022-07-10 10:07] akihironitta commented on #13585
Hello @JiahaoYao, is it feasible for you to share your `LightningModule`?

[2022-07-10 14:02] quancs opened #13590 "BaguaStrategy: AttributeError: 'BoringModel' object has no attribute 'bagua_algorithm'"
## 🐛 Bug

The `BaguaStrategy` cannot be used. It raises the error: `AttributeError: 'BoringModel' object has no attribute 'bagua_algorithm'`

### To Reproduce
`python boring.py`

boring.py:
[code]

### Expected behavior

Train sucessfully

### Environment
* CUDA:
        - GPU:
                - NVIDIA A100-SXM4-80GB
                - NVIDIA A100-SXM4-80GB
                - NVIDIA A100-SXM4-80GB

[2022-07-10 14:06] charlesxu90 commented on #13588
Dear @akihironitta ,

The current version I'm using is '1.6.4'. I'm running a GPT model following the implementation of [minGPT](https://github.com/karpathy/minGPT).

Previously, I could run with a batch size of 256 on my workstation. However, after updating to Lightning, it almost halve the batch size.

Based on this observation, I think there should be plenty room for improvement.

BTW, I'm usin

[2022-07-10 14:07] quancs commented on #12690
Hello, I had the same problem with `bagua-cuda113` in `async` mode. The error reported is `AttributeError: 'BoringModel' object has no attribute 'bagua_algorithm'`.

[code]

And my environment:
* CUDA:
        - GPU:
                - NVIDIA A100-SXM4-80GB
                - NVIDIA A100-SXM4-80GB
                - NVIDIA A100-SXM4-80GB
                - NVIDIA A100-SXM4-80GB
                - NVIDI

[2022-07-10 14:08] #13590 closed

[2022-07-11 01:25] akihironitta commented on #13572
@Borda @ethanwharris Could you take this? (as I see you two are the maintainers at https://readthedocs.org/projects/pytorch-lightning/)

[2022-07-11 02:21] akihironitta commented on #13588
For the minGPT by @\karpathy in particular, there is a fork adapted with PL by @SeanNaren. https://github.com/SeanNaren/minGPT I believe it's definitely worth referring to the implementation.

By default, PL enables a few features (logging, checkpointing, etc.), so these might be possible causes of your issue. In general, for debugging performance difference between PL and PyTorch, I'd suggest che

[2022-07-11 04:43] MarcSkovMadsen opened #13593 "Support auto/ hot reload of Frontends"
## 🚀 Feature

Lightning apps should support auto/ hot reload of Frontends

### Motivation

I'm trying to implement support for a `PanelFrontend` https://github.com/Lightning-AI/lightning/pull/13531. I have the `PanelFrontend` technically working. Now I want to add documentation and examples. I want the development process to be as smooth as possible.

Auto/ hot reload is something developers use t

[2022-07-11 05:15] MarcSkovMadsen commented on #13593
I can see that it is technically possible for a Frontend to trigger a reload from inside an iframe by running `document.location.href = document.location.href`. So probably a solution on the Panel side can be found.

### Example

https://user-images.githubusercontent.com/42288570/178193541-a6f935b7-7477-4073-b3ba-1d92cbf77b4e.mp4

`panel_script.py`

[code]

[2022-07-11 05:26] wangraying commented on #12690
I noticed the above errors of `no kernel image is available for execution on the device`, the CUDA version is 11.3, while bagua pre-compiled package `bagua-cuda111` is compiled with CUDA 11.1

May check while using `bagua-cuda113`.

Another thing to be verified is our bagua pre-compiled packages are compiled on 2080-ti GPU, I'm not sure it will support 3090 GPU. (I can not access one at present :(

[2022-07-11 05:30] wangraying commented on #12690
It seems you are using CUDA 11.6 on your working node and Pytorch. `bagua-cuda113` is compiled under CUDA 11.3. We currently does not support pre-compiled packages for CUDA11.6.

You may install bagua manually follow the tutorials [here](https://tutorials.baguasys.com/installation#install-from-source).

[2022-07-11 06:43] ORippler commented on #12896
Notebook still throws an error, so apparently the issue is still present

[2022-07-11 06:43] ORippler commented on #12900
Inconsistencies are still observed in the supplied colab notebook.

[2022-07-11 07:30] #13593 closed

[2022-07-11 08:08] JanuszL commented on #12956
@carmocca,

There should be a fresh nightly build available you can try out. Please check it and let us know if you have any problems.

[2022-07-11 09:55] lantiga commented on #13401
You can pass an individual `Tensor` to your `forward` and wrap it in a `List` when you pass the argument to `self.model`, this way:

[code]

[2022-07-11 10:02] SungFeng-Huang opened #13595 "ModelPruning callback logs wrong sparsity"
## 🐛 Bug

When using `ModelPruning` callback with verbosity level in {1,2}, the logged sparsity would be wrong when there are layers with multiple parameters to be pruned.
For example, when we add a `ModelPruning(amount=0.2)` callback to the [BoringModel Colab link](https://colab.research.google.com/github/Lightning-AI/lightning/blob/master/examples/pl_bug_report/bug_report_model.ipynb), we would

[2022-07-11 10:12] #13174 closed

[2022-07-11 11:03] YerePhy opened #13596 "PyTroch Lightning giving different shapes in training step and validation step with DynUNet from MONAI"
You can download [this notebook ](https://github.com/YerePhy/help/blob/main/dyunet.ipynb) for reproducing the problem, in the same [repo](https://github.com/YerePhy/help) you can find a requirements.yaml file.

[2022-07-11 14:02] carmocca commented on #13254
Setting this to "future" for now as it might not make the 1.7 release

[2022-07-11 14:20] oojo12 opened #13599 "Hard Coded Ports for Lightning Apps"
## 🐛 Bug

Currently we hard code the ports for lightning apps with the following snippet:

`APP_SERVER_PORT = 7501` from the constants.py [here
](https://github.com/Lightning-AI/lightning/blob/933848dc05a0698eb5cd5a39216fd175f5e1b920/src/lightning_app/core/constants.py#L16)

### To Reproduce
Try running more than 1 lightning app at a time

### Expected behavior
You're allowed to run more than one

[2022-07-11 15:43] gbeltramo commented on #709
I get the same error if I try to run the "Train a model (basic)" https://pytorch-lightning.readthedocs.io/en/latest/model/train_model_basic.html code after installing pytorch-lightning with `conda install pytorch-lightning -c conda-forge`

To fix the problem I had to run

[code]

[2022-07-11 17:01] casparvl opened #13605 "`_is_slurm_managing_tasks(self)` incorrectly returns `False` when using SLURM's `--gpu-bind=closest`"
## 🐛 Bug && steps to reproduce

I'm running the standard `boring_model` (or any model), with some minor changes to the arguments:

[code]

 on our SLURM cluster like so:

[code]

however, it seems to spawns 8 processes: 4 'worlds' of size two. While running, each GPU is running two processes. I also don't see "Multiprocessing is handled by SLURM" in the output, which is expected from [here](https:

[2022-07-11 17:14] mikcnt opened #13607 "LightningCLI: Variable interpolation and command line arguments"
## 🐛 Bug

Hi! I'm not sure this is actually a bug or if the one doing something wrong, but here's the problem.

I'm using OmegaConf’s variable interpolation to link one parameter in the configuration file to a second one, which I want to provide with the command line. The problem is that, when using the command line to provide one of the two parameters, the second one, linked to the first one with

[2022-07-11 19:45] mikcnt commented on #13607
@lodo1995 Thanks a lot for pointing that out! I honestly didn't notice that, that's unfortunate 😭 Do you happen to know if there is some workaround for that?

[2022-07-11 20:28] lodo1995 commented on #13607
@mikcnt I guess there must be a smart way to abuse argument linking to achieve what you want, but I'm not sure how.

Alternatively, you can "brute force" it by overriding `before_instantiate_classes`, manually looking for the pattern `${*}` in every string argument and doing the appropriate lookup and replacement based on other arguments. Watch out for infinite recursion if you try this!

But no,

[2022-07-11 21:12] carmocca commented on #13577
Hi!

The `save_hyperparameters` functionality is completely unrelated to the `LightningCLI`, in fact, the CLI config includes it and makes it redundant.

There are not plans to unify them at the moment. The suggested workaround looks valid to me if that is desired.

However, if we want to include these arguments in the logger's views, it should be done by having the loggers look for the config fil

[2022-07-11 21:16] carmocca commented on #13569
We try to avoid that the users have to import and use these internal structures. However, we could make it so we check if the dictionary already has `reduce_lr_on_plateau` set and use the existing value if so.

Would you like to work on a PR with that adds support for this?

[2022-07-11 21:19] carmocca commented on #12888
Can you provide a reproducible script showing the issue? You can adapt this file:

https://github.com/Lightning-AI/lightning/blob/master/examples/pl_bug_report/bug_report_model.py

[2022-07-11 21:21] carmocca commented on #12936
I believe this is a duplicate of https://github.com/Lightning-AI/lightning/issues/13211. Which was implemented and will be available in PL 1.7

[2022-07-11 21:21] #12936 closed

[2022-07-11 21:40] carmocca commented on #13163
Duplicate of #12274

[2022-07-11 21:40] #13163 closed

[2022-07-11 21:40] awaelchli commented on #13605
Hi @casparvl
This is the implementation of _is_slurm_managing_tasks and yes, it needs to return True for your job to be launched correctly.

[code]

Can you tell me which of these conditions return the wrong value? Please print the following values:

isinstance(trainer.strategy.cluster_environment, SLURMEnvironment)  # True
SLURMEnvironment.detect()  # True
SLURMEnvironment.job_name()  # should no

[2022-07-11 21:41] yashpatel5400 commented on #5243
Also looking for a patch for this! (My use case is pretty much exactly what @kazimpal87 described above)

[2022-07-11 22:01] #13228 closed

[2022-07-11 22:22] thongonary commented on #13567
Looks like the suggested fix is what we're supposed to do in the first place.

Per Azure documentation https://docs.microsoft.com/en-us/azure/machine-learning/how-to-train-distributed-gpu
[code]

[2022-07-11 22:32] carmocca commented on #13372
If a bug is fixed in master and you want to work on a fix specifically for the https://github.com/Lightning-AI/lightning/tree/release/stable branch, you can open a PR targeting it directly.

True, but these changes include breaking changes, such as changing the minimum required jsonargparse version. So we try to avoid those as much as possible on the bugfix branches.

Not between patch releases (m

[2022-07-11 22:33] #13372 closed

[2022-07-11 23:47] sgschwindAMD opened #13609 "Adding a Dockerfile to support Lightning on ROCm and AMD GPUs"
## 🚀 Feature

 The proposed feature would be the addition of a Dockerfile to the directory lightning/dockers that builds Lightning for ROCm.

### Motivation

 The motivation would be ease of use for people wanting to work with Lightning who use ROCm and AMD GPUs.

### Pitch

 The simple addition of a Dockerfile that builds Lightning for ROCm. This Dockerfile would be building upon the latest ROCm

[2022-07-12 05:19] mauvilsa commented on #13607
@mikcnt with your example using `foo` and `bar` it is not known what was the real use case behind it. Could you please your actual case? There are many cases in which [link_arguments](https://pytorch-lightning.readthedocs.io/en/stable/common/lightning_cli.html#argument-linking) should be used, but people go for variable interpolation because it is a better known concept.

[2022-07-12 06:06] BongYang commented on #13445
@otaj
Hi! I want to try to work `pytorch_lightning/callbacks/model_checkpoint.py`

[2022-07-12 07:31] otaj commented on #13445
@BongYang Thank you, added you to the master comment :)

[2022-07-12 07:39] charlesxu90 commented on #13588
Hi @akihironitta, thanks for the advice. I'll check this minGPT implementation.

BTW, do you have any suggestions for Reformer or Performer implementations using Lightning. I'm trying to implement such efficient attentions in GPT.

Best regards,

[2022-07-12 07:42] One-sixth opened #13612 "When pytorch 1.12 resumes ckpt training, it reports an error."
## 🐛 Bug

The current latest pytorch-lightning release still has this issue.
The pytorch v1.12 optimizer includes a new variable, "capturable", which checks the optimizer state on the device at runtime.

This bug comes from https://github.com/Lightning-AI/lightning/blob/master/src/pytorch_lightning/utilities/optimizer.py#L30-L33
I currently replaced it with the following, which temporarily fixed t

[2022-07-12 08:21] mikcnt commented on #13607
@lodo1995 thanks a lot for the tips! I'll try something out, even though I still want to keep things simple.

@mauvilsa Sure, my example isn't really explanatory. My use case is similar to the the first example of https://github.com/Lightning-AI/lightning/issues/13558. Basically, I want to provide one single parameter through the command line (let's say the name of the experiment), and I want to b

[2022-07-12 09:08] #13471 closed

[2022-07-12 09:30] justusschock commented on #13609
Hi @sgschwindAMD ,

thank you for this issue and your contribution. Personally, I would really like to have this, but I fear that this would look too much like we officially support it. Unfortunately, We cannot do that as of now, since we do need to setup a CI pipeline first so that we can actually verify that PL works well with ROCM (I assume it does, but cannot verify).

So I would really much l

[2022-07-12 09:37] rohitgr7 commented on #13434
[code]
if it's blocking, wouldn't in start from the `self.read_file.run()` in the next subsequent run calls? because the status is not set until `self.read_file.run()` is called. I need to know about it to stop the further execution in the flow if it fails.

[2022-07-12 09:45] #12274 closed

[2022-07-12 10:20] carmocca commented on #13596
This is caused by the model being on `eval()` mode during validation!

[2022-07-12 10:20] #13596 closed

[2022-07-12 10:23] otaj commented on #13445
@donlapark thank you! Added you to the list!

Regarding `mypy` command, you're absolutely right! I knew about that PR and made a mental note to update the instructions here once it gets merged, however it seems I missed it :) The instructions are now updated :)

[2022-07-12 10:25] zlenyk commented on #13500
We are experiencing lower accuracy of models trained with fsdp as opposed to ddp, do you think that could be the same underlying issue?

[2022-07-12 10:26] YerePhy commented on #13596
Yes, you're right, sorry!

[2022-07-12 10:28] carmocca commented on #13609
I agree with @justusschock's reasoning. We would like to have some degree of confidence in the integration first.

@sgschwindAMD would you be able to try running the test suite on a machine with AMD GPUs? That would be a good first step to get a feel for what works and what doesn't. This would be similar to how we've added support for the MPS accelerator since there are no CI providers for it curr

[2022-07-12 10:41] blefaudeux commented on #11933
That's great, thanks so much @SeanNaren ! The memory benefits are huge, for a similar speed it's still very useful. Cc @matthieutphr @quentindrx

[2022-07-12 14:58] casparvl commented on #13605
Hey @awaelchli ,

Sorry, I must have not explained my issue clearly - I actually know what is going wrong. In the `_is_slurm_managing_tasks(self)` function, the issue is that `self._parallel_devices` is `2`, while `os.environ["SLURM_NTASKS"]` is `4`. This then causes `total_requested_devices` to be `2`, and `num_slurm_tasks` to be `4`, which is why a `False` is returned.

What I tried to trace bac

[2022-07-12 15:47] StatQuest opened #13627 "Lightning Docs for installing anaconda version of lightning does not work"
I followed the code here for installing lightning via Anaconda:

https://lightning.ai/lightning-docs/

conda install lightning -c conda-forge

...and I get this error...

(base) joshs-imac:~ joshstarmer$ conda install lightning -c conda-forge
Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting pac

[2022-07-12 16:28] jessecambon commented on #13567
@thongonary were you able to get this fix to work? When I try to insert it into `LightningModule.setup()` it hangs. I then tried calling this function in the main script body before the trainer is created and it caused this error on my 2nd node (in a 3 node setup):

[code]

[2022-07-12 16:48] awaelchli commented on #13627
@StatQuest
Do our docs somewhere mention the installation using conda forge?
Replace

[code]

with

[code]

and this should bring you one step closer :)

[2022-07-12 16:49] BaruchG commented on #13320
@LucaButera Is this something you are still working on?  I'd be happy to take over if you didn't have the bandwidth.

[2022-07-12 17:38] zippeurfou commented on #13627
Yes it does @awaelchli
<img width="847" alt="Screen Shot 2022-07-12 at 7 36 36 PM" src="https://user-images.githubusercontent.com/4520383/178556880-d5e9b509-f421-403d-a15e-061c5eb778fc.png">
@tchaton mentioned removing it for now until @Borda fix it :D

[2022-07-12 18:14] awaelchli commented on #13627
Unless we actually plan to have an image on conda forge, I suggest we remove it asap.

[2022-07-12 19:02] StatQuest commented on #13627
Great thank you very much! :)

[2022-07-12 22:05] thongonary commented on #13567
Yeah sorry @jessecambon I did not test it properly before posting. Indeed `OMPI_COMM_WORLD_LOCAL_RANK` is blank in AML PyTorch environment so it does not make sense to set `os.environ["LOCAL_RANK"] = os.environ["OMPI_COMM_WORLD_LOCAL_RANK"]` as in the Azure doc.

[2022-07-13 00:34] carmocca commented on #12521
Closing. All the items are taken (some yet to be merged). Thank you all for your help!

[2022-07-13 00:34] #12521 closed

[2022-07-13 01:53] akihironitta commented on #13588
Unfortunately, I'm not aware of specific PL implementations for either of them.

Feel free to reopen this issue if the issue still persists or to create a new issue if any different issue arises.

[2022-07-13 01:53] #13588 closed

[2022-07-13 09:07] LucaButera commented on #13320
@BaruchG Thanks for asking, however I think this is already fixed in 1.6.5, as I am not able to reproduce the bug anymore.
@carmocca can you confirm this?
If that is the case I think the issue can be marked as solved, maybe linking the PR that solved it.