[2022-04-12 13:05] ti-ginkgo opened #12730 "[RFC] Discrepancies in [evaluation/prediction]_loop"
## Proposed refactor

- [x] 1. There is a subtle difference in the way that methods are created within the evaluation loop and prediction loop as below.

- [on_run_start in prediction_loop.py](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/loops/dataloader/prediction_loop.py#L82-L84)
- [on_run_start in evaluation_loop.py](https://github.com/PyTorchLightning/pyt

[2022-04-12 13:16] carmocca commented on #12647
I would personally advocate for the approach followed with the Bagua integration.
Meaning that we only keep the PL components (the strategy) with their specific unit tests.

Pros:
- Faster development on collaborative specific internals
- Splits CI time
- PL components stay up-to-date as they are in the repo
- Well-defined responsibilities per repo (system-like design)

Cons:
- Needs more effort i

[2022-04-12 14:03] tanmoyio commented on #10499
@rohitgr7 I want to work on it,

[2022-04-12 15:01] akihironitta commented on #10499
Hi @tanmoyio! That'll be great! Assigned this issue to you :)

[2022-04-12 15:08] akihironitta commented on #12119
Hi @tanmoyio! That'll be great! Thank you :)

[2022-04-12 15:15] carmocca commented on #12730
Hi @ti-ginkgo! Thanks for the critical eye.

You can go ahead and open 3 separate PRs for these 3 separate things!

[2022-04-12 18:09] yozhikoff commented on #4956
It seems returning `None` in `training_step` is a bad idea when using AMP. I am using the `native` backend and for me it causes gradient scaler issues.
Interestingly it fails only on GPU, on CPU everything works just fine.

Should I submit a bug report?

[2022-04-12 18:27] codestar12 commented on #11538
do you want to remove all ToDevice(device)? I'm a bit confused because I've mostly been able to ignore manually controlling device placement since switching to PyTorch lightning.

[2022-04-12 18:38] siddk opened #12733 "Integrate Colossal.AI Engine"
## 🚀 Feature

Similar to the DeepSpeed/FairScale integrations, it'd be really cool for PyTorch Lightning to expose an API for integrating [Colossal.AI](https://github.com/hpcaitech/ColossalAI).

### Motivation

Having 3D parallelism and other optimizations as a simple plugin for PyTorch Lightning would make scaling large models super easy!

### Pitch

Colossal AI exposes a simple engine-based API

[2022-04-12 19:02] george-gca opened #12734 "Unable to create comet logger when using pytorch lightning cli."
## 🐛 Bug

Unable to create comet logger when using pytorch lightning cli.

### To Reproduce
https://colab.research.google.com/drive/1cvEyYHceKjunKpcGY39oFrinWnIVydJV?usp=sharing

### Expected behavior
Run model.

### Environment

* CUDA:
	- GPU:
		- Tesla T4
	- available:         True
	- version:           11.1
* Packages:
	- numpy:             1.21.5
	- pyTorch_debug:     False
	- pyTorch_version

[2022-04-12 20:43] ZhaofengWu opened #12736 "ModelSummary ignores nn.Parameter"
## 🐛 Bug

I don't know if this is a bug of a feature, but currently ModelSummary only reports member `nn.Module`s and ignores `nn.Parameter`s that are directly created. I believe these parameters are an important part (and sometimes, a big part in terms of the number of weights) of the model so that they should be reported.

cc @borda @kaushikb11 @awaelchli @rohitgr7

[2022-04-12 21:00] DavidMChan opened #12737 "Suggestion: Alter LoggingConnector default TensorboardLogger when trainer.default_root_dir is specified"
## Proposed refactor

In the LoggerConnector, replace;
[code]

with
[code]

### Motivation

Traditionally, the default logger structure will produce files that look like:
[code]

When default_root_dir is specified, however, this causes a somewhat unintuitive behavior, as it inserts an extra 'lightning_logs' on top of the expected root directory:
[code]

making this change alters the log directory

[2022-04-12 21:16] tanmoyio commented on #10499
@akihironitta so `core/lightning.py` -> `core/modules.py` ?
won't it affect the tests ?

[2022-04-12 21:29] ananthsub opened #12738 "[RFC] Is `fast_dev_run` still needed?"
## Proposed refactor

### Motivation

This was feedback from a user:

The issue was that within the checkpoint callback, we do not create a checkpoint directory if `fast_dev_run` is used. It is not obvious at all to users what this flag does based on the documentation. I had to grep through the Lightning codebase to see where all `fast_dev_run` takes effect. The ambiguity makes it hard to reason a

[2022-04-13 00:39] Smu-Tan commented on #11361
@SeanNaren Any update? Im using mBart with ShardedDDP and got the same error.

[2022-04-13 02:46] Borda opened #12743 "[RFC] upstream demo MNIST to PL"
## 🚀 Feature

Let's upstream a simple MNISTT demo from tests/helpers to the PL package.

### Motivation

Allow users to have a simple example as part of the distribution.
We still have `pl_examples,` but many users know about it

### Pitch

Facilitate first touch/steps with PL

### Alternatives

move it to `pl_examples`

### Additional context

_____________________________________________________

[2022-04-13 06:50] ankitvad commented on #5145
Hi, thanks a lot for the code sample! :) I wanted to ask about this line that you used:
[code]
When you mention - here we may want to use DIstributedSampler? It doesn't seem you ended up using it in the code sample you provided? Does PL work as expected with multi-gpu and ddp when using the code sample you suggested above?
I see that there are a few other comments that talk about this and if the d

[2022-04-13 07:49] dsethz commented on #3071
Still happening for me
[code]

[2022-04-13 09:13] rohitgr7 commented on #12743
I think we have it here: https://github.com/PyTorchLightning/pytorch-lightning/tree/master/pl_examples/basic_examples/mnist_examples

[2022-04-13 09:25] SeanNaren commented on #12647
Thank @justusschock!

It does allow elastic training, and we in fact have a long training run going on across spot instance machines to prove this! Once the strategy has been merged the goal is to share the code to show how this works (but all of the techniques are in the strategy/docs already!)

The simplest approach is to spawn a `hivemind.DHT` in your own service/process, and request initial pe

[2022-04-13 10:11] wisecornelius opened #12746 "Doc Error in the benchmark Trainer flag"
## 📚 Documentation

The documentation for the benchmark Trainer flag (https://pytorch-lightning.readthedocs.io/en/latest/common/trainer.html#benchmark) mentions it sets:
`torch.backends.cudnn.deterministic`
but it should be `torch.backends.cudnn.benchmark`. This is mentioned correctly in the Trainer API doc. (https://pytorch-lightning.readthedocs.io/en/latest/common/trainer.html#init)

I am not pr

[2022-04-13 10:42] #12558 closed

[2022-04-13 12:46] razimgit commented on #12724
Same here!

[2022-04-13 16:22] carmocca opened #12748 "WandbLogger `save_dir` should be set after creation"
## 🐛 Bug

Save dir is not defined on instantiation as the docs suggest: https://github.com/PyTorchLightning/pytorch-lightning/blob/16b958095849e5c03805918d66bf4a7e1d32da44/pytorch_lightning/loggers/wandb.py#L221 https://github.com/PyTorchLightning/pytorch-lightning/blob/16b958095849e5c03805918d66bf4a7e1d32da44/pytorch_lightning/loggers/wandb.py#L305

### To Reproduce

[code]

### Expected behavior

[2022-04-13 16:37] #9876 closed

[2022-04-13 16:47] manangoel99 commented on #12748
@carmocca thanks for pointing this out. I think we'll change how `save_dir` behaves in the next release as discussed in #12604 . The default value being None is brining up a bunch of issues in other places as well so we can keep it the same as the project since that is a required argument.
However, to make sure no existing workflows break meanwhile a deprecation warning will be raised that the beh

[2022-04-13 16:50] ethanfurman opened #12749 "Improve `LightningEnum` and its deprecation"
## Proposed refactor

- Use the built-in `Enum` capabilities to make `LightningEnum` simpler.
- Modify and rename the `_OnAccessEnumMeta` type to only call a `deprecate()` method (it's not used for anything else.
- Create a `DeprecatedEnum` base class and use that instead of constantly setting `metaclass=...` on deprecated enums.
- Correct attribution for `_OnAccessEnumMeta` (current attribution i

[2022-04-13 17:35] rohitgr7 commented on #12738
personally, I like this flag and won't consider removing it, but agree that it doesn't enable complete unit-testing. With checkpoint disabled, it just doesn't disable checkpoint callback, but checkpointIO, custom loggers, etc.

but still, these are some specific cases, fast_dev_run is still handy flag.

[2022-04-13 17:35] carmocca commented on #12738
IMO this is entirely a docs issue. https://pytorch-lightning.readthedocs.io/en/latest/common/trainer.html#fast-dev-run should describe all the things it enables or disables

[2022-04-13 17:36] rohitgr7 commented on #12738
I think it does in the `note`.

[2022-04-13 17:59] justusschock commented on #12738
I agree that we shouldn't remove it, but maybe reconsider what is triggered and what not based on the description @ananthsub gave

[2022-04-13 18:10] williamFalcon commented on #12738
yeah, i want to keep this.
if we need to expand the functionality then we should do that.

but yes, non expert users aren't going to know to turn these 2-5 things on to get this effect.

this is like a "shortcut" more than anything else.

so, maybe the action item is to make sure we add these other things to fast_dev_run

[2022-04-13 18:24] carmocca commented on #12738
We skip those that would create undesired effects in future runs. You don't want the `fast_dev_run` run to pollute the logger or checkpoint directories.

[2022-04-13 22:31] JasonTam commented on #10348
@schiegl @carmocca
fwiw, I was also facing this issue on 1.6.0
Downgrading to 1.5.3 fixed it for me though.

[2022-04-13 22:36] awaelchli opened #12752 "Utility function `_compare_version` does not compare Python version correctly"
## 🐛 Bug

### To Reproduce

Open a Python environment with Python >= 3.8
Run the following code:

[code]

### Expected behavior

The above code should return True.

### Environment
* CUDA:
        - GPU:
        - available:         False
        - version:           None
* Packages:
        - numpy:             1.22.3
        - pyTorch_debug:     False
        - pyTorch_version:   1.11.0

[2022-04-14 01:09] tshu-w commented on #12734
see https://github.com/PyTorchLightning/pytorch-lightning/issues/12529 and https://github.com/PyTorchLightning/pytorch-lightning/issues/12714

[2022-04-14 01:12] Borda commented on #12752
It is kind of expected, and so badly communicated t user/dev this version compare applies only to python packages not python as interpreter itself... this would need to e added to the func scope

[2022-04-14 03:49] Django-Jiang opened #12753 "pytorch_lightning.utilities.imports error"
## 🐛 Bug

### To Reproduce

[code]

``
### Expected behavior

### Environment
[code]

### Additional context

[2022-04-14 07:29] awaelchli commented on #12753
Interesting! I think this is definitely the cause of #12752. Funny that we opened these related issues almost at the same time.
Thanks for reporting!

[2022-04-14 07:31] awaelchli commented on #12752
This is caused by #12753

@Borda I can reproduce the same outside the Python interpreter, in a regular script invoked via python.

[2022-04-14 07:33] awaelchli commented on #12752
`_PYTHON_GREATER_EQUAL_3_8_0` is used only internally in our tests, so it doesn't affect users. Not a priority just wanted to point this out as I saw a need for this recently when wanting to write a test.

[2022-04-14 08:08] awaelchli commented on #12738
I agree with the doc improvements on this one and the PR that @carmocca has put together. If we look at the list there, it becomes clear that a shorthand flag like this is needed, as manually flipping the switches on all these arguments is an inconvenience.

Another perspective: Callbacks that produce artifacts or provide unit-test functionality can check for the trainer.fast_dev_run to be set and

[2022-04-14 08:29] mnslarcher opened #12756 "UserWarning: The flag devices=-1 will be ignored"
## 🐛 Bug

I use this configuration Trainer(accelerator="gpu", devices=-1, auto_select_gpus=False) as suggested by the doc but I get:

UserWarning: The flag devices=-1 will be ignored, instead the device specific number 1

Even if on my AWS p3.x8large I have 4 GPUs:

[2022-03-31 10:29:41,160][pytorch_lightning.accelerators.gpu][INFO] - LOCAL_RANK: 0 - CUDA_VISIBLE_DEVICES: [0,1,2,3]

### Expected b

[2022-04-14 08:38] MathVast opened #12757 "Training doesn't stop on Colab / TPU"
## 🐛 Bug

When training a model on Colab using TPU, I have noticed that event after completion, training doesn't stop properly and needs to be shutdown. I suspect the problem might come from the main process that keeps running while its child processes are alive and that for some reason, the child processes aren't terminated after training is done or at least, main process isn't able to receive th

[2022-04-14 09:19] #12691 closed

[2022-04-14 09:35] akihironitta commented on #12743
Do you mean to have it inside the package and enable users to run something like this? or anything else?
[code]

[2022-04-14 09:58] Toekan opened #12759 "LightningCLI does not overwrite optimizer defined in LightningModule"
## 🐛 Bug

Hi,

First of all, thanks for the great work creating pytorch lightning. Lately I've been using the LightningCLI functionality and it really cut down a lot of boilerplate code and made the CLI easier to use. So thanks for that!

Unfortunately I found one detail where I either don't understand the documentation well, or the behaviour is not as intended: the optimizer defined in configurat

[2022-04-14 11:15] semaphore-egg commented on #12759
Explanations from [here](https://github.com/PyTorchLightning/pytorch-lightning/blob/1a6979ddf1c00c516d08f8eaef97cbba61514bef/pytorch_lightning/utilities/cli.py#L507) .

It is intended, though it seems a little bit counterintuitive to the desired effect that the final command should have the top priority.

Current suggested [usage](https://pytorch-lightning.readthedocs.io/en/latest/common/lightning

[2022-04-14 14:09] scottgigante-immunai opened #12760 "PyTorch Profiler docs are out of date"
## 📚 Documentation

Tips on how to run the PyTorch profiler in the [lightning docs](https://pytorch-lightning.readthedocs.io/en/stable/advanced/profiler.html#pytorch-profiler) are only relevant for the legacy profiler.

Details on the modern pytorch profiler (which integrates with tensorboard) are [here](https://pytorch.org/blog/introducing-pytorch-profiler-the-new-and-improved-performance-tool/).

[2022-04-14 16:10] justusschock commented on #12733
Hey @siddk that would be awesome. Would you be interested to contribute? I believe that you are right and the integration should be very similar to DeepSpeed. Maybe it is even possible to factor out some common utilities.

We would really appreciate your contribution and definitely help you to iterate over an initial PR :)

[2022-04-14 16:39] pietrolesci opened #12765 "Metrics and multiple validation/test dataloaders"
As discussed on slack with @justusschock, it would be nice to make explicit the behavior of torchmetrics when used with multiple dataloaders.

From @justusschock:

What PL does there internally, is that it just caches the metric object to log and for multiple dataloaders it would still cache the same object (since you don’t have different objects per loader). The metric’s internal state however wo

[2022-04-14 16:48] siddk commented on #12733
Hey @justusschock - I wish I had the time, but this would be a high-value feature for both some of the work we're doing on training large models at Stanford (https://crfm.stanford.edu/), and a crucial part of several large-scale projects.

If there was 1-2 members of the team (or other contributors), I'd definitely be down to help test, and provide feedback, I just don't think I'd be able to take

[2022-04-14 18:02] codestar12 commented on #11538
I have actually been having a lot of trouble getting this to work with DDP and multiple GPUs. What is the best way to get the GPU rank from a lighting data module? Their data loader seems pretty opinionated about these transforms and really wants to move it to the device.

[2022-04-14 22:33] #12752 closed

[2022-04-14 22:33] #12753 closed

[2022-04-15 00:18] rasbt opened #12767 "pytorch_lightning.trainer.trainer.Trainer.validate() -- redundant trainer.trainer reference?"
Is the double `trainer.trainer` intentional [here](https://pytorch-lightning.readthedocs.io/en/latest/api/pytorch_lightning.trainer.trainer.Trainer.html#pytorch_lightning.trainer.trainer.Trainer.validate), or is it a Sphinx import artifact?

![Screen Shot 2022-04-14 at 7 16 53 PM](https://user-images.githubusercontent.com/5618407/163496373-54dee8c9-5b74-4cec-92c0-0e95ae1afde8.png)

cc @borda @rohi

[2022-04-15 02:20] dw-dengwei commented on #4705
[code]
and kill the processes listed above via pid.

In my computer, the process is nvidia-smi. I don't know why the issue happen. But I really solve it in my compter.

Hope it is helpful.

[2022-04-15 04:55] tsuga opened #12768 "tuner.scale_batch_size does not update DataModule hparams"
## 🐛 Bug

`tuner.scale_batch_size` finds the suitable batch size and update the batch size of the model AND datamodule.
For the model, `tuner.scale_batch_size` updates the batch size in the model regardless of `model.batch_size` and `model.hparams.batch_size`.

However, for the datamodule, `tuner.scale_batch_size` updates `datamodule.batch_size` only, and keep `datamodule.hparams.batch_size` uncha

[2022-04-15 11:27] HenryLau0220 opened #12770 "ModelCheckpoint can't work properly with filename which contains named formatting options containing dots"
## 🐛 Bug

pytorch_lightning.callbacks.ModelCheckpoint  can't work properly with filename which contains named formatting options containing dots like this: filename="epoch={epoch}-mAP@0.50={val/mAP@0.50:.4f}"

### To Reproduce

[code]

[code]

[code]

### Environment

- PyTorch Lightning Version:1.5.10
- PyTorch Version:1.9.0
- Python version:3.7
- OS: Ubuntu20.04
- CUDA/cuDNN version:cuda11.1/cud

[2022-04-15 11:58] #12564 closed

[2022-04-15 12:01] vumichien commented on #12521
I'll take `LightningDataModule.dims` and `LightningDataModule(dims=...)`

[2022-04-15 12:10] awaelchli commented on #5145
PyTorchLightning currently has the ability to replace the sampler for you and make a distributed sampler, but not when
- it is a custom sampler or
- when the dataloader has a batch sampler

In the code sample above, you, the user, would have to replace the sequential sampler with a DistributedSampler sampler yourself:

[code]

[2022-04-15 12:13] #12572 closed

[2022-04-15 12:13] ankitvad commented on #5145
So basically with a custom sampler and using multi-gpu training, we would need to use the `DistributedSampler`?

[2022-04-15 12:19] awaelchli commented on #5145
Yes, otherwise the batch sampler on each device would "see" the same samples.

[2022-04-15 12:20] rschireman commented on #12521
I'll follow up #12763 by taking `LightningDataModule.test_transforms`

[2022-04-15 12:23] ankitvad commented on #5145
That makes sense! Thanks a lot! :)
I think I updated my comment but you might have missed that!
Is an `IterationBasedBatchSampler` also necessary?

[2022-04-15 12:28] awaelchli commented on #5145
Is an IterationBasedBatchSampler also necessary?

This was the custom sampler in the question from @chagmgang. So my code sample is just referencing that. Their code was just taking an existing batch sampler and wrapping it into another one.

[2022-04-15 14:43] vumichien commented on #12521
Hi @akihironitta, I think I have to take  `LightningDataModule.size` as well because `LightningDataModule.size` will call dim variable. How do you think about it?
https://github.com/PyTorchLightning/pytorch-lightning/blob/ae3226ced96e2bc7e62f298d532aaf2290e6ef34/pytorch_lightning/core/datamodule.py#L128-L139

[2022-04-15 15:37] Borda opened #12774 "train in ipynb with accelerator="auto" failed"
## 🐛 Bug

Is expected to run auto mode of PL Trainer in ipython notebook on a machine that has two GPUs?

### To Reproduce

Run a Trainer with

[code]

In a Jupyter notebook cell.

[code]

### Expected behavior

just take the best supported and run, no crashing

### Environment

- PyTorch Lightning Version (e.g., 1.5.0):
- PyTorch Version (e.g., 1.10):
- Python version (e.g., 3.9):
- OS (e.g., Lin

[2022-04-15 16:53] awaelchli commented on #12774
For `accelerator="auto", devices="auto"` we didn't consider that in Jupyter notebooks, we need a different default for the strategy. So in this sense, strategy should also be selected automatically. For multi-gpu in notebooks, only `strategy="dp"` works here. So if we want to support that, we would need to add a condition to the AcceleratorConnector.

[2022-04-15 22:15] awaelchli commented on #12767
Thanks for spotting this formatting issue. Prefixing this with a tilde (~) will properly hide the long path and only link the method.

[2022-04-15 22:23] awaelchli commented on #12760
Thanks for letting us know @scottgigante-immunai
Are you interested helping us improve these docs?

[2022-04-15 22:38] awaelchli commented on #12756
@mnslarcher Is it possible you used

[code]

instead of what you wrote here? I can only reproduce it this way (did not run on sagemaker) and the warning would be appropriate here, because the numbers are conflicting each other.

The usage
[code]

is correct.

[2022-04-15 22:39] scottgigante-immunai commented on #12760
Unfortunately not something I have time for, sorry! Appreciate all of your work 🙏

[2022-04-15 22:50] awaelchli commented on #12736
Hey @ZhaofengWu

Happy to see you find the model summary useful!
I looked at this very briefly now. With the following code I get:

[code]

[code]

We can see that the correct amount of parameters are getting reported (10 trainable parameters). Perhaps the size in MB is wrong.

Are you suggesting to include the nn.Parameter as a separate row in the table?

[2022-04-15 22:54] awaelchli commented on #12734
This was fixed and included in the 1.6.1 release. Could you try upgrading lightning? `pip install --upgrade pytorch-lightning`

[2022-04-15 22:54] #12734 closed

[2022-04-16 00:41] ZhaofengWu commented on #12736
That's probably just a rounding thing?

Yes. It's a bit confusing that the individual param counts don't add up to the total number as well.

[2022-04-16 00:42] ZhaofengWu commented on #12736
But definitely not a huge issue and probably has low priority.

[2022-04-16 02:33] jgbos opened #12779 "Trainer.status set after call to Strategy.launch"
I was looking at making a custom DDP launcher and noticed that `Trainer.status` is no longer set so that I know whether we are fitting or testing in `_call_children_scripts`.  Could we get the trainer status set before this call?

cc @borda @justusschock @awaelchli @ninginthecloud @rohitgr7

[2022-04-16 06:20] mnslarcher commented on #12756
You are right @awaelchli , to simplify (aka I'm using devices=-1 and the GPU accellerator) I leaved out details that maybe are important. No, I don't use gpu=2 or another number, in this moment I have gpu=None (null below because is a YAML).

I use Hydra, this is my full config, I didn't change gpus/accelerator/devices from the command line.

[code]

[2022-04-16 09:44] circlecrystal commented on #12724
Even for 1.6.1, this bug is still unsolved.

[2022-04-16 11:01] awaelchli commented on #12779
Hey @jgbos

I believe your request is totally reasonable, however I think it doesn't fit our current design very well. What if you checked the function that gets passed into the launcher? A lookup like this should work:

def launch(self, function, *args, **kwargs):
    if function.__name__ == "_fit_impl":
        # do something when fit is called
    if function.__name__ == "_validate_impl":

[2022-04-16 11:21] awaelchli commented on #12770
Hello
Breaking this down, this fails when doing string formatting like so:

[code]

[code]
The dot in the key of the metric is not supported when string formatting.
Here is a better explanation: https://stackoverflow.com/a/23909682

We may want to validate against these names in advance to warn or error to the user.

[2022-04-16 11:28] awaelchli commented on #12768
It makes sense to supports this now. Previously, this was not necessary/possible because we didn't have the `save_hyperparameters` support in DataModule. Now that we have, we should modify the[ `_lightning_get_all_attr_holders`](https://github.com/PyTorchLightning/pytorch-lightning/blob/ae3226ced96e2bc7e62f298d532aaf2290e6ef34/pytorch_lightning/utilities/parsing.py#L302-L326) function to support t

[2022-04-16 11:35] awaelchli commented on #12749
@ethanfurman Is this fixing a recursion error you mention?
Would it be better to mark this as a bugfix and include it in 1.6.x?
cc @carmocca

[2022-04-16 11:41] awaelchli commented on #12668
Hello @lihui-w
Which version of Lightning are you using here?

The warning you are seeing is caused by calling self.log() with an element where it is ambiguous to extract the batch size. It might be that the batch size you are seeing is wrong because it couldn't be extracted properly. However, there were changes and fixes regarding that behavior in recent PL versions (cc @rohitgr7 I believe) which

[2022-04-16 11:42] tshu-w commented on #6789
active

[2022-04-16 11:44] awaelchli commented on #12678
Hello
Thanks for reporting this.
My hunch is, what is happening here is simply because the argparser converts your integer inputs to floats. The implementation probably needs to be come a bit smarter here.

[2022-04-16 18:46] rvalieris commented on #12592
I think I'm seeing the same error when I try to call fit() more than once:
[code]

to workaround I reset the progressbar callback:
`trainer.callbacks[0] = pl.callbacks.RichProgressBar() # assuming its the first one`

[2022-04-16 19:08] rschireman commented on #12521
I'll keep going down the list, I'll start working on `LightningDataModule.size`

[2022-04-16 23:04] rohan-paul opened #12784 "Can not import in pytorch_lightning in ubuntu"
## 🐛 Bug

### To Reproduce
I did `pip install pytorch-lightning`

and then

[code]
Got below error, and which persists even after I uninstalled psutil and re-installed psutil

[code]

[2022-04-16 23:14] vumichien commented on #12521
Hi @rschireman, I have made PR with `LightningDataModule.size` and `LightningDataModule.dims`, so please work with another one. If you work with `LightningDataModule.size`, I have to revert my work. Thank you for your understanding.

[2022-04-16 23:29] rschireman commented on #12521
@vumichien sounds great, I'll work on something else, sorry for the confusion!

[2022-04-17 09:45] tsuga commented on #12768
@awaelchli Thank you for your attention. I understand the historical background of this.
Unfortunately, I'm new to the code base hence I'm happy to get this done by new contributors.

[2022-04-17 11:24] Borda commented on #12367
implemented in #12675

[2022-04-17 11:24] #12367 closed

[2022-04-17 15:57] tanmoyio commented on #12768
@tsuga I am new to the code base, if you haven't started working on it already, then may be I can try.
cc @awaelchli

[2022-04-17 16:25] awaelchli commented on #12768
Thanks, very nice! Yes please go ahead :)

[2022-04-17 16:28] awaelchli commented on #12784
It looks like you have wandb installed, but wandb can't be imported.
Can you confirm, if you
[code]
you get the same error?

You could try uninstalling wandb and try import pytorch lightning again.

[2022-04-17 17:00] awaelchli opened #12786 "Reduce the import time of pytorch_lightning"
## Proposed refactor

The current import time for the pytorch_lightning package on my machine is several seconds. There are some opportunities to improve this.

### Motivation

High import times have an impact on the development and debugging speed.

### Benchmark

I benchmarked the import time in two environments:
1. Fresh environment with pytorch lightning installed, no extras.
2. My currrent en

[2022-04-17 17:58] awaelchli commented on #12786
@carmocca @Borda Let me know if you think this issue is worth to consider. I observed this already in "Project X" with bigger impact due to its dependencies, and was able to fix it with the above approach.

[2022-04-17 18:26] amorehead commented on #12724
Same issue here.

[2022-04-17 18:29] ductai199x opened #12787 "Incorrect progress rate (steps/iter) in TQDM Progress bar"
## 🐛 Bug

The new TQDM Progress Bar update (from 1.5.0 to 1.6.1) seemed to have broken the progress rate (steps/iter) - shown below

![pytorch-lightning bug](https://user-images.githubusercontent.com/29772899/163727275-5eba0781-0303-490c-a079-ee4e74552993.gif)

### To Reproduce

Run training (`trainer.fit(model, train_dl, val_dl)`) on any model for a long time

### Expected behavior

You can see t

[2022-04-17 18:51] rschireman commented on #12521
working on `LightningModule.get_progress_bar_dict`

[2022-04-18 00:05] thomasahle opened #12789 "Fitting only works the first time"
## 🐛 Bug

Reusing a Trainer on different model instances only fits the first model.

I'm unsure exactly what state a Trainer object keeps. It feels like an immutable class that shouldn't behave differently depending on whether I already used it to fit something else.

### To Reproduce

https://colab.research.google.com/drive/1Md3lyREm0biHaq9hn5uh4I9EmpE2DZM_?usp=sharing

I just added this:

    mo

[2022-04-18 01:38] carmocca opened #12790 "CLI arguments are not properly forwarded to subparsers"
## 🐛 Bug

### To Reproduce

[code]

These do not get enabled

cc @carmocca @mauvilsa

[2022-04-18 01:48] carmocca opened #12791 "CLI custom key registration does not work"
## 🐛 Bug

### To Reproduce

[code]
[code]

This happens because this line should be checking with the registered key, not the class name: https://github.com/PyTorchLightning/pytorch-lightning/blob/ae3226ced96e2bc7e62f298d532aaf2290e6ef34/pytorch_lightning/utilities/cli.py#L314

### Expected behavior

Works and instantiates the `DemoModel`

cc @carmocca @mauvilsa

[2022-04-18 01:51] carmocca commented on #12786
Thanks for the thoughtful analysis! We should definitely do this

[2022-04-18 01:54] #12229 closed

[2022-04-18 01:54] #12302 closed

[2022-04-18 01:55] #11256 closed

[2022-04-18 08:16] chenzhekl commented on #2095
This feature seems to be no longer available in the latest release. Is it expected?

[2022-04-18 11:35] akihironitta commented on #12521
Hi @vumichien! Sounds good to me! Thanks for having done so already in your PR #12780!

[2022-04-18 12:48] rohitgr7 commented on #12724
prioritizing it. Will be fixed soon.

[2022-04-18 12:57] rohitgr7 commented on #12765
how are you planning to make it work with multiple dataloaders? since the states are reset on epoch end and epoch end is triggered only once and when all the dataloaders are processed. Can you share more details?

[2022-04-18 15:15] rschireman commented on #12521
In `pytorch_lightning/callbacks/progress/base.py` I see that the `get_progress_bar_dict()` function is called, I'm having some trouble on what should it be replaced with so the `get_metrics()` function doesn't produce an error :sweat_smile:

[code]

[2022-04-18 15:29] rohitgr7 commented on #12521
@rschireman
[code]
should be:
[code]

[2022-04-18 15:39] rschireman commented on #12521
@rohitgr7
Thank you!

[2022-04-18 15:55] toriving commented on #12274
Any progress on that issue?
Or does a workaround exist?

[2022-04-18 16:15] oprb commented on #12678
I checked the types inside the args Namespace object, `limit_val_batches` and `limit_train_batches` are both ints, `limit_test_batches` and `limit_predict_batches` are both floats (`1.0` per default, since not specified).
Unfortunately, I changed my code since I opened the issue and when I looked for the types, I had no problems specifying `limit_train_batches` and `limit_val_batches` as script ar

[2022-04-18 16:24] oprb commented on #12678
I checked the types inside the args Namespace object, `limit_val_batches` and `limit_train_batches` are both ints, `limit_test_batches` and `limit_predict_batches` are both floats (`1.0` per default, since not specified).
Unfortunately, I changed my code since I opened the issue and when I looked for the types, I had no problems specifying `limit_train_batches` and `limit_val_batches` as script ar

[2022-04-18 16:24] #12678 closed

[2022-04-18 17:14] sisilmehta2000 opened #12797 "Refactor Strategy Script Launcher and Deadlock handling"
## Proposed refactor

Currently, if the training scripts are to be spawned from the strategy itself (as in the strategies/ddp.py):
1. It uses '_SubprocessScriptLauncher(self.cluster_environment, self.num_processes, self.num_nodes)'
2. It handles deadlock detection and handling for the launched processes in the strategies/ddp.py file.
We can refactor this logic to allow reuse in other strategies.

[2022-04-18 19:43] ZENGYIMING-EAMON commented on #12789
Just a thought. Is there anything like trainer end/reset or just create a new trainer will solve this?

[2022-04-18 19:47] awaelchli commented on #11588
I vote for adding this utility! It should be easy to import if used frequently.

[2022-04-18 22:19] rohan-paul commented on #12784
For now, I just downgraded to Python 3.8.10 and it worked fine. Hence closing this one.

[2022-04-18 22:19] #12784 closed

[2022-04-18 23:13] thomasahle commented on #12789
Creating a new trainer fixes this.

In my application I train a bunch of models, then run a bunch of tests on all of them.

It's not even clear to me if I need to keep all the trainers around for testing? Or if I just need to use different trainers for each fit, but then can reuse the last one for all the testing?

[2022-04-18 23:29] Atharva-Phatak commented on #12786
@carmocca Can I work on this ? I am more than happy to contribute.

[2022-04-19 01:34] MaiHon commented on #12690
Any progress?

I encountered same issues with `bytegrad`
`Failed: Cuda error kernels/bagua_kernels.cu:285 'invalid device function`

[2022-04-19 01:54] HeyQXX commented on #12752
Hi! Is there any solution to this bug now? Except for waiting for version 1.6.2

[2022-04-19 01:56] zimo-geek opened #12799 "trainer.test cann't support _print_result the dict value of sklearn.metrics.classification_report"
## 🐛 Bug

In method  `test_epoch_end` log the metrics  of  classification_report return.

[code]
calling traner.test raise the error:

[code]
The input parameter `logged_outputs` of the method  _print_result (above traceback):
[code]

### Environment

- PyTorch Lightning Version (e1.6.1):
- PyTorch Version (1.10):
- Python version (3.8):
- OS (Centos7):
- CUDA/cuDNN 11.1:

[2022-04-19 03:12] Borda commented on #12752
yes :)

[2022-04-19 04:10] #8945 closed

[2022-04-19 04:10] #11882 closed

[2022-04-19 04:10] #11480 closed

[2022-04-19 04:10] #8677 closed

[2022-04-19 04:10] #11405 closed

[2022-04-19 04:10] #11701 closed

[2022-04-19 04:10] #10089 closed

[2022-04-19 07:59] Daremitsu1 opened #12801 "TypeError: setup() got an unexpected keyword argument 'stage'"
## 🐛 Bug
Hello, while trying to run the `trainer.fit(model,data_module)` getting the following error:
[code]
`
TypeError: setup() got an unexpected keyword argument 'stage'`

- PyTorch Lightning Version (e.g., 1.5.0): 1.5.0
- PyTorch Version (e.g., 1.10): 1.10
- Python version (e.g., 3.9): 3.7
- OS (e.g., Linux): Windows
- CUDA/cuDNN version:
- GPU models and configuration:
- How you installed PyT

[2022-04-19 09:10] #11815 closed

[2022-04-19 09:10] #11831 closed

[2022-04-19 09:10] #10495 closed

[2022-04-19 09:10] #11618 closed

[2022-04-19 09:10] #11038 closed

[2022-04-19 09:10] #11625 closed

[2022-04-19 09:10] #10968 closed

[2022-04-19 09:39] rohitgr7 commented on #12801
did you check the signature of your setup method?
[code]

[2022-04-19 10:52] Schinkikami opened #12803 "Fix saving of config.yaml when using multiple loggers"
## 🚀 Feature

Currently, the `SaveConfigCallback `saves the config.yaml file to `trainer.log_dir`, which for one logger is `trainer.loggers[0].log_dir`.

However, if multiple loggers are specified `trainer.log_dir == trainer.default_root_dir`. In this case the config.yaml is saved ABOVE the version_dirs, which prevents running the experiments multiple times.

Ideally, the config.yaml would in this

[2022-04-19 11:39] carmocca commented on #12786
Sure @Atharva-Phatak, you can do one PR per import.

We can also do https://github.com/PyTorchLightning/pytorch-lightning/issues/11826 jointly

[2022-04-19 12:06] MathVast commented on #12757
After further investigations, when using Pytorch Lightning Version 1.5.10 instead of Version 1.6.0, training goes well and stops by itself.

[2022-04-19 12:20] Schinkikami opened #12804 "Automatic seeding when using the LightningCLI"
## 🚀 Feature

Currently the LightningCLI offers the argument `seed_everything_default: Optional[int] = None`.

As it is good practice in scientific research to provide reproducible experiments, I propose to have an option to automatically set a randomly chosen seed at runtime. This then has the advantage that every experiment with the CLI is automatically reproducible as the seed is logged in the

[2022-04-19 13:41] carmocca commented on #12445
This is blocked by https://github.com/pytorch/pytorch/issues/75725

[2022-04-19 14:57] carmocca commented on #12804
I think it would be best that we have it as `int | bool = False` where passing `True` would call `seed_everything()` without an explicit seed that already contains logic to select the seed randomly. https://github.com/PyTorchLightning/pytorch-lightning/blob/7816e122d0d37bbd9d27d024380001db69b8e129/pytorch_lightning/utilities/seed.py#L40

Are you interested in opening a PR with this change?

[2022-04-19 15:05] carmocca commented on #12801
@rohitgr7 This comes up quite often for some reason. Should we add it to the configuration validator?

[2022-04-19 15:20] carmocca commented on #12803
This is caused by the logger's design, it's unrelated to the `LightningCLI`

[code]

cc'ing @daniellepintz @akashkw for comment

[2022-04-19 15:27] carmocca commented on #12789
This is far from the case. The trainer is VERY stateful.

You should only reuse the same instance if the same model is passed and you want to continue the previous run or checkpoint.

For example, you to re-run for 2 extra epochs, you need to modify the state

[code]

[2022-04-19 16:51] jgbos commented on #12779
Thanks @awaelchli, that is very helpful and appears to be working.

[2022-04-19 16:55] davidegraff commented on #12233
was this fixed with #12785 ? I'm having issues where a call to `.state_dict()` produces this same `ReferenceError` and don't know how to avoid it beyond wrapping in a `try/except`

[2022-04-19 18:07] ductai199x commented on #12787
Here's where it shows negative rate:
![pytorch-lightning bug2](https://user-images.githubusercontent.com/29772899/164067928-67d9159f-ad7c-40a7-9d5b-1b180e37baaa.gif)

[2022-04-19 19:10] EricPHassey commented on #2106
I also am getting an issue using TPUs on Google Collab. Not sure what to do or how to fix it. Assuming it's part of the Lightning package creating these issues.

[2022-04-19 19:52] thomasahle commented on #12789
@carmocca What about running `trainer.test`, should I also make a new trainer every time I do that? Should it be the same trainer as was used to fit the model?
Sorry for all the questions. If you can refer me to a place with information about this, I'll happily read it.

[2022-04-19 19:54] Schinkikami commented on #12804
I knew that seed_everything() had this logic already implemented, but I didn't know it returned the seed. This is of course a possibility. However, seed_everything() is called after the ArgumentParser parsing in the `__init__ `function, while for a clean implementation (?) the seed should be set as a default argument for the _--seed_everything_ argument prior to the parsing, as otherwise, it would

[2022-04-20 03:26] 7zhanghao opened #12811 "manual_backward"
## 🐛 Bug

When i want to manually manage the optimization process, the gradient accumulation need to do by myself. The example you give is:
`opt = self.optimizers()`
`loss = self.compute_loss(batch)`
`self.manual_backward(loss)`
`accumulate gradients of 'n' batches`
`if (batch_idx + 1) % n == 0:`
    `opt.step()`
    `opt.zero_grad()`
Because the gradients are accumulated n times, we need to take

[2022-04-20 04:39] lanslotttTT opened #12812 "After resuming traing scheduler.step() will not update optimzer's learning rate"
I find a bug that when I resume training from a checkpoint ,the learning rate always equals the init_lr I set.After debugging, I found that the method scheduler.step() will not change the learning rate of optimizer. So I set it manually to avoid this bug.
[code]

[2022-04-20 05:41] mauvilsa commented on #12804
I didn't know about the seed range. Instead of having in the type `int` might be better to do:

[code]

Then in the `add_argument` it would be `type=Union[int32, bool]`. This way there is a parse error when someone gives as seed an int outside the range.

I think it would be fine to insert the value in the config after the parsing. I don't think there is a need for a deprecation warning for removi

[2022-04-20 07:44] ShaneTian opened #12815 "CUDA error when running predictions in DeepSpeed"
## 🐛 Bug

I run predictions after model training, but in DeepSpeed, which raises CUDA error.
However, the program still finished the prediction process and saved the output, but some processes did not exit correctly (such as 0th exited but others dit not exit).

Related code:

[code]

error:

[code]

### To Reproduce

### Expected behavior

### Environment

* CUDA:
        - GPU:
                -

[2022-04-20 08:18] rohitgr7 commented on #12811
yes, with manual backward you have to do it. In the case of automatic optimization, it is done by default
https://github.com/PyTorchLightning/pytorch-lightning/blob/908e05880d4271ad32876311320d4465a008a710/pytorch_lightning/loops/optimization/optimizer_loop.py#L84-L87

[2022-04-20 08:27] rohitgr7 commented on #12812
did you check the actual learning here?
[code]
since while resuming the optimizer's state is also restored which includes the learning rate as well.

[2022-04-20 08:35] lanslotttTT commented on #12812
I have checked that schedule and Optimizer have different learning rates.Schedule's learning rate is correct, but the Optimizer's learning rate cannot be updated by schedule

---- 回复的原邮件 ----
| 发件人 | Rohit ***@***.***> |
| 日期 | 2022年04月20日 16:27 |
| 收件人 | ***@***.***> |
| 抄送至 | ***@***.******@***.***> |
| 主题 | Re: [PyTorchLightning/pytorch-lightning] After resuming traing scheduler.step() will not

[2022-04-20 08:51] 7zhanghao commented on #12811
Thanks reply. Another problem is that I am using ddp mode. Under this circumstances, if i manually manage the optimization process with `self.manual_backward(loss)`, can ddp work correctly when using ddp? If so, can ddp work correctly if i use `loss.backward()` instead of `self.manual_backward(loss)`?

[2022-04-20 09:32] rohitgr7 commented on #12812
can you share a reproducible example using
https://colab.research.google.com/github/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/bug_report/bug_report_model.ipynb
?

[2022-04-20 09:41] justusschock commented on #12765
@rohitgr7 this isn't about changing the behavior but making it more explicit in the docs :)

[2022-04-20 09:46] rohitgr7 commented on #12765
got it. btw I remember adding them here: https://torchmetrics.readthedocs.io/en/stable/pages/lightning.html#common-pitfalls.

[2022-04-20 10:26] RuRo opened #12817 ""Please add the following callbacks" warning"
## 🐛 Bug

Pytorch Lightning emits a false positive (?) warning when restoring from checkpoint during model tuning with `auto_lr_find`.

### To Reproduce

[code]

### Expected behavior

No warnings

### Actual behavior

[code]

### Environment

[code]

cc @otaj @akihironitta @borda @rohitgr7

[2022-04-20 10:27] michal2409 opened #12818 "Different data-loading behaviour in 1.6.0 version."
## 🐛 Bug

I observe different data-loading behaviour after upgrading PLT to 1.6.0 or 1.6.1 version (1.5.10 works fine). I'm running [nn-UNet ](https://github.com/NVIDIA/DeepLearningExamples/tree/master/PyTorch/Segmentation/nnUNet) from [DeepLearningExamples](https://github.com/NVIDIA/DeepLearningExamples) repository. Model is using NVIDIA [DALI](https://docs.nvidia.com/deeplearning/dali/user-guide

[2022-04-20 11:23] carmocca commented on #12804
I agree with @mauvilsa's thoughts. You can incorporate both his and my suggestions in the same PR.

Yes

[2022-04-20 11:48] mbanani opened #12819 "`global_step` and `epoch` for model loaded from checkpoint are 0"
## 🐛 Bug

When loading a model using `model.load_from_checkpoint()`, the `global_step` and `epoch` variables are both 0. I would expect those variables to match the stage of the model during training, but maybe there's some context that I am missing. My apologies if this is intended behavior.

### To Reproduce

[code]

### Outputs

Output:
[code]

Expected output:
[code]

### Environment

[code]

[2022-04-20 11:59] SeanNaren opened #12820 "Add additional parameters to the `DeepSpeedStrategy`"
## 🚀 Feature

A user on our community slack found that a few more parameters have become available for DeepSpeed including `ignore_unused_parameters` (the opposite of `find_unused_parameters` for DDP).

https://www.deepspeed.ai/docs/config-json/#zero-optimizations-for-fp16-training

Integrate `ignore_unused_parameters`, `round_robin_gradients` and `stage3_gather_16bit_weights_on_model_save` into t

[2022-04-20 12:06] rohitgr7 commented on #12819
`load_from_checkpoint` just initialized the model and load the weights. current epoch and global step are part of trainer, which are loaded when you call `trainer.fit(..., ckpt_path=...)`. Although you can inspect the current epoch and global_step by loading the checkpoint explicitly.

[2022-04-20 13:20] 7zhanghao commented on #12811
No more questions, thanks a lot.

[2022-04-20 13:20] #12811 closed

[2022-04-20 13:46] alvitawa opened #12823 "Printing evaluation results gives unicode decode error"
## 🐛 Bug

![image](https://user-images.githubusercontent.com/10909323/164244696-c2614841-9c25-45c5-adbd-9d67acd3f553.png)

Certain terminals only support latin-1 but the character used for pretty printing the results table is outside this range.

This line is the culprit: https://github.com/PyTorchLightning/pytorch-lightning/blob/4930561556418cf4c44dae74a436ca43417e4ec6/pytorch_lightning/loops/dat

[2022-04-20 14:19] #12746 closed

[2022-04-20 14:19] #11528 closed

[2022-04-20 15:56] RuRo opened #12824 "Rich progress bar doesn't play nicely with other prints"
## 🐛 Bug

Some internal printing mechanisms don't play nicely with RichProgressBar.
This can result in the progress bar getting interleaved into the printed data.

For example, this affects the pretty table of metrics that is printed after `Trainer.test`ing your model:
[code]

A similar issue can also come up, when using `RichModelSummary.summarize`.

### To Reproduce

Take the `BoringModel` sampl

[2022-04-20 16:35] RuRo commented on #12824
Also, you might want to initialize the `logging` using the Rich handler, if it is available, otherwise all the warnings and `pl.utilities.rank_zero.rank_zero_*` print functions also break the progress bars.

[2022-04-20 17:19] #12520 closed

[2022-04-20 17:28] #12725 closed

[2022-04-20 18:38] carmocca commented on #12824
These are both great suggestions. Would you like to work on the fixes yourself?

You can open 2 PRs. One for each of your comments

[2022-04-20 18:41] carmocca commented on #12823
Hi! This character was chosen on purpose because it leaves no spaces when used consecutively:
`----` vs `────`

But we can check if the terminal does not support it, and then fall back to the normal dash.

Are you interested in working on a fix?

[2022-04-20 18:43] carmocca commented on #12819
Yes. Unfortunately, we cannot reload the checkpoint until the trainer is running so this is working as expected.

Closing, but feel free to ask any further questions

[2022-04-20 18:43] #12819 closed

[2022-04-20 18:57] #11083 closed

[2022-04-20 20:14] alvitawa commented on #12823
I did a quick swoop of the codebase for non-ascii characters and with
`find | while read in; do LC_ALL=C grep '[^ -~]' $in;  "$in"; done`
And this seems to be the only place where this issue can be a problem.

How about just:
[code]

Seems like it should be foolproof

[2022-04-20 20:25] alvitawa commented on #12823
Here is a pull request https://github.com/PyTorchLightning/pytorch-lightning/pull/12828

The method works for my non-unicode terminal

[2022-04-20 20:58] Atharva-Phatak commented on #12786
@carmocca quick questions in #11826 you have mentioned some libraries which needs to be moved. So in my PR should I only use the mentioned libraries right ?

Also can't I do all the libraries in one PR ? or would it be better if I do one PR per import.

Please let me know

[2022-04-20 21:37] awaelchli commented on #12786
Jointly doing the lazy functions and the move to the files makes sense.
Doing one PR per import is maybe a bit overkill. I would group them by locality.
For example: the two deepspeed in one pr, all logger-related imports in one pr, all fairscale imports in one pr and so on.
Thanks for the help.

[2022-04-20 21:42] Atharva-Phatak commented on #12786
@awaelchli This makes sense. I will start working on this :)

[2022-04-20 21:45] rabyj opened #12829 "CometLogger ExistingOfflineExperiment support"
## 🚀 Feature

We should be able to reload existing offline experiments to perform new logging (e.g. log new metrics on different datasets).

### Motivation

I need to work offline due to connectivity issues, and I need to be able to reload experiments, since I want to add new metrics after the training is completely finished.

I was able to reload with online experiments, but I though for sure it

[2022-04-21 00:30] RuRo commented on #12824
Sorry, I am kind of busy right now. I am trying to submit issues as I run into them, but I don't currently have the time to properly fix them. If this issue is still not fixed in a couple of weeks, I might revisit it and submit the PRs, but for now I'll have to pass.

[2022-04-21 03:30] Qcactus commented on #12640
This is an example using torch_geometric dataset and dataloader. The batch size of input data is not explicit, but it can be obtained from `batch.num_graphs`. I pass it into the update method of MeanMetric.

[code]

Output:
[code]

[2022-04-21 05:05] KimbingNg commented on #12787
The `total` property is modified directly instead of calling ` self.main_progress_bar.reset`, which makes the `last_print_t` attribute of `main_progress_bar` is not updated correctly and causes this issue.   https://github.com/PyTorchLightning/pytorch-lightning/blob/1233554e73303f4f3d30f9a9219e2aa8c3f6a467/pytorch_lightning/callbacks/progress/tqdm_progress.py#L262

cc @carmocca

[2022-04-21 05:10] Ryyyc opened #12830 "Raise a error [ZeroDivisionError: float division by zero] at trainer/connectors/data_connector.py"
## 🐛 Bug

### To Reproduce

Use a data loader with no data, i.e., `len(dataloader) == 0`.

### Expected behavior

Raise error `ZeroDivisionError: float division by zero`.

### Environment

- PyTorch Lightning Version (e.g., 1.5.0):  1.6.1
- PyTorch Version (e.g., 1.10): 1.10.2
- Python version (e.g., 3.9): 3.9.12
- OS (e.g., Linux): Windows
- CUDA/cuDNN version: CUDA 11.3
- GPU models and configur

[2022-04-21 08:08] rohitgr7 commented on #12830
good catch!
mind send a PR with the fix?

[2022-04-21 08:20] rohitgr7 commented on #12829
This will be good to have. Would you like to contribute this feature to the `CometLogger`?

[2022-04-21 09:35] #4406 closed

[2022-04-21 09:35] #8135 closed

[2022-04-21 09:35] #5413 closed

[2022-04-21 11:37] #11530 closed

[2022-04-21 12:18] RuRo commented on #12817
I don't really know, why is this happening or how should this be fixed, to be honest. Also, I am really busy right now, so even if I was familiar with the internals of the checkpointing mechanism, I still wouldn't be able to contribute to this issue right now.

[2022-04-21 12:40] carmocca commented on #11979
Support has been added with #11993

[2022-04-21 12:40] #11979 closed

[2022-04-21 12:40] carmocca commented on #2534
Support has been added with #11993

[2022-04-21 12:40] #2534 closed

[2022-04-21 12:55] GinkoBalboa opened #12833 "MLFlowLogger used with server crashes training"
## 🐛 Bug

Exceptions in MLFlowLogger are not caught, these produce the break of the training and loss of the model. This happens most often when using a server to log data. Since the MLFlowLogger uses MLFlow, and MLFlow has an option to log data over a server, exceptions can happen for various reasons concerning the third party server components.

### To Reproduce

In order to reproduce the bug mo

[2022-04-21 13:03] #12036 closed

[2022-04-21 13:29] carmocca commented on #12640
@Qcactus Try `self.log("train_loss", self.train_loss_metric, batch_size=batch.num_graphs)`

[2022-04-21 13:43] Schinkikami commented on #12803
Yes, this is a problem of how the `Trainer` and the loggers interact.

One potential fix for now (I'm using that myself right now, with an overridden `SafeConfigCallback `subclass) is to instead safe the config.yaml to the `log_dir `of every logger, as it is done with the `save_hyperparameters() `function, that saves the hparams.yaml in a similar way.

It should definitely be fixed, as it hinders

[2022-04-21 13:45] tshu-w commented on #12803
https://github.com/PyTorchLightning/pytorch-lightning/issues/12028

[2022-04-21 14:42] jgbos commented on #12823
Thank you @alvitawa for finding this! I was getting this error on SLURM but only on the rank zero node with no helpful traceback.

[2022-04-21 15:36] akihironitta commented on #12626
@adamgayoso Please let us know if the issue's resolved and feel free to reopen this issue :]

[2022-04-21 15:36] #12626 closed

[2022-04-21 16:45] carmocca commented on #12094
@tlpss can you add more details about what sort of API would you find useful?

[2022-04-21 16:47] Atharva-Phatak commented on #12786
[code]
@awaelchli can we redefine the above function as, I was confused since above function looks like we need to implement it for every module "x".
[code]

[2022-04-21 19:17] laserkelvin commented on #12656
I'm encountering the same problem: in my case I've tried to pass the schedule arguments as kwargs to `PyTorchProfiler`:

[code]

With this I still only get three steps in the training trace with one cycle, no wait or warm up steps.

In principle you could probably get the desired effect through a `custom_processing_step`, but that would be undesirable since the profiling scope/output is exactly wh

[2022-04-21 20:01] rabyj commented on #12829
@rohitgr7 I reread the [ExistingOfflineExperiment](https://www.comet.ml/docs/python-sdk/ExistingOfflineExperiment/) doc and it seems it actually can't read the offline directory, but can take an experiment already uploaded to comet-ml and store offline further information to be uploaded to it later. I.e. it lets you prepare a local .zip to merge or modify an already uploaded experiment later.

As

[2022-04-21 20:15] adamgayoso commented on #12626
Thanks!

[2022-04-21 20:59] #12770 closed

[2022-04-21 21:24] awaelchli commented on #12786
I don't have a strong preference here. @carmocca @Borda ?

The name as part of the function name makes it less error prone to use and probably easier to refactor the current imports, as it it can be renamed using a simple regex pattern everywhere.

[2022-04-21 22:10] #12365 closed

[2022-04-22 01:39] Ryyyc commented on #12830
Sorry, at the moment I'm just new to pytorch-lightning and I'm not sure where to check, throw warnings, throw exceptions from a design point of view. You guys will do a better job than me.

[2022-04-22 02:13] Borda commented on #12786
why not directly?
[code]

[2022-04-22 05:38] chenzhekl opened #12847 "Unable to use bagua.torch_api.contrib.CachedDataset with PyTorchLightning"
## 🐛 Bug

We are unable to use `bagua.torch_api.contrib.CachedDataset` with PyTorchLightning. The creation of `CachedDataset` requires that the process group has been initialized.

[code]

### To Reproduce

### Expected behavior

Sucess without errors.

### Environment

* CUDA:
        - GPU:
                - NVIDIA A100 80GB PCIe
                - NVIDIA RTX A6000
                - NVIDIA RTX A6

[2022-04-22 10:40] #12749 closed

[2022-04-22 10:45] #12767 closed

[2022-04-22 10:54] albertmundu opened #12849 "Bad output results in production inference; model trained using Trainer(precision=16)"
Hello PL team,
I am getting bad/random noise results/outputs from the model in inference when the model is trained using `Trainer(precision=16)`. I have also tested using `trainer.test` and it is producing good results for it. Only for inference it is not working fine.

My sample code for inference
[code]
How can I solve this issue?

[2022-04-22 12:13] JanSellner opened #12851 "Same step maps to different epoch values with TensorBoardLogger and on_epoch=True"
## 🐛 Bug

When using the `TensorBoardLogger` and the `on_epoch=True` option, it now happens in pl 1.6 that the same step number maps to different epoch values. This is probably due to [this PR](on_epoch=True).

### To Reproduce

[code]

### Expected behavior

With pl 1.6.1 I get:
[code]

and with pl 1.5.10

[code]

I do not know why every step is logged twice, but I guess there is a reason for it.

[2022-04-22 14:48] Atharva-Phatak commented on #12786
@Borda can you clarify a bit ? :) Sorry for such a beginner question

[2022-04-22 15:32] mnslarcher commented on #12756
I found the problem... it was this old default: num_processes: 1.

Weird behavior, even if accellerator = GPU (auto) this deprecated bypasses the devices parameter, we can close the issue.

[2022-04-22 15:32] #12756 closed

[2022-04-22 15:34] pimdh opened #12855 "MLFlow logger does not provide artifact_location for checkpointing"
## 🐛 Bug

When using the MLFlow logger, neither the `artifact_location`, nor the `save_dir` arguments are used to resolve the checkpoint dir in `ModelCheckpoint.__resolve_ckpt_dir`, because `mlflow_logger.save_dir` always returns `None`.

### To Reproduce
[code]

### Expected behavior
We expect `trainer.checkpoint_callback.dirpath == artifact_location`.

### Environment
* CUDA:
        - GPU:

[2022-04-22 15:39] #12503 closed

[2022-04-22 21:48] stanbiryukov commented on #12521
I can take removing deprecated `pytorch_lightning.loggers.TestTubeLogger`

[2022-04-22 22:00] stanbiryukov opened #12858 "Remove deprecated `TestTubeLogger`"
## What does this PR do?

Part of #12521

### Does your PR introduce any breaking changes? If yes, please list them.

## Before submitting

- [x] Was this **discussed/approved** via a GitHub issue? (not for typos and docs)
- [x] Did you read the [contributor guideline](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/.github/CONTRIBUTING.md), **Pull Request** section?
- [x] Did yo

[2022-04-22 22:10] #12730 closed

[2022-04-22 22:27] awaelchli commented on #12786
@Atharva-Phatak to clarify, what @Borda is saying is that the `@lru_cache()` decorator can be added to the main function that does the import check and doesn't have to be added to each individual one as I showed in my post above.

This detail and the naming aside, the important point of this issue is that we want to evaluate module availability _lazily_.

[2022-04-22 22:41] pbsds commented on #12231
bleep bloop no stale

[2022-04-22 23:22] RuRo commented on #10807
I am sorry, but in my opinion this was the wrong decision. "The user can just implement it themselves" is a bad argument when your library advertises itself as a tool for reducing boilerplate. I know, that it's just 9 lines, but in my opinion, it's the thought that counts.

With `pytorch-lightning` I often find myself writing code that looks like this

[code]

And if this isn't boilerplate, then I

[2022-04-23 00:10] albertmundu commented on #12849
Solved the issue. The problem is not about precision. It about saving hyperparameters. I used the learning rate directly to the optimizer (hard coded) and had not initialized the learning rate in the `__init__` method. Adding it, solved my problem.
[code]

[2022-04-23 00:10] #12849 closed

[2022-04-23 01:05] RuRo opened #12862 "`test` produces a warning when using `DDP`"
Trying to `trainer.test` with multiple GPUs (or even when using a single GPU with `DDPStrategy`) produces the following warning:

[code]

The problem is that the warning doesn't adequately explain, how to fix this problem in all possible cases.

### 1. What if I am running `trainer.test` after `trainer.fit`?

Settings `devices=1` in that case is not really a solution, because I want to use multipl

[2022-04-23 01:25] DuYicong515 opened #12863 "Unexpected behaviour when logging an non-scalar tensor."
## 🐛 Bug

Having issues when I try to log the values of BinnedRecallAtFixedPrecision, which returns a tuple of tensors on `compute()`.

1/ When a non-scalar tensor is passed to LightningModule.log(), its mean value is being logged, which can be unexpected.

The following code turned tensor dtype into float, and then called `tensor.mean()` on the value.
https://github.com/PyTorchLightning/pytorch-l

[2022-04-23 01:43] rschireman commented on #12521
Let's keep the ball rolling, I'll take `LightningModule.on_train_dataloader`

[2022-04-23 09:43] ShaneTian opened #12864 "optimizer states are saved in different folders"
## 🐛 Bug

For a step, the model states, optim states are split (saved) into different folders.
[code]

I use `DeepSpeed` strategy, which runs in 8 A100 cards.

Related code:
[code]

### To Reproduce

### Expected behavior

### Environment

* CUDA:
        - GPU:
                - A100-SXM4-40GB
                - A100-SXM4-40GB
                - A100-SXM4-40GB
                - A100-SXM4-40GB

[2022-04-23 13:17] chriswangky opened #12865 "TypeError: validation_step() takes 2 positional arguments but 3 were given"
### Discussed in https://github.com/PyTorchLightning/pytorch-lightning/discussions/12838

<div type='discussions-op-text'>

<sup>Originally posted by **chriswangky** April 22, 2022</sup>
When running my model I get the error message:`TypeError: validation_step() takes 2 positional arguments but 3 were given`
Here is my code.
[code]

[code]

Any advice on what happened?
Thank you very much!</div>

[2022-04-23 14:40] st7ma784 opened #12866 "Weighted Random Sampler for ddp"
## 🚀 Feature

Creating a version of a weighted random sampler that works efficiently accross multiple GPUs/ nodes.
### Motivation

In my use case . I use a weighted random sampler for Datasets like VQA, and then modify weights across multiple datasets. However, I am a PGR student with limited runtimes available, I switch between debugging locally on single GPUs and production in a HPC cluster. How

[2022-04-23 20:46] asicoderOfficial commented on #10557
It still persists, but happens arbitrarily.
In my case, the error looked like this:
`Finding best initial lr:  12%|████████████▌                                                                                            | 12/100 [00:00<00:02, 42.37it/s]
LR finder stopped early after 12 steps due to diverging loss.
Restoring states from the checkpoint path at /home/asicoder/gitrepos/TradingBot/src/

[2022-04-23 20:48] asicoderOfficial commented on #10557
It still persists :(

[2022-04-23 22:11] code-review-doctor opened #12868 "Missing `f` prefix on f-strings"
Some strings looks like they're meant to be f-strings but are missing the `f` prefix meaning variable interpolation won't happen.

https://github.com/PyTorchLightning/pytorch-lightning/blob/9b2b1bb494f928137be67e325b3fc8544a3bf321/pytorch_lightning/utilities/enums.py#L144
https://github.com/PyTorchLightning/pytorch-lightning/blob/9b2b1bb494f928137be67e325b3fc8544a3bf321/pytorch_lightning/utilities

[2022-04-24 05:50] #12040 closed

[2022-04-24 05:50] #12139 closed

[2022-04-24 05:51] #12128 closed

[2022-04-24 05:51] #12141 closed

[2022-04-24 05:51] #12201 closed

[2022-04-24 05:51] #12227 closed

[2022-04-24 05:51] #11760 closed

[2022-04-24 05:51] #12205 closed

[2022-04-24 05:51] #12170 closed

[2022-04-24 06:40] mauvilsa commented on #12438
@carmocca any comment about these thoughts?

[2022-04-24 06:45] #12301 closed

[2022-04-24 06:45] #11663 closed

[2022-04-24 06:45] #12173 closed

[2022-04-24 06:45] #11910 closed

[2022-04-24 06:45] #12280 closed

[2022-04-24 06:45] #12215 closed

[2022-04-24 06:45] #12316 closed

[2022-04-24 06:45] #12240 closed

[2022-04-24 07:55] tlpss commented on #12094
@carmocca, I would propose to add an additional parameter `threshold_mode` that would interpret the delta value as either absolute or relative, is in Pytorch LR schedulers https://pytorch.org/docs/stable/generated/torch.optim.lr_scheduler.ReduceLROnPlateau.html

[2022-04-24 10:39] #12868 closed

[2022-04-24 17:54] ZENGYIMING-EAMON commented on #10701
Hi, this issue is annoying, and I wish I am reaching some clues here:
I print like this at main.py:
import os; print("===my0===",os.getenv('CUDA_VISIBLE_DEVICES'))
import pytorch_lightning as pl
print("===my1===",os.getenv('CUDA_VISIBLE_DEVICES'))

and I find that it give first 0,1,2,3,4,5,6,7 for two prints
and then give another two prints with only device 1 , (maybe somehow, the programme ran th

[2022-04-24 17:59] ZENGYIMING-EAMON commented on #10701
further info:
at main.py:

import os; print("===my0===",os.getenv('CUDA_VISIBLE_DEVICES'))
if os.getenv('CUDA_VISIBLE_DEVICES')=='1':
    import ipdb;ipdb.set_trace()
import pytorch_lightning as pl

it shows first :
===my0=== 0,1,2,3,4,5,6,7
then:
===my0=== 1

      6     import ipdb;ipdb.set_trace()
----> 7 import pytorch_lightning as pl
      8

ipdb>

[2022-04-24 18:00] ZENGYIMING-EAMON commented on #10701
Maybe it is because of something like "looping import"??

[2022-04-24 18:01] awaelchli commented on #10701
Yes, Lightning runs the script as many times as you selected devices in the Trainer.
Lightning does not set the CUDA_VISIBLE_DEVICES env variable. Make sure it does not get modified inside of your script. Make sure your script runs properly on a single device first.

[2022-04-24 18:02] ZENGYIMING-EAMON commented on #10701
single device is fine, when I ran for devices>=2, this issue shows up

[2022-04-24 18:05] #12858 closed

[2022-04-24 18:06] ZENGYIMING-EAMON commented on #10701
I tried to hack like this:

import os;
os.environ["CUDA_VISIBLE_DEVICES"] = "0,1,2,3,4,5,6,7" #manual modification!
print("===my0===",os.getenv('CUDA_VISIBLE_DEVICES'))
if os.getenv('CUDA_VISIBLE_DEVICES')=='1':
    import ipdb;ipdb.set_trace()
import pytorch_lightning as pl

it gives me new issue:

RuntimeError:
        An attempt has been made to start a new process before the
        current pr

[2022-04-24 18:26] ZENGYIMING-EAMON commented on #10701
I think I have fixed it. It is (mainly) because of the multiprocessing issues. Add

set trainer devices are [3,4,5]
set trainer strategy is DDP

add this at the top of the main.py:

import os;
os.environ["CUDA_VISIBLE_DEVICES"] = "0,1,2,3,4,5,6,7" #manual modification! all you visible GPU!

add at the body of main.py

`if __name__=='__main__':` to wrap your pl.trainer / trainer.fit / trainer.test

[2022-04-24 18:28] ZENGYIMING-EAMON commented on #10701
I will appreciate it if anybody can tell me why

[2022-04-24 18:38] awaelchli commented on #12094
Adding another argument `threshold_mode` can probably done relatively easily as it looks like it will be orthogonal to the other ones.
Alternatively, more broadly a LambdaEarlyStopping callback could probably be useful, where the user provides its own implementation in a function that gets the current value and the best and they return the decision whether to stop or continue.

[2022-04-24 19:00] awaelchli commented on #12098
Yes, the Kfold example is flawed and the checkpointing is just one example where things go wrong. To implement kfold properly, one needs to loop externally and use a new trainer every time and not share any state between the runs. If that makes sense. While one can probably try to fix the checkpointing issue, systematic issues with this internal loop still exist. I wonder if https://github.com/Ska

[2022-04-24 20:47] ZENGYIMING-EAMON commented on #5245
any cleaner solutions for PL-1.6.1? looking forward to it.

[2022-04-24 21:44] awaelchli commented on #12786
Yes the `lru_cache` can be added there. But this is not the topic of this issue. The real work is in converting the `_X_AVAILABLE` constants to functions and evaluate them lazily, i.e., at the individual module level only when they are needed!

Would it help if I made an example PR for a single import, and then you could work on the remaining ones? Appreciate the help.

[2022-04-24 22:53] #12779 closed

[2022-04-24 23:02] awaelchli commented on #12233
Hey @davidegraff
No, I tried to fix it in that PR without success unfortunately.

The error is caused because
1. LightningModule registers state_dict hooks at initialzation
2. The trainer attribute on the LM is a proxy to a weak reference
3. When calling state_dict in your script, the state_dict hooks are called and iterate over `model.__dict__`
4. When hitting the trainer attribute inside the `mo

[2022-04-24 23:15] awaelchli commented on #9956
Yes, I like it. In my proposal the main motivation was to use a different name than for the the (int) 16 to be able to introduce true half precision. So yours works too.

[2022-04-24 23:17] Atharva-Phatak commented on #12786
@awaelchli Yes that will be very helpful if I can have a sample PR. Then I will do it for all the modules :)

Thanks for the help and thanks for being patient with me :)

[2022-04-24 23:18] awaelchli commented on #12624
Yes, that sounds reasonable. Not trivial but doable. Anyone here up to give this a try?

[2022-04-24 23:26] awaelchli commented on #11380
@function2-llx In which cluster environment are you? How are you launching the processes?

[2022-04-25 01:04] awaelchli commented on #11418
No matter how small we make the time between launching the script and determining the version number, the race condition will always exist. If these independent parallel jobs reference the same root folder and all of them assume they are the only ones looking at that folder, they will all updated the versions by looking at which versioned folders already exist. Note, it doesn't matter in which for

[2022-04-25 01:48] #11841 closed

[2022-04-25 03:32] ZwormZ opened #12874 "CUDA out of memory After 74 epochs"
## 🐛 Bug

I am using the pytorch-lighting to run on 8 V100GPUs，and I set a seed in my train srcipt, everything went well at beginning, but encountered  **CUDA out of memory** while running the 74th epoch. This  can be steadily reproduced since  I have run the experiment 4 times with the same result.  The detailed log information is posted in the Additional context section.

### Expected behavior

[2022-04-25 03:57] adisingh50 commented on #12071
I have a similar problem. Specifically, my `__getitem__` function from my `Dataset` class specifically returns `Tuple[str, int, np.ndarray]`. I require the `str` and `int` to generate the input into my neural network, and the `np.ndarray` serves as ground truth label for said input. Anyways, in which function call am I supposed to insert: `self.log(..., batch_size=1)` in order for the lightning tr

[2022-04-25 07:44] ductai199x commented on #12787
@carmocca @awaelchli Could anyone in the team take a quick look at this bug? I know it's does not make PL 100% unusable but this is preventing users from using new features in PL 1.6. Thank you very much in advance!

[2022-04-25 07:58] rohitgr7 commented on #12071
not the number of batches but the batch_size of the current batch being processed.

[2022-04-25 08:03] function2-llx commented on #11380
@awaelchli I treat my cluster as a general-purpose cluster, and I launch the processes by following the [doc of general-purpose cluster](https://pytorch-lightning.readthedocs.io/en/stable/clouds/cluster.html#general-purpose-cluster), i.e., firstly configuring environment variables on each node, and executing the same script on each node.

Currently, I made some custom fix to make the logger create

[2022-04-25 09:25] ShaneTian opened #12875 "[Bug] Incorrect time estimation in the progress bar"
## 🐛 Bug

The progress bar shows the incorrect time estimation when `epoch > 0`:

[code]

`(25 * 60 + 48) / 1 = 1548

### To Reproduce

### Expected behavior

### Environment

* CUDA:
        - GPU:
                - A100-SXM4-40GB
                - A100-SXM4-40GB
                - A100-SXM4-40GB
                - A100-SXM4-40GB
                - A100-SXM4-40GB
                - A100-SXM4-40GB

[2022-04-25 12:24] #12823 closed

[2022-04-25 13:47] wisecornelius commented on #12624
I think it is quite a quick fix. Ill give it a go sometime this week.

[2022-04-25 16:41] #12738 closed

[2022-04-25 17:31] morganmcg1 commented on #11380
Hi, @function2-llx , @awaelchli , getting back to this, are you running Lightning v1.6? Wandb service is turned on by default there. I know you mentioned its not solved by service so I'll raise this with out eng team

[2022-04-25 18:33] akihironitta commented on #12865
Hi @chriswangky! Let's close this issue to not scatter information between this issue and the linked discussion.

[2022-04-25 18:33] #12865 closed

[2022-04-25 23:46] wangraying commented on #12847
Yes, features in bagua `contrib` have not been supported in Pytorch Lightning yet.

[2022-04-26 02:57] akihironitta commented on #12874
@ZwormZ I believe there're quite a number of fixes/improvements since `1.3.0` released a year ago, so could you try a newer version? Also, if the problem still persists, would it be feasible for you to share a reproducible script?

[2022-04-26 06:04] function2-llx commented on #11380
Hello @morganmcg1 , yes I'm tested with Pytorch Lightning 1.6.0.

[2022-04-26 07:37] ZENGYIMING-EAMON commented on #12274
Same bug here for PL 1.6.1. Any progress on this issue?

[2022-04-26 07:38] ZENGYIMING-EAMON commented on #12274
Or how can we hack this to work around?

[2022-04-26 07:56] akihironitta opened #12881 "Unpin `deepspeed<0.6.0` in CI"
## 🚀 TODO in CI

In GPU CI, the version of deepspeed was pinned at 0.5.10 due to the same issue as (or a similar issue to) https://github.com/microsoft/DeepSpeed/issues/1878.

Its patch (https://github.com/microsoft/DeepSpeed/pull/1901) will be included in the next release, so once 0.6.2 is released, we can try updating the following line:

https://github.com/PyTorchLightning/pytorch-lightning/blo

[2022-04-26 10:25] rohitgr7 commented on #12274
just wondering if you could just point `_batches_that_stepped` to `global_step / number of optimizers`?

[2022-04-26 11:06] ZENGYIMING-EAMON commented on #12274
Don’t know how to achieve this. What do you mean by global_step / number of optimizers ? and why the _batches_that_stepped should be pointed to it?

[2022-04-26 11:33] carmocca opened #12883 "Address current CI blocker"
Updating fairscale triggered the following error:

[code]

There are 3 issues here:
1. https://github.com/facebookresearch/fairscale/blob/e65833a0e4a3d5b0fad6128032746a03a733d275/fairscale/optim/adascale.py#L639 should be unintended.
2. `docstring-parse==0.14` started raising this error.
3. `jsonargparse` should be resilient to these kinds of errors and fallback to something cc @mauvilsa

For now,

[2022-04-26 12:09] carmocca commented on #12875
Might be a duplicate of https://github.com/PyTorchLightning/pytorch-lightning/issues/12787

[2022-04-26 12:32] carmocca commented on #12855
Hi @pimdh! Would you be interested in contributing this fix?

[2022-04-26 14:05] carmocca commented on #12824
@RuRo Can you share what rich version you have installed? `pip freeze | grep rich`

[2022-04-26 14:10] rohitgr7 commented on #12864
hey @ShaneTian !

would you mind trying out #12887 to verify if it fixes your issue? I have added a test case too.

[2022-04-26 14:18] ZENGYIMING-EAMON opened #12888 "CSV logger does not support multiple data loaders (AssertionError: can only test a child process)"
## 🐛 Bug

 When I run trainer.predict, CSV logger does not support multiple data loaders.

### To Reproduce

### Expected behavior

CSV logger record multiple data loaders into multiple .csv files
### Environment

- PyTorch Lightning Version 1.6.1:
- PyTorch Version 1.10:
- Python version 3.9:
- OS (Linux):
- CUDA/cuDNN version: cuda 11.3
- GPU models and configuration:
- How you installed PyTorch

[2022-04-26 14:30] akihironitta commented on #12703
Hi @di0002ya! During each training epoch, Lightning caches all values logged with
[code]
which should be the main reason why the memory usage increases in your case.

https://pytorch-lightning.readthedocs.io/en/latest/extensions/logging.html#automatic-logging

Could you check if disabling it reduces the memory footprint?
[code]

[2022-04-26 14:32] rohitgr7 commented on #12817
hey @RuRo !

can you tell how are you passing the checkpoint path here to resume?
[code]

[2022-04-26 14:47] akihironitta commented on #12665
Hi @FengXiaoGu!

What do you mean by "control optimizers"?

Also, could you elaborate on what isn't clear in the linked discussion?

[2022-04-26 14:58] antonkhmv commented on #3500
Hi! How do you define nb steps per epoch? I'm using just a regular DataLoader with IterableDataset. I've tried searching for it, I couldn't find anything. I tried overriding __len__ for the data loader itself, not IterableDataset, since it seems that's how the number of batches in an epoch is calculated in code, but it still shows me a warning. It seems to work but I'm not sure if that's going to

[2022-04-26 15:10] RuRo commented on #12862
Not sure what do you mean by "my observations are correct". My point was that splitting the training into separate `fit` and `test` scripts is **undesirable** because creating a new trainer starts a new experiment and therefore breaks some features of `pytorch-lightning`.

**Should** it be possible? As I've already mentioned, there are some cases, where this ability would be really useful (you may

[2022-04-26 15:12] RuRo commented on #12824
@carmocca `rich==12.2.0`

[2022-04-26 15:22] rohitgr7 commented on #12875
hey @ShaneTian !

would you mind trying out #12889 and checking if it fixes your issue?

[2022-04-26 15:22] rohitgr7 commented on #12787
hey @ductai199x !

would you mind trying out #12889 and checking if it fixes your issue?

[2022-04-26 15:25] RuRo commented on #12817
@rohitgr7 Sorry, I don't understand the question. The example code, that I provided, is a full example. I am not passing any checkpoint paths anywhere.

I think, that the checkpoint is created and restored automatically by `auto_lr_find` during `tune`.

[2022-04-26 16:07] awaelchli commented on #12862
Yes you are right, it does not. The reason is that some of these possibilities are non-trivial to handle, both for Lightning as well as the user. That is why we say the "dumb" thing of use `devices=1`, because that's the only situation where we can guarantee that metrics get computed properly.

In this case you're good! No action needs to be taken. The warning can be safely ignored. Should we say

[2022-04-26 16:19] ORippler opened #12890 "`QuantizationAwareTraining` does not use `torch.ao.quantization.fuse_modules_qat`"
## 🐛 Bug
Models in `QuantizationAwareTraining` should be fused in a qat-respecting manner, but currently are not

### To Reproduce
Look at the code, where QAT uses [`torch.quantization.fuse_modules`](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/callbacks/quantization.py#L255), which calls [`torch.ao.quantization._fuse_modules`]((https://github.com/PyTorchLigh

[2022-04-26 16:55] #12883 closed

[2022-04-26 17:12] RuRo commented on #12862
I don't know, how representative my opinion is of the wider community, but I take warnings very seriously. I have a zero warning policy, and I try to understand and fix all the warnings in my code.

To me, a warning is basically an `Exception` that didn't terminate the program. In some sense, a warning is worse than an exception, because a program that does the wrong thing is **worse** than the pr

[2022-04-27 01:12] JiangWenPL commented on #12302
I would say loading a model from a configuration file in jupyter notebook is a quite common scenario for many research projects. For example, we may want to create colab demo for our research projects or run some interactive visualization or experiment on downstream tasks with our model.
A simple workaround for current version could be something like this:
[code]
You just need to instantiate this

[2022-04-27 01:47] #12824 closed

[2022-04-27 03:36] ZwormZ commented on #12874
Thanks for replying to me!

I have update pytorch-lighting to 1.5.10 version, and try to run twcie. This time I encountered CUDA out of memory while running the second epoch. I have not encountered this when running smaller models, but when I try to deepen the model by one layer, this happens and instead of **CUDA out of memory** at the beginning of training, I get an error at some epoch, which I

[2022-04-27 06:30] exnx opened #12894 "accumulate_grad_batches flag in trainer changes cosine decay scheduler incorrectly"
## 🐛 Bug

When using the `accumulate_grad_batches` flag in trainer, I noticed it changes my scheduler LR differently.  I am using TIMM's cosine decay scheduler.  And when I use 1 gpu, I set `accumulate_grad_batches` = 4, and when I use 4 gpus, I set `accumulate_grad_batches` = 1.  Then I noticed the LR scheduler (in wandb) displayed different LR during training.  For the `accumulate_grad_batches`

[2022-04-27 07:18] krshrimali commented on #11933
Hi, so I was finally able to find some time to benchmark for possible precisions (apologies for the delay).

| Precision        | PyTorch (iters/s) | PyTorch Lightning (iters/s) |
| ------------- |:-------------:      | :-----:                                   |
| `float16`        | 3.92                     | 4.27                                       |
| `float32`        | 3.77

[2022-04-27 07:42] justusschock opened #12895 "[RFC] "auto" precision support"
## 🚀 Feature
Introducing the support for `precision="auto"`, which enables AMP whenever available and falls back to fp32 otherwise.

### Motivation

After introducing `accelerator="auto"` support, it is hard to determine the precision type to use.
Personally, I use AMP, whenever running on GPU and the GPU supports it. Otherwise I use fp32. Since precision has to be set at the same time, we specify

[2022-04-27 07:58] justusschock commented on #12874
Can you also add the implementation of `forward`? It seems this would be causing the error.

[2022-04-27 08:06] ZwormZ commented on #12874
Here is the  the implementation of `forward`:
During Training, parameter: repr_layers=None, need_head_weights=False, return_contacts=False
[code]

[2022-04-27 08:57] ORippler opened #12896 "`QuantizationAwareTraining(on_fit_end=True)` breaks `Trainer.test(ckpt="path")`"
## 🐛 Bug
When performing `QuantizationAwareTraining` with `quantize_on_fit_end=True`, the signature of calling `Trainer.test(ckpt= PATH)`
errors/no longer works.

### To Reproduce

https://colab.research.google.com/drive/1F2HJWkUSGWpoHgGLZgMaPiJMlZBU0AeM?usp=sharing

### Expected behavior

`Trainer.test(ckpt = PATH)` works normally, even for `QuantizationAwareTraining(quantize_on_fit_end=True)` (w

[2022-04-27 10:01] ORippler opened #12899 "Add `LM.fuse_model` method for `QuantizationAwareTraining`"
## 🚀 Feature
By adding a `LM.fuse_model` method, the user can define operations that are to be fused in a much easier way compared to the current way of explicit, string-based definitions in `QuantizationAwareTraining` callback.

### Motivation
The current way of specifying model fusion in `QuantizationAwareTraining` is really annoying, requiring the explicit declaration of which operations to fus

[2022-04-27 12:01] ORippler opened #12900 "Inference with `QuantizationAwareTraining` model inconsistent"
## 🐛 Bug
I am having difficulty to reproduce results of a post-QAT pre-conversion.
Use-case is that I want to conditionally infer either on GPU (post-QAT pre-conversion) or CPU (post-QAT post-conversion).
However, results of these two models are inconsistent, and post-QAT pre-conversion restored from checkpoint behaves different to post-QAT pre-conversion, when supplied to `Trainer.test.

### To R

[2022-04-27 12:12] carmocca opened #12901 "Move progress bar's loop properties to the loops"
## Proposed refactor

Move these:

https://github.com/PyTorchLightning/pytorch-lightning/blob/6490996b3974019a254f2750f5c01e6d38ff6a6e/pytorch_lightning/callbacks/progress/base.py#L80-L173

To their respective loops.

Deprecate the existing progress bar properties.

Have the progress bar use the new properties.

### Motivation

These properties can be useful for other components, but since they ar

[2022-04-27 12:23] awaelchli commented on #12901
It probably makes sense for some of these but how would you represent for example the `val_batch_idx` directly on the loop? The logic that is implemented there is taking the value from either one or the other loop, so it seems this type of branching will always be necessary in the progress bar.

[2022-04-27 12:34] carmocca commented on #12901
Yes. that one would stay, but we could move the `loop.epoch_loop.batch_progress.current.processed` access

[2022-04-27 15:20] HMellor opened #12903 "Additional `zero_grad` and `backward` being performed when using IPU"
## 🐛 Bug

When training on the IPU, the zero gradients and backward pass are compiled into the IPU program. This means that instead of:

[code]
You would use:
[code]

However, when [closure()](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/loops/optimization/optimizer_loop.py#L131-L143) is executed in [optimizer_step()](https://github.com/PyTorchLightning/pytor

[2022-04-27 16:18] SeanNaren commented on #11933
Working with @krshrimali to try to investigate!

I'm excluding Lightning and using the [pytorch imagenet example](https://github.com/pytorch/examples/blob/main/imagenet/main.py) to gather the below results on an A100. I ran for more than 2500 iterations.

| Precision      | seconds per iteration |
|----------------|-----------------------|
| FP32           | 0.103                 |
| FP32 (No TF32

[2022-04-27 17:08] HMellor commented on #12903
It appears that `backward` is being overridden in [plugins/precision/ipu.py](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/plugins/precision/ipu.py#L47) and being called by `_call_strategy_hook` in [loops/optimization/optimizer_loop.py](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/loops/optimization/optimizer_loop.py#L309

[2022-04-27 23:06] #11547 closed

[2022-04-27 23:06] #11407 closed

[2022-04-27 23:06] #11900 closed

[2022-04-27 23:06] #11741 closed

[2022-04-27 23:06] #11901 closed

[2022-04-27 23:06] #5646 closed

[2022-04-27 23:06] #11957 closed

[2022-04-27 23:06] #11906 closed

[2022-04-27 23:06] #12018 closed

[2022-04-27 23:09] akihironitta commented on #12743
This feature seems to have been addressed in #12795, which is available under `pytorch_lightning/demos/`
https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/demos/boring_classes.py

[2022-04-27 23:09] #12743 closed

[2022-04-28 00:06] #12025 closed

[2022-04-28 00:06] #11947 closed

[2022-04-28 00:06] #12050 closed

[2022-04-28 00:06] #12117 closed

[2022-04-28 00:06] #12356 closed

[2022-04-28 00:06] #12354 closed

[2022-04-28 00:06] #11367 closed

[2022-04-28 00:06] #11427 closed

[2022-04-28 00:58] carmocca commented on #5000
Closing as we don't plan to do this since it would be inconsistent with the requirements of #5030 where the original `last.ckpt` couldn't be renamed for backwards compatibility

[2022-04-28 00:58] #5000 closed

[2022-04-28 01:12] tsuga opened #12908 "enum.Enum in hparams causes an error if used with TPU"
## 🐛 Bug

My team is using python `enum.Enum` to manage hyper parameters primarily for getting better IDE support and conciseness.
It works fine with GPU training, but it causes an error with TPU training.

### To Reproduce
The essential codes are:

[code]

[code]
For the complete reproducible notebook is here:
https://colab.research.google.com/drive/14uOqslWVPvteF5kVZ4WngHQ2PzNKT3_g?usp=sharing

[2022-04-28 01:25] carmocca commented on #12899
Instead of trying to add a hook in the LM that's specific to this callback, I would instead look at adding such hook in the callback itself, or allow passing a Callable to it

[2022-04-28 03:06] Borda opened #12910 "Trainer.predict() as generator"
## 🚀 Feature

### Motivation

Recently I was using Flash for some image segmentation, and the case is that the predictions are almost the same size as input images or even larger if output prediction/probability for each class in your multi-class semantic segmentation... then running predictions for all dataset atm would need to implement custom callback with saving to a file, but what if I just n

[2022-04-28 04:03] Borda commented on #12350
@kaushikb11 ^^

[2022-04-28 04:20] felipegb94 commented on #11925
@JackKelly I encountering a similar segfault when trying to log an image with tensorboard inside the training step (i.e., I use  `self.logger.experiment.add_image` inside the training step) .

One thing that solves the segfault is adding a `plt.pause(0.1)` _right after_ I finish plotting or adding the image:

[code]

Since I only log the images a few times during the epoch, adding a pause does not

[2022-04-28 10:14] SeanNaren opened #12914 "ShardedGradScaler should not be used in BF16"
## 🐛 Bug

The ShardedGradScaler is being passed in when the precision is set to BF16.

[code]

cc @SeanNaren @awaelchli @rohitgr7 @akihironitta

[2022-04-28 11:15] mbuttner opened #12917 "MisconfigurationException: Trying to inject `DistributedSampler` into the `AnnLoader` instance"
## 🐛 Bug

This a copy of the [issue 757](https://github.com/scverse/anndata/issues/757) posted at the anndata github repository.

I have been trying to implement an MLP to predict cell type labels using pyTorch Lightning and the AnnLoader function from the anndata Python package. For the implementation, I followed the [AnnLoader tutorial to interface with pyTorch models](https://anndata-tutorials.

[2022-04-28 12:05] NegatioN commented on #12546
Sorry for the late answer @akihironitta
I tried multiple different versions of sentencepiece, and simply changing that did not solve anything for me.

After bumping `mamba`, I seem to resolve a different version of transformers (4.14.1), and several other sub-dependencies. This new combination seems to work for me, but I can't say I understand exactly what's going wrong in the first place.
Not ent

[2022-04-28 12:06] #11375 closed

[2022-04-28 12:06] #11529 closed

[2022-04-28 12:06] #11434 closed

[2022-04-28 12:06] #11013 closed

[2022-04-28 12:06] #11523 closed

[2022-04-28 12:06] #10331 closed

[2022-04-28 12:06] #10844 closed

[2022-04-28 13:06] #9412 closed

[2022-04-28 13:06] #11209 closed

[2022-04-28 13:06] #10299 closed

[2022-04-28 13:06] #10981 closed

[2022-04-28 13:06] #11178 closed

[2022-04-28 13:06] #10992 closed

[2022-04-28 13:38] pimdh commented on #12855
Hi,
I found that the above suggestion doesn't actually lead to the correct folder being used, as the checkpoint dir resolver doesn't use the same subdir as MLFlow. The correct way of setting the directory is something like:
[code]

However, if we'd set this run-specific `artifact_dir` as `logger.save_dir`, then `ModelCheckpoint.__resolve_ckpt_dir` will add a run-specific subdirectory to this:
[cod

[2022-04-28 14:24] #12804 closed

[2022-04-28 15:44] #12914 closed

[2022-04-28 16:34] carmocca commented on #12895
I see the usefulness of this in the general base case. However, it opens a can of worms in terms of unconventional accelerators, strategies, and your actual hardware (the precision choice depends on the hardware too).

There will be combinations of these where we won't be able to make an informed decision and we will likely need to default to regular precision. In those cases, setting `auto` for p

[2022-04-28 17:01] carmocca commented on #12855
If i'm not mistaken, you should not pass the dirpath to `ModelCheckpoint` so it uses the logger's `save_dir`: https://github.com/PyTorchLightning/pytorch-lightning/blob/55b3bc3e362c3bbd37ccf7755c4bc52c2f4c9787/pytorch_lightning/callbacks/model_checkpoint.py#L593

Which in the case of MLFlow, it's based off your `tracking_uri`: https://github.com/PyTorchLightning/pytorch-lightning/blob/55b3bc3e362c

[2022-04-28 18:15] justusschock commented on #12895
@carmocca I think that we will still default to fp32 and users can set this. If not supported by hardware we can simply error out, I guess.

However, I research think that we need a way to say "use amp if on gpu and else use fp32" :)

[2022-04-28 20:37] #12557 closed

[2022-04-28 20:55] jdavid04 opened #12922 "Checkpoint loading patch fails when using a pre-trained featurizer within a Lightning module."
## 🐛 Bug

I am getting the error: `ModuleNotFoundError: No module named 'pytorch_lightning.utilities.argparse_utils'` coming from
migration.py when loading checkpoints for models which leverage pre-trained models also trained via Pytorch Lightning.

Essentially, the context manager is called recursively, since the model relies on features generated from a pre-trained model. This model also require

[2022-04-28 21:07] jdavid04 commented on #12922
A solution to this in the legacy_patch would be to simply check if `pytorch_lightning.utilities.argparse_utils` is still in sys.modules before the `del` command.

[2022-04-28 21:22] awaelchli commented on #12910
The trainer method returning a generator is an interesting idea. It would probably not be too hard to implement this for a simple loop like the Trainer.predict.
Note however, for all spawn-based strategies, this is not going to work so cleanly because the main process does not have direct access to the outputs of the workers. It would require a queue and the order in which these outputs come in co

[2022-04-28 21:39] samgelman opened #12923 "Monitored metric (val loss) not found when resuming from checkpoint"
## 🐛 Bug

I get `UserWarning: ModelCheckpoint(monitor='val_loss') could not find the monitored key in the returned metrics: ['epoch', 'step']` when resuming training from checkpoint. However, I am logging val_loss, so I would expect it to be there. I think the problem is related to specifying a custom dirpath and log directory, but I'm not sure.

### To Reproduce

https://colab.research.google.com

[2022-04-29 01:04] richarddwang opened #12924 "Speed drastically slows down after the first epoch"
## 🐛 Bug

Training speed (it/s) get 2x slower after the first epoch,
and it seems to get slower after every epoch.

This observation appears when upgrading from 1.5.10 to 1.6.0
( i.e. 1.5.10 works well and is ok )

### To Reproduce

I can confirm it with both my code and this colab notebook
https://colab.research.google.com/drive/18NgixZRZR5i6L6xDU6P1dPMBoizq1A7i?usp=sharing (edit: sharing setting

[2022-04-29 03:45] Jason-Khan opened #12925 "Performance drop from version 1.4 onwards"
## 🐛 Bug

I ran my classification model on the same code, using 3 different versions of PyTorch Lightning.
Red curve is 1.4.8, orange is 1.5.10, and blue is 1.6.2.
Called pl.seed_everything(0) and can confirm that results can be reproduced if run with the same seed again.
![image](https://user-images.githubusercontent.com/17810447/165881872-2f5bfa35-ab56-4624-a704-cb11296c7c0c.png)

Nothing else i

[2022-04-29 05:13] #5030 closed

[2022-04-29 09:17] AlafateABULIMITI commented on #12612
@rohitgr7 Thank you for your explanation, but do you know some temporal solution for this? Otherwise, I can't use my trained models and have to rewrite the code again😮‍💨

[2022-04-29 11:23] carmocca commented on #12925
Hi! 1.4.8 was released quite a while ago, so I cannot tell you what could be the problem off the top of my head.

Since you cannot provide a reproducible script, you can try debug the issue by comparing the model outputs for each sample and how many of them you have.

But if validation is not very expensive, the best way would be to git-blame the [list of commits](https://github.com/PyTorchLightni

[2022-04-29 11:52] #12439 closed

[2022-04-29 12:18] carmocca commented on #12917
@mbuttner Thanks for reporting this!

Here's a smaller reproduction code that copies how the `AnnLoader` is implemented:

[code]

The error you are experiencing could be solved 2 ways:

1. Before 1.6.0, modify the `AnnLoader` implementation:

[code]
2. After 1.6.0, we do this automatically as long as you create the dataloader in a hook:

[code]

Still, a different error will now appear:

which wou

[2022-04-29 12:24] carmocca commented on #12908
This is unsupported by XLA and mentioned in our [troubleshooting guide](https://pytorch-lightning.readthedocs.io/en/stable/accelerators/tpu.html#troubleshooting)

AFAIK there's no solution or workaround. cc @kaushikb11

[2022-04-29 12:26] carmocca commented on #12922
@jdavid04 Feel free to open a PR with the proposed fix

[2022-04-29 12:48] #12923 closed

[2022-04-29 13:33] nicocheh commented on #12774
Hi @awaelchli , i used DDPSpawnStrategy(find_unused_parameters=False) with accelerator="gpu" and some weeks ago it worked in a jupyter notebook using multiple GPUs. Did something changed that is not working any more?

[2022-04-29 14:03] DonkeyShot21 commented on #12924
Having the same issue, it slows down a lot after the first epoch. Versions before 1.6.0 seem to work fine.

[2022-04-29 16:25] carmocca commented on #12438
Fully agree.

I generally agree. Implementing such methods was useful before the addition of `run=False`. Before that, it was the only way to control the execution of the trainer methods.

If we remove these CLI methods, then removing `return_predictions` from the CLI arguments makes sense.

I think such changes fit better a different issue as they need to make sense unrelated to `predict`'s use w

[2022-04-29 17:30] 2533245542 opened #12933 "BasePredictionWriter: where the input predictions come from?"
Hi,

Just a quick question. I was looking into the BasePredictionWriter callback and I wonder how would the predictions passed to the callback? Is there a way to pass more parameters like the inputs, to the call back to write as well?

<img width="849" alt="image" src="https://user-images.githubusercontent.com/28517073/165993964-6704fd24-6e24-4108-a88d-0ad546ce2662.png">

https://github.com/PyTorc

[2022-04-29 17:33] jdavid04 commented on #12922
I am happy to make a PR with the fix. I think I might need permission to push in order to create the PR.

I've tested the fix locally off the recent main branch and it works, but I encountered new issues arising from [this PR](https://github.com/PyTorchLightning/pytorch-lightning/pull/12814) when running in an already parallel environment (in my case, with Ray Tune). In that case, the code never t

[2022-04-29 18:38] rohitgr7 commented on #12922
you can fork the repo and send the fix?

[2022-04-29 18:42] rohitgr7 commented on #12933
predictions are passed to one of the callback hooks internally which passed them to this method.
https://github.com/PyTorchLightning/pytorch-lightning/blob/46c59d04db4156ae98e184e1d9321932f7e2ebf7/pytorch_lightning/callbacks/prediction_writer.py#L99-L119

by inputs if you mean the current batch, then the `batch` argument inside `write_on_batch_end` is what you are looking for.

[2022-04-29 18:45] melihozaydin commented on #5921
Any updates on this?

[2022-04-29 18:46] Sunset17 commented on #12922
Is this sent to me personally 

Sent from Yahoo Mail for iPhone

On Friday, April 29, 2022, 14:39, Rohit Gupta ***@***.***> wrote:

I am happy to make a PR with the fix. I think I might need permission to push in order to create the PR

you can fork the repo and send the fix?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you are subscribed to th

[2022-04-29 18:48] 2533245542 commented on #12933
Thanks Rohit! Is there a way to call on_predict_batch_end only at trainer.test()?

[2022-04-29 18:58] rohitgr7 commented on #12933
for testing, there is a separate hook called `on_test_batch_end`. If follows a similar pattern. If you return the outputs from `test_step`, they will be available there.
https://github.com/PyTorchLightning/pytorch-lightning/blob/46c59d04db4156ae98e184e1d9321932f7e2ebf7/pytorch_lightning/callbacks/base.py#L217-L226

[2022-04-29 21:03] 2533245542 commented on #12933
Thanks again!

[2022-04-29 21:03] #12933 closed

[2022-04-29 23:32] ChickenTarm opened #12936 "Allow for setting distributed timeout for cases where there are long data preprocessing times."
## 🚀 Feature

Allow for setting the torch.distributed timeout to your own custom timing. Currently it is at 30 minutes, but there are some cases where each node in distributed training have very long preprocessing times of the data that exceed 30 minutes. In my case I need to manually preprocess the data per node before launching a distributed job else it will timeout. Initially the processing was

[2022-04-30 04:56] Iywie opened #12939 "After using datamodule, the consuming time of epoch in the progress bar is accumulating."
## 🐛 Bug
The problem happens after I applied datamodule.
In the progress bar, the consuming time of epoch should be reset to zero in every epoch while it is accumulating.
Thus, the estimated time turns to be wrong too.

`Epoch 37:  20%|▏| 9/45 [20:01<1:20:06, 133.50s/it, v_num=8, loss/loss=0.111, lr=0.00791]`
`Epoch 37:  36%|▋ | 16/45 [20:05<36:24, 75.34s/it, v_num=8, loss/loss=0.0933, lr=0.00789]

[2022-04-30 05:16] xieyin666 commented on #12924
Hi, my model takes up a lot of video memory and needs multi-gpu training. I set parameters according to the official example, but kept getting errors. Do you have any good tips to share with me? Thank you very much! My code setup is as follows:
![image](https://user-images.githubusercontent.com/83076581/166092233-2d15556e-b7d1-46cc-814a-988df4a804bb.png)
![image](https://user-images.githubusercont

[2022-04-30 05:22] dududukekeke commented on #12924
Hi, my model takes up a lot of video memory and needs multi-gpu training. I set parameters according to the official example, but kept getting errors. Do you have any good tips to share with me? Thank you very much! My code setup is as follows:

![image](https://user-images.githubusercontent.com/83076581/166092448-129905c7-6f0a-4322-828c-f6af380729be.png)
![image](https://user-images.githubusercon

[2022-04-30 12:32] pimdh commented on #12855
Sorry I wasn't completely clear. I'm using a SQLite DB as tracking URI. Then you can supply a directory do MLFlow to store the file artifacts in. In this case, the assertion fails.

What I meant in my second post is that in that case, MLFlow uses the following path to store the artifacts for a run:
```ARTIFACT_LOCATION/MLFLOW_RUN_ID/artifacts/```
while `__resolve_ckpt_dir` picks:
```SAVE_DIR/MLFLO

[2022-04-30 20:39] digital-idiot opened #12941 "predict_dataloader is missing in LightningDataModule"
In the [documentation](https://pytorch-lightning.readthedocs.io/en/stable/extensions/datamodules.html#predict-dataloader) it is said that:

However, unlike `train_dataloader`, `val_dataloader` and `test_dataloader` there is no reference of `predict_dataloader` in the [source](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/core/datamodule.py). Also `from_dataset

[2022-05-01 01:45] matejciglenecki commented on #2110
I create a simple callback `OverrideEpochStepCallback` which overrides the `step` to the current epoch index. `step` is overridden on every _epoch-ending_ procedure:

[code]

This way, you don't need to implement `training_epoch_end`. `training_step` can log metrics every epoch and the `OverrideEpochStepCallback` takes care of the step number:
[code]

[2022-05-01 04:06] david-waterworth opened #12943 "Distribution not moved to correct device"
## 🐛 Bug

I'm attempting to port a variational auto-encoder to use `torch.distributions`. I noticed that when I define a `torch.distributions.Distribution` as a module parameter - for example the `prior` in the example below - it doesn't get moved to the correct device. I'm fairly certain this is because you call `module.apply()` with a lambda in order to recursively move modules to the specific d

[2022-05-01 04:47] tsuga commented on #12908
Thank you for your explanation.

Is it also the case for `[enum.IntEnum](https://github.com/python/cpython/blob/3.10/Lib/enum.py#L807-L808)` ?

[2022-05-01 04:53] george-gca commented on #12734
@awaelchli not the same bug, but my colab link to reproduce the bug is now throwing another error.

[2022-05-01 09:18] sinberlin2 commented on #1238
@dsantiago Weird that the train_loss was the second to last loss. Any ideas why this is?

[2022-05-01 12:57] Benjamin-Etheredge opened #12946 "Allow BackboneFinetuning to accept iterable of modules."
## 🚀 Feature

Allow `pytorch_lightning.callbacks.BackboneFinetuning` to accept iterable of modules. This is already supported by its methods.

### Motivation

Users could have multiple backbone models in one lightning module (e.g., in multimodal or ensemble learning).

### Pitch

In `pytorch_lightning.callbacks.finetuning.py`, adjust type checking in `BackboneFinetuning.on_fit_start` to allow for

[2022-05-01 22:47] #12903 closed

[2022-05-02 00:24] ZENGYIMING-EAMON commented on #10624
still an issue for 1.6.1 if you define something like class SingleConv(nn.Sequential): and use it in lightning modules

[2022-05-02 06:02] AsaphLightricks commented on #5243
Hi, is there a solution to this issue?

[2022-05-02 06:54] kaushikb11 commented on #12908
Yup @tsuga. I believe so. This is a blocker from XLA's end.

[2022-05-02 10:58] #12546 closed

[2022-05-02 11:06] #8336 closed

[2022-05-02 11:06] #12443 closed

[2022-05-02 11:06] #12257 closed

[2022-05-02 11:06] #11812 closed

[2022-05-02 11:06] #12407 closed

[2022-05-02 11:06] #12374 closed

[2022-05-02 11:06] #12385 closed

[2022-05-02 11:06] #11834 closed

[2022-05-02 12:37] #12890 closed

[2022-05-02 13:01] #12908 closed

[2022-05-02 13:03] carmocca commented on #5243
No @AsaphLightricks. Returning `None` in `traning_step` with DDP is currently unsupported.

[2022-05-02 13:04] #12501 closed

[2022-05-02 13:58] rohitgr7 commented on #12939
duplicate: https://github.com/PyTorchLightning/pytorch-lightning/issues/12875

[2022-05-02 13:58] #12939 closed

[2022-05-02 15:43] carmocca commented on #12917
Hi again!

After more investigation, turns out we need to inject more components other than the `DistributedSampler` in the case of `predict`, namely a custom batch sampler: https://github.com/PyTorchLightning/pytorch-lightning/blob/0e4c4424fd2aa9528a20db7873c9adb9b9ba7465/pytorch_lightning/utilities/data.py#L296-L297 which means that the requirements in the DataLoader implementation are still nec

[2022-05-02 16:11] #12648 closed

[2022-05-02 16:30] carmocca commented on #4956
No. Returning `None` from `training_step` is not supported with AMP

[2022-05-02 16:50] Wheest commented on #2233
I had a similar issue, and was not able to find a solution looking at the docs.

I can see that each time I run training, my model checkpoint is saved in a new directory, called `version_{i}`.

E.g.:

[code]

The original question is how to programatically get this version number.

Looking at [this post](https://forums.pytorchlightning.ai/t/how-to-get-the-checkpoint-path/327/7) on the PyTorch Ligh

[2022-05-02 18:23] egafni opened #12954 "ModelCheckpoint is conditioned on batch level metrics"
## 🐛 Bug

The most common use case of ModelCheckPoint is to save using a validation metric such as "val/loss".  However, in its current behavior, it uses the current state of trainer.callback_metrics which contains the last result of the last metric update from a call to self.log().

### Expected behavior

The desired and expected behavior would be to use the loss or accuracy aggregated over the e

[2022-05-02 18:42] rohitgr7 commented on #12954
it does use the aggregated metrics, if you are logging it using `self.log(..., on_step=False, on_epoch=True)` which is also done by default if you are logging it inside validation hooks.

ref: https://pytorch-lightning.readthedocs.io/en/stable/extensions/logging.html#id3

[2022-05-02 18:45] rohitgr7 commented on #12894
what do you mean by faster? if you are using the same batch_size in both the cases then based on step, while using 4 GPUs the decay will be faster as compared to the other case since the effective batch size per step is 4 times here but in the first case the update will happen after every 4 steps (accumulation factor).

[2022-05-02 18:59] rohitgr7 commented on #12943
anything that is not `nn.Module` or registered under buffer will not be moved to the device. Here the `LightningModule` follow the steps of `nn.Module` so even if you do this:
[code]
`model.prior` will stay on the CPU.

I'd suggest doing
[code]

[2022-05-02 22:37] akihironitta opened #12955 "Add testing with PyTorch 1.11 on GPUs in CI"
## 🚀 Feature
We've decided to have testing with both PyTorch LTS and stable release (1.8 and 1.11 as of now) in CI, and we've already seen some issues arose while trying to enable it in #12373.

### TODO
Known issues with PL with PyTorch 1.11

- [x] #12846
- [x] #12860
- [ ] Fix an issue with fitting a model initialised in init_meta_context #12870
- [x] Fix an issue with DDP comm tests with some n

[2022-05-02 23:28] jasonxzhou opened #12956 "Epochs terminating early incorrectly"
## 🐛 Bug

My understanding is that custom dataloaders are expected to reset themselves and throw `StopIteration` when `__next__` is called and there is nothing more to yield (e.g. at end of an epoch).
However, starting from `pytorch-lightning == 1.6.0`, Lightning appears to recognize that there are no more batches to yield, and this final `__next__` call at the end of the epoch is no longer made.

[2022-05-03 04:56] gzerveas commented on #10888
The existing solution e.g. `Trainer(limit_val_batches=0)` is sufficient, but if you are wondering about possible use cases for not performing validation, here is one:
one first defines a custom train/validation split of the training set for optimizing hyperparameters, and once those are fixed, one wants to use the entire training set for training. Evaluation may happen on a separate test set at th

[2022-05-03 08:50] denix56 opened #12957 "Inconsistent example_input_array handling"
## 🐛 Bug

ModelSummary expands example_input_array. So in case we have dict it will be expanded to the arguments.
On the contrary, TensorBoardLogger does not expand and gives example_input_array as it is.

cc @awaelchli @edward-io @rohitgr7 @kaushikb11

[2022-05-03 09:11] rohitgr7 commented on #12801
yeah. let's do it.

[2022-05-03 09:14] rohitgr7 commented on #12943
then you need to define it under `on_test_start/on_validation_start` as well. To make sure they are saved in the checkpoint, maybe try registering them as a buffer so that they are moved to the correct devices as well as saved to the checkpoint.

[2022-05-03 09:38] rohitgr7 commented on #12957
good catch!

would you like to send a PR with a fix?
this is the piece of code you'd need to update.
https://github.com/PyTorchLightning/pytorch-lightning/blob/eebba9e632a53a2bc945ddec430aec45f315b9d1/pytorch_lightning/utilities/model_summary.py#L260-L275

[2022-05-03 10:14] mbuttner commented on #12917
Hi,
thank you for your quick response and looking into this! I'll get in touch with the anndata developers.

[2022-05-03 10:20] #12231 closed

[2022-05-03 11:30] awaelchli commented on #12957
Hi
I actually don't understand what you mean by "TensorBoardLogger does not expand and gives example_input_array as it is". Can you give an example?

[2022-05-03 12:16] #12464 closed

[2022-05-03 12:20] carmocca opened #12961 "[CLI] Follow-up tasks to #12614"
- Deprecate registries
- Deprecate `LightningCLI(auto_registry=...)`
- Rewrite docs around registries

_Originally posted by @carmocca in https://github.com/PyTorchLightning/pytorch-lightning/pull/12614#pullrequestreview-940896764_

cc @borda @rohitgr7 @tchaton @carmocca @mauvilsa

[2022-05-03 12:27] #12062 closed

[2022-05-03 13:23] carmocca commented on #12917
Sorry for the back and forth! We just thought about an improvement to remove this requirement as long as the `DataLoader` is instantiated inside a `*_dataloader` hook

[2022-05-03 14:01] kunal-savvy opened #12963 "Compatability issues with PL 1.5.2 and torch"
## 🐛 Bug

Our team has created  lot of code using Pytorch Lightning version 1.5.2 which had inbuilt compatibility for torch 1.10. However now underlying torch is getting updated to new version automatically and gives a compatibility error. The easy fix for this is to remove PL version while doing pip install BUT that is not feasible. A lot of code is ready to be deployed & retesting it all to new

[2022-05-03 14:46] SeanNaren opened #12964 "Fully Sharded does not enabled mixed precision for wrapped modules"
## 🐛 Bug

When using `DDPFullyShardedStrategy` (fairscale) we do not correctly enable the mixed precision flag for wrapped modules when `precision=16`:

reproduce:
[code]

This is because the internal check looks only for the "mixed" flag: https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/strategies/fully_sharded.py#L166

A separate issue is that passing `precisio

[2022-05-03 15:09] denix56 commented on #12957
Your example_input_array is

[code]

In this case TensorBoardLogger will pass the dict to the forward method as it is.
The ModelSummary will expand the dict and forward will receive lq and gt arguments.

[2022-05-03 15:40] #12964 closed

[2022-05-03 16:21] #12787 closed

[2022-05-03 16:21] #12875 closed

[2022-05-03 16:54] #9741 closed

[2022-05-03 17:26] ductai199x commented on #12963
You can see that `torchvision` is on `0.12.0+cu113` and `torchaudio` is on `0.11.0+cu113`. Maybe some package is overriding your `torchvision` and `torchaudio`? Just as a safe precaution, I always install torch first, then PL, using commands from https://pytorch.org/get-started/locally/ or https://pytorch.org/get-started/previous-versions/

Your case would likely be: `pip install torch==1.10.0+cu1

[2022-05-03 18:24] rohitgr7 opened #12967 "Profile `LightningDataModule` hooks"
## 🚀 Feature

Profile `LightningDataModule` hooks just like that of `LightningModule`.

Is there any specific reason why they are not profiled? Or it's just missed?

### Motivation

some hooks like `setup`, `prepare_data` when defined under `LightningModule` are profiled but when defined under `LightningDataModule` are not. Ideally they should be profiled too.

https://github.com/PyTorchLightning/

[2022-05-03 20:40] #12830 closed

[2022-05-03 20:57] carmocca commented on #12791
Since the registries are going to be deprecated (https://github.com/PyTorchLightning/pytorch-lightning/issues/12961), this can be closed

[2022-05-03 20:57] #12791 closed

[2022-05-03 22:50] ZhaofengWu opened #12969 "Getting predictions and gold labels from `trainer.test()`"
### Discussed in https://github.com/PyTorchLightning/pytorch-lightning/discussions/12841

<div type='discussions-op-text'>

<sup>Originally posted by **ZhaofengWu** April 21, 2022</sup>
Is there a way to obtain predictions and gold labels from `trainer.test()`? I have access to these in `test_epoch_end()`, but since this function doesn't return, I can't pass them outside. Options that I've conside

[2022-05-04 01:19] awaelchli commented on #12957
Right. For tracing with TensorBoard, kwargs are not supported. You will need to return a tuple instead:

[code]

We should include an error message in our TB logger implementation.

[2022-05-04 01:43] akihironitta commented on #12963
Hi @kunal-savvy! You need to have compatible versions of torch-related packages installed.

Please refer to their readme for the version that is compatible with `torch==1.10.0` and check if the correct version is installed in your environment:
https://github.com/pytorch/vision#installation
https://github.com/pytorch/text#installation

[2022-05-04 03:58] akihironitta commented on #11973
Hi @PushanAgrawal! Thank you for working on this in #11996! Would you like to continue the linked PR or let another contributor work on this issue instead?

Hi @shantam-8! Thanks for your interest in contributing!  Let's wait maybe for a few days to hear if @PushanAgrawal still wishes to continue to work on it :] In the meantime, you could pick one of the issues labeled "good first issue" or "help

[2022-05-04 13:12] #12941 closed

[2022-05-04 14:47] agarwalmanvi opened #12974 "from_argparse_args on child classes doesn't pass around the correct arguments"
## 🐛 Bug

For my research I made a hierarchy of classes where the parent `BaseDataModule` inherits from `pl.LightningDataModule` and all other child classes inherit from `BaseDataModule`. Initializing a child class using `from_argparse_args` takes the default values for attributes inherited from `BaseDataModule` and ignores values passed from the command line.

### To Reproduce

In `main.py`:

[co

[2022-05-04 17:04] tobiasfshr opened #12976 "Speed bottleneck when accumulating progress_bar_metrics"
## 🐛 Bug

Since trainer.progress_bar_metrics copies to cpu (via metrics_to_scalars calling .item(), compare L591 of trainer/connectors/logger_connector/result.py), it is not possible to accumulate and average progress bar metrics inside a custom ProgressBar without creating a speed bottleneck due to copying to cpu after every training iteration.

### To Reproduce

Log some scalar tensors, call tra

[2022-05-04 17:47] carmocca commented on #12910
I think this is a cool idea. But being cool is not enough justification for addition.

The framework's overall design always pushes for encapsulating the user's code inside our abstractions. LightningModules, Callbacks, Hooks, Loops, ...
This is the opposite direction. It reduces reusability and control.

As a new user, It would also make me wonder about things like:
- Why not also for `fit`, etc?

[2022-05-04 17:56] carmocca commented on #12976
Hi!

We could do your suggested change. But it would be a breaking change for any other component that relies on the values of `progress_bar_metrics` being simple floats.

What exactly are you trying to do in your custom `ProgressBar`? Accumulating and averaging is a responsibility of our internal logging components, so I would suggest not trying to do this at the progress bar callback level.

[2022-05-04 18:16] #12607 closed

[2022-05-04 18:21] #12801 closed

[2022-05-04 22:07] sinberlin2 commented on #3998
So I can only load a checkpoint from a model if i name the parameters after the checkpoint path, for example:
``best_model_fold = model.load_from_checkpoint(CKPT_PATH, cfg= cfg, fold= fold)
``
and not
[code]

[2022-05-05 07:18] #12963 closed

[2022-05-05 07:58] fireragnarous opened #12979 "Error meet when reproducing mingpt with pytorch lightning+deepspeed."
## 🐛 Bug

When I tried to reproduce the Mingpt example you provided in https://github.com/SeanNaren/minGPT, I built the environment according to the requirement.txt and tried to train the 1.7B model and met the error below:
![2](https://user-images.githubusercontent.com/55270059/166881767-4fabf499-a1a8-451a-9de8-9236d0cf31fb.JPG)

![1](https://user-images.githubusercontent.com/55270059/166881801-d

[2022-05-05 08:13] akihironitta commented on #12979
Hi @fireragnarous! The error msg looks very similar to https://github.com/microsoft/DeepSpeed/issues/1878.

@SeanNaren Could I ask for your help here? Any idea why we still see the error with DeepSpeed 0.6.3?

[2022-05-05 08:24] akihironitta commented on #12979
@fireragnarous As a quick workaround, you could downgrade DeepSpeed to `<=0.5.10`.

[2022-05-05 08:32] fireragnarous commented on #12979
Thank you for your quick reply. I have tried the previous version of deepspeed. When I used 0.5.10, another error occurred:
![3](https://user-images.githubusercontent.com/55270059/166887901-0ffea39d-fa0d-4cd2-b96f-ce13915d00bb.JPG)
 I guess it may because a new version of mingpt has been updated and don't suit old version of deepspeed?

[2022-05-05 08:32] #11912 closed

[2022-05-05 09:15] SeanNaren commented on #12979
Will investigate!

[2022-05-05 09:31] SeanNaren commented on #12979
@fireragnarous I'm able to reproduce this error for deepspeed==0.6.3, but 0.5.10 works. The error you're seeing when using 0.5.10 seems to be because you have CUDA 11.6 installed on the local machine but Torch was compiled with 11.3.

This I think is only needed for `DeepSpeedCPUAdam` could you try modifying the command from `--strategy deepspeed_stage_3_offload` to `--strategy deepspeed_stage_3`

[2022-05-05 09:44] fireragnarous commented on #12979
@SeanNaren  yeah, it seems just because the mismatching of CUDA and Torch version,
![4](https://user-images.githubusercontent.com/55270059/166898716-f5878e55-777a-4f38-9137-f1083ffb1d9d.JPG)
I built such an environment just to support the 3090 GPU.

[2022-05-05 09:44] nicolebussola commented on #5969
same here

[2022-05-05 09:44] fireragnarous commented on #12979
in deepspeed==0.5.10

[2022-05-05 09:56] rohitgr7 commented on #12910
you can do this using a callback?

[code]

[2022-05-05 09:58] rohitgr7 commented on #12969
unfortunately `test`is used to evaluate your model using metrics only and can't be used to return predictions. But you can use a callback to store them.

[code]

[2022-05-05 10:01] tobiasfshr commented on #12976
I have a dictionary of scalar loss tensors that should be accumulated until the next printout happens in the progress bar, and then these should be averaged. If there is already accumulating and averaging happening in the internal components for all of progress_bar_metrics, could you point me to the piece of code? So far if i do not accumulate the values myself, the values seem to be way more unst

[2022-05-05 10:05] fireragnarous commented on #12979
@SeanNaren Now I changed the cuda version to 11.3 and deepspeed==0.5.10 correctly worked now.

[2022-05-05 10:07] SeanNaren commented on #12979
Glad there is a workaround, going to make an issue on the DeepSpeed repo to try to get 0.6.3 working!

[2022-05-05 10:31] akihironitta commented on #12881
Blocked by #12979.

[2022-05-05 10:49] fireragnarous commented on #12979
@SeanNaren Thanks for you effort.

[2022-05-05 13:22] rohitgr7 opened #12982 "precision=64 is broken with DDP with validate/test/predict"
## 🐛 Bug

`precision=64` is broken with DDP with `trainer.validate/test/predict`.

### To Reproduce

[code]

### Expected behavior

Error:
[code]

But should work fine.

### Environment

- PyTorch Lightning Version (e.g., 1.5.0): master
- PyTorch Version (e.g., 1.10):
- Python version (e.g., 3.9):
- OS (e.g., Linux):
- CUDA/cuDNN version:
- GPU models and configuration:
- How you installed PyTorch

[2022-05-05 15:49] samgelman opened #12986 "Warn user if strategy is DDP but seed_everything() has not been called"
## 🚀 Feature

Warn user if strategy is DDP but seed_everything() has not been called

### Motivation

Initial weights might be different on each device if seed_everything() is not called. Need to call seed_everything() to get correct DDP results.

### Pitch

A simple solution would be to throw a warning if the strategy is DDP but seed_everything() has not been called. Can also update the documenta

[2022-05-05 15:56] ananthsub commented on #12986
This shouldn't be needed. DistributedDataParallel internally broadcasts module states from rank 0 to synchronize weights.

[2022-05-05 16:06] #12647 closed

[2022-05-05 18:20] SeanNaren commented on #12979
@fireragnarous this PR for DeepSpeed seems to fix the issue: https://github.com/microsoft/DeepSpeed/pull/1916

We'll wait till this is merged and a version of DeepSpeed is released to remedy the error!

[2022-05-05 18:52] ZhaofengWu commented on #12969
Thanks!

[2022-05-05 18:52] #12969 closed

[2022-05-05 19:40] shenoynikhil98 commented on #12280
@rohitgr7 Any update on this? Wanted to use it for a similar use case (compression fine-tuning).

[2022-05-05 19:43] ananthsub commented on #12986
Here is the code pointer for how thi sis handled within DistributedDataParallel in particular: https://github.com/pytorch/pytorch/blob/56bed0dcfe7ca9047e5c95a6f3d7fcb0ec403b0c/torch/nn/parallel/distributed.py#L648-L655

If using another library, seeding may still be needed (depending on if that library syncs the initial states).

[2022-05-05 20:09] carmocca commented on #12976
Thanks, I understand what you are trying to do now.

The recommended approach, in that case, is to use a `torchmetrics.Metric` instance that you would update, `self.log("foo", avg_metric)` and you could access through your `LightningModule` to extract the `.compute()` value on-demand.

https://torchmetrics.readthedocs.io/en/stable/aggregation/mean.html

Here's a simple example:

[code]

[2022-05-05 20:53] samgelman commented on #12986
Got it, thank you!

[2022-05-05 20:59] DuYicong515 commented on #12193
The metric reset logic was only in `restore_model` but not in `load_from_checkpoint`. So if `_fault_tolerant_training` is enabled, the checkpointing restoring logic when `load_from_checkpoint` for metrics is not correct.

https://github.com/PyTorchLightning/pytorch-lightning/blob/6309a59c3cf93e0bfc352efb7cbf6c50b4544372/pytorch_lightning/trainer/connectors/checkpoint_connector.py#L179-L183

Should

[2022-05-05 23:36] mathemusician commented on #11371
Hello! Permission to make a pull request for this?

[2022-05-06 00:45] HiAleeYang opened #12990 "AttributeError: 'tuple' object has no attribute 'get'"
https://github.com/PyTorchLightning/pytorch-lightning/blob/4818229be67e6eae7605824e66b232bfcb408f58/pytorch_lightning/trainer/connectors/checkpoint_connector.py#L230
I face this problem when I restore my 'pt' file in test
Traceback (most recent call last):
  File "gaitgraph_casia_b.py", line 283, in <module>
    cli_main()
  File "gaitgraph_casia_b.py", line 273, in cli_main
    LightningCLI(
  Fi

[2022-05-06 01:45] arsedler9 opened #12991 "Resuming `Trainer` with `ckpt_path` disrupts logging by `TensorBoardLogger`"
## 🐛 Bug

When I fit a model that uses a `TensorBoardLogger` and then save a checkpoint with `Trainer.save_checkpoint`, the `TensorBoardLogger` of the `Trainer` that resumes from this checkpoint loses the global step count and is not able to log to the same event files. This causes only the data logged by the second logger to show up in TensorBoard, with the global step count starting at zero.

##

[2022-05-06 01:52] arsedler9 commented on #12991
BTW, the `bug_report_model.ipynb` on CoLab is a fantastic idea and well executed! Made it super easy for me to replicate this bug.

[2022-05-06 02:25] Borda commented on #11371
you are more then welcome to do it :tada:

[2022-05-06 03:01] akihironitta commented on #12955
@Borda Would it be an option to have PyTorch 1.12 (nightly) testing, too? For example, #12985 needs 1.12 for adapting FSDP native.

[2022-05-06 03:41] ShaneTian commented on #12815
Any news? I meet it everyday :(

[2022-05-06 09:34] SeanNaren commented on #12955
@akihironitta I think starting with 1.11 is a good idea and seeing how CI time works. I'm scared to use 1.12 nightly in CI as it changes frequently (but I haven't run into compatibility issues).

[2022-05-06 09:50] Borda opened #12997 "PyTorch 1.12 changes default fp32 math to be "highest precision""
In PyTorch 1.12 the default FP32 mode is moving to "highest". This is for numerical stability and the motivation can be seen here: https://github.com/pytorch/pytorch/pull/76509

The issue with this is that users who are using Ampere based GPUs are automatically using TF32 under the hood, which comes with a speed benefit for users that can work within TF32. By swapping this to default off, users wh

[2022-05-06 10:07] rohitgr7 opened #12998 "SimpleProfiler not working on windows"
The `SimpleProfiler` durations are 0 on `Windows`

Examples:
https://github.com/PyTorchLightning/pytorch-lightning/blob/c5e1002fe4bc5f876d3f187999020ad8307e6051/tests/utilities/test_fetching.py#L492
https://github.com/PyTorchLightning/pytorch-lightning/blob/300fa1c31f51fd97c1257c7096df7a835c13d70f/tests/core/test_datamodules.py#L497

cc @carmocca @kaushikb11 @ninginthecloud @rohitgr7

[2022-05-06 10:21] carmocca commented on #12990
Hi!

Are you passing a `ckpt_path`? If so, can you check what `print(torch.load(ckpt_path))` shows?

It looks to me like it's a tuple.

[2022-05-06 11:06] tobiasfshr commented on #12976
okay thanks, that seems to work. However, this feels like a workaround since we are mixing logging responsibilities into the model. I'm not sure what the design goal is, if it is desirable to keep logging and model separate, but to me it seems doing this either in the progress bar or the LoggerConnector would be more intuitive.
Plus one could actually log things dynamically, rather than having to

[2022-05-06 12:23] #12967 closed

[2022-05-06 13:24] awaelchli opened #13000 "Expose hooks to process input args in precision plugins"
## Proposed refactor

### Motivation

#12983 attempted to fix an issue where the evaluation step methods in the DDPStrategy would call the `LightningModule.x_step `methods directly instead of going through the `LightningDoublePrecisionModule.x_step` methods.

This introduced a typing issue where we can't guarantee that `self.model` implements the `x_step` methods.

### Pitch

Treat #12983 as a tem

[2022-05-06 13:46] HiAleeYang commented on #12990
Yes, sorry. that's my fault.I use the wrong checkpoint file.
`print(torch.load(ckpt_path)) `  is
(Data(x=[523639, 17, 3], y=[5497], angle=[5497], seq_num=[5497], walking_status=[5497]), defaultdict(<class 'dict'>, {'x': tensor([     0,     92,    194,  ..., 523449, 523532, 523639]), 'y': tensor([   0,    1,    2,  ..., 5495, 5496, 5497]), 'angle': tensor([   0,    1,    2,  ..., 5495, 5496, 5497])

[2022-05-06 13:46] #12990 closed

[2022-05-06 15:53] carmocca commented on #13000
Sounds good to me. A relevant PR that still needs to land: https://github.com/PyTorchLightning/pytorch-lightning/pull/10079/

[2022-05-06 16:11] carmocca commented on #12955
1.11 is fine (already released)

We removed nightly testing because it was too flaky, making everybody ignore the job. We only enable it when there's a release candidate upstream

[2022-05-06 16:17] carmocca commented on #12956
If that's the problem, you can verify it (and work around it) by doing this:

[code]

[2022-05-06 17:26] aseemk98 commented on #12760
Hi @awaelchli ! I'd love to take this up if possible!

[2022-05-06 18:11] jasonxzhou commented on #12956
Verified - that is indeed the problem. Overriding `trainer.fit_loop` with `WorkaroundFitLoop` resolves the issue.

I had worked around the issue by modifying the custom dataloader provided by NVIDIA DALI, since it was not clear to me if this was an intended change in behavior on the PL side.

[2022-05-06 23:06] ananthsub commented on #12997
Why does this need to be enabled through the Trainer vs setting the torch flag directly. It's a 1-line change for users either way. It could be added to the Lightning docs on performance tips

[2022-05-06 23:12] SeanNaren commented on #12979
@fireragnarous this should be available in the latest DeepSpeed release now, just do `pip install deepspeed -U`!

[2022-05-06 23:12] #12979 closed

[2022-05-07 05:59] akihironitta commented on #12955
Will be addressed in #12984.

[2022-05-07 11:29] tanmoyio commented on #12982
@rohitgr7 I would like to work on it

[2022-05-07 16:39] 6gsn opened #13007 "Validation skipped when using custom batch sampler"
## 🐛 Bug

Hi, I'm trying to use the batch sampler which was implemented as below,

[code]

The sampler works well in the training stage of `trainer.fit()`, however, the validation stage has been skipped.

### To Reproduce

I confirmed that the behavior has not occurred when using `torch.utils.data.sampler.BatchSampler` as below,

[code]

### Environment

- PyTorch Lightning Version (e.g., 1.5.0):

[2022-05-07 17:13] tanmoyio commented on #12997
I want to work on it @Borda

[2022-05-08 00:23] undertherain commented on #11380
I have the same problem with PL 1.6.3
I use custom cluster environment, launching an MPI process for each GPU
I set environment  RANK variable manually in each process before creating WANDB logger but it does not seem to help.
consider reopen?

[2022-05-08 00:28] undertherain commented on #11380
btw in rank_zero.py:
`rank_keys = ("RANK", "LOCAL_RANK", "SLURM_PROCID", "JSM_NAMESPACE_RANK")`
how does checking for LOCAL_RANK make sense? Shouldn't it be global rank?

[2022-05-08 00:42] undertherain commented on #11380
okey... and it didn't work because rank zero is checked on import
I got around it it by
`pl.utilities.rank_zero.rank_zero_only.rank = cluster_env.local_rank()`
before doing anything with PL but this is IMO pretty ugly and I really hope devs would consider reopening this issues and fixing it properly.

[2022-05-08 15:51] semaphore-egg opened #13011 "Training process terminated with exit code 139 if add_image called inside training_step"
## 🐛 Bug

A call to `self.logger.experiment.add_image` inside `trainer.training_step` terminates the training process.

Similar code inside `trainer.on_train_batch_end` or `trainer.on_train_epoch_end` works as expected.

### To Reproduce

[code]

### Expected behavior

According to [documentation](https://pytorch-lightning.readthedocs.io/en/latest/visualize/logging_intermediate.html) logging image

[2022-05-08 17:34] allanchan339 opened #13012 "Auto_select_gpus always choose gpus [0,1] when devices=2, strategy = dp, accelarator = 'auto'"
## 🐛 Bug

I have tried to use auto_select_gpus in the server to train multiple models concurrently. The first model already occupied 13GB VRAM and 6GB VRAM in GPUs [0,1] respectively. However, the expected behaviors that select different GPUs didn't happen.

<img width="617" alt="image" src="https://user-images.githubusercontent.com/38370649/167307884-cc7f2fad-0c39-4836-96e1-8e6b99313ea7.png">

##

[2022-05-08 21:28] awaelchli commented on #12760
@aseemk98 great! Feel free to send a PR with the updates. Are you familiar with the PyTorch profiler?

[2022-05-08 22:01] awaelchli commented on #11380
Yes, that's what you'd need to do on a custom cluster. But don't set it in the code. You need to set it when launching the script if your launch utility doesn't already do it.
[code]

[2022-05-09 00:45] awaelchli commented on #12534
@lorcll Thanks for investigating this.
I see why your fixed works. However, I don't think we should add bagua specific logic to the ddp super class. Instead, the bagua class should just override this in its implementation.
Would you be interested in sending a PR?

[2022-05-09 03:29] awaelchli commented on #13012
@allanchan339

The current behavior is the opposite, intentionally.

Auto-select is only really useful if GPUs are in exclusive mode. If your GPUs are not in exclusive mode, it means multiple processes are allowed to occupy one GPU which is why Lightning will select them even if there is already a boring model running. If your GPU supports it, you can set it to exclusive mode like so: `nvidia-smi

[2022-05-09 04:44] allanchan339 commented on #13012
@awaelchli
Thank you for your reply. I am confused about the selection criteria.
The current selection criteria are decided by exclusive mode + scanning.
Why not select a GPU by the lowest VRAM occupied instead?

[2022-05-09 06:24] kingjuno commented on #12521
@akihironitta Can i work on `LightningModule.on_val_dataloader` or `LightningModule.on_test_dataloader`

[2022-05-09 08:04] Chandu-4444 commented on #12543
I'd like to take up this issue. Some pointers would be of great help to me as I'm new to sphinx?

[2022-05-09 08:09] justusschock commented on #13012
@allanchan339 The lowest VRAM occupation does not always correlate with the lowest load for the CUDA-/Tensor-Cores.

Meaning that you could have a GPU using only 1 GB of VRAM but the cores being 100% utilised, while another GPU using 10GB VRAM is on average 20% utilised meaning that using the GPU with lower utilisation would slow done the training unnecessarily.

The issue with measuring utilisati

[2022-05-09 08:39] shenoynikhil98 commented on #12521
@akihironitta Can I work on `Trainer(checkpoint_callback=...)`?

[2022-05-09 09:33] lorcll commented on #12534
@awaelchli I would like to try, yes. Is there any specific procedure I need to follow?

[2022-05-09 09:50] rohitgr7 commented on #13011
is it terminating right at the first call or after some time? I tried your example for 1 epoch and it's working for me.

[2022-05-09 10:33] semaphore-egg commented on #13011
It is the `add_image` inside `training_step` that causes the problem.  (I just update the sample so the problem-related line is now uncommented.)

The crash happens at batch 2 or batch 3, which is almost at the first call.

![Screenshot from 2022-05-09 18-14-55](https://user-images.githubusercontent.com/56214204/167392559-83958bd9-c6dd-4b2d-92f4-2b2d8e531610.png)

[2022-05-09 10:36] semaphore-egg commented on #13011
I use gdb to trace the problems:
[code]

and get the following report:

![Screenshot from 2022-05-09 18-35-55](https://user-images.githubusercontent.com/56214204/167393409-a6f7d174-9c53-4ded-a6ad-c88497e5ee54.png)

[2022-05-09 10:39] semaphore-egg commented on #13011
@rohitgr7 I just find a closely related issue that has been closed #11925.

[2022-05-09 10:45] rohitgr7 commented on #13011
yep! I did uncomment the line and ran it and it worked. Maybe some issue with your matplotlib installation?
Also tried on [colab](https://colab.research.google.com/github/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/bug_report/bug_report_model.ipynb), and it seems to be working there.

[2022-05-09 14:33] rbracco opened #13016 "LearningRateMonitor callback causes unexpected changes in step/epoch count with WandBLogger"
## 🐛 Bug

Using the LRMonitor callback breaks wandb logging by causing the step count to become incorrect. The image below shows varying epoch/step count while overfitting batches with No LR monitor, `LearningRateMonitor(logging_interval="epoch")` and  `LearningRateMonitor(logging_interval=None)`
![image](https://user-images.githubusercontent.com/47190785/167426845-d9b8167f-3441-409d-99c5-5156ef6f

[2022-05-09 14:56] carmocca commented on #12997
I somewhat agree, but there's precedent for this with the `benchmark=...` flag. It just sets `cudnn.benchmark=bool`.

What would be an appropriate name for this flag though? How do we not confuse users with what it does and what's the relation to `precision=...`?

I don't think this should be set together with `benchmark=...` because I could see somebody wanting one but not the other.

You should

[2022-05-09 16:41] semaphore-egg commented on #13011
I get three servers at hand and two of them reproduce this crash. The third server and the colab work fine.

The crash is not related to the python version (tested on 3.7-3.9), GPU availability, or lightning version (1.6.0-1.6.3).

Seems that there is something wrong with Pillow.
`Pillow > 9.0.1` breaks tensorboard writer and reducing it to `8.4.0` solves the problem.

Will investigate more tomorr

[2022-05-09 18:24] rbregier commented on #12274
Hi, this workaround seems to work for my use case:
[code]

[2022-05-09 18:57] aseemk98 commented on #12760
@awaelchli No, I've never used it before. But I'll go through it.

[2022-05-09 19:02] #12976 closed

[2022-05-10 00:22] akihironitta commented on #11973
@shantam-8 Would you be interested in submitting a PR?

[2022-05-10 02:54] kskdermolab opened #13022 "Exporting model to ONNX not working"
## 🐛 Bug - Help

I was able to train the model on AVA, save the checkpoint, load it and test it and everything was fine. but I have problems to convert it to ONNX.

I had to register "torchvision::roi_align" operation but the internal arguments seems to be wrong. Here is a part of the code that I used:
[code]

The error that I have is the next one:
[code]

The signature of the `roi_align` is this:

[2022-05-10 03:17] akihironitta commented on #12521
@kingjuno @shenoynikhil98 Thank you! That'll be great :)

[2022-05-10 07:13] otaj commented on #13007
Hi @6gsn, thank you for the bug report! Can you please provide a full minimal working example that is illustrating the problem?

In the meantime, I think I know what is going on. While predicting, we are wrapping your `BatchSampler` into our wrapper to keep track of generated batches - however, we expect a custom instance that is inheriting from `BatchSampler` to take same arguments as stock `Batc

[2022-05-10 07:39] #13012 closed

[2022-05-10 08:12] rohitgr7 commented on #12274
cc: @carmocca wdyt?

[2022-05-10 08:27] rohitgr7 commented on #12991
I think this is exactly this issue: #12274

[2022-05-10 08:32] rohitgr7 commented on #13022
seems like the issue is a 3rd party issue? https://github.com/pytorch/pytorch/issues/24817#issuecomment-854329563

[2022-05-10 10:29] arsedler9 commented on #12991
Agreed! Do you think the issue of overwriting / deleting the TB data from the first training session is related to the step number or could that be a separate issue?

[2022-05-10 10:57] #11253 closed

[2022-05-10 11:10] rohitgr7 commented on #12991
it's different. The logging step used in the previous run is not restored and is instantiating from 0 in the new run.

[2022-05-10 11:42] rohitgr7 commented on #12640
the above code-snippet is not throwing any warning on v1.6. Must have been fixed. Closing the issue. Feel free to reopen if it comes up again :)

[2022-05-10 11:42] #12640 closed

[2022-05-10 11:58] carmocca commented on #11807
I would do both of your suggestions, not touch it at all when we cannot do it and show a warning message in that case.

[2022-05-10 17:23] semaphore-egg commented on #13011
After some checks, find that the only problematic Pillow version is `9.1.0`.
Pillow == `8.4.0`, `9.0.0` and `9.0.1` works fine for me. Other lower version is not compatible with `torchvision==0.12.0` so not tested.

Wrapping the logging code with `with torch.no_grad():` does not stop the crash.

The behavior is rather consistent across all my servers and Colab. The crash happens near `step 2` or `

[2022-05-10 18:38] shenoynikhil98 commented on #12521
@akihironitta Can you also assign `Trainer(weights_summary="full"), Trainer(weights_summary=None), Trainer.weights_summary` task to me?

[2022-05-10 19:59] mfoglio commented on #4956
Hi @carmocca , what happens to the batch size when `__getitem__` returns `None`? Will the batch be smaller?

[2022-05-11 08:34] ixsluo opened #13034 "PyTorchProfiler Crash when resuming training from checkpoint"
## 🐛 Bug

PyTorchProfiler crash when resuming epoch equals to Trainer's max training epoch

### To Reproduce

colab bug report [BoringModel](https://colab.research.google.com/drive/1R4x8re2Da8s042ObPUfWPQjXGSnbTvHd?usp=sharing)

Related code:
[code]

Error message:
[code]
### Expected behavior

Resuming epoch equals to max epochs means fit stage is skipped and then test or predict using the loaded

[2022-05-11 10:16] rohitgr7 commented on #12521
@shenoynikhil users should pass in `ModelSummary(max_depth=...)`. You can improve the `max_depth` docstrings to mention more details about it while removing `weights_summary`.

[2022-05-11 11:18] carmocca commented on #4956
@mfoglio Depends on your collate function, but assuming the batch_size is 1, then the loop will skip that batch:

https://github.com/PyTorchLightning/pytorch-lightning/blob/3f78c4ca7a89fed8f79d9015e9510f0a0dcc46b5/pytorch_lightning/loops/epoch/training_epoch_loop.py#L191-L192

Note that this is a different topic than returning `None` from `training_step` as this issue discusses.

[2022-05-11 11:43] wangherr opened #13036 "wrong PossibleUserWarning when using `from_argparse_args(args)`"
## 🐛 Bug

when I use `pl.Trainer().from_argparse_args(args)`, even I set `max_epochs` in args, there is still a warning `PossibleUserWarning: `max_epochs` was not set. Setting it to 1000 epochs. To train without an epoch limit, set `max_epochs=-1`.`

### To Reproduce
[code]

### Expected behavior

remove the wrong warning

### Environment

- PyTorch Lightning Version (e.g., 1.6.3):
- PyTorch Versi

[2022-05-11 12:02] carmocca commented on #13036
Hi!

`from_argparse_args` is a [classmethod](https://www.geeksforgeeks.org/classmethod-in-python/), so it should be called on the class type, not the instance.

[code]

Closing this issue! If you read this misuse in our docs, feel free to open a PR fixing it!

[2022-05-11 12:02] #13036 closed

[2022-05-11 12:36] carmocca commented on #13034
Thanks for the report! Here's a smaller reproduction code:

[code]

Note that the second `fit` call is a little bit useless, because the first call will have already trained for 1 `max_epoch`, so the second one never trains. This uncovers the bug in our logic that's making that assertion fail.

[2022-05-11 13:44] JulesBelveze commented on #11663
+ 1

[2022-05-11 14:11] #12817 closed

[2022-05-11 15:15] vilozio commented on #1113
Thank you for a hint. I've tried to do it in a more generic way

[code]

[2022-05-11 16:52] OZOOOOOH commented on #11300
Hope this issue will be fixed

[2022-05-11 17:43] #12982 closed, assigned to rohitgr7

[2022-05-11 18:11] jxmorris12 commented on #2613
This is still an issue for me too.

[2022-05-11 18:28] #12596 closed

[2022-05-11 21:46] tanmoyio commented on #13016
I would like to work on it

[2022-05-11 22:29] jgbos commented on #11300
@OZOOOOOH sorry, I've been swamped on other projects to finish the PR.  You can checkout a current solution we have here: https://mit-ll-responsible-ai.github.io/responsible-ai-toolbox/how_to/hydraddp.html.

[2022-05-11 23:15] franchesoni opened #13039 "Datapipe handling with more than 1 GPU gives torch.multiprocessing.spawn.ProcessExitedException: process 1 terminated with exit code 1"
## 🐛 Bug

A dataloader around a datapipe works in cpu and gpu but not with 2 gpus

### To Reproduce

Code to reproduce (you need 2 gpus)
https://gist.github.com/franchesoni/7c048c0f0eb56f6aaa2731b0ead78a51#file-issue-py

Output (logged by ussing `python issue.py >> issue.out 2>&1`
https://gist.github.com/franchesoni/7c048c0f0eb56f6aaa2731b0ead78a51#file-issue-out

### Expected behavior

Not break

[2022-05-12 05:21] akihironitta opened #13042 "`nn.Module` subclasses uncollected by `get_all_subclasses` raise `RecursionError` after materialization"
## :bug: Bug
Materialization of a `nn.Module` subclass that is not collected by `get_all_subclasses` sets its materialized module to its child and thus leads to `RecursionError`.

### To Reproduce
Here’s the minimal code for repro:

[code]
[code]

### Expected behavior
No error.

### Environment
Same env as the CI.

- PyTorch Lightning Version (e.g., 1.5.0): master
- PyTorch Version (e.g., 1.10):

[2022-05-12 08:38] kingjuno commented on #11974
@valanm22 Can I start working on this issue if you are not working on this now?

[2022-05-12 08:49] valanm22 commented on #11974
Yes @kingjuno you can.

[2022-05-12 09:22] guotuofeng commented on #13034
could you please help clarify which piece of code fixes the bug so that I can separate it into two PRs?

[2022-05-12 10:39] mads-oestergaard opened #13046 "Trainer profilers are typehinted with the deprecated `BaseProfiler` instead of `Profiler`"
## 🐛 Bug

Trainer profilers are typehinted with the deprecated `BaseProfiler` instead of `Profiler`. This means that you cannot use class_path initialization of profilers with LightningCLI.

Error message:
[code]

### To Reproduce
Use this BoringModel code modified for LightningCLI

`pl_bug.py`:
[code]

along with this trainer config (`bug_trainer.yaml`):
[code]

Run the script from the commandlin

[2022-05-12 14:03] bristena-op opened #13058 "Different results when training for 2 epochs vs training 1 epoch, stoping and training again for another epoch."
## 🐛 Bug

When stopping and re-starting training on a PyTorch model using the RAdam optimizer, results in different state dictionaries for the model. Is there any reason that this works likes this? Stopping and restarting training is very useful for a number of different applications (e.g. transfer learning, federated learning, etc.), and would be important to be able to get the same results when

[2022-05-12 16:03] carmocca commented on #13034
I tried running the above snippet (which fails on master) using your branch and noticed it worked without errors.

Thought you might have a better idea of what's the best way to fix this bug separately since you rewrote most of the profiler already :smile:

[2022-05-12 20:19] csipapicsa commented on #490
I had a same problem, I did a dummy sampling (ex.: X_test = X_test[10000:11000] for the validation set with too high numbers, it  wasn't that long, caused an totally empty set, and of course the NN was not able to validate about the nothing.

Maybe a Warning massage would be good, if the test/train sets are empty.

[2022-05-13 01:31] guotuofeng commented on #13034
@carmocca, would you please try the bug by using my PR and forcing using PyTorchProfilerLegacy by commenting out the PyTorchProfiler definition at the end of the pytoch.py in this PR?

If it crash on the legacy profiler but works on kineto profiler, then it means the internal state used by existing master code is not correct. I am guessing the state machine maintained by the new PyTorchProfilerKin

[2022-05-13 11:24] carmocca commented on #13046
Hi!

Would you like to open a PR with the typehint fix for the `Trainer`?

I would wait on this change until we know the direction on #11653

[2022-05-13 15:23] #12622 closed

[2022-05-13 15:59] tanmoyio commented on #13058
Taking a look, I haven't seen your notebook yet, but a blind guess,  it might be related to lr scheduler. Not sure, working on it.

[2022-05-13 16:22] mads-oestergaard commented on #13046
Yeah sure, but I won’t have time before monday, so if there is another PR that depends on this small fix (#12308) then it’s fine to have them include it.

[2022-05-13 17:29] tian-yi-zefr opened #13066 "tensor values between dali and pytorch dataloaders are exactly the same but model performance dropped more than 1%"
hey guys, I found one weird behavior in DDP training when I switched pytorch dataloader to dali dataloader, not sure if it's dali/pytorch/pytorch lightning issue. I checked that tensor values between pytorch dataloader and dali dataloader (by `check_dataloader_tensor_values`) when shuffle is off are exactly the same, but the model trained with dali dataloader consistently ends up with 1-2% higher

[2022-05-13 18:05] #13042 closed

[2022-05-13 18:10] tianyi-qi-zefr commented on #13066
# after setting replace_sampler_ddp=False
[code]

# after setting replace_sampler_ddp=False and gpus=1
[code]

when replace_sampler_ddp=False, the sample size on 8 GPU is wrong, it should be 60k but got 480k. with replace_sampler_ddp=False and gpus=1, the validation percentage is even bigger.

[2022-05-13 18:24] ericjmcd commented on #741
I just came across this issue now and this thread helped me to a better? solution.  Digging through the code there is a check for MLFLOW_RUN_ID env var so I'm going with:
[code]

MLFlow's fluent.py has:
[code]

[2022-05-13 18:52] justusschock commented on #13066
That the sample size is wrong is expected in that case, as each GPU gets 60k samples (all of them) and 8*60k=480k

However, that the loss goes up on one gpu is certainly something I do not have an explanation for. That being said, I don't really know a lot about dali, so can't tell much what they are doing under the hood. It seems like they are doing something similar under the hood by shard ids.

[2022-05-13 19:10] tianyi-qi-zefr commented on #13066
@justusschock the dali dataloader reads sample by shard id, I verified that dali dataloader don't repeat sample in multi GPU env. I also tried to drop last paritial batch in both dataloaders, the validation loss change is still 0.27159 vs 0.28254 in pl==1.6.3.

[2022-05-13 23:37] ce52supi commented on #765
Where can we use call this class ProgressBar. Is it called in pl.Trainer()?

[2022-05-14 01:59] #12955 closed

[2022-05-14 08:05] shenoynikhil commented on #12521
@akihironitta Can you please assign `Trainer(process_position=...)` to me.

[2022-05-14 08:47] ZENGYIMING-EAMON commented on #12888
Any progress?

[2022-05-14 09:10] shenoynikhil commented on #12521
@akihironitta #12688 Removes XLAMonitor, can you please strike `pytorch_lightning.callbacks.gpu_stats.XLAStatsMonitor` off

[2022-05-14 09:12] ixsluo opened #13072 "normal-type nn.init return `nan` in ddp_spawn strategy"
## 🐛 Bug

`nn.init.kaiming_norm_` or `nn.init.kaiming_normal_` will return `nan` in `ddp_spawn` strategy with more than one node.
Sometime in `ddp` strategy it may also return `nan`, but not that certain as `ddp_spawn`.

### To Reproduce

[code]

and will print
[code]
or track by `detect_anomaly=True`

### Expected behavior

Correct init weights in distributed training

### Environment

- PyTorch

[2022-05-14 12:41] madaanpulkit commented on #12521
@akihironitta Can you please assign `Trainer(max_steps=None)` and `Trainer.fit_loop.max_steps = None` to me.

[2022-05-14 14:39] lg2578 opened #13073 "precision=16 doesn't work"
my code is here:
https://www.kaggle.com/code/lezilv/digit-recognition-pytorch
I've tried update to 1.6.3 and torch==1.11.0
whether or not turn on/off precision=16, the epoch time is same.
any one can tell me what's happened

cc @carmocca @justusschock @awaelchli @akihironitta @rohitgr7

[2022-05-14 15:51] awaelchli commented on #765
It's a callback, so you can add it to the callback list in the Trainer: `Trainer(callbacks=[ProgressBar()])`

[2022-05-14 16:04] awaelchli commented on #13073
Hi @lg2578
The [mixed precision](https://github.com/PyTorchLightning/pytorch-lightning/discussions) does not guarantee you a speed up always, but often times it reduces the memory footprint.
I'm not sure what you expected or what you have read about it, but we would need more information about your issue. Otherwise the issue will be closed. If you have general questions about how to use mixed prec

[2022-05-14 16:29] awaelchli commented on #12534
@lorcll Sorry for the late response. You can fork the PL repo and follow our contribution guide [here](https://pytorch-lightning.readthedocs.io/en/latest/generated/CONTRIBUTING.html#pull-request) to send a pull request from your fork.
Let me know if you have any questions.

[2022-05-14 17:13] justusschock commented on #13073
Also note, that not all GPUs do support mixed precision training at all. Specifically, the older P100 which you apparently get on kaggle don't

[2022-05-14 18:30] shenoynikhil commented on #12521
@akihironitta Can you please assign `Trainer(flush_logs_every_n_steps=...)` to me?

[2022-05-14 22:38] lg2578 commented on #13073
thanks very much.

[2022-05-15 06:23] rohitgr7 commented on #13058
when resuming the training, only model weights are not necessary to be reloaded. In a simple case like yours optimizer states needs to be reloaded too.
so
[code]
this is not enough.

I'd suggest doing:
[code]

[2022-05-15 08:25] #13073 closed

[2022-05-15 13:37] arunpatro-meesho commented on #12623
+1 really need this feature.

[2022-05-15 16:31] awaelchli opened #13079 "RFC: Deprecate `auto_select_gpus` Trainer argument"
## Proposed refactor

Deprecate the `Trainer(auto_select_gpus=True|False)` option and just enable it always when `devices=int` gets selected.

### Motivation

- The feature is misleading, we don't actually have an algorithm to select the gpus automatically in a smart way. A confusion by user was raised recently: #13012
- The flag only applies to the GPU accelerator. There are no equivalent flags f

[2022-05-15 16:37] awaelchli commented on #12590
Was fixed in https://github.com/PyTorchLightning/pytorch-lightning/pull/12608, just not properly linked.

[2022-05-15 16:37] #12590 closed

[2022-05-15 21:16] tanmoyio commented on #13079
@awaelchli want to work on it

[2022-05-16 04:11] ar90n commented on #12130
I met the same issue. And I found a workaround.
In DeepSpeed stage 3, All tensors that are handled by deepspeed are copied into its `ds_tensor` attribute and released.
So we can use the `ds_tensor` attribute instead of itself.  My workaround modification codes are following.

[code]

And the result of the example codes that are above is the following.

[code]

It's no problem that the size of the

[2022-05-16 06:38] dselivanov commented on #11242
I've been stuck with this last several days. The problem seems related to NCCL communication and surprisingly correlates with logging. The clue came from setting `TORCH_DISTRIBUTED_DEBUG=DETAIL` which makes training fail with meaningful error related to NCCL being not in sync and  tracebacks that some ranks are still writing logs and some ranks doing forward pass.
Then I've profiled line by line a

[2022-05-16 10:59] carmocca commented on #13079
Sounds good to me.

Should we allow customizing it by passing `GPUAccelerator(auto_select=...)`?

[2022-05-16 12:17] thesofakillers commented on #8894
Please update your docs with this. From the docs, it seems reduce_fx takes any callable, which is not the case. I just spent a lot of time porting my code to pytorch lightning and now I am blocked because of this issue.

[2022-05-16 16:19] ar90n opened #13085 "DeepSpeed resume training test doesn't work"
## 🐛 Bug

In [test_deepspeed_multigpu_stage_3_resume_training](https://github.com/PyTorchLightning/pytorch-lightning/blob/830da2c4a48570b114076024be2c24045593e592/tests/strategies/test_deepspeed_strategy.py#L797), test codes are located in `TestCallback`. But these codes aren't called.

### To Reproduce

Add a wrong condition to fail this test. But it succeeds.

[code]
### Expected behavior
[code]

[2022-05-16 17:43] ar90n commented on #9833
Hi there. I investigated this issue and found that the cause of it is that DeepSpeed flattens weight tensors in the model. Therefore, unflattening is a solution to this issue. The following modification is an example with `optimizer.unflatten` that is added by DeepSpeed.

[code]

As a result, we can get the following.

[code]

Above workaround is messy and  only work in storeing its internal state

[2022-05-16 23:39] gkeskin07 opened #13087 "DDP training never starts"
### Discussed in https://github.com/PyTorchLightning/pytorch-lightning/discussions/11865

<div type='discussions-op-text'>

<sup>Originally posted by **maxmatical** February 10, 2022</sup>
I'm trying to run ddp training with pytorch lightning trainer via hydra on a multi-gpu GCP instance, but when i launch the experiment, i get the following output
[code]

And the process gets stuck at this point.

[2022-05-16 23:40] gkeskin07 commented on #13087
I am seeing the same issue in a Sagemaker environment with DeepSpeed.

[2022-05-17 00:40] Atharva-Phatak commented on #12786
Hi Thank you I will take a look :)

[2022-05-17 03:08] siddk opened #13088 "[Breaking] Trainer completely breaks on GCP TPU VMs"
## 🐛 Bug

Running the Lightning Trainer with TPUs on GCP TPU VMs leads to complete training failures - processing a single batch with any model takes forever, and eventually (on the order of ~20 batches, or 3 minutes!) **completely stalls**. This is notably _with the provided MNIST example_.

However, writing the equivalent "native" PyTorch code has no problems, completing a full epoch (~54 batche

[2022-05-17 08:30] ahahahahawd commented on #2824
Hi, maybe we can fix it through torchmetrics,  do you have any ideas?

[2022-05-17 12:00] carmocca commented on #13087
Can you share a minimal script that reproduces the hang?

You can adapt this script to do it: https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/bug_report/bug_report_model.py

[2022-05-17 14:16] quancs opened #13092 "Cannot use torch.softmax as a Callable parameter in CLI"
## 🐛 Bug

### To Reproduce

boring.py

<details>

[code]

</details>

[code]

### Expected behavior

print config sucessfully

### Environment

* CUDA:
        - GPU:
                - NVIDIA A100-SXM4-40GB
                - NVIDIA A100-SXM4-40GB
                - NVIDIA A100-SXM4-40GB
                - NVIDIA A100-SXM4-40GB
                - NVIDIA A100-SXM4-40GB
                - NVIDIA A100-SXM

[2022-05-17 15:40] m9jiang opened #13094 "[CLI] Can not parse --data data.yaml correctly"
## 🐛 Bug

Trying to parse trainer, model, and data config from yaml files to CLI with
`python pl_cli.py test --trainer trainer.yaml --model model.yaml --data data.yaml`
While the trainer and models are parsed to CLI correctly, line 342 in pytorch_lightning->utilities->cli.py throws an error when parsing data:
[code]

### To Reproduce
`python pl_cli.py test --trainer trainer.yaml --model model.yaml

[2022-05-17 21:11] alonks1234 opened #13095 "Before/After dataloader batch callback hooks"
## 🚀 Feature

I would like to have callback hooks (or module hooks) before and after we try to get the next batch from the torch dataloader, in order to know how much time is spent waiting for data to be loaded

### Motivation

I am frustrated with the lack of any ability to know how long it takes for a batch to be ready from the torch dataloader. In a pytorch script, I could simply time it takes

[2022-05-17 22:58] tanmoyio commented on #13094
@Borda I want to work on it

[2022-05-18 02:33] #10499 closed

[2022-05-18 10:14] wisecornelius commented on #2638
What is the first `LightningHook` where the module is on the correct device? I thought that would be `setup` but it is still on the `cpu` there.

[2022-05-18 11:15] xsys-technology opened #13099 "How to rollback optimizer step (i.e. reload best checkpoint) during training?"
### Discussed in https://github.com/PyTorchLightning/pytorch-lightning/discussions/13093

<div type='discussions-op-text'>

<sup>Originally posted by **xsys-technology** May 17, 2022</sup>
During training, if the optimizer takes a really bad step that sends validation loss through the roof, how can one rollback the step and reload best model checkpoint (and reset logging results/metrics so that _v

[2022-05-18 15:45] carmocca commented on #8894
Opened a PR with the docs update.

@thesofakillers, what's blocking you exactly? Did you find a `torchmetric.Metric` that covers your use case?

[2022-05-18 16:00] carmocca opened #13102 "MPS (Mac M1) device support"
## 🚀 Feature

https://pytorch.org/blog/introducing-accelerated-pytorch-training-on-mac/
Docs: https://pytorch.org/docs/master/notes/mps.html

______________________________________________________________________

#### If you enjoy Lightning, check out our other projects! ⚡

- [**Metrics**](https://github.com/PyTorchLightning/metrics): Machine learning metrics for distributed, scalable PyTorch app

[2022-05-18 16:41] carmocca commented on #13102
I head @awaelchli just got an M1 :smiling_imp:

[2022-05-18 16:48] carmocca commented on #13092
@mauvilsa this raises an internal error:

[code]

[2022-05-18 16:51] awaelchli commented on #13102
@justusschock also has one if I remember correctly 😃

[2022-05-18 16:54] carmocca commented on #13095
We recently added support for profiling the `next()` calls in https://github.com/PyTorchLightning/pytorch-lightning/pull/12124.

If you install master, you can enable the profiler and check the time.

The pseudocode you wrote wouldn't be correct if the loop contains any extra instructions inside. That is, assuming you want to measure the `next()` call exclusively.

[2022-05-18 17:05] justusschock commented on #13102
I'll investigate on the weekend

[2022-05-18 17:19] carmocca commented on #13102
After a bit of offline discussion, we thought about this API:

- The `MPSAccelerator` is introduced.
- The `GPUAccelerator` is deprecated and renamed in favor of `CUDAAccelerator`
- 2 new accelerator options: `Trainer(accelerator="cuda"|"mps")` to explicitly choose one of the above.
- `Trainer(accelerator="gpu")` now chooses from the 2 accelerators above based on the available hardware. (side note

[2022-05-18 18:41] akihironitta opened #13103 "PyTorch 1.11 testing in CI fails due to timeout"
## 🐛 Bug

<details><summary>links to recent runs</summary>

- timeout (stable):
  - https://dev.azure.com/PytorchLightning/pytorch-lightning/_build/results?buildId=72469&view=results
- timeout (lts):
  - https://dev.azure.com/PytorchLightning/pytorch-lightning/_build/results?buildId=72443&view=results
  - https://dev.azure.com/PytorchLightning/pytorch-lightning/_build/results?buildId=72438&view=re

[2022-05-18 23:43] eubinecto commented on #13102
Just when I thought I wanted to raise an issue! I'm so rooting for this.

[2022-05-19 00:29] ananthsub commented on #13079
FYI this also came up in https://github.com/PyTorchLightning/pytorch-lightning/issues/10535

[2022-05-19 00:34] ananthsub commented on #13102
I'm glad we did the accelerator refactor to make supporting new features like this much easier :)
GPUs is ambiguous, whereas the torch.device type is not: https://github.com/PyTorchLightning/pytorch-lightning/issues/10410#issuecomment-966876553

[2022-05-19 07:17] Rishabh-Choudhry commented on #709
I still get this issue when using conda installation of pytorch-lightning

[2022-05-19 07:39] mauvilsa commented on #13092
Turns out that from the `torch.softmax` object alone it is impossible to determine from where it should be imported. This can be seen by `print(torch.softmax.__module__)` which gives `None`. This is actually a known issue in pytorch that eventually will likely be fixed, see https://github.com/pytorch/pytorch/issues/74483 and https://github.com/pytorch/pytorch/issues/77589.

I will think about a wa

[2022-05-19 08:17] akihironitta commented on #709
@Rishabh-Choudhry Your issue could be a different issue since this issue is quite outdated. Could you create a new issue with your detail?

[2022-05-19 08:48] Hspix opened #13106 "PyTorch Forecasting is slower under 1.6.3 on Linux than on Windows"
## 🐛 Bug

code：https://pytorch-forecasting.readthedocs.io/en/latest/tutorials/stallion.html
When max_epochs=1 and use cpu, it costs **9.6s** on win 10 and **382.79s** on linux.
Using **AdvancedProfiler** , there is difference in SingleDeviceStrategy.validation_step between platforms

windows:
[code]

Linux:
[code]

Cost of **plot_prediction** on linux is more than win 10.

- PyTorch Lightning Vers

[2022-05-19 11:24] #8894 closed

[2022-05-19 11:25] #11973 closed

[2022-05-19 12:41] carmocca opened #13108 "`self.device` is not correct during `setup`"
## 🐛 Bug

### To Reproduce

[code]

### Expected behavior

`lightning_module.device` and `strategy.device` point to the same device

### Additional context

Reported in Slack by Joshua Chia

[2022-05-19 12:45] jchia commented on #2638
@wisecornelius In `setup()`, `self.device` should be correct after this issue is fixed: #13108 13108

[2022-05-19 13:22] WYHbxer opened #13109 "RuntimeError: NCCL error in: /pytorch/torch/lib/c10d/ProcessGroupNCCL.cpp:31, unhandled cuda error, NCCL version 2.7.8"
## 🐛 Bug

I'm trying to train a model. The project comes from [https://github.com/PRBonn/segcontrast](https://github.com/PRBonn/segcontrast)
An error occurred while executing here

    if torch.cuda.device_count() > 1:
        model_sem_kitti = SemanticKITTIContrastiveTrainer(model, criterion, train_loader, args)
        trainer = Trainer(gpus=-1, accelerator='ddp', max_epochs=args.epochs, accumul

[2022-05-19 16:54] carmocca commented on #13106
@Hspix As the profiler trace suggests, the slowness comes from plotting code inside the `validation_step` hook of the model used.

Since the model comes from PyTorch forecasting, you should open an issue [in their repository](https://github.com/jdb78/pytorch-forecasting) instead

The relevant piece of code seems to be here: https://github.com/jdb78/pytorch-forecasting/blob/d4fcba3953ae75b077260b29

[2022-05-19 16:55] DonkeyShot21 commented on #12924
I was using multiple GPUs with DDP.

[2022-05-19 18:00] carmocca commented on #12956
I'm not sure if manually overriding `prefetch_batches` fixes the issue correctly. See this reduced reproduction code:

[code]

prints

[code]

Batches are missing in both cases.

Since the DALI iterator is sized, when we detect that it is exhausted, we signal to stop fetching by setting `self.done`: https://github.com/PyTorchLightning/pytorch-lightning/blob/eb21135b2aad20aaad45aae44858c090f1e780e5

[2022-05-19 18:42] JanuszL commented on #12956
Hi @carmocca,

Thank you for your thorough analysis.
Regarding the options:
-  (1) DALI does the same state reset after returning the last batch by checking the current counter vs total size - I'm thinking about extending auto-reset to have 3 values: `True`, `False`, `Silent`. The silent mode would not rise `StopIteration` and this is probably what we are looking for now. Let me check with the tea

[2022-05-19 19:34] carmocca commented on #12956
Thanks for the quick response! I implemented (2) in #13111

[2022-05-19 19:40] JanuszL commented on #12956
I appreciate the effort, I just don't like the idea of having a dedicated code path just for DALI. I would like DALI to behave like other data sources so it can play nicely in the case where TorchData can.

[2022-05-19 20:02] carmocca commented on #12924
Using the code above but setting

[code]

gives me

| version | Epoch 0 | Epoch 1 | Total   |
|---------|---------|---------|---------|
| 1.5.10  | 4.039  | 3.174  | 10.206 |
| 1.6.3   | 3.962  | 3.112  | 10.051 |
| master  | 3.834  | 3.046  | 9.986 |

[2022-05-20 01:03] hwidong-na commented on #2823
I want to iterate small number of epochs for each outer loop iteration. Here is a workaround by calling `reset_on_epoch()`.

[code]

[2022-05-20 03:11] richarddwang commented on #12924
Hi all,

Confirmed by my own code and the notebook above,
I found that the issue has been resolved in 1.6.3.

For observing the issue, you can install 1.6.0 <= version <= 1.6.2 instead.

Anyway, since it works now.
I am going to close the issue.

[2022-05-20 03:11] #12924 closed

[2022-05-20 11:17] justusschock commented on #12956
I agree with @JanuszL concerns. Having a dedicated path for any lib, PL does not depend on seems weird to me.
That would be similar to special-casing logger backends where we decided against doing that in the past.

I think this could be a potential precedence we don't want to set.

@JanuszL Any estimates on how long it might take to implement (1) ?

[2022-05-20 12:25] JanuszL commented on #12956
@justusschock,

The idea should be rather easy to implement by conditionally not rising StopIteration [here](https://github.com/NVIDIA/DALI/blob/main/dali/python/nvidia/dali/plugin/base_iterator.py#L280). Before we move with that change we want to learn more about TorchData and see how well it would be aligned with its behavior. What we don't fully understand (as we are not that much into TorchDat

[2022-05-20 13:48] justusschock commented on #12956
@JanuszL Not sure about `TorchData`, I'd assume it to have the same issues, but for the `torch.utils.Dataloader`, the key is that there is a separate Iterator class [here](https://github.com/pytorch/pytorch/blob/master/torch/utils/data/dataloader.py#L393) that will be recreated every time to reset it. Therefore it doesn't matter that the last `next` call is missing since the reset is done on the n

[2022-05-20 13:54] JanuszL commented on #12956
@justusschock - thanks for the pointers. We will do our investigation nevertheless, in the meantime, we will sketch the proposed change and see how that works.

[2022-05-20 15:02] aynetdia opened #13118 "Impossible to check whether a current process was launched using the torchelastic command on MacOS"
## 🐛 Bug

When checking whether a current process was launched using the torchelastic command on a system running MacOS, it results in an error stating that `module 'torch.distributed' has no attribute 'is_torchelastic_launched'`. This is due to the `torch.distributed` not being available by default on MacOS, which leads to other APIs in the `distributed` package being hidden, as per the PyTorch [

[2022-05-20 15:04] aynetdia commented on #13118
I've fixed this bug by simply incorporating an additional if-statement in the said method. Thus I am willing to submit a PR.

[2022-05-20 15:36] josejimenezluna commented on #9318
Encountering this issue with `torchmetrics=0.8.2` too.

[2022-05-20 17:39] valkjsaaa opened #13119 "PyTorch supports Metal Performance Shader as an accelerator now, can pytorch-lightning also add support for that?"
## 🚀 Feature

Support Metal Performance Shader (GPU APIs in macOS) in pytorch-lightning

### Motivation

PyTorch supports Metal Performance Shader as an accelerator now. I don't see any reason why this shouldn't be supported in PyTorch Lightning.

### Pitch

A new file can be added to the `accelerator` folder.

### Alternatives

I don't think there is an alternative.

### Additional context

PyTor

[2022-05-20 17:50] ananthsub commented on #13119
This is a duplicate of https://github.com/PyTorchLightning/pytorch-lightning/issues/13102

[2022-05-20 17:50] #13119 closed

[2022-05-20 18:14] JanuszL commented on #12956
https://github.com/NVIDIA/DALI/pull/3923 is an idea of how DALI can deal with the mentioned problem.

[2022-05-20 20:33] bryanmooremd commented on #538
For anyone still struggling with this, the issue was fixed for me by switching strategy from ddp_spawn to DDPStrategy():
https://pytorch-lightning.readthedocs.io/en/stable/extensions/strategy.html

I was only seeing the issue when including a validation step in trainer.fit(). DDPStrategy() resolved the issue.

[2022-05-21 14:34] bugsuse commented on #3215
@williamFalcon Hello, could you point out which one API could fix this?

[2022-05-21 23:47] fishbotics opened #13124 "Resuming from a mid-epoch checkpoint produces negative time estimates"
## 🐛 Bug

I have a checkpoint saved that I reloaded with `trainer(..., ckpt_path=...)` and then started training. The checkpoint was fairly early into the first epoch. Loading this epoch, I get some warnings and finally a super weird time estimate for training. The warnings are:

[code]
and
[code]

And then finally, the training estimate comes back as negative. It looks like this :
[code]

- PyTor

[2022-05-22 03:30] martinb-bb commented on #13118
Can confirm I am seeing same error with running:
pytorch 0.11.1

[code]

[2022-05-22 05:48] akihironitta commented on #13118
@aynetdia Thanks for reporting the issue. I think the patch will be something similar to #12794. Feel free to ping me anytime if you have any trouble submitting a PR :]

[2022-05-22 05:50] akihironitta commented on #13118
@martinb-bb Do you mean PyTorch 1.11.0?

[2022-05-22 06:06] akihironitta commented on #13109
@WYHbxer I would set `NCCL_DEBUG=INFO` and run it again to see information for its possible cause.
https://docs.nvidia.com/deeplearning/nccl/user-guide/docs/env.html#nccl-debug

I'd also try updating the PL version to one of the recent releases as `pytorch-lightning==1.1.8` is very old and a number of issues have been resolved since then. Please note that the current stable release `pytorch-lightn

[2022-05-22 06:16] akihironitta commented on #13016
@rbracco Do you see the issue with other loggers in addition to wandb logger? Would you mind trying the default TensorBoardLogger and seeing if the issue is specific to the logger?

[2022-05-22 06:18] manangoel99 commented on #13016
Hi @rbracco ! Engineer from W&B here. The likely reason for this is that pytorch-lightning has its own step counter and wandb has its own step counter as well. The wandb step counter is incremented whenever wandb.log is called which can be multiple times within the same lightning step.

For example:
[code]
This is 1 training step but this would increment the wandb step twice.

[2022-05-22 08:22] thatlittleboy opened #13125 "Usage of `tests.helpers.datasets` in "Lightning in 15 minutes" tutorial"
## 📚 Documentation

I'm following the ["Lightning in 15 minutes" tutorial](https://pytorch-lightning.readthedocs.io/en/latest/starter/introduction.html#define-a-lightningmodule), and in the code snippet of the second section, there is a reference to a MNIST dataset from the `tests/` directory.

![image](https://user-images.githubusercontent.com/30731072/169685554-7da2d549-09a5-4506-b99e-c6804dd57a

[2022-05-22 09:45] ar90n commented on #9833
To call on_fit_start before load_state_dict, is it possible to move  calling `self._restore_modules_and_callbacks(ckpt_path)` before `self._call_callback_hooks("on_fit_start”)` as following.

[code]

[2022-05-22 13:42] martinb-bb commented on #13118
@akihironitta  hi, sorry! yes 1.11.0 👍

[2022-05-22 15:47] awaelchli commented on #13016
Hey @rbracco if what @manangoel99 is the case, you can change the x-axis to "trainer step" in the UI (top right) either globally or per plot.

[2022-05-22 16:05] awaelchli commented on #13124
@fishbotics In your post here you included the warning message that tries to explain why this occurs:

/usr/local/lib/python3.8/dist-packages/pytorch_lightning/loops/epoch/training_epoch_loop.py:135: UserWarning: You're resuming from a checkpoint that ended before the epoch ended. This can cause unreliable results if further training is done. Consider using an end-of-epoch checkpoint or enabling f

[2022-05-22 16:09] awaelchli commented on #13125
Hello @thatlittleboy
Yes it's a typo, the import should be

[code]

Would you like to take this opportunity and become a contributor? By sending a PR with the update?

[2022-05-22 16:16] fishbotics commented on #13124
Thanks @awaelchli. All of my model checkpoints are saved mid-epoch. I use the ModelCheckpoint callback with a fixed time interval because my epochs take 35 hours.

I sometimes want to pretrain my model on some data and either fine tune or just retrain on other data. What's the recommended workflow for that? If I try to load it as a checkpoint in the Trainer I get the aforementioned errors and timi

[2022-05-22 16:18] awaelchli commented on #13109
If I remember correctly, around that time we had a bug with setting `gpus=-1` and `ddp`. Please avoid that and select the number directly or upgrade Lightning.

[2022-05-22 16:42] manangoel99 commented on #13016
@rbracco Please let me know if the suggested solution works!

[2022-05-22 17:02] awaelchli commented on #11807
I agree with @carmocca. When users have custom objects, Lightning shouldn't touch them at all.

[2022-05-22 19:00] fishbotics opened #13126 "Training with Large Dataset Causes Infinite Stall"
## 🐛 Bug
I am training training two jobs that use the exact same code but different h5py files (same keys) to represent the data. One of the h5py files leads to a dataset that has 650,000,000 data points in the training set and one has 150,000,000. The training job with the larger dataset seems to just stop doing anything after a number of hours. After some number of hours, the CPU activity seems

[2022-05-22 19:17] rbracco commented on #13016
Thank you @awaelchli and @manangoel99 that worked great. Here is the updated chart once I change x-axis to trainer step. Closing!

![image](https://user-images.githubusercontent.com/47190785/169712137-41a07ab3-70c0-415a-b8ef-eedd4be4cb2e.png)

[2022-05-22 19:17] #13016 closed

[2022-05-22 19:34] awaelchli commented on #13016
yay :) Happy logging!

[2022-05-22 19:42] awaelchli commented on #11242
@dselivanov It could be that we are missing a barrier at the end of the validation, I'm not sure. I'm a bit clueless though how that would relate to logging as by default Lightning does't do any syncing for self.log.

[2022-05-22 19:42] fishbotics commented on #13124
FWIW, I tried restarting the job with the fault tolerance flag and I still get negative time estimates.

[2022-05-23 02:34] WYHbxer commented on #13109
Thank you!
after I update my PL and pytorch. I successfully run the program

[2022-05-23 02:34] WYHbxer commented on #13109
Thank you !

[2022-05-23 03:59] WYHbxer commented on #11923
Hello，I am also suffering from this problem. Is there any solution now

[2022-05-23 05:23] jiny419 commented on #13125
@thatlittleboy If you don't mind, could I resolve the issue?

[2022-05-23 05:33] fishbotics commented on #13126
I know this isn't exactly helpful, but I finally killed the job and it seems like it's some threading race condition thing. When I kill the process, the traceback looks like all of the DDP processes were waiting on a lock

[code]

Unfortunately, I don't see anything else of interest in there. The GPU utilization was high on several GPUs (and 0 on others), but the memory seemed fine. I saw https://

[2022-05-23 05:50] thatlittleboy commented on #13125
@jiny419 sure, go ahead

[2022-05-23 07:14] akihironitta commented on #12404
After running some of our existing benchmark scripts `tests/benchmarks/` on previous commits, we see that https://github.com/PyTorchLightning/pytorch-lightning/commit/00211c1d (where ) increases the memory usage while it decreases execution time, which looks like normal behaviour. ref:  [Set Torch.backends.cudnn.benchmark = True consumes huge amount of memory](https://discuss.pytorch.org/t/set-tor

[2022-05-23 07:32] GGGGGGXY commented on #13126
same issue.
when GPU utilization is 100%, but the training is hanging. Need ctrl+c to kill the training and start again.

<img width="1609" alt="image" src="https://user-images.githubusercontent.com/15215819/169766944-d12be036-83df-481e-85cd-ce22d86e250a.png">

[2022-05-23 09:02] AbyssGaze commented on #10914
@hankyul2 It is very likely that the gradient was calculated during validation, which resulted in out of memory. You can try torch.set_grad_enabled(False) in your validation process.

[2022-05-23 10:09] #13046 closed

[2022-05-23 10:24] awaelchli commented on #12833
@GinkoBalboa Hello, thanks for reporting.
I am not convinced about the solution you propose. It essentially ignores all exceptions and redirects them to standard output. This is not normally how we handle exceptions.

It would be good to know what exception is being raised here and catch this one specifically. Also, it would be good to know if there is any recommendations from MLflow directly how

[2022-05-23 11:31] #12703 closed

[2022-05-23 12:00] hankyul2 commented on #10914
@AbyssGaze Thank you for your suggestion.

[2022-05-23 14:02] GinkoBalboa commented on #12833
The problem that I have is that the PL doesn't handle exceptions, while internally uses 3rd party code that throws exceptions. In my humble opinion, the exceptions mechanism is generally conceived to alarm about some malfunction without breaking the whole application if possible. I think here, PL, and MLFlow of any other applications shouldn't stand in the way of model training. If the server does

[2022-05-23 18:21] carmocca commented on #12404
Thanks @akihironitta! That's interesting to know.

Doesn't the pure torch benchmark that we check against also set `benchmark=True`?

[2022-05-23 18:59] NikolasWolke commented on #12670
I noticed the same problem. During `lr_find` the learning rate scheduler is replaced by an exponential schedule and the trainer still has a reference to that scheduler (see `trainer.lr_schedulers`). So when you start the training with the same trainer instance you should see the learning rate diverging quickly.

[2022-05-24 07:14] YanhaoWu opened #13135 "GPU load imbalance"
When I tried to use 8 3090 cards for training, I found that the first card used more memory. Just like this
![image](https://user-images.githubusercontent.com/79640383/169970961-1a642b64-7c5c-4aba-9fd7-6280e0e588d5.png)
Due to the limitation of card 1, I can't transfer my batch_size increases. Is there any way to balance the load on multiple cards?

I used the following code to start the training

[2022-05-24 11:13] GGGGGGXY commented on #13124
same issue here

[2022-05-24 11:21] JanuszL commented on #12956
That is one of the ideas, we are still exploring different options.

[2022-05-24 12:38] rasbt opened #13140 "Extra train_loader in auto_scale_batch_size docs?"
## 📚 Documentation

Hey, in the docs here (https://pytorch-lightning.readthedocs.io/en/latest/advanced/training_tricks.html) we have

[code]

Is it necessary to also have the `train_loader` as a `LightningModule` method, or is it sufficient to have it as the data module method? If it is necessary, we need to clarify that. It doesn't say anything about that in the text currently.

cc @borda @rohitg

[2022-05-24 19:07] MalcolmMielle opened #13145 "Can't load lightning on Azure Ml compute."
## 🐛 Bug

Can't use lightning on Azure ML compute. I am hit with this error

`ModuleNotFoundError                       Traceback (most recent call last)
Input In [1], in <module>
----> 2 import pytorch_lightning as pl

ModuleNotFoundError: No module named 'pytorch_lightning'`

When I try to import lightning in my Jupiter notebook, even though lightning is installed. This is very weird and I'm won

[2022-05-24 19:39] #13125 closed

[2022-05-24 20:58] ibrahimmunir14 commented on #13124
I'm getting the same issue (negative time remaining and it/s), but when resuming from an end-of-epoch checkpoint. So I suspect the issue is not to do with saving mid-epoch.

[2022-05-24 21:06] piraka9011 commented on #12713
@carmocca @krshrimali I've noticed this too and have attached a bunch of profiling and associated information here https://github.com/NVIDIA/NeMo/issues/4083

The performance downgrade from 1.5 to 1.6 is significant and definitely something that needs to be investigated!

[2022-05-24 22:54] akihironitta commented on #12713
Hi @piraka9011, thank you for the detailed information provided in the linked issue.

One possible cause is that we enabled `Trainer(benchmark=True)` by default from v1.6. It can lead to slower training if the input size varies frequently, and it may also lead to more memory consumption depending on the algorithms.

refs:
- https://discuss.pytorch.org/t/what-does-torch-backends-cudnn-benchmark-do/

[2022-05-24 23:00] akihironitta commented on #13145
@MalcolmMielle I believe you're using a different Python interpreter. Inside your notebook, could you check again if it's installed?
[code]

If not installed, you can install it from the notebook with:
[code]

Please note that you might need to restart the kernel after installation.

[2022-05-24 23:10] akihironitta commented on #13103
[for the note] This CI job with LTS failed due to timeout:
https://dev.azure.com/PytorchLightning/pytorch-lightning/_build/results?buildId=73031&view=logs&j=5ea502cf-d418-510c-3b5f-c4ba606ae534&t=ad0b8e2f-da1f-5a7c-b4de-96aa939719e3
[code]

[2022-05-24 23:21] CompRhys opened #13146 "Registering logger/trainer inside nested PL models"
### Discussed in https://github.com/PyTorchLightning/pytorch-lightning/discussions/13144

<div type='discussions-op-text'>

<sup>Originally posted by **CompRhys** May 24, 2022</sup>
`You are trying to 'self.log()' but the 'self.trainer' reference is not registered on the model yet. This is most likely because the model hasn't been passed to the 'Trainer'`

I have a PL module that I am now incorpor

[2022-05-24 23:53] ZhaofengWu opened #13147 "Logger connector callback metrics only contains the last step"
## 🐛 Bug

When I do
[code]
and see that `log()` by default uses mean reduction, I expect the `"train_loss"` given back to me in the callback metrics in the logger connector to be the average training loss across all examples. But right now, this is actually the training loss of the last batch, because lightning considers this to be an `on_step` metric. I argue that this is very unintuitive (and al

[2022-05-25 02:52] ti-ginkgo commented on #12521
@akihironitta Can you please assign `LightningLoggerBase.close` to me ?

[2022-05-25 03:01] yipliu commented on #1166
Can anyone make it clear about the  **self.trainer.results**. This is useful in the following scenario.

1. Test dataset: all label is set to zero
2. The predictions (in test dataset ) have to align with the metadata
3.  All x, y, and metadata are processed in Dataset together

In this scenario, we just call **test_epoch_end**, it will return the prediction and aligned metadata

[2022-05-25 04:03] shenoynikhil commented on #12521
@akihironitta Can you assign `LightningModule.add_to_queue` and `LightningModule.get_from_queue` to me?

[2022-05-25 04:18] JonathanSum commented on #10389
Just asking, how many gpu did you use? were you using colab?
Thx for answering?

[2022-05-25 05:42] alexsax commented on #2727
@jgbos Thanks for your suggestions! They were helpful for me :)

@AlessioQuercia for me, setting `tasks_per_node` equal to the number of GPUs worked, and might work well for your accounting scheme

[2022-05-25 06:40] MalcolmMielle commented on #13145
I'll double-check but I have tried both directly on the Azure compute and on my machine. I have also tried reinstalling with `pip reinstall pytorch-lightning` but the error stayed the same. I'll edit my message with the grep output later today.

[2022-05-25 07:08] otaj commented on #11807
We already do touch them though - for example in case of DataLoaders in a hook in DDP setting

[2022-05-25 07:26] caillonantoine commented on #13124
Same with end-of-epoch checkpoint !

[2022-05-25 09:47] Yevgnen commented on #12317
Any updates?

[2022-05-25 10:23] #13118 closed

[2022-05-25 10:58] MalcolmMielle commented on #13145
I found the solution! It's to reinstall lightning using `%conda` magic instead of `! conda` magic... so that it is visible to the kernel. I still don't know why the kernel couldn't see it before but at least it's solved.

[2022-05-25 10:58] #13145 closed

[2022-05-25 16:00] carmocca opened #13152 "Quantization tests are flaky with torch 1.11"
## 🐛 Bug

[code]

[code]

### To Reproduce

Run the `PL.pytorch-lightning (GPUs) (pytest PyTorch - LTS)` job

### Expected behavior

Passes

### Environment

Current master

cc @carmocca @akihironitta @borda

[2022-05-25 16:05] carmocca commented on #13140
Either work! That snippet is trying to show that both are possible. If both are present, the datamodule takes precedence.

If you have specific ideas of how to improve this example, don't hesitate to open a PR!

[2022-05-25 16:09] isvogor-foi commented on #10389
Nothing fancy, just a single V100. As for colab, yep.. I also tried Colab. The results were similar, but I couldn't perform an extensive test, as Colab limits usage.

[2022-05-25 16:09] carmocca commented on #13146
Honestly, this is not a usecase we've ever explored.

You can try setting the `self.trainer` reference recursively for all submodules. You might encounter other complications though.

Why exactly do the sub-modules have to be `LightningModules`? Why not have them be `nn.Modules` that process  inputs and return outputs that you `self.log` in the main `LightningModule`?

[2022-05-25 16:12] carmocca commented on #13126
Unfortunately, we would need more information and ideally a reproducible script to check what could be the issue.

[2022-05-25 16:15] carmocca commented on #13147
I believe you want to set:

[code]

This is described in the docs here: https://pytorch-lightning.readthedocs.io/en/stable/extensions/logging.html#logging-from-a-lightningmodule

[2022-05-25 16:20] CompRhys commented on #13146
I want to essentially test the trade off in resource use between ensemble and single model given fixed retraining compute budget. The single model is setup as a PL module and then was exploring based on discussion this idea of wrapping it in a PL module to make the ensemble. Despite the benefits of ensembles I haven't yet found a nice way to package/train them.

[2022-05-25 16:30] carmocca commented on #13146
Is your code public? It would be interesting to check it out.

[2022-05-25 16:41] carmocca commented on #12713
Hi @piraka9011! Sorry for the frustration caused.

We did not foresee the problems that could be caused by setting this flag by default. This was implemented in https://github.com/PyTorchLightning/pytorch-lightning/pull/11944 and mentioned in the "Changed" section of the release.

I am leaning towards defaulting to what torch defaults to which is False, meaning, reverting this change.

Does anybod

[2022-05-25 16:51] CompRhys commented on #13146
The Deep Ensemble logic mimics this code https://github.com/PyTorchLightning/pytorch-lightning/discussions/8505#discussioncomment-1036824 but my training step calls the training steps of the PL modules inside the ensemble

[code]

I could ask to share the code if the above snippet isn't enough but not sure what response I would get

[2022-05-25 17:17] piraka9011 commented on #12713
No worries, I learned a lot along the way!
I am of course heavily in favor of reviving that PR :)
The changes proposed there make sense to me.

I can understand why you would want `benchmark` to default to `True`, esp. since it can improve performance for the cases mentioned.

But that means you've:
1. Changed the default PyTorch behavior (not a good developer experience IMO)
2. Generalized that a

[2022-05-25 18:36] carmocca commented on #13034
Yes. This is the case.

[2022-05-25 20:14] carmocca commented on #12656
You can pass:

[code]

with your custom schedule instance

[2022-05-25 20:14] #12656 closed

[2022-05-25 22:15] ZhaofengWu commented on #13147
Thanks, this is what I thought as well. But I argue that this is not a very intuitive behavior due to what I mentioned above. A user might provide `reduce_fx=torch.mean`, but this argument would be silently ignored. I feel like it's better to assert that the reduce function must be a function that takes the last element in a sequence/tensor, or None, or something like that.

Anyway, thanks for hel

[2022-05-26 00:42] austinmw commented on #9441
@carmocca Hi, I'm also getting `CUDA out of memory.` error on the last epoch when using StochasticWeightAveraging callback.

[2022-05-26 00:54] flyinghu123 commented on #12713
Yes, I set 'Trainer(Benchmark =False)' to re-compare V1.5 and V1.6, they are just as fast.

[2022-05-26 03:17] WYHbxer commented on #13135
thank u, i will check soon

[2022-05-26 05:13] julienbelangerunity commented on #12317
This issue is still ongoing.

[2022-05-26 06:08] scchow opened #13158 "Error when saving hyperparameters with torch.dtype as parameter"
## 🐛 Bug

When a `torch.dtype` object is passed into a LightningModule constructor, and then `self.save_hyperparameters()` is called, the code errors out with `ValueError: dictionary update sequence element #0 has length 1; 2 is required`.

### To Reproduce

I have reproduced this issue in this [BoringModel](https://colab.research.google.com/gist/scchow/c6a898a4945eb08bff07d845c5376b26/bug_report_

[2022-05-26 10:35] peterdudfield opened #13159 "import error with protobuf==4.21.0"
## 🐛 Bug

import error when using new [protobuf](https://pypi.org/project/protobuf/#history) version

### To Reproduce

pip install pytorch_lightning protobuf

python
[code]

Results
[code]
### Expected behavior

No import error

### Environment

- PyTorch Lightning Version (e.g., 1.5.0): pytorch-lightning-1.6.3
- PyTorch Version (e.g., 1.10): torch-1.11.0
- Python version (e.g., 3.9): 3.9
- OS (e

[2022-05-26 10:38] peterdudfield commented on #13159
Could be related to this - https://github.com/protocolbuffers/protobuf/issues/10053

[2022-05-26 11:05] dpaleka opened #13160 "Inference without Lightning dependencies"
The suggested way to run inference without a Lightning dependency is the following:

https://github.com/PyTorchLightning/pytorch-lightning/blob/dd475183227644a8d22dca3deb18c99fb0a9b2c4/docs/source/deploy/production_intermediate.rst?plain=1#L11-L19

However, this just throws an error because `model` is a dict:
[code]

In fact, I am not sure whether [what is implied in the documentation](https://pyt

[2022-05-26 11:43] WYHbxer commented on #13135
H，I tested it by debugging. I found that there will be seven copies of the model on gpu0 and one copy on other GPUs. Is this normal when I use DDP strategy?

[2022-05-26 12:40] akihironitta commented on #13159
It seems so. For anyone seeing this issue, a quick workaround is to downgrade `protobuf` version as shown in the error:
[code]

[2022-05-26 12:59] WYHbxer commented on #13135
Based on this finding, after I checked the code. I found that if I change the code
[code]
to
[code]
the GPU load is balance, just like
![`HIR{7EUO{MKT97 @O4FM(3](https://user-images.githubusercontent.com/79640383/170486885-db473f73-da39-46a0-afb9-5138dfffb1c7.png)
But after I canceled this operation, my code became very slow. Even if I increase the batch size, I can't reach the original running sp

[2022-05-26 14:00] carmocca commented on #13160
Yes, this piece of docs is wrong. We save the `state_dict` of the model and not the instance itself (and inside a dictionary!) so it has to be pulled out of the dictionary and the weights loaded

[2022-05-26 14:05] carmocca commented on #13158
Hi!

This is a problem upstream. I suggest you open an issue in https://github.com/pytorch/pytorch:

[code]

One improvement would be to also catch `ValueError` here: https://github.com/PyTorchLightning/pytorch-lightning/blob/dd475183227644a8d22dca3deb18c99fb0a9b2c4/pytorch_lightning/core/saving.py#L427 but It wouldn't get saved anyways

[2022-05-26 14:20] carmocca commented on #13135
Why did you want to set the `dtype` manually? Are you using `Trainer(precision=...)`?

[2022-05-26 14:27] carmocca commented on #13147
I think I'm missing your point.

By default, `log` does use "mean" as the `reduce_fx`. Why do you say it is silently ignored?
Note that it only supports mean, min, max, sum. Support for any other reductions is not planned and, if needed, we suggest logging a `torchmetrics.Metric` instead.

This was recently clarified with https://github.com/PyTorchLightning/pytorch-lightning/pull/13101

[2022-05-26 14:27] austinmw opened #13162 "[Feature Request] EarlyStopping logging on rank 0 only"
## 🚀 Feature

Toggle switch to turn off EarlyStopping logging for processes other than rank 0

### Motivation

EarlyStopping logging can be a bit spammy when viewing aggregate logs across all processes. For example, with my custom CloudWatch logger:

[code]

### Pitch

It would be nice if we could turn off printing of this message on processes other than rank 0. I understand that this is actually

[2022-05-26 14:29] WYHbxer commented on #13135
well, I'm trying to use the code of this paper: [https://github.com/PRBonn/segcontrast].
In his code, he set the dtype manually. I found the training process very slow, so I'm trying to speed up the training.
I am not using Trainer(precision=...)
thank u for your reply, and is there any way to speed it up?