[2020-12-02 03:38] awaelchli commented on #4909
agree with @SkafteNicki this is most likely the reason. that's a silly mistake every pytorch user encounters at least once in their life xD
one just has to know this :)

[2020-12-02 05:48] #1189 closed

[2020-12-02 08:48] ananyahjha93 commented on #4940
Which optimizer and scheduler are you using? If you are using a custom optimizer, you need to update the code of the ```step()``` function to take in a closure. PyTorch optimizer class implements the step method with the closure parameter in the latest version.

[2020-12-02 08:51] ananyahjha93 commented on #4939
If the Dataset class reads the file in a particular order and the Dataloader present in the DataModule does not use ```shuffle=True``` flag, then the order should be preserved.

[2020-12-02 11:17] yikuanli commented on #4940
thanks, I now upgrade it to the latest version and seems the latest bolts solve the problem.

[2020-12-02 11:19] ananyahjha93 commented on #4940
Oh, if you were using the LARS wrapper form bolts, then the latest version has the step method taking in a closure. That should solve it.

Should I close this issue then?

[2020-12-02 11:21] yikuanli commented on #4940
yes, thanks a lot

[2020-12-02 11:21] #4940 closed

[2020-12-02 13:05] #2303 closed

[2020-12-02 13:05] #2700 closed

[2020-12-02 13:05] #3660 closed

[2020-12-02 13:20] janhenriklambrechts commented on #4858
@LucaButera so far, I have been unable to reproduce this issue. As you mention that a completely black image does get logged properly it does not seem like this problem would exist because of killing the logging before it completed.

Just as a sanity check, in your steps to reproduce you use a tensor.zeros() image which will show up completely white which might seem like the image does not get log

[2020-12-02 13:35] LucaButera commented on #4858
@janhenriklambrechts Sadly this does not solve the problem. Adjusting sliders doesn't help as the image is not there at all.
I tried using a ```torch.rand()``` that produces a sort of white noise image and it also fails to show.
I will try to reproduce the bug with minimal code on my machine, just to check if it could be a side effect of some sort.

In the meantime, may I ask what OS are you runni

[2020-12-02 13:43] janhenriklambrechts commented on #4858
@LucaButera I am using Linux indeed, dont really have the option of testing this on macOS atm. Testing locally with a minimal example (f.e. BoringModel) would indeed be useful so we can narrow this down.

[2020-12-02 14:40] aabbas90 opened #4946 "torch.nn.modules.module.ModuleAttributeError: Object has no attribute 'log'"
## 🐛 Bug

Just got started on Pytorch lightening and am experiencing an error, where my classifer is being treated as torch.nn.module instead of pl.LightningModule:

### To Reproduce
Please run the following code (taken from readme at https://github.com/PyTorchLightning/pytorch-lightning):

[code]

### Expected behavior
This is first example to get started with pytorch lightening mentioned in http

[2020-12-02 14:46] ydcjeff commented on #4946
@aabbas90 `.log` is only available on > 1.0 version, please install PL > 1.0

[2020-12-02 14:50] #4946 closed

[2020-12-02 15:00] edenlightning commented on #4796
@Borda can you explain what is needed TODO here?

[2020-12-02 15:00] edenlightning commented on #4725
@ananyahjha93 update?

[2020-12-02 15:18] Borda commented on #4796
this is @tchaton's task but I guess he already sent one fix...

[2020-12-02 15:31] 7zhanghao opened #4947 "How to log more than one metrics in logger?"
I want to log two metircs.What should i do?
self.log('my_loss', loss, on_step=True, on_epoch=True, prog_bar=True, logger=True)
This can only log one metrics.

[2020-12-02 15:33] ydcjeff commented on #4947
@7zhanghao  You can just write another log.
[code]

[2020-12-02 15:50] zhutmost commented on #4947
@7zhanghao You can use `self.log_dict`

[2020-12-02 16:01] #4947 closed

[2020-12-02 16:02] #4939 closed

[2020-12-02 16:14] Borda opened #4950 "resolve py3.8 testing"
## 🚀 Feature

cases:
- py3.8 Ubuntu minimal is falling for segmentation error when collecting tests -> find packages
- py3.8 Ubuntu latest has a hanging test -> find tests and skip it

### Motivation

restore testing for 3.8 skipped in #4943

[2020-12-02 17:08] cuent commented on #4950
@Borda can you assign this one to me?

[2020-12-02 17:32] rohitgr7 commented on #4929
can you reproduce this with https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing

[2020-12-02 17:43] rohitgr7 commented on #4937
@awaelchli is there any way to skip optimizer_step based on the calculated gradients in backward??

[2020-12-02 17:51] awaelchli commented on #4937
I discussed it recently with @tchaton, there is a way to make the profiler step more accurate there to not include both backward and step but that needs a bit more refactoring with the experimental LightningOptimizer wrapper we recently introduced.

[2020-12-02 19:56] rakhimovv commented on #4917
Can't run ddp with manual optimization too. Is this a bug?

Fails on the second batch with a error:
`RuntimeError: Expected to mark a variable ready only once. This error is caused by one of the following reasons: 1) Use of a module parameter outside the `forward` function. Please make sure model parameters are not shared across multiple concurrent forward-backward passes2) Reused parameters in mu

[2020-12-02 19:57] quinor commented on #4524
(for future reference, reproduction here below)
https://colab.research.google.com/drive/1Fi-r5twOjag0YKrIy2SxqMAAMf3zX5xj#scrollTo=Flyi--SpvsJN

[2020-12-02 20:09] rakhimovv opened #4953 "manual_optimization does not work with ddp"
## 🐛 Bug

Can't run ddp with manual optimization. Fails on the second batch with a error:
`RuntimeError: Expected to mark a variable ready only once. This error is caused by one of the following reasons: 1) Use of a module parameter outside the forwardfunction. Please make sure model parameters are not shared across multiple concurrent forward-backward passes2) Reused parameters in multiple reentr

[2020-12-02 21:36] rakhimovv commented on #4953
possible related https://github.com/PyTorchLightning/pytorch-lightning/issues/4917

[2020-12-02 21:36] adarsh-kr commented on #4779
Is the outputs in `validation_epoch_end(outputs)` expected to have outputs from all the devices when running `ddp`? Or for that device only?

If this property is guaranteed in `validation_epoch_end` then I can circumvent the problem I am facing with metric.

[2020-12-02 22:06] masoncusack commented on #4312
Hey, sorry for the wait.

I noticed the boring model as it stands today fails when using Lightning 0.9.0 anyway. It required return statements in the `training_epoch_end`, `test_epoch_end` and `validation_epoch_end` functions to work, so I used `return {}` as a quick fix, as suggested [in a separate issue](https://github.com/PyTorchLightning/pytorch-lightning/issues/84).

When switching to 0.10.0,

[2020-12-02 22:55] awaelchli commented on #4937
actually, in master it should already be good with optimizer step not including backward :)

[2020-12-02 23:03] edenlightning commented on #3325
@rohan-varma that would be great!! Want to try and submit a draft PR? And we can help from there?

[2020-12-03 00:17] #4926 closed

[2020-12-03 00:28] YannDubs opened #4955 "Optimizers not working in callbacks when multiple optimizers in training"
## 🐛 Bug

If the trainer uses multiple optimizers (e.g. GANs) then you cannot use optimizers in callbacks (e.g. `pl_bolts.callbacks.ssl_online.SSLOnlineEvaluator`) because when using multiple optimizers `toggle_optimizer` is called during training, but `requires_grad` are not set to True at the end of training (so gradients for callback optimizers are not computed).

## Please reproduce using the

[2020-12-03 00:44] YannDubs commented on #4857
@rohitgr7 now it doesn't work even on master (see  https://colab.research.google.com/drive/1Utnf7uqQTPid68_baS9yMdApZaoMP6Lq?usp=sharing )

[2020-12-03 01:02] 7zhanghao commented on #4947
Thanks a lot.

[2020-12-03 01:03] 7zhanghao commented on #4947
Thanks a lot.

[2020-12-03 03:25] lezwon commented on #4829
@simonrouse9461 can you try the master branch and let us know if the issue is still occurring?

[2020-12-03 04:11] min-xu-ai commented on #4420
I am also hitting this and I am not even using lightning. :-(

[2020-12-03 07:43] shijianjian commented on #4791
Got one question here.

For code like:
https://github.com/SkafteNicki/pytorch-lightning/blob/9d5b505f90e8d622a033666c3dbe2f0cc6ee5f26/pytorch_lightning/metrics/classification/precision_recall.py#L199-L205

It is computing the one-hot vector, which means to convert [0, 1] to [[1, 0], [0, 1]]. While in a binary case, it would put both negative and positive values into count (as ```true_positives```

[2020-12-03 07:54] levhaikin opened #4956 "how to properly skip samples that cause inf/nan gradients/loss"
#### tl;dr
does the approach in the code snippet below look ok, or is there a better alternative for automatically skipping few "bad" samples in the data that cause inf/nan gradients/loss? (is it a good practice altogether?)

#### details
sometimes, there is a small percentage (but annoyingly large in absolute value) of "dirty" samples in the data that cause the loss to be nan, although the neural

[2020-12-03 09:22] #4286 closed

[2020-12-03 09:30] #4316 closed

[2020-12-03 09:33] Borda commented on #2705
@ibeltagy is the problem still on master? 🐰
cc: @zcain117 @lezwon

[2020-12-03 09:34] Borda commented on #4367
@awaelchli can we add running doctest (via Sphinx) also on all MarkDown files, what do you think? :]

[2020-12-03 09:55] awaelchli commented on #3981
@NumesSanguis is there still confusion on your side of what `save_hyperparameters` is or what it does?

This is not true. You are probably using the old setter for hparams. That's why.

It is not necessary when loading the checkpoint file. But most of the time it will be there because loading and saving models in pytorch requires the code to be mostly identical otherwise stuff breaks, we can't do

[2020-12-03 10:03] awaelchli commented on #4420
@min-xu-ai And can you confirm that in pytorch 1.8 nightly it is fixed?

[2020-12-03 10:17] SeanNaren commented on #4953
hey @rakhimovv! We're seeing incorrect behaviour with DDP/manual optimization because backward DDP hooks are not being called correctly within the training step, thus meaning gradients are not being reduced per process.

Our current short term solution is to assert to prevent users from using DDP/manual optimization by enforcing an assert. It will probably take some time for us to come up with a e

[2020-12-03 10:44] awaelchli commented on #4073
I think I rediscovered this bug in our examples:
`python pl_examples/basic_examples/simple_image_classifier.py --gpus 2 --accelerator dp`
I will try to help with the PR @justusschock has still open so we can also finish #4764

[2020-12-03 10:47] jensam commented on #4761
@gsellers-tulco did you resolve this issue? @Borda I am also seeing the same.
I am leveraging distributed training using NCCL backend in kubernetes 1.17 (specifically kubeflow 1.1) with 1 master and multiple workers. I have downloaded the checkpoint file to my local machine '/checkpoints/epoch=0.ckpt' to do some testing. I am using pl.loggers.CSVLogger

[code]

[2020-12-03 11:40] kchuang625 opened #4958 "`validation_epoch_end` might need current epoch"
Hi,

I would like to save some files with suffix of filenames using current epoch on `validation_epoch_end`. However, it seems that it's not a parameter of `validation_epoch_end` and I can only get it from `pl.Trainer`. Is there any another way instead of just adding additional parameter to `validation_epoch_end`?

Thanks!

[2020-12-03 11:47] #4958 closed

[2020-12-03 11:47] zech564 opened #4959 "version issue"
## 🐛 Bug

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing)

### To Reproduce

### Expected behavior

### Environment

**Note**: `Bugs with code` are solved faster ! `Colab Notebook` should be made `public` !

* `IDE`: Please, use our python [bug_report_model.py](https://github.com/PyTorchLightning/pytor

[2020-12-03 12:24] tchaton commented on #4953
Heu @rakhimovv,

I noticed this bug too with pytorch 1.7.

Can you try 1.6 ?

Best,
T.C

[2020-12-03 12:48] Borda commented on #4959
@zech564 could you tell us more?

[2020-12-03 12:59] rakhimovv commented on #4953
hey @tchaton , you mean it would work with 1.6? or you want to check

[2020-12-03 14:19] awaelchli commented on #4761
How do you do that? It is not advised to save like this on multi gpus. Make sure you only save on rank 0.
If you can't share all the code can you at least share this line where you attempt to manually do saving?
Is the `ModelCheckpoint` not working for you?

what does that mean?

[2020-12-03 14:25] awaelchli commented on #4761
Are your checkpoint files corrupted?
https://stackoverflow.com/questions/64206070/pytorch-runtimeerror-enforce-fail-at-inline-container-cc209-file-not-fou
re-download again, check the file size

[2020-12-03 14:37] akihironitta opened #4960 "[isort] Improve import formatting configuration"
## 🚀 Feature
Although #4242 have recently introduced isort to check and apply import formatting, I find the import order somewhat confusing, so I'd like to suggest to add the following two options to isort config `pyproject.toml`.

### `force_sort_within_sections = 'True'`
[code]

### `order_by_type = 'False'`
[code]

Since we have applied isort to only a few files as listed in #4805, I believe we

[2020-12-03 14:39] justusschock commented on #4956
@levhaikin Thanks for the proposal. I think it should be fine to use. However, I am not sure we want to have this as option within lightning.

Thoughts @tchaton  @Borda ?

[2020-12-03 14:40] justusschock commented on #4960
cc @Borda

[2020-12-03 14:54] jensam commented on #4761
@awaelchli thanks! I must have been a little hasty getting the file last night. Sorry about that. Working fine now both with my script and your peek.py. I think this can be closed now. Thanks again :)

[2020-12-03 14:54] rohitgr7 commented on #4857
cc @tchaton

[2020-12-03 14:59] awaelchli commented on #4761
ok, that's great. I'll wait for a response from @gsellers-tulco the author of this issue before we close.

[2020-12-03 15:24] #4391 closed

[2020-12-03 16:22] Borda commented on #4960
not strong preference, but personally `False` as it is native in Pycharm

agree :]

[2020-12-03 16:53] gsellers-tulco commented on #4761
@awaelchli I figured out the issue thanks to your comments. I wasn't making sure I was on rank 0 before saving, so that's what was corrupting the save file. I'm not sure why it was working with 0.7.5, but oh well. I might have missed it, but it might be helpful to include a note in the docs about checking rank 0 for DDP if you're using alternative saving methods. I'm using torch.save to bundle pre

[2020-12-03 16:53] #4761 closed

[2020-12-03 16:54] ibeltagy commented on #2705
Most probably yes. It needs a small API change to support the `LightningModule.tie_weights` function to call from `LightningModule.to`. I don't know if there's a way to fix it without such API change.

[2020-12-03 17:07] awaelchli commented on #4761
@gsellers-tulco You are right. @SeanNaren is taking care of this docs update already here #4660, good timing haha :)

[2020-12-03 17:40] rohitgr7 commented on #4937
https://github.com/PyTorchLightning/pytorch-lightning/blob/0b653b89baf1a36623532d93cb646679d4c8c080/pytorch_lightning/trainer/training_loop.py#L685-L698
https://github.com/PyTorchLightning/pytorch-lightning/blob/0b653b89baf1a36623532d93cb646679d4c8c080/pytorch_lightning/trainer/training_loop.py#L477-L480
https://github.com/PyTorchLightning/pytorch-lightning/blob/0b653b89baf1a36623532d93cb646679d4c

[2020-12-03 17:44] awaelchli commented on #4937
@tchaton can you check?

[2020-12-03 17:45] carefree0910 opened #4961 "manual_optimization does not work with dp"
## 🐛 Bug

We can run `dp` backend with `manual optimization`, but the gradients seem to be messed up hence the model can't learn anything.

### To Reproduce

+ Change optimization to manual in basic gan bolt, then change the backend to `dp`.
+ Set `batch_size = 2`, compare experiments on 1 GPU vs 2 GPUs
+ When using 1 GPU everything is fine, but using 2 GPUs will fail the training.

### Expected b

[2020-12-03 17:49] carefree0910 commented on #4916
I was just wondering whether the [issue](https://github.com/PyTorchLightning/pytorch-lightning/issues/4961) I've just added is duplicated with this one? Or that is another bug? Thanks!

[2020-12-03 18:09] gsellers-tulco commented on #4761
Awesome. Glad to hear it. Keep up the great work.

[2020-12-03 18:14] aarushgupta commented on #4929
Facing the same issue with OneCycleLR. Looks like the `{'interval': 'step'}` thing is indeed not working properly.

[2020-12-03 19:28] pseudotensor opened #4962 "conda python 3.8 support"
We'd like to switch to python 3.8 for various reasons, and we've been using conda for better support of rapids from NVIDIA.  The install matrix suggests there is no python 3.8 builds for lightning yet.  Is there a plan do build those too?  It seems python 3.8 already works for other platforms for a while now.

[2020-12-03 19:33] Borda commented on #4962
@pseudotensor can you pls list you reasons why we should switch testing to 3.8?
we already have all [docker images also for python 3.8](https://hub.docker.com/repository/docker/pytorchlightning/pytorch_lightning/tags?page=1&ordering=last_updated&name=py3.8)

[2020-12-03 19:38] pseudotensor commented on #4962
Hi, I'm just not confident what works from looking at the matrix.  I assume it works, but maybe at least 1 python 3.8 target for testing for conda would be good, e.g. latest stable torch perhaps.

[2020-12-03 19:50] Borda commented on #4962
may you please clarify what you mean?

We are testing py 3.6 3.7 3.8 with pip packages, so there is no special reason that conda won't work with 3.8 unless some of the 3rd party packages have an issue with py 3.8 on conda...

[2020-12-03 19:59] pseudotensor commented on #4962
Yes, there is no reason unless incompatible or no compatible packages etc.  Packages chosen may not be quite restricted properly, which I've found common.  i.e. alot of packages use >= constraint but in reality more != 's should have been chosen and only foresight would make it clear when to use <=.

[2020-12-03 20:04] Borda commented on #4962
yes, but that would yield thousands of builds for any combination or Python version / OS / dependency version...
let's reopen if there'll be a specific reason for this switch, I do not think we would add 3.8 rather switch from 3.7 to 3.8

[2020-12-03 20:04] #4962 closed

[2020-12-03 21:08] Borda opened #4963 "Custom Checkpoint file extension"
## 🚀 Feature

Atm, we have hardcoded `.ckpt` as a file extension for any checkpoint.

https://github.com/PyTorchLightning/pytorch-lightning/blob/db69d169e868451c16a4ee418f2de835ccce146c/pytorch_lightning/callbacks/model_checkpoint.py#L429

Proposed solution 1:
[code]
Proposed solution 2:
[code]

[2020-12-03 21:30] awaelchli commented on #4705
**ok, it seems this has nothing todo with the selection of the backend.**
Running the examples on CPU (i.e. `Trainer(gpus=None)`) allocates 600MB of memory in my GPU and setting `CUDA_VISIBLE_DEVICES=""` prevents this.

If I take however a pure pytorch script like this
https://github.com/pytorch/examples/blob/master/mnist/main.py
and run it on CPU, it does not allocate any extra memory on the GPUs

[2020-12-03 21:49] awaelchli commented on #765
I don't understand exactly what you are trying to achieve.
1. setting leave=True will do what is says, it leaves the progress bar there after it is completed and will not restart it. That's why you see the next epoch print a new bar.

2. You are printing other data to stdout, then it is normal that the progress bar gets repeated.

[2020-12-03 22:00] carmocca commented on #4956
In the case of invalid losses, you can return `None` in your `training_step` to skip it.

[2020-12-03 22:03] awaelchli commented on #4963
Should it be part of the filename?
Adding a new argument would require some justification I think.

[2020-12-03 22:05] carmocca commented on #4911
I think this would be nice addition, but its not as easy as you said. For example:

- What if the checkpoints were moved to a different path?
- What if the user set a different monitor/mode?

Feel free to open a draft PR and we can help you with it :smile:

[2020-12-03 22:10] carmocca commented on #4963
Some previous discussion about this: https://github.com/PyTorchLightning/pytorch-lightning/pull/3163#discussion_r476644340

[2020-12-03 22:36] awaelchli commented on #4367
that's probably a bit overkill :)

[2020-12-03 22:36] edenlightning commented on #4963
I agree with @awaelchli, but just need to handle some edge cases (don;t think we should support "." in filenames anway, no?)

[2020-12-03 23:09] Borda commented on #4963
If we define it as propose in the description, all behaviors stay the same for now... And if use overwrite it is, it is his decision and responsibility

[2020-12-03 23:41] GregorySenay commented on #4295
Hi @catalys1,

in `def training_step` you can maybe overpass the nan issue by updating the running_loss directly:

`self.trainer.train_loop.running_loss.append(loss)`

in my case, no more nan when`automatic_optimization=False`

[2020-12-04 00:37] Ceceu opened #4967 "Precision and Recall over validation step"
When [Precision](https://pytorch-lightning.readthedocs.io/en/stable/metrics.html#precision) and [Recall](https://pytorch-lightning.readthedocs.io/en/stable/metrics.html#recall) are directly computed, I get the following result:

[code]

However, when the same metrics are computed over `validation_step`, I get the following stranger result:

[code]

what am I missing?

[2020-12-04 01:26] rohan-varma commented on #3325
@edenlightning Sounds good, I also pinged the slack channel for any feedback/discussions.

[2020-12-04 02:35] sick78 commented on #2809
http://www.passiveprofitpages.com/index1.html?hop=puisong&vendor=passivepag

Sent from my iPhone

[2020-12-04 03:21] tulay commented on #4848
@kantholtz would you please mention PL version you use? When using multiple validation loaders, I am having issues with 1.0.8 most likely due to the[ line ](https://github.com/PyTorchLightning/pytorch-lightning/blob/1.0.8/pytorch_lightning/trainer/connectors/logger_connector.py#L229).

[2020-12-04 03:44] tarepan commented on #4366
wait for merge.

[2020-12-04 05:11] cuent commented on #4950
Update: still trying to find the packages for CI.

Thought it would be easier 😄

If somebody can help me spot a problem. It seems to be a test related when calling early stopping this [line](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/callbacks/early_stopping.py#L31).

I also attach the log of gdb. I cannot trace back the test yet though.

[trace.txt](https:

[2020-12-04 06:25] tchaton commented on #4937
Hey there, could you train master ?

[2020-12-04 06:29] tchaton commented on #4937
Hey @rohitgr7 , why do you think optimizer.step() should be there ?
We just called optimiser.step(), so we have to zero_grad.

Best regards,
T.C

[2020-12-04 07:15] rohitgr7 commented on #4963
Adding a new argument would require some justification I think.

I thought so too, but what if user wants the default filename created by PL but with a different extension? In that case it should be  `filename=None`.

[2020-12-04 07:16] levhaikin commented on #4956
thanks @carmocca, this is definitely a much simpler way!
* is it expected to work with ddp?
* is it documented somewhere? if not, I guess it would be nice to have that documented explicitly, to save some effort for people like me :)

[2020-12-04 07:36] ThomasWollmann commented on #4367
@Borda instead having the samples as regular unit tests would be already nice. Do not thing there is not an urgent need for doctest.

[2020-12-04 08:30] tchaton commented on #4857
Hey @YannDubs,

Yes, I deactivated to optimize logging.

However, I have an idea for an Hybrid version which might work out.

[code]

[2020-12-04 08:47] Borda commented on #4963
well in such case you need to pass the instance of checkpoint call back anyway, so I would fo keeping untouched API inherit it...
[code]
so you can later pass `[ModelCheckpoint(), MyModelCheckpoint()]`

[2020-12-04 08:50] Borda commented on #4963
as you agree with it I have reverted the description to the original one :]

[2020-12-04 08:56] Borda commented on #4367
well, how would utilize unit-tests as samples? the point with doctsring is that are examples and also tested so one code serves twice, compare to unit-tests which are usually in another folder (out of the package distribution) and then you just hope that if you a change in tests you update example accordingly...

[2020-12-04 09:18] kantholtz commented on #4848
Sure, I am using `1.1.0-dev`

[2020-12-04 09:26] #2266 closed

[2020-12-04 09:27] rohitgr7 commented on #4963
class ModelCheckpoint(Callback):
    FILE_EXTENSION = ".ckpt"

I'd suggest this one

[2020-12-04 11:03] #4392 closed

[2020-12-04 11:28] #4333 closed

[2020-12-04 11:28] #4543 closed

[2020-12-04 12:08] aiyolo commented on #4676
now here comes a new problem, if we have a model defined as `model=Model(backbone, ...)`, and we need to pass a network such as resnet to it, then `self.save_hyperparameters()` will save the resnet and it is time-costing, if we don't use `self.save_hyperparameters()`, then `Model.load_from_checkpoint()` will fail to work.

[2020-12-04 12:14] fjhheras opened #4971 "Loss format from .3f to .3g in the training loop"
## 🚀 Feature

I propose to change the default format of loss during training (in the tqdm bar) from .3f to .3g

### Motivation

When using pytorch-lightning with losses that are quite close to zero, the tqdm information during training becomes non informative, because the loss is always 0.000. For example:
[code]
The proposed change takes it to
[code]
This change from .3f to .3g has also an advant

[2020-12-04 12:34] daandres commented on #4911
I think #4712 #4383 partially covers a similar problem.

Yes, both points are important thoughts. I'll think about a general way to capture this.

* If user changes monitor mode, move old checkpoints to subdirectory or rename files?
* If checkpoints were moved out of scope, than a user can't load it. and if it reads the yaml with the best checkpoints containing wrong paths, it should be possible t

[2020-12-04 13:14] Borda commented on #4676
You can list only arguments to be saved, eventually we can make exclude some arguments...

[2020-12-04 13:49] tchaton commented on #4961
Hey @carefree0910,

`manual_optimization` with more than 1 gpus is broken right now. We are working on fix.
We apologise for the inconvenience.

Best regards,
T.C

[2020-12-04 14:07] carmocca commented on #4956
I'm not sure. We don't have a test for it using DDP. I'll try it and report back.

If it doesn't, this could be fixed with https://github.com/PyTorchLightning/pytorch-lightning/issues/3325 cc @rohan-varma

See the returns of `training_step` https://pytorch-lightning.readthedocs.io/en/stable/lightning_module.html#training-step

Do you still want to support skipping invalid gradients or is skipping

[2020-12-04 14:19] janhenriklambrechts commented on #4963
Ill happily work on this :)

[2020-12-04 14:24] Borda commented on #4858
@LucaButera you shared the boring model example but the missing image is hot happening there, right?

[2020-12-04 14:33] LucaButera commented on #4858
@Borda that's correct. As I said I think it is mandatory that I perform a minimal reproduction of the bug on my machine. This would help understanding what could be the cause.

[2020-12-04 14:37] rohitgr7 commented on #4858
can you try this with some other logger, if possible? This way we can know whether it is an issue with TensorboardLogger only or others too.

[2020-12-04 14:45] LucaButera commented on #4858
@rohitgr7 I'll do that, but I think I will not have time until next week.
Could you advise which logger with image logging capabilities is easier to setup and test?

[2020-12-04 14:58] Haydnspass opened #4973 "Abstract matplotlib figure logging from individual logger API"
## 🚀 Feature
Implement default log_figure for all implemented loggers

### Motivation

Currently, logging figures relies on calling the API of the individual logger directly. This is not really convenient for a variety of reasons:
- It is cumbersome to change loggers
- It is cumbersome to disable logging (e.g. for debugging) --> ```if self.logger is not None: \n[...]```
- It is not really nice if

[2020-12-04 15:02] yikuanli opened #4974 "AttributeError: 'LightningOptimizer' object has no attribute 'state'"
I am using pytorch lightning with Adam optmiser to train a BYOL model, the model and pipeline works fine while training, when I stop and resume from checkpoint, it raise this error. I didn't do anything just resume from previous checkpoint, have no idea why there is an error like this, I upgrade my bolts and pytorch lightning to the mast (I think its the latest version)
![image](https://user-image

[2020-12-04 15:11] #4668 closed

[2020-12-04 15:27] levhaikin commented on #4956
if it works with ddp then I guess it should be enough.
thanks for pointing to the docs. I didn't notice that on my own..
i'll probably test it as well, once my current training finishes (don't want to interrupt it)

[2020-12-04 15:30] aiyolo commented on #4676
I got it!

[2020-12-04 16:04] SeanNaren commented on #4974
Thanks for the report, it would be really really useful (and get this fixed faster) if you could reproduce this via the bug report model:
https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/bug_report_model.py

cc @tchaton

[2020-12-04 16:14] tchaton commented on #4974
Hey @yikuanli,

Thanks a lot for testing the latest version of Lightning. I am going to work on this asap.
If you could reproduce the bug with BoringModel, it will help a lot.

While waiting for fix, you can use `Trainer(enable_pl_optimizer=False)`.

Best regards,
T.C

[2020-12-04 16:21] edenlightning opened #4978 "Fix pipy badges and images not rendering"
it seems that it did not work for [PyPI page](https://dustingram.com/articles/2018/03/16/markdown-descriptions-on-pypi/)
see our RC - https://pypi.org/project/pytorch-lightning/1.1.0rc1
when I open the PKG-INFO I still see the original paths...

Downloaded implemented in #4250

[2020-12-04 16:27] yikuanli commented on #4974
Thanks for the comments, I used BoringModel to test, and seems it doesn't have this problem, I am wondering if the wrapper and LWCA LR is the problem.

[2020-12-04 16:28] #4916 closed

[2020-12-04 16:29] edenlightning commented on #1527
@ MikkelAntonsen any progress on this?

[2020-12-04 16:31] Borda commented on #4978
ref: https://github.com/PyTorchLightning/pytorch-lightning/pull/4250#issuecomment-737552478

[2020-12-04 16:37] yikuanli commented on #4974
Ok I reproduce the error, it is caused by ddp, if I use ddp to train, it has this problem, I attach the code here

# Copyright The PyTorch Lightning team.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless requir

[2020-12-04 16:38] yikuanli commented on #4974
[code]

[2020-12-04 16:39] yikuanli commented on #4974
I reproduce the error, it is because of the ddp, if I train with ddp, this error occurs

[2020-12-04 16:48] tchaton commented on #4853
Dear @apacha,

Thanks for using Lightning. Reduction is supported only on training_step, validation_step, test_step.
It is by design :)

Best regards,
Thomas Chaton.

[2020-12-04 16:57] tchaton commented on #4974
Hey @yikuanli,

Let me prioritise this :)

Best,
T.C

[2020-12-04 17:21] akihironitta commented on #4960
@Borda Thank you for your response :] Shall I wait for other core contributors' comments, or should I give it a go with `False` as you prefer? (Not a strong opinion, but personally `True` is easier to read as `torch` imports, for example, are put together.)

[2020-12-04 17:25] Borda commented on #4960
@PyTorchLightning/core-contributors what do you think? @awaelchli 🐰

[2020-12-04 17:37] awaelchli commented on #4960
I don't know, I never look at import statements since it's all automated so I have no preference.

[2020-12-04 17:39] rohitgr7 commented on #4960
personally I'd prefer.
[code]

[2020-12-04 17:47] awaelchli commented on #4423
@jw3126 your code reproduced the bug we fixed here #4138. should hopefully be in the 1.1 release

[2020-12-04 17:51] awaelchli commented on #4423
@jtcramer @ClaartjeBarkhof if you are seeing this
`RuntimeError: grad can be implicitly created only for scalar outputs`
then it could mean you implemented the `training_step_end` maybe incorrectly or have mistaken it for `training_epoch_end`?

[2020-12-04 18:10] #4073 closed

[2020-12-04 18:45] andreaRapuzzi opened #4980 "wandb logger problem with on_step log on validation"
## 🐛 Bug

When logging on the `validation_step` with `on_step=True` and `on_epoch=False` the following happens:

- wandb warnings are generated to alert about a step numbering problem (probably confusing the validation step number which seems cyclical with the overall step which is always increasing)

![image](https://user-images.githubusercontent.com/1258132/101198645-101e9000-3664-11eb-8b75-848d

[2020-12-04 18:59] tulay commented on #4848
Thanks. I pulled "pytorch-lightning==1.1.0rc1" and it runs fine.

[2020-12-04 19:44] #4410 closed

[2020-12-04 19:58] SeanNaren commented on #4614
Update: This has been fixed in PyTorch: https://github.com/pytorch/pytorch/pull/48696 more info here: https://github.com/pytorch/pytorch/issues/48049#issuecomment-736701769

This will be fixed for Pytorch 1.8 and can be closed as this isn't to do with PL :)

[2020-12-04 19:58] #4614 closed

[2020-12-04 20:01] stas00 commented on #4614
Thank you, @SeanNaren!

[2020-12-04 20:05] SeanNaren commented on #4614
Thank you @stas00 for chasing this up, I think you got a pretty big bug resolved!

[2020-12-04 20:08] tchaton commented on #4974
Hey @yikuanli,

Would you mind trying this branch: https://github.com/PyTorchLightning/pytorch-lightning/pull/4981.

I wasn't able to reproduce your bug, but another one.

I would be interested to see what you get.

Best regards,
T.C

[2020-12-04 20:14] rohitgr7 commented on #4937
@tchaton

`optimizer.step()` is at the correct place. The only problem here is that backward is called within the closure, so it's not possible to skip `optimizer.step()` or do something else with it after gradients are calculated.

for optimizer.zero_grad() I have explained the bug here: https://github.com/PyTorchLightning/pytorch-lightning/pull/4982

[2020-12-04 21:22] hemildesai commented on #4929
I think you have to pass the `interval` inside a dict to the `lr_scheduler` key. In your example, if you try
[code]
it should work as expected.

[2020-12-05 01:08] xinfangliu opened #4983 "Set different lr_schedulers for different parameter groups"
## ❓ Questions and Help

#### What is your question?
I want to set different learning rate adjustment  lr_schedulers for different parameter groups in one optimizer. This motivation is easy to understand. For example, add my own module to the pre-training network for fine-tuning.
#### What have you tried?
I have tried the following method:
    def configure_optimizers(self):
        opt = torch.op

[2020-12-05 01:21] carmocca commented on #4911
They do but the difference is that they don't attempt to restore the saved state. Then it becomes a simpler issue.

I wouldn't move them at all. If the monitor has changed I would warn the user about it and reset the state as if it was a new `ModelCheckpoint` instance.

If the paths don't exist the code will fail (as it currently is) when trying to delete them.

In any case, I was just giving an e

[2020-12-05 01:43] min-xu-ai commented on #4420
Great suggestion! I installed latest 1.8.0dev version and it still fails. But the error msg seems to be more helpful than before. @awaelchli Do you think the underlying error should have been fixed in 1.8.0dev?

[code]

My versions:

[code]

[2020-12-05 01:58] min-xu-ai commented on #4420
Actually, I found out the reason. It seems that my unit test is trying to start a world_size=3 on 2 GPUs. The error msg is definitely hard to parse. It would be nice that dist.init_process_group just check the world_size.

FWIW, gloo backend works fine in this case.

[2020-12-05 02:17] carmocca commented on #4524
Hi @quinor

I'll try to debug this soon, hopefully we can find a fix for it. I am not an expert on AMP internals but I think it should work.

@edenlightning can you re-open this?

[2020-12-05 05:50] kiansierra commented on #1088
Hi, I was getting the same issue trying to get an output from `on_epoch_end`

I was hoping to do `results = trainer.test(model, datamodule) `

I finally settled with `def test_epoch_end(self, outputs):
        results = process_outputs(outputs)
        self.test_results = results
        return results
results = model.test_results`

[2020-12-05 09:50] #4418 closed

[2020-12-05 09:50] #3021 closed

[2020-12-05 12:15] kantholtz commented on #4848
@tchaton quick question: is there a single place, where I can simply remove the suffix without too much hassle or is it integrated more deeply? (My metrics have distinct names so there won't be any collision.)

[2020-12-05 12:24] jedrzejkozal commented on #741
I think you can avoid creating TemporaryDirectory by calling log_model in context manger with proper run id set:
[code]

[2020-12-05 14:16] SkafteNicki commented on #4967
@Ceceu can you provide code to reproduce? seems weird to me

[2020-12-05 14:24] SkafteNicki commented on #4921
@Ceceu I am closing this, please reopen if more questions on this topic.

[2020-12-05 14:24] #4921 closed

[2020-12-05 14:49] #4781 closed

[2020-12-05 15:35] SkafteNicki commented on #4983
When you set `base_lr=1e-5` (second argument) in `torch.optim.lr_scheduler.CyclicLR` it overwrites the initial learning rate of all the optimizers parameter groups, which is why they are the same. Instead you should set `base_lr=[1e-6, 1e-5]`.

[2020-12-05 16:59] zhutmost opened #4985 "Logging at training/validation batch end"
## 🚀 Feature
Currently it seems that PL cannot log metrics to progress bar in `training/validation_step_end` with `self.log()`.
I try to `self.log_dict({...})` in these functions, but the progress bar only prints loss without other metrics. I want to log metrics in `<mode>_step_end` just like what I can do in `<mode>_step`

### Motivation
Currently PL cannot log metrics in `training/validation_ste

[2020-12-05 18:05] bes-dev opened #4986 "Where is stored logs of the NeptuneLogger when I use offline mode for a logger?"
I use Neptune Logger with the offline mode in my pipeline, but I can't find where log files are located, and I can't find parameters of NeptuneLogger to set store dir and so on from offline mode. Can someone help with it? Thanks in advance!

[2020-12-05 19:43] #4370 closed

[2020-12-05 19:43] #3569 closed

[2020-12-05 19:43] #2660 closed

[2020-12-05 20:09] #3827 closed

[2020-12-05 21:00] #4540 closed

[2020-12-05 22:17] #4222 closed

[2020-12-06 00:17] #2090 closed

[2020-12-06 02:28] awaelchli commented on #4980
This is not surprising. What exactly are you trying to log in each step of validation?
It is not meaningful to log per batch in validation as there is no real  progression and the global step does not increase.
If you need a validation accuracy, certainly you should average it over the whole validation set which is what self.log does by default when you set epoch=True.
Hope this answer helps.

[2020-12-06 02:40] awaelchli commented on #4973
This is a very difficult feature to implement. There is a great disparity in the API between the loggers regarding the logging of images and graphs and it would be quite the challenge to bring this under a common denominator without sacrificing functionality.

You mention that kwargs could be used to pass down specific arguments to a logger but that will defeat the purpose because changing the log

[2020-12-06 04:06] cccntu opened #4987 "DDP not moving batch to device?"
Hi, I am using 1.0.8. I encountered error saying the input is not on the same device as the model. I printed the inputs and found out they are on cpu. I noticed this code below does not move the inputs to device.
https://github.com/PyTorchLightning/pytorch-lightning/blob/0979e2ce0f04ffa4facc13f08dc8d1612cdeae3e/pytorch_lightning/accelerators/ddp_accelerator.py#L153-L159
I added 2 lines of code and

[2020-12-06 04:48] zhutmost commented on #4985
If this bug cannot be fixed soon, is there any temporary workaround?

[2020-12-06 10:03] kantholtz commented on #4848
For the curious if anyone needs a quick and dirty workaround: I set https://github.com/PyTorchLightning/pytorch-lightning/blob/7b7d4bb86d2c28ccc8b13953481f084d6f8accf7/pytorch_lightning/trainer/connectors/logger_connector/epoch_result_store.py#L152 to `False` and the suffix vanishes.

Quick and dirty ;)

[2020-12-06 12:24] alexionby commented on #4612
I faced the same problem. Looks like it somehow connected to zeromq (?)
[code]

[2020-12-06 12:44] SeanNaren commented on #4987
Hi @cccntu, DDP moves the batch to the device internally, hence why this is missing from the accelerator code.

The examples all work with DDP, have a look here: https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/basic_examples/simple_image_classifier.py

[2020-12-06 13:01] #4857 closed

[2020-12-06 13:20] tadejsv opened #4988 "Metrics for object detection with bounding boxes"
## 🚀 Feature

We could add a whole bunch of metrics for object detection (bounding boxes) by just writing a plugin that transforms the bounding boxes to multi-class label tensor representation.

### Motivation & Pitch

Metrics for bounding box detection are basically just classification metrics (see [here](https://github.com/rafaelpadilla/Object-Detection-Metrics) for example) - the only differenc

[2020-12-06 13:20] JosephGatto commented on #4612
@alexionby I am no expert but an 'Address already in use' error in my pytorch-lightning experience has been related to an occupied port or ip address.

[2020-12-06 14:38] cccntu commented on #4987
Hi @SeanNaren , Thanks for the reply.

What do you mean internally, can you give me some pointers?  I think there should be a section in documentation for questions like "How does pl does <this> internally?", with explanation and links to actual code.

My current guess is that I am using huggingface's `BatchEncoding` as input to `training_step()`, while `BatchEncoding` supports `.to()` method, but

[2020-12-06 16:38] alexionby commented on #4612
@JosephGatto, I figured out that in my case it was connected to jupyter-notebook and ZMQ. As python script it works nice. My case closed.

[2020-12-06 17:28] #4963 closed

[2020-12-06 18:19] SeanNaren commented on #4987
That is strange! Internally we just use standard PyTorch DDP, which scatters inputs before passing them into the forward function: https://github.com/pytorch/pytorch/blob/v1.7.0/torch/nn/parallel/distributed.py#L617

This brings them to the current GPU devices automatically before passing through to the forward. Strange that this isn't happening automatically for `BatchEncoding`. Could you give me

[2020-12-06 19:37] #3670 closed

[2020-12-06 22:10] apacha commented on #4853
Am I missing something? I've stated that I am indeed using `training_step_end` and `validation_step_end` as you indicated, but I am NOT getting `all_something_across_ddp` but instead just the share that was assigned to a single GPU. This happens only when I'm using DDP accelerator, but works as expected with DDP2 and DP backends. Is this really how it was intended to work? And if so, why?

[2020-12-07 01:04] awaelchli commented on #4987
@SeanNaren the DDP built-in scatter only moves data to the devices for tensors and tensors in collections like list, tuple, etc.
https://github.com/pytorch/pytorch/blob/e85d494707b835c12165976b8442af54b9afcb26/torch/nn/parallel/scatter_gather.py#L5

In our accelerator base class we have this method
https://github.com/PyTorchLightning/pytorch-lightning/blob/e952dee2921506c80cc9fb93e8731d7ee137ce59/

[2020-12-07 01:10] awaelchli commented on #4987
This should be accelerator=ddp.
How are you verifying on which gpu it runs? Please use nvidia-smi. If you just look at the global rank it will always be in the range 0, ..., gpus-1.

[2020-12-07 01:28] cccntu commented on #4987
I am still working the minimum example, but I think @awaelchli is right. Still, using `batch_to_device` doesn't scatter inputs in `Batch Encoding` across devices, right?

[2020-12-07 01:41] awaelchli commented on #4987
You don't necessarily need to work on a reproducible example, since this is not a bug and rather a limitation of scattering.

No, how could it? Custom python objects like BatchEncoding don't have a batch size / batch dimension so scattering is not defined there. As proposed in #1206 and #2350 we need a way for the user to define scatter and gather for these objects.

[2020-12-07 01:50] #4294 closed

[2020-12-07 01:50] #4404 closed

[2020-12-07 02:58] cccntu commented on #4987
@awaelchli  Thanks for the explanation and links. Here is the reproducible example I wrote for future reference. https://gist.github.com/cccntu/967d9624d37024875e6cd094d2bf13ae

I just checked again using nvidia-smi, seems the computation does run on gpu 3,4, however it also occupies approximately the same amount of memory on gpu 0,1.
I had process running on gpu 0 and caused OOM, so I assumed it

[2020-12-07 03:00] ayushm-agrawal commented on #4829
I got this error again on Colab today.

[2020-12-07 05:41] lezwon commented on #4829
@ayushm-agrawal did you try with the master branch?

[2020-12-07 06:29] andreaRapuzzi commented on #4980
Hi @awaelchli, thanks for the prompt answer!
While I agree that the per epoch validation info has the most value, still there's value in logging validation step info to monitor how 'noisy' (variance) is a metric inside a single epoch.
So my initial validation logging had  `on_step=True` and `on_epoch=True` which had similar problems. To simplify the problem reporting I described a simpler config (

[2020-12-07 08:25] hbredin opened #4994 "Add multi-task support to EarlyStopping"
## 🚀 Feature

Make `EarlyStopping` watch multiple values and only stop when all of them no longer improve.

### Motivation

I have been training a multi-task model with multiple outputs. Each output is validated and logged by the model.
As of today, early stopping can only watch one of them. Hence, the user has to choose which task is the main one.

### Pitch

Make `EarlyStopping` watch multiple v

[2020-12-07 09:09] justusschock commented on #4705
@awaelchli I think, that might be because we check stuff with calling `torch.cuda.xx` (like `torch.cuda.device_count`) and maybe the first call to torch.cuda is creating cuda context?

[2020-12-07 09:41] janhenriklambrechts commented on #4978
If you still  need some help, I can look into it.

[2020-12-07 09:55] Borda commented on #4978
it would be nice, I am about to take it today too, do you have any similar experience?

[2020-12-07 10:00] janhenriklambrechts commented on #4978
No similar experience but happy to dive in and learn. I might take some time getting up to speed (just like the checkpoint issue) so if it is very urgent, feel free to skip over me :]

[2020-12-07 10:13] yikuanli commented on #4974
Hi, @tchaton, I am sorry, need to ask how to pull this branch you mentioned in #4981. I am not very familiar with those management in GitHub,

BTW, the way I got that problem is firstly run the boring model train with for example 5 epoch with ddp, and not resume from check point.

after ran it, I got a checkpoint and resume from that checkpoint, but change to 10 epoch for example, because check po

[2020-12-07 10:31] luzuku commented on #1151
Until the step functionality is introduced in `self.log` one could use `self.logger.log_metrics` and `self.logger.agg_and_log_metrics` instead which both have a `step` argument.

[2020-12-07 10:42] Borda commented on #4829
@simonrouse9461 I have run the notebook you shared and have not observed any issue/error...
in general, I would recommend using a stable version like 1.6 or 1.7 not nightly builds
pls fee free to reopen if you have problems also on stable XLA versions 🐰

[2020-12-07 10:42] #4829 closed

[2020-12-07 10:50] Haydnspass commented on #4973
I agree that the kwargs option kind of contradicts the purpose of changing loggers and is difficult for multiple loggers, it still solves the temporary disabling logger issue though. But I agree, if one wants more than a default implementation one should possibly ask the user to still us the actual API via ```logger.experiment.[]```

However, I don't quite agree with the API. To me, it is not real

[2020-12-07 11:15] dedeswim commented on #4705
So, on my side, I did a couple of trials.

~It looks like your script (@justusschock) is working also if I include 0 into CUDA_VISIBLE_DEVICES (so no CUDA OOM).~ For some reason it is not working anymore, I have OOM again.

However, if I set the random dataset dimensions to 64 * 64 * 3 (the same as CelebA, the dataset I am working with), I do have the OOM. This happens if I set the batch size to 1

[2020-12-07 11:18] SkafteNicki commented on #4988
Maybe we can get the opinion on this from @briankosw, @LucaButera, @AlexTS1980 as they are all involved in this PR https://github.com/PyTorchLightning/pytorch-lightning/pull/4564 that tries to implement some metrics for object detection

[2020-12-07 11:46] SkafteNicki commented on #4967
@Ceceu after trying myself, I assume you have set the `average` argument in the first case to `macro` and in the second case to `micro` (default):

[code]

[2020-12-07 11:48] LucaButera commented on #4988
@tadejsv I am not totally sure on this. Can you elaborate more on what you mean when you say that they are the same metrics but the only thing changing is the input format?
If you could provide an example that would be great.

[2020-12-07 11:54] ananyahjha93 commented on #4974
@tchaton @yikuanli  LARSWrapper should not be passed to a Scheduler, since it is not an optimizer object. We have updated out SimCLR and SwAV code accordingly. I will update the BYOL with this soon.

To see how LR schedule is set for LARS, refer to:

https://github.com/PyTorchLightning/pytorch-lightning-bolts/blob/master/pl_bolts/models/self_supervised/swav/swav_module.py#L330

@tchaton LARSWrappe

[2020-12-07 12:07] yikuanli commented on #4974
Thanks for answer this question, so LARS is not compatible with the scheduler, instead, we have to manually code the schedule right ?

[2020-12-07 12:09] justusschock commented on #4705
@dedeswim That is probably `torch.device` not set correctly (early enough) thus torch creating a cuda context on the default device (which is 0 by default). If you can provide a reproduction script, I can then try to find out, where this happens. However, with DDP I still have no clue.

[2020-12-07 12:11] dedeswim commented on #4705
I forgot to mention that it also takes memory on GPU 1, so it is taking memory on both GPUs (around 10 GiB on GPU1 and 500 MiB on GPU0). In the afternoon (CET timezone) I'll do my best to create a reproducible script.

[2020-12-07 12:30] Borda commented on #4978
seems we would need to upload the images somewhere on a cloud... https://stackoverflow.com/a/46875147/4521646

[2020-12-07 12:31] xinfangliu commented on #4983
Thank you very much for your help.
I changed the code so that the program can run without errors.
However, the learning rate does not seem to have adjusted.
    def configure_optimizers(self):
        opt = torch.optim.Adam([dict(params=self.net.net.parameters()),
                               dict(params=[*self.net.pool.parameters(),
                                            *self.net.fc.param

[2020-12-07 12:35] janhenriklambrechts commented on #4978
Or as an asset of this repo and just use the raw github link

[2020-12-07 12:37] Borda commented on #4978
yes, but as we download them during package build time there are not in any git version (just on the fly) so we would need to upload them to some free public domain and refer them there...

[2020-12-07 13:14] awaelchli commented on #4973
I misunderstood, I didn't know you were only considering "matplotlib" figures.

[2020-12-07 13:24] JakobHavtorn commented on #2915
It would be nice to be able to pipe arguments for `torch.jit.trace` through `.add_graph()` as `kwargs` such that we can disable the trace checking for stochastic models.

[2020-12-07 13:30] tchaton commented on #4853
Hey @apacha,

Let me try it out on my side as it should work.

Best regards,
Thomas Chaton.

[2020-12-07 13:37] Maybewuss opened #4996 "Use lightning with dgl"
[code]
I use collate_fn to batch dgl graphs, but when I training model, trigger this warning:
`
DGLWarning: DGLGraph.__len__ is deprecated.Please directly call DGLGraph.number_of_nodes.
`
How tor fix it ?

[2020-12-07 13:46] tchaton commented on #4955
Hey @YannDubs,

Could you provide reproduce this behaviour using https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/bug_report_model.py.
I am not sure to fully understand what you are trying to do.

Best regards,
Thomas Chaton

[2020-12-07 13:57] carmocca commented on #4994
I love the idea! It might be easier to create a `MultiTaskEarlyStopping` than updating the current `EarlyStopping` class.

Would you be willing to work on it?

This is not perfectly supported and only one ModelCheckpoint state will be saved.

[2020-12-07 15:03] ThomasWollmann commented on #4367
That's true.

[2020-12-07 15:06] ThomasWollmann commented on #4367
I reinstalled my OS and couldn't reproduce the error anymore. Will close the issue for now.

[2020-12-07 15:11] williamFalcon commented on #4853
validation_step_end is ONLY for DP and DDP2...

It's meant to aggregate parts of the batch. In DDP there are no parts of the batch because each process runs on its own GPU.

[code]

The documentation has videos that explain all this

[2020-12-07 15:11] #4853 closed

[2020-12-07 16:49] #4840 closed

[2020-12-07 17:10] quinor opened #4998 "`LightningModule.log(..., on_epoch=True)` logs with `global_step` instead of `current_epoch`"
## 🐛 Bug

When logging using:
```self.log(f"some_metric", value, on_step=False, on_epoch=True)```
in ie. `training_step`, the data is logged to the tensorboard with X axis in steps instead of epochs:

![image](https://user-images.githubusercontent.com/3879392/101381343-ec9f5380-38b6-11eb-8ac7-6d0655b19699.png)

Expected behavior is for the x axis to be in epochs:

![image](https://user-images.gith

[2020-12-07 17:12] mpaepper opened #4999 "Tensorboard logger: let x-axis be epochs instead of step for training logs"
#### What is your question?

Hello PyTorchLightning Community.

We upgraded from version 0.8 to the current version 1.0.8 and then got the error that `training_epoch_end` cannot return any results.

We used that before to aggregate our metrics and then return the averaged logs.

We removed the method and instead are using the self.log_dict now in training_step and it works.

However, on the x-axis

[2020-12-07 17:33] rohitgr7 opened #5000 "Add version suffix to saved model checkpoint with a version"
## 🚀 Feature
Currently, if a duplicate filename is found in the checkpoint directory saved by the `ModelCheckpoint`, then a version is added to it and the old file is kept as it is. [Here](https://github.com/PyTorchLightning/pytorch-lightning/pull/4861#discussion_r531787757) is an enhancement request to update the old file too with a version.

Before
[code]

After
[code]
cc @carmocca

[2020-12-07 17:37] apacha commented on #4853
May I ask what you would recommend me to do? I have to use DDP because the other backends are creating issues in my (hardware) environment. My problem is that validation only ever sees 1/4th of my validation set when training on four GPUs. But I would like to evaluate on the complete validation set. At least I thought that `validation_step_end`'s intention was exactly that, but maybe I'm wrong.

I

[2020-12-07 17:43] rohitgr7 opened #5001 "[Enhance] Update reload_dataloaders_every_epoch to reload_dataloaders_every_n_epoch"
## 🚀 Feature
`reload_dataloaders_every_epoch` reloads dataloader every epoch. We can change it to reload dataloaders after every n epochs. It will accept both bool and int values. `True` will be treated as 1 and `False` will be treated as 0 (means no reload).

### Motivation
Recently a request came up on slack regarding reloading dataloaders after some epochs. Also since we have enhanced `fast_dev

[2020-12-07 17:56] rohitgr7 commented on #4986
check this path `trainer.log_dir`.

[2020-12-07 19:31] #4953 closed

[2020-12-07 19:36] rohitgr7 commented on #5001
cc @PyTorchLightning/core-contributors is this a good feature to have??

[2020-12-07 19:44] stachu86 opened #5003 "AttributeError: 'float' object has no attribute 'clone' - when logging float values with sync_dist=True and ddp"
## 🐛 Bug
[code]
results in
[code]
Float is allowed type (from step_result.py)
[code]

## Please reproduce using [the BoringModel and post here]
[Simple gan example](https://colab.research.google.com/drive/1_3ZyOfmvdYl5zGEaF-WBcYd1aG0w4k9y?usp=sharing)

### To Reproduce

### Expected behavior
Logging of float values

### Environment
* CUDA:
	- GPU:
		- Tesla T4
	- available:         True
	- version

[2020-12-07 20:07] Borda commented on #5003
I think you shall be using Tensor, @SkafteNicki?

[2020-12-07 20:13] SkafteNicki commented on #5003
@Borda not metric package related, logging related.
But I do agree that manually casting the number to tensor should get it working for now, but we should probably do this internally.

[2020-12-07 20:33] carmocca commented on #5000
On it :muscle:

[2020-12-07 21:24] Ceceu commented on #4967
Hello @SkafteNicki,
Sorry for being late.
You are completely right, this was the reason for that behavior.

Thanks!

[2020-12-07 21:45] awaelchli commented on #4998
This is intended behaviour :) Certainly not a bug

[2020-12-07 21:46] awaelchli commented on #4987
the oom may be related to #4705

[2020-12-07 22:00] quinor commented on #4998
Hmm, I sense some miscommunication somewhere @awaelchli , please take a look at this slack conversation: https://pytorch-lightning.slack.com/archives/CRBLFHY79/p1605528802405600 @tchaton told me explicitly it should work the way I described it.

[2020-12-07 22:17] SkafteNicki commented on #4967
Nice, closing this issue.

[2020-12-07 22:17] #4967 closed

[2020-12-07 22:28] awaelchli commented on #4998
The on_epoch argument refers to "when" w.r.t. global step the metric should be logged. An epoch with 10 batches and logging on epoch should create datapoints at steps 9, 19, 29, ... (indexed from 0)

[2020-12-07 23:02] carmocca commented on #5000
Should I include adding version suffixes to `last.ckpt` files?

[2020-12-07 23:07] MikkelAntonsen commented on #1527
@edenlightning I've tried to implement a fix+some extra functionality. I'm awaiting feedback from @tchaton on what needs to be improved/fixed/done differently.

[2020-12-07 23:34] quinor commented on #4998
Thanks for the clarification! Then it could be an improvement (or at least there could be an option) to have the labels be epoch numbers instead. I don't know then what tchaton meant on slack though.

[2020-12-07 23:40] carmocca opened #5007 "Duplicate epochs when calling .fit() twice"
## 🐛 Bug

### To Reproduce

[code]

### Expected behavior

Assertion does not fail

### Environment

Current master

cc @tchaton @borda

[2020-12-07 23:57] awaelchli commented on #4998
I would argue basically never would you want that as  it makes it even more harder to compare runs :) Making correct comparisons between runs is crucial for tuning hyperparameters and ablations. But besides that, we should not forget that loggers are not plotting tools. There are some advanced loggers like wandb or comet where you can change the plots in the GUI (x axis, labels etc).

[2020-12-08 00:04] umbertov commented on #4829
I had the same problem on Colab + XLA 1.7.
Changing the join() timeout to 100 as @simonrouse9461 said got rid of the issue: slowly, the messages like
[code]
started appearing, slowly and one at a time (up to 8).

With the default `join` timeout, running my training script on Colab TPUs was a hit or miss. To overcome this, i put my invocation in a `while true; do py train.py && exit 0 ; done` loop

[2020-12-08 00:11] quinor commented on #4998
I would argue the other way - in the models I'm training I've got epoch-count scheduling on more than one occasion and the batch size is not always constant, so the step-number logging actually works against me there. I can see I'm the only one (or one of the few) needing that option though. Back in Lightning 0.7 or so I was able to just pass `{(...), "step": <epoch>}` as ie. `training_epoch_end`

[2020-12-08 00:32] ayushm-agrawal commented on #4829
I tried installing on Colab using the following command.
`pip install git+https://github.com/PytorchLightning/pytorch-lightning.git@master --upgrade`
Got this error

[code]

[2020-12-08 01:04] graceyangfan commented on #4829
@Borda  I meet this error on colab TPU .
I install the packages following the https://pytorch-lightning.readthedocs.io/en/latest/tpu.html:
'''
!curl https://raw.githubusercontent.com/pytorch/xla/master/contrib/scripts/env-setup.py -o pytorch-xla-env-setup.py
!python pytorch-xla-env-setup.py --version nightly --apt-packages libomp5 libopenblas-dev
‘’‘

[2020-12-08 01:33] carmocca commented on #5007
The epoch number is generated here:

https://github.com/PyTorchLightning/pytorch-lightning/blob/239347435029c0a02b305201ebbfa39d62746ca8/pytorch_lightning/trainer/trainer.py#L511

which assumes that `self.current_epoch` has not run yet. This assumption is not correct in when running `fit` twice because the epoch number is not increased when training ends.

When using `Trainer(resume_from_checkpoin

[2020-12-08 05:16] duaisha commented on #538
@williamFalcon  @sneiman  copy.deepcopy solution works but it uses lot of extra memory as also said in the documentation https://docs.python.org/3/library/copy.html
Is there a better solution to this problem?

[2020-12-08 10:13] hbredin commented on #4994
I need this feature at some point so am happy to contribute in the future but cannot provide an ETA (definitely not before 2021).

[2020-12-08 10:28] luzuku opened #5013 "Accuracy metric for preds at half precision is zero with pl=1.0.8"
## 🐛 Bug

The accuracy metric is wrong if `preds` are given with half precision. See example.

### To Reproduce

[code]

### Expected behavior

The accuracy metric should not fail silently. Either an Error needs to be raised when preds are half precision or it should work correctly.

### Environment

 - PyTorch Version (e.g., 1.0): 1.7.0
 - OS (e.g., Linux): Linux
 - How you installed PyTorch (`co

[2020-12-08 10:39] tadejsv commented on #4988
@LucaButera yes, absolutely.

# Example

So consider this simple example (for one image):
[code]
Obviously, IRL predictions would contain probability for each class (and some "not relevant" class) - here I'm simplifying things for this example.

Then, the hardest step (and the one which would be handled by the transform function) is how to match preds and target. I'm going to use the criteria from

[2020-12-08 10:48] luzuku commented on #5013
It is indeed fixed in `master` with the change from `preds.dtype == torch.float` to `preds.is_floating_point()`. It is also a duplicate of #4840. Sorry, my bad.

[2020-12-08 10:49] #5013 closed

[2020-12-08 10:54] tadejsv commented on #5013
It is fixed in master but would be broken again in #4838, so thanks for catching this :)

[2020-12-08 11:09] LucaButera commented on #4988
@tadejsv It seems good reasoning. I am not 100% convinced and I would run some comparison tests to ensure that, with this approach, output values are correct in both common and corner cases.

For instance, considering your example, I would not expect mAP to be ```1.0``` as each "extra" prediction should count as a False Positive.

This can be easily tackled by directly assigning a binary predictio

[2020-12-08 11:25] umbertov commented on #4829
Btw, a quick way for anyone getting this issue to change the `join` timeout is the following:

[code]

[2020-12-08 11:25] tadejsv commented on #4988
@LucaButera Regarding mAP value, I think it is equal to 1.0 as all FP in my artificial inputs have confidence (probability) below or equal to that of the TP input. Please let me know if you can think of a more realistic example, and we can compare "my way" of doing this to the implementation in your PR

Regarding the transform you proposed - it's not correct. The reason that `preds_tr` gets assign

[2020-12-08 11:36] tadejsv commented on #5013
@luzuku And one small note: if you create tensors with `torch.Tensor`, the created tensor will be a float tensor. Targets as floats will not be supported as inputs in classification functions anymore. If you want to preserve dtypes, create the tensor with `torch.tensor` (note that `tensor` is not capitalized)

[2020-12-08 12:41] LucaButera commented on #4988
@tadejsv Yes I think you're right, as long as you get a matching box for each target your mAP will be ```1.0``` since the one considered TP is always the one with highest confidence and there's only one image in this case.
You could compare with [these](https://github.com/PyTorchLightning/pytorch-lightning/blob/92483a8a0302eee0e48964898e89c217fcee20ae/tests/metrics/functional/test_classification.p

[2020-12-08 14:31] tadejsv commented on #4988
Thanks, I'll try it out on the test cases later today.

About multiple images: what you propose should work yes - this way of aggregation (aggregating boxes across all images) is also what I have seen done elsewhere. Additionally, I could introduce an option to compute the metric for each image, and average across images. This would tie into some other PRs I have open for classification metrics at

[2020-12-08 15:30] rohitgr7 commented on #5000
Isn't it saved only once?

[2020-12-08 15:42] carmocca commented on #5000
It is for one run, but if you do a re-run it gets overwritten

[2020-12-08 15:45] chidniu commented on #4998
It doesn't sound like that is intended behaviour in the docs https://pytorch-lightning.readthedocs.io/en/stable/logging.html#automatic-logging

A reduction which just dumps all the cached values to the logger is not exactly very useful and kind of defeats the purpose of these flags imho. The Metric API docs say

Then looking at e.g. `compute()` from the Accuracy-Metric-Class

[code]
suggests a sin

[2020-12-08 15:46] rohitgr7 commented on #5000
oh... it's a bug then. Yep version suffixes should be added. If I have a file already present in the directory, not saved by pl.ModelCheckpoint, then it should remain untouched.

[2020-12-08 15:48] Borda commented on #4698
@gianscarpe it seems we have some problems with pyright
[code]
I think that maybe it would be easier to move to pypy? @akihironitta

[2020-12-08 16:03] edenlightning commented on #4961
@carefree0910 mind trying master? this might have been fixed with https://github.com/PyTorchLightning/pytorch-lightning/pull/4976

[2020-12-08 16:08] carefree0910 commented on #4961
I'm quite busy these days so I hardly have time to test it 😭
Since the problem should be a general problem, I think it should stand out on ordinary GANs if the issue remains. Anyway I'll try it out ASAP!

[2020-12-08 17:19] #4843 closed

[2020-12-08 17:54] Borda opened #5023 "fix typing in PL codebase - multiple PRs"
## 🚀 Feature

add/fix typing in all PL codebase, this will yield in multiple PR as we prefer to split the work into smaller peace

### Additional context

in #5021  we introduced a new ignore list so after it is merged, take out a single ignored item and fix typing for that part

### Sections

- [ ] `pytorch_lightning.callbacks.*` #7035
- [ ] `pytorch_lightning.core.*`  #7035
- [ ] `pytorch_lightn

[2020-12-08 19:40] nihirv opened #5027 "On "import pytorch-lightning": AttributeError: python: undefined symbol: THCudaHalfTensor_normall"
## 🐛 Bug

Simply by importing pytorch-lightning, I receive the following error: `AttributeError: python: undefined symbol: THCudaHalfTensor_normall`

Traceback:
[code]

### To Reproduce
`import pytorch-lightning`

### Expected behavior
For pytorch-lightning to import and be used correctly

### Environment
* CUDA:
        - GPU:
                - Tesla V100-PCIE-32GB
                - Tesla V100-PC

[2020-12-08 20:07] #4228 closed

[2020-12-08 20:15] jbohnslav opened #5028 ""Shuffle" in validation dataloader: is it really best practices?"
## 🐛 Bug

In my `LightningModule`'s `val_dataloader` method, I have this dataloader:

[code]

I receive this warning:
[code]
However, it's quite important for me to shuffle my validation batches. For example, I visualize the first few batches in my validation to get an idea of random model performance on my images-- without shuffling, I'd only be able to inspect the same images every epoch.

### E

[2020-12-08 20:22] blisc opened #5029 "Behaviour when limit_train_batches is float is inconsistent"
## 🐛 Bug

When passing limit_train_batches as a float to the trainer, the total number of steps during training is inconsistent and is dependent on accumulate_grad_batches, and independent of drop_last. Please see the tests in the notebooks for more examples.

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sha

[2020-12-08 20:55] akihironitta commented on #4698
@Borda #5021 sounds reasonable.

[2020-12-08 20:58] carmocca commented on #5000
Okay, let's do it after #5008 is merged then.

[2020-12-08 21:08] carmocca opened #5030 "Add version suffix to last.ckpt"
## 🚀 Feature

If you use `ModelCheckpoint(save_last=True)` and you run an experiment twice in the same directory, then this set of checkpoints is generated:

[code]

the idea is to add a version also to `last.ckpt` if it would get overwritten:

[code]

### Motivation

Avoid overwriting existing checkpoints

### Alternatives

Modifying the default `CHECKPOINT_NAME_LAST` to avoid the conflict

### A

[2020-12-08 21:42] alanhdu opened #5031 "Dead Links in "Implementing your own DDP" documentation"
## 📚 Documentation

In the "Implementing your own DDP section" (https://pytorch-lightning.readthedocs.io/en/stable/multi_gpu.html#implement-your-own-distributed-ddp-training), the text says:

Unfortunately, both of those seem to be dead links. I'm not sure what would replace them -- the custom DDP implementation should presumably point to https://pytorch-lightning.readthedocs.io/en/stable/accelera

[2020-12-08 22:09] Borda commented on #5031
@alanhdu mind send a PR?

[2020-12-08 22:38] alanhdu commented on #5031
@Borda -- what should the updated links point to? Presumably the `configure_ddp` should point to the custom accelerator docs, but I don't know where the first link ("init Pytorch ddp") should go.

[2020-12-08 23:18] TylerYep commented on #4541
Bumping this @williamFalcon

[2020-12-08 23:20] #4725 closed

[2020-12-09 01:17] undertherain opened #5033 "metrics from "sanity check" do not appear on wandb / epoch 1 becomes 0"
## ❓ Questions and Help

#### What is your question?
I'm using so called "sanity check" to run actual full validation before I do any training, using `num_sanity_val_steps=-1`
however I could not see any metrics displayed on wandb.
Eventually I had to implement custom `validation_epoch_end`
where instead of `log_dict` I'm using
`self.logger.agg_and_log_metrics(metrics, step=self.current_epoch + 1)

[2020-12-09 01:25] LearnedVector opened #5034 "Error when using NVIDIA APEX with self.trainer.reinit_scheduler_properties"
## 🐛 Bug

There is an error with the self.trainer.reinit_scheduler_properties class when using nvidia apex found [here](https://github.com/PyTorchLightning/pytorch-lightning/blob/ee9b3fe5744ff7b908b02483fea17f68c6e228fd/pytorch_lightning/plugins/apex.py#L36).

After some digging into the code, the error is thrown because `scheduler.optimizer == optimizer` returns false [here](https://github.com/Py

[2020-12-09 01:34] carmocca commented on #5028
Wouldn't you want to always inspect the same images to properly assess the model performance?
If you keep looking at different samples each time, it is harder to know if the change in performance is caused by the model improvement or by how well the model generalizes to the samples in particular.

You shouldn't need to, see this example of using `filterwarnings`

[code]

[2020-12-09 03:04] awaelchli commented on #5027
From your error message it looks like you have apex installed.
Try to import apex:
`from apex import amp`
and you will probably see the same error. Check your apex installation, maybe it is incompatible with your pytorch version or it wasn't correctly compiled.

[2020-12-09 03:16] awaelchli commented on #4996
Could you provide a bit more information? It looks like this warning is coming from the DGL library. It would be nice to have a minimal example to run. Make sure your train_dataset is a `torch.nn.Dataset` that has the `__len__` method defined.

[2020-12-09 03:26] awaelchli commented on #4998
@chidniu This discussion is about the display of the abscissa in plots of the logger GUI. It has nothing to do with metric computation. If something isn't working for you or the docs are unclear, let's look at it in a separate issue?

@quinor Have you tried `self.log("step", self.current_epoch)`?

[2020-12-09 03:29] awaelchli commented on #5000
@carmocca the filename last.ckpt needs to be kept for easy access, which is what it is for :)

[2020-12-09 03:57] awaelchli commented on #5031
Maybe here:
https://github.com/PyTorchLightning/pytorch-lightning/blob/2c11d96012f629264e57601d68074ef73bb17659/pytorch_lightning/plugins/ddp_plugin.py#L73

[2020-12-09 07:42] MarsSu0618 opened #5035 "how to implement Matthews correlation coefficient(MCC) with pytorch-lightning"
## Problems
Hi, Everyone. I have encountered problem about classification metrics.
I want to use mcc metric to monitor. But i use `sklearn.metrics.matthews_corrcoef` to solve it.
But i not sure this metrics how to implement in pytorch-lightning.
Hope someone can answer, I will thanks a lot.

[2020-12-09 09:59] #4978 closed

[2020-12-09 10:36] carmocca commented on #5030
@awaelchli answering https://github.com/PyTorchLightning/pytorch-lightning/issues/5000#issuecomment-741503135 here

How do you propose we fix this then?

[2020-12-09 11:00] LucaButera commented on #4988
@tadejsv Could you point me to some examples of where you saw this approach implemented? I am really interested since I have only been able to find "raw" approaches.
I am not sure if computing the metric for each image is interesting for detection, but in the end it is just an additional feature so, as long as we keep it tidy, it's a bonus.

See that is something that got me thinking. Since detect

[2020-12-09 11:17] chidniu commented on #4998
@awaelchli Thanks for your reply. I think there is a misunderstanding. I am by no means an expert on Tensorboard but it seems to me the problem that is described in this issue is caused by the `on_epoch` flag not working in the `log()` call (which I was able to reproduce). If the metrics were aggregated and submitted on-epoch Tensorboard would not display the metrics batch-wise in the GUI.

[2020-12-09 11:39] tchaton commented on #4974
Hey @ananyahjha93,

Not sure to understand why Lars can't be an optimizer. I found several implementations making this cleaner: https://github.com/kakaobrain/torchlars/blob/3b3d7e9c7bd35a31b2c2fa6f213beb0bf6881892/torchlars/lars.py#L11

I will look into this deeper.

Best,
T.C

[2020-12-09 12:00] mpaepper commented on #4420
For others who might run into this:

In previous PyTorch Lightning versions, the Trainer received an argument `distributed_backend`. You now need to rename it to `accelerator`.

[2020-12-09 13:00] awaelchli commented on #5030
@carmocca Before I make a suggestion could you help me understand the context a bit more. Is this issue a) about damage control for users that accidentally write to the same directory, or b) is this about a particular use case where a user is doing this on purpose?

I am asking this because of two reasons. 1) I notice in your description you didn't append epoch numbers to the filenames and the pri

[2020-12-09 13:05] awaelchli commented on #5030
One may consider this option:
[code]

[2020-12-09 13:10] carmocca commented on #5030
It is about a)

Sorry, I didn't for brevity

That is not the case if you are monitoring something. For example, if you run an experiment for 10 epochs and your best performance is `epoch_4.ckpt`, `last.ckpt` corresponds to the tenth epoch. We discussed this in https://github.com/PyTorchLightning/pytorch-lightning/issues/4335#issuecomment-731884628

This is impossible already in master, version suf

[2020-12-09 13:16] ZhichaoDuan opened #5039 "validating bar keep showing 0 when check_val_every_n_epoch is bigger than 1"
## 🐛 Bug

Normally, the validating bar should update according to the procedure of validation_step, but when I set check_val_every_n_epoch bigger than 1, 2 for example, it keeps showing 0it.

I encountered this issue under a terminal environment.

 - PyTorch 1.6.0:
 - Linux

[2020-12-09 13:16] carmocca commented on #5030
if `last.ckpt` must stay, then I would keep it as is and make version suffixes start at 1.

However, this would be inconsistent with what was discussed in #5008.

So should we just start versions at 1 and forget about renaming files?
cc @rohitgr7 @Borda

[2020-12-09 13:21] awaelchli commented on #5030
This is correct behaviour. last.ckpt as the name suggests should point to the last saved checkpoint in a run, in this case it would be epoch 10 (epoch=9.ckpt). Again, last.ckpt is there for convenience if the user expects their run to be interrupted (for example manually) they can easily restore and continue training with last.ckpt without having to look up the exact filename. Having a file best.c

[2020-12-09 13:26] carmocca commented on #5030
Exactly, but you might not have saved on your tenth epoch because your model wasnt in the top-k

So `epoch_N.ckpt` doesnt exists but `last.ckpt` does. Then it is not safe to overwrite `last.ckpt`

[2020-12-09 13:32] awaelchli commented on #5030
These edge cases are terrible. Looks like the versioning is necessary then.

[2020-12-09 13:40] #5028 closed

[2020-12-09 14:40] borisdayma commented on #4903
This is a great idea!
Right now, wandb uploads the saved model folder at the end of the run, which may include one or several models (when saving checkpoints).

We could upload artifacts at the end of the run or as the model trains.
I think it may make more sense to upload at the end of training to avoid uploading unnecessarily too many times the model, for example if we are only interested in the

[2020-12-09 14:43] #5035 closed

[2020-12-09 14:44] Maybewuss commented on #4996
[code]

`
/Applications/anaconda3/envs/py36/lib/python3.6/site-packages/dgl/base.py:45: DGLWarning: DGLGraph.__len__ is deprecated.Please directly call DGLGraph.number_of_nodes.
`

Does lightning use len function when load data from dataloader ?

[2020-12-09 14:56] nihirv commented on #5027
This was the issue! Fixed it by uninstalling apex (`pip uninstall apex`). Thanks!

Closing the issue

[2020-12-09 14:56] #5027 closed

[2020-12-09 14:57] awaelchli commented on #5027
Awesome! You're welcome

[2020-12-09 15:04] ananyahjha93 commented on #5039
@ZhichaoDuan can you reproduce this using the BoringModel?

[2020-12-09 15:15] borisdayma commented on #4980
My suggestion in this case would be to gather your validation metrics in an array and [log it as an histogram](https://docs.wandb.com/library/log#histograms) at the end.

[2020-12-09 15:17] borisdayma commented on #4858
For info, if using wandb here is the [relevant documentation](https://docs.wandb.com/library/log#images-and-overlays).

[2020-12-09 15:37] awaelchli commented on #5003
[code]
should be sufficient, but perhaps the conversion can be done earlier and cloning should not be necessary in case value was a float. @stachu86 are you interested in working on this?

[2020-12-09 15:50] gianscarpe commented on #4698
I totally agree! @Borda find it reasonable. Moreover, I think extending static type checking coverage should be taken into consideration in future milestones :)

[2020-12-09 15:51] andreaRapuzzi commented on #4980
Thanks @borisdayma !!

[2020-12-09 16:19] kyoungrok0517 commented on #4903
Thanks for the response. I think following the checkpoint settings (e.g. preserve best top-k) would be nice, as you've mentioned in your comment. Then we can try the models in the other script using wandb API (e.g. automatic download).

[2020-12-09 16:24] mpaepper opened #5041 "ddp opens processes on GPUs (and consumes memory) not assigned to the Trainer"
## 🐛 Bug

When training on multiple GPUs with ddp, it is still starting processes on the unused GPUs (with a lot less memory, but still). It's not running any work there (GPU-Util is 0% in nvidia-smi).

How to fix this manually: I can run `CUDA_VISIBLE_DEVICES="2,3" python train.py --gpus 0,1` and then it works, it only runs processes on GPUs 2,3 and nothing on 0,1.

It also crashes when you use G

[2020-12-09 16:29] mpaepper commented on #5041
I think it's related to this: https://github.com/PyTorchLightning/pytorch-lightning/issues/4705

[2020-12-09 16:46] LucaButera commented on #4858
A small update on the local tests:

Wandb logger seems to log the image correctly in the same conditions. I don't know if this is actually relevant. Cause in both cases, to log images, you need to directly use the underlying logger via ```self.logger.experiment```

I have been able to reproduce the bug on my local machine, in the same environment that originally generated the bug. The code I used

[2020-12-09 16:46] Borda commented on #4698
@gianscarpe do you mean #5023?

[2020-12-09 16:50] mpaepper commented on #5041
Some further illustrations:

With GPU 0,1 all looks good, 2 processes one on GPU 0, one on GPU 1
![Auswahl_504](https://user-images.githubusercontent.com/4135790/101659852-c7414f80-3a46-11eb-8bbe-132d5bb78398.png)

However with GPU 2,3, suddenly there are two ghost processes on GPU 0 and 1
![Auswahl_505](https://user-images.githubusercontent.com/4135790/101659925-dfb16a00-3a46-11eb-968b-b1cb62f904

[2020-12-09 16:52] mpaepper commented on #5041
Some further illustrations:

With GPU 0,1 all looks good, 2 processes one on GPU 0, one on GPU 1
![Auswahl_504](https://user-images.githubusercontent.com/4135790/101660248-3fa81080-3a47-11eb-98f9-c8c6c01ef87b.png)

However with GPU 2,3, suddenly there are two ghost processes on GPU 0 and 1
![Auswahl_505](https://user-images.githubusercontent.com/4135790/101660259-433b9780-3a47-11eb-9a3a-dd317fa582

[2020-12-09 17:01] LucaButera commented on #4858
A quick followup. I managed to reproduce the issue on a minimal environment consisting of the following packages:
[code]

Produced by running ```poetry add pytorch-lightning Pillow``` on a clean environment.
The code used is the same shown [previously](https://github.com/PyTorchLightning/pytorch-lightning/issues/4858#issuecomment-741897886)

As before, this is the output of the env details collect

[2020-12-09 17:04] tchaton opened #5042 "train_epoch_end called before epoch_end"
## 🐛 Bug

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing)

### To Reproduce

https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/trainer/training_loop.py#L858

### Expected behavior

### Environment

**Note**: `Bugs with code` are solved faster ! `Colab Notebook` should

[2020-12-09 17:19] drozzy commented on #3037
I wish there was a bit more clarification on this in the docs, as I had to google for this.

[2020-12-09 17:32] fg91 opened #5044 "Learning rate finder wrong error message on early stopping"
If the learning rate finder stops early, an error is shown that 'LR finder stopped early due to diverging loss.'.

**However, early stopping can also happen if the data loader is shorter than the default number of training steps (100) performed by the learning rate finder. In this case, the error message about diverging loss is truly misleading.**

https://github.com/PyTorchLightning/pytorch-light

[2020-12-09 17:57] rohitgr7 commented on #5030
No stong opinion here. I am fine with both https://github.com/PyTorchLightning/pytorch-lightning/issues/5030#issuecomment-741763874 renaming or not, 0 or 1 as the first prefix version.

[2020-12-09 18:22] longdct2706 opened #5045 "Cannot perform test on GLUE example"
## 🐛 Bug

I tried to run the [GLUE example](https://colab.research.google.com/github/PytorchLightning/pytorch-lightning/blob/master/notebooks/04-transformers-text-classification.ipynb) in the README.md file to see what does the model return when running test.

However, when I create a new cell to run `trainer.test()`, I got the following error
[code]

After a quick Google search, I suspect it has

[2020-12-09 18:37] MJHutchinson commented on #4664
@Borda @tchaton @emilemathieu

Bump on this issue - it's very annoying as it causes excessive logging. @emilemathieu 's fix works perfectly.

[2020-12-09 19:13] #4971 closed

[2020-12-09 19:52] JosephGatto commented on #4612
Hi @edenlightning @justusschock,

Does PyTorch-lightning support compute capability 3.7? One of the HPC specialists who manage my compute cluster tried debugging this today and said the issue was isolated to the K80 nodes and that he got it to work on other nodes that used compute capability 7.0.

Note: The K80s failed even after a driver update and he said that all GPUs passed to PyTorch-lightnin

[2020-12-09 20:03] awaelchli commented on #5041
same as here? #4705

[2020-12-09 20:30] awaelchli commented on #3037
I'm sorry that you had to google it. Where did you find your answer? Here in github?
Any idea where would be a good place to mention this?

[2020-12-09 20:59] #4450 closed

[2020-12-09 21:01] alanhdu opened #5047 "DDP crashing with small sets"
## 🐛 Bug

When I try to use DDP with a small validation set, I get crashes. If you run the following code:

<details>

<summary> Code Sample </summary>

[code]
</details>

fails with

<details>

<summary> Stack Trace </summary>

[code]

</details>

Interestingly enough, this seems to depend on `num_process` -- if `num_process=6`, then this code does not crash, but at `num_process=7` it starts cras

[2020-12-09 21:24] alanhdu commented on #5047
IMO, ideally PyTorch lightning would handle these kinds of "small" datasets automatically and correctly. For instance, if we only have 2 samplse from 8 processes, I'd like to parallelize those 2 samples on 2 processes, while keeping the other 6 processes idle until they have training data. I'm not sure how easy/hard that would be to implement, but this strikes me as the kind of "engineering" probl

[2020-12-09 23:10] stachu86 commented on #5003
@awaelchli  yes, it looks to me like a good first contribution. I was little discouraged by the `#TODO` comment that suggests somebody will  rewrite this soon, but from my understanding `clone()` is necessary here because `torch.distributed.all_reduce` operates in-place. However, isn't `value.detach().clone()` would be more appropriate in the logging context?

[2020-12-10 02:12] drozzy commented on #3037
Yeah here: https://pytorch-lightning.readthedocs.io/en/stable/trainer.html#
Something like "don't use the same trainer multiple times" etc.

[2020-12-10 02:42] ananthsub commented on #5007
@carmocca  or should we reset these parameters in the trainer `teardown`?

[2020-12-10 02:44] ananthsub commented on #5000
agreed w/ @awaelchli  that we shouldn't change the `last.ckpt` name by adding versions to it. it needs to be deterministic for restarting

[2020-12-10 04:02] benihime91 opened #5051 "Is there a way to overide scheduler calls in pytorch_lightning ?"
What I want to do is the following:
- I have 2 optimizers and 2 lr_schedulers
- The 1st optimizer and 1st scheduler will step normally but the 2nd optimizer and 2nd scheduler will step only after the 4th epoch.

Now I wrote this code in which i could modify the `stepping` of the optimizer how can i do the same for the schedulers:
[code]

In a nutshell what i want to do is:

[code]
Is this achievab

[2020-12-10 04:05] jbohnslav commented on #4846
For my project, I found that setting `early_stop_threshold=None` fixes this. Thanks to @NumesSanguis for the suggestion.

[2020-12-10 04:13] undertherain commented on #5033
looks like part of the problem is here
[code]
the _prev_step is initially set to 0, so it does not do logging while still in epoch 0
I don't mind it it's epoch -1 on wandb, though still would be niceer to start eval from 0 and training from 1

[2020-12-10 04:16] awaelchli commented on #4996
Your code looks fine. I still don't think Lightning is causing the warning. Can you just run only this code:

[code]

[2020-12-10 04:19] Maybewuss commented on #4996
I tried, no warning throw.

[2020-12-10 04:48] undertherain commented on #5033
okey, so it looks like the case it that it is not that it's not logging per se
it is that the wandb logger waits to collect all metrics for a given step, and only updates when the step changes to the next one.
so
1. does PL ever log results of the call to log_something
2. using  agg_and_log_metrics directly is a bit tricky, because if I use epoch as step, I should not be using batch as step in tra

[2020-12-10 05:00] undertherain commented on #5033
I though to find an answer in samples - and noticed that they are not logging, but returning a dict. So I rewrote my code like in samples - just to get a warning that
[code]
cmon guys....

[2020-12-10 05:07] gqk opened #5052 "`Missing logger folder Warning` due to `isdir` of `fsspec`"
## 🐛 Bug

I linked a folder to `PROJECT_ROOT/lightning_logs`, but `pytorch-lightning` showed the warning `Missing logger folder: PROJECT_ROOT/lightning_logs`, and then wrote the `tensorboard` event log file to `PROJECT_ROOT/lightning_logs/version_0`, instead of creating a new `version_xxx`.

I think this is because in this case, `fsspec`'s `isdir` returns `False`, while python `os.path.isdir` retu

[2020-12-10 05:54] gan3sh500 commented on #5029
Can I take this up?

[2020-12-10 07:20] undertherain commented on #5033
okey. short but hacky solution is
[code]

[2020-12-10 07:48] kchuang625 opened #5053 "Error in Logger on epoch end when using Multiple GPUs"
## 🐛 Bug

When using multiple GPUs with 'dp', the error `RuntimeError: All input tensors must be on the same device. Received cuda:1 and cuda:0` occurs. It means the collections on epoch end would be from different device.

### Expected behavior

While they might need to be on the same device, or maybe the aggregating function should be able to handle items from different device.

### Environment

[2020-12-10 08:23] #4750 closed

[2020-12-10 08:28] vincentzlt opened #5054 "What is the correct way to set accumulate_grad_batches more than 1 and also a customized optimizer_step?"
I had `accumulate_grad_batches` more than `1` and also a customized `optimizer_step`, which works well in 1.0.8.

In the latest release, I got an error raised in:

https://github.com/PyTorchLightning/pytorch-lightning/blob/02152c17299eaacb26748a858d1a3545b419b93a/pytorch_lightning/trainer/configuration_validator.py#L92

What is the best way to do it? I can not find any documentation on it.

[2020-12-10 09:24] NumesSanguis opened #5055 "Exceptions in a Transform are silently ignored during training; fails next epoch with no error msg"
## 🐛 Bug

An Exception, such as StopIteration, is silently ignored by the Trainer and the error message is not printed out. Also, training continues, even when data points are missing.

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing)

https://colab.research.google.com/drive/1gAssRJ4fIC0SObNBoS1IzGFN545

[2020-12-10 09:29] Borda commented on #1894
for the record - https://pytorch.org/blog/pytorch-1.6-now-includes-stochastic-weight-averaging/

[2020-12-10 10:30] bongoramondo commented on #4045
@dlrac Can you share what caused such a behavior? I am experiencing currently similar issue and can't find anything wrong with my code...

[2020-12-10 10:45] dlrac commented on #4045
@bongoramondo Yeah, so we were working on complicated image -> sequence task where allowed sequence values were pulled from many files. One of our developers did something like:
[code]
since `set()` is not ordered and is dependent on` PYTHONHASHSEED` which can't be set programatically, loading weights in different program run loaded tokens in different order.

The reason why I first suspected prob

[2020-12-10 12:49] tchaton commented on #4853
Hey @apacha,

There is 2 options.
1. You could create a metric using our Metric API which will take care of the reduction across DDP (recommended).
2. In 1.1.0, we introduced a self.gather function in the LightningModule to enable this use case.
Here is the function: https://github.com/PyTorchLightning/pytorch-lightning/blob/4ebce38478f28c70edc2c7236c514665df105217/pytorch_lightning/core/lightning

[2020-12-10 12:50] tchaton commented on #1527
Hey @MikkelAntonsen,

I added some comments on your PR. Do you need me to help you ?

Best regards,
T.C

[2020-12-10 12:52] tchaton commented on #4937
Hey @swethmandava,

Any update on this one ? Could you use the update Simple Profiler released on 1.1.0 ?

Best regards,
T.C

[2020-12-10 14:46] janhenriklambrechts commented on #4858
Thanks @LucaButera, Ill use this extra info to try to reproduce this on Linux!

[2020-12-10 14:59] tadejsv commented on #4988
@LucaButera  Apologies for the late reply. So I tried my method on the first example from the test - and now I am actually pretty sure that "expected" score of the example is just wrong. Let me demonstrate:

[code]

So then, let's match predictions to targets - we match each prediction to the target with which it has the highest IoU. This is done like so:
[code]

We see that the unmatched predicti

[2020-12-10 15:04] tadejsv commented on #4988
Sorry, when I said that I have seen that way of aggregation elsewhere I didn't mean I saw it implemented my way, just that it was done that way, as opposed to calculating the score for each image and averaging. I haven't seen the metric implemented in mapping/metric way, unfortunately.

I mean, to me it is very clear that the approach is the same. Would love to prove, but would need some correct e

[2020-12-10 15:08] lstefanou commented on #5039
Same issue here. Setting check_val_every_n_epoch to 2 gives me a validation progress bar stuck at `Validating: 0it [00:00, ?it/s]`.

Perhaps related; the first epoch (either correctly or not depending on whether the Trainer should validate on epoch 0) shows the sum of train and validation batches, but never loops through the validation batches. E.g. I have 100/50 train/val batches, first epoch wil

[2020-12-10 15:15] benihime91 opened #5059 "Add option for overriding scheduler step"
## 🚀 Feature

### Motivation
Currently there is no way to overide the `scheduler.step()`.  `scheduler.step()` calls for all the schedulers are called sequentially i.e,
[code]
There should be something a hook that enables to override the `scheduler.step()` call something similar to the existing hook for optimizers `LightningModule.optimizer_step()`

### Pitch
something similar to :
[code]

[2020-12-10 15:16] benihime91 commented on #5059
@tchaton can you have a look as discussed in slack ?

[2020-12-10 15:17] benihime91 commented on #5051
#5059

[2020-12-10 15:17] #5051 closed

[2020-12-10 15:18] janhenriklambrechts commented on #5023
I am happy to start working on this

[2020-12-10 15:41] emirkonuk commented on #2551
Shouldn't the hooks be defined like:

[code]

How do we use these hooks in the current version? If I don't want to switch to eval mode ever (a pretty common case with GANs), do I just override

[code]

or do I call on_validation_model_train() and then the eval hook won't be called?

[2020-12-10 15:45] alanhdu commented on #5047
On further investigation, I think this is actually just a bug with DistributedSampler because the following crashses
[code]

I will close this issue and re-open another one as a feature request instead.

[2020-12-10 15:45] #5047 closed

[2020-12-10 16:00] alanhdu opened #5060 "Support DDP with uneven input sizes without data duplication"
## 🚀 Feature

### Motivation

Right now, if you use the `ddp` accelerator PyTorch Lightning automatically inserts the `torch.utils.data.DistributedSampler` which shards a dataset across multiple processes. This has not-obvious behavior when `len(dataset) % num_replicas != 0` -- in this case, because items cannot be evenly sharded across batches, `DistributedSampler` duplicates certain samples to *

[2020-12-10 16:03] justusschock commented on #4612
@JosephGatto We support whatever pytorch supports. we don't do anything related to specific cuda compute capabilities.
But even if the prebuilt binaries of pytorch don't support your GPU, you should be able to compile it yourself

[2020-12-10 16:09] teddykoker opened #5061 "Fix metrics backwards compatibility"
Moved to pl.metrics.utils (some users have complained about this)

TODO: add function back to functional (with deprecation warning) that simply calls new one

[2020-12-10 16:17] edenlightning commented on #4432
Current status:
Can't run autoscaler on GCP in drone

options:
move to AWS (4X more expensive)
Try azure (same price as GCP)

Next steps:
1. create credentials in AWSas a short term solution
2. Try a POC on azure
3. Ask drone to try to support GCP with multi-GPU

[2020-12-10 16:21] edenlightning commented on #4694
TODO: add doctest so we can verify that the API is up tp date

[2020-12-10 16:57] blisc opened #5063 "Self.log with multiple Optimizers errors out in 1.1.0 but works in 1.0.8"
## 🐛 Bug

self.log results in the following error:
[code]
when the following conditions are satisfied:

- There are two optimizers
- 1 of the optimizers does not log anything in 1 training epoch

Note, that this bug is not present in v1.0.8 and was introduced in 1.1.0

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF

[2020-12-10 17:21] NasirKhalid24 opened #5064 "TPU Error - RuntimeError: Unknown device"
## 🐛 Bug

Running in to a bug when trying to use TPU - code works fine with GPU. I am trying to train a preloaded efficient net on some new data. Stack trace at the end of the issue shows that the error is within the EfficientNet  - the colab notebook is linked.

Would appreciate any pointers as I am unable to debug the issue

##### [Colab Link](https://colab.research.google.com/drive/1OgwnD5C4Oiw

[2020-12-10 17:26] #5031 closed

[2020-12-10 17:40] LucaButera commented on #4988
@tadejsv I agree with what you said, except for the result correctness. If I run that example against my implementation (which is not the one in the PR where the example comes from) I get ```0.6667``` which is indeed ```~2/3```. I tested my implementation against ```pycocotools``` and it should be correct. So either I did something wrong somewhere or there's a catch in your solution that we can't

[2020-12-10 18:26] rohitgr7 commented on #5059
just thinking, should it be given in the arguments itself within `optimizer_step`??

[2020-12-10 18:27] rohitgr7 commented on #5064
@NasirKhalid24 mind update the access of the notebook to public?

[2020-12-10 18:42] NasirKhalid24 commented on #5064
Hey Rohit - apologies. Should be public now at this link

https://colab.research.google.com/drive/1OgwnD5C4Oiw-I8QzVt2NRzbDG_t2nQiE?usp=sharing

[2020-12-10 18:51] Borda commented on #5061
it just about importing, so the fix is add in functional `__init__` corrected in #5062

[2020-12-10 18:54] rohitgr7 commented on #5064
notebook is too bug to find what's the issue. Can you minimize it somehow or reproduce it with https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing??

[2020-12-10 19:08] edenlightning commented on #5023
Thanks @janhenriklambrechts!

[2020-12-10 19:55] lucadiliello opened #5066 "Incorrect example in `configure_optimizers`"
## 🐛 Bug

Example shows to use `scheduler` key to pass the scheduler in the dict. Correct key is `lr_scheduler` instead.

The example is:
[code]

but should be

[code]

### To Reproduce
Just use the wrong `scheduler` key. No exception will be raised but no scheduler will be used! I think many people, like me, do not know that their scheduler is not running. I would add at least some warning.

###

[2020-12-10 19:55] carmocca commented on #5060
Duplicate of https://github.com/PyTorchLightning/pytorch-lightning/issues/3325

[2020-12-10 21:04] rohitgr7 commented on #5066
no it's correct. If you'll use `'lr_scheduler'` key, it will raise an exception.

[2020-12-10 21:31] lucadiliello commented on #5066
Double checked on master:
1) See `pytorch_lightning.trainer.optimizers` -> `TrainerOptimizersMixin.init_optimizers` line 55
2) Using `lr_scheduler` does log LRs, whitout nothing is logged and it get the warning: `RuntimeWarning: You are using LearningRateMonitor callback with models that have no learning rate schedulers. Please see documentation for configure_optimizers method.`

[2020-12-10 21:34] rohitgr7 commented on #5066
mind reproduce it with https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing?

[2020-12-10 21:46] tadejsv commented on #4988
@LucaButera Actually, you're right. I figured out why my version doesn't work: there are two target objects that are not matched by any of the preds objects. This creates 2 extra FN entries that influence Recall. To model this in my way would require adding two fictitious predictions with 0 confidence and then cutting off the precision-recall curve at the lowest actual confidence (similar to the `

[2020-12-10 21:46] #4988 closed

[2020-12-10 21:49] nathanpainchaud opened #5069 "Trainer parser error: argument --fast_dev_run: invalid int value: 'True'"
## 🐛 Bug

When generating a parser for Trainer arguments with `Trainer.add_argparse_args`, the type of `fast_dev_run` is no longer interpreted correctly (was working correctly on PL 1.08, but no longer works with PL 1.1).

When interpreting an argument like follows:
[code]
now raises the following error:
[code]

I assume this regression was introduced when changing the type of `fast_dev_run` from

[2020-12-10 21:53] sick78 commented on #4988
i’m a teacher we all make mistakes but we learn n growin is the point n i have grown when i am in an webinar called to order put me on ther camera cuts n puts me live ok n send the traffic cool

Sent from my iPhone

[2020-12-10 21:53] lucadiliello commented on #5066
it is difficult to reproduce it in Colab since I do not know where the value of learning rates is stored and I cannot check whether it is changing or not. I noticed it from the `tensorboard` plots.

[2020-12-10 21:56] rohitgr7 commented on #5066
can you put your `configure_optimizer` code here? I'll try with master/

[2020-12-10 22:02] sick78 commented on #2809
https://www.financialfreedom-forever.co/video31538819/?p1=1853&p2=02fecffc7cc749ac9abb89a391cc1a1d

Sent from my iPhone

[2020-12-10 22:05] tchainzzz opened #5070 "Logging validation metrics with `val_check_interval`"
## ❓ Questions and Help

#### What is your question?

My training epoch is very long, so I'd like to run mini-validation loops in the middle of the epoch, which I can do easily by setting `val_check_interval=N`. However, I'd also like to log the values outputted by those mini-validation loops.

**Is there a canonical way to log validation metrics *within* a training epoch while using `val_check_in

[2020-12-10 22:13] lucadiliello commented on #5066
Closing since the issue was mine misinterpretation of the doc. I was convinced that the given example was about the return of the `configure_optimizers` method but was wrt the `lr_dict` instead. Sorry for bothering you.

[2020-12-10 22:13] #5066 closed

[2020-12-10 23:09] sick78 commented on #2809
https://coinmarketcap.com/alexandria/glossary

Sent from my iPhone

[2020-12-10 23:11] sick78 commented on #2809
https://coinmarketcap.com/guides/blockexplorer#more-market-data

Sent from my iPhone

[2020-12-10 23:11] sick78 commented on #2809
https://assets.website-files.com/5d0125b82bca931b917653b8/5d01402a01d01eaac8ebf45d_Screen%20Shot%202019-06-12%20at%202.09.04%20PM.png

Sent from my iPhone

[2020-12-10 23:13] sick78 commented on #2809
i know what i’m talking bout

Sent from my iPhone

[2020-12-10 23:29] sick78 commented on #2809
https://ssl.clickbank.net/order/c/clickw/img/cws%20banner-min.png

Sent from my iPhone

[2020-12-10 23:30] Borda commented on #5069
I guess that moving to #4492 would solve the problem...

[2020-12-10 23:47] NasirKhalid24 commented on #5064
Hey Rohit - I tried to reproduce it here but now I keep getting a process killed error

https://colab.research.google.com/drive/1-SW2pb4vVDUuV4WKLEtnaC8OK-sZsroV?usp=sharingg

[2020-12-11 00:19] tchainzzz commented on #5070
Update:

Replicated in Colab with a dummy dataset: https://colab.research.google.com/drive/1_o9L1kOmr8xtB-mS0y3bWWa2o1STh2bA

[2020-12-11 01:33] 7zhanghao opened #5072 "When saving top-k models, does it contain the best model?"
When saving top-k models, it seems that it save k models around the best model. But the best model is not contained in it.

[2020-12-11 01:46] #5072 closed

[2020-12-11 02:01] ZhichaoDuan commented on #5039
Istefanou below have located the issue, could you take a look at it?

[2020-12-11 02:16] VinhLoiIT opened #5073 "TensorRunningAccum does not reset as it assumed to be"
## 🐛 Bug
I looked into the source code in [this file](https://github.com/PyTorchLightning/pytorch-lightning/blob/7e8673debd2f8bc8ae639063c4aee71f774fc304/pytorch_lightning/trainer/supporters.py#L51) and found this snippet that does not make sense to me.

[code]

### To Reproduce
I made a short code snippet to verify this behavior as follows.

[code]
And the result is
[code]

[2020-12-11 03:36] meprem opened #5074 "Do I need to define a distributed sampler for DDP with Petastorm DataLoader?"
## ❓ Questions and Help
### Before asking:
1. Try to find answers to your questions in [the Lightning Forum!](https://forums.pytorchlightning.ai/) y old ref:https://github.com/PyTorchLightning/pytorch-lightning/issues/1586
2. Search for similar [issues](https://github.com/PyTorchLightning/pytorch-lightning/issues).   n
3. Search the [docs](https://pytorch-lightning.readthedocs.io/en/latest/).    n

[2020-12-11 03:41] alanhdu commented on #5060
Yes, it's definitely a duplicate. Sorry about the noise.

[2020-12-11 03:41] #5060 closed

[2020-12-11 05:31] s-rog commented on #4908
The doc issue and beta in f1 issues are still present in 1.1

[2020-12-11 06:30] benihime91 commented on #5059
Something like this probably wherein `scheduler` and `scheduler_idx` are passed as arguments to `optimizer_step`

[code]

[2020-12-11 07:09] rohitgr7 commented on #5059
will scheduler_idx be useful here? wouldn't it always be equal to `optimizer_idx`??

[2020-12-11 07:11] benihime91 commented on #5059
Now that you mention it , that seems to the case so only `optmizer_idx` should suffice.

[2020-12-11 07:41] Joohee-Park opened #5078 "Wandb permission denied"
## ❓ Questions and Help

### Before asking:
1. Try to find answers to your questions in [the Lightning Forum!](https://forums.pytorchlightning.ai/)
2. Search for similar [issues](https://github.com/PyTorchLightning/pytorch-lightning/issues).
3. Search the [docs](https://pytorch-lightning.readthedocs.io/en/latest/).

#### What is your question?

Hello!

First of all, thank you for making this great

[2020-12-11 08:04] Borda commented on #5029
@gan3sh500 great, go ahead! 🎉

[2020-12-11 09:43] ORippler opened #5081 "{progress_bar:dict keyword} and {log:dict keyword} continue to work in pytorch lightning > 1.0"
## 🐛 Bug

{progress_bar:dict keyword} and {log:dict keyword} continue to work in pytorch lightning > 1.0.

The functionality is maintained and the deprecation warning still raised (you can see the tensor "bug" appearing in the progress_bar). Logging was confirmed by visual inspection of tensorboard logs.

[code]

## Please reproduce using [the BoringModel and post here](https://colab.research.goog

[2020-12-11 11:15] Borda commented on #4694
adding doctests in #5079 #5083 #5085

[2020-12-11 12:07] philipbecker opened #5087 "Edge case bug when validating on multiple data sets if .log is not called at least once for each data set."
## 🐛 Bug

When validating on multiple data sets, if you call `self.log(..)` for any data set, `self.log(..)` also has to have been called for all previous data sets at least once. If not, you get a `KeyError` when the results are auto reduced. I encountered this because for one of my validation sets I only created and logged images.

## Reproduce
[code]

Error you get:
[code]

### Environment

[co

[2020-12-11 12:11] Enderikus opened #5088 "Logging Error in Pycharm with Python3 code"
![screenshot logging error in pycharm ide 1](https://user-images.githubusercontent.com/75743042/101900171-523d5980-3baf-11eb-8a3c-c6db1df478fd.jpg)

![screenshot logging error in pycharm ide 2](https://user-images.githubusercontent.com/75743042/101900276-81ec6180-3baf-11eb-9297-bff86232b6af.jpg)

## ❓ Questions and Help
### Before asking:
1. Try to find answers to your questions in [the Lightning

[2020-12-11 12:11] liutianlin0121 commented on #4853
Hi! May I ask how to use the second option with self.all_gather? I wish to gather all validation results after a epoch and average across them, and to do this I have naively tried

[code]

But this does not work. I wonder how to properly use self.all_gather in this case?

[2020-12-11 13:51] #4974 closed

[2020-12-11 14:31] gianscarpe commented on #4698
Exactly! @Borda

[2020-12-11 14:33] liutianlin0121 commented on #4853
@apacha May I ask if you have solved this problem in the end? I met the exactly same problem for ddp.

[2020-12-11 14:36] sick78 commented on #2809
call to order this https://github.com/30-seconds/30-seconds-of-code

Sent from my iPhone

[2020-12-11 14:47] ORippler opened #5090 "ModelCheckpoint fails at garbage collecting checkpoint passed to Trainer.resume_from_checkpoint"
## 🐛 Bug

When passing a checkpoint to `Trainer` via `resume_from_checkpoint`, it is not tracked/garbage collected by `ModelCheckpoint` class. Instead, a new checkpoint is instantiated and gargabe collected/updated as usual.

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing)

https://colab.research.googl

[2020-12-11 15:12] ananyahjha93 opened #5092 "Optimization docs and override optimizer_step docs"
## 📚 Documentation

Optimization docs need to be updated with the correct way of overriding ```optimizer_step()``` method, which now takes in a closure as a non-optional parameter.

https://pytorch-lightning.readthedocs.io/en/latest/optimizers.html#step-optimizers-at-arbitrary-intervals

[2020-12-11 15:12] ORippler opened #5091 "Trainer.test() in combination with resume_from_checkpoint is broken"
## 🐛 Bug

When passing `resume_from_checkpoint` to `Trainer`, and then training (e.g. call to `trainer.fit()`), the state used for `trainer.test()` is always the checkpoint initially given to `resume_from_checkpoint`, and never the newer, better one.

[code]

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=shar

[2020-12-11 15:19] igorgad commented on #2934
Also getting the same error `TypeError: optimizer_step() got an unexpected keyword argument 'epoch'`. Is the documentation not up to date yet?

[2020-12-11 15:27] timothybrooks commented on #4788
I too would love to see gradient checkpointing working with lightning and ddp. FairScale seems to use gradient checkpointing with ddp in their tests successfully, so it should be possible.

https://github.com/facebookresearch/fairscale/blob/66b2b5145ef9799f64e8056858c43609ec936bea/tests/nn/pipe/test_checkpoint_ddp.py

[2020-12-11 15:49] ananyahjha93 commented on #5092
@edenlightning

[2020-12-11 15:57] mees opened #5093 "pip install pytorch-lightning["extra"] doesn't install FairScale"
## 🐛 Bug

The documentation [0] states that to enable sharded training one needs to install the extras packages with `pip install pytorch-lightning["extra"]`, in my case only following the second option `pip install https://github.com/PyTorchLightning/fairscale/archive/pl_1.1.0.zip` actually installed fairscale.

[0] https://pytorch-lightning.readthedocs.io/en/stable/multi_gpu.html#model-paralleli

[2020-12-11 16:11] edenlightning commented on #5052
Thanks for the issue! @f4hy any idea?

[2020-12-11 16:14] edenlightning commented on #5053
Thanks for the issue! Mind try to reproduce with [boring model](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/bug_report_model.py) and sharing the code?

[2020-12-11 16:28] Bajo1994 opened #5096 "Using gradient_clip_val only for Discriminator in GAN"
How should I use gradient_clip_val if I only want to clip the discriminator in GAN?
Currently, I try to clip the discriminator as follows and I get an error:

[code]

The error is:

I use pl==1.1.0 on colab

[2020-12-11 16:42] apacha commented on #4853
No, I haven't solved it yet. That's why I created this ticket. Once I have time, I will try the Metric API approach

[2020-12-11 16:48] sick78 commented on #2809
my commisions cycle commissions still locked please fix  asap

Sent from my iPhone

[2020-12-11 16:52] edenlightning commented on #5061
@teddykoker @Borda can we close this?

[2020-12-11 17:17] Borda commented on #5061
it is in #5067

[2020-12-11 17:32] edenlightning commented on #5081
Thanks! Want to submit a fix?

[2020-12-11 17:47] mauvilsa commented on #5069
I do think that #4492 would already fix this. @nathanpainchaud would you mind trying out the new LightningCLI concept with any use case you have?

[2020-12-11 18:36] nathanpainchaud commented on #5069
@mauvilsa I think the LightningCLI API is an interesting concept, but I don't think in my case it's gonna be trivial to transfer over to it. I structured my CLI using subcommands to be able to use the same scripts to launch multiple types of models on different datasets. I also have mixins that programmatically add their own custom arguments to the parser (through hooks).

From what I gather glanc

[2020-12-11 18:52] hassiahk commented on #5093
I just checked this, FairScale is not getting installed through `pip install pytorch-lightning["extra"]`.

### My Environment
- PyTorch Version: 1.7.0
- OS: Linux
- How you installed PyTorch: pip
- Python version: 3.8.5

[2020-12-11 19:25] #5092 closed

[2020-12-11 19:31] rohitgr7 commented on #5074
do Iterable datasets support samplers? https://pytorch.org/docs/stable/data.html#data-loading-order-and-sampler

[2020-12-11 20:25] rohitgr7 commented on #5064
related issue https://github.com/PyTorchLightning/pytorch-lightning/issues/1590#issuecomment-619661785

[2020-12-11 20:33] alanhdu commented on #3325
We'd also be very interested in this feature. Let us know if there's anything I can do to help!

[2020-12-11 20:39] rohitgr7 commented on #5096
should clip_gradient be a part of `LightningModule? something like `configure_gradient_clipping`? cc @PyTorchLightning/core-contributors

[2020-12-11 20:47] meprem commented on #5074
Cool. I looked here and updated make_batch_reader to pass local_rank...https://github.com/uber/petastorm/blob/7377bb7781aa82b80631aeeabbd77f50de45f458/petastorm/reader.py#L105-L108

It seems working now. Here is the updated code for reference.

[code]

Output:
[code]

[2020-12-11 21:03] edenlightning commented on #5091
@awaelchli thoughts?

[2020-12-11 21:10] Borda commented on #5093
true, we skip all HTTP paths from packages...
https://github.com/PyTorchLightning/pytorch-lightning/blob/ddc3757309e367ee8d67e2aabde2e6e46045572d/pytorch_lightning/setup_tools.py#L51
there is some problem on pypi side if they are passed to these dependences...

[2020-12-11 21:11] #5061 closed

[2020-12-11 21:24] edenlightning commented on #4929
Closing for now. Feel free to reopen if not solved!

[2020-12-11 21:24] #4929 closed

[2020-12-11 21:27] edenlightning commented on #5039
Anyone wants to try and submit a fix?

[2020-12-11 21:28] Borda commented on #5000
but if you have in the folder already one `last.ckpt` so the new one (which you want to use) is `last-v0.ckpt`
cc: @ananthsub

@rohitgr7 @carmocca seems we have two issues on the same topic, right? let's close one of them...

[2020-12-11 21:29] edenlightning commented on #5063
@tchaton mind taking a look?

[2020-12-11 21:31] edenlightning commented on #4909
@SkafteNicki would you mind adding a warning or explanation in our docs?

[2020-12-11 21:32] carmocca commented on #5000
This is about version suffixes for normal checkpoints.
#5030 is the same for last checkpoints.

[2020-12-11 21:36] #4332 closed

[2020-12-11 21:36] Borda commented on #4909
well, I as a user would appreciate simple experimenting with some automatic moving and do not need to care about it...
would it be a problem to add a check if both inputs are on the same device already move the class itself there too?

[2020-12-11 21:36] edenlightning commented on #4561
Closing for now, feel free to reopen if needed!

[2020-12-11 21:36] #4561 closed

[2020-12-11 21:37] edenlightning commented on #3651
Closing this for now, feel free to reopen!

[2020-12-11 21:37] #3651 closed

[2020-12-11 21:37] edenlightning commented on #4678
Closing this for now, feel free to reopen if needed!

[2020-12-11 22:03] carmocca commented on #5007
I'd say it's more natural to do it `on_train_end` because it has nothing to do with `test` and teardown is for `fit` or `test`

[2020-12-11 22:08] #4499 closed

[2020-12-11 22:22] carmocca commented on #5073
Yep, seems like a bug. I guess the original author wanted to do:

[code]

Want to open a PR?

[2020-12-11 22:25] rakhimovv opened #5100 "GPU memory blowup when using pl=1.1.0 and slurm"
## 🐛 Bug

The very same code that runs ok in multigpu regime in "terminal" mode, i.e. `python train.py ...`, meets CUDA OOM error when launched in slurm. In the meantime the same code worked OK both in slurm and in terminal with the previous version of PL (1.0.8).

Talking about the model, it is gan, and the behaviour happens either using or not the manual optimization.

### Environment

[code]

#

[2020-12-11 22:30] mm04926412 opened #5101 "How do I pass metric to tensorboards hparam interface"
#### What is your question?

I have been unable to log metrics on the hparam menu in pytorch lightning. I've been googling for a few hours and found it difficult to get a straight explanation of how to do this. The only available metric is a generic one called hp_metric.

#### Code

    def validation_epoch_end(self, outputs):
        avg_loss = torch.stack(outputs).mean()
        self.log("avg_va

[2020-12-11 22:57] pseeth commented on #2963
AutoClip author here, I'd be happy to contribute this to Lightning. I'll be able to carve out time to do this soon I think if there's interest. Let me know how to get started?

[2020-12-11 23:16] Borda commented on #5088
it is unrelated to. PL, but I see a problem that your moduled/files are named `logging.py` and `logging2.py` which makes the native `logging` overloaded and your `logging.py` does not have any attributes...

[2020-12-11 23:16] #5088 closed

[2020-12-11 23:37] mm04926412 commented on #5101
I have also tried to log the hparams at the end of training with a callback but this seems to fail for unknown reasons

    def on_train_end(self, trainer, model):
        torch.save(
            model.encoder.state_dict(),
            "current_production_model/production_model.state_dict",
        )
        model.logger.experiment.add_hparams(
            model.hparams_dict, {"avg_val_loss": mode

[2020-12-12 02:20] vincentzlt commented on #5054
anyone can help me out? how to properly customize `optimizer_step` and have `accumulate_grad_batches` at the same time?

[2020-12-12 04:48] #3484 closed

[2020-12-12 06:23] #4908 closed

[2020-12-12 08:06] hemildesai commented on #5023
I'm also happy to help with this if extra hands are needed.

[2020-12-12 08:34] Borda commented on #5023
Great! Let me know (here or slack) which section you want to take (or you can take just position of a section and update ignore accordingly)

[2020-12-12 08:38] hemildesai commented on #5023
@Borda I'll just start in the order mentioned in the issue with `callbacks`. Let me know which sections @janhenriklambrechts has taken so I don't clash.

[2020-12-12 09:36] Borda commented on #5023
Great, I fill you in the description so we keep track who took what part...

[2020-12-12 10:17] #4373 closed

[2020-12-12 10:57] aiyolo opened #5103 "pass a variable instead of string to self.save_hyperparameters()"
## 🚀 Feature

pass a `variable` instead of `string` to function `self.save_hyperparameters()`
### Motivation

[code]
I think it is too weird to pass strings as arguments to `self.save_hyperparamets()`, using variables instead,such as `self.save_hyperparametes(arg1, arg3)`,  is much more elegant.
### Pitch

### Alternatives

### Additional context

[2020-12-12 11:56] hemildesai commented on #5023
@Borda There will be issues with circular dependency imports when importing type hints for `Trainer`. One way to solve it is mentioned in https://www.stefaanlippens.net/circular-imports-type-hints-python.html.

To avoid [forward references](https://mypy.readthedocs.io/en/latest/kinds_of_types.html#class-name-forward-references), we'll have to add `from __future__ import annotations` but that only

[2020-12-12 12:51] nngogol opened #5105 "Question about gif in readme."
Hi, @williamFalcon! Thank you for your work! You are the **_real wizard_**.

Official [docs](https://pytorch-lightning.readthedocs.io/en/stable/new-project.html) have absolutely great animation, which is located
below `Here’s a 3 minute conversion guide for PyTorch projects:` part.
It's a video, that has playback knob. As for me, this is great for understanding pytorch and software (in general way

[2020-12-12 12:53] Borda commented on #5023
Let me see, not sure about the right way to go...
One option may be what @tchaton tried `import pytorch_lightning ` and later use string-like annotations `"my_argument: "pytorch_lightning.Trainer"`

[2020-12-12 13:13] hemildesai commented on #5023
Yes

Yes can definitely do this. Once support for Python versions less than `3.7` is dropped, we can change to using `from __future__ import annotations` and avoid using string annotations.

[2020-12-12 16:00] DuinoDu commented on #5101
Would you provide failed case screen snapshot? In my case, it runs ok.

[2020-12-12 16:02] DuinoDu commented on #5105
Great animation, also want to know.

[2020-12-12 16:14] mm04926412 commented on #5101
I got it to work by logging with the name "hp_metric" instead is this how it is meant to be done? Code now seems to work so old lines have been removed from my code making a screenshot difficult but what happened was the log metric command just added the metric as a scalar and it was not available in the tensorboard hparam interface

[2020-12-12 17:17] Enderikus commented on #5088
Both files were identical, Both gave same error, thanks anyway... I'm going back to HTML CSS

[2020-12-12 17:25] Enderikus commented on #5088
I had the impression i submitted this in the wrong thread, got hundreds of mails the last two days, none had anything to do with my question, this all is new for me. That's what it means being a noob...

[2020-12-12 19:40] Borda commented on #5023
@hemildesai well having it not string would work better for cross-reference in IDE, right?

[2020-12-12 19:56] hemildesai commented on #5023
I'm trying it in vscode and it seems to resolve the string annotations as well. Also, having non string annotations won't work for versions less than `3.7` so I think we'll have to go with string annotations till support for python3.6 is dropped.

[2020-12-12 21:15] janhenriklambrechts commented on #4858
Hi @LucaButera, I was able to reproduce the image not showing up as per the code example above.
However, the image did show up normally when instead of

[code]

I use the following small modification and the image does show up:

[code]

Can you confirm that this works with you as well?

[2020-12-12 21:52] bryant1410 opened #5107 "Pretty print tensors in `trainer.test()`"
## 🐛 Bug

When printing the results of `trainer.test()` (saying "DATALOADER:0 TEST RESULTS"), it shows "tensor(...)", sometimes also including the device, when just a number should be shown.

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing)

I copied the template and didn't modify it, as it already show

[2020-12-12 23:56] #565 closed

[2020-12-13 01:05] acxz commented on #4496
It would be nice if by default the logger can store as much as it can, instead of having to disable it when a non-{int, float, long} type is in the hparams.

I think this issue should still remain open.

Here is my particular error with using tensorboard as the logger:
[code]

[2020-12-13 01:39] KamWithK commented on #5054
I'm also in the same scenario.
I recently spent a lot of time converting regular PyTorch GAN into Lightning.
The difficult part was keeping automatic optimisation.
Quite a few functions like the `optimizer_step` had to be overridden so we could dynamically switch between training the generator and discriminator based on their current losses.

The accumulated gradient batches is a necessary feature

[2020-12-13 06:19] KamWithK opened #5108 "Using Manual Optimisation"
## ❓ Questions and Help

#### What is your question?
The documentation for manual optimisation is vague and doesn't provide any complete examples of how to use it correctly. Hence, I need to know what Lightning takes care off, and what I have to do within the training loop.
To be more specific, do I need to zero gradients and call step on the learning rate scheduler myself?

Given that this is "ma

[2020-12-13 07:39] timothybrooks commented on #4788
I was able to use DDP and Pytorch gradient checkpointing using the following:

[code]

[2020-12-13 10:09] Borda commented on #3529
@zhangguanheng66 any update here, the freeze for `<0.7` becoming a blocker for us for an upgrade on python 3.9 as the first torch supporting  it is `torch>=1.7.1` and so your `torchtext==0.8.1`

[2020-12-13 15:08] Junyoungpark commented on #2725
Is this problem fixed? I encounter kinda same issue what @topshik experienced.
For me, it was not able to find the path for the specific wandb run.

[code]

And the traceback is as follows:
[code]

As @borisdayma suggested, I also tried `wandb_logger.experiment.dir` before I setup the `Trainer`.
but I ended up with the  same error. I guess it is because the `WandbLogger` doesn't instantiate the `r

[2020-12-13 15:56] Junyoungpark commented on #2725
I found a okay solution for this
1) instantiate the wandb `run` results by calling `wandb.init()`
2) Pass the wandb `run` object ot the `WandbLogger` as specifying `experiment=run`

Later calling `run.dir` to get the running directory of the wandb run.

disadvantage of this solution is spawning `n` independent wandb run when using `ddp`. Here, `n` is the
number of gpus.

[2020-12-13 17:55] MohammedAljahdali commented on #4607
Answer from @teddykoker:

Thank you @teddykoker for the help.

[2020-12-13 17:55] #4607 closed

[2020-12-13 18:35] vchiley commented on #2695
Duplicate of #2695

[2020-12-13 18:35] #2695 closed

[2020-12-13 19:11] awaelchli commented on #5103
the reason why it is a string is because in order to save the parameters one also has to know the name of the variable.

[2020-12-13 22:43] collinmccarthy commented on #4980
When training ImageNet, the validation epoch takes a long time. For this reason I would have liked to output a per-batch validation loss , as well as an aggregated per-epoch loss for early stopping and checkpointing.  It wasn't obvious to me in the docs that this would be handled any differently than during training until I ran into the same issues as @andreaRapuzzi.

However I understand why this

[2020-12-13 23:09] pgagarinov opened #5110 "The latest release 1.1.0 removed the latest training metrics from the result produced by Trainer.test method. Why?"
For some reason Trainer.test methods doesn't return train metrics starting with v.1.1.0 PTL.
Was that done on purpose? If yes, then how can I get the latest values of training metrics?

v1.1.0:
--------------------------------------------------------------------------------
DATALOADER:0 TEST RESULTS
{'test_acc': tensor(0.6441, device='cuda:0'),
 'test_acc_epoch': tensor(0.8204, device='cuda:0'),

[2020-12-13 23:40] #4553 closed

[2020-12-14 00:35] s-rog commented on #5101
Yes, if you look into tensorboard logger docs there is a default "hp_metric" which can be disabled.

When it's disabled you can use:
`self.logger.log_hyperparams(self.hparams, {"custom_metric_key": custom_metric})`

[2020-12-14 00:36] 7zhanghao opened #5114 "Question about transfer learining."
I have a trained LightningModule, named AutoEncoder. When using it in other LightningModule, i want to know that if both AutoEncoder.freeze() and  AutoEncoder.eval() are needed.

[2020-12-14 01:44] xinfangliu commented on #4983
I solved this problem by setting  mode='triangle2' in the scheduler.

[2020-12-14 01:44] #4983 closed

[2020-12-14 03:52] teddykoker opened #5115 "Proposal: Initialize DataModule from Dataset(s)"
## 🚀 Feature

Add functionality to initialize a `pl.DataModule` from pre-existing datasets, which could help eliminate some of the boilerplate caused from initializing `torch.utils.data.DataLoader`s.

### Motivation

A common pattern we have seen some users using is creating a DataModule wrapper that instantiates the necessary dataloaders given a train dataset, and optional validation and test dat

[2020-12-14 04:03] kchuang625 commented on #5053
Yes, I tried the boring model, and it worked fine. However with the same module but the different backbone, it crushed.

Firstly, I set `gpus=1` and returned `{'loss': loss}` in `training_step`, and the error `RuntimeError: grad can be implicitly created only for scalar outputs` occured at first training step (Also I printed the returned item: `{'loss': tensor(1755106.8750, device='cuda:0', grad_f

[2020-12-14 04:08] kchuang625 commented on #5053
here is my module:

[code]

[2020-12-14 05:34] s-rog commented on #5115
+1 for `from_datasets()`

[2020-12-14 05:49] #4529 closed

[2020-12-14 06:05] xinfangliu opened #5116 "How to save my model with half precision"
My model includes 5 resnet18, if they are saved with default precision(float32), then about 220MB space in my disk is occupied.
My idea is to reduce the storage to 110MB, so I used model.half() to apply precision 16.
I used torch.save(model.state_dict(),'model.pt') to save my model, however there still is 220MB for the model storage.

Does anyone know how to deal with this? Thanks very much.

[2020-12-14 06:43] akihironitta opened #5117 "Update shield.io badge on README"
## 📚 Documentation
Both here and in Bolts, we have a shield.io badge for the next release on README: [![Next Release](https://img.shields.io/badge/Next%20Release-Nov%2021-<COLOR>.svg)](https://shields.io/)
but very often it is not updated, which can be confusing, so we should remove the badge or update the badge automatically somehow.

[2020-12-14 06:55] #5116 closed

[2020-12-14 07:43] ORippler commented on #5081
If the developers could chime in with an update on the deprecation of `{progress_bar:dict keyword}` and `{log:dict keyword}` sure.
It's still open whether one should:

* Remove the Deprecation Warning, as the functionality will be maintained until further notice.
* Remove the Deprecation Warning and the logging functionality via above methods, raising an Error with hint to the Deprecation of the f

[2020-12-14 07:51] MikkelAntonsen commented on #1527
Yeah, I've tried to fix what you've mentioned. If you see anything that could be better, I'd be all ears. There are a lot of failing tests in places I haven't touched (on purpose at least), is that normal?

[2020-12-14 08:10] mees commented on #2727
@jgbos thanks for sharing your temporary solution.
I am facing the issue that since I have hydra.job.override_dirname in the runs folder name it does not parse the '=' symbol correctly. So basically, it would be like trying to do python training.py hydra.run.dir=/home/foo/runs/2020-12-11_17-32-24_trainer.gpus=-1 The error says "mismatched input '=' expecting <EOF>". Any suggestion on what would be

[2020-12-14 08:38] jakubczakon opened #5118 "Internal tests for NeptuneLogger fail after lightning upgrade."
Hi there.

We are running some internal tests on Neptune examples and it seems that after the last release something was changed slightly.

Basically, we are checking what was logged after the example with:

[code]

And it seems that the 'epoch' is no longer logged for this example.
I went through the release docs and couldn't find anything that would suggest a change here but figured I'd ask.

Sh

[2020-12-14 08:44] tchaton commented on #5107
Hey @bryant1410,

Would you want to open a PR and add this functionality ?

It is happening in this function: https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py#L245

Best,
T.C

[2020-12-14 09:40] LucaButera commented on #4858
@janhenriklambrechts I tried using your code but it still does not work. However, if I keep making the image smaller and smaller, it eventually gets logged. I don't think the ```if``` condition plays any role in this, as if the ```logger``` was not a ```TensorBoardLogger``` the code would simply fail (either way it is a ```TensorBoardLogger```).

As I previously stated, this strengthens my belief

[2020-12-14 09:54] 8greg8 opened #5120 "Invalid usage of torch.no_grad Context manager"
## 🐛 Bug

Using no_grad context manager in  the following line https://github.com/PyTorchLightning/pytorch-lightning/blob/127454ade2b851dd267b7f0b4d973bdefd0329e5/pytorch_lightning/utilities/distributed.py#L210
is incorrect as the context manager is callable. Parentheses are missing.

The line should be: `with torch.no_grad():`

## Please reproduce using [the BoringModel and post here](https://col

[2020-12-14 10:18] 8greg8 opened #5122 "Thre process group doesn't default to all processes (world) but to None"
## 🐛 Bug

If we correct the issue https://github.com/PyTorchLightning/pytorch-lightning/issues/5120#issue-766222158, and use the all_gather function of the LightningModule, we get another AttributeError: "NoneType object has no attribute allgather".

As stated in the documentation, the group parameter of the function:
https://github.com/PyTorchLightning/pytorch-lightning/blob/127454ade2b851dd267b7

[2020-12-14 10:20] tchaton opened #5123 "In manual optimization, loss=NaN is displayed in progress_bar"
## 🐛 Bug

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing)

### To Reproduce

### Expected behavior

### Environment

**Note**: `Bugs with code` are solved faster ! `Colab Notebook` should be made `public` !

* `IDE`: Please, use our python [bug_report_model.py](https://github.com/PyTorchLightning/pytor

[2020-12-14 11:01] tchaton commented on #5110
Hey @pgagarinov,

Yes, when calling trainer.test(), only metrics computed around testing should be provided within the results objects.
To access all metrics, it can be done by using `trainer.callback_metrics`.

@edenlightning Do you second that ?

Best regards,
Thomas Chaton

[2020-12-14 11:16] Borda opened #5126 "Some metrics return NaN for edge cases"
## 🐛 Bug

### To Reproduce

https://github.com/PyTorchLightning/pytorch-lightning/blob/74171efadf5ea94416d26f1e2c27c1586a3a84b3/pytorch_lightning/metrics/classification/average_precision.py#L71

### Expected behavior

Some metrics for unused classes return NaN, I would say it shall be rather 0

[2020-12-14 11:27] pgagarinov commented on #5110
@tchaton Actually, it was very convenient to have all metrics (trainining, validation and test) in the same result to be able to compare them without having to call callback_metrics. Now it is less convenient((

[2020-12-14 12:14] kenenbek opened #5127 "How to add a hidden state in test_step when dealing with sequential data?"
I have a `Trainer` with `truncated_bptt_steps` option like this:

`trainer = pl.Trainer(truncated_bptt_steps=100)`

A `training_step` method looks like this:

    def training_step(self, batch, batch_idx, hiddens):
        out, hiddens = self.forward(data, hidden)

        result = pl.TrainResult(minimize=loss, hiddens=hiddens)
        return result

I have a problem because `test_step` doesn't ha

[2020-12-14 13:09] CarloLucibello commented on #5108
Also, if the Trainer's option has been  deprecated in favour of a LightningModule's property #5011
https://pytorch-lightning.readthedocs.io/en/stable/api/pytorch_lightning.core.lightning.html#pytorch_lightning.core.lightning.LightningModule.automatic_optimization
the documentation should be made consistent.

It's also not clear if there is something else that we should worry about when doing manua

[2020-12-14 14:11] adityak2920 commented on #4674
@annongitter Hi, I am also facing the same problem. But I have another use case, where I am using separate data loaders for both renders and query dataset. But I am unable to figure out how can I wrap both the dataloaders in pytorch-lightning because we only have the option of train, val and test dataloaders and I want two dataloaders for the test or val.

[2020-12-14 14:30] SkafteNicki commented on #4909
@Borda it would probably not be a problem implementing that the metric states gets moved to the same device as the input (maybe still warn the user)

[2020-12-14 14:46] gan3sh500 commented on #5029
@Borda The issue seems to be that `num_train_batches` and `train_loop.should_skip_training` are unaware on DataLoader's `drop_last`. It can be fixed with some messy if else like below and checking `DataLoader`'s `drop_last` in `should_skip_training` similarly. But the approach feels very hacky. Let me know if you have a more elegant solution. Otherwise I can submit these kind of changes as a PR.
!

[2020-12-14 15:08] SkafteNicki commented on #5126
It is consistent with sklearn but I am also fine with it being changed

[2020-12-14 15:12] Maybewuss opened #5129 "How to forbid save optimizer's state ？"
Sometime's it's time-consuming.

[2020-12-14 15:47] DuinoDu commented on #5129
Set `save_weights_only=True` in ModelCheckpoint.

[2020-12-14 15:55] hassiahk commented on #5023
I am more than happy to help as well :smile: . Let me know if I can start with the `metrics`.

[2020-12-14 15:58] teddykoker commented on #5115
@ananthsub what do you think of `from_datasets()`?

[2020-12-14 15:58] wjaskowski opened #5130 "NeptuneObserver raises Neptune.api_exceptions.ChannelsValuesSendBatchError"
## 🐛 Bug

NeptuneObserver throws
[code]

[code]

### Expected behavior

No exception.

### Environment

This happens both with pytorch-lighting 1.0.7 and 1.1 and neptune-client-0.4.126 and 129.

* CUDA:
	- GPU:
		- GeForce GTX 1080 Ti
	- available:         True
	- version:           11.0
* Packages:
	- numpy:             1.18.5
	- pyTorch_debug:     False
	- pyTorch_version:   1.7.1
	- pytorch-lig

[2020-12-14 16:31] hassiahk commented on #4805
Happy to help with this, if more helping hands are needed.

[2020-12-14 16:47] aiyolo commented on #5103
we know `print('val')` and `print(var)` are very different things, similarly, `save_hyperparemetes('var')` may mislead users that they are saving a string rather than a variable, this is what I'm concerned. So is it possible to improve it?

[2020-12-14 16:52] ludwigwinkler opened #5131 "Updating 1.0.3 -> 1.0.4 breaks pytorch module hooks"
## 1.0.3 -> 1.0.4 breaks pytorch-hooks

#### What is your question?

I implemented a custom optimizer that stores the input and the incoming gradients for each layer and recomputes the gradients in a per-sample fashion (wich I do because I want to use K-FAC for my optimization).

I'm using the pytorch hooks on modules (i.e. module123.register_forward_pre_hook(_save_input_function) which will store

[2020-12-14 16:57] edenlightning commented on #5126
Can we solve this by mapping Nan to 0?

[2020-12-14 17:02] edenlightning commented on #4524
@carmocca is this still happening in 1.1?

[2020-12-14 17:05] rohitgr7 commented on #4805
sure go ahead. @hassiahk

[2020-12-14 17:11] hassiahk commented on #4805
@rohitgr7, I will start from the bottom `utilities` so that I don't clash with @akihironitta, since I think @akihironitta is working on the top sections.

[2020-12-14 17:15] edenlightning commented on #4312
Are you able to try using master or 1.1?

[2020-12-14 17:16] williamFalcon commented on #5131
@tchaton

[2020-12-14 17:16] williamFalcon commented on #5131
@ludwigwinkler  i suspect using the boring model with an optimizer that overrides a hook will replicate this problem

[2020-12-14 17:17] quinor commented on #4524
@edenlightning still there unfortunately, checked the reproduction against Lightning 1.1 (the collab linked above).

[2020-12-14 17:22] edenlightning commented on #4870
@SkafteNicki mind taking a look?

[2020-12-14 17:24] edenlightning commented on #5081
@Borda

[2020-12-14 17:43] SeanNaren commented on #4642
Going to close this now @stas00 given it was fp16 specific and seems related to the resolved fp16 memory leak that you helped fix! If the problem persists let us know.

[2020-12-14 17:43] #4642 closed

[2020-12-14 17:56] edenlightning commented on #5041
would you be able to share a reproducible script?

[2020-12-14 18:12] madaan commented on #3246
Looks like this is the same issue as: https://github.com/PyTorchLightning/pytorch-lightning/issues/3115.

[2020-12-14 18:22] stas00 commented on #4642
@SeanNaren, the problem is still there with apex as originally reported. I have just retested. Same details as https://github.com/PyTorchLightning/pytorch-lightning/issues/4642#issuecomment-728273362

And now that the native amp leak has been fixed, I can finally test with native amp and this problem doesn't exist there (but I never reported it was there since I couldn't even test that case):
[cod

[2020-12-14 18:25] lukashermann commented on #2727
Could anyone provide a small example of how to use PL with hydra and submitit (doesn't matter if with the plugin or not), that would be great!

[2020-12-14 18:26] carmocca commented on #4524
@edenlightning yes, unfortunately I can't debug it this week.

[2020-12-14 19:23] indigoviolet opened #5136 "fast_dev_run should set max_steps"
## 🐛 Bug

`Trainer(fast_dev_run=True)` should set `max_steps` accordingly, but `max_steps` is `None`

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing)

https://colab.research.google.com/drive/1PFoozULca2zFtw0Ljor5V8AAGsGqe1Y4#scrollTo=quj4LUDgmFvj
### To Reproduce

### Expected behavior

`max_steps` sho

[2020-12-14 19:23] edenlightning opened #5137 "Wrong name in APEX optimization levels"
- APEX optimization levels are “O1, O2, O3” and not “01, 02, 03”. We should fix this in code + docs.

Make sure it is clear from the docs that the use of Apex anymore and recommend that users use upstream native AMP available since PyTorch 1.6

[2020-12-14 20:55] ludwigwinkler commented on #5131
Hi,

this is a boring model with an Optimizer that uses forward and backward hooks to do stuff with parameters
https://colab.research.google.com/drive/1z69hmWUybxW58iGMR9EQ3wlT5jwxJxzt?usp=sharing

I had to reload the entire colab notebook to make it install the different pytorch_lightning versions (1.0.3, 1.0.4 and 1.1.0).

Let me know if something is unclear/needs more comments or needs polishin

[2020-12-14 21:35] borisdayma commented on #2725
I think the main issue is that when you call `wandb_logger.experiment`, it tries to create a run with the config from `Trainer` (as it's typically how it's created).

The 2 options would be:
* Option 1: access the run from the `Trainer` with `trainer.logger.experiment.dir`
* Option 2: create your custom run with `wandb.init()` as you did -> the intended behavior is that the logger does not new run

[2020-12-15 01:04] Junyoungpark commented on #2725
@borisdayma Thanks for the comment.

The first option would be hard not enough for my purpose. Maybe one of the typical usages of `wandb` is to log the experiments, including the checkpoints, and save those logs to the wandb cloud such that we can retrieve any logs from the cloud later.

In `pytorch-lightening,` logging the checkpoints are typically done with `ModelCheckpoint` callback, which is r

[2020-12-15 01:12] borisdayma commented on #2725
You should not have to change the saving directory.
Actually `WandbLogger(log_model=True)` should automatically log your model (and checkpoints if you have any).

[2020-12-15 01:31] xinfangliu opened #5140 "Attempting to unscale FP16 gradients"
I want to train and save my model with 16-bit precision, what should I do ?

[code]

[2020-12-15 01:39] Junyoungpark commented on #2725
Oh, that sounds great!

Can I get a code snippet or documentation about your suggestion? What should I pass `dirtpath` and `filename` for the `ModelCheckPoint` to save all checkpoints to the `wandb.run.dir`? And also can I save any extra files, such as metadata for the experiments, to the `wandb.run.dir` before calling `trainer.fit()` method?

[2020-12-15 01:53] vincentzlt commented on #3149
I had similar problems. I think the type of `batch` argument the `collate_fn` function receives changed from a list of examples to examples in my case. I do not know why this bug exists, but it seems only with Pytorch Lightning (after googling)..

[2020-12-15 01:58] borisdayma commented on #2725
You should be able to use any value (just keep the default).
At the moment it logs only model checkpoints but we should get more flexibility later with #4903
You could also manually use W&B artifacts but I hope to make it easy with this integration.

[2020-12-15 02:19] Junyoungpark commented on #2725
Thanks I will look around the other issue also 👍

[2020-12-15 02:59] Maybewuss commented on #5129
Thanks !

[2020-12-15 02:59] #5129 closed

[2020-12-15 04:32] akihironitta commented on #4805
@hassiahk As the isort config may change in #4960, would you mind waiting for #4960 to be closed?

[2020-12-15 04:33] akihironitta commented on #4960
@PyTorchLightning/core-contributors Any other thoughts?

[2020-12-15 04:35] hassiahk commented on #4805
@akihironitta sure, definitely.

[2020-12-15 05:09] rohan-varma commented on #3325
The PR https://github.com/PyTorchLightning/pytorch-lightning/pull/5141 is ready for review, in case anyone wants to take a look.

[2020-12-15 06:39] turian commented on #807
I would like to propose that this issue be re-opened. Facebook Fairseq has now standardized on Hydra

[2020-12-15 08:50] Skyy93 commented on #1225
@Borda

Excuse me, could you please mention this behaviour in the docs? Thank you

[2020-12-15 10:30] wjaskowski opened #5144 "Trainer test cannot load from checkpoint when training on multiple GPUs"
## 🐛 Bug

The Trainer.test() looks for `epoch=X-v0.ckpt` when only `epoch=X.ckpt` exists, thus the result is:
[code]

### To Reproduce

Execute **several times** on >1 gpu machine:

[code]

### Expected behavior

No exception.

### Environment
* CUDA:
        - GPU:
                - GeForce GTX TITAN X
                - GeForce GTX TITAN X
                - GeForce GTX TITAN X
                - G

[2020-12-15 11:31] chagmgang opened #5145 "Dataloader with custom batch sampler"
## ❓ Questions and Help

### Before asking:
1. Try to find answers to your questions in [the Lightning Forum!](https://forums.pytorchlightning.ai/)
2. Search for similar [issues](https://github.com/PyTorchLightning/pytorch-lightning/issues).
3. Search the [docs](https://pytorch-lightning.readthedocs.io/en/latest/).

#### What is your question?

I try to use custom IterationBasedBatchSampler.
When

[2020-12-15 13:28] justusschock opened #5146 "Metrics reduction during logging/checkpointing"
## 🐛 Bug

When logging and checkpointing/early stopping with the metrics like shown in the code below, I get:

[code]

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing)
[code]
### Environment

pl version: 1.1.0

### Additional context
Sometimes I also get

[code]

which I could not reproduce with open co

[2020-12-15 15:33] bongoramondo commented on #1151
`self.logger.log_metrics` does work nicely, but it is not the ultimate solution I hope

[2020-12-15 16:22] edenlightning commented on #5146
lets make sure we add more test around this!

[2020-12-15 16:44] umbertov commented on #5054
@vincentzlt  @KamWithK I think something like this would work?
[code]

[2020-12-15 17:46] rohitgr7 commented on #5054
cc @tchaton

[2020-12-15 17:47] Borda commented on #1225
That sounds as a good idea, mind send a PR with suggestion?

[2020-12-15 19:16] victkid opened #5149 "Is there anyway to limit batch size for each epoch?"
## ❓ Questions and Help

### Before asking:
1. Try to find answers to your questions in [the Lightning Forum!](https://forums.pytorchlightning.ai/)
2. Search for similar [issues](https://github.com/PyTorchLightning/pytorch-lightning/issues).
3. Search the [docs](https://pytorch-lightning.readthedocs.io/en/latest/).

#### What is your question?
My dataset is very large, instead of waiting for the t

[2020-12-15 20:53] victkid commented on #5149
Find the answer
[code]
Simply set the `limit_train_batches` to floats will do.

[2020-12-15 20:53] #5149 closed

[2020-12-15 21:38] yukw777 commented on #807
@turian The conclusion was that PL and Hydra are orthogonal, and there isn't really a good reason for PL to integrate Hydra directly as its default config/cli system. Hydra can be viewed as a fancier `argparse` and can be combined with PL as such. I've been using Hydra that way with my PL projects and it's worked very well, which you can read about in my blog posts (https://towardsdatascience.com/

[2020-12-15 21:40] rohitgr7 commented on #5136
Do you mean?
`max_steps` should be set to `1 if fast_dev_run is True else max_steps`

also `val_check_interval`, `check_val_every_n_epoch` be set to 1 as well??

in the [video here](https://pytorch-lightning.readthedocs.io/en/latest/trainer.html#fast-dev-run) it says, `fast_dev_run` won't create any logs or save checkpoints but unfortunately it does both. Not sure what's the intended behavior.

[2020-12-15 22:47] rohitgr7 opened #5152 "Allow configuring optimizer_step based on the gradients."
As of now, there is no way to skip `optimizer_step` based on the gradients after they are calculated since the `backward` resides inside the closure and this closure is passed to the `optimizer.step`. Also if `training_step` returns `None` it still calls `optimizer_step` due to the closure which I think it should not if there are no pending accumulated gradients.

https://github.com/PyTorchLightni

[2020-12-15 23:56] SeanNaren opened #5153 "[CI] Fix GitHub Action Release Deprecation"
## 🐛 Bug

GitHub Actions deprecated something within our current CI for docker releases: https://github.com/PyTorchLightning/pytorch-lightning/actions/runs/424422351

@Borda already found what needs to change:

https://https://github.com/PyTorchLightning/pytorch-lightning/blob/597dfa174c9488771044ae5b3496f9ed94f9354a/.github/workflows/release-docker.yml#L29

https://github.com/PyTorchLightning/pyt

[2020-12-16 00:02] Borda commented on #5153
this is the deprecated call
https://https://github.com/PyTorchLightning/pytorch-lightning/blob/597dfa174c9488771044ae5b3496f9ed94f9354a/.github/workflows/release-docker.yml#L29

this is the new call like
https://github.com/PyTorchLightning/pytorch-lightning/blob/597dfa174c9488771044ae5b3496f9ed94f9354a/.github/workflows/ci_dockers.yml#L85

[2020-12-16 01:02] jgbos commented on #2727
@mees and @lukashermann.  I don't have a nice simple solution to copy and paste into an issue.  But here's the gist of how I have gotten things to work:

- Lightning supports writing your own accelerator function.  I created an accelerator function similar to ddp that does **not** spawn a new subprocess for each gpu on the machine.  My implementation requires `Trainer.num_gpus=1` and `Trainer.num_

[2020-12-16 02:20] aiyolo opened #5154 "Too much ports can't be released after ddp-sharded training"
## 🐛 Bug

I just tried the new feature ddp-shared training, everything goes well except that there are too much ports remained opened after training. Is the phenomenon normal?
![image](https://user-images.githubusercontent.com/12464091/102296250-e9c3f300-3f87-11eb-98ce-0c0bc2c49c73.png)

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj

[2020-12-16 02:25] LithiumH commented on #50
Has there been any progress on this feature? I see that there’s a Beta section on the documentation here: https://pytorch-lightning.readthedocs.io/en/latest/multi_gpu.html#model-parallelism-beta but I don’t know if this works with DDP

[2020-12-16 03:59] turian commented on #807
@yukw777 My interest isn't necessarily that ptl uses Hydra as a default, but just has optional support for it. Thank you for the links.

@hadim writes "In lightning, hparams needs to be flat". Does that mean that if I have a non-flat Hydra OmegaConf, I cannot use it in lightning unless I flatten it?

[2020-12-16 04:23] awaelchli commented on #5136
I noticed it too, it's a bug (I tried to explain here #4629). it should really just be a test that the training loop runs. logging is still executed to some extend but it should not get sent to the actual logger object, no files should be saved. The motivation is to be able to debug the script without polluting the working dir with tons of files :)

[2020-12-16 06:11] #4960 closed

[2020-12-16 06:12] akihironitta commented on #4805
As #4960 is closed, we all can start to work on this issue :) cc: @hassiahk

[2020-12-16 06:18] awaelchli commented on #5145
Hi, I did some testing and by setting `Trainer(replace_sampler_ddp=False)` it seems to work.
You will have to use DistributedSampler for the sampler you pass into your custom batch sampler if you use distributed multi-gpu.
Also one thing that I found odd when testing your code is that you inherit from BatchSampler but never call super().init on it, so double check that this is right.

[2020-12-16 06:21] awaelchli commented on #5145
[code]

[2020-12-16 06:44] #5073 closed

[2020-12-16 07:00] chagmgang commented on #5145
Thanks for answering to my question. It's done.

[2020-12-16 07:16] awaelchli commented on #5144
@wjaskowski I believe I found the fix for it. Thanks for including a reproducible script, it helped alot.
If you find the time, would you mind checking if the fix on my branch works for you? (see linked PR)

[2020-12-16 07:30] tchaton opened #5156 "Add train validity check"
## 🚀 Feature

### Motivation

Currently, only validation check is being run.

In order to fix: #4797, we need the introduction of train validity check.

Refer to discussion in https://github.com/PyTorchLightning/pytorch-lightning/pull/5084/.

### Pitch

### Alternatives

### Additional context

[2020-12-16 07:35] turian commented on #807
@yukw777 @williamFalcon I am still interested in an official tutorial / doc, as was suggested in https://github.com/PyTorchLightning/pytorch-lightning/issues/2322

[2020-12-16 07:41] Borda commented on #5153
@InCogNiTo124 is interested in...

[2020-12-16 07:44] awaelchli commented on #5154
do you also have hanging processes in the background, or just the blocked ports? (check with `pgrep python` or similar)
could this be a problem with ddp alone? or is it really only with fairscale/sharded? cc @SeanNaren

[2020-12-16 08:40] ananthsub commented on #5115
@teddykoker what do you think about baking these in bolts for some time and then promoting it as an API on the data module after we work out any kinks? Some cons for the current proposal are:
- are all datasets required? optional? should we go with a property/setter for each dataset instead of putting everything in the constructor?
- how do we specify dataloader arguments across each {train/val/te

[2020-12-16 08:43] wjaskowski commented on #5144
I tried the branch but the problem seems to be still there:
[code]

[2020-12-16 09:09] aiyolo commented on #5154
[code]
[code]
[code]
hope it can help understanding my question.

[2020-12-16 09:19] AliKarimi74 commented on #5108
I have exactly the same issue.

`automatic_optimization` is deprecated in v1.1.0, but there is not an alternative in documents. There is an `automatic_optimization` property in `LightningModule`, but it's not obvious how we can change it. Also, there are inconsistencies in the documentation about manually calling `zero_grad`.  Nowhere also mentioned that schedulers step is handling by lightning or

[2020-12-16 09:36] aiyolo commented on #5154
It seems that the opened ports could be normally released when performing a standard mnist train, so the phenomenon may be caused by something else.

[2020-12-16 09:36] #5154 closed

[2020-12-16 09:38] Borda commented on #5152
@tchaton mind have a look :]

[2020-12-16 09:40] Borda commented on #5156
I guess it is similar to what @awaelchli did but cannot find the repo...

[2020-12-16 09:51] InCogNiTo124 commented on #5153
@Borda yeah, I'll try to get it done this week :))

[2020-12-16 10:52] SkafteNicki commented on #2398
This issue should be solved by this PR https://github.com/PyTorchLightning/pytorch-lightning/pull/5141 which enables support for even input in LightningDDP

[2020-12-16 11:19] tchaton commented on #5091
Hey @ORippler,

Thanks for reporting the bug. Would you mind making the notebook public ?
Waiting for you to do so, I will try to reproduce the bug locally and update I am manage to.

Best regards,
Thomas Chaton.

[2020-12-16 11:23] ORippler commented on #5091
Link should be updated.

Cheers!

[2020-12-16 12:57] egonuel opened #5159 "performance loss from 1.0.8 to 1.1.* when using 16 bit precision"
## 🐛 Bug

After updating pytorch-lightning from 1.0.8 to 1.1.0/1.1.1 the use of 16 bit precision destroys the performances.
In my actual code of object detection losses are by a factor of 4 larger at the beginning than compared to 32 bit or 16 bit with pl 1.08.
They converge to a much higher value and the resulting model lost its detection capabilities completely.
To replicate I tested the pl note

[2020-12-16 14:28] awaelchli commented on #4900
@tchaton asked me to work on this, so I will assign myself and work on this.

[2020-12-16 14:29] tobiasmaier opened #5160 "SLURM root node resolution for SLURM cluster with uniquely named nodes (e.g. alpha,beta,gamma) fails."
## 🐛 Bug

SLURM root node resolution for SLURM cluster with uniquely named nodes (e.g. alpha,beta,gamma) fails.

It seems like all versions since introduction of cluster_environments in 0.10 are affected.

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing)

### To Reproduce

Here is a simple mockup to not

[2020-12-16 14:41] Borda commented on #4900
you will need to create an S3. bucket and get access there for saving checkpoiints

[2020-12-16 14:46] yukw777 commented on #807
@turian ah i see. in that case, yes PL definitely supports Hydra. As you can tell from the age of this issue, Hydra's been on our radar for a while, and we've fixed a number of bugs related to its integration into PL. For example, non-flat Hydra OmegaConf is supported, so no need to flatten it.

I guess what we're missing is an official tutorial as we just have a disjoint set of seeder projects an

[2020-12-16 18:29] SeanNaren commented on #5159
Can verify I see this issue, setting `enable_pl_optimizer=False` in the trainer seems to fix convergence, investigating now!

you can use `enable_pl_optimizer=False` as a temporary hotfix in this case

[2020-12-16 19:15] ayushm-agrawal commented on #5137
Hello,
Could you please link this issue in code and docs?

[2020-12-16 19:25] ayushm-agrawal commented on #5123
@tchaton, I note the Nan issue in this notebook as well. I am not using manual optimizer.

https://colab.research.google.com/drive/1P06xssrVeZJBjHnlGEke2laoSWNxE-2h?usp=sharing

[2020-12-16 19:26] SeanNaren commented on #5159
Here is a script to reproduce the underlying issue, seems like behaviour is different when using the pl optimizer:

[code]

We should expect the same model trained on both (you can confirm if you disable pl optimizer)

[2020-12-16 20:24] blakedewey commented on #5108
+1 on this issue. Documentation is very unclear about how to work with this going forward.

[2020-12-16 20:24] tchaton opened #5162 "AMP Native: AssertionError: Attempted step but _scale is None."
## 🐛 Bug

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing)

https://colab.research.google.com/drive/1BX3Ep5SwRRjZmzF2i_HorTDvqDoEcJXa#scrollTo=Pa-BRFgP5-4F

### To Reproduce

### Expected behavior

### Environment

**Note**: `Bugs with code` are solved faster ! `Colab Notebook` should be made `public` !

[2020-12-16 20:54] mees commented on #5159
I can confirm this issue with my network too. My model does not converge with fp16 and PL 1.1.* and using `enable_pl_optimizer=False` fixes the issue.

[2020-12-16 21:06] #5003 closed

[2020-12-16 21:07] #5063 closed

[2020-12-16 21:07] #5123 closed

[2020-12-16 21:08] #5146 closed

[2020-12-16 21:42] rohitgr7 commented on #5136
yeah, I believe a simple fix would be to disable loggers, checkpoint callback, earlystopping, ... maybe more in the init itself.

[2020-12-16 21:53] indigoviolet commented on #5136
Will that fix the original bug filed here - ie. `max_steps` not being set, which can break the optimizers/schedulers that refer to it?

[2020-12-16 22:14] turian commented on #807
@yukw777 At the bare minimum, I would like to see a skeleton PL with best practices for using Hydra. So that, for example, my Hydra configs appear in Tensorboard. I would also be interested in common pitfalls and gotchas to avoid.

Lastly, some guidance on best practices for what happens if you are loading an old checkpoint, and how to play nicely with Hydra. For example, I might have non-PL-model

[2020-12-16 22:34] KamWithK commented on #5108
I was confused by this but managed to figure this nuance out.
You have to define it as a property, so something like:
[code]

There's probably an easier way (I'd hope you can set it with a one-liner), but I haven't been able to figure it out quite yet.

[2020-12-16 22:35] KamWithK commented on #5108
That though still doesn't explain what is and isn't managed by Lightning itself once you've turned automatic optimisation off :(

[2020-12-16 22:40] KamWithK commented on #5054
We don't really want to be doing it manually. It's something the Lightning library handles for us.
When considering that it handles it in manual mode, it doesn't really make sense to not be able to use it in automatic mode just because we've overridden the optimizer's step function right.

[2020-12-16 22:57] turian commented on #807
Also, I'd just really like to see what are best-practice for structuring your config, particularly if you are also using tools like ray.io and DVC or replicate.ai.

Another example: Let's say I have two different neural networks and I want to switch between them to see what works better. Should I have the optim configs separately in each? Perhaps because each neural network will train better with

[2020-12-16 23:47] #4589 closed

[2020-12-16 23:47] #3998 closed

[2020-12-16 23:50] ant0nsc commented on #4713
@SkafteNicki , I've been running into the same problem. Here's my 4 line repro (pytorch 1.6.0, pytorch-lightning 1.0.6)

[code]
The workaround suggested on https://discuss.pytorch.org/t/trying-to-pass-too-many-cpu-scalars-to-cuda-kernel/87757/4 is to re-write the expression as `self.correct = self.correct + torch.sum(preds==target)`. Happy to PR that.

[2020-12-17 01:11] blakedewey commented on #4175
+1 to see this updated.

[2020-12-17 06:26] awaelchli commented on #5144
this is surprising. with your exact script I can get the error on master within 2-3 trials, but on the bugfix branch (bugfix/ddp-ckpt) I ran it probably 20+ times and it never occurs.

[2020-12-17 07:16] tchaton opened #5165 "Reproducibility bug between LightningOptimizer activate / deactivate"
## 🐛 Bug

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing)

[code]
Credit to @SeanNaren

### To Reproduce

### Expected behavior

### Environment

**Note**: `Bugs with code` are solved faster ! `Colab Notebook` should be made `public` !

* `IDE`: Please, use our python [bug_report_model.py](https://gith

[2020-12-17 08:47] Adoni opened #5166 "How to compute metric in each step without reseting the metric"
I want to know a metric during the process of an epoch. That is, I want to know the metric value until now. However, if I call `metric.compute()` in each step, it will reset my metric, which is not expected. I read the source code and didn't find a clever way to do that. So could you tell me how to do that?

[2020-12-17 08:49] wjaskowski commented on #5144
I will carefully give it a try once again when I will regain access to a machine with >1 GPUs.

[2020-12-17 09:30] aiyolo opened #5167 "Improve the default ProgressBar"
## 🚀 Feature

It would be great to have different bars to individually indicate different training stage, such as
- train_progress_bar: display the train_loop
- val_progress_bar: display the val_loop
- main_progress_bar: display max_epochs*(train_loop + val_loop)
- test_progress_bar: display the test loop
### Motivation

The current default ProgressBar has some flaws:
- using train_progress_bar to

[2020-12-17 10:30] #4594 closed

[2020-12-17 12:22] johschmidt42 commented on #3228
Is this problem solved now? Or did you decided that this behavior is generally not desired? When I look at the created graphs, e.g. loss per epoch, I still see the steps on the x-axis instead of the epochs. And I can't find anything in the logging API to change this behavior. This makes is hard to identify the number of epochs for a certain experiment, just by looking at the epochs graph. When I u

[2020-12-17 12:26] johschmidt42 commented on #3228
Also, it would be really nice if one could specify the suffix when using log(... , on_step=True, on_epoch=True).

[2020-12-17 12:29] SkafteNicki commented on #4713
Hi @ant0nsc, so `Metric`s are similar to `nn.Module`s in the sense that their metric state needs to be moved to the correct device (similar to the parameters/buffers of `nn.Module`). Therefore, simply changing your code to:
[code]
should get it working. We are in the process of determining if we should auto move the metric states to the same device as the input (not just accuracy, but all metrics)

[2020-12-17 12:45] ant0nsc commented on #4713
I get that - but it is somewhat contradictory to the rest of the PL philosophy, where as a user I'm not meant to be moving objects around, but leave that to PL. And if it weren't for that bug with in-place operations in PyTorch, all would work well.
Anyway, there's an easy workaround, and good to hear that it's on your radar with #4909

[2020-12-17 12:46] shaz13 commented on #5137
I searched the code and docs. I have found all "O1, O2, O3" not "01,02,03"

I believe the font at makes it looks more narrow and hence the confusion

1. https://pytorch-lightning.readthedocs.io/en/stable/trainer.html?highlight=amp%20optimization#amp-level
2. https://nvidia.github.io/apex/amp.html#opt-levels

Please link the code/doc if I have missed it @edenlightning

[2020-12-17 12:48] aiyolo commented on #5167
@Borda @awaelchli
I've implemented this feature in the [colab](https://colab.research.google.com/drive/1YdThfcGap5IIxty05pTo4kqfh5hLwjDw?usp=sharing), is it okay to make a PR?

[2020-12-17 12:49] SkafteNicki commented on #4713
So if the `Metric` is defined in a `LightningModule` then it will be device agnostic i.e. if you set `Trainer(gpus=1)` then it will automatically be moved to the gpu when your `LightningModule` is moved to the gpu. I have only seen this problem when the metric is used as standalone operation.

[2020-12-17 13:17] lixinyuu commented on #4143
I met the same problem. The logger csv file is unreadable at all.

[2020-12-17 13:53] janhenriklambrechts commented on #4858
Hi @LucaButera, I have been scratching my head over your problem, as I have been able to log images of size up to 5000x5000, no problem. When I resize logging images to this size, lightning correctly waits for the image to finish logging when the epoch ends - so no sign of a Lightning bug.

One last proposition, sometimes Tensorboard will take some time in processing larger images so they may not

[2020-12-17 13:56] Ceceu opened #5173 "Why all files are deleted from model checkpoint directory when save_top_k=1?"
[code]
Shouldn't it delete only the latest checkpoints of the same name?
Or should I have a directory for each model I train?

[2020-12-17 14:20] LucaButera commented on #4858
@janhenriklambrechts Hey, actually I did refresh multiple times and also tried both Chrome and Safari to navigate TensorBoard. Sadly, at this point I'm pretty convinced it is a macOS issue.

[2020-12-17 14:29] janhenriklambrechts commented on #4858
@Borda I did everything I could here, can we assign this to someone who can reproduce on MacOS?

[2020-12-17 14:50] Borda commented on #5167
sure, send it as Draft for 1.2

[2020-12-17 15:06] Borda commented on #5159
shall we add some vanilla AMP loop for parity testing?

[2020-12-17 15:07] ant0nsc commented on #4713
@SkafteNicki , thanks, that has given me an idea. My metric computers are stored in a more complex data structure inside my `LightningModule` (a `Dict[str,Metric]`) and that is probably not recognized as something that can be moved to the GPU.
@vincentzlt FYI

[2020-12-17 15:08] tchaton commented on #5159
Hey @mees @egonuel,

We found the bug, a fix should be merged soon !

We apologise for the inconvenience.

Best regards,
T.C

[2020-12-17 15:09] Borda commented on #5136
@tchaton ^^

[2020-12-17 15:12] rohitgr7 commented on #5136
@indigoviolet mind explain this a bit more, what do you mean here?

[2020-12-17 15:16] Borda commented on #5045
@nateraw @SeanNaren mind have look?

[2020-12-17 15:39] mees commented on #5159
thanks @tchaton @SeanNaren! what was the bug?

[2020-12-17 16:29] blakedewey commented on #5108
Also, I have been getting `ValueError: Your LightningModule defines 2 optimizers but training_step is missing the "optimizer_idx" argument.` when using manual optimization via the LightningModule parameter.

[2020-12-17 17:21] tchaton commented on #5159
Hey @mees,

Sneaky bug :) The gradients were unscaled twice by the scaler. It uses an attribute on the optimizer to track if it needs to upscale. However, it was calling _unscale on LightningOptimizer, and then performing step in unwrapped optimizer. As the attributes `was unscaled` was True on LightningOptimizer, but still False on unwrapped optimize, it was unsealing a second time.

Simple fix,

[2020-12-17 17:49] borisdayma commented on #4980
@collinmccarthy
With `wandb`, you could just use `wandb.log({'val_loss':val_loss, 'my_x_axis': batch + step*n_batch}, commit=False)`
However you would not see the results yet as the values would not be sent to the server.

An alternative (a bit hacky) would be to consider how often you log during training.
Let's say you only log every 500 steps, then you have 499 steps to log your validation metri

[2020-12-17 19:14] indigoviolet commented on #5136
I meant that the lightning module might need to refer to `self.trainer.max_steps` to configure its optimizers/schedulers, and this breaks in `fast_dev_run`.

[2020-12-17 19:20] rohitgr7 commented on #5136
yeah then `max_steps` should be set correctly too in such a case. But `fast_dev_run` is meant to debug, I don't think anyone should set it to a value > max_steps (even if someone does, it will stop at `max_steps` only) so scheduler might get a higher number of iterations > fast_dev_run, but it won't break in such a case too.

[2020-12-17 19:36] rohitgr7 commented on #5173
It won't delete any existing file if it's not created by the `ModelCheckpoint` instance passed in the Trainer. This warning seems redundant. Mind send a PR to remove this warning in `ModelCheckpoint`??

[2020-12-17 20:20] jspaezp opened #5174 "Failing computer_vision_fine_tuning example"
Hello,

I noticed in the current master branch, the computer_vision_fine_tuning example fails to run with the following error.

[code]

The error lies in the fact that `root_data_path` is being passed to `pl.LightningModule.__init__` from `main` .

https://github.com/PyTorchLightning/pytorch-lightning/blob/e721b1f51f50d61b6ed77d628e8e08fbae18f2eb/pl_examples/domain_templates/computer_vision_fine_t

[2020-12-17 20:33] ayushm-agrawal commented on #5137
@Borda this seems to be fixed?

[2020-12-17 20:37] carmocca commented on #5173
Yes, this warning is not correct. We can keep it and just warn the user that the directory is not empty.

[2020-12-17 21:12] #4599 closed

[2020-12-17 21:24] SkafteNicki commented on #4713
@ant0nsc please see this comment
https://github.com/PyTorchLightning/pytorch-lightning/issues/4909#issuecomment-736821581
It is the same problem you are facing, namely that `nn.Module` or `Metric` objects are not proper recognized inside a `dict` (or `list`)

[2020-12-17 21:33] Borda commented on #5153
@InCogNiTo124 how is it going, do you need some help?

[2020-12-17 21:42] ZhaofengWu commented on #4124
Fixed in https://github.com/pytorch/pytorch/pull/46813

[2020-12-17 21:43] Borda commented on #5137
it seems so, @edenlightning ^^

[2020-12-17 21:44] #5137 closed

[2020-12-17 22:49] pgagarinov commented on #5110
@tchaton Here is the strange thing -

 when I follow this line from the official documentation
`
Metric objects can also be directly logged, in which case Lightning will log the metric based on on_step and on_epoch flags present in self.log(...). If on_epoch is True, the logger automatically logs the end of epoch metric value by calling .compute().
`
and  log metric objects (like Accuracy) directl

[2020-12-17 23:29] InCogNiTo124 commented on #5153
@Borda I will hopefully get it done tmrw

[2020-12-18 01:00] KamWithK commented on #5108
Yeah we still need to pass it in (although it's largely useless for manual optimisation - from what I'm reading)

[2020-12-18 06:11] Pengyang233 opened #5177 "How to inference on GPU?"
## ❓ Questions and Help
Hi.

I have trained a Model with `Trainer.fit()`. Now I want to load the checkpoint at another place and preform inference. But I have no idea how to inference on GPU.  Where could I assign a GPU for my inference just like assigning a GPU before training:
[code]
My inference code is (simplified version):
[code]
#### What's your environment?
 - OS: [ Linux,]
 - Packaging [pi

[2020-12-18 07:09] #4590 closed

[2020-12-18 08:25] Borda opened #5178 "group tests into class"
## 🚀 Feature

Now, we have quite extensive skip conditions for many tests which are mostly very similar to all test in a single file, so with grouping, we shall clearly mark some features/expectations

### Motivation

reduce conditions so it easier to navigate

### Pitch

https://github.com/PyTorchLightning/pytorch-lightning/blob/69123af3ea651a5e1cc25014da6f1c0dee433916/tests/metrics/regression/te

[2020-12-18 09:01] LindaSt opened #5179 "PyTorch Geometric example removed."
I've save this link https://github.com/PyTorchLightning/pytorch-lightning/tree/master/pl_examples/pytorch_ecosystem/pytorch_geometric a few days ago, but now I get a 404. Did it get moved somewhere else? I tried to google for it, but I can't find it anywhere.

Thanks.

[2020-12-18 09:16] opringle commented on #4243
Having the same issue. Training on GCP Ai Platform with the following project structure - https://cloud.google.com/ai-platform/training/docs/packaging-trainer#project-structure. Using ddp accelerator causes an import error. Without ddp works fine.

[2020-12-18 11:50] kyoungrok0517 opened #5180 "How can I stop WandbLogger instance being instantiated when calling load_from_checkpoint?"
Hello. I have a checkpoint that used `wandb` during training. Now I want to use the trained model for inference in Hadoop environment. Each node loads the checkpoint, reads data, then infer.

What prevents me is the following error. When I call `load_from_checkpoint()`, the code tries to re-instate `WandbLogger` instance. Then `WandbLogger` tries to read or create global config at `/home/.config`,

[2020-12-18 11:58] wjaskowski commented on #5130
Any ideas @jakubczakon?

[2020-12-18 12:50] rohitgr7 commented on #5179
moved to geometric repo.
WIP PR: https://github.com/rusty1s/pytorch_geometric/pull/1916

[2020-12-18 12:55] jakubczakon commented on #5130
Thanks for bringing this up @wjaskowski.
@pitercl could you take a look?

[2020-12-18 13:12] 8greg8 opened #5181 "all_gather raises NotImplementedError when no Accelerator defined in Trainer"
## 🐛 Bug

When no Accelerator is defined in Trainer, all_gather function in LightningModule raises NotImplementedError.

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing)

https://colab.research.google.com/drive/1VPEIaQ-aN5KVA70VtvGk24AVkTYPvMoY?usp=sharing

### To Reproduce

### Expected behavior

* All

[2020-12-18 14:38] rolanddenis commented on #4832
As @bartmch, I use `hp_metric` to compare hyper parameters (is that not the purpose of this placeholder ?). I also have this negative initial value, but I didn't notice it before. I suppose it is not possible to remove this initial value but is there a way to customize it ?

[2020-12-18 14:42] #4918 closed

[2020-12-18 15:44] pitercl commented on #5130
Hi @wjaskowski!

I bumped into a similar issue a while back and from what I remember, PL automatically adds an `epoch` metric with some `global_step` as `x`. From what I've seen, this `global_step` is reset on each `fit`/`test` call and this causes the `x`-s to be non-increasing.

To be honest, I'm not sure what's the best way to approach this. The only Neptune-specific behaviour here is that we d

[2020-12-18 17:43] #4170 closed

[2020-12-18 17:46] rohitgr7 commented on #4674
@adityak2920 mind reproduce it with https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing??

[2020-12-18 17:52] rohitgr7 commented on #4858
since it's working with Wandb, I think it has something to do with `flush_secs` argument here: https://pytorch.org/docs/stable/tensorboard.html#torch.utils.tensorboard.writer.SummaryWriter

[2020-12-18 18:38] gan3sh500 commented on #5029
@Borda I've submitted a PR. I've checked with the notebook and the behaviour is changed but please review and let me know if that is the expected behaviour.

[2020-12-18 19:09] haideraltahan commented on #5090
Having the same issue. I believe this problem could be related to #5091
@ORippler is there a temporary solution?

[2020-12-18 23:20] #5153 closed

[2020-12-18 23:28] Borda opened #5187 "fix cache for building docker image with Conda"
## 🐛 Bug

actually, three are some problems on master right now
https://github.com/PyTorchLightning/pytorch-lightning/pull/5170/checks?check_run_id=1571579933

[code]

### Additional context

We need to keep this image updated because it used for our testing...

[2020-12-18 23:28] Borda commented on #5187
@ydcjeff mind be interested in this one... 🐰

[2020-12-19 00:35] #5120 closed

[2020-12-19 02:00] Jerryxiaoyu commented on #4367
@edenlightning  I got the same problem. I fixed it by reinstalling a higher version TensorFlow (1.14+).
I think this is because Pytorch-lighting requires TensorBoard >=2.2， but that means also requires a higher version TensorFlow to support the TensorBoard.
I found the TensorFlow version was only 1.12, so I upgraded it, and no errors.

https://github.com/tensorflow/tensorboard#can-i-run-tensorboar

[2020-12-19 02:00] keunwoochoi opened #5188 "The behavior of model_checkpoint callback with `save_last=True`"
I have three questions about this. The doc says..

I assumed that if I pass, say, `filename='last_model.ckpt'` with `save_last=True`, [1] it would override the default filename for the latest checkpoint with what I pass.

Instead, it behaves differently. After epoch 1, [2] it saves two files.

[code]

[3] After epoch 2+, the callback overwrite `last.ckpt` and i think it makes sense. it updates `la

[2020-12-19 02:03] keunwoochoi commented on #5188
On [1], additionally, I believe it actually has to use the passed filename because one could want to use two callbacks, one for the model and the other for the weights only, of course with different names.

[2020-12-19 02:08] keunwoochoi commented on #5188
Ok, I observed another default behavior that if I don't specify `filename`, it automatically saves another file (that probably has the latest model) with a name like `epoch=2-step=5624.ckpt`. And this is somehow explained by the doc saying

. But I still don't get why it saves two different files for the same, latest model. Is it an intended behavior?

[2020-12-19 02:46] keunwoochoi commented on #4600
Thanks!

[2020-12-19 07:11] turian opened #5189 "Native integration of pytorch_memlab or something like it"
## 🚀 Feature

Fine-grained memory profiling in pytorch-lightning, that explains:
1) what specifically causes GPU utilization.memory
2) what specifically causes GPU memory.used

### Motivation

1) If data is currently being moved back and forth unnecessarily between the GPU, this slows things down. However, it is hard to pinpoint where this comes from.
2) Certain architectures and batch sizes cause

[2020-12-19 13:33] ydcjeff commented on #5187
I will take a look tmr.

[2020-12-19 15:34] Borda commented on #5187
just see it also on other images, it is possible that it is random
https://github.com/PyTorchLightning/pytorch-lightning/pull/5172/checks?check_run_id=1581802294
on the other hand is rather strange that it building even without change, so it seems that the cache does not work...

[2020-12-19 16:08] ydcjeff commented on #5187
@Borda Instead of using cache, how about we schedule the docker build once a week?
Also shall we use github action `paths` to run only `CI build docker` when docker related files are changed?
WDYT?

[2020-12-19 17:33] rohitgr7 commented on #5188
the renaming is done to ensure that files are not replaced in case same filename is already present in the directory if save_top_k > 1 or -1.. if it's 1, then it will overwrite the `last_model.ckpt` and won't add a version to it. This is fixed on master.

`last.ckpt` will be saved only when you specify `save_last=True`, mainly it's used to save the checkpoint for last epoch in case the training cr

[2020-12-19 18:15] Borda commented on #5187
we still need to run docker as CI as some PR may edit dockerfiles
but this looks good https://github.com/docker/build-push-action#leverage-github-cache

[2020-12-19 20:27] borisdayma commented on #5070
Hi @tchainzzz

Within your validation loop (probably at "epoch_end") you could try to call directly `wandb.log({'val_loss':loss}, commit=False)` which would just use the last logged step.

[2020-12-19 20:37] borisdayma commented on #5033
If you want to commit all the metrics and increment the step after your sanity check, you could also use `wandb.log({})`.
However you need to be sure that the step is actually going to increase as you cannot log at previous steps.

[2020-12-19 20:42] r08922129 opened #5192 "Question about splitting batches in 'dp' mode"
Hello, I faced the same problem as mentioned as #1508.
[code]
Here the the `samples` is a list of tensor with different size.
It's unavoidable in my case. (each sample actually has different number of parts to be predicted)
So, I can't solved it by just converting them into a tensor `torch.tensor([sample['labels'] for sample in samples])`
Is there other solution?

Thanks.

[2020-12-19 21:03] borisdayma opened #5194 "WandbLogger: add more flexibility with logging step"
## 🚀 Feature

Let `WandbLogger` log using:
* the trainer step by default (current behavior)
* an auto-incremented step, independent from the trainer

### Motivation

The current default of using trainer step is a good default and seems to work fine for most people, automatically associated correctly training and validation metrics at the right step.

However, some users have a few issues with cust

[2020-12-19 22:17] hyw1994 commented on #5173
Hi, I noticed that if we resume the training, no file will be deleted if we have more than k checkpoints. For example, set save_top_k=3, then train for a few epochs, we get 3 saved checkpoints. Then we interrupt the code, and resume from last saved checkpoint. After training, we can have more than 3 saved checkpoints.

[2020-12-19 22:34] rohitgr7 commented on #5173
yeah.... that's a bug. I also noticed it a day before.

[2020-12-19 22:49] chunyuma opened #5196 "RuntimeError: Tensor for 'out' is on CPU, Tensor for argument #1 'self' is on CPU, but expected them to be on GPU (while checking arguments for addmm)"
## ❓ Questions and Help

### Before asking:
1. Try to find answers to your questions in [the Lightning Forum!](https://forums.pytorchlightning.ai/)
2. Search for similar [issues](https://github.com/PyTorchLightning/pytorch-lightning/issues).
3. Search the [docs](https://pytorch-lightning.readthedocs.io/en/latest/).

#### What is your question?
Hi,

I'm using pytorch lightning 1.1.0 to train my mod

[2020-12-19 23:53] siddk commented on #5159
Has this been resolved?

[2020-12-20 00:41] keunwoochoi commented on #5188
Thanks for the answer. I'll take it as "`save_last` means whether the last model is going to be saved *additionally*". Maybe I can make a small PR about the documentation.

[2020-12-20 00:41] #5188 closed

[2020-12-20 01:36] awaelchli opened #5197 "ImportError: cannot import name 'invoke_rpc_builtin' from 'torch.distributed'"
[code]

reported on slack
https://pytorch-lightning.slack.com/archives/CRBLFHY79/p1608427484257200
by Eric Wiener

it probably happens when torch<1.7 (due to missing rpc)

[2020-12-20 05:55] awaelchli commented on #5196
Hi, could you please share the full code (GATConv is undefined) with an example input to forward through the model? It would help us debug.

Please also try to replace `pl.LightningModule` with `torch.nn.Module`, move the module to the gpu and then try to forward an example input.

[2020-12-20 06:00] awaelchli commented on #5194
I like it. I believe it currently is also possible to self.log("step", ...) and the logger will use this to log the metrics.

[2020-12-20 06:07] awaelchli commented on #5192
I don't think this is the same issue as you linked.
You want to collate samples of different length into a tensor batch, right?
For this you would need some sort of padding. Perhaps you can hack it easily with
https://pytorch.org/docs/stable/generated/torch.nn.utils.rnn.pad_sequence.html#torch.nn.utils.rnn.pad_sequence
not sure, have never used it. Good luck :)

[2020-12-20 06:12] awaelchli commented on #5189
If you suspect that Lightning is causing the memory overhead, it would be good to have a baseline pytorch implementation and compare this. Also, maybe it is worth taking another logger (maybe comet?) that has a similar gpu-logging feature to make sure it's not a visualization issue.

Related: #2080

[2020-12-20 06:13] awaelchli commented on #5181
Fyi your colab notebook is not public, it can't be accessed :)

[2020-12-20 06:23] awaelchli commented on #5179
It was removed in this PR:
https://github.com/PyTorchLightning/pytorch-lightning/pull/5085/files
If you want you can still copy the files there (click on view file, then copy paste)
or you can `git checkout 405a8402b8a82b2bf4a0ebf982939c548e07a27f`

[2020-12-20 06:23] #5179 closed

[2020-12-20 06:28] awaelchli commented on #5180
It looks like you can't do `import wandb` in that environment. Maybe it is something that should be reported to wandb? You could try to uninstall wandb, then it shouldn't lead to the import.

[2020-12-20 06:41] awaelchli commented on #5177
Hey, in case you didn't know, we have a forum here: https://forums.pytorchlightning.ai/ :)
You can perform the inference like this (using your code sample):

[code]

caution: brain-compiled code

References:
- https://pytorch-lightning.readthedocs.io/en/stable/metrics.html

[2020-12-20 06:45] awaelchli commented on #5174
that would be absolutely amazing! please do!

[2020-12-20 07:01] awaelchli commented on #5173
so the fix for the warning is an easy one, who wants to send it? 😃

the second observation about resuming is simply because the model checkpoint does not save the top-k dict into it's state_dict when saving the checkpoint. When the state gets loaded, the dict is empty.
We can save it as part of the state, but then we have to deal with the special cases when the user overrides things, like the chec

[2020-12-20 08:16] #5103 closed

[2020-12-20 10:43] r08922129 commented on #5192
Thank you:) I finally solved it by padding manually

[2020-12-20 10:43] #5192 closed

[2020-12-20 10:57] ORippler commented on #5090
I don't know how this is related to your problem, if your model is always initialized from scratch/fails resuming from a given checkpoint.

Resuming works properly for me, however the Checkpoint passed to `Trainer` via `resume_from_checkpoint` is no longer removed during the garbage collection (refer also the Colab reproduction linked above).

My temporary solutions to this is to perform the GC ma

[2020-12-20 11:24] ydcjeff opened #5205 "only run GPU tests on Drone"
## 🚀 Feature

Only run GPU related tests on Drone

### Motivation
Currently we run all tests except tpu tests on Drone. Since cpu tests are all tested on various configs in github actions, it would be better to run gpu tests on gpu. If we only run gpu tests on gpu, we can probably run gpu tests with pytorch nightly.

### Pitch

To be able to run gpu tests with pytorch nightly

### Additional conte

[2020-12-20 12:08] Borda commented on #5205
there is no real need for this, the CPU tests are just a minute or two, so let's keep it rather than testing just special files and accidentally forgot that some test is not called...

[2020-12-20 12:12] Borda commented on #4502
related task #5205

[2020-12-20 12:17] adamDhalla opened #5207 "MisconfigurationError: No TPU devices were found even when TPU is connected"
Have been frustrated over the past few hours over a problem, though It's likely its a problem I started myself hah.

I'm trying to connect to the TPU in Colab. I'm pretty sure I've gotten all the import stuff down. My code is [here](https://colab.research.google.com/drive/1EaCJpyYK8xLuzO79ESAsIlGZAcWjOh8u?usp=sharing). I'm not completely set on everything, so the entire document isn't functional,

[2020-12-20 12:28] #4137 closed

[2020-12-20 12:29] #4649 closed

[2020-12-20 12:42] hyw1994 commented on #5108
I am also confused about how to handle scheduler manually. From what I've seen, the scheduler is not working properly when using checkpoint.

[2020-12-20 14:54] rohitgr7 commented on #5173
good points here by @awaelchli

I believe for `dirpath` if it's changed then clear that dict. To get the old `dirpath`, we can either save that too or just extract it from the filenames present in the dict. For `save_top_k`, it's pretty easy, if it's less, just keep the top k(new value) otherwise keep it as it is. Any other edge cases??

[2020-12-20 15:04] rohitgr7 commented on #5205
@Borda you sure about that? I see here in one of the CI with CPU resources runs for around 9 mins (just the tests).

[2020-12-20 15:39] rohitgr7 commented on #5207
the notebook is a bit long to find the issue. Mind reproduce it with https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing??

[2020-12-20 15:41] carmocca commented on #5173
We have a similar discussion about this at https://github.com/PyTorchLightning/pytorch-lightning/issues/4911

[2020-12-20 15:55] Borda commented on #5205
Ok, maybe more then 2 min =)
But the point is to limit separation becase then it is very easy forget and write a naively test which never called...

[2020-12-20 16:04] ydcjeff commented on #5205
Shall we have like `gpu`, `cpu` or `on_cuda`, `on_cpu` or something like that?
When we do #5178 , so that we can run tests like `pytest . -k gpu`, `pytest . -k cpu`
WDYT?

[2020-12-20 16:05] hyw1994 commented on #4655
@rohitgr7 You can find this when running a pure PyTorch project. Also, it is at: https://pytorch.org/docs/stable/optim.html#how-to-adjust-learning-rate.

[2020-12-20 16:33] chunyuma commented on #5196
Hi @awaelchli, thanks for your reply. GATConv is a convolutional layer from pytorch geometric so you can find its full code [here](https://pytorch-geometric.readthedocs.io/en/latest/_modules/torch_geometric/nn/conv/gat_conv.html#GATConv).

For your suggestion to replace `pl.LightningModule` with `torch.nn.Module`, actually I did use `torch.nn.Module` and it works fine. But since I want to use [sha

[2020-12-20 16:43] rohitgr7 commented on #4655
ok what you are saying will be like: (with init lr = 1e-2 with a decay of 0.1 per epoch)
epoch = 1
1. do first fit -> lr=1e-2
2. scheduler.step() -> lr=1e-2
3. optimizer.step() -> lr=1e-2
4. epoch done -> lr=1e-2
5. save checkpoint with scheduler -> lr=1e-2
6. resume checkpoint and load scheduler state -> lr=1e-2
7. run epoch -> lr=1e-2

after resuming training and doing .fit, it will run for lr=1

[2020-12-20 18:58] hyw1994 commented on #4655
@rohitgr7

I think that's the document means. Also, I noticed another problem when loading the saved checkpoints. To reproduce, you can start with the collab @seannz shared above.

What you need to do is:

1. Change the milestone to 3
2. Run the test
3. Load the 4th checkpoint (any above the milestone)

You can see the learning rate is back to the initial value. I tried with 1.1.1 in colab and the

[2020-12-20 19:23] carmocca commented on #5167
IMO we should not make this change to the default progress bar, given how long has it been the way it is.

However, it would be interesting to have more progress bar implementations (such as this one) which subclass the default one and can be used via the `callbacks` Trainer parameter.

[2020-12-20 19:34] tchaton commented on #5197
That's surprising it is breaking.
[code]

[2020-12-20 20:28] Borda commented on #5167
Yes, changing for default would take some time to prove that the new progress bar is better but we can add a new one and user can decide which he prefers

[2020-12-20 20:50] rohitgr7 commented on #4911
https://github.com/PyTorchLightning/pytorch-lightning/issues/5173#issuecomment-748571874
https://github.com/PyTorchLightning/pytorch-lightning/issues/5173#issuecomment-748618082
few more comments on the same issue.

[2020-12-20 20:51] rohitgr7 commented on #5173
cool, let's discuss it there.

[2020-12-20 21:18] Borda commented on #4950
@cuent any update here? do you have an open draft for it...

[2020-12-21 01:00] #5173 closed

[2020-12-21 03:52] Pengyang233 commented on #5177
Thx so much. First time know the forum.

[2020-12-21 03:55] #5177 closed

[2020-12-21 04:04] dhkim0225 opened #5210 "Cannot use SyncBN with sharded DDP."
## 🐛 Bug

### To Reproduce
Using SyncBN with sharded DDP plugin makes this error message.
[code]
I think this is not a PL bug but a bug of PyTorch and fair-scale.
Nevertheless, I think there is a way to support this combination in PL (like overriding SyncBN).
Do you have any update plans?

### Environment
[code]

[2020-12-21 06:21] bartmch opened #5211 "Most efficient way to log data to file within training/validation_step"
Q1: Given the data sample paths of a batch, their losses, the batch number, and the epoch number - I would like to log everything into a file during `training_step` and `validation_step`. My goal is to identify hard samples using this file.
So I know how to get the data that's given - I would like to know what the most effective way if to log this data in a file while using ddp over multiple gpus

[2020-12-21 08:06] bask0 opened #5212 "Logging multiple runs with WandbLogger"
#### What is your question?

What is the proposed approach to log multiple runs (e.g., models with different hyperparameters) in one script using the WandbLogger?

I use optuna for hyperparameter tuning and create a wandb logger in each run. Although I have unique names per run (`WandbLogger(name='unique_name', project='MNIST')`), the runs are not logged separately. Instead, they are put in the sa

[2020-12-21 08:35] justusschock commented on #5210
Cc @SeanNaren @ananyahjha93

[2020-12-21 08:40] justusschock commented on #5205
I wouldn't do that tbh. That is one more thing for contributors to remember. I prefer to use pytest.skipif(torch.cuda.is_available()) for cpu tests since that way if you forget to add it, the test is still executed and just test time increases. Whereas with the naming thing we may end up with tests being never executed.

[2020-12-21 08:58] #5197 closed

[2020-12-21 09:01] ndrplz commented on #807
I would also be interested in having some guidance / best practice about how to best integrate Hydra with PL

[2020-12-21 09:13] tchaton opened #5213 "trainer.test contains validation metrics"
## 🐛 Bug

## Please reproduce using [the BoringModel and post here](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing)

### To Reproduce

### Expected behavior

### Environment

**Note**: `Bugs with code` are solved faster ! `Colab Notebook` should be made `public` !

* `IDE`: Please, use our python [bug_report_model.py](https://github.com/PyTorchLightning/pytor