[2020-07-22 19:57] #665 closed

[2020-07-22 20:23] Emrys-Hong commented on #2637
Hi, I wonder how this will work if using dgl.batch? the class type they return to you is a DGLGraph class.

[2020-07-22 20:31] awaelchli commented on #2670
Does it work with master branch? If not, do you use the functional or module interface for the metric?

[2020-07-22 20:33] awaelchli commented on #2585
@nsarang Didn't know. Are you interested in making these doc updates?

[2020-07-22 20:54] jacobdanovitch commented on #2637
It seems to work for me for now.

[2020-07-23 00:27] ruotianluo commented on #2574
@tgaddair I still want to defend against scaling learning rate by default. By primitive search, it doesn't seem to me that in nlp, people do the same learning rate scaling. Bert uses batch size 256 and learning rate 1e-4; Roberta uses batch size 8k and max learning rate is 4e-4/6e-4(depending on the model size). I think it may be related to optimizer(in nlp it's usually adam). I don't know if this

[2020-07-23 00:35] tgaddair commented on #2574
Hey @ruotianluo, even when training BERT with Horovod, it's common practice to scale the learning rate.  See:

- https://github.com/LeoWood/bert-horovod/blob/master/optimization_hvd.py#L61
- https://github.com/google-research/bert/pull/568/files#diff-717a6b63e0d2e51c2ff68a440534783eR61

Fundamentally, when you add more workers, you are increasing the batch size.  That holds true whether it is a vi

[2020-07-23 01:17] ruotianluo commented on #2574
https://arxiv.org/pdf/1904.00962.pdf. This paper uses square root scaling for bert(and also imagenet classification too). Aand albert(from google) uses this approach (https://arxiv.org/pdf/1909.11942.pdf).

The first link you provide doesn't have any results. For the second, I didn't see any quantitative results either how that would affects.(and it is not merged yet.)

Do other frameworks do lear

[2020-07-23 02:47] zhenhuahu opened #2677 "Does pytorch-lightning support mixed-precision training?"
## ❓ Questions and Help

### Before asking:
1. search the issues.
2. search the docs.

#### Does pytorch-lightning support mixed-precision training?

#### Code

#### I know lightning support FP32 and FP16. Does it also support mixed-precision training? I read the source code of trainer.py and found that it supports Apex, but it seems that it only supports all 16-bit or 32-bit training. Am I correc

[2020-07-23 10:28] williamFalcon commented on #1894
hi @MilesCranmer this is really cool!
Mind waiting a few weeks since we need to wrap up the v1 before adding this? the main reason is that we are focused on improving the stability of PL and don't want to add big features that might affect this.

[2020-07-23 11:07] #1715 closed

[2020-07-23 12:44] andrewredd opened #2678 "training_epoch_end seems to fail when returning nothing"
I'm trying to log weight histograms to tensorboard at the end of each training epoch. I have the following code:

[code]

This is in line with the documentation. "If you don't need to display anything, Don't return anything"

However when this function runs I get the following error:

[code]
    def training_epoch_end(self, outputs):
        self.log_hists()
        return {'dummy': torch.Tensor()

[2020-07-23 13:32] #2359 closed

[2020-07-23 16:13] #1300 closed

[2020-07-23 17:20] rohitgr7 commented on #2677
With `precision=16` you can set `amp_level='O1' or 'O2'`. I think they [are different implementations of mixed precision](https://nvidia.github.io/apex/amp.html?highlight=opt_level#o1-mixed-precision-recommended-for-typical-use).

[2020-07-23 17:31] tgaddair commented on #2574
Hey @ruotianluo, in my experience, frameworks that expose distributed training to users as an API (like `tf.distributed`) will mention in their docs that it's good practice to scale the LR, but will leave it to the user to do so (this is what we do with Horovod as well).

However, frameworks that attempt to completely abstract away distributed training (like PyTorch Lightning is seeking to do) sho

[2020-07-23 17:53] drStacky opened #2679 "Default checkpoint location problematic when using docker"
The default behavior of `ModelCheckpoint` is to use `os.getcwd()`. Outside my docker container, this ended up being the same directory where my tensorboard logs were saved (e.g. `/my/dir/tb_logs/default/version_0/checkpoints/`).  But inside the docker container, it saved to the internal working directory (e.g. `/home/default/version_0/checkpoints/`). Since this location disappeared along with the

[2020-07-23 17:57] Borda commented on #2574
cc: @PyTorchLightning/core-contributors

[2020-07-23 17:58] zhenhuahu commented on #2677
Thanks. I may have a misunderstanding here. I thought _precision=16_ denotes only FP16 training. Thank you very much!

[2020-07-23 19:39] shtoshni92 opened #2680 "Checkpoint saving order"
The last model save action, [here](https://github.com/PyTorchLightning/pytorch-lightning/blob/1369012bc71f257dcf7423ec65146d055ddc1cc7/pytorch_lightning/callbacks/model_checkpoint.py#L295), should be after saving the top k model because the best model and best score could have changed. Swapping the order allows resuming the training from the last checkpoint, with the last checkpoint having the lat

[2020-07-23 20:01] shtoshni92 commented on #2650
Pass gpus=-1 or gpus=4? I think the trainer would automatically figure it out.

[2020-07-24 00:42] asrafulashiq opened #2683 "trainer.test not working in ddp"
## 🐛 Bug

Testing in ddp is not working in the latest master.

### To Reproduce

I am using the gpu_template example from basic_examples in the repo : "python gpu_template.py --gpus 2 --distributed_backend ddp", where, instead of trainer.fit(model), I am using trainer.test(model).

 I am getting "RuntimeError: connect() timed out".

### Environment

 - PyTorch Version 1.3.1:
 - Ubuntu 18.04

[2020-07-24 03:15] #2677 closed

[2020-07-24 03:30] zhenhuahu opened #2684 "What's the Correct Batch Size in Distributed Data Parallel Training?"
## ❓ Questions and Help

### Before asking:
1. search the issues.
2. search the docs.

#### I'm trying to use pl and 'ddp' to do single node multi-GPU training. My code is as below. I used batch_size 2 in Dataloader. After the code, does every gpu (in total 8 gpus) each get batch_size of 2, or only 2 gpus can access the data (each has bacth_size 1)?

#### train_loader = DataLoader(dataset=train_da

[2020-07-24 05:47] neil-tan commented on #1228
Thanks @gwiener for the quick workaround.
Though, with this method, dummy points are added every time the training is restored from checkpoints - still looking for a solution here.

[2020-07-24 06:23] rohitgr7 commented on #2684
Is this what you need? https://pytorch-lightning.readthedocs.io/en/latest/multi_gpu.html#batch-size

[2020-07-24 07:17] awaelchli commented on #1936
ok, this will probably anyway be overwritten by the docs in part 3 of #2615 structured results.

[2020-07-24 08:06] justusschock commented on #1803
@xmotli02 how is it going here?

[2020-07-24 08:25] xmotli02 commented on #1803
Hi, sorry I was pretty busy these last couple of weeks and then I forget a little about this issue. However, I have almost finished logger, I just need to have a look at some edge cases and add tests. I think I'll be able to find some time this weekend to finish this. I'll keep you updated.

[2020-07-24 08:26] #2669 closed

[2020-07-24 08:40] dlrac commented on #2239
@williamFalcon @Brechard I think it is related to:
https://github.com/pytorch/pytorch/issues/36428

The original post on the bug is here: https://discuss.pytorch.org/t/mixed-precision-autocast-error-for-a-simple-network/75580

[2020-07-24 09:32] JeremyAlain commented on #2540
Hey sorry, I was not able to reproduce the bug with a very simple MNIST example that I tried to create. Which means it might be something more intricate that happens with my current Reinforcement Learning set up. I can't share my research code though and right now don't have time to further investigate. However eventually I will have to figure out a solution or be able to reproduce the issue. I wi

[2020-07-24 09:32] #2540 closed

[2020-07-24 10:15] Brechard commented on #2239
yes Indeed, I had the same problem when trying on plain pytorch without lightning and got the same results so I guess this is a pytorch Issue and it is not lightning bug, therefore I will close it

[2020-07-24 10:15] #2239 closed

[2020-07-24 10:20] dlrac commented on #2239
Fun fact, with latest Pytorch, LSTM params from `self._flatten_weights` list remain `torch.float32` while the rest is correctly converted to `torch.float16` (e.g. `hx` and `input` tensor). I even tried to manually convert `self._flatten_weights` based on `input` type but that caused me some other problems down the road. What is unfortunate, this issue is present at least for couple of months and i

[2020-07-24 14:23] IgorDavidyuk commented on #2675
The problem was in dataloaders that I use, obviously.
Somehow length of some dataloaders is greater than number of batches they actually spit out, so the last did not trigger validation epoch start.

[2020-07-24 14:23] #2675 closed

[2020-07-24 14:41] jmarsil commented on #2683
I'm facing a similar issue to @asrafulashiq . I trained a model using ddp across 4gpus on our institution's slurm cluster. When running trainer.test(model) it seems like the script freezes. Help on this would be greatly appreciated!!  Here is a screenshot of the output of my slurm script for reference.

<img width="1213" alt="Screen Shot 2020-07-24 at 10 38 26 AM" src="https://user-images.githubus

[2020-07-24 15:29] remisphere commented on #2484
From #1896 it seems that the problem is rather on the docs side than `scale_batch_size()`'s implementation.
My above fix is thus also obsolete.

[2020-07-24 15:30] fepegar commented on #2484
My above fix is thus also obsolete.

I just tried your fix and it seemed to work :)

[2020-07-24 15:37] remisphere commented on #2484
Yes it does work, but from what they said in the PR I linked, `hparams` was just there as a temporary solution, and all hyper parameters are intended to be set as direct instance attributes in `__init__`.
My fix is obsolete regarding the intended usage of PL.

[2020-07-24 16:59] ydcjeff commented on #2678
`training_epoch_end` by default doesn't log histogram.
If you want to plot histogram on tensorboard, try `self.logger.experiment.add_histogram()`.

It's [the docs](https://pytorch-lightning.readthedocs.io/en/latest/experiment_logging.html#tensorboard).
PL supports every method of `SummaryWriter` class with `self.logger.experiment.summary_writer_methods`.

[2020-07-24 17:38] import-antigravity opened #2687 "training_epoch_end() only gives outputs from one optimizer when multiple optimizers are being used"
I'm making an abstract GAN class, where I have the following code:

[code]

In `training_epoch_end()`, `outputs` only contains the discriminator losses. Is this a bug, or am I doing something wrong?

[2020-07-24 18:09] andrewredd commented on #2678
Thanks Jeff!

The log_hists function that I have in the example is logging the entire the
model weights, the biases and the gradients and it does use the referenced
method.  Is the fact that if I don't return something from the function a
bug or user error?

On Fri, Jul 24, 2020 at 12:59 PM Jeff Yang <notifications@github.com> wrote:

[2020-07-24 18:55] zhenhuahu commented on #2684
Yes. That's exactly what I want. Thank you so much!

[2020-07-24 18:55] #2684 closed

[2020-07-24 19:28] thschaaf opened #2688 "Training on GPU failed with Torchtext when using include_lengths=True in torchtext.data.Field"
## 🐛 Bug

The issues raises in pytorch_lightning/utilities/apply_func.py which assumes that the attributes of a Batch from trochtext are Tensors, however if torchtext.data.Field is configured to include a length Tensor (include_lengths=True) the field is a tuple.

A bugfix is prepared and a PR can be submitted soon.

### To Reproduce

Steps to reproduce the behavior:

1. Use Torchtext Field with i

[2020-07-24 19:55] yukw777 commented on #2275
We can close this per https://github.com/PyTorchLightning/pytorch-lightning/pull/2423#issuecomment-663707172

[2020-07-24 20:00] yukw777 opened #2691 "Subprocess launched in ddp have the wrong cwd when using hydra."
## 🐛 Bug

Details: https://github.com/PyTorchLightning/pytorch-lightning/pull/2639#issuecomment-663601262. I've talked to @omry about the issue and I will send out a fix soon.

### To Reproduce

Please see the comment I posted above.

### Expected behavior

The CWD for subprocesses should be the same as that of the parent, and relative paths should work.

[2020-07-24 20:21] #2275 closed

[2020-07-24 21:25] Tarmily-Wen-Percepta opened #2693 "How to accumulate model outputs for across batch losses?"
I was hoping that setting accumulate_grad_batches=2 and implementing training_step_end would result in training_step_end receive output from both training_steps, so list of len 2 in args. But I only received the batch output from the latest batch.

The reason I want both batches is because I am using a contrastive loss, and I want to constrast the embedding across and within batches depending on t

[2020-07-24 22:06] #1784 closed

[2020-07-24 22:15] vchiley opened #2695 "ZeRO for Memory Optimizations"
## 🚀 Feature
Incorporate the [Zero Redundancy Optimizer (ZeRO)](https://arxiv.org/abs/1910.02054) for distributed training strategies.

### Motivation

Distributed training carries with it a lot of synchronization overheads. Incorporating ZeRO will help alleviate those overheads.

### Pitch

ZeRO will allow users to train distributed models with greater resource utilization.

### Alternatives

Inc

[2020-07-24 22:51] jloveric opened #2696 "Change the default checkpoint filename output to remove the = as in 'epoch=6.ckpt'"
The default checkpoint name output 'epoch=6.ckpt' has an equal sign in it which does not always play well.  In this case I'm having problems with the latest version of hydra on the command line.  The output could instead be changed to 'epoch.6.ckpt' which would look less like an injection attack!

[2020-07-24 23:26] zhenhuahu opened #2697 "Can't find PyTorch 1.6"
## ❓ Can't find pytorch 1.6

### Before asking:
1. search the issues.
2. search the docs.

#### I tried to use native amp and _[the document](https://pytorch-lightning.readthedocs.io/en/latest/apex.html#native-torch)_ says I need to have PyTorch 1.6. I went to [PyTorch's website](https://pytorch.org/) and can only find 1.5.1. I tried to install the Preview (Nightly) the error popped up:

torchvisi

[2020-07-24 23:28] ibeltagy opened #2698 "All TPU cores create tensorboard logs"
## 🐛 Bug

With TPUs, `TestTubeLogger` writes many empty tensorboard logs, one log per TPU core except one. This confuses tensorboard and prevents it from updating. This is happening because the logger is created before spawning processes then the logger is replicated in each process.

### To Reproduce

Train any model with `ptl.Trainer(logger=TestTubeLogger(), num_tpu_cores=8)` then check the `tf`

[2020-07-24 23:39] zhenhuahu opened #2699 "lightning and apex amp performance not improved"
## ❓ lightning and apex amp performance not improved

### Before asking:
1. search the issues.
2. search the docs.

#### I'm trying to use lightning and Apex amp to speed ddp training. I tried amp_level O0, O1, O2, and O3, and they use almost the same time (all around 45 minutes).

####
train_loader = DataLoader(dataset=train_dataset, batch_size=2, shuffle=True, num_workers=4)
val_loader = DataLoa

[2020-07-24 23:51] omry commented on #2696
Please file a an issue against Hydra. the grammar is new and I went with a more restrictive initial approach. = It's likely that = can be added as a supported character there.
for now you can quote the string for Hydra (not for the shell!).
[code]
In the shell you will need to either quote again or escape the `"`.
[code]
or
[code]

[2020-07-24 23:58] omry commented on #2696
for reference about the new grammar, please check [this](https://hydra.cc/docs/next/advanced/command_line_syntax). It describe quoting and the and shell issues as well.

[2020-07-25 00:37] ibeltagy opened #2700 "Checkpointing is broken on TPUs"
## 🐛 Bug

Pytorch/XLA saves checkpoints using the following syntax which is not supported in pytorch-lightning.
[code]
It is a little tricky to support because `xm.save()` has a barrier inside it and it checks for rank=0 while `torch.save` doesn't. This means `torch.save` should be called only on the process with rank=0 (which pytorch-lighting does) but `xm.save()` should be called by all processe

[2020-07-25 02:39] zhenhuahu opened #2701 "Multi-GPU Training GPU Usage"
## ❓ Multi-GPU Training GPU Usage

### Before asking:
1. search the issues.
2. search the docs.

#### Hi, I'm using lightning and ddp as backend to do multi-gpu training, with Apex amp (amp_level = 'O1'). The gpu number is 8. I noticed that during training, most of time GPU0's utilization is 0%, while others are almost 100%. But their memory usage are the same. Is this normal? I use OpenPAI and ha

[2020-07-25 02:51] MilesCranmer commented on #1894
Sure, no problem!

And happy to add to bolts instead if preferred. I'm curious: when does an algorithm move from bolts to the main framework? Though generally applicable to any NN, I don't think SWA/SWAG/MultiSWAG have found popular use yet. But at least SWA (=Stochastic Weight Averaging) seems like such a simple yet powerful strategy - you just average the weights in a final segment of training a

[2020-07-25 02:55] zhenhuahu commented on #2697
Already installed them in Docker. Turned out I need to specify wheels in that [html](https://download.pytorch.org/whl/nightly/cu102/torch_nightly.html). Thanks.

[2020-07-25 02:55] #2697 closed

[2020-07-25 03:00] xiadingZ opened #2702 "How to use DataModule and StructResult?"
## ❓ Questions and Help
I see newest has these two  features, and it seems very good.  Bug I can't find docs about how to use them. Can you give some examples? thanks.

[2020-07-25 03:57] #2620 closed

[2020-07-25 06:48] FrancescoSaverioZuppichini commented on #2619
@awaelchli Thank you for your reply. At this point, I don't see any point in continuing the discussion. I will just copy and paste the code over and over again hoping somebody will implement a new library with better practices soon. Thank you.

Be safe!

Francesco

[2020-07-25 08:50] Borda commented on #2275
resolved in #2681

[2020-07-25 12:09] Borda commented on #2695
@vchiley would you be willing to implement it?
cc: @PyTorchLightning/core-contributors

[2020-07-25 12:09] Borda commented on #2698
@lezwon mind have look?

[2020-07-25 12:10] Borda commented on #2700
@lezwon mind have look?

[2020-07-25 12:12] Borda commented on #2702
the docs is coming soon... :rabbit:
cc: @nateraw @williamFalcon

[2020-07-25 12:49] rohitgr7 commented on #2687
With `n` optimizers training_step function is called `n` times. Since here n=2 so after training_step the final batch_output are always `{'d_loss': d_loss}`. A hack I would suggest for now is:
[code]
or, simply
[code]

There is something new in pl `TrainResult`, not sure if that will make this easy to handle, but for now, this can be a workaround.

[2020-07-25 14:23] lezwon commented on #2698
WIll do :]

[2020-07-25 14:24] lezwon commented on #2700
sure :]

[2020-07-25 14:49] ibeltagy opened #2703 "`replace_sampler_ddp` doesn't create a shuffled sampler"
## 🐛 Bug

The `DistributedSampler` created using `replace_sampler_ddp` is not shuffled. Check the `kwargs` [here](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/trainer/data_loading.py#L195)

### Expected behavior

If training dataloader, create a shuffled `DistributedSampler`, else create a non-shuffled sampler. Even though the `train` flag is passed to the fu

[2020-07-25 14:56] ibeltagy commented on #2699
Can you check your gpu utilization without fp16 and make sure it is high? a low gpu utilization indicates that gpu compute is not the bottleneck and if this is the case, speeding your forward/backwork pass won't help much.
You can also try the pytorch-lightning profiler to see how much time is spent in the dataset reader vs. the forward/backward pass.

[2020-07-25 15:33] ibeltagy commented on #2700
Thanks, @lezwon. You might want to check this fix here https://github.com/ibeltagy/pytorch-lightning/commit/a5c8d182329a3be88f17f952bee9cc063116c515 which works but I don't like it. I also tried calling the functions inside `xm.save` [here](https://github.com/pytorch/xla/blob/master/torch_xla/core/xla_model.py#L782) in the main process only without the barrier but everything hangs, maybe because t

[2020-07-25 16:28] epignatelli commented on #1127
Is there a counter that keeps track of the validation steps already performed? Or using `self.global_step`?
`self.logger.experiment.add_scalar("val_loss", val_loss, self.global_step)`, or ..?

[2020-07-25 16:31] williamFalcon commented on #1127
yes! if you wait a day we’ll post docs on the new simple way of doing it :)

[2020-07-25 16:59] epignatelli commented on #1127
Oh, thanks @williamFalcon, that's great! Is there a specific pr I can scrabble through in the meanwhile?

[2020-07-25 17:17] import-antigravity commented on #2687
There's no `train_out` attribute

[2020-07-25 17:19] import-antigravity commented on #2687
I can try that, but I think the 'loss' key is getting overwritten instead of added to

[2020-07-25 17:24] import-antigravity commented on #2687
Okay, that made `g_loss` and `d_loss` save, but `loss` is still the discriminator loss.

[2020-07-25 17:26] zhenhuahu commented on #2699
Hi, thanks for the reply. The gpu utilization is quite high without fp16, but the memory is not high.
![amp0_gpu](https://user-images.githubusercontent.com/11988890/88462522-efeef100-ce79-11ea-8351-b91361040d5f.png)

Below is the result of using amp_level = 'O1'. I can see the memory is reduced a little bit but the utilization is still very high.
![amp_O1_gpu_usage](https://user-images.githubuserc

[2020-07-25 17:28] rohitgr7 commented on #2687
Yeah, loss will remain as discriminator loss due the the replacement happening here, since the key name is same in both the cases. But there will be a backward call for each loss, the gradient update is not a problem here.

[2020-07-25 17:44] import-antigravity commented on #2687
Okay. Let me make sure that the generator is actually being updated. Is this a bug, or is this how GANs should be trained at this point?

[2020-07-25 18:09] rohitgr7 commented on #2687
It has nothing to do with how Gans should be trained. It's just how lightning handles training step in case of multiple optimizers. The core backprop and update is happening correctly, no issue with that, but maybe in future this thing with training step will be fixed if required.

[2020-07-25 19:56] stas00 commented on #2385
huggingface/transformers text-classification PL example also run into this problem: https://github.com/huggingface/transformers/pull/6027#discussion_r460431866

[2020-07-25 19:57] ibeltagy opened #2705 "Weight tying is broken on TPUs leading to silent errors"
## 🐛 Bug

PyTorch/XLA documentation mentions [here](https://github.com/pytorch/xla/blob/master/TROUBLESHOOTING.md#xla-tensor-quirks) that weight tying should happen after moving tensors to XLA, otherwise the tensors are copied. This is a silent error that can easily go undetected (thanks to @matt-peters for pointing it out), and it would be good if PL guards the user against it. Notice that weight

[2020-07-25 20:19] import-antigravity commented on #2687
Okay, I'll keep it open for now because I think there should be a much better way to do this

[2020-07-25 20:20] lezwon commented on #2700
@ibeltagy Nice work :] I'll check out your solution and try and back with a fix on this.

[2020-07-25 20:29] awaelchli opened #2707 "Improve Design of DataModule"
## 🚀 Feature

### Motivation

Since the introduction of datamodules we have duplicated code. For example, the train/val/test_dataloader methods in LightningModule and DataModule have the same name, same docs, same signature but live in two files.
Also the argparse methods are copy pasted from Trainer, it will become impossible to maintain this in the future.

### Pitch

Factor out the hook definit

[2020-07-25 20:47] awaelchli commented on #2701
check the cpu usage, to make sure dataloading is not a bottleneck.

[2020-07-25 21:12] Borda commented on #2707
yes, just make them abstract...

[2020-07-25 22:34] awaelchli commented on #2619
About the code repetitions you mention, there is a way to get rid of them. You can define your default val- and test_step methods in a separate class and then inherit it in your various LightningModules. Btw I like the idea of the general purpose step method.

[2020-07-26 01:51] williamFalcon commented on #2619
in the latest version you don’t need step_end or epoch_end.

to use the same step you can just call validation_step from training_step.

docs will be updated in a few days

[2020-07-26 02:05] williamFalcon commented on #2707
A few things to keep in mind:

1. We want datamodules to be usable even if you're not using lightning for training.
2. We are moving away from Mixins.

[2020-07-26 02:29] #1809 closed

[2020-07-26 02:30] awaelchli commented on #2707
This won't be changed by my suggestion. It's just refactoring, nothing else.

Which mixins? I am aware that in Lightning some classes are named mixins but conceptually they are actually not and should not be called that. Mixins have their place and one should not confuse multiple inheritance with mixins. Could you clarify what you mean?

[2020-07-26 03:53] zhenhuahu commented on #2699
Hi, thanks for the reply. I used basic profiler and got the following results. In 'O0', the result is
![profiler-8gpu_numdown2_amp_O0](https://user-images.githubusercontent.com/11988890/88470900-46871a00-ced0-11ea-98ed-42e48d59b89c.png)
and I can see that 'model_forward' uses much more time than 'model_backward'.
I then used 'AdvancedProfiler' and the result is
`Profile stats for: model_forward

[2020-07-26 04:35] zhenhuahu commented on #2699
I commented the vgg loss, and found that the bottleneck for model_backward (method 'item' of 'torch._C._TensorBase' objects) is still there. But the model_forward has not bottleneck '{method 'new_tensor' of 'torch._C._TensorBase' objects}' anymore.

[2020-07-26 05:03] zhenhuahu commented on #2701
Hi, thanks for the reply. The total metric(including cpu, gpu) is as follows:

![Screenshot from 2020-07-26 00-58-22](https://user-images.githubusercontent.com/11988890/88471811-5b1cdf80-cedb-11ea-8b04-d71b5b4ef9b5.png)

From these images, I have no idea if dataloading is a bottleneck.

I also did profilers, as mentioned [in this issue](https://github.com/PyTorchLightning/pytorch-lightning/issues/

[2020-07-26 05:45] williamFalcon commented on #2619
Ok, docs have been updated!

## Quick start guide
https://pytorch-lightning.readthedocs.io/en/latest/new-project.html

## Or the walk-through
https://pytorch-lightning.readthedocs.io/en/latest/introduction_guide.html#validating

[2020-07-26 05:47] williamFalcon commented on #2702
Ok, v1 of the docs are live :)

The quick guide:
https://pytorch-lightning.readthedocs.io/en/latest/new-project.html#step-1-build-lightningmodule
https://pytorch-lightning.readthedocs.io/en/latest/new-project.html#data

The detailed docs for datamodule:
https://pytorch-lightning.readthedocs.io/en/latest/datamodules.html

[2020-07-26 05:47] #2702 closed

[2020-07-26 06:47] FrancescoSaverioZuppichini commented on #2619
Hi @williamFalcon,

I hope you are doing great. Thank you for the reply, I am doing image classification and I want to return the same metrics from all my dataset splits.

I have found it very hard to understand what I have to return from each `*_step` and I am used to code a lot. I am sorry to say but the new APIs do not look great, it seems (to me) to have even complicated more the codebase. Wha

[2020-07-26 12:12] williamFalcon commented on #2619
Could you give me an example of how it might work? Also consider the following

- it needs to allow the user to only log
- it needs to allow the user to only show in progress bar
- it can allow both or neither
- it can be the metric for every step
- or it can be the metric for the full epoch
- or it can be both
- and for more complicated use cases (lightning js a Pro tool after all and not somethi

[2020-07-26 12:19] rakhimovv commented on #2683
the same issue

[2020-07-26 12:30] rakhimovv commented on #1640
the same issue, please reopen

[2020-07-26 14:24] lezwon commented on #2700
@ibeltagy I am able to reload the checkpoint successfully, however, the training fails due to some xla device issue. Is it the same error you face? could you share a notebook reproducing this issue?

[2020-07-26 16:16] jacobdanovitch commented on #2637
Just saw your edit. This seems to work if I **don't** specify the number of gpus; when I do, same error.

[2020-07-26 17:21] Ceceu opened #2714 "Logging loss, metric, and figure to TensorBoard (over train, test and validation step)"
In my research project the `training_step`, `test_step` and `validation_step_step` is implemented as follows:

[code]

But I couldn't find an approach to logging the `loss` value neither the `mrr_metric` using a logger like TensorBoard.
It would also be interesting to save the `figure` generated by the metrics in the logger as well.

Currently, the trainer is configured as:

[code]

However, after

[2020-07-26 17:29] #2601 closed

[2020-07-26 17:56] awaelchli commented on #2527
Fixed here #2681

[2020-07-26 18:17] Ceceu commented on #2608
Thanks @ydcjeff,

I was able to print the mrr metric using you instruction:
[code]
During training, for some reason,  it is not showing all digits of the metric (only the first digits). As if there was a limit on the size of the line that is printed on the terminal.

[code]
In the code snippet above, at the end, `m` would have to be of the form `0.785`. But only up to the `"."` is shown.

[2020-07-26 18:26] jloveric opened #2715 "When I call Trainer.test it calls both "test" and "fit" stages of setup - should it just be "test""
## 🐛 Bug
When I call Trainer.test it calls both "test" and "fit" stages of "setup" function.  Shouldn't it just call test?

### To Reproduce

You can actually look through the code to see that this will happen since self.fit() is called.  Follow trainer.test() then choose the function self.__test_given_model(model, test_dataloaders) and then self.fit(model) is called.  Also, you can just print out

[2020-07-26 21:15] rohitgr7 commented on #2715
Can you check on master? It's fixed #2624.

[2020-07-26 21:28] rohitgr7 commented on #2714
Try: https://pytorch-lightning.readthedocs.io/en/stable/experiment_reporting.html#log-metrics
[code]
Similarly for val/test.

[2020-07-26 21:54] j20232 commented on #2550
I caught the same bug introduced in this issue.

[pytorch_lightning.core.saving.ModelIO.load_from_checkpoint()](https://pytorch-lightning.readthedocs.io/en/latest/api/pytorch_lightning.core.saving.html#pytorch_lightning.core.saving.ModelIO.load_from_checkpoint) has `args` in the arguments to initialize `pl.LightningModule`.
If the module has multiple arguments, the method doesn't work correctly.

[2020-07-26 22:00] rohitgr7 commented on #2550
Current workaround suggested here: https://github.com/PyTorchLightning/pytorch-lightning/issues/2550#issuecomment-659568926

[2020-07-26 22:34] Ceceu commented on #2714
Thanks @rohitgr7, it helped a lot.

I realized that I can add images to the log using `self.logger.experiment.add_image ...`.
But how could I do this only at the end of each epoch?

[2020-07-26 22:40] rohitgr7 commented on #2714
Override this in LightningModule?
https://github.com/PyTorchLightning/pytorch-lightning/blob/3f2c1022ab0e7027822a2acd66debc8afa90d5d6/pytorch_lightning/core/hooks.py#L112-L116

[2020-07-26 22:45] j20232 commented on #2550
Oh sorry, I missed the comments.
Thank you! I'll try it!

[2020-07-26 22:53] Ceceu commented on #2714
I also thought about override that callback. However, I still need data (from the training or validation set) to generate the image. In the context of the `def on_epoch_end(self)` method, I do not know how to obtain it.

[2020-07-27 01:17] romesc-CMU commented on #2714
If you want to log at the end of training, use [training_epoch_end()](https://pytorch-lightning.readthedocs.io/en/latest/api/pytorch_lightning.core.html?highlight=training_epoch_end#pytorch_lightning.core.LightningModule.training_epoch_end).

I usually log an image of my outputs during `validation_epoch_end()` in practice.

Here's a little snippet of what I had been doing (although, maybe this wil

[2020-07-27 01:42] Ceceu commented on #2714
If I could understand well, you return batch data from each `validation_step` call, which is maintained in memory through `outputs`. Is that correct? If so, this can be prohibitive due to the hardware limitations I have at my disposal.

[2020-07-27 01:52] romesc-CMU commented on #2714
Yep, if you look at [this line in the eval loop](https://github.com/PyTorchLightning/pytorch-lightning/blob/3f2c1022ab0e7027822a2acd66debc8afa90d5d6/pytorch_lightning/trainer/evaluation_loop.py#L353), this is what it always does. That's a good point though, I have been keeping my validation sets pretty small so it hasn't been an issue. I guess ideally, one would only retain and visualize the very

[2020-07-27 01:56] Ceceu commented on #54
Is there an approach to only log a subset of images instead of all over the `validation_step` or `test_step` call?

[2020-07-27 02:10] Ceceu opened #2716 "Live long and prosper"
This issue is just to thank the PyTorch Lightning team.

Even though my beginner knowledge over Pytorch and other Deep Learning frameworks, I was able to easily implement a quite complex model that is clearly written and completely reproducible.

I hope to contribute in some way in the near future.

[2020-07-27 02:21] Ceceu opened #2717 "TensorBoard logging in validation_step and test_step"
Even defining the log in all steps of the PL model:

[code]

I could visualize only the `train_loss` and `train_mrr` on TensorBoard. I mean, `test_loss` and `test_mrr` do not appear in TesorBoard. Similar behavior happens with `val_loss` and `val_mrr`.

[2020-07-27 02:49] xiadingZ opened #2718 "datamodule how to load checkpoint"
## ❓ Questions and Help
Trainer will automatically save a checkpoint. Is this checkpoint shared by model and datamodule, datamodule can load this checkpoint as model `load_from_checkpoint`

[2020-07-27 05:34] rohitgr7 commented on #2717
Usually in pl as of now, logging is done at the `epoch_end` for each train/val/test except for train where it is done at step level too. You can still use `self.logger.experiment.log_metrics()` in step function of val/test to log them at step level.

[2020-07-27 05:38] #1880 closed

[2020-07-27 06:02] leockl opened #2720 "Does Pytorch-Lightning have a multiprocessing (or Joblib) module?"
## ❓ Questions and Help

#### What is your question?

I have been googling around but can't seem to find if there is a `multiprocessing` module available in Pytorch-Lightning, just like how Pytorch has a `torch.multiprocessing` module.

Does anyone know if Pytorch-Lightning has this (or a `Joblib` similar) module? I am looking for a Pytorch-Lightning module which allows me to parallelize over mult

[2020-07-27 06:38] #1711 closed

[2020-07-27 08:08] ydcjeff commented on #2608
It's weird. It didn't even show `]`. Are you on jupyter or pycharm?

[2020-07-27 08:17] Joel-hanson commented on #2491
@Borda shall I take this up?

[2020-07-27 08:25] Borda commented on #2491
@Joel-hanson sure, I have started some work, mind check #2491 first?

[2020-07-27 08:38] #1875 closed

[2020-07-27 09:23] ydcjeff commented on #2678
@andrewredd sorry for the delayed reply, currently we need to return empty dict in `training_epoch_end` to make it work. But, Lightning will be supporting `return None` in the future.

[2020-07-27 09:52] Diuven opened #2722 "Slow accuracy metric"
## 🐛 Bug

Accuracy class from metrics.classification is too slow, compared to pytorch vanilla implementation.

### To Reproduce

Try the following demo code.

#### Code sample

[code]

On my machine, the results are like the following.

[code]

100x ~ 10000x more time is needed for pl's accuracy, depending on the num_classes argument.

### Expected behavior

Pytorch-lightning's accuracy function s

[2020-07-27 10:02] Diuven commented on #2722
Eh, now this issue looks a lot like a enhancement issue. Sorry :sweat_smile:

I saw the implementation of the accuracy function, and I noticed a few metric functions depend on the [stat_scores_multiple_classes](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/metrics/functional/classification.py#L137) function.

I think this function is way too slow, as it doesn'

[2020-07-27 12:30] Ceceu commented on #2608
Pycharm.

[2020-07-27 12:38] #1888 closed

[2020-07-27 13:46] pamparana34 commented on #2586
*bump*: Is there any interest in this?

[2020-07-27 14:32] jpblackburn opened #2724 "Issues with Confusion Matrix normalization and DDP computation"
## 🐛 Bug

I started using the ConfusionMatrix metric to compute normalized confusion matrices within a mult-GPU DDP environment.  However, I found the following issues:
1. The normalization divisor is computed correctly in a row-wise manner; however, the division is applied column-wise.
2. The normalization does not protect against divide by zero if there is no data in a particular row.  While thi

[2020-07-27 15:31] edenlightning commented on #2716
Happy to hear that :) Have you checked out our ["good first issue" label](https://github.com/PyTorchLightning/pytorch-lightning/labels/good%20first%20issue)? It has many ideas. Also you can [join our slack channel](https://join.slack.com/t/pytorch-lightning/shared_invite/zt-f6bl2l0l-JYMK3tbAgAmGRrlNr00f1A) to talk some more!

[2020-07-27 16:33] topshik opened #2725 "How to access wandb logging directory from lightning?"
## I want to solve simple task: store .yaml config file in the same folder where checkpoints are saved

I'm using following tools:
1. lightning
2. hydra for reading configs
3. lightning wandb logging interface

I see following options:
1. save everything with hydra to it's `outputs` directory.
  Pros: directory is easily accessible with `os.getcwd()`, so everything can be managed manually if neede

[2020-07-27 16:49] matt-peters commented on #2700
Loading the checkpoint fails only fails when loading without a TPU device available, as `torch.save` will write out XLA tensors instead of pytorch tensors.  This a common workflow to train on TPU, but then move to a CPU or GPU for further processing.  As a result, I don't think it's possible to reproduce with a notebook. `xm.save` moves everything to CPU before saving to avoid this problem.  I ope

[2020-07-27 16:53] #2527 closed

[2020-07-27 16:53] #1812 closed

[2020-07-27 17:00] topshik opened #2727 "Hydra configs with multi GPU DDP training in Pytorch Lightning"
As far as I understand DDP backend runs my training script from beginning for each GPU that I use. Is there a way to avoid creating different hydra `output` directories in each of the scripts? Should I block somehow every process except one with local rank 0? In my case I'm saving model checkpoints and .yaml file to default hydra output directory, but config file is copied twice and checkpoints ar

[2020-07-27 17:44] edenlightning commented on #987
Closing this issue, as this will be done in Bolts: https://github.com/PyTorchLightning/pytorch-lightning-bolts/issues/128.

[2020-07-27 17:44] #987 closed

[2020-07-27 18:05] edenlightning commented on #1089
This was added [here](https://pytorch-lightning.readthedocs.io/en/latest/multiple_loaders.html#test-val-dataloaders). Closing.

[2020-07-27 18:05] #1089 closed

[2020-07-27 18:51] calclavia commented on #2673
There's also another related issue I've been getting that may be related. I notice Lightning switched from O1 to O2 AMP level between versions 0.7 to 0.8.5. This can break models trained on older versions.

[2020-07-27 19:00] topshik commented on #2727
I've just found out that process local rank can be accessed via `local_rank = os.environ.get("LOCAL_RANK", 0)`, because this is how lightning handles it under cover. Seems like there is needed some clarification on how to work with different DDP processes in the docs.

[2020-07-27 19:16] zhenhuahu commented on #2699
I t turns out that I used '.new_tensor' to normalize input every time I call vgg loss. This caused a lot of extra work in model_forward. And using pytorch 1.6 native amp instead of Apex solved the model_backward problem. I don't know why Apex amp doesn't work. Maybe because I use 'ddp' as backend.

Thanks for your help!

[2020-07-27 19:16] #2699 closed

[2020-07-27 20:43] Borda commented on #2124
that is spawn issue, shall be fixed in #2632

[2020-07-27 20:44] Borda commented on #1956
that is spawn issue, shall be fixed in #2632

[2020-07-27 20:46] Borda commented on #1832
@Alikerin feel free to reopen if the issue holds... :rabbit:

[2020-07-27 20:46] #1832 closed

[2020-07-27 20:48] Borda commented on #1363
will be fixed in #2726

[2020-07-27 21:48] xujiaze13 commented on #1595
What is `v_num` meaning?

[2020-07-27 21:56] romesco opened #2728 "Best Practices: logger.experiment.add_image() at end of epoch when using new simplified pl.Train/EvalResult objects"
#### Question:
What are we going to consider best practice for visualizing images, embeddings, etc. to tensorboard when using pl.Train/EvalResult objects?

In light of #2651 and related PRs, what's the right way to do this?

Let's say we have a dataset of images, and we want to visualize a single batch of reconstructions once per epoch. I typically do this in `validation_epoch_end()`, using `logge

[2020-07-27 21:56] #2531 closed

[2020-07-27 21:57] romesc-CMU commented on #2714
Asking related, but more specific question in #2728.

[2020-07-27 22:02] awaelchli commented on #1595
@xujiaze13 v_num is the version number of the experiment. Depending on the logger, this can be a simple counter that increases everytime you run the trainer. For other loggers, they have alphanumeric identifiers which can be quite long and fill up much of the tqdm progress bar, leaving no room for the important metrics to monitor.

[2020-07-27 22:25] romesc-CMU commented on #2728
I guess one other detail I will add is that it's unclear which of these has control over logging 'avg_val_loss', given that this used to be one role of `validation_epoch_end` and its magic keyword `'avg_val_loss'` in the returned dict.

Using the new way outlined above, I'm still getting this error:
[code]

[2020-07-27 22:29] romesc-CMU commented on #2728
Looks like using
`return {'loss': avg_val_loss}`
at the end of `validation_epoch_end()` fixes that warning, but when combined with `EvalResult`, I don't really understand why it should be necessary to return that at all for checkpointing.

[2020-07-27 22:31] Ceceu commented on #2714
Great! I've already subscribed to know the best practice on this.

[2020-07-27 22:32] Ceceu commented on #2728
It would be great an example possibly in Colab in which it is shown good practices logging the loss and other metrics as well as examples of samples (some images like in VAE,  for instance) over `train/val/test`.

[2020-07-27 22:40] romesc-CMU commented on #2728
I have this all set up for a VAE, but I want to make sure I'm doing best practices with the latest updates. Once we come to a consensus on this, I can provide a colab link. 😁 There's also the bolts repo, which we could update!

[2020-07-27 22:43] joyousprakhar commented on #555
Is it resolved?
My process is getting frozen when EarlyStopping tries to stop the training while using DDP with 4 GPUS. It seems to stop correctly when calling EarlyStopping on a single GPU with DDP. Also, DP works as well with 4 GPUS

[2020-07-27 23:07] #1956 closed

[2020-07-27 23:07] #2124 closed

[2020-07-28 00:28] sooheon commented on #1726
I'm on 0.8.5 and still seeing this error, is this not in a stable release yet?

[2020-07-28 00:29] zhenhuahu opened #2730 "Horovod and Native Amp not work"
##🐛 Bug
I'm no sure if there is a bug. But when I was tryng to use Horovod as backend to do native amp in PyTorch 1.6, Lightning always points to the function that uses apex amp instead.

### To Reproduce

Steps to reproduce the behavior:

1. Go to 'trainer/distrib_parts.py'
2. Run '....'
3. Scroll down to '....'
4. See error

![torch16_horovod_error](https://user-images.githubusercontent.com/1198

[2020-07-28 01:01] williamFalcon commented on #555
upgrade to 0.8.5

[2020-07-28 08:16] odats opened #2733 "AttributeError: module 'pytorch_lightning' has no attribute 'LightningDataModule'"
Name: pytorch-lightning
Version: 0.8.5

<img width="670" alt="Screenshot 2020-07-28 at 11 13 38" src="https://user-images.githubusercontent.com/944379/88638111-b6112b00-d0c3-11ea-88dd-f07947d21986.png">

following latest doc: https://pytorch-lightning.readthedocs.io/_/downloads/en/latest/pdf/

[2020-07-28 08:23] ydcjeff commented on #2733
To use `LightningDataModule`, you have to use latest master or RC release.
You can install RC release with `pip install pytorch-lightning==0.9.0rc2`

[2020-07-28 08:40] ydcjeff commented on #2608
Mind share the minimal code?
It's working properly [on colab](https://colab.research.google.com/drive/1nzVh8xeEGLOJvSZ0Ih7WccNHgI1gDzaD?usp=sharing) tho.

[2020-07-28 12:01] etienne87 opened #2735 "how to resume in the same folder"
when i launch the pytorch lightning trainer fit(), to resume it seems you can pass one old checkpoint, but i am not sure if it is possible (or perhaps it is chosen not to) to simply resume the current training in the same "version" sub-folder?

[2020-07-28 12:38] remisphere opened #2736 "Use pytorch-like `ignore_index` instead of `remove_bg` for IoU"
## 🚀 Feature

PL's implementation of the [IoU metric](https://github.com/PyTorchLightning/pytorch-lightning/blob/a3aebc1350cd1a4140ab5f2d5ac36d60ab918262/pytorch_lightning/metrics/functional/classification.py#L919-L965) has a `remove_bg` flag that allows to ignore the background class.
I propose changing it to be the same as PyTorch's loss functions,
that is an `ignore_index` argument that takes t

[2020-07-28 15:22] sergevkim opened #2737 "How to configure steps of multiple optimizers for GANs"
## 🚀 Feature
Custom number of steps in generator and discriminator

### Motivation
I've spent a lot of time looking for some example of using different number of steps for G and D, but I didn't find anything.
However, GANs are very capricious. Is it possible to append this feature?

Maybe I missed it. Can you give me an example of how to use it?

[2020-07-28 15:53] edenlightning commented on #1661
Closing this. @stas6626 please reopen if still needed.

[2020-07-28 15:53] #1661 closed

[2020-07-28 15:54] remisphere opened #2742 "[DataModule] `prepare_data()` and `setup()` not called"
## 🐛 Bug
It seems that when using DataModule to separate training logic and data loading,
of the [five methods](https://pytorch-lightning.readthedocs.io/en/latest/datamodules.html#methods) that should be called that are
`prepare_data()`, `setup()`, `train_dataloader()`, `val_dataloader()` and `test_dataloader()`,
only the last three are actually used, witch is problematic since the datasets used b

[2020-07-28 15:59] edenlightning commented on #2143
@ZhaofengWu Checking in :)

[2020-07-28 16:18] nateraw commented on #2742
1. you're not specifying the `datamodule` kwarg in trainer.fit() - your last line should look like this: `trainer.fit(model, datamodule=data_module)`

2. In this first iteration of `LightningDataModule`, you have to call setup and prepare_data manually for the datamodule instance. We have it set up this way so if you don't want to use Lightning, you can use your datamodule's loaders with pure Pyto

[2020-07-28 16:39] remisphere commented on #2742
1. is not true in 0.9.0rc2: a data module as second positional argument is taken care of [here](https://github.com/PyTorchLightning/pytorch-lightning/blob/5dc8c1d35529cd8ee878d49972a78b3b738aaaf9/pytorch_lightning/trainer/trainer.py#L980-L982).

2. I don't have a global enough view to know what other users might want, so if it is a feature i'm fine with it.
I just saw that the manual call was in t

[2020-07-28 18:08] #1768 closed

[2020-07-28 18:08] #1853 closed

[2020-07-28 19:53] nateraw commented on #2733
Closing, as this is a version issue.

[2020-07-28 19:53] #2733 closed

[2020-07-28 20:29] #2635 closed

[2020-07-28 20:31] edenlightning commented on #2470
Closing this. @Laksh1997 please reopen if still relevant.

[2020-07-28 20:31] #2470 closed

[2020-07-28 20:32] #1595 closed

[2020-07-28 20:33] #2691 closed

[2020-07-28 20:47] nateraw commented on #2737
I believe what you're looking for is already built in 😄 ...although it may take a little digging in docs to figure out what to do for your exact intentions/use case.

**These two things might help:**
  1. Refer to documentation on how to [step optimizers differently](https://pytorch-lightning.readthedocs.io/en/latest/optimizers.html#step-optimizers-at-arbitrary-intervals)

[code]

  2. Explicitly

[2020-07-28 21:15] Ceceu commented on #2608
Indeed it's working properly on Colab. Maybe this is a similar issue with #1399.

[2020-07-28 21:22] Kshitij09 commented on #2022
I didn't see this line on logger [documentation](https://pytorch-lightning.readthedocs.io/en/latest/api/pytorch_lightning.loggers.html#using-loggers).  Is it removed?

[2020-07-28 21:39] awaelchli commented on #2569
Fixed in #2738

[2020-07-28 21:39] #2569 closed

[2020-07-28 23:10] #1876 closed

[2020-07-29 00:10] #1810 closed

[2020-07-29 05:21] ZhaofengWu commented on #2143
Ah sorry I overlooked this. I might not have the time recently to do this. Sorry :(

[2020-07-29 05:46] nateraw commented on #2737
I'm fairly sure this and other information in the documentation answers your question, so I'm going to close this. Feel free to reopen if I'm wrong.

[2020-07-29 05:46] #2737 closed

[2020-07-29 06:41] #1906 closed

[2020-07-29 06:41] #1910 closed

[2020-07-29 07:41] #1911 closed

[2020-07-29 09:56] qiuhuaqi commented on #2728
I'm trying to find a best practice for this. Any advice? (I work with 3D medical images so memory is definitely a concern!)

[2020-07-29 10:05] qiuhuaqi commented on #2728
I'm trying to log some figures once per epoch in `validation_epoch_end()` but struggles to find a good practice.
In addition to model outputs, I also need to return some input data in (effectively your) `step_dict` for visualisation.

I don't want to accumulate a list in the validation loop as I only want one set of images per epoch. Any advice?
(I work with 3D medical images so memory is definite

[2020-07-29 11:12] InCogNiTo124 opened #2749 "[DataModule] PyTorch datasets as DataModules out of the box"
## 🚀 Feature

PyTorch already has datasets (MNIST, CIFAR, etc). It would be very convenient to provide those datasets out of the box as DataModules

### Motivation

To reduce the boilerplate. I mean, if I had the possibility not to reimplement / copy-paste the same code again, I would rather not do that, and I'd use the already implemented solutions. The entire PyTorchLightning was built with this

[2020-07-29 11:42] Borda commented on #2749
I think it is a good suggestion, @PyTorchLightning/core-contributors

[2020-07-29 11:53] williamFalcon commented on #2749
yes. this is i think what we have already started in bolts!

want to add the missing torchvision datasets to it?

[2020-07-29 12:17] InCogNiTo124 commented on #2749
I'd like to, but I'm unsure if I have the time to do it in case this is very important. I could probably slowly do it over 2-3 weeks, if that's not an issue :)

[2020-07-29 12:19] williamFalcon commented on #2749
no problem. Maybe create GH issues for each dataset?

and do one at a time?

[2020-07-29 12:19] williamFalcon commented on #2749
(gh issues in bolts)
fyi @nateraw

[2020-07-29 12:24] InCogNiTo124 commented on #2749
Makes sense. I'll open a separate issue per dataset in Bolts.

Also, what do you thinkk about leaving this issue open until everything is implemented?

[2020-07-29 13:27] iliemihai commented on #2148
I am facing the same issue. Even if I run the code on 8 core TPU one iteration takes 35s, the same as running on 1 core TPU.

[2020-07-29 13:54] Borda commented on #2148
@iliemihai @rahulvigneswaran we had a bug there so multicore was not running in fact... shall be fixed now #2632 mind try actual master? also, mind send a PR with some parity speed testing?

[2020-07-29 13:58] samikhenissi commented on #2658
Anyone who wants to reproduce the issue here is the code: https://github.com/samikhenissi/pl_neumf

I am not sure if it is a hardware issue from my part or a bug. The speed just randomly drops for one iteration and goes back up again. The callback showed that I am still using the GPU for the model but with very low speed.

[2020-07-29 14:20] ydcjeff opened #2751 "[DataModule] Datamodule setup in docs shows non-existent stage arg"
## 🐛 Bug

### To Reproduce

[Colab Minimal code](https://colab.research.google.com/drive/1nzVh8xeEGLOJvSZ0Ih7WccNHgI1gDzaD?usp=sharing)

### Expected behavior

DataModule should call `prepare_data` and `setup`

### Environment

- Colab

### Additional context

PL Version: 0.9.0rc3

[2020-07-29 14:42] remisphere commented on #2736
Actually, moving the channel after the loss computation is not even possible, since it would mess up the back-propagation.
So I am stuck with the alternative of doing it at the data-set level, which might not be the best thing regarding reproducibility.

[2020-07-29 15:08] ydcjeff commented on #1985
@Borda I think this is fixed on latest docs with the awesome GIF.

[2020-07-29 15:26] ydcjeff commented on #1860
@Borda this has been fixed on latest docs, but not on `0.8.5` docs

[2020-07-29 15:29] ydcjeff commented on #1856
@drozzy that diagram has been updated with the new GIF

[2020-07-29 15:33] #1985 closed

[2020-07-29 16:54] awaelchli commented on #2658
Can reproduce using this code, but don't know yet what's causing it. My observations so far:
- it also happens on cpu (if you set gpus=0)
- does not look to be related to logging, row_log_interval, log_save_interval, progress bar refresh rate
- does not look like a data loading issue
- in my case, the it/s display does not drop, I only see interruptions directly looking at the iteration counter.

[2020-07-29 17:00] remisphere opened #2753 "Correctly using IoU and ConfusionMatrix"
## ❓ Questions and Help

### Before asking:
- [x] search the issues.
    - related: #2724
- [x] search the docs.
    - related: [confusion_matrix](https://pytorch-lightning.readthedocs.io/en/latest/metrics.html#confusion-matrix-f), [iou](https://pytorch-lightning.readthedocs.io/en/latest/metrics.html#iou-f)

#### What is your question?
Hello,
I've been trying to use the [IoU](url) and [ConfusionMa

[2020-07-29 18:41] #1915 closed

[2020-07-29 18:47] qiuhuaqi commented on #1189
Why not merge the two flags together?
e.g. keep only `val_check_interval`, use `int` to specify the number of batches, use `float` to specify in terms of epochs

`val_check_interval=3.0` => validation every 3 epochs,
`val_check_interval=10` => validation every 10 batches within an epoch

in the unlikely case of `val_check_interval=3.5` => validation every 3.5 epochs, (triggering `validation_epoch_

[2020-07-29 19:33] williamFalcon commented on #1189
yeah... this seems pretty complicated. if you need to read the docs and not derive it from the syntax, it's too complicated

[2020-07-29 19:51] drozzy commented on #1856
The new gif just removed the argmax part (which was not needed), but it is still wrong.

It did not add `log_softmax` or make use of `crossentropy` loss as per my previous suggestion.

P.S.: It is also much harder to see what's going on with the animations, so I had to take a screen shot.

<img width="407" alt="Screen Shot 2020-07-29 at 3 50 41 PM" src="https://user-images.githubusercontent.com/14

[2020-07-29 19:54] nateraw commented on #2742
@remisphere I totally didn't notice! You were completely right on the dm arg. things move fast haha.

Reopening actually, as I think your intended use is more user friendly.

[2020-07-29 19:58] qiuhuaqi commented on #1189
Fair enough. Renaming would be great though. Took me a while to find both flags.
How about:
`check_val_every_n_epoch` -> `val_every_n_epoch`,
`val_check_interval` -> `val_freq_in_epoch`

[2020-07-29 20:13] edenlightning commented on #2749
Not sure what the value is in having duplicate tickets, but we can leave this open for now until new issues are opened in Bolts. Make sense?

[2020-07-29 20:17] edenlightning commented on #2736
@j-dsouza mind taking a look?

[2020-07-29 20:22] edenlightning commented on #2730
Horovod is incompatible with pt 1.6. This is [disabled](https://github.com/PyTorchLightning/pytorch-lightning/pull/2744) until horovod issue is fixed.

[2020-07-29 20:22] #2730 closed

[2020-07-29 20:29] nateraw commented on #2749
@InCogNiTo124 lets move the discussion to bolts repo for now. We're building out all sorts of support for different datasets there.

The datasets you mentioned aren't from`torch`, to my understanding. They're from `torchvision`, which isn't included as a requirement here. If we want to support `torchvision` or `sklearn` datasets directly in lightning, we can have that in a future PR.

Thanks for t

[2020-07-29 20:29] #2749 closed

[2020-07-29 20:51] #2696 closed

[2020-07-29 21:06] Borda commented on #1860
@ydcjeff we most likely won't fix pas docs, sorry

[2020-07-29 21:06] #1860 closed

[2020-07-29 21:13] edenlightning commented on #1381
@mcarilli mind checking if the issue is still on master?

[2020-07-29 21:49] import-antigravity opened #2757 "How to suppress GPU/TPU device information warnings"
#### What is your question?
I'm training lots of modules in succession in a Jupyter notebook and I set `weights_summary=None` in the trainer in order to stop having the model summary print over and over again, but the following GPU/TPU information is printing:

<img width="1040" alt="Screen Shot 2020-07-29 at 4 46 04 PM" src="https://user-images.githubusercontent.com/24441495/88856936-00290800-d1b

[2020-07-29 21:53] #1547 closed

[2020-07-30 00:48] thepowerfuldeez opened #2758 "How to make stages?"
Hi! Thank you for a great framework! I've tried to write down stages for training. E.g. in my config:

[code]

and in train.py:

[code]

I'm using early stopping which make one iteration in aforementioned loop (another way which i'm also tried is to wait `max_epochs` epochs).
The problem is that second call to `trainer.fit` initializes DDP one more time and program is crashing because ip address i

[2020-07-30 07:34] justusschock commented on #2305
@tridao to follow up on this, can you maybe create a PR that changes this to a warning maybe and ping me on it?

[2020-07-30 08:09] justusschock commented on #2722
Hi @Diuven , I was able to reproduce your results.

I agree, that this is a huge slowdown and we should fix it. Unfortunately, I am not quite sure, why this happens.

I have profiled the code and by far the most time is taken to compute the stat scores.  Although I don't know why this takes that long in PyTorch, I am afraid, that we need a more general version. Do you have a proposal on how to par

[2020-07-30 08:35] justusschock commented on #2753
Hi @remisphere,
The idea here is to compute them on your whole dataset (e.g in `validation_epoch_end`). Therefore you currently have to collect your results by returning them in `validation_step` as part of the dict.

basically it would be something like this:

[code]

We are currently working on a V2 for metrics, which will include some aggregation mechanisms, but I'm afraid, it will still take s

[2020-07-30 08:47] Diuven commented on #2722
Hi @justusschock , thanks for your reply.

Yeah, I agree on not having duplicate codes in pl. It would be great if we simply replace `stat_scores_multiple_classes` with faster version.

Though I haven't profiled the code, I think the main reason is that there is no parallelism on `num_classes`. In current implementation of `stat_scores_multiple_classes`, we simply run for loops to compute states f

[2020-07-30 08:52] justusschock commented on #2722
You're right that this would be great. Mind putting together a draft? I would for sure help you with that.

Also it's worth mentioning, that PLs version will always be a bit slower than the pure pytorch version, since it does a bit more. I also checks all incoming and outgoing arguments for device and type and converts them if necessary :)

[2020-07-30 09:05] remisphere commented on #2753
Thank you @justusschock, that makes sense.

I have indeed seen some example where the full prediction is returned in the validation step, but I'm concerned it will eat up my memory if the validation data-set is a bit large, not talking about tracking the metric for the training data-set (unless it is stored to disk until the epoch's end ?).

I'm looking forward to the V2 then, happy to see PL flou

[2020-07-30 09:09] #1923 closed

[2020-07-30 09:09] #1924 closed

[2020-07-30 09:16] Diuven commented on #2722
Here's my draft:

[code]

Please check if I missed something big there. If it seems right, I'll work on it and make pull request.

Yeah, that's a really great part of PL, and why I like it. :smile_cat: I agree on compromising a bit of speediness to get huge convenience. All we need is just comparable performance to vanilla case, in my opinion.

[2020-07-30 09:32] Borda commented on #2698
@ibeltagy mind check it with the latest master?

[2020-07-30 09:53] Diuven commented on #2722
I checked the code below with the demo code at the top, and it was 10x faster than the previous code, but still slower than the vanilla code and still depends on the `num_classes`.

[code]

I think if we don't give up the `(num_classes, )` sized tensor results, this is as far as we can get. If we make another version of `stat_scores_multiple_classes` returning only sums of the stats, it would be f

[2020-07-30 11:07] justusschock commented on #2722
That's a great improvement :)

As long as we only end up with these two alternatives and not one version per metric this should be fine, I think. But doesn't that also depend on the reduction type?

[2020-07-30 11:12] justusschock commented on #2753
@remisphere I'm aware that this may be a memory issue, but we don't store it to disk on default. You could do so manually and just pass the file path to epoch end to restore it. I'm familiar with the way, ignite handles it, but IMO it's not that intuitive and it also does not change much, since you also need all the data to compute the cm.

[2020-07-30 11:53] remisphere commented on #2753
Ok, thanks for the advice !
To me it looks like Ignite doesn't store all the data (see [here](https://github.com/pytorch/ignite/blob/6faa6ac1e3a46c79e0dfcfd976439b86329717b0/ignite/metrics/confusion_matrix.py#L93-L109)), but aggregate statistics, just like what you are planning to do.

[2020-07-30 11:53] #2753 closed

[2020-07-30 12:09] AAnoosheh opened #2761 "0.8.1 keeps writing into "version_0" folder instead of creating new version_1/2/3..."
0.7.6 (I believe) would properly create a new "version_X" folder per run, but since upgrading to 0.8.1, it no longer does this.

Here's my logging-related code in my train script, which are then passed onto Trainer:
[code]

[2020-07-30 12:10] AAnoosheh commented on #2735
I can't get mine to ever create a new "version" folder, no matter what. We seem to have opposite problems.

[2020-07-30 12:22] codeloop opened #2763 "Docs : Introduction Guide, test_dataloader wrong sequence length in random_split"
[Docs : Introduction Guide](https://pytorch-lightning.readthedocs.io/en/stable/introduction_guide.html#testing), test_dataloader
For the MNIST dataset, The training set contains 60000 examples, and the test set 10000 examples.
 while creating the test_dataloader, in the code
[code]
the train is set to false, so it reads from the test set which only has 10000 examples, hence the next step causes it

[2020-07-30 12:33] etienne87 commented on #2735
i launch my training like this:
trainer = pl.Trainer(
            default_root_dir=params.log_dir,
            gpus=1,
            precision=16,
            progress_bar_refresh_rate=20,
            max_epochs=20,
            check_val_every_n_epoch=4,
            resume_from_checkpoint=ckpt,
        )

[2020-07-30 14:55] edenlightning opened #2765 "Add a test case for running trainer.test without trainer.fit on DDP"
## 🐛 Bug

Running trainer.test(model) using DDp without running trainer.fit hangs.

### To Reproduce

[code]

### Expected behavior
Should be able to run test with DDP.

### Environment

 - PyTorch Version (e.g., 1.0): 1.5
 - PL: 0.8.5

### Additional context

[2020-07-30 15:11] ydcjeff commented on #2763
@codeloop this has been fixed on latest docs

[2020-07-30 15:14] jbschiratti commented on #2550
@Borda @invisprints It seems there may be an issue here. In the [example above](https://github.com/PyTorchLightning/pytorch-lightning/issues/2550#issue-653041505), the `MNISTModel` is trained without `self.save_hyperparameters()` in `__init__`. When the user wants to load model weights from a checkpoint, the line `MNISTModel.load_from_checkpoint('mnist.ckpt', net='cnn', h_dim=200)` fails. As sugge

[2020-07-30 15:29] PhilJd opened #2766 "Speed up gradient norm clipping."
## 🚀 Feature
Improve the speed of gradient clipping.

### Motivation
I've noticed that clipping the gradients is quite slow, e.g., for a ResNet50 model (with some minor extensions) gradient clipping takes ~207 ms. The major bottlenecks are the `torch.where` computation within a loop and the manual norm computation.

### Pitch
With slight modifications that don't hurt readability and work well on T

[2020-07-30 15:53] #2766 closed

[2020-07-30 16:04] remisphere commented on #2736
For information, I discussed a bit about IoU's usage in #2753 ; I 'm not sure, but I think the present issue is still relevant.

[2020-07-30 16:33] jbschiratti commented on #2550
@Borda It seems there may be an issue here. In the [example above](https://github.com/PyTorchLightning/pytorch-lightning/issues/2550#issue-653041505), the `MNISTModel` is trained without `self.save_hyperparameters()` in `__init__`. When the user wants to load model weights from a checkpoint, the line `MNISTModel.load_from_checkpoint('mnist.ckpt', net='cnn', h_dim=200)` fails. As suggested by @rohi

[2020-07-30 19:30] pwwang opened #2768 "to_categorical should go before get_num_classes in metrics/functional/classification.py"
https://github.com/PyTorchLightning/pytorch-lightning/blob/d18b9ef9d95ffd92591f767808cc497af5bd4e1c/pytorch_lightning/metrics/functional/classification.py#L174-L178

`to_categorical` should go before `get_num_classes`, since `get_num_classes` assumes `pred` has already been turned into categories (it is doing `int(pred.max().detach().item() + 1)`).

Warnings are raised now and then with current co

[2020-07-30 20:09] haideraltahan commented on #2578
Even with the edits suggested by @blackwer, the problem persists.

[2020-07-30 21:33] rohitgr7 commented on #2550
@jbschiratti please ping me in the PR if you make one :)

[2020-07-30 21:39] rohitgr7 commented on #2761
Try 0.8.5?

[2020-07-30 21:51] #2451 closed

[2020-07-30 22:03] acturner opened #2769 "Bug in `LightningModule.load_from_checkpoint`"
Suppose you have a class `Model(LightningModule)` (a `LightningModule` subclass) and as parameters it takes
`params: argparse.Namespace` (without a default value), along with other keyword arguments which might take default arguments. Loading from a checkpoint

[code]

will throw the error `TypeError: __init__() got multiple values for argument 'params'`.
This comes from the fact that in line `205

[2020-07-31 01:11] sailordiary commented on #2765
I am experiencing the same issue with my program.

[2020-07-31 02:51] Diuven commented on #2722
Yeah you're right.

But as long as we use only `mean`, `sum` and `none` reduction methods, it the `stat_scores_multiple_classes` function won't be too long.

If we want to support additional reduction methods in the future, we probably can use `none` version of the function (i.e. function returning `(num_classes, )` sized tensors) and simply reduce after that. But if we have a lot faster version f

[2020-07-31 02:56] asrafulashiq commented on #2765
Same problem here. I cannot use trainer.test in ddp mode without running trainer.fit first.

[2020-07-31 02:58] asrafulashiq commented on #2578
I am facing same problem. Even if I use MASTER_PORT, or comment out the assertion line, the problem remains.

[2020-07-31 05:16] shreyaskamathkm commented on #2407
Stuck on the same issue.

I recently started using PyTorch lightning on the HPC cluster. The node which I am trying has 4 Nvidia V100 GPUs. An imagenet classification code is running on the first 2 GPUs [0,1]. I am trying to run another code with different hyperparameters on the next 2 GPUs [2,3]. While trying to run with the configuration given below causes the error.

`    trainer = pl.Trainer(

[2020-07-31 07:31] justusschock commented on #2722
Great, do you want to just open a PR with your version and the even faster one?

[2020-07-31 07:38] Diuven commented on #2722
Yeah, sure. Small notes before that:

I changed and benchmarked it again in my forked repo: [changed function](https://github.com/Diuven/pytorch-lightning/blob/master/pytorch_lightning/metrics/functional/classification.py#L137)

In that file, note that I also slightly changed [accuracy function](https://github.com/Diuven/pytorch-lightning/blob/master/pytorch_lightning/metrics/functional/classifica

[2020-07-31 07:49] KeeeeiZ opened #2771 "Speed Drastically Decrease Under Horovod"
## 🐛 Bug

If the backend is set to `horovod`, training speed will drop drastically.

### To Reproduce

Steps to reproduce the behavior:

I run the training job in docker, and the Dockerfile is shown below:

[code]
My GPUs include 4 NVIDIA P100.

My training script is in `/backbones`, and if I run the script below, it trains smoothly:

[code]

If I run the script below which is using `horovod`, the

[2020-07-31 08:20] sooheon commented on #2655
Ran into same issue, the error is clearer when you call lr_find directly:

[code]

trainer.scaler is initialized to None, and then set to torch.cuda.amp.GradScaler() [here](https://github.com/PyTorchLightning/pytorch-lightning/blob/bc833fbf5271171136824286346b04a7f1bdd0de/pytorch_lightning/trainer/trainer.py#L1104). Meanwhile lr_find wants to checkpoint the state of the scaler at some point.

Quic

[2020-07-31 08:34] JanRuettinger opened #2772 "Model alone makes different predictions compared to trainer + model"
## 🐛 Bug

I have trained a model and stored it in a checkpoint file. When I load the model from the checkpoint file and make predictions for my test set I get different results when I use the raw model compared to when I use the trainer class + model.

### Problematic code snippets

Using the trainer class
[code]

Not using the trainer class
[code]

### To Reproduce
I have setup a colab notebook w

[2020-07-31 08:37] justusschock commented on #2722
@Djuven, great! Thanks a lot. From what I saw just now, your implementation and changes seem to be fine. can you open a PR to see if all our tests are still passing?

[2020-07-31 08:45] Joel-hanson commented on #2491
@Borda I had gone through the PR and seems like you have covered all the parts which required this change. Is there anything pending or did I miss to check anywhere else?

[2020-07-31 09:00] PhilJd opened #2774 "Gradient clipping: norm is always 2, device might be undefined."
## 🐛 Bug
I just re-skimmed the gradient clipping operation and found some inconsistency:
(1) `device` is only defined for non-`'inf'` norms, see [here](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/trainer/training_tricks.py#L79). While fixing this, I realized that
(2) `norm_type` [is always 2](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/

[2020-07-31 09:06] Diuven commented on #2722
Actually, I was running the existing tests in machine, but some tests are not passing.

I made a PR to share the results. Here's [the link](https://github.com/PyTorchLightning/pytorch-lightning/pull/2775) for the PR.

I think failed tests are the case when `num_classes` does not match with actual number of classes in the tensor. the `scatter_add` function throws an Error.

If we want to keep this

[2020-07-31 09:07] awaelchli commented on #2722
Cool! perhaps in the future the metrics package could include parity tests for speed, not only correctness.

[2020-07-31 09:19] Borda commented on #2491
not sure, lets try this one and if it does not help we ll make followup...

[2020-07-31 09:35] awaelchli commented on #2761
or you may even need to be on master (or 0.9 soon). I recently fixed an issue with save_dir here #2681

[2020-07-31 09:36] epignatelli commented on #54
I don't think it's a feasible solution.

It means returning the outputs of the forward pass from `training_step`.

However, as soon as you override `training_epoch_end`, it will stack things up in the GPU, until it crashes.

[2020-07-31 09:38] #2763 closed

[2020-07-31 10:14] Joel-hanson commented on #2491
Sure thanks 🙂

[2020-07-31 10:27] #2271 closed

[2020-07-31 10:31] #2491 closed

[2020-07-31 11:23] hadarishav opened #2777 "On multi GPU Model picks up certain parameters from last run on Grid search"
I am doing a Grid Search over a set of hyperparameters. I do this by applying loops and re-initializing the model every time. However, the subsequent model seems to be picking up something from the previous runs because their performance changes as opposed to when I try only that particular setting of hyperparameters. Any idea what's happening here?

[2020-07-31 11:31] awaelchli commented on #2757
Hi
Does this work?
[code]

[2020-07-31 11:53] #2688 closed

[2020-07-31 13:57] Borda commented on #2757
it is level `logging.INFO` so setting something above like `logging.WARNING`
see docs: https://docs.python.org/3/library/logging.html#logging-levels

[2020-07-31 13:59] Borda commented on #2768
@pwwang mind send a PR? 🐰

[2020-07-31 14:11] Borda commented on #2777
mind share an example?

[2020-07-31 14:13] Borda commented on #2774
I would personally take option 2, but let's talk about is a bit more as the 2 mean API change...
@PyTorchLightning/core-contributors

[2020-07-31 14:15] Borda commented on #2772
it is interesting, that shall not happen, are you using the same data without shuffle?
@SkafteNicki mind have a look at it? :]

[2020-07-31 14:15] Borda commented on #2771
@tgaddair mind check this one?

[2020-07-31 14:20] tgaddair commented on #2771
Hey @KeeeeiZ, can you run `horovodrun --check-build` and provide the output here?  My guess is that you're not using NCCL.

Note that `HOROVOD_GPU_OPERATIONS=NCCL` is unreleased (coming in v0.20.0).  For now, you should use `HOROVOD_GPU_ALLREDUCE=NCCL HOROVOD_GPU_BROADCAST=NCCL` instead.  That is likely the source of the issue.

[2020-07-31 14:31] Borda commented on #2758
it is kind of fine-tuning, right? @lgvaz was talking about something similar...
cc: @PyTorchLightning/core-contributors

[2020-07-31 14:34] Borda commented on #2736
cc: @justusschock @SkafteNicki

[2020-07-31 15:03] #2716 closed

[2020-07-31 15:03] Borda commented on #2715
@yukw777 mind have look? :]

[2020-07-31 15:05] Borda commented on #2717
The `test_step` is called only in the test loop, for that you need to call `Trainer.test(...)`

[2020-07-31 15:08] Borda commented on #2720
PL is just PyTorch under the hood, you can use `torch` on `joblib` directly...
in case you want train distributed in CPU only you can use `ddp_cpu` backend 🐰

[2020-07-31 15:08] #2720 closed

[2020-07-31 15:09] Borda commented on #2725
@borisdayma mind have look? 🐰

[2020-07-31 15:10] Borda commented on #2727
cc: @yukw777 @omry

[2020-07-31 15:12] Borda commented on #2751
I guess it was changed recently, @nateraw mind update docs? 🐰
or @ydcjeff mind sending a PR with update according to actuals code...

[2020-07-31 15:14] rohitgr7 commented on #2715
@Borda it's already fixed on master.

[2020-07-31 15:20] omry commented on #2727
You could configure Hydra run dir via the command line or your config file to be whatever you want it to be, see [this](https://hydra.cc/docs/next/configure_hydra/workdir).

However, I think the right approach to do DDP training with Hydra is to use multirun. With multirun - each running script gets it's own subdirectory under the primary working directory by design and not by accident.
I didn't s

[2020-07-31 15:25] ydcjeff commented on #2751
I think @nateraw has updated the docs along in #2755

[2020-07-31 15:31] #2715 closed

[2020-07-31 15:56] rakhimovv commented on #2727
I tried to use --multirun option
it does not work under trainer.distributed_backend=ddp
but it works with trainer.distributed_backned=ddp_spawn with one exception that running it in slurm it fails

[2020-07-31 16:12] #2751 closed

[2020-07-31 16:13] ydcjeff commented on #2717
Lightning uses `global_step` for plotting in `training_step`, but the reason not logging in `validation_step` and `test_step` is [here](https://pytorch-lightning.slack.com/archives/CRBLFHY79/p1595242017365000?thread_ts=1595180618.360300&cid=CRBLFHY79)

[2020-07-31 16:25] omry commented on #2727
I am not familiar with the difference between ddp and ddp-spawn in PL.
We may still need to make some changes or at least provide a working example. I am counting on people like you to help create that example.

Are you using the [Submitit Launcher plugin](https://hydra.cc/docs/next/plugins/submitit_launcher) to run it on SLURM?
What kind of failure?

[2020-07-31 16:43] yukw777 commented on #2727
@rakhimovv when you use `ddp`, PL starts subprocesses to run the training script (by simply passing the command for the training script to https://docs.python.org/3/library/subprocess.html) and gathers the gradients. What @omry means when he recommends using `--multirun`, is that instead of relying on the subprocess module as PL does, use `--multirun` to start subprocesses and gather the gradients

[2020-07-31 16:54] import-antigravity commented on #2757
I can try ‘logging’. Like I said in my original post I already tried ‘warnings’

[2020-07-31 17:01] ydcjeff commented on #2608
@Ceceu could you try like this? You can replace `100` with appropriate number to show correct progress bar.
[code]

[2020-07-31 17:15] rakhimovv commented on #2727
Thanks for clarification @yukw777. I got it.

I misunderstood at first. In my comment above I meant the situation when I try to run several experiments using `--multirun `option like
`python train.py --multirun trainer.gpus=4 trainer.distributed_backend=ddp_spawn encoder.blocks_num=2,4`

@yukw777, do I understand correctly that running `--multirun` and `ddp` simultaneously is not correct fundament

[2020-07-31 17:16] borisdayma commented on #2725
Hi, what do you think about putting the files directly in wandb folder. You can access it with ’wandb.run.dir‘

[2020-07-31 17:56] bkhakshoor opened #2782 "Use of shell=True could lead to shell injection"
File: pytorch_lightning/trainer/training_io.py
Line Number: 227-233
Relevant Code:

`            # find job id
            job_id = os.environ['SLURM_JOB_ID']
            cmd = 'scontrol requeue {}'.format(job_id)

            # requeue job
            log.info(f'requeing job {job_id}...')
            result = call(cmd, shell=True)`

From [here](https://docs.python.org/2/library/subprocess.html),

[2020-07-31 18:03] ananyahjha93 commented on #54
@Ceceu have you tried
[code]
and then log images?

[2020-07-31 18:05] ananyahjha93 commented on #54
@epignatelli you can create a variable such as

[code]
and then plot these. This will work with DDP and the regular single GPU case but will not work with DP the default version does not support state maintenance.

[2020-07-31 18:10] ananyahjha93 commented on #2782
@bkhakshoor would you mind submitting a PR for it with the fix?

[2020-07-31 18:42] omry commented on #2727
By ntask I mean you mean sbatch parameter? I have no intention to support it. Try with the submitit plugin and we can discuss further.

Also, please create a _minimal_ example demonstrating the problem. (again, using the submitit plugin).

[2020-07-31 18:50] #2158 closed

[2020-07-31 19:03] MVPavan opened #2783 "Multiple Model Multiple Loss Unsupervised Training"
Hi, recently I have been trying to standardize on of our research models which led me to Lightning.

I have a situation around Multi-model multi loss training, which is described in the below post:

https://discuss.pytorch.org/t/multiple-networks-multiple-losses/91130?u=pavanmv

Please let me know if this can be achieved using LIghtning.

[2020-07-31 19:09] williamFalcon commented on #54
example:

https://pytorch-lightning-bolts.readthedocs.io/en/latest/vision_callbacks.html#confused-logit

[2020-07-31 19:13] ananyahjha93 commented on #2783
@MVPavan I don't see any reason why this should not work in lightning. Lightning allows you to define multiple optimizers, all you need is to pass the correct model parameters to the correct optimizer while defining them. You can refer to this documentation: https://pytorch-lightning.readthedocs.io/en/latest/api/pytorch_lightning.core.html#pytorch_lightning.core.LightningModule.configure_optimizer

[2020-07-31 19:22] #1861 closed

[2020-07-31 19:30] rohitgr7 commented on #2783
@ananyahjha93 but how the loss.step() will work here? I see in the diagram given in the link each loss's backward is done separately. Will it be equivalent to adding all the losses and doing backward once for the total loss?

[2020-07-31 19:33] MVPavan commented on #2783
@ananyahjha93  in my case loss2.backward () and opt2.step() has to be called only after calling loss1.backward() and opt1.step() which updates all the grads of NN1 and flushes all grads of NN2. Correct me if any gap in my understanding.

[2020-07-31 19:50] ydcjeff commented on #2508
@VinhLoiIT you could try [this argparse docs](https://pytorch-lightning.readthedocs.io/en/latest/introduction_guide.html#argumentparser) and [its best practices](https://pytorch-lightning.readthedocs.io/en/latest/introduction_guide.html#argparser-best-practices)

[2020-07-31 20:00] rohitgr7 commented on #2783
okay, I misunderstood the gradient flow here, now I got it. @MVPavan training_step is called `n` times where `n` is the number of optimizers. So with multiple optimizers in `training_step` you will get the `optimizer_idx`. All you need is to setup some if-else conditions in your `training_step` for each optimizer. Also, you need to store the outputs from the previous step (optimizer_idx=0) like fo

[2020-07-31 20:08] ananyahjha93 commented on #2783
@rohitgr7 thanks for this answer!

@MVPavan
Also, since you are storing something like self.loss1 (like in the answer above) in the first call to training_step and then expecting it to be available in the next call, use DDP for multiple GPUs instead of DP. DP doesn't support state maintenance as of now.

[2020-07-31 20:17] rohitgr7 commented on #2783
Not the loss but outputs :)

Also, I am thinking of the inefficiency of loss1.backward() for NN2, since it's not updated with `optimizer1` with the gradients calculated using `loss1.backward()`. I was thinking of a way to freeze the NN2 weights with `optimizer_idx=0`, calculate `out2`, store it, now for `optimizer_idx1` unfreeze NN2, use the store `out2` to calculate the `loss2` and do the `loss2.

[2020-07-31 20:43] ananyahjha93 commented on #2783
@rohitgr7 yeah, sorry about that. Thanks for the correction! what about
[code]

[2020-07-31 21:16] rohitgr7 commented on #2783
But still, inefficiency remains here. The efficient way I think would be to calculate `out1` and `out2` only once and store it with `optimizer_idx=0` in `training_step` but with `loss1.backward()` don't calculate gradients for NN2 and with `loss2.backward()` don't calculate gradients for NN1. Can't figure out a way to make this work like this.

[2020-07-31 21:28] awaelchli opened #2785 "Pass second-order closure to all optimizers (not just LBFGS)"
## 🚀 Feature

I could be wrong, but I noticed the following in the code of lightning module's optimizer_step

[code]

If someone uses a custom optimizer that needs the closure returning the loss multiple times, it won't work.

### Pitch

Since all classes that inherit from `torch.optim.Optimizer` have the step method accept a closure (even if they don't need it), we could just do

[code]
and drop

[2020-07-31 23:10] rohitgr7 commented on #2772
By results, if you are referring to the DataFrames you printed in the notebook, then I think the results looks the same to me.

[2020-07-31 23:50] #1928 closed

[2020-08-01 00:05] Ceceu commented on #54
Thanks @ananyahjha93 and @williamFalcon, I guess the callback approach is the best practice.

[2020-08-01 00:06] Ceceu commented on #2608
Actually I refactored to use Loggers.

[2020-08-01 00:09] Ceceu commented on #2717
I was unable to access the Slack channel that you had shared.

[2020-08-01 04:57] ydcjeff commented on #2608
Yea, using loggers is also fine too

[2020-08-01 07:19] Borda commented on #2717
try https://join.slack.com/t/pytorch-lightning/shared_invite/zt-f6bl2l0l-JYMK3tbAgAmGRrlNr00f1A

[2020-08-01 09:43] hadarishav commented on #2777
@Borda Thanks for the quick reply. Here's an example -
My code is as follows:
`for i,lr in enumerate([2e-5]):
    for j,bert_dropout in enumerate([0.1]):
      for k,fc_dropout in enumerate([0.1,0.2]):

        ctr += 1
        config = {
        'PRE_TRAINED_MODEL_NAME': 'bert-base-cased',
        'batch_size': 16,
        'max_len': 200,
        'abuse_classes': 1,
        'bert_dropout': bert_d

[2020-08-01 12:02] awaelchli commented on #2683
can confirm, it freezes, but only in ddp. For everyone who faces this issue, use ddp_spawn until this is fixed.

[2020-08-01 12:19] awaelchli commented on #2683
I've identified that the process hangs at this line:
https://github.com/PyTorchLightning/pytorch-lightning/blob/f9ccb0fd9b53973a87b18cf9126ad9454b328575/pytorch_lightning/core/lightning.py#L958

[2020-08-01 12:48] Anjum48 opened #2788 "Enable option to use Apex when PyTorch 1.6 is installed"
## 🚀 Feature

Currently, if PyTorch 1.6 is installed, PyTorch Lightning will use native AMP by default. It would be useful to have an option to force PL to use Apex if needed, which is not currently possible

### Motivation

Native AMP is great but under certain conditions may perform differently to Apex. For debugging purposes and backwards compatibility, having the option to still use Apex might

[2020-08-01 13:19] awaelchli commented on #2683
Ok, more progress. The issue is caused because the master port is different on each rank. If we set the port manually, problem is solved.

[2020-08-01 14:23] pamparana34 opened #2791 "Different loss functions for training and validation"
I am having a strange problem where I am unable to use different loss functions for pytorch lightning. So, if I use something like this, it is completely fine:

[code]

Now, as soon as I want to use a different function (even if it is the same function!), things do not work. In particular, the validation loss does not move. So, if I do something like this in my class definition:

[code]

This make

[2020-08-01 15:34] ydcjeff commented on #2791
@pamparana34 can you describe more about `things do not work`

As per my knowledge, since the loss function is for computing how much different model's predictions and ground truth are, so it doesn't have parameters to learn, it will be zero.
But I'm not sure, I could be wrong.

the validation loss is properly fluctuating [in this example](https://colab.research.google.com/drive/1nzVh8xeEGLOJvSZ0I

[2020-08-01 15:42] #1904 closed

[2020-08-01 16:50] awaelchli commented on #2701
Your cpu usage seems high. It could be the cpu is the bottleneck here. Try fewer gpus and observe then observe the gpu utilization.

[2020-08-01 16:58] awaelchli commented on #2774
In my opinion, gradient clipping and gradient norm tracking and these things should be callbacks. Like the model checkpoint and earlystopping, they can have various arguments for the advanced user, e.g. here the norm type, but exposing such options as Trainer args I do not like at all.

[2020-08-01 17:12] awaelchli commented on #2637
I think that's an oversight on their part. But for a clean solution in Lightning, override [this](https://pytorch-lightning.readthedocs.io/en/latest/api/pytorch_lightning.core.hooks.html?highlight=transfer#pytorch_lightning.core.hooks.ModelHooks.transfer_batch_to_device) model hook and call .to() yourself on the graph object.

[2020-08-01 17:14] awaelchli commented on #2637
Regarding ddp, is DGLGraph supposed to work with that (I mean in plain pytorch)? I don't think it can work with scatter and gather.

[2020-08-01 17:33] MVPavan commented on #2783
@rohitgr7 thanks for the explanation. In pytorch once we get all the outputs for one iteration, if we call loss1 it calculates all the grads for NN1 and NN2, now opt1.step will just update weights of NN1 as it is defined for the same and zeros all the grass of NN1 and NN2.

Now loss2.backward and opt2.step will do the same for NN2. This way we can achieve both in single training step. Correct me i

[2020-08-01 18:13] rohitgr7 commented on #2783
Not for both just for NN1 since NN1 parameters are defined within opt1 and opt1.zero_grad() will affect NN1 parameters only. I guess here in the first iteration you can do `NN2.zero_grad()` to achieve this. Now in this first iteration save `out1` and `out2` using `self` and use them again in the next iteration with optimizer_idx=1. Also in this second iteration, you need to zero_grad NN1 manually

[2020-08-01 20:49] awaelchli commented on #2791
could you point us the the GeneralizedDiceLoss so we can try to reproduce.

[2020-08-02 00:17] #2742 closed

[2020-08-02 03:21] #2407 closed

[2020-08-02 03:22] #2703 closed

[2020-08-02 03:24] #2768 closed

[2020-08-02 03:25] #2782 closed

[2020-08-02 03:34] xiadingZ opened #2795 "EvalResult doesn't do mean_of_gpus if using TensorMetric"
I want to use new `AccuracyMetric`, it can automatically sync in ddp, but it doesn't divide by `word_size`. In manually mode, I can  divide it by `word_size` by hand in `validation_epoch_end`. But if I use `EvalResult`, how to do this? It only do `mean`  across batches, but no across gpus.
 This is original code:
[code]

[2020-08-02 03:42] #1848 closed

[2020-08-02 08:21] yippp commented on #2537
I also meet `unhandled system error` problem, who know how to solve it?

[2020-08-02 11:51] hadarishav commented on #2777
Turns out there was some problem with how I was handling the data. I will close this issue now. Thanks!

[2020-08-02 13:10] Shreeyak opened #2798 "How to load checkpoint from external source with different keys in dict"
## ❓ Questions and Help

### Before asking:
1. search the issues.
2. search the docs.

#### What is your question?
If I have a checkpoint that uses different keys to store the model weights, how do I lost it, sorry if converting it into lightning format?

Eg: checkpoint["my_funky_model_state_dict_key"]

#### Code

#### What have you tried?
Searched the docs, python API and github issues.

#### Wha

[2020-08-02 14:47] benwu232 opened #2799 "how to run m validation batches after running every n training batches?"
## 🚀 Feature

For example, I'm runing a model on a big dataset. After every 10000 training batches, I'd like to run 1000 validation batches to  check the avg_traning_loss and avg_val_loss.

I tried val_check_interval but it just run all validation dataset, which is too big and time consuming. How to validate only part of the validation data?

This is similar to #2534 with something different.

Tha

[2020-08-02 15:13] ydcjeff commented on #2799
I think `Trainer(limit_val_batches=1000, val_check_interval=10000)` will do that.

[2020-08-02 16:45] JanSellner commented on #2537
Not really a solution but maybe some hints towards the bug: I noticed that this seems to be an issue with `ddp` in comparison with `ddp_spawn`. If you watch for open sockets with `watch -n0.1 "sudo netstat -tulpn | grep 12355"` during program execution, you will notice that with `ddp_spawn` the socket is properly closed after the first run. This is not the case with `ddp`. So, for some reason, the

[2020-08-02 18:07] #1919 closed

[2020-08-02 18:07] #1945 closed

[2020-08-02 18:07] #1947 closed

[2020-08-02 19:27] Borda commented on #2795
@SkafteNicki @justusschock mind have a look?

[2020-08-02 19:28] Borda commented on #2798
Do you mind share an example?
otherwise, I would say load it as you do, edit keys to match PL, and save it again...

[2020-08-02 19:32] Borda commented on #2774
@PhilJd mid send a PR with implementing it as callback?

[2020-08-02 19:34] Borda commented on #2785
it sounds as a good way to go to me...
cc: @williamFalcon

[2020-08-02 19:41] #2725 closed

[2020-08-02 20:26] ananyahjha93 commented on #2589
@williamFalcon adding this

[2020-08-02 21:00] shreyaskamathkm commented on #2407
Hi,

I just updated the pytorch lightning module on the cluster to the latest master. But unfortunately, the error still exists.

[code]

My sbatch file:

[code]

[2020-08-02 21:06] rohitgr7 commented on #2798
Try this. See if it works.
[code]

[2020-08-02 21:53] williamFalcon commented on #2407
what gpus flag are you passing to the model? since you set visible devices 2,3 your gpus flag should just be —gpus 2

[2020-08-03 00:12] shreyaskamathkm commented on #2407
Sorry for the incomplete comment. I have updated the previous comment to reflect the correct arguments sent. I also tried the specification ```--ntasks-per-node=1 ``` mentioned in https://github.com/horovod/horovod/issues/1586#issuecomment-566075641. However, the error doesn't seem to change.  Is there any particular flag I need to set in the SBATCH file?

[2020-08-03 00:42] shreyaskamathkm commented on #2407
There is one more mistake I think, the GPUs in the HPC look like below:

![Screenshot from 2020-08-02 20-31-27](https://user-images.githubusercontent.com/16343884/89136013-71d8bd00-d4ff-11ea-9675-15e527e4bbdc.png)

The PCI_BUS_ID  is wrong for some reason. So when I use use ``` export CUDA_VISIBLE_DEVICES=0,1``` The V100s get initialized [GPU 2,3], and when I use ``` export CUDA_VISIBLE_DEVICES=2,

[2020-08-03 02:13] calclavia commented on #2788
Same here. I notice some results could no longer be replicated now that I upgraded to PT 1.6 and lightning 0.8.5 (which may be related to FP16).

[2020-08-03 03:30] raynardj commented on #2772
Could it be not running ```model = model.eval()``` when not using trainer class.

```eval()``` does more than freeze, it uses overall mean and std for batchnorm instead of running mean and std. Also it will turn off the dropout.

[2020-08-03 04:05] awaelchli commented on #2274
I think I fixed this recently in #2657

It just looks like that, but this is just the initial value there. The DeviceDtypeMixin takes care of updating the device.

I agree with @SkafteNicki. All metrics that save tensors must register them as buffers.

[2020-08-03 04:07] #1951 closed

[2020-08-03 04:39] raynardj commented on #2798
This is a frequent happening problem when using pl_module to **wrap around an existing module**.

eg.

When load the pretrained weights, state_dict keys are always "bert.*", when load our own pl trained checkpoint, keys are always "my_model.bert.*".

And when we try to fine-tune downstream task, we might try to load both, and we have to write extra code for different weights.

Can we make the quot

[2020-08-03 04:49] rohitgr7 commented on #2772
@raynardj `model.freeze()` does that automatically I think.

[2020-08-03 05:10] raynardj commented on #2772
u r right, eval() is there.

I also took a close look at the comparison of 2 dataframe and they r the same

[2020-08-03 06:50] SimonNarendorf opened #2804 "AttributeError on lr_find with half precision"
## 🐛 lr_find crash with mixed precision

initial run of lr_find raise AttributeError when run with 16Bit precison

### To Reproduce

Steps to reproduce the behavior:

1. Init module and trainer with precision=16
2. Run trainer.lr_find(module)

`AttributeError: 'NoneType' object has no attribute 'state_dict'`

Stacktrace:

[code]

#### Code sample
[code]

### Environment

You can get the script and

[2020-08-03 07:24] sooheon opened #2805 "WandbLogger(log_model=True) seems to have no effect"
## 🐛 Bug

When initializing WandbLogger with log_model=True, user expects the logger to save the best k checkpoints to wandb on train end.

### To Reproduce

Steps to reproduce the behavior:

1. Initialize `wandb_logger = WandbLogger(log_model=True)`
2. Initialize `trainer = pl.Trainer(logger=wandb_logger, early_stop_callback=True)`
3. `trainer.train(model, tdl, vdl)`
4. When training finishes, ch

[2020-08-03 07:32] Borda commented on #2805
@borisdayma mind have look? 🐰

[2020-08-03 07:41] borisdayma commented on #2805
@sooheon If you go to the file menu on wandb dashboard do you see your model?

![image](https://user-images.githubusercontent.com/715491/89157836-c3e70600-d532-11ea-9580-95de9771c279.png)

[2020-08-03 07:44] sooheon commented on #2805
@borisdayma I do not. Just some config files.
<img width="394" alt="Screen Shot 2020-08-03 at 4 44 09 PM" src="https://user-images.githubusercontent.com/302945/89158096-8fae2c80-d5a8-11ea-82ff-04d9ed407c57.png">

[2020-08-03 07:45] PhilJd commented on #2774
I'll look into it!

[2020-08-03 07:50] SkafteNicki commented on #2580
I agree with @Borda that this should be an abstract function/class. The most simple, in my opinion, would be a class that the user can wrap their already existing metric with: `masked_accuracy=MaskedMetric(Accuracy())`. This would add a additional argument to the call: `value = masked_accuracy(pred, target, mask)`. The alternative, re-writing each metric to include this feature, is not feasible at

[2020-08-03 08:01] magic282 commented on #1764
The bug comes from here:
https://github.com/PyTorchLightning/pytorch-lightning/blob/471f2b80af9a9aeb11d5092ddbc08faef7901552/pytorch_lightning/callbacks/model_checkpoint.py#L299

If we set val_check_interval to save several checkpoints in an epoch, `epoch` and `epoch_last_check` will always be the same. So the function will return. One workaround is to set period to a <= 0 number. I guess we can s

[2020-08-03 08:20] Borda commented on #2580
@YuxianMeng mind send a PR and I guess @SkafteNicki or @justusschock could help/guide you throw 🐰

[2020-08-03 08:21] justusschock commented on #2580
I think I speak for both of us, saying that we'd for sure do that and really appreciate the PR :)

[2020-08-03 08:43] awaelchli commented on #2804
Could this be because we don't restore the scaler attribute after the lr_find has finished @SkafteNicki?

[2020-08-03 08:59] awaelchli commented on #2805
It's because the save dir is just the root dir of the logger. The ModelCheckpoint callback actually determines the final checkpoint dir. By default it will create a path of the form save_dir / logger name / logger version. But the trainer could also specify weights_save_dir, or the model checkpoint callback can be configured to save it elsewhere. The logger does not know where the checkpoints will

[2020-08-03 09:10] SkafteNicki commented on #2580
Yes just ping us in the PR when you are ready, and we will assist you.

[2020-08-03 09:26] qiuhuaqi commented on #2197
It seems the current Hydra version `0.11.3` doesn't support `omegaconf=2.0.0`?
I got this error when simply trying to `import hydra`

[code]

Am I missing something?
What's a good way to pass `DictConfig` object to Lightning's `self.hparams`?

[2020-08-03 09:33] PhilJd commented on #2774
Okay, after taking a look at how Callbacks are implemented I'm not sure what you exactly had in mind, could you outline this in more detail?
More specifically, as far as I understand it, gradient clipping needs to happen after potentially unscaling gradients in mixed precision training but before the optimizer step. I don't see a corresponding entry hook for this in callbacks, `Callbacks.on_batch_

[2020-08-03 09:52] hadarishav commented on #2777
I am sorry for repeatedly opening and closing the issue. But I really wanted to be sure of the problem. So the problem was not really with how I was handling data. It is to do with lightning. If on multi gpu, I repeatedly run the same code on different files, the model picks something up from the previous runs in the lightning logs folder. If I delete that folder and do a subsequent run I get a ce

[2020-08-03 09:52] hadarishav commented on #2777
I am sorry for repeatedly opening and closing the issue. But I really wanted to be sure of the problem. So the problem was not really with how I was handling data. It is to do with lightning. If on multi gpu, I repeatedly run the same code on different files, the model picks something up from the previous runs in the lightning logs folder. If I delete that folder and do a subsequent run I get a ce

[2020-08-03 09:54] qiuhuaqi commented on #807
@Ceceu `self.hparams=hparams` works with `omegaconf=2.0.0`, needs to upgrade `hydra-core` as well. (https://github.com/PyTorchLightning/pytorch-lightning/issues/2197#issuecomment-667914874)

[2020-08-03 10:38] epiicme opened #2807 "Issue with running multiple models in PyTorch Lightning"
## 🐛 Bug

I am developing a system which needs to train dozens of individual models (>50) using Lightning, each with their own TensorBoard plots and logs. My current implementation has one Trainer object per model and it seems like I'm running into an error when I go over ~90 Trainer objects. Interestingly, the error only appears when I run the .test() method, not during .fit().

As I just started

[2020-08-03 10:45] topshik commented on #2725
@borisdayma wandb.run.dir cannot be accessed after pytorch_lightning.loggers.WandbLogger object is inited. That is the point of the issue. This happens, because I'm initing logger not from wandb interface but pytorch lightning one. Thus, wandb.run object doesn't exist.

[2020-08-03 13:08] Shreeyak commented on #2798
@Borda Here's a sample of how I handle checkpoints in my current pytorch code:

Saving Checkpoint:
[code]

Loading Checkpoint
[code]

Thanks, @rohitgr7 , but I was hoping for a method that did not involve converting the checkpoint format.

I assumed there would be a way to overwrite the default dict keys. As in, to tell lightning that model state dict can be found in the key "my_state_dict" for ex

[2020-08-03 13:19] benwu232 commented on #2799
@ydcjeff  Working like a charm! Thank you very much! How do you find these magic parameters? :)

[2020-08-03 13:28] ydcjeff commented on #2799
@benwu232 from https://pytorch-lightning.readthedocs.io/en/latest/trainer.html#limit-val-batches

[2020-08-03 14:11] borisdayma commented on #2725
If the training has not started yet then you can use "WandbLogger.experiment.dir"

[2020-08-03 14:18] awaelchli commented on #2807
Thanks for the report. Will fix it here #2790 as it is directly related.

[2020-08-03 15:08] rohitgr7 commented on #2798
@Shreeyak I think you can override these two functions in Trainer(by creating a SubTrainer) to get what you want:
https://github.com/PyTorchLightning/pytorch-lightning/blob/ed8a01afb0f9a605933563712e447a6a751f3af2/pytorch_lightning/trainer/training_io.py#L289-L297
https://github.com/PyTorchLightning/pytorch-lightning/blob/ed8a01afb0f9a605933563712e447a6a751f3af2/pytorch_lightning/trainer/training_

[2020-08-03 15:16] rohitgr7 commented on #2798
Also, @Borda is this a bug here? `on_load_checkpoint` is called after `state_dict` is restored.
https://github.com/PyTorchLightning/pytorch-lightning/blob/ed8a01afb0f9a605933563712e447a6a751f3af2/pytorch_lightning/core/saving.py#L172-L183

Also, I see at some places the model is loaded directly using `load_state_dict` without using the `load_from_checkpoint` function in pl. I mean `on_load_checkpo

[2020-08-03 16:06] #1958 closed

[2020-08-03 16:29] jcreinhold opened #2808 "NumpyMetric not mapping back to GPU in multi-GPU training"
## 🐛 Bug

I created a NumpyMetric class for an involved metric that requires numpy operations; however, the metric fails when training on multiple GPUs. After some debugging, this appears to be due to the resulting tensor not being mapped back to the appropriate GPU (or any GPU for that matter).

### To Reproduce

Steps to reproduce the behavior:

1. Define a NumpyMetric class
[code]
2. Instantiat

[2020-08-03 16:35] ydcjeff commented on #2532
@Borda is this issue fixed on master?

[2020-08-03 16:38] nateraw commented on #2799
Looks like this is sorted out, so I'm closing it. Thank you @ydcjeff 😄

[2020-08-03 16:38] #2799 closed

[2020-08-03 16:58] epiicme commented on #2807
That's great, thanks. Looking forward to getting the patch!

[2020-08-03 17:49] saurabh-kataria commented on #673
`threshold_mode` parameter of `ReduceLROnPlateau` might explain the phenomenon. If `threshold_mode=rel` is used, and loss is not reducing "significantly", learning rate will reduce.

[2020-08-03 18:33] awaelchli commented on #2808
Hi, good news, I believe I have fixed this issue already in #2657, at least it looks very similar. The fix is not released yet (but soon). So if you need it now, install Lightning from master branch.

[2020-08-03 18:44] #2188 closed

[2020-08-03 18:45] edenlightning commented on #1937
@awaelchli whats left here?

[2020-08-03 18:48] awaelchli commented on #2774
okay I see. Sorry if I haven't thought it through carefully and let you discover that, I just thought it would be very clean to implement it like this.

Mabe adding a on_before/after_backward callback method would make sense (for general use by callbacks)? Then this could be used to do the clipping?

[2020-08-03 18:52] edenlightning commented on #2420
Closing this as it should be fixed. @jgbos please try master, and let us know if you run into any issues!

[2020-08-03 18:52] #2420 closed

[2020-08-03 18:53] edenlightning commented on #2439
Closing this issue. @anguoyang feel free to reopen if you run into any issues!

[2020-08-03 18:53] #2439 closed

[2020-08-03 18:58] awaelchli commented on #1937
I think most of the points are outdated, much has changed. I think we can close it and track any remaining issues via reported bugs.  Although I think testing of the "save_hyperparameters" feature could be more thorough in general

[2020-08-03 19:22] Ceceu opened #2809 "Metric on all test data"
Is there an approach to handle scenarios in which the metric calculated during test_step depends on the entire test set and not just the existing data in the batch?

[2020-08-03 19:37] edenlightning commented on #1778
Closing as this is a TB issue. @versatran01 feel free to reopen if you have any other issues!

[2020-08-03 19:37] #1778 closed

[2020-08-03 19:44] awaelchli commented on #2809
Hi, do you mean you want to have all outputs from your model in test_epoch_end, and then compute a metric over all of them? You can do that by returning your predictions in the output dict of the test_step method and in test_epoch_end you will get a list of all of them. Would that work in your usecase?

[2020-08-03 19:48] edenlightning commented on #2476
@mcarilli can you take a look?

[2020-08-03 19:50] #2485 closed

[2020-08-03 19:57] #2210 closed

[2020-08-03 20:03] edenlightning commented on #2366
I think this should have been fixed. Could you try master branch?

[2020-08-03 20:08] edenlightning commented on #2558
@pherrusa7 how about now? :)

[2020-08-03 20:38] mcarilli commented on #2476
I can look into this but probably not in the next few days, reping if I don't respond by then.  Did you ever get a repro with raw pytorch (not lightning)?

[2020-08-03 20:59] Ceceu commented on #2809
I am currently working on an information retrieval model that encodes both `query` and the `document` into dense vectors of size equal to `768`.
Then, in `test_step` I would like to calculate metrics like `MRR` (Mean Reciprocal Rank) to the entire test set.

Save test_step `outputs` will work. However, as my model outputs embedding the best practice maybe is to save the model and use it in another

[2020-08-03 21:23] edenlightning opened #2810 "Add a PL method diagram to docs"
Add to PyTorch Lightning documentation a flow chart to understand the overall structure and method flow.

[2020-08-03 21:46] edenlightning commented on #2642
Same issue as https://github.com/PyTorchLightning/pytorch-lightning/issues/2655

[2020-08-03 21:46] #2642 closed

[2020-08-03 21:46] edenlightning commented on #2655
see also https://github.com/PyTorchLightning/pytorch-lightning/issues/2642

[2020-08-03 21:47] edenlightning commented on #1983
@SkafteNicki is this still broken on master?

[2020-08-03 21:50] edenlightning commented on #2371
Closing issue. @pvnieo please let us know if you have any issues!

[2020-08-03 21:50] #2371 closed

[2020-08-03 21:52] edenlightning commented on #2525
@blakeliu feel free to reopen if needed and explain the problem and what needs fixing.

[2020-08-03 21:52] #2525 closed

[2020-08-03 21:53] edenlightning commented on #2476
@aeryen

[2020-08-03 21:54] edenlightning commented on #2774
@williamFalcon

[2020-08-03 21:59] edenlightning commented on #1727
@williamFalcon is this fixed with structured results?

[2020-08-03 21:59] aeryen commented on #2476
No I still don't have repro for raw pytorch. So I still think it's within lighting.
I tried to debug it, I even tried manually move the model to each GPU according to the location of the data within my outer forward(). The issue still occur. Looks to me the model's device jump to something else as soon as my sub modules' forward() are being called. I had the impression that threads are not using t

[2020-08-03 22:00] #2498 closed

[2020-08-03 22:24] edenlightning commented on #2631
Dup- https://github.com/PyTorchLightning/pytorch-lightning/issues/2631

[2020-08-03 22:24] #2631 closed

[2020-08-03 22:24] edenlightning commented on #2401
also https://github.com/PyTorchLightning/pytorch-lightning/issues/2631

[2020-08-03 22:27] edenlightning commented on #1703
@nidhinarayan can you let us know if this is still happening on master?

[2020-08-03 22:29] edenlightning commented on #2670
@BeHappyForMe I'm closing this but please open if still experiencing this with master.

[2020-08-03 22:29] #2670 closed

[2020-08-03 22:58] #2717 closed

[2020-08-03 22:58] #2714 closed

[2020-08-03 22:59] #2608 closed

[2020-08-03 23:26] Ceceu opened #2812 "TPU Colab"
The TPU Colab live [demo](https://colab.research.google.com/drive/1-_LKx4HwAxl5M6xPJmqAAu444LTDQoa3) pointed in [documentation](https://pytorch-lightning.readthedocs.io/en/latest/tpu.html#live-demo) is not working.

Is there a new one?

[2020-08-04 01:56] YuxianMeng commented on #2580
Working on it, I will let you when I'm ready :)

[2020-08-04 04:51] dangpzanco opened #2814 "LR finder broken 2: not sure why (and other tiny bugs)"
## 🐛 Bug

LR finder doesn't seem to work. The model doesn't train when `trainer.lr_find(model)` is running (the loss metric oscillates around its initial value). When looking at the figure from `lr_finder.plot()`, I suspected the learning rate wasn't being changed somehow, but internally it does. So I rebuilt a custom LR finder to check if it wasn't the rest of my code. It seems `lr_find` is broke

[2020-08-04 05:58] roytseng-tw opened #2815 "Shouldn't LightningDataModule inherit abc.ABC to have @abstractmethod decorator works properly ?"
https://github.com/PyTorchLightning/pytorch-lightning/blob/a55c481d5d27028bd34024705d79cbea66c48d32/pytorch_lightning/core/datamodule.py#L89

To ensure all abstract methods are overridden, one should inherit `abc.ABC` or set `metaclass=abc.ABCMeta`.
Like below,
[code]
However, this way will require user to explicitly define all three (train/val/test) dataloaders, even if some are not actually need

[2020-08-04 06:02] siahuat0727 opened #2816 "When is `on_validation_epoch_start` / `on_validation_epoch_end` being called?"
## ❓ Questions and Help

#### What is your question?

When is `on_validation_epoch_start` / `on_validation_epoch_end` being called?
It there a doc that explains the order of the callback function being called?

I need a callback function that will be called at the end of every validation epoch.
I read the [callback docs](https://pytorch-lightning.readthedocs.io/en/latest/callbacks.html) and I thin

[2020-08-04 06:18] bradezard131 opened #2817 "Inconsistent handling of steps when using accumulate_grad_batches"
## 🐛 Bug

When using `accumulate_grad_batches` the steps are handled differently in the first epoch from any epoch later. Steps in the first epoch are counted for every batch regardless of accumulate_grad_batches, steps in later epochs are counted as one batch per accumulation (i.e. batch / accumulate_grad_batches). This makes learning rate scheduling, max iters, and logging very confusing

### To

[2020-08-04 09:12] GuillaumeRochette opened #2818 "Issue with resume_from_checkpoint (on CPU and GPU)"
## 🐛 Bug

Hi,

I've upgraded recently pytorch-lightning from 0.7.5 to 0.8.5, and I have encountered an issue with the ```resume_from_checkpoint``` from the Trainer class.

### To Reproduce

The dummy example below shows the behaviour:

1. Run the script for a few loops in order to create a first checkpoint.
2. Stop.
3. Re-run the code, it should resume from the previously created checkpoint.

This

[2020-08-04 09:18] SkafteNicki commented on #1983
@edenlightning I checked this morning, and the problem still seems to be present. I will create a PR soon with a fix.

[2020-08-04 09:25] ananyahjha93 commented on #2814
@SkafteNicki this seems to be broken at a different level here in comparison to #1983

[2020-08-04 09:27] GuillaumeRochette commented on #2818
Actually, ```resume_from_checkpoint``` works well even in 0.8.5, but it doesn't support ```Path``` objects any more, hence the error.

The correct script below casts ```checkpoint``` to a string, and does not throw an error any more.

Sorry for the inconvenience.

[code]

[2020-08-04 09:28] #2818 closed

[2020-08-04 09:39] SkafteNicki commented on #2814
I am not sure what is going on here. I really do not understand why your training after running the learning rate finder is oscillating, since the value proposed by the learning rate finder is not that far off your custom lr finder.

[2020-08-04 09:47] SkafteNicki commented on #2804
This happens because the `scaler` is setup during the `run_pretrain_routine` but a checkpoint is tried to save beforehand in the learning rate finder, since we need to restore to this after running the search.

[2020-08-04 10:03] SkafteNicki commented on #2736
I would gladly review a PR that implements this. The idea with the metric package is that it should be as close as possible to native torch.

[2020-08-04 10:13] paudom opened #2820 "Do multiple optimizer steps in one training step"
#### What is your question?
Hi!, I'm currently trying to train a GAN with some regularization and I would need to perform multiple optimizer steps with different losses in one single training step.

My intuition tells me to define the `optimizer_step` function, but I keep finding errors and I don't know what I am doing wrong.
- `RuntimeError: one of the variables needed for gradient computation ha

[2020-08-04 10:20] ydcjeff commented on #2812
@Ceceu In order to work, you need to replace `RSION` in the second cell with

[code]
https://pytorch-lightning.readthedocs.io/en/latest/tpu.html#colab-tpus

[2020-08-04 10:41] agemagician commented on #2772
@rohitgr7 @raynardj @Borda @SkafteNicki Any update on this issue?

I am facing a similar behavior in my prediction.

[2020-08-04 10:44] rohitgr7 commented on #2772
@agemagician Can you share code sample we can look at?

[2020-08-04 10:48] agemagician commented on #2772
Sure, I will write a Colab notebook for my code and share it, but did you figure out the problem from the above-shared notebook?

[2020-08-04 10:52] rohitgr7 commented on #2772
Not yet. We still don't find the results that are referred in the notebook by author. If the results are the dataframes then both are same. There is no difference in final prediction.

[2020-08-04 10:55] Borda commented on #2772
this is the notebook above - https://colab.research.google.com/drive/16Vjcx_-NZ-pBA2mZJRSfytGTmDC8P9xY

[2020-08-04 14:25] Ceceu commented on #2812
Great, it's working.
In case it can help someone in the future, I also had to update
`trainer = Trainer(num_tpu_cores=8, ...)` to `trainer = Trainer(tpu_cores=8, ...)`

[2020-08-04 14:32] edenlightning commented on #2812
@williamFalcon need to fix colab

[2020-08-04 15:15] dangpzanco commented on #2814
Hmm, I'm not sure what you mean with "your training after running the learning rate finder is oscillating". I am training after using the learning rate finder (LRF) only to compare the built-in LRF with a custom one (which is partially implemented with (`trainer.fit(model)`), but only the built-in LRF is oscillating (notice the loss never decreases below 3).

The fact that both LRF finders' sugges

[2020-08-04 15:17] thepowerfuldeez commented on #2758
yes, it's used in many different tasks, e.g. training on synthetic data and fine-tuning on real data then. This approach mostly uses training state as some separate entity which you can change.
See catalyst implementation: https://github.com/catalyst-team/catalyst/blob/068f119c9708fde9d044b6f994bc28dd65194f67/catalyst/core/runner.py#L373
They just replace self.model with model prepared from specif

[2020-08-04 15:19] Ceceu commented on #2812
Even insert the suggested changes, the training does not end correctly. See error tracing:

[code]

[2020-08-04 15:55] thepowerfuldeez opened #2823 "Resume training with resetting / increasing max number of epochs"
Hi! I would like to know how can one continue training from existing checkpoint if after resuming you got saved learning rate, current epoch and other significant info which interrupts training immediately.
Let's say I train classifier using ReduceLROnPlateau and saving best epoch via ModelCheckpoint callback. I set `max_epochs` as 10, train for 5 epochs, at 9 epoch lr scheduler got activated and

[2020-08-04 16:19] williamFalcon commented on #2758
i think @awaelchli solved this problem?

[2020-08-04 16:24] nateraw commented on #2791
Looks like it's coming from [here](https://docs.monai.io/en/stable/losses.html#monai.losses.GeneralizedDiceLoss)

[2020-08-04 16:52] rohitgr7 commented on #2820
During backward intermediate results are deleted to reduce memory usage. Here it is called twice because actual loss returned in `training_step` function is going to `backward` function in `LightningModule`, where actual `loss.backward()` is happening, and then it is called again in optimizer_step explicitly in your code. due to which the intermediate results get deleted and you are getting the er

[2020-08-04 16:59] eladrich opened #2824 "Disabling automatic .train() for loss criteria"
## ❓ Questions and Help

#### What is your question?
I have a loss module that is loaded as part of my lightning module with its own inner network. (output is passed through the network and the result is used to compute the loss)

The problem is that when starting a train_step Lightning automatically changes the entire module to .train() which recursively changes the loss inner network as well. As

[2020-08-04 17:06] rohitgr7 commented on #2816
It's been called:
https://github.com/PyTorchLightning/pytorch-lightning/blob/ad0f1194aa2fa8cc82c915e49aca3a1149901709/pytorch_lightning/trainer/evaluation_loop.py#L287-L290
https://github.com/PyTorchLightning/pytorch-lightning/blob/ad0f1194aa2fa8cc82c915e49aca3a1149901709/pytorch_lightning/trainer/evaluation_loop.py#L232-L252

[2020-08-04 17:12] nateraw commented on #2824
Can you give me an example of what this looks like? Perhaps in a colab notebook?

[2020-08-04 17:13] Borda commented on #2812
@nateraw will move the notebook to this repo and create automatic load to Colab

[2020-08-04 17:17] Borda commented on #2808
@jcreinhold mind try `master` and feel free to reopen if needed 🐰

[2020-08-04 17:17] #2808 closed

[2020-08-04 17:21] rohitgr7 commented on #2817
can you share a minimal example(colab) to check this issue?

[2020-08-04 17:31] Borda commented on #2771
How about using PL docker image - https://hub.docker.com/repository/docker/pytorchlightning/pytorch_lightning
with all already installed libraries...

[2020-08-04 17:37] Borda commented on #1372
done in #1584 #2779

[2020-08-04 17:37] #1372 closed

[2020-08-04 17:38] Borda commented on #1291
the backbone is done, now just adding new metrics...

[2020-08-04 17:38] #1291 closed

[2020-08-04 17:44] Borda commented on #2655
seems to be duplicate to #1827

[2020-08-04 17:46] nateraw commented on #2815
@roytseng-tw I ran into some issue when I tried to inherit from abc.ABC while doing initial implementation. Sounds like what you suggested would work, though.

Mind submitting a quick PR? I can assign you to this.

[2020-08-04 17:46] Borda commented on #1395
yes the path is in the Checkoint

[2020-08-04 17:47] Borda commented on #1432
@dhruvdcoder how is it going, still interested in this PR?

[2020-08-04 17:49] #1500 closed

[2020-08-04 17:50] edenlightning opened #2825 "Generalize i/o to other storage systems"
## 🚀 Feature

### Motivation

Support checkpointing from storage systems, facebook is using this -> https://github.com/facebookresearch/fvcore/blob/master/fvcore/common/file_io.py

Solution should be similar to what is[ proposed here](https://github.com/PyTorchLightning/pytorch-lightning/pull/2175).

[2020-08-04 17:55] Borda commented on #1703
it shall be fixed on master, feel free to reopen if needed 🐰

[2020-08-04 17:55] #1703 closed

[2020-08-04 18:12] Borda commented on #2022
@DKandrew as it is a while, I am wondering if this is still valid, mind update?

[2020-08-04 18:41] Borda commented on #1936
@hminle mind send a PR?

[2020-08-04 18:44] Borda commented on #2123
we shall move these examples to the repo so we can simply fix it...
cc: @nateraw

[2020-08-04 19:14] Borda commented on #2095
@nkyriazis mind send a PR with saving in `on_interupr`

[2020-08-04 19:26] Borda commented on #2823
we have a discussion about it in #2146

[2020-08-04 19:29] edenlightning commented on #2444
Need to add warning about this.

[2020-08-04 19:49] edenlightning opened #2826 "Fix DDP logging"
Add a global_zero_only=true flag, if false- create individual files, prefixed with machine nun
Write a logging callback that will do map reduce
Can we do this in the metrics?
Aggregate all tensors on global zero first
(might run into memory issues)
Gather each output individually in CPU memory
We want to preserve the fact that logging is at 0

[2020-08-04 20:01] Borda commented on #2074
@groadabike mind send a PR with PL callback?

[2020-08-04 20:01] Borda commented on #2063
feel free to reopen if needed 🐰

[2020-08-04 20:01] #2063 closed

[2020-08-04 20:03] Borda commented on #2059
@borisdayma mind have a look? 🐰

[2020-08-04 20:05] Borda commented on #2075
@SkafteNicki mind have look? or @justusschock

[2020-08-04 20:06] Borda commented on #2065
@pamparana34 mind chek the recent 0.9 from master?

[2020-08-04 20:09] Borda commented on #2036
there can be problem with a mapping lambda function, some pickable does not like local functions...
@tshrjn mind share what versions of pickle lib are you using?

[2020-08-04 20:10] nateraw commented on #2036
@Borda I believe I can close this later today, as I've been using tokenizers on multi-gpu. Workin on colab notebook example.

[2020-08-04 20:11] Borda commented on #2031
closing as #1714 was resolved, pls feel free to re-open if needed 🐰

[2020-08-04 20:11] #2031 closed

[2020-08-04 20:12] Borda commented on #2034
so there is nothing we can do about it... @awaelchli, right?

[2020-08-04 20:16] Borda commented on #2251
@borisdayma mind have a look? 🐰

[2020-08-04 20:19] #2137 closed

[2020-08-04 20:19] Borda commented on #2138
we are going to move to DataModules...
cc: @nateraw

[2020-08-04 20:21] #2148 closed

[2020-08-04 20:23] Borda commented on #2399
@Oodapow looks interesting, does is support also offline mode?
cc: @PyTorchLightning/core-contributors

[2020-08-04 20:30] nateraw commented on #2036
Ok so no colab notebook because I can't test the multi-gpu usage over there. But I used this datamodule in a model and its working fine. I was not able to make fast tokenizers work, but I don't believe that's a lightning issue, so I'm going to close this.

Not the most elegant use of `nlp` package w/ squad, but it's what I've got for now.

[code]

[code]

[2020-08-04 20:30] #2036 closed

[2020-08-04 20:33] Borda commented on #2406
cc: @PyTorchLightning/core-contributors

[2020-08-04 20:34] Borda commented on #2318
@RudrakshTuwani thanks for your help
@kreid415 feel free to reopen if needed :]

[2020-08-04 20:34] #2318 closed

[2020-08-04 20:36] Borda commented on #2385
@nateraw mind have a look at it?

[2020-08-04 20:39] Borda commented on #2497
@richardk53 how is it going?

[2020-08-04 20:52] Borda commented on #2479
@williamFalcon is this fixed?

[2020-08-04 20:53] Borda commented on #2448
@linhlevandlu feel free to reopen if needed 🐰

[2020-08-04 20:53] #2448 closed

[2020-08-04 21:00] Borda commented on #2574
shall be resolved in #2626

[2020-08-04 21:00] #2574 closed

[2020-08-04 21:02] Borda commented on #2556
@ruotianluo mind send a PR? 🐰

[2020-08-04 21:02] Borda commented on #2555
@ruotianluo mind send a PR? 🐰

[2020-08-04 21:03] Borda commented on #2666
@SkafteNicki mind have a look?

[2020-08-04 21:04] Borda commented on #2662
@edenafek mind specify a bit?

[2020-08-04 21:07] Borda commented on #2628
@PursueHappinessDirectly mind send a PR with clarifying docs?

[2020-08-04 21:08] Borda commented on #2761
@AAnoosheh I am sorry, there won't be any fixes in v0.8.1 pls consider an upgrade to latest version

[2020-08-04 21:08] #2761 closed

[2020-08-04 21:10] Borda commented on #2676
@monney mind draft a PR to clarify what you mean?

[2020-08-04 21:29] DKandrew commented on #2022
Hello @Borda,  it seems like the documentation in the original [page](https://pytorch-lightning.readthedocs.io/en/latest/api/pytorch_lightning.loggers.html#using-loggers) is gone, as @Kshitij09 points out. So this case may not be valid anymore.

[2020-08-04 21:40] romesc-CMU commented on #1936
This docs fix was overwritten in `latest` which now recommends returning an `EvalResult` object: https://pytorch-lightning.readthedocs.io/en/latest/introduction_guide.html#testing

The relevant info is now in:

I made a PR to clarify that the validation loop paragraph is also applicable to the test_loop.
#2827

[2020-08-04 21:40] borisdayma commented on #2251
@aced125 Do you have an example that I can reproduce?

[2020-08-04 21:42] #2022 closed

[2020-08-04 21:48] nateraw commented on #2718
The model checkpoint is not shared by the datamodule. I'm not entirely sure what something like this would look like. Do you have any idea of what you'd like to see @xiadingZ ? Would love to hear your thoughts 😄

As for right now, you save/load your model checkpoint and you can pass any datamodule through that model that is compatible with it. I have a glimpse of an idea where we log a snapshot of

[2020-08-04 22:33] dhruvdcoder commented on #1432
@Borda I went back to using AllenNLP for my current projects and am unable to work on this currently. Sorry about that. Please feel free to close this issue.

[2020-08-04 22:46] borisdayma commented on #2059
@Borda I never personally use "Ctrl + C". I thought it was mainly to release properly resources.
Would it be expected to keep the logger alive or would there be any kind of risks of incorrect data sent to loggers?

[2020-08-04 23:06] nateraw commented on #2815
I think that this is not what we want. the point is that you don't have to define them. Perhaps better not to go this route then. If you have any other suggestions, let me know. otherwise, maybe we close this?

[2020-08-05 01:23] sooheon commented on #2805
If I were to try to add this Artifact creation and upload code to some pl.Trainer or pl.LightningModule method(s), what is the right place for it?

[code]

[2020-08-05 01:32] awaelchli commented on #2805
if you want it in your LightningModule, then the `on_train_end` hook, or make a callback class and add these lines in the `on_train_end` callback method.

Hooks:
https://pytorch-lightning.readthedocs.io/en/latest/hooks.html#general-hooks
Callback:
https://pytorch-lightning.readthedocs.io/en/latest/callbacks.html#callback-base

[2020-08-05 03:23] aiyolo commented on #2733
I suggest adding version description at [datamodules](https://pytorch-lightning.readthedocs.io/en/latest/datamodules.html) page

[2020-08-05 04:08] awaelchli commented on #1936
nice thank you!

[2020-08-05 04:11] dangpzanco commented on #2814
##### update on this issue:

Maybe the problem has to do with the way `lr_finder` changes `model.configure_optimizers()`. I tried refactoring my custom learning rate finder (LRF) in a way that makes it easy for a potential user (without changing their arbitrary model's definition). This proved too difficult, since an apparently sane code is actually broken in two distinct, but similar, places. See

[2020-08-05 04:12] sooheon commented on #2805
Thanks, with the following I'm getting artifacts uploaded properly if training ends as normal (i.e. hitting max_epochs). However, if I interrupt training with Ctrl-C, the files are added to the artifact but fail to upload to wandb. I have also tried the same code in `on_keyboard_interrupt`, but the result is the same.

[code]

[2020-08-05 04:12] awaelchli commented on #2034
@Borda We will be when they release the new sphinx version. We can replace the `:noindex:` with `:noindexentry:` and it should show the links.

[2020-08-05 04:22] borisdayma commented on #2805
This is probably related to #2059

[2020-08-05 05:58] SkafteNicki commented on #2666
As @rohitgr7 mention, the `LearningRateLogger` which can be imported as `from pytorch_lightning.callbacks import LearningRateLogger` should be able to do what you ask for.

[2020-08-05 06:06] awaelchli commented on #2758
Yes, I am working on a fix so that you can call fit and test as many times as  you want. #2790
I ran into some other unexpected complications with nccl, but I try to get this bugfix finished asap.

[2020-08-05 06:09] SkafteNicki commented on #2075
I think this would be a great addition, I sometimes have the same problem.
@sebastienwood would you be up for trying to implement this?

On a side-note:
I had a hard time finding the `auto_select_gpus` flag in the documentation. Seems it is missing https://pytorch-lightning.readthedocs.io/en/latest/trainer.html#trainer-flags and should probably also be mentioned in https://pytorch-lightning.readth

[2020-08-05 06:18] s-rog commented on #2547
[code]
This is the error I get when I set `checkpoint_callback` to false on master (0.9.0rc6)

[2020-08-05 06:28] SkafteNicki commented on #2814
@dangpzanco thanks for looking more into this. I guess that there have been a change at some point to lightning that made this line `self.model.configure_optimizers = configure_optimizers`, because I am pretty sure that it used to work. We should probably have had a test that captured that. I will look more into this when I have time.

[2020-08-05 06:42] awaelchli commented on #2547
@s-rog I think your proposed fix is good. In case user sets checkpoint_callback to None, we should not try to set a path there.

[2020-08-05 06:42] awaelchli commented on #2547
Would you like to submit this in a PR?

[2020-08-05 06:55] justusschock commented on #2399
@Borda I think we once said, that new loggers should first go into bolts and only go into pl if they proved to be stable. Also we probably want the authors of the package implement it, since ideally they'd also maintain it.

[2020-08-05 07:35] #2666 closed

[2020-08-05 07:36] eladrich commented on #2824
Sure, the full code is a bit involved, but here is a basic example

[code]

[2020-08-05 07:40] Borda commented on #2399
yes, it would be Bolts in the first place, I was wondering just if it allows offline :]

[2020-08-05 07:53] paudom commented on #2820
Thank you for the response. Now it makes sense although the error keep appearing. I think it might be for something on my code internally.

Just one doubt from seeing your code,
` optimizer.zero_grad() ` or `discriminator.zero_grad()`?

[2020-08-05 08:25] siahuat0727 commented on #2816
@rohitgr7

Hihi, thanks a lot!

Before digging into the code, I tried to override a `Callback` class as follow and fit `Trainer` with 3 epochs, then I got the as follow:

[code]

[code]

I think `on_train_start` shoulder be paired with `on_validation_start`, and `on_epoch_start` should be paired with `on_validation_epoch_start`?

`on_validation_epoch_start` and `on_validation_epoch_end` are missin

[2020-08-05 08:28] treszkai commented on #2156
Instead of comparing `PYTHONHASHSEED` against `0`, I'd check if if it set at all when `seed_everything()` is called. If it is, that already means that the user set it intentionally (hopefully outside of the process).

The current behavior is indeed misleading.

[2020-08-05 09:07] rohitgr7 commented on #2820
If you can share a colab notebook for the same I can try resolve this issue.

[2020-08-05 10:11] SkafteNicki commented on #2824
Two options on top of my mind:
1. You need to make sure that your loss module is not registered as a child module of your network. If the loss module is not registered as a child module then `.train()` will have no effect. Easiest way to do this is to wrap in a list: `self.feat_loss = [FeatureLoss('path_to_weights.ckpt')]`
2. Overwrite `.train` method of `FeatureLoss` so it does nothing. When `Cor

[2020-08-05 10:32] #2547 closed

[2020-08-05 10:37] rohitgr7 commented on #2816
`on_validation_epoch_start` should be called after `on_validation_start`. Can you put all this in a colab notebook? I will check there :)

[2020-08-05 10:39] paudom commented on #2820
Well, I could not find the exact point where the `backward()`function fails to compute the gradients, either when I use the suggested `with torch.autograd.set_detect_anomaly(True):` from the error
-  `RuntimeError: one of the variables needed for gradient computation has been modified by an inplace operation.`

But I managed to make it work by following the code snippet below (I don't know if it i

[2020-08-05 10:53] agemagician commented on #2772
After implementing the code again in Colab, I figured out the problem.
In my case, the input pipeline for test and prediction was different and that's why I didn't get the same results.

[2020-08-05 11:00] eladrich commented on #2824
Nice ideas, what I'm currently doing is to manually change `self.feat_loss` to `.eval()` in each training_step, so these would probably be more elegant.

I think that `1.` is probably a better way to go because it also stops lightning from saving the weights of the loss in each checkpoint which also bothered me.

However, it still feels a bit hacky and I think that especially  for new practitioner

[2020-08-05 11:36] rohitgr7 commented on #2820
Nice! @paudom, but I still think there is a way to make it work with just two optimizers. If it's possible to share a colab notebook for the same, would be really helpful :)

[2020-08-05 12:24] paudom commented on #2820
The code I'm using is from a private corporation which I'm part of and cannot provide the exact code.
But I can work on making a test version in colab so we can discuss how to make it with only 2 optimizers.

[2020-08-05 12:24] siahuat0727 commented on #2816
Code
[code]

Output
[code]

With this example, no `on_train_epoch_start`, `on_train_epoch_end`, `on_validation_epoch_start` and `on_validation_epoch_end`.

[2020-08-05 13:59] roytseng-tw commented on #2815
If that is not what we want, then maybe we shouldn't mark those methods using `@abc.abstractmethod`. Otherwise, false positive pylint warning will complain about abstractmethod not overridden.
Instead, we can `raise NotImplementedError` in dataloader methods.

[2020-08-05 15:41] sebastienwood commented on #2075
I can give it a go !

[2020-08-05 17:04] #2649 closed

[2020-08-05 17:29] #2589 closed

[2020-08-05 17:42] #2556 closed

[2020-08-05 17:42] pgeez opened #2837 "Trainer.on_gpu incorrectly set to False when specifying `gpus=0`"
## 🐛 Bug

When creating a trainer with the arg `gpus=0`, the field `on_gpu` is always set `False`, even on machines with CUDA available.

The existing logic for `on_gpu` is:

[code]

is buggy because `0` is "falsy". It should probably be:

[code]

### To Reproduce

[code]

[2020-08-05 17:43] #2555 closed

[2020-08-05 17:51] dangpzanco commented on #2814
### IMPORTANT: Please update the documentation with a warning about this feature
It took too much time to make sure this wasn't a mistake on my part, and I feel like **people probably won't notice it's broken if used in a production setting**. The only way to check is looking at the `lr_finder.plot()`, but even then the problem might not be clear. Since this is a "stable" feature, **it's expected

[2020-08-05 17:51] rohitgr7 commented on #2816
Try >0.9.0rc2 or master. It's fixed there.
[code]

[2020-08-05 18:03] rohitgr7 commented on #2837
int value specifies the number of GPUs to train on. You can set gpus='0'

[2020-08-05 18:06] pgeez commented on #2837
@rohitgr7 Sure! While I don't mean to turn this into an overly-academic conversation, but the type signature for the `gpus` arg is `Optional[Union[List[int], str, int]]`, which is somewhat misleading given that `gpus=0` doesn't work as expected.

[2020-08-05 18:09] rohitgr7 commented on #2837
yeah, I guess docs can be improved here.
https://pytorch-lightning.readthedocs.io/en/latest/trainer.html#gpus

[2020-08-05 19:05] Borda commented on #2075
@SkafteNicki is it solved with #2836 ?

[2020-08-05 19:06] #1936 closed

[2020-08-05 19:39] SkafteNicki commented on #2075
@Borda no, I only added the missing docs to auto_select_gpus. What this PR is actually proposing is an enhancement of the feature, which @sebastienwood would do.

[2020-08-05 21:35] Oodapow commented on #2399
No default offline mode that i know as of yet, but the platform cat be installed as CE on any kube cluster (microk8s - for single node dev env)

[2020-08-05 22:29] wxc-kumar opened #2841 "Custom Logger Missing 1st Epoch Training Loss Results"
## 🐛 Bug

Following the [documentation on custom loggers](https://pytorch-lightning.readthedocs.io/en/latest/loggers.html#custom-logger), I've implemented a simple logger to collect the training and validation epoch losses in a simple dictionary. However, the training loss from the first epoch seems to be missing with a customer logger. See sample output below.

#### lightning.logger.data if epoch

[2020-08-05 22:59] awaelchli commented on #2837
We also have a complete table of all possible configurations and their meaning here:
https://pytorch-lightning.readthedocs.io/en/latest/multi_gpu.html#select-gpu-devices

[2020-08-05 23:03] awaelchli commented on #2837
@rohitgr7 @pgeez  how about this clarification in the docs in the section that @rohitgr7 linked:

- Number of GPUs to train on (int)
- or Which GPUs to train on (list)
- can handle strings

[code]

Would that avoid the misunderstanding you had?

[2020-08-05 23:41] wxc-kumar opened #2843 "Support Slash Seperator for TrainResult / EvalResult for TensorBoard"
## 🚀 Feature
TensorBoard [supports and recommends grouping tags prefixed with slashes](https://github.com/tensorflow/tensorboard#tags-giving-names-to-data). Tags are group under the same drop down with other tags that share the prefix. For example:
[code]

Currently, both [TrainResult and EvalResult prefix the results with an underscore](https://github.com/PyTorchLightning/pytorch-lightning/blob/m

[2020-08-06 00:04] pgeez commented on #2837
I don't think this is a documentation error, I think this is a bug. In other words, specifying `gpus=0` should be perfectly valid and supported because device `0` is a valid device.

[2020-08-06 00:21] awaelchli commented on #2837
No it's not a bug, this is expected behavior and documented that way. `gpus=int` should mean the number of devices, not the index. It is like this by design.
Here #2628 also an old discussions on these choices and why they are the way they are (see @williamFalcon's comments)

[2020-08-06 01:26] ananthsub opened #2844 "Tensorboard logger fails to save model OmegaConf hparams"
## 🐛 Bug

The Tensorboard logger fails to log module hyperparameters configured with `OmegaConf`. This happens when updating the logger `hparams` here:

- The trainer calls the logger's `log_hyperparams` [here](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/trainer/trainer.py#L1141):
- Inside `log_hyperparams` the logger's hparams are updated [here](https://git

[2020-08-06 01:30] siahuat0727 commented on #2816
@rohitgr7

I see, thanks!!

[2020-08-06 01:30] #2816 closed

[2020-08-06 06:24] justusschock commented on #2075
@sebastienwood please give it a try. If you got stuck, please ping one of us :)

[2020-08-06 06:44] richardk53 commented on #2497
Hey, sorry, haven’t had the time for this yet.

[2020-08-06 07:02] SkafteNicki commented on #2824
I agree that it may feel a bit hacky, but I would say that it has nothing to do with lightning framework and more to do with native pytorch. You would have the same problem whether or not your `CoreNet` is a `LightningModule` or a `nn.Module` (that calling `.train` on the outermost module will alter all submodules)

[2020-08-06 07:34] KeeeeiZ commented on #2771
The output is as below:
[code]
Just like what you mentioned, `NCCL` is not available.

I rebuilt the docker image with `HOROVOD_GPU_ALLREDUCE=NCCL` and `HOROVOD_GPU_BROADCAST=NCCL`, now the performance is as expected. Thanks a lot!

But since my final goal is to run horovod distributedly, I also tried the training script on two machines with a total of 8 GPUs according to the instructions on
https

[2020-08-06 07:44] KeeeeiZ commented on #2771
Thanks for the link. Is this image a superset of the one on https://hub.docker.com/r/horovod/horovod ? I am not sure what major differences it would make if I rebuild my image with just changing the beginning of the Dockerfile from `FROM nvidia/cuda:10.1-devel-ubuntu18.04` to `FROM pytorchlightning/pytorch_lightning`.

[2020-08-06 07:53] SkafteNicki commented on #2814
@dangpzanco I am not sure that the feature is completely broken, at least if I run the build in learning rate finder on a simple mnist case I get the following image, which is what I would expect to get:
![lrfinder](https://user-images.githubusercontent.com/24896311/89505944-a3d17400-d7ca-11ea-977b-e96a684be1a6.png)

[2020-08-06 09:20] c00k1ez opened #2848 "Cannot pickle custom metric with DDP mode."
## 🐛 Bug

### To Reproduce

Steps to reproduce the behavior:

1. just run this script.

#### Code sample

[code]
#### Error log
[code]
### Expected behavior
I do not know how to explain this behaviour, I think both of this classes should work well with DDP.

### Environment

* OS: MacOS

* CUDA:
        - GPU:
        - available:         False
        - version:           None
* Packages:

[2020-08-06 09:30] eladrich commented on #2824
I don't totally agree. In native `PyTorch` I will never put the loss module as part of my network. It would be a different object that exists in the main training loop context and therefore I would be able to pass the network from `.train` to `.eval` without affecting it.

Unless I'm missing something in `Lighthning`'s structure, I don't have a different location to place the loss module as it has

[2020-08-06 09:40] #2722 closed

[2020-08-06 10:08] #1803 closed

[2020-08-06 10:34] ydcjeff commented on #2837
In that table, would it be more user readable if we sort by `Meaning`?
Now they are sorted by `Type`

[2020-08-06 10:35] Borda commented on #2771
it is not based on Horovod docker image but CUDA and installed Horovod together with other Pl requirements

[2020-08-06 11:11] ydcjeff commented on #2090
@Borda I would like to take this

[2020-08-06 11:12] #2654 closed

[2020-08-06 11:26] Borda commented on #2090
@ydcjeff cool, I guess that for that we would need to redo the image to be based on CUDA directly not on PyTorch image as this way would allow us to unify the exiting and pre-release PTs

[2020-08-06 11:26] ydcjeff commented on #2090
so, test with github actions?

[2020-08-06 11:30] Borda commented on #2090
well, I see two ways:
- update the docker image and use it for Drone (but this we need to extend Drone capacity to run stable and develop PT)
- add extra GH Action to test just pre-release (the reason for extra config is to have a separate badge for both)

[2020-08-06 11:34] Alicegaz opened #2849 "Support for Scheduler taking a value to the step function"
Looking to the code in training_loop.py it seems like the only scheduler that can take values to the step function is ReduceLROnPlateau, however, there is CosineAnnealingWarmRestarts scheduler and custom schedulers that can take epoch/step id or any other value to the step function.

https://github.com/PyTorchLightning/pytorch-lightning/blob/9ab071588bbe0e24441ae0f07a271bded0e4d9c3/pytorch_lightni

[2020-08-06 11:41] ydcjeff commented on #2090
I will go for GH action

[2020-08-06 12:02] #1727 closed

[2020-08-06 12:02] williamFalcon commented on #1727
yes! fixed with structured results

[2020-08-06 12:56] pgeez commented on #2837
Ahh, ok! Thanks for the clarification all.

I'm not questioning the implementation, but was confused because in `trainer.py`, the doc for the `gpus` arg is "gpus: Which GPUs to train on."

https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/trainer/trainer.py#L231

@awaelchli To your point about above documenting the equivalence of `gpus=None` and `gpus=0`, I like t

[2020-08-06 13:33] SkafteNicki commented on #2824
Fair point. You are not missing something in `Lightning`s struture, and I think your problem is very application specific. I am not familiar with this approach where you want to keep some of the trainable network in `eval` mode during training.

This maybe hints that you could just subclass your normalization layers such that they do not change when `.train()` is called.

[2020-08-06 15:25] eladrich commented on #2824
I think it happens whenever a loss function is based on a trainable network, for example when using facial identity loss or perceptual loss.

[2020-08-06 16:35] sebastienwood commented on #2075
PR submitted !

[2020-08-06 17:11] tgaddair commented on #2771
Hey @KeeeeiZ, is it possible that one of the hosts is running with the new image, while the other is running with the old image?  That error message suggests that one machine is using NCCL and another is not.

[2020-08-06 17:44] JanRuettinger commented on #2772
@raynardj the results I get are not the same as you can see in the two pictures below. They are similar but not the same. Do you have any pointers where to look for errors?

<img width="503" alt="Screenshot 2020-08-06 at 19 40 39" src="https://user-images.githubusercontent.com/8582703/89564120-d015e080-d81c-11ea-8ebf-01d9b07ced09.png">
<img width="516" alt="Screenshot 2020-08-06 at 19 40 32" src="

[2020-08-06 19:48] SkafteNicki commented on #2824
Alright, I better understand the setting now. I think the compromise for now is to see if more people are interested in such a feature and then take it from there.

Our documentation can always be made clearer or extended (it is implicitly shown in the figure on this page https://pytorch-lightning.readthedocs.io/en/latest/trainer.html that `model.train()` is called inside trainer) so if you have a

[2020-08-06 20:10] orpatashnik commented on #2824
Agree with @eladrich that this is an important feature.
I use perceptual loss which depends on a network.

[2020-08-06 20:28] #1975 closed

[2020-08-06 21:54] vladisai commented on #2578
Are there any updates on this?

[2020-08-06 22:05] williamFalcon commented on #2578
yes... probably a bug on our end. Let me push a fix tonight.

@Borda @luiscape can we set up the multi-node testing for GPUs?

[2020-08-06 22:34] #1983 closed

[2020-08-06 23:58] chu-NMSU opened #2857 "This is really a bad idea. what if someone really don't want to sample/shuffle their data during training."
https://github.com/PyTorchLightning/pytorch-lightning/blob/633cf76c686357c88f2d6397fa316ed710004184/pytorch_lightning/trainer/data_loading.py#L146

[2020-08-07 00:07] zhenhuahu commented on #2701
Yes. I have found it out. Thank you so much!

[2020-08-07 00:07] #2701 closed

[2020-08-07 00:14] awaelchli commented on #2857
Most users want that. But if you don't, then you can turn it off by setting the flag in the Trainer and provide your own sampler.
https://pytorch-lightning.readthedocs.io/en/latest/trainer.html#replace-sampler-ddp
Feel free to reopen if that doesn't solve your problem.

[2020-08-07 00:14] #2857 closed

[2020-08-07 01:10] dangpzanco commented on #2814
MNIST is the simplest use case possible, I think. Did you test with other examples?

[2020-08-07 06:25] MVPavan commented on #2783
@rohitgr7 Sorry I haven't yet started modifying the code to lightning format it's very large code base, still in the evaluation phase. Anyway to your other question I want both NN1, NN2 to get updated with every iteration.
[Modified equation](https://discuss.pytorch.org/t/multiple-networks-multiple-losses/91130/8?u=pavanmv)

[2020-08-07 07:08] chu-NMSU commented on #2857
Thank you awaelchli. This solves my problem!

[2020-08-07 08:01] justusschock commented on #2848
Hi @c00k1ez ,

we ware aware of that. This is due to our decorators. I have a PR that starts working on that, but I was not yet able to get it running completely. Since some of the issues may be resolved with #2528 , I'd like to wait for this one before trying to tackle it.

[2020-08-07 08:02] justusschock commented on #2843
cc @williamFalcon

[2020-08-07 08:14] c00k1ez commented on #2848
Ok 👌
Yeah, thanks for links, I will explore this question :+1:

[2020-08-07 09:22] SkafteNicki commented on #2814
Yes, it is a simple use case, but this indicates that the network is clearly training, thus that cannot be the error. I will have to do more checks to find out the root of this.

[2020-08-07 10:17] Borda opened #2859 "Failing docker-Conda build"
## 🐛 Bug

there seems to be some connection issue while creating Conda env

### To Reproduce

https://github.com/PyTorchLightning/pytorch-lightning/runs/957741187

### Additional context

[2020-08-07 12:25] groadabike commented on #2074
Hi @Borda , I try to use the gpumonitor callback but it didn't work in my HPC.
For some reason, the training stop waiting for something.
I can't send a PR as I don't have any callback implemented.
I am still in need to know the GPU utilisation because I know I have a bottleneck in the dataloader (using the profiler), but I don't know for how long the GPU is waiting for the next batch.
Will back to

[2020-08-07 12:37] sykrn opened #2862 "Metrics error due to inplace operation, "computation has been modified by an inplace operation"."
Hey, @williamFalcon, I got a new error since I upgraded the library today.
I used the accuracy metric, but got an error.

### Code sample:
[code]

### Error msg:
[code]

### Can be *solved* using `.clone()` method.
However, when I clone the `y` before feeding to the accuracy function, no error was shown.
[code]
But, it's inconvenience if user has to do it manually, isn't it?
Actually, I can use th

[2020-08-07 13:13] #2844 closed

[2020-08-07 13:29] Borda commented on #2859
#2861

[2020-08-07 13:29] #2859 closed

[2020-08-07 13:31] #2622 closed

[2020-08-07 13:36] williamFalcon commented on #2862
cc @justusschock

[2020-08-07 13:53] williamFalcon commented on #2785
we had that before but removed it for some reason. I can't remember it though. But i originally agreed.

Let's do this after 0.9.0 since we need to dig back to why it changed

[2020-08-07 14:10] paudom commented on #2820
Hi again, sorry for the delay. I've made a colab with a dummy example using MNIST to train a GAN. I've tried to maintain as much as possible the original code. I show the three options we have discussed. I still don't understand why your option does not work.

Here is the link: https://colab.research.google.com/drive/1Z2B9nd5jUJDbOFjwegZrT8SD7ZSyH9W_?usp=sharing

If for some reason is not availabl

[2020-08-07 14:30] jovenwayfarer opened #2864 "Some questions about checkpoints and learning rate"
How to pass learning rate to progression bar and how to choose metric for saving model weights? Thanks!

[2020-08-07 14:39] justusschock commented on #2862
cc @Diuven , I think you introduced in-place ops for speed-up, right?

[2020-08-07 15:27] Borda commented on #2864
@SkafteNicki mind have look? :]

[2020-08-07 16:14] mortonjt commented on #2578
Just as a heads up, I took @blackwer 's solution and now have a multi-gpu example working on slurm.
Below is a high-level example of how to launch this.

[code]

[2020-08-07 16:14] #2578 closed

[2020-08-07 16:33] jgbos commented on #2727
@omry I'm trying to think through what you are suggesting here and what Lightning does.

Lightning currently handles multiple GPUs per node by launching a subprocess for each additional GPU on the node using the `sys.argv` command (this apparently reduces training times over multiprocessing).  The use of `sys.argv` obviously causes issues with Hydra because it will include all the Hydra commands.

[2020-08-07 17:53] edenlightning opened #2868 "Throw warning for changing val_loss"
Add warning to user that when changing val_loss to another keyword it will break checkpointing, early stopping, and other features relying on it.

[2020-08-07 17:54] edenlightning opened #2869 "Throw warning for using monitor in trainer"
In the init method for monitor checkpoint, we should throw a warning for calling monitor key inside the trainer.

[2020-08-07 18:06] #2005 closed

[2020-08-07 20:42] yukw777 commented on #2727
@rakhimovv sorry for the late reply, but yes you're correct, currently they don't work together.

[2020-08-07 21:12] jgbos commented on #2727
Here's an example script that outlines the Hydra/Lightning issue with `ddp` backend

This example simulates how lightning spawns a process on a node with 2 GPUs (spawns one process along with the main process).  You can see how `sys.argv` is used here.  There will be a log directory for each process.

Also, if you updated the example to run `multirun` you will see it executes twice: `python test_a

[2020-08-07 21:45] ananyahjha93 commented on #2509
@Yelen719 @ruotianluo we support sync_batchnorm in lightning now.

[2020-08-07 21:45] #2509 closed

[2020-08-08 00:07] JSAustin opened #2875 "Significant Amount of Idle Time Not Part of Training or Validation Steps"
## 🐛 Bug

When running in AWS using multi-GPU machines, we begin to notice that time spent between epochs becomes very significant. For our case, we spend 17 seconds without GPU processing between epochs that isn't part of either train or validation time. We don't have other custom functions running, so it isn't anything else beyond PyTorch lightning's other functions. When we go to 8 GPUs, this 1

[2020-08-08 00:57] awaelchli commented on #2266
Another code smell we frequently see (in many places in the code):

[code]

Better:
[code]

[2020-08-08 01:09] monney commented on #2676
@Borda I created a PR, it should also fix #2444 right now it's failing a test case, but my change shouldn't make it fail anything new. I tried the test case on my machine and it seems to work, so I'm not sure why it's failing

[2020-08-08 01:33] monney commented on #2676
The test looks broken to me, it's checking for nn.CrossEntropyLoss, but it should be checking for nn.CosineEmbeddingLoss The version I have does that.

[2020-08-08 01:45] benwu232 commented on #2799
@ydcjeff Thanks again!  :)

[2020-08-08 02:37] chnsh commented on #201
@cemanil Is there a reason why we can't do the meta-test in the training step itself and have the validation remain true validation without backpropagating through it?

[2020-08-08 02:54] ananyahjha93 commented on #2875
@JSAustin can you provide a part of code which can be used to reproduce this issue? Have you tried the same thing with DataParallel instead of DDP?

[2020-08-08 03:23] Diuven commented on #2862
Yeah, you're right. I think this is because of the `clamp_max_` I used in `stat_scores_mulitple_classes`. [This](https://github.com/Diuven/pytorch-lightning/blob/7195b1dff618eb23d8341eb83fe84fb9167c93b9/pytorch_lightning/metrics/functional/classification.py#L184) is the part.

[This](https://github.com/PyTorchLightning/pytorch-lightning/pull/2878) is a quick PR fixing this issue. If you may, pleas

[2020-08-08 03:26] #1937 closed

[2020-08-08 05:11] awaelchli commented on #2680
@shtoshni92 Thanks for the bug report. I fixed this in the linked PR and added a test.

[2020-08-08 05:16] manipopopo opened #2882 "Int num_sanity_val_steps is always replaced by float limit_val_batches"
The type annotations of `num_sanity_val_steps:` and `limit_val_batches` are `int` and `Union[int, float]` for _percent_ or _`num_batches`_. The minimum of _percent_ and _`num_batches`_ will be _percent_. (except when `num_batches==0`)
https://github.com/PyTorchLightning/pytorch-lightning/blob/a59e140ee814d8818d121405582133cf6b767e1a/pytorch_lightning/trainer/trainer.py#L461

Maybe we can remove th

[2020-08-08 05:21] awaelchli commented on #2679
You can set the `default_root_dir` arg in the Trainer. Is that what you want? Otherwise there is an option verbose in the ModelCheckpoint callback which, when turned on, should print the file path everytime it saves.

[2020-08-08 05:54] awaelchli commented on #2616
The description is not very clear, but think @davinnovation wants to do architecture search (correct me if I'm wrong), where they train several model architectures and they want to save the full architecture to the checkpoint to easily load and remember the model architecture.
@davinnovation can you confirm that this is what you mean?

in this case I would recommend onnx, jit, and all these other

[2020-08-08 06:16] Borda commented on #2266
About the import error, I remember that thare is something twisted about python version and avalanche exceptions, I guess that py3.6 doesn't have the one suggest (need to check)

Also is there a simple way how to import jist a function from a package that you are not sure if it is installed?

[2020-08-08 08:31] guangmingjian opened #2883 "When the parameter gpus of Trainer> 1, _pickle.PicklingError:"
## ❓ Questions and Help

### Before asking:
1. search the issues.
2. search the docs.

#### What is your question?
I have 4 GPUs, only Trainer(gpus=1,row_log_interval=10,max_epochs=100) can run normally. But the cpu utilization rate is extremely low, 40 cores only use 1 core. When the parameter gpus=2, the following error will occur.

Traceback (most recent call last):
  File "/home/mingjian/pytho

[2020-08-08 08:40] awaelchli commented on #2883
ddp_spawn requires everything to be pickleable (see https://pytorch-lightning.readthedocs.io/en/latest/multi_gpu.html#make-models-pickleable).

Do you have `typing.Union[torch.Tensor, NoneType]` anywhere in your codebase?

I believe you are running into this issue because you store something in your traininscript or LightningModule that is not pickleable. You don't see this error because for `gpus

[2020-08-08 09:07] #2788 closed

[2020-08-08 09:27] guangmingjian commented on #2883
Thank you so much! New problem arises. But the frustrating thing is that I have no idea to solve it.The new error is as follows：
`
Traceback (most recent call last):
  File "/home/mingjian/pythoncode/GNNPyg/test/testskorch.py", line 51, in <module>
Traceback (most recent call last):
  File "/home/mingjian/pythoncode/GNNPyg/test/testskorch.py", line 51, in <module>
    trainer.fit(model, train_load

[2020-08-08 10:01] #2862 closed

[2020-08-08 10:02] #2680 closed

[2020-08-08 10:42] sykrn commented on #2862
Great, It runs without any error, now. Thanks for the hotfix. 👍

[2020-08-08 11:49] awaelchli commented on #2883
A quick search on their github reveals several issues with pickling. It looks like they still need to work on DDP compatibility. https://github.com/rusty1s/pytorch_geometric/issues?q=is%3Aissue+is%3Aopen+pickle

probably just increase num_workers to a higher number :)

now back to your new problem. It looks like torch_geometry uses a different type of dataloader so when we try to replace the ddp s

[2020-08-08 11:51] aiyolo opened #2886 "is it better to return num_classes in get_num_classes()?"
if `num_classes != num_all_classes`, I think it is better to return `num_classes` rather than raise an error

https://github.com/PyTorchLightning/pytorch-lightning/blob/f798cffd02a0b6cbdc3033c981501c1a0c4677bd/pytorch_lightning/metrics/functional/classification.py#L67-L92

[2020-08-08 11:52] cemanil commented on #201
Thank you for your response.

I might have misunderstood your recommendation. If we'd like to compute the performance of our bilevel model on the validation or test set, how can we do so in the training step? Models like [Structured Prediction Energy Networks](https://arxiv.org/abs/1703.05667) require running backpropagation as part of inference, which in turn require having gradient computation e

[2020-08-08 12:41] matthaeusheer commented on #665
@awaelchli This way I have to keep track of the global_step associated with the training steps, validation steps, validation_epoch_end steps etc. Is there a way to access those counters in a lightning module?

To make this point somewhat more clear:

For example, in validation_epoch_end I want to plot parameter histograms
[code]
so here I have to keep track of `val_epoch_end_counter` variable. Sam

[2020-08-08 13:53] guangmingjian commented on #2883
Thank you for your patience. Since I have not used google colab notebook. I will learn it as soon as possible. Hope to run it on google colab tomorrow. Please wait for me, thank you！

[2020-08-08 14:01] matthaeusheer opened #2888 "Understanding the Progress Bar"
I train on MNIST with data loaders defined below (full train / test sets with `batch_size=128`).
`'val_check_interval': 0.1`, so per training epoch, I have 10 validation runs.

Now:
- 10000 (test) images / 128 (batch_size) = 78.125, so steps such as 54/79 do make sense.
- 60000 (train) images / 128 (batch_size) = 468.75, so I'd expect something like 120/469.

What is the "1259" representing in the

[2020-08-08 14:16] rohitgr7 commented on #2888
It's 79*10 (10 times validation per epoch) + 469(train batches) = 1259. The progress bar contains both train and validation steps.

[2020-08-08 14:42] matthaeusheer commented on #2888
I see, thanks @rohitgr7 :+1:

[2020-08-08 14:42] #2888 closed

[2020-08-08 15:35] guangmingjian commented on #2883
The code has been reproduced in the google colab notebook. However, only one gpu can be used on colab.

Error is:
[code]
When gpu=1 is tested, and it can run normally.

[2020-08-08 15:48] ananyahjha93 commented on #2875
@JSAustin Can you also mention if you are using a logger? (one of lightning's or otherwise)

[2020-08-08 15:50] #2837 closed

[2020-08-08 16:09] jovenwayfarer commented on #2864
also how to print metrics and learning rate after each epoch? I tried to understand PrintCallback, but could not manage.

[2020-08-08 16:25] rohitgr7 commented on #2886
It's not raising an error, just a warning, will still return `num_classes`.

[2020-08-08 16:57] #2886 closed

[2020-08-08 18:20] jovenwayfarer commented on #1424
@philip30 tqdm starts from epoch 1 but actually it is epoch 0?

[2020-08-08 19:03] rohitgr7 commented on #2820
@paudom I got it why this is happening. Let's say initially your discriminator has W1 weights. While calculating `d_loss` you are using the discriminator so after the first `d_loss.backward()` and `optimizer0.step()` discriminator gets updated and weights become W2. Now while calculating `d_reg_loss` in the first step itself it's using the old discriminator weights W1 because by that time weights

[2020-08-08 19:29] ananyahjha93 commented on #2882
@williamFalcon @Borda should num_sanity_val_steps be limited by limit_val_batches? My understanding is they can be independent of one another.

[2020-08-08 22:22] #2097 closed

[2020-08-09 04:52] manipopopo opened #2891 "The total number of batches shows by the progress bar of the sanity check is wrong"
## 🐛 Bug
The `total` of the sanity check progress bar is set by
https://github.com/PyTorchLightning/pytorch-lightning/blob/4d0406ec8bf1c9147b34eb607411b78a9cd28243/pytorch_lightning/callbacks/progress.py#L296

The progress bar will always show `trainer.num_sanity_val_steps` even if  the length of the validation `DataLoader` is less than `trainer.num_sanity_val_steps`.

Maybe the `total` could be c

[2020-08-09 06:11] #1841 closed

[2020-08-09 07:33] ananyahjha93 commented on #2891
@manipopopo I guess the first solution gets things done without changing anything else. Mind submitting a PR?

[2020-08-09 08:05] awaelchli commented on #2266
I think the simplest is this:
[code]
because when we import the function in Python it always has to import the whole package anyway.

[2020-08-09 09:30] rohitgr7 commented on #2891
I think once #2882 gets resolved this issue will be resolved automatically.

[2020-08-09 09:48] rohitgr7 commented on #2864
to print metrics you can create a `Callback` and override `on_epoch_end` method. Inside that, you get the trainer parameter, use `trainer.lr_schedulers` to extract learning rates. To choose a metric for saving weights you have to assign the metric name to `monitor` parameter in `ModelCheckpoint`.

[2020-08-09 10:08] #2161 closed

[2020-08-09 10:11] williamFalcon commented on #2320
@mmiakashs can you check that this works for you now on master?

[2020-08-09 10:24] #1633 closed

[2020-08-09 10:58] manipopopo commented on #2891
It seems that resolve #2882 will make the sanity check of `Trainer(num_sanity_val_steps=5)` run exactly 5 steps if the validation `DataLoader` has at least 5 batches.

Resolve this issue will make the `total` of the progress bar for the sanity check be the size of the validation `DataLoader` if it is less than `num_sanity_val_steps` (except `num_sanity_val_steps == -1`).

[2020-08-09 11:13] awaelchli commented on #2883
Hi @guangmingjian
Thanks for the code, I was able to run it and investigate the dataloader issue. The solution for the reported error message
`TypeError: __init__() got multiple values for keyword argument 'collate_fn'` is to disable automatic replacement of the DistributedSampler and create it yourself:

[code]

The reason why we have to do this manually here is that torch geometric has a custom

[2020-08-09 12:02] rohitgr7 commented on #2891
then I would suggest fixing #2882 first in which we can make self.num_sanity_val_steps to be a list of correct num_steps for each val_dataloader and then we can just do `sum(self.num_sanity_val_steps)` here to assign it to progress_bar.

[2020-08-09 12:27] guangmingjian commented on #2883
Thanks for your answers!!!

[2020-08-09 13:22] rjanovski commented on #2883
you can try to use the [latest version](https://github.com/PyTorchLightning/pytorch-lightning/tags) (not the stable one) e.g.:
`pip install --upgrade pytorch-lightning==0.9.0rc11`
see the [related issues fixed](https://github.com/PyTorchLightning/pytorch-lightning/pull/2029) with replacing the distributed backend implementation

[2020-08-09 13:36] matthaeusheer commented on #2550
@GazizovMarat This workaround is unclear to me, what is "Lightning" referring to in `Lightning.load_from_checkpoint(...)` Can you please elaborate more on how to make this work? Thanks

[2020-08-09 13:53] manipopopo commented on #2891
It seems that we have several ways to tackle the problem.

- Make self.num_sanity_val_steps a list of correct numbers of steps as @rohitgr7  [suggests](https://github.com/PyTorchLightning/pytorch-lightning/issues/2891#issuecomment-671043532). `ProgressBar` can update `self.val_progress_bar.total` using `self.num_sanity_val_steps`. Accessing the member `num_sanity_val_steps` may get values differen

[2020-08-09 15:44] awaelchli commented on #2849
@ananyahjha93 and I discussed this and we think that this change is not necessary, as it does not align with the PyTorch interface of the [_LRScheduler](https://pytorch.org/docs/stable/_modules/torch/optim/lr_scheduler.html#CosineAnnealingWarmRestarts) base class. Passing in the epoch to step is already [deprecated](https://github.com/pytorch/pytorch/blob/87970b70a7aa58372f6f771ee632209502d76f43/t

[2020-08-09 15:45] awaelchli commented on #2849
@PyTorchLightning/core-contributors

[2020-08-09 16:44] YannDubs commented on #2849
I think it would be a mistake / lack of generality not to let the user decide when a metric should be given to the scheduler. You only need to change one line of code to let the use decide for themselves:

Currently (https://github.com/PyTorchLightning/pytorch-lightning/blob/071e09fe38d6170d8b019101a3c1871aeb1b2e99/pytorch_lightning/trainer/optimizers.py#L97):

[code]

One line change to let the u

[2020-08-09 16:46] awaelchli commented on #2882
@ananyahjha93 I asked william some time ago: https://github.com/PyTorchLightning/pytorch-lightning/pull/2246#issuecomment-650685045

[2020-08-09 16:52] rohitgr7 commented on #2882
Here: https://github.com/PyTorchLightning/pytorch-lightning/pull/2246#issuecomment-651398674
Shouldn't `Trainer(num_sanity_val_steps=5, limit_val_batches=3)` run 3 sanity val steps?

[2020-08-09 18:03] jovenwayfarer commented on #2864
@rohitgr7 Thanks! How to extract learning rate from `trainer.lr_schedulers`?

[2020-08-09 18:07] rohitgr7 commented on #2864
I think it is either `trainer.lr_schedulers[0].optimizer.lr` or `trainer.lr_schedulers[0].optimizer.param_groups[0]['lr']`. Depends upon your optimizer param_group settings I think.

[2020-08-09 18:09] ananyahjha93 commented on #2883
@guangmingjian based on @awaelchli 's answer, closing this issue for now. Re-open if you think there is a need for further discussion.

[2020-08-09 18:09] #2883 closed

[2020-08-09 18:53] ananyahjha93 commented on #2849
@YannDubs this is actually a good solution. Submit a PR with this? (rename reduce_on_plateau to access_metric) and make changes to the place you mentioned above and to https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/trainer/training_loop.py#L1252 where scheduler.step() is called.

[2020-08-09 20:25] JanRuettinger opened #2896 "unexpected keyword argument 'amp_type' in trainer __init__()"
## 🐛 Bug

Versions used:
- Pytorch: 1.6.0
- Pytorch Lightning: 0.9.12rc.

[code]
Error message: `__init__() got an unexpected keyword argument 'amp_type'`

### To Reproduce
Init trainer as shown above.

[2020-08-09 20:35] awaelchli commented on #2849
+1, good suggestion

[2020-08-09 20:37] Borda commented on #2550
@matthaeusheer I believe this was fixed, mind share what version of Pl are you using?

[2020-08-09 20:40] awaelchli commented on #2896
The init of which class? could you paste the full stacktrace? Can't reproduce sorry.

[2020-08-09 20:43] f4hy commented on #2825
I believe #2164 resolved this.

[2020-08-09 20:46] matthaeusheer commented on #2550
Sure, I use pytorch-lightning==0.8.5

[2020-08-09 20:49] shivin7 commented on #2868
Hi @edenlightning, newcomer here. Is it okay if I work on this?

[2020-08-09 20:53] Borda commented on #2550
@matthaeusheer I see, mind try actual master or latest 0.9rc12

[2020-08-09 21:31] JanRuettinger commented on #2896
Thanks for you help! When I try to run this line from the documentation I get the error mentioned above.
<img width="867" alt="Screenshot 2020-08-09 at 23 29 53" src="https://user-images.githubusercontent.com/8582703/89742212-3e1a0c00-da98-11ea-854a-186f15372ccc.png">

[2020-08-09 22:29] eladar commented on #2837
When running trainer script without any flag this log message wrongly appears -

 even though the training does executed on the CPU

this is because `self.on_gpu is True` while `self.single_gpu is False`

(Windows 2004, python 3.6.9 Anaconda, pytorch 1.3.1)

[2020-08-10 03:32] elistevens commented on #838
@williamFalcon asked me to revisit this, so I'm adding some more thoughts. PR #1211 fixed the issue of suggesting that users call `.forward()` directly, but there's another layer to what I'm trying to suggest.

Essentially, I'm wanting to clearly and cleanly separate concerns, and have that clean separation be suggested by the documentation. From a OOP perspective, the documentation suggests that

[2020-08-10 06:57] xiadingZ opened #2901 "0.9.0-rc5 make program stuck on slurm+ddp, when using Accuracy"
## 🐛 Bug

after upgrading to 0.9.0-rc5 from rc4, my program stucks on val loop, no error message. train loop is normal.
all difference between train/val loop is my val loop use 'Accuracy' TensorMetric

I'm not sure it's because of 'Accuracy' or bugs in 'validation_step'.
my program use ddp + slurm, normal in 0.9.0-rc4

 - PyTorch Version (e.g., 1.0): 1.5.0
 - Any other relevant information: slurm

[2020-08-10 08:10] paudom commented on #2820
Hi @rohitgr7 thanks a lot for the explanation. I thought that when calling `super().optimizer_step()` the weights are updated everywhere so that could not happen, but makes sense that gradients in the backward are saved using the weights of the forward pass.

For the moment I close the issue. Although it will be interesting to find a way to do this in lightning, defining only 2 optimizers.

Thanks

[2020-08-10 08:10] #2820 closed

[2020-08-10 09:35] SkafteNicki commented on #2795
@xiadingZ this was solved in a recent PR (https://github.com/PyTorchLightning/pytorch-lightning/pull/2568). You can now set the `reduce_op='avg'` when you construct the metric, and it will calculate the mean and not the sum.

[2020-08-10 09:45] Alicegaz commented on #2849
@YannDubs,  @ananyahjha93, @awaelchli regarding your concerns, the use of 'monitor' value in a scheduler dictionary already carries the meaning of passing value to the step function. So there is no mistake. Why should we use another instance 'access_metric', it will add redundancy, as 'monitor' only referenced inside the check for the 'access_metric'.

Also, YannDubs solution does not  help to res

[2020-08-10 10:09] PhilJd opened #2902 "Optimizer initialization with DDP"
## ❓ Questions and Help
#### What is your question?
I would have expected optimizers to always be initialized after parameters have been moved to their destination device.
However, some ddp backends such as
[ddp_backend](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/accelerators/ddp_backend.py#L174),             [ddp_spawn_backend](https://github.com/PyTorchLi

[2020-08-10 10:35] williamFalcon commented on #838
Thanks for adding more details!

I use lightning a lot the way you describe. What gives you the impression that you can’t use it this way?

Is there a better way to show this in the docs or examples?

Take a look at all the bolts models. Most models in bolts have that pattern.

https://pytorch-lightning-bolts.readthedocs.io/en/latest/self_supervised_models.html#byol

[2020-08-10 10:58] Borda commented on #2901
@awaelchli is working on it... :]

[2020-08-10 11:40] williamFalcon commented on #2849
@ananyahjha93 let’s look at both solutions for a general one.

I’d prefer to let the user have the flexibility on this

[2020-08-10 12:13] awaelchli commented on #2901
Yes, I suspect it's the same issue I'm fixing here #2790 . Have not tested it with slurm yet, but if you want you can already try my fix:
`pip install git+https://github.com/PyTorchLightning/pytorch-lightning.git@bugfix/test-before-fit`

[2020-08-10 12:19] scarecrow1123 commented on #1341
The same happens with the recently added `CSVLogger`. Is this an issue to be fixed or is this due to a mis-configuration?

[2020-08-10 12:33] xiadingZ commented on #2901
It's not working with slurm yet, on my environment

[2020-08-10 12:57] awaelchli commented on #2902
Hi, could you share what you changed to defer the initialization?

[2020-08-10 13:05] awaelchli commented on #2837
@eladar Just checked, looks like it's fixed on master. I get
`GPU available: True, used: False`
with
`Trainer(gpus=0)`

[2020-08-10 13:07] PhilJd commented on #2902
For ddp_backend, I've moved [lines 174-177](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/accelerators/ddp_backend.py#L174-L177) ( which is mainly `optimizers, lr_schedulers, optimizer_frequencies = self.trainer.init_optimizers(model)`) to line 199, i.e., after `model.cuda(self.trainer.root_gpu)`. Note that so far I have only verified that the parameters recei

[2020-08-10 13:13] awaelchli commented on #2902
Looks good, I don't see a problem with this. Could you send a PR, then we will see if the tests pass? Then we should also check the other backends to make it consistent.

[2020-08-10 13:14] sachinruk opened #2903 "Batchsize and learning rate scheduler"
I was wondering if I need to adjust the batch size when using TPUs. I had a memory error when trying to run a (image 256x256x3) batch of size 128, which works perfectly fine on GPUs.

Furthermore, do I need to adjust my custom learning rate scheduler which on GPUs run every batch (not just epoch):
[code]

pl version: 0.8.5
system: kaggle

[2020-08-10 13:29] PhilJd commented on #2902
Done :)

[2020-08-10 13:38] awaelchli commented on #2896
Cannot reproduce on r12. Could you paste the error message please?

[2020-08-10 13:42] awaelchli commented on #2634
This should help:
https://pytorch-lightning.readthedocs.io/en/latest/slurm.html
in particular the section about auto-resubmit.

[2020-08-10 14:30] ananyahjha93 commented on #2903
@sachinruk Can you list the parameters being passed to the trainer in both the cases?

[2020-08-10 14:45] YannDubs commented on #2849
@Alicegaz using `'access_metric'` allows you to keep a meaningful default for the monitor (i.e. `valid_loss`), but if the number of keys in the dict is a concern I agree it can be dropped.

For your second point I agree my method doesn't help. I was trying to say that even though pytorch are depreciating arguments to the `step` function, PL should **at least** enable other optimizers to depend on

[2020-08-10 14:58] dthiagarajan commented on #2537
This also seems to be the root cause of an issue when trying to do LR find on distributed compute.

[2020-08-10 15:06] awaelchli commented on #2537
Fixed it in #2790
Should work already, just cleaning things up and adding tests.

[2020-08-10 15:09] dthiagarajan commented on #2537
Thanks! Just to confirm, is the crux of the fix here the `DistributedConnection.reset_connection` conditional you've added in that PR?

[2020-08-10 15:26] awaelchli commented on #2537
Yes! The PR solves many interconnected issues, but one case is the following situation

- .fit() initializes nccl on port X on all ranks, then finishes and destroys ddp connection on ranks > 0
- process returns to rank 0
- rank 0 starts 2nd .fit (or .test) with new processes launching an initing ddp connection
- now processes in rank > 0 complain that port X is already in use, because rank 0 is st

[2020-08-10 15:44] williamFalcon commented on #838
Ok, added the following to the docs to clarify this particular use case of a lightning module.

![image](https://user-images.githubusercontent.com/3640001/89801960-cf23ce00-dafe-11ea-9311-577e3761f2a6.png)

[2020-08-10 15:57] KeeeeiZ commented on #2771
Thanks for the tip @tgaddair  ! My training script is now running without bugs. But the log below shows that inifiniband device is not found. (My primary host machine's name is translation 1)
[code]

My guess is I need to configure IB manually and the following instruction is what I found after searching since my system is Ubuntu.
https://techcommunity.microsoft.com/t5/azure-compute/configuring-in

[2020-08-10 16:52] vr25 commented on #2634
@awaelchli Thank you for the link. A follow-up question: How to make sure that it starts from where it left off, checkpointing should help, right?

[2020-08-10 16:59] tgaddair commented on #2771
Hey @KeeeeiZ, have you gone through the [nv_peer_memory](https://github.com/Mellanox/nv_peer_memory) walkthrough to install the kernel module for GPUDirect?  This should be installed in the host, not the container.  That should be sufficient to make use of your Infiniband card for RDMA in NCCL.

[2020-08-10 17:10] awaelchli commented on #2634
Yes, it's supposed to restart from checkpoint. I have never tried it myself, but we're looking into adding multi-node testing so we can guarantee this works smoothly in all cases.

[2020-08-10 17:18] vr25 commented on #2634
I see, thanks for your reply, and yes, built-in multi-node support would be great.

[2020-08-10 17:29] Nilanshrajput opened #2906 "validating test steps before start of testing"
## 🚀 Feature
Do validation of complete test step with one batch to verify no error are present just as we do while at start of training

[2020-08-10 17:33] rohitgr7 commented on #2906
Doesn't `fast_dev_run` do it for test batch as well?
https://github.com/PyTorchLightning/pytorch-lightning/blob/28f79d9f7ad7a249c7cbde2b98d6cb38fb4d755a/pytorch_lightning/trainer/trainer.py#L480-L489

[2020-08-10 17:39] rohitgr7 commented on #2882
@awaelchli any comments on above? We can fix it then :)

[2020-08-10 17:41] Nilanshrajput commented on #2906
@rohitgr7 at the start of training validation steps takes places so something similar at the start of testing, I should change the title i think

[2020-08-10 17:45] rohitgr7 commented on #2906
I think you are taking about validation sanity check.

[2020-08-10 17:50] Nilanshrajput commented on #2906
yup you are right but it will be a good idea to have similar test_sanity_check

[2020-08-10 18:43] omry commented on #2727
Yes, it is an issue.
It also sounds like you need to create a Sweeper plugin for this, but I am not sure it's the best coarse of action.
Sweeper plugins takes the input overrides (command line) for a multirun and break it down to overrides for individual jobs.

I think for multiprocessing you need treat the application as a single run (not multirun) and let PL do the multiprocessing.
My suggestion

[2020-08-10 19:15] ananyahjha93 commented on #2849
@Alicegaz yes, the idea was to use only access_metric and not add it to duplicate monitor, since access_metric is more general than the specific case of ReduceLROnPlateau. But, for the second case, pytorch is deprecating passing epochs to step() function, so I am not too sure that we should keep supporting that. That just requires users to contribute additional logic if they are inheriting _LRSche

[2020-08-10 22:27] #2145 closed

[2020-08-11 00:05] jacobdanovitch commented on #2637
@awaelchli Is this supposed to be overridden in the model? It doesn't seem to get called for me in a distributed setting.

[2020-08-11 00:40] sachinruk commented on #2903
[code]
where `GRAD_ACCUMULATE = 1`.  Only difference is for gpus, I have `gpus=1` inside the `Trainer` instead. Let me know if there is anything else needed. Oh and its a TPUv3-8 on kaggle if that makes a difference.

[2020-08-11 01:05] ibeltagy commented on #2698
@Borda, couldn't test it because it appears that master is broken. It runs for a few steps then crashes with the following error. The only thing I changed is switching from release v0.8.5 to master, everything else is the same.

[code]

[2020-08-11 02:05] jgbos commented on #2727
So it actually works out great to just have a configuration for submitit.  For my example above, if you call `objective` via `executor.submit(objective, cfg)` it works out great, no need to mess with `sys.argv`.  I think this is because submitit generates a new command (using pickles?) for the submission.  I wonder if the Lightning folks would benefit in generating a subprocess similar to how subm

[2020-08-11 02:47] awaelchli commented on #2906
@rohitgr7 is right, fast_dev_run does that. There is however as mall difference to the sanity val steps

- num_sanity_val_steps is automatically on (default 5) while fast_dev_run is a manual switch (default False)
- sanity check is automatic on because most users have their validation at the end of epoch and it can take a long time until you arrive there and have an error show up
- fast_dev_run is

[2020-08-11 02:57] awaelchli commented on #2637
@jacobdanovitch Yes, this hook only works for single gpu, because in distributed we need to scatter and gather a batch, and if it is a custom object we don't know how to do that. For this, you would have to define your own DistributedDataParallel module and configure it in the [configure_ddp ](https://pytorch-lightning.readthedocs.io/en/latest/api/pytorch_lightning.core.html#pytorch_lightning.core

[2020-08-11 03:27] angshine opened #2908 "How to use multiple metric monitors in ModelCheckpoint callback?"
## ❓ Questions and Help
#### What is your question?
How can I use multiple metric monitors in the `ModelCheckpoint`？ In another way, how can I use multiple `ModelCheckpoint` callbacks？It seems that the `Trainer` only accepts a single`ModelCheckpoint` in the `checkpoint_callback` argument.

#### Code
[code]
#### What's your environment?

 - OS: Ubuntu 16.04
 - Packaging: pip
 - Version: pytorch-lig

[2020-08-11 03:30] siahuat0727 opened #2909 "load_from_checkpoint: TypeError: __init__() missing 1 required positional argument"
## ❓ Questions and Help

#### What is your question?

load_from_checkpoint: TypeError: __init__() missing 1 required positional argument

I have read the issues before, but the things different is **my `LightningModule` is inherited from my self-defined `LightningModule`.**

How to solve this problem or what is the best practice better suited to my needs?

#### Code

To reproduce the error:

[code

[2020-08-11 07:18] awaelchli commented on #2909
Did you try to call `self.save_hyperparameters()` in _LitModel?

[2020-08-11 07:20] Borda commented on #1237
@TylerYep can we help you? or wait a bit after we finish the refactoring...

[2020-08-11 07:52] awaelchli commented on #2908
We currently don't support multiple ModelCheckpoint callbacks.
For monitoring multiple metrics with the same callback, I think you have to use the Results object:
https://pytorch-lightning.readthedocs.io/en/latest/results.html#trainresult

[2020-08-11 07:54] siahuat0727 commented on #2909
@awaelchli
Hihi, the result is the same.
It works if I directly use `_LitModel` instead of `LitModel`. So I think that's sth about inheritance.

[2020-08-11 07:56] siahuat0727 commented on #2909
https://pytorch-lightning.readthedocs.io/en/latest/hyperparameters.html

[2020-08-11 08:37] awaelchli commented on #2909
@siahuat0727 I can confirm this is a bug. I fixed it and reduced your example to a minimal test case, so it won't break in the future. Thanks for providing a easy to reproduce script!

[2020-08-11 08:37] NumesSanguis commented on #2552
Not yet sure yet, but it looks like `AveragePrecision` (https://pytorch-lightning.readthedocs.io/en/stable/metrics.html) seems to be acting like mAP. but they didn't add "Mean" to the name?

[2020-08-11 08:46] beyondyoni opened #2912 "Checkpoint monitor str in default Trainer"
## ❓ Questions and Help
Hi,
In the default setting (with `checkpoint_callback=True`), when the method `configure_checkpoint_callback` is invoked by the c'ntr, the model hasn't yet been loaded to the trainer (as `run_pretrain_routine` is invoked only after `fit()`).

Thus, when calling `self.configure_checkpoint_callback(True)`, the line `train_step_only = not self.is_overridden('validation_step')`

[2020-08-11 09:05] awaelchli commented on #2882
It depends. What does it currently do in your example?

[2020-08-11 09:24] Borda commented on #2698
trying to reproduce with colab tests, but actually I have a problem installing XLA, @zcain117 ?
https://colab.research.google.com/drive/15E3oo3vPsSvLVufU4I6AK2thcXcg2mdW#scrollTo=BHBz1_AnamN_

[2020-08-11 09:50] Heuchelmoerder opened #2913 "DistributedDataParallel with nccl backend produces zombie processes"
Hey lightning community,

first I want to thank you for this nice project. It helped me a lot to improve my research code and I'm happy to recommend it to my colleagues whenever they are complaining about their code mess.

I have a problem with some kind of racing condition which is reproducible in a slurm environment with multiple GPUs. I used DistributedDataParallel with the 'nccl'-backend.
The

[2020-08-11 11:38] siahuat0727 commented on #2909
Great job. Thanks!!

[2020-08-11 11:38] #2909 closed

[2020-08-11 11:54] groadabike commented on #2074
Hi Borda,
I have a first attempt for my Callback to measure the GPU usage and GPU "dead" periods.
Can you take a look at it and give me your feedback?
I am doing several measures and logging in tensorboard:

1- Time between batches  - the time between the end of one batch and the start of the next.
2- Time in batch - the time between the start and end of one batch
![Screenshot from 2020-08-11 12-5

[2020-08-11 12:15] krisho007 opened #2914 "Unable to train with 8 cores TPU"
## 🐛 Bug

Unable to train with TPU cores = 8. It trained one full fold, and it failed during the next fold.
I have a validation loop and it still fails. I am trying on kaggle.

### To Reproduce

Fork edit this notebook and run on TPU

https://www.kaggle.com/krisho007/fork-of-melanoma-with-pylightning

### Additional context
* CUDA:
	- GPU:
	- available:         False
	- version:           10.2
* P

[2020-08-11 12:23] awaelchli commented on #2913
Hi, I had a PR here #2165 in which I attempted to add proper signal handling that would kill the processes. Did you simply set the NCCL_BLOCKING_WAIT env variable in the init_ddp_connection?

[2020-08-11 13:03] SkafteNicki commented on #2074
@groadabike i think that looks like a great addition. I you want to submit a PR, feel free :)
Personally I would also add flags for temperature (`temperature.gpu` and `temperature.memory` query) and fans (`fan.speed` query), both can be disabled by default. For the `memory_utilization` flag I would also log `utilization.memory`.

[2020-08-11 13:46] Heuchelmoerder commented on #2913
Hi awaelchli,
your signal handling seems to be the cleaning up part, which is currently missing. I also see there are some similar issues linked to your PR.

Yes, I only set NCCL_BLOCKING_WAIT to 1 in my overwritten init_ddp_connection, which allows the timeout handling of the sub-processes. So it's not as clean as your signal handling, but maybe a good fallback in case of a crash.

Best regards
L

[2020-08-11 14:11] drStacky commented on #2679
Somehow I misread the explanation of `default_root_dir`. I thought it only changed the name of the `default` directory, not the whole path. This is exactly what I needed. Thanks!

[2020-08-11 14:11] #2679 closed

[2020-08-11 14:27] Borda opened #2915 "add graph to Tensorboard logger"
## 🚀 Feature

adding a graph to TB logger as it is shown here
https://www.learnopencv.com/tensorboard-with-pytorch-lightning/
maybe also add histograms...

### Motivation

![image](https://user-images.githubusercontent.com/6035284/89909431-581a3280-dbef-11ea-9969-1d5ff15107ac.png)

[2020-08-11 14:36] ArmanMazdaee commented on #2914
I have encountered the same issue and I am suspected that the source of the bug is in the `ModelCheckpoint`.
If the `checkpoint_callback` parameter of the Trainer set to `False` the training could continue with out any problem.

[2020-08-11 14:59] ananyahjha93 commented on #2903
@sachinruk I couldn't find any known bugs where the batch size doesn't translate directly between a GPU and TPU because ideally, a TPUv3-8 should have more memory. Is the memory error an OOM? Can you post the error message and code to replicate this?

[2020-08-11 15:07] rohitgr7 commented on #2882
In the https://github.com/PyTorchLightning/pytorch-lightning/pull/2246#issuecomment-651398674 you said it should run for 5 val_steps but here https://github.com/PyTorchLightning/pytorch-lightning/blob/0097630a95bddc48d6fb5d3b9a58aef2e8e89b22/pytorch_lightning/trainer/trainer.py#L463-L466 it seems that it's running for 3 val_steps.

I suggest `num_sanity_val_steps` should be updated according to `l

[2020-08-11 15:17] rohitgr7 commented on #2903
I think setting batch_size=128 will actually be 128*8 here since it's running on all tpu-cores. I don't think TPUv3-8 can handle this.
https://pytorch-lightning.readthedocs.io/en/latest/trainer.html#tpu-cores

[2020-08-11 15:30] rohitgr7 commented on #2912
Nice catch! Neither `validation_step` belongs to `self` (Trainer) here. Either it should default to `loss` or `val_loss` just like early_stopping_checkpoint.

[2020-08-11 15:39] rohitgr7 commented on #2914
`New entrants are currently not allowed. You will be able to accept the rules and submit late predictions after the competition completes.` In the meantime try it with master??

[2020-08-11 15:41] angshine opened #2916 "ModelCheckpoint with custom filepath don't support training on multiple nodes"
## 🐛 Bug
When training on multiple nodes using `ModelCheckpoint` with custom `filepath`, it will raise `FileExistsError` caused by the following line of code: [model_checkpoint.py#L127](https://github.com/PyTorchLightning/pytorch-lightning/blob/97e6f35b34437c89d422bd440dca4a8d2c4d5a9f/pytorch_lightning/callbacks/model_checkpoint.py#L127).

Maybe a try-except block is needed?

[2020-08-11 16:50] awaelchli commented on #2916
No I think we just need to pass in exists=True :)

[2020-08-11 16:52] awaelchli commented on #2916
@f4hy your PR added this line. Do you know a good way to fix it?

[2020-08-11 16:57] krisho007 commented on #2914
Not sure what I am doing wrong. I get below error when I try to instal the mater on Kaggle notebook.
`ERROR: Command errored out with exit status 1: /opt/conda/bin/python3.7 /opt/conda/lib/python3.7/site-packages/pip install --ignore-installed --no-user --prefix /tmp/pip-build-env-5a_ig8hg/overlay --no-warn-script-location --no-binary :none: --only-binary :none: -i https://pypi.org/simple -- setup

[2020-08-11 17:43] rohitgr7 commented on #2914
`pip install git+https://github.com/PytorchLightning/pytorch-lightning.git@master --upgrade`
Not working??

[2020-08-11 17:46] rohitgr7 commented on #2914
Try:
[code]

[2020-08-11 18:02] f4hy commented on #2916
Ah sorry. I think I know what's up. I'll get a patch out this evening. Sorry!

[2020-08-11 21:31] shivin7 commented on #2868
Hi @Borda, newcomer here. Can I work on this?

[2020-08-11 21:48] Borda commented on #2868
@shivin7 perfect, go ahead! 🎉

[2020-08-11 22:07] cinjon opened #2919 "How can I get the unused parameters from `find_unused_parameters`?"
## ❓ Questions and Help

### Before asking:
1. search the issues.
2. search the docs.

#### What is your question?

I searched both of the above and it seems like `find_unused_parameters` is on by default (https://github.com/PyTorchLightning/pytorch-lightning/blob/b7d72706c3696afafb2519e3ff3715d2bf295606/pytorch_lightning/overrides/data_parallel.py#L180), however I am getting an associated error w

[2020-08-11 23:03] shivdhar commented on #655
Would it be fair to say that this advice has been superseded by the `bptt` argument in `Trainer`?

[2020-08-11 23:04] andrewjong commented on #2534
This is an important feature. Especially for large datasets where an epoch may take a whole day, we might want to save a checkpoint in between epochs in case something goes wrong.

[2020-08-11 23:15] williamFalcon commented on #655
yes! 0.9.0 makes this very clear. check out the latest master docs

[2020-08-11 23:28] #2637 closed

[2020-08-11 23:52] andrewjong commented on #596
Please reopen this issue.

[2020-08-11 23:53] shreyaskamathkm commented on #2407
Hi,

Any updates on this?

Thank you,
Best,
Shreyas

[2020-08-12 00:00] shivdhar opened #2922 "RNN batch_first performance considerations based on backing kernel"
Question:

**Can I use `batch_first=True` everywhere without worrying about performance differences on CPU, GPU, TPU?**

The defaults PyTorch sets are `batch_first=False` for all RNNs (RNN, LSTM, GRU). Pytorch Lightning mandates `batch_first=True` for `truncated_bptt_steps`, however. Will setting it True this mean relative faster performance on CPU and slower on GPU (for example) as compared to se

[2020-08-12 00:02] andrewjong commented on #2534
Saving a checkpoint every N steps should really NOT be tied to validation.

[2020-08-12 00:05] shivdhar commented on #655
Thanks for the clarity!

[2020-08-12 00:36] johngrabner commented on #328
How does one log lr-Adam in tensorboard?
Using Red-Eyed warmup code and have:
[code]

[2020-08-12 01:26] johngrabner opened #2923 "Documentation"
Documentation at [https://pytorch-lightning.readthedocs.io/en/latest/api/pytorch_lightning.callbacks.lr_logger.html](url)
says:
[code]
The above results in error
Traceback (most recent call last):
[code]

When I drop logging_interval='step'

It logs on tensorboard step 0, but I would like all steps, the same as in [logging_interval='step'](URL) example from RedEyed.

[code]

[2020-08-12 02:15] bryant1410 commented on #2534
Also for the opposite; if you have very short epochs, you don't wanna spend time/disk-space saving so many checkpoints.

[2020-08-12 03:57] huyvnphan opened #2924 "Smaller last batch skews Train/EvalResult"
## 🚀 Feature
Supported weighted average for Result
### Motivation
The last batch of dataloader is usually smaller than a regular batch. Hence simply average the statistic of all batches will skew the epoch statistic.
_For example_
[code]
Wrong epoch accuracy =` (0.7 + 0.8 + 0.9) / 3`
Correct epoch accuracy = `(256 * 0.7 + 256 * 0.8 + 10 * 0.9) / ( 256 + 256 + 10)`

### Pitch

Support input for wei

[2020-08-12 05:07] f4hy commented on #2916
@angshine I found a few issues with the model checkpoint path stuff. Not 100% sure I found the particular bug you were seeing but I think this should fix it. Can you give my branch in the above PR a test? Sorry to have introduced this bug for you.

[2020-08-12 05:37] ydcjeff commented on #2923
Hey @johngrabner,

this is from the recent merged PR #2847, this hasn't been released
You could try master for that if you want.

[2020-08-12 07:12] justusschock commented on #2924
@huyvnphan thanks for the issue, you're totally right. I'll try to tackle this issue :)

Unfortunately I cannot give you an ETA so far :)