[2022-01-17 14:19] carmocca commented on #11480
We should log a warning when training is configure to run an infinite epoch and the LightningModule overrides `training_epoch_end`.

[2022-01-17 14:19] krishnakalyan3 commented on #11482
I would like to work on this!

[2022-01-17 14:25] rohitgr7 commented on #11475
@justusschock this won't work if we enable it?
[code]

[2022-01-17 14:26] rohitgr7 commented on #11482
@krishnakalyan3 awsome!

please go ahead with a PR :)

[2022-01-17 15:25] justusschock commented on #11475
@rohitgr7 ah okay, yeah this could work, but it definitely requires some additional logic from the user and won't work if you have 3 loaders and the loader you want to control everything is neither the longest, nor the shortest one.

[2022-01-17 15:54] manangoel99 commented on #10530
@carmocca
Please add @manangoel99 to logger:wandb

[2022-01-17 17:22] Cyber-Machine commented on #11483
I would like to work in this issue!

[2022-01-17 17:34] #11471 closed

[2022-01-17 17:47] rohitgr7 commented on #11483
@Cyber-Machine  awsome!

please go ahead with a PR :)

[2022-01-17 18:16] eladsegal commented on #11504
@rohitgr7 I added `max` to `batch_idx` and `total_batch_idx` and it fixed the issue. Is it a valid solution or should it be solved somewhere deeper?

[code]

[2022-01-17 18:20] Borda opened #11512 "Tagging discussion with release number"
## 🚀 Feature

It would be nice to have included (used or related) PL version to keep the context as it can easily happen that discussing some specific cases can vary significantly based on the used version...

### Pitch

keep the topic/case tide with its related PL version

### Alternatives

In some way, we can add a tag with the latest version to each newly created topic as it is most likely that

[2022-01-17 18:27] rohitgr7 commented on #11512
also as discussed, if we could ask users the versions of their env, it would be really good.
right now it's not possible but maybe in the future once this gets integrated: https://github.com/github/feedback/discussions/2838

[2022-01-17 19:50] mauvilsa commented on #11221
### Use case 3

Do this as follows:

[code]
[code]
[code]

One person wanting to do it differently even though there are similar alternatives is not enough to add it as a new feature. Even more if this introduces new syntax such as `./model_1.yaml: model.backbone`. You are free to open this as a feature request in jsonargparse, but it will not be worked on or merged unless there is a large group o

[2022-01-17 19:58] mauvilsa commented on #11463
I could but not sure when. Independent from this, is there any reason why we shouldn't do this or what else needs to be done? One minor I could think of is that by removing the subcommand key there is no way to know which subcommand was executed.

[2022-01-17 20:11] mauvilsa commented on #11463
I think it would be great if the model hyperparameters are saved in the checkpoint so that for test/predict the model can be loaded without the need to give a config. Though, note that `LightningCLI` supports more than what `self.save_hyperparameters()` is currently able to deliver. More specifically with `LightningCLI` it is possible to have models that work via composition. Therefore, in the `__

[2022-01-17 20:52] dtoniolo commented on #11475
This is exactly what I was looking for and suffices for my use case, thank to both of you. I wasn't aware of the existence of `CombinedLoader`, my bad.

My issue is solved, but other developers may run in a similar problem. Should I close the issue or leave it open as a feature request for the implementation of a more sophisticated behaviour of `CombinedLoader`?

[2022-01-17 21:21] rohitgr7 commented on #11475
@dtoniolo this won't work yet since returning a CombinedLoader isn't supported yet.

I'd say we can at least enable this dynamic behavior for now.

[2022-01-17 22:12] dtoniolo commented on #11475
Are you sure that it is not supported? I'm just genuinely being curious, because [the docs](https://pytorch-lightning.readthedocs.io/en/latest/guides/data.html) seem to suggests it's possible. In any case, tomorrow I'll make a test as soon as possible. Also, for my use case I prefer to avoid making use of the `train_dataloader()` method and instead i create the data loader in my main script, which

[2022-01-17 22:33] #11423 closed

[2022-01-18 03:21] marsggbo opened #11523 "How can we run model validation from a subprocess?"
## 🚀 Feature

### Motivation

The standard model training process is: training -> validation -> training -> ... -> test best model.

I wonder is it possible we use a subprocess to do evaluation once an epoch of training is finished so that the training can be continued without waiting for evaluation.

I believe this can greatly improve the training process. Any suggestions to implement it? Thanks!

[2022-01-18 04:42] nonstopfor opened #11524 "`import pytorch_lightning` fails with `ValueError: transformers.models.auto.__spec__ is None`"
## 🐛 Bug

A ValueError occurs whenever PyTorch Lightning is imported after Huggingface's Transformer. Importing Transformer after PyTorch does not lead to any errors, however.

### To Reproduce
Tested in local anaconda environment:
import this:
[code]
It seems that this issue doesn't exist on Google Colab.

### Expected behavior
[code]

### Environment
* CUDA:
        - GPU:
                - TITA

[2022-01-18 06:03] Eralien commented on #10947
@carmocca Thanks. You're right, the sample does not hang. I found the wrong part where my code actually hangs. I will open another issue with corrected info.

[2022-01-18 10:25] rohitgr7 commented on #11475
[code]
yes, it's only supported for val/test/predict dataloaders since for training it expects native DataLoaders and then it wraps it around `CombinedLoader`:
https://github.com/PyTorchLightning/pytorch-lightning/blob/033dba1494a177954e8ca59bc74b1635e83b9efa/pytorch_lightning/trainer/trainer.py#L1769-L1801

even passing it to `.fit` won't work as of now.

[2022-01-18 10:33] akihironitta commented on #11524
It seems to happen with `torchmetrics==0.7` which was released yesterday as reported in https://github.com/PyTorchLightning/metrics/issues/770.

[2022-01-18 10:49] nonstopfor commented on #11524
Thanks! It is solved now.

[2022-01-18 11:37] akihironitta opened #11525 "Use `FutureWarning` for deprecation warning instead of `"
*basically a copy of https://github.com/PyTorchLightning/metrics/issues/744 which was addressed in https://github.com/PyTorchLightning/metrics/pull/749*

---

## 🚀 Feature

see suggestion in https://github.com/PyTorchLightning/metrics/pull/740#discussion_r782088021

### Motivation

most of the deprecations in TM are meant to users not developers

### Pitch
Replace `DeprecationWarning` with `Future

[2022-01-18 11:40] dtoniolo commented on #11475
I'm testing it right now and the first epoch seems to run fine. As soon as it ends I'll be able to test if there are issues when an epoch after the first one is run

[2022-01-18 11:49] akihironitta commented on #11524
Let's keep this issue open until it gets fixed :)

[2022-01-18 14:16] rohitgr7 commented on #10765
hey @kaushikb11 !

this seems to be organized now. https://pytorch-lightning.readthedocs.io/en/latest/
can we close this?

[2022-01-18 15:36] #8008 closed

[2022-01-18 15:39] shabie opened #11528 "Clarity of the differences between `prepare_data` and `setup` of the `LightningDataModule`"
## 📚 Documentation

The current explanation of [`prepare_data`](https://pytorch-lightning.readthedocs.io/en/latest/extensions/datamodules.html#prepare-data) and [`setup`](https://pytorch-lightning.readthedocs.io/en/latest/extensions/datamodules.html#setup) seem to me a bit unsatisfactory.

While they do go somewhat into the technical differences (i.e. `prepare_data` runs as a part of the main proc

[2022-01-18 15:47] #10427 closed

[2022-01-18 15:54] morganmcg1 commented on #3635
Hey all, I'm at Weights & Biases, we'll get this fixed :)

[2022-01-18 17:00] nithinraok commented on #11451
I provided the fix [[#11481](https://github.com/PyTorchLightning/pytorch-lightning/pull/11481)]  to save the state correctly for last_model_path variable to store the latest model path correctly in case the training interrupts in between.  @carmocca @awaelchli could you review and suggest the fix accordingly? This is causing major issues while performing distributed training. Thanks.

[2022-01-18 17:29] jgbos commented on #11300
@tchaton I'll think about it.  I'm running into some issue still with multirun that I need to debug, which brings me to the actual challenge of this PR... is there a good way to test it?  It's still a bit hacky for assuming the `config.yaml` file is in the `.hydra` (which is the default behavior).  Maybe do a search with `Path.glob` for the config file? Again, I'll think about it.

[2022-01-18 18:33] miccio-dk commented on #646
Sorry to exhume this old issue, but this feature doesn't seem to work any longer. These are my trainer arguments:
[code]

I'm using this settings to completely avoid the validation dataset, and just overfit a single batch of data over 1000 training steps.

[2022-01-18 18:35] yifeim opened #11529 "[bug] missing np.array handling in _get_dataloader_init_kwargs"
https://github.com/PyTorchLightning/pytorch-lightning/blob/033dba1494a177954e8ca59bc74b1635e83b9efa/pytorch_lightning/utilities/data.py#L225

This line of code yields an error if I initialize `predict_dataset = torch.utils.data.DataLoader(np.array(5))`, because the comparison `<inspect._empty> != np.array(5)` will return a numpy array, which is unacceptable by true/false comparators. A possible fi

[2022-01-18 19:09] ananthsub commented on #646
@miccio-dk this is a very old issue - I'd recommend creating a new one as the project has changed significantly since this was filed.

you may also be interested in this: https://github.com/PyTorchLightning/pytorch-lightning/issues/10888

[2022-01-18 19:19] rohitgr7 commented on #11529
PyTorch, dataloaders doesn't accept NumPy arrays. It should be a Dataset.
https://pytorch.org/docs/stable/data.html#torch.utils.data.DataLoader

[2022-01-18 19:32] rohitgr7 commented on #11528
hey @shabie !

`prepare_data` and `setup` can both be used to configure anything as long as you are using single device strategies (no distributed training) but when it comes to multi-device settings, it will be a problem. That's why we recommend them to use it as mentioned in the docs to ensure even if you change your settings to multi-device in Trainer, no code change will be required.

Because,

[2022-01-18 19:35] ZhaofengWu opened #11530 "inference_mode"
PyTorch has an `inference_mode` (https://pytorch.org/docs/stable/generated/torch.inference_mode.html) that it recommends as a replacement for `no_grad`. But I don't think lightning is currently using it. Should it?

cc @borda @awaelchli @rohitgr7 @akihironitta

[2022-01-18 19:41] shabie commented on #11528
Thanks a lot @rohitgr7! Your answer sheds some important light on the differences.

I think the room for clarity is definitely there. I'll wrap my head around it and make a PR because I still feel that a new reader in a hurry to use the framework would not still end up being unsure of his choices.

I'll keep the issue open for now if that's OK.

[2022-01-18 19:47] shabie commented on #11530
Pretty cool. When was this introduced in PyTorch? Seems very recent.

[2022-01-18 19:48] ananthsub commented on #11530
We actually added support for it: https://github.com/PyTorchLightning/pytorch-lightning/issues/8499
But needed to revert as inference mode wasn't supported across all process group backends, which led to errors with distributed. That being said, we could try landing this again and selectively disabling it depending on the underlying configuration (e.g. if gloo is used, don't use inference mode)

[2022-01-18 20:04] rohitgr7 commented on #11528
totally valid point!
feel free to send a PR anytime :)

[2022-01-18 20:14] ananthsub commented on #11528
Some other topics that the docs could clarify with `prepare_data`:
- In a distributed setting, the time `prepare_data` can take is restricted to the collective timeout. That's because we add a barrier after `prepare_data` to ensure all processes proceed to `setup` only after the data is actually prepared. Which means super expensive data processing pipelines cannot run in this step (e.g. more than

[2022-01-18 20:21] shabie commented on #11528
BTW, I am still not sure how the code should be if not like how it was done in the MLOps-Basics repository.

The example you have in the docs points to does the following:

Step 1) an explicit download step done in the `prepare_data` step (using a throwaway class initialization that triggers the downloading of MNIST which is stored in the `data_dir`).
Step 2) The same MNIST dataset class is reinit

[2022-01-18 20:24] shabie commented on #11528
\*wipes tears...\* 😋 thank you @ananthsub!

[2022-01-18 20:47] ZhaofengWu commented on #11530
I believe that's probably worth doing -- given how common inference is, even small improvements here would probably mean a lot.

[2022-01-18 21:01] carmocca commented on #11463
So there's two topics here:

1. A bug. The saved config includes the subcommand used, even though the user passed a config for a specific one.

I don't think so.

2. A feature. That the CLI uses the ckpt path or hyperparameters yaml to load the model configuration.

This should be discussed in a separate issue, however, saving hypeparameters is not required with the CLI, perhaps even discouraged s

[2022-01-18 21:31] carmocca commented on #11463
I opened #11532 which fixes:

[2022-01-18 21:47] carmocca commented on #10574
For the record, this is achievable right now:

If you don't want it to be configurable, as loggers generally don't change between runs
[code]

And if you do:

[code]
(or using a configuration file)

we just haven't implemented shorthand notation for them.

[2022-01-18 23:07] ninginthecloud commented on #11475
Hi, @rohitgr7  and @justusschock , this issue is exaIctly a use case that previous closed feature issue (#9046 ) can solve  Could we re-evaluate  and open the issue #9046 ? In short, #9046 support for multiple dataloaders in training and evaluation/validation/testing/prediction. It provides the user flexibility to update how they want to iterate over multiple dataloaders via `DataIterationStrategy

[2022-01-18 23:17] carmocca commented on #9726
This was an unfortunate choice, log* as a term is way too overloaded, logging and loggers are separate concepts where the `LoggerConnector` manages both and publishes to the loggers the data gathered from logging

[2022-01-18 23:29] Drow999 opened #11534 "RuntimeError: Early stopping conditioned on metric val_loss which is not available. Pass in or modify your EarlyStopping callback to use any of the following:"
## 🐛 Bug
Hello guys,
Does anybody have any idea why the early stopping was triggered? I checked the value of val_loss and it is not equal to 0. And I found the issue #490 #492 solved a similar problem, but that is pl 0.5, and the verison I used is 1.4.5, also I tried 1.5.8 before, the result is the same.

### To Reproduce

[code]
[code]

[2022-01-18 23:34] Drow999 commented on #11534
### Console screenshot
![1](https://user-images.githubusercontent.com/77601118/150035640-83cb6c1a-3177-4e2f-b59e-83658122e546.jpg)
![Screenshot from 2022-01-18 18-19-33](https://user-images.githubusercontent.com/77601118/150035656-b48f66e1-dbc1-4d2a-aa8f-5ef1d699e8aa.png)
![Screenshot from 2022-01-18 18-19-46](https://user-images.githubusercontent.com/77601118/150035662-199f0eb6-e556-4700-af8a-d77

[2022-01-19 02:05] yipliu commented on #4988
So what should PL do about the Bbox case?

[2022-01-19 06:18] bosmart commented on #5558
Same issue.

[2022-01-19 07:05] Drow999 commented on #11534
I solved it by add
`self.log('val_loss', val_loss)`
in validation_step() to mark the loss I want to monitor...

[2022-01-19 07:05] #11534 closed

[2022-01-19 08:04] F-Barto commented on #11463
Thank you very much @carmocca and @mauvilsa !

I agree with you for the two points you mentioned @carmocca.
For 2. I think the question can be further extended.

How do we, as users, use the Lightning CLI to run the standard model usage pipeline (train-val, test and predict) ? What parameters do I have to provide the CLI at each stage (configs, checkpoint, config overwrite...) ? Why do I need to c

[2022-01-19 09:04] Borda commented on #10888
Could you please provide a model use case?
Personally, I feel that it goes against the PL best practice principle, which in most cases includes progress monitoring and that shall be done on the validation set, not on training...
Also, would you get the same functionally if you in Trainer's init limit number of validation bathes to zero?

[2022-01-19 10:29] rohitgr7 commented on #11528
@shabie

something like, in an ideal case:
[code]
this can be improved further a little, where we can tokenize the data inside `prepare_data` itself and save the tokenized data, and inside `setup` load it back.
[code]

[2022-01-19 10:39] williamFalcon opened #11538 "enable ffcv with PL"
A team introduced ffcv which does optimizations in the dataloader level.
As long as it can be a drop in replacement for dataloader it should add the benefits to any PyTorch and Lightning script.

ie:
[code]

Let's make sure when users want to get the benefits of both FFCV and PL they can do that!
cc @borda @rohitgr7 @Felonious-Spellfire @justusschock @awaelchli @ninginthecloud @otaj @tchaton @carm

[2022-01-19 11:21] mariomeissner commented on #5285
What happened to this feature? @carmocca

I'm implementing a callback that runs a special evaluation loop on a separate dataset. I want to log the result of that evaluation. It runs at the `on_evaluation_end` event, of course, since I want to run this after the normal evaluation loop.

Ideally I'd like to be able to just do `pl_module.log("special/val", accuracy.compute())`, but it raises:
[code]

[2022-01-19 11:23] allanchan339 opened #11539 "Validation_step_batch_end return empty list in 'dp' mode"
## 🐛 Bug

### To Reproduce

The following tutorial is used and cloned in my machine to test the functionality of Distributed Data-Parallel and Data Parallel.

https://colab.research.google.com/github/wandb/examples/blob/master/colabs/pytorch-lightning/Optimize_Pytorch_Lightning_models_with_Weights_%26_Biases.ipynb

The validation step will return preds for a customized callback LogPredictionsCallb

[2022-01-19 12:12] morganmcg1 commented on #11539
Hey @allanchan339 I'm from Weights & Biases, we'll look into this, thanks for raising it :)

[2022-01-19 13:27] carmocca commented on #10888
It's a sensible proposal but has the big drawback of creating confusion with `trainer.fit`.
Especially because fit with no validation data will still be supported.
If fitting with no training data had been supported, we might not have added `trainer.validate`

However, I see the advantage for external loop customization or orchestrating multiple calls.

Would you implement the loop class used as a

[2022-01-19 17:18] carmocca commented on #5285
Can't you use `on_validation_epoch_end`?

[2022-01-19 19:15] rohitgr7 commented on #11407
I'd suggest using `Trainer(track_grad_norm=1)`. It logs gradients after they are unscaled. wandb might be logging them once they are available, but can't say how it works internally there.

[2022-01-19 21:47] carmocca commented on #11451
@nithinraok When you run your script for the second time, you are not passing an existing checkpoint to the trainer to resume: `.fit(..., ckpt_path="your_checkpoint.ckpt")`

This means that the `ModelCheckpoint` state does not get restored so the `last_model_path` from the previous run will not get deleted.

Considering that, training gets run again from the beginning and new checkpoints are gener

[2022-01-19 21:53] carmocca commented on #11451
If you don't actually want to resume from a checkpoint and you want to keep both "last" checkpoints from both runs, you have 3 options:

- Use an unique `ModelCheckpoint(dirpath=...)` per run.
- Use an unique `trainer.checkpoint_callback.CHECKPOINT_NAME_LAST=...` per run.
- Implement the feature #5030

[2022-01-19 22:03] jjenniferdai commented on #11451
+1, please use the supported `.fit(ckpt_path=)` API to resume from checkpoint (https://pytorch-lightning.readthedocs.io/en/latest/common/checkpointing.html#restoring-training-state)

this line that was being used is a lightning-internal only variable present only to continue supporting the deprecated `Trainer(resume_from_checkpoint=)` API until its removal in v2.0.

[2022-01-19 22:07] felixsg commented on #1113
@artuntun , something like this should work to get the right logger: https://github.com/ashleve/lightning-hydra-template/blob/390f42f7635eae6b93c082c177d40ae1cdd6e5f2/src/callbacks/wandb_callbacks.py#L16

[2022-01-19 22:17] nithinraok commented on #11451
@carmocca what do you mean by ` you are not passing an existing checkpoint to the trainer to resume: .fit(..., ckpt_path="your_checkpoint.ckpt")` Are you referring to -last.ckpt or any .ckpt file?

When resume from a saved checkpoint dir.. I expect to have only one -last.ckpt flle, deleting all previous ones if exist.

changing to  `.fit(ckpt_path=)` doesnt help either in this case , I can still r

[2022-01-19 22:27] nithinraok commented on #11451
Let me explain the issue and intended behavior again.

Using the code mentioned in https://github.com/PyTorchLightning/pytorch-lightning/issues/11451#issue-1100736679 , I run the code for few epochs, lets say 1. [This means epoch 0 and epoch 1 have finished and I interupted the training after end of first epoch that is during 2nd epoch]
At this point, checkpoint directory looks like this:

Now whe

[2022-01-19 23:42] rohitgr7 commented on #10760
good catch! I think we should use `num_processes` instead. Need to check whether it will hold true for TPU and DDP2 or not.

[2022-01-20 00:03] BartekKrzepkowski opened #11547 "Ability to change the number of epochs after initiating the trainer."
## 🚀 Feature

Ability to change the number of epochs after initiating the trainer.

### Motivation

Imagine that you have defined a model and you are creating a trainer with the parameter max_epochs = n. After training the model, you are going to change something in the dataset and continue training with more epochs. It cannot be done (to my knowledge) without creating a new trainer. The problem i

[2022-01-20 00:06] ananthsub commented on #11547
Here's a related RFC that discussed this: https://github.com/PyTorchLightning/pytorch-lightning/issues/10444

[2022-01-20 00:29] four4fish opened #11548 "Registry Strategy with strategy base name"
## Proposed refactor

Now we have {strategy_name}+{parameter} registries, but not {strategy_name} for most strategies. For example “ddp_find_unused_parameters_false” is registries but not “ddp”. The accelerator_connector uses both strategy_registry and enums to find str to strategy matching.
part of #10416

### Motivation

Unify strategy registry behavior, remove enums and enable accelerator_conne

[2022-01-20 01:18] mariomeissner commented on #5285
I could indeed. Thank you for the hint.

[2022-01-20 02:47] carmocca commented on #11451
@nithinraok Would you mind adapting the following script to reproduce the behaviour? Both fit calls can be done in the same script to simplify the demostration

<details>

[code]

</details>

The assertions currently pass

[2022-01-20 03:12] nithinraok commented on #11451
@carmocca I think the important thing to note here is the interruption of training and resuming from where we left. This scenario happens while we train on clusters, where after a certain time limit job gets killed and we would want our next job to safely restore states and resume running.

The script you mentioned passes assertions at my end too.

[2022-01-20 05:41] cowwoc commented on #10660
@awaelchli You asked for a discussion, @turian created it, and it went nowhere :)

I agree that it would be helpful to provide a guide for increasing GPU usage. I have never been able to get GPU usage over 3%. From the sound of it, @turian is having a similar problem. I assume other users are as well.

Is it possible to work with @turian to figure out what is going wrong in his case and build up a

[2022-01-20 05:44] cowwoc commented on #10660
Slight correction to the above post... @awaelchli asked for a Github discussion thread, not a new PR. @turian did you ever create one?

Wherever you guys are having this discussion, I would love to be copied on it.

[2022-01-20 06:51] tchaton commented on #11538
@ethanwharris This could be built-in within Flash.

[2022-01-20 06:52] tchaton commented on #11300
Hey @jgbos,

Great question. I think the simplest is to create a simple test with the config file, not in the right place and see if you can recover from it.

Best,
T.C

[2022-01-20 07:00] tchaton commented on #10606
@kaushikb11

I would like to propose a different behavior.

We don't change the default, but if the user was to do `Trainer(devices="auto")`, this would set `accelerator="auto"` by the same occassion.

[2022-01-20 07:01] tchaton commented on #11480
@carmocca Mind creating an issue ?

[2022-01-20 07:11] shabie commented on #11528
Now I haven't gotten around to making the PR yet but this thread provides far more clarity than is available on the docs regarding the differences between the two methods :)

For Lightning to give people the lightning effect in their work, the docs need to outshine everything else. Generally speaking, I think this is where Lightning needs to do a bit more work and I find how well Transformers is d

[2022-01-20 07:12] ananthsub commented on #10606
the reason why I voted for accelerator="auto", devices=1 is that this should always be safe. If devices="auto", and if the accelerator supports multiple devices, this means we also need to automatically select the strategy, if one wasn't already available.

That means, depending on the device availability, this setting could lead to very different behaviors:
- Trainer(devices="auto") -> if GPU is

[2022-01-20 07:40] #11483 closed

[2022-01-20 09:52] Yevgnen commented on #1853
@adriantre How can I gather all predictions when using with `BasePredictionWriter` in a multiple GPU setting? Thanks!

[2022-01-20 10:07] #10527 closed

[2022-01-20 10:09] rohitgr7 commented on #10760
yes! just waiting for final approvals.
cc @tchaton @awaelchli @carmocca

[2022-01-20 10:52] justusschock commented on #10444
I think that without any changes to where the arguments will be located, this would already be a great enhancement, since this allows a more flexible configuration and also changing these arguments inbetween two `fit`-calls.

In total: I understand both sides here and I think that for now, stability is way more important than changing the location. I also think though, that this is something, we d

[2022-01-20 12:35] #11463 closed

[2022-01-20 13:18] manangoel99 commented on #11539
Hello! recreated this with DataParallel. For 2 GPUs, DataParallel splits the batch (size 256) into two parts (size 128 each) and runs computation on them seperately. This happens in the `validation_step function` as well but when the `on_validation_batch_end` function is called, the `batch` variable has 256 values while `outputs` turns out to be a scalar.

The underlying reason could be that after

[2022-01-20 13:54] #3635 closed

[2022-01-20 14:31] justusschock commented on #11539
@rohitgr7 You are right with the reason for this. However, maybe we should also check the callbacks whether they implement it? Because I agree that the current behaviour is weird.

[2022-01-20 14:34] rohitgr7 commented on #11539
which hooks in callbacks? @justusschock

[2022-01-20 14:38] rohitgr7 commented on #11504
@eladsegal yes and no.. solves one issue but creates another one. In case val_check_interval=1, it will redirect to advance_end and start with validation, which might be incorrect. Need to think a better sol.

[2022-01-20 15:57] paantya opened #11553 "add ffcv data loader"
## 🚀 Feature

add:
Fast Forward Computer Vision: train models at a fraction of the cost with accelerated data loading!
https://github.com/libffcv/ffcv

### Motivation

speedup training

cc @borda

[2022-01-20 16:02] Borda commented on #11553
I think it is duplicate to #11538 :rabbit:

[2022-01-20 16:09] paantya commented on #11553
cool!
yes, tnx

[2022-01-20 16:09] #11553 closed

[2022-01-20 16:10] paantya commented on #11538
https://github.com/libffcv/ffcv/issues/72

[2022-01-20 16:27] carmocca commented on #10760
Sounds good to me.

[2022-01-20 16:39] rivi commented on #11368
@Blaizzy yes - it seems to solve the problem. In case of the Lightning`s neptune logger I just needed to call:
[code]

[2022-01-20 16:39] #11368 closed

[2022-01-20 17:06] carmocca commented on #10606
I would suggest that each person writes their table of preferences, these are mine:

<pre>
      |       User passed         |          We set           |
</pre>
| Case      | `accelerator` | `devices` | `accelerator` | `devices` |
|-----------|---------------|-----------|---------------|-----------|
| 1         |  None         | None      |  auto         | 1         |
| 2         |  xpu

[2022-01-20 17:07] justusschock commented on #11538
This is related to #10696

[2022-01-20 17:12] justusschock commented on #11539
Every hook getting the outputs (`on_validation_batch_end` etc. )

[2022-01-20 17:14] carmocca commented on #11451
My point is that we need a (generally) reproducible snippet to fully understand the problem and write a test to avoid a regression. A repro recipe of running multiple scripts is hard to get right so I would like that we isolate the problem to its most minimal form.

You can take that script and start adapting it until you observe the behavior you see in the clusters. I just wanted to provide the s

[2022-01-20 17:24] carmocca opened #11554 "Warn when running an infinite epoch and overriding "epoch end" accumulating hooks"
## 🚀 Feature

When the user configures `Trainer(max_steps=-1, max_epochs=-1)` an endless epoch runs, so overriding `training_epoch_end` or `validation_epoch_end` with `val_check_interval==float` can be a problem because they will keep outputs in memory indefinitely.

### Motivation

Many users are not aware of the impact of overriding these hooks so infinite epochs open the door to "memory leaks".

[2022-01-20 18:00] rohitgr7 commented on #11539
hmm.. but they cannot change the outputs and return them but `LM.validation_step_end` can and return them.
The reason, I think, we check this is because we expect users to reduce the loss too if they are overriding `LM.validation_step_end`.

Anyways if we move forward to remove the reduction, I think it should not reduce anything else except the loss.

[2022-01-20 18:15] carmocca commented on #5285
Unfortunately this cannot be supported without caveats because values logged in `LightningModule.on_validation_end` will not be available for checkpointing since `ModelCheckpoint` is a callback and currently `Callback`s run before the `LightningModule`

I recommend that `on_validation_epoch_end` is used instead, and if you need to log an aggregation over multiple validation epochs within a trainin

[2022-01-20 18:15] #5285 closed

[2022-01-20 18:32] rohitgr7 opened #11555 "`global_step` is incorrect while restarting"
## 🐛 Bug

While resuming `global_step` is increased since it's incremented during checkpointing.
https://github.com/PyTorchLightning/pytorch-lightning/blob/1a2536361749d13e3f30cec11c7da11747f425ab/pytorch_lightning/trainer/connectors/checkpoint_connector.py#L343

any reason why this is incremented? even if training is stopped in between (no fault-tolerant), the checkpoint is restarted from the nex

[2022-01-20 19:00] ananthsub commented on #10760
1. from naming alone, `num_training_steps` is ambiguous. for new users, it's unclear whether this means the total per process, total per process per epoch, total globally, or the progress counter for number of steps completed. it's especially confusing since there's an existing `num_training_batches` property which has completely different semantics. How do you plan to make this easily understanda

[2022-01-20 19:12] rohitgr7 commented on #10760
1. We can think of a better name, `total_training_steps` maybe. Shouldn't be a blocker I guess.
2. AFAIK, Uneven inputs is supported during prediction only? for training/evaluation we still use `DistributedSampler`.
3. `self.trainer.accumulate_grad_batches` updates at every epoch. Now the value will depend upon when users call it.
4. We can return something, maybe inf, or raise a warning/error. Bu

[2022-01-20 19:16] carmocca commented on #10760
For the name, I would suggest something like `expected_training_steps` to differentiate it from count variables that get updated as training progresses

[2022-01-20 19:20] jgbos commented on #11300
@tchaton True, I'm also thinking about PL+Hydra properties to test.  There are going to be a few edge cases my solution doesn't support.  I would rather PL support something like `python -m pytorch_ligntning.main pickled_data.pk` for launching their subprocesses.  That way the subprocess would work independent of how a user launches a job. Not sure how that would be implemented though.  Tough prob

[2022-01-20 19:33] csvance commented on #9887
Ideally argument linking should support this use case, but there doesn't seem to be a way to address specific callbacks. Ie this doesn't work:

[code]

Results in:

[code]

This snippet should at least work around the problem, but its clunky in that it requires passing parameters to the model just to have the model substitute them in to the ModelCheckpoint:

[code]

[2022-01-20 20:57] daniellepintz commented on #10984
@tchaton what do you think about deprecating these hooks?

[2022-01-20 21:21] daniellepintz opened #11559 "[RFC] Deprecate `on_before_accelerator_backend_setup` hook"
## Proposed refactor

Deprecate `on_before_accelerator_backend_setup` hook in v1.6 for removal in v1.8. Redirect users to the `setup` hook.
https://github.com/PyTorchLightning/pytorch-lightning/blob/5ad5ba54c0c477546d21daf75ac7b4748d7963a7/pytorch_lightning/callbacks/base.py#L63-L65

### Motivation

I only see two external uses of this hook and 3 internal uses in https://www.grep.app/search?q=on_b

[2022-01-20 21:35] daniellepintz opened #11560 "[RFC] Deprecate `on_configure_sharded_model` callback hook"
## Proposed refactor

Deprecate `on_configure_sharded_model` callback/LM hooks in v1.6 for removal in v1.8
https://github.com/PyTorchLightning/pytorch-lightning/blob/5ad5ba54c0c477546d21daf75ac7b4748d7963a7/pytorch_lightning/callbacks/base.py#L60-L61

### Motivation

I see no uses of this hook either externally or internally: https://www.grep.app/search?q=on_configure_sharded_model

### Additional

[2022-01-20 22:03] noamsgl opened #11561 "Asynchronous checkpointing"
## 🚀 Feature

The idea is to enable asynchronous model checkpointing during training.

### Motivation

I'm training thousands of small identical `gpytorch` models, each one is trained for 1000 epochs on a different 1d time series sample. The training on a GPU takes ~1/4 seconds of time. Saving the model at the end takes about 1.25 seconds, and this blocks the training of the next models and wastes

[2022-01-20 22:29] ananthsub commented on #11559
+1 - this hook is also confusing following the strategy refactor, since the Accelerator no longer directly controls the backend setup

[2022-01-21 00:00] eladsegal commented on #11504
I got a bit confused: I do use `val_check_interval=1`, and the problem of starting with validation is what I opened this issue for. The modification in my previous message did seem to fix the "starting with validation" problem.

Anyway, I see you already have a pull request, so never mind.
Thank you!

[2022-01-21 01:37] carmocca commented on #11555
I believe this is a duplicate of https://github.com/PyTorchLightning/pytorch-lightning/issues/7406.

I've wanted to fix this for a long time, will tackle global step after the current epoch fix is merged.

[2022-01-21 03:20] shenmishajing commented on #11221
@mauvilsa thanks for your reply and suggestion, I will create a fr in jsonargparse.

[2022-01-21 05:18] VedPatwardhan commented on #11554
I'd like to work on this, could you assign this issue to me?

[2022-01-21 06:35] nithinraok commented on #11451
@carmocca I wish I could provide you a script end to end to replicate the behavior that was shown above with appropriate trainer flags but I couldn't. I tried the `max_steps` option to stop training at 2nd epoch but checkpoint states have been safely stored as `epoch 2-last.ckpt` even though it doesn't finish the epoch fully. So I couldn't replicate the interruption behavior.

But, I hope you unde

[2022-01-21 07:01] tchaton commented on #11560
@SeanNaren I believe it has never been properly advertised. I think it would be fair to remove it as I don't really find a real use case for it.

[2022-01-21 07:05] tchaton commented on #10984
Hey @daniellepintz. Great question. I can see Bolt and other repos use it, but we should incentivize for cleaner code. So I am in favor of the depreciation.

[2022-01-21 07:06] tchaton commented on #11300
Yes, this needs to be revisited :) Feel free to open a PR with your solution, so we can iterate on your findings.

[2022-01-21 07:08] tchaton commented on #10760
I believe `estimated_training_steps` might be less confusing for the users.

[2022-01-21 07:22] tchaton commented on #11554
Hey @VedPatwardhan,

Yes, go on !

[2022-01-21 07:26] tchaton commented on #10557
not stale.

[2022-01-21 07:26] ananthsub commented on #8731
Now that Lightning supports infinite training, these hooks introduce greater risks of OOMs: #11554

[2022-01-21 07:27] tchaton commented on #11054
@rohitgr7 Mind having a look.

[2022-01-21 07:41] tchaton commented on #11559
This hook was introduced to enable freezing model weights prior to creating the optimizers.

Now that accelerator has been refactored, I believe setup would be a better replacement and we could depreciate this and move the base fine-tuning callback to rely on setup.

[2022-01-21 07:46] tchaton commented on #9887
@mauvilsa for reference.

[2022-01-21 08:04] tchaton commented on #10888
After reflecting on this, @ananthsub I believe this shouldn't be added.

First, because the Trainer API is final, but more importantly because it would force bad practices on the user. I am 100 % sure @williamFalcon and co at the beginning thought hard about it and the fact this option doesn't exist was meant to be from scratch.

IMO, the best practice induced by the trainer.fit is to perform a sa

[2022-01-21 08:16] tchaton commented on #11561
I believe you would have a process with a queue responsible to checkpoint the model weights. This could be done directly within the ModelCheckpoint.

[2022-01-21 08:26] mauvilsa commented on #9887
@csvance indeed with `link_arguments` currently it is not possible to have as target some key nested in a list. Furthermore, the target key cannot be the same as one of the sources as you have it. Anyway, if I understand correctly, what you want can be done by making the callback [configurable](https://pytorch-lightning.readthedocs.io/en/stable/common/lightning_cli.html#configurable-callbacks) as

[2022-01-21 10:00] justusschock commented on #11539
Well they could still change it without returning (python uses call by reference most of the time).

However, we may also keep it the current way

[2022-01-21 10:09] KevinCrp opened #11565 "KFold cross validation example: Trainer has no attribute 'strategy'"
## 🐛 Bug

I'm trying the K-Fold cross-validation example from pl_examples.
When I run the example, there is an error
AttributeError: 'Trainer' object has no attribute 'strategy'

`Traceback (most recent call last):

  File "test_kflod.py", line 281, in <module>
    trainer.fit(model, datamodule)

  File "/home/[USER]/[PATH]/lib/python3.8/site-packages/pytorch_lightning/trainer/trainer.py", line 74

[2022-01-21 11:10] SeanNaren commented on #11560
Sounds good! Should we also remove the additional code tied to it (exposing the context manager for larger models in deepspeed/FSDP etc?)

[2022-01-21 11:37] rohitgr7 commented on #11565
hey @KevinCrp !
the example there will work fine on master since Loops are currently experimental.
Check out the conversation here for more info and workaround: https://github.com/PyTorchLightning/pytorch-lightning/pull/11230#discussion_r774123525

[2022-01-21 11:44] krishnakalyan3 commented on #11559
I would like to work on this!.

[2022-01-21 11:45] krishnakalyan3 commented on #11559
@daniellepintz can you please point me to examples/steps on how to achieve this?.

[2022-01-21 13:55] carmocca commented on #11559
I agree with deprecating this, the hook is really specific. Using it doesn't paint a good picture design-wise so I think it'll be good to clean up, now that it's not necessary.

[2022-01-21 13:55] carmocca commented on #11560
I agree with removal, the hook is really specific. Using it doesn't paint a good picture design-wise so I think it'll be good to clean up, now that it's not necessary.

[2022-01-21 13:59] carmocca commented on #10984
Me too

[2022-01-21 14:04] csvance commented on #9887
Thank you, this works for me! A very common use case is defining your experiment name once, then including it in the checkpoint path and in your LightningLogger of choice (Comet, Wandb, Tensorboard, etc). For the logger part, if I try to link the arguments I get `ValueError: Target key "trainer.logger.init_args.experiment_name" must be for an individual argument.`. It looks like the callback regis

[2022-01-21 15:01] carmocca commented on #11451
Wouldn't raising an exception manually reproduce it? Does it need to be a SIGKILL?

[code]

[2022-01-21 15:14] pasinit commented on #1686
when the progressbar is disabled, is it possible to still log the progress with every n steps automatically? Manually i guess one can just add prints on training_step and validation_step functions

[2022-01-21 15:23] #11462 closed

[2022-01-21 15:40] carmocca commented on #11561
When you say "saving the model" are you referring precisely to the IO operations to save and delete? If so, we could create a IO plugin that can work asynchronously, it could be adapted from https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/plugins/io/torch_plugin.py

[2022-01-21 16:18] akihironitta commented on #11554
@carmocca I was thinking it also applies to the case of only `max_steps=-1` being specified because it means an endless epoch, right?

[2022-01-21 16:52] daniellepintz commented on #11559
Thanks @krishnakalyan3! Please see https://github.com/PyTorchLightning/pytorch-lightning/pull/10940 as an example. Lmk if you have any questions!

[2022-01-21 16:55] daniellepintz commented on #10984
For anyone who wants to pick up these issue, here is an example PR to follow: https://github.com/PyTorchLightning/pytorch-lightning/pull/10940

[2022-01-21 17:01] daniellepintz commented on #11560
yes sounds good. can you link to the code we can remove so whoever does this issue remove it as well?

For anyone picking up this issue, you can also follow https://github.com/PyTorchLightning/pytorch-lightning/pull/10940 as an example

[2022-01-21 17:58] akihironitta opened #11566 "`build-CUDA (3.7, 1.8)` fails with `ModuleNotFoundError: No module named 'apex'`"
## 🐛 Bug
See title and recent failures of the workflow:
https://github.com/PyTorchLightning/pytorch-lightning/actions/workflows/ci_dockers.yml

Seems like the workflow has been failing for quite a long time...

### To Reproduce

### Expected behavior
No failure.

### Environment

- PyTorch Lightning Version (e.g., 1.5.0):
- PyTorch Version (e.g., 1.10):
- Python version (e.g., 3.9):
- OS (e.g., Li

[2022-01-21 18:18] Borda commented on #11566
I guess that the `apex` is installed to another site-packages then default one

[2022-01-21 18:27] ninginthecloud commented on #11555
Hi, @rohitgr7, I think it relates to how user is using checkpointing. If user uses checkpoint callback, then on `on_train_epoch_end`, global_step has decreased by 1, see https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/callbacks/model_checkpoint.py#L298-L309
[code]
That's why in pytorch-lightning/pytorch_lightning/trainer/connectors/checkpoint_connector.py, globa

[2022-01-21 18:50] #11555 closed

[2022-01-21 19:00] nithinraok commented on #11451
Thanks for the suggestion, here is the snippet to reproduce the error :)

[code]

[2022-01-21 19:36] #10268 closed

[2022-01-21 19:42] nithinraok commented on #11451
Adapting the script you provided:
<details>
<summary> Adapting the script you provided: </summary>
<br>

[code]
</details>

This gets fixed with the PR I provided but it has a problem of a checkpoint being deleted in case the interruption happens at that movement. One way is, we could copy last_model_path to a temp variable and save first then delete prev checkpoint.

[2022-01-22 04:12] VedPatwardhan commented on #11554
I had a doubt while writing a test for the change being made. In the `test_config_validator.py` file, inside the `test_fit_val_loop_config` function, if a warning is created, then the `BoringModel` class is instantiated, could you please guide me what that class is all about, and do I need to instantiate the `BoringModel` class for the warning generated too? Also, what other properties of the mode

[2022-01-22 04:53] ananthsub commented on #11554
Here's one suggestion to test.
- Create a new class that extends the BoringModel and implements the `training_epoch_end`.
- Construct a Trainer which has settings configured for infinite training.
- Call `trainer.fit` and confirm that you see a warning emitted from the configuration validator

You can follow the pattern for the `validation_epoch_end` and `val_check_interval==float` scenario descri

[2022-01-22 05:56] VedPatwardhan commented on #11554
Okay, I'll do that.

[2022-01-22 06:19] Piyush-97 commented on #11560
I will try to do this.

[2022-01-22 08:04] gau-nernst opened #11574 "DDPPlugin does not accept find_unused_parameters when used with Lightning CLI"
## 🐛 Bug

Since DDPPlugin does not have type annotation for `find_unused_parameters` in its `__init__()`, Lightning CLI cannot parse the config (or more correctly, `jsonargparse`?). The following will fail:

[code]

I looked at the new `strategies` module, and it seems like it will have the same problem also.

Right now I'm using a workaround as suggested [here](https://github.com/PyTorchLightning

[2022-01-22 10:11] Blaizzy commented on #11368
That's amazing @rivi!!!  🥳

Glad it worked for you!

Don't hesitate to reach out if you have any other issues or feature requests.

[2022-01-22 14:15] BenoitDalFerro commented on #11524
exact same issue exact same diagnostic with install as of yesterday 22/01/2022 20h51 GMT+1
` torchmetrics  0.7.0 pyhd8ed1ab_0    conda-forge`
downgrading to torchmetric<0.7.0 as a quick fix did the trick

[2022-01-22 16:06] BramVanroy commented on #9968
Looking forward to any updates on this.

[2022-01-22 17:04] carmocca commented on #11574
Duplicate of https://github.com/PyTorchLightning/pytorch-lightning/discussions/8561

There is a feature request for this in jsonagparse too: https://github.com/omni-us/jsonargparse/issues/114

[2022-01-22 17:06] carmocca commented on #9968
The plan is to add deprecations and an opt-in mechanism for this and #9737 before the 1.6 release

[2022-01-23 09:04] ttu-nguyen commented on #11361
Did you find a solution for this problem @villmow? I encountered the same issue.
@ananthsub fairscale version: 0.4.5

[2022-01-23 09:46] quancs commented on #8924
@mauvilsa variable interpolation not work. run `python boring.py --config boring.yaml`

boring.py
[code]

boring.yaml
[code]

[2022-01-23 10:35] quancs commented on #8924
Oh, I see. It's not on the recent release...

[2022-01-23 15:10] rohitgr7 opened #11586 "Progress bar metrics not displaying metrics logged in `on_train_epoch_end` hook"
## 🐛 Bug

See title.

### To Reproduce

[code]

Output:
<img width="1573" alt="Screenshot 2022-01-23 at 8 28 05 PM" src="https://user-images.githubusercontent.com/30778939/150684644-8b83ae26-a0c7-4fad-9757-df02f102e1a0.png">

But `trainer.progress_bar_metrics` displays it correctly:
[code]

### Expected behavior

It should display the metrics since we allow logging metrics inside `on_train_epoch_e

[2022-01-23 16:06] bsridatta commented on #11054
@ananthsub I was looking into similar issue earlier and before I made a PR the structure was changed.
The logic is now in `DataConnector` and the changes I made previously are no longer enough to shuffle.

The self._check_eval_shuffling function below doesn't return anything other than raising an error.
https://github.com/PyTorchLightning/pytorch-lightning/blob/9cf9ded73b66296e1b22369ea4e8327f9ce0

[2022-01-23 16:24] awaelchli commented on #11559
Strictly speaking, setup() is not a direct replacement/alternative for this deprecated hook.
the sequence of hook calls is this:

[code]
**Just saying.**
But nobody uses this hook specifically to run right before setup_environment.

[2022-01-23 16:59] carmocca commented on #11586
This is an unavoidable limitation of the Callback hook design.
The only simple solution is to invert the call order but that's a breaking change and then we'd have the opposite problem: "what if the LightningModule relies on something produced in the same hook of a callback"? (albeit this is rarer than the current limitation).

A lasting solution but much more complex would be to adopt a reactive

[2022-01-23 17:10] rohitgr7 commented on #11586
the example is just to highlight the underlying problem. For a different kind of callback, it might fail completely. for eg. `ModelCheckpoint`.

The only simple solution is to invert the call order but that's a breaking change and then we'd have the opposite problem: "what if the LightningModule relies on something produced in the same hook of a callback"? (albeit this is rarer than the current li

[2022-01-23 17:44] rohitgr7 opened #11587 "Inconsistency with loading dataloaders when `limit_batches=0`"
## Proposed refactor

Whenever we set `limit_batches=0`, for training we don't even load the dataloader but for validation/testing/prediction we do but set `num_batches=0` and don't even iterate it.

<details><summary>CODE</summary>
<p>

[code]
</p>
</details>

Case 1: no training/validation with `.fit`
[code]
Output:
[code]
Expected:
[code]

Case 2: training with no validation with `.fit`
[code]

[2022-01-23 17:54] rohitgr7 opened #11588 "Add debugging utilitity methods for DDP"
I would really like to have _rank_breakpoint(0) and multi_print(msg) (using color) to help debugging DDP. Maybe next PRs :)

_Originally posted by @tchaton in https://github.com/PyTorchLightning/pytorch-lightning/pull/11445#discussion_r788463929_

[2022-01-23 18:09] #11208 closed

[2022-01-23 19:05] awaelchli opened #11590 "Issue with execution order of tests"
## 🐛 Bug

We currently have side-effects in our tests. The order in which we execute the test suite matters.

### To Reproduce
See PR [here](https://github.com/PyTorchLightning/pytorch-lightning/pull/11589), where I used `pytest-random-order` to trigger a different run order.

### Expected behavior

Any random order of test execution passes the same way.

### Environment

Currently observed in our

[2022-01-23 19:36] awaelchli commented on #11560
Yes!

[2022-01-23 22:28] twsl commented on #10983
Its just the code in the initial commit. I agree, that this is nothing Lightning can fix.

[2022-01-23 22:28] #10983 closed

[2022-01-24 02:43] chunyang-wen opened #11592 "Remove 401 by use __all__"
## Proposed refactor

We can add `__all__` in `__init__.py` file in order to remove F401 Error.

[code]

[code]

### Motivation

Remove annoying 401 error.

### Pitch

No error reported by mypy or pre-commit

[2022-01-24 07:00] cowwoc commented on #9032
I'm confused by this change. `GPUStatsMonitor` logs metrics like "gpu utilitization" but when I migrate to `DeviceStatsMonitor` I don't see any GPU metrics logged anywhere. Is there any documentation on using `DeviceStatsMonitor` and more concretely on how to migrate from `GPUStatsMonitor` to `DeviceStatsMonitor`?

[2022-01-24 08:27] VedPatwardhan commented on #11554
@ananthsub could you please help me understand what's going wrong? I think I've made the change, but many of the tests are failing.

[2022-01-24 09:43] vedal commented on #839
Really hope this is still planned for milestone 1.6 as suggested by @awaelchli :)

[2022-01-24 09:51] rohitgr7 commented on #839
fixed the example recently. are you guys still facing issues with this?
https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/loop_examples/kfold.py

[2022-01-24 09:51] Borda commented on #11592
I am not sure if want to amplify the visibility of these internal tools...

[2022-01-24 09:58] justusschock commented on #11592
What's internal there? They are supposed to be stable with 1.6 as user-interface for power users...

[2022-01-24 10:09] villmow commented on #11361
Sorry for late reply. Experiments were done with fairscale version `0.4.4`.

@ttu-nguyen Nope, I switched to DDP.

[2022-01-24 14:13] bryant1410 commented on #11368
Shouldn't PL do this automatically after some event (e.g., training end)?

[2022-01-24 14:29] rivi commented on #11368
@Blaizzy I'm running my code using a script that uses Hydra's multirun feature.

@bryant1410 As I understand it, it is somehow difficult to achieve, as you can still call `trainer.test()` after  `trainer.fit()` and the results should be logged to Neptune. There is no obvious point at which `logger.run.stop()` should be called automatically. One could think of applying context manager (`with` state

[2022-01-24 16:38] alanhdu opened #11600 "[Feature] Loosen `pydeprecate` version pin"
This is a minor nit, but right now PyTorch Lightning seems to pin a very specific version of [`pyDeprecate==0.3.1`](https://github.com/PyTorchLightning/pytorch-lightning/blob/fe34bf2a653ebd50e6a3a00be829e3611f820c3c/requirements.txt#L10). This is causing some dependency mismatches on our-end, since we have a separate dependency in our environment that relies on `pyDeprecate==0.3.2`.

Would there b

[2022-01-24 16:43] Borda commented on #11600
I think we are fine to use `pyDeprecate>=0.3.1, <0.4.0` mind sending a PR? :]

[2022-01-24 17:14] adeandrade opened #11601 "Training metrics are being accumulated and not reset on train end by default"
## 🐛 Bug

Using `self.log` inside `training_step` accumulates the metrics, which are never reset before the validation step starts, resulting in validation results that correspond to the union of the training and validation datasets.

### To Reproduce

[code]

Here's how I am training the model:

[code]

### Expected behavior

The training dataset has 2975 samples and the validation dataset has 50

[2022-01-24 17:32] rohitgr7 commented on #11601
hey @adeandrade !

you shouldn't use the same metric instance for both training and validation since they contain states which might differ for both.

check out the note here: https://torchmetrics.readthedocs.io/en/latest/pages/overview.html

[2022-01-24 18:11] adeandrade commented on #11601
Thank you @rohitgr7. I'll use this approach then. Though It would simplify things if we could reuse metrics across stages. Why shouldn't we just reuse the metric and reset the state before validation starts? Is there a use case where the state needs to be kept across epochs?

[2022-01-24 18:18] rohitgr7 commented on #11601
in Lightning, we support multiple validations within a single training epoch, so for consistency and in a general case, the validation loop runs right after the last training batch but the training loop isn't completed yet, thus the metrics associated with it aren't reset either when validation loop starts. This is not the only reason why it recommends using different instances but since you are u

[2022-01-24 18:22] awaelchli opened #11602 "Improve multiprocessing compatibility with WandbLogger"
## 🚀 Feature

Weights and Biases is updating their logging backend to better support logging in multiple processes. This issue proposes a change to the WandbLogger implementation for an optimal integration.

### Motivation

After #10896, the logger experiment consistently gets created at the first call to `logger.experiment` directly in the spawned worker processes. This is generally required beca

[2022-01-24 19:34] akihironitta opened #11604 "Support batch size scaling with dataloaders passed directly to `fit()`"
## 🚀 Feature
*This was first suggested/reported in #4000 and addressed in #4006 but then reverted in #4040 due to some GPU testing failure.*

Currently, batch size scaling cannot be used with dataloaders passed directly to `trainer.fit()` as exception is raised at:
https://github.com/PyTorchLightning/pytorch-lightning/blob/fe34bf2a653ebd50e6a3a00be829e3611f820c3c/pytorch_lightning/tuner/batch_size

[2022-01-24 19:36] rohitgr7 commented on #11604
looking forward to this, on how it can be done!

[2022-01-24 21:42] rasbt opened #11605 "CSV Logger on_step logging bug"
## 🐛 Bug

I am currently trying to make sense of the logging behavior and think there is a bug with the `on_step` logging in the `CSVLogger`.

1. It seems it is skipping steps
2. Also, the steps order seems to be wrong.

### To Reproduce

I uploaded an example here: https://github.com/rasbt/bugreport/blob/master/pytorch-lightning/csvlogger-stepsbug/01.ipynb

There should be approx. 11 steps per ep

[2022-01-24 23:07] kazhang commented on #3115
Hi @rohitgr7 , thanks for the example! What if I use a data module, how do I retrieve the length of train dataloader in LightningModule? `train_dataloader()` is not implemented in this case

[2022-01-24 23:20] rohitgr7 commented on #11605
hey @rasbt! how is it going?

all the logs are logged based on global_step (overall optimization step) by default for training.

if you need to log in at every step, you can configure `Trainer(log_every_n_steps=1)`
https://pytorch-lightning.readthedocs.io/en/latest/extensions/logging.html#id2
by default, it is 50, as you can see `train_loss` being logged at 49, ...

a warning is also emitted in th

[2022-01-24 23:22] rohitgr7 commented on #3115
hey @kazhang !
trying to add it here: https://github.com/PyTorchLightning/pytorch-lightning/pull/11599

[2022-01-25 02:19] chunyang-wen commented on #11592
`__all__` does not mean you have to expose everything (You can choose what to expose by yourself).  Even you do not want to expose the modules, users can still import them. What I suggest here is to use `__all__` to remove the `#noqa F401` error or comment.

[2022-01-25 07:35] rasbt commented on #11605
Awesome, thanks so much, Rohit! Didn't know about the `log_every_n_steps` param and this makes so much more sense now.

Also, the weird numbering order (11 to 2, 3) makes sense now, because like you said, one is counting the relative logging step (2, 3) where the other one is the absolute step number 11).

Now, I only have a tiny question, why are those not on the same line (haha, I bet there is a

[2022-01-25 07:40] rasbt opened #11607 "Documentation SVG rendering bug/warning in Chrome"
## 🐛 Bug

It seems that there is a weird SVG rendering bug/warning in Chrome. Maybe the SVG version just needs to be updated.

### To Reproduce

If you go to https://pytorch-lightning.readthedocs.io/en/latest/notebooks/course_UvA-DL/01-introduction-to-pytorch.html#Dynamic-Computation-Graph-and-Backpropagation there is a warning about SVG 1.1 support:

<img width="1111" alt="Screen Shot 2022-01-25

[2022-01-25 07:41] #11605 closed

[2022-01-25 09:23] rohitgr7 commented on #11605
close,
they are logged separately, so csv logger just creates a new entry. but when you use a better logger like wandb, the graphs will be aligned based on the step, and I think you can export the metrics from there directly.

[2022-01-25 09:28] KevinCrp commented on #11565
It works, thanks

[2022-01-25 09:28] #11565 closed

[2022-01-25 09:46] rasbt commented on #11605
Awesome, thanks! Right now I am using the CSVLogger to create more minimalistic, self-contained examples but I personally also favor WandB :)

[2022-01-25 09:59] quancs opened #11608 "AttributeError: 'dict' object has no attribute 'input_size'"
## 🐛 Bug

The msg of the error reported is not concise if we have typos for the `class_path` in the config file.

### To Reproduce

boring.py
[code]

boring.yaml
[code]

run `python boring.py fit --config boring.yaml`, you will get the error `AttributeError: 'dict' object has no attribute 'input_size'`.
Fix the typo: `class_path: __main__.Archx` to `class_path: __main__.Arch`, you can run the mode

[2022-01-25 11:34] WangLibo1995 opened #11609 "load_from_checkpoint, raise "No pretrained weights exists for this model, using random initialization""
I use the following code to train a model:

model = MiniFranceSSL()
trainer = pl.Trainer(gpus=1)
trainer.fit(model=model)
trainer.save_checkpoint("pretrain_weights/minifrance.ckpt")

when I load checkpoints for infernece using the following code:

pre_model = MiniFranceSSL.load_from_checkpoint(checkpoint_path="pretrain_weights/minifrance.ckpt")

 The bug happened, "No pretrained weights exists for

[2022-01-25 11:36] minsikseo-cdl opened #11610 "KeyValidationError in omegaconf/dictconfig.py using multi-GPU training"
## 🐛 Bug

When I train a model with multi-GPUs, [This error](https://github.com/PyTorchLightning/pytorch-lightning/files/7933151/error_msg.txt) occurs depending on the configurations.
[code]
I have 6 GPUs from two different subsystems (NVIDIA, Gigabyte. please refer to the GPU models and configuration in Environment section below). Some configurations were okay (`gpus=[0, 1, 2, 3]`, `gpus=[0, 1, 4

[2022-01-25 11:39] rohitgr7 commented on #11609
hey @WangLibo1995 !
doesn't seem to be coming from Lightning. Can you share the complete stack trace?

[2022-01-25 11:50] WangLibo1995 commented on #11609
when I use the following code to inference:

outputs = trainer.predict(model=model, dataloaders=predict_loader, ckpt_path="pretrain_weights/minifrance.ckpt")

It runs ok and can load the checkpoint, so confusing.

[2022-01-25 11:51] WangLibo1995 commented on #11609
![image](https://user-images.githubusercontent.com/38718224/150971964-1c0a54a7-ddba-48b9-bd57-e19455f3bd39.png)

[2022-01-25 12:13] noamsgl commented on #11561
Yes, that's exactly what I mean.

[2022-01-25 12:55] WangLibo1995 commented on #11609
No, it is designed by myself for competition, it runs ok.
My environment is Ubuntu 20.04 and pytorch 1.8.0.
Is it need a ckpt path like "home/wlb/pretrained_weights/Minifrance.ckpt"?

[2022-01-25 12:59] rohitgr7 commented on #11609
just trying to check where the log is coming from since it's not from lightning. maybe the implementation is using a  pretrained backbone that is raising this?

[2022-01-25 13:02] WangLibo1995 commented on #11609
Yes, I used a pretrained backbone. Many thanks you for your help.

[2022-01-25 13:10] #11609 closed

[2022-01-25 13:35] rohitgr7 opened #11615 "tqdm progress not working correctly with multiple dataloaders"
## 🐛 Bug

TQDM progress is progressing from the beginning for each dataloader on master but on patch release, it's starting from where it left for the previous dataloader. Thus causing the issue in the attached image for multiple dataloaders.

### To Reproduce

<details><summary>CODE</summary>
<p>

[code]
</p>
</details>

[code]

Output:
![Screenshot 2022-01-25 at 6 56 09 PM](https://user-images.g

[2022-01-25 13:57] rohitgr7 opened #11616 "Inconsistent step values when using multiple val/test dataloaders when logged on step-level"
## 🐛 Bug

Currently, the `LoggerConnector` handles the val_step index for step-level logging for val/test steps, due to which it shows incorrect step (x-axis) in case of multiple dataloaders.

### To Reproduce

<details><summary>CODE</summary>
<p>

[code]
</p>
</details>

[code]

Output:
The log for dataloader_idx=1 starts from 64, which is the step right after the first dataloader is completed.

[2022-01-25 14:07] rohitgr7 commented on #11615
also if someone do this:
[code]
then it shows total batches as inf, even though the second dataloader has a length, but it doesn't show up since we probably might be assigning it to sum(all_dataloader_batches). what I think might look good is that it should set the total individually for each dataloader, and for every new iteration starts from the beginning.

[2022-01-25 15:06] rohitgr7 commented on #839
hey @ltx-dan !
the example is updated to work with master, new release is probably next month.
to run it with latest release, you need to make small adjustments. check more here: https://github.com/PyTorchLightning/pytorch-lightning/issues/11565

[2022-01-25 15:14] ltx-dan commented on #839
Hi @rohitgr7 I see it's added [here](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/loops/base.py#L116).

[2022-01-25 15:53] AjeyPaiK commented on #2993
Even this link is returning a 404. Logging the parameters is confusing indeed in ptl. Please help.

[2022-01-25 16:11] fknauf opened #11618 "LightningModule.save_hyperparameters leaks parameters of surrounding classes into model hparams"
## 🐛 Bug

If a LightningModule is created within the constructor of another class and that class has a base class, then a call to `save_hyperparameters` will leak the parameters of that constructor into the model's `hparam` dictionary.

### To Reproduce

The following minimal script demonstrates the problem:

[code]

### Expected behavior

Expected output would be

[code]

Actual output is

[code]

[2022-01-25 17:20] rohitgr7 commented on #839
for single device training, the strategy will be SingleDeviceStrategy. It can never be Null.

[2022-01-25 17:40] Piyush-97 commented on #11560
I don't know how to write the test for this.

[2022-01-25 18:07] rohitgr7 commented on #11560
hey @Piyush-97
for the test you need to ensure that the deprecation warning is caught when someone uses this hook.
check [this](https://github.com/PyTorchLightning/pytorch-lightning/pull/11577/files#diff-e56cd65ba16a825908493410d047a0f7a52a9a6bd9b95ffa552ea8f5d18a19d7) for reference.

[2022-01-25 18:38] ananthsub commented on #10985
@awaelchli @rohitgr7 another option could be to move out the definition of `creates_processes_externally` and `set_world_ranks` from the ClusterEnvironment entirely. AFAICT, the only class which implements these is the LightningEnvironment, which could be superseded by the runner/launcher here. That would also reduce the boilerplate needed to write a new cluster environment.

[2022-01-25 18:54] Piyush-97 commented on #11560
def test_v1_8_0_on_configure_sharded_model(tmpdir):
    class TestCallback(Callback):
        def on_configure_sharded_model(self, trainer, model):
            print("Configuring sharded model")

    model = BoringModel()

    trainer = Trainer(
        callbacks=[TestCallback()],
        max_epochs=1,
        fast_dev_run=True,
        enable_progress_bar=False,
        logger=False,
        defa

[2022-01-25 19:19] ananthsub commented on #11560
@Piyush-97 - you don't have to specify `strategy="ddp_sharded"` for the test. we should warn the user whenever the hook is overridden that it is deprecated.

[code]

[2022-01-25 19:25] carmocca commented on #11615
We can fix the value, but another option would be to show a different progress bar per dataloader:

[code]

is that also what you meant with?:

I personally agree.

[2022-01-25 20:07] rohitgr7 commented on #11615
yes exactly. A different one, or maybe use the existing one and reset it when a new dataloader comes in and update the description and stuff if it is possible.

[2022-01-25 21:12] ramonemiliani93 opened #11622 "Default config file fails to initialize module."
## 🐛 Bug

Hi! Not sure if it is a misunderstanding on my side, when the `default_config_files` is used on the LightningCLI with a file containing the parameters for a LightningModule constructor it fails.

### To Reproduce

`main.py`
[code]
`default.yaml`
[code]
To reproduce just put both on a folder and run `python -m main fit` inside.

### Expected behavior

The fit routine should run with `foo=

[2022-01-25 21:34] fknauf commented on #11618
I think the proper way to do this is to extract the first argument from the innermost constructor call on the call stack, then walk up the call stack as long as the call frames describe `__init__` calls whose first argument is the same object. Maybe along the lines of

[code]

`save_hyperparameters` knows the object, so it could be passed in as a parameter, but `LightningModule._auto_collect_argum

[2022-01-26 01:14] four4fish opened #11624 "Deprecate trainer.num_processe/trainer.num_gpus and remove incorrect tests"
## Proposed refactor

Trainer.num_processes() and trainer.num_gpus are not used in the code base and only exists in tests. Propose deprecate/remove these properties and remove incorrect/unnecessary tests

### Motivation
1. Simplify code and reduce confusion. Strategy.num_processes != Trainer.num_processes, and Trainer.num_processes is only called in test. (confusion raised in #11572)
2. Simplify a

[2022-01-26 02:18] austinmw opened #11625 "[Feature Request] Simple method to display image batch"
## 🚀 Feature

basically a show_batch feature.

### Motivation

I'd like to be able to very quickly visualize how batches of data + annotations look to debug my dataloading pipeline before training.  A lot of problems can be quickly solved just by having the capability to see an augmented batch of training data.

### Pitch

I'd like a model or data module objects to have this method.

### Alternati

[2022-01-26 02:27] #10180 closed

[2022-01-26 02:27] #11064 closed

[2022-01-26 02:27] #10901 closed

[2022-01-26 02:27] #11037 closed

[2022-01-26 06:57] Piyush-97 commented on #11560
I have written a test but it is failing with two more tests.

[2022-01-26 08:00] mauvilsa commented on #11608
This is related to jsonargparse. Parsing links are applied before the validation of values. Since the class_path was wrong, the parent of the target key is a dict instead of a Namespace and the linking makes the process crash. I have pushed a fix so that the linking does not fail. This way it will continue to the validation and a good error message will be shown. The fix is https://github.com/omni

[2022-01-26 10:49] easz commented on #1686
how about [logging](https://pytorch-lightning.readthedocs.io/en/stable/extensions/logging.html)?

[2022-01-26 11:56] #11608 closed

[2022-01-26 12:52] carmocca commented on #11625
I believe this is available in [Flash](https://github.com/PyTorchLightning/lightning-flash).

cc @ethanwharris

[2022-01-26 13:07] carmocca commented on #11622
I can repro just with jsonargparse

[code]

Passing the config manually works as expected
[code]

But not this:
[code]

Can you verify that it is a bug upstream @mauvilsa?

[2022-01-26 13:52] deepseek-eoghan commented on #11625
I use https://marketplace.visualstudio.com/items?itemName=elazarcoh.simply-view-image-for-python-debugging with VS code debugger and breakpoints at the batch assignment stage in the model code to achieve this functionality.

Agree it would be nice to have this included in the code-base.

[2022-01-26 13:55] carmocca commented on #11451
Thanks! This was helpful. We can use the a temporary variable.

I updated your PR and added a test

[2022-01-26 14:51] ant0nsc opened #11632 "CombinedLoader for training data does not work in DDP"
## 🐛 Bug

When using a `CombinedLoader` for the training data in conjunction with DDP, all GPUs get to see the full data.
This is pretty much the same problem as reported previously in #10373, just this time for the training data.

@tchaton FYI

### To Reproduce

https://gist.github.com/ant0nsc/ad44d277eaca209d4e387b8ba7717dcb

### Expected behavior

In the above script, CombinedLoader(..., mode="

[2022-01-26 17:32] akihironitta opened #11633 "`test_signal_handlers_restored_in_teardown` failing on mac and linux"
## 🐛 Bug
In all ongoing PRs,`test_signal_handlers_restored_in_teardown` fails, and a few test cases after, the job is terminated.

[code]

### To Reproduce
https://github.com/PyTorchLightning/pytorch-lightning/actions/runs/1751182495

### Expected behavior
- No test failure of the test case above.
- No termination of CI jobs

### Additional context

cc @tchaton @rohitgr7 @akihironitta @carmocca @b

[2022-01-26 17:48] akihironitta opened #11634 "GPU testing is temporarily unavailable"
## 🐛 Bug
The tests are not running on GPUs temporarily since last Friday as seen in https://dev.azure.com/PytorchLightning/pytorch-lightning/_build?definitionId=6&_a=summary.

### Additional context
We all are aware of this issue already but I'm creating this issue for tracking publicly.

cc @tchaton @rohitgr7 @akihironitta @carmocca @borda

[2022-01-26 18:27] nithinraok commented on #11451
Thank you @carmocca 💯

[2022-01-26 18:54] akihironitta commented on #11592
@chunyang-wen Sounds good to me!

---

(just for the note) I believe this is technically a breaking change for users importing all names:

[code]

[2022-01-26 19:09] akihironitta commented on #11633
Here's the minimal reproducible command and its error msg:

[code]

[2022-01-26 19:16] akihironitta commented on #11633
This error comes from `coverage==6.3` and could probably related to
- https://github.com/nedbat/coveragepy/issues/1310
- https://github.com/nedbat/coveragepy/issues/1312

I'll look into it, but for now, let's use the previous version `coverage<6.3`.

[2022-01-26 19:47] daniellepintz commented on #11560
Hi @Piyush-97 those failures are due to a known issue affecting multiple PRs, not just yours: #11633

[2022-01-26 19:55] ananthsub commented on #11592
Some things like get_nvidia_gpu_stats are in the gpu accelerator module but not the class definition. Will this break those imports?

[2022-01-26 20:37] akihironitta commented on #2993
@AjeyPaiK The related doc pages are:
- https://pytorch-lightning.readthedocs.io/en/1.5.9/extensions/logging.html
- https://pytorch-lightning.readthedocs.io/en/1.5.9/api/pytorch_lightning.core.lightning.html#pytorch_lightning.core.lightning.LightningModule.log

This issue is quite outdated, so if anyone has further questions on this, please create a new GitHub discussion at https://github.com/PyTor

[2022-01-26 20:48] EricWiener commented on #11253
So sorry just saw this when I searched for the issue again. Will try to work on this this week or next

[2022-01-26 20:50] tchaton commented on #11632
Hey @ant0nsc,

Would you be interesting into submitting a bug fix for this one as you have already the example from the previous fix ?

Best,
T.C

[2022-01-26 21:05] rohitgr7 commented on #11632
hey @ant0nsc !

I think the example might be incorrect.
`train_dataloader` shouldn't return `CombinedLoader`, rather it should return only the dictionary of dataloaders, since the object returned is wrapped around CombinedLoader internally here:

https://github.com/PyTorchLightning/pytorch-lightning/blob/fe34bf2a653ebd50e6a3a00be829e3611f820c3c/pytorch_lightning/trainer/trainer.py#L1759-L1791

the

[2022-01-26 21:08] rohitgr7 commented on #11625
I think lightning doesn't integrate domain-specific extensions, although they can be easily used with available hooks or 3d-party packages or flash if it's there.

[2022-01-26 21:54] rasbt opened #11636 "Mentioning the predict_dataloader in the LightningDataModule"
## 📚 Documentation

On the following page (On the following page (https://pytorch-lightning.readthedocs.io/en/latest/extensions/datamodules.html#predict-dataloader) I stumbled upon the  `predict_dataloader()` method.

Should we reference is as an option in the `LightningDataModule` method doc?
I.e., currently it has the section

https://github.com/PyTorchLightning/pytorch-lightning/blob/b3c0f121ca

[2022-01-26 22:29] ant0nsc commented on #11632
Hi @rohitgr7 , yes, this works. There are two reasons why I'm not particularly happy with that solution:
* The datamodule in our case is choosing the cycling mode based on the length of the datasets. With the workaround you are suggesting, the cylce mode now needs to be communicated to the trainer. It is, in my view, breaking the separation of concerns.
* It creates an odd asymmetry that validatio

[2022-01-26 22:33] rohitgr7 commented on #11636
yes!
`predict_dataloader` and all others are common hooks for LDM and LM.

I think we can just remove this sub-section completely. Since not just `predict_dataloader` but `on_load_checkpoint/on_save_checkpoint/transfer_batch_to_device` are also not there. since it adds an overhead for anyone to remember to update this section in case some hooks are added/removed/modified.

LDM already has an exten

[2022-01-26 22:40] rohitgr7 commented on #11632
thanks for confirming @ant0nsc !

yes! that is a little annoying.

we have a similar request [here](https://github.com/PyTorchLightning/pytorch-lightning/issues/11475) and possibly a better proposal [here](https://github.com/PyTorchLightning/pytorch-lightning/issues/9046) (I haven't looked at this in depth yet).

But at least, if it works in that way, can we say that CombinedLoader works with DDP?

[2022-01-26 22:57] chunyang-wen commented on #11592
Yes, it will break users' code if they use modules automatically imported by python. `import *` is a bad practice.

[code]

[2022-01-27 06:23] zhejia opened #11639 "Subclasses of LightningDataModule's subclasses do not work."
## Subclasses of LightningDataModule's subclasses do not work.

### Expected behavior
I use LightningDataModule like below code。
When I run the code with data module`DM`, I get an error `ERROR: Unexpected segmentation fault encountered in worker.`.
When I combine the logic of `BaseDM` and `DM` into one class it works fine.
[code]

### Environment

[code]

Some error logs are as follows
[code]

[2022-01-27 06:34] mauvilsa commented on #11622
Yes, looks like a bug in jsonargparse.

[2022-01-27 06:59] zhejia commented on #11639
Sorry, this looks like a pandas error, there is something wrong in my collate_fn

[2022-01-27 06:59] zhejia commented on #11639
....

[2022-01-27 06:59] #11639 closed

[2022-01-27 07:21] tchaton commented on #11632
Hey @ant0nsc,

You are right.

Internally, we would wrap the `train_dataloader` into a CombinedLoader, but I believe we could skip the super-wrapping causing the issue.

Here is the associated line: https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/trainer/trainer.py#L1791.

Would you be interested into trying to fix this up ? I won't have much bandwidth to do so.

[2022-01-27 08:11] zixiliuUSC opened #11642 "How many times does the pl.LightningDataModule.setup() runs in DDP"
### Discussed in https://github.com/PyTorchLightning/pytorch-lightning/discussions/9251

<div type='discussions-op-text'>

<sup>Originally posted by **jatentaki** September  1, 2021</sup>
I have two questions regarding the behavior of `DataLoader`s when multi-gpu training with `ddp`/`ddp_spawn`. Let me first define that I use "GPU worker" to mean the process using each of the N GPUs for model forw

[2022-01-27 09:33] TalhaUsuf commented on #9043
callback idea is great , we can call it anywhere plus it gives the flexibility of setting the `depth` parameter.
[code]

[2022-01-27 13:29] rohitgr7 commented on #11642
with DDP:

`setup` runs N times if `num_gpus=N`. Ref: https://pytorch-lightning.readthedocs.io/en/latest/extensions/datamodules.html#setup

more specifically, the `batch_size=K` you define is being used by DistributedSampler to sample batches that are being sent to each device, so each device receives a batch with batch_size=K and effective batch_size per step becomes batch_size*N. Ref: https://py

[2022-01-27 18:48] ZhaofengWu opened #11645 "every_n_train_steps + every_n_epochs for ModelCheckpoint"
Currently these two options are mutually exclusive -- why? Sometimes it's useful to save checkpoints during training, but also keep the checkpoint at the end of every epoch. Is there currently a way to achieve this?

cc @borda @carmocca @awaelchli @ninginthecloud @jjenniferdai @rohitgr7

[2022-01-27 18:50] ananthsub commented on #11645
You can configure 2 different checkpointing callbacks to achieve this. The reason to keep them mutually exclusive was that the other metadata the checkpoint callback tracks (the monitor metric, topK, models, checkpoint name) might be different across training & validation

[2022-01-27 19:46] krishnakalyan3 commented on #10984
I would like to work on this

[2022-01-27 19:48] daniellepintz commented on #10984
@krishnakalyan3 Assigned to you, thanks!!

[2022-01-27 20:18] edward-io commented on #11525
Can we subclass FutureWarning to create a LightningFutureWarning class? We use the base class internally to log user deprecations, e.g.

[code]

We'll be able to add these logging events to PyTorch Lightning OSS soon, torch.monitor is going to be released in the next version of PyTorch.

[2022-01-27 20:51] akihironitta commented on #11525
@edward-io Sounds good to me. @carmocca Shall we?

[2022-01-27 21:25] #11633 closed

[2022-01-27 22:41] ZhaofengWu commented on #11645
Ah, got it. Thanks for the quick help!

[2022-01-27 22:41] #11645 closed

[2022-01-27 23:36] awaelchli commented on #10985
@ananthsub definitely something we could explore.

Now I think it is time for deciding on the name!! The issue here names the executor, but that's just the name we came up with at that time. There are other suitable names:

- executor
- launcher (my preference)
- runner
- ?

Please leave your suggestions :)

[2022-01-28 01:14] #11566 closed

[2022-01-28 08:41] mauvilsa opened #11653 "Refactor use of **kwargs in PL classes for better LightningCLI support"
## Proposed refactor

All the `__init__` parameters from classes in the pytorch-lightning repo that are susceptible to be used via `LightningCLI` should be resolvable by jsonargparse: parameter name, type and docstring description.

A list of potential classes that would be good to refactor is the following. Probably each class needs to be considered separately and some might have higher priority

[2022-01-28 09:08] #11610 closed

[2022-01-28 14:17] carmocca commented on #11653
I don't think (2) or (3) will happen because, from past experience, people are really allergic to having to create these extra objects. And since they would be created dynamically, users could not easily figure out what arguments can be passed and what they do.

My preference is doing (1) for the popular classes used in the CLI to reap the benefits described in your pitch.

[2022-01-28 14:21] carmocca commented on #11525
@edward-io Why not add that `log_event` call to `rank_zero_deprecate` instead?

[2022-01-28 16:16] mauvilsa commented on #11653
Don't underestimate the downsides of (1). For example for `PyTorchProfiler` even the docstring says that the parameters depend on the pytorch version. Defining parameters of a class conditional on the installed pytorch version for sure would be ugly.

If (3) is done without deprecation of the current `**kwargs` people would not need to use an extra object. The new parameter could be intended only

[2022-01-28 16:45] mauvilsa commented on #11622
It seems that forgot to implement the use `default_config_files` from a parent parser in the nested subcommand parsers. In a sense this is more an entire feature missing than a simple bug fix.

@ramonemiliani93 for the time being, as a workaround define the default files for each subcommand. For example as `LightningCLI(..., parser_kwargs={"fit": {"default_config_files": ["default_fit.yaml"]}})` a

[2022-01-28 17:30] piraka9011 opened #11654 "`_log_hyperparams` during `trainer.fit` assumes `hparams_initial` as the default hyperparams"
## 🐛 Bug

Originally from https://github.com/NVIDIA/NeMo/issues/3372.

I have a PTL module that is being downloaded from an external resource (NGC) and is then being modified for finetuning.
The model's parameters (`hparams_initial`) has already been set but they are being modified by my own script.

However, when modifying the parameters, `hparams_inital` is not updated (which is fine), but it is

[2022-01-28 19:02] rohitgr7 commented on #11615
couldn't find a good way to support the above feat of having a separate progress bar because we don't have any hook that runs when a dataloader is changed during evaluation, so we can't assign a new progress bar/or update an existing one in such a case.

[2022-01-29 12:04] awaelchli commented on #11642
To expand on @rohitgr7 answer, these are completely separate processes (N gpus = N processes). The dataset (and everything else) needs to be instantiated in each of these processes to run in parallel.

[2022-01-29 12:21] awaelchli commented on #11624
This is reasonable imo considering the generic`Trainer(devices=x)` argument was recently introduced., num_processes does not follow that terminology anyway. When deprecating num_processes, num_gpus etc., we should introduce num_devices imo.
Other than that, I think we can go ahead with this change.

[2022-01-29 14:04] talhaanwarch commented on #5558
i think this issue is with pytorch instead of pytorch lightning.

[2022-01-29 14:07] jzazo opened #11660 "Setuptools pinned to version 59.5.0"
## 🐛 Bug

I am installing pytorch lightning in an environment using poetry, and setuptools is pinned to version 59.5.0.  Why and where is it pinned and can it be unpinned? This is giving me package conflict versions.

A pin is present in [lightning-flash](https://github.com/PyTorchLightning/lightning-flash/blob/54d641db382cd4f65839bb6ebcbf05abc10f509d/requirements.txt), but I could not find it in

[2022-01-29 16:17] #11642 closed

[2022-01-29 16:30] carmocca commented on #11653
To me, a killer feature of `jsonargparse` (and consequently the `LightningCLI`) is that you don't need to adapt your code to your parser, instead the parser integrates to your code (by using the annotations, docstrings, ...).

To me, doing (2), (3), or (4) is adapting the code to fit the parser needs. If the `LightningCLI` did not exist, would these changes be valuable by themselves? Probably not.

[2022-01-29 16:33] rasbt opened #11661 "Issues in the LightningModule animation"
## 📚 Documentation

I love the `LightningModule` animation at https://pytorch-lightning.readthedocs.io/en/latest/common/lightning_module.html

But I think there are two issues

## 1

I think this should be `nn.Module` not `pl.Module`

![Screen Shot 2022-01-29 at 9 11 28 AM](https://user-images.githubusercontent.com/5618407/151668987-90eae5c1-f3c8-4647-85b0-7172238cd48b.png)

## 2

And I think this

[2022-01-29 17:28] ananthsub commented on #11661
Similar issues were raised here: https://github.com/PyTorchLightning/pytorch-lightning/issues/11241

[2022-01-29 22:33] rohitgr7 commented on #11661
I'll ask Eden if she has the draft version of it to get this fixed.

[2022-01-29 22:50] rasbt commented on #11661
Oh yeah, seems related to #11241 . We can close this one, but we should then mention the `pl.Module` issue in the other Issue because it's probably more efficient to get those two fixed at the same time.

[2022-01-29 22:52] rasbt commented on #11241
Just a heads-up, as mentioned in the related issue #11661 there is also a `pl.Module` which should be `nn.Module` at 0:32
![Screen Shot 2022-01-29 at 4 51 41 PM](https://user-images.githubusercontent.com/5618407/151680122-b9f62826-7b11-4ddb-8064-2e0ec5b000ab.png)

[2022-01-29 23:17] rohitgr7 commented on #11661
let's track this one since it covers both. maybe more. I'll review it with the updated API, once I get the draft.

[2022-01-29 23:17] #11241 closed

[2022-01-29 23:18] twsl commented on #6720
I think the first simple step is to replace the exceptions in the `LightningLoggerBase` with `pass`. I'll try to see if I can find some time.

[2022-01-30 03:57] tridao opened #11662 "torchtext (nightly) has removed torchtext.legacy, causing pytorch-lightning to fail"
## 🐛 Bug
The nightly version of torchtext has removed torchtext.legacy, so pytorch-lightning fails.
[code]

### Environment

- PyTorch Lightning Version (e.g., 1.5.0): 1.5.9
- PyTorch Version (e.g., 1.10): 1.11 nightly
- Python version (e.g., 3.9): 3.8
- OS (e.g., Linux): Ubuntu 20.04

[2022-01-30 05:16] jordane95 opened #11663 "Segmentation default when co-exist with sentencepiece"
## 🐛 Bug

Hello, I'm trying to train a T5 with the `transformers` library, which requires a package called [sentencepiece](https://github.com/google/sentencepiece) to tokenize sentence. But it seems confliting with your `pytorch_lightning` package. To be more precious, when `sentencepiece` package exists in the env, trying `import pytorch_lightning` in the Python code will raise a `Segmentation fa

[2022-01-30 06:19] function2-llx commented on #839
Hello @rohitgr7 , may I ask if there's some plan to adopt the example implementation officially into the library, or just leave it as an example (with copy & paste for usage)? Thanks!

[2022-01-30 16:39] akihironitta commented on #11663
Would you mind running it under gdb?
[code]

[2022-01-30 17:02] akihironitta commented on #11660
I don't think it's pinned from our side. @Borda Is it?

[2022-01-30 17:24] jzazo commented on #11660
Is there any dependency of pytorch-lightning to ligthning-flash or from lite, etc.? Because lightning-flash is clearly pinned to that exact version.

[2022-01-30 18:01] rohitgr7 commented on #839
hey @function2-llx

for now, AFAIK, it will stay as an example since Loop API is still experimental.

[2022-01-30 18:01] #839 closed

[2022-01-30 23:49] akihironitta commented on #11662
@tridao What's the output of `python -c "import torchtext; print(torchtext.__version__)"` in your env?

[2022-01-30 23:53] tridao commented on #11662
It's `0.12.0a0`.
Btw I'm using the [nvcr.io/nvidia/pytorch:22.01-py3](https://docs.nvidia.com/deeplearning/frameworks/pytorch-release-notes/rel_22-01.html#rel_22-01) docker image.

[2022-01-31 01:18] jordane95 commented on #11663
I run your command under gdb and get the following results
[code]

[2022-01-31 02:15] akihironitta commented on #11662
Closing this as it's been addressed already in #10597.

[2022-01-31 02:15] #11662 closed

[2022-01-31 05:57] bhadreshpsavani commented on #11636
Hello,
Can I create a PR for these documentation changes?

[2022-01-31 08:52] ma-batita opened #11665 "Cant reload from checkpoint when using SWA"
## 🐛 Bug

My model worked just fine until I tried some optimisation using SWA.

[code]
The problem is not even clear to understand :
[code]

### To Reproduce
https://colab.research.google.com/github/PytorchLightning/pytorch-lightning/blob/master/pl_examples/bug_report/bug_report_model.ipynb

### Expected behavior

Run from checkpoint with SWA.

### Environment

* CUDA:
	- GPU:
		- Tesla V100-SXM2-

[2022-01-31 09:14] tchaton commented on #11636
Hey @bhadreshpsavani,

Yes, please.

[2022-01-31 10:08] hal-314 commented on #5542
Hi @tchaton

I'm facing the same limitation as @ananthsub as I'm training with EMA. I expected that `on_load_checkpoint` to be callback with `trainer.evaluate` or `trainer.predict`. Lightning docs implies that they be always called when loading from a checkpoint. I believe that docs should mention that `Callbacks.on_load_checkpoint` is only called with `trainer.fit`.

You can find a working EMA ca

[2022-01-31 12:51] isvogor-foi commented on #10389
Hi everyone... This topic is very interesting as I'm striking the same issue.
I'm comparing the same implementation, in Torch and Lightning. I came across this post, so I noticed I was using the ancient Lightning 1.4.7, so I updated to 1.5.9. I repeated my test and nothing changed... Torch was still significantly faster than lightning.
So, as @TheMrZZ suggested, I commented `reset` in the `__iter_

[2022-01-31 12:58] carmocca commented on #10389
@isvogor-foi Are you saying you are again experiencing this problem with version 1.5.9 but not 1.5.1?

If so, can you try the versions in-between and report back your findings?

[2022-01-31 13:02] isvogor-foi commented on #10389
@carmocca Hi, well, I didn't try 1.5.1, I tried only 1.4.7, and 1.5.9. I'll see whether I can try 1.5.1 and get back at you with this!

[2022-01-31 17:38] bhadreshpsavani opened #11673 "No such file or directory: '../_notebooks/.actions/requirements.txt'"
## 🐛 Bug

While running docs.txt from the requirements folder I am getting the below error
[code]
Please let me know if i am missing anything or it seems valid issue

[2022-01-31 17:53] DuYicong515 opened #11674 "Refactor get_filesystem to use native fsspec API support"
## Proposed refactor

Replace the ad-hoc logic in get_filesystem of [utilities/cloud_io.py](https://github.com/PyTorchLightning/pytorch-lightning/blob/42fddc371af0c007b06d25c35059d84a116b3df0/pytorch_lightning/utilities/cloud_io.py#L48-L53) with the [native fsspec API](https://filesystem-spec.readthedocs.io/en/latest/api.html#fsspec.core.url_to_fs)

### Motivation

Use native fsspec API compared t

[2022-01-31 19:01] ananthsub commented on #11673
Did you run `git submodule update --init --recursive` ? https://github.com/PyTorchLightning/pytorch-lightning/blob/master/.github/CONTRIBUTING.md#documentation

[2022-01-31 19:02] bhadreshpsavani commented on #11673
Nope!
I need to run it I think!

[2022-01-31 19:39] daniellepintz commented on #9145
@wilson100hong can you put your custom logic into `log_metrics` directly?

[2022-01-31 19:50] #11673 closed

[2022-01-31 20:37] daniellepintz commented on #9145
I did a test in https://colab.research.google.com/drive/1SSOOmeJJf8eU4HE4UkPgd2GbtpfRPQa_?usp=sharing and it seems to me that the aggregation logic in [`agg_and_log_metrics`](https://github.com/PyTorchLightning/pytorch-lightning/blob/86b177ebe5427725b35fde1a8808a7b59b8a277a/pytorch_lightning/loggers/base.py#L154-L165)  is not currently having an effect. See in the colab I am logging the value 2.0

[2022-01-31 21:14] daniellepintz opened #11676 "Deprecate `save` from the Logger Base API"
## Proposed refactor

Deprecate `save` from the Logger Base API:
https://github.com/PyTorchLightning/pytorch-lightning/blob/86b177ebe5427725b35fde1a8808a7b59b8a277a/pytorch_lightning/loggers/base.py#L315-L317

### Motivation

After https://github.com/PyTorchLightning/pytorch-lightning/issues/8991 we now consider flushing an internal implementation detail of the loggers, and saving from memory to d

[2022-01-31 21:26] daniellepintz opened #11677 "Rename `finalize` to `teardown` in Logger API"
## Proposed refactor

Rename `finalize` to `teardown` in Logger API:
https://github.com/PyTorchLightning/pytorch-lightning/blob/86b177ebe5427725b35fde1a8808a7b59b8a277a/pytorch_lightning/loggers/base.py#L319-L325

### Motivation

`teardown` is the name we use in other classes in Lightning for the purpose of doing any final processing/cleanup.

Similar to https://github.com/PyTorchLightning/pytorch

[2022-01-31 21:58] toshiks opened #11680 "Validation logging with multiple datasets and `add_dataloader_idx=False`"
## 🐛 Bug

In my case need get value of loss in logs across multiply datasets for drawing on one plot. To achieve that I'm using `add_dataloader_idx=False` when log loss.

[code]

It works well in `pytorch-lightning=1.3.2`. But after upgrading to `1.5.9` it was crashed with error:

[code]

### Expected behavior

Framework should log value accross multiply datasets without error.

### Environment

*

[2022-01-31 22:02] daniellepintz commented on #11372
@awaelchli I see, thanks! Why is this not a problem with mlflow?:
https://github.com/PyTorchLightning/pytorch-lightning/blob/86b177ebe5427725b35fde1a8808a7b59b8a277a/pytorch_lightning/loggers/mlflow.py#L32

or neptune?:
https://github.com/PyTorchLightning/pytorch-lightning/blob/86b177ebe5427725b35fde1a8808a7b59b8a277a/pytorch_lightning/loggers/neptune.py#L46

[2022-01-31 22:02] jzazo commented on #11660
I tried to reproduce this error in an empty environment:
[code]
And this is the result:
[code]
It seems that pytorch lightning is pinning setuptools to version 59.5.0.

I did the same procedure in an environment only with torch:
[code]
without any warning.

This is a very easy to reproduce setup. What is pinning setuptools?

[2022-01-31 22:07] rohitgr7 commented on #11372
because they are not built-in modules? [csv](https://docs.python.org/3/library/csv.html) module comes by default when you install python even with no dependencies.

[2022-01-31 22:46] fyang7 commented on #11361
encoutered the same issue when running on (8*v100), using DDP_sharded.  My fairscale version is 0.4.2

[2022-01-31 23:19] SeanNaren commented on #11361
Let me know if anyone can get a reproduce together (preferably using the BoringModel)

@villmow @fyang7 @ttu-nguyen any chance you have a way to reproduce this? Public repo or something?

[2022-01-31 23:25] sshkhr opened #11682 "ModelCheckpoint does not infer save_dir, name, or version correctly when using multiple loggers"
## 🐛 Bug

When using multiple loggers with the Trainer, the ModelCheckpoint callback simply appends the experiment names and version names of both loggers to generate its dirpath. Furthermore, the checkpoints get saved in the current working directory (`default_root_dir` which is `os.get_cwd()` in the Trainer) instead of the save_dir specified in the loggers.

Logically, even when using multiple l

[2022-01-31 23:30] carmocca commented on #11660
I am able to reproduce this in Colab. Any idea @Borda?

[2022-01-31 23:50] Pazitos10 commented on #924
I'm currently experiencing a similar problem but this solution didn't help (`torch==1.10.0+cu113`,`pytorch-lightning==1.5.5`).

Using `trainer.test()` immediately after `trainer.fit()` gives me this results:
[code]
But when I try to use it in an "offline" test, these are the results:
[code]
Every metric value is different and considerably worse than expected. The checkpoint file is the same in bot

[2022-02-01 00:19] carmocca commented on #11680
Can you try installing master or nightly? We've made several changes to this logic in particular.

[2022-02-01 01:05] akihironitta commented on #11663
I don't think there's something we can really do for your issue since that's coming from their side. Would you mind keeping contacting with them?

[2022-02-01 01:14] learn2phoenix commented on #11370
Could I take this?

[2022-02-01 01:15] daniellepintz commented on #11370
Yup go for it! Just assigned it to you :)

[2022-02-01 01:21] daniellepintz commented on #11372
@rohitgr7 are you sure? I don't see csv listed here: https://docs.python.org/3/library/functions.html

[2022-02-01 01:28] akihironitta commented on #11372
@daniellepintz I think the list of standard modules are here https://github.com/python/cpython/tree/main/Lib, and csv is one of them.

[2022-02-01 01:39] daniellepintz opened #11684 "[RFC] Discrepancy in TensorBoardLogger `name` field default"
### Motivation

In Lightning if you initialize a new TensorBoardLogger to pass to the Trainer the `name` field defaults to "default":
https://github.com/PyTorchLightning/pytorch-lightning/blob/86b177ebe5427725b35fde1a8808a7b59b8a277a/pytorch_lightning/loggers/tensorboard.py#L88

However if you initialize the Trainer without a logger, we create a TB logger for you with the name "lightning_logs":
ht

[2022-02-01 06:26] mauvilsa commented on #11653
Indeed this has been the objective of `jsonargparse` and certainly improving its parameter discovery feature is another possibility to address this LightningCLI recurring issue, now it is (5) above. However, there are endless ways in which people might use `**kwargs` internally in their code. `jsonargparse` would need to analyze the source code to trace down the `**kwargs`. I suppose that with the

[2022-02-01 08:47] tridao opened #11687 "DeepSpeed model checkpoint saves all the checkpoints even when ModelCheckpoint.save_top_k=1"
## 🐛 Bug

When using DeepSpeed with ModelCheckpoint, even when I set save_top_k to 1, the checkpoint directory named `last.ckpt` contains all the checkpoints, instead of just the top 1. This causes the checkpoints to take way more disk space.

This behavior is due to the [DeepSpeed strategy](https://github.com/PyTorchLightning/pytorch-lightning/blob/86b177ebe5427725b35fde1a8808a7b59b8a277a/pytorch

[2022-02-01 08:59] tridao opened #11688 "Callback hook for on_after_optimizer_step"
## 🚀 Feature

A callback hook for `on_after_optimizer_step`.

### Motivation

There's a callback hook for `on_before_optimizer_step`, but not for `on_after_optimizer_step`.
That would be useful for implementing an [ExponentialMovingAverage](https://github.com/pytorch/vision/blob/b3cdec1fd808b287e4e0d31f989488c335df1812/references/classification/utils.py#L158) callback: I'd like to update the avera

[2022-02-01 09:47] myxik commented on #11665
Hi! Can I take this issue?

[2022-02-01 10:24] rohitgr7 commented on #11688
you can still do:
[code]

[2022-02-01 10:26] rohitgr7 commented on #11680
isn't the error correct?
since it tracks the log internally based on the key, and if you set `add_dataloader_idx=False`, for multiple dataloaders, it won't be able to distinguish for which dataloader_idx, key belongs to.

[2022-02-01 10:51] rohitgr7 commented on #11665
hey @BttMA can you update the reproducible colab link? currently it points to the one in the repo which doesn't have any of your update code.

[2022-02-01 11:09] BttMA commented on #11665
Hello :) @rohitgr7
I hope this one will work :)
https://colab.research.google.com/drive/1JHaHvQ5PhfaYil0HnIkEOcF1MoindYcK?usp=sharing

[2022-02-01 11:11] carmocca commented on #11680
I guess this is asking for https://github.com/PyTorchLightning/pytorch-lightning/issues/11126 to be implemented

[2022-02-01 11:19] rohitgr7 commented on #11665
hey @BttMA !
can you share an actual failing script?

I tried updating your example with:
[code]

and it worked fine... so I guess I am unable to reproduce your issue.

[2022-02-01 11:36] toshiks commented on #11680
Yep! I'll try it today later.

[2022-02-01 11:54] carmocca commented on #11653
I can get on board with this, but this disqualifies (2) and (3) as they would require long deprecation processes.

[2022-02-01 12:04] isvogor-foi commented on #10389
@carmocca Sure, vanilla - meaning, it's the one taken from official implementation:

Lightning: https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/domain_templates/imagenet.py
Torch: https://github.com/pytorch/examples/blob/master/imagenet/main.py

Try running those on the same device, with the same image dataset, batch size, etc. I've tried on my machine, AWS instance,

[2022-02-01 12:55] andreimargeloiu commented on #10809
Raising a warning would be great. I had the same issue, searched on google, and found this thread.

The [documentation](https://pytorch-lightning.readthedocs.io/en/stable/guides/data.html#concatenated-dataset) is inconsistent.

![CleanShot 2022-02-01 at 12 55 38](https://user-images.githubusercontent.com/18227298/151972255-0e410a10-bd4a-4181-aa51-d65d7956fb35.png)

[2022-02-01 13:02] andreimargeloiu commented on #10809
However, it would be useful to allow using different loaders separately. Forcing to use `CombinedLoader` is bad because often we don't need to revisit previously visited samples.

For example, I'm trying to have multiple different validation dataloaders, and using `CombinedLoader`is not applicable.

![CleanShot 2022-02-01 at 13 01 00](https://user-images.githubusercontent.com/18227298/151973133-74

[2022-02-01 13:09] yuvalkirstain commented on #5565
@rohitgr7 val_check_interval can't exceed a single epoch. So it does not support evaluation every `n` steps where `n` is larger than the amount of batches in the dataloader.

[2022-02-01 13:21] rohitgr7 commented on #10809
hey @andreimargeloiu

for val dataloaders, there are two possible cases:
1. Combined all dataloaders and generate a common batch that contains batches from all the dataloaders, one at a time.
2. Keep all the dataloaders separate and run each dataloader independently.

both of these are available in Lightning. Are you looking for something else?

[2022-02-01 13:34] andreimargeloiu commented on #10809
@rohitgr7 I would like using separate validation dataloaders as I have in the code below
![CleanShot 2022-02-01 at 13 33 31](https://user-images.githubusercontent.com/18227298/151977793-af2268d1-6d17-4d71-a366-82da5d9ee3b9.png)

However, this creates the following error:
[code]

Do you have any advice?

[2022-02-01 13:35] rohitgr7 commented on #5565
hey @yuvalkirstain not yet.
here is the tracking issue: https://github.com/PyTorchLightning/pytorch-lightning/issues/8135

[2022-02-01 13:39] rohitgr7 commented on #10809
you can't return a dictionary for val_dataloaders, if you want to combine them, then you have to use `CombinedLoader` wrapper, and if you want to use them separately, you have to send a list instead of a dictionary.

check out the docs here: https://pytorch-lightning.readthedocs.io/en/latest/guides/data.html#multiple-validation-test-predict-dataloaders

[2022-02-01 13:50] BttMA commented on #11665
Sorry me neither I couldn't share the bug with you using the boring model.  is any either way to share it ?

[2022-02-01 13:52] rohitgr7 commented on #11665
share the notebook/script that is failing. You can attach it here too, in case someone else want to look at it.

[2022-02-01 14:01] BttMA commented on #11665
it has personal/confidential data :/ I cant share it with everybody :o

[2022-02-01 14:33] rohitgr7 commented on #11665
maybe you can mimic the data. for starters, return random tensors of the same shape as your original data returns and use a small model.

[2022-02-01 15:00] BttMA commented on #11665
hi @rohitgr7 :)
You can see the fail with this random generation :) hope you manage to solve it soon :)

https://colab.research.google.com/drive/1JHaHvQ5PhfaYil0HnIkEOcF1MoindYcK?usp=sharing#scrollTo=sNm4IkAefdkL&uniqifier=1

PS : maybe it has something to do with "UserWarning: SWA is currently only supported every epoch." or "Swapping scheduler `LambdaLR` for `SWALR`" ? but they are just warnings

[2022-02-01 15:49] carmocca commented on #10092
Changing the milestone to a feature release as we've fixed the issue with a hack and removing said hack can be considered a refactor

[2022-02-01 15:52] #8525 closed

[2022-02-01 16:16] sainatarajan opened #11693 "tqdm doesn't print dictionary values when setting self.automatic_optimization as False"
## 🐛 Bug

The tqdm progress bar doesn't display values such as losses/metrics when `self.automatic_optimization= False`.

### To Reproduce

[code]

### Expected behavior

Epoch 24:  38%|██████████████████████████████████████████████████████████████▊                                                                                                      | 24/63 [00:00<00:00, 186.50it/s, loss=0.223, v_n

[2022-02-01 16:47] carmocca commented on #2006
We are not looking to add any more callbacks to core that are too opinionated, research-y, or just not applicable to most users. We suggest developing this callback in your own repository.

[2022-02-01 16:47] #2006 closed

[2022-02-01 16:48] #2088 closed

[2022-02-01 16:50] carmocca commented on #4206
@SkafteNicki I unassigned you since you closed your PR, but if you still want to finish it, feel free to assign yourself back!

[2022-02-01 16:52] carmocca commented on #4349
@awaelchli @ananthsub Should we shoot to have this for 1.6 if we want to mark the strategies as stable?

[2022-02-01 17:13] daniellepintz commented on #11682
For `name` and `version`, this is because of how `LoggerCollection` is implemented: https://github.com/PyTorchLightning/pytorch-lightning/blob/86b177ebe5427725b35fde1a8808a7b59b8a277a/pytorch_lightning/loggers/base.py#L454-L463

We are in the process of deprecating `LoggerCollection` in https://github.com/PyTorchLightning/pytorch-lightning/issues/11232, which will solve those issues. cc @akashkw

[2022-02-01 17:13] carmocca commented on #5485
The path forward here would be to improve the flexibility and testability of Lightning and its components. Adding a constrained set of internal "tests" would be limiting as it would hold strong assumptions of the model/data/component internal behaviour and their interactions.

I think most of the "test cases" described can be created by the users externally to the Lightning codebase.

If you are s

[2022-02-01 17:13] #5485 closed

[2022-02-01 17:28] carmocca commented on #5023
Closing in favor of #7037 which has more linked issues. I'll update the description there

[2022-02-01 17:28] #5023 closed

[2022-02-01 17:34] carmocca commented on #7333
We do not support this as it would overwrite the trainer state.

It's something we could explore but it can open a can of worms as then people would expect to be able to call `fit` again, or `validate`, etc.

The recommended approach at the moment is to chain `fit` and `predict` calls one after the other, although there are other limitations there such as having to recreate the `Trainer` instance.

[2022-02-01 17:34] #7333 closed

[2022-02-01 17:37] carmocca commented on #6798
Closing in favor of the feature request that would support this: #3325

[2022-02-01 17:41] jzazo commented on #11660
Ok, found the issue. Searching `requirements.txt` in the tagged version 1.5.9 lists `setuptools==59.5.0 # required for https://github.com/pytorch/pytorch/pull/69904`.

In master this pin does not exist and the search functionality of github only works over master, that's why I couldn't find it.

Thanks.

[2022-02-01 17:41] #11660 closed

[2022-02-01 17:49] carmocca commented on #7938
Closing as everything looks done here

[2022-02-01 17:49] #7938 closed

[2022-02-01 17:53] carmocca commented on #8385
CLI users already get overwhelmed with merging config files and the difference between an argument before and after a subcommand.

This proposal would make things much more complex in this regard and would push the limits of what one can do with command line input or a configuration file.

The suggested alternatives are:

- Save everything you need to disk and use it to reload on the next command

[2022-02-01 17:53] #8385 closed

[2022-02-01 17:56] carmocca commented on #7493
Closing in favor of #10417 which is more up to date and specifically defines the steps left to do

[2022-02-01 17:56] #7493 closed

[2022-02-01 18:06] carmocca commented on #9385
Closing as this is a cool solution but not a natural solution for most people. It also limits the flexibility in memory management.

[2022-02-01 18:06] #9385 closed

[2022-02-01 18:38] tridao commented on #11688
I think the same argument can be made about other callback hooks. For example, technically one does not need `on_before_backward` or `on_after_backward` and one can override the `manual_backward` method of the LightningModule. Similarly, one does not need `on_before_optimizer_step` by overriding `optimizer_step`.

However, having a callback hook makes it easy to implement a callback (e.g. Exponent

[2022-02-01 18:54] gahdritz opened #11694 "DeepSpeed learning rate scheduler not working"
## 🐛 Bug

PyTorch Lightning does not appear to be using a learning rate scheduler specified in the DeepSpeed config as intended. It increments the learning rate only at the end of each epoch, rather than once per step. Additionally, it uses the wrong learning rate for the very first epoch.

### To Reproduce

I used the following DeepSpeed config:

[code]

I then used a `pytorch_lightning.callbacks

[2022-02-01 19:07] ananthsub commented on #11693
If you use `self.log` instead of returning structured outputs from the training step, do you see the values in the progress bar?
[code]

[2022-02-01 19:35] carmocca commented on #11693
@sainatarajan the structured outputs you are returning are for an older (legacy) Lightning version.

The snippet shared in the comment above should work without issues.

Would you mind sharing here where you found this implementation?

[2022-02-01 19:50] austinmw opened #11695 "early_stopping verbose only on distributed rank 0"
## 🚀 Feature

Early stopping verbosity seems to log on every distributed rank. This seems a bit spammy to me?
e.g.
[code]

### Motivation

I'd like the aggregated logs coming from all ranks to be concise.

### Pitch

Maybe by default the verbosity can be rank 0 only?

cc @borda @carmocca @awaelchli @rohitgr7

[2022-02-01 20:55] daniellepintz commented on #11682
@sshkhr Also this was fixed in https://github.com/PyTorchLightning/pytorch-lightning/pull/10976, if you are able to use the version of PTL on master this should solve your issue.

[2022-02-01 21:14] carmocca commented on #11695
This is done on purpose because the metric might not be synced across ranks, it depends on whether you set `self.log(..., sync_dist=True)`.

If this bothers you, you could override this staticmethod:

https://github.com/PyTorchLightning/pytorch-lightning/blob/86b177ebe5427725b35fde1a8808a7b59b8a277a/pytorch_lightning/callbacks/early_stopping.py#L260-L265

[2022-02-01 21:18] carmocca commented on #11682
Oh great. I'll close this then

[2022-02-01 21:18] #11682 closed

[2022-02-01 21:33] carmocca commented on #11688
This is not correct because the `on_{before,after}_backward` are available for both the `LightningModule` and `Callbacks`, whereas `{,manual_}backward` are only available for the `LightningModule`.
Additionally, the backward hooks provide a default implementation so forgetting to call super would become a source of silent bugs.

`on_before_optimizer_step` was added because we needed an alternative

[2022-02-01 21:41] carmocca commented on #10686
@awaelchli We wouldn't be able to remove the class because we still need to override `clip_gradients` and `_track_grad_norm`.

[2022-02-01 21:51] sshkhr commented on #11682
Appreciate the quick response and resolution @daniellepintz @carmocca !

[2022-02-01 21:57] rohitgr7 commented on #11688
also just to add more here, one more reason why we have `on_before_optimizer_step` is that the actual `training_step` runs within the closure that is passed to the optimizer in a general case, and if you do something like;
[code]
it won't work correctly, since `training_step` hasn't been executed until `optimizer_step` is called with the closure.

[2022-02-01 22:03] carmocca commented on #7653
We cannot provide an automated of gathering whatever the user provides. The closest thing we have is `predict` as described in the above comment: https://github.com/PyTorchLightning/pytorch-lightning/issues/7653#issuecomment-848024353

If we were to find a solution to this problem, it would likely not be from whatever is returned from `test_epoch_end` as overriding that hook means outputs are kept

[2022-02-01 22:54] tridao commented on #11688
Thanks for the explanation!
I'd love to get your advice how to implement the ExponentialMovingAverage callback.

I'm porting training scripts from torchvision and timm to pytorch-lightning, and I'm trying to implement ExponentialMovingAverage (EMA) as a callback.
EMA averages the model weights across training steps, and is called after the optimizer update step. EMA is used in both [torchvision tr

[2022-02-01 23:16] #11695 closed

[2022-02-01 23:58] carmocca commented on #11688
I'd say `on_train_batch_end` is the natural choice.

You can find pseudocode with all the hooks here: https://pytorch-lightning.readthedocs.io/en/latest/common/lightning_module.html#hooks

[2022-02-02 00:02] tridao commented on #11688
Thanks!
One problem I can see with `on_train_batch_end` is gradient accumulation: we only want to update EMA when the model weights are updated, say every 4 training steps if gradient accumulation is 4. However, it seems that `on_train_batch_end` would be called every training iteration and not every 4 iterations.

[2022-02-02 00:06] carmocca commented on #11232
Do you plan to add a deprecation path for the setter?

Also, do you plan to rename `Trainer(logger=...)` to `Trainer(loggers=...)` after this issue is resolved?

[2022-02-02 00:12] carmocca commented on #11688
You could check `if batch_idx % trainer.accumulate_grad_batches == 0`

[2022-02-02 00:32] tridao commented on #11688
Yeah I think that's fine as a workaround.
I still think there's a case for a hook that should be executed "after the the optimizer updates the parameters", which makes the code cleaner semantically. I hope that can be considered in the future.
Thanks so much for your help.

[2022-02-02 00:38] carmocca commented on #11688
I'll cc contributors in case they think there's enough reason

cc @PyTorchLightning/core-lightning

[2022-02-02 00:53] ananthsub commented on #11232
@carmocca good questions.

[code]

This update should also be mirrored in trainer.loggers to avoid staleness fyi @akashkw

One option is to go all in with `loggers` and do the following:
- Deprecate `trainer.logger` in favor of `trainer.loggers`
- Deprecate `LightningModule.logger` in favor of `LightningModule.loggers`: https://github.com/PyTorchLightning/pytorch-lightning/blob/86b177ebe5427725b35

[2022-02-02 01:10] daniellepintz commented on #11232
Do we have an estimate of what percentage of users use multiple loggers vs one logger?

[2022-02-02 01:28] daniellepintz commented on #11232
I vote for going all in with `loggers`.

For the cases where users set `trainer.logger = ...` or `trainer.loggers = ...`, I think until we remove `trainer.logger` in v1.8 we will have to create setters for `logger` and `loggers` such that when one is set we update the other.

If someone sets `trainer.loggers = ...` I'd say we set `trainer.logger` to a LoggerCollection of those loggers.

[2022-02-02 02:41] daniellepintz commented on #9032
@cowwoc Likely the reason you are seeing different metrics is because with DeviceStatsMonitor we now use `torch.cuda.memory_stats` to get the gpu stats if you are using torch>=v1.8, rather than using `nvidia-smi`:
https://github.com/PyTorchLightning/pytorch-lightning/blob/86b177ebe5427725b35fde1a8808a7b59b8a277a/pytorch_lightning/accelerators/gpu.py#L73-L75

Do the stats here https://pytorch.org/d

[2022-02-02 03:55] twsl commented on #9032
The memory stats include a lot of unnecessary information and miss the gpu utilisation

[2022-02-02 03:59] daniellepintz commented on #9032
I see. well if it's not useful, I can revert it to use `nvidia-smi` only. What do people think?

[2022-02-02 07:44] Borda commented on #11634
GPU-CI us up and running in limited scope (max 8 agents in parallel)

[2022-02-02 08:46] ananthsub opened #11698 "Centralize DDP optimizations in docs"
## 📚 Documentation

DDP optimizations for `find_unused_parameters` and tuning NCCL parameters are listed here: https://pytorch-lightning.readthedocs.io/en/latest/guides/speed.html#when-using-ddp-plugins-set-find-unused-parameters-false

However, there's another section on the doc which explicitly talks about DDP optimizations here: https://pytorch-lightning.readthedocs.io/en/latest/advanced/advanc

[2022-02-02 10:03] sainatarajan commented on #11693
@ananthsub Your script seems to work! Thanks.
@carmocca Thanks for your comment. I'm not sure about it. I think I found it [here](https://pytorch-lightning.readthedocs.io/en/stable/notebooks/lightning_examples/basic-gan.html).

[2022-02-02 10:04] #11693 closed

[2022-02-02 10:12] rohitgr7 commented on #11688
well,

if we consider implementing this inside a callback, then it's not so trivial using any other hook considering some edge cases like, loss is not returned from `training_step`, or optimization done for the last batch in case accumulation doesn't align with the total batches, for eg. total batches = 7 and accumulation_factor = 3, we take 3 optimization steps here.

this looks like a genuine us

[2022-02-02 10:17] rohitgr7 commented on #11693
we need to review and fix those tutorials with the latest changes.

[2022-02-02 10:20] rohitgr7 opened #11699 "Review and fix example notebooks"
## 📚 Documentation

Reported here: https://github.com/PyTorchLightning/pytorch-lightning/issues/11693#issuecomment-1027770945
[This example](https://pytorch-lightning.readthedocs.io/en/stable/notebooks/lightning_examples/basic-gan.html#C.-GAN) maybe more might be using old API and needs to be fixed with the latest changes.

For very simple fixes, you can submit a PR without a linked issue.

Thanks

[2022-02-02 11:13] AlexDs20 commented on #3964
Is self.logger.run_id still actual?
I am using 2 loggers: tensorboard and mlflow.
My self.logger is a pytorch_lightning.loggers.base.LoggerCollection instance and does not contain a run_id.
Does anyone know how to access the run_id?

[2022-02-02 12:00] carmocca commented on #9032
The GPU utilization is included as Total memory allocation, but it's true that there's too much information for humans to read.

I'd say the callback needs a --human mode that shows a curated view. The current callback is only useful for logging the values to a `Logger`

[2022-02-02 12:08] BttMA opened #11701 "More Developed graph of the learning rate finder"
## 🚀 Feature

hello :)
I've been using the `lr_finder` for a while and I can tell it is quite a helper specially when you training a complex model with more data. but, when you advance more and more in the training process, a good learning rate become more and more difficult to find as you may skip the global minima which is no good for the model. In the graph that we can have by `lr_finder.plot(s

[2022-02-02 12:27] justusschock commented on #11701
hey @BttMA , Thanks for the issue. However, I am afraid, that I am not so much in favor of it. As you can see [here](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/tuner/lr_finder.py#L163), the `plot` function just returns a matplotlib figure, on which you could plot additional stuff (e.g. by accessing `results["loss"]` of the lr finder).

Why I am not so much

[2022-02-02 12:44] BttMA commented on #11701
Hello, @justusschock :)
Thank you for your quick replay.

Maybe you are right but the general concept behind the `lr_finder` is to test different lr on a small amount of data (100 by default) and it doesn't give you an exact value. It is just a suggestion for a start value. It is not well defined. It may be good but it may be not too. Only with some tests, you can decide :)

Also, you can see in t

[2022-02-02 14:37] rohitgr7 commented on #11694
well, to decide at what level lr schedulers should operate, you need to set interval inside scheduler_config when using `configure_optimizer`, but within deepspeed config, it doesn't seems to be possible. Can you try using the [configure_optimizer](https://pytorch-lightning.readthedocs.io/en/latest/common/lightning_module.html#configure-optimizers) method instead?

I think if it's defined within t

[2022-02-02 14:50] rohitgr7 commented on #11665
yes! that might be the case.. We need to save and load the states for this callback to enable proper resuming.

[2022-02-02 15:05] BttMA commented on #11665
What callback? Sorry didn't get you.
as you can see in the dummy code, when I get the "UserWarning: SWA is currently only supported every epoch." the program skip it right away and continue other epoch? also in my real version of code I get the same warning after like 10 to 15 epochs! it does not make any sense :dizzy_face:

Maybe the SWA does not support many epochs 🤔 ?? even in [this doc](https:

[2022-02-02 15:05] rohitgr7 commented on #11687
hey @tridao

mind share a reproducible script to reproduce this behavior using [BoringModel](https://colab.research.google.com/github/PyTorchLightning/pytorch-lightning/blob/example/bug_report/pl_examples/bug_report/bug_report_model.ipynb)? It might not work on colab, but you can prepare one locally and upload it there or share the notebook directly.

ideally, all the checkpoints along with file p

[2022-02-02 15:17] rohitgr7 commented on #11665
I am talking about [StochasticWeightAveraging](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/callbacks/stochastic_weight_avg.py)

the warning isn't reliable. Should be improved. I only got to know what it means by looking at the code.

ideally it means if you are configuring `interval='step'` or `frequency>1` inside scheduler configuration, it should work as p

[2022-02-02 15:29] cowwoc commented on #9032
@carmocca

I am asking for both memory *and* CUDA usage (as in "processor usage out of 100%").

[2022-02-02 15:35] BttMA commented on #11665
now I see! for exemple if I have 100 epochs then the SWA callback will be activated at the 40th epoch (since 40=0.8*100).

In my case, the SWA callback is just skipped because of the `scheduler LambdaLR`. It is never executed and when I try to load a checkpoint it gets messy and I got that error ? correct me if I am wrong please ?

[2022-02-02 15:40] daniellepintz commented on #9032
Yeah, I agree it does seem that `torch.cuda.memory_stats` is only about memory and doesn't cover everything that `nvidia-smi` does. I propose we revert back to using `nvidia-smi` here. cc @edward-io @ananthsub

[2022-02-02 15:41] rohitgr7 commented on #11665
80th epoch.

In your example, during the first run, it switch to SWALR at 40th epoch and saved the checkpoint at 50th epoch with SWALR state_dict. But when you reloaded the checkpoint, the trainer loaded them with LAmbda LR configured. Something like LambdaLR is trying to load the state_dict of SWALR, which is causing this error.

[2022-02-02 15:52] BttMA commented on #11665
OH!! sure yes yes!!

Now it makes sense :) Thank a lot!

Can you suggest any thing for me to fix this, please?
Should I change my scheduler in the plModel from `LambdaLR` for `SWALR` ? something like this :

[code]

[2022-02-02 17:36] rohitgr7 commented on #11665
I'm not sure if this will work. I am not super familiar with every detail for SWA but I don't think that replacing the scheduler is all that's required to perform SWA. There's a lot more happening inside the callback. For the fix, I think we need to create states for this callback that can be stored and reloaded from the checkpoint while resuming the training. Need to investigate what all is requi

[2022-02-02 17:47] grudloff commented on #10089
This is an interesting proposal!

[2022-02-02 18:16] NathanGodey opened #11703 "Using the step argument raises an error for WandbLogger's log_image"
## 🐛 Bug

When using the WandbLogger log_image method, adding the step argument raises an error:
[code]

### To Reproduce
[code]

### Expected behavior

The image is logged with appropriate step in Wandb.

### Environment

- PyTorch Lightning Version (e.g., 1.5.0): stable

### Additional context

Can be easily fixed by swapping a few lines in the method.

cc @awaelchli @morganmcg1 @AyushExel @bori

[2022-02-02 18:58] akashkw commented on #11232
I think the setters for `trainer.logger` and `trainer.loggers` belong in this PR https://github.com/PyTorchLightning/pytorch-lightning/pull/11683, so I'll go ahead and add them.

[2022-02-02 20:19] #11504 closed

[2022-02-02 21:56] rabyj commented on #3228
I agree with @mpds, I recently transferred from TensorFlow2 with Keras  which also values high level abstraction, and it was pretty easy to log all scalar metrics per epoch or per step.

Having always worked with epochs logging, because the batch size (and so number of steps) varied in my trainings, the default "x-axis = step" when specifying `on_step=False, on_epoch=True` was jarring.

[2022-02-02 22:29] #11237 closed

[2022-02-02 22:57] carmocca commented on #11205
Looks like this would break the `LightningCLI` so will have to wait for a while

[2022-02-02 23:19] shabie commented on #11698
I'd like to do it if it is up for grabs.

[2022-02-02 23:21] ananthsub commented on #11698
awesome, I've assigned the issue to you @shabie

[2022-02-03 00:37] gahdritz commented on #11694
I'm actually not getting that warning---it looks like it's been added since 1.5.9. You're right that the issue is easy to work around, but isn't it still a bug? The Lightning documentation claims to support DeepSpeed optimizers/learning rate schedulers, but they behave differently in Lightning than expected.

[2022-02-03 01:43] #10653 closed

[2022-02-03 01:51] #11234 closed

[2022-02-03 01:55] #11674 closed

[2022-02-03 02:26] #11482 closed

[2022-02-03 02:29] #11560 closed

[2022-02-03 02:53] #11636 closed

[2022-02-03 02:58] #10574 closed

[2022-02-03 02:58] #11600 closed

[2022-02-03 03:38] #11524 closed

[2022-02-03 04:01] #11475 closed

[2022-02-03 04:01] #11632 closed

[2022-02-03 04:25] #11097 closed

[2022-02-03 05:22] carmocca commented on #11525
One big downside of using `FutureWarning` is that we would need to replace all `pytest.deprecated_call` uses. https://github.com/PyTorchLightning/pytorch-lightning/pull/11527 is currently failing for this reason.

[2022-02-03 05:40] daniellepintz opened #11713 "Placement of `trainer.predict` call in one test causes other test to fail in `ubuntu-20.04` environment"
## 🐛 Bug

In `test_tqdm_progress_bar_disabled_when_not_rank_zero` when the `trainer.predict` call is moved to the end of the test, it deterministically causes `test_model_checkpoint_score_and_ckpt[True-False-True-val_log]` to fail with this error in the CI:
[code]
See error here: https://github.com/PyTorchLightning/pytorch-lightning/runs/4908767698?check_suite_focus=true)

### To Reproduce
The cur

[2022-02-03 05:42] #11029 closed

[2022-02-03 05:49] ananthsub commented on #11525
Would we need to find/replace these with pytest.warns(FutureWarning) ?

[2022-02-03 06:29] #10982 closed

[2022-02-03 06:43] carmocca commented on #11425
#8578 will fix this. The second `fit` call will do nothing because either `max_epochs` or `max_steps` will have been exhausted.

To continue you would have to do:

[code]

[2022-02-03 08:04] BttMA commented on #11665
Actually I was going to suggest that but I don't know what held me 😅
I will keep the issue open for further investigation (it will be helpful if you could mention other members.)

thanks a lot!

[2022-02-03 08:14] ananthsub opened #11715 "[RFC] Simpler mechanism to publish data from LightningModule and Callback to Trainer"
## 🚀 Feature

This RFC expresses a desire for a simpler mechanism to send metric data from the LightningModule and Callback to the Trainer.

### Motivation

The current approach with `LightningModule.log` has many downsides:

1. Poor debugging experience: we started seeing this sort of failure (https://github.com/PyTorchLightning/pytorch-lightning/issues/10595) after https://github.com/PyTorchLigh

[2022-02-03 09:23] rohitgr7 commented on #11703
hey @NathanGodey

good catch! mind send a PR?

[2022-02-03 09:29] rohitgr7 commented on #11694
yes, but as a framework, since the schedulers are controlled internally, and deepspeed just takes in a scheduler input, it can't really tell when it should update. It does support deepspeed out of the box but for some cases, we need to make adjustments at some level to make it work.

cc @SeanNaren

[2022-02-03 09:35] #11054 closed

[2022-02-03 10:05] pdarulewski commented on #5314
Hello,

It seems that multiple train data loaders are implemented but they are providing batches together, i.e. if we have two data loaders, two batches are given simultaneously. Is there any possibility to use them sequentially, one after the other?

What I am doing right now is using `reload_dataloaders_every_epoch=True` in `Trainer` and switching the dataset throughout the training if the epoch

[2022-02-03 11:27] SkafteNicki opened #11717 "Add version compatibility matrix"
## 📚 Documentation

Based on this [discussion](https://github.com/PyTorchLightning/metrics/pull/788#discussion_r796519222) on the Torchmetrics side.

Add compatibility matrix between lightning, torchmetrics, flash etc. similar to how [torchvision and pytorch](https://github.com/pytorch/vision#installation) do it. Recommended to add it to the README.md file of PL and then the other projects can lin

[2022-02-03 12:33] andreimargeloiu commented on #11616
When is the bug planned to be fixed?

[2022-02-03 12:41] andreimargeloiu opened #11719 "Inconsistent behaviour for `dataloader_idx`"
### Motivation: *Very* inconsistent behaviour

I'm having a varying number of validation data loaders, depending on the dataset I'm evaluating. For some datasets I have only 1 validation dataloader, while for other datasets I have 5 validation dataloaders.

I want to use the same model (LightningModule class), but the function definition `validation_step` is not compatible when having 1 or multipl

[2022-02-03 13:13] andreimargeloiu commented on #11719
Never mind, I found a much simpler solution fo rmy usecase. I defined the function as:
[code]

which works well when there are 1 or multiple data loaders.

[2022-02-03 13:13] #11719 closed

[2022-02-03 15:42] carmocca commented on #3325
To recap, the plan would be:

- Enable "join" as an optional feature of the DDP strategy: `Trainer(strategy=DDPStrategy(uneven_input_support: bool)`. We could also add a registry string for it.
- Add support for "joining" the `training_step`, `validation_step`, `test_step`. Probably not necessary for `predict_step` since we use an `UnrepeatedDistributedSampler`.
- When the feature is enabled, we d

[2022-02-03 15:57] carmocca commented on #11717
It should include lightning version, python version, pytorch version, flash version, and torchmetrics version

[2022-02-03 16:17] wolframalexa commented on #11680
I am also having this issue, but can't find how to install the nightly build. I'm currently using `pip install pytorch-lightning` to install and using pytorch-lightning 1.5.9 on Google Colab. Have you been able to resolve this issue?

[2022-02-03 16:22] andreimargeloiu commented on #10904
What option did you implement?

[2022-02-03 16:53] daniellepintz commented on #11713
Unable to repro in #11720 so closing...

[2022-02-03 16:53] #11713 closed

[2022-02-03 17:21] carmocca commented on #10904
(B)

[2022-02-03 18:42] #11364 closed

[2022-02-03 19:20] tchaton opened #11725 "Support custom process group backends"
## 🚀 Feature

### Motivation

Find the link there: https://github.com/facebookresearch/fairring

<img width="1069" alt="Screenshot 2022-02-03 at 19 21 26" src="https://user-images.githubusercontent.com/12861981/152413873-6bc56164-4c3d-4724-8d63-ec71613ae9cf.png">

<img width="678" alt="Screenshot 2022-02-03 at 19 20 26" src="https://user-images.githubusercontent.com/12861981/152413747-5495dda1-c38

[2022-02-03 19:25] ananthsub commented on #11725
I've thought about this as well. IMO, the process group backend should be a constructor argument on the relevant strategies.

The logic here is pretty hidden, especially with the environment variable. Making this a constructor argument would be much more explicit: https://github.com/PyTorchLightning/pytorch-lightning/blob/478c6085dfc2163f13dd36fd9fcdb8c1f12f5f54/pytorch_lightning/strategies/parall

[2022-02-03 20:47] daniellepintz commented on #11725
I can work on this! (Making process group backend a constructor argument and then integrating with fairring)

[2022-02-04 02:46] jcfaracco opened #11729 "Distributed Pytorch-Lightning is not working with Dask workers/cluster"
## 🐛 Bug

I'm using a [Dask](https://dask.org/) environment (with GPU and without GPU. I tested using both) to run a multi node training.
It can be done using two different ways: programing your own methods to distribute the code or using `dask_pytorch_ddp` module.
The last one can reduce the number of lines and the need of setup your own Cluster Environment.
To avoid a huge code, I'm gonna use th

[2022-02-04 03:39] JiyangZhang commented on #3329
Any update on this?

[2022-02-04 03:46] zhutmost commented on #3329
My experience (maybe outdated) is to put the dataset on a PCIe SSD.

[2022-02-04 04:14] akihironitta commented on #11525
Let me replace all occurrences of ``pytest.deprecated_call` with the new one in the tests.

[2022-02-04 07:17] ananthsub opened #11732 "Gradient accumulation using Horovod's `backward_passes_per_step`"
## 🚀 Feature

Support this feature for Horovod users with Lightning

### Motivation

Consistency of training with different strategies

### Pitch

Horovod supports gradient accumulation as described here: https://horovod.readthedocs.io/en/stable/adasum_user_guide_include.html#pytorch

Similar to how Deepspeed initializes this:

- Add the property to Horovod: https://github.com/PyTorchLightning/pyt

[2022-02-04 07:25] mauvilsa commented on #11653
I will look into [ast](https://docs.python.org/3/library/ast.html) and later let you what could be done. Regarding (1) it also has the advantage of being simple enough to be implemented by any contributor. And definitely would provide a better user experience than https://github.com/omni-us/jsonargparse/issues/114.

[2022-02-04 07:33] toshiks commented on #11680
So, I intall nightly version by following command:
`pip install https://github.com/PyTorchLightning/pytorch-lightning/archive/master.zip`

But it wasn't fix situation. I got same `MisconfigurationException`.

Environment

* CUDA:
	- GPU:
		- GeForce RTX 2070
		- GeForce RTX 2070
	- available:         True
	- version:           10.2
* Packages:
	- numpy:             1.21.2
	- pyTorch_debug:     Fal

[2022-02-04 09:47] JackKelly commented on #11067
Hi @RylanSchaeffer, did you get to the bottom of what was going wrong?

I'm seeing some very similar errors.

I'm using PyTorch version 1.10.2 and PyTorch Lightning version 1.5.9.

I'm running my code in a Jupyter Lab so I can run `%debug` after the crash, I'll include some debug output below...

Here's one stack trace and debug session after calling `trainer.fit`:

## Stack trace

[code]

## Debu

[2022-02-04 09:52] SkafteNicki commented on #11717
@carmocca here is the sub matrix for TM<->PL
| PL | TM |
|----|-----|
| 1.6 | 0.8 |
| 1.5 | 0.8 |
| 1.4 | 0.7 |
| 1.3 | 0.7 |
| 1.2 | 0.6 |

maybe @ethanwharris can pitch in with flash version?

[2022-02-04 09:55] rohitgr7 commented on #11067
hey @JackKelly

is it possible for you to share a minimal script that reproduces this issue?

[2022-02-04 10:19] yfeng24816 opened #11735 "Finetune Transformers Models with PyTorch Lightning: documentation error?"
When calculating the total steps, shouldn't we use `number of batches * epoch size` ? In this case, it would be `self.total_steps = (len(train_loader.dataset) // tb_size) * ab_size` instead of `self.total_steps = (len(train_loader.dataset) // tb_size) // ab_size`.

Please fix me if anywhere is wrong.

<img width="796" alt="image" src="https://user-images.githubusercontent.com/83372333/152512087-1b

[2022-02-04 10:25] xamm opened #11736 "Adding log_params function to MLFlowLogger class"
## 🚀 Feature

*mlflow* provides a `log_params()` function ([link to docs](https://www.mlflow.org/docs/latest/python_api/mlflow.html#mlflow.log_params)).
This provides the ability to pass a `dictionary` of parameters and log them all at once.
At the moment the `MLFlowLogger` does not offer this function.

The added function should simply take a dictionary as input and log all parameters contained i

[2022-02-04 10:25] xamm commented on #11736
If there is interest in this new feature I would be happy to implement this.

[2022-02-04 11:34] GuillaumeRochette opened #11737 "Learning rate finder is not working with lazy parameters"
## 🐛 Bug

One cannot use the learning rate finder, aka `auto_lr_find`, if the model has any `UninitializedParameter`.
The error arises when the model state is restored after the search.

### To Reproduce

https://colab.research.google.com/drive/1L64i9svqfkmXYktvQCZpUAcGaJRIHDSB?usp=sharing

### Expected behavior

The model state should be saved after initialization and not before.

### Environment

[2022-02-04 12:02] rohitgr7 commented on #11735
I guess it should be `batches * num_epochs` but why would it be ` * ab_size`?

[2022-02-04 12:29] JackKelly commented on #11067
Good question!

My model is pretty complex. And this bug is intermittent. It's possible I could create a minimal script that reproduces this issue but I expect it'd take a while. Can we use @RylanSchaeffer's script at the top of this thread?

[2022-02-04 12:34] yfeng24816 commented on #11735
Is `ab_size` something like `num_epochs`? It becomes `self.trainer.max_epochs` when `accumulate_grad_batches` is 1.

[2022-02-04 12:50] rohitgr7 commented on #11735
okay. yes... I didn't see max_epochs there. should be something like
[code]

[2022-02-04 12:56] rohitgr7 commented on #11067
it's running fine for me. Made a few changes like removed wandb logger & checkpointing and not using ` src.models.readout.LinearReadout` since it's not available in the shared example.

[2022-02-04 13:33] JackKelly commented on #11067
Thanks so much for giving it a go!

So, this is definitely an intermittent problem. Sometimes training will run fine for me for several hours and then die.

Actually, it's possible I was doing something stupid... I was using `self.register_buffer("<param name>", nn.Parameter(...))` to register params that I _do_ want to be trained...  I'm trying again after replacing `register_buffer` with `self.<

[2022-02-04 13:39] rohitgr7 commented on #11067
AFAIK, `nn.Parameter(...)` is already part of `nn.Module`, even if assigned without a register_buffer.

[2022-02-04 14:00] RylanSchaeffer commented on #11067
I think I did find a fix! Let me check in a couple of hours and get back to you

[2022-02-04 15:19] AlessioQuercia commented on #2727
If you also want it to work for `python -m script.py` you need to modify it slightly:
[code]

But in general this does not work with: Hydra + Submitit + PL  with DDP, since the command there is submit.py and you cannot pass the hydra config to it.

If I understood it correctly, @jgbos the solution you provided works when you force PL to use 1 GPU only and therefore you can only use 1 GPU per task.

[2022-02-04 16:47] jgbos commented on #2727
Yes, I wasn't using that feature, your solution is correct

No, this works for multi-gpu.  It runs using the Hydra config in the current experiment, so it will launch the process correctly for each rank.   There are several caveats to this though, mostly related to complex task functions and multirun (you need to destroy distributed processes and remove PL related environment variables for multiru

[2022-02-04 17:02] #10455 closed

[2022-02-04 17:03] carmocca commented on #11665
This is correct. Saving and loading is not implemented.

This is done by the callback automatically.

[2022-02-04 17:27] carmocca commented on #11715
The design of "logging" has been iteratively developed since before 1.0. `log` is the most minimalistic user-facing API that supports all of "logging" and feeds data into callbacks, the progress bar, and loggers.

A small recap of the current design:

- The `LightningModule` and `Callback`s generate results through `log`. These results are basically `torchmetrics.Metric`s with added metadata saved

[2022-02-04 17:35] RylanSchaeffer commented on #11067
@JackKelly yes, the problem was indeed caused by my SLURM cluster killing my debugger.

[2022-02-04 17:43] JackKelly commented on #11067
Great! That's really useful, thank you!

To give a few quick updates from my end...

As @rohitgr7 predicted, my previous hunch that my issue was that my code was inappropriately using `register_buffer` turned out to be false. To be specific: I replaced `register_buffer` with `self.<param name> = nn.Parameter(data)` but the code still crashed.

BUT! It crashed in a slightly different way: It segfau

[2022-02-04 17:45] AlessioQuercia commented on #2727
Thank you, I did not get it at the beginning. I will give it a try!

Unfortunately in my case there is a reason for that: my time on the clusters is limited and it is accounted as `nodes * cpus * time`, regardless of the gpus, that is using 1 gpu per node or all available ones is accounted the same time. Therefore using only 1 gpu per node would be a waste of resources and time.

[2022-02-04 17:59] jgbos commented on #2727
That's too bad because that's the most robust solution I've come up with.  What we really need is a Hydra centric `LightningCLI` so that the spawning command is something like `python -m pytorch_lightning.main <path to hydra config.yaml>`.  This would be robust since it doesn't actually recall your task function.  I'm looking at.  (shameless plug, it might be simple using our tool [hydra-zen](http

[2022-02-04 18:52] rohitgr7 commented on #11680
sorry, I am a little confused here. How are we planning to handle cases where these logged values are used. For eg with ModelCheckpoint, EarlyStopping, ReducelLRonPlateau, if both the dataloaders have the same log keys?

[2022-02-04 20:38] jgbos commented on #2727
Here's a potential solution:

Create a file `lightning_cli.py` with something like the following:
[code]

Create your own `CustomDDPStrategy` and use this for the command to spawn a new job:

[code]

Now it will only spawn running lightning and not your task function.

[2022-02-04 21:01] circlecrystal opened #11741 "Bug report: This line causes error when using MADGRAD optimizer & resume training"
https://github.com/PyTorchLightning/pytorch-lightning/blob/8c07d8bf905e395bbd2142b5df7b185b8e936c41/pytorch_lightning/trainer/connectors/checkpoint_connector.py#L284

The reported error is:
`  File "/home/tiger/.local/lib/python3.7/site-packages/pytorch_lightning/trainer/connectors/checkpoint_connector.py", line 283, in restore_optimizers
    for k, v in state.items():
AttributeError: 'Tensor' obj

[2022-02-04 23:23] ananthsub opened #11746 "Centralize location of rank_zero utility functions"
## Proposed refactor

The rank_zero_* utilities are currently split between distributed.py and warnings.py
distributed.py
https://github.com/PyTorchLightning/pytorch-lightning/blob/8c07d8bf905e395bbd2142b5df7b185b8e936c41/pytorch_lightning/utilities/distributed.py#L47-L95

https://github.com/PyTorchLightning/pytorch-lightning/blob/8c07d8bf905e395bbd2142b5df7b185b8e936c41/pytorch_lightning/utilitie

[2022-02-05 00:57] awaelchli commented on #3325
I assume there is, if collectives are being used. For example, `sync_dist=True` in `self.log` or similar.

https://github.com/pytorch/pytorch/issues/49180 is great! Hopefully this will clarify the drop_last argument which has a slightly misleading/incomplete description :) We would indeed need the UnrepeatedDistributedSampler.

[2022-02-05 01:02] #11703 closed

[2022-02-05 02:03] #11139 closed

[2022-02-05 02:33] jumpynitro commented on #2534
Is not the same :(, ModelCheckpoint in the end is linked to validation_step, validation_epoch_end and its log process. val_check_interval only allow you to use float when < 1 but not a specific number of training steps. When val_check_interval > 1 the behaviour is not correct for a non iterable dataset :c.

[2022-02-05 02:44] #10686 closed

[2022-02-05 02:49] speediedan opened #11751 "Fix HorovodStrategy Teardown() Edge Case"
## 🐛 Bug
`HorovodStrategy.teardown()` may not complete gracefully if an exception is thrown before `HorovodStrategy._exit_stack` is set.

[code]
Notice below that `self._exit_stack` isn't set until callback `setup()` hooks are called:

https://github.com/PyTorchLightning/pytorch-lightning/blob/58324b5197aef20eb7acb577f953c0fae7c2dc05/pytorch_lightning/strategies/horovod.py#L79-L84

### To Reproduc

[2022-02-05 03:24] awaelchli commented on #11741
Hello @circlecrystal
Thanks for bringing this up.
I don't see anything immediately wrong with your suggestion. Since you found the fix already, would you be interested in sending a fix in a PR? We would then need to extend one of our tests to check against this type of optimizer.

cheers

[2022-02-05 03:40] awaelchli commented on #11729
Hello

I have an idea what could be the problem:
In the trainer, you need to set the number of devices and number of nodes to the same value as the environment, i.e., if you launch dask processes with 2 nodes with 4 devices each, the trainer needs to set `Trainer(devices=4, num_nodes=2, ...)`.

Could you try this? Thanks <3

[2022-02-05 04:13] awaelchli commented on #11751
@speediedan Good that you found this, thanks for sending the PR!

[2022-02-05 04:25] awaelchli commented on #10630
If I understand correctly, #11696 addressed this. Closing.

[2022-02-05 04:25] #10630 closed

[2022-02-05 04:29] #5586 closed

[2022-02-05 04:37] awaelchli commented on #4349
Yes, that sounds reasonable to me. We would follow the same pattern as for e.g. the checkpoint io plugin. This should fit in nicely.

[2022-02-05 04:38] #11451 closed

[2022-02-05 05:32] awaelchli commented on #924
Hello

This is correct:
[code]
Note, if you load the model make sure your hyperparametes match. Either make sure you called self.hyperparameters() in your init, or pass your params to the `load_from_checkpoint` method as args and kwargs.

Furthermore, how did you run trainer.test()?

1) trainer.test() will use the latest model the trainer has seen (not necessarily the best)
2) trainer.test(model)

[2022-02-05 07:04] ananthsub opened #11756 "Move strategy-specific dataloader logic to the stategy class"
## Proposed refactor

This is

### Motivation

Strategies today interact with dataloading, especially in distributed training. It makes sense for the strategy to directly handle this logic.

This would reduce and simplify interactions elsewhere in the trainer, in particular strategy state -> trainer properties -> data connector logic

And would remove the hacky patching that IPUs do right now 😧  h

[2022-02-05 09:01] JackKelly commented on #11067
Hmm... my training runs are still dying with errors like `AttributeError: 'weakref' object has no attribute 'grad_fn'`.

@RylanSchaeffer if you have any more details, please could you share any details of how exactly the SLURM cluster killed your training script? If SLURM just sent a `kill` signal to your script then `PyTorch Lightning` should shutdown gracefully, right?

(I'm running my scripts o

[2022-02-05 09:04] JackKelly commented on #11067
Just to connect the dots... [here's a StackOverflow question which reports a very similar problem](https://stackoverflow.com/questions/70356776/pytorch-lightning-runtime-error-different-every-time)

[2022-02-05 13:36] awaelchli commented on #11756
This is a great concept and I feel we should definitely explore it. However, I see some challenges to put everything in this single method, because the logic is spread out and interleaved with other non-strategy related functions. To get to a proof-of-concept, one attempt a intermediate refactor to sequence out the strategy-related code and merge them into a single method inside the connector, to

[2022-02-05 14:01] Pazitos10 commented on #924
Hello @awaelchli, thank for your answer! To avoid further confusion here is essentially how my training/testing script is currently running:

[code]
When that script finishes, the results are:
[code]

Then I created a Jupyter notebook to test the model. The code in that notebook is:
[code]
When I run the second test, the results are:
[code]
Note: after calling `self.save_hyperparameters()`, the co

[2022-02-05 14:56] JackKelly commented on #11067
One pattern seems to be that the failure is often (but not always) at the start of an epoch

[2022-02-05 15:34] jcfaracco commented on #11729
Thanks @awaelchli

It seems to work. Now I see the `GLOBAL_RANK` and `MEMBERS` set properly in each node.
The data is also balanced between workers (I'm using 2 workers with one GPU each to test `Trainer(devices=1, num_nodes=2, accelerator="gpu", strategy="ddp", ...)`).
There is only one issue that I'm still seeing. The output of one work shows only:

[code]

[2022-02-05 16:14] circlecrystal commented on #11741
I have finally finished a PR for fixing this bug. Please take a look at here:
https://github.com/PyTorchLightning/pytorch-lightning/pull/11757

[2022-02-05 17:32] TidalPaladin opened #11759 "`apply_to_collections` fails on dataclass inputs"
## 🐛 Bug

If `apply_to_collections` is called on two dataclasses, the passed `function` will be called on only one of the input dataclasses.

Dataclass inputs for `apply_to_collection` are handled by a conditional:

https://github.com/PyTorchLightning/pytorch-lightning/blob/8ddf9f996d4a98e7be5fc591b7734b6f78313771/pytorch_lightning/utilities/apply_func.py#L128

`apply_to_collections` does not appe

[2022-02-05 17:58] feipenghe opened #11760 "DDP failed with big model under `deepspeed_stage_3` strategy"
## 🐛 Bug

I am running T5-11B(~40GB) model with `deepspeed_stage_3` strategy and it failed to `_init_deepspeed_distributed()`
Trainer works for smaller model such as T5-large (~3GB)

Here is the traceback.

[code]

Another runs gives different traceback.
[code]

### To Reproduce

I think a pytorch lightning trainer with a t5-11b model is enough for reproducing the bug.

### Expected behavior

It i

[2022-02-05 18:17] feipenghe commented on #11760
It's pretty similar to https://github.com/PyTorchLightning/pytorch-lightning/issues/4420 .
Currently I am trying out the methods suggested there.

[2022-02-05 18:51] jcfaracco commented on #11729
Apparently, it is working. It is suppressing the training output on other works. If I force with a simple `print()`, it seems to work fine. Unless someone has any objection or any extra suggestion, I guess we can close this bug report.

[2022-02-05 19:13] #11751 closed

[2022-02-05 20:28] daniellepintz commented on #6019
Should we close this issue since it was done in https://github.com/PyTorchLightning/pytorch-lightning/pull/6195?

[2022-02-05 22:27] AlessioQuercia commented on #2727
Thank you for the suggestions, I think your solution should work, but I don't know why it gets stuck at the Trainer, without giving any error (I also tried manually calling my main function from the correct directory). The job(s) keep running normally but the out/err do not get updated.

At the end I wrote my own launcher and I am using that one instead of submitit. It is just a modification of th

[2022-02-05 22:37] #6019 closed

[2022-02-05 22:42] rohitgr7 commented on #11729
possibly because the progress bar is shown only on rank 0 but total batches here will be correct due to distributed sampling. If we show it for all ranks, will be become uneasy to track.

[2022-02-05 23:24] awaelchli commented on #11729
Yes exactly, as @rohitgr7 said we don't let each process print a progress bar to avoid an unpleasant experience when the terminal gets spammed with outputs. However, we could potentially restrict this to `local_rank==0` instead of `global_rank==0`, then at least for multi-node training you will see the bar in each terminal of a different node. This could be a slight improvement we want to consider

[2022-02-06 00:11] awaelchli commented on #11759
Hello

Yes this is happening because `apply_to_collections` does not support dataclasses. However, we recently added support for dataclasses in `apply_to_collection` (singular) and we could investigate how to support that also for the zip version.

[2022-02-06 01:49] jcfaracco commented on #11729
Thanks, guys. I assume this is closed. I appreciate your feedback and support 😃

[2022-02-06 01:49] #11729 closed

[2022-02-06 03:50] daniellepintz opened #11768 "[RFC] Deprecate `weights_save_path` from the Trainer constructor"
## Proposed refactor

Deprecate `weights_save_path` from the Trainer constructor:
https://github.com/PyTorchLightning/pytorch-lightning/blob/9d8faecdb2b873b52b95f2772f4bf48068a0af9a/pytorch_lightning/trainer/trainer.py#L175

### Motivation

We currently have multiple ways to set the checkpoint save path in Lightning:
* the`weights_save_path` Trainer argument
* the `dirpath` argument and instance v

[2022-02-06 08:11] justusschock commented on #11760
@feipenghe can you report back after trying #4220 ? Did it resolve your issue? :)

[2022-02-06 11:05] AjinkyaIndulkar opened #11769 "Use W&B Dataset and Model Artifacts in Experiments with `WandbLogger`"
## 🚀 Feature

Allow experiments with `WandbLogger` to use `wandb.Artifact` for using/downloading datasets or model checkpoints.

### Motivation

The current implementation of `pytorch_lightning.loggers.wandb.WandbLogger` does not include usage of `wandb.Artifact` to use/download dataset or model checkpoint artifact when running an experiment on Weights & Biases. This limits the ability of an exper

[2022-02-06 18:16] feipenghe commented on #11760
After several trials, I finally determined that it's the issue of not enough RAM. My machine has RAM size of 256 GB. I tried T5-3B which used peak RAM size 126GB so I think T5-11B needs RAM size around 500GB.

When I ran the code, RAM usage accumulates to a peak memory usage and then went down after messages like `initializing deepspeed distributed: GLOBAL_RANK: 0, MEMBER: 1/6`. It went up for ini

[2022-02-06 18:34] ananthsub commented on #11768
This argument is used for automatic fault-tolerance here: https://github.com/PyTorchLightning/pytorch-lightning/blob/0cb64fb8baf954db2de234a69b483209fb19de9a/pytorch_lightning/trainer/connectors/checkpoint_connector.py#L55-L68

What would be used instead?
What happens if multiple model checkpoints are configured? It doesn't make sense to save multiple checkpoints used for resuming?

[2022-02-06 18:36] ananthsub opened #11772 "Fault tolerant training doesn't support remote filesystems"
If a user passes a remote filesystem URL to `weights_save_path`, fault-tolerant training will break. This is because of the usage of `os` here:

https://github.com/PyTorchLightning/pytorch-lightning/blob/0cb64fb8baf954db2de234a69b483209fb19de9a/pytorch_lightning/trainer/connectors/checkpoint_connector.py#L55-L68

Lightning should use the utilities here instead: https://github.com/PyTorchLightning/

[2022-02-06 20:46] #9858 closed

[2022-02-06 21:27] MRGLabs opened #11775 "Multi-GPU Tensor Initialization Question"
### Discussed in https://github.com/PyTorchLightning/pytorch-lightning/discussions/11774

<div type='discussions-op-text'>

<sup>Originally posted by **MRGLabs** February  6, 2022</sup>
The documentation advises the usage of '_type_as_' when initializing new tensors in multi-gpu settings:

When you need to create a new tensor, use type_as. This will make your code scale to any arbitrary number of

[2022-02-07 01:52] akihironitta commented on #11775
See #11774.

[2022-02-07 01:52] #11775 closed

[2022-02-07 08:09] #11746 closed

[2022-02-07 09:12] AjinkyaIndulkar commented on #11769
I'm happy to contribute towards this but I would like to finalise the scope of implementation before I can start any work to create a PR.

[2022-02-07 09:33] timurlenk07 commented on #10375
Hi! I have a use case that would be impacted by this change.
I currently use this `save_hyperparameters` function save the hyperparameters of training and augmentation to Tensorboard. As augmentation is done outside of the training process, I do not pass the augmentation hyperparams directly to the `LightningModule`, instead I pass all the hyperparams (generated by an outside engine Ray Tune) as a

[2022-02-07 11:07] #11559 closed

[2022-02-07 11:47] awaelchli commented on #10375
Hi
Once the change lands, a warning will be shown to user with your use case.
It is recommended to change your code to:

[2022-02-07 12:27] SeanNaren commented on #11694
@gahdritz I agree that this is a bug. @rohitgr7 can we make an assumption that if the user passes the deepspeed config that we automatically set this interval to step? I think all schedulers for DeepSpeed are called every step rather than every epoch.

I'm unfamiliar with the code format of the scheduling logic now to be the person to make this change!

[2022-02-07 12:29] #11772 closed

[2022-02-07 13:36] andreimargeloiu commented on #10430
Any update?

[2022-02-07 13:46] carmocca commented on #5245
You wouldn't need to modify the dataloaders as you can instead pass a list of them.

This is considered "cheating" as your training is being informed from its performance on the test set. The test set is supposed to be held out and only used after the best model (generally on validation) is selected.

There are many techniques to avoid inconsistencies between the different data partitions, from be

[2022-02-07 14:27] carmocca commented on #11349
Closing this issue, tracking in #9130

[2022-02-07 14:27] #11349 closed

[2022-02-07 14:36] JackKelly commented on #11067
I'm dedicating some time to dig into this...

Sometimes the code segfaults. I've run the code through `gdb --args python <script.py>` to investigate the segfault. The segfault always looks like this (after running `backtrace` in `gdb`):

[code]

This is just the top of the stack trace.

If I've understood this correctly, the garbage collector is unhappy.

My current hypothesis is that the problem

[2022-02-07 14:38] OverLordGoldDragon opened #11791 "Load checkpoint with updated `Trainer` arguments"
Just like the model, from [docs](https://pytorch-lightning.readthedocs.io/en/latest/common/checkpointing.html#checkpoint-loading):
[code]
I'd like to do e.g.
[code]
Is there a workaround in the meantime?

cc @borda

[2022-02-07 14:46] carmocca commented on #11680
The callbacks will not support it, as they rely on the `*_metrics` dictionaries that don't support collisions.

Only one value would be available. The concern is about how it's computed when multiple dataloaders log it.

[2022-02-07 14:49] rohitgr7 commented on #11680
yeah.. this was my question exactly.. haha :)

[2022-02-07 16:15] RylanSchaeffer commented on #11067
Now that you mention garbage collection, I think I had a similar problem where something you would expected to be garbage collected (e.g. `losses.append(loss.item())` within a loop) wasn't functioning properly...

[2022-02-07 16:29] EricWiener opened #11796 "Improved control of device stats callbacks"
## Proposed refactor
Separate device stats monitoring into separate callbacks per-device, but sub-class from `DeviceStatsMonitor`. This preserves the desired change from #9032 to consolidate the interface, but also allows for fine-grained control.

### Motivation
With #9032, all the accelerators were combined under a single `DeviceStatsMonitor` callback. This consolidated the API, but it also remo

[2022-02-07 16:38] cowwoc commented on #11796
LGTM

[2022-02-07 16:42] ananthsub commented on #11796
IMO, the most important part of #9032 was removing `log_gpu_memory` from the Trainer constructor and the internal logic for logging GPU memory it resulted in, which offered no chance of extensibility.

I am fine with undeprecating GPUStatsMonitor/XLAStatsMonitor. Building off your proposal, the `DeviceStatsMonitor` base class could require a `get_device_stats()` method to be implemented while fill

[2022-02-07 16:59] SeanNaren commented on #11694
@gahdritz once #11788 is merged this should be fixed!

[2022-02-07 17:43] jgbos commented on #2727
Oh, multirun has some issues that I haven't quite figured out.  The solution that seems to work consistently is to modify `CustomDDPStrategy` in two spots:

First make your own `setup_environment` method.  For some reason it only works to `destroy_process_group` in this function, it will hang anywhere else.

[code]

Second in `teardown` you need to remove PL environment variables, I'm unsure of ex

[2022-02-07 18:43] JackKelly commented on #11067
oooh, that is interesting!

I think I'm closing in on the problem...

On the first three batches of each epoch, my code creates and logs some fairly complex matplotlib plots during `training_step`. I'm not yet certain, but it looks like it's this plotting during training that's causing problems... (and my exact same code was working fine back in December... )

[2022-02-07 20:26] rohitgr7 commented on #11791
hey @OverLordGoldDragon !

why not do just
[code]

[2022-02-07 20:57] daniellepintz commented on #11796
Hi @EricWiener, thanks for the proposal!

First of all, I think we are conflating two things here - the move from `nvidia-smi` to use `torch.cuda.memory_stats` is completely separate from this issue, in fact there was a whole separate issue for it https://github.com/PyTorchLightning/pytorch-lightning/issues/8780, and it was simply done as part of #9032 for convenience. It is just an implementation

[2022-02-07 23:54] twsl commented on #11796
Couldnt we just add a generic statsmonitor as an additional class that always loggs cpu/sys mem and accelerator data? that way we would have an easy to use default and could still allow advanced users to configure logging the device of choice regardless of the accelerator. cause you might want to use a certain device and log the stats even if it isnt your accelerator

[2022-02-08 00:34] SaulAryehKohn commented on #10239
Lightning is quickly becoming a standard part of my DL projects. I have several years of experience doing weakly supervised learning and would be interested in building out a tutorial along those lines for medical imaging. Open to collaboration too :)

[2022-02-08 00:53] EricWiener commented on #11796
Sorry for the confusion. I had meant for this to be an example of when finer user-control would be nice (specifying whether to use `nvidia-smi` or `torch.cuda.memory_stats` / what stats to display). Regardless of what the default is set to, it seems the user should have more control, which would be possible if the device stats weren't all constrained to the same interface.

We could either raise a

[2022-02-08 00:56] EricWiener commented on #11796
I was working on doing that in #11795, but there wasn't a very nice way to do that and still allow customization for both CPU metrics + accelerator metrics. This would be pitch 1

[2022-02-08 01:28] awaelchli commented on #11232
This is not allowed. We need to move away from this in the future anyway. The logger has to be owned by the logger connector and not be set on the Trainer indirectly. It is what we wanted to do for a while but never got to it.

[2022-02-08 02:02] awaelchli commented on #11232
The logger vs. loggers proposal here has some open questions which I believe we should address first before we set the api changes in motion.

If we previously had

`trainer = Trainer(logger=Logger())`

and in my LightningModule:

`self.logger.log_image(...)`

Then now with the new change, if I change to `trainer = Trainer(logger=[Logger1(), Logger2()])` then that means I now also need to change t

[2022-02-08 02:25] ananthsub commented on #11232
@awaelchli - one solution for that is to pick an arbitrary `logger` from the `loggers` list as a convenience. we do this with model checkpointing callbacks here: https://github.com/PyTorchLightning/pytorch-lightning/blob/1203094a201bd38f0b8b77d93bc39fc95f06d8ae/pytorch_lightning/trainer/trainer.py#L2199-L2205

What we could do is redefine `logger` in place, such that:
[code]

[2022-02-08 02:37] akashkw commented on #11232
@ananthsub I was in the middle of suggesting a similar solution right as you posted it.

I agree with @awaelchli that deprecating trainer.logger is going to be clunkier for most users, and I noticed while refactoring the codebase that having a for loop just didn't make sense in many places so I had to use trainer.loggers[0].

I think maintaining both trainer.logger and trainer.loggers is still muc

[2022-02-08 03:08] ananthsub commented on #11232
To summarize:
- the focus of this issue is deprecating LoggerCollection in favor of `loggers`
- We don't need to remove the fastpath option of `logger` because it's convenient for the overwhelmingly common case of using a single logger

Regarding the trainer API, I also don't see a strong need to do this migration: `Trainer(logger=...)` to `Trainer(loggers=...)`
The documentation around this can c

[2022-02-08 05:10] daniellepintz commented on #11232
That sounds good. @awaelchli please confirm if this makes sense to you, so that @akashkw can finish his PR

[2022-02-08 07:53] OverLordGoldDragon commented on #11791
Overridden by the checkpoint

[2022-02-08 07:56] jordane95 commented on #11663
It turns out that I was using an older version of `sentencepiece`. I update `sentencepiece` to the latest version and everything works well.

[2022-02-08 08:30] sounakdey commented on #4450
The validation steps seems to be much longer than the training... did anyone find a solution to this issue

[2022-02-08 09:10] rohitgr7 commented on #11791
checkpoint doesn't save any trainer arguments.

[2022-02-08 09:26] yuvalkirstain commented on #5342
Hey, any news about this? that's a very useful feature.

[2022-02-08 09:45] SeanNaren commented on #11760
hey @feipenghe I can confirm that I can reproduce this simply by instantiating t5-11b in the BoringModel somewhere.

Further investigation leads me to believe that this memory issue is caused by the pre-trained weights being loaded on each individual device internally in `from_pretrained`. this adds up and I think a few processes silently die as they cannot allocate.

I'm unsure of what a fix coul

[2022-02-08 10:24] tchaton commented on #10445
Any updates on this issue ?

[2022-02-08 10:54] mauvilsa commented on #11796
One thing I do not like about the current deprecated `GPUStatsMonitor` is that if I am not using a GPU, then the execution fails. In my code I have a modification of it such that if no GPU is used, then the callback does nothing. If this and the new `DeviceStatsMonitor` and derived callbacks do not work like this, then how is it supposed to be used? Am I expected to change my source code every tim

[2022-02-08 11:01] stecklin opened #11807 "Prediction with custom batch sampler"
## 🐛 Bug

When using a custom batch sampler for prediction, the following code gets executed:

https://github.com/PyTorchLightning/pytorch-lightning/blob/ab1c2ff23fd27ab6e5647e390313b569e32b61c5/pytorch_lightning/trainer/data_loading.py#L221-L226

This assumes the custom batch sampler has the same interface as [BatchSampler](https://pytorch.org/docs/stable/data.html#torch.utils.data.BatchSampler).

[2022-02-08 11:53] OverLordGoldDragon commented on #11791
Strange, I saw `trainer._detect_anomaly == True` despite passing `False`, but now can't make an MRE. I'll reopen if I can confirm more definitively, thanks

[2022-02-08 11:53] #11791 closed

[2022-02-08 11:58] EricWiener commented on #11796
Just added a new pitch 3 based on the above feedback where we keep a single `DeviceStatsMonitor` with limited customization but make it easier for users to create custom device monitoring callbacks.

[2022-02-08 12:06] amin-nejad commented on #10389
Sounds like this issue should be reopened

[2022-02-08 12:17] OverLordGoldDragon opened #11809 "`You're resuming from a checkpoint that ended mid-epoch` with `every_n_epochs=1`"
[Colab MRE](https://colab.research.google.com/drive/1FlYDU9YVG4-0-Y6lqV17f70Z2Z072yLi?usp=sharing)

<details><summary><b>direct code</b></summary>

[code]

</details>

[2022-02-08 12:34] rohitgr7 commented on #11809
hey @OverLordGoldDragon

this was partially fixed in https://github.com/PyTorchLightning/pytorch-lightning/pull/11556
and will be completely fixed by https://github.com/PyTorchLightning/pytorch-lightning/issues/7406

will be available in the next release.

[2022-02-08 12:37] #11809 closed

[2022-02-08 12:39] OverLordGoldDragon commented on #11809
Thanks. If it's not a false positive, is there a better way to achieve the intended functionality in the meantime (e.g. `every_n_train_steps`)?

[2022-02-08 12:41] rohitgr7 commented on #11736
hey @xamm !

I think log_hyperparams does the same:
https://github.com/PyTorchLightning/pytorch-lightning/blob/32e7d32956e1685d36f2ab0ca3770baa2f76ce10/pytorch_lightning/loggers/mlflow.py#L195

[2022-02-08 12:44] rohitgr7 commented on #11809
what is your use-case exactly?

[2022-02-08 12:48] OverLordGoldDragon commented on #11809
Saving (full model & trainer state, AMP16, wandb) at end of every epoch, then loading.

[2022-02-08 12:50] rohitgr7 commented on #11809
then `every_n_epoch=1` is fine. You can ignore the warning.

[2022-02-08 13:27] isvogor-foi commented on #10389
@amin-nejad I agree. @TheMrZZ shall we reopen?
@carmocca did you test?

[2022-02-08 13:34] carmocca commented on #10389
Hi @isvogor-foi!

I had a look but I'm not observing any speed differences after commenting reset.

Can you describe exactly what changes are you making? Is the same behaviour reproducible in master?
You can also reach me in our Slack if you find that easier.

[2022-02-08 13:40] isvogor-foi commented on #10389
@carmocca This is very curious. Hmm... this is most curious, there should be some difference.
So it should take effect if you use at least 10k images, and multiple epochs, e.g. 50. It should be faster since the DataLoader will not be reset after the epoch, and recreated. This recreation is usually expensive. Do you know whether you're using the "fork" or "spawn" setting?

[2022-02-08 16:56] awaelchli commented on #11232
**I am ok with that, we just need to be fully aware that if we remove the LoggerCollection abstraction, we won't be able to improve the situation where the user needs to change their code to make the LM compatible with the trainer settings, at least not with the current logger reference, and unless we recommend to always add that for loop.**

In summary, the implications are:

Before:

[code]

Aft

[2022-02-08 17:13] mauvilsa commented on #11796
I also prefer code that fails fast and no silent failures. But just to clarify. What I am saying is that the purpose of a `DeviceStatsMonitor` could be "Log stats for all devices used". Not finding or not using a certain device should not be considered a failure from the perspective of this callback.

Lightning already prints which devices are detected and which ones are used, e.g.

[code]

If the

[2022-02-08 17:45] four4fish opened #11812 "[Tracker] Remaining tasks for Strategy stable version"
## 🚀 Feature

Lightning Strategy stable version

### Motivation

After the refactoring issue is done, the main code structure will be stable. But there are other correctness and stability related issues that need to be addressed, some API simplification should be done, and some P0 features should be supported.

### Pitch
**Remaining tasks**
1. [Finish refactor, we have two remaining steps for acce

[2022-02-08 18:00] mauvilsa commented on #11796
@EricWiener a single callback does not necessarily mean no per device type options. How about the following:

[code]

When instantiating the callback, one could give in `

[2022-02-08 18:01] mauvilsa commented on #11796
@EricWiener a single callback does not necessarily mean no per device type options. How about the following:

[code]

When instantiating the callback, one could optionally give in `get_device_stats_gpu_kwargs` a dictionary with all options for `GPUAccelerator.get_device_stats`.

[2022-02-08 18:15] EricWiener commented on #11796
That would pretty much be pitch 1 (if I'm understanding you correctly).

[2022-02-08 18:24] mauvilsa commented on #11796
Yes, it is similar to pitch 1. But you added pitch 3 as response to my feedback, which distracts a bit from the core of what I was saying.

[2022-02-08 18:49] #10807 closed

[2022-02-08 18:56] daniellepintz commented on #11768
I see. Can we use `default_root_dir` here?

[2022-02-08 19:10] ananthsub opened #11814 "PrecisionPlugin should be the source of truth for the precision, amp_backend, and amp_level"
## Proposed refactor

### Motivation

For these to truly be pluggable, the precision plugin instance should be the source of truth for these properties within the Trainer. This has many benefits:

- Avoids data falling out of sync. Right now, this is a bug because it does't consider precision=="mixed" or "bf16"
https://github.com/PyTorchLightning/pytorch-lightning/blob/32e7d32956e1685d36f2ab0ca377

[2022-02-08 19:32] daniellepintz commented on #11796
I actually think the best option here is the one proposed in https://github.com/PyTorchLightning/pytorch-lightning/issues/11253#issuecomment-1004778058 and the one you are adding in #11795

[2022-02-08 20:13] carmocca commented on #11587
I think this was like this for legacy reasons. The less work we do the better. CI will tell if anything relied on this behavior.

[2022-02-08 20:20] rohitgr7 commented on #11587
I updated all the tests. Most of them were just checking the `num_eval_batches` contains 0s.
Apart from these only, 1 more test was there related to loops, but that too was irrelevant with no related assertions.

[2022-02-08 21:23] daniellepintz opened #11815 "[RFC] Deprecate `pre_backward` and `post_backward` Strategy hooks"
## Proposed refactor
Deprecate these hooks from Strategy:
https://github.com/PyTorchLightning/pytorch-lightning/blob/43a89eb132511f99441671ee0ba4d2b92ebbcbd7/pytorch_lightning/strategies/strategy.py#L293-L297
### Motivation

These hooks are not necessary since Strategy also has a `backward` hook:
https://github.com/PyTorchLightning/pytorch-lightning/blob/43a89eb132511f99441671ee0ba4d2b92ebbcbd7/py

[2022-02-08 22:48] jxmorris12 commented on #4224
I ran into this same issue, and fixed it by updating torch under the hood:
[code]

[2022-02-08 22:48] jxmorris12 commented on #4472
I ran into this same issue, and fixed it by updating torch under the hood:
[code]

[2022-02-08 23:33] ninginthecloud commented on #11807
Hi, @stecklin, thanks for flagging this issue! cc: @tchaton do we need to require batch_sampler to be `BatchSampler` type? we can get access of batch_size or drop_last via dataloader directly.

[2022-02-09 01:26] jjenniferdai commented on #11768
I like deprecating `weights_save_path` usage in `ModelCheckpoint` - don't see a reason for it when `ModelCheckpoint` has `dirpath`. Some things we lose by deprecating `weights_save_path` Trainer arg:

1. the ability for fault tolerance to specify a path different from `default_root_dir`. potential solutions:

-  trying to check `ModelCheckpoint` `dirpath`s to use. This is messy/won't work well tho

[2022-02-09 03:23] ananthsub commented on #11677
These have different semantics today. `finalize` accepts success/failure, while `teardown` accepts the stage (ie `fit` `validate` `test` `predict`), but does not give an indication about success/failure. How do you plan to bridge this?

[2022-02-09 03:34] ananthsub commented on #11676
Removing `save` from LightningLoggerBase makes sense to do only after v1.6 is released because `flush_logs_every_n_steps` will be removed in v1.7.
So the deprecation of `save` and removal of `flush_logs_every_n_steps` would happen in v1.7, with `save` targeted to be removed in v1.9.

[2022-02-09 03:59] daniellepintz opened #11816 "[RFC] Logger_connector should own the logger, and should not have a Trainer reference"
## Proposed refactor
* Create a `logger` property on the logger_connector
* Create a read-only property on the Trainer called `logger` which returns `logger_connector.logger`
* Remove Trainer reference from logger_connector

### Motivation
* Currently the Trainer owns the logger, but it is configured/set in the logger_connector:
https://github.com/PyTorchLightning/pytorch-lightning/blob/32e7d32956

[2022-02-09 04:51] daniellepintz commented on #11676
Hmm, sorry I'm not quite following why we would have to wait until `flush_logs_every_n_steps` is removed?

[2022-02-09 04:58] daniellepintz commented on #11677
Hmm good point. Maybe it doesn't make sense to do this issue?

[2022-02-09 08:04] tchaton commented on #11807
Hey @stecklin @ninginthecloud, yes you are right. This code assumed the custom BatchSampler follows the BatchSampler API which can't be assumpted to be true. This code should be refactored and both index tracking, fault-tolerant won't activated for custom batch sampler

[2022-02-09 08:52] ananthsub opened #11818 "[RFC] `Add Accelerator.is_available()` interface requirement"
## 🚀 Feature

### Motivation

Such functionality on the Accelerator abstraction would:
- Enable automatic hardware selection without duplicating code across Trainer & individual accelerator implementations.
- Simplify the accelerator connector logic and rewrite effort: https://github.com/PyTorchLightning/pytorch-lightning/pull/11448
- Enable automatic runtime checking of hardware availability duri

[2022-02-09 09:09] tchaton commented on #11818
Looks great, I like this.

[2022-02-09 09:16] rohitgr7 commented on #11818
looks good!

one quick ques: why inside setup_environment here?
[code]
and not inside init? I think we had a discussion regarding this in one of your PRs.

[2022-02-09 09:27] ananthsub commented on #11818
@rohitgr7 great question. ultimately, the accelerator is mimicking torch device semantics.

PyTorch users today can create a `torch.device("cuda")` on a host without GPUs available without any error being raised.
An error only appears when someone tries to do CUDA operations, like moving the tensor to the device.
[code]

To preserve this style, I don't raise an exception in init, and instead do it

[2022-02-09 09:29] xamm commented on #11736
Yes, thank you!

I was looking for `log_params` because the method for logging individual parameters is called `log_param`, so I completely overlooked this function.

[2022-02-09 09:33] #11736 closed

[2022-02-09 09:37] #5235 closed

[2022-02-09 09:37] justusschock commented on #11818
@ananthsub I see the reasons for that, but on the other hand I usually am in favor of raising errors as early as possible. And for testing we will probably have to mock the torch.cuda package anyways.

Not sure which one has more pros or cons, just wanted to mention this :)

[2022-02-09 09:43] ananthsub commented on #11818
@justusschock I agree, failing fast is very important.

To note:
- This proposal would not affect the current logic inside of the Trainer's accelerator connector for validating that the specified hardware is in fact available at Trainer construction time.
- And separately, we could move `setup_environment` to happen even sooner inside of `Trainer._run`: https://github.com/PyTorchLightning/pytorch-

[2022-02-09 12:04] awaelchli commented on #11818
Makes sense

Yes. Related but off-topic, there is a small misalignment in calling setup_environment() between ddp and ddp spawn #11073 but this can be easily resolved after #11643

[2022-02-09 12:15] rohitgr7 opened #11820 "Support loading jit checkpoints"
## 🚀 Feature

Support loading jitted checkpoints using `LightningModule.load_from_checkpoint` API.
https://github.com/PyTorchLightning/pytorch-lightning/pull/11428#discussion_r788470858

### Motivation

I think since this is possible, there is no-harm if we can support that since jitted checkpoints contain the weights and can be loaded like this:

[code]

### Pitch

We can simply load the checkpoi

[2022-02-09 12:32] rohitgr7 opened #11821 "Support tracing different methods with `to_torchscript`"
## 🚀 Feature

`torch.jit.trace` supports tracing individual methods. We can extend this support for user inside `to_torchscript(method='trace')`.
https://github.com/pytorch/pytorch/blob/bf233aa049c4b479fd6cb19f9b8672bb2d42b0e2/torch/jit/_trace.py#L638-L643

### Motivation

https://github.com/PyTorchLightning/pytorch-lightning/pull/11428#discussion_r788470309

### Pitch

[code]
or
[code]

### Alter

[2022-02-09 12:51] rohitgr7 opened #11822 "Make `swa_lrs` as required inside `SWACallback`"
## Proposed Enhancement

Currently when swa_lrs is not set here:
https://github.com/PyTorchLightning/pytorch-lightning/blob/e3820da28a0cd0982dd1c65d7da1a0e2180454c1/pytorch_lightning/callbacks/stochastic_weight_avg.py#L34-L38

we initialize it to the optimizer lrs here:
https://github.com/PyTorchLightning/pytorch-lightning/blob/e3820da28a0cd0982dd1c65d7da1a0e2180454c1/pytorch_lightning/callbacks/s

[2022-02-09 15:12] EricWiener commented on #11796
If we are no longer going to need to let the user choose whether they want to get GPU metrics from torch/`nvidia-smi`, then that would reduce the number of flags needed to be passed to `DeviceStatsMonitor`. I'm good with pitch #1, but with the following assumptions/caveats:

1. The source that an accelerator gets its metrics from can't be changed (ex. it would be quite confusing to handle differen

[2022-02-09 15:22] EricWiener opened #11823 "Reduce effort to add hooks with similar behavior to a Callback"
## 🚀 Feature
Adding a new `DecoratedCallback` class that derives from the `Callback` class that allows you to specify decorators in order to specify which hooks should be called without needing to define a lot of one-line functions. I also think `_prefix_metric_keys` should be made a public utility.

The user could now do:

[code]

### Motivation
Currently, (in my opinion) it is a pain to make a C

[2022-02-09 16:39] carmocca commented on #10389
Here are some simple time results which shows Lightning being a bit faster:

[code]

For PyTorch Lightning I used https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/domain_templates/imagenet.py verbatim, called with

[code]

And for PyTorch, I used https://github.com/pytorch/examples/blob/master/imagenet/main.py with the following changes applied to disable validation, v

[2022-02-09 16:54] daniellepintz commented on #11768
Interesting, yeah it seems like the only viable option is repurposing it as `fault_tolerance_path`

[2022-02-09 16:55] carmocca commented on #10389
Here are some simple time results:

This was using 1 `NVIDIA GeForce RTX 3090` and PyTorch Lightning 1.6.0dev, commit 8394770d4afa5480f881229b150ac44eaa8c41b0, `torch==1.10.1`, `torchmetrics==0.7.0`, `torchvision==0.11.2`, `Python 3.8.12`.

### PyTorch Lightning

[code]

I used https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/domain_templates/imagenet.py verbatim, call

[2022-02-09 16:59] isvogor-foi commented on #10389
Hm... very interesting. I did the same with `mnist` example that comes in the lightning examples. And noticed that Torch was only slightly better in my case, a second or so.  However, I've just dismantled the `advance` call in `training_epoch_loop.py`. So the training loop is this:
[code]
and before it, this part takes a lot of time:
[code]
and after it there is another long call:
[code]
So, in my

[2022-02-09 17:27] four4fish commented on #11818
Yeah make sense! We can call accelerator.is_available() when we init_accelerator() in accel_connector. I will modify the rewrite PR after these get merged

[2022-02-09 17:54] jjenniferdai opened #11824 "[RFC] Deprecate `CheckpointHooks` off `LightningDataModule`, `PrecisionPlugin`"
## Proposed refactor

Following the addition and alignment of `Stateful` API in issue #11429, deprecate `CheckpointHooks` `on_save/load_checkpoint(checkpoint_dict)` off `LightningDataModule` and `PrecisionPlugin`.

### Motivation

Now that `LightningDataModule` and `PrecisionPlugin` can contribute and load their own component state with `Stateful` APIs, I don't think there's much use cases where t

[2022-02-09 18:20] rohitgr7 commented on #11818
if we move `setup_environment`up, will it be okay that `self.device` will be available for users inside `prepare_data`, `configure_callbacks` hooks?

[2022-02-09 18:53] #11602 closed

[2022-02-09 18:56] awaelchli opened #11825 "Saving hyperparameters fails if all parameters in the signature get ignored"
## 🐛 Bug

### To Reproduce

In the test

https://github.com/PyTorchLightning/pytorch-lightning/blob/1e36cffbca3f92855d82907370544fade1656da6/tests/models/test_hparams.py#L642-L644

Add a new case that ignores all parameters:

[code]

Error:

[code]

### Expected behavior

Just make it a no-op if all parameters get ignored.
Motivation: The code remains agnostic to changes in the signature.

### Env

[2022-02-09 18:57] ananthsub commented on #11818
self.device would not be available because the module would not be moved to the device by then. setup_environment doesn't control this: `model_to_device` is what determines it.

But in general the environment setup should be the first thing that happens. This minimizes all control flow changes between processes created externally vs spawned by the trainer, as well as single process vs distributed

[2022-02-09 19:06] carmocca opened #11826 "Move `_*_AVAILABLE` checks to their respective files."
## Proposed refactor

Move all the variables defined here that are only used in one file
https://github.com/PyTorchLightning/pytorch-lightning/blob/1e36cffbca3f92855d82907370544fade1656da6/pytorch_lightning/utilities/imports.py#L98-L134
to their respective files.

### Motivation

This encapsulates code and avoids clutter from the utilities.

### Pitch

Move:

https://github.com/Lightning-AI/lightn

[2022-02-09 19:07] rohitgr7 commented on #11818
oh! yeah sorry. I did a quick run... looks like it defaults to `device('cpu')`

[2022-02-09 21:26] Borda commented on #11826
@carmocca could you elaborate more on why this is needed?
I would say having import change in one place makes it easier to find and this `imports` is a primitive without any dependency so there is no risk of cyclic imports compared to your proposal...

[2022-02-09 23:01] ananthsub opened #11831 "Where and when should device availability checks happen?"
This came up in discussions around #11818, #11797, #11798, #11799

Currently, device checks happen inside of the accelerator connector during trainer initialization.
https://github.com/PyTorchLightning/pytorch-lightning/blob/a2d8c4f6a6080234e47ccc5ad593912303d29bf9/pytorch_lightning/trainer/connectors/accelerator_connector.py#L197-L229

### Discussion 1:
Should the per-device check move out of the

[2022-02-09 23:10] #11825 closed

[2022-02-09 23:11] #11818 closed

[2022-02-09 23:44] awaelchli commented on #11831
IMO the check should not go into the accelerator init. It's better to have it in the accelerator connector, because this way we can build better error messages. For example, we can suggest a better option based on availability of hardware, which would not fit into the responsibility of the accelerator itself. For the same reason we have compatibility checks of strategies not in the strategy but al

[2022-02-10 00:36] awaelchli commented on #11816
That would be really nice to have!

[2022-02-10 00:57] williamFalcon opened #11833 "update all docs to reflect new syntax for accelerators"
All the docs still say:
[code]

But we now support a different syntax:
[code]

Although we have backward support, all the docs (including readme) needs to reflect the new way of doing it

cc @borda @rohitgr7 @akihironitta @ananthsub @carmocca @Borda

[2022-02-10 01:01] williamFalcon opened #11834 "rework docs to encourage the best practice of having a separate nn.Module"
A while back we shifted to recommending:
[code]

instead of:
[code]

we need to update all the docs including readme. This DOES NOT mean we don't support the first one, but the recommended thing is to keep your nn.Modules outside of LightningModule so that you don't HAVE to couple it with PL when you go do inference.

However, some people might still want to do:
[code]
and that's STILL OK and like

[2022-02-10 01:09] awaelchli commented on #5342
Hello, the status is that we are currently investigating adding a consistent interface for stateful components, #11429. And loggers would also fall into this category imo and could inherit from this too. I believe this issue can move forward once we have that in place, which is likely for 1.7.

[2022-02-10 01:41] EricWiener commented on #11823
There doesn't seem to be the ability to maintain state with the LambdaCallback. Ex: if you wanted to log metrics on every batch (regardless of if it is train/validation) then you need to maintain a true global step. The approach I'm suggesting would maintain the object-oriented interface (which the LambdaCallback doesn't really do).

[2022-02-10 03:56] daniellepintz opened #11837 "[RFC] Remove `log_text` and `log_image` from `LightningLoggerBase` API"
## Proposed refactor

Remove these methods from the `LightningLoggerBase` API:
https://github.com/PyTorchLightning/pytorch-lightning/blob/8d23f6287adf1e1040948802e6649c4ae2b3eda1/pytorch_lightning/loggers/base.py#L193-L205

### Motivation
`log_text` and `log_image` are both only overridden on 2 loggers: `WandbLogger` and `NeptuneLogger`.

For the rest of the loggers, since these methods are on the

[2022-02-10 09:49] #11684 closed

[2022-02-10 09:59] rohitgr7 commented on #11616
soon!

[2022-02-10 10:31] rohitgr7 commented on #11834
one issue, with the first one, is that while saving the hparams, the `nn.Modules` will be saved too in the hyperparameters while calling `self.save_hyperparameters()` unless the user explicitly calls it with `self.save_hyperparameters(ignore=['encoder', 'decoder'])`.

maybe we can improve the `save_hyperparameters()` to not save any `nn.Module`s by default?

[2022-02-10 13:13] amin-nejad opened #11840 "Reproducibility issue vs vanilla pytorch on multiple training runs"
## 🐛 Bug

**Pytorch Lightning (PL):**

The first run of a model in PL gives one set of results. Subsequent runs (new model instance, same data) all give the _same results_ **but** _different to that of the first run_. There is no reseeding in between these runs. If I reseed, then I am able to reproduce the original results.

**Vanilla pytorch (PT):**

With the same model and data reproduced in PT,

[2022-02-10 14:38] ragavsachdeva opened #11841 "[Bug] training (sometimes) freezes in a multi-gpu setting without throwing any errors or warnings."
## 🐛 Bug

tldr: Training freezes in a multi-gpu setting without throwing any errors or warnings.

I was trying to train my model on 2 GPUs using the ddp strategy and it would consistently freeze on `Epoch 0, Batch 40`. No errors, no warnings. Almost like a deadlock. I put in some print statements and found out that the `training_step` was never called for `Batch 41` on `process 0` but it was for `

[2022-02-10 15:01] Honzys opened #11844 "_LightningModuleWrapperBase doesn't pass attribute _ddp_params_and_buffers_to_ignore correctly"
## 🐛 Bug

I guess, there's a problem when passing `_ddp_params_and_buffers_to_ignore` attribute to the wrapper. There's the corresponding section - https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/overrides/base.py#L75 .

I think it should be prefixed with the name of attribute where it is saved.

[code]
### To Reproduce

You can set anything to `self._ddp_params

[2022-02-10 15:10] carmocca opened #11845 "[RFC] Move DataLoader ownership to the Loops."
## Proposed refactor

The highest-level loops - `FitLoop`, `EvaluationLoop`, and `PredictLoop` - already own the data fetching and iterators, the latter two also subclassing `DataLoaderLoop`. It makes sense they would also own the dataloader themselves.

This would reduce clutter from the `Trainer` and circular references like:

`trainer._run_evaluate` -> `trainer._evaluation_loop._reload_evaluati

[2022-02-10 15:33] justusschock commented on #11845
I like that a lot!

Just one note:

I think that we should never remove that. This is not only for backwards compatibility, but for quite a lot of cases, you need to access them (e.g. to compute their length or whatever) and having to go to the loops might not be intuitive from the user perspective (even though for us it would be the logic place to look at).

[2022-02-10 15:49] carmocca commented on #11845
Yes, I'm not advocating for deprecation, just saying that we would keep

[code]

[2022-02-10 16:56] #4385 closed

[2022-02-10 16:56] #5007 closed

[2022-02-10 18:13] carmocca commented on #11826
My point is that if one of these primitives is used in only one file, then it should be defined there. For example `_JSONARGPARSE_AVAILABLE` is only used the CLI:

[code]

Moving it means we contain all the CLI-related logic into a single place instead of leaving "breadcrumbs" in our utilities. The utilities module is slowly becoming a "dumping ground" for random pieces of code when some of those

[2022-02-10 18:25] daniellepintz commented on #11768
any thoughts @tchaton @awaelchli?

[2022-02-10 20:00] daniellepintz commented on #11370
@learn2phoenix are you still planning to work on this issue?

[2022-02-10 20:02] learn2phoenix commented on #11370
@daniellepintz Sorry, have been ultra busy. I will push the PR this weekend.

[2022-02-10 20:04] daniellepintz commented on #11370
No worries! Just checking in. If you do, please do one PR per file :)

[2022-02-10 20:31] MRGLabs commented on #11029
I am experiencing this same warning using a Trainer that maintains 2 min-val-loss models during training via the following model checkpoint:

[code]

The trainer is correctly creating and updating 2 models ('.ckpt' and '-v1.ckpt'). The big problem is that if i run consecutive training runs (resuming training), passing in the correct 'path_to_best_checkpoint' to _fit()_,

`trainer.fit(model, ckpt_p

[2022-02-10 20:35] vineetk1 opened #11856 "Even when val DataLoader has shuffle=False, Lightning gives an incorrect warning that val Dataloader has shuffle=True"
## 🐛 Bug
Even when DataLoader(self.valid_data, shuffle=False, ...), Lightning gives the following message:   UserWarning: Your `val_dataloader` has `shuffle=True`,.......

### To Reproduce
Assign shuffle=False in both the val and test dataloaders. Run the code and see the following two warning messages:

### Expected behavior
There should be no warning messages.

### Environment
- PyTorch Lightnin

[2022-02-10 20:39] ananthsub commented on #11837
The Trainer explicitly calls `log_graph` here: https://github.com/PyTorchLightning/pytorch-lightning/blob/789fae828dd3c3196b09bb5451e568c776dc99a6/pytorch_lightning/trainer/trainer.py#L1243

This means it's required to be on the logger API

[2022-02-10 21:44] daniellepintz commented on #11837
Updated the issue to not include `log_graph`, and will update it shortly with more information overall.

[2022-02-10 22:41] four4fish opened #11863 "Flatten the Strategy inheritance"
## Proposed refactor

Flatten the Strategy inheritance:
Part of #10416

### Motivation

Reduce coupling between strategies, reduce unintentional overrides/inheritance and avoid silent failures
eg:
1. DeepSpeed inherited configure_ddp() from DDP, which is unnecessary and error-prone.
2. DDP and FSDP have totally different distributed behavior, but with current inheritance, adding a DDP strategy met

[2022-02-10 23:59] EricWiener commented on #11823
Thanks for the feedback. Gonna close this

[2022-02-10 23:59] #11823 closed

[2022-02-11 01:10] carmocca commented on #11856
Can you reproduce it by modifying the following script?

https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/bug_report/bug_report_model.py

[2022-02-11 01:30] awaelchli commented on #11840
When you ran the PL script, did you have sanity check turned on? Could be caused by this line:

The reset_seed() method is feeding off of an environment variable PL_GLOBAL_SEED which persists between your multiple runs. With every fit, you will rerun sanity check and I guess re-trigger the reset.

You should be able to suppress this behavior by setting num_sanity_val_steps=0 in the Trainer.

I hav