[2019-04-01 19:09] shreyasbapat opened #1 "Proposal for help"
Hi @williamFalcon  ! I saw your project and I am very pleased by the idea. I wish to help you writing production level code.  PLease let me know in what way can I help!

[2019-04-02 12:33] fighting41love opened #2 "Thanks for sharing!"
Good repo! Thanks for sharing!

[2019-04-02 15:36] williamFalcon commented on #2
Thanks! Let me know how it can be improved!

[2019-04-02 15:37] williamFalcon commented on #1
Sounds great. can you send me a pm on twitter? we can coordinate through there _willfalcon

[2019-04-02 19:46] sara-02 opened #3 "Issue install the library"
Hey, I wanted to give this library a try, so I  did `pip install pytorch-lightning`, which gave the following error
[code]
So I went to the `pytorch.org`, and got the following set of commands to install pytorch on my system
[code]
The first command generated an error
[code]
Now the only option for me is install pytorch from source code. I was wonder if we can provide the pytorch-lighting as a doc

[2019-04-02 23:22] forhonourlx opened #4 "ModuleNotFoundError: No module named 'demo'"
simon:~/Desktop/pytorch-lightning/demo$ python fully_featured_trainer.py
Traceback (most recent call last):
  File "fully_featured_trainer.py", line 20, in <module>
    from demo.example_model import ExampleModel
ModuleNotFoundError: No module named 'demo'

[2019-04-02 23:23] forhonourlx opened #5 "TypeError: can only join an iterable"
simon:~/Desktop/pytorch-lightning/demo$ python fully_featured_trainer.py
Traceback (most recent call last):
  File "fully_featured_trainer.py", line 162, in <module>
    parent_parser = get_default_parser(strategy='random_search', root_dir=root_dir)
  File "fully_featured_trainer.py", line 111, in get_default_parser
    add_default_args(parser, root_dir, possible_model_names, SEED)
  File "/home/s

[2019-04-03 08:16] shreyasbapat commented on #1
Seems like on twitter both the sides have to follow each other in order to share PMs. Any other platform?

[2019-04-03 12:58] williamFalcon commented on #1
good point haha. didn't know that about twitter. I've added you anyhow, but let's just chat here.

First step to helping is for you to do the following things and document your experience such as what was hard, what was not intuitive, what documentation would be helpful, etc.

1. Build and run the demo.
2. Build a simple classifier on your own using this.

From there we can see where the gaps are

[2019-04-03 13:00] #5 closed

[2019-04-03 13:01] williamFalcon commented on #5
fixed. try again!

[2019-04-03 13:02] williamFalcon commented on #3
Not sure about windows, this was built with linux or osx in mind. But if your docker container has linux on it, pip install should work fine. Beyond pip install, how would the docker image be useful?

[2019-04-03 13:07] #4 closed

[2019-04-03 13:07] williamFalcon commented on #4
fixed! try again

[2019-04-03 13:07] #3 closed

[2019-04-03 14:28] shreyasbapat commented on #1
Yes. I will do these after this week only. (I am too busy this week)

Anyways, the things that majorly concern me is the organisation of the package. You can have a look at my other library (Not related to DL) [EinsteinPy](https://github.com/einsteinpy/einsteinpy), but you can have a look at how extensively its tested etc.

For this plan, I will get back to you this Tuesday?

[2019-04-03 15:09] forhonourlx commented on #4
Hi William,
@williamFalcon

simon@simon:~/Desktop/pytorch-lightning/demo$ python fully_featured_trainer.py
RUNNING MULTI GPU. GPU ids: ['0']
loading model...
running on gpu...
model built
gpu available: True, used: False
[Errno 13] Permission denied: '/Users'
Caught exception in worker thread [Errno 13] Permission denied: '/Users'
...
in example_model.py:
parser.add_argument('--data_root', default

[2019-04-03 15:22] williamFalcon commented on #4
wait... fixing again

[2019-04-03 15:40] forhonourlx commented on #4
Hi William,
@williamFalcon
After change the path,
One more when cuda training...

simon@simon-X299:~/Desktop/pytorch-lightning/demo$ python fully_featured_trainer.py
RUNNING MULTI GPU. GPU ids: ['0']
loading model...
running on gpu...
model built
gpu available: True, used: False
        Name         Type  Params
0       c_d1       Linear  392500
1    c_d1_bn  BatchNorm1d    1000
2  c_d1_drop

[2019-04-03 16:04] williamFalcon commented on #1
Sounds great. Yeah, this is a research library, so I didn't write tests for it because I've been moving quickly through research for publication. Tests would be great! I have however tested it myself when using/coding it, just didn't write an explicit test out.

Writing code for research has a less rigorous approach than code for a production system haha.

[2019-04-03 16:07] shreyasbapat commented on #1
No issues! I would love to help. I will make some organisational changes in a PR, for making docs and CI easy! Is that fine?

[2019-04-03 16:11] williamFalcon commented on #1
perfect. Looking forward!

[2019-04-03 16:22] shreyasbapat commented on #1
One question. Why is the package name `pytorch_lightning` somewhere and `pytorch-lightning` somewhere else?

[2019-04-03 16:59] williamFalcon opened #7 "pip install -e . crash"
Ran:
[code]

Obtaining file:///Users/williamfalcon/Developer/opensource/pytorch-lightning
    Complete output from command python setup.py egg_info:
    error in pytorch-lightning setup command: ("EntryPoint must be in 'name=module:attrs [extras]' format", 'pytorch-lightning=pytorch-lightning.cli:main')

    ----------------------------------------
Command "python setup.py egg_info" failed with er

[2019-04-03 17:06] shreyasbapat commented on #7
On it!

[2019-04-03 17:18] shreyasbapat commented on #7
Please look at #8

[2019-04-03 18:31] williamFalcon commented on #7
awesome!

[2019-04-03 18:31] #7 closed

[2019-04-11 04:54] shreyasbapat commented on #1
Oh! I am sorry, the tuesday thing got slipped off my mind. Will do this shortly :)

[2019-04-25 12:46] ducnx opened #10 "Adding visualization module"
Do you consider adding visualization ability? For example adding TensorBoard utility to visualize validation curve, or scalar changes, etc.

[2019-06-29 22:38] williamFalcon commented on #10
done! tensorboardX added

[2019-06-29 22:38] #10 closed

[2019-07-10 00:54] williamFalcon commented on #2
Hi! lighting has been updated to include: tensorboard visualization, multi-gpu training, multi-node training, thoroughly documented and updated clean syntax.

Would be auper helpful if you tried version 0.21 and provided feedback!

Thanks!

[2019-07-10 00:55] williamFalcon commented on #1
Hi! lighting has been updated to include: tensorboard visualization, multi-gpu training, multi-node training, thoroughly documented and updated clean syntax.

Would be auper helpful if you tried version 0.21 and provided feedback!

Thanks!

[2019-07-22 17:19] lkhphuc commented on #2
It looks super nice, I will try it on a kaggle competition and see how it goes.

[2019-07-22 20:27] williamFalcon commented on #2
@lkhphuc go for it! post how you do here!

[2019-07-22 20:27] #2 closed

[2019-07-22 20:27] #1 closed

[2019-07-23 14:18] lkhphuc opened #14 "Arbitrary lr_scheduler?"
Currently the only learning rate scheduler supported is MultiStepLR, specified through the params of `Trainer()` constructor.
What do you think about a more flexible approach for lr scheduler, maybe an optional user defined function in `Trainer()` similar to `configure_optimizer`?

[2019-07-23 14:27] williamFalcon commented on #14
yeah, that's a good approach.

Two options:
[code]

Or:

[code]

Option 2 is what you mentioned, and I think probably makes the most sense. It might be that you have multiple models you're running with the same trainer, and each model might use a different learning rate scheduler. Option 2 makes supporting this case easier (otherwise user has to decide which to use based on the model).

What do yo

[2019-07-23 15:11] lkhphuc commented on #14
Or:
[code]
Because each scheduler in pytorch take exactly one optimizer as an arguments, this would make sense to group their definition together.
If no scheduler is needed, the seconds list will be empty.

[2019-07-24 00:05] williamFalcon commented on #14
perfect. Mind putting in a PR with these changes? 🙃

[2019-07-24 00:06] williamFalcon commented on #14
also need to remove the lr scheduling options from the trainer and update the docs. I can help with any of these if you need

[2019-07-25 02:29] PeterouZh opened #19 "AttributeError: 'Experiment' object has no attribute 'get_meta_copy'"
https://github.com/williamFalcon/pytorch-lightning/blob/b8c7baa8acce9e363c33d2580eb1abcca322a211/pytorch_lightning/models/trainer.py#L419
I encountered this problem when I used ddp.

[2019-07-25 02:45] williamFalcon commented on #19
upgrade to the new version and try again?

[2019-07-25 13:37] williamFalcon commented on #19
does it work now?

[2019-07-25 13:57] williamFalcon commented on #19
closing for now. Please reopen if the problem persists!

[2019-07-25 13:57] #19 closed

[2019-07-28 13:58] williamFalcon commented on #14
Thanks for the feature! fixed a few things, all tests passed and merged!

[2019-07-28 13:58] #14 closed

[2019-07-29 06:18] shuxp opened #25 "how to setup slurm in a cluster"
This is a great repo of warper pytorch when using ddp, especially using slurm, which has little repos. I found slurm in mmdetection also.

In my group, we have 3 nodes, each of them has 4 GPUs.
I want to setup a slurm cluster to fully use these nodes. But little data can be found.
So could you please share some toturial of setup up slurm in a cluster? My nodes are all ubuntu 18.04 server.

[2019-07-29 13:49] williamFalcon commented on #25
Glad you found it useful! I'll put a SLURM tutorial together tomorrow.
In the meantime, check out the multi-node example:

https://github.com/williamFalcon/pytorch-lightning/blob/master/pytorch_lightning/examples/new_project_templates/multi_node_cluster_template.py

[2019-07-30 00:38] lkhphuc opened #26 "Cannot load saved model."
I cannot load model back after saved, using `load_from_metrics`:
[code]
Really don't know what went wrong.

[2019-07-30 00:43] williamFalcon commented on #26
can you put the code for your model here? and also the loading portion

[2019-07-30 00:44] williamFalcon commented on #26
make sure you’re also running the latest version.

hparams for instance no longer needs to be added to rhe superclass init.

look at the example on the core readme

[2019-07-30 00:49] williamFalcon commented on #26
[This test](https://github.com/williamFalcon/pytorch-lightning/blob/master/tests/test_models.py#L224) specifically tests to make sure models can be saved and loaded.

My hunch is that hparams in your model is causing an issue (doesn't conform with what's expected).

[2019-07-30 02:46] lkhphuc commented on #26
Thank, I will take a look. Does the fact that my model was saved on previous version and I'm trying to load it on this version, break the compatability?

[2019-07-30 03:04] lkhphuc commented on #26
Ok I updated my model template according to the latest version. Turned out there are some breaking changes in the init and dataloader too.
It's OK now. Thank for your help.

[2019-07-30 03:04] #26 closed

[2019-07-30 03:41] lkhphuc opened #27 "Streamlined UX in saving, loading, continue training."
Currently each time I ran the command with the same experiment name, a new version is created and trained from scratch.
If I wanted to load back the model to continue training, I have to create a different script, input the path for the previous checkpoints and meta_tags.

Proposal:
- Start training, input only 1 `log_path` and 1 `experiment_name`. Test_tube data and saved models will be included

[2019-07-30 11:39] williamFalcon commented on #27
Great suggestion. Let's address each point first.

1. Test-tube logs and weights can't be forced to be in the same path. A user might have a restriction to save weights and logs to different folder. This could be for disk space or for ease of SCP files.

2. With that said, continue training can still work. It's actually already supported but meant for cluster training only. However, I agree it's a

[2019-07-31 03:51] lkhphuc commented on #27
Great. I will start reading the hpc code as I didn't use DDP before and try making some changes.

[2019-07-31 06:09] shuxp commented on #25
Thanks. Looking forward to see SLURM tutorial.

[2019-07-31 11:09] williamFalcon commented on #27
ok, so, let’s do it where if the test tube version is the same then it continues training?

so, nothing of the external api needs to change, just internal + docs

[2019-08-03 12:13] williamFalcon commented on #27
@lkhphuc how's it going? Did you take a look at the hpc method signatures?

[2019-08-03 18:11] alex-obi opened #28 "No real time Experiment logging"
Currently I'm using your library in a simple setup

[code]

on Google Colab. The folder _default/version_0/tf/_ gets immediently created, but sadly the tf experiment logs are only saved, when the training finished or got aborted by me by KeyboardInterrupt. So I can't watch the training process in tensorboard. Do you have any suggestions what to change to recieve real time updates?

[2019-08-03 19:04] williamFalcon commented on #28
it’s probably finishing too quickly for logs to show up. remove max_nb_epochs or set to 50.

[2019-08-03 19:07] williamFalcon commented on #25
https://link.medium.com/Bs6NxJyjRY

[2019-08-03 19:21] williamFalcon commented on #28
Happy to reopen this issue if this doesn’t fix it. Enjoy the lightning!

[2019-08-03 19:21] #28 closed

[2019-08-03 19:23] williamFalcon opened #29 "Allow optimizers to alternate at arbitrary intervals"
For GANs or similar approaches, we may want optimizer A to step every batch while optimizer B might step every k batches.

This feature will enable this behavior.

Approach still needs to be scoped out. Open to suggestions here.

[2019-08-03 20:04] williamFalcon commented on #25
Closing this because the tutorial has been created :)

But, feel free to add a comment if the tutorial is missing something or needs clarification.

[2019-08-03 20:04] #25 closed

[2019-08-03 20:23] alex-obi commented on #28
On my local machine the same code updates the tensorboard file as expected every 100 samples.

Is it possible that there are any handles on the file that are open during training, but closed after? I remember a similar problem, where Google Colab Notebooks updated files only if all handles were closed.

[2019-08-03 20:34] williamFalcon commented on #28
yeah, i think PyTorch SummaryWriter keeps a file open for saving.

But i suspect the issue is with how Colab handles open files. PTL doesn’t keep any files open, it defaults to whatever the SummaryWriter behavior is.

Glad to hear it’s fine on your local though.

If you find out what the issue is on colab, def follow up here to see if there’s anything we can do on our end

https://pytorch.org/docs

[2019-08-04 00:29] shuxp commented on #25
In the blog, there is a comment:

```Disclaimer: This tutorial assumes your cluster is managed by SLURM.```

In fact, I have no idea about how to manage cluster using slurm...

When cluster is managed by slurm, I can try PTL in my cluster.

[2019-08-04 01:03] williamFalcon commented on #25
SLURM is installed by your cluster administrator. I guess here I’m using cluster to refer to an academic or corporate cluster.

If it’s literally your own cluster with your own machines then PTL may not support that case because it uses NCCL to communicate and a few flags SLURM sets.

But if it’s an academic or corporate cluster, it most likely has SLURM installed.

If you use srun or sbatch to ru

[2019-08-04 01:42] lkhphuc commented on #27
Sorry, I've been busy the last few days. I will spend some time on it in the next week.
Around the API for this change, I think:
- Everytime you run an experiment, the version of that experiment is bumped (current behavior).
- If additional argument `--load-model=best/latest`, the best/latest checkpoint from the *latest* version is loaded back.
- If additional arguments `--load-model=best/latest -

[2019-08-04 01:54] williamFalcon commented on #27
No worries. I think we're saying the same thing but in different ways haha.

I don't think we need to add any more arguments. The only change to the public API that needs to be made is to load the latest weights whenever the exp version is specified.

Case 1: No exp version given. Version is bumped (current behavior)

Case 2: Exp version is given. Then exp continues where it left off (this is alre

[2019-08-04 02:43] dguera opened #30 "AttributeError: 'TTNamespace' object has no attribute 'drop_prob'"
Got the following error while running the [Demo](https://github.com/williamFalcon/pytorch-lightning#demo) examples:

`python single_gpu_node_template.py --gpus "0,1,2,3"`

  File "single_gpu_node_template.py", line 112, in <module>
    main(hyperparams)
  File "single_gpu_node_template.py", line 33, in main
    model = LightningTemplateModel(hparams)
  File "/home/dgueraco/projects/pytorch-lightni

[2019-08-04 03:03] williamFalcon commented on #30
thanks for pointing out. Just pushed a fix. Try again

[2019-08-04 03:21] #30 closed

[2019-08-04 03:26] sidhanthholalkere commented on #29
First, when defining `validation_end`, instead of passing
`return [torch.optim.Adam(self.parameters(), lr=0.02)]`,
they could try
[code]
I'm sure that whoever wants to use this skipping feature would be comfortable adding a few lines
To accommodate for this, whenever `self.optimizers = model.configure_optimizers()` is called in `trainer.py`, you could just add the following:
[code]
Basically the f

[2019-08-04 18:54] williamFalcon opened #33 "Enable multiple dataset in validation_step"
Allow validation step to use multiple datasets.

Need to also decide how it will be called (especially to handle a case where the two datasets aren't the same length.

Option A:
[code]

Option B:
[code]

Option C:
(I think this is the only real generic way). The user would have to make sure datasets are the same length or be ok with iterating only as far as the shortest one.

[code]

@cinjon @ppww

[2019-08-04 18:55] williamFalcon opened #34 "Evaluate reduce removal from validation_step"
Possible that the reduce function after validation_step might make it hard to save outputs such as videos, audios, etc...

Need to evaluate whether it makes sense to remove.

[2019-08-04 18:57] williamFalcon commented on #33
Anyone interested in implementing this?

Will need to make sure it's supported with distributed wrappers. Specifically, the DistributedDataset wrapper.

[2019-08-04 19:10] williamFalcon commented on #29
good suggestion, but I wonder how adding properties to the optimizer might affect loading, saving and training continuation.

It seems a bit hacky, so let's think of other alternatives as well? If this turns out to be the best way, then we can go with it.

I was thinking about maybe just allowing the configure_optimizers method to return another list with config stuff:

`return [opt_a, opt_b], [sc

[2019-08-04 19:36] sidhanthholalkere commented on #33
Another option would be to just concat the datasets with `torch.utils.data.ConcatDataset`.
It's kind of a quick fix but then I'm pretty sure that then the existing DistributedDataset wrapper should handle it the same.

[2019-08-04 19:49] williamFalcon commented on #33
@sidhanthholalkere yeah, actually that might be a better option.
I like deferring this stuff to PyTorch.

So to use 2 datasets the user would ([according to this issue](https://discuss.pytorch.org/t/train-simultaneously-on-two-datasets/649/4)):

[code]

[2019-08-04 20:51] sidhanthholalkere commented on #33
My issue with that method is that some samples in the larger dataset will be left out. The only benefit would be that you get to validate a batch from both datasets at the same time, but in my experience, only the full validation loss(on whole validation set) matters(not per batch).
Now if the user wants separate losses for each set, i think the best option would be:
[code]
If they just want the v

[2019-08-04 21:51] alok opened #35 "How would you compare this to ignite?"
Is there a list of major differences up anywhere, to make it easier to pick between the various options?

[2019-08-04 22:08] Borda opened #36 "moving examples out of the package"
Hello, nice peace of work. I was wondering if it would be easier to have examples out of the package (more intuitive to finds and keep the package simple) as well as all tests?
(e.g. `pytorch-lightning/pytorch_lightning/testing_models/lm_test_module.py`)

[2019-08-04 23:13] alok opened #37 "Consider: ability to set seed"
I dunno if this is in scope (feel free to close if not), but when experimenting, setting a fixed seed is handy since you can remove one source of randomness (Karpathy's [recipe](https://karpathy.github.io/2019/04/25/recipe/) even includes it as an important beginning step).

Basically, being able to set the seeds for the `random`, `numpy`, `torch`, and other common modules in the config would be h

[2019-08-05 02:25] williamFalcon commented on #37
setting the seed inside lightning seems like it hides too much according to ppl I’ve discussed with. i don’t want to have people wondering if lightning is doing anything with seeds

[2019-08-05 02:26] #37 closed

[2019-08-05 02:27] williamFalcon commented on #35
not yet. working on those. however, the graphic in the README should make this very clear.

[2019-08-05 02:28] williamFalcon commented on #36
yeah, the problem was that there were issues with the test models being outside of the package.

But if you want to make the change, feel free to submit a PR.

Tests will also need to be update

[2019-08-05 04:01] williamFalcon commented on #33
that looks great. Want to give it a shot and submit a PR?

[2019-08-05 05:18] Borda commented on #35
Hello, thank you such explanation, maybe you may consider a table with features in rows and framework in columns and check-list if the framework has it or not...
Btw, I was a bit puzzled by the very detail granulity of your releases, don't you think that the 4th is too much? I would have rather higher number on the 3rd place and also I would say that each commit does not have to be separate releas

[2019-08-05 09:27] heytitle opened #40 "Typo in module's overview"
Hi,

Thanks for developing this module.
There is a small typo in the Lighting module's overview.

![overview_flat](https://user-images.githubusercontent.com/1214890/62454091-dc94d280-b79d-11e9-95ce-e9a6d2c0ba48.jpg)

[2019-08-05 11:35] williamFalcon commented on #35
Yeah, that was the development stage. We were getting key features in-place. It’s stable now, we’ll batch more features and do bigger releases.

Wanted to get rid of the major issues to have good first adoption

[2019-08-05 12:01] Borda commented on #35
I think that you can drop the sub-minor releases and keep only the minor... :)

[2019-08-05 12:57] shuxp commented on #25
Yes, now I want to try slurm by myself...

[2019-08-05 17:01] sameerIISc opened #41 "Unable to import trainer"
Hey, I am able to import pytorch_lightning but not the trainer. I am new to python and have no idea how to deal with it. It throws following error:

  File "<stdin>", line 1, in <module>
ImportError: cannot import name Trainer

Thanks

[2019-08-05 17:23] williamFalcon commented on #41
post code here

[2019-08-05 17:47] #41 closed

[2019-08-05 17:52] sameerIISc commented on #41
From command line itself it is not able to import.  Importing pytorch_lightning is working though.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: cannot import name Trainer

[2019-08-05 17:57] williamFalcon commented on #41
[code]

Seems strange. I just tried, it works. Tests also work...

Maybe it's your install?

What does your conda env look like? Are you also using the latest lightning version?

[2019-08-05 18:17] #36 closed

[2019-08-05 18:18] williamFalcon commented on #36
Awesome PR, thanks for submitting! Interested in looking at any of the other issues we need help with?

[2019-08-05 18:20] Borda commented on #36
I was thinking about some workaround automatic testing, formation and coverage...
I will prepare another PR :)

[2019-08-05 18:24] williamFalcon commented on #40
good catch. will update today!

thanks!

[2019-08-05 18:32] sameerIISc commented on #41
Even after re-installation, same problem persists.

[code]

[2019-08-05 18:40] williamFalcon commented on #41
oh yeah, use python 3+. Recommended 3.7

[2019-08-05 18:46] sameerIISc commented on #41
Ok, I will try it. Thanks a lot.

[2019-08-05 18:52] williamFalcon commented on #36
amazing! That would be great. Right now a big issue is having to manually run the GPU tests for free.

I'll create an issue to track these changes there

[2019-08-05 18:53] williamFalcon opened #43 "Automatic testing, formation and coverage refactoring"
Discussion on suggested changes to testing/formation/coverage by @Borda

[2019-08-05 20:40] vfdev-5 commented on #35
@williamFalcon I would be also curious to compare both libraries and understand the idea behind the creation of `pytorch-lightning` as an alternative to existing frameworks.

[2019-08-05 23:08] Borda commented on #43
@williamFalcon I have extended the CI so it runs overall package with `py.test` and checks basic PEP8 with `flake8`. Moreover, there are real badges, not fake ones like codecov and I have added CodeFactor.io which may help improve the code quality by suggestions in general and also in the time of PR... You may have look at updated sample project - https://github.com/Borda/py_sample-project

[2019-08-05 23:27] williamFalcon commented on #35
@vfdev-5 @Borda
https://medium.com/@_willfalcon/pytorch-lightning-vs-pytorch-ignite-vs-fast-ai-61dc7480ad8a

(@vfdev-5 if i missed anything about ignite, lmk, happy to edit!)

[2019-08-05 23:27] #35 closed

[2019-08-06 02:10] sidhanthholalkere commented on #33
I've started implementing this locally. I originally started by having `validate()` take in  `dataset_index` so `validation_step()` could have access to `dataset_index` so the user can name the outputs accordingly, ie:
`return {'val_loss_{}'.format(dataset_index}: whatever}`
Looking back, it feels like this adds unnecessary complexity because the user has to decide what to do with dataset index.

[2019-08-06 02:17] williamFalcon commented on #33
Interesting suggestion but I like the version with the dataset index, just pass it after batch_nb. This way it’s intuitive, users don’t have to read docs, and it remains fully flexible.

so the gist is:
for dataset in val_datasets:
   for batch in dataset:
    out = model.validation_step(batch, batch_nb, dataset_i)

It’s also backwards compatible and what a researcher would do if they had to imple

[2019-08-06 06:34] bighuang624 opened #45 "How to set hyperparameters search range and run the search?"
Thanks for your powerful project and it's really helpful. I 'd like to try it for my current research if everything goes well.

My problem is, how to set hyperparameters search range and run the search? I 've read the chapters '[CPU hyperparameter search](https://williamfalcon.github.io/pytorch-lightning/examples/Examples/#cpu-hyperparameter-search)' and '[Running grid search on a cluster](https:/

[2019-08-06 07:54] alok opened #46 "Nitpick: `ptl` may be better as `pl`"
(Feel free to ignore.)

All the usage examples do `import pytorch_lighting as ptl`. Instead of `ptl`, `pl` may  be better as it doesn't clash with any library I know of, is 2 characters like NumPy's `np`, and is harder to mistype as `plt`, which many researchers probably also have imported. Since the library is in its early days, I don't think it would be that dramatic a change and is a little eas

[2019-08-06 08:04] bighuang624 commented on #45
Sorry that I found myself modifying the wrong LightningTemplateModel, and now it is ok for hyperparameters search with my solution. Maybe you can add some explanations in the document to make it more clear. Thanks for your work and sorry again for disturbing.

[2019-08-06 08:05] #45 closed

[2019-08-06 08:05] vfdev-5 commented on #35
@williamFalcon interesting article and I agree that in all the cases user needs to learn the API of the library. Features provided by your package are interesting and some of them are also indirectly supported by Ignite without imposing the package. For example, if user would like to use horovod with pytorch and fp16 instead of nvidia/apex, he could code it and insert into the libraries frame.
Sim

[2019-08-06 11:55] Borda commented on #35
I would also tend to use `mlflow` or `polyaxon` intead `test-tube` since they seem to have much wider/larger support... :)

[2019-08-06 15:05] williamFalcon commented on #46
Good point. I forgot about matplotlib (plt) lol. I would for sure mess that up.

Do you want to submit a PR changing docs and examples from ptl to pl?

[2019-08-06 15:06] williamFalcon commented on #43
Adding here again for clarity:

The code coverage badge was generated by doing this:
https://github.com/williamFalcon/pytorch-lightning/tree/master/tests#running-coverage

[2019-08-06 15:08] williamFalcon commented on #40
actually, i think I can live with the typo haha.
#pickYourBattles

But nevertheless, thanks for the catch!

If you want to look through docs or README for typos that would be super helpful! Then submit a PR with the fixes
:)

[2019-08-06 15:20] williamFalcon opened #47 "Enable any ML experiment tracking framework"
People seem to have strong preferences for either using MLFlow, test-tube, polyaxon, etc...

Let's just add generic support for whatever people want to use.  I don't know if generic support is possible, but each can easily be supported individually.

To make this work we'd need to:
- change the logging to be non test-tube specific. Logging only happens in 2 places (train and validation completion)

[2019-08-06 15:21] williamFalcon commented on #35
Makes sense. In keeping with allowing as much flexibility as possible for researchers, let's add support for any logger they want to use.

See #47

[2019-08-06 15:23] williamFalcon commented on #35
On a side-note, @vfdev-5 any interest in just merging ignite with Lightning? You guys could bring in some of the things you've been working on into Lightning.

That way we can all focus on fixing the reproducibility issue.

[2019-08-06 15:25] williamFalcon commented on #40
If you are interested @heytitle, feel free to open up another issue and submit a PR!

[2019-08-06 15:25] #40 closed

[2019-08-06 15:32] heytitle commented on #40
haha,

You're welcome. Due to the fact that Hacktoberfest is coming, maybe you could label this issue with `hacktoberfest` or some something relevant.

[2019-08-06 15:38] williamFalcon commented on #47
I also wonder if SlurmManager should just be brought into lightning. Thoughts?

[2019-08-06 15:44] Borda commented on #47
So far I see, all used methods are following
`from test_tube import HyperOptArgumentParser, Experiment, SlurmCluster`
I would remove the `test_tube` dependence from `pytorch_lightning/testing/lm_test_module.py` so the `pytorch_lightning` package will be independent on these additional frameworks and then I would even keep this `test_tube` for testing/examples...

[2019-08-06 15:51] williamFalcon commented on #47
There are also these lines (which need to be generic for each logger (but seems hard seeing they all have a different interface). So, maybe have a function that calls the appropriate thing.

[here](https://github.com/williamFalcon/pytorch-lightning/blob/master/pytorch_lightning/models/trainer.py#L703-L704), [here](https://github.com/williamFalcon/pytorch-lightning/blob/master/pytorch_lightning/mod

[2019-08-06 15:51] williamFalcon commented on #47
HyperargumentParser is a subclass of Argparse. It's the same thing except it adds more features for hyperparameter optimization.

[2019-08-06 15:54] williamFalcon commented on #47
Most people also use ArgumentParser to pass in args to their models. Thus, this is the standard way of doing it in lightning. Remove the choices for things that should be standard.

A core idea that I like about Lightning is that it removes the unnecessary choices you might need to make. So it's highly opinionated about standard practices. (ie: to log we all do this, to viz we all do this, to grid

[2019-08-06 15:58] vfdev-5 commented on #35
@williamFalcon I would prefer to speak about merging lighting in Ignite as the latter is older and used by at least 105 projects according to github (e.g https://medium.com/huggingface/how-to-build-a-state-of-the-art-conversational-ai-with-transfer-learning-2d818ac26313).

If you are interested, we can discuss about this in pytorch slack in pytorch-ignite channel in details.

[2019-08-06 16:01] Borda commented on #47
sure, I was thinking about having it really lightweight so even drop or move the arg parser class to this framework... about the logging, what about have one more parameter like `log_callback` which will be used if it is specified... and then in examples you just keep your proposal with using test-tube, but if someone come and want to use anything else, he just change the callback function... I th

[2019-08-06 18:14] williamFalcon commented on #47
Good suggestion, however I think that's just adding another thing for the user to remember. I'd rather them just plug in the logger and it work.

So, in the meantime, why don't we just internally call the correct function depending on the logger?

something like:

[code]

And replace the lines of
[code]

[2019-08-06 18:51] williamFalcon commented on #35
Then i think we can keep two separate offerings for researchers :)

[2019-08-06 19:00] karanchahal commented on #47
Id like to pick one of the frameworks up, MLflow of it's isn't already taken. I'll look at it tomorrow morning and try to figure out how it can be integrated. I'm a bit confused though, can't tensorboard be used to track experiments and different model runs?

Also, could lighting add a feature for quantisation or pruning ?

Maybe expose an API so that people can try out different quantisation and

[2019-08-06 19:31] williamFalcon commented on #47
@karanchahal I agree with you... most people I know use tensorboard, but happy to allow this to be flexible. There's no real need to force an opinion on this particular thing from the framework.

I think @Borda is probably going to look at it (but we can defonflict here if you want to look at it).

However, a way of doing network pruning and quantisation would be good. I don't know those in detail

[2019-08-06 20:48] Borda commented on #47
I would keep #44 simple just adding CI, so I would leave the resolving test-tube to another PR/user :smile:

[2019-08-06 21:52] williamFalcon opened #49 "Add Gradient Checkpointing"
Super useful to minimize RAM (trade-off speed).

Anyone interested in implementing?
([Instructions are here](https://github.com/prigoyal/pytorch_memonger/blob/master/tutorial/Checkpointing_for_PyTorch_models.ipynb)).

Probably needs to be generalized though.

[2019-08-06 22:39] williamFalcon opened #50 "self-balancing architecture"
This is a really awesome feature we're looking to add. Super hard problem also if any ninjas want to try to tackle it :)  (you'll be legendary haha).

Problem:
Some models are too big to fit in memory. Thus can't do any distributed training currently available (even in PyTorch).

But... we can break up the model and put parts on each GPU. The trick though is to do it automatically, because manuall

[2019-08-07 01:27] williamFalcon commented on #47
@karanchahal feel free to give this a shot!

[2019-08-07 04:32] sidhanthholalkere commented on #33
I've added support for multiple val_dataloaders on my fork.
Is there a specific way you want me to write tests?
Also, unfortunately I won't be able to run most of the other tests locally as I don't have a multiple gpu machine/apex working for now.

[2019-08-07 04:40] sidhanthholalkere opened #51 "Typo: says seq-2seq in README"
Section heading says seq-2-seq while comment in code says seq-2seq.

[2019-08-07 04:44] sidhanthholalkere commented on #50
Could use something similar to [this](https://github.com/jacobkimmel/pytorch_modelsize) to approximate mem usage per layer/module and then balance accordingly.

[2019-08-07 08:03] tmquan opened #54 "Image logging to tensorboard"
Hi @williamFalcon ,

Thanks for your nice work.
I am just wondering is it possible to log the image tensor to tensorboard to train such a U-net?

Bests,

[2019-08-07 09:49] williamFalcon commented on #33
awesome contribution!

for tests, can you add multiple val dataloaders to exampleModel used in tests?  then modify what’s returned to be a accuracy and val loss indexed by the dataset.

add a separate test to trainer where it inits dataloaders, then check that the loaders are correct (we don’t have such test yet).

make sure to also check that all val dataloaders are being wrapped in distributed d

[2019-08-07 09:54] williamFalcon commented on #54
yup!

in the lightningModule you can call self.experiment. that’s a summarywriter for tensorboard. for the api of that refer to pytorch summarywriter.

https://pytorch.org/docs/stable/tensorboard

it’s all explained here:  https://williamfalcon.github.io/pytorch-lightning/Trainer/Logging/#tensorboard-support

realized self.experiment from docs. adding now!

[2019-08-07 09:54] #54 closed

[2019-08-07 09:54] williamFalcon commented on #51
good catch!

feel free to fix and submit a PR!

[2019-08-07 09:58] williamFalcon commented on #50
that’s helpful. You also beed to account for the size of the inout and output including taking batch size into account. sometimes the problem is that the layer output blows up the ram. so we’d need to probably try catch a few passes through each block and calculate its full memory requirement.

the memory requirement is weights + input + output. and gpu 0 has added overhead of optimizer which in c

[2019-08-07 11:50] egonuel opened #56 "pip installation using github repository incomplete"
I tried to install pytorch-lightning using pip and the github repository.
Importing the module results in the following errors:

`
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-4-942bf9f93773> in <module>
      8 from torchvision import ops
      9
---> 10 import pytorch_lightning as ptl
     11 from pytorch_lightning import Trainer
     12 from test_tu

[2019-08-07 11:58] lorenzoFabbri opened #57 "Training accuracy"
I was wondering whether there is something like `validation_end` but for training (e.g., `training_end`). I want to compute the training accuracy at the end of each epoch. Thanks!

[2019-08-07 12:11] williamFalcon commented on #57
you can use hooks
(on_epoch_end)

https://williamfalcon.github.io/pytorch-lightning/Trainer/hooks/

there's a typo in that doc... but you're looking for on_epoch_end

[2019-08-07 12:11] #57 closed

[2019-08-07 12:17] williamFalcon commented on #56
Pip install by itself should be fine.

If you're trying to clone and run master, something might have broken with relative imports
@Borda

Make sure you're using python 3.6 as well

[2019-08-07 12:20] williamFalcon commented on #56
@Borda looks like pep8 recommends absolute imports as well. let's just go back to those, i remember now why i got rid of relative imports a long time ago. Causes all sorts of headaches and it's not clear where things are coming from.

[2019-08-07 12:21] williamFalcon opened #58 "revert to absolute imports"
recent relative imports are causing issues. in addition, pep8 recommends absolute imports for clarity as well.

let's go back to absolute imports

[2019-08-07 12:29] lorenzoFabbri commented on #57
Thanks but I'm having some difficulties.
If I save the accuracy from each training step, how can I compute the average accuracy? `on_epoch_end ` does not take anything as input, so I cannot write something similar to `validation_end`. Thanks.

[2019-08-07 12:39] Borda commented on #56
there was an error in the `Trainer` since the subpackage was missing `__init__`
it was fixed in #44 eacd93e2f05066c5ff7a89709ab9ec51bafbc607

[2019-08-07 13:02] #27 closed

[2019-08-07 13:06] williamFalcon commented on #56
ok awesome. should be on master now

[2019-08-07 13:07] williamFalcon commented on #58
never mind for now as long as we don't have major issues

[2019-08-07 13:08] williamFalcon opened #59 "codecov not updating"
Awesome improvements to coverage and tests! thanks @Borda

Wondering what has to be done to update the badge now. I pushed a report from GPU coverage but no updates.

@Borda

[2019-08-07 13:09] #46 closed

[2019-08-07 13:12] Borda commented on #56
@egonuel pls could you check it now...

[2019-08-07 13:14] Borda commented on #59
Pls have look at the parameters `codecov --help` I guess that you need to specify the commit or something like this... unfortunately I was using automatic mode for most of my project so this is a bit new for me... Also, we can ask Codecov support for advice...

[2019-08-07 13:15] egonuel commented on #56
@Borda I just checked it and now I'm getting this error (numpy is installed):

Collecting git+https://github.com/williamFalcon/pytorch-lightning.git@master
  Cloning https://github.com/williamFalcon/pytorch-lightning.git (to revision master) to /tmp/pip-req-build-42ipxsly
  Running command git clone -q https://github.com/williamFalcon/pytorch-lightning.git /tmp/pip-req-build-42ipxsly
  Installing

[2019-08-07 13:20] Borda commented on #56
it seems that `numpy` is missing in the setup, see following fix req. in setup #60

[2019-08-07 13:32] williamFalcon commented on #59
ok. in the meantime let’s roll back to the original badge. this is critical during the early adoption period.

once the auto thing is figured out we can roll back

[2019-08-07 13:43] williamFalcon commented on #59
i’ll try one more time from master. maybe i have to run codecov on master and push directly. if that fails, we use the old static badge.

[2019-08-07 13:44] egonuel opened #61 "DDP support on Jupyter Notebook"
I'm trying to get ddp, fp16 etc running, however just setting the gpus and the `distributed_backend='ddp'` lets the CoolModel demo crash on my machine. I'm running it from a jupyter notebook with python 3.6 on a Ubuntu 18.04 machine with 2xV100.
The errors directly in the notebook are:

<ipython-input-8-3a22b74b1d8d> in <module>
     69
     70 # train (1 epoch only here for demo)
---> 71 trainer.

[2019-08-07 13:56] williamFalcon commented on #61
sorry, i think this was caused by adding relative imports and i think u might run into issues for the next few hours.

i’m going to change back all those imports to be absolute which will fix these issues.

[2019-08-07 14:02] egonuel commented on #61
I forgot to mention that I'm trying this on the latest release installed using pip, not the one I github one I used in my other issue.

[2019-08-07 14:29] williamFalcon commented on #61
can you post the code? seems strange

[2019-08-07 15:03] #58 closed

[2019-08-07 15:04] williamFalcon commented on #59
rolled back the badge until the other one works.

I don't want to add unnecessary friction or mistrust at this stage in the project. If the other badge works, then great. Otherwise we'll keep doing it manually.

[2019-08-07 15:04] #59 closed

[2019-08-07 15:41] Borda commented on #59
Then I would move the badge image to the docs folder...

[2019-08-07 16:25] williamFalcon opened #65 "codecov doesn't respect ignore"
need to add some ignore files to codecov... but it seems to not care about the ignore part:

[code]

@Borda

[2019-08-07 16:26] egonuel commented on #61
okay it appears that this has to do with the fact that the CoolModel() is defined in the jupyter notebook. I now put it into a .py file (and added a distributed sampler) and the error is gone. This seems to have something to do with the spawning and pickle. This is a bit of limitation while working with notebooks...

However I now run into other issues:
I create the trainer like this `trainer = Tr

[2019-08-07 16:29] williamFalcon commented on #61
@egonuel can you post the full code? I definetely use this on notebooks with v100s without issues. need to see what you're doing.

[2019-08-07 16:31] williamFalcon commented on #61
btw... lightning doesn't allow DDP for single GPUs. you have to use 2 because the connection is unstable otherwise. Just put 2 gpus on the notebook.

[2019-08-07 16:37] williamFalcon commented on #65
@Borda ok. Unfortunately i'm on a really tight research agenda. I took a lot of time already to make sure the coverage was solid and up to 99%. I don't have time to figure out this codecov thing and it's a bit of engineering overhead right now which is detracting from research.

If this method doesn't work today, we'll roll back to standard coverage and the config file for that. But I don't want t

[2019-08-07 16:40] egonuel commented on #61
@williamFalcon my model in coolmodel.py looks like this:
[code]

and the code in my notebook like this:
[code]

I play with turning `distributed_backend` on and off, one or two gpus and fp16.

[2019-08-07 16:47] williamFalcon commented on #61
ok, and it this doesn't work?
what doesn't work?
does it train?

is it only the logging that isn't showing up? (tensorboard has issues with jupyter notebook).
Check #28

[2019-08-07 16:53] williamFalcon commented on #61
what happens if you do exp.close()?

[2019-08-07 16:57] egonuel commented on #61
it does not create meta_tags.csv and metrics.csv once I turn on ddp

[2019-08-07 16:58] williamFalcon commented on #61
ummm.. yeah not sure, will have to look at it. I'll run an example in a bit.

what about no 16 bit and DP?

[2019-08-07 17:00] egonuel commented on #61
this was with no 16 bit.
If I use DP it creates the files and tensorboard displays their data.

[2019-08-07 17:02] williamFalcon commented on #61
ok, so it works fine in that case.

yeah, i'm not sure about DDP on notebooks. DDP does a lot of stuff behind the scenes that needs a closer look.

specifically it spawns multiple processes but I don't know what the issues are with the notebook which might be on a different process

i'm not convinced DDP is made to be run on notebooks. I would debug/etc using DP on a single GPU and run actual .py

[2019-08-07 17:06] williamFalcon commented on #65
@Borda ok, it's stable now and the correct coverage shows (through the .svg badge). if you get the command-line submit working to codecov then great, we can use it as long as it's accurate.

otherwise, let's stick to the badge for now and move on to other cool features that would be great to have

[2019-08-07 17:06] #65 closed

[2019-08-07 17:11] williamFalcon commented on #61
@egonuel assuming this is a non-trivial thing to support, I've changed this issue to reflect a feature request which is DDP support on jupyter-notebook.

However, don't know the PyTorch limitations on this, but will look at it some time this week.
In the meantime, i'd suggest the flow I mentioned:
1. debug using DP
2. Use DDP on a .py file.

Although... you did mention it trained fine using ddp? i

[2019-08-07 17:12] Borda commented on #65
Ignore files should be specified in codecove run not in the codecov config

[2019-08-07 17:20] egonuel commented on #61
well it trained and the progress bar showed a reducing loss. Right now I don't have any facilities ready to get more insights. As you say, the logging to the tensorboard files is not working and the progress bar is not in the notebook.
As a side note: I'm using fast.ai until now and it took me quite some time to customize it to let me do what I have to do. I like the idea of having a more flexible

[2019-08-07 17:24] williamFalcon commented on #65
agreed. moved and updated

[2019-08-07 17:25] egonuel commented on #61
there is a [fast.ai document](https://github.com/fastai/fastai/blob/master/docs/distributed.md), where they state that distributed training does not work in notebooks and it appears that they use DDP as well.
What's nice about fast.ai is that their fp16 support works without DDP. For apex this probably related to the issue you mention in your code.

[2019-08-07 17:30] williamFalcon commented on #61
yeah... i mean,  16 bit with a single GPU on lightning is easy to support. so, i'll make that change now, but DP + 16-bit is not up to us. Maybe fast.ai is using an older version of PyTorch where that makes sense.

[2019-08-07 17:33] egonuel commented on #61
Okay, nice! I have just this one machine with the two V100 and hence many times it is useful for me to run different things on both of them, but still use fp16 to decrease the running time...

[2019-08-07 18:01] williamFalcon commented on #61
@egonuel see #66 it's going through the test process now but it's supported there. give it an hour or so and it'll be on master

[2019-08-07 18:02] williamFalcon commented on #61
@egonuel once you get it working would be great if you could tweet a screenshot! @me and PytrochLightnin...  :)

[2019-08-07 18:20] #61 closed

[2019-08-07 18:24] #51 closed

[2019-08-07 18:27] williamFalcon commented on #61
@egonuel merged to master! let me know how it works.

[2019-08-07 20:36] williamFalcon commented on #56
Fixed with the patch from #60 on #67

[2019-08-07 21:10] #43 closed

[2019-08-08 02:00] vincentzlt opened #70 "change Checkpoint callback's `save_best_only` to `save_top_k`"
**Is your feature request related to a problem? Please describe.**
`save_best_only` is a special case of `save_top_k`. However, `save_tok_k` checkpoints can be used to create ensemble model during the test time.

**Describe the solution you'd like**
keep a dict of `{epoch: monitor}` of length `k`, and save new ckeckpoint that can enter this dict, remove the worst checkpoint.

[2019-08-08 06:56] egonuel commented on #56
I just tried to get the latest master using pip, and I still get the same error as posted above...

[2019-08-08 07:30] egonuel commented on #56
I googled arround a bit and this has something to do with the pip version. I had installed pip 19.2.1. After downgrading to 18.0 the installations works. For reference see here https://github.com/earthlab/earthpy/issues/206
Does this work for you with a newer than 18.0 version?

[2019-08-08 07:35] Borda commented on #56
@williamFalcon there are two possible solutions, fix `__init__.py` or `setup.py`
* fixing `__init__.py` by wrapping import to `try`
[code]
* fixing `setup.py` remove loading `pytorch_lightning` at the beginning...

see the fix in #71, you may try it as
`pip install git+https://github.com/Borda/pytorch-lightning.git@fix-setup`

[2019-08-08 07:41] Borda commented on #56
unfortunately, the #68 was merged in really fast fashion without complete testing...
we may consider modifying CI such way that it will test installation to blank environment

[2019-08-08 07:47] egonuel commented on #56
@Borda thanks, this runs through and installs without errors.
I don't think I can reopen this issue as it was closed by @williamFalcon

[2019-08-08 07:57] williamFalcon commented on #56
@egonuel  sorry you’re still having install issues!

@Borda thanks for taking a look. I’m not sure whether something was introduced that broke it, haven’t had any pip install issues.

a few things:
1. try catch seems hacky to me. let’s do the setup fix?
2. not sure it matters but we don’t explicitly support venv, people should just be using conda here.
3. is the only fix for setup making a relativ

[2019-08-08 08:01] williamFalcon commented on #56
i run branches on my gpu machine before merging if tests pass there then i merge since those are more thorough. in some cases it may look like CI didn’t finish bc the local gpu run finishes first, which is when i merge

[2019-08-08 08:05] Borda commented on #56
https://github.com/williamFalcon/pytorch-lightning/issues/56#issuecomment-519413104 sure but before you test the setup, you install or you already gad installed the requirements so all needed libraries were there... which is another story from installing to blank env

[2019-08-08 08:10] Borda commented on #56
up to you, if you chose fix setup you need to keep in mind that the version is at two places (setup and init)

for conda it should be fine since at already comes with preinstalled most libraries

relative/absolute import does not change anything in this context

not necessary, it just changes order, you try to install which install also all requirement and later when you ask for requirements insta

[2019-08-08 08:11] egonuel opened #72 "Trainer.fit() crashes if no checkpoint callback is provided"
I hope it's okay that I keep posting issues...
Now that I can circumvent the github installation issues, I pulled in the latests master and let my simple CoolModel demo code run. But now calling trainer.fit() crashes with:

<ipython-input-3-4ff64ec6323b> in <module>
     21                  )
     22
---> 23 trainer.fit(model)
     24 # exp.close()

    494                 self.optimizers, self.lr

[2019-08-08 08:32] egonuel commented on #72
now I added a ModelCheckpoint callback to test it and it still crashes, as the callbacks filepath does not exist when running for the first time

[2019-08-08 09:03] williamFalcon commented on #72
good catch... definetely a bug from the thing i pushed yesterday.

there is no test for that particular case either haha. good catch!

[2019-08-08 09:18] williamFalcon commented on #56
@egonuel try again?

[2019-08-08 09:27] williamFalcon commented on #70
@vincentzlt good suggestion. I like the change.

Any takers? @vincentzlt interested in building this?

[2019-08-08 09:28] egonuel commented on #56
@williamFalcon it works now, nice! Thanks a lot!

[2019-08-08 09:28] #56 closed

[2019-08-08 10:00] #72 closed

[2019-08-08 10:00] williamFalcon commented on #72
@egonuel try again. fixed

[2019-08-08 10:11] williamFalcon opened #75 "0.4.0 release - final checks (releasing later today)"
Want to release the last 2 core required feats we were missing
1. continue training (and session) from checkpoint (added).
2. 16-bit with single GPU and no DP or DDP (added).

any other stability things to consider before releasing? (3.7)

[2019-08-08 10:28] karanchahal opened #76 "Quantisation and Pruning Support"
**Is your feature request related to a problem? Please describe.**
Nowadays, there is a need to take the floating point models that have been trained and deploy them to edge devices. One way that is popular is to quantise the weights and activation os a neural network to a lower bit width (eg: 8 bits or even 4 bits). The benefits of this are 2 fold:

1. Some accelerators perform computation at low

[2019-08-08 14:07] rallesiardo commented on #75
Hello William,

I tried pytorch-lightning today and I noticed some errors (documentation outdated maybe)

First, the experiment seems to be required now. Some exemples still show it as optionnel.
[code]

Second, It looks like there is some issues with the Experiment object

[code]
My versions are:
test-tube==0.6.7.6
pytorch-lightning==0.3.6.9

If there some problem on my side? Maybe you prefer if

[2019-08-08 14:15] williamFalcon commented on #75
Experiment(save_dir=os.getcwd())

[2019-08-08 14:16] williamFalcon commented on #75
Experiment is required. it's just redundant to add it to every example in the documentation. it obscures the specific flag we're discussing in that documentation item

[2019-08-08 14:17] williamFalcon commented on #75
See the readme for a full working example:
https://github.com/williamFalcon/pytorch-lightning#how-do-i-do-use-it

[2019-08-08 14:20] egonuel commented on #72
@williamFalcon this also works now, thank you!

[2019-08-08 14:20] williamFalcon commented on #75
but yeah, maybe the experiment argument can be optional

[2019-08-08 14:23] rallesiardo commented on #75
Thank for your answer.

It's indeed the code that I tested, I just forgot to add the 'save_dir=' in the test I copy/pasted here as it was ommited in the test-tube documentation : `exp = Experiment('/some/path')
` here https://github.com/williamFalcon/test-tube.

With the correction, the error stays the same.
[code]

[2019-08-08 14:32] williamFalcon commented on #75
that’s weird. can u try on a conda env? maybe it’s somethinng with virtualenv

[2019-08-08 14:40] egonuel commented on #61
@williamFalcon it works now :) Did you mean I should put that screenshot on twitter?
Regarding putting the model into a py file: It's not neccessary if one does not use DDP. Only with DDP it has to be done as the multiprocessing uses pickle to distribute it. At least as far as I understand.
There is a module called dill which replaces pickle and is supposed to be able to work with notebooks etc, h

[2019-08-08 14:45] Borda commented on #43
CircleCI does not offer any GPU plans for free. If you're interested in upgrading to a paid performance plan you can review the attached document... [Performance Plan - Pricing Infosheet Q1_19.pdf](https://github.com/williamFalcon/pytorch-lightning/files/3482293/Performance.Plan.-.Pricing.Infosheet.Q1_19.pdf)

This is the official reply from CircleCI, @williamFalcon have a look

[2019-08-08 14:48] williamFalcon commented on #43
thanks for doing research on this. will stick to free for now ;)

[2019-08-08 15:40] rallesiardo commented on #75
It works with conda. There is definitively something with virtualenv.

Thank you for your support!

[2019-08-08 16:06] #34 closed

[2019-08-08 16:40] williamFalcon commented on #75
released with new core features.
Next release will be a while while we add more advanced features.

[2019-08-08 16:40] #75 closed

[2019-08-08 16:44] illcat commented on #25
I feel SLURM is not convenient for Horovod.

[2019-08-08 17:11] williamFalcon opened #79 "Update Lightning compatibility with PyTorch 1.2.0"
**Is your feature request related to a problem? Please describe.**
PyTorch 1.2.0 has breaking changes for the experiment object.
Likely underlying changes to SummaryWriter.

For now, Lightning requires pytorch 1.1.0 but need to update compatibility.

[2019-08-08 17:18] williamFalcon commented on #79
@Borda apparently 1.2.0 came out a few hours ago which is breaking the summaryWriter... fixed the pytorch version for now to 1.1.0 unitl i sort that out

[2019-08-08 17:20] cwerner commented on #79
Hm, I just downgraded torch to 1.1 but I still have problems with Experiment. I'm not getting any output for TensorBoard. Are there some more examples I could look at?

[2019-08-08 17:20] williamFalcon commented on #75
@rallesiardo good to hear. although actually i think the issue is that pytorch 1.2.0 just released causes issue with summarywriter in test-tube. that'll be fixed soon. in the meantime though we'll keep support for pt 1.1.0

[2019-08-08 17:22] williamFalcon commented on #79
you’re probably on a jupyter notebook. tensorbord and jupyter have issues

[2019-08-08 17:23] cwerner commented on #79
I am indeed. Bummer... So no jupyterlab + TensorBoard for now?

[2019-08-08 18:24] #79 closed

[2019-08-08 18:25] williamFalcon commented on #79
@cwerner yeah, maybe in this new version PT just released. update to 1.2.0 and lighting 0.4.2 to see what happens. they changed summaryWriter quite a bit

[2019-08-08 18:26] cwerner commented on #79
Cool. Will do. Thanks 🙏

[2019-08-08 19:21] Borda commented on #79
Sorry, I don't have connection now..

[2019-08-08 21:30] neggert opened #81 "Relax requirement for DistributedSampler with ddp"
**Is your feature request related to a problem? Please describe.**
I have an application where I'm using a custom `BatchSampler` to construct batches for the N-Pairs metric learning loss. I need all of the data to be available on all processes when using `DistributedDataParallel`, so I wouldn't want to use `DistributedSampler`, even if it was compatible with a custom `BatchSampler`. Right now, I'v

[2019-08-08 22:12] tc-wolf opened #82 "Is it possible to make `validation_step` and `val_dataloader` no-ops?"
**Is your feature request related to a problem? Please describe.**
Sometimes I don't have a separate validation split, only a train/test split.  I'm trying out pytorch-lightning to prototype / experiment, and trying to see what the best of way of doing this is.

I could make the train dataset and then do `torch.utils.data.random_split` or use `torch.utils.data.SubsetRandomSampler` to build a valid

[2019-08-09 00:51] williamFalcon commented on #82
great idea. val call can just be made optional! very easy to do.

do you want to give it a shot?

1. remove notimplemented warning. add pass instead.
2. allow get val_dataloader to be none.
3. in val loop check if val_loader is none (at very beginning). return if it is none.

[2019-08-09 03:08] williamFalcon commented on #81
good point. mind changing to a warning and submitting a PR?

[2019-08-09 03:49] sidhanthholalkere commented on #33
when you say exampleModel, do you mean the template model(lightning_module_template.py)?
Also, how would you want me to init multiple dataloaders, I could make a child of LightningTemplateModel where val_dataloader returns 2 dataloaders instead of one.

For the warning about val_dataloaders being wrapped, should I write another exception in trainer.py similar to the one that checks if ddp is used

[2019-08-09 11:13] cwerner commented on #79
@williamFalcon just a heads-up. Still no output in Lightning, but it get tb output if I use summarywriter directly in my PyTorch Code from jupyterlab (on Port 6006, not in the extension). Could be that I do miss something in the lightning code?!

[2019-08-09 13:51] williamFalcon commented on #79
@cwerner ok, i need to look into  this bc Experiment IS a SummaryWriter as well.

Can you post code with both?

But at a minimum i can make it so SummaryWriter can just be used directly. That way we can start the process to support other loggers.

[2019-08-09 15:09] preddy5 opened #84 "Returning None in validation_end method raises error"
Hey,
If we define a validation_end method like
[code]

it is gonna raise an error
[code]
Is this intended, if not shouldnt this part of the code initialize the metrics dict
https://github.com/williamFalcon/pytorch-lightning/blob/018b8da50e90638e8aa8d3eda1f8637656c25f2d/pytorch_lightning/models/trainer.py#L987

like here

https://github.com/williamFalcon/pytorch-lightning/blob/018b8da50e90638e8aa8d

[2019-08-09 15:31] williamFalcon commented on #84
return {}

[2019-08-09 15:32] williamFalcon commented on #84
but we're adding support for not needing to implement a val function if not needed #82

[2019-08-09 15:32] #84 closed

[2019-08-09 15:59] tc-wolf commented on #82
Thanks, I'll take a stab at that this weekend!

[2019-08-09 17:17] LouisTrezzini opened #86 "Dataset only available when the trainer is instantiated"
**Is your feature request related to a problem? Please describe.**
This is half feedback/feature request. Maybe our approach is not right be here is what we felt when trying this awesome library:

We would like to use a LightningModule in our pipelines, but we have some constraints which makes this difficult.

We have an experiment framework where we can register models (eg a LightningModule) by i

[2019-08-09 19:10] williamFalcon commented on #86
@LouisTrezzini it sounds like your experimentation framework is just the trainer... if we made this change we'd end back up with scattered non-standard code.

I'm not sure how portability would be affected? even if you did want to use your own trainer and feed your own data, then you'd probably just want to define a standard PyTorch module... CoolModel is just a nn.Module... nothing fancy about it

[2019-08-09 19:13] williamFalcon commented on #86
Probably one of the first things that happens in trainer is to get the dataset. so, your proposal is equivalent...

[code]

**Proposed:**

[code]

Which is the same thing...

[2019-08-09 22:08] cwerner commented on #79
Will be of my machine for a few days but will update and try. If I still have issues I’ll post some code here...

[2019-08-10 01:35] AS-researcher6 opened #87 "Incorrect Implementation for Accumulating Batch Gradients in Trainer"
Current Behavior:
If accumulate_grad_batches > default of 1, the Trainer will proceed to take the loss from each batch and run loss.backward() for each batch accumulated, running the optimizer.step() once the desired number of batches has undergone backprop.
Loss averaging is only done for batch_loss_value.

Correct Behavior:
The loss from the output needs to be divided by accumulate_grad_batches

[2019-08-10 02:05] williamFalcon commented on #87
@AS-researcher6 good find, i see the bug. the division is done once the step is applied, but the division should be on line 926.

**Current order:**
1. clip
2. step
3. zero_grad
4. divide accumulated loss by nb accumulated batches

**Correct order:**
1. divide accumulated loss by nb accumulated batches
1. clip
2. step
3. zero_grad

Do you want to submit the PR for the fix?

[2019-08-10 02:23] LouisTrezzini commented on #86
Hello @williamFalcon, thanks for your prompt answer

To reformulate, my use case would be to use your trainer and CoolModel's step methods, BUT with our own data / on multiple datasets.

How would you suggest we do this?
Thanks!

[2019-08-10 03:08] AS-researcher6 commented on #87
Gladly! Not sure if you're done fixing things but I don't see the commit where the loss is divided by self.accumulate_grad_batches before the loss.backward(). Otherwise the original version where self.batch_loss_value += loss.item() is good as long as the self.batch_loss_value is not averaged after.

[2019-08-10 03:29] williamFalcon commented on #87
look at the PR #88

[2019-08-10 03:49] AS-researcher6 commented on #87
Sorry, I don't think it's quite right yet. Accounting for multiple batches needs to happen in the actual loss itself before backpropagation. Otherwise, its like N accumulated additions of loss.backward() rather than N accumulated additions of (1/N * loss).backward()
After line 898 and before loss.backward() on the 903 if statement, there needs to be a line that's loss = loss / self.accumulate_grad

[2019-08-10 11:25] williamFalcon commented on #87
@AS-researcher6 i see. updated. Was following the wrong approach before.

[2019-08-10 11:27] williamFalcon commented on #87
but actually, aren't both implementations equivalent?
(2 + 3)*(1/2) = (2/2 + 3/2)

[2019-08-10 11:32] williamFalcon commented on #86
@LouisTrezzini sure. just return your own dataloader instead of MNIST. If you need multiple aggregated datasets construct a joint dataloader (https://pytorch.org/docs/stable/data.html#torch.utils.data.ConcatDataset).

Define your own data in:

[code]

Same for val and test data. [See the LightningModule  template](https://williamfalcon.github.io/pytorch-lightning/LightningModule/RequiredTrainerInt

[2019-08-10 11:39] williamFalcon commented on #33
@sidhanthholalkere
1. this is exampleModel https://github.com/williamFalcon/pytorch-lightning/blob/master/pytorch_lightning/testing/lm_test_module.py.

2. return 2 dataloaders from the  module above. That way some of the tests  use  a different model which returns 1 loader and other tests use this model which returns 2.
```return [ds1, ds2]```

3. just use
[code]

4.in fact,  while you're there, c

[2019-08-10 11:44] williamFalcon commented on #76
@karanchahal this sounds great. let's add both and we can use the official PyTorch version when it's ready!

The first one as a trainer option:
```Trainer(quantize_bits=4)```

The second after training which can be called on Module.
[code]
@karanchahal submit a PR and we can walk through the implementation!

[2019-08-10 12:00] williamFalcon commented on #47
@karanchahal still interested in making these improvements?

[2019-08-10 12:32] #87 closed

[2019-08-10 12:33] williamFalcon commented on #87
@AS-researcher6 merged to master. should be correct now. pls verify

[2019-08-10 13:05] lorenzoFabbri opened #89 "Predict method for test set."
The main Lightning module requires to define the `test_dataloader` function. But I'm not able to find any method that requires the test loader as input. Is there a `model.predict()` method to call on the test set?

[2019-08-10 14:15] williamFalcon commented on #89
thanks for bringing that up! we use different scripts for test  set, but makes sense to add a .predict function to trainer.

The proposed flow would be:
[code]

[2019-08-10 14:25] lorenzoFabbri commented on #89
Yes, they are. And I like the idea that you can define the `test_step` freely.

Regarding the 3rd case: it's fine, but it might happen that the way you make predictions might be different from the training phase. For instance: you have two images referring to the same object (so same label) and in that case you want to take the *most confident* one among the two.

[2019-08-10 14:27] williamFalcon commented on #89
@lorenzoFabbri so define another  method (optional) .predict in cases where your .forward and .predict behavior is different?

so, if no .predict is defined, the model uses .forward. otherwise .predict?

[2019-08-10 14:29] lorenzoFabbri commented on #89
Yes, it's a possibility. But I was just wondering whether it was already available. Sometimes you just forget to put `model.eval()` and nothing works as expected: the less code I have to write the better :)

[2019-08-10 14:31] williamFalcon commented on #89
not yet, but will add for next release this week. just want to make sure the API and usage are intuitive.

i agree, separate test script is a PITA right now.

[2019-08-10 14:35] williamFalcon commented on #89
Otherwise, i'll look at it later this week

[2019-08-10 15:44] karanchahal commented on #47
Since I'll start working on quantization, I think I'll leave this for some
one else to pick up :)

On Sat, Aug 10, 2019, 17:30 William Falcon <notifications@github.com> wrote:

[2019-08-10 19:44] AS-researcher6 commented on #87
All good. Thanks for the fixes!
Working on a SLURM cluster myself so may submit pull requests for expanded Trainer functionality and bring up more things in the future.

[2019-08-10 19:58] #81 closed

[2019-08-10 21:33] williamFalcon commented on #54
@tmquan can you update to the latest test-tube version and try again?

[2019-08-10 21:35] williamFalcon commented on #28
@alex-obi update to latest test-tube version and try again?

pt 1.2.0
test tube 0.6.9
lightning 0.4.3

[2019-08-11 02:30] sidhanthholalkere commented on #33
Ok, I've made the changes, here is a summary of what I've done:
1. Multiple `val_dataloader` support in `trainer.py`
2. Added 2 `val_dataloader`s for `lm_test_module.py`(its just the same one twice
3. Added an output to validation_step (`if batch_i % 4 == 0`) that has the losses/accuracies indexed by dataset
4. Warning for if `val_dataloader`s are not `DistributedSamplers` and `ddp` is selected
5.

[2019-08-11 08:03] illcat opened #93 "When my X is a tuple input, the training_step method does not transfer them to cuda."
[code]
I think the type of x should be tested here. If x is a tuple or list, then traverse them.

[2019-08-11 08:11] illcat opened #94 "What should I do if I don't have validation data and test data?"
[code]

[2019-08-11 08:18] #93 closed

[2019-08-11 11:18] williamFalcon commented on #33
@sidhanthholalkere awesome! probably easier to make edits and comments on the PR itself!

[2019-08-11 11:18] williamFalcon commented on #33
@sidhanthholalkere 4 was taken care off in a different PR by someone yesterday

[2019-08-11 12:53] williamFalcon commented on #94
@illcat made optional in this upcoming PR #95. check back in a few hours and run from master

[2019-08-11 14:01] lorenzoFabbri commented on #33
Any update?
I actually need to use two data loaders for validation and take the mean of the logits. I tried to return a list of loaders for `val_dataloader` but it does not work:

`TypeError: 'DataLoader' object is not subscriptable`.

[2019-08-11 14:02] williamFalcon commented on #94
install master branch and try again. val and test are optional

[2019-08-11 14:02] #94 closed

[2019-08-11 14:03] williamFalcon commented on #82
live on master now

[2019-08-11 14:03] #82 closed

[2019-08-11 14:04] williamFalcon commented on #86
@LouisTrezzini did this answer your questions? if so, we can close this issue

[2019-08-11 14:54] williamFalcon commented on #33
@sidhanthholalkere

[2019-08-11 16:05] sidhanthholalkere commented on #33
Fixing some errors, should be finished soon

[2019-08-11 16:17] terkelbo opened #98 "Add support for ReduceLROnPlateau"
**Is your feature request related to a problem? Please describe.**
As of now it does not seem like it is possible to use ReduceLROnPlateau as a metric has to be passed to the step method of the lr_scheduler.

**Describe the solution you'd like**
A possibility to use ReduceLROnPlateau on some or any of the metrics calculated during training or validation.

**Describe alternatives you've considered*

[2019-08-11 16:35] rcmalli opened #99 "Old test_tube version"
https://github.com/williamFalcon/pytorch-lightning/blob/46e27e38aae21227d0d0f1cab97ec10b8b8766c2/setup.py#L34

`test_tube` library version should be updated to `>=0.6.8`. This old version causes Tensorboard logging directory issues.

[2019-08-11 16:42] rcmalli opened #100 "Training metrics"
Is it a good idea to have a function named `training_step` to calculate also metrics such as training accuracy? What could be the other solution?

Currently I am handling like this

[code]

[2019-08-11 16:50] williamFalcon commented on #100
? just calculate accuracy in training_step. you can do whatever in there, it’s not just for the loss

[2019-08-11 16:50] #100 closed

[2019-08-11 16:53] williamFalcon commented on #99
good suggestion. feel free to make the PR. we’ll add it to the next release. in the meantime you can manually upgrade test-tube

[2019-08-11 17:40] illcat commented on #94
Sometimes I just want to load a trained model to predict  **unlabeled**  data. What should I do?
Is there no corresponding test method?

[2019-08-11 17:51] illcat commented on #94
This means that trains and tests do not need to exist at the same time. One of them can work.

[2019-08-11 17:57] singularperturbation commented on #82
Dang, too fast for me :)  Thanks for working on this!

[2019-08-11 19:24] williamFalcon commented on #94
@illcat. there is no test step yet but it’s alloted for this week. if you need it before you can load the model using the instructions in the docs and do your own test loop right now. otherwise, just check back in later in the week when it’s live.

[2019-08-11 19:24] williamFalcon commented on #94
i don’t understand what you mean by trains are optional.

[2019-08-12 00:19] sholalkere opened #101 "Schedulers step before optimizers"
According to [pytorch docs](https://pytorch.org/docs/stable/optim.html),

Which is also apparent in the warning
[code]

And since pytorch>1.1.0 is required, we should either call the scheduler step after `__run_tng_batch()` is called in `__train()` or in `__run_tng_batch()` itself

[2019-08-12 15:23] williamFalcon commented on #101
@sidhanthholalkere feel free to make the change, but it has to be at the end of __train, otherwise the steps will be for batch instead of the intended epoch (ie: each step means an epoch, not a batch for an LR_scheduler)

[2019-08-12 17:45] neggert opened #102 "Slurm ntasks-per-node is ignored"
**Describe the bug**

When running with DDP, Lightning throws this warning:

[code]

I made the suggested change, but I still get the warning. Digging into the code a bit, it looks like this warning goes away when `$SLURM_NTASKS` matches `trainer.nb_requested_gpus`. If I'm understanding the code correctly, this should be changed to check `$SLURM_NTASKS_PER_NODE`, since `trainer.nb_requested_gpus`

[2019-08-12 19:23] williamFalcon commented on #33
@lorenzoFabbri @sidhanthholalkere merged! was not super trivial to verify haha

[2019-08-12 19:23] #33 closed

[2019-08-12 19:25] williamFalcon commented on #102
@neggert nb_requested_gpus is the world_size
[code]

[2019-08-12 19:31] williamFalcon commented on #102
ntasks-per-node should be 2 for your slurm job (per the warning).

Try running again?

in your case
[code]
equals 4.

And ```self.nb_slurm_tasks = int(os.environ['SLURM_NTASKS'])``` also equals 4. So the warning shouldn't be triggered.

Otherwise an alternative might be to say:

[code]

[2019-08-12 19:34] #86 closed

[2019-08-12 19:41] neggert commented on #102
Okay, thanks. Will take another look; I must have misunderstood something.

[2019-08-12 19:41] #102 closed

[2019-08-12 20:03] williamFalcon commented on #99
done on master

[2019-08-12 20:03] #99 closed

[2019-08-12 20:05] williamFalcon commented on #98
@terkelbo  good suggestion. can you propose a clean way of doing this? maybe it can be merged with #29

[2019-08-13 01:51] sidhanthholalkere commented on #49
I'm not sure that this is really necessary(maybe just a link to the tutorial instead of implementing it).
For sequential nets, its as simple as
[code]
which is basically just adding 3 extra lines to the forward().
For other models(RNNs, LSTMs, etc.) it doesn't seem like there's a nice generalization and can vary between model structure.

[2019-08-13 02:55] wheatdog commented on #29
I fail to understand how to implement GAN-related training scheme in pytorch-lightning. Can you give me some examples?

[2019-08-13 08:29] yukkyo opened #104 "Question: How to switch models ?"
Thank you for the wonderful library! 😄
I looked at the example below and didn't know how to compare the models if the datasets were the same.

https://github.com/williamFalcon/pytorch-lightning/blob/master/examples/new_project_templates/lightning_module_template.py

There are several ways to do this.

1. Switch by __build_model () function in "class LightningTemplateModel (LightningModule)"
2. Pas

[2019-08-13 08:53] yuyonod opened #105 "Fit Error: validation_step() takes 3 positional arguments but 4 were given"
### Common bugs:
Hello, I installed pytorch lightning like
pip install git+https://github.com/williamFalcon/pytorch-lightning.git@master --upgrade
(btw, i couldnt install by pip install pytorch_lightning: i got error related to setuptools even i have setuptools)

then run following scripts which described in 'How do I use it'
I got an error at section 2 (Fit with a trainer)
**Describe the bug**
`t

[2019-08-13 09:48] soraxas opened #106 "Allow overriding optimiser step / zero grad action"
Currently the logic of `optimiser.step()` and `optimiser.zero_grad()` are hard coded in the trainer, but sometimes it would be benificial to NOT `zero_grad()` or perform it at an arbitrary iteration (e.g. For RNN).
This is also related to #29 of implementing GAN in lightning.

[2019-08-13 10:45] thomasw21 commented on #105
The README.md isn't up to date. If you look at the documentation, you need to use the following signature

[code]

[2019-08-13 10:45] williamFalcon commented on #105
that's weird.  did you try to install in the conda env?

[code]

[2019-08-13 10:45] williamFalcon commented on #105
@thomasw21 just noticed the readme didn't match the latest release. it's been updated. good catch!

[2019-08-13 10:48] williamFalcon commented on #104
@yukkyo thanks! i'm not quite understanding what you want to do.

The normal flow is:
1. Create a subclass of LightningModule.
2. define a system there (could be multiple networks, etc...)
3. Pass into trainer.

[2019-08-13 10:59] williamFalcon commented on #105
@yuyonod will reopen if you can't get the install to work!

[2019-08-13 10:59] #105 closed

[2019-08-13 11:08] williamFalcon commented on #106
@soraxas good suggestion. Can you propose an  alternative set up? would love to see other options for generalizing.

Maybe some hooks or trainer flags?

[2019-08-13 11:23] williamFalcon commented on #106
would #107 work?

[2019-08-13 11:55] yukkyo commented on #104
@williamFalcon
Thank you for your quick reply! :)

First of all, I don't want to write the same process every model (training_step (), validation_step (), tng_dataloader (), and so on).

As you say, if I want to compare multiple models (and training_step () etc. are the same),

1. Add params (like `model_type`) to `self.hparams` by` add_model_specific_args() `
2. Create a function in LightningModu

[2019-08-13 12:06] williamFalcon commented on #104
oh, you have different systems?
Create a LightningModule for each one. You can use the same trainer for both in a different main script.

File 1:
Model1(LightningModule).

File 2:
Model2(LightningModule).

File 3:
[code]

[2019-08-13 12:07] williamFalcon commented on #29
@wheatdog @sidhanthholalkere see #106 for discussion. #107 for changes to support this.

Would this work?

[2019-08-13 12:18] yukkyo commented on #104
@williamFalcon
Does that mean I have to define a LightningModule for each network and define exactly the same function in the Lightning Module (ex. Training_step ())?

[2019-08-13 13:33] williamFalcon commented on #106
@soraxas. this fix is on master now. try it out and let me know if it solves your issue.

use case 2 for a gan

[2019-08-13 13:34] #106 closed

[2019-08-13 13:36] williamFalcon commented on #29
@wheatdog @sidhanthholalkere on master now. override optimizer_step to update any optimizer at arbitrary intervals.

[2019-08-13 13:36] #29 closed

[2019-08-13 13:50] williamFalcon commented on #104
i’m sorry, i’m not sure i understand.

If the training_step is the same then define 1 Module.

what are you trying to do? can you write pseudocode?

[2019-08-13 14:38] shivamsaboo17 commented on #76
@karanchahal can you please check the links you provide for pruning notebook. I think it's the same link for quantization notebook.
Also, regarding the implementation of neural network pruning, I found that masking the weights that we need to prun is very simple to implement, but if we still keep the weight tensors as the same datatype as before, we still have to do entire matrix multiplication. W

[2019-08-13 14:46] yukkyo commented on #104
Sorry for not being able to speak well.

In my case, I want to compare metrics of Network1 and Network2.
I came up with three ways but I don't know which one is better.

## Method1: Define LightningModule for each Network
[code]

## Method2: Switch Networks by hparams
[code]

## Method3: Use subclass
[code]

[2019-08-13 14:49] williamFalcon commented on #104
yeah, method1 is the intended pattern.

[2019-08-13 14:49] #104 closed

[2019-08-13 14:51] yukkyo commented on #104
Thank you! I'll do my best to write!

[2019-08-13 14:52] williamFalcon commented on #104
wait actually. if model1 is just a network, and model2 is a different architecture then use method2.

[2019-08-13 14:56] yukkyo commented on #104
I assume that Network1 is YOLO and Network2 is RetinaNet.

[2019-08-13 14:59] williamFalcon commented on #104
yeah. just use hparams to toggle.

the lightningModule is meant for a full system. you are just specifying a particular architecture in a broader system

[2019-08-13 15:01] yukkyo commented on #104
Thank you! That was a really big help!

[2019-08-13 15:01] AlphabetMan commented on #106
GANs are getting more and more complex. There might be more than 2 backward calls in one training step. I suggest to define optional methods training_substep_1 or _2, _3 etc. which consist of these forward-backward passes and returns a loss. Substeps would be contained within training_step there all losses would be accumulated for logging.

[2019-08-13 15:20] williamFalcon commented on #106
@AlphabetMan can you give me a pseudocode example? this pattern isn't limited to 2 optimizers, just used 2 here for illustration.

[2019-08-13 15:49] williamFalcon commented on #105
In 0.4.5 dataloader_nb is not necessary if you're using a single validation dataset

[2019-08-13 16:00] williamFalcon commented on #29
docs here: https://williamfalcon.github.io/pytorch-lightning/Trainer/hooks/#optimizer_step

[2019-08-13 16:01] williamFalcon commented on #106
docs here: https://williamfalcon.github.io/pytorch-lightning/Trainer/hooks/#optimizer_step

[2019-08-13 16:06] AlphabetMan commented on #106
I have been thinking. Optimizer indexing seems to be inevitable. However, I don't like the idea of skipping batches, even though it might not affect quality of the results. I have came up with this.  This gets complicated rather quickly.

`class CoolModel(pl.LightningModule):

    def __init__(self):
        super(CoolModel, self).__init__()
        # not the best model...
        self.discriminat

[2019-08-13 16:59] williamFalcon commented on #106
The current approach live on 0.4.5 is:

#### Training_step
[code]

#### Control optimizer behavior
[code]

And of course, return 2 optimizers
[code]

[2019-08-13 18:12] williamFalcon commented on #106
@AlphabetMan thoughts on this approach currently available?

[2019-08-13 19:00] AlphabetMan commented on #106
So if there are multiple optimizers trainer calls sequentially:
`training_step(self, batch, batch_nb, optimizer_i=0)
optimizer_step(self, epoch_nb, batch_nb, optimizer, optimizer_i=0)
training_step(self, batch, batch_nb, optimizer_i=1)
optimizer_step(self, epoch_nb, batch_nb, optimizer, optimizer_i=1)
training_step(self, batch, batch_nb, optimizer_i=2)
optimizer_step(self, epoch_nb, batch_nb, opti

[2019-08-13 19:11] Ir1d commented on #70
i'm interested in this feature, i'll give it a try :smile:

[2019-08-13 19:21] williamFalcon commented on #106
yup... that's what happens right now!

[2019-08-13 20:04] williamFalcon commented on #106
@AlphabetMan would be super helpful if you put together a simple GAN example to:
A. make sure it makes sense.
B. have as an official example on doing GAN training with Lightning

[2019-08-13 22:08] awaelchli opened #111 "Choice of Logging Backend"
**Is your feature request related to a problem? Please describe.**
Currently only logging to TensorBoard is supported, but there are many other great logging tools out there (Visdom, W&B, MLflow).

**Describe the solution you'd like**
There should be a way for the researcher to choose a logging backend and/or a way to implement/override a custom logger given the interface Lightning requires.

**De

[2019-08-13 22:09] williamFalcon commented on #111
duplicate #47

[2019-08-13 22:09] #111 closed

[2019-08-13 22:23] awaelchli commented on #111
Stupid of me, how did I not see the other issue... Thanks for taking a look at this.

[2019-08-14 02:15] williamFalcon commented on #111
all good!!

[2019-08-14 04:21] karanchahal commented on #76
Hello,

This conversation between me an Tim Dettmers might interest you in the
challenges of attaining real world speed ups with sparse weights.
https://github.com/TimDettmers/sparse_learning/issues/1

My apologies on the wrong link, I'll update it soon and let you know.

Best,
Karan

On Tue, Aug 13, 2019, 20:09 Shivam Saboo <notifications@github.com> wrote:

[2019-08-14 07:50] MendelXu opened #112 "How to analysis the time cost of each part"
#### What is your question?
Hi, I'm trying to implement my project with your framework, however, I'd like to count the time each part costs to make full use of GPUs, but it's puzzling that the time count by myself is not the same as tqdm does. So could you give me some advice about what happened? From process bar, the time is 1.4s/it while data time is 0.003s, gpu time is 0.5~0.7s.
#### Code
[code

[2019-08-14 08:49] shivamsaboo17 commented on #76
Thanks for the reply! I was too unaware of so many challenges of working on sparse tensors.
But I was really interested in implementing custom layers in PyTorch for just inference once we have all the boolean mask. Would you be interested in collaborating on implementing such layers? Perhaps we can start specifically for linear layers and then extend to other types of layers.

[2019-08-14 10:00] c00k1ez opened #113 "Support of different batch types"
Hi!
As I say later, I got two problems:
-  in my research I have to put to model three tensors, like
`{'tokens': torch.Tensor, 'head': torch.Tensor, 'tail': torch.Tensor}`, but when I tried to use GPU to train it, I had error `RuntimeError: Expected object of backend CUDA but got backend CPU for argument #3 'index'`.
And its easy to fix (for single GPU, I do not know how to work with DDP and DP),

[2019-08-14 10:40] williamFalcon commented on #113
can you paste your code here?

[2019-08-14 10:46] williamFalcon commented on #112
tqdm time is a running average. you have to let it warm up for a bit before it converges to the correct time.

[2019-08-14 10:46] #112 closed

[2019-08-14 10:48] williamFalcon commented on #111
@awaelchli want to try implementing this support? (using the other issue)

[2019-08-14 10:48] williamFalcon commented on #70
awesome!

[2019-08-14 11:01] c00k1ez commented on #113
What code exactly do you need? This is my model methods https://pastebin.com/xL8T8svQ

[2019-08-14 11:27] williamFalcon commented on #113
just return:
[code]

[2019-08-14 11:29] c00k1ez commented on #113
but error raise in `scores = self.forward(texts)`

[2019-08-14 11:31] williamFalcon commented on #113
there's no code there...
[code]

[2019-08-14 11:32] williamFalcon commented on #113
also, your batch is whatever you decide in the dataloader... can you post that code too?

it'd be easier to debug if you post your full LightningModule code.

[2019-08-14 11:40] c00k1ez commented on #113
Ok, this is all my module code (https://pastebin.com/a9PK2z95). Error throws in 37 line.
And this is dataset code (https://pastebin.com/VADi8hcn).

As I understand, in `training_step` and `validation_step` I have to compute loss from each data_batch. But I cannot do this, because I cannot push my vectorized batch to GPU

[2019-08-14 12:38] williamFalcon commented on #106
@AlphabetMan i added a template gan example to show how it works.

[2019-08-14 12:40] williamFalcon commented on #106
![image](https://user-images.githubusercontent.com/3640001/63021683-213ffe00-be6f-11e9-83cc-3bb0b518edb8.png)

[2019-08-14 13:39] karanchahal commented on #76
Hey sure, I was quite interested in this actually. Some great work has been
done on fast sparse kernels (link
<https://openreview.net/forum?id=rJPcZ3txx>, link
<https://arxiv.org/abs/1702.08597>, link <https://arxiv.org/abs/1802.10280>),
but it's certainly an area of active research.

I haven't read these papers but I've heard this is a good place to start.
Let's read this and then revert back her

[2019-08-14 14:11] AlphabetMan commented on #106
Very nice. There are multiple ways to define training step, any network could be updated before the other, but this example is clear and simple. GAN's really benefit from distributed training, so this framework is really helpful. I think any tutorial on deep nets on pytorch website should be implementable here.

[2019-08-14 14:16] shivamsaboo17 commented on #76
Great! Will start reading these papers.

[2019-08-14 14:42] eqs opened #116 "Recursive device conversion of model inputs and targets"
**Is your feature request related to a problem? Please describe.**

I want to conduct fine-tuning of the faster R-CNN model that is implemented in torchvision by following this tutorial (https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html).

Inputs and targets of the faster R-CNN are a list of tensors and a list of dict of tensors, respectively (See example in https://pytorch.org/

[2019-08-14 15:12] c00k1ez commented on #116
I've got same problem :)

[2019-08-14 16:04] williamFalcon commented on #116
@c00k1ez @eqs this is a good suggestion. Can you submit a PR?

Just to understand correctly, you only need this for single GPU? is your use case supported currently for distributed training?

If so, it'd be cleaner to create a separate function to do the above.

Feel free to submit a PR and we can merge it

[2019-08-14 16:26] Lezcano opened #117 "Errata in the readme?"
In the `MNIST` example in the readme, the functions `tng_dataloader`, `val_dataloader`, and `test_dataloader` return the same object. I think that at least for test, the `train` flag used to create the `MNIST` object should be `False`. I am not aware of how to extract automatically a validation dataset from the `MNIST` dataloader in torch.

[2019-08-14 16:33] williamFalcon commented on #117
nah, it’s just for illustration and simplicity only. mnist has no val set. in the real world you’d split the train portion into a train/val split by subclassing the mnist dataset.

the readme is to illustrate the main ideas

[2019-08-14 16:33] #117 closed

[2019-08-14 17:22] williamFalcon opened #118 "Cleaner way of adding argparse args per lightningModule"
**Is your feature request related to a problem? Please describe.**
It's convenient to define hyperparameters for every LightningModule. That's usually done in:
https://williamfalcon.github.io/pytorch-lightning/LightningModule/RequiredTrainerInterface/#add_model_specific_args

However, it's a bit hacky to have do add a child parser.

[code]

**Describe the solution you'd like**
Would be great to ha

[2019-08-15 08:32] alok opened #119 "Names of parameters may benefit from not being abbreviated"
I know this is nitpicky, but I think good naming is worth a lot of thought.

A lot of the API seems unhelpfully abbreviated to me, especially since lighting is designed so that you don't have to handle manual details like dataloaders more than necessary.

Names like `tng_dataloader` don't seem to buy anything over `train_dataloader` or `training_dataloader` since they're written only once and read

[2019-08-15 11:00] awaelchli commented on #111
@williamFalcon I would like to try it this weekend. I only discovered lightning recently and I am not yet familiar with the details of this library.

[2019-08-15 13:11] williamFalcon commented on #119
@alok sure, can you first list out the name changes here.

from -> to:

example:
[code]

[2019-08-15 13:39] williamFalcon commented on #116
Fixed in #121

[2019-08-15 13:56] alok commented on #119
- `tng` -> `training`
- `pct` -> `percent` or `frac`
- `nb` -> `num` (this one i don't have as strong feelings about)
- `data_batch` -> `batch`
- `prog` -> `progress`
- `outputs` in `validation_end` -> `progress_metrics`
- `dataloader` -> `loader` (that it's a DataLoader is clear, so the `data` part is redundant, but also no really strong feeling)
- `current_epoch` -> `epoch` (the only mixup that

[2019-08-15 14:03] williamFalcon opened #122 "Fix appveyor build"
windows support is not a priority. If the badge can be fixed today we'll keep appveyor. Otherwise we'll drop it from the project.

@Borda

[2019-08-15 14:29] Borda commented on #122
it failed because we were installing 1.1.0 directly but in `requirements.txt` is now required 1.2.0
Seems that the fix is
[code]
just testing in a local branch and I will create PR if it solves the issue...

[2019-08-15 15:14] #113 closed

[2019-08-15 15:25] Borda commented on #122
@williamFalcon you may use "Assignees" instead of simply mentioning next time... :)

[2019-08-15 15:29] williamFalcon commented on #122
i tried. it doesn’t let me assign people...

[2019-08-15 15:45] #122 closed

[2019-08-15 15:45] #116 closed

[2019-08-15 15:54] Borda commented on #122
@williamFalcon you still shall update the badge to point to your project so it is automatically updated according to your actual status, not my fork... see https://github.com/williamFalcon/pytorch-lightning/pull/123#issuecomment-521679440
https://github.com/williamFalcon/pytorch-lightning/blame/master/README.md#L13

[2019-08-15 16:26] williamFalcon commented on #119
awesome.

Let's do these:

[code]

[2019-08-15 17:08] williamFalcon commented on #122
@borda. something weird happening with the build on 3.6

[2019-08-15 19:04] shivamsaboo17 commented on #76
I read through the [ICLR 17 paper](https://openreview.net/forum?id=rJPcZ3txx) and implemented their algorithm in python ([link to colab](https://colab.research.google.com/drive/1MpDzO70S--zGDWjpcwx7uBgSDunKkDhy)). It is not the most efficient implementation as I used python loops to implement their algorithm, but the key takeaway is the speed increase when sparsity in the weights increase, whereas

[2019-08-15 20:18] Borda commented on #122
@williamFalcon could you pass me a link to the build so I may have look?

[2019-08-16 08:01] bighuang624 opened #125 "AttributeError: 'xxx' object has no attribute 'tng_dataloader'"
**Describe the bug**
I modified the template to implement my model and task. In the process, I ran it several times and correctly. However, when I revised the evaluation metrics, the program suddenly started to report errors: `AttributeError: 'DSANet' object has no attribute 'tng_dataloader'`. However, I've defined the `def tng_dataloader(self)` method. Although I delete what I have written and ma

[2019-08-16 11:27] williamFalcon commented on #125
the bug seems to be that Lightning isn’t showing the exception inside your loader. the dataloader code has an exception but Lightning shows it as a missing loader.

might have to add a try catch to the decorator in lightning.

wrap your loader call in a try catch to see if the exception shows up

[2019-08-16 11:38] karanchahal commented on #76
This is pretty interesting ! Great work!

I see you're using numba to run it on the GPU if I'm not mistaken.

I wonder if numba converts the python loops into C/C++, if not using C++
extensions might be a worthwhile exercise.

I was also wondering if combining cython with numba would be the easier way
to go for that?

The speed increase is definitely encouraging. I think tuning this
implementation

[2019-08-16 12:56] williamFalcon opened #126 "early stopping or checkpointing without val step"
**Is your feature request related to a problem? Please describe.**
When val step isn't defined, early stopping nor checkpointing work.

**Describe the solution you'd like**
Early stopping should look at training_step metrics instead

[2019-08-16 12:56] williamFalcon commented on #126
any takers?

[2019-08-16 14:33] shivamsaboo17 commented on #76
I used the numba jit decorator for sparse convolution function and it runs on CPU (implemented using scipy sparse arrays). I felt it would convert python loops to C++ but when I use nopython=True to compile entire function I get an error because it cannot recognize scipy sparse matrix format and is treated as a regular python object.

I too think that I should first try to make the implementation

[2019-08-16 15:38] karanchahal commented on #76
Ahh okay, well pytorch has the Torchscript thing that we can try as well.

It uses a jit too and applies the optimizations for pytorch tensors. I
don't know it's possible to get it working with scipy sparse format.

Can we use the sparse tensor format (COO) instead of the one scipy uses ?

Thanks again for this great work !

Best,
Karan

On Fri, Aug 16, 2019, 20:03 Shivam Saboo <notifications@gith

[2019-08-16 17:50] Ir1d commented on #70
Hi, I have some questions.

I noticed `save_function` option was deleted in this commit: https://github.com/williamFalcon/pytorch-lightning/commit/63d84283a4cd91578c413b2ad6aaaec80e3fa3bc

But how does this line work then? https://github.com/williamFalcon/pytorch-lightning/blob/master/pytorch_lightning/callbacks/pt_callbacks.py#L223-L224

Also, there were some `save_function=None` in docs, which m

[2019-08-16 18:02] williamFalcon commented on #70
https://github.com/williamFalcon/pytorch-lightning/blob/master/pytorch_lightning/models/trainer.py#L137

https://github.com/williamFalcon/pytorch-lightning/blob/master/pytorch_lightning/root_module/model_saving.py#L57

[2019-08-17 02:45] bighuang624 commented on #125
Yes, it works. Thanks for your help.

[2019-08-17 02:45] #125 closed

[2019-08-17 03:27] Ir1d commented on #98
I think we can directly adjust lr in the optimizer as [keras](https://github.com/keras-team/keras/blob/master/keras/callbacks.py#L1393), which means we don't need ReduceLROnPlateau as a metric.

Specifically, perhaps we can consider adding a hook in `pytorch_lightning/root_module/root_module.py` like `optimizer_step`, so that this function can be exposed to callbacks?

[2019-08-17 03:47] shivamsaboo17 commented on #76
The paper actually metions using CSR format as row slicing is very fast. Not sure if COO format would be as efficient but we can try. Although converting from COO to CSR should be possible (but not sure how) with small computational overhead

[2019-08-17 08:06] Ir1d commented on #119
I propose to rename `update_tng_log_metrics` to `update_train_log_metrics`

[2019-08-17 10:22] flip-arunkp opened #130 "Error when running examples"
File "single_gpu_node_ddp_template.py", line 113, in <module>
    print('RUNNING INTERACTIVE MODE ON GPUS. gpu ids: %i' % hyperparams.gpus)
TypeError: %i format: a number is required, not str

[2019-08-17 13:26] Ir1d opened #131 "Propose to change the subsection title in docs to api name"
For example in here： https://williamfalcon.github.io/pytorch-lightning/Trainer/Training%20Loop
Personally I think it's clearer if we use the name of the key instead of the usage of the key.

which is, `accumulate_grad_batches` instead of `Accumulated gradients`

[2019-08-17 14:21] williamFalcon commented on #130
fixed

[2019-08-17 14:21] #130 closed

[2019-08-17 14:28] williamFalcon commented on #131
I hear you, i think it's a good suggestion but the readme is broken down into concrete functionality someone might want to add. one of those functionalities may require multiple flags. if we rename to only the flags, it won't be clear what the framework can do.

the readme is optimized for: How do I accumulate gradients in lightning?
vs: ooh, what does this flag do

with this context in mind, i'd

[2019-08-17 14:28] #131 closed

[2019-08-17 14:39] flip-arunkp opened #133 "val acc not being calculated in lightning_module_template.py"
in line 166 of lightning_module_template.py
shouldn't it be

        if   self.trainer.use_dp:
                val_acc = torch.mean(val_acc)
       val_acc_mean += val_acc

[2019-08-17 15:11] williamFalcon commented on #133
fixed. was a typo. good catch

[2019-08-17 15:11] #133 closed

[2019-08-18 03:57] GuHongyang commented on #126
Hi, I want a try?

[2019-08-18 04:07] GuHongyang commented on #126
Hi, I want a try?

[2019-08-18 05:13] Ir1d opened #134 "Propose to open a discussion group for general discussions"
**Is your feature request related to a problem? Please describe.**

I think it might be a good idea to have a discussion group on IM for general discussions.

**Describe the solution you'd like**

I dont know, Discord, Telegram perhaps? some of my own projects are maintained with discussions on these platforms, and they seem equally good to me.

**Describe alternatives you've considered**

Or mayb

[2019-08-18 19:51] ananyahjha93 opened #138 "val_dataloader is not optional in distributed_backend='ddp'"
**Describe the bug**
val_dataloader function is kept optional but a line in the code does not check for 'if self.val_dataloader is not None'. Which leads to the following error:

File "/misc/vlgscratch4/FergusGroup/ananya/pyenv/py3.6/lib/python3.6/site-packages/pytorch_lightning/models/trainer.py", line 500, in get_dataloaders
    for dataloader in self.val_dataloader):
TypeError: 'NoneType' objec

[2019-08-18 20:13] sebftw opened #139 "Error if dataset size = 1 batch."
**Describe the bug**
If the dataset size is just one batch, then [line 372](https://github.com/williamFalcon/pytorch-lightning/blob/master/pytorch_lightning/models/trainer.py#L372):
`self.val_check_batch = int(self.nb_tng_batches * self.val_check_interval)`
in trainer.py evaluates to 0 as nb_tng_batches is 1 and val_check_interval=0.98 by default.

When the trainer then gets to the validation step

[2019-08-18 22:18] williamFalcon commented on #139
good find!

[2019-08-18 22:18] #139 closed

[2019-08-18 22:20] williamFalcon commented on #138
good catch

[2019-08-18 23:05] williamFalcon commented on #134
@lr1d great suggestion!

https://gitter.im/PyTorch-Lightning/community?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge

[2019-08-18 23:05] #134 closed

[2019-08-18 23:06] williamFalcon commented on #119
@alok https://gitter.im/PyTorch-Lightning/community?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge

[2019-08-18 23:06] williamFalcon commented on #89
@lorenzoFabbri  https://gitter.im/PyTorch-Lightning/community?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge

[2019-08-18 23:06] williamFalcon commented on #76
@shivamsaboo17 @karanchahal https://gitter.im/PyTorch-Lightning/community?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge

[2019-08-18 23:07] williamFalcon commented on #76
super excited about this feature!

[2019-08-18 23:07] williamFalcon commented on #70
@vincentzlt https://gitter.im/PyTorch-Lightning/community?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge

[2019-08-18 23:07] williamFalcon commented on #49
@sidhanthholalkere @Borda https://gitter.im/PyTorch-Lightning/community?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge

[2019-08-18 23:07] sebftw opened #142 "AttributeError: 'xxx' object has no attribute 'tng_dataloader' continued..."
This is the same issue as mentioned in https://github.com/williamFalcon/pytorch-lightning/issues/125.

**Describe the bug**
Whenever a `@property` raises an AttributeError, it will be looked up in `__getattr__` (if defined), and then the original error message is lost. And LightingModule inherits `__getattr__` from torch.nn.Module.

This makes debugging difficult as you lose line number and you ge

[2019-08-18 23:10] williamFalcon commented on #142
@sebftw read my mind haha. was about to add this bug! want to give it a shot?

[2019-08-18 23:12] williamFalcon commented on #142
@sebftw it probably has to catch all exceptions though. the attribute doesn't exist is hiding whatever issue the dataloader code has (ie: user error), so we want to forward that to the user via ```catch Exception as e:```

[2019-08-18 23:13] sebftw commented on #142
@williamFalcon Yeah. I can try and look into it tomorrow. I think we only have to catch AttributeError as other exceptions will produce a normal stack trace.

[2019-08-18 23:27] sebftw commented on #139
Should `val_check_interval` be changed to 1.?

[2019-08-18 23:40] williamFalcon commented on #139
i personally like to check a little before the epoch ends. That’s a personal preference however, maybe 1.0 makes more sense. although it’s more like .999 because it needs to check before the last tng batch or the epoch will end and never trigger validation

[2019-08-18 23:59] ananyahjha93 commented on #138
@williamFalcon The bug has not been resolved in your latest commits. Do you want me to add the fix? Or am I missing something here?

[2019-08-19 00:17] williamFalcon commented on #138
pressed wrong button. reopened

[2019-08-19 02:21] ananyahjha93 commented on #138
@williamFalcon I have created a pull request for this issue. I did see the commit from 'sidhanthholalkere' but could not find a pull request for it.

[2019-08-19 08:02] Borda commented on #65
Also, it seems that you have a syntax error in your Codecov.yaml
[code]
see https://docs.codecov.io/docs/codecov-yaml

[2019-08-19 10:40] sebftw commented on #139
I think the last batch is `batch_nb=nb_tng_batches-1`, so we get
`is_val_check_batch = (batch_nb + 1) % self.val_check_batch = nb_tng_batches % nb_tng_batches == 0`
in case `self.val_check_batch = int(self.nb_tng_batches * 1.0)`.
This means it will do validation on the last tng batch.

[2019-08-19 11:45] #126 closed

[2019-08-19 11:53] sebftw opened #146 "Progress bar code simplification."
**Is your feature request related to a problem? Please describe.**
I think some of the code for the progress bar could be simplified.
The main issue is that the code is a little harder to read and maintain, so it is not a huge issue.

We have `self.prog_bar` which is the tqdm bar, and `self.progress_bar` which is the boolean value, which tells whether this bar should be enabled. Some examples of u

[2019-08-19 12:03] sebftw commented on #146
A similar issue is with [line 808](https://github.com/williamFalcon/pytorch-lightning/blob/master/pytorch_lightning/models/trainer.py#L808):
[code]
It could be changed to
[code]
Likewise i'd like to maybe adopt the style that lists and dataloaders/iterables never be None if possible - unless we want to signal something specifically.
The reason is that this way we can always rely on the invariant t

[2019-08-19 13:37] sebftw opened #147 "Checkpointing for Callbacks."
**Is your feature request related to a problem? Please describe.**
It would be nice to enable checkpointing of the callbacks. The best case scenario is if checkpointing would allow you to resume training completely as if it hadn't stopped, and I think this feature would bring us one step closer.

**Describe the solution you'd like**
If you look at the code for [LR schedulers](https://pytorch.org/d

[2019-08-19 14:42] #138 closed

[2019-08-19 15:20] sebftw commented on #142
I have made a sketch of the implementation and how to test it.
[code]
With this code, accessing `test_safe_property_attributeerror` will raise a RuntimeError with the message `An AttributeError was encountered: module 'torch.nn' has no attribute 'does_not_exist'`.

I am not sure how the tests are structured - I am new to using pytest - but I'll make a pull request for the safe property now.

[2019-08-19 19:05] williamFalcon commented on #142
@sebftw let's do this as a simple try catch in the dataloader decorator. A principle of lightning is to give users less to remember.

[2019-08-19 21:38] stas6626 opened #149 "Gradient Accumulation Scheduler"
**Is your feature request related to a problem? Please describe.**
Often during a training, loss changes really rapidly first few epochs, so, at this time, we don't really need to use a gradient accumulation. And sometimes we want to schedule changing of accumulation factor, for example, increase it every 10 epochs

**Describe the solution you'd like**
Let's define scheduler, what will control the

[2019-08-19 22:12] sebftw commented on #142
Good idea

[2019-08-20 06:29] alok commented on #119
I'll hold off on this until #146 is resolved, since it affects this.

[2019-08-20 07:42] wdy06 opened #151 "Exception: process 0 terminated with exit code 1 when DDP"
#### What is your question?
I've got  error below when runnning `trainer.fit(model)` with DDP
How can i fix this ?

[code]
#### Code
Please paste a code snippet if your question requires it!

[code]
#### What have you tried?
i've tried running script above on terminal of jupyterlab on Docker.
When `distributed_backend='dp'`, it works well.

#### What's your environment?
- conda version (no venv)
c

[2019-08-20 11:41] williamFalcon commented on #151
@wdy06 distributed data parallel inits a process for each GPU. but there's no guarantee what happens with docker. you probably have to configure docker so it allows nb_gpus processes

[2019-08-20 12:18] wdy06 commented on #151
@williamFalcon Thank you for your response! I will try various things with that.

[2019-08-20 13:17] miguelvr opened #152 "Provide LightningModule for simple use cases"
I think the project could benefit from having a set of "out-of-the-box" lightning modules to promote easy and fast experimentation with existing paradigms.

This idea is a bit inspired by ignite's `create_supervised_trainer` functionality.

In Lightning, this would go something like this:

[code]

This is a very barebones idea/code but it could be expanded upon, making standard experiments effecti

[2019-08-20 13:34] #151 closed

[2019-08-20 13:37] williamFalcon commented on #152
@miguelvr thanks for the suggestion. at this time we’re looking to keep the API simple. An appealing part of Lightning is its simplicity and minimal ramp-up required.

if there’s more demand for this in the future we’ll reconsider adding.

in the meantime, i do agree that prebuilt templates would be good.

a good contribution would be to implement a few basic cases (dqn, seq2seq, transformer, etc.

[2019-08-20 13:37] #152 closed

[2019-08-20 13:38] williamFalcon commented on #152
here:
https://github.com/williamFalcon/pytorch-lightning/tree/master/examples/templates

[2019-08-20 15:21] tchaton opened #153 "Replace default name by other -> self.purge_step not defined"
File "main.py", line 168, in <module>
    trainerWrapper = TrainerWrapper(options=get_arguments(run="default"))
  File "main.py", line 98, in __init__
    self._create_trainer_arguments()
  File "main.py", line 113, in _create_trainer_arguments
    self._create_experiments()
  File "main.py", line 126, in _create_experiments
    self._experiment = Experiment(save_dir=path_experiment, name=name, ve

[2019-08-20 15:35] williamFalcon commented on #153
@tchaton. your package versions are mismatched:

1. read the faq
2. whenever you post a bug follow the instructions which ask to list package versions

[2019-08-20 15:35] #153 closed

[2019-08-20 16:57] williamFalcon opened #154 "transfer_to_batch_gpu returns null when input has primitives"
**Describe the bug**
when passing a batch such as:
[code]
the list of ints won't be returned correctly

**Additional context**
Fix should add a return of the item it no condition matches

[2019-08-20 20:59] #154 closed

[2019-08-21 04:26] S-aiueo32 opened #156 "[FEATURE] Logging frequency for TensorBoard"
**Is your feature request related to a problem? Please describe.**
TensorBoard is a great tool for visualization but the size of event files rapidly grows bigger when we log images.
To prevent this problem, we need to set logging frequencies.
As the best of  my knowledge, in pytorch-lightning, we can manually set them like:
[code]
This is an easy way, however, I think it is clearer to control freq

[2019-08-21 04:32] eqs opened #157 "Recursive device conversion of tuple"
This bug report related to #116 and #154.

**Describe the bug**
When passing a batch such as:

[code]

`transfer_batch_to_gpu` raises the error: `TypeError: 'tuple' object does not support item assignment`.

I found that above error caused by concatenation of two conditions: `isinstance(batch, list) or isinstance(batch, tuple)`.

https://github.com/williamFalcon/pytorch-lightning/blob/55a804b7cfb9

[2019-08-21 04:42] eqs commented on #116
@williamFalcon
Thank you for quick work and sorry for the late response. My use case only needs a single GPU.

[2019-08-21 05:20] shivamsaboo17 commented on #76
@karanchahal @williamFalcon I ported the pure python code to cython and got significant speedups:
My experiments are on 3x64x64 input tensor and filters size is 256x3x3x3
Pure python:
50% sparse --> 45 seconds
90% sparse --> 11 seconds
100% sparse --> 60ms

Cython optimized:
50% sparse --> 13 ms
90% sparse --> 5 ms
100% sparse --> 661 microseconds

google drive link to .pyx and ipynb file:
https:/

[2019-08-21 10:22] williamFalcon commented on #156
already exists. maybe the flag can be renamed for clarity?

https://williamfalcon.github.io/pytorch-lightning/Trainer/Logging/#log-metric-row-every-k-batches

[2019-08-21 10:22] #156 closed

[2019-08-21 10:23] williamFalcon commented on #157
awesome! good catch

[2019-08-21 11:06] williamFalcon commented on #156
the second case:
[code]

does have to be done manually. However, you can use the flag ```self.trainer.add_log_row_interval``` instead of creating your own

[2019-08-21 11:57] S-aiueo32 commented on #156
Thank you for replying. I missed the option, sorry.
It may be better to add the description to Logging/TensorBoard section, rather than renaming.

[2019-08-21 12:04] S-aiueo32 commented on #156
And uh, do you have any plans to manage the other information(e.g. images and histograms) through Trainer?
With a little change around [trainer.py#L887](https://github.com/williamFalcon/pytorch-lightning/blob/master/pytorch_lightning/models/trainer.py#L887), it can be true easily, I think.

[2019-08-21 12:12] williamFalcon commented on #156
@S-aiueo32 we thought about it, but it's better to defer logging to the user.  We 're looking to support other loggers as well, in which case the user should decide what to do with it.

If  you want to contribute, that's a good  ticket to take #111

[2019-08-21 12:15] williamFalcon commented on #149
@stas6626 thanks for the PR.
I'm not sure we need a callback for this. What is the advantage over allowing the trainer flag to take on that format?

Trainer(accumulated_gradients='1:2, ...'
Also, i haven't heard of anyone doing it this way. Can you point to examples? Not sure this is a best practice yet

[2019-08-21 14:04] stas6626 commented on #149
@williamFalcon https://arxiv.org/abs/1711.00489
https://www.kaggle.com/c/cdiscount-image-classification-challenge/discussion/40780#latest-427598

[2019-08-21 14:08] stas6626 commented on #149
If you are not sure about callback, let's discuss further implementation. So, we may pass dict to accumulated_gradients in format {epoch: accumulation_factor}, and control factors changing by a method of Trainer? Any other suggestions?

[2019-08-21 14:22] #157 closed

[2019-08-21 14:32] williamFalcon commented on #149
@stas6626 that paper just shows that decreasing the learning rate and increasing batch size seem to be equivalent (seem to be because the openreview comments aren't great).

In practice most use lr scheduling (not batch size increase), as we're always trying to max out batch size with memory bound.

The accumulated gradients option in Lightning is meant for cases when you're running up against RAM

[2019-08-21 14:33] williamFalcon commented on #147
@sebftw the callbacks already save and restore state... so when you resume training from reload, it does exactly this.

[2019-08-21 14:35] williamFalcon commented on #98
@lr1d good point. you can just adjust the LR in the current callback also (optimizer_step). or in any of the other callbacks

[2019-08-21 14:36] williamFalcon commented on #149
@stas6626 you might be interested in taking on any of these two issues though! #98 #89

[2019-08-21 14:37] williamFalcon commented on #142
@sebftw any updates on this?

[2019-08-21 14:46] stas6626 commented on #149
So, what about implementation details? 😂

[2019-08-21 14:49] williamFalcon commented on #149
@stas6626 lol... edited my answer haha... for implementation maybe just use the callback you wrote internally?

[code]

[2019-08-21 14:49] bighuang624 opened #159 "CUDA error: initialization error (and some other problems) when searching hyperparameters on GPUs"
**Describe the bug**

`CUDA error: initialization error (setDevice at /pytorch/c10/cuda/impl/CUDAGuardImpl.h:40)` when searching hyperparameters on GPUs

**To Reproduce**

Following the Examples chapter in documentation, and use files in `examples\new_project_templates` as example.

1. Set hyperparameters in `lightning_module_template.py` tunable, e.g.,
learning_rate.
2. In `single_gpu_node_dp_tem

[2019-08-21 14:50] williamFalcon commented on #149
so, the external API stays the same,
accumulated_gradients param is smarter
internally use the scheduler.

if it ever gets weird with the dict, it's an easy fix to pull out the scheduler.

[2019-08-21 14:52] stas6626 commented on #149
ok, get it. I will do it till the end of this week 😊

[2019-08-21 14:57] williamFalcon commented on #149
great addition! thanks for adding.

[2019-08-21 15:13] sebftw commented on #147
@williamFalcon Ah. [I see](https://github.com/williamFalcon/pytorch-lightning/blob/c12d1eef32c69623ca1db64f4210855e66d317af/pytorch_lightning/root_module/model_saving.py#L79).
It would be nice to have a common interface to save/load the Callbacks, and to move the logic into these classes. But it's not big priority right now, IMO, since it works!

[2019-08-21 15:13] #147 closed

[2019-08-21 15:23] fschlatt commented on #89
I've been looking into adding a predict/test function. To have it work like case 2, I think we would need to extract all the setup that is done in `fit` into another function or generalize it somehow

[2019-08-22 00:47] koustuvsinha opened #160 "max_batches None leading to a full validation loop when val_percent_check is set"
When I set `val_percent_check`, the value `max_batches` is None. Thus, [at this line](https://github.com/williamFalcon/pytorch-lightning/blob/master/pytorch_lightning/models/trainer.py#L432) the validation loop continues to run till the full validation batch is done. I don't know why it should happen, but I see there is a check for None, so consider adding this line before:

[code]

[2019-08-22 12:53] sebftw commented on #142
@williamFalcon I made a PR. https://github.com/williamFalcon/pytorch-lightning/pull/161

[2019-08-23 07:27] williamFalcon commented on #160
When you set nb_val_batches, [this line calculates the nb_val_batches:](https://github.com/williamFalcon/pytorch-lightning/blob/master/pytorch_lightning/models/trainer.py#L363)
[code]

[If fast_dev_run is turned on, nb_val_batches = 1.  Otherwise, it uses whatever it calculated](https://github.com/williamFalcon/pytorch-lightning/blob/master/pytorch_lightning/models/trainer.py#L1110).
[code]

So, m

[2019-08-23 07:34] williamFalcon commented on #160
See #163

[2019-08-23 08:57] lartpang opened #164 "We need more detailed comments."
**Is your feature request related to a problem? Please describe.**

I'm always frustrated when I do not know the meaning of the parameter. We need more detailed comments, otherwise it is not convenient for developers.

like these code:

https://github.com/williamFalcon/pytorch-lightning/blob/master/pytorch_lightning/models/trainer.py#L86-L115

**Describe the solution you'd like**

Like PyTorch, ev

[2019-08-23 11:43] williamFalcon commented on #160
@koustuvsinha merged into master. try again? if it's none it's for another reason now. we can reopen if it continues

[2019-08-23 11:43] #160 closed

[2019-08-23 11:43] williamFalcon commented on #164
@lartpang good suggestion. will document functions inline

[2019-08-23 12:22] williamFalcon commented on #142
@sebftw thanks for the PR! merged

[2019-08-23 12:22] #142 closed

[2019-08-23 12:48] williamFalcon commented on #146
@sebftw took care of progress bar. want to do a separate PR for self. lr_schedulers = [] always?

[2019-08-23 12:50] williamFalcon commented on #146
@sebftw we'll keep the flag in the trainer. don't want to start spreading out where flags go. easier to look in one place for capabilities

[2019-08-23 12:58] sebftw commented on #146
@williamFalcon Thanks. I agree. I'll make a PR for the lists and some refactoring. It might conflict with https://github.com/williamFalcon/pytorch-lightning/pull/165 so I'll wait till it's merged.

[2019-08-23 13:15] williamFalcon commented on #98
closing because this should be implicitly supported since we can pass a [ReduceLROnPlateau](https://pytorch.org/docs/stable/optim.html) object... nothing we need to do, this is standard PyTorch functionality

[2019-08-23 13:15] #98 closed

[2019-08-24 01:23] williamFalcon commented on #146
@sebftw merged

[2019-08-24 01:23] #146 closed

[2019-08-26 01:35] dehoyosb opened #167 "Adding Support for Torchtext iterators"
I recently came across pytorch lightning and i am absolutely loving it  until now. Not having to worry about my training cycle and making it super efficient and fast. It has increased the amount of experiments i can pull of and good results has come out from it.

Right now, i have been using torchtext with its dataset classes and its custom iterators. But when i tried to use the iterators option f

[2019-08-26 01:39] williamFalcon commented on #167
thanks for bringing this up.
Can you try with the latest version? i think we fixed this.

otherwise, can you post a code snippet that generates this error so we can add a patch?

[2019-08-26 14:40] Soo95 opened #169 "empty meta_tags.csv"
### Before asking:
1. search the issues.
2. search the docs.

If you still can't find what you need:
#### What is your question?
For loading data, I should write down path for 'meta_tags.csv'.
However, in the 'meta_tags.csv', there is nothing.

#### Code
Please paste a code snippet if your question requires it!
Same get_started code with checkpoint callbacks
[code]
#### What have you tried?
I trie

[2019-08-26 19:54] Soo95 commented on #169
Oh, I see
Thanks!

[2019-08-27 04:45] Soo95 commented on #169
Hi, I tried this today!
My path is
- model_ckpt
--- ...
--- ...
--- weights5.ckpt
------ _ckpt_epoch_96.ckpt
--- weights6.ckpt
------ _ckpt_epoch_1.ckpt
...
...

Thus, ./model_ckpt/weights5.ckpt is actually path.

[2019-08-27 05:45] Soo95 commented on #169
Hello, I tested today from your reply!
But I had a same error when I load the pretrained model.

[code]
Then output is

[code]
Then I loaded this pretrained model
[code]
But, I got this error.

And then I tried with including file name

[code]

But I got this error.

Would you give me some advice?

[2019-08-27 14:06] Ir1d opened #172 "propose to enable netlify for previewing the docs in PR"
Deploy-preview feature enables building docs in PR, which make it easier for reviewing

[2019-08-27 14:14] Soo95 commented on #169
I changed code, but I got the same error message.

[code]

BTW, is this correct way to map gpu location?
I couldn't find an example which uses this load_from_metrics, so I'm confused

[2019-08-27 14:29] Soo95 commented on #169
[code]

Still same error..

![image](https://user-images.githubusercontent.com/32061883/63779998-70336c00-c922-11e9-850d-2a21f01dfd9f.png)

And this is meta_tags.csv file.
Is it normal that this file has nothing?

[2019-08-27 15:58] Soo95 commented on #169
I see.. then I can't save model with jupyter notebook..
I'll test with .py and reopen this issue if there is a problem.

[2019-08-27 17:54] Ir1d commented on #98
When using the pytorch object, it requires to pass the metric as a param. for exmaple `lr_scheduler.step(val_loss)`. How do you overwrite the origianl schedulers in thie way?
![image](https://user-images.githubusercontent.com/10709657/63795534-b5619900-c936-11e9-8117-8bda6eb18fe6.png)

[2019-08-27 18:09] Soo95 commented on #169
I'm sad to reopen this issue..
I got the same error from .py execution.

And in this time, I only used tutorial code + (checkout & early stopping callbacks)

Path setting is also okay I think
![image](https://user-images.githubusercontent.com/32061883/63796455-11c9b600-c941-11e9-89d4-241fd468a557.png)

meta_tags.csv is still empty.

This is changed part from tutorial code.
[code]

[2019-08-27 18:46] Soo95 commented on #169
`exp.save() `
or
`exp = Experiment(save_dir=os.getcwd(), autosave=True, version=0)`
both of them don't work for me.

I dig into Experiment class in test-tube to figure out where a tag is not saved, but I couldn't get it..

meta_tags.csv is still empty
![image](https://user-images.githubusercontent.com/32061883/63798535-3cb60900-c945-11e9-864c-f31037b2d2e1.png)

It'd be nice if meta tags are saved

[2019-08-28 11:29] Soo95 commented on #169
[code]

Yes this is the full code which I'm using.
I just added callbacks based on the tutorial code

[2019-08-28 11:50] williamFalcon opened #177 "Expand on model loading docs, make tags_csv optional"
**Is your feature request related to a problem? Please describe.**
The UX for loading a model isn't very clear atm.

**Describe the solution you'd like**
Clarify docs and make tags_csv optional for models without hparams object.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Brought up

[2019-08-28 12:29] expectopatronum commented on #89
Is anyone working on Case 1? I would like to use the functionality soon, so I can give it a try.
@williamFalcon Could you explain what you mean by

I don't get it :) Or does it simply mean to take care that `validation_end()` is not called when  `test=True`?

[2019-08-28 12:31] lorenzoFabbri commented on #89
I'm not working on it at the moment.

[2019-08-28 12:55] expectopatronum commented on #89
Thanks, I am working on it!

[2019-08-28 13:43] expectopatronum commented on #89
Sure, makes sense!
I guess it would also make sense to rename `validate` to `evaluate` and pass on the flag? (at least from my current understanding of the code)

[2019-08-28 13:49] expectopatronum commented on #89
So for testing we can also have multiple test_dataloaders? In the [docu](https://williamfalcon.github.io/pytorch-lightning/LightningModule/RequiredTrainerInterface/#val_dataloader) it's only mentioned for the val_dataloader

[2019-08-28 13:50] expectopatronum commented on #89
Great, I agree :)

[2019-08-29 09:29] expectopatronum commented on #89
Should I create a WIP pull request or should I wait until I think I am done?

[2019-08-29 10:37] expectopatronum commented on #89
For case 2 the current output would look like this:
`1it [00:00, 78.39it/s, batch_nb=0, epoch=0, gpu=0, loss=0.000, test_loss=0.0152, v_nb=0]`
(I am not sure where '1it' comes from yet)
I guess it would make sense to not show `batch_nb`, `epoch`, `loss`?
Also `v_nb` (what is that by the way?)

[2019-08-29 10:44] williamFalcon commented on #89
i think the validation call takes care to not log irrelevant stuff. 1it means 1 iteration. that number changes with the number of batches.

v_nb is experiment version number.
there’s a blacklist in the code, let’s just show what doesn’t get blacklisted.

WIP PR if you want. i’ll review it once the PR is completely done with tests (and has passed tests). then i’ll do a code review at that point

[2019-08-29 20:19] neggert opened #179 "Pass output from all val dataloaders to `validation_end`"
**Is your feature request related to a problem? Please describe.**
I'm working on a retrieval problem. To compute validation scores, I'd like to compute feature vectors for a query set and a catalog set, then measure information retrieval metrics (precision, recall, etc) of the query set against the catalog set.

To do this, I'd like to return the two datasets from `val_dataloader` (already possib

[2019-08-29 20:23] williamFalcon commented on #179
good point. do you want to take a stab at implementing? otherwise one of us can look at this end of week

[2019-08-29 20:58] neggert commented on #179
Sure, I can take a look at it over the weekend.

[2019-08-30 07:04] expectopatronum commented on #89
I have added 3 test functions:
* `test_multiple_test_dataloader` (analogous to `test_multiple_val_dataloader`)
* `test_multiple_test_dataloader`
* `test_running_test_after_fitting`
Where the last two are only there to check whether the code runs. I couldn't find any code that tests the functionality of the validation functions so I am not sure how to properly test the testing code. Looking forward

[2019-08-30 07:05] expectopatronum commented on #89
One thing that could easily be checked is whether it still runs when the model does not have a `test_step` but a `validation_step` by creating a new model.

[2019-08-30 07:32] expectopatronum commented on #89
Regarding the documentation: The structure of the Trainer documentation is not clear to me - where should I put the `test()` documentation? Create a new section below `Validation loop` in `index.md`?

[2019-08-30 09:06] metrofun commented on #142
@williamFalcon  @sebftw Does it only fix the suppresion of `AttributeError` inside the dataloader and not other user errors?

[2019-08-30 09:44] sebftw commented on #142
@metrofun Yes

[2019-08-30 10:12] metrofun commented on #142
Unless I misunderstood the context, wouldn't it be more reasonable to surface any kind of errors from the user defined code?

[2019-08-30 15:00] williamFalcon commented on #76
@sidhanthholalkere @karanchahal spoke with @soumith about this. I think this is better added to core PyTorch. Check out [this issue](https://github.com/pytorch/pytorch/pull/24076).

Once it's merged and live there we can do whatever we need to do to support it.

Closing to move this work to the PyTorch issue.

[2019-08-30 15:00] #76 closed

[2019-08-30 15:04] williamFalcon commented on #149
@stas6626 awesome work. Merged!

[2019-08-30 15:04] #149 closed

[2019-08-30 16:51] williamFalcon commented on #179
also needs to happen for test_end

[2019-08-30 22:57] williamFalcon commented on #89
@expectopatronum awesome PR! very key feature we were missing. Thanks for your work on this!

Merged to master

[2019-08-30 22:57] #89 closed

[2019-08-31 11:25] IvanLazarevsky opened #183 "Add .load function for more flexible loading"
**Is your feature request related to a problem? Please describe.**
I'm using Lightning for a few hours, so maybe I am missing something. pl.LightningModule's tng_dataloader and similar methods couple DataLoaders to the module. Ok, I can pass them as the constructor arguments, but then methods like MyModule.load_from_metrics will not work.

**Describe the solution you'd like**
Option to pass DataLo

[2019-08-31 12:51] sebftw commented on #142
@metrofun Other exceptions are not supressed, so they will surface as normal. It is just `AttributeError` which is an odd case, so we catch it and convert it to a `RuntimeError` as our fix.

[2019-08-31 13:21] williamFalcon commented on #183
you wouldn’t pass them as constructor arguments. why would you want to do that?

can u post your code?

[2019-08-31 14:32] metrofun commented on #142
@sebtfw Oh, I see, thanks for the explanation

[2019-08-31 15:42] mdmmn378 opened #184 "Add an easy way to manipulate progressbar metrics"
Until now, the progress bar only shows a limited number of parameters. It'd be very helpful if we could directly manipulate internal tqdm metrics.

[2019-08-31 15:55] williamFalcon commented on #184
that's already possible:
https://pytorch-lightning.readthedocs.io/en/latest/LightningModule/RequiredTrainerInterface/#training_step

[2019-08-31 15:55] #184 closed

[2019-08-31 20:24] IvanLazarevsky commented on #119
I suggest gradient_clip_norm, because pytorch has torch.nn.utils.clip_grad_value_, which clips individual partial derivatives using torch.clamp and it would be confusing.

[2019-08-31 21:14] IvanLazarevsky opened #185 "Log metric row after validation passes"
**Is your feature request related to a problem? Please describe.**
metrics.csv file, used with test-tube Experiment, is pretty nice way to report some simple results. Unfortunately, logging gets invoked only after training steps. As a result, I can't get the last validation pass results in this file.

**Describe the solution you'd like**
Option to write metrics from validation_end in a file, simil

[2019-08-31 21:25] williamFalcon commented on #183
@ivanlazarevsky this make sense? closing the ticket. i’m renaming this ticket to implement the load function discussed

[2019-09-01 06:48] IvanLazarevsky commented on #183
Yes, thanks.

[2019-09-01 11:31] williamFalcon commented on #185
1.
in any part of the LightningModule you can access self.experiment and self.trainer.  This includes validation_end.

2.
metrics.csv logs whatever you add to self.trainer.log(...). In addition, tensorboard metrics can be downloaded from any graph by clicking download as csv.

is that what you mean?

[2019-09-01 11:31] #185 closed

[2019-09-01 11:47] IvanLazarevsky commented on #185
1. Exactly. Feeling embarrassed not to check that.

[2019-09-01 13:05] williamFalcon commented on #185
maybe the docs can be made more clear regarding this?

[2019-09-02 01:15] hubutui opened #187 "issue about version number"
Hey, it seems that the release/tag number is messed up. The lastest one shoule be `0.4.8`, but you used `0.11 0.111 0.112 0.113 0.12 0.121 0.122 0.13 0.13.0 0.21`, and `0.122 > 0.48`, `0.122` is regarded as the latest release/tag. Consider bump version to `1.0`?

[2019-09-02 01:21] williamFalcon commented on #187
that’s weird. tag should be 0.4.8 must have been a typo

[2019-09-02 02:17] hubutui commented on #187
yeah, I'm trying to create package for ArchLinux automatically, and the package bot check version and found the latest release is 0.121. I have to ignore these version to get the right version.

[2019-09-02 02:27] williamFalcon commented on #187
that’s weird. latest release is 0.4.8. latest tag is also 0.4.8. maybe the pypi version is the one?

[2019-09-02 02:50] hubutui commented on #187
I check PyPI release history, https://pypi.org/project/pytorch-lightning/#history, seems all right. I could also check version number from PyPI instead of GitHub repo.

[2019-09-02 11:40] williamFalcon commented on #187
fixed

[2019-09-02 11:40] #187 closed

[2019-09-02 11:40] williamFalcon commented on #172
idk what this is. can you explain? why is this needed?

[2019-09-02 11:43] Ir1d commented on #172
it allows previewing the edited docs(for each pr), making reviewing easier

[2019-09-03 08:00] expectopatronum opened #188 "'tng_loss' vs 'loss' in in training_step"
### Before asking:
- [x] 1. search the issues.
- [x] 2. search the docs.

If you still can't find what you need:
#### What is your question?

**What is the difference between `tng_loss` and `loss` in in `training_step`?**
It seems both are displayed in my progress bar although only `tng_loss` is part of `prog` (unless `loss` comes from somewhere else but I don't think I specified it somewhere). Bu

[2019-09-03 10:35] williamFalcon commented on #188
loss and tng_loss are the same here. anything in the ‘prog’ key of the dict is for progress bar display only.

[2019-09-03 10:35] #188 closed

[2019-09-03 15:48] ExpectationMax opened #189 "Logging of GPU memory utilization can significantly slow down training"
When training using GPUs pytorch_lightning automatically logs the GPU memory utilization during training. This is a useful feature, but can severely impact performance dependent on the speed of the `nvidia-smi` call.

On our particular cluster (University-scale hpc cluster based on IBM LSF), this leads to a performance decrease of almost 10 fold when training on GPU vs. CPU.

**Describe the bug**

[2019-09-04 03:49] thomasjpfan opened #191 "Should the dependency, test_tube, be explicity stated in the readme at the top?"
Right after the first example using `CoolSystem`, the readme starts using `test_tube` to introduce tensorboard logging. After looking at the `setup.py` file, it becomes clear that `test_tube` is a hard dependency.

To reduce cognitive load on readers, it may be good to link to https://github.com/williamFalcon/test-tube right before the code that imports `test_tube`.

[2019-09-04 13:13] falceeffect opened #195 "Non plain-tensor batches"
Hello!

I have been trying to use Lightning to train a graph neural network built with [torch_geometric](http://github.com/rusty1s/pytorch_geometric/) package using a GPU.

This is the error I get when I try to fit the model:
[code]
I investigated the code of Lightning for a probable cause and found that `transfer_batch_to_gpu` causes this error.

The current behavior of this function considers a

[2019-09-04 13:37] williamFalcon commented on #195
good suggestion. want to make the change and submit a PR?

[2019-09-04 13:55] falceeffect commented on #195
Okay, I will do that.

[2019-09-04 18:01] harritaylor opened #196 "AttributeError: 'tqdm' object has no attribute 'reset'"
I was just trying to train on ubuntu (over ssh) and got this error:
[code]

The code worked fine on CPU on MacOS, any ideas about what might be going wrong here?

[2019-09-04 18:04] harritaylor commented on #196
Issue disappeared when upgraded to `tqdm==4.35.0`

[2019-09-04 18:04] #196 closed

[2019-09-05 02:29] williamFalcon commented on #191
good suggestion. Mind submitting a quick PR for that?

[2019-09-05 02:30] williamFalcon commented on #191
been thinking about bringing some of the test-tube stuff into Lightning, but i kind of like the idea of keeping it separate so other libraries can use it. Any thoughts?

[2019-09-05 02:31] williamFalcon commented on #189
merged

[2019-09-05 02:31] #189 closed

[2019-09-05 04:46] dsuess opened #199 "Install within conda env breaks"
**Describe the bug**
Installation inside conda environment fails on Mac and Linux with the following message
[code]

Running `python -c 'import setuptools'` does not fail, so `setuptools` is installed. Also, installing directly from github is fine. I think it's due to the `site` directory inside the tarball from pypi breaking python

**To Reproduce**
[code]

**Expected behavior**
The package shoul

[2019-09-05 10:10] williamFalcon commented on #199
@borda any idea?

[2019-09-05 10:25] JonathanSchmidt1 opened #201 "Calculating gradient during validation"
Hello,
I am using pytorch-lightning in a physics-related project, where I need to calculate gradients during validation. At the moment the gradient calculation is disabled in the validate function of the trainer. Of course, commenting out the line solves the problem. However, it took some time to figure out where everything goes wrong.
Solution:
I would suggest adding another parameter to trainer

[2019-09-05 11:13] #195 closed

[2019-09-05 11:16] Borda commented on #199
I feel really strange about instaling package via `pip` in `conda` ecosystem...
see the section about instaling [non-conda packages](https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-pkgs.html#installing-non-conda-packages) but it should be possible according to [Using Pip to install packages to Anaconda Environment](https://stackoverflow.com/a/44066694/4521646)
Anyway, the er

[2019-09-05 11:39] dsuess commented on #199
I thought conda would be supported since it's listed as an alternative to virtualenv in the `README.md`.

Listing packages yield:
[code]
So `setuptools` is there. Also installing `pytorch-lighting` via
[code]
works fine. Finally, If I download the package manually from pypi using `pip download` and running `python setup.py install` manually in the extracted archive gives the same error. However, i

[2019-09-05 11:53] williamFalcon commented on #199
i use conda with lightning. to install in conda I just use:

pip install pytorch-lightning

that’s it.

[2019-09-05 11:55] williamFalcon commented on #199
oh, i think i see it. lightning only supports python 3.6+ (it’s in the readme)

[2019-09-05 11:58] dsuess commented on #199
Hmm, it's python 3.7, see the output of `conda env export`:

[code]

[2019-09-05 12:45] williamFalcon commented on #199
[code]

[2019-09-05 12:46] williamFalcon commented on #199
can't replicate on this machine...

[2019-09-05 12:56] williamFalcon commented on #201
it's standard to freeze model during validation. So, this is an edge case. However, I think adding to the docs would be helpful.

want to take a stab at it?

[2019-09-05 13:45] Borda commented on #199
I do not have much experience with macOS, I would conclude adding iOS to Travis testing...

[2019-09-05 13:49] williamFalcon commented on #199
in my experience if it works in linux it works in osx (ds packages, conda, etc...)

[2019-09-05 19:09] williamFalcon commented on #199
@Borda merged. tests are passing. should we call this user error then? @dsuess
Maybe try again after upgrading your conda and following the links I posted?

We can reopen if it continues

[2019-09-05 21:24] neggert commented on #191
IMO the Slurm stuff from test-tube belongs in lightning (or a third entirely separate library). The other functionality would be good to keep separate. I want to take a stab at #47 sometime soon. From that perspective, we'd rather not have any functionality in Lightning that overlaps with MLFlow and friends.

[2019-09-05 22:24] dsuess commented on #199
Thanks for your help, turns out it was a PYTHONPATH issue. I had set PYTHONPATH to `some/directory:`. Due to the `:` at the end, the current working directory is added to `sys.path`, which in turn breaks the installation due to the `site` directory.

[2019-09-06 00:15] thomasjpfan commented on #191
There looks to be bunch of nice features in `test-tube` that `pytorch-lightning` takes advantage of. If some of the Slurm stuff were moved here and you fix a bug in `test-tube`, it would need to be copied here as well.

Another option is to vendor `test-tube` into the `pytorch-lightning` library. In the examples, it can look something like:

[code]

As for support other logging libraries, this may

[2019-09-06 01:13] #191 closed

[2019-09-06 11:37] #179 closed

[2019-09-06 18:27] #201 closed

[2019-09-06 20:01] neggert commented on #47
Alright, started taking a look at this. I think it's going to be more straightforward than I initially thought. I'd like some feedback on a proposal though, before I start working on it.

I'd like to create a base class for experiment loggers. Loggers for individual tracking frameworks would inherit from this base class. The particular logger that a user wants can be passed to the `Trainer` constr

[2019-09-06 20:59] williamFalcon commented on #47
beautiful solution. then we don't have to wrap them, each user can wrap their own?

I think we also move these flows to this logger class:
[code]

Because if no logger is passed in, these flags won't be used. So, makes sense to define them in the logger.

The root experiment also needs:
- rank property (to make sure it only logs from process 0 in ddp mode).
- get_non_ddp_exp() - when launching ddp

[2019-09-06 21:24] alok commented on #47
@neggert For the test tube logger, I think that it would be best to make it just another logger and remove the special-casing it has right now. Since this is meant to become more generic in the PyTorch ecosystem, I think making it more pluggable is a better idea.

[2019-09-06 22:35] shoarora opened #212 "How to get current LR within lightningModule"
I'd like to log LR throughout the training process in tensorboard.
As I understand it, that's as simple as adding it to `update_tng_log_metrics` function or directly adding metrics to test_tube.Experiment.

But I can't find where to get the optimizer/scheduler info from within the lightningModule.  How could I access this information?

[2019-09-06 22:40] williamFalcon commented on #212
self.trainer.lr_schedulers

[2019-09-06 22:40] #212 closed

[2019-09-07 13:23] williamFalcon opened #214 "Add Lightning style guide"
**Is your feature request related to a problem? Please describe.**
In order to encourage reproducibility, I propose a style guide of best practices for structuring code. This guide will go hand-in-hand with the research-seed for conferences.

[2019-09-08 14:08] williamFalcon opened #216 "add test description"
to test do:
trainer =...
trainer.test(model)

or fit and test

[2019-09-08 20:01] Alterith opened #217 "Distributed Training across multiple nodes with 1 GPU each on SLURM managed cluster"
### Problem:
1. I currently have access to a SLURM managed cluster. The cluster has 60 nodes each with 1 GPU, when using the training script (please see below) (adapted from: https://towardsdatascience.com/trivial-multi-node-training-with-pytorch-lightning-ff75dfb809bd), I specify a single GPU [0] along with 4 nodes (just for testing). When running the training script using sbatch I notice that on

[2019-09-08 20:40] williamFalcon commented on #217
a few things:

Just today i added support for not using all the gpus in a node :)

1. install lightning from master
2. replace gpus=[0] with gpus=1.
3. to your slurm script, add the following:
[code]

[2019-09-08 21:57] Alterith commented on #217
Hey thanks for your quick reply,

I applied the above changes with the exception of 3:
#
    #SBATCH --gres=gpu:1
as I get the following error:

- **sbatch: error: Batch job submission failed: Invalid generic resource (gres) specification**

I did not find any changes on the other nodes assigned to the job, all the computation was performed on the first node.

I did look into some variables for my

[2019-09-08 22:02] williamFalcon commented on #217
gres may not be used by your cluster. try removing the word gres. you have to specify the number of gpus in your cluster job or you won’t be assigned gpus

[2019-09-08 22:27] Alterith commented on #217
I tried specifying the number of GPU's using all the methods from the man pages. I will try and contact the cluster admin and see if they can advise me as to how I can specify the gpu's for each node.

[2019-09-08 22:49] Alterith commented on #217
I did run it again without any gpu flags and the first node does use it's gpu but that's probably because your trainer.py changes the ddp flag to false and the single_gpu flag to true changing the function used.

Just out of curiosity why does your trainer not use ddp when only specifying 1 gpu but multiple nodes?

[2019-09-08 23:43] williamFalcon commented on #217
it does on master now

[2019-09-08 23:43] williamFalcon commented on #217
you have to set ddp yourself

[2019-09-09 07:28] Alterith commented on #217
Hey, I went through the updated code again for train.py, if the number of GPU's per node is just 1 then no distributed training will take place (please see below), I am trying to scale across multiple nodes as each node only has 1 GPU available.
#
    if num_gpus == 1:
        self.single_gpu = True
In your fit function if the above flag is set to true then training will only take place on the fir

[2019-09-09 11:39] williamFalcon commented on #217
try again? it should be fixed on master now

[2019-09-09 12:59] #49 closed

[2019-09-09 13:01] williamFalcon commented on #159
resolved on the new demos

[2019-09-09 13:01] #159 closed

[2019-09-09 16:28] neggert commented on #47
I was envisioning that Lightning could provide loggers for some of the more common frameworks (maybe Test Tube, MLFlow, and polyaxon?). Of course, users would be free to write their own as well.

I'm not sure I agree about `log_save_interval` and `add_log_row_interval`. Those control how often the trainer calls the logger methods. IMO they should stay in the trainer, but I don't feel strongly abou

[2019-09-09 18:29] williamFalcon commented on #47
process = 0 would have to be inside the abstraction.

the user will for sure call self.logger(...) at any point in their code. they won’t know what process it is and it will also get annoying adding an if statement every time. more room for user error

[2019-09-09 21:49] Alterith commented on #217
Thanks for making the changes I really appreciate it.

I just need to fix up some of the environment vars as they are not set by default, I'll be debugging for a while as the cluster is currently quite busy.

Do you want me to close this question or leave it open until I finish debugging/testing the changes?

[2019-09-09 22:22] williamFalcon commented on #217
keep it open until fixed. also let me know what else you had to do so i can update the framework or docs

[2019-09-10 07:09] lironghua318 opened #220 "ERROR: No matching distribution found for pytorch-lightning"
pip install  pytorch-lightning
ERROR: No matching distribution found for pytorch-lightning

[2019-09-10 10:14] williamFalcon commented on #220
please describe you os, conda version, etc... we test for installing lightning, so this is likely misconfiguration of your device somehow

[2019-09-10 10:14] #220 closed

[2019-09-10 11:11] expectopatronum commented on #185
I'm confused - I can't find a log function in the trainer class - am I missing something?

[2019-09-10 11:22] williamFalcon commented on #185
self.experiment.log

[2019-09-10 15:50] williamFalcon commented on #217
Ok, I just ran it on multiple nodes using a single GPU on each. It works for me now :)

Please verify it also works for you.

A minor difference is that now you do:
[code]

[2019-09-10 17:48] neggert commented on #47
Ah, okay. Makes sense. I was thinking that the user wouldn't ever call the logger themselves, but I guess there's no way to stop them :P.

Any insight into what was causing the problems with pickling that you ran into? It's not clear to me if this is a problem we'll run into frequently, or if there's something specific to Test Tube that causes it.

[2019-09-10 17:58] williamFalcon commented on #47
i don’t remember if it was test tube itself. i think it’s PyTorch summarywriter. i didn’t spend too much time debugging because the PT code is a bit messy there.

But i didn’t spend too much time on that, however, it might be helpful to try a quick pickle of an experiment instance.

[2019-09-10 21:48] neggert commented on #47
Does it make sense to do #183 along the way? This would let users load models from whatever logger they want.

I'm imagining adding a couple methods to `LightningLoggerBase`:

[code]

Then a model can be loaded like so:

[code]

much of the logic in the existing `load_from_metrics` would get moved into `TestTubeLogger.get_hyperparams`.

[2019-09-10 22:49] Alterith commented on #217
Hey, I am testing it atm, and It still doesn't work for me, I am not sure what the problem is but it spawns multiple threads on my first node and deadlocks which seems to be a problem with the nccl backend when multiple threads attempt to use the same GPU.

[2019-09-10 23:48] williamFalcon commented on #217
post code and slurm script?

[2019-09-10 23:59] Alterith commented on #217
Hey, here is the current script and code that I am running. The model code hasn't changed, it is your MNIST model code. Thanks for giving this a look.

## bash script
    #!/bin/bash -l

    ## SLURM SUBMIT SCRIPT
    #SBATCH --nodes=4
    #SBATCH --ntasks-per-node=1
    #SBATCH --mem=0
    #SBATCH --time=0-00:40:00
    #SBATCH -p partition

    export CUDA_VISIBLE_DEVICES=0
    # activate conda e

[2019-09-11 06:10] Alterith commented on #217
I could be incorrect but SLURM jobs will be allocated the number of nodes requested but only run on the first node provided. After reading through your code does it account for this or does it need to run the code on each node?

My question is related to the **def fit(self, model):** function, as it obtains the local ID of the node being used which is only node 0. Furthermore I think that the code

[2019-09-11 10:50] williamFalcon commented on #217
you have a few issues in your slurm script but i can’t look at it today.

1. you need to specify the number of gpus
2. make sure you have the correct partition
3. you don’t need to set visible devices (slurm does this for you).

when slurm runs the job it executes the script on every machine.... i guarantee lightning works, it’s been thoroughly tested under this setting and I personally have been

[2019-09-11 19:44] Alterith commented on #217
Hey, I have no doubt that Lightning works since you have been testing it after the changes you made to address my earlier problems. The cluster that I have access to has recently been migrated to SLURM for its workload management as such I am still testing it it is correctly configured.

I have ssh'd onto all the nodes and it only runs on the first one, the others don't even have a python process

[2019-09-11 23:42] williamFalcon commented on #217
It's all good. You have to check with your cluster admim. SLURM executes your SLURM script on every machine it runs (log stuff from the script to prove it). That in turn runs your code which executes the same lightning code. It could get hung if your backend has issues or the network interface isn't set up. The docs and demos have flags which can help you debug

[2019-09-12 16:36] artemru opened #222 "multiprocessing cpu only training"
I would like to know if it's possible to train a model with multiprocess parallelism (no GPU available) using Lightning (sync analogue of https://pytorch.org/docs/stable/notes/multiprocessing.html#hogwild) ? After a quick glance, I've the impression that in `Trainer` all available options for parallelism are GPU based (if I'm not mistaken `torch.DPD` supports multiproc CPU-only training).

[2019-09-14 06:15] williamFalcon commented on #217
@Alterith try this?
https://github.com/williamFalcon/pytorch-lightning/blob/master/examples/new_project_templates/multi_node_examples/demo_script.sh

Make sure to set the debug flags or errors in your code will show up as NCCL errors. It's a good idea to debug in DP mode first

[2019-09-15 18:11] Alterith commented on #217
Hey, I will try that. Just needed to run the python code with srun in the bash script so it would run on all the nodes I am just testing it all now.

[2019-09-15 19:54] ananyahjha93 opened #224 "set_epoch for DistributedSampler"
**Describe the bug**
PyTorch example suggests the use set_epoch function for DistributedSampler class before each epoch start. I could not find this function call in lightning's trainer module.

https://github.com/pytorch/examples/blob/master/imagenet/main.py
Line 232-234

As can be seen from the DistributedSampler class code (https://github.com/pytorch/pytorch/blob/master/torch/utils/data/distrib

[2019-09-15 20:31] Alterith commented on #217
Hey, the models do train across multiple nodes after using srun, I really appreciate your help.

I have one more question, will it be possible to accumulate the gradients so as to train a single model across multiple nodes? This was implemented when utilizing DP but not DDP.

When training I get 4 models each trained on a subset of the dataset. Would it be possible to accumulate the the gradients

[2019-09-15 22:28] williamFalcon commented on #224
it's not called which means it is equivalent to shuffle=False (ie: shuffled once but not again every epoch). We can add it though to enable shuffling

[2019-09-15 22:28] williamFalcon commented on #224
do you want to submit that PR?

[2019-09-15 22:33] williamFalcon commented on #217
so, your SLURM script is what should call srun python etc...  ([see example here](https://github.com/williamFalcon/pytorch-lightning/blob/master/examples/new_project_templates/multi_node_examples/demo_script.sh#L66)).

It might be useful to check out the details of how DDP works from the PyTorch docs. At a high level, you init a NEW model with SAME weights on every process. Training only syncs gra

[2019-09-15 22:33] #217 closed

[2019-09-16 05:38] stolpa4 commented on #98
Please, I can't follow. Why the issue is closed? Do you suggest using some hooks like `optimizer_step` and implement reducing on plateau scheduling by hand?

[2019-09-16 05:47] terkelbo commented on #98
I’m not sure either how to pass the ReduceLROnPlateau object as it needs the metric argument as pointed out by @Ir1d. @williamFalcon would it be possible that you give an example of how to use this scheduler with pytorch lightning?

[2019-09-16 07:21] ananyahjha93 commented on #224
Added a PR for this, do you want me to update any docs in my commit related to this issue? Also, I have successfully tested the library with this fix included in my experiments.

[2019-09-16 10:08] aitor-garcia-p opened #226 "Multi-GPU when using Torchtext iterator for data loading"
Hi there,

I have just discovered pytorch-lightning few days ago and it seems awesome (congratulations!)
I have a question I cannot solve by reading the docs and examples.
Is is fully compatible with Torchtext?
I am trying to use a Torchtext iterator to load the data in batches, and I have managed to make it work for a single GPU, but when I add additional GPUs to the trainer:

`trainer = Trainer(

[2019-09-16 11:10] williamFalcon commented on #226
hi! install from master and try again? i believe we pushed a fix for this on master. if not, i can look at it deeper

[2019-09-16 11:38] heytitle opened #227 "Integration with knockknock"
**Is your feature request related to a problem? Please describe.**
Training usually takes time. It would be more efficient to let it run and do something else, then and come back when it's done.

**Describe the solution you'd like**
Preferably, we would like to have a process that automatically informs us when the process finishes. Fortunately, there is a package, called [Knockknock][knock], that

[2019-09-16 11:44] williamFalcon commented on #227
great suggestion. go for it! @thomwolf

[2019-09-16 14:55] williamFalcon commented on #226
@aitor-garcia-p actually, just released a new version with these fixes. Try again? if not we'll take a deeper look at it

[2019-09-16 15:33] gravitychen opened #229 "How to save model name with my own variable?"
comments claim that
"""Save the model after every epoch.
    `filepath` can contain named formatting options,
    which will be filled the value of `epoch` and
    keys in `logs` (passed in `on_epoch_end`).

But how to set the keys in logs, and how to operate  on_epoch_end, can you make some examples?

thank you so much

[2019-09-16 16:16] aitor-garcia-p commented on #226
Hi again,

After digging a bit (with my limited understanding), I see that in this function,

https://github.com/williamFalcon/pytorch-lightning/blob/4c61d1f30a29db8404606c6c933a5a2f3c0ae1ae/pytorch_lightning/trainer/trainer.py#L1077

if the "batch" parameter is a torchtext.data.Batch object (as it happens when using a Torchtext Iterator) the Trainer function transfer_batch_to_gpu will miss it des

[2019-09-16 16:35] #224 closed

[2019-09-17 09:43] aitor-garcia-p opened #230 "Tensorboard logging in multi-gpu setting not working properly?"
Hi there :)

I have a question (that may be an issue with the code or just my ignorance).
(b.t.w. I am using the latest version, pytorch-lightning==0.4.9)

If I set the trainer

`trainer = Trainer(experiment=exp, gpus=[0])`

I can see the corresponding logging (scalars and hyperparameters) in Tensorboard.
If I change it to distributed training (keeping the rest of the code unchanged) :

`
trainer

[2019-09-17 11:31] sadbb opened #231 "How to load data every epoch"
hi,
because of my task, i must load new train_data every epoch. But in this package, data can only be loaded once at the beginning of training. How can i load data every epoch?
thanks.

[2019-09-17 11:53] williamFalcon commented on #231
could you explain more? do you have pseudocode?

[2019-09-17 11:55] williamFalcon commented on #230
could you post the full code that uses the trainer?

[2019-09-17 11:56] williamFalcon commented on #229
sorry, could you elaborate on what you are trying to do? to use on epoch end do:

[code]

[2019-09-17 11:59] williamFalcon commented on #226
yeah, looks like torchtext can't be pickled and thus not used with DDP. But you should verify that on the torchtext issues. If that's true, then i'd recommend DP or we can try to come up with a work around

[2019-09-17 12:01] williamFalcon commented on #226
Also, feel free to submit a PR with your changes so we can enable torchtext support

[2019-09-17 12:07] aitor-garcia-p commented on #230
Do you mean this part?

[code]

Only when I remove the "distributed_backend='ddp'" (and the second gpu from the list) to make it single-gpu it does fill the charts and hparams report in tensorboard, like in the picture above.

[2019-09-17 12:17] williamFalcon commented on #230
not sure what it would be, but try an integer and make sure to change it between experiments

[code]

[2019-09-17 12:28] gravitychen commented on #229
oh I just want to save the accuracy number  on my model name. just like
there is a "ckpt" directory which contains all of models
and my models' name are like below:
acc_0.1_epoch_1.pth
acc_0.2_epoch_2.pth
acc_0.3_epoch_3.pth
acc_0.4_epoch_4.pth
acc_0.5_epoch_5.pth

But I have no idea how to make this happen

[2019-09-17 12:48] aitor-garcia-p commented on #230
I have tried with integer version numbers, but no luck.

![Untitled](https://user-images.githubusercontent.com/2588285/65042639-8cdb2680-d959-11e9-901b-dd72c30426a6.png)

The tensorboard writing/no-writing seems to be triggered by the "distributed_backend='ddp'" absence/presence in the Trainer instantiation.
Maybe when it is in distributed mode it writes to some other default location? Or there is

[2019-09-17 13:55] williamFalcon commented on #229
There is currently no way to do that. However, if that's important to you and you want to add a feature, you could add it to the Checkpoint callback as an argument.

[code]

[2019-09-17 13:58] williamFalcon commented on #229
Updated docs here:
https://pytorch-lightning.readthedocs.io/en/latest/Trainer/Checkpointing/

[2019-09-17 13:58] #229 closed

[2019-09-17 13:58] williamFalcon commented on #230
not sure... are you using jupyter notebook?

[2019-09-17 14:11] aitor-garcia-p commented on #230
No, I am coding using an IDE.

Don't worry anyway, sure there are more urgent tasks. For me it's ok for now, I can do most of the trainings on a single GPU :-)
Just wanted to know if I was doing something wrong. Maybe it has to do with something in my system. If I discover anything suspicious I will inform here.
If more people starts reporting about this problem then you can invest more attention

[2019-09-17 17:36] RomainSabathe opened #232 "Tqdm bar has unexpected behavior when val_check_interval < 1"
**Describe the bug**
If we set the trainer to have val_check_interval < 1, then here's what happens:

* From batch_nb = 0 up to batch_nb = val_check_batch + 1: the tqdm bar correctly shows the progress on the training set.
* Onwards: the validation step begins. Every batch gathered from the validation set is counted and *added to the progress bar*. So the progress bar will continue from `val_check

[2019-09-18 01:00] sadbb commented on #231
Thanks for help,
![overview_flat](https://user-images.githubusercontent.com/9314725/65094859-581aae00-d9f1-11e9-802b-e8a35a4c5c9c.jpg)
As you can see in your picture, data setup called before training loop. But in my task , like few-shot learning , data must be called between "for epoch" and "for batch" in this picture every new epoch. What can i do for this?
Apologize for my poor English.

[2019-09-18 07:17] seungwooYoo commented on #230
Actually I also observed the similar things when training with 'ddp' option. Seems that tfevents file does not correctly written (no file size increased during the training). I also can do most of thing using 'dp' option now....

[2019-09-18 08:47] seungwooYoo commented on #230
Seems like self.proc_rank is not well set in 'ddp'. I print self.proc_rank in "trainer" and found all process has proc_rank=0 which makes self.experiment to be working as debug mode.

[2019-09-18 11:41] williamFalcon commented on #230
the code you show is from an old version of lightning. update to the latest to see if you still have an issue

[2019-09-18 11:48] williamFalcon commented on #230
Ok, submitted a PR.
Can you install this version and verify it works now?
[code]

[2019-09-18 18:09] williamFalcon opened #234 "set MASTER_PORT automatically"
when using DDP, use must set a manual MASTER_PORT. However, we should automatically set one.

The problem is that we can't choose a random one as each process might generate a different solution. Instead, I propose to use the SLURM JOB ID as the seed to k possible ports. Then every process can deterministically generate the same sequence of ports. With that list, the root node can init NCCL connec

[2019-09-18 18:56] gottbrath commented on #76
Note that we have a notebook with a preview tutorial on eager mode post training quantization over in #18318 ... please check it out and leave feedback.

[2019-09-19 01:33] seungwooYoo commented on #230
I tested with update PR and found it generates several meta files in start. But I found there are another crashes comes from RandomSampler set_epoch. I added the error mssg in the below.

![image](https://user-images.githubusercontent.com/1920881/65205934-e746c500-dac8-11e9-8427-ba5ee23c79b4.png)

[2019-09-19 01:52] seungwooYoo commented on #230
Hi thanks for updating. Frankly, I observed another crash which may not be related to above issues. I uploaded the error mssg.

![image](https://user-images.githubusercontent.com/1920881/65207071-8e2c6080-dacb-11e9-8942-a5df5f1f575b.png)

[2019-09-19 01:57] williamFalcon commented on #230
yeah, you are setting up distributed sampler wrong. look at the pytorch and lightning docs.

use distributedsampler and don’t use the shuffle flag

[2019-09-19 02:02] seungwooYoo commented on #230
Thanks for quick answer. :) I found that updated PR works great 👍
![image](https://user-images.githubusercontent.com/1920881/65207598-08a9b000-dacd-11e9-810d-0fd1c1e0b816.png)

[2019-09-19 08:45] samhumeau commented on #230
An additional related remark, which I think fits the title of this issue.

Right now pytorch-lightning seems to create several tfevent files in the multi-gpu ddp way:
e.g. for 2 GPUs:
[code]
I suppose the first one is created by the main process and the next 2 are created by the 2 DDP processes (one per GPU). Unfortunately, the actual events are not logged in the last created one, and that confuse

[2019-09-19 09:57] sadbb commented on #231
I made some adjustments. Can you help me check it?
In decorators.py, i delete 'setattr(self, attr_name, value)' like this:
`def _data_loader(self):
    try:
        value = getattr(self, attr_name)
    except AttributeError:
        try:
            value = fn(self)  # Lazy evaluation, done only once.
        except AttributeError as e:
            # Guard against AttributeError suppression. (Issu

[2019-09-19 12:23] #230 closed

[2019-09-19 12:25] williamFalcon commented on #232
that's actually done on purpose. the tqdm bar calculates a time estimate for the full loop. If you have only the training samples in there, you won't ever get an estimate of how long the full train+val loop will take.

[2019-09-19 12:25] #232 closed

[2019-09-19 12:28] williamFalcon commented on #230
@samhumeau we can open a new issue for this. When you init the experiment it creates a file handle. The solution is to make sure to init the experiment from the master gpu only. However there needs to be a way for this to happen so the user doesn't think about it.

[2019-09-19 14:55] TheStoneMX opened #235 "When running single_gpu_node_dp_template.pj, missing 'dp' or 'ddp' param"
### Common bugs:
1. When running single_gpu_node_dp_template.pj, missing 'dp' or 'ddp' param
2. PyTorch 1.1.0 vs 1.2.0 support [see FAQ](https://github.com/williamFalcon/pytorch-lightning#faq)

**Describe the bug**
When running single_gpu_node_dp_template.pj, missing 'dp' or 'ddp' param.

**To Reproduce**
Steps to reproduce the behavior:
1. Run sample py file with a GPU or GPUs machine
2. error :

[2019-09-19 15:30] TheStoneMX commented on #235
fiexed issue by adding
 parent_parser.add_argument('--dist_bak_end', type=str, default='dp',help='When using multiple GPUs set Trainer(distributed_backend=dp) (or ddp)')

    trainer = Trainer(experiment=exp,checkpoint_callback=checkpoint,early_stop_callback=early_stop,gpus=hparams.gpus,distributed_backend=hparams.dist_bak_end,)

[2019-09-19 15:30] #235 closed

[2019-09-20 04:12] Colanim opened #239 "Training on a single specific GPU"
**Is your feature request related to a problem? Please describe.**
I can't run my training on 1 single GPU, where I choose the GPU. Running the trainer with :

`Trainer(gpus='3')` gives :

**Describe the solution you'd like**
When a single GPU ID is given, training run on that specific GPU

**Describe alternatives you've considered**
We have to set CUDA_VISIBLE_DEVICES=3 and run with `Trainer(gpus

[2019-09-20 04:39] williamFalcon commented on #239
Trainer(gpus=[3])

[2019-09-20 04:52] Colanim commented on #239
`Trainer(gpus=[3])`

gives me :

[2019-09-20 05:26] Colanim commented on #239
It worked when I do :

`export CUDA_VISIBLE_DEVICES=0,1,2,3`

before running the trainer.

I have no idea why though...

[2019-09-20 05:26] #239 closed

[2019-09-20 19:03] scnerd opened #240 "Trainer.restore_weights takes a model, but never uses it"
In line with the discussion on #169 , while digging through the code trying to figure out how to load a model when I don't have a meta_tags.csv (I'm hitting exp.save(), but that file never shows up, just a "meta.experiment" file), I discovered the [``Trainer.restore_weights(self, model)``](https://github.com/williamFalcon/pytorch-lightning/blob/87708157bc1c8f69ccfe5401b75d227348f56dfe/pytorch_ligh

[2019-09-20 19:11] scnerd commented on #240
I'm actually running into this while trying to figure out how to use ``.test()`` because, again, there's no ``meta_tags.csv`` file and thus I can't use the ``load_from_metrics`` function. It's frustrating because I can call ``.fit(model)`` and the model loads from the latest checkpoint, everything resets to where it was, and we're good, but ``.test()`` doesn't do any of that (and probably shouldn'

[2019-09-20 20:32] williamFalcon commented on #240
good points. i think we have an issue already for cleaning up the load function. if you want to take a crack at it, we’d love the PR!

Otherwise I can look into it after next week

[2019-09-21 13:45] williamFalcon commented on #235
@TheStoneMX thanks for the fixes!

[2019-09-21 16:04] TheStoneMX commented on #235
Hey, I really like your lightning API, will keep working with it and if I find anything else I will help you, me...

[2019-09-21 16:05] samhumeau opened #241 "In Multi GPU DDP, pytorch-lightning creates several tfevents files"
**Describe the bug**

Right now pytorch-lightning seems to create several tfevent files in the multi-gpu ddp way:
e.g. for 2 GPUs:
[code]
I suppose the first one is created by the main process and the next 2 are created by the 2 DDP processes (one per GPU). Unfortunately, the actual events are not logged in the last created one, and that confuses tensorboard, cf https://github.com/tensorflow/tenso

[2019-09-21 16:08] williamFalcon commented on #235
Awesome! welcome to the lightning community!

[2019-09-21 16:12] williamFalcon commented on #241
thanks for bringing this up. this has been reported a few times already. the problem is what you described.

the solution is to ini the logger from proc zero only. want to take a look at how we can approach this? @neggert is working on an abstraction that will need this fix

[2019-09-21 16:23] TheStoneMX commented on #235
Thanks! I am learning the framework, I am trying to use it in some of my past kaggle competitions, to practice, and benchmark it, if I have questions where should I post them? or write to you directly?

[2019-09-21 16:25] williamFalcon commented on #235
gitter or here

[2019-09-21 16:40] TheStoneMX commented on #235
great ! I just test you over gitter

[2019-09-21 16:59] TheStoneMX commented on #235
@williamFalcon,

I have been looking at it, and I was wondering how will you use it with transfer learning? leaving the top off and or activating or deactivating some of the layers of the pre-trained model.

[2019-09-23 08:53] xiadingZ opened #243 "Aggregate output of validation_end across all ddp processes"
In `validation_end` I want to gather all outputs from `validation_step`, then use another file to calculate scores. but when use multi-gpu ddp mode, I find it launches multiple process of `validation_end` to calculate scores. how to make it only call once?

[2019-09-23 12:09] williamFalcon commented on #243
hi, the way ddp works, each process is walled from the other. I’m not sure you can transfer arbitrary tensors around but we can look into it (likely using the dist library).

the validation_end will be called for every process to calculate all the scores.

I guess it would be helpful to know what you are trying to do to see how we modify the code.

[2019-09-23 12:21] xiadingZ commented on #243
This is what I want to do:
  every process of validation_step computes scores of corresponding data from dataloader, then in validation_end, a main process gather all outputs from all validation_steps to form a score of all data, then use a gt_file to compute auc of all data, only once.

[2019-09-23 12:50] xiadingZ commented on #243
It seems that I want to do test in val function. I find a workaround to do this only when `self.trainer.proc_rank ==0`, in validation_end.
thanks

[2019-09-23 13:12] williamFalcon commented on #243
so, let’s break this down a bit.

Case 1 (current):
Each process calls validation_end. If you log anything or monitor early stopping it only uses the metrics from proc 0.  This is equivalent to using 1/nb_process in this calculation.

Case 2 (i think this is the one we need to support):
Same as above, but use dist.all_reduce for each metric returned from validation_end to get the full value instea

[2019-09-23 16:24] neggert commented on #241
Are you thinking we should make sure that the test tube experiment doesn't even get initialized unless we're on process 0? Right now I have it initialize, but never log, but that's easy enough to change.

[2019-09-23 16:28] williamFalcon commented on #241
yeah, i think the best thing is to make sure it’s only initialized once. This will save a ton of space in the experiment file as well

[2019-09-23 16:28] neggert commented on #243
Agree that case 2 is important to support, and should maybe even be the default. That seems like what a new user would expect.

[2019-09-23 16:34] williamFalcon commented on #243
Yeah, agreed. I'll turn this into a ticket.

[2019-09-23 16:36] neggert commented on #231
What happens if you just *don't* use the `@dataloader` decorator? That should prevent the DataLoader from being cached, and you can just recompute it every time the class method is called (which should be once per epoch). Not sure what other effects that would have, though.

[2019-09-23 16:38] williamFalcon commented on #243
@neggert does it also make sense to do the same after training_step? I'm a bit concerned about the speed impact of adding these calls

[2019-09-24 01:02] Colanim opened #244 "Add documentation for EarlyStop"
I couldn't find any mention of EarlyStop Callback in the documentation.

Maybe it's needed ?

[2019-09-24 01:20] williamFalcon commented on #244
@Colanim good catch. It's not documented. Do you want to take a stab at it and submit a PR? I'll add/correct whatever is missing from your doc addition.

[2019-09-24 10:09] riverarodrigoa opened #246 "How to use the lbfgs optimizer with ligthning?"
Hi,
I have a problem in using the LBFGS optimizer from pytorch with lightning.
I use the template from [here](https://github.com/williamFalcon/pytorch-lightning-conference-seed) to start a new project and here is the code that I tried (only the training portion):

[code]
The LBFGS optimizer from pytorch requires a closure function (see [here](https://pytorch.org/docs/stable/_modules/torch/optim/lb

[2019-09-24 13:40] chari8 opened #247 "Is 'update_tng_log_metrics' working?"
Hi, all!
Does `lightning` call `update_tng_log_metrics` function right before it logs metric for the batch as described in the [docs](https://williamfalcon.github.io/pytorch-lightning/LightningModule/RequiredTrainerInterface/#update_tng_log_metrics) ?

I wanted `loss` (in training steps) to be displayed as `loss/train` in tensorboard.
To do so, I planned to use `update_tng_log_metrics` and copy `l

[2019-09-24 22:09] neggert commented on #243
I can't think of a good reason to do it after a training step. Any metrics measured batch-by-batch are going to be noisy anyway, so only taking numbers from one process shouldn't make much difference. It's possible there's some use case I haven't thought of, though.

[2019-09-24 22:18] neggert commented on #243
I guess I'll also note that averaging across nodes isn't always going to be the right thing to do. Metric learning problems, for instance, actually need a full set of feature vectors to compute recall and NMI.

The cleanest thing IMO would be to collect `validation_step` outputs from all nodes using something along the lines of `all_gather`, then pass the whole thing to `validation_end` on each no

[2019-09-25 09:49] kvhooreb commented on #98
It feels rather dirty to me, but you can save the loss in your `pl.LightningModule`'s `training_step()` method, and then use it in the `optimizer_step` method. I can't verify whether it works as expected right now though.

[code]

The pytorch optimizers seems to return the loss when the step() method is called (e.g. https://pytorch.org/docs/stable/_modules/torch/optim/adam.html#Adam). If this coul

[2019-09-25 09:53] williamFalcon commented on #98
we could modify the scheduler step to take in the loss?

[2019-09-25 10:05] kvhooreb commented on #98
Passing the loss as one of the parameters to `optimizer_step` is probably the cleanest solution indeed.

[2019-09-25 10:12] Ir1d commented on #227
we can also consider https://github.com/notifiers/notifiers which works well with https://github.com/Delgan/loguru

[2019-09-25 10:42] Ir1d opened #248 "Integration with Hyperopt"
**Is your feature request related to a problem? Please describe.**
Hyperopt: Distributed Asynchronous Hyper-parameter Optimization
https://github.com/hyperopt/hyperopt

[2019-09-25 11:52] kvhooreb commented on #98
Although, `optimizer_step` is called after every batch, so that 's probably not the correct place to call `ReduceLROnPlateau`.

[2019-09-25 13:09] kvhooreb commented on #98
That would be the best solution indeed, but then you'd need a way to figure out which ones need the loss when calling step. I'm not sure how to do that at this moment.

For now, I solved it as follows, which may help people until there is a better solution:
- Use the `on_epoch_start` callback on your LightningModule to initialize an empty list
- In every `training_step` call, append the loss to th

[2019-09-25 13:11] awaelchli opened #249 "UserWarning: Was asked to gather along dimension 0, but all input tensors were scalars"
**Describe the bug**
Not sure if this is a bug. It shows me this warning at the beginning of training:
`
/home/adrian/research/envs/research/lib/python3.7/site-packages/torch/nn/parallel/_functions.py:61: UserWarning: Was asked to gather along dimension 0, but all input tensors were scalars; will instead unsqueeze and return a vector.
`

**To Reproduce**
The minimal MNIST example from the docs has

[2019-09-25 18:52] #244 closed

[2019-09-25 19:38] awaelchli opened #250 "progressbar dict can't be used with DP/DDP"
I took me a very long time to figure this one out, but I found that the "prog" dict for the output of [training_step](https://williamfalcon.github.io/pytorch-lightning/LightningModule/RequiredTrainerInterface/#training_step) cannot be used together with multi-GPU training, otherwise an error occurs (attached).
[pl_zip_error.txt](https://github.com/williamFalcon/pytorch-lightning/files/3654453/pl_z

[2019-09-25 22:40] williamFalcon commented on #250
it can be used... you are likely returning a non tensor

[2019-09-25 23:05] williamFalcon commented on #119
Merged #124

[2019-09-25 23:05] #119 closed

[2019-09-25 23:22] awaelchli commented on #250
Here is a minimal example with two GPU's. See my comment in training_step.
Yes the batch_nb is not a tensor but it is also like this in the docs.

[code]

**ERROR:**

[code]

[2019-09-26 05:55] Colanim opened #251 "Profiling"
**Is your feature request related to a problem? Please describe.**
I realize my testing loop is not efficient at all. I need to understand where is the bottleneck and how I can make it faster.

**Describe the solution you'd like**
An option similar to fast_dev_run where the training OR validation OR testing loop is profiled, in order to see where is the bottleneck.

**Describe alternatives you've

[2019-09-26 12:39] Ir1d commented on #98
Also, at this moment https://github.com/williamFalcon/pytorch-lightning/blob/master/pytorch_lightning/trainer/trainer.py#L958 lr_scheduler.step() is called at the end of the epoch, while some scheduler (eg: https://pytorch.org/docs/master/optim.html#torch.optim.lr_scheduler.OneCycleLR) should be called at the end of the batch

[2019-09-26 13:02] williamFalcon commented on #246
@riverarodrigoa good suggestion. Agreed we need to support this. Probably the easiest way is to refactor the main code in trainer or detect lbfgs/similar optimizers and pass in the closure. Do you want to submit a PR for this? if not I can take a look at it

[2019-09-26 13:05] williamFalcon commented on #98
From PT docs.
https://pytorch.org/docs/stable/optim.html

```Prior to PyTorch 1.1.0, the learning rate scheduler was expected to be called before the optimizer’s update; 1.1.0 changed this behavior in a BC-breaking way. If you use the learning rate scheduler (calling scheduler.step()) before the optimizer’s update (calling optimizer.step()), this will skip the first value of the learning rate sche

[2019-09-26 13:09] williamFalcon commented on #251
@Colanim great suggestion. I know the PyTorch team has been thinking about something like this, maybe @ezyang, @soumith have some suggestions? I'm hesitant to add something lightning specific for this, might be more appropriate inside PyTorch.

[2019-09-26 13:10] williamFalcon commented on #98
Either way, @kvhooreb  i added the ```.step(epoch)``` fix. Let me know if this works for you.

[2019-09-26 13:13] #250 closed

[2019-09-26 13:54] riverarodrigoa commented on #246
Hi @williamFalcon, thanks for looking at my question. I am still learning pytorch and understanding lightning, I think it would be better if you look at it as you has a more deep understanding of the framework. By my side I will try to work on this too and any improvement I do I'll update on this issue.

[2019-09-26 14:09] soumith commented on #251
how about torch.utils.bottleneck: https://pytorch.org/docs/stable/bottleneck.html?highlight=bottleneck

[2019-09-26 14:46] williamFalcon commented on #164
@lartpang this was merged a bit ago. Please check to make sure it's what you meant

[2019-09-26 14:46] #164 closed

[2019-09-26 14:56] williamFalcon opened #257 "Add support for non nccl backends in DDP"
**Is your feature request related to a problem? Please describe.**
Some clusters don't have NCCL installed so DDP wouldn't work there. Add support for those clusters in the DDP setup.

**Describe the solution you'd like**
Add a new flag to trainer to specify the ```ddp_communication='nccl'``` or something

**Describe alternatives you've considered**
Forcing people to install NCCL on their cluster.

[2019-09-26 16:07] williamFalcon opened #258 "Auto load NCCL when on DDP"
users must remember to load NCCL when using DDP. Wondering if there's a way for us to automatically load it for the user so they don't have to remember.

Probably would happen in the trainer.__init__ and we'd make a system call from python.

Pseudocode
[code]

[2019-09-26 16:26] williamFalcon commented on #258
on  further research and suggestions it looks like the approach should be this:

1. When user requests DDP see if NCCL has been loaded.
2. If not, then throw an error showing install instructions

[code]

[2019-09-26 16:30] williamFalcon commented on #251
awesome. we'll point to this in our docs as well so people know it's available.

[2019-09-26 16:30] #251 closed

[2019-09-26 16:57] williamFalcon commented on #258
never mind... looks like NCCL comes built into pytorch now

[2019-09-26 16:57] #258 closed

[2019-09-26 17:20] #257 closed

[2019-09-26 17:20] williamFalcon commented on #257
nccl comes built into PyTorch now

[2019-09-26 17:20] #249 closed

[2019-09-26 17:58] IISCAditayTripathi opened #259 "Error while importing pytorch_lightning"
### Common bugs:
1. Tensorboard not showing in Jupyter-notebook see [issue 79](https://github.com/williamFalcon/pytorch-lightning/issues/79).
2. PyTorch 1.1.0 vs 1.2.0 support [see FAQ](https://github.com/williamFalcon/pytorch-lightning#faq)

**Describe the bug**
I am getting the following bug while importing pytorch_lightning
![Bug](https://user-images.githubusercontent.com/42270643/65712498-ce37

[2019-09-26 18:02] williamFalcon commented on #259
looks like you're not in your cuda environment

[2019-09-26 18:32] #259 closed

[2019-09-26 18:36] williamFalcon commented on #248
looks cool! but also looks super confusing to use...
i'd suggest just using test-tube for this.

However, if you feel strongly about adding support for this, then propose a minimal example how this should work at the API level first. Once we agree on a good API, you can make whatever changes to Lightning to support it!

[2019-09-26 21:53] williamFalcon commented on #247
Old docs... has been cleaned up.

To modify metrics use:
self.experiment.whatever_you_want_to_do

[2019-09-26 21:53] #247 closed

[2019-09-27 02:56] Ir1d commented on #248
I was thinking that we might dont want to.integret this. bydefault.
Perhaps we could add an example to docs and show it to those who are interested 🤔

[2019-09-27 06:51] Colanim commented on #251
For future reference.

I couldn't use `torch.utils.bottleneck`, it gave me `OOM` error...

---

I ended up using [this so answer](https://stackoverflow.com/a/5376616/9494790) :

[code]

So I could just do :

[code]

And then I visualized it using [snakeviz](https://jiffyclub.github.io/snakeviz/) :

`snakeviz test_step.profile`

which give some neat visualization :

![image](https://user-images.git

[2019-09-27 07:54] xiadingZ opened #263 "Question about multiple optimizers and lr schedulers?"
To train GAN,  I return two optimizers and two schudulers,
1. in `def training_step(self, batch, batch_nb, optimizer_i):`, I return G loss if `optimizer_i == 0` else D loss if `optimizer_i == 1`. Is this correct? Does trainer use same `batch` data to call `train_step` twice, one for `optimizer_i = 0`, one for `optimizer_i=1`?
2. If I want to call `scheduler_0.step()` if `optimizer_i == 0`, `schedu

[2019-09-27 11:28] williamFalcon commented on #263
https://github.com/williamFalcon/pytorch-lightning/blob/master/examples/templates/gan.py

[2019-09-27 11:28] #263 closed

[2019-09-27 12:04] awaelchli commented on #263
@xiadingZ
2. is done by PL automatically. You don't have to manually call step() on the scheduler.

[2019-09-27 12:34] xiadingZ commented on #263
I have read this templates.
But if I only want to call scheduler_0.step() when optimizer_0 is used, how to do? In docs, only have examples with two optimizers and one scheduler.

[2019-09-27 12:39] awaelchli commented on #263
In this case I see two options:
a) Return two schedulers: regular one for optimizer 0 as you said and a dummy one that does effectively no scheduling (step is no op).
b) return no schedulers (just the optimizers) and define your scheduler outside (e.g. in your init method). Then perform the step manually when optimizer_idx == 0.

[2019-09-27 12:40] williamFalcon commented on #263
As @awaelchli mentioned, you don’t have to. PL does it for you.

[2019-09-27 12:43] xiadingZ commented on #263
what i want is to use two scheduler corresponding to two optimizers. In template, optimizer_0 takes effects if optimizer_i = 0, but PL call two schedulers' step(), which affects the optimizer_1.

[2019-09-27 12:48] xiadingZ commented on #263
Thanks, I have read the source code and understood it

[2019-09-27 13:08] xiadingZ opened #264 "How to get gpu id corresponding to each process in 'ddp'?"
In ddp mode, if I use 8 gpus, then it will creates 8 processes for each gpu, if I want to create new tensor at runtime, can I use `.cuda(self.trainer.root_gpu)`? will it use correct gpu corresponding to its process?

[2019-09-27 13:36] williamFalcon commented on #264
yes

[2019-09-27 14:23] #264 closed

[2019-09-27 14:26] williamFalcon commented on #248
agreed. doc example would be good! go for it!

[2019-09-27 15:20] williamFalcon opened #265 "Add tensorboard logger"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-09-27 16:05] #47 closed

[2019-09-27 16:18] williamFalcon commented on #251
@ian-13 @jeffling sounds like you guys were thinking about contributing something like this? have you tried torch.utils.bottleneck: https://pytorch.org/docs/stable/bottleneck.html?highlight=bottleneck?

[2019-09-27 19:19] neggert commented on #241
@williamFalcon Starting to take a look at this. This turns out to affect the MLFlow logger as well when doing multi-node DDP. I think what I'd like to do is make constructing the experiment / MLFlow run inside the logger lazy, so that it doesn't get created until a method that needs it is called.

Once consequence of this is that users shouldn't call `log_hyperparams` themselves, since that will h

[2019-09-27 19:59] williamFalcon commented on #241
Makes sense, i think the hparams makes the most sense. I wonder if there's a way to automatically do it even if users don't define hparams. Maybe argparse has some sort of global state we can inspect? or look at vars in the current frame? I'd love to remove the need for users to remember to have to use hparams.

I'm converned about people who don't use argparse and/or init their models  using actu

[2019-09-28 00:11] neggert commented on #241
Yeah, I'd definitely welcome other ideas that would cover those cases. Maybe ask users to define `hparams` as a property if they're not doing case 2?

[2019-09-29 07:44] chuong98 opened #266 "'LightningTemplateModel' object has no attribute '_lazy_train_dataloader'"
**Describe the bug**
Try to run the file single_gpu_node_ddp_template.py, to test the code, but got error:

**To Reproduce**
Steps to reproduce the behavior:
1. Download folder pytorch-lightning/examples/new_project_templates/
2. run file: $python ingle_gpu_node_ddp_template.py$
3. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete t

[2019-09-29 08:57] lironghua318 commented on #159
你好，我遇到了同样的问题，怎么解决的呢？哪个版本的demo解决了这个问题呢

[2019-09-29 14:26] yoyololicon commented on #266
https://github.com/williamFalcon/pytorch-lightning/blob/324c28eb5e0e3c472d2a6afe2400c55049b1ab78/examples/new_project_templates/lightning_module_template.py#L211

Change function name from 'train_loader' to 'tng_loader' can fix it.

[2019-09-29 14:36] williamFalcon commented on #266
tng changed to train in 0.50

[2019-09-29 19:30] hrukalive opened #267 "How to use EarlyStopping and ModelCheckpoint"
The `logs` passed into the `on_epoch_end` method of both ModelCheckpoint and EarlyStopping seems to have the `loss` field set to a string, which leads to exception when comparing with the last best result. Following codes in trainer.py,
[code]
How should I use the ModelCheckpoint and EarlyStopping, is adding my own field in `progress` field when returning from `training_step` the way to go? What i

[2019-09-29 20:51] williamFalcon commented on #267
tqdm_dict is strictly for logging. To use early stopping or checkpointing:

1. tell the checkpoint what you want to monitor (ie: ```your_acc_or_something```).
2. In training_step return something like:
[code]

[2019-09-29 23:58] vwrj opened #268 "Not sure how to make DP and DPP on single-node, 2-GPU setup work"
When I use DDP, it hangs the process, and no metric log files are created for me to view with tensorboard. I just see two tf event files.

On the other hand, when I use DP, the code runs and I can view the loss values going down in Tensorboard, but I don't see any accelerated training. Running with 1 GPU and running with DP on 2 GPUs gives me the same training time: 12 min. I've tried with differe

[2019-10-01 05:41] Rikorose opened #271 "JIT support"
**Initial issue description below**

JIT support requires several changes in the `Trainer` and `LightningModule`:
- [x] No use of python properties like the current dataloader implementation
    - Possible solution: Use getters like implemented in #275
    - Other possibility: Handle dataloading completely in trainer. The user is able to modify the dataloaders e.g. every epoch using hooks/callback

[2019-10-01 08:19] kvhooreb opened #272 "Trainer track_grad_norm always results in 0"
**Describe the bug**
The Trainer has a flag `track_grad_norm` which allows us to log the gradient norms to Tensorboard. This flag is checked in the `run_tng_epoch` function after the training step and validation step. However, the training step (`__run_tng_batch`) calls `model.optimizer_step()`, which, in the default implementation, calls `optimizer.zero_grad()`. This results in the tracked gradie

[2019-10-01 08:29] kvhooreb commented on #272
I temporarily worked around this by overwriting the `optimizer_step()` function of my LightningModule to not set the gradients to zero, and moved that to the `on_batch_start` hook. However, it's clear that the validation runs also cause the gradients to be zero. See the image attached, where there is one validation batch every 5 training batches. The gradient clearly periodically drops to zero.
![

[2019-10-01 08:45] Rikorose opened #273 "Make test_tube optional"
**Is your feature request related to a problem? Please describe.**
`test_tube` is only needed when using `TestTubeLogger`, thus it should not be an install requirement like `mlflow`.

[2019-10-01 10:14] williamFalcon commented on #272
good catch!

1. evaluation does not calculate gradients, so it would be zero. the real solution is not to track grad norm during evaluation.
2. [ these lines](https://github.com/williamFalcon/pytorch-lightning/blob/480eed5cb61cb67037cac8b8eb6df9e0fe9286d6/pytorch_lightning/trainer/trainer.py#L1024-L1028), should be moved right before optimizer_step ([this line](https://github.com/williamFalcon/pyt

[2019-10-01 10:14] chuong98 commented on #266
Thanks. Changing the name to train_loader solve the problem. Also, my dataset returns a dict before. I change it to return a tuple, so now I can use ddp option.

[2019-10-01 10:14] #266 closed

[2019-10-01 10:16] williamFalcon commented on #271
Good point. Hadn't tested lightning with JIT. I think the choice of property vs getter made sense for the first design of the framework. However, recent refactors have made those differences irrelevant.

I don't see any reason why we shouldn't move to a getter instead of the property. Do you want to submit a PR for this?

[2019-10-01 10:18] williamFalcon commented on #268
I think the [documentation](https://williamfalcon.github.io/pytorch-lightning/Trainer/Distributed%20training/#Multi-GPU) and [examples](https://github.com/williamFalcon/pytorch-lightning/tree/master/examples/new_project_templates/multi_node_examples) cover this case. Did those not work for you?

[2019-10-01 10:23] #267 closed

[2019-10-01 10:29] Rikorose commented on #271
Yes I can do that

[2019-10-01 10:35] williamFalcon commented on #231
@neggert that's the way to do it. I'll add this to the docs.

[2019-10-01 11:08] williamFalcon commented on #231
@sadbb actually just submitted a PR to enable this.
Once we merge into master, just remove the decorators in the dataloaders. Warning though, your loader will be called every epoch. if any of the loaders are slow to init your script will be very slow.

[2019-10-02 11:20] expectopatronum commented on #216
Where is that?

[2019-10-02 11:23] williamFalcon commented on #216
It’s not in the docs. Need to give examples of how to use.

[2019-10-02 14:46] williamFalcon opened #279 "New logger abstraction breaks self.experiment"
with the new abstraction we can't do:
[code]

instead we have to do:
[code]

@neggert any suggestions on how to fix? Ideally the user can just access the self.experiment object directly and operate on it.

[2019-10-02 15:10] #241 closed

[2019-10-02 15:11] #272 closed

[2019-10-02 15:13] rish-16 commented on #214
Hello there! I'd love to work on this. Any way I can contribute?

[2019-10-02 16:35] williamFalcon opened #280 "Remove SLURM warning when in interactive mode"
No need to show the "we launched processes for you" warning when in interactive SLURM mode.

Suggested by @adefazio

[2019-10-02 16:36] williamFalcon opened #281 "Experiment versions should start with 000 for easier listing"
Instead of ```/dir/version_9``` it should be ```/dir/version_0009```

Suggested by @adefazio