[2021-07-16 13:08] Borda commented on #5491
yes, your selection seems reasonable, we just need to keep in mind to use items that have been here since the "beginning" or at least we set the testing starts from...

but for random data it may not converge and so early stop or checkpoint wont be valid...

[2021-07-16 13:27] maxjeblick commented on #8430
Thanks a lot for the help! I changed my code according to your suggestions, and don't have OOM issues any longer.

[2021-07-16 13:27] #8430 closed

[2021-07-16 14:52] KarenHdez24 commented on #1314
I am getting the same error

MisconfigurationException: You requested GPUs: [0]
 But your machine only has: []

Checking the requirements that you have posted, I've got:

import torch

print(torch.__version__)
<1.9.0+cu102>

import torch
print(torch.cuda.device_count())
<0>

torch.cuda.is_available()
<False>

Im working on google colab. Someone could help me to solve it?

Thanks in advance

[2021-07-16 14:55] awaelchli commented on #1314
@KarenHdez24 on Google Colab you need to request a GPU instance. You can go to the top menu and click `Runtime -> change runtime type -> GPU`

[2021-07-16 15:04] carmocca commented on #5491
Yes, I believe my list are all included since the beginning. We could also have different tests per versions

We can log a fake value to early stop

[2021-07-16 18:26] zcain117 commented on #8358
Great find! Glad it's working now

Do you think it was an OOM that was causing the SIGSEGV? I am curious why there is an OOM for larger TPU sizes.

The `torch_xla` SampleGenerator is here: https://github.com/pytorch/xla/blob/master/torch_xla/utils/utils.py#L44 You can see each SampleGenerator stores `data`, which in this case is a tuple of 2 large tensors. Note that [`torchvision.datasets.fakedata

[2021-07-16 18:54] wanburana opened #8447 "Progressbar text color not suitable for darkmode (Google Colab)"
## 🐛 Bug

The text showing loss and other metrics is not readable in Google Colab dark mode
![image](https://user-images.githubusercontent.com/66191669/125994821-386974a3-f57e-49e5-9e71-e1b63b5506b0.png)

## Please reproduce using the BoringModel

### To Reproduce
You can use already [**BoringModel**](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing) to reprodu

[2021-07-16 19:27] rahumble commented on #7505
@Borda @ananthsub @tchaton @edenlightning, just bumping this.

Willing to help work on a fix/PR if I can get some guidance on how this should be addressed.

[2021-07-17 03:06] tgisaturday commented on #8358
Maybe related to ddp sampler? Since lightning is supposed to autometically add DDP sampler for multi-tpu training and somehow it duplicates the data.

[2021-07-17 04:48] Keiku commented on #5325
Probably due to the seed problem, the values are different, but it seems that quasi-resume training was possible.

## Clean Run (20 epochs on CIFAR10 Training)

Validation Acc: 85.18

<img src="https://user-images.githubusercontent.com/199433/126025597-5ff22688-cccf-4646-961d-eac28bb638fb.png" width="600px">
<img src="https://user-images.githubusercontent.com/199433/126025605-e4eeef7a-3a3c-4725-b7

[2021-07-17 08:54] jamarju commented on #8190
Hello Adrian, this fixed the issue in my case. Thank you. May I suggest that `self.log` produces a warning when used in a `ddp`.

[2021-07-17 22:20] #4632 closed

[2021-07-18 02:19] ytsheng opened #8453 "evaluation_loop memory leak"
## 🐛 Bug

When I first encountered the bug, it manifested in step 13 of the evaluation loop. This is surprising because training was running smoothly, but I received a CUDA out of memory during evaluation. I then printed out the memory allocation in between each evaluation batch, and I saw memory allocated was increasing slightly.

## Please reproduce using the BoringModel
[BoringModel](https://gi

[2021-07-18 06:37] vatch123 commented on #6295
Ya sorry for the delayed response. Would love to start on this if someone can describe the issue a little more. Like what is the current state and what do we want to achieve? Thanks

[2021-07-18 08:23] SeanNaren commented on #8447
I do wonder if other tools such as `rich` have automatic handling of these? cc @tchaton

otherwise we'll have to detect and do some modification to the standard ProgressBar

[2021-07-18 11:22] awaelchli commented on #8190
Hi @jamarju , @mortonjt
The warning is a nice idea, however note most of the time we don't want to log with sync-dist and such a warning could become annoying. I agree for checkpointing it would make sense to include the synced loss. However again, computing just the mean (default for sync-dist) would not always compute the correct value. It depends on the metric we are using. And this problem is

[2021-07-18 11:36] DanTaranis commented on #3071
This is still happening for me - version: '1.3.7post0'

[2021-07-18 14:56] awaelchli commented on #8447
This was reported on the tqdm side here: https://github.com/tqdm/tqdm/issues/1116
not sure if colab's styling is interfering here

[2021-07-18 15:15] dasayan05 commented on #4012
So what is the solution to this issue at the moment ? I am encountering the same that @mees described, i.e. its creating folder if I use `{valid/loss}` like syntax.

[2021-07-18 15:18] KarenHdez24 commented on #1314
Thanks, It works but now, I’m getting this error:

/usr/local/lib/python3.7/dist-packages/pytorch_lightning/callbacks/early_stopping.py<https://localhost:8080/> in _evalute_stopping_criteria(self, current, trainer)

    224                 " Signaling Trainer to stop."

    225             )

--> 226         elif self.monitor_op(current - self.min_delta, self.best_score.to(trainer.lightning_module

[2021-07-18 20:06] EvanZ opened #8455 "RuntimeError: Early stopping conditioned on metric `val_loss` which is not available."
I am trying to implement early stopping. Here is the code in my trainer:

[code]

In the Lightning module I'm logging the validation loss using a TB logger:

[code]

This codes is raising the following errors:

[code]

Does this have to do with using the TB logger instead of the default one?

[2021-07-18 20:22] carmocca commented on #4012
See #6277

[2021-07-18 22:34] jamarju commented on #8190
Does this mean that if I had implemented my loss function (RMSE) as a torchmetric's `Metric` and just called `self.log` from `validation_step` the checkpoint callback would have worked fine without `sync_dist=True`?

[2021-07-18 23:41] #7878 closed

[2021-07-19 00:49] gautamsreekumar commented on #6064
Hi, I am facing similar issues while using DeepSpeed plugin in PyTorch Lightning. My model is a custom CNN. I am using the latest DeepSpeed (0.4.3) and PyTorch Lightning 1.3.3, PyTorch 1.8.1. I am adding my error traceback below. @SeanNaren can you share any fix that worked in your case?

[2021-07-19 01:46] ncuxomun opened #8457 "OOM in GAN"
## 🐛 Bug

GPU memory quickly builds up in few epochs
[code]

 - PyTorch Lightning Version (e.g., 1.3.0): 1.3.8
 - PyTorch Version (e.g., 1.8) 1.9
 - Python version:
 - OS (e.g., Linux): Windows 10
 - CUDA/cuDNN version: 11.1
 - GPU models and configuration: 2070 max-q
 - How you installed PyTorch (`conda`, `pip`, source): pip
 - If compiling from source, the output of `torch.__config__.show()`:
 -

[2021-07-19 04:36] ncuxomun commented on #8457
I might have solved the problem by changing to:
self.manual_backward(x_loss, retain_graph=False).
Is there a doc page where I can look up description for manual_backward operation?

[2021-07-19 06:37] wanburana commented on #8447
UPDATE: I was be able to find the workaround by explicitly changing the text to white
https://github.com/tqdm/tqdm/issues/842#issuecomment-850700218
I assume the problem is mainly from IPython display
Still, it would be nice if we can choose to modify/change progressbar easily. Another problem that I'm facing is that tqdm's progressbar keep switching back and forth from long to short, and the text

[2021-07-19 07:36] awaelchli commented on #8190
Yes, and torchmetrics has it:

https://torchmetrics.readthedocs.io/en/latest/references/modules.html#meansquarederror

just set `squared=False` and it returns the RSME.

[2021-07-19 07:42] justusschock commented on #8457
The issue most likely is that when you append it to your logging dict (why do you do this at all, when we provide the `log` function?) You don't detach anything. Meaning that first you have an increasing number of values there (so memory will increase anyways) but second you store the autograd graph for each value which is pretty large and not necessary. So changing `self.logging_dict['some_name].

[2021-07-19 07:44] justusschock commented on #8455
No, this doesn't. The default one is the TB logger. However, you should call `self.log('val_loss', loss)` instead of `self.logger.log_metrics({'val_loss': loss})` since that way we also call the logger internally, but we also know what values have been logged and thereby can enable early stopping for them :)

[2021-07-19 08:31] #6429 closed

[2021-07-19 08:52] SeanNaren commented on #6064
Thanks @gautamsreekumar! @griff4692 seemed to be running into an issue where the input tensors were not being converted by the DeepSpeed plugin to half. Could you try manually converting your tensors in your step function to see if that works? i.e

[code]

[2021-07-19 08:58] tchaton commented on #8457
Hey @ncuxomun,

Yes, I believe it is related to storing tensors on GPU.

[code]

[2021-07-19 08:59] #8457 closed

[2021-07-19 09:04] tchaton opened #8463 "Memory leak when training multiple models sequentially"
## 🐛 Bug

## Please reproduce using the BoringModel

It seems there might be some memory link related to optimizer states still on GPU.

Check out: https://discuss.pytorch.org/t/how-to-avoid-memory-leak-when-training-multiple-models-sequentially/100315/5

### To Reproduce

Use following [**BoringModel**](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing) and pos

[2021-07-19 10:02] awaelchli commented on #1314
Looking at the error you posted here
`elif self.monitor_op(current - self.min_delta, self.best_score.to(trainer.lightning_module.device)):
`
it looks like a bug we recently fixed:
https://github.com/PyTorchLightning/pytorch-lightning/pull/8295

It should be included in pytorch_lightning 1.4.0rc0 (current latest release)

[2021-07-19 10:05] Borda commented on #7454
ok, feel free to re-open if you have still this kind of issue :rabbit:

[2021-07-19 10:07] Borda commented on #7552
@t-vi are you interested in sending a PR?

[2021-07-19 10:15] tchaton commented on #8455
Dear @EvanZ,

As shared by @justusschock, using `self.log` should work fine :)

Closing this issue, feel free to re-open if it still doesn't work.

Best,
T.C

[2021-07-19 10:15] #8455 closed

[2021-07-19 10:22] tchaton commented on #8432
Dear @akshaylive,

Any chance you could update @awaelchli script ?

Best,
T.C

[2021-07-19 10:26] tchaton commented on #8426
@SeanNaren ?

[2021-07-19 10:35] SeanNaren commented on #8426
Hey apologies myself and @griff4692 have been debugging offline. It seems there is an issue with certain parameters not being converted to half correctly. There is also https://github.com/microsoft/DeepSpeed/issues/1233 tracking the same issue!

[2021-07-19 11:01] tchaton commented on #8453
Dear @ytsheng,

From my first investigation, I am getting constant size when I don't return `{"loss": loss}` from the `validation_step`.

[code]

In Lightning, if you return something on `validation_step`, this will be stored for `validation_epoch_end` on GPU and can result into OOM.

Mind giving it a try ?

Best,
T.C

[2021-07-19 11:15] tchaton commented on #8365
Dear @bmahlbrand,

I run your notebook using ``pip install pytorch-lightning==1.4.0rc0 `` and it seems to work.

<img width="882" alt="Screenshot 2021-07-19 at 13 14 44" src="https://user-images.githubusercontent.com/12861981/126151850-af6f55f0-25e8-44b5-b9a2-cf53ba01aecc.png">

Mind giving it a try ? Feel free to close the issue if resolved.

Best,
T.C

[2021-07-19 11:18] tchaton commented on #8316
Dear @yifuwang,

Would you mind pointing us to the current implementation of such features within DLRM library or provide a pseudo-code on how this would work ?

Best,
T.C

[2021-07-19 11:29] #6672 closed

[2021-07-19 11:35] Borda commented on #8189
@satishjasthi how is it going?

[2021-07-19 13:32] Borda commented on #6457
well you can load it without strict - `.load_from_checkpoint(str(trainer.checkpoint_callback.best_model_path), strict=False)`

[2021-07-19 13:47] Borda commented on #6457
on the other hand, this design requires preparing a model which inherits from the `QuantizationMixin` so as a user you can't simply append/deploy quantization for any model you want... right?

[2021-07-19 14:28] Borda commented on #7427
@t-vi how about adding an extra argument to the callback which would skip this quantization in `on_fit_end` and in such case user needs to call it separately and anytime he/she wants...

[2021-07-19 14:54] t-vi commented on #7427
So there are two practically irreversible transitions: Model -> QAT-Model -> Quantized model.
Yes, it would make sense to have something to skip the second one and offer it as an extra step. It's really a bit sad that you cannot unquantize a model, but it seems that the PyTorch quantization didn't really appreciate the philosophy of PyTorch as much as I would have wished.

[2021-07-19 14:56] t-vi commented on #7552
Can do, but what strategy do we want? graph surgery? explore fx more? something else?

[2021-07-19 15:06] Borda commented on #7427
kind of way around could be replacing the quantized modules with the initial ones and will value from the quantized ones...
what do you think, does it worse to make this kind of reverse engineering?

[2021-07-19 15:07] awaelchli commented on #8463
possibly the same as here: #8430

[2021-07-19 15:17] SeanNaren commented on #8058
We have tests to ensure convergence with accumulation, so for us to go further we need a reproduce of some sort!

[2021-07-19 15:18] t-vi commented on #7427
I think this reversal could be made (you'd have the rounding errors, but hey), but the problem of doing it outside PyTorch that I see is operator coverage.

[2021-07-19 15:21] Borda commented on #7427
what do you mean by operator coverage?

[2021-07-19 15:29] t-vi commented on #7427
I mean that if there are quantized operators we don't handle (correctly) then we can't unquantize the model. I'd have to think a bit about how much of a problem I'd expect it to be, it might be not as bad as I thought it was. (Maybe I just wrote too much about operator coverage in those quantization tutorials... :slightly_smiling_face:  ).

[2021-07-19 15:33] Borda commented on #7552
only the best :D

it is this `def insert_quant(script_module):` right?

by FX you mean another wrapper?
what do you think is the cleanest/less confusing for users?

[2021-07-19 15:36] t-vi commented on #7552
Yes, insert_quant is graph_surgery. To me that seems very reasonable, but it is, let's say, a not yet common use of the JIT graphs.

[2021-07-19 15:50] SeanNaren commented on #4866
@awaelchli I agree that this is something lightning should not do by default. If the user specifies the version we need to be careful not to make any changes to the set version (i.e do not increment).

Just throwing ideas out there, how about some form of auto-increment function that can be called `on_fit_end`?

[2021-07-19 15:51] #7467 closed

[2021-07-19 16:01] kazhang commented on #6457
In that case, we're just loading an un-quantized model, right? What if users do want to load the in8 weights?

For example, there are post training steps (e.g. adding a wrapper to output tuple instead of dict) that happen on another machine. Trained checkpoint has to be able to load elsewhere.

Yup, I don't want to impose this extra constraint, but I couldn't figure out a better way...

[2021-07-19 16:10] Andry-Bal commented on #7250
This feature also will make specifying arguments in command line more convenient. Currently if you use subclasses for either model or data, for every argument you have to use _init_args_ in command line, e.g. `--data.init_args.batch_size 64`, which is a bit annoying.

[2021-07-19 16:24] gautamsreekumar commented on #6064
@SeanNaren  Oh I think my issue is the other way round. My batch and the model are of type Half, but the autograd expected Float type. It is similar to your error, I think.

[2021-07-19 16:52] mddunlap924 commented on #2010
This issue still exists. Do you have any solutions that I can run to release the RAM?

[2021-07-19 17:10] Abhishek-Prajapat commented on #2010
@mddunlap924 I didn't found any precise solution so I just changed my code to accommodate it. I really want PyTorch to bring some sort of garbage collection for their Trainer.

[2021-07-19 17:32] tchaton commented on #6798
Hey @ananthsub @awaelchli,

I started to investigate adding support for uneven number of batches.
From my first observations, Lightning is getting blocked on moving data to the gpus or accessing the loss.
I couldn't reproduce the behaviour with the simple model.join.

[code]

[2021-07-19 17:40] t-vi commented on #7552
No, insert the quant/dequant automatically when quantising.
If we are concerned about bc we can check if the input is quantized and leave prequantized alone.

[2021-07-19 18:07] tchaton commented on #6770
Hey @EricCousineau-TRI,

From investigation, it seems a user-error.

You are using the parameter `p` to compute the loss which is being optimised while logging. Using your code, I have added test at the bottom to validate everything is properly reduced.

[code]

[2021-07-19 18:19] Borda commented on #6457
well, no checkpoint contains quantized weights, as you can see in the callback, the quantization is done to the trained model when training ends compare to checkpoints which are saved from during training before the quantization conversion is called...
so if you want to work with the quantized model, you need to save it extra after training but that seems to be not working as the wrapped forward m

[2021-07-19 18:19] SeanNaren commented on #6064
@gautamsreekumar have you set `precision=16`?

[2021-07-19 18:22] gautamsreekumar commented on #6064
Yes. This is how my Trainer looks like.

[code]

[2021-07-19 18:44] Borda commented on #7552
seems that https://github.com/PyTorchLightning/pytorch-lightning/issues/6457 has a problem with the wrapped `forward` is not pickable, so can we inset it also there?

[2021-07-19 18:47] t-vi commented on #7552
To me #6457 sounds like in the other bug we are discussing: The checkpoint is from the QAT state in "vanilla model -> QAT -> quantized" while the model is not.

[2021-07-19 19:00] bmahlbrand commented on #8365
looks good to me! notebook and the actual project I noticed the problem on seem to run. Thanks!

[2021-07-19 19:00] #8365 closed

[2021-07-19 19:29] tchaton commented on #6770
Closing this issue as it is working as expected, feel free to re-open it.

[2021-07-19 19:29] #6770 closed

[2021-07-19 22:12] #8157 closed

[2021-07-19 23:51] ananthsub opened #8478 "Deprecate summarize() off LightningModule"
## 🚀 Feature

Background
We are auditing the Lightning components and APIs to assess opportunities for improvements:
- https://github.com/PyTorchLightning/pytorch-lightning/issues/7740
- https://docs.google.com/document/d/1xHU7-iQSpp9KJTjI3As2EM0mfNHHr37WZYpDpwLkivA/edit#

One item that came up was `summarize()` defined on the LightningModule. This does not need to be on the core API.

**Objective

[2021-07-20 01:33] ananthsub opened #8479 "Inconsistent API for on_predict_epoch_end"
## 🚀 Feature

Background
We are auditing the Lightning components and APIs to assess opportunities for improvements:
- https://github.com/PyTorchLightning/pytorch-lightning/issues/7740
- https://docs.google.com/document/d/1xHU7-iQSpp9KJTjI3As2EM0mfNHHr37WZYpDpwLkivA/edit#

One item that came up was `on_predict_epoch_end()` defined on the ModelHooks Mixin. This accepts an `outputs: List[Any]` argum

[2021-07-20 03:49] yangyyt commented on #6457
hi, So how should we use quantitative weights?  Calculate quantization weights based on weights and statistical parameters?

[2021-07-20 04:20] datacubeR opened #8482 "Very annoying LightningDeprecationWarning: Relying on `self.log('val_loss', ...)`"
## 🐛 Bug

Following all of the instructions provided in the Documentation I can't understand the warning:
[code]
## Please reproduce using the BoringModel
https://colab.research.google.com/drive/15TS0iWvfo6tvRtze-9tHOaZi0uWsHtUe?usp=sharing

### To Reproduce

Just Run the Notebook...

### Expected behavior

IMHO the suggestion provided by the warning is not clear and I can't find a way to avoid it

[2021-07-20 05:49] mauvilsa commented on #7250
Being able to register models or data modules does not imply that the arguments can be overridden without using `init_args`. That is completely different feature. If you like you can create a feature request for this. Could be in jsonargparse since it does not really relate to lightning.

[2021-07-20 08:22] Borda commented on #6457
I see two options:
- you would need to save the model after training :100:
- adding extra arguments which would save as checkpoint already quantized model :+1:

[2021-07-20 08:47] tchaton commented on #8040
Dear @EdwardJB,

Small correction to the above script.
[code]

I tried to debug this behaviour but couldn't reproduce it.

Do you use any additional callbacks ?

I will keep investigating.

Best,
T.C

[2021-07-20 08:54] tchaton commented on #8482
Dear @datacubeR,

I entirely understand your frustration. Lightning tries to provide as much information as possible to avoid breaking changes with a 2 cycle depreciation. This is important for people using Lightning in production, better to annoy than break :)

This particular warning indicates that the ModelCheckpoint used to rely `magically` on `val_loss` for checkpointing if no monitor was pro

[2021-07-20 08:55] tchaton commented on #8482
I am closing this issue, feel free to re-open it if you have more questions.

[2021-07-20 08:55] #8482 closed

[2021-07-20 11:00] awaelchli commented on #4866
@shijianjian The PR #7403 is going to fix this issue.
Two small notes about your use case:

[code]

1) Here it would be better to access `self.trainer.log_dir` because that is universal for all loggers.
2) If you are accessing and writing to the log_dir, it would be best to do that with a guard

[code]

to avoid race conditions.

[2021-07-20 12:05] gaoteng-git commented on #8236
I can't reproduce it. The trace json could be dumped on my side, using your provided "pip install".
![image](https://user-images.githubusercontent.com/10429114/126320680-72bb2bd1-315a-4449-a58e-dfb63eb8a8fa.png)

Would you please check where it hangs?

[2021-07-20 12:40] yangyyt commented on #6457
Thanks for your answer. Firstly, quantized model is already trained. By printing the state_dict of checkpoint,I can see more parameters. but I don't know how to use these.   how should I use these parameters? can you give me a reference? or tell me some ways?
egs:
conv.weight
conv.bias
conv.weight_fake_quant.fake_quant_enabled
conv.weight_fake_quant.observer_enabled
conv.weight_fake_quant.scale
co

[2021-07-20 13:23] SeanNaren commented on #6651
Support has been tentatively added in #8488, without end to end testing. So if anyone gets the chance to try this out on Windows end to end and report back it would be awesome!

[2021-07-20 13:55] #6651 closed

[2021-07-20 14:26] awaelchli commented on #4612
for everyone finding this issue or still having problems, make sure you run with `NCCL_DEBUG=INFO` and include it in any bug reports (here or anywhere else). DDP/NCCL hanging can be caused by many things. Setting the `NCCL_DEBUG=INFO` environment variable often tells us why.

[2021-07-20 16:12] #7790 closed

[2021-07-20 18:31] #7089 closed

[2021-07-20 18:40] tchaton commented on #7638
Dear @Rizhiy,

Thanks for looking deeper into it.
I will investigate tomorrow :)

Best,
T.C

[2021-07-20 18:58] tchaton commented on #8236
Dear @nanddalal,

Could it be related to https://github.com/pytorch/pytorch/issues/60158 ?

Best,
T.C

[2021-07-20 19:07] gautamsreekumar commented on #6064
Hi @SeanNaren, I tried to reproduce the error using minimal tools, but the error does not come then. I am not sure which component in my code reproduces this error, and I am not sure if I can share the code as it is part of an on-going research.

[2021-07-20 20:21] ananthsub commented on #8343
Thanks @calebrob6 ! #8495 will deprecate this off the core LightningModule API. A separate function under https://github.com/PyTorchLightning/pytorch-lightning/tree/master/pytorch_lightning/utilities for a model size that accepts an nn.Module could be useful in parallel. If you have a chance, feel free to contribute this 😄

[2021-07-20 20:26] kazhang commented on #6457
Yes, they are statistics. I assume user only need to call `torch.quantization.convert(pl_module, inplace=True)` on a module with those statistics to get the final quantized weights, right?

On a different note, in some use cases, users might want to customize how to quantize the model, for example, only quantize the trunk and keep the head in fp32 so that model is fast enough without losing too mu

[2021-07-20 20:29] dhairyadalal commented on #8393
@SeanNaren Thanks that seemed to work!

[2021-07-20 20:29] #8393 closed

[2021-07-20 20:45] jamarju commented on #8190
Agreed. I would not warn about logging non synced metrics. But I would certainly warn when trying to checkpoint based on a non-synced metric.

That's great. But there should be a pointer in that direction in my humble opinion.

[2021-07-20 21:44] versatran01 commented on #7653
I found this a bit annoying too. I ended up just saving all my metrics to some random member of my LM in test_epoch_end. Something like

[code]

[2021-07-20 22:23] carmocca commented on #8343
Not really, this was added by @Borda in https://github.com/PyTorchLightning/pytorch-lightning/pull/5706
as we already have a `model_size` "utility" in:
https://github.com/PyTorchLightning/pytorch-lightning/blob/4c79b3a5b343866217784c66d122819c59a92c1d/pytorch_lightning/core/memory.py#L261-L264

So the deprecation of the property in the `LightningModule` should also address its replacement.

[2021-07-21 01:37] ananthsub opened #8499 "Support for PyTorch's optimize_for_inference mode"
## 🚀 Feature

Leverage PyTorch's optimize_for_inference mode for performance benefits during model evaluation and inference

PyTorch has recently introduced an experimental API `optimize_for_inference`:
- https://pytorch.org/docs/master/generated/torch.inference_mode.html#torch.inference_mode
- https://pytorch.org/docs/master/notes/autograd.html#locally-disabling-gradient-computation
- https://git

[2021-07-21 01:45] carmocca commented on #8499
We could also enable it for test, right?

[2021-07-21 01:50] ananthsub commented on #8499
Yup! I wonder if we could with validation too, as long as we're careful to reset the mode before the next train loop call

[2021-07-21 02:40] eladsegal opened #8502 "Resuming training from checkpoint doesn't work correctly with BaseFinetuning"
## 🐛 Bug

When the model is using a callback that inherits from BaseFinetuning and the training is resumed, the optimizer doesn't get the right param groups restored, resulting in an exception.

## Reproduction using the BoringModel
I've added a `backbone` module to the model and a `BackboneFinetuning` callback to the trainer which unfreezes backbone at epoch 2.
In training, right after the beginn

[2021-07-21 03:01] calebrob6 commented on #8343
I added a simple utility function + tests in https://github.com/PyTorchLightning/pytorch-lightning/pull/8500 before I saw the above. @carmocca are you saying that the model size functionality should belong in the `ModelSummary` class?

[2021-07-21 03:05] tchaton commented on #8502
Dear @eladsegal,

Mind trying master, I should be resolved.

If not, mind sharing a reproducible script ?

Best,
T.C

[2021-07-21 08:11] #7839 closed

[2021-07-21 09:19] awaelchli commented on #8369
@jwallat Closing for now.
Feel free to come back anytime and let us know if it is still not working.
I added a test in #8442 to make sure the val_dataloader for validate gets used.

[2021-07-21 09:19] #8369 closed

[2021-07-21 09:23] #7853 closed

[2021-07-21 09:23] awaelchli commented on #7853
@marsggbo thanks for your help!

[2021-07-21 09:37] #8463 closed

[2021-07-21 10:12] EdwardJB commented on #8040
Hi! Thanks for coming back to me. Yes my real-world model uses the following:

[code]

Let me know if you need anything else.

[2021-07-21 10:35] awaelchli commented on #7550
I may have found something. This works in a Jupyter notebook

[code]

came to this idea when reading the PyTorch source code and reading this [remark](https://github.com/pytorch/pytorch/blob/db11619901e1bd941042af4c49c6e9da7b0d206d/torch/multiprocessing/spawn.py#L160):

[code]

I will see if I can incorporate this into our spawn plugin and see what happens for cuda

[2021-07-21 10:46] #5334 closed

[2021-07-21 11:53] yangyyt commented on #6457
Thank you very much.  I have search and read some introductions, so I sort of get an idea of what to do. After the model training is completed, the weight of floating point should be converted to fixed-point weight according to scale and zero point. However, calling torch.quantization.convert(pl_module, inplace=True) on a module can only generate these statistics, not the final quantized weight.

[2021-07-21 12:06] skanti commented on #8384
Objectively looking at it:
Hard to think of benefits of discarding information/data. I mean there is not even an option to not discard the first iteration.
One use case particularly interesting for me is to observe the absolute drop of my train/val losses (from the first iteration).

Also:
How are `num_sanity_val_steps` logged for `log_every_n_steps > 1`? Seems to log only for `log_every_n_steps =

[2021-07-21 12:29] carmocca opened #8506 "[RFC] Re-design `call_hook` interface"
## 🚀 Feature

The current `Trainer.call_hook` implementation has several drawbacks:

1. The call order cannot be modified. Forces that `Callback` hooks are called before `LightningModule` hooks of the same name, however, this is not always true. An example is `on_load_checkpoint`, where the order is the opposite.
2. Any trainer method (which maybe is not part of the `Callback` hook API) with the s

[2021-07-21 13:03] awaelchli commented on #7550
We are blocked here.

Summary:
[code]
[code]

C) is also used by the TPU spawn plugin, that's why it works in Google Colab.

I don't know what we can do at this point. Need to look into multiprocessing support in pytorch.

[2021-07-21 13:25] Borda commented on #6457
I guess you are talking about #8069

the tricky part is that you need to do exactly the same conversion as you did before, so now implementing with resume from a checkpoint, see #8485

[2021-07-21 13:31] Borda commented on #7550
so you say we are in deadlock, A+B does not shoe progress but works, C fails to start for multi-GPU

[2021-07-21 14:04] marsggbo commented on #8336
Is any possible reason to explain this phenomenon?

[2021-07-21 14:10] carmocca commented on #8343
Yes, as it is already supposed to compute `model_size`

[2021-07-21 14:13] carmocca commented on #8499
Not sure about this one, I can image somebody saving a validation `inference-only` tensor and trying use it on a computation that has a training tensor. This would fail, right?

[2021-07-21 15:16] manipopopo opened #8507 "`Observer`s are updated with validation data in quantization aware training"
## 🐛 Bug

`Observer`s are updated (trained) with validation data in quantization aware training. Should `pytorch_lightning.callbacks.QuantizationAwareTraining` apply `torch.quantization.disable_observer` on `pl_module` in `on_validation_start` or `on_validation_epoch_start`?

## Please reproduce using the BoringModel

### To Reproduce

[code]

### Expected behavior

No `AssertionError` occurs. The

[2021-07-21 15:16] gautierdag opened #8508 "DeepSpeed: output with shape doesn't match the broadcast shape"
## 🐛 Bug

I am getting an error when using `deepspeed` with a transformer wrapped in a Pytorch Lightning module, whereas my training script works fine without deepspeed. I'm not sure why this is the case, and would appreciate any and all help to follow.

[code]

When using a larger model (`microsoft/deberta-v2-xlarge`) that does not run on my GPU due to CUDA OOM errors, I obtain another error whic

[2021-07-21 18:51] tchaton opened #8509 "Support Lightning Logging without Trainer"
## 🚀 Feature

### Motivation

To ease conversion from pure PyTorch to Lightning, users might start by creating their LightningModule.

However, their code would break if they try to log as the trainer isn't available.

Currently, we have 2 options:
* make `self.log` in the absence of a Trainer
* add support for logging without a trainer.

Here is a pseudo code to explain how we could support it.

[2021-07-21 19:03] Troublem1 commented on #2210
Hi, please has this been fixed?
run into the same error while working with a binary classification problem
_No positive samples in targets, true positive value should be meaningless_

[2021-07-21 21:14] mleshen commented on #8043
hi @awaelchli, thanks for your patience! the problem was that I forgot to call on_load_checkpoint.

i've updated in here #8515 with a method that serializes loading model state in the FSDP plugin, trying to keep everything as close to the FSDP plugin as possible instead of messing with the logic in checkpoint_connector.

[2021-07-21 22:13] awaelchli commented on #8478
Hey @ananthsub thanks for setting this in motion.

I am not convinced about it. If we remove it then there won't be any model summary by default and a user has to explicitly add the callback (opt-in). By this reasoning, we would then also remove the progress bar etc.
Isn't it a good thing that Lightning provides reasonable defaults that benefits most users? By turning these features off we must be

[2021-07-22 00:13] ananthsub commented on #8478
@edenafek - how could we get this evidence from users to confirm what the preferred experience should be? A poll on GitHub / slack?

I think the options are:
- Over time, require users to explicitly add a model summary callback to the Trainer
- OR: offer a boolean flag on the Trainer for whether to enable the model sumary. By default the flag is True. If no implementation is attached to the callba

[2021-07-22 00:19] carmocca commented on #8509
I don't quite understand the motivation. Are you saying that new users would:

1. Convert their `nn.Module` into a `LightningModule`
2. Keep their training loop but use the `LightningModule` hooks manually
3. Replace their training loop with the `Trainer`

So you want to be able to `self.log()` inside the `LightningModule` so step (2) works?

Another challenge associated is that the following `log

[2021-07-22 01:37] Divide-By-0 opened #8518 "Generator not an optional argument"
## 🐛 Bug

The generator is an optional arg but throws an error.
[code]

## Please reproduce using the BoringModel

N/A not relevant

### To Reproduce

Import AtomsLoader from https://schnetpack.readthedocs.io/en/stable/_modules/schnetpack/data/loader.html#AtomsLoader

`    super(AtomsLoader, self).__init__(
            dataset=dataset,
            batch_size=batch_size,
            shuffle=shuffle

[2021-07-22 01:38] Divide-By-0 commented on #8518
@carmocca

[2021-07-22 07:25] awaelchli commented on #7550
Yes, A+B are not compatible with Jupyter and C) is compatible with Jupyter but not when we use cuda.

[2021-07-22 08:22] Borda commented on #8507
that is a good question and I feel that users may want both... so how about disable the validation data usage by default but still add an argument for enabling it? so we would implement it in `on_validation_start`/`on_validation_end`
@PyTorchLightning/core-contributors @awaelchli other thoughts?
@manipopopo interested in sending such PR?

[2021-07-22 08:30] kobiso opened #8520 "DeepSpeed does not work with LearningRateMonitor"
## 🐛 Bug
I'm trying to use DeepSpeed, but `LearningRateMonitor` seems to be not working with it.
It shows below warning at the beginning of training, and it fails logging on the Tensorboard.
Without DeepSpeed, `LearningRateMonitor` works perfect.

[code]

Below is the same issue reported in the Discussions.
- https://github.com/PyTorchLightning/pytorch-lightning/discussions/7777

## Please reprodu

[2021-07-22 08:39] gautierdag commented on #8508
After more digging, this is looking like an a problem with the way that `huggingface` integrates with `deepspeed` and the way that `pytorch-lightning` does it. Eg. If you replace the `huggingface`transformer model with a basic `nn.Embedding` layer, `deepspeed` works fine..

[2021-07-22 09:02] awaelchli commented on #7337
@lizhitwo Maybe it wasn't like this at the time of writing this issue, but we now have a warning at the top of this example:

What do you think of adding this comment: #8521 ?

[2021-07-22 10:03] #6503 closed

[2021-07-22 10:57] awaelchli commented on #7810
@kaushikb11 I would recommend removing the P0 here, since ddp_cpu is really just meant for debugging. It's not recommended over just regular training with accelerator=cpu, as there are not performance benefits.

What is your recommendation regarding the issue. Do we want to handle it in the accelerator connector with a error message, that this combination is not supported?

[2021-07-22 11:08] kaushikb11 commented on #7810
Yup, let's add an error message in the Accelerator Connector that this combination as we are sure it is not supported, rather than the Users being bombarded with some alien error.

Will do a PR for this.

[2021-07-22 12:44] #7427 closed

[2021-07-22 14:07] SkafteNicki commented on #2210
@Troublem1 if you do not have any positive samples then the score is meaningless. Are you trying to evaluate this per batch?

[2021-07-22 15:43] manipopopo commented on #8507
@Borda I'm glad to send a PR if the issue is confirmed.

[2021-07-22 16:33] NathanGrimaud commented on #8236
I might have joined my nvidia driver version :disappointed:
After a kernel & driver update everythings looks to be ok.
Latest nvidia version installed was 465.31-1
Current working version: 470.42.01.

I was not using the specific 465.19.01 version but my issue can be related to the issue linked above

[2021-07-22 16:46] bw4sz commented on #3898
Can we re-open here or get some guidance how we can make reproducible? I see this at random (re-run does not produce it) on DDP on slurm. Too many workers?

[2021-07-22 18:28] nik-sm opened #8525 "[docs] Incorrect pseudocode for automatic optimization with multiple optimizers"
I have a model with two optimizers.

The docs at https://pytorch-lightning.readthedocs.io/en/latest/common/optimizers.html#automatic-optimization currently state that when training with multiple models and automatic optimization, each batch will be run through BOTH models.

However, by using using `Trainer(..., limit_train_batches=10)` and counting the number of batches seen by each model, I obser

[2021-07-22 18:42] Troublem1 commented on #2210
Yes i was.. should i calculate it per epoch instead?

[2021-07-22 18:43] nik-sm commented on #8525
@carmocca

[2021-07-22 19:25] kandluis commented on #8507
Yeah, this is a good issue. Most users would probably want to avoid calibrating with the validation set. My 2 cents here is that the model used for validation be as close as possible to the "final" model. From that POV, would it make sense to `convert` the model as well before the validation data is run?

That makes the design more complex, but would also make the validation metrics more accurate.

[2021-07-22 20:04] Borda commented on #8507
so the conclusion is to add an argument that would disable observing for validation, right?

[2021-07-23 02:00] carmocca commented on #8525
Did you mean multiple optimizers?

With this reproduction snippet, it does appear that each batch is used for all available optimizers

[code]

output:
[code]

Can you try to reproduce the different loop behaviour you are experiencing with this example?

[2021-07-23 02:13] carmocca commented on #8395
As requested, you will have to provide a runnable full implementation or colab link which shows the error in question.

[**Simple model**](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/bug_report_model.py)
[**Colab link**](https://colab.research.google.com/drive/1HvWVVTK8j2Nj52qU4Q4YCyzOm0_aLQF3?usp=sharing)

Otherwise, we cannot easily help you find what is causing

[2021-07-23 02:14] carmocca commented on #6090
@kaushikb11 can you comment on the status of this issue and what would the next steps be?

[2021-07-23 02:21] anik123 commented on #8395
@carmocca Thanks for your suggestion

here is the code: [colab ](https://colab.research.google.com/drive/1tRCyqagcTEe6T9iozE_L9nnoJbrC1PIa#scrollTo=KW0cu1tekXht)
dataset: [USA_Housing.csv](https://www.kaggle.com/aariyan101/usa-housingcsv)

[2021-07-23 02:28] celsofranssa commented on #5384
Hello,

Any update on this?

[2021-07-23 03:02] carmocca commented on #5384
Just tried this minimal example

[code]

But I don't see any errors. Can you try adapting it to reproduce the issue?

Given the `ConfigKeyError`, my best guess is that the issue is unrelated to Lightning, but appears there because the `to_container` call includes `resolve=True` and your Hydra config breaks because the required key is missing

[2021-07-23 03:07] celsofranssa commented on #5384
I've just got around the error as follows:

[code]

[2021-07-23 03:21] nik-sm commented on #8525
Thanks for following up. This weekend I can I can try to shrink my code down to a minimal example and add here.

Yes I did mean multiple optimizers, not just multiple models.

Just as a sanity check, I confirmed my observation by just doing the following:

[code]

And as you say, for 3 batches of data:
- your snippet above gives `batch_counts = [3, 3]` (matching the docs)
- my code gives `batch_co

[2021-07-23 05:06] manipopopo commented on #8507
It would be nice if we can performance validation with converted models.

But I'm not sure how to properly handle the prepared model and the converted model in current `pytorch_lightning.callbacks.Callback`. And maybe the validation loop would be slow as we move the converted model to CPU to run the quantized operators.

Maybe we could only disable the observers for the moment?

[code]

[2021-07-23 06:55] dalek-who opened #8531 "Skip batch when cuda out of memory"
## 🚀 Feature

When training on a large dataset, sometimes I'll meet a `cuda out of memory` batch and stop my process. However, reducing batch_size will hurt performance and waste computation resource since this extreme case is rare. Also, my batch is dynamically generated, so I can't filter it before training_step. The easiest trade-off is dropping this batch (in forward, backward or optimizer.upd

[2021-07-23 07:18] #4866 closed

[2021-07-23 07:41] Borda commented on #8507
@manipopopo lets split it, lest make one with the observer:
[code]
so just list the phases which are used for collection stats, but we shall never use it for testing

Another PR would be adding an argument to run validation on the quantized model, but that shall be also on GPU if available

[2021-07-23 08:21] awaelchli commented on #7638
The reason for the freeze here is that you are generating a checkpointing folder path with a call to `uuid()` and this is not deterministic, so each process will independently generate such a folder. When configuring the Trainer, you have

[code]
where on one rank the folder exists and on the other it doesn't (it is different and we never saved anything there). The code path diverges on the ranks

[2021-07-23 09:00] hihunjin opened #8532 "[typo] link of ``clip_grad_norm``"
## 📚 Documentation

For typos and doc fixes, please go ahead and:

1. Create an issue.
2. Fix the typo.
3. Submit a PR.

Thanks!

links in [this lines](https://github.com/PyTorchLightning/pytorch-lightning/blob/dd340a659818def94468f11aa4fed492e27f3e92/pytorch_lightning/utilities/enums.py#L104) about ``clip_grad_norm`` and ``clip_grad_value``.
These two should be [value](https://pytorch.org/docs/st

[2021-07-23 09:08] #8520 closed

[2021-07-23 09:27] awaelchli commented on #8123
Hi @surya-narayanan
still experiencing this issue? Could you share a few details how you saved the checkpoints (model chekcpoint callback?) and how you are loading that model back for testing.

[2021-07-23 09:33] awaelchli commented on #8355
Hey @aliceinland

Did you forget to submit the `FashionDatasetModule`? There is also an undefined function `calculate_map`. Could you also share this code so we can run the example.

[2021-07-23 09:47] aliceinland commented on #8355
Hi @awaelchli!
No, the dataset module is in the section before as you can see from the code above!
[code]
The calculate_map function, instead, is in another file included at the beginning (utils_maskrcnn_lt)
[code]
The code for this function was taken from [here](https://www.kaggle.com/kshitijpatil09/pytorch-mean-absolute-precision-calculation/log).

The Lightning Module Dataset call another funct

[2021-07-23 09:47] #8355 closed

[2021-07-23 10:29] awaelchli commented on #4385
@jabertuhin what you are showing makes sense. If you want the same output in each cell, you also need to put the seeding in both cells.

[2021-07-23 11:51] awaelchli commented on #4385
This issue is will be fixed by #5007, but need to wait until after 1.4 as some of the changes required will not be possible to make BC.

copy-paste full example reported by @ananthsub for me to verify agains #5007.

[code]

[2021-07-23 12:05] Rizhiy commented on #7638
@awaelchli Hi, I'm not sure how to make it deterministic since this problem occurs inside pytest which generates a unique directory for each test.

[2021-07-23 12:13] awaelchli commented on #7638
Yes, we can't expect pytest to work with "ddp". When you specify accelerator="ddp" we expect that the user runs the code as a script, so that Lightning can call the script several times under the hood.

You can use ddp_spawn alternatively, which should be ok for your use case.

In our test suite here in Lightning, we call pytest in a special way. See https://github.com/PyTorchLightning/pytorch-lig

[2021-07-23 13:06] #8532 closed

[2021-07-23 14:03] #7996 closed

[2021-07-23 17:49] #8502 closed

[2021-07-23 19:35] tobiascz opened #8537 "Origin Warning: [W pthreadpool-cpp.cc:90] Warning: Leaking Caffe2 thread-pool after fork. (function pthreadpool)"
## Warning

I am training a model with ddp an every time the dataloader gets called e.g. when starting training or starting evaluation I get the warning:

`[W pthreadpool-cpp.cc:90] Warning: Leaking Caffe2 thread-pool after fork. (function pthreadpool)
`

In the training function of my code I already disabled warnings:
`
logging.disable(logging.WARNING)
warnings.filterwarnings("ignore")`

which sh

[2021-07-23 20:22] kandluis commented on #8507
Yes, I think this seems reasonable. I would say that by default we can disable calibration on the validation set as suggested above to keep this PR targetted.

[2021-07-24 02:56] ananthsub commented on #6977
- This also applies to Sharded Data Parallel, but not FSDP
- As a result, this will avoid needing uneven end of data handling for DP/DDP/SDP but not FSDP when not fitting

[2021-07-24 04:02] #7744 closed

[2021-07-24 13:03] MohammedAljahdali opened #8542 "Pruning callback causes GPU memory leak when used iteratively"
### Discussed in https://github.com/PyTorchLightning/pytorch-lightning/discussions/8363

<div type='discussions-op-text'>

<sup>Originally posted by **MohammedAljahdali** July 10, 2021</sup>
Hi, I have a script that does the following logic:
[code]

There is much more going on, but to keep it simple this is the flow that I have, my question is there another preferable way to what I just did? Also,

[2021-07-24 20:02] awaelchli commented on #8537
Hi, it is coming from pytorch 1.9: https://github.com/pytorch/pytorch/issues/57273
Some users report that the warning disappears with `pin_memory=False` in the dataloader.

[2021-07-25 09:25] yangyyt commented on #6457
emmm,  trainer = pl.Trainer(resume_from_checkpoint=model_path, callbacks=[QuantizationAwareTraining()]) can resume from a checkpoint to train continuedly. but I only want to load the quant model that someone else has trained,  and test the model. QuantizayionAwarwTraining  of pytorch is okay to load the quant model,  but pytorch-lightning is not okay.  That's true, right？

[2021-07-25 09:26] yangyyt commented on #6457
emmm,  trainer = pl.Trainer(resume_from_checkpoint=model_path, callbacks=[QuantizationAwareTraining()]) can resume from a checkpoint to train continuedly. but I only want to load the quant model that someone else has trained,  and test the model. QuantizayionAwarwTraining  of pytorch is okay to load the quant model,  but pytorch-lightning is not okay.  That's true, right？

[2021-07-25 18:36] lizhitwo commented on #7337
You are right, when I opened this ticket the warning was not there.
This change clarifies things; my thoughts are:
(1) Would it be clearer if ``(which includes the `training_step`)`` changes into ``(including `training_step()`; see warning above)``?
(2) If it were up to me, I would add a tutorial for implementing `accumulate_grad_batches` because it involves calling `optimizer_closure()` without c

[2021-07-25 20:31] talhaanwarch opened #8544 "improve Trainer.tune output display"
There is unnecarry logging, which does not convey any information. Can we remove it.
**During tuning**
![image](https://user-images.githubusercontent.com/37379131/126912551-83ddbc26-90ff-4603-bfc2-a826f356e158.png)
**During training**
![image](https://user-images.githubusercontent.com/37379131/126912637-517596d6-a900-4ce0-b6a2-890f11c3194f.png)

[2021-07-26 02:30] kobiso opened #8546 "Dataloader error when using DeepSpeed"
## 🐛 Bug

After https://github.com/PyTorchLightning/pytorch-lightning/pull/8527 PR is merged, I tested DeepSpeed with pytorch lightning nightly version and got dataloader error as below:

[code]

The code works fine without deepspeed.
I'm guessing when using deepspeed, it does not call `setup()` [method](https://pytorch-lightning.readthedocs.io/en/stable/extensions/datamodules.html#setup) in `Ligh

[2021-07-26 04:16] cheind opened #8550 "Invoke `callback.on_checkpoint_load` when validating/testing"
## 🚀 Feature
I would love to see `callback.on_checkpoint_load` to be invoked when validating/testing from a checkpoint.

### Motivation

I am working on a mechanism to increase ML reproducability by storing/comparing git commit info during training and testing

https://github.com/cheind/pl-git-callback

In particular see the tests here

https://github.com/cheind/pl-git-callback/blob/f1076cccaebd8a

[2021-07-26 07:50] #7486 closed

[2021-07-26 07:51] #7337 closed

[2021-07-26 08:04] #8518 closed

[2021-07-26 08:12] xfffrank commented on #5558
Same issue here.

[2021-07-26 08:14] Co1lin opened #8552 "What is the monitor of lr_scheduler?"
### Discussed in https://github.com/PyTorchLightning/pytorch-lightning/discussions/8541

<div type='discussions-op-text'>

<sup>Originally posted by **Co1lin** July 24, 2021</sup>
Hi! I’m wondering what is `metric_to_track` for the parameter monitor  of a learning rate scheduler? I see the example that uses `"val_loss"` as its value, but I don’t know is `val_loss` a name of a variable (where shoul

[2021-07-26 08:26] awaelchli commented on #7337
@lizhitwo Thanks for your feedback
I will address them in #8551. Feel free to comment there directly so your comments don't get missed :)

[2021-07-26 08:58] ethanwharris commented on #8552
Hi @Co1lin, you can configure the monitor for LR scheduling in the `configure_optimizers` hook of your `LightningModule` as detailed here: https://pytorch-lightning.readthedocs.io/en/stable/common/optimizers.html?highlight=lr%20scheduler#learning-rate-scheduling

Hope that helps :smiley:

[2021-07-26 09:03] #8552 closed

[2021-07-26 09:34] tchaton opened #8555 "Enable auto parameters tying for TPU"
## 🚀 Feature

### Motivation

Currently, TPU requires to tie the parameters after the weights are being moved to TPU and users need to override the `on_post_move_to_device` which isn't intuitive and requires some expert knowledge, especially if you are using model from a library and you are fully aware of its internal architecture yet.

Lightning could automate this process and depreciate `on_post

[2021-07-26 09:34] tchaton commented on #8555
Hey @kaushikb11, mind sharing your thoughts ?

[2021-07-26 10:01] kaushikb11 commented on #8555
Hey @tchaton, this sounds good to me. Agreed, users would face this issue while using an external library without having control over the warning.

[2021-07-26 10:25] SeanNaren commented on #6047
Circling back to this issue, if people could share their setup + model size this would help drastically.

[2021-07-26 10:33] SeanNaren commented on #4522
@simonm3 would you be able to provide more details? I'm circling back to this after a long while and need to come up with a reproducible script (cc @williamFalcon, who I think had a reproducible script at some point).

Below I have an example of a backbone which doesn't record gradients, however a single layer on top recording gradients. Maybe we can start there and modify:

[code]

[2021-07-26 10:36] SeanNaren commented on #8092
Resume from checkpoint hasn't been supported, but support is being worked on in #8397. We're waiting for 1.4 to come out before continuing the changes here, as we'll be introducing a few breaking changes.

[2021-07-26 11:10] SeanNaren commented on #8125
Thanks for your reproducible sample @ GeorgeQ-Q

I've made a fix in lightning bolts here: https://github.com/PyTorchLightning/lightning-bolts/pull/694 with the latest DeepSpeed this works as they've fixed the underlying issue with GPT vision models as well :)

For anyone who is doing custom code, make sure the types are correct of any tensors you're making within the forward pass of your module.

[2021-07-26 11:11] SeanNaren commented on #6064
iGPT is fixed in https://github.com/PyTorchLightning/lightning-bolts/pull/694 and this issue has been resolved in the latest DeepSpeed. @gautamsreekumar if you're able to reproduce the issue you're running into, please make another issue to track!

[2021-07-26 11:11] #6064 closed

[2021-07-26 11:17] SeanNaren commented on #8058
Here is a reproducible script which works as expected:

[code]

Obviously this is one case, model/dataset/environment and setup can all play a part into a failure here, but it seems the logic works as expected.

[2021-07-26 13:11] kaushikb11 commented on #8358
@tgisaturday Could you add the recent updates to the Github issue?

[2021-07-26 13:30] Gladiator07 opened #8559 "Wandblogger not logging train loss after every step"
## 🐛 Bug

I am using wandb with Pytorch Lightning. I am logging train/loss, val/loss, train/metric, val/metric. Everything is logged properly to wandb dashboard except the train/loss (after every step).

Here's the main lightning module:

`class ImageClassification(pl.LightningModule):
    def __init__(self, model):
        super().__init__()
        self.model = model
        self.criterion = nn.

[2021-07-26 13:39] awaelchli commented on #8544
One way to avoid this could be to set `verbose_evaluate=False` during tuning
Are you interested in sending a PR?

[2021-07-26 13:41] awaelchli commented on #8559
is the logging interval small enough? I.e., `Trainer(log_every_n_step=n)` where n must be smaller than `len(dataloader)`.

[2021-07-26 13:52] #7810 closed

[2021-07-26 14:23] awaelchli commented on #8559
[code]

If an exception raises here, it will be silently ignored and nothing gets logged. Please try to remove the try-except block here and see if it raises an exception.

[2021-07-26 14:30] Gladiator07 commented on #8559
Thanks, changing n to 1 in `Trainer(log_every_n_step=n)` solved my problem. I was testing my code with smaller data so it couldn't log as you said. I am closing this issue.

[2021-07-26 14:32] awaelchli commented on #8559
Happy to help. Glad you found the issue. Lightning should also print a warning in that case, you may have missed it or you are not on the latest version.
cheers

[2021-07-26 15:37] marsggbo opened #8562 "Can we keep all GPUs use the same batch of data when we use distributed mode (like horovod or DDP) ?"
## 🚀 Feature

### Motivation

Currently, I want to train a Supernet, which contains many sub-networks, and I want to use multiple GPUs to accelerate training, and each GPU trains different models but uses the same batch of data.

So I wonder how to implement it?

[2021-07-26 15:55] ViktorThink opened #8563 "Main script runs multiple times - once per GPU"
Encountered same problem as in this post: https://stackoverflow.com/questions/66261729/pytorch-lightning-duplicates-main-script-in-ddp-mode

When using four GPUs, the main script runs four times, meaning that the model is downloaded four times, which takes time, and causes out of memory error.

I tried lots of configurations, but they all have the same problem, here is an example code I used:

[co

[2021-07-26 16:14] ethanwharris commented on #8563
Hi @ViktorThink to make sure that your code only runs once you can use something like this:
[code]

Hope that helps :smiley:

[2021-07-26 16:23] ViktorThink commented on #8563
Thank you  for the quick reply.

Both I and the guy making the other post tried that with no success. It all runs as main surprisingly.

[2021-07-26 16:48] ethanwharris commented on #8563
@ViktorThink Actually, I think this is the expected behaviour from the docs here: https://pytorch-lightning.readthedocs.io/en/stable/advanced/multi_gpu.html#distributed-data-parallel

You would always need each process to create the model correctly. What you could do is make sure that once the model is downloaded it doesn't get downloaded again (the weights should just be saved and then re-loaded

[2021-07-26 16:52] nik-sm commented on #8525
Sigh. After a bit of a saga, I finally tracked down the reason for this behavior. I was using:

[code]

This `frequency` keyword has some special behavior, and after a lot of googling I found some fine print in the docs at https://pytorch-lightning.readthedocs.io/en/1.3.8/common/lightning_module.html#configure-optimizers:

[code]

My natural assumption would have been: I'd like to experiment with

[2021-07-26 16:56] ViktorThink commented on #8563
Thanks a lot for the help.

I will try ddp_spawn tomorrow.

[2021-07-26 17:14] nik-sm commented on #8525
A quick follow-up as I change my code and remove this `frequency` keyword for now.

When there are multiple optimizers used in `training_step`, then it seems that `training_epoch_end` receives a list with an extra layer of nesting, like:
[code]
The docs at https://pytorch-lightning.readthedocs.io/en/latest/common/lightning_module.html#training-epoch-end are incorrect and do not mention this

[2021-07-26 17:41] carmocca commented on #5007
Status update: Blocked by merging #8477 and enabling restoring the ckpt progress tracking state by default.

[2021-07-26 18:38] #8125 closed

[2021-07-27 00:18] msaroufim opened #8570 "Quantization doc doesn't have working code"
## 📚 Documentation

This page https://pytorch-lightning.readthedocs.io/en/stable/advanced/pruning_quantization.html

Doesn't contain working code - I'm currently working through how to make this work with an example from the HuggingFace repo with a BERT model but a toy data loader or something from IMDB could work well

[code]

[2021-07-27 01:24] tgisaturday commented on #8358
@kaushikb11 I'm testing out few more things. I'll leave an update when they are finished.

[2021-07-27 04:56] kaushikb11 commented on #8358
@tgisaturday We could close this issue, as we figured it was a DataLoader issue. We could create a separate issue for the Custom logging issue.

[2021-07-27 04:56] #8358 closed

[2021-07-27 05:01] tgisaturday commented on #8358
I'm also testing text data loading. I'll open another issue if it seems to be lightning problem.

[2021-07-27 07:23] ijpq commented on #8562
pl has only impl auto adding distributedsampler, is it proper that impl a specific Distributed sampler grab same batch?

[2021-07-27 07:27] ViktorThink commented on #8563
It seems like using the DeepSpeedPlugin overrides the accelerator selected, because I tried with ddp_spawn and dp, but got the same problem. (I thought I tried with ddp_spawn yesterday, but double checked today, same result).

I managed to use dp without DeepSpeedPlugin, (but had some problem with ddp_spawn, not sure why).

Thanks for the help @ethanwharris!

[2021-07-27 07:47] tchaton commented on #8563
Dear @ViktorThink,

There is 2 ways to do Distributed Data Parallel Training.
The first one is `ddp`, it launches N processes running the same script by aware of their own ranks and word_size
The second one is `ddp_spawn`, it creates 1 processes which will spawn N others.

DeepSpeedPlugin has been built on top of DDPPlugin, so having your script runs 4 times is totally expected.

In order to avoid

[2021-07-27 08:17] #8563 closed

[2021-07-27 08:29] marcelschilling opened #8573 "SLURM mpirun/openmpi training selects horovod automatically when not requested"
## 🐛 Bug

I tried to do a hyperparameter search using wandb sweep function on a SLURM cluster by mpirun (openmpi 4.0).
However, during training always horovod as distributed backend is tried to be selected though the trainer config is accelerator=None/distributed_backend=None/gpus=1.

Error:
                'Requested `accelerator="horovod"`, but Horovod is not installed.'
                "Install

[2021-07-27 09:15] Gladiator07 opened #8574 "How to reinit wanbd in a for loop with PL Trainer"
### Discussed in https://github.com/PyTorchLightning/pytorch-lightning/discussions/8572

<div type='discussions-op-text'>

<sup>Originally posted by **Gladiator07** July 27, 2021</sup>
I am training 5-fold CV with PyTorch Lightning in a for loop. I am also logging all the results to wandb. I want wanbd to reinitalize the run after each fold, but it seems to continue with the same run and it logs a

[2021-07-27 09:45] kaushikb11 commented on #8570
@Borda Mind looking into it?

[2021-07-27 11:05] carmocca commented on #8525
Do not hesitate! Any feedback is very welcome!

I see all these cuts and inconsistencies you are suffering as opportunities for docs improvements. This way any future readers have a better chance of not losing the same time. So feel free to send PRs with improvements for all these!

Here, we can mention that optimizers with frequencies defined can alter the follow and link to the `configure_optimi

[2021-07-27 12:29] Borda commented on #8570
@msaroufim what kind of error are you getting or the problem is with missing data module from example?
mind also share your sample code with BERT?

[2021-07-27 12:55] nik-sm commented on #8525
Thanks for the very positive attitude :)

A quick thought - would using https://pypi.org/project/dotted-dict/ or a similar class for the returned container class be helpful?

It's basically just a subclass of dict that maps `__getattr__` to `__getitem__`, and `__setattr__` to `__setitem__`, etc, so that the contents can be access either with `container["key"]` or `container.key`.

[2021-07-27 13:22] hal-314 commented on #8453
Hi @tchaton. I'm facing this memory leak. Returning an output in `validation_step` wil always be stored although  `validation_epoch_end` isn't defined. You can test it removing `validation_epoch_end` from the BoringModel. For me, it's an unexpected behavior as I expect to behave validation loop as the training loop. That it's, if you don't want to store the outputs, do not override [`train_epoch_e

[2021-07-27 13:40] carmocca commented on #8525
We already have this:
https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/utilities/parsing.py#L255

I opened a docs update in #8577 to show how to properly pass a `Namespace` to the `LightningModule` as a config.

[2021-07-27 14:02] awaelchli commented on #8573
The reason is probably[ this line of code](https://github.com/PyTorchLightning/pytorch-lightning/blob/c7e5743d54c33f3d2b915ee3f74a076ee1547fd6/pytorch_lightning/trainer/connectors/accelerator_connector.py#L860) where we check for the presence of `OMPI_COMM_WORLD_RANK` and in your mpirun command it probably gets set.

But if you set the accelerator explicitly, you should be able to prevent this. Mi

[2021-07-27 14:46] marcelschilling commented on #8573
Thank you very much @awaelchli. I tried to set it explicitly to `None` (accelerator and distributed_backend) this lead to the problem. However, using the setting of accelerator="dp" fixed it. Thanks a lot.

Is there a difference/disadvantage using dp algorithm with one GPU compared to a normal training with one GPU or is it exactly the same in case of gpu=1?

Do you have an idea concerning reasons

[2021-07-27 14:52] marcelschilling commented on #8574
@Gladiator07 Did you try to use wandb.init(...) before and wandb.finish() after every step of your CV?

[2021-07-27 15:16] tchaton opened #8583 "validation_step output shouldn't be stored if validation_epoch_end isn't overriden"
Hi @tchaton. I'm facing this memory leak. Returning an output in `validation_step` wil always be stored although  `validation_epoch_end` isn't defined. You can test it removing `validation_epoch_end` from the BoringModel. For me, it's an unexpected behavior as I expect to behave validation loop as the training loop. That it's, if you don't want to store the outputs, do not override [`train_epoch_e

[2021-07-27 15:35] Gladiator07 commented on #8574
Thanks, I had to mention run.finish() explicitly to stop my wandb run. I thought PL handled this internally, so I didn't tried this. Anyways, thanks for your help :)

[2021-07-27 15:35] #8574 closed

[2021-07-27 19:43] msaroufim commented on #8570
Hi @Borda yes it's the latter, the code doesn't compile just throws a syntax error because there's three dots instead of a dataa module.

 I'm still working on an example that would compile with a HF model, it's my first time using Lighting so still working through it https://gist.github.com/msaroufim/55afeefe613e6ad08dbb42839ba5decd

[2021-07-27 21:05] yifuwang commented on #8316
Hi @tchaton,

Sorry for the delayed response.

It looks like the DRLM project didn't include the optimization. However, a WIP recsys project that FB may open source soon will rely on the optimization. Please see below for a simulation of the problem:

Best,
Yifu

[code]

[2021-07-27 21:23] MirMustafaAli commented on #8135
@tchaton
The issue seems to be in method __should_check_fx_ where it _batch idx_ of current epoch is being passed as parameter  . i was able to resolve it by passing  _total_batch_idx_  of epoch training loop to the method.

https://github.com/PyTorchLightning/pytorch-lightning/blob/6b47cbe3ca8aa3fd82211bc9fa32e734753a6950/pytorch_lightning/loops/epoch/training_epoch_loop.py#L169-L170

Feedback re

[2021-07-27 22:03] edward-io opened #8589 "Remove rank restrictions on loggers"
## 🚀 Feature

Allow loggers to log on non rank 0 processes.

### Motivation

We want to log system data across all ranks (e.g.  using a custom logger to log GPU memory, latency stats, etc). This is important if we want to detect stragglers or anomalous conditions in a rank.

### Pitch

The trainer should not check that the process is on global rank 0 before calling the logger.

We already have ran

[2021-07-28 00:38] ananthsub commented on #8589
@awaelchli @carmocca this is similar to last year when we lifted rank_zero_only restrictions for saving checkpoints

[2021-07-28 02:17] msaroufim commented on #8570
Ok here are some instructions that work better to repro what a fully working example could look like https://gist.github.com/msaroufim/7b0e8e6ab60fb13c2ec899288f249006

If you just change

`callbacks=[]`

to

``
  callbacks=[QuantizationAwareTraining()],

[code]
Traceback (most recent call last):
  File "/home/ubuntu/serve/examples/Huggingface_Transformers/11_multi_label_text_classification_with_b

[2021-07-28 03:17] zheyuanWang commented on #4420
would it slow down the training process?

[2021-07-28 03:21] ananthsub opened #8593 "Avoid rewrapping LightningModules in plugins"
## 🚀 Feature

Background:

We are auditing the Lightning components and APIs to assess opportunities for improvements:
- https://github.com/PyTorchLightning/pytorch-lightning/issues/7740
- https://docs.google.com/document/d/1xHU7-iQSpp9KJTjI3As2EM0mfNHHr37WZYpDpwLkivA/edit#

### Motivation

Lightning has the concept of a Training Type Plugin, which functions as the distribution strategy to be used

[2021-07-28 08:15] awaelchli commented on #8589
@edward-io thanks for this suggestion. The first occurrence you pointed out can probably be without the check for global zero but I'm not sure what the second one has to do with the loggers since it prints to stdout. What would you like to do there?

[2021-07-28 09:10] #8039 closed

[2021-07-28 10:12] #8347 closed

[2021-07-28 11:32] Borda commented on #2810
I believe we can implement it with come code inspect and #5630

[2021-07-28 12:28] carmocca commented on #8135
[code]

Given this definition, your dataset has `32` batches. With `batch_size=2`, that gives us `32/2=16` batches per epoch.

Since you set `val_check_interval=10`, and there are 16 batches, you only have one chance to run validation in the epoch (in the 10th batch, index 9).

The issue here is that the docs definition is ambiguous

[code]

"use int to check every n steps (batches)" does not expl

[2021-07-28 13:06] awaelchli commented on #8135
@carmocca note there is also the `check_val_every_n_epochs` which is currently not mutually exclusive with val_check_interval if I understand correctly. If we did exactly what the docs said, we would have to make them mutually exclusive somehow, right?

[2021-07-28 13:14] SeanNaren commented on #8593
Thanks for picking this up @ananthsub :) I may be missing some carefully thought out logic already, but we'll need to take care in this case right?

[code]

This would involve having to do some checks to ensure the models are the same I think. I think the case above may not be a major issue as it's just a lightning_module comparison but something that may be important to ensure integrity of each s

[2021-07-28 14:09] tchaton opened #8599 "Multi node trainer.test(dm) doesn't work with separated file-system"
## 🐛 Bug

### To Reproduce

### Expected behavior

### Environment

 - PyTorch Lightning Version (e.g., 1.3.0):
 - PyTorch Version (e.g., 1.8)
 - Python version:
 - OS (e.g., Linux):
 - CUDA/cuDNN version:
 - GPU models and configuration:
 - How you installed PyTorch (`conda`, `pip`, source):
 - If compiling from source, the output of `torch.__config__.show()`:
 - Any other relevant information:

[2021-07-28 14:10] tchaton opened #8600 "Multi node ddp deadlock mechanism doesn't work with separated filesystem"
## 🐛 Bug

### To Reproduce

### Expected behavior

### Environment

 - PyTorch Lightning Version (e.g., 1.3.0):
 - PyTorch Version (e.g., 1.8)
 - Python version:
 - OS (e.g., Linux):
 - CUDA/cuDNN version:
 - GPU models and configuration:
 - How you installed PyTorch (`conda`, `pip`, source):
 - If compiling from source, the output of `torch.__config__.show()`:
 - Any other relevant information:

[2021-07-28 15:39] carmocca commented on #8135
I think so.

These are all the current options

- check every n batches across epochs: Not implemented. What this issue is requesting. Potentially `val_check_interval=n, check_val_every_n_epoch=None`?
- check every n batches per epoch: `val_check_interval=n, check_val_every_n_epoch=1`
- check every n epochs: `val_check_interval=1.0, check_val_every_n_epoch=n`
- check every n% batches across epochs

[2021-07-28 16:45] stas-sl opened #8603 "outputs in training_epoch_end contain only outputs from last batch repeated"
## 🐛 Bug

outputs in training_epoch_end contain only outputs from last batch repeated multiple times. I believe it got broken only in 1.4.0, but in 1.3.x it worked.

### To Reproduce

[code]

This will print the same loss repeated 10 times (equal to last batch loss) in training_epoch_end:
[code]

### Expected behavior

Output from all steps/batches is available in training_epoch_end (not only from

[2021-07-28 17:40] etetteh opened #8605 "(ckpt_path="b' pytorch_lightning.utilities.exceptions.MisconfigurationException: `.test(ckpt_path="best")` is set but `ModelCheckpoint` is not configured to save the best model."
I have been trying to debug this for over a day, now.
This is a snapshot of my code:
[code]

Error:
[code]

[2021-07-28 17:46] #8158 closed

[2021-07-28 18:08] tchaton commented on #7250
[code]

[2021-07-28 18:42] borisdayma commented on #8088
Just to let you know, for now I replaced the `pl_module.log(examples, [wandb.Image(…)])` with `wandb.log({'examples': [wandb.Image(…)})` in my colab.

[2021-07-28 19:36] Queuecumber commented on #7753
Still on my TODO list, sorry for the delay

[2021-07-28 19:57] MirMustafaAli commented on #8135
@carmocca  is it possible to have one option with more preference over another?

if `check_val_every_n_epoch` has been provided it automatically supersedes `val_check_interval`.  making it generic and simple for user to use and understand.

These are few things we might have to change. Should we implement it
- We will have to update docs stating the explicitly about it.

[2021-07-28 21:50] ifsheldon opened #8606 "Broken link in Set Grads to None section"
## 📚 Documentation

In https://pytorch-lightning.readthedocs.io/en/latest/guides/speed.html#set-grads-to-none

The link seems to be broken, and I think the latest valid link is https://pytorch.org/docs/master/generated/torch.optim.Optimizer.zero_grad.html#torch.optim.Optimizer.zero_grad

[2021-07-28 22:04] ia-davidpichler commented on #7072
I actually preferred the old semantics of this parameter as it makes my logic for an interruptible training job easier. Also the docs weren't updated to reflect this change: https://pytorch-lightning.readthedocs.io/en/latest/common/trainer.html#init

[2021-07-28 22:10] msaroufim commented on #8570
Ok so as a workaround I'm going to stack all the tensors on top of each other and then split them so `forward` takes a single argument, would be nice to handle this by default otherwise anyone needs to change their `forward` function anytime they want to support quantization - Let me know if there's any way I can help, I'm new to the codebase

But now the weird part, I'm getting unsupported data t

[2021-07-28 23:07] edward-io commented on #8589
@awaelchli  good point, it might not be useful to print it out. I don't have a strong opinion, what about @ananthsub?

[2021-07-29 00:28] ananthsub commented on #8589
it's fine to print out only on rank 0. the first one is the one which can be broadened, as #8608 does

[2021-07-29 00:33] ananthsub commented on #8605
What version of Lightning are you using?
In this case, you're calling `trainer.test` without passing the model in. You're also not using any checkpoint callbacks that monitor a value to determine what the "best" model checkpoint to use is.

Have you tried `class_trainer.test(classifier, dataloaders=test_dataloader)` ?

[2021-07-29 02:22] awaelchli commented on #8606
Hi @ifsheldon

The link should probably not point to the master branch. And we can link through the API like this:
[code]
and it will generate the link for us automatically.
Are you interested in sending a PR with this fix?

[2021-07-29 02:54] #7553 closed

[2021-07-29 02:54] #8068 closed

[2021-07-29 08:11] tchaton commented on #8135
Hey @MirMustafaAli,

I believe the simplest to implement to resolve this issue is:

[code]

[2021-07-29 09:20] tchaton commented on #8605
Dear @etetteh, any progress on your side ?

[2021-07-29 09:26] tchaton commented on #8593
Dear @ananthsub,

I would prefer a slightly alternate approach which I started to implement but broke for DeepSpeed Plugin.
On teardown, we should drop the wrapper as we currently do for DistributedDataParallel: https://github.com/PyTorchLightning/pytorch-lightning/blob/a64cc373946a755ce6c3aef57c1be607dfe29a0c/pytorch_lightning/plugins/training_type/parallel.py#L138.
We should extend this logic to

[2021-07-29 09:35] tchaton commented on #8589
Hey @ananthsub @awaelchli,

Could we imagine this designed inspired from Metrics.

Motivations:
- Provide an option for users to log on all ranks if needed
- Remove logging control within the LoggerConnector as each Logger will be responsible for it now.

[code]

[2021-07-29 09:38] tchaton commented on #8562
Dear @marsggbo, you can prevent Lightning to inject the DistributedSampler within your DataLoader by doing.

[code]

Feel free to close this issue if it resolves your problem.

[2021-07-29 09:44] tchaton opened #8614 "5-Fold with PyTorchLightning + Wandb seems to log to the same experiment"
I am training 5-fold CV with PyTorch Lightning in a for loop. I am also logging all the results to wandb. I want wanbd to reinitalize the run after each fold, but it seems to continue with the same run and it logs all the results to the same run. I also tried passing kwargs in the WandbLogger as mentioned in the docs [here](https://pytorch-lightning.readthedocs.io/en/stable/extensions/generated/py

[2021-07-29 09:45] tchaton commented on #8614
Dear @Gladiator07,

I converted this to an issue as it should be created several runs.

Best,
T.C

[2021-07-29 09:47] tchaton opened #8615 "LightningCLI shouldn't run fit by default"
## 🐛 Bug

### To Reproduce

Currently, the LightingCLI runs fit by default which is an anti-pattern for the Lightning API and seems like magic.

Current implementation.
[code]

Expected implementation.
[code]

### Expected behavior

### Environment

 - PyTorch Lightning Version (e.g., 1.3.0):
 - PyTorch Version (e.g., 1.8)
 - Python version:
 - OS (e.g., Linux):
 - CUDA/cuDNN version:
 - GPU model

[2021-07-29 09:52] ethanwharris commented on #8615
Seems related to #7226 (PR in #7508), #8251

[2021-07-29 09:54] awaelchli commented on #8573
@marcelschilling actually no, I believe you did everything right the first time. I submitted a fix to prevent Lightning from selecting horovod when running with mpirun and horovod is not installed.

For the time being, you can set `accelerator="ddp"` which should have no performance impact and workaround the issue until this is fixed.

[2021-07-29 09:57] awaelchli commented on #8593
We also have the option to do

[code]

`self.lightning_module` is guaranteed to be the unwrapped model so we can prevent any accidental double wrapping.

[2021-07-29 10:00] SeanNaren commented on #8593
I actually prefer what @ananthsub is suggesting, as we assume that the lightning module stays the same which is not true iirc. Hooks are attached to the lightning module (same with DeepSpeed, in FSDP it's even more destructive). By allowing the plugin to not re-create the wrapper, we remain truer to the actual standard loop (re-using the model across stages once wrapped).

[2021-07-29 10:07] marcelschilling commented on #8573
@awaelchli Thank you so much! :)

[2021-07-29 10:40] tchaton commented on #6484
Dear @imirzadeh,

Great apology for your issue going stable ...

We plan to investigate such ideas with Lightning Flash to find the best way to support this and then up-stream components to Lightning.
Would you be interested in collaborating with us ?

Best,
T.C

[2021-07-29 11:05] awaelchli commented on #8615
@tchaton I think strictly this is not a bug as it is documented [here](https://pytorch-lightning.readthedocs.io/en/latest/common/lightning_cli.html#lightningcli) right were LightningCLI is first introduced:

I do however agree with you that this is an issue and it is also _my opinion_ that the instantiation of LightningCLI should not run a trainer.fit.

[2021-07-29 11:11] Borda commented on #8615
just for the record, @tchaton https://github.com/PyTorchLightning/pytorch-lightning/pull/8251#issuecomment-874558913
cc: @carmocca

[2021-07-29 11:13] awaelchli commented on #8016
@Xiang-Pan closing this stale issue.
I am certain that upgrading the Lightning version will solve your problem.

[2021-07-29 11:13] #8016 closed

[2021-07-29 11:44] awaelchli commented on #8614
@Gladiator07 I think I have a workaround for you. Put this

[code]

before instantiating WandbLogger.

This will make sure that the experiment from the previous "fold" gets finished. For context, our WandbLogger is simply wrapping the wandb.Run object which is sort of a global variable in wandb according to my understanding. I will try to make this into a real fix for our WandbLogger. Any feedback

[2021-07-29 11:48] ifsheldon commented on #8606
I mean, it's not the link in the below that is broken.

but the link of "this" in the below

I took a look at the source code, the link of "this" is hardcoded.
[code]
And perhaps you should also make it autognerated?

[2021-07-29 12:11] etetteh commented on #8605
I am using the latest version of lightning.
I get the same error whether I use model checkpointing, by monitoring validation accuracy or not.

I just tried .test(classifier, test_dataloader), and I'm getting the same error

[2021-07-29 12:12] awaelchli commented on #8614
Actually, just found this PR which enforced the current behavior and also defines tests for this. #4648
As written on the PR users are advised to call `wandb.finish()` when they want to manually create multiple distinct experiments as OP wants. So what I presented as workaround is meant to be the real usage.

[2021-07-29 12:24] awaelchli commented on #8606
Yes I agree. We are talking about the same thing :)

[2021-07-29 12:31] awaelchli commented on #8599
@tchaton is this about loading a checkpoint for trainer.test()?
Did the user not copy the checkpoint to both nodes?

[2021-07-29 12:31] MirMustafaAli commented on #8135
@tchaton
will we explicitly explain it in docs?

[2021-07-29 12:43] ifsheldon commented on #8606
OK, sorry. I don't really understand how the API works, but I see you have made a PR. Thanks a lot.

[2021-07-29 13:07] awaelchli commented on #8606
No problem at all. Thanks for finding this

[2021-07-29 13:21] carmocca commented on #8135
Yes, we should describe all the possible options and the flags to set to achieve each of them

[2021-07-29 14:36] Borda opened #8620 "Build docs without submodule"
## 🚀 Feature

Allow building docs (for debugging purposes) without need to init submodule with notebooks

### Alternatives

### Additional context

Need to be done:
- replace link of `_notebooks/.actions/requiremets.txt` in `requirements/docs.txt`
- soft import if helper function from tutorials in `docs/congif.py`
- if helpers are missing and it is allowed (use some env variable like `ALLOW_MISSIN

[2021-07-29 15:11] borisdayma commented on #8614
Yes this is perfectly correct @awaelchli
In some cases the users could want to use the same run, for example when training in multiple stages.

[2021-07-29 15:45] gunthergl opened #8626 "save_hyperparameters() with pandas.DataFrame fails"
## 🐛 Bug

I reported this issue already at https://github.com/pandas-dev/pandas/issues/42748 and https://github.com/yaml/pyyaml/issues/540 but both say that is not their problem.

When upgrading pandas from `1.2.5` to the next version `1.3.0`, `self.save_hyperparameters()` finally raises an error as (the previously working) `yaml.dump(<pd.DataFrame>)` does not work anymore.

See the traceback, but

[2021-07-29 17:56] pedrocolon93 opened #8629 "manual_backward Slower than backward"
## 🐛 Bug

I am using a GAN like system that is using manual backward to do the backward calculation the losses for the discriminator and generator separately.  I've noticed that it is considerably slower than the regular backward. Is there anything I am missing?

### To Reproduce

I can upload a version of the code later, but I was wondering if anyone had this issue.

### Expected behavior

Regula

[2021-07-29 18:27] tchaton commented on #8599
Hey @awaelchli.

With Grid, the checkpoint is stored only on node 0 and we try to load this from node 1. This fails as it doesn't exists. I think it would be better to load from rank 0 and broadcast to all.

Best,
T.C

[2021-07-29 18:38] ananthsub commented on #8599
@tchaton is there no shared filesystem the checkpoint is written to that's visible across nodes?

for data-parallel use cases, the training type plugin could load on rank 0 only and broadcast. but this does not generalize for options that support larger/sharded models

[2021-07-29 18:56] pedrocolon93 commented on #8629
The code in question is the following:

`
       g_opt, d_opt = self.optimizers()
        ############################
        # (1) Update D network: maximize log(D(x)) + log(1 - D(G(z)))
        ###########################
        ## Train with all-real batch
        real_label = torch.ones((len(train_batch["text"]), 1)).to(self.discriminator.device)
        fake_label = torch.zeros((len(train_b

[2021-07-29 18:58] pedrocolon93 commented on #8629
In particular,
whenever I switch from
`backward(...)`
to
`self.manual_backward(error, opt)`
it is considerably slower (even for FP16 calculations)

[2021-07-29 19:54] tchaton commented on #8629
Are you using multiple gpus ? If yes, self.manual_backward takes care of gradient synchronisation which adds an overhead.

[2021-07-29 19:55] tchaton commented on #8626
Yes, I believe this shouldn t be supported. You can ignore it by providing its name to save_hyperparameters

[2021-07-29 19:59] tchaton commented on #8599
Hey Ananth, you entirely right. The brodcast would not be performed for sharded plugins.

[2021-07-29 20:19] pedrocolon93 commented on #8629
Ah! I am! Now I am confused, if I don't use the self.manual_backward, then that sync does not happen? What would this cause?

[2021-07-29 20:29] pedrocolon93 commented on #8629
and as a follow up what would you recommend for training this? I have 1 machine with 4 gpus

[2021-07-29 21:37] dasayan05 opened #8631 "Separating test phase in different file & accepting test specific hyperparameters"
## 🚀 Feature

Allow users to separate "Train + Validation" and "Test" phases into separate files and allow extra hyperparameters in Test phase.

### Motivation

Often, research codes and trained models shared by researchers are consumed by developers who only care about testing on the trained model and not retraining it. It makes sense if users can break their `PyTorchLightning` module into two di

[2021-07-29 22:47] awaelchli commented on #8626
Like Thomas I am also not sure what can be done here. If an object passed into the constructor is not serializable then we have to explicitly ignore it (with the ignore argument in the save_hyperparameters). This is quite common for example when we pass in a backbone (nn.Module) which we also don't want to include as hyperparameter.

In your use case, did you actually intend to save the data frame

[2021-07-29 22:55] yifuwang opened #8633 "Register Hooks for ShardedTensor Support"
## 🚀 Feature

### Motivation

PyTorch is introducing [ShardedTensor](https://github.com/pytorch/pytorch/issues/55207) as the standard way for representing model state in sharded models. For checkpointing purposes, `ShardedTensor` is a special tensor that appears in `model.state_dict()`. The state dict can be used for restoring the original model via `model.load_state_dict()`.

However, in order fo

[2021-07-29 23:06] awaelchli commented on #8633
Considering our CI is already setup for nightly pytorch, I think it would be nice to explore introducing these hooks.

[2021-07-29 23:07] gunthergl commented on #8626
In my usecase it was mainly out of habit. Actually, I do not really need it anymore as I moved to hydra for hyperparameter settings.
In principle I am totally fine removing the hyperparameter, maybe even removing the hyperparameter saving, but if I remember correctly I used those hyperparameters when training, stopping and go on learning again. But I am not sure about that.

However, the pandas is

[2021-07-30 00:29] #8026 closed

[2021-07-30 01:51] ananthsub opened #8634 "Error against specifying duplicate GPU device ids?"
### Discussed in https://github.com/PyTorchLightning/pytorch-lightning/discussions/8630

[code]

Given that this isn't supported by the underlying backends, we can explicitly check against duplicate device ids and error out in the trainer if so: https://github.com/PyTorchLightning/pytorch-lightning/blob/c99e2fe0d2bf713f35054eaa0d521ee7f6030786/pytorch_lightning/utilities/device_parser.py#L53-L91

[2021-07-30 02:20] ananthsub commented on #8633
@yifuwang some n00b questions:
- where in the trainer do you recommend adding these hooks?
- would the trainer need to check if the LightningModule already has the hook registered?
- why register the hooks via the trainer vs the LightningModule's constructor?

[2021-07-30 02:48] Co1lin opened #8635 "Load weights for part of the parameters in the model"
## 🚀 Feature

Partial weights loading

### Motivation

I have a LightningModule which contains several parts, and in different phases different parts are needed, e.g. for "task 1" the pipeline is "module 1 -> module 2" and "module 1 -> module 2 -> module 3" for "task 2". So, in the first phase I get a module from training which has weights for module 1&2. Then I need to load the weights of them an

[2021-07-30 02:51] #8635 closed

[2021-07-30 03:05] Co1lin commented on #8635
It can be achieved by setting `strict=False` in `load_from_checkpoint`.

[2021-07-30 03:43] gau-nernst opened #8638 "WandbLogger does not log model topology"
## 🐛 Bug

Following the documentation [here](https://pytorch-lightning.readthedocs.io/en/stable/api/pytorch_lightning.loggers.wandb.html), calling `.watch(model)` from the WandbLogger object should log model topology, but currently it does not.

Inspecting the code:

https://github.com/PyTorchLightning/pytorch-lightning/blob/c99e2fe0d2bf713f35054eaa0d521ee7f6030786/pytorch_lightning/loggers/wandb.

[2021-07-30 05:48] marsggbo commented on #8562
thanks for your suggestion. `replace_sampler_ddp=False` will make all GPUs use the same data during the training and validation step, but I want to make GPUs use the same data during the training step, but different data during the validation step.  This is indeed a weird use case,

![image](https://user-images.githubusercontent.com/13477956/127606433-338248af-8a6e-4e57-ac9d-f7ee0a487b0f.png) any

[2021-07-30 06:11] justusschock commented on #8638
Hi @gau-nernst Thanks for the issue and the detailed description. Would you be interested in contributing a PR with a fix for this? :)

[2021-07-30 06:17] justusschock commented on #8614
@borisdayma @awaelchli could we say that one run corresponds to one logger object? So when training multiple stages you just reuse the logger object and if recreating that, you just get a new run?

[2021-07-30 06:23] ananthsub commented on #8593
There's a high-degree of overlap between this and #6977 and similarly #5007.
- The plugins wrap the LightningModule as a new wrapped model
- The plugins persist this wrapped model
- This is wrapped model is visible to the trainer
- This is wrapped model sticks around across calls to the trainer
- So we are responsible for state management of the wrapped model as well
- This extends to #5007 as it

[2021-07-30 06:29] #7663 closed

[2021-07-30 06:30] gau-nernst commented on #8638
Hello @justusschock,
Sure, it should be a simple fix. Do I need to write a test case for this? Seems like it's not simple to check whether the model topology is actually logged in a unit test.

[2021-07-30 06:34] justusschock commented on #8638
@gau-nernst great, thanks. I think this could be done by mocking the wandb calls. cc @awaelchli who is our mocking expert :P

[2021-07-30 06:39] gau-nernst commented on #8638
I'm not familiar with mocking, although I know the concept. Any guidance will be great!

[2021-07-30 06:42] justusschock commented on #8638
you can see the examples of existing tests (that also use mocking) here:
https://github.com/PyTorchLightning/pytorch-lightning/blob/master/tests/loggers/test_wandb.py

the overall documentation on mocking can be found here: https://docs.python.org/3/library/unittest.mock.html

Does that help already or do you have more specific questions? :)

If you encounter some issues, let us know

[2021-07-30 09:18] SeanNaren commented on #7663
This is possible now in Lightning 1.4, just install the latest DeepSpeed and do not pass the precision=16 flag!

[2021-07-30 09:39] Youyoun commented on #665
For those looking for a solution to this problem, here's the one I came up with (a bit more work):

Basically, create two tensor board loggers, which look to the same root directory, but the version is either train or val.
That way, you get two event files for the same version (one for train and one for val), which have the exact same metrics name.

[code]

You can now access your loggers from you

[2021-07-30 09:53] awaelchli commented on #8638
Sounds good. My suggestion is to just implement your fix/feature, then see if any existing tests are breaking. Once you have it on a PR we can develop a new unit test for it <3

[2021-07-30 10:01] #8573 closed

[2021-07-30 12:09] SeanNaren commented on #8593
thanks @ananthsub for the great summary here!

`configure_sharded_model` after the changes proposed here should be called once in a lifecycle for both DeepSpeed or FSDP, and not called again as the model remains the same!

Regarding the cases of model swapping in subsequent stages or modifications made to the model, I think as you suggested we should recommend a brand new trainer object for these

[2021-07-30 12:52] andrewssobral commented on #2205
Hello All,

I have the same issue by running the following code:
https://gist.github.com/andrewssobral/090dcab34308bdd1ed75e5f2f6b4a1d0

For info, this code was tested with the previous version of the PyTorch Lightning and no had issues.

This is the output I got:
[code]

[2021-07-30 13:03] #8603 closed

[2021-07-30 13:27] carmocca commented on #8593
#5007 is not really related, as it's due to an error in the `current_epoch` increase logic.

[2021-07-30 13:31] andrewssobral commented on #2205
My reported issue disappears when I downgrade my torchmetrics to version 0.2.0 as you can see below:

Anyone knows how can I fix it for torchmetrics>=0.2.0 ?

[code]

[2021-07-30 13:32] carmocca commented on #8126
Status update: we save a dedicated checkpoint on exception to resume fault tolerance. However, this is still experimental and the saving logic and naming are bound to change.

https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/trainer/trainer.py#L1078

https://github.com/PyTorchLightning/pytorch-lightning/blob/529c42f848055c80ea429d0dda6012bb5304a365/pytorch_lightn

[2021-07-30 13:45] breznak opened #8646 "Bug: Trainer.predict() returns list of eval-batch-size, not List[predictions_per_dataloader] as in Doc"
## 🐛 Bug

`pl.Trainer.predict()` states to return list of predictions per each dataloader. Doc: https://pytorch-lightning.readthedocs.io/en/stable/common/trainer.html#predict

But it returns list of predictions per each eval batch.

### To Reproduce

[code]

### Expected behavior

Either change doc, or aggregate the data predict() returns.

### Environment

 - PyTorch Lightning Version (e.g., 1.3.

[2021-07-30 14:09] #8606 closed

[2021-07-30 14:13] justusschock commented on #8646
Hi @breznak

Thanks for the issue. You are right, this is not formulated really clearly. So it is intended to work that way since we simply omit the wrapping structure of multiple dataloaders if we only see one element/loader :)

Would you like to contribute a PR to make this more clear in the docs? :)

[2021-07-30 15:30] pedrocolon93 commented on #8629
For anyone having this issue, I recommend reading through this:
https://pytorch-lightning.readthedocs.io/en/latest/guides/speed.html
and
https://pytorch-lightning.readthedocs.io/en/stable/advanced/multi_gpu.html
This sped up a lot.

[2021-07-30 15:35] SkafteNicki commented on #2205
@andrewssobral which version of torch metrics did you run in the first example? (Just trying to figure out if the change happened between v0.2 and v0.3 or between v0.3 and v0.4)

[2021-07-30 15:35] breznak commented on #8646
ok, (I'd rather be for consistency and return `List[ per_dataloader(s) ]`, but still... the predict() returns a list of dictionaries per batch-size (eval batch). Don't we want to aggregate the data over the batches into a single Tensor with all predictions?

[2021-07-30 16:16] nasnoisaac commented on #8634
This issue looks friendly to me. Could you assign this to me? Thx!

[2021-07-30 16:36] ananthsub opened #8653 "Errors are masked with DDP when processes are created external to lightning"
## 🐛 Bug

Process reconciliation added recently during the error handling path has a bug:
https://github.com/PyTorchLightning/pytorch-lightning/blob/16392a7de787a1c0c0163f9[…]95f69178d5aef3a9/pytorch_lightning/plugins/training_type/ddp.py

`_sync_dir` is initialized only during `call_children_scripts` , which is not called if the processes are externally created. hence this will mask errors when t

[2021-07-30 16:42] ananthsub commented on #8653
One fix would be moving this line (https://github.com/PyTorchLightning/pytorch-lightning/blob/16392a7de787a1c0c0163f9995f69178d5aef3a9/pytorch_lightning/plugins/training_type/ddp.py#L182-L183)
to `setup_environment()` instead

@Borda  @carmocca  - do you know why mypy didn't catch this?

[2021-07-30 16:51] ananthsub commented on #8634
thanks @nasnoisaac  - feel free to send out a PR for this!

[2021-07-30 17:03] carmocca commented on #8653
Because that part of the codebase is not analyzed

https://github.com/PyTorchLightning/pytorch-lightning/blob/1f01db8b303e647b102f48c36e91ddb17784414f/pyproject.toml#L49

[2021-07-30 17:05] chanshing opened #8654 "Validation code runs before `training_epoch_end()` in v1.4 and breaks SWA"
This PR https://github.com/PyTorchLightning/pytorch-lightning/pull/7357 which was recently introduced in v1.4 breaks cases where one needs to somehow update the model before running validation/testing, such as with the increasingly popular SWA (stochastic weight averaging) method.

From https://pytorch.org/blog/pytorch-1.6-now-includes-stochastic-weight-averaging/

[code]

The code snippet above l

[2021-07-30 17:59] alex2awesome commented on #2205
FYI I'm also seeing this error for a custom metric when running Pytorch Lightning using Deep Speed stage 2 as an accelerator:

[code]

Stack trace:
[code]

[2021-07-30 18:05] andrewssobral commented on #2205
Hello @SkafteNicki ,
I tested each version of torchmetrics (https://pypi.org/project/torchmetrics/#history) and the error begins on v0.3.0 until the latest one (v0.4.1 as stated by @alex2awesome ).

[2021-07-30 21:10] samgelman opened #8656 "Automatically find metric attribute when logging"
## 🚀 Feature

### Motivation

When logging metrics stored in a ModuleList, it's somewhat clunky because you have to manually specify the metric_attribute in the call to self.log().

[code]

### Pitch

It seems like Lightning should be able to find the metric_attribute automatically, given the Metric object. This would make logging metrics stored in a ModuleList a bit cleaner.

### Alternatives

##

[2021-07-30 22:27] mehrshadhosseini28 opened #8657 "Add predict_epoch_end and predict_step_end methods to LightningModule"
## 🚀 Feature

Add predict_epoch_end and predict_step_end methods to LightningModule

Why aren't there these two methods?

### Motivation

I think these methods are very useful. for example, putting the results of each batch together.

[2021-07-30 23:14] ananthsub commented on #8657
@mehrshadhosseini28 this is closely related to https://github.com/PyTorchLightning/pytorch-lightning/issues/8479

though for predict_epoch_end, you could locally keep track of the predict_step return values in your LightningModule and then post-processing them in on_predict_epoch_end

[2021-07-30 23:42] tmlabonte opened #8660 "PL 1.4.0 broke `training_epoch_end`"
## 🐛 Bug

In PL 1.3.0, `training_epoch_end` would accumulate the training losses properly, e.g.

`[{'loss': tensor(30.8064, device='cuda:0')}, {'loss': tensor(41.2687, device='cuda:0')}, {'loss': tensor(85.0726, device='cuda:0')}, {'loss': tensor(81.9442, device='cuda:0')}, {'loss': tensor(85.0309, device='cuda:0')}]`.

However, in PL 1.4.0, `training_epoch_end` overwrites all losses with the fina

[2021-07-31 00:40] Co1lin opened #8661 "Use multiple optimizers and schedulers for different parts of module"
[code]
I need to use different optimizers alongs with different schedulers to train different parts of my model. (BTW, sometimes I need to freeze `self.m1` and only to finetune `self.m2`.) I configure optimizers like code snippet above, but I always got error:
[code]
As you can see, I have added `optimizer_idx` for my `training_step` method. I don't know why it still says it is missing.

[2021-07-31 00:45] Co1lin commented on #8661
Now I guess it means the trainer doesn't call `training_step` with `optimizer_idx`. So how can I implement my idea correctly?

[Use multiple optimizers (like GANs)](https://pytorch-lightning.readthedocs.io/en/latest/common/optimizers.html#use-multiple-optimizers-like-gans) says `Lightning will call each optimizer sequentially`, but I don't know how to make it work.

[2021-07-31 00:47] #8661 closed

[2021-07-31 00:49] ananthsub commented on #8660
https://github.com/PyTorchLightning/pytorch-lightning/issues/8603 - the fix has landed in the main branch and will be available in the 1.4.1 patch release

[2021-07-31 01:28] tmlabonte commented on #8660
Ah, I didn't search in the closed issues. Thanks.

[2021-07-31 01:28] #8660 closed

[2021-07-31 08:34] tchaton commented on #8656
Hey @samgelman,

Good catch. I will do that next week unless you want to. Should be fairly simple

Best,
T.C

[2021-07-31 08:47] nasnoisaac commented on #8634
Should tpu also be unique? Not sure how tpu works

[2021-07-31 08:58] gau-nernst commented on #8638
Hello, I have created a PR for this at #8662

Some points for discussion

- Should we test the default behavior of `WandbLogger.watch()`? (test for `log_graph=True`, (and `log="gradients"`, `log_freq=100` also?), when there are no optional arguments)
- Currently I updated a test to check if `log_graph` is passed when `WandbLogger.watch()` is called. Do we need to test for the internal function in

[2021-07-31 12:18] AetherPrior opened #8663 "`tpu.rst` has wheels for python3.6 , but colab uses python3.7"
## 📚 Documentation

Request newer wheels for the usage of pytorch-lightning in colab. Simply replacing 36 with 37 doesn't seem to work.

[2021-07-31 17:20] senarvi commented on #4395
I notice this too with the latest commit.

I'm logging losses with sync_dist=True. No matter if I use 'mean' or 'sum' as `sync_dist_op`, the sum will be logged during training.

If I log a loss, the sum will also be saved in the loss tensor. So if I first log the total loss and then return it, the sum will be returned and shown in the progress bar.

This doesn't happen if I set on_epoch=True and d

[2021-07-31 19:04] MirMustafaAli commented on #8135
Shall i start with this options as a start?

[2021-07-31 22:14] dave-epstein commented on #5642
Hi, I'm still getting this issue training a model with multiple optimizers. I get the issue when using FSDP or DeepSpeed. I'm really stumped on the bug, and help would be appreciated. Thanks!

[2021-08-01 03:13] dave-epstein commented on #4953
I'm seeing this issue using fairscale activation checkpointing and two optimizers (GAN setup). Any thoughts? I've verified no module is being checkpointed twice.

[2021-08-01 14:39] #8100 closed

[2021-08-01 14:59] borisdayma commented on #8614
So the main issue is that users could have a run already created before, even without the logger: using sweeps or for example if they use an artifact (like a previous checkpoint logged).

What do you think about adding a warning when a run is existing saying that we will be using the same one and that they can manually call `wandb.finish()`

[2021-08-01 18:04] tchaton commented on #8629
Dear @pedrocolon93,

This is rather complicated, but let me try to explain :)

Here are the internals of DistributedDataParallel forward function.

https://github.com/pytorch/pytorch/blob/master/torch/nn/parallel/distributed.py#L112

[code]

[2021-08-01 18:14] tchaton commented on #8542
Dear @MohammedAljahdali,

Mind trying out master. We should have resolved this problem. Mind confirming ?

Best,
T.C

[2021-08-01 18:17] tchaton commented on #8230
Dear @BarclayII,

Any updates on this ? The Lightning Team should soon prioritise this feature request.

Best,
T.C

[2021-08-01 18:18] tchaton commented on #8185
Dear @camruta,

Any updates ?

[2021-08-01 19:04] camruta commented on #8185
I had some trouble with my local dev setup, and wasn't able to add a test for the code changes in order to publish a PR. I'll create a task for Ananth with all the details and code snippets, who can take it further. I think he is also thinking about other enhancement opportunities with the profiler, so probably makes sense to re-think this with the rest of the planned changes.

[2021-08-01 23:01] carmocca commented on #6791
I believe this was fixed with the addition of #8389

[2021-08-01 23:01] #6791 closed

[2021-08-01 23:02] carmocca commented on #6116
The `on_before_optimizer_step` has been added for this in 1.4

[2021-08-01 23:02] #6116 closed

[2021-08-01 23:58] carmocca commented on #8654
You can check if updating the parameters is necessary in the `on_validation_start` or `on_validation_epoch_start` and then do it.

See the pseudocode with all hooks here:

https://pytorch-lightning.readthedocs.io/en/latest/common/lightning_module.html#hooks

Curious, what kind of documentation are you missing?
Our docs about it are short since we just reference PyTorch's.

You can also take a look

[2021-08-02 01:38] import-antigravity commented on #6389
Could someone re-open this? This is still a problem

[2021-08-02 04:45] kaushikb11 commented on #7471
I would suggest opening this issue on the PyTorch XLA repo. As it is an OPs Lowering issue, a discussion could be opened on supporting this particular operation.

[2021-08-02 04:45] #7471 closed

[2021-08-02 05:21] mmgxa opened #8670 "Ordering of hooks"
## 🐛 Bug

In PL 1.4, the order of hooks has changed.

in PL 1.3.8, it was

[code]

Now, in PL1.4, it is

[code]

i.e.  `training_epoch_end` runs after `validation_epoch_end` instead of the last `training_step`, which doesn't make sense since `on_epoch_end` is 'just next to it'. Also, note the proximity of the two `on_epoch_end` in PL 1.4

### To Reproduce

You can use the following Colab link:
htt

[2021-08-02 08:22] tchaton commented on #8670
@carmocca Any idea there ?

[2021-08-02 08:33] Borda commented on #8670
looks similar to #8654

[2021-08-02 08:41] tchaton commented on #8656
Dear @samgelman,

Seems to work fine.

[code]

[2021-08-02 10:19] carmocca commented on #8670
The order was changed in #7357. See the linked PR for its reasoning.

Can you elaborate on why you can't anymore? Is it because you use the `loss` keyword during both training and validation?

[2021-08-02 12:49] felixdittrich92 opened #8677 "un-packing bug : TypeError: wrapper() got an unexpected keyword argument"
## 🐛 Bug
Hi, since the update (lightning 1.4 & pytorch 1.9) i get some curios error:
[code]
(before update all was fine)
[code]
[code]
 I have checked the validation step input all is ok

### To Reproduce
pip3 install -r requiremetns.txt
(change paths in trainer.py and ner_dataset.py to your env paths)
python3 Task_NLP/NER_torch/trainer.py

You can use the following Github link (pls contact me to

[2021-08-02 13:28] johngull opened #8678 "multigpu ddp: Code after fit executed many times"
## 🐛 Bug

After training model with the Trainer.fit on 4-gpu machine with the accelerator="ddp", my code which goes after that executed 3 (?) times.
I receive 2 exceptions "FileNotFoundError" and then printing of successful weights saving.

### To Reproduce

[code]

### Expected behavior

A single execution of the code after trainer.fit

### Environment

* CUDA:
	- GPU:
		- Tesla V100-SXM2-16GB

[2021-08-02 13:35] carmocca commented on #8677
cc @Borda as it seems to be caused by QAT

[2021-08-02 14:15] Borda commented on #4536
@pquadri sure, go ahead!

[2021-08-02 14:31] import-antigravity commented on #6389
What was the original intent of the SLURM detection? Would it make sense to maybe add a `Trainer` flag to disable it?

[2021-08-02 14:38] alanhdu commented on #7553
Could we reopen this? I think this is still something we want (even if I don't personally have time to take this on).

[2021-08-02 15:37] FrancescoSaverioZuppichini commented on #4290
same here, two gpus I only see one tensor

[2021-08-02 15:58] alanhdu commented on #7710
@edgarriba -- sorry for the confusion, but was your fix merged or is this issue still open?

[2021-08-02 16:32] carmocca commented on #5298
@indigoviolet

The current implementation doesn't allow monitoring something during validation at the step-level because it is assumed that the model will not change during validation. We consider this to be the better option to avoid potential errors.

Additionally, `ModelCheckpoint` supports saving `on_train_batch_end` (with the `every_n_train_steps` flag) but not `on_validation_batch_end` which

[2021-08-02 17:18] tchaton commented on #8629
Dear @pedrocolon93,

I will be closing this issue. Feel free to re-open if you have more questions.

Best,
T.C

[2021-08-02 17:18] #8629 closed

[2021-08-02 17:19] tchaton commented on #8656
Dear @samgelman,

I added a test. Feel free to add a test which currently breaks.

Best,
T.C

[2021-08-02 18:15] enolan opened #8684 "Links to Colab in "Lightning in 2 steps" are dead"
## 📚 Documentation

Under "Examples of systems are:" all the Colab links are dead.

[2021-08-02 19:48] #8653 closed

[2021-08-02 22:31] #7282 closed

[2021-08-02 23:18] import-antigravity commented on #6389
I think this is a very reasonable fix

[2021-08-02 23:48] ananthsub commented on #8230
@tchaton: @yifuwang pointed out that this and https://github.com/PyTorchLightning/pytorch-lightning/pull/8515 share the same core issue: we want a way to dedup read-only states using shared memory

[2021-08-03 00:47] dhfromkorea commented on #7315
Hello, may I ask a question about this proposal?

**Context**
My organization happens to have a use case for `call Trainer functions like fit/validate/predict inside of the LightningModule` as per our algorithm. When doing so naively, it caused changes to the trainer state, leading to a totally different execution path, upon completing an inner top-level API call.

More concretely, **for algorithm

[2021-08-03 02:14] richarddwang opened #8689 "infinite grad norm using PL 1.4.0"
## 🐛 Bug

Training the same code with the same seed with PL 1.4.0 / 1.3.8,
only when using PL 1.4.0,
after a few thousands steps, I got Pytorch warns me grad_norm is infinite, and loss barely decrease.
But with PL 1.3.8 all works well,
there is no infinite grad_norm warning and loss decrease quickly.

### Other possibley relevant details
gradient_clip_val=1.0
precision=16

### Environment

 - PyTo

[2021-08-03 03:08] mmgxa commented on #8670
@carmocca
I mentioned it. The `outputs` dictionary contains losses for all batches. It still does for the `validation_epoch_end` since it is run after the last `validations_step`. Not anymore for the `training_epoch_end`

[2021-08-03 04:01] lamhoangtung commented on #5245
Why this issue was tagged `won't fixed`. Can we raise some awareness on this ?

[2021-08-03 05:59] ananthsub commented on #8670
@mmgxa - is it preferable for you to track the per-step results and reduce them in `on_train_epoch_end` or `on_validation_epoch_end` as you please? what are your thoughts on https://github.com/PyTorchLightning/pytorch-lightning/discussions/8690 ?

[2021-08-03 06:53] Borda commented on #8689
@richarddwang mind share an example, ideally Colab?

[2021-08-03 06:58] richarddwang commented on #8689
I am currently doing pretraining language model with large data, and the repo is private. I am sorry that I may not be able to provide any example. But since I am happy with PL 1.3.8 now, you may just keep this issue stale and come back after you find new clues elsewhere (?).

[2021-08-03 07:08] domef commented on #5245
I'm also interested in this feature.

[2021-08-03 07:36] ananthsub commented on #8634
@kaushikb11 ?

[2021-08-03 07:40] kaushikb11 commented on #8634
@ananthsub I have addressed the comment in the PR https://github.com/PyTorchLightning/pytorch-lightning/pull/8666#discussion_r680645001

[2021-08-03 08:18] #8634 closed

[2021-08-03 08:31] #8600 closed

[2021-08-03 08:34] tchaton commented on #8684
Dear @enolan,

Thanks for reporting this issue. Would you be interested in making a contribution ?

Best,
T.C

[2021-08-03 08:36] tchaton commented on #8678
Dear @johngull,

This is an expected behaviour.

Using accelerator `ddp` will create multiple independent processes and you script will be run world_size times.

[code]

Best,
T.C

[2021-08-03 08:37] tchaton commented on #8678
Dear @johngull,

I will be closing this issue. Feel free to re-open it if you still have questions.

Best,
T.C

[2021-08-03 08:37] #8678 closed

[2021-08-03 08:39] tchaton commented on #8677
Dear @felixdittrich92,

Would you mind trying to reproduce this behaviour using the BoringModel script: https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/bug_report_model.py

This doesn't seem much, but it saves us countless hours :)

Best,
T.C

[2021-08-03 08:45] johngull commented on #8678
Hello @tchaton,

Thank you a lot for the clarification and the tip on how to fix it.
I have several questions here.

- Shall I wrap everything else before trainer.fit also?
- Is there another acceleration method that is faster than data-parallel but doesn't have such behavior?

Thanks.

[2021-08-03 08:56] tchaton commented on #8670
Dear @mmgxa,

I am not sure to follow how you can't get the loss on `training_epoch_end`.

This seem to work fine.

[code]

[2021-08-03 08:59] tchaton commented on #8654
Dear @chanshing,

Definitely curious to hear what you think is missing with PyTorch Lightning built-in callback :)

I would advice you to have a look at how it has been implemented: https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/callbacks/stochastic_weight_avg.py#L34

Best,
T.C

[2021-08-03 09:01] tchaton commented on #8646
Dear @breznak,

Some users prefer to have per-batch level predictions as it is easier to store and prevent OOM while performing prediction.
It is why we introduce `BasePredictionWriter` Callback.

Best,
T.C

[2021-08-03 09:08] tomeramit commented on #5245
me too, had to do ugly hack to overcome this

[2021-08-03 09:09] tchaton commented on #8633
Dear @yifuwang @ananthsub,

Should we expect the Trainer to `auto-inspect` the `LightningModule` and automatically register those hooks if sharded tensors are discovered ?

Best,
T.C

[2021-08-03 09:38] tchaton commented on #8631
Dear @dasayan05,

Definitely an interesting idea ! Would you be interested to work on this ?

Best,
T.C

[2021-08-03 10:25] awaelchli commented on #8614
@borisdayma I like that.

Perhaps my PR #8617 adding the finish() method should be closed as it is confusing to have finish() alongside finalize() and close() methods.

[2021-08-03 10:49] SeanNaren opened #8693 "[RFC][Docs] Expand Common Use Cases to improve discoverability"
## 📚 Documentation

The goal is to improve discoverability when using the docs for new users, or users who just want to see what features we support. We've grouped quite a bit into the drop down which hides and obfuscates important information that the user may not know to click imo.

To improve this, I suggest we go from this:

<img width="1494" alt="Screenshot 2021-08-03 at 11 47 04" src="https:

[2021-08-03 10:57] Borda commented on #8693
I like it and also I would make the landing page look more like our actual readme, have just double content list is not very useful

[2021-08-03 11:47] #8693 closed

[2021-08-03 13:57] tchaton commented on #8678
Hey @tchaton,

My pleasure :)

`Shall I wrap everything else before trainer.fit also?`

The processes are being created on `trainer.fit` call, therefore the trainer isn't aware of its rank before. Alternatively, you could use `ddp_spawn`.

Yes, `ddp_spawn`.

Best,
T.C

[2021-08-03 15:05] tchaton commented on #8316
Dear @yifuwang,

I have been thinking about the cleanest way to do this with Lighting.
Mind having a look at https://github.com/PyTorchLightning/pytorch-lightning/pull/8700 ?

This line should have to be moved to LightingModule `on_after_batch_transfer` hook for this work properly.

[code]

This is just an idea and would like to get your thoughts on this first design.

Best,
T.C

[2021-08-03 15:52] cemde opened #8704 "Neptune Logger Proxies"
## 🚀 Feature
It would be nice to use the `NeptuneLogger` with proxies as Neptune Client does support this.

### Motivation
Many compute clusters have proxies.

### Pitch

It would be nice to initialise `NeptuneLogger`like this:

[code]

The class has a method with first lines:

[code]

One could easily augment

[code]
after copying `proxies` into `self.proxies`.

See: https://docs-legacy.neptune.a

[2021-08-03 18:05] catalys1 opened #8707 "Multi-node training freezes during ddp initialization"
## 🐛 Bug

I'm trying to do multi-node training using SLURM. The job starts up, but it freezes during `ddp` setup. I'm trying to use 2 nodes with 4 GPUs each. It seems like it is able to get 4 GPUs initialized, and then hangs waiting for the rest. Here's the output I get:
[code]
And this is the output of `squeue`
[code]
### To Reproduce

Here's a minimal test case. I'm only able to test this on the

[2021-08-03 19:11] samgelman commented on #8656
Hey @tchaton,

It seems this fails:

[code]

Two things to note.

1. I have num_tasks=50. It passes with num_tasks=2 but fails with num_tasks=50.
2. I am using PearsonCorrcoef() instead of DummyMetric(). It passes with DummyMetric() but fails with PearsonCorrcoef().

Thanks,
Sam

[2021-08-03 19:33] kunal-savvy opened #8708 "How to convert CNN -> LSTM cascaded models to PyTorch Lightning"
### Discussed in https://github.com/PyTorchLightning/pytorch-lightning/discussions/8703

<div type='discussions-op-text'>

<sup>Originally posted by **amitpj** August  3, 2021</sup>
Hi,

I am trying to covert PyTorch code for CNN -> LSTM cascaded models to PyTorch Lightning.
There are two nn.Module classes in the PyTorch code, one for CNN (encoder) and one for LSTM (decoder); the last hidden layer

[2021-08-03 19:45] SeanNaren commented on #7282
We've merged a lot of fixes for DeepSpeed that should allow a checkpoint to be restored fully! This has required changing the default method of saving to fully rely on DeepSpeed (which saves a directory), let us know if you run into any issues!

[2021-08-03 19:47] SeanNaren commented on #8344
We've merged a lot of fixes for DeepSpeed in #8397  that should allow a checkpoint to be restored fully! This has required changing the default method of saving to fully rely on DeepSpeed (which saves a directory), and you can generate a single file for inference by following these instructions: https://pytorch-lightning.readthedocs.io/en/latest/advanced/advanced_gpu.html#deepspeed-zero-stage-3-si

[2021-08-03 19:47] #8344 closed

[2021-08-03 19:47] SeanNaren commented on #8092
We've merged a lot of fixes for DeepSpeed in #8397  that should allow a checkpoint to be restored fully! This has required changing the default method of saving to fully rely on DeepSpeed (which saves a directory), and you can generate a single file for inference by following these instructions: https://pytorch-lightning.readthedocs.io/en/latest/advanced/advanced_gpu.html#deepspeed-zero-stage-3-si

[2021-08-03 19:47] #8092 closed

[2021-08-03 20:02] chanshing commented on #8654
Thanks for the suggestions. Indeed a solution can be to add the model update code in `on_validation_start` but it doesn't seem right for `on_validation_start` to have a side effect. There's also some code duplication as the same code has to be added in `training_epoch_end` or `on_train_end` at the latest.

Another option is to put it in `on_train_batch_end` but the issue is that the model update i

[2021-08-04 03:58] mmgxa commented on #8670
@tchaton Not sure what this code does. But take a look at the following two notebooks and please try to explain why the results are different?

https://colab.research.google.com/github/mmg10/pl_bug/blob/main/pl_test_138.ipynb
https://colab.research.google.com/github/mmg10/pl_bug/blob/main/pl_test_140.ipynb

(Both train/valid loss should be the same as in the third cell - which is the case for 1.3.

[2021-08-04 04:01] borisdayma commented on #8614
Yes I think I would just close it.
Basically we just need to change [this line](https://github.com/PyTorchLightning/pytorch-lightning/blob/9ca02f58aeba6427f1a45b18818307e95b3f4ac1/pytorch_lightning/loggers/wandb.py#L193) to add a warning.

[2021-08-04 04:03] mmgxa commented on #8670
@ananthsub but `on_train_epoch_end` doesn't support the `output` parameter and hence the loss can't be averaged. One needs to add variable in the `__init__` to keep track of it.

My thoughts on #8690? Well, since it doesn't make sense to have the `training_epoch_end` run after the validation steps (just think about the blocks in the first comment) - yeah, it's better to remove them once and for al

[2021-08-04 04:14] mmgxa commented on #8708
You can change their inherited class from nn.Module to pl.LightningModule.
But then, you need to create another pl.LightningModule that instantiates them as well as the other step required (i.e. the code block shown above). This new module must also have the loss_criterion and the `def configure_optimizers(self):` function etc.

[2021-08-04 04:32] saitjinwon commented on #5245
Would you mind you sharing your solution? Thank you very much.

[2021-08-04 05:57] ananthsub commented on #8633
from @pritamdamania87, if there's no ShardedTensor in the model, the hooks for loading/saving to state dict are no-ops. so we don't need to inspect the lightning module for sharded tensors. it is safe to always register these. Ideally this would be enabled by default for all nn.modules. however, this depends on https://github.com/pytorch/pytorch/issues/62094. Until that is resolved, we need to exp

[2021-08-04 06:18] ChristianHinge commented on #5245
What I am really looking for is to schedule model prediction every n epochs, but either way works for me.

I'm currently working on a synthetic volume-to-volume model which is trained to predict 3D patches of volumes, hence my train- and validation-loaders return patches. At inference, multiple overlapping patches of a single volume are passed through the model and stitched together forming a full

[2021-08-04 06:45] pquadri commented on #4536
i think someone already did this without closing the issue (https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/trainer/states.py), i'll poke around and see if there are some strings running around rather than the Enum.
Also, `pytorch_lightning/utilities/enums.py` has a commit of a few days ago implementing the enums for device type and distributed type you mentione

[2021-08-04 06:55] huhubrave commented on #7892
Did you find this issue?

[2021-08-04 07:22] LucaBonfiglioli commented on #5245
I did not know of this feature of pytorch-lightning, it is still a hack but far better than any other "solutions" I have tried.

Maybe with a bit of patience one could actually extend base LightningModule, LightningDataModule and Trainer to automatically perform this in a cleaner way.

[2021-08-04 08:09] MohammedAljahdali commented on #8542
Dear @tchaton,

I tried pl 1.5.0.dev0 and 1.4.1, on my code base the issue still happens, although something weird occur, the number of tensors after each pruning iteration does not always increase:
[code]

I call `torch.cuda.empty_cache()` between prints and sometimes it remove a tensor or two.

As for when I tested pl 1.4.1 and 1.5.0 with the boring model I got the following issue:
[code]

This

[2021-08-04 08:53] psandev opened #8712 "ZeroDivisionError, PL with DDP and torchmetrics"
## 🐛 Bug

### To Reproduce

[code]

### Expected behavior

### Environment

- PyTorch Lightning Version  1.4.1:
- TorchMetrics 0.4.1
- PyTorch Version 1.8.0
- Python version: 3.7.10
- OS (e.g., Linux):
- CUDA/cuDNN version: 11.0
- GPU models and configuration: 4 x T4
- How you installed PyTorch (`conda`, `pip`, source):
- If compiling from source, the output of `torch.__config__.show()`:
- Any oth

[2021-08-04 10:20] awaelchli commented on #8614
See the new PR attached. Let me know what you think of this

[2021-08-04 10:36] #8638 closed

[2021-08-04 11:14] kamil-kaczmarek commented on #8704
Hi @cemde ,

I can confirm that we work on the improved `NeptuneLogger` -> you will have an option to specify proxies for `NeptuneLogger`.

[2021-08-04 12:13] shivammehta007 opened #8716 "pytorch_lightning.utilities.exceptions.MisconfigurationException: Error while merging hparams: the keys <keys> are present in both the LightningModule's and LightningDataModule's hparams."
## 🐛 Bug

Hello everyone

I was using a `Namespace` object to save my hparams and was passing the same object to LightningModule and LightningDataModule. But after updating to Lightning 1.4.0 from 1.3.8, first I can no longer use `self.hparams = hparams` in LightningModule. So I change it to `self.save_hyperparameters(hparams)` but since I had same keys (as it is the same object). It throws this e

[2021-08-04 13:33] shivammehta007 commented on #8716
What are the best practices to do something like this, when you have hyperparameters for both LightningDataModule and LightningModule? I don't want to merge to one Lightning Module as I really like the abstraction of LightningDataModule.

[2021-08-04 13:33] carmocca commented on #8654
Opening a PR to improve it!

No, use one or the other

[2021-08-04 13:35] awaelchli commented on #8707
Hi, these settings don't look right to me.

Let's say you want exactly this, 4 gpus per node and 2 nodes totalling 8 gpus:
`trainer = Trainer(max_epochs=1, gpus=[0,1,2,3], num_nodes=2, accelerator='ddp')
`
that makes 4 tasks per node so in the slurm batch script it should be:

`#SBATCH --ntasks-per-node=4
`
right?

[2021-08-04 13:46] BarclayII commented on #8230
Sorry I wasn't working on this recently.  I was wondering what is PyTorch Lightning's preference: the new accelerator option or the preprocessing function plus `torch-elastic`.

Actually this feature request is trying to *avoid* using shared memory because the read-only state can be very big (the entire graph in our case) and shared memory is usually limited.

[2021-08-04 13:52] marsggbo opened #8718 "How to repeat the evaluation loop for multiple times"
## 🚀 Feature

### Motivation

Suppose I've finished training the model, then I want to evaluate its performance in different situations, e.g., different input data sizes, different layers.

The pseudo code of original Pytorch looks like
[code]

However, it seems that we cannot modify the loops.

### Alternatives

One possible solution I can think of so far is that I can implement the validation co

[2021-08-04 14:11] awaelchli commented on #8716
@shivammehta007 If you are passing the same hparams container to both the datamodule and the lightning module there is no point in calling `save_hyperparameters()` in both because they are identical. So I suggest call hyperparameters only in the lightning module. Then you can see the logged hparams in the logger (if the logger you use supports that).

[2021-08-04 14:15] shivammehta007 commented on #8716
Right I thought about it but also, I can no longer set self.hparams = hparams as well in the LightningDataModule

[2021-08-04 14:27] borisdayma commented on #8614
I like it!

[2021-08-04 15:07] shivammehta007 commented on #8716
For a Namespace object it throws `TypeError: 'Namespace' object is not iterable` but I guess then I can do `vars(hparams)` and it should solve the problem or is there any other better way for it? Thanks for the help :)

[2021-08-04 16:06] nicolas-dufour commented on #7599
I've been investigating a bit with Wandb, and i only have the bug when using SLURM. When using ddp on a local machine, i don't have duplicated runs

[2021-08-04 16:22] awaelchli commented on #8716
Yes I would recommend not passing directly a namespace into the model. Not saying it is bad but passing in a dict or a fixed number of arguments has the benefit that the module becomes independent of what argument parsing tool was used (namespace is from argparse library). So it can be more easily reused in places where there is maybe no argparser or a different configuration system.

[2021-08-04 16:25] FlorianMF opened #8720 "FineTuning and ReduceLROnPleateau scheduler fail - optimizer.param_groups"
### Context
I would like to use Finetuning and ReduceLROnPlateau scheduler.

For the finetuning part I use the same [MilestonesFinetuning](https://github.com/PyTorchLightning/pytorch-lightning/blob/052aefc3420eb507cd4eb7256ca452118448cd66/pl_examples/domain_templates/computer_vision_fine_tuning.py#L69) callback as in this example .
I used to instantiate the optimizer in "configure_optimizers()" th

[2021-08-04 16:27] FlorianMF commented on #8720
Extracts from the scheduler code:
[code]

and from `BaseFinetuning`:
[code]

[2021-08-04 16:45] shivammehta007 commented on #8716
Thank you that solves my issues!

[2021-08-04 16:45] #8716 closed

[2021-08-04 16:54] catalys1 commented on #8707
Hmm, you could be right. I'm new to SLURM, so I'm not sure. My understanding was that the `ntasks-per-node` was supposed to specifiy the number of CPU cores that I needed, but I could be wrong there. I'll try messing around with it and see what I can figure out.

[2021-08-04 17:05] awaelchli commented on #8707
To my knowledge it has nothing to do with CPUs. [Here](https://slurm.schedmd.com/sbatch.html) you can find the exact description of these arguments. Let me know how it goes.

[2021-08-04 17:16] awaelchli commented on #8670
@mmgxa so the reason you are seeing a different behavior is as you said the hook order changed. You were computing a `self.avg_train_loss` and then referencing that (printing it) in the `validation_epoch_end`. The only solution I can suggest right now is to compute a running average directly in the `training_step` so you will be able to get the value in the validation hooks.

[2021-08-04 17:25] catalys1 commented on #8707
Ok, I tried changing the SBATCH commands to this:
[code]
The output is slightly different, but it still freezes:
[code]

[2021-08-04 18:34] SeanNaren opened #8722 "Cleanup FSDP integration to not require boilerplate logic"
## 🚀 Feature

Motivated by debugging FSDP in a recent PR made by @carmocca, I think we should try clean out the interface for FSDP.

Currently FSDP supports a case where we wrap layers inside the `configure_sharded_model` hook, with an assumption that these layers are defined outside the hook. This is probably because in most cases the model has been defined in setup, or `__init__`.

This can be s

[2021-08-04 19:23] dasayan05 commented on #8631
@tchaton I would love to give it a try.

So, the reason `.load_from_checkpoint(..)` rejects unknown `kwargs` is clearly this line here:
https://github.com/PyTorchLightning/pytorch-lightning/blob/963c26764682fa4cf64c93c5a7572ae0040e9c32/pytorch_lightning/core/saving.py#L193

We can simply tweak some code around this to inject the unknown parameters into `model.hparams`. Is this a reasonable thing t

[2021-08-04 19:52] ananthsub commented on #8718
@marsggbo you could call Trainer.validate to run one epoch of the validation data: https://pytorch-lightning.readthedocs.io/en/latest/common/trainer.html#validation

[2021-08-04 20:02] ananthsub commented on #8722
I agree. `call_configure_sharded_model` as a property is fragile. it reminds me of  https://github.com/PyTorchLightning/pytorch-lightning/issues/7301

where either the user can check inside of `configure_sharded_model` if the model is already sharded, or the framework avoids rewrapping. @SeanNaren both the `TestFSDPModel` examples look far cleaner

regarding the state dict, would the plugin now wr

[2021-08-04 20:42] ananthsub opened #8723 "[RFC] Ensure error handling is supported across all Trainer entry points"
## 🚀 Feature

### Motivation
We are auditing the Lightning components and APIs to assess opportunities for improvements:
- https://github.com/PyTorchLightning/pytorch-lightning/issues/7740
- https://docs.google.com/document/d/1xHU7-iQSpp9KJTjI3As2EM0mfNHHr37WZYpDpwLkivA/edit#

One item that came up was error handling in the Trainer.

Currently, Lightning has error handling for when `trainer.fit()`

[2021-08-04 20:56] tchaton commented on #8230
https://github.com/dmlc/dgl/blob/195f99362d883f8b6d131b70a7868a537e55b786/tests/compute/test_shared_mem.py#L66

[2021-08-04 21:08] SeanNaren commented on #8722
@ananthsub this is a really good point, I realised that after we support https://github.com/PyTorchLightning/pytorch-lightning/issues/8593 then there is no reason that FSDP cannot wrap the entire module!

I am a bit unsure exactly how the logic would proceed currently, will need some investigation!

[2021-08-04 23:31] Scass0807 opened #8727 "How to properly configure lr schedulers when using fine tuning and DDP?"
Hi I am currently trying to train an image classifier with ResNet Iam trying to use a ReduceLROnPlateau to improve training accuracy. I also have split the model and last layer into a backbone and classifier. My goal is to freeze the backbone for the first 10 or so epochs and then unfreeze and train the whole model. The problem I am having is that is scheduler does not seem to be behaving as expec

[2021-08-05 01:14] #8343 closed

[2021-08-05 01:32] ananthsub opened #8728 "Deprecate {train/val/test}_transforms, dims, and size from the DataModule"
## 🚀 Feature

Deprecate these properties off the LightningDataModule interface:
https://github.com/PyTorchLightning/pytorch-lightning/blob/963c26764682fa4cf64c93c5a7572ae0040e9c32/pytorch_lightning/core/datamodule.py#L94-L147

### Motivation

We are auditing the Lightning components and APIs to assess opportunities for improvements:
- https://docs.google.com/document/d/1xHU7-iQSpp9KJTjI3As2EM0mfNH

[2021-08-05 02:05] ananthsub opened #8731 "[RFC] Deprecate the _epoch_end hooks"
Lightning has had some recent issues filed around these hooks:
- `training_epoch_end`
- `validation_epoch_end`
- `test_epoch_end`
- `predict_epoch_end`

Examples:
- https://github.com/PyTorchLightning/pytorch-lightning/issues/8603
- https://github.com/PyTorchLightning/pytorch-lightning/issues/8657
- https://github.com/PyTorchLightning/pytorch-lightning/issues/8670
- https://github.com/PyTorchLight

[2021-08-05 03:07] ananthsub commented on #8723
List of things to address:
- We call `on_train_end` in the error handling, but this doesn't apply for other trainer entry points

[2021-08-05 03:56] ananthsub opened #8732 "[RFC] Deprecate direct support for truncated backprop through time"
## 🚀 Feature

Deprecate direct framework support for truncated backprop through time

### Motivation

We are auditing the Lightning components and APIs to assess opportunities for improvements:
- https://docs.google.com/document/d/1xHU7-iQSpp9KJTjI3As2EM0mfNHHr37WZYpDpwLkivA/edit#
- https://github.com/PyTorchLightning/pytorch-lightning/issues/7740

Lightning today offers specific support for trunc

[2021-08-05 04:17] ananthsub opened #8733 "Move prepare_data_per_node to the DataHooks class"
## 🚀 Feature

### Motivation

We are auditing the Lightning components and APIs to assess opportunities for improvements:
- https://docs.google.com/document/d/1xHU7-iQSpp9KJTjI3As2EM0mfNHHr37WZYpDpwLkivA/edit#
- https://github.com/PyTorchLightning/pytorch-lightning/issues/7740

`prepare_data_per_node` is an argument to the Trainer constructor. However, this ought to be a property of the DataHooks

[2021-08-05 05:20] ananthsub opened #8738 "Move reload_dataloaders_every_n_epochs to the DataHooks class"
## 🚀 Feature

### Motivation

We are auditing the Lightning components and APIs to assess opportunities for improvements:
- https://docs.google.com/document/d/1xHU7-iQSpp9KJTjI3As2EM0mfNHHr37WZYpDpwLkivA/edit#
- https://github.com/PyTorchLightning/pytorch-lightning/issues/7740

`reload_dataloaders_every_n_epochs ` is an argument to the Trainer constructor. However, this could be a property of the

[2021-08-05 06:00] marsggbo opened #8739 "`rank_zero_info` does not present the current running file name and line number"
## 🚀 Feature

### Motivation

Although pl has already provided the `rank_zero_info` function, which can be used for distributed training situation, it does not present the current running file name and line number.

For example, the filename information is always `pytorch_lightning.utilities.distributed`, which is not helpful for us to quickly locate where the errors or warnings occur.

[code]

##

[2021-08-05 06:34] ananthsub commented on #8722
@SeanNaren regarding the current test example, I think this is a specific choice by the use case. If the guiding principle is to deprecate `call_configure_sharded_model_hook` then I think the initialization structure you've provided is the natural follow up. regardless of the property, it's a much clearer approach

[2021-08-05 08:09] #8333 closed

[2021-08-05 08:29] guochengqian commented on #2807
hi guys. if using multiple trainer, how to set the number of start epochs for  the following trainers, such that the tensorboard does not mess up?
e.g., the first trainer train 5 epochs. then, the second trainer should start from Epoch 5, not 0.
any suggestion?

[2021-08-05 08:56] ifsheldon opened #8740 "Allow passing variables from calls of training_step when using multiple optimizers"
## 🚀 Feature

Allow passing variables from calls of training_step **when using multiple optimizers**

### Motivation

I am now trying to port the plain PyTorch implementation of Meta Pseudo Label in MPL-pytorch to a Lightning one, so I need to use multiple optimizers. The way the algorithm uses optimizers is very similar to GAN's, so I found and read the [GAN tutorial](https://pytorch-lightning.re

[2021-08-05 09:04] ananthsub commented on #8740
For use of multiple optimizers, is manual optimization something that would make porting the project from vanilla PyTorch to Lightning easier?

[2021-08-05 09:08] ifsheldon commented on #8740
Well, yes and no. With auto optimization, we can keep other features available. As I discussed with tchaton on Slack, we cannot have auto gradient accumulation for example when we enable manual optimization.

[2021-08-05 09:16] ananthsub commented on #8740
the arbitrary tensors come from within the training step though, right?

[2021-08-05 09:20] ifsheldon commented on #8740
I mean the general case will be, in the n-th `training_step` call, we may need some tensors calculated in previous (n-1) `training_step` calls.

[2021-08-05 09:28] ananthsub commented on #8740
In this case, you can store these tensors on the LightningModule to be used across calls

[2021-08-05 09:33] ifsheldon commented on #8740
I think it's definitely okay with non-distributed training. But I wonder if it has some issue when it comes with distributed training.

[2021-08-05 09:40] ananthsub opened #8742 "Deprecate LightningModule.get_progress_bar_dict"
## 🚀 Feature

Deprecate this method off the LightningModule and move this to the ProgressBar callback:
https://github.com/PyTorchLightning/pytorch-lightning/blob/efec3d461c38e00c4db36acecf946ac45e08b0e1/pytorch_lightning/core/lightning.py#L1772-L1818

### Motivation

We are auditing the Lightning components and APIs to assess opportunities for improvements:
- https://docs.google.com/document/d/1xH

[2021-08-05 09:42] ananthsub commented on #8740
In this case, the Lightning trainer still doesn't all-gather tensors across ranks in distributed training. We can offer utilities to make this easier which you could call in your LightningModule to support distributed training. https://github.com/PyTorchLightning/pytorch-lightning/issues/7534 aims to help with this

[2021-08-05 09:56] ifsheldon commented on #8740
OK, then `detach`ed tensors seem good! But how about passing un`detach`ed tensors?

[2021-08-05 10:01] ananthsub commented on #8740
n00b question: How would you usually express this in a vanilla PyTorch training loop? We can try to follow that as closely as possible with lightning here

[2021-08-05 10:22] ifsheldon commented on #8740
I mean what if we want to retain a previous compute graph for a later `training_step` call. But I think it's rather complex in this case, it's time to go to manual optimization.

Nonetheless, using decorators seems good to me? Any opinions?

[2021-08-05 10:37] MohammedAljahdali commented on #8542
Hi @tchaton,

From what I gather from the recent changes to the pruning callback, is the issue supposed to be solved by the addition of preventing deep copy of dataloaders? If yes? Then where in the pruning callback is it applied? Because I only found it used in the stochastic weight averaging.

And if you could point to me where this issue is caused or how I could help in solving it I would gladl

[2021-08-05 12:45] twsl commented on #4612
Same problem here, using Databricks with `Standard_NC12` node. Using `ddp_spawn` it crashes after showing  `LOCAL_RANK: 0 - CUDA_VISIBLE_DEVICES: [0,1]`. Tested with the simple boring model:
<details>
<summary>Exception</summary>

[code]

</details>

PyTorch Version: 1.9.0+cu102 (Lightning 1.4.1)
OS: Linux
Python version: 3.8.8
CUDA/cuDNN version: 11
GPU models and configuration: 2xNVIDIA Tesla K8

[2021-08-05 14:35] andreandradecosta commented on #7599
I have the same issue with MLFlow using SLURM.

[2021-08-05 14:38] bmahlbrand commented on #1462
Something like this would be great to have in lightning properly

[2021-08-05 14:40] carmocca commented on #8732
If the alternative is manual optimization, they would lose the functionality of fault-tolerance at the split level (if and when we have it). This is because manual optimization users would need to handle the progress tracking updates themselves.

If this was instead extracted into a separate optional loop then that would work.

[2021-08-05 15:03] carmocca commented on #7072
@ia-davidpichler Would you be interested in opening a PR with the doc fix? 😄

[2021-08-05 16:18] #8670 closed

[2021-08-05 16:31] ananthsub commented on #8731
one thing that will emerge is the hook call order between callbacks and the lightning module. logging something in the module's `on_train_epoch_end`  needs to happen first for it to be used in the callback's `on_train_epoch_end` hook. this would be a change compared to today's behavior. this is required for items like logging a value at the end of the epoch in the module, and using that key/value

[2021-08-05 16:40] carmocca commented on #8731
Even though I agree with your arguments, people just love "framework magic". Removing this can make sense engineering-wise and design-wise but it can break user trust.

This does look simple but does not consider the cases where multiple optimizers are available. Basically, all the code we would remove would need to be implemented by the users who need it, depending on how complex is their trainin

[2021-08-05 16:42] cemde commented on #8704
Thanks for the reply and the upcoming improvement. I assume it will be available from v1.5. Until then I will just use my fork.

[2021-08-05 16:42] #8704 closed

[2021-08-05 17:14] ananthsub opened #8752 "Make default implementation for train_dataloader in DataHooks raise NotImplementedError"
### Discussed in https://github.com/PyTorchLightning/pytorch-lightning/discussions/8734

We are auditing the Lightning components and APIs to assess opportunities for improvements:
- https://docs.google.com/document/d/1xHU7-iQSpp9KJTjI3As2EM0mfNHHr37WZYpDpwLkivA/edit#
- https://github.com/PyTorchLightning/pytorch-lightning/issues/7740

The default implementation for these is logging a warning that

[2021-08-05 17:14] awaelchli commented on #8712
To debug this I suggest the following.

1) Set `Trainer(limit_train_batches=)` to a small number for debugging here
2) Incrementally remove all non-essential code, like logging, parsing, etc.
3) replace the concrete datasets with random input data to ensure the division error is not caused by data

Also, have you looked at this place here where the error occurs?
[code]
It might be useful to check

[2021-08-05 17:34] ethanwharris opened #8753 "Document support for passing a datamodule to `Trainer.tune` for `auto_scale_batch_size`"
## Docs

Trainer.tune can accept a datamodule argument, but the docs indicate otherwise. We should update the documentation to make it clear that this is supported: https://pytorch-lightning.readthedocs.io/en/latest/advanced/training_tricks.html#auto-scaling-of-batch-size

cc @borda @rohitgr7 @akihironitta

[2021-08-05 17:45] ananthsub commented on #8731
I think that's also the point. If we want to support more flavors of training steps, the logic for handling these outputs in the framework gets more and more complex, when it could sit locally in the user's training step.

tracking the outputs per optimizer idx and dataloader idx in automatic optimization also shouldn't be significantly more work given these are accessible from the training step

[2021-08-05 18:10] awaelchli commented on #8731
API confusion aside, is the memory problem really an issue? I thought we are not tracking outputs if the hook is not overridden. In that sense, we already have the opt-in choice. This is the part where I don't get the full argument for removing it.

Regardless, I believe it would be interesting to see a lightning module rnn manual-implementation without the built-in TBTT. If we have that, we can e

[2021-08-05 18:56] jstremme opened #8754 "PyTorch Lightning v1.4.1 not compatible with Tensorflow 2.5.0"
## 🐛 Bug

When attempting to install `pytorch-lightning==1.4.1` (the most recent version at the time of writing) and `tensorflow==2.5.0` in the same environment, the following conflict arises:

[code]
### To Reproduce

[code]

### Expected behavior

Successful installation

### Environment

* CUDA:
	- GPU:
	- available:         False
	- version:           None
* Packages:
	- numpy:             1.1

[2021-08-05 19:19] ananthsub commented on #8731
@awaelchi The memory issue is the biggest risk. The current hook order makes it very dangerous:
- module.training_epoch_end
- callback.on_train_epoch_end
- module.on_train_epoch_end

if the user needs to log a value that's used in the callback's on train epoch end, then they currently are forced to do so in training_epoch_end (assuming they can't use training_step with self.log + on_epoch=True). a

[2021-08-05 19:22] ananthsub commented on #8732
from @awaelchli

+1, that sounds like a reasonable next step

[2021-08-05 20:35] ananthsub opened #8758 "Deprecate the on_{train/val/test}_dataloader hooks"
### Discussed in https://github.com/PyTorchLightning/pytorch-lightning/discussions/8735

### Motivation

We are auditing the Lightning components and APIs to assess opportunities for improvements:
- https://docs.google.com/document/d/1xHU7-iQSpp9KJTjI3As2EM0mfNHHr37WZYpDpwLkivA/edit#
- https://github.com/PyTorchLightning/pytorch-lightning/issues/7740

The `on_train/val/test_dataloader` hooks stand

[2021-08-05 20:47] ananthsub commented on #8313
@ruotianluo - there is `terminate_on_nan` on the Trainer constructor: https://github.com/PyTorchLightning/pytorch-lightning/blob/4928dc55790eec4ee4a558f494a6fc3d49a5e78a/pytorch_lightning/trainer/trainer.py#L304-L305

[2021-08-05 20:48] ruotianluo commented on #8313
It is actually different. detect anomaly tells you where you got the nan during back propagation instead of just terminate.

[2021-08-05 20:52] ananthsub commented on #8313
ah do you mean support for PyTorch's `torch.autograd.detect_anomaly` detection here? https://pytorch.org/docs/stable/_modules/torch/autograd/anomaly_mode.html#detect_anomaly

[2021-08-05 20:52] ruotianluo commented on #8313
yes

[2021-08-05 20:56] ananthsub commented on #8313
@awaelchli @carmocca what do you think? we could enable `torch.autograd.set_detect_anomaly(trainer.terminate_on_nan)` inside of the training loop.

[2021-08-05 22:41] cowwoc commented on #5044
@edenlightning I think @fg91 is waiting for your reply

[2021-08-05 23:11] awaelchli commented on #8313
Yes, nice Idea. @ruotianluo would you like to give this a try?

[2021-08-06 01:45] ananthsub commented on #8118
@SeanNaren @RahulMitra @haocizhang following up here since it's been a while from when the initial issue was filed, and some of our motivations for the plugin have been solved in more elegant ways.

- A primary motivation was to support saving and loading of sharded tensors with this dedicated plugin. This is why the `LightningModule` was initially required in the `CheckpointPlugin`. However, with

[2021-08-06 02:17] awaelchli commented on #8118
I created an issue here a while back: #7650. Maybe it's helpful.

[2021-08-06 03:42] yifuwang commented on #8316
Dear @tchaton,

Thanks for looking into this and coming up with a proposal so quickly!

I really like the idea of having Lightning abstract away this type of parallelism. However, as we discussed earlier, for FB's use case, we still need the flexibility to experiment with different parallelization strategies (even tradeoff between model accuracy and training performance). I'd like to propose that

[2021-08-06 04:13] #8589 closed

[2021-08-06 04:21] ananthsub commented on #8313
@awaelchli - one concern is the slowdown that will occur when using `terminate_on_nan` with and without anomaly detection. my assumption is that people use `terminate_on_nan` for debugging, but i'm not sure if that's true in all cases.

[2021-08-06 07:56] Arnab1181412 commented on #8752
Sir can i work on this issue as I am a new contributor to open source.

[2021-08-06 08:30] awaelchli commented on #8313
Yes, I would recommend strictly for debugging. I thought it was already there but we should add it to our debugging section in the docs.

Perhaps `terminate_on_nan` should be replaced by anomaly detection entirely and the trainer argument renamed? According to the [pytorch docs](https://pytorch.org/docs/stable/autograd.html), their anomaly detection already terminates with an error. The difference

[2021-08-06 08:55] SeanNaren commented on #8118
Makes a lot of sense @ananthsub thank you for the update and linking to the Sharded Tensor stuff, will take some time to play around with it :)

I agree, I was very unsure about where to draw the boundary across this `CheckpointPlugin` and the `TrainingTypePlugin`. Your motivation also confirms that we should try to bring all IO behaviour (`rm`) as well into this plugin! Will remove the state dict

[2021-08-06 09:39] ananthsub commented on #8752
Definitely! Go ahead 😄

[2021-08-06 10:09] carmocca commented on #8313
Agree that this would be a great addition.

Does `detect_anomaly` also check for +-inf? The docs just say

[2021-08-06 11:38] carmocca commented on #8731
After the logger connector re-design, if you have 2 callbacks `[A, B]` and `B` reads a value off `callback_metrics` logged in `A`, it works even if they both do it `on_train_epoch_end`. This is because the `callback_metrics` get updated dynamically:

https://github.com/PyTorchLightning/pytorch-lightning/blob/69f287eb85c36412d5d4d6541bc25f6a75a977ea/pytorch_lightning/trainer/connectors/logger_conne

[2021-08-06 11:51] tgisaturday commented on #7142
@kaushikb11 I'll give a try and fix it.

[2021-08-06 12:53] psandev commented on #8712
I finally made it work. The problem was incorrect number of classes. Thanks for the suggestions anyway.

[2021-08-06 12:53] #8712 closed

[2021-08-06 13:01] awaelchli commented on #8712
Glad you found the error. Cheers!

[2021-08-06 13:15] #8754 closed

[2021-08-06 13:19] jipson7 opened #8773 "Horovod accelerator using full dataset on each worker."
## 🐛 Bug

Hi there. I have been successfully using pytorch lightning with the ddp accelerator on a multi-gpu setup for a while. I wanted to test horovod and noticed it is an order of magnitude slower. I found the problem to be that each worker is processing all the data in an epoch, where as normally with DDP each GPU would have an equal subset of the dataset.

Im forced to launch the job with mpi

[2021-08-06 13:23] Arnab1181412 commented on #8752
Sir as I am new so can you give me a bit context about the problem what I understand from the issue is that instead of giving warning when users forget to use hooks I should raise a NotImplementedError

[2021-08-06 13:28] awaelchli commented on #8773
Hey @jipson7
Could you check if Lightning added a distributed sampler automatically and that horovod accelerator is selected?
For example, inside the LightningModule training step:

[code]

[2021-08-06 13:59] awaelchli opened #8774 "rename `master*` properties in cluster environments to `main*`"
## 🚀 Feature

Refactor our internal language for [master port and master address]( https://github.com/PyTorchLightning/pytorch-lightning/blob/cc036155d482c9dbdc7a0d8a0be34696f314e192/pytorch_lightning/plugins/environments/cluster_environment.py#L29) in the cluster environments and accelerators.

### Motivation

Inclusive language

### Pitch

rename to `main_address` and `main_port`

### Alternativ

[2021-08-06 14:04] awaelchli commented on #8774
This may be combined with #6303 where we propose to make the methods properties.

[2021-08-06 14:16] Arnab1181412 commented on #8774
Sir can I work on this issue I'm a new contributor

[2021-08-06 14:23] awaelchli commented on #8753
In master I see in theory all the logic is there to support that already. Type hints are also accurate. So there must be a bug with how we pass down the datamodule and attach it?

[2021-08-06 14:26] ifsheldon opened #8775 "Metrics cannot used with dictionaries in pl.LightningModule"
## 🐛 Bug

When I try to use a dictionary to store my metrics, it seems those stored metrics will not be correctly registered, which leads to `RuntimeError: Expected all tensors to be on the same device, but found at least two devices, cuda:0 and cpu!`

### To Reproduce

[code]
but this is okay
[code]

### Expected behavior
It gives the below error messages. I think it's because metrics stored in t

[2021-08-06 14:29] awaelchli commented on #8753
Here is an example script where it seems to work fine:

[code]

tested on cpu, lightning 1.4.1 and 1.5.0dev

[2021-08-06 14:36] ethanwharris commented on #8753
Ah, @awaelchli yeah seems like it is implemented, I just got confused because it isn't documented here haha: https://pytorch-lightning.readthedocs.io/en/latest/advanced/training_tricks.html#auto-scaling-of-batch-size

Particularly the bit: "Due to these constraints, this features does NOT work when passing dataloaders directly to .fit()."

Changing this to a docs issue

[2021-08-06 15:01] ananthsub commented on #8775
Instead of using a dict, use ModuleDict for these to be automatically moved to the right device: https://torchmetrics.readthedocs.io/en/latest/pages/overview.html#metrics-and-devices

[2021-08-06 15:41] huangjin520 commented on #8402
Hi , I meet the same question as you . So I think you solution will help me out the dillemma. In order to apply your approach ,i want to know  **where the code** `torch.multiprocessing.set_sharing_strategy('file_system')` **should be placed** , and **what's the meaning of 'file_system'.**
Thanks for your reply sincerely!

[2021-08-06 16:39] bw4sz commented on #7599
I also find this with comet_ml on SLURM. Tough to make a reproducible thing
here. maintainers, what can we do to move this forward?

On Thu, Aug 5, 2021 at 7:35 AM Andre Costa ***@***.***> wrote:

--
Ben Weinstein, Ph.D.
Postdoctoral Fellow
University of Florida
http://benweinstein.weebly.com/

[2021-08-06 16:58] edward-io opened #8780 "Fetch GPU stats using torch.cuda.memory_stats"
## 🚀 Feature

(as discussed in https://github.com/PyTorchLightning/pytorch-lightning/discussions/7518)

Gather GPU stats using torch.cuda.memory_stats instead of nvidia-smi for GPUStatsMonitor.

### Motivation

Some machines do not have nvidia-smi installed, so they currently are unable to gather data using the GPUStatsMonitor callback, which is useful for detecting OOMs and debugging their models

[2021-08-06 17:02] #8214 closed

[2021-08-06 17:02] #8186 closed

[2021-08-06 17:12] ifsheldon commented on #8775
I see and sorry for missing that of the doc. Thank you!

[2021-08-06 17:12] #8775 closed

[2021-08-06 17:46] evancasey commented on #4471
I was able to get around this by upgrading versions of pytorch/cuda/cudnn to their latest

[2021-08-06 18:43] evancasey commented on #4471
Seeing the same issue here with pytorch 1.9, cudatoolkit 11.0.3, pytorch-lightning 1.4.1

[2021-08-06 19:44] jipson7 commented on #8773
Hi @awaelchli thanks for the pointer. Here's the output.

<torch.utils.data.distributed.DistributedSampler object at 0x7f48323caee0>
<pytorch_lightning.plugins.training_type.ddp.DDPPlugin object at 0x7f483e916a90>

Does this mean the Horovod accelerator is not selected? For a bit more context Im using the yaml files provided with the LightningCLI and setting accelerator to `horovod`

[2021-08-06 20:33] pedrozudo opened #8784 "fitting model after pl.to_torchscript fails"
So I am working with pytorch-lightning and torchscript, where I have a set up similar to the following:

[code]

This then gives the following error:

[code]

So the error happens while checking that the `LightningModule` is setup correctly when doing the `model.fit`. It basically checks that the module is indeed a `LightningModule`. This it where it fails. Somehow the `to_torchscript` makes the m

[2021-08-06 20:37] ananthsub commented on #8780
this will be great to expand memory stats availability!
@edward-io what do you propose for the utilities here, especially the `mode` argument? https://github.com/PyTorchLightning/pytorch-lightning/blob/e54180363663b690367f0051484650fcd12e5de2/pytorch_lightning/utilities/memory.py#L102-L157

I think checking the PyTorch version, preferring `torch.cuda.memory`, and falling back to nvidia-smi if avai

[2021-08-06 20:43] ananthsub commented on #8784
`to_torchscript` returns a ScriptModule, which you're re-assigning to your LightningModule: https://github.com/PyTorchLightning/pytorch-lightning/blob/e54180363663b690367f0051484650fcd12e5de2/pytorch_lightning/core/lightning.py#L1902-L1908

therefore, `model` is no longer a `LightningModule` which is why trainer.fit() no longer works.

[2021-08-06 20:50] pedrozudo commented on #8784
Yeah, I figured that `to_torchscript` does not return a LightningModile. I was wondering whether this was the desired behavior? And if yes, is it then also desired not to be able to use `.fit` on it. I could image then `to_torchscript` return an object on which `.fit ` can be used. Maybe don't remove the bug tag just yet?

About what I want to do: I got a messy python script that gives me the comp

[2021-08-06 20:56] ananthsub commented on #8784
The desired behavior is to export the contents of the LightningModule to script modules. It's not intended for the Trainer to work with arbitrary ScriptModules for fitting, the same way the Trainer doesn't work with arbitrary nn.Modules for training. The input to the Trainer for fitting must be a LightningModule.

Inside your LightningModule, you can script the relevant parts of your computation g

[2021-08-06 21:03] pedrozudo commented on #8784
I agree it should not work with arbitrary SciptModules but maybe introducing a new class, e.g. LightningScriptModules, would do the trick.

Indeed, this would have been my first alternative now too.

Anyways, thanks for the quick reply!

[2021-08-06 21:04] #8784 closed

[2021-08-06 22:15] adam-mehdi commented on #5984
I have the same issue; I am debugging a complicated GAN and want to halt execution inside of `LightningModule.forward()` . Is there a way to do this?

[2021-08-07 05:43] #4664 closed

[2021-08-07 05:43] #7634 closed

[2021-08-07 05:43] #4672 closed

[2021-08-07 16:22] ananthsub commented on #8732
@anhnht3 since you thumbs-downed the RFC, could you describe how you're relying on tbptt in Lightning today?

[2021-08-07 17:42] anhnht3 commented on #8732
As a user, I often need to employ tbptt for RNN models.  Let's say tbptt is going to be deprecated, I am not sure it's easy to implement it on my own without understanding Lightning's internals.

[2021-08-07 17:43] dave-epstein commented on #7535
Has this fix been pushed to 1.4/1.4.1? I'm having issues resuming with the model setup being in `configure_sharded_model`, seems like the order of operations is wrong.

[2021-08-07 17:46] anhnht3 commented on #8731
Would this affect logging of torch_metrics, i.e., automatically calling metric.compute() at the end of each epoch?

[2021-08-07 17:46] dave-epstein commented on #7535
I am running into an issue with the model weights being restored before the call to configure sharded model. In my case, I don't set up the modules in init and only do the setup in configure sharded model. So when the code tries to load state dict, it is loading it into a non-existent model. What is the best way to bypass this?

[2021-08-07 18:05] ananthsub commented on #8732
Could you share some example code for how you're using tbptt currently?

Could you share some example code for how you're currently training?

[2021-08-07 18:11] ananthsub commented on #8731
@carmocca the scenario I imagine is the LightningModule logs value that's required for callbacks `[A, B]` to process in `on_train_epoch_end`, not callbacks themselves logging metrics themselves for use in other callbacks. Though it's nice that the new logging supports this, I'm not sure users should need to rely on the order of callback execution

[2021-08-07 18:15] williamFalcon commented on #8732
I’m also curious here why we want to deprecate tbptt? this would make PL useless for sequencing work. in fact, it would also make it impossible

[2021-08-07 20:25] awaelchli commented on #7535
@dave-epstein the model can be built in the setup hook. the order is the following:

[code]

this way the weights can be loaded before the model gets wrapped. Does this help?

[2021-08-07 20:25] ifsheldon opened #8794 "Set GPU exclusive mode"
## 🚀 Feature

Provide a function that enables GPU exclusive mode.

### Motivation

When I try to test different models with different hyperparameters, I want one `Trainer` to fully occupy some of my GPUs. Now I have two models to train, and I want them trained separately on two GPUs. So, I did something like
[code]
But when I run two instances of my training script, `pl` will always select the GPU

[2021-08-07 21:51] awaelchli commented on #8794
`Trainer(gpus=n)` where n is an integer is selecting the GPUs with indices [0, 1, ..., n-1] (the first n GPUs).
However, in PL < 1.5 when n is a string it doesn't behave like that and instead it was choosing GPU index n. This is not consistent and is therefore changed to be equivalent with the int type. So in PL 1.5 and higher, `Trainer(gpus=3)` will be the same as `Trainer(gpus="3")` and will sel

[2021-08-07 22:11] dave-epstein commented on #7535
Yeah, just saw the documentation shows this use case as well. It seems to work.

[2021-08-07 22:16] awaelchli commented on #8794
@ifsheldon don't you think it's better to let the user set the compute mode on the GPU themselves with nvidia-smi? Since this is affecting the system globally, I think it's safer to let the user or admin set this. It anyway requires root privileges afaik. What do you think?

To clarify, currently, `auto_select_gpus` will select a GPU if torch can move a tensor to the device.

[2021-08-07 23:34] ananthsub commented on #8732
@williamFalcon thanks for taking a look. The broader theme and question I want to answer is how we can support more flavors of training steps in a consistent manner. For flavors of training steps we have:
- different input arguments
- different output return value expectations

Which affect the contract between the trainer and the lightning module because these result in slightly different loop st

[2021-08-07 23:55] #5867 closed

[2021-08-07 23:55] #7887 closed

[2021-08-07 23:55] #6204 closed

[2021-08-08 02:24] jiarenyf commented on #159
Change from 1.4.1 to 1.3.4 version solved the problem ...

[2021-08-08 02:31] jiarenyf commented on #8562
... You can just set ```torch.utils.data.distributed.DistributedSampler``` at train_loader, and set ```torch.utils.data.SequentialSampler``` or `None` at valid_loader ...

[2021-08-08 12:02] ifsheldon commented on #8794
If setting exclusive mode in `pl` is too intrusive, then the alternative seems good enough. The current behaviour of `auto_select_gpus` is same as `memory-fit` I think, but the problem is even if a GPU is running at 100% but having enough memory, `pl` will select it despite that another one is totally idle.

[2021-08-08 13:50] awaelchli commented on #8794
No, actually not. As I tried to explain above, it will select a GPU if PL can move a tensor to the GPU, i.e., this tests if the GPU is in exclusive mode and running a job.

That's not true. Manually selecting GPUs is still possible by providing a list of indices. This has not changed.

[2021-08-08 14:15] ifsheldon commented on #8794
I don't know what you meant by "and" in "i.e., this tests if the GPU is in exclusive mode and running a job". Is it literally a logical `and` here? I just tried running two instances of training scripts, it turns out that after the first instance is running and GPU 0 is at 100%, then I run the same training script again, `pl` will run it on GPU 0 again.

The training code is the same as above.
[co

[2021-08-08 14:31] awaelchli commented on #8794
From your screenshot, we can see your GPU is in default mode (middle on the right). It means it allows to run multiple processes per GPU. You can set it to exclusive mode with `nvidia-smi -q 3 -i 0`  I believe.

[Here is the code](https://github.com/PyTorchLightning/pytorch-lightning/blob/a64cc373946a755ce6c3aef57c1be607dfe29a0c/pytorch_lightning/tuner/auto_gpu_select.py#L52) where PL checks if it

[2021-08-08 14:41] awaelchli commented on #8794
It's a good suggestion, but unfortunately it won't work. The model parameters alone on the device are not determining how much memory will be used during training, as it is the full forward and backward pass plus optimizer states that make the most of the memory consumption. Running two trainings on the same device with tight memory is dangerous. Either of the trainings could fail due to OOM. I do

[2021-08-08 14:50] ifsheldon commented on #8794
Yeah, I agree, but now PL doesn't check anything except the exclusive mode, which is worst.

Alternatively, we can call the current mode as "fit-in" or something and give warning about the potential memory issues. Besides, we should have an "idle" mode, which checks if a GPU is busy, like running at >=80%.

[2021-08-08 16:35] xerus opened #8799 "Export to_onnx fails when model has multiple inputs"
## 🐛 Bug

Export to_onnx fails when model has multiple inputs and example output is not provided

[code]

### To Reproduce

Can be reproduced using a model from test_model_summary.py

[code]

### Expected behavior

Export is successful

### Environment

[code]

[2021-08-08 20:59] JiamingSuen commented on #1981
@williamFalcon Would you please explain how #2029 resolves this issue?
It would be nice if you can give some instructions on how to store datasets in the shared memory in `pytorch-lighting`, thanks!

[2021-08-08 21:04] munhouiani opened #8801 "Unable to build doc"
## 🐛 Bug

I am a doc contributor of [Dash](https://github.com/Kapeli/Dash-User-Contributions). Dash is an API Documentation Browser and Code Snippet Manager, and I build pytorch-lightning docs for it.

Starting v1.4.0, I was unable to build pytorch-lightning doc.

### To Reproduce

I built doc with the following commands before v1.4.0

[code]
and it produced these error messages
<details>

[code]

[2021-08-08 21:52] anhnht3 opened #8802 "Setting lightningmodule.truncated_bptt_steps>0 will not enable tBPTT"
## 🐛 Bug
The _tbptt_split_batch function in training_batch_loop.py ignores the value lightningmodule.truncated_bptt_steps. Setting truncated_bptt_steps via Trainer will work fine but it is deprecated.

[code]

- PyTorch Lightning Version (e.g., 1.3.0): 1.4.1

[2021-08-08 21:58] psandev opened #8803 "RuntimeError - Dali + PL + DDP"
## 🐛 Bug
The runtime error happens at the end of the second validation epoch. The outputs list is empty. I downgraded to 1.38 and the bug disappeared.

### To Reproduce
The bug is reproducible in the attached project.
[PL_runtime error.zip](https://github.com/PyTorchLightning/pytorch-lightning/files/6951498/PL_runtime.error.zip)
Please, install https://github.com/facebookresearch/TimeSformer , dow

[2021-08-09 01:30] #7929 closed

[2021-08-09 01:30] #6869 closed

[2021-08-09 01:30] #7905 closed

[2021-08-09 01:30] #7559 closed

[2021-08-09 01:30] #6857 closed

[2021-08-09 01:30] #7690 closed

[2021-08-09 01:30] #5567 closed

[2021-08-09 01:30] #6951 closed

[2021-08-09 08:19] tchaton commented on #8316
Dear @yifuwang,

@kaushikb11 made some extra progress on #8700.

The feature is currently supported only for the GPU accelerator.
We were thinking `num_prefetch_batches=-1` could used to request the iterator to be passed directly to the `training_step` as required by FB.
This assumes fetching, moving data to device (using Lightning utilities) is left to the user control.

One limitation for this a

[2021-08-09 08:33] akihironitta commented on #5984
Yes, you can stop execution by placing `set_trace()` in `LightningModule.forward()` just like when you debug normal Python scripts.

[code]

[2021-08-09 09:35] yifuwang commented on #8732
I've been thinking about this as well. Currently, the logic for handling tbptt is on the critical path for all use cases even if they don't need it. In fact, (IIUC) it is also the sole reason that `TrainingBatchLoop` is a `Loop` (the support for multiple optimizers is not organized as a `Loop`). I definitely agree with you that there's opportunity for simplifying the framework's internal architect

[2021-08-09 09:41] twsl commented on #7550
@awaelchli So it's currently not possible to run code on multiple GPUs with Pytorch Lightning inside a Jupyter notebook?

[2021-08-09 09:46] awaelchli commented on #8732
@yifuwang I've also thought about this. I have a WIP for extracting the optimizer loop for automatic optimization.
For selecting the structure of loop, it remains a question how to best do it since it depends on the properties of Trainer and LightningModule, so Lightning needs to build the loop at the time of calling fit, test, etc. when the model becomes available.

[2021-08-09 09:54] yifuwang commented on #8732
@awaelchli

Right. It's probably unavoidable to have some not-as-elegant code for interpreting the LightningModule/Trainer configuration and translating it into the loop structure. But IMHO having them contained is a good first step (as opposed to checking `automatic_optimization` all over the place).

Curious what's your thoughts on this ^

[2021-08-09 09:59] awaelchli commented on #8773
Yes, it's not selecting the horovod accelerator. Is it possible to reproduce it with our mini model here https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/bug_report_model.py
by setting the trainer arguments manually there? And can you share the launch command?

My understanding is that it can work with mpirun or horovodrun

[2021-08-09 10:58] awaelchli commented on #8774
Yes, that would be great!
Here is what I had in mind we need to do:

1. Deprecate `master_address()` and `master_port()` method
2. Add new properties main_address and main_port
3. Replace all occurrences in Lightning with new calls

Feel free to send a PR for these items and let me know if you have any questions :)
You can find the contributing guide here: https://github.com/PyTorchLightning/pytor

[2021-08-09 10:58] OlfwayAdbayIgbay opened #8808 "Predicton step that can be run in between training epochs"
## 🚀 Feature
Add an "inference" step, or a keyword to trainer.predict() which doesn't remove the model from GPU after the prediction run.

### Motivation

For things like online triplet mining, I am predicting batches of data in between epochs. I don't need gradients for those, so I use self.trainer.predict.

something curious I've noted, is that after running "trainer.predict", the model is remov

[2021-08-09 11:27] peterukk commented on #4533
I'm still getting the error (new Colab session, connected to TPU):

[code]

[code]

[2021-08-09 12:32] chanshing opened #8811 "Are SWA BN stats being updated before `val_loop()`?"
### Discussed in https://github.com/PyTorchLightning/pytorch-lightning/discussions/8809

<div type='discussions-op-text'>

<sup>Originally posted by **chanshing** August  9, 2021</sup>
Is the [`StochasticWeightAveraging` implementation](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/callbacks/stochastic_weight_avg.py) updating the BN stats before a validation s

[2021-08-09 12:42] carmocca commented on #8325
Hi @Nora-Go

The fastest way for us to be able to help you is if you can adapt [this script](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/bug_report_model.py) to reproduce the behaviour you are seeing.

You don't need to provide the actual data you are using, you can simply create some tensors of the appropriate shapes filled with random data.

Also, you don't need

[2021-08-09 12:51] tchaton commented on #8811
Dear @chanshing,

I think you are right. This definitely seem to be the wrong behaviour there.
Would you be interested in making sure SWA Callback updates BN only before running a validation ?

Best,
T.C

[2021-08-09 12:52] awaelchli commented on #8732
Generally yes I agree. Would need more details as to what responsibilities this abstraction has.
I have been working slightly in this direction with a abstraction for our closure handling internally with a LightningClosure here: #8642 This can simplify our logic in TrainingBatchLoop for handling the code paths for manual vs. auto optimization.

Perhaps the optimization flow abstraction you suggest

[2021-08-09 12:53] tchaton commented on #8808
Dear @OlfwayAdbayIgbay,

This sounds reasonable. Potentially we could prevent this behaviour for predict only.

@ananthsub Any opinions ?

Best,
T.C

[2021-08-09 12:54] chanshing commented on #8811
I'd definitely love to, though it might take me some time as I'm not familiar with the code and am new to PL.
I will see what I can do!

[2021-08-09 13:43] Nora-Go commented on #8325
Hi @carmocca

Thank you for your answer, and sorry my first try at a minimal example was not good.
So here the second try using your script and with a random dataset - I am still able to reproduce the error.
[bug_report_model.zip](https://github.com/PyTorchLightning/pytorch-lightning/files/6954895/bug_report_model.zip)

All the best,
Nora

[2021-08-09 14:42] SkafteNicki commented on #8656
After looking a bit at this I found the following:
[code]
it seems like metrics were the metric state is the list type (`PearsonCorrcoef`) only one copy is recognised by pytorch as a sub-module whereas it works as expected for metrics were the metric state is a tensor (`Accuracy`).

[2021-08-09 15:16] adam-mehdi commented on #5984
Thanks for the response!

[2021-08-09 17:33] ananthsub commented on #8316
I was going back and found some interesting issues previously raised in lightning which discussed this:
- https://github.com/PyTorchLightning/pytorch-lightning/issues/2611
- https://github.com/PyTorchLightning/pytorch-lightning/issues/1316
- https://github.com/PyTorchLightning/pytorch-lightning/pull/1521
- https://github.com/PyTorchLightning/pytorch-lightning/issues/4803

[2021-08-09 19:58] EricWiener opened #8817 "Record iteration speed with `Trainer` and automatically pass to loggers"
## 🚀 Feature
Currently, users are required to track iteration speed themselves. It seems like a common use case to want to display iteration speed/sec in the logging UI of choice (ex. `tensorboard`), so it would be very nice if the `Trainer` could automatically record the iteration speed/sec and pass it to a logger.

### Motivation
I am currently implementing a callback to track iteration speed an

[2021-08-09 20:10] EricWiener opened #8818 "Allow disabling automatic stopping during fitting"
## 🚀 Feature
Currently if neither `max_epochs` nor `max_steps` aren't set, lightning defaults to using `max_epochs = 1000`. However, in some situations the user actually doesn't want `max_epochs` or `max_steps` to be set, and automatically stopping after `1000` epochs isn't wanted. It would be great if there were a way to specify that no epochs should be set.

### Motivation
I was running a very l

[2021-08-09 20:29] ananthsub commented on #8818
@awaelchli this is similar to https://github.com/PyTorchLightning/pytorch-lightning/issues/8210#issuecomment-871079962

[2021-08-09 20:36] Ajk4 commented on #2010
+1, if I do regular pytorch loop its fine. With pytorch lightning I get OOMs

[2021-08-09 20:38] EricWiener commented on #8818
Just as a follow-up, I still think the default should be jobs are automatically stopped to avoid forgotten jobs racking up lots of server costs. However, I think the change in behavior should specifically clean up how to specify you actually want the job to run forever.

[2021-08-09 21:41] bobiblazeski opened #8820 "cannot import name 'container_abcs' from 'torch._six'"
## 🐛 Bug

I've just created new environment with  python 3.8,  torch 1.9.0 and cuda 11 and I'm unable to use lightning
### To Reproduce

### Expected behavior
Being able to import lightning
import pytorch_lightning as pl

### Environment

I've commented pl code because the script fail to import it
-->
python collect_env_details.py
* CUDA:
	- GPU:
		- GeForce RTX 2070
	- available:         True
	-

[2021-08-09 21:56] munhouiani commented on #8801
I added a new command to install pytorch-lightning before building the doc, and now I faced a new error:

[code]

[code]
<details>

[code]
</details>

Before v1.4.0 I was able to build the doc without install pytorch-lightning, is this a change after v1.3.8?

[2021-08-09 22:07] munhouiani commented on #8801
A comment to future users who want to build docs:

1. update gitmodules
2. install pytorch lightning
3. remove opts `-W`, as it turns any warning into error

Build commands:

[code]

[2021-08-09 22:07] #8801 closed

[2021-08-09 22:59] rishikanthc opened #8821 "PyTorch Lightning 1.4.1 crashes during training"
## 🐛 Bug

When I start training on 2 opus using pytorch-lightning 1.4.1 the training crashes after a few epochs. Note that this happens only on 1.4.1
If I run my code using pytorch-lightning 1.4.0 everything works fine.

There are multiple versions of the same error with different versions. For brevity I'm attaching just one trace.
Here's the error trace:

[code]

### To Reproduce

Here's my [code

[2021-08-09 23:18] alex2awesome commented on #2205
Is there an update on this issue?

[2021-08-10 00:19] bowangbj commented on #7534
Thanks Ananth and others. Based on the inputs, we came up with a mini-proposal: https://docs.google.com/document/d/1IJSM_bb6VAEUn2ymyHhZxi-V2W4hVdPTuwD-VVY6qj4/edit#

Looking forward to the inputs.

[2021-08-10 00:53] ananthsub commented on #7534
@tchaton @carmocca @awaelchli @justusschock please take a look!

[2021-08-10 03:30] Erotemic opened #8823 "Allow `--gpus=None` to be specified on the CLI."
Currently specifying `--gpus=None` breaks the utils.argparse logic. I want to allow the string None to be a valid option. In other words, I want the user to be able to explicitly specify the default value for this argument, which is currently not possible.

Why? In my workflow I customized my argparser. This caused the `--gpus` argument to default to something non-None. Then, for whatever reason,

[2021-08-10 04:23] #8802 closed

[2021-08-10 05:03] ananthsub commented on #8758
we're good to go on deprecating these

[2021-08-10 05:17] MohammedAljahdali commented on #8821
This issue happened to me, I thought it was related to how the dataloaders are handled, and I decided to postponed using multi-GPU on my project, so I didn't investigate it further.

[2021-08-10 05:55] ananthsub commented on #8808
@OlfwayAdbayIgbay could you share what your code calling trainer.predict currently looks like? I'm curious about this

@tchaton i don't think this is prediction specific, right? this is more about the accelerator/training type, and expectations around moving the model back to cpu after execution. this is currently hardcoded in the parallel plugin: https://github.com/PyTorchLightning/pytorch-lightn

[2021-08-10 06:21] anshulcgm opened #8826 "Large Memory Differences with DP vs. DDP accelerator"
## 🐛 Bug

I am running a training loop with a Transformer model with Pytorch Lightning and trying to use ddp as the accelerator. I run into CUDA OOM issues due to the large memory requirement of the multihead attention module, however I do not run into this issue when using DP as the accelerator. When tracking the GPU memory usage, DP runs through a batch using 25 GB of memory however DDP needs mo

[2021-08-10 06:43] Borda commented on #8820
can you share what Torch version are you using?

[2021-08-10 07:01] awaelchli commented on #8823
@Erotemic in your use case what is the advantage of None over just setting gpus=0?

[2021-08-10 07:11] justusschock commented on #7534
@ananthsub @bowangbj I left some comments and in general I really like the idea :)

[2021-08-10 07:13] tchaton opened #8828 "batch_idx is being reset every val_check_interval"
## 🐛 Bug

### To Reproduce

Reported by Feng Liang on Slack.

[code]

### Expected behavior

### Environment

- PyTorch Lightning Version (e.g., 1.3.0):
- PyTorch Version (e.g., 1.8)
- Python version:
- OS (e.g., Linux):
- CUDA/cuDNN version:
- GPU models and configuration:
- How you installed PyTorch (`conda`, `pip`, source):
- If compiling from source, the output of `torch.__config__.show()`:
-

[2021-08-10 07:15] akihironitta commented on #5984
@adam-mehdi Note that `forward()` is optional and the method isn't executed unless you manually call it in `training_step` (or wherever).

Please also see https://pytorch-lightning.readthedocs.io/en/latest/starter/new-project.html.

[2021-08-10 07:19] awaelchli commented on #7534
The Collective class is a nice addition. I like it as well!

[2021-08-10 07:38] Borda commented on #5491
see follow-up work suggestions in https://github.com/PyTorchLightning/pytorch-lightning/pull/8535#discussion_r678947328

[2021-08-10 07:47] MohammedAljahdali commented on #7653
I have a use case where on the test dataset I would do extra metrics calculations, as well as, logging the prediction and the correct target (They are strings), I would like to be able to return these things from `test_epoch_end` in`trainer.test()`.

Another option, would be to allow `self.log(.... reduce_fx=None)` or `self.log(.... reduce_fx=lambda x: x)`

[2021-08-10 08:01] awaelchli commented on #8818
I think Lightning's 1000 epochs is a safety feature.
The only idea I have without changing this behavior is to add new special default:

[code]
Where X is a sentinel value (is this the right term??) to differentiate from None. And when user sets it to None we have the infinite loop, but if not we keep the previous behavior. Not the most elegant but that's what I can think of now

[2021-08-10 08:05] awaelchli commented on #8808
makes sense to me :) just requires more bookkeeping for metrics, optimizer state, and model parameters (and maybe more) too keep track of.

[2021-08-10 08:11] bobiblazeski commented on #8820
'1.9.0'

[2021-08-10 08:13] #5491 closed

[2021-08-10 08:14] Borda commented on #8820
mind try re-build your AMP from latest?

[2021-08-10 08:14] #8614 closed

[2021-08-10 08:39] bobiblazeski commented on #8820
Could you point the instructions how to do that?

Is that the same as apex, since  I'm unable to build apex manually. I could only use  it previously via the one included in pytorch

[code]

[2021-08-10 08:51] OlfwayAdbayIgbay commented on #8808
@ananthsub of course! See the following:

It also has to be done on_train_epoch_start, because if you call this on_train_epoch_end, the trainer will not do the logging! Maybe I should open an issue for that as well :)

[code]

[2021-08-10 09:25] SkafteNicki commented on #2205
So I tried to run the script provided by @andrewssobral but was not able to reproduce the error.
@alex2awesome could you try master version of torchmetrics?

[2021-08-10 10:03] bobiblazeski commented on #8820
I've managed to fix this by creating new environment, installing pytorch, then lightning then manually installing  pytz &  python-dateutil, then the rest my packages.

[2021-08-10 10:03] #8820 closed

[2021-08-10 10:08] eladsegal opened #8833 "Unnecessary warning when resuming training"
## 🐛 Bug

When training is resumed with `resume_from_checkpoint`, a warning is given about missing callbacks even if the expected callbacks are included.

I got the following:
[code]
when the relevant variables had these values:
[code]
[code]

</br>

From a quick look, it seems that the source of the bug is that in `current_callbacks_type` there are types, and in `saved_callbacks_type` there are s

[2021-08-10 11:17] awaelchli commented on #8833
Thanks @eladsegal I noticed it too. Great you could find the issue in the code. If you wish  feel free to send a PR for the fix. If not I will take a look.
The problem should only exist on master, the state_id changes are not released

[2021-08-10 11:20] awaelchli opened #8835 "resume_from_checkpoint broken when fault-tolerant feature enabled"
## 🐛 Bug

A trainer with the resume from checkpoint option does not continue training and stops immediately, despite increased max_epoch settings.

### To Reproduce
[code]

Output:

[code]
Here the training_step does not get invoked on the second fit call. Instead, the epochs end immediately.

ONLY happens when PL_FAULT_TOLERANT_TRAINING=1. This is an experimental feature which is off by default.

[2021-08-10 11:29] awaelchli commented on #8835
my bad, I had accidentally `@unittest.mock.patch.dict(os.environ, {"PL_FAULT_TOLERANT_TRAINING": "1"})`

[2021-08-10 11:43] awaelchli commented on #8835
issue starts with this line: https://github.com/PyTorchLightning/pytorch-lightning/blob/3096ab88ebb1d9c9c07c3230829171925c9e678a/pytorch_lightning/trainer/connectors/checkpoint_connector.py#L353

[2021-08-10 13:37] nathancooperjones opened #8839 "`MisconfigurationException` with `ReduceLROnPlateau` when taking a single step"
## 🐛 Bug

When using a learning rate scheduler that requires a monitor, such as `ReduceLROnPlateau`, and we set up a `Trainer` to only train a single step with `max_steps=1`, we get a `MisconfigurationException` that says the only monitors we can use in the LR scheduler are the ones associated with the training metrics, _not_ those for validation or testing epochs. This change is reltaively new, a

[2021-08-10 16:32] Erotemic commented on #8823
Well, now I feel silly.

I'm so used to setting the specific device I want to use, I didn't even consider that. It still feels a little weird that the user can't set the argument explicitly to the default, but as long as 0 is effectively the default, then I'm happy enough to close the issue and PR. No need to add complexity when its not needed.

[2021-08-10 16:32] #8823 closed

[2021-08-10 17:18] nicolas-dufour commented on #8707
Hey i had the same problem and i solved it by adding srun at the end before the python run.py. Apparently, there is no problem when you don't have the num_nodes args without the srun but it fails when you add it (For me it also failed when i specified num_nodes=1)

[2021-08-10 17:39] magehrig commented on #8453
I have the same problem.

The culprit is related to this part of the code: https://github.com/PyTorchLightning/pytorch-lightning/blob/efec3d461c38e00c4db36acecf946ac45e08b0e1/pytorch_lightning/loops/epoch/evaluation_epoch_loop.py#L124

This is especially bad since I am logging large images which leads to memory overflow on the GPU.

[2021-08-10 18:45] thecooltechguy opened #8843 "SaveConfigCallback errors out when default_root_dir is an S3 path"
## 🐛 Bug

Hi, when running PL Lightning using an S3 `default_root_dir` in the Trainer (while using the `LightningCLI`), I’m getting the following error:
[code]
This error goes away if I add `save_config_callback=None` to the `LightningCLI` , so I think this may be a bug with the CLI saving the config callback, when the Trainer’s `default_root_dir`  points to an S3 path.

### To Reproduce
Any train

[2021-08-10 19:26] lsqshr opened #8845 "The new `dataloader_idx` argument not reflected in the doc string example of hook `transfer_batch_to_device`"
https://github.com/PyTorchLightning/pytorch-lightning/blob/cb2a8ed1b8f78386de4771d3bc59e19022e1b023/pytorch_lightning/core/hooks.py#L717

A new argument dataloader_idx has been added to the hook transfer_batch_to_device. However, it is not clear in the doc string example yet how it is going to be used.

[2021-08-10 21:13] alex2awesome commented on #2205
Hi @SkafteNicki , I tried the master version of torchmetrics, unfortunately am seeing the same error.

Shall I provide code for you to try reproducing?

[2021-08-11 01:43] Tshimanga commented on #8728
@ananthsub I've submitted a PR for review that adds the v1.5 deprecation warnings. I didn't find any tests that needed to be (re)moved. By the way, is there a reason why `rank_zero_deprecation` isn't a decorator?

[2021-08-11 02:16] ananthsub commented on #8728
`rank_zero_deprecation` can be used within functions. It doesn't always have to wrap a function to print a warning. Something like `rank_zero_only` is a decorator as it applies to the function as a whole.

[2021-08-11 03:16] bellhyeon commented on #6106
same issue here

[2021-08-11 05:30] SkafteNicki commented on #2205
@alex2awesome yes please do so :]

[2021-08-11 06:14] ChenYingpeng commented on #4471
Seeing the same issue here with pytorch 1.7.1, cuda-10.0, pytorch-lightning 1.3.3.

[2021-08-11 11:46] rohitgr7 commented on #8845
Mind send a PR with the correct update??

[2021-08-11 13:19] senarvi commented on #6789
I'm not seeing the regression when using 16 GPUs anymore. I fixed a couple of errors in the loss function. Essentially the loss was scaled incorrectly. But I don't see how these could have a different effect with different number of GPUs, when the batch size is kept constant. Then I noticed that another regression and in some cases an error message was caused by using an incompatible version of To

[2021-08-11 15:49] awaelchli commented on #8843
strange, in theory this should work since we have a makedirs call here with fsspec:
https://github.com/PyTorchLightning/pytorch-lightning/blob/b47e3ab7ce171ced7b9d807bbca6062cd6b5c97e/pytorch_lightning/utilities/cli.py#L187

I believe you need to install this extension:

[code]

Can you check what gets returned when you do

[code]
?

[2021-08-11 15:52] #8728 closed

[2021-08-11 16:30] awaelchli commented on #8826
Hey @anshulcgm when you run with DDP you need to divide the batch size by  NUM_GPUS:

[code]

[2021-08-11 17:47] bharathc346 opened #8857 "Native PyTorch is faster than PyTorch Lightning (CPU) w/ Simple SGD Logistic Regression"
## 🐛 Bug

Pytorch Lightning is much slower than Native Pytorch

### To Reproduce

[code]

### Expected behavior

Believe pytorch_lightning should be faster or at least same speed as native pytorch with this simple model

### Environment
* CUDA:
	- GPU:
	- available:         False
	- version:           None
* Packages:
	- numpy:             1.21.1
	- pyTorch_debug:     False
	- pyTorch_version:   1

[2021-08-11 19:34] jiwidi commented on #5245
Would love to have this feature too!

[2021-08-11 20:02] lsqshr commented on #8845
I would be happy to make an MR for sure. But to be honest, I do not know a scenario that `dataloader_idx` is needed here (this is why I checked the documentation for an example usage). Any idea?

[2021-08-11 20:52] awaelchli commented on #8839
I investigated.

This previously only worked because of the sanity check which ran before training and logged a metric. After #8171 however, we clear metrics after running the validation sanity check. At the time the trainer attempts to step the scheduler, no validation metrics has been logged yet. This causes the error to appear.

We have to think about how we want to step schedulers that rely on

[2021-08-11 21:56] awaelchli commented on #8839
More investigation:
Ignore the very last sentence I wrote. The rest is correct but turns out not that relevant.

New observation:
Bug here happens only when `max_steps` specified.
When `max_steps` is specified, we are quitting early in the epoch and therefore don't run validation, which makes the monitored metric unavailable, but we do attempt to run the scheduler update.

The fix will be to avoid

[2021-08-11 22:07] awaelchli commented on #8839
I will send a fix. If this is in anyway blocking you, you can set `"strict": False` in the scheduler dict to convert the error into a warning until we have the fix merged and released.

[2021-08-12 00:26] david-littlefield opened #8863 "Nightly XLA + Lightning Issue"
## 🐛 Bug

`pt-xla-profiler: TransferFromServerTime too frequent: 314 counts during 80 steps
pt-xla-profiler: Op(s) not lowered: aten::sgn_out,  Please open a GitHub issue with the above op lowering requests.`

It takes longer to train an epoch with TPUs on Colab using 8 cores than my 1080 ti 11GB GPU. I've been stumbling my way through using the TPU in PyTorch Lightning. I was able to identify a b

[2021-08-12 00:29] johnwlambert commented on #8826
Thanks for raising this issue Anshul, and thanks @awaelchli for the response.

In my humble opinion, I think most people in optimization or machine learning would think of the batch size in SGD to be the number of total examples used for a single gradient update.

this is also what how DDP treats the batch_size param  in torch.utils.data.DataLoader.

so i think this would be a good thing to consid

[2021-08-12 01:15] #8215 closed

[2021-08-12 01:15] #8269 closed

[2021-08-12 03:30] kaushikb11 commented on #8863
Hi @david-littlefield, as it is an issue of Operation(s) not being lowered for XLA, PyTorch XLA would be the right place to create an issue and discuss the support of those operations.

[2021-08-12 04:38] dhkim0225 commented on #8821
I have the same issue.

[2021-08-12 05:08] Flash-321 commented on #5918
Hi, I have a ame request for the feature. and it seems have not been supported in 1.4.1

[2021-08-12 05:45] david-littlefield commented on #8863
Great, I'll do that. Thanks, @kaushikb11 !

[2021-08-12 06:40] etienne87 commented on #3022
this links points to nowhere, any update?

[2021-08-12 07:21] justusschock commented on #8857
Hi @bharathc346 , thanks for opening the issue with such a good reproduction example :)

You are right, we are a bit slower, but this is a constant overhead, which comes from internal preparations for additional features as logging and some more checks in the background. This however, should be a constant offset (we benchmark it ourselves in the CI for CNNs and RNNs and there we meet the speed exc

[2021-08-12 07:48] InCogNiTo124 commented on #8821
Maybe it is connected with this?

https://github.com/pytorch/pytorch/issues/8976

[2021-08-12 07:58] tchaton opened #8867 "[RFC] Introduce `LightningFetcher` and `BatchProcessor`"
## 🚀 Feature

Provide a set of building blocks and APIs for PyTorch Lightning users to manipulate fetching and data based to the the LightningModule `training_step`.

### Motivation

Currently, several features being developed within Lightning requires a formalisation on how data are being fetched such as Fault Tolerant Training to properly handle `iterators state checkpointing`, `iter-batch-parel

[2021-08-12 09:04] tchaton commented on #8867
Dear @ananthsub @yifuwang, mind sharing your thoughts ?

[2021-08-12 09:05] dhkim0225 commented on #8821
@InCogNiTo124
The code works well with `PL 1.4.0`. I think it's not a pytorch's bug.

[2021-08-12 09:13] awaelchli commented on #8826
that's unfortunately not how it is implemented in pytorch. there is a dataloader per process and the distributed sampler is partitioning the samples. the batch size is per process and the model forward() gets exactly a batch of that size. I think your argument can also easily be twisted around in favor of the current behavior in respect to scaling models to many GPUs.

Also note that DDP and its v

[2021-08-12 09:54] OlfwayAdbayIgbay opened #8868 "Predicting with custom dataloader overwrites "predict_dataloader()" method of module"
## 🐛 Bug

When predicting using trainer.predict(module,DataLoader(my_dataset)), the trainer will overwrite the "predict_dataloader()" method of "module".

### To Reproduce

[code]

### Expected behavior

The DataLoader returned from "predict_dataloader()" should be the DataLoader specified in the modules function, not the dataloader passed to trainer.predict() at some point in time before that.

#

[2021-08-12 10:08] justusschock commented on #8868
Hi @OlfwayAdbayIgbay , This is actually intended behaviour, but I agree, we could probably reset the behaviour to the previous one after finish prediction.

I'll have a look on this.

[2021-08-12 10:12] OlfwayAdbayIgbay commented on #8868
This is intended behaviour? What is the reasoning behind this?

To me it seems very misleading that I explicitly define a function which returns a dataloader, and that function is overwritten by variable passed to a function that isn't even a function of my class.

At the very least this should give a warning, this was insanely hard to debug.

[2021-08-12 10:16] justusschock commented on #8868
It is intended in the way that we patch the module to have a unique point from where to fetch the loader during training/validation/prediction and also for users to be sure that they can always get their latest loader in case they need to reset/modify/access it. But I will check if we can reliably make sure to reset this.