[2020-02-14 04:00] jeremyjordan opened #836 "advanced profiler description fails for python 3.6"
## 🐛 Bug

Python 3.6 doesn't have the `pstats.SortKey.CUMULATIVE` enum so the profiler description breaks.

### To Reproduce

Steps to reproduce the behavior:

Use Python 3.6, pass in the AdvancedProfiler, get report at end of a training run.

[code]

Stack trace:
[code]

#### Code sample

[code]

### Expected behavior

### Environment

Collecting environment information...
PyTorch version: 1.4.0

[2020-02-14 06:42] elistevens opened #838 "Design suggestion: remove forward from list of methods to override"
## 🚀 Feature (?)

This is more a philosophical design suggestion than a feature request.

I think that the presentation of `LightningModule` as a `torch.Module`-plus-features encourages early experiment designs that don't refactor nicely as the projects using it grow.
I also think that calling `self.forward` directly is a torch anti-pattern, and should not be encouraged.
I'd like the official docs

[2020-02-14 08:55] djbyrne commented on #838
I recently started using Lightning for a project I have been working on and I needed to import the model from a seperate module like you stated @elistevens.

In my Lightning __init__ i just instantiate my external model and override the forward to return mymode(x). This works fine, however, I agree that it might be better to have the model as an attribute as opposed to Lightning being the model.

[2020-02-14 09:17] djbyrne commented on #780
Hi guys, I'd be happy to take this on. Really like the framework and would like to start contributing :)

[2020-02-14 09:23] Borda commented on #836
just wondering, was it also falling while PR #782?

[2020-02-14 09:31] BraveDistribution opened #839 "Cross validation feature"
## 🚀 Feature
Cross-Validation is a crucial model validation techniques for assessing how the model generalizes on new data.

### Motivation

Research papers usually require cross-validation. From my point of view, this kind of feature would simplify the work of researches.

### Pitch

I want to pass a parameter to the Trainer object to specify that I want to train the model on K-folds.

 In the ca

[2020-02-14 10:22] Borda commented on #780
sure, at this moment this is just reminder so we do not forget it.. lol
but sure, @djbyrne would you mind having look at some other "first issues" in the backlog

[2020-02-14 10:47] djbyrne commented on #780
Yeah @Borda I'd be happy to. Could look at #714, i think thats the only remaining "good first issue" that doesn't have someone working on it

[2020-02-14 12:18] jeremyjordan commented on #836
there wasn’t test coverage for this case, it was failing in the `describe()` method. worked for me on local since i was using 3.7.

[2020-02-14 14:28] awaelchli commented on #788
An alternative would be to call the specific experiment object from the logger, e.g. for TensorBoard logger:

`self.logger.experiment.add_scalar("myloss", loss, global_step=...)`

I think that should work. It will still log the other metrics you return in the dict with the regular step values.

[2020-02-14 14:48] versatran01 opened #840 "Handle abstract loader that doesn't have a dataset member"
# Feature / Bug (?)

I have an abstract loader that chains multiple pytorch loaders when training on video sequences. Each small loader contains one sequence and the chained loader just use itertools.chain to chain them together.

I cannot put all data in a single loader because it does not make sense to read images from two different sequences.
I cannot use an IterableDataset because that would s

[2020-02-14 15:16] festeh commented on #788
You're right, this is a vaild way, when I opened this issue I did not thought about it. Still I think that this approach is a bit complex, as for such a simple task you need to cast your metrics to float and possibly write a loop with `add_scalar` instead of just passing metrics in `log` dict.

[2020-02-14 16:15] alexandrebone opened #841 "Scheduler should be initialized after Apex is configured"
### Description

Using jointly a scheduler and apex-amp throws a UserWarning:

As suggested here (https://discuss.pytorch.org/t/cyclic-learning-rate-how-to-use/53796), the scheduler should be initialized after Apex is configured.

### To reproduce

Run the MNIST example with `use_amp=True`.

### Expected behavior

No scheduler-related user warning.

### Workaround

The following hack seems to work

[2020-02-14 21:38] sneiman commented on #702
Wanted to share an issue/solution that has surfaced in trying to bring objects from ddp spawned sub processes back to the master process.

**The issue is this**: if you create a python multiprocessing Queue or SimpleQueue in the normal way, and attempt to use it in process created by `torch.multiprocessing.spawn()`, as pytorch-lightning does, you will crash with a SIGSEGV.

**The solution is** to

[2020-02-15 01:26] hjalmarlucius opened #850 "Epoch end checkpoint restarts previous epoch"
## 🐛 Bug

If restarting the training and reloading the model, the epoch that the checkpoint had just completed is restarted rather than beginning the next.

### Expected behavior

When a checkpoint upon epoch end is saved, restarting it should resume its state and start the next epoch.

[2020-02-15 01:37] hjalmarlucius opened #851 "Model checkpointing to just save the latest model"
## 🚀 Feature
There is currently no automated option of always only keeping the latest saved model - there is always a metric benchmark used that needs to be exceeded. This is fine as a default but there should be a 'keep-it-simple' option of always just saving whatever is the latest.

### Motivation

The concept of top-k is sound but when testing the capacity of new architectures, the most importa

[2020-02-15 06:31] festeh commented on #851
If one needs to keep just a single checkpoint, it should be the best in some way, say by val accuracy. What is the rationale behind keeping just a last checkpoint?

[2020-02-15 09:37] kuynzereb commented on #851
Actually, if you set `save_top_k=-1` in the current `ModelCheckpoint` it should save every checkpoint. But yes, it is not possible to save **only** the last checkpoint. Moreover, there may be no validation loop in your setup in which case current `ModelCheckpoint` can't be used at all. Once #776 is merged it will be easier to implement new kinds of checkpointing callbacks. For example, a simple ca

[2020-02-15 14:28] hadim opened #854 "[Pyright] Cannot instantiate abstract class"
I use [Pyright](https://github.com/microsoft/pyright) for static type checking and it raises 66 errors on `master` due to `Cannot instantiate abstract class 'Trainer'`.

I have been able to reproduce the issue:

[code]

Do you think this should be addressed or do you think it's an error from Pyright? In that case, I will open a ticket on the Pyright repo.

[2020-02-15 14:38] hadim opened #855 "[Pyright] Cannot access member 'X' for type 'None'"
Pyright raises 89 errors on `master` about `Cannot access member 'X' for type 'None'`. Here is an example in `evaluation_loop.py`:

[code]

One way to fix this is to indicate the type of those variables:

[code]

Unless you see a more elegant way?

[2020-02-15 19:22] jeremyjordan opened #857 "Force disable early stop feature documentation is not correct"
## 📚 Documentation

In the [latest docs](https://pytorch-lightning.readthedocs.io/en/latest/early_stopping.html#), it says:

[code]

However, if you look at the code for the `TrainerCallbackConfigMixin` this is not what happens.

[code]

What is the intended behavior? One of these two things should be updated.

[2020-02-15 21:52] versatran01 commented on #775
I suggest following pytorch-ignite and just add the monitored name and value to the saved checkpoint.
So filepath would simply be a directory and saved checkpoint will be something like {prefix}_ckpt_epoch_{epoch}_{monitor}_{monitor_value}.ckpt

[2020-02-15 22:41] Borda commented on #300
shall we catch this one in 0.6.1 or next 0.6.2 as you mentioned we already have nice features...

[2020-02-15 22:49] Borda opened #858 "Add CHANGELOG"
## 📚 Documentation

It would be nice to create a Change log retrospectively and since now each PR would be added to also to this change log... see [example](https://github.com/pytorchbearer/torchbearer/blob/master/CHANGELOG.md)

Benefits:
- simplify the transition between version, simply to see what changed, especially with deprecated API
- easier preparation of release log with these updates

[2020-02-15 23:45] Borda opened #859 "test fails with `_lazy_train_dataloader`"
## 🐛 Bug

The tests are time-to-time randomly failing across all platforms (but mainly macOS and Win) with following message:

[code]

### To Reproduce

https://github.com/Borda/pytorch-lightning/runs/448238658

[2020-02-16 00:08] Borda opened #860 "coverage check/cleaning"
## 🚀 Feature

This is aiming at technical package debt.
In the coverage config, there is quite a long list of skipped patterns and files which does not look nice...
This shall be check, and list pruned... also we do not want to lower coverage, which means we shall come with test-cases exposing these patterns...

### Motivation

Proper and full test coverage wich will lover chance of crashing...

#

[2020-02-16 04:35] #788 closed

[2020-02-16 04:43] #836 closed

[2020-02-16 04:48] #831 closed

[2020-02-16 05:18] jeremyjordan opened #862 "Add test guidance to contributer guide"
## 📚 Documentation

From discussion on PR #837 , we should include some guidelines for how code is tested, especially for new contributions. This would probably be included in `CONTRIBUTING.md` in the docs.

Things to discuss would be:
- usage of fixtures in tests
- parameterized tests
- expected level of documentation in tests

[2020-02-16 05:22] jeremyjordan commented on #862
cc @Borda from our chats on the PR, made this issue

[2020-02-16 06:38] gofimofi opened #863 "About fine-tuning and explaining the result"
## ❓ Questions and Help

Hi,

Thank you for the contribution and framework. Would you mind if you lead me how to freeze all the layers except classification layer during the fine tuning? And also would you help me how to explain the result of the fine tuned model such as which words of the "sentence" made it labelled as positive?

Thank you.

[2020-02-16 09:33] kuynzereb commented on #857
Docs should be updated. To disable early stopping one should set `early_stop_callback=False`. By default `early_stop_callback=None` and it initializes not strict version of early stopping. It means that it will work only if the user returns `'val_loss'` after `validation_end()` and otherwise training will go as though early stopping is disabled.

[2020-02-16 11:25] MattPainter01 commented on #850
https://github.com/PyTorchLightning/pytorch-lightning/blob/edd4a87fb0e976e004a82c7a3491598ab65cafbd/pytorch_lightning/trainer/training_io.py#L389

This seems as simple as replacing the line above with ```self.current_epoch = checkpoint['epoch'] + 1``` since the checkpointers save at the end of validation and the main loop runs from the current epoch.

We should probably also increase the global st

[2020-02-16 15:10] djbyrne commented on #780
Hey @Borda I have a PR ready, but when I try to push my branch it says I dont have access to the repo. Do I need to be added to the repo list ?

[2020-02-16 15:42] Borda commented on #780
You need to do branch in your forked repo and then make PR, but this is for long future because 0.8.0 is planed after couple months... So there is high chance of conflicts with other PRs
I would recommend to let it be and take other first good issue ;)

[2020-02-16 15:47] hjalmarlucius commented on #850
That works when saving at epoch end but there's many cases of saving during an epoch as well (e.g. for a very large dataset). Both the epoch number and the global step are technically correct upon saving mid or end epoch but when resuming, the loop starts at the beginning. The best solution is to make the resume reliably restart precisely where in the loop it left off. I'm not that familiar with t

[2020-02-16 15:52] #635 closed

[2020-02-16 15:55] hjalmarlucius commented on #851
@festeh for training a model for using, I agree. But for testing ideas, the objective is often to just run it until convergence - but as runs may take days you need to prune. Example: You test 20 ideas for 10 epochs each, then take the best three and test them another 10 epochs to see which is better.

@kuynzereb Great that there is more flex on callbacks. I think ModelCheckpoints ideally should b

[2020-02-16 16:33] djbyrne commented on #780
Ah I see, will do. Yeah for sure, is there a workspace for Pytorch Lightning?

[2020-02-16 16:50] Borda commented on #780
https://camo.githubusercontent.com/42eaba71efb1cd9904693fee132c8d11d70088d2/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f736c61636b2d636861742d677265656e2e7376673f6c6f676f3d736c61636b

[2020-02-16 17:03] MattPainter01 commented on #850
I can think of at least one way to do it, although it's not ideal:
- Store a batch number in the checkpoint as you suggest and when resuming, load this into a (hidden?) trainer variable which is checked every training batch.
- Skip each batch until the batch number is above this saved variable, at which point we can set it to ``None`` or something.
- Run batches as normal

Two Problems I see:
- Wh

[2020-02-16 17:37] jeremyjordan commented on #859
I think this is caused by a failed connection to yann.lecun.com to download the MNIST dataset.

Downloading code here: https://pytorch.org/docs/stable/_modules/torchvision/datasets/mnist.html#MNIST

[2020-02-16 21:39] xssChauhan opened #870 "Incorrect Signature of `training_end`, `validation_end`, `test_end` in `Experimet Reporing`"
## 📚 Documentation

Documentation [here](https://pytorch-lightning.readthedocs.io/en/latest/lightning-module.html) defines the signature of the functions as follows:
`training_end(self, outputs)`
`test_end(self, outputs)`
`validation_end(self, outputs)`

While in the `Experiment Reporting` [section of docs,](https://pytorch-lightning.readthedocs.io/en/latest/experiment_reporting.html) the signatur

[2020-02-16 22:47] tchaton opened #872 "poetry + hydra"
## 🚀 Feature

It would be great to have hydra and poetry integrated within Pytorch Lightning.

### Motivation

[2020-02-17 01:05] rooa commented on #829
This seems to be related to #775.

[2020-02-17 01:13] jamesjjcondon commented on #379
Hi, thanks for this. I'm having a similar issue and not quite following the above.
Background:
I'm using this in my validation-end (because it worked, I couldn't work out another way, I know it needs optimising. (and I have very small batches of very large images)):
`try: # one GPU version
            avg_loss = torch.stack([x['val_loss'] for x in outputs]).mean()
            avg_acc = torch.stack

[2020-02-17 02:23] williamFalcon opened #874 "fix segmentation demo"
@akshaykvnit @Borda

[code]

[2020-02-17 02:28] akshaykvnit commented on #874
@williamFalcon
According to [this page](https://pytorch.org/docs/stable/torchvision/models.html), it does exist. Not sure why it fails.

[2020-02-17 02:30] williamFalcon commented on #874
probably has  to do  with the  version of  torchvision which i noticed  isn't being checked or anything

[2020-02-17 02:36] akshaykvnit commented on #874
@williamFalcon
According to [this page](https://pytorch.org/blog/torchvision03/), segmentation models were introduced in version 0.3 of torchvision. So, I think the tests might be using older versions (for backwards compatibility maybe?)

What I can do is add a custom implementation of U-Net (popular architecture) and replace the torchvision model. But even that'll take a few hours because I have

[2020-02-17 02:41] williamFalcon commented on #874
@akshaykvnit yes please. That would be ideal. This is breaking the core tests, so we'll have to roll this back otherwise.

Thanks!

[2020-02-17 02:43] williamFalcon commented on #859
```_lazy_train_dataloader```

means something in the dataloader failed...

[2020-02-17 03:44] jamesjjcondon commented on #490
FYI, I was still having this issue which I traced to not having enough trainer.overfit_pc to check relative to my batch-size and num gpus. validation sanity checks and validation end seemed to get skipped (if I ran without early stopping) thereby not returning my loss metrics dict. solved purely by increasing overfit_pc.

[2020-02-17 03:55] jeremyjordan commented on #859
yes. my understanding is:

dataloader construction attempt [here](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/core/decorators.py#L19) --> calls `_dataloader` [here](https://github.com/PyTorchLightning/pytorch-lightning/blob/6029fad989bcf6e9e630385e77ae7d0dbf112bac/tests/models/base.py#L153) --> constructs TestingMNIST dataset with arg `download=True` --> per

[2020-02-17 06:06] Borda commented on #874
@williamFalcon major question is what torchvision version do you want to support, in past we had there `torchvision>=0.4`

[2020-02-17 06:08] Borda commented on #859
Do we have a better source for downloading the dataset?

[2020-02-17 06:34] shijianjian opened #877 "How do I test before any training?"
## ❓ Questions and Help

I am now migrating some of my previous works into lightning. I wish to see if it is able to reproduce my previous results or not. But the doc implies that all the testing has to be performed after training or after loading the previous lightning training state, which I do not have either.

So How can I test before training?

#### Code

[code]
It cannot work since the train

[2020-02-17 07:01] akshaykvnit commented on #874
I would also suggest keeping `torchvision>=0.3` at least because a lot of object detection and segmentation models were introduced in 0.3. These are very good architectures which will be good for examples, instead of using custom models.

[2020-02-17 07:18] festeh commented on #877
If you dig a bit deeper into the sources, you'll find that `fit` actually calls `evaluate` and do not fit a model if `testing` flag is True. So you can run `trainer.test(system)`, it should probably work.

[2020-02-17 07:24] Borda commented on #874
Note that this package is not dependent on `torchvision` any more, just some tests and examples...

[2020-02-17 08:42] Borda opened #878 "Example testing"
## 🚀 Feature
Find a way how to test examples in CI

### Motivation

Due to some API modification, our examples may become invalid and we would not notice it until a bug report...

### Pitch

The best way is running examples as a part of CI, on the other hand, it may be quite a time consuming

[2020-02-17 08:55] MartinPernus commented on #379
Hi,

it would go in this exact function you posted: when you are calculating the average loss and accuracy in the whole validation set. In your case, you would just write
`dist.all_reduce(avg_loss)
avg_loss /= dist.get_world_size()`

and the same for 'avg_acc'. This way the value will be synchronized across all processes and you won't get early stopping by a subset of processes.

[2020-02-17 09:04] drazellan commented on #379
Hi
I'm left this issue aside as i have a lot of works in my regular job but thanks for the reply, i completely agree with yours remarks
Nicolas

________________________________
De : MartinPernus <notifications@github.com>
Envoyé : lundi 17 février 2020 08:55
À : PyTorchLightning/pytorch-lightning <pytorch-lightning@noreply.github.com>
Cc : drazellan <drazellan@hotmail.com>; Mention <mention@norep

[2020-02-17 09:23] Borda opened #879 "Creating model ZOO"
## 🚀 Feature

Creating a model ZOO within lightning, this is just discussion lightning...

### Motivation

with the particular examples can be easier re-usable among different model and use cases without code duplication, also with re-usage potential bugs can be found easier/faster and repaired in one place...

### Pitch

We shall discuss the pros and cons of this act
@PyTorchLightning/core-contri

[2020-02-17 09:28] Borda commented on #872
@tchaton sounds good, could you pls add motivation or/and use-case how you would like to use it?

[2020-02-17 09:40] shijianjian commented on #877
Yes, it worked. Sorry for the dummy question.

[2020-02-17 09:40] #877 closed

[2020-02-17 10:41] jamesjjcondon commented on #379
Thanks again. yeah i tried that but it's still hanging. Curious about closing the dist.group but not a massive issue at the moment.

[2020-02-17 11:18] xssChauhan commented on #760
@williamFalcon Any progress on this Issue? I am facing the same problem.
@fdelrio89 Your solution looks good.

[2020-02-17 11:21] xssChauhan commented on #760
@fdelrio89 Since the logger object is available for the lifetime of the trainer, maybe you can refactor to store the `experiment_key` directly in the logger object itself, instead of having to re-instantiate the logger.

[2020-02-17 11:54] tchaton commented on #872
Hey @Borda , I used pytorch-lightning for two on my previous projects and I chosed not to use it for my latest one.
I felt it was missing some flexibility, due to having one logic template for both model and dataset.

We are using hydra for the configuration and poetry for package management.

Here is the project: https://github.com/nicolas-chaulet/deeppointcloud-benchmarks.
I think we have an int

[2020-02-17 13:03] #874 closed

[2020-02-17 13:07] williamFalcon commented on #859
nah. i’ll create a link on s3 and we can get from there

[2020-02-17 13:09] #858 closed

[2020-02-17 13:10] #870 closed

[2020-02-17 13:11] #879 closed

[2020-02-17 13:11] MattPainter01 commented on #850
Currently I've put in a PR that deals with the off by one when loading a checkpoint from epoch end. I've added a warning when loading a mid-epoch checkpoint that says resuming training is not reliable and to consider loading an end of epoch checkpoint.
If it's preferable I can also rerun the previous epoch when we detect mid-epoch checkpoints, but this technically means you run for more epochs tha

[2020-02-17 16:04] marsggbo opened #882 "simplification over all kinds of "path" settings"
I'm lost in all kinds of "path" settings, could it be more simpler?

Across the source code and examples, I find that there are many types of "path" config, such as the path in `ModelCheckpoint`, `logger`, and `default_save_path` in trainer.

Could you please explain these path configs in more detail? For example, if we set `default_save_path`, how does it influence other path configs?

[2020-02-17 18:14] williamFalcon opened #885 "Fix .test() on ddp"
This might be broken on notebooks only.
#875 solves a few problems with .test()

However, ddp + .test might be broken on notebooks because of the "spawn" option. (likely #747).

[2020-02-17 18:15] williamFalcon commented on #885
Anyone interested in looking at this?

[2020-02-17 18:51] sneiman commented on #885
I am investigating this. Thats how I ran into the spawn issue with shared Q's. I am not using a notebook. This is (I believe) because ddp reduces tensors and parameters back to dev_ids[0] and there is no obvious way to get them back to the spawning CPU. I am slowly making progress, but don't have a lot of consistent time to put in.

[2020-02-17 21:01] #300 closed

[2020-02-17 21:32] Borda commented on #819
@luiscape may you have look at the JS in our template?
https://github.com/readthedocs/readthedocs.org/issues/6661#issuecomment-587140328

[2020-02-17 23:31] Borda commented on #199
you may check https://stackoverflow.com/questions/41060382/using-pip-to-install-packages-to-anaconda-environment
there is also a task about supporting `conda` packaging #794

[2020-02-17 23:56] hadim opened #887 "Add typing to the codebase"
Python typing is a good way to rapidly check for coding issue while developing and it also allows to generate documentation with types automatically.

It's a good first issue for someone who wants to contribute to PL.

[2020-02-18 00:04] Laksh1997 opened #888 "transfer_batch_to_gpu not moving List[torch.tensor] and like datastructures to GPU"
## 🐛 Bug

```trainer.transfer_batch_to_gpu(torch.randn(3, 3), 0)``` gives:
[code]

But
```trainer.transfer_batch_to_gpu([ torch.randn(3, 3) ], 0)``` gives
[code]

which is not the expected behaviour as we are supposed to move all tensors in the data structure onto GPU.

Same issue occurs for tuple and dictionary datastructures.

Also - would it be possible to get gpu transfer for argparse.Namespac

[2020-02-18 00:22] s-rog commented on #199
Right now I'm converting the package to a wheel with no dependencies then installing in the kaggle kernel, seems to work fine.

[2020-02-18 02:36] williamFalcon commented on #199
i use pip install pytorch-lightning on conda and colab without problems

[2020-02-18 08:50] djbyrne commented on #859
I can take a look if the issue isn't already resolved

[2020-02-18 14:54] Borda commented on #821
there is probably build error because now the examples are missing completly, see e.g [GAN](https://pytorch-lightning.readthedocs.io/en/latest/pl_examples.domain_templates.gan.html)

[2020-02-18 15:00] Borda commented on #872
There is already similar suggestion, so please continue the discussion in #807

[2020-02-18 15:00] #872 closed

[2020-02-18 15:02] Borda commented on #775
@neelr11 are you still interested in sending a PR?

[2020-02-18 15:15] #778 closed

[2020-02-18 15:17] tchaton commented on #807
My current ML project is using Hydra. It is pretty awesome !

Have a look: https://github.com/nicolas-chaulet/deeppointcloud-benchmarks

[2020-02-18 15:18] Borda commented on #730
@lmartak @tridao how do you feel about making a PR?

[2020-02-18 15:26] Borda commented on #854
by my understanding the example above is correct, so I would open question on Pyright if they are aware of it... could you please link your issue there to this one so we neep track... Thx

[2020-02-18 15:28] Borda commented on #855
This shall be fixed, may you consider sed a PR?

[2020-02-18 15:30] hadim commented on #855
Not sure I would have time on the short term but I'll keep it on my TODO list.

[2020-02-18 16:23] #640 closed

[2020-02-18 16:25] #857 closed

[2020-02-18 17:20] hjalmarlucius commented on #850
Great, a good compromise for now

[2020-02-18 18:04] davidlrobinson commented on #595
As @jeremyjordan suggested, using a Keras-style ordered list of custom callbacks would be incredibly useful.

[2020-02-18 19:23] lmartak commented on #730
@Borda I probably won't find time before the conference deadline I'm targeting. If it's still open when I find time, I'll give it a shot (and write here when I start).

[2020-02-18 21:27] fdelrio89 commented on #760
@xssChauhan good idea, I just submitted a PR (https://github.com/PyTorchLightning/pytorch-lightning/pull/892) considering this. Thanks!

[2020-02-18 21:42] awaelchli commented on #887
I like this and I'm happy to help out here. My suggestion is to do it gradually and split into multiple PRs, e.g., starting with Trainer and LightningModule, then Loggers and so on.

[2020-02-19 01:18] darwinkim commented on #838
This would also help with more complicated research projects that involve multiple models (autoencoders or GANs, for example) and make things a lot more flexible and pythonic, "pytorchic."

[2020-02-19 02:16] jeremyjordan commented on #838
@darwinkim I agree with @elistevens that it will be useful to be able to "extract" a more lightweight to ship to production. However, can you provide an example as to how this would help with more complicated research projects that involve multiple models?

There's a GAN example [here](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/domain_templates/gan.py) which show

[2020-02-19 02:17] jeremyjordan commented on #838
I wonder if there's a way we could expose a `jit_export` functionality which JIT compiles the model and extracts out only that which is necessary for serving inference. The LightningModel would contain everything needed for training and it could export a minimal model for inference as a post-training artifact.

[2020-02-19 02:23] darwinkim commented on #838
@jeremyjordan
https://arxiv.org/abs/1703.00848
Involves training six networks as two autoencoders and two GANs on two datasets

[2020-02-19 04:34] luiscape commented on #819
@Borda See my response on that issue here: https://github.com/readthedocs/readthedocs.org/issues/6661#issuecomment-588030590

The problem is with the extension `nbsphinx`. I'm making a PR with a fix.

[2020-02-19 06:09] Borda commented on #807
I think that having parameters organised in groups would make it easier to navigate, on the other hand, passing `dict` as not very safe...
Ahat about having classes this kind of parameter groups which would ensure default values in resolve missing params as not it is handled by defaults...
[code]
@PyTorchLightning/core-contributors ^^

[2020-02-19 10:31] Borda commented on #199
@hadim may you comment on the `conda` packaging, do you have advice on how put lightning there?

[2020-02-19 10:48] #819 closed

[2020-02-19 11:37] #708 closed

[2020-02-19 13:15] ethanwharris commented on #825
A good way to do this might be to create a `ListLogger` class or similar that takes a list of loggers and iterates over them on each call. Can then make this happen auto-magically in the `Trainer` when a list of loggers is given. Any issues with this approach @PyTorchLightning/core-contributors ? Otherwise I'm happy to implement it :)

[2020-02-19 13:22] Borda commented on #825
The `LoggerCollection` sounds good, a user would pass list loggers he wants to use and then under the hood, it will be transformed to this wrapper...
Moreover, we may do the same, simplified API, with callbacks... as e.g. Keras did, pass just list of callbacks to be executed and Trainer will call then when needed instead of having them specified
https://github.com/PyTorchLightning/pytorch-lightnin

[2020-02-19 13:25] ethanwharris commented on #825
Yeah, that sounds good, I'll do this for Loggers first and then we can think about following up for callbacks

[2020-02-19 13:31] Borda opened #896 "Unify usage of multiple callbacks"
## 🚀 Feature

Simplified API, with callbacks... as e.g. Keras did, pass just list of callbacks to be executed and Trainer will call then when needed instead of having them specified
https://github.com/PyTorchLightning/pytorch-lightning/blob/b1040523b2180300574d961444b00abfa3c84195/pytorch_lightning/trainer/trainer.py#L65-L66

mentioned also in https://github.com/PyTorchLightning/pytorch-lightning/

[2020-02-19 13:31] Borda commented on #896
@ethanwharris lest split the discussion and talk about callbacks here...

[2020-02-19 13:35] williamFalcon commented on #825
why not just take in the list of loggers

[code]

And anytime we call the logger right now internally, we replace with a call to all of them.

[2020-02-19 13:46] ethanwharris commented on #825
The value of a `LoggerList` object or similar here is that the `Trainer` code doesn't need to care how the `Logger`s were given except in the init where it wraps them. The API the user sees will be the same, but it seems more encapsulated this way. That said, either option is fine in that they will both give the same result. Any strong opinions for either option? Otherwise I tend towards a `Logger

[2020-02-19 13:49] Borda commented on #825
as I mentioned, we would keep the API as Will gave [example](https://github.com/PyTorchLightning/pytorch-lightning/issues/825#issuecomment-588232977) but under the hood, we would use a class iteration loggers co you do not repeat looping over all logger or checking if there is just one or more...

[2020-02-19 14:05] williamFalcon commented on #825
Yeah, i think under the hood a loggerlist or some class to encapsulate makes sense! To the user though they should just intuit that they can pass in a list of loggers.

@srush thoughts?

[2020-02-19 14:18] hadim commented on #854
See https://github.com/microsoft/pyright/issues/529#issuecomment-588255021

[2020-02-19 14:22] hadim commented on #807
I like the idea of `ParamaterGroup` (or using hydra API would be ok too).

`ParamaterGroup` should also have a way to serialize itself to common formats such as JSON/YAML/TOML.

That being said I think it's important to keep allowing `dict` type for `hparams` for more simple scenarios. We could simply convert `hparams` to `ParamaterGroup` whenever a `dict` is detected during init. We should also b

[2020-02-19 14:26] hadim commented on #199
I install all the packages available in conda-forge via `conda` and only the ones not available there with `pip`. I also usually like to use `pip --no-deps` to be sure only missing packages are installed with `pip`.

If `pip` packages are present in a conda env file then `--no-deps` won't be used. In 99% of the time, it's fine.

Here is an example of conda env file you could use:

[code]

Then:

[

[2020-02-19 14:30] Borda commented on #199
Great! side question @hadim would it make sense for you have lightning also on `conda` and if so would you interested in helping us to push the release there?  :]

[2020-02-19 14:45] hadim commented on #199
Since PL depends on pytorch, we can't push PL to conda forge because pytorch is available via a separate conda channel called `torch`.

[2020-02-19 15:48] Ir1d commented on #851
I propose to add an option on whether saving the latest model. With this, we can provide the function of checkpointing both best and latest models.

@williamFalcon

[2020-02-19 16:00] Borda commented on #199
I see, so let's keep it as it is... :]

[2020-02-19 16:28] srush commented on #825
Yup, the user API of torch-lightning seems to be that passing/returning lists just works, so I like that style.

[2020-02-19 16:31] hadim commented on #896
See https://github.com/PyTorchLightning/pytorch-lightning/pull/889

[2020-02-19 16:33] hadim commented on #896
I don't plan to incorporate `checkpoint_callback` and `early_stop_callback` callbacks in the new system to avoid making this #889  too big but that should be done in a future PR.

Same for the loggers logic, they should use the callback system IMO (all the custom callbacks I use are loggers...).

[2020-02-19 16:42] hadim commented on #199
See https://github.com/PyTorchLightning/pytorch-lightning/pull/898

[2020-02-19 17:09] brucemuller opened #899 "MisconfigurationException GPUs on updating lightning"
Not sure what's going on here. I updated to the latest pytorch version:
Can anyone help?
I also included my environment packages.
[code]
[code]

[2020-02-19 17:20] Borda commented on #896
interesting idea, and true that logger is a special case of a callback, just not sure if I won't be too confusing for a user...

[2020-02-19 19:14] awaelchli commented on #899
Have not tested it myself, but I suspect if you have the CPU version of PyTorch installed it won't see any CUDA devices even if you run it on a machine that has them.
Try installing the PyTorch package that was compiled with CUDA manually.

[2020-02-19 19:18] awaelchli commented on #899
You have the CPU version of PyTorch installed but are requesting computation on a GPU. This won't work even if you have the hardware. Install PyTorch with CUDA binaries. You can select the CUDA version here: https://pytorch.org/

[2020-02-19 23:31] hadim commented on #896
For the user, it's easy to make this change invisible. Just make the `Logger` class inherit from `Callback` and modify the appropriate loggers to use the new mechanism instead of the custom logger's functions. Everything should be backward compatible.

[2020-02-19 23:39] hadim commented on #882
I agree this kind be confusing. I am trying to unify the callback system and also try to merge this with the loggers.

In that spirit, I have added a property in `Callback` to retrieve what I would call the "training base directory": https://github.com/PyTorchLightning/pytorch-lightning/pull/889/files#diff-c2e9d63e89e5e7cc3384083af905407dR29

By default, all callbacks should use this path and only

[2020-02-19 23:42] Borda commented on #896
sure making the parents of loggers does not disturb any user, I was more-less thinking about passing callbacks and lobber in the same argument (list) instead of having an argument for callbacks and loggers separately

[2020-02-19 23:52] hadim commented on #896
But loggers and callbacks are the same things so I don't see any issue and new users should no be disturbed IMO.

About existing users and backward compatibilities, if the documentation is clear about it, everything should be fine.

[2020-02-20 00:57] Ir1d opened #901 "[dp/ddp mode]Enable checking which process I'm in"
## 🚀 Feature

### Motivation

![image](https://user-images.githubusercontent.com/10709657/74890319-a710a900-53be-11ea-8f8a-b46ab96c924b.png)
The motivation is that in dp/ddp mode, one print statement in `training_step` ends up with multiple printed lines (4 lines because I'm using 4 GPUs)
### Pitch

I hope that there's a `self.rank` to let the user check which process they're in.

So they may choo

[2020-02-20 05:28] srush opened #902 "TPU Training Issues and Feature Requests"
TPU training is really cool. A couple issues that came up in training.

*  There is no longer a call to `optimizer_step` this is needed for setting learning rates that change over each step. Not sure how to fix this except by maybe having another "post_optimizer" call, which might be a better place for this style of stepping.

* According to this tutorial https://github.com/pytorch/xla/blob/master

[2020-02-20 08:31] ethanwharris commented on #896
I'm not convinced that there is an advantage to making Loggers into Callbacks. Currently there is a lot of inter-dependency between checkpointing and logging (the checkpointer directory depends on logger name / version for example), I can see that getting quite messy if everything is of the same class and invoked with the same command. There's also the problem of callback hell, where __everything_

[2020-02-20 08:42] Borda commented on #896
@PyTorchLightning/core-contributors what do you think? is it reasonable/beneficial? :robot:

[2020-02-20 08:54] NumesSanguis opened #904 "Update torchvision to 0.5.0 (pip install downgrades to 0.4.2)"
## 🚀 Feature
[code]
Upgrade dependency so that the above doesn't happen.

### Motivation

I recently conda installed pytorch and it came with `torchvision-0.5.0`. However, after pip installing lightning, it downgraded to `torchvision-0.4.2`.

### Pitch

Support the latest torchvision.

[2020-02-20 09:23] Borda commented on #904
Hi, thanks for your suggestion. We have already dropped `torchvision` dependency #797
Pls, it will be released in 0.6.1 or you can use actual master :]

[2020-02-20 09:23] #904 closed

[2020-02-20 09:29] Borda commented on #899
@awaelchli thx for your fast reply!
@brucemuller feel free to reopen if you need something more :robot:

[2020-02-20 09:29] #899 closed

[2020-02-20 09:41] Borda commented on #807
YAML is great and compares to JSON you can write a comment inside... lol @williamFalcon ^^ ?

[2020-02-20 10:42] Ir1d commented on #525
Hi guys.. it seems that in my case the `load_from_checkpoint` function didn't load the params for me..
I had to use the code posted above by @neggert instead. ( manually load_state_dict)

[2020-02-20 12:28] Borda commented on #851
@kuynzereb callbacks are refactored now, are interested in sending a PR with this kind of checkpoint?

[2020-02-20 13:11] Borda commented on #827
@srush good suggestions, would you mind to send a PR for 2 and 4?

[2020-02-20 13:14] williamFalcon commented on #827
we just merged a pr #728 about this

[2020-02-20 13:16] Borda commented on #595
Yeah, after splitting callback in #849 we opened a discussion in #896...
@alainjungo do you have anything else you would add to this topic?
I would close this request in favour of  #896 so pls let's continue the discussion there :robot:

[2020-02-20 13:16] #595 closed

[2020-02-20 13:20] Borda commented on #828
sounds interesting, @srush would you be interested in submitting such PR?

[2020-02-20 14:43] jeremyjordan commented on #896
my two cents:

I think it will be more user friendly to have the trainer keep these separate (eg. `Trainer(..., logger=True, callbacks=[])`)

+1

---

as I mentioned in #595, I think we should allow user defined callbacks passed in as a list and execute the callbacks in the order which they're provided in the list.

```Trainer(..., callbacks=[custom_callback_1, custom_callback_2, model_checkpoint_

[2020-02-20 14:46] williamFalcon commented on #896
@Borda i'm not sure i love this idea. this means you wouldn't get early stopping for free or checkpointing for free. most of the time users don't care about the details of those and a simple True is enough. This means now you'd have to specify all the details.

i think this clutters the API and makes it unnecessarily complex. We moved the callbacks to default arguments after a ton of feedback on p

[2020-02-20 15:48] hadim commented on #896
I think keeping a `True` argument for things like a logger, early stopping, checkpointing, etc is important as it allows a to have a good default behavior without having to define manually everything. Adding a list of callbacks is just an extra argument that gives more control and flexibility.

Both things are not exclusive.

[2020-02-20 16:02] ghost opened #906 "Improve wandb tests"
The tests of the `wandb`-logger are not as comprehensive as for the rest of the loggers. Currently, they just test if constructing a logger works.

Testing `wandb` in the same way as the other loggers works:

    def test_wandb_logger(tmpdir):
        """Verify that basic functionality of wandb logger works."""
        tutils.reset_seed()

        wandb_dir = os.path.join(tmpdir, "wandb")

[2020-02-20 16:19] williamFalcon commented on #896
but then we have multiple ways of doing something which is confusing. ie: do i pass in the callback to early stopping or the callbacks list?

having many choices for something is bad

[2020-02-20 16:32] Borda commented on #896
I was thinking not breaking the APPI as it is not so there will be still an option to set a checkpoint true, but inside the trainer, it would create a callback instance which will be added to list with others passed via callback argument...

[2020-02-20 16:57] jeremyjordan commented on #896
@Borda I was thinking something similar, either appending the early stopping and model check pointing callbacks at the beginning or end of the list.

`callbacks = [*user_provided, model_checkpoint, early_stopping]`

I agree that losing early stopping and model check pointing “for free” would be an undesirable regression.

Moreover, as @williamFalcon pointed out there are still some confusing cases

[2020-02-20 17:06] jeremyjordan commented on #896
What if we started by simplifying how the internal callbacks are executed, make it easier for contributors to add callbacks to the official library, and revisit user-define callbacks at a later date?

Right now, the callbacks must be manually invoked across the Trainer code. Here's an proposal:

- Keep the trainer args as is (eg. `checkpoint_callback`, `early_stop_callback`, `accumulate_grad_batch

[2020-02-20 19:06] jeffling commented on #896
I like that, although it would be incredibly useful to go all the way and expose the default callback stack in a way that could be overridden (ie defined in LightningModule).

Anecdotally, I noticed some users are already hacking their own callbacks in by editing Trainer code. Ideally this solution could get us to a point where the number of users overriding Trainer is at a minimum.

[2020-02-20 19:10] williamFalcon commented on #896
@jeffling could u give an example of such a hack?

[2020-02-20 21:56] zeeshansayyed commented on #226
Hello,

I am not able to get a simple toy example running using Torchtext iterators even on a single gpu. I am using a `BucketIterator` as follows:

[code]

My trainer code is:
[code]
But I get an error because the batch data is still on cpu and not moved to the gpu.

Stack trace:
RuntimeError: Expected object of device type cuda but got device type cpu for argument #3 'index' in call to _th_index

[2020-02-21 04:22] DrClick commented on #624
I have tried doing this in the training_step
[code]

which does step the scheduler, however, when trying to use the torch.optim.lr_scheduler.OneCycleLR where number of iterations spans epochs, the learning rate is reset at each epoch to the base learning rate. Does anyone know how I can stop this from happening? For oneCycle, the length of the cycle is normally the entire set of epochs you want to

[2020-02-21 05:30] polars05 opened #907 "Relax hparams in model saving/loading"
I've managed to train a model using pl.fit(model) and have the .ckpt file. Now, I'm trying to load the .ckpt file so that I can do inference on a single image:

[code]

However, upon loading the .ckpt file, the following error is thrown:
[code]

**Am I doing something wrong when using PyTorch Lightning for inference?**

For reference, this is my system:
[code]

And I'm training it this way:
[code]

[2020-02-21 05:37] mikerossgithub commented on #851
It might be nice to generalize this. Some example use cases:
1>  Save the last N checkpoints (e.g. for ensembling).
2> Save checkpoint every M-th epoch for training curve analysis.

[2020-02-21 06:26] suvojit-0x55aa commented on #624
@DrClick yes, actually this issue was pointed by @jeffling [here](https://github.com/PyTorchLightning/pytorch-lightning/issues/624#issuecomment-565536301). We also need to implement the feature to step scheduler every iteration.

[2020-02-21 06:43] mikerossgithub commented on #807
Might be worth considering Jsonnet, which is used in allennlp. Jsonnet allows you to compose files (like hydra) but has nicer syntax for defining variables and simple math/logic statements. So you can do things like:
`"layer_size": 200 + embedding_size + 2 * lstm_output_size    # comment here`

[2020-02-21 07:54] sai-prasanna commented on #807
I would look into the current configuration flow and try to evaluate the pros and cons of hydra over it this weekend.

[2020-02-21 07:58] ethanwharris commented on #896
I think there are some issues with the idea of a `CallbackHandler` that we should try to avoid.

- If all of the callbacks can be handled in the same object - they must all use the same method names. This leads to things like `on_forward`, `on_backward` etc. It's surely easier for the user to extend `LoggerBase`, or CheckpointBase` ... and just implement `log_metrics` or `save_checkpoint` and so o

[2020-02-21 08:41] jakubczakon opened #908 "Neptune Logger improvement"
## 🚀 Feature
I think we could improve user experience for people logging experiment
data with neptune if we let people use the logger after the training is finished.

An example would be:

[code]

- log some external validation metric

[code]

- log performance chart like roc auc

[code]

- log final model

[code]

I think the only thing that needs changing is this:

[code]

### Additional context

[2020-02-21 09:00] Borda commented on #854
hi @hadim, can we connect on Slack?

[2020-02-21 09:05] Borda commented on #854
Well, in our case the key is the order of parent classes, see:
[code]

[2020-02-21 09:28] festeh commented on #896
Such use cases definitely exist, mine for example is when one wants to add a test, which checks something at runtime. [Here](https://github.com/festeh/pytorch-lightning/blob/a667fb829590b91efd1c29bef98bba6acd0c617c/tests/test_logging.py#L385) I had to hack a module instead of passing a callback. Also, if you check into this libraries you'll find [some](https://pytorch.org/ignite/_modules/ignite/ha

[2020-02-21 09:45] ethanwharris commented on #896
Yeah, I can see that there are good use cases for custom callbacks, I just don't think we should bundle them all into one class along with loggers and checkpoints and the rest. My proposal would be that we have a `LoggerCollection` type thing (see #903), an equivalent for checkpoints etc. and then an additional object for custom callbacks that don't fit one of the other archetypes. Loggers, Checkp

[2020-02-21 09:53] festeh commented on #896
Personally, I like your idea, it also should be easier to implement and maintain than new `Trainer` class. My proposal was in response to

which does no posess such ambiguity.

[2020-02-21 10:21] MattPainter01 opened #909 "Test pass shouldn't require both test_step and test_end"
##  🐛 Bug

`trainer.test(...)` requires implementation of both `test_step` and `test_end`, but the warning says you only need to implement either or both.

https://github.com/PyTorchLightning/pytorch-lightning/blob/56dddf970825b1ad2b598c9b9b23a8a77add8964/pytorch_lightning/trainer/evaluation_loop.py#L291

### To Reproduce
Run `.test()` on any `LightningModule` with only `test_step` or `test_end` i

[2020-02-21 11:04] Borda commented on #908
@jakubczakon great suggestions, PR is really welcome!
Btw, would you like extend this kind of feature also for other loggers?

[2020-02-21 11:06] Borda commented on #909
Great catch, would you send a PR? :robot:

[2020-02-21 11:09] jakubczakon commented on #908
Sure thing!

[2020-02-21 12:56] hadim commented on #854
The error I got is actually on `Trainer_1a` and not `Trainer_1b`.

(I am on slack)

[2020-02-21 12:57] hadim commented on #854
Ok so Pyright complains on `Trainer_1a` but Python raises an error on `Trainer_1b`.

[2020-02-21 13:32] DrClick commented on #624
@suvojit-0x55aa thank you, I am referencing this
[code]

I have done that with my code snippet, however, at each epoch, the learning rate is reset to the base learning rate for some reason. This results in the learning rate be truncated at every epoch. I suspect this has to do with the call to optimizer.step() and possibly I am changing the learning rate of scheduler out of context... Any thoughts

[2020-02-21 14:00] hadim commented on #896
The limitation of the current system is that it does not give control on what should be logged and when as in a callback system where a hook is called during the different steps of the loop such as `on_train_begin`, `on_test_end`, etc.

Here the only method is `log_metrics` and we do not have control over when this is called.

For example, I have currently a callback system embedded in my module (

[2020-02-21 14:01] chiragraman opened #910 "Python 3.8 support"
Hello!

With pytorch now supporting python 3.8, I was wondering if there is a plan to support py 3.8 for lightning too? I was curious about upgrading to 3.8 for the type hints to better organize my own code. Is there something that prevents 3.8 support in lightning inherently?

Cheers!

[2020-02-21 14:07] hadim commented on #896
About the confusion between `checkpoint_callback` and a `checkpoint_callback` in a `callbacks` list, we could or raises an error or print a warning if such cases arise.

[2020-02-21 14:56] Borda commented on #910
Hye, good point, I guess that we do not anything which would limit using py3.8 or have you found anything which fails? :robot:

[2020-02-21 16:32] Borda commented on #882
@marsggbo good suggestion, we shall keep the API simple and easy to navigate...
Would you consider sending a PR with such simplification so we may have a concrete discussion over each case?

[2020-02-21 16:41] Borda commented on #859
I think that having own MNIST class would be great because then we could drop `torchvision` dependency even in tests...

[2020-02-21 16:43] Borda commented on #654
Thx for reaching us, it may be a bit harder to get solution since not everyone ahs multiple GPUs at his disposal to replicate your problem...

[2020-02-21 17:24] mikerossgithub commented on #807
Not a current lightning user, but our team is evaluating switching over.

When you look at hudra, you might want to take a look at jssonet too. From what I can tell, hydra has a pretty mediocre use of variables, compared to jsonnet where you can cleanly define variables and do simple math and boolean logic on them. Jsonnet also implements composing multiple configs, just like hydra. And it can imp

[2020-02-21 18:18] #798 closed

[2020-02-21 18:20] hadim commented on #854
It has been confirmed the bug is on the Pyright side so I close here.

[2020-02-21 18:20] #854 closed

[2020-02-21 19:20] Borda commented on #854
@hadim thank you for your initiative!

[2020-02-21 20:02] chiragraman commented on #910
None that I could find from first glance, but I'm trying to run the tests in a py 3.8.1 environment. Currently on my Macbook so I don't have access to GPUs, but thought it's still worth a preliminary attempt before I can get access to a machine with GPUs. Down to one error on collection:

` ImportError: cannot import name 'MLFlowLogger' from 'pytorch_lightning.loggers'`

Any idea off the top of yo

[2020-02-22 00:13] awaelchli commented on #907
Have not tested it, but I think it should be
`model.load_from_checkpoint('checkpoints/try_ckpt_epoch_1_v0.ckpt')`
(the method takes a string).
See docs:
https://pytorch-lightning.readthedocs.io/en/0.6.0/pytorch_lightning.core.html#pytorch_lightning.core.LightningModule.load_from_checkpoint

[2020-02-22 01:27] #850 closed

[2020-02-22 01:41] polars05 commented on #907
After trying `model.load_from_checkpoint('checkpoints/try_ckpt_epoch_1_v0.ckpt')`, the following error is now thrown:

[code]

I built CoolSystem() without self.hparams, as per the example Colab notebook (https://colab.research.google.com/drive/1F_RNcHzTfFuQf-LeKvSlud6x7jXYkG31#scrollTo=HOk9c4_35FKg)

Any advice on this?

[2020-02-22 02:36] awaelchli commented on #907
I guess it should be added to that example. The GAN example has it.
Add the hparams to the __init__,  train it, and then try to load again.
Looks like it is always needed, even if you don't pass any hparams in.

[2020-02-22 03:07] polars05 commented on #907
Got it! Will take note to always add hparams to `__init__` then

[2020-02-22 03:33] jeremyjordan commented on #896
I think we may be talking about different things here. If we want to expose customization for logging and checkpointing, then I agree it's absolutely simpler to have them just implement `log_metrics` or `save_checkpoint`. However, I don't anticipate customization for logging and checkpointing to be a common use case for custom callbacks. (FWIW, I think logging should be handled outside of callback

[2020-02-22 08:03] ethanwharris commented on #896
Haha, yeah I could have been more clear there. Ok, so I'll try to summarise my thoughts on this and then bow out. At least for now, the callback system in #889 can be merged as it's definitely an improvment on what is there currently. I suppose my point is that there are several design patterns we could opt for here that aren't the same as Keras or #889, so some discussion on which is best might b

[2020-02-22 09:13] williamFalcon commented on #896
I really like @ethanwharris point that just because those libraries did it doesn’t make it correct. I also think they got it wrong. Going back to a callback system defeats the point of lightning and we regress into having a bunch of unstructured files that break readability and reproducibility.

Again, @Borda i’m not really sure why this is interesting to propose. I don’t want to get in the habit

[2020-02-22 09:26] williamFalcon commented on #896
@tullie any thoughts?

[2020-02-22 10:10] williamFalcon commented on #907
@awaelchli find submitting a PR to fix?

i think the point was for hparams to be optional? or should we make it more flexible? @neggert

[2020-02-22 10:23] awaelchli commented on #907
I can look at it.
To make it optional, I guess we could simply change the loading behaviour depending on whether the user has defined hparams or not.

[2020-02-22 11:38] #314 closed

[2020-02-22 11:41] williamFalcon commented on #910
try again from master

[2020-02-22 12:22] hadim commented on #807
I looked at hydra and this pretty high level and also opinionated the way they handle the configuration.

That being said the configuration object they use is based on `omegaconf` which looks really really nice (similar to what @Borda proposes).

So I would propose to use/support `omegaconf`. Hydra can then be used by anyone who wants, there is no need to integrate it to PL IMO.

[2020-02-22 13:03] jbschiratti opened #914 "Log training metrics for each epoch"
Currently, I am able to log training metrics to Tensorboard using:

[code]

This logs training metrics (loss, for instance) after each batch. I would like to be able to average these metrics across all batches and log them to TensorBoard only once, at the end of each epoch. This is what the `validation_end` method does in your example: https://github.com/PyTorchLightning/pytorch-lightning/blob/446

[2020-02-22 13:32] chiragraman commented on #910
Pulled the latest commits from master, testing against v 0.6.1.dev0, but the problem still persists while following the instructions in the tests module README. Here's the full error:

[code]

I'll dig deeper in a while, but thought of leaving this here in case someone else is also looking at it in the meanwhile.

[2020-02-22 13:35] hadim commented on #896
I don't want to have a callback system to do the same way as Keras or another ML library did. I think it's needed because its flexibility-by-design is what makes it able to solve potentially all or at least almost-all use-cases.

For example in #889, as @ethanwharris already said I implement a callback system where no arguments are passed to the callback functions. It's much less confusing to have

[2020-02-22 13:57] justusschock commented on #896
Hey guys, I'm not (yet) a member of the lightning team, but I am a contributor of ignite and answering here on invitation of @williamFalcon .

I strongly agree with @hadim and no matter which system you opt for, you should definitely choose one IMO.
This way you can increase your flexibility for the future a lot.
Personally, I disagree with the argument, that this decreases readability. Some parts

[2020-02-22 16:18] awaelchli commented on #914
How about this:
In `__init__`:
`self.training_losses = []`
In training_step method:
`self.training_losses.append(loss.item())`
In epoch_end method:
[code]

[2020-02-22 17:08] awaelchli commented on #888
I cannot reproduce this. For me
`trainer.transfer_batch_to_gpu([ torch.randn(3, 3) ], 0)`

returns

[code]
as expected. Same with tuples and dicts.

[2020-02-22 17:45] jeremyjordan commented on #896
I like @williamFalcon 's proposal to focus the discussion on the problems at hand. To bring back @hadim 's example, it seems like that source of dissatisfaction is (1) lack of separation of concerns and (2) inability for reuse across models. One thing that is interesting to note is that the desired **functionality** is possible today through model hooks - many people have mentioned Lightning is fl

[2020-02-22 18:19] hadim commented on #896
Thanks for the proposal that looks interesting but raises multiple issues:

- Using mixins in Python is sometimes mandatory as with `pl.Trainer` given the code complexity but I'd like to avoid to use them when it's not needed. Because you have to use variables and methods that are not instantiated in a given mixin and can create some confusion and could potentially lead to unwanted behavior withou

[2020-02-22 18:45] jeremyjordan commented on #896
I agree this is awkward.

I should clarify, I'm not proposing that it should 😄 My goal was to explore an alternative design pattern (outside of callbacks) that addresses the use case that you presented for custom reporting (ie. "reuse blocks of logic in-between models").

This could be dangerous if a callback does alter the training procedure as making it optional would hinder reproducibility.

[2020-02-22 18:50] williamFalcon commented on #896
i like the brainstorm for different approaches.
Can we take a second to list out 3 different use cases we want to solve?

1. xxxx
2. yyyy
3. zzzzz

then any brainstorm solution can be sanity checked to see if it solves the 3 cases. I’m sure we’ll have many solutions that do, but then at that point we can focus on making those solutions more usable.

[2020-02-22 18:58] Borda commented on #910
Do you have installed all logging libraries? #792

[2020-02-22 20:49] Rodolphe2005 commented on #896
I'm a user of PL and I felt the need of callbacks for my usecases. As it seems you need some usecases, mine is: During training, I save intermediate plots to better understand how the training is going, I compute metrics, I save embeddings, etc.

Currently, I edited my LightningModule but I don't like much that way of doing it because it adds a lot of logic that is not related to the model (saving

[2020-02-22 21:13] williamFalcon commented on #896
thanks for the use case! I’m wondering why you can’t do the logging and embedding plotting from the on_epoch_end

[2020-02-22 21:15] Borda commented on #896
feel like I have accidentally opened a Pandora box even at the beginning I wanted to merge the two parameters in Trainer init... :robot:

[2020-02-22 21:34] Rodolphe2005 commented on #896
I definitely can. But I still have the problem that if I want to disable this code, I have to delete the related code in the on_epoch_end on the LightningModule instead of "just" removing the callback function from the callbacks list in the trainer.

This kind of extended functionalities that callbacks are should not appear in the LightningModule (in my opinion). It also help for sharing the model

[2020-02-22 21:38] Rodolphe2005 commented on #896
For example, suppose that the checkpointing logic would not be a parameter in the Trainer but some code in on_epoch_end. It would be a pain to remove or add this code whenever I want to activate/deactivate checkpointing. Instead, it's in the Trainer call so it doesn't disturb the readability of the LightningModule

[2020-02-22 21:45] awaelchli commented on #907
I will hold back until #849 is finalized because it affects ModelCheckpoint callback.

[2020-02-22 22:04] williamFalcon commented on #896
got it. i see what you mean now. main takeaways from your example:

1. this code is not essential to training so it’s existence in the lightningModule muddles the core research code.
2. you want an easy way to enable, disable it.

I guess the key is point 1. It sounds like ideally we want to make sure that your model can still run with or without these callbacks.

So we want to factor DL code into

[2020-02-22 22:06] #795 closed

[2020-02-22 22:09] hadim commented on #896
My use-cases look exactly the same as @Rodolphe2005 and @williamFalcon you just summarize my main point.

C is non-essential.

Ideally, you would prevent callbacks to modify essential things in A and B but I am not sure this is easily feasible.

[2020-02-22 22:16] williamFalcon commented on #896
awesome. So, I think flavors of this have been proposed in this thread. Here's another proposal.

[code]

[code]

Something like this?

[2020-02-22 22:34] hadim commented on #896
What if a callback needs to do things on multiple events such as `on_epoch_end` and `on_test_end` for example?

[2020-02-22 22:36] hadim commented on #896
Here is a more concrete example:

[code]

[2020-02-22 22:37] williamFalcon commented on #896
Yeah good point. What if a callback has all the hooks as interface and for each callback you can override the hooks.

[code]

[2020-02-22 22:44] hadim commented on #896
Good for me.

The question is do we want to pass arguments on those methods or init the callback with something like `set_trainer()` as it is done [here](https://github.com/PyTorchLightning/pytorch-lightning/pull/889/files#diff-c2e9d63e89e5e7cc3384083af905407d)?

I don't have strong feelings about this.

[2020-02-22 22:50] Borda commented on #896
i f you derive it from `Callback` as it is in #849 it shall have all events...

[2020-02-22 22:59] Borda commented on #423
@williamFalcon still going to add it or are we fine with the list as it is now?
@Joel-hanson are still interested in sending this PR?

[2020-02-22 23:03] Borda commented on #508
@ILYEEV are you interested in sending PR for a better warning? maybe even do this kind of check before starting the training... something like self-diagnostic?

[2020-02-22 23:06] ethanwharris commented on #896
Haven't figured out if it's possible yet but what about something like this
[code]

This would solve some readability issues since the functions can have informative names. Also potentially more flexible if we can support mutliple functions binding to the same callback hook. Although I'm not sure how possible it is haha

[2020-02-22 23:08] Borda commented on #305
What kind of GPUs do you recommend?

[2020-02-22 23:12] Borda commented on #433
@neggert does it mean that the problem is gone? :robot:

[2020-02-22 23:18] williamFalcon commented on #896
it’s equivalent to what i wrote. the decorators are unnecessary.

[2020-02-22 23:19] Borda commented on #222
@artemru @neggert are you interested in sending a PR? :robot:

[2020-02-22 23:24] Borda commented on #887
@awaelchli thx and happy to see more your PRs soon :]

[2020-02-22 23:26] ethanwharris commented on #896
Good point! I hadn't thought of that

[2020-02-22 23:28] Borda commented on #841
Good catch, @alexandrebone mind you send a PR with the fix? :robot:

[2020-02-22 23:50] Borda commented on #839
I think that the cleaner way would some abstraction above the `dataloader`, because cross-validation is just systematic train/test on a particular dataset... Anyway, a PR is welcome!
@BraveDistribution may you pls a bit more describe how do you plan to implement or make a draft PR and we can talk about it there :robot:

[2020-02-22 23:57] Borda commented on #624
@FrancescoSaverioZuppichini @suvojit-0x55aa @DrClick want to implement for lightning and submit a PR?

[2020-02-23 02:03] williamFalcon commented on #896
Ok, anyone want to take a stab at doing this?

@ethanwharris @hadim @jeremyjordan ?

[2020-02-23 02:19] hadim commented on #896
I started to work on this at https://github.com/PyTorchLightning/pytorch-lightning/pull/889 but I would need #849 to be merged first so I can rebase.

[2020-02-23 04:13] luiscape commented on #896
The discussion has reached its apex and I like its conclusion. @williamFalcon's of thinking about callbacks resonates with me:

Callbacks are extras that interest the person (or team) using Lightning but no one else. Here are a number of real-life use-case I faced in one way or another:

1. Notify me via SMS, email, Slack, WhatsApp, etc. whenever a relevant event occurs. That relevant event may be

[2020-02-23 04:45] polars05 commented on #914
To clarify, doesn't `training_step`, `validation_step` and `test_step` already accumulate the metrics at each step and then pass them to `training_end`, `validation_end` and `test_end` respectively to do averaging at the end of the epoch?

This is what I gather from the MNIST example at https://colab.research.google.com/drive/1F_RNcHzTfFuQf-LeKvSlud6x7jXYkG31#scrollTo=x-34xKCI40yW:
[code]

Do let

[2020-02-23 05:54] sai-prasanna commented on #807
I am a Allennlp contributor. Allennlp provides abstractions to make models generic. i.e. Say you have a text classifier, instead of putting an LSTM inside it, you would rather recieve a abstract `Seq2SeqEncoder` via constructor and use it's interface. LSTM would be a subclass of `Seq2Seq` abstract class and registered with a string name to it. This allows one to use configuration to control what m

[2020-02-23 08:18] Borda commented on #896
I completely agree with this schema. From my perspective callback shall be independent on the model (more general) so user can use them as training extension ~ I may place an illustration, you are cooking a cake (DL model) for which you need kitchen and standard equipment (Trainer) and above it, you may use some special tools (callbacks) :robot:

[2020-02-23 08:23] ethanwharris commented on #896
I'm happy to look into this, although we should build on #889 - as suggested by @hadim, the biggest question is can we ensure that callbacks are only for non-essential stuff by making the pl_module and trainer seen by the callbacks immutable?

[2020-02-23 09:53] jbschiratti commented on #914
@awaelchli That works for me, thanks!

@polars05 From my understanding, `training_step`  and `validation_step` compute the metrics for the current step (batch) and return them in the `output` dict. In the validation loop, the metrics from all steps (all batches in an epoch) are aggregated in `outputs`. The method `validation_end` allows you to average those metrics epoch-wise (for instance, comput

[2020-02-23 10:03] Borda commented on #859
@djbyrne how is it going, do need some help with it? =)

[2020-02-23 10:15] djbyrne commented on #859
Hey @Borda, have the caching of the MNIST dataset working now, just testing it. Not sure if I have done it the best way though. Maybe take a look if you have a sec https://github.com/djbyrne/pytorch-lightning/blob/enhancement/lazy_dataloader/.github/workflows/ci-testing.yml

[2020-02-23 10:17] williamFalcon commented on #914
yeah, training_end is a bit confusing. we discussed this and decided to change the name/modify it.

training_end aggregates outputs of a batch on dp. We need a true training_end and somethinf for the dp aggregation.

@jeremyjordan @ethanwharris i think you guys had opinions about this? should we try to sneak this into this next release?

[2020-02-23 10:26] williamFalcon commented on #807
1. Ideally lightning should support any hyperparameter configuration/ search library. Would welcome a PR to make that happen.

2. @sai-prasanna you can pass in models into the constructor in lightning right now, but why wouldn’t you just import the model in the lightningmodule and init in the constructor?

from allennlp import lstm

class MyS2S(pl.LightningModule):

   def __init__(self, hparams):

[2020-02-23 10:54] Borda commented on #859
great, at first glance, it looks good to me... not sure how to test that it is really caching, maybe add s simple (temporary print in the code to mask if it is using cache or downloading new dataset...)

[2020-02-23 10:56] Borda commented on #859
Also, it seems that the `torchvision` is not released yet for python 3.8 so it would be great to have own MNIST dataset class to be completely free... #910 #915

[2020-02-23 10:57] williamFalcon opened #916 "default argparser"
## 🚀 Feature
Create a default argparser with all the properties that can go into a trainer

### Motivation
People already do this themselves pretty often. Might as well make it easy for them

[2020-02-23 11:03] Borda commented on #624
@FrancescoSaverioZuppichini @suvojit-0x55aa @DrClick any thought on the implementation?

[2020-02-23 11:29] chiragraman commented on #910
@Borda thanks for the info! I haven't checked my full setup, it may well be the case that I didn't have all the logging libraries installed. I shall report back shortly.

I do think torchvision 0.5 is indeed ported to py 3.8 though. I had an issue with it on Mac that I reported here (https://github.com/pytorch/vision/issues/1780), but it has since been fixed. Not sure if this affects #859

[2020-02-23 12:30] djbyrne commented on #859
Yeah cool I can add that. Will i put it in the one PR for 859? or do seperate PR's?

[2020-02-23 13:29] hadim commented on #896
Discussion about the implementation happens on the PR for the ones interested: https://github.com/PyTorchLightning/pytorch-lightning/pull/889#issuecomment-590068803

[2020-02-23 15:34] awaelchli commented on #859
it seems to only happen in circleci build macOS-10.15, 3.7, minimal. Then maybe it is not a problem with the download.

[2020-02-23 15:54] Borda commented on #859
I was observing in randomly on all tests...

[2020-02-23 16:09] Borda commented on #859
@awaelchli the caching was just one approach... We shall create own MNIST dataset class so we may drop dependency on torchvision completely...
Moreover with own test case we may simply it to use e.g. only 5 digits
@williamFalcon can you share link on MNIST on S3

[2020-02-23 16:15] polars05 commented on #914
@jbschiratti, thanks for the clarifications! I've modified my system as per what @awaelchli suggested to you and that works for me as well.

However, in the process, I observed that under `training_step`, if we did `return {'train_loss': loss} ` instead of `return {'loss': loss}`, then the following error is thrown:
[code]

For reference, here's my system:

[code]

**My guess is that we do not hav

[2020-02-23 16:17] jeremyjordan commented on #914
@williamFalcon  I agree that the behavior for `training_end` should be symmetric with `validation_end`. Unfortunately, this does require changing the API - should we include a warning message in the next release to alert of a change upcoming in the subsequent release?

The current `training_end` could be renamed to something more explicit such as `collect_dp_batches` or something of the like.

[2020-02-23 16:19] skepticleo commented on #916
@williamFalcon I would like to take this up. It would be great if you can add some more context. I understand people would wanna try with different parameters to the trainer and passing them while invoking their program makes much more sense than changing the program every time. Let me know if my thinking is right with respect to context. Also if you want me to follow a specific design pattern.

T

[2020-02-23 16:24] jeremyjordan commented on #914
@polars05 that is correct! you can see how the values returned are processed here
https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/trainer/logging.py#L90

on line 153 you can see that there's an explicit check for a `loss` key in the output dict.

[2020-02-23 19:04] jeremyjordan commented on #896
It seems like we landed back on the originally proposed design of a Keras-like callback interface for pieces of code logic that we want to easily enable/disable during training.

[code]
(see @hadim 's PR for a concrete implementation #889)

Did we reach consensus to move forward with this approach?

[2020-02-23 20:05] williamFalcon commented on #896
I guess I see it as non essential code that needs to be grouped together for easy enable/disable (same as a mixin really), but easier for non python power users?

I don't see another clean way of doing it?

The benefit of this is that that code can also be shared across projects?

[2020-02-23 20:09] srush opened #922 "Init'ing Dataloader calls get_train_dataloader"
It seems like the code of initializing the dataloader calls into getting the dataloader.

https://github.com/PyTorchLightning/pytorch-lightning/blob/c00a8a10dd32fa43a659a09b53e2dea3739c6d4e/pytorch_lightning/trainer/data_loading.py#L69

This means that all the effort for wrapping get_dataloader to sync through barriers for multi-gpu / tpu is not used on this first call (and results in a crash).

[2020-02-23 20:14] williamFalcon commented on #922
ummm good point. I think we need to simplify the get_XXX_dataloader() calls. The lazy loading decorator does make it harder for people to debug their data loading issues.

@neggert do you remember the original reason we added the decorator? maybe it's time to remove it and simplify this logic?

[2020-02-23 20:23] Borda commented on #896
Yes, that is my main usage of such callbacks...

[2020-02-23 20:35] williamFalcon commented on #922
@ethanwharris @jakubczakon @MattPainter01
any thoughts?

[2020-02-23 20:55] ethanwharris commented on #922
I always assumed the decorator was to stop multiple instantiation - there was some old bug where data loading threads would hang around after each epoch because new data loaders were created and the old threads just carried on

I might be wrong about that as it's a bit before my lightning time!

The `IterableDataset` stuff at the moment is a bit fragile (mostly hard coded type checks), there might

[2020-02-23 21:13] williamFalcon commented on #922
agreed. that was the original reason. basically we could refactor to make sure we only call it at time of the epoch beginning.

i think we needed it before to determine length and some other reasons

[2020-02-23 22:02] srush commented on #922
I'm stuck on a couple issues here actually that I can't unwind.

Main Issue: I don't really understand the semantics of `train_dataloader` in ddp / tpu training. Is it supposed to be called by only (a) with rank 0 or (b) with all ranks. I would prefer (a) but I need to know so I don't call barriers internally. If it is (b) then I do need to do that, but the semantics are more clear. My assumption

[2020-02-23 23:38] bsridatta opened #923 "Unrecognized `val_loss` metric"
## RuntimeWarnings due to unrecognized `val_loss` metric

pytorch_lightning callbacks are unable to recognize `val_loss` from `validation_step()`

### To Reproduce
Run CoolModel from
Steps to reproduce the behavior:

1. Go to [Minimal-Example](https://pytorch-lightning.readthedocs.io/en/0.5.3.2/LightningModule/RequiredTrainerInterface/#minimal-example)
2. Run upto trainer.fit()
3. Scroll down to t

[2020-02-24 00:16] awaelchli commented on #923
The EarlyStopping looks for the key `val_loss` in the validation_end, not validation_step. That's a correct behaviour.
**Possible fix 1:** Pass in a ModelCheckpoint to Trainer and change the monitor argument to "avg_val_loss" (as returned by validation_end).
**Possible fix 2:** Change "avg_val_loss" to "val_loss" in validation_end.

@williamFalcon This is a recurring issue that users have with the

[2020-02-24 00:21] awaelchli commented on #923
@bsridatta Actually, I just saw that you are linking an old documentation in your post. The examples are already updated. See here, the fix 2 I suggested is already done:
https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/basic_examples/lightning_module_template.py

[2020-02-24 00:30] awaelchli commented on #923
It got fixed here #524

[2020-02-24 00:54] bsridatta commented on #923
Thanks for the quick response and clarification. I have used the example I mentioned earlier in November and did even doubt that it might have changed. It's clear now, thanks
!

[2020-02-24 00:54] #923 closed

[2020-02-24 02:29] s-rog commented on #885
Isn't ddp broken in notebooks in the first place?

[2020-02-24 06:52] sai-prasanna commented on #807
@williamFalcon In allennlp it is done that way to search registry using with type signature of objects in the constructor.
[code]
Now in a configuration
[code]
This allows multiple experiments to be made by configuration changes, without having to write a mapping between the configuration and the actual class.
Anyway, I would prefer plt should be agnostic to all this as it is now.

@williamFalcon

[2020-02-24 08:13] polars05 opened #924 "How to properly load checkpoint for testing?"
I've trained a system as follows:
[code]
And with the above, the test accuracy is 0.7975

However, when I load the checkpoints separately instead:
[code]
The accuracy returned is 0.5705

**Am I loading the checkpoints wrongly?**

[2020-02-24 08:58] BraveDistribution commented on #839
@Borda, I don't have any plan how to implement it because I wasn't working on that till now.

If I have any questions I will post it here, if not I will make a PR directly.

[2020-02-24 11:07] brucemuller commented on #899
Oooops not sure how I managed that! Thanks!

[2020-02-24 12:27] williamFalcon commented on #839
what if we just integrate with sklearn cross validation? this can be the start of supporting sklearn interop

[2020-02-24 13:10] baeseongsu opened #925 "Add "epoch" options to basic templates"
## 🚀 Feature

Add "epochs" option to parser of 'basic_examples/lightning_module_template.py'

### Motivation

Thanks to 'basic_examples/lightning_module_template.py', I could build my deep learning model. Some beginners like me might build their model from this basic template. However, there are no options to manipulate epochs. I just thought that what people use often should be included in the ba

[2020-02-24 13:32] marsggbo commented on #882
@Borda Hello, thank you for this great project!

Actually, I'm not familiar with the code details. However, I implement a framework, namely [**torchline**](https://github.com/marsggbo/torchline), based on pytorch-lightning.  In **torchline**, all configuration can be set in a single `yaml` file by using **[yacs](https://github.com/rbgirshick/yacs)** lib. I think that it may further simplify the co

[2020-02-24 13:50] skepticleo commented on #916
`    def add_default_args(parent_parser):

        parser = ArgumentParser(parents=[parent_parser])

        # training, test, val check intervals
        parser.add_argument('--max_epochs', default=1000, type=int, help='maximum number of epochs')
        parser.add_argument('--min_epochs', default=1, type=int, help='minimum number of epochs')
        parser.add_argument('--max_steps', default=Non

[2020-02-24 14:04] DrClick commented on #624
I am still looking into why this happens. I am happy to make a PR when I find a solution. I think this is a pretty critical issue, it flatly goes against the 1st stated design principle of "no pytorch interference"

[2020-02-24 14:24] chris-clem commented on #684
Is there an update to this? I am using the TestTubeLogger and would like to access the weights. Or do I need to save them with `torch.save()` after the training?

[2020-02-24 15:23] chiragraman commented on #910
So I managed to get all tests to pass on MacOS Catalina 10.15.1:

[code]

The issue I faced earlier was indeed because I hadn't installed the extra dependencies for the loggers under `requirements-extra.txt`. @Borda, should the `tests/README.md` be updated to make a note of perhaps requiring the extra dependencies for testing under the `Running tests` subsection?

[2020-02-24 15:45] Borda commented on #910
The extras are part of the tests/requirements.txt

[2020-02-24 16:08] chiragraman commented on #910
Yes, I did notice that part of the discussion you linked to in #792, I meant that the instructions in `tests/README.md` mention the following:

[code]

I imagined this perhaps ought to be:
[code]
or maybe alternatively the working directory should be updated to `pytorch-lightning/tests`? Following the README naively didn't work out of the box, so I think there is a minor update required  to the do

[2020-02-24 17:50] versatran01 commented on #914
Just wondering what is the best way to do something at the end of each training epoch?
From this thread, I assume training_end is not the right place to do that?
Currently, I had to do something in validation_step, where I check whether the index == 0 and do something, but this seems very ugly.

[2020-02-24 18:04] jeremyjordan commented on #914
@versatran01 you can do this in `on_epoch_end` of your LightningModule

https://github.com/PyTorchLightning/pytorch-lightningpytorch_lightning.core.hooks.html

[2020-02-24 18:31] awaelchli commented on #924
Is this the `CoolSystem` from the examples or is it something custom? Basically you need to tell us how to reproduce it.
Maybe there is something wrong in how you accumulate the test acc? What if you run
`trainer.test(model_test)` multiple times? Do you get the same values?

[2020-02-24 18:49] williamFalcon opened #927 "Automate choosing sampler"
## 🚀 Feature
Let's automate choosing the sampler.

###
Case 1 (DDP, training):
Default to distributedSampler
[code]

Case 2 (training):
[code]

Case 3 (val, test):
[code]

Case 4 (tpu, train, val, test):
[code]
### Motivation

Samplers are hard and should be automated.

@srush

[2020-02-24 18:50] williamFalcon opened #928 "Add prepare_data call for downloading datasets"
## 🚀 Feature
Data download and loading data should be separate because it causes issues on distributed environments.

Add
[code]

[2020-02-24 19:10] srush commented on #927
I don't know if it is possible, but it would also be great is TPU Test at least could somehow be sequential. In NLP it is common just to print out the test results to a file and use an external script for final eval. Having them in order is nice (alternatively I guess id's could be threaded through and sorted.)

[2020-02-24 21:23] Borda commented on #882
Good suggestion, could you pls participate in #807 ?

[2020-02-24 21:28] Borda commented on #896
just for the record, I have found also this thought #556

[2020-02-24 21:32] Borda commented on #910
Well I would expect that for running the test a user/developer shall install all dependencies required for running full test coverage, otherwise it is kind of lottery to run and see if already has everything and correct version (if you are an active developer you usually have all dependencies)
But I agree that we shall revisit test README, could have a look and send a PR with your suggestions? :]

[2020-02-24 21:44] chiragraman commented on #910
I agree I agree,  I didn't mean to justify my negligence of not opening and reading the tests/requirements.txt, I just thought since there is a readme with steps, it could be updated to be accurate. I'll send a PR with the update :)

[2020-02-24 23:11] Borda commented on #916
@skepticleo looks good, could you send a PR :robot:

[2020-02-24 23:12] XDynames commented on #916
This would go really nicely with a classmethod/overload that constructs the Trainer from the passed arguments.

`@classmethod
def from_default_args(self, args):
    trainer = Trainer( <Unpack the args into constructor keywords>)
    return trainer `

Then the user's pattern becomes:
` args = parser.parse_args()
  trainer = Trainer.from_default_args(args) `

[2020-02-24 23:12] Borda commented on #925
yeah, it can be solved a part of that one, could you check on the follow-up PR? :]

[2020-02-24 23:26] bmartinn opened #929 "Add TRAINS experiment manager support"
## :train2: Add [TRAINS](https://github.com/allegroai/trains) experiment manager support
Integrate the TRAINS experiment manager with pytorch lightning.
Following TRAINS [Issue #107](https://github.com/allegroai/trains/issues/107)

### Motivation

Extend the compatibility of pytorch-lightning logger to support the TRAINS experiment manager.

### Pitch

PR code can be reviewed [here](https://github

[2020-02-24 23:43] Borda commented on #684
@learnermaxRL @chris-clem may you share your logger configuration?

[2020-02-25 01:59] Ir1d opened #931 "Remove the prefix 'version_' in tensorboard logging"
## 🚀 Feature

![image](https://user-images.githubusercontent.com/10709657/75208038-64cbdb00-57b5-11ea-8784-29c3759e06b9.png)

### Motivation

In tensorboard there's an explicit '/', and I think there's no need for this 'version_'.
it makes the whole stuff too long.

### Pitch

I can bring a PR for this.
### Alternatives

### Additional context

[2020-02-25 02:14] polars05 commented on #924
@awaelchli, here is my `CoolSystem` for reference:

[code]

I've also put my code into a Colab, if you would like to run it: https://colab.research.google.com/drive/1JUQctrkFKMJSPU2u5061534HzF27WFRE (the relevant part is in the first half of the notebook; the rest are messy and irrelevant, apologies)

Am I doing something wrong here, causing the accuracy returned to be different when I load the ch

[2020-02-25 03:10] williamFalcon commented on #931
@Ir1d people usually version with numbers though. You might be the edge case with names here. I would be ok with `v_` instead

[2020-02-25 03:15] Ir1d commented on #931
I would be ok with `v_` also, but wouldn't it be better if we allow users to decide the whole thing by themselves? I mean that let them use whatever prefix they like

[2020-02-25 03:19] williamFalcon commented on #902
@srush
can the .where also work when not on TPUs. The docs suggest that it's always a faster way of clipping grads?

[2020-02-25 03:23] #909 closed

[2020-02-25 03:23] #922 closed

[2020-02-25 03:23] #927 closed

[2020-02-25 03:23] #928 closed

[2020-02-25 03:23] #902 closed

[2020-02-25 03:48] srush commented on #902
Yeah, think that .where is likely always better.

[2020-02-25 03:54] davinnovation commented on #775
As neerlr11 mentioned, [0.6.0-modelcallback](https://github.com/PyTorchLightning/pytorch-lightning/blob/f80127db0e2d8447eca6ab4175ea1d38273bed15/pytorch_lightning/callbacks/pt_callbacks.py#L301) didn't work as documented: supporting dynamic checkpoint string like `filepath='{epoch:02d}-{val_loss:.2f}.hdf5'` - waiting for update

[2020-02-25 05:44] Borda commented on #859
We need to create an own MNIST dataset...

[2020-02-25 06:40] suvojit-0x55aa commented on #624
@Borda @DrClick I looked into it, but still not able to pinpoint the issue, i'll update here if I find anything.

[2020-02-25 07:51] BraveDistribution commented on #839
How would you propose that @williamFalcon?

In my "own" library I split the datasets into K folders by using my own script (you can use k-fold or stratified k-fold or any of the scikit methods).

dataset/k_0/train
dataset/k_0/test

dataset/k_1/train
dataset/k_1/test

Then I trained and evaluated K neural networks and finally I just grab all the results and saved out the mean of acc, f1 and other m

[2020-02-25 10:48] williamFalcon opened #937 "This is breaking master, mind looking?... @MattPainter01?"
This is breaking master, it shall be fixed... @MattPainter01?

_Originally posted by @Borda in https://github.com/PyTorchLightning/pytorch-lightning/pull/918#issuecomment-590747325_

[2020-02-25 10:48] #937 closed

[2020-02-25 11:51] helldragger opened #939 "logger is NoneType hence doesn't have any experiment or other functionality in a lightning module"
## 🐛 Bug
When trying to use the logging abilities of lightning, I hit a wall, the default and tensorboard loggers both seem to stay uninitialized when calling ```trainer.fit(model)```, resulting in crashes everytime I try to log something.

### To Reproduce

Create a lightning module as such
[code]

Use the logger anywhere to get this kind of stacktrace:

[code]

#### Code sample
[code]

### Expec

[2020-02-25 13:14] #657 closed

[2020-02-25 14:20] #859 closed

[2020-02-25 14:46] #925 closed

[2020-02-25 15:36] #907 closed

[2020-02-25 16:47] chris-clem commented on #684
@Borda this is my logger and callback config:

[code]

[2020-02-25 18:03] Borda commented on #910
we will add 3.8 testings by #915 otherwise I assume that this is solved...
Btw, feel  free to re-open if needed :robot:

[2020-02-25 18:03] #910 closed

[2020-02-25 18:11] Borda opened #942 "create own MNIST dataset"
## 🚀 Feature

We shall get free of `torchvision` even in tests we wound be impacted by they optional crashes

### Motivation

for example `torchvision` is not on pip for python 3.8
also particular `torchvision` enforce `torch` versions

### Pitch

we reimplement MNIST dataset and class downloading data from own web
Extensions:
- define to use just a subset
- define used digits
- etc.

### Addition

[2020-02-25 18:26] awaelchli opened #943 "Support both Namespace and dict for hyperparameter saving/loading."
## 🚀 Feature

Let the user pass a dict to `LightningModule` so that after model saving it can be restored using `load_from_checkpoint` or `load_from_metrics`.

### Motivation

Currently, there is nothing that prevents the user from passing in hyperparameters to `LightningModule` via dictionary (or even somthing else). However, the model loading/saving assumes it is always a `argparse.Namespace`. T

[2020-02-25 18:27] williamFalcon commented on #943
support both argparse and dict...

[2020-02-25 18:48] awaelchli commented on #942
reimplementing the [MNIST](https://pytorch.org/docs/stable/_modules/torchvision/datasets/mnist.html#MNIST) class would also require to reimplement the [torchvision.transforms](https://pytorch.org/docs/stable/torchvision/transforms.html?highlight=transforms), at least `ToTensor` and `Normalize` as far as I can tell from the pl_examples.

[2020-02-25 18:53] awaelchli commented on #943
yes, that's the idea. changed the title to make it more clear.

[2020-02-25 19:04] ethanwharris commented on #939
Thanks for the issue! The intended way to acheive this is through a hook. When `__init__` is called on the `LightningModule`, the loggers won't have been created yet. I don't think there's any way to change that so we should update the docs to use a hook instead of `__init__`.

@PyTorchLightning/core-contributors any other thoughts on this?

[2020-02-25 19:39] Borda commented on #942
yes, it shall be simple... :]

[2020-02-25 19:40] williamFalcon opened #945 "Support stepping options for lr scheduler"
Currently schedulers get called every epoch. Sometimes though, we want them to be called every step.

Proposal 1:
Allow configure_optimizers to return this:

[code]

@ethanwharris @Borda thoughts? any simpler more general way of doing this? i think this dict can eventually have more options if we need to.

@srush

[2020-02-25 19:43] williamFalcon commented on #942
i don't know if we need to reimplement.
Just subclass and change the resources url...

https://pytorch.org/docs/stable/_modules/torchvision/datasets/mnist.html#MNIST

[code]

[2020-02-25 19:44] williamFalcon commented on #942
or override the download method and insert our urls.

[2020-02-25 20:03] awaelchli commented on #942
I thought this is about getting rid of the torchvision dependency :)

[2020-02-25 20:05] #370 closed

[2020-02-25 20:08] williamFalcon commented on #942
oooo. it could be i guess haha. I thought we were trying to cache MNIST :)

[2020-02-25 20:22] ethanwharris commented on #825
Closed by #903

[2020-02-25 20:22] #825 closed

[2020-02-25 22:37] awaelchli commented on #924
Change
`model_test.load_from_checkpoint('checkpoints/try_ckpt_epoch_1.ckpt')`
to
`model_test = CoolSystem.load_from_checkpoint('checkpoints/try_ckpt_epoch_1.ckpt')`
and it will work (99.9% sure).

Note that load function is a class method.

[2020-02-25 23:15] Borda commented on #942
there were two parallel things
- cache the dataset so it is not downloaded with every CI run
- drop dependency on `torchvision` just because of a minor thing as we did e.g. with `pandas`

[2020-02-25 23:17] awaelchli commented on #942
Have already looked into it a bit. I think I can do the custom MNIST class and drop torchvision dep.

[2020-02-25 23:41] Borda commented on #942
That would be GREAT, cool! Looking forward to seeing it :robot:

[2020-02-25 23:43] Borda commented on #945
@SkafteNicki is working on it... Thx!

[2020-02-26 00:09] williamFalcon commented on #942
mnist is only needed for tests no? why not drop the dep but keep it as a test dep?

[2020-02-26 00:15] awaelchli commented on #942
yes it only needed for tests.
it is already dropped from the main req. file.
@Borda wants to also drop it from tests.

[2020-02-26 00:33] awaelchli commented on #942
I just found an issue: some tests run the pl_examples and there it imports torchvision. If we want to drop torchvision, we would also have to do it for the examples or not test the examples. Not sure about this ...

[2020-02-26 01:28] hadim opened #947 "Improve callback system"
Following the [new callback system](https://github.com/PyTorchLightning/pytorch-lightning/pull/889) here are a few things we might want to do proposed by people who participated in #889 and #896.

- [ ] Consolidate model hooks and callbacks system. Make the calls at the same moment: https://github.com/PyTorchLightning/pytorch-lightning/pull/889#issuecomment-590634896

- [ ] Fix `on_train_begin()`

[2020-02-26 01:57] awaelchli commented on #914
@versatran01 Maybe for your use case the on_epoch_end() hook is enough? It doesn't get the metrics from training though.

If you need something that is conceptually similar as validation_end for training, then this does not exist yet. And this is also what @jbschiratti is asking for in this issue.
If you need a workaround until the changes are implemented, see my answer above.

[2020-02-26 03:28] Darktex opened #948 "Support IterableDatasets for validation and test, not just train set [blocked by #953]"
## 🚀 Feature
Currently Lightning supports `IterableDatasets` only in the training set (see [code](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/trainer/data_loading.py#L177)). This makes them second-class citizens compared to the map-style datasets, and supporting them seems a low hanging fruit.

### Motivation
This enables having larger test sets that may not

[2020-02-26 03:43] jeremyjordan commented on #947
just waiting for #889  to be merged and I'll pick up the work here

[2020-02-26 04:11] awaelchli commented on #943
partially related to #525

Also, there was an attempt to pickle the hparams directly but it never got merged: #615
@neggert do you have any thoughts about this? would pickling the hparams object directly work?

[2020-02-26 04:23] williamFalcon commented on #947
merged!

[2020-02-26 04:24] awaelchli commented on #662
@cgarciae can the issue be closed or is there something left to do?

[2020-02-26 04:29] cgarciae commented on #662
Looks awesome!

[2020-02-26 04:29] #662 closed

[2020-02-26 06:17] Borda commented on #942
As we want testing for each `torch` major and `torchvision` versions are binded with particular `torch` versions it makes testing complicated...
It is not must issue but nice to have...
I'll chech the linking tests with examples, it is not also the best practice...

[2020-02-26 06:31] collinmccarthy commented on #851
Saving both the latest and the best models is exactly what I'm looking for. When I'm running on a SLURM cluster in low priority mode and may frequently get killed, I would like to resume training with the latest model, but know I always have the best model for testing as well. Thank you in advance whenever something like this gets merged!

[2020-02-26 10:22] ahendriksen opened #951 "Automatically pick available GPU"
Thanks for this great library!

## 🚀 Feature
I would like to change the behavior of this code:
[code]
Currently, when setting `gpus` to an integer `n`, the first `n` GPUs are automatically used.

I would like to change the behavior such that when multiple GPUs are available, the trainer picks the first available GPU.

### Motivation
When running multiple jobs in parallel on a server with multiple

[2020-02-26 11:02] williamFalcon commented on #662
@lorenzoFabbri @tullie @myleott @ashwinb @shootingsoul @vreis @darktex

[2020-02-26 11:05] williamFalcon commented on #948
@Darktex this looks straightforward! I can’t think if any gotchas right now. The only thing would be if you don’t have the length of a dataset up front but i think we’re refactoring to clear that up right now.

want to do a PR?

@ethanwharris @jeffling thoughts?

fyi @srush @luiscape

[2020-02-26 11:09] williamFalcon commented on #851
@collinmccarthy on slurm, lightning auto resubmits your job. for this purpose it creates its own checkpoint and restores from that.

then you in addition can use the save best to track the best one

[2020-02-26 12:13] ethanwharris commented on #948
It seems there's an opportunity to clean stuff up a bit here. Really the only check we need is to see if `len(dataloader)` raises an error. If it does, then check if number of steps to run is set elsewhere and throw a warning if not (i.e. if not set elsewhere this will just run forever). That way you could get rid of the check for whether `IterableDataset` exists and the dependence on `DataLoader.

[2020-02-26 12:16] williamFalcon commented on #948
maybe step 1 is to refactor the code to minimize the len(dataloader) calls? we likely only need them to:
- figure out when to do validation checks (percent into epoch)
- set the tqdm bar length

[2020-02-26 12:18] ethanwharris commented on #948
Agreed. Then it would be easier to see where the `IterableDataset` stuff will fall over, and just do something different when `len` is not available.

[2020-02-26 12:21] williamFalcon opened #953 "refactor len(datasets) call."
## 🚀 Feature
Let's minimize len(dataset) calls and do it as late in the training as we can (ie: ideally right before any training loop). This way, we can open up the path to support iterable datasets more cleanly.

### Motivation

Getting the length prematurely calls datasets at the wrong time often causing double loads.

This is a blocker to #948

[2020-02-26 12:21] williamFalcon commented on #948
Ok, #953 is blocking this issue at the moment.

[2020-02-26 12:24] ethanwharris commented on #953
@williamFalcon I'm happy to take a look at this if needed, just let me know :)

[2020-02-26 12:30] williamFalcon commented on #953
Perfect!

[2020-02-26 13:51] chris-clem opened #954 "How to implement pre-training?"
## ❓ Questions and Help

#### What is your question?

What would be the best way to implement pre-training? With pre-training, I mean that I want to freeze some layers for a couple of epochs before training all of them. At the moment, I do it in two runs. In the first one, I freeze the layers, train the model, and save its weights. In the second one, I load these weights and train the model withou

[2020-02-26 15:21] sophiajw commented on #159
I still have exactly the same issue

[2020-02-26 15:25] versatran01 commented on #914
@awaelchli Thanks for the suggestion. I just saw some huge updates to the callback system, will give it a try.

[2020-02-26 15:32] jbschiratti commented on #914
@williamFalcon @jeremyjordan Changing the current `training_end` method into something like `collect_dp_batches` and making `training_end` similar to the current `validation_end` does not seem to be too much work. Shall I submit a PR for this?

[2020-02-26 15:39] williamFalcon commented on #914
training_end makes sense.

maybe a better name for collect_dp_batches is: ```training_step_reduce``` or something like that

[2020-02-26 16:21] versatran01 commented on #953
https://github.com/PyTorchLightning/pytorch-lightning/blob/be244560b24b68b0236a4694707fb9bb63c2e6d0/pytorch_lightning/trainer/data_loading.py#L149

In this function, `auto_add_sampler()` is always called.

https://github.com/PyTorchLightning/pytorch-lightning/blob/be244560b24b68b0236a4694707fb9bb63c2e6d0/pytorch_lightning/trainer/data_loading.py#L92

And inside, even though the comment says

https

[2020-02-26 18:00] ethanwharris commented on #953
Ok, have a look at #955 - should fix a few things and make it easy to add support for iterable datasets everywhere

[2020-02-26 18:12] Borda commented on #159
@sophiajw have you tries the last version in master?

[2020-02-26 21:00] helldragger commented on #939
it also doesn't work in other functions, I tried in the training step, in the configure_optimizers too

[2020-02-26 21:55] #953 closed

[2020-02-26 21:55] #698 closed

[2020-02-26 21:55] #840 closed

[2020-02-26 23:19] sahnimanas opened #958 "Process runs on more GPUs than specified"
I have a single 8-GPU machine with a faulty GPU0.
I'm running imagenet_example.py on 7 GPUs on this machine by specifying `gpus=[1,2,3,4,5,6,7]` in the Trainer i.e. I do not want to use GPU0

However, when i run `nvidia-smi`, I see the Trainer's pid shows on all 8 GPUs, just with lower memory on GPU0 (see output below). I also find it to be slower than non-PL code by about 4x. I don't see this beh

[2020-02-26 23:28] Borda commented on #958
Thx for comment, I do not think that the training is fully running on the GPU0, just some memory allocation... Could you also share the GPU utilization during the training process?

[2020-02-26 23:34] Borda commented on #760
I assume that it was fixed by #892
 if you have some other problems feel free to reopen or create a new... :robot:

[2020-02-26 23:34] #760 closed

[2020-02-26 23:42] sahnimanas commented on #958
Here's the full output of nvidia-smi during training:
[code]

[2020-02-26 23:47] sahnimanas commented on #958
I also think that the training is likely not running on GPU0 but not sure why the pid shows up on it
Here's the full output of nvidia-smi during training

[code]

[2020-02-27 00:47] polars05 commented on #924
Thanks, @awaelchli! Amended my code based on your suggestion and noted a strange behavior: during `.fit()`, the val accuracy is 0.8620 but upon loading the chekcpoints and doing `.test(model_test)`, the test accuracy is 0.8813. This is strange to me as I'm using the same dataset for both val and test as a check.

[2020-02-27 01:32] collinmccarthy commented on #851
@williamFalcon Oh awesome, didn't realize that. Thank you!

[2020-02-27 02:08] Ir1d commented on #851
when save_best_k is specified, it seems that only the specified ckpt is stored. I think the latest ckpt is not guaranteed to be saved?

[2020-02-27 02:41] Colanim commented on #538
I have same issue, can't make `ddp` works.

Proposed solution by @jeffling have no effect on my machine.

Any idea would be highly appreciated.

[2020-02-27 03:16] jeremyjordan commented on #947
@hadim do you have a direct use case for `on_fit_start` versus `on_train_start`? we actually don't have access to the model at `on_fit_start` and i'm wondering if we can just simplify the callbacks by removing `on_fit_start` and `on_fit_end` events. i don't think anything important happens between `on_fit_start` and `on_train_start` that we would need both...

[2020-02-27 03:24] jeremyjordan commented on #947
also, i appreciate the desire to keep things symmetric but i'd like to remove the `pl_module` arg from `on_init_start` and `on_init_end` since we'd be asking the user to include an arg which they wouldn't be able to access (we pass `None` as the value internally)

[2020-02-27 03:32] hadim commented on #947
I agree.

I thought `on_train_start`/`on_train_end` were the equivalent of `on_validation_start`/`on_validation_end` but it actually encompass it so it makes `on_fit_start` and `on_fit_end` kind of useless in that case.

As for `pl_module`, sure it makes sense if you are 100% sure that the model will never be available at that moment even in future PL releases or in complex PL module. I prefer to

[2020-02-27 04:04] jeremyjordan commented on #947
I am fairly confident given that we're talking about the init method of the `Trainer` and not of the actual PL module. I will go ahead and make the change, thanks.

[2020-02-27 04:07] sahnimanas opened #960 "Logging the current learning rate"
I'd like to write the current learning rate to a Logger. I imagine this would require a call to `scheduler.get_lr()` but I'm not sure how I can access the scheduler object and where to place the get_lr call
TIA!

[2020-02-27 04:14] sahnimanas commented on #958
BTW I switched the distributed backend from dp (default) to ddp and this went away. No PID is shown on GPU0 and its memory usage is at 11MiB (same as any other inactive GPU)

[2020-02-27 05:02] Colanim opened #961 "Example of gradient accumulation documentation is not correct"
## 📚 Documentation

Example of [gradient accumulation documentation](https://pytorch-lightning.readthedocs.io/en/latest/pytorch_lightning.callbacks.gradient_accumulation_scheduler.html) is not correct :

[code]

If running the code like this, I receive following error :

---

After reading the source code :

https://github.com/PyTorchLightning/pytorch-lightning/blob/d856989120b078581f3f694fd7a1c03

[2020-02-27 07:31] Borda commented on #958
Ok, in such case I would assume it as resolved, but feel free to reopne it if you need to :robot:

[2020-02-27 09:09] ethanwharris commented on #939
Ok, most of these work on master (i.e. if you install from github) for me - except `configure_optimizers`.

I've opened a PR (#964) which fixes that and cleans up the docs a bit.

[2020-02-27 09:51] ethanwharris commented on #961
Thanks for the issue!

Can you confirm if this is true on master? (by installing from github - https://github.com/PyTorchLightning/pytorch-lightning#bleeding-edge)

That was a recent addition so won't be on pip yet

[2020-02-27 11:56] williamFalcon opened #965 "Graceful keyboard doesn't work as expected"
@jeremyjordan
Not sure the fix is what you were looking for? Make sure to also log the message only from proc_0.

![image](https://user-images.githubusercontent.com/3640001/75442880-5523d200-592e-11ea-9ee0-837bb8dd9ff4.png)

[2020-02-27 13:06] Ir1d commented on #368
Shall we add an option to disable the automatic loading? I sometimes have to run some old version exp, the loading disturbs a lot.

[2020-02-27 13:23] williamFalcon commented on #368
I kind of want to remove the automatic loading...
@ethanwharris @hadim thoughts?

[2020-02-27 13:27] hadim commented on #368
I agree. Loading should be done only on demand IMO.

[2020-02-27 13:28] ethanwharris commented on #368
Yeah, I'm on board with this - perhaps should still throw a warning if a checkpoint is going to be overwritten?

[2020-02-27 13:42] Ir1d commented on #368
For the time being, is there a recommended way to override this functionality?

[2020-02-27 14:20] jeremyjordan commented on #965
Thanks I’ll look into this. Is this running in a Colab notebook with a TPU enabled?

[2020-02-27 18:07] shoarora opened #968 "Passing dataloader to trainer.fit() doesn't work with tpu (and maybe ddp)"
## 🐛 Bug

Receive a
[code]
error when passing the dataloader directly to `trainer.fit(model, train_loader)`

### To Reproduce

Steps to reproduce the behavior:

Try to call `trainer.fit(model, train_loader)` in TPU mode.

(I suspect that anything that calls `mp.spawn` will cause this problem, so ddp probably will face this issue too.)

#### Code sample
[code]

### Expected behavior

Ideally, speci

[2020-02-27 18:08] shoarora commented on #968
I don't mind tackling the issue myself, but I'd like some input first.  Thanks everyone!

[2020-02-27 18:14] williamFalcon commented on #968
lightning automates the sampler. pass just the dataloader

[2020-02-27 18:20] PasqualeZingo opened #969 "Checkpooint Callback not called when training GAN from documentation"
I tried to add a model checkpoint callback to the GAN example from the documentation (https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pl_examples/domain_templates/gan.py), but it is failing silently; no checkpoints are being written.  I can't find anything in the checkpoint docs that indicate why it is not working.

#### What's your environment?
 - OS: Linux
 - Packaging: Conda

[2020-02-27 18:21] sai-prasanna commented on #807
In AllenNLP there is effort now  to get pytorch-lightning work as its trainer abstraction.

https://github.com/allenai/allennlp/pull/3860

I think AllenNLP's jsonnet configuration works well for it. Would be interesting to see how this synthesis goes. AllenNLP though focused on NLP, has very good dependency injection + configuration management abstractions that make writing models that are easily

[2020-02-27 19:08] shoarora commented on #968
that's super cool.  I'm giving that a try, both in the GCP XLA docker image and in colab.

It seems to run fine in a colab modified from the TPU-MNIST example, but is still failing in the GCP XLA docker image.

I suppose that's due to the different `start_method`s?
[code]

Reading the flow of `trainer.fit()`, I don't see anything that would change the local functions set by `__set_fit_dataloaders`

[2020-02-27 20:54] #939 closed

[2020-02-27 21:07] #717 closed

[2020-02-27 21:52] williamFalcon commented on #968
so you think the spawn method is causing issues?

[2020-02-27 22:39] shoarora commented on #968
Yes.  `spawn` pickles the function and arguments to hand them to a new process, and `patch_train_dataloader` is not pickleable

[2020-02-27 22:44] shoarora commented on #968
![image](https://user-images.githubusercontent.com/16643856/75493796-95577480-596f-11ea-832f-f46fdaef15f4.png)

A quick run of the same example in `ddp` mode (colab, so non-slurm) results in the same error

[2020-02-27 22:49] shoarora commented on #968
From the [pickle docs](https://docs.python.org/3/library/pickle.html):

The following types can be pickled:
 - None, True, and False
 - integers, floating point numbers, complex numbers
 - strings, bytes, bytearrays
 - tuples, lists, sets, and dictionaries containing only picklable objects
 - **functions defined at the top level of a module (using def, not lambda)**
 - built-in functions defined a

[2020-02-27 23:31] zc-alexfan opened #970 "Evaluation on subsampled training set during training"
## ❓ Questions and Help

#### What is your question?

We can evaluate on the validation set to get validation accuracy etc. Is it possible to evaluate on a subsampled version of the training set as well, for example, the training accuracy? Is there an easy wa to do it with PL?

Sorry for the simple question, but I couldn't find the answer in the documentation.

[2020-02-27 23:32] Colanim commented on #961
Ha, you're right, on Master the documentation is updated. My bad

[2020-02-27 23:32] #961 closed

[2020-02-28 00:08] williamFalcon commented on #968
oh yeah. that’s just one way to do it. we could do the same another way. Basically just wanted to plug it into the framework instead of coming up with new functionality.

want to submit a PR?
or @ethanwharris @Borda

[2020-02-28 00:14] shoarora commented on #968
I can take a stab at it with my proposed solution if that's cool

[2020-02-28 00:22] williamFalcon commented on #968
looks great! give it a shot

[2020-02-28 01:40] Darktex opened #973 "[Discussion] There should be a Metrics package"
## 🚀 Feature
Introduce a metrics package that contains easy to use reference implementations of metrics people care about. The package should take care of the following:

1. Logging and printing in the right format. The metric object should know how it wants to be printed, depending on the available surface (terminal vs notebook vs TensorBoard). For example, a `ConfusionMatrix` metric can use Pand

[2020-02-28 01:53] williamFalcon commented on #973
Love it!
@srush thoughts?

[2020-02-28 01:57] LarryThermo commented on #98
Would you consider providing (or point me to an example) a simple but complete example of using ReduceLROnPlateau. Thanks, Lars

[2020-02-28 02:05] srush commented on #973
So I like the API and agree this would be nice to factor out. However I don't think that lightning should supply the metrics. Outside of classification, this is a really tricky thing to get right and often requires lots of domain engineering. Just as with the dataloaders, you don't want to own them, but facilitate and super clean API.

Random, why even specify CrossEntropy in training? Isn't that

[2020-02-28 05:17] jeremyjordan commented on #969
@PasqualeZingo could you reproduce the error in a Colab notebook and share the link?

[2020-02-28 05:28] jeremyjordan commented on #960
You can access the scheduler object via the `lr_schedulers` attribute in the trainer. However, since we don't expose this as a property of the class there's a chance that relying on this attribute _could_ break in future releases. ([see code here](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/trainer/trainer.py#L986))

You can leverage a [model hook](https://p

[2020-02-28 09:09] oplatek commented on #973
Hi,

I may contribute WER because I am interested in using it.
There is a reference implementation for Pytorch (https://github.com/1ytic/pytorch-edit-distance), I can also easily implement it in numpy for or plain Python.

However, I have a few general questions based on the discussion above:

My needs vary:
- Sometimes I need metric per batch - e.g. loss
- Sometimes I need metric per a training e

[2020-02-28 09:17] festeh commented on #970
I'd do something like this:

[code]

[2020-02-28 10:15] timofeev1995 commented on #835
Have the authors changed the logic in master branch? Now 1 tensorboard step == 1 optimizer step?
Thanks!

[2020-02-28 11:16] marsggbo opened #975 "How to show more log infos during training instead of using tqdm to show only once?"
## 🚀 Feature

### Motivation

Sometimes we want to check whether our model can converge. The most intuitive is to print the training information at regular intervals. However, tqdm only shows once, from which we cannot clearly see the trend of convergence.

### Alternatives

In this context, I wonder is it possible to use the normal method (e.g. simply print or logging) to log the training and val

[2020-02-28 11:33] williamFalcon commented on #975
you can always call print whenever you want. but ideally we look at tensorboard or another logger to check for convergence.

but you’re free to do print(loss) in your code haha

[2020-02-28 13:43] Borda commented on #714
I would say to use doctest for small functionalities where we want to use it also as examples in docs and unittest for extension testing, for example, catching fail cases or running multiple edge test-cases

[2020-02-28 16:32] johngull opened #976 "Problem to handle val_loss from validation_step"
## 🐛 Bug

The version from a master branch does not handle dict result from `validation_step`.

#### Code sample

With such function:
[code]
I got error:
`RuntimeError: Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: ```

If I change this function to the next one:
[code]
Then early stopping seems start working.

But for both cases the callback ModelCh

[2020-02-28 18:08] PasqualeZingo commented on #969
Sure thing, here it is: https://colab.research.google.com/drive/1wvZXP3WYxolfa4oA0mVnawtCXDr19eLd

Thanks @jeremyjordan !

[2020-02-28 20:30] awaelchli commented on #924
Your notebook is quite big. It would be good if you could try to create a minimal example where this behavior can be observed, then it is easier for us to help. The difference in accuracy you report is quite small. Could it simply be due to randomization of the data? To make sure this doesn't happen, make the code deterministic: https://pytorch.org/docs/stable/notes/randomness.html

[2020-02-28 20:58] neggert opened #977 "Support storing hparams as a dict"
## 🚀 Feature
Right now, we assume `model.hparams` is an `argparse.Namespace`. We've had a number of requests to support `hparams` as a simple `dict`. Let's do it.

[2020-02-28 21:13] zc-alexfan commented on #970
Thanks for the reply. I was hoping something else. For example, the current `validation_step` runs in parallel with the training. Also, I need to manually subsample the training data, instead of specifying a fraction. Maybe I should change this post to a feature request. Thanks although.

[2020-02-28 21:16] #970 closed

[2020-02-28 21:28] festeh commented on #977
It would also be great to support nested dictionaries. Especially for [hydra](https://github.com/facebookresearch/hydra) users, because this library favors modular configs.

[2020-02-28 22:14] Darktex commented on #973
I agree with the extensibility principle, but I'd also like each community to have their own standardized metrics to help with reproducibility in research (maybe Lightning supplies the classification ones as an example, and then maybe the image community will build the ones for the tasks they care about eg segmentation, pose estimation, etc. Same for the speech community which may build WER and so

[2020-02-28 22:15] neggert commented on #710
Okay, spent a little bit of time thinking about this. I think it's fine to setup the lightning logger for the user, but we shouldn't be touching other loggers (e.g. WandB). To give a little more visibility to the user, what do we think about adding another arg to Trainer?

[code]

Then in the code, we do something like

[code]

@Borda @williamFalcon Any thoughts? Only downside I see is yet another

[2020-02-28 22:49] awaelchli commented on #977
#943 Started also here with suggestion, but not sure what is the right way to do it.

[2020-02-28 22:57] neggert opened #979 "Failing test: test_running_test_pretrained_model_ddp"
I think this is another problem stemming from the fact that we don't have a way to pass data back from `torch.multiprocessing.spawn`. Needs more investigation.

[code]

[2020-02-28 23:26] awaelchli opened #980 "Warnings and import errors when generating docs"
## 🐛 Bug

There are many warnings when generating the docs, many are import failures.
Because of them, the Trainer docs disappeared, see here: https://pytorch-lightning.readthedocs.io/en/latest/trainer.html

### To Reproduce

Steps to reproduce the behavior:

1. cd docs
2. make clean
3. make html

[code]

### Expected behavior

no import errors.

### Environment

PyTorch version: 1.4.0
Is debug bu

[2020-02-28 23:27] rmrao opened #981 "WandbLogger cannot be used with 'ddp'"
## 🐛 Bug

wandb modifies `init` such that a child process calling init returns None if the master process has called init. This seems to cause a bug with ddp, and results in rank zero having experiment = None, which crashes the program.

### To Reproduce

Can be reproduced with the basic MNIST gpu template, simply add a WandbLogger and pass 'ddp' as the distributed backend.
[code]

This occurs wit

[2020-02-28 23:50] srush commented on #973
Sure, I think we agree. Like a dataloader like torch-text https://github.com/pytorch/text is not a submodule right? Its an external package.

The reason I am against this is for the same reason! There are a million implementations of BLEU in NLP exactly because everyone wants to standardize it to "their" version.

[2020-02-29 00:05] awaelchli commented on #976
This is not a bug.
**Solution:** You should implement `validation_end `and return a dict containing `'val_loss'` there.

EarlyStopping and ModelCheckpoint do not monitor metrics validation_step. The error over the whole validation set is what is needed, and this is done by collecting all metrics from validation_step and merging them in validation_end.
https://pytorch-lightning.readthedocs.io/en/0.

[2020-02-29 00:48] Darktex commented on #973
Ignite has convinced me that the computation part (DDP included) could be done at the Torch layer (more info in [this comment](https://github.com/pytorch/pytorch/issues/22439#issuecomment-592791032) there). Even if people want to reimplement their own BLEU, we'd probably want to land a reference implementation in TorchText. You are free to avoid it if you don't like it, but it's also a pain to wri

[2020-02-29 01:08] rmrao commented on #981
Some hacky solutions: calling `reinit=True` for wandb, adding or this terrible hack:

[code]

These both seem to only kind-of work and result in multiple independent calls to wandb.init. I think the ideal solution is that the experiment is only ever initialized on rank zero. *However* doing this means that wandb *cannot* be initialized in the master thread at all.

Better than this probably requir

[2020-02-29 01:34] rmrao commented on #981
Following up slightly - my hacky solution doesn't really work. It's easy enough though to get the rank zero only solution to work. If this seems like a reasonable solution, let me know and I'll submit a PR.

[2020-02-29 06:50] johngull commented on #976
@awaelchli Thank you for the explanation.

Can you please also help me with the logger understanding. Will it automatically log all metrics from training_end and validation_end? Or I need manually log it in these functions?

[2020-02-29 06:53] Ir1d commented on #839
@williamFalcon  skorch has a nice implementation. https://github.com/skorch-dev/skorch/blob/f94466e272f6f325898359fecb9a7c004354af7f/skorch/dataset.py#L212

[2020-02-29 07:26] marsggbo commented on #975
I got it. I can first set `show_progress_bar=False`, then print the info in `training_step`, but I wonder how can I print the average value of accuracy and loss?

[2020-02-29 08:15] kyoungrok0517 opened #984 "Logger emits exception when there's `None` in hparams"
### To Reproduce
My hparams:
[code]

I see the following errors because I have `None` value in my hparams dict
[code]

### Environment
PyTorch version: 1.4.0
Is debug build: No
CUDA used to build PyTorch: None

OS: Mac OSX 10.15.3
GCC version: Could not collect
CMake version: version 3.16.1

Python version: 3.7
Is CUDA available: No
CUDA runtime version: No CUDA
GPU models and configuration: No CU

[2020-02-29 08:54] Borda commented on #486
We are going to use `g3.8xlarge` instance an instal own Drone.io instance

[2020-02-29 08:57] Borda commented on #676
We shall test it via #486

[2020-02-29 09:01] Borda commented on #981
well, have observed some issues with `wandb` earlier #906 could you check it?

[2020-02-29 10:30] awaelchli commented on #980
@Borda Thanks for the PR but the import errors are still there. For some reason the docs don't like the PL examples.
We have this import

[code]

in the examples. I tried converting the relative imports to regular ones, but couldn't fix the issue.

[2020-02-29 10:34] awaelchli commented on #980
However, if I change
[code]
to this
[code]
the error disappears. (it is the same for the other examples)

[2020-02-29 12:47] awaelchli commented on #976
See here: https://pytorch-lightning.readthedocs.io/en/latest/experiment_reporting.html
In the output dict add another entry called `"log"` which is another dict with all metrics you would like to log. Example:

[code]

[2020-02-29 12:48] awaelchli commented on #976
@Borda could you remove the bug label?

[2020-02-29 13:27] johngull commented on #976
@awaelchli Thank you for the help.
I am closing the issue as this is really not a bug.

[2020-02-29 13:27] #976 closed

[2020-02-29 13:35] Borda commented on #980
Well, it looks strange, for me it passed, but I will check it again...
What you say is that the particular imports in `__init__` doesn't work properly...
Have you tried to install the package and then run `make html`?

[2020-02-29 13:35] Borda commented on #980
Well, it looks strange, for me it passed, but I will check it again...
What you say is that the particular imports in `__init__` doesn't work properly...
Have you tried to install the package and then run `make html`?

[2020-02-29 13:41] awaelchli commented on #980
You are right, I had to reinstall the package.
Example code was running fine before so it never made me think to reinstall. Strange ...

[2020-02-29 13:41] #980 closed

[2020-02-29 15:51] awaelchli commented on #942
I'm kinda stuck here. Here is where we are:

- we want to get rid of torchvision dependency in tests
- the only thing we use it for is the MNIST dataset class
- we found that it is possible to copy the MNIST code and have it part of PL for testing
- however, the tests import the LightningTemplate from the pl_examples which uses MNIST
- we probably want the pl_examples to stay included in the tests

[2020-02-29 17:10] awaelchli commented on #942
update: I think I have found a way to mock the import without touching the pl_examples.
Expect a PR soon :)

[2020-02-29 17:29] Borda commented on #942
Great work! By my opinion we do not test examples on all python/pytorch/OS versions since they are not really executed (it would take really long time)
I have already started to exclude examples from default tests and make them separet test case...

[2020-02-29 17:43] cmpute commented on #710
I think the best practice is actually letting the package use dedicated logger, just as @neggert wrote: use `logging.getLogger("pytorch_lightning")`. Messing up with root logger has created much trouble in my case...

[2020-02-29 17:48] cmpute commented on #710
It's fine if default level of dedicated logger, since it won't change the level of other loggers, while users can still change the logger level if they want

And also the loggers under `/loggers' package should use subloggers (like `logging.getLogger(pytorch_lightning.neptune)` or maybe shorter like `logging.getLogger('lightning.neptune')`. Thus the log_level can be inherited.

[2020-02-29 19:55] shawwn commented on #98
Yes, a simple example would be great please.

[2020-02-29 19:59] mikerossgithub opened #987 "Allennlp Support"
I'm looking at supporting AllenNlp/Lightning integration. Work has started over here:
https://github.com/allenai/allennlp/pull/3860

Also discussed in this repo here: #807

This issue is to consolidate some lightning-related issues in this effort

[2020-02-29 20:07] mikerossgithub commented on #987
I am trying to figure out which hooks to use in lightning for one-time serialization at the beginning of training. Specifically, my example is for a `Vocabulary` which is determined by both the model and the training data.

A `Vocabulary` maps words or tokens to indices. Sometimes it is initialized from the model, sometimes from the training data, and sometimes from a combination of both. In Allen

[2020-02-29 21:48] mikerossgithub commented on #987
A second question I have is where the best place is to add MomentumSchedulers. AllenNlp has support for both LearningRateSchedulers and MomentumSchedulers. In PytorchLightning, there is already support for LearningRateSchedulers in the return values for `LightningModule.configure_optimizers()` so conceptually it feels like MomentumSchedulers should be in the same place as LearningRateSchedulers, b

[2020-03-01 01:49] darwinkim opened #988 "Support for Context in Comet ML"
## 🚀 Feature
The Comet logger should have support for train/val/test context.

### Motivation

https://www.comet.ml/docs/python-sdk/Experiment/#experimenttest
Comet has `Experiment.test()` `Experiment.train()` and `Experiment.validate()` which set up context for logging.

### Pitch

It doesn't seem like PL passes "context information" (train/val/test) to loggers. Maybe it should, even if unused by

[2020-03-01 01:57] #988 closed

[2020-03-01 10:08] Borda commented on #353
@rblake-llnl @williamFalcon are we going to any further steps in this one?

[2020-03-01 10:10] Borda commented on #427
@ssaru could you check it with the latest version on master?

[2020-03-01 12:35] LuposX opened #991 "TypeError: __init__() got an unexpected keyword argument 'precision'"
## 🐛 Bug

I followed the guide to "use 16bit precision" from the [documentation](https://pytorch-lightning.readthedocs.io/en/latest/apex.html)

But when I do:
[code]

I get the error message:
`TypeError: __init__() got an unexpected keyword argument 'precision'`

I am using lightning version: 0.6.0

[2020-03-01 13:18] williamFalcon commented on #991
use master

[2020-03-01 13:56] #991 closed

[2020-03-01 14:23] williamFalcon commented on #979
https://pytorch.org/docs/stable/notes/multiprocessing.html#reuse-buffers-passed-through-a-queue

[code]

Looks like we can use python:multiprocessing.Queue?

[2020-03-01 17:42] fschlatt opened #992 "Compute Loss on Accumulated Batches"
## 🚀 Feature
Make it possible to accumulate the outputs and targets from the training step for the number of grad batches that should be accumulated. Then compute the loss over the accumulated outputs and targets.

### Motivation
The accumulate grad batches option is great for people who only have access to a GPU with limited memory. However, some loss functions are not batch independent, i.e. the

[2020-03-01 21:50] awaelchli commented on #862
maybe this could also include guidelines about how code is formatted and documented, e.g. format for doc strings, typing, how exceptions are handled etc., so that the codebase has a uniform style.

[2020-03-01 22:07] awaelchli opened #994 "Simplification: Merge load_from_metrics and load_from_checkpoint"
## 🚀 Feature

The two ways of loading a LightningModule from checkpoint only differ in one  argument, the tags_csv.

### Motivation

The code is almost identical for both and the purpose is the same. If we merge these two into one function, it would simplify the API.

### Pitch

Combine
`load_from_metrics(cls, weights_path, tags_csv, map_location=None)` and
`load_from_checkpoint(cls, checkpoint_pa

[2020-03-01 22:18] williamFalcon commented on #994
let’s do it!

[2020-03-01 23:00] Borda commented on #994
@awaelchli I agree, just which method shall be the remaining one?
 `load_from_metrics` or `load_from_checkpoint` :]

[2020-03-01 23:28] Borda commented on #992
@fschlatt I agree that accumulator is very important, may you check [GradientAccumulationScheduler](https://pytorch-lightning.readthedocs.io/en/latest/pytorch_lightning.callbacks.html#pytorch_lightning.callbacks.GradientAccumulationScheduler)?

[2020-03-01 23:39] awaelchli commented on #994
Probably load_from_checkpoint as it used more often :) I already made PR :)

[2020-03-02 00:12] Borda commented on #984
Hello, thanks for letting us know, could you also share with us the model/trainer so we can replicate your problem... :]

[2020-03-02 00:49] bkkaggle opened #996 "GPT2-large on Colab TPU seems to time out"
## 🐛 Bug

When training gpt2-large on a colab tpu, gpt2-large doesn't work

### To Reproduce

See the colab notebook: https://colab.research.google.com/drive/1An6D3wh_H4dbmlEUHYOXZYxkH6S7VKu9

This is the relevant part of the stack trace:

[code]

### Expected behavior

The code works when training on gpt2 (124M) but doesn't when training on gpt2-large (774M)

### Environment

[code]
### Additiona

[2020-03-02 02:05] bkkaggle opened #997 "Precision=16 with TPUs bug"
## 🐛 Bug

Setting precision=16 when training with a TPU throws an error

### To Reproduce

see colab: https://colab.research.google.com/drive/1s-ZDIqzgKQ1Byf-Lw58RZ8LGgmdB6qjB

Relavent stack trace:

[code]

To fix this all that should be needed should be casting `1` to a string

[code]

### Environment

[code]

[2020-03-02 02:14] Dev-Akash commented on #855
Hi there, I am interested in solving this bug, can i work on this ?

[2020-03-02 03:35] Dev-Akash commented on #821
Hi there, i am new to this, and want to contribute by solving this issue, but was not able to figure out how can i validate the changes i have made as after forking i can't see docs page hosted in respect to my forked repo. Can anyone help me with this ?

[2020-03-02 03:50] #968 closed

[2020-03-02 04:22] RyMo95 opened #1002 "Validation step isn't being ran"
## ❓ Questions and Help

#### What is your question?
I have been trying to get the trainer to call the validation_step function but it doesn't seem to ever get called.  I assume I am missing something obvious but have looking at the tutorials and docs I haven't been able to find the obvious.  The code for the model and trainer are below.  What might I be missing?  Thank you for the help!

#### Cod

[2020-03-02 04:26] jeremyjordan commented on #965
I spent some time looking into this but haven't yet figured out how to gracefully exit when using DDP. We know that the first `KeyboardInterrupt` was caught due to the logging.

Reading the docs for [`torch.multiprocessing`](https://pytorch.org/docs/stable/multiprocessing.html#spawning-subprocesses) I see it says:

I'm wondering if the `KeyboardInterrupt` is being sent to all of the processes and

[2020-03-02 04:36] jeremyjordan commented on #969
Ah ok I think I know what's going on here.

If you look at the [checkpointing callback](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/callbacks/model_checkpoint.py#L120), it's invoked with `on_validation_end`.

However, because you don't have a `validation_step` defined, the trainer is [skipping validation](https://github.com/PyTorchLightning/pytorch-lightning

[2020-03-02 05:08] Ir1d opened #1003 "add a self.lr to trainer"
## 🚀 Feature

### Motivation

### Pitch

### Alternatives

### Additional context

[2020-03-02 07:09] Borda commented on #855
Hi @Dev-Akash sure, that would be great!

[2020-03-02 07:15] Borda commented on #821
Great, you can make docs locally
[code]
And then check `dics/build/html/index.html`

[2020-03-02 07:17] pableeto commented on #577
Hi, I am using the latest-version (pip install https://github.com/PytorchLightning/pytorch-lightning/archive/master.zip --upgrade) and I have met the same error when calling trainer.test(model).
Is there any update or some workaround on this? Thank you very much.

[2020-03-02 07:48] tstumm commented on #977
What about having a `set_hparams(hparams: Union[Dict, argparse.Namespace])` function in `LightningModule` (or having it as an mandatory argument to the constructor), s.t. the user only needs to call either the function in the modules constructor OR calling it implicitly using a `super.__init__(hparams` call. It could handle arbitrary conversion logic, such that the internally used `hparams` object

[2020-03-02 08:05] awaelchli commented on #977
The set_hparams approach is not going to work because often we want to prepare some stuff in the constructor where we need the hparams.

I like your idea of the mandatory hparams argument to the constructor. If the superclass takes care of storing the hparams, it even gives the user more flexibility, for example he/she can rename it to self.args or something. It would also simplify the logic in th

[2020-03-02 08:12] awaelchli commented on #977
There is still the question of how we support multiple types of hparam objects and instantiate the user's LightningModule in the load_from_checkpoint method.

[2020-03-02 08:15] festeh commented on #977
On the other hand, adding a mandatory argument will break a lot of existing code. What if instead use a
private method `_set_hparams(self)` which is called after constructor has finished and looks for `self.hparams`? Yes, user will not able to change the `hparams` name to something else, but I consider it normal.

[2020-03-02 09:07] XDynames commented on #916
This is tangential but most relevant to this issue. In the arguments some of the default values are set to None to comply with the the Trainer's constructor. In my case I often pass and save my args into the LightningModule as self.hparams. (Which I believe is intended behaviour) When there are values with None associated with them in the Namespace object Tensorboard will raise a ValueError except

[2020-03-02 09:33] SkafteNicki commented on #1003
Assuming that PR https://github.com/PyTorchLightning/pytorch-lightning/pull/941 is being merged, this should be as simple as adding this method to trainer:
[code]

[2020-03-02 10:19] Ir1d commented on #1003
@SkafteNicki Sure its simple, i just wanted to discuss thoroughly in an issue so that my PR will not be closed again :smile:
（Sending it in slack channel didn't get any feedback.）

Here's my implementation (for me if my get_lr in scheduler is called, the learning rate will change, so I used the ['lr'] in optimizer instead)
[code]

[2020-03-02 10:34] williamFalcon commented on #969
should we enable the checkpoint callback to use any metric across training or validation step?

[2020-03-02 10:47] ricardorei opened #1005 "Why MultiGPU dp seems slower?"
## ❓ Questions and Help

#### Having 2 gpus with DP seems to be slowers than using just 1. Is it normal?
My intuition is that if you are using 2 GPUs and the batch is being splitted into 2 batches, this should be faster. But when I tested the same code using 1 vs >1 my epoch time increased

#### Code

[Minimalist Implementation of a BERT Sentence Classifier](https://github.com/ricardorei/lightning

[2020-03-02 11:06] SkafteNicki commented on #1003
Sorry, I forgot that pytorch have updated their interface. Instead of `get_lr()`, the lr can be extracted with `get_last_lr()` (without changing the actual lr). So a revised version of my initial proposal would be:
[code]

[2020-03-02 11:26] AljoSt commented on #954
You could freeze/unfreeze the layers in the `on_epoch_start`-hook (see [hooks](https://pytorch-lightning.readthedocs.io/en/latest/hooks.html)).

[2020-03-02 12:17] tstumm commented on #977
@awaelchli You can just type-check them and then convert it to some common type, e.g., a dict.
Or we just constraint the type of hparams to dict and expect that every user handles conversion on their own.
@festeh That would bring in a lot of additional complexity, as one then needs to either 1) manually call that method (so you need to change your code anyway) or 2) the method is called by some in

[2020-03-02 12:33] festeh commented on #977
@tstumm  I meant the second option, this method may be called after the model is passed to `Trainer` . Then it can perform the steps suggested by you (type-checking and converting), like this
[code]
I should say we need a really good reason to introduce a change that will break a lot of code.

[2020-03-02 13:48] williamFalcon commented on #1003
i’m not sure this is general enough. why wouldn’t you just add a hook to get the lrs yourself?

[2020-03-02 13:53] Ir1d commented on #1003
Fine. I've added myself. Just wondering if you'd like to add it to the trainer.

[2020-03-02 13:53] #1003 closed

[2020-03-02 13:54] pvernhet-aramis opened #1006 "How to write custom metric callbacks properly ?"
#### What is your question?
I am looking for custom callbacks, in particular for metric monitoring both on _training and validation_ steps. I tried to write it heavily based on pytorch-lightning [model_checkpoint documentation](https://github.com/PyTorchLightning/PyTorch-Lightning/blob/master/pytorch_lightning/callbacks/model_checkpoint.py#L11-L181), shown below:

`

class CustomModelCheckpoint(pl

[2020-03-02 13:57] williamFalcon commented on #1003
i would say use the callback system for that :)

[2020-03-02 14:42] pableeto opened #1007 "calling Trainer.test(model) will perform test twice"
## 🐛 Bug

When calling Trainer.test(model) after training separately, the Test routine will be called twice.

### To Reproduce
Steps to reproduce the behavior:
[code]

### Expected behavior
The test should be only performed once via trainer.test(model).

### Environment
PyTorch version: 1.4.0
Is debug build: No
CUDA used to build PyTorch: 10.1

OS: Ubuntu 18.04.3 LTS
GCC version: (Ubuntu 7.5.0-3ub

[2020-03-02 14:43] AljoSt opened #1008 "make metric-comparison in ModelCheckpoint robust to NaN"
## 🐛 Bug

When the metric that is used in `ModelCheckpoint` reaches `NaN` in one epoch and then returns to a number in the following epoch, the model will not be saved as comparisons to `NaN` always return `False`.

Here a screenshot from my training:

![Screenshot from 2020-03-02 14-31-46](https://user-images.githubusercontent.com/19200479/75686136-a9fb7b80-5c93-11ea-9f53-550b572f9105.png)

### E

[2020-03-02 14:44] xingzhaolee commented on #1007
This is fixed in #770 along with my PR on the other features. Still waiting for it to be approved tho.

[2020-03-02 15:24] Borda commented on #577
We are working on it now... this appears only for multi-GPU or have you observed it elsewhere?

[2020-03-02 15:29] williamFalcon commented on #577
@pableeto can you put code here?

[2020-03-02 15:41] PasqualeZingo commented on #969
That would be ideal, in the mean time I can fool the validation loop into running for my use.  Would it be worth updating the docs in the mean time to clarify about the checkpoint callback?

[2020-03-02 15:54] jeremyjordan commented on #969
Yes, we should be running this `on_epoch_end` after both training and validation are complete.

[2020-03-02 16:15] Borda commented on #979
@williamFalcon Could we check these two commits on GPU - 20d15c8023602067eba1605c745448592b709477 and 5dd2afeab108132fb8db32b8b9959c8ea88ed0de?

[2020-03-02 17:08] sneiman commented on #577
I do have a fix for this with DDP – I’ve added a True/False argument to Trainer() that is used to call trainer.test() for you if you are running ddp or ddp2 back end.

It only calls it after training is complete. Or it can be used with any back end, if you like.

I have no way to test this on a cluster, but have tested it on my single node, 7 gpu machine running Ubuntu.

I do not believe there is

[2020-03-02 18:04] Dev-Akash commented on #821
@Borda thanks for the help, i will soon be sending a PR after applying changes successfully.

[2020-03-02 18:51] shubhamagarwal92 opened #1011 "Lazy loading and multi-modal data"
## ❓ Questions and Help

#### What is your question?

Hi,

Really nice repo. I was planning to port my code here. But I want to ask a question about lazy loading.

- It seems that dataloader already has pre-built lazy loading. The decorator [here](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/core/decorators.py) mentions this will use the lazy property. Howeve

[2020-03-02 18:52] williamFalcon commented on #1011
on master you no longer need lazy loading. we fixed the issues that required it. your data won’t be called until it’s actually needed

[2020-03-02 18:52] williamFalcon commented on #1011
i can loon at the rest of this issue later today :)

[2020-03-02 21:11] mmsamiei opened #1013 "AttributeError: 'tqdm_notebook' object has no attribute 'reset'"
## 🐛 Tqdm Bug

torch                    1.4.0
tqdm                     4.43.0
pytorch-lightning        0.6.1

[code]

[2020-03-02 22:04] jeremyjordan commented on #1002
Hi @RyMo95 , I believe the issue is that your method is not named correctly.

`valid_dataloader` -> `val_dataloader` should resolve this, please let me know if that doesn’t work!

[2020-03-02 22:56] awaelchli commented on #1008
perhaps the training should stop altogether. if the loss is nan, it will propagate to the weights and the next steps/epochs are useless anyway. Lightning could stop the training/test/val loop and warn the user immediately.

[2020-03-02 23:09] wassname commented on #1013
It works for me without crashing, [see this notebook](https://gist.github.com/wassname/abec057ebde114c252fd9804e141e10b). Perhaps post a self contained working example of the problem?

pytorch-lightning-0.6.0
tqdm==4.41.1
torch==1.3.0+cu92
Python 3.7.3

[2020-03-02 23:12] Borda commented on #765
@hadim are still interested in implementing this progress bar?

[2020-03-02 23:14] Borda commented on #721
I will close this in favour of #765 so pls let's continue the discussion there... :robot:

[2020-03-02 23:14] #721 closed

[2020-03-02 23:15] Borda commented on #330
I will close this in favour of #765 so pls let's continue the discussion there... :robot:

[2020-03-02 23:19] Borda commented on #710
yeah, having different logging level per logger sounds good...

[2020-03-02 23:38] Borda commented on #710
since #825 we support multiple loggers... The common practice is to have a `WARNING` level in a terminal and `DEBUG` in a file... What we could do is add a logger which would catch all logging messages like info/debug and write them to a special file... @cmpute  is it something you are interested in?

[2020-03-02 23:38] RyMo95 commented on #1002
@jeremyjordan Ah that was it, so careless! Appreciate the help :)

[2020-03-02 23:38] #1002 closed

[2020-03-03 00:28] hadim commented on #765
I've made a custom progress bar as a callback and it works well for my needs. Not sure it will fit everyone's needs.

Here it's:

[code]

Only a global progress bar is implemented at the moment.

I could make a PR but some people might prefer the original one so I don't know if it's worth it.

[2020-03-03 01:11] jeremyjordan commented on #1002
no problem! :)

[2020-03-03 01:30] #710 closed

[2020-03-03 02:50] #979 closed

[2020-03-03 02:50] #1007 closed

[2020-03-03 02:50] #368 closed

[2020-03-03 02:50] #517 closed

[2020-03-03 02:50] #577 closed

[2020-03-03 02:50] #633 closed

[2020-03-03 02:50] #702 closed

[2020-03-03 02:50] #885 closed

[2020-03-03 02:51] #997 closed

[2020-03-03 04:40] williamFalcon commented on #1005
you should double your batch size.
dp still has overhead in communication, so it won't be linear scaling.

also try ddp

[2020-03-03 04:51] #947 closed

[2020-03-03 07:50] #1005 closed

[2020-03-03 08:48] kyoungrok0517 commented on #984
Hi, thanks for the response. Here's my code and data. The error can be reproduced under pytorch-lightning 0.6.0

https://www.dropbox.com/sh/5dyq5dp5l8zfc3r/AAAiK-IoihpgdnJ3L8QzKAxNa?dl=0

* `pip install -e . && pip install -r requirements.txt`
* (at the root) `python ./code/trec2019/sparse/sparsenet/sparsenet_trainer.py --data_dir ./data`

[2020-03-03 08:50] Borda commented on #765
yeah it looks the much cleaner way that using the callback driven progress bar then checking the for loop wrapped by `tqdm`

[2020-03-03 10:04] #994 closed

[2020-03-03 13:28] williamFalcon commented on #718
@Crissman added you to our docs (look in hyperparameters with 0.7.0 release)

[2020-03-03 14:46] #563 closed

[2020-03-03 14:52] AljoSt commented on #1008
I don't know how, but my model returned to non-nan values (see screenshot). I have a suspicion that maybe `apex` had to play a role in this...

[2020-03-03 15:00] AljoSt opened #1025 "multi-gpu inference during training"
## ❓ Questions and Help

#### What is your question?

During training, I need to run all the data through my model from time to time. Currently, I do this during the `on_batch_end` hook. But if I just call the model's `forward` function, it will only use one GPU. I tried to wrap the model into a `nn.Dataparallel` before inferencing, but that doesn't seem to work. Any idea what I can do?

[2020-03-03 15:01] captainvera commented on #100
@Jonathan-LeRoux I'm in the same boat.. It is super misleading that `validation_end` and `training_end` have different behaviour. It took me a while to understand what was going on.

Continuing this discussion @williamFalcon, I think this thread's name is misleading. There's absolutely no reason for lightning to automatically calculate accuracy. On the other hand, it *would* be super useful if lig

[2020-03-03 15:13] ssaru commented on #427
Appreciate your reply.
I will check it

[2020-03-03 16:49] ibeltagy commented on #835
AFAICT, this was fixed here https://github.com/PyTorchLightning/pytorch-lightning/pull/832

[2020-03-03 16:49] #835 closed

[2020-03-03 18:40] Borda commented on #984
@kyoungrok0517 and what would be your expected behaviour, just ignore all parameters with none value?

[2020-03-03 18:45] Borda commented on #960
Thx @jeremyjordan! @sahnimanas if you need some more info, feel free to reopen... :robot:

[2020-03-03 18:45] #960 closed

[2020-03-03 18:46] Borda commented on #954
Thx @AljoSt! @chris-clem  if you need some more info, feel free to reopen... :robot:

[2020-03-03 18:46] #954 closed

[2020-03-03 18:53] Borda commented on #916
@XDynames could you check #1023 and send a PR with adjustments?

[2020-03-03 18:54] Borda commented on #896
I suppose that this is done for now... :robot:

[2020-03-03 18:54] #896 closed

[2020-03-03 20:16] #775 closed

[2020-03-03 20:49] LuposX opened #1034 "TypeError: validation_step() takes 3 positional arguments but 4 were given"
## 🐛 Bug

When running my model I get the error message: `TypeError: validation_step() takes 3 positional arguments but 4 were given`

Stacktrace:
[code]
### To Reproduce

Steps to reproduce the behavior:

1. Install PyTorch-lightning with `pip install pytorch-lightning`
2. Follow the tutorial from [William Falcon](https://towardsdatascience.com/from-pytorch-to-pytorch-lightning-a-gentle-introduct

[2020-03-03 21:39] Borda commented on #977
hmmm, so what about having `hparams` as property which will be `Namespace` and setter `set_hparams` which will accept both `Namespace` and `dict` and store it in `_hparams` in the original form...

[2020-03-03 21:48] darwinkim opened #1037 "ReduceLROnPlateau does not work with multiple schedulers"
## 🐛 Bug

PL seems to only pull one `ReduceLROnPlateau` to call it the `reduce_lr_on_plateau_scheduler`

### To Reproduce

One example would be adding two `ReduceLROnPlateau` schedulers to the GAN example.

### Expected behavior

All `ReduceLROnPlateau` should be recognized as such.
A natural solution might be to check if a scheduler is an instance of `ReduceLROnPlateau` for each scheduler in the

[2020-03-03 21:54] williamFalcon commented on #1037
mind submitting a PR?

[2020-03-03 21:56] awaelchli commented on #977
What if the hparams changes after setter is called? It is mutable, the user can change the values anytime. It should probably only be converted when checkpoint is saved.
And when restoring, we basically can't restore the users original type... basically we don't know what to pass in to constructor. that's the big problem I see.

[2020-03-03 21:59] #945 closed

[2020-03-03 21:59] #821 closed

[2020-03-03 22:01] williamFalcon commented on #630
@neggert is this fixed now?

[2020-03-03 22:03] #214 closed

[2020-03-03 22:47] awaelchli commented on #977
actually, in the PR #1029 of @Borda  the conversion is done in the property, not the setter. This could work. I think it's a good idea.

[2020-03-03 23:17] awaelchli commented on #1034
This should happen when you return multiple dataloaders. In that case, the signature of validation step should be

`def validation_step(self, val_batch, batch_idx, dataset_idx):`

Did you copy and run the full MNIST example given in the blog post you linked?

[2020-03-04 00:20] kyoungrok0517 commented on #984
I think that will be the best option. I expect that happens automatically inside the lightning library.

________________________________
보낸 사람: Jirka Borovec <notifications@github.com>
보낸 날짜: Wednesday, March 4, 2020 3:40:59 AM
받는 사람: PyTorchLightning/pytorch-lightning <pytorch-lightning@noreply.github.com>
참조: Kyoungrok Jang <kyoungrok.jang@gmail.com>; Mention <mention@noreply.github.com>
제목: Re

[2020-03-04 00:22] XDynames commented on #916
@Borda Honestly I wasn't sure which way would be the best to address it, locally I have just added a dictionary to catch the cases that cause the issue, but that is hard to maintain

Ultimately it would be better to adjust the default arguments in the constructor from None to some other value, but I don't have enough scope to fully understand the implications of that for legacy support or construc

[2020-03-04 00:36] bkkaggle opened #1038 "Schedulers like get_linear_schedule_with_warmup need access to the length of the train dataset"
## 🐛 Bug

If you're using a lr scheduler that needs access to the number of batches in the train dataset like @huggingface's `get_linear_schedule_with_warmup`, there's currently no way to access the dataset in `configure_optimizers()` because it looks like it is called before `train_dataloader()`.

It would be nice to have some way to load the datasets before the optimizers and make the dataset av

[2020-03-04 00:54] Crissman commented on #718
Thanks!

[2020-03-04 02:17] cmpute commented on #710
By "logging" I mean maybe the text logging (with `logging` python module) should go under certain namespace instead of using root logger, for better text logging management

[2020-03-04 06:11] festeh commented on #1038
Well you can pass train dataset or loader in constructor, so it will be available as a field, any reason not to do so?

[2020-03-04 06:51] LuposX commented on #1034
Yeah, I did copy the full code on the blog. I'll try to add `dataset_idx` to the validation step once I come home.

[2020-03-04 09:04] SkafteNicki commented on #1037
If PR https://github.com/PyTorchLightning/pytorch-lightning/pull/941 is merged, it will also solve this problem

[2020-03-04 09:50] Borda commented on #1037
@darwinkim @SkafteNicki pls coordinate your effort #941 #1039 so none of your work gets wasted... ;]

[2020-03-04 10:41] Borda commented on #942
FYI, https://github.com/pytorch/vision/issues/1938

[2020-03-04 10:57] Borda commented on #710
Sounds interesting, @cmpute mind submit PR with your suggestion?

[2020-03-04 11:07] skepticleo commented on #222
I would like to take this up.

[2020-03-04 11:22] Borda commented on #100
@captainvera have you check recent changes in #776 #889 #950
anyway a PR with suggestions is welcome :robot:

[2020-03-04 11:32] Borda commented on #222
Cool! Thx @skepticleo

[2020-03-04 14:17] williamFalcon commented on #987
hey! this  is aweome. Happy to support the  other schedulers.
I can take a look at this more carefully in a few days once we get this release out.

In the  meantime, check out or new docs!
https://pytorch-lightning.readthedocs.io/en/latest/

This might be  useful:
https://pytorch-lightning.readthedocs.io/en/latest/callbacks.html

Or prepare_data() here:
https://pytorch-lightning.readthedocs.io/en/

[2020-03-04 14:33] #977 closed

[2020-03-04 15:16] mikerossgithub commented on #987
Thanks, `prepare_data()` is what I was missing, as was looking in `core.hooks` -- `lightning_module_template` is helpful!

[2020-03-04 15:41] teresabucho commented on #1034
I've encountered the same problem:

`TypeError: validation_step() takes 3 positional arguments but 4 were given`

Weather running [this code](https://colab.research.google.com/drive/1Mowb4NzWlRCxzAFjOIJqUmmk_wAT-XP3#scrollTo=nkLv0LDq3GPz&line=2&uniqifier=1) or the [full version](https://colab.research.google.com/drive/1Mowb4NzWlRCxzAFjOIJqUmmk_wAT-XP3#scrollTo=SVc6cHKafZ3_&line=1&uniqifier=1) at t

[2020-03-04 15:56] awaelchli commented on #1034
Looks like these notebooks install master, not 0.6.0.

[2020-03-04 16:01] darwinkim commented on #1037
#941 seems to solve it, and adds many related features

[2020-03-04 17:09] LuposX commented on #1034
If I add `dataset_idx` to my parameters I get the error:
[code]

[2020-03-04 18:07] rmrao commented on #1038
I would support this change - as far as I know it should just change the order in which the dataset / optimizer methods are called w/o impacting anything else.

Another note on these schedulers is that I believe you have to override `optimizer_step` to step the scheduler on each update, rather than per-epoch (which is the only thing lightning supports as of now).

[2020-03-04 18:08] rmrao commented on #1034
I encountered this - you need to add the `@pl.data_loader` decorator above all your dataloader functions. The examples sometimes use master and seem to be inconsistent.

[2020-03-04 18:12] rmrao commented on #981
Hmm, I think this is a slightly different issue (I'm running on Ubuntu so I don't think that's the issue). Pickling also works correctly.

[2020-03-04 18:28] danielgreff commented on #1034
Thanks for your fix. I had actually seen this in the Github Doc, just did not think to implement it. For me it fixes the error I was having.

[2020-03-04 18:30] LuposX commented on #1034
For me it fixed it too thanks.
Correct me if I am wrong In the PyTorch-lightning version 0.6.0 you need
`@pl.data_loader` decorator and in the master version not?

[2020-03-04 18:35] LuposX commented on #1034
Should I close the issue? Or is this a Bug?

[2020-03-04 18:38] rmrao commented on #981
This particular problem I think stems from this part of the `wandb.init(...)` code:
[code]

Child processes end up getting `None` for the wandb run object, which causes logging to fail. There are probably two reasonable and complementary solutions:

1. The main thread should avoid creating a wandb experiment unless absolutely necessary.

Right now, [this](https://github.com/PyTorchLightning/pytorc

[2020-03-04 18:42] awaelchli commented on #1034
It should stay open. The examples must be updated so they can work with the upcoming release 0.7.

[2020-03-04 18:43] awaelchli commented on #1034
@williamFalcon bringing this to your attention

[2020-03-04 19:25] cmpute commented on #710
@Borda sure, I can have a try

[2020-03-04 20:31] Borda commented on #916
You can convert params to dictionary (temporary) and filter items to be not None...

[2020-03-04 23:05] XDynames commented on #916
Sure, but then the user can't use some of the arguments like `--gpus`
If we actually deal with them case by case we end up having to store a mapping between None arguments and there equivalent to None defaults. Some examples of this would be:
`gpus = 0`
`profiler = False`
`default_save_path = os.getcwd()`

And then in some cases there are explicit checks for a NoneType in the constructor like for

[2020-03-04 23:34] varDiii opened #1045 "I can't find callbacks on pl.Trainer()"
I saw in Documentation that show ' argument', but when a run I got a error
The same for 'num_tpu_core's argument

[code]

[2020-03-04 23:43] awaelchli commented on #1045
Did you install from master? The new callbacks are only available on master and soon in the new release 0.7

[2020-03-04 23:52] varDiii commented on #1045
how can i download from master?
I used pip install pytorch-lightning

[2020-03-05 00:09] awaelchli commented on #1045
From the readme of this repository at the very bottom:

`pip install git+https://github.com/PytorchLightning/pytorch-lightning.git@master --upgrade`

[2020-03-05 00:09] awaelchli commented on #1045
Just keep in mind master is the development version and not stable

[2020-03-05 00:29] varDiii commented on #1045
OK, Thanks for you help

[2020-03-05 00:29] #1045 closed

[2020-03-05 04:05] williamFalcon commented on #969
merged #1043

[2020-03-05 04:05] #969 closed

[2020-03-05 04:05] williamFalcon commented on #652
closed #1043

[2020-03-05 04:05] #652 closed

[2020-03-05 05:50] BradWyble commented on #991
Hi William,

I am experiencing the same issue.  I upgraded to master and the issue was not resolved.

[2020-03-05 08:02] Borda commented on #991
@BradWyble pls double check that you using master, e.g install from github
[code]
https://github.com/PyTorchLightning/pytorch-lightning/blob/bcb45d906d5f378a30461d513728cad34fc647ce/pytorch_lightning/trainer/trainer.py#L108

[2020-03-05 08:10] sh0416 commented on #37
How to set seed when I use 'ddp' for backend?

[2020-03-05 11:48] #806 closed

[2020-03-05 12:05] awaelchli commented on #943
implemented in #1029

[2020-03-05 12:05] #943 closed

[2020-03-05 12:28] S-aiueo32 opened #1046 "Logger-specific checkpoint callbacks"
## 🚀 Feature
Add checkpoint callbacks corresponding to each logger.

### Motivation
Recently, PL supports a lot of loggers like comet.ml, eptune.ai or etc. Many of them have the functionality to store the weight files on their cloud storage, however, PL has logging and checkpointing features independently. The loggers also have automatic detection of the checkpoints and upload them, however, it is

[2020-03-05 12:30] awaelchli commented on #645
Maybe not. The user may want to save checkpoints but no logging turned on. The logger is for experiment tracking (loss curves and other visualizations) and independent of checkpointing.

[2020-03-05 12:30] DrClick commented on #624
I have found the issue and have a solution but I would like to discuss the possible solutions. I am happy to submit a PR. Basically, the training loop calls `lr_scheduler.step(epoch=self.current_epoch)` in the training loop. This has the affect of resetting an iterative learning rate scheduler. Possible solution: Expose a method on the trainer to step iterative schedulers and return  tuple or dict

[2020-03-05 12:40] varDiii opened #1047 "Exception in device=TPU:0"
This error occours when initiate the trainer

[code]

[2020-03-05 13:07] marsggbo opened #1049 "The difference between Module and Trainer load from checkpoint?"
`LightningModule` has a function `load_from_checkpoint`, while the trainer also has a variable, namely `resume_from_checkpoint`, what's the difference between them?

By the way, I want to print the best result of the checkpoint whenever I resume from the ckpt, how can I do this job? I override the `on_load_checkpoint` of `LightningModule`, but nothing happens...

[2020-03-05 13:29] annukkaa commented on #614
`CUDA_VISIBLE_DEVICES=2` did not solve it for me, but adding `torch.cuda.set_device(2)` did

[2020-03-05 14:01] SkafteNicki commented on #1037
With #941 being merged now, this can be closed

[2020-03-05 14:31] #1037 closed

[2020-03-05 16:23] knuser commented on #596
I also need such functionality. @simonjaq did you found workaround for this problem?

[2020-03-05 17:22] BradWyble opened #1053 "Error: object has no attribute 'num_train_imgs' in version master, but not 0.6.0"
I am running on Ubuntu 18, and trying to run the vq_vae.yaml config from this package:
https://github.com/AntixK/PyTorch-VAE

It runs fine under version 0.6.0 with python 3.7 but when I update to lighting-master (0.6.1)  I get this error:
AttributeError: 'VAEXperiment' object has no attribute 'num_train_imgs'

The relevant .py file is attached:
[experiment.zip](https://github.com/PyTorchLightning/

[2020-03-05 21:28] acarrera94 commented on #1013
I had this same issue when running on google Colab. the solution is that when you run `!pip install git+git://github.com/williamFalcon/pytorch-lightning.git@master --upgrade` at the end of the output from the cell it will say:

  [tqdm] You must restart the runtime in order to use newly installed versions.

And there's `RESTART RUNTIME` button below. Just click on that and continue with your next

[2020-03-06 01:41] bkkaggle opened #1062 "Wandb logger on multiple TPU cores shuts down in the middle of training"
## 🐛 Bug

When using the wandb logger with more than one tpu core on colab, wandb stops training in the middle of epoch 2.

See colab notebook: https://colab.research.google.com/drive/1aafmyr4MDpZNX-XWRHOAKMaAIGF-5t6c

Relevant part of stacktrace:

[code]

[2020-03-06 12:03] williamFalcon commented on #1049
resume_from_checkpoint is private

[2020-03-06 12:03] #1049 closed

[2020-03-06 12:04] williamFalcon commented on #1049
https://pytorch-lightning.readthedocs.io/en/latest/weights_loading.html

[2020-03-06 12:16] williamFalcon commented on #1053
try running from master again?

[2020-03-06 16:05] pableeto commented on #1038
@rmrao It seems latest pl supports per-step lr schedulers as in #941 .

[2020-03-06 16:26] BradWyble commented on #1053
Hrm. I get the same error with the new master. If you are curious to know
more about my base, here is my pip freeze and I'm using Python version 3.7
when this happens.

When I use python 3.6, I get this error whether I am using lightning 060 or
070.

Thanks for working so hard on Lightning.  I really like the idea.  I've
created a similar package for systematizing  psychophysics experiments and
it

[2020-03-06 16:36] bmartinn commented on #929
Thanks to @S-aiueo32 + documentation and type hinting, details [here](https://github.com/bmartinn/pytorch-lightning/commit/1f53519177df7622382bfb7cf68b5e42c5b2e619)

Dear PyTorch-Lightning Team, Could I push the PR?

[2020-03-06 19:25] rmrao commented on #1038
Ah ok great!

[2020-03-06 20:15] dscarmo opened #1076 "Why is there no training_epoch_end?"
## 🚀 Feature
If i want to calculate and log average statistics for the training epoch, it seems like there is no option to define a "training_epoch_end" in the LightningModule, as there is validation_epoch_end and test_epoch_end.

### Motivation
Seems very intuitive to have this function. I know the on_epoch_end hook exists, but the "outputs" object with training history for that epoch is not avai

[2020-03-06 20:45] bkkaggle commented on #1038
Fixed with #941, closing

[2020-03-06 20:47] simonjaq commented on #596
Hi. I made a custom checkpoint. Copied all the code but changed:  `def on_validatio_end` to  `  def on_epoch_end(self):`
Then I'm calling the checkpoint in the Lightning loop:
`    def on_epoch_end(self):

        trainer.checkpoint_callback.on_epoch_end()`

[2020-03-06 21:12] rmrao commented on #1025
I think you can get the wrapped dataparallel model with `self.trainer.model` (which, if you're using the dataparallel backend is *not* the same as `self`) and run `self.trainer.model(batch)`. Slightly better I think is `self.trainer.model(self.trainer.transfer_batch_to_gpu(copy.copy(batch), 0))`. The relevant section is in the `training_loop.py` file.

[2020-03-06 23:39] williamFalcon opened #1081 "fast_dev_run -> unit_test"
Anyone want to make this change?

- rename fast_dev_run -> unit_test
- add checking the test set as well (currently only checks val, train).

[2020-03-06 23:53] williamFalcon commented on #1047
ummm.

updated to latest version and try again?

[2020-03-06 23:54] #1047 closed

[2020-03-06 23:54] williamFalcon commented on #1034
@LuposX fixed on 0.7.1.
Try again!

[2020-03-06 23:55] #1034 closed

[2020-03-06 23:55] #1013 closed

[2020-03-06 23:56] williamFalcon commented on #1008
@awaelchli i like that idea!
mind submitting a PR?

[2020-03-07 00:00] williamFalcon commented on #948
@ethanwharris @Darktex i think 0.7.1 fixed this problem. Mind checking now?

[2020-03-07 00:01] williamFalcon commented on #996
@bkkaggle try again using the latest version.

[2020-03-07 00:02] williamFalcon commented on #951
you can just do
[code]
to pick the 3rd gpu no?

[2020-03-07 00:04] williamFalcon commented on #931
done

[2020-03-07 00:04] #931 closed

[2020-03-07 00:04] williamFalcon commented on #914
updated in 0.7.1

[2020-03-07 00:05] williamFalcon commented on #901
```self.print()``` is available in 0.7.1

you can also check:
```self.trainer.proc_rank```

[2020-03-07 00:05] #901 closed

[2020-03-07 00:06] williamFalcon commented on #888
we can reopen if it's still an issue

[2020-03-07 00:06] #888 closed

[2020-03-07 00:06] williamFalcon commented on #887
awesome! let's keep this going as we keep making fixes

[2020-03-07 00:21] williamFalcon commented on #1076
didn't get around to it for this release. but feel free to PR it!
we do need it

[2020-03-07 00:24] #916 closed

[2020-03-07 00:26] williamFalcon commented on #814
i think 0.7.1 fixes this

[2020-03-07 00:26] #645 closed

[2020-03-07 00:27] #630 closed

[2020-03-07 00:27] williamFalcon commented on #581
how's this going?
dp is very slow btw compared with ddp

[2020-03-07 00:28] williamFalcon commented on #525
solved in 0.7.1
if not, we can reopen

[2020-03-07 00:28] #525 closed

[2020-03-07 00:28] #423 closed

[2020-03-07 02:36] gerardrbentley opened #1082 "[distributed] set_nvidia_flags doesn't affect dp, does affect ddp"
## 🐛 Bug

When default CUDA GPU order differs from PCI_BUS_ID order the user won't use the same GPUs in DP and DDP modes.

Trainer(gpus='0,1,2', distributed_backend='dp') uses gpus with PCI_BUS_ID's: '0,1,3' (on my machine) whereas Trainer(gpus='0,1,2', distributed_backend='ddp') uses gpus with PCI_BUS_ID's: '0,1,2'

It seems that setting environment variables programmatically doesn't actually aff

[2020-03-07 02:38] #364 closed

[2020-03-07 02:38] #434 closed

[2020-03-07 05:02] polars05 commented on #924
I'm loading my checkpoints for inference as per what @awaelchli suggested above:
[code]

However, I am now getting an error:
[code]

Even with `model_test = CoolSystem(hyperparams_test).load_from_checkpoint('checkpoints/try_ckpt_epoch_1.ckpt')`, PyTorch Lightning is still complaining that `'dict' object has no attribute 'data_dir'`

Am I doing something wrong here?

[2020-03-07 05:16] williamFalcon commented on #924
https://pytorch-lightning.readthedocs.io/en/0.7.1/weights_loading.html

[2020-03-07 06:01] Borda commented on #887
It is not done yet lol

[2020-03-07 08:59] polars05 commented on #863
Check out the **Example: Imagenet (computer Vision)** section of https://pytorch-lightning.readthedocs.io/en/latest/introduction_guide.html. In the example, ResNet50 is frozen through `self.feature_extractor.eval()`. Upon calling `trainer.fit(model)`, only the classifier is trained. You could definitely apply the same concept to a NLP model. Hope this helps you!

[2020-03-07 09:41] polars05 commented on #924
I think the example shown in **Checkpoint Loading** only works if the user is loading the checkpoints immediately after training (i.e. the instance of `MyLightningModule` has already been instantiated with the necessary `hparams`).

However, I'm loading the checkpoints separately (i.e. not immediately after training), and I had to change `__init__` within the module from
[code]
to
[code]
in order

[2020-03-07 11:18] #863 closed

[2020-03-07 11:29] S-aiueo32 opened #1083 "Lower default progress_bar_refresh_rate"
## 🚀 Feature
From a conversation in Slack.
In v0.7.1, the default value of  `progress_bar_refresh_rate` is 50, which I think too high.
It is a measure to prevent notebook freezing, however, I believe most users run PL on CLI.
In addition, the high default value confuses the users in `fast_dev_run` because it has only 2 iterations.

So, I suggest the following:
- Set the default value as `1` or `2`

[2020-03-07 11:33] williamFalcon commented on #924
your checkpoint was saved with a dictionary. means you likely gave the model a dictionary in init and not a namespace

[2020-03-07 13:47] LuposX opened #1085 ""From PyTorch to PyTorch Lightning" outdated"
### 🐛 Bug

When using the example code from the documentation ["From PyTorch to PyTorch Lightning"](https://towardsdatascience.com/from-pytorch-to-pytorch-lightning-a-gentle-introduction-b371b7caaf09). In the newest version 0.7.1 you get the error `AttributeError: 'LightningMNISTClassifier' object has no attribute 'mnist_val'`.

### To Reproduce

Steps to reproduce the behavior:

1. Install versio

[2020-03-07 13:47] Gokkulnath commented on #1081
Hi @williamFalcon , I would like to take up this opportunity. Can you guide me with the changes required for addition of test set check?

[2020-03-07 14:08] Borda commented on #1085
@LuposX good catch, are you interested in submitting a fix PR?

[2020-03-07 14:19] LuposX commented on #1085
The example I described is a [gist](https://gist.github.com/williamFalcon/2168a349492a9480f41f9da39ea755cd#file-pl-py) embedded in the [TowardsdataScience](https://towardsdatascience.com/from-pytorch-to-pytorch-lightning-a-gentle-introduction-b371b7caaf09) article to which you get forwarded when you press "From PyTorch to PyTorch Lightning" in the docs. The gist is from @williamFalcon and to my kn

[2020-03-07 14:20] williamFalcon commented on #1085
got it. will fix today!

[2020-03-07 14:21] Borda opened #1086 "Update CHANGELOG for 0.7.x"
## 🐛 Bug

Updated CHANGELOG according to the reset changes (about last two weeks) especially deprecated items like `data_loader` or `xxxxx_end`

### Additional context

https://github.com/PyTorchLightning/pytorch-lightning/milestone/4

[2020-03-07 14:34] LuposX commented on #1085
It might be a good idea for the future to move the file into this repository.

[2020-03-07 15:20] sneiman commented on #581
I haven't seen is issue in .60 or master.

Sent from mobile device - sorry for typos and brevity.

This entire message is confidential. If it isn't intended for you, you may not use it - so please throw it away and forget about it.

On Mar 6, 2020, at 4:28 PM, William Falcon <notifications@github.com> wrote:

﻿

how's this going?
dp is very slow btw compared with ddp

—
You are receiving this beca

[2020-03-07 15:22] FrancescoSaverioZuppichini commented on #624
And this library should make things easier 😂
On 5 Mar 2020, 13:31 +0100, Thomas Watson <notifications@github.com>, wrote:

I have found the issue and have a solution but I would like to discuss the possible solutions. I am happy to submit a PR. Basically, the training loop calls lr_scheduler.step(epoch=self.current_epoch) in the training loop. This has the affect of resetting an iterative learning

[2020-03-07 15:22] ahendriksen commented on #951
You could, if the calling program assigns a gpu for you. You are out of luck, however, if you naively use `make -j 4` for instance. I think my point is that the program does not always know which gpu is available.

That sounds good and pretty self-documenting.

I will try to put a PR together :)

[2020-03-07 16:34] lezwon commented on #795
Hey guys, I am currently training a model on Sagemaker and have added a notebook shutdown code within the `on_training_end` method. There were times where I had to manually cancel my model training because something was wrong. However, If I do that, the notebook shuts down. Is there any way to make this feature optional? I don't want my notebook shutting down after a keyboard interrupt, only after

[2020-03-07 19:13] LuposX opened #1088 "How to use the test function from the trainer?"
## ❓ Questions and Help

#### What is your question?

So when I `test `my model with `trainer.test()` I get as output this:
[code]
I suppose in the empty bracket can stand sth. But I dont know what can stand there and where to do it. I can't seem to find it in the docs not under [trainer](https://pytorch-lightning.readthedocs.io/en/0.7.1/trainer.html#testing) nor under [test set](https://pytorch-l

[2020-03-07 19:35] williamFalcon commented on #1088
you have to return something in test_epoch_end. right now you return an empty dict

[2020-03-07 19:38] bkkaggle commented on #996
I updated the colab notebook, the error remains but it looks like it's because pytorch/xla is loading the data to all the processes, causing an OOM. (https://github.com/pytorch/xla/issues/1280#issuecomment-548607522)

Closing

[2020-03-07 19:38] #996 closed

[2020-03-07 19:42] williamFalcon commented on #996
@dlibenzi fyi.

@bkkaggle maybe file a bug in xla repo?

[2020-03-07 19:48] dlibenzi commented on #996
It's likely the kernel OOM killer triggering this.
Colabs have limited memory and cores, so cannot run very large workloads.
We will be changing the Cloud TPU architecture in the next months, and after that Colab VM should have much more memory and cores.

[2020-03-07 19:52] williamFalcon commented on #996
@srush fyi

[2020-03-07 20:02] srush commented on #996
Yup, this is what I saw as well. You need enough RAM to have the model loaded 8 times.

[2020-03-07 20:59] LuposX commented on #1088
@williamFalcon
I did return sth in `test_end` than I switched the method out to `test_epoch_end`. Thats my code:
[code]
But it still returns:
[code]

[2020-03-07 21:10] gerardrbentley commented on #1076
Do you think more people would want a list of every full batch output (so the results of each training_step / training_step_end if implemented) or the accumulated batch outputs?

[2020-03-08 00:50] williamFalcon commented on #1085
fixed!

[2020-03-08 00:50] #1085 closed

[2020-03-08 04:33] pertschuk commented on #525
@williamFalcon
Based on the documentation I found [ (this seemed most relevant) ](https://pytorch-lightning.readthedocs.io/en/latest/pytorch_lightning.trainer.training_io.html) I'm not totally sure best practices for how saving / loading is supposed to work:

I initialized a trainer as follows (disabled tensorboard because it was erring due to TF dep):
[code]
Then observed that the models were sav

[2020-03-08 05:06] Ir1d commented on #525
@pertschuk As i remember that auto loading is disabled in latest master, can you check your lightning version?

[2020-03-08 05:23] pertschuk commented on #525
@Ir1d 0.7.1

[2020-03-08 05:28] Ir1d commented on #525
@pertschuk I believe that auto restoring is removed, and you should load the weights on your own. The doc you linked is not updated yet.

[2020-03-08 09:58] louis2889184 opened #1089 "Extend docs with multiple dataloader with common cases"
I notice that one can evaluate the model on a list of validation/test data loaders. Is it also possible to extract data from multiple `train_data_loader` in the `training step` in the current version? This feature might be useful in tasks like transfer learning or semi-supervised learning, which usually maintain multiple datasets in the training stage (e.g., source and target datasets in transfer

[2020-03-08 10:56] nikhilno1 opened #1090 "Training on TPU stuck at "Waiting to connect to client mesh master (300 seconds) localhost:54541""
## 🐛 Bug
I am training GPT2 model on TPU but training is getting stuck with following as the last line:
tensorflow/compiler/xla/xla_client/mesh_service.cc:208] Waiting to connect to client mesh master (300 seconds) localhost:54541

### To Reproduce
I have followed all steps as outlined in https://github.com/mgrankin/ru_transformers/tree/master/tpu to train a GPT2 model on TPU on Google Cloud.  As

[2020-03-08 12:18] nikhilno1 commented on #1090
Is it the case that training is actually completing but command doesn't return, which is what I am used to seeing?

[2020-03-08 12:40] nikhilno1 commented on #1090
I am seeing the pytorch_model.bin getting created so which means training was successful. Closing the issue.

[2020-03-08 12:40] #1090 closed

[2020-03-08 15:46] jeremyjordan opened #1092 "tqdm fails in notebook for versions tqdm< 4.41.0"
##  🐛 Bug

tqdm_notebook doesn't have a `reset` method until [version 4.41.0](https://github.com/tqdm/tqdm/releases/tag/v4.41.0). Training fails in notebooks if you have a lower version of tqdm (current requirements enforce >=4.35.0).

### To Reproduce

Train any model with tqdm<4.41.0 in a Colab notebook.

### Expected behavior

[code]

[2020-03-08 16:46] bkkaggle commented on #1062
Looks like this is a problem with not having enough RAM to save checkpoints at the end of each epoch, closing.

[2020-03-08 16:46] #1062 closed

[2020-03-08 16:58] williamFalcon commented on #1062
is this colab or kaggle?

[2020-03-08 17:59] jeremyjordan commented on #1083
Thanks @S-aiueo32! Do you mind submitting a PR with the change?

[2020-03-08 18:06] jeremyjordan commented on #795
@lezwon Hmm yeah, that's not ideal. Do you mind creating a new issue (you can reference this one) with the problem and I can draft up a PR to address it?

[2020-03-08 20:31] monney opened #1095 "Lightning no longer works with non-primitive types in hparams"
## 🐛 Bug

I will often use things like a layer definition passed in, for things like changing from batch norm to group norm or using a custom layer. Now that lightning uses the hparams feature in tensor board it errors out with these in hparams.

#### Code sample
[code]
### Expected behavior
Lightning should convert non primitive types to strings before passing to the summary writer. This worked f

[2020-03-08 21:15] pertschuk commented on #525
@Ir1d Is there a callback or function to override to integrate weight loading / saving with PL?

[2020-03-08 22:52] S-aiueo32 commented on #1083
@jeremyjordan yeah, just a moment 👍

[2020-03-08 23:05] pertschuk opened #1096 "Accurate Time Remaining for Training"
## 🚀 Feature

Currently tqdm time remaining in an epoch doesn't account for the fact that validation steps are faster and so is often wildly inaccurate, fluctuating between the time remaining if all steps were validation and if all steps were training.

### Motivation

Would make it much easier to see how long an epoch is gonna take without having to do the math manually.

### Pitch

Could just no

[2020-03-08 23:26] Ir1d commented on #525
@pertschuk sorry, I dont understand transformer model. You see, PL checkpoints is a wrap of a lot of things.YOu can get this by calling `dict.keys()`. And you'll find that `model.load_state_dict(dict['state_dict'])` is exactly the weight loading for pure pytorch. Hope this helps. Also, the above script by @neggert works perfectly for me .
`

[2020-03-09 00:23] bkkaggle commented on #1062
I've checked that this error happens on colab and gcp when the model is too large, but just increasing the amount of RAM in the compute engine instance solves the problem.

[2020-03-09 01:45] williamFalcon opened #1098 "TPU - no op reports"
If your TPU training is slower, please share the  link to the bug report here so the xla team can  take a look.

1. Use [this link](https://github.com/pytorch/xla/blob/master/TROUBLESHOOTING.md#using-debug_runpy-to-collect-debug-information) to generate the report.
2. upload to dropbox or gcloud or something.
3. post link here

[2020-03-09 03:24] polars05 commented on #1088
@LuposX, I'm doing it as follows:
[code]

And I ran the test by:
[code]

And I get:
[code]

Hopefully it helps you!

[2020-03-09 04:13] lezwon opened #1099 "Avoid running `on_training_end` after Keyboard Interrupt"
## 🚀 Feature
Right now, due to #795 , `on_training_end` runs after a `KeyboardInterrupt`. This ends up running code that's meant to be run only after successful training completion. This feature should either be reverted, or an alternative should be provided, so as to run some code only after successful training.

### Motivation

I am training a model on Sagemaker and have added a notebook shutdow

[2020-03-09 09:40] ricardorei commented on #525
I also have been using lightning with pytorch transformers. I save checkpoints normally without changing anything in lightning.

If for some reason I need to resume training from a given checkpoint I just use the `resume_from_checkpoing` Trainer attribute.

If I just want to load weights from a pretrained model I use the `load_weights`flag and call the function `load_weights_from_checkpoint` that

[2020-03-09 09:42] ricardorei commented on #525
PS: The initial purpose of this issue was solved some versions ago and it's now working.

[2020-03-09 09:50] schwobr commented on #624
The way I implemented one-cycle is by completely overwriting lightning's base scheduler implementation. Basically I add a `step_on_batch` attribute to every scheduler, which is set to `True` for schedulers that need to be updated at every batch (like `OneCycleLR`). I then store the scheduler as an attribute of the model, and use hooks to update it, like:
[code]
Note that you can also use hooks to

[2020-03-09 13:46] ethanwharris commented on #948
@williamFalcon Not quite, still tires to call len on val / test dataloders - will PR in a bit

[2020-03-09 13:51] williamFalcon commented on #948
is the easier thing to try catch for the len exception and set to inf if caught?

then when the epoch ends, set the length when we know it?

[2020-03-09 13:51] williamFalcon commented on #948
is the easier thing to try catch for the len exception and set to inf if caught?

then when the epoch ends, set the length when we know it?

[2020-03-09 13:53] ethanwharris commented on #948
Yeah, that's the plan - currently have the `is_infinite_dataloader` method which tries to call len and catches the exception, just need to get the TQDM stuff to not do `total=float('inf')` as that raises an error

[2020-03-09 13:54] ethanwharris commented on #948
Not sure about setting the lenght once we know it - maybe in a seperate PR?

[2020-03-09 14:46] williamFalcon opened #1102 "enable progress bar = update freq 1"
i think we can collapse two args.
- remove enable progress bar arg.
- disable the progress bar when update freq = 0

[2020-03-09 14:52] oplatek opened #1103 "Github 0.7.1 release"
If I do install `pip install pytorch-lightning`  I get version `0.7.1` however, there is no official 0.7.1 release on Github.

Is it intentional?

Note: that there is 0.7.1 git tag

[2020-03-09 18:09] pertschuk commented on #525
@ricardorei yes it does, thank you

[2020-03-09 19:24] oplatek opened #1106 "Callback derived class is called without trainer argument"
## 🐛 Bug

The class `Callback(abc.ABC)` API expects `trainer` and sometimes `pl_module` to be supplied. E.g.:
[code]
[See the definition](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/callbacks/base.py#L10)

However, the caller `TrainerCallbackHookMixin` **calls the callback methods without the `trainer` argument.** E.g.:

[code]
[See the calls](https://github

[2020-03-09 19:26] oplatek commented on #1106
Ping me if you want me to create a PR where I will add the `trainer` argument for each method TrainerCallbackHookMixin

[2020-03-09 19:50] oplatek commented on #1106
The issue is incorrectly described

[2020-03-09 19:50] #1106 closed

[2020-03-09 20:04] oplatek commented on #1103
The tags 0.7.0 and 0.7.1 are hidden under `Two newer releases` in the Github release section

[2020-03-09 20:05] #1103 closed

[2020-03-10 00:51] pertschuk commented on #525
Okay sorry to keep posting here but have run into VERY confusing issue and would appreciate any ideas for guidance. I am trying to export the models to save in huggingface/transformers format for reuse and the saved model appears to have identical state_dict to the model wrapped in a Pytorch Lightning module, but the results of passing the same inputs through are not the same?

[code]

[2020-03-10 01:00] gerardrbentley commented on #1102
Was pretty straightforward to remove from Trainer args that the user has to remember, but I didn't remove the attribute so the Train / Eval loops can check it clearly (and avoid divide by zero error when checking to update)

[2020-03-10 01:25] GuardedAirplane opened #1109 "Issue running on Colab TPUs"
I am trying to train my model using Colab TPUs, but I am getting the following error and am a bit baffled. Any help or guidance would be greatly appreciated.

`/usr/local/lib/python3.6/dist-packages/pytorch_lightning/core/decorators.py:13: UserWarning: data_loader decorator deprecated in 0.7.0. Will remove 0.9.0
  warnings.warn(w)
2020-03-10 01:18:06.634594: I tensorflow/compiler/xla/xla_client/me

[2020-03-10 01:41] GuardedAirplane commented on #1109
It seems I was missing an import for my dataloader. Not sure why it displayed the way it did though.

[2020-03-10 01:41] #1109 closed

[2020-03-10 04:09] kyoungrok0517 opened #1110 "Advices on some cases hard to remove cuda() call."
## ❓ Questions and Help

#### What is your question?
I understand that it's beneficial to remove `.cuda()` or `.to()` calls to make the code flexible. But I experience in some cases it's hard to know on what device my tensor is.

In the following code, my batch is raw strings, so the batch is passed as pure python list not tensor. In this case how can I use `.type_as()` to move my newly created te

[2020-03-10 08:27] ricardorei commented on #525
@pertschuk you should check how big is the difference. I noticed some small differences when using big transformer models. I actually have an issue in lightning regarding the subject and in Fairseq.

[https://github.com/pytorch/fairseq/issues/1605](https://github.com/pytorch/fairseq/issues/1605)
[https://github.com/PyTorchLightning/pytorch-lightning/issues/669](https://github.com/PyTorchLightning/

[2020-03-10 08:29] pertschuk commented on #525
@ricardorei unfortunately it was a very large error but I fixed by disabling mixed precision training if anyone else finds this thread.

[2020-03-10 08:59] tstumm opened #1111 "TensorBoardLogger should be able to add metric names in hparams"
## 🚀 Feature
TensorBoard allows investigating the effect of hyperparameters in the hparams tab. Unfortunately, the `log_hyperparams` function in `TensorBoardLogger` cannot add any information about which of the logged metrics is actually a "metric" which can be used for such a comparison.

### Motivation

I would like to use the built-in hparams module of TensorBoard to evaluate my trainings.

###

[2020-03-10 10:46] danieltudosiu commented on #765
May I also add that I find the tqdm progress bar starting weirdly,  with a percentage equal with 6% just after a single batch. And the progress bar shows final value of 790, but if I am to calculate it by hand an epoch either has 528 or 1056 (either one pass or one forward, one backward).

[2020-03-10 11:21] williamFalcon commented on #765
the bar shows the sum of train + val

[2020-03-10 11:25] danieltudosiu commented on #765
Sorry, I do not follow, I was referring to the progress counter being of, like after a single batch it shows:

`Epoch 1:   6%|▋         | 50/790 [00:09<02:19,  5.29it/s, loss=3623526.000, training_loss=3.62e+6, v_num=0]0.0
`
When the batch size is 4 and neither my training, validation or training+validation sets have 790 batches.

[2020-03-10 11:43] williamFalcon commented on #765
50/790 = 6%.
the progress bar updates in intervals of 50 batches. at batch 51 it will say 12%.

you can change that argument from 50 to 1 (bar refresh rate)

[2020-03-10 11:46] williamFalcon commented on #765
@hadim i think abstracting the current progress bar into a callback would be cool. then as you said, the user can modify it however they want by overriding parts of the callback.

[2020-03-10 11:48] danieltudosiu commented on #765
Yes, but that jump to 50 happens after only 1 batch. Shouldn't it stay at 0 until batch no 50?

[2020-03-10 12:26] jwallat commented on #1109
Hi @GuardedAirplane,

I am running into similar problems. Could you specify which import was missing?

Thanks

[2020-03-10 12:46] williamFalcon commented on #1109
I usually just restart the environment. Seems to be a bug with colab somehow.
@dlibenzi

[2020-03-10 13:29] dlibenzi commented on #1109
Yes, there was a bug introduced by a CL we reverted yesterday.
Today's nightly should be capturing it.

https://github.com/pytorch/xla/issues/1731

[2020-03-10 14:29] hadim commented on #765
@williamFalcon: I agree this should be done in a callback. Not sure I'll have time to do that in the short term but anyone is free to use my code above.

[2020-03-10 15:15] #1086 closed

[2020-03-10 16:19] BradWyble commented on #1053
I was able to fix this problem.  It seems that the way antixk had
structured his base experiment file was to assume that train_dataloader
would be called prior to validation.  However in 0.7.0, maybe you don't do
this anymore?

Here's what allowed the code to run:

https://github.com/AntixK/PyTorch-VAE/issues/2#issuecomment-597175324

On Fri, Mar 6, 2020 at 11:26 AM Brad Wyble <bwyble@gmail.com> w

[2020-03-10 17:10] Vijayabhaskar96 opened #1112 "No progress bar when training on Google Colab"
## 🐛 Bug

### To Reproduce

Steps to reproduce the behavior:

1. Go to https://colab.research.google.com/drive/1W-_30tbOBMz_t0_yozzwJzlcu6m3xd8W
2. Run the Trainer section of the MNIST
3. It downloads the MNIST dataset and keeps spinning for a while and thats it, no progress bar or anything.

### Environment
Google Colab, with current github version of pytorch-lightning installed.
PyTorch version:

[2020-03-10 17:39] williamFalcon commented on #1112
we test this very rigorously... look at the docs and the MNIST example then check your code.

[2020-03-10 17:42] HarshSharma12 opened #1113 "Enable artifact logging for mlflow logger"
## 🚀 Feature
mlflow provides the ability to [log artifacts](https://www.mlflow.org/docs/latest/python_api/mlflow.html#mlflow.log_artifact) (a local file or directory). However, the MLFlowLogger class does not have the wrapper method for this functionality.

### Motivation
I always use the log_artifacts method of mlflow to log things like the last weights file for the run, confusion matrix image fo

[2020-03-10 18:01] williamFalcon commented on #1113
can’t you just use the inner experiment object directly?

[2020-03-10 19:48] awaelchli commented on #1111
Since this is specific to tensorboard and other loggers handle hparams and metrics differently, it is better to use the SummaryWriter object directly. You can always do that with
`self.logger.experiment.add_hparams(hparam_dict=None, metric_dict=None)` within your LightningModule.

[2020-03-10 19:56] awaelchli commented on #1110
maybe with `next(self.parameters()).device`. This gives the device the module is currently on.

[2020-03-10 19:57] HarshSharma12 commented on #1113
Yeah, I realized it later that that functionality exists. I'm using that now.

[2020-03-10 19:57] #1113 closed

[2020-03-10 20:09] jwallat commented on #1112
I'm also having issues with the progress bar. Instead of a progress bar, I got

`HBox(children=(FloatProgress(value=1.0, bar_style='info', layout=Layout(flex='2'), max=1.0), HTML(value='')), …`

This happened to me only when using tpus and num_tpu_cores=8 (1 tpu core works just as expected).
To reproduce:
1. Open the [mnist tpu notebook](https://colab.research.google.com/drive/1-_LKx4HwAxl5M6xPJmq

[2020-03-10 20:34] BradSegal commented on #565
Just wanted to check if there was any update/advice on this type of issue? I've got a similar situation with a GAN producing images in the first optimizer iteration then using them to update the discriminator in the second. It works well on a single GPU, but when distributing I run into the same issue. I initially thought adding the property as a buffer would maintain it, but it seems to be flushe

[2020-03-10 21:50] awaelchli commented on #1095
First of all I am not sure if it's good practice to pass in objects like you described and call them "hyperparameters". But that's a different discussion.

The `log_hyperparameters` is not specific to TensorboardLogger, it is available in the base class for all loggers.
It should be the logger's responsibility to handle the types of objects passed in as hparams. maybe not all loggers support the s

[2020-03-10 22:15] alexeykarnachev opened #1114 "ReduceLROnPlateau scheduler type check"
## 🐛 Bug

Incorrect type check for scheduler of class ReduceLROnPlateau.
https://github.com/PyTorchLightning/pytorch-lightning/blob/bc01b9ac1c0ddf503f83755c00d5541a2679e5b4/pytorch_lightning/trainer/trainer.py#L713

I believe, this check:
`isinstance(scheduler, optim.lr_scheduler.ReduceLROnPlateau)`

must look like this:
`isinstance(scheduler['scheduler'], optim.lr_scheduler.ReduceLROnPlateau)`

#

[2020-03-10 23:41] Borda commented on #929
@bmartinn sure, PR is welcome :]
cc: @PyTorchLightning/core-contributors

[2020-03-10 23:53] kyoungrok0517 commented on #1110
Wow thanks!

2020년 3월 11일 (수) 오전 4:56, Adrian Wälchli <notifications@github.com>님이 작성:

[2020-03-11 00:56] williamFalcon commented on #929
awesome. go for it!

[2020-03-11 01:16] monney commented on #1095
I agree the base logger should not cast to string, due to the reasons you mentioned.
The Tensorboard Logger should though at the least esp. since it is the default logger. It's a one line code change and won't affect you if you only use primitive types. I'm not sure about the other loggers as I'm not aware of their handling of non-primitives.

[2020-03-11 02:47] bkkaggle opened #1116 "Wandb logger doesn't upload saved model checkpoint for final epoch"
## 🐛 Bug

When training a model on the TPU and using the wandb logger, the checkpoint for the last epoch trained doesn't get uploaded to wandb.

### To Reproduce

Colab notebook: https://colab.research.google.com/drive/1oPaRWGZcz6YEol012xFADN42LV-jowtT

[2020-03-11 03:46] Vijayabhaskar96 commented on #1112
@williamFalcon I literally took the "MNIST on TPU" from the docs page and ran in on Google colab, and it showed no progress bar or anything.

[2020-03-11 04:34] ochipara opened #1117 "Hyperparameter Search"
Hi,
It looks like the hyperparameters search example is broken (https://github.com/optuna/optuna/blob/master/examples/pytorch_lightning_simple.py). Since this is such a common task, is there any example that documents how to properly integrate with a library like optuna or ray tune?

Thanks!

[2020-03-11 07:08] lezwon commented on #1112
I am having the same issue on Sagemaker too. No Progress bar, just the `HBox(children=(FloatProgress(value=1.0, bar_style='info', layout=Layout(flex='2'), max=1.0), HTML(value=''))` text.

[2020-03-11 10:25] tstumm commented on #1111
I think if Lightning offers such a logger mechanism, it should offer an abstraction to enable this functionality. I'd be fine with having a `register_metric` function in `TensorBoardLogger`, but I don't want to rely on implementation details of the underlying logging mechanism.

[2020-03-11 13:02] xingzhaolee opened #1119 "Checkpoint fails in single node multi-GPU mode using DDP"
## 🐛 Bug

Checkpoint fails in single node multi-GPU mode using  DDP.

### To Reproduce

[code]
[code]

[2020-03-11 13:40] Borda commented on #1116
Hello, could you be mo specific what is not working and ho are you using it?
I see in the notebook for example `if __name__ == "__main__":
    parser = argparse.ArgumentParser()` which is not correct

[2020-03-11 13:42] Borda commented on #1117
it seems that you are referring bug in another repository... Can you check with authors of `optuna` what version of Lightning are they using/require?

[2020-03-11 13:43] Borda commented on #1119
yeah we shall run all examples in CI too

[2020-03-11 14:17] festeh commented on #1117
Attempted to fix the example [here](https://github.com/optuna/optuna/pull/1013/). Feel free to ask me if it wouldn't work for you.

[2020-03-11 17:21] LuposX commented on #1088
@polars05
You shouldn't use `test_end()` instead you should use `test_epoch_end()` same with `test_step()`.
'test_end was deprecated in 0.7.0 and will be removed 1.0.0.  'Use test_epoch_end instead.'
'validation_end was deprecated in 0.7.0 and will be removed 1.0.0  'Use validation_epoch_end instead.'