[2022-07-13 09:43] DN6 opened #13632 "Improvements to CometLogger Documentation page"
## 📚 Documentation

Hi all. I would like to make a few small improvements to the docs page for the CometLogger. These include

1. Adding instructions for logging media (audio, images, text)
2. Including a link to a Colab Notebook to try out the Logger
3. Adding a link to the Comet Docs for further  support/information

If all this is acceptable I can open a PR soon.

Thank you!
___________________

[2022-07-13 11:10] sseveran commented on #13007
See for my worked around version. https://gist.github.com/sseveran/05744f712c17c96b88c1ff04805b7097

Its an adaptation of some code I found so I am no the original author.

With this version I would wrap in a batch sampler like BatchSampler(BySequenceLengthSampler(my_dataset, batch_size, False), batch_size, False)

The only difference I want is to be able to field the whole batch myself instead of

[2022-07-13 12:23] carmocca commented on #13320
Thanks for the heads up! This was fixed by https://github.com/Lightning-AI/lightning/pull/13396

[2022-07-13 14:42] carmocca commented on #12956
Thank you so much! I manually tried the patch and it seems to be working as expected

[2022-07-13 14:42] #12956 closed

[2022-07-13 14:43] tchaton opened #13637 "Add an RPC mechanism to Lightning App"
## 🚀 Feature

As a user, I would like to build an app that can act as a platform. Once the app is running in the cloud, I would like my users to be able to connect to the app and execute commands (RPC) calls to launch dynamically jobs.

 Ideally, I would like to be able to execute some python code on the user client side, so more complex RPC calls can be implemented.

**Example**

Imagine you want

[2022-07-13 16:35] justusschock commented on #13637
Is the idea here to add the sweep method (and others)? Or to add possibilities to call virtually any script?

I'd suggest to do this and then use the entrypoints from #13602 to optionally do stuff like sweeps.

I don't think sweeps would be something that need to be available on every app

[2022-07-13 16:39] ethanwharris commented on #13637
I like this! One thing that could make UI development much cleaner IMO is if we also had a mechanism to trigger these commands from e.g. the react UI by sending an HTTP request or similar. That would avoid some tricks we currently use like setting a flag to trigger an action then unsetting the flag once the action starts (which works fine but gets cluttered when you are triggering several things i

[2022-07-13 16:43] jessecambon opened #13639 "In multinode training with ddp each node duplicates logs and has node_rank=0"
## 🐛 Bug

When training using ddp in a multi-node environment with `seed_everything(workers=True)` there are identical loss values logged on each node. For example this occurs in a 3 node environment with `limit_val_batches=2` (logged via mlflow):

![image](https://user-images.githubusercontent.com/31526206/178780777-8e8a0162-dfca-4e28-b1c0-89e2ce3c7011.png)

The [NODE_RANK](https://pytorch-lightn

[2022-07-13 17:05] tchaton commented on #13637
Hey @justusschock @ethanwharris.

Actually, the API in https://github.com/Lightning-AI/lightning/pull/13602 is too limited as there isn't any code execution on the client side.

I chatted with @carmocca to brainstorm on another API and we thought about this one.

[code]

When running `lightning command sweep, this would download locally the self-contained sweep.py, extract the sweep method and exe

[2022-07-13 17:30] rohitgr7 commented on #13639
[code]
RANK is None on all the cases?

[2022-07-13 17:48] SungFeng-Huang opened #13643 "ModelPruning callback doesn't reset parameters for lottery ticket hypothesis"
## 🐛 Bug

https://gist.github.com/SungFeng-Huang/57e1fce618d92b8f67350b31ed16ca5b
When using lottery ticket hypothesis, for each epoch, the unpruned parameters should be reset to its original values, while they actually didn't.
In my example, I print out the parameters after each forwarding. As it shows, the parameters at the start of the first training epoch is:
[code]
while for the second traini

[2022-07-13 17:55] jessecambon commented on #13639
Yes that's correct.

[2022-07-13 18:15] #12991 closed

[2022-07-13 21:18] jessecambon commented on #13639
That's correct. I also realized I need to set the process count per node to the number of gpus per node in the MPIConfiguration. So I made these two parameter adjustments to the scripts:

- `Trainer(num_nodes=3, auto_select_gpus=False, devices=2)`
- `MpiConfiguration(process_count_per_node=2) # num gpus per node`

I now have 6 driver logs (3 nodes x 2 gpus per node) whereas before I only had 3 dri

[2022-07-14 04:28] angadkalra commented on #13126
I'm having the exact same issue. For me, it looks like with a large dataset (500 GBs, 3000 data points), the machine free memory gets very low and it's causing some sort of process hang. The machine has total memory 256 GBs, the buff/cache during training is 230gb, used is 19gb, and free is around 4gb but goes up and down a lot. The data files are stored in EFS and mounted on the machine (same reg

[2022-07-14 04:30] angadkalra commented on #13126
@carmocca Why does the machine memory buff/cache increase with dataset size? What are we storing across all epochs?

[2022-07-14 06:06] mauvilsa commented on #13607
To me it seems that what you want is not interpolation. There is a single parameter, and its value will always be used in several specific places. It is not responsibility of who uses the CLI to do this in a config file. Is your intention that the loggers are always `WandbLogger` and `CSVLogger`, or you want the amount and which loggers to be configurable? `link_arguments` does not support linking

[2022-07-14 07:17] otaj commented on #11807
Hi @TheShadow29 , I opened a PR (#13640) yesterday that should fix this. I cannot make any guarantees on when it gets to the master, but we're getting there :)

[2022-07-14 07:17] otaj commented on #13007
Hi @sseveran , I opened a PR (https://github.com/Lightning-AI/lightning/pull/13640) yesterday that should fix this. I cannot make any guarantees on when it gets to the master, but we're getting there :)

[2022-07-14 08:43] mikcnt commented on #13607
I see what you're saying. The reason why I was thinking about interpolation is that I didn't want to necessarily use the same parameter for every single location, but most definitely a slight modification of this, and that was something easily achievable with interpolation. Nevertheless, I think that would suffice.

Yes, I'll use only WandbLogger for every experiment.

[2022-07-14 08:52] chuzheng88 opened #13649 "Why is prediction error with train_loader and the best model different from train log error ?"
## 🐛 Bug

### To Reproduce

### Expected behavior

### Environment

- PyTorch Lightning Version (e.g., 1.5.0):
- PyTorch Version (e.g., 1.10):
- Python version (e.g., 3.9):
- OS (e.g., Linux):
- CUDA/cuDNN version:
- GPU models and configuration:
- How you installed PyTorch (`conda`, `pip`, source):
- If compiling from source, the output of `torch.__config__.show()`:
- Any other relevant informati

[2022-07-14 11:47] awaelchli commented on #13639
Here is a quick template, no guarantee it will work. You may have to tweak it:

[code]

[2022-07-14 12:04] chuzheng88 commented on #13649
I have some doubts about this.
I understand that the weights are consistent during prediction, but I log loss/train_loss on def training_epoch_end(self, outputs) function, meaning that the weights have been updated in  my opinon.

[2022-07-14 12:09] chuzheng88 commented on #13649
@rohitgr7 logged loss/train_loss are computed by mean of all loss inside "training_stemp",

    def training_epoch_end(self, outputs):
        self.model_train_loss = torch.mean(torch.tensor([o["loss"] for o in outputs]))
        self.log('loss/train_loss', self.model_train_loss)

[2022-07-14 12:12] rohitgr7 commented on #13649
yes, but these `outputs` are computed inside `training_step`. Each `o["loss"]` in `outputs` is computed with a different set of weights.

[2022-07-14 12:16] chuzheng88 commented on #13649
I have another question, can you help me ?

https://github.com/Lightning-AI/lightning/discussions/13648

[2022-07-14 12:28] tchaton commented on #13637
After chatting with @justusschock and @lantiga.

Here is the proposed API.

# The commands needs to be isolated from the rest of the codebase, so we can easily package them and enable the users to install them.

Here is a Sweep Command

[code]

Here is a Predict Command

[code]

[code]

[2022-07-14 15:13] lantiga commented on #13637
Looks good. One extra thing we aligned about is that we may need to pass more handlers to the command (in case one of the handlers need to be called conditionally or sequentially):
[code]

In that case the idea is that `invoke_handler` needs to take an extra argument with the name of the handler (`”sweep”` or `”single_run”` in the example above)

[2022-07-14 15:43] #10986 closed

[2022-07-14 16:00] jstjohn commented on #13500
This solution looks good, hope it fixes the problem! https://github.com/Lightning-AI/lightning/issues/13502

[2022-07-14 17:07] carmocca commented on #13502
Great proposal! This should also simplify typing

[2022-07-14 17:11] jstjohn commented on #13500
Did that fix your issue out of curiosity?

[2022-07-14 17:14] erezinman opened #13659 "WANDB integration causes failures to import on an unsupporting venv"
## 🐛 Bug

I get the following exception when importing  `pytorch_lightning` (python 3.9, latest version of PL):

[code]

I can not tell you how to reproduce this error, but I can describe it however I'll manage. What happens is that both `importlib.util.find_spec` and `importlib.import_module` return a not none spec/module. When I try to load `wandb` in the console, it succeeds but the module is e

[2022-07-14 17:44] carmocca opened #13660 "Meta tensors have side effects"
## 🐛 Bug

### To Reproduce

Remove the standalone decorator as in this commit: https://github.com/Lightning-AI/lightning/pull/13651/commits/25935fefc0b8ad1f9e22e7520cf04768fa29fc03

Run the Meta tests together with the rest
[code]

There are side effects that cause the following error. The Meta test must be leaving global state modified.

[code]
### Expected behavior

This should not happen. We wa

[2022-07-14 18:13] jessecambon commented on #13567
@thongonary This is a more comprehensive solution which I initially used for `strategy='ddp'`, but it works with deepspeed as well:

https://github.com/Lightning-AI/lightning/issues/13639#issuecomment-1184719803

[2022-07-14 18:29] charlesxu90 commented on #13588
Thanks, this implementation is much more memory efficient. It can run the same model on my local workstation.

[2022-07-14 20:16] angadkalra commented on #13126
@Borda can you please help with this?

[2022-07-14 20:24] Borda commented on #13126
could you share your code to reproduce?

[2022-07-14 20:45] angadkalra commented on #13126
I'll work on creating a colab with the code I'm using.

However, I think it's the dataset size thats causing my issue. Using the exact same training code with 1/3 of the data gives great performance and no freezing. Could you recommend any links/training tips/documentation that can help with reducing the amount of buff/cache that is used during training?

[2022-07-14 20:50] angadkalra commented on #13126
This is what happens to me, been stuck here for an hour.

![Screen Shot 2022-07-14 at 1 47 58 PM](https://user-images.githubusercontent.com/8902328/179082712-ca2784bf-47cb-4bba-a60d-2d458eda75c5.png)

[2022-07-14 22:28] psridhar-asapp commented on #11807
Hi I am also stuck on this. Pasting another example of a sampler that will break https://github.com/espnet/espnet/blob/master/espnet2/samplers/length_batch_sampler.py

This one doesn't even use the concept of batch_sizes. Instead it looks at something called batch_bins since it bins together sequences of similar length but varies the number of elements so that the total memory used is somewhat sim

[2022-07-14 23:04] psridhar-asapp commented on #11807
I don't know if this will be helpful but I just forked your PR to test it and I'm running into the issue that I never enter this if branch at all so I get the same error with the default behaviour

https://github.com/Lightning-AI/lightning/blob/bugfix/custom_batch_sampler/src/pytorch_lightning/utilities/data.py#L328

[2022-07-14 23:27] thongonary commented on #13567
Thanks @jessecambon, this is awesome! I confirm it works for me.

[2022-07-14 23:46] thongonary commented on #13639
@jessecambon Wouldn't it be simpler to just set

[code]

Just wonder if you have any reason not to do that.

[2022-07-15 00:01] jmwoloso commented on #13639
@thongonary `OMPI_COMM_WORLD_RANK` refers to the GPU rank relative to all the other GPUs in the known world (i.e. known world = `devices` x `num_nodes`).

`NODE_RANK` refers to the node a given collection of GPUs live on. Say you specify `devices=2` and `num_nodes=2`, your proposal would result in `NODE_RANK=0` in every case which would put us right back to the original bug/issue (every node being

[2022-07-15 00:05] thongonary commented on #13639
@jmwoloso In your example, my proposal would result in

- `NODE_RANK = 0` for `OMPI_COMM_WORLD_RANK = 0, 1`
- `NODE_RANK = 1` for `OMPI_COMM_WORLD_RANK = 2, 3`

[2022-07-15 00:09] jmwoloso commented on #13639
ah yeah yeah, you're correct @thongonary , `devices` not `num_nodes` (for whatever reason I was switching the two)

[2022-07-15 00:26] thongonary commented on #13639
Here is an updated function based on @jessecambon's answer to scale it on both single node and multi node:

[code]

This function can be inserted directly in the main training code:

[code]

[2022-07-15 00:33] jessecambon commented on #13639
@thongonary yes, `// gpus_per_node` is more direct for setting `NODE_RANK`. This looks good. :+1: Is there a reason you used 47586 for the port when num_nodes=1 instead of setting it with AZ_BATCH_MASTER_NODE?

[2022-07-15 00:36] thongonary commented on #13639
@jessecambon `AZ_BATCH_MASTER_NODE` is empty when launching with single node, so I just set a random high number (in the spirit of the [inaccurate Azure ML documentation](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-train-distributed-gpu#pytorch-lightning))

[2022-07-15 01:02] JiahaoYao opened #13665 "horovod lightning memory issue"
**what i did:**

Run the horovod on the example

[code]

**what i got:**
[code]

**what i didn't expect:**

the memory leakage:

[code]

-------------

what it should look like:

[code]

[Taehee-K](https://github.com/Taehee-K)

cc @awaelchli @akihironitta

[2022-07-15 01:31] chuzheng88 opened #13666 "An important Question: Why does pytorch lightning cause 2x GPU usage ?"
### Discussed in https://github.com/Lightning-AI/lightning/discussions/13648

<div type='discussions-op-text'>

<sup>Originally posted by **chuzheng88** July 14, 2022</sup>
Assumign that my model uses 2G GPU memory, every batch data uses 3G GPU memory. Traning code will use 5G (2+3) GPU memory when I use Pytorch. However, new training code use 8G (2 + 3 + 3) GPU memory when I use Pytorch ligntning

[2022-07-15 04:12] salelkafrawy opened #13668 "FFCV with CIFAR10"
## 🐛 Bug
`ValueError: Tried to step 527 times. The specified number of total steps is 525`

a bug surfaced when I used FFCV loader with CIFAR10 dataset. I read that FFCV hasn't been fully supported by PL but as @carmocca mentioned[ here](https://github.com/Lightning-AI/lightning/issues/11538#issuecomment-1070983471) that we can use FFCV and remove the `ToDevice` transformations with bugs that coul

[2022-07-15 06:59] otaj commented on #11807
Hi @psridhar-asapp, thank you for your report. To be fair, your `BatchSampler` will not work with my PR, because we are still doing two things, that are not satisfied by your sampler.

1. The PR is doing this sort of fix only for subclasses of `BatchSampler`, not a regular `Sampler`. While your `LengthBatchSampler` has a name `BatchSampler` in the name, it is in fact a subclass of `AbsSampler` whi

[2022-07-15 07:10] otaj commented on #11807
But, my suggestion on how to make it all work.

1. Decouple loading of the data from your `Sampler`
2. Use very simple sampler, that produce a single example on every iteration. This could be `SequentialSampler` or `RandomSampler`, depending on your usecase. You don't really have to write your own solution here.
3. Modify your `LengthBatchSampler` to take this sampler, which produces the sequence

[2022-07-15 09:45] tchaton opened #13672 "[Epic] Make Lightning App fully Serverless"
## 🚀 Feature

In order to optimize cost at scale, it is important Lightning App becomes fully serverless.

Terminology: ``Serverless`` means there is a cost occurring when nothing is happing. This movement democratized by the cloud is known as ``Pay as you Go`` Services.

Making Apps Serverless is challenging but would enable more complex systems to be built at the fraction of the cost.

 ## Actio

[2022-07-15 11:07] otaj commented on #13445
@shenoynikhil98 Perfect, thank you very much! I added you to the list

[2022-07-15 11:52] mauvilsa commented on #13607
There were some cases that `link_arguments` did not support which are required for your logger example. I implemented them but not yet in a release. To try out the code below you will need to install [jsonargparse](https://github.com/omni-us/jsonargparse) from source.

If the CLI will have one or more fixed loggers, then better to make the choice of loggers non-configurable. Only configurable woul

[2022-07-15 13:02] anicolson opened #13674 "self.automatic_optimization = False prevents checkpoints from being saved"
## 🐛 Bug

Hi, I am using Sharpness-Aware Minimization (SAM) (as implemented here: https://github.com/davda54/sam). To implement SAM in PTL, `self.automatic_optimization = False` is needed in the init of the LightningModule, as the steps described [here](https://pytorch-lightning.readthedocs.io/en/stable/common/optimization.html#manual-optimization) are performed twice as part of SAM.

***The issue

[2022-07-15 13:54] jessecambon commented on #13639
@thongonary Just confirming this works for me :rocket:

I tested in multinode and single node environments with deepspeed. The only change I made was to wrap `num_nodes` and `gpus_per_node` within the function with `int()` since the command line arguments come in as strings.

[2022-07-15 15:04] lsaeuro opened #13675 "Float Object is not Callable when calling scheduler.step()"
## 🐛 Bug

I have initialized an optimizer and a scheduler like this:
[code]

Since I just want to updte the scheduler after each epoch, I did not modify this updating method in the training phase, but this is the error I get after the first epoch:

### Expected behavior

This error should not be there, in fact, using another scheduler ( in particular this
 ` sch = torch.optim.lr_scheduler.CosineAn

[2022-07-15 15:07] #13480 closed

[2022-07-15 16:39] adamcatto opened #13677 "xla_spawn: RuntimeError: Cannot re-initialize CUDA in forked subprocess. To use CUDA with multiprocessing, you must use the 'spawn' start method"
## 🐛 Bug

I am attempting to train a model on a Colab TPU, and got this error:

[code]

I am not sure what's going on here, as no CUDA devices are present!

From the error message it appears there is an issue with the optimizer step; I am using a custom optimizer, so I will paste the optimizer code here:

[code]

I am wondering if the CUDA/Nvidia environment variables have something to do with thi

[2022-07-15 16:55] Borda commented on #13572
@akihironitta does this support building multiple docs built from single repo as we have it atm?
Maybe we can hold this till we fuse both docs :rabbit:

[2022-07-15 16:56] TheShadow29 commented on #11807
@otaj I wonder if you really need `BatchSampler` to have a `Sampler` since it already gives you the list of batch indices? So technically, you should be able to instantiate the sampler inside the batch_sampler, take multiple samplers as input, or have no sampler (dummy batch sampler) at all and just always output the same index.

For my current implementation: I have `replace_sampler_ddp=False`, a

[2022-07-15 18:52] psridhar-asapp commented on #11807
Hey @otaj to follow up, the sampler I pasted above does not load any training data, it merely loads precomputed sequence length files in order to better batch by length. I could move those files into a dataset and pass in a sequential sampler but this sampler would effectively be unused. During init I would still load the entire shape file and sort by length in order to build batches.

[2022-07-15 20:09] williamFalcon opened #13681 "Buttons on the modal for stop app seem off"
When stopping a Lightning App, the modal buttons are off
https://lightning.ai/will/apps/01g81prxk5dc6vb8k695fa5430

To reproduce:
- click clone and run here (https://lightning.ai/app/7pmQNIDxAE-InVideo%20Search)
- then when it's launched, press stop.

@edenafek
<img width="559" alt="image" src="https://user-images.githubusercontent.com/3640001/179303037-c7f1b7ca-b4b4-4277-8b2c-0890d790042c.png">

[2022-07-15 21:15] robert-s-lee commented on #13520
@tchaton so the hack used to work, `X_FRAME_OPTIONS':'sameorigin'` but it no longer works.

When the server starts, it has 0.0.0.0 but the browser has the real address that no longer matches.

[code]
<img width="1792" alt="Screen Shot 2022-07-15 at 5 11 45 PM" src="https://user-images.githubusercontent.com/6315124/179311389-dbbcbc79-7457-48e9-8fa2-89ef63ce361e.png">

[2022-07-15 21:25] jessecambon commented on #13639
I did some more experimentation and discovered that while [environmental variable configuration](https://github.com/Lightning-AI/lightning/issues/13639#issuecomment-1185049454) is needed for running with an [MPIConfiguration](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.runconfig.mpiconfiguration?view=azure-ml-py) that no environmental variable adjustments are needed when

[2022-07-16 02:16] chuzheng88 commented on #13649
@rohitgr7 I have understand the fact that prediction error with train dataloader and the best model is different from train error calculated by each step. In my case, a regression problem, prediction MSE is 300 with train dataloader and the best model, train MSE calculated by each step is 80.  Is the gap of 220 (300 - 80) normal ? I think that the gap (220 RMSE) is large, but I do not know if this

[2022-07-16 05:36] akihironitta opened #13684 "Decouple benchmarks from tests"
I've removed the convergence check. It was failing under batch mode. There might be RNG interactions between tests

[code]

It's really arbitrary and PyTorch doesn't even guarantee performance between versions

These kinds of tests should be benchmark tests. And ideally something like the same model trained with DeepSpeed vs normally

_Originally posted by @carmocca in https://github.com/Lightning

[2022-07-16 06:17] akihironitta commented on #13666
Let's continue to discuss this in the linked discussion.

[2022-07-16 06:17] #13666 closed

[2022-07-16 06:26] chuzheng88 commented on #13666
@akihironitta Ok, but nobody continue to discuss this discussion.

[2022-07-16 06:39] akihironitta commented on #13572
Had a look at the readthedocs documentation, but still not sure if one repository can have multiple documentations...
- https://docs.readthedocs.io/en/stable/config-file/v2.html#sphinx

---

Yes, definitely. (I'm not really following the plan of docs fusion... are we going to host both of them in readthedocs or in gh-pages?)

[2022-07-16 07:02] akihironitta commented on #13666
Hi @chuzheng88, thank you for your patience. I'm replying to your discussion now.

[2022-07-16 09:09] donlapark commented on #13445
I'd like to do `pytorch_lightning/strategies/deepspeed.py` next!

[2022-07-16 09:14] akihironitta commented on #13126
Hi @angadkalra, here's a list of possible causes of your performance issue #12398. Also, I'd suggest skimming through [the existing issues labelled "performance"](https://github.com/Lightning-AI/lightning/issues?q=is%3Aissue+label%3Aperformance). Let me know if any of these work. If the issue still persists, please share your code and env details so that I can investigate it.

[2022-07-16 11:01] akihironitta commented on #13675
This is not related to PL, but the reason why you see the error is because the second argument `0.95` isn't callable in your script.

[code]

See PyTorch documentation for detail:
https://pytorch.org/docs/stable/generated/torch.optim.lr_scheduler.MultiplicativeLR.html#torch.optim.lr_scheduler.MultiplicativeLR

[2022-07-16 11:01] #13675 closed

[2022-07-16 13:20] devanshkv opened #13686 "pytorch-lightning 1.6.5 not available on conda-forge"
## 🐛 Bug
PyTorch-lightning 1.6.5 not available on conda-forge

### To Reproduce
[code]
which shows:
[code]

### Expected behavior
PyTorch-lightning 1.6.5 should be available on conda-forge?

### Environment

- PyTorch Lightning Version (e.g., 1.5.0): N/A
- PyTorch Version (e.g., 1.10): N/A
- Python version (e.g., 3.9): N/A
- OS (e.g., Linux): Linux
- CUDA/cuDNN version: N/A
- GPU models and config

[2022-07-16 17:06] rohitgr7 commented on #13649
are you sure? you can always check the values in outputs since the accumulated final metric is called explicitly by you.

[2022-07-16 18:23] awaelchli commented on #11561
Adding asynchronous checkpointing, like it is implemented in #13658, would have the implication that we can't guarantee access to the checkpoints anymore. For example:

[code]
Could lead to either

1) the wrong model being loaded
2) FileNotFoundError

due to the queue being processed in a side thread. This is of course a rare edge case but can't be ignored imo. One has to provide a mechanism to sy

[2022-07-16 20:33] krishnakalyan3 commented on #13445
I would like work on the following next

[code]

[2022-07-16 21:15] rohitgr7 commented on #11561
I guess
https://github.com/Lightning-AI/lightning/blob/2bdd8e9da838d14ef8d965debe07109462edbf47/src/pytorch_lightning/utilities/cloud_io.py#L49-L52

ensures all the checkpoints are processed before we end the training?

[2022-07-16 23:37] franchesoni commented on #7110
I get another import error

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/gpfs/users/marchesonif/.conda/envs/exp/lib/python3.9/site-packages/pytorch_lightning/__init__.py", line 54, in <module>
    from pytorch_lightning.callbacks import Callback
  File "/gpfs/users/marchesonif/.conda/envs/exp/lib/python3.9/site-packages/pytorch_lightning/callbacks/__init__.py",

[2022-07-17 03:15] JustinGoheen commented on #13445
@otaj  can I pick up `pytorch_lightning/trainer/trainer.py` & `pytorch_lightning/utilities/data.py`

[2022-07-17 04:40] akihironitta commented on #13686
@Borda Is this due to the recent reorganisation/fusion of the repository?

[2022-07-17 06:39] Borda commented on #13686
Resolved via https://github.com/conda-forge/pytorch-lightning-feedstock/pull/91

[2022-07-17 06:39] #13686 closed

[2022-07-17 08:16] franchesoni opened #13695 "AssertionError: If capturable=False, state_steps should not be CUDA tensors."
## 🐛 Bug

When loading checkpoints we get
`AssertionError: If capturable=False, state_steps should not be CUDA tensors.`
This is a note to my future self

### Expected behavior

Things break with pytorch 1.12, which is expected according to:
https://github.com/pytorch/pytorch/issues/80809

### Solutions:
- load the model without the optimizer (manually)
- change `load_optimizer_state_dict` functio

[2022-07-17 08:16] franchesoni commented on #13695
This is a note to my future self

[2022-07-17 08:16] #13695 closed

[2022-07-17 08:30] tchaton commented on #12733
Hey @marsggbo @siddk @rohitgr7,

I reached out to Collosal-AI Team. Let s see if we can collaborate with their team to address your needs.

We will keep you updated on progresses.

Best,
T.C

[2022-07-17 10:46] cschell opened #13696 "scale_batch_size does not work anymore?"
## 🐛 Bug

After an update of PyTorch Lightning, the batch size scaling of `trainer.tune` is not working anymore: It just exhausts the maximum configured trials without actually probing the training loop. This results in incorrect batch sizes that cause Cuda OOM errors.

After some code diving I think this is due to a bug in the method [`_run_power_scaling`](https://github.com/Lightning-AI/lightnin

[2022-07-17 13:13] JustinGoheen commented on #13445
@shenoynikhil98 I know you are handling `saving`; can you please update `_load_from_checkpoint` to account for errors in LightningDataModule that need to be resolved in `saving`.

[code]

code that resolves is:

[code]

[code]

[2022-07-17 13:43] lenshin commented on #4450
I have  a same problem, please give me advice. How to remove logging in the validation step?

[2022-07-18 03:51] chuzheng88 commented on #13649
Yes, I am sure. On the last epoch, train mse loss is 80.93, ploted as follows:

And then, I calculated the mse with trainloader and the last model is 349, ploted as follows:
![image](https://user-images.githubusercontent.com/17675722/179442426-4516268f-feba-4382-ac00-1361ff9c804f.png)

As said above, I understand that the model's weights are changed every step, meaning that the error with trainloa

[2022-07-18 07:20] otaj commented on #11807
Hi, @TheShadow29, you're absolutely correct, that it is not strictly necessary to use `Sampler` inside your `BatchSampler`. However, the fact is, stock PyTorch uses `Sampler`s a lot and we cannot really know what is going on inside custom `BatchSampler`s. The PR allows for a custom `BatchSampler` given mild constrains.

And as for your code, I don't think it is necessary. PL allows you to use any

[2022-07-18 07:35] otaj commented on #11807
Hi @psridhar-asapp , I apologize, it seems I haven't read your sampler properly on Friday. Now I took a bit closer look and it seems you are still processing stream of indices which you are batching (https://github.com/espnet/espnet/blob/f2778f798b76e102602078213a21b63aa592be70/espnet2/samplers/length_batch_sampler.py#L98-L116) - this code could effectively be produced by sampler. However, I agree

[2022-07-18 07:43] otaj commented on #11807
To shed a bit more light on why we don't support it at the moment - we might be doing changes to the underlying `Sampler` (such as making it distributed, unshuffled, etc.) and we want to reinstantiate `BatchSampler` with the new, changed `Sampler` in such a way, that the `BatchSampler` is aware of it. But it means, we got a `Sampler` instance, which we wouldn't know what to do with, if the `BatchS

[2022-07-18 08:03] otaj commented on #13445
Hi, @donlapark, @krishnakalyan3, @JustinGoheen, thank you very much, you were added to the list.

@JustinGoheen, regarding `saving`, I'd suggest waiting for a while - you have a lot of the modules you assigned to yourself, so I believe you can have something else to work on in the meantime :)

[2022-07-18 08:26] #13580 closed

[2022-07-18 10:06] dongzhuoyao commented on #8817
any update about this feature?

[2022-07-18 11:35] awaelchli commented on #11561
I thought it is supposed to address the use case of @noamsgl? Perhaps the use case here can't be fully addressed.
Nonetheless, we need to be extremely careful about race conditions. The PR does not currently implement locks between checkpoint creation and deletion. This is necessary, otherwise you end up with a main process trying to remove a checkpoint while the thread is trying to overwrite the

[2022-07-18 12:14] justusschock commented on #13639
@awaelchli do you think this is a sufficiently general use-case that we provide an environment plugin for mpi?

[2022-07-18 13:23] StatQuest opened #13708 "lightning ai website has wrong installation instructions"
I'm not sure if this is where I should put this issue. If this is the wrong place, please let me know!
Anyway, https://lightning.ai/lightning-docs/ has instructions on how to install lightning via conda, and this is bad since there is no version of lightning on conda. In theory this was fixed last week, but it appears to have come back to haunt us again.
<img width="1312" alt="Screen Shot 2022-07-

[2022-07-18 13:46] rohitgr7 commented on #11561
well, it partially addresses the use case here... the only place where the slowdown will happen is when training is done, to ensure all the models are saved before training ends.

that's why added an info message.. this is entirely optional.. user needs to know the side effects.

interesting.

[2022-07-18 14:08] robert-s-lee opened #13709 "lightning app lightning run app docs/source-app/examples/github_repo_runner/app.py fails with train_script.py` wasn't found."
## 📚 Documentation

Creating this as a cut and paste of example is not working.  Not sure whether this is a small cut/paste issue or another issue.

Following https://lightning.ai/lightning-docs/examples/github_repo_runner/github_repo_runner_step_5.html

typed
[code]
saw
[code]

[2022-07-18 14:15] robert-s-lee opened #13710 "lightning app lightning run app docs/source-app/examples/github_repo_runner/app.py --cloud fails with ImportError: cannot import name '__version__' from 'lightning_app.__about__'"
## 🐛 Bug

`lightning app lightning run app docs/source-app/examples/github_repo_runner/app.py --cloud` fails with `ImportError: cannot import name '__version__' from 'lightning_app.__about__'`

### To Reproduce

Following https://lightning.ai/lightning-docs/examples/github_repo_runner/github_repo_runner_step_5.html

typed

[code]

saw on the console

[code]
<img width="1792" alt="Screen Shot 2022-

[2022-07-18 14:59] tchaton commented on #13709
Yes, I need to push the fix. Thanks for reminding me ;)

[2022-07-18 15:01] function2-llx opened #13711 "Log image wih WandbLogger in process other than rank zero"
## 🚀 Feature

To log image wih `WandbLogger` in the process other than rank zero.

### Motivation

Image is usually not some metric that could be aggregated, it is possible to log different images in different processes and show all of them.

### Pitch

Call `WandbLogger.log_image` in different processes, and all of them get logged.

### Alternatives

`LightningModule.log` and `LightningModule.log

[2022-07-18 15:11] rohitgr7 commented on #13708
hey Josh!

Might have been missed. Mind send a PR to remove this?

[2022-07-18 16:27] TheShadow29 commented on #11807
Hi @otaj, so the thing is if you directly use DistributedSampler over the Sampler inside BatchSampler, you run into using mis-matched groups across GPUs. Suppose there are two groups, group1 and group2. Samples from group2 take twice as long to compute than samples in group1.

If I understand your solution correctly, making the sampler inside batchsampler could create the situation where GPU1 look

[2022-07-18 16:38] manangoel99 commented on #13711
Hi @function2-llx ! Engineer from W&B here. The current design of the loggers in pytorch lightning for training on multiple processes is such that the main wandb run is accessible only by the rank 0 process and all other processes get a dummy object. This was done because all processes cannot share the same wandb run and this lead to multiple empty runs being created.

A workaround for now would b

[2022-07-18 16:48] senarvi opened #13714 "Rich version check fails"
## 🐛 Bug

`RichProgressBar` uses the [rich](https://github.com/Textualize/rich) library for text formatting. The module checks that the rich package is available and recent enough: https://github.com/Lightning-AI/lightning/blob/master/src/pytorch_lightning/callbacks/progress/rich_progress.py#L26

It uses `torchmetrics.utilities.imports._compare_version` for checking the version, which relies on [`

[2022-07-18 16:58] senarvi commented on #13714
Sorry, this bug only appears with an old version of torchmetrics. I was intentionally using an old version of torchmetrics (0.6.0) because of a performance issue. So the solution to this bug is to update torchmetrics. I'm closing this issue.

[2022-07-18 16:58] #13714 closed

[2022-07-18 17:26] rohitgr7 commented on #13649
from where did you get the loss info of the second image?

[2022-07-18 19:29] awaelchli opened #13720 "The TPU issues in Lightning"
## 🐛 Bug

Recent observations have made it clear that there are many problems with either the TPU implementation in Lightning or the test environment:

1. Not all tests written in Lightning for TPU are executed. Only a hand-maintained list of tests ever runs. #11098
2. Attempting to address 1) reveals further that among the tests that do run, there are many decorated with a wrapper `@pl_multi_proc

[2022-07-18 19:40] alexandercort opened #13721 "Lightning AI Billing does not show payment history"
## 🐛 Bug

I purchased $25 in credits on Lightning AI; however ,when I navigate to the Billing screen it says "No payment history found". See screenshot.

### To Reproduce

Buy credits via payment portal, navigate to "Billing"

### Expected behavior

All purchase transactions are on this page including a downloadable receipt.

### Environment

Chrome on a Mac

<img width="1438" alt="Screen Shot 202

[2022-07-18 22:58] bryanmooremd commented on #13124
I am still seeing very negative it/s when resuming training from a saved checkpoint, but it seems to have no correlation to actual training time per epoch, so for now the negative it/s seems like it can just be ignored:

Epoch 32:   7%|███████▉                                   |2353/32400[02:27<-1:55:37,-114.15it/s, loss=9.73e-07, v_num=lsdk]

[2022-07-19 00:26] laurentd-lunit commented on #11242
Same issue here too with 1.6.5. Training hangs at the beginning of a new epoch, stuck at 0%, all GPUs but one show usage at 100% and remaining one is at 0%.
The weirdest thing is it happens only when `check_val_every_n_epoch` is set to 5, when is set it to 1 it works fine...

Any chance this will be fixed in later releases?

[2022-07-19 02:36] chuzheng88 commented on #13649
I use the predict_step(self, batch, batch_idx): function to predict result with trainloader and the last model, and then use the results to caluclated MSE （described as the second image）.
main logic:
![image](https://user-images.githubusercontent.com/17675722/179651860-725bad7d-3d8d-4798-a80d-d97171498739.png)

predict_step function:
![image](https://user-images.githubusercontent.com/17675722/1796

[2022-07-19 03:22] roytseng-tw commented on #13011
Thanks to @semaphore-egg
downgrade Pillow version from 9.1.0 to 9.0.1 solved my problem.

[2022-07-19 03:49] #13011 closed

[2022-07-19 04:12] salelkafrawy commented on #13668
I figured out that using `ffcv.transforms.NormalizeImage` instead of `torchvision.transforms.Normalize` caused the errors and now it works with PL

[2022-07-19 04:12] #13668 closed

[2022-07-19 05:44] SamPusegaonkar commented on #2351
Any update on this?

[2022-07-19 06:20] akihironitta commented on #13708
It seems like no action has been made yet for #13627.

[2022-07-19 06:29] akihironitta commented on #2351
@SamPusegaonkar What's your issue? Cannot reproduce the behaviour in the description of this issue. Could you create another issue since this is quite outdated?

[2022-07-19 07:04] otaj commented on #11807
@TheShadow29, you are correct that you want to be sure to prevent these ugly things such as waiting on syncing. However, `DistributedSampler` from PyTorch (which is what is used in PL) is no magic, where you wouldn't be able to control which samples are in which group. If you take a look here https://github.com/pytorch/pytorch/blob/master/torch/utils/data/distributed.py#L96, it is taking samples f

[2022-07-19 07:27] andreabonvini opened #13724 "Validation loss doesn't decrease when training with Lightning."
Hi everyone,

I’m trying to build a segmentation model with [segmentation models pytorch](https://github.com/qubvel/segmentation_models.pytorch) and Lightning. However, when I try to fit my model I see that the validation loss is always pretty high (even if I plot it in tensorboard, it doesn’t seem to decrease at all, but it just goes up and down). The same doesn’t happen when I train the same mod

[2022-07-19 08:12] rohitgr7 commented on #13708
let's fix and close it.

[2022-07-19 09:55] tchaton opened #13730 "from lightning.pytorch import strategies import breaks."
## 🐛 Bug

### To Reproduce

From master.

![image](https://user-images.githubusercontent.com/12861981/179722999-f2c0baac-66ee-452f-ad20-73e3af0e1058.png)

### Expected behavior

### Environment

- PyTorch Lightning Version (e.g., 1.5.0):
- PyTorch Version (e.g., 1.10):
- Python version (e.g., 3.9):
- OS (e.g., Linux):
- CUDA/cuDNN version:
- GPU models and configuration:
- How you installed PyTorc

[2022-07-19 11:22] carmocca commented on #13730
So this is caused by a bug in the wrapper generation logic. In lightning/pytorch/strategies/__init__.py it puts
[code]
which shouldn't be copied

[2022-07-19 12:58] #13708 closed

[2022-07-19 13:01] #13627 closed

[2022-07-19 13:16] Borda commented on #13627
For tracking the progress: https://github.com/conda-forge/staged-recipes/pull/19715

[2022-07-19 15:09] carmocca opened #13737 "Promote the `LightningCLI` out of utilities"
## Proposed refactor

`mv src/pytorch_lightning/utilities/cli.py src/pytorch_lightning`

### Motivation

The tool is much stabler and our recommended CLI tool for PL

### Pitch

Move the source code
Add a deprecation for the previous class
Move the test file
Update usages across repository

______________________________________________________________________

#### If you enjoy Lightning, check o

[2022-07-19 15:20] carmocca commented on #13502
Would this also address https://github.com/Lightning-AI/lightning/issues/8593?

[2022-07-19 15:27] awaelchli commented on #13502
Yes I think so.
I had a branch where I tested this out #13738 but couldn't finish it yet.

[2022-07-19 15:33] carmocca commented on #11677
Closing as there's no clear proposal

[2022-07-19 15:33] #11677 closed

[2022-07-19 16:23] #10294 closed

[2022-07-19 16:29] carmocca commented on #12335
Closing in favor of #13720

[2022-07-19 16:36] #11449 closed

[2022-07-19 16:44] carmocca commented on #11091
I believe this is finished

[2022-07-19 16:44] #11091 closed

[2022-07-19 16:51] carmocca commented on #12500
Considering that we are re-thinking Lite and that Bagua hasn't had a release since January, I suggest freezing this work

[2022-07-19 16:52] zlenyk opened #13740 "Accessing self.trainer.estimated_stepping_batches in configure_optimizers results in RuntimeError"
## 🐛 Bug

Accessing self.trainer.estimated_stepping_batches in configure_optimizers results in RuntimeError: Tensors must be CUDA and dense

### To Reproduce
    def configure_optimizers(self):

        optimizer = torch.optim.AdamW(
            self.parameters(),
            weight_decay=0.01,
            betas=(0.9, 0.999),
            lr=1.0e-4,
        )
        scheduler = dict(
            s

[2022-07-19 16:58] tchaton commented on #13737
@carmocca @awaelchli @justusschock

Let's add move `LightningCLI` to `pytorch_lightning.cli.LightningCLI`, so it is more discoverable and the import path looks better.

[2022-07-19 17:01] SamPusegaonkar commented on #2675
Hi @IgorDavidyuk

Hi Can you expand on this a little? Are you saying that your last batch in your dataloader was not equal to the batch size you set?

[2022-07-19 17:01] rohitgr7 commented on #13740
hey @zlenyk !

A fix was merged in v1.6.4, would you mind trying it out?
or maybe v1.6.5 if you are using deepspeed.

if it still doesn't work, a reproducible example using [BoringModel](https://colab.research.google.com/github/Lightning-AI/lightning/blob/master/examples/pl_bug_report/bug_report_model.ipynb) would be great :)

[2022-07-19 17:36] SamPusegaonkar commented on #2351
https://github.com/Lightning-AI/lightning/discussions/13726#discussioncomment-3182709
Please check out this

[2022-07-19 17:44] zlenyk commented on #13740
Thank you for the response!
I'll try with newer version and report back here tomorrow. Sorry for not providing the minimal example, our codebase is large and I thought that it might be something well known. If it still doesn't work with newer version, I'll make sure to write an example.

Thank you!

[2022-07-19 17:56] rohitgr7 commented on #13612
@One-sixth
this was fixed by PyTorch here: https://github.com/pytorch/pytorch/pull/80881

you can use v1.11, PT master, or wait for the v1.12.1 release.

Feel free to reopen if it comes up again :)

[2022-07-19 17:56] #13612 closed

[2022-07-19 17:57] carmocca commented on #9463
Closing as a duplicate of https://github.com/Lightning-AI/lightning/issues/13324 which has more discussion

[2022-07-19 17:57] #9463 closed

[2022-07-19 18:39] rohitgr7 commented on #13695
I read somewhere setting `capturable=True` can close some slowdown.

[2022-07-19 20:39] LeonardoAlchieri commented on #13285
I am experiencing a similar issue, when using a CUDA-trained model with MPS. What happens is that the model makes predictions during the training phase, but after `model.eval()`, all predictions are either 1s or NaNs. Any idea why?

[2022-07-20 01:37] luca-medeiros opened #13745 "Lightning init [app/pl-app] issues"
## 🐛 Bug

Running `lightning init app|pl-app` raises internal issues related to installation.

### To Reproduce

Reproduced on Colab:
https://colab.research.google.com/drive/1oY5hQNysCh4oLeFcxtU2frVZnkTU2U80?usp=sharing

Step by step:
`pip install lightning`
1. `lightning init app test`

[code]
placeholdername not inside of cli/app-template.

2. `lightning init pl-app train_script.py` (train_scrip

[2022-07-20 01:49] luca-medeiros opened #13747 "Add Lightning packages to collect_env_details"
## 🚀 Feature

Currently, collect_env_details.py does not gather info about `lightning` or `lightning-app` packages.

### Motivation

Give more accurate info about the environment when writing issues.

### Pitch

I would like the function to return something like the following
* Packages:
        - numpy:             1.23.1
        - pyTorch_debug:     False
        - pyTorch_version:   1.12.0+cu10

[2022-07-20 03:23] lsy643 opened #13749 "Enable SyncBatchnorm For Pytorch Lightning"
## 🚀 Feature

Pytorch Lightning Lite is getting quite popular in our company, and many people hope sync batch norm can be supported when Lite is used.

It seems that we can just open it by passing the arg to the accelerator connector, so I create a PR [13748](https://github.com/Lightning-AI/lightning/pull/13748)  to enable it.

______________________________________________________________________

[2022-07-20 05:48] weicheng113 commented on #12623
+ really need this feature too. It is confusing at the moment. Each time I spend too much time to twist it.

[2022-07-20 08:18] otaj commented on #13445
Hi @HalestormAI, thank you, you have been added to the list!

[2022-07-20 08:25] binmakeswell commented on #12733
Hi, thank you for your attention and advice, Colossal-AI Team is willing to help provide support for this feature as soon as possible.

[2022-07-20 08:47] zlenyk commented on #13740
It helped, thank you again for responding!

[2022-07-20 08:55] otaj commented on #13445
Hi @kingjuno, @jiny419, @barufa, @Cyprien-Ricque. Thank you for interest, however you have taken up files which didn't have an issue opened within two weeks. In order to allow other members of community to work on these files, I'm unassigning you now. Namely, it's these 7 files.
[code]

[2022-07-20 09:12] PiotrDabkowski opened #13752 "Step Inconsistencies"
## 🐛 Bug

The "step" definition is super unclear and inconsistent:

- `global_step`, it increments by the number of optimizers. Eg. for GAN it is actually `2*number_of_batches`.
- `step` as used in learning rate scheduler when `interval="step"` - number of training batches used.
- `step` [as used in logging](https://github.com/Lightning-AI/lightning/blob/759e89df21684277da996dd25781dee7f21e1b1c/sr

[2022-07-20 09:16] otaj commented on #13445
Hi @nninept, thank you, you were added to the list!

[2022-07-20 09:23] rohitgr7 commented on #13752
This was fixed in the recent release.

[2022-07-20 09:24] rohitgr7 commented on #13752
will look into tqdm issue

[2022-07-20 09:28] PiotrDabkowski commented on #13752
Thanks, and re `global_step`, why would it be inconsistent with `_batches_that_stepped`?

[2022-07-20 09:29] rohitgr7 commented on #13752
what do you mean? this behavior was changed recently and now it reflects total optimization steps

[2022-07-20 09:29] tchaton commented on #13749
Hey @[lsy643](https://github.com/lsy643), happy to hear LightningLite is useful to you ;)

We are investigating the idea of extracting accelerators and LightningLite on the same occasion from PyTorch Lightning to reduce dependencies and increase adoption.

What are your thoughts on the above?

Thanks for opening a PR ;)

[2022-07-20 09:31] PiotrDabkowski commented on #13752
IMO this is super unintuitive, global_step should not be different from the step number being logged. Can I read somewhere about the motivation for that?

If I wanted to get total number of optimization steps, should not that be under `total_optimization_steps` attribute?

[2022-07-20 09:37] rohitgr7 commented on #12623
+1

I think we should do this...
also after https://github.com/Lightning-AI/lightning/issues/13324, it might not be possible to support it the current way.

[2022-07-20 09:39] PiotrDabkowski commented on #13752
Another complication is how this recent change interacts with max_steps, num_sanity_val_steps, etc, is "step" refering to the optimization step or a batch step? I would really love if we disentangled these 2 definitions for clarity. Eg by calling a commonly understood batch step a "step", and use eg "total_optimizer_step" for the alternative definition. Currently it is super unclear which one is b

[2022-07-20 10:13] awaelchli commented on #13749
This is a great feature.
However, it is not as straightforward as passing down the bool flag to the accelerator connector. The way layer sync is applied in the strategies only works with the Trainer and LightningModule.

In Lite, this probably has to be implemented on the level of self.setup() and the strategies have to be adapted/generalized for this.

[2022-07-20 10:27] oojo12 opened #13753 "404 Page Not Found Error for AppState Doc"
## 📚 Documentation
Clicking the app state url here - https://lightning.ai/lightning-docs/core_api/lightning_app/ results in a 404 page not found error.

According to the [index.rst](https://github.com/Lightning-AI/lightning/blob/master/docs/source-app/core_api/lightning_app/index.rst) this file should be at:
[code]

However, that file is not there and I couldn't locate it. Was it deleted?

_______

[2022-07-20 10:45] oojo12 opened #13754 "No Content on Pages Lightning Flow API Doc Redirects To"
## 📚 Documentation

When visiting the [Lightning Flow api](https://lightning.ai/lightning-docs/core_api/lightning_flow.html) docs there are a couple of link redirects with empty content. Is this intentional? If so it'd be nice to replace them with a message like content coming soon.

- [ ] https://lightning.ai/workflows/add_web_ui/index.html -> from looking at the doc it seems that this should rea

[2022-07-20 10:49] oojo12 opened #13755 "Components Listed on the Component Page need Hyperlinks"
## 📚 Documentation
At this [page](https://lightning.ai/lightning-docs/api_reference/components.html) we list components but don't hyperlink to their documentation. This provides an undesirable UX. Add hyperlinks for the following components.

- [ ] PopenPythonScript
- [ ] TracerPythonScript
- [ ] ServeGradio
- [ ] ModelInferenceAPI

For typos and doc fixes, please go ahead and:

1. Create an issue

[2022-07-20 10:51] oojo12 opened #13756 "Update List of Components"
## 📚 Documentation

The components listed in the documentation do not match the available components on the component gallery. At the time of writing 10 are missing and the 4 that we have in the docs are not on the component gallery is this intentional?

For typos and doc fixes, please go ahead and:

1. Create an issue.
1. Fix the typo.
1. Submit a PR.

For very simple fixes, you can submit a PR w

[2022-07-20 10:54] manskx opened #13757 "Support remote Lightning apps templates"
## 🚀 Feature

Allowing to use lightning app templates independently from the lightning package.

### Motivation
Currently, lightning app templates are part of the lightning package, which has some pros and cons.

### Pitch

The proposed solution could be a hybrid, some essential templates should stay as part of the lightning package but other templates could stay outside of the repo.
Templates to

[2022-07-20 11:29] manangoel99 commented on #11769
@carmocca can you close this in favour of #12764

[2022-07-20 11:47] luca-medeiros commented on #13745
@manskx
Appreciate the background explanation 👍. As the PR gets merged, will we see a new release soon?

I suppose #13757 deals with the remote templates you mentioned. It would be awesome to help out with that!

[2022-07-20 11:58] luca-medeiros commented on #13757
@manskx
I really like the hybrid idea. Keeping a few _immutable_ templates available in the lightning repo will definitely allow for easier/reproducible inits.

I think this part can become a little tricky. What makes a template in the first place? How can we identify them, are we just git clone-ing stuff? etc.

I guess we can take a step-by-step approach and release lightning gallery accepted tem

[2022-07-20 12:42] otaj commented on #13445
Hi, @sai130302, thank you, I just added you to the list

[2022-07-20 12:46] rohitgr7 commented on #11796
after some discussion with @carmocca

enabling this:
[code]

will let users track other accelerator stats (for eg GPU and TPU), even if they are not using those accelerators for their scripts.

thoughts @Lightning-AI/lai-frameworks ?

[2022-07-20 14:41] JustinGoheen opened #13762 "allow Lightning App CLI flag `--env` to accept multiple args as a tuple"
## 🚀 Feature

Currently users must set `--env` multiple times to declare individual environment variables. The requested feature would use click's [multiple values as options](https://click.palletsprojects.com/en/8.1.x/options/#tuples-as-multi-value-options) to set a tuple of environment variables to be parsed after passing to `_run_app` or `dispatch`.

### Motivation

reduce multiple --env flags

[2022-07-20 15:53] busFred opened #13764 "Handle LazyModuleMixin Properly"
## 🚀 Feature

Is it possible to add an optional initialize_loop prior to configure_optimizer and compute model summary? The initialize_loop shall be supplied with a batch of training data that can be used to run through `LazyModuleMixin` so that unintialized parameters can be initialized.

### Motivation

I don't know start from which version of PyTorch, it introduces a convenient way to construct

[2022-07-20 16:40] carmocca commented on #13752
Hi!

The step name is unfortunately ambiguous and overloaded, however, it's been here since the beginning of the project so it's hard to let go.

With the 1.6 release we had to make some changes to their implementations. After that, `global_step` refers to the sum of all `optimizer.step()` calls https://github.com/Lightning-AI/lightning/blob/ca1917ec80e6a167111ba441154188aa53c9b79b/src/pytorch_lig

[2022-07-20 17:04] manideep2510 opened #13766 "GPU memory consumption fluctuates rapidly with FSDP training"
### Discussed in https://github.com/Lightning-AI/lightning/discussions/13594

<div type='discussions-op-text'>

<sup>Originally posted by **manideep2510** July 11, 2022</sup>
Hi, I'm trying to use FSDP training with Pytorch Lightning for a classification training task which has 1 Million classes in the classification layer, and the layer before that has 512 nodes. Without FSDP, I could not fit the

[2022-07-20 18:50] TalKachman opened #13768 "Problem with logging figure is being saved and crashes when there is no figure"
## 🐛 Bug

When using weights and biases along with pytorch lightning logger. The logger function tries to log in an image where there is non or non is referred to. This causes the script to crash

### To Reproduce
A gist with minimal example
https://gist.github.com/TalKachman/726638a8c8e28bcdf34cb39f67a338c0

* CUDA:
	- GPU:
		- Tesla V100-SXM2-16GB
	- available:         True
	- version:

[2022-07-20 18:55] JinLi711 commented on #6789
I think one issue with DDP having the same seed across different processes for each GPU is that there is a lower diversity of randomness compared to DP.

For example, say that your batch size is 2 and the number of GPUs is two and you're randomly rotating images by a random angle. Then using DP, pytorch will rotate each of the two images with a different angle. However, if you're using DDP, each G

[2022-07-20 21:13] robert-s-lee opened #13772 "storing artifacts in Lighting App Drive do not show up in Admin UI Storage Tab"
## 🐛 Bug

I have an [train diag eval Lightinign App](https://lightning.ai/robertslee/apps/01g8enrq990mwz5zrcbw9czt9d).  The source code is at [GithHub](https://github.com/robert-s-lee/lai-train-eval)  constructed as below.

[code]

 The content of the Drive is not showing up in the Admin UI.
<img width="1784" alt="Screen Shot 2022-07-20 at 4 58 01 PM" src="https://user-images.githubusercontent.com

[2022-07-20 23:25] awaelchli commented on #6789
Yes, I think your explanation checks out when no extra steps are taken to diversify the augmentations, in general. In Lightning, if you use `seed_everything(workers=True)`, we take care of this by seeding every dataloader worker differently, across all ranks (across multi-node too), and this will then lead to diversified augmentations, provided that they are applied in the dataset/worker and `num_

[2022-07-20 23:34] SpontaneousDuck commented on #13524
Got it! Grabbing the Job ID from the env variable allows me to resume.

[2022-07-20 23:54] TalKachman commented on #13768
Ok small updated, I found this old issue, it seems like pytorch-forecasting has something to do with this

https://github.com/jdb78/pytorch-forecasting/issues/79

[2022-07-20 23:54] SpontaneousDuck opened #13773 "HPC Resubmit resume on most recent epoch checkpoint"
## 🚀 Feature

Allow end-of-epoch checkpoints for resuming killed and resubmitted training jobs in a SLURM environment.

### Motivation
Mid-epoch checkpointing does not appear to work with my model, even with fault-tolerant training I still get some weird results. Since I am training on a smaller dataset with a larger number of epochs, it would be really useful for me to be able to resume from the

[2022-07-21 03:41] lsy643 commented on #13749
Thanks. The layer_sync is applied in the `setup` function in the ddp strategy, which seems not to be called in the `_setup_model_and_optimizers` function of the strategy.

Is it appropriate to just add it directly in the `_setup_model` function?

And I am confused about the relationship about `setup`, '_setup_model' and 'configure_ddp'. Would you mind help me to clarify these things？

Thanks a lot

[2022-07-21 04:11] meshghi commented on #10098
Hi, I have the same issue. Could you help me please?

[2022-07-21 04:12] meshghi commented on #10098
@ElderWanng Hey, I have the same issue. Could you fix this issue? Any advice on how to fix it?

[2022-07-21 08:00] tchaton commented on #13772
Hey @[robert-s-lee](https://github.com/robert-s-lee),

You need to refresh the page. This is a bug from the application side.

@edenlightning

[2022-07-21 08:00] rnwang04 opened #13775 "Could trainer.validate don't enter _on_evaluation_model_train() ?"
## 🚀 Feature

a trainer.validate() func which don't enter self._on_evaluation_model_train().

### Motivation

Here I have a trainer and a corresponding traced model and I don't want the model.train(model) in the end of trainer.validate().
How could I disasble changing to train mode again in the EvaluationLoop?
[code]
Is there any convenient way to achieve this goal?

My PL version : 1.6.4

cc @aki

[2022-07-21 08:23] hughplay opened #13776 "The webpage documents make my computer stuck"
Thanks for the excellent documents.

My issue is that there are too many videos on the [`Trainer`](https://pytorch-lightning.readthedocs.io/en/stable/common/trainer.html#trainer) and [`LightningModule`](https://pytorch-lightning.readthedocs.io/en/stable/common/lightning_module.html) documents. Every time I open one of these two pages, my PC is stuck, running out of CPUs  to load these videos.

Wou

[2022-07-21 08:40] akihironitta commented on #5558
A quick around is to override `LightningModule.lr_scheduler_step()` (only with PL 1.6.0 or later) so that it skips `lr_scheduler.step()` whenever the scaler skips `optimizer.step()`. For multiple single optimizers, it needs some change, but for a single optimizer, the following should work:

[code]

See here for a complete script using BoringModel: https://github.com/akihironitta/gist/blob/repro/5

[2022-07-21 09:09] manskx opened #13780 "Memory and CPU leak in running lightning Apps for long time"
## 🐛 Bug

By looking at the memory usage over a long period of time (a few weeks). It looks like there's a pattern of a memory leak and CPU growing usage.

Example of two different apps:

![image](https://user-images.githubusercontent.com/7218339/180175820-eda3279e-f64e-4627-88ac-b5754b9c5f5d.png)
![image](https://user-images.githubusercontent.com/7218339/180175862-b65ca4e9-4c48-4219-a38b-9420c194

[2022-07-21 09:57] nninept commented on #13445
I can take `pytorch_lightning/profilers/advanced.py`

[2022-07-21 10:58] akihironitta commented on #13776
I remember there was a similar issue reported before. We had larger ones before, but @kaushikb11 replaced them with smaller ones that we currently have in the docs (e.g. https://pytorch-lightning.readthedocs.io/en/latest/common/trainer.html).

I'm in favour of removing all video embeddings and having links to YouTube videos (not embedding!) instead.

[2022-07-21 11:00] CaffreyR opened #13784 "Error when load_from_checkpoints when LightningModule __init__ have tokenizer which is not hyperparameter"
## 🐛 Bug

TypeError:__init__() missing 4 required positional arguments: 'config','tokenizer','transformer' and 'dataset_reader'
### To Reproduce

[code]
### Expected behavior

<img width="582" alt="image" src="https://user-images.githubusercontent.com/84232793/180198487-a3776bce-4853-4ab1-8470-1241c4ce0f6a.png">### Environment

- PyTorch Lightning Version (e.g., 1.5.0):
- PyTorch Version (e.g., 1.

[2022-07-21 11:05] akihironitta commented on #13775
Hi @rnwang04, you can achieve it by manually calling `.train()` before running any code you want to run with the train mode.

[2022-07-21 11:07] magehrig commented on #12595
If I understand correctly, the gradients are clipped? I would expect that gradients are clipped before logging by default

[2022-07-21 11:53] rohitgr7 commented on #13784
you need to call `self.save_hyperparameters`
[code]

I'd recommend ignoring `tokenizer, transformer, dataset_reader` because they are not hparams and pass them again while loading the checkpoints

[code]

[2022-07-21 12:06] robert-s-lee commented on #13772
@tchaton Looked at it this morning after I restarted my browser.  The artifacts did show up.  I will try refresh the next time.  TY for the tip.

<img width="1792" alt="Screen Shot 2022-07-21 at 8 01 41 AM" src="https://user-images.githubusercontent.com/6315124/180209470-1fefd168-a9e5-4d32-a8d9-bf33d5405f1a.png">

[2022-07-21 12:14] CaffreyR commented on #13784
Hi, @rohitgr7 . But here is another problem. See, I use opendelta to fine tune my model using lora. But when I tried to load, it seems wrong since it seems there is state keys missing here. Apparently, it seems not save the LORA weight.
[code]
<img width="543" alt="image" src="https://user-images.githubusercontent.com/84232793/180211099-e6d89167-9ef5-49ec-b2ec-d64735ea3baf.png">

[2022-07-21 12:20] robert-s-lee opened #13787 "Download or share Directory from Lighting App Drive with external tool"
## 🚀 Feature

Would be useful to make the artifacts available via
1) download dir or
2) download subdir or
3) files via regular expression match.
4) provide s3 link so that I don't have to download the artifacts it needs to be shared with another tool

The download could be to my file system or sent remote location such as an s3 bucket.

### Motivation

- I could have many experiments, and downloa

[2022-07-21 14:13] chrisdoyleIE commented on #4479
This comment has just saved me from one hell of a rabbit hole

[2022-07-21 15:21] rohitgr7 opened #13789 "`trainer.should_stop` doesn't stop at `min_epochs` if it's set before"
## Proposed refactor

Consider an example:
[code]

Result:
[code]
1. The epoch loop breaks in between at epoch 3.
2. Training continues until `max_epochs=1000`.

### Motivation and Pitch

My suggestion:
1. Training should not break in between since `min_epochs` haven't been met.
2. It should break right after `min_epochs`.

Motivation or Reason
1. Breaking the loop in between is fine if `min_epoch

[2022-07-21 17:08] awaelchli commented on #13789
This sounds like a bug. `min_epochs` and `min_steps` exist primarily because of early stopping and its implementation relies on` Trainer.should_stop`. Looking at the test `test_min_epochs_min_steps_global_step`, it looks like so far we have only considered this for end-of-epoch cases but should let early stopping also work with multiple validation checks per epoch.

[2022-07-21 18:14] angadkalra commented on #13126
None of those tips worked. I switched to a machine with more memory and now my training runs for 100 epochs at 2.5it/s consistently per epoch without stopping once.

[2022-07-21 18:15] angadkalra commented on #13126
@akihironitta what is the majority of items in buff/cache between epochs?

[2022-07-21 18:18] angadkalra commented on #13126
@fishbotics can you try increasing your system memory for the larger dataset? I'm training on cloud VMs, so its easy for me to provision a machine with more memory...don't know your situation, but that could be the solution. Also I switched back to PL 1.5.4, torch 1.9.0+cu111.

[2022-07-21 18:21] fishbotics commented on #13126
I can't increase the system memory since I'm already training with the largest node available to me (something like 400gb of memory). When I looked in htop, I did not see that the job was out of memory.

@angadkalra with your job, was the system previously reporting that it was out of memory? Or did you just happen to change it and it was fixed?

[2022-07-21 18:28] angadkalra commented on #13126
So I was watching the epoch with "top i" and I was watching how much free mem was left when the job froze, and everytime it was like 3 gb or 1 gb, something less than 5. And my colleague suggested it could be something to do with transferring objects to disk because of memory running low, so I upped the memory and now it runs perfectly and free mem is always 15 gb and higher.

I'm making sure I'm

[2022-07-21 20:33] RamtinRassoli commented on #13374
@neggert yes, `LOCAL_RANK` would be set for subprocesses spun up by PL. And what you said about the PyTorchJob's assumption makes sense, it's just that ideally the KubeflowEnv and LightningEnv should interpret `num_nodes` the same way.

@awaelchli I'll send a PR with the proposed changes soon.
Thank you both!

[2022-07-21 20:34] RamtinRassoli commented on #13374
@neggert yes, LOCAL_RANK would be set for subprocesses spun up by PL. And what you said about the PyTorchJob's assumption makes sense, it's just that ideally the KubeflowEnv and LightningEnv should interpret num_nodes the same way.

@awaelchli I'll send a PR with the proposed changes soon.
Thank you both!

[2022-07-21 22:52] GongXinyuu commented on #4450
+1

[2022-07-22 03:22] haesungpyun commented on #11908
Hello, I'm a newbie to open source contribution. And I'm interested in this issue. If no one has been assigned, can I work on this issue?

[2022-07-22 06:47] akihironitta commented on #11908
Hi @haesungpyun! Thank you for showing your interest! Feel free to start working on this issue! (please note that it may take some time to merge your PR because the next 1.7 release is getting very close.)

[2022-07-22 07:34] justusschock commented on #12900
@Borda you wrote that originally, might have a look?

[2022-07-22 09:25] nninept opened #13796 "`init_meta` function return type mismatch"
## Incomplete Code

This is related with #13763 PR
and `pytorch_lightning/utilities/meta.py`

### Problem

[code]

1) Return Type
`init_meta` function returns `torch.nn.Module` type. But `__new__` method assumes that `obj`  is `_MaterizerModule` or at least its subclass.

2) Parameter Type Mismatch
 `init_meta` function takes `Callable` as first parameter. But in `__new__` method, `subclass` varia

[2022-07-22 09:47] Turakar opened #13797 "A spurious TODO in TorchCheckpointIO"
Hi, I am currently working on an asynchronous version of `TorchCheckpointIO` that utilizes `multiprocessing` to save the checkpoints without blocking training. During this, I stumbled across [this TODO](https://github.com/Lightning-AI/lightning/blob/ff5361604b2fd508aa2432babed6844fbe268849/pytorch_lightning/plugins/io/torch_plugin.py#L56) and wondered whether it can be resolved, i.e. whether I nee

[2022-07-22 09:58] MrShevan commented on #13569
Hi, could you assign it to me?)

[2022-07-22 10:04] #13210 closed

[2022-07-22 10:43] otaj commented on #13797
Hi @Turakar. The TODO might not be required anymore (we will need to test it of course before it gets removed).

However, you might be interested there's an async checkpointing in the works #13658 and @rohitgr7 is working on it to hopefully make it land in 1.7, which should happen on 1st August

[2022-07-22 10:44] #13106 closed

[2022-07-22 12:15] Turakar commented on #13797
Thank you for the link! If you do not want to keep this issue open for removing the TODO, I am fine with closing it.

[2022-07-22 12:53] GinkoBalboa commented on #12833
MLFlow sends exceptions. It is Lightning that does nothing about them. So in the manner of progressing exceptions I think MLFlow allready does what it needs to be done. They end up in Lightning which doesn't deal with them but breaks the run. That is why I've made the most simple patch (just catch exceptions) in order to point out a missing functionality in Lightning.

[2022-07-22 13:05] rohitgr7 commented on #13797
let's keep this open and explore the TODO. @Turakar do you want to try it out?

[2022-07-22 13:08] Turakar commented on #13797
I think it seems to be related to DDP and I have no experience with that.

[2022-07-22 16:05] #7550 closed

[2022-07-22 16:05] #8230 closed

[2022-07-22 16:06] ZhaofengWu commented on #12736
Commenting for activity

[2022-07-22 17:58] #13146 closed

[2022-07-22 18:40] alro923 commented on #13445
Hi, Can I take up `pytorch_lightning/demos/mnist_datamodule.py` ?

[2022-07-22 19:11] awaelchli commented on #13747
Hey @luca-medeiros
Agree this should be updated. Would you like to send a PR with your addition?

[2022-07-22 19:20] awaelchli commented on #13768
Hello

I saw your message on twitter. I didn't know you were using forecasting, but yeah they don't support the WandB logger.
The error shows clearly the call to `add_figure` which is the way you would log an image with TensorBoard.

Forecasting should add an isinstance check against the specific logger. There already exist issues for this on the repo:
- https://github.com/jdb78/pytorch-forecastin

[2022-07-22 19:29] awaelchli commented on #13659
Hello @erezinman
We are currently refactoring these imports to become lazy so that wandb and other optional dependencies only get imported when actually needed (#12786).
For wandb, we recently applied this in #13474. Could you try to install from master and try again?

[2022-07-22 19:42] awaelchli commented on #13696
@cschell I think you are right. If you want, feel free to send a PR with this fix and we can help add a test. Thanks for reporting it!

[2022-07-22 19:46] erezinman commented on #13659
@awaelchli Alas, I cannot because I deleted and reinstalled a bunch of stuff. However, that sounds like the right way to go, so you can surely close this issue. Kudos!

[2022-07-22 19:59] awaelchli commented on #13674
Hi @anicolson
I'm able to reproduce this. However, you are not stepping the optimizer, are you aware of this?
Here is what you'd need to do realistically, in manual optimization:

[code]

Full code
[code]

I included the code from the SAM optimizer to make sure it works with it too.

I couldn't find it yet, but there must be a condition somewhere in the loops that checks whether the optimizer has

[2022-07-22 20:44] nssensalo commented on #13445
Hi, this would be my first contribution. I am looking at some in the 1of 3 difficulty section. May I be assigned?
![image](https://user-images.githubusercontent.com/85596471/180564903-4bfbc2a4-a553-4008-a687-69233f822488.png)

[2022-07-22 22:09] TheShadow29 opened #13804 "Multi-node training expects num_nodes and devices, but that may be variable in a slurm cluster."
## 🐛 Bug

Currently, `Trainer` requires `num_nodes` and `devices`, but this may be different across nodes. For instance, slurm may provide 1 node with 6 gpus, and 2 other nodes with 1 gpu each, for a total of 8 nodes. Right now, it gives the following error:

[code]

### To Reproduce
Note: SL_NUM_NODES being set externally
[code]

And here is the slurm script (need to add <partition-name>, <env-na

[2022-07-22 23:51] awaelchli commented on #13659
Alright, that's great. Ping us again if this problem surfaces again.

[2022-07-22 23:51] #13659 closed

[2022-07-23 00:14] yeonju7kim commented on #13445
Hi, Can I take up pytorch_lightning/strategies/fully_sharded.py?

[2022-07-23 07:07] BongYang commented on #13445
Can i take `pytorch_lightning/strategies/tpu_spawn.py`, `pytorch_lightning/strategies/ddp_spawn.py`?

[2022-07-23 07:10] PiotrDabkowski commented on #13752
Thank you, `total_batch_idx` is what I will be using then instead of `global_step`. The thing that is also super confusing is the change of semantics of `global_step` since 1.6 - IMO this should not have happened and the "fault tolerance" could have been achieved otherwise, but ok. There is still `trainer/global_step` for example in wandb X axis, which adds to the confusion, it should have been `t

[2022-07-23 09:08] anicolson commented on #13674
Hi @awaelchli, thank you for your reply.

Yes, I am aware that the following should happen in the `training_step` if `self.automatic_optimization = False`:

[code]

However, for `SAM`, the recommended training loop is something like this (where there are two forward-backward passes) with, again, `self.automatic_optimization = False` (from the README.md of https://github.com/davda54/sam and a few o

[2022-07-23 11:48] JustinGoheen commented on #13445
@otaj I opened draft PRs for my remaining .trainer/ tasks. Regarding my open logger, datamodule, and module PRs:

- #13603 will be resolved in the next couple of days
- #13693 is blocked by `pytorch_lightning/core/saving.py`
- #13692 is blocked by #13689; which in turn, 13689 is potentially blocked by #13805

Regarding the .trainer PRs: I plan to work #13806, #13807, #13809 first, and then #13810

[2022-07-23 12:00] krshrimali commented on #13445
@alro923 - Done! 🎉  Added you to the list, thanks for your interest! ⚡
@nssensalo - Done! 🎉 Added you to the list for `pytorch_lightning/strategies/sharded_spawn.py` and `pytorch_ligthning/profilers/simple.py` - `mnist_datamodule.py` has been picked up by @alro923 as we are trying to follow first come first serve. Thanks for your interest! ⚡
@BongYang - Done! 🎉 Added you to the list corresponding

[2022-07-23 12:07] #13737 closed

[2022-07-23 13:38] #13278 closed

[2022-07-23 15:47] carmocca commented on #13674
`ModelCheckpoint` skips saving if the `global_step` has not changed:
https://github.com/Lightning-AI/lightning/blob/fa886f2a582a279193fe705549c2c2a1a6229c0a/src/pytorch_lightning/callbacks/model_checkpoint.py#L232 https://github.com/Lightning-AI/lightning/blob/fa886f2a582a279193fe705549c2c2a1a6229c0a/src/pytorch_lightning/callbacks/model_checkpoint.py#L403

It's been like this since https://github

[2022-07-23 15:50] carmocca commented on #13752
`total_batch_idx` does not, `batches_that_stepped` does.

[2022-07-23 16:13] carmocca commented on #12543
Will be doing this in the release notes. For example, 1.7 will include the section:

# Deprecations

| API                                                                                                          | Removal version | Alternative                                     |
|--------------------------------------------------------------------------------------------------------------|------

[2022-07-23 19:22] aminst commented on #13411
Hi everyone,
Is there any update on this issue?

[2022-07-23 20:40] tchaton commented on #13796
@carmocca I think this code could be replaced from PyTorch no ?

[2022-07-24 00:16] anicolson commented on #13674
Thank you both for your help.

It saves checkpoints with SAM if you wrap the first forward-backward pass in a closure and pass it to the `step` method of SAM:
[code]

Happy for this issue to be closed.

[2022-07-24 02:22] lijm1358 commented on #13445
Hi, can i take <code>pytorch_lightning/strategies/ddp.py</code>?

[2022-07-24 05:11] luca-medeiros commented on #13747
Thanks for checking it up @awaelchli
On it. I will CC you once I post the PR.

[2022-07-24 15:54] krshrimali commented on #13445
Hi, @lijm1358 - Done! 🎉 Thanks for your interest, I've added you to the list. Feel free to reach out or create a draft PR and request our review in case you are stuck. Thanks! ⚡

[2022-07-24 16:11] Anon-catnt opened #13816 "Callback Checkpointing never called"
### Discussed in https://github.com/Lightning-AI/lightning/discussions/13800

<div type='discussions-op-text'>

<sup>Originally posted by **Anon-catnt** July 22, 2022</sup>
I am trying to save my Callback state along with my model at the end of each epoch.
I tried reimplementing the example [here](https://pytorch-lightning.readthedocs.io/en/stable/extensions/callbacks.html#persisting-callback-stat

[2022-07-24 19:41] #13674 closed

[2022-07-24 20:53] aminst opened #13817 "Wrong error message for ModelPruning callback"
Hello everyone,
As I understood from the [API References](https://pytorch-lightning.readthedocs.io/en/stable/api/pytorch_lightning.callbacks.ModelPruning.html#pytorch_lightning.callbacks.ModelPruning) for the _ModelPruning_ callback, this class takes a parameter named _parameters_to_prune_ as an argument. However, the error message I provided below uses a term called parameters_to_tune, which is n

[2022-07-24 21:53] awaelchli commented on #13816
Your `training_step` returns None, hence no parameter updates and thus no parameter change. Lightning only saves a checkpoint if the parameters change. Try again by returning a loss with gradient.

[2022-07-24 21:54] awaelchli commented on #13816
Closing, and continuing discussion in the original thread.

[2022-07-24 21:54] #13816 closed

[2022-07-24 21:57] awaelchli commented on #13817
That looks like a typo. A PR for this would be very welcomed! Thanks

[2022-07-24 22:48] awaelchli commented on #13273
@franchesoni If I understand correctly, you are saying this is not an option for you?

[code]

I assume because you want some parts of the trainer state restored from the checkpoint, e.g. optimizer state, but not the full loop state.

Then I think this is just an other version of this request #5339 to be able to control what is getting restored.

[2022-07-25 05:30] aminst commented on #10835
Hi,
I also encountered this issue while using the _ModelPruning_ callback. As @Jconn suggested, I also think this is because of the addition of non-tensor parameters in the pruning stage.
The code provided below from the pruning.py file adds all the parameters from all types:
https://github.com/Lightning-AI/lightning/blob/8d14554383632f4cdff337b3d8d1b226cabdd1d0/src/pytorch_lightning/callbacks/pru

[2022-07-25 07:26] otaj commented on #13445
Thank you, everyone who signed up and @krshrimali for being emoji master and assigning the issues!

[2022-07-25 08:24] LeeChanHyuk commented on #13445
Hello, can i take
pytorch_lightning/profilers/base.py ?

[2022-07-25 08:27] otaj commented on #13445
Hi, @LeeChanHyuk, thank you very much, just added you to the list!

[2022-07-25 08:48] tchaton opened #13821 "Use DeepSpeed Communication"
## 🚀 Feature

### Motivation

DeepSpeed provides its own communication to improve DeepSpeed speed.

Here is an example: https://github.com/microsoft/Megatron-DeepSpeed/pull/50/files

### Pitch

### Alternatives

### Additional context

______________________________________________________________________

#### If you enjoy Lightning, check out our other projects! ⚡

- [**Metrics**](https://github

[2022-07-25 08:51] tchaton opened #13822 "Improve the DeepSpeed page"
## 🐛 Bug

This page: https://pytorch-lightning.readthedocs.io/en/latest/api/pytorch_lightning.utilities.deepspeed.html is referenced directly by DeepSpeed docs.

We need to provide more useful information for folks clicking the link and discovering DeepSpeed from it.

### To Reproduce

### Expected behavior

### Environment

- PyTorch Lightning Version (e.g., 1.5.0):
- PyTorch Version (e.g., 1.10)

[2022-07-25 08:58] tchaton opened #13823 "Improve compatibility messaging for users."
## 🚀 Feature

### Motivation

After reading through PyTorch codebase, I came across this code example:

[code]

I believe such logic would provide value.

Furthermore, I believe we could create a mechanism to better inform users about depreciation.

Here is a proposed mechanism:

# On those calls

trainer = Trainer(...)
trainer.X(...)

# Find all the non-built classes and activate a mechanism so w

[2022-07-25 08:59] tchaton commented on #13823
@carmocca for thoughts.

[2022-07-25 09:09] carmocca commented on #13823
I don't see the advantage over our current system of showing deprecation messages.

[2022-07-25 09:09] tchaton opened #13824 "Add Lightning on /awesome-production-machine-learning repo"
## 🚀 Feature

### Motivation

Make a PR request on https://github.com/EthicalML/awesome-production-machine-learning to add:

# Lightning.ai on Commercial Platforms
# Lighting App on Model Training Orchestration

### Pitch

### Alternatives

### Additional context

______________________________________________________________________

#### If you enjoy Lightning, check out our other projects! ⚡

-

[2022-07-25 09:14] carmocca commented on #12474
Is this still relevant?

[2022-07-25 09:56] carmocca commented on #13821
DeepSpeed comms looks to me just as https://github.com/Lightning-AI/lightning/issues/7534.

Are you suggestion we should continue our collective refactors or that we should use `deepspeed.comm` as the wrapper for our collective calls? The latter would mean it becomes a required dependency of the project.

[2022-07-25 10:51] YongWookHa opened #13826 "Fix typos in Checkpointing doc"
## 📚 Documentation

For typos and doc fixes, please go ahead and:

1. Create an issue.
1. Fix the typo.
1. Submit a PR.

For very simple fixes, you can submit a PR without a linked issue.

Thanks!

______________________________________________________________________

#### If you enjoy Lightning, check out our other projects! ⚡

- [**Metrics**](https://github.com/Lightning-AI/metrics): Machine le

[2022-07-25 10:57] carmocca commented on #9980
@akihironitta is this done?

[2022-07-25 10:57] #13826 closed

[2022-07-25 11:01] carmocca commented on #13502
Also https://github.com/Lightning-AI/lightning/issues/13500

[2022-07-25 11:17] HMellor opened #13828 "Cast happens after copy in mixed precision training on IPU"
## 🐛 Bug

During mixed precision training on IPU, the cast happens after the copy. When working in half precision on IPU it is preferred to cast to cast to half precision on the host.

### To Reproduce

<details>
<summary>
repro.py
</summary>

[code]

</details>

[code]

Look at the profiles in PopVision Graph Analyser and see that the copy is FP32 followed by a cast to FP16 on the IPU.

### Expec

[2022-07-25 11:29] awaelchli commented on #12474
Yes, especially since now we don't log the stdout and stderr anymore for standalone tests.

For ddp tests, rank0 is the process that launches the tests and if an error occurs there, we will see it raised. However, if there is a test that only fails on a rank > 0, we won't see it. It is rare but has happened before.

[2022-07-25 11:53] tjruwase commented on #10510
@chenzhekl, this is likely due to the fact that DeepSpeed does not automatically cast the inputs. Can you please share your full stack trace?

[2022-07-25 12:43] akihironitta commented on #9980
@carmocca Will start working on it :)

[2022-07-25 12:57] akihironitta commented on #13348
This will be closed by #13716.

[2022-07-25 14:39] donlapark commented on #13445
Phew, that took quite a while! I would like to take `pytorch_lightning/strategies/ddp_spawn.py`.

[2022-07-25 14:46] #13102 closed

[2022-07-25 14:51] otaj commented on #13445
Thank you, @donlapark, I just added you to the list!

[2022-07-25 15:01] rohitgr7 commented on #13828
a simple solution I can think of is to override
https://github.com/Lightning-AI/lightning/blob/227871982dd44ef9e6e060e7bd16043b99d8087e/src/pytorch_lightning/strategies/strategy.py#L216

and cast the data if precision is set before moving it to the device.

also noticed similar behavior with deepspeed too.

just wondering if there are any implications of doing that. Can't think of any.

[2022-07-25 15:17] HMellor commented on #13828
We should probably also remove the `tensor.to(device)` as that doesn't do anything when using IPUs. How would we go about overriding this function so that it does nothing but cast the data to the precision specified in the Trainer?

[2022-07-25 17:13] #13637 closed

[2022-07-25 20:50] zippeurfou opened #13837 "Verbose log for app -> Display when a call get cached"
## 🚀 Feature

I would like to be able to know within a Lightning App when calls get cached and stop being cached because I can easily get lost into what is actually happening.

### Motivation

Today it is hard to have observability into what happens within the App graph. I find myself being confused why some function get cached as I don't have observability on the state changes of my system.
If I

[2022-07-25 21:14] BaruchG opened #13839 "Multiple colab notebooks from the documentation don't work and get stuck on the imports"
## 🐛 Bug

At a minimum, the notebooks at https://pytorch-lightning.readthedocs.io/en/latest/notebooks/lightning_examples/mnist-hello-world.html and https://pytorch-lightning.readthedocs.io/en/latest/notebooks/lightning_examples/cifar10-baseline.html don't work on colab when going there through the "colab" link at the top of the page. When the first cell with the dependencies is run it returns ```

[2022-07-26 03:33] SpontaneousDuck opened #13843 "PL_FAULT_TOLERANT_TRAINING=1 causes TypeError on next epoch after resuming"
## 🐛 Bug

After resuming training on a checkpoint saved using PL_FAULT_TOLERANT_TRAINING (specifically a resumed SLURM auto-checkpoint in my case), the training successfully resumes but then crashes with the below error on the start of the next epoch:

[code]

I am using a Map Dataset and am using `num_workers=1` in my DataLoaders. It appears that `combined_batch` is just a returned batch and has

[2022-07-26 03:45] chuzheng88 commented on #13649
To a certain context, I have solved this problem. In my case, I usede the parameter suffle in train_loader to address this problem.

[2022-07-26 03:45] #13649 closed

[2022-07-26 04:34] awaelchli opened #13844 "Improve error handling for learning rate finder suggestion"
## 🐛 Bug

### To Reproduce

[code]

The output is:

[code]

### Expected behavior

The error message should contain the relevant information instead of a mix of different errors, and propose an action for the user if possible. Instead, we get

1. A value error from numpy
2. A message "LR finder stopped early after 2 steps due to diverging loss."
3. Failed to compute suggesting for `lr`. There migh

[2022-07-26 04:45] chenzhekl commented on #10510
Hi @tjruwase, Thanks for your reply! Here is the stack trace. Hope this can be helpful.

[code]

[2022-07-26 06:24] collinmccarthy commented on #5558
I'm not using PTL right now but I'm interested in the "right" solution here. The issue has nothing to do with PTL like other people have said.

@akihironitta A couple of comments / questions.

- I believe `scaler.get_scale()` will simply return `None` if `optimizer.step()` was never called due to NaN/inf (see [here](https://github.com/pytorch/pytorch/blob/bbc3cc6718d841665ab2677477d458ed97b75609/t

[2022-07-26 07:16] sachinruk commented on #7143
For anyone else who came here I achieved the desired effect by doing something like:
[code]

[2022-07-26 10:25] tchaton commented on #13823
@carmocca I believe the trace is helpful and users are usually complaining about the long lists of warnings without a clear explanation about the root cause.

[2022-07-26 11:36] carmocca commented on #13823
As discussed online, I would give the option to include the stacktrace at the time of a deprecation.

This could be done externally with this addition:

[code]

example:

[code]

[2022-07-26 12:04] tchaton commented on #13582
@MarcSkovMadsen Could you try again with `PACKAGE_NAME=app pip install -e .`?

Here is the function to be executed to download the UI: https://github.com/Lightning-AI/lightning/blob/master/.actions/setup_tools.py#L330

[2022-07-26 12:05] tchaton opened #13848 "Write a contributing guide for Lightning App"
## 🚀 Feature

Contributing to Lightning App is quite unclear as seen in this comment: https://pytorch-lightning.slack.com/archives/C01296PBDQV/p1656761285225839.

Let's write down a documentation / contributing_app.md pages to help onboarding contributors.

### Motivation

### Pitch

### Alternatives

### Additional context

______________________________________________________________________

#

[2022-07-26 12:10] nandwalritik commented on #13445
Can I take `pytorch_lightning/utilities/data.py` and `pytorch_lightning/profilers/pytorch.py` ?

[2022-07-26 12:43] Ilykuleshov opened #13850 "Deprecated type hint for profiler in Trainer"
## 🐛 Bug

The type hint should be Profiler instead of BaseProfiler. Due to this, LightningCLI can't interpret profiler classes with specified init_args.

### To Reproduce

lightningcli_bug_report.py:
[code]

config.yaml:

[code]

Command to run:
`python lightningcli_bug_report.py fit --config config.yaml`

### Expected behavior

Expected to work without errors. Finishes with the following error:
[

[2022-07-26 12:49] brunomaga opened #13851 "batch size finder not running training steps after first batch size"
When trying to automatically find largest batch size, only validation steps are taken. Eg:
[code]
will run:
[code]

etc. thus this will return a batch size much larger than the one that fits in memory during the train step.
The issue is in ` pytorch_lightning/loops/fit_loop.py`:

[code]
The variable `self.epoch_loop.global_step` was not reset to 0 when attempting a new batch size. In this case, it

[2022-07-26 12:55] otaj commented on #13445
@nandwalritik, thank you! I added you to the list :zap:

[2022-07-26 12:58] carmocca commented on #13796
I don't think the `meta_init` feature ever made it to PyTorch upstream (https://github.com/pytorch/pytorch/pull/66317). At least I couldn't any of the code merged. cc @cbalioglu

I still think this is too unusable to have in the repository. There are some issues related to it too: #13660. Do we know of any users successfully using this?

I still lean on removing this until PyTorch adds support ups

[2022-07-26 13:17] carmocca commented on #13828
You can override the method that Rohit linked by Rohit:

[code]

[2022-07-26 13:26] beomwookang commented on #13445
Hi! Can I take `pytorch_lightning/core/decorators.py` ?

[2022-07-26 13:43] #13817 closed

[2022-07-26 13:45] carmocca commented on #13273
There are 2 potential solutions:

1. Pre-load the checkpoint manually

[code]

An issue with this method is that it loads the fully checkpoint just for this change. This relates to #5339 and https://github.com/Lightning-AI/lightning/issues/12712

2. Extract the state from the checkpoint in `on_load_checkpoint` and modify the Trainer's `max_epochs`. This requires editing the `LightningModule` hook

[2022-07-26 13:46] SmallPigPeppa opened #13855 "Add an unused module make resnet work bad"
## 🐛 Bug

I have try to add an unused module(e.g., resnet18) to resnet and train the resnet by some representation learning method (e.g., SimCLR). Although this module is excluded from weight decay and set requires_grad = False. The accuracy is worse than the initial.

### To Reproduce

    class ResNet(nn.Module):

    def __init__(self, block, layers, num_classes=1000, zero_init_residual=False,

[2022-07-26 13:46] aminst commented on #10835
Thanks, I will work on it :+1:

[2022-07-26 13:48] awaelchli opened #13856 "Tuner leaves checkpoint files behind when interrupted"
## 🐛 Bug

When an error occurs during turning (LR or BS), for example caused by user error in their training_step, the tuner leaves checkpoint files behind in the default_root dir.

### To Reproduce
[code]

### Expected behavior

No files. We should save to a temporary location or use a tempfile.

### Environment

Master 1.7.

[2022-07-26 13:57] #13411 closed

[2022-07-26 15:42] otaj commented on #13445
@beomwookang, absolutely! I added you to the list! :muscle:

[2022-07-26 15:43] #11561 closed

[2022-07-26 16:04] #13747 closed

[2022-07-26 16:35] carmocca commented on #13191
The test fails in the 0.6.0 to 0.6.4 releases with the following error:

[code]

And in 0.6.5+ with the error reported in the top post. I will try git blaming deepspeed to see if I can find the patch that changed the error

[2022-07-26 16:48] carmocca commented on #13191
Git bisect points to https://github.com/microsoft/DeepSpeed/pull/1915/files

[2022-07-26 17:49] awaelchli commented on #13191
I opened https://github.com/microsoft/DeepSpeed/issues/2139 for the recursion error in 0.6.5. It can be reproduced with pure PyTorch+DeepSpeed and I don't know if the change was intentional, but suspect not.

[2022-07-26 17:57] robert-s-lee opened #13864 "run lightning run app app.py --cloud from lightning notebook"
## 🚀 Feature

run lightning run app app.py --cloud from a lightning notebook

### Motivation

need to access bigger CPU and GPU instances when developing a lightning app.

the local laptop environment does not provide sufficient resources when developing a complex app.   more info at https://pytorch-lightning.slack.com/archives/CRBLFHY79/p1658770802365889

### Pitch

Use Lightning [Notebook app](h

[2022-07-26 19:21] donlapark commented on #13445
Hi! I would like to take `pytorch_lightning/utilities/auto_restart.py`.

[2022-07-26 20:46] mikcnt commented on #13607
Sorry for the superlate response. That's exactly what I was searching for! Thanks for helping out and taking the time to write a comprehensive guide :).

[2022-07-26 23:15] carmocca commented on #13191
#13863 uncovered a new error:

[code]
Running
`PL_RUN_STANDALONE_TESTS=1 pytest -v models/test_hooks.py::test_trainer_model_hook_system_fit[False-kwargs3]`

git bisect points to https://github.com/microsoft/DeepSpeed/issues/1801

[2022-07-26 23:57] cbalioglu commented on #13796
@carmocca actually this work is available for a while now in torchdistX (https://github.com/pytorch/torchdistx). In PyTorch v1.12 FSDP has officially introduced support for it (I believe there will be a blog post soon). We haven't upstreamed it to PyTorch though since having a separate package gives us the chance to iterate faster based on the user feedback.

Note also that the implementation in t

[2022-07-27 00:05] carmocca commented on #13796
Thanks for the reply! Then I think the best option is to drop our copied version, suggest using torchdistx's [fake tensors](https://pytorch.org/torchdistx/latest/fake_tensor.html) instead, and replace our tests to use them too to do some early testing on the integration with PyTorch Lightning

[2022-07-27 00:08] carmocca commented on #13607
@mikcnt If you don't have any further questions, you should close the issue. Thanks! :)

[2022-07-27 03:17] dalek-who opened #13869 "Add support for `torchshard`"
## 🚀 Feature

[torchshard](https://github.com/KaiyuYue/torchshard) is a newly and simple library for model parallel. In some case, we need to split one very large layer (larger than one gpu) to multiple gpus, and `torchshard` seems a simple solution.

Here's one of my use-case:

1. I have a very large tensor (9M*1024), aka. `VeryLargeTensor`, which is the representation vectors of 9M examples pre-

[2022-07-27 07:15] ZeyuSun opened #13871 "precision=16 doesn't work with binary_cross_entropy"
## 🐛 Bug

When setting `precision=16` for the trainer, torch binary_cross_entropy gives an autocast error. This does not happen when commenting out `precision=16`.

### To Reproduce
You can use the following Colab link:
https://colab.research.google.com/drive/1mdiEPVH8Q4Xy2xOif0PgaPOlfFlEU-iE?usp=sharing

Script to reproduce the error:
[code]

Error message:
[code]

### Expected behavior

### Envi

[2022-07-27 07:22] otaj commented on #13445
@donlapark, awesome! You're in the master comment now!

[2022-07-27 07:28] #13607 closed

[2022-07-27 08:10] rohitgr7 commented on #13871
seems like it's not supported by Pytorch and the error has a reason with a suggestion as well.

[2022-07-27 08:23] hhsecond commented on #13864
@robert-s-lee Thanks for the ticket. The login mechanism currently requires us to have UI opened  which isn’t great. As a workaround, you can either copy the credential file from your local machine to `/home/zeus/.lightning/` inside your notebook machine or set the credentials using the env variables `LIGHTNING_USER_ID`  and `LIGHTNING_API_KEY`.

We should ideally fix the login flow but about your

[2022-07-27 08:24] hannody opened #13873 "Training is stopping, without any warning or error message, at random epochs."
## 🐛 Bug

Trying to use DETR feature extractor, when the training starts, at random epoch (always below 20) the training stops with no further info/warning/error.
I have tried the code with three different GPU powered machines, plus CoLab, all gives same result, for all the machines that I have used, RAM is not less than 32GB and GPU (GTX 1060, RTX 2080ti, Tesla T4) all with Ubuntu 20.04.
### To R

[2022-07-27 08:32] #13844 closed

[2022-07-27 08:35] rohitgr7 commented on #13789
@awaelchli
do you mean that if early stopping triggers to stop the training during an epoch, we should stop immediately?

And if user sets `trainer.should_stop` explicitly we should continue the epoch and next epochs until min_epochs/min_steps are met? (my suggestion)

[2022-07-27 08:50] haesungpyun commented on #11908
Hello, I have an problem while renaming ProgressBarBase to ProgressBar.
There's a conflict in src/pytorch_lightning/callbacks/progress/rich_progress.py in 23 line and 33 line if ProgressBarBase renamed to ProgressBar.
The code use ProgressBar from rich package progress_bar.py.
How should I handle this conflict?
Thank you!

[https://github.com/Lightning-AI/lightning/blob/master/src/pytorch_lightnin

[2022-07-27 08:55] awaelchli commented on #13677
Hey @adamcatto

This happens when you try to call cuda functions in the main process before calling e.g. Trainer.fit(), and then try to call cuda functions again somewhere during trainer.fit. Please check in your code that you're not calling `.to("cuda")` or similar device operations when using the TPU accelerator. I see some device logic in that optimizer code.

And if that doesn't help, would yo

[2022-07-27 09:10] #13569 closed

[2022-07-27 09:19] Anner-deJong commented on #13166
## Potential useful note for future readers:
If like me you run into this before you have the trainer, the following simple snippets works:
[code]

## nit @manangoel99 / wandb-on-pytorch-lightning engineers: for the current issue:
Shouldnt/couldnt the rank_zero_only filtering be abstracted by the wandb_logger / dummy logger themselves? Or the dymmy logger just being able to accept all calls that c

[2022-07-27 09:40] carmocca commented on #13871
Closing as this issue is unrelated to PyTorch Lightning.

[2022-07-27 09:40] #13871 closed

[2022-07-27 09:54] awaelchli commented on #12774
This is fixed now with #13405. `accelerator="auto", devices="auto"` will select the right strategy in the jupyter notebook.
@nicocheh For setting find_unused_parameters_false, we added the option `strategy="ddp_notebook_find_unused_parameters_false"`.

[2022-07-27 09:54] #12774 closed

[2022-07-27 09:57] carmocca commented on #12595
Yes.

Converting this to a feature request. The idea would be to log both with different suffixes

[2022-07-27 09:59] awaelchli commented on #8230
When developing #13405 I was using torch 1.11 and I just upgraded my environment to torch 1.12. Turns out something changed in 1.12 that now breaks for ddp fork (the well known "Cannot re-initialize CUDA in forked subprocess" error). Couldn't determine what it is yet :((

cc @carmocca @justusschock

[2022-07-27 10:03] carmocca commented on #8230
I'm working on enabling CUDA testing with 1.12 in https://github.com/Lightning-AI/lightning/pull/13716. I expect failures will show there. We can always skip with `max_torch=1.11` if necessary

[2022-07-27 10:08] HeegonJin commented on #13445
Hi! Can I take pytorch_lightning/callbacks/progress/rich_progress.py, if it's available?

[2022-07-27 10:11] rohitgr7 commented on #10510
it'd be great if someone can share a reproducible script to replicate the issue.

[2022-07-27 10:11] Petros626 commented on #2110
Where to insert this piece of code?

[2022-07-27 10:27] awaelchli commented on #13789
No absolutely not. There would be no use for min_* if this was the case. As I wrote, these flags exist because of early stopping in the first place.

There is not difference between early stopping setting the trainer.should_stop and the user setting it. The min_* arguments need to take precedence.

To stop immediately, the user can raise KeyboardInterrupt.

Yes I agree. This is the intended behavi

[2022-07-27 10:29] awaelchli commented on #13789
Btw, the should_stop can be renamed if we believe this leads to confusion. And if needed, one can also introduce an api to stop the loop immediately if we believe we need that.

[2022-07-27 10:41] abidikhairi opened #13878 "Lightning cmd app generator is not generating the project template"
## 🐛 Lightning cmd app generator is not generating the project template

The `lightning init app gcn` is not creating the project template

### To Reproduce

[code]

#### Command output
[code]

### Expected behavior
Gets the same output as [this tutorial](https://lightning.ai/lightning-docs/workflows/build_lightning_app/from_scratch.html) as well as the template.

### Environment
[code]

[2022-07-27 10:48] krshrimali commented on #13878
Hey, @abidikhairi - Thanks for raising the issue. Can you please cross-check that the path: `/home/flursky/Work/projects/lightning/` exists on your system?

[2022-07-27 10:50] rohitgr7 commented on #11875
sorry for the delay here:

tried your script, and not seeing this issue anymore.
@amin-nejad , are you still facing this issue?

[2022-07-27 10:52] abidikhairi commented on #13878
Sure
[code]
**output**: path exists.

[2022-07-27 10:58] yeonju7kim commented on #12736
Hi! @ZhaofengWu [ZhaofengWu](https://github.com/ZhaofengWu)
I want to be assigned to this issue. It will be my first contribution.

And to make sure, I have a question.
When the code is below, is it the proper result?

[code]

[code]

[2022-07-27 11:01] krshrimali commented on #13878
Thanks! Unfortunately I unfortunately can't reproduce this locally but it's something we would definitely want to fix. May I also request you to please try in a different directory? Just as a final validation from my side. :)

cc: @tchaton for visibility.

[2022-07-27 11:04] abidikhairi commented on #13878
i switched to `/home/flursky/Work/research` then i run the command `lightning init app gcn`.
still the same error
```FileNotFoundError: [Errno 2] No such file or directory: '/home/flursky/Work/research/gcn/placeholdername' -> '/home/flursky/Work/research/gcn/gcn'```

[2022-07-27 11:08] krshrimali commented on #13878
Thanks, @abidikhairi for checking it again. Someone from the team will take a look as soon as they can. :)

cc: @awaelchli

[2022-07-27 11:11] otaj commented on #13445
It absolutely is, @HeegonJin! Thank you, you were added to the list :zap:

[2022-07-27 12:03] abidikhairi commented on #13878
Hi @krshrimali, after investegating the lightning_app packege on my computer `/home/flursky/.opt/miniconda/envs/dgl/lib/python3.9/site-packages/lightning_app/cli/app-template/` i found that it does not contain the same template as [the lightining template-app](https://github.com/Lightning-AI/lightning/tree/master/src/lightning_app/cli/app-template) i tried to install lightning from the github repo

[2022-07-27 12:04] #13878 closed

[2022-07-27 12:22] krshrimali commented on #13878
Awesome, thanks for sharing how you were able to solve it! This will help other users as well. ⚡

[2022-07-27 12:26] zxk19981227 commented on #13135
i also met this problem, but i only have four 3090 rather than eight. The training strategy of 'ddp' occupys about 10 more gb on gpu 0 compared with gpu1 2 3. Is there any solutions?

[2022-07-27 12:26] zxk19981227 commented on #13135
![image](https://user-images.githubusercontent.com/40291547/181246311-737637c0-7000-4f69-87b7-36e8c40f791d.png)

[2022-07-27 13:00] cbalioglu commented on #13796
Makes sense. Let me know if you hit any blockers, I would be happy to help.

[2022-07-27 13:11] zxk19981227 commented on #3329
Any updates on this project？

[2022-07-27 13:13] JustinGoheen commented on #13445
@otaj @krishnakalyan3 @akihironitta I closed #13807 because `pytorch_lightning.trainer.callback_hook.py` will be removed after the 1.7 release.

https://github.com/Lightning-AI/lightning/pull/13807#issuecomment-1196522743

[2022-07-27 13:55] ZhaofengWu commented on #12736
Yes, I consider this behavior to be expected.

[2022-07-27 15:32] #13007 closed

[2022-07-27 15:40] #13720 closed

[2022-07-27 17:58] awaelchli commented on #12655
I am in favor of this. Note this was also proposed in #11814, but I think the precision argument should stay on the Trainer. Hence I prefer this proposal here more over the aggressive one in #11814.

[2022-07-27 18:03] carmocca commented on #13796
Another issue with our hacky copy is that it doesn't work with PyTorch 1.12

[code]

I have a PR open already in #13868. It's not a blocker but it would be nice if `torchdistx` added https://github.com/pytorch/torchdistx/issues/49

[2022-07-27 18:09] mattm458 opened #13887 "TorchScript export incompatible with DeviceDtypeModuleMixin properties"
## 🐛 Bug

My model code makes extensive use of tensors created during the forward pass. As part of this, I have to specify the device associated with each tensor to avoid conflicts. I want to export my model in TorchScript for deployment elsewhere, but the DeviceDtypeModuleMixin properties do not appear to be compatible with TorchScript.

While this appears to affect the `dtype` property too, for

[2022-07-27 18:11] carmocca opened #13888 "CI jobs to "install meta package" are failing"
## 🐛 Bug

[code]

### To Reproduce

See failures in master

### Expected behavior

Green CI

cc @carmocca @akihironitta @borda @tchaton @rohitgr7

[2022-07-27 18:13] carmocca commented on #13873
We just added extra logging messages for when the `fit` loop stopping conditions trigger: https://github.com/Lightning-AI/lightning/pull/9749. These might help. Would you like to try installing the `1.7.0rc0` version?

[2022-07-27 18:18] carmocca commented on #13855
This question does not seem related to PyTorch Lightning. I think your best course of action is to ask in the [PyTorch forums](https://discuss.pytorch.org/). Thank you!

[2022-07-27 18:18] #13855 closed

[2022-07-27 18:39] Nachimak28 opened #13891 "404 page not found error for all "Web UIs * " pages in the Intermediate skills Level 10 docs."
## 📚 Documentation

Hi lightning team
I've been browsing through the documentation for the "App building skills" pages and found that all the card links for "Web UIs for non JS devs" as well as "Web UIs for non JS devs" pages return a 404 page not found error.
To be specific I'm talking about the cards such as "Dash", "Gradio" etc

![image](https://user-images.githubusercontent.com/23210132/181347

[2022-07-27 18:57] robert-s-lee commented on #13864
ran
[code]

received the following

[code]

[2022-07-27 20:36] adamcatto commented on #13677
Thanks @awaelchli turned out the issue was apparently that assigning `device = g_norm.get_device()` did not retain XLA device information, so initializing tensors using this device resulted in CUDA tensor. I changed the assignment to `device = g_norm.device` and it worked. Strangely enough, removing device calls and initializing the tensor without device resulted in device mismatch, which I would

[2022-07-27 20:48] awaelchli commented on #13677
Lightning can only handle the transfer of data from the dataloader to the device automatically and placing the model weights on the device. Any other tensors that you create you need to move yourself. You can use the `self.device` attribute on the LightningModule if you need that device information.

[2022-07-27 20:49] #13677 closed

[2022-07-27 21:11] awaelchli commented on #13828
Thanks for the PR @HMellor
I will label this as a bug if I understand correctly.

[2022-07-27 21:48] awaelchli commented on #13720
As a follow up, after the release, I'd like to update the TPU CI to the latest xla release, but will likely need help from more talented hands. #13818

[2022-07-27 22:11] awaelchli commented on #13135
@zxk19981227 Could you please confirm that you are using the latest PyTorch Lightning version 1.6.x? The OP posted `pytorch-lightning==1.1.8` which around that time had exactly these issues we had to fix.

[2022-07-27 23:09] awaelchli commented on #13374
Sounds good

Awesome!

[2022-07-27 23:27] awaelchli commented on #13639
@justusschock I would say we leave it up to the community here to experiment with it and contribute something that works for everybody. The skeleton is here https://github.com/Lightning-AI/lightning/issues/13639#issuecomment-1184350663 and the blanks could be filled with what was done by @jessecambon @thongonary [here](https://github.com/Lightning-AI/lightning/issues/13639#issuecomment-1185956230)

[2022-07-27 23:59] awaelchli commented on #12736
@yeonju7kim Feel free to give it a try.

I still have some doubts on the definition of when exactly such a parameter gets displayed. It's not clear to me how we can differentiate between a parameter that you the user created vs. one that is e.g. in the nn.Linear layer (weight, bias). Usually models are deeply nested and not flat like the one above.
One could of course only collect the top-level pa

[2022-07-28 00:04] ZhaofengWu commented on #12736
@awaelchli So, first of all, the default ModelSummary has `max_depth=1`, so a user shouldn't expect their super important yet nested parameter to show up by default. When they do set a larger `max_depth`, the question is if we want to show, as in your example, nn.Linear's weight and bias. The simplest answer is yes -- the summary will be more verbose, but when users set a larger `max_depth` they s

[2022-07-28 03:55] hannody commented on #13873
@carmocca Thanks! This is such a nice addition, it helped, thanks for your great efforts.

[2022-07-28 03:55] #13873 closed

[2022-07-28 05:33] hhsecond commented on #13864
that’s odd and looks like a regression on the packaging function (could you create another issue please?). As a work around, can you set the env variable `PACKAGE_LIGHTNING` to `0` and try?

[2022-07-28 06:23] SmallPigPeppa commented on #13855
Sorry to not describe this problem clearly, but it happens when I trained resnet18 by pytorch-lightning

[2022-07-28 07:43] lamnguyenvu98 commented on #12812
Took me 2 days to train my model and then I realized that the learning rate wasn't updated after resuming from lastest checkpoint...

[2022-07-28 08:27] chenzhekl commented on #10510
@tjruwase Thanks for your suggestions. You are right. After manually casting the input to half, the error message disappears. I guess this might have something to do with PyG`s way of packing data. Here is a small script to reproduce the error.

[code]

[2022-07-28 09:24] remivanbel opened #13899 "Avoid duplicate logging of hyperparameters with Wandb"
## 🚀 Feature

Change the flattening format of the hyperparameter dicts for the WandbLogger, such that it is the same as the one used by wandb for logging its configuration.

### Motivation

At the moment, I have the problem that certain hyperparameters are logged twice in wandb.
![image](https://user-images.githubusercontent.com/47861142/181462735-51873d62-503c-45a5-98f5-2a97eeef34cf.png)

Because

[2022-07-28 09:40] SeanNaren commented on #10510
I recall running into this before with geometric. I think this is down to the Data object, Lightning cannot automatically traverse the object to move tensors to the correct device. A manual casting may be the cleanest solution currently!

[2022-07-28 10:30] perliczka1 opened #13902 "BackboneFinetuning - even with train_bn batch normalization is still learning."
## 🐛 Bug

When I use BackboneFinetuning callback with `train_bn=False` batch normalization biases and weights are still changing from the very first epoch, even though they should be fixed until `unfreeze_backbone_at_epoch`.

### To Reproduce

Below is the notebook. I marked with comments all the placed in the default code I modified:
https://colab.research.google.com/drive/1LPiOljLEbFXUUST3Hr4oeQ

[2022-07-28 10:32] MrShevan commented on #13290
If it steels needed, could I take it? :)

[2022-07-28 11:17] krishnakalyan3 commented on #13290
@MrShevan go for it.

[2022-07-28 12:08] justusschock commented on #13887
Hi,
I looked into it and first stumbled upon https://github.com/pytorch/pytorch/issues/37883 which claims that properties are indeed supported. I could also find the related code ([here](https://github.com/pytorch/pytorch/blob/master/torch/jit/_script.py#L432)) so I am not very sure why it fails right now. My guess is that the linked code would need to be added to the `ScriptModule` as well.

whil

[2022-07-28 12:25] alexandercort commented on #13891
@Felonious-Spellfire FYI

[2022-07-28 12:42] gabriead commented on #12607
The error still appears when using DeepSpeed in combination with Pytorch Lightning on azure

[2022-07-28 13:22] gabriead opened #13907 "Can't run DeepSpeed with Pytorch Lighning on AzureML using compute cluster"
## 🐛 Bug

When I am running Pytorch Lightning with DeepSpeed on an Azure ML Compute Cluster (with a max of 7 nodes and Tesla-M60 GPU) I am getting different error messages in the driver logs:

[code]
[code]

### To Reproduce

I used this code snippet (https://github.com/Azure/azureml-examples/blob/main/python-sdk/workflows/train/deepspeed/transformers/job.py) together with the following trainer ar

[2022-07-28 13:31] tjruwase commented on #10510
@chenzhekl, thanks for confirming and sharing a repro.

@SeanNaren, thanks for the sharing your experience.

[2022-07-28 14:02] carmocca commented on #12607
@gabriead Can you share the error stacktrace? What PyTorch Lightning version are you using?

[2022-07-28 14:25] #13348 closed

[2022-07-28 14:28] #13632 closed

[2022-07-28 14:38] #13191 closed

[2022-07-28 15:19] gabriead commented on #12607
Hi @carmocca sure,

this is the stacktrace of the first exception:

[code]

and the second

[code]

Pytorch Lightning Version: latest, 1.6.5

[2022-07-28 16:33] awaelchli commented on #12607
I don't think this fix was included in any 1.6.x release. Would you mind trying master?

[2022-07-28 16:39] carmocca commented on #12607
Or better yet, the `1.7.0rc0` release: `pip install --pre -U pytorch_lightning`

[2022-07-28 16:59] awaelchli commented on #12736
I think we can do what you are proposing.

I wouldn't do this, as torch.nn is just a special case.

I'll assign [yeonju7kim](https://github.com/yeonju7kim)
Thank you for your interest.

[2022-07-28 17:08] carmocca commented on #13855
PyTorch Lightning does not interact at all with hyperparameters like weight decay (unless you tell it to!)

Unless the exact same model works when trained in a pure PyTorch but not when trained with PyTorch Lightning, this wouldn't be considered a Lightning issue

[2022-07-28 18:22] robert-s-lee opened #13913 "lightning run app app.py --cloud results in FileNotFoundError: [Errno 2] No such file or directory: '/content/venv/lib/python3.8/dist'"
## 🐛 Bug

`lightning run app app.py --cloud` results in

[code]

### To Reproduce

- clone and run [ScratchPad, Notebook Manager for Teams](https://lightning.ai/app/hvUwbEG70B-ScratchPad%2C%20Notebook%20Manager%20for%20Teams)
-
- go to Jupyter notebooks and open a terminal and run

[code]

- copy $HOME/.lightning/credentials.json from laptop

- run
[code]

[code]

that’s odd and looks like a regre

[2022-07-28 18:37] rohitgr7 commented on #13431
anyhow related to this? https://github.com/huggingface/transformers/issues/8098

[2022-07-28 18:44] robert-s-lee opened #13914 "python collect_env_details.py requires setuptools-59.5.0 and cannot work with Lightning App in the cloud"
## 🐛 Bug

python collect_env_details.py requires setuptools-59.5.0 and cannot work with Lightning App in the cloud

### To Reproduce

- download collect_env_details.py
[code]

- running the collection tool results in `AttributeError: module 'distutils' has no attribute 'version'`

[code]

workaround to is to use `pip install setuptools==59.5.0` which causes conflict

[code]

[code]

python collect

[2022-07-28 18:59] carmocca commented on #12724
Closing. Please open a new issue with a reproducible example if you face this issue again. Thank you!

[2022-07-28 18:59] #12724 closed

[2022-07-28 19:00] carmocca commented on #12689
I believe this has been fixed by @otaj in the 1.7 release

[2022-07-28 19:00] #12689 closed

[2022-07-28 19:03] carmocca commented on #6205
This issue has no repro. Is it still a problem in the latest version?

[2022-07-28 19:04] williamFalcon opened #13915 "lightning.ai UI empty on ipad"
![image](https://user-images.githubusercontent.com/3640001/181617561-3b3df62d-155b-46ca-afdd-29d633ebef75.png)

[2022-07-28 19:14] carmocca commented on #11680
Closing in favor of https://github.com/Lightning-AI/lightning/issues/11126

[2022-07-28 19:14] #11680 closed

[2022-07-28 19:16] carmocca commented on #9908
This is quite old now. Is it still a problem in the latest release?

[2022-07-28 19:22] carmocca commented on #12393
Is this still an issue in the latest release? Any progress on the reproducible script?

[2022-07-28 19:25] carmocca commented on #12474
Do you have any ideas about how we can avoid this issue?

[2022-07-28 19:26] #13828 closed

[2022-07-28 19:28] williamFalcon commented on #13915
@alecmerdler

[2022-07-28 19:28] carmocca opened #13916 "Warn IPU users that batch transfering hooks will not run"
if that's the case, we need to do a follow-up for users to let them know that some of the hooks won't work with IPUs, like `transfer_batch_to_device`, ...

_Originally posted by @rohitgr7 in https://github.com/Lightning-AI/lightning/pull/13880#discussion_r931989445_

cc @borda

[2022-07-28 19:31] carmocca commented on #12922
Hi @jdavid04. Is this still an issue? Are you able to finish your PR?

[2022-07-28 19:34] carmocca commented on #12576
@gahdritz is this still an issue? Can you provide a reproducible script? You can adapt our [bug report model](https://github.com/Lightning-AI/lightning/blob/master/examples/pl_bug_report/bug_report_model.py)

[2022-07-28 19:37] carmocca commented on #12685
Seeing this now for the first time. I'd say this is a huge bug. Do you have any ideas on how to fix this?

[2022-07-28 19:40] gahdritz commented on #12576
It's still an issue, but I'm no longer sure that it's a bug. If I activate DeepSpeed and use a DeepSpeed optimizer, what should I expect to happen with learning rate schedulers configured in `configure_optimizers`? How do those interact with DeepSpeed's own learning rate schedulers?

[2022-07-28 19:47] carmocca commented on #12576
If the `optimizer` is defined in the config, we use it as is and ignore what's inside `configure_optimizers`. This is the relevant piece of code: https://github.com/Lightning-AI/lightning/blob/07b39c257bac44d82a5d704d79ef103c829597a2/src/pytorch_lightning/strategies/deepspeed.py#L509-L518

We recommend creating them using `configure_optimizers` instead.

[2022-07-28 19:49] carmocca commented on #12233
@awaelchli Is this blocked by coming up with a solution?

[2022-07-28 19:50] carmocca commented on #12881
We just fixed this!

[2022-07-28 19:50] #12881 closed

[2022-07-28 19:55] carmocca commented on #11807
Fixed by https://github.com/Lightning-AI/lightning/pull/13640

[2022-07-28 19:55] #11807 closed

[2022-07-28 19:59] carmocca commented on #13088
We recently made some TPU fixes (cc @awaelchli). Would you mind trying on the latest version? (1.7.0rc0)

[2022-07-28 19:59] #13094 closed

[2022-07-28 20:00] carmocca commented on #13103
Closing as I think this is no longer a problem. Feel free to re-open if I'm mistaken

[2022-07-28 20:00] #13103 closed

[2022-07-28 20:07] carmocca commented on #13260
I believe this was fixed with https://github.com/Lightning-AI/lightning/pull/13838. You will need to add the key `reduce_lr_on_plateau` in `configure_optimizers` when the timm scheduler takes a monitor. For example:
[code]
Note the required `monitor` key too

[2022-07-28 20:07] #13260 closed

[2022-07-28 20:33] carmocca commented on #12759
I am not able to reproduce the issue:

[code]

Prints

[code]
which are the values from the config, as expected.

[2022-07-28 21:01] awaelchli commented on #12685
Yes, this can be fixed in the multiprocessing launcher directly. Had a branch on this, will dig it out.

[2022-07-29 05:12] cyr0930 commented on #9908
It's a bit hard for me to re-test it, because it costs a lot to run TPU in GCP.

I'm glad if someone who can access TPU freely checks this issue.
If not, I'll check it later when I have time and budget for it.

[2022-07-29 07:55] otaj commented on #12689
Hi @carmocca, @di0002ya. This was _almost_ solved in the 1.7 release. The only thing that's missing is for user code to subclass `BatchSampler` from regular PyTorch, otherwise our magic won't work :zap: And, since it's a `BatchSampler`, we still require you to use underlying `Sampler`. But yes, in general, it has been fixed :muscle:

[2022-07-29 07:59] otaj commented on #13445
Hi @shenoynikhil98. Since we didn't get an open PR within two weeks, I'm unassigning you from `pytorch_lightning/core/saving.py` so as to not block other community members. Thank you very much! :zap:

[2022-07-29 09:51] nishantb06 commented on #13238
@xiaoyuan0203 if you're not working on this issue, can i pick it up?

[2022-07-29 09:52] awaelchli commented on #9667
Closing this as we deprecated DDP2 and don't plan to support it in the future.

[2022-07-29 09:52] #9667 closed

[2022-07-29 10:39] xiaoyuan0203 commented on #13238
OK

[2022-07-29 13:04] #13730 closed

[2022-07-29 13:22] manskx opened #13927 "Run app cloud CI e2e tests on PRs from forks"
## 🚀 Feature

Run app cloud CI e2e tests on PRs from forks.

### Motivation

Currently, the cloud e2e tests require secrets to run and because the secrets (e.g. lightning_user_id/ lightning_api_key) are not shared with the forks, they run only on PRs from lightning branches only.  This is necessary to allow all contributers to run e2e cloud tests on their PRs 🎉

### Pitch

### Alternatives

Ideas:

[2022-07-29 13:46] akihironitta commented on #5558
Hi @collinmccarthy, thank you for your comment.

Yes, as I commented a while ago https://github.com/Lightning-AI/lightning/issues/5558#issuecomment-968751947, this issue stems from how amp is implemented.

That’s totally fine if you’re fine with it. However, some people might still prefer to use the hack above to avoid excessive `lr_scheduler.step()` calls, and that's why I left the code snippet a

[2022-07-29 13:49] SarBH commented on #13225
I have the same issue:

I train a model with a lr_scheduler dict that looks like this:
[code]
is monitoring `val_loss  `(needless to note validation_step is running` self.log("val_loss",...`))
I attempt to load via trainer.fit(model=model, datamodule=data, ckpt_path="/path/to.ckpt")
and I get an error:
[code]
But in fact` EarlyStopping.monitor="val_loss"` and why is the list of available options f

[2022-07-29 14:10] williamFalcon opened #13930 "Lightning AI crashes on iPad"
## 🐛 Bug

### To Reproduce

### Expected behavior

### Environment

- Lightning Component (e.g. Trainer, LightningModule, LightningApp, LightningWork, LightningFlow):
- PyTorch Lightning Version (e.g., 1.5.0):
- Lightning App Version (e.g., 0.5.2):
- PyTorch Version (e.g., 1.10):
- Python version (e.g., 3.9):
- OS (e.g., Linux):
- CUDA/cuDNN version:
- GPU models and configuration:
- How you insta

[2022-07-29 14:10] #13930 closed

[2022-07-29 14:36] robert-s-lee commented on #13753
checked today and the issue still exists

[2022-07-29 14:37] oojo12 commented on #13755
I'll go ahead and submit a PR for this.

[2022-07-29 14:56] rhjohnstone commented on #13913
I'm also facing the same issue, but I'm running from my local machine
```lightning run app app.py --cloud```
gives the error
```FileNotFoundError: [Errno 2] No such file or directory: '/opt/miniconda3/envs/lightning/lib/python3.8/dist'```

My whole `app.py` is
[code]
and I've installed the Slack component.

This was working earlier this week.

On a Mac in a clean Miniconda environment with Python

[2022-07-29 15:14] nicolai86 opened #13931 "Switch from click to google Fire"
## Proposed refactor

For the Lightning CLI we're using pythons `click` library, which leads to very verbose code.
Switching to google fire would reduce the code verbosity, which in the long run would lead to more maintainable code.

### Motivation

Reduce code verbosity for Lightning CLI

### Pitch

Refactor from python click to google fire library

### Additional context

The Lightning CLI is st

[2022-07-29 16:11] JustinGoheen commented on #13445
@otaj @krishnakalyan3  @akihironitta  I opened #13932 without first being assigned based on convo in https://github.com/Lightning-AI/lightning/pull/13693#discussion_r933303922

[2022-07-29 17:32] oojo12 opened #13934 "Error setting custom BuildConfig to the LightningWork object"
## 🐛 Bug

Following the [example](https://lightning.ai/lightning-docs/glossary/build_config/build_config_advanced.html#use-a-docker-image) for using a public docker image results in an error. I modified the work slightly just to print hi.

### To Reproduce
Component.py
[code]

app.py
[code]

error
[code]

### Expected behavior
no error following the docs

### Environment
* CUDA:
        - GPU:

[2022-07-29 17:53] oojo12 opened #13935 "Unhelpful Error Messaging"
## 🐛 Bug

Lightning does not appropriately relay the origin of a traceback error.

### To Reproduce

app.py
[code]

error is helpful here
[code]

however, making it more complicated gives various unhelpful errors like the below
[code]

Another error with an example like the first case

app.py
[code]

error
[code]

**fixing the typo resolves the problem.**

### Expected behavior

I get an error mes

[2022-07-29 19:45] akihironitta commented on #13907
@gabriead It seems like the env vars are conflicting with each other. Have you made sure that both `LOCAL_RANK` and `OMPI_COMM_WORLD_LOCAL_RANK` have the same value? PL doesn't modify the env var AFAIK, so I believe it's an issue with your configuration in the environment (Azure) rather than PL.

[2022-07-29 20:35] akihironitta opened #13937 "`RichProgressBar` in v1.6 is slower than v1.5"
## 🐛 Bug
Similarly to (but independently of) #13179, there's a regression in speed of the rich progress bar between 1.5 and 1.6.

[code]

### To Reproduce

[code]

### Expected behavior
There should be no regression unless there's a reasonable explanation.

### Environment

- Lightning Component (e.g. Trainer, LightningModule, LightningApp, LightningWork, LightningFlow): n/a
- PyTorch Lightning Ve

[2022-07-29 21:19] TarunSrinivas23 commented on #924
Man this one ended my 5 hour fight with a crazy bug in my code. Thankx !!

[2022-07-30 01:03] wonbbnote commented on #13445
Can I take pytorch_lightning/core/saving.py ?

[2022-07-30 01:54] finkga opened #13940 "In subclasses of LightningModule, make self.trainer.datamodule visible"
## 🚀 Feature

Please make self.trainer.datamodule visible in the LightningModule __init__() body or provide another setup routine that is called after __init__ where datamodule is visible.

### Motivation

Models should be instantiated in the LightningModule.__init__() function. However, the number of classes available is only defined in the datamodule associated with the trainer. Unfortunately, s

[2022-07-30 11:41] UserA12345 commented on #709
@gbeltramo thank you solved my issue as well

[2022-07-30 16:37] awaelchli commented on #13907
Regarding the ranks, also see here for advice how to set them: #13639

[2022-07-31 02:56] tshu-w opened #13942 "Cannot start lightning app at cloud on macOS"
## 🐛 Bug

Following the [LIGHTNING APPS IN 15 MINUTES](https://lightning.ai/lightning-docs/get_started/lightning_apps_intro.html) and run the app in the cloud command got FileNotFoundError on macOS:
[code]

### To Reproduce

Following the [LIGHTNING APPS IN 15 MINUTES](https://lightning.ai/lightning-docs/get_started/lightning_apps_intro.html) on ARM macOS with conda env.

[code]

### Expected beha

[2022-07-31 04:26] tshu-w opened #13943 "cannot generate component from template"
## 🐛 Bug

When I generate a component from template with `lightning init component your-component-name`, I got `FileNotFoundError`

### To Reproduce

[code]

### Expected behavior

the command runs correctly.

### Environment

* CUDA:
	- GPU:
	- available:         False
	- version:           None
* Packages:
	- lightning:         2022.7.18
	- lightning_app:     0.5.3
	- numpy:             1.22.4

[2022-07-31 08:20] belerico opened #13944 "LightningFlow state increases indefinitely"
## 🐛 Bug

I don't know if this can be considered as a bug, but the LightningFlow state increases indefinitely.

### To Reproduce

[code]

### Expected behavior

The LightningFlow state size should be bounded, specially if one doesn't need all the cached-calls history. This can be useful when there are a lot of interactions between flows and works during the lifecycle of an app (e.g. in here: https

[2022-07-31 11:23] adamgayoso opened #13946 "Platform check incorrect on M1 pro device"
Excited to see this get in!

https://github.com/Lightning-AI/lightning/blob/0f6caffa577e2c8d9602dc8fba37c13e128b2120/src/pytorch_lightning/accelerators/mps.py#L27

On my device I see this:

[code]

so _MPS_AVAILABLE is incorrectly false

cc @tchaton @rohitgr7 @akihironitta @justusschock

[2022-07-31 13:08] akihironitta commented on #13940
Hi @finkga, I think it's impossible to reference your datamodule via trainer because your LightningModule doesn't know about anything outside the module at the time of its instantiation until it gets attached to the trainer.

However, you have reference to your datamodule in `LightningModule.setup`:
[code]
https://pytorch-lightning.readthedocs.io/en/1.6.5/common/lightning_module.html#setup

Let me

[2022-07-31 13:08] #13940 closed

[2022-07-31 15:38] Ilykuleshov opened #13948 "Unable to enable grad during validation"
## 🐛 Bug

Even with `@torch.enable_grad `, gradients aren't enabled during validation

### To Reproduce

[code]

### Expected behavior

Expected to finish without error (`assert logits.requires_grad` should work)

### Environment

* CUDA:
	- GPU:
		- Tesla T4
	- available:         True
	- version:           11.3
* Packages:
	- lightning:         2022.7.31
	- lightning_app:     0.6.0dev
	- numpy:

[2022-08-01 04:15] heiwang1997 commented on #13124
I'm using `wandb` and also have this issue. The `trainer/global_step` metric logged always restarts from 0 when I resume the training :(
I checked the actual `self.trainer.global_step` from within the model and that looks normal. Just wondering when this bug could be fixed.

[2022-08-01 04:23] manangoel99 commented on #10530
Hey @carmocca , Could you remove @AyushExel from logger: wandb?

[2022-08-01 05:51] cpfy opened #13958 "ImportError: cannot import name 'TestTubeLogger' from 'pytorch_lightning.loggers'"
## 🐛 Bug

I'm trying to import TestTubeLogger with `from pytorch_lightning.loggers import TestTubeLogger`

But got **ImportError: cannot import name 'TestTubeLogger' from 'pytorch_lightning.loggers'** as in title.

### To Reproduce

I can reproduce the bug in Colab link.

First installed pytorch_lightning and test_tube (mentioned as dependency in Issue #469) by running following commands.
[code]

[2022-08-01 06:16] ductai199x commented on #13124
Honestly I have no idea why this is not a priority. How can any researchers use Pytorch Lightning 1.6.x for any purposes, especially publishing papers? Now, PL is moving to version 1.7.x and this is still a big issue. Please fix this as soon as possible.

[2022-08-01 06:32] xinzi2018 commented on #7044
i have the same question!

[2022-08-01 06:44] cpfy commented on #13958
Sorry, I see the explanation in the [documentation](https://pytorch-lightning.readthedocs.io/en/stable/api/pytorch_lightning.loggers.test_tube.html) that

But I need to use `TestTubeLogger` in my project, is there any compatible or alternative solution?

[2022-08-01 08:00] #13888 closed

[2022-08-01 09:28] rohitgr7 commented on #13937
time: 13.186531708983239  # v1.6.0
time: 11.988152374979109  # v1.6.5
time: 12.897805292042904  # master (aefb9ab43f9a8e6704558a346dbae1a00044bb45)

it's huge... maybe it's the same `refresh` that is causing the issue

[2022-08-01 09:51] Anon-catnt commented on #13506
same issue here with 2 nodes and 3 gpu per node. While I have no issue on 1 node with 4 gpu.

[2022-08-01 14:32] awaelchli commented on #13360
I hope the question was answered and the issues could be solved. Let us know if there is anything else causing trouble.

[2022-08-01 14:32] #13360 closed

[2022-08-01 15:38] rohitgr7 commented on #13958
you can try out [CSVLogger](https://pytorch-lightning.readthedocs.io/en/stable/extensions/generated/pytorch_lightning.loggers.CSVLogger.html).

[2022-08-01 16:21] tchaton commented on #13944
Hey @belerico,

Thanks for sharing the code above. I am looking into this. I will keep you updated.

Best,
T.C

[2022-08-01 18:45] tchaton commented on #13944
Hey @belerico Would you mind trying out https://github.com/Lightning-AI/lightning/pull/13970 branch? Normally, this should work better now.

[2022-08-01 18:49] manskx commented on #13944
This might be related: https://github.com/Lightning-AI/lightning/issues/13780

[2022-08-01 19:30] belerico commented on #13944
Hi @tchaton, thank you for the quick response. I've just tried it with the code that I shared above. Those are the results that i've obtained:

![image](https://user-images.githubusercontent.com/18405289/182229353-6ca19845-7c3d-4e0c-bfb9-0a974fb25d7e.png)

They green line is the one obtained with your fixes. It's a lot better, but in some cases, where there's a lot more interactions between compon

[2022-08-01 22:21] #12685 closed

[2022-08-02 01:58] awaelchli commented on #12474
The only way I can think of is to parse the stderr produced by the pytest and look for any exceptions being printed. That would have to be done in the bash script that makes the call to pytest, but I'm not sure if it's worth it, seems complicated to me.

[2022-08-02 03:38] donlapark commented on #13445
The pull request for`pytorch_lightning/strategies/ddp_spawn.py` has been merged in #13865 @otaj.

[2022-08-02 07:14] otaj commented on #13445
@donlapark Thank you, seems I missed to link that one.

[2022-08-02 07:31] rohitgr7 commented on #13902
`train_bn` argument in the constructor is meant for the backbone after it's unfreezed. If you want to freeze the batch-norm layers from the beginning, you can do:
[code]

[2022-08-02 08:28] cpfy commented on #13958
Thanks, I'll try it.

[2022-08-02 08:28] #13958 closed

[2022-08-02 09:23] adshukla1902 commented on #11592
Hi, Can I start working on this issue, this will be my first contribution.

[2022-08-02 09:54] justusschock commented on #11592
I am not sure if there actually was an agreement to do this

[2022-08-02 09:58] Borda commented on #11592
I am fine with this addition of `__all__` in each init

[2022-08-02 10:06] #13946 closed

[2022-08-02 10:36] awaelchli commented on #12233
Yes, nothing I tried worked. It is hard to get this right due to the weak references and garbage collection.

[2022-08-02 12:08] odedbd commented on #1715
I am using the solution suggested by @awaelchli in my training script, passing a DataModule as the data source for both validation and training. The pre-training validation score is logged, but I noticed that the validation DataLoader (and validation workers) are being created twice when used in this manner.

In my use case, the creation of workers is a relatively costly process, and I wonder if t

[2022-08-02 12:15] awaelchli commented on #13124
Fixed by #13962
@ductai199x Please give it a try.

I respectfully disagree with your assessment here. This was a visual glitch and did not in any way affect the functionality of PyTorch Lightning in research. This should not have been preventing anyone from publishing papers. The progress bar values are estimates based on a running value, and should never be used as a way to benchmark the performa

[2022-08-02 12:15] #13124 closed

[2022-08-02 12:32] lantiga commented on #13942
Hi @tshu-w apologies.
We are going to issue a fix with the upcoming release, the issue the repo name starting with `lightning` (as checked from `.git`).
As an immediate workaround, can you try removing the .git directory from within `lightning-quick-start` and trying again?

/cc @hhsecond

[2022-08-02 14:44] perliczka1 commented on #13902
It's not clearly stated in the documentation here https://pytorch-lightning.readthedocs.io/en/stable/api/pytorch_lightning.callbacks.BackboneFinetuning.html

train_bn([bool](https://docs.python.org/3/library/functions.html#bool)) – Whether to make Batch Normalization trainable.

So the intended behavior is that first we freeze the whole backbone except its batch normalization layers, then we unfre

[2022-08-02 15:55] rlizzo commented on #13942
Thanks for the report @tshu-w! I'll be making a fix for this in the next day or two :)

[2022-08-02 16:38] rohitgr7 commented on #13902
I think, we can update the docstrings.

[2022-08-02 16:47] qmihau opened #13981 "Input type handling and scikit-learn conforming for Trainer.predict()"
## Proposed refactor

[Trainer's](https://github.com/Lightning-AI/lightning/blob/master/src/pytorch_lightning/trainer/trainer.py) method `predict()` could be made more intuitive and more reliable at the same time. Currently, if someone calls `trainer.predict(dataset)`, following a fairly established pattern from scikit-learn API, it results in unrecoverable state of the trainer, since regardless o

[2022-08-02 17:15] shenoynikhil commented on #13937
@akihironitta Can I help resolve this issue?

[2022-08-02 17:29] akihironitta commented on #13937
Hi @shenoynikhil, thank you for showing your interest in this issue! I think I'll soon be concluding this issue with some improvement to the current impl. and report with benchmarks/explanation, so if you're still interested in making contributions, it would be great if you could pick any other existing issues!

[2022-08-02 19:16] bryanmooremd commented on #13124
Just for further info, I was also using `wandb` when seeing this. I agree with @awaelchli that it seemed to be a visual glitch as the negative it/s was not correlated at all with training time per epoch. Was this something on Weights&Bias end?

[2022-08-02 20:16] manskx opened #13985 "lightning_app package requirements are pinned and causing some conflicts"
## 🐛 Bug/Improvement

Some of the requirements of`lightning_app` package are pinned and this causes some conflicts with other packages.
https://github.com/Lightning-AI/lightning/blob/master/requirements/app/base.txt

### To Reproduce

### Expected behavior

have minimum of pinned requirements of `lightning_app`

### Environment

* CUDA:
        - GPU:
        - available:         False
        - v

[2022-08-02 21:56] adamjstewart opened #13989 "DeprecationWarning: SelectableGroups dict interface is deprecated. Use select."
## 🐛 Bug

It seems like parts of PL are using deprecated parts of PL. I'm seeing the following DeprecationWarning in CI:
[code]

### To Reproduce

Should be able to reproduce by testing any Trainer with pytest. I'm not even using callbacks:
[code]

### Expected behavior

I would not expect to see a DeprecationWarning.

### Environment

- Lightning Component: Trainer
- PyTorch Lightning Version: 1.

[2022-08-02 23:15] Birch-san opened #13991 "MPSAccelerator not available"
## 🐛 Bug

Raised from `accelerator_connector.py::AcceleratorConnector#_set_parallel_devices_and_init_accelerator`:
https://github.com/Lightning-AI/lightning/blob/2415834aaf4f215ddb0d618bf415405d670f9114/src/pytorch_lightning/trainer/connectors/accelerator_connector.py

Availability determined here:
https://github.com/Lightning-AI/lightning/blob/2415834aaf4f215ddb0d618bf415405d670f9114/src/pytorch_

[2022-08-02 23:28] Birch-san commented on #13991
I've written a fix:
https://github.com/Lightning-AI/lightning/pull/13992

[2022-08-03 02:22] tshu-w commented on #13942
Yes, this workaround works.

[2022-08-03 02:55] kaushikb11 commented on #13937
@akihironitta How does it compare with TQDMProgressBar over recent releases?

[2022-08-03 03:14] foreveronehundred commented on #11933
I still have some problems regarding to the training speed of bfloat16 when enabling autocast.
Could anyone see the problem here?
https://discuss.pytorch.org/t/performance-training-speed-of-autocast-bfloat16/158183

[2022-08-03 03:22] rsokl opened #13996 "pyright flags `__version__` as not being exported from module `pytorch_lightning`"
![image](https://user-images.githubusercontent.com/29104956/182516679-604a5ab5-be9f-4bc5-8051-9f3795ca37dc.png)

It looks like this is caused by the changes made by https://github.com/Lightning-AI/lightning/pull/13327

cc @tchaton @rohitgr7

[2022-08-03 07:04] tchaton commented on #13944
Actually, my updated PR is even worse but not as bad as the orange one, roughly twice better, but the important part is that the circulating hidden state is constant in size.

In your code, you are assuming a user won't put twice the state inputs in the run method once it has succeeded, which causes call_hashes not to be stored.

Right now, even if the state increases, it is done on the flow side

[2022-08-03 07:29] awaelchli commented on #13981
Hi @qmihau
https://github.com/Lightning-AI/lightning/pull/13892 will address 2) for model. We will soon also complete #13445 which should help.

Swapping the input order in predict would make it inconsistent with the other Trainer methods, and swapping them all would be a big breaking change for all Lightning users. I would suggest to go with better input validation first and see if there is more

[2022-08-03 08:15] awaelchli commented on #13124
Hey @bryanmooremd
What exactly did WandB log and where? I have used W&B many times but never noticed it can do that. Maybe it's a recent feature. If you give me some more info, perhaps in a new issue, I can try to verify.

[2022-08-03 09:32] mayiran1999 commented on #10389
Occurred the same problem on pl 1.5.10...... I have to refactor my code using only pytorch...

[2022-08-03 10:51] awaelchli commented on #13500
Hey @jstjohn
Sorry for the delay. In #13738 I've nuked the complicated, error-prone unwrap logic. I will open it soon for review, but currently trying to verify I have solved your use case. If you want to give it a try as well on that branch and see if it works well for you, that would be really cool, even though I suspect you have probably moved on with your own fix already.

[2022-08-03 11:11] qmihau commented on #13981
Thank you. Somehow I didn't notice #13892 when browsing for related issues.

[2022-08-03 11:11] qmihau commented on #13981
Thank you. Somehow I didn't notice #13892 when browsing for related issues.

[2022-08-03 11:56] carmocca commented on #10389
@mayiran1999 Have you tried the 1.7.0 release?

[2022-08-03 12:37] carmocca commented on #12233
The repro in the top post doesn't produce the error anymore. Perhaps this is not an issue worth exploring anymore.

Otherwise, as a workaround, couldn't we ignore the `Trainer` state instead of raising an exception?

[2022-08-03 12:49] carmocca commented on #12474
We already capture the stdout and stderr (`&>>`) from pytest https://github.com/Lightning-AI/lightning/blob/8af85eeaafc4fe4ef11098a27f795416fe608c6a/tests/tests_pytorch/run_standalone_tests.sh#L69

We could easily grep for exceptions inside this function: https://github.com/Lightning-AI/lightning/blob/8af85eeaafc4fe4ef11098a27f795416fe608c6a/tests/tests_pytorch/run_standalone_tests.sh#L49-L54 and

[2022-08-03 13:37] awaelchli commented on #1715
That is probably because the sanity check validation also runs when calling fit, leading to the val loader being reset an additional time. Since you are doing this:

[code]

I would suggest setting `Trainer(num_sanity_val_steps=0)` because you already make the explicit validate call. Let me know, does that reduce the overhead you see?

[2022-08-03 13:38] #13355 closed

[2022-08-03 13:49] #13991 closed

[2022-08-03 13:50] eyildiz-ugoe commented on #2361
This is exactly what's going on my case. My GPU is not being utilized at all. It's super slow. Something isn't right.

[2022-08-03 14:10] dscarmo commented on #2361
You should check for bottlenecks in I/O (reading from hard drive/ssd), if your training is using too much RAM and dips into swap memory, or if your CPU is maxed out.

Depending on how you load data the GPU might stay idle. Also very lightweight fast examples such as MNIST examples are not heavy enough to use 100% of modern GPUs.

[2022-08-03 15:18] dalek-who opened #14003 "An explicit `trainer`'s method to trigger `callback`'s hook."
## 🚀 Feature

Consider to add one pair of methods: `Trainer.trigger(message)`, and `Callback.on_trigger(message)`.

### Motivation

When I finish my experiment, I want the trainer to trigger a callback to do something (for example, rename output dir).
For example:
[code]

[2022-08-03 17:28] Borda commented on #13996
This is serviced by an alternative leading from a separate file:
https://github.com/Lightning-AI/lightning/blob/ee4233b36cb70b19a13013371ada50875b429ef3/src/pytorch_lightning/__init__.py#L9L10

[2022-08-03 18:16] austinmw commented on #12393
Hey, apologies, but haven't reproduced this lately.

[2022-08-03 18:23] robert-s-lee commented on #13913
@rhjohnstone tried running in the cloud on a new `conda` environment with success today.  Can you try again when you get a chance?

[code]

[code]

[2022-08-03 18:45] rohitgr7 commented on #14003
it can be a simple utility function.

[code]
[code]

but ideally, callbacks are designed with hooks that have their specific place of when they are called.
For eg. in your case, you can explore `on_train_end`, `on_test_end`, `on_predict_end`.

[2022-08-03 18:56] rsokl commented on #13996
I understand that, but I presume the code pattern that I posted above is still a valid way to check the version of library. Is this the case? If so, the vast majority of vscode users will see this error message, since pyright is at the core of VSCode's python support.

I tried to add a `__all__ = ["__version__"]` to `pytorch_lightning/__init__.py` and was surprised to see that it did not seem to f

[2022-08-03 19:17] #13257 closed

[2022-08-03 20:08] awaelchli commented on #12233
I can still reproduce it on commits before 800cf0b3ffb1b8dc94673cf5abe8e91703a59cd7, torch 1.12, Python 3.10. Weirdly enough not on the latest commits on master. I can't explain it, there must be some non-determinism involved here.

[2022-08-03 20:18] awaelchli commented on #13445
Small milestone reached: We completed all files under the loggers module. Thanks for the help everyone. 🚀

[2022-08-03 20:24] #13985 closed

[2022-08-03 23:14] oojo12 commented on #13599
@tchaton is there someone that can help me with this?

[2022-08-03 23:34] awaelchli opened #14012 "Update tests that mock cuda availability and extend it for mps"
## Proposed refactor

We have tests that fail locally on MPS supported devices because their mocking of CUDA does not extend to MPS. After #13947 landed, the availability check actually works now and we need to update some tests. These are mainly the tests that have this combination of settings:

- has `accelerator="gpu"` (which includes both cuda and mps)
- has function mocks like `torch.cuda.is_

[2022-08-03 23:36] akihironitta commented on #13609
On second thought, we could probably start building the docker image without pushing it to the hub for development. How about merging #13610? @carmocca @justusschock

[2022-08-04 01:53] tshu-w commented on #13943
@manskx Yes, it solved.

[2022-08-04 01:53] #13943 closed

[2022-08-04 05:52] zrqiao commented on #4481
Hi developers! I wonder if there is a feature implemented to skip the training epoch only?

[2022-08-04 07:06] justusschock commented on #13609
I still wouldn't do so before we tested that PL actually works with ROCm. Even if we just have the file in the repo it would look like being supported

[2022-08-04 07:26] dalek-who commented on #14003
@rohitgr7 OK, It seems that I can manually define `on_trigger` in my calllback and use it, and official support is unnecessary.
By the way, in this use-case, an `on_trigger` hook can easily distinguish "test after fit" and "test only". If I use `on_train_end`, `on_test_end`, I must add a flag in `on_train_end` to distinguish them.

[2022-08-04 08:35] odedbd commented on #1715
Thanks for the suggestion, @awaelchli. I tested and this does not seem to be the cause. I see the same behavior with num_sanity_val_steps=0. It seems as though the Trainer instance does not persist the validation dataloader when running trainer.validate or ignores such a persisted dataloader when running trainer.fit subsequently.

[2022-08-04 08:43] awaelchli commented on #1715
Lightning can't make the assumption that somehow the dataloader used during the validate call is going to be the same as in fit. In general, the trainer doesn't have any information whether it should reuse dataloaders from a previous stage or not. Each stage is separated, and this makes sense in most cases. If you really want to load the val dataloader only once, ever, I suggest you implement that

[2022-08-04 08:58] odedbd commented on #1715
This makes a lot of sense, I will try it out. Could doing so be unsafe in the context of distributed data loading? I am currently using a single GPU, so it is of no immediate concern, just wondering whether I should be aware of a possible issue in case I scale up at a later time.

[2022-08-04 09:06] gabriead commented on #13907
Hi @awaelchli,
I have tried using the custom ClusterEnvironment class and handing it over to the Trainer. However none of the environment variables from ClusterEnvironment (e.g. "WORLD_SIZE") can be found in the azure environment . What do I have to configure in Azure such that the environment variables will be filled with values?

[code]

Those is what the env in Azure looks like:

[code]

[2022-08-04 09:07] gabriead commented on #13907
Hi @akihironitta,
thanks for your reply. What value should LOCAL_RANK and OMPI_COMM_WORLD_LOCAL_RANK be pointing to? How can I extract that from the Azure env?

[2022-08-04 09:25] rohitgr7 commented on #1715
@odedbd it won't be a problem. Since during each `.fit`, `validate` call, all the loaded dataloaders are detached from trainer so they are just reloaded again.

[2022-08-04 09:29] rohitgr7 commented on #14003
yeah, in such a case you need to have some flag for this indication since this is not related to API call but API call sequence.

[2022-08-04 09:32] awaelchli commented on #13907
Yes, that's the whole reason the cluster environment exists. It is supposed to translate the names a custom cluster uses into the known ones by Lightning. See my example here: https://github.com/Lightning-AI/lightning/issues/13639#issuecomment-1184350663

I just discovered that Microsoft has some docs about [PL here](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-train-distributed-

[2022-08-04 09:43] awaelchli opened #14014 "ClusterEnvironment for Azure/MPI"
## 🚀 Feature

Provide a ClusterEnvironment, either specific to Azure or a general one for MPI launchers.

### Motivation

Users have asked about this, indirectly, through issues like #13907 and #13639 where they struggled to get multi-node working on Azure/MPI clusters. If Lightning could auto-detect these clusters like we do for others, it would make it easier for these users to get Lightning to

[2022-08-04 10:30] sounakdey commented on #12862
Just commenting because this is really important for the research community using Pytorch lightning ... to make sure the results are reproducible... Are we still looking into this?

[2022-08-04 10:50] gabriead commented on #13907
Hey @awaelchli I am getting confused with what is the correct way of using PL with DeepSpeed on Azure now. The description you [provided ](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-train-distributed-gpu#pytorch-lightning) and the code snippet [here](https://github.com/Azure/azureml-examples/blob/main/python-sdk/workflows/train/deepspeed/cifar/job.py) differ significantly in te

[2022-08-04 11:20] thiyagu-lily commented on #11242
the issue still persists in 1.7.0

[2022-08-04 12:04] #13916 closed

[2022-08-04 13:36] awaelchli commented on #12862
Hi @sounakdey
It is on our roadmap. The issue where this was discussed is here: https://github.com/Lightning-AI/lightning/issues/3325
If we get support for uneven inputs plus using torchmetrics to compute metrics, `trainer.test` will be gold and should produce the exact same output regardless of how many GPUs are used to run it.

[2022-08-04 13:53] luca-medeiros opened #14018 "CI/CD Docker CUDA 11.1 images update - broken"
## 🐛 Bug

Docker CUDA CI breaks because the CUDA 11.1-* image doesn't exist anymore.
`Error: buildx failed with: error: failed to solve: nvidia/cuda:11.1-devel-ubuntu20.04: docker.io/nvidia/cuda:11.1-devel-ubuntu20.04: not found`
![image](https://user-images.githubusercontent.com/67411094/182863569-d5308b36-b2ed-4943-bd50-78c20060c013.png)

All 11.1 cuda images are not in DockerHub anymore. Seems

[2022-08-04 14:13] fshart opened #14020 "grad_norm of finite scalar returns inf"
## 🐛 Bug

Using "track_grad_norm=2", the grad_norm was 7.954177007826992e+23 while the grad_norm_total was inf.

Stepping through grad_norm in pytorch_lightning.utilities.grads, 7.954177007826992e+23 was the only value in the norms-dictionary.

The 'total_norm' was computed as inf.

Tracing the error, the tensor in norms was float64, while total_norm is float32.

### To Reproduce

[code]

### Expe

[2022-08-04 14:42] luca-medeiros commented on #13757
Hi @manskx,
Any updates on the `lightning-apps-templates` idea?

[2022-08-04 15:30] hogru opened #14021 "WandbLogger throws error with mode="disabled" (pytorch lightning 1.7)"
## 🐛 Bug

After upgrading to pytorch lightning 1.7 instantiating WandbLogger with `mode="disabled"` throws the following error:

[code]

### To Reproduce

[code]

### Expected behavior

No error, pass parameter to wandb (as it did until 1.6.5)

### Environment

[code]

### Additional context

cc @awaelchli @morganmcg1 @borisdayma @scottire @manangoel99

[2022-08-04 15:31] Siddhant-Ray opened #14022 "DDP fails on SLURM clusters"
## 🐛 Bug

Using the Distributed DataParallel accelerator on SLURM managed GPU clusters fails.

### To Reproduce
[code]
-->

### Expected behavior

Nothing, happens, the process freezes and there is no progress. It shows the message ```NCCL backend is starting``` or it starts running, shows progress on the tqdm and freezes very soon (most of the time it doesn't even start)and if I check the GPU usa

[2022-08-04 15:47] awaelchli commented on #11242
@thiyagu-lily That's unfortunate. Without any further details we can only guess what might be the problem (see the comments above). Unfortunately, so far nobody was able to provide a reproducible case that we can work with.
This is essential for us to help, especially in these cases of distributed training, and we would be very thankful if anybody could provide us with this information.

[2022-08-04 19:03] rohitgr7 opened #14028 "Some `LightningModule`/`LightningDataModule` hooks are not profiled"
## 🐛 Bug

These hooks are not profiled, which I think should be profiled:
[code]

### To Reproduce

### Expected behavior

### Environment

- Lightning Component (e.g. Trainer, LightningModule, LightningApp, LightningWork, LightningFlow): LightningModule
- PyTorch Lightning Version (e.g., 1.5.0): master
- Lightning App Version (e.g., 0.5.2):
- PyTorch Version (e.g., 1.10):
- Python version (e.g.,

[2022-08-04 19:06] rohitgr7 opened #14029 "Validate `LM`/`LDM` hooks which should never be overridden by users and raise error"
## Proposed refactor

Users should never override the following hooks and we should validate them inside `configuration_validator.py`.
[code]

not sure about these:
[code]

### Motivation

### Pitch

### Additional context

______________________________________________________________________

#### If you enjoy Lightning, check out our other projects! ⚡

- [**Metrics**](https://github.com/Lightni

[2022-08-04 20:38] manskx opened #14030 "Enable lightning-quick-start e2e test"
## 🐛 Bug

Currently, the quick-start app ee2e test is disabled: https://github.com/Lightning-AI/lightning/blob/master/.github/workflows/ci-app_cloud_e2e_test.yml#L48

### Expected behavior

The test should run on every PR

### Environment

* CUDA:
        - GPU:
        - available:         False
        - version:           None
* Packages:
        - lightning:         YYYY.-M.-D
        - lightn

[2022-08-04 20:44] robert-s-lee commented on #13864
@hhsecond I got the a success run from the cloud.  the issue was https://github.com/Lightning-AI/lightning/issues/13942.  The steps to make this work:

[code]

the output here.

[code]

[2022-08-04 20:44] #13864 closed

[2022-08-04 22:13] jessecambon commented on #13639
@awaelchli I made an attempt at defining the MPI cluster environment class, but I'm having trouble getting the trainer to use the provided cluster environment. I keep on getting the error below regarding `os.environ["MASTER_ADDR"] = cluster_environment.main_address`.

I put in a print statement to see if `OpenMPIClusterEnvironment.main_address()` is being run and it doesn't appear to be. I've trie

[2022-08-04 22:51] m13uz commented on #9380
So what is the status of this feature?

[2022-08-04 22:57] jmwoloso commented on #13639
adding the property decorator to `main_address` (and any others you need to access that way) should fix that:

[code]

[2022-08-05 01:02] jmwoloso commented on #13639
i suppose an alternative is also to call the method as well.

[code]

[2022-08-05 02:16] #14018 closed

[2022-08-05 02:16] nexplor commented on #4243
This should have been solved way back in #4243

[2022-08-05 08:20] awaelchli opened #14035 "Async checkpointing race conditions"
## 🐛 Bug

We've seen flakiness in the CI due to race conditions in the async checkpointing logic.

### To Reproduce

The specific test in our code base: test_async_checkpoint_plugin
A CI run where this occurred: https://github.com/Lightning-AI/lightning/runs/7672029478?check_suite_focus=true
Error:
[code]
### Expected behavior

It is an issue I was concerned about in https://github.com/Lightning-A

[2022-08-05 08:25] rohitgr7 commented on #14035
should we use `save_top_k=-1` then in the test?

[2022-08-05 08:27] J-shang opened #14036 "Cannot use `torch.jit.trace` to trace `LightningModule` in Lightning v1.7"
## 🐛 Bug

When I use `torch.jit.trace` to trace a `LightningModule`,
I got `RuntimeError: XXX(LightningModule class name) is not attached to a Trainer.`

This because in lightning 1.7.0, property `trainer` will raise an `RuntimeError` if the module doesn't attach a `Trainer`.

https://github.com/Lightning-AI/lightning/blob/12a061f2aaefaa9ed9ccf81ab6f378835b675a7e/src/pytorch_lightning/core/module.

[2022-08-05 08:31] #12655 closed

[2022-08-05 09:22] marcmk6 commented on #10618
Hi @gianscarpe, how did you integrate this into your code? I tried to override the hook [`on_prediction_epoch_end`](https://pytorch-lightning.readthedocs.io/en/stable/common/lightning_module.html#on-predict-epoch-end) but nothing is passed to it.

[2022-08-05 09:43] akihironitta opened #14039 "TPU tests fail silently in CI"
Oh no, we have a test failure and it doesn't surface (from master) 😭
Did I mess something up in https://github.com/Lightning-AI/lightning/pull/11098?
This is so strange, back then, all test errors would always result in a failed CI signal.

_Originally posted by @awaelchli in https://github.com/Lightning-AI/lightning/issues/14013#issuecomment-1206159832_

cc @carmocca @akihironitta @borda @kaushik

[2022-08-05 09:45] akihironitta commented on #14039
@awaelchli I completely missed it! Thank you for pointing it out and opening #14034! I will also try to contribute to this issue!

[2022-08-05 12:20] #13796 closed

[2022-08-05 12:20] #13660 closed

[2022-08-05 12:23] awaelchli opened #14043 "DDP Notebook/Fork not working with PyTorch 1.12.0"
## 🐛 Bug

`strategy="ddp_notebook"` works with PyTorch 1.12.1 but NOT with PyTorch 1.12.0.
This issue exists solely for visibility and possible regressions in the future.

TLDR: Use the latest PyTorch when setting `strategy="ddp_notebook"`

### To Reproduce

[code]

Error:

[code]

This error occurs when a CUDA context is opened before launching processes, i.e. before entering trainer.fit().

###

[2022-08-05 12:25] awaelchli commented on #14043
As written in the description, the issue is solved with PyTorch 1.12.1, and I'm only posting for visibility of this observation. If the issue occurs again in a future PyTorch version, we can reopen.

[2022-08-05 12:27] awaelchli commented on #14043
cc @Borda @carmocca

[2022-08-05 12:58] carmocca commented on #13981
@awaelchli Can we close this? We would not swap the order

[2022-08-05 13:01] carmocca commented on #14029
I also think that this goes against Python's dynamic philosophy. There might be some brave hackers out there overriding these with a valid reason.

[2022-08-05 13:06] awaelchli commented on #13981
Yes, if we are happy with the amount of input validation we do, I suggest to close.
@qmihau What do you think?

[2022-08-05 13:08] awaelchli commented on #14029
@rohitgr7 Did you see anywhere users getting themselves in trouble overriding these hooks?
I agree with the others that putting these kind of restrictions in place is perhaps going a bit too far.

[2022-08-05 13:16] carmocca commented on #10821
@justusschock Do you think you could finish this for 1.8?

[2022-08-05 13:20] carmocca commented on #11814
To recap here:

- We don't plan to remove the `precision` argument. But through a registry, we could add support for more options that map into specific plugin configurations: https://github.com/Lightning-AI/lightning/issues/9956#issuecomment-1094707098. This would also unblock deprecating `amp_backend`.
- `amp_level` is already deprecated in #12655
- `PrecisionPlugin.backend` will be taken care o

[2022-08-05 13:20] #11814 closed

[2022-08-05 13:24] qmihau commented on #13981
Absolutely. My humble closing remark would be to just consider the option that you don't necessarily need to swap the inputs if you check types and you got the data but not the model, in which case you still have compatibility with the established .predict(data) pattern. But most of all, I'm happy that it will not go into unrecoverable state, thanks!

[2022-08-05 13:24] #13981 closed

[2022-08-05 13:50] jessecambon commented on #13639
Thanks @jmwoloso, I was missing `@property` on the main_address and main_port function definitions. I'll move the working solution over to https://github.com/Lightning-AI/lightning/issues/14014

[2022-08-05 14:04] jessecambon commented on #14014
Here's a working solution that I've tested on Azure with DDP and deepspeed on the following setups:

- 1 node, 1 gpu
- 1 node, 2 gpus per node
- 2 nodes, 1 gpu per node
- 2 nodes, 2 gpus per node

I haven't dug into how this would integrate into PTL (to autodetect the environment), but I can look at that and work on a PR next week.

The entire script setup is below. You'll need to replace the `"XX

[2022-08-05 14:13] carmocca commented on #14028
'transfer_batch_to_device'
'on_after_batch_transfer'

These should be easy to profile in https://github.com/Lightning-AI/lightning/blob/91dd6a68fb596d45914fc5d4fbbf2bad52e8399e/src/pytorch_lightning/core/module.py#L298-L303 as long as the `_trainer` is available.

I believe this one is profiled through this call: https://github.com/Lightning-AI/lightning/blob/91dd6a68fb596d45914fc5d4fbbf2bad52e839

[2022-08-05 14:19] justusschock commented on #10821
Definitely!

[2022-08-05 14:30] carmocca commented on #14035
Wouldn't the `teardown` in `AsyncCheckpointIO` take care of shutting down the executor when `fit` is about to finish?

[2022-08-05 14:34] carmocca commented on #14021
@gautierdag The PR https://github.com/Lightning-AI/lightning/pull/13483 seems to have caused this. Would you like to take a look?

[2022-08-05 14:38] jessecambon commented on #13907
@gabriead it looks like that Azure documentation has been updated so it should work now and line up with this solution:  https://github.com/Lightning-AI/lightning/issues/13639#issuecomment-1185956230.

Alternatively you could use the cluster environment here: https://github.com/Lightning-AI/lightning/issues/14014#issuecomment-1206495216

[2022-08-05 15:00] rlizzo commented on #13942
Hi @tshu-w I've got a PR up which addresses this (see #14025). It will be scheduled as part of the next release.

[2022-08-05 15:00] rlizzo commented on #13913
Hi @robert-s-lee I've got a PR up which addresses this (see #14025). It will be scheduled as part of the next release

[2022-08-05 15:23] awaelchli commented on #14035
Yes exactly. This is happening during fit, not after. The main process assumes the file has already been saved, and is so far ahead that a new best value is found, hence it is going to attempt to remove the oldest topk checkpoint.

[2022-08-05 15:32] rohitgr7 commented on #14029
yes, me :p

I override `save_hyperparameters` for some debugging and spend 30 minutes finding where I messed up.
So thought to open an issue and get some opinions.
But I agree with all of you... let's close this.

Thank you :)

[2022-08-05 15:32] #14029 closed

[2022-08-05 15:33] rohitgr7 commented on #14035
so do you agree? I think there's no way to avoid this. We can add a note too about this.

[2022-08-05 15:48] awaelchli commented on #14035
Yes, for now we can add the top_k=-1 to avoid the problem.

The larger issue can probably be solved by implementing the remove_checkpoint and using a lock, so only one of these operations can be carried out at a given time.

[2022-08-05 15:52] awaelchli commented on #11590
We haven't seen these issues anymore.

[2022-08-05 15:52] #11590 closed

[2022-08-05 15:52] rohitgr7 commented on #14035
Do you mean a lock that ensures that the queue is empty and all the requested files are saved before anyone of them could be removed?

[2022-08-05 15:56] schlyah opened #14050 "Inconsistent behaviour and "AttributeError: _old_init" when using Pytorch Lightning with the ogb library."
## 🐛 Bug

The simple example from the documentation page https://pytorch-lightning.readthedocs.io/en/latest/notebooks/lightning_examples/mnist-hello-world.html works fine. However, when I add the import instruction ```from ogb.nodeproppred import *```, the code has inconsistent behaviour: sometimes it works and sometimes it throws an "AttributeError: _old_init" exception:
[code]

### To Reproduce

[2022-08-05 16:26] carmocca commented on #14020
We can let PyTorch infer the correct dtype by delaying the casting to float to the end of the function. Opened #14051 with the fix

[2022-08-05 16:36] paantya commented on #13324
Another use case:
during operation, collect statistics on how long validation takes, and set this parameter, taking into account the calculated time)

[2022-08-05 16:37] carmocca commented on #14036
Hi! Unfortunately, this is caused by a bug in PyTorch where properties are not correctly ignored: https://github.com/pytorch/pytorch/issues/67146

As a workaround, you can use `model.to_torchscript(method="trace")`

[2022-08-05 16:47] carmocca commented on #14050
This is super weird for 2 reasons:
- How come just an import makes this fail?
- The code just checks whether the attr exists right before deleting it: https://github.com/Lightning-AI/lightning/blob/91dd6a68fb596d45914fc5d4fbbf2bad52e8399e/src/pytorch_lightning/utilities/data.py#L512

I'm not familiar with this `ogb` library. Locally it's not giving me this error but the script hangs if I add the i

[2022-08-05 16:49] carmocca commented on #13989
Hi! This must be caused by a dependency in your environment that defines an entry point with deprecated code.

Can you share the output of `pip freeze` with the environment that reproduces the error?

[2022-08-05 17:02] carmocca commented on #13989
Thanks for the report! We missed this because we are not testing with Python 3.10 yet cc @akihironitta

[2022-08-05 17:10] carmocca commented on #13989
Since we don't have CI setup for it yet, do you mind running your reproduction script on the https://github.com/Lightning-AI/lightning/pull/14052 branch?

[2022-08-05 17:17] adamjstewart commented on #13989
Will test tonight. Is there anything holding up adding Python 3.10 to CI?

[2022-08-05 17:19] carmocca commented on #13948
The decorator is working properly, the issues is that you are asserting `logits.requires_grad`, when you actually set `feats.requires_grad_()`

[2022-08-05 17:26] carmocca commented on #13773
This is already supported by doing:

[code]

[2022-08-05 17:29] carmocca commented on #13764
Thank you for the proposal. We should absolutely add tests that use [lazy modules](https://pytorch.org/docs/stable/generated/torch.nn.modules.lazy.LazyModuleMixin.html) to ensure things work well

[2022-08-05 17:33] carmocca commented on #13595
Sounds good to me. Feel free to open a PR with the fix and a test!

[2022-08-05 17:45] carmocca commented on #13554
Thanks for the investigation! The repro is super helpful:

[code]

[2022-08-05 17:49] carmocca commented on #13225
Is this still an issue with version 1.7.0? I believe similar bugs have been fixed cc @rohitgr7

[2022-08-05 18:18] krshrimali commented on #14050
@carmocca - If it helps, I've observed this recently in the Flash CI as well: https://github.com/Lightning-AI/lightning-flash/runs/7668034174?check_suite_focus=true. Didn't get a chance to take a closer look because of bad health, but wanted to dig deeper on Monday. I earlier thought it might be something with Flash, but will have to check with previous PL versions once.

[2022-08-05 19:00] ierezell opened #14054 "WandbLogger : use random name instead of project as default name"
## Proposed refactor
Use the wandb behavior (creating a random name) if no name is passed for the run or just let it `None` and wandb will deal with creating the name.

### Motivation
I got 20 runs with all the same name which is not easy to navigate through

### Pitch
Use a random name or name with a date or anything that would distinguish two runs.

### Additional context
It's here: https://gith

[2022-08-05 19:11] rohitgr7 commented on #14028
Thank you :)

Looks like I forgot to look for strategy calls and some edge cases that are hook specific.
Now we have just 4.

[2022-08-05 20:13] schlyah commented on #14050
I've run the bug report model with the import 5 times. I got the exception twice and it worked fine the other 3 times.

[2022-08-05 20:46] justusschock commented on #13506
You definitely could give the `hivemind` strategy a try: https://pytorch-lightning.readthedocs.io/en/latest/strategies/hivemind.html

[2022-08-06 00:10] akihironitta commented on #13989
@carmocca @adamjstewart Let me prioritise enabling it in CI this weekend. Here's the tracking issue #9980.

[2022-08-06 00:48] akihironitta commented on #9980
TODO:
- [ ] Enable Python 3.10 in "full" CPU testing: #13829
- [ ] Enable Python 3.10 in "conda" CPU testing:
- [ ] Enable Python 3.10 in GPU testing

[2022-08-06 01:12] tshu-w commented on #14054
Hi, this modification was introduced in this This modification was introduced in this PR, and I have also discussed the modification aspect of combining with third-party loggers, and currently PL logger is not perfect., and I have also discussed the modification aspect of combining with third-party loggers, and currently PL logger is not perfect.

[2022-08-06 01:26] tshu-w commented on #12028
@carmocca @daniellepintz @awaelchli Hi, We can see that there are more and more issues #12748 #14054 related to loggers and can be solved by my proposal https://github.com/Lightning-AI/lightning/issues/12028#issuecomment-1088325894. Would you like to discuss it and then I'll be happy to help implement it in 1.8.

[2022-08-06 02:33] Rahleks opened #14058 "Typhoon"
## 🚀 Feature

### Motivation

### Pitch

### Alternatives

### Additional context

______________________________________________________________________

#### If you enjoy Lightning, check out our other projects! ⚡

- [**Metrics**](https://github.com/Lightning-AI/metrics): Machine learning metrics for distributed, scalable PyTorch applications.

- [**Lite**](https://pytorch-lightning.readthedocs.

[2022-08-06 12:32] pranjaldatta commented on #13934
A simple fix for this issue seems to be adding a `__json__` attribute to [BuildConfig class](https://github.com/Lightning-AI/lightning/blob/26d69ceada7f4ad1632e70df6414348170e85574/src/lightning_app/utilities/packaging/build_config.py#L49).

The `__json__` attribute would look like this,
[code]
If this solution seems right, I could quickly make PR to fix this issue.

Any comments/suggestions would

[2022-08-06 12:41] oojo12 commented on #13934
Out of curiosity, how did you arrive at that solution?

On Sat, Aug 6, 2022, 8:32 AM Pranjal Datta ***@***.***> wrote:

[2022-08-06 12:48] pranjaldatta commented on #13934
So the `AttributeError` is being thrown here since, [_is_json_serializable](https://github.com/Lightning-AI/lightning/blob/master/src/lightning_app/core/work.py#L382) returns `False` as this function in turns tries to do a `json.dumps` [here](https://github.com/Lightning-AI/lightning/blob/26d69ceada7f4ad1632e70df6414348170e85574/src/lightning_app/utilities/app_helpers.py#L265) using a custom JSON

[2022-08-06 12:49] carmocca commented on #14050
Thanks @krshrimali. The dependencies for that job do not include `ogb` so I guess it's partially an issue of ours.

[2022-08-06 13:15] awaelchli commented on #12028
My advice is, in all of your considerations, please take into account multiprocessing and the requirements around them, which are mainly two:

1. No code changes should be required by the user when switching accelerator, strategy, number of devices
2. Loggers need to remain pickle friendly

Most of the other limitations and design choices we have today are a direct consequence of multiprocessing c

[2022-08-06 13:32] carmocca commented on #14058
Tornado! :tornado:

[2022-08-06 13:32] #14058 closed

[2022-08-06 15:15] kabouzeid commented on #14054
Something must've changed in 1.7.0 though. The names of the runs in the wandb dashboard are now no longer randomly generated.

[2022-08-06 15:20] awaelchli opened #14062 "RFC: Make stage argument to setup hooks formally required"
## 🚀 Feature

### Motivation

The stage argument in the model hooks is currently annotated as

[code]

The framework never passes None in, hence the annotation is misleading and raises questions. This came up as a [question on StackOverflow](https://stackoverflow.com/questions/73130005/when-is-stage-is-none-in-pytorch-lightning/73261116#73261116).

Why was it done like this?
Quote from @carmocca:

[2022-08-06 15:29] fedorovgv opened #14063 "Schedule in PyTorchProfiler doesn't work"
## 🐛 Bug

The class `pytorch_lightning.profiler.PyTorchProfiler` doesn't work correctly with `schedule` parameter. It doesn't take into account the `repeat` parameter `torch.profiler.schedule`, which is very important in long-term learning.

### To Reproduce

Reproduce with the BoringModel:

https://colab.research.google.com/github/fedorovgv/dl/blob/main/examples/pl_bug_report/bug_report_model.ipy

[2022-08-06 16:53] carmocca commented on #9956
Trying to revive this discussion, here's what I find most logical

|               Flags Before               |       Precision After       |
|:----------------------------------:|:-----------------:|
|            precision=16            |  16-mixed-native  |
|            precision=64            |      64-true      |
|            precision=32            |      32-true      |
|           Not suppor

[2022-08-06 17:29] fedorovgv commented on #14063
If we set the `schedule` parameter in the `profiler = PyTorchProfiler( .. , schedule = .. , .. )`,  then the `profiler._schedule` set as `ScheduleWrapper` object:

https://github.com/Lightning-AI/lightning/blob/26d69ceada7f4ad1632e70df6414348170e85574/src/pytorch_lightning/profilers/pytorch.py#L328-L329

After then, we will call `profiler._shedule___call__(num_step)` on each profiler step:

https:

[2022-08-06 17:39] rohitgr7 commented on #9956
I like it... just not sure `precision-type-amp_backend` is a good way to get the configuration.

Should we do dict?
[code]
key names can be improved.

also, `amp_level` is deprecated, so you can remove that, we need to make more changes to this once this is removed.

[2022-08-06 18:07] carmocca commented on #9956
I prefer the simplicity of the string options, they are consistent with our other registry based trainer arguments.

Also, passing a dict is very similar to passing separate arguments, and has the disadvantages of https://github.com/Lightning-AI/lightning/issues/9956#issuecomment-1091645295

[2022-08-06 19:16] rohitgr7 commented on #9956
Well, sort of. They are indicated by the argument name in their respective strategy class (`"deepspeed_stage_3")`, but here one needs to remember the order (`precision-type-amp_backend`). That's why I suggested a little more explicit configuration. But if others think it's fine, then 👍

[2022-08-06 19:23] rohitgr7 opened #14066 "Enable `on_before_batch_transfer` for `DPStrategy` and `IPUAccelerator`"
## Proposed refactor

### Motivation

Currently, batch transfer hooks are disabled for IPUs and DP strategy for very valid reasons.  But call to `on_before_batch_transfer` shouldn't be limited to whether any strategy/accelerator supports explicit transfer to batches to the device. Users should still be able to use this for batch transforms, etc...

I already created the PR: #14023

But then though

[2022-08-06 20:28] robert-s-lee opened #14070 "Each iteration of LightningWork.run() takes incrementally longer to run than the previous run"
## 🐛 maybe this is an anti-pattern discussion

When a `work` executes, each iteration of `run()` takes incrementally longer to complete than the previous ones.

1) very fast and is executed in a tight loop, after about 55 iterations, the work seems to get stuck.
2) in about 5 seconds, each subsequent run takes slightly longer than the previous run.

Why is this a concern:

1) is not a typical usag

[2022-08-06 20:30] tchaton commented on #14070
Hey @robert-s-lee.

Can you try master? This PR https://github.com/Lightning-AI/lightning/pull/13970 should have solved this.

Best,
T.C

[2022-08-06 21:37] RylanSchaeffer commented on #2351
I have the same issue. My `validation_step` is just not called. Snipped of code:

[code]

And

[code]

[2022-08-06 22:28] SinzyShen commented on #13948
Same issue here, after updating to version 1.7.

[2022-08-06 22:51] speediedan opened #14071 "Promoted CLI Missing From API Reference Section"
Thanks for your immensely valuable contributions to the ML research community!

I've noticed that since the [recent promotion of the cli](https://github.com/Lightning-AI/lightning/pull/13767) out of utilities, the new location is missing its reference in the API Reference:

[code]
I'm submitting a PR shortly to fix this issue by simply adding the new api location (in addition to the deprecated exi

[2022-08-06 22:59] SpontaneousDuck commented on #13773
Won't this disable the auto re-queueing functionality? I am looking to use the two features together.

[2022-08-06 23:03] wangbingnan136 opened #14073 "Is there any example about using "ddp_notebook" in jupyter notebook?"
## 🚀 Feature

### Motivation

### Pitch

### Alternatives

### Additional context

______________________________________________________________________

#### If you enjoy Lightning, check out our other projects! ⚡

- [**Metrics**](https://github.com/Lightning-AI/metrics): Machine learning metrics for distributed, scalable PyTorch applications.

- [**Lite**](https://pytorch-lightning.readthedocs.

[2022-08-07 00:58] akihironitta commented on #14073
I don't think there is any example using `ddp_notebook` specifically. Even if we did, it'd look almost the same as existing examples in [`examples/`](https://github.com/Lightning-AI/lightning/tree/b25275ccc27652b91d85d49b7bc220b37c921b54/examples).

---

Do you see any issue around the strategy?

[2022-08-07 08:26] odedbd commented on #1715
I tested the suggested method and the validation DataLoader is still recreated and new workers are initialized. I tried debugging the pytorch lightning code but wasn't able to pinpoint where the dataloader is reset. I did verify that the val_dataloader method was called twice, in the first time the _loaded_val_dataloader was None and in the second time it was the saved dataloader, which the method

[2022-08-07 09:15] rohitgr7 commented on #1715
if it returned the same dataloader, you are saying it is reinitializing the workers? can you share a reproducible script to verify this behavior?

[2022-08-07 09:18] tchaton commented on #14070
Hey @robert-s-lee,

Thanks for reporting this behavior. I marked it as p0 and will investigate it.

[2022-08-07 10:00] tchaton commented on #14070
Hey @robert-s-lee,

I found the bug. There was a race condition on putting the data within the queue.

Thanks for the reproducible script, this was super helpful ;)

Best,
T.C

[2022-08-07 10:52] odedbd commented on #1715
Yes, that's what I think I am seeing. Below is a repro script based on one of PL examples. You'll notice the worker init function of the val dataset is called a second time when the fit starts.

[code]

[2022-08-07 14:11] smartdanny commented on #14022
I have the same issue. Mine hangs on Initializing distributed: GLOBAL_RANK: 0, MEMBER: 1/2

Ive tried with various numbers of gpu, nothing works.

[2022-08-07 15:19] awaelchli opened #14075 "RFC: Make subprocess DDP the default when selecting multiple devices"
## 🚀 Feature

RFC: Switch to strategy="ddp" when selecting devices>1.

I'm putting this RFC out so it can be discussed. There is no urgency to this and we don't know what the preferences of the users are. If there is not enough interest, the issue would be closed.

### Motivation

`accelerator="ddp_spawn"` is the default strategy selected by the Trainer when setting `Trainer(devices>1, accelerator

[2022-08-07 15:24] awaelchli commented on #14073
Exactly as @akihironitta said, as soon as you are in a Jypyter notebook you get to use the feature without changing anything.
As soon as you use multiple devices, `Trainer(devices=2)` for example, ddp_notebook gets automatically activated. No code changes required.

[2022-08-07 18:40] awaelchli commented on #14022
Please have a look at our SLURM instructions [here](https://pytorch-lightning.readthedocs.io/en/stable/clouds/cluster_advanced.html).
Pay close attention to the SBATCH variables. In particular, you are missing the setting `ntasks-per-node` and you are incorrectly launching the script with python. You should use srun instead.

[2022-08-07 18:55] Siddhant-Ray commented on #14022
Hi! Thanks for the reply. To launch the job, I save the above mentioned bash script as run.sh and then run using ```sbatch run.sh```, so launching the script is not the problem. I need to use ```sbatch``` to submit it to the scheduler.

My organisations SLURM docs didn't mention anything about the SBATCH variable ```ntasks-per-node``` but I will try it with that.

[2022-08-07 22:24] awaelchli commented on #14022
Yes exactly, I think you should replace

[code]

with
[code]

[2022-08-07 23:08] awaelchli opened #14078 "RFC: Remove `num_nodes` Trainer argument and infer world size from cluster environment directly"
## 🚀 Feature

Remove the redundant `num_nodes` Trainer argument. Knowing the number of nodes is not required, and the world size is provided by the cluster environment anyway.

### Motivation

Users have always struggled getting multi-node training to work because there exists many points of failures in the configurations. One of them is setting the number of devices and nodes, where in Lightning

[2022-08-07 23:16] awaelchli commented on #13804
Hi

Yes, this is a known limitation currently. While it was a true limitation in the past, today it is somewhat artificial.
I opened a proposal #14078 which should pave the way to remove this limitation eventually.

After #14078, you would simply set `devices="auto"` or `devices=-1` and then the actual number of devices can be different per node.

[2022-08-08 01:49] GF-Huang commented on #10182
So? I get this warning if I never set `num_workers`. If I set it, I will stuck at `trainer.fit` because I use vscode jupyter.

[2022-08-08 02:38] rhjohnstone commented on #13913
Hi @robert-s-lee and @rlizzo, the temporary solution of removing `.git` did indeed work. Surprising though, as my structure is
[code]
so I assumed the `.git` would be safe when running the app from inside the child directories.

Anyway thanks for the help and looking forward to the next release!

[2022-08-08 03:05] thiyagu-lily commented on #11242
hi @awaelchli
I have been able to narrow down the issue to torch metrics and val check interval.
I call metrtic.update() in val_step, and then metric.compute() and metric.reset() in val_epoch_end. When i reduce the val_check_interval, to something small I dont get any deadlocks. Im using Wandblogger with torch metrics.

[2022-08-08 03:55] mvinyard commented on #2427
@nilsleh This is interesting. I am in a similar boat: I have a task that requires gradients during the test phase. This tip you mention of including `torch.set_grad_enabled(True)` is really useful and works for the validation step, for me. However, I'm still running into this issue during the `LitModel.test_step()` step. If you found any other tricks, please drop them here! Nonetheless, appreciate

[2022-08-08 04:41] mvinyard commented on #2427
@lepoeme20 @nilsleh @williamFalcon

As an update, this workaround seemed to do the trick (copying a [suggestion](https://github.com/Lightning-AI/lightning/pull/770#issuecomment-750855675) from @williamFalcon in #770):

[code]

Where `evaluate_retain_grad` is a method of the wrapper class for the `LightningModule` and `trainer` is `Trainer()` saved as an attribute of this wrapper, as is `dataset` b

[2022-08-08 07:35] justusschock commented on #11242
Hi @thiyagu-lily , could you try whether this also happens if you use another logger or no logger at all?

[2022-08-08 07:39] justusschock commented on #9956
@carmocca do we really want to append "-true" to all non-mixed precision stuff? intuitively, when I see precision="16", I would assume that this is always the case and there would be no need to append `"true"`

[2022-08-08 07:46] dselivanov commented on #11242
It works without problem if I use tensor board logger directly

On Mon, 8 Aug 2022, 15:35 Justus Schock, ***@***.***> wrote:

[2022-08-08 07:59] thiyagu-lily commented on #11242
hi @justusschock
It happens if i use any logger! I dont think the issue is because the logger!
Can it be an issue with the metrics not being reset?

[2022-08-08 08:02] justusschock commented on #11242
I think it's more that there is something asynchronous with the metrics somehow that does result in the processes running out of sync.

@thiyagu-lily are you able to produce a minimal example we could debug? Preferably also with random data?

[2022-08-08 08:16] #14071 closed

[2022-08-08 08:40] otaj commented on #14035
I think using a lock on a particular file (such as empty file with a special name, i.e. `f".{filename}.lock"`) is the best option here. Then all the operations (loading, deleting, etc.) could check for presence of such lock and wait until it's not there

[2022-08-08 09:25] otaj commented on #14050
Hi @krshrimali, @carmocca, @schlyah, if it's also affecting Flash CI, then it's almost definitely on us. @schlyah, would you mind sharing:
1. `ogb` version
2. Reproducible code using the bug report template? Reproducible meaning sometimes failing in this case :joy:

@krshrimali, I will find all the required info in flash repo, I expect, is that correct?

[2022-08-08 09:27] krshrimali commented on #14050
Hi, @otaj - Thank you for your message! Yes, you'll definitely find everything in the Flash repo - and if not, I'll be one message away to help you out. I tried reproducing it locally with Flash, but couldn't - this bug is really flaky. :/

[2022-08-08 09:35] otaj commented on #13445
Hi @nssensalo, @CyprienRicque, @sai130302, since we didn't get an open PR within two weeks, I'm unassigning you from your files so as to not block other community members. Thank you very much! :zap: Namely, it's these 4 files:

[code]

[2022-08-08 09:43] kotchin commented on #14054
This small change has been deteriorating a simple unique identification method provided by WandB which helps distinguishing multiple runs. I understand there are bigger changes in which this fits, but I do wonder if this specific change is required? It's particularly helpful to get an automatic name generated.

[2022-08-08 09:52] krishnakalyan3 commented on #13445
@otaj can you please assign the following to me? I will be happy to take a stab at it.

[code]

[2022-08-08 10:03] sparkyniner commented on #11908
Hello, can I work on this?

[2022-08-08 10:07] sparkyniner commented on #11908
Hello, can I work on this issue?

[2022-08-08 10:48] otaj commented on #13445
@krishnakalyan3, happy to! :tada: You were added to the master list! :rocket:

[2022-08-08 11:12] justusschock commented on #14078
+1000 for this :D I think if there are specifications where this doesn't work with the cluster env, we should rather think about implementing these missing cluster envs :)

[2022-08-08 11:13] awaelchli commented on #14035
Definitely not. Such a file I/O would experience the exact same race condition issue. I was talking about a [threading lock](https://docs.python.org/3/library/threading.html#lock-objects).

While it is clear that we would use a threading lock to prevent simultaneous access to the file from different threads, it remains unclear how we would use it to resolve the queue. Our removal operation current

[2022-08-08 11:13] #13913 closed

[2022-08-08 11:13] #13942 closed

[2022-08-08 11:35] #14020 closed

[2022-08-08 12:03] lsaeuro opened #14085 "Validation Loss Exploding to 10^5"
## 🐛 Bug

Validation loss  is exploding and I figured out that the problem is already in the forward method of my model.
During Validation , the input tensors after a batch norm or an activation function, does not change a lot, while during training it is rescaled.
![image](https://user-images.githubusercontent.com/107695630/183413269-30f59b7e-e2dc-46cd-aabf-71579bbe54e6.png)

I found something si

[2022-08-08 12:35] paantya opened #14086 "return support for torch 1.8.2 (LTS) in PL 1.7.*"
## 🐛 Bug

not support torch 1.8.2 (LTS) in 1.7 PL

### Expected behavior

You can run training using torch 1.8.2 (or 1.8.1)

### Additional context

this is still LTS and many enterprises use it for their sales and prod

Also that version 1.8.1-4 is the default in ubuntu 22 https://packages.ubuntu.com/search?keywords=libtorch&searchon=names&suite=jammy&section=all

cc @borda @carmocca @akihironitt

[2022-08-08 12:35] paantya commented on #14086
slack discussion:

https://pytorch-lightning.slack.com/archives/CRBLFHY79/p1659913395596189

[2022-08-08 12:45] otaj commented on #14050
Hi @schlyah, I spent a while on this and am unable to reproduce. Would you mind sharing your full environment (i.e. `pip freeze`) as well? Thanks a lot!

[2022-08-08 13:20] LoicGrobol opened #14089 "find_unused_parameters forced to False for ddp_{spawn,fork}"
## 🐛 Bug

Since #13744 , the `ddp_fork` and `ddp_spawn` strategies have `find_unused_parameters` set to `False`, making them equivalent to `ddp_fork_find_unused_parameters_false` and `ddp_spawn_find_unused_parameters_false`. This is caused by a mistaken simplification of [`register_strategies`](https://github.com/Lightning-AI/lightning/blob/a4e4cab7a6095867aafea7d6402dca30c6dec338/src/pytorch_ligh

[2022-08-08 13:48] #14070 closed

[2022-08-08 14:31] SihengLi99 opened #14090 "BUG when Trainer.test() with deepspeed stage 3"
## 🐛 Bug

Hi, I meet some bugs when I combine lightning with deepspeed follow https://pytorch-lightning.readthedocs.io/en/latest/common/trainer.html#trainer-class-api.

I find that:

- Trainer.fit() is compatible well with deepspeed stage 2 and 3 .
- Trainer.test() is compatible with deepspeed stage 2.
- There is some bugs when combine Trainer.test() with deepspeed stage 3:

![image](https://user-

[2022-08-08 14:58] DrMatters opened #14091 "Trainer with "fast_dev_run=5" doesn't produce WandB logs"
## 🐛 Bug

`pl.Trainer` that is instantiated with: `fast_dev_run=5` doesn't produce logs to WandB.

### To Reproduce
Code with proper wandb reporting: https://gist.github.com/DrMatters/7b331961e7b8fa1b83fd976afba04b5c
Code with missing wandb reporting: https://gist.github.com/DrMatters/1558b8954262d5ed3d8ec6a414687c94
The only difference between these two files is that `fast_dev_run` is enabled in

[2022-08-08 15:09] hogru commented on #14054
Can confirm that after updating to PL 1.7 the former random wandb run names (e.g., “noble-snowball-37”) all have the same (project) name. Not useful (for me). Since 1.7 introduced other bugs/changes with wandb, I am back to 1.6.5

[2022-08-08 15:25] manangoel99 commented on #14054
Hi! Engineer from W&B here. In PL 1.7 this change of using the project as a default run name instead of random wandb run names (I love those too) was added because using the default `None` value lead to a broken directiry structure for PL Logs. More discussion [here](https://github.com/Lightning-AI/lightning/pull/12604).
This is because of the interface between the PL logger and WandbLogger requir

[2022-08-08 16:00] hoangthangta commented on #4472
In my case, I fix the error by using these commands:

[code]

[2022-08-08 16:12] hogru commented on #14054
Thank you, @manangoel99, that's good to know. For now, I stay with 1.6.5 mainly for this reason: https://github.com/Lightning-AI/lightning/issues/14021 but once it's resolved, and I adapt my code to work with some other minor changes this workaround will be useful (I had it this way anyway until recently, but I think wandb (?) issues a warning that a run is already existing. Does not hurt, just wa

[2022-08-08 16:16] jessecambon commented on #14090
I've also run into slow inference speeds with `Trainer.predict()` when using deepspeed stage 3. I'm seeing around 3.7 batches/second on a V100 (batch_size=1, big bird base, imdb dataset, sequence length of 4096).

[2022-08-08 16:21] KralaBenjamin opened #14093 "Reload new data after one epoch doesnt work."
## 🐛 Bug

### To Reproduce

https://colab.research.google.com/drive/1V0LDGDjW_Ettv0q6fQXFtnd-j2aIURDm?usp=sharing
Just follow the boring model

### Expected behavior

tldr: The trainer should use or reload the data from the class npDataModule. The trainer doesnt do it because it never reaches the breakpoints there.

### Environment

- Lightning Component (e.g. Trainer, LightningModule, LightningAp

[2022-08-08 16:48] H-Sorkatti opened #14094 "Validation Dataloader progress bar making a mess"
## 🐛 Bug

Validation Dataloader progressbar output is interleaved with the training progressbar, causing the output to be a complete mess.

### Code to reproduce:
[code]

[code]
### Output
<details>
<pre>

Epoch 0:  85%|███████████████████████████████▎     | 859/1016 [00:27<00:05, 31.35it/s, loss=0.223, v_num=77, acc=0.875]
Validation: 0it [00:00, ?it/s]
Validation:   0%|

[2022-08-08 16:51] NguyenDuyDuc1491995 commented on #13401
ok. Thank you.

[2022-08-08 16:51] #13401 closed

[2022-08-08 17:04] awaelchli commented on #14091
In fast_dev_run, logging and checkpointing is disabled by design. This is documented [here](https://pytorch-lightning.readthedocs.io/en/1.7.0/debug/debugging_basic.html#run-all-your-model-code-once-quickly).

[2022-08-08 17:04] #14091 closed

[2022-08-08 17:05] awaelchli commented on #14091
If you wish to run a few steps and see logs/checkpoints, use the `max_steps=5` Trainer argument instead.

[2022-08-08 17:36] paantya commented on #14086
@awaelchli

Problems were yesterday when we installed pl 1.7 -- torch 1.9 or greater

+ in slack scalazi that pl 1.7 works with torch version 1.9 and more (link above)

did not launch today, I can check tomorrow if any changes were made)

[2022-08-08 18:00] rohitgr7 commented on #14094
hey @H-Sorkatti !

can you try the recent release?

[2022-08-08 18:02] awaelchli commented on #14094
@H-Sorkatti These are known issues with the tqdm progress bar when running in an unsupported terminal.
This can also happen if you write to stdout somewhere (e.g., print).

If it doesn't help, you can also try the [rich progress bar](https://pytorch-lightning.readthedocs.io/en/stable/api/pytorch_lightning.callbacks.RichProgressBar.html?highlight=rich).

[2022-08-08 18:06] awaelchli opened #14096 "Make triage bot remove the label automatically"
## 🚀 Feature

<img width="92" alt="image" src="https://user-images.githubusercontent.com/5495193/183484248-2bf10f94-f4a1-4261-9683-6afa4485d4e8.png">

### Motivation

It is annoying when you have to remove the triage label manually. It is also not at the top of the list.

### Pitch

Make the bot remove it automatically when other labels get added by a member.

### Alternatives

Keep

cc @borda